Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone

Fix XPathEvaluator»createExpression() example (#11642)
  files/en-us/web/api/xpathevaluator/createexpression/index.md
Owners: @mdn/yari-content-web-api

Apply suggestions from code review
  files/en-us/web/api/document/index.md
Owners: @mdn/yari-content-web-api

Apply suggestions from code review
  files/en-us/web/api/document/index.md
Owners: @mdn/yari-content-web-api

Apply suggestions from code review
  files/en-us/web/api/document/index.md
Owners: @mdn/yari-content-web-api

Apply suggestions from code review
  files/en-us/web/api/document/index.md
Owners: @mdn/yari-content-web-api

Be precise about Document properties that return HTMLcollection (#11638)
  files/en-us/web/api/document/index.md
Owners: @mdn/yari-content-web-api

remove unnecessary {{cssinfo}} (#11623)
  files/en-us/web/css/scrollbar-width/index.md
Owners: @mdn/yari-content-css

Formatting missing for event handlers (#11619)
  files/en-us/web/api/window/index.md
Owners: @mdn/yari-content-web-api

Minor adjustments in "Truthy" (#11632)
  files/en-us/glossary/truthy/index.md
Owners: @mdn/yari-content-mdn

Fix a typo (#11635)
  files/en-us/web/api/audionode/connect/index.md
Owners: @mdn/yari-content-web-api

Apply suggestions from code review
  files/en-us/web/api/document/createexpression/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/document/createexpression/index.md
  files/en-us/web/api/document/createexpression/index.md
Owners: @mdn/yari-content-web-api

Add example of XPathExpression "repeated evaluations" (#11645)
  files/en-us/web/api/document/createexpression/index.md
Owners: @mdn/yari-content-web-api

Refer to DOM 'property' where it may be confused w/ HTML attr (#11585)
  files/en-us/web/api/htmlmediaelement/index.md
Owners: @mdn/yari-content-web-api

Review: ARIA attributes (#11552)
  files/en-us/web/accessibility/aria/attributes/aria-describedby/index.md
  files/en-us/web/accessibility/aria/attributes/aria-invalid/index.md
Owners: @mdn/yari-content-accessibility

Apply suggestions from code review
  files/en-us/web/accessibility/aria/attributes/aria-required/index.md
Owners: @mdn/yari-content-accessibility

New page: aria-required (#11519)
  files/en-us/web/accessibility/aria/attributes/aria-required/index.md
Owners: @mdn/yari-content-accessibility

Remove "which" property
  files/en-us/web/api/mouseevent/index.md
Owners: @mdn/yari-content-web-api

Fix documents in `MouseEvent`
  files/en-us/web/api/mouseevent/button/index.md
  files/en-us/web/api/mouseevent/buttons/index.md
  files/en-us/web/api/mouseevent/mouseevent/index.md
  files/en-us/web/api/mouseevent/movementx/index.md
  files/en-us/web/api/mouseevent/movementy/index.md
  files/en-us/web/api/mouseevent/pagex/index.md
  files/en-us/web/api/mouseevent/region/index.md
  files/en-us/web/api/mouseevent/relatedtarget/index.md
  files/en-us/web/api/mouseevent/screenx/index.md
Owners: @mdn/yari-content-web-api

fixed typo
  files/en-us/mozilla/projects/nss/overview/index.html
Owners: @mdn/yari-content-mdn

Update files/en-us/web/http/headers/strict-transport-security/index.md
  files/en-us/web/http/headers/strict-transport-security/index.md
Owners: @mdn/yari-content-http

minor fix
  files/en-us/learn/javascript/asynchronous/async_await/index.md
Owners: @mdn/yari-content-javascript

Prettify the examples for easy readability (#11644)
  files/en-us/learn/javascript/asynchronous/async_await/index.md
Owners: @mdn/yari-content-javascript

Add note about HTTP to HTTPS redirection on server (#11009)
  files/en-us/web/http/headers/strict-transport-security/index.md
Owners: @mdn/yari-content-http

fixed typo (#11668)
  files/en-us/mozilla/projects/nss/overview/index.html
Owners: @mdn/yari-content-mdn

Remove "which" property (#11663)
  files/en-us/web/api/mouseevent/index.md
Owners: @mdn/yari-content-web-api

Fix documents in `MouseEvent` (#11664)
  files/en-us/web/api/mouseevent/button/index.md
  files/en-us/web/api/mouseevent/buttons/index.md
  files/en-us/web/api/mouseevent/mouseevent/index.md
  files/en-us/web/api/mouseevent/movementx/index.md
  files/en-us/web/api/mouseevent/movementy/index.md
  files/en-us/web/api/mouseevent/pagex/index.md
  files/en-us/web/api/mouseevent/region/index.md
  files/en-us/web/api/mouseevent/relatedtarget/index.md
  files/en-us/web/api/mouseevent/screenx/index.md
Owners: @mdn/yari-content-web-api

missing argument information (#11651)
  files/en-us/web/javascript/guide/working_with_objects/index.md
Owners: @mdn/yari-content-javascript

Serviceworker cookbook: make all links to MDN
  files/en-us/learn/javascript/client-side_web_apis/client-side_storage/index.md
  files/en-us/learn/tools_and_testing/cross_browser_testing/javascript/index.md
  files/en-us/web/api/service_worker_api/index.md
  files/en-us/web/api/service_worker_api/using_service_workers/index.md
  files/en-us/web/progressive_web_apps/loading/index.md
  files/en-us/web/progressive_web_apps/re-engageable_notifications_push/index.md
Owners: @mdn/yari-content-javascript, @mdn/yari-content-mdn, @mdn/yari-content-web-api

HTTP conditional requests - fix httplock image
  files/en-us/web/http/conditional_requests/httplock1.png
Owners: @mdn/yari-content-http

Fix non-working link on video_player_styling_basics (#11581)
  files/en-us/web/guide/audio_and_video_delivery/video_player_styling_basics/index.md
Owners: @mdn/yari-content-mdn

GeolocationPosition.timestamp is time acquired
  files/en-us/web/api/geolocationposition/timestamp/index.md
Owners: @mdn/yari-content-web-api

Fix links
  files/en-us/web/css/_doublecolon_-webkit-slider-thumb/index.md
  files/en-us/web/css/inheritance/index.md
  files/en-us/web/css/specificity/index.md
Owners: @mdn/yari-content-css

Update index.md
  files/en-us/web/css/_doublecolon_-webkit-slider-runnable-track/index.md
Owners: @mdn/yari-content-css

Update macro links to ::after
  files/en-us/learn/forms/how_to_build_custom_form_controls/index.md
Owners: @mdn/yari-content-mdn

Fixed typo
  files/en-us/web/accessibility/aria/roles/search_role/index.md
Owners: @mdn/yari-content-accessibility

Better manipulating counter examples
  files/en-us/web/css/css_counter_styles/using_css_counters/index.md
Owners: @mdn/yari-content-css

Slightly better structure
  files/en-us/web/css/css_counter_styles/using_css_counters/index.md
Owners: @mdn/yari-content-css

Fix markdown formatting in abortcontroller/index.md
  files/en-us/web/api/abortcontroller/index.md
Owners: @mdn/yari-content-web-api

Fixed URL
  files/en-us/learn/forms/your_first_form/index.md
Owners: @mdn/yari-content-mdn
