Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-content, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/content-mathml, @mdn/core-dev, @mdn-bot

Update files/en-us/learn/performance/css/index.md
  files/en-us/learn/performance/css/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/learn/performance/css/index.md
  files/en-us/learn/performance/css/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/learn/performance/css/index.md
  files/en-us/learn/performance/css/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/learn/performance/css/index.md
  files/en-us/learn/performance/css/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/learn/performance/css/index.md
  files/en-us/learn/performance/css/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/learn/performance/html/index.md
  files/en-us/learn/performance/html/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/learn/performance/css/index.md
  files/en-us/learn/performance/css/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/learn/performance/css/index.md
  files/en-us/learn/performance/css/index.md
Owners: @mdn/yari-content-mdn

Address dipikabh comments and add new glossary entries
  files/en-us/glossary/reflow/index.md
  files/en-us/glossary/render_blocking/index.md
  files/en-us/glossary/repaint/index.md
  files/en-us/learn/performance/css/index.md
  files/en-us/learn/performance/html/index.md
Owners: @mdn/yari-content-mdn

Remove invalid example and restore style query example
  files/en-us/web/css/@container/index.md
Owners: @mdn/yari-content-css

Preserve same order for logical keywords list and their examples
  files/en-us/web/css/@container/index.md
Owners: @mdn/yari-content-css

Update index.md
  files/en-us/mdn/writing_guidelines/howto/write_a_new_entry_in_the_glossary/index.md
Owners: @mdn/yari-content-mdn

Update index.md
  files/en-us/web/api/readablestream/readablestream/index.md
Owners: @mdn/yari-content-web-api

index.md fix link
  files/en-us/web/progressive_web_apps/how_to/display_badge_on_app_icon/index.md
Owners: @mdn/yari-content-mdn

fix: let the attribute value be string
  files/en-us/web/html/element/meta/index.md
Owners: @mdn/yari-content-html

using `https` rather than `http`
  files/en-us/web/api/window/location/index.md
Owners: @mdn/yari-content-web-api

Apply suggestions from code review
  files/en-us/web/css/color_value/index.md
Owners: @mdn/yari-content-css

Tweak `<color>`
  files/en-us/web/css/color_value/index.md
Owners: @mdn/yari-content-css

update srcset attribute section
  files/en-us/web/html/element/picture/index.md
Owners: @mdn/yari-content-html

Delete settings.json
  .vscode/settings.json
Owners: @mdn/core-yari-content

Add the heading back
  files/en-us/web/html/element/datalist/index.md
Owners: @mdn/yari-content-html

Update files/en-us/web/javascript/closures/index.md
  files/en-us/web/javascript/closures/index.md
Owners: @mdn/yari-content-javascript

Make example more interesting
  files/en-us/web/javascript/closures/index.md
Owners: @mdn/yari-content-javascript

Fix block scope closure example (#27800)
  files/en-us/web/javascript/closures/index.md
Owners: @mdn/yari-content-javascript

Improve Atomics.wait(Async) parameter description (#27619)
  files/en-us/web/javascript/reference/global_objects/atomics/wait/index.md
  files/en-us/web/javascript/reference/global_objects/atomics/waitasync/index.md
Owners: @mdn/yari-content-javascript

Document HTMLAllCollection
  files/en-us/web/api/document/all/index.md
  files/en-us/web/api/htmlallcollection/index.md
  files/en-us/web/api/htmlallcollection/item/index.md
  files/en-us/web/api/htmlallcollection/length/index.md
  files/en-us/web/api/htmlallcollection/nameditem/index.md
Owners: @mdn/yari-content-web-api

fix typo in example (Web/API/Web_Workers_API/Using_web_workers)
  files/en-us/web/api/web_workers_api/using_web_workers/index.md
Owners: @mdn/yari-content-web-api

Update "How to write in Markdown"
  files/en-us/mdn/writing_guidelines/howto/markdown_in_mdn/index.md
Owners: @mdn/yari-content-mdn

revert the format to the "bad-example"
  files/en-us/mdn/writing_guidelines/howto/markdown_in_mdn/index.md
Owners: @mdn/yari-content-mdn

format the bad example
  files/en-us/mdn/writing_guidelines/howto/markdown_in_mdn/index.md
Owners: @mdn/yari-content-mdn

Remove unneeded "nolint" and format codeblock
  files/en-us/mdn/writing_guidelines/howto/markdown_in_mdn/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/webassembly/understanding_the_text_format/index.md
  files/en-us/webassembly/understanding_the_text_format/index.md
Owners: @mdn/yari-content-mdn

Update index.md
  files/en-us/web/http/headers/accept/index.md
Owners: @mdn/yari-content-http

Update files/en-us/mdn/writing_guidelines/howto/markdown_in_mdn/index.md
  files/en-us/mdn/writing_guidelines/howto/markdown_in_mdn/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/mdn/writing_guidelines/howto/markdown_in_mdn/index.md
  files/en-us/mdn/writing_guidelines/howto/markdown_in_mdn/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/mdn/writing_guidelines/howto/markdown_in_mdn/index.md
  files/en-us/mdn/writing_guidelines/howto/markdown_in_mdn/index.md
Owners: @mdn/yari-content-mdn

minor layout
  files/en-us/web/api/window/location/index.md
Owners: @mdn/yari-content-web-api

Update "How to write in Markdown" (#27977)
  files/en-us/mdn/writing_guidelines/howto/markdown_in_mdn/index.md
Owners: @mdn/yari-content-mdn

index.md fix link (#27971)
  files/en-us/web/progressive_web_apps/how_to/display_badge_on_app_icon/index.md
Owners: @mdn/yari-content-mdn

using `https` rather than `http` (#27973)
  files/en-us/web/api/window/location/index.md
Owners: @mdn/yari-content-web-api

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons

# ----------------------------------------------------------------------------
# ENGLISH MATHML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/mathml/    @mdn/content-mathml


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-yari-content
# These are @mdn-bot because the auto-merge GHA workflow uses the PAT of this account.
# If another reviewer is specified, update the PAT token or auto-merge will cease to be automatic.
/package.json @mdn-bot
/yarn.lock    @mdn-bot
