Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

New page: aria-valuetext
  files/en-us/web/accessibility/aria/attributes/aria-valuetext/index.md
Owners: @mdn/yari-content-accessibility

updated drag event example
  files/en-us/web/api/document/drag_event/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/web/api/htmlobjectelement/setcustomvalidity/index.md
Owners: @mdn/yari-content-web-api

Update index.md (#10740)
  files/en-us/web/api/htmlobjectelement/setcustomvalidity/index.md
Owners: @mdn/yari-content-web-api

Client-Server Overview - Accept-Language string mismatch (#10710)
  files/en-us/learn/server-side/first_steps/client-server_overview/index.md
Owners: @mdn/yari-content-http

Rename files/en-us/web/javascript/reference/statements/label/index.md to ไฟล์/en-us/เว็บ/จาวาสคริปต์/อ้างอิง/dakgk
  ไฟล์/en-us/เว็บ/จาวาสคริปต์/อ้างอิง/dakgk
Owners: @mdn/core-yari-dev

updated link for css First step
  files/en-us/learn/css/index.md
Owners: @mdn/yari-content-css

Add workflow to mark idle issues and PRs
  .github/workflows/idle-issues.yml
Owners: @mdn/core-yari-dev

Increase frequency for dry-run
  .github/workflows/idle-issues.yml
Owners: @mdn/core-yari-dev

Add workflow to mark idle issues and PRs (dry run) (#10746)
  .github/workflows/idle-issues.yml
Owners: @mdn/core-yari-dev

Archive Debugging (before Firefox 50) (#10700)
  README.md
  files/en-us/_wikihistory.json
  files/en-us/mozilla/add-ons/webextensions/debugging_(before_firefox_50)/browser-toolbox.png
  files/en-us/mozilla/add-ons/webextensions/debugging_(before_firefox_50)/disable-autohide.png
  files/en-us/mozilla/add-ons/webextensions/debugging_(before_firefox_50)/frame-selection.png
  files/en-us/mozilla/add-ons/webextensions/debugging_(before_firefox_50)/hamburger.png
  files/en-us/mozilla/add-ons/webextensions/debugging_(before_firefox_50)/index.md
Owners: @mdn/core-yari-dev, @mdn/core-yari-content, @mdn/yari-content-mdn, @mdn/yari-content-mozilla-add-ons

Add workflow to mark idle issues and PRs
  .github/workflows/idle-issues.yml
Owners: @mdn/core-yari-dev

Increase frequency for dry-run
  .github/workflows/idle-issues.yml
Owners: @mdn/core-yari-dev

Enable idle issue labeling
  .github/workflows/idle-issues.yml
Owners: @mdn/core-yari-dev

Delay first run
  .github/workflows/idle-issues.yml
Owners: @mdn/core-yari-dev

Enable labeling issues as idle (#10747)
  .github/workflows/idle-issues.yml
Owners: @mdn/core-yari-dev

XRSession.onselectstart -> selectstart event
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/xrsession/onselectstart/index.md
  files/en-us/web/api/xrsession/selectstart_event/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

XRSession.onselectend -> selectend event
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/xrsession/onselectend/index.md
  files/en-us/web/api/xrsession/selectend_event/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

Add that `title` may be ignored
  files/en-us/web/api/navigator/share/index.md
Owners: @mdn/yari-content-web-api

fix links
  files/en-us/web/html/element/progress/index.md
Owners: @mdn/yari-content-html

increase topics' readability and consistency
  files/en-us/web/http/status/400/index.md
  files/en-us/web/http/status/401/index.md
  files/en-us/web/http/status/402/index.md
  files/en-us/web/http/status/403/index.md
  files/en-us/web/http/status/404/index.md
  files/en-us/web/http/status/405/index.md
Owners: @mdn/yari-content-http

New page: aria-valuenow
  files/en-us/web/accessibility/aria/attributes/aria-valuenow/index.md
Owners: @mdn/yari-content-accessibility

New page: aria-valuemin
  files/en-us/web/accessibility/aria/attributes/aria-valuemin/index.md
Owners: @mdn/yari-content-accessibility

New page: aria-valuemax
  files/en-us/web/accessibility/aria/attributes/aria-valuemax/index.md
Owners: @mdn/yari-content-accessibility

fix typo
  files/en-us/web/accessibility/aria/attributes/aria-valuenow/index.md
Owners: @mdn/yari-content-accessibility

Fixed dead links
  files/en-us/web/css/flex/index.md
Owners: @mdn/yari-content-css

Fix live samples to work without an argument
  files/en-us/mdn/contribute/howto/create_an_interactive_exercise_to_help_learning_the_web/distant_example/index.md
  files/en-us/web/api/canvas_api/tutorial/compositing/example/index.md
  files/en-us/web/css/css_positioning/understanding_z_index/adding_z-index/index.md
  files/en-us/web/css/css_positioning/understanding_z_index/stacking_and_float/index.md
  files/en-us/web/css/css_positioning/understanding_z_index/stacking_without_z-index/index.md
  files/en-us/web/html/global_attributes/itemscope/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api, @mdn/yari-content-css, @mdn/yari-content-html

Don't use a warning here
  files/en-us/web/api/eventtarget/addeventlistener/index.md
Owners: @mdn/yari-content-web-api

Made example closer to best practices.
  files/en-us/web/html/attributes/readonly/index.md
Owners: @mdn/yari-content-html

got rid of bad example
  files/en-us/web/html/attributes/readonly/index.md
Owners: @mdn/yari-content-html

New page: aria-readonly
  files/en-us/web/accessibility/aria/attributes/aria-readonly/index.md
Owners: @mdn/yari-content-accessibility

Made example closer to best practices. (#10761)
  files/en-us/web/html/attributes/readonly/index.md
Owners: @mdn/yari-content-html

Fixed dead links (#10757)
  files/en-us/web/css/flex/index.md
Owners: @mdn/yari-content-css

Add that `title` may be ignored (#10751)
  files/en-us/web/api/navigator/share/index.md
Owners: @mdn/yari-content-web-api

resolved using css
  files/en-us/web/api/document/drag_event/index.md
Owners: @mdn/yari-content-web-api

New page: aria-pressed
  files/en-us/web/accessibility/aria/attributes/aria-pressed/index.md
Owners: @mdn/yari-content-accessibility

Don't use a warning here (#10760)
  files/en-us/web/api/eventtarget/addeventlistener/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/learn/javascript/first_steps/math/index.md
Owners: @mdn/yari-content-javascript

automating needs triage for new issues
  .github/workflows/new-issues.yml
Owners: @mdn/core-yari-dev

Update .github/workflows/new-issues.yml
  .github/workflows/new-issues.yml
Owners: @mdn/core-yari-dev

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone
