Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/core-yari-content, @mdn/yari-content-accessibility, @mdn/yari-content-learn, @mdn/yari-content-learn-css, @mdn/yari-content-learn-server-side, @mdn/yari-content-tools, @mdn/yari-content-mdn, @mdn/yari-content-mozilla-add-ons, @mdn/yari-content-web-api, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-http, @mdn/yari-content-javascript, @mdn/yari-content-svg, @peterbe

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH LEARNING CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/learn/    @mdn/yari-content-learn

# ----------------------------------------------------------------------------
# ENGLISH LEARNING CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/learn/css/    @mdn/yari-content-learn-css

# ----------------------------------------------------------------------------
# ENGLISH LEARNING SERVER-SIDE CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/learn/server-side/    @mdn/yari-content-learn-server-side

# ----------------------------------------------------------------------------
# ENGLISH TOOLS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/tools/    @mdn/yari-content-tools

# ----------------------------------------------------------------------------
# ENGLISH MDN CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mdn/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @peterbe because the auto-merge GHA workflow will assign @peterbe,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @peterbe
/yarn.lock    @peterbe

add image-resolution (#676)
  files/en-us/web/api/window/devicepixelratio/devicepixelration_diff.jpg
  files/en-us/web/api/window/devicepixelratio/index.html
  files/en-us/web/css/@media/resolution/index.html
  files/en-us/web/css/image-resolution/index.html
  files/en-us/web/css/resolution/index.html
Owners: @mdn/yari-content-web-api, @mdn/yari-content-css

Update files/en-us/web/css/universal_selectors/index.html
  files/en-us/web/css/universal_selectors/index.html
Owners: @mdn/yari-content-css

Update files/en-us/web/css/type_selectors/index.html
  files/en-us/web/css/type_selectors/index.html
Owners: @mdn/yari-content-css

Correct spec url
  files/en-us/web/html/global_attributes/nonce/index.html
Owners: @mdn/yari-content-html

A CSS how to example
  files/en-us/learn/css/howto/highlight_first_line/index.html
Owners: @mdn/yari-content-learn-css

Add line break after every log
  files/en-us/web/javascript/reference/global_objects/promise/index.html
Owners: @mdn/yari-content-javascript

lowercase anchor links in /Web/SVG
  files/en-us/web/svg/attribute/begin/index.html
  files/en-us/web/svg/attribute/conditional_processing/index.html
  files/en-us/web/svg/attribute/d/index.html
  files/en-us/web/svg/attribute/fill-opacity/index.html
  files/en-us/web/svg/attribute/stroke-linejoin/index.html
  files/en-us/web/svg/attribute/stroke-opacity/index.html
  files/en-us/web/svg/content_type/index.html
  files/en-us/web/svg/element/use/index.html
Owners: @mdn/yari-content-svg

Update splice docs
  files/en-us/web/javascript/reference/global_objects/array/splice/index.html
Owners: @mdn/yari-content-javascript

Update index.html
  files/en-us/learn/common_questions/what_is_a_url/index.html
Owners: @mdn/yari-content-learn

Fix "Reasons for delays longer than specified" link
  files/en-us/web/api/windoworworkerglobalscope/settimeout/index.html
Owners: @mdn/yari-content-web-api

flattening document (#1332)
  files/en-us/learn/common_questions/what_is_a_url/index.html
Owners: @mdn/yari-content-learn

add missing "}"
  files/en-us/web/api/windoworworkerglobalscope/settimeout/index.html
Owners: @mdn/yari-content-web-api

Fix link
  files/en-us/web/api/eventtarget/addeventlistener/index.html
Owners: @mdn/yari-content-web-api

Update index.html
  files/en-us/web/media/formats/video_codecs/index.html
Owners: @mdn/core-yari-content

fix fixable flaws in web/api/css_object_model/using_dynamic_styling_information
  files/en-us/web/api/css_object_model/using_dynamic_styling_information/index.html
Owners: @mdn/yari-content-web-api

Update index.html
  files/en-us/web/media/formats/video_codecs/index.html
Owners: @mdn/core-yari-content

Update Video Codecs page (#1354)
  files/en-us/web/media/formats/video_codecs/index.html
Owners: @mdn/core-yari-content

fix fixable flaws in web/api/css_object_model/using_dynamic_styling_information (#1355)
  files/en-us/web/api/css_object_model/using_dynamic_styling_information/index.html
Owners: @mdn/yari-content-web-api

the anchor and ID should match
  files/en-us/web/javascript/reference/iteration_protocols/index.html
Owners: @mdn/yari-content-javascript

Update index.html
  files/en-us/mozilla/add-ons/webextensions/api/cookies/remove/index.html
Owners: @mdn/yari-content-mozilla-add-ons

Update index.html
  files/en-us/games/tutorials/html5_gamedev_phaser_device_orientation/index.html
Owners: @mdn/core-yari-content

Attempt to do this, what happens?
  files/en-us/web/javascript/reference/global_objects/object/isprototypeof/index.html
Owners: @mdn/yari-content-javascript

docs: note on `yarn content flaws`
  README.md
Owners: @mdn/core-yari-dev, @mdn/core-yari-content

Update index.html (#1358)
  files/en-us/games/tutorials/html5_gamedev_phaser_device_orientation/index.html
Owners: @mdn/core-yari-content

updates for review
  files/en-us/web/api/csspagerule/index.html
  files/en-us/web/api/csspagerule/selectortext/index.html
  files/en-us/web/api/csspagerule/style/index.html
Owners: @mdn/yari-content-web-api
