Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

Reword actualBoundingBoxLeft description
  files/en-us/web/api/textmetrics/actualboundingboxleft/index.md
  files/en-us/web/api/textmetrics/index.md
Owners: @mdn/yari-content-web-api

CSS counter-reset reversed counters (#11362)
  files/en-us/web/css/counter-reset/index.md
Owners: @mdn/yari-content-css

Remove duplicated link
  files/en-us/web/css/css_display/index.md
Owners: @mdn/yari-content-css

Update index.md
  files/en-us/web/api/cssstyledeclaration/setproperty/index.md
Owners: @mdn/yari-content-web-api

Fix data in the "positions" array (#11378)
  files/en-us/web/api/webgl_api/tutorial/adding_2d_content_to_a_webgl_context/index.md
Owners: @mdn/yari-content-web-api

fix typo
  files/en-us/glossary/attribute/index.md
Owners: @mdn/yari-content-mdn

fix: link to The Service Worker Cookbook
  files/en-us/web/api/serviceworker/index.md
Owners: @mdn/yari-content-web-api

define label and platform members
  files/en-us/web/manifest/screenshots/index.md
Owners: @mdn/yari-content-mdn

Fix a typo
  files/en-us/learn/html/introduction_to_html/advanced_text_formatting/index.md
Owners: @mdn/yari-content-html

Remove unsupported notifications create example
  files/en-us/mozilla/add-ons/webextensions/api/notifications/create/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Update execCommand index.md (#9505)
  files/en-us/web/api/document/execcommand/index.md
Owners: @mdn/yari-content-web-api

fix typo (#11394)
  files/en-us/glossary/attribute/index.md
Owners: @mdn/yari-content-mdn

removed unused template (#11384)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/accessibility/aria/aria_techniques/aria_technique_template/index.html
Owners: @mdn/yari-content-mdn, @mdn/yari-content-accessibility

Fix a typo (#11397)
  files/en-us/learn/html/introduction_to_html/advanced_text_formatting/index.md
Owners: @mdn/yari-content-html

Fix a stray angle bracket
  files/en-us/glossary/clickjacking/index.md
Owners: @mdn/yari-content-mdn

Remove duplicated link (#11391)
  files/en-us/web/css/css_display/index.md
Owners: @mdn/yari-content-css

Redirect: aria-valuemin
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-valuemin_attribute/index.html
  files/en-us/web/accessibility/aria/attributes/aria-valuemin/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-accessibility

Remove unsupported notifications create example (#11398)
  files/en-us/mozilla/add-ons/webextensions/api/notifications/create/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Updates for feedback
  files/en-us/mozilla/add-ons/webextensions/internationalization/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Updates for feedback
  files/en-us/mozilla/add-ons/webextensions/internationalization/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Update code examples vs. source
  files/en-us/learn/javascript/asynchronous/choosing_the_right_approach/index.md
Owners: @mdn/yari-content-javascript

Correct wording in the _set example
  files/en-us/learn/server-side/django/generic_views/index.md
Owners: @mdn/yari-content-http

Add a link to structured-clone polyfill (#11294)
  files/en-us/web/api/structuredclone/index.md
Owners: @mdn/yari-content-web-api

corrected Response.redirect example (#11371)
  files/en-us/web/api/response/redirect/index.md
Owners: @mdn/yari-content-web-api

Correct wording in the Django _set example (#11405)
  files/en-us/learn/server-side/django/generic_views/index.md
Owners: @mdn/yari-content-http

Remove experimental banner for a couple of canvas features
  files/en-us/web/api/canvasrenderingcontext2d/filter/index.md
  files/en-us/web/api/canvasrenderingcontext2d/resettransform/index.md
Owners: @mdn/yari-content-web-api

Revert "Correct wording in the Django _set example (#11405)"
  files/en-us/learn/server-side/django/generic_views/index.md
Owners: @mdn/yari-content-http

Create dino.svg
  files/en-us/web/svg/tutorial/introduction/dino.svg
Owners: @mdn/yari-content-svg

Update sentence and link a svg
  files/en-us/web/svg/tutorial/introduction/index.md
Owners: @mdn/yari-content-svg

http -> https
  files/en-us/web/svg/tutorial/introduction/index.md
Owners: @mdn/yari-content-svg

format svg
  files/en-us/web/svg/tutorial/introduction/dino.svg
Owners: @mdn/yari-content-svg

Update code examples vs. source (#11404)
  files/en-us/learn/javascript/asynchronous/choosing_the_right_approach/index.md
Owners: @mdn/yari-content-javascript

Add `suggestedName` (#11388)
  files/en-us/web/api/window/showsavefilepicker/index.md
Owners: @mdn/yari-content-web-api

add alt text
  files/en-us/web/svg/tutorial/introduction/index.md
Owners: @mdn/yari-content-svg

copy-edit
  files/en-us/web/api/mediastreamtrack/stop/index.md
Owners: @mdn/yari-content-web-api

Document ended event not fired on .stop() (#11372)
  files/en-us/web/api/mediastreamtrack/stop/index.md
Owners: @mdn/yari-content-web-api

typo :(
  files/en-us/web/svg/tutorial/introduction/index.md
Owners: @mdn/yari-content-svg

Add svg to page and update surrounding content (#11413)
  files/en-us/web/svg/tutorial/introduction/dino.svg
  files/en-us/web/svg/tutorial/introduction/index.md
Owners: @mdn/yari-content-svg

Update important seizure related info
  files/en-us/web/accessibility/understanding_colors_and_luminance/index.html
Owners: @mdn/yari-content-accessibility

Improper alphabetical order of HTML classes
  files/en-us/web/api/html_dom_api/index.md
Owners: @mdn/yari-content-web-api

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone
