Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-content, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/content-mathml, @mdn/core-dev, @mdn-bot

Run "yarn tool fix-flaws" on /glossary (#28000)
  files/en-us/glossary/baseline/typography/index.md
  files/en-us/glossary/cross_axis/index.md
  files/en-us/glossary/endianness/index.md
  files/en-us/glossary/fallback_alignment/index.md
  files/en-us/glossary/flex/index.md
  files/en-us/glossary/flex_container/index.md
  files/en-us/glossary/flex_item/index.md
  files/en-us/glossary/flexbox/index.md
  files/en-us/glossary/fps/index.md
  files/en-us/glossary/grid/index.md
  files/en-us/glossary/grid_areas/index.md
  files/en-us/glossary/grid_axis/index.md
  files/en-us/glossary/grid_cell/index.md
  files/en-us/glossary/grid_column/index.md
  files/en-us/glossary/grid_container/index.md
  files/en-us/glossary/grid_lines/index.md
  files/en-us/glossary/grid_row/index.md
  files/en-us/glossary/grid_tracks/index.md
  files/en-us/glossary/gutters/index.md
  files/en-us/glossary/ink_overflow/index.md
  files/en-us/glossary/internationalization_and_localization/index.md
  files/en-us/glossary/javascript/index.md
  files/en-us/glossary/main_axis/index.md
  files/en-us/glossary/resource_timing/index.md
  files/en-us/glossary/script-supporting_element/index.md
  files/en-us/glossary/snap_positions/index.md
  files/en-us/glossary/stacking_context/index.md
  files/en-us/glossary/top_layer/index.md
Owners: @mdn/yari-content-mdn

Remove duplicated example from WebExtensions/manifest.json/icons
  files/en-us/mozilla/add-ons/webextensions/manifest.json/icons/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Prettier on layout cookbook
  files/en-us/web/css/layout_cookbook/index.md
Owners: @mdn/yari-content-css

Run "yarn tool fix-flaws" on /games (#27999)
  files/en-us/games/introduction/index.md
  files/en-us/games/introduction_to_html5_game_development/index.md
  files/en-us/games/techniques/audio_for_web_games/index.md
Owners: @mdn/yari-content-mdn

Add "Important Notes" to OffscreenCanvas.
  files/en-us/web/api/offscreencanvas/index.md
Owners: @mdn/yari-content-web-api

Fixed Markdown lint failure
  files/en-us/web/api/offscreencanvas/index.md
Owners: @mdn/yari-content-web-api

fix(CSS): undo a wrong fix in float document
  files/en-us/learn/css/css_layout/floats/index.md
Owners: @mdn/yari-content-css

remove out of contxt statement
  files/en-us/learn/css/css_layout/floats/index.md
Owners: @mdn/yari-content-css

improve color contrast
  files/en-us/learn/css/css_layout/floats/index.md
Owners: @mdn/yari-content-css

fix: let the attribute value be string (#27972)
  files/en-us/web/html/element/meta/index.md
Owners: @mdn/yari-content-html

docs(CSS): Clean up @container examples and reintroduce style queries section (#27968)
  files/en-us/web/css/@container/index.md
Owners: @mdn/yari-content-css

remove odd files from PR
  files/en-us/mozilla/add-ons/webextensions/api/i18n/getmessage/index.md
  files/en-us/mozilla/add-ons/webextensions/native_messaging/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Remove duplicated example from WebExtensions/manifest.json/icons (#28018)
  files/en-us/mozilla/add-ons/webextensions/manifest.json/icons/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Initialize "isDrawing" variable
  files/en-us/web/html/element/a/index.md
Owners: @mdn/yari-content-html

Broken links
  files/en-us/web/css/css_selectors/selector_structure/index.md
Owners: @mdn/yari-content-css

Add mismatched placement JavaScript error
  files/en-us/web/javascript/reference/errors/mismatched_placement/index.md
Owners: @mdn/yari-content-javascript

NumberFormat.resolvedOptions fixes
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/numberformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/resolvedoptions/index.md
  files/en-us/web/javascript/reference/global_objects/intl/pluralrules/selectrange/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/web/javascript/reference/global_objects/intl/numberformat/resolvedoptions/index.md
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/resolvedoptions/index.md
Owners: @mdn/yari-content-javascript

Move file; style changes
  files/en-us/web/javascript/reference/errors/either_be_both_static_or_non-static/index.md
Owners: @mdn/yari-content-javascript

Add mismatched placement JavaScript error (#28022)
  files/en-us/web/javascript/reference/errors/either_be_both_static_or_non-static/index.md
Owners: @mdn/yari-content-javascript

Add unit, unitdisplay to the resolvedOptions. Add some exceptions to the constructor
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/numberformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/resolvedoptions/index.md
Owners: @mdn/yari-content-javascript

Add TypeError if unit or currency not defined for that style of formatting
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/numberformat/index.md
Owners: @mdn/yari-content-javascript

Fix some redirected link flaws
  files/en-us/glossary/static_method/index.md
  files/en-us/glossary/tcp_handshake/index.md
  files/en-us/learn/javascript/client-side_web_apis/client-side_storage/index.md
  files/en-us/web/accessibility/understanding_wcag/understandable/index.md
  files/en-us/web/api/abortsignal/index.md
  files/en-us/web/api/abortsignal/reason/index.md
  files/en-us/web/api/audiodecoder/index.md
  files/en-us/web/api/barcode_detection_api/index.md
  files/en-us/web/api/barcodedetector/index.md
  files/en-us/web/api/blob/index.md
  files/en-us/web/api/canvas_api/tutorial/basic_animations/index.md
  files/en-us/web/api/css/index.md
  files/en-us/web/api/css/registerproperty_static/index.md
  files/en-us/web/api/css_custom_highlight_api/index.md
  files/en-us/web/api/css_properties_and_values_api/guide/index.md
  files/en-us/web/api/css_properties_and_values_api/index.md
  files/en-us/web/api/css_typed_om_api/guide/index.md
  files/en-us/web/api/css_typed_om_api/index.md
  files/en-us/web/api/cssnumericvalue/index.md
  files/en-us/web/api/document/lostpointercapture_event/index.md
  files/en-us/web/api/dompoint/index.md
  files/en-us/web/api/domrect/index.md
  files/en-us/web/api/domrectreadonly/index.md
  files/en-us/web/api/element/animationcancel_event/index.md
  files/en-us/web/api/element/animationend_event/index.md
  files/en-us/web/api/element/animationiteration_event/index.md
  files/en-us/web/api/element/animationstart_event/index.md
  files/en-us/web/api/element/touchend_event/index.md
  files/en-us/web/api/element/touchmove_event/index.md
  files/en-us/web/api/element/touchstart_event/index.md
  files/en-us/web/api/element/transitioncancel_event/index.md
  files/en-us/web/api/element/transitionend_event/index.md
  files/en-us/web/api/element/transitionrun_event/index.md
  files/en-us/web/api/element/transitionstart_event/index.md
  files/en-us/web/api/event/cancelable/index.md
  files/en-us/web/api/event/eventphase/index.md
  files/en-us/web/api/fetch_api/using_fetch/index.md
  files/en-us/web/html/element/img/index.md
  files/en-us/web/html/element/input/file/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-javascript, @mdn/yari-content-accessibility, @mdn/yari-content-web-api, @mdn/yari-content-html

Fix more
  files/en-us/web/guide/houdini/index.md
  files/en-us/web/media/formats/codecs_parameter/index.md
  files/en-us/web/media/formats/webrtc_codecs/index.md
  files/en-us/web/security/user_activation/index.md
  files/en-us/web/svg/attribute/begin/index.md
  files/en-us/web/svg/attribute/end/index.md
  files/en-us/web/svg/attribute/textlength/index.md
  files/en-us/web/svg/element/radialgradient/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-svg

Update package.json
  package.json
  yarn.lock
Owners: @mdn-bot

Allow specifying a custom frontmatter linter config
  scripts/front-matter_linter.js
Owners: @mdn/core-yari-content

Automatically fix fixable flaws in content
  .github/workflows/markdown-lint-fix.yml
Owners: @mdn/core-dev

Allow specifying a custom frontmatter linter config (#28027)
  scripts/front-matter_linter.js
Owners: @mdn/core-yari-content

chore: update members of Russian's localization team (#27982)
  files/en-us/mdn/community/contributing/translated_content/index.md
Owners: @mdn/yari-content-mdn

Revert changes to yarn.lock
  yarn.lock
Owners: @mdn-bot

Add link to Spanish l10n team's Telegram (#28012)
  files/en-us/mdn/community/contributing/translated_content/index.md
Owners: @mdn/yari-content-mdn

Unlink PR from MD037 (#27955)
  .markdownlint-cli2.jsonc
Owners: @mdn/core-dev

Remove redundant -nolint
  files/en-us/webassembly/javascript_interface/compile/index.md
Owners: @mdn/yari-content-mdn

Update .github/workflows/markdown-lint-fix.yml
  .github/workflows/markdown-lint-fix.yml
Owners: @mdn/core-dev

Add "system" label for system/infrastructure files
  .github/labeler.yml
Owners: @mdn/core-dev

Add "system" label for system/infrastructure files (#28030)
  .github/labeler.yml
Owners: @mdn/core-dev

fix(CSS): undo a wrong fix in float document (#27984)
  files/en-us/learn/css/css_layout/floats/index.md
Owners: @mdn/yari-content-css

Fix a few "Bad BCD queries" flaws (#27994)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/dommatrix/index.md
  files/en-us/web/api/window/applicationcache/index.md
  files/en-us/web/api/window/webkitconvertpointfromnodetopage/index.md
  files/en-us/web/api/workerglobalscope/console/index.md
  files/en-us/web/css/_colon_-moz-focusring/index.md
  files/en-us/web/css/_doublecolon_-moz-focus-inner/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api, @mdn/yari-content-css

Remove additional -nolint statements
  files/en-us/webassembly/javascript_interface/compilestreaming/index.md
  files/en-us/webassembly/javascript_interface/instantiatestreaming/index.md
  files/en-us/webassembly/javascript_interface/module/customsections/index.md
  files/en-us/webassembly/javascript_interface/module/exports/index.md
  files/en-us/webassembly/javascript_interface/module/imports/index.md
  files/en-us/webassembly/javascript_interface/validate/index.md
Owners: @mdn/yari-content-mdn

Update package.json (#28026)
  package.json
Owners: @mdn-bot

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons

# ----------------------------------------------------------------------------
# ENGLISH MATHML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/mathml/    @mdn/content-mathml


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-yari-content
# These are @mdn-bot because the auto-merge GHA workflow uses the PAT of this account.
# If another reviewer is specified, update the PAT token or auto-merge will cease to be automatic.
/package.json @mdn-bot
/yarn.lock    @mdn-bot
