Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone

Update files/en-us/web/accessibility/aria/attributes/aria-owns/index.md
  files/en-us/web/accessibility/aria/attributes/aria-owns/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-owns/index.md
  files/en-us/web/accessibility/aria/attributes/aria-owns/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-owns/index.md
  files/en-us/web/accessibility/aria/attributes/aria-owns/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-owns/index.md
  files/en-us/web/accessibility/aria/attributes/aria-owns/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-owns/index.md
  files/en-us/web/accessibility/aria/attributes/aria-owns/index.md
Owners: @mdn/yari-content-accessibility

edits: aria-owns
  files/en-us/web/accessibility/aria/attributes/aria-owns/index.md
Owners: @mdn/yari-content-accessibility

Compress image (fixes CI failure)
  files/en-us/web/api/web_crypto_api/non-cryptographic_uses_of_subtle_crypto/blender-sha256-example.png
Owners: @mdn/yari-content-web-api

Fix macro syntax (was breaking CI)
  files/en-us/web/accessibility/aria/attributes/aria-owns/index.md
Owners: @mdn/yari-content-accessibility

Compress images (fixes CI failure)
  files/en-us/web/css/env()/desktop-pwa-window-wco.png
  files/en-us/web/css/env()/desktop-pwa-window.png
Owners: @mdn/yari-content-css

FF96 RelNote: IntersectionObserver constructor sets default rootmargin if empty string passed
  files/en-us/mozilla/firefox/releases/96/index.md
Owners: @mdn/yari-content-mdn

Fix javascript syntax blocks to use comment around elipses
  files/en-us/web/javascript/reference/classes/class_static_initialization_blocks/index.md
  files/en-us/web/javascript/reference/classes/constructor/index.md
  files/en-us/web/javascript/reference/classes/extends/index.md
  files/en-us/web/javascript/reference/classes/static/index.md
  files/en-us/web/javascript/reference/functions/default_parameters/index.md
  files/en-us/web/javascript/reference/functions/get/index.md
  files/en-us/web/javascript/reference/global_objects/array/every/index.md
  files/en-us/web/javascript/reference/global_objects/array/filter/index.md
  files/en-us/web/javascript/reference/global_objects/array/find/index.md
  files/en-us/web/javascript/reference/global_objects/array/findindex/index.md
  files/en-us/web/javascript/reference/global_objects/array/flatmap/index.md
  files/en-us/web/javascript/reference/global_objects/array/foreach/index.md
  files/en-us/web/javascript/reference/global_objects/array/from/index.md
  files/en-us/web/javascript/reference/global_objects/array/map/index.md
  files/en-us/web/javascript/reference/global_objects/array/reduce/index.md
  files/en-us/web/javascript/reference/global_objects/array/reduceright/index.md
  files/en-us/web/javascript/reference/global_objects/array/some/index.md
  files/en-us/web/javascript/reference/global_objects/array/sort/index.md
  files/en-us/web/javascript/reference/global_objects/eval/index.md
  files/en-us/web/javascript/reference/global_objects/map/foreach/index.md
  files/en-us/web/javascript/reference/global_objects/reflect/construct/index.md
  files/en-us/web/javascript/reference/global_objects/set/foreach/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/every/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/filter/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/find/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/findindex/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/foreach/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/from/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/map/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/reduce/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/reduceright/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/some/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/sort/index.md
  files/en-us/web/javascript/reference/statements/do...while/index.md
  files/en-us/web/javascript/reference/statements/export/index.md
  files/en-us/web/javascript/reference/statements/for/index.md
  files/en-us/web/javascript/reference/statements/if...else/index.md
  files/en-us/web/javascript/reference/statements/while/index.md
Owners: @mdn/yari-content-javascript

Revert invalid scripted change
  files/en-us/web/javascript/reference/global_objects/reflect/construct/index.md
Owners: @mdn/yari-content-javascript

Comment syntax cases for n elements
  files/en-us/web/api/trustedtypepolicyfactory/getattributetype/index.md
  files/en-us/web/api/trustedtypepolicyfactory/getpropertytype/index.md
  files/en-us/web/javascript/reference/global_objects/array/array/index.md
  files/en-us/web/javascript/reference/global_objects/array/of/index.md
  files/en-us/web/javascript/reference/global_objects/array/push/index.md
  files/en-us/web/javascript/reference/global_objects/array/unshift/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/of/index.md
Owners: @mdn/yari-content-web-api, @mdn/yari-content-javascript

FF96 RelNote: IntersectionObserver constructor sets default rootmargi… (#11103)
  files/en-us/mozilla/firefox/releases/96/index.md
Owners: @mdn/yari-content-mdn

files/en-us/web/api/htmlcanvaselement/toblob/index.md
  files/en-us/web/api/htmlcanvaselement/toblob/index.md
Owners: @mdn/yari-content-web-api

HTMLCanvasElement.toBlob() - more improvements
  files/en-us/web/api/htmlcanvaselement/toblob/index.md
Owners: @mdn/yari-content-web-api

OffscreenCanvas.toBlob() - improvements/clarifications
  files/en-us/web/api/offscreencanvas/converttoblob/index.md
Owners: @mdn/yari-content-web-api

HTMLCanvasElement.toDataUrl() - improvements/clarifications
  files/en-us/web/api/htmlcanvaselement/todataurl/index.md
Owners: @mdn/yari-content-web-api

Update image guide
  files/en-us/web/media/formats/image_types/index.md
Owners: @mdn/yari-content-mdn

Fix typo in JavaScript reference
  files/en-us/web/javascript/reference/global_objects/intl/locale/collation/index.md
Owners: @mdn/yari-content-javascript

Apply suggestions from code review
  files/en-us/web/api/htmlcanvaselement/toblob/index.md
  files/en-us/web/api/offscreencanvas/converttoblob/index.md
Owners: @mdn/yari-content-web-api

FF96 Canvas supports exporting images as webp (#11105)
  files/en-us/web/api/htmlcanvaselement/toblob/index.md
  files/en-us/web/api/htmlcanvaselement/todataurl/index.md
  files/en-us/web/api/offscreencanvas/converttoblob/index.md
  files/en-us/web/media/formats/image_types/index.md
Owners: @mdn/yari-content-web-api, @mdn/yari-content-mdn

Fix typo in JavaScript reference (#11106)
  files/en-us/web/javascript/reference/global_objects/intl/locale/collation/index.md
Owners: @mdn/yari-content-javascript

Correct page about Access-Control-Expose-Headers
  files/en-us/web/http/headers/access-control-expose-headers/index.md
Owners: @mdn/yari-content-http

Correct page about Access-Control-Expose-Headers (#11107)
  files/en-us/web/http/headers/access-control-expose-headers/index.md
Owners: @mdn/yari-content-http

Don 't conflate "site" and "origin" on CORS page
  files/en-us/web/http/cors/index.md
Owners: @mdn/yari-content-http

Simplify extending constructor example of Proxy
  files/en-us/web/javascript/reference/global_objects/proxy/index.md
Owners: @mdn/yari-content-javascript

Remove Chromium-specifics
  files/en-us/web/api/navigator/share/index.md
Owners: @mdn/yari-content-web-api

fix broken links
  files/en-us/web/html/element/a/index.md
Owners: @mdn/yari-content-html

[Navgiator.share] Remove Chromium-specifics (#11111)
  files/en-us/web/api/navigator/share/index.md
Owners: @mdn/yari-content-web-api

Don't conflate "site" and "origin" on the CORS page (#11109)
  files/en-us/web/http/cors/index.md
Owners: @mdn/yari-content-http

Simplify extending constructor example of Proxy (#11110)
  files/en-us/web/javascript/reference/global_objects/proxy/index.md
Owners: @mdn/yari-content-javascript

Update index.md
  files/en-us/web/javascript/shells/index.md
Owners: @mdn/yari-content-javascript

Clarify effect of inputmode attribute vs <input> type values
  files/en-us/web/html/global_attributes/inputmode/index.md
Owners: @mdn/yari-content-html

fix: correct the `transitionrun` into `transitionstart`
  files/en-us/web/api/htmlelement/transitionstart_event/index.md
Owners: @mdn/yari-content-web-api

Add references to HTTP Link header
  files/en-us/web/http/headers/link/index.md
Owners: @mdn/yari-content-http

Addressed feedback comments
  files/en-us/mozilla/add-ons/webextensions/build_a_cross_browser_extension/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Drop “Debugging Firefox for Android with WebIDE” doc (outdated) (#11067)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/tools/remote_debugging/debugging_firefox_for_android_with_webide/extra-components.png
  files/en-us/tools/remote_debugging/debugging_firefox_for_android_with_webide/incoming-warning.png
  files/en-us/tools/remote_debugging/debugging_firefox_for_android_with_webide/index.html
  files/en-us/tools/remote_debugging/debugging_firefox_for_android_with_webide/remote-debugging-android-attached.png
  files/en-us/tools/remote_debugging/debugging_firefox_for_android_with_webide/remote-debugging-android-open-tabs.png
  files/en-us/tools/remote_debugging/debugging_firefox_for_android_with_webide/remote-debugging-android-runtime.png
  files/en-us/tools/remote_debugging/debugging_firefox_for_android_with_webide/remote-debugging-device-enable.png
  files/en-us/tools/remote_debugging/debugging_firefox_for_android_with_webide/remote-debugging-overview-fx36.png
  files/en-us/tools/remote_debugging/firefox_for_android/index.html
Owners: @mdn/yari-content-mdn

FF96 Relnote: WebRTC Stats removed (#11019)
  files/en-us/mozilla/firefox/releases/96/index.md
Owners: @mdn/yari-content-mdn

An array of cookieStoreId supported in the tabs.query API
  files/en-us/mozilla/add-ons/webextensions/api/tabs/query/index.md
  files/en-us/mozilla/firefox/releases/97/index.md
Owners: @mdn/yari-content-mozilla-add-ons, @mdn/yari-content-mdn
