Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone

Accepted types for HTMLScriptElement.supports
  files/en-us/web/api/htmlscriptelement/supports/index.md
Owners: @mdn/yari-content-web-api

Update example
  files/en-us/web/api/htmlscriptelement/supports/index.md
Owners: @mdn/yari-content-web-api

Hide JS code in "Active Learning" sample
  files/en-us/learn/css/styling_text/fundamentals/index.md
Owners: @mdn/yari-content-css

Clear up /[a-d-]/ regex syntax docs
  files/en-us/web/javascript/guide/regular_expressions/cheatsheet/index.md
Owners: @mdn/yari-content-javascript

fix broken links (#11112)
  files/en-us/web/html/element/a/index.md
  files/en-us/web/javascript/shells/index.md
Owners: @mdn/yari-content-html, @mdn/yari-content-javascript

correct the `transitionrun` into `transitionstart` (#11118)
  files/en-us/web/api/htmlelement/transitionstart_event/index.md
Owners: @mdn/yari-content-web-api

Complete list of accepted types for HTMLScriptElement.supports (#11125)
  files/en-us/web/api/htmlscriptelement/supports/index.md
Owners: @mdn/yari-content-web-api

Hide JS code in "Active Learning" sample (#11127)
  files/en-us/learn/css/styling_text/fundamentals/index.md
Owners: @mdn/yari-content-css

Clear up /[a-d-]/ regex syntax docs (#11129)
  files/en-us/web/javascript/guide/regular_expressions/cheatsheet/index.md
Owners: @mdn/yari-content-javascript

fixing the redirection link for spanish
  files/en-us/_redirects.txt
Owners: @mdn/yari-content-mdn

rewrite examples for HTMLSelectElement.form
  files/en-us/web/api/htmlselectelement/form/index.md
Owners: @mdn/yari-content-web-api

remove syntax section
  files/en-us/web/api/htmlselectelement/form/index.md
Owners: @mdn/yari-content-web-api

rewrite examples for HTMLSelectElement.form (#11132)
  files/en-us/web/api/htmlselectelement/form/index.md
Owners: @mdn/yari-content-web-api

wakeLock typo
  files/en-us/web/api/wakelock/index.md
Owners: @mdn/yari-content-web-api

Use const in place of var
  files/en-us/mozilla/add-ons/webextensions/api/tabs/insertcss/index.md
Owners: @mdn/yari-content-mozilla-add-ons

manifest: specify JSON schema
  files/en-us/web/manifest/index.md
Owners: @mdn/yari-content-mdn

Fix typo, missing space
  files/en-us/web/javascript/reference/global_objects/arraybuffer/index.md
Owners: @mdn/yari-content-javascript

modal: edits
  files/en-us/web/accessibility/aria/attributes/aria-modal/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-relevant/index.md
  files/en-us/web/accessibility/aria/attributes/aria-relevant/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-setsize/index.md
  files/en-us/web/accessibility/aria/attributes/aria-setsize/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-setsize/index.md
  files/en-us/web/accessibility/aria/attributes/aria-setsize/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-roledescription/index.md
  files/en-us/web/accessibility/aria/attributes/aria-roledescription/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-roledescription/index.md
  files/en-us/web/accessibility/aria/attributes/aria-roledescription/index.md
Owners: @mdn/yari-content-accessibility

Several fix in Web/API/ValidityState
  files/en-us/web/api/validitystate/badinput/index.md
  files/en-us/web/api/validitystate/patternmismatch/index.md
  files/en-us/web/api/validitystate/rangeoverflow/index.md
  files/en-us/web/api/validitystate/rangeunderflow/index.md
  files/en-us/web/api/validitystate/toolong/index.md
  files/en-us/web/api/validitystate/tooshort/index.md
  files/en-us/web/api/validitystate/typemismatch/index.md
  files/en-us/web/guide/html/constraint_validation/index.md
Owners: @mdn/yari-content-web-api, @mdn/yari-content-mdn

Fix typo: Unnecessary parenthesis
  files/en-us/web/api/htmlaudioelement/audio/index.md
Owners: @mdn/yari-content-web-api

add HTMLInputElement.checkValidity() and setCustomValidity()
  files/en-us/web/api/htmlinputelement/checkvalidity/index.md
  files/en-us/web/api/htmlinputelement/index.md
  files/en-us/web/api/htmlinputelement/setcustomvalidity/index.md
Owners: @mdn/yari-content-web-api

Additional change
  files/en-us/web/api/constraint_validation/index.md
Owners: @mdn/yari-content-web-api

Adding The Joy of Svelte to the learning resources
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_deployment_next/index.md
Owners: @mdn/yari-content-mdn

const -> let
  files/en-us/learn/javascript/first_steps/math/index.md
Owners: @mdn/yari-content-javascript

Adds namedGroups Param. Thanks @JohnyL
  files/en-us/web/javascript/reference/global_objects/string/replaceall/index.md
Owners: @mdn/yari-content-javascript

Update index.md
  files/en-us/web/javascript/reference/global_objects/string/replaceall/index.md
Owners: @mdn/yari-content-javascript

Update index.md
  files/en-us/web/api/html_dom_api/microtask_guide/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/web/css/child_combinator/index.md
Owners: @mdn/yari-content-css

Fix typo in Web NFC API
  files/en-us/web/api/web_nfc_api/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/web/css/child_combinator/index.md
Owners: @mdn/yari-content-css

Remove polyfills from Number.parseInt, parseFloat
  files/en-us/web/javascript/reference/global_objects/number/parsefloat/index.md
  files/en-us/web/javascript/reference/global_objects/number/parseint/index.md
Owners: @mdn/yari-content-javascript

Update index.md
  files/en-us/web/javascript/reference/global_objects/array/splice/index.md
Owners: @mdn/yari-content-javascript

wakeLock typo (#11134)
  files/en-us/web/api/wakelock/index.md
Owners: @mdn/yari-content-web-api

Fix typo, missing space (#11137)
  files/en-us/web/javascript/reference/global_objects/arraybuffer/index.md
Owners: @mdn/yari-content-javascript

Fix typo: Unnecessary parenthesis (#11141)
  files/en-us/web/api/htmlaudioelement/audio/index.md
Owners: @mdn/yari-content-web-api
