Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone

Fix statement about allowed Content-Type values
  files/en-us/web/http/cors/index.md
Owners: @mdn/yari-content-http

Update CustomEvent (#11073)
  files/en-us/web/api/customevent/customevent/index.md
  files/en-us/web/api/customevent/detail/index.md
Owners: @mdn/yari-content-web-api

Fix statement about allowed Content-Type values (#11077)
  files/en-us/web/http/cors/index.md
Owners: @mdn/yari-content-http

Properly mark Warning header as deprecated
  files/en-us/web/http/headers/index.md
  files/en-us/web/http/headers/warning/index.md
Owners: @mdn/yari-content-http

Add xpcshell doc redirect to firefox-source-docs.mozilla.org (#11074)
  files/en-us/_redirects.txt
Owners: @mdn/yari-content-mdn

Remove links that don't exist.
  files/en-us/web/api/textdecoder/index.md
Owners: @mdn/yari-content-web-api

Fix typo in Express Tutorial: Using a Database (with Mongoose)
  files/en-us/learn/server-side/express_nodejs/mongoose/index.md
Owners: @mdn/yari-content-http

Drop requestPostAnimationFrame section from WebGL best practices doc
  files/en-us/web/api/webgl_api/webgl_best_practices/index.md
Owners: @mdn/yari-content-web-api

Minor change
  files/en-us/mdn/guidelines/does_this_belong_on_mdn/index.md
Owners: @mdn/yari-content-mdn

Typo correction: it's/its
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/package_management/index.md
Owners: @mdn/yari-content-mdn

Add missing word
  files/en-us/mdn/guidelines/does_this_belong_on_mdn/index.md
Owners: @mdn/yari-content-mdn

Add missing word (#11091)
  files/en-us/mdn/guidelines/does_this_belong_on_mdn/index.md
Owners: @mdn/yari-content-mdn

Typo correction: it's/its (#11089)
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/package_management/index.md
Owners: @mdn/yari-content-mdn

Fix _redirects.txt format error that’s causing CI failure
  files/en-us/_redirects.txt
Owners: @mdn/yari-content-mdn

fix: the output should be `true` not `"true"`
  files/en-us/web/javascript/reference/operators/destructuring_assignment/index.md
Owners: @mdn/yari-content-javascript

Add comma between properties of object
  files/en-us/web/javascript/guide/working_with_objects/index.md
Owners: @mdn/yari-content-javascript

fix: the output should be `true` not `"true"` (#11093)
  files/en-us/web/javascript/reference/operators/destructuring_assignment/index.md
Owners: @mdn/yari-content-javascript

Update flex shorthand one-value summary (#11070)
  files/en-us/web/css/flex/index.md
Owners: @mdn/yari-content-css

Add comma between properties of object (#11094)
  files/en-us/web/javascript/guide/working_with_objects/index.md
Owners: @mdn/yari-content-javascript

Drop requestPostAnimationFrame section from WebGL best practices doc (#11085)
  files/en-us/web/api/webgl_api/webgl_best_practices/index.md
Owners: @mdn/yari-content-web-api

Fix typo in Express Tutorial: Using a Database (with Mongoose) (#11084)
  files/en-us/learn/server-side/express_nodejs/mongoose/index.md
Owners: @mdn/yari-content-http

Remove the manual warning now header is in place
  files/en-us/web/http/headers/warning/index.md
Owners: @mdn/yari-content-http

Properly mark Warning HTTP-Header as deprecated (#11079)
  files/en-us/web/http/headers/index.md
  files/en-us/web/http/headers/warning/index.md
Owners: @mdn/yari-content-http

Express dev - make all examples point to port 3000
  files/en-us/learn/server-side/express_nodejs/development_environment/index.md
Owners: @mdn/yari-content-http

Express dev - make all examples point to port 3000 (#11097)
  files/en-us/learn/server-side/express_nodejs/development_environment/index.md
Owners: @mdn/yari-content-http

Fix _redirects.txt format error that’s causing CI failure (#11092)
  files/en-us/_redirects.txt
Owners: @mdn/yari-content-mdn

Be more precise about conditional operator being if…else alternative
  files/en-us/web/javascript/reference/operators/conditional_operator/index.md
Owners: @mdn/yari-content-javascript

Fix grammar
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/react_interactivity_filtering_conditional_rendering/index.md
Owners: @mdn/yari-content-mdn

show padding in box model diagrams
  files/en-us/web/api/element/clientheight/dimensions-client.png
  files/en-us/web/api/element/clientwidth/dimensions-client.png
  files/en-us/web/api/htmlelement/offsetheight/dimensions-offset.png
  files/en-us/web/api/htmlelement/offsetwidth/dimensions-offset.png
Owners: @mdn/yari-content-web-api

show padding in box model diagrams (#11098)
  files/en-us/web/api/element/clientheight/dimensions-client.png
  files/en-us/web/api/element/clientwidth/dimensions-client.png
  files/en-us/web/api/htmlelement/offsetheight/dimensions-offset.png
  files/en-us/web/api/htmlelement/offsetwidth/dimensions-offset.png
Owners: @mdn/yari-content-web-api

Fix grammar (#11101)
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/react_interactivity_filtering_conditional_rendering/index.md
Owners: @mdn/yari-content-mdn

Information and an sample for form and fieldset.
  files/en-us/web/css/_colon_invalid/index.md
Owners: @mdn/yari-content-css

Clarifications about Safari in the building cross-browser extension article
  files/en-us/mozilla/add-ons/webextensions/build_a_cross_browser_extension/index.md
Owners: @mdn/yari-content-mozilla-add-ons

New page: aria-sort
  files/en-us/web/accessibility/aria/attributes/aria-sort/index.md
Owners: @mdn/yari-content-accessibility

edits: aria-sort
  files/en-us/web/accessibility/aria/attributes/aria-sort/index.md
Owners: @mdn/yari-content-accessibility

New page: aria-owns
  files/en-us/web/accessibility/aria/attributes/aria-owns/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-owns/index.md
  files/en-us/web/accessibility/aria/attributes/aria-owns/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-owns/index.md
  files/en-us/web/accessibility/aria/attributes/aria-owns/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-owns/index.md
  files/en-us/web/accessibility/aria/attributes/aria-owns/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-owns/index.md
  files/en-us/web/accessibility/aria/attributes/aria-owns/index.md
Owners: @mdn/yari-content-accessibility
