Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

Update index.html
  files/en-us/web/accessibility/aria/aria_techniques/using_the_radio_role/index.html
Owners: @mdn/yari-content-accessibility

Minor tidy
  files/en-us/web/css/css_backgrounds_and_borders/index.md
Owners: @mdn/yari-content-css

minor layout plus update name of link to match target
  files/en-us/web/css/background-size/index.md
Owners: @mdn/yari-content-css

Fix up link text to match target + layout
  files/en-us/web/css/tutorials/index.md
Owners: @mdn/yari-content-css

Fix links to guides in "CSS Backgrounds and Borders" (#10514)
  files/en-us/web/css/background-color/index.md
  files/en-us/web/css/background-size/index.md
  files/en-us/web/css/css_backgrounds_and_borders/index.md
  files/en-us/web/css/tutorials/index.md
Owners: @mdn/yari-content-css

Fid typo and links in CSS Backgrounds and Borders (#10512)
  files/en-us/web/css/background-color/index.md
  files/en-us/web/css/background-image/index.md
  files/en-us/web/css/border-left-style/index.md
  files/en-us/web/css/border-right-style/index.md
Owners: @mdn/yari-content-css

macro/value distinction
  README.md
Owners: @mdn/core-yari-dev, @mdn/core-yari-content

Replace (s) by s and layout tidy
  files/en-us/web/javascript/reference/global_objects/array/splice/index.md
Owners: @mdn/yari-content-javascript

values, not strings
  README.md
Owners: @mdn/core-yari-dev, @mdn/core-yari-content

Improve Index.md (#10509)
  files/en-us/web/javascript/reference/global_objects/array/splice/index.md
Owners: @mdn/yari-content-javascript

Mention d flag on the RegExp invalid flags page.
  files/en-us/web/javascript/reference/errors/bad_regexp_flag/index.md
Owners: @mdn/yari-content-javascript

Perhaps do it this way?
  README.md
Owners: @mdn/core-yari-dev, @mdn/core-yari-content

Remove links, change "will be" to "has been"
  files/en-us/web/javascript/reference/errors/for-each-in_loops_are_deprecated/index.md
  files/en-us/web/javascript/reference/statements/for...in/index.md
Owners: @mdn/yari-content-javascript

Remove from list on reference page
  files/en-us/web/javascript/reference/index.md
Owners: @mdn/yari-content-javascript

Changed to appropriate MDN page
  files/en-us/web/accessibility/aria/aria_techniques/using_the_radio_role/index.html
Owners: @mdn/yari-content-accessibility

invalid re flag message - add d flag
  files/en-us/web/javascript/reference/errors/bad_regexp_flag/index.md
Owners: @mdn/yari-content-javascript

layout changes
  files/en-us/web/api/web_audio_api/web_audio_spatialization_basics/index.md
Owners: @mdn/yari-content-web-api

little fix (#10500)
  files/en-us/web/api/web_audio_api/web_audio_spatialization_basics/index.md
Owners: @mdn/yari-content-web-api

Update JS learning area string basics page (#10488)
  files/en-us/learn/javascript/first_steps/strings/index.md
Owners: @mdn/yari-content-javascript

Date.toLocaleDateString() - uses local date
  files/en-us/web/javascript/reference/global_objects/date/tolocaledatestring/index.md
Owners: @mdn/yari-content-javascript

Apply suggestions from code review
  files/en-us/web/accessibility/aria/attributes/aria-keyshortcuts/index.md
Owners: @mdn/yari-content-accessibility

Update index.md
  files/en-us/learn/forms/sending_and_retrieving_form_data/index.md
Owners: @mdn/yari-content-mdn

<slot>.assign() is variadic
  files/en-us/web/api/htmlslotelement/assign/index.md
Owners: @mdn/yari-content-web-api

Fixed the container size in an example
  files/en-us/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/index.md
Owners: @mdn/yari-content-css

Fixed a small typo
  files/en-us/web/css/css_flexible_box_layout/typical_use_cases_of_flexbox/index.md
Owners: @mdn/yari-content-css

error on the code example
  files/en-us/web/api/element/innerhtml/index.md
Owners: @mdn/yari-content-web-api

Fixed a small typo (#10536)
  files/en-us/web/css/css_flexible_box_layout/typical_use_cases_of_flexbox/index.md
Owners: @mdn/yari-content-css

<slot>.assign() is variadic (#10533)
  files/en-us/web/api/htmlslotelement/assign/index.md
Owners: @mdn/yari-content-web-api

Update index.md (#10532)
  files/en-us/learn/forms/sending_and_retrieving_form_data/index.md
Owners: @mdn/yari-content-mdn

More accurate calculation of cm to inch (#10511)
  files/en-us/learn/css/building_blocks/values_and_units/index.md
Owners: @mdn/yari-content-css

Fixed introductory line (#10508)
  files/en-us/web/api/dommatrix/dommatrix/index.md
Owners: @mdn/yari-content-web-api

Update index.md (#10497)
  files/en-us/mozilla/add-ons/webextensions/developing_webextensions_for_thunderbird/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Cut H2 dupe of H1, make TOC more useful
  files/en-us/web/svg/tutorial/basic_shapes/index.md
Owners: @mdn/yari-content-svg

Add Array.of() to see also section (#10448)
  files/en-us/web/javascript/reference/global_objects/array/from/index.md
Owners: @mdn/yari-content-javascript

Fix grammatical error and clarify purpose of 'moz:SearchForm' (#10469)
  files/en-us/web/opensearch/index.md
Owners: @mdn/yari-content-mdn

update number of opaque black pixels to 2,500 (#10428)
  files/en-us/web/api/canvasrenderingcontext2d/getimagedata/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/javascript/reference/global_objects/json/stringify/index.md
  files/en-us/web/javascript/reference/global_objects/json/stringify/index.md
Owners: @mdn/yari-content-javascript

JSON Stringify documentation update (space parameter) (#10284)
  files/en-us/web/javascript/reference/global_objects/json/stringify/index.md
Owners: @mdn/yari-content-javascript

Cut H2 dupe of H1, make TOC more useful (#10540)
  files/en-us/web/svg/tutorial/basic_shapes/index.md
Owners: @mdn/yari-content-svg

HTTP Forwarded request - clarification behaviour in chain (#10462)
  files/en-us/web/http/headers/forwarded/index.md
Owners: @mdn/yari-content-http

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone
