Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone

fix slug and examples
  files/en-us/web/api/web_crypto_api/non-cryptographic_uses_of_subtle_crypto/index.md
Owners: @mdn/yari-content-web-api

Change explanatory text as comment (#10997)
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
Owners: @mdn/yari-content-javascript

FF96 Web Locks API updates (#10996)
  files/en-us/web/api/lock/index.md
  files/en-us/web/api/lock/mode/index.md
  files/en-us/web/api/lockmanager/index.md
  files/en-us/web/api/lockmanager/query/index.md
  files/en-us/web/api/lockmanager/request/index.md
  files/en-us/web/api/navigator/index.md
  files/en-us/web/api/web_locks_api/index.md
Owners: @mdn/yari-content-web-api

WebDriver conformance changes for Firefox 95 (#10943)
  files/en-us/mozilla/firefox/releases/95/index.md
Owners: @mdn/yari-content-mdn

headless mode link not found 404 likely from template {FirefoxSidebar}
  files/en-us/mozilla/firefox/releases/96/index.md
Owners: @mdn/yari-content-mdn

updating 95 96 and adding 97
  files/en-us/mozilla/firefox/releases/95/index.md
  files/en-us/mozilla/firefox/releases/96/index.md
  files/en-us/mozilla/firefox/releases/97/index.md
Owners: @mdn/yari-content-mdn

typo-fix: create a constant with const keyword
  files/en-us/learn/javascript/first_steps/a_first_splash/index.md
Owners: @mdn/yari-content-javascript

typo-fix: create a constant with const keyword (#11004)
  files/en-us/learn/javascript/first_steps/a_first_splash/index.md
Owners: @mdn/yari-content-javascript

Client hints glossary - update with user hints (#10715)
  files/en-us/glossary/client_hints/index.md
  files/en-us/web/api/user-agent_client_hints_api/index.md
  files/en-us/web/http/headers/accept-ch/index.md
  files/en-us/web/http/headers/index.md
  files/en-us/web/http/headers/sec-ch-ua/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api, @mdn/yari-content-http

Remove deprecation macros.
  files/en-us/web/api/window/index.md
  files/en-us/web/api/window/onappinstalled/index.md
Owners: @mdn/yari-content-web-api

Updating information about Edge
  files/en-us/mozilla/add-ons/webextensions/build_a_cross_browser_extension/index.md
Owners: @mdn/yari-content-mozilla-add-ons

updating 95 96 and adding 97 (#11003)
  files/en-us/mozilla/firefox/releases/95/index.md
  files/en-us/mozilla/firefox/releases/96/index.md
  files/en-us/mozilla/firefox/releases/97/index.md
Owners: @mdn/yari-content-mdn

Fix for : undefined (reading 'map')
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/react_components/index.md
Owners: @mdn/yari-content-mdn

spacing grammar
  files/en-us/learn/tools_and_testing/github/index.md
Owners: @mdn/yari-content-mdn

Add note about HTTP to HTTPS redirection on server
  files/en-us/web/http/headers/strict-transport-security/index.md
Owners: @mdn/yari-content-http

Minor change to into
  files/en-us/web/http/headers/strict-transport-security/index.md
Owners: @mdn/yari-content-http

layout only changes + add non-standard inline
  files/en-us/web/http/headers/strict-transport-security/index.md
Owners: @mdn/yari-content-http

spacing grammar (#11008)
  files/en-us/learn/tools_and_testing/github/index.md
Owners: @mdn/yari-content-mdn

Address some review comments
  files/en-us/learn/javascript/first_steps/a_first_splash/index.md
Owners: @mdn/yari-content-javascript

JS Learn Intro: miscellaneous updates, part 1 (#10955)
  files/en-us/learn/javascript/first_steps/a_first_splash/index.md
  files/en-us/learn/javascript/first_steps/what_is_javascript/index.md
Owners: @mdn/yari-content-javascript

appinstalled_event: Remove deprecation header. (#10915)
  files/en-us/web/api/window/appinstalled_event/index.md
  files/en-us/web/api/window/index.md
  files/en-us/web/api/window/onappinstalled/index.md
Owners: @mdn/yari-content-web-api

JS Learn Intro: miscellaneous updates, part 2 (#10958)
  files/en-us/learn/javascript/first_steps/arrays/index.md
  files/en-us/learn/javascript/first_steps/math/index.md
  files/en-us/learn/javascript/first_steps/variables/index.md
Owners: @mdn/yari-content-javascript

Revert invalid changes
  files/en-us/web/api/webvr_api/using_the_webvr_api/index.md
  files/en-us/web/api/worker/postmessage/index.md
Owners: @mdn/yari-content-web-api

FF96 Relnote: Web Locks API enabled
  files/en-us/mozilla/firefox/releases/96/index.md
Owners: @mdn/yari-content-mdn

Update link to latest rfc6265bis draft
  files/en-us/web/http/headers/set-cookie/samesite/index.md
Owners: @mdn/yari-content-http

Update link to latest rfc6265bis draft (#11013)
  files/en-us/web/http/headers/set-cookie/samesite/index.md
Owners: @mdn/yari-content-http

Corrects attribute to audioTracks
  files/en-us/web/html/element/video/index.md
Owners: @mdn/yari-content-html

The introductory text is misleading
  files/en-us/web/http/headers/alt-svc/index.md
Owners: @mdn/yari-content-http

Layout only changes (ignore)
  files/en-us/web/http/headers/alt-svc/index.md
Owners: @mdn/yari-content-http

The introductory text is misleading (#11015)
  files/en-us/web/http/headers/alt-svc/index.md
Owners: @mdn/yari-content-http

Canvas and image type docs - pure layout changes
  files/en-us/web/api/htmlcanvaselement/toblob/index.md
  files/en-us/web/api/htmlcanvaselement/todataurl/index.md
  files/en-us/web/api/offscreencanvas/converttoblob/index.md
  files/en-us/web/media/formats/image_types/index.md
Owners: @mdn/yari-content-web-api, @mdn/yari-content-mdn

New page: aria-relevant
  files/en-us/web/accessibility/aria/attributes/aria-relevant/index.md
Owners: @mdn/yari-content-accessibility

FF96 RelNote: WebP encoder format and canvas
  files/en-us/mozilla/firefox/releases/96/index.md
Owners: @mdn/yari-content-mdn

FF96 Relnote: WebRTC Stats removed
  files/en-us/mozilla/firefox/releases/96/index.md
Owners: @mdn/yari-content-mdn

IntersectionObserver constructor - tidy and clarify rootmargin as empty string
  files/en-us/web/api/intersectionobserver/intersectionobserver/index.md
Owners: @mdn/yari-content-web-api

Add note about Chromium's list of accepted file types
  files/en-us/web/api/navigator/share/index.md
Owners: @mdn/yari-content-web-api

Consistent parenthesis in arrow functions
  files/en-us/web/api/xrlightprobe/reflectionchange_event/index.md
  files/en-us/web/api/xrsession/end_event/index.md
  files/en-us/web/api/xrsession/inputsourceschange_event/index.md
  files/en-us/web/api/xrsession/select_event/index.md
  files/en-us/web/api/xrsession/selectend_event/index.md
  files/en-us/web/api/xrsession/selectstart_event/index.md
  files/en-us/web/api/xrsession/squeeze_event/index.md
  files/en-us/web/api/xrsession/squeezeend_event/index.md
  files/en-us/web/api/xrsession/squeezestart_event/index.md
  files/en-us/web/api/xrsession/visibilitychange_event/index.md
  files/en-us/web/api/xrsystem/devicechange_event/index.md
Owners: @mdn/yari-content-web-api

Explain more about what alternative services are
  files/en-us/web/http/headers/alt-svc/index.md
Owners: @mdn/yari-content-http

IntersectionObserver constructor - tidy and clarify rootmargin as empty string (#11020)
  files/en-us/web/api/intersectionobserver/intersectionobserver/index.md
Owners: @mdn/yari-content-web-api

Add table
  files/en-us/web/api/navigator/share/index.md
Owners: @mdn/yari-content-web-api
