Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone

Update files/en-us/web/api/window/open/index.md
  files/en-us/web/api/window/open/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/window/open/index.md
  files/en-us/web/api/window/open/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/barprop/visible/index.md
  files/en-us/web/api/barprop/visible/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/window/open/index.md
  files/en-us/web/api/window/open/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/window/open/index.md
  files/en-us/web/api/window/open/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/window/open/index.md
  files/en-us/web/api/window/open/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/window/open/index.md
  files/en-us/web/api/window/open/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/window/open/index.md
  files/en-us/web/api/window/open/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/window/open/index.md
  files/en-us/web/api/window/open/index.md
Owners: @mdn/yari-content-web-api

Apply suggestions from code review
  files/en-us/web/api/window/open/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/web/api/window/open/index.md
Owners: @mdn/yari-content-web-api

Fix links in the properties of CSS Positioned Layout
  files/en-us/web/css/float/index.md
  files/en-us/web/css/z-index/index.md
Owners: @mdn/yari-content-css

Update files/en-us/web/api/window/open/index.md
  files/en-us/web/api/window/open/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/window/open/index.md
  files/en-us/web/api/window/open/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/window/open/index.md
  files/en-us/web/api/window/open/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/window/open/index.md
  files/en-us/web/api/window/open/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/window/open/index.md
  files/en-us/web/api/window/open/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/window/open/obsolete_features/index.md
  files/en-us/web/api/window/open/obsolete_features/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/window/open/index.md
  files/en-us/web/api/window/open/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/window/open/index.md
  files/en-us/web/api/window/open/index.md
Owners: @mdn/yari-content-web-api

Move "Using CSS counters" to "CSS Counter Styles"
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/css_counter_styles/index.md
  files/en-us/web/api/cssprimitivevalue/getcountervalue/index.md
  files/en-us/web/api/cssprimitivevalue/index.md
  files/en-us/web/api/cssprimitivevalue/primitivetype/index.md
  files/en-us/web/css/content/index.md
  files/en-us/web/css/counter()/index.md
  files/en-us/web/css/counter-increment/index.md
  files/en-us/web/css/counter-reset/index.md
  files/en-us/web/css/counters()/index.md
  files/en-us/web/css/css_containment/index.md
  files/en-us/web/css/css_counter_styles/index.md
  files/en-us/web/css/css_counter_styles/using_css_counters/index.md
  files/en-us/web/css/css_lists_and_counters/index.md
  files/en-us/web/html/element/dir/index.md
  files/en-us/web/html/element/li/index.md
  files/en-us/web/html/element/ol/index.md
  files/en-us/web/html/element/ul/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api, @mdn/yari-content-css, @mdn/yari-content-html

Remove boolean feature description from position and size
  files/en-us/web/api/window/open/index.md
Owners: @mdn/yari-content-web-api

Fix comments in some HTML example code
  files/en-us/web/http/headers/cache-control/index.md
Owners: @mdn/yari-content-http

Move "Using CSS counters" to "CSS Counter Styles" (#10341)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/css_counter_styles/index.md
  files/en-us/web/api/cssprimitivevalue/getcountervalue/index.md
  files/en-us/web/api/cssprimitivevalue/index.md
  files/en-us/web/api/cssprimitivevalue/primitivetype/index.md
  files/en-us/web/css/content/index.md
  files/en-us/web/css/counter()/index.md
  files/en-us/web/css/counter-increment/index.md
  files/en-us/web/css/counter-reset/index.md
  files/en-us/web/css/counters()/index.md
  files/en-us/web/css/css_containment/index.md
  files/en-us/web/css/css_counter_styles/index.md
  files/en-us/web/css/css_counter_styles/using_css_counters/index.md
  files/en-us/web/css/css_lists_and_counters/index.md
  files/en-us/web/html/element/dir/index.md
  files/en-us/web/html/element/li/index.md
  files/en-us/web/html/element/ol/index.md
  files/en-us/web/html/element/ul/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api, @mdn/yari-content-css, @mdn/yari-content-html

Fix comments in some HTML example code (#10342)
  files/en-us/web/http/headers/cache-control/index.md
Owners: @mdn/yari-content-http

Fix links in the properties of CSS Positioned Layout (#10340)
  files/en-us/web/css/float/index.md
  files/en-us/web/css/z-index/index.md
Owners: @mdn/yari-content-css

Issue with "Client-side storage"
  files/en-us/learn/javascript/client-side_web_apis/client-side_storage/index.md
Owners: @mdn/yari-content-javascript

Update index.md
  files/en-us/learn/server-side/django/generic_views/index.md
Owners: @mdn/yari-content-http

.getAttribute() .getAttributeNS() return a string
  files/en-us/web/api/element/index.md
Owners: @mdn/yari-content-web-api

Add an example for Promise.resolve()
  files/en-us/web/javascript/reference/global_objects/promise/resolve/index.md
Owners: @mdn/yari-content-javascript

Update index.md
  files/en-us/web/javascript/reference/classes/static/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/web/accessibility/aria/roles/option_role/index.md
  files/en-us/web/accessibility/aria/roles/option_role/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/roles/option_role/index.md
  files/en-us/web/accessibility/aria/roles/option_role/index.md
Owners: @mdn/yari-content-accessibility

ARIA Option role (#10295)
  files/en-us/web/accessibility/aria/roles/option_role/index.html
  files/en-us/web/accessibility/aria/roles/option_role/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-expanded/index.md
  files/en-us/web/accessibility/aria/attributes/aria-expanded/index.md
Owners: @mdn/yari-content-accessibility

New page: aria-expanded (#10175)
  files/en-us/web/accessibility/aria/attributes/aria-expanded/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-flowto/index.md
  files/en-us/web/accessibility/aria/attributes/aria-flowto/index.md
Owners: @mdn/yari-content-accessibility

New page: aria-flowto (#10218)
  files/en-us/web/accessibility/aria/attributes/aria-flowto/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-details/index.md
  files/en-us/web/accessibility/aria/attributes/aria-details/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-details/index.md
  files/en-us/web/accessibility/aria/attributes/aria-details/index.md
Owners: @mdn/yari-content-accessibility
