Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

Fix <dfn></span> (#10245)
  files/en-us/web/accessibility/aria/roles/term_role/index.md
Owners: @mdn/yari-content-accessibility

Removed prefixing in appearance: none; example.
  files/en-us/web/css/appearance/index.md
Owners: @mdn/yari-content-css

space and case
  files/en-us/glossary/csp/index.md
Owners: @mdn/yari-content-mdn

Updated edge time input 24hours (#10199)
  files/en-us/web/html/element/input/time/edge-time.png
Owners: @mdn/yari-content-html

aria-grabbed: tweaks
  files/en-us/web/accessibility/aria/attributes/aria-grabbed/index.md
Owners: @mdn/yari-content-accessibility

Update index.md for URLSearchParams
  files/en-us/web/api/urlsearchparams/index.md
Owners: @mdn/yari-content-web-api

New Page: aria-haspopup
  files/en-us/web/accessibility/aria/attributes/aria-haspopup/index.md
Owners: @mdn/yari-content-accessibility

aria-haspopup: tweaks
  files/en-us/web/accessibility/aria/attributes/aria-haspopup/index.md
Owners: @mdn/yari-content-accessibility

aria-haspopup: case
  files/en-us/web/accessibility/aria/attributes/aria-haspopup/index.md
Owners: @mdn/yari-content-accessibility

tags
  files/en-us/web/accessibility/aria/roles/alert_role/index.md
  files/en-us/web/accessibility/aria/roles/alertdialog_role/index.md
Owners: @mdn/yari-content-accessibility

New page: aria-errormessage (#10172)
  files/en-us/web/accessibility/aria/attributes/aria-errormessage/index.md
Owners: @mdn/yari-content-accessibility

New page: aria-disabled (#10163)
  files/en-us/web/accessibility/aria/attributes/aria-disabled/index.md
Owners: @mdn/yari-content-accessibility

Adding SubmitEvent and FormDataEvent (#9342)
  files/en-us/web/api/event/index.md
Owners: @mdn/yari-content-web-api

Update file_system_access_api/index.md (#10187)
  files/en-us/web/api/file_system_access_api/index.md
Owners: @mdn/yari-content-web-api

Fix a link to linear-gradient() (#10242)
  files/en-us/web/css/color-adjust/index.md
Owners: @mdn/yari-content-css

Update index.md (#10236)
  files/en-us/web/api/websocket/protocol/index.md
Owners: @mdn/yari-content-web-api

Update index.md for URLSearchParams (#10249)
  files/en-us/web/api/urlsearchparams/index.md
Owners: @mdn/yari-content-web-api

Removed prefixing in appearance: none; example. (#10248)
  files/en-us/web/css/appearance/index.md
Owners: @mdn/yari-content-css

Fix non-existent macro
  files/en-us/web/accessibility/aria/attributes/aria-dropeffect/index.md
Owners: @mdn/yari-content-accessibility

Fix {{Specifications}} macro name
  files/en-us/web/api/htmlcollection/nameditem/index.md
Owners: @mdn/yari-content-web-api

Apply suggestions from code review
  files/en-us/web/accessibility/aria/attributes/aria-expanded/index.md
Owners: @mdn/yari-content-accessibility

Apply suggestions from code review
  files/en-us/web/accessibility/aria/attributes/aria-flowto/index.md
Owners: @mdn/yari-content-accessibility

Fix namespace-related review comments.
  files/en-us/web/api/attr/index.md
  files/en-us/web/api/attr/localname/index.md
Owners: @mdn/yari-content-web-api

Fix {{Specifications}} macro name (#10254)
  files/en-us/web/api/htmlcollection/nameditem/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/web/http/content_negotiation/index.md
Owners: @mdn/yari-content-http

Update js-ctypes URL link
  files/en-us/web/javascript/typed_arrays/index.md
Owners: @mdn/yari-content-javascript

Delete obsolete Feature Policy vr and xr directives
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/http/headers/feature-policy/index.md
  files/en-us/web/http/headers/feature-policy/vr/index.md
  files/en-us/web/http/headers/feature-policy/xr/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-http

Fix a typo in "Test your skills: Form structure"
  files/en-us/learn/forms/test_your_skills_colon__form_structure/index.md
Owners: @mdn/yari-content-mdn

Fix a typo in "Test your skills: Form structure" (#10259)
  files/en-us/learn/forms/test_your_skills_colon__form_structure/index.md
Owners: @mdn/yari-content-mdn

Delete obsolete Feature Policy vr and xr directives (#10258)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/http/headers/feature-policy/index.md
  files/en-us/web/http/headers/feature-policy/vr/index.md
  files/en-us/web/http/headers/feature-policy/xr/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-http

Fix typo in HTTP Content negotiation article (#10256)
  files/en-us/web/http/content_negotiation/index.md
Owners: @mdn/yari-content-http

MInor code improvement: Redundant Code
  files/en-us/learn/javascript/building_blocks/events/index.md
Owners: @mdn/yari-content-javascript

Move doNotTrack to deprecated properties
  files/en-us/web/api/navigator/index.md
Owners: @mdn/yari-content-web-api

Made comments more generic
  files/en-us/mozilla/add-ons/webextensions/api/menus/onclickdata/index.md
  files/en-us/mozilla/firefox/releases/94/index.md
Owners: @mdn/yari-content-mozilla-add-ons, @mdn/yari-content-mdn

Remove link to SelectorsHub
  files/en-us/web/xpath/index.md
Owners: @mdn/yari-content-mdn

Move doNotTrack to deprecated properties (#10263)
  files/en-us/web/api/navigator/index.md
Owners: @mdn/yari-content-web-api

New page: aria-hidden
  files/en-us/web/accessibility/aria/attributes/aria-hidden/index.md
Owners: @mdn/yari-content-accessibility

MInor code improvement: Redundant Code (#10262)
  files/en-us/learn/javascript/building_blocks/events/index.md
Owners: @mdn/yari-content-javascript

see also
  files/en-us/web/accessibility/aria/attributes/aria-expanded/index.md
Owners: @mdn/yari-content-accessibility

Remove the mention of js-ctypes
  files/en-us/web/javascript/typed_arrays/index.md
Owners: @mdn/yari-content-javascript

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone
