Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone

Change wording
  files/en-us/web/html/element/caption/index.md
Owners: @mdn/yari-content-html

Typo for "height", not "heigth"
  files/en-us/web/api/window/open/index.md
Owners: @mdn/yari-content-web-api

Revert "link element - remove dead link and layout (#10465)"
  files/en-us/web/html/element/link/index.md
Owners: @mdn/yari-content-html

Update index.md
  files/en-us/mozilla/add-ons/webextensions/developing_webextensions_for_thunderbird/index.md
Owners: @mdn/yari-content-mozilla-add-ons

New page: aria-multiselectable
  files/en-us/web/accessibility/aria/attributes/aria-multiselectable/index.md
Owners: @mdn/yari-content-accessibility

Caption must be first child when used in table (#10492)
  files/en-us/web/html/element/caption/index.md
Owners: @mdn/yari-content-html

Update files/en-us/web/accessibility/aria/attributes/aria-multiline/index.md
  files/en-us/web/accessibility/aria/attributes/aria-multiline/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-multiline/index.md
  files/en-us/web/accessibility/aria/attributes/aria-multiline/index.md
Owners: @mdn/yari-content-accessibility

New Page: aria-multiline (#10487)
  files/en-us/web/accessibility/aria/attributes/aria-multiline/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-colindex/index.md
  files/en-us/web/accessibility/aria/attributes/aria-colindex/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-colindex/index.md
  files/en-us/web/accessibility/aria/attributes/aria-colindex/index.md
Owners: @mdn/yari-content-accessibility

New page: aria-colindex (#10485)
  files/en-us/web/accessibility/aria/attributes/aria-colindex/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-level/index.md
  files/en-us/web/accessibility/aria/attributes/aria-level/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-level/index.md
  files/en-us/web/accessibility/aria/attributes/aria-level/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-level/index.md
  files/en-us/web/accessibility/aria/attributes/aria-level/index.md
Owners: @mdn/yari-content-accessibility

New Page: aria-level (#10439)
  files/en-us/web/accessibility/aria/attributes/aria-level/index.md
Owners: @mdn/yari-content-accessibility

New page: aria-describedby (#10090)
  files/en-us/web/accessibility/aria/attributes/aria-describedby/index.md
Owners: @mdn/yari-content-accessibility

Update index.md
  files/en-us/web/api/webrtc_api/adapter.js/index.md
Owners: @mdn/yari-content-web-api

little fix
  files/en-us/web/api/web_audio_api/web_audio_spatialization_basics/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/accessibility/aria/attributes/aria-hidden/index.md
  files/en-us/web/accessibility/aria/attributes/aria-hidden/index.md
Owners: @mdn/yari-content-accessibility

Remove remaining **Draft** reference
  files/en-us/mdn/structures/page_types/api_reference_page_template/index.md
Owners: @mdn/yari-content-mdn

Correct Index (Lines 45-6 Edit).md
  files/en-us/web/javascript/reference/global_objects/string/substr/index.md
Owners: @mdn/yari-content-javascript

Correct Index (Lines 45-6 Edit).md (#10505)
  files/en-us/web/javascript/reference/global_objects/string/substr/index.md
Owners: @mdn/yari-content-javascript

Remove duplicated verb (#10499)
  files/en-us/web/api/webrtc_api/adapter.js/index.md
Owners: @mdn/yari-content-web-api

Fix typo
  files/en-us/web/api/domtokenlist/index.md
Owners: @mdn/yari-content-web-api

Typo for "height", not "heigth" (#10493)
  files/en-us/web/api/window/open/index.md
Owners: @mdn/yari-content-web-api

Fix typo (#10506)
  files/en-us/web/api/domtokenlist/index.md
Owners: @mdn/yari-content-web-api

Fixed introductory line
  files/en-us/web/api/dommatrix/dommatrix/index.md
Owners: @mdn/yari-content-web-api

Improve Index.md
  files/en-us/web/javascript/reference/global_objects/array/splice/index.md
Owners: @mdn/yari-content-javascript

Remove MediaStreamAudioSourceOptions dictionary from MDN
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/mediastreamaudiosourcenode/mediastreamaudiosourcenode/index.md
  files/en-us/web/api/mediastreamaudiosourceoptions/index.md
  files/en-us/web/api/mediastreamaudiosourceoptions/mediastream/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

Update index.md
  files/en-us/learn/css/building_blocks/values_and_units/index.md
Owners: @mdn/yari-content-css

Fid typo and links in CSS Backgrounds and Borders
  files/en-us/web/css/background-color/index.md
  files/en-us/web/css/background-image/index.md
  files/en-us/web/css/border-left-style/index.md
  files/en-us/web/css/border-right-style/index.md
Owners: @mdn/yari-content-css

Update instructions for adding new macros
  README.md
Owners: @mdn/core-yari-dev, @mdn/core-yari-content

Fix links to guides in _CSS Backgrounds and Borders_
  files/en-us/web/css/background-color/index.md
  files/en-us/web/css/background-size/index.md
  files/en-us/web/css/css_backgrounds_and_borders/index.md
  files/en-us/web/css/tutorials/index.md
Owners: @mdn/yari-content-css

Fixed a typo on line 247
  files/en-us/learn/javascript/building_blocks/functions/index.md
Owners: @mdn/yari-content-javascript

Update index.md
  files/en-us/web/api/performance/index.md
Owners: @mdn/yari-content-web-api

lint fixes
  README.md
Owners: @mdn/core-yari-dev, @mdn/core-yari-content

Grammar Fix (scroll_event/index.md)
  files/en-us/web/api/element/scroll_event/index.md
Owners: @mdn/yari-content-web-api

Clarify that servers can do what they like - can not should
  files/en-us/web/http/headers/forwarded/index.md
Owners: @mdn/yari-content-http

Grammar Fix (scroll_event/index.md) (#10519)
  files/en-us/web/api/element/scroll_event/index.md
Owners: @mdn/yari-content-web-api
