Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-content, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/content-mathml, @mdn/core-dev, @mdn-bot

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons

# ----------------------------------------------------------------------------
# ENGLISH MATHML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/mathml/    @mdn/content-mathml


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-yari-content
# These are @mdn-bot because the auto-merge GHA workflow uses the PAT of this account.
# If another reviewer is specified, update the PAT token or auto-merge will cease to be automatic.
/package.json @mdn-bot
/yarn.lock    @mdn-bot

Add missing see also links (#27963)
  files/en-us/glossary/quality_values/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/web/api/event/timestamp/index.md
  files/en-us/web/api/event/timestamp/index.md
Owners: @mdn/yari-content-web-api

Remove second example and layout
  files/en-us/web/api/event/timestamp/index.md
Owners: @mdn/yari-content-web-api

prettier
  files/en-us/web/api/event/timestamp/index.md
Owners: @mdn/yari-content-web-api

Make timestamp more realistic (#27962)
  files/en-us/web/api/event/timestamp/index.md
Owners: @mdn/yari-content-web-api

Added a no-input flag for collectstatic in Procfile. (#27961)
  files/en-us/learn/server-side/django/deployment/index.md
Owners: @mdn/yari-content-http

minor: missing word (#27959)
  files/en-us/web/css/filter-function/grayscale/index.md
Owners: @mdn/yari-content-css

Lint errors and minor layout playing
  files/en-us/web/api/fetch/index.md
Owners: @mdn/yari-content-web-api

Apply suggestions from code review
  files/en-us/web/api/audio_output_devices_api/index.md
  files/en-us/web/api/htmlmediaelement/setsinkid/index.md
  files/en-us/web/api/mediadevices/enumeratedevices/index.md
  files/en-us/web/api/mediadevices/selectaudiooutput/index.md
Owners: @mdn/yari-content-web-api

Fulfills not receives for promise
  files/en-us/web/api/mediadevices/selectaudiooutput/index.md
Owners: @mdn/yari-content-web-api

Fix typos
  files/en-us/mozilla/add-ons/webextensions/manifest.json/host_permissions/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Spec urls fixup
  files/en-us/web/api/audio_output_devices_api/index.md
Owners: @mdn/yari-content-web-api

Use the term used in the spec
  files/en-us/web/css/css_selectors/selectors_and_combinators/index.md
Owners: @mdn/yari-content-css

fix lint error
  files/en-us/web/css/css_selectors/selectors_and_combinators/index.md
Owners: @mdn/yari-content-css

Remove early note of security considerations
  files/en-us/web/api/mediadevices/selectaudiooutput/index.md
Owners: @mdn/yari-content-web-api

run prettier
  files/en-us/web/api/fetch/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/web/http/headers/permissions-policy/publickey-credentials-create/index.md
Owners: @mdn/yari-content-http

chore: update members of Russian's localization team
  files/en-us/mdn/community/contributing/translated_content/index.md
Owners: @mdn/yari-content-mdn

Better explain persisting IDs
  files/en-us/web/api/mediadevices/selectaudiooutput/index.md
Owners: @mdn/yari-content-web-api

Added note about default method value (GET) (#27944)
  files/en-us/web/api/fetch/index.md
Owners: @mdn/yari-content-web-api

Fix typos (#27980)
  files/en-us/mozilla/add-ons/webextensions/manifest.json/host_permissions/index.md
  files/en-us/web/css/css_selectors/selectors_and_combinators/index.md
Owners: @mdn/yari-content-mozilla-add-ons, @mdn/yari-content-css

Remove togglePopover() supports boolean
  files/en-us/web/api/htmlelement/togglepopover/index.md
Owners: @mdn/yari-content-web-api

FF115 HTMLElement.togglePopover() returns boolean
  files/en-us/web/api/htmlelement/togglepopover/index.md
Owners: @mdn/yari-content-web-api

Add HOBA sample to the www-authenticate index.md (#27852)
  files/en-us/web/http/headers/www-authenticate/index.md
  files/en-us/web/http/resources_and_specifications/index.md
  files/jsondata/SpecData.json
Owners: @mdn/yari-content-http, @mdn/core-yari-content

Update files/en-us/web/api/performance_api/reporting_backforward_cache_not_restored_reasons/index.md
  files/en-us/web/api/performance_api/reporting_backforward_cache_not_restored_reasons/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/performance_api/reporting_backforward_cache_not_restored_reasons/index.md
  files/en-us/web/api/performance_api/reporting_backforward_cache_not_restored_reasons/index.md
Owners: @mdn/yari-content-web-api

Document missing color components (#27523)
  files/en-us/web/css/color_value/color/index.md
  files/en-us/web/css/color_value/hsl/index.md
  files/en-us/web/css/color_value/hwb/index.md
  files/en-us/web/css/color_value/index.md
  files/en-us/web/css/color_value/lab/index.md
  files/en-us/web/css/color_value/lch/index.md
  files/en-us/web/css/color_value/oklab/index.md
  files/en-us/web/css/color_value/oklch/index.md
  files/en-us/web/css/color_value/rgb/index.md
Owners: @mdn/yari-content-css

Making fixes for review comments from tunetheweb and Josh-Cena
  files/en-us/web/api/performance_api/reporting_backforward_cache_not_restored_reasons/index.md
  files/en-us/web/api/performancenavigationtiming/notrestoredreasons/index.md
Owners: @mdn/yari-content-web-api

Add explainer link
  files/en-us/web/api/performance_api/reporting_backforward_cache_not_restored_reasons/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/learn/mathml/first_steps/fractions_and_roots/index.md
Owners: @mdn/yari-content-mdn

Add WebGPU updates for Chrome 116
  files/en-us/web/api/gpuadapter/requestdevice/index.md
  files/en-us/web/api/gpudevice/importexternaltexture/index.md
  files/en-us/web/api/gpupipelineerror/gpupipelineerror/index.md
  files/en-us/web/api/gpuqueue/copyexternalimagetotexture/index.md
Owners: @mdn/yari-content-web-api

relnote(116): revert SVG type formatting
  files/en-us/web/svg/content_type/index.md
Owners: @mdn/yari-content-svg

Update the JSX In Depth link inside index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/react_getting_started/index.md
Owners: @mdn/yari-content-mdn

chore(css): replace "timing function" with "easing function" (#27945)
  files/en-us/glossary/bezier_curve/index.md
  files/en-us/mozilla/firefox/releases/55/index.md
  files/en-us/mozilla/firefox/releases/65/index.md
  files/en-us/web/accessibility/aria/attributes/aria-details/index.md
  files/en-us/web/api/web_animations_api/keyframe_formats/index.md
  files/en-us/web/css/alpha-value/index.md
  files/en-us/web/css/animation-direction/index.md
  files/en-us/web/css/animation-timing-function/index.md
  files/en-us/web/css/color_value/index.md
  files/en-us/web/css/css_transitions/index.md
  files/en-us/web/css/integer/index.md
  files/en-us/web/css/length/index.md
  files/en-us/web/css/number/index.md
  files/en-us/web/css/percentage/index.md
  files/en-us/web/css/position_value/index.md
  files/en-us/web/css/scroll-behavior/index.md
  files/en-us/web/css/shape/index.md
  files/en-us/web/css/transition-timing-function/index.md
  files/en-us/web/css/visibility/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-web-api, @mdn/yari-content-css

Update files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/react_getting_started/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/react_getting_started/index.md
Owners: @mdn/yari-content-mdn

Update the JSX In Depth link inside index.md (#27988)
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/react_getting_started/index.md
Owners: @mdn/yari-content-mdn

Bump @mdn/yari from 2.28.1 to 2.28.2
  package.json
  yarn.lock
Owners: @mdn-bot

Bump @mdn/yari from 2.28.1 to 2.28.2 (#27990)
  package.json
  yarn.lock
Owners: @mdn-bot

WebKitCSSMatrix was folded into DOMMatrix
  files/en-us/web/api/dommatrix/index.md
Owners: @mdn/yari-content-web-api

Remove Window.applicationCache
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/window/applicationcache/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api
