Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone

Remove FileSystemFlags dictionary from MDN web docs (#10920)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/file_and_directory_entries_api/index.md
  files/en-us/web/api/filesystemdirectoryentry/getdirectory/index.md
  files/en-us/web/api/filesystemdirectoryentry/getfile/index.md
  files/en-us/web/api/filesystemflags/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

update userAgentData example with fullVersionList (#10906)
  files/en-us/web/api/user-agent_client_hints_api/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/javascript/reference/global_objects/bigint/index.md
  files/en-us/web/javascript/reference/global_objects/bigint/index.md
Owners: @mdn/yari-content-javascript

Corrects terminology and desc. Thanks @rauschma (#10891)
  files/en-us/glossary/bigint/index.md
  files/en-us/glossary/number/index.md
  files/en-us/web/javascript/reference/global_objects/bigint/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-javascript

Update files/en-us/web/privacy/state_partitioning/index.md
  files/en-us/web/privacy/state_partitioning/index.md
Owners: @mdn/yari-content-mdn

Add section for the anti-tracking webcompat preference. (#10860)
  files/en-us/web/privacy/state_partitioning/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/mozilla/firefox/releases/96/index.md
  files/en-us/mozilla/firefox/releases/96/index.md
Owners: @mdn/yari-content-mdn

FF96 Relnotes: Samesite-Lax by default (#10939)
  files/en-us/mozilla/firefox/releases/96/index.md
Owners: @mdn/yari-content-mdn

Fix up OffscreenCanvas.convertToBlob() (#10940)
  files/en-us/web/api/offscreencanvas/converttoblob/index.md
Owners: @mdn/yari-content-web-api

Matches example with original. Thanks @CEOehis (#10801)
  files/en-us/learn/forms/how_to_structure_a_web_form/index.md
Owners: @mdn/yari-content-mdn

2x is missing in srcset (#10810)
  files/en-us/web/api/htmlimageelement/srcset/index.md
Owners: @mdn/yari-content-web-api

invalid re flag message - add d flag (#10523)
  files/en-us/web/javascript/reference/errors/bad_regexp_flag/index.md
Owners: @mdn/yari-content-javascript

New page: aria-rowindex
  files/en-us/web/accessibility/aria/attributes/aria-rowindex/index.md
Owners: @mdn/yari-content-accessibility

Delete large wrench-icon image
  files/en-us/tools/network_monitor/wrench-icon.png
Owners: @mdn/yari-content-mdn

Upload smaller resized and compressed wrench-icon image
  files/en-us/tools/network_monitor/wrench-icon.png
Owners: @mdn/yari-content-mdn

Delete large hamburger image
  files/en-us/tools/network_monitor/hamburger.png
Owners: @mdn/yari-content-mdn

Upload smaller resized and compressed hamburger image
  files/en-us/tools/network_monitor/hamburger.png
Owners: @mdn/yari-content-mdn

Remove width and height property
  files/en-us/tools/network_monitor/index.html
Owners: @mdn/yari-content-mdn

Add inline styling to inline image
  files/en-us/tools/taking_screenshots/index.html
Owners: @mdn/yari-content-mdn

wording
  files/en-us/learn/javascript/building_blocks/events/index.md
Owners: @mdn/yari-content-javascript

Add inline styling for inline image
  files/en-us/tools/browser_toolbox/index.html
Owners: @mdn/yari-content-mdn

Remove width attribute and align the icon
  files/en-us/tools/tools_toolbox/index.html
Owners: @mdn/yari-content-mdn

WebDriver conformance changes for Firefox 95
  files/en-us/mozilla/firefox/releases/95/index.md
Owners: @mdn/yari-content-mdn

import specifiers use url rather than path
  files/en-us/web/javascript/reference/statements/import/index.md
Owners: @mdn/yari-content-javascript

Use reusable workflow for idle issues (#10929)
  .github/workflows/idle-issues.yml
Owners: @mdn/core-yari-dev

Add clarification about CSS comment format (#10696)
  files/en-us/tools/debugger/how_to/use_a_source_map/index.html
Owners: @mdn/yari-content-mdn

Fix wrong repo name in idle issues workflow
  .github/workflows/idle-issues.yml
Owners: @mdn/core-yari-dev

Fix wrong repo name in idle issues workflow (#10946)
  .github/workflows/idle-issues.yml
Owners: @mdn/core-yari-dev

Fix typo
  files/en-us/webassembly/understanding_the_text_format/index.md
Owners: @mdn/yari-content-mdn

fix: typo
  files/en-us/web/api/eventsource/onmessage/index.md
Owners: @mdn/yari-content-web-api

Fix misspelling <figcaption>
  files/en-us/web/accessibility/aria/roles/figure_role/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/learn/javascript/building_blocks/events/index.md
  files/en-us/learn/javascript/building_blocks/events/index.md
Owners: @mdn/yari-content-javascript

Fix misspelling <figcaption> (#10949)
  files/en-us/web/accessibility/aria/roles/figure_role/index.md
Owners: @mdn/yari-content-accessibility

moved the line to values
  files/en-us/web/css/margin-block/index.md
Owners: @mdn/yari-content-css

add non-crypto article
  files/en-us/web/api/crypto/non-cryptographic_uses_of_subtle_crypto/blender-sha256-example.png
  files/en-us/web/api/crypto/non-cryptographic_uses_of_subtle_crypto/index.md
Owners: @mdn/yari-content-web-api

move line in margin-inline to values
  files/en-us/web/css/margin-inline/index.md
Owners: @mdn/yari-content-css

fix: typo (#10948)
  files/en-us/web/api/eventsource/onmessage/index.md
Owners: @mdn/yari-content-web-api

update wording to match margin
  files/en-us/web/css/margin-block/index.md
  files/en-us/web/css/margin-inline/index.md
Owners: @mdn/yari-content-css

link to margin for values
  files/en-us/web/css/margin-block/index.md
  files/en-us/web/css/margin-inline/index.md
Owners: @mdn/yari-content-css

Add punctuation
  files/en-us/web/http/overview/index.md
Owners: @mdn/yari-content-http
