Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone

fix typo
  files/en-us/web/api/audioparam/value/index.md
Owners: @mdn/yari-content-web-api

Update DOMTokenList and its children
  files/en-us/web/api/domtokenlist/add/index.md
  files/en-us/web/api/domtokenlist/contains/index.md
  files/en-us/web/api/domtokenlist/entries/index.md
  files/en-us/web/api/domtokenlist/foreach/index.md
  files/en-us/web/api/domtokenlist/index.md
  files/en-us/web/api/domtokenlist/item/index.md
  files/en-us/web/api/domtokenlist/keys/index.md
  files/en-us/web/api/domtokenlist/length/index.md
  files/en-us/web/api/domtokenlist/remove/index.md
  files/en-us/web/api/domtokenlist/replace/index.md
  files/en-us/web/api/domtokenlist/supports/index.md
  files/en-us/web/api/domtokenlist/toggle/index.md
  files/en-us/web/api/domtokenlist/value/index.md
  files/en-us/web/api/domtokenlist/values/index.md
  files/en-us/web/api/htmlelement/index.md
  files/en-us/web/api/htmliframeelement/index.md
  files/en-us/web/api/htmllinkelement/index.md
  files/en-us/web/api/htmltablecellelement/index.md
Owners: @mdn/yari-content-web-api

Add `await` before offscreenCanvas.convertToBlob
  files/en-us/web/api/offscreencanvas/converttoblob/index.md
Owners: @mdn/yari-content-web-api

Include WebGL 1 signatures on WebGL 2 page
  files/en-us/web/api/webgl2renderingcontext/bufferdata/index.md
Owners: @mdn/yari-content-web-api

update number of opaque black pixels to 2,500
  files/en-us/web/api/canvasrenderingcontext2d/getimagedata/index.md
Owners: @mdn/yari-content-web-api

Event page: Add syntax section, remove table
  files/en-us/web/api/xrlightprobe/reflectionchange_event/index.md
Owners: @mdn/yari-content-web-api

Code formatting
  files/en-us/web/javascript/reference/operators/function/index.md
Owners: @mdn/yari-content-javascript

Event page: Add syntax section, remove table (#10431)
  files/en-us/web/api/xrlightprobe/reflectionchange_event/index.md
Owners: @mdn/yari-content-web-api

Stop linking IE and Edge
  files/en-us/learn/javascript/first_steps/variables/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/learn/javascript/first_steps/a_first_splash/index.md
  files/en-us/learn/javascript/first_steps/a_first_splash/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/learn/javascript/first_steps/variables/index.md
  files/en-us/learn/javascript/first_steps/variables/index.md
Owners: @mdn/yari-content-javascript

Fixes #10410 - Adds `that` (#10419)
  files/en-us/web/javascript/reference/operators/function/index.md
Owners: @mdn/yari-content-javascript

removed extra space
  files/en-us/web/accessibility/aria/attributes/aria-brailleroledescription/index.md
  files/en-us/web/accessibility/aria/attributes/aria-checked/index.md
  files/en-us/web/accessibility/aria/attributes/aria-colcount/index.md
Owners: @mdn/yari-content-accessibility

New page: aria-keyshortcuts
  files/en-us/web/accessibility/aria/attributes/aria-keyshortcuts/index.md
Owners: @mdn/yari-content-accessibility

Update index.md
  files/en-us/web/svg/attribute/transform/index.md
Owners: @mdn/yari-content-svg

aria-keyshortcuts see also
  files/en-us/web/accessibility/aria/attributes/aria-keyshortcuts/index.md
Owners: @mdn/yari-content-accessibility

aria-keyshortcuts: tweaks
  files/en-us/web/accessibility/aria/attributes/aria-keyshortcuts/index.md
Owners: @mdn/yari-content-accessibility

aria-keyshortcuts: tweaks
  files/en-us/web/accessibility/aria/attributes/aria-keyshortcuts/index.md
Owners: @mdn/yari-content-accessibility

removed extra space (#10433)
  files/en-us/web/accessibility/aria/attributes/aria-brailleroledescription/index.md
  files/en-us/web/accessibility/aria/attributes/aria-checked/index.md
  files/en-us/web/accessibility/aria/attributes/aria-colcount/index.md
Owners: @mdn/yari-content-accessibility

Update index.md (#10435)
  files/en-us/web/svg/attribute/transform/index.md
Owners: @mdn/yari-content-svg

New Page: aria-level
  files/en-us/web/accessibility/aria/attributes/aria-level/index.md
Owners: @mdn/yari-content-accessibility

aria-level:see also
  files/en-us/web/accessibility/aria/attributes/aria-level/index.md
Owners: @mdn/yari-content-accessibility

aria-level:see also
  files/en-us/web/accessibility/aria/attributes/aria-level/index.md
Owners: @mdn/yari-content-accessibility

aria-level: ariamixin
  files/en-us/web/accessibility/aria/attributes/aria-level/index.md
Owners: @mdn/yari-content-accessibility

Create taslak
  taslak
Owners: @mdn/core-yari-dev

Create taslak1
  taslak1
Owners: @mdn/core-yari-dev

modification
  files/en-us/web/api/audioparam/value/index.md
Owners: @mdn/yari-content-web-api

modification
  files/en-us/web/api/audioparam/value/index.md
Owners: @mdn/yari-content-web-api

final modification
  files/en-us/web/api/audioparam/value/index.md
Owners: @mdn/yari-content-web-api

docs(structuredClone): typo in adjective
  files/en-us/web/api/structuredclone/index.md
Owners: @mdn/yari-content-web-api

Typo in article (#10444)
  files/en-us/web/api/structuredclone/index.md
Owners: @mdn/yari-content-web-api

Fix code indentation on Web workers example
  files/en-us/web/api/web_workers_api/using_web_workers/index.md
Owners: @mdn/yari-content-web-api

Add missing NamedNodeMap pages
  files/en-us/web/api/namednodemap/getnameditem/index.md
  files/en-us/web/api/namednodemap/getnameditemns/index.md
  files/en-us/web/api/namednodemap/index.md
  files/en-us/web/api/namednodemap/item/index.md
  files/en-us/web/api/namednodemap/length/index.md
  files/en-us/web/api/namednodemap/removenameditem/index.md
  files/en-us/web/api/namednodemap/removenameditemns/index.md
  files/en-us/web/api/namednodemap/setnameditem/index.md
  files/en-us/web/api/namednodemap/setnameditemns/index.md
  files/jsondata/GroupData.json
Owners: @mdn/yari-content-web-api, @mdn/core-yari-dev

Remove extraneous space
  files/en-us/web/api/domtokenlist/foreach/index.md
Owners: @mdn/yari-content-web-api

Use a template literal
  files/en-us/web/api/domtokenlist/entries/index.md
Owners: @mdn/yari-content-web-api

Add Array.of() to see also
  files/en-us/web/javascript/reference/global_objects/array/from/index.md
Owners: @mdn/yari-content-javascript

Fix a typo in -moz-outline-radius-toright
  files/en-us/web/css/-moz-outline-radius-topright/index.md
Owners: @mdn/yari-content-css

suggestion fix
  files/en-us/web/javascript/reference/global_objects/array/from/index.md
Owners: @mdn/yari-content-javascript

Fix markup of table
  files/en-us/web/css/mask-repeat/index.md
Owners: @mdn/yari-content-css

Fix a typo in -moz-outline-radius-toright (#10449)
  files/en-us/web/css/-moz-outline-radius-topright/index.md
Owners: @mdn/yari-content-css
