Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

added rendering for good and bad code examples (#10416)
  files/en-us/mdn/contribute/markdown_in_mdn/index.md
Owners: @mdn/yari-content-mdn

Deletes literal `unknown`, adds note (#10607)
  files/en-us/web/svg/element/index.md
Owners: @mdn/yari-content-svg

SpeechSynthesisEvent is not experimental (#10631)
  files/en-us/web/api/speechsynthesisevent/charindex/index.md
  files/en-us/web/api/speechsynthesisevent/elapsedtime/index.md
  files/en-us/web/api/speechsynthesisevent/index.md
  files/en-us/web/api/speechsynthesisevent/name/index.md
  files/en-us/web/api/speechsynthesisevent/utterance/index.md
Owners: @mdn/yari-content-web-api

Remove rest of pr-lint (#10692)
  .github/dependabot.yml
  .github/workflows/system-file-changes.yml
  .gitignore
Owners: @mdn/core-yari-dev

Updates to JS Learning Area String: useful methods page (#10489)
  files/en-us/learn/javascript/first_steps/useful_string_methods/index.md
Owners: @mdn/yari-content-javascript

Remove Window.setCursor page
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/window/setcursor/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

Add clarification about CSS comment format
  files/en-us/tools/debugger/how_to/use_a_source_map/index.html
Owners: @mdn/yari-content-mdn

Added TLS Setup in the table (#10660)
  files/en-us/tools/network_monitor/request_details/index.html
Owners: @mdn/yari-content-mdn

Updating URL
  files/en-us/web/api/push_api/index.md
Owners: @mdn/yari-content-web-api

Adding the original string remains unmodified
  files/en-us/web/javascript/reference/global_objects/string/trim/index.md
Owners: @mdn/yari-content-javascript

input type="month": Fix to not be biased against the southern hemisphere (#10685)
  files/en-us/web/html/element/input/month/index.md
  files/en-us/web/html/element/input/month/month-required.png
Owners: @mdn/yari-content-html

How to structure web form: fix up CC expiry (#10690)
  files/en-us/learn/forms/how_to_structure_a_web_form/example/index.md
  files/en-us/learn/forms/how_to_structure_a_web_form/index.md
Owners: @mdn/yari-content-mdn

Archive Debugging (before Firefox 50)
  README.md
  files/en-us/_wikihistory.json
  files/en-us/mozilla/add-ons/webextensions/debugging_(before_firefox_50)/browser-toolbox.png
  files/en-us/mozilla/add-ons/webextensions/debugging_(before_firefox_50)/disable-autohide.png
  files/en-us/mozilla/add-ons/webextensions/debugging_(before_firefox_50)/frame-selection.png
  files/en-us/mozilla/add-ons/webextensions/debugging_(before_firefox_50)/hamburger.png
  files/en-us/mozilla/add-ons/webextensions/debugging_(before_firefox_50)/index.md
Owners: @mdn/core-yari-dev, @mdn/core-yari-content, @mdn/yari-content-mdn, @mdn/yari-content-mozilla-add-ons

Update index.md
  files/en-us/web/guide/unicode_bidrectional_text_algorithm/index.md
Owners: @mdn/yari-content-mdn

WebExt - intercept HTTP request easy fix to content messages (#10557)
  files/en-us/mozilla/add-ons/webextensions/intercept_http_requests/browser_console_show_content_messages.png
  files/en-us/mozilla/add-ons/webextensions/intercept_http_requests/browser_console_url_from_extension.png
  files/en-us/mozilla/add-ons/webextensions/intercept_http_requests/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Update files/en-us/web/javascript/reference/global_objects/array/reduce/index.md
  files/en-us/web/javascript/reference/global_objects/array/reduce/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/web/javascript/reference/global_objects/array/reduce/index.md
  files/en-us/web/javascript/reference/global_objects/array/reduce/index.md
Owners: @mdn/yari-content-javascript

array.reduce() improvements (#10555)
  files/en-us/web/javascript/reference/global_objects/array/reduce/index.md
Owners: @mdn/yari-content-javascript

Adding the original string remains unmodified (#10698)
  files/en-us/web/javascript/reference/global_objects/string/trim/index.md
Owners: @mdn/yari-content-javascript

Remove Window.setCursor page (#10694)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/window/setcursor/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

Random256 (#10686)
  files/en-us/learn/javascript/building_blocks/events/index.md
Owners: @mdn/yari-content-javascript

Delete bidi page
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/guide/index.md
  files/en-us/web/guide/unicode_bidrectional_text_algorithm/index.md
  files/en-us/web/html/element/input/email/index.md
  files/en-us/web/html/element/input/number/index.md
  files/en-us/web/html/element/input/password/index.md
  files/en-us/web/html/element/input/search/index.md
  files/en-us/web/html/element/input/tel/index.md
  files/en-us/web/html/element/input/text/index.md
  files/en-us/web/html/element/input/url/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-html

move list of supported* elements to property doc
  files/en-us/glossary/accent/index.md
  files/en-us/web/css/accent-color/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-css

Apply suggestions from code review
  files/en-us/web/api/webgl2renderingcontext/bufferdata/index.md
  files/en-us/web/api/webglrenderingcontext/bufferdata/index.md
Owners: @mdn/yari-content-web-api

SpeechSynthesisUtterance is not experimental
  files/en-us/web/api/speechsynthesisutterance/boundary_event/index.md
  files/en-us/web/api/speechsynthesisutterance/end_event/index.md
  files/en-us/web/api/speechsynthesisutterance/error_event/index.md
  files/en-us/web/api/speechsynthesisutterance/index.md
  files/en-us/web/api/speechsynthesisutterance/lang/index.md
  files/en-us/web/api/speechsynthesisutterance/mark_event/index.md
  files/en-us/web/api/speechsynthesisutterance/pause_event/index.md
  files/en-us/web/api/speechsynthesisutterance/pitch/index.md
  files/en-us/web/api/speechsynthesisutterance/rate/index.md
  files/en-us/web/api/speechsynthesisutterance/resume_event/index.md
  files/en-us/web/api/speechsynthesisutterance/speechsynthesisutterance/index.md
  files/en-us/web/api/speechsynthesisutterance/start_event/index.md
  files/en-us/web/api/speechsynthesisutterance/text/index.md
  files/en-us/web/api/speechsynthesisutterance/voice/index.md
  files/en-us/web/api/speechsynthesisutterance/volume/index.md
  files/en-us/web/api/web_speech_api/index.md
Owners: @mdn/yari-content-web-api

Layout fixes
  files/en-us/web/api/speechsynthesisutterance/index.md
  files/en-us/web/api/speechsynthesisutterance/lang/index.md
  files/en-us/web/api/speechsynthesisutterance/pitch/index.md
  files/en-us/web/api/speechsynthesisutterance/rate/index.md
  files/en-us/web/api/speechsynthesisutterance/speechsynthesisutterance/index.md
  files/en-us/web/api/speechsynthesisutterance/text/index.md
  files/en-us/web/api/speechsynthesisutterance/voice/index.md
  files/en-us/web/api/speechsynthesisutterance/volume/index.md
  files/en-us/web/api/web_speech_api/index.md
Owners: @mdn/yari-content-web-api

Add documentation for PermissionStatus.name
  files/en-us/web/api/permissionstatus/index.md
  files/en-us/web/api/permissionstatus/name/index.md
Owners: @mdn/yari-content-web-api

Web speech API - minor fixes
  files/en-us/web/api/web_speech_api/index.md
  files/en-us/web/api/window/speechsynthesis/index.md
Owners: @mdn/yari-content-web-api

minor subedit to match api property templates
  files/en-us/web/api/permissionstatus/name/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/web/api/permissionstatus/name/index.md
Owners: @mdn/yari-content-web-api

Add documentation for PermissionStatus.name (#10705)
  files/en-us/web/api/permissionstatus/index.md
  files/en-us/web/api/permissionstatus/name/index.md
Owners: @mdn/yari-content-web-api

Add accessibility info to <progress> doc
  files/en-us/web/html/element/progress/index.md
Owners: @mdn/yari-content-html

Fix links in articles of transform-functions
  files/en-us/web/css/transform-function/index.md
  files/en-us/web/css/transform-function/matrix()/index.md
  files/en-us/web/css/transform-function/rotate()/index.md
  files/en-us/web/css/transform-function/scale()/index.md
  files/en-us/web/css/transform-function/scale3d()/index.md
  files/en-us/web/css/transform-function/scalez()/index.md
  files/en-us/web/css/transform-function/skew()/index.md
  files/en-us/web/css/transform-function/translatex()/index.md
  files/en-us/web/css/transform-function/translatez()/index.md
  files/en-us/web/css/translation-value/index.md
Owners: @mdn/yari-content-css

HTTP Origin header - improve overview
  files/en-us/web/http/headers/origin/index.md
Owners: @mdn/yari-content-http

Remove gt, lt from links - not needed
  files/en-us/web/css/transform-function/index.md
Owners: @mdn/yari-content-css

Client-Server Overview - Accept-Language string mismatch
  files/en-us/learn/server-side/first_steps/client-server_overview/index.md
Owners: @mdn/yari-content-http

aria-live: edits
  files/en-us/web/accessibility/aria/attributes/aria-live/index.md
Owners: @mdn/yari-content-accessibility

Apply suggestions from code review
  files/en-us/web/accessibility/aria/attributes/aria-label/index.md
Owners: @mdn/yari-content-accessibility

HTTP Overview: Fix missing step in flow section
  files/en-us/web/http/overview/index.md
Owners: @mdn/yari-content-http

Update files/en-us/web/http/headers/origin/index.md
  files/en-us/web/http/headers/origin/index.md
Owners: @mdn/yari-content-http

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone
