Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-content, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/content-mathml, @mdn/core-dev, @mdn-bot

Update index.md
  files/en-us/web/javascript/reference/statements/var/index.md
Owners: @mdn/yari-content-javascript

Automatically fix fixable flaws in content (#28028)
  .github/workflows/markdown-lint-fix.yml
Owners: @mdn/core-dev

Update index.md - secure flag for localhost cookies in Chrome (#28055)
  files/en-us/web/http/headers/set-cookie/index.md
Owners: @mdn/yari-content-http

Update files/en-us/web/performance/how_browsers_work/index.md
  files/en-us/web/performance/how_browsers_work/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/web/performance/how_browsers_work/index.md
  files/en-us/web/performance/how_browsers_work/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/web/performance/how_browsers_work/index.md
  files/en-us/web/performance/how_browsers_work/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/web/performance/how_browsers_work/index.md
  files/en-us/web/performance/how_browsers_work/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/web/performance/how_browsers_work/index.md
  files/en-us/web/performance/how_browsers_work/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/web/performance/how_browsers_work/index.md
  files/en-us/web/performance/how_browsers_work/index.md
Owners: @mdn/yari-content-mdn

Remove 14kb rule and combine `Congestion control` with `Slow start` (#28061)
  files/en-us/web/performance/how_browsers_work/congestioncontrol.jpg
  files/en-us/web/performance/how_browsers_work/index.md
Owners: @mdn/yari-content-mdn

Markdownlint config: use named rules vs. numerical rules
  .markdownlint-cli2.jsonc
Owners: @mdn/core-dev

Update files/en-us/web/css/aspect-ratio/index.md
  files/en-us/web/css/aspect-ratio/index.md
Owners: @mdn/yari-content-css

Change "has" to "have" in index.md (#28063)
  files/en-us/web/css/aspect-ratio/index.md
Owners: @mdn/yari-content-css

Markdownlint config: use named rules vs. numerical rules (#28069)
  .markdownlint-cli2.jsonc
Owners: @mdn/core-dev

Update files/en-us/web/api/credentialscontainer/get/index.md
  files/en-us/web/api/credentialscontainer/get/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/credentialscontainer/get/index.md
  files/en-us/web/api/credentialscontainer/get/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/credentialscontainer/get/index.md
  files/en-us/web/api/credentialscontainer/get/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/webotp_api/index.md
  files/en-us/web/api/webotp_api/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/webotp_api/index.md
  files/en-us/web/api/webotp_api/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/webotp_api/index.md
  files/en-us/web/api/webotp_api/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/webotp_api/index.md
  files/en-us/web/api/webotp_api/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/credentialscontainer/get/index.md
  files/en-us/web/api/credentialscontainer/get/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/credentialscontainer/get/index.md
  files/en-us/web/api/credentialscontainer/get/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/otpcredential/code/index.md
  files/en-us/web/api/otpcredential/code/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/otpcredential/index.md
  files/en-us/web/api/otpcredential/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/webotp_api/index.md
  files/en-us/web/api/webotp_api/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/webotp_api/index.md
  files/en-us/web/api/webotp_api/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/webotp_api/index.md
  files/en-us/web/api/webotp_api/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/webotp_api/index.md
  files/en-us/web/api/webotp_api/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/webotp_api/index.md
  files/en-us/web/api/webotp_api/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/webotp_api/index.md
  files/en-us/web/api/webotp_api/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/webotp_api/index.md
  files/en-us/web/api/webotp_api/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/webotp_api/index.md
  files/en-us/web/api/webotp_api/index.md
Owners: @mdn/yari-content-web-api

Prettier
  files/en-us/web/css/-webkit-mask-position-x/index.md
  files/en-us/web/css/-webkit-mask-position-y/index.md
  files/en-us/web/css/box-align/index.md
  files/en-us/web/css/box-flex/index.md
  files/en-us/web/css/mask-position/index.md
  files/en-us/web/css/mask-repeat/index.md
  files/en-us/web/css/text-rendering/index.md
Owners: @mdn/yari-content-css

Missed one
  files/en-us/web/css/text-overflow/index.md
Owners: @mdn/yari-content-css

Make fixes for dipikabh comments
  files/en-us/web/api/credentialscontainer/get/index.md
  files/en-us/web/api/otpcredential/code/index.md
  files/en-us/web/api/otpcredential/index.md
  files/en-us/web/api/webotp_api/index.md
  files/en-us/web/html/attributes/autocomplete/index.md
Owners: @mdn/yari-content-web-api, @mdn/yari-content-html

WebAssembly | Memory - homogenise descriptions, and add note about SAB (#27021)
  files/en-us/webassembly/javascript_interface/memory/grow/index.md
  files/en-us/webassembly/javascript_interface/memory/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/learn/performance/javascript/index.md
  files/en-us/learn/performance/javascript/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/learn/performance/javascript/index.md
  files/en-us/learn/performance/javascript/index.md
Owners: @mdn/yari-content-mdn

fix(cli): point to npx docs on npm
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/command_line/index.md
Owners: @mdn/yari-content-mdn

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons

# ----------------------------------------------------------------------------
# ENGLISH MATHML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/mathml/    @mdn/content-mathml


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-yari-content
# These are @mdn-bot because the auto-merge GHA workflow uses the PAT of this account.
# If another reviewer is specified, update the PAT token or auto-merge will cease to be automatic.
/package.json @mdn-bot
/yarn.lock    @mdn-bot
