Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone

copy-editing, See also section
  files/en-us/web/api/htmlelement/focus/index.md
Owners: @mdn/yari-content-web-api

Update See Also with focusin/focusout (#10314)
  files/en-us/web/api/htmlelement/focus/index.md
Owners: @mdn/yari-content-web-api

Convert codepen into live sample (#10305)
  files/en-us/web/css/css_transitions/using_css_transitions/index.md
Owners: @mdn/yari-content-css

Remove irrelevant link
  files/en-us/web/javascript/memory_management/index.md
Owners: @mdn/yari-content-javascript

Fix broken link (#10309)
  files/en-us/web/javascript/memory_management/index.md
Owners: @mdn/yari-content-javascript

Update index.md
  files/en-us/glossary/parameter/index.md
Owners: @mdn/yari-content-mdn

Update index.md
  files/en-us/web/api/xpathresult/singlenodevalue/index.md
Owners: @mdn/yari-content-web-api

Fix typo
  files/en-us/web/http/status/index.md
Owners: @mdn/yari-content-http

Fix typo (#10324)
  files/en-us/web/http/status/index.md
Owners: @mdn/yari-content-http

Update index.md (#10323)
  files/en-us/web/api/xpathresult/singlenodevalue/index.md
Owners: @mdn/yari-content-web-api

Use correct identifier
  files/en-us/glossary/parameter/index.md
Owners: @mdn/yari-content-mdn

Copy-edit
  files/en-us/glossary/parameter/index.md
Owners: @mdn/yari-content-mdn

Update index.md (#10322)
  files/en-us/glossary/parameter/index.md
Owners: @mdn/yari-content-mdn

Fix indentation
  files/en-us/learn/javascript/building_blocks/looping_code/index.md
Owners: @mdn/yari-content-javascript

Update index.md (#10311)
  files/en-us/learn/javascript/building_blocks/looping_code/index.md
Owners: @mdn/yari-content-javascript

fix a word
  files/en-us/web/api/audioparam/index.md
Owners: @mdn/yari-content-web-api

Fix a word in AudioParam(#10326)
  files/en-us/web/api/audioparam/index.md
Owners: @mdn/yari-content-web-api

Remove instant mention
  files/en-us/web/api/element/scrollto/index.md
Owners: @mdn/yari-content-web-api

Fixed anchor tag and renamed link name
  .idea/.gitignore
  .idea/content.iml
  .idea/modules.xml
  .idea/vcs.xml
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/index.md
Owners: @mdn/core-yari-dev, @mdn/yari-content-mozilla-add-ons

Delete vcs.xml
  .idea/vcs.xml
Owners: @mdn/core-yari-dev

Delete modules.xml
  .idea/modules.xml
Owners: @mdn/core-yari-dev

Delete .gitignore
  .idea/.gitignore
Owners: @mdn/core-yari-dev

Delete content.iml
  .idea/content.iml
Owners: @mdn/core-yari-dev

Added the examples to an example table
  files/en-us/mozilla/add-ons/webextensions/manifest.json/chrome_settings_overrides/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Fixed anchor tag and renamed link name (#10329)
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/index.md
Owners: @mdn/yari-content-mozilla-add-ons

onerror: Document that `error` field can be null
  files/en-us/web/api/globaleventhandlers/onerror/index.md
Owners: @mdn/yari-content-web-api

Fixed anchor text appeareance
  files/en-us/web/css/css_types/index.md
Owners: @mdn/yari-content-css

Fixed anchor text appeareance (#10336)
  files/en-us/web/css/css_types/index.md
Owners: @mdn/yari-content-css

Update files/en-us/web/accessibility/aria/attributes/aria-haspopup/index.md
  files/en-us/web/accessibility/aria/attributes/aria-haspopup/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-haspopup/index.md
  files/en-us/web/accessibility/aria/attributes/aria-haspopup/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-haspopup/index.md
  files/en-us/web/accessibility/aria/attributes/aria-haspopup/index.md
Owners: @mdn/yari-content-accessibility

New Page: aria-haspopup (#10250)
  files/en-us/web/accessibility/aria/attributes/aria-haspopup/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-invalid/index.md
  files/en-us/web/accessibility/aria/attributes/aria-invalid/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-invalid/index.md
  files/en-us/web/accessibility/aria/attributes/aria-invalid/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-invalid/index.md
  files/en-us/web/accessibility/aria/attributes/aria-invalid/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-invalid/index.md
  files/en-us/web/accessibility/aria/attributes/aria-invalid/index.md
Owners: @mdn/yari-content-accessibility

New page: aria-invalid (#10278)
  files/en-us/web/accessibility/aria/attributes/aria-invalid/index.md
Owners: @mdn/yari-content-accessibility

Standardize the condition for opening a popup by window.open, and BarProp values
  files/en-us/web/api/barprop/visible/index.md
  files/en-us/web/api/window/open/index.md
  files/en-us/web/api/window/open/obsolete_features/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/window/open/index.md
  files/en-us/web/api/window/open/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/web/api/barprop/visible/index.md
Owners: @mdn/yari-content-web-api
