Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

Update files/en-us/web/accessibility/aria/attributes/aria-valuemin/index.md
  files/en-us/web/accessibility/aria/attributes/aria-valuemin/index.md
Owners: @mdn/yari-content-accessibility

New page: aria-valuemin (#10755)
  files/en-us/web/accessibility/aria/attributes/aria-valuemin/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-valuenow/index.md
  files/en-us/web/accessibility/aria/attributes/aria-valuenow/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-valuenow/index.md
  files/en-us/web/accessibility/aria/attributes/aria-valuenow/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-valuenow/index.md
  files/en-us/web/accessibility/aria/attributes/aria-valuenow/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-valuenow/index.md
  files/en-us/web/accessibility/aria/attributes/aria-valuenow/index.md
Owners: @mdn/yari-content-accessibility

New page: aria-valuenow (#10753)
  files/en-us/web/accessibility/aria/attributes/aria-valuenow/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-valuemax/index.md
  files/en-us/web/accessibility/aria/attributes/aria-valuemax/index.md
Owners: @mdn/yari-content-accessibility

New page: aria-valuemax (#10756)
  files/en-us/web/accessibility/aria/attributes/aria-valuemax/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-readonly/index.md
  files/en-us/web/accessibility/aria/attributes/aria-readonly/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-readonly/index.md
  files/en-us/web/accessibility/aria/attributes/aria-readonly/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-readonly/index.md
  files/en-us/web/accessibility/aria/attributes/aria-readonly/index.md
Owners: @mdn/yari-content-accessibility

New page: aria-readonly (#10762)
  files/en-us/web/accessibility/aria/attributes/aria-readonly/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-pressed/index.md
  files/en-us/web/accessibility/aria/attributes/aria-pressed/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-pressed/index.md
  files/en-us/web/accessibility/aria/attributes/aria-pressed/index.md
Owners: @mdn/yari-content-accessibility

New page: aria-pressed (#10763)
  files/en-us/web/accessibility/aria/attributes/aria-pressed/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-orientation/index.md
  files/en-us/web/accessibility/aria/attributes/aria-orientation/index.md
Owners: @mdn/yari-content-accessibility

New page: aria-orientation (#10797)
  files/en-us/web/accessibility/aria/attributes/aria-orientation/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-posinset/index.md
  files/en-us/web/accessibility/aria/attributes/aria-posinset/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-posinset/index.md
  files/en-us/web/accessibility/aria/attributes/aria-posinset/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-posinset/index.md
  files/en-us/web/accessibility/aria/attributes/aria-posinset/index.md
Owners: @mdn/yari-content-accessibility

New Page: aria-posinset (#10805)
  files/en-us/web/accessibility/aria/attributes/aria-posinset/index.md
Owners: @mdn/yari-content-accessibility

New page: aria-valuetext (#10738)
  files/en-us/web/accessibility/aria/attributes/aria-valuetext/index.md
Owners: @mdn/yari-content-accessibility

Small fixes (#10826)
  files/en-us/learn/getting_started_with_the_web/dealing_with_files/index.md
  files/en-us/mozilla/add-ons/webextensions/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-mozilla-add-ons

Standardize casing of phrase (#10825)
  files/en-us/web/css/using_css_custom_properties/index.md
Owners: @mdn/yari-content-css

update branch name
  files/en-us/learn/css/styling_text/web_fonts/index.md
Owners: @mdn/yari-content-css

correct JIST to JIT
  files/en-us/web/javascript/reference/global_objects/math/imul/index.md
Owners: @mdn/yari-content-javascript

Links to the Crypto101 course. Thanks @y-a-v-a
  files/en-us/web/api/web_crypto_api/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/web/api/web_crypto_api/index.md
Owners: @mdn/yari-content-web-api

correct JIST to JIT (#10829)
  files/en-us/web/javascript/reference/global_objects/math/imul/index.md
Owners: @mdn/yari-content-javascript

Remove inaccessible link within live-sample
  files/en-us/web/api/background_tasks_api/index.md
Owners: @mdn/yari-content-web-api

Fix broken link
  files/en-us/web/api/background_tasks_api/index.md
Owners: @mdn/yari-content-web-api

fix typo
  files/en-us/learn/server-side/index.md
Owners: @mdn/yari-content-http

EyeDropper can only be use in a secure context
  files/en-us/web/security/secure_contexts/features_restricted_to_secure_contexts/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/web/accessibility/aria/attributes/aria-live/index.md
  files/en-us/web/accessibility/aria/attributes/aria-live/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-live/index.md
  files/en-us/web/accessibility/aria/attributes/aria-live/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-live/index.md
  files/en-us/web/accessibility/aria/attributes/aria-live/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-live/index.md
  files/en-us/web/accessibility/aria/attributes/aria-live/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-live/index.md
  files/en-us/web/accessibility/aria/attributes/aria-live/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-live/index.md
  files/en-us/web/accessibility/aria/attributes/aria-live/index.md
Owners: @mdn/yari-content-accessibility

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone
