Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

Fix link to GitHub
  files/en-us/learn/javascript/building_blocks/events/index.md
Owners: @mdn/yari-content-javascript

respond->react
  files/en-us/learn/javascript/building_blocks/events/index.md
Owners: @mdn/yari-content-javascript

WakeLockSentinel: onrelease -> release event
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/wakelocksentinel/index.md
  files/en-us/web/api/wakelocksentinel/onrelease/index.md
  files/en-us/web/api/wakelocksentinel/release_event/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

Update files/en-us/web/api/xrreferencespace/reset_event/index.md
  files/en-us/web/api/xrreferencespace/reset_event/index.md
Owners: @mdn/yari-content-web-api

Fix incorrect comment syntax (#10902)
  files/en-us/web/html/element/p/index.md
Owners: @mdn/yari-content-html

Update index.md (#10898)
  files/en-us/web/accessibility/aria/attributes/aria-expanded/index.md
Owners: @mdn/yari-content-accessibility

Review comments updates
  files/en-us/learn/javascript/building_blocks/events/index.md
Owners: @mdn/yari-content-javascript

Use reusable workflow for idle issues
  .github/workflows/idle-issues.yml
Owners: @mdn/core-yari-dev

Fix developer.google.com links (#10637)
  files/en-us/web/accessibility/seizure_disorders/index.md
  files/en-us/web/api/clients/claim/index.md
  files/en-us/web/api/document/createelementns/index.md
  files/en-us/web/api/element/setattribute/index.md
  files/en-us/web/api/indexeddb_api/browser_storage_limits_and_eviction_criteria/index.md
  files/en-us/web/api/long_tasks_api/index.md
  files/en-us/web/api/resize_observer_api/index.md
  files/en-us/web/progressive_web_apps/add_to_home_screen/index.md
  files/en-us/web/progressive_web_apps/installing/index.md
Owners: @mdn/yari-content-accessibility, @mdn/yari-content-web-api, @mdn/yari-content-mdn

Delete glossary entry and usages
  files/en-us/_wikihistory.json
  files/en-us/glossary/dynamic_programming_language/index.md
  files/en-us/learn/getting_started_with_the_web/javascript_basics/index.md
Owners: @mdn/yari-content-mdn

More info on event bubbling; move and modify event target example
  files/en-us/learn/javascript/building_blocks/events/index.md
Owners: @mdn/yari-content-javascript

Delete glossary Dynamic programming language (#10630)
  files/en-us/_wikihistory.json
  files/en-us/glossary/dynamic_programming_language/index.md
  files/en-us/learn/getting_started_with_the_web/javascript_basics/index.md
Owners: @mdn/yari-content-mdn

Minor tidy
  files/en-us/web/javascript/reference/operators/logical_and/index.md
Owners: @mdn/yari-content-javascript

Revise the "Logical AND (&&)" page (#10846)
  files/en-us/web/javascript/reference/operators/logical_and/index.md
Owners: @mdn/yari-content-javascript

New page: aria-rowcount
  files/en-us/web/accessibility/aria/attributes/aria-rowcount/index.md
Owners: @mdn/yari-content-accessibility

New page: aria-rowcount
  files/en-us/web/accessibility/aria/attributes/aria-rowcount/index.md
Owners: @mdn/yari-content-accessibility

rowcount edits
  files/en-us/web/accessibility/aria/attributes/aria-rowcount/index.md
Owners: @mdn/yari-content-accessibility

Logical And: Fix typo
  files/en-us/web/javascript/reference/operators/logical_and/index.md
Owners: @mdn/yari-content-javascript

Experimental features - Webshare API enabled on Android
  files/en-us/mozilla/firefox/experimental_features/index.md
Owners: @mdn/yari-content-mdn

FF96 Canshare release note (on android)
  files/en-us/mozilla/firefox/releases/96/index.md
Owners: @mdn/yari-content-mdn

Add task 4 to Arrays module
  files/en-us/learn/javascript/first_steps/test_your_skills_colon__arrays/index.md
Owners: @mdn/yari-content-javascript

UA Hints API - remove circular explainer link
  files/en-us/web/api/user-agent_client_hints_api/index.md
Owners: @mdn/yari-content-web-api

JS Learn: add task to Functions-Test your skills
  files/en-us/learn/javascript/building_blocks/test_your_skills_colon__functions/index.md
Owners: @mdn/yari-content-javascript

Logical And: Fix typo (#10932)
  files/en-us/web/javascript/reference/operators/logical_and/index.md
Owners: @mdn/yari-content-javascript

html the example
  files/en-us/web/accessibility/aria/attributes/aria-rowcount/index.md
Owners: @mdn/yari-content-accessibility

linked the table role
  files/en-us/web/accessibility/aria/attributes/aria-rowcount/index.md
Owners: @mdn/yari-content-accessibility

Remove 'which should you use' section
  files/en-us/learn/javascript/building_blocks/events/index.md
Owners: @mdn/yari-content-javascript

Updates to note that samesite is now scheme aware
  files/en-us/web/http/cookies/index.md
  files/en-us/web/http/headers/set-cookie/index.md
  files/en-us/web/http/headers/set-cookie/samesite/index.md
Owners: @mdn/yari-content-http

xpathevaluator: use var xpath (#10889)
  files/en-us/web/api/xpathevaluator/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/wakelocksentinel/release_event/index.md
  files/en-us/web/api/wakelocksentinel/release_event/index.md
Owners: @mdn/yari-content-web-api

WakeLockSentinel: onrelease -> release event (#10925)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/wakelocksentinel/index.md
  files/en-us/web/api/wakelocksentinel/onrelease/index.md
  files/en-us/web/api/wakelocksentinel/release_event/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

Update files/en-us/glossary/iife/index.md
  files/en-us/glossary/iife/index.md
Owners: @mdn/yari-content-mdn

Adding console.log to IIFE as needed + small edit (#10890)
  files/en-us/glossary/iife/index.md
Owners: @mdn/yari-content-mdn

FF96 Relnoes: Samesite-Lax by default
  files/en-us/mozilla/firefox/releases/96/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/learn/javascript/building_blocks/test_your_skills_colon__functions/index.md
  files/en-us/learn/javascript/building_blocks/test_your_skills_colon__functions/index.md
Owners: @mdn/yari-content-javascript

JS Learn: add task to Functions-Test your skills (#10935)
  files/en-us/learn/javascript/building_blocks/test_your_skills_colon__functions/index.md
Owners: @mdn/yari-content-javascript

JS Learn updates: Add a task to the Arrays module (#10934)
  files/en-us/learn/javascript/first_steps/test_your_skills_colon__arrays/index.md
Owners: @mdn/yari-content-javascript

Ff96 canShare release note AND experimental features (#10933)
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/96/index.md
Owners: @mdn/yari-content-mdn

Fix up OffscreenCanvas.convertToBlob()
  files/en-us/web/api/offscreencanvas/converttoblob/index.md
Owners: @mdn/yari-content-web-api

Add listing of missing method. (#10917)
  files/en-us/web/api/audiobuffersourcenode/index.md
Owners: @mdn/yari-content-web-api

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone
