Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-content, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/content-mathml, @mdn/core-dev, @mdn-bot

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons

# ----------------------------------------------------------------------------
# ENGLISH MATHML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/mathml/    @mdn/content-mathml


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-yari-content
# These are @mdn-bot because the auto-merge GHA workflow uses the PAT of this account.
# If another reviewer is specified, update the PAT token or auto-merge will cease to be automatic.
/package.json @mdn-bot
/yarn.lock    @mdn-bot

A few final tweaks
  files/en-us/learn/performance/index.md
  files/en-us/learn/performance/javascript/index.md
  files/en-us/learn/performance/measuring_performance/index.md
Owners: @mdn/yari-content-mdn

Update JS perf article and others (#27848)
  files/en-us/learn/performance/index.md
  files/en-us/learn/performance/javascript/index.md
  files/en-us/learn/performance/measuring_performance/index.md
  files/en-us/web/api/scheduling/isinputpending/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

Update files/en-us/glossary/reflow/index.md
  files/en-us/glossary/reflow/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/glossary/render_blocking/index.md
  files/en-us/glossary/render_blocking/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/glossary/repaint/index.md
  files/en-us/glossary/repaint/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/learn/performance/css/index.md
  files/en-us/learn/performance/css/index.md
Owners: @mdn/yari-content-mdn

Remove copypasta from X-Forwarded-Host article
  files/en-us/web/http/headers/x-forwarded-host/index.md
Owners: @mdn/yari-content-http

Last few tweaks
  files/en-us/glossary/render_blocking/index.md
  files/en-us/learn/performance/css/index.md
  files/en-us/learn/performance/index.md
Owners: @mdn/yari-content-mdn

Flaw fixes
  files/en-us/learn/performance/css/index.md
  files/en-us/learn/performance/html/index.md
Owners: @mdn/yari-content-mdn

Improve HTML and CSS perf docs (#27558)
  files/en-us/glossary/reflow/index.md
  files/en-us/glossary/render_blocking/index.md
  files/en-us/glossary/repaint/index.md
  files/en-us/learn/performance/css/index.md
  files/en-us/learn/performance/html/index.md
  files/en-us/learn/performance/index.md
Owners: @mdn/yari-content-mdn

fix(perf): two typo fixes
  files/en-us/learn/performance/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/web/security/index.md
  files/en-us/web/security/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/web/security/index.md
  files/en-us/web/security/index.md
Owners: @mdn/yari-content-mdn

fix(perf): two typo fixes in perf docs (#28074)
  files/en-us/learn/performance/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/web/security/index.md
  files/en-us/web/security/index.md
Owners: @mdn/yari-content-mdn

Small tweak
  files/en-us/web/security/index.md
Owners: @mdn/yari-content-mdn

28071 dead link in command line crash course installing prettier (#28072)
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/command_line/index.md
Owners: @mdn/yari-content-mdn

Update privacy and security landing pages (#27268)
  files/en-us/web/privacy/index.md
  files/en-us/web/security/index.md
  files/en-us/web/security/referer_header_colon__privacy_and_security_concerns/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/experimental_features/index.md
Owners: @mdn/yari-content-mdn

fix(typo): Prefer JavaScript over Javascript
  files/en-us/glossary/boolean/javascript/index.md
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/getmatchedrules/index.md
  files/en-us/web/accessibility/seizure_disorders/index.md
  files/en-us/web/guide/writing_forward-compatible_websites/index.md
  files/en-us/web/progressive_web_apps/tutorials/cycletracker/javascript_functionality/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-mozilla-add-ons, @mdn/yari-content-accessibility

Add note about lazy-loaded images with width or height 0 not loading.
  files/en-us/web/html/element/img/index.md
Owners: @mdn/yari-content-html

Correct the user preferences section of the prefers-reduced-transparency page
  files/en-us/web/css/@media/prefers-reduced-transparency/index.md
Owners: @mdn/yari-content-css

fix(typo): Prefer JavaScript over javascript
  files/en-us/learn/javascript/first_steps/variables/index.md
  files/en-us/learn/server-side/apache_configuration_htaccess/index.md
  files/en-us/mozilla/add-ons/webextensions/your_second_webextension/index.md
Owners: @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-mozilla-add-ons

docs(relnote): Update Firefox release for "offset-position" (#28036)
  files/en-us/mozilla/firefox/experimental_features/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/mozilla/firefox/releases/116/index.md
  files/en-us/mozilla/firefox/releases/116/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/web/svg/content_type/index.md
  files/en-us/web/svg/content_type/index.md
Owners: @mdn/yari-content-svg

fix(typo): Fix Javascript & javascript -> JavaScript (#28079)
  files/en-us/glossary/boolean/javascript/index.md
  files/en-us/learn/javascript/first_steps/variables/index.md
  files/en-us/learn/server-side/apache_configuration_htaccess/index.md
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/getmatchedrules/index.md
  files/en-us/mozilla/add-ons/webextensions/your_second_webextension/index.md
  files/en-us/web/accessibility/seizure_disorders/index.md
  files/en-us/web/guide/writing_forward-compatible_websites/index.md
  files/en-us/web/progressive_web_apps/tutorials/cycletracker/javascript_functionality/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-mozilla-add-ons, @mdn/yari-content-accessibility

Do not hardcode property name
  files/en-us/web/javascript/reference/global_objects/object/__lookupgetter__/index.md
  files/en-us/web/javascript/reference/global_objects/object/__lookupsetter__/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/web/javascript/reference/statements/var/index.md
  files/en-us/web/javascript/reference/statements/var/index.md
Owners: @mdn/yari-content-javascript

add slot tag to flow content list
  files/en-us/web/html/content_categories/index.md
Owners: @mdn/yari-content-html

[glossary] [percent-encoding] add more see-more for encodeURI and encodeURIComponent
  files/en-us/glossary/percent-encoding/index.md
Owners: @mdn/yari-content-mdn

Update index.md
  files/en-us/glossary/percent-encoding/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/web/javascript/reference/statements/var/index.md
  files/en-us/web/javascript/reference/statements/var/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/web/javascript/reference/statements/var/index.md
  files/en-us/web/javascript/reference/statements/var/index.md
Owners: @mdn/yari-content-javascript

Do not hardcode property name (#28081)
  files/en-us/web/javascript/reference/global_objects/object/__lookupgetter__/index.md
  files/en-us/web/javascript/reference/global_objects/object/__lookupsetter__/index.md
Owners: @mdn/yari-content-javascript

Correct the prefers-reduced-transparency page (#28078)
  files/en-us/web/css/@media/prefers-reduced-transparency/index.md
Owners: @mdn/yari-content-css

Remove strange third-party links that mirror old MDN pages
  files/en-us/mozilla/firefox/releases/11/index.md
  files/en-us/mozilla/firefox/releases/12/index.md
  files/en-us/mozilla/firefox/releases/19/index.md
  files/en-us/mozilla/firefox/releases/36/index.md
  files/en-us/mozilla/firefox/releases/4/index.md
  files/en-us/mozilla/firefox/releases/5/index.md
  files/en-us/mozilla/firefox/releases/6/index.md
Owners: @mdn/yari-content-mdn

fix(CSS): add :focus vs :focus-visible section (#28024)
  files/en-us/web/css/_colon_focus-visible/index.md
Owners: @mdn/yari-content-css

Update index.md
  files/en-us/web/html/element/input/index.md
Owners: @mdn/yari-content-html

Update files/en-us/glossary/percent-encoding/index.md
  files/en-us/glossary/percent-encoding/index.md
Owners: @mdn/yari-content-mdn
