Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

remove "nonstandard" from `preservesPitch`
  files/en-us/web/api/htmlmediaelement/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/glossary/primitive/index.md
Owners: @mdn/yari-content-mdn

JS Learn Intro: miscellaneous updates, part 1
  files/en-us/learn/javascript/first_steps/a_first_splash/index.md
  files/en-us/learn/javascript/first_steps/what_is_javascript/index.md
Owners: @mdn/yari-content-javascript

move and slug
  files/en-us/web/api/web_crypto_api/non-cryptographic_uses_of_subtle_crypto/blender-sha256-example.png
  files/en-us/web/api/web_crypto_api/non-cryptographic_uses_of_subtle_crypto/index.md
Owners: @mdn/yari-content-web-api

remove heading
  files/en-us/web/api/web_crypto_api/non-cryptographic_uses_of_subtle_crypto/index.md
Owners: @mdn/yari-content-web-api

add sidebar
  files/en-us/web/api/web_crypto_api/non-cryptographic_uses_of_subtle_crypto/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/web/css/css_container_queries/index.md
Owners: @mdn/yari-content-css

New Page: aria-rowindextext
  files/en-us/web/accessibility/aria/attributes/aria-rowindextext/index.md
Owners: @mdn/yari-content-accessibility

JS Learn Intro: miscellaneous updates, part 2
  files/en-us/learn/javascript/first_steps/arrays/index.md
  files/en-us/learn/javascript/first_steps/math/index.md
  files/en-us/learn/javascript/first_steps/variables/index.md
Owners: @mdn/yari-content-javascript

remove "nonstandard" from `preservesPitch` (#10952)
  files/en-us/web/api/htmlmediaelement/index.md
Owners: @mdn/yari-content-web-api

Fix typo (#10947)
  files/en-us/webassembly/understanding_the_text_format/index.md
Owners: @mdn/yari-content-mdn

Line 61 - 63
  files/en-us/web/css/_colon_hover/index.md
Owners: @mdn/yari-content-css

Fixes #7592. Adds (non bigint) exception
  files/en-us/web/javascript/reference/global_objects/bigint64array/bigint64array/index.md
  files/en-us/web/javascript/reference/global_objects/biguint64array/biguint64array/index.md
  files/en-us/web/javascript/reference/global_objects/float32array/float32array/index.md
  files/en-us/web/javascript/reference/global_objects/float64array/float64array/index.md
  files/en-us/web/javascript/reference/global_objects/int16array/int16array/index.md
  files/en-us/web/javascript/reference/global_objects/int32array/int32array/index.md
  files/en-us/web/javascript/reference/global_objects/int8array/int8array/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/index.md
  files/en-us/web/javascript/reference/global_objects/uint16array/uint16array/index.md
  files/en-us/web/javascript/reference/global_objects/uint32array/uint32array/index.md
  files/en-us/web/javascript/reference/global_objects/uint8array/uint8array/index.md
  files/en-us/web/javascript/reference/global_objects/uint8clampedarray/uint8clampedarray/index.md
Owners: @mdn/yari-content-javascript

adds exception
  files/en-us/web/javascript/reference/global_objects/typedarray/index.md
Owners: @mdn/yari-content-javascript

adds hyphen, removes parens
  files/en-us/web/javascript/reference/global_objects/float32array/float32array/index.md
  files/en-us/web/javascript/reference/global_objects/float64array/float64array/index.md
  files/en-us/web/javascript/reference/global_objects/int16array/int16array/index.md
  files/en-us/web/javascript/reference/global_objects/int32array/int32array/index.md
  files/en-us/web/javascript/reference/global_objects/int8array/int8array/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/index.md
  files/en-us/web/javascript/reference/global_objects/uint16array/uint16array/index.md
  files/en-us/web/javascript/reference/global_objects/uint32array/uint32array/index.md
  files/en-us/web/javascript/reference/global_objects/uint8array/uint8array/index.md
  files/en-us/web/javascript/reference/global_objects/uint8clampedarray/uint8clampedarray/index.md
Owners: @mdn/yari-content-javascript

follow up on pull request 10959
  files/en-us/web/css/_colon_hover/index.md
Owners: @mdn/yari-content-css

docs(Using Web Workers): fix typo in code (queryArguments --> queryMethodArguments) (#10901)
  files/en-us/web/api/web_workers_api/using_web_workers/index.md
Owners: @mdn/yari-content-web-api

follow up on pull request 10959 (#10961)
  files/en-us/web/css/_colon_hover/index.md
Owners: @mdn/yari-content-css

Updated Parsing link from speculative parsing to parsing
  files/en-us/web/performance/how_browsers_work/index.md
Owners: @mdn/yari-content-mdn

Remove inline styling
  files/en-us/tools/browser_toolbox/index.html
Owners: @mdn/yari-content-mdn

Remove inline styling
  files/en-us/tools/network_monitor/index.html
Owners: @mdn/yari-content-mdn

Remove inline styling
  files/en-us/tools/taking_screenshots/index.html
Owners: @mdn/yari-content-mdn

Remove inline styling
  files/en-us/tools/tools_toolbox/index.html
Owners: @mdn/yari-content-mdn

New page: aria-rowspan
  files/en-us/web/accessibility/aria/attributes/aria-rowspan/index.md
Owners: @mdn/yari-content-accessibility

Grammar fix
  files/en-us/web/accessibility/aria/attributes/index.md
Owners: @mdn/yari-content-accessibility

Grammar fix
  files/en-us/web/accessibility/aria/attributes/index.md
Owners: @mdn/yari-content-accessibility

Grammar fix
  files/en-us/web/accessibility/aria/attributes/index.md
Owners: @mdn/yari-content-accessibility

grammatical correction: less -> fewer
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_getting_started/index.md
Owners: @mdn/yari-content-mdn

CYRINEE
  files/en-us/web/css/reference/index.md
Owners: @mdn/yari-content-css

Update files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
  files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
  files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
  files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
  files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
  files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
  files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
  files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
  files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
  files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
  files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
  files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
Owners: @mdn/yari-content-accessibility

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone
