Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone

Update element/input/submit/index.md
  files/en-us/web/html/element/input/submit/index.md
Owners: @mdn/yari-content-html

Address feedback, add comments
  files/en-us/web/api/web_crypto_api/non-cryptographic_uses_of_subtle_crypto/index.md
Owners: @mdn/yari-content-web-api

Embed tab-size Interactive example to page
  files/en-us/web/css/tab-size/index.md
Owners: @mdn/yari-content-css

Remove extra asterisks
  files/en-us/learn/common_questions/what_is_a_url/index.md
Owners: @mdn/yari-content-mdn

Add root Netlify config
  netlify.toml
Owners: @mdn/core-yari-dev

Remove extra asterisks
  files/en-us/learn/getting_started_with_the_web/html_basics/index.md
Owners: @mdn/yari-content-mdn

Add Netlify build configuration file
  meta/netlify.toml
Owners: @mdn/core-yari-dev

Add initial meta site config
  .gitmodules
  meta/.gitignore
  meta/config.toml
  meta/netlify.toml
  meta/package.json
  meta/yarn.lock
Owners: @mdn/core-yari-dev

Meta: print a prettier URL for development
  meta/package.json
Owners: @mdn/core-yari-dev

Add content scaffold
  meta/content/en/_index.md
  meta/content/en/changelog.md
  meta/content/en/community/_index.md
  meta/content/en/community/etiquette.md
  meta/content/en/community/fora.md
  meta/content/en/community/people.md
  meta/content/en/community/report-cpg-spam.md
  meta/content/en/get-started/_index.md
  meta/content/en/get-started/ways-to-contribute.md
  meta/content/en/get-started/why.md
  meta/content/en/governance/_index.md
  meta/content/en/governance/issues/_index.md
  meta/content/en/governance/issues/triage.md
  meta/content/en/governance/meetings.md
  meta/content/en/governance/pulls/_index.md
  meta/content/en/governance/pulls/review.md
  meta/content/en/governance/roadmap.md
  meta/content/en/governance/roles-and-responsibilities.md
  meta/content/en/legacy/_index.md
  meta/content/en/related/_index.md
  meta/content/en/related/browser-compat-data.md
  meta/content/en/related/repositories.md
  meta/content/en/related/specifications.md
  meta/content/en/related/yari.md
  meta/content/en/writing/_index.md
  meta/content/en/writing/browser-compat.md
  meta/content/en/writing/deployment.md
  meta/content/en/writing/interactive-examples.md
  meta/content/en/writing/markdown/_index.md
  meta/content/en/writing/markdown/code.md
  meta/content/en/writing/markdown/frontmatter.md
  meta/content/en/writing/markdown/live-samples.md
  meta/content/en/writing/markdown/macros.md
  meta/content/en/writing/page-types.md
  meta/content/en/writing/style/_index.md
Owners: @mdn/core-yari-dev

Addressed feedback
  files/en-us/mozilla/add-ons/webextensions/api/tabs/query/index.md
  files/en-us/mozilla/firefox/releases/97/index.md
Owners: @mdn/yari-content-mozilla-add-ons, @mdn/yari-content-mdn

Corrects typo noted in Issue #11138
  files/en-us/web/css/justify-items/index.md
Owners: @mdn/yari-content-css

Update EventTarget.dispatchEvent()
  files/en-us/web/api/eventtarget/dispatchevent/index.md
Owners: @mdn/yari-content-web-api

Update EventTarget.addEventListener() syntax box
  files/en-us/web/api/eventtarget/addeventlistener/index.md
Owners: @mdn/yari-content-web-api

Italics instead of removal
  files/en-us/learn/getting_started_with_the_web/html_basics/index.md
Owners: @mdn/yari-content-mdn

Rename files/en-us/web/http/headers/referer/index.md to files/en-us/web/http/headers/referer/index.mdhttps:/developer.mozilla.org/en-US/docs/Web/JavaScript
  files/en-us/web/http/headers/referer/index.mdhttps:/developer.mozilla.org/en-US/docs/Web/JavaScript
Owners: @mdn/yari-content-http

clarify nth-of-type searches within type
  files/en-us/web/css/_colon_nth-child/index.md
  files/en-us/web/css/_colon_nth-last-of-type/index.md
  files/en-us/web/css/_colon_nth-of-type/index.md
Owners: @mdn/yari-content-css

Fix confusing sentence/grammar
  files/en-us/glossary/ajax/index.md
Owners: @mdn/yari-content-mdn

Added bug details
  files/en-us/mozilla/firefox/releases/97/index.md
Owners: @mdn/yari-content-mdn

An array of cookieStoreId supported in the tabs.query API (#11123)
  files/en-us/mozilla/add-ons/webextensions/api/tabs/query/index.md
  files/en-us/mozilla/firefox/releases/97/index.md
Owners: @mdn/yari-content-mozilla-add-ons, @mdn/yari-content-mdn

Update EventTarget.addEventListener() syntax box (#11208)
  files/en-us/web/api/eventtarget/addeventlistener/index.md
Owners: @mdn/yari-content-web-api

Update EventTarget.dispatchEvent() syntax section (#11207)
  files/en-us/web/api/eventtarget/dispatchevent/index.md
Owners: @mdn/yari-content-web-api

files/en-us/learn/common_questions/what_is_a_url/index.md: Remove extra asterisks (#11199)
  files/en-us/learn/common_questions/what_is_a_url/index.md
Owners: @mdn/yari-content-mdn

Fix confusing sentence/grammar (#11213)
  files/en-us/glossary/ajax/index.md
Owners: @mdn/yari-content-mdn

Update element/input/submit/index.md (#11195)
  files/en-us/web/html/element/input/submit/index.md
Owners: @mdn/yari-content-html

remove spam
  files/en-us/glossary/clickjacking/index.md
Owners: @mdn/yari-content-mdn

Remove superfluous “be”
  files/en-us/web/api/document/domain/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/web/api/event/target/index.md
Owners: @mdn/yari-content-web-api

Fix typo in Event»target doc (#11229)
  files/en-us/web/api/event/target/index.md
Owners: @mdn/yari-content-web-api

`document.domain` article: Remove superfluous “be” (#11227)
  files/en-us/web/api/document/domain/index.md
Owners: @mdn/yari-content-web-api

Clarify the effect of toggleAttribute’s 2nd param
  files/en-us/web/api/element/toggleattribute/index.md
Owners: @mdn/yari-content-web-api

Remove the Transferable API from GroupData
  files/jsondata/GroupData.json
Owners: @mdn/core-yari-dev

Be more precise about conditional operator being if…else alternative (#11099)
  files/en-us/web/javascript/reference/operators/conditional_operator/index.md
Owners: @mdn/yari-content-javascript

Remove the Transferable API from GroupData (#11232)
  files/jsondata/GroupData.json
Owners: @mdn/core-yari-dev

WebSocket: Merge event pages
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/websocket/close_event/index.md
  files/en-us/web/api/websocket/error_event/index.md
  files/en-us/web/api/websocket/index.md
  files/en-us/web/api/websocket/message_event/index.md
  files/en-us/web/api/websocket/onclose/index.md
  files/en-us/web/api/websocket/onerror/index.md
  files/en-us/web/api/websocket/onmessage/index.md
  files/en-us/web/api/websocket/onopen/index.md
  files/en-us/web/api/websocket/open_event/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

Add article showing some non-crypto use cases for the subtle-crypto API (#10950)
  files/en-us/web/api/subtlecrypto/digest/index.md
  files/en-us/web/api/subtlecrypto/index.md
  files/en-us/web/api/web_crypto_api/non-cryptographic_uses_of_subtle_crypto/blender-sha256-example.png
  files/en-us/web/api/web_crypto_api/non-cryptographic_uses_of_subtle_crypto/index.md
  files/jsondata/GroupData.json
Owners: @mdn/yari-content-web-api, @mdn/core-yari-dev

Fix unresolved merge conflict in netlify.toml
  meta/netlify.toml
Owners: @mdn/core-yari-dev

meta: Add submodule scripts to build/serve
  meta/package.json
Owners: @mdn/core-yari-dev

Clarify the effect of toggleAttribute’s 2nd param (#11231)
  files/en-us/web/api/element/toggleattribute/index.md
Owners: @mdn/yari-content-web-api

Create SECURITY.md
  SECURITY.md
Owners: @mdn/core-yari-dev, @mdn/core-yari-content
