Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone

Update Resize Observer doc
  files/en-us/web/api/resize_observer_api/index.md
Owners: @mdn/yari-content-web-api

Remove unnecessary links
  files/en-us/web/css/mask-size/index.md
Owners: @mdn/yari-content-css

Remove 'xs' that is a typo
  files/en-us/web/api/domtokenlist/keys/index.md
Owners: @mdn/yari-content-web-api

Remove Number wrapper object as it is a parameter
  files/en-us/web/api/domtokenlist/item/index.md
Owners: @mdn/yari-content-web-api

Added introductory line and fixed intendation
  files/en-us/mozilla/add-ons/webextensions/manifest.json/chrome_settings_overrides/index.md
Owners: @mdn/yari-content-mozilla-add-ons

{{jsxref("String")}} -> string
  files/en-us/web/api/domtokenlist/index.md
  files/en-us/web/api/domtokenlist/item/index.md
  files/en-us/web/api/domtokenlist/value/index.md
Owners: @mdn/yari-content-web-api

Remove useless comma
  files/en-us/web/api/domtokenlist/toggle/index.md
Owners: @mdn/yari-content-web-api

Allow xyz to
  files/en-us/web/api/domtokenlist/values/index.md
Owners: @mdn/yari-content-web-api

Remove unnecessary links (#10453)
  files/en-us/web/css/mask-size/index.md
Owners: @mdn/yari-content-css

Striing object to string.
  files/en-us/web/api/domtokenlist/values/index.md
Owners: @mdn/yari-content-web-api

add new types and
  files/en-us/web/javascript/reference/global_objects/intl/displaynames/displaynames/index.md
Owners: @mdn/yari-content-javascript

DOMString -> String in HTML*
  files/en-us/web/api/htmlelement/index.md
  files/en-us/web/api/htmliframeelement/index.md
  files/en-us/web/api/htmllinkelement/index.md
  files/en-us/web/api/htmltablecellelement/index.md
Owners: @mdn/yari-content-web-api

{{jsxref("Number")}} -> number
  files/en-us/web/api/namednodemap/length/index.md
Owners: @mdn/yari-content-web-api

Update links in "Using multiple backgrounds"
  files/en-us/web/css/css_backgrounds_and_borders/using_multiple_backgrounds/index.md
Owners: @mdn/yari-content-css

Remove old CSS style guide (#10415)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mdn/contribute/changelog/index.md
  files/en-us/mdn/contribute/markdown_in_mdn/index.md
  files/en-us/mdn/guidelines/css_style_guide/index.md
  files/en-us/mdn/guidelines/writing_style_guide/index.md
  files/en-us/mdn/structures/code_examples/index.md
  files/en-us/mdn/structures/macros/commonly-used_macros/index.md
Owners: @mdn/yari-content-mdn

Remove 'checked="false"' from `<input>` tag
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/vue_first_component/index.md
Owners: @mdn/yari-content-mdn

[DOM Reference] Update DOMTokenList and its children (#10425)
  files/en-us/web/api/domtokenlist/add/index.md
  files/en-us/web/api/domtokenlist/contains/index.md
  files/en-us/web/api/domtokenlist/entries/index.md
  files/en-us/web/api/domtokenlist/foreach/index.md
  files/en-us/web/api/domtokenlist/index.md
  files/en-us/web/api/domtokenlist/item/index.md
  files/en-us/web/api/domtokenlist/keys/index.md
  files/en-us/web/api/domtokenlist/length/index.md
  files/en-us/web/api/domtokenlist/remove/index.md
  files/en-us/web/api/domtokenlist/replace/index.md
  files/en-us/web/api/domtokenlist/supports/index.md
  files/en-us/web/api/domtokenlist/toggle/index.md
  files/en-us/web/api/domtokenlist/value/index.md
  files/en-us/web/api/domtokenlist/values/index.md
  files/en-us/web/api/htmlelement/index.md
  files/en-us/web/api/htmliframeelement/index.md
  files/en-us/web/api/htmllinkelement/index.md
  files/en-us/web/api/htmltablecellelement/index.md
Owners: @mdn/yari-content-web-api

Update Resize Observer doc (#10452)
  files/en-us/web/api/resize_observer_api/index.md
Owners: @mdn/yari-content-web-api

Mark "for_each...in" as deprecated
  files/en-us/web/javascript/reference/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/mozilla/add-ons/webextensions/manifest.json/chrome_settings_overrides/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/chrome_settings_overrides/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Update files/en-us/mozilla/add-ons/webextensions/manifest.json/chrome_settings_overrides/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/chrome_settings_overrides/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Update files/en-us/mozilla/add-ons/webextensions/manifest.json/chrome_settings_overrides/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/chrome_settings_overrides/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Update files/en-us/mozilla/add-ons/webextensions/manifest.json/chrome_settings_overrides/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/chrome_settings_overrides/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Update files/en-us/mozilla/add-ons/webextensions/manifest.json/chrome_settings_overrides/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/chrome_settings_overrides/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Update files/en-us/mozilla/add-ons/webextensions/manifest.json/chrome_settings_overrides/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/chrome_settings_overrides/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Update index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/chrome_settings_overrides/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Remove 'checked="false"' from `<input>` tag (#10457)
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/vue_first_component/index.md
Owners: @mdn/yari-content-mdn

Remove whitespace that triggered my "OCD" haha
  files/en-us/learn/getting_started_with_the_web/the_web_and_web_standards/index.md
Owners: @mdn/yari-content-mdn

HTTP Forwarded request - clarification behaviour in chain
  files/en-us/web/http/headers/forwarded/index.md
Owners: @mdn/yari-content-http

Add http to code blocks
  files/en-us/web/http/headers/forwarded/index.md
Owners: @mdn/yari-content-http

Remove whitespace that triggered my "OCD" haha (#10461)
  files/en-us/learn/getting_started_with_the_web/the_web_and_web_standards/index.md
Owners: @mdn/yari-content-mdn

Fix markup of table (#10451)
  files/en-us/web/css/mask-repeat/index.md
Owners: @mdn/yari-content-css

Update links in "Using multiple backgrounds" (#10455)
  files/en-us/web/css/css_backgrounds_and_borders/using_multiple_backgrounds/index.md
Owners: @mdn/yari-content-css

Added the examples to an example table (#10332)
  files/en-us/mozilla/add-ons/webextensions/manifest.json/chrome_settings_overrides/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Fix code indentation on Web workers example (#10445)
  files/en-us/web/api/web_workers_api/using_web_workers/index.md
Owners: @mdn/yari-content-web-api

Rectify example description
  files/en-us/web/css/_doublecolon_-moz-range-track/index.md
Owners: @mdn/yari-content-css

link element - remove dead link and layout
  files/en-us/web/html/element/link/index.md
Owners: @mdn/yari-content-html

HTTP to HTTPS
  files/en-us/web/css/_doublecolon_-moz-range-track/index.md
Owners: @mdn/yari-content-css

Rectify example description (#10463)
  files/en-us/web/css/_doublecolon_-moz-range-track/index.md
Owners: @mdn/yari-content-css

fix typo (#10424)
  files/en-us/web/api/audioparam/value/index.md
Owners: @mdn/yari-content-web-api
