Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

Fix markdown formatting in abortcontroller/index.md (#11679)
  files/en-us/web/api/abortcontroller/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/web/api/domparser/parsefromstring/index.md
Owners: @mdn/yari-content-web-api

Minor layout changes
  files/en-us/learn/forms/your_first_form/index.md
Owners: @mdn/yari-content-mdn

Fixed URL (#11680)
  files/en-us/learn/forms/your_first_form/index.md
Owners: @mdn/yari-content-mdn

Fix links in CSS (#11676)
  files/en-us/web/css/_doublecolon_-webkit-slider-runnable-track/index.md
  files/en-us/web/css/_doublecolon_-webkit-slider-thumb/index.md
  files/en-us/web/css/inheritance/index.md
  files/en-us/web/css/specificity/index.md
Owners: @mdn/yari-content-css

Update macro links to ::after (#11677)
  files/en-us/learn/forms/how_to_build_custom_form_controls/index.md
Owners: @mdn/yari-content-mdn

Fixed typo (#11678)
  files/en-us/web/accessibility/aria/roles/search_role/index.md
Owners: @mdn/yari-content-accessibility

Fixed Wrong Explanation of Function Expression Hoisting
  files/en-us/web/javascript/reference/operators/function/index.md
Owners: @mdn/yari-content-javascript

ScreenOrientation.lock() updates for FF97
  files/en-us/web/api/screenorientation/lock/index.md
Owners: @mdn/yari-content-web-api

Remove \<link\> for a list of matches elements
  files/en-us/web/css/_colon_any-link/index.md
Owners: @mdn/yari-content-css

fix: -webkit-text-stroke constituent properties were missing "-text-"
  files/en-us/web/css/-webkit-text-stroke/index.md
Owners: @mdn/yari-content-css

11650:Issue with Using XMLHttpRequest
  files/en-us/web/api/xmlhttprequest/using_xmlhttprequest/index.md
Owners: @mdn/yari-content-web-api

11650:Issue with Using XMLHttpRequest
  files/en-us/web/api/xmlhttprequest/using_xmlhttprequest/index.md
Owners: @mdn/yari-content-web-api

Addressed review comments
  files/en-us/web/api/navigator/index.md
  files/en-us/web/api/navigator/windowcontrolsoverlay/index.md
  files/en-us/web/api/window_controls_overlay_api/index.md
  files/en-us/web/api/windowcontrolsoverlay/geometrychange_event/index.md
  files/en-us/web/api/windowcontrolsoverlay/gettitlebararearect/index.md
  files/en-us/web/api/windowcontrolsoverlay/index.md
  files/en-us/web/api/windowcontrolsoverlay/ongeometrychange/index.md
  files/en-us/web/api/windowcontrolsoverlay/visible/index.md
  files/en-us/web/css/env()/index.md
  files/jsondata/GroupData.json
Owners: @mdn/yari-content-web-api, @mdn/yari-content-css, @mdn/core-yari-dev

Added clarification on value returned by methods
  files/en-us/web/api/treewalker/index.md
Owners: @mdn/yari-content-web-api

Update index.md where glossary linking was wrong
  files/en-us/learn/html/multimedia_and_embedding/other_embedding_technologies/index.md
Owners: @mdn/yari-content-html

Remove `<link>` from a list of matched elements (#11685)
  files/en-us/web/css/_colon_any-link/index.md
Owners: @mdn/yari-content-css

Fix heading levels of live samples
  files/en-us/web/css/_colon_indeterminate/index.md
Owners: @mdn/yari-content-css

Fix links to Constraint_validation
  files/en-us/learn/forms/form_validation/index.md
  files/en-us/learn/forms/ui_pseudo-classes/index.md
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-required_attribute/index.html
  files/en-us/web/api/htmlformelement/submit/index.md
  files/en-us/web/api/htmlselectelement/setcustomvalidity/index.md
  files/en-us/web/css/_colon_invalid/index.md
  files/en-us/web/css/_colon_valid/index.md
  files/en-us/web/html/attributes/max/index.md
  files/en-us/web/html/attributes/maxlength/index.md
  files/en-us/web/html/attributes/min/index.md
  files/en-us/web/html/attributes/minlength/index.md
  files/en-us/web/html/attributes/pattern/index.md
  files/en-us/web/html/attributes/step/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-web-api, @mdn/yari-content-css, @mdn/yari-content-html

Link to correct GitHub labels
  files/en-us/mdn/contribute/fixing_mdn_content_bugs/index.md
Owners: @mdn/yari-content-mdn

Use emdash
  files/en-us/learn/javascript/objects/basics/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/learn/javascript/objects/object_prototypes/index.md
  files/en-us/learn/javascript/objects/object_prototypes/index.md
Owners: @mdn/yari-content-javascript

Apply suggestions from code review
  files/en-us/web/css/counter-reset/index.md
  files/en-us/web/css/css_counter_styles/using_css_counters/index.md
Owners: @mdn/yari-content-css

Fix links to Constraint_validation (#11696)
  files/en-us/learn/forms/form_validation/index.md
  files/en-us/learn/forms/ui_pseudo-classes/index.md
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-required_attribute/index.html
  files/en-us/web/api/htmlformelement/submit/index.md
  files/en-us/web/api/htmlselectelement/setcustomvalidity/index.md
  files/en-us/web/css/_colon_invalid/index.md
  files/en-us/web/css/_colon_valid/index.md
  files/en-us/web/html/attributes/max/index.md
  files/en-us/web/html/attributes/maxlength/index.md
  files/en-us/web/html/attributes/min/index.md
  files/en-us/web/html/attributes/minlength/index.md
  files/en-us/web/html/attributes/pattern/index.md
  files/en-us/web/html/attributes/step/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-web-api, @mdn/yari-content-css, @mdn/yari-content-html

Fix heading levels of live samples (#11695)
  files/en-us/web/css/_colon_indeterminate/index.md
Owners: @mdn/yari-content-css

Update index.md where glossary linking was wrong (#11693)
  files/en-us/learn/html/multimedia_and_embedding/other_embedding_technologies/index.md
Owners: @mdn/yari-content-html

Added clarification on value returned by methods (#11689)
  files/en-us/web/api/treewalker/index.md
Owners: @mdn/yari-content-web-api

Use hasOwn rather than hasOwnProperty
  files/en-us/learn/javascript/objects/object_prototypes/index.md
Owners: @mdn/yari-content-javascript

fix: -webkit-text-stroke constituent properties lacked "-text-" (#11686)
  files/en-us/web/css/-webkit-text-stroke/index.md
Owners: @mdn/yari-content-css

subject->teaches
  files/en-us/learn/javascript/objects/classes_in_javascript/index.md
  files/en-us/learn/javascript/objects/object-oriented_programming/index.md
Owners: @mdn/yari-content-javascript

Various review comments
  files/en-us/learn/javascript/objects/classes_in_javascript/index.md
Owners: @mdn/yari-content-javascript

Fix Javascript typo
  files/en-us/web/javascript/data_structures/index.md
Owners: @mdn/yari-content-javascript

Fix Javascript typo (#11701)
  files/en-us/web/javascript/data_structures/index.md
Owners: @mdn/yari-content-javascript

Link to correct GitHub labels (#11698)
  files/en-us/mdn/contribute/fixing_mdn_content_bugs/index.md
Owners: @mdn/yari-content-mdn

Apply suggestions from code review
  files/en-us/web/api/screenorientation/lock/index.md
Owners: @mdn/yari-content-web-api

Apply suggestions from code review
  files/en-us/web/api/screenorientation/lock/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/geolocationposition/timestamp/index.md
  files/en-us/web/api/geolocationposition/timestamp/index.md
Owners: @mdn/yari-content-web-api

HTTP conditional requests - fix httplock image (#11673)
  files/en-us/web/http/conditional_requests/httplock1.png
Owners: @mdn/yari-content-http

Apply suggestions from code review
  files/en-us/web/api/svg_api/index.md
Owners: @mdn/yari-content-web-api

Adds API overview page for SVG
  files/en-us/web/api/svg_api/index.md
Owners: @mdn/yari-content-web-api

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone
