Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone

Clarify overview of OOP article
  files/en-us/learn/javascript/objects/object-oriented_programming/index.md
Owners: @mdn/yari-content-javascript

Serviceworker cookbook: make all links to MDN (#11672)
  files/en-us/learn/javascript/client-side_web_apis/client-side_storage/index.md
  files/en-us/learn/tools_and_testing/cross_browser_testing/javascript/index.md
  files/en-us/web/api/service_worker_api/index.md
  files/en-us/web/api/service_worker_api/using_service_workers/index.md
  files/en-us/web/progressive_web_apps/loading/index.md
  files/en-us/web/progressive_web_apps/re-engageable_notifications_push/index.md
Owners: @mdn/yari-content-javascript, @mdn/yari-content-mdn, @mdn/yari-content-web-api

removes deprecated interfaces
  files/en-us/web/api/svg_api/index.md
Owners: @mdn/yari-content-web-api

Add API overview page for SVG (#11666)
  files/en-us/web/api/svg_api/index.md
Owners: @mdn/yari-content-web-api

opensearch: Remove non standard Param element (#11631)
  files/en-us/web/opensearch/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/web/javascript/a_re-introduction_to_javascript/index.md
  files/en-us/web/javascript/a_re-introduction_to_javascript/index.md
Owners: @mdn/yari-content-javascript

omit anonymous function that won't compile (#11583)
  files/en-us/web/javascript/a_re-introduction_to_javascript/index.md
Owners: @mdn/yari-content-javascript

Clarify instructions for auto-complete
  files/en-us/learn/javascript/objects/object_prototypes/index.md
Owners: @mdn/yari-content-javascript

Fix typo `let` -> `const`
  files/en-us/learn/javascript/building_blocks/functions/index.md
Owners: @mdn/yari-content-javascript

clarify explanation of setting prototype.constructor
  files/en-us/learn/javascript/objects/object_prototypes/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/learn/javascript/objects/object_prototypes/index.md
  files/en-us/learn/javascript/objects/object_prototypes/index.md
Owners: @mdn/yari-content-javascript

Using CSS counters - add reversing examples (#11529)
  files/en-us/web/css/counter-reset/index.md
  files/en-us/web/css/css_counter_styles/using_css_counters/index.md
  files/en-us/web/css/css_counter_styles/using_css_counters/reversed_headings_basic.png
Owners: @mdn/yari-content-css

Update files/en-us/learn/javascript/building_blocks/functions/index.md
  files/en-us/learn/javascript/building_blocks/functions/index.md
Owners: @mdn/yari-content-javascript

Fix typo `let` -> `const` (#11703)
  files/en-us/learn/javascript/building_blocks/functions/index.md
Owners: @mdn/yari-content-javascript

Fix up example
  files/en-us/web/api/screenorientation/lock/index.md
Owners: @mdn/yari-content-web-api

Update object basics test your skills
  files/en-us/learn/javascript/objects/test_your_skills_colon__object_basics/index.md
Owners: @mdn/yari-content-javascript

Improved example
  files/en-us/web/api/screenorientation/lock/index.md
Owners: @mdn/yari-content-web-api

Fix typo
  files/en-us/web/api/screenorientation/lock/index.md
Owners: @mdn/yari-content-web-api

FF97 Add experimental feature for ScreenOrientation.lock()
  files/en-us/mozilla/firefox/experimental_features/index.md
Owners: @mdn/yari-content-mdn

Revise OO-JS test your skills page
  files/en-us/learn/javascript/objects/object_prototypes/index.md
  files/en-us/learn/javascript/objects/test_your_skills_colon__object-oriented_javascript/index.md
  files/en-us/learn/javascript/objects/test_your_skills_colon__object_basics/index.md
Owners: @mdn/yari-content-javascript

Adds support for AbortSignal.reason and related items
  files/en-us/web/api/abortcontroller/abort/index.md
  files/en-us/web/api/abortsignal/abort/index.md
  files/en-us/web/api/abortsignal/aborted/index.md
  files/en-us/web/api/abortsignal/index.md
  files/en-us/web/api/abortsignal/reason/index.md
Owners: @mdn/yari-content-web-api

Update index.md where glossary linking was wrong
  files/en-us/glossary/csp/index.md
Owners: @mdn/yari-content-mdn

Correcting one of the example provided
  files/en-us/web/api/document/getelementsbyclassname/index.md
Owners: @mdn/yari-content-web-api

Update index.md where glossary linking was wrong
  files/en-us/web/security/types_of_attacks/index.md
Owners: @mdn/yari-content-mdn

Update index.md where glossary linking was wrong
  files/en-us/learn/server-side/first_steps/website_security/index.md
Owners: @mdn/yari-content-http

Update index.md where glossary linking was wrong
  files/en-us/web/security/index.md
Owners: @mdn/yari-content-mdn

Update index.md where glossary linking was wrong
  files/en-us/learn/server-side/apache_configuration_htaccess/index.md
Owners: @mdn/yari-content-http

Update index.md where glossary linking was wrong
  files/en-us/web/security/securing_your_site/index.md
Owners: @mdn/yari-content-mdn

Update index.md where glossary linking was wrong
  files/en-us/learn/server-side/django/web_application_security/index.md
Owners: @mdn/yari-content-http

Update index.md where glossary linking was wrong
  files/en-us/learn/server-side/django/introduction/index.md
Owners: @mdn/yari-content-http

Update index.md: Explanation about HTML comments
  files/en-us/learn/getting_started_with_the_web/html_basics/index.md
Owners: @mdn/yari-content-mdn

code style: add curly braces to 'if' statement
  files/en-us/web/api/window/requestanimationframe/index.md
Owners: @mdn/yari-content-web-api

Improve example of location.hostname
  files/en-us/web/api/location/hostname/index.md
Owners: @mdn/yari-content-web-api

Added documentation on missing property
  files/en-us/web/api/document/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/web/javascript/reference/global_objects/array/lastindexof/index.md
Owners: @mdn/yari-content-javascript

Update index.md: Explanation about HTML comments (#11718)
  files/en-us/learn/getting_started_with_the_web/html_basics/index.md
Owners: @mdn/yari-content-mdn

Update index.md where glossary linking was wrong (#11713)
  files/en-us/web/security/index.md
Owners: @mdn/yari-content-mdn

Update netlify.toml
  meta/netlify.toml
Owners: @mdn/core-yari-dev

Update index.md
  files/en-us/learn/common_questions/how_does_the_internet_work/index.md
Owners: @mdn/yari-content-mdn

(selects => clicks) a button
  files/en-us/learn/javascript/building_blocks/events/index.md
Owners: @mdn/yari-content-javascript
