Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone

Revise as per reviews and slight clean-up
  files/en-us/web/javascript/reference/operators/logical_and/index.md
Owners: @mdn/yari-content-javascript

Fix layout and formatting
  files/en-us/web/javascript/reference/operators/logical_and/index.md
Owners: @mdn/yari-content-javascript

xpathevaluator: use var xpath
  files/en-us/web/api/xpathevaluator/index.md
Owners: @mdn/yari-content-web-api

Adding console.log to IIFE as needed + small edit
  files/en-us/glossary/iife/index.md
Owners: @mdn/yari-content-mdn

Corrects terminology and desc. Thanks @rauschma
  files/en-us/glossary/bigint/index.md
  files/en-us/glossary/number/index.md
  files/en-us/web/javascript/reference/global_objects/bigint/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-javascript

Add accessibility info to <progress> doc (#10707)
  files/en-us/web/html/element/progress/index.md
Owners: @mdn/yari-content-html

Fix role alternative elements and links (#10879)
  files/en-us/web/accessibility/aria/roles/range_role/index.md
Owners: @mdn/yari-content-accessibility

New page: aria-placeholder
  files/en-us/web/accessibility/aria/attributes/aria-placeholder/index.md
Owners: @mdn/yari-content-accessibility

New page: aria-placeholder
  files/en-us/web/accessibility/aria/attributes/aria-placeholder/index.md
Owners: @mdn/yari-content-accessibility

Fix typos
  files/en-us/glossary/hoisting/index.md
Owners: @mdn/yari-content-mdn

[fix typo] Add missing space.
  files/en-us/webassembly/concepts/index.md
Owners: @mdn/yari-content-mdn

update link to most recent screen reader survey
  files/en-us/learn/tools_and_testing/cross_browser_testing/accessibility/index.md
Owners: @mdn/yari-content-mdn

Clarify behaviour of margin-block values
  files/en-us/web/css/margin-block/index.md
Owners: @mdn/yari-content-css

Update index.md
  files/en-us/web/accessibility/aria/attributes/aria-expanded/index.md
Owners: @mdn/yari-content-accessibility

Speeling : behavioUr link must link to ...behavioUr !
  files/en-us/mdn/guidelines/writing_style_guide/index.md
Owners: @mdn/yari-content-mdn

docs(Using Web Workers): fix typo in code (queryArguments --> queryMethodArguments)
  files/en-us/web/api/web_workers_api/using_web_workers/index.md
Owners: @mdn/yari-content-web-api

Fix incorrect comment syntax
  files/en-us/web/html/element/p/index.md
Owners: @mdn/yari-content-html

update userAgentData example with fullVersionList
  files/en-us/web/api/user-agent_client_hints_api/index.md
Owners: @mdn/yari-content-web-api

Deleted & Redirect file
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-activedescendant_attribute/index.html
Owners: @mdn/yari-content-mdn, @mdn/yari-content-accessibility

Update index.md
  files/en-us/web/accessibility/aria/roles/columnheader_role/index.md
Owners: @mdn/yari-content-accessibility

Update index.md
  files/en-us/glossary/tcp_slow_start/index.md
Owners: @mdn/yari-content-mdn

Remove deprecation header.
  files/en-us/web/api/window/appinstalled_event/index.md
Owners: @mdn/yari-content-web-api

Update JS Learn Events page
  files/en-us/learn/javascript/building_blocks/events/index.md
Owners: @mdn/yari-content-javascript

Add listing of missing method.
  files/en-us/web/api/audiobuffersourcenode/index.md
Owners: @mdn/yari-content-web-api

Some more event updates
  files/en-us/learn/javascript/building_blocks/events/index.md
Owners: @mdn/yari-content-javascript

Deleted & Redirect file (#10908)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-activedescendant_attribute/index.html
Owners: @mdn/yari-content-mdn, @mdn/yari-content-accessibility

Update index.md (#10912)
  files/en-us/web/accessibility/aria/roles/columnheader_role/index.md
Owners: @mdn/yari-content-accessibility

Update index.md (#10913)
  files/en-us/glossary/tcp_slow_start/index.md
Owners: @mdn/yari-content-mdn

Speeling : behavioUr link must link to ...behavioUr ! (#10900)
  files/en-us/mdn/guidelines/writing_style_guide/index.md
Owners: @mdn/yari-content-mdn

[fix typo] Fix misspelling WebAssemby -> WebAssembly
  files/en-us/webassembly/concepts/index.md
Owners: @mdn/yari-content-mdn

[fix typo] Fix misspelling WebAssemby -> WebAssembly (#10918)
  files/en-us/webassembly/concepts/index.md
Owners: @mdn/yari-content-mdn

Convert FileSystemFlags table to Markdown
  files/en-us/web/api/filesystemflags/index.md
Owners: @mdn/yari-content-web-api

update link to most recent screen reader survey (#10896)
  files/en-us/learn/tools_and_testing/cross_browser_testing/accessibility/index.md
Owners: @mdn/yari-content-mdn

Remove FileSystemFlags dictionary from MDN web docs
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/file_and_directory_entries_api/index.md
  files/en-us/web/api/filesystemdirectoryentry/getdirectory/index.md
  files/en-us/web/api/filesystemdirectoryentry/getfile/index.md
  files/en-us/web/api/filesystemflags/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

Fix typos (#10894)
  files/en-us/glossary/hoisting/index.md
Owners: @mdn/yari-content-mdn

Fix images acting as block
  files/en-us/tools/network_monitor/index.html
Owners: @mdn/yari-content-mdn

Consistent event pages in WebXR docs
  files/en-us/web/api/xrcubelayer/redraw_event/index.md
  files/en-us/web/api/xrcylinderlayer/redraw_event/index.md
  files/en-us/web/api/xrequirectlayer/redraw_event/index.md
  files/en-us/web/api/xrquadlayer/redraw_event/index.md
  files/en-us/web/api/xrreferencespace/reset_event/index.md
  files/en-us/web/api/xrsystem/devicechange_event/index.md
Owners: @mdn/yari-content-web-api

JS Learning Area: Functions updates (#10799)
  files/en-us/learn/javascript/building_blocks/functions/index.md
Owners: @mdn/yari-content-javascript

[fix typo] Add missing space. (#10895)
  files/en-us/webassembly/concepts/index.md
Owners: @mdn/yari-content-mdn

typo fix - double period
  files/en-us/learn/javascript/building_blocks/events/index.md
Owners: @mdn/yari-content-javascript
