Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone

removing couple of things
  .github/workflows/new-issues.yml
Owners: @mdn/core-yari-dev

Automating needs triage for new issues (#10767)
  .github/workflows/new-issues.yml
Owners: @mdn/core-yari-dev

XRSession.onsqueeze -> squeeze event
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/xrsession/onsqueeze/index.md
  files/en-us/web/api/xrsession/squeeze_event/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

XRSession.onsqueezestart -> squeezestart event
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/xrsession/onsqueezestart/index.md
  files/en-us/web/api/xrsession/squeezestart_event/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

XRSession.onsqueezeend -> squeezeend event
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/xrsession/onsqueezeend/index.md
  files/en-us/web/api/xrsession/squeezeend_event/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

XRSession.onvisibilitychange -> visibilitychange event
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/xrsession/onvisibilitychange/index.md
  files/en-us/web/api/xrsession/visibilitychange_event/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

Update index.md (#10764)
  files/en-us/learn/javascript/first_steps/math/index.md
Owners: @mdn/yari-content-javascript

Reword this comment
  files/en-us/mozilla/add-ons/webextensions/content_scripts/index.md
Owners: @mdn/yari-content-mozilla-add-ons

increase topics' readability and consistency (#10752)
  files/en-us/web/http/status/400/index.md
  files/en-us/web/http/status/401/index.md
  files/en-us/web/http/status/402/index.md
  files/en-us/web/http/status/403/index.md
  files/en-us/web/http/status/404/index.md
  files/en-us/web/http/status/405/index.md
Owners: @mdn/yari-content-http

Reformat and reword comment
  files/en-us/web/api/document/drag_event/index.md
Owners: @mdn/yari-content-web-api

Reword this comment (#10772)
  files/en-us/mozilla/add-ons/webextensions/content_scripts/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Update for the bubbling and capturing example
  files/en-us/learn/javascript/building_blocks/events/index.md
Owners: @mdn/yari-content-javascript

Clipboard can only be used in a secure context
  files/en-us/web/api/clipboard/index.md
Owners: @mdn/yari-content-web-api

Remove unavailable videos from Intercept HTTP requests
  files/en-us/mozilla/add-ons/webextensions/intercept_http_requests/beastify_by_redirect.png
  files/en-us/mozilla/add-ons/webextensions/intercept_http_requests/index.md
  files/en-us/mozilla/add-ons/webextensions/intercept_http_requests/modified_request_header.png
Owners: @mdn/yari-content-mozilla-add-ons

Mostly just very minor layout changes
  files/en-us/learn/javascript/building_blocks/looping_code/index.md
Owners: @mdn/yari-content-javascript

Remove unavailable videos from Intercept HTTP requests (#10777)
  files/en-us/mozilla/add-ons/webextensions/intercept_http_requests/beastify_by_redirect.png
  files/en-us/mozilla/add-ons/webextensions/intercept_http_requests/index.md
  files/en-us/mozilla/add-ons/webextensions/intercept_http_requests/modified_request_header.png
Owners: @mdn/yari-content-mozilla-add-ons

Clipboard can only be used in a secure context (#10776)
  files/en-us/web/api/clipboard/index.md
Owners: @mdn/yari-content-web-api

HTTP Client hints: Fix developers.google link to web.dev (#10712)
  files/en-us/web/http/headers/content-dpr/index.md
  files/en-us/web/http/headers/device-memory/index.md
  files/en-us/web/http/headers/downlink/index.md
  files/en-us/web/http/headers/dpr/index.md
  files/en-us/web/http/headers/ect/index.md
  files/en-us/web/http/headers/rtt/index.md
  files/en-us/web/http/headers/save-data/index.md
  files/en-us/web/http/headers/viewport-width/index.md
  files/en-us/web/http/headers/width/index.md
Owners: @mdn/yari-content-http

Corrected Typo
  files/en-us/web/api/filesystemfilehandle/index.md
Owners: @mdn/yari-content-web-api

se actualizó el código de jinja
  files/en-us/learn/server-side/django/generic_views/index.md
Owners: @mdn/yari-content-http

Improvements to client-hint glossary
  files/en-us/glossary/client_hints/index.md
Owners: @mdn/yari-content-mdn

Accept-CH: Fix up some presentation issues
  files/en-us/web/http/headers/accept-ch/index.md
Owners: @mdn/yari-content-http

Corrected Typo (#10778)
  files/en-us/web/api/filesystemfilehandle/index.md
Owners: @mdn/yari-content-web-api

"Document: drag event": example text selection for Firefox users (#10739)
  files/en-us/web/api/document/drag_event/index.md
Owners: @mdn/yari-content-web-api

Add headers to overview page
  files/en-us/glossary/client_hints/index.md
  files/en-us/web/http/headers/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-http

fix: remove the following '>'
  files/en-us/mdn/contribute/markdown_in_mdn/index.md
Owners: @mdn/yari-content-mdn

Update for the bubbling and capturing example (#10775)
  files/en-us/learn/javascript/building_blocks/events/index.md
Owners: @mdn/yari-content-javascript

update the link label
  files/en-us/mdn/contribute/markdown_in_mdn/index.md
Owners: @mdn/yari-content-mdn

Add sec-ch-ua HTTP header
  files/en-us/web/http/headers/sec-ch-ua/index.md
Owners: @mdn/yari-content-http

Minor tidy
  files/en-us/web/http/headers/sec-ch-ua/index.md
Owners: @mdn/yari-content-http

fix: remove the following ` Right Angle Bracket` and update the link label (#10782)
  files/en-us/mdn/contribute/markdown_in_mdn/index.md
Owners: @mdn/yari-content-mdn

add Intl.PluralRules.prototype.selectRange()
  files/en-us/web/javascript/reference/global_objects/intl/pluralrules/index.md
  files/en-us/web/javascript/reference/global_objects/intl/pluralrules/selectrange/index.md
Owners: @mdn/yari-content-javascript

code example to es6 standard
  files/en-us/web/api/cleartimeout/index.md
Owners: @mdn/yari-content-web-api

add nf methods
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/formatrange/index.md
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/formatrangetoparts/index.md
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/index.md
Owners: @mdn/yari-content-javascript

Update index.md
  files/en-us/web/html/attributes/index.md
Owners: @mdn/yari-content-html

Replace unmaintained webauthn.org with alternatives (#10721)
  files/en-us/web/api/web_authentication_api/index.md
Owners: @mdn/yari-content-web-api

Add WebAuthn demo sites to their own section
  files/en-us/web/api/web_authentication_api/index.md
Owners: @mdn/yari-content-web-api

Update index.md (#10788)
  files/en-us/web/html/attributes/index.md
Owners: @mdn/yari-content-html

Fixed grammar
  files/en-us/web/accessibility/aria/roles/banner_role/index.md
Owners: @mdn/yari-content-accessibility

Add link to Internationalization concept page from i18n API articles
  files/en-us/mozilla/add-ons/webextensions/api/i18n/detectlanguage/index.md
  files/en-us/mozilla/add-ons/webextensions/api/i18n/getacceptlanguages/index.md
  files/en-us/mozilla/add-ons/webextensions/api/i18n/getmessage/index.md
  files/en-us/mozilla/add-ons/webextensions/api/i18n/getuilanguage/index.md
  files/en-us/mozilla/add-ons/webextensions/api/i18n/index.md
  files/en-us/mozilla/add-ons/webextensions/internationalization/index.md
Owners: @mdn/yari-content-mozilla-add-ons
