Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

Changed list for HTML collection
  files/en-us/web/api/document/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/learn/javascript/building_blocks/return_values/index.md
Owners: @mdn/yari-content-javascript

Removed unused variable
  files/en-us/web/api/xpathevaluator/createexpression/index.md
Owners: @mdn/yari-content-web-api

Convert to MarkDown
  files/en-us/mozilla/projects/nss/an_overview_of_nss_internals/index.html
  files/en-us/mozilla/projects/nss/an_overview_of_nss_internals/index.md
Owners: @mdn/yari-content-mdn

Update links in Client-side_web_APIs
  files/en-us/learn/javascript/client-side_web_apis/client-side_storage/index.md
  files/en-us/learn/javascript/client-side_web_apis/drawing_graphics/index.md
  files/en-us/learn/javascript/client-side_web_apis/fetching_data/index.md
  files/en-us/learn/javascript/client-side_web_apis/introduction/index.md
  files/en-us/learn/javascript/client-side_web_apis/manipulating_documents/index.md
  files/en-us/learn/javascript/client-side_web_apis/third_party_apis/index.md
  files/en-us/learn/javascript/client-side_web_apis/video_and_audio_apis/index.md
Owners: @mdn/yari-content-javascript

revert changes
  files/en-us/mozilla/projects/nss/an_overview_of_nss_internals/index.html
  files/en-us/mozilla/projects/nss/an_overview_of_nss_internals/index.md
Owners: @mdn/yari-content-mdn

Delete index.html
  files/en-us/mozilla/projects/nss/an_overview_of_nss_internals/index.html
Owners: @mdn/yari-content-mdn

revert changes
  files/en-us/mozilla/projects/nss/an_overview_of_nss_internals/index.html
Owners: @mdn/yari-content-mdn

Prettify the examples for easy readability
  files/en-us/learn/javascript/asynchronous/async_await/index.md
Owners: @mdn/yari-content-javascript

Added an example of what "(repeated) evaluations" means
  files/en-us/web/api/document/createexpression/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/web/api/svganimatedrect/index.md
Owners: @mdn/yari-content-web-api

Corrected the example to use bit values
  files/en-us/web/api/nodeiterator/whattoshow/index.md
Owners: @mdn/yari-content-web-api

variable typo, `docHTML` -> `docInnerHtml`
  files/en-us/web/guide/parsing_and_serializing_xml/index.md
Owners: @mdn/yari-content-mdn

Wrong variable name used
  files/en-us/web/api/nodefilter/acceptnode/index.md
Owners: @mdn/yari-content-web-api

missing argument information
  files/en-us/web/javascript/guide/working_with_objects/index.md
Owners: @mdn/yari-content-javascript

Fixed discrepancy in validityState code example (#11634)
  files/en-us/web/html/element/input/index.md
Owners: @mdn/yari-content-html

Wrong variable name used (#11649)
  files/en-us/web/api/nodefilter/acceptnode/index.md
Owners: @mdn/yari-content-web-api

added word 'quotes'
  files/en-us/learn/javascript/first_steps/variables/index.md
Owners: @mdn/yari-content-javascript

SHOW_ALL has wrong value documented?
  files/en-us/web/api/nodeiterator/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/nodeiterator/whattoshow/index.md
  files/en-us/web/api/nodeiterator/whattoshow/index.md
Owners: @mdn/yari-content-web-api

SHOW_ALL has wrong value documented? (#11655)
  files/en-us/web/api/nodeiterator/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/nodeiterator/whattoshow/index.md
  files/en-us/web/api/nodeiterator/whattoshow/index.md
Owners: @mdn/yari-content-web-api

Apply suggestions from code review
  files/en-us/web/api/nodeiterator/whattoshow/index.md
Owners: @mdn/yari-content-web-api

Corrected NodeIterator:whatToShow example to use bit values (#11647)
  files/en-us/web/api/nodeiterator/whattoshow/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/learn/javascript/first_steps/variables/index.md
  files/en-us/learn/javascript/first_steps/variables/index.md
Owners: @mdn/yari-content-javascript

Clarify: digits in quotes are strings, not numbers (#11652)
  files/en-us/learn/javascript/first_steps/variables/index.md
Owners: @mdn/yari-content-javascript

NodeFilter.SHOW_ALL has wrong value (follow-up)
  files/en-us/web/api/nodeiterator/whattoshow/index.md
Owners: @mdn/yari-content-web-api

NodeFilter.SHOW_ALL has wrong value (follow-up)
  files/en-us/web/api/treewalker/index.md
Owners: @mdn/yari-content-web-api

NodeFilter.SHOW_ALL has wrong value (follow-up)
  files/en-us/web/api/treewalker/whattoshow/index.md
Owners: @mdn/yari-content-web-api

NodeFilter.SHOW_ALL has wrong value (follow-up)
  files/en-us/web/api/document/createnodeiterator/index.md
Owners: @mdn/yari-content-web-api

NodeFilter.SHOW_ALL has wrong value (follow-up)
  files/en-us/web/api/document/createtreewalker/index.md
Owners: @mdn/yari-content-web-api

Fix typo
  files/en-us/web/javascript/reference/global_objects/promise/promise/index.md
Owners: @mdn/yari-content-javascript

Fix typo (#11653)
  files/en-us/web/javascript/reference/global_objects/promise/promise/index.md
Owners: @mdn/yari-content-javascript

NodeFilter.SHOW_ALL has wrong value (follow-up)
  files/en-us/web/api/nodeiterator/whattoshow/index.md
Owners: @mdn/yari-content-web-api

NodeFilter.SHOW_ALL has wrong value (follow-up)
  files/en-us/web/api/treewalker/whattoshow/index.md
Owners: @mdn/yari-content-web-api

NodeFilter.SHOW_ALL has wrong value (follow-up)
  files/en-us/web/api/document/createnodeiterator/index.md
Owners: @mdn/yari-content-web-api

NodeFilter.SHOW_ALL has wrong value (follow-up)
  files/en-us/web/api/document/createtreewalker/index.md
Owners: @mdn/yari-content-web-api

NodeFilter.SHOW_ALL has wrong value (follow-up) (#11657)
  files/en-us/web/api/document/createnodeiterator/index.md
  files/en-us/web/api/document/createtreewalker/index.md
  files/en-us/web/api/nodeiterator/whattoshow/index.md
  files/en-us/web/api/treewalker/index.md
  files/en-us/web/api/treewalker/whattoshow/index.md
Owners: @mdn/yari-content-web-api

variable typo, `docHTML` -> `docInnerHtml` (#11648)
  files/en-us/web/guide/parsing_and_serializing_xml/index.md
Owners: @mdn/yari-content-mdn

Use the variable rather than removing it
  files/en-us/web/api/xpathevaluator/createexpression/index.md
Owners: @mdn/yari-content-web-api

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone
