Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone

New page: aria-details (#10130)
  files/en-us/web/accessibility/aria/attributes/aria-details/index.md
Owners: @mdn/yari-content-accessibility

Aria dropeffect (#10237)
  files/en-us/web/accessibility/aria/attributes/aria-dropeffect/index.md
Owners: @mdn/yari-content-accessibility

Fix up title bug in hyperlink page
  files/en-us/learn/html/introduction_to_html/creating_hyperlinks/index.md
Owners: @mdn/yari-content-html

Update index.md (#10354)
  files/en-us/web/javascript/reference/classes/static/index.md
Owners: @mdn/yari-content-javascript

Improve FontFace.load()
  files/en-us/web/api/fontface/load/index.md
Owners: @mdn/yari-content-web-api

Fixed link to "presentation role"
  files/en-us/web/accessibility/aria/roles/none_role/index.md
Owners: @mdn/yari-content-accessibility

Fixed link to "presentation role" (#10360)
  files/en-us/web/accessibility/aria/roles/none_role/index.md
Owners: @mdn/yari-content-accessibility

Apply suggestions from code review
  files/en-us/glossary/uuid/index.md
Owners: @mdn/yari-content-mdn

Remove old reference
  files/en-us/mozilla/add-ons/webextensions/api/runtime/messagesender/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Apply suggestions from code review
  files/en-us/glossary/uuid/index.md
Owners: @mdn/yari-content-mdn

More precise definition
  files/en-us/glossary/uuid/index.md
Owners: @mdn/yari-content-mdn

Small fixes in CSS Box Model
  files/en-us/web/css/css_box_model/index.md
  files/en-us/web/css/margin-bottom/index.md
  files/en-us/web/css/margin-left/index.md
  files/en-us/web/css/margin-right/index.md
  files/en-us/web/css/margin-top/index.md
  files/en-us/web/css/margin/index.md
Owners: @mdn/yari-content-css

Versions appear to be variants on the algorithm, not the format fo output data
  files/en-us/glossary/uuid/index.md
Owners: @mdn/yari-content-mdn

Update index.md
  files/en-us/web/api/barcodedetector/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/html_drag_and_drop_api/drag_operations/index.md
  files/en-us/web/api/html_drag_and_drop_api/drag_operations/index.md
Owners: @mdn/yari-content-web-api

Update index.md (#10362)
  files/en-us/web/api/barcodedetector/index.md
Owners: @mdn/yari-content-web-api

CSS cursor - FF95 release note and tidy
  files/en-us/mozilla/firefox/releases/95/index.md
  files/en-us/web/css/css_basic_user_interface/using_url_values_for_the_cursor_property/index.md
  files/en-us/web/css/cursor/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-css

fixing formatting (#10308)
  files/en-us/web/api/html_drag_and_drop_api/drag_operations/index.md
Owners: @mdn/yari-content-web-api

Small fixes in CSS Box Model (#10361)
  files/en-us/web/css/css_box_model/index.md
  files/en-us/web/css/margin-bottom/index.md
  files/en-us/web/css/margin-left/index.md
  files/en-us/web/css/margin-right/index.md
  files/en-us/web/css/margin-top/index.md
  files/en-us/web/css/margin/index.md
Owners: @mdn/yari-content-css

FF95 inputmode supported all platforms
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/95/index.md
  files/en-us/web/html/global_attributes/inputmode/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-html

Fix up title bug in hyperlink page (#10358)
  files/en-us/learn/html/introduction_to_html/creating_hyperlinks/index.md
Owners: @mdn/yari-content-html

Update files/en-us/web/api/fontface/load/index.md
  files/en-us/web/api/fontface/load/index.md
Owners: @mdn/yari-content-web-api

DOMMatrixReadOnly is no more experimental
  files/en-us/web/api/dommatrixreadonly/dommatrixreadonly/index.md
  files/en-us/web/api/dommatrixreadonly/flipx/index.md
  files/en-us/web/api/dommatrixreadonly/index.md
  files/en-us/web/api/dommatrixreadonly/scale/index.md
  files/en-us/web/api/dommatrixreadonly/translate/index.md
Owners: @mdn/yari-content-web-api

applied changes as requested
  files/en-us/mozilla/add-ons/webextensions/manifest.json/chrome_settings_overrides/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Remove forgotten experimental banner
  files/en-us/web/api/dommatrixreadonly/flipx/index.md
  files/en-us/web/api/dommatrixreadonly/scale/index.md
  files/en-us/web/api/dommatrixreadonly/translate/index.md
Owners: @mdn/yari-content-web-api

Add link to constructor
  files/en-us/web/api/dommatrixreadonly/index.md
Owners: @mdn/yari-content-web-api

Fix test failure
  files/en-us/web/api/dommatrixreadonly/index.md
Owners: @mdn/yari-content-web-api

onerror: Document that `error` field can be null (#10335)
  files/en-us/web/api/globaleventhandlers/onerror/index.md
Owners: @mdn/yari-content-web-api

Fix for 10293: createObjectStore (#10306)
  files/en-us/web/api/idbdatabase/createobjectstore/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/web/javascript/reference/global_objects/promise/resolve/index.md
Owners: @mdn/yari-content-javascript

Update index.md
  files/en-us/web/javascript/reference/global_objects/promise/resolve/index.md
Owners: @mdn/yari-content-javascript

Update index.md
  files/en-us/web/javascript/reference/global_objects/promise/resolve/index.md
Owners: @mdn/yari-content-javascript

Improve FontFace.load() (#10359)
  files/en-us/web/api/fontface/load/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/element/scrollto/index.md
  files/en-us/web/api/element/scrollto/index.md
Owners: @mdn/yari-content-web-api

Specify the meaning of reassignment and redeclaration and when a constant can be changed
  files/en-us/web/javascript/reference/statements/const/index.md
Owners: @mdn/yari-content-javascript

fix aria-expanded link
  files/en-us/web/accessibility/aria/attributes/aria-autocomplete/index.md
Owners: @mdn/yari-content-accessibility

Remove stability warning about BYOB readers
  files/en-us/web/api/streams_api/index.html
Owners: @mdn/yari-content-web-api

Remove instant mention (#10328)
  files/en-us/web/api/element/scrollto/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/web/javascript/reference/global_objects/promise/resolve/index.md
Owners: @mdn/yari-content-javascript

Update index.md
  files/en-us/web/javascript/reference/global_objects/promise/resolve/index.md
Owners: @mdn/yari-content-javascript
