Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone

[Remove]: 'window' namespace (#11588)
  files/en-us/learn/javascript/client-side_web_apis/client-side_storage/index.md
Owners: @mdn/yari-content-javascript

[cache-control] `no-cache` always validate cache
  files/en-us/web/http/headers/cache-control/index.md
Owners: @mdn/yari-content-http

[cache-control] stored response "reused for"
  files/en-us/web/http/headers/cache-control/index.md
Owners: @mdn/yari-content-http

changed order so example comes after explanation
  files/en-us/web/css/css_counter_styles/using_css_counters/index.md
Owners: @mdn/yari-content-css

[cache-control] use `no-cache` for avoid caching html
  files/en-us/web/http/headers/cache-control/index.md
Owners: @mdn/yari-content-http

POSITIVE_INFINITY > x for all x except infinity (#11574)
  files/en-us/web/javascript/reference/global_objects/number/positive_infinity/index.md
Owners: @mdn/yari-content-javascript

Update index.md (#11587)
  files/en-us/web/javascript/reference/global_objects/date/tolocaledatestring/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/web/css/css_counter_styles/using_css_counters/index.md
  files/en-us/web/css/css_counter_styles/using_css_counters/index.md
Owners: @mdn/yari-content-css

Apply suggestions from code review
  files/en-us/web/css/css_counter_styles/using_css_counters/index.md
Owners: @mdn/yari-content-css

Clarify when change fires on radio and checkbox
  files/en-us/web/api/htmlelement/change_event/index.md
Owners: @mdn/yari-content-web-api

Clarify further when change event fires on radio
  files/en-us/web/api/htmlelement/change_event/index.md
Owners: @mdn/yari-content-web-api

add spaces for easier double-click copying
  files/en-us/mozilla/add-ons/webextensions/api/tabs/create/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Update index.md
  files/en-us/web/api/window/mozpaintcount/index.md
Owners: @mdn/yari-content-web-api

string.padstring - improve presentation of padding string (#11580)
  files/en-us/web/javascript/reference/global_objects/string/padstart/index.md
Owners: @mdn/yari-content-javascript

Fixup `Cache-Control` (#11609)
  files/en-us/web/http/headers/cache-control/index.md
Owners: @mdn/yari-content-http

Change 'attribute' for 'property'
  files/en-us/web/api/htmlmediaelement/index.md
Owners: @mdn/yari-content-web-api

Firefox 96 release notes (#11600)
  files/en-us/mozilla/firefox/releases/96/index.md
  files/en-us/mozilla/firefox/releases/97/index.md
  files/en-us/mozilla/firefox/releases/98/index.md
Owners: @mdn/yari-content-mdn

Clarify when change event fires on radio and checkbox (#11614)
  files/en-us/web/api/htmlelement/change_event/index.md
Owners: @mdn/yari-content-web-api

DOM Property Viewer - shortcut fix plus images (#11570)
  files/en-us/tools/dom_property_viewer/dom_inspector.png
  files/en-us/tools/dom_property_viewer/dom_inspector_open.png
  files/en-us/tools/dom_property_viewer/dom_inspector_refresh_button.png
  files/en-us/tools/dom_property_viewer/dom_inspector_search_box.png
  files/en-us/tools/dom_property_viewer/index.html
Owners: @mdn/yari-content-mdn

fix
  files/en-us/web/media/formats/audio_concepts/index.md
Owners: @mdn/yari-content-mdn

Formatting missing for event handlers
  files/en-us/web/api/window/index.md
Owners: @mdn/yari-content-web-api

Fixing flaws in digital audio concepts document (#11618)
  files/en-us/web/media/formats/audio_concepts/index.md
Owners: @mdn/yari-content-mdn

Add a workaround of Blob Constructor in IE10
  files/en-us/web/api/blob/blob/index.md
Owners: @mdn/yari-content-web-api

remove unnecessary {{cssinfo}}
  files/en-us/web/css/scrollbar-width/index.md
Owners: @mdn/yari-content-css

Fix MouseEvent interface
  files/en-us/web/api/mouseevent/index.md
Owners: @mdn/yari-content-web-api

DOCTYPE.md
  files/en-us/glossary/doctype/index.md
Owners: @mdn/yari-content-mdn

Fix incorrect function in documentation
  files/en-us/web/api/abortcontroller/index.md
Owners: @mdn/yari-content-web-api

add spaces for easier double-click copying (#11615)
  files/en-us/mozilla/add-ons/webextensions/api/tabs/create/index.md
Owners: @mdn/yari-content-mozilla-add-ons

✏️ fix(typo) : usg.org-assigned -> usb.org-assigned
  files/en-us/web/api/usbdevice/vendorid/index.md
Owners: @mdn/yari-content-web-api

✏️ fix(typo) : usg.org-assigned -> usb.org-assigned (#11628)
  files/en-us/web/api/usbdevice/vendorid/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/web/api/progressevent/loaded/index.md
Owners: @mdn/yari-content-web-api

Fix incorrect function in documentation (#11627)
  files/en-us/web/api/abortcontroller/index.md
Owners: @mdn/yari-content-web-api

Update index.md (#11630)
  files/en-us/web/api/progressevent/loaded/index.md
Owners: @mdn/yari-content-web-api

Fix MouseEvent interface (#11624)
  files/en-us/web/api/mouseevent/index.md
Owners: @mdn/yari-content-web-api

opensearch: Remove non standard Param element
  files/en-us/web/opensearch/index.md
Owners: @mdn/yari-content-mdn

Minor adjustments in "Truthy"
  files/en-us/glossary/truthy/index.md
Owners: @mdn/yari-content-mdn

Minor link text edit
  files/en-us/glossary/truthy/index.md
Owners: @mdn/yari-content-mdn

Fixed discrepancy in code snippet, in index.md
  files/en-us/web/html/element/input/index.md
Owners: @mdn/yari-content-html

fix
  files/en-us/web/api/audionode/connect/index.md
Owners: @mdn/yari-content-web-api

Revert "Fix MouseEvent interface (#11624)"
  files/en-us/web/api/mouseevent/index.md
Owners: @mdn/yari-content-web-api
