Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone

Update index.md
  files/en-us/web/api/domtokenlist/add/index.md
Owners: @mdn/yari-content-web-api

Use of class name rather than variable in example
  files/en-us/web/api/htmlareaelement/hostname/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/web/api/htmlareaelement/index.md
Owners: @mdn/yari-content-web-api

Fix levels of headings in CSS Cookbook
  files/en-us/web/css/layout_cookbook/breadcrumb_navigation/index.md
  files/en-us/web/css/layout_cookbook/card/index.md
  files/en-us/web/css/layout_cookbook/center_an_element/index.md
  files/en-us/web/css/layout_cookbook/column_layouts/index.md
  files/en-us/web/css/layout_cookbook/contribute_a_recipe/cookbook_template/index.md
  files/en-us/web/css/layout_cookbook/grid_wrapper/index.md
  files/en-us/web/css/layout_cookbook/list_group_with_badges/index.md
  files/en-us/web/css/layout_cookbook/media_objects/index.md
  files/en-us/web/css/layout_cookbook/pagination/index.md
  files/en-us/web/css/layout_cookbook/sticky_footers/index.md
Owners: @mdn/yari-content-css

edits: input_event
  files/en-us/web/api/htmlelement/input_event/index.md
Owners: @mdn/yari-content-web-api

[Remove]: Useless sentence
  files/en-us/web/javascript/guide/introduction/index.md
Owners: @mdn/yari-content-javascript

Update and rename files/en-us/glossary/character/index.md to ไฟล์/en-us/อภิธานศัพท์/อักขระ/index.md
  ไฟล์/en-us/อภิธานศัพท์/อักขระ/index.md
Owners: @mdn/core-yari-dev

Remove not working CSS
  files/en-us/web/css/_doublecolon_target-text/index.md
Owners: @mdn/yari-content-css

Update index.md (#11486)
  files/en-us/web/api/htmlareaelement/index.md
Owners: @mdn/yari-content-web-api

[Remove]: Useless sentence (#11490)
  files/en-us/web/javascript/guide/introduction/index.md
Owners: @mdn/yari-content-javascript

Add HTML DOM API to web apis
  files/jsondata/GroupData.json
Owners: @mdn/core-yari-dev

Remove reference to pref privacy.file_unique_origin
  files/en-us/web/http/cors/errors/corsrequestnothttp/index.md
Owners: @mdn/yari-content-http

Adding hwb to Applying colors to HTML elements (#11424)
  files/en-us/web/html/applying_color/index.md
Owners: @mdn/yari-content-html

aria-minvalue: minor edits (#11429)
  files/en-us/web/accessibility/aria/attributes/aria-valuemin/index.md
Owners: @mdn/yari-content-accessibility

Fix levels of headings in CSS Cookbook (#11488)
  files/en-us/web/css/layout_cookbook/breadcrumb_navigation/index.md
  files/en-us/web/css/layout_cookbook/card/index.md
  files/en-us/web/css/layout_cookbook/center_an_element/index.md
  files/en-us/web/css/layout_cookbook/column_layouts/index.md
  files/en-us/web/css/layout_cookbook/contribute_a_recipe/cookbook_template/index.md
  files/en-us/web/css/layout_cookbook/grid_wrapper/index.md
  files/en-us/web/css/layout_cookbook/list_group_with_badges/index.md
  files/en-us/web/css/layout_cookbook/media_objects/index.md
  files/en-us/web/css/layout_cookbook/pagination/index.md
  files/en-us/web/css/layout_cookbook/sticky_footers/index.md
Owners: @mdn/yari-content-css

Use of class name rather than variable in example (#11485)
  files/en-us/web/api/htmlareaelement/hostname/index.md
Owners: @mdn/yari-content-web-api

HTMLAreaElement.hostname - add live example
  files/en-us/web/api/htmlareaelement/hostname/index.md
Owners: @mdn/yari-content-web-api

fix space before hyperlink (#11482)
  files/en-us/web/html/element/script/index.md
Owners: @mdn/yari-content-html

Update index.md (#11484)
  files/en-us/web/api/domtokenlist/add/index.md
Owners: @mdn/yari-content-web-api

DOMTokenList.add() - add exceptions and fixup syntax
  files/en-us/web/api/domtokenlist/add/index.md
Owners: @mdn/yari-content-web-api

Apply suggestions from code review
  files/en-us/web/javascript/reference/global_objects/array/index.md
Owners: @mdn/yari-content-javascript

Update index.md
  files/en-us/web/http/headers/content-range/index.md
Owners: @mdn/yari-content-http

Update index.md
  files/en-us/web/http/headers/content-range/index.md
Owners: @mdn/yari-content-http

HTTP content-range (#11480)
  files/en-us/web/http/headers/content-range/index.md
Owners: @mdn/yari-content-http

Clear-Site-Data cache - pref in 94
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/94/index.md
Owners: @mdn/yari-content-mdn

Clarify, just cache has been disabled
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/94/index.md
Owners: @mdn/yari-content-mdn

HTTP Client hints - move big glossary into guide
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/device_memory_api/index.md
  files/en-us/web/api/user-agent_client_hints_api/index.md
  files/en-us/web/http/client_hints/index.md
  files/en-us/web/http/headers/accept-ch-lifetime/index.md
  files/en-us/web/http/headers/accept-ch/index.md
  files/en-us/web/http/headers/content-dpr/index.md
  files/en-us/web/http/headers/dpr/index.md
  files/en-us/web/http/headers/index.md
  files/en-us/web/http/headers/sec-ch-ua-arch/index.md
  files/en-us/web/http/headers/sec-ch-ua-bitness/index.md
  files/en-us/web/http/headers/sec-ch-ua-full-version-list/index.md
  files/en-us/web/http/headers/sec-ch-ua-full-version/index.md
  files/en-us/web/http/headers/sec-ch-ua-mobile/index.md
  files/en-us/web/http/headers/sec-ch-ua-model/index.md
  files/en-us/web/http/headers/sec-ch-ua-platform-version/index.md
  files/en-us/web/http/headers/sec-ch-ua-platform/index.md
  files/en-us/web/http/headers/sec-ch-ua/index.md
  files/en-us/web/http/headers/viewport-width/index.md
  files/en-us/web/http/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api, @mdn/yari-content-http

fix section heading of css grid tutorial
  files/en-us/web/css/css_grid_layout/relationship_of_grid_layout/index.md
Owners: @mdn/yari-content-css

fix section heading of css grid tutorial (#11507)
  files/en-us/web/css/css_grid_layout/relationship_of_grid_layout/index.md
Owners: @mdn/yari-content-css

Update index.md
  files/en-us/mozilla/add-ons/webextensions/your_second_webextension/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Patch 1 part deux (#11419)
  files/en-us/web/accessibility/understanding_colors_and_luminance/index.md
Owners: @mdn/yari-content-accessibility

Remove not working CSS (#11497)
  files/en-us/web/css/_doublecolon_target-text/index.md
Owners: @mdn/yari-content-css

Update files/en-us/web/accessibility/aria/attributes/aria-describedby/index.md
  files/en-us/web/accessibility/aria/attributes/aria-describedby/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-describedby/index.md
  files/en-us/web/accessibility/aria/attributes/aria-describedby/index.md
Owners: @mdn/yari-content-accessibility

Edits: aria-describedby (#11439)
  files/en-us/web/accessibility/aria/attributes/aria-describedby/index.md
Owners: @mdn/yari-content-accessibility

Add other ways of doing an array copy (#11440)
  files/en-us/web/javascript/reference/global_objects/array/index.md
Owners: @mdn/yari-content-javascript

Edits: aria-valuemax (#11435)
  files/en-us/web/accessibility/aria/attributes/aria-valuemax/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/api/domtokenlist/add/index.md
  files/en-us/web/api/domtokenlist/add/index.md
Owners: @mdn/yari-content-web-api

DOMTokenList.add() - add exceptions and fixup syntax (#11504)
  files/en-us/web/api/domtokenlist/add/index.md
Owners: @mdn/yari-content-web-api

New page: aria-required
  files/en-us/web/accessibility/aria/attributes/aria-required/index.md
Owners: @mdn/yari-content-accessibility
