Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

Update js-ctypes URL link (#10257)
  files/en-us/web/javascript/typed_arrays/index.md
Owners: @mdn/yari-content-javascript

Fix typo under "Indexing object properties"
  files/en-us/web/javascript/guide/working_with_objects/index.md
Owners: @mdn/yari-content-javascript

Remove link to SelectorsHub (#10269)
  files/en-us/web/xpath/index.md
Owners: @mdn/yari-content-mdn

more
  files/en-us/web/accessibility/aria/attributes/aria-hidden/index.md
Owners: @mdn/yari-content-accessibility

example text explanation
  files/en-us/web/accessibility/aria/attributes/aria-hidden/index.md
Owners: @mdn/yari-content-accessibility

Delete nonexistent Feature-Policy directive vibrate
  files/en-us/_wikihistory.json
  files/en-us/web/http/headers/feature-policy/vibrate/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-http

Fix typo on Svelte intro
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_getting_started/index.md
Owners: @mdn/yari-content-mdn

clearer role related explanations
  files/en-us/web/accessibility/aria/attributes/aria-expanded/index.md
Owners: @mdn/yari-content-accessibility

capitalization
  files/en-us/web/accessibility/aria/attributes/aria-expanded/index.md
Owners: @mdn/yari-content-accessibility

Fix typo under "Indexing object properties" (#10275)
  files/en-us/web/javascript/guide/working_with_objects/index.md
Owners: @mdn/yari-content-javascript

Fix typo on Svelte intro (#10277)
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_getting_started/index.md
Owners: @mdn/yari-content-mdn

New page: aria-invalid
  files/en-us/web/accessibility/aria/attributes/aria-invalid/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-grabbed/index.md
  files/en-us/web/accessibility/aria/attributes/aria-grabbed/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-grabbed/index.md
  files/en-us/web/accessibility/aria/attributes/aria-grabbed/index.md
Owners: @mdn/yari-content-accessibility

New page: aria-grabbed (#10246)
  files/en-us/web/accessibility/aria/attributes/aria-grabbed/index.md
Owners: @mdn/yari-content-accessibility

Remove vibrate feature
  files/en-us/web/http/headers/feature-policy/index.md
Owners: @mdn/yari-content-http

Delete nonexistent Feature-Policy directive vibrate (#10276)
  files/en-us/_wikihistory.json
  files/en-us/web/http/headers/feature-policy/index.md
  files/en-us/web/http/headers/feature-policy/vibrate/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-http

added spaces back in
  files/en-us/web/accessibility/aria/roles/alertdialog_role/index.md
  files/en-us/web/accessibility/aria/roles/button_role/index.md
  files/en-us/web/accessibility/aria/roles/feed_role/index.md
  files/en-us/web/accessibility/aria/roles/landmark_role/index.md
  files/en-us/web/accessibility/aria/roles/main_role/index.html
  files/en-us/web/accessibility/aria/roles/math_role/index.md
  files/en-us/web/accessibility/aria/roles/presentation_role/index.md
  files/en-us/web/accessibility/aria/roles/separator_role/index.md
  files/en-us/web/accessibility/aria/roles/textbox_role/index.md
  files/en-us/web/accessibility/aria/roles/toolbar_role/index.md
Owners: @mdn/yari-content-accessibility

tweaks
  files/en-us/web/accessibility/aria/roles/alertdialog_role/index.md
  files/en-us/web/accessibility/aria/roles/article_role/index.md
Owners: @mdn/yari-content-accessibility

tweaks
  files/en-us/web/accessibility/aria/roles/button_role/index.md
  files/en-us/web/accessibility/aria/roles/columnheader_role/index.md
  files/en-us/web/accessibility/aria/roles/dialog_role/index.md
  files/en-us/web/accessibility/aria/roles/feed_role/index.md
Owners: @mdn/yari-content-accessibility

tweaks
  files/en-us/web/accessibility/aria/roles/textbox_role/index.md
Owners: @mdn/yari-content-accessibility

tweaks
  files/en-us/web/accessibility/aria/roles/status_role/index.md
  files/en-us/web/accessibility/aria/roles/term_role/index.md
  files/en-us/web/accessibility/aria/roles/toolbar_role/index.md
Owners: @mdn/yari-content-accessibility

Typo fix lose => lost
  files/en-us/web/http/conditional_requests/index.md
Owners: @mdn/yari-content-http

minor fixed in Web/CSS/CSS_Fonts/OpenType_fonts_guide
  files/en-us/web/css/css_fonts/opentype_fonts_guide/index.md
Owners: @mdn/yari-content-css

Update files/en-us/web/accessibility/aria/attributes/aria-hidden/index.md
  files/en-us/web/accessibility/aria/attributes/aria-hidden/index.md
Owners: @mdn/yari-content-accessibility

slug first letter to lowercase
  files/en-us/web/accessibility/aria/roles/alert_role/index.md
  files/en-us/web/accessibility/aria/roles/application_role/index.md
  files/en-us/web/accessibility/aria/roles/article_role/index.md
  files/en-us/web/accessibility/aria/roles/cell_role/index.md
  files/en-us/web/accessibility/aria/roles/document_role/index.md
  files/en-us/web/accessibility/aria/roles/feed_role/index.md
  files/en-us/web/accessibility/aria/roles/figure_role/index.md
  files/en-us/web/accessibility/aria/roles/form_role/index.md
  files/en-us/web/accessibility/aria/roles/grid_role/index.md
  files/en-us/web/accessibility/aria/roles/navigation_role/index.md
  files/en-us/web/accessibility/aria/roles/row_role/index.md
  files/en-us/web/accessibility/aria/roles/rowgroup_role/index.md
  files/en-us/web/accessibility/aria/roles/tab_role/index.md
  files/en-us/web/accessibility/aria/roles/table_role/index.md
  files/en-us/web/accessibility/aria/roles/tabpanel_role/index.md
Owners: @mdn/yari-content-accessibility

minor fixed in Web/CSS/CSS_Fonts/OpenType_fonts_guide (#10282)
  files/en-us/web/css/css_fonts/opentype_fonts_guide/index.md
Owners: @mdn/yari-content-css

Typo fix lose => lost (#10281)
  files/en-us/web/http/conditional_requests/index.md
Owners: @mdn/yari-content-http

Update files/en-us/web/html/element/a/index.md
  files/en-us/web/html/element/a/index.md
Owners: @mdn/yari-content-html

Fix content model for the “a” element (#10247)
  files/en-us/web/html/element/a/index.md
Owners: @mdn/yari-content-html

JSON Stringify documentation update (space parameter)
  files/en-us/web/javascript/reference/global_objects/json/stringify/index.md
Owners: @mdn/yari-content-javascript

Update index.md
  files/en-us/web/api/document/queryselectorall/index.md
Owners: @mdn/yari-content-web-api

Manifest no longer experimental, add spec table
  files/en-us/web/manifest/index.md
Owners: @mdn/yari-content-mdn

Update index.md (#10285)
  files/en-us/web/api/document/queryselectorall/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/web/api/globaleventhandlers/onerror/index.md
Owners: @mdn/yari-content-web-api

Remove duplicate title
  files/en-us/mozilla/add-ons/webextensions/manifest.json/version/format/index.md
Owners: @mdn/yari-content-mozilla-add-ons

change examples for Remainder operator to use 13 instead of 12
  files/en-us/web/javascript/reference/operators/remainder/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/mozilla/firefox/releases/94/index.md
  files/en-us/mozilla/firefox/releases/94/index.md
Owners: @mdn/yari-content-mdn

menus.OnClickedData.srcUrl returns raw src value (#10214)
  files/en-us/mozilla/add-ons/webextensions/api/menus/onclickdata/index.md
  files/en-us/mozilla/firefox/releases/94/index.md
Owners: @mdn/yari-content-mozilla-add-ons, @mdn/yari-content-mdn

Remove duplicate title (#10289)
  files/en-us/mozilla/add-ons/webextensions/manifest.json/version/format/index.md
Owners: @mdn/yari-content-mozilla-add-ons

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone
