Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

Add a couple of missing event page redirects
  files/en-us/_redirects.txt
Owners: @mdn/yari-content-mdn

DOMMatrix: Add a description for the array constructor variant
  files/en-us/web/api/dommatrix/dommatrix/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/dommatrix/dommatrix/index.md
  files/en-us/web/api/dommatrix/dommatrix/index.md
Owners: @mdn/yari-content-web-api

DOMMatrix: Add a description for the array constructor variant (#10401)
  files/en-us/web/api/dommatrix/dommatrix/index.md
Owners: @mdn/yari-content-web-api

DOMMatrixReadOnly: Add a description for the array constructor variant
  files/en-us/web/api/dommatrixreadonly/dommatrixreadonly/index.md
Owners: @mdn/yari-content-web-api

implement https://github.com/mdn/content/issues/10382
  files/en-us/web/css/_colon_is/index.md
Owners: @mdn/yari-content-css

DOMMatrixReadOnly: Add a description for the array constructor variant (#10404)
  files/en-us/web/api/dommatrixreadonly/dommatrixreadonly/index.md
Owners: @mdn/yari-content-web-api

SVGMatrix: Describe how to create an instance
  files/en-us/web/api/svgmatrix/index.md
Owners: @mdn/yari-content-web-api

Update links to gradient functions
  files/en-us/web/css/border-image/index.md
Owners: @mdn/yari-content-css

Update links to gradient functions (#10412)
  files/en-us/web/css/border-image/index.md
Owners: @mdn/yari-content-css

Remove non-attribute property
  files/en-us/web/html/element/input/file/index.md
Owners: @mdn/yari-content-html

Hoisting docs - clarify class hoisting (#10064)
  files/en-us/glossary/hoisting/index.md
  files/en-us/web/javascript/reference/classes/index.md
  files/en-us/web/javascript/reference/operators/function/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-javascript

Remove old CSS style guide
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mdn/contribute/changelog/index.md
  files/en-us/mdn/contribute/markdown_in_mdn/index.md
  files/en-us/mdn/guidelines/css_style_guide/index.md
  files/en-us/mdn/guidelines/writing_style_guide/index.md
  files/en-us/mdn/structures/code_examples/index.md
  files/en-us/mdn/structures/macros/commonly-used_macros/index.md
Owners: @mdn/yari-content-mdn

No markup in headings
  files/en-us/web/css/_colon_is/index.md
Owners: @mdn/yari-content-css

CSS cursor - FF95 release note and tidy (#10363)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/firefox/releases/1.5/what_s_new_in_1.5_alpha/index.md
  files/en-us/mozilla/firefox/releases/95/index.md
  files/en-us/web/css/css_basic_user_interface/index.md
  files/en-us/web/css/css_basic_user_interface/using_url_values_for_the_cursor_property/index.md
  files/en-us/web/css/cursor/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-css

added rendering for good and bad code examples
  files/en-us/mdn/contribute/markdown_in_mdn/index.md
Owners: @mdn/yari-content-mdn

Apply suggestions from code review
  files/en-us/web/accessibility/aria/attributes/aria-hidden/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/css/_colon_is/index.md
  files/en-us/web/css/_colon_is/index.md
Owners: @mdn/yari-content-css

clarified aria-modal/dialog
  files/en-us/web/accessibility/aria/attributes/aria-hidden/index.md
Owners: @mdn/yari-content-accessibility

hides content from AT but doesn't visually hide anything
  files/en-us/web/accessibility/aria/attributes/aria-hidden/index.md
Owners: @mdn/yari-content-accessibility

Visually hiding elements w/ display or visibility hides content from the screen and from AT
  files/en-us/web/accessibility/aria/attributes/aria-hidden/index.md
Owners: @mdn/yari-content-accessibility

removed files from properties table
  files/en-us/web/html/element/input/file/index.md
Owners: @mdn/yari-content-html

added trash example
  files/en-us/web/accessibility/aria/attributes/aria-describedby/index.md
Owners: @mdn/yari-content-accessibility

Apply suggestions from code review
  files/en-us/glossary/uuid/index.md
Owners: @mdn/yari-content-mdn

Add glossary entry for UUID (#10307)
  files/en-us/glossary/uuid/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/messagesender/index.md
  files/en-us/mozilla/add-ons/webextensions/chrome_incompatibilities/index.md
  files/en-us/mozilla/firefox/releases/69/index.md
  files/en-us/web/api/bluetoothremotegattdescriptor/uuid/index.md
  files/en-us/web/api/crypto/randomuuid/index.md
  files/en-us/web/api/mediastream/index.md
  files/en-us/web/webdriver/errors/staleelementreference/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-mozilla-add-ons, @mdn/yari-content-web-api

link to aria attributes
  files/en-us/web/accessibility/aria/index.md
Owners: @mdn/yari-content-accessibility

Adds `that`
  files/en-us/web/javascript/reference/operators/function/index.md
Owners: @mdn/yari-content-javascript

Adds comma
  files/en-us/web/javascript/reference/operators/function/index.md
Owners: @mdn/yari-content-javascript

Update let/const guidance in JS Learning Area
  files/en-us/learn/javascript/first_steps/a_first_splash/index.md
  files/en-us/learn/javascript/first_steps/variables/index.md
Owners: @mdn/yari-content-javascript

Some copy-edits
  files/en-us/learn/javascript/first_steps/a_first_splash/index.md
  files/en-us/learn/javascript/first_steps/variables/index.md
Owners: @mdn/yari-content-javascript

Try to add a bit of clarity to const description
  files/en-us/learn/javascript/first_steps/variables/index.md
Owners: @mdn/yari-content-javascript

Remove non-attribute property (#10414)
  files/en-us/web/html/element/input/file/index.md
Owners: @mdn/yari-content-html

link to aria attributes (#10418)
  files/en-us/web/accessibility/aria/index.md
Owners: @mdn/yari-content-accessibility

Copy-edit
  files/en-us/web/api/svgmatrix/index.md
Owners: @mdn/yari-content-web-api

SVGMatrix: Describe how to create an instance (#10409)
  files/en-us/web/api/svgmatrix/index.md
Owners: @mdn/yari-content-web-api

implement: Add an example showing ths is() does not match pseudo-elements (#10407)
  files/en-us/web/css/_colon_is/index.md
Owners: @mdn/yari-content-css

Correct typo in code example (#10398)
  files/en-us/web/css/perspective/index.md
Owners: @mdn/yari-content-css

fixed a typo
  files/en-us/web/accessibility/aria/attributes/index.md
Owners: @mdn/yari-content-accessibility

Update index.md
  files/en-us/web/javascript/reference/operators/function/index.md
Owners: @mdn/yari-content-javascript

Fix a typo (#10422)
  files/en-us/web/accessibility/aria/attributes/index.md
Owners: @mdn/yari-content-accessibility

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone
