Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone

Apply suggestions from code review
  files/en-us/glossary/client_hints/index.md
  files/en-us/web/http/headers/sec-ch-ua/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-http

Remove inaccessible link within Live-Sample and fix broken link (#10832)
  files/en-us/web/api/background_tasks_api/index.md
Owners: @mdn/yari-content-web-api

The policy may include just CSP default-src
  files/en-us/mozilla/add-ons/webextensions/manifest.json/content_security_policy/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Simplify URLSearchParams examples (#10869)
  files/en-us/web/api/urlsearchparams/append/index.md
  files/en-us/web/api/urlsearchparams/get/index.md
  files/en-us/web/api/urlsearchparams/getall/index.md
  files/en-us/web/api/urlsearchparams/has/index.md
  files/en-us/web/api/urlsearchparams/tostring/index.md
Owners: @mdn/yari-content-web-api

Layout changes and one typo (unrelated)
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
Owners: @mdn/yari-content-javascript

Update index.md (#10866)
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
Owners: @mdn/yari-content-javascript

fix typo
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/introduction/index.md
Owners: @mdn/yari-content-mdn

fix typo (#10875)
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/introduction/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/web/api/document/execcommand/index.md
  files/en-us/web/api/document/execcommand/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/document/execcommand/index.md
  files/en-us/web/api/document/execcommand/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/document/execcommand/index.md
  files/en-us/web/api/document/execcommand/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/document/execcommand/index.md
  files/en-us/web/api/document/execcommand/index.md
Owners: @mdn/yari-content-web-api

simplified value definition
  files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
Owners: @mdn/yari-content-accessibility

Updates another page that has the same warning using the suggested text modified for flow.
  files/en-us/web/api/subtlecrypto/index.md
  files/en-us/web/api/web_crypto_api/index.md
Owners: @mdn/yari-content-web-api

removes trailing space
  files/en-us/web/api/web_crypto_api/index.md
Owners: @mdn/yari-content-web-api

Mostly pure layout changes to make comparison easier
  files/en-us/web/javascript/reference/operators/logical_and/index.md
Owners: @mdn/yari-content-javascript

Links to the Crypto101 course. Thanks @y-a-v-a (#10830)
  files/en-us/web/api/subtlecrypto/index.md
  files/en-us/web/api/web_crypto_api/index.md
Owners: @mdn/yari-content-web-api

The policy may include just CSP default-src (#10843)
  files/en-us/mozilla/add-ons/webextensions/manifest.json/content_security_policy/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Change && description
  files/en-us/web/javascript/reference/operators/logical_and/index.md
Owners: @mdn/yari-content-javascript

Remove exper.feature limitation about canShare
  files/en-us/mozilla/firefox/experimental_features/index.md
Owners: @mdn/yari-content-mdn

[fix typo] and format code snippet
  files/en-us/web/javascript/reference/global_objects/intl/displaynames/index.md
Owners: @mdn/yari-content-javascript

Fix role alternative elements and links
  files/en-us/web/accessibility/aria/roles/range_role/index.md
Owners: @mdn/yari-content-accessibility

[fix typo] and format code snippet (#10877)
  files/en-us/web/javascript/reference/global_objects/intl/displaynames/index.md
Owners: @mdn/yari-content-javascript

Apply suggestions from code review
  files/en-us/web/api/xrsession/inputsourceschange_event/index.md
  files/en-us/web/api/xrsession/select_event/index.md
  files/en-us/web/api/xrsession/selectend_event/index.md
  files/en-us/web/api/xrsession/selectstart_event/index.md
  files/en-us/web/api/xrsession/squeeze_event/index.md
  files/en-us/web/api/xrsession/squeezeend_event/index.md
  files/en-us/web/api/xrsession/squeezestart_event/index.md
Owners: @mdn/yari-content-web-api

Add note about `htmlFor`
  files/en-us/web/html/element/label/index.md
Owners: @mdn/yari-content-html

Remove [Display]MediaStreamConstraints dictionary from MDN
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/displaymediastreamconstraints/audio/index.md
  files/en-us/web/api/displaymediastreamconstraints/index.md
  files/en-us/web/api/displaymediastreamconstraints/video/index.md
  files/en-us/web/api/media_streams_api/index.md
  files/en-us/web/api/mediadevices/getdisplaymedia/index.md
  files/en-us/web/api/mediadevices/getusermedia/index.md
  files/en-us/web/api/mediastreamconstraints/audio/index.md
  files/en-us/web/api/mediastreamconstraints/index.md
  files/en-us/web/api/mediastreamconstraints/video/index.md
  files/en-us/web/api/mediatrackconstraints/index.md
  files/en-us/web/api/navigator/getusermedia/index.md
  files/en-us/web/api/screen_capture_api/using_screen_capture/index.md
  files/en-us/web/api/webrtc_api/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

Add note about `htmlFor`
  files/en-us/web/api/htmllabelelement/index.md
Owners: @mdn/yari-content-web-api

feedback
  files/en-us/web/api/xrsession/end_event/index.md
  files/en-us/web/api/xrsession/inputsourceschange_event/index.md
  files/en-us/web/api/xrsession/select_event/index.md
  files/en-us/web/api/xrsession/selectend_event/index.md
  files/en-us/web/api/xrsession/selectstart_event/index.md
  files/en-us/web/api/xrsession/squeeze_event/index.md
  files/en-us/web/api/xrsession/squeezeend_event/index.md
  files/en-us/web/api/xrsession/squeezestart_event/index.md
  files/en-us/web/api/xrsession/visibilitychange_event/index.md
Owners: @mdn/yari-content-web-api

Fix all WebRTC_API links
  files/en-us/web/api/audiotracklist/addtrack_event/index.md
  files/en-us/web/api/audiotracklist/removetrack_event/index.md
  files/en-us/web/api/rtcpeerconnection/addstream/index.md
  files/en-us/web/api/rtcpeerconnection/addtrack/index.md
  files/en-us/web/api/rtcpeerconnection/cantrickleicecandidates/index.md
  files/en-us/web/api/rtcpeerconnection/close/index.md
  files/en-us/web/api/rtcpeerconnection/currentlocaldescription/index.md
  files/en-us/web/api/rtcpeerconnection/currentremotedescription/index.md
  files/en-us/web/api/rtcpeerconnection/getreceivers/index.md
  files/en-us/web/api/rtcpeerconnection/getsenders/index.md
  files/en-us/web/api/rtcpeerconnection/iceconnectionstate/index.md
  files/en-us/web/api/rtcpeerconnection/pendinglocaldescription/index.md
  files/en-us/web/api/rtcpeerconnection/pendingremotedescription/index.md
  files/en-us/web/api/rtcpeerconnection/remotedescription/index.md
  files/en-us/web/api/rtcpeerconnection/sctp/index.md
  files/en-us/web/api/rtcpeerconnection/setremotedescription/index.md
  files/en-us/web/api/rtcpeerconnectioniceevent/index.md
  files/en-us/web/api/rtcpeerconnectioniceevent/rtcpeerconnectioniceevent/index.md
  files/en-us/web/api/rtcsessiondescription/index.md
  files/en-us/web/api/rtcsessiondescription/rtcsessiondescription/index.md
  files/en-us/web/api/rtcsessiondescription/sdp/index.md
  files/en-us/web/api/rtcsessiondescription/type/index.md
Owners: @mdn/yari-content-web-api

fix typo
  files/en-us/web/api/rtcpeerconnection/getreceivers/index.md
Owners: @mdn/yari-content-web-api

fix typo
  files/en-us/web/api/rtcpeerconnection/getsenders/index.md
Owners: @mdn/yari-content-web-api

fix typo
  files/en-us/web/api/rtcsessiondescription/rtcsessiondescription/index.md
Owners: @mdn/yari-content-web-api

EyeDropper can only be used in a secure context (#10837)
  files/en-us/web/api/eyedropper/index.md
  files/en-us/web/security/secure_contexts/features_restricted_to_secure_contexts/index.md
Owners: @mdn/yari-content-web-api, @mdn/yari-content-mdn

Remove Experimental Features note about about canShare() support (#10876)
  files/en-us/mozilla/firefox/experimental_features/index.md
Owners: @mdn/yari-content-mdn

Remove [Display]MediaStreamConstraints dictionary from MDN (#10881)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/displaymediastreamconstraints/audio/index.md
  files/en-us/web/api/displaymediastreamconstraints/index.md
  files/en-us/web/api/displaymediastreamconstraints/video/index.md
  files/en-us/web/api/media_streams_api/index.md
  files/en-us/web/api/mediadevices/getdisplaymedia/index.md
  files/en-us/web/api/mediadevices/getusermedia/index.md
  files/en-us/web/api/mediastreamconstraints/audio/index.md
  files/en-us/web/api/mediastreamconstraints/index.md
  files/en-us/web/api/mediastreamconstraints/video/index.md
  files/en-us/web/api/mediatrackconstraints/index.md
  files/en-us/web/api/navigator/getusermedia/index.md
  files/en-us/web/api/screen_capture_api/using_screen_capture/index.md
  files/en-us/web/api/webrtc_api/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

XRSession: Use single page for events (#10771)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/xrinputsourceschangeevent/index.md
  files/en-us/web/api/xrsession/end_event/index.md
  files/en-us/web/api/xrsession/index.md
  files/en-us/web/api/xrsession/inputsourceschange_event/index.md
  files/en-us/web/api/xrsession/onend/index.md
  files/en-us/web/api/xrsession/oninputsourceschange/index.md
  files/en-us/web/api/xrsession/onselect/index.md
  files/en-us/web/api/xrsession/onselectend/index.md
  files/en-us/web/api/xrsession/onselectstart/index.md
  files/en-us/web/api/xrsession/onsqueeze/index.md
  files/en-us/web/api/xrsession/onsqueezeend/index.md
  files/en-us/web/api/xrsession/onsqueezestart/index.md
  files/en-us/web/api/xrsession/onvisibilitychange/index.md
  files/en-us/web/api/xrsession/select_event/index.md
  files/en-us/web/api/xrsession/selectend_event/index.md
  files/en-us/web/api/xrsession/selectstart_event/index.md
  files/en-us/web/api/xrsession/squeeze_event/index.md
  files/en-us/web/api/xrsession/squeezeend_event/index.md
  files/en-us/web/api/xrsession/squeezestart_event/index.md
  files/en-us/web/api/xrsession/visibilitychange_event/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

Add a note about `htmlFor` that trips you when you want to set `for` on a `label` (#10882)
  files/en-us/web/api/htmllabelelement/index.md
  files/en-us/web/html/element/label/index.md
Owners: @mdn/yari-content-web-api, @mdn/yari-content-html

Update a typo in settimeout index.md
  files/en-us/web/api/settimeout/index.md
Owners: @mdn/yari-content-web-api

Update a typo in settimeout index.md (#10888)
  files/en-us/web/api/settimeout/index.md
Owners: @mdn/yari-content-web-api

Improve definition of logical &&
  files/en-us/web/javascript/reference/operators/logical_and/index.md
Owners: @mdn/yari-content-javascript
