Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone

Fix a link in Document.pictureInPictureEnabled docs (#11339)
  files/en-us/web/api/document/pictureinpictureenabled/index.md
Owners: @mdn/yari-content-web-api

Fix a broken link in HTMLVideoElement.requestPictureInPicture() docs (#11341)
  files/en-us/web/api/htmlvideoelement/requestpictureinpicture/index.md
Owners: @mdn/yari-content-web-api

fix markdown issue with link (#11337)
  files/en-us/web/accessibility/aria/roles/document_role/index.md
Owners: @mdn/yari-content-accessibility

Missing documentation on exception thrown (#11336)
  files/en-us/web/api/characterdata/replacedata/index.md
Owners: @mdn/yari-content-web-api

Missing documentation on exception thrown (#11335)
  files/en-us/web/api/characterdata/insertdata/index.md
Owners: @mdn/yari-content-web-api

Missing information about exception thrown (#11334)
  files/en-us/web/api/characterdata/deletedata/index.md
Owners: @mdn/yari-content-web-api

Part 2
  files/en-us/glossary/web3/index.md
Owners: @mdn/yari-content-mdn

Add symbols() function
  files/en-us/web/css/css_counter_styles/index.md
Owners: @mdn/yari-content-css

Note a11y implications of `::before`
  files/en-us/web/css/_doublecolon_before/index.md
Owners: @mdn/yari-content-css

Note a11y implications of pseudo-elements
  files/en-us/web/css/_doublecolon_after/index.md
Owners: @mdn/yari-content-css

Update files/en-us/glossary/web3/index.md
  files/en-us/glossary/web3/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/glossary/web3/index.md
  files/en-us/glossary/web3/index.md
Owners: @mdn/yari-content-mdn

Fix a typo
  files/en-us/glossary/web3/index.md
Owners: @mdn/yari-content-mdn

edits. not finished
  files/en-us/web/accessibility/aria/roles/alertdialog_role/index.md
Owners: @mdn/yari-content-accessibility

Add symbols() function (#11346)
  files/en-us/web/css/css_counter_styles/index.md
Owners: @mdn/yari-content-css

Missing argument in replaceWith method call in example section (#11330)
  files/en-us/web/api/characterdata/replacewith/index.md
Owners: @mdn/yari-content-web-api

Fix links in <input type="color"> docs (#11324)
  files/en-us/web/html/element/input/color/index.md
Owners: @mdn/yari-content-html

redirected old alertdialog to new
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/accessibility/aria/aria_techniques/using_the_alertdialog_role/index.html
  files/en-us/web/accessibility/aria/roles/alertdialog_role/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-accessibility

Retire firefox vendor prefix from live sample example (#11244)
  files/en-us/web/css/tab-size/index.md
Owners: @mdn/yari-content-css

Update learn index.md (#11280)
  files/en-us/learn/css/index.md
Owners: @mdn/yari-content-css

Update README.md (#11333)
  README.md
Owners: @mdn/core-yari-dev, @mdn/core-yari-content

layout only changes
  files/en-us/web/javascript/reference/global_objects/webassembly/global/global/index.md
Owners: @mdn/yari-content-javascript

Updated with review comments; make example live
  files/en-us/web/api/document/execcommand/index.md
Owners: @mdn/yari-content-web-api

Add externref and anyfunc as possible values for GlobalDescriptor.value (#11298)
  files/en-us/web/javascript/reference/global_objects/webassembly/global/global/index.md
Owners: @mdn/yari-content-javascript

intro sentence for examples
  files/en-us/web/accessibility/aria/roles/alert_role/index.md
Owners: @mdn/yari-content-accessibility

Clarify the Element»insertAdjacentText() description (#11192)
  files/en-us/web/api/element/insertadjacenttext/index.md
Owners: @mdn/yari-content-web-api

Add externref as value for tableDescriptor.element (#11300)
  files/en-us/web/javascript/reference/global_objects/webassembly/table/table/index.md
Owners: @mdn/yari-content-javascript

Clarify CORS and File urls
  files/en-us/learn/common_questions/set_up_a_local_testing_server/index.md
  files/en-us/web/http/cors/errors/corsrequestnothttp/index.md
  files/en-us/web/security/same-origin_policy/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-http

Apply suggestions from code review
  files/en-us/learn/html/multimedia_and_embedding/other_embedding_technologies/index.md
  files/en-us/learn/server-side/apache_configuration_htaccess/index.md
  files/en-us/learn/server-side/django/introduction/index.md
  files/en-us/learn/server-side/django/web_application_security/index.md
  files/en-us/learn/server-side/first_steps/website_security/index.md
  files/en-us/web/security/index.md
  files/en-us/web/security/securing_your_site/index.md
Owners: @mdn/yari-content-html, @mdn/yari-content-http, @mdn/yari-content-mdn

converted from html to md
  files/en-us/glossary/clickjacking/index.md
Owners: @mdn/yari-content-mdn

word
  files/en-us/glossary/clickjacking/index.md
Owners: @mdn/yari-content-mdn

link
  files/en-us/glossary/clickjacking/index.md
Owners: @mdn/yari-content-mdn

Adds glossary page for clickjacking (#10226)
  files/en-us/glossary/clickjacking/index.md
  files/en-us/glossary/csp/index.md
  files/en-us/learn/html/multimedia_and_embedding/other_embedding_technologies/index.md
  files/en-us/learn/server-side/apache_configuration_htaccess/index.md
  files/en-us/learn/server-side/django/introduction/index.md
  files/en-us/learn/server-side/django/web_application_security/index.md
  files/en-us/learn/server-side/first_steps/website_security/index.md
  files/en-us/web/api/document/requeststorageaccess/index.md
  files/en-us/web/security/index.md
  files/en-us/web/security/securing_your_site/index.md
  files/en-us/web/security/types_of_attacks/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-html, @mdn/yari-content-http, @mdn/yari-content-web-api

created a separate section for a11y concerns
  files/en-us/web/css/_doublecolon_after/index.md
Owners: @mdn/yari-content-css

Note a11y implications of pseudo-elements (#11348)
  files/en-us/web/css/_doublecolon_after/index.md
Owners: @mdn/yari-content-css

flex grow size calculation error
  files/en-us/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/index.md
Owners: @mdn/yari-content-css

added a11y section
  files/en-us/web/css/_doublecolon_before/index.md
Owners: @mdn/yari-content-css

Note a11y implications of `::before` (#11347)
  files/en-us/web/css/_doublecolon_before/index.md
Owners: @mdn/yari-content-css

use single quotes in frontmatter
  files/en-us/web/api/audiotracklist/addtrack_event/index.md
Owners: @mdn/yari-content-web-api

use single quotes in frontmatter
  files/en-us/web/api/audiotracklist/removetrack_event/index.md
Owners: @mdn/yari-content-web-api
