Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-content, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/content-mathml, @mdn/core-dev, @mdn-bot

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons

# ----------------------------------------------------------------------------
# ENGLISH MATHML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/mathml/    @mdn/content-mathml


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-yari-content
# These are @mdn-bot because the auto-merge GHA workflow uses the PAT of this account.
# If another reviewer is specified, update the PAT token or auto-merge will cease to be automatic.
/package.json @mdn-bot
/yarn.lock    @mdn-bot

Fold :-moz-focusring into :focus-visible
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/css/_colon_-moz-focusring/index.md
  files/en-us/web/css/_doublecolon_-moz-focus-inner/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-css

Fold WorkerGlobalScope.console into console
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/workerglobalscope/console/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

Rename convertPointFromNodeToPage to webkitConvertPointFromNodeToPage
  files/en-us/web/api/window/webkitconvertpointfromnodetopage/index.md
Owners: @mdn/yari-content-web-api

FF116 Relnote/docs fontBoundingBoxAscent/Descent (#27937)
  files/en-us/mozilla/firefox/releases/116/index.md
  files/en-us/web/api/textmetrics/fontboundingboxascent/index.md
  files/en-us/web/api/textmetrics/fontboundingboxdescent/index.md
  files/en-us/web/api/textmetrics/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

chore: add some documentation about embedlivesample identifiers
  files/en-us/mdn/writing_guidelines/page_structures/code_examples/index.md
  files/en-us/mdn/writing_guidelines/page_structures/live_samples/index.md
Owners: @mdn/yari-content-mdn

Run "yarn tool fix-flaws" on /games
  files/en-us/games/introduction/index.md
  files/en-us/games/introduction_to_html5_game_development/index.md
  files/en-us/games/techniques/audio_for_web_games/index.md
Owners: @mdn/yari-content-mdn

Run "yarn tool fix-flaws" on /glossary
  files/en-us/glossary/baseline/typography/index.md
  files/en-us/glossary/cross_axis/index.md
  files/en-us/glossary/endianness/index.md
  files/en-us/glossary/fallback_alignment/index.md
  files/en-us/glossary/flex/index.md
  files/en-us/glossary/flex_container/index.md
  files/en-us/glossary/flex_item/index.md
  files/en-us/glossary/flexbox/index.md
  files/en-us/glossary/fps/index.md
  files/en-us/glossary/grid/index.md
  files/en-us/glossary/grid_areas/index.md
  files/en-us/glossary/grid_axis/index.md
  files/en-us/glossary/grid_cell/index.md
  files/en-us/glossary/grid_column/index.md
  files/en-us/glossary/grid_container/index.md
  files/en-us/glossary/grid_lines/index.md
  files/en-us/glossary/grid_row/index.md
  files/en-us/glossary/grid_tracks/index.md
  files/en-us/glossary/gutters/index.md
  files/en-us/glossary/ink_overflow/index.md
  files/en-us/glossary/internationalization_and_localization/index.md
  files/en-us/glossary/javascript/index.md
  files/en-us/glossary/main_axis/index.md
  files/en-us/glossary/resource_timing/index.md
  files/en-us/glossary/script-supporting_element/index.md
  files/en-us/glossary/snap_positions/index.md
  files/en-us/glossary/stacking_context/index.md
  files/en-us/glossary/top_layer/index.md
Owners: @mdn/yari-content-mdn

Run "yarn tool fix-flaws" on /learn/css
  files/en-us/learn/css/building_blocks/advanced_styling_effects/index.md
  files/en-us/learn/css/building_blocks/cascade_and_inheritance/index.md
  files/en-us/learn/css/building_blocks/cascade_layers/index.md
  files/en-us/learn/css/building_blocks/handling_different_text_directions/index.md
  files/en-us/learn/css/building_blocks/organizing/index.md
  files/en-us/learn/css/building_blocks/selectors/index.md
  files/en-us/learn/css/building_blocks/the_box_model/index.md
  files/en-us/learn/css/css_layout/flexbox/index.md
  files/en-us/learn/css/css_layout/grids/index.md
  files/en-us/learn/css/css_layout/index.md
  files/en-us/learn/css/css_layout/introduction/index.md
  files/en-us/learn/css/css_layout/multiple-column_layout/index.md
  files/en-us/learn/css/css_layout/normal_flow/index.md
  files/en-us/learn/css/css_layout/supporting_older_browsers/index.md
  files/en-us/learn/css/first_steps/what_is_css/index.md
  files/en-us/learn/css/howto/add_a_shadow/index.md
  files/en-us/learn/css/howto/center_an_item/index.md
  files/en-us/learn/css/howto/create_fancy_boxes/index.md
  files/en-us/learn/css/howto/index.md
  files/en-us/learn/css/howto/make_box_transparent/index.md
  files/en-us/learn/css/howto/transition_button/index.md
  files/en-us/learn/css/styling_text/web_fonts/index.md
Owners: @mdn/yari-content-css

Run "yarn tool fix-flaws" on /learn/html
  files/en-us/learn/html/introduction_to_html/getting_started/index.md
Owners: @mdn/yari-content-html

Run "yarn tool fix-flaws" on /learn/tools_and_testing
  files/en-us/learn/tools_and_testing/cross_browser_testing/feature_detection/index.md
Owners: @mdn/yari-content-mdn

Run "yarn tool fix-flaws" on /learn
  files/en-us/learn/forms/sending_forms_through_javascript/index.md
  files/en-us/learn/forms/styling_web_forms/index.md
  files/en-us/learn/forms/ui_pseudo-classes/index.md
  files/en-us/learn/getting_started_with_the_web/what_will_your_website_look_like/index.md
  files/en-us/learn/performance/measuring_performance/index.md
Owners: @mdn/yari-content-mdn

Run "yarn tool fix-flaws" on /mdn
  files/en-us/mdn/community/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_event_subpage_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/css_selector_page_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/page_type_key/index.md
  files/en-us/mdn/writing_guidelines/writing_style_guide/code_style_guide/css/index.md
  files/en-us/mdn/writing_guidelines/writing_style_guide/code_style_guide/index.md
  files/en-us/mdn/writing_guidelines/writing_style_guide/index.md
Owners: @mdn/yari-content-mdn

Run "yarn tool fix-flaws" on /mozilla/add-ons
  files/en-us/mozilla/add-ons/webextensions/anatomy_of_a_webextension/index.md
  files/en-us/mozilla/add-ons/webextensions/api/action/index.md
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/index.md
  files/en-us/mozilla/add-ons/webextensions/api/downloads/download/index.md
  files/en-us/mozilla/add-ons/webextensions/api/index.md
  files/en-us/mozilla/add-ons/webextensions/api/omnibox/index.md
  files/en-us/mozilla/add-ons/webextensions/api/proxy/index.md
  files/en-us/mozilla/add-ons/webextensions/api/storage/local/index.md
  files/en-us/mozilla/add-ons/webextensions/content_scripts/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/commands/index.md
  files/en-us/mozilla/add-ons/webextensions/match_patterns/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/popups/index.md
  files/en-us/mozilla/add-ons/webextensions/working_with_files/index.md
  files/en-us/mozilla/add-ons/webextensions/your_second_webextension/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Run "yarn tool fix-flaws" on /webassembly
  files/en-us/webassembly/javascript_interface/compile/index.md
  files/en-us/webassembly/javascript_interface/instantiate/index.md
  files/en-us/webassembly/javascript_interface/module/module/index.md
  files/en-us/webassembly/javascript_interface/validate/index.md
Owners: @mdn/yari-content-mdn

FF116 CSP script-src can specify hash for external files (#27876)
  files/en-us/web/http/headers/content-security-policy/script-src/index.md
Owners: @mdn/yari-content-http

Remove Chrome-specific info from page
  files/en-us/web/api/gpuadapter/requestdevice/index.md
Owners: @mdn/yari-content-web-api

Fixes made for Rumyra comments
  files/en-us/web/api/file_system_api/origin_private_file_system/index.md
Owners: @mdn/yari-content-web-api

Nuclear Power & Lighting Electrical Engineers Ltd
  files/en-us/web/api/performanceobserver/index.m
Owners: @mdn/yari-content-web-api

Add link to Spanish l10n team's Telegram
  files/en-us/mdn/community/contributing/translated_content/index.md
Owners: @mdn/yari-content-mdn

Run "yarn tool fix-flaws" on /learn/css (#28001)
  files/en-us/learn/css/building_blocks/advanced_styling_effects/index.md
  files/en-us/learn/css/building_blocks/cascade_and_inheritance/index.md
  files/en-us/learn/css/building_blocks/cascade_layers/index.md
  files/en-us/learn/css/building_blocks/handling_different_text_directions/index.md
  files/en-us/learn/css/building_blocks/organizing/index.md
  files/en-us/learn/css/building_blocks/selectors/index.md
  files/en-us/learn/css/building_blocks/the_box_model/index.md
  files/en-us/learn/css/css_layout/flexbox/index.md
  files/en-us/learn/css/css_layout/grids/index.md
  files/en-us/learn/css/css_layout/index.md
  files/en-us/learn/css/css_layout/introduction/index.md
  files/en-us/learn/css/css_layout/multiple-column_layout/index.md
  files/en-us/learn/css/css_layout/normal_flow/index.md
  files/en-us/learn/css/css_layout/supporting_older_browsers/index.md
  files/en-us/learn/css/first_steps/what_is_css/index.md
  files/en-us/learn/css/howto/add_a_shadow/index.md
  files/en-us/learn/css/howto/center_an_item/index.md
  files/en-us/learn/css/howto/create_fancy_boxes/index.md
  files/en-us/learn/css/howto/index.md
  files/en-us/learn/css/howto/make_box_transparent/index.md
  files/en-us/learn/css/howto/transition_button/index.md
  files/en-us/learn/css/styling_text/web_fonts/index.md
Owners: @mdn/yari-content-css

datalist: Add a accessibility concerns section (#27931)
  files/en-us/web/html/element/datalist/index.md
Owners: @mdn/yari-content-html

spacing
  files/en-us/learn/css/styling_text/fundamentals/index.md
Owners: @mdn/yari-content-css

Update index.md (#27957)
  files/en-us/learn/css/styling_text/fundamentals/index.md
Owners: @mdn/yari-content-css

selected_book
  files/en-us/learn/server-side/express_nodejs/forms/create_bookinstance_form/index.md
Owners: @mdn/yari-content-http

basic table
  files/en-us/web/html/element/table/index.md
Owners: @mdn/yari-content-html

Run "yarn tool fix-flaws" on /learn (#28010)
  files/en-us/learn/forms/sending_forms_through_javascript/index.md
  files/en-us/learn/forms/styling_web_forms/index.md
  files/en-us/learn/forms/ui_pseudo-classes/index.md
  files/en-us/learn/getting_started_with_the_web/what_will_your_website_look_like/index.md
  files/en-us/learn/performance/measuring_performance/index.md
Owners: @mdn/yari-content-mdn

Run "yarn tool fix-flaws" on /webassembly (#28008)
  files/en-us/webassembly/javascript_interface/compile/index.md
  files/en-us/webassembly/javascript_interface/instantiate/index.md
  files/en-us/webassembly/javascript_interface/module/module/index.md
  files/en-us/webassembly/javascript_interface/validate/index.md
Owners: @mdn/yari-content-mdn

Apply suggestions from code review
  files/en-us/mozilla/firefox/releases/1.5/index.md
Owners: @mdn/yari-content-mdn

Run "yarn tool fix-flaws" on /mozilla/add-ons (#28005)
  files/en-us/mozilla/add-ons/webextensions/anatomy_of_a_webextension/index.md
  files/en-us/mozilla/add-ons/webextensions/api/action/index.md
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/index.md
  files/en-us/mozilla/add-ons/webextensions/api/downloads/download/index.md
  files/en-us/mozilla/add-ons/webextensions/api/index.md
  files/en-us/mozilla/add-ons/webextensions/api/omnibox/index.md
  files/en-us/mozilla/add-ons/webextensions/api/proxy/index.md
  files/en-us/mozilla/add-ons/webextensions/api/storage/local/index.md
  files/en-us/mozilla/add-ons/webextensions/content_scripts/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/commands/index.md
  files/en-us/mozilla/add-ons/webextensions/match_patterns/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/popups/index.md
  files/en-us/mozilla/add-ons/webextensions/working_with_files/index.md
  files/en-us/mozilla/add-ons/webextensions/your_second_webextension/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Run "yarn tool fix-flaws" on /mdn (#28004)
  files/en-us/mdn/community/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_event_subpage_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/css_selector_page_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/page_type_key/index.md
  files/en-us/mdn/writing_guidelines/writing_style_guide/code_style_guide/css/index.md
  files/en-us/mdn/writing_guidelines/writing_style_guide/code_style_guide/index.md
  files/en-us/mdn/writing_guidelines/writing_style_guide/index.md
Owners: @mdn/yari-content-mdn

Run "yarn tool fix-flaws" on /learn/tools_and_testing (#28003)
  files/en-us/learn/tools_and_testing/cross_browser_testing/feature_detection/index.md
Owners: @mdn/yari-content-mdn

Run "yarn tool fix-flaws" on /learn/html (#28002)
  files/en-us/learn/html/introduction_to_html/getting_started/index.md
Owners: @mdn/yari-content-html

Overhaul code example guidelines
  REVIEWING.md
  files/en-us/_redirects.txt
  files/en-us/glossary/html5/index.md
  files/en-us/learn/css/building_blocks/organizing/index.md
  files/en-us/mdn/community/pull_requests/index.md
  files/en-us/mdn/writing_guidelines/index.md
  files/en-us/mdn/writing_guidelines/page_structures/code_examples/index.md
  files/en-us/mdn/writing_guidelines/writing_style_guide/code_examples/css/index.md
  files/en-us/mdn/writing_guidelines/writing_style_guide/code_examples/html/index.md
  files/en-us/mdn/writing_guidelines/writing_style_guide/code_examples/index.md
  files/en-us/mdn/writing_guidelines/writing_style_guide/code_examples/javascript/index.md
  files/en-us/mdn/writing_guidelines/writing_style_guide/code_examples/shell/index.md
  files/en-us/mdn/writing_guidelines/writing_style_guide/code_style_guide/shell/index.md
  files/en-us/mdn/writing_guidelines/writing_style_guide/index.md
  files/en-us/web/javascript/reference/statements/const/index.md
  files/en-us/web/javascript/reference/statements/let/index.md
Owners: @mdn/core-yari-content, @mdn/yari-content-mdn, @mdn/yari-content-css, @mdn/yari-content-javascript

minor tidy of flexbox glossary see also
  files/en-us/glossary/flex/index.md
Owners: @mdn/yari-content-mdn

flexbox tidy
  files/en-us/glossary/cross_axis/index.md
Owners: @mdn/yari-content-mdn

Update index.md
  files/en-us/glossary/flexbox/index.md
Owners: @mdn/yari-content-mdn

Update index.md
  files/en-us/glossary/main_axis/index.md
Owners: @mdn/yari-content-mdn

Update index.md
  files/en-us/glossary/grid_lines/index.md
Owners: @mdn/yari-content-mdn

Update index.md
  files/en-us/glossary/grid_areas/index.md
Owners: @mdn/yari-content-mdn

Apply suggestions from code review
  files/en-us/games/techniques/audio_for_web_games/index.md
Owners: @mdn/yari-content-mdn
