Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

Update index.md
  files/en-us/web/javascript/reference/global_objects/promise/resolve/index.md
Owners: @mdn/yari-content-javascript

Remove MediaSettingsRange dictionary from MDN
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/mediasettingsrange/index.md
  files/en-us/web/api/mediasettingsrange/max/index.md
  files/en-us/web/api/mediasettingsrange/min/index.md
  files/en-us/web/api/mediasettingsrange/step/index.md
  files/en-us/web/api/photocapabilities/imageheight/index.md
  files/en-us/web/api/photocapabilities/imagewidth/index.md
  files/en-us/web/api/photocapabilities/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

XRLightProbe: Use a single event page
  files/en-us/_redirects.txt
  files/en-us/web/api/xrlightprobe/index.md
  files/en-us/web/api/xrlightprobe/onreflectionchange/index.md
  files/en-us/web/api/xrlightprobe/reflectionchange_event/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

update window.innerWidth to layout viewport (#10241)
  files/en-us/web/api/window/innerwidth/index.md
Owners: @mdn/yari-content-web-api

[DOM Reference] Update Node interface and its children (#10232)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/node/appendchild/index.md
  files/en-us/web/api/node/baseuri/index.md
  files/en-us/web/api/node/childnodes/index.md
  files/en-us/web/api/node/clonenode/index.md
  files/en-us/web/api/node/comparedocumentposition/index.md
  files/en-us/web/api/node/contains/index.md
  files/en-us/web/api/node/firstchild/index.md
  files/en-us/web/api/node/getrootnode/index.md
  files/en-us/web/api/node/haschildnodes/index.md
  files/en-us/web/api/node/index.md
  files/en-us/web/api/node/insertbefore/index.md
  files/en-us/web/api/node/isconnected/index.md
  files/en-us/web/api/node/isdefaultnamespace/index.md
  files/en-us/web/api/node/isequalnode/index.md
  files/en-us/web/api/node/issamenode/index.md
  files/en-us/web/api/node/issupported/index.md
  files/en-us/web/api/node/lastchild/index.md
  files/en-us/web/api/node/lookupnamespaceuri/index.md
  files/en-us/web/api/node/lookupprefix/index.md
  files/en-us/web/api/node/nextsibling/index.md
  files/en-us/web/api/node/nodename/index.md
  files/en-us/web/api/node/nodetype/index.md
  files/en-us/web/api/node/nodevalue/index.md
  files/en-us/web/api/node/normalize/index.md
  files/en-us/web/api/node/ownerdocument/index.md
  files/en-us/web/api/node/parentelement/index.md
  files/en-us/web/api/node/parentnode/index.md
  files/en-us/web/api/node/previoussibling/index.md
  files/en-us/web/api/node/removechild/index.md
  files/en-us/web/api/node/replacechild/index.md
  files/en-us/web/api/node/textcontent/index.md
  files/en-us/web/xml/xml_colon_base/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

.getAttribute() .getAttributeNS() return a string (#10346)
  files/en-us/web/api/element/index.md
Owners: @mdn/yari-content-web-api

DOMMatrixReadOnly is no more experimental (#10365)
  files/en-us/web/api/dommatrixreadonly/dommatrixreadonly/index.md
  files/en-us/web/api/dommatrixreadonly/flipx/index.md
  files/en-us/web/api/dommatrixreadonly/index.md
  files/en-us/web/api/dommatrixreadonly/scale/index.md
  files/en-us/web/api/dommatrixreadonly/translate/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/web/api/websocket/onmessage/index.md
Owners: @mdn/yari-content-web-api

Adds link to only "Clickjacking" word
  files/en-us/learn/server-side/django/web_application_security/index.md
Owners: @mdn/yari-content-http

Update to comment in use case example
  files/en-us/web/javascript/reference/global_objects/parseint/index.md
Owners: @mdn/yari-content-javascript

fix aria-expanded link (#10369)
  files/en-us/web/accessibility/aria/attributes/aria-autocomplete/index.md
Owners: @mdn/yari-content-accessibility

Fix inconsistency between layer name and description in html
  files/en-us/web/css/@layer/index.md
Owners: @mdn/yari-content-css

FF95 inputmode supported all platforms (#10364)
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/95/index.md
  files/en-us/web/html/global_attributes/inputmode/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-html

Fix typo
  files/en-us/related/project_guidelines/index.html
Owners: @mdn/yari-content-mdn

Fix typo (#10386)
  files/en-us/related/project_guidelines/index.html
Owners: @mdn/yari-content-mdn

Response object not experimental
  files/en-us/web/api/response/body/index.md
  files/en-us/web/api/response/bodyused/index.md
  files/en-us/web/api/response/clone/index.md
  files/en-us/web/api/response/error/index.md
  files/en-us/web/api/response/headers/index.md
  files/en-us/web/api/response/index.md
  files/en-us/web/api/response/ok/index.md
  files/en-us/web/api/response/redirect/index.md
  files/en-us/web/api/response/redirected/index.md
  files/en-us/web/api/response/response/index.md
  files/en-us/web/api/response/status/index.md
  files/en-us/web/api/response/statustext/index.md
  files/en-us/web/api/response/text/index.md
  files/en-us/web/api/response/type/index.md
  files/en-us/web/api/response/url/index.md
Owners: @mdn/yari-content-web-api

Fix up CSS cursor, and remove links to the 'using' page
  files/en-us/mozilla/firefox/releases/1.5/what_s_new_in_1.5_alpha/index.md
  files/en-us/web/css/css_basic_user_interface/index.md
  files/en-us/web/css/cursor/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-css

Remove the very old using css cursor page
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/css/css_basic_user_interface/using_url_values_for_the_cursor_property/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-css

Fix up Syntax to just value
  files/en-us/web/api/photocapabilities/imageheight/index.md
Owners: @mdn/yari-content-web-api

Fix up syntax to just value
  files/en-us/web/api/photocapabilities/imagewidth/index.md
Owners: @mdn/yari-content-web-api

Remove MediaSettingsRange dictionary from MDN (#10372)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/mediasettingsrange/index.md
  files/en-us/web/api/mediasettingsrange/max/index.md
  files/en-us/web/api/mediasettingsrange/min/index.md
  files/en-us/web/api/mediasettingsrange/step/index.md
  files/en-us/web/api/photocapabilities/imageheight/index.md
  files/en-us/web/api/photocapabilities/imagewidth/index.md
  files/en-us/web/api/photocapabilities/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

Minor subedit
  files/en-us/glossary/hoisting/index.md
Owners: @mdn/yari-content-mdn

Apply suggestions from code review
  files/en-us/web/api/response/redirect/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/response/redirect/index.md
  files/en-us/web/api/response/redirect/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/javascript/reference/global_objects/promise/resolve/index.md
  files/en-us/web/javascript/reference/global_objects/promise/resolve/index.md
Owners: @mdn/yari-content-javascript

Apply suggestions from code review
  files/en-us/web/javascript/reference/global_objects/promise/resolve/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/web/javascript/reference/global_objects/promise/resolve/index.md
  files/en-us/web/javascript/reference/global_objects/promise/resolve/index.md
Owners: @mdn/yari-content-javascript

Document conditions for popup-opening by window.open, and BarProp values (#10339)
  files/en-us/web/api/barprop/visible/index.md
  files/en-us/web/api/window/open/index.md
  files/en-us/web/api/window/open/obsolete_features/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/javascript/reference/global_objects/promise/resolve/index.md
  files/en-us/web/javascript/reference/global_objects/promise/resolve/index.md
Owners: @mdn/yari-content-javascript

Response object not experimental (#10387)
  files/en-us/web/api/response/body/index.md
  files/en-us/web/api/response/bodyused/index.md
  files/en-us/web/api/response/clone/index.md
  files/en-us/web/api/response/error/index.md
  files/en-us/web/api/response/headers/index.md
  files/en-us/web/api/response/index.md
  files/en-us/web/api/response/ok/index.md
  files/en-us/web/api/response/redirect/index.md
  files/en-us/web/api/response/redirected/index.md
  files/en-us/web/api/response/response/index.md
  files/en-us/web/api/response/status/index.md
  files/en-us/web/api/response/statustext/index.md
  files/en-us/web/api/response/text/index.md
  files/en-us/web/api/response/type/index.md
  files/en-us/web/api/response/url/index.md
Owners: @mdn/yari-content-web-api

Add an example for Promise.resolve() (#10347)
  files/en-us/web/javascript/reference/global_objects/promise/resolve/index.md
Owners: @mdn/yari-content-javascript

Revert "Add an example for Promise.resolve() (#10347)"
  files/en-us/web/javascript/reference/global_objects/promise/resolve/index.md
Owners: @mdn/yari-content-javascript

Update to comment in use case example (#10381)
  files/en-us/web/javascript/reference/global_objects/parseint/index.md
Owners: @mdn/yari-content-javascript

Update CharacterrData interface (and descendants) and its children
  files/en-us/_redirects.txt
  files/en-us/web/api/cdatasection/index.md
  files/en-us/web/api/characterdata/after/index.md
  files/en-us/web/api/characterdata/appenddata/index.md
  files/en-us/web/api/characterdata/before/index.md
  files/en-us/web/api/characterdata/data/index.md
  files/en-us/web/api/characterdata/deletedata/index.md
  files/en-us/web/api/characterdata/index.md
  files/en-us/web/api/characterdata/insertdata/index.md
  files/en-us/web/api/characterdata/length/index.md
  files/en-us/web/api/characterdata/nextelementsibling/index.md
  files/en-us/web/api/characterdata/previouselementsibling/index.md
  files/en-us/web/api/characterdata/remove/index.md
  files/en-us/web/api/characterdata/replacedata/index.md
  files/en-us/web/api/characterdata/replacewith/index.md
  files/en-us/web/api/characterdata/substringdata/index.md
  files/en-us/web/api/comment/comment/index.md
  files/en-us/web/api/comment/index.md
  files/en-us/web/api/processinginstruction/index.md
  files/en-us/web/api/processinginstruction/sheet/index.md
  files/en-us/web/api/processinginstruction/target/index.md
  files/en-us/web/api/text/assignedslot/index.md
  files/en-us/web/api/text/index.md
  files/en-us/web/api/text/replacewholetext/index.md
  files/en-us/web/api/text/splittext/index.md
  files/en-us/web/api/text/text/index.md
  files/en-us/web/api/text/wholetext/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

DOMMatrixReadOnly: Remove mention of "integers"
  files/en-us/web/api/dommatrixreadonly/dommatrixreadonly/index.md
Owners: @mdn/yari-content-web-api

DOMMatrixReadOnly: Remove mention of "integers" (#10397)
  files/en-us/web/api/dommatrixreadonly/dommatrixreadonly/index.md
Owners: @mdn/yari-content-web-api

XRLightProbe: Use a single event page (#10373)
  files/en-us/_redirects.txt
  files/en-us/web/api/xrlightprobe/index.md
  files/en-us/web/api/xrlightprobe/onreflectionchange/index.md
  files/en-us/web/api/xrlightprobe/reflectionchange_event/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

Correct typo in code example
  files/en-us/web/css/perspective/index.md
Owners: @mdn/yari-content-css

[DOM Reference] Update CharacterData interface, and descendants, and their children (#10396)
  files/en-us/_redirects.txt
  files/en-us/web/api/cdatasection/index.md
  files/en-us/web/api/characterdata/after/index.md
  files/en-us/web/api/characterdata/appenddata/index.md
  files/en-us/web/api/characterdata/before/index.md
  files/en-us/web/api/characterdata/data/index.md
  files/en-us/web/api/characterdata/deletedata/index.md
  files/en-us/web/api/characterdata/index.md
  files/en-us/web/api/characterdata/insertdata/index.md
  files/en-us/web/api/characterdata/length/index.md
  files/en-us/web/api/characterdata/nextelementsibling/index.md
  files/en-us/web/api/characterdata/previouselementsibling/index.md
  files/en-us/web/api/characterdata/remove/index.md
  files/en-us/web/api/characterdata/replacedata/index.md
  files/en-us/web/api/characterdata/replacewith/index.md
  files/en-us/web/api/characterdata/substringdata/index.md
  files/en-us/web/api/comment/comment/index.md
  files/en-us/web/api/comment/index.md
  files/en-us/web/api/processinginstruction/index.md
  files/en-us/web/api/processinginstruction/sheet/index.md
  files/en-us/web/api/processinginstruction/target/index.md
  files/en-us/web/api/text/assignedslot/index.md
  files/en-us/web/api/text/index.md
  files/en-us/web/api/text/replacewholetext/index.md
  files/en-us/web/api/text/splittext/index.md
  files/en-us/web/api/text/text/index.md
  files/en-us/web/api/text/wholetext/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

Clarify details about constants (#10368)
  files/en-us/web/javascript/reference/statements/const/index.md
Owners: @mdn/yari-content-javascript

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone
