Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone

Confusing description of form property
  files/en-us/web/api/htmlbuttonelement/index.md
Owners: @mdn/yari-content-web-api

Update in Epilepsy area
  files/en-us/web/accessibility/understanding_colors_and_luminance/index.md
Owners: @mdn/yari-content-accessibility

Minor typos for previous PR
  files/en-us/web/accessibility/understanding_colors_and_luminance/index.md
Owners: @mdn/yari-content-accessibility

Fixing error in nested span elements example
  files/en-us/web/web_components/using_custom_elements/index.md
Owners: @mdn/yari-content-mdn

adds hwb to type
  files/en-us/web/css/color_value/hwb()/index.md
  files/en-us/web/css/color_value/index.md
Owners: @mdn/yari-content-css

adding hwb to html colours
  files/en-us/web/html/applying_color/index.md
Owners: @mdn/yari-content-html

adding hwb syntax to color property
  files/en-us/web/css/color/index.md
Owners: @mdn/yari-content-css

adding hwb syntax to color property
  files/en-us/web/css/color/index.md
Owners: @mdn/yari-content-css

Updated advice on testing localizations (#11381)
  files/en-us/mozilla/add-ons/webextensions/internationalization/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Remove experimental banner for a couple of canvas features (#11410)
  files/en-us/web/api/canvasrenderingcontext2d/filter/index.md
  files/en-us/web/api/canvasrenderingcontext2d/resettransform/index.md
Owners: @mdn/yari-content-web-api

Improper alphabetical order of HTML classes (#11417)
  files/en-us/web/api/html_dom_api/index.md
Owners: @mdn/yari-content-web-api

adding hwb syntax to color property
  files/en-us/web/css/color/index.md
Owners: @mdn/yari-content-css

update
  files/en-us/web/css/color_value/index.md
Owners: @mdn/yari-content-css

update
  files/en-us/web/html/applying_color/index.md
Owners: @mdn/yari-content-html

Remove WebSocket.close(reason) syntax
  files/en-us/web/api/websocket/close/index.md
Owners: @mdn/yari-content-web-api

fix: apply suggestion to not change original title
  files/en-us/web/api/serviceworker/index.md
Owners: @mdn/yari-content-web-api

fix: link to The Service Worker Cookbook (#11396)
  files/en-us/web/api/serviceworker/index.md
Owners: @mdn/yari-content-web-api

edit to valmin
  files/en-us/web/accessibility/aria/attributes/aria-valuemin/index.md
Owners: @mdn/yari-content-accessibility

Adding hwb syntax to color property (#11425)
  files/en-us/web/css/color/index.md
Owners: @mdn/yari-content-css

Fixing error in nested span elements example (#11421)
  files/en-us/web/web_components/using_custom_elements/index.md
Owners: @mdn/yari-content-mdn

Apply suggestions from code review
  files/en-us/web/api/htmlbuttonelement/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/css/color_value/index.md
  files/en-us/web/css/color_value/index.md
Owners: @mdn/yari-content-css

Adds hwb to color type (#11423)
  files/en-us/web/css/color_value/hwb()/index.md
  files/en-us/web/css/color_value/index.md
Owners: @mdn/yari-content-css

Confusing description of form property (#11418)
  files/en-us/web/api/htmlbuttonelement/index.md
Owners: @mdn/yari-content-web-api

Update index.md (#10585)
  files/en-us/web/javascript/reference/functions/index.md
Owners: @mdn/yari-content-javascript

Correct and complete ByteLengthQueuingStrategy.
  files/en-us/web/api/bytelengthqueuingstrategy/bytelengthqueuingstrategy/index.md
  files/en-us/web/api/bytelengthqueuingstrategy/highwatermark/index.md
  files/en-us/web/api/bytelengthqueuingstrategy/index.md
  files/en-us/web/api/bytelengthqueuingstrategy/size/index.md
Owners: @mdn/yari-content-web-api

Fix a stray angle bracket (#11399)
  files/en-us/glossary/clickjacking/index.md
Owners: @mdn/yari-content-mdn

ValueMax edits
  files/en-us/web/accessibility/aria/attributes/aria-valuemax/index.md
Owners: @mdn/yari-content-accessibility

Fix md-lint errors, hopefully
  README.md
Owners: @mdn/core-yari-dev, @mdn/core-yari-content

Update instructions for adding new macros (#10513)
  README.md
Owners: @mdn/core-yari-dev, @mdn/core-yari-content

Added variable declaration with missing var
  files/en-us/web/api/htmlformelement/acceptcharset/index.md
Owners: @mdn/yari-content-web-api

Edits: aria-describedby
  files/en-us/web/accessibility/aria/attributes/aria-describedby/index.md
Owners: @mdn/yari-content-accessibility

Edits: browser support
  files/en-us/web/accessibility/aria/attributes/aria-describedby/index.md
Owners: @mdn/yari-content-accessibility

Edits: browser support
  files/en-us/web/accessibility/aria/attributes/aria-valuemax/index.md
Owners: @mdn/yari-content-accessibility

removed BCD b/c there is none
  files/en-us/web/accessibility/aria/attributes/aria-valuemax/index.md
Owners: @mdn/yari-content-accessibility

Add other ways of doing an array copy
  files/en-us/web/javascript/reference/global_objects/array/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/web/api/htmlformelement/acceptcharset/index.md
  files/en-us/web/api/htmlformelement/acceptcharset/index.md
Owners: @mdn/yari-content-web-api

Added variable declaration with missing var (#11436)
  files/en-us/web/api/htmlformelement/acceptcharset/index.md
Owners: @mdn/yari-content-web-api

Apply suggestions from code review
  files/en-us/web/http/headers/sec-ch-ua-arch/index.md
  files/en-us/web/http/headers/sec-ch-ua-bitness/index.md
  files/en-us/web/http/headers/sec-ch-ua-full-version-list/index.md
  files/en-us/web/http/headers/sec-ch-ua-full-version/index.md
  files/en-us/web/http/headers/sec-ch-ua-model/index.md
  files/en-us/web/http/headers/sec-ch-ua-platform-version/index.md
Owners: @mdn/yari-content-http

Fix minor grammatical error in Request.clone()
  files/en-us/web/api/request/clone/index.md
Owners: @mdn/yari-content-web-api
