Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-content, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-mozilla-add-ons, @mdn/content-mathml, @mdn/core-dev, @mdn-bot

Synchronize with BCD v5.5.25
  files/en-us/web/html/element/link/index.md
Owners: @mdn/yari-content-html

clarify two values for aspect ratio
  files/en-us/web/css/aspect-ratio/index.md
Owners: @mdn/yari-content-css

Apply suggestions from code review
  files/en-us/mdn/writing_guidelines/howto/markdown_in_mdn/index.md
Owners: @mdn/yari-content-mdn

Apply suggestions from code review
  files/en-us/glossary/cipher/index.md
Owners: @mdn/yari-content-mdn

feat: improvements
  files/en-us/glossary/color_space/index.md
Owners: @mdn/yari-content-mdn

feat: improvements on sRGB section
  files/en-us/glossary/color_space/index.md
Owners: @mdn/yari-content-mdn

fix: removal self-ref
  files/en-us/glossary/call_stack/index.md
Owners: @mdn/yari-content-mdn

feat: better call-stack-list styles
  files/en-us/glossary/call_stack/index.md
Owners: @mdn/yari-content-mdn

Apply suggestions from code review
  files/en-us/glossary/call_stack/index.md
Owners: @mdn/yari-content-mdn

lint
  files/en-us/glossary/call_stack/index.md
Owners: @mdn/yari-content-mdn

Remove allow-downloads-without-user-activation sandbox value
  files/en-us/web/html/element/iframe/index.md
  files/en-us/web/http/headers/content-security-policy/sandbox/index.md
Owners: @mdn/yari-content-html, @mdn/yari-content-http

feat: improvements
  files/en-us/glossary/color_wheel/color_wheel_macos.png
  files/en-us/glossary/color_wheel/index.md
Owners: @mdn/yari-content-mdn

feat: improvements
  files/en-us/glossary/compile/index.md
Owners: @mdn/yari-content-mdn

rewrite
  files/en-us/glossary/compile/index.md
Owners: @mdn/yari-content-mdn

links removal
  files/en-us/glossary/compile/index.md
Owners: @mdn/yari-content-mdn

Synchronize with BCD v5.5.25 (#33405)
  files/en-us/web/html/element/link/index.md
Owners: @mdn/yari-content-html

feat: improvements
  files/en-us/glossary/abstraction/index.md
  files/en-us/glossary/accessibility/index.md
  files/en-us/glossary/adobe_flash/index.md
  files/en-us/glossary/api/index.md
  files/en-us/glossary/apple_safari/index.md
  files/en-us/glossary/array/index.md
  files/en-us/glossary/atag/index.md
  files/en-us/glossary/bandwidth/index.md
  files/en-us/glossary/baseline/typography/index.md
  files/en-us/glossary/blink/index.md
  files/en-us/glossary/block/scripting/index.md
  files/en-us/glossary/block_cipher_mode_of_operation/index.md
  files/en-us/glossary/bounding_box/index.md
  files/en-us/glossary/buffer/index.md
  files/en-us/glossary/caldav/index.md
  files/en-us/glossary/canonical_order/index.md
  files/en-us/glossary/canvas/index.md
  files/en-us/glossary/card_sorting/index.md
  files/en-us/glossary/certificate_authority/index.md
  files/en-us/glossary/challenge/index.md
  files/en-us/glossary/character/index.md
  files/en-us/glossary/character_encoding/index.md
  files/en-us/glossary/chrome/index.md
  files/en-us/glossary/cia/index.md
  files/en-us/glossary/cipher_suite/index.md
  files/en-us/glossary/ciphertext/index.md
  files/en-us/glossary/class/index.md
  files/en-us/glossary/clickjacking/index.md
  files/en-us/glossary/closure/index.md
  files/en-us/glossary/cms/index.md
  files/en-us/glossary/color_wheel/index.md
  files/en-us/glossary/compile_time/index.md
  files/en-us/glossary/composite_operation/index.md
  files/en-us/glossary/computer_programming/index.md
  files/en-us/glossary/conditional/index.md
  files/en-us/glossary/constant/index.md
  files/en-us/glossary/constructor/index.md
  files/en-us/glossary/continuous_media/index.md
  files/en-us/glossary/control_flow/index.md
Owners: @mdn/yari-content-mdn

fix: missing closing double-quote
  files/en-us/glossary/closure/index.md
Owners: @mdn/yari-content-mdn

fix: remove non-existing glossary link
  files/en-us/glossary/cipher_suite/index.md
Owners: @mdn/yari-content-mdn

Apply suggestions from code review
  files/en-us/web/api/window/trustedtypes/index.md
  files/en-us/web/api/workerglobalscope/trustedtypes/index.md
Owners: @mdn/yari-content-web-api

minor update an outdated info
  files/en-us/learn/tools_and_testing/cross_browser_testing/introduction/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/learn/tools_and_testing/cross_browser_testing/introduction/index.md
  files/en-us/learn/tools_and_testing/cross_browser_testing/introduction/index.md
Owners: @mdn/yari-content-mdn

feat: improvements
  files/en-us/glossary/constructor/index.md
  files/en-us/glossary/control_flow/index.md
  files/en-us/glossary/cookie/index.md
  files/en-us/glossary/copyleft/index.md
  files/en-us/glossary/cors-safelisted_request_header/index.md
  files/en-us/glossary/cors-safelisted_response_header/index.md
  files/en-us/glossary/cors/index.md
  files/en-us/glossary/crawler/index.md
  files/en-us/glossary/crlf/index.md
  files/en-us/glossary/cross-site_scripting/index.md
  files/en-us/glossary/cross_axis/index.md
  files/en-us/glossary/cryptographic_hash_function/index.md
  files/en-us/glossary/csp/index.md
  files/en-us/glossary/css/index.md
Owners: @mdn/yari-content-mdn

feat: improvements
  files/en-us/glossary/database/index.md
  files/en-us/glossary/decryption/index.md
  files/en-us/glossary/deep_copy/index.md
  files/en-us/glossary/denial_of_service/index.md
  files/en-us/glossary/deno/index.md
  files/en-us/glossary/deserialization/index.md
  files/en-us/glossary/developer_tools/index.md
  files/en-us/glossary/digital_certificate/index.md
  files/en-us/glossary/distributed_denial_of_service/index.md
  files/en-us/glossary/doctype/index.md
  files/en-us/glossary/document_directive/index.md
  files/en-us/glossary/document_environment/index.md
  files/en-us/glossary/domain/index.md
  files/en-us/glossary/dominator/index.md
  files/en-us/glossary/dos_attack/index.md
Owners: @mdn/yari-content-mdn

lint macro
  files/en-us/glossary/denial_of_service/index.md
Owners: @mdn/yari-content-mdn

docs: changed definition of read-only element
  files/en-us/web/css/_colon_read-only/index.md
Owners: @mdn/yari-content-css

.github/CODEOWNERS:

# Order is important: The last matching pattern takes precedence.
# For more detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

# Default owners
* @mdn/core-yari-content

# Default content owners
/files/en-us/ @mdn/yari-content-mdn

# Accessibility
/files/en-us/web/accessibility/ @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/ @mdn/yari-content-accessibility

# CSS
/files/en-us/web/css/ @mdn/yari-content-css
/files/en-us/learn/css/ @mdn/yari-content-css

# HTML
/files/en-us/web/html/ @mdn/yari-content-html
/files/en-us/learn/html/ @mdn/yari-content-html

# JavaScript
/files/en-us/web/javascript/ @mdn/yari-content-javascript
/files/en-us/learn/javascript/ @mdn/yari-content-javascript

# HTTP
/files/en-us/web/http/ @mdn/yari-content-http
/files/en-us/learn/server-side/ @mdn/yari-content-http

# Web API
/files/en-us/web/api/ @mdn/yari-content-web-api

# Mozilla Add-ons
/files/en-us/mozilla/add-ons/ @mdn/yari-content-mozilla-add-ons

# MathML
/files/en-us/web/mathml/ @mdn/content-mathml

# ============================= CONTROL FILES ============================= #
# The CODEOWNERS file must end with these matches: Any pull request changing
# one or more of these files should be escalated to the owners specified here.

# mdn/content GitHub configuration
/.github/ @mdn/core-dev
# Issue templates in .github
/.github/ISSUE_TEMPLATE/ff-project-issue.md @mdn/core-yari-content

# Root directory
/* @mdn/core-dev
# Markdown files in root directory
/*.md @mdn/core-yari-content

# These are @mdn-bot because the auto-merge GHA workflow uses the PAT of this account.
# If another reviewer is specified, update the PAT token or auto-merge will cease to be automatic.
/package.json @mdn-bot
/yarn.lock @mdn-bot
