Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-content, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/content-mathml, @mdn/core-dev, @mdn-bot

Apply suggestions from code review
  files/en-us/mozilla/add-ons/webextensions/user_interface/context_menu_items/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/devtools_panels/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/notifications/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/page_actions/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/toolbar_button/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Update files/en-us/webassembly/javascript_interface/memory/grow/index.md
  files/en-us/webassembly/javascript_interface/memory/grow/index.md
Owners: @mdn/yari-content-mdn

relnote(116): support dirname on textarea and input elements
  files/en-us/mozilla/firefox/releases/116/index.md
  files/en-us/web/html/element/textarea/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-html

Update index.md
  files/en-us/glossary/firefox_os/index.md
Owners: @mdn/yari-content-mdn

Apply suggestions from code review
  files/en-us/web/html/element/table/index.md
Owners: @mdn/yari-content-html

Update offset-position release in Firefox
  files/en-us/mozilla/firefox/experimental_features/index.md
Owners: @mdn/yari-content-mdn

Move new text to transferToImageBitmap; add mention in top-level docs
  files/en-us/web/api/offscreencanvas/index.md
  files/en-us/web/api/offscreencanvas/transfertoimagebitmap/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/mozilla/firefox/experimental_features/index.md
Owners: @mdn/yari-content-mdn

not enabled by default
  files/en-us/mozilla/firefox/experimental_features/index.md
Owners: @mdn/yari-content-mdn

Remove invalid example code
  files/en-us/web/css/_colon_host-context/index.md
Owners: @mdn/yari-content-css

fixes review comments part 1
  files/en-us/web/css/offset-position/index.md
Owners: @mdn/yari-content-css

Update index.md
  files/en-us/web/accessibility/aria/roles/landmark_role/index.md
Owners: @mdn/yari-content-accessibility

update ray() page and offset-position description
  files/en-us/web/css/offset-position/index.md
  files/en-us/web/css/ray/index.md
Owners: @mdn/yari-content-css

fixes review comments part 2
  files/en-us/web/css/offset-position/index.md
  files/en-us/web/css/ray/index.md
Owners: @mdn/yari-content-css

Apply suggestions from code review
  files/en-us/web/css/css_selectors/selector_structure/index.md
Owners: @mdn/yari-content-css

Update files/en-us/web/html/element/table/index.md
  files/en-us/web/html/element/table/index.md
Owners: @mdn/yari-content-html

Update index.md (#28042)
  files/en-us/web/accessibility/aria/roles/landmark_role/index.md
Owners: @mdn/yari-content-accessibility

remove blank line (prettier)
  files/en-us/web/css/_colon_host-context/index.md
Owners: @mdn/yari-content-css

Remove invalid example code (#28038)
  files/en-us/web/css/_colon_host-context/index.md
Owners: @mdn/yari-content-css

Synchronize with BCD v5.3.4
  files/en-us/web/api/window/webkitconvertpointfromnodetopage/index.md
Owners: @mdn/yari-content-web-api

Update index.md (#27985)
  files/en-us/learn/mathml/first_steps/fractions_and_roots/index.md
Owners: @mdn/yari-content-mdn

Update index.md
  files/en-us/web/css/text-shadow/index.md
Owners: @mdn/yari-content-css

Swap chunk and controller parameter positions
  files/en-us/web/api/writablestreamdefaultcontroller/signal/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/web/api/readablestream/readablestream/index.md
Owners: @mdn/yari-content-web-api

fix(CSS): add :focus vs :focus-visible section
  files/en-us/web/css/_colon_focus-visible/index.md
Owners: @mdn/yari-content-css

Update files/en-us/web/css/_colon_focus-visible/index.md
  files/en-us/web/css/_colon_focus-visible/index.md
Owners: @mdn/yari-content-css

Update index.md
  files/en-us/web/javascript/reference/global_objects/date/index.md
Owners: @mdn/yari-content-javascript

Broken links (#28021)
  files/en-us/web/css/css_selectors/selector_structure/index.md
Owners: @mdn/yari-content-css

Update index.md (#28047)
  files/en-us/web/javascript/reference/global_objects/date/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/mozilla/firefox/releases/116/index.md
  files/en-us/mozilla/firefox/releases/116/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/web/html/element/textarea/index.md
  files/en-us/web/html/element/textarea/index.md
Owners: @mdn/yari-content-html

relnote(116): Remove example in description list
  files/en-us/web/html/element/textarea/index.md
Owners: @mdn/yari-content-html

Update files/en-us/web/html/element/textarea/index.md
  files/en-us/web/html/element/textarea/index.md
Owners: @mdn/yari-content-html

Fixed dead acorn links (#27932)
  files/en-us/mozilla/add-ons/webextensions/user_interface/browser_styles/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/context_menu_items/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/devtools_panels/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/extension_pages/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/notifications/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/options_pages/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/page_actions/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/popups/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/sidebars/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/toolbar_button/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Update files/en-us/web/api/htmlelement/togglepopover/index.md
  files/en-us/web/api/htmlelement/togglepopover/index.md
Owners: @mdn/yari-content-web-api

Synchronize with BCD v5.3.4 (#28044)
  files/en-us/web/api/window/webkitconvertpointfromnodetopage/index.md
Owners: @mdn/yari-content-web-api

Add WebGPU updates for Chrome 116 (#27987)
  files/en-us/web/api/gpuadapter/requestdevice/index.md
  files/en-us/web/api/gpudevice/importexternaltexture/index.md
  files/en-us/web/api/gpupipelineerror/gpupipelineerror/index.md
  files/en-us/web/api/gpuqueue/copyexternalimagetotexture/index.md
Owners: @mdn/yari-content-web-api

Swap chunk and controller parameter positions (#28046)
  files/en-us/web/api/writablestreamdefaultcontroller/signal/index.md
Owners: @mdn/yari-content-web-api

HTMLElement.togglePopover() live example (#27942)
  files/en-us/web/api/htmlelement/togglepopover/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/readablestream/readablestream/index.md
  files/en-us/web/api/readablestream/readablestream/index.md
Owners: @mdn/yari-content-web-api

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons

# ----------------------------------------------------------------------------
# ENGLISH MATHML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/mathml/    @mdn/content-mathml


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-yari-content
# These are @mdn-bot because the auto-merge GHA workflow uses the PAT of this account.
# If another reviewer is specified, update the PAT token or auto-merge will cease to be automatic.
/package.json @mdn-bot
/yarn.lock    @mdn-bot
