Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-content, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/content-mathml, @mdn/core-dev, @mdn-bot

Intl.NumberFormat. v3 fixes (#28023)
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/numberformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/resolvedoptions/index.md
  files/en-us/web/javascript/reference/global_objects/intl/pluralrules/selectrange/index.md
Owners: @mdn/yari-content-javascript

Update index.md
  files/en-us/web/html/element/input/index.md
Owners: @mdn/yari-content-html

Fix typo in description of `required` attribute (#28085)
  files/en-us/web/html/element/input/index.md
Owners: @mdn/yari-content-html

Update files/en-us/glossary/percent-encoding/index.md
  files/en-us/glossary/percent-encoding/index.md
Owners: @mdn/yari-content-mdn

[glossary] [percent-encoding] add more see-more for encodeURI and encodeURIComponent (#28082)
  files/en-us/glossary/percent-encoding/index.md
Owners: @mdn/yari-content-mdn

fix: change checking to connecting in examples
  files/en-us/web/api/rtcpeerconnection/connectionstatechange_event/index.md
Owners: @mdn/yari-content-web-api

Make prettier shut up
  files/en-us/web/api/rtcpeerconnection/connectionstatechange_event/index.md
Owners: @mdn/yari-content-web-api

add other missing tags
  files/en-us/web/html/content_categories/index.md
Owners: @mdn/yari-content-html

fix: change checking to connecting in examples (#28086)
  files/en-us/web/api/rtcpeerconnection/connectionstatechange_event/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/web/html/content_categories/index.md
Owners: @mdn/yari-content-html

add slot tag to flow content list (#28083)
  files/en-us/web/html/content_categories/index.md
Owners: @mdn/yari-content-html

Remove copypasta from X-Forwarded-Host article (#28073)
  files/en-us/web/http/headers/x-forwarded-host/index.md
Owners: @mdn/yari-content-http

New module: CSS pseudo-elements
  files/en-us/web/css/css_pseudo/index.md
Owners: @mdn/yari-content-css

adds domxref and escape character
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_constructor_subpage_template/index.md
Owners: @mdn/yari-content-mdn

Add 'constituent properties' section to all shorthand properties
  files/en-us/web/css/-webkit-border-before/index.md
  files/en-us/web/css/all/index.md
  files/en-us/web/css/column-rule/index.md
  files/en-us/web/css/container/index.md
  files/en-us/web/css/inset/index.md
  files/en-us/web/css/overscroll-behavior/index.md
Owners: @mdn/yari-content-css

typo
  files/en-us/web/api/streams_api/index.md
Owners: @mdn/yari-content-web-api

copy edit
  files/en-us/web/api/streams_api/index.md
Owners: @mdn/yari-content-web-api

Update language/grammar on streams api page (#27538)
  files/en-us/web/api/streams_api/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/css/overscroll-behavior/index.md
  files/en-us/web/css/overscroll-behavior/index.md
Owners: @mdn/yari-content-css

Apply suggestions from code review
  files/en-us/web/api/offscreencanvas/transfertoimagebitmap/index.md
Owners: @mdn/yari-content-web-api

Add usage notes to OffscreenCanvas.transferToImageBitmap. (#28019)
  files/en-us/web/api/offscreencanvas/index.md
  files/en-us/web/api/offscreencanvas/transfertoimagebitmap/index.md
Owners: @mdn/yari-content-web-api

Move and edit description
  files/en-us/web/css/-webkit-border-before/index.md
Owners: @mdn/yari-content-css

Update files/en-us/web/api/baseaudiocontext/decodeaudiodata/index.md
  files/en-us/web/api/baseaudiocontext/decodeaudiodata/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/baseaudiocontext/decodeaudiodata/index.md
  files/en-us/web/api/baseaudiocontext/decodeaudiodata/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/baseaudiocontext/decodeaudiodata/index.md
  files/en-us/web/api/baseaudiocontext/decodeaudiodata/index.md
Owners: @mdn/yari-content-web-api

Prettier
  files/en-us/web/api/audio_output_devices_api/index.md
Owners: @mdn/yari-content-web-api

FF116 Audio Output Device API updates (#27818)
  files/en-us/web/api/audio_output_devices_api/index.md
  files/en-us/web/api/htmlmediaelement/index.md
  files/en-us/web/api/htmlmediaelement/setsinkid/index.md
  files/en-us/web/api/htmlmediaelement/sinkid/index.md
  files/en-us/web/api/mediadevices/enumeratedevices/index.md
  files/en-us/web/api/mediadevices/selectaudiooutput/index.md
Owners: @mdn/yari-content-web-api

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons

# ----------------------------------------------------------------------------
# ENGLISH MATHML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/mathml/    @mdn/content-mathml


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-yari-content
# These are @mdn-bot because the auto-merge GHA workflow uses the PAT of this account.
# If another reviewer is specified, update the PAT token or auto-merge will cease to be automatic.
/package.json @mdn-bot
/yarn.lock    @mdn-bot
