Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone

Update Test your skills page on loops
  files/en-us/learn/javascript/building_blocks/test_your_skills_colon__loops/index.md
Owners: @mdn/yari-content-javascript

Adds LSP compatible classes. Thanks @TrangOul
  files/en-us/web/javascript/reference/statements/class/index.md
Owners: @mdn/yari-content-javascript

Update index.md
  files/en-us/web/javascript/reference/global_objects/json/index.md
Owners: @mdn/yari-content-javascript

Minor grammatical fixes
  files/en-us/web/http/basics_of_http/evolution_of_http/index.md
Owners: @mdn/yari-content-http

Update files/en-us/web/javascript/guide/expressions_and_operators/index.md
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/web/javascript/guide/expressions_and_operators/index.md
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/web/javascript/guide/expressions_and_operators/index.md
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/web/javascript/guide/expressions_and_operators/index.md
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/web/javascript/guide/expressions_and_operators/index.md
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/web/javascript/guide/expressions_and_operators/index.md
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/web/javascript/guide/expressions_and_operators/index.md
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
Owners: @mdn/yari-content-javascript

JS assignment tutorial: Expand evaluation/chaining (#10648)
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
Owners: @mdn/yari-content-javascript

Fixed some typos
  files/en-us/web/accessibility/aria/roles/tooltip_role/index.md
Owners: @mdn/yari-content-accessibility

Update index.md
  files/en-us/web/accessibility/aria/roles/tooltip_role/index.md
Owners: @mdn/yari-content-accessibility

Added TLS Setup in the table
  files/en-us/tools/network_monitor/request_details/index.html
Owners: @mdn/yari-content-mdn

Clarify Parameters section
  files/en-us/web/javascript/reference/global_objects/string/lastindexof/index.md
Owners: @mdn/yari-content-javascript

Fixed some typos (#10656)
  files/en-us/web/accessibility/aria/roles/tooltip_role/index.md
Owners: @mdn/yari-content-accessibility

Minor grammatical fixes (#10654)
  files/en-us/web/http/basics_of_http/evolution_of_http/index.md
Owners: @mdn/yari-content-http

Revert "Test added xxxxx"
  files/en-us/web/http/overview/index.md
Owners: @mdn/yari-content-http

Revert "Revert "Test added xxxxx"" (#3)
  files/en-us/web/http/overview/index.md
Owners: @mdn/yari-content-http

Revert "Revert "Revert "Test added xxxxx"" (#3)" (#4)
  files/en-us/web/http/overview/index.md
Owners: @mdn/yari-content-http

Fix links to gradient functions
  files/en-us/web/css/angle-percentage/index.md
Owners: @mdn/yari-content-css

Fix a style in Web/CSS/frequency
  files/en-us/web/css/frequency/index.md
Owners: @mdn/yari-content-css

Revert "Revert "Revert "Revert "Test added xxxxx"" (#3)" (#4)" (#5)
  files/en-us/web/http/overview/index.md
Owners: @mdn/yari-content-http

Fix some typos in Web/CSS/length-percentage
  files/en-us/web/css/length-percentage/index.md
Owners: @mdn/yari-content-css

Update index.md
  files/en-us/web/api/web_workers_api/index.md
Owners: @mdn/yari-content-web-api

improve(doc): Generalization of Set names in syntax
  files/en-us/web/javascript/reference/global_objects/set/delete/index.md
Owners: @mdn/yari-content-javascript

Feedback updates and further improvements
  files/en-us/mozilla/add-ons/webextensions/implement_a_settings_page/index.md
  files/en-us/mozilla/add-ons/webextensions/your_first_webextension/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Remove redundant links
  files/en-us/web/javascript/reference/global_objects/promise/index.md
Owners: @mdn/yari-content-javascript

Update links
  files/en-us/web/css/min()/index.md
  files/en-us/web/css/number/index.md
  files/en-us/web/css/percentage/index.md
  files/en-us/web/css/string/index.md
Owners: @mdn/yari-content-css

Add example-good style to CSS examples
  files/en-us/web/css/_colon_is/index.md
  files/en-us/web/css/frequency-percentage/index.md
  files/en-us/web/css/frequency/index.md
  files/en-us/web/css/integer/index.md
  files/en-us/web/css/position_value/index.md
  files/en-us/web/css/resolution/index.md
  files/en-us/web/css/time-percentage/index.md
  files/en-us/web/css/time/index.md
Owners: @mdn/yari-content-css

additional fix
  files/en-us/web/css/frequency-percentage/index.md
  files/en-us/web/css/integer/index.md
  files/en-us/web/css/position_value/index.md
Owners: @mdn/yari-content-css

Fix typo
  files/en-us/web/css/time-percentage/index.md
Owners: @mdn/yari-content-css

New page: aria-hidden (#10270)
  files/en-us/web/accessibility/aria/attributes/aria-hidden/index.md
Owners: @mdn/yari-content-accessibility

New page: aria-keyshortcuts (#10434)
  files/en-us/web/accessibility/aria/attributes/aria-keyshortcuts/index.md
Owners: @mdn/yari-content-accessibility

Add example-good style to CSS examples (#10677)
  files/en-us/web/css/_colon_is/index.md
  files/en-us/web/css/frequency-percentage/index.md
  files/en-us/web/css/frequency/index.md
  files/en-us/web/css/integer/index.md
  files/en-us/web/css/position_value/index.md
  files/en-us/web/css/resolution/index.md
  files/en-us/web/css/time-percentage/index.md
  files/en-us/web/css/time/index.md
Owners: @mdn/yari-content-css

Fix typo (#10676)
  files/en-us/web/css/time-percentage/index.md
Owners: @mdn/yari-content-css

Update links (#10675)
  files/en-us/web/css/frequency-percentage/index.md
  files/en-us/web/css/integer/index.md
  files/en-us/web/css/min()/index.md
  files/en-us/web/css/number/index.md
  files/en-us/web/css/percentage/index.md
  files/en-us/web/css/position_value/index.md
  files/en-us/web/css/string/index.md
Owners: @mdn/yari-content-css

New page: aria-multiselectable (#10498)
  files/en-us/web/accessibility/aria/attributes/aria-multiselectable/index.md
Owners: @mdn/yari-content-accessibility

Update index.md (#10670)
  files/en-us/web/api/web_workers_api/index.md
Owners: @mdn/yari-content-web-api
