Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

Update files/en-us/web/http/headers/cache-control/index.md
  files/en-us/web/http/headers/cache-control/index.md
Owners: @mdn/yari-content-http

Update files/en-us/web/http/headers/cache-control/index.md
  files/en-us/web/http/headers/cache-control/index.md
Owners: @mdn/yari-content-http

Update files/en-us/web/http/headers/cache-control/index.md
  files/en-us/web/http/headers/cache-control/index.md
Owners: @mdn/yari-content-http

Update files/en-us/web/http/headers/cache-control/index.md
  files/en-us/web/http/headers/cache-control/index.md
Owners: @mdn/yari-content-http

Update files/en-us/web/http/headers/cache-control/index.md
  files/en-us/web/http/headers/cache-control/index.md
Owners: @mdn/yari-content-http

Update files/en-us/web/http/headers/cache-control/index.md
  files/en-us/web/http/headers/cache-control/index.md
Owners: @mdn/yari-content-http

Update files/en-us/web/http/headers/cache-control/index.md
  files/en-us/web/http/headers/cache-control/index.md
Owners: @mdn/yari-content-http

Update files/en-us/web/http/headers/cache-control/index.md
  files/en-us/web/http/headers/cache-control/index.md
Owners: @mdn/yari-content-http

Update files/en-us/web/http/headers/cache-control/index.md
  files/en-us/web/http/headers/cache-control/index.md
Owners: @mdn/yari-content-http

Update files/en-us/web/http/headers/cache-control/index.md
  files/en-us/web/http/headers/cache-control/index.md
Owners: @mdn/yari-content-http

Update files/en-us/web/http/headers/cache-control/index.md
  files/en-us/web/http/headers/cache-control/index.md
Owners: @mdn/yari-content-http

Update files/en-us/web/http/headers/cache-control/index.md
  files/en-us/web/http/headers/cache-control/index.md
Owners: @mdn/yari-content-http

Update files/en-us/web/http/headers/cache-control/index.md
  files/en-us/web/http/headers/cache-control/index.md
Owners: @mdn/yari-content-http

Update files/en-us/web/http/headers/cache-control/index.md
  files/en-us/web/http/headers/cache-control/index.md
Owners: @mdn/yari-content-http

Update files/en-us/web/http/headers/cache-control/index.md
  files/en-us/web/http/headers/cache-control/index.md
Owners: @mdn/yari-content-http

Update files/en-us/web/http/headers/cache-control/index.md
  files/en-us/web/http/headers/cache-control/index.md
Owners: @mdn/yari-content-http

Update files/en-us/web/http/headers/cache-control/index.md
  files/en-us/web/http/headers/cache-control/index.md
Owners: @mdn/yari-content-http

Update files/en-us/web/http/headers/cache-control/index.md
  files/en-us/web/http/headers/cache-control/index.md
Owners: @mdn/yari-content-http

Update files/en-us/web/http/headers/cache-control/index.md
  files/en-us/web/http/headers/cache-control/index.md
Owners: @mdn/yari-content-http

Update files/en-us/web/http/headers/cache-control/index.md
  files/en-us/web/http/headers/cache-control/index.md
Owners: @mdn/yari-content-http

Update files/en-us/web/http/headers/cache-control/index.md
  files/en-us/web/http/headers/cache-control/index.md
Owners: @mdn/yari-content-http

Update files/en-us/web/http/headers/cache-control/index.md
  files/en-us/web/http/headers/cache-control/index.md
Owners: @mdn/yari-content-http

Update caching (#10027)
  files/en-us/web/http/headers/cache-control/index.md
Owners: @mdn/yari-content-http

Update index.md
  files/en-us/learn/javascript/building_blocks/looping_code/index.md
Owners: @mdn/yari-content-javascript

Move ElementInternals form, labels, setForm mvalue to experimental features (#10299)
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/95/index.md
Owners: @mdn/yari-content-mdn

Update See Also with focusin/focusout
  files/en-us/web/api/htmlelement/focus/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/web/css/_doublecolon_first-line/index.md
Owners: @mdn/yari-content-css

Fix menu path for Remote Debugging (#10216)
  files/en-us/tools/about_colon_debugging/index.html
Owners: @mdn/yari-content-mdn

Update See Also with focusin/focusout events
  files/en-us/web/api/htmlelement/focus/index.md
Owners: @mdn/yari-content-web-api

Manifest no longer experimental, add spec table (#10286)
  files/en-us/web/manifest/index.md
Owners: @mdn/yari-content-mdn

Fix typo
  files/en-us/web/api/node/index.md
Owners: @mdn/yari-content-web-api

layer function is actually experimental (#10229)
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/94/index.md
Owners: @mdn/yari-content-mdn

Fix typo
  files/en-us/web/api/node/lookupprefix/index.md
Owners: @mdn/yari-content-web-api

Fix typo.
  files/en-us/web/api/node/nodetype/index.md
Owners: @mdn/yari-content-web-api

Add missing space
  files/en-us/web/api/node/ownerdocument/index.md
Owners: @mdn/yari-content-web-api

MouseEvent - remove experimental on features and tidy (#10220)
  files/en-us/web/api/mouseevent/altkey/index.md
  files/en-us/web/api/mouseevent/button/index.md
  files/en-us/web/api/mouseevent/buttons/index.md
  files/en-us/web/api/mouseevent/clientx/index.md
  files/en-us/web/api/mouseevent/clienty/index.md
  files/en-us/web/api/mouseevent/ctrlkey/index.md
  files/en-us/web/api/mouseevent/getmodifierstate/index.md
  files/en-us/web/api/mouseevent/index.md
  files/en-us/web/api/mouseevent/metakey/index.md
  files/en-us/web/api/mouseevent/movementx/index.md
  files/en-us/web/api/mouseevent/movementy/index.md
  files/en-us/web/api/mouseevent/mozinputsource/index.md
  files/en-us/web/api/mouseevent/offsetx/index.md
  files/en-us/web/api/mouseevent/offsety/index.md
  files/en-us/web/api/mouseevent/pagex/index.md
  files/en-us/web/api/mouseevent/pagey/index.md
  files/en-us/web/api/mouseevent/region/index.md
  files/en-us/web/api/mouseevent/relatedtarget/index.md
  files/en-us/web/api/mouseevent/screenx/index.md
  files/en-us/web/api/mouseevent/screeny/index.md
  files/en-us/web/api/mouseevent/shiftkey/index.md
  files/en-us/web/api/mouseevent/x/index.md
  files/en-us/web/api/mouseevent/y/index.md
  files/en-us/web/api/uievent/which/index.md
Owners: @mdn/yari-content-web-api

CSP - grammar fix and layout improvements (#10298)
  files/en-us/web/http/csp/index.md
Owners: @mdn/yari-content-http

Aria tooltip role - Fix typo in aria-label
  files/en-us/web/accessibility/aria/roles/tooltip_role/index.md
Owners: @mdn/yari-content-accessibility

Archiving Debugging (before Firefox 50)
  files/en-us/mozilla/add-ons/webextensions/debugging_(before_firefox_50)/browser-toolbox.png
  files/en-us/mozilla/add-ons/webextensions/debugging_(before_firefox_50)/disable-autohide.png
  files/en-us/mozilla/add-ons/webextensions/debugging_(before_firefox_50)/frame-selection.png
  files/en-us/mozilla/add-ons/webextensions/debugging_(before_firefox_50)/hamburger.png
  files/en-us/mozilla/add-ons/webextensions/debugging_(before_firefox_50)/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Better CSS
  files/en-us/web/css/css_transitions/using_css_transitions/index.md
Owners: @mdn/yari-content-css

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone
