Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

Update files/en-us/web/api/navigator/share/index.md
  files/en-us/web/api/navigator/share/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/navigator/share/index.md
  files/en-us/web/api/navigator/share/index.md
Owners: @mdn/yari-content-web-api

Disambiguate throttling speeds
  files/en-us/tools/responsive_design_mode/index.html
Owners: @mdn/yari-content-mdn

Update files/en-us/web/api/navigator/share/index.md
  files/en-us/web/api/navigator/share/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/navigator/share/index.md
  files/en-us/web/api/navigator/share/index.md
Owners: @mdn/yari-content-web-api

[Web Share] Add list of usually shareable file types (#11023)
  files/en-us/web/api/navigator/share/index.md
Owners: @mdn/yari-content-web-api

✏️ Fix Typo: Match Set(constant) to the expected output
  files/en-us/web/javascript/reference/global_objects/set/index.md
Owners: @mdn/yari-content-javascript

Link to web_accessible_resources documentation
  files/en-us/mozilla/add-ons/webextensions/anatomy_of_a_webextension/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Fix link in Element Timing API
  files/en-us/web/api/element_timing_api/index.md
Owners: @mdn/yari-content-web-api

Note about manifest V3 and various tidy ups
  files/en-us/mozilla/add-ons/webextensions/build_a_cross_browser_extension/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Changes to Mozzila ServiceWorker Cookbook
  files/en-us/web/api/push_api/index.md
Owners: @mdn/yari-content-web-api

JS Learn: miscellaneous updates to Building blocks module
  files/en-us/learn/javascript/building_blocks/build_your_own_function/index.md
  files/en-us/learn/javascript/building_blocks/conditionals/index.md
  files/en-us/learn/javascript/building_blocks/events/index.md
  files/en-us/learn/javascript/building_blocks/image_gallery/index.md
  files/en-us/learn/javascript/building_blocks/looping_code/index.md
  files/en-us/learn/javascript/building_blocks/return_values/index.md
  files/en-us/learn/javascript/building_blocks/test_your_skills_colon__events/index.md
  files/en-us/learn/javascript/building_blocks/test_your_skills_colon__functions/index.md
Owners: @mdn/yari-content-javascript

Update index.md
  files/en-us/web/javascript/reference/global_objects/array/find/index.md
Owners: @mdn/yari-content-javascript

Consistent event pages in WebXR docs (#10923)
  files/en-us/web/api/xrcubelayer/redraw_event/index.md
  files/en-us/web/api/xrcylinderlayer/redraw_event/index.md
  files/en-us/web/api/xrequirectlayer/redraw_event/index.md
  files/en-us/web/api/xrlightprobe/reflectionchange_event/index.md
  files/en-us/web/api/xrquadlayer/redraw_event/index.md
  files/en-us/web/api/xrreferencespace/reset_event/index.md
  files/en-us/web/api/xrsession/end_event/index.md
  files/en-us/web/api/xrsession/inputsourceschange_event/index.md
  files/en-us/web/api/xrsession/select_event/index.md
  files/en-us/web/api/xrsession/selectend_event/index.md
  files/en-us/web/api/xrsession/selectstart_event/index.md
  files/en-us/web/api/xrsession/squeeze_event/index.md
  files/en-us/web/api/xrsession/squeezeend_event/index.md
  files/en-us/web/api/xrsession/squeezestart_event/index.md
  files/en-us/web/api/xrsession/visibilitychange_event/index.md
  files/en-us/web/api/xrsystem/devicechange_event/index.md
Owners: @mdn/yari-content-web-api

Explain more about what alternative services are (#11024)
  files/en-us/web/http/headers/alt-svc/index.md
Owners: @mdn/yari-content-http

JS Learn: miscellaneous updates to Building blocks module (#11033)
  files/en-us/learn/javascript/building_blocks/build_your_own_function/index.md
  files/en-us/learn/javascript/building_blocks/conditionals/index.md
  files/en-us/learn/javascript/building_blocks/events/index.md
  files/en-us/learn/javascript/building_blocks/image_gallery/index.md
  files/en-us/learn/javascript/building_blocks/looping_code/index.md
  files/en-us/learn/javascript/building_blocks/return_values/index.md
  files/en-us/learn/javascript/building_blocks/test_your_skills_colon__events/index.md
  files/en-us/learn/javascript/building_blocks/test_your_skills_colon__functions/index.md
Owners: @mdn/yari-content-javascript

Update index.md
  files/en-us/web/html/viewport_meta_tag/index.md
Owners: @mdn/yari-content-html

New page: aria-setsize
  files/en-us/web/accessibility/aria/attributes/aria-setsize/index.md
Owners: @mdn/yari-content-accessibility

Fix grammar error
  files/en-us/web/http/cookies/index.md
Owners: @mdn/yari-content-http

edits
  files/en-us/web/accessibility/aria/attributes/aria-setsize/index.md
Owners: @mdn/yari-content-accessibility

New page: aria-roledescription
  files/en-us/web/accessibility/aria/attributes/aria-roledescription/index.md
Owners: @mdn/yari-content-accessibility

edits
  files/en-us/web/accessibility/aria/attributes/aria-setsize/index.md
Owners: @mdn/yari-content-accessibility

edits
  files/en-us/web/accessibility/aria/attributes/aria-setsize/index.md
Owners: @mdn/yari-content-accessibility

edits
  files/en-us/web/accessibility/aria/attributes/aria-setsize/index.md
Owners: @mdn/yari-content-accessibility

edits
  files/en-us/web/accessibility/aria/attributes/aria-setsize/index.md
Owners: @mdn/yari-content-accessibility

Use optional-chaining operator for variable undefined at 1st render (#11007)
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/react_components/index.md
Owners: @mdn/yari-content-mdn

FF96 Relnote: Web Locks API enabled (#11012)
  files/en-us/mozilla/firefox/releases/96/index.md
Owners: @mdn/yari-content-mdn

Corrects attribute to audioTracks (#11014)
  files/en-us/web/html/element/video/index.md
Owners: @mdn/yari-content-html

Canvas and image type docs - pure layout changes (#11016)
  files/en-us/web/api/htmlcanvaselement/toblob/index.md
  files/en-us/web/api/htmlcanvaselement/todataurl/index.md
  files/en-us/web/api/offscreencanvas/converttoblob/index.md
  files/en-us/web/media/formats/image_types/index.md
Owners: @mdn/yari-content-web-api, @mdn/yari-content-mdn

FF96 RelNote: WebP encoder format and canvas (#11018)
  files/en-us/mozilla/firefox/releases/96/index.md
Owners: @mdn/yari-content-mdn

Disambiguate/correct throttling speed indications (#11027)
  files/en-us/tools/responsive_design_mode/index.html
Owners: @mdn/yari-content-mdn

Link to web_accessible_resources documentation (#11030)
  files/en-us/mozilla/add-ons/webextensions/anatomy_of_a_webextension/index.md
Owners: @mdn/yari-content-mozilla-add-ons

(typo) Fix link in Element Timing API (#11031)
  files/en-us/web/api/element_timing_api/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/mozilla/add-ons/webextensions/build_a_cross_browser_extension/index.md
  files/en-us/mozilla/add-ons/webextensions/build_a_cross_browser_extension/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Update files/en-us/mozilla/add-ons/webextensions/build_a_cross_browser_extension/index.md
  files/en-us/mozilla/add-ons/webextensions/build_a_cross_browser_extension/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Updating information about Edge (#11005)
  files/en-us/mozilla/add-ons/webextensions/build_a_cross_browser_extension/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Changes to Mozzila ServiceWorker Cookbook (#11032)
  files/en-us/web/api/push_api/index.md
Owners: @mdn/yari-content-web-api

Fix sample console-log output for Array.p.find() example (#11035)
  files/en-us/web/javascript/reference/global_objects/array/find/index.md
Owners: @mdn/yari-content-javascript

Fix grammar error (#11038)
  files/en-us/web/http/cookies/index.md
Owners: @mdn/yari-content-http

edits
  files/en-us/web/accessibility/aria/attributes/aria-roledescription/index.md
Owners: @mdn/yari-content-accessibility

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone
