Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone

Remove the note about `SVGRect` inheriting from `DOMRectReadOnly`
  files/en-us/web/api/svgrect/index.md
Owners: @mdn/yari-content-web-api

Remove the note about `SVGRect` inheriting from `DOMRectReadOnly` (#10441)
  files/en-us/web/api/svgrect/index.md
Owners: @mdn/yari-content-web-api

Rewording change
  files/en-us/web/api/datatransfer/setdragimage/index.md
Owners: @mdn/yari-content-web-api

Add information about drag feedback image (#10227)
  files/en-us/web/api/datatransfer/setdragimage/index.md
Owners: @mdn/yari-content-web-api

<slot>.assign() is variadic, part 2
  files/en-us/web/api/htmlslotelement/assign/index.md
Owners: @mdn/yari-content-web-api

<slot>.assign() is variadic, part 2 (#10548)
  files/en-us/web/api/htmlslotelement/assign/index.md
Owners: @mdn/yari-content-web-api

error on the code example (#10537)
  files/en-us/web/api/element/innerhtml/index.md
Owners: @mdn/yari-content-web-api

edits per corrections
  files/en-us/web/accessibility/aria/attributes/aria-keyshortcuts/index.md
Owners: @mdn/yari-content-accessibility

edits per corrections redo
  files/en-us/web/accessibility/aria/attributes/aria-keyshortcuts/index.md
Owners: @mdn/yari-content-accessibility

Corrections in stacking context hierarchy
  files/en-us/web/css/css_positioning/understanding_z_index/stacking_context_example_2/index.md
Owners: @mdn/yari-content-css

Fixed the container size in an example (#10534)
  files/en-us/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/index.md
Owners: @mdn/yari-content-css

Remove MediaStreamAudioSourceOptions dictionary from MDN (#10510)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/mediastreamaudiosourcenode/mediastreamaudiosourcenode/index.md
  files/en-us/web/api/mediastreamaudiosourceoptions/index.md
  files/en-us/web/api/mediastreamaudiosourceoptions/mediastream/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

Fix inconsistency between layer name and description in html (#10383)
  files/en-us/web/css/@layer/index.md
Owners: @mdn/yari-content-css

Fix broken Note markup
  files/en-us/web/css/@layer/index.md
Owners: @mdn/yari-content-css

Fix warning markup in with statement page
  files/en-us/web/javascript/reference/statements/with/index.md
Owners: @mdn/yari-content-javascript

Fix warning markup in with statement page (#10552)
  files/en-us/web/javascript/reference/statements/with/index.md
Owners: @mdn/yari-content-javascript

Fix broken Note markup (#10551)
  files/en-us/web/css/@layer/index.md
Owners: @mdn/yari-content-css

edits per suggestions
  files/en-us/web/accessibility/aria/attributes/aria-keyshortcuts/index.md
Owners: @mdn/yari-content-accessibility

edits
  files/en-us/web/accessibility/aria/attributes/aria-multiselectable/index.md
Owners: @mdn/yari-content-accessibility

"at least one of this" => "this, that or both"
  files/en-us/web/javascript/reference/statements/try...catch/index.md
Owners: @mdn/yari-content-javascript

array.reduce() improvements
  files/en-us/web/javascript/reference/global_objects/array/reduce/index.md
Owners: @mdn/yari-content-javascript

Remove note
  files/en-us/web/javascript/reference/global_objects/date/tolocaledatestring/index.md
Owners: @mdn/yari-content-javascript

Fixed broken links
  files/en-us/web/accessibility/aria/aria_techniques/using_the_radio_role/index.html
Owners: @mdn/yari-content-accessibility

Date.toLocaleDateString() - uses local date (#10525)
  files/en-us/web/javascript/reference/global_objects/date/tolocaledatestring/index.md
Owners: @mdn/yari-content-javascript

image element - add pre-spec
  files/en-us/web/html/element/image/index.md
Owners: @mdn/yari-content-html

WebExt - intercept HTTP request easy fix to content messages
  files/en-us/mozilla/add-ons/webextensions/intercept_http_requests/browser_console_show_content_messages.png
  files/en-us/mozilla/add-ons/webextensions/intercept_http_requests/browser_console_url_from_extension.png
  files/en-us/mozilla/add-ons/webextensions/intercept_http_requests/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Command line tools - fix redirect
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/command_line/index.md
Owners: @mdn/yari-content-mdn

Replace old event macros in FileReader docs
  files/en-us/web/api/filereader/index.md
  files/en-us/web/api/filereader/onload/index.md
  files/en-us/web/api/filereader/readasbinarystring/index.md
Owners: @mdn/yari-content-web-api

Fix grammar
  files/en-us/web/css/css_grid_layout/relationship_of_grid_layout/index.md
Owners: @mdn/yari-content-css

array.concat() example improvement
  files/en-us/web/javascript/reference/global_objects/array/concat/index.md
Owners: @mdn/yari-content-javascript

Word replacment
  files/en-us/learn/javascript/objects/test_your_skills_colon__object_basics/index.md
Owners: @mdn/yari-content-javascript

Replace old event macros in FileReader docs (#10559)
  files/en-us/web/api/filereader/index.md
  files/en-us/web/api/filereader/onload/index.md
  files/en-us/web/api/filereader/readasbinarystring/index.md
Owners: @mdn/yari-content-web-api

Removing unavailable videos part 1
  files/en-us/mozilla/add-ons/webextensions/implement_a_settings_page/index.md
  files/en-us/mozilla/add-ons/webextensions/internationalization/index.md
  files/en-us/mozilla/add-ons/webextensions/your_first_webextension/border_on_mozilla_org.png
  files/en-us/mozilla/add-ons/webextensions/your_first_webextension/index.md
  files/en-us/tools/browser_toolbox/index.html
  files/en-us/tools/browser_toolbox/inspect_popup.png
  files/en-us/tools/debugger/how_to/disable_breakpoints/index.html
  files/en-us/tools/debugger/how_to/set_a_conditional_breakpoint/index.html
  files/en-us/tools/debugger/how_to/step_through_code/index.html
  files/en-us/tools/memory/aggregate_view/index.html
  files/en-us/tools/memory/basic_operations/index.html
  files/en-us/tools/performance/flame_chart/index.html
  files/en-us/tools/performance/scenarios/animating_css_properties/index.html
  files/en-us/tools/performance/scenarios/intensive_javascript/index.html
  files/en-us/tools/performance/ui_tour/index.html
Owners: @mdn/yari-content-mozilla-add-ons, @mdn/yari-content-mdn

fix: clarify usage of dialog value for the method attribute
  files/en-us/web/html/element/form/index.md
Owners: @mdn/yari-content-html

undo prettier changes
  files/en-us/web/html/element/form/index.md
Owners: @mdn/yari-content-html

Fix grammar (#10560)
  files/en-us/web/css/css_grid_layout/relationship_of_grid_layout/index.md
Owners: @mdn/yari-content-css

title for section
  files/en-us/web/accessibility/aria/aria_techniques/using_the_radio_role/index.html
Owners: @mdn/yari-content-accessibility

Add ARIA attributes used (#10520)
  files/en-us/web/accessibility/aria/aria_techniques/using_the_radio_role/index.html
Owners: @mdn/yari-content-accessibility

Improve BroadcastChannel.postMessage syntax section
  files/en-us/web/api/broadcastchannel/postmessage/index.md
Owners: @mdn/yari-content-web-api

New Page: aria-label
  files/en-us/web/accessibility/aria/attributes/aria-label/index.md
Owners: @mdn/yari-content-accessibility
