Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone

tidying up files for related folder md conversion
  files/en-us/related/criteria_for_inclusion/index.html
  files/en-us/related/imsc/basics/index.html
  files/en-us/related/process_for_selection/index.html
Owners: @mdn/yari-content-mdn

converted to md
  files/en-us/web/accessibility/aria/aria_techniques/index.html
Owners: @mdn/yari-content-accessibility

moved to md
  files/en-us/web/accessibility/aria/aria_techniques/index.md
Owners: @mdn/yari-content-accessibility

converted to md file
  files/en-us/web/accessibility/aria/aria_techniques/index.html
  files/en-us/web/accessibility/aria/aria_techniques/index.md
Owners: @mdn/yari-content-accessibility

WebSocket: Merge event pages (#11234)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/websocket/close_event/index.md
  files/en-us/web/api/websocket/error_event/index.md
  files/en-us/web/api/websocket/index.md
  files/en-us/web/api/websocket/message_event/index.md
  files/en-us/web/api/websocket/onclose/index.md
  files/en-us/web/api/websocket/onerror/index.md
  files/en-us/web/api/websocket/onmessage/index.md
  files/en-us/web/api/websocket/onopen/index.md
  files/en-us/web/api/websocket/open_event/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

Updates: alert role
  files/en-us/web/accessibility/aria/roles/alert_role/index.md
Owners: @mdn/yari-content-accessibility

redirect old alert role page
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/accessibility/aria/aria_techniques/using_the_alert_role/index.html
Owners: @mdn/yari-content-mdn, @mdn/yari-content-accessibility

Embed tab-size Interactive example to page (#11197)
  files/en-us/web/css/tab-size/index.md
Owners: @mdn/yari-content-css

Retire firefox vendor prefix from live sample example
  files/en-us/web/css/tab-size/index.md
Owners: @mdn/yari-content-css

Adds platform and label properties for screenshots member
  files/en-us/web/manifest/screenshots/index.md
Owners: @mdn/yari-content-mdn

Fix height of Example
  files/en-us/web/svg/attribute/lengthadjust/index.md
Owners: @mdn/yari-content-svg

Drop the NotificationAction article; fix code example
  files/en-us/_wikihistory.json
  files/en-us/web/api/notification/actions/index.md
  files/en-us/web/api/notification/notification/index.md
  files/en-us/web/api/notificationaction/index.md
  files/en-us/web/api/serviceworkerglobalscope/notificationclick_event/index.md
  files/en-us/web/api/serviceworkerregistration/shownotification/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

Fix height of example in SVG lengthAdjust doc (#11247)
  files/en-us/web/svg/attribute/lengthadjust/index.md
Owners: @mdn/yari-content-svg

Added one more see also link for WCO
  files/en-us/web/css/env()/index.md
Owners: @mdn/yari-content-css

Docs for display_override:window-controls-overlay
  files/en-us/web/manifest/display_override/index.md
Owners: @mdn/yari-content-mdn

files/en-us/learn/getting_started_with_the_web/html_basics/index.md: Remove extra asterisks (#11202)
  files/en-us/learn/getting_started_with_the_web/html_basics/index.md
Owners: @mdn/yari-content-mdn

Update index.md with a solitaire game example (#11175)
  files/en-us/games/examples/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/web/api/notification/actions/index.md
  files/en-us/web/api/notification/actions/index.md
Owners: @mdn/yari-content-web-api

Drop the NotificationAction article; fix and move its code example (#11108)
  files/en-us/_wikihistory.json
  files/en-us/web/api/notification/actions/index.md
  files/en-us/web/api/notification/notification/index.md
  files/en-us/web/api/notificationaction/index.md
  files/en-us/web/api/serviceworkerglobalscope/notificationclick_event/index.md
  files/en-us/web/api/serviceworkerregistration/shownotification/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

Update index.md
  files/en-us/web/api/web_crypto_api/non-cryptographic_uses_of_subtle_crypto/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/learn/front-end_web_developer/index.md
Owners: @mdn/yari-content-mdn

tidying up files for related folder md conversion (#11241)
  files/en-us/related/criteria_for_inclusion/index.html
  files/en-us/related/imsc/basics/index.html
  files/en-us/related/process_for_selection/index.html
Owners: @mdn/yari-content-mdn

Update eventloop index.md
  files/en-us/web/javascript/eventloop/index.md
Owners: @mdn/yari-content-javascript

Fix number of values the margin property accepts
  files/en-us/learn/getting_started_with_the_web/css_basics/index.md
Owners: @mdn/yari-content-mdn

Fix broken links on Firefox 29 release page
  files/en-us/mozilla/firefox/releases/29/index.md
Owners: @mdn/yari-content-mdn

Add Win11 instructions
  files/en-us/web/css/@media/prefers-reduced-motion/index.md
Owners: @mdn/yari-content-css

Add Win11 instructions (#11256)
  files/en-us/web/css/@media/prefers-reduced-motion/index.md
Owners: @mdn/yari-content-css

Fix broken links on Firefox 29 release page (#11255)
  files/en-us/mozilla/firefox/releases/29/index.md
Owners: @mdn/yari-content-mdn

Fix number of values the margin property accepts (#11254)
  files/en-us/learn/getting_started_with_the_web/css_basics/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/web/api/web_crypto_api/non-cryptographic_uses_of_subtle_crypto/index.md
  files/en-us/web/api/web_crypto_api/non-cryptographic_uses_of_subtle_crypto/index.md
Owners: @mdn/yari-content-web-api

Add missing hyphen in new SubtleCrypto article (#11251)
  files/en-us/web/api/web_crypto_api/non-cryptographic_uses_of_subtle_crypto/index.md
Owners: @mdn/yari-content-web-api

Docs for window-controls-overlay value of the display_override manifest member (#11250)
  files/en-us/web/manifest/display_override/index.md
Owners: @mdn/yari-content-mdn

Documentation for the env(titlebar-area-*) vars (#10622)
  files/en-us/web/css/env()/desktop-pwa-window-wco.png
  files/en-us/web/css/env()/desktop-pwa-window.png
  files/en-us/web/css/env()/index.md
Owners: @mdn/yari-content-css

clarify nth-of-type searches within type (#11211)
  files/en-us/web/css/_colon_nth-child/index.md
  files/en-us/web/css/_colon_nth-last-of-type/index.md
  files/en-us/web/css/_colon_nth-of-type/index.md
Owners: @mdn/yari-content-css

Update eventloop index.md (#11253)
  files/en-us/web/javascript/eventloop/index.md
Owners: @mdn/yari-content-javascript

Fix macro redirects on Firefox 29 release page
  files/en-us/mozilla/firefox/releases/29/index.md
Owners: @mdn/yari-content-mdn

Update index.md (#11252)
  files/en-us/learn/front-end_web_developer/index.md
Owners: @mdn/yari-content-mdn

Fix macro redirects on Firefox 29 release page
  files/en-us/mozilla/firefox/releases/29/index.md
Owners: @mdn/yari-content-mdn

Remove extraneous `\`
  files/en-us/web/accessibility/accessibility_and_spacial_patterns/index.md
Owners: @mdn/yari-content-accessibility

Add bullets to better structure list
  files/en-us/web/accessibility/accessibility_and_spacial_patterns/index.md
Owners: @mdn/yari-content-accessibility
