Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

Fix all WebRTC_API links (#10884)
  files/en-us/web/api/audiotracklist/addtrack_event/index.md
  files/en-us/web/api/audiotracklist/removetrack_event/index.md
  files/en-us/web/api/rtcpeerconnection/addstream/index.md
  files/en-us/web/api/rtcpeerconnection/addtrack/index.md
  files/en-us/web/api/rtcpeerconnection/cantrickleicecandidates/index.md
  files/en-us/web/api/rtcpeerconnection/close/index.md
  files/en-us/web/api/rtcpeerconnection/currentlocaldescription/index.md
  files/en-us/web/api/rtcpeerconnection/currentremotedescription/index.md
  files/en-us/web/api/rtcpeerconnection/getreceivers/index.md
  files/en-us/web/api/rtcpeerconnection/getsenders/index.md
  files/en-us/web/api/rtcpeerconnection/iceconnectionstate/index.md
  files/en-us/web/api/rtcpeerconnection/pendinglocaldescription/index.md
  files/en-us/web/api/rtcpeerconnection/pendingremotedescription/index.md
  files/en-us/web/api/rtcpeerconnection/remotedescription/index.md
  files/en-us/web/api/rtcpeerconnection/sctp/index.md
  files/en-us/web/api/rtcpeerconnection/setremotedescription/index.md
  files/en-us/web/api/rtcpeerconnectioniceevent/index.md
  files/en-us/web/api/rtcpeerconnectioniceevent/rtcpeerconnectioniceevent/index.md
  files/en-us/web/api/rtcsessiondescription/index.md
  files/en-us/web/api/rtcsessiondescription/rtcsessiondescription/index.md
  files/en-us/web/api/rtcsessiondescription/sdp/index.md
  files/en-us/web/api/rtcsessiondescription/type/index.md
Owners: @mdn/yari-content-web-api

Update and convert static code example to live example
  files/en-us/web/api/globaleventhandlers/ondragend/index.md
Owners: @mdn/yari-content-web-api

Remove duplicate list item
  files/en-us/mozilla/add-ons/webextensions/content_scripts/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Fix two link flaws on content scripts page
  files/en-us/mozilla/add-ons/webextensions/content_scripts/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Fix links on WorkerNavigator.languages page
  files/en-us/web/api/workernavigator/languages/index.md
Owners: @mdn/yari-content-web-api

Fix links on WorkerNavigator.languages page (#11358)
  files/en-us/web/api/workernavigator/languages/index.md
Owners: @mdn/yari-content-web-api

FF96 relnote: CSS counter-reset: reversed()
  files/en-us/mozilla/firefox/releases/96/index.md
Owners: @mdn/yari-content-mdn

Link to glossary page for Bézier curve instead of Wikipedia
  files/en-us/web/api/canvas_api/tutorial/drawing_shapes/index.md
  files/en-us/web/api/canvasrenderingcontext2d/beziercurveto/index.md
  files/en-us/web/api/canvasrenderingcontext2d/quadraticcurveto/index.md
  files/en-us/web/css/easing-function/index.md
  files/en-us/web/svg/attribute/d/index.md
  files/en-us/web/svg/attribute/keysplines/index.md
  files/en-us/web/svg/tutorial/paths/index.md
Owners: @mdn/yari-content-web-api, @mdn/yari-content-css, @mdn/yari-content-svg

Use HTTPS for some external links
  files/en-us/web/css/easing-function/index.md
  files/en-us/web/svg/tutorial/paths/index.md
Owners: @mdn/yari-content-css, @mdn/yari-content-svg

CSS counter-reset reversed counters
  files/en-us/web/css/counter-reset/index.md
Owners: @mdn/yari-content-css

Link to glossary page for Bézier curve instead of Wikipedia (#11360)
  files/en-us/web/api/canvas_api/tutorial/drawing_shapes/index.md
  files/en-us/web/api/canvasrenderingcontext2d/beziercurveto/index.md
  files/en-us/web/api/canvasrenderingcontext2d/quadraticcurveto/index.md
  files/en-us/web/css/easing-function/index.md
  files/en-us/web/svg/attribute/d/index.md
  files/en-us/web/svg/attribute/keysplines/index.md
  files/en-us/web/svg/tutorial/paths/index.md
Owners: @mdn/yari-content-web-api, @mdn/yari-content-css, @mdn/yari-content-svg

Use HTTPS for some external links (#11361)
  files/en-us/web/css/easing-function/index.md
  files/en-us/web/svg/tutorial/paths/index.md
Owners: @mdn/yari-content-css, @mdn/yari-content-svg

Fix two link flaws on content scripts page (#11357)
  files/en-us/mozilla/add-ons/webextensions/content_scripts/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Remove duplicate list item (#11355)
  files/en-us/mozilla/add-ons/webextensions/content_scripts/index.md
Owners: @mdn/yari-content-mozilla-add-ons

fix: typo in <color-hint> description
  files/en-us/web/css/gradient/radial-gradient()/index.md
Owners: @mdn/yari-content-css

Initial content for the WCO API documentation
  files/en-us/web/api/navigator/index.md
  files/en-us/web/api/navigator/windowcontrolsoverlay/index.md
  files/en-us/web/api/window_controls_overlay_api/desktop-pwa-window-wco.png
  files/en-us/web/api/window_controls_overlay_api/desktop-pwa-window.png
  files/en-us/web/api/window_controls_overlay_api/index.md
  files/en-us/web/api/windowcontrolsoverlay/geometrychange_event/index.md
  files/en-us/web/api/windowcontrolsoverlay/gettitlebararearect/index.md
  files/en-us/web/api/windowcontrolsoverlay/index.md
  files/en-us/web/api/windowcontrolsoverlay/ongeometrychange/index.md
  files/en-us/web/api/windowcontrolsoverlay/visible/index.md
  files/en-us/web/css/env()/index.md
  files/jsondata/GroupData.json
  files/jsondata/SpecData.json
Owners: @mdn/yari-content-web-api, @mdn/yari-content-css, @mdn/core-yari-dev

Fix the BCD references
  files/en-us/web/api/windowcontrolsoverlay/geometrychange_event/index.md
  files/en-us/web/api/windowcontrolsoverlay/gettitlebararearect/index.md
  files/en-us/web/api/windowcontrolsoverlay/ongeometrychange/index.md
  files/en-us/web/api/windowcontrolsoverlay/visible/index.md
Owners: @mdn/yari-content-web-api

Fix outputs of macros
  files/en-us/web/css/@counter-style/symbols/index.md
Owners: @mdn/yari-content-css

Fix results of each examples
  files/en-us/web/css/@counter-style/system/index.md
Owners: @mdn/yari-content-css

corrected Response.redirect example
  files/en-us/web/api/response/redirect/index.md
Owners: @mdn/yari-content-web-api

Document ended event not fired on .stop()
  files/en-us/web/api/mediastreamtrack/stop/index.md
Owners: @mdn/yari-content-web-api

Lowercase SVG filenames
  files/en-us/learn/javascript/objects/object_prototypes/index.md
  files/en-us/learn/javascript/objects/object_prototypes/mydate-prototype-chain.svg
  files/en-us/learn/javascript/objects/object_prototypes/myobject-prototype-chain.svg
Owners: @mdn/yari-content-javascript

Compress SVG
  files/en-us/learn/javascript/objects/object_prototypes/mydate-prototype-chain.svg
  files/en-us/learn/javascript/objects/object_prototypes/myobject-prototype-chain.svg
Owners: @mdn/yari-content-javascript

Fix results of each examples (#11370)
  files/en-us/web/css/@counter-style/system/index.md
Owners: @mdn/yari-content-css

fix: typo in <color-hint> description (#11363)
  files/en-us/web/css/gradient/radial-gradient()/index.md
Owners: @mdn/yari-content-css

Fix outputs of macros (#11369)
  files/en-us/web/css/@counter-style/symbols/index.md
Owners: @mdn/yari-content-css

Update and rename files/en-us/glossary/primitive/index.md to ไฟล์/en-us/อภิธานศัพท์/ดั้งเดิม/index.md
  ไฟล์/en-us/อภิธานศัพท์/ดั้งเดิม/index.md
Owners: @mdn/core-yari-dev

Delete index.md
  files/en-us/web/css/_colon_scope/index.md
Owners: @mdn/yari-content-css

remove extra space
  files/en-us/learn/javascript/objects/classes_in_javascript/index.md
Owners: @mdn/yari-content-javascript

Missing quotes
  files/en-us/learn/javascript/objects/object-oriented_programming/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/web/accessibility/aria/roles/alert_role/index.md
  files/en-us/web/accessibility/aria/roles/alert_role/index.md
Owners: @mdn/yari-content-accessibility

ARIA Alert Role: updates and old page removal (#11243)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/accessibility/aria/aria_techniques/using_the_alert_role/index.html
  files/en-us/web/accessibility/aria/roles/alert_role/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-accessibility

Fix data in the "positions" array
  files/en-us/web/api/webgl_api/tutorial/adding_2d_content_to_a_webgl_context/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
Owners: @mdn/yari-content-javascript

removed unused template
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/accessibility/aria/aria_techniques/aria_technique_template/index.html
Owners: @mdn/yari-content-mdn, @mdn/yari-content-accessibility

Updated advice on testing localizations
  files/en-us/mozilla/add-ons/webextensions/internationalization/index.md
Owners: @mdn/yari-content-mozilla-add-ons

line up null equality code comparison
  files/en-us/web/javascript/reference/global_objects/null/index.md
Owners: @mdn/yari-content-javascript

Redirect: aria-valuemin
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-valuemin_attribute/index.html
  files/en-us/web/accessibility/aria/attributes/aria-valuemin/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-accessibility

line up null equality code comparison (#11386)
  files/en-us/web/javascript/reference/global_objects/null/index.md
Owners: @mdn/yari-content-javascript

Add `suggestedName`
  files/en-us/web/api/window/showsavefilepicker/index.md
Owners: @mdn/yari-content-web-api

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone
