Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-content, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/content-mathml, @mdn/core-dev, @mdn-bot

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons

# ----------------------------------------------------------------------------
# ENGLISH MATHML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/mathml/    @mdn/content-mathml


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-yari-content
# These are @mdn-bot because the auto-merge GHA workflow uses the PAT of this account.
# If another reviewer is specified, update the PAT token or auto-merge will cease to be automatic.
/package.json @mdn-bot
/yarn.lock    @mdn-bot

fix(CSS): add an example to `aspect-ratio` page (#27921)
  files/en-us/web/css/aspect-ratio/index.md
Owners: @mdn/yari-content-css

Update link to Django website to version 4.1
  files/en-us/learn/server-side/django/admin_site/index.md
  files/en-us/learn/server-side/django/authentication/index.md
  files/en-us/learn/server-side/django/deployment/index.md
  files/en-us/learn/server-side/django/development_environment/index.md
  files/en-us/learn/server-side/django/django_assessment_blog/index.md
  files/en-us/learn/server-side/django/forms/index.md
  files/en-us/learn/server-side/django/generic_views/index.md
  files/en-us/learn/server-side/django/home_page/index.md
  files/en-us/learn/server-side/django/introduction/index.md
  files/en-us/learn/server-side/django/models/index.md
  files/en-us/learn/server-side/django/sessions/index.md
  files/en-us/learn/server-side/django/skeleton_website/index.md
  files/en-us/learn/server-side/django/testing/index.md
  files/en-us/learn/server-side/django/web_application_security/index.md
Owners: @mdn/yari-content-http

Fix word choice (#27948)
  files/en-us/web/http/cors/errors/corsmethodnotfound/index.md
Owners: @mdn/yari-content-http

Remove extra space in note block
  files/en-us/web/api/audiolistener/setposition/index.md
Owners: @mdn/yari-content-web-api

Unlink PR from MD037
  .markdownlint-cli2.jsonc
Owners: @mdn/core-dev

Remove extra space in note block (#27954)
  files/en-us/web/api/audiolistener/setposition/index.md
Owners: @mdn/yari-content-web-api

Making fixes for LeoMcA comments
  files/en-us/learn/performance/javascript/index.md
  files/en-us/learn/performance/measuring_performance/index.md
Owners: @mdn/yari-content-mdn

fix(CSS): update an internal link (#27922)
  files/en-us/web/css/transform/index.md
Owners: @mdn/yari-content-css

Linting fix
  files/en-us/learn/performance/javascript/index.md
Owners: @mdn/yari-content-mdn

Add optimization discussion sections
  files/en-us/learn/performance/css/index.md
  files/en-us/learn/performance/html/index.md
Owners: @mdn/yari-content-mdn

Apply suggestions from code review
  files/en-us/web/css/revert/index.md
Owners: @mdn/yari-content-css

Update index.md
  files/en-us/learn/css/styling_text/fundamentals/index.md
Owners: @mdn/yari-content-css

Update use of term chrome
  files/en-us/mozilla/add-ons/webextensions/api/action/getusersettings/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Implementation of action.getUserSettings (#27608)
  files/en-us/mozilla/add-ons/webextensions/api/action/getusersettings/index.md
  files/en-us/mozilla/add-ons/webextensions/api/action/index.md
  files/en-us/mozilla/firefox/releases/116/index.md
Owners: @mdn/yari-content-mozilla-add-ons, @mdn/yari-content-mdn

fix and improve content on reference pages of table elements
  files/en-us/web/html/element/table/index.md
  files/en-us/web/html/element/tbody/index.md
  files/en-us/web/html/element/tfoot/index.md
  files/en-us/web/html/element/tr/index.md
Owners: @mdn/yari-content-html

fix(CSS): update revert value intro section (#27919)
  files/en-us/web/css/revert/index.md
Owners: @mdn/yari-content-css

Update files/en-us/web/css/filter-function/grayscale/index.md
  files/en-us/web/css/filter-function/grayscale/index.md
Owners: @mdn/yari-content-css

Fix default value for grayscale() being 1, not 0 (#27940)
  files/en-us/web/css/filter-function/grayscale/index.md
Owners: @mdn/yari-content-css

missing word
  files/en-us/web/css/filter-function/grayscale/index.md
Owners: @mdn/yari-content-css

feat: add Estelle's section
  files/en-us/web/html/element/datalist/index.md
Owners: @mdn/yari-content-html

Update index.md
  files/en-us/web/http/methods/get/index.md
Owners: @mdn/yari-content-http

Added a no-input flag for collectstatic in Procfile.
  files/en-us/learn/server-side/django/deployment/index.md
Owners: @mdn/yari-content-http

Make timestamp more realistic
  files/en-us/web/api/event/timestamp/index.md
Owners: @mdn/yari-content-web-api

Add missing see also links
  files/en-us/glossary/quality_values/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/learn/css/styling_text/fundamentals/index.md
  files/en-us/learn/css/styling_text/fundamentals/index.md
Owners: @mdn/yari-content-css

remove WebExtensions/Tips
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/add-ons/webextensions/tips/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-mozilla-add-ons

Removed unnecessary 'question mark'
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/react_components/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/learn/performance/html/index.md
  files/en-us/learn/performance/html/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/learn/performance/css/index.md
  files/en-us/learn/performance/css/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/learn/performance/css/index.md
  files/en-us/learn/performance/css/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/learn/performance/css/index.md
  files/en-us/learn/performance/css/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/learn/performance/css/index.md
  files/en-us/learn/performance/css/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/learn/performance/css/index.md
  files/en-us/learn/performance/css/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/learn/performance/css/index.md
  files/en-us/learn/performance/css/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/learn/performance/css/index.md
  files/en-us/learn/performance/css/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/learn/performance/css/index.md
  files/en-us/learn/performance/css/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/learn/performance/css/index.md
  files/en-us/learn/performance/css/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/learn/performance/css/index.md
  files/en-us/learn/performance/css/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/learn/performance/css/index.md
  files/en-us/learn/performance/css/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/learn/performance/css/index.md
  files/en-us/learn/performance/css/index.md
Owners: @mdn/yari-content-mdn
