Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

HTTP UA Client Hint headers (#11191)
  files/en-us/web/http/headers/index.md
  files/en-us/web/http/headers/sec-ch-ua-arch/index.md
  files/en-us/web/http/headers/sec-ch-ua-bitness/index.md
  files/en-us/web/http/headers/sec-ch-ua-full-version-list/index.md
  files/en-us/web/http/headers/sec-ch-ua-full-version/index.md
  files/en-us/web/http/headers/sec-ch-ua-mobile/index.md
  files/en-us/web/http/headers/sec-ch-ua-model/index.md
  files/en-us/web/http/headers/sec-ch-ua-platform-version/index.md
  files/en-us/web/http/headers/sec-ch-ua-platform/index.md
  files/en-us/web/http/headers/sec-ch-ua/index.md
Owners: @mdn/yari-content-http

Fix minor grammatical error in Request.clone() (#11441)
  files/en-us/web/api/request/clone/index.md
Owners: @mdn/yari-content-web-api

Deprecated property is missing the icon
  files/en-us/web/api/htmliframeelement/index.md
Owners: @mdn/yari-content-web-api

Deprecated property is missing the icon (#11443)
  files/en-us/web/api/htmliframeelement/index.md
Owners: @mdn/yari-content-web-api

Legacy exception constant in documentation
  files/en-us/web/api/htmlinputelement/index.md
Owners: @mdn/yari-content-web-api

Typo in example datetime-local
  files/en-us/web/html/attributes/step/index.md
Owners: @mdn/yari-content-html

Fixed description and syntax definition of hwb() CSS function
  files/en-us/web/css/color_value/hwb()/index.md
Owners: @mdn/yari-content-css

Corrected description and syntax definitions of rgb(), rgba(), hsl(), and hsla()
  files/en-us/web/css/color_value/hsl()/index.md
  files/en-us/web/css/color_value/hsla()/index.md
  files/en-us/web/css/color_value/rgb()/index.md
  files/en-us/web/css/color_value/rgba()/index.md
Owners: @mdn/yari-content-css

Revert "Deprecated property is missing the icon (#11443)"
  files/en-us/web/api/htmliframeelement/index.md
Owners: @mdn/yari-content-web-api

Revert "Update instructions for adding new macros (#10513)"
  README.md
Owners: @mdn/core-yari-dev, @mdn/core-yari-content

Adds platform and label properties for screenshots member (#11245)
  files/en-us/web/manifest/screenshots/index.md
Owners: @mdn/yari-content-mdn

Type clarification for cookieStoreId (#11340)
  files/en-us/mozilla/add-ons/webextensions/api/contentscripts/register/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Revert "Type clarification for cookieStoreId (#11340)"
  files/en-us/mozilla/add-ons/webextensions/api/contentscripts/register/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Fix a heading level
  files/en-us/web/css/layout_cookbook/split_navigation/index.md
Owners: @mdn/yari-content-css

Replace deprecated xlink:href by href
  files/en-us/web/svg/element/clippath/index.md
Owners: @mdn/yari-content-svg

Remove unnecessary namespace declaration
  files/en-us/web/svg/element/defs/index.md
Owners: @mdn/yari-content-svg

Update index.md
  files/en-us/games/examples/index.md
Owners: @mdn/yari-content-mdn

Fix a heading level (#11462)
  files/en-us/web/css/layout_cookbook/split_navigation/index.md
Owners: @mdn/yari-content-css

Typo in example datetime-local (#11448)
  files/en-us/web/html/attributes/step/index.md
Owners: @mdn/yari-content-html

Remove obsolete obsolete note
  files/en-us/web/html/element/link/index.md
Owners: @mdn/yari-content-html

Fix for issue 11393: fix content categories error
  files/en-us/web/guide/html/content_categories/index.md
Owners: @mdn/yari-content-mdn

List properties before methods in class pseudocode
  files/en-us/learn/javascript/objects/object-oriented_programming/index.md
Owners: @mdn/yari-content-javascript

Fix wrong data types in sort example return values
  files/en-us/web/javascript/reference/global_objects/array/sort/index.md
Owners: @mdn/yari-content-javascript

year parameter should be a number
  files/en-us/learn/javascript/objects/object-oriented_programming/index.md
Owners: @mdn/yari-content-javascript

Replace deprecated xlink:href by href (#11463)
  files/en-us/web/svg/element/clippath/index.md
Owners: @mdn/yari-content-svg

Remove unnecessary namespace declaration (#11464)
  files/en-us/web/svg/element/defs/index.md
Owners: @mdn/yari-content-svg

Fixed description and syntax definition of hwb() CSS function (#11449)
  files/en-us/web/css/color_value/hwb()/index.md
Owners: @mdn/yari-content-css

Corrected description and syntax definitions of rgb(), rgba(), hsl(), and hsla() (#11450)
  files/en-us/web/css/color_value/hsl()/index.md
  files/en-us/web/css/color_value/hsla()/index.md
  files/en-us/web/css/color_value/rgb()/index.md
  files/en-us/web/css/color_value/rgba()/index.md
Owners: @mdn/yari-content-css

fix wrong statement (#11189)
  files/en-us/web/css/inherit/index.md
Owners: @mdn/yari-content-css

Fix wrong data types in sort example return values (#11475)
  files/en-us/web/javascript/reference/global_objects/array/sort/index.md
Owners: @mdn/yari-content-javascript

Rewrite statements about the flex property
  files/en-us/web/css/css_flexible_box_layout/typical_use_cases_of_flexbox/index.md
Owners: @mdn/yari-content-css

Bad anchor for method item
  files/en-us/web/api/filelist/index.md
Owners: @mdn/yari-content-web-api

clarify wording
  files/en-us/learn/getting_started_with_the_web/how_the_web_works/index.md
Owners: @mdn/yari-content-mdn

Be more specific about IP addresses in How the Web Works (#11479)
  files/en-us/learn/getting_started_with_the_web/how_the_web_works/index.md
Owners: @mdn/yari-content-mdn

Bad anchor for method item (#11478)
  files/en-us/web/api/filelist/index.md
Owners: @mdn/yari-content-web-api

Fix for issue 11393: fix content categories error (#11474)
  files/en-us/web/guide/html/content_categories/index.md
Owners: @mdn/yari-content-mdn

Remove obsolete obsolete note (#11473)
  files/en-us/web/html/element/link/index.md
Owners: @mdn/yari-content-html

Legacy exception constant in documentation (#11447)
  files/en-us/web/api/htmlinputelement/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/web/http/headers/content-range/index.md
Owners: @mdn/yari-content-http

fix space before hyperlink
  files/en-us/web/html/element/script/index.md
Owners: @mdn/yari-content-html

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone
