Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

Replace incorrect UTF-16 surrogate pair
  files/en-us/web/javascript/reference/global_objects/array/sort/index.md
Owners: @mdn/yari-content-javascript

added a space
  files/en-us/web/javascript/reference/global_objects/array/lastindexof/index.md
Owners: @mdn/yari-content-javascript

Update index.md (#11723)
  files/en-us/web/javascript/reference/global_objects/array/lastindexof/index.md
Owners: @mdn/yari-content-javascript

Replace incorrect UTF-16 surrogate pair (#11726)
  files/en-us/web/javascript/reference/global_objects/array/sort/index.md
Owners: @mdn/yari-content-javascript

(selects => clicks) a button (#11725)
  files/en-us/learn/javascript/building_blocks/events/index.md
Owners: @mdn/yari-content-javascript

code style: add curly braces to 'if' statement (#11719)
  files/en-us/web/api/window/requestanimationframe/index.md
Owners: @mdn/yari-content-web-api

Update index.md where glossary linking was wrong (#11715)
  files/en-us/web/security/securing_your_site/index.md
Owners: @mdn/yari-content-mdn

Update index.md where glossary linking was wrong (#11714)
  files/en-us/learn/server-side/apache_configuration_htaccess/index.md
Owners: @mdn/yari-content-http

Update index.md where glossary linking was wrong (#11712)
  files/en-us/learn/server-side/first_steps/website_security/index.md
Owners: @mdn/yari-content-http

Update index.md where glossary linking was wrong (#11717)
  files/en-us/learn/server-side/django/introduction/index.md
Owners: @mdn/yari-content-http

Update index.md where glossary linking was wrong (#11711)
  files/en-us/web/security/types_of_attacks/index.md
Owners: @mdn/yari-content-mdn

Update index.md where glossary linking was wrong (#11710)
  files/en-us/glossary/csp/index.md
Owners: @mdn/yari-content-mdn

Update index.md where glossary linking was wrong (#11716)
  files/en-us/learn/server-side/django/web_application_security/index.md
Owners: @mdn/yari-content-http

Improve example of location.hostname (#11720)
  files/en-us/web/api/location/hostname/index.md
Owners: @mdn/yari-content-web-api

fix, maybe
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-required_attribute/index.html
Owners: @mdn/yari-content-accessibility

Bring gl.FRAMEBUFFER target in line with the spec
  files/en-us/web/api/webglrenderingcontext/bindframebuffer/index.md
Owners: @mdn/yari-content-web-api

Correcting poor html
  files/en-us/web/api/document/getelementsbyname/index.md
Owners: @mdn/yari-content-web-api

Edits to brailleroledescription
  files/en-us/web/accessibility/aria/attributes/aria-brailleroledescription/index.md
Owners: @mdn/yari-content-accessibility

Use fetch in JSON article
  files/en-us/learn/javascript/objects/json/index.md
Owners: @mdn/yari-content-javascript

Fix intra-module links
  files/en-us/learn/javascript/objects/adding_bouncing_balls_features/index.md
  files/en-us/learn/javascript/objects/classes_in_javascript/index.md
  files/en-us/learn/javascript/objects/object_building_practice/index.md
Owners: @mdn/yari-content-javascript

Update JSON Test Your Skills
  files/en-us/learn/javascript/objects/test_your_skills_colon__json/index.md
Owners: @mdn/yari-content-javascript

Remove WebSocket.close(reason) syntax (#11427)
  files/en-us/web/api/websocket/close/index.md
Owners: @mdn/yari-content-web-api

Update `core-js` data (#11311)
  files/en-us/web/api/domexception/domexception/index.md
  files/en-us/web/api/domexception/index.md
  files/en-us/web/api/structuredclone/index.md
  files/en-us/web/javascript/reference/global_objects/error/error/index.md
  files/en-us/web/javascript/reference/global_objects/error/index.md
  files/en-us/web/javascript/reference/global_objects/error/tostring/index.md
  files/en-us/web/javascript/reference/global_objects/number/toexponential/index.md
Owners: @mdn/yari-content-web-api, @mdn/yari-content-javascript

Correcting poor html in example (#11733)
  files/en-us/web/api/document/getelementsbyname/index.md
Owners: @mdn/yari-content-web-api

Reword actualBoundingBoxLeft description (#11290)
  files/en-us/web/api/textmetrics/actualboundingboxleft/index.md
  files/en-us/web/api/textmetrics/index.md
Owners: @mdn/yari-content-web-api

Apply suggestions from code review
  files/en-us/web/api/screenorientation/lock/index.md
Owners: @mdn/yari-content-web-api

ScreenOrientation.lock() updates for FF97 (#11684)
  files/en-us/web/api/screenorientation/lock/index.md
Owners: @mdn/yari-content-web-api

Fix: bring gl.FRAMEBUFFER target in line with the spec (#11732)
  files/en-us/web/api/webglrenderingcontext/bindframebuffer/index.md
Owners: @mdn/yari-content-web-api

Added documentation on missing property (#11721)
  files/en-us/web/api/document/index.md
Owners: @mdn/yari-content-web-api

Apply suggestions from code review
  files/en-us/web/api/abortcontroller/abort/index.md
  files/en-us/web/api/abortsignal/aborted/index.md
  files/en-us/web/api/abortsignal/index.md
  files/en-us/web/api/abortsignal/reason/index.md
Owners: @mdn/yari-content-web-api

Adds support for AbortSignal.reason and related items (#11708)
  files/en-us/web/api/abortcontroller/abort/index.md
  files/en-us/web/api/abortsignal/abort/index.md
  files/en-us/web/api/abortsignal/aborted/index.md
  files/en-us/web/api/abortsignal/index.md
  files/en-us/web/api/abortsignal/reason/index.md
Owners: @mdn/yari-content-web-api

Correcting one of the example provided (#11709)
  files/en-us/web/api/document/getelementsbyclassname/index.md
Owners: @mdn/yari-content-web-api

Apply suggestions from code review
  files/en-us/mozilla/firefox/experimental_features/index.md
Owners: @mdn/yari-content-mdn

FF97 Add experimental feature for ScreenOrientation.lock() (#11705)
  files/en-us/mozilla/firefox/experimental_features/index.md
Owners: @mdn/yari-content-mdn

Fixed Incorrect Calculations
  files/en-us/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/index.md
Owners: @mdn/yari-content-css

Update object building practice to use class syntax
  files/en-us/learn/javascript/objects/object_building_practice/index.md
Owners: @mdn/yari-content-javascript

Clarify behavior of Array.p.lastIndexOf() fromIndex arg
  files/en-us/web/javascript/reference/global_objects/array/lastindexof/index.md
Owners: @mdn/yari-content-javascript

update documentation for Object.prototype.toString
  files/en-us/web/javascript/reference/global_objects/object/tostring/index.md
Owners: @mdn/yari-content-javascript

Update bouncing balls assessment to work with classes
  files/en-us/learn/javascript/objects/adding_bouncing_balls_features/index.md
Owners: @mdn/yari-content-javascript

Update index.md
  files/en-us/web/javascript/reference/statements/for...in/index.md
Owners: @mdn/yari-content-javascript

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone
