Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone

New page: aria-flowto
  files/en-us/web/accessibility/aria/attributes/aria-flowto/index.md
Owners: @mdn/yari-content-accessibility

MouseEvent - remove experimental on features and tidy
  files/en-us/web/api/mouseevent/altkey/index.md
  files/en-us/web/api/mouseevent/button/index.md
  files/en-us/web/api/mouseevent/buttons/index.md
  files/en-us/web/api/mouseevent/clientx/index.md
  files/en-us/web/api/mouseevent/clienty/index.md
  files/en-us/web/api/mouseevent/ctrlkey/index.md
  files/en-us/web/api/mouseevent/getmodifierstate/index.md
  files/en-us/web/api/mouseevent/index.md
  files/en-us/web/api/mouseevent/metakey/index.md
  files/en-us/web/api/mouseevent/movementx/index.md
  files/en-us/web/api/mouseevent/movementy/index.md
  files/en-us/web/api/mouseevent/mozinputsource/index.md
  files/en-us/web/api/mouseevent/offsetx/index.md
  files/en-us/web/api/mouseevent/offsety/index.md
  files/en-us/web/api/mouseevent/pagex/index.md
  files/en-us/web/api/mouseevent/pagey/index.md
  files/en-us/web/api/mouseevent/region/index.md
  files/en-us/web/api/mouseevent/relatedtarget/index.md
  files/en-us/web/api/mouseevent/screenx/index.md
  files/en-us/web/api/mouseevent/screeny/index.md
  files/en-us/web/api/mouseevent/shiftkey/index.md
  files/en-us/web/api/mouseevent/x/index.md
  files/en-us/web/api/mouseevent/y/index.md
  files/en-us/web/api/uievent/which/index.md
Owners: @mdn/yari-content-web-api

Fix the latex syntax of Math.log(), close #10222
  files/en-us/web/javascript/reference/global_objects/math/log10/index.md
Owners: @mdn/yari-content-javascript

fix typo and remove a extra space.
  files/en-us/web/media/formats/image_types/index.md
Owners: @mdn/yari-content-mdn

Fix typo: Trivial grammatical fix
  files/en-us/learn/javascript/first_steps/what_is_javascript/index.md
Owners: @mdn/yari-content-javascript

Creating index.html within Clickjacking folder
  files/en-us/glossary/clickjacking/index.html
Owners: @mdn/yari-content-mdn

Changed false version of Firefox in first tabular (#10217)
  files/en-us/web/http/content_negotiation/list_of_default_accept_values/index.md
Owners: @mdn/yari-content-http

Fix the latex syntax of Math.log(), close #10222 (#10223)
  files/en-us/web/javascript/reference/global_objects/math/log10/index.md
Owners: @mdn/yari-content-javascript

Added MDN page link for Clickjacking
  files/en-us/glossary/csp/index.md
  files/en-us/learn/html/multimedia_and_embedding/other_embedding_technologies/index.md
  files/en-us/learn/server-side/apache_configuration_htaccess/index.md
  files/en-us/learn/server-side/django/introduction/index.md
  files/en-us/learn/server-side/django/web_application_security/index.md
  files/en-us/learn/server-side/first_steps/website_security/index.md
  files/en-us/web/api/document/requeststorageaccess/index.md
  files/en-us/web/security/index.md
  files/en-us/web/security/securing_your_site/index.md
  files/en-us/web/security/types_of_attacks/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-html, @mdn/yari-content-http, @mdn/yari-content-web-api

Changing file type index.html to index.md
  files/en-us/glossary/clickjacking/index.md
Owners: @mdn/yari-content-mdn

Fix typo: Trivial grammatical fix (#10225)
  files/en-us/learn/javascript/first_steps/what_is_javascript/index.md
Owners: @mdn/yari-content-javascript

Add information about drag feedback image
  files/en-us/web/api/datatransfer/setdragimage/index.md
Owners: @mdn/yari-content-web-api

layer function is actually experimental
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/94/index.md
Owners: @mdn/yari-content-mdn

edits
  files/en-us/mozilla/firefox/experimental_features/index.md
Owners: @mdn/yari-content-mdn

Add missing closing parenthesis
  files/en-us/web/api/keyboardlayoutmap/get/index.md
Owners: @mdn/yari-content-web-api

Update Node interface and its children
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/node/appendchild/index.md
  files/en-us/web/api/node/baseuri/index.md
  files/en-us/web/api/node/childnodes/index.md
  files/en-us/web/api/node/clonenode/index.md
  files/en-us/web/api/node/comparedocumentposition/index.md
  files/en-us/web/api/node/contains/index.md
  files/en-us/web/api/node/firstchild/index.md
  files/en-us/web/api/node/getrootnode/index.md
  files/en-us/web/api/node/haschildnodes/index.md
  files/en-us/web/api/node/index.md
  files/en-us/web/api/node/insertbefore/index.md
  files/en-us/web/api/node/isconnected/index.md
  files/en-us/web/api/node/isdefaultnamespace/index.md
  files/en-us/web/api/node/isequalnode/index.md
  files/en-us/web/api/node/issamenode/index.md
  files/en-us/web/api/node/issupported/index.md
  files/en-us/web/api/node/lastchild/index.md
  files/en-us/web/api/node/lookupnamespaceuri/index.md
  files/en-us/web/api/node/lookupprefix/index.md
  files/en-us/web/api/node/nextsibling/index.md
  files/en-us/web/api/node/nodename/index.md
  files/en-us/web/api/node/nodetype/index.md
  files/en-us/web/api/node/nodevalue/index.md
  files/en-us/web/api/node/normalize/index.md
  files/en-us/web/api/node/ownerdocument/index.md
  files/en-us/web/api/node/parentelement/index.md
  files/en-us/web/api/node/parentnode/index.md
  files/en-us/web/api/node/previoussibling/index.md
  files/en-us/web/api/node/removechild/index.md
  files/en-us/web/api/node/replacechild/index.md
  files/en-us/web/api/node/textcontent/index.md
  files/en-us/web/xml/xml_colon_base/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

add semicolon
  files/en-us/web/api/keyboardlayoutmap/get/index.md
Owners: @mdn/yari-content-web-api

Fix improper usage of `var` in Node.*
  files/en-us/web/api/node/firstchild/index.md
  files/en-us/web/api/node/getrootnode/index.md
  files/en-us/web/api/node/isconnected/index.md
  files/en-us/web/api/node/issupported/index.md
  files/en-us/web/api/node/lastchild/index.md
  files/en-us/web/api/node/nodename/index.md
  files/en-us/web/api/node/nodetype/index.md
  files/en-us/web/api/node/nodevalue/index.md
  files/en-us/web/api/node/normalize/index.md
  files/en-us/web/api/node/ownerdocument/index.md
  files/en-us/web/api/node/replacechild/index.md
Owners: @mdn/yari-content-web-api

Fix capitalization in redirect (Node/baseuri is Node/baseURI)
  files/en-us/_redirects.txt
Owners: @mdn/yari-content-mdn

Fix a few internal links
  files/en-us/web/api/node/nextsibling/index.md
  files/en-us/web/api/node/parentnode/index.md
Owners: @mdn/yari-content-web-api

Remove index.md from redirected URL
  files/en-us/_redirects.txt
Owners: @mdn/yari-content-mdn

fix typo and remove a extra space in "Image file type and format guide" (#10224)
  files/en-us/web/media/formats/image_types/index.md
Owners: @mdn/yari-content-mdn

Fix markdown link
  files/en-us/web/http/headers/origin/index.md
Owners: @mdn/yari-content-http

update return value for performance.measure()
  files/en-us/web/api/performance/measure/index.md
Owners: @mdn/yari-content-web-api

changed deprecated. Fixed mistake.added sidebar
  files/en-us/web/accessibility/aria/attributes/aria-dropeffect/index.md
Owners: @mdn/yari-content-accessibility

Fix markdown link (#10233)
  files/en-us/web/http/headers/origin/index.md
Owners: @mdn/yari-content-http

Update index.md
  files/en-us/web/api/websocket/protocol/index.md
Owners: @mdn/yari-content-web-api

Add missing closing parenthesis (#10231)
  files/en-us/web/api/keyboardlayoutmap/get/index.md
Owners: @mdn/yari-content-web-api

chore: add missing closing parenthesis
  files/en-us/web/api/indexeddb_api/using_indexeddb/index.md
Owners: @mdn/yari-content-web-api

Fix non-NS-related review comments
  files/en-us/glossary/attribute/index.md
  files/en-us/web/api/attr/index.md
  files/en-us/web/api/attr/name/index.md
  files/en-us/web/api/attr/namespaceuri/index.md
  files/en-us/web/api/attr/ownerelement/index.md
  files/en-us/web/api/attr/specified/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

improve readability
  files/en-us/web/css/_colon_is/index.md
Owners: @mdn/yari-content-css

update window.innerWidth to layout viewport
  files/en-us/web/api/window/innerwidth/index.md
Owners: @mdn/yari-content-web-api

Added a warning about XSS protection causing XSS
  files/en-us/web/http/headers/x-xss-protection/index.md
Owners: @mdn/yari-content-http

Fix a link to linear-gradient()
  files/en-us/web/css/color-adjust/index.md
Owners: @mdn/yari-content-css

Fix a link name of `appearance`
  files/en-us/web/css/color_value/index.md
Owners: @mdn/yari-content-css

Fix <dfn></span>
  files/en-us/web/accessibility/aria/roles/term_role/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/api/indexeddb_api/using_indexeddb/index.md
  files/en-us/web/api/indexeddb_api/using_indexeddb/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/web/html/element/a/index.md
Owners: @mdn/yari-content-html

New page: aria-grabbed
  files/en-us/web/accessibility/aria/attributes/aria-grabbed/index.md
Owners: @mdn/yari-content-accessibility

Add missing closing parenthesis (#10239)
  files/en-us/web/api/indexeddb_api/using_indexeddb/index.md
Owners: @mdn/yari-content-web-api
