Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

http logging redirects
  files/en-us/_redirects.txt
Owners: @mdn/yari-content-mdn

Remove RTCRtpTransceiverDirection enum from MDN
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/rtcrtptransceiver/currentdirection/index.md
  files/en-us/web/api/rtcrtptransceiver/direction/index.md
  files/en-us/web/api/rtcrtptransceiver/index.md
  files/en-us/web/api/rtcrtptransceiverdirection/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

Updated code block
  files/en-us/learn/javascript/building_blocks/functions/index.md
Owners: @mdn/yari-content-javascript

Updated code block (#10578)
  files/en-us/learn/javascript/building_blocks/functions/index.md
Owners: @mdn/yari-content-javascript

Word replacment (#10564)
  files/en-us/learn/javascript/objects/test_your_skills_colon__object_basics/index.md
Owners: @mdn/yari-content-javascript

array.concat() example improvement (#10561)
  files/en-us/web/javascript/reference/global_objects/array/concat/index.md
Owners: @mdn/yari-content-javascript

de-fruiting audioparam docs
  files/en-us/web/api/audioparam/index.md
Owners: @mdn/yari-content-web-api

de-fruiting audioparam docs (#10579)
  files/en-us/web/api/audioparam/index.md
Owners: @mdn/yari-content-web-api

micro edit
  files/en-us/web/javascript/reference/statements/try...catch/index.md
Owners: @mdn/yari-content-javascript

Update index.md
  files/en-us/glossary/ssl/index.md
Owners: @mdn/yari-content-mdn

Replace occurrences of audio with video
  files/en-us/web/api/videoframe/index.md
Owners: @mdn/yari-content-web-api

Added Link back on Lam
  files/en-us/learn/tools_and_testing/cross_browser_testing/your_own_automation_environment/index.md
Owners: @mdn/yari-content-mdn

Update index.md
  files/en-us/web/javascript/reference/functions/index.md
Owners: @mdn/yari-content-javascript

Add deprecation notice
  files/en-us/web/javascript/reference/global_objects/string/substr/index.md
Owners: @mdn/yari-content-javascript

Improve BroadcastChannel.postMessage syntax section (#10572)
  files/en-us/web/api/broadcastchannel/postmessage/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/learn/server-side/first_steps/web_frameworks/index.md
Owners: @mdn/yari-content-http

Replace occurrences of audio with video (#10582)
  files/en-us/web/api/videoframe/index.md
Owners: @mdn/yari-content-web-api

Remove crackers (#10590)
  files/en-us/learn/server-side/first_steps/web_frameworks/index.md
Owners: @mdn/yari-content-http

Remove RTCRtpTransceiverDirection enum from MDN (#10577)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/rtcrtptransceiver/currentdirection/index.md
  files/en-us/web/api/rtcrtptransceiver/direction/index.md
  files/en-us/web/api/rtcrtptransceiver/index.md
  files/en-us/web/api/rtcrtptransceiverdirection/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

"at least one of this" => "this, that or both" (#10554)
  files/en-us/web/javascript/reference/statements/try...catch/index.md
Owners: @mdn/yari-content-javascript

corrected output value in comment of example
  files/en-us/web/javascript/reference/global_objects/atomics/and/index.md
Owners: @mdn/yari-content-javascript

rewrote the page
  files/en-us/web/accessibility/aria/attributes/aria-label/index.md
Owners: @mdn/yari-content-accessibility

image element - add pre-spec (#10556)
  files/en-us/web/html/element/image/index.md
Owners: @mdn/yari-content-html

FF80 Relnote - remove KHR_parallel_shader_compile note (#10304)
  files/en-us/mozilla/firefox/releases/80/index.md
Owners: @mdn/yari-content-mdn

FF95 Relnote: SpeechSynthesisEvent.elapsedTime in seconds (#10303)
  files/en-us/mozilla/firefox/releases/95/index.md
Owners: @mdn/yari-content-mdn

Add http logging redirects (#10576)
  files/en-us/_redirects.txt
Owners: @mdn/yari-content-mdn

Fix anchors to checkbox attributes
  files/en-us/web/html/element/input/checkbox/index.md
Owners: @mdn/yari-content-html

tweaks
  files/en-us/web/accessibility/aria/attributes/aria-label/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/html/element/input/checkbox/index.md
  files/en-us/web/html/element/input/checkbox/index.md
Owners: @mdn/yari-content-html

fix: typo in BigInt comparison example
  files/en-us/web/javascript/reference/global_objects/bigint/index.md
Owners: @mdn/yari-content-javascript

Fix anchors to checkbox attributes (#10597)
  files/en-us/web/html/element/input/checkbox/index.md
Owners: @mdn/yari-content-html

Remove plugins docs: redirect to new glossary page
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/glossary/plugin/index.md
  files/en-us/plugins/blocking_by_domain/index.md
  files/en-us/plugins/flash_to_html5/clipboard/index.md
  files/en-us/plugins/flash_to_html5/index.md
  files/en-us/plugins/flash_to_html5/video/advertising/index.md
  files/en-us/plugins/flash_to_html5/video/distribution/index.md
  files/en-us/plugins/flash_to_html5/video/drm_and_authentication/index.md
  files/en-us/plugins/flash_to_html5/video/file_format_conversion/index.md
  files/en-us/plugins/flash_to_html5/video/index.md
  files/en-us/plugins/flash_to_html5/video/planning/index.md
  files/en-us/plugins/flash_to_html5/video/players/index.md
  files/en-us/plugins/flash_to_html5/video/subtitles_captions/index.md
  files/en-us/plugins/guide/browser_side_plug-in_api/index.md
  files/en-us/plugins/guide/constants/index.md
  files/en-us/plugins/guide/drawing_and_event_handling/index.md
  files/en-us/plugins/guide/index.md
  files/en-us/plugins/guide/initialization_and_destruction/index.md
  files/en-us/plugins/guide/memory/index.md
  files/en-us/plugins/guide/plug-in_basics/index.md
  files/en-us/plugins/guide/plug-in_development_overview/index.md
  files/en-us/plugins/guide/plug-in_side_plug-in_api/index.md
  files/en-us/plugins/guide/scripting_plugins/index.md
  files/en-us/plugins/guide/streams/index.md
  files/en-us/plugins/guide/structures/index.md
  files/en-us/plugins/guide/urls/index.md
  files/en-us/plugins/guide/version_ui_and_status_information/index.md
  files/en-us/plugins/index.md
  files/en-us/plugins/roadmap/index.md
Owners: @mdn/yari-content-mdn

New page: aria-modal
  files/en-us/web/accessibility/aria/attributes/aria-modal/index.md
Owners: @mdn/yari-content-accessibility

edits
  files/en-us/web/accessibility/aria/attributes/aria-modal/index.md
Owners: @mdn/yari-content-accessibility

Removes redundant type attributes
  files/en-us/web/api/canvas_api/tutorial/basic_usage/index.md
Owners: @mdn/yari-content-web-api

action when method=dialog
  files/en-us/web/html/element/form/index.md
Owners: @mdn/yari-content-html

Deletes literal `unknown`, adds note
  files/en-us/web/svg/element/index.md
Owners: @mdn/yari-content-svg

Fixes possible typo
  files/en-us/web/http/status/index.md
Owners: @mdn/yari-content-http

Fixes possible typo (#10608)
  files/en-us/web/http/status/index.md
Owners: @mdn/yari-content-http

Fix 10609: Improve wording for input range
  files/en-us/web/html/element/input/range/index.md
Owners: @mdn/yari-content-html

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone
