Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

Fixed grammar (#10791)
  files/en-us/web/accessibility/aria/roles/banner_role/index.md
Owners: @mdn/yari-content-accessibility

Mark "for each...in" as deprecated (#10460)
  files/en-us/web/javascript/reference/errors/for-each-in_loops_are_deprecated/index.md
  files/en-us/web/javascript/reference/index.md
  files/en-us/web/javascript/reference/statements/for...in/index.md
Owners: @mdn/yari-content-javascript

Delete for-each-in error page
  files/en-us/_wikihistory.json
  files/en-us/web/javascript/reference/errors/for-each-in_loops_are_deprecated/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-javascript

Update files/en-us/web/api/cleartimeout/index.md
  files/en-us/web/api/cleartimeout/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/cleartimeout/index.md
  files/en-us/web/api/cleartimeout/index.md
Owners: @mdn/yari-content-web-api

Delete old scroll snap compat page
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/css/css_scroll_snap/browser_compat/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-css

Remove references to old scroll-snap-compat page
  files/en-us/web/css/css_scroll_snap/index.md
Owners: @mdn/yari-content-css

code example to es6 standard (#10786)
  files/en-us/web/api/cleartimeout/index.md
Owners: @mdn/yari-content-web-api

Fix a comment in Unicode property escapes docs
  files/en-us/web/javascript/guide/regular_expressions/unicode_property_escapes/index.md
Owners: @mdn/yari-content-javascript

Delete old scroll snap compat page (#10794)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/css/css_scroll_snap/browser_compat/index.md
  files/en-us/web/css/css_scroll_snap/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-css

Fix a comment in Unicode property escapes docs (#10795)
  files/en-us/web/javascript/guide/regular_expressions/unicode_property_escapes/index.md
Owners: @mdn/yari-content-javascript

Fix pageshow event links in popstate event docs
  files/en-us/web/api/window/popstate_event/index.md
Owners: @mdn/yari-content-web-api

New page: aria-orientation
  files/en-us/web/accessibility/aria/attributes/aria-orientation/index.md
Owners: @mdn/yari-content-accessibility

Added an example of a vulnerability caused by XSS filtering
  files/en-us/web/http/headers/x-xss-protection/index.md
Owners: @mdn/yari-content-http

Replace non-existent links with code section in Document.activeElement docs
  files/en-us/web/api/document/activeelement/index.md
Owners: @mdn/yari-content-web-api

Js Learning Area: Functions updates
  files/en-us/learn/javascript/building_blocks/functions/index.md
Owners: @mdn/yari-content-javascript

Matches example with original. Thanks @CEOehis
  files/en-us/learn/forms/how_to_structure_a_web_form/index.md
Owners: @mdn/yari-content-mdn

Fixes one pr check link warning
  files/en-us/learn/forms/how_to_structure_a_web_form/index.md
Owners: @mdn/yari-content-mdn

Fix a typo
  files/en-us/learn/javascript/building_blocks/functions/index.md
Owners: @mdn/yari-content-javascript

Use const for for...of loop variable
  files/en-us/learn/javascript/building_blocks/looping_code/index.md
Owners: @mdn/yari-content-javascript

Remove farmer
  files/en-us/learn/javascript/building_blocks/looping_code/index.md
  files/en-us/learn/javascript/building_blocks/looping_code/loop_js-02-farm.png
Owners: @mdn/yari-content-javascript

Clarify difference between while and do...while loops
  files/en-us/learn/javascript/building_blocks/looping_code/index.md
Owners: @mdn/yari-content-javascript

Add missing space
  files/en-us/web/html/element/meta/index.md
Owners: @mdn/yari-content-html

New Page: aria-posinset
  files/en-us/web/accessibility/aria/attributes/aria-posinset/index.md
Owners: @mdn/yari-content-accessibility

edits
  files/en-us/web/accessibility/aria/attributes/aria-orientation/index.md
Owners: @mdn/yari-content-accessibility

edits
  files/en-us/web/accessibility/aria/attributes/aria-posinset/index.md
Owners: @mdn/yari-content-accessibility

Fix a typo
  files/en-us/learn/javascript/building_blocks/looping_code/index.md
Owners: @mdn/yari-content-javascript

let->const
  files/en-us/learn/javascript/building_blocks/looping_code/index.md
Owners: @mdn/yari-content-javascript

Add missing space (#10804)
  files/en-us/web/html/element/meta/index.md
Owners: @mdn/yari-content-html

Remove misleading `attr()` from the Syntax section
  files/en-us/web/css/clamp()/index.md
Owners: @mdn/yari-content-css

Symbiote.js library added to the "See also" list
  files/en-us/web/web_components/index.md
Owners: @mdn/yari-content-mdn

2x is missing
  files/en-us/web/api/htmlimageelement/srcset/index.md
Owners: @mdn/yari-content-web-api

Delete incorrect resolution image
  files/en-us/web/html/element/img/clock-demo-200px.png
Owners: @mdn/yari-content-html

Upload resized and compressed img
  files/en-us/web/html/element/img/clock-demo-200px.png
Owners: @mdn/yari-content-html

Add load event-listener on window for example
  files/en-us/web/api/htmlimageelement/srcset/index.md
Owners: @mdn/yari-content-web-api

Standardize casing of phrase
  files/en-us/web/css/using_css_custom_properties/index.md
Owners: @mdn/yari-content-css

C:\windows -> C:\Windows
  files/en-us/learn/getting_started_with_the_web/dealing_with_files/index.md
Owners: @mdn/yari-content-mdn

Add a comma
  files/en-us/mozilla/add-ons/webextensions/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Update index.md
  files/en-us/web/api/domquad/index.md
Owners: @mdn/yari-content-web-api

New Page: aria-label (#10575)
  files/en-us/web/accessibility/aria/attributes/aria-label/index.md
Owners: @mdn/yari-content-accessibility

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone
