Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone

Update files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
  files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
  files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
  files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
  files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
  files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
  files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
  files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
  files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
  files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
Owners: @mdn/yari-content-accessibility

New page: aria-labelledby (#10874)
  files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
Owners: @mdn/yari-content-accessibility

Add punctuation (#10951)
  files/en-us/web/http/overview/index.md
Owners: @mdn/yari-content-http

import specifiers use url rather than path (#10945)
  files/en-us/web/javascript/reference/statements/import/index.md
Owners: @mdn/yari-content-javascript

Update JS Learn Events page (#10914)
  files/en-us/learn/javascript/building_blocks/events/index.md
Owners: @mdn/yari-content-javascript

Grammar fix (#10964)
  files/en-us/web/accessibility/aria/attributes/index.md
Owners: @mdn/yari-content-accessibility

grammatical correction: less -> fewer (#10966)
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_getting_started/index.md
Owners: @mdn/yari-content-mdn

Adds note about fields. Thanks @bergus
  files/en-us/web/javascript/reference/classes/static/index.md
Owners: @mdn/yari-content-javascript

Update index.md
  files/en-us/web/javascript/guide/details_of_the_object_model/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/web/javascript/reference/classes/static/index.md
  files/en-us/web/javascript/reference/classes/static/index.md
Owners: @mdn/yari-content-javascript

Change “has” to “have” on referer header page
  files/en-us/web/http/headers/referer/index.md
Owners: @mdn/yari-content-http

Update Application Cache docs
  files/en-us/web/api/sharedworkerglobalscope/applicationcache/index.md
  files/en-us/web/api/window/applicationcache/index.md
Owners: @mdn/yari-content-web-api

Fix grammar error
  files/en-us/web/api/node/appendchild/index.md
Owners: @mdn/yari-content-web-api

Add short warning back
  files/en-us/web/api/window/applicationcache/index.md
Owners: @mdn/yari-content-web-api

One more 404 URL
  files/en-us/web/api/sharedworkerglobalscope/index.md
Owners: @mdn/yari-content-web-api

Fix the order of arguments to getPose()
  files/en-us/web/api/webxr_device_api/spatial_tracking/index.md
Owners: @mdn/yari-content-web-api

Fix link flaws in WebKit-specific properties
  files/en-us/web/css/-webkit-overflow-scrolling/index.md
  files/en-us/web/css/-webkit-print-color-adjust/index.md
  files/en-us/web/css/-webkit-tap-highlight-color/index.md
  files/en-us/web/css/box-align/index.md
  files/en-us/web/css/box-direction/index.md
  files/en-us/web/css/box-flex/index.md
  files/en-us/web/css/box-lines/index.md
  files/en-us/web/css/box-orient/index.md
  files/en-us/web/css/box-pack/index.md
Owners: @mdn/yari-content-css

Wasm reference pages change to interactive examples
  files/en-us/webassembly/reference/control_flow/block/index.md
  files/en-us/webassembly/reference/control_flow/br/index.md
  files/en-us/webassembly/reference/control_flow/call/index.md
  files/en-us/webassembly/reference/control_flow/end/index.md
  files/en-us/webassembly/reference/control_flow/if...else/index.md
  files/en-us/webassembly/reference/control_flow/loop/index.md
  files/en-us/webassembly/reference/control_flow/nop/index.md
  files/en-us/webassembly/reference/control_flow/return/index.md
  files/en-us/webassembly/reference/control_flow/unreachable/index.md
Owners: @mdn/yari-content-mdn

Custom elements not supported note removed
  files/en-us/web/web_components/using_custom_elements/index.md
Owners: @mdn/yari-content-mdn

Update index.md (#10956)
  files/en-us/web/css/css_container_queries/index.md
Owners: @mdn/yari-content-css

Fix link flaws in WebKit-specific properties (#10984)
  files/en-us/web/css/-webkit-overflow-scrolling/index.md
  files/en-us/web/css/-webkit-print-color-adjust/index.md
  files/en-us/web/css/-webkit-tap-highlight-color/index.md
  files/en-us/web/css/box-align/index.md
  files/en-us/web/css/box-direction/index.md
  files/en-us/web/css/box-flex/index.md
  files/en-us/web/css/box-lines/index.md
  files/en-us/web/css/box-orient/index.md
  files/en-us/web/css/box-pack/index.md
Owners: @mdn/yari-content-css

Update Application Cache docs (#10979)
  files/en-us/web/api/sharedworkerglobalscope/applicationcache/index.md
  files/en-us/web/api/sharedworkerglobalscope/index.md
  files/en-us/web/api/window/applicationcache/index.md
Owners: @mdn/yari-content-web-api

unrelated layout improvements
  files/en-us/web/http/headers/referer/index.md
Owners: @mdn/yari-content-http

Change “has” to “have” on referer header page (#10977)
  files/en-us/web/http/headers/referer/index.md
Owners: @mdn/yari-content-http

Destructuring assignment - Fix layout of code in note
  files/en-us/web/javascript/reference/operators/destructuring_assignment/index.md
Owners: @mdn/yari-content-javascript

Update index.md
  files/en-us/web/javascript/reference/classes/static/index.md
Owners: @mdn/yari-content-javascript

Fix grammar error (#10978)
  files/en-us/web/api/node/appendchild/index.md
Owners: @mdn/yari-content-web-api

Adds note about fields. Thanks @bergus (#10974)
  files/en-us/web/javascript/reference/classes/static/index.md
Owners: @mdn/yari-content-javascript

Updated Parsing link from speculative parsing to parsing (#10962)
  files/en-us/web/performance/how_browsers_work/index.md
Owners: @mdn/yari-content-mdn

Apply suggestions from code review
  files/en-us/glossary/client_hints/index.md
  files/en-us/web/http/headers/sec-ch-ua/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-http

Define then list low entropy headers
  files/en-us/glossary/client_hints/index.md
Owners: @mdn/yari-content-mdn

high entropy reorder
  files/en-us/glossary/client_hints/index.md
Owners: @mdn/yari-content-mdn
