Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone

Add cookieStoreId to contentScripts.register (#11268)
  files/en-us/mozilla/add-ons/webextensions/api/contentscripts/register/index.md
  files/en-us/mozilla/firefox/releases/97/index.md
Owners: @mdn/yari-content-mozilla-add-ons, @mdn/yari-content-mdn

update the link of attribute titles
  files/en-us/web/html/global_attributes/index.md
Owners: @mdn/yari-content-html

Update links for attribute itemprop
  files/en-us/web/guide/html/content_categories/index.md
Owners: @mdn/yari-content-mdn

Create Sjenica1
  Sjenica1
Owners: @mdn/core-yari-dev

Fix typo.
  files/en-us/web/api/web_authentication_api/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/web/http/headers/nel/index.md
Owners: @mdn/yari-content-http

🐛 Fix: Invalid assignment to const; use let
  files/en-us/web/api/node/nodename/index.md
Owners: @mdn/yari-content-web-api

Fix comment for export-ns-from syntax
  files/en-us/web/javascript/reference/statements/export/index.md
Owners: @mdn/yari-content-javascript

Add a link to the only polyfill to date
  files/en-us/web/api/structuredclone/index.md
Owners: @mdn/yari-content-web-api

Fixed the URL that points to the StereoPannerNode's algorithm
  files/en-us/web/api/baseaudiocontext/createstereopanner/index.md
Owners: @mdn/yari-content-web-api

Remove MediaSessionAction[Details] enum/dict from MDN
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/mediasession/setactionhandler/index.md
  files/en-us/web/api/mediasessionaction/index.md
  files/en-us/web/api/mediasessionactiondetails/action/index.md
  files/en-us/web/api/mediasessionactiondetails/fastseek/index.md
  files/en-us/web/api/mediasessionactiondetails/index.md
  files/en-us/web/api/mediasessionactiondetails/seekoffset/index.md
  files/en-us/web/api/mediasessionactiondetails/seektime/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

Remove MediaStreamTrackAudioSourceOptions from MDN
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/mediastreamtrackaudiosourceoptions/index.md
  files/en-us/web/api/mediastreamtrackaudiosourceoptions/mediastreamtrack/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

Finish cleanup
  files/en-us/web/api/media_session_api/index.md
  files/en-us/web/api/mediasession/index.md
  files/en-us/web/api/mediasession/setactionhandler/index.md
Owners: @mdn/yari-content-web-api

Finish cleanup
  files/en-us/web/api/mediastreamtrackaudiosourcenode/mediastreamtrackaudiosourcenode/index.md
Owners: @mdn/yari-content-web-api

Add externref as possible value for GlobalDescriptor.value
  files/en-us/web/javascript/reference/global_objects/webassembly/global/global/index.md
Owners: @mdn/yari-content-javascript

substring(string ,start, [length] )
  files/en-us/web/xpath/functions/substring/index.md
Owners: @mdn/yari-content-mdn

Add externref as value for tableDescriptor.element
  files/en-us/web/javascript/reference/global_objects/webassembly/table/table/index.md
Owners: @mdn/yari-content-javascript

New page: aria-sort (#11095)
  files/en-us/web/accessibility/aria/attributes/aria-sort/index.md
Owners: @mdn/yari-content-accessibility

New page: aria-roledescription (#11040)
  files/en-us/web/accessibility/aria/attributes/aria-roledescription/index.md
Owners: @mdn/yari-content-accessibility

New page: aria-setsize (#11037)
  files/en-us/web/accessibility/aria/attributes/aria-setsize/index.md
Owners: @mdn/yari-content-accessibility

New page: aria-relevant (#11017)
  files/en-us/web/accessibility/aria/attributes/aria-relevant/index.md
Owners: @mdn/yari-content-accessibility

New page: aria-owns (#10892)
  files/en-us/web/accessibility/aria/attributes/aria-owns/index.md
Owners: @mdn/yari-content-accessibility

ARIA techniques home page (#11242)
  files/en-us/web/accessibility/aria/aria_techniques/index.html
  files/en-us/web/accessibility/aria/aria_techniques/index.md
Owners: @mdn/yari-content-accessibility

Mark lack of AVIF support in Safari (#11275)
  files/en-us/web/html/element/img/index.md
Owners: @mdn/yari-content-html

Fix typos and extend a description in "Flexbox"
  files/en-us/learn/css/css_layout/flexbox/index.md
Owners: @mdn/yari-content-css

Add missing word
  files/en-us/learn/html/multimedia_and_embedding/responsive_images/index.md
Owners: @mdn/yari-content-html

CSS Grid: minor edits and fixes
  files/en-us/learn/css/css_layout/grids/index.md
Owners: @mdn/yari-content-css

Update index.md
  files/en-us/web/api/performance/measure/index.md
Owners: @mdn/yari-content-web-api

Close <svg>tag
  files/en-us/web/api/node/nodename/index.md
Owners: @mdn/yari-content-web-api

Minor fixes in Web/CSS/@counter-style/fallback
  files/en-us/web/css/@counter-style/fallback/index.md
Owners: @mdn/yari-content-css

update `core-js` data
  files/en-us/web/api/domexception/domexception/index.md
  files/en-us/web/api/domexception/index.md
  files/en-us/web/api/structuredclone/index.md
  files/en-us/web/javascript/reference/global_objects/error/error/index.md
  files/en-us/web/javascript/reference/global_objects/error/index.md
  files/en-us/web/javascript/reference/global_objects/error/tostring/index.md
  files/en-us/web/javascript/reference/global_objects/number/toexponential/index.md
Owners: @mdn/yari-content-web-api, @mdn/yari-content-javascript

Fix a result of an example
  files/en-us/web/css/@counter-style/range/index.md
Owners: @mdn/yari-content-css

Fix parameters of macros
  files/en-us/web/css/@counter-style/speak-as/index.md
Owners: @mdn/yari-content-css

Replace deprecated xlink:href by href
  files/en-us/web/svg/element/defs/index.md
Owners: @mdn/yari-content-svg

Add a link to the referenced article.
  files/en-us/web/http/feature_policy/index.md
Owners: @mdn/yari-content-http

Add anyfunc as well
  files/en-us/web/javascript/reference/global_objects/webassembly/global/global/index.md
Owners: @mdn/yari-content-javascript

Rename files/en-us/mozilla/add-ons/webextensions/manifest.json/description/index.md to files/en-us/mozilla/add-ons/webextensions/manifest.json/Description for RWE REEVES
  files/en-us/mozilla/add-ons/webextensions/manifest.json/Description for RWE REEVES
Owners: @mdn/yari-content-mozilla-add-ons

fespotlight - minor grammatical fix
  files/en-us/web/svg/element/fespotlight/index.md
Owners: @mdn/yari-content-svg

minor tidy
  files/en-us/web/svg/element/fespotlight/index.md
Owners: @mdn/yari-content-svg

Add a link to the referenced article. (#11315)
  files/en-us/web/http/feature_policy/index.md
Owners: @mdn/yari-content-http
