Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone

Tidy SyntaxError: function requires statement
  files/en-us/web/javascript/reference/errors/unnamed_function_statement/index.md
Owners: @mdn/yari-content-javascript

link to attributes page
  files/en-us/web/accessibility/aria/roles/index.md
Owners: @mdn/yari-content-accessibility

area element with default set must not set coords
  files/en-us/web/html/element/area/index.md
Owners: @mdn/yari-content-html

Add link to attributes page (#10467)
  files/en-us/web/accessibility/aria/roles/index.md
Owners: @mdn/yari-content-accessibility

Fix grammatical error and clarify purpose of 'moz:SearchForm'
  files/en-us/web/opensearch/index.md
Owners: @mdn/yari-content-mdn

Remove PhotoCapabilities dictionary from MDN
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/imagecapture/getphotocapabilities/index.md
  files/en-us/web/api/photocapabilities/filllightmode/index.md
  files/en-us/web/api/photocapabilities/imageheight/index.md
  files/en-us/web/api/photocapabilities/imagewidth/index.md
  files/en-us/web/api/photocapabilities/index.md
  files/en-us/web/api/photocapabilities/redeyereduction/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

XRReferenceSpace: Single page for reset event
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/xrreferencespace/index.md
  files/en-us/web/api/xrreferencespace/onreset/index.md
  files/en-us/web/api/xrreferencespace/reset_event/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

XRSystem: Single page for devicechange event
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/xrsystem/devicechange_event/index.md
  files/en-us/web/api/xrsystem/index.md
  files/en-us/web/api/xrsystem/ondevicechange/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

add languageDisplay
  files/en-us/web/javascript/reference/global_objects/intl/displaynames/displaynames/index.md
Owners: @mdn/yari-content-javascript

Remove API/ServiceWorkerGlobalScope/caches page
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/serviceworkerglobalscope/caches/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

Fix indentation of braces in example
  files/en-us/web/api/node/index.md
Owners: @mdn/yari-content-web-api

Fix indentation of braces in example (#10478)
  files/en-us/web/api/node/index.md
Owners: @mdn/yari-content-web-api

Fix precedence table for `yield` and `??`
  files/en-us/web/javascript/reference/operators/operator_precedence/index.md
Owners: @mdn/yari-content-javascript

New Page: aria-colindex
  files/en-us/web/accessibility/aria/attributes/aria-colindex/index.md
Owners: @mdn/yari-content-accessibility

fix a broken MathML element
  files/en-us/web/api/audioparam/settargetattime/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/imagecapture/getphotocapabilities/index.md
  files/en-us/web/api/imagecapture/getphotocapabilities/index.md
Owners: @mdn/yari-content-web-api

Remove PhotoCapabilities dictionary from MDN (#10471)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/imagecapture/getphotocapabilities/index.md
  files/en-us/web/api/photocapabilities/filllightmode/index.md
  files/en-us/web/api/photocapabilities/imageheight/index.md
  files/en-us/web/api/photocapabilities/imagewidth/index.md
  files/en-us/web/api/photocapabilities/index.md
  files/en-us/web/api/photocapabilities/redeyereduction/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

Remove API/ServiceWorkerGlobalScope/caches page (#10476)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/serviceworkerglobalscope/caches/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

Fix broken link in index.md
  files/en-us/web/api/file_and_directory_entries_api/introduction/index.md
Owners: @mdn/yari-content-web-api

Apply suggestions from code review
  files/en-us/web/api/xrreferencespace/index.md
Owners: @mdn/yari-content-web-api

Updates to JS LA Arrays page
  files/en-us/learn/javascript/first_steps/arrays/index.md
Owners: @mdn/yari-content-javascript

More consistent spacing
  files/en-us/learn/javascript/first_steps/arrays/index.md
Owners: @mdn/yari-content-javascript

Reinstate finding the length of an array
  files/en-us/learn/javascript/first_steps/arrays/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/learn/javascript/first_steps/variables/index.md
  files/en-us/learn/javascript/first_steps/variables/index.md
Owners: @mdn/yari-content-javascript

New page: aria-colindex
  files/en-us/web/accessibility/aria/attributes/aria-colindex/index.md
Owners: @mdn/yari-content-accessibility

see also
  files/en-us/web/accessibility/aria/attributes/aria-colindex/index.md
Owners: @mdn/yari-content-accessibility

link case matches slugs
  files/en-us/web/accessibility/aria/attributes/aria-colindex/index.md
Owners: @mdn/yari-content-accessibility

JS Learning Area: update guidance on const and let (#10421)
  files/en-us/learn/javascript/first_steps/a_first_splash/index.md
  files/en-us/learn/javascript/first_steps/variables/index.md
Owners: @mdn/yari-content-javascript

XRReferenceSpace: Single page for reset event (#10473)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/xrreferencespace/index.md
  files/en-us/web/api/xrreferencespace/onreset/index.md
  files/en-us/web/api/xrreferencespace/reset_event/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

fix a broken MathML element (#10481)
  files/en-us/web/api/audioparam/settargetattime/index.md
Owners: @mdn/yari-content-web-api

Fix broken link in index.md (#10482)
  files/en-us/web/api/file_and_directory_entries_api/introduction/index.md
Owners: @mdn/yari-content-web-api

New Page: aria-multiline
  files/en-us/web/accessibility/aria/attributes/aria-multiline/index.md
Owners: @mdn/yari-content-accessibility

edits
  files/en-us/web/accessibility/aria/attributes/aria-multiline/index.md
Owners: @mdn/yari-content-accessibility

area element with default set must not set coords (#10468)
  files/en-us/web/html/element/area/index.md
Owners: @mdn/yari-content-html

Update JS learning area string basics page
  files/en-us/learn/javascript/first_steps/strings/index.md
Owners: @mdn/yari-content-javascript

Updates to JS Learning Area String: useful methods page
  files/en-us/learn/javascript/first_steps/useful_string_methods/index.md
Owners: @mdn/yari-content-javascript

Fix a typo
  files/en-us/learn/javascript/first_steps/useful_string_methods/index.md
Owners: @mdn/yari-content-javascript

Tidy SyntaxError: function requires statement (#10466)
  files/en-us/web/javascript/reference/errors/unnamed_function_statement/index.md
Owners: @mdn/yari-content-javascript

link element - remove dead link and layout (#10465)
  files/en-us/web/html/element/link/index.md
Owners: @mdn/yari-content-html

Caption must be first child when used in table
  files/en-us/web/html/element/caption/index.md
Owners: @mdn/yari-content-html
