Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone

Fix parameters of macros (#11313)
  files/en-us/web/css/@counter-style/speak-as/index.md
Owners: @mdn/yari-content-css

Update files/en-us/web/css/@counter-style/range/index.md
  files/en-us/web/css/@counter-style/range/index.md
Owners: @mdn/yari-content-css

Fix a result of an example (#11312)
  files/en-us/web/css/@counter-style/range/index.md
Owners: @mdn/yari-content-css

Fix links in <input type="color"> docs
  files/en-us/web/html/element/input/color/index.md
Owners: @mdn/yari-content-html

Minor fixes in Web/CSS/@counter-style/fallback (#11308)
  files/en-us/web/css/@counter-style/fallback/index.md
Owners: @mdn/yari-content-css

might as well indicate methods are methods using ()
  files/en-us/learn/css/css_layout/grids/index.md
Owners: @mdn/yari-content-css

CSS Grid: minor edits and fixes (#11306)
  files/en-us/learn/css/css_layout/grids/index.md
Owners: @mdn/yari-content-css

Fix typos and extend a description in "Flexbox" (#11304)
  files/en-us/learn/css/css_layout/flexbox/index.md
Owners: @mdn/yari-content-css

expanded syntax
  files/en-us/web/xpath/functions/substring/index.md
Owners: @mdn/yari-content-mdn

Minor layout tidy
  files/en-us/web/api/mediastreamtrackaudiosourcenode/mediastreamtrackaudiosourcenode/index.md
Owners: @mdn/yari-content-web-api

Remove MediaStreamTrackAudioSourceOptions from MDN (#11297)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/mediastreamtrackaudiosourcenode/mediastreamtrackaudiosourcenode/index.md
  files/en-us/web/api/mediastreamtrackaudiosourceoptions/index.md
  files/en-us/web/api/mediastreamtrackaudiosourceoptions/mediastreamtrack/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

Remove spurious markup
  files/en-us/web/xpath/functions/substring/index.md
Owners: @mdn/yari-content-mdn

substring(string ,start, [length] ) (#11299)
  files/en-us/web/xpath/functions/substring/index.md
Owners: @mdn/yari-content-mdn

remove link text - equal power
  files/en-us/web/api/baseaudiocontext/createstereopanner/index.md
Owners: @mdn/yari-content-web-api

Fixed the URL that points to the StereoPannerNode's algorithm (#11295)
  files/en-us/web/api/baseaudiocontext/createstereopanner/index.md
Owners: @mdn/yari-content-web-api

minor layout stuff
  files/en-us/web/api/mediasession/setactionhandler/index.md
Owners: @mdn/yari-content-web-api

Remove MediaSessionAction[Details] enum/dict from MDN (#11296)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/media_session_api/index.md
  files/en-us/web/api/mediasession/index.md
  files/en-us/web/api/mediasession/setactionhandler/index.md
  files/en-us/web/api/mediasessionaction/index.md
  files/en-us/web/api/mediasessionactiondetails/action/index.md
  files/en-us/web/api/mediasessionactiondetails/fastseek/index.md
  files/en-us/web/api/mediasessionactiondetails/index.md
  files/en-us/web/api/mediasessionactiondetails/seekoffset/index.md
  files/en-us/web/api/mediasessionactiondetails/seektime/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

Revert "Remove MediaSessionAction[Details] enum/dict from MDN (#11296)"
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/media_session_api/index.md
  files/en-us/web/api/mediasession/index.md
  files/en-us/web/api/mediasession/setactionhandler/index.md
  files/en-us/web/api/mediasessionaction/index.md
  files/en-us/web/api/mediasessionactiondetails/action/index.md
  files/en-us/web/api/mediasessionactiondetails/fastseek/index.md
  files/en-us/web/api/mediasessionactiondetails/index.md
  files/en-us/web/api/mediasessionactiondetails/seekoffset/index.md
  files/en-us/web/api/mediasessionactiondetails/seektime/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

🐛 Fix: Invalid assignment to constant; use let for variable (#11291)
  files/en-us/web/api/node/nodename/index.md
Owners: @mdn/yari-content-web-api

Fix typo. (#11287)
  files/en-us/web/api/web_authentication_api/index.md
Owners: @mdn/yari-content-web-api

Update links for attribute itemprop (#11285)
  files/en-us/web/guide/html/content_categories/index.md
Owners: @mdn/yari-content-mdn

Rewrite OO guide in JS Learning Area
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/learn/javascript/objects/basics/index.md
  files/en-us/learn/javascript/objects/classes_in_javascript/index.md
  files/en-us/learn/javascript/objects/index.md
  files/en-us/learn/javascript/objects/inheritance/index.md
  files/en-us/learn/javascript/objects/object-oriented_js/index.md
  files/en-us/learn/javascript/objects/object-oriented_js/mdn-graphics-inherited-3.png
  files/en-us/learn/javascript/objects/object-oriented_js/mdn-graphics-instantiation-2-fixed.png
  files/en-us/learn/javascript/objects/object-oriented_js/mdn-graphics-instantiation-teacher-3.png
  files/en-us/learn/javascript/objects/object-oriented_js/person-diagram.png
  files/en-us/learn/javascript/objects/object-oriented_programming/index.md
  files/en-us/learn/javascript/objects/object_prototypes/index.md
  files/en-us/learn/javascript/objects/object_prototypes/myDate-prototype-chain.svg
  files/en-us/learn/javascript/objects/object_prototypes/myObject-prototype-chain.svg
Owners: @mdn/yari-content-mdn, @mdn/yari-content-javascript

Correct href attribute (#11279)
  files/en-us/web/html/element/a/index.md
Owners: @mdn/yari-content-html

Fix a typo
  files/en-us/learn/javascript/objects/basics/index.md
Owners: @mdn/yari-content-javascript

Update index.md
  files/en-us/web/javascript/reference/global_objects/webassembly/global/global/index.md
Owners: @mdn/yari-content-javascript

Added options for opening the web console.
  files/en-us/tools/web_console/index.html
Owners: @mdn/yari-content-mdn

Missing argument in replaceWith method call in example section
  files/en-us/web/api/characterdata/replacewith/index.md
Owners: @mdn/yari-content-web-api

Update README.md
  README.md
Owners: @mdn/core-yari-dev, @mdn/core-yari-content

Part 1
  files/en-us/glossary/web3/index.md
Owners: @mdn/yari-content-mdn

Missing information about exception thrown
  files/en-us/web/api/characterdata/deletedata/index.md
Owners: @mdn/yari-content-web-api

Missing documentation on exception thrown
  files/en-us/web/api/characterdata/insertdata/index.md
Owners: @mdn/yari-content-web-api

Missing documentation on exception thrown
  files/en-us/web/api/characterdata/replacedata/index.md
Owners: @mdn/yari-content-web-api

fix markdown issue with link
  files/en-us/web/accessibility/aria/roles/document_role/index.md
Owners: @mdn/yari-content-accessibility

Update index.md
  files/en-us/learn/css/index.md
Owners: @mdn/yari-content-css

Type clarification for cookieStoreId
  files/en-us/mozilla/add-ons/webextensions/api/contentscripts/register/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Fix a link in Document.pictureInPictureEnabled docs
  files/en-us/web/api/document/pictureinpictureenabled/index.md
Owners: @mdn/yari-content-web-api

fespotlight - minor grammatical fix (#11323)
  files/en-us/web/svg/element/fespotlight/index.md
Owners: @mdn/yari-content-svg

Replace deprecated xlink:href by href (#11314)
  files/en-us/web/svg/element/defs/index.md
Owners: @mdn/yari-content-svg

Fix a broken link in HTMLVideoElement.requestPictureInPicture() docs
  files/en-us/web/api/htmlvideoelement/requestpictureinpicture/index.md
Owners: @mdn/yari-content-web-api

Update Object Basics index.md
  files/en-us/learn/javascript/objects/basics/index.md
Owners: @mdn/yari-content-javascript
