Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

Updates to note that samesite is now scheme aware (#10938)
  files/en-us/web/http/cookies/index.md
  files/en-us/web/http/headers/set-cookie/index.md
  files/en-us/web/http/headers/set-cookie/samesite/index.md
Owners: @mdn/yari-content-http

Add two examples of URL() constructor
  files/en-us/web/api/url/url/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/accessibility/aria/attributes/aria-placeholder/index.md
  files/en-us/web/accessibility/aria/attributes/aria-placeholder/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-placeholder/index.md
  files/en-us/web/accessibility/aria/attributes/aria-placeholder/index.md
Owners: @mdn/yari-content-accessibility

New page: aria-placeholder (#10893)
  files/en-us/web/accessibility/aria/attributes/aria-placeholder/index.md
Owners: @mdn/yari-content-accessibility

New page: aria-rowcount (#10931)
  files/en-us/web/accessibility/aria/attributes/aria-rowcount/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-rowindex/index.md
  files/en-us/web/accessibility/aria/attributes/aria-rowindex/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-rowindex/index.md
  files/en-us/web/accessibility/aria/attributes/aria-rowindex/index.md
Owners: @mdn/yari-content-accessibility

New page: aria-rowindex (#10942)
  files/en-us/web/accessibility/aria/attributes/aria-rowindex/index.md
Owners: @mdn/yari-content-accessibility

New page: aria-rowspan (#10963)
  files/en-us/web/accessibility/aria/attributes/aria-rowspan/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-rowindextext/index.md
  files/en-us/web/accessibility/aria/attributes/aria-rowindextext/index.md
Owners: @mdn/yari-content-accessibility

Third party cookies
  files/en-us/web/http/cookies/index.md
Owners: @mdn/yari-content-http

New Page: aria-rowindextext (#10957)
  files/en-us/web/accessibility/aria/attributes/aria-rowindextext/index.md
Owners: @mdn/yari-content-accessibility

Mongoose - revert to using Data in authormodel
  files/en-us/learn/server-side/express_nodejs/mongoose/index.md
Owners: @mdn/yari-content-http

Update files/en-us/web/javascript/reference/global_objects/bigint64array/bigint64array/index.md
  files/en-us/web/javascript/reference/global_objects/bigint64array/bigint64array/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/web/javascript/reference/global_objects/biguint64array/biguint64array/index.md
  files/en-us/web/javascript/reference/global_objects/biguint64array/biguint64array/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/web/javascript/reference/global_objects/float32array/float32array/index.md
  files/en-us/web/javascript/reference/global_objects/float32array/float32array/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/web/javascript/reference/global_objects/float64array/float64array/index.md
  files/en-us/web/javascript/reference/global_objects/float64array/float64array/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/web/javascript/reference/global_objects/int16array/int16array/index.md
  files/en-us/web/javascript/reference/global_objects/int16array/int16array/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/web/javascript/reference/global_objects/int32array/int32array/index.md
  files/en-us/web/javascript/reference/global_objects/int32array/int32array/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/web/javascript/reference/global_objects/int8array/int8array/index.md
  files/en-us/web/javascript/reference/global_objects/int8array/int8array/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/web/javascript/reference/global_objects/typedarray/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/web/javascript/reference/global_objects/uint32array/uint32array/index.md
  files/en-us/web/javascript/reference/global_objects/uint32array/uint32array/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/web/javascript/reference/global_objects/uint8array/uint8array/index.md
  files/en-us/web/javascript/reference/global_objects/uint8array/uint8array/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/web/javascript/reference/global_objects/uint8clampedarray/uint8clampedarray/index.md
  files/en-us/web/javascript/reference/global_objects/uint8clampedarray/uint8clampedarray/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/web/javascript/reference/global_objects/uint16array/uint16array/index.md
  files/en-us/web/javascript/reference/global_objects/uint16array/uint16array/index.md
Owners: @mdn/yari-content-javascript

Make clear: typed arrays can only be copy-constructed from same type (#10960)
  files/en-us/web/javascript/reference/global_objects/bigint64array/bigint64array/index.md
  files/en-us/web/javascript/reference/global_objects/biguint64array/biguint64array/index.md
  files/en-us/web/javascript/reference/global_objects/float32array/float32array/index.md
  files/en-us/web/javascript/reference/global_objects/float64array/float64array/index.md
  files/en-us/web/javascript/reference/global_objects/int16array/int16array/index.md
  files/en-us/web/javascript/reference/global_objects/int32array/int32array/index.md
  files/en-us/web/javascript/reference/global_objects/int8array/int8array/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/index.md
  files/en-us/web/javascript/reference/global_objects/uint16array/uint16array/index.md
  files/en-us/web/javascript/reference/global_objects/uint32array/uint32array/index.md
  files/en-us/web/javascript/reference/global_objects/uint8array/uint8array/index.md
  files/en-us/web/javascript/reference/global_objects/uint8clampedarray/uint8clampedarray/index.md
Owners: @mdn/yari-content-javascript

Mongoose - revert to using Data in authormodel (#10992)
  files/en-us/learn/server-side/express_nodejs/mongoose/index.md
Owners: @mdn/yari-content-http

Update files/en-us/web/http/cookies/index.md
  files/en-us/web/http/cookies/index.md
Owners: @mdn/yari-content-http

Redefine first party cookies to include scheme and mention subdomains. (#10991)
  files/en-us/web/http/cookies/index.md
Owners: @mdn/yari-content-http

Update files/en-us/web/api/url/url/index.md
  files/en-us/web/api/url/url/index.md
Owners: @mdn/yari-content-web-api

Add two examples of URL() constructor (#10990)
  files/en-us/web/api/url/url/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/javascript/reference/operators/destructuring_assignment/index.md
  files/en-us/web/javascript/reference/operators/destructuring_assignment/index.md
Owners: @mdn/yari-content-javascript

Destructuring assignment - Fix layout of code in note (#10989)
  files/en-us/web/javascript/reference/operators/destructuring_assignment/index.md
Owners: @mdn/yari-content-javascript

Wasm reference pages change to interactive examples (#10985)
  files/en-us/webassembly/reference/control_flow/block/index.md
  files/en-us/webassembly/reference/control_flow/br/index.md
  files/en-us/webassembly/reference/control_flow/call/index.md
  files/en-us/webassembly/reference/control_flow/end/index.md
  files/en-us/webassembly/reference/control_flow/if...else/index.md
  files/en-us/webassembly/reference/control_flow/loop/index.md
  files/en-us/webassembly/reference/control_flow/nop/index.md
  files/en-us/webassembly/reference/control_flow/return/index.md
  files/en-us/webassembly/reference/control_flow/unreachable/index.md
Owners: @mdn/yari-content-mdn

Fix the order of arguments to getPose() (#10982)
  files/en-us/web/api/webxr_device_api/spatial_tracking/index.md
Owners: @mdn/yari-content-web-api

Custom elements not supported note removed (#10986)
  files/en-us/web/web_components/using_custom_elements/index.md
Owners: @mdn/yari-content-mdn

Lock API - update to current style
  files/en-us/web/api/lock/index.md
  files/en-us/web/api/lock/mode/index.md
  files/en-us/web/api/lockmanager/index.md
  files/en-us/web/api/lockmanager/query/index.md
  files/en-us/web/api/lockmanager/request/index.md
  files/en-us/web/api/navigator/index.md
  files/en-us/web/api/web_locks_api/index.md
Owners: @mdn/yari-content-web-api

Add a warning about using steal
  files/en-us/web/api/lockmanager/request/index.md
Owners: @mdn/yari-content-web-api

Change explanatory text as comment
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
Owners: @mdn/yari-content-javascript

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone
