Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

Fix `WebPack` -> `webpack`
  files/en-us/webassembly/text_format_to_wasm/index.md
Owners: @mdn/yari-content-mdn

Fix `WebPack` -> `webpack` (#11566)
  files/en-us/webassembly/text_format_to_wasm/index.md
Owners: @mdn/yari-content-mdn

DOM Property Viewer - shortcut fix plus images
  files/en-us/tools/dom_property_viewer/dom_inspector.png
  files/en-us/tools/dom_property_viewer/dom_inspector_open.png
  files/en-us/tools/dom_property_viewer/dom_inspector_refresh_button.png
  files/en-us/tools/dom_property_viewer/dom_inspector_search_box.png
  files/en-us/tools/dom_property_viewer/index.html
Owners: @mdn/yari-content-mdn

Clarify: IDB getAllKeys() retrieves async, not “instantly” (#11554)
  files/en-us/web/api/idbindex/getallkeys/index.md
Owners: @mdn/yari-content-web-api

Document x > NEGATIVE_INFINITY true for all non-NEGATIVE_INFINITY values (#11556)
  files/en-us/web/javascript/reference/global_objects/number/negative_infinity/index.md
Owners: @mdn/yari-content-javascript

POSITIVE_INFINITY > x for all x except infinity
  files/en-us/web/javascript/reference/global_objects/number/positive_infinity/index.md
Owners: @mdn/yari-content-javascript

Update sidebar description per suggestion.
  files/en-us/mozilla/add-ons/webextensions/user_interface/sidebars/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Update index.md
  files/en-us/web/javascript/reference/operators/conditional_operator/index.md
Owners: @mdn/yari-content-javascript

Fix various instances of \*\* in markdown
  files/en-us/learn/server-side/express_nodejs/forms/delete_author_form/index.md
  files/en-us/mozilla/add-ons/webextensions/chrome_incompatibilities/index.md
  files/en-us/mozilla/add-ons/webextensions/match_patterns/index.md
  files/en-us/mozilla/firefox/releases/53/index.md
  files/en-us/web/api/vreyeparameters/offset/index.md
Owners: @mdn/yari-content-http, @mdn/yari-content-mozilla-add-ons, @mdn/yari-content-mdn, @mdn/yari-content-web-api

Missing the media resize event
  files/en-us/web/api/htmlmediaelement/index.md
Owners: @mdn/yari-content-web-api

Using CSS counters - add reversing examples
  files/en-us/web/css/counter-reset/index.md
  files/en-us/web/css/css_counter_styles/using_css_counters/index.md
Owners: @mdn/yari-content-css

Using CSS counters/counter reset - clarify defaults
  files/en-us/web/css/counter-reset/index.md
  files/en-us/web/css/css_counter_styles/using_css_counters/index.md
  files/en-us/web/css/css_counter_styles/using_css_counters/reversed_headings_basic.png
Owners: @mdn/yari-content-css

CSS counter-reset: fix typo in markup
  files/en-us/web/css/counter-reset/index.md
Owners: @mdn/yari-content-css

string.padstring - improve presentation of padding string
  files/en-us/web/javascript/reference/global_objects/string/padstart/index.md
Owners: @mdn/yari-content-javascript

Fix non-working link on video_player_styling_basics
  files/en-us/web/guide/audio_and_video_delivery/video_player_styling_basics/index.md
Owners: @mdn/yari-content-mdn

unrelated layout changes.
  files/en-us/web/javascript/reference/operators/conditional_operator/index.md
Owners: @mdn/yari-content-javascript

conditional operator typo (#11575)
  files/en-us/web/javascript/reference/operators/conditional_operator/index.md
Owners: @mdn/yari-content-javascript

Apply suggestions from code review
  files/en-us/learn/server-side/express_nodejs/forms/delete_author_form/index.md
  files/en-us/mozilla/add-ons/webextensions/chrome_incompatibilities/index.md
  files/en-us/mozilla/add-ons/webextensions/match_patterns/index.md
Owners: @mdn/yari-content-http, @mdn/yari-content-mozilla-add-ons

unrelated layout-only changes
  files/en-us/learn/server-side/express_nodejs/forms/delete_author_form/index.md
Owners: @mdn/yari-content-http

Fix some instances of \*\* in markdown (#11576)
  files/en-us/learn/server-side/express_nodejs/forms/delete_author_form/index.md
  files/en-us/mozilla/add-ons/webextensions/chrome_incompatibilities/index.md
  files/en-us/mozilla/add-ons/webextensions/match_patterns/index.md
  files/en-us/mozilla/firefox/releases/53/index.md
  files/en-us/web/api/vreyeparameters/offset/index.md
Owners: @mdn/yari-content-http, @mdn/yari-content-mozilla-add-ons, @mdn/yari-content-mdn, @mdn/yari-content-web-api

Minor change to my taste
  files/en-us/learn/javascript/objects/basics/index.md
Owners: @mdn/yari-content-javascript

omit anonymous function that won't compile add comment to make reader aware of anonymous function
  files/en-us/web/javascript/a_re-introduction_to_javascript/index.md
Owners: @mdn/yari-content-javascript

The src URI value is missing a domain name
  files/en-us/web/api/htmlmediaelement/abort_event/index.md
Owners: @mdn/yari-content-web-api

Bad English
  files/en-us/web/api/htmlmediaelement/canplaythrough_event/index.md
Owners: @mdn/yari-content-web-api

Bad English (#11584)
  files/en-us/web/api/htmlmediaelement/canplaythrough_event/index.md
Owners: @mdn/yari-content-web-api

The src URI value is missing a domain name (#11582)
  files/en-us/web/api/htmlmediaelement/abort_event/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/web/javascript/reference/global_objects/date/tolocaledatestring/index.md
Owners: @mdn/yari-content-javascript

[Remove]: 'window' namespace
  files/en-us/learn/javascript/client-side_web_apis/client-side_storage/index.md
Owners: @mdn/yari-content-javascript

[Add]: A very useful link
  files/en-us/web/javascript/data_structures/index.md
Owners: @mdn/yari-content-javascript

Update index.md
  files/en-us/web/html/element/figcaption/index.md
Owners: @mdn/yari-content-html

FF96 relnote: CSS counter-reset: reversed() (#11359)
  files/en-us/mozilla/firefox/releases/96/index.md
Owners: @mdn/yari-content-mdn

getting jump on rel notes
  files/en-us/mozilla/firefox/releases/96/index.md
  files/en-us/mozilla/firefox/releases/97/index.md
  files/en-us/mozilla/firefox/releases/98/index.md
Owners: @mdn/yari-content-mdn

[Remove]: Stale link
  files/en-us/web/javascript/memory_management/index.md
Owners: @mdn/yari-content-javascript

Fix wrong information about sidebar (#11555)
  files/en-us/mozilla/add-ons/webextensions/user_interface/sidebars/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Fix starter file link in "Video and Audio APIs"
  files/en-us/learn/javascript/client-side_web_apis/video_and_audio_apis/index.md
Owners: @mdn/yari-content-javascript

Missing the media resize event (#11578)
  files/en-us/web/api/htmlmediaelement/index.md
Owners: @mdn/yari-content-web-api

[Remove]: Stale link (#11601)
  files/en-us/web/javascript/memory_management/index.md
Owners: @mdn/yari-content-javascript

Fix starter file link in "Video and Audio APIs" (#11603)
  files/en-us/learn/javascript/client-side_web_apis/video_and_audio_apis/index.md
Owners: @mdn/yari-content-javascript

[cache-control] replace nbsp(0x00a0) to sp
  files/en-us/web/http/headers/cache-control/index.md
Owners: @mdn/yari-content-http

[Add]: A very useful link (#11589)
  files/en-us/web/javascript/data_structures/index.md
Owners: @mdn/yari-content-javascript

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone
