Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-content, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/content-mathml, @mdn/core-dev, @mdn-bot

Expresss selected_book - undefined on first get (#28016)
  files/en-us/learn/server-side/express_nodejs/forms/create_bookinstance_form/index.md
Owners: @mdn/yari-content-http

Add alt-used HTTP Header (#27908)
  files/en-us/web/http/headers/alt-used/index.md
  files/en-us/web/http/headers/index.md
Owners: @mdn/yari-content-http

Patch method cacheable modified to "No" to "Only if freshness information is included". (#27934)
  files/en-us/web/http/methods/patch/index.md
Owners: @mdn/yari-content-http

Initialize "isDrawing" variable (#28020)
  files/en-us/web/html/element/a/index.md
Owners: @mdn/yari-content-html

Update pull() description (#27970)
  files/en-us/web/api/readablestream/readablestream/index.md
Owners: @mdn/yari-content-web-api

Update description of conditional headers (#27645)
  files/en-us/web/http/conditional_requests/index.md
Owners: @mdn/yari-content-http

feat(wasm): Upgrade WASM node tutorial to use node 20
  files/en-us/webassembly/rust_to_wasm/index.md
Owners: @mdn/yari-content-mdn

Add first draft of Shared Storage API landing page
  files/en-us/web/api/shared_storage_api/index.md
  files/jsondata/GroupData.json
Owners: @mdn/yari-content-web-api, @mdn/core-yari-content

Update files/en-us/webassembly/rust_to_wasm/index.md
  files/en-us/webassembly/rust_to_wasm/index.md
Owners: @mdn/yari-content-mdn

Update splice: add link to 'mutation method'
  files/en-us/web/javascript/reference/global_objects/array/push/index.md
Owners: @mdn/yari-content-javascript

Update others
  files/en-us/web/javascript/reference/global_objects/array/shift/index.md
Owners: @mdn/yari-content-javascript

Add link to 'mutation method' (#28052)
  files/en-us/web/javascript/reference/global_objects/array/push/index.md
  files/en-us/web/javascript/reference/global_objects/array/shift/index.md
Owners: @mdn/yari-content-javascript

Update index.md - secure flag note for Chrome
  files/en-us/web/http/headers/set-cookie/index.md
Owners: @mdn/yari-content-http

Add sharedstorage class
  files/en-us/web/api/shared_storage_api/index.md
  files/en-us/web/api/sharedstorage/append/index.md
  files/en-us/web/api/sharedstorage/clear/index.md
  files/en-us/web/api/sharedstorage/delete/index.md
  files/en-us/web/api/sharedstorage/index.md
  files/en-us/web/api/sharedstorage/set/index.md
  files/en-us/web/api/window/index.md
  files/en-us/web/api/window/sharedstorage/index.md
  files/jsondata/GroupData.json
Owners: @mdn/yari-content-web-api, @mdn/core-yari-content

fix typo in option role aria-busy description
  files/en-us/web/accessibility/aria/roles/option_role/index.md
Owners: @mdn/yari-content-accessibility

fix typo in option role aria-busy description (#28058)
  files/en-us/web/accessibility/aria/roles/option_role/index.md
Owners: @mdn/yari-content-accessibility

relnote(116): support dirname on textarea and input elements (#28032)
  files/en-us/mozilla/firefox/releases/116/index.md
  files/en-us/web/html/element/textarea/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-html

remove 14kb rule and combine congestion rule with slow start
  files/en-us/web/performance/how_browsers_work/congestioncontrol.jpg
  files/en-us/web/performance/how_browsers_work/index.md
Owners: @mdn/yari-content-mdn

edits to selectors
  files/en-us/web/css/css_selectors/index.md
Owners: @mdn/yari-content-css

finish selectors
  files/en-us/web/css/css_pseudo/index.md
Owners: @mdn/yari-content-css

redirects
  files/en-us/web/css/css_selectors/index.md
Owners: @mdn/yari-content-css

redirects
  files/en-us/web/css/css_selectors/index.md
Owners: @mdn/yari-content-css

Change "has" to "have" in index.md
  files/en-us/web/css/aspect-ratio/index.md
Owners: @mdn/yari-content-css

/en-US/docs/Web/CSS/CSS_Selectors/Using_the_:target_pseudo-class_in_selectors
  files/en-us/web/css/css_selectors/index.md
Owners: @mdn/yari-content-css

/en-US/docs/Web/CSS/CSS_Selectors/Using_the_:target_pseudo-class_in_selectors
  files/en-us/web/css/css_selectors/using_the__colon_target_pseudo-class_in_selectors/index.md
Owners: @mdn/yari-content-css

/en-US/docs/Web/CSS/CSS_Selectors/Using_the_:target_pseudo-class_in_selectors
  files/en-us/web/css/css_selectors/index.md
Owners: @mdn/yari-content-css

damn urls
  files/en-us/web/css/css_selectors/index.md
Owners: @mdn/yari-content-css

js
  files/en-us/web/css/css_selectors/index.md
Owners: @mdn/yari-content-css

intro
  files/en-us/web/css/css_selectors/index.md
Owners: @mdn/yari-content-css

Prevent "&nbsp;" in Markdown
  .markdownlint-cli2.jsonc
  files/en-us/web/accessibility/understanding_wcag/perceivable/index.md
  files/en-us/web/javascript/reference/global_objects/math/acos/index.md
  files/en-us/web/javascript/reference/global_objects/math/acosh/index.md
  files/en-us/web/javascript/reference/global_objects/math/asin/index.md
  files/en-us/web/javascript/reference/global_objects/math/asinh/index.md
  files/en-us/web/javascript/reference/global_objects/math/atan/index.md
  files/en-us/web/javascript/reference/global_objects/math/atanh/index.md
  files/en-us/web/javascript/reference/global_objects/math/cbrt/index.md
  files/en-us/web/javascript/reference/global_objects/math/log/index.md
  files/en-us/web/javascript/reference/global_objects/math/log10/index.md
  files/en-us/web/javascript/reference/global_objects/math/log2/index.md
  files/en-us/web/javascript/reference/global_objects/math/sqrt/index.md
  files/en-us/web/javascript/reference/regular_expressions/literal_character/index.md
  files/en-us/web/svg/attribute/xml_colon_space/index.md
Owners: @mdn/core-dev, @mdn/yari-content-accessibility, @mdn/yari-content-javascript, @mdn/yari-content-svg

fixes macro errors
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_constructor_subpage_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_event_subpage_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_method_subpage_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_property_subpage_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_reference_page_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/aria_page_template/index.md
Owners: @mdn/yari-content-mdn

fixes macro errors
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_constructor_subpage_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_landing_page_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/css_property_page_template/index.md
Owners: @mdn/yari-content-mdn

fixes macro errors
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_landing_page_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_method_subpage_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_property_subpage_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_reference_page_template/index.md
Owners: @mdn/yari-content-mdn

fixes macro errors
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_constructor_subpage_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_event_subpage_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_method_subpage_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_property_subpage_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_reference_page_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/css_property_page_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/html_element_page_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/http_header_page_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/svg_element_page_template/index.md
Owners: @mdn/yari-content-mdn

minor updates
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_constructor_subpage_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_event_subpage_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_method_subpage_template/index.md
Owners: @mdn/yari-content-mdn

Update preventDefault example to properly handle keydown event
  files/en-us/web/api/event/preventdefault/index.md
Owners: @mdn/yari-content-web-api

fixes markdown errors
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_landing_page_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_property_subpage_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_reference_page_template/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/web/css/_colon_focus-visible/index.md
  files/en-us/web/css/_colon_focus-visible/index.md
Owners: @mdn/yari-content-css

Fix lint issues
  files/en-us/web/css/_colon_focus-visible/index.md
Owners: @mdn/yari-content-css

Update preventDefault example to properly handle keydown event (#28065)
  files/en-us/web/api/event/preventdefault/index.md
Owners: @mdn/yari-content-web-api

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-content

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons

# ----------------------------------------------------------------------------
# ENGLISH MATHML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/mathml/    @mdn/content-mathml


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-dev
/*            @mdn/core-dev
/*.md         @mdn/core-yari-content
# These are @mdn-bot because the auto-merge GHA workflow uses the PAT of this account.
# If another reviewer is specified, update the PAT token or auto-merge will cease to be automatic.
/package.json @mdn-bot
/yarn.lock    @mdn-bot
