Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone

Fix issue 10106: the type attribute of the style element is deprecated
  files/en-us/web/html/element/style/index.md
Owners: @mdn/yari-content-html

fix typo of inline code block
  files/en-us/web/api/console/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/web/html/global_attributes/id/index.md
Owners: @mdn/yari-content-html

Update files/en-us/web/html/element/form/index.md
  files/en-us/web/html/element/form/index.md
Owners: @mdn/yari-content-html

fix: clarify usage of dialog value for the method attribute (#10569)
  files/en-us/web/html/element/form/index.md
Owners: @mdn/yari-content-html

Update index.md (#10613)
  files/en-us/web/html/global_attributes/id/index.md
Owners: @mdn/yari-content-html

Fix 10609: Improve wording for input range (#10610)
  files/en-us/web/html/element/input/range/index.md
Owners: @mdn/yari-content-html

fixes breaking change in v5 of action
  .github/workflows/pr-review-companion.yml
Owners: @mdn/core-yari-dev

modification
  files/en-us/web/api/analysernode/getbytefrequencydata/index.md
  files/en-us/web/api/analysernode/getfloattimedomaindata/index.md
Owners: @mdn/yari-content-web-api

modification (#10615)
  files/en-us/web/api/analysernode/getbytefrequencydata/index.md
  files/en-us/web/api/analysernode/getfloattimedomaindata/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/learn/tools_and_testing/understanding_client-side_tools/command_line/index.md
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/command_line/index.md
Owners: @mdn/yari-content-mdn

Update index.md
  files/en-us/web/api/datatransferitemlist/remove/index.md
Owners: @mdn/yari-content-web-api

Command line tools - fix redirect (#10558)
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/command_line/index.md
Owners: @mdn/yari-content-mdn

Remove plugins docs: redirect to new glossary page (#10604)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/glossary/plugin/index.md
  files/en-us/plugins/blocking_by_domain/index.md
  files/en-us/plugins/flash_to_html5/clipboard/index.md
  files/en-us/plugins/flash_to_html5/index.md
  files/en-us/plugins/flash_to_html5/video/advertising/index.md
  files/en-us/plugins/flash_to_html5/video/distribution/index.md
  files/en-us/plugins/flash_to_html5/video/drm_and_authentication/index.md
  files/en-us/plugins/flash_to_html5/video/file_format_conversion/index.md
  files/en-us/plugins/flash_to_html5/video/index.md
  files/en-us/plugins/flash_to_html5/video/planning/index.md
  files/en-us/plugins/flash_to_html5/video/players/index.md
  files/en-us/plugins/flash_to_html5/video/subtitles_captions/index.md
  files/en-us/plugins/guide/browser_side_plug-in_api/index.md
  files/en-us/plugins/guide/constants/index.md
  files/en-us/plugins/guide/drawing_and_event_handling/index.md
  files/en-us/plugins/guide/index.md
  files/en-us/plugins/guide/initialization_and_destruction/index.md
  files/en-us/plugins/guide/memory/index.md
  files/en-us/plugins/guide/plug-in_basics/index.md
  files/en-us/plugins/guide/plug-in_development_overview/index.md
  files/en-us/plugins/guide/plug-in_side_plug-in_api/index.md
  files/en-us/plugins/guide/scripting_plugins/index.md
  files/en-us/plugins/guide/streams/index.md
  files/en-us/plugins/guide/structures/index.md
  files/en-us/plugins/guide/urls/index.md
  files/en-us/plugins/guide/version_ui_and_status_information/index.md
  files/en-us/plugins/index.md
  files/en-us/plugins/roadmap/index.md
Owners: @mdn/yari-content-mdn

Removes leftover occurrences of `unknown` element
  files/en-us/web/svg/element/index.md
Owners: @mdn/yari-content-svg

Adds note under `Renderable elements`
  files/en-us/web/svg/element/index.md
Owners: @mdn/yari-content-svg

Experiment with h3 headings; no syntax box
  files/en-us/web/api/xrsystem/devicechange_event/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/web/javascript/reference/functions/index.md
Owners: @mdn/yari-content-javascript

fix typo of inline code block (#10612)
  files/en-us/web/api/console/index.md
Owners: @mdn/yari-content-web-api

Fix issue 10106: the type attribute of the style element is deprecated (#10611)
  files/en-us/web/html/element/style/index.md
Owners: @mdn/yari-content-html

Removes redundant type attributes (#10606)
  files/en-us/web/api/canvas_api/tutorial/basic_usage/index.md
Owners: @mdn/yari-content-web-api

Documenting the display_override manifest member
  files/en-us/web/manifest/display_override/index.md
Owners: @mdn/yari-content-mdn

Documentation for the env(titlebar-area-*) vars
  files/en-us/web/css/env()/desktop-pwa-window-wco.png
  files/en-us/web/css/env()/desktop-pwa-window.png
  files/en-us/web/css/env()/index.md
Owners: @mdn/yari-content-css

Added a link to the display manifest member
  files/en-us/web/manifest/display_override/index.md
Owners: @mdn/yari-content-mdn

Removed unavailable videos part 2
  files/en-us/mozilla/add-ons/webextensions/add_a_button_to_the_toolbar/index.md
  files/en-us/mozilla/add-ons/webextensions/add_a_button_to_the_toolbar/toolbar_button.png
  files/en-us/mozilla/add-ons/webextensions/add_a_button_to_the_toolbar/toolbar_button_with_popup.png
  files/en-us/mozilla/add-ons/webextensions/modify_a_web_page/eat_from_menu.png
  files/en-us/mozilla/add-ons/webextensions/modify_a_web_page/eaten_page.png
  files/en-us/mozilla/add-ons/webextensions/modify_a_web_page/index.md
  files/en-us/mozilla/add-ons/webextensions/your_second_webextension/beastify_icon.png
  files/en-us/mozilla/add-ons/webextensions/your_second_webextension/beastify_page.png
  files/en-us/mozilla/add-ons/webextensions/your_second_webextension/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Fix 3351: remove plugin stuff from Learn
  files/en-us/glossary/adobe_flash/index.md
  files/en-us/learn/html/multimedia_and_embedding/other_embedding_technologies/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-html

Add deprecation notice (#10619)
  files/en-us/web/javascript/reference/global_objects/string/substr/index.md
Owners: @mdn/yari-content-javascript

Iterate from the end to make it work safely (#10618)
  files/en-us/web/api/datatransferitemlist/remove/index.md
Owners: @mdn/yari-content-web-api

links to aria-* attributes
  files/en-us/web/css/layout_cookbook/breadcrumb_navigation/index.md
  files/en-us/web/css/layout_cookbook/pagination/index.md
  files/en-us/web/html/attributes/required/index.md
  files/en-us/web/html/element/button/index.md
  files/en-us/web/html/element/input/search/index.md
  files/en-us/web/html/element/input/tel/index.md
  files/en-us/web/html/element/pre/index.md
  files/en-us/web/html/global_attributes/hidden/index.md
Owners: @mdn/yari-content-css, @mdn/yari-content-html

links to aria-* attributes
  files/en-us/web/html/global_attributes/hidden/index.md
Owners: @mdn/yari-content-html

links to aria-* attributes
  files/en-us/web/api/element/ariahidden/index.md
  files/en-us/web/api/element/arialabel/index.md
  files/en-us/web/api/element/ariaorientation/index.md
  files/en-us/web/api/element/ariarelevant/index.md
  files/en-us/web/api/element/ariavaluemax/index.md
  files/en-us/web/api/element/ariavaluemin/index.md
  files/en-us/web/api/element/ariavaluenow/index.md
  files/en-us/web/api/element/ariavaluetext/index.md
  files/en-us/web/api/elementinternals/ariahidden/index.md
  files/en-us/web/api/elementinternals/arialabel/index.md
  files/en-us/web/api/elementinternals/ariaorientation/index.md
  files/en-us/web/api/elementinternals/ariarelevant/index.md
  files/en-us/web/api/elementinternals/ariavaluemax/index.md
  files/en-us/web/api/elementinternals/ariavaluemin/index.md
  files/en-us/web/api/elementinternals/ariavaluenow/index.md
  files/en-us/web/api/elementinternals/ariavaluetext/index.md
  files/en-us/web/css/_doublecolon_placeholder/index.md
  files/en-us/web/html/attributes/max/index.md
  files/en-us/web/html/attributes/min/index.md
  files/en-us/web/html/attributes/step/index.md
  files/en-us/web/html/element/heading_elements/index.md
  files/en-us/web/html/element/nav/index.md
  files/en-us/web/svg/element/desc/index.md
  files/en-us/web/svg/element/title/index.md
Owners: @mdn/yari-content-web-api, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-svg

Use a better example for courtse summary
  files/en-us/learn/html/multimedia_and_embedding/other_embedding_technologies/index.md
Owners: @mdn/yari-content-html

Update index.md
  files/en-us/learn/javascript/first_steps/what_is_javascript/index.md
Owners: @mdn/yari-content-javascript

Fix 3351: remove plugin stuff from Learn (#10624)
  files/en-us/glossary/adobe_flash/index.md
  files/en-us/learn/html/multimedia_and_embedding/other_embedding_technologies/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-html

Fix small typo in code example for the abort event
  files/en-us/web/api/abortsignal/abort_event/index.md
Owners: @mdn/yari-content-web-api

Layout-only changes
  files/en-us/learn/javascript/first_steps/what_is_javascript/index.md
Owners: @mdn/yari-content-javascript

Update index.md (#10627)
  files/en-us/learn/javascript/first_steps/what_is_javascript/index.md
Owners: @mdn/yari-content-javascript

Fix small typo in code example for the abort event (#10628)
  files/en-us/web/api/abortsignal/abort_event/index.md
Owners: @mdn/yari-content-web-api

Dynamic programming language glossary improvements
  files/en-us/glossary/dynamic_programming_language/index.md
Owners: @mdn/yari-content-mdn

SpeechSynthesisEvent is not experimental
  files/en-us/web/api/speechsynthesisevent/charindex/index.md
  files/en-us/web/api/speechsynthesisevent/elapsedtime/index.md
  files/en-us/web/api/speechsynthesisevent/index.md
  files/en-us/web/api/speechsynthesisevent/name/index.md
  files/en-us/web/api/speechsynthesisevent/utterance/index.md
Owners: @mdn/yari-content-web-api
