Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone

Apply suggestions from code review
  files/en-us/web/api/sourcebuffer/index.md
Owners: @mdn/yari-content-web-api

Events: SourceBuffer/SourceBufferList (#11176)
  files/en-us/web/api/sourcebuffer/index.md
  files/en-us/web/api/sourcebufferlist/index.md
Owners: @mdn/yari-content-web-api

fix: spelling of whiteness
  files/en-us/web/css/color_value/hwb()/index.md
Owners: @mdn/yari-content-css

fix: spelling of whiteness (#11182)
  files/en-us/web/css/color_value/hwb()/index.md
Owners: @mdn/yari-content-css

Add a link to `<form>` element (#11180)
  files/en-us/web/accessibility/aria/roles/index.md
Owners: @mdn/yari-content-accessibility

Clarify effect of inputmode attribute vs <input> type values (#11114)
  files/en-us/web/html/global_attributes/inputmode/index.md
Owners: @mdn/yari-content-html

suggested edits
  files/en-us/web/accessibility/aria/attributes/aria-sort/index.md
Owners: @mdn/yari-content-accessibility

Changes from feedback.
  files/en-us/web/api/textdecoder/fatal/index.md
  files/en-us/web/api/textdecoder/ignorebom/index.md
  files/en-us/web/api/textdecoder/index.md
Owners: @mdn/yari-content-web-api

updates per comments
  files/en-us/web/accessibility/aria/attributes/aria-roledescription/index.md
Owners: @mdn/yari-content-accessibility

Added safe/unsafe keyword references (#10924)
  files/en-us/web/css/place-content/index.md
Owners: @mdn/yari-content-css

because and decoded spelling
  files/en-us/web/api/textdecoder/fatal/index.md
Owners: @mdn/yari-content-web-api

Tags
  files/en-us/web/api/textdecoder/fatal/index.md
  files/en-us/web/api/textdecoder/ignorebom/index.md
Owners: @mdn/yari-content-web-api

Add new properties to TextDecoder interface. (#11063)
  files/en-us/web/api/textdecoder/fatal/index.md
  files/en-us/web/api/textdecoder/ignorebom/index.md
  files/en-us/web/api/textdecoder/index.md
Owners: @mdn/yari-content-web-api

FF96 ElementInternals.willValidate behind pref - into expr features
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/96/index.md
Owners: @mdn/yari-content-mdn

updates per review
  files/en-us/web/accessibility/aria/attributes/aria-setsize/index.md
Owners: @mdn/yari-content-accessibility

added link to glossary
  files/en-us/web/accessibility/aria/attributes/aria-relevant/index.md
Owners: @mdn/yari-content-accessibility

added browser support
  files/en-us/web/accessibility/aria/attributes/aria-owns/index.md
Owners: @mdn/yari-content-accessibility

Page macro - duplicate CSS display directive content
  files/en-us/web/css/display/index.md
Owners: @mdn/yari-content-css

Update files/en-us/web/css/display/index.md
  files/en-us/web/css/display/index.md
Owners: @mdn/yari-content-css

Update files/en-us/web/css/display/index.md
  files/en-us/web/css/display/index.md
Owners: @mdn/yari-content-css

Update files/en-us/web/css/display/index.md
  files/en-us/web/css/display/index.md
Owners: @mdn/yari-content-css

Update files/en-us/web/css/display/index.md
  files/en-us/web/css/display/index.md
Owners: @mdn/yari-content-css

Page macro - duplicate CSS display directive content (#11186)
  files/en-us/web/css/display/index.md
Owners: @mdn/yari-content-css

FF96 ElementInternals.willValidate behind pref (#11184)
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/96/index.md
Owners: @mdn/yari-content-mdn

Added safe/unsafe keyword references (#10924) (#11183)
  files/en-us/web/css/place-content/index.md
Owners: @mdn/yari-content-css

Update files/en-us/web/javascript/reference/global_objects/date/getutcmilliseconds/index.md
  files/en-us/web/javascript/reference/global_objects/date/getutcmilliseconds/index.md
Owners: @mdn/yari-content-javascript

Add `NaN` return types to Date.getUTC*() methods (#11179)
  files/en-us/web/javascript/reference/global_objects/date/getutcdate/index.md
  files/en-us/web/javascript/reference/global_objects/date/getutcday/index.md
  files/en-us/web/javascript/reference/global_objects/date/getutcfullyear/index.md
  files/en-us/web/javascript/reference/global_objects/date/getutchours/index.md
  files/en-us/web/javascript/reference/global_objects/date/getutcmilliseconds/index.md
  files/en-us/web/javascript/reference/global_objects/date/getutcminutes/index.md
  files/en-us/web/javascript/reference/global_objects/date/getutcseconds/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/web/manifest/display_override/index.md
  files/en-us/web/manifest/display_override/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/web/manifest/display_override/index.md
  files/en-us/web/manifest/display_override/index.md
Owners: @mdn/yari-content-mdn

Document the display_override manifest member (#10620)
  files/en-us/web/manifest/display_override/index.md
Owners: @mdn/yari-content-mdn

Update EventTarget.removeEventListener (#11177)
  files/en-us/web/api/eventtarget/removeeventlistener/index.md
Owners: @mdn/yari-content-web-api

fix wrong statement
  files/en-us/web/css/inherit/index.md
Owners: @mdn/yari-content-css

fix typo in css_values_and_units
  files/en-us/web/css/css_values_and_units/index.md
Owners: @mdn/yari-content-css

HTTP UA Client Hint headers
  files/en-us/web/http/headers/index.md
  files/en-us/web/http/headers/sec-ch-ua-arch/index.md
  files/en-us/web/http/headers/sec-ch-ua-bitness/index.md
  files/en-us/web/http/headers/sec-ch-ua-full-version-list/index.md
  files/en-us/web/http/headers/sec-ch-ua-full-version/index.md
  files/en-us/web/http/headers/sec-ch-ua-mobile/index.md
  files/en-us/web/http/headers/sec-ch-ua-model/index.md
  files/en-us/web/http/headers/sec-ch-ua-platform-version/index.md
  files/en-us/web/http/headers/sec-ch-ua-platform/index.md
  files/en-us/web/http/headers/sec-ch-ua/index.md
Owners: @mdn/yari-content-http

Clarify the Element»insertAdjacentText() description
  files/en-us/web/api/element/insertadjacenttext/index.md
Owners: @mdn/yari-content-web-api

fix typo in css_values_and_units (#11190)
  files/en-us/web/css/css_values_and_units/index.md
Owners: @mdn/yari-content-css

Addressed feedback
  files/en-us/mozilla/add-ons/webextensions/build_a_cross_browser_extension/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Update index.md
  files/en-us/web/svg/attribute/keysplines/index.md
Owners: @mdn/yari-content-svg

Fixed minor nits
  files/en-us/mozilla/add-ons/webextensions/build_a_cross_browser_extension/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Clarifications about Safari in the building cross-browser extensions (#11102)
  files/en-us/mozilla/add-ons/webextensions/build_a_cross_browser_extension/index.md
Owners: @mdn/yari-content-mozilla-add-ons
