Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone

Update files/en-us/web/http/headers/save-data/index.md
  files/en-us/web/http/headers/save-data/index.md
Owners: @mdn/yari-content-http

Save-Data HTTP header is low entropy (#11526)
  files/en-us/web/http/headers/save-data/index.md
Owners: @mdn/yari-content-http

Update files/en-us/web/api/performance/measure/index.md
  files/en-us/web/api/performance/measure/index.md
Owners: @mdn/yari-content-web-api

Apply suggestions from code review
  files/en-us/web/api/performance/measure/index.md
Owners: @mdn/yari-content-web-api

Performance.measure() - update with measureoptions (#11525)
  files/en-us/web/api/performance/measure/index.md
  files/en-us/web/api/performancemeasure/index.md
Owners: @mdn/yari-content-web-api

Clarification of class of objects returned (#11522)
  files/en-us/web/api/htmlmediaelement/index.md
Owners: @mdn/yari-content-web-api

MessageEvent constructor type values (#11521)
  files/en-us/web/api/messageevent/messageevent/index.md
Owners: @mdn/yari-content-web-api

Apply suggestions from code review
  files/en-us/web/http/cors/errors/corsrequestnothttp/index.md
  files/en-us/web/security/same-origin_policy/index.md
Owners: @mdn/yari-content-http, @mdn/yari-content-mdn

Clarify CORS and File urls (#11352)
  files/en-us/learn/common_questions/set_up_a_local_testing_server/index.md
  files/en-us/web/http/cors/errors/corsrequestnothttp/index.md
  files/en-us/web/security/same-origin_policy/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-http

Fixes incorrect number of precedence levels (#11520)
  files/en-us/web/javascript/reference/operators/operator_precedence/index.md
Owners: @mdn/yari-content-javascript

Add HTML DOM API to web apis (#11501)
  files/jsondata/GroupData.json
Owners: @mdn/core-yari-dev

Rewrite statements about the flex property (#11477)
  files/en-us/web/css/css_flexible_box_layout/typical_use_cases_of_flexbox/index.md
Owners: @mdn/yari-content-css

Fix example in JS “Expressions and operators” doc (#11380)
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
Owners: @mdn/yari-content-javascript

Fix comment for `export * as ns from "mod"` syntax (#11293)
  files/en-us/web/javascript/reference/statements/export/index.md
Owners: @mdn/yari-content-javascript

Remove semicolon(;) before the ")"
  files/en-us/web/api/service_worker_api/using_service_workers/index.md
Owners: @mdn/yari-content-web-api

Fix misstatement in StorageArea.get() doc
  files/en-us/mozilla/add-ons/webextensions/api/storage/storagearea/get/index.md
Owners: @mdn/yari-content-mozilla-add-ons

editing
  files/en-us/web/accessibility/aria/attributes/aria-required/index.md
Owners: @mdn/yari-content-accessibility

Clarify: Spec doesn’t limit meta@name=viewport to mobile only
  files/en-us/web/html/element/meta/name/index.md
Owners: @mdn/yari-content-html

redirects: html to md
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-describedby_attribute/index.html
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-hidden_attribute/index.html
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-invalid_attribute/index.html
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-label_attribute/index.html
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-labelledby_attribute/index.html
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-orientation_attribute/index.html
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-relevant_attribute/index.html
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-required_attribute/index.html
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-valuemax_attribute/index.html
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-valuemin_attribute/index.html
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-valuenow_attribute/index.html
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-valuetext_attribute/index.html
Owners: @mdn/yari-content-mdn, @mdn/yari-content-accessibility

Clarify some wording in Cache-Control doc
  files/en-us/web/http/headers/cache-control/index.md
Owners: @mdn/yari-content-http

Clarify: Spec doesn’t limit meta@name=viewport to mobile only (#11544)
  files/en-us/web/html/element/meta/name/index.md
Owners: @mdn/yari-content-html

missing camelCase (#11534)
  files/en-us/web/javascript/guide/working_with_objects/index.md
Owners: @mdn/yari-content-javascript

Update index.md (#11392)
  files/en-us/web/api/cssstyledeclaration/setproperty/index.md
Owners: @mdn/yari-content-web-api

Update index.md (#11194)
  files/en-us/web/svg/attribute/keysplines/index.md
Owners: @mdn/yari-content-svg

Safari issue edit
  files/en-us/web/svg/attribute/keysplines/index.md
Owners: @mdn/yari-content-svg

safari issue
  files/en-us/web/svg/attribute/keytimes/index.md
Owners: @mdn/yari-content-svg

space
  files/en-us/web/svg/attribute/keytimes/index.md
Owners: @mdn/yari-content-svg

Change "validate" to "check"
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_typescript/index.md
Owners: @mdn/yari-content-mdn

Fix link to Chrome Experiments site
  files/en-us/learn/javascript/first_steps/what_is_javascript/index.md
Owners: @mdn/yari-content-javascript

Fix link to Chrome Experiments site (#11551)
  files/en-us/learn/javascript/first_steps/what_is_javascript/index.md
Owners: @mdn/yari-content-javascript

Clarify some wording in Cache-Control doc (#11545)
  files/en-us/web/http/headers/cache-control/index.md
Owners: @mdn/yari-content-http

Review: aria-describedby
  files/en-us/web/accessibility/aria/attributes/aria-describedby/index.md
Owners: @mdn/yari-content-accessibility

Clarify: IDB getAllKeys() retrieves async, not “instantly”
  files/en-us/web/api/idbindex/getallkeys/index.md
Owners: @mdn/yari-content-web-api

Fix wrong information about sidebar
  files/en-us/mozilla/add-ons/webextensions/user_interface/sidebars/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Document x > NEGATIVE_INFINITY true for all non-NEGATIVE_INFINITY values
  files/en-us/web/javascript/reference/global_objects/number/negative_infinity/index.md
Owners: @mdn/yari-content-javascript

Review: aria-invalid. Added example
  files/en-us/web/accessibility/aria/attributes/aria-invalid/index.md
Owners: @mdn/yari-content-accessibility

safari issue (#11548)
  files/en-us/web/svg/attribute/keytimes/index.md
Owners: @mdn/yari-content-svg

Safari issue edit (#11547)
  files/en-us/web/svg/attribute/keysplines/index.md
Owners: @mdn/yari-content-svg

line 277: Change validate to check
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_typescript/index.md
Owners: @mdn/yari-content-mdn

Fix misstatement in StorageArea.get() doc (#11542)
  files/en-us/mozilla/add-ons/webextensions/api/storage/storagearea/get/index.md
Owners: @mdn/yari-content-mozilla-add-ons
