Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

Use one type of quotes in code example (#10288)
  files/en-us/web/api/globaleventhandlers/onerror/index.md
Owners: @mdn/yari-content-web-api

Remove spammy link
  files/en-us/glossary/gzip_compression/index.md
Owners: @mdn/yari-content-mdn

Fix link name
  files/en-us/glossary/gzip_compression/index.md
Owners: @mdn/yari-content-mdn

Remove spammy link (#10292)
  files/en-us/glossary/gzip_compression/index.md
Owners: @mdn/yari-content-mdn

Added overrideContentColorScheme to browserSettings (#10211)
  files/en-us/mozilla/add-ons/webextensions/api/browsersettings/index.md
  files/en-us/mozilla/add-ons/webextensions/api/browsersettings/overridecontentcolorscheme/index.md
  files/en-us/mozilla/firefox/releases/95/index.md
Owners: @mdn/yari-content-mozilla-add-ons, @mdn/yari-content-mdn

tweaks
  files/en-us/web/accessibility/aria/roles/button_role/index.md
  files/en-us/web/accessibility/aria/roles/columnheader_role/index.md
  files/en-us/web/accessibility/aria/roles/dialog_role/index.md
  files/en-us/web/accessibility/aria/roles/feed_role/index.md
Owners: @mdn/yari-content-accessibility

tweaks
  files/en-us/web/accessibility/aria/roles/textbox_role/index.md
Owners: @mdn/yari-content-accessibility

tweaks
  files/en-us/web/accessibility/aria/roles/alertdialog_role/index.md
  files/en-us/web/accessibility/aria/roles/article_role/index.md
Owners: @mdn/yari-content-accessibility

tweaks
  files/en-us/web/accessibility/aria/roles/status_role/index.md
  files/en-us/web/accessibility/aria/roles/term_role/index.md
  files/en-us/web/accessibility/aria/roles/toolbar_role/index.md
Owners: @mdn/yari-content-accessibility

added spaces back in
  files/en-us/web/accessibility/aria/roles/alertdialog_role/index.md
  files/en-us/web/accessibility/aria/roles/button_role/index.md
  files/en-us/web/accessibility/aria/roles/feed_role/index.md
  files/en-us/web/accessibility/aria/roles/landmark_role/index.md
  files/en-us/web/accessibility/aria/roles/main_role/index.html
  files/en-us/web/accessibility/aria/roles/math_role/index.md
  files/en-us/web/accessibility/aria/roles/presentation_role/index.md
  files/en-us/web/accessibility/aria/roles/separator_role/index.md
  files/en-us/web/accessibility/aria/roles/textbox_role/index.md
  files/en-us/web/accessibility/aria/roles/toolbar_role/index.md
Owners: @mdn/yari-content-accessibility

remove html files again
  files/en-us/web/accessibility/aria/roles/button_role/index.html
  files/en-us/web/accessibility/aria/roles/main_role/index.html
  files/en-us/web/accessibility/aria/roles/role_img/index.html
Owners: @mdn/yari-content-accessibility

remove redundant links
  files/en-us/web/accessibility/aria/roles/alertdialog_role/index.md
  files/en-us/web/accessibility/aria/roles/article_role/index.md
  files/en-us/web/accessibility/aria/roles/gridcell_role/index.md
  files/en-us/web/accessibility/aria/roles/listbox_role/index.md
  files/en-us/web/accessibility/aria/roles/main_role/index.md
  files/en-us/web/accessibility/aria/roles/presentation_role/index.md
  files/en-us/web/accessibility/aria/roles/table_role/index.md
  files/en-us/web/accessibility/aria/roles/tooltip_role/index.md
Owners: @mdn/yari-content-accessibility

missed some
  files/en-us/web/accessibility/aria/roles/alertdialog_role/index.md
Owners: @mdn/yari-content-accessibility

tweaks
  files/en-us/web/accessibility/aria/roles/article_role/index.md
  files/en-us/web/accessibility/aria/roles/form_role/index.md
Owners: @mdn/yari-content-accessibility

role is now lowercase in links
  files/en-us/web/accessibility/aria/roles/alert_role/index.md
  files/en-us/web/accessibility/aria/roles/alertdialog_role/index.md
  files/en-us/web/accessibility/aria/roles/application_role/index.md
  files/en-us/web/accessibility/aria/roles/article_role/index.md
  files/en-us/web/accessibility/aria/roles/cell_role/index.md
  files/en-us/web/accessibility/aria/roles/checkbox_role/index.md
  files/en-us/web/accessibility/aria/roles/columnheader_role/index.md
  files/en-us/web/accessibility/aria/roles/combobox_role/index.md
  files/en-us/web/accessibility/aria/roles/directory_role/index.md
  files/en-us/web/accessibility/aria/roles/document_role/index.md
  files/en-us/web/accessibility/aria/roles/feed_role/index.md
  files/en-us/web/accessibility/aria/roles/form_role/index.md
  files/en-us/web/accessibility/aria/roles/grid_role/index.md
  files/en-us/web/accessibility/aria/roles/gridcell_role/index.md
  files/en-us/web/accessibility/aria/roles/group_role/index.md
  files/en-us/web/accessibility/aria/roles/img_role/index.md
  files/en-us/web/accessibility/aria/roles/index.md
  files/en-us/web/accessibility/aria/roles/list_role/index.md
  files/en-us/web/accessibility/aria/roles/listbox_role/index.md
  files/en-us/web/accessibility/aria/roles/listitem_role/index.md
  files/en-us/web/accessibility/aria/roles/none_role/index.md
  files/en-us/web/accessibility/aria/roles/radio_role/index.md
  files/en-us/web/accessibility/aria/roles/region_role/index.md
  files/en-us/web/accessibility/aria/roles/row_role/index.md
  files/en-us/web/accessibility/aria/roles/rowgroup_role/index.md
  files/en-us/web/accessibility/aria/roles/rowheader_role/index.md
  files/en-us/web/accessibility/aria/roles/search_role/index.md
  files/en-us/web/accessibility/aria/roles/searchbox_role/index.md
  files/en-us/web/accessibility/aria/roles/section_role/index.md
  files/en-us/web/accessibility/aria/roles/tab_role/index.md
  files/en-us/web/accessibility/aria/roles/table_role/index.md
  files/en-us/web/accessibility/aria/roles/term_role/index.md
  files/en-us/web/accessibility/aria/roles/textbox_role/index.md
  files/en-us/web/accessibility/aria/roles/tooltip_role/index.md
Owners: @mdn/yari-content-accessibility

lowercase _role)
  files/en-us/web/accessibility/aria/roles/alert_role/index.md
  files/en-us/web/accessibility/aria/roles/alertdialog_role/index.md
  files/en-us/web/accessibility/aria/roles/application_role/index.md
  files/en-us/web/accessibility/aria/roles/article_role/index.md
  files/en-us/web/accessibility/aria/roles/cell_role/index.md
  files/en-us/web/accessibility/aria/roles/checkbox_role/index.md
  files/en-us/web/accessibility/aria/roles/columnheader_role/index.md
  files/en-us/web/accessibility/aria/roles/combobox_role/index.md
  files/en-us/web/accessibility/aria/roles/document_role/index.md
  files/en-us/web/accessibility/aria/roles/feed_role/index.md
  files/en-us/web/accessibility/aria/roles/grid_role/index.md
  files/en-us/web/accessibility/aria/roles/gridcell_role/index.md
  files/en-us/web/accessibility/aria/roles/index.md
  files/en-us/web/accessibility/aria/roles/radio_role/index.md
  files/en-us/web/accessibility/aria/roles/region_role/index.md
  files/en-us/web/accessibility/aria/roles/row_role/index.md
  files/en-us/web/accessibility/aria/roles/rowgroup_role/index.md
  files/en-us/web/accessibility/aria/roles/rowheader_role/index.md
  files/en-us/web/accessibility/aria/roles/search_role/index.md
  files/en-us/web/accessibility/aria/roles/tab_role/index.md
  files/en-us/web/accessibility/aria/roles/table_role/index.md
Owners: @mdn/yari-content-accessibility

Fixes #1938: ARIA - Option Role (#9019)
  files/en-us/web/accessibility/aria/roles/option_role/index.html
Owners: @mdn/yari-content-accessibility

moved html to md
  files/en-us/web/accessibility/aria/roles/option_role/index.md
Owners: @mdn/yari-content-accessibility

convert to markdown
  files/en-us/web/accessibility/aria/roles/option_role/index.html
  files/en-us/web/accessibility/aria/roles/option_role/index.md
Owners: @mdn/yari-content-accessibility

change examples for Remainder operator to use 13 instead of 12 (#10290)
  files/en-us/web/javascript/reference/operators/remainder/index.md
Owners: @mdn/yari-content-javascript

CSP - grammar fix and layout improvements
  files/en-us/web/http/csp/index.md
Owners: @mdn/yari-content-http

Remove legacy compatibility info from text
  files/en-us/web/api/mouseevent/clientx/index.md
  files/en-us/web/api/mouseevent/clienty/index.md
  files/en-us/web/api/mouseevent/pagey/index.md
Owners: @mdn/yari-content-web-api

Move ElementInternals form, labels, setForm mvalue to experimental features
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/95/index.md
Owners: @mdn/yari-content-mdn

Modify to admit info is out of date
  files/en-us/web/javascript/a_re-introduction_to_javascript/index.md
Owners: @mdn/yari-content-javascript

Add not about spec change.
  files/en-us/web/api/speechsynthesisevent/elapsedtime/index.md
Owners: @mdn/yari-content-web-api

Fix punctuation
  files/en-us/web/api/speechsynthesisevent/elapsedtime/index.md
Owners: @mdn/yari-content-web-api

Update index.md (#10179)
  files/en-us/web/api/speechsynthesisevent/elapsedtime/index.md
Owners: @mdn/yari-content-web-api

Add note about the existence of classes (#10190)
  files/en-us/web/javascript/a_re-introduction_to_javascript/index.md
Owners: @mdn/yari-content-javascript

FF95 Relnote: SpeechSynthesisEvent.elapsedTime in seconds
  files/en-us/mozilla/firefox/releases/95/index.md
Owners: @mdn/yari-content-mdn

FF80 Relnote - remove KHR_parallel_shader_compile note
  files/en-us/mozilla/firefox/releases/80/index.md
Owners: @mdn/yari-content-mdn

Convert codepen into live sample
  files/en-us/web/css/css_transitions/using_css_transitions/index.md
Owners: @mdn/yari-content-css

Fix for 10293: createObjectStore
  files/en-us/web/api/idbdatabase/createobjectstore/index.md
Owners: @mdn/yari-content-web-api

Add glossary entry for UUID
  files/en-us/glossary/uuid/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/messagesender/index.md
  files/en-us/mozilla/add-ons/webextensions/chrome_incompatibilities/index.md
  files/en-us/mozilla/firefox/releases/69/index.md
  files/en-us/web/api/bluetoothremotegattdescriptor/uuid/index.md
  files/en-us/web/api/crypto/randomuuid/index.md
  files/en-us/web/api/mediastream/index.md
  files/en-us/web/webdriver/errors/staleelementreference/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-mozilla-add-ons, @mdn/yari-content-web-api

fixing formatting
  files/en-us/web/api/html_drag_and_drop_api/drag_operations/index.md
Owners: @mdn/yari-content-web-api

Fix broken link
  files/en-us/web/javascript/memory_management/index.md
Owners: @mdn/yari-content-javascript

Update link to the HTML spec
  files/en-us/web/html/element/time/index.md
Owners: @mdn/yari-content-html

Update link to the HTML spec (#10310)
  files/en-us/web/html/element/time/index.md
Owners: @mdn/yari-content-html

Update files/en-us/web/http/headers/cache-control/index.md
  files/en-us/web/http/headers/cache-control/index.md
Owners: @mdn/yari-content-http

Update files/en-us/web/http/headers/cache-control/index.md
  files/en-us/web/http/headers/cache-control/index.md
Owners: @mdn/yari-content-http

Update files/en-us/web/http/headers/cache-control/index.md
  files/en-us/web/http/headers/cache-control/index.md
Owners: @mdn/yari-content-http

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone
