Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone

API method template: return undefined not void
  files/en-us/mdn/structures/page_types/api_method_subpage_template/index.md
Owners: @mdn/yari-content-mdn

New Page: aria-live
  files/en-us/web/accessibility/aria/attributes/aria-live/index.md
Owners: @mdn/yari-content-accessibility

Apply suggestions from code review
  files/en-us/web/javascript/reference/global_objects/array/reduce/index.md
Owners: @mdn/yari-content-javascript

Add logging function
  files/en-us/web/javascript/reference/global_objects/array/reduce/index.md
Owners: @mdn/yari-content-javascript

Move comments so interactive example is above fold
  files/en-us/web/javascript/reference/global_objects/array/reduce/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/mozilla/add-ons/webextensions/your_second_webextension/index.md
  files/en-us/mozilla/add-ons/webextensions/your_second_webextension/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Addressed feedback
  files/en-us/mozilla/add-ons/webextensions/add_a_button_to_the_toolbar/index.md
  files/en-us/mozilla/add-ons/webextensions/modify_a_web_page/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Adds note about `const` and `let`
  files/en-us/glossary/global_object/index.md
Owners: @mdn/yari-content-mdn

Update index.md
  files/en-us/glossary/global_object/index.md
Owners: @mdn/yari-content-mdn

Removing unavailable videos part 2 (#10623)
  files/en-us/mozilla/add-ons/webextensions/add_a_button_to_the_toolbar/index.md
  files/en-us/mozilla/add-ons/webextensions/add_a_button_to_the_toolbar/toolbar_button.png
  files/en-us/mozilla/add-ons/webextensions/add_a_button_to_the_toolbar/toolbar_button_with_popup.png
  files/en-us/mozilla/add-ons/webextensions/modify_a_web_page/eat_from_menu.png
  files/en-us/mozilla/add-ons/webextensions/modify_a_web_page/eaten_page.png
  files/en-us/mozilla/add-ons/webextensions/modify_a_web_page/index.md
  files/en-us/mozilla/add-ons/webextensions/your_second_webextension/beastify_icon.png
  files/en-us/mozilla/add-ons/webextensions/your_second_webextension/beastify_page.png
  files/en-us/mozilla/add-ons/webextensions/your_second_webextension/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Proper bug macro
  files/en-us/mozilla/add-ons/webextensions/implement_a_settings_page/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Change iframe example code
  files/en-us/learn/html/multimedia_and_embedding/other_embedding_technologies/index.md
Owners: @mdn/yari-content-html

Apply suggestions from code review
  files/en-us/mozilla/add-ons/webextensions/intercept_http_requests/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Remove extra note about using the browser console
  files/en-us/mozilla/add-ons/webextensions/intercept_http_requests/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Fix up image
  files/en-us/mozilla/add-ons/webextensions/intercept_http_requests/browser_console_show_content_messages.png
Owners: @mdn/yari-content-mozilla-add-ons

PWA: Add to home screen. Fix developer.google.com link
  files/en-us/web/progressive_web_apps/add_to_home_screen/index.md
Owners: @mdn/yari-content-mdn

PWA: Installing: Fix link to developers.google
  files/en-us/web/progressive_web_apps/installing/index.md
Owners: @mdn/yari-content-mdn

Fix typo
  files/en-us/web/progressive_web_apps/installing/index.md
Owners: @mdn/yari-content-mdn

Minor layout change
  files/en-us/web/api/clients/claim/index.md
Owners: @mdn/yari-content-web-api

Resize Observer API: Fix moved link to developers.google.com
  files/en-us/web/api/resize_observer_api/index.md
Owners: @mdn/yari-content-web-api

Browser storage limits fix
  files/en-us/web/api/indexeddb_api/browser_storage_limits_and_eviction_criteria/index.md
Owners: @mdn/yari-content-web-api

Long tasks API - fix link to developers.google
  files/en-us/web/api/long_tasks_api/index.md
Owners: @mdn/yari-content-web-api

Element.setAttribute: Fix up link from developers.google.com
  files/en-us/web/api/element/setattribute/index.md
Owners: @mdn/yari-content-web-api

Seizure_disorders - fix link to developers.google
  files/en-us/web/accessibility/seizure_disorders/index.md
  files/en-us/web/api/document/createelementns/index.md
Owners: @mdn/yari-content-accessibility, @mdn/yari-content-web-api

XRSystem: Single page for devicechange event (#10474)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/xrsystem/devicechange_event/index.md
  files/en-us/web/api/xrsystem/index.md
  files/en-us/web/api/xrsystem/ondevicechange/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

Fix precedence table for `yield` and `??` (#10479)
  files/en-us/web/javascript/reference/operators/operator_precedence/index.md
Owners: @mdn/yari-content-javascript

Updates to JS Learning Area Arrays page (#10484)
  files/en-us/learn/javascript/first_steps/arrays/index.md
Owners: @mdn/yari-content-javascript

add new types `calendar` and `dateTimeField` (#10454)
  files/en-us/web/javascript/reference/global_objects/intl/displaynames/displaynames/index.md
Owners: @mdn/yari-content-javascript

Update index.md
  files/en-us/web/http/caching/index.md
Owners: @mdn/yari-content-http

Changed description of ReferenceError
  files/en-us/web/javascript/reference/global_objects/referenceerror/index.md
Owners: @mdn/yari-content-javascript

Update Web/CSS/min-width
  files/en-us/web/css/min-width/index.md
Owners: @mdn/yari-content-css

Fix links and styles in Web/CSS/CSS_Types
  files/en-us/web/css/css_types/index.md
Owners: @mdn/yari-content-css

Fix links and styles in Web/CSS/CSS_Types (#10643)
  files/en-us/web/css/css_types/index.md
Owners: @mdn/yari-content-css

Update Web/CSS/min-width (#10641)
  files/en-us/web/css/min-width/index.md
Owners: @mdn/yari-content-css

Update index.md
  files/en-us/learn/server-side/express_nodejs/displaying_data/date_formatting_using_moment/index.md
Owners: @mdn/yari-content-http

links to aria-* attributes (#10626)
  files/en-us/web/api/element/ariahidden/index.md
  files/en-us/web/api/element/arialabel/index.md
  files/en-us/web/api/element/ariaorientation/index.md
  files/en-us/web/api/element/ariarelevant/index.md
  files/en-us/web/api/element/ariavaluemax/index.md
  files/en-us/web/api/element/ariavaluemin/index.md
  files/en-us/web/api/element/ariavaluenow/index.md
  files/en-us/web/api/element/ariavaluetext/index.md
  files/en-us/web/api/elementinternals/ariahidden/index.md
  files/en-us/web/api/elementinternals/arialabel/index.md
  files/en-us/web/api/elementinternals/ariaorientation/index.md
  files/en-us/web/api/elementinternals/ariarelevant/index.md
  files/en-us/web/api/elementinternals/ariavaluemax/index.md
  files/en-us/web/api/elementinternals/ariavaluemin/index.md
  files/en-us/web/api/elementinternals/ariavaluenow/index.md
  files/en-us/web/api/elementinternals/ariavaluetext/index.md
  files/en-us/web/css/_doublecolon_placeholder/index.md
  files/en-us/web/css/layout_cookbook/breadcrumb_navigation/index.md
  files/en-us/web/css/layout_cookbook/pagination/index.md
  files/en-us/web/html/attributes/max/index.md
  files/en-us/web/html/attributes/min/index.md
  files/en-us/web/html/attributes/required/index.md
  files/en-us/web/html/attributes/step/index.md
  files/en-us/web/html/element/button/index.md
  files/en-us/web/html/element/heading_elements/index.md
  files/en-us/web/html/element/input/search/index.md
  files/en-us/web/html/element/input/tel/index.md
  files/en-us/web/html/element/nav/index.md
  files/en-us/web/html/element/pre/index.md
  files/en-us/web/html/global_attributes/hidden/index.md
  files/en-us/web/svg/element/desc/index.md
  files/en-us/web/svg/element/title/index.md
Owners: @mdn/yari-content-web-api, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-svg

Update files/en-us/mozilla/add-ons/webextensions/implement_a_settings_page/index.md
  files/en-us/mozilla/add-ons/webextensions/implement_a_settings_page/index.md
Owners: @mdn/yari-content-mozilla-add-ons

JS Learning Area updates: looping code
  files/en-us/learn/javascript/building_blocks/looping_code/index.md
Owners: @mdn/yari-content-javascript

add progress to accent elements list
  files/en-us/glossary/accent/index.md
Owners: @mdn/yari-content-mdn

JS assignment tutorial: Expand evaluation/chaining
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
Owners: @mdn/yari-content-javascript
