Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone

Update files/en-us/web/http/index.md
  files/en-us/web/http/index.md
Owners: @mdn/yari-content-http

Update files/en-us/web/http/client_hints/index.md
  files/en-us/web/http/client_hints/index.md
Owners: @mdn/yari-content-http

Apply suggestions from code review
  files/en-us/web/http/client_hints/index.md
  files/en-us/web/http/index.md
Owners: @mdn/yari-content-http

HTTP Client hints - move big glossary into guide (#11506)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/device_memory_api/index.md
  files/en-us/web/api/user-agent_client_hints_api/index.md
  files/en-us/web/http/client_hints/index.md
  files/en-us/web/http/headers/accept-ch-lifetime/index.md
  files/en-us/web/http/headers/accept-ch/index.md
  files/en-us/web/http/headers/content-dpr/index.md
  files/en-us/web/http/headers/dpr/index.md
  files/en-us/web/http/headers/index.md
  files/en-us/web/http/headers/sec-ch-ua-arch/index.md
  files/en-us/web/http/headers/sec-ch-ua-bitness/index.md
  files/en-us/web/http/headers/sec-ch-ua-full-version-list/index.md
  files/en-us/web/http/headers/sec-ch-ua-full-version/index.md
  files/en-us/web/http/headers/sec-ch-ua-mobile/index.md
  files/en-us/web/http/headers/sec-ch-ua-model/index.md
  files/en-us/web/http/headers/sec-ch-ua-platform-version/index.md
  files/en-us/web/http/headers/sec-ch-ua-platform/index.md
  files/en-us/web/http/headers/sec-ch-ua/index.md
  files/en-us/web/http/headers/viewport-width/index.md
  files/en-us/web/http/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api, @mdn/yari-content-http

New page: aria-required
  files/en-us/web/accessibility/aria/attributes/aria-required/index.md
Owners: @mdn/yari-content-accessibility

examples
  files/en-us/web/accessibility/aria/attributes/aria-required/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/api/htmlelement/input_event/index.md
  files/en-us/web/api/htmlelement/input_event/index.md
Owners: @mdn/yari-content-web-api

Clear-Site-Data cache - behind pref in 94 (#11505)
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/94/index.md
Owners: @mdn/yari-content-mdn

Update files/en-us/web/api/htmlareaelement/hostname/index.md
  files/en-us/web/api/htmlareaelement/hostname/index.md
Owners: @mdn/yari-content-web-api

HTMLAreaElement.hostname - add live example (#11503)
  files/en-us/web/api/htmlareaelement/hostname/index.md
Owners: @mdn/yari-content-web-api

Fixes incorrect number of precedence levels
  files/en-us/web/javascript/reference/operators/operator_precedence/index.md
Owners: @mdn/yari-content-javascript

MessageEvent constructor type values
  files/en-us/web/api/messageevent/messageevent/index.md
Owners: @mdn/yari-content-web-api

Update index.md (#11307)
  files/en-us/web/api/performance/measure/index.md
Owners: @mdn/yari-content-web-api

Clarification of class of objects returned
  files/en-us/web/api/htmlmediaelement/index.md
Owners: @mdn/yari-content-web-api

editing
  files/en-us/web/accessibility/aria/attributes/aria-required/index.md
Owners: @mdn/yari-content-accessibility

Remove references to <mesh> SVG element
  files/en-us/web/svg/element/index.md
Owners: @mdn/yari-content-svg

Fix Boolean object to boolean primitive
  files/en-us/web/api/htmlvideoelement/index.md
Owners: @mdn/yari-content-web-api

Performance.measure() - update with measureoptions
  files/en-us/web/api/performance/measure/index.md
  files/en-us/web/api/performancemeasure/index.md
Owners: @mdn/yari-content-web-api

Fix Boolean object to boolean primitive (#11524)
  files/en-us/web/api/htmlvideoelement/index.md
Owners: @mdn/yari-content-web-api

Save-Data HTTP header is low entropy
  files/en-us/web/http/headers/save-data/index.md
Owners: @mdn/yari-content-http

HTTP client hint headers - fix up additional glossary links
  files/en-us/mdn/structures/page_types/http_header_page_template/index.md
  files/en-us/web/http/headers/content-dpr/index.md
  files/en-us/web/http/headers/device-memory/index.md
  files/en-us/web/http/headers/downlink/index.md
  files/en-us/web/http/headers/dpr/index.md
  files/en-us/web/http/headers/ect/index.md
  files/en-us/web/http/headers/rtt/index.md
  files/en-us/web/http/headers/sec-ch-ua-arch/index.md
  files/en-us/web/http/headers/sec-ch-ua-bitness/index.md
  files/en-us/web/http/headers/sec-ch-ua-full-version-list/index.md
  files/en-us/web/http/headers/sec-ch-ua-full-version/index.md
  files/en-us/web/http/headers/sec-ch-ua-mobile/index.md
  files/en-us/web/http/headers/sec-ch-ua-model/index.md
  files/en-us/web/http/headers/sec-ch-ua-platform-version/index.md
  files/en-us/web/http/headers/sec-ch-ua-platform/index.md
  files/en-us/web/http/headers/sec-ch-ua/index.md
  files/en-us/web/http/headers/viewport-width/index.md
  files/en-us/web/http/headers/width/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-http

Remove references to SVGMeshElement interface
  files/en-us/web/api/document_object_model/index.md
  files/jsondata/SVGData.json
Owners: @mdn/yari-content-web-api, @mdn/core-yari-dev

Remove other mesh elements data
  files/en-us/web/api/document_object_model/index.md
  files/en-us/web/svg/element/index.md
  files/jsondata/SVGData.json
Owners: @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/core-yari-dev

Fix heading levels
  files/en-us/web/xpath/introduction_to_using_xpath_in_javascript/index.md
Owners: @mdn/yari-content-mdn

Typo
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_getting_started/index.md
Owners: @mdn/yari-content-mdn

missing second argument
  files/en-us/web/javascript/guide/working_with_objects/index.md
Owners: @mdn/yari-content-javascript

missing camelCase
  files/en-us/web/javascript/guide/working_with_objects/index.md
Owners: @mdn/yari-content-javascript

fix: correct kbd element syntax on radio role page
  files/en-us/web/accessibility/aria/roles/radio_role/index.md
Owners: @mdn/yari-content-accessibility

Update Storage Access API documentation to reflect the improvements over the last three months (Bug 1678566)
  files/en-us/web/api/document/requeststorageaccess/index.md
  files/en-us/web/privacy/storage_access_policy/index.md
Owners: @mdn/yari-content-web-api, @mdn/yari-content-mdn

correct usage syntax
  files/en-us/web/api/globaleventhandlers/ondragend/index.md
Owners: @mdn/yari-content-web-api

Update files/en-us/web/api/document/requeststorageaccess/index.md
  files/en-us/web/api/document/requeststorageaccess/index.md
Owners: @mdn/yari-content-web-api

Dead Link: serviceworke.rs
  files/en-us/web/progressive_web_apps/index.md
Owners: @mdn/yari-content-mdn

Update Storage Access API docs (Bug 1678566) (#11538)
  files/en-us/web/api/document/requeststorageaccess/index.md
  files/en-us/web/privacy/storage_access_policy/index.md
Owners: @mdn/yari-content-web-api, @mdn/yari-content-mdn

Clarify that some input types use Event; others InputEvent (#11489)
  files/en-us/web/api/htmlelement/input_event/index.md
Owners: @mdn/yari-content-web-api

Dead Link: serviceworke.rs (#11540)
  files/en-us/web/progressive_web_apps/index.md
Owners: @mdn/yari-content-mdn

Fix typo (#11531)
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_getting_started/index.md
Owners: @mdn/yari-content-mdn

fix: correct kbd element syntax on radio role page (#11537)
  files/en-us/web/accessibility/aria/roles/radio_role/index.md
Owners: @mdn/yari-content-accessibility

Fix heading levels (#11528)
  files/en-us/web/xpath/introduction_to_using_xpath_in_javascript/index.md
Owners: @mdn/yari-content-mdn

Remove references to <mesh> SVG element (#11523)
  files/en-us/web/api/document_object_model/index.md
  files/en-us/web/svg/element/index.md
  files/jsondata/SVGData.json
Owners: @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/core-yari-dev

HTTP client hint headers - fix up additional glossary links (#11527)
  files/en-us/mdn/structures/page_types/http_header_page_template/index.md
  files/en-us/web/http/headers/content-dpr/index.md
  files/en-us/web/http/headers/device-memory/index.md
  files/en-us/web/http/headers/downlink/index.md
  files/en-us/web/http/headers/dpr/index.md
  files/en-us/web/http/headers/ect/index.md
  files/en-us/web/http/headers/rtt/index.md
  files/en-us/web/http/headers/sec-ch-ua-arch/index.md
  files/en-us/web/http/headers/sec-ch-ua-bitness/index.md
  files/en-us/web/http/headers/sec-ch-ua-full-version-list/index.md
  files/en-us/web/http/headers/sec-ch-ua-full-version/index.md
  files/en-us/web/http/headers/sec-ch-ua-mobile/index.md
  files/en-us/web/http/headers/sec-ch-ua-model/index.md
  files/en-us/web/http/headers/sec-ch-ua-platform-version/index.md
  files/en-us/web/http/headers/sec-ch-ua-platform/index.md
  files/en-us/web/http/headers/sec-ch-ua/index.md
  files/en-us/web/http/headers/viewport-width/index.md
  files/en-us/web/http/headers/width/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-http
