Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone

Fix links in articles of transform-functions (#10708)
  files/en-us/web/css/transform-function/index.md
  files/en-us/web/css/transform-function/matrix()/index.md
  files/en-us/web/css/transform-function/rotate()/index.md
  files/en-us/web/css/transform-function/scale()/index.md
  files/en-us/web/css/transform-function/scale3d()/index.md
  files/en-us/web/css/transform-function/scalez()/index.md
  files/en-us/web/css/transform-function/skew()/index.md
  files/en-us/web/css/transform-function/translatex()/index.md
  files/en-us/web/css/transform-function/translatez()/index.md
  files/en-us/web/css/translation-value/index.md
Owners: @mdn/yari-content-css

HTTP Client hints: Fix developers.google link to web.dev
  files/en-us/web/http/headers/content-dpr/index.md
  files/en-us/web/http/headers/device-memory/index.md
  files/en-us/web/http/headers/downlink/index.md
  files/en-us/web/http/headers/dpr/index.md
  files/en-us/web/http/headers/ect/index.md
  files/en-us/web/http/headers/rtt/index.md
  files/en-us/web/http/headers/save-data/index.md
  files/en-us/web/http/headers/viewport-width/index.md
  files/en-us/web/http/headers/width/index.md
Owners: @mdn/yari-content-http

edit to aria-label
  files/en-us/web/accessibility/aria/attributes/aria-label/index.md
Owners: @mdn/yari-content-accessibility

Client hints glossary - update with user hints
  files/en-us/glossary/client_hints/index.md
Owners: @mdn/yari-content-mdn

better link
  files/en-us/glossary/client_hints/index.md
Owners: @mdn/yari-content-mdn

Delete bidi page (#10702)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/guide/index.md
  files/en-us/web/guide/unicode_bidrectional_text_algorithm/index.md
  files/en-us/web/html/element/input/email/index.md
  files/en-us/web/html/element/input/number/index.md
  files/en-us/web/html/element/input/password/index.md
  files/en-us/web/html/element/input/search/index.md
  files/en-us/web/html/element/input/tel/index.md
  files/en-us/web/html/element/input/text/index.md
  files/en-us/web/html/element/input/url/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-html

Web speech API - minor fixes (#10706)
  files/en-us/web/api/web_speech_api/index.md
  files/en-us/web/api/window/speechsynthesis/index.md
Owners: @mdn/yari-content-web-api

SpeechSynthesisUtterance - remove experimental tagging (#10704)
  files/en-us/web/api/speechsynthesisutterance/boundary_event/index.md
  files/en-us/web/api/speechsynthesisutterance/end_event/index.md
  files/en-us/web/api/speechsynthesisutterance/error_event/index.md
  files/en-us/web/api/speechsynthesisutterance/index.md
  files/en-us/web/api/speechsynthesisutterance/lang/index.md
  files/en-us/web/api/speechsynthesisutterance/mark_event/index.md
  files/en-us/web/api/speechsynthesisutterance/pause_event/index.md
  files/en-us/web/api/speechsynthesisutterance/pitch/index.md
  files/en-us/web/api/speechsynthesisutterance/rate/index.md
  files/en-us/web/api/speechsynthesisutterance/resume_event/index.md
  files/en-us/web/api/speechsynthesisutterance/speechsynthesisutterance/index.md
  files/en-us/web/api/speechsynthesisutterance/start_event/index.md
  files/en-us/web/api/speechsynthesisutterance/text/index.md
  files/en-us/web/api/speechsynthesisutterance/voice/index.md
  files/en-us/web/api/speechsynthesisutterance/volume/index.md
  files/en-us/web/api/web_speech_api/index.md
Owners: @mdn/yari-content-web-api

Remove EXLskills
  files/en-us/learn/javascript/index.md
Owners: @mdn/yari-content-javascript

XRSession.onend -> end event
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/xrsession/end_event/index.md
  files/en-us/web/api/xrsession/index.md
  files/en-us/web/api/xrsession/onend/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

XRSession.oninputsourceschange -> inputsourceschange event
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/xrinputsourceschangeevent/index.md
  files/en-us/web/api/xrsession/inputsourceschange_event/index.md
  files/en-us/web/api/xrsession/oninputsourceschange/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

XRSession.onselect -> select event
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/xrsession/onselect/index.md
  files/en-us/web/api/xrsession/select_event/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

Replace unmaintained webauthn.org with alternatives
  files/en-us/web/api/web_authentication_api/index.md
Owners: @mdn/yari-content-web-api

Addressed linter issues
  README.md
Owners: @mdn/core-yari-dev, @mdn/core-yari-content

Removed trailing space
  README.md
Owners: @mdn/core-yari-dev, @mdn/core-yari-content

Update Working with objects
  files/en-us/web/javascript/guide/working_with_objects/index.md
Owners: @mdn/yari-content-javascript

Tabs to 2-space
  files/en-us/web/javascript/guide/working_with_objects/index.md
Owners: @mdn/yari-content-javascript

Update web literacy map source to mozilla foundation
  files/en-us/glossary/world_wide_web/index.md
Owners: @mdn/yari-content-mdn

Convert property to method notation
  files/en-us/web/api/document/index.md
Owners: @mdn/yari-content-web-api

add progress to accent elements list (#10646)
  files/en-us/glossary/accent/index.md
  files/en-us/web/css/accent-color/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-css

Remove EXLskills (#10718)
  files/en-us/learn/javascript/index.md
Owners: @mdn/yari-content-javascript

HTTP Overview: Fix missing step in flow section (#10711)
  files/en-us/web/http/overview/index.md
Owners: @mdn/yari-content-http

Convert property to method notation (#10727)
  files/en-us/web/api/document/index.md
Owners: @mdn/yari-content-web-api

corrected output value in comment of example (#10593)
  files/en-us/web/javascript/reference/global_objects/atomics/and/index.md
Owners: @mdn/yari-content-javascript

Fix typo
  files/en-us/web/api/webvtt_api/index.md
Owners: @mdn/yari-content-web-api

Set-Cookie attributes are now headers
  files/en-us/web/http/headers/set-cookie/index.md
Owners: @mdn/yari-content-http

Update index.md
  files/en-us/web/javascript/reference/statements/import.meta/index.md
Owners: @mdn/yari-content-javascript

edits
  files/en-us/web/accessibility/aria/attributes/aria-label/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/html/element/progress/index.md
  files/en-us/web/html/element/progress/index.md
Owners: @mdn/yari-content-html

updates/edits
  files/en-us/web/accessibility/aria/attributes/aria-live/index.md
Owners: @mdn/yari-content-accessibility

Update index.md (#10731)
  files/en-us/web/javascript/reference/statements/import.meta/index.md
Owners: @mdn/yari-content-javascript

let->const
  files/en-us/learn/javascript/building_blocks/looping_code/index.md
Owners: @mdn/yari-content-javascript

Fix typo (#10728)
  files/en-us/web/api/webvtt_api/index.md
Owners: @mdn/yari-content-web-api

Remove web literacy map source
  files/en-us/glossary/world_wide_web/index.md
Owners: @mdn/yari-content-mdn

Update web literacy map source to mozilla foundation (#10725)
  files/en-us/glossary/world_wide_web/index.md
Owners: @mdn/yari-content-mdn

Replace let with const where appropriate
  files/en-us/web/javascript/guide/working_with_objects/index.md
Owners: @mdn/yari-content-javascript

updates/edits
  files/en-us/web/accessibility/aria/attributes/aria-live/index.md
Owners: @mdn/yari-content-accessibility

Apply suggestions from code review
  files/en-us/web/accessibility/aria/attributes/aria-modal/index.md
Owners: @mdn/yari-content-accessibility

Update "Working with objects" (#10724)
  files/en-us/web/javascript/guide/working_with_objects/index.md
Owners: @mdn/yari-content-javascript

intro
  files/en-us/web/accessibility/aria/attributes/aria-modal/index.md
Owners: @mdn/yari-content-accessibility
