Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

Update files/en-us/web/html/viewport_meta_tag/index.md
  files/en-us/web/html/viewport_meta_tag/index.md
Owners: @mdn/yari-content-html

Remove outdated and unnecessary editorial comment (#11039)
  files/en-us/web/html/viewport_meta_tag/index.md
Owners: @mdn/yari-content-html

Update files/en-us/web/http/headers/origin/index.md
  files/en-us/web/http/headers/origin/index.md
Owners: @mdn/yari-content-http

Update files/en-us/web/http/headers/origin/index.md
  files/en-us/web/http/headers/origin/index.md
Owners: @mdn/yari-content-http

Update files/en-us/web/http/headers/origin/index.md
  files/en-us/web/http/headers/origin/index.md
Owners: @mdn/yari-content-http

Update files/en-us/web/http/headers/origin/index.md
  files/en-us/web/http/headers/origin/index.md
Owners: @mdn/yari-content-http

HTTP Origin header — improve overview (#10709)
  files/en-us/web/http/headers/origin/index.md
Owners: @mdn/yari-content-http

Fix broken links in deviceorientation event doc
  files/en-us/web/api/window/deviceorientation_event/index.md
Owners: @mdn/yari-content-web-api

Fix XMLSerializer description in various articles
  files/en-us/web/api/element/innerhtml/index.md
  files/en-us/web/api/element/insertadjacenthtml/index.md
  files/en-us/web/api/element/outerhtml/index.md
Owners: @mdn/yari-content-web-api

✏️ Fix Typo: Match Set(constant) to the expected output (#11029)
  files/en-us/web/javascript/reference/global_objects/set/index.md
Owners: @mdn/yari-content-javascript

Update Bootstrap's URL
  files/en-us/learn/forms/advanced_form_styling/index.md
Owners: @mdn/yari-content-mdn

Update Bootstrap's URL (#11049)
  files/en-us/learn/forms/advanced_form_styling/index.md
Owners: @mdn/yari-content-mdn

Fix #10981
  files/en-us/web/api/canvas_api/manipulating_video_using_canvas/index.md
Owners: @mdn/yari-content-web-api

Update InterfaceData based on webref
  files/jsondata/InterfaceData.json
Owners: @mdn/core-yari-dev

Update data from @webref/idl@2.8.2
  files/jsondata/InterfaceData.json
Owners: @mdn/core-yari-dev

Remove data about interface mixin
  files/jsondata/InterfaceData.json
Owners: @mdn/core-yari-dev

Update InterfaceData based on webref (#8797)
  files/jsondata/InterfaceData.json
Owners: @mdn/core-yari-dev

USB: Single page for events
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/usb/connect_event/index.md
  files/en-us/web/api/usb/disconnect_event/index.md
  files/en-us/web/api/usb/index.md
  files/en-us/web/api/usb/onconnect/index.md
  files/en-us/web/api/usb/ondisconnect/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

Fix XMLSerializer description in various articles (#11048)
  files/en-us/web/api/element/innerhtml/index.md
  files/en-us/web/api/element/insertadjacenthtml/index.md
  files/en-us/web/api/element/outerhtml/index.md
Owners: @mdn/yari-content-web-api

Fix broken links in deviceorientation event doc (#11047)
  files/en-us/web/api/window/deviceorientation_event/index.md
Owners: @mdn/yari-content-web-api

Automate maintenance of InterfaceData based on webref
  .github/workflows/interfacedata-updater.yml
  scripts/update-interface-data.js
Owners: @mdn/core-yari-dev

Update index.md
  files/en-us/web/api/element/ariamodal/index.md
Owners: @mdn/yari-content-web-api

Update index.md
  files/en-us/web/api/element/ariamodal/index.md
Owners: @mdn/yari-content-web-api

New page: aria-selected
  files/en-us/web/accessibility/aria/attributes/aria-selected/index.md
Owners: @mdn/yari-content-accessibility

aria-checked: edits
  files/en-us/web/accessibility/aria/attributes/aria-checked/index.md
Owners: @mdn/yari-content-accessibility

Update index.md
  files/en-us/web/javascript/reference/errors/missing_semicolon_before_statement/index.md
Owners: @mdn/yari-content-javascript

Update index.md (#11062)
  files/en-us/web/javascript/reference/errors/missing_semicolon_before_statement/index.md
Owners: @mdn/yari-content-javascript

Update index.md (#11057)
  files/en-us/web/api/element/ariamodal/index.md
Owners: @mdn/yari-content-web-api

Fix #10981 (#11052)
  files/en-us/web/api/canvas_api/manipulating_video_using_canvas/index.md
Owners: @mdn/yari-content-web-api

Add new properties to TextDecoder interface.
  files/en-us/web/api/textdecoder/fatal/index.md
  files/en-us/web/api/textdecoder/ignorebom/index.md
  files/en-us/web/api/textdecoder/index.md
Owners: @mdn/yari-content-web-api

Fix target param description in JS handler.apply() doc
  files/en-us/web/javascript/reference/global_objects/proxy/proxy/apply/index.md
Owners: @mdn/yari-content-javascript

Drop “Debugging Firefox for Android with WebIDE” doc (outdated)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/tools/remote_debugging/debugging_firefox_for_android_with_webide/extra-components.png
  files/en-us/tools/remote_debugging/debugging_firefox_for_android_with_webide/incoming-warning.png
  files/en-us/tools/remote_debugging/debugging_firefox_for_android_with_webide/index.html
  files/en-us/tools/remote_debugging/debugging_firefox_for_android_with_webide/remote-debugging-android-attached.png
  files/en-us/tools/remote_debugging/debugging_firefox_for_android_with_webide/remote-debugging-android-open-tabs.png
  files/en-us/tools/remote_debugging/debugging_firefox_for_android_with_webide/remote-debugging-android-runtime.png
  files/en-us/tools/remote_debugging/debugging_firefox_for_android_with_webide/remote-debugging-device-enable.png
  files/en-us/tools/remote_debugging/debugging_firefox_for_android_with_webide/remote-debugging-overview-fx36.png
  files/en-us/tools/remote_debugging/firefox_for_android/index.html
Owners: @mdn/yari-content-mdn

Typo - using singular form instead of plural.
  files/en-us/web/javascript/closures/index.md
Owners: @mdn/yari-content-javascript

Typo - using singular form instead of plural. (#11068)
  files/en-us/web/javascript/closures/index.md
Owners: @mdn/yari-content-javascript

Update flex shorthand one-value summary
  files/en-us/web/css/flex/index.md
Owners: @mdn/yari-content-css

Update CustomEvent example
  files/en-us/web/api/customevent/customevent/index.md
  files/en-us/web/api/customevent/detail/index.md
Owners: @mdn/yari-content-web-api

Replace "field" with "property", remove "Return value"
  files/en-us/web/api/customevent/customevent/index.md
Owners: @mdn/yari-content-web-api

Fix target param description in JS handler.apply() doc (#11066)
  files/en-us/web/javascript/reference/global_objects/proxy/proxy/apply/index.md
Owners: @mdn/yari-content-javascript

Add xpcshell doc redirect to firefox-source-docs.mozilla.org
  files/en-us/_redirects.txt
Owners: @mdn/yari-content-mdn

feedback
  files/en-us/web/api/usb/connect_event/index.md
  files/en-us/web/api/usb/disconnect_event/index.md
  files/en-us/web/api/usb/index.md
Owners: @mdn/yari-content-web-api

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone
