Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

Fix some typos in Web/CSS/length-percentage (#10669)
  files/en-us/web/css/length-percentage/index.md
Owners: @mdn/yari-content-css

remove invalid/valid headings
  files/en-us/web/css/frequency/index.md
Owners: @mdn/yari-content-css

Fix a style in Web/CSS/frequency (#10668)
  files/en-us/web/css/frequency/index.md
Owners: @mdn/yari-content-css

Web/Media/Formats/Containers: WebM supports Vorbis, not Theora
  files/en-us/web/media/formats/containers/index.md
Owners: @mdn/yari-content-mdn

Adds LSP compatible classes. Thanks @TrangOul (#10649)
  files/en-us/web/javascript/reference/statements/class/index.md
Owners: @mdn/yari-content-javascript

input element months - layout only-changes
  files/en-us/web/html/element/input/month/index.md
Owners: @mdn/yari-content-html

HTML element - make it not refer to summer months
  files/en-us/web/html/element/input/month/index.md
  files/en-us/web/html/element/input/month/month-required.png
Owners: @mdn/yari-content-html

Fix links to gradient functions (#10667)
  files/en-us/web/css/angle-percentage/index.md
Owners: @mdn/yari-content-css

Update files/en-us/web/api/speechsynthesisevent/charindex/index.md
  files/en-us/web/api/speechsynthesisevent/charindex/index.md
Owners: @mdn/yari-content-web-api

Javascript events - update random call to allow full colour range
  files/en-us/learn/javascript/building_blocks/events/index.md
Owners: @mdn/yari-content-javascript

Layout only changes
  files/en-us/learn/javascript/building_blocks/events/index.md
Owners: @mdn/yari-content-javascript

Move the note - it was embedded in the other note, and unrelated
  files/en-us/learn/server-side/express_nodejs/displaying_data/date_formatting_using_moment/index.md
Owners: @mdn/yari-content-http

Expressions and operators: Assignment example typo
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
Owners: @mdn/yari-content-javascript

Fix up table to match examples
  files/en-us/web/javascript/reference/global_objects/array/reduce/index.md
Owners: @mdn/yari-content-javascript

Revert to minimal changes
  files/en-us/glossary/dynamic_programming_language/index.md
Owners: @mdn/yari-content-mdn

Update index.md
  files/en-us/glossary/dynamic_programming_language/index.md
Owners: @mdn/yari-content-mdn

Web/Media/Formats/Containers: WebM supports Vorbis, not Theora (#10684)
  files/en-us/web/media/formats/containers/index.md
Owners: @mdn/yari-content-mdn

How to structure web form: fix up CC expiry
  files/en-us/learn/forms/how_to_structure_a_web_form/example/index.md
  files/en-us/learn/forms/how_to_structure_a_web_form/index.md
Owners: @mdn/yari-content-mdn

Typo
  files/en-us/learn/forms/how_to_structure_a_web_form/index.md
Owners: @mdn/yari-content-mdn

API method template: return undefined not void (#10632)
  files/en-us/mdn/structures/page_types/api_method_subpage_template/index.md
Owners: @mdn/yari-content-mdn

Adds note about `const` and `let` (#10634)
  files/en-us/glossary/global_object/index.md
Owners: @mdn/yari-content-mdn

Removing unavailable videos part 1 (#10567)
  files/en-us/mozilla/add-ons/webextensions/implement_a_settings_page/index.md
  files/en-us/mozilla/add-ons/webextensions/internationalization/index.md
  files/en-us/mozilla/add-ons/webextensions/your_first_webextension/border_on_mozilla_org.png
  files/en-us/mozilla/add-ons/webextensions/your_first_webextension/index.md
  files/en-us/tools/browser_toolbox/index.html
  files/en-us/tools/browser_toolbox/inspect_popup.png
  files/en-us/tools/debugger/how_to/disable_breakpoints/index.html
  files/en-us/tools/debugger/how_to/set_a_conditional_breakpoint/index.html
  files/en-us/tools/debugger/how_to/step_through_code/index.html
  files/en-us/tools/memory/aggregate_view/index.html
  files/en-us/tools/memory/basic_operations/index.html
  files/en-us/tools/performance/flame_chart/index.html
  files/en-us/tools/performance/scenarios/animating_css_properties/index.html
  files/en-us/tools/performance/scenarios/intensive_javascript/index.html
  files/en-us/tools/performance/ui_tour/index.html
Owners: @mdn/yari-content-mozilla-add-ons, @mdn/yari-content-mdn

Changed description of ReferenceError (#10640)
  files/en-us/web/javascript/reference/global_objects/referenceerror/index.md
Owners: @mdn/yari-content-javascript

improve(doc): Generalization of Set names in syntax (#10671)
  files/en-us/web/javascript/reference/global_objects/set/delete/index.md
Owners: @mdn/yari-content-javascript

Expressions and operators: Assignment example typo (#10689)
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
Owners: @mdn/yari-content-javascript

Remove redundant links from Promise (#10674)
  files/en-us/web/javascript/reference/global_objects/promise/index.md
Owners: @mdn/yari-content-javascript

Remove rest of pr-lint
  .github/dependabot.yml
  .github/workflows/system-file-changes.yml
  .gitignore
Owners: @mdn/core-yari-dev

Single quotes
  files/en-us/web/html/element/data/index.md
Owners: @mdn/yari-content-html

Single quotes
  files/en-us/web/html/element/wbr/index.md
Owners: @mdn/yari-content-html

title of a few elements missing context in the title (#9637)
  files/en-us/web/html/element/data/index.md
  files/en-us/web/html/element/wbr/index.md
Owners: @mdn/yari-content-html

Add an example using the second parameter (#9655)
  files/en-us/web/api/domtokenlist/toggle/index.md
Owners: @mdn/yari-content-web-api

Clarify unsafe-hashes (#9997)
  files/en-us/web/http/headers/content-security-policy/script-src/index.md
Owners: @mdn/yari-content-http

Apply suggestions from code review
  files/en-us/web/http/headers/content-security-policy/index.md
Owners: @mdn/yari-content-http

List formatting
  files/en-us/web/http/headers/content-security-policy/index.md
Owners: @mdn/yari-content-http

Explain how path parts work in CSP (#10012)
  files/en-us/web/http/headers/content-security-policy/index.md
Owners: @mdn/yari-content-http

Add a couple of missing event page redirects (#10399)
  files/en-us/_redirects.txt
Owners: @mdn/yari-content-mdn

typo
  files/en-us/web/api/customevent/customevent/index.md
Owners: @mdn/yari-content-web-api

[DOM Reference] Update CustomEvent interface reference (#9920)
  files/en-us/web/api/customevent/customevent/index.md
  files/en-us/web/api/customevent/detail/index.md
  files/en-us/web/api/customevent/index.md
  files/en-us/web/api/customevent/initcustomevent/index.md
Owners: @mdn/yari-content-web-api

[DOM Reference]Update Attr interface reference and add missing properties (#10094)
  files/en-us/glossary/attribute/index.md
  files/en-us/web/api/attr/index.md
  files/en-us/web/api/attr/localname/index.md
  files/en-us/web/api/attr/name/index.md
  files/en-us/web/api/attr/namespaceuri/index.md
  files/en-us/web/api/attr/ownerelement/index.md
  files/en-us/web/api/attr/prefix/index.md
  files/en-us/web/api/attr/specified/index.md
  files/en-us/web/api/attr/value/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-web-api

add bad-example source
  files/en-us/mdn/contribute/markdown_in_mdn/index.md
Owners: @mdn/yari-content-mdn

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone
