Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/content-team, @mdn/web, @mdn/add-ons, @mdn/accessibility, @mdn/web-api, @mdn/css, @mdn/http, @mdn/javascript, @mdn/mathml, @mdn/engineering, @mdn-bot

typo fix
  files/en-us/web/css/css_scroll-driven_animations/timelines/index.md
Owners: @mdn/css

SVG event handlers: optional edit (#41602)
  files/en-us/web/svg/reference/attribute/index.md
Owners: @mdn/web

Update files/en-us/web/css/how_to/layout_cookbook/index.md
  files/en-us/web/css/how_to/layout_cookbook/index.md
Owners: @mdn/css

Update files/en-us/web/css/how_to/layout_cookbook/index.md
  files/en-us/web/css/how_to/layout_cookbook/index.md
Owners: @mdn/css

chore(ia): Reorganize CSS pages - part 2 (moving layout_cookbook to how_to) (#41735)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/glossary/breadcrumb/index.md
  files/en-us/learn_web_development/core/css_layout/index.md
  files/en-us/learn_web_development/core/styling_basics/organizing/index.md
  files/en-us/learn_web_development/core/styling_basics/what_is_css/index.md
  files/en-us/learn_web_development/howto/solve_css_problems/index.md
  files/en-us/web/accessibility/aria/reference/attributes/aria-current/index.md
  files/en-us/web/css/css_grid_layout/grid_template_areas/index.md
  files/en-us/web/css/how_to/index.md
  files/en-us/web/css/how_to/layout_cookbook/breadcrumb_navigation/breadcrumb-navigation.png
  files/en-us/web/css/how_to/layout_cookbook/breadcrumb_navigation/index.md
  files/en-us/web/css/how_to/layout_cookbook/card/cards.png
  files/en-us/web/css/how_to/layout_cookbook/card/index.md
  files/en-us/web/css/how_to/layout_cookbook/center_an_element/cookbook-center.png
  files/en-us/web/css/how_to/layout_cookbook/center_an_element/index.md
  files/en-us/web/css/how_to/layout_cookbook/column_layouts/cookbook-multiple-columns.png
  files/en-us/web/css/how_to/layout_cookbook/column_layouts/index.md
  files/en-us/web/css/how_to/layout_cookbook/contribute_a_recipe/cookbook_template/index.md
  files/en-us/web/css/how_to/layout_cookbook/contribute_a_recipe/index.md
  files/en-us/web/css/how_to/layout_cookbook/grid_wrapper/index.md
  files/en-us/web/css/how_to/layout_cookbook/index.md
  files/en-us/web/css/how_to/layout_cookbook/list_group_with_badges/index.md
  files/en-us/web/css/how_to/layout_cookbook/list_group_with_badges/list-group-badges.png
  files/en-us/web/css/how_to/layout_cookbook/media_objects/index.md
  files/en-us/web/css/how_to/layout_cookbook/media_objects/media-object.png
  files/en-us/web/css/how_to/layout_cookbook/pagination/index.md
  files/en-us/web/css/how_to/layout_cookbook/pagination/pagination.png
  files/en-us/web/css/how_to/layout_cookbook/split_navigation/index.md
  files/en-us/web/css/how_to/layout_cookbook/split_navigation/split-navigation.png
  files/en-us/web/css/how_to/layout_cookbook/sticky_footers/index.md
  files/en-us/web/css/index.md
  files/en-us/web/css/layout_cookbook/index.md
  files/sidebars/cssref.yaml
Owners: @mdn/web, @mdn/accessibility, @mdn/css, @mdn/content-team

Add 3rd set of Scrimba links, adjust other links (#41617)
  files/en-us/learn_web_development/core/css_layout/index.md
  files/en-us/learn_web_development/core/index.md
  files/en-us/learn_web_development/core/structuring_content/html_images/index.md
  files/en-us/learn_web_development/core/styling_basics/box_model/index.md
  files/en-us/learn_web_development/core/styling_basics/combinators/index.md
  files/en-us/learn_web_development/core/styling_basics/getting_started/index.md
  files/en-us/learn_web_development/core/text_styling/index.md
  files/en-us/learn_web_development/core/version_control/index.md
  files/en-us/learn_web_development/extensions/client-side_tools/package_management/index.md
  files/en-us/learn_web_development/getting_started/your_first_website/creating_the_content/index.md
  files/en-us/learn_web_development/getting_started/your_first_website/styling_the_content/index.md
  files/en-us/learn_web_development/index.md
Owners: @mdn/web

Add doc covering bounce tracking mitigations
  files/en-us/web/privacy/guides/bounce_tracking_mitigations/bounce-back.png
  files/en-us/web/privacy/guides/bounce_tracking_mitigations/bounce-through.png
  files/en-us/web/privacy/guides/bounce_tracking_mitigations/index.md
  files/en-us/web/privacy/guides/privacy_sandbox/index.md
  files/en-us/web/privacy/guides/redirect_tracking_protection/index.md
  files/sidebars/privacy.yaml
Owners: @mdn/web, @mdn/content-team

ci(workflows): run lint/checks on all PRs
  .github/workflows/markdown-lint.yml
  .github/workflows/pr-check-lint_content.yml
  .github/workflows/pr-check_cspell_lists.yml
  .github/workflows/pr-check_javascript.yml
  .github/workflows/pr-check_json.yml
  .github/workflows/pr-check_redirects.yml
  .github/workflows/pr-check_scripts.yml
  .github/workflows/pr-check_url-issues.yml
  .github/workflows/pr-check_yml.yml
  .github/workflows/pr-test.yml
Owners: @mdn/engineering

grammar
  files/en-us/web/css/css_scroll-driven_animations/timelines/index.md
Owners: @mdn/css

more grammar
  files/en-us/web/css/css_scroll-driven_animations/timelines/index.md
Owners: @mdn/css

ci(workflows): specify `pull_request_target` branches
  .github/workflows/pr-rebase-needed.yml
  .github/workflows/system-file-changes.yml
Owners: @mdn/engineering

ci(workflows): run lint/checks on all PRs (#41739)
  .github/workflows/markdown-lint.yml
  .github/workflows/pr-check-lint_content.yml
  .github/workflows/pr-check_cspell_lists.yml
  .github/workflows/pr-check_javascript.yml
  .github/workflows/pr-check_json.yml
  .github/workflows/pr-check_redirects.yml
  .github/workflows/pr-check_scripts.yml
  .github/workflows/pr-check_url-issues.yml
  .github/workflows/pr-check_yml.yml
  .github/workflows/pr-test.yml
Owners: @mdn/engineering

ci(workflows): specify `pull_request_target` branches (#41741)
  .github/workflows/pr-rebase-needed.yml
  .github/workflows/system-file-changes.yml
Owners: @mdn/engineering

Fixes for review comments sent by email
  files/en-us/web/privacy/guides/bounce_tracking_mitigations/index.md
Owners: @mdn/web

Small language tweak
  files/en-us/web/privacy/guides/bounce_tracking_mitigations/index.md
Owners: @mdn/web

.github/CODEOWNERS:

# Order is important: The last matching pattern takes precedence.
# For more detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

# Default owners
* @mdn/content-team

# Default content owners
/files/en-us/ @mdn/web

# MDN Firefox release notes
/files/en-us/mozilla/ @mdn/content-team

# Mozilla Add-ons
/files/en-us/mozilla/add-ons/ @mdn/add-ons

# Accessibility
/files/en-us/web/accessibility/ @mdn/accessibility

# Web API
/files/en-us/web/api/ @mdn/web-api

# CSS
/files/en-us/web/css/ @mdn/css

# HTML
/files/en-us/web/html/ @mdn/web

# HTTP
/files/en-us/web/http/ @mdn/http

# JavaScript
/files/en-us/web/javascript/ @mdn/javascript

# MathML
/files/en-us/web/mathml/ @mdn/mathml

# Templates and sidebars (rari)
/files/jsondata/L10n-Template.json @mdn/engineering

# ============================= CONTROL FILES ============================= #
# The CODEOWNERS file must end with these matches: Any pull request changing
# one or more of these files should be escalated to the owners specified here.

# mdn/content GitHub configuration
/.github/ @mdn/engineering
# Issue templates in .github
/.github/ISSUE_TEMPLATE/ff-project-issue.md @mdn/content-team

# Root directory
/* @mdn/engineering
# Markdown files in root directory
/*.md @mdn/content-team
# Filecheck
/scripts @mdn/engineering

# These are @mdn-bot because the auto-merge GHA workflow uses the PAT of this account.
# If another reviewer is specified, update the PAT token or auto-merge will cease to be automatic.
/package.json @mdn-bot
/yarn.lock @mdn-bot
