Repository mdn/content, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mdn/core-yari-dev, @mdn/yari-content-mdn, @mdn/yari-content-accessibility, @mdn/yari-content-css, @mdn/yari-content-html, @mdn/yari-content-javascript, @mdn/yari-content-http, @mdn/yari-content-web-api, @mdn/yari-content-svg, @mdn/yari-content-mozilla-add-ons, @mdn/core-yari-content, @escattone

.github/CODEOWNERS:

# ----------------------------------------------------------------------------
# MDN Content CODEOWNERS
# ----------------------------------------------------------------------------
# Order is important. The last matching pattern takes precedence. For more
# detailed information, see:
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners
# ----------------------------------------------------------------------------

# ----------------------------------------------------------------------------
# DEFAULT OWNERS
# ----------------------------------------------------------------------------
*    @mdn/core-yari-dev

# ----------------------------------------------------------------------------
# DEFAULT ENGLISH CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/    @mdn/yari-content-mdn

# ----------------------------------------------------------------------------
# ENGLISH WEB ACCESSIBILITY CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/accessibility/    @mdn/yari-content-accessibility
/files/en-us/learn/accessibility/    @mdn/yari-content-accessibility

# ----------------------------------------------------------------------------
# ENGLISH CSS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/css/    @mdn/yari-content-css
/files/en-us/learn/css/    @mdn/yari-content-css

# ----------------------------------------------------------------------------
# ENGLISH HTML CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/html/    @mdn/yari-content-html
/files/en-us/learn/html/    @mdn/yari-content-html

# ----------------------------------------------------------------------------
# ENGLISH JAVASCRIPT CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/javascript/    @mdn/yari-content-javascript
/files/en-us/learn/javascript/    @mdn/yari-content-javascript

# ----------------------------------------------------------------------------
# ENGLISH HTTP CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/http/    @mdn/yari-content-http
/files/en-us/learn/server-side/    @mdn/yari-content-http

# ----------------------------------------------------------------------------
# ENGLISH WEB API CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/api/    @mdn/yari-content-web-api

# ----------------------------------------------------------------------------
# ENGLISH SVG CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/web/svg/    @mdn/yari-content-svg

# ----------------------------------------------------------------------------
# ENGLISH MOZILLA ADD-ONS CONTENT OWNER(S)
# ----------------------------------------------------------------------------
/files/en-us/mozilla/add-ons/    @mdn/yari-content-mozilla-add-ons


# ----------------------------------------------------------------------------
# CONTROL FILES OWNER(S)
# ----------------------------------------------------------------------------
# These should be the last matches in this file, since any pull request that
# tries to change any one or more of these files should be escalated to the
# owners specified here.
# ----------------------------------------------------------------------------
/.github/     @mdn/core-yari-dev
/*            @mdn/core-yari-dev
/*.md         @mdn/core-yari-dev @mdn/core-yari-content
# These are @escattone because the auto-merge GHA workflow will assign @escattone,
# and if we add another reviewer, the auto-merge will cease to be automatic.
/package.json @escattone
/yarn.lock    @escattone

Update files/en-us/web/accessibility/aria/attributes/aria-live/index.md
  files/en-us/web/accessibility/aria/attributes/aria-live/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-live/index.md
  files/en-us/web/accessibility/aria/attributes/aria-live/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-live/index.md
  files/en-us/web/accessibility/aria/attributes/aria-live/index.md
Owners: @mdn/yari-content-accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-live/index.md
  files/en-us/web/accessibility/aria/attributes/aria-live/index.md
Owners: @mdn/yari-content-accessibility

New Page: aria-live (#10633)
  files/en-us/web/accessibility/aria/attributes/aria-live/index.md
Owners: @mdn/yari-content-accessibility

fix typo (#10833)
  files/en-us/learn/server-side/index.md
Owners: @mdn/yari-content-http

fix typo
  files/en-us/web/css/cursor/index.md
Owners: @mdn/yari-content-css

fix typo (#10840)
  files/en-us/web/css/cursor/index.md
Owners: @mdn/yari-content-css

contrasted rather than opposed
  files/en-us/glossary/dynamic_programming_language/index.md
Owners: @mdn/yari-content-mdn

Fix incorrect resolution img in live sample (#10813)
  files/en-us/web/html/element/img/clock-demo-200px.png
Owners: @mdn/yari-content-html

JS Learning Area updates: looping code (#10645)
  files/en-us/learn/javascript/building_blocks/looping_code/index.md
  files/en-us/learn/javascript/building_blocks/looping_code/loop_js-02-farm.png
  files/en-us/learn/javascript/building_blocks/test_your_skills_colon__loops/index.md
Owners: @mdn/yari-content-javascript

Update files/en-us/web/progressive_web_apps/installing/index.md
  files/en-us/web/progressive_web_apps/installing/index.md
Owners: @mdn/yari-content-mdn

Add link to Internationalization concept page from i18n API articles (#10792)
  files/en-us/mozilla/add-ons/webextensions/api/i18n/detectlanguage/index.md
  files/en-us/mozilla/add-ons/webextensions/api/i18n/getacceptlanguages/index.md
  files/en-us/mozilla/add-ons/webextensions/api/i18n/getmessage/index.md
  files/en-us/mozilla/add-ons/webextensions/api/i18n/getuilanguage/index.md
  files/en-us/mozilla/add-ons/webextensions/api/i18n/index.md
  files/en-us/mozilla/add-ons/webextensions/internationalization/index.md
Owners: @mdn/yari-content-mozilla-add-ons

Modify fix as suggested in my comment
  files/en-us/learn/server-side/django/generic_views/index.md
Owners: @mdn/yari-content-http

fix layout
  files/en-us/learn/server-side/django/generic_views/index.md
Owners: @mdn/yari-content-http

Django: mention emtpy template tag as for-loop option (#10780)
  files/en-us/learn/server-side/django/generic_views/index.md
Owners: @mdn/yari-content-http

Update to: Making a change that depends on external content
  README.md
Owners: @mdn/core-yari-dev, @mdn/core-yari-content

Removes TODO, adds Syntax, fixes #538 partially
  files/en-us/web/api/element/scrollintoviewifneeded/index.md
Owners: @mdn/yari-content-web-api

revise the "Logical AND (&&)" page
  files/en-us/web/javascript/reference/operators/logical_and/index.md
Owners: @mdn/yari-content-javascript

update part of description
  files/en-us/web/javascript/reference/operators/logical_and/index.md
Owners: @mdn/yari-content-javascript

Remove mentions of removed moz* features of HTMLMediaElement
  files/en-us/web/api/htmlmediaelement/index.md
  files/en-us/web/api/htmlmediaelement/loadedmetadata_event/index.md
Owners: @mdn/yari-content-web-api

Added a warning about XSS protection causing XSS (#10243)
  files/en-us/web/http/headers/x-xss-protection/index.md
Owners: @mdn/yari-content-http

Delete for-each-in error page (#10793)
  files/en-us/_wikihistory.json
  files/en-us/web/javascript/reference/errors/for-each-in_loops_are_deprecated/index.md
Owners: @mdn/yari-content-mdn, @mdn/yari-content-javascript

Remove mentions of removed moz* features of HTMLMediaElement (#10847)
  files/en-us/web/api/htmlmediaelement/index.md
  files/en-us/web/api/htmlmediaelement/loadedmetadata_event/index.md
Owners: @mdn/yari-content-web-api

Add WebAuthn demo sites to their own section (#10790)
  files/en-us/web/api/web_authentication_api/index.md
Owners: @mdn/yari-content-web-api

Fix pageshow event links in popstate event docs (#10796)
  files/en-us/web/api/window/popstate_event/index.md
Owners: @mdn/yari-content-web-api

Add section for the anti-tracking webcompat preference.
  files/en-us/web/privacy/state_partitioning/index.md
Owners: @mdn/yari-content-mdn

Learning Area repo: update branch name to main in links (#10828)
  files/en-us/learn/css/styling_text/web_fonts/index.md
Owners: @mdn/yari-content-css

Update index.md
  files/en-us/web/manifest/background_color/index.md
Owners: @mdn/yari-content-mdn

Update index.md
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
Owners: @mdn/yari-content-javascript

feat(eyedropper): include secure context header macro
  files/en-us/web/api/eyedropper/index.md
Owners: @mdn/yari-content-web-api

Add load event-listener on window for example (#10815)
  files/en-us/web/api/htmlimageelement/srcset/index.md
Owners: @mdn/yari-content-web-api

Simplify URLSearchParams examples
  files/en-us/web/api/urlsearchparams/append/index.md
  files/en-us/web/api/urlsearchparams/get/index.md
  files/en-us/web/api/urlsearchparams/getall/index.md
  files/en-us/web/api/urlsearchparams/has/index.md
  files/en-us/web/api/urlsearchparams/tostring/index.md
Owners: @mdn/yari-content-web-api

extra ) removed
  files/en-us/web/api/element/arialabel/index.md
Owners: @mdn/yari-content-web-api

fix typo
  files/en-us/web/css/accent-color/index.md
Owners: @mdn/yari-content-css

fix typo (#10873)
  files/en-us/web/css/accent-color/index.md
Owners: @mdn/yari-content-css

extra ) removed (#10872)
  files/en-us/web/api/element/arialabel/index.md
Owners: @mdn/yari-content-web-api

Removes TODO, adds Syntax, fixes #538 partially (#10845)
  files/en-us/web/api/element/scrollintoviewifneeded/index.md
Owners: @mdn/yari-content-web-api

New page: aria-labelledby
  files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
Owners: @mdn/yari-content-accessibility

Fix and edit
  files/en-us/web/javascript/reference/operators/logical_and/index.md
Owners: @mdn/yari-content-javascript
