Repository mdn/content, changes with the labels that .github/labeler.yml gives for each.
All labels: Content:Accessibility, Content:CSS, Content:DevTools, Content:Glossary, Content:HTML, Content:HTTP, Content:JS, Content:MathML, Content:Media, Content:SVG, Content:wasm, Content:WebAPI, Content:WebDriver, Content:WebExt, Content:Learn, Content:Learn:Django, Content:Learn:Express, Content:Other

Update index.md (#9942)
  files/en-us/learn/tools_and_testing/cross_browser_testing/automated_testing/index.md
Labels: Content:Learn

Update files/en-us/web/accessibility/aria/attributes/aria-colspan/index.md
  files/en-us/web/accessibility/aria/attributes/aria-colspan/index.md
Labels: Content:Accessibility

first rule of ARIA
  files/en-us/web/accessibility/aria/attributes/aria-colspan/index.md
Labels: Content:Accessibility

Remove unsupported Element overflow/underflow events from MDN
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/element/overflow_event/index.md
  files/en-us/web/api/element/underflow_event/index.md
  files/en-us/web/events/index.md
Labels: Content:WebAPI, Content:Other

Remove notes about TextEncoder previously supporting other encodings
  files/en-us/web/api/textencoder/textencoder/index.md
Labels: Content:WebAPI

Rephrasing as requested.
  files/en-us/mozilla/add-ons/webextensions/api/runtime/sendmessage/index.html
Labels: Content:WebExt, Content:Other

Missing variable declaration on keydown example.
  files/en-us/web/api/document/keydown_event/index.md
Labels: Content:WebAPI

Remove unsupported Element overflow/underflow events from MDN (#9973)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/element/overflow_event/index.md
  files/en-us/web/api/element/underflow_event/index.md
  files/en-us/web/events/index.md
Labels: Content:WebAPI, Content:Other

Update EventTarget interface reference
  files/en-us/web/api/eventtarget/addeventlistener/index.md
  files/en-us/web/api/eventtarget/dispatchevent/index.md
  files/en-us/web/api/eventtarget/eventtarget/index.md
  files/en-us/web/api/eventtarget/index.md
  files/en-us/web/api/eventtarget/removeeventlistener/index.md
Labels: Content:WebAPI

Remove PR title linting (#9952)
  .github/workflows/pr-lint.yml
  pr-lint/package.json
  pr-lint/src/index.js
  pr-lint/yarn.lock
Labels: none

Fix typo
  files/en-us/web/http/headers/accept-language/index.md
Labels: Content:HTTP

Fix typo
  files/en-us/web/api/eventtarget/eventtarget/index.md
Labels: Content:WebAPI

Fix typo (#9978)
  files/en-us/web/http/headers/accept-language/index.md
Labels: Content:HTTP

Instagram-help-center-in-iran
  files/en-us/web/http/status/429/IIN.md
Labels: Content:HTTP

Initial content of the EyeDropper API
  files/en-us/web/api/colorselectionresult/index.md
  files/en-us/web/api/colorselectionresult/srgbhex/index.md
  files/en-us/web/api/eyedropper/eyedropper/index.md
  files/en-us/web/api/eyedropper/index.md
  files/en-us/web/api/eyedropper/open/index.md
  files/en-us/web/api/eyedropper_api/index.md
  files/jsondata/GroupData.json
  files/jsondata/SpecData.json
Labels: Content:WebAPI

Rename HTML files to MD
  files/en-us/web/guide/ajax/community/index.md
  files/en-us/web/guide/ajax/getting_started/index.md
  files/en-us/web/guide/ajax/index.md
  files/en-us/web/guide/ajax/wai_aria_live_regions_api_support/index.md
  files/en-us/web/guide/api/index.md
  files/en-us/web/guide/api/webrtc/peer-to-peer_communications_with_webrtc/index.md
  files/en-us/web/guide/audio_and_video_delivery/adding_captions_and_subtitles_to_html5_video/index.md
  files/en-us/web/guide/audio_and_video_delivery/buffering_seeking_time_ranges/index.md
  files/en-us/web/guide/audio_and_video_delivery/cross-browser_audio_basics/index.md
  files/en-us/web/guide/audio_and_video_delivery/cross_browser_video_player/index.md
  files/en-us/web/guide/audio_and_video_delivery/index.md
  files/en-us/web/guide/audio_and_video_delivery/live_streaming_web_audio_and_video/index.md
  files/en-us/web/guide/audio_and_video_delivery/setting_up_adaptive_streaming_media_sources/index.md
  files/en-us/web/guide/audio_and_video_delivery/video_player_styling_basics/index.md
  files/en-us/web/guide/audio_and_video_delivery/web_audio_api_cross_browser/index.md
  files/en-us/web/guide/audio_and_video_delivery/webaudio_playbackrate_explained/index.md
  files/en-us/web/guide/audio_and_video_manipulation/index.md
  files/en-us/web/guide/css/block_formatting_context/index.md
  files/en-us/web/guide/css/css_layout/index.md
  files/en-us/web/guide/css/getting_started/challenge_solutions/index.md
  files/en-us/web/guide/graphics/index.md
  files/en-us/web/guide/html/constraint_validation/index.md
  files/en-us/web/guide/html/content_categories/index.md
  files/en-us/web/guide/html/editable_content/index.md
  files/en-us/web/guide/html/xhtml/index.md
  files/en-us/web/guide/index.md
  files/en-us/web/guide/index/index.md
  files/en-us/web/guide/introduction_to_web_development/index.md
  files/en-us/web/guide/mobile/a_hybrid_approach/index.md
  files/en-us/web/guide/mobile/index.md
  files/en-us/web/guide/mobile/mobile-friendliness/index.md
  files/en-us/web/guide/mobile/separate_sites/index.md
  files/en-us/web/guide/parsing_and_serializing_xml/index.md
  files/en-us/web/guide/performance/index.md
  files/en-us/web/guide/printing/index.md
  files/en-us/web/guide/svg-in-opentype/index.md
  files/en-us/web/guide/unicode_bidrectional_text_algorithm/index.md
  files/en-us/web/guide/user_input_methods/index.md
  files/en-us/web/guide/woff/index.md
  files/en-us/web/guide/writing_forward-compatible_websites/index.md
Labels: Content:Learn

Convert files contents to Markdown
  files/en-us/web/guide/ajax/community/index.md
  files/en-us/web/guide/ajax/getting_started/index.md
  files/en-us/web/guide/ajax/index.md
  files/en-us/web/guide/ajax/wai_aria_live_regions_api_support/index.md
  files/en-us/web/guide/api/index.md
  files/en-us/web/guide/api/webrtc/peer-to-peer_communications_with_webrtc/index.md
  files/en-us/web/guide/audio_and_video_delivery/adding_captions_and_subtitles_to_html5_video/index.md
  files/en-us/web/guide/audio_and_video_delivery/buffering_seeking_time_ranges/index.md
  files/en-us/web/guide/audio_and_video_delivery/cross-browser_audio_basics/index.md
  files/en-us/web/guide/audio_and_video_delivery/cross_browser_video_player/index.md
  files/en-us/web/guide/audio_and_video_delivery/index.md
  files/en-us/web/guide/audio_and_video_delivery/live_streaming_web_audio_and_video/index.md
  files/en-us/web/guide/audio_and_video_delivery/setting_up_adaptive_streaming_media_sources/index.md
  files/en-us/web/guide/audio_and_video_delivery/video_player_styling_basics/index.md
  files/en-us/web/guide/audio_and_video_delivery/web_audio_api_cross_browser/index.md
  files/en-us/web/guide/audio_and_video_delivery/webaudio_playbackrate_explained/index.md
  files/en-us/web/guide/audio_and_video_manipulation/index.md
  files/en-us/web/guide/css/block_formatting_context/index.md
  files/en-us/web/guide/css/css_layout/index.md
  files/en-us/web/guide/css/getting_started/challenge_solutions/index.md
  files/en-us/web/guide/graphics/index.md
  files/en-us/web/guide/html/constraint_validation/index.md
  files/en-us/web/guide/html/content_categories/index.md
  files/en-us/web/guide/html/editable_content/index.md
  files/en-us/web/guide/html/xhtml/index.md
  files/en-us/web/guide/index.md
  files/en-us/web/guide/index/index.md
  files/en-us/web/guide/introduction_to_web_development/index.md
  files/en-us/web/guide/mobile/a_hybrid_approach/index.md
  files/en-us/web/guide/mobile/index.md
  files/en-us/web/guide/mobile/mobile-friendliness/index.md
  files/en-us/web/guide/mobile/separate_sites/index.md
  files/en-us/web/guide/parsing_and_serializing_xml/index.md
  files/en-us/web/guide/performance/index.md
  files/en-us/web/guide/printing/index.md
  files/en-us/web/guide/svg-in-opentype/index.md
  files/en-us/web/guide/unicode_bidrectional_text_algorithm/index.md
  files/en-us/web/guide/user_input_methods/index.md
  files/en-us/web/guide/woff/index.md
  files/en-us/web/guide/writing_forward-compatible_websites/index.md
Labels: Content:Learn

Update the Application structure
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/react_getting_started/index.md
Labels: Content:Learn

FF94 Relnote: enterkeyhint supported (#9545)
  files/en-us/mozilla/firefox/releases/94/index.html
Labels: Content:Other

Webdriver (Marionette) Updates
  files/en-us/mozilla/firefox/releases/94/index.html
Labels: Content:Other

Fix CSS code block syntax highlighting
  files/en-us/web/css/url()/index.md
Labels: Content:CSS

update macros
  files/en-us/web/css/url()/index.md
Labels: Content:CSS

Updated format for DOM Exceptions
  files/en-us/web/api/fetchevent/respondwith/index.md
  files/en-us/web/api/filesystemwritablefilestream/write/index.md
  files/en-us/web/api/idbindex/count/index.md
  files/en-us/web/api/idbindex/get/index.md
  files/en-us/web/api/idbindex/getall/index.md
  files/en-us/web/api/idbindex/getallkeys/index.md
  files/en-us/web/api/idbindex/getkey/index.md
  files/en-us/web/api/idbindex/name/index.md
  files/en-us/web/api/idbindex/opencursor/index.md
  files/en-us/web/api/idbindex/openkeycursor/index.md
  files/en-us/web/api/idbtransaction/abort/index.md
  files/en-us/web/api/idbtransaction/commit/index.md
  files/en-us/web/api/mediasource/duration/index.md
  files/en-us/web/api/mediasource/endofstream/index.md
  files/en-us/web/api/offlineaudiocontext/resume/index.md
  files/en-us/web/api/offlineaudiocontext/suspend/index.md
  files/en-us/web/api/oscillatornode/type/index.md
  files/en-us/web/api/rtcdatachannel/send/index.md
  files/en-us/web/api/rtcrtpsender/replacetrack/index.md
  files/en-us/web/api/rtcrtpsender/setparameters/index.md
  files/en-us/web/api/rtcrtpsender/setstreams/index.md
  files/en-us/web/api/serialport/getsignals/index.md
  files/en-us/web/api/serialport/open/index.md
  files/en-us/web/api/serialport/setsignals/index.md
  files/en-us/web/api/sourcebuffer/abort/index.md
  files/en-us/web/api/sourcebuffer/appendwindowend/index.md
  files/en-us/web/api/sourcebuffer/appendwindowstart/index.md
  files/en-us/web/api/sourcebuffer/mode/index.md
  files/en-us/web/api/sourcebuffer/timestampoffset/index.md
  files/en-us/web/api/xrsystem/requestsession/index.md
Labels: Content:WebAPI

Minor format fix
  files/en-us/web/api/rtcdatachannel/send/index.md
Labels: Content:WebAPI

Address review comments
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/setpopup/index.html
  files/en-us/mozilla/add-ons/webextensions/api/management/uninstall/index.html
  files/en-us/mozilla/add-ons/webextensions/api/windows/get/index.html
Labels: Content:WebExt, Content:Other

New page: aria-controls
  files/en-us/web/accessibility/aria/attributes/aria-controls/index.md
Labels: Content:Accessibility

Restore spec table.
  files/en-us/web/api/file_system_access_api/index.md
Labels: Content:WebAPI

Remove draft status from an API overview page. (#9931)
  files/en-us/web/api/file_system_access_api/index.md
Labels: Content:WebAPI

Update files/en-us/web/api/textencoder/textencoder/index.md
  files/en-us/web/api/textencoder/textencoder/index.md
Labels: Content:WebAPI

Update the standard for callbacks in syntax sections
  files/en-us/mdn/structures/syntax_sections/index.md
Labels: Content:Other

Separate the new example into its own section
  files/en-us/web/api/domtokenlist/toggle/index.md
Labels: Content:WebAPI

New Page: aria-current
  files/en-us/web/accessibility/aria/attributes/aria-current/index.md
Labels: Content:Accessibility

aria-current:sidebar
  files/en-us/web/accessibility/aria/attributes/aria-current/index.md
Labels: Content:Accessibility

Add missing variable declaration keyword (#9963)
  files/en-us/web/javascript/reference/statements/for-await...of/index.md
Labels: Content:JS

aria-current:title
  files/en-us/web/accessibility/aria/attributes/aria-current/index.md
Labels: Content:Accessibility

aria-current:links
  files/en-us/web/accessibility/aria/attributes/aria-current/index.md
Labels: Content:Accessibility

aria-current:title
  files/en-us/web/accessibility/aria/attributes/aria-current/index.md
Labels: Content:Accessibility

page title
  files/en-us/web/accessibility/aria/attributes/aria-controls/index.md
Labels: Content:Accessibility

title update
  files/en-us/web/accessibility/aria/attributes/aria-colspan/index.md
Labels: Content:Accessibility

title change
  files/en-us/web/accessibility/aria/attributes/aria-atomic/index.md
Labels: Content:Accessibility

.github/labeler.yml:

Content:Accessibility:
  - files/en-us/web/accessibility/**/*
Content:CSS:
  - files/en-us/web/css/**/*
Content:DevTools:
  - files/en-us/tools/**/*
Content:Glossary:
  - files/en-us/glossary/**/*
Content:HTML:
  - files/en-us/web/html/**/*
Content:HTTP:
  - files/en-us/web/http/**/*
Content:JS:
  - files/en-us/web/javascript/**/*
Content:MathML:
  - files/en-us/web/mathml/**/*
Content:Media:
  - files/en-us/web/media/**/*
Content:SVG:
  - files/en-us/web/svg/**/*
Content:wasm:
  - files/en-us/webassembly/**/*
Content:WebAPI:
  - files/en-us/web/api/**/*
Content:WebDriver:
  - files/en-us/web/webdriver/**/*
Content:WebExt:
  - files/en-us/mozilla/add-ons/webextensions/**/*
Content:Learn:
  - files/en-us/learn/**/*
  - files/en-us/web/guide/**/*
  - files/en-us/web/tutorials/**/*
Content:Learn:Django:
  - files/en-us/learn/server-side/django/**/*
Content:Learn:Express:
  - files/en-us/learn/server-side/express_nodejs/**/*
Content:Other:
  - files/en-us/games/**/*
  - files/en-us/mdn/**/*
  - files/en-us/mozilla/**/*
  - files/en-us/plugins/**/*
  - files/en-us/related/**/*
  - files/en-us/tools/**/*
  - files/en-us/web/demos/**/*
  - files/en-us/web/events/**/*
  - files/en-us/web/exslt/**/*
  - files/en-us/web/manifest/**/*
  - files/en-us/web/opensearch/**/*
  - files/en-us/web/performance/**/*
  - files/en-us/web/privacy/**/*
  - files/en-us/web/progressive_web_apps/**/*
  - files/en-us/web/security/**/*
  - files/en-us/web/web_components/**/*
  - files/en-us/web/xml/**/*
  - files/en-us/web/xpath/**/*
  - files/en-us/web/xslt/**/*
