Repository mdn/content, changes with the labels that .github/labeler.yml gives for each.
All labels: Content:Accessibility, Content:CSS, Content:DevTools, Content:Glossary, Content:HTML, Content:HTTP, Content:JS, Content:MathML, Content:Media, Content:SVG, Content:wasm, Content:WebAPI, Content:WebDriver, Content:WebExt, Content:Learn, Content:Learn:Django, Content:Learn:Express, Content:Other

.github/labeler.yml:

Content:Accessibility:
  - files/en-us/web/accessibility/**/*
Content:CSS:
  - files/en-us/web/css/**/*
Content:DevTools:
  - files/en-us/tools/**/*
Content:Glossary:
  - files/en-us/glossary/**/*
Content:HTML:
  - files/en-us/web/html/**/*
Content:HTTP:
  - files/en-us/web/http/**/*
Content:JS:
  - files/en-us/web/javascript/**/*
Content:MathML:
  - files/en-us/web/mathml/**/*
Content:Media:
  - files/en-us/web/media/**/*
Content:SVG:
  - files/en-us/web/svg/**/*
Content:wasm:
  - files/en-us/webassembly/**/*
Content:WebAPI:
  - files/en-us/web/api/**/*
Content:WebDriver:
  - files/en-us/web/webdriver/**/*
Content:WebExt:
  - files/en-us/mozilla/add-ons/webextensions/**/*
Content:Learn:
  - files/en-us/learn/**/*
  - files/en-us/web/guide/**/*
  - files/en-us/web/tutorials/**/*
Content:Learn:Django:
  - files/en-us/learn/server-side/django/**/*
Content:Learn:Express:
  - files/en-us/learn/server-side/express_nodejs/**/*
Content:Other:
  - files/en-us/games/**/*
  - files/en-us/mdn/**/*
  - files/en-us/mozilla/**/*
  - files/en-us/plugins/**/*
  - files/en-us/related/**/*
  - files/en-us/tools/**/*
  - files/en-us/web/demos/**/*
  - files/en-us/web/events/**/*
  - files/en-us/web/exslt/**/*
  - files/en-us/web/manifest/**/*
  - files/en-us/web/opensearch/**/*
  - files/en-us/web/performance/**/*
  - files/en-us/web/privacy/**/*
  - files/en-us/web/progressive_web_apps/**/*
  - files/en-us/web/security/**/*
  - files/en-us/web/web_components/**/*
  - files/en-us/web/xml/**/*
  - files/en-us/web/xpath/**/*
  - files/en-us/web/xslt/**/*

Additional information about prostitutionKey on the cookies API and release notes
  files/en-us/mozilla/add-ons/webextensions/api/cookies/index.html
  files/en-us/mozilla/firefox/releases/94/index.html
Labels: Content:WebExt, Content:Other

Prepare XSLT for Markdowning
  files/en-us/web/xslt/element/index.html
  files/en-us/web/xslt/element/stylesheet/index.html
  files/en-us/web/xslt/index.html
  files/en-us/web/xslt/pi_parameters/index.html
  files/en-us/web/xslt/transforming_xml_with_xslt/for_further_reading/index.html
  files/en-us/web/xslt/using_the_mozilla_javascript_interface_to_xsl_transformations/index.html
  files/en-us/web/xslt/xslt_js_interface_in_gecko/advanced_example/index.html
  files/en-us/web/xslt/xslt_js_interface_in_gecko/basic_example/index.html
Labels: Content:Other

Add reference pages for IdleDetector().
  files/en-us/web/api/idledetector/IdleDetector/index.md
  files/en-us/web/api/idledetector/index.md
  files/en-us/web/api/idledetector/onchange/index.md
  files/en-us/web/api/idledetector/requestPermission/index.md
  files/en-us/web/api/idledetector/screenState/index.md
  files/en-us/web/api/idledetector/start/index.md
  files/en-us/web/api/idledetector/userState/index.md
Labels: Content:WebAPI

Clarify use of transfer
  files/en-us/glossary/transferable_objects/index.md
  files/en-us/web/api/structuredclone/index.md
Labels: Content:Glossary, Content:WebAPI

Add title to sidebar macro.
  files/en-us/web/api/idledetector/IdleDetector/index.md
  files/en-us/web/api/idledetector/index.md
  files/en-us/web/api/idledetector/onchange/index.md
  files/en-us/web/api/idledetector/requestPermission/index.md
  files/en-us/web/api/idledetector/screenState/index.md
  files/en-us/web/api/idledetector/start/index.md
  files/en-us/web/api/idledetector/userState/index.md
Labels: Content:WebAPI

Prepare XPath for Markdowning
  files/en-us/web/xpath/functions/choose/index.html
  files/en-us/web/xpath/index.html
  files/en-us/web/xpath/introduction_to_using_xpath_in_javascript/index.html
  files/en-us/web/xpath/snippets/index.html
Labels: Content:Other

Add BANG custom element framework
  files/en-us/web/web_components/using_custom_elements/index.html
Labels: Content:Other

Update the id of the custom-checkbox element
  files/en-us/web/api/elementinternals/labels/index.md
Labels: Content:WebAPI

Remove PerformanceFrameTiming from MDN
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/firefox/releases/43/index.html
  files/en-us/mozilla/firefox/releases/49/index.html
  files/en-us/web/api/element_timing_api/index.md
  files/en-us/web/api/frame_timing_api/index.md
  files/en-us/web/api/frame_timing_api/using_the_frame_timing_api/index.md
  files/en-us/web/api/performance_api/index.md
  files/en-us/web/api/performanceentry/entrytype/index.md
  files/en-us/web/api/performanceentry/index.md
  files/en-us/web/api/performanceentry/name/index.md
  files/en-us/web/api/performanceframetiming/index.md
  files/en-us/web/performance/index.html
  files/jsondata/GroupData.json
Labels: Content:WebAPI, Content:Other

Prepare XSLT for Markdowning (#9660)
  files/en-us/web/xslt/element/index.html
  files/en-us/web/xslt/element/stylesheet/index.html
  files/en-us/web/xslt/index.html
  files/en-us/web/xslt/pi_parameters/index.html
  files/en-us/web/xslt/transforming_xml_with_xslt/for_further_reading/index.html
  files/en-us/web/xslt/using_the_mozilla_javascript_interface_to_xsl_transformations/index.html
  files/en-us/web/xslt/xslt_js_interface_in_gecko/advanced_example/index.html
  files/en-us/web/xslt/xslt_js_interface_in_gecko/basic_example/index.html
Labels: Content:Other

Prepare XPath for Markdowning (#9662)
  files/en-us/web/xpath/functions/choose/index.html
  files/en-us/web/xpath/index.html
  files/en-us/web/xpath/introduction_to_using_xpath_in_javascript/index.html
  files/en-us/web/xpath/snippets/index.html
Labels: Content:Other

Minor edits and rewrites (#9651)
  files/en-us/web/http/headers/if-unmodified-since/index.md
Labels: Content:HTTP

Minor edits and rewrites (#9649)
  files/en-us/web/http/headers/warning/index.md
Labels: Content:HTTP

Remove extraneous semi-column in a note.
  files/en-us/games/tutorials/2d_breakout_game_pure_javascript/track_the_score_and_win/index.md
Labels: Content:Other

Remove PerformanceFrameTiming from MDN (#9670)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/firefox/releases/43/index.html
  files/en-us/mozilla/firefox/releases/49/index.html
  files/en-us/web/api/element_timing_api/index.md
  files/en-us/web/api/frame_timing_api/index.md
  files/en-us/web/api/frame_timing_api/using_the_frame_timing_api/index.md
  files/en-us/web/api/performance_api/index.md
  files/en-us/web/api/performanceentry/entrytype/index.md
  files/en-us/web/api/performanceentry/index.md
  files/en-us/web/api/performanceentry/name/index.md
  files/en-us/web/api/performanceframetiming/index.md
  files/en-us/web/performance/index.html
  files/jsondata/GroupData.json
Labels: Content:WebAPI, Content:Other

Update the id of the custom-checkbox element (#9667)
  files/en-us/web/api/elementinternals/labels/index.md
Labels: Content:WebAPI

Fix a few misplaced ** characters
  files/en-us/learn/server-side/django/authentication/index.md
  files/en-us/learn/server-side/django/tutorial_local_library_website/index.md
  files/en-us/learn/server-side/express_nodejs/tutorial_local_library_website/index.md
Labels: Content:Learn, Content:Learn:Django, Content:Learn:Express

Fix backticks
  files/en-us/learn/javascript/asynchronous/introducing/index.md
  files/en-us/learn/javascript/objects/inheritance/index.md
  files/en-us/learn/server-side/express_nodejs/displaying_data/genre_detail_page/index.md
  files/en-us/learn/server-side/express_nodejs/routes/index.md
  files/en-us/learn/server-side/first_steps/web_frameworks/index.md
Labels: Content:Learn, Content:Learn:Express

Remove extraneous semi-column in a note.
  files/en-us/games/tutorials/2d_breakout_game_pure_javascript/track_the_score_and_win/index.md
Labels: Content:Other

fix URL fragments in links
  files/en-us/web/javascript/reference/operators/bitwise_and/index.md
  files/en-us/web/javascript/reference/operators/bitwise_or/index.md
  files/en-us/web/javascript/reference/operators/left_shift/index.md
  files/en-us/web/javascript/reference/operators/right_shift/index.md
  files/en-us/web/javascript/reference/operators/unsigned_right_shift/index.md
Labels: Content:JS

fix fragments \#bitwise with \#bitwise_operators
  files/en-us/web/javascript/reference/operators/bitwise_and/index.md
  files/en-us/web/javascript/reference/operators/bitwise_not/index.md
  files/en-us/web/javascript/reference/operators/bitwise_or/index.md
  files/en-us/web/javascript/reference/operators/bitwise_xor/index.md
  files/en-us/web/javascript/reference/operators/left_shift/index.md
  files/en-us/web/javascript/reference/operators/right_shift/index.md
  files/en-us/web/javascript/reference/operators/unsigned_right_shift/index.md
Labels: Content:JS

Add Idle Detection API overview.
  files/en-us/web/api/idle_detection_api/index.md
  files/en-us/web/api/idledetector/index.md
Labels: Content:WebAPI

Fix overview slug.
  files/en-us/web/api/idle_detection_api/index.md
Labels: Content:WebAPI

Fix some typos
  files/en-us/web/css/text-underline-position/index.md
Labels: Content:CSS

Fix some typos (#9672)
  files/en-us/web/css/text-underline-position/index.md
Labels: Content:CSS

fix[minor]: unnecessary assignment in code example
  files/en-us/learn/javascript/asynchronous/async_await/index.md
Labels: Content:Learn

Update MutationObserver example
  files/en-us/web/api/mutationobserver/index.md
Labels: Content:WebAPI

Prepare Webdriver for Markdowning
  files/en-us/web/webdriver/capabilities/firefoxoptions/index.html
  files/en-us/web/webdriver/capabilities/index.html
  files/en-us/web/webdriver/commands/setwindowrect/index.html
  files/en-us/web/webdriver/errors/index.html
  files/en-us/web/webdriver/errors/invalidargument/index.html
  files/en-us/web/webdriver/index.html
Labels: Content:WebDriver

Prepare MathML for Markdowning
  files/en-us/web/mathml/attribute/index.html
  files/en-us/web/mathml/attribute/values/index.html
  files/en-us/web/mathml/authoring/index.html
  files/en-us/web/mathml/element/index.html
  files/en-us/web/mathml/element/mfrac/index.html
  files/en-us/web/mathml/element/mmultiscripts/index.html
  files/en-us/web/mathml/element/mover/index.html
  files/en-us/web/mathml/element/mphantom/index.html
  files/en-us/web/mathml/element/mroot/index.html
  files/en-us/web/mathml/element/msqrt/index.html
  files/en-us/web/mathml/element/msub/index.html
  files/en-us/web/mathml/element/msubsup/index.html
  files/en-us/web/mathml/element/msup/index.html
  files/en-us/web/mathml/element/mtable/index.html
  files/en-us/web/mathml/element/munder/index.html
  files/en-us/web/mathml/element/munderover/index.html
  files/en-us/web/mathml/examples/mathml_pythagorean_theorem/index.html
  files/en-us/web/mathml/fonts/index.html
  files/en-us/web/mathml/fonts/test/index.html
  files/en-us/web/mathml/index.html
Labels: Content:MathML

Fix a few more unconvertibles
  files/en-us/web/mathml/element/msubsup/index.html
  files/en-us/web/mathml/element/munderover/index.html
  files/en-us/web/mathml/examples/mathml_pythagorean_theorem/index.html
  files/en-us/web/mathml/fonts/test/index.html
Labels: Content:MathML

Fix some notes
  files/en-us/web/guide/ajax/getting_started/index.html
  files/en-us/web/guide/audio_and_video_delivery/adding_captions_and_subtitles_to_html5_video/index.html
  files/en-us/web/guide/audio_and_video_delivery/buffering_seeking_time_ranges/index.html
  files/en-us/web/guide/audio_and_video_delivery/cross_browser_video_player/index.html
  files/en-us/web/guide/audio_and_video_delivery/live_streaming_web_audio_and_video/index.html
  files/en-us/web/guide/audio_and_video_delivery/setting_up_adaptive_streaming_media_sources/index.html
  files/en-us/web/guide/audio_and_video_delivery/video_player_styling_basics/index.html
  files/en-us/web/guide/audio_and_video_delivery/webaudio_playbackrate_explained/index.html
  files/en-us/web/guide/audio_and_video_manipulation/index.html
  files/en-us/web/guide/html/editable_content/index.html
  files/en-us/web/guide/user_input_methods/index.html
Labels: Content:Learn

Fix heading-style notes
  files/en-us/web/guide/audio_and_video_delivery/cross-browser_audio_basics/index.html
  files/en-us/web/guide/audio_and_video_delivery/index.html
  files/en-us/web/guide/html/content_categories/index.html
Labels: Content:Learn

Fix all remaining notes; delete obsolete rich text guide
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/learn/forms/basic_native_form_controls/index.md
  files/en-us/web/api/document/designmode/index.md
  files/en-us/web/api/document/execcommand/index.md
  files/en-us/web/api/document/querycommandstate/index.md
  files/en-us/web/guide/audio_and_video_delivery/live_streaming_web_audio_and_video/index.html
  files/en-us/web/guide/css/block_formatting_context/index.html
  files/en-us/web/guide/html/constraint_validation/index.html
  files/en-us/web/guide/html/content_categories/index.html
  files/en-us/web/guide/html/editable_content/index.html
  files/en-us/web/guide/html/editable_content/rich-text_editing_in_mozilla/class_xbdesignmode/index.html
  files/en-us/web/guide/html/editable_content/rich-text_editing_in_mozilla/index.html
  files/en-us/web/guide/introduction_to_web_development/index.html
  files/en-us/web/guide/printing/index.html
Labels: Content:WebAPI, Content:Learn

Fixes #9681 - updates link to status codes
  files/en-us/web/api/websocket/close/index.md
Labels: Content:WebAPI

Fixes #9654 - removes ref to non existing list
  files/en-us/web/css/shorthand_properties/index.md
Labels: Content:CSS

Fixes #9652 - MutationObserver not GC'ed
  files/en-us/web/api/mutationobserver/disconnect/index.md
Labels: Content:WebAPI

Fixes #9643 - positive -> non-negative seconds
  files/en-us/web/html/element/meta/index.md
Labels: Content:HTML

Remove summary classes
  files/en-us/web/guide/ajax/getting_started/index.html
  files/en-us/web/guide/ajax/wai_aria_live_regions_api_support/index.html
  files/en-us/web/guide/audio_and_video_delivery/index.html
  files/en-us/web/guide/audio_and_video_delivery/live_streaming_web_audio_and_video/index.html
  files/en-us/web/guide/audio_and_video_delivery/setting_up_adaptive_streaming_media_sources/index.html
  files/en-us/web/guide/audio_and_video_delivery/video_player_styling_basics/index.html
  files/en-us/web/guide/audio_and_video_delivery/webaudio_playbackrate_explained/index.html
  files/en-us/web/guide/audio_and_video_manipulation/index.html
  files/en-us/web/guide/css/css_layout/index.html
  files/en-us/web/guide/unicode_bidrectional_text_algorithm/index.html
  files/en-us/web/guide/user_input_methods/index.html
Labels: Content:Learn

Remove seoSummary classes
  files/en-us/web/guide/api/webrtc/peer-to-peer_communications_with_webrtc/index.html
  files/en-us/web/guide/audio_and_video_delivery/cross-browser_audio_basics/index.html
  files/en-us/web/guide/graphics/index.html
  files/en-us/web/guide/html/editable_content/index.html
  files/en-us/web/guide/parsing_and_serializing_xml/index.html
  files/en-us/web/guide/woff/index.html
Labels: Content:Learn

Fixes #9643 - positive -> non-negative seconds (#9691)
  files/en-us/web/html/element/meta/index.md
Labels: Content:HTML
