Repository mdn/content, changes with the labels that .github/labeler.yml gives for each.
All labels: Content:Accessibility, Content:CSS, Content:DevTools, Content:Glossary, Content:HTML, Content:HTTP, Content:JS, Content:MathML, Content:Media, Content:SVG, Content:wasm, Content:WebAPI, Content:WebDriver, Content:WebExt, Content:Learn, Content:Learn:Django, Content:Learn:Express, Content:Other

Fixes #9681 - updates link to status codes (#9687)
  files/en-us/web/api/websocket/close/index.md
Labels: Content:WebAPI

[Markdown][MathML] Prepare MathML for Markdowning (#9685)
  files/en-us/web/mathml/attribute/index.html
  files/en-us/web/mathml/attribute/values/index.html
  files/en-us/web/mathml/authoring/index.html
  files/en-us/web/mathml/element/index.html
  files/en-us/web/mathml/element/mfrac/index.html
  files/en-us/web/mathml/element/mmultiscripts/index.html
  files/en-us/web/mathml/element/mover/index.html
  files/en-us/web/mathml/element/mphantom/index.html
  files/en-us/web/mathml/element/mroot/index.html
  files/en-us/web/mathml/element/msqrt/index.html
  files/en-us/web/mathml/element/msub/index.html
  files/en-us/web/mathml/element/msubsup/index.html
  files/en-us/web/mathml/element/msup/index.html
  files/en-us/web/mathml/element/mtable/index.html
  files/en-us/web/mathml/element/munder/index.html
  files/en-us/web/mathml/element/munderover/index.html
  files/en-us/web/mathml/examples/mathml_pythagorean_theorem/index.html
  files/en-us/web/mathml/fonts/index.html
  files/en-us/web/mathml/fonts/test/index.html
  files/en-us/web/mathml/index.html
Labels: Content:MathML

Prepare Webdriver for Markdowning (#9683)
  files/en-us/web/webdriver/capabilities/firefoxoptions/index.html
  files/en-us/web/webdriver/capabilities/index.html
  files/en-us/web/webdriver/commands/setwindowrect/index.html
  files/en-us/web/webdriver/errors/index.html
  files/en-us/web/webdriver/errors/invalidargument/index.html
  files/en-us/web/webdriver/index.html
Labels: Content:WebDriver

Remove inline styles and various other little problems
  files/en-us/web/guide/ajax/community/index.html
  files/en-us/web/guide/ajax/index.html
  files/en-us/web/guide/audio_and_video_delivery/adding_captions_and_subtitles_to_html5_video/index.html
  files/en-us/web/guide/audio_and_video_delivery/buffering_seeking_time_ranges/index.html
  files/en-us/web/guide/audio_and_video_delivery/cross-browser_audio_basics/index.html
  files/en-us/web/guide/audio_and_video_delivery/cross_browser_video_player/index.html
  files/en-us/web/guide/audio_and_video_delivery/setting_up_adaptive_streaming_media_sources/index.html
  files/en-us/web/guide/audio_and_video_delivery/video_player_styling_basics/index.html
  files/en-us/web/guide/audio_and_video_manipulation/index.html
  files/en-us/web/guide/css/block_formatting_context/index.html
  files/en-us/web/guide/html/editable_content/index.html
  files/en-us/web/guide/mobile/a_hybrid_approach/index.html
  files/en-us/web/guide/mobile/mobile-friendliness/index.html
  files/en-us/web/guide/mobile/separate_sites/index.html
  files/en-us/web/guide/parsing_and_serializing_xml/index.html
Labels: Content:Learn

More misc markup fixes
  files/en-us/web/guide/ajax/community/index.html
  files/en-us/web/guide/audio_and_video_delivery/live_streaming_web_audio_and_video/index.html
  files/en-us/web/guide/css/getting_started/challenge_solutions/index.html
  files/en-us/web/guide/graphics/index.html
  files/en-us/web/guide/html/constraint_validation/index.html
  files/en-us/web/guide/html/content_categories/index.html
  files/en-us/web/guide/html/editable_content/index.html
  files/en-us/web/guide/mobile/a_hybrid_approach/index.html
  files/en-us/web/guide/mobile/mobile-friendliness/index.html
  files/en-us/web/guide/parsing_and_serializing_xml/index.html
Labels: Content:Learn

Remove a stray closing tag
  files/en-us/web/guide/audio_and_video_delivery/video_player_styling_basics/index.html
  files/en-us/web/guide/audio_and_video_delivery/webaudio_playbackrate_explained/index.html
Labels: Content:Learn

Fix incorrect markdown
  files/en-us/glossary/global_object/index.md
Labels: Content:Glossary

Fix incorrect markdown (#9692)
  files/en-us/glossary/global_object/index.md
Labels: Content:Glossary

fix: invalid link to 403 status code
  files/en-us/web/http/status/401/index.md
Labels: Content:HTTP

Fix table markup in game development introduction
  files/en-us/games/introduction_to_html5_game_development/index.md
Labels: Content:Other

Update the CSS code of the quantitative query
  files/en-us/web/css/_colon_nth-last-child/index.md
Labels: Content:CSS

Broken link
  files/en-us/web/api/window/requestanimationframe/index.md
Labels: Content:WebAPI

Remove the MSE track defaults APIs
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/sourcebuffer/trackdefaults/index.md
  files/en-us/web/api/trackdefault/bytestreamtrackid/index.md
  files/en-us/web/api/trackdefault/index.md
  files/en-us/web/api/trackdefault/kinds/index.md
  files/en-us/web/api/trackdefault/label/index.md
  files/en-us/web/api/trackdefault/language/index.md
  files/en-us/web/api/trackdefault/trackdefault/index.md
  files/en-us/web/api/trackdefault/type/index.md
  files/en-us/web/api/trackdefaultlist/index.md
  files/en-us/web/api/trackdefaultlist/length/index.md
  files/en-us/web/api/trackdefaultlist/trackdefaultlist/index.md
Labels: Content:WebAPI

Cleanup
  files/en-us/web/api/media_source_extensions_api/index.md
  files/en-us/web/api/sourcebuffer/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

Separate documentation for WebGL 1 and 2 methods/properties
  files/en-us/web/api/webgl2renderingcontext/bufferdata/index.md
Labels: Content:WebAPI

Remove a link in Web/CSS/table-layout
  files/en-us/web/css/table-layout/index.md
Labels: Content:CSS

Rename HTML files to MD
  files/en-us/web/mathml/attribute/index.md
  files/en-us/web/mathml/attribute/values/index.md
  files/en-us/web/mathml/authoring/index.md
  files/en-us/web/mathml/element/index.md
  files/en-us/web/mathml/element/maction/index.md
  files/en-us/web/mathml/element/math/index.md
  files/en-us/web/mathml/element/menclose/index.md
  files/en-us/web/mathml/element/merror/index.md
  files/en-us/web/mathml/element/mfenced/index.md
  files/en-us/web/mathml/element/mfrac/index.md
  files/en-us/web/mathml/element/mi/index.md
  files/en-us/web/mathml/element/mmultiscripts/index.md
  files/en-us/web/mathml/element/mn/index.md
  files/en-us/web/mathml/element/mo/index.md
  files/en-us/web/mathml/element/mover/index.md
  files/en-us/web/mathml/element/mpadded/index.md
  files/en-us/web/mathml/element/mphantom/index.md
  files/en-us/web/mathml/element/mroot/index.md
  files/en-us/web/mathml/element/mrow/index.md
  files/en-us/web/mathml/element/ms/index.md
  files/en-us/web/mathml/element/mspace/index.md
  files/en-us/web/mathml/element/msqrt/index.md
  files/en-us/web/mathml/element/mstyle/index.md
  files/en-us/web/mathml/element/msub/index.md
  files/en-us/web/mathml/element/msubsup/index.md
  files/en-us/web/mathml/element/msup/index.md
  files/en-us/web/mathml/element/mtable/index.md
  files/en-us/web/mathml/element/mtd/index.md
  files/en-us/web/mathml/element/mtext/index.md
  files/en-us/web/mathml/element/mtr/index.md
  files/en-us/web/mathml/element/munder/index.md
  files/en-us/web/mathml/element/munderover/index.md
  files/en-us/web/mathml/element/semantics/index.md
  files/en-us/web/mathml/examples/deriving_the_quadratic_formula/index.md
  files/en-us/web/mathml/examples/index.md
  files/en-us/web/mathml/examples/mathml_pythagorean_theorem/index.md
  files/en-us/web/mathml/fonts/index.md
  files/en-us/web/mathml/fonts/test/index.md
  files/en-us/web/mathml/index.md
  files/en-us/web/mathml/index/index.md
Labels: Content:MathML

Convert file contents to Markdown
  files/en-us/web/mathml/attribute/index.md
  files/en-us/web/mathml/attribute/values/index.md
  files/en-us/web/mathml/authoring/index.md
  files/en-us/web/mathml/element/index.md
  files/en-us/web/mathml/element/maction/index.md
  files/en-us/web/mathml/element/math/index.md
  files/en-us/web/mathml/element/menclose/index.md
  files/en-us/web/mathml/element/merror/index.md
  files/en-us/web/mathml/element/mfenced/index.md
  files/en-us/web/mathml/element/mfrac/index.md
  files/en-us/web/mathml/element/mi/index.md
  files/en-us/web/mathml/element/mmultiscripts/index.md
  files/en-us/web/mathml/element/mn/index.md
  files/en-us/web/mathml/element/mo/index.md
  files/en-us/web/mathml/element/mover/index.md
  files/en-us/web/mathml/element/mpadded/index.md
  files/en-us/web/mathml/element/mphantom/index.md
  files/en-us/web/mathml/element/mroot/index.md
  files/en-us/web/mathml/element/mrow/index.md
  files/en-us/web/mathml/element/ms/index.md
  files/en-us/web/mathml/element/mspace/index.md
  files/en-us/web/mathml/element/msqrt/index.md
  files/en-us/web/mathml/element/mstyle/index.md
  files/en-us/web/mathml/element/msub/index.md
  files/en-us/web/mathml/element/msubsup/index.md
  files/en-us/web/mathml/element/msup/index.md
  files/en-us/web/mathml/element/mtable/index.md
  files/en-us/web/mathml/element/mtd/index.md
  files/en-us/web/mathml/element/mtext/index.md
  files/en-us/web/mathml/element/mtr/index.md
  files/en-us/web/mathml/element/munder/index.md
  files/en-us/web/mathml/element/munderover/index.md
  files/en-us/web/mathml/element/semantics/index.md
  files/en-us/web/mathml/examples/deriving_the_quadratic_formula/index.md
  files/en-us/web/mathml/examples/index.md
  files/en-us/web/mathml/examples/mathml_pythagorean_theorem/index.md
  files/en-us/web/mathml/fonts/index.md
  files/en-us/web/mathml/fonts/test/index.md
  files/en-us/web/mathml/index.md
  files/en-us/web/mathml/index/index.md
Labels: Content:MathML

Rename HTML files to MD
  files/en-us/web/webdriver/capabilities/acceptinsecurecerts/index.md
  files/en-us/web/webdriver/capabilities/firefoxoptions/index.md
  files/en-us/web/webdriver/capabilities/index.md
  files/en-us/web/webdriver/capabilities/websocketurl/index.md
  files/en-us/web/webdriver/commands/closewindow/index.md
  files/en-us/web/webdriver/commands/getelementattribute/index.md
  files/en-us/web/webdriver/commands/getelementproperty/index.md
  files/en-us/web/webdriver/commands/getelementtagname/index.md
  files/en-us/web/webdriver/commands/gettimeouts/index.md
  files/en-us/web/webdriver/commands/getwindowhandles/index.md
  files/en-us/web/webdriver/commands/getwindowrect/index.md
  files/en-us/web/webdriver/commands/index.md
  files/en-us/web/webdriver/commands/new_window/index.md
  files/en-us/web/webdriver/commands/settimeouts/index.md
  files/en-us/web/webdriver/commands/setwindowrect/index.md
  files/en-us/web/webdriver/errors/index.md
  files/en-us/web/webdriver/errors/insecurecertificate/index.md
  files/en-us/web/webdriver/errors/invalidargument/index.md
  files/en-us/web/webdriver/errors/invalidcookiedomain/index.md
  files/en-us/web/webdriver/errors/invalidselector/index.md
  files/en-us/web/webdriver/errors/invalidsessionid/index.md
  files/en-us/web/webdriver/errors/javascripterror/index.md
  files/en-us/web/webdriver/errors/scripttimeout/index.md
  files/en-us/web/webdriver/errors/staleelementreference/index.md
  files/en-us/web/webdriver/errors/unknowncommand/index.md
  files/en-us/web/webdriver/errors/unknownerror/index.md
  files/en-us/web/webdriver/errors/unknownmethod/index.md
  files/en-us/web/webdriver/index.md
  files/en-us/web/webdriver/timeouts/index.md
Labels: Content:WebDriver

Convert file contents to Markdown
  files/en-us/web/webdriver/capabilities/acceptinsecurecerts/index.md
  files/en-us/web/webdriver/capabilities/firefoxoptions/index.md
  files/en-us/web/webdriver/capabilities/index.md
  files/en-us/web/webdriver/capabilities/websocketurl/index.md
  files/en-us/web/webdriver/commands/closewindow/index.md
  files/en-us/web/webdriver/commands/getelementattribute/index.md
  files/en-us/web/webdriver/commands/getelementproperty/index.md
  files/en-us/web/webdriver/commands/getelementtagname/index.md
  files/en-us/web/webdriver/commands/gettimeouts/index.md
  files/en-us/web/webdriver/commands/getwindowhandles/index.md
  files/en-us/web/webdriver/commands/getwindowrect/index.md
  files/en-us/web/webdriver/commands/index.md
  files/en-us/web/webdriver/commands/new_window/index.md
  files/en-us/web/webdriver/commands/settimeouts/index.md
  files/en-us/web/webdriver/commands/setwindowrect/index.md
  files/en-us/web/webdriver/errors/index.md
  files/en-us/web/webdriver/errors/insecurecertificate/index.md
  files/en-us/web/webdriver/errors/invalidargument/index.md
  files/en-us/web/webdriver/errors/invalidcookiedomain/index.md
  files/en-us/web/webdriver/errors/invalidselector/index.md
  files/en-us/web/webdriver/errors/invalidsessionid/index.md
  files/en-us/web/webdriver/errors/javascripterror/index.md
  files/en-us/web/webdriver/errors/scripttimeout/index.md
  files/en-us/web/webdriver/errors/staleelementreference/index.md
  files/en-us/web/webdriver/errors/unknowncommand/index.md
  files/en-us/web/webdriver/errors/unknownerror/index.md
  files/en-us/web/webdriver/errors/unknownmethod/index.md
  files/en-us/web/webdriver/index.md
  files/en-us/web/webdriver/timeouts/index.md
Labels: Content:WebDriver

Remove a link in Web/CSS/table-layout (#9700)
  files/en-us/web/css/table-layout/index.md
Labels: Content:CSS

Broken link (#9696)
  files/en-us/web/api/window/requestanimationframe/index.md
Labels: Content:WebAPI

More informative link text
  files/en-us/web/http/status/401/index.md
Labels: Content:HTTP

fix: invalid link to 403 status code (#9693)
  files/en-us/web/http/status/401/index.md
Labels: Content:HTTP

Removes the page macro call
  files/en-us/web/css/shorthand_properties/index.md
Labels: Content:CSS

Fixes #9654 - removes ref to non existing list (#9688)
  files/en-us/web/css/shorthand_properties/index.md
Labels: Content:CSS

Prepare EXSLT for Markdowning
  files/en-us/web/exslt/exsl/index.html
  files/en-us/web/exslt/exsl/object-type/index.html
  files/en-us/web/exslt/index.html
  files/en-us/web/exslt/math/index.html
  files/en-us/web/exslt/regexp/index.html
  files/en-us/web/exslt/regexp/match/index.html
  files/en-us/web/exslt/regexp/test/index.html
  files/en-us/web/exslt/set/has-same-node/index.html
  files/en-us/web/exslt/set/index.html
  files/en-us/web/exslt/str/index.html
Labels: Content:Other

Prepare Web/Manifest
  files/en-us/web/manifest/background_color/index.html
  files/en-us/web/manifest/dir/index.html
  files/en-us/web/manifest/iarc_rating_id/index.html
  files/en-us/web/manifest/index.html
  files/en-us/web/manifest/related_applications/index.html
Labels: Content:Other

Remove EffectTiming and KeyframeEffectOptions from MDN
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/tools/page_inspector/how_to/work_with_animations/index.html
  files/en-us/web/api/animation/currenttime/index.md
  files/en-us/web/api/animationeffect/getcomputedtiming/index.md
  files/en-us/web/api/animationeffect/gettiming/index.md
  files/en-us/web/api/animationeffect/index.md
  files/en-us/web/api/animationeffect/updatetiming/index.md
  files/en-us/web/api/effecttiming/delay/index.md
  files/en-us/web/api/effecttiming/direction/index.md
  files/en-us/web/api/effecttiming/duration/index.md
  files/en-us/web/api/effecttiming/easing/cubic-bezier-timing-curve.svg
  files/en-us/web/api/effecttiming/easing/index.md
  files/en-us/web/api/effecttiming/easing/step-timing-func-examples.svg
  files/en-us/web/api/effecttiming/enddelay/index.md
  files/en-us/web/api/effecttiming/fill/index.md
  files/en-us/web/api/effecttiming/index.md
  files/en-us/web/api/effecttiming/iterations/index.md
  files/en-us/web/api/effecttiming/iterationstart/index.md
  files/en-us/web/api/element/animate/index.md
  files/en-us/web/api/keyframeeffect/index.md
  files/en-us/web/api/keyframeeffect/keyframeeffect/index.md
  files/en-us/web/api/keyframeeffectoptions/index.md
  files/en-us/web/api/web_animations_api/index.md
  files/en-us/web/api/web_animations_api/using_the_web_animations_api/index.md
  files/jsondata/GroupData.json
Labels: Content:DevTools, Content:WebAPI, Content:Other

Prepare EXSLT for Markdowning (#9707)
  files/en-us/web/exslt/exsl/index.html
  files/en-us/web/exslt/exsl/object-type/index.html
  files/en-us/web/exslt/index.html
  files/en-us/web/exslt/math/index.html
  files/en-us/web/exslt/regexp/index.html
  files/en-us/web/exslt/regexp/match/index.html
  files/en-us/web/exslt/regexp/test/index.html
  files/en-us/web/exslt/set/has-same-node/index.html
  files/en-us/web/exslt/set/index.html
  files/en-us/web/exslt/str/index.html
Labels: Content:Other

Prepare Web/Manifest (#9708)
  files/en-us/web/manifest/background_color/index.html
  files/en-us/web/manifest/dir/index.html
  files/en-us/web/manifest/iarc_rating_id/index.html
  files/en-us/web/manifest/index.html
  files/en-us/web/manifest/related_applications/index.html
Labels: Content:Other

Unlink BCD from FileSystemFlags dictionary
  files/en-us/web/api/filesystemflags/create/index.md
  files/en-us/web/api/filesystemflags/exclusive/index.md
  files/en-us/web/api/filesystemflags/index.md
Labels: Content:WebAPI

Remove PayerErrors dictionary from MDN
  files/en-us/_wikihistory.json
  files/en-us/web/api/payererrors/email/index.md
  files/en-us/web/api/payererrors/index.md
  files/en-us/web/api/payererrors/name/index.md
  files/en-us/web/api/payererrors/phone/index.md
  files/en-us/web/api/payment_request_api/index.md
Labels: Content:WebAPI

Fix HTML unescaped code
  files/en-us/learn/html/introduction_to_html/getting_started/index.md
Labels: Content:Learn

Remove PositionOptions dictionary from MDN
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/geolocation/getcurrentposition/index.md
  files/en-us/web/api/geolocation/watchposition/index.md
  files/en-us/web/api/geolocation_api/index.md
  files/en-us/web/api/geolocation_api/using_the_geolocation_api/index.md
  files/en-us/web/api/geolocationpositionerror/code/index.md
  files/en-us/web/api/geolocationpositionerror/index.md
  files/en-us/web/api/mediacapabilities/mediacapabilitiesinfo/index.md
  files/en-us/web/api/positionoptions/enablehighaccuracy/index.md
  files/en-us/web/api/positionoptions/index.md
  files/en-us/web/api/positionoptions/maximumage/index.md
  files/en-us/web/api/positionoptions/timeout/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

Remove PublicKeyCredential[Creation/Request]Options dicts from MDN
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/credentialscontainer/create/index.md
  files/en-us/web/api/credentialscontainer/get/index.md
  files/en-us/web/api/publickeycredentialcreationoptions/attestation/index.md
  files/en-us/web/api/publickeycredentialcreationoptions/authenticatorselection/index.md
  files/en-us/web/api/publickeycredentialcreationoptions/challenge/index.md
  files/en-us/web/api/publickeycredentialcreationoptions/excludecredentials/index.md
  files/en-us/web/api/publickeycredentialcreationoptions/extensions/index.md
  files/en-us/web/api/publickeycredentialcreationoptions/index.md
  files/en-us/web/api/publickeycredentialcreationoptions/pubkeycredparams/index.md
  files/en-us/web/api/publickeycredentialcreationoptions/rp/index.md
  files/en-us/web/api/publickeycredentialcreationoptions/timeout/index.md
  files/en-us/web/api/publickeycredentialcreationoptions/user/index.md
  files/en-us/web/api/publickeycredentialrequestoptions/allowcredentials/index.md
  files/en-us/web/api/publickeycredentialrequestoptions/challenge/index.md
  files/en-us/web/api/publickeycredentialrequestoptions/extensions/index.md
  files/en-us/web/api/publickeycredentialrequestoptions/rpid/index.md
  files/en-us/web/api/publickeycredentialrequestoptions/timeout/index.md
  files/en-us/web/api/publickeycredentialrequestoptions/userverification/index.md
Labels: Content:WebAPI

Fix bad redirects
  files/en-us/_redirects.txt
Labels: none

Fix links in CSS Shapes
  files/en-us/web/css/css_shapes/index.md
  files/en-us/web/css/shape-outside/index.md
Labels: Content:CSS

Fix typo
  files/en-us/learn/accessibility/html/index.md
Labels: Content:Learn

Remove StorageEstimate dictionary from MDN
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/cache/index.md
  files/en-us/web/api/storage_api/index.md
  files/en-us/web/api/storageestimate/index.md
  files/en-us/web/api/storageestimate/quota/index.md
  files/en-us/web/api/storageestimate/usage/index.md
  files/en-us/web/api/storagemanager/estimate/index.md
  files/en-us/web/api/storagemanager/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

.github/labeler.yml:

Content:Accessibility:
  - files/en-us/web/accessibility/**/*
Content:CSS:
  - files/en-us/web/css/**/*
Content:DevTools:
  - files/en-us/tools/**/*
Content:Glossary:
  - files/en-us/glossary/**/*
Content:HTML:
  - files/en-us/web/html/**/*
Content:HTTP:
  - files/en-us/web/http/**/*
Content:JS:
  - files/en-us/web/javascript/**/*
Content:MathML:
  - files/en-us/web/mathml/**/*
Content:Media:
  - files/en-us/web/media/**/*
Content:SVG:
  - files/en-us/web/svg/**/*
Content:wasm:
  - files/en-us/webassembly/**/*
Content:WebAPI:
  - files/en-us/web/api/**/*
Content:WebDriver:
  - files/en-us/web/webdriver/**/*
Content:WebExt:
  - files/en-us/mozilla/add-ons/webextensions/**/*
Content:Learn:
  - files/en-us/learn/**/*
  - files/en-us/web/guide/**/*
  - files/en-us/web/tutorials/**/*
Content:Learn:Django:
  - files/en-us/learn/server-side/django/**/*
Content:Learn:Express:
  - files/en-us/learn/server-side/express_nodejs/**/*
Content:Other:
  - files/en-us/games/**/*
  - files/en-us/mdn/**/*
  - files/en-us/mozilla/**/*
  - files/en-us/plugins/**/*
  - files/en-us/related/**/*
  - files/en-us/tools/**/*
  - files/en-us/web/demos/**/*
  - files/en-us/web/events/**/*
  - files/en-us/web/exslt/**/*
  - files/en-us/web/manifest/**/*
  - files/en-us/web/opensearch/**/*
  - files/en-us/web/performance/**/*
  - files/en-us/web/privacy/**/*
  - files/en-us/web/progressive_web_apps/**/*
  - files/en-us/web/security/**/*
  - files/en-us/web/web_components/**/*
  - files/en-us/web/xml/**/*
  - files/en-us/web/xpath/**/*
  - files/en-us/web/xslt/**/*
