Repository mdn/content, changes with the labels that .github/labeler.yml gives for each.
All labels: Content:Accessibility, Content:CSS, Content:DevTools, Content:Glossary, Content:HTML, Content:HTTP, Content:JS, Content:MathML, Content:Media, Content:SVG, Content:wasm, Content:WebAPI, Content:WebDriver, Content:WebExt, Content:Learn, Content:Learn:Django, Content:Learn:Express, Content:Other

.github/labeler.yml:

Content:Accessibility:
  - files/en-us/web/accessibility/**/*
Content:CSS:
  - files/en-us/web/css/**/*
Content:DevTools:
  - files/en-us/tools/**/*
Content:Glossary:
  - files/en-us/glossary/**/*
Content:HTML:
  - files/en-us/web/html/**/*
Content:HTTP:
  - files/en-us/web/http/**/*
Content:JS:
  - files/en-us/web/javascript/**/*
Content:MathML:
  - files/en-us/web/mathml/**/*
Content:Media:
  - files/en-us/web/media/**/*
Content:SVG:
  - files/en-us/web/svg/**/*
Content:wasm:
  - files/en-us/webassembly/**/*
Content:WebAPI:
  - files/en-us/web/api/**/*
Content:WebDriver:
  - files/en-us/web/webdriver/**/*
Content:WebExt:
  - files/en-us/mozilla/add-ons/webextensions/**/*
Content:Learn:
  - files/en-us/learn/**/*
  - files/en-us/web/guide/**/*
  - files/en-us/web/tutorials/**/*
Content:Learn:Django:
  - files/en-us/learn/server-side/django/**/*
Content:Learn:Express:
  - files/en-us/learn/server-side/express_nodejs/**/*
Content:Other:
  - files/en-us/games/**/*
  - files/en-us/mdn/**/*
  - files/en-us/mozilla/**/*
  - files/en-us/plugins/**/*
  - files/en-us/related/**/*
  - files/en-us/tools/**/*
  - files/en-us/web/demos/**/*
  - files/en-us/web/events/**/*
  - files/en-us/web/exslt/**/*
  - files/en-us/web/manifest/**/*
  - files/en-us/web/opensearch/**/*
  - files/en-us/web/performance/**/*
  - files/en-us/web/privacy/**/*
  - files/en-us/web/progressive_web_apps/**/*
  - files/en-us/web/security/**/*
  - files/en-us/web/web_components/**/*
  - files/en-us/web/xml/**/*
  - files/en-us/web/xpath/**/*
  - files/en-us/web/xslt/**/*

Add CrazyGames to list of portals accepting games
  files/en-us/games/publishing_games/game_distribution/index.md
Labels: Content:Other

Fix CSSStyleSheet constructor documentation links/titles (#9890)
  files/en-us/web/api/cssstylesheet/cssstylesheet/index.md
  files/en-us/web/api/cssstylesheet/index.md
Labels: Content:WebAPI

Remove lineTo from roundedRect
  files/en-us/web/api/canvas_api/tutorial/drawing_shapes/index.md
Labels: Content:WebAPI

Push API: Remove old information about Chrome limitation (#9872)
  files/en-us/web/api/push_api/index.md
Labels: Content:WebAPI

Update files/en-us/web/api/contactsmanager/select/index.md
  files/en-us/web/api/contactsmanager/select/index.md
Labels: Content:WebAPI

Changes to address feedback
  files/en-us/mozilla/add-ons/webextensions/api/cookies/index.html
  files/en-us/mozilla/add-ons/webextensions/api/cookies/onchanged/index.html
Labels: Content:WebExt, Content:Other

Update index.html
  files/en-us/mozilla/add-ons/webextensions/intercept_http_requests/index.html
Labels: Content:WebExt, Content:Other

Update index.md
  files/en-us/web/media/formats/video_codecs/index.md
Labels: Content:Media

Apply suggestions from code review
  files/en-us/web/accessibility/aria/roles/banner_role/index.md
  files/en-us/web/accessibility/aria/roles/button_role/index.md
Labels: Content:Accessibility

Remove duplicated section (#9880)
  files/en-us/web/css/css_box_alignment/box_alignment_in_block_abspos_tables/index.md
Labels: Content:CSS

Apply suggestions from code review
  files/en-us/web/accessibility/aria/attributes/aria-busy/index.md
Labels: Content:Accessibility

New Content: aria-busy (#9857)
  files/en-us/web/accessibility/aria/attributes/aria-busy/index.md
Labels: Content:Accessibility

Apply suggestions from code review
  files/en-us/web/accessibility/aria/attributes/aria-activedescendant/index.md
  files/en-us/web/accessibility/aria/attributes/aria-atomic/index.md
  files/en-us/web/accessibility/aria/attributes/aria-autocomplete/index.md
  files/en-us/web/accessibility/aria/attributes/aria-braillelabel/index.md
Labels: Content:Accessibility

Add HTMLCollection.namedItem documentation page
  files/en-us/web/api/htmlcollection/namedItem/index.md
Labels: Content:WebAPI

Update index.md (#9898)
  files/en-us/web/media/formats/video_codecs/index.md
Labels: Content:Media

Fix typo "undeclated"
  files/en-us/web/javascript/reference/errors/undeclared_var/index.md
Labels: Content:JS

Fix broken link to macro source in commonly used macros
  files/en-us/mdn/structures/macros/commonly-used_macros/index.md
Labels: Content:Other

more consistent function expressions for beginners
  files/en-us/learn/server-side/express_nodejs/introduction/index.md
Labels: Content:Learn, Content:Learn:Express

PageMacro: Remove from CSS @media
  files/en-us/web/css/@media/index.md
  files/en-us/web/css/media_queries/using_media_queries/index.md
Labels: Content:CSS

PageMacro: Link rather than include perspective examples
  files/en-us/web/css/css_transforms/using_css_transforms/index.md
  files/en-us/web/css/perspective-origin/index.md
  files/en-us/web/css/perspective/index.md
Labels: Content:CSS

aria-colcount attribute
  files/en-us/web/accessibility/aria/attributes/aria-colcount/index.md
Labels: Content:Accessibility

ARIA Attribute: aria-colcount
  files/en-us/web/accessibility/aria/attributes/aria-colcount/index.md
Labels: Content:Accessibility

added HTML semantics content
  files/en-us/web/accessibility/aria/attributes/aria-colcount/index.md
Labels: Content:Accessibility

native html semantics
  files/en-us/web/accessibility/aria/attributes/aria-colcount/index.md
Labels: Content:Accessibility

Fix flaw in link
  files/en-us/web/css/perspective-origin/index.md
Labels: Content:CSS

Fix up developers.google links
  files/en-us/learn/performance/web_performance_basics/index.md
  files/en-us/learn/tools_and_testing/cross_browser_testing/javascript/index.md
  files/en-us/learn/tools_and_testing/cross_browser_testing/testing_strategies/index.md
  files/en-us/mozilla/add-ons/webextensions/api/devtools/panels/elementspanel/createsidebarpane/index.html
  files/en-us/plugins/flash_to_html5/video/file_format_conversion/index.md
  files/en-us/tools/about_colon_debugging/about_colon_debugging_before_firefox_68/index.html
  files/en-us/tools/about_colon_debugging/index.html
Labels: Content:DevTools, Content:WebExt, Content:Learn, Content:Other

depends on directive, remove for avoid misreads.
  files/en-us/web/http/headers/cache-control/index.md
Labels: Content:HTTP

update list align with current draft
  files/en-us/web/http/headers/cache-control/index.md
Labels: Content:HTTP

add Vocabulary section for clarify terms
  files/en-us/web/http/headers/cache-control/index.md
Labels: Content:HTTP

Fix broken link to macro source in commonly used macros (#9904)
  files/en-us/mdn/structures/macros/commonly-used_macros/index.md
Labels: Content:Other

Fix typo "undeclated" (#9903)
  files/en-us/web/javascript/reference/errors/undeclared_var/index.md
Labels: Content:JS

more consistent function expressions for beginners (#9905)
  files/en-us/learn/server-side/express_nodejs/introduction/index.md
Labels: Content:Learn, Content:Learn:Express

Fix a few TemplateLink macros links
  files/en-us/mdn/contribute/howto/create_an_interactive_exercise_to_help_learning_the_web/index.md
  files/en-us/mdn/contribute/howto/write_an_api_reference/index.md
  files/en-us/mozilla/firefox/experimental_features/index.html
Labels: Content:Other

Update Event interface reference
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/event/bubbles/index.md
  files/en-us/web/api/event/cancelable/index.md
  files/en-us/web/api/event/cancelbubble/index.md
  files/en-us/web/api/event/comparison_of_event_targets/index.md
  files/en-us/web/api/event/composed/index.md
  files/en-us/web/api/event/composedpath/index.md
  files/en-us/web/api/event/currenttarget/index.md
  files/en-us/web/api/event/defaultprevented/index.md
  files/en-us/web/api/event/event/index.md
  files/en-us/web/api/event/eventphase/index.md
  files/en-us/web/api/event/explicitoriginaltarget/index.md
  files/en-us/web/api/event/index.md
  files/en-us/web/api/event/initevent/index.md
  files/en-us/web/api/event/istrusted/index.md
  files/en-us/web/api/event/msconverturl/index.md
  files/en-us/web/api/event/originaltarget/index.md
  files/en-us/web/api/event/preventdefault/index.md
  files/en-us/web/api/event/returnvalue/index.md
  files/en-us/web/api/event/srcelement/index.md
  files/en-us/web/api/event/stopimmediatepropagation/index.md
  files/en-us/web/api/event/stoppropagation/index.md
  files/en-us/web/api/event/target/index.md
  files/en-us/web/api/event/timestamp/index.md
  files/en-us/web/api/event/type/index.md
Labels: Content:WebAPI

Update index.html
  files/en-us/mozilla/add-ons/webextensions/api/runtime/sendmessage/index.html
Labels: Content:WebExt, Content:Other

Update index.html
  files/en-us/mozilla/add-ons/webextensions/api/runtime/sendmessage/index.html
Labels: Content:WebExt, Content:Other

Fix typo
  files/en-us/web/api/event/type/index.md
Labels: Content:WebAPI

Fix Note.
  files/en-us/web/api/event/initevent/index.md
Labels: Content:WebAPI

Fix missing front-matter for bcd
  files/en-us/web/api/event/originaltarget/index.md
Labels: Content:WebAPI

Fix Event.target
  files/en-us/web/api/event/target/index.md
Labels: Content:WebAPI
