Repository mdn/content, changes with the labels that .github/labeler.yml gives for each.
All labels: Content:Accessibility, Content:CSS, Content:Events, Content:Firefox, Content:Games, Content:Glossary, Content:Guide, Content:HTML, Content:HTTP, Content:JS, Content:Learn, Content:Learn:Accessibility, Content:Learn:Client-side, Content:Learn:Cross-Browser-Testing, Content:Learn:CSS, Content:Learn:Django, Content:Learn:Express, Content:Learn:Forms, Content:Learn:GitHub, Content:Learn:HTML, Content:Learn:JavaScript, Content:Manifest, Content:MathML, Content:Media, Content:Meta, Content:Performance, Content:PWA, Content:Security, Content:SVG, Content:wasm, Content:WebAPI, Content:WebDriver, Content:WebExt, Content:Other

add scheduling to list of navigator properties
  files/en-us/web/api/navigator/index.md
Labels: Content:WebAPI

Add page-type for Web/Manifest (#27621)
  files/en-us/web/manifest/background_color/index.md
  files/en-us/web/manifest/categories/index.md
  files/en-us/web/manifest/description/index.md
  files/en-us/web/manifest/display/index.md
  files/en-us/web/manifest/display_override/index.md
  files/en-us/web/manifest/file_handlers/index.md
  files/en-us/web/manifest/icons/index.md
  files/en-us/web/manifest/id/index.md
  files/en-us/web/manifest/index.md
  files/en-us/web/manifest/launch_handler/index.md
  files/en-us/web/manifest/name/index.md
  files/en-us/web/manifest/orientation/index.md
  files/en-us/web/manifest/prefer_related_applications/index.md
  files/en-us/web/manifest/protocol_handlers/index.md
  files/en-us/web/manifest/related_applications/index.md
  files/en-us/web/manifest/scope/index.md
  files/en-us/web/manifest/screenshots/index.md
  files/en-us/web/manifest/serviceworker/index.md
  files/en-us/web/manifest/share_target/index.md
  files/en-us/web/manifest/short_name/index.md
  files/en-us/web/manifest/shortcuts/index.md
  files/en-us/web/manifest/start_url/index.md
  files/en-us/web/manifest/theme_color/index.md
  front-matter-config.json
Labels: Content:Manifest

Updated Parallels Link (#27627)
  files/en-us/learn/tools_and_testing/cross_browser_testing/testing_strategies/index.md
Labels: Content:Learn:Cross-Browser-Testing

chore(api): Minor improvements to lastModified regex (#27626)
  files/en-us/web/api/document/lastmodified/index.md
Labels: Content:WebAPI

"WebKit CSS extensions": move `-webkit-highlight` to deprecated
  files/en-us/web/css/webkit_extensions/index.md
Labels: Content:CSS

Update files/en-us/web/progressive_web_apps/guides/caching/index.md
  files/en-us/web/progressive_web_apps/guides/caching/index.md
Labels: Content:PWA

Update files/en-us/web/progressive_web_apps/guides/caching/index.md
  files/en-us/web/progressive_web_apps/guides/caching/index.md
Labels: Content:PWA

Add explanation that data is in row-major order.
  files/en-us/web/api/imagedata/index.md
Labels: Content:WebAPI

Match network first example code to description
  files/en-us/web/progressive_web_apps/guides/caching/index.md
Labels: Content:PWA

Add a guide to PWA caching strategies (#27442)
  files/en-us/web/progressive_web_apps/guides/caching/index.md
Labels: Content:PWA

Update files/en-us/web/progressive_web_apps/tutorials/js13kgames/index.md
  files/en-us/web/progressive_web_apps/tutorials/js13kgames/index.md
Labels: Content:PWA

Cleaning up the PWA docs in preparation for finalizing the PWA project (#27564)
  files/en-us/_redirects.txt
  files/en-us/web/progressive_web_apps/guides/structural_overview/index.md
  files/en-us/web/progressive_web_apps/index.md
  files/en-us/web/progressive_web_apps/tutorials/js13kgames/app_structure/index.md
  files/en-us/web/progressive_web_apps/tutorials/js13kgames/index.md
  files/en-us/web/progressive_web_apps/tutorials/js13kgames/installable_pwas/index.md
  files/en-us/web/progressive_web_apps/tutorials/js13kgames/installable_pwas/js13kpwa-add.png
  files/en-us/web/progressive_web_apps/tutorials/js13kgames/installable_pwas/js13kpwa-banner.png
  files/en-us/web/progressive_web_apps/tutorials/js13kgames/installable_pwas/js13kpwa-icon.png
  files/en-us/web/progressive_web_apps/tutorials/js13kgames/installable_pwas/js13kpwa-installed.png
  files/en-us/web/progressive_web_apps/tutorials/js13kgames/introduction/index.md
  files/en-us/web/progressive_web_apps/tutorials/js13kgames/loading/index.md
  files/en-us/web/progressive_web_apps/tutorials/js13kgames/offline_service_workers/index.md
  files/en-us/web/progressive_web_apps/tutorials/js13kgames/re-engageable_notifications_push/index.md
Labels: Content:PWA

Update the finalNumber result
  files/en-us/learn/javascript/first_steps/test_your_skills_colon__math/index.md
Labels: Content:Learn:JavaScript

.github/labeler.yml:

Content:Accessibility:
  - files/en-us/web/accessibility/**/*
Content:CSS:
  - files/en-us/web/css/**/*
Content:Events:
  - files/en-us/web/events/**/*
Content:Firefox:
  - files/en-us/mozilla/firefox/**/*
Content:Games:
  - files/en-us/games/**/*
Content:Glossary:
  - files/en-us/glossary/**/*
Content:Guide:
  - files/en-us/web/guide/**/*
Content:HTML:
  - files/en-us/web/html/**/*
Content:HTTP:
  - files/en-us/web/http/**/*
Content:JS:
  - files/en-us/web/javascript/**/*
Content:Learn:
  - any:
      - files/en-us/learn/**/*
      - "!files/en-us/learn/accessibility/**/*"
      - "!files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/**/*"
      - "!files/en-us/learn/tools_and_testing/understanding_client-side_tools/**/*"
      - "!files/en-us/learn/tools_and_testing/cross_browser_testing/**/*"
      - "!files/en-us/learn/css/**/*"
      - "!files/en-us/learn/server-side/django/**/*"
      - "!files/en-us/learn/server-side/express_nodejs/**/*"
      - "!files/en-us/learn/forms/**/*"
      - "!files/en-us/learn/tools_and_testing/github/**/*"
      - "!files/en-us/learn/html/**/*"
      - "!files/en-us/learn/javascript/**/*"
  - files/en-us/web/tutorials/**/*
Content:Learn:Accessibility:
  - files/en-us/learn/accessibility/**/*
Content:Learn:Client-side:
  - files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/**/*
  - files/en-us/learn/tools_and_testing/understanding_client-side_tools/**/*
Content:Learn:Cross-Browser-Testing:
  - files/en-us/learn/tools_and_testing/cross_browser_testing/**/*
Content:Learn:CSS:
  - files/en-us/learn/css
Content:Learn:Django:
  - files/en-us/learn/server-side/django/**/*
Content:Learn:Express:
  - files/en-us/learn/server-side/express_nodejs/**/*
Content:Learn:Forms:
  - files/en-us/learn/forms/**/*
Content:Learn:GitHub:
  - files/en-us/learn/tools_and_testing/github/**/*
Content:Learn:HTML:
  - files/en-us/learn/html/**/*
Content:Learn:JavaScript:
  - files/en-us/learn/javascript/**/*
Content:Manifest:
  - files/en-us/web/manifest/**/*
Content:MathML:
  - files/en-us/web/mathml/**/*
Content:Media:
  - files/en-us/web/media/**/*
Content:Meta:
  - files/en-us/mdn/**/*
Content:Performance:
  - files/en-us/web/performance/**/*
Content:PWA:
  - files/en-us/web/progressive_web_apps/**/*
Content:Security:
  - files/en-us/web/security/**/*
Content:SVG:
  - files/en-us/web/svg/**/*
Content:wasm:
  - files/en-us/webassembly/**/*
Content:WebAPI:
  - files/en-us/web/api/**/*
Content:WebDriver:
  - files/en-us/web/webdriver/**/*
Content:WebExt:
  - files/en-us/mozilla/add-ons/webextensions/**/*
Content:Other:
  - any:
      - files/en-us/mozilla/**/*
      - "!files/en-us/mozilla/add-ons/webextensions/**/*"
      - "!files/en-us/mozilla/firefox/**/*"
  - files/en-us/related/**/*
  - files/en-us/web/demos/**/*
  - files/en-us/web/exslt/**/*
  - files/en-us/web/opensearch/**/*
  - files/en-us/web/privacy/**/*
  - files/en-us/web/text_fragments/**/*
  - files/en-us/web/xml/**/*
  - files/en-us/web/xpath/**/*
  - files/en-us/web/xslt/**/*
