Repository mdn/content, changes with the labels that .github/labeler.yml gives for each.
All labels: Content:Accessibility, Content:CSS, Content:DevTools, Content:Glossary, Content:HTML, Content:HTTP, Content:JS, Content:MathML, Content:Media, Content:SVG, Content:wasm, Content:WebAPI, Content:WebDriver, Content:WebExt, Content:Learn, Content:Learn:Django, Content:Learn:Express, Content:Other

Updates to the pre-existing docs
  files/en-us/web/api/html_sanitizer_api/index.md
  files/en-us/web/api/sanitizer/index.md
  files/en-us/web/api/sanitizer/sanitize/index.md
  files/en-us/web/api/sanitizer/sanitizer/index.md
Labels: Content:WebAPI

Fix terminology for a returned object with properties
  files/en-us/web/api/storagemanager/estimate/index.md
Labels: Content:WebAPI

Fix terminology for a returned object with properties (#9745)
  files/en-us/web/api/storagemanager/estimate/index.md
Labels: Content:WebAPI

Apply suggestions from code review
  files/en-us/web/api/dedicatedworkerglobalscope/postmessage/index.md
Labels: Content:WebAPI

self.structuredClone() - prep docs for FF94 (#9404)
  files/en-us/glossary/transferable_objects/index.md
  files/en-us/web/api/dedicatedworkerglobalscope/postmessage/index.md
  files/en-us/web/api/structuredclone/index.md
  files/en-us/web/api/web_workers_api/structured_clone_algorithm/index.md
  files/en-us/web/api/window/postmessage/index.md
Labels: Content:Glossary, Content:WebAPI

Remove PaymentItem dictionary from MDN
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/paymentitem/index.md
  files/en-us/web/api/paymentrequest/show/index.md
  files/en-us/web/api/paymentrequestupdateevent/updatewith/index.md
Labels: Content:WebAPI

Unlink BCD from VRLayerInit dictionary
  files/en-us/web/api/vrlayerinit/index.md
  files/en-us/web/api/vrlayerinit/leftbounds/index.md
  files/en-us/web/api/vrlayerinit/rightbounds/index.md
  files/en-us/web/api/vrlayerinit/source/index.md
Labels: Content:WebAPI

Remove RTCOfferAnswerOptions and RTC[Offer/Answer]Options from MDN
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/firefox/releases/33/index.html
  files/en-us/mozilla/firefox/releases/42/index.html
  files/en-us/mozilla/firefox/releases/43/index.html
  files/en-us/mozilla/firefox/releases/44/index.html
  files/en-us/mozilla/firefox/releases/48/index.html
  files/en-us/mozilla/firefox/releases/55/index.html
  files/en-us/web/api/rtcansweroptions/index.md
  files/en-us/web/api/rtcofferansweroptions/index.md
  files/en-us/web/api/rtcofferansweroptions/voiceactivitydetection/index.md
  files/en-us/web/api/rtcofferoptions/icerestart/index.md
  files/en-us/web/api/rtcofferoptions/index.md
  files/en-us/web/api/rtcpeerconnection/createanswer/index.md
  files/en-us/web/api/rtcpeerconnection/createoffer/index.md
  files/en-us/web/api/rtcrtpsynchronizationsource/voiceactivityflag/index.md
  files/en-us/web/api/webrtc_api/perfect_negotiation/index.md
  files/en-us/web/api/webrtc_api/using_dtmf/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, Content:Other

Corrects instance of 'ok' to 'OK'
  files/en-us/games/publishing_games/game_monetization/index.md
  files/en-us/games/publishing_games/game_promotion/index.md
  files/en-us/games/tutorials/2d_breakout_game_pure_javascript/move_the_ball/index.md
  files/en-us/learn/css/css_layout/flexbox/index.md
  files/en-us/learn/css/css_layout/practical_positioning_examples/index.md
  files/en-us/learn/html/introduction_to_html/advanced_text_formatting/index.md
  files/en-us/learn/html/introduction_to_html/creating_hyperlinks/index.md
  files/en-us/learn/html/introduction_to_html/html_text_fundamentals/index.md
  files/en-us/learn/html/multimedia_and_embedding/images_in_html/index.md
  files/en-us/learn/html/multimedia_and_embedding/mozilla_splash_page/index.md
  files/en-us/learn/html/multimedia_and_embedding/responsive_images/index.md
  files/en-us/learn/html/multimedia_and_embedding/video_and_audio_content/index.md
  files/en-us/learn/javascript/objects/test_your_skills_colon__object-oriented_javascript/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_components/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_reactivity_lifecycle_accessibility/index.md
  files/en-us/learn/tools_and_testing/cross_browser_testing/introduction/index.md
  files/en-us/web/api/channel_messaging_api/using_channel_messaging/index.md
  files/en-us/web/api/fetch_api/using_fetch/index.md
  files/en-us/web/api/notifications_api/using_the_notifications_api/index.md
  files/en-us/web/api/service_worker_api/using_service_workers/index.md
  files/en-us/web/api/validitystate/badinput/index.md
  files/en-us/web/api/web_speech_api/using_the_web_speech_api/index.md
  files/en-us/web/javascript/reference/errors/malformed_uri/index.md
  files/en-us/web/javascript/reference/global_objects/encodeuri/index.md
  files/en-us/web/javascript/reference/global_objects/encodeuricomponent/index.md
Labels: Content:JS, Content:WebAPI, Content:Learn, Content:Other

fix(html/element/ruby) full title
  files/en-us/web/html/element/ruby/index.md
Labels: Content:HTML

fix(html/element/s) full title
  files/en-us/web/html/element/s/index.md
Labels: Content:HTML

fix(html/element/span) full title
  files/en-us/web/html/element/span/index.md
Labels: Content:HTML

fix(html/element/time) full title
  files/en-us/web/html/element/time/index.md
Labels: Content:HTML

fix(html/element/wbr) full title
  files/en-us/web/html/element/wbr/index.md
Labels: Content:HTML

Document vendor specific search input behavior (#9671)
  files/en-us/web/html/element/input/search/index.md
Labels: Content:HTML

Fix link to replacement for deprecated event (#9744)
  files/en-us/web/api/window/orientationchange_event/index.md
Labels: Content:WebAPI

Unlink BCD from VRLayerInit dictionary (#9747)
  files/en-us/web/api/vrlayerinit/index.md
  files/en-us/web/api/vrlayerinit/leftbounds/index.md
  files/en-us/web/api/vrlayerinit/rightbounds/index.md
  files/en-us/web/api/vrlayerinit/source/index.md
Labels: Content:WebAPI

Simpler `URLSearchParams.getAll` example
  files/en-us/web/api/urlsearchparams/getall/index.md
Labels: Content:WebAPI

WIP changes for feedback
  files/en-us/mozilla/add-ons/webextensions/api/cookies/get/index.html
  files/en-us/mozilla/add-ons/webextensions/api/cookies/getall/index.html
  files/en-us/mozilla/add-ons/webextensions/api/cookies/index.html
Labels: Content:WebExt, Content:Other

added new js coding tools
  files/en-us/web/javascript/index.md
Labels: Content:JS

reverted table back
  files/en-us/web/accessibility/aria/aria_live_regions/index.md
Labels: Content:Accessibility

reverted table back, then reedited to update
  files/en-us/web/accessibility/aria/how_to_file_aria-related_bugs/index.md
Labels: Content:Accessibility

reverted table back, then reedited to update
  files/en-us/web/accessibility/keyboard-navigable_javascript_widgets/index.md
Labels: Content:Accessibility

reverted table back
  files/en-us/web/accessibility/understanding_wcag/operable/index.md
Labels: Content:Accessibility

reverted table back
  files/en-us/web/accessibility/understanding_wcag/operable/index.md
Labels: Content:Accessibility

reverted table back
  files/en-us/web/accessibility/understanding_wcag/perceivable/index.md
Labels: Content:Accessibility

reverted table back
  files/en-us/web/accessibility/understanding_wcag/perceivable/index.md
Labels: Content:Accessibility

github, please see this page has changes, even if it's not this change
  files/en-us/web/accessibility/understanding_wcag/operable/index.md
Labels: Content:Accessibility

github, please see this page has changes, even if it's not this change
  files/en-us/web/accessibility/understanding_wcag/operable/index.md
Labels: Content:Accessibility

added cats are cute to understanding_wcag/operable/index.md to see WTH is going on
  files/en-us/web/accessibility/understanding_wcag/operable/index.md
Labels: Content:Accessibility

removed cats are cute, even though they truly are, to understanding_wcag/operable/index.md to see WTH is going on
  files/en-us/web/accessibility/understanding_wcag/operable/index.md
Labels: Content:Accessibility

Clarify writing by adding backticks
  files/en-us/web/javascript/reference/global_objects/array/reduce/index.md
Labels: Content:JS

Clarify writing by adding backticks (#9755)
  files/en-us/web/javascript/reference/global_objects/array/reduce/index.md
Labels: Content:JS

Fix broken link
  files/en-us/web/css/box-shadow/index.md
Labels: Content:CSS

Apply suggestions from code review
  files/en-us/web/accessibility/aria/roles/alert_role/index.md
  files/en-us/web/accessibility/aria/roles/application_role/index.md
  files/en-us/web/accessibility/aria/roles/article_role/index.md
Labels: Content:Accessibility

Prepare PWA docs for Markdowning
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/progressive_web_apps/add_to_home_screen/index.html
  files/en-us/web/progressive_web_apps/app_structure/index.html
  files/en-us/web/progressive_web_apps/installable_pwas/index.html
  files/en-us/web/progressive_web_apps/installing/index.html
  files/en-us/web/progressive_web_apps/introduction/discoverable.svg
  files/en-us/web/progressive_web_apps/introduction/index.html
  files/en-us/web/progressive_web_apps/introduction/instalingmessengersomanyoptionseek.jpeg
  files/en-us/web/progressive_web_apps/introduction/installable.svg
  files/en-us/web/progressive_web_apps/introduction/linkable.svg
  files/en-us/web/progressive_web_apps/introduction/network-independent.svg
  files/en-us/web/progressive_web_apps/introduction/progressive.svg
  files/en-us/web/progressive_web_apps/introduction/re-engageable.svg
  files/en-us/web/progressive_web_apps/introduction/responsive.svg
  files/en-us/web/progressive_web_apps/introduction/safe.svg
  files/en-us/web/progressive_web_apps/offline_service_workers/index.html
  files/en-us/web/progressive_web_apps/re-engageable_notifications_push/index.html
  files/en-us/web/progressive_web_apps/responsive/graphics_for_responsive_sites/index.html
  files/en-us/web/progressive_web_apps/responsive/media_types/index.html
  files/en-us/web/progressive_web_apps/responsive/mobile_first/index.html
  files/en-us/web/progressive_web_apps/responsive/responsive_design_building_blocks/index.html
  files/en-us/web/progressive_web_apps/responsive/responsive_navigation_patterns/index.html
  files/en-us/web/progressive_web_apps/structural_overview/index.html
Labels: Content:Other

Add missing CSS Color Module Level 4 system color: ButtonBorder
  files/en-us/web/css/color_value/index.md
Labels: Content:CSS

Remove RTCConfiguration dictionary from MDN
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mdn/contribute/howto/write_an_api_reference/sidebars/index.html
  files/en-us/web/api/rtcconfiguration/bundlepolicy/index.md
  files/en-us/web/api/rtcconfiguration/certificates/index.md
  files/en-us/web/api/rtcconfiguration/iceservers/index.md
  files/en-us/web/api/rtcconfiguration/icetransportpolicy/index.md
  files/en-us/web/api/rtcconfiguration/index.md
  files/en-us/web/api/rtcdtlstransport/index.md
  files/en-us/web/api/rtcicecandidate/address/index.md
  files/en-us/web/api/rtciceserver/index.md
  files/en-us/web/api/rtcpeerconnection/getconfiguration/index.md
  files/en-us/web/api/rtcpeerconnection/index.md
  files/en-us/web/api/rtcpeerconnection/rtcpeerconnection/index.md
  files/en-us/web/api/rtcpeerconnection/setconfiguration/index.md
  files/en-us/web/api/rtcrtpreceiver/transport/index.md
  files/en-us/web/api/rtcrtpsender/transport/index.md
  files/en-us/web/api/webrtc_api/index.md
  files/en-us/web/api/webrtc_api/session_lifetime/index.md
  files/en-us/web/api/webrtc_api/signaling_and_video_calling/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, Content:Other

Prepare Performance docs for Markdowning
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/performance/animation_performance_and_frame_rate/index.html
  files/en-us/web/performance/critical_rendering_path/index.html
  files/en-us/web/performance/css_javascript_animation_performance/index.html
  files/en-us/web/performance/dns-prefetch/index.html
  files/en-us/web/performance/fundamentals/index.html
  files/en-us/web/performance/fundamentals/power/448px-ammeter_connected.jpg
  files/en-us/web/performance/fundamentals/power/448px-battery_in_harness.jpg
  files/en-us/web/performance/fundamentals/power/448px-harness_in_device.jpg
  files/en-us/web/performance/fundamentals/power/691px-powertool_launch.png
  files/en-us/web/performance/fundamentals/power/691px-powertool_test_one.png
  files/en-us/web/performance/fundamentals/power/691px-powertool_test_two.png
  files/en-us/web/performance/fundamentals/power/800px-powertool_csv.png
  files/en-us/web/performance/fundamentals/power/index.html
  files/en-us/web/performance/fundamentals/power/mozilla_ammeter.png
  files/en-us/web/performance/fundamentals/power/nexus_4_harness/battery-step1.jpg
  files/en-us/web/performance/fundamentals/power/nexus_4_harness/battery-step2.jpg
  files/en-us/web/performance/fundamentals/power/nexus_4_harness/battery-step3.jpg
  files/en-us/web/performance/fundamentals/power/nexus_4_harness/finished.jpg
  files/en-us/web/performance/fundamentals/power/nexus_4_harness/harnessandtools.jpg
  files/en-us/web/performance/fundamentals/power/nexus_4_harness/harnessmount.jpg
  files/en-us/web/performance/fundamentals/power/nexus_4_harness/index.html
  files/en-us/web/performance/fundamentals/power/nexus_4_harness/n4-parts.jpg
  files/en-us/web/performance/how_browsers_work/index.html
  files/en-us/web/performance/index.html
  files/en-us/web/performance/lazy_loading/index.html
  files/en-us/web/performance/navigation_and_resource_timings/index.html
  files/en-us/web/performance/optimizing_startup_performance/index.html
  files/en-us/web/performance/performance_budgets/index.html
  files/en-us/web/performance/rum-vs-synthetic/index.html
Labels: Content:Other

first four attributes
  files/en-us/web/accessibility/aria/attributes/aria-activedescendant/index.md
  files/en-us/web/accessibility/aria/attributes/aria-atomic/index.md
  files/en-us/web/accessibility/aria/attributes/aria-autocomplete/index.md
  files/en-us/web/accessibility/aria/attributes/aria-braillelabel/index.md
Labels: Content:Accessibility

.github/labeler.yml:

Content:Accessibility:
  - files/en-us/web/accessibility/**/*
Content:CSS:
  - files/en-us/web/css/**/*
Content:DevTools:
  - files/en-us/tools/**/*
Content:Glossary:
  - files/en-us/glossary/**/*
Content:HTML:
  - files/en-us/web/html/**/*
Content:HTTP:
  - files/en-us/web/http/**/*
Content:JS:
  - files/en-us/web/javascript/**/*
Content:MathML:
  - files/en-us/web/mathml/**/*
Content:Media:
  - files/en-us/web/media/**/*
Content:SVG:
  - files/en-us/web/svg/**/*
Content:wasm:
  - files/en-us/webassembly/**/*
Content:WebAPI:
  - files/en-us/web/api/**/*
Content:WebDriver:
  - files/en-us/web/webdriver/**/*
Content:WebExt:
  - files/en-us/mozilla/add-ons/webextensions/**/*
Content:Learn:
  - files/en-us/learn/**/*
  - files/en-us/web/guide/**/*
  - files/en-us/web/tutorials/**/*
Content:Learn:Django:
  - files/en-us/learn/server-side/django/**/*
Content:Learn:Express:
  - files/en-us/learn/server-side/express_nodejs/**/*
Content:Other:
  - files/en-us/games/**/*
  - files/en-us/mdn/**/*
  - files/en-us/mozilla/**/*
  - files/en-us/plugins/**/*
  - files/en-us/related/**/*
  - files/en-us/tools/**/*
  - files/en-us/web/demos/**/*
  - files/en-us/web/events/**/*
  - files/en-us/web/exslt/**/*
  - files/en-us/web/manifest/**/*
  - files/en-us/web/opensearch/**/*
  - files/en-us/web/performance/**/*
  - files/en-us/web/privacy/**/*
  - files/en-us/web/progressive_web_apps/**/*
  - files/en-us/web/security/**/*
  - files/en-us/web/web_components/**/*
  - files/en-us/web/xml/**/*
  - files/en-us/web/xpath/**/*
  - files/en-us/web/xslt/**/*
