Repository mdn/content, changes with the labels that .github/labeler.yml gives for each.
All labels: Content:Accessibility, Content:CSS, Content:DevTools, Content:Glossary, Content:HTML, Content:HTTP, Content:JS, Content:MathML, Content:Media, Content:SVG, Content:wasm, Content:WebAPI, Content:WebDriver, Content:WebExt, Content:Learn, Content:Learn:Django, Content:Learn:Express, Content:Other

Fix possible typo (#9863)
  files/en-us/web/api/web_speech_api/index.md
Labels: Content:WebAPI

Fixes #9433 - reduces emphasis on arrow function (#9865)
  files/en-us/web/javascript/reference/global_objects/promise/index.md
Labels: Content:JS

Add Date(dateObject) constructor.
  files/en-us/web/javascript/reference/global_objects/date/date/index.md
Labels: Content:JS

Add Date(dateObject) constructor. (#9869)
  files/en-us/web/javascript/reference/global_objects/date/date/index.md
Labels: Content:JS

Remove 4th-level heading intertwined with an ordered list
  files/en-us/web/javascript/reference/global_objects/date/date/index.md
Labels: Content:JS

Fix indentation
  files/en-us/web/javascript/reference/global_objects/date/date/index.md
Labels: Content:JS

Push API: Remove old information about Chrome limitation
  files/en-us/web/api/push_api/index.md
Labels: Content:WebAPI

Merge two descriptions of the same exception
  files/en-us/web/api/cssstylesheet/replacesync/index.md
Labels: Content:WebAPI

Fix links in CSS_Images
  files/en-us/web/css/cross-fade()/index.md
  files/en-us/web/css/css_images/using_css_gradients/index.md
Labels: Content:CSS

Merge two descriptions of the same exception (#9873)
  files/en-us/web/api/cssstylesheet/replacesync/index.md
Labels: Content:WebAPI

Fixes #9862
  files/en-us/web/css/image/image()/index.md
Labels: Content:CSS

Update domxref for image-set link (#9876)
  files/en-us/web/css/image/image()/index.md
Labels: Content:CSS

Fix property names which are corrected incorrectly
  files/en-us/web/css/css_box_alignment/box_alignment_in_grid_layout/index.md
  files/en-us/web/css/css_box_alignment/index.md
Labels: Content:CSS

cleanup
  files/en-us/mozilla/add-ons/webextensions/api/extension/sendrequest/index.html
Labels: Content:WebExt, Content:Other

More cleanup
  files/en-us/mozilla/add-ons/webextensions/api/permissions/request/index.html
  files/en-us/mozilla/add-ons/webextensions/api/runtime/getbrowserinfo/index.html
  files/en-us/mozilla/add-ons/webextensions/api/tabs/goback/index.html
  files/en-us/mozilla/add-ons/webextensions/api/tabs/goforward/index.html
  files/en-us/mozilla/add-ons/webextensions/api/tabs/onhighlightchanged/index.html
  files/en-us/mozilla/add-ons/webextensions/api/tabs/tab/index.html
  files/en-us/mozilla/add-ons/webextensions/api/tabs/zoomsettingsscope/index.html
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onauthrequired/index.html
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onbeforeredirect/index.html
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onbeforerequest/index.html
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onbeforesendheaders/index.html
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onerroroccurred/index.html
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onheadersreceived/index.html
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onresponsestarted/index.html
Labels: Content:WebExt, Content:Other

Various updates for feedback
  files/en-us/mozilla/add-ons/webextensions/api/cookies/index.html
  files/en-us/mozilla/add-ons/webextensions/api/cookies/remove/index.html
  files/en-us/mozilla/add-ons/webextensions/api/cookies/set/index.html
Labels: Content:WebExt, Content:Other

Fix property names which are corrected incorrectly (#9877)
  files/en-us/web/css/css_box_alignment/box_alignment_in_grid_layout/index.md
  files/en-us/web/css/css_box_alignment/index.md
Labels: Content:CSS

External link was a redirect. Fixedup
  files/en-us/web/css/css_images/using_css_gradients/index.md
Labels: Content:CSS

Minor layout changes to be ingored
  files/en-us/web/css/cross-fade()/index.md
Labels: Content:CSS

Update to use warning note
  files/en-us/web/css/cross-fade()/index.md
Labels: Content:CSS

Update to use warning note
  files/en-us/web/css/cross-fade()/index.md
Labels: Content:CSS

Fix links in CSS_Images
  files/en-us/web/css/cross-fade()/index.md
  files/en-us/web/css/css_images/using_css_gradients/index.md
Labels: Content:CSS

Minor layout changes to be ingored
  files/en-us/web/css/cross-fade()/index.md
Labels: Content:CSS

External link was a redirect. Fixedup
  files/en-us/web/css/css_images/using_css_gradients/index.md
Labels: Content:CSS

Update files/en-us/web/javascript/reference/functions/arrow_functions/index.md
  files/en-us/web/javascript/reference/functions/arrow_functions/index.md
Labels: Content:JS

Update index.md
  files/en-us/web/javascript/reference/functions/arrow_functions/index.md
Labels: Content:JS

Update files/en-us/web/javascript/reference/functions/arrow_functions/index.md
  files/en-us/web/javascript/reference/functions/arrow_functions/index.md
Labels: Content:JS

Edits and rewrites to improve clarity (#9735)
  files/en-us/web/http/headers/vary/index.md
Labels: Content:HTTP

Fix some small typos and grammar issues (#9832)
  files/en-us/tools/debugger-api/debugger.environment/index.html
  files/en-us/tools/debugger-api/debugger.object/index.html
  files/en-us/web/accessibility/aria/aria_techniques/using_the_alert_role/index.html
  files/en-us/web/accessibility/aria/roles/button_role/index.html
  files/en-us/web/accessibility/aria/roles/main_role/index.html
  files/en-us/web/accessibility/aria/roles/meter_role/index.html
  files/en-us/web/accessibility/aria/roles/role_img/index.html
  files/en-us/web/accessibility/implementing_msaa_server/index.html
Labels: Content:Accessibility, Content:DevTools, Content:Other

Update files/en-us/web/accessibility/aria/attributes/aria-checked/index.md
  files/en-us/web/accessibility/aria/attributes/aria-checked/index.md
Labels: Content:Accessibility

aria-checked attribute (#9849)
  files/en-us/web/accessibility/aria/attributes/aria-checked/index.md
Labels: Content:Accessibility

Fix a term of definition list
  files/en-us/web/css/align-self/index.md
  files/en-us/web/css/justify-items/index.md
  files/en-us/web/css/justify-self/index.md
  files/en-us/web/css/place-content/index.md
  files/en-us/web/css/place-items/index.md
  files/en-us/web/css/place-self/index.md
Labels: Content:CSS

Remove duplicated section
  files/en-us/web/css/css_box_alignment/box_alignment_in_block_abspos_tables/index.md
Labels: Content:CSS

Top level docs updates
  files/en-us/web/api/element/sethtml/index.md
  files/en-us/web/api/html_sanitizer_api/index.md
  files/en-us/web/api/sanitizer/index.md
  files/en-us/web/api/sanitizer/sanitize/index.md
  files/en-us/web/api/sanitizer/sanitizefor/index.md
Labels: Content:WebAPI

Add escaping note and update example
  files/en-us/web/html/element/pre/index.md
Labels: Content:HTML

use relative url
  files/en-us/web/html/element/pre/index.md
Labels: Content:HTML

fix true/false inversion in aria busy page
  files/en-us/web/api/element/ariabusy/index.md
  files/en-us/web/api/elementinternals/ariabusy/index.md
Labels: Content:WebAPI

Remove 4th-level heading intertwined with an ordered list (#9870)
  files/en-us/web/javascript/reference/global_objects/date/date/index.md
Labels: Content:JS

Adding aria-hidden to switch control to avoid confusion
  files/en-us/web/accessibility/aria/roles/switch_role/index.html
Labels: Content:Accessibility

Fix CSSStyleSheet constructor documentation links/titles
  files/en-us/web/api/cssstylesheet/cssstylesheet/index.md
  files/en-us/web/api/cssstylesheet/index.md
Labels: Content:WebAPI

.github/labeler.yml:

Content:Accessibility:
  - files/en-us/web/accessibility/**/*
Content:CSS:
  - files/en-us/web/css/**/*
Content:DevTools:
  - files/en-us/tools/**/*
Content:Glossary:
  - files/en-us/glossary/**/*
Content:HTML:
  - files/en-us/web/html/**/*
Content:HTTP:
  - files/en-us/web/http/**/*
Content:JS:
  - files/en-us/web/javascript/**/*
Content:MathML:
  - files/en-us/web/mathml/**/*
Content:Media:
  - files/en-us/web/media/**/*
Content:SVG:
  - files/en-us/web/svg/**/*
Content:wasm:
  - files/en-us/webassembly/**/*
Content:WebAPI:
  - files/en-us/web/api/**/*
Content:WebDriver:
  - files/en-us/web/webdriver/**/*
Content:WebExt:
  - files/en-us/mozilla/add-ons/webextensions/**/*
Content:Learn:
  - files/en-us/learn/**/*
  - files/en-us/web/guide/**/*
  - files/en-us/web/tutorials/**/*
Content:Learn:Django:
  - files/en-us/learn/server-side/django/**/*
Content:Learn:Express:
  - files/en-us/learn/server-side/express_nodejs/**/*
Content:Other:
  - files/en-us/games/**/*
  - files/en-us/mdn/**/*
  - files/en-us/mozilla/**/*
  - files/en-us/plugins/**/*
  - files/en-us/related/**/*
  - files/en-us/tools/**/*
  - files/en-us/web/demos/**/*
  - files/en-us/web/events/**/*
  - files/en-us/web/exslt/**/*
  - files/en-us/web/manifest/**/*
  - files/en-us/web/opensearch/**/*
  - files/en-us/web/performance/**/*
  - files/en-us/web/privacy/**/*
  - files/en-us/web/progressive_web_apps/**/*
  - files/en-us/web/security/**/*
  - files/en-us/web/web_components/**/*
  - files/en-us/web/xml/**/*
  - files/en-us/web/xpath/**/*
  - files/en-us/web/xslt/**/*
