Repository mdn/content, changes with the labels that .github/labeler.yml gives for each.
All labels: Content:Accessibility, Content:CSS, Content:Events, Content:Firefox, Content:Games, Content:Glossary, Content:Guide, Content:HTML, Content:HTTP, Content:JS, Content:Learn, Content:Learn:Accessibility, Content:Learn:Client-side, Content:Learn:Cross-Browser-Testing, Content:Learn:CSS, Content:Learn:Django, Content:Learn:Express, Content:Learn:Forms, Content:Learn:GitHub, Content:Learn:HTML, Content:Learn:JavaScript, Content:Manifest, Content:MathML, Content:Media, Content:Meta, Content:Performance, Content:PWA, Content:Security, Content:SVG, Content:wasm, Content:WebAPI, Content:WebDriver, Content:WebExt, Content:Other

refactor: remove unused variable in Atomics example
  files/en-us/web/javascript/reference/global_objects/atomics/index.md
Labels: Content:JS

Revert a few descriptions
  files/en-us/web/javascript/reference/global_objects/array/pop/index.md
  files/en-us/web/javascript/reference/global_objects/array/reverse/index.md
  files/en-us/web/javascript/reference/global_objects/array/shift/index.md
  files/en-us/web/javascript/reference/global_objects/array/slice/index.md
  files/en-us/web/javascript/reference/global_objects/array/unshift/index.md
Labels: Content:JS

Clarified which properties are copied to new array (#26427)
  files/en-us/web/javascript/reference/global_objects/array/at/index.md
  files/en-us/web/javascript/reference/global_objects/array/concat/index.md
  files/en-us/web/javascript/reference/global_objects/array/entries/index.md
  files/en-us/web/javascript/reference/global_objects/array/every/index.md
  files/en-us/web/javascript/reference/global_objects/array/fill/index.md
  files/en-us/web/javascript/reference/global_objects/array/filter/index.md
  files/en-us/web/javascript/reference/global_objects/array/find/index.md
  files/en-us/web/javascript/reference/global_objects/array/findindex/index.md
  files/en-us/web/javascript/reference/global_objects/array/findlast/index.md
  files/en-us/web/javascript/reference/global_objects/array/findlastindex/index.md
  files/en-us/web/javascript/reference/global_objects/array/flat/index.md
  files/en-us/web/javascript/reference/global_objects/array/flatmap/index.md
  files/en-us/web/javascript/reference/global_objects/array/foreach/index.md
  files/en-us/web/javascript/reference/global_objects/array/group/index.md
  files/en-us/web/javascript/reference/global_objects/array/grouptomap/index.md
  files/en-us/web/javascript/reference/global_objects/array/includes/index.md
  files/en-us/web/javascript/reference/global_objects/array/index.md
  files/en-us/web/javascript/reference/global_objects/array/indexof/index.md
  files/en-us/web/javascript/reference/global_objects/array/join/index.md
  files/en-us/web/javascript/reference/global_objects/array/lastindexof/index.md
  files/en-us/web/javascript/reference/global_objects/array/length/index.md
  files/en-us/web/javascript/reference/global_objects/array/map/index.md
  files/en-us/web/javascript/reference/global_objects/array/reduce/index.md
  files/en-us/web/javascript/reference/global_objects/array/reduceright/index.md
  files/en-us/web/javascript/reference/global_objects/array/reverse/index.md
  files/en-us/web/javascript/reference/global_objects/array/slice/index.md
  files/en-us/web/javascript/reference/global_objects/array/some/index.md
  files/en-us/web/javascript/reference/global_objects/array/splice/index.md
  files/en-us/web/javascript/reference/global_objects/array/tolocalestring/index.md
  files/en-us/web/javascript/reference/global_objects/array/toreversed/index.md
  files/en-us/web/javascript/reference/global_objects/array/tosorted/index.md
  files/en-us/web/javascript/reference/global_objects/array/unshift/index.md
  files/en-us/web/javascript/reference/global_objects/array/values/index.md
  files/en-us/web/javascript/reference/global_objects/array/with/index.md
Labels: Content:JS

fix: Incorrect range for exception in Number.toExponential()
  files/en-us/web/javascript/reference/global_objects/number/toexponential/index.md
Labels: Content:JS

Update `shape-outside`
  files/en-us/web/css/shape-outside/index.md
Labels: Content:CSS

fix: Incorrect range for exception in Number.toExponential() (#27597)
  files/en-us/web/javascript/reference/global_objects/number/toexponential/index.md
Labels: Content:JS

apply fix from review
  files/en-us/web/css/@font-face/font-feature-settings/index.md
Labels: Content:CSS

Update files/en-us/web/css/font-feature-settings/index.md
  files/en-us/web/css/font-feature-settings/index.md
Labels: Content:CSS

docs(css): Create page for font-feature-settings descriptor of the @font-face rule (#27513)
  files/en-us/web/css/@font-face/ascent-override/index.md
  files/en-us/web/css/@font-face/descent-override/index.md
  files/en-us/web/css/@font-face/font-display/index.md
  files/en-us/web/css/@font-face/font-family/index.md
  files/en-us/web/css/@font-face/font-feature-settings/index.md
  files/en-us/web/css/@font-face/font-feature-settings/montecarlo-regular.woff2
  files/en-us/web/css/@font-face/font-feature-settings/ofl.txt
  files/en-us/web/css/@font-face/font-stretch/index.md
  files/en-us/web/css/@font-face/font-style/index.md
  files/en-us/web/css/@font-face/font-variation-settings/index.md
  files/en-us/web/css/@font-face/font-weight/index.md
  files/en-us/web/css/@font-face/line-gap-override/index.md
  files/en-us/web/css/@font-face/size-adjust/index.md
  files/en-us/web/css/@font-face/src/index.md
  files/en-us/web/css/@font-face/unicode-range/index.md
  files/en-us/web/css/font-feature-settings/index.md
  files/en-us/web/css/font-variation-settings/index.md
  fixes
Labels: Content:CSS

docs(web): prefer background and offline operation doc instead of js13kGames tutorial
  files/en-us/web/api/indexeddb_api/index.md
  files/en-us/web/performance/fundamentals/index.md
  files/en-us/web/performance/index.md
Labels: Content:Performance, Content:WebAPI

relnote(Fx115): isWellFormed and toWellFormed behind pref in 115
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/web/javascript/reference/global_objects/string/iswellformed/index.md
  files/en-us/web/javascript/reference/global_objects/string/towellformed/index.md
Labels: Content:Firefox, Content:JS

finish selector structure
  files/en-us/web/css/css_selectors/index.md
  files/en-us/web/css/css_selectors/selector_structure/index.md
Labels: Content:CSS

Update files/en-us/web/progressive_web_apps/guides/caching/index.md
  files/en-us/web/progressive_web_apps/guides/caching/index.md
Labels: Content:PWA

New pages: CSS selectors and combinators and CSS selector structure
  files/en-us/learn/css/building_blocks/cascade_and_inheritance/index.md
  files/en-us/learn/css/building_blocks/selectors/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/css_selector_page_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/page_type_key/index.md
  files/en-us/web/api/document/queryselector/index.md
  files/en-us/web/api/document/queryselectorall/index.md
  files/en-us/web/api/document_object_model/locating_dom_elements_using_selectors/index.md
  files/en-us/web/api/documentfragment/queryselector/index.md
  files/en-us/web/api/element/closest/index.md
  files/en-us/web/api/element/matches/index.md
  files/en-us/web/api/element/queryselectorall/index.md
  files/en-us/web/api/htmlformelement/index.md
  files/en-us/web/css/_colon_has/index.md
  files/en-us/web/css/cascade/index.md
  files/en-us/web/css/class_selectors/index.md
  files/en-us/web/css/css_selectors/selector_structure/index.md
  files/en-us/web/css/css_selectors/selectors_and_combinators/index.md
  files/en-us/web/css/id_selectors/index.md
  files/en-us/web/css/index.md
  files/en-us/web/css/reference/index.md
  files/en-us/web/css/selector_list/index.md
  files/en-us/web/css/syntax/index.md
  files/en-us/web/css/type_selectors/index.md
  files/en-us/web/css/universal_selectors/index.md
  files/en-us/web/xpath/comparison_with_css_selectors/index.md
Labels: Content:CSS, Content:Meta, Content:WebAPI, Content:Other

capital letter in link
  files/en-us/mdn/writing_guidelines/page_structures/page_types/css_selector_page_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/page_type_key/index.md
  files/en-us/web/css/_colon_has/index.md
  files/en-us/web/css/selector_list/index.md
Labels: Content:CSS, Content:Meta

Apply suggestions from code review
  files/en-us/web/css/namespace_separator/index.md
Labels: Content:CSS

clarifications
  files/en-us/web/css/namespace_separator/index.md
Labels: Content:CSS

Correct Event.type description
  files/en-us/web/api/event/index.md
Labels: Content:WebAPI

github ui is going slow....
  files/en-us/web/css/namespace_separator/index.md
Labels: Content:CSS

Mention Practice Positioning Examples in note alongside mention of CSS layout cookbook.
  files/en-us/learn/css/howto/index.md
Labels: none

fix: border style inset behaves like ridge, outset behaves like groove
  files/en-us/web/css/border-collapse/index.md
  files/en-us/web/css/border-style/index.md
Labels: Content:CSS

Update index.md
  files/en-us/web/api/cachestorage/index.md
Labels: Content:WebAPI

add createElementNS section
  files/en-us/web/css/namespace_separator/index.md
Labels: Content:CSS

prettier is borked
  files/en-us/web/css/namespace_separator/index.md
Labels: Content:CSS

links to examples
  files/en-us/web/css/namespace_separator/index.md
Labels: Content:CSS

Add separate 'precaching' section, and retire cache only
  files/en-us/web/progressive_web_apps/guides/caching/index.md
Labels: Content:PWA

Rename stale-while-revalidate
  files/en-us/web/progressive_web_apps/guides/caching/index.md
Labels: Content:PWA

Move rationale for network-first
  files/en-us/web/progressive_web_apps/guides/caching/index.md
Labels: Content:PWA

Clarify that PWA will use >1 strategy
  files/en-us/web/progressive_web_apps/guides/caching/index.md
Labels: Content:PWA

Implementation of action.getUserSettings
  files/en-us/mozilla/add-ons/webextensions/api/action/getusersettings/index.md
  files/en-us/mozilla/add-ons/webextensions/api/action/index.md
  files/en-us/mozilla/firefox/releases/116/index.md
Labels: Content:Firefox, Content:WebExt

Synchronize with BCD v5.3.0
  files/en-us/web/api/scrolltimeline/index.md
  files/en-us/web/api/scrolltimeline/scrolltimeline/index.md
  files/en-us/web/api/viewtimeline/index.md
  files/en-us/web/api/viewtimeline/viewtimeline/index.md
  files/en-us/web/css/animation-timeline/index.md
  files/en-us/web/css/animation/index.md
  files/en-us/web/css/scroll-timeline-axis/index.md
  files/en-us/web/css/scroll-timeline-name/index.md
  files/en-us/web/css/scroll-timeline/index.md
  files/en-us/web/css/view-timeline-axis/index.md
  files/en-us/web/css/view-timeline-inset/index.md
  files/en-us/web/css/view-timeline-name/index.md
  files/en-us/web/css/view-timeline/index.md
  files/en-us/web/http/headers/sec-purpose/index.md
Labels: Content:CSS, Content:HTTP, Content:WebAPI

fixes review comments
  files/en-us/web/css/font-synthesis-small-caps/index.md
  files/en-us/web/css/font-synthesis-style/index.md
  files/en-us/web/css/font-synthesis-weight/index.md
  files/en-us/web/css/font-synthesis/index.md
Labels: Content:CSS

Fixed double-space found by lint.
  files/en-us/web/api/rtcpeerconnection/icecandidate_event/index.md
Labels: Content:WebAPI

Update cache-then-refresh implementation
  files/en-us/web/progressive_web_apps/guides/caching/index.md
Labels: Content:PWA

isOnToolbar clarification
  files/en-us/mozilla/add-ons/webextensions/api/action/getusersettings/index.md
Labels: Content:WebExt

Reword sentence on precaching
  files/en-us/web/progressive_web_apps/guides/caching/index.md
Labels: Content:PWA

Typo
  files/en-us/web/progressive_web_apps/guides/caching/index.md
Labels: Content:PWA

Apply suggestions from code review
  files/en-us/web/css/namespace_separator/index.md
Labels: Content:CSS

Update files/en-us/web/css/namespace_separator/index.md
  files/en-us/web/css/namespace_separator/index.md
Labels: Content:CSS

revert
  files/en-us/web/xpath/comparison_with_css_selectors/index.md
Labels: Content:Other

.github/labeler.yml:

Content:Accessibility:
  - files/en-us/web/accessibility/**/*
Content:CSS:
  - files/en-us/web/css/**/*
Content:Events:
  - files/en-us/web/events/**/*
Content:Firefox:
  - files/en-us/mozilla/firefox/**/*
Content:Games:
  - files/en-us/games/**/*
Content:Glossary:
  - files/en-us/glossary/**/*
Content:Guide:
  - files/en-us/web/guide/**/*
Content:HTML:
  - files/en-us/web/html/**/*
Content:HTTP:
  - files/en-us/web/http/**/*
Content:JS:
  - files/en-us/web/javascript/**/*
Content:Learn:
  - any:
      - files/en-us/learn/**/*
      - "!files/en-us/learn/accessibility/**/*"
      - "!files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/**/*"
      - "!files/en-us/learn/tools_and_testing/understanding_client-side_tools/**/*"
      - "!files/en-us/learn/tools_and_testing/cross_browser_testing/**/*"
      - "!files/en-us/learn/css/**/*"
      - "!files/en-us/learn/server-side/django/**/*"
      - "!files/en-us/learn/server-side/express_nodejs/**/*"
      - "!files/en-us/learn/forms/**/*"
      - "!files/en-us/learn/tools_and_testing/github/**/*"
      - "!files/en-us/learn/html/**/*"
      - "!files/en-us/learn/javascript/**/*"
  - files/en-us/web/tutorials/**/*
Content:Learn:Accessibility:
  - files/en-us/learn/accessibility/**/*
Content:Learn:Client-side:
  - files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/**/*
  - files/en-us/learn/tools_and_testing/understanding_client-side_tools/**/*
Content:Learn:Cross-Browser-Testing:
  - files/en-us/learn/tools_and_testing/cross_browser_testing/**/*
Content:Learn:CSS:
  - files/en-us/learn/css
Content:Learn:Django:
  - files/en-us/learn/server-side/django/**/*
Content:Learn:Express:
  - files/en-us/learn/server-side/express_nodejs/**/*
Content:Learn:Forms:
  - files/en-us/learn/forms/**/*
Content:Learn:GitHub:
  - files/en-us/learn/tools_and_testing/github/**/*
Content:Learn:HTML:
  - files/en-us/learn/html/**/*
Content:Learn:JavaScript:
  - files/en-us/learn/javascript/**/*
Content:Manifest:
  - files/en-us/web/manifest/**/*
Content:MathML:
  - files/en-us/web/mathml/**/*
Content:Media:
  - files/en-us/web/media/**/*
Content:Meta:
  - files/en-us/mdn/**/*
Content:Performance:
  - files/en-us/web/performance/**/*
Content:PWA:
  - files/en-us/web/progressive_web_apps/**/*
Content:Security:
  - files/en-us/web/security/**/*
Content:SVG:
  - files/en-us/web/svg/**/*
Content:wasm:
  - files/en-us/webassembly/**/*
Content:WebAPI:
  - files/en-us/web/api/**/*
Content:WebDriver:
  - files/en-us/web/webdriver/**/*
Content:WebExt:
  - files/en-us/mozilla/add-ons/webextensions/**/*
Content:Other:
  - any:
      - files/en-us/mozilla/**/*
      - "!files/en-us/mozilla/add-ons/webextensions/**/*"
      - "!files/en-us/mozilla/firefox/**/*"
  - files/en-us/related/**/*
  - files/en-us/web/demos/**/*
  - files/en-us/web/exslt/**/*
  - files/en-us/web/opensearch/**/*
  - files/en-us/web/privacy/**/*
  - files/en-us/web/text_fragments/**/*
  - files/en-us/web/xml/**/*
  - files/en-us/web/xpath/**/*
  - files/en-us/web/xslt/**/*
