Repository mdn/content, changes with the labels that .github/labeler.yml gives for each.
All labels: Content:Accessibility, Content:CSS, Content:DevTools, Content:Glossary, Content:HTML, Content:HTTP, Content:JS, Content:MathML, Content:Media, Content:SVG, Content:wasm, Content:WebAPI, Content:WebDriver, Content:WebExt, Content:Learn, Content:Learn:Django, Content:Learn:Express, Content:Other

.github/labeler.yml:

Content:Accessibility:
  - files/en-us/web/accessibility/**/*
Content:CSS:
  - files/en-us/web/css/**/*
Content:DevTools:
  - files/en-us/tools/**/*
Content:Glossary:
  - files/en-us/glossary/**/*
Content:HTML:
  - files/en-us/web/html/**/*
Content:HTTP:
  - files/en-us/web/http/**/*
Content:JS:
  - files/en-us/web/javascript/**/*
Content:MathML:
  - files/en-us/web/mathml/**/*
Content:Media:
  - files/en-us/web/media/**/*
Content:SVG:
  - files/en-us/web/svg/**/*
Content:wasm:
  - files/en-us/webassembly/**/*
Content:WebAPI:
  - files/en-us/web/api/**/*
Content:WebDriver:
  - files/en-us/web/webdriver/**/*
Content:WebExt:
  - files/en-us/mozilla/add-ons/webextensions/**/*
Content:Learn:
  - files/en-us/learn/**/*
  - files/en-us/web/guide/**/*
  - files/en-us/web/tutorials/**/*
Content:Learn:Django:
  - files/en-us/learn/server-side/django/**/*
Content:Learn:Express:
  - files/en-us/learn/server-side/express_nodejs/**/*
Content:Other:
  - files/en-us/games/**/*
  - files/en-us/mdn/**/*
  - files/en-us/mozilla/**/*
  - files/en-us/plugins/**/*
  - files/en-us/related/**/*
  - files/en-us/tools/**/*
  - files/en-us/web/demos/**/*
  - files/en-us/web/events/**/*
  - files/en-us/web/exslt/**/*
  - files/en-us/web/manifest/**/*
  - files/en-us/web/opensearch/**/*
  - files/en-us/web/performance/**/*
  - files/en-us/web/privacy/**/*
  - files/en-us/web/progressive_web_apps/**/*
  - files/en-us/web/security/**/*
  - files/en-us/web/web_components/**/*
  - files/en-us/web/xml/**/*
  - files/en-us/web/xpath/**/*
  - files/en-us/web/xslt/**/*

removed excess LI
  files/en-us/web/accessibility/aria/attributes/aria-braillelabel/index.md
Labels: Content:Accessibility

ended a js block (#9933)
  files/en-us/web/accessibility/aria/roles/alert_role/index.md
Labels: Content:Accessibility

typo (#9934)
  files/en-us/web/accessibility/aria/roles/article_role/index.md
Labels: Content:Accessibility

Remove experimental technology notice.
  files/en-us/web/api/intersectionobserver/observe/index.md
Labels: Content:WebAPI

New File: aria-braillelabel (#9939)
  files/en-us/web/accessibility/aria/attributes/aria-braillelabel/index.md
Labels: Content:Accessibility

New page: aria-activedescendant (#9936)
  files/en-us/web/accessibility/aria/attributes/aria-activedescendant/index.md
Labels: Content:Accessibility

ARIA: index page for attribute section (#9932)
  files/en-us/web/accessibility/aria/attributes/index.md
Labels: Content:Accessibility

Update index.md
  files/en-us/learn/tools_and_testing/cross_browser_testing/automated_testing/index.md
Labels: Content:Learn

Update files/en-us/web/accessibility/aria/attributes/aria-autocomplete/index.md
  files/en-us/web/accessibility/aria/attributes/aria-autocomplete/index.md
Labels: Content:Accessibility

Fix ARIA link on Cognitive Accessibility page (#9937)
  files/en-us/web/accessibility/cognitive_accessibility/index.md
Labels: Content:Accessibility

role=switch example enhancement
  files/en-us/web/accessibility/aria/roles/switch_role/index.md
Labels: Content:Accessibility

aria-colindextext page
  files/en-us/web/accessibility/aria/attributes/aria-colindextext/index.md
Labels: Content:Accessibility

aria-colindextext API
  files/en-us/web/accessibility/aria/attributes/aria-colindextext/index.md
Labels: Content:Accessibility

aria-rowindextext
  files/en-us/web/accessibility/aria/attributes/aria-colindextext/index.md
Labels: Content:Accessibility

tweaks
  files/en-us/web/accessibility/aria/attributes/aria-colindextext/index.md
Labels: Content:Accessibility

tweaks
  files/en-us/web/accessibility/aria/attributes/aria-colindextext/index.md
Labels: Content:Accessibility

Fix chrome incompatibilities page
  files/en-us/mozilla/add-ons/webextensions/chrome_incompatibilities/index.html
Labels: Content:WebExt, Content:Other

Add-ons: remove sup
  files/en-us/mozilla/add-ons/webextensions/build_a_cross_browser_extension/index.html
Labels: Content:WebExt, Content:Other

Fix constructor syntax.
  files/en-us/web/api/customevent/customevent/index.md
Labels: Content:WebAPI

Use options as name rather than the director name.
  files/en-us/web/api/customevent/customevent/index.md
Labels: Content:WebAPI

Use simpler sentences.
  files/en-us/web/api/customevent/customevent/index.md
Labels: Content:WebAPI

Fix heading level for value of a property
  files/en-us/web/api/customevent/detail/index.md
Labels: Content:WebAPI

Add a link
  files/en-us/web/api/customevent/initcustomevent/index.md
Labels: Content:WebAPI

Remove comma in front of a restrictive clause.
  files/en-us/web/api/customevent/initcustomevent/index.md
Labels: Content:WebAPI

Get rid of Is a
  files/en-us/web/api/customevent/initcustomevent/index.md
Labels: Content:WebAPI

Remove useless comma
  files/en-us/web/api/customevent/initcustomevent/index.md
Labels: Content:WebAPI

Improve grammar
  files/en-us/web/api/event/event/index.md
Labels: Content:WebAPI

Use deprecated rather than the complex legacy alias.
  files/en-us/web/api/event/cancelbubble/index.md
Labels: Content:WebAPI

Simplify grammar
  files/en-us/web/api/event/composed/index.md
Labels: Content:WebAPI

Remove note that was a duplicating info
  files/en-us/web/api/event/bubbles/index.md
Labels: Content:WebAPI

Moved notes out of Value to the general intro
  files/en-us/web/api/event/composed/index.md
Labels: Content:WebAPI

Fix with numerous suggestions from the code review
  files/en-us/web/api/event/currenttarget/index.md
  files/en-us/web/api/event/eventphase/index.md
  files/en-us/web/api/event/explicitoriginaltarget/index.md
  files/en-us/web/api/event/initevent/index.md
  files/en-us/web/api/event/returnvalue/index.md
  files/en-us/web/api/event/timestamp/index.md
Labels: Content:WebAPI

Is a -> A
  files/en-us/web/api/event/initevent/index.md
Labels: Content:WebAPI

Remove extraneous empty line
  files/en-us/web/api/event/returnvalue/index.md
Labels: Content:WebAPI

Makes the MD link be on one single line
  files/en-us/web/api/event/target/index.md
Labels: Content:WebAPI

Remove DOMString and list syntax without []
  files/en-us/web/api/event/event/index.md
Labels: Content:WebAPI

Remove DOMString in Event.type
  files/en-us/web/api/event/type/index.md
Labels: Content:WebAPI

Fix example code
  files/en-us/web/api/htmlcollection/nameditem/index.md
Labels: Content:WebAPI

Fix Event.timestamp
  files/en-us/web/api/event/timestamp/index.md
Labels: Content:WebAPI

Add missing space
  files/en-us/web/api/event/returnvalue/index.md
Labels: Content:WebAPI
