Repository mdn/content, changes with the labels that .github/labeler.yml gives for each.
All labels: Content:Accessibility, Content:CSS, Content:DevTools, Content:Glossary, Content:HTML, Content:HTTP, Content:JS, Content:MathML, Content:Media, Content:SVG, Content:wasm, Content:WebAPI, Content:WebDriver, Content:WebExt, Content:Learn, Content:Learn:Django, Content:Learn:Express, Content:Other

Rename HTML files to MD
  files/en-us/web/manifest/background_color/index.md
  files/en-us/web/manifest/categories/index.md
  files/en-us/web/manifest/description/index.md
  files/en-us/web/manifest/dir/index.md
  files/en-us/web/manifest/display/index.md
  files/en-us/web/manifest/iarc_rating_id/index.md
  files/en-us/web/manifest/icons/index.md
  files/en-us/web/manifest/index.md
  files/en-us/web/manifest/lang/index.md
  files/en-us/web/manifest/name/index.md
  files/en-us/web/manifest/orientation/index.md
  files/en-us/web/manifest/prefer_related_applications/index.md
  files/en-us/web/manifest/protocol_handlers/index.md
  files/en-us/web/manifest/related_applications/index.md
  files/en-us/web/manifest/scope/index.md
  files/en-us/web/manifest/screenshots/index.md
  files/en-us/web/manifest/short_name/index.md
  files/en-us/web/manifest/shortcuts/index.md
  files/en-us/web/manifest/start_url/index.md
  files/en-us/web/manifest/theme_color/index.md
Labels: Content:Other

Rename HTML files MD
  files/en-us/webassembly/c_to_wasm/index.md
  files/en-us/webassembly/caching_modules/index.md
  files/en-us/webassembly/concepts/index.md
  files/en-us/webassembly/existing_c_to_wasm/index.md
  files/en-us/webassembly/exported_functions/index.md
  files/en-us/webassembly/index.md
  files/en-us/webassembly/index/index.md
  files/en-us/webassembly/loading_and_running/index.md
  files/en-us/webassembly/reference/control_flow/block/index.md
  files/en-us/webassembly/reference/control_flow/br/index.md
  files/en-us/webassembly/reference/control_flow/call/index.md
  files/en-us/webassembly/reference/control_flow/end/index.md
  files/en-us/webassembly/reference/control_flow/if...else/index.md
  files/en-us/webassembly/reference/control_flow/index.md
  files/en-us/webassembly/reference/control_flow/loop/index.md
  files/en-us/webassembly/reference/control_flow/nop/index.md
  files/en-us/webassembly/reference/control_flow/return/index.md
  files/en-us/webassembly/reference/control_flow/unreachable/index.md
  files/en-us/webassembly/rust_to_wasm/index.md
  files/en-us/webassembly/text_format_to_wasm/index.md
  files/en-us/webassembly/understanding_the_text_format/index.md
  files/en-us/webassembly/using_the_javascript_api/index.md
Labels: Content:wasm

Convert file contents to Markdown
  files/en-us/webassembly/c_to_wasm/index.md
  files/en-us/webassembly/caching_modules/index.md
  files/en-us/webassembly/concepts/index.md
  files/en-us/webassembly/existing_c_to_wasm/index.md
  files/en-us/webassembly/exported_functions/index.md
  files/en-us/webassembly/index.md
  files/en-us/webassembly/index/index.md
  files/en-us/webassembly/loading_and_running/index.md
  files/en-us/webassembly/reference/control_flow/block/index.md
  files/en-us/webassembly/reference/control_flow/br/index.md
  files/en-us/webassembly/reference/control_flow/call/index.md
  files/en-us/webassembly/reference/control_flow/end/index.md
  files/en-us/webassembly/reference/control_flow/if...else/index.md
  files/en-us/webassembly/reference/control_flow/index.md
  files/en-us/webassembly/reference/control_flow/loop/index.md
  files/en-us/webassembly/reference/control_flow/nop/index.md
  files/en-us/webassembly/reference/control_flow/return/index.md
  files/en-us/webassembly/reference/control_flow/unreachable/index.md
  files/en-us/webassembly/rust_to_wasm/index.md
  files/en-us/webassembly/text_format_to_wasm/index.md
  files/en-us/webassembly/understanding_the_text_format/index.md
  files/en-us/webassembly/using_the_javascript_api/index.md
Labels: Content:wasm

Convert file contents to Markdown
  files/en-us/web/mathml/attribute/index.md
  files/en-us/web/mathml/attribute/values/index.md
  files/en-us/web/mathml/authoring/index.md
  files/en-us/web/mathml/element/index.md
  files/en-us/web/mathml/element/maction/index.md
  files/en-us/web/mathml/element/math/index.md
  files/en-us/web/mathml/element/menclose/index.md
  files/en-us/web/mathml/element/merror/index.md
  files/en-us/web/mathml/element/mfenced/index.md
  files/en-us/web/mathml/element/mfrac/index.md
  files/en-us/web/mathml/element/mi/index.md
  files/en-us/web/mathml/element/mmultiscripts/index.md
  files/en-us/web/mathml/element/mn/index.md
  files/en-us/web/mathml/element/mo/index.md
  files/en-us/web/mathml/element/mover/index.md
  files/en-us/web/mathml/element/mpadded/index.md
  files/en-us/web/mathml/element/mphantom/index.md
  files/en-us/web/mathml/element/mroot/index.md
  files/en-us/web/mathml/element/mrow/index.md
  files/en-us/web/mathml/element/ms/index.md
  files/en-us/web/mathml/element/mspace/index.md
  files/en-us/web/mathml/element/msqrt/index.md
  files/en-us/web/mathml/element/mstyle/index.md
  files/en-us/web/mathml/element/msub/index.md
  files/en-us/web/mathml/element/msubsup/index.md
  files/en-us/web/mathml/element/msup/index.md
  files/en-us/web/mathml/element/mtable/index.md
  files/en-us/web/mathml/element/mtd/index.md
  files/en-us/web/mathml/element/mtext/index.md
  files/en-us/web/mathml/element/mtr/index.md
  files/en-us/web/mathml/element/munder/index.md
  files/en-us/web/mathml/element/munderover/index.md
  files/en-us/web/mathml/element/semantics/index.md
  files/en-us/web/mathml/examples/deriving_the_quadratic_formula/index.md
  files/en-us/web/mathml/examples/index.md
  files/en-us/web/mathml/examples/mathml_pythagorean_theorem/index.md
  files/en-us/web/mathml/fonts/index.md
  files/en-us/web/mathml/fonts/test/index.md
  files/en-us/web/mathml/index.md
  files/en-us/web/mathml/index/index.md
Labels: Content:MathML

Rename HTML files to MD
  files/en-us/web/mathml/attribute/index.md
  files/en-us/web/mathml/attribute/values/index.md
  files/en-us/web/mathml/authoring/index.md
  files/en-us/web/mathml/element/index.md
  files/en-us/web/mathml/element/maction/index.md
  files/en-us/web/mathml/element/math/index.md
  files/en-us/web/mathml/element/menclose/index.md
  files/en-us/web/mathml/element/merror/index.md
  files/en-us/web/mathml/element/mfenced/index.md
  files/en-us/web/mathml/element/mfrac/index.md
  files/en-us/web/mathml/element/mi/index.md
  files/en-us/web/mathml/element/mmultiscripts/index.md
  files/en-us/web/mathml/element/mn/index.md
  files/en-us/web/mathml/element/mo/index.md
  files/en-us/web/mathml/element/mover/index.md
  files/en-us/web/mathml/element/mpadded/index.md
  files/en-us/web/mathml/element/mphantom/index.md
  files/en-us/web/mathml/element/mroot/index.md
  files/en-us/web/mathml/element/mrow/index.md
  files/en-us/web/mathml/element/ms/index.md
  files/en-us/web/mathml/element/mspace/index.md
  files/en-us/web/mathml/element/msqrt/index.md
  files/en-us/web/mathml/element/mstyle/index.md
  files/en-us/web/mathml/element/msub/index.md
  files/en-us/web/mathml/element/msubsup/index.md
  files/en-us/web/mathml/element/msup/index.md
  files/en-us/web/mathml/element/mtable/index.md
  files/en-us/web/mathml/element/mtd/index.md
  files/en-us/web/mathml/element/mtext/index.md
  files/en-us/web/mathml/element/mtr/index.md
  files/en-us/web/mathml/element/munder/index.md
  files/en-us/web/mathml/element/munderover/index.md
  files/en-us/web/mathml/element/semantics/index.md
  files/en-us/web/mathml/examples/deriving_the_quadratic_formula/index.md
  files/en-us/web/mathml/examples/index.md
  files/en-us/web/mathml/examples/mathml_pythagorean_theorem/index.md
  files/en-us/web/mathml/fonts/index.md
  files/en-us/web/mathml/fonts/test/index.md
  files/en-us/web/mathml/index.md
  files/en-us/web/mathml/index/index.md
Labels: Content:MathML

Fix Array doc: remove String.replace from RegExp discussion
  files/en-us/web/javascript/reference/global_objects/array/index.md
Labels: Content:JS

Fixes #9652 - MutationObserver not GC'ed (#9689)
  files/en-us/web/api/mutationobserver/disconnect/index.md
Labels: Content:WebAPI

Code example inconsistent formatting (#8644)
  files/en-us/mozilla/add-ons/webextensions/your_second_webextension/index.html
Labels: Content:WebExt, Content:Other

Addressed feedback regarding status information for dynamic partitioning and formatting of new content
  files/en-us/mozilla/add-ons/webextensions/api/cookies/index.html
  files/en-us/web/privacy/state_partitioning/index.html
Labels: Content:WebExt, Content:Other

Edits and rewrites to improve clarity
  files/en-us/web/http/headers/vary/index.md
Labels: Content:HTTP

Remove PaymentCurrencyAmount dictionary from MDN
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/paymentcurrencyamount/currency/index.md
  files/en-us/web/api/paymentcurrencyamount/currencysystem/index.md
  files/en-us/web/api/paymentcurrencyamount/index.md
  files/en-us/web/api/paymentcurrencyamount/value/index.md
  files/en-us/web/api/paymentitem/index.md
Labels: Content:WebAPI

Update the CSS code of the quantitative query (#9695)
  files/en-us/web/css/_colon_nth-last-child/index.md
Labels: Content:CSS

Remove MutationObserverInit dictionary from MDN
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/firefox/releases/61/index.html
  files/en-us/web/api/mutationobserver/observe/index.md
  files/en-us/web/api/mutationobserverinit/attributefilter/index.md
  files/en-us/web/api/mutationobserverinit/attributeoldvalue/index.md
  files/en-us/web/api/mutationobserverinit/attributes/index.md
  files/en-us/web/api/mutationobserverinit/characterdata/index.md
  files/en-us/web/api/mutationobserverinit/characterdataoldvalue/index.md
  files/en-us/web/api/mutationobserverinit/childlist/index.md
  files/en-us/web/api/mutationobserverinit/index.md
  files/en-us/web/api/mutationobserverinit/subtree/index.md
  files/en-us/web/api/mutationrecord/index.md
Labels: Content:WebAPI, Content:Other

Document vendor specific search input behavior
  files/en-us/web/html/element/input/search/index.md
Labels: Content:HTML

Just indulging my opinions around layout
  files/en-us/web/api/mutationobserver/observe/index.md
Labels: Content:WebAPI

Add example for attributeFilter property
  files/en-us/web/api/mutationobserver/observe/index.md
Labels: Content:WebAPI

Remove PaymentCurrencyAmount dictionary from MDN (#9736)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/paymentcurrencyamount/currency/index.md
  files/en-us/web/api/paymentcurrencyamount/currencysystem/index.md
  files/en-us/web/api/paymentcurrencyamount/index.md
  files/en-us/web/api/paymentcurrencyamount/value/index.md
  files/en-us/web/api/paymentitem/index.md
Labels: Content:WebAPI

Array.fill() does not populate with random values
  files/en-us/web/javascript/reference/global_objects/array/fill/index.md
Labels: Content:JS

Remove MutationObserverInit dictionary from MDN (#9737)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/firefox/releases/61/index.html
  files/en-us/web/api/mutationobserver/observe/index.md
  files/en-us/web/api/mutationobserverinit/attributefilter/index.md
  files/en-us/web/api/mutationobserverinit/attributeoldvalue/index.md
  files/en-us/web/api/mutationobserverinit/attributes/index.md
  files/en-us/web/api/mutationobserverinit/characterdata/index.md
  files/en-us/web/api/mutationobserverinit/characterdataoldvalue/index.md
  files/en-us/web/api/mutationobserverinit/childlist/index.md
  files/en-us/web/api/mutationobserverinit/index.md
  files/en-us/web/api/mutationobserverinit/subtree/index.md
  files/en-us/web/api/mutationrecord/index.md
Labels: Content:WebAPI, Content:Other

Apply suggestions from code review
  files/en-us/glossary/transferable_objects/index.md
  files/en-us/web/api/structuredclone/index.md
Labels: Content:Glossary, Content:WebAPI

Introduce resources
  files/en-us/glossary/transferable_objects/index.md
Labels: Content:Glossary

two pages i failed to port over
  files/en-us/web/accessibility/accessibility_and_spacial_patterns/index.md
  files/en-us/web/accessibility/information_for_web_authors/index.md
Labels: Content:Accessibility

Changed wording to possibly avoid confusion
  files/en-us/learn/html/introduction_to_html/getting_started/index.md
Labels: Content:Learn

moved non converted files back to html
  files/en-us/web/accessibility/aria/aria_test_cases/index.md
  files/en-us/web/accessibility/aria/web_applications_and_aria_faq/index.md
  files/en-us/web/accessibility/aria/widgets/index.md
Labels: Content:Accessibility

Fix month options return value
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/datetimeformat/index.md
Labels: Content:JS

Changed wording to possibly avoid confusion (#9739)
  files/en-us/learn/html/introduction_to_html/getting_started/index.md
Labels: Content:Learn

Fix link to replacement for deprecated event
  files/en-us/web/api/window/orientationchange_event/index.md
Labels: Content:WebAPI

seizure_disorders page
  files/en-us/web/accessibility/aria/aria_test_cases/index.html
  files/en-us/web/accessibility/aria/web_applications_and_aria_faq/index.html
  files/en-us/web/accessibility/aria/widgets/index.html
Labels: Content:Accessibility

link md'ed
  files/en-us/web/accessibility/aria/index.md
Labels: Content:Accessibility

seizure disorders ugly links
  files/en-us/web/accessibility/seizure_disorders/index.md
Labels: Content:Accessibility

got rid of some figure elements
  files/en-us/web/accessibility/understanding_colors_and_luminance/index.md
Labels: Content:Accessibility

put periods in the links so the page doesn't break
  files/en-us/web/accessibility/understanding_wcag/operable/index.md
Labels: Content:Accessibility

links md'ed
  files/en-us/web/accessibility/aria/index.md
  files/en-us/web/accessibility/understanding_wcag/perceivable/index.md
  files/en-us/web/accessibility/understanding_wcag/robust/index.md
  files/en-us/web/accessibility/understanding_wcag/understandable/index.md
Labels: Content:Accessibility

de-uglified links
  files/en-us/web/accessibility/understanding_wcag/perceivable/index.md
  files/en-us/web/accessibility/understanding_wcag/robust/index.md
Labels: Content:Accessibility

removed useless sidebar
  files/en-us/web/accessibility/aria/index.md
Labels: Content:Accessibility

links md'ed
  files/en-us/web/accessibility/mobile_accessibility_checklist/index.md
Labels: Content:Accessibility

Fix up santize() to remove invalid example
  files/en-us/web/api/sanitizer/sanitize/index.md
Labels: Content:WebAPI

thematic break
  files/en-us/web/accessibility/understanding_colors_and_luminance/index.md
Labels: Content:Accessibility

links md'ed
  files/en-us/web/accessibility/understanding_wcag/operable/index.md
Labels: Content:Accessibility

links md'ed
  files/en-us/web/accessibility/understanding_wcag/perceivable/index.md
Labels: Content:Accessibility

.github/labeler.yml:

Content:Accessibility:
  - files/en-us/web/accessibility/**/*
Content:CSS:
  - files/en-us/web/css/**/*
Content:DevTools:
  - files/en-us/tools/**/*
Content:Glossary:
  - files/en-us/glossary/**/*
Content:HTML:
  - files/en-us/web/html/**/*
Content:HTTP:
  - files/en-us/web/http/**/*
Content:JS:
  - files/en-us/web/javascript/**/*
Content:MathML:
  - files/en-us/web/mathml/**/*
Content:Media:
  - files/en-us/web/media/**/*
Content:SVG:
  - files/en-us/web/svg/**/*
Content:wasm:
  - files/en-us/webassembly/**/*
Content:WebAPI:
  - files/en-us/web/api/**/*
Content:WebDriver:
  - files/en-us/web/webdriver/**/*
Content:WebExt:
  - files/en-us/mozilla/add-ons/webextensions/**/*
Content:Learn:
  - files/en-us/learn/**/*
  - files/en-us/web/guide/**/*
  - files/en-us/web/tutorials/**/*
Content:Learn:Django:
  - files/en-us/learn/server-side/django/**/*
Content:Learn:Express:
  - files/en-us/learn/server-side/express_nodejs/**/*
Content:Other:
  - files/en-us/games/**/*
  - files/en-us/mdn/**/*
  - files/en-us/mozilla/**/*
  - files/en-us/plugins/**/*
  - files/en-us/related/**/*
  - files/en-us/tools/**/*
  - files/en-us/web/demos/**/*
  - files/en-us/web/events/**/*
  - files/en-us/web/exslt/**/*
  - files/en-us/web/manifest/**/*
  - files/en-us/web/opensearch/**/*
  - files/en-us/web/performance/**/*
  - files/en-us/web/privacy/**/*
  - files/en-us/web/progressive_web_apps/**/*
  - files/en-us/web/security/**/*
  - files/en-us/web/web_components/**/*
  - files/en-us/web/xml/**/*
  - files/en-us/web/xpath/**/*
  - files/en-us/web/xslt/**/*
