Repository mdn/content, changes with the labels that .github/labeler.yml gives for each.
All labels: Content:Accessibility, Content:CSS, Content:DevTools, Content:Glossary, Content:HTML, Content:HTTP, Content:JS, Content:MathML, Content:Media, Content:SVG, Content:wasm, Content:WebAPI, Content:WebDriver, Content:WebExt, Content:Learn, Content:Learn:Django, Content:Learn:Express, Content:Other

.github/labeler.yml:

Content:Accessibility:
  - files/en-us/web/accessibility/**/*
Content:CSS:
  - files/en-us/web/css/**/*
Content:DevTools:
  - files/en-us/tools/**/*
Content:Glossary:
  - files/en-us/glossary/**/*
Content:HTML:
  - files/en-us/web/html/**/*
Content:HTTP:
  - files/en-us/web/http/**/*
Content:JS:
  - files/en-us/web/javascript/**/*
Content:MathML:
  - files/en-us/web/mathml/**/*
Content:Media:
  - files/en-us/web/media/**/*
Content:SVG:
  - files/en-us/web/svg/**/*
Content:wasm:
  - files/en-us/webassembly/**/*
Content:WebAPI:
  - files/en-us/web/api/**/*
Content:WebDriver:
  - files/en-us/web/webdriver/**/*
Content:WebExt:
  - files/en-us/mozilla/add-ons/webextensions/**/*
Content:Learn:
  - files/en-us/learn/**/*
  - files/en-us/web/guide/**/*
  - files/en-us/web/tutorials/**/*
Content:Learn:Django:
  - files/en-us/learn/server-side/django/**/*
Content:Learn:Express:
  - files/en-us/learn/server-side/express_nodejs/**/*
Content:Other:
  - files/en-us/games/**/*
  - files/en-us/mdn/**/*
  - files/en-us/mozilla/**/*
  - files/en-us/plugins/**/*
  - files/en-us/related/**/*
  - files/en-us/tools/**/*
  - files/en-us/web/demos/**/*
  - files/en-us/web/events/**/*
  - files/en-us/web/exslt/**/*
  - files/en-us/web/manifest/**/*
  - files/en-us/web/opensearch/**/*
  - files/en-us/web/performance/**/*
  - files/en-us/web/privacy/**/*
  - files/en-us/web/progressive_web_apps/**/*
  - files/en-us/web/security/**/*
  - files/en-us/web/web_components/**/*
  - files/en-us/web/xml/**/*
  - files/en-us/web/xpath/**/*
  - files/en-us/web/xslt/**/*

Update CustomEvent interface reference
  files/en-us/web/api/customevent/customevent/index.md
  files/en-us/web/api/customevent/detail/index.md
  files/en-us/web/api/customevent/index.md
  files/en-us/web/api/customevent/initcustomevent/index.md
Labels: Content:WebAPI

Implement PR feedback
  files/en-us/web/api/htmlcollection/namedItem/index.md
Labels: Content:WebAPI

No need of variable j
  files/en-us/web/javascript/a_re-introduction_to_javascript/index.md
Labels: Content:JS

Fix up developers.google links (#9911)
  files/en-us/learn/performance/web_performance_basics/index.md
  files/en-us/learn/tools_and_testing/cross_browser_testing/javascript/index.md
  files/en-us/learn/tools_and_testing/cross_browser_testing/testing_strategies/index.md
  files/en-us/mozilla/add-ons/webextensions/api/devtools/panels/elementspanel/createsidebarpane/index.html
  files/en-us/plugins/flash_to_html5/video/file_format_conversion/index.md
  files/en-us/tools/about_colon_debugging/about_colon_debugging_before_firefox_68/index.html
  files/en-us/tools/about_colon_debugging/index.html
Labels: Content:DevTools, Content:WebExt, Content:Learn, Content:Other

fix htmlcollection/nameditem namepath
  files/en-us/web/api/htmlcollection/nameditem/index.md
Labels: Content:WebAPI

Remove lineTo from roundedRect (#9893)
  files/en-us/web/api/canvas_api/tutorial/drawing_shapes/index.md
Labels: Content:WebAPI

Add CrazyGames to list of portals accepting games (#9891)
  files/en-us/games/publishing_games/game_distribution/index.md
Labels: Content:Other

Update files/en-us/mdn/contribute/howto/write_an_api_reference/index.md
  files/en-us/mdn/contribute/howto/write_an_api_reference/index.md
Labels: Content:Other

Update files/en-us/mdn/contribute/where_is_everything/index.md
  files/en-us/mdn/contribute/where_is_everything/index.md
Labels: Content:Other

Add text-decoration/text-underline links
  files/en-us/web/css/text-decoration/index.md
Labels: Content:CSS

Fix missing parenthesis
  files/en-us/web/api/htmlcollection/nameditem/index.md
Labels: Content:WebAPI

Fix a few TemplateLink macros links (#9916)
  files/en-us/mdn/contribute/howto/create_an_interactive_exercise_to_help_learning_the_web/index.md
  files/en-us/mdn/contribute/howto/write_an_api_reference/index.md
  files/en-us/mozilla/firefox/experimental_features/index.html
Labels: Content:Other

Clarification regarding partitionKey
  files/en-us/mozilla/add-ons/webextensions/api/cookies/onchanged/index.html
Labels: Content:WebExt, Content:Other

Update files/en-us/web/api/idle_detection_api/index.md
  files/en-us/web/api/idle_detection_api/index.md
Labels: Content:WebAPI

Add title to interface page.
  files/en-us/web/api/idle_detection_api/index.md
Labels: Content:WebAPI

Missing preposition `in` on Visual Viewport API (#9810)
  files/en-us/web/api/visual_viewport_api/index.md
Labels: Content:WebAPI

text-decoration: Add text-decoration/text-underline links to see also section (#9924)
  files/en-us/web/css/text-decoration/index.md
Labels: Content:CSS

Manifest.json must be updated for last example (#8501)
  files/en-us/mozilla/add-ons/webextensions/intercept_http_requests/index.html
Labels: Content:WebExt, Content:Other

Added cross-references from methods and objects to dynamic partitioning section in cookies API overview
  files/en-us/mozilla/add-ons/webextensions/api/cookies/cookie/index.html
  files/en-us/mozilla/add-ons/webextensions/api/cookies/get/index.html
  files/en-us/mozilla/add-ons/webextensions/api/cookies/getall/index.html
  files/en-us/mozilla/add-ons/webextensions/api/cookies/remove/index.html
  files/en-us/mozilla/add-ons/webextensions/api/cookies/set/index.html
Labels: Content:WebExt, Content:Other

Update locales info (#9843)
  files/en-us/mdn/contribute/where_is_everything/index.md
Labels: Content:Other

improved summary sentence
  files/en-us/web/accessibility/aria/attributes/aria-colcount/index.md
Labels: Content:Accessibility

update per review
  files/en-us/web/accessibility/aria/attributes/aria-braillelabel/index.md
Labels: Content:Accessibility

make more links
  files/en-us/web/accessibility/aria/attributes/aria-activedescendant/index.md
Labels: Content:Accessibility

removed extra list item marker
  files/en-us/web/accessibility/aria/attributes/aria-braillelabel/index.md
Labels: Content:Accessibility

Remove extraneous word
  files/en-us/web/accessibility/aria/roles/math_role/index.md
Labels: Content:Accessibility

Remove draft status from an API overview page.
  files/en-us/web/api/file_system_access_api/index.md
Labels: Content:WebAPI

Correct some items at the bottom.
  files/en-us/web/api/file_system_access_api/index.md
Labels: Content:WebAPI

Remove extraneous word (#9930)
  files/en-us/web/accessibility/aria/roles/math_role/index.md
Labels: Content:Accessibility

index page for attribute section
  files/en-us/web/accessibility/aria/attributes/index.md
Labels: Content:Accessibility

ended a js block
  files/en-us/web/accessibility/aria/roles/alert_role/index.md
Labels: Content:Accessibility

Add-ons: more fixes to dl
  files/en-us/mozilla/add-ons/webextensions/anatomy_of_a_webextension/index.html
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/getbadgebackgroundcolor/index.html
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/getbadgetextcolor/index.html
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/setbadgebackgroundcolor/index.html
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/setbadgetext/index.html
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/setbadgetextcolor/index.html
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/settitle/index.html
  files/en-us/mozilla/add-ons/webextensions/api/commands/update/index.html
  files/en-us/mozilla/add-ons/webextensions/api/events/urlfilter/index.html
  files/en-us/mozilla/add-ons/webextensions/api/extension/sendrequest/index.html
  files/en-us/mozilla/add-ons/webextensions/api/management/extensioninfo/index.html
  files/en-us/mozilla/add-ons/webextensions/api/management/uninstall/index.html
  files/en-us/mozilla/add-ons/webextensions/api/menus/update/index.html
  files/en-us/mozilla/add-ons/webextensions/api/runtime/sendmessage/index.html
  files/en-us/mozilla/add-ons/webextensions/api/tabs/connect/index.html
  files/en-us/mozilla/add-ons/webextensions/api/tabs/create/index.html
  files/en-us/mozilla/add-ons/webextensions/api/tabs/executescript/index.html
  files/en-us/mozilla/add-ons/webextensions/api/tabs/insertcss/index.html
  files/en-us/mozilla/add-ons/webextensions/api/tabs/reload/index.html
  files/en-us/mozilla/add-ons/webextensions/api/userscripts/register/index.html
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/onerroroccurred/index.html
  files/en-us/mozilla/add-ons/webextensions/api/windows/get/index.html
  files/en-us/mozilla/add-ons/webextensions/content_scripts/index.html
Labels: Content:WebExt, Content:Other

typo
  files/en-us/web/accessibility/aria/roles/article_role/index.md
Labels: Content:Accessibility

indentation
  files/en-us/web/accessibility/aria/attributes/index.md
Labels: Content:Accessibility

last paragraph
  files/en-us/web/accessibility/aria/attributes/index.md
Labels: Content:Accessibility

ARIA attribute: aria-atomic
  files/en-us/web/accessibility/aria/attributes/aria-atomic/index.md
Labels: Content:Accessibility

Fix ARIA link on Cognitive Accessibility page
  files/en-us/web/accessibility/cognitive_accessibility/index.md
Labels: Content:Accessibility

New page
  files/en-us/web/accessibility/aria/attributes/aria-activedescendant/index.md
Labels: Content:Accessibility

New File: aria-autocomplete
  files/en-us/web/accessibility/aria/attributes/aria-autocomplete/index.md
Labels: Content:Accessibility

New File: aria-braillelabel
  files/en-us/web/accessibility/aria/attributes/aria-braillelabel/index.md
Labels: Content:Accessibility

Add page for Array_withSorted_argument type error message
  files/en-us/web/javascript/reference/errors/array_withsorted_argument/index.md
Labels: Content:JS
