Repository mdn/content, changes with the labels that .github/labeler.yml gives for each.
All labels: Content:Accessibility, Content:CSS, Content:DevTools, Content:Glossary, Content:HTML, Content:HTTP, Content:JS, Content:MathML, Content:Media, Content:SVG, Content:wasm, Content:WebAPI, Content:WebDriver, Content:WebExt, Content:Learn, Content:Learn:Django, Content:Learn:Express, Content:Other

thematic break
  files/en-us/web/accessibility/understanding_colors_and_luminance/index.md
Labels: Content:Accessibility

removed link in h2
  files/en-us/web/accessibility/cognitive_accessibility/index.md
Labels: Content:Accessibility

put periods in the links so the page doesn't break
  files/en-us/web/accessibility/understanding_wcag/operable/index.md
Labels: Content:Accessibility

de-uglified links
  files/en-us/web/accessibility/understanding_wcag/perceivable/index.md
  files/en-us/web/accessibility/understanding_wcag/robust/index.md
Labels: Content:Accessibility

link md'ed
  files/en-us/web/accessibility/aria/index.md
Labels: Content:Accessibility

added cats are cute to understanding_wcag/operable/index.md to see WTH is going on
  files/en-us/web/accessibility/understanding_wcag/operable/index.md
Labels: Content:Accessibility

links md'ed
  files/en-us/web/accessibility/mobile_accessibility_checklist/index.md
Labels: Content:Accessibility

links md'ed
  files/en-us/web/accessibility/understanding_wcag/operable/index.md
Labels: Content:Accessibility

Fix broken link (#9756)
  files/en-us/web/css/box-shadow/index.md
Labels: Content:CSS

Updates to CSS perspective property and perspective() function. (#9653)
  files/en-us/web/css/perspective/index.md
  files/en-us/web/css/transform-function/perspective()/index.md
Labels: Content:CSS

RegExp Assertions: fix note about ^ in group (#9627)
  files/en-us/web/javascript/guide/regular_expressions/assertions/index.md
Labels: Content:JS

URLSearchParams treats "foo" and "foo=" the same
  files/en-us/web/api/urlsearchparams/index.md
Labels: Content:WebAPI

+ is converted to space not just in the value
  files/en-us/web/api/urlsearchparams/index.md
Labels: Content:WebAPI

added quotes
  files/en-us/web/html/element/data/index.md
Labels: Content:HTML

added quotes
  files/en-us/web/html/element/span/index.md
Labels: Content:HTML

added quotes and uppercase
  files/en-us/web/html/element/wbr/index.md
Labels: Content:HTML

Rename HTML files to MD
  files/en-us/web/security/certificate_transparency/index.md
  files/en-us/web/security/firefox_security_guidelines/index.md
  files/en-us/web/security/index.md
  files/en-us/web/security/insecure_passwords/index.md
  files/en-us/web/security/mixed_content/how_to_fix_website_with_mixed_content/index.md
  files/en-us/web/security/mixed_content/index.md
  files/en-us/web/security/referer_header_colon__privacy_and_security_concerns/index.md
  files/en-us/web/security/same-origin_policy/index.md
  files/en-us/web/security/secure_contexts/features_restricted_to_secure_contexts/index.md
  files/en-us/web/security/secure_contexts/index.md
  files/en-us/web/security/securing_your_site/index.md
  files/en-us/web/security/securing_your_site/turning_off_form_autocompletion/index.md
  files/en-us/web/security/subdomain_takeovers/index.md
  files/en-us/web/security/subresource_integrity/index.md
  files/en-us/web/security/transport_layer_security/index.md
  files/en-us/web/security/types_of_attacks/index.md
  files/en-us/web/security/weak_signature_algorithm/index.md
Labels: Content:Other

Convert file contents to Markdown
  files/en-us/web/security/certificate_transparency/index.md
  files/en-us/web/security/firefox_security_guidelines/index.md
  files/en-us/web/security/index.md
  files/en-us/web/security/insecure_passwords/index.md
  files/en-us/web/security/mixed_content/how_to_fix_website_with_mixed_content/index.md
  files/en-us/web/security/mixed_content/index.md
  files/en-us/web/security/referer_header_colon__privacy_and_security_concerns/index.md
  files/en-us/web/security/same-origin_policy/index.md
  files/en-us/web/security/secure_contexts/features_restricted_to_secure_contexts/index.md
  files/en-us/web/security/secure_contexts/index.md
  files/en-us/web/security/securing_your_site/index.md
  files/en-us/web/security/securing_your_site/turning_off_form_autocompletion/index.md
  files/en-us/web/security/subdomain_takeovers/index.md
  files/en-us/web/security/subresource_integrity/index.md
  files/en-us/web/security/transport_layer_security/index.md
  files/en-us/web/security/types_of_attacks/index.md
  files/en-us/web/security/weak_signature_algorithm/index.md
Labels: Content:Other

Rename HTML files to MD
  files/en-us/web/performance/animation_performance_and_frame_rate/index.md
  files/en-us/web/performance/critical_rendering_path/index.md
  files/en-us/web/performance/css_javascript_animation_performance/index.md
  files/en-us/web/performance/dns-prefetch/index.md
  files/en-us/web/performance/fundamentals/index.md
  files/en-us/web/performance/how_browsers_work/index.md
  files/en-us/web/performance/how_long_is_too_long/index.md
  files/en-us/web/performance/index.md
  files/en-us/web/performance/lazy_loading/index.md
  files/en-us/web/performance/navigation_and_resource_timings/index.md
  files/en-us/web/performance/optimizing_startup_performance/index.md
  files/en-us/web/performance/performance_budgets/index.md
  files/en-us/web/performance/rum-vs-synthetic/index.md
  files/en-us/web/performance/understanding_latency/index.md
Labels: Content:Other

Convert file contents to Markdown
  files/en-us/web/performance/animation_performance_and_frame_rate/index.md
  files/en-us/web/performance/critical_rendering_path/index.md
  files/en-us/web/performance/css_javascript_animation_performance/index.md
  files/en-us/web/performance/dns-prefetch/index.md
  files/en-us/web/performance/fundamentals/index.md
  files/en-us/web/performance/how_browsers_work/index.md
  files/en-us/web/performance/how_long_is_too_long/index.md
  files/en-us/web/performance/index.md
  files/en-us/web/performance/lazy_loading/index.md
  files/en-us/web/performance/navigation_and_resource_timings/index.md
  files/en-us/web/performance/optimizing_startup_performance/index.md
  files/en-us/web/performance/performance_budgets/index.md
  files/en-us/web/performance/rum-vs-synthetic/index.md
  files/en-us/web/performance/understanding_latency/index.md
Labels: Content:Other

Rename HTML files to MD
  files/en-us/web/progressive_web_apps/add_to_home_screen/index.md
  files/en-us/web/progressive_web_apps/app_structure/index.md
  files/en-us/web/progressive_web_apps/index.md
  files/en-us/web/progressive_web_apps/installable_pwas/index.md
  files/en-us/web/progressive_web_apps/installing/index.md
  files/en-us/web/progressive_web_apps/introduction/index.md
  files/en-us/web/progressive_web_apps/loading/index.md
  files/en-us/web/progressive_web_apps/offline_service_workers/index.md
  files/en-us/web/progressive_web_apps/re-engageable_notifications_push/index.md
  files/en-us/web/progressive_web_apps/responsive/graphics_for_responsive_sites/index.md
  files/en-us/web/progressive_web_apps/responsive/mobile_first/index.md
  files/en-us/web/progressive_web_apps/responsive/responsive_design_building_blocks/index.md
  files/en-us/web/progressive_web_apps/responsive/responsive_navigation_patterns/index.md
  files/en-us/web/progressive_web_apps/structural_overview/index.md
Labels: Content:Other

Convert file contents to Markdown
  files/en-us/web/progressive_web_apps/add_to_home_screen/index.md
  files/en-us/web/progressive_web_apps/app_structure/index.md
  files/en-us/web/progressive_web_apps/index.md
  files/en-us/web/progressive_web_apps/installable_pwas/index.md
  files/en-us/web/progressive_web_apps/installing/index.md
  files/en-us/web/progressive_web_apps/introduction/index.md
  files/en-us/web/progressive_web_apps/loading/index.md
  files/en-us/web/progressive_web_apps/offline_service_workers/index.md
  files/en-us/web/progressive_web_apps/re-engageable_notifications_push/index.md
  files/en-us/web/progressive_web_apps/responsive/graphics_for_responsive_sites/index.md
  files/en-us/web/progressive_web_apps/responsive/mobile_first/index.md
  files/en-us/web/progressive_web_apps/responsive/responsive_design_building_blocks/index.md
  files/en-us/web/progressive_web_apps/responsive/responsive_navigation_patterns/index.md
  files/en-us/web/progressive_web_apps/structural_overview/index.md
Labels: Content:Other

Remove MediaKeySystemConfiguration dictionary from MDN
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/encrypted_media_extensions_api/index.md
  files/en-us/web/api/mediakeysystemaccess/getconfiguration/index.md
  files/en-us/web/api/mediakeysystemaccess/index.md
  files/en-us/web/api/mediakeysystemconfiguration/audiocapabilities/index.md
  files/en-us/web/api/mediakeysystemconfiguration/distinctiveidentifier/index.md
  files/en-us/web/api/mediakeysystemconfiguration/index.md
  files/en-us/web/api/mediakeysystemconfiguration/initdatatypes/index.md
  files/en-us/web/api/mediakeysystemconfiguration/persistentstate/index.md
  files/en-us/web/api/mediakeysystemconfiguration/videocapabilities/index.md
  files/en-us/web/api/navigator/requestmediakeysystemaccess/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

Rename HTML files to MD
  files/en-us/web/events/creating_and_triggering_events/index.md
  files/en-us/web/events/detecting_device_orientation/index.md
  files/en-us/web/events/event_handlers/index.md
  files/en-us/web/events/index.md
  files/en-us/web/events/orientation_and_motion_data_explained/index.md
  files/en-us/web/events/using_device_orientation_with_3d_transforms/index.md
  files/en-us/web/opensearch/index.md
  files/en-us/web/tutorials/index.md
  files/en-us/web/web_components/index.md
  files/en-us/web/web_components/using_custom_elements/index.md
  files/en-us/web/web_components/using_shadow_dom/index.md
  files/en-us/web/web_components/using_templates_and_slots/index.md
  files/en-us/web/xml/index.md
  files/en-us/web/xml/index/index.md
  files/en-us/web/xml/xml_colon_base/index.md
  files/en-us/web/xml/xml_introduction/index.md
Labels: Content:Learn, Content:Other

Convert file contents to Markdown
  files/en-us/web/events/creating_and_triggering_events/index.md
  files/en-us/web/events/detecting_device_orientation/index.md
  files/en-us/web/events/event_handlers/index.md
  files/en-us/web/events/index.md
  files/en-us/web/events/orientation_and_motion_data_explained/index.md
  files/en-us/web/events/using_device_orientation_with_3d_transforms/index.md
  files/en-us/web/opensearch/index.md
  files/en-us/web/tutorials/index.md
  files/en-us/web/web_components/index.md
  files/en-us/web/web_components/using_custom_elements/index.md
  files/en-us/web/web_components/using_shadow_dom/index.md
  files/en-us/web/web_components/using_templates_and_slots/index.md
  files/en-us/web/xml/index.md
  files/en-us/web/xml/index/index.md
  files/en-us/web/xml/xml_colon_base/index.md
  files/en-us/web/xml/xml_introduction/index.md
Labels: Content:Learn, Content:Other

Prepare Privacy files for Markdowning
  files/en-us/web/privacy/redirect_tracking_protection/index.html
  files/en-us/web/privacy/state_partitioning/index.html
  files/en-us/web/privacy/storage_access_policy/index.html
  files/en-us/web/privacy/tracking_protection/index.html
Labels: Content:Other

Prepare Related for Markdowning
  files/en-us/related/imsc/basics/index.html
  files/en-us/related/imsc/imsc_and_other_standards/index.html
  files/en-us/related/imsc/index.html
  files/en-us/related/imsc/mapping_video_time_codes_to_imsc/index.html
  files/en-us/related/imsc/namespaces/index.html
  files/en-us/related/imsc/styling/index.html
  files/en-us/related/imsc/subtitle_placement/index.html
  files/en-us/related/imsc/timing_in_imsc/index.html
  files/en-us/related/imsc/using_the_imscjs_polyfill/index.html
  files/en-us/related/index.html
  files/en-us/related/project_guidelines/index.html
Labels: Content:Other

Remove RTCRtpTransceiverInit dictionary from MDN (#9773)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/rtcrtptransceiverinit/index.md
Labels: Content:WebAPI

URLSearchParams treats "foo" and "foo=" the same (#9782)
  files/en-us/web/api/urlsearchparams/index.md
Labels: Content:WebAPI

Fix NotSupportedError (part 2)
  files/en-us/web/api/audiodecoder/configure/index.md
  files/en-us/web/api/audioencoder/configure/index.md
  files/en-us/web/api/canvasrenderingcontext2d/putimagedata/index.md
  files/en-us/web/api/datatransferitemlist/add/index.md
  files/en-us/web/api/elementinternals/checkvalidity/index.md
  files/en-us/web/api/elementinternals/reportvalidity/index.md
  files/en-us/web/api/elementinternals/setformvalue/index.md
  files/en-us/web/api/elementinternals/validity/index.md
  files/en-us/web/api/elementinternals/willvalidate/index.md
  files/en-us/web/api/htmlelement/attachinternals/index.md
  files/en-us/web/api/htmlmediaelement/defaultplaybackrate/index.md
  files/en-us/web/api/htmlmediaelement/play/index.md
  files/en-us/web/api/mediarecorder/mediarecorder/index.md
  files/en-us/web/api/mediarecorder/onerror/index.md
  files/en-us/web/api/mediarecorder/start/index.md
  files/en-us/web/api/paymentrequest/show/index.md
  files/en-us/web/api/range/compareboundarypoints/index.md
  files/en-us/web/api/rtcpeerconnection/generatecertificate/index.md
  files/en-us/web/api/xrsession/index.md
  files/en-us/web/api/xrsession/requesthittestsource/index.md
  files/en-us/web/api/xrsession/requesthittestsourcefortransientinput/index.md
  files/en-us/web/api/xrsession/requestlightprobe/index.md
  files/en-us/web/api/xrsession/requestreferencespace/index.md
  files/en-us/web/api/xrsession/updaterenderstate/index.md
  files/en-us/web/api/xrwebglbinding/getdepthinformation/index.md
Labels: Content:WebAPI

Fix test
  files/en-us/web/api/xrsession/updaterenderstate/index.md
Labels: Content:WebAPI

Fix XRFrame.*
  files/en-us/web/api/xrframe/getdepthinformation/index.md
Labels: Content:WebAPI

Fix XRSession.requestLightProbe
  files/en-us/web/api/xrsession/requestlightprobe/index.md
Labels: Content:WebAPI

Fix XRSession.updateRenderState
  files/en-us/web/api/xrsession/updaterenderstate/index.md
Labels: Content:WebAPI

Fix NDEFReader.scan
  files/en-us/web/api/ndefreader/scan/index.md
Labels: Content:WebAPI

Fix NDEFReader.write
  files/en-us/web/api/ndefreader/write/index.md
Labels: Content:WebAPI

Convert file contents to Markdown
  files/en-us/web/security/certificate_transparency/index.md
  files/en-us/web/security/firefox_security_guidelines/index.md
  files/en-us/web/security/index.md
  files/en-us/web/security/insecure_passwords/index.md
  files/en-us/web/security/mixed_content/how_to_fix_website_with_mixed_content/index.md
  files/en-us/web/security/mixed_content/index.md
  files/en-us/web/security/referer_header_colon__privacy_and_security_concerns/index.md
  files/en-us/web/security/same-origin_policy/index.md
  files/en-us/web/security/secure_contexts/features_restricted_to_secure_contexts/index.md
  files/en-us/web/security/secure_contexts/index.md
  files/en-us/web/security/securing_your_site/index.md
  files/en-us/web/security/securing_your_site/turning_off_form_autocompletion/index.md
  files/en-us/web/security/subdomain_takeovers/index.md
  files/en-us/web/security/subresource_integrity/index.md
  files/en-us/web/security/transport_layer_security/index.md
  files/en-us/web/security/types_of_attacks/index.md
  files/en-us/web/security/weak_signature_algorithm/index.md
Labels: Content:Other

Rename HTML files to MD
  files/en-us/web/security/certificate_transparency/index.md
  files/en-us/web/security/firefox_security_guidelines/index.md
  files/en-us/web/security/index.md
  files/en-us/web/security/insecure_passwords/index.md
  files/en-us/web/security/mixed_content/how_to_fix_website_with_mixed_content/index.md
  files/en-us/web/security/mixed_content/index.md
  files/en-us/web/security/referer_header_colon__privacy_and_security_concerns/index.md
  files/en-us/web/security/same-origin_policy/index.md
  files/en-us/web/security/secure_contexts/features_restricted_to_secure_contexts/index.md
  files/en-us/web/security/secure_contexts/index.md
  files/en-us/web/security/securing_your_site/index.md
  files/en-us/web/security/securing_your_site/turning_off_form_autocompletion/index.md
  files/en-us/web/security/subdomain_takeovers/index.md
  files/en-us/web/security/subresource_integrity/index.md
  files/en-us/web/security/transport_layer_security/index.md
  files/en-us/web/security/types_of_attacks/index.md
  files/en-us/web/security/weak_signature_algorithm/index.md
Labels: Content:Other

Rename HTML files to MD
  files/en-us/web/performance/animation_performance_and_frame_rate/index.md
  files/en-us/web/performance/critical_rendering_path/index.md
  files/en-us/web/performance/css_javascript_animation_performance/index.md
  files/en-us/web/performance/dns-prefetch/index.md
  files/en-us/web/performance/fundamentals/index.md
  files/en-us/web/performance/how_browsers_work/index.md
  files/en-us/web/performance/how_long_is_too_long/index.md
  files/en-us/web/performance/index.md
  files/en-us/web/performance/lazy_loading/index.md
  files/en-us/web/performance/navigation_and_resource_timings/index.md
  files/en-us/web/performance/optimizing_startup_performance/index.md
  files/en-us/web/performance/performance_budgets/index.md
  files/en-us/web/performance/rum-vs-synthetic/index.md
  files/en-us/web/performance/understanding_latency/index.md
Labels: Content:Other

Convert file contents to Markdown
  files/en-us/web/performance/animation_performance_and_frame_rate/index.md
  files/en-us/web/performance/critical_rendering_path/index.md
  files/en-us/web/performance/css_javascript_animation_performance/index.md
  files/en-us/web/performance/dns-prefetch/index.md
  files/en-us/web/performance/fundamentals/index.md
  files/en-us/web/performance/how_browsers_work/index.md
  files/en-us/web/performance/how_long_is_too_long/index.md
  files/en-us/web/performance/index.md
  files/en-us/web/performance/lazy_loading/index.md
  files/en-us/web/performance/navigation_and_resource_timings/index.md
  files/en-us/web/performance/optimizing_startup_performance/index.md
  files/en-us/web/performance/performance_budgets/index.md
  files/en-us/web/performance/rum-vs-synthetic/index.md
  files/en-us/web/performance/understanding_latency/index.md
Labels: Content:Other

.github/labeler.yml:

Content:Accessibility:
  - files/en-us/web/accessibility/**/*
Content:CSS:
  - files/en-us/web/css/**/*
Content:DevTools:
  - files/en-us/tools/**/*
Content:Glossary:
  - files/en-us/glossary/**/*
Content:HTML:
  - files/en-us/web/html/**/*
Content:HTTP:
  - files/en-us/web/http/**/*
Content:JS:
  - files/en-us/web/javascript/**/*
Content:MathML:
  - files/en-us/web/mathml/**/*
Content:Media:
  - files/en-us/web/media/**/*
Content:SVG:
  - files/en-us/web/svg/**/*
Content:wasm:
  - files/en-us/webassembly/**/*
Content:WebAPI:
  - files/en-us/web/api/**/*
Content:WebDriver:
  - files/en-us/web/webdriver/**/*
Content:WebExt:
  - files/en-us/mozilla/add-ons/webextensions/**/*
Content:Learn:
  - files/en-us/learn/**/*
  - files/en-us/web/guide/**/*
  - files/en-us/web/tutorials/**/*
Content:Learn:Django:
  - files/en-us/learn/server-side/django/**/*
Content:Learn:Express:
  - files/en-us/learn/server-side/express_nodejs/**/*
Content:Other:
  - files/en-us/games/**/*
  - files/en-us/mdn/**/*
  - files/en-us/mozilla/**/*
  - files/en-us/plugins/**/*
  - files/en-us/related/**/*
  - files/en-us/tools/**/*
  - files/en-us/web/demos/**/*
  - files/en-us/web/events/**/*
  - files/en-us/web/exslt/**/*
  - files/en-us/web/manifest/**/*
  - files/en-us/web/opensearch/**/*
  - files/en-us/web/performance/**/*
  - files/en-us/web/privacy/**/*
  - files/en-us/web/progressive_web_apps/**/*
  - files/en-us/web/security/**/*
  - files/en-us/web/web_components/**/*
  - files/en-us/web/xml/**/*
  - files/en-us/web/xpath/**/*
  - files/en-us/web/xslt/**/*
