Repository mdn/content, changes with the labels that .github/labeler.yml gives for each.
All labels: Content:Accessibility, Content:CSS, Content:Events, Content:Firefox, Content:Games, Content:Glossary, Content:Guide, Content:HTML, Content:HTTP, Content:JS, Content:Learn, Content:Learn:Accessibility, Content:Learn:Client-side, Content:Learn:Cross-Browser-Testing, Content:Learn:CSS, Content:Learn:Django, Content:Learn:Express, Content:Learn:Forms, Content:Learn:GitHub, Content:Learn:HTML, Content:Learn:JavaScript, Content:Manifest, Content:MathML, Content:Media, Content:Meta, Content:Performance, Content:PWA, Content:Security, Content:SVG, Content:wasm, Content:WebAPI, Content:WebDriver, Content:WebExt, Content:Other

Wording
  files/en-us/web/progressive_web_apps/guides/caching/index.md
Labels: Content:PWA

More wording
  files/en-us/web/progressive_web_apps/guides/caching/index.md
Labels: Content:PWA

docs(API): remove list of IDB tools, point to storage APIs instead (#27565)
  files/en-us/web/api/indexeddb_api/index.md
  files/en-us/web/performance/fundamentals/index.md
  files/en-us/web/performance/index.md
Labels: Content:Performance, Content:WebAPI

Replace JPG with PNG screenshot
  files/en-us/web/api/window/devicepixelratio/devicepixelration_diff.jpg
  files/en-us/web/api/window/devicepixelratio/devicepixelration_diff.png
  files/en-us/web/api/window/devicepixelratio/index.md
Labels: Content:WebAPI

relnote(Fx115): revert order of items in See also section
  files/en-us/web/javascript/reference/global_objects/string/iswellformed/index.md
  files/en-us/web/javascript/reference/global_objects/string/towellformed/index.md
Labels: Content:JS

fix: update notification/notification renotify property
  files/en-us/web/api/notification/notification/index.md
Labels: Content:WebAPI

docs(CSS): Minor updates to hue color wheel on bottom text (180deg)
  files/en-us/web/css/hue/color_wheel.svg
Labels: Content:CSS

docs(wasm): Clarifications of project structure for web v node usage
  files/en-us/webassembly/rust_to_wasm/index.md
Labels: Content:wasm

Avoid referring to specific C types in DataView description
  files/en-us/web/javascript/reference/global_objects/dataview/getbigint64/index.md
  files/en-us/web/javascript/reference/global_objects/dataview/getbiguint64/index.md
  files/en-us/web/javascript/reference/global_objects/dataview/getfloat32/index.md
  files/en-us/web/javascript/reference/global_objects/dataview/getfloat64/index.md
  files/en-us/web/javascript/reference/global_objects/dataview/getint16/index.md
  files/en-us/web/javascript/reference/global_objects/dataview/getint32/index.md
  files/en-us/web/javascript/reference/global_objects/dataview/getint8/index.md
  files/en-us/web/javascript/reference/global_objects/dataview/getuint16/index.md
  files/en-us/web/javascript/reference/global_objects/dataview/getuint32/index.md
  files/en-us/web/javascript/reference/global_objects/dataview/getuint8/index.md
  files/en-us/web/javascript/reference/global_objects/dataview/index.md
  files/en-us/web/javascript/reference/global_objects/dataview/setbigint64/index.md
  files/en-us/web/javascript/reference/global_objects/dataview/setbiguint64/index.md
  files/en-us/web/javascript/reference/global_objects/dataview/setfloat32/index.md
  files/en-us/web/javascript/reference/global_objects/dataview/setfloat64/index.md
  files/en-us/web/javascript/reference/global_objects/dataview/setint16/index.md
  files/en-us/web/javascript/reference/global_objects/dataview/setint32/index.md
  files/en-us/web/javascript/reference/global_objects/dataview/setint8/index.md
  files/en-us/web/javascript/reference/global_objects/dataview/setuint16/index.md
  files/en-us/web/javascript/reference/global_objects/dataview/setuint32/index.md
  files/en-us/web/javascript/reference/global_objects/dataview/setuint8/index.md
Labels: Content:JS

Fix NDEFReader.scan() (#27404)
  files/en-us/web/api/ndefreader/index.md
  files/en-us/web/api/ndefreader/scan/index.md
Labels: Content:WebAPI

Apply suggestions from review
  files/en-us/mozilla/add-ons/webextensions/api/action/getusersettings/index.md
Labels: Content:WebExt

Rename
  files/en-us/web/api/window/devicepixelratio/devicepixelratio_diff.png
  files/en-us/web/api/window/devicepixelratio/index.md
Labels: Content:WebAPI

Improve Atomics.wait(Async) parameter description
  files/en-us/web/javascript/reference/global_objects/atomics/wait/index.md
  files/en-us/web/javascript/reference/global_objects/atomics/waitasync/index.md
Labels: Content:JS

fixes review comments
  files/en-us/web/css/font-synthesis/index.md
Labels: Content:CSS

docs(css): Add pages for font-synthesis longhand properties (#27413)
  files/en-us/web/css/font-synthesis-small-caps/index.md
  files/en-us/web/css/font-synthesis-style/index.md
  files/en-us/web/css/font-synthesis-weight/index.md
  files/en-us/web/css/font-synthesis/index.md
Labels: Content:CSS

Update yaml config
  files/en-us/web/manifest/background_color/index.md
  files/en-us/web/manifest/categories/index.md
  files/en-us/web/manifest/description/index.md
  files/en-us/web/manifest/display/index.md
  files/en-us/web/manifest/display_override/index.md
  files/en-us/web/manifest/file_handlers/index.md
  files/en-us/web/manifest/icons/index.md
  files/en-us/web/manifest/id/index.md
  files/en-us/web/manifest/index.md
  files/en-us/web/manifest/launch_handler/index.md
  files/en-us/web/manifest/name/index.md
  files/en-us/web/manifest/orientation/index.md
  files/en-us/web/manifest/prefer_related_applications/index.md
  files/en-us/web/manifest/protocol_handlers/index.md
  files/en-us/web/manifest/related_applications/index.md
  files/en-us/web/manifest/scope/index.md
  files/en-us/web/manifest/screenshots/index.md
  files/en-us/web/manifest/serviceworker/index.md
  files/en-us/web/manifest/share_target/index.md
  files/en-us/web/manifest/short_name/index.md
  files/en-us/web/manifest/shortcuts/index.md
  files/en-us/web/manifest/start_url/index.md
  files/en-us/web/manifest/theme_color/index.md
  front-matter-config.json
Labels: Content:Manifest

Add page-types for WebDriver
  files/en-us/web/webdriver/capabilities/acceptinsecurecerts/index.md
  files/en-us/web/webdriver/capabilities/firefoxoptions/index.md
  files/en-us/web/webdriver/capabilities/index.md
  files/en-us/web/webdriver/capabilities/websocketurl/index.md
  files/en-us/web/webdriver/commands/closewindow/index.md
  files/en-us/web/webdriver/commands/getelementattribute/index.md
  files/en-us/web/webdriver/commands/getelementproperty/index.md
  files/en-us/web/webdriver/commands/getelementtagname/index.md
  files/en-us/web/webdriver/commands/gettimeouts/index.md
  files/en-us/web/webdriver/commands/getwindowhandles/index.md
  files/en-us/web/webdriver/commands/getwindowrect/index.md
  files/en-us/web/webdriver/commands/index.md
  files/en-us/web/webdriver/commands/new_window/index.md
  files/en-us/web/webdriver/commands/settimeouts/index.md
  files/en-us/web/webdriver/commands/setwindowrect/index.md
  files/en-us/web/webdriver/errors/index.md
  files/en-us/web/webdriver/errors/insecurecertificate/index.md
  files/en-us/web/webdriver/errors/invalidargument/index.md
  files/en-us/web/webdriver/errors/invalidcookiedomain/index.md
  files/en-us/web/webdriver/errors/invalidselector/index.md
  files/en-us/web/webdriver/errors/invalidsessionid/index.md
  files/en-us/web/webdriver/errors/javascripterror/index.md
  files/en-us/web/webdriver/errors/scripttimeout/index.md
  files/en-us/web/webdriver/errors/staleelementreference/index.md
  files/en-us/web/webdriver/errors/unknowncommand/index.md
  files/en-us/web/webdriver/errors/unknownerror/index.md
  files/en-us/web/webdriver/errors/unknownmethod/index.md
  files/en-us/web/webdriver/index.md
  files/en-us/web/webdriver/timeouts/index.md
  front-matter-config.json
Labels: Content:WebDriver

Replace JPG with PNG screenshot (#27614)
  files/en-us/web/api/window/devicepixelratio/devicepixelratio_diff.png
  files/en-us/web/api/window/devicepixelratio/devicepixelration_diff.jpg
  files/en-us/web/api/window/devicepixelratio/index.md
Labels: Content:WebAPI

Synchronize with BCD v5.3.0 (#27611)
  files/en-us/web/api/scrolltimeline/index.md
  files/en-us/web/api/scrolltimeline/scrolltimeline/index.md
  files/en-us/web/api/viewtimeline/index.md
  files/en-us/web/api/viewtimeline/viewtimeline/index.md
  files/en-us/web/css/animation-timeline/index.md
  files/en-us/web/css/animation/index.md
  files/en-us/web/css/scroll-timeline-axis/index.md
  files/en-us/web/css/scroll-timeline-name/index.md
  files/en-us/web/css/scroll-timeline/index.md
  files/en-us/web/css/view-timeline-axis/index.md
  files/en-us/web/css/view-timeline-inset/index.md
  files/en-us/web/css/view-timeline-name/index.md
  files/en-us/web/css/view-timeline/index.md
  files/en-us/web/http/headers/sec-purpose/index.md
Labels: Content:CSS, Content:HTTP, Content:WebAPI

chore(api): Minor improvements to lastModified regex
  files/en-us/web/api/document/lastmodified/index.md
Labels: Content:WebAPI

Update files/en-us/web/css/namespace_separator/index.md
  files/en-us/web/css/namespace_separator/index.md
Labels: Content:CSS

Update files/en-us/web/api/document/lastmodified/index.md
  files/en-us/web/api/document/lastmodified/index.md
Labels: Content:WebAPI

Updated Parallels Link
  files/en-us/learn/tools_and_testing/cross_browser_testing/testing_strategies/index.md
Labels: Content:Learn:Cross-Browser-Testing

prettier again
  files/en-us/web/css/css_selectors/selector_structure/index.md
Labels: Content:CSS

Apply suggestions from code review
  files/en-us/web/api/scheduling/isinputpending/index.md
Labels: Content:WebAPI

move isInputPending to Web/API/Scheduling/
  files/en-us/web/api/scheduling/isInputPending/index.md
Labels: Content:WebAPI

Update files/en-us/web/api/scheduling/isInputPending/index.md
  files/en-us/web/api/scheduling/isInputPending/index.md
Labels: Content:WebAPI

Update files/en-us/web/api/scheduling/isInputPending/index.md
  files/en-us/web/api/scheduling/isInputPending/index.md
Labels: Content:WebAPI

Apply suggestions from code review
  files/en-us/web/api/scheduling/index.md
  files/en-us/web/api/scheduling/isinputpending/index.md
Labels: Content:WebAPI

rempve duplicate folder
  files/en-us/web/api/scheduling/isInputPending/index.md
Labels: Content:WebAPI

update scheduling content
  files/en-us/web/api/navigator/scheduling/index.md
  files/en-us/web/api/scheduling/index.md
Labels: Content:WebAPI

rename isInputPending to ininputpending
  files/en-us/web/api/scheduling/isinputpending/index.md
Labels: Content:WebAPI

add a small doc about navigator.scheduling.isInputPending
  files/en-us/web/api/navigator/scheduling/index.md
Labels: Content:WebAPI

Update files/en-us/web/api/scheduling/isInputPending/index.md
  files/en-us/web/api/scheduling/isInputPending/index.md
Labels: Content:WebAPI

[Scheduling] remove a mismatched line
  files/en-us/web/api/scheduling/isinputpending/index.md
Labels: Content:WebAPI

remove mismatched folder
  files/en-us/web/api/scheduling/isInputPending/index.md
Labels: Content:WebAPI

move isInputPending to Web/API/Scheduling/
  files/en-us/web/api/navigator/scheduling/index.md
  files/en-us/web/api/scheduling/index.md
  files/en-us/web/api/scheduling/isInputPending/index.md
Labels: Content:WebAPI

[Scheduling] replace value with Instance methods
  files/en-us/web/api/scheduling/index.md
Labels: Content:WebAPI

Update files/en-us/web/api/scheduling/isInputPending/index.md
  files/en-us/web/api/scheduling/isInputPending/index.md
Labels: Content:WebAPI

Remove Step 4 from Math 2 #27320
  files/en-us/learn/javascript/first_steps/test_your_skills_colon__math/index.md
Labels: Content:Learn:JavaScript

.github/labeler.yml:

Content:Accessibility:
  - files/en-us/web/accessibility/**/*
Content:CSS:
  - files/en-us/web/css/**/*
Content:Events:
  - files/en-us/web/events/**/*
Content:Firefox:
  - files/en-us/mozilla/firefox/**/*
Content:Games:
  - files/en-us/games/**/*
Content:Glossary:
  - files/en-us/glossary/**/*
Content:Guide:
  - files/en-us/web/guide/**/*
Content:HTML:
  - files/en-us/web/html/**/*
Content:HTTP:
  - files/en-us/web/http/**/*
Content:JS:
  - files/en-us/web/javascript/**/*
Content:Learn:
  - any:
      - files/en-us/learn/**/*
      - "!files/en-us/learn/accessibility/**/*"
      - "!files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/**/*"
      - "!files/en-us/learn/tools_and_testing/understanding_client-side_tools/**/*"
      - "!files/en-us/learn/tools_and_testing/cross_browser_testing/**/*"
      - "!files/en-us/learn/css/**/*"
      - "!files/en-us/learn/server-side/django/**/*"
      - "!files/en-us/learn/server-side/express_nodejs/**/*"
      - "!files/en-us/learn/forms/**/*"
      - "!files/en-us/learn/tools_and_testing/github/**/*"
      - "!files/en-us/learn/html/**/*"
      - "!files/en-us/learn/javascript/**/*"
  - files/en-us/web/tutorials/**/*
Content:Learn:Accessibility:
  - files/en-us/learn/accessibility/**/*
Content:Learn:Client-side:
  - files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/**/*
  - files/en-us/learn/tools_and_testing/understanding_client-side_tools/**/*
Content:Learn:Cross-Browser-Testing:
  - files/en-us/learn/tools_and_testing/cross_browser_testing/**/*
Content:Learn:CSS:
  - files/en-us/learn/css
Content:Learn:Django:
  - files/en-us/learn/server-side/django/**/*
Content:Learn:Express:
  - files/en-us/learn/server-side/express_nodejs/**/*
Content:Learn:Forms:
  - files/en-us/learn/forms/**/*
Content:Learn:GitHub:
  - files/en-us/learn/tools_and_testing/github/**/*
Content:Learn:HTML:
  - files/en-us/learn/html/**/*
Content:Learn:JavaScript:
  - files/en-us/learn/javascript/**/*
Content:Manifest:
  - files/en-us/web/manifest/**/*
Content:MathML:
  - files/en-us/web/mathml/**/*
Content:Media:
  - files/en-us/web/media/**/*
Content:Meta:
  - files/en-us/mdn/**/*
Content:Performance:
  - files/en-us/web/performance/**/*
Content:PWA:
  - files/en-us/web/progressive_web_apps/**/*
Content:Security:
  - files/en-us/web/security/**/*
Content:SVG:
  - files/en-us/web/svg/**/*
Content:wasm:
  - files/en-us/webassembly/**/*
Content:WebAPI:
  - files/en-us/web/api/**/*
Content:WebDriver:
  - files/en-us/web/webdriver/**/*
Content:WebExt:
  - files/en-us/mozilla/add-ons/webextensions/**/*
Content:Other:
  - any:
      - files/en-us/mozilla/**/*
      - "!files/en-us/mozilla/add-ons/webextensions/**/*"
      - "!files/en-us/mozilla/firefox/**/*"
  - files/en-us/related/**/*
  - files/en-us/web/demos/**/*
  - files/en-us/web/exslt/**/*
  - files/en-us/web/opensearch/**/*
  - files/en-us/web/privacy/**/*
  - files/en-us/web/text_fragments/**/*
  - files/en-us/web/xml/**/*
  - files/en-us/web/xpath/**/*
  - files/en-us/web/xslt/**/*
