Repository mdn/content, changes with the labels that .github/labeler.yml gives for each.
All labels: Content:Accessibility, Content:CSS, Content:DevTools, Content:Glossary, Content:HTML, Content:HTTP, Content:JS, Content:MathML, Content:Media, Content:SVG, Content:wasm, Content:WebAPI, Content:WebDriver, Content:WebExt, Content:Learn, Content:Learn:Django, Content:Learn:Express, Content:Other

Revert "[Markdown] Convert Web/Demos and landing page to Markdown - DO NOT SQUASH MERGE (#9814)" (#9815)
  files/en-us/web/demos/index.html
  files/en-us/web/demos/index.md
  files/en-us/web/index.html
  files/en-us/web/index.md
Labels: Content:Other

Update index.md (#9780)
  files/en-us/learn/server-side/express_nodejs/displaying_data/book_list_page/index.md
Labels: Content:Learn, Content:Learn:Express

Revert "Revert "[Markdown] Convert Web/Demos and landing page to Markdown - DO NOT SQUASH MERGE (#9814)" (#9815)"
  files/en-us/web/demos/index.html
  files/en-us/web/demos/index.md
  files/en-us/web/index.html
  files/en-us/web/index.md
Labels: Content:Other

Rename HTML files to MD
  files/en-us/web/media/autoplay_guide/index.md
  files/en-us/web/media/dash_adaptive_streaming_for_html_5_video/index.md
  files/en-us/web/media/formats/audio_codecs/index.md
  files/en-us/web/media/formats/audio_concepts/index.md
  files/en-us/web/media/formats/codecs_parameter/index.md
  files/en-us/web/media/formats/containers/index.md
  files/en-us/web/media/formats/image_types/index.md
  files/en-us/web/media/formats/index.md
  files/en-us/web/media/formats/support_issues/index.md
  files/en-us/web/media/formats/video_codecs/index.md
  files/en-us/web/media/formats/video_concepts/index.md
  files/en-us/web/media/formats/webrtc_codecs/index.md
  files/en-us/web/media/html_media/index.md
  files/en-us/web/media/images/aspect_ratio_mapping/index.md
  files/en-us/web/media/images/index.md
  files/en-us/web/media/index.md
  files/en-us/web/media/streaming/index.md
Labels: Content:Media

Convert file contents to Markdown
  files/en-us/web/media/autoplay_guide/index.md
  files/en-us/web/media/dash_adaptive_streaming_for_html_5_video/index.md
  files/en-us/web/media/formats/audio_codecs/index.md
  files/en-us/web/media/formats/audio_concepts/index.md
  files/en-us/web/media/formats/codecs_parameter/index.md
  files/en-us/web/media/formats/containers/index.md
  files/en-us/web/media/formats/image_types/index.md
  files/en-us/web/media/formats/index.md
  files/en-us/web/media/formats/support_issues/index.md
  files/en-us/web/media/formats/video_codecs/index.md
  files/en-us/web/media/formats/video_concepts/index.md
  files/en-us/web/media/formats/webrtc_codecs/index.md
  files/en-us/web/media/html_media/index.md
  files/en-us/web/media/images/aspect_ratio_mapping/index.md
  files/en-us/web/media/images/index.md
  files/en-us/web/media/index.md
  files/en-us/web/media/streaming/index.md
Labels: Content:Media

Rename HTML file to MD
  files/en-us/web/demos/index.md
Labels: Content:Other

Convert files contents to Markdown
  files/en-us/web/demos/index.md
Labels: Content:Other

Rename HTML file to MD
  files/en-us/web/index.md
Labels: none

Convert file contents to Markdown
  files/en-us/web/index.md
Labels: none

Convert files contents to Markdown
  files/en-us/web/demos/index.md
Labels: Content:Other

Rename HTML file to MD
  files/en-us/web/demos/index.md
Labels: Content:Other

Rename HTML file to MD
  files/en-us/web/index.md
Labels: none

Convert file contents to Markdown
  files/en-us/web/index.md
Labels: none

Update delegates focus to current docs standards
  files/en-us/web/api/element/attachshadow/index.md
  files/en-us/web/api/shadowroot/delegatesfocus/index.md
  files/en-us/web/api/shadowroot/index.md
Labels: Content:WebAPI

FF94 Relnote: ShadowRoot.delegatesFocus
  files/en-us/mozilla/firefox/releases/94/index.html
Labels: Content:Other

Add coercion link in falsy (Glossary) (#9798)
  files/en-us/glossary/falsy/index.md
Labels: Content:Glossary

Fixes #9776 - no immediate return from any
  files/en-us/web/javascript/reference/global_objects/promise/any/index.md
Labels: Content:JS

Add Element.setHTML docs
  files/en-us/web/api/element/sethtml/index.md
Labels: Content:WebAPI

Improve cross links to Element.setHTML from Element and innerHTML
  files/en-us/web/api/element/index.md
  files/en-us/web/api/element/innerhtml/index.md
Labels: Content:WebAPI

Remove trailing commas in JSON
  files/en-us/web/webdriver/capabilities/firefoxoptions/index.md
Labels: Content:WebDriver

Remove link to dictionary in spec
  files/en-us/web/api/media_capabilities_api/using_the_media_capabilities_api/index.md
Labels: Content:WebAPI

update webpack documentation link
  files/en-us/web/javascript/guide/modules/index.md
Labels: Content:JS

Fix grammar issue in API reference
  files/en-us/mdn/contribute/howto/write_an_api_reference/index.html
Labels: Content:Other

Fix grammar issue in New Entry In Glossary
  files/en-us/mdn/contribute/howto/write_a_new_entry_in_the_glossary/index.html
Labels: Content:Other

Add zh-cn markdoen about min-content
  files/zh-cn/web/css/min-content/index.md
Labels: none

Remove duplicate word from Workstream Assessment
  files/en-us/mdn/contribute/processes/workstream_assessment_project/index.html
Labels: Content:Other

Remove duplicate article from Matching Features
  files/en-us/mdn/contribute/processes/matching_features_to_browser_version/index.html
Labels: Content:Other

Remove trailing commas in JSON (#9821)
  files/en-us/web/webdriver/capabilities/firefoxoptions/index.md
Labels: Content:WebDriver

Add missing verb to GH For Beginners
  files/en-us/mdn/contribute/github_beginners/index.html
Labels: Content:Other

Fix grammar issue in MDN Conventions
  files/en-us/mdn/guidelines/conventions_definitions/index.html
Labels: Content:Other

Fix grammar issue in New Entry In Glossary (#9824)
  files/en-us/mdn/contribute/howto/write_a_new_entry_in_the_glossary/index.html
Labels: Content:Other

Fix grammar issue in API reference (#9823)
  files/en-us/mdn/contribute/howto/write_an_api_reference/index.html
Labels: Content:Other

update webpack documentation link (#9822)
  files/en-us/web/javascript/guide/modules/index.md
Labels: Content:JS

Remove duplicate word from Workstream Assessment (#9825)
  files/en-us/mdn/contribute/processes/workstream_assessment_project/index.html
Labels: Content:Other

Fix grammar issue in MDN Conventions (#9829)
  files/en-us/mdn/guidelines/conventions_definitions/index.html
Labels: Content:Other

Remove duplicate article from Matching Features (#9826)
  files/en-us/mdn/contribute/processes/matching_features_to_browser_version/index.html
Labels: Content:Other

Add missing verb to GH For Beginners (#9827)
  files/en-us/mdn/contribute/github_beginners/index.html
Labels: Content:Other

Update index.md
  files/en-us/web/javascript/reference/global_objects/promise/any/index.md
Labels: Content:JS

Fixes #9776 - immediate return from Promise.any (#9820)
  files/en-us/web/javascript/reference/global_objects/promise/any/index.md
Labels: Content:JS

Fix some small typos and grammar issues
  files/en-us/tools/debugger-api/debugger.environment/index.html
  files/en-us/tools/debugger-api/debugger.object/index.html
  files/en-us/web/accessibility/aria/aria_techniques/using_the_alert_role/index.html
  files/en-us/web/accessibility/aria/roles/button_role/index.html
  files/en-us/web/accessibility/aria/roles/main_role/index.html
  files/en-us/web/accessibility/aria/roles/meter_role/index.html
  files/en-us/web/accessibility/aria/roles/role_img/index.html
  files/en-us/web/accessibility/implementing_msaa_server/index.html
Labels: Content:Accessibility, Content:DevTools, Content:Other

.github/labeler.yml:

Content:Accessibility:
  - files/en-us/web/accessibility/**/*
Content:CSS:
  - files/en-us/web/css/**/*
Content:DevTools:
  - files/en-us/tools/**/*
Content:Glossary:
  - files/en-us/glossary/**/*
Content:HTML:
  - files/en-us/web/html/**/*
Content:HTTP:
  - files/en-us/web/http/**/*
Content:JS:
  - files/en-us/web/javascript/**/*
Content:MathML:
  - files/en-us/web/mathml/**/*
Content:Media:
  - files/en-us/web/media/**/*
Content:SVG:
  - files/en-us/web/svg/**/*
Content:wasm:
  - files/en-us/webassembly/**/*
Content:WebAPI:
  - files/en-us/web/api/**/*
Content:WebDriver:
  - files/en-us/web/webdriver/**/*
Content:WebExt:
  - files/en-us/mozilla/add-ons/webextensions/**/*
Content:Learn:
  - files/en-us/learn/**/*
  - files/en-us/web/guide/**/*
  - files/en-us/web/tutorials/**/*
Content:Learn:Django:
  - files/en-us/learn/server-side/django/**/*
Content:Learn:Express:
  - files/en-us/learn/server-side/express_nodejs/**/*
Content:Other:
  - files/en-us/games/**/*
  - files/en-us/mdn/**/*
  - files/en-us/mozilla/**/*
  - files/en-us/plugins/**/*
  - files/en-us/related/**/*
  - files/en-us/tools/**/*
  - files/en-us/web/demos/**/*
  - files/en-us/web/events/**/*
  - files/en-us/web/exslt/**/*
  - files/en-us/web/manifest/**/*
  - files/en-us/web/opensearch/**/*
  - files/en-us/web/performance/**/*
  - files/en-us/web/privacy/**/*
  - files/en-us/web/progressive_web_apps/**/*
  - files/en-us/web/security/**/*
  - files/en-us/web/web_components/**/*
  - files/en-us/web/xml/**/*
  - files/en-us/web/xpath/**/*
  - files/en-us/web/xslt/**/*
