Repository mdn/content, changes with the labels that .github/labeler.yml gives for each.
All labels: Content:Accessibility, Content:CSS, Content:DevTools, Content:Glossary, Content:HTML, Content:HTTP, Content:JS, Content:MathML, Content:Media, Content:SVG, Content:wasm, Content:WebAPI, Content:WebDriver, Content:WebExt, Content:Learn, Content:Learn:Django, Content:Learn:Express, Content:Other

ariaChecked ARIAMixin
  files/en-us/web/accessibility/aria/attributes/aria-checked/index.md
Labels: Content:Accessibility

ariaChecked see also
  files/en-us/web/accessibility/aria/attributes/aria-checked/index.md
Labels: Content:Accessibility

Remove inline styles from manifest key pages
  files/en-us/mozilla/add-ons/webextensions/manifest.json/author/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/background/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/browser_action/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/browser_specific_settings/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/chrome_url_overrides/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/commands/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/content_scripts/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/content_security_policy/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/default_locale/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/description/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/developer/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/devtools_page/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/dictionaries/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/homepage_url/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/icons/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/incognito/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/manifest_version/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/name/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/offline_enabled/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/omnibox/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/optional_permissions/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/options_page/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/options_ui/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/page_action/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/permissions/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/protocol_handlers/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/short_name/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/sidebar_action/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/storage/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/theme/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/theme_experiment/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/user_scripts/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/version/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/version_name/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/web_accessible_resources/index.html
Labels: Content:WebExt, Content:Other

ariaChecked - weird capitalization requirements in links
  files/en-us/web/accessibility/aria/attributes/aria-checked/index.md
Labels: Content:Accessibility

ariaChecked - typo
  files/en-us/web/accessibility/aria/attributes/aria-checked/index.md
Labels: Content:Accessibility

ariaChecked - weird capitalization requirements in links
  files/en-us/web/accessibility/aria/attributes/aria-checked/index.md
Labels: Content:Accessibility

ariaChecked - added w3 examples
  files/en-us/web/accessibility/aria/attributes/aria-checked/index.md
Labels: Content:Accessibility

ariaChecked - typo
  files/en-us/web/accessibility/aria/attributes/aria-checked/index.md
Labels: Content:Accessibility

ariaChecked - typo
  files/en-us/web/accessibility/aria/attributes/aria-checked/index.md
Labels: Content:Accessibility

Fix warnings in add-ons docs
  files/en-us/mozilla/add-ons/webextensions/anatomy_of_a_webextension/index.html
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/create/index.html
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/move/index.html
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/remove/index.html
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/removetree/index.html
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/update/index.html
  files/en-us/mozilla/add-ons/webextensions/api/browsingdata/removecookies/index.html
  files/en-us/mozilla/add-ons/webextensions/api/extension/getextensiontabs/index.html
  files/en-us/mozilla/add-ons/webextensions/api/extension/geturl/index.html
  files/en-us/mozilla/add-ons/webextensions/api/extension/onrequest/index.html
  files/en-us/mozilla/add-ons/webextensions/api/extension/onrequestexternal/index.html
  files/en-us/mozilla/add-ons/webextensions/api/extension/sendrequest/index.html
  files/en-us/mozilla/add-ons/webextensions/api/notifications/create/index.html
  files/en-us/mozilla/add-ons/webextensions/api/pkcs11/index.html
  files/en-us/mozilla/add-ons/webextensions/api/proxy/index.html
  files/en-us/mozilla/add-ons/webextensions/api/proxy/register/index.html
  files/en-us/mozilla/add-ons/webextensions/api/proxy/unregister/index.html
  files/en-us/mozilla/add-ons/webextensions/api/runtime/onmessage/index.html
  files/en-us/mozilla/add-ons/webextensions/api/storage/storagearea/get/index.html
  files/en-us/mozilla/add-ons/webextensions/api/tabs/create/index.html
  files/en-us/mozilla/add-ons/webextensions/api/tabs/getselected/index.html
  files/en-us/mozilla/add-ons/webextensions/api/tabs/onactivechanged/index.html
  files/en-us/mozilla/add-ons/webextensions/api/tabs/onhighlightchanged/index.html
  files/en-us/mozilla/add-ons/webextensions/api/tabs/onselectionchanged/index.html
  files/en-us/mozilla/add-ons/webextensions/api/tabs/sendrequest/index.html
  files/en-us/mozilla/add-ons/webextensions/api/userscripts/index.html
  files/en-us/mozilla/add-ons/webextensions/content_scripts/index.html
  files/en-us/mozilla/add-ons/webextensions/debugging_(before_firefox_50)/index.html
  files/en-us/mozilla/add-ons/webextensions/examples/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/browser_specific_settings/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/options_page/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/theme/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/theme_experiment/index.html
  files/en-us/mozilla/add-ons/webextensions/native_manifests/index.html
  files/en-us/mozilla/add-ons/webextensions/sharing_objects_with_page_scripts/index.html
  files/en-us/mozilla/add-ons/webextensions/user_interface/browser_styles/index.html
  files/en-us/mozilla/add-ons/webextensions/your_first_webextension/index.html
Labels: Content:WebExt, Content:Other

Array.fill() does not populate with random values (#9738)
  files/en-us/web/javascript/reference/global_objects/array/fill/index.md
Labels: Content:JS

Remove non-heading IDs from add-ons docs
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/getrecent/index.html
  files/en-us/mozilla/add-ons/webextensions/api/clipboard/setimagedata/index.html
  files/en-us/mozilla/add-ons/webextensions/api/contentscripts/register/index.html
  files/en-us/mozilla/add-ons/webextensions/api/notifications/notificationoptions/index.html
  files/en-us/mozilla/add-ons/webextensions/api/notifications/templatetype/index.html
  files/en-us/mozilla/add-ons/webextensions/api/proxy/register/index.html
  files/en-us/mozilla/add-ons/webextensions/api/tabs/printpreview/index.html
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/transitiontype/index.html
  files/en-us/mozilla/add-ons/webextensions/chrome_incompatibilities/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/browser_action/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/browser_specific_settings/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/content_security_policy/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/theme/index.html
  files/en-us/mozilla/add-ons/webextensions/user_interface/extension_pages/index.html
Labels: Content:WebExt, Content:Other

Remove line-numbers classes
  files/en-us/mozilla/add-ons/webextensions/add_a_button_to_the_toolbar/index.html
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/gettitle/index.html
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/seticon/index.html
  files/en-us/mozilla/add-ons/webextensions/api/browsingdata/remove/index.html
  files/en-us/mozilla/add-ons/webextensions/api/browsingdata/removecookies/index.html
  files/en-us/mozilla/add-ons/webextensions/api/browsingdata/removedownloads/index.html
  files/en-us/mozilla/add-ons/webextensions/api/browsingdata/removeformdata/index.html
  files/en-us/mozilla/add-ons/webextensions/api/browsingdata/removehistory/index.html
  files/en-us/mozilla/add-ons/webextensions/api/browsingdata/removelocalstorage/index.html
  files/en-us/mozilla/add-ons/webextensions/api/commands/oncommand/index.html
  files/en-us/mozilla/add-ons/webextensions/api/cookies/cookiestore/index.html
  files/en-us/mozilla/add-ons/webextensions/api/cookies/onchanged/index.html
  files/en-us/mozilla/add-ons/webextensions/api/devtools/panels/extensionsidebarpane/setobject/index.html
  files/en-us/mozilla/add-ons/webextensions/api/devtools/panels/extensionsidebarpane/setpage/index.html
  files/en-us/mozilla/add-ons/webextensions/api/index.html
  files/en-us/mozilla/add-ons/webextensions/api/menus/refresh/index.html
  files/en-us/mozilla/add-ons/webextensions/api/pageaction/seticon/index.html
  files/en-us/mozilla/add-ons/webextensions/api/pkcs11/installmodule/index.html
  files/en-us/mozilla/add-ons/webextensions/api/runtime/connect/index.html
  files/en-us/mozilla/add-ons/webextensions/api/runtime/onconnect/index.html
  files/en-us/mozilla/add-ons/webextensions/api/runtime/port/index.html
  files/en-us/mozilla/add-ons/webextensions/api/runtime/sendnativemessage/index.html
  files/en-us/mozilla/add-ons/webextensions/api/sidebaraction/seticon/index.html
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/streamfilter/error/index.html
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/streamfilter/onstart/index.html
  files/en-us/mozilla/add-ons/webextensions/browser_actions/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/user_scripts/index.html
  files/en-us/mozilla/add-ons/webextensions/modify_a_web_page/index.html
  files/en-us/mozilla/add-ons/webextensions/native_manifests/index.html
  files/en-us/mozilla/add-ons/webextensions/user_interface/browser_action/index.html
  files/en-us/mozilla/add-ons/webextensions/user_interface/devtools_panels/index.html
  files/en-us/mozilla/add-ons/webextensions/user_interface/notifications/index.html
  files/en-us/mozilla/add-ons/webextensions/user_interface/omnibox/index.html
  files/en-us/mozilla/add-ons/webextensions/user_interface/page_actions/index.html
  files/en-us/mozilla/add-ons/webextensions/your_second_webextension/index.html
Labels: Content:WebExt, Content:Other

Fix typo
  files/en-us/mozilla/add-ons/webextensions/browser_actions/index.html
Labels: Content:WebExt, Content:Other

Fix type of port property of proxy.ProxyInfo.
  files/en-us/mozilla/add-ons/webextensions/api/proxy/proxyinfo/index.html
Labels: Content:WebExt, Content:Other

Fix broken closing tag on pre
  files/en-us/mozilla/add-ons/webextensions/api/runtime/onconnect/index.html
Labels: Content:WebExt, Content:Other

typo fix
  files/en-us/web/accessibility/aria/attributes/aria-checked/index.md
Labels: Content:Accessibility

New Content: aria-busy
  files/en-us/web/accessibility/aria/attributes/aria-busy/index.md
Labels: Content:Accessibility

Apply suggestions from code review
  files/en-us/web/accessibility/aria/attributes/aria-activedescendant/index.md
  files/en-us/web/accessibility/aria/attributes/aria-atomic/index.md
Labels: Content:Accessibility

[Markdown][Add-ons] Remove "line-numbers" class (#9854)
  files/en-us/mozilla/add-ons/webextensions/add_a_button_to_the_toolbar/index.html
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/gettitle/index.html
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/seticon/index.html
  files/en-us/mozilla/add-ons/webextensions/api/browsingdata/remove/index.html
  files/en-us/mozilla/add-ons/webextensions/api/browsingdata/removecookies/index.html
  files/en-us/mozilla/add-ons/webextensions/api/browsingdata/removedownloads/index.html
  files/en-us/mozilla/add-ons/webextensions/api/browsingdata/removeformdata/index.html
  files/en-us/mozilla/add-ons/webextensions/api/browsingdata/removehistory/index.html
  files/en-us/mozilla/add-ons/webextensions/api/browsingdata/removelocalstorage/index.html
  files/en-us/mozilla/add-ons/webextensions/api/commands/oncommand/index.html
  files/en-us/mozilla/add-ons/webextensions/api/cookies/cookiestore/index.html
  files/en-us/mozilla/add-ons/webextensions/api/cookies/onchanged/index.html
  files/en-us/mozilla/add-ons/webextensions/api/devtools/panels/extensionsidebarpane/setobject/index.html
  files/en-us/mozilla/add-ons/webextensions/api/devtools/panels/extensionsidebarpane/setpage/index.html
  files/en-us/mozilla/add-ons/webextensions/api/index.html
  files/en-us/mozilla/add-ons/webextensions/api/menus/refresh/index.html
  files/en-us/mozilla/add-ons/webextensions/api/pageaction/seticon/index.html
  files/en-us/mozilla/add-ons/webextensions/api/pkcs11/installmodule/index.html
  files/en-us/mozilla/add-ons/webextensions/api/runtime/connect/index.html
  files/en-us/mozilla/add-ons/webextensions/api/runtime/onconnect/index.html
  files/en-us/mozilla/add-ons/webextensions/api/runtime/port/index.html
  files/en-us/mozilla/add-ons/webextensions/api/runtime/sendnativemessage/index.html
  files/en-us/mozilla/add-ons/webextensions/api/sidebaraction/seticon/index.html
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/streamfilter/error/index.html
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/streamfilter/onstart/index.html
  files/en-us/mozilla/add-ons/webextensions/browser_actions/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/user_scripts/index.html
  files/en-us/mozilla/add-ons/webextensions/modify_a_web_page/index.html
  files/en-us/mozilla/add-ons/webextensions/native_manifests/index.html
  files/en-us/mozilla/add-ons/webextensions/user_interface/browser_action/index.html
  files/en-us/mozilla/add-ons/webextensions/user_interface/devtools_panels/index.html
  files/en-us/mozilla/add-ons/webextensions/user_interface/notifications/index.html
  files/en-us/mozilla/add-ons/webextensions/user_interface/omnibox/index.html
  files/en-us/mozilla/add-ons/webextensions/user_interface/page_actions/index.html
  files/en-us/mozilla/add-ons/webextensions/your_second_webextension/index.html
Labels: Content:WebExt, Content:Other

Add-ons: fix misplaced colons in notes (#9846)
  files/en-us/mozilla/add-ons/webextensions/api/downloads/dangertype/index.html
  files/en-us/mozilla/add-ons/webextensions/api/downloads/download/index.html
  files/en-us/mozilla/add-ons/webextensions/api/downloads/erase/index.html
  files/en-us/mozilla/add-ons/webextensions/api/downloads/removefile/index.html
  files/en-us/mozilla/add-ons/webextensions/api/downloads/setshelfenabled/index.html
  files/en-us/mozilla/add-ons/webextensions/api/downloads/state/index.html
  files/en-us/mozilla/add-ons/webextensions/api/extension/getbackgroundpage/index.html
  files/en-us/mozilla/add-ons/webextensions/api/history/index.html
  files/en-us/mozilla/add-ons/webextensions/api/i18n/locale-specific_message_reference/index.html
  files/en-us/mozilla/add-ons/webextensions/api/menus/create/index.html
  files/en-us/mozilla/add-ons/webextensions/api/menus/createproperties/index.html
  files/en-us/mozilla/add-ons/webextensions/api/menus/update/index.html
  files/en-us/mozilla/add-ons/webextensions/api/runtime/getbackgroundpage/index.html
  files/en-us/mozilla/add-ons/webextensions/api/runtime/onsuspend/index.html
  files/en-us/mozilla/add-ons/webextensions/api/tabs/duplicate/index.html
  files/en-us/mozilla/add-ons/webextensions/api/tabs/highlight/index.html
  files/en-us/mozilla/add-ons/webextensions/api/windows/get/index.html
  files/en-us/mozilla/add-ons/webextensions/api/windows/onfocuschanged/index.html
  files/en-us/mozilla/add-ons/webextensions/interact_with_the_clipboard/index.html
  files/en-us/mozilla/add-ons/webextensions/internationalization/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/theme/index.html
  files/en-us/mozilla/add-ons/webextensions/match_patterns/index.html
Labels: Content:WebExt, Content:Other

Fix warnings in add-ons docs (#9851)
  files/en-us/mozilla/add-ons/webextensions/anatomy_of_a_webextension/index.html
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/create/index.html
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/move/index.html
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/remove/index.html
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/removetree/index.html
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/update/index.html
  files/en-us/mozilla/add-ons/webextensions/api/browsingdata/removecookies/index.html
  files/en-us/mozilla/add-ons/webextensions/api/extension/getextensiontabs/index.html
  files/en-us/mozilla/add-ons/webextensions/api/extension/geturl/index.html
  files/en-us/mozilla/add-ons/webextensions/api/extension/onrequest/index.html
  files/en-us/mozilla/add-ons/webextensions/api/extension/onrequestexternal/index.html
  files/en-us/mozilla/add-ons/webextensions/api/extension/sendrequest/index.html
  files/en-us/mozilla/add-ons/webextensions/api/notifications/create/index.html
  files/en-us/mozilla/add-ons/webextensions/api/pkcs11/index.html
  files/en-us/mozilla/add-ons/webextensions/api/proxy/index.html
  files/en-us/mozilla/add-ons/webextensions/api/proxy/register/index.html
  files/en-us/mozilla/add-ons/webextensions/api/proxy/unregister/index.html
  files/en-us/mozilla/add-ons/webextensions/api/runtime/onmessage/index.html
  files/en-us/mozilla/add-ons/webextensions/api/storage/storagearea/get/index.html
  files/en-us/mozilla/add-ons/webextensions/api/tabs/create/index.html
  files/en-us/mozilla/add-ons/webextensions/api/tabs/getselected/index.html
  files/en-us/mozilla/add-ons/webextensions/api/tabs/onactivechanged/index.html
  files/en-us/mozilla/add-ons/webextensions/api/tabs/onhighlightchanged/index.html
  files/en-us/mozilla/add-ons/webextensions/api/tabs/onselectionchanged/index.html
  files/en-us/mozilla/add-ons/webextensions/api/tabs/sendrequest/index.html
  files/en-us/mozilla/add-ons/webextensions/api/userscripts/index.html
  files/en-us/mozilla/add-ons/webextensions/content_scripts/index.html
  files/en-us/mozilla/add-ons/webextensions/debugging_(before_firefox_50)/index.html
  files/en-us/mozilla/add-ons/webextensions/examples/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/browser_specific_settings/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/options_page/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/theme/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/theme_experiment/index.html
  files/en-us/mozilla/add-ons/webextensions/native_manifests/index.html
  files/en-us/mozilla/add-ons/webextensions/sharing_objects_with_page_scripts/index.html
  files/en-us/mozilla/add-ons/webextensions/user_interface/browser_styles/index.html
  files/en-us/mozilla/add-ons/webextensions/your_first_webextension/index.html
Labels: Content:WebExt, Content:Other

Fix hidden elements in add-ons docs (#9847)
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/index.html
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/index.html
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/onclicked/index.html
  files/en-us/mozilla/add-ons/webextensions/api/browsingdata/index.html
  files/en-us/mozilla/add-ons/webextensions/api/captiveportal/getlastchecked/index.html
  files/en-us/mozilla/add-ons/webextensions/api/captiveportal/index.html
  files/en-us/mozilla/add-ons/webextensions/api/management/uninstallself/index.html
  files/en-us/mozilla/add-ons/webextensions/api/pageaction/onclicked/index.html
  files/en-us/mozilla/add-ons/webextensions/api/privacy/network/index.html
  files/en-us/mozilla/add-ons/webextensions/api/privacy/websites/index.html
  files/en-us/mozilla/add-ons/webextensions/user_interface/browser_styles/index.html
Labels: Content:WebExt, Content:Other

Update files/en-us/mozilla/add-ons/webextensions/api/permissions/request/index.html
  files/en-us/mozilla/add-ons/webextensions/api/permissions/request/index.html
Labels: Content:WebExt, Content:Other

Update files/en-us/mozilla/add-ons/webextensions/api/tabs/onhighlightchanged/index.html
  files/en-us/mozilla/add-ons/webextensions/api/tabs/onhighlightchanged/index.html
Labels: Content:WebExt, Content:Other

Update files/en-us/mozilla/add-ons/webextensions/manifest.json/storage/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/storage/index.html
Labels: Content:WebExt, Content:Other

feat: link to visual viewport api sample
  files/en-us/web/api/visual_viewport_api/index.md
Labels: Content:WebAPI

Update files/en-us/web/api/response/statustext/index.md
  files/en-us/web/api/response/statustext/index.md
Labels: Content:WebAPI

Remove reference to voiceActivityDetection
  files/en-us/web/api/rtcpeerconnection/createanswer/index.md
  files/en-us/web/api/rtcpeerconnection/createoffer/index.md
Labels: Content:WebAPI

Update index.md
  files/en-us/web/javascript/reference/functions/arrow_functions/index.md
Labels: Content:JS

fixed fetch response example url (#9427)
  files/en-us/web/api/response/statustext/index.md
Labels: Content:WebAPI

Remove non-heading IDs from add-ons docs (#9853)
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/getrecent/index.html
  files/en-us/mozilla/add-ons/webextensions/api/clipboard/setimagedata/index.html
  files/en-us/mozilla/add-ons/webextensions/api/contentscripts/register/index.html
  files/en-us/mozilla/add-ons/webextensions/api/notifications/notificationoptions/index.html
  files/en-us/mozilla/add-ons/webextensions/api/notifications/templatetype/index.html
  files/en-us/mozilla/add-ons/webextensions/api/proxy/register/index.html
  files/en-us/mozilla/add-ons/webextensions/api/tabs/printpreview/index.html
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/transitiontype/index.html
  files/en-us/mozilla/add-ons/webextensions/chrome_incompatibilities/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/browser_action/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/browser_specific_settings/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/content_security_policy/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/theme/index.html
  files/en-us/mozilla/add-ons/webextensions/user_interface/extension_pages/index.html
Labels: Content:WebExt, Content:Other

Apply suggestions from code review
  files/en-us/web/accessibility/aria/attributes/aria-busy/index.md
Labels: Content:Accessibility

Fix possible typo
  files/en-us/web/api/web_speech_api/index.md
Labels: Content:WebAPI

Fixes #9433 - reduces emphasis on arrow function
  files/en-us/web/javascript/reference/global_objects/promise/index.md
Labels: Content:JS

Improve understanding of the text in "Object building practice"
  files/en-us/learn/javascript/objects/object_building_practice/index.md
Labels: Content:Learn

Finish removing no-line-numbers
  files/en-us/mozilla/add-ons/webextensions/manifest.json/description/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/protocol_handlers/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/web_accessible_resources/index.html
Labels: Content:WebExt, Content:Other

Remove more random classes
  files/en-us/mozilla/add-ons/contact_us/index.html
  files/en-us/mozilla/add-ons/webextensions/add_a_button_to_the_toolbar/index.html
  files/en-us/mozilla/add-ons/webextensions/api/browsersettings/zoomfullpage/index.html
  files/en-us/mozilla/add-ons/webextensions/api/clipboard/setimagedata/index.html
  files/en-us/mozilla/add-ons/webextensions/api/contentscripts/register/index.html
  files/en-us/mozilla/add-ons/webextensions/api/extension/sendrequest/index.html
  files/en-us/mozilla/add-ons/webextensions/api/i18n/locale-specific_message_reference/index.html
  files/en-us/mozilla/add-ons/webextensions/api/menus/gettargetelement/index.html
  files/en-us/mozilla/add-ons/webextensions/api/tabs/duplicate/index.html
  files/en-us/mozilla/add-ons/webextensions/api/tabs/getallinwindow/index.html
  files/en-us/mozilla/add-ons/webextensions/api/theme/update/index.html
  files/en-us/mozilla/add-ons/webextensions/api/windows/get/index.html
  files/en-us/mozilla/add-ons/webextensions/chrome_incompatibilities/index.html
  files/en-us/mozilla/add-ons/webextensions/debugging_(before_firefox_50)/index.html
  files/en-us/mozilla/add-ons/webextensions/developing_webextensions_for_thunderbird/index.html
  files/en-us/mozilla/add-ons/webextensions/internationalization/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/browser_specific_settings/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/commands/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/optional_permissions/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/theme/index.html
  files/en-us/mozilla/add-ons/webextensions/tips/index.html
  files/en-us/mozilla/add-ons/webextensions/user_interface/browser_styles/index.html
Labels: Content:WebExt, Content:Other

Improve understanding of the text in "Object building practice" (#9866)
  files/en-us/learn/javascript/objects/object_building_practice/index.md
Labels: Content:Learn

Delete zombie index.html (#9812)
  files/en-us/web/http/headers/content-security-policy/script-src/index.html
Labels: Content:HTTP

.github/labeler.yml:

Content:Accessibility:
  - files/en-us/web/accessibility/**/*
Content:CSS:
  - files/en-us/web/css/**/*
Content:DevTools:
  - files/en-us/tools/**/*
Content:Glossary:
  - files/en-us/glossary/**/*
Content:HTML:
  - files/en-us/web/html/**/*
Content:HTTP:
  - files/en-us/web/http/**/*
Content:JS:
  - files/en-us/web/javascript/**/*
Content:MathML:
  - files/en-us/web/mathml/**/*
Content:Media:
  - files/en-us/web/media/**/*
Content:SVG:
  - files/en-us/web/svg/**/*
Content:wasm:
  - files/en-us/webassembly/**/*
Content:WebAPI:
  - files/en-us/web/api/**/*
Content:WebDriver:
  - files/en-us/web/webdriver/**/*
Content:WebExt:
  - files/en-us/mozilla/add-ons/webextensions/**/*
Content:Learn:
  - files/en-us/learn/**/*
  - files/en-us/web/guide/**/*
  - files/en-us/web/tutorials/**/*
Content:Learn:Django:
  - files/en-us/learn/server-side/django/**/*
Content:Learn:Express:
  - files/en-us/learn/server-side/express_nodejs/**/*
Content:Other:
  - files/en-us/games/**/*
  - files/en-us/mdn/**/*
  - files/en-us/mozilla/**/*
  - files/en-us/plugins/**/*
  - files/en-us/related/**/*
  - files/en-us/tools/**/*
  - files/en-us/web/demos/**/*
  - files/en-us/web/events/**/*
  - files/en-us/web/exslt/**/*
  - files/en-us/web/manifest/**/*
  - files/en-us/web/opensearch/**/*
  - files/en-us/web/performance/**/*
  - files/en-us/web/privacy/**/*
  - files/en-us/web/progressive_web_apps/**/*
  - files/en-us/web/security/**/*
  - files/en-us/web/web_components/**/*
  - files/en-us/web/xml/**/*
  - files/en-us/web/xpath/**/*
  - files/en-us/web/xslt/**/*
