Repository mdn/content, changes with the labels that .github/labeler.yml gives for each.
All labels: Content:Accessibility, Content:CSS, Content:DevTools, Content:Glossary, Content:HTML, Content:HTTP, Content:JS, Content:MathML, Content:Media, Content:SVG, Content:wasm, Content:WebAPI, Content:WebDriver, Content:WebExt, Content:Learn, Content:Learn:Django, Content:Learn:Express, Content:Other

title change
  files/en-us/web/accessibility/aria/attributes/aria-colcount/index.md
Labels: Content:Accessibility

Clarify unsafe-hashes
  files/en-us/web/http/headers/content-security-policy/script-src/index.md
Labels: Content:HTTP

Fix Javascript RE for phone number
  files/en-us/web/javascript/guide/regular_expressions/index.md
Labels: Content:JS

aria-current: tweaks
  files/en-us/web/accessibility/aria/attributes/aria-current/index.md
Labels: Content:Accessibility

aria-current: ElementInternals
  files/en-us/web/accessibility/aria/attributes/aria-current/index.md
Labels: Content:Accessibility

aria-current: see also
  files/en-us/web/accessibility/aria/attributes/aria-current/index.md
Labels: Content:Accessibility

Add deprecation replacement info to navigator.platform
  files/en-us/web/api/navigator/platform/index.md
  files/en-us/web/api/navigatoruadata/platform/index.md
Labels: Content:WebAPI

remove a few words from the title
  files/en-us/web/accessibility/aria/attributes/aria-activedescendant/index.md
  files/en-us/web/accessibility/aria/attributes/aria-autocomplete/index.md
  files/en-us/web/accessibility/aria/attributes/aria-braillelabel/index.md
  files/en-us/web/accessibility/aria/attributes/aria-brailleroledescription/index.md
  files/en-us/web/accessibility/aria/attributes/aria-busy/index.md
  files/en-us/web/accessibility/aria/attributes/aria-checked/index.md
  files/en-us/web/accessibility/aria/attributes/aria-colindextext/index.md
Labels: Content:Accessibility

Add deprecation replacement info to navigator.platform (#9999)
  files/en-us/web/api/navigator/platform/index.md
  files/en-us/web/api/navigatoruadata/platform/index.md
Labels: Content:WebAPI

Fix Javascript RE for phone number (#9998)
  files/en-us/web/javascript/guide/regular_expressions/index.md
Labels: Content:JS

Updates to media queries
  files/en-us/web/css/@media/index.md
  files/en-us/web/css/media_queries/using_media_queries/index.md
Labels: Content:CSS

Typo in Animation constructor's timeline param
  files/en-us/web/api/animation/animation/index.md
Labels: Content:WebAPI

Update macro display name
  files/en-us/web/css/url()/index.md
Labels: Content:CSS

Fix CSS code block syntax highlighting (#9990)
  files/en-us/web/css/url()/index.md
Labels: Content:CSS

PageMacro: Remove from CSS @media (#9906)
  files/en-us/web/css/@media/index.md
  files/en-us/web/css/media_queries/using_media_queries/index.md
Labels: Content:CSS

media containers: layout fixes only
  files/en-us/web/media/formats/containers/index.md
Labels: Content:Media

Tidy up web codecs
  files/en-us/web/media/formats/containers/index.md
  files/en-us/web/media/formats/video_codecs/index.md
Labels: Content:Media

fix URL to https
  files/en-us/web/api/animation/animation/index.md
Labels: Content:WebAPI

Update files/en-us/web/api/rtcpeerconnection/createanswer/index.md
  files/en-us/web/api/rtcpeerconnection/createanswer/index.md
Labels: Content:WebAPI

Remove RTCRTPSynchronizationSource dictionary from MDN
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/rtcrtpsynchronizationsource/index.md
  files/en-us/web/api/rtcrtpsynchronizationsource/voiceactivityflag/index.md
Labels: Content:WebAPI

Remove references to RTCRtpSynchronizationSource
  files/en-us/web/api/rtcrtpreceiver/getsynchronizationsources/index.md
Labels: Content:WebAPI

Fix capitalization
  files/en-us/_redirects.txt
Labels: none

Fix redirects
  files/en-us/_redirects.txt
Labels: none

Fix redirects (again)
  files/en-us/_redirects.txt
Labels: none

Fix redirects (finally)
  files/en-us/_redirects.txt
Labels: none

Mark DOMContentLoaded as non-cancelable
  files/en-us/web/api/document/domcontentloaded_event/index.md
  files/en-us/web/api/window/domcontentloaded_event/index.md
Labels: Content:WebAPI

Mark DOMContentLoaded as non-cancelable (#10006)
  files/en-us/web/api/document/domcontentloaded_event/index.md
  files/en-us/web/api/window/domcontentloaded_event/index.md
Labels: Content:WebAPI

Apply grammar suggestions from code review
  files/en-us/web/api/eventtarget/addeventlistener/index.md
  files/en-us/web/api/eventtarget/dispatchevent/index.md
  files/en-us/web/api/eventtarget/eventtarget/index.md
  files/en-us/web/api/eventtarget/index.md
Labels: Content:WebAPI

Modernize method syntax box
  files/en-us/web/api/eventtarget/dispatchevent/index.md
Labels: Content:WebAPI

Update webdriver updates
  files/en-us/mozilla/firefox/releases/94/index.html
Labels: Content:Other

Removed broken spec link
  files/en-us/web/api/eyedropper/eyedropper/index.md
Labels: Content:WebAPI

Update sentence to make it clearer
  files/en-us/web/api/eventtarget/dispatchevent/index.md
Labels: Content:WebAPI

FF94 ShadowRoot.delegatesFocus release note and tidy (#9819)
  files/en-us/mozilla/firefox/releases/94/index.html
  files/en-us/web/api/element/attachshadow/index.md
  files/en-us/web/api/shadowroot/delegatesfocus/index.md
  files/en-us/web/api/shadowroot/index.md
Labels: Content:WebAPI, Content:Other

Remove "For a list of available event types…" paragraph
  files/en-us/web/api/event/type/index.md
Labels: Content:WebAPI

Update the standard for callbacks in syntax sections (#9995)
  files/en-us/mdn/structures/syntax_sections/index.md
Labels: Content:Other

Update webdriver changes
  files/en-us/mozilla/firefox/releases/94/index.html
Labels: Content:Other

Update files/en-us/mozilla/firefox/releases/94/index.html
  files/en-us/mozilla/firefox/releases/94/index.html
Labels: Content:Other

Webdriver (Marionette) Updates (#9989)
  files/en-us/mozilla/firefox/releases/94/index.html
Labels: Content:Other

Fixed review comments - changed 'Thrown' to 'Returned' in case of promises
  files/en-us/web/api/fetchevent/respondwith/index.md
  files/en-us/web/api/filesystemwritablefilestream/write/index.md
  files/en-us/web/api/offlineaudiocontext/resume/index.md
  files/en-us/web/api/offlineaudiocontext/suspend/index.md
  files/en-us/web/api/rtcrtpsender/replacetrack/index.md
  files/en-us/web/api/rtcrtpsender/setparameters/index.md
  files/en-us/web/api/serialport/getsignals/index.md
  files/en-us/web/api/serialport/open/index.md
  files/en-us/web/api/serialport/setsignals/index.md
  files/en-us/web/api/xrsystem/requestsession/index.md
Labels: Content:WebAPI

Remove broken links to E4X content
  files/en-us/web/api/document_object_model/how_to_create_a_dom_tree/index.md
  files/en-us/web/javascript/language_resources/index.md
  files/en-us/web/javascript/reference/deprecated_and_obsolete_features/index.md
Labels: Content:JS, Content:WebAPI

.github/labeler.yml:

Content:Accessibility:
  - files/en-us/web/accessibility/**/*
Content:CSS:
  - files/en-us/web/css/**/*
Content:DevTools:
  - files/en-us/tools/**/*
Content:Glossary:
  - files/en-us/glossary/**/*
Content:HTML:
  - files/en-us/web/html/**/*
Content:HTTP:
  - files/en-us/web/http/**/*
Content:JS:
  - files/en-us/web/javascript/**/*
Content:MathML:
  - files/en-us/web/mathml/**/*
Content:Media:
  - files/en-us/web/media/**/*
Content:SVG:
  - files/en-us/web/svg/**/*
Content:wasm:
  - files/en-us/webassembly/**/*
Content:WebAPI:
  - files/en-us/web/api/**/*
Content:WebDriver:
  - files/en-us/web/webdriver/**/*
Content:WebExt:
  - files/en-us/mozilla/add-ons/webextensions/**/*
Content:Learn:
  - files/en-us/learn/**/*
  - files/en-us/web/guide/**/*
  - files/en-us/web/tutorials/**/*
Content:Learn:Django:
  - files/en-us/learn/server-side/django/**/*
Content:Learn:Express:
  - files/en-us/learn/server-side/express_nodejs/**/*
Content:Other:
  - files/en-us/games/**/*
  - files/en-us/mdn/**/*
  - files/en-us/mozilla/**/*
  - files/en-us/plugins/**/*
  - files/en-us/related/**/*
  - files/en-us/tools/**/*
  - files/en-us/web/demos/**/*
  - files/en-us/web/events/**/*
  - files/en-us/web/exslt/**/*
  - files/en-us/web/manifest/**/*
  - files/en-us/web/opensearch/**/*
  - files/en-us/web/performance/**/*
  - files/en-us/web/privacy/**/*
  - files/en-us/web/progressive_web_apps/**/*
  - files/en-us/web/security/**/*
  - files/en-us/web/web_components/**/*
  - files/en-us/web/xml/**/*
  - files/en-us/web/xpath/**/*
  - files/en-us/web/xslt/**/*
