Repository mdn/content, changes with the labels that .github/labeler.yml gives for each.
All labels: Content:Accessibility, Content:CSS, Content:DevTools, Content:Glossary, Content:HTML, Content:HTTP, Content:JS, Content:MathML, Content:Media, Content:SVG, Content:wasm, Content:WebAPI, Content:WebDriver, Content:WebExt, Content:Learn, Content:Learn:Django, Content:Learn:Express, Content:Other

Prepare plugins for Markdowning
  files/en-us/plugins/blocking_by_domain/index.html
  files/en-us/plugins/flash_to_html5/clipboard/index.html
  files/en-us/plugins/flash_to_html5/index.html
  files/en-us/plugins/flash_to_html5/video/advertising/index.html
  files/en-us/plugins/flash_to_html5/video/distribution/index.html
  files/en-us/plugins/flash_to_html5/video/drm_and_authentication/index.html
  files/en-us/plugins/flash_to_html5/video/file_format_conversion/index.html
  files/en-us/plugins/flash_to_html5/video/index.html
  files/en-us/plugins/flash_to_html5/video/planning/index.html
  files/en-us/plugins/flash_to_html5/video/players/index.html
  files/en-us/plugins/flash_to_html5/video/subtitles_captions/index.html
  files/en-us/plugins/guide/browser_side_plug-in_api/index.html
  files/en-us/plugins/guide/constants/index.html
  files/en-us/plugins/guide/drawing_and_event_handling/index.html
  files/en-us/plugins/guide/memory/index.html
  files/en-us/plugins/guide/plug-in_basics/index.html
  files/en-us/plugins/guide/plug-in_development_overview/index.html
  files/en-us/plugins/guide/plug-in_side_plug-in_api/index.html
  files/en-us/plugins/guide/scripting_plugins/index.html
  files/en-us/plugins/guide/streams/index.html
  files/en-us/plugins/guide/structures/index.html
  files/en-us/plugins/guide/urls/index.html
  files/en-us/plugins/guide/version_ui_and_status_information/index.html
  files/en-us/plugins/index.html
Labels: Content:Other

Fix HTML unescaped code (#9712)
  files/en-us/learn/html/introduction_to_html/getting_started/index.md
Labels: Content:Learn

Fix typo (#9717)
  files/en-us/learn/accessibility/html/index.md
Labels: Content:Learn

Create Sjenica1
  Sjenica1
Labels: none

Prepare plugins for Markdowning (#9719)
  files/en-us/plugins/blocking_by_domain/index.html
  files/en-us/plugins/flash_to_html5/clipboard/index.html
  files/en-us/plugins/flash_to_html5/index.html
  files/en-us/plugins/flash_to_html5/video/advertising/index.html
  files/en-us/plugins/flash_to_html5/video/distribution/index.html
  files/en-us/plugins/flash_to_html5/video/drm_and_authentication/index.html
  files/en-us/plugins/flash_to_html5/video/file_format_conversion/index.html
  files/en-us/plugins/flash_to_html5/video/index.html
  files/en-us/plugins/flash_to_html5/video/planning/index.html
  files/en-us/plugins/flash_to_html5/video/players/index.html
  files/en-us/plugins/flash_to_html5/video/subtitles_captions/index.html
  files/en-us/plugins/guide/browser_side_plug-in_api/index.html
  files/en-us/plugins/guide/constants/index.html
  files/en-us/plugins/guide/drawing_and_event_handling/index.html
  files/en-us/plugins/guide/memory/index.html
  files/en-us/plugins/guide/plug-in_basics/index.html
  files/en-us/plugins/guide/plug-in_development_overview/index.html
  files/en-us/plugins/guide/plug-in_side_plug-in_api/index.html
  files/en-us/plugins/guide/scripting_plugins/index.html
  files/en-us/plugins/guide/streams/index.html
  files/en-us/plugins/guide/structures/index.html
  files/en-us/plugins/guide/urls/index.html
  files/en-us/plugins/guide/version_ui_and_status_information/index.html
  files/en-us/plugins/index.html
Labels: Content:Other

Fix various markup issues
  files/en-us/webassembly/c_to_wasm/index.html
  files/en-us/webassembly/caching_modules/index.html
  files/en-us/webassembly/concepts/index.html
  files/en-us/webassembly/existing_c_to_wasm/index.html
  files/en-us/webassembly/exported_functions/index.html
  files/en-us/webassembly/index.html
  files/en-us/webassembly/loading_and_running/index.html
  files/en-us/webassembly/reference/control_flow/block/index.html
  files/en-us/webassembly/reference/control_flow/index.html
  files/en-us/webassembly/rust_to_wasm/index.html
  files/en-us/webassembly/text_format_to_wasm/index.html
  files/en-us/webassembly/understanding_the_text_format/index.html
  files/en-us/webassembly/using_the_javascript_api/index.html
Labels: Content:wasm

methods tend to have ()
  files/en-us/web/api/cache/index.md
Labels: Content:WebAPI

Remove StorageEstimate dictionary from MDN (#9718)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/cache/index.md
  files/en-us/web/api/storage_api/index.md
  files/en-us/web/api/storageestimate/index.md
  files/en-us/web/api/storageestimate/quota/index.md
  files/en-us/web/api/storageestimate/usage/index.md
  files/en-us/web/api/storagemanager/estimate/index.md
  files/en-us/web/api/storagemanager/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

Add ( ) to end of function and update syntax (unrelated)
  files/en-us/web/api/geolocation/watchposition/index.md
Labels: Content:WebAPI

Better tables for opcodes
  files/en-us/webassembly/reference/control_flow/block/index.html
  files/en-us/webassembly/reference/control_flow/br/index.html
  files/en-us/webassembly/reference/control_flow/call/index.html
  files/en-us/webassembly/reference/control_flow/end/index.html
  files/en-us/webassembly/reference/control_flow/if...else/index.html
  files/en-us/webassembly/reference/control_flow/loop/index.html
  files/en-us/webassembly/reference/control_flow/nop/index.html
  files/en-us/webassembly/reference/control_flow/return/index.html
  files/en-us/webassembly/reference/control_flow/unreachable/index.html
Labels: Content:wasm

Tidy page to remove syntax block
  files/en-us/web/api/geolocationpositionerror/code/index.md
Labels: Content:WebAPI

Remove PositionOptions dictionary from MDN (#9713)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/geolocation/getcurrentposition/index.md
  files/en-us/web/api/geolocation/watchposition/index.md
  files/en-us/web/api/geolocation_api/index.md
  files/en-us/web/api/geolocation_api/using_the_geolocation_api/index.md
  files/en-us/web/api/geolocationpositionerror/code/index.md
  files/en-us/web/api/geolocationpositionerror/index.md
  files/en-us/web/api/mediacapabilities/mediacapabilitiesinfo/index.md
  files/en-us/web/api/positionoptions/enablehighaccuracy/index.md
  files/en-us/web/api/positionoptions/index.md
  files/en-us/web/api/positionoptions/maximumage/index.md
  files/en-us/web/api/positionoptions/timeout/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

Remove PayerErrors dictionary from MDN (#9711)
  files/en-us/_wikihistory.json
  files/en-us/web/api/payererrors/email/index.md
  files/en-us/web/api/payererrors/index.md
  files/en-us/web/api/payererrors/name/index.md
  files/en-us/web/api/payererrors/phone/index.md
  files/en-us/web/api/payment_request_api/index.md
Labels: Content:WebAPI

Remove the MSE track defaults APIs (#9697)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/media_source_extensions_api/index.md
  files/en-us/web/api/sourcebuffer/index.md
  files/en-us/web/api/sourcebuffer/trackdefaults/index.md
  files/en-us/web/api/trackdefault/bytestreamtrackid/index.md
  files/en-us/web/api/trackdefault/index.md
  files/en-us/web/api/trackdefault/kinds/index.md
  files/en-us/web/api/trackdefault/label/index.md
  files/en-us/web/api/trackdefault/language/index.md
  files/en-us/web/api/trackdefault/trackdefault/index.md
  files/en-us/web/api/trackdefault/type/index.md
  files/en-us/web/api/trackdefaultlist/index.md
  files/en-us/web/api/trackdefaultlist/length/index.md
  files/en-us/web/api/trackdefaultlist/trackdefaultlist/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

Update Firefox Dev Tools - Minor Text Change (#9633)
  files/en-us/tools/index.html
Labels: Content:DevTools, Content:Other

[Markdown][WebAssembly] Prepare WebAssembly for Markdowning (#9721)
  files/en-us/webassembly/c_to_wasm/index.html
  files/en-us/webassembly/caching_modules/index.html
  files/en-us/webassembly/concepts/index.html
  files/en-us/webassembly/existing_c_to_wasm/index.html
  files/en-us/webassembly/exported_functions/index.html
  files/en-us/webassembly/index.html
  files/en-us/webassembly/loading_and_running/index.html
  files/en-us/webassembly/reference/control_flow/block/index.html
  files/en-us/webassembly/reference/control_flow/br/index.html
  files/en-us/webassembly/reference/control_flow/call/index.html
  files/en-us/webassembly/reference/control_flow/end/index.html
  files/en-us/webassembly/reference/control_flow/if...else/index.html
  files/en-us/webassembly/reference/control_flow/index.html
  files/en-us/webassembly/reference/control_flow/loop/index.html
  files/en-us/webassembly/reference/control_flow/nop/index.html
  files/en-us/webassembly/reference/control_flow/return/index.html
  files/en-us/webassembly/reference/control_flow/unreachable/index.html
  files/en-us/webassembly/rust_to_wasm/index.html
  files/en-us/webassembly/text_format_to_wasm/index.html
  files/en-us/webassembly/understanding_the_text_format/index.html
  files/en-us/webassembly/using_the_javascript_api/index.html
Labels: Content:wasm

Update files/en-us/web/api/structuredclone/index.md
  files/en-us/web/api/structuredclone/index.md
Labels: Content:WebAPI

Update files/en-us/web/api/structuredclone/index.md
  files/en-us/web/api/structuredclone/index.md
Labels: Content:WebAPI

Apply suggestions from code review
  files/en-us/glossary/transferable_objects/index.md
Labels: Content:Glossary

Rename HTML files to MD
  files/en-us/plugins/blocking_by_domain/index.md
  files/en-us/plugins/flash_to_html5/clipboard/index.md
  files/en-us/plugins/flash_to_html5/index.md
  files/en-us/plugins/flash_to_html5/video/advertising/index.md
  files/en-us/plugins/flash_to_html5/video/distribution/index.md
  files/en-us/plugins/flash_to_html5/video/drm_and_authentication/index.md
  files/en-us/plugins/flash_to_html5/video/file_format_conversion/index.md
  files/en-us/plugins/flash_to_html5/video/index.md
  files/en-us/plugins/flash_to_html5/video/planning/index.md
  files/en-us/plugins/flash_to_html5/video/players/index.md
  files/en-us/plugins/flash_to_html5/video/subtitles_captions/index.md
  files/en-us/plugins/guide/browser_side_plug-in_api/index.md
  files/en-us/plugins/guide/constants/index.md
  files/en-us/plugins/guide/drawing_and_event_handling/index.md
  files/en-us/plugins/guide/index.md
  files/en-us/plugins/guide/initialization_and_destruction/index.md
  files/en-us/plugins/guide/memory/index.md
  files/en-us/plugins/guide/plug-in_basics/index.md
  files/en-us/plugins/guide/plug-in_development_overview/index.md
  files/en-us/plugins/guide/plug-in_side_plug-in_api/index.md
  files/en-us/plugins/guide/scripting_plugins/index.md
  files/en-us/plugins/guide/streams/index.md
  files/en-us/plugins/guide/structures/index.md
  files/en-us/plugins/guide/urls/index.md
  files/en-us/plugins/guide/version_ui_and_status_information/index.md
  files/en-us/plugins/index.md
  files/en-us/plugins/roadmap/index.md
Labels: Content:Other

Convert files contents to Markdown
  files/en-us/plugins/blocking_by_domain/index.md
  files/en-us/plugins/flash_to_html5/clipboard/index.md
  files/en-us/plugins/flash_to_html5/index.md
  files/en-us/plugins/flash_to_html5/video/advertising/index.md
  files/en-us/plugins/flash_to_html5/video/distribution/index.md
  files/en-us/plugins/flash_to_html5/video/drm_and_authentication/index.md
  files/en-us/plugins/flash_to_html5/video/file_format_conversion/index.md
  files/en-us/plugins/flash_to_html5/video/index.md
  files/en-us/plugins/flash_to_html5/video/planning/index.md
  files/en-us/plugins/flash_to_html5/video/players/index.md
  files/en-us/plugins/flash_to_html5/video/subtitles_captions/index.md
  files/en-us/plugins/guide/browser_side_plug-in_api/index.md
  files/en-us/plugins/guide/constants/index.md
  files/en-us/plugins/guide/drawing_and_event_handling/index.md
  files/en-us/plugins/guide/index.md
  files/en-us/plugins/guide/initialization_and_destruction/index.md
  files/en-us/plugins/guide/memory/index.md
  files/en-us/plugins/guide/plug-in_basics/index.md
  files/en-us/plugins/guide/plug-in_development_overview/index.md
  files/en-us/plugins/guide/plug-in_side_plug-in_api/index.md
  files/en-us/plugins/guide/scripting_plugins/index.md
  files/en-us/plugins/guide/streams/index.md
  files/en-us/plugins/guide/structures/index.md
  files/en-us/plugins/guide/urls/index.md
  files/en-us/plugins/guide/version_ui_and_status_information/index.md
  files/en-us/plugins/index.md
  files/en-us/plugins/roadmap/index.md
Labels: Content:Other

Rename HTML files to MD
  files/en-us/web/manifest/background_color/index.md
  files/en-us/web/manifest/categories/index.md
  files/en-us/web/manifest/description/index.md
  files/en-us/web/manifest/dir/index.md
  files/en-us/web/manifest/display/index.md
  files/en-us/web/manifest/iarc_rating_id/index.md
  files/en-us/web/manifest/icons/index.md
  files/en-us/web/manifest/index.md
  files/en-us/web/manifest/lang/index.md
  files/en-us/web/manifest/name/index.md
  files/en-us/web/manifest/orientation/index.md
  files/en-us/web/manifest/prefer_related_applications/index.md
  files/en-us/web/manifest/protocol_handlers/index.md
  files/en-us/web/manifest/related_applications/index.md
  files/en-us/web/manifest/scope/index.md
  files/en-us/web/manifest/screenshots/index.md
  files/en-us/web/manifest/short_name/index.md
  files/en-us/web/manifest/shortcuts/index.md
  files/en-us/web/manifest/start_url/index.md
  files/en-us/web/manifest/theme_color/index.md
Labels: Content:Other

Convert file contents to Markdown
  files/en-us/web/manifest/background_color/index.md
  files/en-us/web/manifest/categories/index.md
  files/en-us/web/manifest/description/index.md
  files/en-us/web/manifest/dir/index.md
  files/en-us/web/manifest/display/index.md
  files/en-us/web/manifest/iarc_rating_id/index.md
  files/en-us/web/manifest/icons/index.md
  files/en-us/web/manifest/index.md
  files/en-us/web/manifest/lang/index.md
  files/en-us/web/manifest/name/index.md
  files/en-us/web/manifest/orientation/index.md
  files/en-us/web/manifest/prefer_related_applications/index.md
  files/en-us/web/manifest/protocol_handlers/index.md
  files/en-us/web/manifest/related_applications/index.md
  files/en-us/web/manifest/scope/index.md
  files/en-us/web/manifest/screenshots/index.md
  files/en-us/web/manifest/short_name/index.md
  files/en-us/web/manifest/shortcuts/index.md
  files/en-us/web/manifest/start_url/index.md
  files/en-us/web/manifest/theme_color/index.md
Labels: Content:Other

Rename HTML files to MD
  files/en-us/web/exslt/exsl/index.md
  files/en-us/web/exslt/exsl/node-set/index.md
  files/en-us/web/exslt/exsl/object-type/index.md
  files/en-us/web/exslt/index.md
  files/en-us/web/exslt/math/highest/index.md
  files/en-us/web/exslt/math/index.md
  files/en-us/web/exslt/math/lowest/index.md
  files/en-us/web/exslt/math/max/index.md
  files/en-us/web/exslt/math/min/index.md
  files/en-us/web/exslt/regexp/index.md
  files/en-us/web/exslt/regexp/match/index.md
  files/en-us/web/exslt/regexp/replace/index.md
  files/en-us/web/exslt/regexp/test/index.md
  files/en-us/web/exslt/set/difference/index.md
  files/en-us/web/exslt/set/distinct/index.md
  files/en-us/web/exslt/set/has-same-node/index.md
  files/en-us/web/exslt/set/index.md
  files/en-us/web/exslt/set/intersection/index.md
  files/en-us/web/exslt/set/leading/index.md
  files/en-us/web/exslt/set/trailing/index.md
  files/en-us/web/exslt/str/concat/index.md
  files/en-us/web/exslt/str/index.md
  files/en-us/web/exslt/str/split/index.md
  files/en-us/web/exslt/str/tokenize/index.md
Labels: Content:Other

Convert files contents to MD
  files/en-us/web/exslt/exsl/index.md
  files/en-us/web/exslt/exsl/node-set/index.md
  files/en-us/web/exslt/exsl/object-type/index.md
  files/en-us/web/exslt/index.md
  files/en-us/web/exslt/math/highest/index.md
  files/en-us/web/exslt/math/index.md
  files/en-us/web/exslt/math/lowest/index.md
  files/en-us/web/exslt/math/max/index.md
  files/en-us/web/exslt/math/min/index.md
  files/en-us/web/exslt/regexp/index.md
  files/en-us/web/exslt/regexp/match/index.md
  files/en-us/web/exslt/regexp/replace/index.md
  files/en-us/web/exslt/regexp/test/index.md
  files/en-us/web/exslt/set/difference/index.md
  files/en-us/web/exslt/set/distinct/index.md
  files/en-us/web/exslt/set/has-same-node/index.md
  files/en-us/web/exslt/set/index.md
  files/en-us/web/exslt/set/intersection/index.md
  files/en-us/web/exslt/set/leading/index.md
  files/en-us/web/exslt/set/trailing/index.md
  files/en-us/web/exslt/str/concat/index.md
  files/en-us/web/exslt/str/index.md
  files/en-us/web/exslt/str/split/index.md
  files/en-us/web/exslt/str/tokenize/index.md
Labels: Content:Other

Rename HTML files MD
  files/en-us/webassembly/c_to_wasm/index.md
  files/en-us/webassembly/caching_modules/index.md
  files/en-us/webassembly/concepts/index.md
  files/en-us/webassembly/existing_c_to_wasm/index.md
  files/en-us/webassembly/exported_functions/index.md
  files/en-us/webassembly/index.md
  files/en-us/webassembly/index/index.md
  files/en-us/webassembly/loading_and_running/index.md
  files/en-us/webassembly/reference/control_flow/block/index.md
  files/en-us/webassembly/reference/control_flow/br/index.md
  files/en-us/webassembly/reference/control_flow/call/index.md
  files/en-us/webassembly/reference/control_flow/end/index.md
  files/en-us/webassembly/reference/control_flow/if...else/index.md
  files/en-us/webassembly/reference/control_flow/index.md
  files/en-us/webassembly/reference/control_flow/loop/index.md
  files/en-us/webassembly/reference/control_flow/nop/index.md
  files/en-us/webassembly/reference/control_flow/return/index.md
  files/en-us/webassembly/reference/control_flow/unreachable/index.md
  files/en-us/webassembly/rust_to_wasm/index.md
  files/en-us/webassembly/text_format_to_wasm/index.md
  files/en-us/webassembly/understanding_the_text_format/index.md
  files/en-us/webassembly/using_the_javascript_api/index.md
Labels: Content:wasm

Convert file contents to Markdown
  files/en-us/webassembly/c_to_wasm/index.md
  files/en-us/webassembly/caching_modules/index.md
  files/en-us/webassembly/concepts/index.md
  files/en-us/webassembly/existing_c_to_wasm/index.md
  files/en-us/webassembly/exported_functions/index.md
  files/en-us/webassembly/index.md
  files/en-us/webassembly/index/index.md
  files/en-us/webassembly/loading_and_running/index.md
  files/en-us/webassembly/reference/control_flow/block/index.md
  files/en-us/webassembly/reference/control_flow/br/index.md
  files/en-us/webassembly/reference/control_flow/call/index.md
  files/en-us/webassembly/reference/control_flow/end/index.md
  files/en-us/webassembly/reference/control_flow/if...else/index.md
  files/en-us/webassembly/reference/control_flow/index.md
  files/en-us/webassembly/reference/control_flow/loop/index.md
  files/en-us/webassembly/reference/control_flow/nop/index.md
  files/en-us/webassembly/reference/control_flow/return/index.md
  files/en-us/webassembly/reference/control_flow/unreachable/index.md
  files/en-us/webassembly/rust_to_wasm/index.md
  files/en-us/webassembly/text_format_to_wasm/index.md
  files/en-us/webassembly/understanding_the_text_format/index.md
  files/en-us/webassembly/using_the_javascript_api/index.md
Labels: Content:wasm

Fix links in CSS Shapes (#9715)
  files/en-us/web/css/css_shapes/index.md
  files/en-us/web/css/shape-outside/index.md
Labels: Content:CSS

[Markdown][Web/Guide] Prepare Web/Guide for Markdowning (#9686)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/learn/forms/basic_native_form_controls/index.md
  files/en-us/web/api/document/designmode/index.md
  files/en-us/web/api/document/execcommand/index.md
  files/en-us/web/api/document/querycommandstate/index.md
  files/en-us/web/guide/ajax/community/index.html
  files/en-us/web/guide/ajax/getting_started/index.html
  files/en-us/web/guide/ajax/index.html
  files/en-us/web/guide/ajax/wai_aria_live_regions_api_support/index.html
  files/en-us/web/guide/api/webrtc/peer-to-peer_communications_with_webrtc/index.html
  files/en-us/web/guide/audio_and_video_delivery/adding_captions_and_subtitles_to_html5_video/index.html
  files/en-us/web/guide/audio_and_video_delivery/buffering_seeking_time_ranges/index.html
  files/en-us/web/guide/audio_and_video_delivery/cross-browser_audio_basics/index.html
  files/en-us/web/guide/audio_and_video_delivery/cross_browser_video_player/index.html
  files/en-us/web/guide/audio_and_video_delivery/index.html
  files/en-us/web/guide/audio_and_video_delivery/live_streaming_web_audio_and_video/index.html
  files/en-us/web/guide/audio_and_video_delivery/setting_up_adaptive_streaming_media_sources/index.html
  files/en-us/web/guide/audio_and_video_delivery/video_player_styling_basics/index.html
  files/en-us/web/guide/audio_and_video_delivery/webaudio_playbackrate_explained/index.html
  files/en-us/web/guide/audio_and_video_manipulation/index.html
  files/en-us/web/guide/css/block_formatting_context/index.html
  files/en-us/web/guide/css/css_layout/index.html
  files/en-us/web/guide/css/getting_started/challenge_solutions/index.html
  files/en-us/web/guide/graphics/index.html
  files/en-us/web/guide/html/constraint_validation/index.html
  files/en-us/web/guide/html/content_categories/index.html
  files/en-us/web/guide/html/editable_content/index.html
  files/en-us/web/guide/html/editable_content/rich-text_editing_in_mozilla/class_xbdesignmode/index.html
  files/en-us/web/guide/html/editable_content/rich-text_editing_in_mozilla/index.html
  files/en-us/web/guide/introduction_to_web_development/index.html
  files/en-us/web/guide/mobile/a_hybrid_approach/index.html
  files/en-us/web/guide/mobile/mobile-friendliness/index.html
  files/en-us/web/guide/mobile/separate_sites/index.html
  files/en-us/web/guide/parsing_and_serializing_xml/index.html
  files/en-us/web/guide/printing/index.html
  files/en-us/web/guide/unicode_bidrectional_text_algorithm/index.html
  files/en-us/web/guide/user_input_methods/index.html
  files/en-us/web/guide/woff/index.html
Labels: Content:WebAPI, Content:Learn

Rename HTML files to MD
  files/en-us/web/exslt/exsl/index.md
  files/en-us/web/exslt/exsl/node-set/index.md
  files/en-us/web/exslt/exsl/object-type/index.md
  files/en-us/web/exslt/index.md
  files/en-us/web/exslt/math/highest/index.md
  files/en-us/web/exslt/math/index.md
  files/en-us/web/exslt/math/lowest/index.md
  files/en-us/web/exslt/math/max/index.md
  files/en-us/web/exslt/math/min/index.md
  files/en-us/web/exslt/regexp/index.md
  files/en-us/web/exslt/regexp/match/index.md
  files/en-us/web/exslt/regexp/replace/index.md
  files/en-us/web/exslt/regexp/test/index.md
  files/en-us/web/exslt/set/difference/index.md
  files/en-us/web/exslt/set/distinct/index.md
  files/en-us/web/exslt/set/has-same-node/index.md
  files/en-us/web/exslt/set/index.md
  files/en-us/web/exslt/set/intersection/index.md
  files/en-us/web/exslt/set/leading/index.md
  files/en-us/web/exslt/set/trailing/index.md
  files/en-us/web/exslt/str/concat/index.md
  files/en-us/web/exslt/str/index.md
  files/en-us/web/exslt/str/split/index.md
  files/en-us/web/exslt/str/tokenize/index.md
Labels: Content:Other

Convert files contents to MD
  files/en-us/web/exslt/exsl/index.md
  files/en-us/web/exslt/exsl/node-set/index.md
  files/en-us/web/exslt/exsl/object-type/index.md
  files/en-us/web/exslt/index.md
  files/en-us/web/exslt/math/highest/index.md
  files/en-us/web/exslt/math/index.md
  files/en-us/web/exslt/math/lowest/index.md
  files/en-us/web/exslt/math/max/index.md
  files/en-us/web/exslt/math/min/index.md
  files/en-us/web/exslt/regexp/index.md
  files/en-us/web/exslt/regexp/match/index.md
  files/en-us/web/exslt/regexp/replace/index.md
  files/en-us/web/exslt/regexp/test/index.md
  files/en-us/web/exslt/set/difference/index.md
  files/en-us/web/exslt/set/distinct/index.md
  files/en-us/web/exslt/set/has-same-node/index.md
  files/en-us/web/exslt/set/index.md
  files/en-us/web/exslt/set/intersection/index.md
  files/en-us/web/exslt/set/leading/index.md
  files/en-us/web/exslt/set/trailing/index.md
  files/en-us/web/exslt/str/concat/index.md
  files/en-us/web/exslt/str/index.md
  files/en-us/web/exslt/str/split/index.md
  files/en-us/web/exslt/str/tokenize/index.md
Labels: Content:Other

Update transferrable objects and friends
  files/en-us/glossary/transferable_objects/index.md
  files/en-us/web/api/dedicatedworkerglobalscope/postmessage/index.md
  files/en-us/web/api/structuredclone/index.md
  files/en-us/web/api/window/postmessage/index.md
Labels: Content:Glossary, Content:WebAPI

Update files/en-us/web/api/event/stoppropagation/index.md
  files/en-us/web/api/event/stoppropagation/index.md
Labels: Content:WebAPI

FF93 release notes (#9557)
  files/en-us/mozilla/firefox/releases/92/index.html
  files/en-us/mozilla/firefox/releases/93/index.html
  files/en-us/mozilla/firefox/releases/95/index.html
Labels: Content:Other

Update files/en-us/games/publishing_games/game_promotion/index.html
  files/en-us/games/publishing_games/game_promotion/index.html
Labels: Content:Other

Typo
  files/en-us/web/http/headers/content-security-policy/upgrade-insecure-requests/index.md
Labels: Content:HTTP

Rename HTML files to MD
  files/en-us/web/webdriver/capabilities/acceptinsecurecerts/index.md
  files/en-us/web/webdriver/capabilities/firefoxoptions/index.md
  files/en-us/web/webdriver/capabilities/index.md
  files/en-us/web/webdriver/capabilities/websocketurl/index.md
  files/en-us/web/webdriver/commands/closewindow/index.md
  files/en-us/web/webdriver/commands/getelementattribute/index.md
  files/en-us/web/webdriver/commands/getelementproperty/index.md
  files/en-us/web/webdriver/commands/getelementtagname/index.md
  files/en-us/web/webdriver/commands/gettimeouts/index.md
  files/en-us/web/webdriver/commands/getwindowhandles/index.md
  files/en-us/web/webdriver/commands/getwindowrect/index.md
  files/en-us/web/webdriver/commands/index.md
  files/en-us/web/webdriver/commands/new_window/index.md
  files/en-us/web/webdriver/commands/settimeouts/index.md
  files/en-us/web/webdriver/commands/setwindowrect/index.md
  files/en-us/web/webdriver/errors/index.md
  files/en-us/web/webdriver/errors/insecurecertificate/index.md
  files/en-us/web/webdriver/errors/invalidargument/index.md
  files/en-us/web/webdriver/errors/invalidcookiedomain/index.md
  files/en-us/web/webdriver/errors/invalidselector/index.md
  files/en-us/web/webdriver/errors/invalidsessionid/index.md
  files/en-us/web/webdriver/errors/javascripterror/index.md
  files/en-us/web/webdriver/errors/scripttimeout/index.md
  files/en-us/web/webdriver/errors/staleelementreference/index.md
  files/en-us/web/webdriver/errors/unknowncommand/index.md
  files/en-us/web/webdriver/errors/unknownerror/index.md
  files/en-us/web/webdriver/errors/unknownmethod/index.md
  files/en-us/web/webdriver/index.md
  files/en-us/web/webdriver/timeouts/index.md
Labels: Content:WebDriver

Convert file contents to Markdown
  files/en-us/web/webdriver/capabilities/acceptinsecurecerts/index.md
  files/en-us/web/webdriver/capabilities/firefoxoptions/index.md
  files/en-us/web/webdriver/capabilities/index.md
  files/en-us/web/webdriver/capabilities/websocketurl/index.md
  files/en-us/web/webdriver/commands/closewindow/index.md
  files/en-us/web/webdriver/commands/getelementattribute/index.md
  files/en-us/web/webdriver/commands/getelementproperty/index.md
  files/en-us/web/webdriver/commands/getelementtagname/index.md
  files/en-us/web/webdriver/commands/gettimeouts/index.md
  files/en-us/web/webdriver/commands/getwindowhandles/index.md
  files/en-us/web/webdriver/commands/getwindowrect/index.md
  files/en-us/web/webdriver/commands/index.md
  files/en-us/web/webdriver/commands/new_window/index.md
  files/en-us/web/webdriver/commands/settimeouts/index.md
  files/en-us/web/webdriver/commands/setwindowrect/index.md
  files/en-us/web/webdriver/errors/index.md
  files/en-us/web/webdriver/errors/insecurecertificate/index.md
  files/en-us/web/webdriver/errors/invalidargument/index.md
  files/en-us/web/webdriver/errors/invalidcookiedomain/index.md
  files/en-us/web/webdriver/errors/invalidselector/index.md
  files/en-us/web/webdriver/errors/invalidsessionid/index.md
  files/en-us/web/webdriver/errors/javascripterror/index.md
  files/en-us/web/webdriver/errors/scripttimeout/index.md
  files/en-us/web/webdriver/errors/staleelementreference/index.md
  files/en-us/web/webdriver/errors/unknowncommand/index.md
  files/en-us/web/webdriver/errors/unknownerror/index.md
  files/en-us/web/webdriver/errors/unknownmethod/index.md
  files/en-us/web/webdriver/index.md
  files/en-us/web/webdriver/timeouts/index.md
Labels: Content:WebDriver

Typo (#9731)
  files/en-us/web/http/headers/content-security-policy/upgrade-insecure-requests/index.md
Labels: Content:HTTP

Convert file contents to Markdown
  files/en-us/web/manifest/background_color/index.md
  files/en-us/web/manifest/categories/index.md
  files/en-us/web/manifest/description/index.md
  files/en-us/web/manifest/dir/index.md
  files/en-us/web/manifest/display/index.md
  files/en-us/web/manifest/iarc_rating_id/index.md
  files/en-us/web/manifest/icons/index.md
  files/en-us/web/manifest/index.md
  files/en-us/web/manifest/lang/index.md
  files/en-us/web/manifest/name/index.md
  files/en-us/web/manifest/orientation/index.md
  files/en-us/web/manifest/prefer_related_applications/index.md
  files/en-us/web/manifest/protocol_handlers/index.md
  files/en-us/web/manifest/related_applications/index.md
  files/en-us/web/manifest/scope/index.md
  files/en-us/web/manifest/screenshots/index.md
  files/en-us/web/manifest/short_name/index.md
  files/en-us/web/manifest/shortcuts/index.md
  files/en-us/web/manifest/start_url/index.md
  files/en-us/web/manifest/theme_color/index.md
Labels: Content:Other

.github/labeler.yml:

Content:Accessibility:
  - files/en-us/web/accessibility/**/*
Content:CSS:
  - files/en-us/web/css/**/*
Content:DevTools:
  - files/en-us/tools/**/*
Content:Glossary:
  - files/en-us/glossary/**/*
Content:HTML:
  - files/en-us/web/html/**/*
Content:HTTP:
  - files/en-us/web/http/**/*
Content:JS:
  - files/en-us/web/javascript/**/*
Content:MathML:
  - files/en-us/web/mathml/**/*
Content:Media:
  - files/en-us/web/media/**/*
Content:SVG:
  - files/en-us/web/svg/**/*
Content:wasm:
  - files/en-us/webassembly/**/*
Content:WebAPI:
  - files/en-us/web/api/**/*
Content:WebDriver:
  - files/en-us/web/webdriver/**/*
Content:WebExt:
  - files/en-us/mozilla/add-ons/webextensions/**/*
Content:Learn:
  - files/en-us/learn/**/*
  - files/en-us/web/guide/**/*
  - files/en-us/web/tutorials/**/*
Content:Learn:Django:
  - files/en-us/learn/server-side/django/**/*
Content:Learn:Express:
  - files/en-us/learn/server-side/express_nodejs/**/*
Content:Other:
  - files/en-us/games/**/*
  - files/en-us/mdn/**/*
  - files/en-us/mozilla/**/*
  - files/en-us/plugins/**/*
  - files/en-us/related/**/*
  - files/en-us/tools/**/*
  - files/en-us/web/demos/**/*
  - files/en-us/web/events/**/*
  - files/en-us/web/exslt/**/*
  - files/en-us/web/manifest/**/*
  - files/en-us/web/opensearch/**/*
  - files/en-us/web/performance/**/*
  - files/en-us/web/privacy/**/*
  - files/en-us/web/progressive_web_apps/**/*
  - files/en-us/web/security/**/*
  - files/en-us/web/web_components/**/*
  - files/en-us/web/xml/**/*
  - files/en-us/web/xpath/**/*
  - files/en-us/web/xslt/**/*
