Repository mdn/content, changes with the labels that .github/labeler.yml gives for each.
All labels: Content:Accessibility, Content:CSS, Content:DevTools, Content:Glossary, Content:HTML, Content:HTTP, Content:JS, Content:MathML, Content:Media, Content:SVG, Content:wasm, Content:WebAPI, Content:WebDriver, Content:WebExt, Content:Learn, Content:Learn:Django, Content:Learn:Express, Content:Other

Add sanitizeFor
  files/en-us/web/api/element/sethtml/index.md
  files/en-us/web/api/sanitizer/sanitize/index.md
  files/en-us/web/api/sanitizer/sanitizefor/index.md
Labels: Content:WebAPI

Remove link to dictionary in spec
  files/en-us/web/api/media_capabilities_api/using_the_media_capabilities_api/index.md
Labels: Content:WebAPI

Remove MediaCapabilitesInfo dictionary from MDN
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/mediacapabilities/decodinginfo/index.md
  files/en-us/web/api/mediacapabilities/encodinginfo/index.md
  files/en-us/web/api/mediacapabilitiesinfo/index.md
Labels: Content:WebAPI

Remove remaining references
  files/en-us/web/api/media_capabilities_api/index.md
  files/en-us/web/api/media_capabilities_api/using_the_media_capabilities_api/index.md
  files/en-us/web/api/mediacapabilities/decodinginfo/index.md
  files/en-us/web/api/mediacapabilities/encodinginfo/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

[Markdown][Privacy] Prepare Privacy files for Markdowning (#9788)
  files/en-us/web/privacy/redirect_tracking_protection/index.html
  files/en-us/web/privacy/state_partitioning/index.html
  files/en-us/web/privacy/storage_access_policy/index.html
  files/en-us/web/privacy/tracking_protection/index.html
Labels: Content:Other

fix auto copy of pug content
  files/en-us/learn/server-side/express_nodejs/forms/create_book_form/index.md
Labels: Content:Learn, Content:Learn:Express

Reverting phrase to original
  files/en-us/web/http/headers/vary/index.md
Labels: Content:HTTP

fix auto copy for View pug content
  files/en-us/learn/server-side/express_nodejs/forms/create_bookinstance_form/index.md
Labels: Content:Learn, Content:Learn:Express

Rename HTML files to MD
  files/en-us/web/privacy/index.md
  files/en-us/web/privacy/redirect_tracking_protection/index.md
  files/en-us/web/privacy/state_partitioning/index.md
  files/en-us/web/privacy/storage_access_policy/errors/cookieblockedall/index.md
  files/en-us/web/privacy/storage_access_policy/errors/cookieblockedbypermission/index.md
  files/en-us/web/privacy/storage_access_policy/errors/cookieblockedforeign/index.md
  files/en-us/web/privacy/storage_access_policy/errors/cookieblockedtracker/index.md
  files/en-us/web/privacy/storage_access_policy/errors/cookiepartitionedforeign/index.md
  files/en-us/web/privacy/storage_access_policy/errors/index.md
  files/en-us/web/privacy/storage_access_policy/index.md
  files/en-us/web/privacy/tracking_protection/index.md
Labels: Content:Other

Convert file contents to Markdown
  files/en-us/web/privacy/index.md
  files/en-us/web/privacy/redirect_tracking_protection/index.md
  files/en-us/web/privacy/state_partitioning/index.md
  files/en-us/web/privacy/storage_access_policy/errors/cookieblockedall/index.md
  files/en-us/web/privacy/storage_access_policy/errors/cookieblockedbypermission/index.md
  files/en-us/web/privacy/storage_access_policy/errors/cookieblockedforeign/index.md
  files/en-us/web/privacy/storage_access_policy/errors/cookieblockedtracker/index.md
  files/en-us/web/privacy/storage_access_policy/errors/cookiepartitionedforeign/index.md
  files/en-us/web/privacy/storage_access_policy/errors/index.md
  files/en-us/web/privacy/storage_access_policy/index.md
  files/en-us/web/privacy/tracking_protection/index.md
Labels: Content:Other

updating kumascript page
  files/en-us/mdn/tools/kumascript/index.md
Labels: Content:Other

updating kumascript page
  files/en-us/mdn/tools/kumascript/index.md
Labels: Content:Other

update `core-js` data (#9119)
  files/en-us/web/javascript/reference/global_objects/array/sort/index.md
  files/en-us/web/javascript/reference/global_objects/date/getyear/index.md
  files/en-us/web/javascript/reference/global_objects/date/setyear/index.md
  files/en-us/web/javascript/reference/global_objects/date/togmtstring/index.md
  files/en-us/web/javascript/reference/global_objects/escape/index.md
  files/en-us/web/javascript/reference/global_objects/object/hasown/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/dotall/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/regexp/index.md
  files/en-us/web/javascript/reference/global_objects/string/at/index.md
  files/en-us/web/javascript/reference/global_objects/string/substr/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/sort/index.md
  files/en-us/web/javascript/reference/global_objects/unescape/index.md
Labels: Content:JS

Fix parameters section
  files/en-us/web/api/navigator/requestmediakeysystemaccess/index.md
Labels: Content:WebAPI

Remove MediaKeySystemConfiguration dictionary from MDN (#9786)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/encrypted_media_extensions_api/index.md
  files/en-us/web/api/mediakeysystemaccess/getconfiguration/index.md
  files/en-us/web/api/mediakeysystemaccess/index.md
  files/en-us/web/api/mediakeysystemconfiguration/audiocapabilities/index.md
  files/en-us/web/api/mediakeysystemconfiguration/distinctiveidentifier/index.md
  files/en-us/web/api/mediakeysystemconfiguration/index.md
  files/en-us/web/api/mediakeysystemconfiguration/initdatatypes/index.md
  files/en-us/web/api/mediakeysystemconfiguration/persistentstate/index.md
  files/en-us/web/api/mediakeysystemconfiguration/videocapabilities/index.md
  files/en-us/web/api/navigator/requestmediakeysystemaccess/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

Add missing period.
  files/en-us/web/api/range/compareboundarypoints/index.md
Labels: Content:WebAPI

Remove commas
  files/en-us/web/api/baseaudiocontext/createiirfilter/index.md
Labels: Content:WebAPI

Returned -> Provided for a promise rejecting
  files/en-us/web/api/htmlmediaelement/play/index.md
Labels: Content:WebAPI

Reasons don't occur fix
  files/en-us/web/api/xrsession/updaterenderstate/index.md
Labels: Content:WebAPI

FF94 RelNote: dtructuredClone() supported (#9544)
  files/en-us/mozilla/firefox/releases/94/index.html
Labels: Content:Other

Update locales info
  files/en-us/mdn/contribute/where_is_everything/index.md
Labels: Content:Other

couple of small things
  files/en-us/web/media/formats/image_types/index.md
  files/en-us/web/media/images/aspect_ratio_mapping/index.md
  files/en-us/web/media/streaming/index.md
Labels: Content:Media

couple of small things
  files/en-us/web/media/formats/image_types/index.md
  files/en-us/web/media/images/aspect_ratio_mapping/index.md
  files/en-us/web/media/streaming/index.md
Labels: Content:Media

Rename HTML files to MD
  files/en-us/web/media/autoplay_guide/index.md
  files/en-us/web/media/dash_adaptive_streaming_for_html_5_video/index.md
  files/en-us/web/media/formats/audio_codecs/index.md
  files/en-us/web/media/formats/audio_concepts/index.md
  files/en-us/web/media/formats/codecs_parameter/index.md
  files/en-us/web/media/formats/containers/index.md
  files/en-us/web/media/formats/image_types/index.md
  files/en-us/web/media/formats/index.md
  files/en-us/web/media/formats/support_issues/index.md
  files/en-us/web/media/formats/video_codecs/index.md
  files/en-us/web/media/formats/video_concepts/index.md
  files/en-us/web/media/formats/webrtc_codecs/index.md
  files/en-us/web/media/html_media/index.md
  files/en-us/web/media/images/aspect_ratio_mapping/index.md
  files/en-us/web/media/images/index.md
  files/en-us/web/media/index.md
  files/en-us/web/media/streaming/index.md
Labels: Content:Media

Convert file contents to Markdown
  files/en-us/web/media/autoplay_guide/index.md
  files/en-us/web/media/dash_adaptive_streaming_for_html_5_video/index.md
  files/en-us/web/media/formats/audio_codecs/index.md
  files/en-us/web/media/formats/audio_concepts/index.md
  files/en-us/web/media/formats/codecs_parameter/index.md
  files/en-us/web/media/formats/containers/index.md
  files/en-us/web/media/formats/image_types/index.md
  files/en-us/web/media/formats/index.md
  files/en-us/web/media/formats/support_issues/index.md
  files/en-us/web/media/formats/video_codecs/index.md
  files/en-us/web/media/formats/video_concepts/index.md
  files/en-us/web/media/formats/webrtc_codecs/index.md
  files/en-us/web/media/html_media/index.md
  files/en-us/web/media/images/aspect_ratio_mapping/index.md
  files/en-us/web/media/images/index.md
  files/en-us/web/media/index.md
  files/en-us/web/media/streaming/index.md
Labels: Content:Media

couple of small things
  files/en-us/web/privacy/index.md
  files/en-us/web/privacy/storage_access_policy/index.md
Labels: Content:Other

couple of small things
  files/en-us/web/privacy/index.md
Labels: Content:Other

Convert file contents to Markdown
  files/en-us/web/privacy/index.md
  files/en-us/web/privacy/redirect_tracking_protection/index.md
  files/en-us/web/privacy/state_partitioning/index.md
  files/en-us/web/privacy/storage_access_policy/errors/cookieblockedall/index.md
  files/en-us/web/privacy/storage_access_policy/errors/cookieblockedbypermission/index.md
  files/en-us/web/privacy/storage_access_policy/errors/cookieblockedforeign/index.md
  files/en-us/web/privacy/storage_access_policy/errors/cookieblockedtracker/index.md
  files/en-us/web/privacy/storage_access_policy/errors/cookiepartitionedforeign/index.md
  files/en-us/web/privacy/storage_access_policy/errors/index.md
  files/en-us/web/privacy/storage_access_policy/index.md
  files/en-us/web/privacy/tracking_protection/index.md
Labels: Content:Other

couple of small things
  files/en-us/web/privacy/index.md
Labels: Content:Other

couple of small things
  files/en-us/web/privacy/index.md
  files/en-us/web/privacy/storage_access_policy/index.md
Labels: Content:Other

Rename HTML files to MD
  files/en-us/web/privacy/index.md
  files/en-us/web/privacy/redirect_tracking_protection/index.md
  files/en-us/web/privacy/state_partitioning/index.md
  files/en-us/web/privacy/storage_access_policy/errors/cookieblockedall/index.md
  files/en-us/web/privacy/storage_access_policy/errors/cookieblockedbypermission/index.md
  files/en-us/web/privacy/storage_access_policy/errors/cookieblockedforeign/index.md
  files/en-us/web/privacy/storage_access_policy/errors/cookieblockedtracker/index.md
  files/en-us/web/privacy/storage_access_policy/errors/cookiepartitionedforeign/index.md
  files/en-us/web/privacy/storage_access_policy/errors/index.md
  files/en-us/web/privacy/storage_access_policy/index.md
  files/en-us/web/privacy/tracking_protection/index.md
Labels: Content:Other

Rename HTML files to MD
  files/en-us/plugins/blocking_by_domain/index.md
  files/en-us/plugins/flash_to_html5/clipboard/index.md
  files/en-us/plugins/flash_to_html5/index.md
  files/en-us/plugins/flash_to_html5/video/advertising/index.md
  files/en-us/plugins/flash_to_html5/video/distribution/index.md
  files/en-us/plugins/flash_to_html5/video/drm_and_authentication/index.md
  files/en-us/plugins/flash_to_html5/video/file_format_conversion/index.md
  files/en-us/plugins/flash_to_html5/video/index.md
  files/en-us/plugins/flash_to_html5/video/planning/index.md
  files/en-us/plugins/flash_to_html5/video/players/index.md
  files/en-us/plugins/flash_to_html5/video/subtitles_captions/index.md
  files/en-us/plugins/guide/browser_side_plug-in_api/index.md
  files/en-us/plugins/guide/constants/index.md
  files/en-us/plugins/guide/drawing_and_event_handling/index.md
  files/en-us/plugins/guide/index.md
  files/en-us/plugins/guide/initialization_and_destruction/index.md
  files/en-us/plugins/guide/memory/index.md
  files/en-us/plugins/guide/plug-in_basics/index.md
  files/en-us/plugins/guide/plug-in_development_overview/index.md
  files/en-us/plugins/guide/plug-in_side_plug-in_api/index.md
  files/en-us/plugins/guide/scripting_plugins/index.md
  files/en-us/plugins/guide/streams/index.md
  files/en-us/plugins/guide/structures/index.md
  files/en-us/plugins/guide/urls/index.md
  files/en-us/plugins/guide/version_ui_and_status_information/index.md
  files/en-us/plugins/index.md
  files/en-us/plugins/roadmap/index.md
Labels: Content:Other

Convert files contents to Markdown
  files/en-us/plugins/blocking_by_domain/index.md
  files/en-us/plugins/flash_to_html5/clipboard/index.md
  files/en-us/plugins/flash_to_html5/index.md
  files/en-us/plugins/flash_to_html5/video/advertising/index.md
  files/en-us/plugins/flash_to_html5/video/distribution/index.md
  files/en-us/plugins/flash_to_html5/video/drm_and_authentication/index.md
  files/en-us/plugins/flash_to_html5/video/file_format_conversion/index.md
  files/en-us/plugins/flash_to_html5/video/index.md
  files/en-us/plugins/flash_to_html5/video/planning/index.md
  files/en-us/plugins/flash_to_html5/video/players/index.md
  files/en-us/plugins/flash_to_html5/video/subtitles_captions/index.md
  files/en-us/plugins/guide/browser_side_plug-in_api/index.md
  files/en-us/plugins/guide/constants/index.md
  files/en-us/plugins/guide/drawing_and_event_handling/index.md
  files/en-us/plugins/guide/index.md
  files/en-us/plugins/guide/initialization_and_destruction/index.md
  files/en-us/plugins/guide/memory/index.md
  files/en-us/plugins/guide/plug-in_basics/index.md
  files/en-us/plugins/guide/plug-in_development_overview/index.md
  files/en-us/plugins/guide/plug-in_side_plug-in_api/index.md
  files/en-us/plugins/guide/scripting_plugins/index.md
  files/en-us/plugins/guide/streams/index.md
  files/en-us/plugins/guide/structures/index.md
  files/en-us/plugins/guide/urls/index.md
  files/en-us/plugins/guide/version_ui_and_status_information/index.md
  files/en-us/plugins/index.md
  files/en-us/plugins/roadmap/index.md
Labels: Content:Other

Add-ons: fix misplaced colons in notes
  files/en-us/mozilla/add-ons/webextensions/api/downloads/dangertype/index.html
  files/en-us/mozilla/add-ons/webextensions/api/downloads/download/index.html
  files/en-us/mozilla/add-ons/webextensions/api/downloads/erase/index.html
  files/en-us/mozilla/add-ons/webextensions/api/downloads/removefile/index.html
  files/en-us/mozilla/add-ons/webextensions/api/downloads/setshelfenabled/index.html
  files/en-us/mozilla/add-ons/webextensions/api/downloads/state/index.html
  files/en-us/mozilla/add-ons/webextensions/api/extension/getbackgroundpage/index.html
  files/en-us/mozilla/add-ons/webextensions/api/history/index.html
  files/en-us/mozilla/add-ons/webextensions/api/i18n/locale-specific_message_reference/index.html
  files/en-us/mozilla/add-ons/webextensions/api/menus/create/index.html
  files/en-us/mozilla/add-ons/webextensions/api/menus/createproperties/index.html
  files/en-us/mozilla/add-ons/webextensions/api/menus/update/index.html
  files/en-us/mozilla/add-ons/webextensions/api/runtime/getbackgroundpage/index.html
  files/en-us/mozilla/add-ons/webextensions/api/runtime/onsuspend/index.html
  files/en-us/mozilla/add-ons/webextensions/api/tabs/duplicate/index.html
  files/en-us/mozilla/add-ons/webextensions/api/tabs/highlight/index.html
  files/en-us/mozilla/add-ons/webextensions/api/windows/get/index.html
  files/en-us/mozilla/add-ons/webextensions/api/windows/onfocuschanged/index.html
  files/en-us/mozilla/add-ons/webextensions/interact_with_the_clipboard/index.html
  files/en-us/mozilla/add-ons/webextensions/internationalization/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/theme/index.html
  files/en-us/mozilla/add-ons/webextensions/match_patterns/index.html
Labels: Content:WebExt, Content:Other

Apply suggestions from code review
  files/en-us/web/api/idle_detection_api/index.md
  files/en-us/web/api/idledetector/requestPermission/index.md
  files/en-us/web/api/idledetector/screenState/index.md
  files/en-us/web/api/idledetector/userState/index.md
Labels: Content:WebAPI

Fix hidden elements in add-ons docs
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/index.html
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/index.html
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/onclicked/index.html
  files/en-us/mozilla/add-ons/webextensions/api/browsingdata/index.html
  files/en-us/mozilla/add-ons/webextensions/api/captiveportal/getlastchecked/index.html
  files/en-us/mozilla/add-ons/webextensions/api/captiveportal/index.html
  files/en-us/mozilla/add-ons/webextensions/api/management/uninstallself/index.html
  files/en-us/mozilla/add-ons/webextensions/api/pageaction/onclicked/index.html
  files/en-us/mozilla/add-ons/webextensions/api/privacy/network/index.html
  files/en-us/mozilla/add-ons/webextensions/api/privacy/websites/index.html
  files/en-us/mozilla/add-ons/webextensions/user_interface/browser_styles/index.html
Labels: Content:WebExt, Content:Other

aria-checked attribute
  files/en-us/web/accessibility/aria/attributes/aria-checked/index.md
Labels: Content:Accessibility

Remove inline styles from add-ons docs
  files/en-us/mozilla/add-ons/webextensions/anatomy_of_a_webextension/index.html
  files/en-us/mozilla/add-ons/webextensions/api/contextualidentities/index.html
  files/en-us/mozilla/add-ons/webextensions/api/devtools/panels/elementspanel/createsidebarpane/index.html
  files/en-us/mozilla/add-ons/webextensions/api/devtools/panels/extensionsidebarpane/index.html
  files/en-us/mozilla/add-ons/webextensions/api/find/find/index.html
  files/en-us/mozilla/add-ons/webextensions/api/menus/index.html
  files/en-us/mozilla/add-ons/webextensions/api/pageaction/index.html
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/index.html
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/index.html
  files/en-us/mozilla/add-ons/webextensions/browser_actions/index.html
  files/en-us/mozilla/add-ons/webextensions/debugging_(before_firefox_50)/index.html
  files/en-us/mozilla/add-ons/webextensions/extending_the_developer_tools/index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/theme/index.html
  files/en-us/mozilla/add-ons/webextensions/native_messaging/index.html
  files/en-us/mozilla/add-ons/webextensions/user_interface/browser_action/index.html
  files/en-us/mozilla/add-ons/webextensions/user_interface/context_menu_items/index.html
  files/en-us/mozilla/add-ons/webextensions/user_interface/devtools_panels/index.html
  files/en-us/mozilla/add-ons/webextensions/user_interface/extension_pages/index.html
  files/en-us/mozilla/add-ons/webextensions/user_interface/notifications/index.html
  files/en-us/mozilla/add-ons/webextensions/user_interface/omnibox/index.html
  files/en-us/mozilla/add-ons/webextensions/user_interface/page_actions/index.html
  files/en-us/mozilla/add-ons/webextensions/user_interface/popups/index.html
  files/en-us/mozilla/add-ons/webextensions/user_interface/sidebars/index.html
  files/en-us/mozilla/add-ons/webextensions/your_second_webextension/index.html
Labels: Content:WebExt, Content:Other

aria-checked attribute
  files/en-us/web/accessibility/aria/attributes/aria-checked/index.md
Labels: Content:Accessibility

Remove more inline styles from add-ons docs
  files/en-us/mozilla/add-ons/webextensions/api/menus/createproperties/index.html
  files/en-us/mozilla/add-ons/webextensions/api/menus/onclickdata/index.html
  files/en-us/mozilla/add-ons/webextensions/api/notifications/index.html
  files/en-us/mozilla/add-ons/webextensions/api/pkcs11/index.html
  files/en-us/mozilla/add-ons/webextensions/api/proxy/register/index.html
  files/en-us/mozilla/add-ons/webextensions/api/proxy/unregister/index.html
  files/en-us/mozilla/add-ons/webextensions/api/userscripts/working_with_userscripts/index.html
  files/en-us/mozilla/add-ons/webextensions/content_scripts/index.html
  files/en-us/mozilla/add-ons/webextensions/debugging_(before_firefox_50)/index.html
  files/en-us/mozilla/add-ons/webextensions/firefox_differentiators/index.html
  files/en-us/mozilla/add-ons/webextensions/firefox_workflow_overview/index.html
  files/en-us/mozilla/add-ons/webextensions/index/index.html
  files/en-us/mozilla/add-ons/webextensions/match_patterns/index.html
  files/en-us/mozilla/add-ons/webextensions/native_manifests/index.html
  files/en-us/mozilla/add-ons/webextensions/user_interface/browser_styles/index.html
  files/en-us/mozilla/add-ons/webextensions/user_interface/context_menu_items/index.html
  files/en-us/mozilla/add-ons/webextensions/user_interface/index.html
  files/en-us/mozilla/add-ons/webextensions/your_second_webextension/index.html
Labels: Content:WebExt, Content:Other

.github/labeler.yml:

Content:Accessibility:
  - files/en-us/web/accessibility/**/*
Content:CSS:
  - files/en-us/web/css/**/*
Content:DevTools:
  - files/en-us/tools/**/*
Content:Glossary:
  - files/en-us/glossary/**/*
Content:HTML:
  - files/en-us/web/html/**/*
Content:HTTP:
  - files/en-us/web/http/**/*
Content:JS:
  - files/en-us/web/javascript/**/*
Content:MathML:
  - files/en-us/web/mathml/**/*
Content:Media:
  - files/en-us/web/media/**/*
Content:SVG:
  - files/en-us/web/svg/**/*
Content:wasm:
  - files/en-us/webassembly/**/*
Content:WebAPI:
  - files/en-us/web/api/**/*
Content:WebDriver:
  - files/en-us/web/webdriver/**/*
Content:WebExt:
  - files/en-us/mozilla/add-ons/webextensions/**/*
Content:Learn:
  - files/en-us/learn/**/*
  - files/en-us/web/guide/**/*
  - files/en-us/web/tutorials/**/*
Content:Learn:Django:
  - files/en-us/learn/server-side/django/**/*
Content:Learn:Express:
  - files/en-us/learn/server-side/express_nodejs/**/*
Content:Other:
  - files/en-us/games/**/*
  - files/en-us/mdn/**/*
  - files/en-us/mozilla/**/*
  - files/en-us/plugins/**/*
  - files/en-us/related/**/*
  - files/en-us/tools/**/*
  - files/en-us/web/demos/**/*
  - files/en-us/web/events/**/*
  - files/en-us/web/exslt/**/*
  - files/en-us/web/manifest/**/*
  - files/en-us/web/opensearch/**/*
  - files/en-us/web/performance/**/*
  - files/en-us/web/privacy/**/*
  - files/en-us/web/progressive_web_apps/**/*
  - files/en-us/web/security/**/*
  - files/en-us/web/web_components/**/*
  - files/en-us/web/xml/**/*
  - files/en-us/web/xpath/**/*
  - files/en-us/web/xslt/**/*
