Repository mdn/content, changes with the labels that .github/labeler.yml gives for each.
All labels: Content:Accessibility, Content:CSS, Content:DevTools, Content:Glossary, Content:HTML, Content:HTTP, Content:JS, Content:MathML, Content:Media, Content:SVG, Content:wasm, Content:WebAPI, Content:WebDriver, Content:WebExt, Content:Learn, Content:Learn:Django, Content:Learn:Express, Content:Other

.github/labeler.yml:

Content:Accessibility:
  - files/en-us/web/accessibility/**/*
Content:CSS:
  - files/en-us/web/css/**/*
Content:DevTools:
  - files/en-us/tools/**/*
Content:Glossary:
  - files/en-us/glossary/**/*
Content:HTML:
  - files/en-us/web/html/**/*
Content:HTTP:
  - files/en-us/web/http/**/*
Content:JS:
  - files/en-us/web/javascript/**/*
Content:MathML:
  - files/en-us/web/mathml/**/*
Content:Media:
  - files/en-us/web/media/**/*
Content:SVG:
  - files/en-us/web/svg/**/*
Content:wasm:
  - files/en-us/webassembly/**/*
Content:WebAPI:
  - files/en-us/web/api/**/*
Content:WebDriver:
  - files/en-us/web/webdriver/**/*
Content:WebExt:
  - files/en-us/mozilla/add-ons/webextensions/**/*
Content:Learn:
  - files/en-us/learn/**/*
  - files/en-us/web/guide/**/*
  - files/en-us/web/tutorials/**/*
Content:Learn:Django:
  - files/en-us/learn/server-side/django/**/*
Content:Learn:Express:
  - files/en-us/learn/server-side/express_nodejs/**/*
Content:Other:
  - files/en-us/games/**/*
  - files/en-us/mdn/**/*
  - files/en-us/mozilla/**/*
  - files/en-us/plugins/**/*
  - files/en-us/related/**/*
  - files/en-us/tools/**/*
  - files/en-us/web/demos/**/*
  - files/en-us/web/events/**/*
  - files/en-us/web/exslt/**/*
  - files/en-us/web/manifest/**/*
  - files/en-us/web/opensearch/**/*
  - files/en-us/web/performance/**/*
  - files/en-us/web/privacy/**/*
  - files/en-us/web/progressive_web_apps/**/*
  - files/en-us/web/security/**/*
  - files/en-us/web/web_components/**/*
  - files/en-us/web/xml/**/*
  - files/en-us/web/xpath/**/*
  - files/en-us/web/xslt/**/*

Fix month options return value (#9741)
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/datetimeformat/index.md
Labels: Content:JS

Explain how path parts work in CSP
  files/en-us/web/http/headers/content-security-policy/index.md
Labels: Content:HTTP

Remove broken links to E4X content (#10011)
  files/en-us/web/api/document_object_model/how_to_create_a_dom_tree/index.md
  files/en-us/web/javascript/language_resources/index.md
  files/en-us/web/javascript/reference/deprecated_and_obsolete_features/index.md
Labels: Content:JS, Content:WebAPI

[DOM Reference] Update Event interface reference (#9917)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/event/bubbles/index.md
  files/en-us/web/api/event/cancelable/index.md
  files/en-us/web/api/event/cancelbubble/index.md
  files/en-us/web/api/event/comparison_of_event_targets/index.md
  files/en-us/web/api/event/composed/index.md
  files/en-us/web/api/event/composedpath/index.md
  files/en-us/web/api/event/currenttarget/index.md
  files/en-us/web/api/event/defaultprevented/index.md
  files/en-us/web/api/event/event/index.md
  files/en-us/web/api/event/eventphase/index.md
  files/en-us/web/api/event/explicitoriginaltarget/index.md
  files/en-us/web/api/event/index.md
  files/en-us/web/api/event/initevent/index.md
  files/en-us/web/api/event/istrusted/index.md
  files/en-us/web/api/event/msconverturl/index.md
  files/en-us/web/api/event/originaltarget/index.md
  files/en-us/web/api/event/preventdefault/index.md
  files/en-us/web/api/event/returnvalue/index.md
  files/en-us/web/api/event/srcelement/index.md
  files/en-us/web/api/event/stopimmediatepropagation/index.md
  files/en-us/web/api/event/stoppropagation/index.md
  files/en-us/web/api/event/target/index.md
  files/en-us/web/api/event/timestamp/index.md
  files/en-us/web/api/event/type/index.md
Labels: Content:WebAPI

Update broken MutationObserver doc link
  files/en-us/web/api/mutationobserver/index.md
Labels: Content:WebAPI

Link correction
  files/en-us/mozilla/add-ons/webextensions/api/cookies/onchanged/index.html
Labels: Content:WebExt, Content:Other

Updated format for DOM Exceptions (#9991)
  files/en-us/web/api/fetchevent/respondwith/index.md
  files/en-us/web/api/filesystemwritablefilestream/write/index.md
  files/en-us/web/api/idbindex/count/index.md
  files/en-us/web/api/idbindex/get/index.md
  files/en-us/web/api/idbindex/getall/index.md
  files/en-us/web/api/idbindex/getallkeys/index.md
  files/en-us/web/api/idbindex/getkey/index.md
  files/en-us/web/api/idbindex/name/index.md
  files/en-us/web/api/idbindex/opencursor/index.md
  files/en-us/web/api/idbindex/openkeycursor/index.md
  files/en-us/web/api/idbtransaction/abort/index.md
  files/en-us/web/api/idbtransaction/commit/index.md
  files/en-us/web/api/mediasource/duration/index.md
  files/en-us/web/api/mediasource/endofstream/index.md
  files/en-us/web/api/offlineaudiocontext/resume/index.md
  files/en-us/web/api/offlineaudiocontext/suspend/index.md
  files/en-us/web/api/oscillatornode/type/index.md
  files/en-us/web/api/rtcdatachannel/send/index.md
  files/en-us/web/api/rtcrtpsender/replacetrack/index.md
  files/en-us/web/api/rtcrtpsender/setparameters/index.md
  files/en-us/web/api/rtcrtpsender/setstreams/index.md
  files/en-us/web/api/serialport/getsignals/index.md
  files/en-us/web/api/serialport/open/index.md
  files/en-us/web/api/serialport/setsignals/index.md
  files/en-us/web/api/sourcebuffer/abort/index.md
  files/en-us/web/api/sourcebuffer/appendwindowend/index.md
  files/en-us/web/api/sourcebuffer/appendwindowstart/index.md
  files/en-us/web/api/sourcebuffer/mode/index.md
  files/en-us/web/api/sourcebuffer/timestampoffset/index.md
  files/en-us/web/api/xrsystem/requestsession/index.md
Labels: Content:WebAPI

Update broken MutationObserver doc link (#10013)
  files/en-us/web/api/mutationobserver/index.md
Labels: Content:WebAPI

Typo in Animation constructor's timeline param (#10001)
  files/en-us/web/api/animation/animation/index.md
Labels: Content:WebAPI

Create Sjenica1
  files/en-us/Sjenica1
Labels: none

remove "callBackFn" from inline callback function (#9547)
  files/en-us/web/javascript/reference/global_objects/array/reduce/index.md
Labels: Content:JS

Removing state_partitioning/index.html (as it has been replaced by index.md)
  files/en-us/web/privacy/state_partitioning/index.html
Labels: Content:Other

Remove RTCOfferAnswerOptions and RTC[Offer/Answer]Options from MDN (#9748)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/firefox/releases/33/index.html
  files/en-us/mozilla/firefox/releases/42/index.html
  files/en-us/mozilla/firefox/releases/43/index.html
  files/en-us/mozilla/firefox/releases/44/index.html
  files/en-us/mozilla/firefox/releases/48/index.html
  files/en-us/mozilla/firefox/releases/55/index.html
  files/en-us/web/api/rtcansweroptions/index.md
  files/en-us/web/api/rtcofferansweroptions/index.md
  files/en-us/web/api/rtcofferansweroptions/voiceactivitydetection/index.md
  files/en-us/web/api/rtcofferoptions/icerestart/index.md
  files/en-us/web/api/rtcofferoptions/index.md
  files/en-us/web/api/rtcpeerconnection/createanswer/index.md
  files/en-us/web/api/rtcpeerconnection/createoffer/index.md
  files/en-us/web/api/rtcrtpreceiver/getsynchronizationsources/index.md
  files/en-us/web/api/rtcrtpsynchronizationsource/index.md
  files/en-us/web/api/rtcrtpsynchronizationsource/voiceactivityflag/index.md
  files/en-us/web/api/webrtc_api/perfect_negotiation/index.md
  files/en-us/web/api/webrtc_api/using_dtmf/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, Content:Other

partitionKey in the cookies API (#9382)
  files/en-us/mozilla/add-ons/webextensions/api/cookies/cookie/index.html
  files/en-us/mozilla/add-ons/webextensions/api/cookies/get/index.html
  files/en-us/mozilla/add-ons/webextensions/api/cookies/getall/index.html
  files/en-us/mozilla/add-ons/webextensions/api/cookies/index.html
  files/en-us/mozilla/add-ons/webextensions/api/cookies/onchanged/index.html
  files/en-us/mozilla/add-ons/webextensions/api/cookies/remove/index.html
  files/en-us/mozilla/add-ons/webextensions/api/cookies/set/index.html
  files/en-us/mozilla/firefox/releases/94/index.html
  files/en-us/web/privacy/state_partitioning/index.md
Labels: Content:WebExt, Content:Other

Replace tools.ietf.org with datatracker.ietf.org
  files/en-us/web/http/headers/clear-site-data/index.md
  files/en-us/web/http/headers/content-encoding/index.md
  files/jsondata/SpecData.json
Labels: Content:HTTP

Add-ons: fix dl regression
  files/en-us/mozilla/add-ons/webextensions/api/cookies/cookie/index.html
Labels: Content:WebExt, Content:Other

added example video to project ideation page
  files/en-us/learn/common_questions/thinking_before_coding/index.md
Labels: Content:Learn

Fix HTTPMethod("DELETE")
  files/en-us/web/http/redirections/index.md
Labels: Content:HTTP

RFC 5646 replaces BCP 47
  files/en-us/web/api/addresserrors/languagecode/index.md
  files/en-us/web/api/htmlelement/lang/index.md
  files/en-us/web/api/navigator/language/index.md
  files/en-us/web/api/navigator/languages/index.md
  files/en-us/web/api/ndefmessage/ndefmessage/index.md
  files/en-us/web/api/ndefreader/write/index.md
  files/en-us/web/api/ndefreadingevent/ndefreadingevent/index.md
  files/en-us/web/api/ndefrecord/ndefrecord/index.md
  files/en-us/web/api/notification/lang/index.md
  files/en-us/web/api/notification/notification/index.md
  files/en-us/web/api/paymentaddress/languagecode/index.md
  files/en-us/web/api/serviceworkerregistration/shownotification/index.md
  files/en-us/web/api/texttrack/index.md
  files/en-us/web/api/texttrack/language/index.md
  files/en-us/web/api/workernavigator/language/index.md
  files/en-us/web/api/workernavigator/languages/index.md
  files/en-us/web/css/_colon_lang/index.md
  files/en-us/web/html/element/area/index.md
  files/en-us/web/html/element/html/index.md
  files/en-us/web/html/element/link/index.md
  files/en-us/web/html/global_attributes/index.md
  files/en-us/web/html/global_attributes/lang/index.md
  files/en-us/web/svg/attribute/conditional_processing/index.md
  files/en-us/web/svg/attribute/core/index.md
  files/en-us/web/svg/attribute/lang/index.md
  files/en-us/web/svg/attribute/systemlanguage/index.md
  files/en-us/web/svg/attribute/xml_colon_lang/index.md
Labels: Content:CSS, Content:HTML, Content:SVG, Content:WebAPI

Added a video example to pages_sites_servers_and_search_engines
  files/en-us/learn/common_questions/pages_sites_servers_and_search_engines/index.md
Labels: Content:Learn

Consistent capitalization of "Nginx"
  files/en-us/learn/forms/sending_and_retrieving_form_data/index.md
  files/en-us/learn/server-side/configuring_server_mime_types/index.md
  files/en-us/learn/server-side/express_nodejs/deployment/index.md
  files/en-us/web/http/authentication/index.md
  files/en-us/web/http/compression/index.md
  files/en-us/web/http/headers/authorization/index.md
  files/en-us/web/http/headers/www-authenticate/index.md
  files/en-us/web/http/headers/x-frame-options/index.md
  files/en-us/web/http/public_key_pinning/index.md
Labels: Content:HTTP, Content:Learn, Content:Learn:Express

re-write cache-control headers align with current draft
  files/en-us/web/http/headers/cache-control/index.md
Labels: Content:HTTP

Update index.md
  files/en-us/web/api/speechsynthesis/speak/index.md
Labels: Content:WebAPI

Update index.md
  files/en-us/web/api/urlpattern/exec/index.md
Labels: Content:WebAPI

Minor fixes to maintain original text
  files/en-us/web/api/idbcursor/continue/index.md
  files/en-us/web/api/idbobjectstore/get/index.md
  files/en-us/web/api/idbobjectstore/getall/index.md
Labels: Content:WebAPI

Updated format for DOM Exceptions
  files/en-us/web/api/audioencoder/encode/index.md
  files/en-us/web/api/audioencoder/flush/index.md
  files/en-us/web/api/idbdatabase/createobjectstore/index.md
  files/en-us/web/api/mediarecorder/pause/index.md
  files/en-us/web/api/mediarecorder/start/index.md
  files/en-us/web/api/xrsession/requestlightprobe/index.md
  files/en-us/web/api/xrsession/updaterenderstate/index.md
  files/en-us/web/api/xrwebglbinding/xrwebglbinding/index.md
Labels: Content:WebAPI

Fixed typos
  files/en-us/web/api/idbdatabase/transaction/index.md
Labels: Content:WebAPI

Removed sentence as suggested
  files/en-us/web/api/idbdatabase/createobjectstore/index.md
Labels: Content:WebAPI

Incorporated review comments
  files/en-us/web/api/idbdatabase/createobjectstore/index.md
  files/en-us/web/api/mediarecorder/start/index.md
Labels: Content:WebAPI

Corrected typo in index.md
  files/en-us/web/accessibility/index.md
Labels: Content:Accessibility

Update index.md (#10028)
  files/en-us/web/api/speechsynthesis/speak/index.md
Labels: Content:WebAPI

Consistent capitalization of "Nginx" (#10026)
  files/en-us/learn/forms/sending_and_retrieving_form_data/index.md
  files/en-us/learn/server-side/configuring_server_mime_types/index.md
  files/en-us/learn/server-side/express_nodejs/deployment/index.md
  files/en-us/web/http/authentication/index.md
  files/en-us/web/http/compression/index.md
  files/en-us/web/http/headers/authorization/index.md
  files/en-us/web/http/headers/www-authenticate/index.md
  files/en-us/web/http/headers/x-frame-options/index.md
  files/en-us/web/http/public_key_pinning/index.md
Labels: Content:HTTP, Content:Learn, Content:Learn:Express

Fix HTTPMethod("DELETE") (#10025)
  files/en-us/web/http/redirections/index.md
Labels: Content:HTTP

Updated format for DOM Exceptions (#9964)
  files/en-us/web/api/audioencoder/encode/index.md
  files/en-us/web/api/audioencoder/flush/index.md
  files/en-us/web/api/idbdatabase/createobjectstore/index.md
  files/en-us/web/api/idbdatabase/transaction/index.md
  files/en-us/web/api/mediarecorder/pause/index.md
  files/en-us/web/api/mediarecorder/start/index.md
  files/en-us/web/api/xrsession/requestlightprobe/index.md
  files/en-us/web/api/xrsession/updaterenderstate/index.md
  files/en-us/web/api/xrwebglbinding/xrwebglbinding/index.md
Labels: Content:WebAPI

Corrected typo in index.md (#10031)
  files/en-us/web/accessibility/index.md
Labels: Content:Accessibility

In the API property page template, Value should be an H2
  files/en-us/mdn/structures/page_types/api_property_subpage_template/index.md
Labels: Content:Other

Fix a couple of broken bits of Markdown
  files/en-us/web/api/urlpattern/exec/index.md
  files/en-us/web/api/urlpattern/test/index.md
Labels: Content:WebAPI

Fix a couple of broken bits of Markdown (#10033)
  files/en-us/web/api/urlpattern/exec/index.md
  files/en-us/web/api/urlpattern/test/index.md
Labels: Content:WebAPI

In the API property page template, Value should be an H2 (#10032)
  files/en-us/mdn/structures/page_types/api_property_subpage_template/index.md
Labels: Content:Other

Added more information to parseInt documentation
  files/en-us/web/javascript/reference/global_objects/parseint/index.md
Labels: Content:JS
