Repository mdn/content, changes with the labels that .github/labeler.yml gives for each.
All labels: Content:Accessibility, Content:CSS, Content:DevTools, Content:Glossary, Content:HTML, Content:HTTP, Content:JS, Content:MathML, Content:Media, Content:SVG, Content:wasm, Content:WebAPI, Content:WebDriver, Content:WebExt, Content:Learn, Content:Learn:Django, Content:Learn:Express, Content:Other

Add missing redirects + typo
  files/en-us/_redirects.txt
  files/en-us/web/api/event/timestamp/index.md
Labels: Content:WebAPI

Update index.html
  files/en-us/mozilla/add-ons/webextensions/manifest.json/homepage_url/index.html
Labels: Content:WebExt, Content:Other

Add HTMLCollection.namedItem documentation page (#9902)
  files/en-us/web/api/htmlcollection/nameditem/index.md
Labels: Content:WebAPI

Remove PR title linting
  .github/workflows/pr-lint.yml
  pr-lint/package.json
  pr-lint/src/index.js
  pr-lint/yarn.lock
Labels: none

fix double backticks in forbidden_header_name guide
  files/en-us/glossary/forbidden_header_name/index.md
Labels: Content:Glossary

Updated format for DOM Exceptions
  files/en-us/web/api/pannernode/coneoutergain/index.md
  files/en-us/web/api/pannernode/pannernode/index.md
  files/en-us/web/api/sourcebuffer/remove/index.md
  files/en-us/web/api/xrsession/requesthittestsource/index.md
  files/en-us/web/api/xrsession/requesthittestsourcefortransientinput/index.md
Labels: Content:WebAPI

Fix double backticks in forbidden_header_name guide (#9953)
  files/en-us/glossary/forbidden_header_name/index.md
Labels: Content:Glossary

third pass
  files/en-us/mozilla/firefox/releases/1.5/changing_the_priority_of_http_requests/index.html
  files/en-us/mozilla/firefox/releases/3.5/updating_extensions/index.html
  files/en-us/mozilla/firefox/releases/3/full_page_zoom/index.html
  files/en-us/mozilla/firefox/releases/3/updating_web_applications/index.html
  files/en-us/mozilla/firefox/releases/36/index.html
  files/en-us/mozilla/firefox/releases/4/the_add-on_bar/index.html
  files/en-us/mozilla/firefox/releases/57/index.html
  files/en-us/mozilla/firefox/releases/75/index.html
  files/en-us/mozilla/firefox/releases/82/index.html
  files/en-us/mozilla/firefox/releases/85/index.html
  files/en-us/mozilla/firefox/releases/9/updating_add-ons/index.html
Labels: Content:Other

last pass
  files/en-us/mozilla/firefox/experimental_features/index.html
  files/en-us/mozilla/firefox/releases/22/index.html
  files/en-us/mozilla/firefox/releases/3.6/index.html
  files/en-us/mozilla/firefox/releases/4/index.html
  files/en-us/mozilla/firefox/releases/42/index.html
  files/en-us/mozilla/firefox/releases/50/index.html
  files/en-us/mozilla/firefox/releases/55/index.html
  files/en-us/mozilla/firefox/releases/61/index.html
  files/en-us/mozilla/firefox/releases/83/index.html
  files/en-us/mozilla/firefox/releases/84/index.html
  files/en-us/mozilla/firefox/releases/9/index.html
Labels: Content:Other

Update files/en-us/web/api/contactsmanager/getproperties/index.md
  files/en-us/web/api/contactsmanager/getproperties/index.md
Labels: Content:WebAPI

Add ContactAddress and update ContactsManager. (#9429)
  files/en-us/web/api/contact_picker_api/index.md
  files/en-us/web/api/contactaddress/index.md
  files/en-us/web/api/contactsmanager/getproperties/index.md
  files/en-us/web/api/contactsmanager/index.md
  files/en-us/web/api/contactsmanager/select/index.md
Labels: Content:WebAPI

Rename constructor folder.
  files/en-us/web/api/idledetector/idledetector/index.md
Labels: Content:WebAPI

Update files/en-us/web/javascript/a_re-introduction_to_javascript/index.md
  files/en-us/web/javascript/a_re-introduction_to_javascript/index.md
Labels: Content:JS

Update files/en-us/web/javascript/a_re-introduction_to_javascript/index.md
  files/en-us/web/javascript/a_re-introduction_to_javascript/index.md
Labels: Content:JS

No need of variable j (#9921)
  files/en-us/web/javascript/a_re-introduction_to_javascript/index.md
Labels: Content:JS

Reducing the pull request to a note.
  files/en-us/mozilla/add-ons/webextensions/api/runtime/sendmessage/index.html
Labels: Content:WebExt, Content:Other

Change to use "dynamic partitioning"
  files/en-us/mozilla/add-ons/webextensions/api/cookies/cookie/index.html
  files/en-us/mozilla/add-ons/webextensions/api/cookies/remove/index.html
  files/en-us/mozilla/add-ons/webextensions/api/cookies/set/index.html
Labels: Content:WebExt, Content:Other

Correct error in defer behavior description
  files/en-us/web/performance/how_browsers_work/index.md
Labels: Content:Other

Correct error in defer behavior description (#9958)
  files/en-us/web/performance/how_browsers_work/index.md
Labels: Content:Other

Change "e.g." to "for example"
  files/en-us/web/http/basics_of_http/data_uris/index.md
  files/en-us/web/http/browser_detection_using_the_user_agent/index.md
  files/en-us/web/http/caching/index.md
Labels: Content:HTTP

Add a little style fixes to Array.filter page
  files/en-us/web/javascript/reference/global_objects/array/filter/index.md
Labels: Content:JS

Add-ons: remove sup (#9949)
  files/en-us/mozilla/add-ons/webextensions/build_a_cross_browser_extension/index.html
Labels: Content:WebExt, Content:Other

Updated format for DOM Exceptions (#9954)
  files/en-us/web/api/pannernode/coneoutergain/index.md
  files/en-us/web/api/pannernode/pannernode/index.md
  files/en-us/web/api/sourcebuffer/remove/index.md
  files/en-us/web/api/xrsession/requesthittestsource/index.md
  files/en-us/web/api/xrsession/requesthittestsourcefortransientinput/index.md
Labels: Content:WebAPI

Change "e.g." to "for example" (#9959)
  files/en-us/web/http/basics_of_http/data_uris/index.md
  files/en-us/web/http/browser_detection_using_the_user_agent/index.md
  files/en-us/web/http/caching/index.md
Labels: Content:HTTP

Update files/en-us/web/javascript/reference/global_objects/array/filter/index.md
  files/en-us/web/javascript/reference/global_objects/array/filter/index.md
Labels: Content:JS

Add a little style fixes to Array.filter page (#9960)
  files/en-us/web/javascript/reference/global_objects/array/filter/index.md
Labels: Content:JS

aria-colspan page
  files/en-us/web/accessibility/aria/attributes/aria-colspan/index.md
Labels: Content:Accessibility

Added opinion.
  files/en-us/web/accessibility/aria/attributes/aria-autocomplete/index.md
Labels: Content:Accessibility

Add missing variable declaration keyword
  files/en-us/web/javascript/reference/statements/for-await...of/index.md
Labels: Content:JS

added long example
  files/en-us/web/accessibility/aria/attributes/aria-colspan/index.md
Labels: Content:Accessibility

Reset the terminology to use "storage partitioning" etc.
  files/en-us/mozilla/add-ons/webextensions/api/cookies/cookie/index.html
  files/en-us/mozilla/add-ons/webextensions/api/cookies/get/index.html
  files/en-us/mozilla/add-ons/webextensions/api/cookies/getall/index.html
  files/en-us/mozilla/add-ons/webextensions/api/cookies/index.html
  files/en-us/mozilla/add-ons/webextensions/api/cookies/remove/index.html
  files/en-us/mozilla/add-ons/webextensions/api/cookies/set/index.html
Labels: Content:WebExt, Content:Other

Consistently use lists
  files/en-us/mozilla/add-ons/webextensions/chrome_incompatibilities/index.html
Labels: Content:WebExt, Content:Other

role=switch example enhancement (#9943)
  files/en-us/web/accessibility/aria/roles/switch_role/index.md
Labels: Content:Accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-colindextext/index.md
  files/en-us/web/accessibility/aria/attributes/aria-colindextext/index.md
Labels: Content:Accessibility

Update files/en-us/web/accessibility/aria/attributes/aria-colindextext/index.md
  files/en-us/web/accessibility/aria/attributes/aria-colindextext/index.md
Labels: Content:Accessibility

New page: aria-colindextext (#9945)
  files/en-us/web/accessibility/aria/attributes/aria-colindextext/index.md
Labels: Content:Accessibility

New File: aria-autocomplete (#9938)
  files/en-us/web/accessibility/aria/attributes/aria-autocomplete/index.md
Labels: Content:Accessibility

Make declarativeContent section consistent
  files/en-us/mozilla/add-ons/webextensions/chrome_incompatibilities/index.html
Labels: Content:WebExt, Content:Other

Make some tables convertible
  files/en-us/mozilla/add-ons/webextensions/api/runtime/port/index.html
  files/en-us/mozilla/add-ons/webextensions/api/types/browsersetting/get/index.html
  files/en-us/mozilla/add-ons/webextensions/api/types/browsersetting/onchange/index.html
  files/en-us/mozilla/add-ons/webextensions/match_patterns/index.html
Labels: Content:WebExt, Content:Other

PageMacro: Link rather than include perspective examples (#9907)
  files/en-us/web/css/css_transforms/using_css_transforms/index.md
  files/en-us/web/css/perspective-origin/index.md
  files/en-us/web/css/perspective/index.md
Labels: Content:CSS

.github/labeler.yml:

Content:Accessibility:
  - files/en-us/web/accessibility/**/*
Content:CSS:
  - files/en-us/web/css/**/*
Content:DevTools:
  - files/en-us/tools/**/*
Content:Glossary:
  - files/en-us/glossary/**/*
Content:HTML:
  - files/en-us/web/html/**/*
Content:HTTP:
  - files/en-us/web/http/**/*
Content:JS:
  - files/en-us/web/javascript/**/*
Content:MathML:
  - files/en-us/web/mathml/**/*
Content:Media:
  - files/en-us/web/media/**/*
Content:SVG:
  - files/en-us/web/svg/**/*
Content:wasm:
  - files/en-us/webassembly/**/*
Content:WebAPI:
  - files/en-us/web/api/**/*
Content:WebDriver:
  - files/en-us/web/webdriver/**/*
Content:WebExt:
  - files/en-us/mozilla/add-ons/webextensions/**/*
Content:Learn:
  - files/en-us/learn/**/*
  - files/en-us/web/guide/**/*
  - files/en-us/web/tutorials/**/*
Content:Learn:Django:
  - files/en-us/learn/server-side/django/**/*
Content:Learn:Express:
  - files/en-us/learn/server-side/express_nodejs/**/*
Content:Other:
  - files/en-us/games/**/*
  - files/en-us/mdn/**/*
  - files/en-us/mozilla/**/*
  - files/en-us/plugins/**/*
  - files/en-us/related/**/*
  - files/en-us/tools/**/*
  - files/en-us/web/demos/**/*
  - files/en-us/web/events/**/*
  - files/en-us/web/exslt/**/*
  - files/en-us/web/manifest/**/*
  - files/en-us/web/opensearch/**/*
  - files/en-us/web/performance/**/*
  - files/en-us/web/privacy/**/*
  - files/en-us/web/progressive_web_apps/**/*
  - files/en-us/web/security/**/*
  - files/en-us/web/web_components/**/*
  - files/en-us/web/xml/**/*
  - files/en-us/web/xpath/**/*
  - files/en-us/web/xslt/**/*
