Repository mdn/content, changes with the labels that .github/labeler.yml gives for each.
All labels: Content:Accessibility, Content:CSS, Content:DevTools, Content:Glossary, Content:HTML, Content:HTTP, Content:JS, Content:MathML, Content:Media, Content:SVG, Content:wasm, Content:WebAPI, Content:WebDriver, Content:WebExt, Content:Learn, Content:Learn:Django, Content:Learn:Express, Content:Other

Prepare Related for Markdowning (#9789)
  files/en-us/related/imsc/basics/index.html
  files/en-us/related/imsc/imsc_and_other_standards/index.html
  files/en-us/related/imsc/index.html
  files/en-us/related/imsc/mapping_video_time_codes_to_imsc/index.html
  files/en-us/related/imsc/namespaces/index.html
  files/en-us/related/imsc/styling/index.html
  files/en-us/related/imsc/subtitle_placement/index.html
  files/en-us/related/imsc/timing_in_imsc/index.html
  files/en-us/related/imsc/using_the_imscjs_polyfill/index.html
  files/en-us/related/index.html
  files/en-us/related/project_guidelines/index.html
Labels: Content:Other

Rename HTML files to MD
  files/en-us/web/progressive_web_apps/add_to_home_screen/index.md
  files/en-us/web/progressive_web_apps/app_structure/index.md
  files/en-us/web/progressive_web_apps/index.md
  files/en-us/web/progressive_web_apps/installable_pwas/index.md
  files/en-us/web/progressive_web_apps/installing/index.md
  files/en-us/web/progressive_web_apps/introduction/index.md
  files/en-us/web/progressive_web_apps/loading/index.md
  files/en-us/web/progressive_web_apps/offline_service_workers/index.md
  files/en-us/web/progressive_web_apps/re-engageable_notifications_push/index.md
  files/en-us/web/progressive_web_apps/responsive/graphics_for_responsive_sites/index.md
  files/en-us/web/progressive_web_apps/responsive/mobile_first/index.md
  files/en-us/web/progressive_web_apps/responsive/responsive_design_building_blocks/index.md
  files/en-us/web/progressive_web_apps/responsive/responsive_navigation_patterns/index.md
  files/en-us/web/progressive_web_apps/structural_overview/index.md
Labels: Content:Other

Convert file contents to Markdown
  files/en-us/web/progressive_web_apps/add_to_home_screen/index.md
  files/en-us/web/progressive_web_apps/app_structure/index.md
  files/en-us/web/progressive_web_apps/index.md
  files/en-us/web/progressive_web_apps/installable_pwas/index.md
  files/en-us/web/progressive_web_apps/installing/index.md
  files/en-us/web/progressive_web_apps/introduction/index.md
  files/en-us/web/progressive_web_apps/loading/index.md
  files/en-us/web/progressive_web_apps/offline_service_workers/index.md
  files/en-us/web/progressive_web_apps/re-engageable_notifications_push/index.md
  files/en-us/web/progressive_web_apps/responsive/graphics_for_responsive_sites/index.md
  files/en-us/web/progressive_web_apps/responsive/mobile_first/index.md
  files/en-us/web/progressive_web_apps/responsive/responsive_design_building_blocks/index.md
  files/en-us/web/progressive_web_apps/responsive/responsive_navigation_patterns/index.md
  files/en-us/web/progressive_web_apps/structural_overview/index.md
Labels: Content:Other

Rename HTML files to MD
  files/en-us/web/events/creating_and_triggering_events/index.md
  files/en-us/web/events/detecting_device_orientation/index.md
  files/en-us/web/events/event_handlers/index.md
  files/en-us/web/events/index.md
  files/en-us/web/events/orientation_and_motion_data_explained/index.md
  files/en-us/web/events/using_device_orientation_with_3d_transforms/index.md
  files/en-us/web/opensearch/index.md
  files/en-us/web/tutorials/index.md
  files/en-us/web/web_components/index.md
  files/en-us/web/web_components/using_custom_elements/index.md
  files/en-us/web/web_components/using_shadow_dom/index.md
  files/en-us/web/web_components/using_templates_and_slots/index.md
  files/en-us/web/xml/index.md
  files/en-us/web/xml/index/index.md
  files/en-us/web/xml/xml_colon_base/index.md
  files/en-us/web/xml/xml_introduction/index.md
Labels: Content:Learn, Content:Other

Convert file contents to Markdown
  files/en-us/web/events/creating_and_triggering_events/index.md
  files/en-us/web/events/detecting_device_orientation/index.md
  files/en-us/web/events/event_handlers/index.md
  files/en-us/web/events/index.md
  files/en-us/web/events/orientation_and_motion_data_explained/index.md
  files/en-us/web/events/using_device_orientation_with_3d_transforms/index.md
  files/en-us/web/opensearch/index.md
  files/en-us/web/tutorials/index.md
  files/en-us/web/web_components/index.md
  files/en-us/web/web_components/using_custom_elements/index.md
  files/en-us/web/web_components/using_shadow_dom/index.md
  files/en-us/web/web_components/using_templates_and_slots/index.md
  files/en-us/web/xml/index.md
  files/en-us/web/xml/index/index.md
  files/en-us/web/xml/xml_colon_base/index.md
  files/en-us/web/xml/xml_introduction/index.md
Labels: Content:Learn, Content:Other

aria-brailleroledescription page
  files/en-us/web/accessibility/aria/attributes/aria-brailleroledescription/index.md
Labels: Content:Accessibility

aria-brailleroledescription page tweaks
  files/en-us/web/accessibility/aria/attributes/aria-brailleroledescription/index.md
Labels: Content:Accessibility

aria-brailleroledescription page tweaks
  files/en-us/web/accessibility/aria/attributes/aria-brailleroledescription/index.md
Labels: Content:Accessibility

aria-brailleroledescription role prohibition
  files/en-us/web/accessibility/aria/attributes/aria-brailleroledescription/index.md
Labels: Content:Accessibility

Update typo in JS slice docs
  files/en-us/web/javascript/reference/global_objects/array/slice/index.md
Labels: Content:JS

Update typo in JS slice docs (#9793)
  files/en-us/web/javascript/reference/global_objects/array/slice/index.md
Labels: Content:JS

Update index.md
  files/en-us/games/tutorials/2d_breakout_game_pure_javascript/game_over/index.md
Labels: Content:Other

Correct type coercion link in truthy (Glossary)
  files/en-us/glossary/truthy/index.md
Labels: Content:Glossary

Add coercion link in falsy (Glossary)
  files/en-us/glossary/falsy/index.md
Labels: Content:Glossary

Fix grammar (#9795)
  files/en-us/games/tutorials/2d_breakout_game_pure_javascript/game_over/index.md
Labels: Content:Other

Add info about AND logical operator in truthy (Glossary)
  files/en-us/glossary/truthy/index.md
Labels: Content:Glossary

Update MutationObserver example (#9678)
  files/en-us/web/api/mutationobserver/index.md
Labels: Content:WebAPI

updating kumascript page
  files/en-us/mdn/tools/kumascript/index.md
Labels: Content:Other

changed slug value
  files/en-us/mdn/structures/page_types/css_selector_page_template/index.md
Labels: Content:Other

Correct type coercion link in truthy (Glossary) (#9797)
  files/en-us/glossary/truthy/index.md
Labels: Content:Glossary

Correct typo in 'rendering'
  files/en-us/web/performance/how_browsers_work/index.md
Labels: Content:Other

Correct typo in 'rendering' (#9807)
  files/en-us/web/performance/how_browsers_work/index.md
Labels: Content:Other

Prepare Web/Media for Markdowning
  files/en-us/learn/html/multimedia_and_embedding/responsive_images/index.md
  files/en-us/learn/performance/multimedia/index.md
  files/en-us/mozilla/firefox/experimental_features/index.html
  files/en-us/mozilla/firefox/releases/93/index.html
  files/en-us/web/api/htmlimageelement/alt/index.md
  files/en-us/web/api/htmlimageelement/longdesc/index.md
  files/en-us/web/html/element/img/index.md
  files/en-us/web/html/element/picture/index.md
  files/en-us/web/media/formats/audio_codecs/index.html
  files/en-us/web/media/formats/audio_concepts/index.html
  files/en-us/web/media/formats/codecs_parameter/index.html
  files/en-us/web/media/formats/containers/index.html
  files/en-us/web/media/formats/image_types/index.html
  files/en-us/web/media/formats/index.html
  files/en-us/web/media/formats/video_codecs/index.html
  files/en-us/web/media/formats/webrtc_codecs/index.html
  files/en-us/web/media/images/aspect_ratio_mapping/index.html
  files/en-us/web/media/images/index.html
  files/en-us/web/media/index.html
Labels: Content:HTML, Content:Media, Content:WebAPI, Content:Learn, Content:Other

aria-brailleroledescription user real users note
  files/en-us/web/accessibility/aria/attributes/aria-brailleroledescription/index.md
Labels: Content:Accessibility

aria-brailleroledescription user real users note
  files/en-us/web/accessibility/aria/attributes/aria-brailleroledescription/index.md
Labels: Content:Accessibility

New content: `aria-brailleroledescription` page (#9792)
  files/en-us/web/accessibility/aria/attributes/aria-brailleroledescription/index.md
Labels: Content:Accessibility

Revert "New content: `aria-brailleroledescription` page (#9792)"
  files/en-us/web/accessibility/aria/attributes/aria-brailleroledescription/index.md
Labels: Content:Accessibility

Delete zombie index.html
  files/en-us/web/http/headers/content-security-policy/script-src/index.html
Labels: Content:HTTP

Rename HTML files to MD
  files/en-us/web/guide/ajax/community/index.md
  files/en-us/web/guide/ajax/getting_started/index.md
  files/en-us/web/guide/ajax/index.md
  files/en-us/web/guide/ajax/wai_aria_live_regions_api_support/index.md
  files/en-us/web/guide/api/index.md
  files/en-us/web/guide/api/webrtc/peer-to-peer_communications_with_webrtc/index.md
  files/en-us/web/guide/audio_and_video_delivery/adding_captions_and_subtitles_to_html5_video/index.md
  files/en-us/web/guide/audio_and_video_delivery/buffering_seeking_time_ranges/index.md
  files/en-us/web/guide/audio_and_video_delivery/cross-browser_audio_basics/index.md
  files/en-us/web/guide/audio_and_video_delivery/cross_browser_video_player/index.md
  files/en-us/web/guide/audio_and_video_delivery/index.md
  files/en-us/web/guide/audio_and_video_delivery/live_streaming_web_audio_and_video/index.md
  files/en-us/web/guide/audio_and_video_delivery/setting_up_adaptive_streaming_media_sources/index.md
  files/en-us/web/guide/audio_and_video_delivery/video_player_styling_basics/index.md
  files/en-us/web/guide/audio_and_video_delivery/web_audio_api_cross_browser/index.md
  files/en-us/web/guide/audio_and_video_delivery/webaudio_playbackrate_explained/index.md
  files/en-us/web/guide/audio_and_video_manipulation/index.md
  files/en-us/web/guide/css/block_formatting_context/index.md
  files/en-us/web/guide/css/css_layout/index.md
  files/en-us/web/guide/css/getting_started/challenge_solutions/index.md
  files/en-us/web/guide/graphics/index.md
  files/en-us/web/guide/html/constraint_validation/index.md
  files/en-us/web/guide/html/content_categories/index.md
  files/en-us/web/guide/html/editable_content/index.md
  files/en-us/web/guide/html/xhtml/index.md
  files/en-us/web/guide/index.md
  files/en-us/web/guide/index/index.md
  files/en-us/web/guide/introduction_to_web_development/index.md
  files/en-us/web/guide/mobile/a_hybrid_approach/index.md
  files/en-us/web/guide/mobile/index.md
  files/en-us/web/guide/mobile/mobile-friendliness/index.md
  files/en-us/web/guide/mobile/separate_sites/index.md
  files/en-us/web/guide/parsing_and_serializing_xml/index.md
  files/en-us/web/guide/performance/index.md
  files/en-us/web/guide/printing/index.md
  files/en-us/web/guide/svg-in-opentype/index.md
  files/en-us/web/guide/unicode_bidrectional_text_algorithm/index.md
  files/en-us/web/guide/user_input_methods/index.md
  files/en-us/web/guide/woff/index.md
  files/en-us/web/guide/writing_forward-compatible_websites/index.md
Labels: Content:Learn

Convert files contents to Markdown
  files/en-us/web/guide/ajax/community/index.md
  files/en-us/web/guide/ajax/getting_started/index.md
  files/en-us/web/guide/ajax/index.md
  files/en-us/web/guide/ajax/wai_aria_live_regions_api_support/index.md
  files/en-us/web/guide/api/index.md
  files/en-us/web/guide/api/webrtc/peer-to-peer_communications_with_webrtc/index.md
  files/en-us/web/guide/audio_and_video_delivery/adding_captions_and_subtitles_to_html5_video/index.md
  files/en-us/web/guide/audio_and_video_delivery/buffering_seeking_time_ranges/index.md
  files/en-us/web/guide/audio_and_video_delivery/cross-browser_audio_basics/index.md
  files/en-us/web/guide/audio_and_video_delivery/cross_browser_video_player/index.md
  files/en-us/web/guide/audio_and_video_delivery/index.md
  files/en-us/web/guide/audio_and_video_delivery/live_streaming_web_audio_and_video/index.md
  files/en-us/web/guide/audio_and_video_delivery/setting_up_adaptive_streaming_media_sources/index.md
  files/en-us/web/guide/audio_and_video_delivery/video_player_styling_basics/index.md
  files/en-us/web/guide/audio_and_video_delivery/web_audio_api_cross_browser/index.md
  files/en-us/web/guide/audio_and_video_delivery/webaudio_playbackrate_explained/index.md
  files/en-us/web/guide/audio_and_video_manipulation/index.md
  files/en-us/web/guide/css/block_formatting_context/index.md
  files/en-us/web/guide/css/css_layout/index.md
  files/en-us/web/guide/css/getting_started/challenge_solutions/index.md
  files/en-us/web/guide/graphics/index.md
  files/en-us/web/guide/html/constraint_validation/index.md
  files/en-us/web/guide/html/content_categories/index.md
  files/en-us/web/guide/html/editable_content/index.md
  files/en-us/web/guide/html/xhtml/index.md
  files/en-us/web/guide/index.md
  files/en-us/web/guide/index/index.md
  files/en-us/web/guide/introduction_to_web_development/index.md
  files/en-us/web/guide/mobile/a_hybrid_approach/index.md
  files/en-us/web/guide/mobile/index.md
  files/en-us/web/guide/mobile/mobile-friendliness/index.md
  files/en-us/web/guide/mobile/separate_sites/index.md
  files/en-us/web/guide/parsing_and_serializing_xml/index.md
  files/en-us/web/guide/performance/index.md
  files/en-us/web/guide/printing/index.md
  files/en-us/web/guide/svg-in-opentype/index.md
  files/en-us/web/guide/unicode_bidrectional_text_algorithm/index.md
  files/en-us/web/guide/user_input_methods/index.md
  files/en-us/web/guide/woff/index.md
  files/en-us/web/guide/writing_forward-compatible_websites/index.md
Labels: Content:Learn

typo fix
  files/en-us/mozilla/firefox/experimental_features/index.html
Labels: Content:Other

Missing preposition `in` on Visual Viewport API
  files/en-us/web/api/visual_viewport_api/index.md
Labels: Content:WebAPI

[Markdown][Web/Media] Prepare Web/Media for Markdowning (#9809)
  files/en-us/learn/html/multimedia_and_embedding/responsive_images/index.md
  files/en-us/learn/performance/multimedia/index.md
  files/en-us/mozilla/firefox/experimental_features/index.html
  files/en-us/mozilla/firefox/releases/93/index.html
  files/en-us/web/api/htmlimageelement/alt/index.md
  files/en-us/web/api/htmlimageelement/longdesc/index.md
  files/en-us/web/html/element/img/index.md
  files/en-us/web/html/element/picture/index.md
  files/en-us/web/media/formats/audio_codecs/index.html
  files/en-us/web/media/formats/audio_concepts/index.html
  files/en-us/web/media/formats/codecs_parameter/index.html
  files/en-us/web/media/formats/containers/index.html
  files/en-us/web/media/formats/image_types/index.html
  files/en-us/web/media/formats/index.html
  files/en-us/web/media/formats/video_codecs/index.html
  files/en-us/web/media/formats/webrtc_codecs/index.html
  files/en-us/web/media/images/aspect_ratio_mapping/index.html
  files/en-us/web/media/images/index.html
  files/en-us/web/media/index.html
Labels: Content:HTML, Content:Media, Content:WebAPI, Content:Learn, Content:Other

Rename HTML file to MD
  files/en-us/web/demos/index.md
Labels: Content:Other

Convert file contents to Markdown
  files/en-us/web/demos/index.md
Labels: Content:Other

Rename HTML file to MD
  files/en-us/web/index.md
Labels: none

Convert file contents
  files/en-us/web/index.md
Labels: none

Remove blockindicator class
  files/en-us/web/privacy/redirect_tracking_protection/index.html
Labels: Content:Other

[Markdown] Convert Web/Demos and landing page to Markdown - DO NOT SQUASH MERGE (#9814)
  files/en-us/web/demos/index.html
  files/en-us/web/demos/index.md
  files/en-us/web/index.html
  files/en-us/web/index.md
Labels: Content:Other

Revert "[Markdown] Convert Web/Demos and landing page to Markdown - DO NOT SQUASH MERGE (#9814)"
  files/en-us/web/demos/index.html
  files/en-us/web/demos/index.md
  files/en-us/web/index.html
  files/en-us/web/index.md
Labels: Content:Other

.github/labeler.yml:

Content:Accessibility:
  - files/en-us/web/accessibility/**/*
Content:CSS:
  - files/en-us/web/css/**/*
Content:DevTools:
  - files/en-us/tools/**/*
Content:Glossary:
  - files/en-us/glossary/**/*
Content:HTML:
  - files/en-us/web/html/**/*
Content:HTTP:
  - files/en-us/web/http/**/*
Content:JS:
  - files/en-us/web/javascript/**/*
Content:MathML:
  - files/en-us/web/mathml/**/*
Content:Media:
  - files/en-us/web/media/**/*
Content:SVG:
  - files/en-us/web/svg/**/*
Content:wasm:
  - files/en-us/webassembly/**/*
Content:WebAPI:
  - files/en-us/web/api/**/*
Content:WebDriver:
  - files/en-us/web/webdriver/**/*
Content:WebExt:
  - files/en-us/mozilla/add-ons/webextensions/**/*
Content:Learn:
  - files/en-us/learn/**/*
  - files/en-us/web/guide/**/*
  - files/en-us/web/tutorials/**/*
Content:Learn:Django:
  - files/en-us/learn/server-side/django/**/*
Content:Learn:Express:
  - files/en-us/learn/server-side/express_nodejs/**/*
Content:Other:
  - files/en-us/games/**/*
  - files/en-us/mdn/**/*
  - files/en-us/mozilla/**/*
  - files/en-us/plugins/**/*
  - files/en-us/related/**/*
  - files/en-us/tools/**/*
  - files/en-us/web/demos/**/*
  - files/en-us/web/events/**/*
  - files/en-us/web/exslt/**/*
  - files/en-us/web/manifest/**/*
  - files/en-us/web/opensearch/**/*
  - files/en-us/web/performance/**/*
  - files/en-us/web/privacy/**/*
  - files/en-us/web/progressive_web_apps/**/*
  - files/en-us/web/security/**/*
  - files/en-us/web/web_components/**/*
  - files/en-us/web/xml/**/*
  - files/en-us/web/xpath/**/*
  - files/en-us/web/xslt/**/*
