Repository mdn/content, changes with the labels that .github/labeler.yml gives for each.
All labels: Content:Accessibility, Content:CSS, Content:DevTools, Content:Glossary, Content:HTML, Content:HTTP, Content:JS, Content:MathML, Content:Media, Content:SVG, Content:wasm, Content:WebAPI, Content:WebDriver, Content:WebExt, Content:Learn, Content:Learn:Django, Content:Learn:Express, Content:Other

.github/labeler.yml:

Content:Accessibility:
  - files/en-us/web/accessibility/**/*
Content:CSS:
  - files/en-us/web/css/**/*
Content:DevTools:
  - files/en-us/tools/**/*
Content:Glossary:
  - files/en-us/glossary/**/*
Content:HTML:
  - files/en-us/web/html/**/*
Content:HTTP:
  - files/en-us/web/http/**/*
Content:JS:
  - files/en-us/web/javascript/**/*
Content:MathML:
  - files/en-us/web/mathml/**/*
Content:Media:
  - files/en-us/web/media/**/*
Content:SVG:
  - files/en-us/web/svg/**/*
Content:wasm:
  - files/en-us/webassembly/**/*
Content:WebAPI:
  - files/en-us/web/api/**/*
Content:WebDriver:
  - files/en-us/web/webdriver/**/*
Content:WebExt:
  - files/en-us/mozilla/add-ons/webextensions/**/*
Content:Learn:
  - files/en-us/learn/**/*
  - files/en-us/web/guide/**/*
  - files/en-us/web/tutorials/**/*
Content:Learn:Django:
  - files/en-us/learn/server-side/django/**/*
Content:Learn:Express:
  - files/en-us/learn/server-side/express_nodejs/**/*
Content:Other:
  - files/en-us/games/**/*
  - files/en-us/mdn/**/*
  - files/en-us/mozilla/**/*
  - files/en-us/plugins/**/*
  - files/en-us/related/**/*
  - files/en-us/tools/**/*
  - files/en-us/web/demos/**/*
  - files/en-us/web/events/**/*
  - files/en-us/web/exslt/**/*
  - files/en-us/web/manifest/**/*
  - files/en-us/web/opensearch/**/*
  - files/en-us/web/performance/**/*
  - files/en-us/web/privacy/**/*
  - files/en-us/web/progressive_web_apps/**/*
  - files/en-us/web/security/**/*
  - files/en-us/web/web_components/**/*
  - files/en-us/web/xml/**/*
  - files/en-us/web/xpath/**/*
  - files/en-us/web/xslt/**/*

added colon
  files/en-us/web/html/element/wbr/index.md
Labels: Content:HTML

title for `data` element
  files/en-us/web/html/element/data/index.md
Labels: Content:HTML

`span` title
  files/en-us/web/html/element/span/index.md
Labels: Content:HTML

span
  files/en-us/web/html/element/span/index.md
Labels: Content:HTML

Remove unused sections
  files/en-us/web/accessibility/aria/roles/option_role/index.html
Labels: Content:Accessibility

wbr is actually "line break opportunity"
  files/en-us/web/html/element/wbr/index.md
Labels: Content:HTML

Remove oversized "example" of font-synthesis
  files/en-us/web/css/font-synthesis/index.md
Labels: Content:CSS

fix: typo
  files/en-us/web/html/element/button/index.md
Labels: Content:HTML

fix(html/element/li) missing quotes
  files/en-us/web/html/element/li/index.md
Labels: Content:HTML

revert polyfill link
  files/en-us/web/javascript/reference/global_objects/date/now/index.md
Labels: Content:JS

Minor edits and rewrites
  files/en-us/web/http/headers/warning/index.md
Labels: Content:HTTP

Updates to CSS perspective property and perspective() function.
  files/en-us/web/css/perspective/index.md
  files/en-us/web/css/transform-function/perspective()/index.md
Labels: Content:CSS

grammar fix
  files/en-us/learn/javascript/first_steps/test_your_skills_colon__arrays/index.html
Labels: Content:Learn

Minor edits and rewrites
  files/en-us/web/http/headers/if-unmodified-since/index.md
Labels: Content:HTTP

Reworded some text for better clarity
  files/en-us/web/http/headers/if-unmodified-since/index.md
Labels: Content:HTTP

Remove oversized "example" of font-synthesis (#9641)
  files/en-us/web/css/font-synthesis/index.md
Labels: Content:CSS

fix: typo (#9642)
  files/en-us/web/html/element/button/index.md
Labels: Content:HTML

Delete visual-js game engine pages
  files/en-us/_wikihistory.json
  files/en-us/games/visual-js_game_engine/index.html
  files/en-us/games/visual_js_ge/index.html
Labels: Content:Other

fix(html/element/li) full title (#9634)
  files/en-us/web/html/element/li/index.md
Labels: Content:HTML

Remove Date.now() polyfill (#9611)
  files/en-us/web/javascript/reference/global_objects/date/now/index.md
Labels: Content:JS

CORS: Align Access-Control-Max-Age documentation with specs (#9593)
  files/en-us/web/http/cors/index.md
  files/en-us/web/http/headers/access-control-max-age/index.md
Labels: Content:HTTP

grammar fix (#9650)
  files/en-us/learn/javascript/first_steps/test_your_skills_colon__arrays/index.html
Labels: Content:Learn

[Markdown] [Games] Miscellaneous fixes for Games (#9603)
  files/en-us/_wikihistory.json
  files/en-us/games/introduction/index.html
  files/en-us/games/introduction_to_html5_game_development/index.html
  files/en-us/games/techniques/2d_collision_detection/index.html
  files/en-us/games/techniques/3d_collision_detection/bounding_volume_collision_detection_with_three.js/index.html
  files/en-us/games/techniques/3d_collision_detection/index.html
  files/en-us/games/techniques/3d_on_the_web/building_up_a_basic_demo_with_a-frame/index.html
  files/en-us/games/techniques/3d_on_the_web/building_up_a_basic_demo_with_babylon.js/index.html
  files/en-us/games/techniques/3d_on_the_web/building_up_a_basic_demo_with_playcanvas/editor/index.html
  files/en-us/games/techniques/3d_on_the_web/building_up_a_basic_demo_with_playcanvas/engine/index.html
  files/en-us/games/techniques/3d_on_the_web/building_up_a_basic_demo_with_playcanvas/index.html
  files/en-us/games/techniques/3d_on_the_web/building_up_a_basic_demo_with_three.js/index.html
  files/en-us/games/techniques/3d_on_the_web/glsl_shaders/index.html
  files/en-us/games/techniques/3d_on_the_web/index.html
  files/en-us/games/techniques/3d_on_the_web/webvr/index.html
  files/en-us/games/techniques/audio_for_web_games/index.html
  files/en-us/games/techniques/control_mechanisms/desktop_with_gamepad/index.html
  files/en-us/games/techniques/control_mechanisms/desktop_with_mouse_and_keyboard/index.html
  files/en-us/games/techniques/control_mechanisms/index.html
  files/en-us/games/techniques/control_mechanisms/mobile_touch/index.html
  files/en-us/games/techniques/control_mechanisms/other/index.html
  files/en-us/games/techniques/crisp_pixel_art_look/index.html
  files/en-us/games/techniques/tilemaps/index.html
  files/en-us/games/techniques/tilemaps/square_tilemaps_implementation_colon__scrolling_maps/index.html
  files/en-us/games/techniques/tilemaps/square_tilemaps_implementation_colon__static_maps/index.html
  files/en-us/games/tutorials/2d_breakout_game_phaser/index.html
  files/en-us/games/tutorials/2d_breakout_game_pure_javascript/bounce_off_the_walls/index.html
  files/en-us/games/tutorials/2d_breakout_game_pure_javascript/index.html
  files/en-us/games/tutorials/2d_breakout_game_pure_javascript/move_the_ball/index.html
  files/en-us/games/tutorials/html5_gamedev_phaser_device_orientation/index.html
  files/en-us/games/visual-js_game_engine/index.html
  files/en-us/games/visual_js_ge/index.html
Labels: Content:Other

Fix backticks
  files/en-us/learn/javascript/asynchronous/introducing/index.md
  files/en-us/learn/javascript/objects/inheritance/index.md
  files/en-us/learn/server-side/express_nodejs/displaying_data/genre_detail_page/index.md
  files/en-us/learn/server-side/express_nodejs/routes/index.md
  files/en-us/learn/server-side/first_steps/web_frameworks/index.md
Labels: Content:Learn, Content:Learn:Express

Fix a few misplaced ** characters
  files/en-us/learn/server-side/django/authentication/index.md
  files/en-us/learn/server-side/django/tutorial_local_library_website/index.md
  files/en-us/learn/server-side/express_nodejs/tutorial_local_library_website/index.md
Labels: Content:Learn, Content:Learn:Django, Content:Learn:Express

Add an example using the second parameter
  files/en-us/web/api/domtokenlist/toggle/index.md
Labels: Content:WebAPI

Adds an example to independant formatting contexts (#9280)
  files/en-us/web/css/visual_formatting_model/index.md
Labels: Content:CSS

fix: gain node range problem, it will lead a misunderstand. (#9329)
  files/en-us/web/api/web_audio_api/using_web_audio_api/index.md
Labels: Content:WebAPI

Update files/en-us/web/javascript/reference/global_objects/array/sort/index.md
  files/en-us/web/javascript/reference/global_objects/array/sort/index.md
Labels: Content:JS

create table for `compareFunction` return values (#9322)
  files/en-us/web/javascript/reference/global_objects/array/sort/index.md
Labels: Content:JS

Fix errors found in review
  files/en-us/glossary/ui/index.md
  files/en-us/glossary/web_server/index.md
Labels: Content:Glossary

Fix errors found in review
  files/en-us/glossary/ui/index.md
  files/en-us/glossary/web_server/index.md
Labels: Content:Glossary

Minor touches to ease discussion
  files/en-us/web/api/web_workers_api/structured_clone_algorithm/index.md
Labels: Content:WebAPI

self.structuredClone() - prep docs FF94
  files/en-us/web/api/structuredclone/index.md
Labels: Content:WebAPI

Return value has no name any more
  files/en-us/web/api/structuredclone/index.md
Labels: Content:WebAPI

remove self. as it is redundant
  files/en-us/web/api/structuredclone/index.md
Labels: Content:WebAPI

Update files/en-us/web/api/web_workers_api/structured_clone_algorithm/index.md
  files/en-us/web/api/web_workers_api/structured_clone_algorithm/index.md
Labels: Content:WebAPI

Update files/en-us/web/api/structuredclone/index.md
  files/en-us/web/api/structuredclone/index.md
Labels: Content:WebAPI

Add some better cross linking
  files/en-us/web/api/web_workers_api/structured_clone_algorithm/index.md
Labels: Content:WebAPI

Rename files/en-us/web/javascript/reference/operators/new/index.md to ไฟล์/en-us/เว็บ/จาวาสคริปต์/อ้างอิง/ตัวดำเนินการ/ใหม่/index.mdJpD9119/เนื้อหา
  ไฟล์/en-us/เว็บ/จาวาสคริปต์/อ้างอิง/ตัวดำเนินการ/ใหม่/index.mdJpD9119/เนื้อหา
Labels: none
