Repository mdn/content, changes with the labels that .github/labeler.yml gives for each.
All labels: Content:Accessibility, Content:CSS, Content:DevTools, Content:Glossary, Content:HTML, Content:HTTP, Content:JS, Content:MathML, Content:Media, Content:SVG, Content:wasm, Content:WebAPI, Content:WebDriver, Content:WebExt, Content:Learn, Content:Learn:Django, Content:Learn:Express, Content:Other

added links to HTMLElement API
  files/en-us/web/accessibility/aria/attributes/aria-atomic/index.md
  files/en-us/web/accessibility/aria/attributes/aria-autocomplete/index.md
Labels: Content:Accessibility

Somehow fix KumaScript page
  files/en-us/mdn/tools/kumascript/index.md
Labels: Content:Other

Update files/en-us/web/css/box-shadow/index.md
  files/en-us/web/css/box-shadow/index.md
Labels: Content:CSS

Fix glossary sidebar
  files/en-us/glossary/index.md
Labels: Content:Glossary

Remove a stray closing tag
  files/en-us/web/progressive_web_apps/structural_overview/index.html
Labels: Content:Other

Fix glossary sidebar (#9779)
  files/en-us/glossary/index.md
Labels: Content:Glossary

[Markdown][Web/PWA] Prepare Web/PWA for Markdowning (#9758)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/progressive_web_apps/add_to_home_screen/index.html
  files/en-us/web/progressive_web_apps/app_structure/index.html
  files/en-us/web/progressive_web_apps/installable_pwas/index.html
  files/en-us/web/progressive_web_apps/installing/index.html
  files/en-us/web/progressive_web_apps/introduction/discoverable.svg
  files/en-us/web/progressive_web_apps/introduction/index.html
  files/en-us/web/progressive_web_apps/introduction/instalingmessengersomanyoptionseek.jpeg
  files/en-us/web/progressive_web_apps/introduction/installable.svg
  files/en-us/web/progressive_web_apps/introduction/linkable.svg
  files/en-us/web/progressive_web_apps/introduction/network-independent.svg
  files/en-us/web/progressive_web_apps/introduction/progressive.svg
  files/en-us/web/progressive_web_apps/introduction/re-engageable.svg
  files/en-us/web/progressive_web_apps/introduction/responsive.svg
  files/en-us/web/progressive_web_apps/introduction/safe.svg
  files/en-us/web/progressive_web_apps/offline_service_workers/index.html
  files/en-us/web/progressive_web_apps/re-engageable_notifications_push/index.html
  files/en-us/web/progressive_web_apps/responsive/graphics_for_responsive_sites/index.html
  files/en-us/web/progressive_web_apps/responsive/media_types/index.html
  files/en-us/web/progressive_web_apps/responsive/mobile_first/index.html
  files/en-us/web/progressive_web_apps/responsive/responsive_design_building_blocks/index.html
  files/en-us/web/progressive_web_apps/responsive/responsive_navigation_patterns/index.html
  files/en-us/web/progressive_web_apps/structural_overview/index.html
Labels: Content:Other

addressed @dominiccooney's comments
  files/en-us/web/accessibility/aria/attributes/aria-atomic/index.md
Labels: Content:Accessibility

Update index.md
  files/en-us/learn/server-side/express_nodejs/displaying_data/book_list_page/index.md
Labels: Content:Learn, Content:Learn:Express

Remove MediaCapabilitesInfo dictionary from MDN
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/mediacapabilities/decodinginfo/index.md
  files/en-us/web/api/mediacapabilities/encodinginfo/index.md
  files/en-us/web/api/mediacapabilitiesinfo/index.md
Labels: Content:WebAPI

Remove remaining references
  files/en-us/web/api/media_capabilities_api/index.md
  files/en-us/web/api/media_capabilities_api/using_the_media_capabilities_api/index.md
  files/en-us/web/api/mediacapabilities/decodinginfo/index.md
  files/en-us/web/api/mediacapabilities/encodinginfo/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

seizure disorders ugly links
  files/en-us/web/accessibility/seizure_disorders/index.md
Labels: Content:Accessibility

links md'ed
  files/en-us/web/accessibility/aria/index.md
  files/en-us/web/accessibility/understanding_wcag/perceivable/index.md
  files/en-us/web/accessibility/understanding_wcag/robust/index.md
  files/en-us/web/accessibility/understanding_wcag/understandable/index.md
Labels: Content:Accessibility

reverted table back, then reedited to update
  files/en-us/web/accessibility/keyboard-navigable_javascript_widgets/index.md
Labels: Content:Accessibility

fix broken links
  files/en-us/web/accessibility/aria/aria_live_regions/index.md
Labels: Content:Accessibility

fix broken links
  files/en-us/web/accessibility/aria/aria_live_regions/index.md
Labels: Content:Accessibility

links md'ed
  files/en-us/web/accessibility/understanding_wcag/perceivable/index.md
Labels: Content:Accessibility

fix broken link
  files/en-us/web/accessibility/understanding_wcag/keyboard/index.md
Labels: Content:Accessibility

fix broken links
  files/en-us/web/accessibility/aria/annotations/index.md
  files/en-us/web/accessibility/aria/aria_live_regions/index.md
Labels: Content:Accessibility

github, please see this page has changes, even if it's not this change
  files/en-us/web/accessibility/understanding_wcag/operable/index.md
Labels: Content:Accessibility

changed to markdown
  files/en-us/web/accessibility/accessibility_colon__what_users_can_to_to_browse_safely/index.md
  files/en-us/web/accessibility/accessible_dynamic_content/index.md
  files/en-us/web/accessibility/an_overview_of_accessible_web_applications_and_widgets/index.md
  files/en-us/web/accessibility/architecture/index.md
  files/en-us/web/accessibility/aria/annotations/index.md
  files/en-us/web/accessibility/aria/aria_guides/index.md
  files/en-us/web/accessibility/aria/aria_live_regions/index.md
  files/en-us/web/accessibility/aria/aria_screen_reader_implementors_guide/index.md
  files/en-us/web/accessibility/aria/forms/index.md
  files/en-us/web/accessibility/aria/how_to_file_aria-related_bugs/index.md
  files/en-us/web/accessibility/aria/index.md
  files/en-us/web/accessibility/cognitive_accessibility/index.md
  files/en-us/web/accessibility/community/index.md
  files/en-us/web/accessibility/faq/index.md
  files/en-us/web/accessibility/index/index.md
  files/en-us/web/accessibility/keyboard-navigable_javascript_widgets/index.md
  files/en-us/web/accessibility/mobile_accessibility_checklist/index.md
  files/en-us/web/accessibility/seizure_disorders/index.md
  files/en-us/web/accessibility/understanding_colors_and_luminance/index.md
  files/en-us/web/accessibility/understanding_wcag/index.md
  files/en-us/web/accessibility/understanding_wcag/keyboard/index.md
  files/en-us/web/accessibility/understanding_wcag/operable/index.md
  files/en-us/web/accessibility/understanding_wcag/perceivable/index.md
  files/en-us/web/accessibility/understanding_wcag/robust/index.md
  files/en-us/web/accessibility/understanding_wcag/text_labels_and_names/index.md
  files/en-us/web/accessibility/understanding_wcag/understandable/index.md
Labels: Content:Accessibility

reverted table back
  files/en-us/web/accessibility/aria/aria_live_regions/index.md
Labels: Content:Accessibility

mdification of index file
  files/en-us/web/accessibility/index.md
Labels: Content:Accessibility

moved files from .html to .md
  files/en-us/web/accessibility/accessibility_and_spacial_patterns/index.md
  files/en-us/web/accessibility/accessibility_colon__what_users_can_to_to_browse_safely/index.md
  files/en-us/web/accessibility/accessible_dynamic_content/index.md
  files/en-us/web/accessibility/an_overview_of_accessible_web_applications_and_widgets/index.md
  files/en-us/web/accessibility/architecture/index.md
  files/en-us/web/accessibility/aria/annotations/index.md
  files/en-us/web/accessibility/aria/aria_guides/index.md
  files/en-us/web/accessibility/aria/aria_live_regions/index.md
  files/en-us/web/accessibility/aria/aria_screen_reader_implementors_guide/index.md
  files/en-us/web/accessibility/aria/aria_test_cases/index.md
  files/en-us/web/accessibility/aria/forms/index.md
  files/en-us/web/accessibility/aria/how_to_file_aria-related_bugs/index.md
  files/en-us/web/accessibility/aria/index.md
  files/en-us/web/accessibility/aria/web_applications_and_aria_faq/index.md
  files/en-us/web/accessibility/aria/widgets/index.md
  files/en-us/web/accessibility/cognitive_accessibility/index.md
  files/en-us/web/accessibility/community/index.md
  files/en-us/web/accessibility/faq/index.md
  files/en-us/web/accessibility/index.md
  files/en-us/web/accessibility/index/index.md
  files/en-us/web/accessibility/information_for_web_authors/index.md
  files/en-us/web/accessibility/keyboard-navigable_javascript_widgets/index.md
  files/en-us/web/accessibility/mobile_accessibility_checklist/index.md
  files/en-us/web/accessibility/seizure_disorders/index.md
  files/en-us/web/accessibility/understanding_colors_and_luminance/index.md
  files/en-us/web/accessibility/understanding_wcag/index.md
  files/en-us/web/accessibility/understanding_wcag/keyboard/index.md
  files/en-us/web/accessibility/understanding_wcag/operable/index.md
  files/en-us/web/accessibility/understanding_wcag/perceivable/index.md
  files/en-us/web/accessibility/understanding_wcag/robust/index.md
  files/en-us/web/accessibility/understanding_wcag/text_labels_and_names/index.md
  files/en-us/web/accessibility/understanding_wcag/understandable/index.md
Labels: Content:Accessibility

reverted table back
  files/en-us/web/accessibility/understanding_wcag/operable/index.md
Labels: Content:Accessibility

removed link in h2
  files/en-us/web/accessibility/understanding_wcag/text_labels_and_names/index.md
Labels: Content:Accessibility

seizure_disorders page
  files/en-us/web/accessibility/aria/aria_test_cases/index.html
  files/en-us/web/accessibility/aria/web_applications_and_aria_faq/index.html
  files/en-us/web/accessibility/aria/widgets/index.html
Labels: Content:Accessibility

fix broken links
  files/en-us/web/accessibility/aria/aria_live_regions/index.md
Labels: Content:Accessibility

two pages i failed to port over
  files/en-us/web/accessibility/accessibility_and_spacial_patterns/index.md
  files/en-us/web/accessibility/information_for_web_authors/index.md
Labels: Content:Accessibility

got rid of some figure elements
  files/en-us/web/accessibility/understanding_colors_and_luminance/index.md
Labels: Content:Accessibility

github, please see this page has changes, even if it's not this change
  files/en-us/web/accessibility/understanding_wcag/operable/index.md
Labels: Content:Accessibility

fix broken links
  files/en-us/web/accessibility/mobile_accessibility_checklist/index.md
Labels: Content:Accessibility

removed cats are cute, even though they truly are, to understanding_wcag/operable/index.md to see WTH is going on
  files/en-us/web/accessibility/understanding_wcag/operable/index.md
Labels: Content:Accessibility

reverted table back
  files/en-us/web/accessibility/understanding_wcag/operable/index.md
Labels: Content:Accessibility

reverted table back, then reedited to update
  files/en-us/web/accessibility/aria/how_to_file_aria-related_bugs/index.md
Labels: Content:Accessibility

removed useless sidebar
  files/en-us/web/accessibility/aria/index.md
Labels: Content:Accessibility

reverted table back
  files/en-us/web/accessibility/understanding_wcag/perceivable/index.md
Labels: Content:Accessibility

reverted table back
  files/en-us/web/accessibility/understanding_wcag/perceivable/index.md
Labels: Content:Accessibility

fix broken anchor link
  files/en-us/web/accessibility/cognitive_accessibility/index.md
Labels: Content:Accessibility

moved non converted files back to html
  files/en-us/web/accessibility/aria/aria_test_cases/index.md
  files/en-us/web/accessibility/aria/web_applications_and_aria_faq/index.md
  files/en-us/web/accessibility/aria/widgets/index.md
Labels: Content:Accessibility

.github/labeler.yml:

Content:Accessibility:
  - files/en-us/web/accessibility/**/*
Content:CSS:
  - files/en-us/web/css/**/*
Content:DevTools:
  - files/en-us/tools/**/*
Content:Glossary:
  - files/en-us/glossary/**/*
Content:HTML:
  - files/en-us/web/html/**/*
Content:HTTP:
  - files/en-us/web/http/**/*
Content:JS:
  - files/en-us/web/javascript/**/*
Content:MathML:
  - files/en-us/web/mathml/**/*
Content:Media:
  - files/en-us/web/media/**/*
Content:SVG:
  - files/en-us/web/svg/**/*
Content:wasm:
  - files/en-us/webassembly/**/*
Content:WebAPI:
  - files/en-us/web/api/**/*
Content:WebDriver:
  - files/en-us/web/webdriver/**/*
Content:WebExt:
  - files/en-us/mozilla/add-ons/webextensions/**/*
Content:Learn:
  - files/en-us/learn/**/*
  - files/en-us/web/guide/**/*
  - files/en-us/web/tutorials/**/*
Content:Learn:Django:
  - files/en-us/learn/server-side/django/**/*
Content:Learn:Express:
  - files/en-us/learn/server-side/express_nodejs/**/*
Content:Other:
  - files/en-us/games/**/*
  - files/en-us/mdn/**/*
  - files/en-us/mozilla/**/*
  - files/en-us/plugins/**/*
  - files/en-us/related/**/*
  - files/en-us/tools/**/*
  - files/en-us/web/demos/**/*
  - files/en-us/web/events/**/*
  - files/en-us/web/exslt/**/*
  - files/en-us/web/manifest/**/*
  - files/en-us/web/opensearch/**/*
  - files/en-us/web/performance/**/*
  - files/en-us/web/privacy/**/*
  - files/en-us/web/progressive_web_apps/**/*
  - files/en-us/web/security/**/*
  - files/en-us/web/web_components/**/*
  - files/en-us/web/xml/**/*
  - files/en-us/web/xpath/**/*
  - files/en-us/web/xslt/**/*
