Repository mdn/content, changes with the labels that .github/labeler.yml gives for each.
All labels: Content:Accessibility, Content:CSS, Content:Events, Content:Firefox, Content:Games, Content:Glossary, Content:Guide, Content:HTML, Content:HTTP, Content:JS, Content:Learn, Content:Learn:Accessibility, Content:Learn:Client-side, Content:Learn:Cross-Browser-Testing, Content:Learn:CSS, Content:Learn:Django, Content:Learn:Express, Content:Learn:Forms, Content:Learn:GitHub, Content:Learn:HTML, Content:Learn:JavaScript, Content:Manifest, Content:MathML, Content:Media, Content:Meta, Content:Performance, Content:PWA, Content:Security, Content:SVG, Content:wasm, Content:WebAPI, Content:WebDriver, Content:WebExt, Content:Other

.github/labeler.yml:

Content:Accessibility:
  - files/en-us/web/accessibility/**/*
Content:CSS:
  - files/en-us/web/css/**/*
Content:Events:
  - files/en-us/web/events/**/*
Content:Firefox:
  - files/en-us/mozilla/firefox/**/*
Content:Games:
  - files/en-us/games/**/*
Content:Glossary:
  - files/en-us/glossary/**/*
Content:Guide:
  - files/en-us/web/guide/**/*
Content:HTML:
  - files/en-us/web/html/**/*
Content:HTTP:
  - files/en-us/web/http/**/*
Content:JS:
  - files/en-us/web/javascript/**/*
Content:Learn:
  - any:
      - files/en-us/learn/**/*
      - "!files/en-us/learn/accessibility/**/*"
      - "!files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/**/*"
      - "!files/en-us/learn/tools_and_testing/understanding_client-side_tools/**/*"
      - "!files/en-us/learn/tools_and_testing/cross_browser_testing/**/*"
      - "!files/en-us/learn/css/**/*"
      - "!files/en-us/learn/server-side/django/**/*"
      - "!files/en-us/learn/server-side/express_nodejs/**/*"
      - "!files/en-us/learn/forms/**/*"
      - "!files/en-us/learn/tools_and_testing/github/**/*"
      - "!files/en-us/learn/html/**/*"
      - "!files/en-us/learn/javascript/**/*"
  - files/en-us/web/tutorials/**/*
Content:Learn:Accessibility:
  - files/en-us/learn/accessibility/**/*
Content:Learn:Client-side:
  - files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/**/*
  - files/en-us/learn/tools_and_testing/understanding_client-side_tools/**/*
Content:Learn:Cross-Browser-Testing:
  - files/en-us/learn/tools_and_testing/cross_browser_testing/**/*
Content:Learn:CSS:
  - files/en-us/learn/css
Content:Learn:Django:
  - files/en-us/learn/server-side/django/**/*
Content:Learn:Express:
  - files/en-us/learn/server-side/express_nodejs/**/*
Content:Learn:Forms:
  - files/en-us/learn/forms/**/*
Content:Learn:GitHub:
  - files/en-us/learn/tools_and_testing/github/**/*
Content:Learn:HTML:
  - files/en-us/learn/html/**/*
Content:Learn:JavaScript:
  - files/en-us/learn/javascript/**/*
Content:Manifest:
  - files/en-us/web/manifest/**/*
Content:MathML:
  - files/en-us/web/mathml/**/*
Content:Media:
  - files/en-us/web/media/**/*
Content:Meta:
  - files/en-us/mdn/**/*
Content:Performance:
  - files/en-us/web/performance/**/*
Content:PWA:
  - files/en-us/web/progressive_web_apps/**/*
Content:Security:
  - files/en-us/web/security/**/*
Content:SVG:
  - files/en-us/web/svg/**/*
Content:wasm:
  - files/en-us/webassembly/**/*
Content:WebAPI:
  - files/en-us/web/api/**/*
Content:WebDriver:
  - files/en-us/web/webdriver/**/*
Content:WebExt:
  - files/en-us/mozilla/add-ons/webextensions/**/*
Content:Other:
  - any:
      - files/en-us/mozilla/**/*
      - "!files/en-us/mozilla/add-ons/webextensions/**/*"
      - "!files/en-us/mozilla/firefox/**/*"
  - files/en-us/related/**/*
  - files/en-us/web/demos/**/*
  - files/en-us/web/exslt/**/*
  - files/en-us/web/opensearch/**/*
  - files/en-us/web/privacy/**/*
  - files/en-us/web/text_fragments/**/*
  - files/en-us/web/xml/**/*
  - files/en-us/web/xpath/**/*
  - files/en-us/web/xslt/**/*

Apply suggestions from code review
  files/en-us/web/api/web_workers_api/index.md
Labels: Content:WebAPI

i think i finished structure and selectors and combinators. woot.
  files/en-us/web/css/css_pseudo/index.md
  files/en-us/web/css/css_selectors/selector_structure/index.md
  files/en-us/web/css/css_selectors/selectors_and_combinators/index.md
Labels: Content:CSS

reorder to make it more glossary-ish
  files/en-us/glossary/accessible_name/index.md
Labels: Content:Glossary

Apply suggestions from code review
  files/en-us/learn/forms/ui_pseudo-classes/index.md
Labels: Content:Learn:Forms

Ff115 Sec-Purpose HTTP header plus some related changes in HTML (#27499)
  files/en-us/glossary/fetch_metadata_request_header/index.md
  files/en-us/web/html/element/link/index.md
  files/en-us/web/http/headers/index.md
  files/en-us/web/http/headers/sec-purpose/index.md
Labels: Content:Glossary, Content:HTML, Content:HTTP

Update files/en-us/learn/forms/ui_pseudo-classes/index.md
  files/en-us/learn/forms/ui_pseudo-classes/index.md
Labels: Content:Learn:Forms

Update files/en-us/glossary/accessible_name/index.md
  files/en-us/glossary/accessible_name/index.md
Labels: Content:Glossary

Update link element docs for rel=proload and a little bit about modulepreload
  files/en-us/web/api/htmllinkelement/as/index.md
  files/en-us/web/api/htmllinkelement/index.md
  files/en-us/web/html/attributes/rel/modulepreload/index.md
  files/en-us/web/html/element/link/index.md
Labels: Content:HTML, Content:WebAPI

Apply suggestions from code review
  files/en-us/web/api/web_workers_api/functions_and_classes_available_to_workers/index.md
Labels: Content:WebAPI

Apply suggestions from code review
  files/en-us/web/api/web_workers_api/index.md
Labels: Content:WebAPI

Update files/en-us/web/api/htmllinkelement/as/index.md
  files/en-us/web/api/htmllinkelement/as/index.md
Labels: Content:WebAPI

modernized learn UI pseudo-classes (#27572)
  files/en-us/learn/forms/ui_pseudo-classes/index.md
Labels: Content:Learn:Forms

FF115 Relnote: Sec-Purpose HTTP header
  files/en-us/mozilla/firefox/releases/115/index.md
Labels: Content:Firefox

Update files/en-us/web/api/wgsllanguagefeatures/index.md
  files/en-us/web/api/wgsllanguagefeatures/index.md
Labels: Content:WebAPI

Update files/en-us/web/api/wgsllanguagefeatures/index.md
  files/en-us/web/api/wgsllanguagefeatures/index.md
Labels: Content:WebAPI

Add WGSLLanguageFeatures content (#27295)
  files/en-us/web/api/gpu/index.md
  files/en-us/web/api/gpu/wgsllanguagefeatures/index.md
  files/en-us/web/api/wgsllanguagefeatures/index.md
Labels: Content:WebAPI

Rewrite callback glossary entry
  files/en-us/glossary/callback_function/index.md
Labels: Content:Glossary

removed FF18 support note
  files/en-us/glossary/quality_values/index.md
Labels: Content:Glossary

New module: cascade
  files/en-us/web/css/css_cascade/index.md
Labels: Content:CSS

removed FF18 support note (#27587)
  files/en-us/glossary/quality_values/index.md
Labels: Content:Glossary

title
  files/en-us/web/css/css_cascade/index.md
Labels: Content:CSS

Prefetch glossary + prerendering
  files/en-us/glossary/prefetch/index.md
  files/en-us/glossary/prerender/index.md
Labels: Content:Glossary

title
  files/en-us/web/css/css_cascade/index.md
Labels: Content:CSS

name of module
  files/en-us/web/css/css_cascade/index.md
Labels: Content:CSS

Remove the old link prefetching faq
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/firefox/releases/44/index.md
  files/en-us/web/html/attributes/rel/index.md
  files/en-us/web/html/attributes/rel/preload/index.md
  files/en-us/web/http/link_prefetching_faq/index.md
  files/en-us/web/performance/index.md
Labels: Content:Firefox, Content:HTML, Content:HTTP, Content:Performance

Update files/en-us/glossary/prefetch/index.md
  files/en-us/glossary/prefetch/index.md
Labels: Content:Glossary

Cross browser testing - purge IE (#27578)
  files/en-us/learn/tools_and_testing/cross_browser_testing/introduction/index.md
Labels: Content:Learn:Cross-Browser-Testing

more selectors in other specs
  files/en-us/web/css/css_selectors/index.md
Labels: Content:CSS

Fixed indentation
  files/en-us/_redirects.txt
Labels: none

Fixing old Apps/Progressive redirects
  files/en-us/_redirects.txt
Labels: none

More redirect fixes
  files/en-us/_redirects.txt
Labels: none

Use the live example for Speech synthesizer demo
  files/en-us/web/api/speechsynthesisutterance/index.md
Labels: Content:WebAPI

Alphabetized redirect
  files/en-us/_redirects.txt
Labels: none

Add missed CSSRef (#27532)
  files/en-us/web/css/css_media_queries/using_media_queries_for_accessibility/index.md
Labels: Content:CSS

Update files/en-us/glossary/accessible_name/index.md
  files/en-us/glossary/accessible_name/index.md
Labels: Content:Glossary

Update files/en-us/glossary/accessible_name/index.md
  files/en-us/glossary/accessible_name/index.md
Labels: Content:Glossary

New glossary: accessible name (#27336)
  files/en-us/glossary/accessible_name/index.md
Labels: Content:Glossary

Remove animation frame methods from SharedWorker and ServiceWorker (#27577)
  files/en-us/web/api/serviceworkerglobalscope/index.md
  files/en-us/web/api/sharedworkerglobalscope/index.md
Labels: Content:WebAPI

docs(API): Add links to OffscreenCanvas in canvas pages (#27563)
  files/en-us/web/api/offscreencanvas/index.md
  files/en-us/web/api/window/requestanimationframe/index.md
  files/en-us/web/html/element/canvas/index.md
Labels: Content:HTML, Content:WebAPI

Improve grammar slightly
  files/en-us/web/accessibility/aria/roles/index.md
Labels: Content:Accessibility
