Repository mdn/content, changes with the labels that .github/labeler.yml gives for each.
All labels: Content:Accessibility, Content:CSS, Content:DevTools, Content:Glossary, Content:HTML, Content:HTTP, Content:JS, Content:MathML, Content:Media, Content:SVG, Content:wasm, Content:WebAPI, Content:WebDriver, Content:WebExt, Content:Learn, Content:Learn:Django, Content:Learn:Express, Content:Other

removed non-spec
  files/en-us/web/accessibility/aria/attributes/aria-braillelabel/index.md
Labels: Content:Accessibility

removed non-spec
  files/en-us/web/accessibility/aria/attributes/aria-atomic/index.md
Labels: Content:Accessibility

Fixed grammar in learn/useful-string-methods
  files/en-us/learn/javascript/first_steps/useful_string_methods/index.md
Labels: Content:Learn

Prepare Security for Markdowning
  files/en-us/web/security/certificate_transparency/index.html
  files/en-us/web/security/firefox_security_guidelines/index.html
  files/en-us/web/security/index.html
  files/en-us/web/security/insecure_passwords/index.html
  files/en-us/web/security/mixed_content/index.html
  files/en-us/web/security/same-origin_policy/index.html
  files/en-us/web/security/secure_contexts/features_restricted_to_secure_contexts/index.html
  files/en-us/web/security/secure_contexts/index.html
  files/en-us/web/security/securing_your_site/index.html
  files/en-us/web/security/subresource_integrity/index.html
  files/en-us/web/security/transport_layer_security/index.html
Labels: Content:Other

Remove a stray closing div
  files/en-us/web/security/firefox_security_guidelines/index.html
Labels: Content:Other

Remove a stray closing div
  files/en-us/web/security/index.html
Labels: Content:Other

Fixed grammar in learn/useful-string-methods (#9763)
  files/en-us/learn/javascript/first_steps/useful_string_methods/index.md
Labels: Content:Learn

fix(html/element) full title on multiple elements (#9752)
  files/en-us/web/html/element/ruby/index.md
  files/en-us/web/html/element/s/index.md
  files/en-us/web/html/element/span/index.md
  files/en-us/web/html/element/time/index.md
  files/en-us/web/html/element/wbr/index.md
Labels: Content:HTML

Prepare Web Components for Markdowning
  files/en-us/web/web_components/index.html
  files/en-us/web/web_components/using_custom_elements/index.html
  files/en-us/web/web_components/using_shadow_dom/index.html
  files/en-us/web/web_components/using_templates_and_slots/index.html
Labels: Content:Other

Prepare XML for Markdowning
  files/en-us/web/xml/xml_colon_base/index.html
  files/en-us/web/xml/xml_introduction/index.html
Labels: Content:Other

Prepare Tutorials for Markdowning
  files/en-us/web/tutorials/index.html
Labels: Content:Learn

Prepare OpenSearch for Markdowning
  files/en-us/web/opensearch/index.html
  files/en-us/web/opensearch/new.png
Labels: Content:Other

Prepare Events
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/events/creating_and_triggering_events/index.html
  files/en-us/web/events/detecting_device_orientation/index.html
  files/en-us/web/events/event_handlers/index.html
  files/en-us/web/events/index.html
  files/en-us/web/events/mouse_gesture_events/index.html
  files/en-us/web/events/orientation_and_motion_data_explained/index.html
Labels: Content:Other

[Markdown][Security] Prepare Security for Markdowning (#9764)
  files/en-us/web/security/certificate_transparency/index.html
  files/en-us/web/security/firefox_security_guidelines/index.html
  files/en-us/web/security/index.html
  files/en-us/web/security/insecure_passwords/index.html
  files/en-us/web/security/mixed_content/index.html
  files/en-us/web/security/same-origin_policy/index.html
  files/en-us/web/security/secure_contexts/features_restricted_to_secure_contexts/index.html
  files/en-us/web/security/secure_contexts/index.html
  files/en-us/web/security/securing_your_site/index.html
  files/en-us/web/security/subresource_integrity/index.html
  files/en-us/web/security/transport_layer_security/index.html
Labels: Content:Other

Prepare Performance docs for Markdowning (#9761)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/performance/animation_performance_and_frame_rate/index.html
  files/en-us/web/performance/critical_rendering_path/index.html
  files/en-us/web/performance/css_javascript_animation_performance/index.html
  files/en-us/web/performance/dns-prefetch/index.html
  files/en-us/web/performance/fundamentals/index.html
  files/en-us/web/performance/fundamentals/power/448px-ammeter_connected.jpg
  files/en-us/web/performance/fundamentals/power/448px-battery_in_harness.jpg
  files/en-us/web/performance/fundamentals/power/448px-harness_in_device.jpg
  files/en-us/web/performance/fundamentals/power/691px-powertool_launch.png
  files/en-us/web/performance/fundamentals/power/691px-powertool_test_one.png
  files/en-us/web/performance/fundamentals/power/691px-powertool_test_two.png
  files/en-us/web/performance/fundamentals/power/800px-powertool_csv.png
  files/en-us/web/performance/fundamentals/power/index.html
  files/en-us/web/performance/fundamentals/power/mozilla_ammeter.png
  files/en-us/web/performance/fundamentals/power/nexus_4_harness/battery-step1.jpg
  files/en-us/web/performance/fundamentals/power/nexus_4_harness/battery-step2.jpg
  files/en-us/web/performance/fundamentals/power/nexus_4_harness/battery-step3.jpg
  files/en-us/web/performance/fundamentals/power/nexus_4_harness/finished.jpg
  files/en-us/web/performance/fundamentals/power/nexus_4_harness/harnessandtools.jpg
  files/en-us/web/performance/fundamentals/power/nexus_4_harness/harnessmount.jpg
  files/en-us/web/performance/fundamentals/power/nexus_4_harness/index.html
  files/en-us/web/performance/fundamentals/power/nexus_4_harness/n4-parts.jpg
  files/en-us/web/performance/how_browsers_work/index.html
  files/en-us/web/performance/index.html
  files/en-us/web/performance/lazy_loading/index.html
  files/en-us/web/performance/navigation_and_resource_timings/index.html
  files/en-us/web/performance/optimizing_startup_performance/index.html
  files/en-us/web/performance/performance_budgets/index.html
  files/en-us/web/performance/rum-vs-synthetic/index.html
Labels: Content:Other

Corrects instance of 'ok' to 'OK' (#9750)
  files/en-us/games/publishing_games/game_monetization/index.md
  files/en-us/games/publishing_games/game_promotion/index.md
  files/en-us/games/tutorials/2d_breakout_game_pure_javascript/move_the_ball/index.md
  files/en-us/learn/css/css_layout/flexbox/index.md
  files/en-us/learn/css/css_layout/practical_positioning_examples/index.md
  files/en-us/learn/html/introduction_to_html/advanced_text_formatting/index.md
  files/en-us/learn/html/introduction_to_html/creating_hyperlinks/index.md
  files/en-us/learn/html/introduction_to_html/html_text_fundamentals/index.md
  files/en-us/learn/html/multimedia_and_embedding/images_in_html/index.md
  files/en-us/learn/html/multimedia_and_embedding/mozilla_splash_page/index.md
  files/en-us/learn/html/multimedia_and_embedding/responsive_images/index.md
  files/en-us/learn/html/multimedia_and_embedding/video_and_audio_content/index.md
  files/en-us/learn/javascript/objects/test_your_skills_colon__object-oriented_javascript/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_components/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_reactivity_lifecycle_accessibility/index.md
  files/en-us/learn/tools_and_testing/cross_browser_testing/introduction/index.md
  files/en-us/web/api/channel_messaging_api/using_channel_messaging/index.md
  files/en-us/web/api/fetch_api/using_fetch/index.md
  files/en-us/web/api/notifications_api/using_the_notifications_api/index.md
  files/en-us/web/api/service_worker_api/using_service_workers/index.md
  files/en-us/web/api/validitystate/badinput/index.md
  files/en-us/web/api/web_speech_api/using_the_web_speech_api/index.md
  files/en-us/web/javascript/reference/errors/malformed_uri/index.md
  files/en-us/web/javascript/reference/global_objects/encodeuri/index.md
  files/en-us/web/javascript/reference/global_objects/encodeuricomponent/index.md
Labels: Content:JS, Content:WebAPI, Content:Learn, Content:Other

[Markdown][Misc] Prepare miscellaneous pages for Markdowning (#9765)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/events/creating_and_triggering_events/index.html
  files/en-us/web/events/detecting_device_orientation/index.html
  files/en-us/web/events/event_handlers/index.html
  files/en-us/web/events/index.html
  files/en-us/web/events/mouse_gesture_events/index.html
  files/en-us/web/events/orientation_and_motion_data_explained/index.html
  files/en-us/web/opensearch/index.html
  files/en-us/web/opensearch/new.png
  files/en-us/web/tutorials/index.html
  files/en-us/web/web_components/index.html
  files/en-us/web/web_components/using_custom_elements/index.html
  files/en-us/web/web_components/using_shadow_dom/index.html
  files/en-us/web/web_components/using_templates_and_slots/index.html
  files/en-us/web/xml/xml_colon_base/index.html
  files/en-us/web/xml/xml_introduction/index.html
Labels: Content:Learn, Content:Other

Drop PublicKeyCredential[Creation/Request]Options dicts (#9714)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/credentialscontainer/create/index.md
  files/en-us/web/api/credentialscontainer/get/index.md
  files/en-us/web/api/publickeycredentialcreationoptions/attestation/index.md
  files/en-us/web/api/publickeycredentialcreationoptions/authenticatorselection/index.md
  files/en-us/web/api/publickeycredentialcreationoptions/challenge/index.md
  files/en-us/web/api/publickeycredentialcreationoptions/excludecredentials/index.md
  files/en-us/web/api/publickeycredentialcreationoptions/extensions/index.md
  files/en-us/web/api/publickeycredentialcreationoptions/index.md
  files/en-us/web/api/publickeycredentialcreationoptions/pubkeycredparams/index.md
  files/en-us/web/api/publickeycredentialcreationoptions/rp/index.md
  files/en-us/web/api/publickeycredentialcreationoptions/timeout/index.md
  files/en-us/web/api/publickeycredentialcreationoptions/user/index.md
  files/en-us/web/api/publickeycredentialrequestoptions/allowcredentials/index.md
  files/en-us/web/api/publickeycredentialrequestoptions/challenge/index.md
  files/en-us/web/api/publickeycredentialrequestoptions/extensions/index.md
  files/en-us/web/api/publickeycredentialrequestoptions/rpid/index.md
  files/en-us/web/api/publickeycredentialrequestoptions/timeout/index.md
  files/en-us/web/api/publickeycredentialrequestoptions/userverification/index.md
Labels: Content:WebAPI

Unlink BCD from FileSystemFlags dictionary (#9710)
  files/en-us/web/api/filesystemflags/create/index.md
  files/en-us/web/api/filesystemflags/exclusive/index.md
  files/en-us/web/api/filesystemflags/index.md
Labels: Content:WebAPI

Remove EffectTiming and KeyframeEffectOptions from MDN (#9709)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/tools/page_inspector/how_to/work_with_animations/index.html
  files/en-us/web/api/animation/currenttime/index.md
  files/en-us/web/api/animationeffect/getcomputedtiming/index.md
  files/en-us/web/api/animationeffect/gettiming/index.md
  files/en-us/web/api/animationeffect/index.md
  files/en-us/web/api/animationeffect/updatetiming/index.md
  files/en-us/web/api/effecttiming/delay/index.md
  files/en-us/web/api/effecttiming/direction/index.md
  files/en-us/web/api/effecttiming/duration/index.md
  files/en-us/web/api/effecttiming/easing/cubic-bezier-timing-curve.svg
  files/en-us/web/api/effecttiming/easing/index.md
  files/en-us/web/api/effecttiming/easing/step-timing-func-examples.svg
  files/en-us/web/api/effecttiming/enddelay/index.md
  files/en-us/web/api/effecttiming/fill/index.md
  files/en-us/web/api/effecttiming/index.md
  files/en-us/web/api/effecttiming/iterations/index.md
  files/en-us/web/api/effecttiming/iterationstart/index.md
  files/en-us/web/api/element/animate/index.md
  files/en-us/web/api/keyframeeffect/index.md
  files/en-us/web/api/keyframeeffect/keyframeeffect/index.md
  files/en-us/web/api/keyframeeffectoptions/index.md
  files/en-us/web/api/web_animations_api/index.md
  files/en-us/web/api/web_animations_api/using_the_web_animations_api/index.md
  files/jsondata/GroupData.json
Labels: Content:DevTools, Content:WebAPI, Content:Other

Update index.md
  files/en-us/web/api/mediadeviceinfo/deviceid/index.md
Labels: Content:WebAPI

fix[minor]: unnecessary assignment in code example (#9675)
  files/en-us/learn/javascript/asynchronous/async_await/index.md
Labels: Content:Learn

Minor edits
  files/en-us/web/http/headers/origin/index.md
Labels: Content:HTTP

Update files/en-us/web/api/event/stoppropagation/index.md
  files/en-us/web/api/event/stoppropagation/index.md
Labels: Content:WebAPI

Minor edits (#9767)
  files/en-us/web/http/headers/origin/index.md
Labels: Content:HTTP

typo
  files/en-us/web/javascript/reference/global_objects/typedarray/index.md
Labels: Content:JS

adding hacks to rel notes
  files/en-us/mozilla/firefox/releases/93/index.html
Labels: Content:Other

Fix NotSupportedError
  files/en-us/mozilla/firefox/releases/42/index.html
  files/en-us/mozilla/firefox/releases/51/index.html
  files/en-us/mozilla/firefox/releases/55/index.html
  files/en-us/mozilla/firefox/releases/60/index.html
  files/en-us/web/api/audiobuffer/audiobuffer/index.md
  files/en-us/web/api/audiocontext/audiocontext/index.md
  files/en-us/web/api/audioworkletglobalscope/registerprocessor/index.md
  files/en-us/web/api/baseaudiocontext/createbuffer/index.md
  files/en-us/web/api/baseaudiocontext/createiirfilter/index.md
  files/en-us/web/api/convolvernode/convolvernode/index.md
  files/en-us/web/api/customelementregistry/define/index.md
  files/en-us/web/api/element/attachshadow/index.md
  files/en-us/web/api/htmlcanvaselement/capturestream/index.md
  files/en-us/web/api/iirfilternode/getfrequencyresponse/index.md
  files/en-us/web/api/mediasource/addsourcebuffer/index.md
  files/en-us/web/api/mediastreamtrackaudiosourcenode/mediastreamtrackaudiosourcenode/index.md
  files/en-us/web/api/navigator/clearappbadge/index.md
  files/en-us/web/api/navigator/setappbadge/index.md
  files/en-us/web/api/ndefreader/ndefreader/index.md
  files/en-us/web/api/ndefreader/onreading/index.md
  files/en-us/web/api/ndefreader/onreadingerror/index.md
  files/en-us/web/api/ndefreader/scan/index.md
  files/en-us/web/api/ndefreader/write/index.md
  files/en-us/web/api/presentationrequest/getavailability/index.md
  files/en-us/web/api/remoteplayback/watchavailability/index.md
  files/en-us/web/api/sourcebuffer/changetype/index.md
  files/en-us/web/api/videodecoder/configure/index.md
  files/en-us/web/api/videoencoder/configure/index.md
  files/en-us/web/api/web_animations_api/using_the_web_animations_api/index.md
  files/en-us/web/api/xrframe/getdepthinformation/index.md
  files/en-us/web/api/xrsystem/requestsession/index.md
Labels: Content:WebAPI, Content:Other

Update index.md
  files/en-us/web/api/intersection_observer_api/timing_element_visibility/index.md
Labels: Content:WebAPI

add note about stopImmediatePropagation() (#9582)
  files/en-us/web/api/event/stoppropagation/index.md
Labels: Content:WebAPI

Update index.md (#9771)
  files/en-us/web/api/intersection_observer_api/timing_element_visibility/index.md
Labels: Content:WebAPI

Revert changes to how-to guide
  files/en-us/mdn/contribute/howto/write_an_api_reference/sidebars/index.html
Labels: Content:Other

Remove RTCConfiguration dictionary from MDN (#9759)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/rtcconfiguration/bundlepolicy/index.md
  files/en-us/web/api/rtcconfiguration/certificates/index.md
  files/en-us/web/api/rtcconfiguration/iceservers/index.md
  files/en-us/web/api/rtcconfiguration/icetransportpolicy/index.md
  files/en-us/web/api/rtcconfiguration/index.md
  files/en-us/web/api/rtcdtlstransport/index.md
  files/en-us/web/api/rtcicecandidate/address/index.md
  files/en-us/web/api/rtciceserver/index.md
  files/en-us/web/api/rtcpeerconnection/getconfiguration/index.md
  files/en-us/web/api/rtcpeerconnection/index.md
  files/en-us/web/api/rtcpeerconnection/rtcpeerconnection/index.md
  files/en-us/web/api/rtcpeerconnection/setconfiguration/index.md
  files/en-us/web/api/rtcrtpreceiver/transport/index.md
  files/en-us/web/api/rtcrtpsender/transport/index.md
  files/en-us/web/api/webrtc_api/index.md
  files/en-us/web/api/webrtc_api/session_lifetime/index.md
  files/en-us/web/api/webrtc_api/signaling_and_video_calling/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

Remove RTCTrackEventInit dictionary from MDN
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/rtctrackevent/rtctrackevent/index.md
  files/en-us/web/api/rtctrackeventinit/index.md
  files/en-us/web/api/rtctrackeventinit/receiver/index.md
  files/en-us/web/api/rtctrackeventinit/streams/index.md
  files/en-us/web/api/rtctrackeventinit/track/index.md
  files/en-us/web/api/rtctrackeventinit/transceiver/index.md
Labels: Content:WebAPI

typo (#9768)
  files/en-us/web/javascript/reference/global_objects/typedarray/index.md
Labels: Content:JS

Remove RTCRtpTransceiverInit dictionary from MDN
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/rtcrtptransceiverinit/index.md
Labels: Content:WebAPI

Remove "e.g." for better readability
  files/en-us/web/http/session/index.md
Labels: Content:HTTP

removed advertisement
  files/en-us/glossary/index.md
Labels: Content:Glossary

Remove "e.g." for better readability (#9774)
  files/en-us/web/http/session/index.md
Labels: Content:HTTP

Remove advertisement (#9775)
  files/en-us/glossary/index.md
Labels: Content:Glossary

.github/labeler.yml:

Content:Accessibility:
  - files/en-us/web/accessibility/**/*
Content:CSS:
  - files/en-us/web/css/**/*
Content:DevTools:
  - files/en-us/tools/**/*
Content:Glossary:
  - files/en-us/glossary/**/*
Content:HTML:
  - files/en-us/web/html/**/*
Content:HTTP:
  - files/en-us/web/http/**/*
Content:JS:
  - files/en-us/web/javascript/**/*
Content:MathML:
  - files/en-us/web/mathml/**/*
Content:Media:
  - files/en-us/web/media/**/*
Content:SVG:
  - files/en-us/web/svg/**/*
Content:wasm:
  - files/en-us/webassembly/**/*
Content:WebAPI:
  - files/en-us/web/api/**/*
Content:WebDriver:
  - files/en-us/web/webdriver/**/*
Content:WebExt:
  - files/en-us/mozilla/add-ons/webextensions/**/*
Content:Learn:
  - files/en-us/learn/**/*
  - files/en-us/web/guide/**/*
  - files/en-us/web/tutorials/**/*
Content:Learn:Django:
  - files/en-us/learn/server-side/django/**/*
Content:Learn:Express:
  - files/en-us/learn/server-side/express_nodejs/**/*
Content:Other:
  - files/en-us/games/**/*
  - files/en-us/mdn/**/*
  - files/en-us/mozilla/**/*
  - files/en-us/plugins/**/*
  - files/en-us/related/**/*
  - files/en-us/tools/**/*
  - files/en-us/web/demos/**/*
  - files/en-us/web/events/**/*
  - files/en-us/web/exslt/**/*
  - files/en-us/web/manifest/**/*
  - files/en-us/web/opensearch/**/*
  - files/en-us/web/performance/**/*
  - files/en-us/web/privacy/**/*
  - files/en-us/web/progressive_web_apps/**/*
  - files/en-us/web/security/**/*
  - files/en-us/web/web_components/**/*
  - files/en-us/web/xml/**/*
  - files/en-us/web/xpath/**/*
  - files/en-us/web/xslt/**/*
