Repository mdn/content, pull requests merged in 2021-08, with the labels that each got.

#7649 fixed Digit0..Digit9 Windows scancodes
  files/en-us/web/api/keyboardevent/code/code_values/index.html
Labels: Content:WebAPI, needs info

#6854 add Object to the list of types supported by set()
  files/en-us/mozilla/add-ons/webextensions/api/storage/storagearea/set/index.html
Labels: Content:WebExt

#8401 added links to the roles section
  files/en-us/learn/accessibility/html/index.html
  files/en-us/learn/accessibility/wai-aria_basics/index.html
Labels: Content:Accessibility

#8480 Fix 'Xray vision' URL
  files/en-us/mozilla/add-ons/webextensions/content_scripts/index.html
Labels: Content:WebExt

#8174 Add clarifications to “lexical declaration before init” doc
  files/en-us/web/javascript/reference/errors/cant_access_lexical_declaration_before_init/index.md
Labels: Content:JS

#7611 Update maximum zoomFactor value
  files/en-us/mozilla/add-ons/webextensions/api/tabs/getzoom/index.html
  files/en-us/mozilla/add-ons/webextensions/api/tabs/setzoom/index.html
  files/en-us/mozilla/add-ons/webextensions/working_with_the_tabs_api/index.html
Labels: Content:WebExt

#7911 Fix outdated information on extension publishing
  files/en-us/mozilla/add-ons/webextensions/build_a_cross_browser_extension/index.html
Labels: Content:WebExt

#7924 Update BSS example to match what Edge supports
  files/en-us/mozilla/add-ons/webextensions/manifest.json/browser_specific_settings/index.html
Labels: Content:WebExt

#8024 [webext] Clarify browser_specific_settings.gecko.id requirement
  files/en-us/mozilla/add-ons/webextensions/manifest.json/browser_specific_settings/index.html
Labels: Content:WebExt
