Repository mdn/content, pull requests merged in 2021-10, with the labels that each got.

#9314 Add window.reportError
  files/en-us/web/api/reporterror/index.md
  files/en-us/web/api/window/index.md
  files/en-us/web/api/workerglobalscope/index.md
Labels: Content:WebAPI

#9383 DOMParser: clarify XML error handling
  files/en-us/web/api/domparser/parsefromstring/index.md
  files/en-us/web/guide/parsing_and_serializing_xml/index.html
Labels: Content:WebAPI, Content:Learn

#9375 adding pages to FontFaceSet
  files/en-us/web/api/fontfaceset/add/index.md
  files/en-us/web/api/fontfaceset/check/index.md
  files/en-us/web/api/fontfaceset/clear/index.md
  files/en-us/web/api/fontfaceset/delete/index.md
  files/en-us/web/api/fontfaceset/entries/index.md
  files/en-us/web/api/fontfaceset/foreach/index.md
  files/en-us/web/api/fontfaceset/has/index.md
  files/en-us/web/api/fontfaceset/index.md
  files/en-us/web/api/fontfaceset/keys/index.md
  files/en-us/web/api/fontfaceset/load/index.md
  files/en-us/web/api/fontfaceset/onloading/index.md
  files/en-us/web/api/fontfaceset/onloadingdone/index.md
  files/en-us/web/api/fontfaceset/onloadingerror/index.md
  files/en-us/web/api/fontfaceset/ready/index.md
  files/en-us/web/api/fontfaceset/size/index.md
  files/en-us/web/api/fontfaceset/status/index.md
  files/en-us/web/api/fontfaceset/values/index.md
Labels: Content:WebAPI

#9400 fix grammar
  files/en-us/webassembly/existing_c_to_wasm/index.html
Labels: Content:wasm

#9402 Use lowercase anchor
  files/en-us/web/security/secure_contexts/features_restricted_to_secure_contexts/index.html
Labels: Content:Other

#9399 Use https link for JS modules guide
  files/en-us/web/javascript/guide/modules/index.md
Labels: Content:JS

#9396 Remove some self-links in Learn area
  files/en-us/learn/css/css_layout/floats/index.html
  files/en-us/learn/css/css_layout/grids/index.html
  files/en-us/learn/css/css_layout/legacy_layout_methods/index.html
  files/en-us/learn/css/css_layout/normal_flow/index.html
  files/en-us/learn/css/css_layout/positioning/index.html
  files/en-us/learn/css/css_layout/supporting_older_browsers/index.html
  files/en-us/learn/css/first_steps/how_css_is_structured/index.html
  files/en-us/learn/css/first_steps/how_css_works/index.html
Labels: Content:Learn

#9397 [Markdown] [Learn] Fix remaining Learn area notes
  files/en-us/learn/accessibility/html/index.html
  files/en-us/learn/common_questions/design_for_all_types_of_users/index.html
  files/en-us/learn/common_questions/how_much_does_it_cost/index.html
  files/en-us/learn/common_questions/what_is_a_domain_name/index.html
  files/en-us/learn/common_questions/what_is_a_url/index.html
  files/en-us/learn/css/building_blocks/backgrounds_and_borders/index.html
  files/en-us/learn/css/building_blocks/handling_different_text_directions/index.html
  files/en-us/learn/css/building_blocks/values_and_units/index.html
  files/en-us/learn/css/css_layout/fundamental_layout_comprehension/index.html
  files/en-us/learn/css/css_layout/responsive_design/index.html
  files/en-us/learn/css/howto/add_a_shadow/index.html
  files/en-us/learn/css/howto/add_a_text_shadow/index.html
  files/en-us/learn/css/howto/center_an_item/index.html
  files/en-us/learn/css/howto/create_fancy_boxes/index.html
  files/en-us/learn/css/howto/highlight_first_line/index.html
  files/en-us/learn/css/howto/index.html
  files/en-us/learn/css/howto/transition_button/index.html
  files/en-us/learn/css/styling_text/styling_links/index.html
  files/en-us/learn/forms/html5_input_types/index.html
  files/en-us/learn/forms/other_form_controls/index.html
  files/en-us/learn/getting_started_with_the_web/css_basics/index.html
  files/en-us/learn/getting_started_with_the_web/html_basics/index.html
  files/en-us/learn/html/cheatsheet/index.html
  files/en-us/learn/html/howto/define_terms_with_html/index.html
  files/en-us/learn/html/howto/use_javascript_within_a_webpage/index.html
  files/en-us/learn/html/introduction_to_html/html_text_fundamentals/index.html
  files/en-us/learn/html/introduction_to_html/index.html
  files/en-us/learn/html/multimedia_and_embedding/other_embedding_technologies/index.html
  files/en-us/learn/javascript/asynchronous/timeouts_and_intervals/index.html
  files/en-us/learn/javascript/building_blocks/build_your_own_function/index.html
  files/en-us/learn/javascript/building_blocks/functions/index.html
  files/en-us/learn/javascript/building_blocks/looping_code/index.html
  files/en-us/learn/javascript/first_steps/arrays/index.html
  files/en-us/learn/javascript/first_steps/what_went_wrong/index.html
  files/en-us/learn/javascript/objects/object_prototypes/index.html
  files/en-us/learn/server-side/django/home_page/index.html
  files/en-us/learn/server-side/express_nodejs/deployment/index.html
  files/en-us/learn/server-side/first_steps/client-server_overview/index.html
  files/en-us/learn/server-side/first_steps/introduction/index.html
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/react_todo_list_beginning/index.html
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_deployment_next/index.html
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_stores/index.html
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_typescript/index.html
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_variables_props/index.html
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/vue_first_component/index.html
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/vue_getting_started/index.html
  files/en-us/learn/tools_and_testing/cross_browser_testing/accessibility/index.html
  files/en-us/learn/tools_and_testing/cross_browser_testing/html_and_css/index.html
  files/en-us/learn/tools_and_testing/cross_browser_testing/javascript/index.html
  files/en-us/learn/tools_and_testing/cross_browser_testing/your_own_automation_environment/index.html
Labels: Content:Learn, Content:Learn:Django, Content:Learn:Express

#9360 Updating IP address value of google.com
  files/en-us/learn/common_questions/how_does_the_internet_work/dns-ip.png
  files/en-us/learn/common_questions/how_does_the_internet_work/index.html
Labels: Content:Learn

#9411 Make crypto a global property
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/firefox/releases/35/index.html
  files/en-us/web/api/crypto/getrandomvalues/index.md
  files/en-us/web/api/crypto/index.md
  files/en-us/web/api/crypto/randomuuid/index.md
  files/en-us/web/api/crypto_property/index.md
  files/en-us/web/api/rtcpeerconnection/generatecertificate/index.md
  files/en-us/web/api/subtlecrypto/index.md
  files/en-us/web/api/window/index.md
Labels: Content:WebAPI, Content:Other

#9423 Fix live example in Other form controls
  files/en-us/learn/forms/other_form_controls/index.html
Labels: Content:Learn

#9407 DOMParser.parseFromString(): clarify usage of XML-based MIME types
  files/en-us/web/api/domparser/domparser/index.md
  files/en-us/web/api/domparser/index.md
  files/en-us/web/api/domparser/parsefromstring/index.md
Labels: Content:WebAPI

#9332 add collator options
  files/en-us/web/javascript/reference/global_objects/intl/collator/collator/index.md
Labels: Content:JS

#9410 createEquirectLayer: use init rather than options (as per spec)
  files/en-us/web/api/xrwebglbinding/createequirectlayer/index.md
Labels: Content:WebAPI

#9432 Fix link flaws on Firefox 35 release notes
  files/en-us/mozilla/firefox/releases/35/index.html
Labels: Content:Other

#9466 minor language improvements
  files/en-us/web/http/headers/connection/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9464 Did a little editing for smoother reading
  files/en-us/web/http/headers/if-match/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9461 Language/grammar review
  files/en-us/web/http/overview/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9462 Language/grammar review
  files/en-us/web/http/headers/proxy-authorization/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9463 Grammar changes
  files/en-us/web/http/headers/location/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9458 Small improvements for the consistency and language
  files/en-us/web/http/headers/keep-alive/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9465 Rephrased sentences
  files/en-us/web/http/headers/host/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9468 Grammatical change
  files/en-us/web/http/messages/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9469 Removing repetitiveness
  files/en-us/web/http/headers/via/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9470 Editorial changes in lines 13, 14, and 16
  files/en-us/web/http/headers/expires/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9488 Punctuation changes in Forwarded
  files/en-us/web/http/headers/forwarded/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9479 Minor changes in the ETag article.
  files/en-us/web/http/headers/etag/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9487 grammar, typo
  files/en-us/web/http/headers/if-range/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9473 Little editing for smoother reading
  files/en-us/web/http/headers/if-none-match/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9467 Copyedit "HTTP request methods"
  files/en-us/web/http/methods/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9471 Updated text for clarity and readability in "Accept-Ranges"
  files/en-us/web/http/headers/accept-ranges/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9472 Minor changes.md
  files/en-us/web/http/headers/age/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9474 Grammatical change
  files/en-us/web/http/connection_management_in_http_1.x/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9475 Language-related optimizations
  files/en-us/web/http/headers/pragma/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9476 Copyedit `If-Modified-Since`
  files/en-us/web/http/headers/if-modified-since/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9477 paraphrasing and grammar
  files/en-us/web/http/headers/server/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9478 Update Access-Control-Allow-Origin (index.md)
  files/en-us/web/http/headers/access-control-allow-origin/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9494 Copy-edit HTTP Cookies article
  files/en-us/web/http/cookies/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9459 Copy-edit HTTP "From:"
  files/en-us/web/http/headers/from/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9480 Updated text for minor edits in User-Agent page
  files/en-us/web/http/headers/user-agent/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9482 Minor changes
  files/en-us/web/http/headers/cache-control/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9486 Update Access-Control-Allow-Credentials (index.md)
  files/en-us/web/http/headers/access-control-allow-credentials/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9489 Fixed grammar, word choice, and text clarity
  files/en-us/web/http/headers/accept-encoding/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9490 Update Access-Control-Allow-Headers (index.md)
  files/en-us/web/http/headers/access-control-allow-headers/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9492 grammar, paraphrasing
  files/en-us/web/http/headers/content-language/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9493 Minor changes in the Referer article
  files/en-us/web/http/headers/referer/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9491 Fix link to load event in Using_XMLHttpRequest
  files/en-us/web/api/xmlhttprequest/using_xmlhttprequest/index.md
Labels: Content:WebAPI

#9495 Update the Referrer Policy topic
  files/en-us/web/http/headers/referrer-policy/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9496 Rephrasing + punctuation
  files/en-us/web/http/headers/content-type/index.md
Labels: Content:HTTP

#9497 Update Access-Control-Allow-Methods (index.md)
  files/en-us/web/http/headers/access-control-allow-methods/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9500 Minor editing changes
  files/en-us/web/http/cors/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9498 Copy-edit HTTP Content negotiation
  files/en-us/web/http/content_negotiation/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9499 Fixed grammar, punctuation, and text clarity
  files/en-us/web/http/headers/accept/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9515 Prepare for Markdown migration
  files/en-us/web/accessibility/an_overview_of_accessible_web_applications_and_widgets/index.html
Labels: Content:Accessibility, Event: Write the Docs Prague 2021

#9501 Replaced "understood" with "understands" - like a chain of actions.
  files/en-us/web/http/status/403/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9519 Prepare for Markdown migration
  files/en-us/web/accessibility/aria/aria_techniques/aria_technique_template/index.html
Labels: Content:Accessibility

#9518 Updated the indentation - ARIA live regions
  files/en-us/web/accessibility/aria/aria_live_regions/index.html
Labels: Content:Accessibility, Event: Write the Docs Prague 2021

#9517 Made minor edits in Public-Key-Pins page
  files/en-us/web/http/headers/public-key-pins/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9516 Prepare for MD migration
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-valuetext_attribute/index.html
Labels: Content:Accessibility, Event: Write the Docs Prague 2021

#9513 Minor language improvements and simplifications
  files/en-us/web/http/headers/clear-site-data/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9509 Improved the text clarity
  files/en-us/web/http/headers/accept-language/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9502 Update Access-Control-Request-Headers (index.md)
  files/en-us/web/http/headers/access-control-request-headers/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9511 Style and grammar edits WTD Conference
  files/en-us/web/http/caching/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9512 Copy-edit HTTP header Expect:
  files/en-us/web/http/headers/expect/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9523 Prepare for Markdown migration (activedescendant)
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-activedescendant_attribute/index.html
Labels: Content:Accessibility, Event: Write the Docs Prague 2021

#9524 Prepare for Markdown migration (aria-describedby)
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-describedby_attribute/index.html
Labels: Content:Accessibility, Event: Write the Docs Prague 2021

#9522 Prepare for Markdown migration (Alertdialog role)
  files/en-us/web/accessibility/aria/aria_techniques/using_the_alertdialog_role/index.html
Labels: Content:Accessibility, Event: Write the Docs Prague 2021

#9521 Prepare for Markdown migration (Alert role)
  files/en-us/web/accessibility/aria/aria_techniques/using_the_alert_role/index.html
Labels: Content:Accessibility, Event: Write the Docs Prague 2021

#9520 Fixed two instances of class name in Annotations
  files/en-us/web/accessibility/aria/annotations/index.html
Labels: Content:Accessibility, Event: Write the Docs Prague 2021

#9527 Comment and id removed for a proper .md conversion
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-label_attribute/index.html
Labels: Content:Accessibility, Event: Write the Docs Prague 2021

#9528 Add `Expect` header suggestions
  files/en-us/web/http/headers/expect/index.md
Labels: Content:HTTP

#9529 Wrapping a variable in code tags
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/react_interactivity_events_state/index.html
Labels: Content:Learn

#9510 Improvements of HTTP response status codes page
  files/en-us/web/http/status/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9538 For markdown migration prep: aria-valuemin attribute
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-valuemin_attribute/index.html
Labels: Content:Accessibility

#9540 For markdown migration prep: aria-required attribute
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-required_attribute/index.html
Labels: Content:Accessibility

#9539 For markdown migration prep: aria-valuemax attribute
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-valuemax_attribute/index.html
Labels: Content:Accessibility

#9541 For markdown migration prep: aria-orientation attribute
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-orientation_attribute/index.html
Labels: Content:Accessibility

#9535 MD migration prep: aria-valuenow_attribute
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-valuenow_attribute/index.html
Labels: Content:Accessibility

#9537 Introduce error to code sample and grammar issue
  files/en-us/web/javascript/reference/global_objects/object/constructor/index.md
Labels: Content:JS

#9525 Simplify language in a 404 page article
  files/en-us/web/http/status/404/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9454 fix: update broken link to "Memory leak patterns in JavaScript" article
  files/en-us/web/javascript/memory_management/index.md
Labels: Content:JS

#9441 Fix links /docs/CSS as /docs/Web/CSS
  files/en-us/web/api/window/transitionrun_event/index.md
  files/en-us/web/api/window/transitionstart_event/index.md
  files/en-us/web/css/@media/grid/index.md
  files/en-us/web/css/aspect-ratio/index.md
  files/en-us/web/css/background-size/index.md
  files/en-us/web/css/border-style/index.md
  files/en-us/web/css/class_selectors/index.md
  files/en-us/web/css/counter-set/index.md
  files/en-us/web/css/cross-fade()/index.md
  files/en-us/web/css/css_backgrounds_and_borders/using_multiple_backgrounds/index.md
  files/en-us/web/css/list_of_proprietary_css_features/index.md
  files/en-us/web/css/margin-left/index.md
  files/en-us/web/css/margin-right/index.md
  files/en-us/web/css/orphans/index.md
  files/en-us/web/css/perspective-origin/index.md
  files/en-us/web/css/text-decoration-line/index.md
  files/en-us/web/css/text-decoration-style/index.md
  files/en-us/web/css/text-underline-offset/index.md
  files/en-us/web/css/text-underline-position/index.md
  files/en-us/web/css/transform-style/index.md
  files/en-us/web/css/transform/index.md
  files/en-us/web/css/tutorials/index.md
  files/en-us/web/css/widows/index.md
Labels: Content:CSS, Content:WebAPI

#9398 CSS aspect-ratio: add to FF89 relnotes and remove from exper. features
  files/en-us/mozilla/firefox/experimental_features/index.html
  files/en-us/mozilla/firefox/releases/89/index.html
  files/en-us/web/css/aspect-ratio/index.md
  files/en-us/web/media/images/aspect_ratio_mapping/index.html
Labels: Content:CSS, Content:Other, Content:Media

#9440 Used mongoose sort instead of array.sort
  files/en-us/learn/server-side/express_nodejs/displaying_data/book_list_page/index.html
Labels: Content:Learn, Content:Learn:Express

#9428 Improve example in StyleSheetList
  files/en-us/web/api/css_object_model/using_dynamic_styling_information/index.md
  files/en-us/web/api/stylesheetlist/index.md
Labels: Content:WebAPI

#9449 Update description of possible window.fetch() exceptions
  files/en-us/web/api/fetch/index.md
Labels: Content:WebAPI

#9536 Update the link to the Wireshark's TLS wiki page
  files/en-us/mozilla/projects/nss/key_log_format/index.html
Labels: Content:Other

#9504 Edited "Set-Cookie" page for clarity and consistency
  files/en-us/web/http/headers/set-cookie/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9481 Replaced "the" article with "a". Replaced the past tense with the present tense.
  files/en-us/web/http/headers/last-modified/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9507 X-Content-Type-Options topic update
  files/en-us/web/http/headers/x-content-type-options/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9485 Fixed typos
  files/en-us/web/http/headers/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9503 The Content Type topic update
  files/en-us/web/http/headers/content-type/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9514 Prepare Accessibility and spacial patter for MD migration
  files/en-us/web/accessibility/accessibility_and_spacial_patterns/index.html
Labels: Content:Accessibility, Event: Write the Docs Prague 2021

#9550 Copy-edit Evolution of HTTP
  files/en-us/web/http/basics_of_http/evolution_of_http/index.md
Labels: Content:HTTP, Event: Write the Docs Prague 2021

#9403 FF93 Release Note: self.reportError()
  files/en-us/mozilla/firefox/releases/93/index.html
  files/en-us/web/api/reporterror/index.md
Labels: Content:WebAPI, Content:Other

#9561 incorrect link in Web/CSS/text-indent
  files/en-us/web/css/text-indent/index.md
Labels: Content:CSS

#9566 Remove array escape in HTMLRefTable invocation (parsing breakage in translated-content CI)
  files/en-us/web/html/element/index.md
Labels: Content:HTML

#9564 [Markdown] [Learn] Remove hidden divs
  files/en-us/learn/css/building_blocks/advanced_styling_effects/index.html
  files/en-us/learn/css/howto/create_fancy_boxes/index.html
  files/en-us/learn/css/styling_text/fundamentals/index.html
  files/en-us/learn/css/styling_text/styling_links/index.html
  files/en-us/learn/css/styling_text/styling_lists/index.html
  files/en-us/learn/forms/form_validation/index.html
  files/en-us/learn/html/cheatsheet/index.html
  files/en-us/learn/html/introduction_to_html/getting_started/index.html
  files/en-us/learn/html/introduction_to_html/html_text_fundamentals/index.html
  files/en-us/learn/html/multimedia_and_embedding/adding_vector_graphics_to_the_web/index.html
  files/en-us/learn/html/multimedia_and_embedding/images_in_html/index.html
  files/en-us/learn/html/multimedia_and_embedding/other_embedding_technologies/index.html
  files/en-us/learn/javascript/asynchronous/introducing/index.html
  files/en-us/learn/javascript/building_blocks/conditionals/index.html
  files/en-us/learn/javascript/building_blocks/events/index.html
  files/en-us/learn/javascript/building_blocks/looping_code/index.html
  files/en-us/learn/javascript/first_steps/a_first_splash/index.html
  files/en-us/learn/javascript/first_steps/arrays/index.html
  files/en-us/learn/performance/business_case_for_performance/index.html
  files/en-us/learn/tools_and_testing/cross_browser_testing/html_and_css/index.html
Labels: Content:Learn

#9567 [Markdown] [Learn] Remove summary and seoSummary classes
  files/en-us/learn/common_questions/available_text_editors/index.html
  files/en-us/learn/common_questions/common_web_layouts/index.html
  files/en-us/learn/common_questions/design_for_all_types_of_users/index.html
  files/en-us/learn/common_questions/how_does_the_internet_work/index.html
  files/en-us/learn/common_questions/pages_sites_servers_and_search_engines/index.html
  files/en-us/learn/common_questions/upload_files_to_a_web_server/index.html
  files/en-us/learn/common_questions/what_are_hyperlinks/index.html
  files/en-us/learn/common_questions/what_is_a_domain_name/index.html
  files/en-us/learn/common_questions/what_is_a_url/index.html
  files/en-us/learn/common_questions/what_is_a_web_server/index.html
  files/en-us/learn/common_questions/what_is_accessibility/index.html
  files/en-us/learn/common_questions/what_software_do_i_need/index.html
  files/en-us/learn/css/styling_text/fundamentals/index.html
  files/en-us/learn/forms/advanced_form_styling/index.html
  files/en-us/learn/forms/ui_pseudo-classes/index.html
  files/en-us/learn/html/multimedia_and_embedding/adding_vector_graphics_to_the_web/index.html
  files/en-us/learn/html/multimedia_and_embedding/video_and_audio_content/index.html
  files/en-us/learn/performance/css/index.html
  files/en-us/learn/server-side/first_steps/introduction/index.html
Labels: Content:Learn

#9568 [Markdown] [Learn] Fix warnings
  files/en-us/learn/css/building_blocks/images_media_form_elements/index.html
  files/en-us/learn/css/first_steps/how_css_is_structured/index.html
  files/en-us/learn/forms/how_to_structure_a_web_form/index.html
  files/en-us/learn/getting_started_with_the_web/javascript_basics/index.html
  files/en-us/learn/html/howto/add_a_hit_map_on_top_of_an_image/index.html
  files/en-us/learn/html/introduction_to_html/document_and_website_structure/index.html
  files/en-us/learn/javascript/building_blocks/looping_code/index.html
  files/en-us/learn/javascript/objects/object_prototypes/index.html
  files/en-us/learn/javascript/objects/test_your_skills_colon__json/index.html
  files/en-us/learn/server-side/first_steps/website_security/index.html
  files/en-us/learn/tools_and_testing/cross_browser_testing/accessibility/index.html
  files/en-us/learn/tools_and_testing/cross_browser_testing/testing_strategies/index.html
Labels: Content:Learn

#9569 Navigator.userAgentData needs secure context
  files/en-us/web/api/navigator/useragentdata/index.md
Labels: Content:WebAPI

#9558 Improve param description
  files/en-us/web/javascript/reference/global_objects/array/fill/index.md
Labels: Content:JS

#9414 WebDriver conformance changes for Firefox 93
  files/en-us/mozilla/firefox/releases/93/index.html
Labels: Content:Other

#9392 Digest does not cover authentication + editorial improvements
  files/en-us/web/http/headers/digest/index.md
Labels: Content:HTTP

#9556 spelling: Window -> window.showDirectoryPicker
  files/en-us/web/api/window/showdirectorypicker/index.md
Labels: Content:WebAPI

#9551 Node Express - Routes - Fixed broken anchor link target
  files/en-us/learn/server-side/express_nodejs/routes/index.html
Labels: Content:Learn, Content:Learn:Express

#9576 Remove link for `auto` value of CSS `aspect-ratio`
  files/en-us/web/css/aspect-ratio/index.md
Labels: Content:CSS

#9563 Correct property list in CSS Text Decoration
  files/en-us/web/css/css_text_decoration/index.md
Labels: Content:CSS

#9578 Typo fix
  files/en-us/learn/javascript/asynchronous/introducing/index.html
Labels: Content:Learn

#9575 Improve representation header cross linking
  files/en-us/glossary/representation_header/index.html
  files/en-us/web/http/content_negotiation/index.md
  files/en-us/web/http/headers/digest/index.md
Labels: Content:HTTP, Content:Glossary

#9570 [Markdown] [Learn] Fix dl elements
  files/en-us/learn/common_questions/what_is_a_domain_name/index.html
  files/en-us/learn/common_questions/what_is_a_url/index.html
  files/en-us/learn/common_questions/what_is_accessibility/index.html
  files/en-us/learn/forms/how_to_build_custom_form_controls/index.html
  files/en-us/learn/html/howto/author_fast-loading_html_pages/index.html
  files/en-us/learn/html/howto/define_terms_with_html/index.html
  files/en-us/learn/performance/javascript_performance/index.html
  files/en-us/learn/server-side/configuring_server_mime_types/index.html
Labels: Content:Learn

#9571 [Markdown] [Learn] Remove (most) inline styles
  files/en-us/learn/common_questions/available_text_editors/index.html
  files/en-us/learn/common_questions/how_do_you_host_your_website_on_google_app_engine/index.html
  files/en-us/learn/common_questions/pages_sites_servers_and_search_engines/index.html
  files/en-us/learn/common_questions/thinking_before_coding/index.html
  files/en-us/learn/common_questions/what_software_do_i_need/index.html
  files/en-us/learn/css/first_steps/how_css_works/index.html
  files/en-us/learn/css/styling_text/fundamentals/index.html
  files/en-us/learn/forms/how_to_build_custom_form_controls/index.html
  files/en-us/learn/forms/html_forms_in_legacy_browsers/index.html
  files/en-us/learn/getting_started_with_the_web/javascript_basics/index.html
  files/en-us/learn/javascript/first_steps/math/index.html
  files/en-us/learn/server-side/first_steps/website_security/index.html
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/ember_interactivity_events_state/index.html
Labels: Content:Learn

#9573 [Markdown] [Learn] Clean up classes
  files/en-us/learn/accessibility/html/index.html
  files/en-us/learn/accessibility/what_is_accessibility/index.html
  files/en-us/learn/common_questions/available_text_editors/index.html
  files/en-us/learn/common_questions/common_web_layouts/index.html
  files/en-us/learn/common_questions/design_for_all_types_of_users/index.html
  files/en-us/learn/common_questions/upload_files_to_a_web_server/index.html
  files/en-us/learn/common_questions/using_github_pages/index.html
  files/en-us/learn/common_questions/what_are_browser_developer_tools/index.html
  files/en-us/learn/common_questions/what_is_accessibility/index.html
  files/en-us/learn/common_questions/what_software_do_i_need/index.html
  files/en-us/learn/css/css_layout/flexbox/index.html
  files/en-us/learn/html/cheatsheet/index.html
  files/en-us/learn/html/howto/define_terms_with_html/index.html
  files/en-us/learn/html/introduction_to_html/creating_hyperlinks/index.html
  files/en-us/learn/html/introduction_to_html/debugging_html/index.html
  files/en-us/learn/html/introduction_to_html/getting_started/index.html
  files/en-us/learn/html/multimedia_and_embedding/responsive_images/index.html
  files/en-us/learn/html/multimedia_and_embedding/video_and_audio_content/index.html
  files/en-us/learn/html/tables/advanced/index.html
  files/en-us/learn/javascript/asynchronous/promises/index.html
  files/en-us/learn/javascript/building_blocks/events/index.html
  files/en-us/learn/javascript/building_blocks/looping_code/index.html
  files/en-us/learn/javascript/first_steps/variables/index.html
  files/en-us/learn/javascript/howto/index.html
  files/en-us/learn/server-side/apache_configuration_htaccess/index.html
  files/en-us/learn/server-side/django/development_environment/index.html
  files/en-us/learn/server-side/first_steps/client-server_overview/index.html
  files/en-us/learn/server-side/node_server_without_framework/index.html
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/index.html
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/react_accessibility/index.html
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/react_interactivity_filtering_conditional_rendering/index.html
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/vue_first_component/index.html
  files/en-us/learn/tools_and_testing/cross_browser_testing/accessibility/index.html
  files/en-us/learn/tools_and_testing/cross_browser_testing/automated_testing/index.html
  files/en-us/learn/tools_and_testing/cross_browser_testing/html_and_css/index.html
  files/en-us/learn/tools_and_testing/cross_browser_testing/javascript/index.html
  files/en-us/learn/tools_and_testing/cross_browser_testing/your_own_automation_environment/index.html
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/package_management/index.html
Labels: Content:Learn, Content:Learn:Django

#9581 Add {{securecontext_header}} where implied by BCD
  files/en-us/web/api/devicemotioneventacceleration/index.md
  files/en-us/web/api/devicemotioneventrotationrate/index.md
  files/en-us/web/api/gamepadpose/index.md
  files/en-us/web/api/mediadevices/getusermedia/index.md
  files/en-us/web/api/navigator/activevrdisplays/index.md
  files/en-us/web/api/navigator/mediadevices/index.md
  files/en-us/web/api/window/ongamepadconnected/index.md
  files/en-us/web/api/window/ongamepaddisconnected/index.md
  files/en-us/web/html/element/html/manifest/index.md
  files/en-us/web/http/headers/clear-site-data/index.md
  files/en-us/web/http/headers/set-cookie/samesite/index.md
Labels: Content:HTML, Content:WebAPI, Content:HTTP

#9562 Update the `KeyboardEvent.code` values on Windows
  files/en-us/web/api/keyboardevent/code/code_values/index.md
Labels: Content:WebAPI

#9549 HTMLScriptElement.supports() method docs
  files/en-us/mozilla/firefox/releases/94/index.html
  files/en-us/web/api/htmlscriptelement/index.md
  files/en-us/web/api/htmlscriptelement/supports/index.md
  files/en-us/web/html/element/script/index.md
Labels: Content:HTML, Content:WebAPI, Content:Other

#9203 Document XRCubeLayer
  files/en-us/web/api/webxr_device_api/index.md
  files/en-us/web/api/xrcubelayer/index.md
  files/en-us/web/api/xrcubelayer/orientation/index.md
  files/en-us/web/api/xrcubelayer/redraw_event/index.md
  files/en-us/web/api/xrcubelayer/space/index.md
  files/en-us/web/api/xrwebglbinding/createcubelayer/index.md
  files/en-us/web/api/xrwebglbinding/index.md
Labels: Content:WebAPI

#9405 Change Checkbox_radio_button example
  files/en-us/web/css/_colon_indeterminate/index.md
Labels: Content:CSS

#9604 [Markdown] [Learn] Suppress conversion for wide tables
  files/en-us/learn/css/building_blocks/selectors/index.html
  files/en-us/learn/css/building_blocks/selectors/pseudo-classes_and_pseudo-elements/index.html
  files/en-us/learn/css/building_blocks/values_and_units/index.html
  files/en-us/learn/css/styling_text/fundamentals/index.html
  files/en-us/learn/forms/basic_native_form_controls/index.html
  files/en-us/learn/forms/html_forms_in_legacy_browsers/index.html
  files/en-us/learn/getting_started_with_the_web/css_basics/index.html
  files/en-us/learn/html/multimedia_and_embedding/other_embedding_technologies/index.html
  files/en-us/learn/javascript/first_steps/math/index.html
  files/en-us/learn/server-side/django/generic_views/index.html
  files/en-us/learn/tools_and_testing/cross_browser_testing/accessibility/index.html
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/command_line/index.html
Labels: Content:Learn, Content:Learn:Django

#9595 Prepare for Markdown migration (aria-hidden)
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-hidden_attribute/index.html
Labels: Content:Accessibility

#9596 Prepare for Markdown migration (aria-invalid)
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-invalid_attribute/index.html
Labels: Content:Accessibility

#9597 Prepare for Markdown migration (aria-labelledby)
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-labelledby_attribute/index.html
Labels: Content:Accessibility

#9618 Fixed a domxref to Boolean
  files/en-us/web/api/fontfaceset/delete/index.md
Labels: Content:WebAPI

#9107 Document XRQuadLayer
  files/en-us/web/api/webxr_device_api/index.md
  files/en-us/web/api/xrquadlayer/height/index.md
  files/en-us/web/api/xrquadlayer/index.md
  files/en-us/web/api/xrquadlayer/redraw_event/index.md
  files/en-us/web/api/xrquadlayer/space/index.md
  files/en-us/web/api/xrquadlayer/transform/index.md
  files/en-us/web/api/xrquadlayer/width/index.md
  files/en-us/web/api/xrwebglbinding/createquadlayer/index.md
  files/en-us/web/api/xrwebglbinding/index.md
Labels: Content:WebAPI

#9206 Document XRCylinderLayer
  files/en-us/web/api/webxr_device_api/index.md
  files/en-us/web/api/xrcylinderlayer/aspectratio/index.md
  files/en-us/web/api/xrcylinderlayer/centralangle/index.md
  files/en-us/web/api/xrcylinderlayer/index.md
  files/en-us/web/api/xrcylinderlayer/radius/index.md
  files/en-us/web/api/xrcylinderlayer/redraw_event/index.md
  files/en-us/web/api/xrcylinderlayer/space/index.md
  files/en-us/web/api/xrcylinderlayer/transform/index.md
  files/en-us/web/api/xrwebglbinding/createcylinderlayer/index.md
  files/en-us/web/api/xrwebglbinding/index.md
Labels: Content:WebAPI

#9424 API Routing would be a useful definition here.
  files/en-us/glossary/routers/index.html
Labels: Content:Glossary

#9413 Improve example in Document.styleSheets
  files/en-us/web/api/document/stylesheets/index.md
Labels: Content:WebAPI

#9628 Fix a typo
  files/en-us/web/javascript/guide/indexed_collections/index.md
Labels: Content:JS

#9613 fix(touch-action): link to pointer-events
  files/en-us/web/css/touch-action/index.md
Labels: Content:CSS

#10161 Error constructor - fix up sytnax for non-standard params
  files/en-us/web/javascript/reference/global_objects/error/error/index.md
Labels: Content:JS

#10131 add rgb/hsl examples using alpha slash notation
  files/en-us/web/css/color_value/hsl()/index.md
  files/en-us/web/css/color_value/hsla()/index.md
  files/en-us/web/css/color_value/rgb()/index.md
Labels: Content:CSS

#9760 Add missing CSS Color Module Level 4 system color: ButtonBorder
  files/en-us/web/css/color_value/index.md
Labels: Content:CSS

#10123 Update encodeURIComponent() parameter information
  files/en-us/web/javascript/reference/global_objects/encodeuricomponent/index.md
Labels: Content:JS

#10045 Add other reasons for `TypeError` that `fetch` throws
  files/en-us/web/api/fetch/index.md
Labels: Content:WebAPI

#10173 Fixes #10138 - Adds message send
  files/en-us/web/api/dedicatedworkerglobalscope/message_event/index.md
Labels: Content:WebAPI

#10084 Updated the content with the right tool. index.md
  files/en-us/web/xpath/index.md
Labels: Content:Other

#10065 Clarify that Object is below null in the prototype chain
  files/en-us/web/javascript/inheritance_and_the_prototype_chain/index.md
Labels: Content:JS

#10154 Make mouse following animation easier to read.
  files/en-us/web/api/canvas_api/tutorial/basic_animations/index.md
Labels: Content:WebAPI

#10174 Removes incorrect information about arbitrary order in `for...in` statement
  files/en-us/web/javascript/reference/statements/for...of/index.md
Labels: Content:JS

#10167 Fixed a little typo
  files/en-us/web/http/cors/index.md
Labels: Content:HTTP

#10184 Fix typos and more in web/api/c*
  files/en-us/web/api/canvas_api/tutorial/applying_styles_and_colors/index.md
  files/en-us/web/api/clipboarditem/clipboarditem/index.md
  files/en-us/web/api/credential_management_api/index.md
  files/en-us/web/api/crossoriginisolated/index.md
  files/en-us/web/api/css_typed_om_api/guide/index.md
  files/en-us/web/api/csstransformcomponent/index.md
Labels: Content:WebAPI

#10183 Delete snake game
  files/en-us/web/api/canvas_api/tutorial/basic_animations/canvas_animation1.png
  files/en-us/web/api/canvas_api/tutorial/basic_animations/canvas_animation2.png
  files/en-us/web/api/canvas_api/tutorial/basic_animations/index.md
Labels: Content:WebAPI

#10119 Fix a link to the `invalid` event
  files/en-us/web/api/htmlselectelement/checkvalidity/index.md
Labels: Content:WebAPI

#10192 Fix WebRTC_API link
  files/en-us/web/api/rtcpeerconnection/localdescription/index.md
Labels: Content:WebAPI

#10188 Fix case of BCD query in reportError
  files/en-us/web/api/reporterror/index.md
Labels: Content:WebAPI
