Repository mdn/content, pull requests merged in 2021-12, with the labels that each got.

#10707 Add accessibility info to <progress> doc
  files/en-us/web/html/element/progress/index.md
Labels: Content:HTML

#10879 Fix role alternative elements and links
  files/en-us/web/accessibility/aria/roles/range_role/index.md
Labels: Content:Accessibility

#10908 Deleted & Redirect file
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-activedescendant_attribute/index.html
Labels: Content:Accessibility

#10912 Add missing "
  files/en-us/web/accessibility/aria/roles/columnheader_role/index.md
Labels: Content:Accessibility

#10913 I think this might be a typo
  files/en-us/glossary/tcp_slow_start/index.md
Labels: Content:Glossary

#10900 Speeling : behavioUr link must link to ...behavioUr !
  files/en-us/mdn/guidelines/writing_style_guide/index.md
Labels: Content:Other

#10918 [fix typo] Fix misspelling WebAssemby -> WebAssembly
  files/en-us/webassembly/concepts/index.md
Labels: Content:wasm

#10896 update link to most recent screen reader survey
  files/en-us/learn/tools_and_testing/cross_browser_testing/accessibility/index.md
Labels: Content:Learn

#10894 Fix typos
  files/en-us/glossary/hoisting/index.md
Labels: Content:Glossary

#10799 JS Learning Area: Functions updates
  files/en-us/learn/javascript/building_blocks/functions/index.md
Labels: Content:Learn

#10895 [fix typo] Add missing space.
  files/en-us/webassembly/concepts/index.md
Labels: Content:wasm

#10902 Fix incorrect comment syntax
  files/en-us/web/html/element/p/index.md
Labels: Content:HTML

#10898 Update index.md
  files/en-us/web/accessibility/aria/attributes/aria-expanded/index.md
Labels: Content:Accessibility

#10637 Fix developer.google.com links
  files/en-us/web/accessibility/seizure_disorders/index.md
  files/en-us/web/api/clients/claim/index.md
  files/en-us/web/api/document/createelementns/index.md
  files/en-us/web/api/element/setattribute/index.md
  files/en-us/web/api/indexeddb_api/browser_storage_limits_and_eviction_criteria/index.md
  files/en-us/web/api/long_tasks_api/index.md
  files/en-us/web/api/resize_observer_api/index.md
  files/en-us/web/progressive_web_apps/add_to_home_screen/index.md
  files/en-us/web/progressive_web_apps/installing/index.md
Labels: Content:WebAPI, Content:Other, Content:Accessibility

#10630 Delete glossary Dynamic programming language
  files/en-us/_wikihistory.json
  files/en-us/glossary/dynamic_programming_language/index.md
  files/en-us/learn/getting_started_with_the_web/javascript_basics/index.md
Labels: Content:Learn, Content:Glossary

#10846 Revise the "Logical AND (&&)" page
  files/en-us/web/javascript/reference/operators/logical_and/index.md
Labels: Content:JS

#10932 Logical And: Fix typo
  files/en-us/web/javascript/reference/operators/logical_and/index.md
Labels: Content:JS

#10889 xpathevaluator: use var xpath
  files/en-us/web/api/xpathevaluator/index.md
Labels: Content:WebAPI

#10890 Adding console.log to IIFE as needed + small edit
  files/en-us/glossary/iife/index.md
Labels: Content:Glossary

#10935 JS Learn: add task to Functions-Test your skills
  files/en-us/learn/javascript/building_blocks/test_your_skills_colon__functions/index.md
Labels: Content:Learn

#10934 JS Learn updates: Add a task to the Arrays module
  files/en-us/learn/javascript/first_steps/test_your_skills_colon__arrays/index.md
Labels: Content:Learn

#10933 Ff96 canShare release note AND experimental features
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/96/index.md
Labels: Content:Other

#10917 Add listing of missing method.
  files/en-us/web/api/audiobuffersourcenode/index.md
Labels: Content:WebAPI

#10920 Remove FileSystemFlags dictionary from MDN web docs
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/file_and_directory_entries_api/index.md
  files/en-us/web/api/filesystemdirectoryentry/getdirectory/index.md
  files/en-us/web/api/filesystemdirectoryentry/getfile/index.md
  files/en-us/web/api/filesystemflags/index.md
Labels: Content:WebAPI

#10906 update userAgentData example with fullVersionList
  files/en-us/web/api/user-agent_client_hints_api/index.md
Labels: Content:WebAPI

#10891 Corrects terminology and desc. Thanks @rauschma
  files/en-us/glossary/bigint/index.md
  files/en-us/glossary/number/index.md
  files/en-us/web/javascript/reference/global_objects/bigint/index.md
Labels: Content:JS, Content:Glossary

#10860 Add section for the anti-tracking webcompat preference.
  files/en-us/web/privacy/state_partitioning/index.md
Labels: Content:Other

#10939 FF96 Relnotes: Samesite-Lax by default
  files/en-us/mozilla/firefox/releases/96/index.md
Labels: Content:Other

#10940 Fix up OffscreenCanvas.convertToBlob()
  files/en-us/web/api/offscreencanvas/converttoblob/index.md
Labels: Content:WebAPI

#10801 Matches example with original. Thanks @CEOehis
  files/en-us/learn/forms/how_to_structure_a_web_form/index.md
Labels: Content:Learn

#10810 2x is missing in srcset
  files/en-us/web/api/htmlimageelement/srcset/index.md
Labels: Content:WebAPI

#10523 invalid re flag message - add d flag
  files/en-us/web/javascript/reference/errors/bad_regexp_flag/index.md
Labels: Content:JS

#10696 Add clarification about CSS comment format for sourcemaps
  files/en-us/tools/debugger/how_to/use_a_source_map/index.html
Labels: Content:Other, Content:DevTools

#10949 Fix misspelling <figcaption>
  files/en-us/web/accessibility/aria/roles/figure_role/index.md
Labels: Content:Accessibility

#10948 Fix typo in EventSource.onmessage example
  files/en-us/web/api/eventsource/onmessage/index.md
Labels: Content:WebAPI

#10952 Remove "non-standard" from `preservesPitch` in HTMLMediaElement
  files/en-us/web/api/htmlmediaelement/index.md
Labels: Content:WebAPI

#10947 Fix typo in WASM text format document.
  files/en-us/webassembly/understanding_the_text_format/index.md
Labels: Content:wasm

#10901 docs(Using Web Workers): fix typo in code (queryArguments --> queryMethodArguments)
  files/en-us/web/api/web_workers_api/using_web_workers/index.md
Labels: Content:WebAPI

#10961 Remove link to missing demo in :hover page
  files/en-us/web/css/_colon_hover/index.md
Labels: Content:CSS

#10874 New page: aria-labelledby
  files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
Labels: Content:Accessibility

#10951 Add punctuation
  files/en-us/web/http/overview/index.md
Labels: Content:HTTP

#10945 import specifiers use url rather than path
  files/en-us/web/javascript/reference/statements/import/index.md
Labels: Content:JS

#10914 Update JS Learn Events page
  files/en-us/learn/javascript/building_blocks/events/index.md
Labels: Content:Learn

#10964 Grammar fix
  files/en-us/web/accessibility/aria/attributes/index.md
Labels: Content:Accessibility

#10966 grammatical correction: less -> fewer
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_getting_started/index.md
Labels: Content:Learn

#10956 Update index.md
  files/en-us/web/css/css_container_queries/index.md
Labels: Content:CSS

#10984 Fix link flaws in WebKit-specific properties
  files/en-us/web/css/-webkit-overflow-scrolling/index.md
  files/en-us/web/css/-webkit-print-color-adjust/index.md
  files/en-us/web/css/-webkit-tap-highlight-color/index.md
  files/en-us/web/css/box-align/index.md
  files/en-us/web/css/box-direction/index.md
  files/en-us/web/css/box-flex/index.md
  files/en-us/web/css/box-lines/index.md
  files/en-us/web/css/box-orient/index.md
  files/en-us/web/css/box-pack/index.md
Labels: Content:CSS

#10979 Update Application Cache docs
  files/en-us/web/api/sharedworkerglobalscope/applicationcache/index.md
  files/en-us/web/api/sharedworkerglobalscope/index.md
  files/en-us/web/api/window/applicationcache/index.md
Labels: Content:WebAPI

#10977 Change “has” to “have” on referer header page
  files/en-us/web/http/headers/referer/index.md
Labels: Content:HTTP

#10978 Fix grammar error
  files/en-us/web/api/node/appendchild/index.md
Labels: Content:WebAPI

#10974 Adds note about fields. Thanks @bergus
  files/en-us/web/javascript/reference/classes/static/index.md
Labels: Content:JS

#10962 Updated Parsing link from speculative parsing to parsing
  files/en-us/web/performance/how_browsers_work/index.md
Labels: Content:Other

#10938 Updates to note that samesite is now scheme aware
  files/en-us/web/http/cookies/index.md
  files/en-us/web/http/headers/set-cookie/index.md
  files/en-us/web/http/headers/set-cookie/samesite/index.md
Labels: Content:HTTP

#10893 New page: aria-placeholder
  files/en-us/web/accessibility/aria/attributes/aria-placeholder/index.md
Labels: Content:Accessibility

#10931 New page: aria-rowcount
  files/en-us/web/accessibility/aria/attributes/aria-rowcount/index.md
Labels: Content:Accessibility

#10942 New page: aria-rowindex
  files/en-us/web/accessibility/aria/attributes/aria-rowindex/index.md
Labels: Content:Accessibility

#10963 New page: aria-rowspan
  files/en-us/web/accessibility/aria/attributes/aria-rowspan/index.md
Labels: Content:Accessibility

#10957 New Page: aria-rowindextext
  files/en-us/web/accessibility/aria/attributes/aria-rowindextext/index.md
Labels: Content:Accessibility

#10960 Make clear: typed arrays can only be copy-constructed from same type
  files/en-us/web/javascript/reference/global_objects/bigint64array/bigint64array/index.md
  files/en-us/web/javascript/reference/global_objects/biguint64array/biguint64array/index.md
  files/en-us/web/javascript/reference/global_objects/float32array/float32array/index.md
  files/en-us/web/javascript/reference/global_objects/float64array/float64array/index.md
  files/en-us/web/javascript/reference/global_objects/int16array/int16array/index.md
  files/en-us/web/javascript/reference/global_objects/int32array/int32array/index.md
  files/en-us/web/javascript/reference/global_objects/int8array/int8array/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/index.md
  files/en-us/web/javascript/reference/global_objects/uint16array/uint16array/index.md
  files/en-us/web/javascript/reference/global_objects/uint32array/uint32array/index.md
  files/en-us/web/javascript/reference/global_objects/uint8array/uint8array/index.md
  files/en-us/web/javascript/reference/global_objects/uint8clampedarray/uint8clampedarray/index.md
Labels: Content:JS

#10992 Mongoose - revert to using Data in authormodel
  files/en-us/learn/server-side/express_nodejs/mongoose/index.md
Labels: Content:Learn:Express

#10991 Redefine first party cookies to include scheme and mention subdomains.
  files/en-us/web/http/cookies/index.md
Labels: Content:HTTP

#10990 Add two examples of URL() constructor
  files/en-us/web/api/url/url/index.md
Labels: Content:WebAPI

#10989 Destructuring assignment - Fix layout of code in note
  files/en-us/web/javascript/reference/operators/destructuring_assignment/index.md
Labels: Content:JS

#10985 Wasm reference pages change to interactive examples
  files/en-us/webassembly/reference/control_flow/block/index.md
  files/en-us/webassembly/reference/control_flow/br/index.md
  files/en-us/webassembly/reference/control_flow/call/index.md
  files/en-us/webassembly/reference/control_flow/end/index.md
  files/en-us/webassembly/reference/control_flow/if...else/index.md
  files/en-us/webassembly/reference/control_flow/loop/index.md
  files/en-us/webassembly/reference/control_flow/nop/index.md
  files/en-us/webassembly/reference/control_flow/return/index.md
  files/en-us/webassembly/reference/control_flow/unreachable/index.md
Labels: Content:wasm

#10982 Fix the order of arguments to getPose()
  files/en-us/web/api/webxr_device_api/spatial_tracking/index.md
Labels: Content:WebAPI

#10986 Custom elements not supported note removed
  files/en-us/web/web_components/using_custom_elements/index.md
Labels: Content:Other

#10997 Change explanatory text as comment
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
Labels: Content:JS

#10996 FF96 Web Locks API updates
  files/en-us/web/api/lock/index.md
  files/en-us/web/api/lock/mode/index.md
  files/en-us/web/api/lockmanager/index.md
  files/en-us/web/api/lockmanager/query/index.md
  files/en-us/web/api/lockmanager/request/index.md
  files/en-us/web/api/navigator/index.md
  files/en-us/web/api/web_locks_api/index.md
Labels: Content:WebAPI

#10943 WebDriver conformance changes for Firefox 95
  files/en-us/mozilla/firefox/releases/95/index.md
Labels: Content:Other

#11004 typo-fix: create a constant with const keyword
  files/en-us/learn/javascript/first_steps/a_first_splash/index.md
Labels: Content:Learn

#10715 Client hints glossary - update with user hints
  files/en-us/glossary/client_hints/index.md
  files/en-us/web/api/user-agent_client_hints_api/index.md
  files/en-us/web/http/headers/accept-ch/index.md
  files/en-us/web/http/headers/index.md
  files/en-us/web/http/headers/sec-ch-ua/index.md
Labels: Content:WebAPI, Content:HTTP, Content:Glossary

#11003 Updating 95, 96 and adding 97 releases
  files/en-us/mozilla/firefox/releases/95/index.md
  files/en-us/mozilla/firefox/releases/96/index.md
  files/en-us/mozilla/firefox/releases/97/index.md
Labels: Content:Other

#11008 spacing grammar
  files/en-us/learn/tools_and_testing/github/index.md
Labels: Content:Learn

#10955 JS Learn Intro: miscellaneous updates, part 1
  files/en-us/learn/javascript/first_steps/a_first_splash/index.md
  files/en-us/learn/javascript/first_steps/what_is_javascript/index.md
Labels: Content:Learn

#10915 appinstalled_event: Remove deprecation header.
  files/en-us/web/api/window/appinstalled_event/index.md
  files/en-us/web/api/window/index.md
  files/en-us/web/api/window/onappinstalled/index.md
Labels: Content:WebAPI

#10958 JS Learn Intro: miscellaneous updates, part 2
  files/en-us/learn/javascript/first_steps/arrays/index.md
  files/en-us/learn/javascript/first_steps/math/index.md
  files/en-us/learn/javascript/first_steps/variables/index.md
Labels: Content:Learn

#11013 Update link to latest rfc6265bis draft
  files/en-us/web/http/headers/set-cookie/samesite/index.md
Labels: Content:HTTP

#11015 The introductory text is misleading
  files/en-us/web/http/headers/alt-svc/index.md
Labels: Content:HTTP

#11020 IntersectionObserver constructor - tidy and clarify rootmargin as emp…
  files/en-us/web/api/intersectionobserver/intersectionobserver/index.md
Labels: Content:WebAPI

#11023 [Web Share] Add note about Chromium's list of accepted file types
  files/en-us/web/api/navigator/share/index.md
Labels: Content:WebAPI

#10923 Consistent event pages in WebXR docs
  files/en-us/web/api/xrcubelayer/redraw_event/index.md
  files/en-us/web/api/xrcylinderlayer/redraw_event/index.md
  files/en-us/web/api/xrequirectlayer/redraw_event/index.md
  files/en-us/web/api/xrlightprobe/reflectionchange_event/index.md
  files/en-us/web/api/xrquadlayer/redraw_event/index.md
  files/en-us/web/api/xrreferencespace/reset_event/index.md
  files/en-us/web/api/xrsession/end_event/index.md
  files/en-us/web/api/xrsession/inputsourceschange_event/index.md
  files/en-us/web/api/xrsession/select_event/index.md
  files/en-us/web/api/xrsession/selectend_event/index.md
  files/en-us/web/api/xrsession/selectstart_event/index.md
  files/en-us/web/api/xrsession/squeeze_event/index.md
  files/en-us/web/api/xrsession/squeezeend_event/index.md
  files/en-us/web/api/xrsession/squeezestart_event/index.md
  files/en-us/web/api/xrsession/visibilitychange_event/index.md
  files/en-us/web/api/xrsystem/devicechange_event/index.md
Labels: Content:WebAPI

#11024 Explain more about what alternative services are
  files/en-us/web/http/headers/alt-svc/index.md
Labels: Content:HTTP

#11033 JS Learn: miscellaneous updates to Building blocks module
  files/en-us/learn/javascript/building_blocks/build_your_own_function/index.md
  files/en-us/learn/javascript/building_blocks/conditionals/index.md
  files/en-us/learn/javascript/building_blocks/events/index.md
  files/en-us/learn/javascript/building_blocks/image_gallery/index.md
  files/en-us/learn/javascript/building_blocks/looping_code/index.md
  files/en-us/learn/javascript/building_blocks/return_values/index.md
  files/en-us/learn/javascript/building_blocks/test_your_skills_colon__events/index.md
  files/en-us/learn/javascript/building_blocks/test_your_skills_colon__functions/index.md
Labels: Content:Learn

#11007 Use optional-chaining operator for variable undefined at 1st render
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/react_components/index.md
Labels: Content:Learn

#11012 FF96 Relnote: Web Locks API enabled
  files/en-us/mozilla/firefox/releases/96/index.md
Labels: Content:Other

#11014 Corrects attribute to audioTracks
  files/en-us/web/html/element/video/index.md
Labels: Content:HTML

#11016 Canvas and image type docs - pure layout changes
  files/en-us/web/api/htmlcanvaselement/toblob/index.md
  files/en-us/web/api/htmlcanvaselement/todataurl/index.md
  files/en-us/web/api/offscreencanvas/converttoblob/index.md
  files/en-us/web/media/formats/image_types/index.md
Labels: Content:WebAPI, Content:Media

#11018 FF96 RelNote: WebP encoder format and canvas
  files/en-us/mozilla/firefox/releases/96/index.md
Labels: Content:Other

#11027 Disambiguate/correct throttling speed indications
  files/en-us/tools/responsive_design_mode/index.html
Labels: Content:Other, Content:DevTools

#11030 Link to web_accessible_resources documentation
  files/en-us/mozilla/add-ons/webextensions/anatomy_of_a_webextension/index.md
Labels: Content:WebExt, Content:Other

#11031 (typo) Fix link in Element Timing API
  files/en-us/web/api/element_timing_api/index.md
Labels: Content:WebAPI

#11005 Updating information about Edge
  files/en-us/mozilla/add-ons/webextensions/build_a_cross_browser_extension/index.md
Labels: Content:WebExt, Content:Other

#11032 Changes to Mozzila ServiceWorker Cookbook
  files/en-us/web/api/push_api/index.md
Labels: Content:WebAPI

#11035 Fix sample console-log output for Array.p.find() example
  files/en-us/web/javascript/reference/global_objects/array/find/index.md
Labels: Content:JS

#11038 Fix grammar error
  files/en-us/web/http/cookies/index.md
Labels: Content:HTTP

#11039 Remove outdated and unnecessary editorial comment
  files/en-us/web/html/viewport_meta_tag/index.md
Labels: Content:HTML

#10709 HTTP Origin header — improve overview
  files/en-us/web/http/headers/origin/index.md
Labels: Content:HTTP

#11029 ✏️ Fix Typo: Match Set(constant) to the expected output
  files/en-us/web/javascript/reference/global_objects/set/index.md
Labels: Content:JS

#11049 Update Bootstrap's URL
  files/en-us/learn/forms/advanced_form_styling/index.md
Labels: Content:Learn

#11048 Fix XMLSerializer description in various articles
  files/en-us/web/api/element/innerhtml/index.md
  files/en-us/web/api/element/insertadjacenthtml/index.md
  files/en-us/web/api/element/outerhtml/index.md
Labels: Content:WebAPI

#11047 Fix broken links in deviceorientation event doc
  files/en-us/web/api/window/deviceorientation_event/index.md
Labels: Content:WebAPI

#11062 Update index.md
  files/en-us/web/javascript/reference/errors/missing_semicolon_before_statement/index.md
Labels: Content:JS

#11057 Update index.md
  files/en-us/web/api/element/ariamodal/index.md
Labels: Content:WebAPI

#11052 Fix #10981
  files/en-us/web/api/canvas_api/manipulating_video_using_canvas/index.md
Labels: Content:WebAPI

#11068 Typo - using singular form instead of plural.
  files/en-us/web/javascript/closures/index.md
Labels: Content:JS

#11066 Fix target param description in JS handler.apply() doc
  files/en-us/web/javascript/reference/global_objects/proxy/proxy/apply/index.md
Labels: Content:JS

#11073 Update CustomEvent
  files/en-us/web/api/customevent/customevent/index.md
  files/en-us/web/api/customevent/detail/index.md
Labels: Content:WebAPI

#11077 Fix statement about allowed Content-Type values
  files/en-us/web/http/cors/index.md
Labels: Content:HTTP

#11091 Add missing word
  files/en-us/mdn/guidelines/does_this_belong_on_mdn/index.md
Labels: Content:Other

#11089 Typo correction: it's/its
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/package_management/index.md
Labels: Content:Learn

#11093 fix: the output should be `true` not `"true"`
  files/en-us/web/javascript/reference/operators/destructuring_assignment/index.md
Labels: Content:JS

#11070 Update flex shorthand one-value syntax summary
  files/en-us/web/css/flex/index.md
Labels: Content:CSS

#11094 Add comma between properties of object
  files/en-us/web/javascript/guide/working_with_objects/index.md
Labels: Content:JS

#11085 Drop requestPostAnimationFrame section from WebGL best practices doc
  files/en-us/web/api/webgl_api/webgl_best_practices/index.md
Labels: Content:WebAPI

#11084 Fix typo in Express Tutorial: Using a Database (with Mongoose)
  files/en-us/learn/server-side/express_nodejs/mongoose/index.md
Labels: Content:Learn, Content:Learn:Express

#11079 Properly mark Warning HTTP-Header as deprecated
  files/en-us/web/http/headers/index.md
  files/en-us/web/http/headers/warning/index.md
Labels: Content:HTTP

#11097 Express dev - make all examples point to port 3000
  files/en-us/learn/server-side/express_nodejs/development_environment/index.md
Labels: Content:Learn, Content:Learn:Express

#11101 Fix grammar
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/react_interactivity_filtering_conditional_rendering/index.md
Labels: Content:Learn

#11104 Fix javascript syntax blocks to use comment around elipses
  files/en-us/web/api/trustedtypepolicyfactory/getattributetype/index.md
  files/en-us/web/api/trustedtypepolicyfactory/getpropertytype/index.md
  files/en-us/web/javascript/reference/classes/class_static_initialization_blocks/index.md
  files/en-us/web/javascript/reference/classes/constructor/index.md
  files/en-us/web/javascript/reference/classes/extends/index.md
  files/en-us/web/javascript/reference/classes/static/index.md
  files/en-us/web/javascript/reference/functions/default_parameters/index.md
  files/en-us/web/javascript/reference/functions/get/index.md
  files/en-us/web/javascript/reference/global_objects/array/array/index.md
  files/en-us/web/javascript/reference/global_objects/array/every/index.md
  files/en-us/web/javascript/reference/global_objects/array/filter/index.md
  files/en-us/web/javascript/reference/global_objects/array/find/index.md
  files/en-us/web/javascript/reference/global_objects/array/findindex/index.md
  files/en-us/web/javascript/reference/global_objects/array/flatmap/index.md
  files/en-us/web/javascript/reference/global_objects/array/foreach/index.md
  files/en-us/web/javascript/reference/global_objects/array/from/index.md
  files/en-us/web/javascript/reference/global_objects/array/map/index.md
  files/en-us/web/javascript/reference/global_objects/array/of/index.md
  files/en-us/web/javascript/reference/global_objects/array/push/index.md
  files/en-us/web/javascript/reference/global_objects/array/reduce/index.md
  files/en-us/web/javascript/reference/global_objects/array/reduceright/index.md
  files/en-us/web/javascript/reference/global_objects/array/some/index.md
  files/en-us/web/javascript/reference/global_objects/array/sort/index.md
  files/en-us/web/javascript/reference/global_objects/array/unshift/index.md
  files/en-us/web/javascript/reference/global_objects/eval/index.md
  files/en-us/web/javascript/reference/global_objects/map/foreach/index.md
  files/en-us/web/javascript/reference/global_objects/set/foreach/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/every/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/filter/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/find/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/findindex/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/foreach/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/from/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/map/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/of/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/reduce/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/reduceright/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/some/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/sort/index.md
  files/en-us/web/javascript/reference/statements/do...while/index.md
  files/en-us/web/javascript/reference/statements/export/index.md
  files/en-us/web/javascript/reference/statements/for/index.md
  files/en-us/web/javascript/reference/statements/if...else/index.md
  files/en-us/web/javascript/reference/statements/while/index.md
Labels: Content:WebAPI, Content:JS

#11103 FF96 RelNote: IntersectionObserver constructor sets default rootmargi…
  files/en-us/mozilla/firefox/releases/96/index.md
Labels: Content:Other

#11105 FF96 Canvas supports exporting images as webp
  files/en-us/web/api/htmlcanvaselement/toblob/index.md
  files/en-us/web/api/htmlcanvaselement/todataurl/index.md
  files/en-us/web/api/offscreencanvas/converttoblob/index.md
  files/en-us/web/media/formats/image_types/index.md
Labels: Content:WebAPI, Content:Media

#11106 Fix typo in JavaScript reference
  files/en-us/web/javascript/reference/global_objects/intl/locale/collation/index.md
Labels: Content:JS

#11107 Correct page about Access-Control-Expose-Headers
  files/en-us/web/http/headers/access-control-expose-headers/index.md
Labels: Content:HTTP

#11111 [Navgiator.share] Remove Chromium-specifics
  files/en-us/web/api/navigator/share/index.md
Labels: Content:WebAPI

#11109 Don't conflate "site" and "origin" on the CORS page
  files/en-us/web/http/cors/index.md
Labels: Content:HTTP

#11110 Simplify extending constructor example of Proxy
  files/en-us/web/javascript/reference/global_objects/proxy/index.md
Labels: Content:JS

#11067 Drop “Debugging Firefox for Android with WebIDE” doc (outdated)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/tools/remote_debugging/debugging_firefox_for_android_with_webide/extra-components.png
  files/en-us/tools/remote_debugging/debugging_firefox_for_android_with_webide/incoming-warning.png
  files/en-us/tools/remote_debugging/debugging_firefox_for_android_with_webide/index.html
  files/en-us/tools/remote_debugging/debugging_firefox_for_android_with_webide/remote-debugging-android-attached.png
  files/en-us/tools/remote_debugging/debugging_firefox_for_android_with_webide/remote-debugging-android-open-tabs.png
  files/en-us/tools/remote_debugging/debugging_firefox_for_android_with_webide/remote-debugging-android-runtime.png
  files/en-us/tools/remote_debugging/debugging_firefox_for_android_with_webide/remote-debugging-device-enable.png
  files/en-us/tools/remote_debugging/debugging_firefox_for_android_with_webide/remote-debugging-overview-fx36.png
  files/en-us/tools/remote_debugging/firefox_for_android/index.html
Labels: Content:Other, Content:DevTools

#11019 FF96 Relnote: WebRTC Stats removed
  files/en-us/mozilla/firefox/releases/96/index.md
Labels: Content:Other

#11112 fix broken links
  files/en-us/web/html/element/a/index.md
  files/en-us/web/javascript/shells/index.md
Labels: Content:HTML, Content:JS

#11118 correct the `transitionrun` into `transitionstart`
  files/en-us/web/api/htmlelement/transitionstart_event/index.md
Labels: Content:WebAPI

#11125 Complete list of accepted types for HTMLScriptElement.supports
  files/en-us/web/api/htmlscriptelement/supports/index.md
Labels: Content:WebAPI

#11127 Hide JS code in "Active Learning" sample
  files/en-us/learn/css/styling_text/fundamentals/index.md
Labels: Content:Learn

#11129 Clear up /[a-d-]/ regex syntax docs
  files/en-us/web/javascript/guide/regular_expressions/cheatsheet/index.md
Labels: Content:JS

#11132 rewrite examples for HTMLSelectElement.form
  files/en-us/web/api/htmlselectelement/form/index.md
Labels: Content:WebAPI

#11134 wakeLock typo
  files/en-us/web/api/wakelock/index.md
Labels: Content:WebAPI

#11137 Fix typo, missing space
  files/en-us/web/javascript/reference/global_objects/arraybuffer/index.md
Labels: Content:JS

#11141 Fix typo: Unnecessary parenthesis
  files/en-us/web/api/htmlaudioelement/audio/index.md
Labels: Content:WebAPI

#11145 fix: invalid re-assignment to constant in example
  files/en-us/learn/javascript/first_steps/math/index.md
Labels: Content:Learn

#11146 Adds namedGroups Param. Thanks @JohnyL
  files/en-us/web/javascript/reference/global_objects/string/replaceall/index.md
Labels: Content:JS

#11149 Update index.md
  files/en-us/web/api/html_dom_api/microtask_guide/index.md
Labels: Content:WebAPI

#11151 Fix typo in Web NFC API
  files/en-us/web/api/web_nfc_api/index.md
Labels: Content:WebAPI

#11140 Several fixes in Web/API/ValidityState
  files/en-us/web/api/validitystate/badinput/index.md
  files/en-us/web/api/validitystate/patternmismatch/index.md
  files/en-us/web/api/validitystate/rangeoverflow/index.md
  files/en-us/web/api/validitystate/rangeunderflow/index.md
  files/en-us/web/api/validitystate/toolong/index.md
  files/en-us/web/api/validitystate/tooshort/index.md
  files/en-us/web/api/validitystate/typemismatch/index.md
  files/en-us/web/guide/html/constraint_validation/index.md
Labels: Content:WebAPI, Content:Learn

#11150 Uses different colors
  files/en-us/web/css/child_combinator/index.md
Labels: Content:CSS

#11152 Remove polyfills from Number.parseInt and parseFloat
  files/en-us/web/javascript/reference/global_objects/number/parsefloat/index.md
  files/en-us/web/javascript/reference/global_objects/number/parseint/index.md
Labels: Content:JS

#11154 Add clarification to Array.prototype.splice() article
  files/en-us/web/javascript/reference/global_objects/array/splice/index.md
Labels: Content:JS

#11136 manifest: specify JSON schema
  files/en-us/web/manifest/index.md
Labels: Content:Other

#11060 New page: aria-selected
  files/en-us/web/accessibility/aria/attributes/aria-selected/index.md
Labels: Content:Accessibility

#11061 aria-checked: edits
  files/en-us/web/accessibility/aria/attributes/aria-checked/index.md
Labels: Content:Accessibility

#11169 align closing script tag
  files/en-us/webassembly/rust_to_wasm/index.md
Labels: Content:wasm

#11170 Fix typo (`avod` -> `avoid`)
  files/en-us/games/techniques/efficient_animation_for_web_games/index.md
Labels: Content:Other
