Repository mdn/content, pull requests merged in 2021-07, with the labels that each got.

#6654 “User authentication and permissions”﹕Mention custom user models
  files/en-us/learn/server-side/django/authentication/index.html
Labels: Content:Learn:Django

#7395 fix: drop dead link
  files/en-us/web/api/element/queryselector/index.html
Labels: Content:WebAPI

#7428 Duplicated text from description can be removed.
  files/en-us/learn/css/building_blocks/selectors/attribute_selectors/index.html
Labels: Content:CSS

#7447 Fix scheme in CORS example code
  files/en-us/web/http/cors/index.html
Labels: Content:HTTP

#6879 added clarity
  files/en-us/learn/css/building_blocks/the_box_model/index.html
Labels: Content:CSS
