Repository mdn/content, pull requests merged in 2021-11, with the labels that each got.

#10195 Fix up xslt example
  files/en-us/web/api/xsltprocessor/basic_example/index.md
Labels: Content:WebAPI

#10193 HTTP > MIME types - replace broken page macro
  files/en-us/web/http/basics_of_http/mime_types/index.md
Labels: Content:HTTP

#10201 FF95 Updates for ElementInternals
  files/en-us/mozilla/firefox/releases/95/index.md
  files/en-us/web/api/elementinternals/form/index.md
  files/en-us/web/api/elementinternals/labels/index.md
  files/en-us/web/api/elementinternals/setformvalue/index.md
Labels: Content:WebAPI, Content:Other

#10198 Crypto.randomUUID updates for FF95
  files/en-us/mozilla/firefox/releases/95/index.md
  files/en-us/web/api/crypto/getrandomvalues/index.md
  files/en-us/web/api/crypto/index.md
  files/en-us/web/api/crypto/randomuuid/index.md
Labels: Content:WebAPI, Content:Other

#10166 fix: correct the latex syntax of Math.LOG10E, close #10165
  files/en-us/web/javascript/reference/global_objects/math/log10e/index.md
Labels: Content:JS

#10205 Fix issue #10200: alpha-blend value
  files/en-us/web/api/xrsession/environmentblendmode/index.md
Labels: Content:WebAPI

#10206 Fix issue #10019: anonymous functions for inline syntax
  files/en-us/web/javascript/reference/global_objects/array/every/index.md
  files/en-us/web/javascript/reference/global_objects/array/filter/index.md
  files/en-us/web/javascript/reference/global_objects/array/find/index.md
  files/en-us/web/javascript/reference/global_objects/array/findindex/index.md
  files/en-us/web/javascript/reference/global_objects/array/flatmap/index.md
  files/en-us/web/javascript/reference/global_objects/array/foreach/index.md
  files/en-us/web/javascript/reference/global_objects/array/map/index.md
  files/en-us/web/javascript/reference/global_objects/array/reduceright/index.md
  files/en-us/web/javascript/reference/global_objects/array/some/index.md
  files/en-us/web/javascript/reference/global_objects/finalizationregistry/finalizationregistry/index.md
  files/en-us/web/javascript/reference/global_objects/map/foreach/index.md
  files/en-us/web/javascript/reference/global_objects/set/foreach/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/every/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/filter/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/find/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/findindex/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/foreach/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/map/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/reduce/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/reduceright/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/some/index.md
Labels: Content:JS

#10210 Firefox 94 notes: fix typo (`layout()` → `layer()`)
  files/en-us/mozilla/firefox/releases/94/index.md
Labels: Content:Other

#10129 Fix description for `navigator.hid.getDevices()`
  files/en-us/web/api/hid/getdevices/index.md
  files/en-us/web/api/webhid_api/index.md
Labels: Content:WebAPI

#10186 Add touch support for the mouse following animation example
  files/en-us/web/api/canvas_api/tutorial/basic_animations/index.md
Labels: Content:WebAPI

#10203 Update the description of Invalid_State_Err
  files/en-us/web/api/websocket/send/index.md
Labels: Content:WebAPI

#10204 Remove "i.e." for better readability
  files/en-us/learn/html/introduction_to_html/html_text_fundamentals/index.md
Labels: Content:Learn

#9574 FF supports AV1 but not on android and windows on ARM
  files/en-us/web/media/formats/containers/index.md
Labels: Content:Media

#9935 ARIA attribute: aria-atomic
  files/en-us/web/accessibility/aria/attributes/aria-atomic/index.md
Labels: Content:Accessibility

#10215 Fix typos and more in web/api/d*
  files/en-us/web/api/deviceorientationevent/deviceorientationevent/index.md
  files/en-us/web/api/displaymediastreamconstraints/video/index.md
  files/en-us/web/api/dommatrix/dommatrix/index.md
  files/en-us/web/api/dommatrixreadonly/index.md
  files/en-us/web/api/dompointreadonly/index.md
Labels: Content:WebAPI

#10217 Fixed wrong Firefox version number
  files/en-us/web/http/content_negotiation/list_of_default_accept_values/index.md
Labels: Content:HTTP

#10223 Fix the latex syntax of Math.log(), close #10222
  files/en-us/web/javascript/reference/global_objects/math/log10/index.md
Labels: Content:JS

#10225 Fix typo: Trivial grammatical fix
  files/en-us/learn/javascript/first_steps/what_is_javascript/index.md
Labels: Content:Learn

#10224 fix typo and remove a extra space.
  files/en-us/web/media/formats/image_types/index.md
Labels: Content:Media

#10233 Fix markdown link in Origin Header Page
  files/en-us/web/http/headers/origin/index.md
Labels: Content:HTTP

#10231 Add missing closing parenthesis
  files/en-us/web/api/keyboardlayoutmap/get/index.md
Labels: Content:WebAPI

#10239 Add missing closing parenthesis
  files/en-us/web/api/indexeddb_api/using_indexeddb/index.md
Labels: Content:WebAPI

#10245 Fix on ARIA: Role "Term". Opened with <dfn>, closed with </span>
  files/en-us/web/accessibility/aria/roles/term_role/index.md
Labels: Content:Accessibility

#10199 Updated edge time input 24hours
  files/en-us/web/html/element/input/time/edge-time.png
Labels: Content:HTML

#10172 New page: aria-errormessage
  files/en-us/web/accessibility/aria/attributes/aria-errormessage/index.md
Labels: Content:Accessibility

#10163 New page: aria-disabled
  files/en-us/web/accessibility/aria/attributes/aria-disabled/index.md
Labels: Content:Accessibility

#9342 Adding SubmitEvent and FormDataEvent
  files/en-us/web/api/event/index.md
Labels: Content:WebAPI

#10187 Update file_system_access_api/index.md
  files/en-us/web/api/file_system_access_api/index.md
Labels: Content:WebAPI

#10242 Fix a link to linear-gradient()
  files/en-us/web/css/color-adjust/index.md
Labels: Content:CSS

#10236 Update index.md
  files/en-us/web/api/websocket/protocol/index.md
Labels: Content:WebAPI

#10249 Update index.md for URLSearchParams
  files/en-us/web/api/urlsearchparams/index.md
Labels: Content:WebAPI

#10248 Removed prefixing in appearance: none; example.
  files/en-us/web/css/appearance/index.md
Labels: Content:CSS

#10254 Fix {{Specifications}} macro name
  files/en-us/web/api/htmlcollection/nameditem/index.md
Labels: Content:WebAPI

#10259 Fix a typo in "Test your skills: Form structure"
  files/en-us/learn/forms/test_your_skills_colon__form_structure/index.md
Labels: Content:Learn

#10258 Delete obsolete Feature Policy vr and xr directives
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/http/headers/feature-policy/index.md
  files/en-us/web/http/headers/feature-policy/vr/index.md
  files/en-us/web/http/headers/feature-policy/xr/index.md
Labels: Content:HTTP

#10256 Fix typo in HTTP Content negotiation article
  files/en-us/web/http/content_negotiation/index.md
Labels: Content:HTTP

#10263 Move doNotTrack to deprecated properties
  files/en-us/web/api/navigator/index.md
Labels: Content:WebAPI

#10262 MInor code changes: Redundant code removal
  files/en-us/learn/javascript/building_blocks/events/index.md
Labels: Content:Learn

#10257 Update js-ctypes URL link
  files/en-us/web/javascript/typed_arrays/index.md
Labels: Content:JS

#10269 Remove link to SelectorsHub
  files/en-us/web/xpath/index.md
Labels: Content:Other

#10275 Fix typo under "Indexing object properties"
  files/en-us/web/javascript/guide/working_with_objects/index.md
Labels: Content:JS

#10277 Fix typo on Svelte intro
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_getting_started/index.md
Labels: Content:Learn

#10246 New page: aria-grabbed
  files/en-us/web/accessibility/aria/attributes/aria-grabbed/index.md
Labels: Content:Accessibility

#10276 Delete nonexistent Feature-Policy directive vibrate
  files/en-us/_wikihistory.json
  files/en-us/web/http/headers/feature-policy/index.md
  files/en-us/web/http/headers/feature-policy/vibrate/index.md
Labels: Content:HTTP

#10282 minor fixed in Web/CSS/CSS_Fonts/OpenType_fonts_guide
  files/en-us/web/css/css_fonts/opentype_fonts_guide/index.md
Labels: Content:CSS

#10281 Typo fix lose => lost
  files/en-us/web/http/conditional_requests/index.md
Labels: Content:HTTP

#10247 Fix content model for the “a” element
  files/en-us/web/html/element/a/index.md
Labels: Content:HTML

#10285 Update index.md - minor grammar fix
  files/en-us/web/api/document/queryselectorall/index.md
Labels: Content:WebAPI

#10289 Remove duplicate title
  files/en-us/mozilla/add-ons/webextensions/manifest.json/version/format/index.md
Labels: Content:WebExt, Content:Other

#10288 Update index.md
  files/en-us/web/api/globaleventhandlers/onerror/index.md
Labels: Content:WebAPI

#10211 Added overrideContentColorScheme to browserSettings
  files/en-us/mozilla/add-ons/webextensions/api/browsersettings/index.md
  files/en-us/mozilla/add-ons/webextensions/api/browsersettings/overridecontentcolorscheme/index.md
  files/en-us/mozilla/firefox/releases/95/index.md
Labels: Content:WebExt, Content:Other

#9019 Fixes #1938: ARIA - Option Role
  files/en-us/web/accessibility/aria/roles/option_role/index.html
Labels: Content:Accessibility

#10290 change examples for Remainder operator to use 13 instead of 12
  files/en-us/web/javascript/reference/operators/remainder/index.md
Labels: Content:JS

#10179 Update index.md
  files/en-us/web/api/speechsynthesisevent/elapsedtime/index.md
Labels: Content:WebAPI

#10190 Add note about the existence of classes
  files/en-us/web/javascript/a_re-introduction_to_javascript/index.md
Labels: Content:JS

#10310 Update link to the HTML spec
  files/en-us/web/html/element/time/index.md
Labels: Content:HTML

#10027 Update caching
  files/en-us/web/http/headers/cache-control/index.md
Labels: Content:HTTP

#10299 Move ElementInternals form, labels, setForm mvalue to Exper. Features
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/95/index.md
Labels: Content:Other

#10216 Fix typo: menu path for Remote Debugging
  files/en-us/tools/about_colon_debugging/index.html
Labels: Content:Other, Content:DevTools

#10286 Manifest no longer experimental, add spec table
  files/en-us/web/manifest/index.md
Labels: Content:Other

#10229 layer function is actually experimental
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/94/index.md
Labels: Content:Other

#10220 MouseEvent - remove experimental on features and tidy
  files/en-us/web/api/mouseevent/altkey/index.md
  files/en-us/web/api/mouseevent/button/index.md
  files/en-us/web/api/mouseevent/buttons/index.md
  files/en-us/web/api/mouseevent/clientx/index.md
  files/en-us/web/api/mouseevent/clienty/index.md
  files/en-us/web/api/mouseevent/ctrlkey/index.md
  files/en-us/web/api/mouseevent/getmodifierstate/index.md
  files/en-us/web/api/mouseevent/index.md
  files/en-us/web/api/mouseevent/metakey/index.md
  files/en-us/web/api/mouseevent/movementx/index.md
  files/en-us/web/api/mouseevent/movementy/index.md
  files/en-us/web/api/mouseevent/mozinputsource/index.md
  files/en-us/web/api/mouseevent/offsetx/index.md
  files/en-us/web/api/mouseevent/offsety/index.md
  files/en-us/web/api/mouseevent/pagex/index.md
  files/en-us/web/api/mouseevent/pagey/index.md
  files/en-us/web/api/mouseevent/region/index.md
  files/en-us/web/api/mouseevent/relatedtarget/index.md
  files/en-us/web/api/mouseevent/screenx/index.md
  files/en-us/web/api/mouseevent/screeny/index.md
  files/en-us/web/api/mouseevent/shiftkey/index.md
  files/en-us/web/api/mouseevent/x/index.md
  files/en-us/web/api/mouseevent/y/index.md
  files/en-us/web/api/uievent/which/index.md
Labels: Content:WebAPI

#10298 CSP - grammar fix and layout improvements
  files/en-us/web/http/csp/index.md
Labels: Content:HTTP

#10314 Update See Also with focusin/focusout
  files/en-us/web/api/htmlelement/focus/index.md
Labels: Content:WebAPI

#10305 Convert codepen into live sample
  files/en-us/web/css/css_transitions/using_css_transitions/index.md
Labels: Content:CSS

#10309 Fix broken link
  files/en-us/web/javascript/memory_management/index.md
Labels: Content:JS

#10324 Fix typo
  files/en-us/web/http/status/index.md
Labels: Content:HTTP

#10323 Update index.md
  files/en-us/web/api/xpathresult/singlenodevalue/index.md
Labels: Content:WebAPI

#10322 Update index.md
  files/en-us/glossary/parameter/index.md
Labels: Content:Glossary

#10311 Update index.md
  files/en-us/learn/javascript/building_blocks/looping_code/index.md
Labels: Content:Learn

#10326 fix a word
  files/en-us/web/api/audioparam/index.md
Labels: Content:WebAPI

#10329 Fixed anchor tag and renamed link name
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/index.md
Labels: Content:WebExt, Content:Other

#10336 Fixed anchor text appeareance
  files/en-us/web/css/css_types/index.md
Labels: Content:CSS

#10250 New Page: aria-haspopup
  files/en-us/web/accessibility/aria/attributes/aria-haspopup/index.md
Labels: Content:Accessibility

#10278 New page: aria-invalid
  files/en-us/web/accessibility/aria/attributes/aria-invalid/index.md
Labels: Content:Accessibility

#10341 Move "Using CSS counters" into "CSS Counter Styles"
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/css_counter_styles/index.md
  files/en-us/web/api/cssprimitivevalue/getcountervalue/index.md
  files/en-us/web/api/cssprimitivevalue/index.md
  files/en-us/web/api/cssprimitivevalue/primitivetype/index.md
  files/en-us/web/css/content/index.md
  files/en-us/web/css/counter()/index.md
  files/en-us/web/css/counter-increment/index.md
  files/en-us/web/css/counter-reset/index.md
  files/en-us/web/css/counters()/index.md
  files/en-us/web/css/css_containment/index.md
  files/en-us/web/css/css_counter_styles/index.md
  files/en-us/web/css/css_counter_styles/using_css_counters/index.md
  files/en-us/web/css/css_lists_and_counters/index.md
  files/en-us/web/html/element/dir/index.md
  files/en-us/web/html/element/li/index.md
  files/en-us/web/html/element/ol/index.md
  files/en-us/web/html/element/ul/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI

#10342 Fix comments in some HTML example code
  files/en-us/web/http/headers/cache-control/index.md
Labels: Content:HTTP

#10340 Fix links in the properties of CSS Positioned Layout
  files/en-us/web/css/float/index.md
  files/en-us/web/css/z-index/index.md
Labels: Content:CSS

#10295 ARIA Option role
  files/en-us/web/accessibility/aria/roles/option_role/index.html
  files/en-us/web/accessibility/aria/roles/option_role/index.md
Labels: Content:Accessibility

#10175 New page: aria-expanded
  files/en-us/web/accessibility/aria/attributes/aria-expanded/index.md
Labels: Content:Accessibility

#10218 New page: aria-flowto
  files/en-us/web/accessibility/aria/attributes/aria-flowto/index.md
Labels: Content:Accessibility

#10130 New page: aria-details
  files/en-us/web/accessibility/aria/attributes/aria-details/index.md
Labels: Content:Accessibility

#10237 Aria dropeffect
  files/en-us/web/accessibility/aria/attributes/aria-dropeffect/index.md
Labels: Content:Accessibility

#10354 Change first comment style according to standards.
  files/en-us/web/javascript/reference/classes/static/index.md
Labels: Content:JS

#10360 Fixed link to "presentation role"
  files/en-us/web/accessibility/aria/roles/none_role/index.md
Labels: Content:Accessibility

#10362 Fix typo in BarcodeDetector code example
  files/en-us/web/api/barcodedetector/index.md
Labels: Content:WebAPI

#10308 fixing formatting
  files/en-us/web/api/html_drag_and_drop_api/drag_operations/index.md
Labels: Content:WebAPI

#10361 Small fixes in CSS Box Model
  files/en-us/web/css/css_box_model/index.md
  files/en-us/web/css/margin-bottom/index.md
  files/en-us/web/css/margin-left/index.md
  files/en-us/web/css/margin-right/index.md
  files/en-us/web/css/margin-top/index.md
  files/en-us/web/css/margin/index.md
Labels: Content:CSS

#10358 Fix up title bug in hyperlink page
  files/en-us/learn/html/introduction_to_html/creating_hyperlinks/index.md
Labels: Content:Learn

#10335 onerror: Document that `error` field can be null
  files/en-us/web/api/globaleventhandlers/onerror/index.md
Labels: Content:WebAPI

#10306 Fix for 10293: createObjectStore
  files/en-us/web/api/idbdatabase/createobjectstore/index.md
Labels: Content:WebAPI

#10359 Improve FontFace.load()
  files/en-us/web/api/fontface/load/index.md
Labels: Content:WebAPI

#10328 Remove instant mention
  files/en-us/web/api/element/scrollto/index.md
Labels: Content:WebAPI

#10241 update window.innerWidth to layout viewport
  files/en-us/web/api/window/innerwidth/index.md
Labels: Content:WebAPI

#10232 [DOM Reference] Update Node interface and its children
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/node/appendchild/index.md
  files/en-us/web/api/node/baseuri/index.md
  files/en-us/web/api/node/childnodes/index.md
  files/en-us/web/api/node/clonenode/index.md
  files/en-us/web/api/node/comparedocumentposition/index.md
  files/en-us/web/api/node/contains/index.md
  files/en-us/web/api/node/firstchild/index.md
  files/en-us/web/api/node/getrootnode/index.md
  files/en-us/web/api/node/haschildnodes/index.md
  files/en-us/web/api/node/index.md
  files/en-us/web/api/node/insertbefore/index.md
  files/en-us/web/api/node/isconnected/index.md
  files/en-us/web/api/node/isdefaultnamespace/index.md
  files/en-us/web/api/node/isequalnode/index.md
  files/en-us/web/api/node/issamenode/index.md
  files/en-us/web/api/node/issupported/index.md
  files/en-us/web/api/node/lastchild/index.md
  files/en-us/web/api/node/lookupnamespaceuri/index.md
  files/en-us/web/api/node/lookupprefix/index.md
  files/en-us/web/api/node/nextsibling/index.md
  files/en-us/web/api/node/nodename/index.md
  files/en-us/web/api/node/nodetype/index.md
  files/en-us/web/api/node/nodevalue/index.md
  files/en-us/web/api/node/normalize/index.md
  files/en-us/web/api/node/ownerdocument/index.md
  files/en-us/web/api/node/parentelement/index.md
  files/en-us/web/api/node/parentnode/index.md
  files/en-us/web/api/node/previoussibling/index.md
  files/en-us/web/api/node/removechild/index.md
  files/en-us/web/api/node/replacechild/index.md
  files/en-us/web/api/node/textcontent/index.md
  files/en-us/web/xml/xml_colon_base/index.md
Labels: Content:WebAPI, Content:Other

#10346 Element methods section – Fix return type of Element.getAttribute(), .getAttributeNS()
  files/en-us/web/api/element/index.md
Labels: Content:WebAPI

#10365 DOMMatrixReadOnly is no more experimental
  files/en-us/web/api/dommatrixreadonly/dommatrixreadonly/index.md
  files/en-us/web/api/dommatrixreadonly/flipx/index.md
  files/en-us/web/api/dommatrixreadonly/index.md
  files/en-us/web/api/dommatrixreadonly/scale/index.md
  files/en-us/web/api/dommatrixreadonly/translate/index.md
Labels: Content:WebAPI

#10369 fix aria-expanded link
  files/en-us/web/accessibility/aria/attributes/aria-autocomplete/index.md
Labels: Content:Accessibility

#10364 FF95 inputmode supported all platforms
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/95/index.md
  files/en-us/web/html/global_attributes/inputmode/index.md
Labels: Content:HTML, Content:Other

#10386 Fix typo
  files/en-us/related/project_guidelines/index.html
Labels: Content:Other

#10372 Remove MediaSettingsRange dictionary from MDN
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/mediasettingsrange/index.md
  files/en-us/web/api/mediasettingsrange/max/index.md
  files/en-us/web/api/mediasettingsrange/min/index.md
  files/en-us/web/api/mediasettingsrange/step/index.md
  files/en-us/web/api/photocapabilities/imageheight/index.md
  files/en-us/web/api/photocapabilities/imagewidth/index.md
  files/en-us/web/api/photocapabilities/index.md
Labels: Content:WebAPI

#10339 Document conditions for popup-opening by window.open, and BarProp values
  files/en-us/web/api/barprop/visible/index.md
  files/en-us/web/api/window/open/index.md
  files/en-us/web/api/window/open/obsolete_features/index.md
Labels: Content:WebAPI

#10387 Response object not experimental
  files/en-us/web/api/response/body/index.md
  files/en-us/web/api/response/bodyused/index.md
  files/en-us/web/api/response/clone/index.md
  files/en-us/web/api/response/error/index.md
  files/en-us/web/api/response/headers/index.md
  files/en-us/web/api/response/index.md
  files/en-us/web/api/response/ok/index.md
  files/en-us/web/api/response/redirect/index.md
  files/en-us/web/api/response/redirected/index.md
  files/en-us/web/api/response/response/index.md
  files/en-us/web/api/response/status/index.md
  files/en-us/web/api/response/statustext/index.md
  files/en-us/web/api/response/text/index.md
  files/en-us/web/api/response/type/index.md
  files/en-us/web/api/response/url/index.md
Labels: Content:WebAPI

#10347 Add an example for Promise.resolve()
  files/en-us/web/javascript/reference/global_objects/promise/resolve/index.md
Labels: Content:JS

#10381 Update to comment in use case example
  files/en-us/web/javascript/reference/global_objects/parseint/index.md
Labels: Content:JS

#10397 DOMMatrixReadOnly: Remove mention of "integers"
  files/en-us/web/api/dommatrixreadonly/dommatrixreadonly/index.md
Labels: Content:WebAPI

#10373 XRLightProbe: Use a single event page
  files/en-us/_redirects.txt
  files/en-us/web/api/xrlightprobe/index.md
  files/en-us/web/api/xrlightprobe/onreflectionchange/index.md
  files/en-us/web/api/xrlightprobe/reflectionchange_event/index.md
Labels: Content:WebAPI

#10396 [DOM Reference] Update CharacterData interface, and descendants, and their children
  files/en-us/_redirects.txt
  files/en-us/web/api/cdatasection/index.md
  files/en-us/web/api/characterdata/after/index.md
  files/en-us/web/api/characterdata/appenddata/index.md
  files/en-us/web/api/characterdata/before/index.md
  files/en-us/web/api/characterdata/data/index.md
  files/en-us/web/api/characterdata/deletedata/index.md
  files/en-us/web/api/characterdata/index.md
  files/en-us/web/api/characterdata/insertdata/index.md
  files/en-us/web/api/characterdata/length/index.md
  files/en-us/web/api/characterdata/nextelementsibling/index.md
  files/en-us/web/api/characterdata/previouselementsibling/index.md
  files/en-us/web/api/characterdata/remove/index.md
  files/en-us/web/api/characterdata/replacedata/index.md
  files/en-us/web/api/characterdata/replacewith/index.md
  files/en-us/web/api/characterdata/substringdata/index.md
  files/en-us/web/api/comment/comment/index.md
  files/en-us/web/api/comment/index.md
  files/en-us/web/api/processinginstruction/index.md
  files/en-us/web/api/processinginstruction/sheet/index.md
  files/en-us/web/api/processinginstruction/target/index.md
  files/en-us/web/api/text/assignedslot/index.md
  files/en-us/web/api/text/index.md
  files/en-us/web/api/text/replacewholetext/index.md
  files/en-us/web/api/text/splittext/index.md
  files/en-us/web/api/text/text/index.md
  files/en-us/web/api/text/wholetext/index.md
Labels: Content:WebAPI

#10368 Clarify details about constants
  files/en-us/web/javascript/reference/statements/const/index.md
Labels: Content:JS

#10401 DOMMatrix: Add a description for the array constructor variant
  files/en-us/web/api/dommatrix/dommatrix/index.md
Labels: Content:WebAPI

#10404 DOMMatrixReadOnly: Add a description for the array constructor variant
  files/en-us/web/api/dommatrixreadonly/dommatrixreadonly/index.md
Labels: Content:WebAPI

#10412 Update links to gradient functions
  files/en-us/web/css/border-image/index.md
Labels: Content:CSS

#10064 Hoisting docs - clarify class hoisting
  files/en-us/glossary/hoisting/index.md
  files/en-us/web/javascript/reference/classes/index.md
  files/en-us/web/javascript/reference/operators/function/index.md
Labels: Content:JS, Content:Glossary

#10363 CSS cursor - FF95 release note and tidy
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/firefox/releases/1.5/what_s_new_in_1.5_alpha/index.md
  files/en-us/mozilla/firefox/releases/95/index.md
  files/en-us/web/css/css_basic_user_interface/index.md
  files/en-us/web/css/css_basic_user_interface/using_url_values_for_the_cursor_property/index.md
  files/en-us/web/css/cursor/index.md
Labels: Content:CSS, Content:Other

#10307 Add glossary entry for UUID
  files/en-us/glossary/uuid/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/messagesender/index.md
  files/en-us/mozilla/add-ons/webextensions/chrome_incompatibilities/index.md
  files/en-us/mozilla/firefox/releases/69/index.md
  files/en-us/web/api/bluetoothremotegattdescriptor/uuid/index.md
  files/en-us/web/api/crypto/randomuuid/index.md
  files/en-us/web/api/mediastream/index.md
  files/en-us/web/webdriver/errors/staleelementreference/index.md
Labels: Content:WebExt, Content:WebAPI, Content:Other, Content:Glossary, Content:WebDriver

#10414 Remove non-attribute property
  files/en-us/web/html/element/input/file/index.md
Labels: Content:HTML

#10418 link to aria attributes
  files/en-us/web/accessibility/aria/index.md
Labels: Content:Accessibility

#10409 SVGMatrix: Describe how to create an instance
  files/en-us/web/api/svgmatrix/index.md
Labels: Content:WebAPI

#10407 implement: Add an example showing ths is() does not match pseudo-elements
  files/en-us/web/css/_colon_is/index.md
Labels: Content:CSS

#10398 Correct typo in code example
  files/en-us/web/css/perspective/index.md
Labels: Content:CSS

#10422 fixed a typo
  files/en-us/web/accessibility/aria/attributes/index.md
Labels: Content:Accessibility

#10419 Fixes #10410 - Adds `that`
  files/en-us/web/javascript/reference/operators/function/index.md
Labels: Content:JS

#10433 removed extra space
  files/en-us/web/accessibility/aria/attributes/aria-brailleroledescription/index.md
  files/en-us/web/accessibility/aria/attributes/aria-checked/index.md
  files/en-us/web/accessibility/aria/attributes/aria-colcount/index.md
Labels: Content:Accessibility

#10435 Update index.md
  files/en-us/web/svg/attribute/transform/index.md
Labels: Content:SVG

#10444 docs(structuredClone): typo in adjective
  files/en-us/web/api/structuredclone/index.md
Labels: Content:WebAPI

#10449 Fix a typo in -moz-outline-radius-toright
  files/en-us/web/css/-moz-outline-radius-topright/index.md
Labels: Content:CSS

#10453 Remove unnecessary links
  files/en-us/web/css/mask-size/index.md
Labels: Content:CSS

#10415 Remove old CSS style guide
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mdn/contribute/changelog/index.md
  files/en-us/mdn/contribute/markdown_in_mdn/index.md
  files/en-us/mdn/guidelines/css_style_guide/index.md
  files/en-us/mdn/guidelines/writing_style_guide/index.md
  files/en-us/mdn/structures/code_examples/index.md
  files/en-us/mdn/structures/macros/commonly-used_macros/index.md
Labels: Content:Other

#10425 [DOM Reference] Update DOMTokenList and its children
  files/en-us/web/api/domtokenlist/add/index.md
  files/en-us/web/api/domtokenlist/contains/index.md
  files/en-us/web/api/domtokenlist/entries/index.md
  files/en-us/web/api/domtokenlist/foreach/index.md
  files/en-us/web/api/domtokenlist/index.md
  files/en-us/web/api/domtokenlist/item/index.md
  files/en-us/web/api/domtokenlist/keys/index.md
  files/en-us/web/api/domtokenlist/length/index.md
  files/en-us/web/api/domtokenlist/remove/index.md
  files/en-us/web/api/domtokenlist/replace/index.md
  files/en-us/web/api/domtokenlist/supports/index.md
  files/en-us/web/api/domtokenlist/toggle/index.md
  files/en-us/web/api/domtokenlist/value/index.md
  files/en-us/web/api/domtokenlist/values/index.md
  files/en-us/web/api/htmlelement/index.md
  files/en-us/web/api/htmliframeelement/index.md
  files/en-us/web/api/htmllinkelement/index.md
  files/en-us/web/api/htmltablecellelement/index.md
Labels: Content:WebAPI

#10452 Update Resize Observer doc
  files/en-us/web/api/resize_observer_api/index.md
Labels: Content:WebAPI

#10457 Remove 'checked="false"' from `<input>` tag
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/vue_first_component/index.md
Labels: Content:Learn

#10461 Remove whitespace that triggered my "OCD" haha
  files/en-us/learn/getting_started_with_the_web/the_web_and_web_standards/index.md
Labels: Content:Learn

#10451 Fix markup of table
  files/en-us/web/css/mask-repeat/index.md
Labels: Content:CSS

#10455 Update links in "Using multiple backgrounds"
  files/en-us/web/css/css_backgrounds_and_borders/using_multiple_backgrounds/index.md
Labels: Content:CSS

#10332 Added the examples to an example table
  files/en-us/mozilla/add-ons/webextensions/manifest.json/chrome_settings_overrides/index.md
Labels: Content:WebExt, Content:Other

#10445 Fix code indentation on Web workers example
  files/en-us/web/api/web_workers_api/using_web_workers/index.md
Labels: Content:WebAPI

#10463 Rectify example description
  files/en-us/web/css/_doublecolon_-moz-range-track/index.md
Labels: Content:CSS

#10424 fix typo
  files/en-us/web/api/audioparam/value/index.md
Labels: Content:WebAPI

#10467 link to attributes page
  files/en-us/web/accessibility/aria/roles/index.md
Labels: Content:Accessibility

#10478 Fix indentation of braces in example
  files/en-us/web/api/node/index.md
Labels: Content:WebAPI

#10471 Remove PhotoCapabilities dictionary from MDN
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/imagecapture/getphotocapabilities/index.md
  files/en-us/web/api/photocapabilities/filllightmode/index.md
  files/en-us/web/api/photocapabilities/imageheight/index.md
  files/en-us/web/api/photocapabilities/imagewidth/index.md
  files/en-us/web/api/photocapabilities/index.md
  files/en-us/web/api/photocapabilities/redeyereduction/index.md
Labels: Content:WebAPI

#10476 Remove API/ServiceWorkerGlobalScope/caches page
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/serviceworkerglobalscope/caches/index.md
Labels: Content:WebAPI

#10421 JS Learning Area: update guidance on const and let
  files/en-us/learn/javascript/first_steps/a_first_splash/index.md
  files/en-us/learn/javascript/first_steps/variables/index.md
Labels: Content:Learn

#10473 XRReferenceSpace: Single page for reset event
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/xrreferencespace/index.md
  files/en-us/web/api/xrreferencespace/onreset/index.md
  files/en-us/web/api/xrreferencespace/reset_event/index.md
Labels: Content:WebAPI

#10481 Fix a broken MathML element
  files/en-us/web/api/audioparam/settargetattime/index.md
Labels: Content:WebAPI

#10482 Fix broken link in index.md
  files/en-us/web/api/file_and_directory_entries_api/introduction/index.md
Labels: Content:WebAPI

#10468 area element with default set must not set coords
  files/en-us/web/html/element/area/index.md
Labels: Content:HTML

#10466 Tidy SyntaxError: function requires statement
  files/en-us/web/javascript/reference/errors/unnamed_function_statement/index.md
Labels: Content:JS

#10465 link element - remove dead link and layout
  files/en-us/web/html/element/link/index.md
Labels: Content:HTML

#10492 Caption must be first child when used in table
  files/en-us/web/html/element/caption/index.md
Labels: Content:HTML
