Repository mdn/content, pull requests merged in 2021-09, with the labels that each got.

#7431 Make nativeMessaging an optional permission
  files/en-us/mozilla/add-ons/webextensions/manifest.json/optional_permissions/index.html
  files/en-us/mozilla/add-ons/webextensions/native_messaging/index.html
  files/en-us/mozilla/add-ons/webextensions/working_with_files/index.html
Labels: Content:WebExt

#8106 Bug 1669566 add cookie store id to browser.downloads
  files/en-us/mozilla/add-ons/webextensions/api/downloads/download/index.html
  files/en-us/mozilla/add-ons/webextensions/api/downloads/downloaditem/index.html
  files/en-us/mozilla/add-ons/webextensions/api/downloads/downloadquery/index.html
  files/en-us/mozilla/firefox/releases/92/index.html
Labels: Content:WebExt

#8658 Fixes #5408 - Cannot modify JS from Tools
  files/en-us/tools/index.html
Labels: Content:DevTools

#6490 Clarify 'unsafe-hashes'
  files/en-us/web/http/headers/content-security-policy/script-src/index.html
Labels: Content:HTTP

#8762 docs: use simpler language for row- and column-reverse descriptions
  files/en-us/web/css/flex-direction/index.md
Labels: Content:CSS

#8856 Fixes #4285 - Rewords desc for omitting args
  files/en-us/web/api/canvasrenderingcontext2d/drawimage/index.html
Labels: Content:WebAPI

#8872 add attachInternals to release notes for 93
  files/en-us/mozilla/firefox/releases/93/index.html
Labels: Firefox 93

#8785 FF93 Release notes: global onsecuritypolicyviolation and onslotchange handlers
  files/en-us/mozilla/firefox/releases/93/index.html
Labels: Firefox 93

#7570 Replace alert() in Web/API live samples
  files/en-us/web/api/document/querycommandstate/index.html
Labels: Content:WebAPI

#8395 fixing broken examples in CSS Paint API guide
  files/en-us/web/api/css_painting_api/guide/index.html
  files/en-us/web/api/css_painting_api/index.html
Labels: Content:WebAPI

#8784 securitypolicyviolation events only work on Window/Document
  files/en-us/web/api/element/securitypolicyviolation_event/index.html
  files/en-us/web/api/globaleventhandlers/onsecuritypolicyviolation/index.html
Labels: Content:WebAPI

#8858 Fixes #4124 - adds console logs
  files/en-us/glossary/first-class_function/index.html
Labels: Content:Glossary

#8568 Closing div tag of hidden div block relocated.
  files/en-us/learn/css/css_layout/multiple-column_layout/index.html
Labels: Content:Learn

#8571 fixed edge screenshot
  files/en-us/web/html/element/input/time/edge_time.png
Labels: Content:HTML

#8573 Adding missing theme colors
  files/en-us/web/css/@media/-ms-high-contrast/index.md
Labels: Content:CSS

#8865 compareDocumentPosition: Add bit descriptions and move the table into Return value
  files/en-us/web/api/node/comparedocumentposition/index.html
Labels: Content:WebAPI

#8790 FF93: Add onslotchange global handler
  files/en-us/web/api/globaleventhandlers/index.html
  files/en-us/web/api/globaleventhandlers/onslotchange/index.html
  files/en-us/web/api/shadowroot/index.html
  files/en-us/web/api/shadowroot/onslotchange/index.html
Labels: Content:WebAPI

#8871 CORP: add relationship to COEP and move History down
  files/en-us/web/http/cross-origin_resource_policy_(corp)/index.md
Labels: Content:HTTP

#8744 fix: remove call to console.log to make 'frame' explanation less conf…
  files/en-us/web/javascript/eventloop/index.md
Labels: Content:JS

#8824 [WebDriver] Add "webSocketUrl" capability
  files/en-us/web/webdriver/capabilities/acceptinsecurecerts/index.html
  files/en-us/web/webdriver/capabilities/firefoxoptions/index.html
  files/en-us/web/webdriver/capabilities/websocketurl/index.html
Labels: Content:WebDriver

#8917 header element a11y update
  files/en-us/web/html/element/header/index.html
Labels: Content:HTML, Content:Accessibility

#8804 Fix overriden formData in “Using Fetch” Uploading-files example
  files/en-us/web/api/fetch_api/using_fetch/index.md
Labels: Content:WebAPI

#8482 update: adds interactive demo link for `overscroll-behaviour`
  files/en-us/web/css/overscroll-behavior/index.md
Labels: Content:CSS

#8922 Update text and examples to use container-type in place of contain.
  files/en-us/web/css/css_container_queries/index.md
Labels: Content:CSS

#8869 FF93 First changes for digest SHA256 support
  files/en-us/web/http/authentication/index.md
  files/en-us/web/http/headers/digest/index.md
  files/en-us/web/http/headers/want-digest/index.md
  files/en-us/web/http/headers/www-authenticate/index.md
Labels: Content:HTTP

#8912 Make the note less ambiguous
  files/en-us/web/css/border-image/index.md
Labels: Content:CSS

#8857 added </progress> in :indeterminate css ref
  files/en-us/web/css/_colon_indeterminate/index.md
Labels: Content:CSS

#8842 Fixes #1172 - moves links out of headings
  files/en-us/mozilla/add-ons/webextensions/chrome_incompatibilities/index.html
  files/en-us/mozilla/add-ons/webextensions/working_with_the_tabs_api/index.html
  files/en-us/web/accessibility/seizure_disorders/index.html
  files/en-us/web/svg/attribute/index.html
  files/en-us/web/xslt/transforming_xml_with_xslt/index.html
  files/en-us/web/xslt/transforming_xml_with_xslt/the_netscape_xslt_xpath_reference/index.html
Labels: Content:WebExt, Content:Other, Content:Accessibility, Content:SVG

#8915 Clarify CSS injection timing
  files/en-us/mozilla/add-ons/webextensions/manifest.json/content_scripts/index.html
Labels: Content:WebExt

#7893 colorManagement in browserSettings
  files/en-us/mozilla/add-ons/webextensions/api/browsersettings/colormanagement/index.html
  files/en-us/mozilla/add-ons/webextensions/api/browsersettings/contextmenushowevent/index.html
  files/en-us/mozilla/add-ons/webextensions/api/browsersettings/index.html
  files/en-us/mozilla/firefox/releases/87/index.html
Labels: Content:WebExt

#8916 Additional explanation regarding views not matched
  files/en-us/mozilla/add-ons/webextensions/api/extension/getviews/index.html
Labels: Content:WebExt

#7625 Update "Simplifying list selectors" example code
  files/en-us/web/css/_colon_is/index.md
Labels: Content:CSS

#8289 Update toolbox content and images
  files/en-us/tools/tools_toolbox/docking-mode.png
  files/en-us/tools/tools_toolbox/hamburger.png
  files/en-us/tools/tools_toolbox/index.html
  files/en-us/tools/tools_toolbox/toolbox-annotated-29.png
  files/en-us/tools/tools_toolbox/toolbox-labelled.png
  files/en-us/tools/tools_toolbox/toolbox-toolbar-annotated.png
  files/en-us/tools/tools_toolbox/toolbox-toolbar-labelled.png
  files/en-us/tools/tools_toolbox/toolbox.png
  files/en-us/tools/tools_toolbox/wrench-icon.png
Labels: Content:DevTools

#8691 Added very important yet missing information.
  files/en-us/web/css/transform-function/rotate()/index.md
Labels: Content:CSS

#8369 Fix code typo in “Basic Concepts of grid layout”
  files/en-us/web/css/css_grid_layout/basic_concepts_of_grid_layout/index.md
Labels: Content:CSS

#8864 Correct negative margin inaccuracy
  files/en-us/learn/css/building_blocks/the_box_model/index.html
Labels: Content:CSS

#9181 Topic tutorial linkage
  files/en-us/web/html/element/table/index.html
Labels: Content:HTML

#8734 Add pages for URLPattern API
  files/en-us/web/api/url_pattern_api/index.md
  files/en-us/web/api/urlpattern/exec/index.md
  files/en-us/web/api/urlpattern/hash/index.md
  files/en-us/web/api/urlpattern/hostname/index.md
  files/en-us/web/api/urlpattern/index.md
  files/en-us/web/api/urlpattern/password/index.md
  files/en-us/web/api/urlpattern/pathname/index.md
  files/en-us/web/api/urlpattern/port/index.md
  files/en-us/web/api/urlpattern/protocol/index.md
  files/en-us/web/api/urlpattern/search/index.md
  files/en-us/web/api/urlpattern/test/index.md
  files/en-us/web/api/urlpattern/urlpattern/index.md
  files/en-us/web/api/urlpattern/username/index.md
  files/jsondata/GroupData.json
  files/jsondata/InterfaceData.json
Labels: Content:WebAPI

#8746 Adds page for aria-meter
  files/en-us/mozilla/firefox/releases/93/index.html
  files/en-us/web/accessibility/aria/roles/index.html
  files/en-us/web/accessibility/aria/roles/meter_role/index.html
Labels: Content:Accessibility

#5192 Create a new page for CSS `sign()` function
  files/en-us/web/css/sign()/index.md
Labels: Content:CSS

#9293 Add a word to the accessibility page
  files/en-us/web/accessibility/index.html
Labels: Content:Accessibility

#9299 Add space before assignment operator in Working with objects js guide
  files/en-us/web/javascript/guide/working_with_objects/index.md
Labels: Content:JS

#9304 Add "Media Session API" to "Web media technologies" page
  files/en-us/web/media/index.html
Labels: Content:Media

#8768 feat: add Info properties to Intl.Locale (Calendars)
  files/en-us/web/javascript/reference/global_objects/intl/locale/calendar/index.md
  files/en-us/web/javascript/reference/global_objects/intl/locale/calendars/index.md
  files/en-us/web/javascript/reference/global_objects/intl/locale/index.md
Labels: Content:JS

#9310 FF93 Relnotes: Class static initialization blocks
  files/en-us/mozilla/firefox/releases/93/index.html
Labels: Content:Other

#9281 Class static initialization blocks
  files/en-us/web/javascript/reference/classes/class_static_initialization_blocks/index.md
  files/en-us/web/javascript/reference/classes/constructor/index.md
  files/en-us/web/javascript/reference/classes/index.md
  files/en-us/web/javascript/reference/classes/static/index.md
Labels: Content:JS

#9319 Finish cleaning up MouseWheelEvent removal
  files/en-us/web/api/element/mousewheel_event/index.md
  files/en-us/web/api/mousescrollevent/index.md
  files/en-us/web/api/wheelevent/index.md
Labels: Content:WebAPI

#9320 Fix some typos
  files/en-us/learn/forms/sending_and_retrieving_form_data/index.html
Labels: Content:Learn

#9212 Remove text about the deprecated payment method "basic-card"
  files/en-us/_wikihistory.json
  files/en-us/mozilla/firefox/experimental_features/index.html
  files/en-us/web/api/addresserrors/index.md
  files/en-us/web/api/basiccardrequest/index.md
  files/en-us/web/api/basiccardrequest/supportednetworks/index.md
  files/en-us/web/api/basiccardrequest/supportedtypes/index.md
  files/en-us/web/api/basiccardresponse/billingaddress/index.md
  files/en-us/web/api/basiccardresponse/cardholdername/index.md
  files/en-us/web/api/basiccardresponse/cardnumber/index.md
  files/en-us/web/api/basiccardresponse/cardsecuritycode/index.md
  files/en-us/web/api/basiccardresponse/expirymonth/index.md
  files/en-us/web/api/basiccardresponse/expiryyear/index.md
  files/en-us/web/api/basiccardresponse/index.md
  files/en-us/web/api/payment_request_api/index.md
  files/en-us/web/api/payment_request_api/using_the_payment_request_api/index.md
  files/en-us/web/api/paymentaddress/index.md
  files/en-us/web/api/paymentmethodchangeevent/paymentmethodchangeevent/index.md
  files/en-us/web/api/paymentrequest/canmakepayment/index.md
  files/en-us/web/api/paymentrequest/onpaymentmethodchange/index.md
  files/en-us/web/api/paymentrequest/paymentrequest/index.md
  files/en-us/web/api/paymentresponse/details/index.md
  files/en-us/web/api/paymentresponse/index.md
  files/en-us/web/api/paymentvalidationerrors/index.md
  files/en-us/web/security/secure_contexts/features_restricted_to_secure_contexts/index.html
  files/jsondata/GroupData.json
  files/jsondata/SpecData.json
Labels: Content:WebAPI, Content:Other

#9205 Adds ImageDecoder
  files/en-us/web/api/imagedecoder/close/index.md
  files/en-us/web/api/imagedecoder/complete/index.md
  files/en-us/web/api/imagedecoder/completed/index.md
  files/en-us/web/api/imagedecoder/decode/index.md
  files/en-us/web/api/imagedecoder/imagedecoder/index.md
  files/en-us/web/api/imagedecoder/index.md
  files/en-us/web/api/imagedecoder/reset/index.md
  files/en-us/web/api/imagedecoder/tracks/index.md
Labels: Content:WebAPI

#9196 Adds EncodedVideoChunk
  files/en-us/web/api/encodedvideochunk/bytelength/index.md
  files/en-us/web/api/encodedvideochunk/copyto/index.md
  files/en-us/web/api/encodedvideochunk/duration/index.md
  files/en-us/web/api/encodedvideochunk/encodedvideochunk/index.md
  files/en-us/web/api/encodedvideochunk/index.md
  files/en-us/web/api/encodedvideochunk/timestamp/index.md
  files/en-us/web/api/encodedvideochunk/type/index.md
Labels: Content:WebAPI

#9324 Change background color in example of Child combinator page
  files/en-us/web/css/child_combinator/index.md
Labels: Content:CSS

#9288 add example for readAsText
  files/en-us/web/api/filereader/readastext/index.md
Labels: Content:WebAPI

#9258 Note about event listeners
  files/en-us/web/api/element/innerhtml/index.md
Labels: Content:WebAPI

#9333 docs(modules): remove outdated .mjs notes
  files/en-us/web/javascript/guide/modules/index.md
Labels: Content:JS

#9334 Adds examples to HIDInputReportEvent
  files/en-us/web/api/hidinputreportevent/data/index.md
  files/en-us/web/api/hidinputreportevent/device/index.md
  files/en-us/web/api/hidinputreportevent/index.md
  files/en-us/web/api/hidinputreportevent/reportid/index.md
Labels: Content:WebAPI

#9343 Update Web/CSS/border-width
  files/en-us/web/css/border-width/index.md
Labels: Content:CSS

#9341 Fix type names which are not wrapper objects
  files/en-us/web/javascript/reference/operators/equality/index.md
Labels: Content:JS

#9340 Remove extra {{cssinfo}}s
  files/en-us/web/css/border-inline-end-width/index.md
  files/en-us/web/css/border-inline-end/index.md
Labels: Content:CSS

#9336 Remove deprecated api.Window.mozAnimationStartTime from MDN
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/firefox/releases/4/index.html
  files/en-us/web/api/window/cancelanimationframe/index.md
  files/en-us/web/api/window/index.md
  files/en-us/web/api/window/mozanimationstarttime/index.md
  files/en-us/web/api/window/requestanimationframe/index.md
Labels: Content:WebAPI, Content:Other

#9335 Remove deprecated api.Window.pkcs11 from MDN
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/firefox/releases/29/index.html
  files/en-us/mozilla/projects/nss/pkcs11/module_installation/index.html
  files/en-us/web/api/window/index.md
  files/en-us/web/api/window/pkcs11/index.md
Labels: Content:WebAPI, Content:Other

#9297 Making the place-items demo less confusing
  files/en-us/web/css/place-items/index.md
Labels: Content:CSS

#9356 [Markdown] [Learn] Remove non-heading ID attributes
  files/en-us/learn/accessibility/css_and_javascript/index.html
  files/en-us/learn/common_questions/checking_that_your_web_site_is_working_properly/index.html
  files/en-us/learn/common_questions/using_github_pages/index.html
  files/en-us/learn/forms/advanced_form_styling/index.html
  files/en-us/learn/forms/form_validation/index.html
  files/en-us/learn/forms/other_form_controls/index.html
  files/en-us/learn/getting_started_with_the_web/dealing_with_files/index.html
  files/en-us/learn/getting_started_with_the_web/how_the_web_works/index.html
  files/en-us/learn/getting_started_with_the_web/html_basics/index.html
  files/en-us/learn/getting_started_with_the_web/installing_basic_software/index.html
  files/en-us/learn/getting_started_with_the_web/javascript_basics/index.html
  files/en-us/learn/getting_started_with_the_web/publishing_your_website/index.html
  files/en-us/learn/getting_started_with_the_web/what_will_your_website_look_like/index.html
  files/en-us/learn/html/introduction_to_html/advanced_text_formatting/index.html
  files/en-us/learn/html/introduction_to_html/document_and_website_structure/index.html
  files/en-us/learn/html/tables/basics/index.html
  files/en-us/learn/javascript/asynchronous/timeouts_and_intervals/index.html
  files/en-us/learn/javascript/building_blocks/image_gallery/index.html
  files/en-us/learn/javascript/first_steps/useful_string_methods/index.html
  files/en-us/learn/javascript/first_steps/variables/index.html
  files/en-us/learn/javascript/first_steps/what_is_javascript/index.html
  files/en-us/learn/server-side/django/authentication/index.html
  files/en-us/learn/server-side/express_nodejs/deployment/index.html
  files/en-us/learn/server-side/express_nodejs/displaying_data/genre_detail_page/index.html
  files/en-us/learn/server-side/express_nodejs/skeleton_website/index.html
  files/en-us/learn/tools_and_testing/cross_browser_testing/automated_testing/index.html
Labels: Content:Learn, Content:Learn:Django, Content:Learn:Express

#9350 Change double space to single space
  files/en-us/glossary/base64/index.html
Labels: Content:Glossary

#9357 fix link in Advanced form styling module
  files/en-us/learn/forms/advanced_form_styling/index.html
Labels: Content:Learn

#9358 Fix page overflow and add url input type to size attr
  files/en-us/web/html/element/input/index.md
Labels: Content:HTML

#9361 [Markdown] [Glossary] Prepare Glossary for Markdowning
  files/en-us/glossary/cacheable/index.html
  files/en-us/glossary/cipher/index.html
  files/en-us/glossary/client_hints/index.html
  files/en-us/glossary/cors-safelisted_response_header/index.html
  files/en-us/glossary/css_selector/index.html
  files/en-us/glossary/dos_attack/index.html
  files/en-us/glossary/falsy/index.html
  files/en-us/glossary/grid/index.html
  files/en-us/glossary/grid_areas/index.html
  files/en-us/glossary/grid_cell/index.html
  files/en-us/glossary/grid_lines/index.html
  files/en-us/glossary/grid_tracks/index.html
  files/en-us/glossary/gutters/index.html
  files/en-us/glossary/idl/index.html
  files/en-us/glossary/opengl/index.html
  files/en-us/glossary/percent-encoding/index.html
  files/en-us/glossary/response_header/index.html
  files/en-us/glossary/round_trip_time_(rtt)/index.html
Labels: Content:Glossary

#9318 fix: fix typo in sample code under WebXR doc Target ray space.
  files/en-us/web/api/webxr_device_api/inputs/index.md
Labels: Content:WebAPI

#8832 Fix: clarify what to set null in intersectionObserver usage paragraph
  files/en-us/web/api/intersection_observer_api/index.md
Labels: Content:WebAPI

#9337 Adds devicePixelContentBoxSize
  files/en-us/web/api/resizeobserverentry/borderboxsize/index.md
  files/en-us/web/api/resizeobserverentry/contentboxsize/index.md
  files/en-us/web/api/resizeobserverentry/contentrect/index.md
  files/en-us/web/api/resizeobserverentry/devicepixelcontentboxsize/index.md
Labels: Content:WebAPI

#9331 Adds ImageTrackList
  files/en-us/web/api/imagetracklist/index.md
  files/en-us/web/api/imagetracklist/length/index.md
  files/en-us/web/api/imagetracklist/ready/index.md
  files/en-us/web/api/imagetracklist/selectedindex/index.md
  files/en-us/web/api/imagetracklist/selectedtrack/index.md
Labels: Content:WebAPI

#9330 Adds ImageTrack
  files/en-us/web/api/imagetrack/animated/index.md
  files/en-us/web/api/imagetrack/framecount/index.md
  files/en-us/web/api/imagetrack/index.md
  files/en-us/web/api/imagetrack/repetitioncount/index.md
  files/en-us/web/api/imagetrack/selected/index.md
  files/en-us/web/api/webcodecs_api/index.md
Labels: Content:WebAPI

#9376 Small update to Font loading API
  files/en-us/web/api/css_font_loading_api/index.md
Labels: Content:WebAPI

#9381 fix typo in Value definition syntax
  files/en-us/web/css/value_definition_syntax/index.md
Labels: Content:CSS

#9351 [Markdown] [Learn] Fix CSS live samples
  files/en-us/learn/css/css_layout/floats/index.html
  files/en-us/learn/css/css_layout/grids/index.html
  files/en-us/learn/css/css_layout/introduction/index.html
  files/en-us/learn/css/css_layout/legacy_layout_methods/index.html
  files/en-us/learn/css/css_layout/multiple-column_layout/index.html
  files/en-us/learn/css/css_layout/normal_flow/index.html
  files/en-us/learn/css/css_layout/positioning/index.html
  files/en-us/learn/css/css_layout/supporting_older_browsers/index.html
  files/en-us/learn/css/first_steps/how_css_is_structured/index.html
  files/en-us/learn/css/first_steps/how_css_works/index.html
Labels: Content:Learn

#9393 [Markdown] [Learn] Convert notes to callouts
  files/en-us/learn/accessibility/css_and_javascript/test_your_skills_colon__css_and_javascript_accessibility/index.html
  files/en-us/learn/accessibility/test_your_skills_colon__html_accessibility/index.html
  files/en-us/learn/accessibility/wai-aria_basics/test_your_skills_colon__wai-aria/index.html
  files/en-us/learn/css/building_blocks/box_model_tasks/index.html
  files/en-us/learn/css/building_blocks/cascade_tasks/index.html
  files/en-us/learn/css/building_blocks/images_tasks/index.html
  files/en-us/learn/css/building_blocks/overflow_tasks/index.html
  files/en-us/learn/css/building_blocks/selectors/selectors_tasks/index.html
  files/en-us/learn/css/building_blocks/sizing_tasks/index.html
  files/en-us/learn/css/building_blocks/tables_tasks/index.html
  files/en-us/learn/css/building_blocks/test_your_skills_backgrounds_and_borders/index.html
  files/en-us/learn/css/building_blocks/values_tasks/index.html
  files/en-us/learn/css/building_blocks/writing_modes_tasks/index.html
  files/en-us/learn/css/css_layout/flexbox_skills/index.html
  files/en-us/learn/css/css_layout/floats_skills/index.html
  files/en-us/learn/css/css_layout/grid_skills/index.html
  files/en-us/learn/css/css_layout/multicol_skills/index.html
  files/en-us/learn/css/css_layout/position_skills/index.html
  files/en-us/learn/forms/test_your_skills_colon__advanced_styling/index.html
  files/en-us/learn/forms/test_your_skills_colon__basic_controls/index.html
  files/en-us/learn/forms/test_your_skills_colon__form_structure/index.html
  files/en-us/learn/forms/test_your_skills_colon__form_validation/index.html
  files/en-us/learn/forms/test_your_skills_colon__html5_controls/index.html
  files/en-us/learn/forms/test_your_skills_colon__other_controls/index.html
  files/en-us/learn/forms/test_your_skills_colon__styling_basics/index.html
  files/en-us/learn/html/introduction_to_html/test_your_skills_colon__advanced_html_text/index.html
  files/en-us/learn/html/introduction_to_html/test_your_skills_colon__html_text_basics/index.html
  files/en-us/learn/html/introduction_to_html/test_your_skills_colon__links/index.html
  files/en-us/learn/html/multimedia_and_embedding/images_in_html/test_your_skills_colon__html_images/index.html
  files/en-us/learn/html/multimedia_and_embedding/video_and_audio_content/test_your_skills_colon__multimedia_and_embedding/index.html
  files/en-us/learn/javascript/building_blocks/test_your_skills_colon__conditionals/index.html
  files/en-us/learn/javascript/building_blocks/test_your_skills_colon__events/index.html
  files/en-us/learn/javascript/building_blocks/test_your_skills_colon__functions/index.html
  files/en-us/learn/javascript/building_blocks/test_your_skills_colon__loops/index.html
  files/en-us/learn/javascript/first_steps/test_your_skills_colon__arrays/index.html
  files/en-us/learn/javascript/first_steps/test_your_skills_colon__math/index.html
  files/en-us/learn/javascript/first_steps/test_your_skills_colon__strings/index.html
  files/en-us/learn/javascript/first_steps/test_your_skills_colon__variables/index.html
  files/en-us/learn/javascript/objects/test_your_skills_colon__object-oriented_javascript/index.html
  files/en-us/learn/javascript/objects/test_your_skills_colon__object_basics/index.html
Labels: Content:Learn

#9394 [Markdown] [Learn] Fix heading-style notes
  files/en-us/learn/common_questions/what_is_a_url/index.html
  files/en-us/learn/css/css_layout/responsive_design/index.html
  files/en-us/learn/css/first_steps/using_your_new_knowledge/index.html
  files/en-us/learn/css/howto/make_box_transparent/index.html
  files/en-us/learn/css/styling_text/styling_links/index.html
  files/en-us/learn/forms/html5_input_types/index.html
  files/en-us/learn/html/multimedia_and_embedding/video_and_audio_content/index.html
  files/en-us/learn/javascript/building_blocks/events/index.html
  files/en-us/learn/performance/multimedia/index.html
  files/en-us/learn/performance/perceived_performance/index.html
Labels: Content:Learn
