Repository mdn/content, pull requests merged in 2022-03, with the labels that each got.

#12979 Major update: tree role
  files/en-us/web/accessibility/aria/roles/tree_role/index.md
Labels: Content:Accessibility

#13088 Major revision: tablist role
  files/en-us/web/accessibility/aria/roles/tablist_role/index.md
Labels: Content:Accessibility

#13327 Clarify allowed-attributes rules for <source> element
  files/en-us/web/html/element/source/index.md
Labels: Content:HTML

#13295 Update index.md
  files/en-us/web/css/justify-items/index.md
Labels: Content:CSS

#13164 Update: ARIA elements with only presentational descendants
  files/en-us/web/accessibility/aria/roles/button_role/index.md
  files/en-us/web/accessibility/aria/roles/checkbox_role/index.md
  files/en-us/web/accessibility/aria/roles/img_role/index.md
  files/en-us/web/accessibility/aria/roles/meter_role/index.md
  files/en-us/web/accessibility/aria/roles/option_role/index.md
  files/en-us/web/accessibility/aria/roles/progressbar_role/index.md
  files/en-us/web/accessibility/aria/roles/radio_role/index.md
  files/en-us/web/accessibility/aria/roles/separator_role/index.md
  files/en-us/web/accessibility/aria/roles/slider_role/index.md
  files/en-us/web/accessibility/aria/roles/switch_role/index.md
  files/en-us/web/accessibility/aria/roles/tab_role/index.md
Labels: Content:Accessibility

#13302 Adapt FontFaceSet API to new events structure
  files/en-us/_redirects.txt
  files/en-us/web/api/fontfaceset/index.md
  files/en-us/web/api/fontfaceset/loading_event/index.md
  files/en-us/web/api/fontfaceset/loadingdone_event/index.md
  files/en-us/web/api/fontfaceset/loadingerror_event/index.md
Labels: Content:WebAPI

#13328 Replace deprecated event.keyCode from example with event.key
  files/en-us/learn/accessibility/html/index.md
Labels: Content:Learn

#13352 Intl.Locale - fix Brunei typo in week information
  files/en-us/web/javascript/reference/global_objects/intl/locale/weekinfo/index.md
Labels: Content:JS

#13007 Replaced "Embed Flash" code with PDF
  files/en-us/web/html/element/object/index.md
Labels: Content:HTML

#13359 updating mdn about page
  files/en-us/mdn/about/index.md
Labels: Content:Other

#13358 Include missing number.
  files/en-us/web/javascript/guide/loops_and_iteration/index.md
Labels: Content:JS

#13360 Place "Browser compatibility" section below "Specifications"
  files/en-us/web/api/htmltableelement/width/index.md
  files/en-us/web/http/cross-origin_resource_policy_(corp)/index.md
  files/en-us/web/svg/attribute/clip-path/index.md
  files/en-us/web/svg/attribute/fill-opacity/index.md
  files/en-us/web/svg/attribute/fill-rule/index.md
  files/en-us/web/svg/attribute/pointer-events/index.md
  files/en-us/web/svg/attribute/stroke-dasharray/index.md
  files/en-us/web/svg/attribute/stroke-dashoffset/index.md
  files/en-us/web/svg/attribute/stroke-linecap/index.md
  files/en-us/web/svg/attribute/stroke-miterlimit/index.md
  files/en-us/web/svg/attribute/stroke-opacity/index.md
  files/en-us/web/svg/attribute/stroke-width/index.md
Labels: Content:WebAPI, Content:HTTP, Content:SVG

#13374 Fixed typo.
  files/en-us/learn/javascript/building_blocks/looping_code/index.md
Labels: Content:Learn

#13381 Fix a link flaw
  files/en-us/web/api/element/namespaceuri/index.md
Labels: Content:WebAPI

#13377 Correct an example typo
  files/en-us/web/javascript/reference/global_objects/array/groupby/index.md
Labels: Content:JS

#13383 Add accessibility considerations for the dialog element
  files/en-us/web/html/element/dialog/index.md
Labels: Content:HTML

#11944 Add rel=me documentation to MDN
  files/en-us/web/html/attributes/rel/index.md
  files/en-us/web/html/link_types/index.md
  files/en-us/web/html/link_types/me/index.md
Labels: Content:HTML

#13347 Update KumaScript {{anch}} macro calls
  files/en-us/web/media/formats/image_types/index.md
Labels: Content:Media

#13380 Replace {{event}} with corresponding {{domxref}}
  files/en-us/web/api/element/innerhtml/index.md
Labels: Content:WebAPI

#13399 Fix page-internal xref/links in Page Inspector “Examine and edit HTML” doc
  files/en-us/tools/page_inspector/how_to/examine_and_edit_html/index.html
Labels: Content:Other, Content:DevTools

#13366 missing piece of text
  files/en-us/web/css/css_positioning/understanding_z_index/the_stacking_context/index.md
Labels: Content:CSS

#13401 Patch 1
  files/en-us/web/api/setinterval/index.md
Labels: Content:WebAPI

#13418 update ICE rfc
  files/en-us/glossary/ice/index.md
Labels: Content:Glossary

#13301 Adapt FileReader API to new events structure
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/filereader/abort_event/index.md
  files/en-us/web/api/filereader/error_event/index.md
  files/en-us/web/api/filereader/index.md
  files/en-us/web/api/filereader/load_event/index.md
  files/en-us/web/api/filereader/loadend_event/index.md
  files/en-us/web/api/filereader/loadstart_event/index.md
  files/en-us/web/api/filereader/onabort/index.md
  files/en-us/web/api/filereader/onerror/index.md
  files/en-us/web/api/filereader/onload/index.md
  files/en-us/web/api/filereader/progress_event/index.md
Labels: Content:WebAPI

#13212 Adding navigator.requestMIDIAccess page
  files/en-us/web/api/navigator/index.md
  files/en-us/web/api/navigator/requestmidiaccess/index.md
Labels: Content:WebAPI

#13413 Fixes typo
  files/en-us/web/accessibility/aria/roles/row_role/index.md
Labels: Content:Accessibility

#12360 Explain deprecated
  files/en-us/web/css/word-break/index.md
Labels: Content:CSS

#13410 Clarification for “JavaScript First Steps: Arrays” article
  files/en-us/learn/javascript/first_steps/arrays/index.md
Labels: Content:Learn

#13420 Correct the description of NodeFilter constants
  files/en-us/web/api/nodefilter/acceptnode/index.md
Labels: Content:WebAPI

#13424 Move polyfill link to "See also" section
  files/en-us/web/api/cssstylesheet/cssstylesheet/index.md
  files/en-us/web/api/encoding_api/index.md
  files/en-us/web/api/trusted_types_api/index.md
  files/en-us/web/css/_colon_focus-visible/index.md
  files/en-us/web/html/element/dialog/index.md
  files/en-us/web/http/headers/content-security-policy/require-trusted-types-for/index.md
  files/en-us/web/http/headers/content-security-policy/trusted-types/index.md
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/formattoparts/index.md
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/getcanonicallocales/index.md
  files/en-us/web/javascript/reference/global_objects/intl/listformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/locale/locale/index.md
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/pluralrules/index.md
  files/en-us/web/javascript/reference/global_objects/intl/relativetimeformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/supportedvaluesof/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:JS, Content:HTTP

#13425 Remove redundant "Polyfill" section
  files/en-us/web/api/atob/index.md
  files/en-us/web/api/fetch_api/using_fetch/index.md
  files/en-us/web/api/web_animations_api/web_animations_api_concepts/index.md
Labels: Content:WebAPI

#13429 Fix typos in “IDBTransaction: complete event” doc
  files/en-us/web/api/idbtransaction/complete_event/index.md
Labels: Content:WebAPI

#13438 Rephrase definition of methods
  files/en-us/learn/javascript/building_blocks/functions/index.md
Labels: Content:Learn

#13432 Fix a confusing section in the Cache object article
  files/en-us/web/api/cache/index.md
Labels: Content:WebAPI

#13431 Fix broken link in “Performance API” doc
  files/en-us/web/api/performance_api/index.md
Labels: Content:WebAPI

#13443 Fixes properties and methods sections of Element
  files/en-us/web/api/element/index.md
Labels: Content:WebAPI

#13444 Update index.md
  files/en-us/web/javascript/reference/global_objects/intl/supportedvaluesof/index.md
Labels: Content:JS

#13436 Fix for issue #13290. Added two examples for .toString() being used …
  files/en-us/web/javascript/reference/global_objects/string/tostring/index.md
Labels: Content:JS

#13433 Remove 'Test skills' from 1st article abt strings
  files/en-us/learn/javascript/first_steps/strings/index.md
Labels: Content:Learn

#13456 fix: removed redundant word from sentence
  files/en-us/web/api/html_sanitizer_api/index.md
Labels: Content:WebAPI

#13453 Added 3 CSS properties missing in References
  files/en-us/web/css/border-block-style/index.md
  files/en-us/web/css/border-block/index.md
  files/en-us/web/css/border/index.md
Labels: Content:CSS

#13451 Rephrase to avoid obscure term (use active voice)
  files/en-us/learn/javascript/first_steps/a_first_splash/index.md
Labels: Content:Learn

#13192 Reduce startup blocking to webRequestBlocking listeners
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/index.md
  files/en-us/mozilla/firefox/releases/98/index.md
Labels: Content:WebExt, Content:Other

#13465 Update incorrect links
  files/en-us/web/accessibility/aria/attributes/aria-orientation/index.md
Labels: Content:Accessibility

#13470 Cross browser testing: Safari now supports arrow and fetch
  files/en-us/learn/tools_and_testing/cross_browser_testing/javascript/index.md
Labels: Content:Learn

#13437 using macros instead of url
  files/en-us/web/http/headers/content-encoding/index.md
Labels: Content:HTTP

#13472 Substitute 'random' for 'white'.
  files/en-us/web/api/audioworkletnode/index.md
Labels: Content:WebAPI

#13477 fix: various typos
  files/en-us/learn/server-side/django/forms/index.md
  files/en-us/web/accessibility/aria/roles/button_role/index.md
  files/en-us/web/accessibility/aria/roles/checkbox_role/index.md
  files/en-us/web/accessibility/aria/roles/img_role/index.md
  files/en-us/web/accessibility/aria/roles/meter_role/index.md
  files/en-us/web/accessibility/aria/roles/option_role/index.md
  files/en-us/web/accessibility/aria/roles/progressbar_role/index.md
  files/en-us/web/accessibility/aria/roles/radio_role/index.md
  files/en-us/web/accessibility/aria/roles/separator_role/index.md
  files/en-us/web/accessibility/aria/roles/slider_role/index.md
  files/en-us/web/accessibility/aria/roles/switch_role/index.md
  files/en-us/web/accessibility/aria/roles/tab_role/index.md
  files/en-us/web/accessibility/aria/roles/tree_role/index.md
Labels: Content:Learn, Content:Accessibility, Content:Learn:Django

#13481 Fix Element.animate hyperlink (#13480)
  files/en-us/web/api/element/animate/index.md
Labels: Content:WebAPI

#13484 fix: markdownlint spacing auto cleanup
  files/en-us/mdn/about/index.md
  files/en-us/mozilla/firefox/releases/98/index.md
  files/en-us/web/accessibility/aria/roles/tablist_role/index.md
  files/en-us/web/accessibility/aria/roles/tree_role/index.md
  files/en-us/web/api/elementinternals/index.md
  files/en-us/web/api/fontfaceset/loadingerror_event/index.md
  files/en-us/web/css/word-break/index.md
  files/en-us/web/javascript/reference/global_objects/array/groupby/index.md
  files/en-us/web/javascript/reference/global_objects/array/index.md
  files/en-us/web/javascript/reference/global_objects/intl/pluralrules/index.md
Labels: Content:CSS, Content:WebAPI, Content:JS, Content:Other, Content:Accessibility

#13485 Fix typo `if...then` -> `if...else`
  files/en-us/web/guide/ajax/getting_started/index.md
Labels: Content:Learn

#13492 Correct id in example
  files/en-us/web/api/elementinternals/form/index.md
Labels: Content:WebAPI

#13479 Nav requestmidi updates
  files/en-us/web/api/navigator/requestmidiaccess/index.md
  files/en-us/web/api/web_midi_api/index.md
Labels: Content:WebAPI

#13493 Update index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_typescript/index.md
Labels: Content:Learn

#13488 Fix: "switch statement" to example code, typo
  files/en-us/learn/javascript/building_blocks/conditionals/index.md
Labels: Content:Learn

#13500 `getAsFileSystemHandle` returns a `Promise`
  files/en-us/web/api/datatransferitem/getasfilesystemhandle/index.md
Labels: Content:WebAPI

#13503 Update index.md regarding issue#11119
  files/en-us/web/api/audionode/channelcountmode/index.md
  files/en-us/web/api/channelmergernode/index.md
Labels: Content:WebAPI

#13508 Fix issue 13506: adjust example iframe height
  files/en-us/web/html/element/cite/index.md
  files/en-us/web/html/element/time/index.md
Labels: Content:HTML

#13497 Reword border-spacing CSS description
  files/en-us/web/css/border-spacing/index.md
Labels: Content:CSS

#13511 Fix issue 13505: delete offline events doc
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/navigator/online_and_offline_events/index.md
Labels: Content:WebAPI

#13514 Fix links to to-do list demo
  files/en-us/web/api/idbdatabase/name/index.md
  files/en-us/web/api/idbrequest/index.md
Labels: Content:WebAPI

#13516 Remove some obsolete info about old Firefox versions' UA strings
  files/en-us/web/http/headers/user-agent/firefox/index.md
Labels: Content:HTTP

#13515 fix: [Expressions and operators] code layout fix
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
Labels: Content:JS

#13528 Update index.md
  files/en-us/learn/common_questions/what_is_a_web_server/index.md
Labels: Content:Learn

#13530 `IDBDatabase.close` example: Fix typo in comment
  files/en-us/web/api/idbdatabase/close/index.md
Labels: Content:WebAPI

#13533 Fix a “Realizing common layouts using CSS Grid Layout” sentence
  files/en-us/web/css/css_grid_layout/realizing_common_layouts_using_css_grid_layout/index.md
Labels: Content:CSS

#13529 Fix the Syntax section WebSocket() constructor article
  files/en-us/web/api/websocket/websocket/index.md
Labels: Content:WebAPI

#13548 Replace a Boolean (wrapper object) with a boolean value
  files/en-us/web/api/stylepropertymapreadonly/has/index.md
Labels: Content:WebAPI

#13547 Replace {{event}} macros with {{domxref}}
  files/en-us/web/api/element/requestpointerlock/index.md
Labels: Content:WebAPI

#13550 Fix some {{anch}} macro calls broken by embedded linebreaks
  files/en-us/web/api/clipboard/read/index.md
  files/en-us/web/api/clipboard/write/index.md
  files/en-us/web/api/mediadevices/getdisplaymedia/index.md
  files/en-us/web/api/screen/pixeldepth/index.md
Labels: Content:WebAPI

#13557 Replace {{domxref}} links with normal links
  files/en-us/web/api/wakelock/index.md
  files/en-us/web/api/wakelocksentinel/index.md
Labels: Content:WebAPI

#13559 Fix links to `release` event
  files/en-us/web/api/wakelocksentinel/index.md
  files/en-us/web/api/wakelocksentinel/release/index.md
  files/en-us/web/api/wakelocksentinel/released/index.md
Labels: Content:WebAPI

#13504 docs: Add documentation around `Headers` constructor init arg as an array of name-value pairs, where each pair is a 2-element string array
  files/en-us/web/api/headers/headers/index.md
Labels: Content:WebAPI

#13561 Fix typo - Added a space between comma-separated function arguments
  files/en-us/web/css/css_grid_layout/realizing_common_layouts_using_css_grid_layout/index.md
Labels: Content:CSS

#13555 Fix deprecated icon position + sort
  files/en-us/web/api/element/index.md
Labels: Content:WebAPI

#13558 Replace {{jsxref("String")}} wrapper objects to "string"
  files/en-us/web/api/wakelocksentinel/index.md
  files/en-us/web/api/wakelocksentinel/type/index.md
Labels: Content:WebAPI

#13564 Added Windows shortcut in composition event examples
  files/en-us/web/api/element/compositionend_event/index.md
  files/en-us/web/api/element/compositionstart_event/index.md
  files/en-us/web/api/element/compositionupdate_event/index.md
Labels: Content:WebAPI

#13571 Update index.md
  files/en-us/glossary/javascript/index.md
Labels: Content:Glossary

#13575 remove unused const
  files/en-us/web/html/element/input/index.md
Labels: Content:HTML

#13578 External links begin with http, not contain it
  files/en-us/learn/css/styling_text/styling_links/index.md
Labels: Content:Learn

#13577 Rearrage list order to make more sense
  files/en-us/web/javascript/reference/global_objects/object/index.md
Labels: Content:JS

#13576 increase live-sample output height for better accessibility
  files/en-us/web/api/element/copy_event/index.md
  files/en-us/web/api/element/cut_event/index.md
  files/en-us/web/api/element/paste_event/index.md
Labels: Content:WebAPI

#13580 Fixed external links in learning Styling Links
  files/en-us/learn/css/styling_text/styling_links/index.md
Labels: Content:Learn

#13581 fix `ReadableStreamDefaultController.prototype.error` docs
  files/en-us/web/api/readablestreamdefaultcontroller/error/index.md
Labels: Content:WebAPI

#13585 Update platform architecture list
  files/en-us/web/http/headers/sec-ch-ua-arch/index.md
Labels: Content:HTTP

#13584 Sec-CH-UA-Platform can also report Chromium OS
  files/en-us/web/http/headers/sec-ch-ua-platform/index.md
Labels: Content:HTTP

#13587 Update intentionally incorrect brand
  files/en-us/web/http/headers/sec-ch-ua-full-version-list/index.md
Labels: Content:HTTP

#13579 Fix syntax box of a method
  files/en-us/web/api/broadcastchannel/close/index.md
Labels: Content:WebAPI

#13563 Fix position of deprecated icon
  files/en-us/web/api/element/index.md
Labels: Content:WebAPI

#13458 ARIA alerts: clarify meaning of static vs dynamic
  files/en-us/web/accessibility/aria/roles/alert_role/index.md
Labels: Content:Accessibility

#13589 Touch example - fix link to live sample
  files/en-us/web/api/touch_events/index.md
Labels: Content:WebAPI

#13593 Remove page for api.PresentationAvailability.onchange
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/presentationavailability/index.md
  files/en-us/web/api/presentationavailability/onchange/index.md
Labels: Content:WebAPI

#13604 see also: link to ruby element
  files/en-us/web/css/css_ruby/index.md
Labels: Content:CSS

#13598 new operator precedence example
  files/en-us/web/javascript/reference/operators/logical_and/index.md
Labels: Content:JS

#13498 Improvements in appearance CSS property
  files/en-us/web/css/appearance/index.md
Labels: Content:CSS

#13535 Update index.md
  files/en-us/learn/css/building_blocks/cascade_tasks/index.md
Labels: Content:Learn

#13597 @font-feature-values: add see also link
  files/en-us/web/css/font-variant-alternates/index.md
Labels: Content:CSS

#13476 Add a note about our policy for teaching modern JavaScript
  files/en-us/learn/javascript/index.md
Labels: Content:Learn

#13434 Describe the format of WebCrypto ECDSA signatures (reference IEEE-P1363)
  files/en-us/web/api/subtlecrypto/sign/index.md
Labels: Content:WebAPI

#13414 Few changes to outline.
  files/en-us/web/css/outline/index.md
Labels: Content:CSS

#13606 Change HTML table to a modern list (AudioProcessingEvent)
  files/en-us/web/api/audioprocessingevent/index.md
Labels: Content:WebAPI

#13206 Adapt api.Document.onvisibilitychange to new events structure
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/document/index.md
  files/en-us/web/api/document/onvisibilitychange/index.md
  files/en-us/web/api/document/visibilitychange_event/index.md
  files/en-us/web/api/page_visibility_api/index.md
Labels: Content:WebAPI

#13568 Adapt api.OfflineAudioContext.oncomplete to new events structure
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/offlineaudiocontext/complete_event/index.md
  files/en-us/web/api/offlineaudiocontext/index.md
  files/en-us/web/api/offlineaudiocontext/oncomplete/index.md
Labels: Content:WebAPI

#13599 Adapt api.SharedWorker.onerror to new events structure
  files/en-us/_redirects.txt
  files/en-us/web/api/sharedworker/error_event/index.md
  files/en-us/web/api/sharedworker/index.md
Labels: Content:WebAPI

#13121 JS Learn: update client-side APIs, part 1
  files/en-us/learn/javascript/client-side_web_apis/introduction/index.md
Labels: Content:Learn

#13619 fix a link flaw in `Node.parentNode`
  files/en-us/web/api/node/parentnode/index.md
Labels: Content:WebAPI

#12930 JS Learn area: async module rewrite
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/learn/javascript/asynchronous/async_await/index.md
  files/en-us/learn/javascript/asynchronous/choosing_the_right_approach/index.md
  files/en-us/learn/javascript/asynchronous/concepts/beachball.jpg
  files/en-us/learn/javascript/asynchronous/concepts/index.md
  files/en-us/learn/javascript/asynchronous/implementing_a_promise-based_api/index.md
  files/en-us/learn/javascript/asynchronous/index.md
  files/en-us/learn/javascript/asynchronous/introducing/index.md
  files/en-us/learn/javascript/asynchronous/introducing_workers/index.md
  files/en-us/learn/javascript/asynchronous/promises/index.md
  files/en-us/learn/javascript/asynchronous/sequencing_animations/index.md
  files/en-us/learn/javascript/asynchronous/sequencing_animations/sequencing-animations.png
  files/en-us/learn/javascript/asynchronous/timeouts_and_intervals/index.md
Labels: Content:Learn

#13123 JS Learn: update client-side APIs, part 2
  files/en-us/learn/javascript/client-side_web_apis/manipulating_documents/index.md
Labels: Content:Learn

#13622 Undo incorrect fix to justify-items syntax
  files/en-us/web/css/justify-items/index.md
Labels: Content:CSS

#13510 Add an example on how to list files from a `FileSystemDirectoryHandle`
  files/en-us/web/api/filesystemdirectoryhandle/index.md
Labels: Content:WebAPI

#13615 Adapt api.Window.onappinstalled to new events structure
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/firefox/releases/49/index.md
  files/en-us/mozilla/firefox/releases/52/index.md
  files/en-us/mozilla/firefox/releases/76/index.md
  files/en-us/web/api/window/appinstalled_event/index.md
  files/en-us/web/api/window/index.md
  files/en-us/web/api/window/onappinstalled/index.md
Labels: Content:WebAPI, Content:Other

#13618 Reduce redirects
  files/en-us/web/css/-webkit-mask-attachment/index.md
  files/en-us/web/css/-webkit-mask-box-image/index.md
Labels: Content:CSS

#13609 Typo (missing s for plural)
  files/en-us/web/css/outline/index.md
Labels: Content:CSS

#13631 Fix incorrect casing of getTitlebarAreaRect
  files/en-us/web/api/windowcontrolsoverlay/gettitlebararearect/index.md
Labels: Content:WebAPI

#13549 Fixes anchor to browser compatibility table
  files/en-us/web/api/clipboard/write/index.md
Labels: Content:WebAPI

#13633 typo: "succeeded" -> "failed"
  files/en-us/learn/javascript/asynchronous/promises/index.md
Labels: Content:Learn

#13628 FF99 ReleaseNote: Navigator.pdfViewerEnabled
  files/en-us/mozilla/firefox/releases/99/index.md
Labels: Content:Other

#13461 update gethighentropyvalues client hints options and example
  files/en-us/web/api/navigatoruadata/gethighentropyvalues/index.md
  files/en-us/web/api/navigatoruadata/index.md
Labels: Content:WebAPI

#13632 aria-label doc: Make “accessible name” link to definition in ARIA spec
  files/en-us/web/accessibility/aria/attributes/aria-label/index.md
Labels: Content:Accessibility

#13636 fix syntax in example: correct arrow function syntax
  files/en-us/web/api/window/gamepadconnected_event/index.md
Labels: Content:WebAPI

#13637 Replace var with let and const
  files/en-us/web/javascript/reference/global_objects/array/isarray/index.md
  files/en-us/web/javascript/reference/global_objects/array/join/index.md
  files/en-us/web/javascript/reference/global_objects/array/keys/index.md
  files/en-us/web/javascript/reference/global_objects/array/lastindexof/index.md
  files/en-us/web/javascript/reference/global_objects/array/length/index.md
  files/en-us/web/javascript/reference/global_objects/array/pop/index.md
  files/en-us/web/javascript/reference/global_objects/array/reduceright/index.md
  files/en-us/web/javascript/reference/global_objects/array/shift/index.md
  files/en-us/web/javascript/reference/global_objects/array/sort/index.md
  files/en-us/web/javascript/reference/global_objects/array/tolocalestring/index.md
  files/en-us/web/javascript/reference/global_objects/array/tosource/index.md
  files/en-us/web/javascript/reference/global_objects/array/values/index.md
Labels: Content:JS

#13617 Refactors code in lastIndexOf and indexOf articles
  files/en-us/web/javascript/reference/global_objects/array/indexof/index.md
  files/en-us/web/javascript/reference/global_objects/array/lastindexof/index.md
Labels: Content:JS

#13595 Adapt api.Screen.onorientationchange to new events structure
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/css_object_model/managing_screen_orientation/index.md
  files/en-us/web/api/screen/index.md
  files/en-us/web/api/screen/lockorientation/index.md
  files/en-us/web/api/screen/onorientationchange/index.md
  files/en-us/web/api/screen/orientation/index.md
  files/en-us/web/api/screen/orientationchange_event/index.md
  files/en-us/web/api/screen/unlockorientation/index.md
Labels: Content:WebAPI

#13596 Adapt api.ScriptProcessorNode.onaudioprocess to new events structure
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/scriptprocessornode/audioprocess_event/index.md
  files/en-us/web/api/scriptprocessornode/onaudioprocess/index.md
Labels: Content:WebAPI

#13602 Adapt api.PaymentResponse.onpayerdetailchange to new events structure
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/paymentresponse/index.md
  files/en-us/web/api/paymentresponse/onpayerdetailchange/index.md
  files/en-us/web/api/paymentresponse/payerdetailchange_event/index.md
Labels: Content:WebAPI

#13646 Added formal syntax to gradient functions
  files/en-us/web/css/gradient/conic-gradient()/index.md
  files/en-us/web/css/gradient/linear-gradient()/index.md
  files/en-us/web/css/gradient/radial-gradient()/index.md
  files/en-us/web/css/gradient/repeating-conic-gradient()/index.md
  files/en-us/web/css/gradient/repeating-linear-gradient()/index.md
  files/en-us/web/css/gradient/repeating-radial-gradient()/index.md
Labels: Content:CSS

#13649 Add missing default value for 'rows' attribute for <textarea>
  files/en-us/web/html/element/textarea/index.md
Labels: Content:HTML

#13524 Adapt api.HIDDevice.oninputreport to new events structure
  files/en-us/_redirects.txt
  files/en-us/web/api/hiddevice/index.md
  files/en-us/web/api/hiddevice/inputreport_event/index.md
  files/en-us/web/api/hidinputreportevent/index.md
  files/en-us/web/api/webhid_api/index.md
Labels: Content:WebAPI

#13640 Add Marionette updates for release 98
  files/en-us/mozilla/firefox/releases/98/index.md
Labels: Content:Other

#13594 Adapt api.RTCDTMFSender.ontonechange to new events structure
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/rtcdtmfsender/index.md
  files/en-us/web/api/rtcdtmfsender/insertdtmf/index.md
  files/en-us/web/api/rtcdtmfsender/ontonechange/index.md
  files/en-us/web/api/rtcdtmfsender/tonechange_event/index.md
  files/en-us/web/api/rtcdtmftonechangeevent/index.md
  files/en-us/web/api/rtcdtmftonechangeevent/tone/index.md
  files/en-us/web/api/webrtc_api/using_dtmf/index.md
Labels: Content:WebAPI

#13666 fixed typo
  files/en-us/web/html/element/input/index.md
Labels: Content:HTML

#13665 Update index.md where content was in wrong order
  files/en-us/learn/css/styling_text/styling_lists/index.md
Labels: Content:Learn

#13659 Update `color-mix()` article to correct outdated information
  files/en-us/web/css/color_value/color-mix()/index.md
Labels: Content:CSS

#13657 Fix broken link
  files/en-us/web/css/syntax/index.md
Labels: Content:CSS

#13672 fix typo
  files/en-us/web/javascript/reference/global_objects/array/index.md
Labels: Content:JS

#13651 Move "Browser compatibility" to the end of the article Issue#13650
  files/en-us/mozilla/add-ons/webextensions/api/browsingdata/remove/index.md
  files/en-us/mozilla/add-ons/webextensions/api/browsingdata/removecache/index.md
  files/en-us/mozilla/add-ons/webextensions/api/browsingdata/removecookies/index.md
  files/en-us/mozilla/add-ons/webextensions/api/browsingdata/removedownloads/index.md
  files/en-us/mozilla/add-ons/webextensions/api/browsingdata/removeformdata/index.md
  files/en-us/mozilla/add-ons/webextensions/api/browsingdata/removehistory/index.md
  files/en-us/mozilla/add-ons/webextensions/api/browsingdata/removelocalstorage/index.md
  files/en-us/mozilla/add-ons/webextensions/api/browsingdata/removepasswords/index.md
  files/en-us/mozilla/add-ons/webextensions/api/browsingdata/removeplugindata/index.md
Labels: Content:WebExt, Content:Other

#13639 Improve the fallback example for :focus-visible
  files/en-us/web/css/_colon_focus-visible/index.md
Labels: Content:CSS

#13670 FormData: Mention `fetch` as alternative to `XMLHttpRequest`
  files/en-us/web/api/formdata/index.md
Labels: Content:WebAPI

#13656 Fix EventTarget.addEventListener anchor reference
  files/en-us/web/api/eventtarget/addeventlistener/index.md
Labels: Content:WebAPI

#13682 Fix formatting flub in JS Reference/Errors/Deprecated_octal
  files/en-us/web/javascript/reference/errors/deprecated_octal/index.md
Labels: Content:JS

#13684 Remove useless prefix for an event in PictureInPictureWindow
  files/en-us/web/api/pictureinpicturewindow/index.md
Labels: Content:WebAPI

#13686 Fixed incorrect type in addEventListener
  files/en-us/web/api/xmlhttprequest/readystatechange_event/index.md
Labels: Content:WebAPI

#13692 Fix a typo in the Mongoose section
  files/en-us/learn/server-side/express_nodejs/mongoose/index.md
Labels: Content:Learn, Content:Learn:Express

#13691 Update the wrong hyperlink destination
  files/en-us/learn/html/introduction_to_html/advanced_text_formatting/index.md
Labels: Content:Learn

#13688 Update Vue JS documentation links
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/vue_getting_started/index.md
Labels: Content:Learn

#13660 Adapt api.Document.pointerlock[change/error] to new events structure
  files/en-us/web/api/document/pointerlockchange_event/index.md
  files/en-us/web/api/document/pointerlockerror_event/index.md
Labels: Content:WebAPI

#13654 fix(WebAPI): remove unnecessary brackets
  files/en-us/web/api/cache/match/index.md
  files/en-us/web/api/cache/matchall/index.md
Labels: Content:WebAPI

#13690 doc: fix code example on mouseevent relatedTarget
  files/en-us/web/api/mouseevent/relatedtarget/index.md
Labels: Content:WebAPI

#13700 Changed map to flatMap
  files/en-us/web/javascript/reference/global_objects/array/flatmap/index.md
Labels: Content:JS

#13467 JS Learn: update client-side APIs, part 7
  files/en-us/learn/javascript/client-side_web_apis/client-side_storage/index.md
Labels: Content:Learn
