Repository mdn/content, pull requests merged in 2022-05, with the labels that each got.

#15567 Replace `Number` object with `Number` primitive
  files/en-us/web/javascript/reference/global_objects/bigint/tostring/index.md
Labels: Content:JS

#15571 Fix typos
  files/en-us/web/api/oes_fbo_render_mipmap/index.md
  files/en-us/web/api/paymentaddress/dependentlocality/index.md
  files/en-us/web/api/paymentaddress/recipient/index.md
  files/en-us/web/api/performance_timeline/using_performance_timeline/index.md
  files/en-us/web/api/permissions_api/using_the_permissions_api/index.md
  files/en-us/web/api/pointerevent/tilty/index.md
  files/en-us/web/api/progressevent/loaded/index.md
  files/en-us/web/api/promiserejectionevent/reason/index.md
  files/en-us/web/api/sanitizer/sanitize/index.md
  files/en-us/web/api/sanitizer/sanitizefor/index.md
  files/en-us/web/api/shadowroot/host/index.md
  files/en-us/web/api/streams_api/concepts/index.md
  files/en-us/web/api/svgaltglyphelement/index.md
  files/en-us/web/api/svggraphicselement/copy_event/index.md
  files/en-us/web/api/texttrackcue/enter_event/index.md
  files/en-us/web/api/texttrackcue/exit_event/index.md
  files/en-us/web/api/touch/touch/index.md
  files/en-us/web/api/touchevent/touches/index.md
  files/en-us/web/api/user_timing_api/index.md
  files/en-us/web/api/validitystate/typemismatch/index.md
  files/en-us/web/api/visualviewport/index.md
  files/en-us/web/api/vrdisplay/isconnected/index.md
  files/en-us/web/api/web_workers_api/functions_and_classes_available_to_workers/index.md
  files/en-us/web/api/web_workers_api/index.md
  files/en-us/web/api/webgl_api/tutorial/creating_3d_objects_using_webgl/index.md
  files/en-us/web/api/webrtc_api/taking_still_photos/index.md
  files/en-us/web/api/websocket/websocket/index.md
  files/en-us/web/api/webxr_device_api/movement_and_motion/index.md
  files/en-us/web/api/window/devicepixelratio/index.md
  files/en-us/web/api/window/screenleft/index.md
  files/en-us/web/api/window/screentop/index.md
  files/en-us/web/api/window/screenx/index.md
  files/en-us/web/api/window/screeny/index.md
  files/en-us/web/api/xrinputsource/gripspace/index.md
  files/en-us/web/api/xrinputsource/handedness/index.md
  files/en-us/web/api/xrreferencespaceevent/index.md
  files/en-us/web/api/xrrenderstate/baselayer/index.md
  files/en-us/web/api/xrview/eye/index.md
  files/en-us/web/api/xrview/index.md
  files/en-us/web/css/@media/index.md
  files/en-us/web/css/color_value/hexadecimal_rgb/index.md
  files/en-us/web/css/color_value/hsl/index.md
  files/en-us/web/css/css_counter_styles/using_css_counters/index.md
  files/en-us/web/css/css_selectors/index.md
  files/en-us/web/css/cursor/index.md
  files/en-us/web/css/media_queries/using_media_queries/index.md
  files/en-us/web/html/element/label/index.md
  files/en-us/web/html/element/object/index.md
  files/en-us/web/html/element/summary/index.md
  files/en-us/web/html/element/title/index.md
  files/en-us/web/html/microformats/index.md
  files/en-us/web/http/headers/www-authenticate/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:HTTP

#15564 Fix issue 15563: hide demo source
  files/en-us/web/api/location/index.md
Labels: Content:WebAPI

#15572 Fix typos
  files/en-us/learn/tools_and_testing/cross_browser_testing/automated_testing/index.md
  files/en-us/mdn/structures/page_types/api_method_subpage_template/index.md
  files/en-us/web/api/element/sethtml/index.md
  files/en-us/web/api/idbtransaction/mode/index.md
  files/en-us/web/api/nodelist/item/index.md
  files/en-us/web/api/worker/worker/index.md
  files/en-us/web/css/@import/index.md
  files/en-us/web/html/element/menu/index.md
  files/en-us/web/javascript/reference/errors/cant_access_lexical_declaration_before_init/index.md
  files/en-us/web/javascript/reference/errors/negative_repetition_count/index.md
  files/en-us/web/javascript/reference/functions/arguments/index.md
  files/en-us/web/javascript/reference/global_objects/array/every/index.md
  files/en-us/web/javascript/reference/global_objects/array/find/index.md
  files/en-us/web/javascript/reference/global_objects/array/foreach/index.md
  files/en-us/web/javascript/reference/global_objects/array/groupby/index.md
  files/en-us/web/javascript/reference/global_objects/array/includes/index.md
  files/en-us/web/javascript/reference/global_objects/array/pop/index.md
  files/en-us/web/javascript/reference/global_objects/array/reduce/index.md
  files/en-us/web/javascript/reference/global_objects/array/values/index.md
  files/en-us/web/javascript/reference/global_objects/error/index.md
  files/en-us/web/javascript/reference/global_objects/intl/locale/maximize/index.md
  files/en-us/web/javascript/reference/global_objects/intl/locale/weekinfo/index.md
  files/en-us/web/javascript/reference/global_objects/intl/segmenter/resolvedoptions/index.md
  files/en-us/web/javascript/reference/global_objects/intl/supportedvaluesof/index.md
  files/en-us/web/javascript/reference/global_objects/object/hasown/index.md
  files/en-us/web/javascript/reference/global_objects/object/hasownproperty/index.md
  files/en-us/web/javascript/reference/global_objects/object/proto/index.md
  files/en-us/web/javascript/reference/global_objects/string/index.md
  files/en-us/web/javascript/reference/global_objects/string/slice/index.md
  files/en-us/web/javascript/reference/global_objects/webassembly/exception/exception/index.md
  files/en-us/web/javascript/reference/global_objects/webassembly/exception/getarg/index.md
  files/en-us/web/javascript/reference/global_objects/webassembly/exception/index.md
  files/en-us/web/javascript/reference/global_objects/webassembly/exception/is/index.md
  files/en-us/web/javascript/reference/global_objects/webassembly/exception/stack/index.md
  files/en-us/web/javascript/reference/global_objects/webassembly/tag/index.md
  files/en-us/web/javascript/reference/global_objects/webassembly/tag/tag/index.md
  files/en-us/web/javascript/reference/global_objects/webassembly/tag/type/index.md
  files/en-us/web/javascript/reference/operators/destructuring_assignment/index.md
  files/en-us/web/javascript/reference/operators/in/index.md
  files/en-us/web/javascript/reference/operators/spread_syntax/index.md
  files/en-us/web/javascript/reference/operators/super/index.md
  files/en-us/web/javascript/reference/statements/async_function/index.md
  files/en-us/web/javascript/reference/statements/class/index.md
  files/en-us/web/javascript/reference/statements/return/index.md
  files/en-us/web/javascript/reference/statements/throw/index.md
  files/en-us/web/svg/attribute/visibility/index.md
  files/en-us/web/svg/element/filter/index.md
  files/en-us/web/svg/tutorial/svg_and_css/index.md
  files/en-us/webassembly/reference/numeric/square_root/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:JS, Content:Learn, Content:Other, Content:SVG, Content:wasm

#15492 fix: validation issues in build files
  files/en-us/glossary/rtcp/index.md
  files/en-us/glossary/user_agent/index.md
  files/en-us/learn/common_questions/available_text_editors/index.md
  files/en-us/learn/javascript/building_blocks/functions/index.md
  files/en-us/mozilla/firefox/releases/4/index.md
  files/en-us/web/api/canvas_api/tutorial/applying_styles_and_colors/index.md
  files/en-us/web/api/htmlimageelement/index.md
  files/en-us/web/api/progressevent/index.md
  files/en-us/web/api/progressevent/initprogressevent/index.md
  files/en-us/web/api/rtcicecandidatepairstats/availableincomingbitrate/index.md
  files/en-us/web/api/rtcicecandidatepairstats/availableoutgoingbitrate/index.md
  files/en-us/web/api/rtcicecandidatestats/deleted/index.md
  files/en-us/web/api/rtcicecandidatestats/priority/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/packetsfaileddecryption/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/plicount/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/qpsum/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/slicount/index.md
  files/en-us/web/api/rtcoutboundrtpstreamstats/plicount/index.md
  files/en-us/web/api/rtcoutboundrtpstreamstats/qpsum/index.md
  files/en-us/web/api/rtcoutboundrtpstreamstats/slicount/index.md
  files/en-us/web/api/rtcrtpparameters/index.md
  files/en-us/web/api/rtcrtpstreamstats/plicount/index.md
  files/en-us/web/api/rtcrtpstreamstats/qpsum/index.md
  files/en-us/web/api/rtcrtpstreamstats/slicount/index.md
  files/en-us/web/api/transitionevent/index.md
  files/en-us/web/api/transitionevent/inittransitionevent/index.md
  files/en-us/web/css/animation/index.md
  files/en-us/web/http/basics_of_http/mime_types/index.md
  files/en-us/web/http/headers/cache-control/index.md
  files/en-us/web/http/headers/if-unmodified-since/index.md
  files/en-us/web/media/formats/webrtc_codecs/index.md
  files/en-us/web/security/secure_contexts/features_restricted_to_secure_contexts/index.md
  files/en-us/web/svg/attribute/unicode-bidi/index.md
Labels: Content:CSS, Content:WebAPI, Content:Learn, Content:Other, Content:HTTP, Content:SVG, Content:Media, Content:Glossary

#15569 WebAPI: Update Method pages to modern structure (part 28)
  files/en-us/web/api/audiobuffer/copytochannel/index.md
  files/en-us/web/api/audiocontext/createjavascriptnode/index.md
  files/en-us/web/api/canvasgradient/addcolorstop/index.md
  files/en-us/web/api/canvaspattern/settransform/index.md
  files/en-us/web/api/canvasrenderingcontext2d/arc/index.md
  files/en-us/web/api/canvasrenderingcontext2d/arcto/index.md
  files/en-us/web/api/canvasrenderingcontext2d/beginpath/index.md
  files/en-us/web/api/canvasrenderingcontext2d/beziercurveto/index.md
  files/en-us/web/api/canvasrenderingcontext2d/clearrect/index.md
  files/en-us/web/api/canvasrenderingcontext2d/clip/index.md
Labels: Content:WebAPI

#15568 WebAPI: Update Method pages to modern structure (part 27)
  files/en-us/web/api/datatransfer/cleardata/index.md
  files/en-us/web/api/datatransfer/getdata/index.md
  files/en-us/web/api/datatransferitem/webkitgetasentry/index.md
  files/en-us/web/api/datatransferitemlist/add/index.md
  files/en-us/web/api/datatransferitemlist/clear/index.md
  files/en-us/web/api/datatransferitemlist/remove/index.md
  files/en-us/web/api/document/caretpositionfrompoint/index.md
  files/en-us/web/api/document/caretrangefrompoint/index.md
  files/en-us/web/api/document/createtextnode/index.md
  files/en-us/web/api/document/elementfrompoint/index.md
  files/en-us/web/api/document/elementsfrompoint/index.md
  files/en-us/web/api/document/exitfullscreen/index.md
  files/en-us/web/api/document/getelementbyid/index.md
  files/en-us/web/api/element/setattribute/index.md
  files/en-us/web/api/element/toggleattribute/index.md
  files/en-us/web/api/mediadevices/getsupportedconstraints/index.md
  files/en-us/web/api/mouseevent/initmouseevent/index.md
  files/en-us/web/api/range/range/index.md
  files/en-us/web/api/screenorientation/lock/index.md
  files/en-us/web/api/storagemanager/estimate/index.md
  files/en-us/web/api/xpathevaluator/createexpression/index.md
  files/en-us/web/api/xpathevaluator/evaluate/index.md
  files/en-us/web/api/xpathexpression/evaluate/index.md
  files/en-us/web/api/xpathresult/iteratenext/index.md
  files/en-us/web/api/xpathresult/snapshotitem/index.md
Labels: Content:WebAPI

#15570 Update redirected URLs (part 32)
  files/en-us/learn/tools_and_testing/cross_browser_testing/testing_strategies/index.md
  files/en-us/web/api/websockets_api/index.md
  files/en-us/web/javascript/reference/global_objects/intl/listformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/locale/index.md
  files/en-us/web/javascript/reference/global_objects/intl/locale/locale/index.md
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/pluralrules/index.md
  files/en-us/web/javascript/reference/global_objects/intl/relativetimeformat/index.md
  files/en-us/web/javascript/typed_arrays/index.md
  files/en-us/web/mathml/authoring/index.md
  files/en-us/web/media/formats/codecs_parameter/index.md
  files/en-us/web/media/formats/video_codecs/index.md
  files/en-us/web/opensearch/index.md
  files/en-us/web/progressive_web_apps/introduction/index.md
  files/en-us/web/svg/content_type/index.md
  files/en-us/web/svg/element/animate/index.md
  files/en-us/web/svg/svg_animation_with_smil/index.md
  files/en-us/web/tutorials/index.md
  files/en-us/web/web_components/using_custom_elements/index.md
  files/en-us/web/xpath/functions/boolean/index.md
  files/en-us/web/xpath/functions/ceiling/index.md
  files/en-us/web/xpath/functions/concat/index.md
  files/en-us/web/xpath/functions/contains/index.md
  files/en-us/web/xpath/functions/count/index.md
  files/en-us/web/xpath/functions/current/index.md
  files/en-us/web/xpath/functions/document/index.md
  files/en-us/web/xpath/functions/element-available/index.md
  files/en-us/web/xpath/functions/false/index.md
  files/en-us/web/xpath/functions/floor/index.md
  files/en-us/web/xpath/functions/format-number/index.md
  files/en-us/web/xpath/functions/function-available/index.md
  files/en-us/web/xpath/functions/generate-id/index.md
  files/en-us/web/xpath/functions/id/index.md
  files/en-us/web/xpath/functions/key/index.md
  files/en-us/web/xpath/functions/lang/index.md
  files/en-us/web/xpath/functions/last/index.md
  files/en-us/web/xpath/functions/local-name/index.md
  files/en-us/web/xpath/functions/name/index.md
  files/en-us/web/xpath/functions/namespace-uri/index.md
  files/en-us/web/xpath/functions/normalize-space/index.md
  files/en-us/web/xpath/functions/not/index.md
  files/en-us/web/xpath/functions/number/index.md
  files/en-us/web/xpath/functions/position/index.md
  files/en-us/web/xpath/functions/round/index.md
  files/en-us/web/xpath/functions/starts-with/index.md
  files/en-us/web/xpath/functions/string-length/index.md
  files/en-us/web/xpath/functions/string/index.md
  files/en-us/web/xpath/functions/substring-after/index.md
  files/en-us/web/xpath/functions/substring-before/index.md
  files/en-us/web/xpath/functions/substring/index.md
  files/en-us/web/xpath/functions/sum/index.md
  files/en-us/web/xpath/functions/system-property/index.md
  files/en-us/web/xpath/functions/translate/index.md
  files/en-us/web/xpath/functions/true/index.md
  files/en-us/web/xpath/functions/unparsed-entity-url/index.md
  files/en-us/web/xslt/using_the_mozilla_javascript_interface_to_xsl_transformations/index.md
  files/en-us/webassembly/rust_to_wasm/index.md
Labels: Content:WebAPI, Content:JS, Content:Learn, Content:Other, Content:SVG, Content:Media, Content:wasm, Content:MathML

#15574 fix: replace thin spaces with normal space
  files/en-us/learn/javascript/client-side_web_apis/fetching_data/fetch-update.svg
  files/en-us/learn/javascript/client-side_web_apis/fetching_data/traditional-loading.svg
  files/en-us/web/api/keyboardevent/code/code_values/index.md
  files/en-us/web/javascript/reference/operators/yield/index.md
Labels: Content:WebAPI, Content:JS, Content:Learn

#15491 New Document: spinbutton role
  files/en-us/web/accessibility/aria/roles/spinbutton_role/index.md
Labels: Content:Accessibility

#15577 Bring Document.evaluate() to modern structure
  files/en-us/web/api/document/evaluate/index.md
Labels: Content:WebAPI

#15578 Update XHR property descriptions
  files/en-us/web/api/xmlhttprequest/index.md
Labels: Content:WebAPI

#15537 fix: Markdownlint spacing and Q tag
  .markdownlint.json
  files/en-us/glossary/interpolation/index.md
  files/en-us/web/accessibility/aria/index.md
  files/en-us/web/api/element/sethtml/index.md
  files/en-us/web/api/idbtransaction/mode/index.md
  files/en-us/web/api/sanitizer/sanitizer/index.md
  files/en-us/web/javascript/reference/global_objects/webassembly/exception/exception/index.md
  files/en-us/web/javascript/reference/global_objects/webassembly/exception/getarg/index.md
  files/en-us/web/javascript/reference/global_objects/webassembly/exception/index.md
  files/en-us/web/javascript/reference/global_objects/webassembly/exception/is/index.md
  files/en-us/web/javascript/reference/global_objects/webassembly/exception/stack/index.md
  files/en-us/web/javascript/reference/global_objects/webassembly/tag/index.md
  files/en-us/web/javascript/reference/global_objects/webassembly/tag/tag/index.md
  files/en-us/web/javascript/reference/global_objects/webassembly/tag/type/index.md
  files/en-us/web/svg/tutorial/svg_and_css/index.md
  files/en-us/webassembly/understanding_the_text_format/index.md
Labels: Content:CSS, Content:WebAPI, Content:JS, Content:Learn, Content:Other, Content:Accessibility, Content:SVG, Content:wasm, Content:Glossary

#15583 fix: formatting of Quick_links
  files/en-us/related/imsc/basics/index.md
  files/en-us/related/imsc/imsc_and_other_standards/index.md
  files/en-us/related/imsc/index.md
  files/en-us/related/imsc/mapping_video_time_codes_to_imsc/index.md
  files/en-us/related/imsc/namespaces/index.md
  files/en-us/related/imsc/styling/index.md
  files/en-us/related/imsc/subtitle_placement/index.md
  files/en-us/related/imsc/timing_in_imsc/index.md
  files/en-us/related/imsc/using_the_imscjs_polyfill/index.md
  files/en-us/web/accessibility/aria/roles/meter_role/index.md
  files/en-us/web/events/creating_and_triggering_events/index.md
  files/en-us/web/events/detecting_device_orientation/index.md
  files/en-us/web/events/event_handlers/index.md
  files/en-us/web/events/index.md
  files/en-us/web/events/orientation_and_motion_data_explained/index.md
  files/en-us/web/events/using_device_orientation_with_3d_transforms/index.md
  files/en-us/web/exslt/index.md
  files/en-us/web/xpath/comparison_with_css_selectors/index.md
  files/en-us/web/xslt/index.md
Labels: Content:Other, Content:Accessibility

#15586 Fix typo in list-style-type: telugu
  files/en-us/web/css/list-style-type/index.md
Labels: Content:CSS

#15582 Update redirected URLs (part 33)
  files/en-us/games/tutorials/2d_breakout_game_phaser/randomizing_gameplay/index.md
  files/en-us/glossary/atag/index.md
  files/en-us/glossary/cross-site_scripting/index.md
  files/en-us/glossary/ecma/index.md
  files/en-us/glossary/iso/index.md
  files/en-us/glossary/javascript/index.md
  files/en-us/glossary/lgpl/index.md
  files/en-us/glossary/node.js/index.md
  files/en-us/glossary/protocol/index.md
  files/en-us/glossary/rest/index.md
  files/en-us/glossary/static_method/index.md
  files/en-us/glossary/windowproxy/index.md
  files/en-us/glossary/xpath/index.md
  files/en-us/learn/accessibility/html/index.md
  files/en-us/learn/accessibility/mobile/index.md
  files/en-us/learn/common_questions/common_web_layouts/index.md
  files/en-us/learn/common_questions/design_for_all_types_of_users/index.md
  files/en-us/learn/common_questions/how_much_does_it_cost/index.md
  files/en-us/learn/common_questions/upload_files_to_a_web_server/index.md
  files/en-us/learn/css/styling_text/web_fonts/index.md
  files/en-us/learn/forms/advanced_form_styling/index.md
  files/en-us/learn/forms/form_validation/index.md
  files/en-us/learn/forms/how_to_build_custom_form_controls/index.md
  files/en-us/learn/forms/html_forms_in_legacy_browsers/index.md
  files/en-us/learn/forms/sending_and_retrieving_form_data/index.md
  files/en-us/learn/html/howto/author_fast-loading_html_pages/index.md
  files/en-us/learn/html/introduction_to_html/the_head_metadata_in_html/index.md
  files/en-us/learn/html/multimedia_and_embedding/adding_vector_graphics_to_the_web/index.md
  files/en-us/learn/html/multimedia_and_embedding/video_and_audio_content/index.md
  files/en-us/learn/html/tables/advanced/index.md
  files/en-us/learn/performance/multimedia/index.md
  files/en-us/learn/server-side/configuring_server_mime_types/index.md
  files/en-us/learn/server-side/django/testing/index.md
  files/en-us/learn/server-side/express_nodejs/index.md
  files/en-us/learn/server-side/express_nodejs/mongoose/index.md
  files/en-us/learn/server-side/first_steps/web_frameworks/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/introduction/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_deployment_next/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_stores/index.md
  files/en-us/learn/tools_and_testing/cross_browser_testing/html_and_css/index.md
  files/en-us/learn/tools_and_testing/cross_browser_testing/javascript/index.md
  files/en-us/learn/tools_and_testing/cross_browser_testing/your_own_automation_environment/index.md
  files/en-us/mdn/about/index.md
  files/en-us/mdn/contribute/localize/index.md
  files/en-us/mdn/guidelines/does_this_belong_on_mdn/index.md
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/bookmarktreenode/index.md
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/bookmarktreenodeunmodifiable/index.md
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/create/index.md
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/createdetails/index.md
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/get/index.md
Labels: Content:WebExt, Content:Learn, Content:Other, Content:Glossary

#15581 fix: markdownlint spacing and CITE tag
  .markdownlint.json
  files/en-us/web/accessibility/aria/roles/spinbutton_role/index.md
  files/en-us/web/accessibility/understanding_colors_and_luminance/index.md
  files/en-us/web/api/document/evaluate/index.md
Labels: Content:WebAPI, Content:Accessibility

#15594 Remove glossary entries for 404 and 502 HTTP codes
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/glossary/404/index.md
  files/en-us/glossary/502/index.md
Labels: Content:Glossary

#15598 Fixed a typo
  files/en-us/web/http/headers/authorization/index.md
Labels: Content:HTTP

#15602 Add a missing semicolon
  files/en-us/learn/css/css_layout/floats/index.md
Labels: Content:Learn

#15605 Fix CSS Painting API sidebar
  files/en-us/web/api/css/index.md
  files/en-us/web/api/css/paintworklet/index.md
  files/en-us/web/api/css_painting_api/guide/index.md
  files/en-us/web/api/css_painting_api/index.md
  files/en-us/web/api/paintworklet/devicepixelratio/index.md
  files/en-us/web/api/paintworklet/index.md
  files/en-us/web/api/paintworklet/registerpaint/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

#15603 Fix sidebars in Bluetooth API
  files/en-us/web/api/bluetoothdevice/index.md
  files/en-us/web/api/bluetoothdevice/name/index.md
  files/en-us/web/api/bluetoothremotegattcharacteristic/getdescriptor/index.md
  files/en-us/web/api/bluetoothremotegattcharacteristic/getdescriptors/index.md
  files/en-us/web/api/bluetoothremotegattcharacteristic/properties/index.md
  files/en-us/web/api/bluetoothremotegattcharacteristic/readvalue/index.md
  files/en-us/web/api/bluetoothremotegattcharacteristic/service/index.md
  files/en-us/web/api/bluetoothremotegattcharacteristic/startnotifications/index.md
  files/en-us/web/api/bluetoothremotegattcharacteristic/stopnotifications/index.md
  files/en-us/web/api/bluetoothremotegattcharacteristic/uuid/index.md
  files/en-us/web/api/bluetoothremotegattcharacteristic/value/index.md
  files/en-us/web/api/bluetoothremotegattcharacteristic/writevalue/index.md
  files/en-us/web/api/bluetoothremotegattcharacteristic/writevaluewithoutresponse/index.md
  files/en-us/web/api/bluetoothremotegattcharacteristic/writevaluewithresponse/index.md
  files/en-us/web/api/bluetoothremotegattdescriptor/characteristic/index.md
  files/en-us/web/api/bluetoothremotegattdescriptor/index.md
  files/en-us/web/api/bluetoothremotegattdescriptor/readvalue/index.md
  files/en-us/web/api/bluetoothremotegattdescriptor/uuid/index.md
  files/en-us/web/api/bluetoothremotegattdescriptor/value/index.md
  files/en-us/web/api/bluetoothremotegattdescriptor/writevalue/index.md
  files/en-us/web/api/bluetoothremotegattserver/connect/index.md
  files/en-us/web/api/bluetoothremotegattserver/connected/index.md
  files/en-us/web/api/bluetoothremotegattserver/device/index.md
  files/en-us/web/api/bluetoothremotegattserver/disconnect/index.md
  files/en-us/web/api/bluetoothremotegattserver/getprimaryservice/index.md
  files/en-us/web/api/bluetoothremotegattserver/getprimaryservices/index.md
  files/en-us/web/api/bluetoothremotegattserver/index.md
  files/en-us/web/api/bluetoothremotegattservice/device/index.md
  files/en-us/web/api/bluetoothremotegattservice/getcharacteristic/index.md
  files/en-us/web/api/bluetoothremotegattservice/getcharacteristics/index.md
  files/en-us/web/api/bluetoothremotegattservice/index.md
  files/en-us/web/api/bluetoothremotegattservice/isprimary/index.md
  files/en-us/web/api/bluetoothremotegattservice/uuid/index.md
  files/en-us/web/api/bluetoothuuid/canonicaluuid/index.md
  files/en-us/web/api/bluetoothuuid/getcharacteristic/index.md
  files/en-us/web/api/bluetoothuuid/getdescriptor/index.md
  files/en-us/web/api/bluetoothuuid/getservice/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

#15595 Tiny typo (extra word and dot)
  files/en-us/web/http/headers/origin/index.md
Labels: Content:HTTP

#15315 Make overview pages of modules consistent
  files/en-us/learn/css/css_layout/index.md
  files/en-us/learn/front-end_web_developer/index.md
  files/en-us/learn/getting_started_with_the_web/css_basics/index.md
  files/en-us/learn/getting_started_with_the_web/how_the_web_works/index.md
  files/en-us/learn/getting_started_with_the_web/index.md
  files/en-us/learn/getting_started_with_the_web/javascript_basics/index.md
  files/en-us/learn/html/index.md
  files/en-us/learn/html/introduction_to_html/getting_started/index.md
  files/en-us/learn/html/multimedia_and_embedding/adding_vector_graphics_to_the_web/index.md
  files/en-us/learn/html/multimedia_and_embedding/index.md
  files/en-us/web/css/index.md
  files/en-us/web/html/index.md
Labels: Content:CSS, Content:HTML, Content:Learn

#15612 Replace {{event}} with {{domxref}}
  files/en-us/web/api/canvas_api/tutorial/basic_usage/index.md
Labels: Content:WebAPI

#15607 IDBRequest.error returns a DOMException or null, no more a DOMError
  files/en-us/web/api/idbrequest/error/index.md
Labels: Content:WebAPI

#15527 Document.createAttributeNS
  files/en-us/web/api/document/createattribute/index.md
  files/en-us/web/api/document/createattributens/index.md
  files/en-us/web/api/document/createelementns/index.md
  files/en-us/web/api/element/setattributenode/index.md
  files/en-us/web/api/element/setattributenodens/index.md
Labels: Content:WebAPI

#15619 Transform table of exception names into a definition list
  files/en-us/web/api/idbrequest/error/index.md
Labels: Content:WebAPI

#15613 Typo in macro name
  files/en-us/web/api/writablestream/abort/index.md
  files/en-us/web/api/writablestream/getwriter/index.md
  files/en-us/web/api/writablestreamdefaultcontroller/error/index.md
  files/en-us/web/api/writablestreamdefaultwriter/abort/index.md
  files/en-us/web/api/writablestreamdefaultwriter/close/index.md
  files/en-us/web/api/writablestreamdefaultwriter/desiredsize/index.md
  files/en-us/web/api/writablestreamdefaultwriter/writablestreamdefaultwriter/index.md
  files/en-us/web/api/writablestreamdefaultwriter/write/index.md
Labels: Content:WebAPI

#15611 Fix sidebars for Canvas, Channel Messaging, File System & Directory API, and Fullscreen
  files/en-us/web/api/channel_messaging_api/index.md
  files/en-us/web/api/eyedropper/index.md
  files/en-us/web/api/eyedropper/open/index.md
  files/en-us/web/api/eyedropper_api/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

#15600 Fix broken link in Broacast Channel API
  files/en-us/web/api/broadcast_channel_api/index.md
Labels: Content:WebAPI

#15618 Replace incorrect variable name
  files/en-us/web/api/globaleventhandlers/onselectionchange/index.md
Labels: Content:WebAPI

#15596 Remove table in Document.evaluate()
  files/en-us/web/api/document/evaluate/index.md
Labels: Content:WebAPI

#13689 Hover not supported
  files/en-us/web/css/@media/hover/index.md
Labels: Content:CSS

#14492 Slight "clean-up" of crossorigin attribute page
  files/en-us/web/html/attributes/crossorigin/index.md
Labels: Content:HTML

#15617 suggesting some typo fixes and a replacement of word usage
  files/en-us/learn/css/building_blocks/selectors/pseudo-classes_and_pseudo-elements/index.md
Labels: Content:Learn

#15615 Update experimental status of pseudo-elements
  files/en-us/web/css/_doublecolon_part/index.md
  files/en-us/web/css/pseudo-elements/index.md
Labels: Content:CSS

#15588 newly created -> new
  files/en-us/web/api/messagechannel/messagechannel/index.md
Labels: Content:WebAPI

#15624 Change CSS for nested `kbd` sample.
  files/en-us/web/html/element/kbd/index.md
Labels: Content:HTML

#15614 Tags of few offset & scroll-margin properties
  files/en-us/web/css/offset-anchor/index.md
  files/en-us/web/css/offset-path/index.md
  files/en-us/web/css/scroll-margin-block-end/index.md
  files/en-us/web/css/scroll-margin-block-start/index.md
  files/en-us/web/css/scroll-margin-block/index.md
  files/en-us/web/css/scroll-margin-inline-end/index.md
  files/en-us/web/css/scroll-margin/index.md
  files/en-us/web/css/scroll-padding-right/index.md
  files/en-us/web/css/scroll-padding-top/index.md
Labels: Content:CSS

#15587 Remove table + use Note: syntax
  files/en-us/web/api/canvasrenderingcontext2d/drawwindow/index.md
Labels: Content:WebAPI

#15480 Transform tables into definition lists
  files/en-us/web/api/element/insertadjacentelement/index.md
  files/en-us/web/api/element/insertadjacenttext/index.md
  files/en-us/web/api/htmlmediaelement/setsinkid/index.md
  files/en-us/web/api/idbdatabase/createobjectstore/index.md
  files/en-us/web/api/idbfactory/cmp/index.md
  files/en-us/web/api/idbfactory/databases/index.md
  files/en-us/web/api/idbfactory/open/index.md
  files/en-us/web/api/idbkeyrange/bound/index.md
  files/en-us/web/api/idbkeyrange/includes/index.md
  files/en-us/web/api/idbkeyrange/lowerbound/index.md
  files/en-us/web/api/idbkeyrange/only/index.md
  files/en-us/web/api/idbkeyrange/upperbound/index.md
  files/en-us/web/api/idbmutablefile/getfile/index.md
  files/en-us/web/api/idbmutablefile/name/index.md
  files/en-us/web/api/idbmutablefile/onabort/index.md
  files/en-us/web/api/idbmutablefile/onerror/index.md
  files/en-us/web/api/idbmutablefile/open/index.md
  files/en-us/web/api/idbmutablefile/type/index.md
  files/en-us/web/api/idbobjectstore/clear/index.md
  files/en-us/web/api/idbobjectstore/createindex/index.md
  files/en-us/web/api/idbobjectstore/delete/index.md
  files/en-us/web/api/idbrequest/readystate/index.md
  files/en-us/web/api/idbtransaction/mode/index.md
  files/en-us/web/api/idbversionchangeevent/newversion/index.md
  files/en-us/web/api/idbversionchangeevent/oldversion/index.md
  files/en-us/web/api/idbversionchangeevent/version/index.md
Labels: Content:WebAPI

#15629 Update redirected URLs (part 34)
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/getchildren/index.md
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/getrecent/index.md
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/getsubtree/index.md
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/gettree/index.md
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/move/index.md
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/onchanged/index.md
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/onchildrenreordered/index.md
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/oncreated/index.md
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/onimportbegan/index.md
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/onimportended/index.md
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/onmoved/index.md
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/onremoved/index.md
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/remove/index.md
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/removetree/index.md
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/search/index.md
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/update/index.md
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/colorarray/index.md
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/disable/index.md
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/enable/index.md
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/getbadgebackgroundcolor/index.md
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/getbadgetext/index.md
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/getbadgetextcolor/index.md
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/getpopup/index.md
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/gettitle/index.md
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/imagedatatype/index.md
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/onclicked/index.md
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/setbadgebackgroundcolor/index.md
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/setbadgetext/index.md
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/setbadgetextcolor/index.md
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/seticon/index.md
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/setpopup/index.md
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/settitle/index.md
  files/en-us/mozilla/add-ons/webextensions/api/captiveportal/canonicalurl/index.md
  files/en-us/mozilla/add-ons/webextensions/api/cookies/cookie/index.md
  files/en-us/mozilla/add-ons/webextensions/api/cookies/cookiestore/index.md
  files/en-us/mozilla/add-ons/webextensions/api/cookies/get/index.md
  files/en-us/mozilla/add-ons/webextensions/api/cookies/getall/index.md
  files/en-us/mozilla/add-ons/webextensions/api/cookies/getallcookiestores/index.md
  files/en-us/mozilla/add-ons/webextensions/api/cookies/onchanged/index.md
  files/en-us/mozilla/add-ons/webextensions/api/cookies/onchangedcause/index.md
  files/en-us/mozilla/add-ons/webextensions/api/cookies/remove/index.md
  files/en-us/mozilla/add-ons/webextensions/api/cookies/set/index.md
  files/en-us/mozilla/add-ons/webextensions/api/downloads/acceptdanger/index.md
  files/en-us/mozilla/add-ons/webextensions/api/downloads/booleandelta/index.md
  files/en-us/mozilla/add-ons/webextensions/api/downloads/cancel/index.md
  files/en-us/mozilla/add-ons/webextensions/api/downloads/dangertype/index.md
  files/en-us/mozilla/add-ons/webextensions/api/downloads/doubledelta/index.md
  files/en-us/mozilla/add-ons/webextensions/api/downloads/download/index.md
  files/en-us/mozilla/add-ons/webextensions/api/downloads/downloaditem/index.md
  files/en-us/mozilla/add-ons/webextensions/api/downloads/downloadquery/index.md
Labels: Content:WebExt, Content:Other

#15632 Update getAsString() function page
  files/en-us/web/api/datatransferitem/getasstring/index.md
Labels: Content:WebAPI

#15636 update "using web workers" link
  files/en-us/mozilla/firefox/releases/3.5/index.md
Labels: Content:Other

#15642 Fix rendering of the tbody element in HTML
  files/en-us/web/html/element/tbody/index.md
Labels: Content:HTML

#15646 Link to path()
  files/en-us/web/css/basic-shape/index.md
Labels: Content:CSS

#15592 FF101 RelNote: HTMLInputElement.showPicker() supported
  files/en-us/mozilla/firefox/releases/101/index.md
Labels: Content:Other

#15590 Update structure of options for constructor BlobEvent
  files/en-us/web/api/blobevent/blobevent/index.md
Labels: Content:WebAPI

#15522 Update Marionette release notes
  files/en-us/mozilla/firefox/releases/100/index.md
Labels: Content:Other

#15625 FF101 HTMLMediaElement.preservesPitch updates
  files/en-us/mozilla/firefox/releases/101/index.md
  files/en-us/web/api/htmlmediaelement/preservespitch/index.md
Labels: Content:WebAPI, Content:Other

#15656 Remove 10-year old broken example on Window.personalbar
  files/en-us/web/api/window/personalbar/index.md
Labels: Content:WebAPI

#15662 fixed formatting
  files/en-us/web/api/urlsearchparams/urlsearchparams/index.md
Labels: Content:WebAPI

#15665 Typo fix, removed extraneous "the"
  files/en-us/web/accessibility/aria/attributes/aria-placeholder/index.md
Labels: Content:Accessibility

#15664 Fix link to dynamic-range & video-dynamic-range
  files/en-us/mozilla/firefox/releases/100/index.md
Labels: Content:Other

#15667 Fix broken link on aria-selected page
  files/en-us/web/accessibility/aria/attributes/aria-selected/index.md
Labels: Content:Accessibility

#15658 Fix invalid tag
  files/en-us/web/accessibility/aria/attributes/aria-placeholder/index.md
Labels: Content:Accessibility

#15650 Change link to the "Currency code list"
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/numberformat/index.md
Labels: Content:JS

#14409 Remove `module` "keyword" from ASI section
  files/en-us/web/javascript/reference/lexical_grammar/index.md
Labels: Content:JS

#15669 fix: various typos
  files/en-us/web/api/htmlinputelement/showpicker/index.md
  files/en-us/web/api/messagechannel/messagechannel/index.md
Labels: Content:WebAPI

#15645 Avoid using emoji as a collation example
  files/en-us/web/javascript/reference/global_objects/intl/locale/collation/index.md
Labels: 🧑‍🤝‍🧑 community

#14499 Minor typo fix
  files/en-us/web/api/atob/index.md
Labels: Content:WebAPI

#14064 Add a footnote to explain potential confusion
  files/en-us/learn/javascript/first_steps/math/index.md
Labels: Content:Learn

#14033 Fix typo null as the bottom of proto chain
  files/en-us/web/javascript/inheritance_and_the_prototype_chain/index.md
Labels: Content:JS

#15630 Fix line number references in CORS
  files/en-us/web/http/cors/index.md
Labels: Content:HTTP, needs info

#15670 Update redirected URLs (part 35)
  files/en-us/mozilla/add-ons/webextensions/api/downloads/downloadtime/index.md
  files/en-us/mozilla/add-ons/webextensions/api/downloads/drag/index.md
  files/en-us/mozilla/add-ons/webextensions/api/downloads/erase/index.md
  files/en-us/mozilla/add-ons/webextensions/api/downloads/filenameconflictaction/index.md
  files/en-us/mozilla/add-ons/webextensions/api/downloads/getfileicon/index.md
  files/en-us/mozilla/add-ons/webextensions/api/downloads/interruptreason/index.md
  files/en-us/mozilla/add-ons/webextensions/api/downloads/onchanged/index.md
  files/en-us/mozilla/add-ons/webextensions/api/downloads/oncreated/index.md
  files/en-us/mozilla/add-ons/webextensions/api/downloads/onerased/index.md
  files/en-us/mozilla/add-ons/webextensions/api/downloads/open/index.md
  files/en-us/mozilla/add-ons/webextensions/api/downloads/pause/index.md
  files/en-us/mozilla/add-ons/webextensions/api/downloads/removefile/index.md
  files/en-us/mozilla/add-ons/webextensions/api/downloads/resume/index.md
  files/en-us/mozilla/add-ons/webextensions/api/downloads/search/index.md
  files/en-us/mozilla/add-ons/webextensions/api/downloads/setshelfenabled/index.md
  files/en-us/mozilla/add-ons/webextensions/api/downloads/show/index.md
  files/en-us/mozilla/add-ons/webextensions/api/downloads/showdefaultfolder/index.md
  files/en-us/mozilla/add-ons/webextensions/api/downloads/state/index.md
  files/en-us/mozilla/add-ons/webextensions/api/downloads/stringdelta/index.md
  files/en-us/mozilla/add-ons/webextensions/api/events/event/index.md
  files/en-us/mozilla/add-ons/webextensions/api/events/rule/index.md
  files/en-us/mozilla/add-ons/webextensions/api/events/urlfilter/index.md
  files/en-us/mozilla/add-ons/webextensions/api/extension/getbackgroundpage/index.md
  files/en-us/mozilla/add-ons/webextensions/api/extension/getextensiontabs/index.md
  files/en-us/mozilla/add-ons/webextensions/api/extension/geturl/index.md
  files/en-us/mozilla/add-ons/webextensions/api/extension/getviews/index.md
  files/en-us/mozilla/add-ons/webextensions/api/extension/inincognitocontext/index.md
  files/en-us/mozilla/add-ons/webextensions/api/extension/isallowedfileschemeaccess/index.md
  files/en-us/mozilla/add-ons/webextensions/api/extension/isallowedincognitoaccess/index.md
  files/en-us/mozilla/add-ons/webextensions/api/extension/lasterror/index.md
  files/en-us/mozilla/add-ons/webextensions/api/extension/onrequest/index.md
  files/en-us/mozilla/add-ons/webextensions/api/extension/onrequestexternal/index.md
  files/en-us/mozilla/add-ons/webextensions/api/extension/sendrequest/index.md
  files/en-us/mozilla/add-ons/webextensions/api/extension/setupdateurldata/index.md
  files/en-us/mozilla/add-ons/webextensions/api/extension/viewtype/index.md
  files/en-us/mozilla/add-ons/webextensions/api/extensiontypes/imagedetails/index.md
  files/en-us/mozilla/add-ons/webextensions/api/extensiontypes/imageformat/index.md
  files/en-us/mozilla/add-ons/webextensions/api/extensiontypes/runat/index.md
  files/en-us/mozilla/add-ons/webextensions/api/history/addurl/index.md
  files/en-us/mozilla/add-ons/webextensions/api/history/deleteall/index.md
  files/en-us/mozilla/add-ons/webextensions/api/history/deleterange/index.md
  files/en-us/mozilla/add-ons/webextensions/api/history/deleteurl/index.md
  files/en-us/mozilla/add-ons/webextensions/api/history/getvisits/index.md
  files/en-us/mozilla/add-ons/webextensions/api/history/historyitem/index.md
  files/en-us/mozilla/add-ons/webextensions/api/history/ontitlechanged/index.md
  files/en-us/mozilla/add-ons/webextensions/api/history/onvisited/index.md
  files/en-us/mozilla/add-ons/webextensions/api/history/onvisitremoved/index.md
  files/en-us/mozilla/add-ons/webextensions/api/history/search/index.md
  files/en-us/mozilla/add-ons/webextensions/api/history/transitiontype/index.md
  files/en-us/mozilla/add-ons/webextensions/api/history/visititem/index.md
Labels: Content:WebExt, Content:Other

#15675 Typo: fix capitalization of parameter name
  files/en-us/web/api/bluetoothremotegattserver/getprimaryservice/index.md
Labels: Content:WebAPI

#15165 A note for empty string returned for default ports
  files/en-us/web/api/url/port/index.md
Labels: Content:WebAPI

#15580 Remove obsolete attributes of Error
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/javascript/reference/global_objects/error/index.md
  files/en-us/web/javascript/reference/global_objects/error/tosource/index.md
Labels: Content:JS

#15529 Deprecated notice for "track" RTCStatsType
  files/en-us/web/api/rtcstatstype/index.md
Labels: Content:WebAPI

#15678 Improve See also links
  files/en-us/web/javascript/reference/global_objects/error/stack/index.md
Labels: Content:JS

#15677 Remove uses of {{exception}} macro
  files/en-us/mdn/contribute/howto/write_an_api_reference/information_contained_in_a_webidl_file/index.md
  files/en-us/mozilla/firefox/releases/38/index.md
  files/en-us/mozilla/firefox/releases/43/index.md
  files/en-us/web/api/crypto/getrandomvalues/index.md
  files/en-us/web/api/element/closest/index.md
  files/en-us/web/api/idbtransaction/abort/index.md
  files/en-us/web/api/idbtransaction/commit/index.md
  files/en-us/web/api/idbtransaction/error/index.md
  files/en-us/web/api/offlineaudiocontext/resume/index.md
  files/en-us/web/http/headers/feature-policy/payment/index.md
Labels: Content:WebAPI, Content:Other, Content:HTTP

#15643 Update 「Compiling a New C/C++ Module to WebAssembly」Doc
  files/en-us/webassembly/c_to_wasm/index.md
Labels: Content:wasm

#15682 Fix some links (using macros) in HTML DOM API
  files/en-us/web/api/html_dom_api/index.md
Labels: Content:WebAPI

#15674 Move hexadecimal values to new <hex-color> page
  files/en-us/web/css/hex-color/index.md
Labels: Content:CSS

#15681 Introduce block formatting context abbreviation
  files/en-us/web/guide/css/block_formatting_context/index.md
Labels: Content:Learn

#15688 Fix 15532: remove reference to DOM
  files/en-us/web/javascript/reference/functions/arrow_functions/index.md
Labels: Content:JS

#15689 Typo in JavaScript Guide
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
Labels: Content:JS

#15695 Fix issue 15477: correct example code
  files/en-us/web/api/rtcpeerconnection/icecandidate_event/index.md
Labels: Content:WebAPI

#15692 Function repeat example
  files/en-us/web/css/repeat/index.md
Labels: Content:CSS

#15686 Fix issue 15679: Remove live sample
  files/en-us/web/css/@media/prefers-reduced-data/index.md
Labels: Content:CSS

#15691 Fix issue 15502: fix SVG live samples
  files/en-us/web/svg/attribute/basefrequency/index.md
  files/en-us/web/svg/attribute/fy/index.md
  files/en-us/web/svg/attribute/numoctaves/index.md
  files/en-us/web/svg/attribute/requiredfeatures/index.md
  files/en-us/web/svg/attribute/seed/index.md
  files/en-us/web/svg/attribute/visibility/index.md
Labels: Content:SVG

#15684 Update Element.closest() and Element.matches()
  files/en-us/web/api/element/closest/index.md
  files/en-us/web/api/element/matches/index.md
Labels: Content:WebAPI

#15644 Add more information about collation types
  files/en-us/web/javascript/reference/global_objects/intl/collator/collator/index.md
  files/en-us/web/javascript/reference/global_objects/intl/locale/collation/index.md
Labels: Content:JS

#15702 Remove \`...\` because it isn't a keyword
  files/en-us/web/javascript/reference/functions/arrow_functions/index.md
Labels: Content:JS

#15703 Remove unnecessary link (which links to the page itself)
  files/en-us/web/javascript/reference/functions/index.md
Labels: Content:JS

#15701 Fix link flaws in JavaScript Functions
  files/en-us/web/javascript/reference/functions/arguments/callee/index.md
  files/en-us/web/javascript/reference/functions/arguments/index.md
  files/en-us/web/javascript/reference/functions/set/index.md
Labels: Content:JS

#15700 Fix typos
  files/en-us/learn/html/cheatsheet/index.md
  files/en-us/web/accessibility/understanding_wcag/perceivable/use_of_color/index.html
  files/en-us/web/accessibility/understanding_wcag/text_labels_and_names/index.md
  files/en-us/web/api/css_painting_api/guide/index.md
  files/en-us/web/api/document/domcontentloaded_event/index.md
  files/en-us/web/api/document/readystatechange_event/index.md
  files/en-us/web/api/element/compositionend_event/index.md
  files/en-us/web/api/element/compositionstart_event/index.md
  files/en-us/web/api/element/compositionupdate_event/index.md
  files/en-us/web/api/htmlareaelement/hostname/index.md
  files/en-us/web/api/page_visibility_api/index.md
  files/en-us/web/api/stylesheet/media/index.md
  files/en-us/web/api/webgl_api/tutorial/animating_textures_in_webgl/index.md
  files/en-us/web/api/window/error_event/index.md
  files/en-us/web/api/window/load_event/index.md
  files/en-us/web/api/xmlhttprequest/html_in_xmlhttprequest/index.md
  files/en-us/web/css/@media/color-gamut/index.md
  files/en-us/web/css/_colon_first/index.md
  files/en-us/web/css/_doublecolon_file-selector-button/index.md
  files/en-us/web/css/_doublecolon_grammar-error/index.md
  files/en-us/web/css/_doublecolon_spelling-error/index.md
  files/en-us/web/css/animation-direction/index.md
  files/en-us/web/css/color_value/color_keywords/index.md
  files/en-us/web/css/content/index.md
  files/en-us/web/css/css_colors/color_picker_tool/index.md
  files/en-us/web/css/css_grid_layout/layout_using_named_grid_lines/index.md
  files/en-us/web/css/css_values_and_units/index.md
  files/en-us/web/css/image-orientation/index.md
  files/en-us/web/css/length/index.md
  files/en-us/web/css/line-height/index.md
  files/en-us/web/css/outline/index.md
  files/en-us/web/css/transform-box/index.md
  files/en-us/web/css/transform-origin/index.md
  files/en-us/web/guide/css/getting_started/challenge_solutions/index.md
  files/en-us/web/guide/html/content_categories/index.md
  files/en-us/web/html/attributes/multiple/index.md
  files/en-us/web/html/element/a/index.md
  files/en-us/web/html/element/kbd/index.md
  files/en-us/web/html/element/rb/index.md
  files/en-us/web/javascript/guide/regular_expressions/assertions/index.md
  files/en-us/web/javascript/reference/errors/missing_parenthesis_after_argument_list/index.md
  files/en-us/web/javascript/reference/global_objects/date/setutchours/index.md
  files/en-us/web/javascript/reference/global_objects/intl/locale/weekinfo/index.md
  files/en-us/web/javascript/reference/global_objects/intl/relativetimeformat/format/index.md
  files/en-us/web/javascript/reference/global_objects/intl/relativetimeformat/relativetimeformat/index.md
  files/en-us/web/javascript/reference/global_objects/isfinite/index.md
  files/en-us/web/javascript/reference/global_objects/math/log1p/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/hasinstance/index.md
  files/en-us/web/javascript/reference/operators/this/index.md
  files/en-us/web/javascript/the_performance_hazards_of_prototype_mutation/index.md
  files/en-us/web/mathml/element/index.md
  files/en-us/web/performance/how_long_is_too_long/index.md
  files/en-us/web/performance/lazy_loading/index.md
  files/en-us/web/performance/rum-vs-synthetic/index.md
  files/en-us/web/performance/understanding_latency/index.md
  files/en-us/web/svg/attribute/cy/index.md
  files/en-us/web/web_components/using_templates_and_slots/index.md
  files/en-us/webassembly/reference/numeric/greater_or_equal/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:JS, Content:Learn, Content:Other, Content:Accessibility, Content:SVG, Content:wasm, Content:MathML

#15699 WebAPI: Update constructor pages (part 7)
  files/en-us/web/api/abortcontroller/abortcontroller/index.md
  files/en-us/web/api/analysernode/analysernode/index.md
  files/en-us/web/api/animationevent/animationevent/index.md
  files/en-us/web/api/animationplaybackevent/animationplaybackevent/index.md
  files/en-us/web/api/audiobuffer/audiobuffer/index.md
  files/en-us/web/api/audiodata/audiodata/index.md
  files/en-us/web/api/audiodecoder/audiodecoder/index.md
  files/en-us/web/api/audioencoder/audioencoder/index.md
  files/en-us/web/api/audioworkletnode/audioworkletnode/index.md
  files/en-us/web/api/backgroundfetchevent/backgroundfetchevent/index.md
Labels: Content:WebAPI

#15696 Fix typos in “Functions” article
  files/en-us/web/javascript/guide/functions/index.md
Labels: Content:JS

#15698 Update redirected URLs (part 36)
  files/en-us/mozilla/add-ons/webextensions/api/i18n/detectlanguage/index.md
  files/en-us/mozilla/add-ons/webextensions/api/i18n/getacceptlanguages/index.md
  files/en-us/mozilla/add-ons/webextensions/api/i18n/getmessage/index.md
  files/en-us/mozilla/add-ons/webextensions/api/i18n/getuilanguage/index.md
  files/en-us/mozilla/add-ons/webextensions/api/i18n/languagecode/index.md
  files/en-us/mozilla/add-ons/webextensions/api/idle/idlestate/index.md
  files/en-us/mozilla/add-ons/webextensions/api/idle/onstatechanged/index.md
  files/en-us/mozilla/add-ons/webextensions/api/idle/querystate/index.md
  files/en-us/mozilla/add-ons/webextensions/api/idle/setdetectioninterval/index.md
  files/en-us/mozilla/add-ons/webextensions/api/management/extensioninfo/index.md
  files/en-us/mozilla/add-ons/webextensions/api/management/get/index.md
  files/en-us/mozilla/add-ons/webextensions/api/management/getall/index.md
  files/en-us/mozilla/add-ons/webextensions/api/management/getpermissionwarningsbyid/index.md
  files/en-us/mozilla/add-ons/webextensions/api/management/getpermissionwarningsbymanifest/index.md
  files/en-us/mozilla/add-ons/webextensions/api/management/getself/index.md
  files/en-us/mozilla/add-ons/webextensions/api/management/ondisabled/index.md
  files/en-us/mozilla/add-ons/webextensions/api/management/onenabled/index.md
  files/en-us/mozilla/add-ons/webextensions/api/management/oninstalled/index.md
  files/en-us/mozilla/add-ons/webextensions/api/management/onuninstalled/index.md
  files/en-us/mozilla/add-ons/webextensions/api/management/setenabled/index.md
  files/en-us/mozilla/add-ons/webextensions/api/management/uninstall/index.md
  files/en-us/mozilla/add-ons/webextensions/api/management/uninstallself/index.md
  files/en-us/mozilla/add-ons/webextensions/api/menus/action_menu_top_level_limit/index.md
  files/en-us/mozilla/add-ons/webextensions/api/menus/contexttype/index.md
  files/en-us/mozilla/add-ons/webextensions/api/menus/create/index.md
  files/en-us/mozilla/add-ons/webextensions/api/menus/createproperties/index.md
  files/en-us/mozilla/add-ons/webextensions/api/menus/itemtype/index.md
  files/en-us/mozilla/add-ons/webextensions/api/menus/onclickdata/index.md
  files/en-us/mozilla/add-ons/webextensions/api/menus/onclicked/index.md
  files/en-us/mozilla/add-ons/webextensions/api/menus/remove/index.md
  files/en-us/mozilla/add-ons/webextensions/api/menus/removeall/index.md
  files/en-us/mozilla/add-ons/webextensions/api/menus/update/index.md
  files/en-us/mozilla/add-ons/webextensions/api/notifications/create/index.md
  files/en-us/mozilla/add-ons/webextensions/api/pageaction/getpopup/index.md
  files/en-us/mozilla/add-ons/webextensions/api/pageaction/gettitle/index.md
  files/en-us/mozilla/add-ons/webextensions/api/pageaction/hide/index.md
  files/en-us/mozilla/add-ons/webextensions/api/pageaction/imagedatatype/index.md
  files/en-us/mozilla/add-ons/webextensions/api/pageaction/onclicked/index.md
  files/en-us/mozilla/add-ons/webextensions/api/pageaction/seticon/index.md
  files/en-us/mozilla/add-ons/webextensions/api/pageaction/setpopup/index.md
  files/en-us/mozilla/add-ons/webextensions/api/pageaction/settitle/index.md
  files/en-us/mozilla/add-ons/webextensions/api/pageaction/show/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/connect/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/connectnative/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/getbackgroundpage/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/getmanifest/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/getpackagedirectoryentry/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/getplatforminfo/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/geturl/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/id/index.md
Labels: Content:WebExt, Content:Other

#15705 Fix CSS animation examples
  files/en-us/web/css/animation-delay/index.md
  files/en-us/web/css/animation-direction/index.md
  files/en-us/web/css/animation-duration/index.md
  files/en-us/web/css/animation-fill-mode/index.md
  files/en-us/web/css/animation-iteration-count/index.md
  files/en-us/web/css/animation-name/index.md
  files/en-us/web/css/animation-play-state/index.md
  files/en-us/web/css/animation-timeline/index.md
Labels: Content:CSS

#15707 Fix the return value
  files/en-us/web/api/barcodedetector/getsupportedformats/index.md
Labels: Content:WebAPI

#15706 Replace `String` wrapper object with string primitive
  files/en-us/web/api/barcodedetector/detect/index.md
  files/en-us/web/api/barcodedetector/index.md
Labels: Content:WebAPI

#15710 Remove comments about complex selector
  files/en-us/web/css/_colon_not/index.md
Labels: Content:CSS

#15716 Fix Device orientation and motion sidebar
  files/en-us/web/api/devicemotionevent/acceleration/index.md
  files/en-us/web/api/devicemotionevent/accelerationincludinggravity/index.md
  files/en-us/web/api/devicemotionevent/index.md
  files/en-us/web/api/devicemotionevent/interval/index.md
  files/en-us/web/api/devicemotionevent/rotationrate/index.md
  files/en-us/web/api/devicemotioneventacceleration/index.md
  files/en-us/web/api/devicemotioneventacceleration/x/index.md
  files/en-us/web/api/devicemotioneventacceleration/y/index.md
  files/en-us/web/api/devicemotioneventacceleration/z/index.md
  files/en-us/web/api/devicemotioneventrotationrate/alpha/index.md
  files/en-us/web/api/devicemotioneventrotationrate/beta/index.md
  files/en-us/web/api/devicemotioneventrotationrate/gamma/index.md
  files/en-us/web/api/devicemotioneventrotationrate/index.md
  files/en-us/web/api/deviceorientationevent/index.md
  files/en-us/web/events/detecting_device_orientation/index.md
  files/en-us/web/events/orientation_and_motion_data_explained/index.md
  files/en-us/web/events/using_device_orientation_with_3d_transforms/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, Content:Other

#15694 minor fixes of some Web Audio API articles
  files/en-us/web/api/audioparam/index.md
  files/en-us/web/api/pannernode/index.md
  files/en-us/web/api/web_audio_api/basic_concepts_behind_web_audio_api/index.md
Labels: Content:WebAPI

#15724 Fixed a spelling error
  files/en-us/learn/javascript/building_blocks/conditionals/index.md
Labels: Content:Learn

#15725 Fixed internal links to HTML data-* attr page
  files/en-us/web/api/svgelement/index.md
Labels: Content:WebAPI

#15731 typo in cssxref
  files/en-us/web/css/animation/index.md
Labels: Content:CSS

#15730 typo: spatialisation -> spatialization
  files/en-us/web/api/audiolistener/setposition/index.md
  files/en-us/web/api/baseaudiocontext/createpanner/index.md
  files/en-us/web/api/pannernode/coneinnerangle/index.md
  files/en-us/web/api/pannernode/coneouterangle/index.md
  files/en-us/web/api/pannernode/coneoutergain/index.md
  files/en-us/web/api/pannernode/distancemodel/index.md
  files/en-us/web/api/pannernode/orientationy/index.md
  files/en-us/web/api/pannernode/orientationz/index.md
  files/en-us/web/api/pannernode/panningmodel/index.md
  files/en-us/web/api/pannernode/positionx/index.md
  files/en-us/web/api/pannernode/positiony/index.md
  files/en-us/web/api/pannernode/positionz/index.md
  files/en-us/web/api/pannernode/refdistance/index.md
  files/en-us/web/api/pannernode/rollofffactor/index.md
Labels: Content:WebAPI

#15635 Updated the guide for setting up the MongoDB database
  files/en-us/learn/server-side/express_nodejs/mongoose/connect_to_cluster_allowanywhere.png
  files/en-us/learn/server-side/express_nodejs/mongoose/index.md
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_accessrules.jpg
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_adddata.jpg
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_chooseaconnectionmethod.jpg
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_chooseproviderregion.jpg
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_connectbutton.jpg
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_connectforshortsrv.jpg
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_connectforshortsrv_2020-03.png
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_createcluster.jpg
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_createcollection.jpg
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_createdatabase.jpg
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_createdatabase2.png
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_createsharedcluster.jpg
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_databasecreated.jpg
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_databasedetails.jpg
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_deploy.jpg
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_securityquickstart.jpg
Labels: Content:Learn

#15683 Change width to height
  files/en-us/learn/css/css_layout/flexbox/index.md
Labels: Content:Learn

#15737 Fix issue 14149: remove Games iframe
  files/en-us/games/index.md
Labels: Content:Other

#15736 Fix issue 14318: explain better about invalid custom CSS properties
  files/en-us/web/css/using_css_custom_properties/index.md
Labels: Content:CSS

#15721 Update CODEOWNERS
  .github/CODEOWNERS
Labels: bug

#15685 inform people that DataTransfer.files has data only during drop events
  files/en-us/web/api/datatransfer/files/index.md
Labels: Content:WebAPI

#15738 Fix issue 15668: remove LearnBox macro calls
  files/en-us/glossary/index.md
  files/en-us/learn/index.md
Labels: Content:Learn, Content:Glossary

#15734 `DOMString` -> `string`
  files/en-us/web/api/filesystementry/fullpath/index.md
  files/en-us/web/api/filesystementry/index.md
  files/en-us/web/api/filesystementry/name/index.md
  files/en-us/web/api/focusevent/focusevent/index.md
  files/en-us/web/api/fontface/display/index.md
  files/en-us/web/api/fontface/family/index.md
  files/en-us/web/api/fontface/index.md
  files/en-us/web/api/formdataevent/formdataevent/index.md
  files/en-us/web/api/gamepad/index.md
  files/en-us/web/api/gamepadevent/gamepadevent/index.md
  files/en-us/web/api/geolocationpositionerror/index.md
  files/en-us/web/api/geolocationpositionerror/message/index.md
  files/en-us/web/api/hashchangeevent/newurl/index.md
  files/en-us/web/api/hashchangeevent/oldurl/index.md
  files/en-us/web/api/hidconnectionevent/hidconnectionevent/index.md
  files/en-us/web/api/hkdfparams/index.md
  files/en-us/web/api/hmacimportparams/index.md
  files/en-us/web/api/hmackeygenparams/index.md
  files/en-us/web/api/html_drag_and_drop_api/drag_operations/index.md
  files/en-us/web/api/html_drag_and_drop_api/recommended_drag_types/index.md
  files/en-us/web/api/htmlanchorelement/download/index.md
  files/en-us/web/api/htmlanchorelement/hash/index.md
  files/en-us/web/api/htmlanchorelement/host/index.md
  files/en-us/web/api/htmlanchorelement/hostname/index.md
  files/en-us/web/api/htmlanchorelement/href/index.md
  files/en-us/web/api/htmlanchorelement/index.md
  files/en-us/web/api/htmlanchorelement/origin/index.md
  files/en-us/web/api/htmlanchorelement/password/index.md
  files/en-us/web/api/htmlanchorelement/pathname/index.md
  files/en-us/web/api/htmlanchorelement/port/index.md
  files/en-us/web/api/htmlanchorelement/protocol/index.md
  files/en-us/web/api/htmlanchorelement/referrerpolicy/index.md
  files/en-us/web/api/htmlanchorelement/rel/index.md
  files/en-us/web/api/htmlanchorelement/rellist/index.md
  files/en-us/web/api/htmlanchorelement/search/index.md
  files/en-us/web/api/htmlanchorelement/username/index.md
  files/en-us/web/api/htmlareaelement/hash/index.md
  files/en-us/web/api/htmlareaelement/host/index.md
  files/en-us/web/api/htmlareaelement/hostname/index.md
  files/en-us/web/api/htmlareaelement/href/index.md
  files/en-us/web/api/htmlareaelement/index.md
  files/en-us/web/api/htmlareaelement/origin/index.md
  files/en-us/web/api/htmlareaelement/password/index.md
  files/en-us/web/api/htmlareaelement/pathname/index.md
  files/en-us/web/api/htmlareaelement/port/index.md
  files/en-us/web/api/htmlareaelement/protocol/index.md
  files/en-us/web/api/htmlareaelement/referrerpolicy/index.md
  files/en-us/web/api/htmlareaelement/rel/index.md
  files/en-us/web/api/htmlareaelement/rellist/index.md
  files/en-us/web/api/htmlareaelement/search/index.md
  files/en-us/web/api/htmlareaelement/username/index.md
  files/en-us/web/api/htmlaudioelement/audio/index.md
  files/en-us/web/api/htmlbaseelement/index.md
Labels: Content:WebAPI

#15733 Update redirected URLs (part 37)
  files/en-us/mozilla/add-ons/webextensions/api/runtime/lasterror/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/messagesender/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/onbrowserupdateavailable/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/onconnect/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/onconnectexternal/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/oninstalled/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/oninstalledreason/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/onmessage/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/onmessageexternal/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/onrestartrequired/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/onrestartrequiredreason/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/onstartup/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/onsuspend/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/onsuspendcanceled/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/onupdateavailable/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/openoptionspage/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/platformarch/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/platforminfo/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/platformnaclarch/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/platformos/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/port/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/reload/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/requestupdatecheck/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/requestupdatecheckstatus/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/sendmessage/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/sendnativemessage/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/setuninstallurl/index.md
  files/en-us/mozilla/add-ons/webextensions/api/storage/local/index.md
  files/en-us/mozilla/add-ons/webextensions/api/storage/managed/index.md
  files/en-us/mozilla/add-ons/webextensions/api/storage/onchanged/index.md
  files/en-us/mozilla/add-ons/webextensions/api/storage/storagearea/index.md
  files/en-us/mozilla/add-ons/webextensions/api/storage/storagechange/index.md
  files/en-us/mozilla/add-ons/webextensions/api/storage/sync/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/capturetab/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/capturevisibletab/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/connect/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/create/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/detectlanguage/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/discard/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/duplicate/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/executescript/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/get/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/getallinwindow/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/getcurrent/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/getselected/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/getzoom/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/getzoomsettings/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/goback/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/goforward/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/highlight/index.md
Labels: Content:WebExt, Content:Other

#15742 fix typo
  files/en-us/learn/common_questions/common_web_layouts/index.md
Labels: Content:Learn

#15745 Wrong head field name used in syntax example
  files/en-us/web/http/headers/accept-post/index.md
Labels: Content:HTTP

#12650 New page: menu role
  files/en-us/web/accessibility/aria/roles/menu_role/index.md
Labels: Content:Accessibility

#14447 Major revision: menuitem role
  files/en-us/web/accessibility/aria/roles/menuitem_role/index.md
Labels: Content:Accessibility

#14451 Major revision: menubar role
  files/en-us/web/accessibility/aria/roles/menubar_role/index.md
Labels: Content:Accessibility

#14534 Major Revision: combobox role
  files/en-us/web/accessibility/aria/roles/combobox_role/index.md
Labels: Content:Accessibility

#15747 Fix typo in link
  files/en-us/web/api/subtlecrypto/derivekey/index.md
Labels: Content:WebAPI

#13165 Fixes #10070 - Adds exception for `div` inside `a`
  files/en-us/web/html/inline_elements/index.md
Labels: Content:HTML

#15749 Fix-sidebar-for-EME
  files/jsondata/GroupData.json
Labels: bug, 🧑‍🤝‍🧑 community

#15753 Add sidebars to KeyboardEvent code/key_values
  files/en-us/web/api/keyboardevent/code/code_values/index.md
  files/en-us/web/api/keyboardevent/key/key_values/index.md
Labels: Content:WebAPI

#15750 Article-- CSS values and units: fixed typos
  files/en-us/learn/css/building_blocks/values_and_units/index.md
Labels: Content:Learn

#15754 Remove Window.dialogArguments from MDN
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/window/dialogarguments/index.md
  files/en-us/web/api/window/index.md
  files/en-us/web/api/window/showmodaldialog/index.md
Labels: Content:WebAPI

#15215 Add syntax and description to @layer
  files/en-us/web/css/@layer/index.md
Labels: Content:CSS

#15760 Fixed typo.
  files/en-us/learn/html/introduction_to_html/getting_started/index.md
Labels: Content:Learn

#15759 `DOMString` -> `string`
  files/en-us/web/api/htmlbasefontelement/index.md
  files/en-us/web/api/htmlbrelement/index.md
  files/en-us/web/api/htmlbuttonelement/index.md
  files/en-us/web/api/htmlcontentelement/index.md
  files/en-us/web/api/htmlcontentelement/select/index.md
  files/en-us/web/api/htmldataelement/index.md
  files/en-us/web/api/htmldataelement/value/index.md
  files/en-us/web/api/htmldialogelement/index.md
  files/en-us/web/api/htmldialogelement/returnvalue/index.md
  files/en-us/web/api/htmldivelement/index.md
  files/en-us/web/api/htmlelement/innertext/index.md
  files/en-us/web/api/htmlelement/outertext/index.md
  files/en-us/web/api/htmlembedelement/index.md
  files/en-us/web/api/htmlfieldsetelement/index.md
  files/en-us/web/api/htmlfontelement/color/index.md
  files/en-us/web/api/htmlfontelement/face/index.md
  files/en-us/web/api/htmlfontelement/index.md
  files/en-us/web/api/htmlfontelement/size/index.md
  files/en-us/web/api/htmlformelement/index.md
  files/en-us/web/api/htmlframesetelement/index.md
  files/en-us/web/api/htmlheadelement/index.md
  files/en-us/web/api/htmlheadingelement/index.md
  files/en-us/web/api/htmlhrelement/index.md
  files/en-us/web/api/htmlhtmlelement/index.md
  files/en-us/web/api/htmliframeelement/fetchpriority/index.md
  files/en-us/web/api/htmlimageelement/align/index.md
  files/en-us/web/api/htmlimageelement/alt/index.md
  files/en-us/web/api/htmlimageelement/border/index.md
  files/en-us/web/api/htmlimageelement/crossorigin/index.md
  files/en-us/web/api/htmlimageelement/currentsrc/index.md
  files/en-us/web/api/htmlimageelement/decoding/index.md
  files/en-us/web/api/htmlimageelement/fetchpriority/index.md
  files/en-us/web/api/htmlimageelement/loading/index.md
  files/en-us/web/api/htmlimageelement/longdesc/index.md
  files/en-us/web/api/htmlimageelement/name/index.md
  files/en-us/web/api/htmlimageelement/referrerpolicy/index.md
  files/en-us/web/api/htmlimageelement/sizes/index.md
  files/en-us/web/api/htmlimageelement/src/index.md
  files/en-us/web/api/htmlimageelement/srcset/index.md
  files/en-us/web/api/htmlimageelement/usemap/index.md
  files/en-us/web/api/htmllabelelement/htmlfor/index.md
  files/en-us/web/api/htmllegendelement/index.md
  files/en-us/web/api/htmllielement/index.md
  files/en-us/web/api/htmllinkelement/as/index.md
  files/en-us/web/api/htmllinkelement/fetchpriority/index.md
  files/en-us/web/api/htmllinkelement/referrerpolicy/index.md
  files/en-us/web/api/htmllinkelement/rel/index.md
  files/en-us/web/api/htmllinkelement/rellist/index.md
  files/en-us/web/api/htmlmapelement/index.md
  files/en-us/web/api/htmlmediaelement/currentsrc/index.md
Labels: Content:WebAPI

#15758 Update redirected URLs (part 38)
  files/en-us/mozilla/add-ons/webextensions/api/tabs/insertcss/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/move/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/mutedinfo/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/mutedinforeason/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/onactivated/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/onactivechanged/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/onattached/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/oncreated/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/ondetached/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/onhighlightchanged/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/onhighlighted/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/onmoved/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/onremoved/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/onreplaced/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/onselectionchanged/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/onupdated/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/onzoomchange/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/query/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/reload/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/remove/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/removecss/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/sendmessage/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/sendrequest/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/setzoom/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/setzoomsettings/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/tab/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/tab_id_none/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/tabstatus/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/update/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/windowtype/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/zoomsettings/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/zoomsettingsmode/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/zoomsettingsscope/index.md
  files/en-us/mozilla/add-ons/webextensions/api/types/browsersetting/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/getallframes/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/getframe/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/onbeforenavigate/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/oncommitted/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/oncompleted/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/oncreatednavigationtarget/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/ondomcontentloaded/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/onerroroccurred/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/onhistorystateupdated/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/onreferencefragmentupdated/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/ontabreplaced/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/transitionqualifier/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/transitiontype/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/blockingresponse/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/handlerbehaviorchanged/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/httpheaders/index.md
Labels: Content:WebExt, Content:Other

#15757 WebAPI: Update constructor pages (part 9)
  files/en-us/web/api/mediasource/mediasource/index.md
  files/en-us/web/api/mediastream/mediastream/index.md
  files/en-us/web/api/mediastreamaudiodestinationnode/mediastreamaudiodestinationnode/index.md
  files/en-us/web/api/mediastreamaudiosourcenode/mediastreamaudiosourcenode/index.md
  files/en-us/web/api/mediastreamtrackgenerator/mediastreamtrackgenerator/index.md
  files/en-us/web/api/mediastreamtrackprocessor/mediastreamtrackprocessor/index.md
  files/en-us/web/api/midiconnectionevent/midiconnectionevent/index.md
  files/en-us/web/api/ndefmessage/ndefmessage/index.md
  files/en-us/web/api/notification/notification/index.md
  files/en-us/web/api/offlineaudiocontext/offlineaudiocontext/index.md
  files/en-us/web/api/offscreencanvas/offscreencanvas/index.md
  files/en-us/web/api/pannernode/pannernode/index.md
  files/en-us/web/api/path2d/path2d/index.md
  files/en-us/web/api/paymentrequest/paymentrequest/index.md
  files/en-us/web/api/performanceobserver/performanceobserver/index.md
  files/en-us/web/api/periodicwave/periodicwave/index.md
  files/en-us/web/api/presentationrequest/presentationrequest/index.md
  files/en-us/web/api/readablestream/readablestream/index.md
  files/en-us/web/api/readablestreambyobreader/readablestreambyobreader/index.md
  files/en-us/web/api/readablestreamdefaultreader/readablestreamdefaultreader/index.md
  files/en-us/web/api/reportingobserver/reportingobserver/index.md
  files/en-us/web/api/rtcpeerconnection/rtcpeerconnection/index.md
  files/en-us/web/api/sharedworker/sharedworker/index.md
  files/en-us/web/api/speechgrammar/speechgrammar/index.md
  files/en-us/web/api/speechgrammarlist/speechgrammarlist/index.md
  files/en-us/web/api/speechsynthesisutterance/speechsynthesisutterance/index.md
  files/en-us/web/api/textdecoder/textdecoder/index.md
  files/en-us/web/api/textdecoderstream/textdecoderstream/index.md
  files/en-us/web/api/textencoder/textencoder/index.md
  files/en-us/web/api/urlpattern/urlpattern/index.md
  files/en-us/web/api/urlsearchparams/urlsearchparams/index.md
  files/en-us/web/api/videocolorspace/videocolorspace/index.md
  files/en-us/web/api/videodecoder/videodecoder/index.md
  files/en-us/web/api/videoencoder/videoencoder/index.md
  files/en-us/web/api/videoframe/videoframe/index.md
  files/en-us/web/api/vttcue/vttcue/index.md
  files/en-us/web/api/worker/worker/index.md
  files/en-us/web/api/writablestreamdefaultwriter/writablestreamdefaultwriter/index.md
  files/en-us/web/api/xmlhttprequest/xmlhttprequest/index.md
Labels: Content:WebAPI

#15697 Drop SeeCompatTable macro from “Using the Permissions API”
  files/en-us/web/api/permissions_api/using_the_permissions_api/index.md
Labels: Content:WebAPI

#15762 Fix typo
  files/en-us/web/api/mediaelementaudiosourcenode/index.md
Labels: Content:WebAPI

#15763 Fix grammatical mistake
  files/en-us/web/api/mediaelementaudiosourcenode/index.md
Labels: Content:WebAPI

#15765 Marked TC39 regex escaping proposal as reopened
  files/en-us/web/javascript/guide/regular_expressions/index.md
Labels: Content:JS

#15770 Improved readability in "The Box Model Tree"
  files/en-us/learn/css/building_blocks/box_model_tasks/index.md
Labels: Content:Learn

#15769 domxref -> jsxref
  files/en-us/web/api/abortsignal/throwifaborted/index.md
Labels: Content:WebAPI

#15767 Change sidebar of Window.requestFileSystem
  files/en-us/web/api/window/requestfilesystem/index.md
Labels: Content:WebAPI

#15433 Document Atomics.waitAsync
  files/en-us/web/javascript/reference/global_objects/atomics/index.md
  files/en-us/web/javascript/reference/global_objects/atomics/wait/index.md
  files/en-us/web/javascript/reference/global_objects/atomics/waitasync/index.md
Labels: Content:JS

#15775 Improve description in input element
  files/en-us/web/html/element/input/file/index.md
Labels: Content:HTML

#15780 {{event}} to {{domxref}} for "DOMContentLoaded"
  files/en-us/mozilla/firefox/releases/38/index.md
  files/en-us/web/api/beforeunloadevent/index.md
  files/en-us/web/api/document/readystate/index.md
  files/en-us/web/api/performancetiming/domcontentloadedeventstart/index.md
  files/en-us/web/api/performancetiming/index.md
  files/en-us/web/api/serviceworkercontainer/startmessages/index.md
  files/en-us/web/api/window/sizetocontent/index.md
  files/en-us/web/svg/attribute/begin/index.md
Labels: Content:WebAPI, Content:Other, Content:SVG

#15782 Minor typo in the example provided
  files/en-us/web/http/headers/expect-ct/index.md
Labels: Content:HTTP

#15783 {{event}} to {{domxref}} for the Selection API
  files/en-us/mozilla/firefox/releases/43/index.md
  files/en-us/mozilla/firefox/releases/52/index.md
  files/en-us/web/api/globaleventhandlers/index.md
  files/en-us/web/api/globaleventhandlers/onselectionchange/index.md
  files/en-us/web/api/globaleventhandlers/onselectstart/index.md
  files/en-us/web/api/selection/index.md
  files/en-us/web/api/window/index.md
Labels: Content:WebAPI, Content:Other

#15781 fix operator precedence table
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
Labels: Content:JS

#15784 Fix developers.google.com link
  files/en-us/web/api/document/write/index.md
Labels: Content:WebAPI

#15785 Fix developers.google.com link
  files/en-us/web/api/abortcontroller/index.md
Labels: Content:WebAPI

#15786 Fix developers.google.com link
  files/en-us/web/api/document/createelementns/index.md
Labels: Content:WebAPI

#15761 Remove last occurrences of the {{Pref}} macro
  files/en-us/mozilla/firefox/releases/11/index.md
  files/en-us/mozilla/firefox/releases/21/index.md
  files/en-us/mozilla/firefox/releases/38/index.md
  files/en-us/mozilla/firefox/releases/45/index.md
  files/en-us/web/api/element/dommousescroll_event/index.md
  files/en-us/web/api/webvtt_api/index.md
  files/en-us/web/api/window/requestfilesystem/index.md
Labels: Content:WebAPI, Content:Other

#15776 Remove {{Exception}} from feature-policy
  files/en-us/web/http/headers/feature-policy/index.md
Labels: Content:HTTP

#15788 Fix developers.google.com links
  files/en-us/web/api/abortsignal/index.md
  files/en-us/web/api/push_api/index.md
  files/en-us/webassembly/index.md
Labels: Content:WebAPI, Content:wasm

#15777 Fix exceptions section in Navigator.registerProtocolHandler()
  files/en-us/web/api/navigator/registerprotocolhandler/index.md
Labels: Content:WebAPI

#15791 Double NOT reference anchor
  files/en-us/web/javascript/reference/global_objects/boolean/index.md
Labels: Content:JS

#15793 Fix broken live sample in DataTransfer»dropEffect doc
  files/en-us/web/api/datatransfer/dropeffect/index.md
Labels: Content:WebAPI

#15795 Fix typos
  files/en-us/web/api/animationplaybackevent/animationplaybackevent/index.md
  files/en-us/web/api/animationplaybackevent/currenttime/index.md
  files/en-us/web/api/animationplaybackevent/timelinetime/index.md
  files/en-us/web/api/cache/index.md
  files/en-us/web/api/constraint_validation/index.md
  files/en-us/web/api/cssmathvalue/operator/index.md
  files/en-us/web/api/cssprimitivevalue/index.md
  files/en-us/web/api/domexception/domexception/index.md
  files/en-us/web/api/dragevent/dragevent/index.md
  files/en-us/web/api/formdataentryvalue/index.md
  files/en-us/web/api/gamepad/timestamp/index.md
  files/en-us/web/api/hmdvrdevice/setfieldofview/index.md
  files/en-us/web/api/htmlselectelement/add/index.md
  files/en-us/web/api/idle_detection_api/index.md
  files/en-us/web/api/keyframeeffect/keyframeeffect/index.md
  files/en-us/web/api/performance_api/index.md
  files/en-us/web/api/performance_timeline/using_performance_timeline/index.md
  files/en-us/web/api/resource_timing_api/index.md
Labels: Content:WebAPI
