Repository mdn/content, pull requests merged in 2022-06, with the labels that each got.

#16836 Fixes multiline markdown link text
  files/en-us/web/api/animationevent/elapsedtime/index.md
  files/en-us/web/api/animationevent/pseudoelement/index.md
  files/en-us/web/api/audioworkletnode/parameters/index.md
  files/en-us/web/api/audioworkletnode/port/index.md
  files/en-us/web/api/baseaudiocontext/createbuffer/index.md
  files/en-us/web/api/baseaudiocontext/createconvolver/index.md
  files/en-us/web/api/baseaudiocontext/createdynamicscompressor/index.md
  files/en-us/web/api/baseaudiocontext/createpanner/index.md
  files/en-us/web/api/baseaudiocontext/state/index.md
  files/en-us/web/api/baseaudiocontext/statechange_event/index.md
  files/en-us/web/api/biquadfilternode/getfrequencyresponse/index.md
  files/en-us/web/api/constantsourcenode/offset/index.md
  files/en-us/web/api/contentindexevent/contentindexevent/index.md
  files/en-us/web/api/contentindexevent/id/index.md
  files/en-us/web/api/cssconditionrule/conditiontext/index.md
  files/en-us/web/api/csskeywordvalue/csskeywordvalue/index.md
  files/en-us/web/api/csspropertyrule/initialvalue/index.md
  files/en-us/web/api/cssstylesheet/addrule/index.md
  files/en-us/web/api/cssstylesheet/cssrules/index.md
  files/en-us/web/api/cssstylesheet/deleterule/index.md
  files/en-us/web/api/cssstylesheet/ownerrule/index.md
  files/en-us/web/api/cssstylesheet/removerule/index.md
  files/en-us/web/api/cssstylesheet/rules/index.md
  files/en-us/web/api/datatransferitem/type/index.md
  files/en-us/web/api/extendableevent/waituntil/index.md
  files/en-us/web/api/formdataevent/formdata/index.md
  files/en-us/web/api/idbobjectstore/add/index.md
  files/en-us/web/api/idbobjectstore/createindex/index.md
  files/en-us/web/api/idbobjectstore/get/index.md
  files/en-us/web/api/idbtransaction/db/index.md
  files/en-us/web/api/idbtransaction/mode/index.md
  files/en-us/web/api/iirfilternode/getfrequencyresponse/index.md
  files/en-us/web/api/keyboardevent/initkeyevent/index.md
  files/en-us/web/api/mediaquerylist/addlistener/index.md
  files/en-us/web/api/mediaquerylist/change_event/index.md
  files/en-us/web/api/mediaquerylist/matches/index.md
  files/en-us/web/api/mediaquerylist/media/index.md
  files/en-us/web/api/mediaquerylist/removelistener/index.md
  files/en-us/web/api/mediarecorder/dataavailable_event/index.md
  files/en-us/web/api/mediarecorder/istypesupported/index.md
  files/en-us/web/api/mediarecorder/mimetype/index.md
  files/en-us/web/api/mediarecorder/pause/index.md
  files/en-us/web/api/mediarecorder/pause_event/index.md
  files/en-us/web/api/mediarecorder/requestdata/index.md
  files/en-us/web/api/mediarecorder/resume/index.md
  files/en-us/web/api/mediarecorder/resume_event/index.md
  files/en-us/web/api/mediarecorder/start_event/index.md
  files/en-us/web/api/mediarecorder/state/index.md
  files/en-us/web/api/mediarecorder/stop/index.md
  files/en-us/web/api/mediarecorder/stop_event/index.md
Labels: Content:WebAPI

#16831 Daily markdownlint cleanup
  files/en-us/learn/css/styling_text/styling_links/index.md
Labels: Content:Learn

#16838 Minor change: added specificity explanation
  files/en-us/web/css/_colon_not/index.md
Labels: Content:CSS

#16832 Fixes multiline markdown link text
  files/en-us/web/api/analysernode/analysernode/index.md
  files/en-us/web/api/audiocontext/createmediastreamsource/index.md
  files/en-us/web/api/audiocontext/getoutputtimestamp/index.md
  files/en-us/web/api/audiocontext/resume/index.md
  files/en-us/web/api/cachestorage/delete/index.md
  files/en-us/web/api/cachestorage/has/index.md
  files/en-us/web/api/cachestorage/keys/index.md
  files/en-us/web/api/cachestorage/match/index.md
  files/en-us/web/api/cachestorage/open/index.md
  files/en-us/web/api/clipboarditem/gettype/index.md
  files/en-us/web/api/clipboarditem/presentationstyle/index.md
  files/en-us/web/api/clipboarditem/types/index.md
  files/en-us/web/api/contentindex/add/index.md
  files/en-us/web/api/contentindex/delete/index.md
  files/en-us/web/api/contentindex/getall/index.md
  files/en-us/web/api/datatransfer/getdata/index.md
  files/en-us/web/api/htmlelement/dataset/index.md
  files/en-us/web/api/htmlelement/offsetheight/index.md
  files/en-us/web/api/idbdatabase/transaction/index.md
  files/en-us/web/api/idledeadline/didtimeout/index.md
  files/en-us/web/api/idledeadline/timeremaining/index.md
  files/en-us/web/api/imagecapture/grabframe/index.md
  files/en-us/web/api/imagecapture/takephoto/index.md
  files/en-us/web/api/mediadevices/getdisplaymedia/index.md
  files/en-us/web/api/mediadevices/getusermedia/index.md
  files/en-us/web/api/mediasource/activesourcebuffers/index.md
  files/en-us/web/api/mediasource/addsourcebuffer/index.md
  files/en-us/web/api/mediasource/duration/index.md
  files/en-us/web/api/mediasource/endofstream/index.md
  files/en-us/web/api/mediasource/istypesupported/index.md
  files/en-us/web/api/mediasource/mediasource/index.md
  files/en-us/web/api/mediasource/readystate/index.md
  files/en-us/web/api/mediasource/sourcebuffers/index.md
  files/en-us/web/api/messageport/close/index.md
  files/en-us/web/api/messageport/postmessage/index.md
  files/en-us/web/api/messageport/start/index.md
  files/en-us/web/api/notification/actions/index.md
  files/en-us/web/api/notification/body/index.md
  files/en-us/web/api/notification/click_event/index.md
  files/en-us/web/api/notification/close/index.md
  files/en-us/web/api/notification/close_event/index.md
  files/en-us/web/api/notification/data/index.md
  files/en-us/web/api/notification/icon/index.md
  files/en-us/web/api/notification/image/index.md
  files/en-us/web/api/notification/lang/index.md
  files/en-us/web/api/notification/maxactions/index.md
  files/en-us/web/api/notification/notification/index.md
  files/en-us/web/api/notification/silent/index.md
  files/en-us/web/api/notification/tag/index.md
  files/en-us/web/api/window/webkitconvertpointfromnodetopage/index.md
Labels: Content:WebAPI

#16755 Remove var in favor of let and const
  files/en-us/web/api/audiobuffer/getchanneldata/index.md
  files/en-us/web/api/audiobuffer/length/index.md
  files/en-us/web/api/audiobuffer/numberofchannels/index.md
  files/en-us/web/api/audiobuffer/samplerate/index.md
  files/en-us/web/api/audiobuffersourcenode/buffer/index.md
Labels: Content:WebAPI

#16833 Fix anchor link to 'Targeting media types'
  files/en-us/web/api/window/beforeprint_event/index.md
Labels: Content:WebAPI

#14793 Add web.dev/fast
  files/en-us/web/guide/performance/index.md
Labels: Content:Learn

#16845 Move compat data in browser-compat key for input element attributes
  files/en-us/web/html/attributes/accept/index.md
  files/en-us/web/html/attributes/capture/index.md
  files/en-us/web/html/attributes/pattern/index.md
  files/en-us/web/html/attributes/step/index.md
Labels: Content:HTML

#16846 Fix constructor titles
  files/en-us/web/api/encodedaudiochunk/encodedaudiochunk/index.md
  files/en-us/web/api/encodedvideochunk/encodedvideochunk/index.md
  files/en-us/web/api/idledetector/idledetector/index.md
  files/en-us/web/api/imagedecoder/imagedecoder/index.md
  files/en-us/web/api/inputdevicecapabilities/inputdevicecapabilities/index.md
  files/en-us/web/api/mediastreamtrackgenerator/mediastreamtrackgenerator/index.md
  files/en-us/web/api/mediastreamtrackprocessor/mediastreamtrackprocessor/index.md
  files/en-us/web/api/midiconnectionevent/midiconnectionevent/index.md
Labels: Content:WebAPI

#16855 RTCError event does not bubble
  files/en-us/web/api/rtcdtlstransport/error_event/index.md
Labels: Content:WebAPI

#16858 Removed old sentences about a future update
  files/en-us/web/css/css_flexible_box_layout/mastering_wrapping_of_flex_items/index.md
Labels: Content:CSS

#16859 Fix punctuation
  files/en-us/web/javascript/reference/global_objects/regexp/index.md
Labels: Content:JS

#16861 Update index.md
  files/en-us/web/api/audiocontext/createmediastreamtracksource/index.md
Labels: Content:WebAPI

#16848 proofread: +comma: structural elements...
  files/en-us/learn/accessibility/wai-aria_basics/index.md
Labels: Content:Learn

#16790 Update experimental status for length units to align with info in BCD
  files/en-us/web/css/length/index.md
Labels: Content:CSS

#16864 fix: minor, http redirects
  files/en-us/web/security/transport_layer_security/index.md
Labels: Content:Other

#16635 Update index.md
  files/en-us/web/javascript/guide/functions/index.md
Labels: Content:JS

#16866 Add VideoFrame.copyTo()
  files/en-us/web/api/videoframe/copyto/index.md
  files/en-us/web/api/videoframe/index.md
  files/en-us/web/api/videoframe/videoframe/index.md
Labels: Content:WebAPI

#16870 Remove a unpaired parentheses
  files/en-us/learn/javascript/client-side_web_apis/drawing_graphics/index.md
Labels: Content:Learn

#16854 Add a prominent warning to the document.write() article
  files/en-us/web/api/document/write/index.md
  files/en-us/web/api/document/writeln/index.md
Labels: Content:WebAPI

#16738 Move compat data into browser-compat key (webextensions subtree)
  files/en-us/mozilla/add-ons/webextensions/api/clipboard/index.md
  files/en-us/mozilla/add-ons/webextensions/api/commands/index.md
  files/en-us/mozilla/add-ons/webextensions/api/find/index.md
  files/en-us/mozilla/add-ons/webextensions/api/menus/index.md
  files/en-us/mozilla/add-ons/webextensions/api/pkcs11/index.md
  files/en-us/mozilla/add-ons/webextensions/api/search/index.md
  files/en-us/mozilla/add-ons/webextensions/browser_compatibility_for_manifest.json/index.md
  files/en-us/mozilla/add-ons/webextensions/match_patterns/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/browser_styles/index.md
Labels: Content:WebExt, Content:Other

#16874 Daily markdownlint cleanup
  files/en-us/web/css/_colon_not/index.md
Labels: Content:CSS

#16745 Add a note on margin collapsing
  files/en-us/learn/css/css_layout/normal_flow/index.md
Labels: Content:Learn

#16884 Fixes multiline markdown link text
  files/en-us/web/api/pushmanager/subscribe/index.md
  files/en-us/web/api/queuemicrotask/index.md
  files/en-us/web/api/readablestream/readablestream/index.md
  files/en-us/web/api/readablestream/tee/index.md
  files/en-us/web/api/resizeobserver/unobserve/index.md
  files/en-us/web/api/rtcdatachannel/binarytype/index.md
  files/en-us/web/api/rtcdatachannel/bufferedamount/index.md
  files/en-us/web/api/rtcdatachannel/bufferedamountlowthreshold/index.md
  files/en-us/web/api/rtcdatachannel/negotiated/index.md
  files/en-us/web/api/rtcdatachannel/stream/index.md
  files/en-us/web/api/serviceworker/state/index.md
  files/en-us/web/api/serviceworker/statechange_event/index.md
  files/en-us/web/api/sourcebuffer/abort/index.md
  files/en-us/web/api/sourcebuffer/appendbufferasync/index.md
  files/en-us/web/api/sourcebuffer/removeasync/index.md
  files/en-us/web/api/storage/removeitem/index.md
  files/en-us/web/api/storage/setitem/index.md
  files/en-us/web/api/stylesheet/disabled/index.md
  files/en-us/web/api/stylesheet/ownernode/index.md
  files/en-us/web/api/subtlecrypto/exportkey/index.md
  files/en-us/web/api/webgltexture/index.md
  files/en-us/web/api/websocket/send/index.md
  files/en-us/web/api/websockets_api/writing_websocket_client_applications/index.md
  files/en-us/web/api/window/webkitconvertpointfrompagetonode/index.md
  files/en-us/web/api/writablestream/getwriter/index.md
  files/en-us/web/api/writablestream/writablestream/index.md
  files/en-us/web/api/xmlhttprequest/abort/index.md
  files/en-us/web/api/xmlhttprequest/getallresponseheaders/index.md
  files/en-us/web/api/xmlhttprequest/getresponseheader/index.md
  files/en-us/web/api/xmlhttprequest/open/index.md
  files/en-us/web/api/xmlhttprequest/overridemimetype/index.md
  files/en-us/web/api/xmlhttprequest/response/index.md
  files/en-us/web/api/xmlhttprequest/responsetype/index.md
  files/en-us/web/api/xmlhttprequest/responsexml/index.md
  files/en-us/web/api/xmlhttprequest/send/index.md
  files/en-us/web/api/xmlhttprequest/setrequestheader/index.md
  files/en-us/web/api/xmlhttprequest/using_xmlhttprequest/index.md
  files/en-us/web/api/xmlhttprequest/xmlhttprequest/index.md
  files/en-us/web/api/xmlserializer/serializetostring/index.md
  files/en-us/web/api/xrframe/getviewerpose/index.md
  files/en-us/web/api/xrinputsource/handedness/index.md
  files/en-us/web/api/xrinputsource/profiles/index.md
  files/en-us/web/api/xrinputsource/targetraymode/index.md
  files/en-us/web/api/xrinputsource/targetrayspace/index.md
  files/en-us/web/api/xrviewerpose/views/index.md
  files/en-us/web/api/xrwebglbinding/xrwebglbinding/index.md
  files/en-us/web/api/xrwebgllayer/antialias/index.md
  files/en-us/web/api/xrwebgllayer/framebuffer/index.md
  files/en-us/web/api/xrwebgllayer/getnativeframebufferscalefactor/index.md
  files/en-us/web/api/xrwebgllayer/ignoredepthvalues/index.md
Labels: Content:WebAPI

#16883 Fixes multiline markdown link text
  files/en-us/web/api/globaleventhandlers/onauxclick/index.md
  files/en-us/web/api/globaleventhandlers/onfocus/index.md
  files/en-us/web/api/globaleventhandlers/onformdata/index.md
  files/en-us/web/api/globaleventhandlers/oninput/index.md
  files/en-us/web/api/globaleventhandlers/onmousemove/index.md
  files/en-us/web/api/globaleventhandlers/onplay/index.md
  files/en-us/web/api/globaleventhandlers/onpointerdown/index.md
  files/en-us/web/api/globaleventhandlers/onpointerleave/index.md
  files/en-us/web/api/globaleventhandlers/onresize/index.md
  files/en-us/web/api/globaleventhandlers/onscroll/index.md
  files/en-us/web/api/globaleventhandlers/onselect/index.md
  files/en-us/web/api/globaleventhandlers/onselectstart/index.md
  files/en-us/web/api/globaleventhandlers/onsubmit/index.md
  files/en-us/web/api/globaleventhandlers/onwheel/index.md
  files/en-us/web/api/htmlcanvaselement/getcontext/index.md
  files/en-us/web/api/htmlcanvaselement/mozopaque/index.md
  files/en-us/web/api/htmliframeelement/allowpaymentrequest/index.md
  files/en-us/web/api/htmlimageelement/sizes/index.md
  files/en-us/web/api/htmlimageelement/srcset/index.md
  files/en-us/web/api/htmlimageelement/usemap/index.md
  files/en-us/web/api/htmlinputelement/setselectionrange/index.md
  files/en-us/web/api/htmlmediaelement/autoplay/index.md
  files/en-us/web/api/htmlmediaelement/capturestream/index.md
  files/en-us/web/api/htmlmediaelement/controlslist/index.md
  files/en-us/web/api/htmlmediaelement/seekable/index.md
  files/en-us/web/api/htmlselectelement/setcustomvalidity/index.md
  files/en-us/web/api/idbobjectstore/delete/index.md
  files/en-us/web/api/keyboardlayoutmap/get/index.md
  files/en-us/web/api/keyboardlayoutmap/has/index.md
  files/en-us/web/api/mediadevices/getdisplaymedia/index.md
  files/en-us/web/api/mediaquerylistevent/matches/index.md
  files/en-us/web/api/mediaquerylistevent/media/index.md
  files/en-us/web/api/mediarecorder/stream/index.md
  files/en-us/web/api/mediastreamtrack/applyconstraints/index.md
  files/en-us/web/api/mediastreamtrack/getcapabilities/index.md
  files/en-us/web/api/mediastreamtrack/getconstraints/index.md
  files/en-us/web/api/messagechannel/port1/index.md
  files/en-us/web/api/messagechannel/port2/index.md
  files/en-us/web/api/notification/timestamp/index.md
  files/en-us/web/api/notification/title/index.md
  files/en-us/web/api/notification/vibrate/index.md
  files/en-us/web/api/pannernode/positionx/index.md
  files/en-us/web/api/pannernode/positiony/index.md
  files/en-us/web/api/pannernode/positionz/index.md
  files/en-us/web/api/paymentaddress/country/index.md
  files/en-us/web/api/paymentaddress/postalcode/index.md
  files/en-us/web/api/paymentrequest/canmakepayment/index.md
  files/en-us/web/api/paymentresponse/retry/index.md
  files/en-us/web/api/pointerevent/tiltx/index.md
  files/en-us/web/api/pointerevent/tilty/index.md
Labels: Content:WebAPI

#16885 Updates WebAPI pages
  files/en-us/web/api/attr/localname/index.md
  files/en-us/web/api/location/ancestororigins/index.md
  files/en-us/web/api/location/hash/index.md
  files/en-us/web/api/location/host/index.md
  files/en-us/web/api/location/hostname/index.md
  files/en-us/web/api/location/href/index.md
  files/en-us/web/api/location/origin/index.md
  files/en-us/web/api/location/password/index.md
  files/en-us/web/api/location/pathname/index.md
  files/en-us/web/api/location/port/index.md
  files/en-us/web/api/location/protocol/index.md
  files/en-us/web/api/location/search/index.md
  files/en-us/web/api/location/username/index.md
  files/en-us/web/api/rtcicetransport/getremotecandidates/index.md
Labels: Content:WebAPI

#16881 Fix example size
  files/en-us/web/css/@font-face/index.md
Labels: Content:CSS

#16763 Remove references to bitwise ops in wasm memory page
  files/en-us/webassembly/reference/memory/index.md
Labels: Content:wasm

#16887 Update title to "WebAssembly variable instructions"
  files/en-us/webassembly/reference/variables/index.md
Labels: Content:wasm

#16888 Update title to "WebAssembly control flow instructions"
  files/en-us/webassembly/reference/control_flow/index.md
Labels: Content:wasm

#16889 Add link to DOMException
  files/en-us/web/api/xmlhttprequest/responsetype/index.md
Labels: Content:WebAPI

#16890 Remove extraneous space in a title
  files/en-us/web/api/rtcicecandidate/tojson/index.md
Labels: Content:WebAPI

#16891 Remove prototype from a title (in Web/API)
  files/en-us/web/api/paymentrequest/id/index.md
Labels: Content:WebAPI

#15033 Add OKLCH and OKLab functions to reference
  files/en-us/_redirects.txt
  files/en-us/web/css/color_value/oklab/index.md
  files/en-us/web/css/color_value/oklch/index.md
  files/en-us/web/css/css_functions/index.md
Labels: Content:CSS

#16901 Grammar fix
  files/en-us/web/api/mutationobserver/takerecords/index.md
Labels: Content:WebAPI

#16902 Change text to link for encodeURI reference
  files/en-us/web/javascript/reference/global_objects/encodeuricomponent/index.md
Labels: Content:JS

#16905 External link to ITU broken
  files/en-us/web/media/formats/video_codecs/index.md
Labels: Content:Media

#16919 Fixed typo in link to link_role on aria-haspopup page
  files/en-us/web/accessibility/aria/attributes/aria-haspopup/index.md
Labels: Content:Accessibility

#16921 KeyframeEffect - mark most bits not experimental
  files/en-us/web/api/keyframeeffect/composite/index.md
  files/en-us/web/api/keyframeeffect/getkeyframes/index.md
  files/en-us/web/api/keyframeeffect/setkeyframes/index.md
  files/en-us/web/api/keyframeeffect/target/index.md
Labels: Content:WebAPI

#16872 Remove some arguments from a code example
  files/en-us/learn/javascript/client-side_web_apis/drawing_graphics/index.md
Labels: Content:Learn

#16917 Fix Date.setMonth description
  files/en-us/web/javascript/reference/global_objects/date/setmonth/index.md
Labels: Content:JS

#16896 FormData is not "write only"
  files/en-us/learn/forms/sending_forms_through_javascript/index.md
Labels: Content:Learn

#16880 Switching the First and second sentence
  files/en-us/web/css/css_grid_layout/css_grid_logical_values_and_writing_modes/index.md
Labels: Content:CSS

#16850 "Updated var to const"
  files/en-us/web/api/barcode_detection_api/index.md
  files/en-us/web/api/baseaudiocontext/createanalyser/index.md
  files/en-us/web/api/baseaudiocontext/createbuffer/index.md
  files/en-us/web/api/baseaudiocontext/createbuffersource/index.md
  files/en-us/web/api/baseaudiocontext/createchannelmerger/index.md
  files/en-us/web/api/baseaudiocontext/createchannelsplitter/index.md
  files/en-us/web/api/baseaudiocontext/createconvolver/index.md
  files/en-us/web/api/baseaudiocontext/createdynamicscompressor/index.md
  files/en-us/web/api/baseaudiocontext/createscriptprocessor/index.md
  files/en-us/web/api/baseaudiocontext/createwaveshaper/index.md
  files/en-us/web/api/baseaudiocontext/decodeaudiodata/index.md
  files/en-us/web/api/beforeunloadevent/index.md
  files/en-us/web/api/biquadfilternode/getfrequencyresponse/index.md
  files/en-us/web/api/bluetooth/availabilitychanged_event/index.md
Labels: Content:WebAPI

#16925 Daily markdownlint cleanup
  files/en-us/web/css/color_value/oklab/index.md
Labels: Content:CSS

#16893 Update index.md
  files/en-us/web/svg/tutorial/paths/index.md
Labels: Content:SVG

#16927 Adds interactive examples to pseudo class pages
  files/en-us/web/css/_colon_first-child/index.md
  files/en-us/web/css/_colon_first-of-type/index.md
  files/en-us/web/css/_colon_last-child/index.md
  files/en-us/web/css/_colon_last-of-type/index.md
  files/en-us/web/css/_colon_nth-child/index.md
  files/en-us/web/css/_colon_nth-last-child/index.md
  files/en-us/web/css/_colon_nth-last-of-type/index.md
  files/en-us/web/css/_colon_nth-of-type/index.md
Labels: Content:CSS

#16920 Mongodb password must escape special chars
  files/en-us/learn/server-side/express_nodejs/deployment/index.md
Labels: Content:Learn

#16922 Fix statement in reference error that let isn't hoisted
  files/en-us/web/javascript/reference/errors/cant_access_lexical_declaration_before_init/index.md
Labels: Content:JS

#16928 TypeError also thrown in array destructuring
  files/en-us/web/javascript/reference/errors/is_not_iterable/index.md
Labels: Content:JS

#16936 Remove page for GlobalEventHandlers.onabort
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/globaleventhandlers/onabort/index.md
Labels: Content:WebAPI

#16939 Typo fix
  files/en-us/learn/forms/basic_native_form_controls/index.md
Labels: Content:Learn

#16946 Move msCache* under XMLHttpRequest
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/mscachingenabled/index.md
  files/en-us/web/api/xmlhttprequest/mscaching/index.md
  files/en-us/web/api/xmlhttprequest/mscachingenabled/index.md
Labels: Content:WebAPI

#16935 let -> const
  files/en-us/web/javascript/reference/errors/cant_access_lexical_declaration_before_init/index.md
Labels: Content:JS

#16937 Remove USVString links
  files/en-us/mozilla/firefox/releases/55/index.md
  files/en-us/web/api/blob/blob/index.md
  files/en-us/web/api/elementinternals/setformvalue/index.md
  files/en-us/web/api/file/file/index.md
Labels: Content:WebAPI, Content:Other

#16948 Remove ungrammatical comma
  files/en-us/web/css/css_grid_layout/box_alignment_in_css_grid_layout/index.md
Labels: Content:CSS

#16933 Remove links to DOMString
  files/en-us/glossary/base64/index.md
  files/en-us/web/api/backgroundfetchupdateuievent/updateui/index.md
  files/en-us/web/api/css/registerproperty/index.md
  files/en-us/web/api/cssstyledeclaration/cssfloat/index.md
  files/en-us/web/api/cssstyledeclaration/csstext/index.md
  files/en-us/web/api/cssstyledeclaration/getpropertycssvalue/index.md
  files/en-us/web/api/cssstyledeclaration/getpropertypriority/index.md
  files/en-us/web/api/cssstyledeclaration/getpropertyvalue/index.md
  files/en-us/web/api/cssstyledeclaration/removeproperty/index.md
  files/en-us/web/api/cssstyledeclaration/setproperty/index.md
  files/en-us/web/api/datatransfer/index.md
  files/en-us/web/api/document_object_model/index.md
  files/en-us/web/api/htmlbuttonelement/index.md
  files/en-us/web/api/htmlkeygenelement/index.md
  files/en-us/web/api/htmlobjectelement/data/index.md
  files/en-us/web/api/htmlobjectelement/height/index.md
  files/en-us/web/api/htmlobjectelement/name/index.md
  files/en-us/web/api/htmlobjectelement/type/index.md
  files/en-us/web/api/htmlobjectelement/usemap/index.md
  files/en-us/web/api/htmlobjectelement/validationmessage/index.md
  files/en-us/web/api/htmlslotelement/name/index.md
  files/en-us/web/api/interventionreportbody/index.md
  files/en-us/web/api/keyboardevent/initkeyevent/index.md
  files/en-us/web/api/mediakeysystemaccess/index.md
  files/en-us/web/api/mediakeysystemaccess/keysystem/index.md
  files/en-us/web/api/mediastreamtrackgenerator/mediastreamtrackgenerator/index.md
  files/en-us/web/api/msmanipulationevent/initmsmanipulationevent/index.md
  files/en-us/web/api/msregionoverflow/index.md
  files/en-us/web/api/paymentrequest/id/index.md
  files/en-us/web/api/paymentrequestevent/paymentrequestid/index.md
  files/en-us/web/api/paymentresponse/requestid/index.md
  files/en-us/web/api/rtcdtmftonechangeevent/rtcdtmftonechangeevent/index.md
  files/en-us/web/api/rtcpeerconnection/setidentityprovider/index.md
  files/en-us/web/api/rtcrtpcodecparameters/index.md
  files/en-us/web/api/svgviewelement/index.md
  files/en-us/web/api/timeevent/index.md
  files/en-us/web/api/trustedtypepolicyfactory/createpolicy/index.md
  files/en-us/web/api/videocolorspace/index.md
  files/en-us/web/api/xmlhttprequest/statustext/index.md
  files/en-us/web/javascript/reference/global_objects/string/index.md
  files/en-us/web/javascript/reference/global_objects/webassembly/exception/stack/index.md
Labels: Content:WebAPI, Content:JS, Content:Glossary

#16952 Fix typo in File() syntax section
  files/en-us/web/api/file/file/index.md
Labels: Content:WebAPI

#16954 Daily markdownlint cleanup
  files/en-us/learn/server-side/express_nodejs/deployment/index.md
Labels: Content:Learn

#16953 Move IE API pages, part 1
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/cssstyledeclaration/msgetpropertyenabled/index.md
  files/en-us/web/api/cssstyledeclaration/msputpropertyenabled/index.md
  files/en-us/web/api/document/mscapslockwarningoff/index.md
  files/en-us/web/api/document/msthumbnailclick_event/index.md
  files/en-us/web/api/msgestureevent/index.md
  files/en-us/web/api/msmanipulationevent/index.md
  files/en-us/web/api/msmanipulationevent/initmsmanipulationevent/index.md
  files/en-us/web/api/mssitemodeevent/index.md
  files/en-us/web/api/mswriteprofilermark/index.md
  files/en-us/web/api/performancetiming/msfirstpaint/index.md
Labels: Content:WebAPI

#16960 updated syntax
  files/en-us/web/api/client/url/index.md
Labels: Content:WebAPI

#16956 typo: assignement -> assignment
  files/en-us/web/javascript/reference/errors/is_not_iterable/index.md
Labels: Content:JS

#16957 Fixes multiline markdown link text
  files/en-us/web/api/canvasrenderingcontext2d/drawimage/index.md
  files/en-us/web/api/canvasrenderingcontext2d/getimagedata/index.md
  files/en-us/web/api/canvasrenderingcontext2d/linecap/index.md
  files/en-us/web/api/canvasrenderingcontext2d/linewidth/index.md
  files/en-us/web/api/extendablemessageevent/data/index.md
  files/en-us/web/api/extendablemessageevent/extendablemessageevent/index.md
  files/en-us/web/api/extendablemessageevent/lasteventid/index.md
  files/en-us/web/api/extendablemessageevent/origin/index.md
  files/en-us/web/api/extendablemessageevent/ports/index.md
  files/en-us/web/api/extendablemessageevent/source/index.md
  files/en-us/web/api/mediarecordererrorevent/error/index.md
  files/en-us/web/api/mediatrackconstraints/aspectratio/index.md
  files/en-us/web/api/mediatrackconstraints/autogaincontrol/index.md
  files/en-us/web/api/mediatrackconstraints/channelcount/index.md
  files/en-us/web/api/mediatrackconstraints/displaysurface/index.md
  files/en-us/web/api/mediatrackconstraints/echocancellation/index.md
  files/en-us/web/api/mediatrackconstraints/latency/index.md
  files/en-us/web/api/mediatrackconstraints/logicalsurface/index.md
  files/en-us/web/api/mediatrackconstraints/noisesuppression/index.md
  files/en-us/web/api/mediatrackconstraints/samplesize/index.md
  files/en-us/web/api/merchantvalidationevent/methodname/index.md
  files/en-us/web/api/merchantvalidationevent/validationurl/index.md
  files/en-us/web/api/resizeobserverentry/contentrect/index.md
  files/en-us/web/api/resizeobserverentry/target/index.md
Labels: Content:WebAPI

#16955 WebAPI: Updates property pages
  files/en-us/web/api/attr/name/index.md
  files/en-us/web/api/attr/ownerelement/index.md
  files/en-us/web/api/attr/specified/index.md
  files/en-us/web/api/attr/value/index.md
  files/en-us/web/api/bluetooth/referringdevice/index.md
  files/en-us/web/api/canvascapturemediastreamtrack/canvas/index.md
  files/en-us/web/api/cssstylerule/stylemap/index.md
  files/en-us/web/api/document/featurepolicy/index.md
  files/en-us/web/api/document/fonts/index.md
  files/en-us/web/api/htmlelement/inert/index.md
Labels: Content:WebAPI

#16950 Add WebGL page types
  files/en-us/web/api/ext_blend_minmax/index.md
  files/en-us/web/api/ext_color_buffer_float/index.md
  files/en-us/web/api/ext_color_buffer_half_float/index.md
  files/en-us/web/api/ext_disjoint_timer_query/beginqueryext/index.md
  files/en-us/web/api/ext_disjoint_timer_query/createqueryext/index.md
  files/en-us/web/api/ext_disjoint_timer_query/deletequeryext/index.md
  files/en-us/web/api/ext_disjoint_timer_query/endqueryext/index.md
  files/en-us/web/api/ext_disjoint_timer_query/getqueryext/index.md
  files/en-us/web/api/ext_disjoint_timer_query/getqueryobjectext/index.md
  files/en-us/web/api/ext_disjoint_timer_query/index.md
  files/en-us/web/api/ext_disjoint_timer_query/isqueryext/index.md
  files/en-us/web/api/ext_disjoint_timer_query/querycounterext/index.md
  files/en-us/web/api/ext_float_blend/index.md
  files/en-us/web/api/ext_frag_depth/index.md
  files/en-us/web/api/ext_shader_texture_lod/index.md
  files/en-us/web/api/ext_srgb/index.md
  files/en-us/web/api/ext_texture_compression_bptc/index.md
  files/en-us/web/api/ext_texture_compression_rgtc/index.md
  files/en-us/web/api/ext_texture_filter_anisotropic/index.md
  files/en-us/web/api/ext_texture_norm16/index.md
  files/en-us/web/api/khr_parallel_shader_compile/index.md
  files/en-us/web/api/oes_element_index_uint/index.md
  files/en-us/web/api/oes_fbo_render_mipmap/index.md
  files/en-us/web/api/oes_standard_derivatives/index.md
  files/en-us/web/api/oes_texture_float/index.md
  files/en-us/web/api/oes_texture_float_linear/index.md
  files/en-us/web/api/oes_texture_half_float/index.md
  files/en-us/web/api/oes_texture_half_float_linear/index.md
  files/en-us/web/api/oes_vertex_array_object/bindvertexarrayoes/index.md
  files/en-us/web/api/oes_vertex_array_object/createvertexarrayoes/index.md
  files/en-us/web/api/oes_vertex_array_object/deletevertexarrayoes/index.md
  files/en-us/web/api/oes_vertex_array_object/index.md
  files/en-us/web/api/oes_vertex_array_object/isvertexarrayoes/index.md
  files/en-us/web/api/ovr_multiview2/framebuffertexturemultiviewovr/index.md
  files/en-us/web/api/ovr_multiview2/index.md
  files/en-us/web/api/webgl_color_buffer_float/index.md
  files/en-us/web/api/webgl_compressed_texture_astc/getsupportedprofiles/index.md
  files/en-us/web/api/webgl_compressed_texture_astc/index.md
  files/en-us/web/api/webgl_compressed_texture_etc/index.md
  files/en-us/web/api/webgl_compressed_texture_etc1/index.md
  files/en-us/web/api/webgl_compressed_texture_pvrtc/index.md
  files/en-us/web/api/webgl_compressed_texture_s3tc/index.md
  files/en-us/web/api/webgl_compressed_texture_s3tc_srgb/index.md
  files/en-us/web/api/webgl_debug_renderer_info/index.md
  files/en-us/web/api/webgl_debug_shaders/gettranslatedshadersource/index.md
  files/en-us/web/api/webgl_debug_shaders/index.md
  files/en-us/web/api/webgl_depth_texture/index.md
  files/en-us/web/api/webgl_draw_buffers/drawbufferswebgl/index.md
  files/en-us/web/api/webgl_draw_buffers/index.md
  files/en-us/web/api/webgl_lose_context/index.md
  files/en-us/web/api/webgl_lose_context/losecontext/index.md
  files/en-us/web/api/webgl_lose_context/restorecontext/index.md
  files/en-us/web/api/webgl_multi_draw/index.md
  files/en-us/web/api/webgl_multi_draw/multidrawarraysinstancedwebgl/index.md
  files/en-us/web/api/webgl_multi_draw/multidrawarrayswebgl/index.md
  files/en-us/web/api/webgl_multi_draw/multidrawelementsinstancedwebgl/index.md
  files/en-us/web/api/webgl_multi_draw/multidrawelementswebgl/index.md
Labels: Content:WebAPI

#16964 Fixed "ES 2O20" digit typo
  files/en-us/web/javascript/reference/statements/export/index.md
Labels: Content:JS

#16966 Remove notice for a really old FF version
  files/en-us/web/css/text-shadow/index.md
Labels: Content:CSS

#16959 Move 4 IE specific props under HTMLMediaElement
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/htmlmediaelement/msplaytodisabled/index.md
  files/en-us/web/api/htmlmediaelement/msplaytopreferredsourceuri/index.md
  files/en-us/web/api/htmlmediaelement/msplaytoprimary/index.md
  files/en-us/web/api/htmlmediaelement/msplaytosource/index.md
Labels: Content:WebAPI

#16973 Remove `var`s from `Uint16array` constructor page
  files/en-us/web/javascript/reference/global_objects/uint16array/uint16array/index.md
Labels: Content:JS

#16972 Remove excessive period
  files/en-us/web/css/css_colors/applying_color/index.md
Labels: Content:CSS

#16970 Highlight 'name' since it is a variable from the example
  files/en-us/web/javascript/closures/index.md
Labels: Content:JS

#16979 typo: assignement -> assignment
  files/en-us/web/javascript/reference/errors/is_not_iterable/index.md
Labels: Content:JS

#16986 Add page type for VideoFrame.copyTo
  files/en-us/web/api/videoframe/copyto/index.md
Labels: Content:WebAPI

#16980 Assigning to properties of non-objects
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
Labels: Content:JS

#16969 Updated syntax as per ES6
  files/en-us/web/api/cache/index.md
  files/en-us/web/api/cachestorage/delete/index.md
  files/en-us/web/api/cachestorage/keys/index.md
  files/en-us/web/api/canvas_api/tutorial/applying_styles_and_colors/index.md
  files/en-us/web/api/canvas_api/tutorial/basic_animations/index.md
  files/en-us/web/api/canvas_api/tutorial/basic_usage/index.md
  files/en-us/web/api/canvas_api/tutorial/compositing/example/index.md
  files/en-us/web/api/canvas_api/tutorial/compositing/index.md
  files/en-us/web/api/canvas_api/tutorial/drawing_shapes/index.md
  files/en-us/web/api/canvas_api/tutorial/drawing_text/index.md
  files/en-us/web/api/canvas_api/tutorial/pixel_manipulation_with_canvas/index.md
  files/en-us/web/api/canvas_api/tutorial/transformations/index.md
  files/en-us/web/api/canvas_api/tutorial/using_images/index.md
  files/en-us/web/api/canvaspattern/settransform/index.md
  files/en-us/web/api/canvasrenderingcontext2d/arcto/index.md
  files/en-us/web/api/canvasrenderingcontext2d/createpattern/index.md
  files/en-us/web/api/canvasrenderingcontext2d/putimagedata/index.md
  files/en-us/web/api/channel_messaging_api/using_channel_messaging/index.md
Labels: Content:WebAPI

#16965 Update FormData and its method references
  files/en-us/web/api/formdata/append/index.md
  files/en-us/web/api/formdata/delete/index.md
  files/en-us/web/api/formdata/entries/index.md
  files/en-us/web/api/formdata/formdata/index.md
  files/en-us/web/api/formdata/get/index.md
  files/en-us/web/api/formdata/getall/index.md
  files/en-us/web/api/formdata/has/index.md
  files/en-us/web/api/formdata/index.md
  files/en-us/web/api/formdata/keys/index.md
  files/en-us/web/api/formdata/set/index.md
  files/en-us/web/api/formdata/values/index.md
Labels: Content:WebAPI

#16962 Remove reference to a document that does not exist
  files/en-us/web/api/webxr_device_api/fundamentals/index.md
Labels: Content:WebAPI

#16929 fix: update head to fix livesample
  files/en-us/web/api/element/getboundingclientrect/index.md
Labels: Content:WebAPI

#16981 The value of literalString is not a literal
  files/en-us/web/javascript/reference/operators/instanceof/index.md
Labels: Content:JS

#16993 AppCache has been removed from Chromium
  files/en-us/web/api/service_worker_api/using_service_workers/index.md
Labels: Content:WebAPI

#16963 updated syntax
  files/en-us/web/api/clipboard/write/index.md
  files/en-us/web/api/convolvernode/buffer/index.md
  files/en-us/web/api/convolvernode/normalize/index.md
  files/en-us/web/api/cssstyledeclaration/csstext/index.md
  files/en-us/web/api/cssstyledeclaration/index.md
  files/en-us/web/api/cssstyledeclaration/length/index.md
  files/en-us/web/api/cssstylesheet/insertrule/index.md
Labels: Content:WebAPI

#16992 Updates a broken link
  files/en-us/mozilla/firefox/releases/20/index.md
Labels: Content:Other

#16991 Removes a broken link
  files/en-us/glossary/i18n/index.md
Labels: Content:Glossary

#16989 Fixes multiline markdown link text
  files/en-us/web/api/canvasrenderingcontext2d/createimagedata/index.md
  files/en-us/web/api/canvasrenderingcontext2d/globalcompositeoperation/index.md
  files/en-us/web/api/canvasrenderingcontext2d/linedashoffset/index.md
  files/en-us/web/api/cssvariablereferencevalue/cssvariablereferencevalue/index.md
  files/en-us/web/api/cssvariablereferencevalue/fallback/index.md
  files/en-us/web/api/dedicatedworkerglobalscope/messageerror_event/index.md
  files/en-us/web/api/intersectionobserverentry/time/index.md
  files/en-us/web/api/mediastreamaudiosourcenode/mediastreamaudiosourcenode/index.md
  files/en-us/web/api/mediatracksupportedconstraints/displaysurface/index.md
  files/en-us/web/api/mediatracksupportedconstraints/logicalsurface/index.md
  files/en-us/web/api/performanceresourcetiming/transfersize/index.md
  files/en-us/web/api/readablestreamdefaultreader/cancel/index.md
  files/en-us/web/api/readablestreamdefaultreader/read/index.md
  files/en-us/web/api/readablestreamdefaultreader/readablestreamdefaultreader/index.md
  files/en-us/web/api/rtcdatachannelevent/channel/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/qpsum/index.md
  files/en-us/web/api/rtcoutboundrtpstreamstats/qpsum/index.md
  files/en-us/web/api/rtcpeerconnection/addtrack/index.md
  files/en-us/web/api/rtcpeerconnection/cantrickleicecandidates/index.md
  files/en-us/web/api/rtcpeerconnection/connectionstate/index.md
  files/en-us/web/api/rtcpeerconnection/createanswer/index.md
  files/en-us/web/api/rtcpeerconnection/createdatachannel/index.md
  files/en-us/web/api/rtcpeerconnection/createoffer/index.md
  files/en-us/web/api/rtcpeerconnection/gettransceivers/index.md
  files/en-us/web/api/xrwebgllayer/xrwebgllayer/index.md
Labels: Content:WebAPI

#16987 Daily markdownlint cleanup
  files/en-us/web/api/formdata/formdata/index.md
Labels: Content:WebAPI

#16988 Updates WebAPI pages
  files/en-us/web/api/htmlimageelement/ismap/index.md
  files/en-us/web/api/htmlimageelement/src/index.md
  files/en-us/web/api/htmlimageelement/x/index.md
  files/en-us/web/api/htmlimageelement/y/index.md
  files/en-us/web/api/htmllabelelement/htmlfor/index.md
  files/en-us/web/api/htmlmediaelement/disableremoteplayback/index.md
  files/en-us/web/api/mediametadata/artist/index.md
  files/en-us/web/api/mediametadata/artwork/index.md
  files/en-us/web/api/mediarecorder/videobitspersecond/index.md
  files/en-us/web/api/mediasession/metadata/index.md
  files/en-us/web/api/mediasession/playbackstate/index.md
  files/en-us/web/api/mediastreamaudiosourcenode/mediastream/index.md
  files/en-us/web/api/mediastreamtrack/enabled/index.md
  files/en-us/web/api/mediastreamtrack/kind/index.md
  files/en-us/web/api/mediatracksettings/logicalsurface/index.md
Labels: Content:WebAPI

#16985 Add page types for file API pages
  files/en-us/web/api/file_api/index.md
  files/en-us/web/api/file_api/using_files_from_web_applications/index.md
  files/en-us/web/api/filelist/item/index.md
  files/en-us/web/api/filelist/length/index.md
Labels: Content:WebAPI

#16984 Add page types for drag events
  files/en-us/web/api/htmlelement/dragend_event/index.md
  files/en-us/web/api/htmlelement/dragenter_event/index.md
  files/en-us/web/api/htmlelement/dragleave_event/index.md
  files/en-us/web/api/htmlelement/dragover_event/index.md
  files/en-us/web/api/htmlelement/dragstart_event/index.md
  files/en-us/web/api/htmlelement/drop_event/index.md
Labels: Content:WebAPI

#16982 Add missing period
  files/en-us/web/api/canvasrenderingcontext2d/index.md
Labels: Content:WebAPI

#16977 Grammatical fix
  files/en-us/web/performance/critical_rendering_path/index.md
Labels: Content:Other

#16978 Array length need not be index of last element + 1
  files/en-us/web/javascript/guide/indexed_collections/index.md
Labels: Content:JS

#16967 Delete FormDataEntryValue page
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/formdataentryvalue/index.md
Labels: Content:WebAPI

#16733 Provide more error-cause examples
  files/en-us/web/javascript/reference/global_objects/error/cause/index.md
  files/en-us/web/javascript/reference/global_objects/error/index.md
Labels: Content:JS

#16860 Fix misleading wording regarding the type='module' attribute
  files/en-us/web/html/element/script/index.md
Labels: Content:HTML

#16616 Refer readers to enter/exit events
  files/en-us/web/api/document/exitpictureinpicture/index.md
Labels: Content:WebAPI

#16772 Fixes URL fragments
  files/en-us/learn/css/css_layout/legacy_layout_methods/index.md
  files/en-us/learn/javascript/client-side_web_apis/drawing_graphics/index.md
  files/en-us/learn/tools_and_testing/cross_browser_testing/html_and_css/index.md
  files/en-us/mozilla/add-ons/webextensions/api/proxy/register/index.md
  files/en-us/mozilla/firefox/releases/10/index.md
  files/en-us/mozilla/firefox/releases/11/index.md
  files/en-us/mozilla/firefox/releases/12/index.md
  files/en-us/mozilla/firefox/releases/19/index.md
  files/en-us/mozilla/firefox/releases/3.5/index.md
  files/en-us/mozilla/firefox/releases/32/index.md
  files/en-us/mozilla/firefox/releases/36/index.md
  files/en-us/mozilla/firefox/releases/38/index.md
  files/en-us/mozilla/firefox/releases/4/index.md
  files/en-us/mozilla/firefox/releases/4/updating_extensions_for_firefox_4/index.md
  files/en-us/mozilla/firefox/releases/5/index.md
  files/en-us/mozilla/firefox/releases/6/index.md
  files/en-us/mozilla/firefox/releases/7/index.md
  files/en-us/mozilla/firefox/releases/8/index.md
  files/en-us/web/api/canvasrenderingcontext2d/filter/index.md
  files/en-us/web/api/directoryreadersync/index.md
  files/en-us/web/api/formdata/using_formdata_objects/index.md
  files/en-us/web/css/privacy_and_the__colon_visited_selector/index.md
  files/en-us/web/html/element/tr/index.md
  files/en-us/web/javascript/typed_arrays/index.md
Labels: Content:CSS, Content:HTML, Content:WebExt, Content:WebAPI, Content:JS, Content:Learn, Content:Other

#17001 Fix a typo
  files/en-us/mozilla/add-ons/webextensions/implement_a_settings_page/index.md
Labels: Content:WebExt, Content:Other

#17004 Add page-type to templates
  files/en-us/mdn/structures/page_types/api_constructor_subpage_template/index.md
  files/en-us/mdn/structures/page_types/api_event_subpage_template/index.md
  files/en-us/mdn/structures/page_types/api_landing_page_template/index.md
  files/en-us/mdn/structures/page_types/api_method_subpage_template/index.md
  files/en-us/mdn/structures/page_types/api_property_subpage_template/index.md
  files/en-us/mdn/structures/page_types/api_reference_page_template/index.md
Labels: Content:Other

#17005 Fixed links for "See details below" (addons: webRequest)
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onauthrequired/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onbeforeredirect/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/oncompleted/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onerroroccurred/index.md
Labels: Content:WebExt, Content:Other

#17006 fix: remove duplicate properties for theme
  files/en-us/mozilla/add-ons/webextensions/manifest.json/theme/index.md
Labels: Content:WebExt, Content:Other

#17012 Fix link flaw in DirectoryReaderSync page
  files/en-us/web/api/directoryreadersync/index.md
Labels: Content:WebAPI

#17013 Remove never-implemented WebVR interfaces
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/vrdisplay/hardwareunitid/index.md
  files/en-us/web/api/vrdisplay/index.md
  files/en-us/web/api/vreyeparameters/recommendedfieldofview/index.md
  files/en-us/web/api/vreyeparameters/renderrect/index.md
  files/en-us/web/api/vrfieldofview/vrfieldofview/index.md
  files/en-us/web/api/vrpose/hasorientation/index.md
  files/en-us/web/api/vrpose/hasposition/index.md
Labels: Content:WebAPI

#17008 minor fixes
  files/en-us/learn/html/introduction_to_html/html_text_fundamentals/index.md
Labels: Content:Learn

#17017 Fixes bugs in sample code due to recent `let -> const`
  files/en-us/web/api/canvas_api/tutorial/basic_animations/index.md
Labels: Content:WebAPI

#17016 Daily markdownlint cleanup
  files/en-us/web/api/document/exitpictureinpicture/index.md
Labels: Content:WebAPI

#17020 [Transformations] Fixes bugs in sample code due to recent let -> const
  files/en-us/web/api/canvas_api/tutorial/transformations/index.md
Labels: Content:WebAPI

#17019 [Compositing] Fixes bugs in sample code due to recent let -> const
  files/en-us/web/api/canvas_api/tutorial/compositing/example/index.md
  files/en-us/web/api/canvas_api/tutorial/compositing/index.md
Labels: Content:WebAPI

#17015 DOCS: Typo fix under Building the package heading.
  files/en-us/webassembly/rust_to_wasm/index.md
Labels: Content:wasm

#17021 Updates a broken link
  files/en-us/mozilla/firefox/releases/24/index.md
Labels: Content:Other

#17018 Fix "string objects" in DocumentType
  files/en-us/web/api/documenttype/after/index.md
  files/en-us/web/api/documenttype/before/index.md
Labels: Content:WebAPI

#17023 fix: facebook_Facebook
  files/en-us/learn/html/introduction_to_html/the_head_metadata_in_html/index.md
Labels: Content:Learn

#17010 matches can be used with array as a parameter
  files/en-us/web/api/element/matches/index.md
Labels: Content:WebAPI

#16932 FF102 Supports transferable streams in nightly
  files/en-us/glossary/transferable_objects/index.md
  files/en-us/mozilla/firefox/experimental_features/index.md
Labels: Content:Other, Content:Glossary

#17011 Link to iframe in GlobalEventHandlers.onload doc
  files/en-us/web/api/globaleventhandlers/onload/index.md
Labels: Content:WebAPI

#17026 Fix typo in “Using channel messaging” doc
  files/en-us/web/api/channel_messaging_api/using_channel_messaging/index.md
Labels: Content:WebAPI

#17025 minor fix
  files/en-us/learn/html/introduction_to_html/creating_hyperlinks/index.md
Labels: Content:Learn

#17028 Fix various problems in the TextEncoder»encodeInto() doc; drop polyfill
  files/en-us/web/api/textencoder/encodeinto/index.md
Labels: Content:WebAPI

#17030 Fix typo
  files/en-us/web/api/mediakeystatusmap/index.md
Labels: Content:WebAPI

#17007 Updated syntax
  files/en-us/web/api/audiobuffersourcenode/loop/index.md
  files/en-us/web/api/audiobuffersourcenode/loopend/index.md
  files/en-us/web/api/audiobuffersourcenode/loopstart/index.md
  files/en-us/web/api/audiobuffersourcenode/playbackrate/index.md
  files/en-us/web/api/audiocontext/createmediastreamdestination/index.md
  files/en-us/web/api/audiocontext/createmediastreamsource/index.md
Labels: Content:WebAPI

#17035 rm space: <p> Lorem ipsum_<p>Lorem ipsum
  files/en-us/learn/css/css_layout/multiple-column_layout/index.md
Labels: Content:Learn

#17032 minor fixes
  files/en-us/learn/css/css_layout/introduction/index.md
Labels: Content:Learn

#17022 Replace links to ARIA Authoring practices for grid role
  files/en-us/web/accessibility/aria/roles/grid_role/index.md
Labels: Content:Accessibility

#16610 Update index.md
  files/en-us/web/javascript/reference/global_objects/object/getownpropertynames/index.md
Labels: Content:JS

#16760 Use macro to have id
  files/en-us/web/html/element/label/index.md
Labels: Content:HTML

#17045 Improves let-> const
  files/en-us/web/api/canvasrenderingcontext2d/arcto/index.md
Labels: Content:WebAPI

#17047 let -> const
  files/en-us/mdn/structures/live_samples/index.md
Labels: Content:Other

#17048 var -> const
  files/en-us/mdn/structures/code_examples/index.md
Labels: Content:Other

#17050 Fix a regression in var->const work
  files/en-us/web/api/audiocontext/createmediastreamdestination/index.md
Labels: Content:WebAPI

#17049 Removes nonexistent class 'dummy'
  files/en-us/web/api/broadcastchannel/message_event/index.md
Labels: Content:WebAPI

#17044 Daily markdownlint cleanup
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/web/api/globaleventhandlers/onload/index.md
Labels: Content:WebAPI, Content:Other

#17046 Fix copy typo: missing apostrophe
  files/en-us/web/accessibility/aria/roles/dialog_role/index.md
Labels: Content:Accessibility

#17041 Add allow-top-navigation-to-custom-protocols CSP sandbox value
  files/en-us/web/http/headers/content-security-policy/sandbox/index.md
Labels: Content:HTTP

#17052 Docs for VideoEncoder.isConfigSupported()
  files/en-us/web/api/videoencoder/index.md
  files/en-us/web/api/videoencoder/isconfigsupported/index.md
Labels: Content:WebAPI

#16623 Fix anchor links to attributes on the same page
  files/en-us/web/html/element/input/file/index.md
Labels: Content:HTML

#17051 fix typo
  files/en-us/web/api/htmlmediaelement/ended_event/index.md
Labels: Content:WebAPI

#17014 Fix up reference link style
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
Labels: Content:JS

#17043 Guidance about GFM link styles
  files/en-us/mdn/contribute/markdown_in_mdn/index.md
Labels: Content:Other

#17042 Fix typo in ARIA Roles: Note Role page
  files/en-us/web/accessibility/aria/roles/note_role/index.md
Labels: Content:Accessibility

#16830 Resolve issue: Viewport meta tag
  files/en-us/web/html/viewport_meta_tag/index.md
Labels: Content:HTML

#16926 Updates to Accessible Color
  files/en-us/web/accessibility/understanding_colors_and_luminance/index.md
  files/en-us/web/accessibility/understanding_colors_and_luminance/normalizedconeresponse.svg
Labels: Content:Accessibility

#17055 minor fixes
  files/en-us/learn/css/css_layout/responsive_design/index.md
Labels: Content:Learn

#17054 Add notes about the field declarations
  files/en-us/web/javascript/reference/classes/index.md
Labels: Content:JS

#17058 Remove multiline slug
  files/en-us/web/api/webrtc_api/build_a_phone_with_peerjs/connect_peers/get_microphone_permission/index.md
Labels: Content:WebAPI

#17059 minor fixes
  files/en-us/learn/css/css_layout/media_queries/index.md
Labels: Content:Learn

#16815 FF102 Ship TransformStream and ReadableStream.pipeThrough
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/102/index.md
Labels: Content:Other

#16961 Deal with IE-only Range related features
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/element/msgetregioncontent/index.md
  files/en-us/web/api/element/msregionoverflow/index.md
  files/en-us/web/api/msgetregioncontent/index.md
  files/en-us/web/api/msrangecollection/index.md
Labels: Content:WebAPI

#17066 Replace {{jsxref("String")}} with string
  files/en-us/web/api/event/type/index.md
Labels: Content:WebAPI

#17068 typo: transfering/transfered
  files/en-us/mozilla/firefox/experimental_features/index.md
Labels: Content:Other

#16999 fix: update links to web-dictaphone
  files/en-us/web/api/mediarecorder/dataavailable_event/index.md
  files/en-us/web/api/mediarecorder/index.md
  files/en-us/web/api/mediarecorder/mediarecorder/index.md
  files/en-us/web/api/mediarecorder/mimetype/index.md
  files/en-us/web/api/mediarecorder/pause/index.md
  files/en-us/web/api/mediarecorder/pause_event/index.md
  files/en-us/web/api/mediarecorder/requestdata/index.md
  files/en-us/web/api/mediarecorder/resume/index.md
  files/en-us/web/api/mediarecorder/resume_event/index.md
  files/en-us/web/api/mediarecorder/start/index.md
  files/en-us/web/api/mediarecorder/start_event/index.md
  files/en-us/web/api/mediarecorder/state/index.md
  files/en-us/web/api/mediarecorder/stop/index.md
  files/en-us/web/api/mediarecorder/stop_event/index.md
  files/en-us/web/api/mediarecorder/stream/index.md
  files/en-us/web/api/mediarecorder/warning_event/index.md
  files/en-us/web/api/mediastream_recording_api/using_the_mediastream_recording_api/index.md
Labels: Content:WebAPI, chore

#17069 Move ms* pages that are under Web/API + add page-type
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/htmlmediaelement/msgraphicstruststatus/index.md
  files/en-us/web/api/htmlvideoelement/msisboxed/index.md
  files/en-us/web/api/msgraphicstrust/index.md
  files/en-us/web/api/msgraphicstruststatus/index.md
Labels: Content:WebAPI
