Repository mdn/content, pull requests merged in 2022-11, with the labels that each got.

#21966 Cross-link hasIndices docs
  files/en-us/web/javascript/reference/global_objects/regexp/exec/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/hasindices/index.md
Labels: Content:JS

#21974 Old links: updated to new ones
  files/en-us/learn/forms/form_validation/index.md
Labels: Content:Learn

#21973 HTMLref -> HTMLSidebar, part 2
  files/en-us/web/html/date_and_time_formats/index.md
  files/en-us/web/html/element/a/index.md
  files/en-us/web/html/element/acronym/index.md
  files/en-us/web/html/element/address/index.md
  files/en-us/web/html/element/article/index.md
  files/en-us/web/html/element/bgsound/index.md
  files/en-us/web/html/element/blockquote/index.md
  files/en-us/web/html/element/caption/index.md
  files/en-us/web/html/element/colgroup/index.md
  files/en-us/web/html/element/content/index.md
  files/en-us/web/html/element/datalist/index.md
  files/en-us/web/html/element/details/index.md
  files/en-us/web/html/element/fieldset/index.md
  files/en-us/web/html/element/figcaption/index.md
  files/en-us/web/html/element/font/index.md
  files/en-us/web/html/element/frameset/index.md
  files/en-us/web/html/element/header/index.md
  files/en-us/web/html/element/heading_elements/index.md
  files/en-us/web/html/element/hgroup/index.md
  files/en-us/web/html/element/iframe/index.md
  files/en-us/web/html/element/input/index.md
  files/en-us/web/html/element/keygen/index.md
  files/en-us/web/html/element/legend/index.md
  files/en-us/web/html/element/link/index.md
  files/en-us/web/html/element/main/index.md
  files/en-us/web/html/element/map/index.md
  files/en-us/web/html/element/mark/index.md
  files/en-us/web/html/element/menu/index.md
  files/en-us/web/html/element/menuitem/index.md
  files/en-us/web/html/element/meta/index.md
  files/en-us/web/html/element/meta/name/index.md
  files/en-us/web/html/element/meta/name/theme-color/index.md
  files/en-us/web/html/element/meter/index.md
  files/en-us/web/html/element/nav/index.md
  files/en-us/web/html/element/nobr/index.md
  files/en-us/web/html/element/noembed/index.md
  files/en-us/web/html/element/noframes/index.md
  files/en-us/web/html/element/noscript/index.md
  files/en-us/web/html/element/object/index.md
  files/en-us/web/html/element/ol/index.md
  files/en-us/web/html/element/optgroup/index.md
  files/en-us/web/html/element/option/index.md
  files/en-us/web/html/element/output/index.md
  files/en-us/web/html/element/p/index.md
  files/en-us/web/html/element/param/index.md
  files/en-us/web/html/element/picture/index.md
  files/en-us/web/html/element/plaintext/index.md
  files/en-us/web/html/element/portal/index.md
  files/en-us/web/html/element/pre/index.md
  files/en-us/web/html/quirks_mode_and_standards_mode/index.md
Labels: Content:HTML

#21976 change the term 'symmetric' to 'anti-symmetric'
  files/en-us/web/javascript/reference/global_objects/array/sort/index.md
Labels: Content:JS

#21699 Version number simplification for MV3
  files/en-us/mozilla/add-ons/webextensions/manifest.json/version/format/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/version/index.md
  files/en-us/mozilla/firefox/releases/108/index.md
Labels: Content:WebExt, Content:Other

#21982 security: remove references to https://serviceworke.rs/
  files/en-us/web/progressive_web_apps/re-engageable_notifications_push/index.md
Labels: Content:Other, security

#21923 Add alt text
  files/en-us/web/guide/css/getting_started/challenge_solutions/index.md
Labels: Content:Learn

#21942 Add alt text
  files/en-us/web/api/htmlelement/offsetheight/index.md
Labels: Content:WebAPI

#21986 Remove duplicate warning about -webkit-box-reflect
  files/en-us/web/css/-webkit-box-reflect/index.md
Labels: Content:CSS

#21943 Add alt text
  files/en-us/web/api/htmlelement/offsetwidth/index.md
Labels: Content:WebAPI

#21941 Add alt text
  files/en-us/web/api/element/scrollheight/index.md
Labels: Content:WebAPI

#21995 fix: responsive design typos
  files/en-us/learn/css/css_layout/responsive_design/index.md
Labels: Content:Learn

#21570 Update @font-face page
  files/en-us/web/css/@font-face/index.md
Labels: Content:CSS

#21629 Update wrap to be more clear on what it does
  files/en-us/web/html/element/textarea/index.md
Labels: Content:HTML

#21990 fix: typo in WebAssembly Javascript API
  files/en-us/webassembly/using_the_javascript_api/index.md
Labels: Content:wasm

#21783 `color-scheme`: Added explains for the `only` keyword
  files/en-us/web/css/color-scheme/index.md
Labels: Content:CSS

#21970 Fix tbody markup
  files/en-us/web/html/element/tbody/index.md
Labels: Content:HTML

#21975 Update to 2022: feature detection
  files/en-us/learn/tools_and_testing/cross_browser_testing/feature_detection/index.md
Labels: Content:Learn

#21979 Fix atan2() typo
  files/en-us/web/css/atan2/index.md
Labels: Content:CSS

#21997 HTMLref -> HTMLSidebar, part 4
  files/en-us/mdn/writing_guidelines/page_structures/macros/commonly_used_macros/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/html_element_page_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/quicklinks/index.md
  files/en-us/web/html/element/input/button/index.md
  files/en-us/web/html/element/input/datetime-local/index.md
  files/en-us/web/html/element/input/file/index.md
  files/en-us/web/html/element/input/month/index.md
  files/en-us/web/html/element/input/number/index.md
  files/en-us/web/html/element/input/password/index.md
  files/en-us/web/html/element/input/radio/index.md
  files/en-us/web/html/element/input/range/index.md
  files/en-us/web/html/element/input/reset/index.md
  files/en-us/web/html/element/input/search/index.md
  files/en-us/web/html/element/input/submit/index.md
  files/en-us/web/html/element/input/tel/index.md
  files/en-us/web/html/element/input/text/index.md
  files/en-us/web/html/element/input/time/index.md
  files/en-us/web/html/element/input/url/index.md
  files/en-us/web/html/element/input/week/index.md
Labels: Content:HTML, Content:Other

#21996 HTMLref -> HTMLSidebar, part 3
  files/en-us/web/html/element/progress/index.md
  files/en-us/web/html/element/q/index.md
  files/en-us/web/html/element/rb/index.md
  files/en-us/web/html/element/rp/index.md
  files/en-us/web/html/element/rt/index.md
  files/en-us/web/html/element/rtc/index.md
  files/en-us/web/html/element/ruby/index.md
  files/en-us/web/html/element/s/index.md
  files/en-us/web/html/element/samp/index.md
  files/en-us/web/html/element/script/index.md
  files/en-us/web/html/element/section/index.md
  files/en-us/web/html/element/select/index.md
  files/en-us/web/html/element/shadow/index.md
  files/en-us/web/html/element/slot/index.md
  files/en-us/web/html/element/small/index.md
  files/en-us/web/html/element/source/index.md
  files/en-us/web/html/element/spacer/index.md
  files/en-us/web/html/element/span/index.md
  files/en-us/web/html/element/strike/index.md
  files/en-us/web/html/element/strong/index.md
  files/en-us/web/html/element/style/index.md
  files/en-us/web/html/element/sub/index.md
  files/en-us/web/html/element/summary/index.md
  files/en-us/web/html/element/sup/index.md
  files/en-us/web/html/element/table/index.md
  files/en-us/web/html/element/tbody/index.md
  files/en-us/web/html/element/td/index.md
  files/en-us/web/html/element/template/index.md
  files/en-us/web/html/element/textarea/index.md
  files/en-us/web/html/element/tfoot/index.md
  files/en-us/web/html/element/th/index.md
  files/en-us/web/html/element/thead/index.md
  files/en-us/web/html/element/time/index.md
  files/en-us/web/html/element/title/index.md
  files/en-us/web/html/element/tr/index.md
  files/en-us/web/html/element/track/index.md
  files/en-us/web/html/element/tt/index.md
  files/en-us/web/html/element/u/index.md
  files/en-us/web/html/element/ul/index.md
  files/en-us/web/html/element/var/index.md
  files/en-us/web/html/element/video/index.md
  files/en-us/web/html/element/wbr/index.md
  files/en-us/web/html/element/xmp/index.md
Labels: Content:HTML

#21989 Implements mode options
  files/en-us/web/api/element/attachshadow/index.md
Labels: Content:WebAPI

#19325 Documenting renderBlockingStatus in Resource Timing
  files/en-us/web/api/performanceresourcetiming/index.md
  files/en-us/web/api/performanceresourcetiming/renderblockingstatus/index.md
Labels: Content:WebAPI

#22006 Update index.md
  files/en-us/web/javascript/reference/global_objects/array/flatmap/index.md
Labels: Content:JS

#22007 Fix example output
  files/en-us/web/javascript/reference/global_objects/array/flatmap/index.md
Labels: Content:JS

#21927 Add alt text
  files/en-us/web/privacy/firefox_tracking_protection/index.md
Labels: Content:Other

#21925 Add alt text
  files/en-us/web/media/formats/video_codecs/index.md
Labels: Content:Media

#22013 Remove empty slot is non-iterable
  files/en-us/web/javascript/reference/global_objects/array/length/index.md
Labels: Content:JS

#22020 Removed an inappropriate link
  files/en-us/mdn/writing_guidelines/writing_style_guide/index.md
Labels: Content:Other

#22016 fixes code and screenshot inconsistencies
  files/en-us/web/api/console/table/console-table-array-of-array.png
  files/en-us/web/api/console/table/console-table-array-of-objects-firstname-only.png
  files/en-us/web/api/console/table/console-table-array-of-objects.png
  files/en-us/web/api/console/table/console-table-array.png
  files/en-us/web/api/console/table/console-table-object-of-objects.png
  files/en-us/web/api/console/table/console-table-simple-object.png
  files/en-us/web/api/console/table/index.md
Labels: Content:WebAPI

#22027 Fix for outdated `datetime` type
  files/en-us/web/html/element/input/datetime-local/index.md
  files/en-us/web/html/element/input/index.md
Labels: Content:HTML

#22026 Fix a typo
  files/en-us/web/html/element/input/submit/index.md
Labels: Content:HTML

#22010 Gender: change examples to pronouns in some code examples
  files/en-us/learn/accessibility/html/index.md
  files/en-us/mdn/writing_guidelines/writing_style_guide/code_style_guide/javascript/index.md
  files/en-us/web/html/attributes/autocomplete/index.md
Labels: Content:HTML, Content:Learn, Content:Other

#22019 Legacy: removed some
  files/en-us/learn/css/css_layout/supporting_older_browsers/index.md
  files/en-us/web/api/css_object_model/managing_screen_orientation/index.md
  files/en-us/web/css/box-flex-group/index.md
  files/en-us/web/css/box-lines/index.md
  files/en-us/web/css/box-ordinal-group/index.md
  files/en-us/web/css/css_flexible_box_layout/index.md
  files/en-us/web/css/display/index.md
  files/en-us/web/guide/css/css_layout/index.md
  files/en-us/web/html/element/canvas/index.md
  files/en-us/web/html/global_attributes/itemprop/index.md
  files/en-us/web/html/global_attributes/itemscope/index.md
  files/en-us/web/security/same-origin_policy/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:Learn, Content:Other

#22011 Remove legacy Iterator protocol page
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/firefox/releases/58/index.md
  files/en-us/web/javascript/reference/deprecated_and_obsolete_features/index.md
  files/en-us/web/javascript/reference/deprecated_and_obsolete_features/the_legacy_iterator_protocol/index.md
Labels: Content:JS, Content:Other

#22009 CSSRef should be the only sidebar in the CSS docs
  files/en-us/web/css/@media/prefers-color-scheme/index.md
  files/en-us/web/css/@media/prefers-reduced-motion/index.md
  files/en-us/web/css/css_backgrounds_and_borders/border-image_generator/index.md
  files/en-us/web/css/css_backgrounds_and_borders/border-radius_generator/index.md
  files/en-us/web/css/css_backgrounds_and_borders/box-shadow_generator/index.md
  files/en-us/web/css/css_flow_layout/flow_layout_and_overflow/index.md
  files/en-us/web/css/css_flow_layout/flow_layout_and_writing_modes/index.md
Labels: Content:CSS

#22028 Detail content
  files/en-us/learn/javascript/first_steps/arrays/index.md
Labels: Content:Learn

#22024 Update index.md
  files/en-us/web/web_components/index.md
Labels: Content:Other

#20584 fix: Glossary call format
  files/en-us/glossary/ajax/index.md
  files/en-us/glossary/git/index.md
  files/en-us/glossary/non-normative/index.md
  files/en-us/glossary/uri/index.md
  files/en-us/mozilla/firefox/releases/43/index.md
  files/en-us/web/api/headers/append/index.md
  files/en-us/web/api/headers/delete/index.md
  files/en-us/web/api/headers/get/index.md
  files/en-us/web/api/headers/has/index.md
  files/en-us/web/api/headers/index.md
  files/en-us/web/api/headers/set/index.md
  files/en-us/web/api/htmlelement/focus/index.md
  files/en-us/web/api/xmlhttprequest/setrequestheader/index.md
  files/en-us/web/css/css_flexible_box_layout/index.md
  files/en-us/web/javascript/reference/global_objects/object/constructor/index.md
Labels: Content:CSS, Content:WebAPI, Content:JS, Content:Other, Content:Glossary

#22033 Fix a typo in MDN/Writing_guidelines/Howto/Images_media
  files/en-us/mdn/writing_guidelines/howto/images_media/index.md
Labels: Content:Other

#21932 Add Referrer-Policy set to no-referrer as example
  files/en-us/web/http/headers/origin/index.md
Labels: Content:HTTP

#22001 relnote(105): CSS trig funcs behind pref disabled by default
  files/en-us/mozilla/firefox/releases/105/index.md
Labels: Content:Other

#21984 Rewrite Performance API overview
  files/en-us/web/api/performance_api/diagram.svg
  files/en-us/web/api/performance_api/index.md
Labels: Content:WebAPI

#22023 Add AccentColor and AccentColorText
  files/en-us/web/css/system-color/index.md
Labels: Content:CSS

#22035 Add css-nolint to example that was auto-formatted
  files/en-us/learn/css/building_blocks/selectors/index.md
Labels: Content:Learn

#22018 Add special shortcut _execute_action
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/add-ons/webextensions/api/menus/create/index.md
  files/en-us/mozilla/add-ons/webextensions/api/menus/createproperties/index.md
  files/en-us/mozilla/add-ons/webextensions/api/menus/update/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/commands/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/popups/index.md
  files/en-us/mozilla/firefox/releases/101/index.md
Labels: Content:WebExt, Content:Other

#22038 Add word-spacing link to letter-spacing page
  files/en-us/web/css/letter-spacing/index.md
Labels: Content:CSS

#22017 Add alt text
  files/en-us/web/api/channelmergernode/index.md
  files/en-us/web/api/channelsplitternode/index.md
Labels: Content:WebAPI

#22042 Add a page for HTMLElement.inputMode
  files/en-us/web/api/htmlelement/index.md
  files/en-us/web/api/htmlelement/inputmode/index.md
Labels: Content:WebAPI

#21967 Dedicated section for null-prototype objects
  files/en-us/web/javascript/reference/global_objects/array/@@unscopables/index.md
  files/en-us/web/javascript/reference/global_objects/array/group/index.md
  files/en-us/web/javascript/reference/global_objects/object/__definegetter__/index.md
  files/en-us/web/javascript/reference/global_objects/object/__definesetter__/index.md
  files/en-us/web/javascript/reference/global_objects/object/__lookupgetter__/index.md
  files/en-us/web/javascript/reference/global_objects/object/__lookupsetter__/index.md
  files/en-us/web/javascript/reference/global_objects/object/constructor/index.md
  files/en-us/web/javascript/reference/global_objects/object/create/index.md
  files/en-us/web/javascript/reference/global_objects/object/index.md
  files/en-us/web/javascript/reference/global_objects/object/isprototypeof/index.md
  files/en-us/web/javascript/reference/global_objects/object/propertyisenumerable/index.md
  files/en-us/web/javascript/reference/global_objects/object/tolocalestring/index.md
  files/en-us/web/javascript/reference/global_objects/object/tostring/index.md
  files/en-us/web/javascript/reference/global_objects/object/valueof/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/exec/index.md
  files/en-us/web/javascript/reference/operators/import.meta/index.md
  files/en-us/web/javascript/reference/operators/import/index.md
  files/en-us/web/javascript/reference/operators/in/index.md
  files/en-us/web/javascript/reference/statements/import/index.md
Labels: Content:JS

#21845 add WebCodec dequeue events
  files/en-us/web/api/audiodecoder/dequeue_event/index.md
  files/en-us/web/api/audiodecoder/index.md
  files/en-us/web/api/audioencoder/dequeue_event/index.md
  files/en-us/web/api/audioencoder/index.md
  files/en-us/web/api/videodecoder/dequeue_event/index.md
  files/en-us/web/api/videodecoder/index.md
  files/en-us/web/api/videoencoder/dequeue_event/index.md
  files/en-us/web/api/videoencoder/index.md
  files/jsondata/InterfaceData.json
Labels: Content:WebAPI

#21597 Use SIL Open Font in example
  files/en-us/web/css/font-variant-alternates/index.md
Labels: Content:CSS

#22066 Replace link destination for "head pointer"
  files/en-us/learn/accessibility/what_is_accessibility/index.md
Labels: Content:Learn

#22062 make digits consistent with specification
  files/en-us/web/javascript/reference/global_objects/number/tofixed/index.md
Labels: Content:JS

#22073 Delete Separate Sites Page
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/guide/mobile/a_hybrid_approach/index.md
  files/en-us/web/guide/mobile/mobile-friendliness/index.md
  files/en-us/web/guide/mobile/separate_sites/index.md
  files/en-us/web/guide/mobile/separate_sites/sumo_screenshot.png
Labels: Content:Learn

#22071 Fix grammar
  files/en-us/web/css/css_selectors/index.md
Labels: Content:CSS

#21998 Make wording more accurate and concise
  files/en-us/web/javascript/reference/operators/await/index.md
Labels: Content:JS

#22068 Add alt texts
  files/en-us/mozilla/add-ons/webextensions/browser_actions/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/browser_action/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/context_menu_items/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/page_actions/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/popups/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/sidebars/index.md
Labels: Content:WebExt, Content:Other

#22080 Add missing sidebars to web/media pages
  files/en-us/web/media/autoplay_guide/index.md
  files/en-us/web/media/dash_adaptive_streaming_for_html_5_video/index.md
  files/en-us/web/media/images/index.md
Labels: Content:Media

#22079 Delete FAQ on XSL in FF7
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/xsltprocessor/xsl_transformations_in_mozilla_faq/index.md
Labels: Content:WebAPI

#22070 Update `Accessibility` header in `web/css/content-visibility` page to match all to match other pages.
  files/en-us/web/css/content-visibility/index.md
Labels: Content:CSS

#22082 fix: maybe a typo in input/url
  files/en-us/web/html/element/input/url/index.md
Labels: Content:HTML

#22081 Fix section header typo in `/web/css/-webkit-text-fill-color`
  files/en-us/web/css/-webkit-text-fill-color/index.md
Labels: Content:CSS

#22084 Logical OR assignment: fix typo
  files/en-us/web/javascript/reference/operators/logical_or_assignment/index.md
Labels: Content:JS

#22083 Add mention of the return value
  files/en-us/web/javascript/reference/global_objects/typedarray/set/index.md
Labels: Content:JS

#21064 correct JSClock() example
  files/en-us/web/javascript/guide/numbers_and_dates/index.md
Labels: Content:JS

#21391 Add destructured example
  files/en-us/web/javascript/guide/loops_and_iteration/index.md
Labels: Content:JS

#22089 Minor : update link in mime_types/index.md
  files/en-us/web/http/basics_of_http/mime_types/index.md
Labels: Content:HTTP

#22088 Fix inconsistent capitalization
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/react_getting_started/index.md
Labels: Content:Learn

#22091 remove documation of removed {{Link}} macro
  files/en-us/mdn/writing_guidelines/page_structures/macros/other/index.md
Labels: Content:Other

#22087 sort method has no thisObject param
  files/en-us/web/javascript/guide/indexed_collections/index.md
Labels: Content:JS

#22075 Reorganize working with objects guide, better property definition
  files/en-us/glossary/property/javascript/index.md
  files/en-us/web/javascript/guide/working_with_objects/index.md
  files/en-us/web/javascript/reference/operators/property_accessors/index.md
Labels: Content:JS, Content:Glossary

#22093 Synchronize with BCD v5.2.13
  files/en-us/web/api/fontface/index.md
  files/en-us/web/api/fontface/variationsettings/index.md
  files/en-us/web/css/contain-intrinsic-block-size/index.md
  files/en-us/web/css/contain-intrinsic-height/index.md
  files/en-us/web/css/contain-intrinsic-inline-size/index.md
  files/en-us/web/css/contain-intrinsic-size/index.md
  files/en-us/web/css/contain-intrinsic-width/index.md
  files/en-us/web/mathml/element/maction/index.md
  files/en-us/web/mathml/element/menclose/index.md
  files/en-us/web/mathml/element/mfrac/index.md
  files/en-us/web/mathml/element/mmultiscripts/index.md
  files/en-us/web/mathml/element/mo/index.md
  files/en-us/web/mathml/element/mstyle/index.md
  files/en-us/web/mathml/element/msub/index.md
  files/en-us/web/mathml/element/msubsup/index.md
  files/en-us/web/mathml/element/msup/index.md
  files/en-us/web/mathml/element/mtable/index.md
  files/en-us/web/mathml/element/mtd/index.md
  files/en-us/web/mathml/element/mtr/index.md
  files/en-us/web/mathml/global_attributes/href/index.md
Labels: Content:CSS, Content:WebAPI, Content:MathML

#22032 TE Expand warning for using header in HTTP/2
  files/en-us/web/http/headers/transfer-encoding/index.md
Labels: Content:HTTP

#22102 Update index.md
  files/en-us/web/javascript/guide/loops_and_iteration/index.md
Labels: Content:JS

#20127 update types on formatToParts
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/formattoparts/index.md
Labels: Content:JS, awaiting response

#22103 Make arrow functions page less repetitive
  files/en-us/web/javascript/reference/functions/arrow_functions/index.md
Labels: Content:JS

#22067 Add Sprig as Canvas resource
  files/en-us/web/api/canvas_api/index.md
Labels: Content:WebAPI

#22105 Remove extra else if
  files/en-us/web/javascript/guide/indexed_collections/index.md
Labels: Content:JS

#22060 Add caveat about memory usage
  files/en-us/web/api/filereader/readastext/index.md
Labels: Content:WebAPI

#22099 Change wording in Array.prototype.reduce()
  files/en-us/web/javascript/reference/global_objects/array/reduce/index.md
Labels: Content:JS

#22108 Normalize h2 heading sequence where possible
  files/en-us/web/javascript/reference/global_objects/array/@@unscopables/index.md
  files/en-us/web/javascript/reference/global_objects/array/flat/index.md
  files/en-us/web/javascript/reference/global_objects/array/index.md
  files/en-us/web/javascript/reference/global_objects/date/gettime/index.md
  files/en-us/web/javascript/reference/global_objects/date/getyear/index.md
  files/en-us/web/javascript/reference/global_objects/error/cause/index.md
  files/en-us/web/javascript/reference/global_objects/finalizationregistry/index.md
  files/en-us/web/javascript/reference/global_objects/finalizationregistry/register/index.md
  files/en-us/web/javascript/reference/global_objects/finalizationregistry/unregister/index.md
  files/en-us/web/javascript/reference/global_objects/intl/collator/collator/index.md
  files/en-us/web/javascript/reference/global_objects/intl/collator/supportedlocalesof/index.md
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/datetimeformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/supportedlocalesof/index.md
  files/en-us/web/javascript/reference/global_objects/intl/displaynames/displaynames/index.md
  files/en-us/web/javascript/reference/global_objects/intl/displaynames/supportedlocalesof/index.md
  files/en-us/web/javascript/reference/global_objects/intl/index.md
  files/en-us/web/javascript/reference/global_objects/intl/listformat/listformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/listformat/supportedlocalesof/index.md
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/numberformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/supportedlocalesof/index.md
  files/en-us/web/javascript/reference/global_objects/intl/pluralrules/pluralrules/index.md
  files/en-us/web/javascript/reference/global_objects/intl/pluralrules/supportedlocalesof/index.md
  files/en-us/web/javascript/reference/global_objects/intl/relativetimeformat/relativetimeformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/relativetimeformat/supportedlocalesof/index.md
  files/en-us/web/javascript/reference/global_objects/intl/segmenter/supportedlocalesof/index.md
  files/en-us/web/javascript/reference/global_objects/weakref/deref/index.md
  files/en-us/web/javascript/reference/global_objects/weakref/index.md
  files/en-us/web/javascript/reference/operators/comma_operator/index.md
Labels: Content:JS

#21801 CSS `content: url() / "alternative text" fail case
  files/en-us/web/css/content/index.md
Labels: Content:CSS

#22109 FF107 Remove contain-intrinsic-* from experimental features
  files/en-us/mozilla/firefox/experimental_features/index.md
Labels: Content:Other

#22107 Add missing sidebars
  files/en-us/learn/html/howto/add_a_hit_map_on_top_of_an_image/index.md
  files/en-us/learn/html/howto/author_fast-loading_html_pages/index.md
  files/en-us/learn/html/howto/define_terms_with_html/index.md
  files/en-us/learn/html/howto/use_data_attributes/index.md
  files/en-us/learn/html/howto/use_javascript_within_a_webpage/index.md
  files/en-us/web/http/link_prefetching_faq/index.md
  files/en-us/web/xml/xml_introduction/index.md
Labels: Content:Learn, Content:Other, Content:HTTP

#22104 Remove Link macro documentation
  files/en-us/mdn/writing_guidelines/page_structures/macros/deprecated_macros/index.md
Labels: Content:Other

#22101 Add alt text to image
  files/en-us/web/api/document_object_model/whitespace/index.md
Labels: Content:WebAPI

#22094 Update examples for document.caret[Range/Position]FromPoint to clarify which is used
  files/en-us/web/api/document/caretpositionfrompoint/index.md
  files/en-us/web/api/document/caretrangefrompoint/index.md
Labels: Content:WebAPI

#22100 Fix typo
  files/en-us/web/css/env/index.md
Labels: Content:CSS

#22085 Document internal methods
  files/en-us/web/javascript/reference/classes/public_class_fields/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/proxy/apply/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/proxy/construct/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/proxy/defineproperty/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/proxy/deleteproperty/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/proxy/get/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/proxy/getownpropertydescriptor/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/proxy/getprototypeof/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/proxy/has/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/proxy/isextensible/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/proxy/ownkeys/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/proxy/preventextensions/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/proxy/set/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/proxy/setprototypeof/index.md
Labels: Content:JS

#22078 Move Yari Page
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mdn/tools/kumascript/index.md
  files/en-us/mdn/writing_guidelines/page_structures/macros/index.md
  files/en-us/mdn/yari/index.md
Labels: Content:Other

#22074 add alt texts
  files/en-us/mozilla/add-ons/webextensions/what_are_webextensions/index.md
  files/en-us/mozilla/firefox/releases/3.5/icc_color_correction_in_firefox/index.md
Labels: Content:WebExt, Content:Other

#22086 fix punctuation issues in video_and_audio_apis
  files/en-us/learn/javascript/client-side_web_apis/video_and_audio_apis/index.md
Labels: Content:Learn

#22045 Remove @@toStringTag pages, add @@toStringTag to all objects that have one
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/javascript/reference/global_objects/arraybuffer/index.md
  files/en-us/web/javascript/reference/global_objects/asyncgenerator/index.md
  files/en-us/web/javascript/reference/global_objects/atomics/index.md
  files/en-us/web/javascript/reference/global_objects/bigint/index.md
  files/en-us/web/javascript/reference/global_objects/dataview/index.md
  files/en-us/web/javascript/reference/global_objects/finalizationregistry/index.md
  files/en-us/web/javascript/reference/global_objects/generator/index.md
  files/en-us/web/javascript/reference/global_objects/intl/@@tostringtag/index.md
  files/en-us/web/javascript/reference/global_objects/json/index.md
  files/en-us/web/javascript/reference/global_objects/map/@@tostringtag/index.md
  files/en-us/web/javascript/reference/global_objects/map/index.md
  files/en-us/web/javascript/reference/global_objects/math/index.md
  files/en-us/web/javascript/reference/global_objects/promise/index.md
  files/en-us/web/javascript/reference/global_objects/reflect/index.md
  files/en-us/web/javascript/reference/global_objects/set/index.md
  files/en-us/web/javascript/reference/global_objects/sharedarraybuffer/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/tostringtag/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/index.md
  files/en-us/web/javascript/reference/global_objects/weakmap/index.md
  files/en-us/web/javascript/reference/global_objects/weakref/index.md
  files/en-us/web/javascript/reference/global_objects/weakset/index.md
Labels: Content:JS

#22040 Add alt texts
  files/en-us/mozilla/add-ons/webextensions/api/menus/index.md
  files/en-us/mozilla/add-ons/webextensions/api/notifications/index.md
  files/en-us/mozilla/add-ons/webextensions/api/pageaction/index.md
  files/en-us/mozilla/add-ons/webextensions/api/pkcs11/index.md
  files/en-us/mozilla/add-ons/webextensions/api/proxy/register/index.md
  files/en-us/mozilla/add-ons/webextensions/api/proxy/unregister/index.md
Labels: Content:WebExt, Content:Other

#22015 Fix Control flow effects of await examples
  files/en-us/web/javascript/reference/operators/await/index.md
Labels: Content:JS

#22122 Fix code typo in “BackgroundFetchManager»getIds()” doc
  files/en-us/web/api/backgroundfetchmanager/getids/index.md
Labels: Content:WebAPI

#22120 Remove unavailable animation-name
  files/en-us/web/css/animation-composition/index.md
Labels: Content:CSS

#22126 fix: Incorrect mention of permanently forbidden access
  files/en-us/web/http/status/403/index.md
Labels: Content:HTTP

#22128 Update index.md
  files/en-us/web/accessibility/aria/roles/menuitem_role/index.md
Labels: Content:Accessibility

#22063 Refactor Web Extensions Permissions API examples to async/await
  files/en-us/mozilla/add-ons/webextensions/api/permissions/contains/index.md
  files/en-us/mozilla/add-ons/webextensions/api/permissions/getall/index.md
  files/en-us/mozilla/add-ons/webextensions/api/permissions/remove/index.md
  files/en-us/mozilla/add-ons/webextensions/api/permissions/request/index.md
Labels: Content:WebExt, Content:Other

#22121 impact of !important in custom properties
  files/en-us/web/css/important/index.md
Labels: Content:CSS

#21940 Add alt text
  files/en-us/web/api/element/getboundingclientrect/index.md
Labels: Content:WebAPI

#21707 Anonymous scroll timelines
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/web/css/animation-timeline/index.md
  files/en-us/web/css/animation-timeline/scroll/index.md
  files/en-us/web/css/css_functions/index.md
  files/en-us/web/css/scroll-timeline-name/index.md
Labels: Content:CSS, Content:Other

#22131 Cleanup PerformanceObserverEntryList pages
  files/en-us/web/api/performanceobserverentrylist/getentries/index.md
  files/en-us/web/api/performanceobserverentrylist/getentriesbyname/index.md
  files/en-us/web/api/performanceobserverentrylist/getentriesbytype/index.md
  files/en-us/web/api/performanceobserverentrylist/index.md
Labels: Content:WebAPI

#21883 A lot more use cases for grouping operator
  files/en-us/web/javascript/reference/operators/grouping/index.md
Labels: Content:JS

#22064 Improve PerformanceEntry pages, part 1
  files/en-us/web/api/performanceentry/entrytype/index.md
  files/en-us/web/api/performanceentry/index.md
  files/en-us/web/api/performanceentry/name/index.md
Labels: Content:WebAPI

#22133 fix grammatical issues in how_to_structure_a_web_form
  files/en-us/learn/forms/how_to_structure_a_web_form/index.md
Labels: Content:Learn

#22139 Grammar error in HTML img reference
  files/en-us/web/html/element/img/index.md
Labels: Content:HTML

#22123 Add percent-escaping to “Data URLs” example
  files/en-us/web/http/basics_of_http/data_urls/index.md
Labels: Content:HTTP

#22134 Update index.md
  files/en-us/learn/getting_started_with_the_web/html_basics/index.md
Labels: Content:Learn

#22144 fix: font-descriptor
  files/en-us/web/api/fontface/fontface/index.md
Labels: Content:WebAPI

#22143 Delete sampleserver page
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mdn/tools/sample_server/index.md
Labels: Content:Other

#22138 add alt texts
  files/en-us/mozilla/add-ons/webextensions/anatomy_of_a_webextension/index.md
  files/en-us/mozilla/add-ons/webextensions/api/userscripts/working_with_userscripts/index.md
  files/en-us/mozilla/add-ons/webextensions/extending_the_developer_tools/index.md
  files/en-us/web/api/channel_messaging_api/using_channel_messaging/index.md
  files/en-us/web/api/element/clientwidth/index.md
Labels: Content:WebExt, Content:WebAPI, Content:Other

#22137 Revise warnings about Hotlinking
  files/en-us/learn/html/multimedia_and_embedding/images_in_html/index.md
Labels: Content:Learn

#22136 Update hotlink glossary page
  files/en-us/glossary/hotlink/index.md
Labels: Content:Glossary

#22146 Correct WCAG 2.1 contrast value
  files/en-us/web/accessibility/understanding_colors_and_luminance/index.md
Labels: Content:Accessibility

#22147 Delete Unsuported get API
  files/en-us/_redirects.txt
  files/en-us/mdn/tools/unsupported_get_api/index.md
Labels: Content:Other

#22129 Cleanup PerformanceObserver pages
  files/en-us/web/api/performanceobserver/disconnect/index.md
  files/en-us/web/api/performanceobserver/index.md
  files/en-us/web/api/performanceobserver/observe/index.md
  files/en-us/web/api/performanceobserver/performanceobserver/index.md
  files/en-us/web/api/performanceobserver/supportedentrytypes/index.md
  files/en-us/web/api/performanceobserver/takerecords/index.md
Labels: Content:WebAPI

#22130 PerformanceEventTiming pages should use buffered option
  files/en-us/web/api/performanceeventtiming/cancelable/index.md
  files/en-us/web/api/performanceeventtiming/index.md
  files/en-us/web/api/performanceeventtiming/interactionid/index.md
  files/en-us/web/api/performanceeventtiming/processingend/index.md
  files/en-us/web/api/performanceeventtiming/processingstart/index.md
  files/en-us/web/api/performanceeventtiming/target/index.md
  files/en-us/web/api/performanceeventtiming/tojson/index.md
Labels: Content:WebAPI

#22151 docs: `markdown` --> `Markdown`
  files/en-us/mdn/writing_guidelines/howto/markdown_in_mdn/index.md
Labels: Content:Other

#22150 FF108 Relnote: WebMIDI API released
  files/en-us/mozilla/firefox/releases/108/index.md
Labels: Content:Other

#22149 added logical operations to :has()
  files/en-us/web/css/_colon_has/index.md
Labels: Content:CSS

#22164 fix grammatical issues in basic_native_form_control
  files/en-us/learn/forms/basic_native_form_controls/index.md
Labels: Content:Learn

#22047 added ::marker to generated content
  files/en-us/learn/css/howto/generated_content/index.md
Labels: Content:Learn

#22167 Use CSSSyntax for at-rules and at-rule descriptors
  files/en-us/web/css/@color-profile/index.md
  files/en-us/web/css/@counter-style/additive-symbols/index.md
  files/en-us/web/css/@counter-style/fallback/index.md
  files/en-us/web/css/@counter-style/index.md
  files/en-us/web/css/@counter-style/negative/index.md
  files/en-us/web/css/@counter-style/pad/index.md
  files/en-us/web/css/@counter-style/prefix/index.md
  files/en-us/web/css/@counter-style/range/index.md
  files/en-us/web/css/@counter-style/speak-as/index.md
  files/en-us/web/css/@counter-style/suffix/index.md
  files/en-us/web/css/@counter-style/symbols/index.md
  files/en-us/web/css/@counter-style/system/index.md
  files/en-us/web/css/@font-face/ascent-override/index.md
  files/en-us/web/css/@font-face/descent-override/index.md
  files/en-us/web/css/@font-face/font-display/index.md
  files/en-us/web/css/@font-face/font-family/index.md
  files/en-us/web/css/@font-face/font-stretch/index.md
  files/en-us/web/css/@font-face/font-style/index.md
  files/en-us/web/css/@font-face/font-variation-settings/index.md
  files/en-us/web/css/@font-face/font-weight/index.md
  files/en-us/web/css/@font-face/index.md
  files/en-us/web/css/@font-face/line-gap-override/index.md
  files/en-us/web/css/@font-face/size-adjust/index.md
  files/en-us/web/css/@font-face/unicode-range/index.md
  files/en-us/web/css/@font-feature-values/index.md
  files/en-us/web/css/@import/index.md
  files/en-us/web/css/@keyframes/index.md
  files/en-us/web/css/@layer/index.md
  files/en-us/web/css/@media/index.md
  files/en-us/web/css/@namespace/index.md
  files/en-us/web/css/@page/index.md
  files/en-us/web/css/@page/size/index.md
  files/en-us/web/css/@property/index.md
  files/en-us/web/css/@property/inherits/index.md
  files/en-us/web/css/@property/initial-value/index.md
  files/en-us/web/css/@property/syntax/index.md
  files/en-us/web/css/@supports/index.md
Labels: Content:CSS

#22169 docs: improve frame-ancestors syntax description
  files/en-us/web/http/headers/content-security-policy/frame-ancestors/index.md
Labels: Content:HTTP

#22171 Add id member to web manifests list
  files/en-us/web/manifest/id/index.md
Labels: Content:Other

#22168 Add alt text to image
  files/en-us/web/api/canvasrenderingcontext2d/rotate/index.md
Labels: Content:WebAPI

#22153 relnote(108) CSS trig functions enabled by default
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/108/index.md
Labels: Content:Other

#22163 Rearrange Using promises guide
  files/en-us/web/javascript/guide/using_promises/index.md
Labels: Content:JS

#22175 Add/update sidebars to security pages
  files/en-us/web/security/certificate_transparency/index.md
  files/en-us/web/security/firefox_security_guidelines/index.md
  files/en-us/web/security/index.md
  files/en-us/web/security/insecure_passwords/index.md
  files/en-us/web/security/mixed_content/how_to_fix_website_with_mixed_content/index.md
  files/en-us/web/security/mixed_content/index.md
  files/en-us/web/security/referer_header_colon__privacy_and_security_concerns/index.md
  files/en-us/web/security/secure_contexts/features_restricted_to_secure_contexts/index.md
  files/en-us/web/security/secure_contexts/index.md
  files/en-us/web/security/securing_your_site/index.md
  files/en-us/web/security/subdomain_takeovers/index.md
  files/en-us/web/security/subresource_integrity/index.md
  files/en-us/web/security/transport_layer_security/index.md
  files/en-us/web/security/types_of_attacks/index.md
  files/en-us/web/security/user_activation/index.md
  files/en-us/web/security/weak_signature_algorithm/index.md
Labels: Content:Other

#22184 Remove Firefox-specific and outdated content in requestStorageAccess
  files/en-us/web/api/document/requeststorageaccess/index.md
Labels: Content:WebAPI

#21749 Grouping scattered parts into proper sections
  files/en-us/web/css/css_positioning/understanding_z_index/adding_z-index/index.md
  files/en-us/web/css/css_positioning/understanding_z_index/index.md
  files/en-us/web/css/css_positioning/understanding_z_index/stacking_and_float/index.md
  files/en-us/web/css/css_positioning/understanding_z_index/stacking_context_example_1/index.md
  files/en-us/web/css/css_positioning/understanding_z_index/stacking_context_example_2/index.md
  files/en-us/web/css/css_positioning/understanding_z_index/stacking_context_example_3/index.md
  files/en-us/web/css/css_positioning/understanding_z_index/stacking_without_z-index/index.md
  files/en-us/web/css/css_positioning/understanding_z_index/the_stacking_context/index.md
Labels: Content:CSS

#22180 Align description of all iterative array methods
  files/en-us/web/javascript/reference/global_objects/array/every/index.md
  files/en-us/web/javascript/reference/global_objects/array/filter/index.md
  files/en-us/web/javascript/reference/global_objects/array/find/index.md
  files/en-us/web/javascript/reference/global_objects/array/findindex/index.md
  files/en-us/web/javascript/reference/global_objects/array/findlast/index.md
  files/en-us/web/javascript/reference/global_objects/array/findlastindex/index.md
  files/en-us/web/javascript/reference/global_objects/array/flatmap/index.md
  files/en-us/web/javascript/reference/global_objects/array/foreach/index.md
  files/en-us/web/javascript/reference/global_objects/array/from/index.md
  files/en-us/web/javascript/reference/global_objects/array/group/index.md
  files/en-us/web/javascript/reference/global_objects/array/grouptomap/index.md
  files/en-us/web/javascript/reference/global_objects/array/index.md
  files/en-us/web/javascript/reference/global_objects/array/map/index.md
  files/en-us/web/javascript/reference/global_objects/array/reduce/index.md
  files/en-us/web/javascript/reference/global_objects/array/reduceright/index.md
  files/en-us/web/javascript/reference/global_objects/array/some/index.md
Labels: Content:JS

#22162 Improve PerformanceEntry pages, part 2
  files/en-us/web/api/performanceentry/duration/index.md
  files/en-us/web/api/performanceentry/starttime/index.md
  files/en-us/web/api/performanceentry/tojson/index.md
Labels: Content:WebAPI

#22199 Update index.md
  files/en-us/learn/javascript/objects/adding_bouncing_balls_features/index.md
Labels: Content:Learn

#22194 docs(HTTP): Add some information about HTTP responses for not-found files
  files/en-us/learn/common_questions/what_is_a_web_server/index.md
Labels: Content:Learn

#22200 Fixed typo in example
  files/en-us/web/api/navigator/globalprivacycontrol/index.md
Labels: Content:WebAPI

#22202 Fix typo
  files/en-us/mdn/writing_guidelines/writing_style_guide/index.md
Labels: Content:Other

#22201 fix grammatical issues in html5_input_types
  files/en-us/learn/forms/html5_input_types/index.md
Labels: Content:Learn

#22207 Ban nbsp characters
  .markdownlint-cli2.jsonc
  files/en-us/glossary/enumerated/index.md
  files/en-us/glossary/void_element/index.md
  files/en-us/web/api/textencoder/encodeinto/index.md
  files/en-us/web/javascript/guide/using_promises/index.md
  files/en-us/web/javascript/reference/global_objects/json/parse/index.md
  files/en-us/web/javascript/reference/global_objects/object/valueof/index.md
  files/en-us/web/javascript/reference/global_objects/string/replace/index.md
  files/en-us/web/javascript/reference/global_objects/string/replaceall/index.md
Labels: Content:WebAPI, Content:JS, Content:Glossary

#22203 Add sidebars to gpc pages
  files/en-us/web/api/navigator/globalprivacycontrol/index.md
  files/en-us/web/http/headers/sec-gpc/index.md
Labels: Content:WebAPI, Content:HTTP

#22205 Add alt text
  files/en-us/web/http/cors/index.md
Labels: Content:HTTP

#22209 Add WebGL 2 Types
  files/en-us/web/api/webglrenderingcontext/vertexattribpointer/index.md
Labels: Content:WebAPI

#22092 Remove moz api
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/datatransfer/addelement/index.md
  files/en-us/web/api/datatransfer/cleardata/index.md
  files/en-us/web/api/datatransfer/dropeffect/index.md
  files/en-us/web/api/datatransfer/effectallowed/index.md
  files/en-us/web/api/datatransfer/getdata/index.md
  files/en-us/web/api/datatransfer/index.md
  files/en-us/web/api/datatransfer/items/index.md
  files/en-us/web/api/datatransfer/mozcleardataat/index.md
  files/en-us/web/api/datatransfer/mozcursor/index.md
  files/en-us/web/api/datatransfer/mozgetdataat/index.md
  files/en-us/web/api/datatransfer/mozitemcount/index.md
  files/en-us/web/api/datatransfer/mozsetdataat/index.md
  files/en-us/web/api/datatransfer/mozsourcenode/index.md
  files/en-us/web/api/datatransfer/moztypesat/index.md
  files/en-us/web/api/datatransfer/mozusercancelled/index.md
  files/en-us/web/api/datatransfer/setdata/index.md
  files/en-us/web/api/datatransfer/setdragimage/index.md
  files/en-us/web/api/datatransfer/types/index.md
  files/en-us/web/api/datatransferitem/kind/index.md
  files/en-us/web/api/dragevent/index.md
  files/en-us/web/api/html_drag_and_drop_api/drag_operations/index.md
  files/en-us/web/api/html_drag_and_drop_api/index.md
  files/en-us/web/api/html_drag_and_drop_api/multiple_items/index.md
  files/en-us/web/api/html_drag_and_drop_api/recommended_drag_types/index.md
  files/en-us/web/guide/user_input_methods/index.md
Labels: Content:WebAPI, Content:Learn

#22213 Synchronize with BCD v5.2.14
  files/en-us/web/css/animation-timeline/index.md
  files/en-us/web/javascript/reference/global_objects/array/index.md
Labels: Content:CSS, Content:JS

#22211 Fix typo in “AbortSignal»timeout()” article
  files/en-us/web/api/abortsignal/timeout/index.md
Labels: Content:WebAPI

#22173 clarification of self closing slash
  files/en-us/glossary/void_element/index.md
Labels: Content:Glossary

#22193 Add security and privacy concerns for `spellcheck` attribute
  files/en-us/web/html/global_attributes/spellcheck/index.md
Labels: Content:HTML
