Repository mdn/content, pull requests merged in 2022-10, with the labels that each got.

#21213 fix: remove em and strong in headings
  files/en-us/games/anatomy/index.md
  files/en-us/learn/css/css_layout/grids/index.md
  files/en-us/learn/getting_started_with_the_web/javascript_basics/index.md
  files/en-us/learn/performance/business_case_for_performance/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/react_components/index.md
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/command_line/index.md
  files/en-us/mozilla/add-ons/webextensions/chrome_incompatibilities/index.md
  files/en-us/web/accessibility/accessibility_and_spacial_patterns/index.md
  files/en-us/web/accessibility/aria/attributes/aria-keyshortcuts/index.md
  files/en-us/web/accessibility/seizure_disorders/index.md
  files/en-us/web/api/document/cookie/index.md
  files/en-us/web/api/document_object_model/whitespace/index.md
  files/en-us/web/api/formdata/using_formdata_objects/index.md
  files/en-us/web/api/html_drag_and_drop_api/file_drag_and_drop/index.md
  files/en-us/web/api/html_drag_and_drop_api/index.md
  files/en-us/web/css/counter/index.md
  files/en-us/web/javascript/reference/global_objects/array/index.md
  files/en-us/web/xpath/snippets/index.md
Labels: Content:CSS, Content:WebExt, Content:WebAPI, Content:JS, Content:Learn, Content:Other, Content:Accessibility

#21217 Incorrect example
  files/en-us/web/javascript/reference/global_objects/array/findlastindex/index.md
Labels: Content:JS

#21221 Replace <dimension> with <number>
  files/en-us/web/css/css_types/index.md
Labels: Content:CSS

#21215 Run Prettier on JS code fences, part 7
  files/en-us/web/html/element/table/index.md
  files/en-us/web/html/global_attributes/is/index.md
  files/en-us/web/html/global_attributes/nonce/index.md
  files/en-us/web/http/browser_detection_using_the_user_agent/index.md
  files/en-us/web/http/cors/index.md
  files/en-us/web/manifest/share_target/index.md
  files/en-us/web/media/autoplay_guide/index.md
  files/en-us/web/media/formats/support_issues/index.md
  files/en-us/web/media/formats/video_codecs/index.md
  files/en-us/web/privacy/index.md
  files/en-us/web/privacy/redirect_tracking_protection/index.md
  files/en-us/web/progressive_web_apps/add_to_home_screen/index.md
  files/en-us/web/progressive_web_apps/installing/index.md
  files/en-us/web/progressive_web_apps/loading/index.md
  files/en-us/web/progressive_web_apps/responsive/mobile_first/index.md
  files/en-us/web/security/types_of_attacks/index.md
  files/en-us/web/svg/applying_svg_effects_to_html_content/index.md
  files/en-us/web/svg/attribute/k1/index.md
  files/en-us/web/svg/attribute/k2/index.md
  files/en-us/web/svg/attribute/k3/index.md
  files/en-us/web/svg/attribute/pointer-events/index.md
  files/en-us/web/svg/attribute/textlength/index.md
  files/en-us/web/svg/attribute/visibility/index.md
  files/en-us/web/svg/element/script/index.md
  files/en-us/web/svg/namespaces_crash_course/index.md
  files/en-us/web/web_components/using_custom_elements/index.md
  files/en-us/web/web_components/using_shadow_dom/index.md
  files/en-us/web/web_components/using_templates_and_slots/index.md
  files/en-us/web/xslt/using_the_mozilla_javascript_interface_to_xsl_transformations/index.md
  files/en-us/web/xslt/xslt_js_interface_in_gecko/advanced_example/index.md
  files/en-us/web/xslt/xslt_js_interface_in_gecko/basic_example/index.md
  files/en-us/web/xslt/xslt_js_interface_in_gecko/javascript_xslt_bindings/index.md
Labels: Content:HTML, Content:Other, Content:HTTP, Content:SVG, Content:Media

#21223 Fix typos
  files/en-us/web/svg/tutorial/svg_filters_tutorial/index.md
Labels: Content:SVG

#21214 Fix broken link to novalidate attribute
  files/en-us/learn/forms/form_validation/index.md
Labels: Content:Learn

#21209 Update list of structured clonable types
  files/en-us/web/api/web_workers_api/structured_clone_algorithm/index.md
Labels: Content:WebAPI

#21211 Recommend against parseInt as truncation device, improve syntax description
  files/en-us/web/javascript/reference/global_objects/parsefloat/index.md
  files/en-us/web/javascript/reference/global_objects/parseint/index.md
Labels: Content:JS

#21237 A minute content reordering
  files/en-us/web/api/element/getboundingclientrect/index.md
Labels: Content:WebAPI

#21234 Add missing word in “Audio and Video Delivery” guide
  files/en-us/web/guide/audio_and_video_delivery/index.md
Labels: Content:Learn

#21186 [page type] Add page type for custom properties page
  files/en-us/web/css/--_star_/index.md
Labels: Content:CSS

#21185 [page type] Add page type to 'contribute a recipe' page
  files/en-us/web/css/layout_cookbook/contribute_a_recipe/index.md
Labels: Content:CSS

#21170 Document CSS page types
  files/en-us/mdn/writing_guidelines/page_structures/page_types/css_property_page_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/css_selector_page_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/index.md
Labels: Content:Other

#21210 Add functional selectors to list of selectors.
  files/en-us/web/css/pseudo-classes/index.md
Labels: Content:CSS

#21218 Update <mo> attribute references
  files/en-us/web/mathml/element/mfrac/index.md
  files/en-us/web/mathml/element/mo/index.md
Labels: Content:MathML

#21226 Updated example
  files/en-us/web/svg/attribute/tabindex/index.md
Labels: Content:SVG

#21174 fix(ARIA): add sidebars
  files/en-us/web/accessibility/aria/annotations/index.md
  files/en-us/web/accessibility/aria/aria_guides/index.md
  files/en-us/web/accessibility/aria/aria_live_regions/index.md
  files/en-us/web/accessibility/aria/aria_screen_reader_implementors_guide/index.md
  files/en-us/web/accessibility/aria/aria_techniques/index.md
  files/en-us/web/accessibility/aria/forms/index.md
  files/en-us/web/accessibility/aria/forms/multipart_labels/index.md
  files/en-us/web/accessibility/aria/how_to_file_aria-related_bugs/index.md
  files/en-us/web/accessibility/aria/index.md
Labels: Content:Accessibility

#21239 Fix grammar
  files/en-us/web/api/customevent/index.md
  files/en-us/web/api/gestureevent/index.md
  files/en-us/web/api/msgestureevent/index.md
  files/en-us/web/api/uievent/index.md
Labels: Content:WebAPI

#21195 HTML: better documentation for 'Void element'
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/glossary/empty_element/index.md
  files/en-us/glossary/tag/index.md
  files/en-us/glossary/void_element/index.md
  files/en-us/learn/html/multimedia_and_embedding/images_in_html/index.md
  files/en-us/web/css/replaced_element/index.md
  files/en-us/web/html/element/area/index.md
  files/en-us/web/html/element/base/index.md
  files/en-us/web/html/element/br/index.md
  files/en-us/web/html/element/col/index.md
  files/en-us/web/html/element/colgroup/index.md
  files/en-us/web/html/element/embed/index.md
  files/en-us/web/html/element/hr/index.md
  files/en-us/web/html/element/img/index.md
  files/en-us/web/html/element/input/index.md
  files/en-us/web/html/element/keygen/index.md
  files/en-us/web/html/element/link/index.md
  files/en-us/web/html/element/menuitem/index.md
  files/en-us/web/html/element/meta/index.md
  files/en-us/web/html/element/param/index.md
  files/en-us/web/html/element/source/index.md
  files/en-us/web/html/element/track/index.md
  files/en-us/web/html/element/wbr/index.md
Labels: Content:CSS, Content:HTML, Content:Learn, Content:Glossary

#21250 fix: pixe -> pixels.
  files/en-us/web/api/webgl_api/constants/index.md
Labels: Content:WebAPI

#21252 Fixed a sentence.
  files/en-us/web/javascript/reference/errors/cant_access_lexical_declaration_before_init/index.md
Labels: Content:JS

#21246 Update index.md
  files/en-us/glossary/base64/index.md
Labels: Content:Glossary

#21243 Add alt texts to <img> elements in code-blocks (#20735)
  files/en-us/learn/performance/multimedia/index.md
  files/en-us/web/api/canvas_api/tutorial/basic_usage/index.md
Labels: Content:WebAPI, Content:Learn

#21247 Update documentation for mspace attributes
  files/en-us/web/mathml/element/mspace/index.md
Labels: Content:MathML

#21248 Update MathML documentation about the <ms> element
  files/en-us/web/mathml/element/ms/index.md
Labels: Content:MathML

#21257 Improve consistency for the documentation about accent/accentunder
  files/en-us/web/mathml/element/mo/index.md
  files/en-us/web/mathml/element/mover/index.md
  files/en-us/web/mathml/element/munder/index.md
  files/en-us/web/mathml/element/munderover/index.md
Labels: Content:MathML

#19960 Add properties order in transform info.
  files/en-us/web/css/transform-function/translatez/index.md
Labels: Content:CSS

#21258 Update the doc about mpadded attributes
  files/en-us/web/mathml/element/mpadded/index.md
Labels: Content:MathML

#21261 Update MathML attribute page
  files/en-us/web/mathml/attribute/index.md
  files/en-us/web/mathml/element/mo/index.md
  files/en-us/web/mathml/global_attributes/index.md
Labels: Content:MathML

#21219 Add note about circular ref
  files/en-us/glossary/global_object/index.md
Labels: Content:Glossary

#21267 Fix typo in ReadableStreamBYOBReader.read() code example
  files/en-us/web/api/readablestreambyobreader/read/index.md
Labels: Content:WebAPI

#21190 Removal of support for the object-src directive
  files/en-us/mozilla/add-ons/webextensions/manifest.json/content_security_policy/index.md
  files/en-us/mozilla/firefox/releases/106/index.md
Labels: Content:WebExt, Content:Other

#21232 Wording should unambiguously match implementation
  files/en-us/web/javascript/reference/global_objects/array/findlast/index.md
  files/en-us/web/javascript/reference/global_objects/array/findlastindex/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/findlast/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/findlastindex/index.md
Labels: Content:JS

#21272 Create separate list of page-type values
  files/en-us/mdn/writing_guidelines/page_structures/page_types/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/page_type_key/index.md
Labels: Content:Other

#21194 web-accessible-resource changes
  files/en-us/mozilla/add-ons/webextensions/manifest.json/web_accessible_resources/index.md
  files/en-us/mozilla/firefox/releases/105/index.md
Labels: Content:WebExt, Content:Other

#21269 fix: remove FQDN from MDN links
  files/en-us/learn/common_questions/what_is_a_domain_name/index.md
  files/en-us/mdn/at_ten/history_of_mdn/index.md
  files/en-us/mdn/community/contributing/our_repositories/index.md
  files/en-us/web/api/canvasrenderingcontext2d/wordspacing/index.md
  files/en-us/web/javascript/reference/global_objects/nan/index.md
  files/en-us/web/progressive_web_apps/loading/index.md
Labels: Content:WebAPI, Content:JS, Content:Learn, Content:Other

#21276 HTML: update remaining empty -> void elements
  files/en-us/learn/forms/basic_native_form_controls/index.md
  files/en-us/learn/forms/other_form_controls/index.md
  files/en-us/learn/forms/ui_pseudo-classes/index.md
  files/en-us/learn/forms/your_first_form/index.md
  files/en-us/learn/getting_started_with_the_web/html_basics/index.md
  files/en-us/learn/html/howto/add_a_hit_map_on_top_of_an_image/index.md
  files/en-us/learn/html/introduction_to_html/getting_started/index.md
  files/en-us/learn/html/introduction_to_html/the_head_metadata_in_html/index.md
  files/en-us/web/api/node/clonenode/index.md
  files/en-us/web/html/element/link/index.md
  files/en-us/web/html/element/rb/index.md
  files/en-us/web/html/element/source/index.md
Labels: Content:HTML, Content:WebAPI, Content:Learn

#21275 Revise note regarding boundary crossing events
  files/en-us/web/api/element/setpointercapture/index.md
Labels: Content:WebAPI

#21266 updated Exceptions
  files/en-us/webassembly/javascript_interface/memory/memory/index.md
Labels: Content:wasm

#20581 Encoding API - layout and minor fixes
  files/en-us/web/api/encoding_api/encodings/index.md
  files/en-us/web/api/encoding_api/index.md
  files/en-us/web/api/textdecoder/decode/index.md
  files/en-us/web/api/textdecoder/encoding/index.md
  files/en-us/web/api/textdecoder/fatal/index.md
  files/en-us/web/api/textdecoder/ignorebom/index.md
  files/en-us/web/api/textdecoder/index.md
  files/en-us/web/api/textdecoder/textdecoder/index.md
  files/en-us/web/api/textdecoderstream/encoding/index.md
  files/en-us/web/api/textdecoderstream/fatal/index.md
  files/en-us/web/api/textdecoderstream/index.md
  files/en-us/web/api/textdecoderstream/textdecoderstream/index.md
  files/en-us/web/api/textencoder/encode/index.md
  files/en-us/web/api/textencoder/encodeinto/index.md
  files/en-us/web/api/textencoder/encoding/index.md
  files/en-us/web/api/textencoder/index.md
  files/en-us/web/api/textencoder/textencoder/index.md
  files/en-us/web/api/textencoderstream/textencoderstream/index.md
Labels: Content:WebAPI

#21280 Small tweak for mathsize and mtable@width
  files/en-us/web/mathml/attribute/index.md
  files/en-us/web/mathml/element/mtable/index.md
  files/en-us/web/mathml/global_attributes/index.md
  files/en-us/web/mathml/global_attributes/mathsize/index.md
Labels: Content:MathML

#21242 chore: add short blurb about spotlight contributor initiative to community docs
  files/en-us/mdn/community/users_teams/index.md
Labels: Content:Other, chore

#21281 Updated the clear-float technique to use flow-root
  files/en-us/web/css/clear/index.md
Labels: Content:CSS

#21284 Remove stray trailing space introduced in recent commit
  files/en-us/web/css/clear/index.md
Labels: Content:CSS

#21000 chore: update webvr-tests links to use main
  files/en-us/web/api/vrdisplay/cancelanimationframe/index.md
  files/en-us/web/api/vrdisplay/exitpresent/index.md
  files/en-us/web/api/vrdisplay/getframedata/index.md
  files/en-us/web/api/vrdisplay/index.md
  files/en-us/web/api/vrdisplay/requestanimationframe/index.md
  files/en-us/web/api/vrdisplay/requestpresent/index.md
  files/en-us/web/api/vrdisplay/submitframe/index.md
  files/en-us/web/api/webvr_api/using_the_webvr_api/index.md
  files/en-us/web/api/webvr_api/using_vr_controllers_with_webvr/index.md
Labels: Content:WebAPI, chore

#21271 chore: remove new content suggestion issue template
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/new-content-suggestion.md
Labels: chore

#21273 Web API should separate static/instance methods and properties
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_reference_page_template/index.md
Labels: Content:Other

#21286 Mark Web SQL as deprecated
  files/en-us/learn/tools_and_testing/cross_browser_testing/feature_detection/index.md
  files/en-us/learn/tools_and_testing/cross_browser_testing/javascript/index.md
  files/en-us/web/api/indexeddb_api/browser_storage_limits_and_eviction_criteria/index.md
  files/en-us/web/api/indexeddb_api/index.md
  files/en-us/web/api/indexeddb_api/using_indexeddb/index.md
  files/en-us/web/http/headers/clear-site-data/index.md
Labels: Content:WebAPI, Content:Learn, Content:HTTP

#21282 Make part of code bold as indicated in article
  files/en-us/learn/server-side/first_steps/website_security/index.md
Labels: Content:Learn

#20889 Improve :has() pseudo-class documentation
  files/en-us/web/css/_colon_has/index.md
  files/en-us/web/css/css_selectors/index.md
  files/en-us/web/css/pseudo-classes/index.md
  files/en-us/web/css/selector_list/index.md
Labels: Content:CSS

#21241 Split up Method section on BarcodeDetector page
  files/en-us/web/api/barcodedetector/index.md
Labels: Content:WebAPI

#21294 fix: unescaped ABBR tag reference
  files/en-us/learn/accessibility/html/index.md
Labels: Content:Learn

#21295 Add alt text to various pages' images
  files/en-us/mozilla/add-ons/webextensions/your_second_webextension/index.md
  files/en-us/web/guide/user_input_methods/index.md
Labels: Content:WebExt, Content:Learn, Content:Other

#21298 Grammatical error
  files/en-us/web/javascript/reference/global_objects/array/splice/index.md
Labels: Content:JS

#21289 Fix punctuation
  files/en-us/glossary/first_interactive/index.md
  files/en-us/web/api/performance/now/index.md
  files/en-us/web/css/display-outside/index.md
Labels: Content:CSS, Content:WebAPI, Content:Glossary

#21288 Fix 21251: Delete editable content guide
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/guide/html/editable_content/index.md
Labels: Content:Learn

#21292 fix: Markdownlint DFN tag
  .markdownlint-cli2.jsonc
  files/en-us/web/html/element/source/index.md
Labels: Content:HTML

#21303 Synchronize with BCD v5.2.5
  files/en-us/web/api/htmlcanvaselement/index.md
  files/en-us/web/api/htmlcanvaselement/transfercontroltooffscreen/index.md
  files/en-us/web/api/offscreencanvas/converttoblob/index.md
  files/en-us/web/api/offscreencanvas/getcontext/index.md
  files/en-us/web/api/offscreencanvas/height/index.md
  files/en-us/web/api/offscreencanvas/index.md
  files/en-us/web/api/offscreencanvas/offscreencanvas/index.md
  files/en-us/web/api/offscreencanvas/transfertoimagebitmap/index.md
  files/en-us/web/api/offscreencanvas/width/index.md
  files/en-us/web/api/offscreencanvasrenderingcontext2d/index.md
  files/en-us/web/css/@viewport/index.md
  files/en-us/web/css/contain-intrinsic-block-size/index.md
  files/en-us/web/css/contain-intrinsic-height/index.md
  files/en-us/web/css/contain-intrinsic-inline-size/index.md
  files/en-us/web/css/contain-intrinsic-size/index.md
  files/en-us/web/css/contain-intrinsic-width/index.md
  files/en-us/web/css/css_device_adaptation/index.md
  files/en-us/web/css/overflow-clip-margin/index.md
Labels: Content:CSS, Content:WebAPI

#21301 minor: spacing
  files/en-us/web/accessibility/aria/roles/definition_role/index.md
Labels: Content:Accessibility

#21300 Tweaks: :has()
  files/en-us/web/css/_colon_has/index.md
Labels: Content:CSS

#21290 fix: Markdownlint BASE tag
  .markdownlint-cli2.jsonc
  files/en-us/web/api/node/baseuri/index.md
Labels: Content:WebAPI

#21293 Primitive toString can be called on primitives
  files/en-us/web/javascript/reference/global_objects/bigint/tostring/index.md
  files/en-us/web/javascript/reference/global_objects/boolean/tostring/index.md
  files/en-us/web/javascript/reference/global_objects/number/tostring/index.md
  files/en-us/web/javascript/reference/global_objects/string/tostring/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/tostring/index.md
Labels: Content:JS

#21297 New Glossary: Enumerated
  files/en-us/glossary/boolean/index.md
  files/en-us/glossary/enumerated/index.md
  files/en-us/web/api/analysernode/analysernode/index.md
  files/en-us/web/api/biquadfilternode/biquadfilternode/index.md
  files/en-us/web/html/attributes/crossorigin/index.md
  files/en-us/web/html/element/audio/index.md
  files/en-us/web/html/element/caption/index.md
  files/en-us/web/html/element/col/index.md
  files/en-us/web/html/element/colgroup/index.md
  files/en-us/web/html/element/link/index.md
  files/en-us/web/html/element/table/index.md
  files/en-us/web/html/element/tbody/index.md
  files/en-us/web/html/element/td/index.md
  files/en-us/web/html/element/tfoot/index.md
  files/en-us/web/html/element/th/index.md
  files/en-us/web/html/element/thead/index.md
  files/en-us/web/html/element/video/index.md
  files/en-us/web/html/global_attributes/autocapitalize/index.md
  files/en-us/web/html/global_attributes/contenteditable/index.md
  files/en-us/web/html/global_attributes/dir/index.md
  files/en-us/web/html/global_attributes/draggable/index.md
  files/en-us/web/html/global_attributes/enterkeyhint/index.md
  files/en-us/web/html/global_attributes/index.md
  files/en-us/web/html/global_attributes/inputmode/index.md
  files/en-us/web/html/global_attributes/spellcheck/index.md
  files/en-us/web/html/global_attributes/translate/index.md
  files/en-us/web/mathml/element/math/index.md
  files/en-us/web/mathml/global_attributes/dir/index.md
  files/en-us/web/mathml/global_attributes/index.md
Labels: Content:HTML, Content:WebAPI, Content:MathML, Content:Glossary

#21299 Update: selector list combinator
  files/en-us/web/css/selector_list/index.md
Labels: Content:CSS

#21285 Document UserActivation API
  files/en-us/glossary/sticky_activation/index.md
  files/en-us/glossary/transient_activation/index.md
  files/en-us/web/api/navigator/index.md
  files/en-us/web/api/navigator/useractivation/index.md
  files/en-us/web/api/useractivation/hasbeenactive/index.md
  files/en-us/web/api/useractivation/index.md
  files/en-us/web/api/useractivation/isactive/index.md
  files/en-us/web/security/user_activation/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, Content:Other, Content:Glossary

#21031 Help readers more with Web Speech API error info
  files/en-us/web/api/speechrecognitionerrorevent/error/index.md
  files/en-us/web/api/speechsynthesiserrorevent/error/index.md
  files/en-us/web/api/web_speech_api/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

#21207 Make system-color a proper data type page
  files/en-us/_redirects.txt
  files/en-us/web/css/named-color/index.md
  files/en-us/web/css/system-color/index.md
Labels: Content:CSS

#15196 Fixes #15148 - updates article to match react 18
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/react_getting_started/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/react_todo_list_beginning/index.md
Labels: Content:Learn

#16638 Correct the order of clipping, perspective divide
  files/en-us/web/api/webgl_api/webgl_model_view_projection/index.md
Labels: Content:WebAPI, needs info

#21317 Better unicode property escape summary
  files/en-us/web/javascript/reference/global_objects/regexp/index.md
Labels: Content:JS

#21312 ADD RxDB to the projects list
  files/en-us/web/api/indexeddb_api/index.md
Labels: Content:WebAPI

#21313 Fixing explanation of inherited properties
  files/en-us/web/css/initial_value/index.md
Labels: Content:CSS

#21315 Typo fix in `rust_to_was` index.md: "out" -> "our"
  files/en-us/webassembly/rust_to_wasm/index.md
Labels: Content:wasm

#21320 HTML5 > HTML
  files/en-us/learn/html/howto/use_data_attributes/index.md
Labels: Content:Learn

#21322 fix(doc): Fix fibonacci-worker example url
  files/en-us/web/api/web_workers_api/using_web_workers/index.md
Labels: Content:WebAPI

#21319 Performance: Add sidebars
  files/en-us/web/performance/animation_performance_and_frame_rate/index.md
  files/en-us/web/performance/critical_rendering_path/index.md
  files/en-us/web/performance/css_javascript_animation_performance/index.md
  files/en-us/web/performance/dns-prefetch/index.md
  files/en-us/web/performance/fundamentals/index.md
  files/en-us/web/performance/how_browsers_work/index.md
  files/en-us/web/performance/how_long_is_too_long/index.md
  files/en-us/web/performance/index.md
  files/en-us/web/performance/lazy_loading/index.md
  files/en-us/web/performance/navigation_and_resource_timings/index.md
  files/en-us/web/performance/optimizing_startup_performance/index.md
  files/en-us/web/performance/performance_budgets/index.md
  files/en-us/web/performance/rum-vs-synthetic/index.md
  files/en-us/web/performance/understanding_latency/index.md
Labels: Content:Other

#21310 docs(contain): add missing value in info box
  files/en-us/web/css/contain/index.md
Labels: Content:CSS

#21308 Bring more consistency to MathML element documentation
  files/en-us/web/mathml/element/maction/index.md
  files/en-us/web/mathml/element/math/index.md
  files/en-us/web/mathml/element/menclose/index.md
  files/en-us/web/mathml/element/merror/index.md
  files/en-us/web/mathml/element/mfenced/index.md
  files/en-us/web/mathml/element/mfrac/index.md
  files/en-us/web/mathml/element/mi/index.md
  files/en-us/web/mathml/element/mmultiscripts/index.md
  files/en-us/web/mathml/element/mn/index.md
  files/en-us/web/mathml/element/mo/index.md
  files/en-us/web/mathml/element/mover/index.md
  files/en-us/web/mathml/element/mpadded/index.md
  files/en-us/web/mathml/element/mphantom/index.md
  files/en-us/web/mathml/element/mroot/index.md
  files/en-us/web/mathml/element/mrow/index.md
  files/en-us/web/mathml/element/ms/index.md
  files/en-us/web/mathml/element/mspace/index.md
  files/en-us/web/mathml/element/msqrt/index.md
  files/en-us/web/mathml/element/mstyle/index.md
  files/en-us/web/mathml/element/msub/index.md
  files/en-us/web/mathml/element/msubsup/index.md
  files/en-us/web/mathml/element/msup/index.md
  files/en-us/web/mathml/element/mtable/index.md
  files/en-us/web/mathml/element/mtd/index.md
  files/en-us/web/mathml/element/mtext/index.md
  files/en-us/web/mathml/element/mtr/index.md
  files/en-us/web/mathml/element/munder/index.md
  files/en-us/web/mathml/element/munderover/index.md
  files/en-us/web/mathml/element/semantics/index.md
  files/en-us/web/mathml/global_attributes/href/index.md
Labels: Content:MathML

#21332 Minor typo fix
  files/en-us/web/api/textdecoder/decode/index.md
Labels: Content:WebAPI

#21331 Added missing spaces for comments and DTL tags.
  files/en-us/learn/server-side/django/authentication/index.md
Labels: Content:Learn

#21329 Fix IndexedDB_API library list
  files/en-us/web/api/indexeddb_api/using_indexeddb/index.md
Labels: Content:WebAPI

#21336 No longer mark PerformanceObserve experimental; remove impl status prose
  files/en-us/web/api/performance_timeline/index.md
  files/en-us/web/api/performance_timeline/using_performance_timeline/index.md
Labels: Content:WebAPI

#21154 `sqrt()` - New CSS functional notation
  files/en-us/web/css/sqrt/index.md
Labels: Content:CSS

#21321 docs: update the definition of higher order function
  files/en-us/glossary/first-class_function/index.md
Labels: Content:Glossary

#21345 Updated index.md - mongoose primer
  files/en-us/learn/server-side/express_nodejs/mongoose/index.md
Labels: Content:Learn

#21326 fix typo
  files/en-us/web/css/css_functions/index.md
Labels: Content:CSS

#21325 fix typo
  files/en-us/web/css/env/index.md
Labels: Content:CSS

#21231 Added alt attribute to the "concept" diagram on the Streams API page.
  files/en-us/web/api/streams_api/index.md
Labels: Content:WebAPI

#20907 Non-persistent event pages in MV2 no longer behind a preference
  files/en-us/mozilla/firefox/releases/106/index.md
Labels: Content:Other

#21346 fix: various typos
  files/en-us/web/api/speechrecognitionerrorevent/error/index.md
  files/en-us/web/guide/audio_and_video_manipulation/index.md
  files/en-us/web/performance/how_browsers_work/index.md
Labels: Content:WebAPI, Content:Learn, Content:Other

#21338 NodeList: Constrain domain of keys
  files/en-us/web/api/nodelist/index.md
Labels: Content:WebAPI

#21084 pathname/index.md details
  files/en-us/web/api/location/pathname/index.md
Labels: Content:WebAPI

#21343 Better description of Proxy.revocable
  files/en-us/web/javascript/reference/global_objects/proxy/revocable/index.md
Labels: Content:JS

#21304 Correct property name
  files/en-us/web/javascript/reference/global_objects/error/cause/index.md
Labels: Content:JS

#21347 Fix a broken link in “CSP: require-trusted-types-for” doc
  files/en-us/web/http/headers/content-security-policy/require-trusted-types-for/index.md
Labels: Content:HTTP

#21351 Fix typos
  files/en-us/learn/forms/your_first_form/index.md
  files/en-us/web/html/element/area/index.md
  files/en-us/web/html/element/base/index.md
  files/en-us/web/html/element/br/index.md
  files/en-us/web/html/element/col/index.md
  files/en-us/web/html/element/embed/index.md
  files/en-us/web/html/element/hr/index.md
  files/en-us/web/html/element/img/index.md
  files/en-us/web/html/element/input/index.md
  files/en-us/web/html/element/keygen/index.md
  files/en-us/web/html/element/link/index.md
  files/en-us/web/html/element/menuitem/index.md
  files/en-us/web/html/element/meta/index.md
  files/en-us/web/html/element/param/index.md
  files/en-us/web/html/element/source/index.md
  files/en-us/web/html/element/track/index.md
  files/en-us/web/html/element/wbr/index.md
Labels: Content:HTML, Content:Learn

#21348 Improve clarity
  files/en-us/web/javascript/reference/statements/try...catch/index.md
Labels: Content:JS

#21350 Fix <link> tags in code samples
  files/en-us/web/http/headers/content-security-policy/prefetch-src/index.md
  files/en-us/web/performance/how_browsers_work/index.md
Labels: Content:Other, Content:HTTP

#21352 Finalize mathml core transition
  files/en-us/web/mathml/attribute/index.md
  files/en-us/web/mathml/element/index.md
  files/en-us/web/mathml/element/semantics/index.md
  files/en-us/web/mathml/index.md
Labels: Content:MathML

#21365 Corrected a small grammar mistake
  files/en-us/web/html/element/audio/index.md
Labels: Content:HTML

#21364 Update links to "voice-change-o-matic- repository
  files/en-us/learn/javascript/client-side_web_apis/drawing_graphics/index.md
  files/en-us/web/api/analysernode/fftsize/index.md
  files/en-us/web/api/analysernode/frequencybincount/index.md
  files/en-us/web/api/analysernode/getbytefrequencydata/index.md
  files/en-us/web/api/analysernode/getbytetimedomaindata/index.md
  files/en-us/web/api/analysernode/getfloatfrequencydata/index.md
  files/en-us/web/api/analysernode/getfloattimedomaindata/index.md
  files/en-us/web/api/analysernode/index.md
  files/en-us/web/api/analysernode/maxdecibels/index.md
  files/en-us/web/api/analysernode/mindecibels/index.md
  files/en-us/web/api/analysernode/smoothingtimeconstant/index.md
  files/en-us/web/api/audiodestinationnode/index.md
  files/en-us/web/api/audiodestinationnode/maxchannelcount/index.md
  files/en-us/web/api/baseaudiocontext/createanalyser/index.md
  files/en-us/web/api/baseaudiocontext/createbiquadfilter/index.md
  files/en-us/web/api/baseaudiocontext/createconvolver/index.md
  files/en-us/web/api/baseaudiocontext/creategain/index.md
  files/en-us/web/api/baseaudiocontext/createwaveshaper/index.md
  files/en-us/web/api/baseaudiocontext/destination/index.md
  files/en-us/web/api/biquadfilternode/detune/index.md
  files/en-us/web/api/biquadfilternode/frequency/index.md
  files/en-us/web/api/biquadfilternode/gain/index.md
  files/en-us/web/api/biquadfilternode/q/index.md
  files/en-us/web/api/biquadfilternode/type/index.md
  files/en-us/web/api/web_audio_api/using_web_audio_api/index.md
  files/en-us/web/api/web_audio_api/visualizations_with_web_audio_api/index.md
Labels: Content:WebAPI, Content:Learn

#21341 Update resource URL for i18n language tag
  files/en-us/mozilla/add-ons/webextensions/api/i18n/index.md
Labels: Content:WebExt, Content:Other

#21372 Corrected a small grammar mistake.
  files/en-us/web/html/element/audio/index.md
Labels: Content:HTML

#21360 CSS Data Types: Add calculation data types `<calc-sum>`, `<calc-product>`, `<calc-value>` and `<calc-constant>`
  files/en-us/web/css/css_types/index.md
Labels: Content:CSS

#21355 Update index.md
  files/en-us/web/http/headers/content-security-policy/index.md
Labels: Content:HTTP

#21366 Corrected incorrect use of image
  files/en-us/web/html/element/video/index.md
Labels: Content:HTML

#21358 Renamed "image" to "resource"
  files/en-us/web/html/element/audio/index.md
Labels: Content:HTML

#21137 Add section to all array methods about genericness
  files/en-us/web/javascript/reference/global_objects/array/at/index.md
  files/en-us/web/javascript/reference/global_objects/array/concat/index.md
  files/en-us/web/javascript/reference/global_objects/array/copywithin/index.md
  files/en-us/web/javascript/reference/global_objects/array/entries/index.md
  files/en-us/web/javascript/reference/global_objects/array/every/index.md
  files/en-us/web/javascript/reference/global_objects/array/fill/index.md
  files/en-us/web/javascript/reference/global_objects/array/filter/index.md
  files/en-us/web/javascript/reference/global_objects/array/find/index.md
  files/en-us/web/javascript/reference/global_objects/array/findindex/index.md
  files/en-us/web/javascript/reference/global_objects/array/findlast/index.md
  files/en-us/web/javascript/reference/global_objects/array/findlastindex/index.md
  files/en-us/web/javascript/reference/global_objects/array/flat/index.md
  files/en-us/web/javascript/reference/global_objects/array/flatmap/index.md
  files/en-us/web/javascript/reference/global_objects/array/foreach/index.md
  files/en-us/web/javascript/reference/global_objects/array/from/index.md
  files/en-us/web/javascript/reference/global_objects/array/group/index.md
  files/en-us/web/javascript/reference/global_objects/array/grouptomap/index.md
  files/en-us/web/javascript/reference/global_objects/array/includes/index.md
  files/en-us/web/javascript/reference/global_objects/array/index.md
  files/en-us/web/javascript/reference/global_objects/array/indexof/index.md
  files/en-us/web/javascript/reference/global_objects/array/join/index.md
  files/en-us/web/javascript/reference/global_objects/array/keys/index.md
  files/en-us/web/javascript/reference/global_objects/array/lastindexof/index.md
  files/en-us/web/javascript/reference/global_objects/array/map/index.md
  files/en-us/web/javascript/reference/global_objects/array/of/index.md
  files/en-us/web/javascript/reference/global_objects/array/pop/index.md
  files/en-us/web/javascript/reference/global_objects/array/push/index.md
  files/en-us/web/javascript/reference/global_objects/array/reduce/index.md
  files/en-us/web/javascript/reference/global_objects/array/reduceright/index.md
  files/en-us/web/javascript/reference/global_objects/array/reverse/index.md
  files/en-us/web/javascript/reference/global_objects/array/shift/index.md
  files/en-us/web/javascript/reference/global_objects/array/slice/index.md
  files/en-us/web/javascript/reference/global_objects/array/some/index.md
  files/en-us/web/javascript/reference/global_objects/array/sort/index.md
  files/en-us/web/javascript/reference/global_objects/array/splice/index.md
  files/en-us/web/javascript/reference/global_objects/array/tolocalestring/index.md
  files/en-us/web/javascript/reference/global_objects/array/tostring/index.md
  files/en-us/web/javascript/reference/global_objects/array/unshift/index.md
  files/en-us/web/javascript/reference/global_objects/array/values/index.md
Labels: Content:JS

#21328 clarify surprising return value
  files/en-us/web/api/fontfaceset/check/index.md
Labels: Content:WebAPI

#21375 Fixed a small typo
  files/en-us/web/html/element/audio/index.md
Labels: Content:HTML

#21380 extractContents() returns a DocumentFragment
  files/en-us/web/api/range/extractcontents/index.md
Labels: Content:WebAPI

#21379 rm extra space
  files/en-us/web/css/layout_cookbook/media_objects/index.md
Labels: Content:CSS

#21381 Add sidebars to privacy pages
  files/en-us/web/privacy/firefox_tracking_protection/index.md
  files/en-us/web/privacy/index.md
  files/en-us/web/privacy/redirect_tracking_protection/index.md
  files/en-us/web/privacy/state_partitioning/index.md
  files/en-us/web/privacy/storage_access_policy/errors/cookieblockedall/index.md
  files/en-us/web/privacy/storage_access_policy/errors/cookieblockedbypermission/index.md
  files/en-us/web/privacy/storage_access_policy/errors/cookieblockedforeign/index.md
  files/en-us/web/privacy/storage_access_policy/errors/cookieblockedtracker/index.md
  files/en-us/web/privacy/storage_access_policy/errors/cookiepartitionedforeign/index.md
  files/en-us/web/privacy/storage_access_policy/errors/index.md
  files/en-us/web/privacy/storage_access_policy/index.md
Labels: Content:Other

#21378 Simplify range hash examples
  files/en-us/web/html/element/input/range/index.md
Labels: Content:HTML

#21382 Use a clearer example for bracket notation
  files/en-us/learn/javascript/objects/basics/index.md
Labels: Content:Learn

#21389 Make the example work on Firefox 107 and Edge 106
  files/en-us/web/api/screen/orientation/index.md
Labels: Content:WebAPI

#21387 Changes required (Updated Web/Tutorial)
  files/en-us/web/tutorials/index.md
Labels: Content:Learn

#21394 Fix typo in Prioritized Task Scheduling API
  files/en-us/web/api/prioritized_task_scheduling_api/index.md
Labels: Content:WebAPI

#21396 Missing comma
  files/en-us/web/javascript/about_javascript/index.md
Labels: Content:JS

#21367 Fix macro and epoch name in Date.now()
  files/en-us/web/javascript/reference/global_objects/date/now/index.md
Labels: Content:JS, awaiting response

#21397 Corrected markup from boldface to code
  files/en-us/web/html/element/blockquote/index.md
Labels: Content:HTML

#21399 PannerNode constructor argument rollOffFactor typo
  files/en-us/web/api/pannernode/pannernode/index.md
Labels: Content:WebAPI

#21406 Add sidebars to learn/common_questions
  files/en-us/learn/common_questions/available_text_editors/index.md
  files/en-us/learn/common_questions/checking_that_your_web_site_is_working_properly/index.md
  files/en-us/learn/common_questions/common_web_layouts/index.md
  files/en-us/learn/common_questions/design_for_all_types_of_users/index.md
  files/en-us/learn/common_questions/how_do_you_host_your_website_on_google_app_engine/index.md
  files/en-us/learn/common_questions/how_does_the_internet_work/index.md
  files/en-us/learn/common_questions/how_much_does_it_cost/index.md
  files/en-us/learn/common_questions/html_features_for_accessibility/index.md
  files/en-us/learn/common_questions/pages_sites_servers_and_search_engines/index.md
  files/en-us/learn/common_questions/set_up_a_local_testing_server/index.md
  files/en-us/learn/common_questions/thinking_before_coding/index.md
  files/en-us/learn/common_questions/upload_files_to_a_web_server/index.md
  files/en-us/learn/common_questions/using_github_pages/index.md
  files/en-us/learn/common_questions/what_are_browser_developer_tools/index.md
  files/en-us/learn/common_questions/what_are_hyperlinks/index.md
  files/en-us/learn/common_questions/what_is_a_domain_name/index.md
  files/en-us/learn/common_questions/what_is_a_url/index.md
  files/en-us/learn/common_questions/what_is_a_web_server/index.md
  files/en-us/learn/common_questions/what_is_accessibility/index.md
  files/en-us/learn/common_questions/what_software_do_i_need/index.md
Labels: Content:Learn

#21400 Some typos mistakes are fixed
  files/en-us/web/privacy/index.md
Labels: Content:Other

#21408 Update ByteLengthQueuingStrategy#highWaterMark
  files/en-us/web/api/bytelengthqueuingstrategy/bytelengthqueuingstrategy/index.md
Labels: Content:WebAPI

#21412 Slight improvement for CSS inheritance page: add EmbedLiveSample (and rm macros)
  files/en-us/web/css/inheritance/index.md
Labels: Content:CSS

#21395 Correct `role="alert"` information
  files/en-us/web/accessibility/aria/roles/alert_role/index.md
Labels: Content:Accessibility

#21415 fix: typo in WebUSB API docs
  files/en-us/web/api/usbdevice/controltransferout/index.md
Labels: Content:WebAPI

#21417 Issue "#21401 - The page /en-US/docs/Mozilla/Firefox/Multiprocess_Fir…
  files/en-us/web/tutorials/index.md
Labels: Content:Learn

#21416 remove single quotes from suggested output
  files/en-us/web/javascript/guide/working_with_objects/index.md
Labels: Content:JS

#21422 Substitute "hold" for "old"
  files/en-us/mozilla/add-ons/webextensions/native_messaging/index.md
Labels: Content:WebExt, Content:Other

#21423 fix: Remove unrelated code blocks
  files/en-us/learn/getting_started_with_the_web/javascript_basics/index.md
Labels: Content:Learn

#21393 Updated versions of NodeJs and NPM
  files/en-us/learn/server-side/express_nodejs/development_environment/index.md
Labels: Content:Learn

#21411 Fix (further) the highWaterMark description in ByteLengthQueuingStrategy
  files/en-us/web/api/bytelengthqueuingstrategy/bytelengthqueuingstrategy/index.md
  files/en-us/web/api/countqueuingstrategy/countqueuingstrategy/index.md
Labels: Content:WebAPI

#21420 Refer to hasOwnProperty as prototype method
  files/en-us/web/javascript/reference/global_objects/object/hasown/index.md
Labels: Content:JS

#21425 Corrected grammar mistake
  files/en-us/web/html/element/button/index.md
Labels: Content:HTML

#21427 removed BCD note
  files/en-us/web/html/element/a/index.md
Labels: Content:HTML

#21426 Further fix ByteLengthQueuingStrategy()/CountQueuingStrategy() params
  files/en-us/web/api/bytelengthqueuingstrategy/bytelengthqueuingstrategy/index.md
  files/en-us/web/api/countqueuingstrategy/countqueuingstrategy/index.md
Labels: Content:WebAPI

#21431 Add missing sidebar to html cheatsheet page
  files/en-us/learn/html/cheatsheet/index.md
Labels: Content:Learn

#21353 Web API interface headings - Initial test
  files/en-us/web/api/abortcontroller/index.md
  files/en-us/web/api/abortsignal/index.md
  files/en-us/web/api/absoluteorientationsensor/index.md
  files/en-us/web/api/abstractrange/index.md
  files/en-us/web/api/accelerometer/index.md
  files/en-us/web/api/eventtarget/index.md
  files/en-us/web/api/orientationsensor/index.md
  files/en-us/web/api/sensor/index.md
Labels: Content:WebAPI

#21430 Attribute is enumerated, not boolean
  files/en-us/web/html/global_attributes/hidden/index.md
Labels: Content:HTML

#21435 Remove an unnecessary link in HTML contenteditable
  files/en-us/web/html/global_attributes/contenteditable/index.md
Labels: Content:HTML

#21433 download attribute: clarify what the example is doing
  files/en-us/web/html/element/a/index.md
Labels: Content:HTML

#21438 Added a note regarding Lax-Allowing-Unsafe
  files/en-us/web/http/headers/set-cookie/samesite/index.md
Labels: Content:HTTP

#21436 fix doc syntax typo.
  files/en-us/web/css/grid-auto-rows/index.md
Labels: Content:CSS

#21441 Add missing period in TextDecoder»fatal article
  files/en-us/web/api/textdecoder/fatal/index.md
Labels: Content:WebAPI

#21442 Web AP methods/probs sorted into static/instance headings - A
  files/en-us/web/api/aescbcparams/index.md
  files/en-us/web/api/aesctrparams/index.md
  files/en-us/web/api/aesgcmparams/index.md
  files/en-us/web/api/aeskeygenparams/index.md
  files/en-us/web/api/ambientlightsensor/index.md
  files/en-us/web/api/analysernode/index.md
  files/en-us/web/api/angle_instanced_arrays/index.md
  files/en-us/web/api/animation/index.md
  files/en-us/web/api/animationeffect/index.md
  files/en-us/web/api/animationevent/index.md
  files/en-us/web/api/animationplaybackevent/index.md
  files/en-us/web/api/animationtimeline/index.md
  files/en-us/web/api/attr/index.md
  files/en-us/web/api/audiobuffer/index.md
  files/en-us/web/api/audiobuffersourcenode/index.md
  files/en-us/web/api/audiocontext/index.md
  files/en-us/web/api/audiodata/index.md
  files/en-us/web/api/audiodecoder/index.md
  files/en-us/web/api/audiodestinationnode/index.md
  files/en-us/web/api/audioencoder/index.md
  files/en-us/web/api/audiolistener/index.md
  files/en-us/web/api/audionode/index.md
  files/en-us/web/api/audioparam/index.md
  files/en-us/web/api/audioparamdescriptor/index.md
  files/en-us/web/api/audioparammap/index.md
  files/en-us/web/api/audioprocessingevent/index.md
  files/en-us/web/api/audioscheduledsourcenode/index.md
  files/en-us/web/api/audiotrack/index.md
  files/en-us/web/api/audiotracklist/index.md
  files/en-us/web/api/audioworklet/index.md
  files/en-us/web/api/audioworkletglobalscope/index.md
  files/en-us/web/api/audioworkletnode/index.md
  files/en-us/web/api/audioworkletprocessor/index.md
  files/en-us/web/api/authenticatorassertionresponse/index.md
  files/en-us/web/api/authenticatorattestationresponse/index.md
  files/en-us/web/api/authenticatorresponse/clientdatajson/index.md
  files/en-us/web/api/authenticatorresponse/index.md
Labels: Content:WebAPI

#21452 Document deprecated MathML attributes superscriptshift/subscriptshift
  files/en-us/web/mathml/attribute/index.md
  files/en-us/web/mathml/element/mmultiscripts/index.md
  files/en-us/web/mathml/element/msub/index.md
  files/en-us/web/mathml/element/msubsup/index.md
  files/en-us/web/mathml/element/msup/index.md
Labels: Content:MathML

#21454 Indicate that keypress is deprecated
  files/en-us/web/api/element/keydown_event/index.md
Labels: Content:WebAPI

#21277 Add CSS scroll-timeline* properties
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/web/css/@scroll-timeline/index.md
  files/en-us/web/css/animation-timeline/index.md
  files/en-us/web/css/css_animations/index.md
  files/en-us/web/css/scroll-timeline-axis/index.md
  files/en-us/web/css/scroll-timeline-name/index.md
  files/en-us/web/css/scroll-timeline/index.md
  files/en-us/web/css/shorthand_properties/index.md
Labels: Content:CSS, Content:Other
