Repository mdn/content, pull requests merged in 2022-01, with the labels that each got.

#11634 Fixed discrepancy in validityState code example
  files/en-us/web/html/element/input/index.md
Labels: Content:HTML

#11649 Wrong variable name used
  files/en-us/web/api/nodefilter/acceptnode/index.md
Labels: Content:WebAPI

#11655 SHOW_ALL has wrong value documented?
  files/en-us/web/api/nodeiterator/index.md
Labels: Content:WebAPI

#11647 Corrected NodeIterator:whatToShow example to use bit values
  files/en-us/web/api/nodeiterator/whattoshow/index.md
Labels: Content:WebAPI

#11652 Clarify: digits in quotes are strings, not numbers
  files/en-us/learn/javascript/first_steps/variables/index.md
Labels: Content:Learn

#11653 Fix typo
  files/en-us/web/javascript/reference/global_objects/promise/promise/index.md
Labels: Content:JS

#11657 NodeFilter.SHOW_ALL has wrong value (follow-up)
  files/en-us/web/api/document/createnodeiterator/index.md
  files/en-us/web/api/document/createtreewalker/index.md
  files/en-us/web/api/nodeiterator/whattoshow/index.md
  files/en-us/web/api/treewalker/index.md
  files/en-us/web/api/treewalker/whattoshow/index.md
Labels: Content:WebAPI

#11648 variable typo, `docHTML` -> `docInnerHtml`
  files/en-us/web/guide/parsing_and_serializing_xml/index.md
Labels: Content:Learn

#11642 Fix XPathEvaluator»createExpression() example
  files/en-us/web/api/xpathevaluator/createexpression/index.md
Labels: Content:WebAPI

#11638 Be precise about Document properties that return HTMLcollection
  files/en-us/web/api/document/index.md
Labels: Content:WebAPI

#11623 remove unnecessary {{cssinfo}}
  files/en-us/web/css/scrollbar-width/index.md
Labels: Content:CSS

#11619 Formatting missing for event handlers
  files/en-us/web/api/window/index.md
Labels: Content:WebAPI

#11632 Minor adjustments in "Truthy"
  files/en-us/glossary/truthy/index.md
Labels: Content:Glossary

#11635 Fix a typo
  files/en-us/web/api/audionode/connect/index.md
Labels: Content:WebAPI

#11645 Add example of XPathExpression "repeated evaluations"
  files/en-us/web/api/document/createexpression/index.md
Labels: Content:WebAPI

#11585 Refer to DOM 'property' where it may be confused w/ HTML attr
  files/en-us/web/api/htmlmediaelement/index.md
Labels: Content:WebAPI

#11552 Review: ARIA attributes
  files/en-us/web/accessibility/aria/attributes/aria-describedby/index.md
  files/en-us/web/accessibility/aria/attributes/aria-invalid/index.md
Labels: Content:Accessibility

#11519 New page: aria-required
  files/en-us/web/accessibility/aria/attributes/aria-required/index.md
Labels: Content:Accessibility

#11644 Prettify the examples for easy readability
  files/en-us/learn/javascript/asynchronous/async_await/index.md
Labels: Content:Learn

#11009 Add note about HTTP to HTTPS redirection on server
  files/en-us/web/http/headers/strict-transport-security/index.md
Labels: Content:HTTP

#11668 fixed typo
  files/en-us/mozilla/projects/nss/overview/index.html
Labels: Content:Other

#11663 Remove `which` property from `MouseEvent`
  files/en-us/web/api/mouseevent/index.md
Labels: Content:WebAPI

#11664 Fix documents in `MouseEvent`
  files/en-us/web/api/mouseevent/button/index.md
  files/en-us/web/api/mouseevent/buttons/index.md
  files/en-us/web/api/mouseevent/mouseevent/index.md
  files/en-us/web/api/mouseevent/movementx/index.md
  files/en-us/web/api/mouseevent/movementy/index.md
  files/en-us/web/api/mouseevent/pagex/index.md
  files/en-us/web/api/mouseevent/region/index.md
  files/en-us/web/api/mouseevent/relatedtarget/index.md
  files/en-us/web/api/mouseevent/screenx/index.md
Labels: Content:WebAPI

#11651 missing argument information
  files/en-us/web/javascript/guide/working_with_objects/index.md
Labels: Content:JS

#11581 Fix non-working link on video_player_styling_basics
  files/en-us/web/guide/audio_and_video_delivery/video_player_styling_basics/index.md
Labels: Content:Learn

#11679 Fix code block formatting in abortcontroller/index.md
  files/en-us/web/api/abortcontroller/index.md
Labels: Content:WebAPI

#11680 Fixed URL
  files/en-us/learn/forms/your_first_form/index.md
Labels: Content:Learn

#11676 Fix links in CSS
  files/en-us/web/css/_doublecolon_-webkit-slider-runnable-track/index.md
  files/en-us/web/css/_doublecolon_-webkit-slider-thumb/index.md
  files/en-us/web/css/inheritance/index.md
  files/en-us/web/css/specificity/index.md
Labels: Content:CSS

#11677 Update macro links to ::after
  files/en-us/learn/forms/how_to_build_custom_form_controls/index.md
Labels: Content:Learn

#11678 Fixed typo
  files/en-us/web/accessibility/aria/roles/search_role/index.md
Labels: Content:Accessibility

#11685 Remove `<link>` from a list of matched elements
  files/en-us/web/css/_colon_any-link/index.md
Labels: Content:CSS

#11696 Fix links to Constraint_validation
  files/en-us/learn/forms/form_validation/index.md
  files/en-us/learn/forms/ui_pseudo-classes/index.md
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-required_attribute/index.html
  files/en-us/web/api/htmlformelement/submit/index.md
  files/en-us/web/api/htmlselectelement/setcustomvalidity/index.md
  files/en-us/web/css/_colon_invalid/index.md
  files/en-us/web/css/_colon_valid/index.md
  files/en-us/web/html/attributes/max/index.md
  files/en-us/web/html/attributes/maxlength/index.md
  files/en-us/web/html/attributes/min/index.md
  files/en-us/web/html/attributes/minlength/index.md
  files/en-us/web/html/attributes/pattern/index.md
  files/en-us/web/html/attributes/step/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:Learn, Content:Accessibility

#11695 Fix heading levels of live samples
  files/en-us/web/css/_colon_indeterminate/index.md
Labels: Content:CSS

#11693 Update index.md where glossary linking was wrong
  files/en-us/learn/html/multimedia_and_embedding/other_embedding_technologies/index.md
Labels: Content:Learn

#11689 Added clarification on value returned by methods
  files/en-us/web/api/treewalker/index.md
Labels: Content:WebAPI

#11686 fix: -webkit-text-stroke constituent properties lacked "-text-"
  files/en-us/web/css/-webkit-text-stroke/index.md
Labels: Content:CSS

#11701 Fix Javascript typo
  files/en-us/web/javascript/data_structures/index.md
Labels: Content:JS

#11698 Link to correct GitHub labels
  files/en-us/mdn/contribute/fixing_mdn_content_bugs/index.md
Labels: Content:Other

#11673 HTTP conditional requests - fix httplock image
  files/en-us/web/http/conditional_requests/httplock1.png
Labels: Content:HTTP

#11672 [Discussion] Serviceworker cookbook: make all links to MDN
  files/en-us/learn/javascript/client-side_web_apis/client-side_storage/index.md
  files/en-us/learn/tools_and_testing/cross_browser_testing/javascript/index.md
  files/en-us/web/api/service_worker_api/index.md
  files/en-us/web/api/service_worker_api/using_service_workers/index.md
  files/en-us/web/progressive_web_apps/loading/index.md
  files/en-us/web/progressive_web_apps/re-engageable_notifications_push/index.md
Labels: Content:WebAPI, Content:Learn, Content:Other

#11666 Add API overview page for SVG
  files/en-us/web/api/svg_api/index.md
Labels: Content:WebAPI

#11631 opensearch: Remove non standard Param element
  files/en-us/web/opensearch/index.md
Labels: Content:Other

#11583 omit anonymous function that won't compile
  files/en-us/web/javascript/a_re-introduction_to_javascript/index.md
Labels: Content:JS

#11529 Using CSS counters - add reversing examples
  files/en-us/web/css/counter-reset/index.md
  files/en-us/web/css/css_counter_styles/using_css_counters/index.md
  files/en-us/web/css/css_counter_styles/using_css_counters/reversed_headings_basic.png
Labels: Content:CSS

#11703 Fix typo `let` -> `const`
  files/en-us/learn/javascript/building_blocks/functions/index.md
Labels: Content:Learn

#11718 Update index.md: Explanation about HTML comments
  files/en-us/learn/getting_started_with_the_web/html_basics/index.md
Labels: Content:Learn

#11713 Update index.md where glossary linking was wrong
  files/en-us/web/security/index.md
Labels: Content:Other

#11723 Update index.md
  files/en-us/web/javascript/reference/global_objects/array/lastindexof/index.md
Labels: Content:JS

#11726 Replace incorrect UTF-16 surrogate pair
  files/en-us/web/javascript/reference/global_objects/array/sort/index.md
Labels: Content:JS

#11725 (selects => clicks) a button
  files/en-us/learn/javascript/building_blocks/events/index.md
Labels: Content:Learn

#11719 code style: add curly braces to 'if' statement
  files/en-us/web/api/window/requestanimationframe/index.md
Labels: Content:WebAPI

#11715 Update index.md where glossary linking was wrong
  files/en-us/web/security/securing_your_site/index.md
Labels: Content:Other

#11714 Update index.md where glossary linking was wrong
  files/en-us/learn/server-side/apache_configuration_htaccess/index.md
Labels: Content:Learn

#11712 Update index.md where glossary linking was wrong
  files/en-us/learn/server-side/first_steps/website_security/index.md
Labels: Content:Learn

#11717 Update index.md where glossary linking was wrong
  files/en-us/learn/server-side/django/introduction/index.md
Labels: Content:Learn, Content:Learn:Django

#11711 Update index.md where glossary linking was wrong
  files/en-us/web/security/types_of_attacks/index.md
Labels: Content:Other

#11710 Update index.md where glossary linking was wrong
  files/en-us/glossary/csp/index.md
Labels: Content:Glossary

#11716 Update index.md where glossary linking was wrong
  files/en-us/learn/server-side/django/web_application_security/index.md
Labels: Content:Learn, Content:Learn:Django

#11720 Improve example of location.hostname
  files/en-us/web/api/location/hostname/index.md
Labels: Content:WebAPI

#11427 Remove WebSocket.close(reason) syntax
  files/en-us/web/api/websocket/close/index.md
Labels: Content:WebAPI

#11311 Update `core-js` data
  files/en-us/web/api/domexception/domexception/index.md
  files/en-us/web/api/domexception/index.md
  files/en-us/web/api/structuredclone/index.md
  files/en-us/web/javascript/reference/global_objects/error/error/index.md
  files/en-us/web/javascript/reference/global_objects/error/index.md
  files/en-us/web/javascript/reference/global_objects/error/tostring/index.md
  files/en-us/web/javascript/reference/global_objects/number/toexponential/index.md
Labels: Content:WebAPI, Content:JS

#11733 Correcting poor html in example
  files/en-us/web/api/document/getelementsbyname/index.md
Labels: Content:WebAPI

#11290 Add note on actualBoundingBoxLeft that the value is calculated reversed
  files/en-us/web/api/textmetrics/actualboundingboxleft/index.md
  files/en-us/web/api/textmetrics/index.md
Labels: Content:WebAPI

#11684 ScreenOrientation.lock() updates for FF97
  files/en-us/web/api/screenorientation/lock/index.md
Labels: Content:WebAPI

#11732 Fix: bring gl.FRAMEBUFFER target in line with the spec
  files/en-us/web/api/webglrenderingcontext/bindframebuffer/index.md
Labels: Content:WebAPI

#11721 Added documentation on missing property
  files/en-us/web/api/document/index.md
Labels: Content:WebAPI

#11708 Adds support for AbortSignal.reason and related items
  files/en-us/web/api/abortcontroller/abort/index.md
  files/en-us/web/api/abortsignal/abort/index.md
  files/en-us/web/api/abortsignal/aborted/index.md
  files/en-us/web/api/abortsignal/index.md
  files/en-us/web/api/abortsignal/reason/index.md
Labels: Content:WebAPI

#11709 Correcting one of the example provided
  files/en-us/web/api/document/getelementsbyclassname/index.md
Labels: Content:WebAPI

#11705 FF97 Add experimental feature for ScreenOrientation.lock()
  files/en-us/mozilla/firefox/experimental_features/index.md
Labels: Content:Other

#11731 Clarify behavior of Array.p.lastIndexOf() fromIndex arg
  files/en-us/web/javascript/reference/global_objects/array/lastindexof/index.md
Labels: Content:JS

#11550 Change "validate" to "check"
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_typescript/index.md
Labels: Content:Learn

#11751 Added clarification when property reflects the HTML attribute
  files/en-us/web/api/htmlstyleelement/index.md
Labels: Content:WebAPI

#11757 Restore line breaks in the `<dd>`s
  files/en-us/web/css/css_selectors/index.md
Labels: Content:CSS

#11756 Fix comments
  files/en-us/web/css/_colon_defined/index.md
Labels: Content:CSS

#11742 Typo
  files/en-us/web/api/htmlselectelement/index.md
Labels: Content:WebAPI

#11741 HTMLElement .offset[height|left|parent|top|width] are stable removed experimental icon
  files/en-us/web/api/htmlelement/index.md
Labels: Content:WebAPI

#11740 Fix some awkward hyperlink formatting
  files/en-us/web/javascript/reference/statements/for...in/index.md
Labels: Content:JS

#11746 Corrected typos in multiple pages
  files/en-us/glossary/progressive_enhancement/index.md
  files/en-us/glossary/transferable_objects/index.md
  files/en-us/glossary/xinclude/index.md
  files/en-us/learn/common_questions/common_web_layouts/index.md
  files/en-us/learn/css/css_layout/grids/index.md
  files/en-us/learn/css/howto/center_an_item/index.md
  files/en-us/learn/forms/how_to_structure_a_web_form/index.md
  files/en-us/learn/forms/your_first_form/example/index.md
  files/en-us/learn/server-side/django/admin_site/index.md
  files/en-us/learn/server-side/express_nodejs/forms/create_genre_form/index.md
Labels: Content:Learn, Content:Learn:Django, Content:Learn:Express, Content:Glossary

#11748 Update index.md to make text time independent
  files/en-us/learn/html/tables/advanced/index.md
Labels: Content:Learn

#11749 MediaQueryList removeListener depreciation
  files/en-us/web/css/media_queries/testing_media_queries/index.md
Labels: Content:CSS

#11750 Add XRInputSourceEvent link in XRSession doc
  files/en-us/web/api/xrsession/index.md
Labels: Content:WebAPI

#11753 Add HTMLInputElement.showPicker()
  files/en-us/web/api/htmlinputelement/showpicker/index.md
Labels: Content:WebAPI

#11747 Grammar fix
  files/en-us/web/css/image-rendering/index.md
Labels: Content:CSS

#11759 ✏️ Grammatical Typo fix: which -> while
  files/en-us/learn/forms/ui_pseudo-classes/index.md
Labels: Content:Learn

#11760 🩹 fix Return type for HTMLStyleElement.sheet: StyleSheet -> CSSStyleSheet
  files/en-us/web/api/htmlstyleelement/index.md
Labels: Content:WebAPI

#11541 Remove semicolon(;) before the ")"
  files/en-us/web/api/service_worker_api/using_service_workers/index.md
Labels: Content:WebAPI

#11767 Write a better example for Location
  files/en-us/web/api/location/index.md
Labels: Content:WebAPI

#11769 Update note on flatMap/reduce comparison
  files/en-us/web/javascript/reference/global_objects/array/flatmap/index.md
Labels: Content:JS

#11791 ✏️ fix typo: tabgroup -> tablist
  files/en-us/learn/accessibility/wai-aria_basics/index.md
Labels: Content:Learn

#11771 Fix section title
  files/en-us/web/javascript/reference/global_objects/array/flatmap/index.md
Labels: Content:JS

#11784 Fix description of passive listeners in EventTarget.addEventListener
  files/en-us/web/api/eventtarget/addeventlistener/index.md
Labels: Content:WebAPI

#11787 Fix broken link fragment
  files/en-us/web/javascript/reference/operators/typeof/index.md
Labels: Content:JS

#11781 Update EventTarget.addEventListener memory issue section
  files/en-us/web/api/eventtarget/addeventlistener/index.md
Labels: Content:WebAPI

#11778 Update index.md
  files/en-us/web/api/payment_request_api/using_the_payment_request_api/index.md
Labels: Content:WebAPI

#11775 Added minmax() to list of functional notations
  files/en-us/web/css/css_values_and_units/index.md
Labels: Content:CSS

#11774 Edits: aria-valuetext
  files/en-us/web/accessibility/aria/attributes/aria-valuetext/index.md
Labels: Content:Accessibility

#11773 Remove duplicate documentation for fetch()
  files/en-us/web/api/fetch/index.md
Labels: Content:WebAPI

#11745 Fix typo
  files/en-us/web/html/element/dd/index.md
Labels: Content:HTML

#11792 Update aligning items in a flex container: remove wrong sentence
  files/en-us/web/css/css_flexible_box_layout/aligning_items_in_a_flex_container/index.md
Labels: Content:CSS

#11796 Update index.md where link is broken
  files/en-us/learn/html/howto/add_a_hit_map_on_top_of_an_image/index.md
Labels: Content:Learn

#11772 Clarify slot.assignedElements|assignedNodes behavior w/flatten
  files/en-us/web/api/htmlslotelement/assignedelements/index.md
  files/en-us/web/api/htmlslotelement/assignednodes/index.md
  files/en-us/web/api/htmlslotelement/index.md
Labels: Content:WebAPI

#11800 Update description for `arguments` object
  files/en-us/web/javascript/reference/functions/rest_parameters/index.md
Labels: Content:JS

#11801 Typo - remove colon after screenorientation example
  files/en-us/web/api/screenorientation/lock/index.md
Labels: Content:WebAPI

#11802 Fix typo in property name
  files/en-us/web/api/element/openorclosedshadowroot/index.md
Labels: Content:WebAPI

#11768 Drop outdated support info from window.beforeunload doc
  files/en-us/web/api/window/beforeunload_event/index.md
Labels: Content:WebAPI

#8394 Replace deprecated onKeyPress with onKeyDown
  files/en-us/web/accessibility/aria/roles/checkbox_role/index.md
Labels: Content:Accessibility

#11533 missing second argument
  files/en-us/web/javascript/guide/working_with_objects/index.md
Labels: Content:JS

#11735 Fixed Incorrect Calculations
  files/en-us/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/index.md
Labels: Content:CSS

#11805 FF97 AbortSignal reason/throwIfAborted release note
  files/en-us/mozilla/firefox/releases/97/index.md
Labels: Content:Other

#11795 Fix the value type for x1,x2,y1,y2 linearGradient params
  files/en-us/web/svg/element/lineargradient/index.md
Labels: Content:SVG

#11807 fix a typo
  files/en-us/glossary/hoisting/index.md
Labels: Content:Glossary

#11819 fix(11818): Change `Intl.ListFormat.prototype.formatToParts` `list` parameter description
  files/en-us/web/javascript/reference/global_objects/intl/listformat/formattoparts/index.md
Labels: Content:JS

#11816 Fix key usage requirement of deriveBits
  files/en-us/web/api/subtlecrypto/derivebits/index.md
Labels: Content:WebAPI

#11814 Fix some links
  files/en-us/web/css/counters()/index.md
  files/en-us/web/css/tutorials/index.md
Labels: Content:CSS

#11813 Fix links to counters()
  files/en-us/web/css/counter()/index.md
Labels: Content:CSS

#11809 Update index.md where live example is missing
  files/en-us/learn/css/building_blocks/values_and_units/index.md
Labels: Content:Learn

#11804 AbortSignal.throwIfAborted() - basic docs
  files/en-us/web/api/abortsignal/abort/index.md
  files/en-us/web/api/abortsignal/index.md
  files/en-us/web/api/abortsignal/reason/index.md
  files/en-us/web/api/abortsignal/throwifaborted/index.md
Labels: Content:WebAPI

#11803 typo: convert html to markdown
  files/en-us/web/javascript/reference/global_objects/error/index.md
Labels: Content:JS

#11785 Improves readability
  files/en-us/web/api/event/eventphase/index.md
Labels: Content:WebAPI

#11823 Drop links to outdated how-to guides in navigator.online doc
  files/en-us/web/api/navigator/online/index.md
Labels: Content:WebAPI

#11808 aria-expanded is not expected on the list but on the combobox element
  files/en-us/web/accessibility/aria/attributes/aria-autocomplete/index.md
Labels: Content:Accessibility

#11826 binary string to utf-8 to base64 for any unicode
  files/en-us/glossary/base64/index.md
Labels: Content:Glossary

#10806 Remove misleading `attr()` from the Syntax section
  files/en-us/web/css/clamp()/index.md
Labels: Content:CSS

#10897 Clarify behaviour of margin-block values
  files/en-us/web/css/margin-block/index.md
  files/en-us/web/css/margin-inline/index.md
Labels: Content:CSS

#11828 removed unintended content
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_typescript/index.md
Labels: Content:Learn

#11829 Correcting missing verb in deleteRow() documentation
  files/en-us/web/api/htmltableelement/index.md
Labels: Content:WebAPI

#11546 redirects: html to md
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-describedby_attribute/index.html
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-hidden_attribute/index.html
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-invalid_attribute/index.html
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-label_attribute/index.html
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-labelledby_attribute/index.html
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-orientation_attribute/index.html
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-relevant_attribute/index.html
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-required_attribute/index.html
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-valuemax_attribute/index.html
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-valuemin_attribute/index.html
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-valuenow_attribute/index.html
  files/en-us/web/accessibility/aria/aria_techniques/using_the_aria-valuetext_attribute/index.html
Labels: Content:Accessibility

#11830 Corrected inaccuracy and improved for consistency with HTMLTableElement
  files/en-us/web/api/htmltablesectionelement/index.md
Labels: Content:WebAPI

#11832 Fix inaccuracy in HTMLTableRowElement doc
  files/en-us/web/api/htmltablerowelement/index.md
Labels: Content:WebAPI

#11831 Corrections for crisp-edges and pixelated
  files/en-us/web/css/image-rendering/index.md
Labels: Content:CSS

#11833 Fix two links in var()
  files/en-us/web/css/var()/index.md
Labels: Content:CSS

#11845 Fixed URL
  files/en-us/learn/forms/basic_native_form_controls/index.md
Labels: Content:Learn

#11837 Fixed URL
  files/en-us/learn/forms/basic_native_form_controls/index.md
Labels: Content:Learn

#11844 make it clear how to specify a local bold font face
  files/en-us/web/css/@font-face/src/index.md
Labels: Content:CSS

#11842 Add CSS functions which haven't listed yet
  files/en-us/web/css/css_functions/index.md
Labels: Content:CSS

#11846 Mention possible null return value in FileSystemDirectoryHandle.resolve()
  files/en-us/web/api/filesystemdirectoryhandle/resolve/index.md
Labels: Content:WebAPI

#11854 fixes #11839 removes duplicate glossary page
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/glossary/tcp/index.md
  files/en-us/glossary/transmission_control_protocol_(tcp)/index.md
  files/en-us/web/http/methods/connect/index.md
Labels: Content:HTTP, Content:Glossary

#11865 correct typo
  files/en-us/web/accessibility/aria/attributes/aria-hidden/index.md
Labels: Content:Accessibility

#11866 Clarify that Notification.requestPermission is not supported in the worker context
  files/en-us/web/api/notification/requestpermission/index.md
Labels: Content:WebAPI

#11858 Remove extra space in the doc
  files/en-us/learn/javascript/first_steps/what_went_wrong/index.md
Labels: Content:Learn

#11867 Fixed a spelling error
  files/en-us/glossary/hoisting/index.md
Labels: Content:Glossary

#11857 Fixing a typo in documentation
  files/en-us/web/javascript/guide/modules/index.md
Labels: Content:JS

#11853 Fix links in "Securing your site"
  files/en-us/web/security/securing_your_site/index.md
Labels: Content:Other

#11852 Fix the sidebar of Global_Objects/null
  files/en-us/web/javascript/reference/global_objects/null/index.md
Labels: Content:JS

#11872 Replace links to event articles with more specific links
  files/en-us/web/api/uievent/detail/index.md
Labels: Content:WebAPI

#11847 Fix macro syntax error introduced in previous commit
  files/en-us/web/api/filesystemdirectoryhandle/resolve/index.md
Labels: Content:WebAPI

#8402 Intl segmenter updates
  files/en-us/web/javascript/reference/global_objects/intl/segmenter/index.md
  files/en-us/web/javascript/reference/global_objects/intl/segmenter/resolvedoptions/index.md
  files/en-us/web/javascript/reference/global_objects/intl/segmenter/segment/index.md
  files/en-us/web/javascript/reference/global_objects/intl/segmenter/segmentdata/index.md
  files/en-us/web/javascript/reference/global_objects/intl/segmenter/segmenter/index.md
  files/en-us/web/javascript/reference/global_objects/intl/segmenter/segments/@@iterator/index.md
  files/en-us/web/javascript/reference/global_objects/intl/segmenter/segments/containing/index.md
  files/en-us/web/javascript/reference/global_objects/intl/segmenter/segments/index.md
  files/en-us/web/javascript/reference/global_objects/intl/segmenter/supportedlocalesof/index.md
  files/en-us/web/javascript/reference/global_objects/intl/segments/@@iterator/index.md
  files/en-us/web/javascript/reference/global_objects/intl/segments/containing/index.md
  files/en-us/web/javascript/reference/global_objects/intl/segments/index.md
Labels: Content:JS

#11877 mv `uneval()` from Non-standard to Deprecated
  files/en-us/web/javascript/reference/global_objects/index.md
Labels: Content:JS

#11882 Update index.md
  files/en-us/learn/css/building_blocks/the_box_model/index.md
Labels: Content:Learn

#11888 Fix links and "Boolean"
  files/en-us/web/api/document/index.md
Labels: Content:WebAPI
