Repository mdn/content, pull requests merged in 2022-04, with the labels that each got.

#14527 Update index.md
  files/en-us/games/tutorials/2d_breakout_game_pure_javascript/move_the_ball/index.md
Labels: Content:Other

#14537 Page macro: remove from HTMLFormElement.elements
  files/en-us/web/api/htmlformelement/elements/index.md
Labels: Content:WebAPI

#14532 Fix height of void operator interactive example
  files/en-us/web/javascript/reference/operators/void/index.md
Labels: Content:JS

#14538 PageMacro: Remove from HTMLVideoElement.videowidth and tidy
  files/en-us/web/api/htmlvideoelement/videoheight/index.md
  files/en-us/web/api/htmlvideoelement/videowidth/index.md
Labels: Content:WebAPI

#14536 FF100 RelNote: WritableStream/ReadableStream.pipeTo()
  files/en-us/mozilla/firefox/releases/100/index.md
Labels: Content:Other

#14540 Fixes links to images (were in the wiki format)
  files/en-us/web/api/htmlimageelement/currentsrc/index.md
  files/en-us/web/api/htmlimageelement/height/index.md
  files/en-us/web/api/htmlimageelement/naturalheight/index.md
  files/en-us/web/api/htmlimageelement/srcset/index.md
  files/en-us/web/api/htmlimageelement/width/index.md
Labels: Content:WebAPI

#14541 Fix flexbox images for LA
  files/en-us/learn/css/css_layout/flexbox/flexbox-example3.png
  files/en-us/learn/css/css_layout/flexbox/flexbox-example4.png
Labels: Content:Learn

#14545 Fix variable name to the real one in Django example
  files/en-us/learn/server-side/django/generic_views/index.md
Labels: Content:Learn

#14543 Update ServiceWorkerRegistration updatefound event to new structure
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/serviceworkerregistration/index.md
  files/en-us/web/api/serviceworkerregistration/onupdatefound/index.md
  files/en-us/web/api/serviceworkerregistration/updatefound_event/index.md
Labels: Content:WebAPI

#14546 Include preventExtensions for Proxy isExtensible references
  files/en-us/web/javascript/reference/global_objects/proxy/proxy/isextensible/index.md
Labels: Content:JS

#9590 Update `KeyboardEvent.code` values on Linux and macOS
  files/en-us/web/api/keyboardevent/code/code_values/index.md
Labels: Content:WebAPI

#14559 misspelling: is instead of us
  files/en-us/web/css/selector_list/index.md
Labels: Content:CSS

#14542 Remove -webkit-text-emphasis as it's now unprefixed
  files/en-us/web/css/text-emphasis-color/index.md
  files/en-us/web/css/text-emphasis-position/index.md
  files/en-us/web/css/text-emphasis/index.md
Labels: Content:CSS

#14551 Fix typo
  files/en-us/web/api/rtcicecandidatepairstats/availableincomingbitrate/index.md
Labels: Content:WebAPI

#14564 Fix: attributes to methods
  files/en-us/web/api/htmlbaseelement/index.md
Labels: Content:WebAPI

#14565 Correct camelCase use
  files/en-us/web/css/text-decoration-color/index.md
Labels: Content:CSS

#14563 Fix typo
  files/en-us/web/javascript/reference/operators/destructuring_assignment/index.md
Labels: Content:JS

#14567 Fix internal link to 'DOMString'
  files/en-us/web/api/syncmanager/gettags/index.md
Labels: Content:WebAPI

#14568 Replace generators with generator functions
  files/en-us/web/javascript/reference/statements/for-await...of/index.md
Labels: Content:JS

#14571 Fix 'Loose equality comparisons', ToPrimitive(A) calc step
  files/en-us/web/javascript/equality_comparisons_and_sameness/index.md
Labels: Content:JS

#13517 Add Examples for using function constructor
  files/en-us/web/javascript/reference/global_objects/function/function/index.md
Labels: Content:JS

#13509 Several fixes for `FileSystemDirectoryHandle` page
  files/en-us/web/api/filesystemdirectoryhandle/index.md
Labels: Content:WebAPI

#14428 Fix media query syntax in the media="" attribute
  files/en-us/web/performance/lazy_loading/index.md
Labels: Content:Other

#14474 Alternative solution 1 does not b64 encode
  files/en-us/glossary/base64/index.md
Labels: Content:Glossary

#14513 Fix some errors in the WASM ”Local tee“ doc
  files/en-us/webassembly/reference/variables/local_tee/index.md
Labels: Content:wasm

#14569 Replace a slash with a dot in {{domxref}}
  files/en-us/web/html/element/base/index.md
Labels: Content:HTML

#14573 Fixes #14485 - corner -> top-left corner
  files/en-us/web/api/canvasrenderingcontext2d/clearrect/index.md
Labels: Content:WebAPI

#14572 removed repeated words
  files/en-us/learn/accessibility/wai-aria_basics/index.md
  files/en-us/learn/javascript/client-side_web_apis/fetching_data/index.md
  files/en-us/mdn/structures/page_types/api_event_subpage_template/index.md
  files/en-us/mdn/structures/page_types/css_property_page_template/index.md
  files/en-us/mdn/structures/page_types/css_selector_page_template/index.md
  files/en-us/mdn/structures/syntax_sections/index.md
  files/en-us/mozilla/add-ons/webextensions/native_messaging/index.md
  files/en-us/web/accessibility/aria/attributes/aria-keyshortcuts/index.md
  files/en-us/web/accessibility/aria/attributes/aria-roledescription/index.md
  files/en-us/web/accessibility/aria/roles/main_role/index.md
  files/en-us/web/accessibility/aria/roles/scrollbar_role/index.md
  files/en-us/web/accessibility/aria/roles/slider_role/index.md
  files/en-us/web/accessibility/aria/roles/tabpanel_role/index.md
  files/en-us/web/accessibility/aria/roles/treegrid_role/index.md
  files/en-us/web/accessibility/aria/roles/treeitem_role/index.md
  files/en-us/web/accessibility/understanding_colors_and_luminance/index.md
  files/en-us/web/api/abortsignal/throwifaborted/index.md
  files/en-us/web/api/element/scrollheight/index.md
  files/en-us/web/api/idbcursor/continueprimarykey/index.md
  files/en-us/web/api/imagedecoder/imagedecoder/index.md
  files/en-us/web/api/mediaquerylist/addlistener/index.md
  files/en-us/web/api/mediaquerylist/change_event/index.md
  files/en-us/web/api/mediaquerylist/removelistener/index.md
  files/en-us/web/api/mediaquerylistevent/index.md
  files/en-us/web/api/mediaquerylistevent/matches/index.md
  files/en-us/web/api/mediaquerylistevent/media/index.md
  files/en-us/web/api/ndefrecord/torecords/index.md
  files/en-us/web/api/node/lookupprefix/index.md
  files/en-us/web/api/rtcicecandidate/tojson/index.md
  files/en-us/web/api/serialport/getsignals/index.md
  files/en-us/web/api/url_pattern_api/index.md
  files/en-us/web/api/web_crypto_api/non-cryptographic_uses_of_subtle_crypto/index.md
  files/en-us/web/api/web_midi_api/index.md
  files/en-us/web/api/webgl2renderingcontext/beginquery/index.md
  files/en-us/web/api/webgl2renderingcontext/endquery/index.md
  files/en-us/web/api/webgl2renderingcontext/getquery/index.md
  files/en-us/web/api/webgl_api/basic_2d_animation_example/index.md
  files/en-us/web/api/webhid_api/index.md
  files/en-us/web/api/webrtc_api/using_dtmf/index.md
  files/en-us/web/api/webxr_device_api/bounded_reference_spaces/index.md
  files/en-us/web/api/webxr_device_api/inputs/index.md
  files/en-us/web/api/webxr_device_api/startup_and_shutdown/index.md
  files/en-us/web/api/writablestreamdefaultwriter/ready/index.md
  files/en-us/web/api/xrjointspace/jointname/index.md
  files/en-us/web/api/xrsession/requesthittestsource/index.md
  files/en-us/web/api/xrsession/requesthittestsourcefortransientinput/index.md
  files/en-us/web/api/xrwebglbinding/getdepthinformation/index.md
  files/en-us/web/css/-webkit-mask-position-x/index.md
  files/en-us/web/css/-webkit-mask-position-y/index.md
  files/en-us/web/css/css_container_queries/index.md
  files/en-us/web/html/attributes/index.md
  files/en-us/web/html/element/input/index.md
  files/en-us/web/http/browser_detection_using_the_user_agent/index.md
  files/en-us/web/http/headers/www-authenticate/index.md
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
  files/en-us/web/javascript/guide/introduction/index.md
  files/en-us/web/javascript/reference/global_objects/intl/locale/timezones/index.md
  files/en-us/web/svg/attribute/transform-origin/index.md
Labels: Content:CSS, Content:HTML, Content:WebExt, Content:WebAPI, Content:JS, Content:Learn, Content:Other, Content:HTTP, Content:Accessibility, Content:SVG

#14574 Intersection observer: fixed syntax error
  files/en-us/web/api/intersection_observer_api/index.md
Labels: Content:WebAPI

#14575 fix: various typos
  files/en-us/web/api/filesystemdirectoryhandle/index.md
  files/en-us/web/api/readablestream/pipeto/index.md
Labels: Content:WebAPI

#14576 fix typo in `::-webkit-scrollbar`
  files/en-us/web/css/_doublecolon_-webkit-scrollbar/index.md
Labels: Content:CSS

#14577 adoptNode: fixed typo
  files/en-us/web/api/document/adoptnode/index.md
Labels: Content:WebAPI

#12937 Lowercase Array.p.reduce() slug (for consistency w/ other Array methods)
  files/en-us/web/javascript/reference/global_objects/array/reduce/index.md
Labels: Content:JS

#14587 Fix grammar
  files/en-us/web/javascript/reference/functions/arrow_functions/index.md
Labels: Content:JS

#14591 Fix grammar
  files/en-us/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/index.md
Labels: Content:CSS

#14584 Replace {{event)}} with domxref (batch #4)
  files/en-us/mozilla/firefox/releases/31/index.md
  files/en-us/mozilla/firefox/releases/44/index.md
  files/en-us/mozilla/firefox/releases/62/index.md
  files/en-us/mozilla/firefox/releases/91/index.md
  files/en-us/web/api/css_object_model/managing_screen_orientation/index.md
  files/en-us/web/api/deviceorientationevent/absolute/index.md
  files/en-us/web/api/deviceorientationevent/alpha/index.md
  files/en-us/web/api/deviceorientationevent/beta/index.md
  files/en-us/web/api/deviceorientationevent/gamma/index.md
  files/en-us/web/api/deviceorientationevent/index.md
  files/en-us/web/api/gamepad/index.md
  files/en-us/web/api/gamepad_api/using_the_gamepad_api/index.md
  files/en-us/web/api/gamepadevent/gamepad/index.md
  files/en-us/web/api/htmlbodyelement/index.md
  files/en-us/web/api/htmlframesetelement/index.md
  files/en-us/web/api/webvr_api/using_the_webvr_api/index.md
  files/en-us/web/api/webvr_api/using_vr_controllers_with_webvr/index.md
  files/en-us/web/api/window/devicemotion_event/index.md
  files/en-us/web/api/window/deviceorientation_event/index.md
  files/en-us/web/api/window/deviceorientationabsolute_event/index.md
  files/en-us/web/api/window/index.md
  files/en-us/web/api/windoweventhandlers/index.md
  files/en-us/web/api/windoweventhandlers/onafterprint/index.md
  files/en-us/web/api/windoweventhandlers/onbeforeprint/index.md
  files/en-us/web/api/windoweventhandlers/onbeforeunload/index.md
  files/en-us/web/events/detecting_device_orientation/index.md
  files/en-us/web/events/index.md
  files/en-us/web/events/using_device_orientation_with_3d_transforms/index.md
  files/en-us/web/http/headers/feature-policy/gamepad/index.md
Labels: Content:WebAPI, Content:Other, Content:HTTP

#14595 Add replaceAll() example to Learn - JS - Useful string methods
  files/en-us/learn/javascript/first_steps/useful_string_methods/index.md
Labels: Content:Learn

#14588 update dialog page
  files/en-us/web/html/element/dialog/index.md
Labels: Content:HTML

#14594 clarifications for the html element
  files/en-us/web/html/element/html/index.md
Labels: Content:HTML

#14596 title element: provide additional accessibility guidance
  files/en-us/web/html/element/title/index.md
Labels: Content:HTML

#14597 Correct implicit role for body element
  files/en-us/web/html/element/body/index.md
Labels: Content:HTML

#14603 fix: add missing arguement in js example
  files/en-us/web/javascript/reference/global_objects/function/apply/index.md
Labels: Content:JS

#14607 fix: using space instead to show the recommend
  files/en-us/web/html/element/dialog/index.md
Labels: Content:HTML

#14608 Element: fixed a typo
  files/en-us/web/api/element/index.md
Labels: Content:WebAPI

#14600 fix: markdownlint spacing issues
  files/en-us/web/accessibility/aria/roles/scrollbar_role/index.md
  files/en-us/web/accessibility/aria/roles/treegrid_role/index.md
  files/en-us/web/api/filesystemdirectoryhandle/index.md
  files/en-us/web/api/htmlvideoelement/videoheight/index.md
  files/en-us/web/api/streams_api/using_writable_streams/index.md
  files/en-us/web/api/writablestream/getwriter/index.md
  files/en-us/web/css/all/index.md
  files/en-us/web/css/revert-layer/index.md
  files/en-us/web/javascript/reference/global_objects/array/groupby/index.md
  files/en-us/web/javascript/reference/global_objects/array/groupbytomap/index.md
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/numberformat/index.md
  files/en-us/web/progressive_web_apps/add_to_home_screen/index.md
Labels: Content:CSS, Content:WebAPI, Content:JS, Content:Other, Content:Accessibility

#14605 WebAPI: Clean syntax from property pages, part 18
  files/en-us/web/api/batterymanager/charging/index.md
  files/en-us/web/api/batterymanager/chargingtime/index.md
  files/en-us/web/api/batterymanager/dischargingtime/index.md
  files/en-us/web/api/batterymanager/level/index.md
  files/en-us/web/api/document/ononline/index.md
  files/en-us/web/api/hid/onconnect/index.md
  files/en-us/web/api/hid/ondisconnect/index.md
  files/en-us/web/api/history/length/index.md
  files/en-us/web/api/htmlanchorelement/download/index.md
  files/en-us/web/api/htmlanchorelement/hash/index.md
  files/en-us/web/api/htmlanchorelement/host/index.md
  files/en-us/web/api/htmlanchorelement/hostname/index.md
  files/en-us/web/api/htmlanchorelement/href/index.md
  files/en-us/web/api/htmlanchorelement/origin/index.md
  files/en-us/web/api/htmlanchorelement/password/index.md
  files/en-us/web/api/htmlanchorelement/pathname/index.md
  files/en-us/web/api/htmlanchorelement/port/index.md
  files/en-us/web/api/htmlanchorelement/protocol/index.md
  files/en-us/web/api/htmlanchorelement/rel/index.md
  files/en-us/web/api/htmlanchorelement/rellist/index.md
  files/en-us/web/api/htmlanchorelement/search/index.md
  files/en-us/web/api/htmlanchorelement/username/index.md
  files/en-us/web/api/htmlareaelement/hash/index.md
  files/en-us/web/api/htmlareaelement/host/index.md
  files/en-us/web/api/htmlareaelement/href/index.md
  files/en-us/web/api/htmlareaelement/origin/index.md
  files/en-us/web/api/htmlareaelement/password/index.md
  files/en-us/web/api/htmlareaelement/pathname/index.md
  files/en-us/web/api/htmlareaelement/port/index.md
  files/en-us/web/api/htmlareaelement/protocol/index.md
  files/en-us/web/api/htmlareaelement/rel/index.md
  files/en-us/web/api/htmlareaelement/rellist/index.md
  files/en-us/web/api/htmlareaelement/search/index.md
  files/en-us/web/api/htmlareaelement/username/index.md
  files/en-us/web/api/htmlbuttonelement/labels/index.md
  files/en-us/web/api/htmlcanvaselement/height/index.md
  files/en-us/web/api/htmlcanvaselement/mozopaque/index.md
  files/en-us/web/api/htmlcanvaselement/width/index.md
  files/en-us/web/api/htmlcollection/length/index.md
  files/en-us/web/api/htmlcontentelement/getdistributednodes/index.md
  files/en-us/web/api/htmlcontentelement/select/index.md
  files/en-us/web/api/htmlelement/contenteditable/index.md
  files/en-us/web/api/htmlelement/contextmenu/index.md
  files/en-us/web/api/htmlelement/dir/index.md
  files/en-us/web/api/htmlelement/iscontenteditable/index.md
  files/en-us/web/api/htmlelement/lang/index.md
  files/en-us/web/api/htmlelement/offsetheight/index.md
  files/en-us/web/api/htmlelement/offsetleft/index.md
  files/en-us/web/api/htmlelement/offsetparent/index.md
  files/en-us/web/api/htmlelement/offsettop/index.md
Labels: Content:WebAPI

#14606 WebAPI: Clean syntax from property pages, part 19
  files/en-us/web/api/htmlelement/offsetwidth/index.md
  files/en-us/web/api/htmlelement/title/index.md
  files/en-us/web/api/htmlfontelement/color/index.md
  files/en-us/web/api/htmlfontelement/face/index.md
  files/en-us/web/api/htmlfontelement/size/index.md
  files/en-us/web/api/htmlformelement/acceptcharset/index.md
  files/en-us/web/api/htmlformelement/action/index.md
  files/en-us/web/api/htmlformelement/enctype/index.md
  files/en-us/web/api/htmlformelement/method/index.md
  files/en-us/web/api/htmlformelement/name/index.md
  files/en-us/web/api/htmlformelement/target/index.md
  files/en-us/web/api/htmliframeelement/contentwindow/index.md
  files/en-us/web/api/htmlinputelement/labels/index.md
  files/en-us/web/api/htmlinputelement/multiple/index.md
  files/en-us/web/api/htmllinkelement/rel/index.md
  files/en-us/web/api/htmllinkelement/rellist/index.md
  files/en-us/web/api/htmlmediaelement/sinkid/index.md
  files/en-us/web/api/htmlmeterelement/labels/index.md
  files/en-us/web/api/htmloutputelement/labels/index.md
  files/en-us/web/api/htmlprogresselement/labels/index.md
  files/en-us/web/api/htmlselectelement/autofocus/index.md
  files/en-us/web/api/htmlselectelement/disabled/index.md
  files/en-us/web/api/htmlselectelement/form/index.md
  files/en-us/web/api/htmlselectelement/labels/index.md
  files/en-us/web/api/htmlselectelement/options/index.md
  files/en-us/web/api/htmlselectelement/selectedindex/index.md
  files/en-us/web/api/htmlselectelement/type/index.md
  files/en-us/web/api/htmlshadowelement/getdistributednodes/index.md
  files/en-us/web/api/htmlstyleelement/media/index.md
  files/en-us/web/api/htmlstyleelement/scoped/index.md
  files/en-us/web/api/htmlstyleelement/type/index.md
  files/en-us/web/api/htmltableelement/align/index.md
  files/en-us/web/api/htmltableelement/bgcolor/index.md
  files/en-us/web/api/htmltableelement/border/index.md
  files/en-us/web/api/htmltableelement/caption/index.md
  files/en-us/web/api/htmltableelement/cellpadding/index.md
  files/en-us/web/api/htmltableelement/frame/index.md
  files/en-us/web/api/htmltableelement/rules/index.md
  files/en-us/web/api/htmltableelement/summary/index.md
  files/en-us/web/api/htmltableelement/tbodies/index.md
  files/en-us/web/api/htmltableelement/tfoot/index.md
  files/en-us/web/api/htmltableelement/thead/index.md
  files/en-us/web/api/htmltableelement/width/index.md
  files/en-us/web/api/htmltemplateelement/content/index.md
  files/en-us/web/api/htmltextareaelement/labels/index.md
  files/en-us/web/api/htmltimeelement/datetime/index.md
  files/en-us/web/api/idbmutablefile/onabort/index.md
  files/en-us/web/api/idbmutablefile/onerror/index.md
  files/en-us/web/api/idbtransaction/objectstorenames/index.md
  files/en-us/web/api/imagedata/data/index.md
  files/en-us/web/api/imagedata/height/index.md
  files/en-us/web/api/imagedata/width/index.md
  files/en-us/web/api/inputevent/iscomposing/index.md
Labels: Content:WebAPI

#14609 HTMLElement: fixed a typo
  files/en-us/web/api/htmlelement/index.md
Labels: Content:WebAPI

#14611 Animation: fixed a typo
  files/en-us/web/api/animation/index.md
Labels: Content:WebAPI

#14612 Notification: fixed a typo
  files/en-us/web/api/notification/index.md
Labels: Content:WebAPI

#14613 Image() : marked parameters optional
  files/en-us/web/api/htmlimageelement/image/index.md
Labels: Content:WebAPI

#14616 Fixed a missing full stop
  files/en-us/web/javascript/reference/classes/index.md
Labels: Content:JS

#14617 Corrected grammar, punctuation and spelling errors and fixed broken links
  files/en-us/web/css/viewport_concepts/index.md
Labels: Content:CSS

#14618 Corrected grammar
  files/en-us/web/svg/attribute/viewbox/index.md
Labels: Content:SVG

#14619 Rewrite syntax for createelementns method
  files/en-us/web/api/document/createelementns/index.md
Labels: Content:WebAPI

#14621 Minor grammar, punctuation and vocabulary corrections
  files/en-us/web/html/element/index.md
  files/en-us/web/html/element/menu/index.md
  files/en-us/web/html/element/pre/index.md
Labels: Content:HTML

#14623 Fix developers.google.com links
  files/en-us/mozilla/add-ons/webextensions/api/devtools/panels/elementspanel/createsidebarpane/index.md
  files/en-us/web/api/deprecationreportbody/index.md
  files/en-us/web/api/fetchevent/preloadresponse/index.md
  files/en-us/web/api/navigationpreloadmanager/index.md
  files/en-us/web/api/touchevent/index.md
  files/en-us/web/api/web_audio_api/using_audioworklet/index.md
  files/en-us/web/css/overscroll-behavior-block/index.md
  files/en-us/web/css/overscroll-behavior-x/index.md
  files/en-us/web/http/headers/save-data/index.md
  files/en-us/web/javascript/guide/modules/index.md
  files/en-us/web/javascript/inheritance_and_the_prototype_chain/index.md
Labels: Content:CSS, Content:WebExt, Content:WebAPI, Content:JS, Content:Other, Content:HTTP

#14624 Fix developers.google.com links
  files/en-us/web/api/navigator/registerprotocolhandler/web-based_protocol_handlers/index.md
  files/en-us/web/api/navigator/sendbeacon/index.md
  files/en-us/web/api/reporting_api/index.md
Labels: Content:WebAPI

#14582 Replace {{event)}} with domxref (batch #3)
  files/en-us/mozilla/firefox/releases/49/index.md
  files/en-us/mozilla/firefox/releases/52/index.md
  files/en-us/web/api/notification/notification/index.md
  files/en-us/web/api/pushevent/pushevent/index.md
  files/en-us/web/api/rtcpeerconnection/addtransceiver/index.md
  files/en-us/web/api/rtctrackevent/index.md
  files/en-us/web/api/serviceworkerglobalscope/notificationclick_event/index.md
  files/en-us/web/api/serviceworkerregistration/shownotification/index.md
  files/en-us/web/api/speechrecognitionevent/index.md
  files/en-us/web/api/speechrecognitionevent/results/index.md
  files/en-us/web/api/speechsynthesisevent/index.md
  files/en-us/web/api/speechsynthesisevent/name/index.md
  files/en-us/web/api/speechsynthesisutterance/boundary_event/index.md
  files/en-us/web/api/speechsynthesisutterance/end_event/index.md
  files/en-us/web/api/speechsynthesisutterance/error_event/index.md
  files/en-us/web/api/speechsynthesisutterance/mark_event/index.md
  files/en-us/web/api/speechsynthesisutterance/pause_event/index.md
  files/en-us/web/api/speechsynthesisutterance/resume_event/index.md
  files/en-us/web/api/speechsynthesisutterance/start_event/index.md
  files/en-us/web/api/web_audio_api/index.md
  files/en-us/web/api/web_speech_api/index.md
  files/en-us/web/api/webrtc_api/session_lifetime/index.md
  files/en-us/web/api/webrtc_api/signaling_and_video_calling/index.md
  files/en-us/web/api/webrtc_api/using_dtmf/index.md
  files/en-us/web/progressive_web_apps/re-engageable_notifications_push/index.md
Labels: Content:WebAPI, Content:Other

#14622 Fix inconsistent titles
  files/en-us/web/api/location/ancestororigins/index.md
  files/en-us/web/api/location/assign/index.md
  files/en-us/web/api/location/hash/index.md
  files/en-us/web/api/location/host/index.md
  files/en-us/web/api/location/hostname/index.md
  files/en-us/web/api/location/href/index.md
  files/en-us/web/api/location/origin/index.md
  files/en-us/web/api/location/password/index.md
  files/en-us/web/api/location/pathname/index.md
  files/en-us/web/api/location/port/index.md
  files/en-us/web/api/location/protocol/index.md
  files/en-us/web/api/location/reload/index.md
  files/en-us/web/api/location/replace/index.md
  files/en-us/web/api/location/search/index.md
  files/en-us/web/api/location/tostring/index.md
  files/en-us/web/api/location/username/index.md
Labels: Content:WebAPI

#14631 Fix grammatical typo
  files/en-us/web/api/htmlformelement/requestsubmit/index.md
Labels: Content:WebAPI

#14632 Remove typo in 'Writing WebSocket servers'
  files/en-us/web/api/websockets_api/writing_websocket_servers/index.md
Labels: Content:WebAPI

#14634 WebAPI: Clean syntax from property pages, part 21
  files/en-us/web/api/performance/navigation/index.md
  files/en-us/web/api/performance/timing/index.md
  files/en-us/web/api/performanceentry/duration/index.md
  files/en-us/web/api/performanceentry/entrytype/index.md
  files/en-us/web/api/performanceentry/name/index.md
  files/en-us/web/api/performanceentry/starttime/index.md
  files/en-us/web/api/performancenavigation/redirectcount/index.md
  files/en-us/web/api/performancenavigation/type/index.md
  files/en-us/web/api/performancenavigationtiming/domcomplete/index.md
  files/en-us/web/api/performancenavigationtiming/domcontentloadedeventend/index.md
  files/en-us/web/api/performancenavigationtiming/domcontentloadedeventstart/index.md
  files/en-us/web/api/performancenavigationtiming/dominteractive/index.md
  files/en-us/web/api/performancenavigationtiming/loadeventend/index.md
  files/en-us/web/api/performancenavigationtiming/loadeventstart/index.md
  files/en-us/web/api/performancenavigationtiming/redirectcount/index.md
  files/en-us/web/api/performancenavigationtiming/unloadeventend/index.md
  files/en-us/web/api/performancenavigationtiming/unloadeventstart/index.md
  files/en-us/web/api/performanceobserver/supportedentrytypes/index.md
  files/en-us/web/api/performanceresourcetiming/connectend/index.md
  files/en-us/web/api/performanceresourcetiming/connectstart/index.md
  files/en-us/web/api/performanceresourcetiming/decodedbodysize/index.md
  files/en-us/web/api/performanceresourcetiming/domainlookupend/index.md
  files/en-us/web/api/performanceresourcetiming/domainlookupstart/index.md
  files/en-us/web/api/performanceresourcetiming/encodedbodysize/index.md
  files/en-us/web/api/performanceresourcetiming/fetchstart/index.md
  files/en-us/web/api/performanceresourcetiming/initiatortype/index.md
  files/en-us/web/api/performanceresourcetiming/nexthopprotocol/index.md
  files/en-us/web/api/performanceresourcetiming/redirectend/index.md
  files/en-us/web/api/performanceresourcetiming/redirectstart/index.md
  files/en-us/web/api/performanceresourcetiming/requeststart/index.md
  files/en-us/web/api/performanceresourcetiming/responseend/index.md
  files/en-us/web/api/performanceresourcetiming/responsestart/index.md
  files/en-us/web/api/performanceresourcetiming/secureconnectionstart/index.md
  files/en-us/web/api/performanceresourcetiming/servertiming/index.md
  files/en-us/web/api/performanceresourcetiming/transfersize/index.md
  files/en-us/web/api/performanceservertiming/description/index.md
  files/en-us/web/api/performanceservertiming/duration/index.md
  files/en-us/web/api/performanceservertiming/name/index.md
  files/en-us/web/api/performancetiming/connectend/index.md
  files/en-us/web/api/performancetiming/connectstart/index.md
  files/en-us/web/api/performancetiming/domainlookupend/index.md
  files/en-us/web/api/performancetiming/domainlookupstart/index.md
  files/en-us/web/api/performancetiming/domcomplete/index.md
  files/en-us/web/api/performancetiming/domcontentloadedeventend/index.md
  files/en-us/web/api/performancetiming/domcontentloadedeventstart/index.md
  files/en-us/web/api/performancetiming/dominteractive/index.md
  files/en-us/web/api/performancetiming/domloading/index.md
  files/en-us/web/api/performancetiming/fetchstart/index.md
  files/en-us/web/api/performancetiming/loadeventend/index.md
  files/en-us/web/api/performancetiming/loadeventstart/index.md
  files/en-us/web/api/performancetiming/navigationstart/index.md
Labels: Content:WebAPI

#14633 WebAPI: Clean syntax from property pages, part 20
  files/en-us/web/api/keyboardevent/altkey/index.md
  files/en-us/web/api/keyboardevent/charcode/index.md
  files/en-us/web/api/keyboardevent/code/index.md
  files/en-us/web/api/keyboardevent/ctrlkey/index.md
  files/en-us/web/api/keyboardevent/iscomposing/index.md
  files/en-us/web/api/keyboardevent/key/index.md
  files/en-us/web/api/keyboardevent/location/index.md
  files/en-us/web/api/keyboardevent/metakey/index.md
  files/en-us/web/api/keyboardevent/repeat/index.md
  files/en-us/web/api/keyboardevent/shiftkey/index.md
  files/en-us/web/api/lockedfile/onabort/index.md
  files/en-us/web/api/lockedfile/oncomplete/index.md
  files/en-us/web/api/lockedfile/onerror/index.md
  files/en-us/web/api/mediakeymessageevent/message/index.md
  files/en-us/web/api/mediakeymessageevent/messagetype/index.md
  files/en-us/web/api/mediakeysession/expiration/index.md
  files/en-us/web/api/mediakeysession/keystatuses/index.md
  files/en-us/web/api/mediakeysession/sessionid/index.md
  files/en-us/web/api/mediakeysystemaccess/keysystem/index.md
  files/en-us/web/api/mediarecorder/warning_event/index.md
  files/en-us/web/api/mouseevent/screenx/index.md
  files/en-us/web/api/navigator/battery/index.md
  files/en-us/web/api/navigator/cookieenabled/index.md
  files/en-us/web/api/navigator/donottrack/index.md
  files/en-us/web/api/navigator/geolocation/index.md
  files/en-us/web/api/navigator/languages/index.md
  files/en-us/web/api/navigator/maxtouchpoints/index.md
  files/en-us/web/api/navigator/productsub/index.md
  files/en-us/web/api/networkinformation/downlinkmax/index.md
  files/en-us/web/api/networkinformation/rtt/index.md
  files/en-us/web/api/networkinformation/type/index.md
  files/en-us/web/api/nodeiterator/expandentityreferences/index.md
  files/en-us/web/api/nodeiterator/filter/index.md
  files/en-us/web/api/nodeiterator/pointerbeforereferencenode/index.md
  files/en-us/web/api/nodeiterator/referencenode/index.md
  files/en-us/web/api/nodeiterator/root/index.md
  files/en-us/web/api/nodeiterator/whattoshow/index.md
  files/en-us/web/api/nodelist/length/index.md
  files/en-us/web/api/notificationevent/action/index.md
  files/en-us/web/api/notificationevent/notification/index.md
  files/en-us/web/api/offscreencanvas/height/index.md
  files/en-us/web/api/offscreencanvas/width/index.md
  files/en-us/web/api/paintworklet/registerpaint/index.md
  files/en-us/web/api/paymentaddress/tojson/index.md
  files/en-us/web/api/paymentrequest/shippingaddress/index.md
  files/en-us/web/api/paymentrequest/shippingoption/index.md
  files/en-us/web/api/paymentresponse/details/index.md
  files/en-us/web/api/paymentresponse/payeremail/index.md
  files/en-us/web/api/paymentresponse/payerphone/index.md
  files/en-us/web/api/paymentresponse/shippingoption/index.md
Labels: Content:WebAPI

#14635 Fix broken links to Emscripten.org
  files/en-us/webassembly/concepts/index.md
Labels: Content:wasm

#14638 Wasm: remove preference versions
  files/en-us/webassembly/c_to_wasm/index.md
Labels: Content:wasm

#14578 Replace {{event)}} with domxref (batch #2)
  files/en-us/mozilla/firefox/releases/40/index.md
  files/en-us/mozilla/firefox/releases/44/index.md
  files/en-us/web/api/addresserrors/index.md
  files/en-us/web/api/mediastreamevent/index.md
  files/en-us/web/api/mediastreamevent/stream/index.md
  files/en-us/web/api/paymentmethodchangeevent/methoddetails/index.md
  files/en-us/web/api/paymentmethodchangeevent/methodname/index.md
  files/en-us/web/api/paymentmethodchangeevent/paymentmethodchangeevent/index.md
  files/en-us/web/api/paymentresponse/payerdetailchange_event/index.md
  files/en-us/web/api/rtcicecandidatestats/index.md
  files/en-us/web/api/rtcicecandidatestats/url/index.md
  files/en-us/web/api/rtcicetransport/gatheringstatechange_event/index.md
  files/en-us/web/api/rtcicetransport/getlocalcandidates/index.md
  files/en-us/web/api/rtcicetransport/getselectedcandidatepair/index.md
  files/en-us/web/api/rtcicetransport/index.md
  files/en-us/web/api/rtcicetransport/selectedcandidatepairchange_event/index.md
  files/en-us/web/api/rtcicetransport/statechange_event/index.md
  files/en-us/web/api/rtcpeerconnectioniceevent/candidate/index.md
  files/en-us/web/api/rtcpeerconnectioniceevent/index.md
  files/en-us/web/api/rtcrtptransceiver/direction/index.md
  files/en-us/web/api/rtcrtptransceiver/stop/index.md
  files/en-us/web/api/webrtc_api/index.md
  files/en-us/web/api/webrtc_api/intro_to_rtp/index.md
  files/en-us/web/api/webrtc_api/signaling_and_video_calling/index.md
  files/en-us/web/api/webrtc_api/simple_rtcdatachannel_sample/index.md
  files/en-us/web/api/webrtc_api/using_data_channels/index.md
  files/en-us/web/api/webrtc_api/using_dtmf/index.md
Labels: Content:WebAPI, Content:Other

#14639 WASM: Better spec link for "Trap"
  files/en-us/web/javascript/reference/global_objects/webassembly/runtimeerror/index.md
Labels: Content:JS

#14630 Http ifmatch
  files/en-us/web/http/headers/if-match/index.md
Labels: Content:HTTP

#14386 Minor edits for doc on critical rendering path
  files/en-us/web/performance/critical_rendering_path/index.md
Labels: Content:Other

#14615 Move color keywords into their own page
  files/en-us/web/css/color_value/color_keywords/index.md
  files/en-us/web/css/color_value/index.md
Labels: Content:CSS

#14643 Remove the remaining occurrences of {{draft}}
  files/en-us/mozilla/firefox/releases/3.5/security_changes/index.md
  files/en-us/web/api/html_dom_api/microtask_guide/in_depth/index.md
  files/en-us/web/api/rtciceserver/credential/index.md
  files/en-us/web/api/rtciceserver/url/index.md
  files/en-us/web/api/rtciceserver/urls/index.md
  files/en-us/web/api/rtciceserver/username/index.md
  files/en-us/web/api/webgl_api/by_example/video_textures/index.md
  files/en-us/web/api/webxr_device_api/inputs/index.md
  files/en-us/web/api/webxr_device_api/spatial_tracking/index.md
  files/en-us/web/events/orientation_and_motion_data_explained/index.md
  files/en-us/web/security/securing_your_site/index.md
Labels: Content:WebAPI, Content:Other

#14585 Replace {{event)}} with domxref (batch #5)
  files/en-us/mozilla/firefox/releases/32/index.md
  files/en-us/web/api/document/onoffline/index.md
  files/en-us/web/api/htmlbodyelement/index.md
  files/en-us/web/api/htmlframesetelement/index.md
  files/en-us/web/api/navigator/languages/index.md
  files/en-us/web/api/promiserejectionevent/promise/index.md
  files/en-us/web/api/promiserejectionevent/promiserejectionevent/index.md
  files/en-us/web/api/promiserejectionevent/reason/index.md
  files/en-us/web/api/window/index.md
  files/en-us/web/api/windoweventhandlers/index.md
  files/en-us/web/api/windoweventhandlers/onlanguagechange/index.md
  files/en-us/web/api/windoweventhandlers/onunhandledrejection/index.md
  files/en-us/web/api/workernavigator/languages/index.md
Labels: Content:WebAPI, Content:Other

#14646 Doc: Fix confusing endIndex description.
  files/en-us/web/javascript/reference/global_objects/string/slice/index.md
Labels: Content:JS

#14505 Migrate priority list
  files/en-us/_redirects.txt
  files/en-us/mdn/contribute/documentation_priorities/index.md
  meta/content/en/legacy/documentation-priorities.md
Labels: Content:Other

#14610 media capabilities api: fixed a typo
  files/en-us/web/api/media_capabilities_api/index.md
Labels: Content:WebAPI

#14313 Update initial, inherit, revert, unset pages for the new revert-layer keyword
  files/en-us/web/css/inherit/index.md
  files/en-us/web/css/initial/index.md
  files/en-us/web/css/revert/index.md
  files/en-us/web/css/unset/index.md
Labels: Content:CSS, Firefox 97

#14515 Update hashchange event to new structure
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/hashchangeevent/index.md
  files/en-us/web/api/htmlbodyelement/index.md
  files/en-us/web/api/htmlframesetelement/index.md
  files/en-us/web/api/svgsvgelement/index.md
  files/en-us/web/api/window/hashchange_event/index.md
  files/en-us/web/api/windoweventhandlers/index.md
  files/en-us/web/api/windoweventhandlers/onhashchange/index.md
Labels: Content:WebAPI

#14650 #14602 Added the iterator object is also an iterable...
  files/en-us/web/javascript/reference/global_objects/map/keys/index.md
Labels: Content:JS

#14645 fixed one typo
  files/en-us/learn/javascript/client-side_web_apis/manipulating_documents/index.md
Labels: Content:Learn

#14655 Fixed internal link to Typed Array
  files/en-us/glossary/transferable_objects/index.md
Labels: Content:Glossary

#14653 Firefox 99 release notes
  files/en-us/mozilla/firefox/releases/100/index.md
  files/en-us/mozilla/firefox/releases/101/index.md
  files/en-us/mozilla/firefox/releases/99/index.md
Labels: Content:Other

#14659 Fix link
  files/en-us/web/http/feature_policy/index.md
Labels: Content:HTTP

#14662 Add revert-layer to Global Values in Syntax for CSS Properties (initial letter a, d, h, and r)
  files/en-us/web/css/accent-color/index.md
  files/en-us/web/css/align-content/index.md
  files/en-us/web/css/align-items/index.md
  files/en-us/web/css/align-self/index.md
  files/en-us/web/css/animation-delay/index.md
  files/en-us/web/css/animation-direction/index.md
  files/en-us/web/css/animation-duration/index.md
  files/en-us/web/css/animation-fill-mode/index.md
  files/en-us/web/css/animation-iteration-count/index.md
  files/en-us/web/css/animation-name/index.md
  files/en-us/web/css/animation-play-state/index.md
  files/en-us/web/css/animation-timeline/index.md
  files/en-us/web/css/animation-timing-function/index.md
  files/en-us/web/css/appearance/index.md
  files/en-us/web/css/aspect-ratio/index.md
  files/en-us/web/css/direction/index.md
  files/en-us/web/css/display/index.md
  files/en-us/web/css/hanging-punctuation/index.md
  files/en-us/web/css/height/index.md
  files/en-us/web/css/hyphens/index.md
  files/en-us/web/css/resize/index.md
  files/en-us/web/css/right/index.md
  files/en-us/web/css/rotate/index.md
  files/en-us/web/css/row-gap/index.md
  files/en-us/web/css/ruby-align/index.md
  files/en-us/web/css/ruby-position/index.md
Labels: Content:CSS

#14663 typo: reprensents -> represents
  files/en-us/web/css/color_value/color_keywords/index.md
Labels: Content:CSS

#14661 Fixed Internal Link to SVG Core Attributes
  files/en-us/web/svg/element/femergenode/index.md
Labels: Content:SVG

#14657 Add Range to CORS docs as a safelisted request-header
  files/en-us/web/http/cors/index.md
Labels: Content:HTTP

#14668 Fix some yari links
  files/en-us/mdn/tools/kumascript/index.md
Labels: Content:Other

#14599 minor revisions to the application role document
  files/en-us/web/accessibility/aria/roles/application_role/index.md
Labels: Content:Accessibility

#14598 update banner role documentation
  files/en-us/web/accessibility/aria/roles/banner_role/index.md
Labels: Content:Accessibility

#14666 Fix example for Intl.Locale.prototype.timeZones
  files/en-us/web/javascript/reference/global_objects/intl/locale/timezones/index.md
Labels: Content:JS

#14675 DOMTimeStamp note that about IDL change
  files/en-us/web/api/domtimestamp/index.md
Labels: Content:WebAPI

#14579 Replaced mobile browsers default width from 980px to 960px
  files/en-us/learn/css/css_layout/media_queries/index.md
  files/en-us/learn/css/css_layout/responsive_design/index.md
Labels: Content:Learn

#14590 Shorter syntax for method definitions in objects
  files/en-us/web/javascript/guide/iterators_and_generators/index.md
Labels: Content:JS

#14629 WebExtension menu.overrideContext() - add browser compat
  files/en-us/mozilla/add-ons/webextensions/api/menus/overridecontext/index.md
Labels: Content:WebExt, Content:Other

#14683 WebAPI: Clean syntax from property pages, part 22
  files/en-us/web/api/performancetiming/redirectend/index.md
  files/en-us/web/api/performancetiming/redirectstart/index.md
  files/en-us/web/api/performancetiming/requeststart/index.md
  files/en-us/web/api/performancetiming/responseend/index.md
  files/en-us/web/api/performancetiming/responsestart/index.md
  files/en-us/web/api/performancetiming/secureconnectionstart/index.md
  files/en-us/web/api/performancetiming/unloadeventend/index.md
  files/en-us/web/api/performancetiming/unloadeventstart/index.md
  files/en-us/web/api/permissionstatus/state/index.md
  files/en-us/web/api/pointerevent/height/index.md
  files/en-us/web/api/pointerevent/isprimary/index.md
  files/en-us/web/api/pointerevent/pointerid/index.md
  files/en-us/web/api/pointerevent/pointertype/index.md
  files/en-us/web/api/pointerevent/pressure/index.md
  files/en-us/web/api/pointerevent/tangentialpressure/index.md
  files/en-us/web/api/pointerevent/tiltx/index.md
  files/en-us/web/api/pointerevent/tilty/index.md
  files/en-us/web/api/pointerevent/twist/index.md
  files/en-us/web/api/pointerevent/width/index.md
  files/en-us/web/api/progressevent/lengthcomputable/index.md
  files/en-us/web/api/progressevent/loaded/index.md
  files/en-us/web/api/progressevent/total/index.md
  files/en-us/web/api/pushsubscription/subscriptionid/index.md
  files/en-us/web/api/range/collapsed/index.md
  files/en-us/web/api/range/commonancestorcontainer/index.md
  files/en-us/web/api/range/endcontainer/index.md
  files/en-us/web/api/range/endoffset/index.md
  files/en-us/web/api/range/startcontainer/index.md
  files/en-us/web/api/range/startoffset/index.md
  files/en-us/web/api/report/body/index.md
  files/en-us/web/api/report/type/index.md
  files/en-us/web/api/report/url/index.md
  files/en-us/web/api/rtcicecandidatestats/mozlocaltransport/index.md
  files/en-us/web/api/rtcpeerconnection/currentlocaldescription/index.md
  files/en-us/web/api/rtcpeerconnection/currentremotedescription/index.md
  files/en-us/web/api/rtcpeerconnection/pendinglocaldescription/index.md
  files/en-us/web/api/rtcpeerconnection/pendingremotedescription/index.md
  files/en-us/web/api/screen/availleft/index.md
  files/en-us/web/api/screen/availtop/index.md
  files/en-us/web/api/screen/availwidth/index.md
  files/en-us/web/api/screen/colordepth/index.md
  files/en-us/web/api/screen/height/index.md
  files/en-us/web/api/screen/left/index.md
  files/en-us/web/api/screen/mozbrightness/index.md
  files/en-us/web/api/screen/mozenabled/index.md
  files/en-us/web/api/screen/orientation/index.md
  files/en-us/web/api/screen/pixeldepth/index.md
  files/en-us/web/api/screen/top/index.md
Labels: Content:WebAPI

#14685 put badges after names
  files/en-us/web/api/canvasrenderingcontext2d/index.md
  files/en-us/web/api/navigation_timing_api/index.md
  files/en-us/web/api/performancenavigation/index.md
  files/en-us/web/api/performancetiming/index.md
  files/en-us/web/guide/html/content_categories/index.md
  files/en-us/web/javascript/reference/global_objects/index.md
Labels: Content:WebAPI, Content:JS, Content:Learn

#14586 Add gamut to glossary
  files/en-us/glossary/gamut/index.md
  files/en-us/web/api/media_capabilities_api/index.md
  files/en-us/web/api/videocolorspace/index.md
  files/en-us/web/api/videocolorspace/primaries/index.md
  files/en-us/web/api/videodecoder/configure/index.md
  files/en-us/web/css/@color-profile/index.md
  files/en-us/web/css/@media/color-gamut/index.md
  files/en-us/web/media/formats/codecs_parameter/index.md
Labels: Content:CSS, Content:WebAPI, Content:Media, Content:Glossary

#14674 Fix some Yari links
  files/en-us/mdn/structures/macros/commonly-used_macros/index.md
Labels: Content:Other

#14684 WebAPI: Clean syntax from property pages, part 23
  files/en-us/web/api/screen/width/index.md
  files/en-us/web/api/screenorientation/lock/index.md
  files/en-us/web/api/screenorientation/unlock/index.md
  files/en-us/web/api/selection/anchornode/index.md
  files/en-us/web/api/selection/anchoroffset/index.md
  files/en-us/web/api/selection/focusnode/index.md
  files/en-us/web/api/selection/focusoffset/index.md
  files/en-us/web/api/selection/iscollapsed/index.md
  files/en-us/web/api/selection/rangecount/index.md
  files/en-us/web/api/serviceworkerregistration/scope/index.md
  files/en-us/web/api/speechrecognitionalternative/confidence/index.md
  files/en-us/web/api/speechrecognitionalternative/transcript/index.md
  files/en-us/web/api/speechrecognitionresult/isfinal/index.md
  files/en-us/web/api/speechrecognitionresult/length/index.md
  files/en-us/web/api/speechrecognitionresultlist/length/index.md
  files/en-us/web/api/stereopannernode/pan/index.md
  files/en-us/web/api/storage/length/index.md
  files/en-us/web/api/stylesheet/disabled/index.md
  files/en-us/web/api/stylesheet/href/index.md
  files/en-us/web/api/stylesheet/media/index.md
  files/en-us/web/api/stylesheet/ownernode/index.md
  files/en-us/web/api/stylesheet/parentstylesheet/index.md
  files/en-us/web/api/stylesheet/type/index.md
  files/en-us/web/api/svganimationelement/targetelement/index.md
  files/en-us/web/api/svggeometryelement/pathlength/index.md
  files/en-us/web/api/textdecoder/encoding/index.md
  files/en-us/web/api/textencoder/encoding/index.md
  files/en-us/web/api/timeranges/length/index.md
  files/en-us/web/api/touch/clientx/index.md
  files/en-us/web/api/touch/clienty/index.md
  files/en-us/web/api/touch/force/index.md
  files/en-us/web/api/touch/identifier/index.md
  files/en-us/web/api/touch/pagex/index.md
  files/en-us/web/api/touch/pagey/index.md
  files/en-us/web/api/touch/radiusx/index.md
  files/en-us/web/api/touch/radiusy/index.md
  files/en-us/web/api/touch/rotationangle/index.md
  files/en-us/web/api/touch/screenx/index.md
  files/en-us/web/api/touch/screeny/index.md
  files/en-us/web/api/touch/target/index.md
  files/en-us/web/api/touchevent/altkey/index.md
  files/en-us/web/api/touchevent/changedtouches/index.md
  files/en-us/web/api/touchevent/ctrlkey/index.md
  files/en-us/web/api/touchevent/metakey/index.md
  files/en-us/web/api/touchevent/shiftkey/index.md
  files/en-us/web/api/touchevent/targettouches/index.md
  files/en-us/web/api/touchevent/touches/index.md
  files/en-us/web/api/touchlist/length/index.md
  files/en-us/web/api/transitionevent/elapsedtime/index.md
  files/en-us/web/api/transitionevent/propertyname/index.md
  files/en-us/web/api/transitionevent/pseudoelement/index.md
Labels: Content:WebAPI

#14691 Fix link to :host()
  files/en-us/web/css/_colon_host/index.md
Labels: Content:CSS

#14692 Added links to description for "Chained Promises"
  files/en-us/web/javascript/reference/global_objects/promise/index.md
Labels: Content:JS

#14693 Reorganize afterprint/beforeprint event pages
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/window/afterprint_event/index.md
  files/en-us/web/api/window/beforeprint_event/index.md
  files/en-us/web/api/window/index.md
  files/en-us/web/api/window/print/index.md
  files/en-us/web/api/windoweventhandlers/index.md
  files/en-us/web/api/windoweventhandlers/onafterprint/index.md
  files/en-us/web/api/windoweventhandlers/onbeforeprint/index.md
  files/en-us/web/guide/printing/index.md
Labels: Content:WebAPI, Content:Learn

#14696 Removing ' ; ' after function declaration
  files/en-us/learn/javascript/client-side_web_apis/drawing_graphics/index.md
Labels: Content:Learn

#14695 fix typo
  files/en-us/web/javascript/data_structures/index.md
Labels: Content:JS

#14660 Add Marionette updates for release 99
  files/en-us/mozilla/firefox/releases/99/index.md
Labels: Content:Other

#14686 put badges after names (part2)
  files/en-us/web/api/credentialscontainer/create/index.md
  files/en-us/web/guide/html/content_categories/index.md
  files/en-us/web/javascript/reference/global_objects/index.md
Labels: Content:WebAPI, Content:JS, Content:Learn

#14703 Doc: Fix confusing end index description for Array.prototype.slice()
  files/en-us/web/javascript/reference/global_objects/array/slice/index.md
Labels: Content:JS

#14709 Fix some issues in Intl.PluralRules
  files/en-us/web/javascript/reference/global_objects/intl/pluralrules/index.md
  files/en-us/web/javascript/reference/global_objects/intl/pluralrules/selectrange/index.md
Labels: Content:JS

#14710 Fix Yari links
  files/en-us/mdn/structures/macros/commonly-used_macros/index.md
  files/en-us/mdn/structures/macros/index.md
  files/en-us/mdn/structures/macros/other/index.md
  files/en-us/mdn/tools/kumascript/troubleshooting/index.md
Labels: Content:Other

#14700 Update material shading property.
  files/en-us/learn/javascript/client-side_web_apis/drawing_graphics/index.md
Labels: Content:Learn

#14714 Add global revert-layer value to properties O to Q
  files/en-us/web/css/object-fit/index.md
  files/en-us/web/css/object-position/index.md
  files/en-us/web/css/offset-distance/index.md
  files/en-us/web/css/offset-position/index.md
  files/en-us/web/css/offset-rotate/index.md
  files/en-us/web/css/offset/index.md
  files/en-us/web/css/opacity/index.md
  files/en-us/web/css/order/index.md
  files/en-us/web/css/orphans/index.md
  files/en-us/web/css/outline-color/index.md
  files/en-us/web/css/outline-offset/index.md
  files/en-us/web/css/outline-style/index.md
  files/en-us/web/css/outline-width/index.md
  files/en-us/web/css/outline/index.md
  files/en-us/web/css/overflow-anchor/index.md
  files/en-us/web/css/overflow-block/index.md
  files/en-us/web/css/overflow-clip-margin/index.md
  files/en-us/web/css/overflow-inline/index.md
  files/en-us/web/css/overflow-wrap/index.md
  files/en-us/web/css/overflow-x/index.md
  files/en-us/web/css/overflow-y/index.md
  files/en-us/web/css/overflow/index.md
  files/en-us/web/css/overscroll-behavior-block/index.md
  files/en-us/web/css/overscroll-behavior-inline/index.md
  files/en-us/web/css/overscroll-behavior-x/index.md
  files/en-us/web/css/overscroll-behavior-y/index.md
  files/en-us/web/css/overscroll-behavior/index.md
  files/en-us/web/css/padding-block-end/index.md
  files/en-us/web/css/padding-block-start/index.md
  files/en-us/web/css/padding-bottom/index.md
  files/en-us/web/css/padding-inline-end/index.md
  files/en-us/web/css/padding-inline-start/index.md
  files/en-us/web/css/padding-left/index.md
  files/en-us/web/css/padding-right/index.md
  files/en-us/web/css/padding-top/index.md
  files/en-us/web/css/padding/index.md
  files/en-us/web/css/page-break-after/index.md
  files/en-us/web/css/page-break-before/index.md
  files/en-us/web/css/page-break-inside/index.md
  files/en-us/web/css/perspective-origin/index.md
  files/en-us/web/css/perspective/index.md
  files/en-us/web/css/place-content/index.md
  files/en-us/web/css/place-items/index.md
  files/en-us/web/css/place-self/index.md
  files/en-us/web/css/pointer-events/index.md
  files/en-us/web/css/position/index.md
  files/en-us/web/css/print-color-adjust/index.md
  files/en-us/web/css/quotes/index.md
Labels: Content:CSS

#14717 Elaborate on text
  files/en-us/learn/html/introduction_to_html/html_text_fundamentals/index.md
Labels: Content:Learn

#14467 Restructure "Getting started with the web" overview page
  files/en-us/learn/getting_started_with_the_web/index.md
Labels: Content:Learn

#14718 Use a blockquote for text formatting examples
  files/en-us/learn/html/introduction_to_html/html_text_fundamentals/index.md
Labels: Content:Learn

#14712 Remove confusing text from colgroup
  files/en-us/web/html/element/colgroup/index.md
Labels: Content:HTML

#14713 Update index.md
  files/en-us/learn/css/css_layout/introduction/index.md
Labels: Content:Learn

#14727 Replace Boolean (wrapper object) with boolean (primitive) value
  files/en-us/web/api/css/index.md
Labels: Content:WebAPI

#14730 WebAPI: Clean syntax from property pages, part 25
  files/en-us/web/api/windoweventhandlers/onpopstate/index.md
  files/en-us/web/api/windoweventhandlers/onrejectionhandled/index.md
  files/en-us/web/api/windoweventhandlers/onunload/index.md
  files/en-us/web/api/workerlocation/hash/index.md
  files/en-us/web/api/workerlocation/host/index.md
  files/en-us/web/api/workerlocation/hostname/index.md
  files/en-us/web/api/workerlocation/href/index.md
  files/en-us/web/api/workerlocation/origin/index.md
  files/en-us/web/api/workerlocation/pathname/index.md
  files/en-us/web/api/workerlocation/port/index.md
  files/en-us/web/api/workerlocation/protocol/index.md
  files/en-us/web/api/workerlocation/search/index.md
  files/en-us/web/api/workernavigator/connection/index.md
  files/en-us/web/api/workernavigator/languages/index.md
  files/en-us/web/api/xmldocument/async/index.md
  files/en-us/web/api/xmlhttprequest/status/index.md
  files/en-us/web/api/xmlhttprequest/statustext/index.md
  files/en-us/web/api/xmlhttprequest/withcredentials/index.md
  files/en-us/web/api/xpathresult/booleanvalue/index.md
  files/en-us/web/api/xpathresult/invaliditeratorstate/index.md
  files/en-us/web/api/xpathresult/numbervalue/index.md
  files/en-us/web/api/xpathresult/resulttype/index.md
  files/en-us/web/api/xpathresult/singlenodevalue/index.md
  files/en-us/web/api/xpathresult/snapshotlength/index.md
  files/en-us/web/api/xpathresult/stringvalue/index.md
Labels: Content:WebAPI

#14726 Fix broken link in aria-sort doc
  files/en-us/web/accessibility/aria/attributes/aria-sort/index.md
Labels: Content:Accessibility

#14729 WebAPI: Clean syntax from property pages, part 24
  files/en-us/web/api/treewalker/currentnode/index.md
  files/en-us/web/api/treewalker/expandentityreferences/index.md
  files/en-us/web/api/treewalker/filter/index.md
  files/en-us/web/api/treewalker/root/index.md
  files/en-us/web/api/treewalker/whattoshow/index.md
  files/en-us/web/api/uievent/layerx/index.md
  files/en-us/web/api/uievent/layery/index.md
  files/en-us/web/api/uievent/view/index.md
  files/en-us/web/api/validitystate/badinput/index.md
  files/en-us/web/api/videoplaybackquality/totalframedelay/index.md
  files/en-us/web/api/webglrenderingcontext/drawingbufferheight/index.md
  files/en-us/web/api/webglrenderingcontext/drawingbufferwidth/index.md
  files/en-us/web/api/wheelevent/deltamode/index.md
  files/en-us/web/api/wheelevent/deltax/index.md
  files/en-us/web/api/wheelevent/deltay/index.md
  files/en-us/web/api/wheelevent/deltaz/index.md
  files/en-us/web/api/window/applicationcache/index.md
  files/en-us/web/api/window/defaultstatus/index.md
  files/en-us/web/api/window/dialogarguments/index.md
  files/en-us/web/api/window/document/index.md
  files/en-us/web/api/window/frames/index.md
  files/en-us/web/api/window/fullscreen/index.md
  files/en-us/web/api/window/history/index.md
  files/en-us/web/api/window/length/index.md
  files/en-us/web/api/window/location/index.md
  files/en-us/web/api/window/locationbar/index.md
  files/en-us/web/api/window/menubar/index.md
  files/en-us/web/api/window/mozpaintcount/index.md
  files/en-us/web/api/window/name/index.md
  files/en-us/web/api/window/navigator/index.md
  files/en-us/web/api/window/ondragdrop/index.md
  files/en-us/web/api/window/parent/index.md
  files/en-us/web/api/window/personalbar/index.md
  files/en-us/web/api/window/screen/index.md
  files/en-us/web/api/window/screenleft/index.md
  files/en-us/web/api/window/screentop/index.md
  files/en-us/web/api/window/screenx/index.md
  files/en-us/web/api/window/screeny/index.md
  files/en-us/web/api/window/scrollbars/index.md
  files/en-us/web/api/window/scrollmaxx/index.md
  files/en-us/web/api/window/scrollmaxy/index.md
  files/en-us/web/api/window/self/index.md
  files/en-us/web/api/window/status/index.md
  files/en-us/web/api/window/statusbar/index.md
  files/en-us/web/api/window/toolbar/index.md
  files/en-us/web/api/window/top/index.md
  files/en-us/web/api/windowcontrolsoverlay/visible/index.md
  files/en-us/web/api/windoweventhandlers/onbeforeunload/index.md
Labels: Content:WebAPI

#14735 Add info about 0≠0px inside calc()
  files/en-us/web/css/calc/index.md
Labels: Content:CSS

#14736 Update documentation for Storage.setItem()
  files/en-us/web/api/storage/setitem/index.md
Labels: Content:WebAPI

#14642 Update Window.postMessage() syntax
  files/en-us/web/api/window/postmessage/index.md
Labels: Content:WebAPI

#14739 Fix broken link
  files/en-us/learn/css/css_layout/responsive_design/index.md
Labels: Content:Learn

#14555 Add a new form-based page report template
  .github/ISSUE_TEMPLATE/page-report.yml
Labels: community

#14756 Fix embedded example scrollbars
  files/en-us/learn/accessibility/test_your_skills_colon__html_accessibility/index.md
  files/en-us/learn/css/building_blocks/advanced_styling_effects/index.md
  files/en-us/learn/css/building_blocks/backgrounds_and_borders/index.md
  files/en-us/learn/css/building_blocks/handling_different_text_directions/index.md
  files/en-us/learn/css/building_blocks/overflow_tasks/index.md
  files/en-us/learn/css/building_blocks/overflowing_content/index.md
  files/en-us/learn/css/building_blocks/selectors/index.md
  files/en-us/learn/css/building_blocks/sizing_items_in_css/index.md
  files/en-us/learn/css/building_blocks/the_box_model/index.md
  files/en-us/learn/css/building_blocks/values_and_units/index.md
  files/en-us/learn/css/css_layout/flexbox_skills/index.md
  files/en-us/learn/css/css_layout/floats_skills/index.md
  files/en-us/learn/css/css_layout/grid_skills/index.md
  files/en-us/learn/css/css_layout/grids/index.md
  files/en-us/learn/css/css_layout/introduction/index.md
  files/en-us/learn/css/css_layout/position_skills/index.md
  files/en-us/learn/css/first_steps/getting_started/index.md
  files/en-us/learn/css/styling_text/styling_links/index.md
  files/en-us/learn/html/introduction_to_html/advanced_text_formatting/index.md
  files/en-us/learn/html/introduction_to_html/document_and_website_structure/index.md
  files/en-us/learn/html/introduction_to_html/index.md
  files/en-us/learn/html/introduction_to_html/test_your_skills_colon__links/index.md
  files/en-us/learn/html/multimedia_and_embedding/images_in_html/test_your_skills_colon__html_images/index.md
  files/en-us/learn/javascript/building_blocks/test_your_skills_colon__events/index.md
  files/en-us/learn/javascript/first_steps/test_your_skills_colon__math/index.md
  files/en-us/learn/javascript/first_steps/useful_string_methods/index.md
Labels: Content:Learn

#13141 Major update: searchbox role
  files/en-us/web/accessibility/aria/roles/searchbox_role/index.md
Labels: Content:Accessibility

#14763 Use JSON replacer and reviver in BigInt examples
  files/en-us/web/javascript/reference/global_objects/bigint/index.md
Labels: Content:JS

#14760 Doc: Fix nested console.log bug in code example
  files/en-us/learn/javascript/objects/object_prototypes/index.md
Labels: Content:Learn

#14743 It is still possible to create `AudioNode`s on `"closed"` `AudioContext`
  files/en-us/web/api/audiocontext/close/index.md
Labels: Content:WebAPI

#14740 Added Restrictions of XMLHttpRequest
  files/en-us/web/api/web_workers_api/functions_and_classes_available_to_workers/index.md
Labels: Content:WebAPI

#14731 improve readability of web/api/elementinternals/form example
  files/en-us/web/api/elementinternals/form/index.md
Labels: Content:WebAPI

#14767 Fix punctuation typo
  files/en-us/learn/css/building_blocks/values_and_units/index.md
Labels: Content:Learn

#14768 WebAPI: updated constructor pages part 5
  files/en-us/web/api/audioworkletnode/audioworkletnode/index.md
  files/en-us/web/api/audioworkletprocessor/audioworkletprocessor/index.md
  files/en-us/web/api/blob/blob/index.md
  files/en-us/web/api/broadcastchannel/broadcastchannel/index.md
  files/en-us/web/api/channelmergernode/channelmergernode/index.md
  files/en-us/web/api/channelsplitternode/channelsplitternode/index.md
  files/en-us/web/api/constantsourcenode/constantsourcenode/index.md
  files/en-us/web/api/delaynode/delaynode/index.md
  files/en-us/web/api/documentfragment/documentfragment/index.md
  files/en-us/web/api/dommatrix/dommatrix/index.md
  files/en-us/web/api/file/file/index.md
  files/en-us/web/api/filereader/filereader/index.md
  files/en-us/web/api/fontface/fontface/index.md
  files/en-us/web/api/formdata/formdata/index.md
  files/en-us/web/api/headers/headers/index.md
  files/en-us/web/api/imagecapture/imagecapture/index.md
  files/en-us/web/api/intersectionobserver/intersectionobserver/index.md
  files/en-us/web/api/mediaelementaudiosourcenode/mediaelementaudiosourcenode/index.md
  files/en-us/web/api/mediarecorder/mediarecorder/index.md
  files/en-us/web/api/mediasource/mediasource/index.md
  files/en-us/web/api/mediastreamaudiodestinationnode/mediastreamaudiodestinationnode/index.md
  files/en-us/web/api/messagechannel/messagechannel/index.md
  files/en-us/web/api/messageevent/messageevent/index.md
  files/en-us/web/api/mutationobserver/mutationobserver/index.md
  files/en-us/web/api/notification/notification/index.md
  files/en-us/web/api/notificationevent/notificationevent/index.md
  files/en-us/web/api/offlineaudiocontext/offlineaudiocontext/index.md
  files/en-us/web/api/oscillatornode/index.md
  files/en-us/web/api/pannernode/pannernode/index.md
  files/en-us/web/api/performanceobserver/performanceobserver/index.md
  files/en-us/web/api/periodicwave/periodicwave/index.md
  files/en-us/web/api/pointerevent/pointerevent/index.md
  files/en-us/web/api/pushevent/pushevent/index.md
  files/en-us/web/api/range/range/index.md
  files/en-us/web/api/request/request/index.md
  files/en-us/web/api/securitypolicyviolationevent/securitypolicyviolationevent/index.md
  files/en-us/web/api/textdecoder/textdecoder/index.md
  files/en-us/web/api/vttcue/vttcue/index.md
  files/en-us/web/api/xrinputsourceschangeevent/xrinputsourceschangeevent/index.md
  files/en-us/web/api/xrmediabinding/xrmediabinding/index.md
  files/en-us/web/api/xrray/xrray/index.md
  files/en-us/web/api/xrwebglbinding/xrwebglbinding/index.md
  files/en-us/web/api/xrwebgllayer/xrwebgllayer/index.md
Labels: Content:WebAPI

#14769 Honor product/company name cases - nitpicking (part3)
  files/en-us/glossary/fuzzing/index.md
  files/en-us/glossary/syntax/index.md
  files/en-us/learn/forms/html5_input_types/index.md
  files/en-us/learn/getting_started_with_the_web/css_basics/index.md
  files/en-us/learn/getting_started_with_the_web/dealing_with_files/index.md
  files/en-us/learn/getting_started_with_the_web/html_basics/index.md
  files/en-us/learn/html/introduction_to_html/creating_hyperlinks/index.md
  files/en-us/learn/html/introduction_to_html/the_head_metadata_in_html/index.md
  files/en-us/learn/html/multimedia_and_embedding/mozilla_splash_page/index.md
  files/en-us/learn/performance/web_performance_basics/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/ember_getting_started/index.md
  files/en-us/mozilla/add-ons/webextensions/sharing_objects_with_page_scripts/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/omnibox/index.md
  files/en-us/mozilla/firefox/releases/17/index.md
  files/en-us/mozilla/firefox/releases/22/index.md
  files/en-us/web/accessibility/aria/roles/listbox_role/index.md
  files/en-us/web/api/characterdata/data/index.md
  files/en-us/web/api/cssgroupingrule/insertrule/index.md
  files/en-us/web/api/element/getattribute/index.md
  files/en-us/web/api/element/innerhtml/index.md
  files/en-us/web/api/element/outerhtml/index.md
  files/en-us/web/api/fontface/load/index.md
  files/en-us/web/api/globaleventhandlers/oninput/index.md
  files/en-us/web/api/htmlaudioelement/index.md
  files/en-us/web/api/htmlelement/offsetparent/index.md
  files/en-us/web/api/msfirstpaint/index.md
  files/en-us/web/api/msthumbnailclick/index.md
  files/en-us/web/api/node/nodename/index.md
  files/en-us/web/api/window/confirm/index.md
  files/en-us/web/api/window/open/index.md
  files/en-us/web/api/window/requestanimationframe/index.md
  files/en-us/web/api/xmlhttprequest/using_xmlhttprequest/index.md
  files/en-us/web/api/xsltprocessor/generating_html/index.md
  files/en-us/web/css/css_flexible_box_layout/typical_use_cases_of_flexbox/index.md
  files/en-us/web/guide/ajax/index.md
  files/en-us/web/html/element/input/month/index.md
  files/en-us/web/html/element/meter/index.md
  files/en-us/web/html/element/textarea/index.md
  files/en-us/web/http/link_prefetching_faq/index.md
  files/en-us/web/javascript/guide/details_of_the_object_model/index.md
  files/en-us/web/javascript/reference/global_objects/date/tostring/index.md
  files/en-us/web/javascript/reference/global_objects/eval/index.md
  files/en-us/web/performance/how_browsers_work/index.md
  files/en-us/web/svg/tutorial/paths/index.md
  files/en-us/web/webdriver/errors/index.md
Labels: Content:CSS, Content:HTML, Content:WebExt, Content:WebAPI, Content:JS, Content:Learn, Content:Other, Content:HTTP, Content:Accessibility, Content:SVG, Content:Glossary, Content:WebDriver

#14766 Fix typo in the “aria-controls” article
  files/en-us/web/accessibility/aria/attributes/aria-controls/index.md
Labels: Content:Accessibility

#14765 Fix the description of case-clause execution in “switch” doc
  files/en-us/web/javascript/reference/statements/switch/index.md
Labels: Content:JS

#14761 Change html5rocks to web fundamentals
  files/en-us/glossary/transferable_objects/index.md
Labels: Content:Glossary

#13329 Django Learn Guide - Update to Django 4
  files/en-us/learn/server-side/django/admin_site/index.md
  files/en-us/learn/server-side/django/authentication/index.md
  files/en-us/learn/server-side/django/deployment/index.md
  files/en-us/learn/server-side/django/development_environment/django_skeleton_app_homepage_-_django_3.1.png
  files/en-us/learn/server-side/django/development_environment/django_skeleton_app_homepage_django_4_0.png
  files/en-us/learn/server-side/django/development_environment/index.md
  files/en-us/learn/server-side/django/django_assessment_blog/index.md
  files/en-us/learn/server-side/django/forms/index.md
  files/en-us/learn/server-side/django/generic_views/index.md
  files/en-us/learn/server-side/django/home_page/index.md
  files/en-us/learn/server-side/django/introduction/index.md
  files/en-us/learn/server-side/django/models/index.md
  files/en-us/learn/server-side/django/sessions/index.md
  files/en-us/learn/server-side/django/skeleton_website/index.md
  files/en-us/learn/server-side/django/testing/index.md
  files/en-us/learn/server-side/django/web_application_security/index.md
  files/en-us/learn/server-side/first_steps/web_frameworks/index.md
Labels: Content:Learn, Content:Learn:Django

#14777 Remove experimental banner from `Object.hasOwn()`
  files/en-us/web/javascript/reference/global_objects/object/hasown/index.md
Labels: Content:JS

#14772 Info about disclosure marker styling with Safari
  files/en-us/web/html/element/summary/index.md
Labels: Content:HTML

#14780 Fix minor typo in code block formatting
  files/en-us/web/api/webgl2renderingcontext/teximage3d/index.md
Labels: Content:WebAPI

#14775 Game Examples: Updated moved URLs
  files/en-us/games/examples/index.md
Labels: Content:Other

#14786 Update index.md
  files/en-us/web/api/svgelement/index.md
Labels: Content:WebAPI

#14785 Fix some typos in `Array` document
  files/en-us/web/javascript/reference/global_objects/array/index.md
Labels: Content:JS

#14800 Fix express version change
  files/en-us/learn/server-side/express_nodejs/introduction/index.md
Labels: Content:Learn

#14802 HTTP priority should be set using fetch - deprecate old approach
  files/en-us/mozilla/firefox/releases/1.5/changing_the_priority_of_http_requests/index.md
Labels: Content:Other

#14808 fix: HTMLCollection.namedItem(): included use of id in the example
  files/en-us/web/api/htmlcollection/nameditem/index.md
Labels: Content:WebAPI

#14804 rename links, master to main
  files/en-us/mozilla/add-ons/webextensions/user_interface/browser_action/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/devtools_panels/index.md
  files/en-us/mozilla/add-ons/webextensions/your_second_webextension/index.md
  files/en-us/web/api/element/shadowroot/index.md
  files/en-us/web/api/idbcursor/source/index.md
  files/en-us/web/api/idbindex/count/index.md
  files/en-us/web/api/idbindex/get/index.md
  files/en-us/web/api/idbindex/getkey/index.md
  files/en-us/web/api/idbindex/index.md
  files/en-us/web/api/idbindex/keypath/index.md
  files/en-us/web/api/idbindex/multientry/index.md
  files/en-us/web/api/idbindex/name/index.md
  files/en-us/web/api/idbindex/objectstore/index.md
  files/en-us/web/api/idbindex/opencursor/index.md
  files/en-us/web/api/idbindex/unique/index.md
  files/en-us/web/api/idbobjectstore/index/index.md
  files/en-us/web/api/mediaerror/message/index.md
  files/en-us/web/api/shadowroot/index.md
  files/en-us/web/api/webrtc_api/signaling_and_video_calling/index.md
  files/en-us/web/api/webrtc_api/simple_rtcdatachannel_sample/index.md
  files/en-us/web/css/@counter-style/index.md
  files/en-us/web/css/layout_cookbook/breadcrumb_navigation/index.md
  files/en-us/web/css/layout_cookbook/card/index.md
  files/en-us/web/css/layout_cookbook/center_an_element/index.md
  files/en-us/web/css/layout_cookbook/column_layouts/index.md
  files/en-us/web/css/layout_cookbook/contribute_a_recipe/cookbook_template/index.md
  files/en-us/web/css/layout_cookbook/contribute_a_recipe/index.md
  files/en-us/web/css/layout_cookbook/grid_wrapper/index.md
  files/en-us/web/css/layout_cookbook/list_group_with_badges/index.md
  files/en-us/web/css/layout_cookbook/media_objects/index.md
  files/en-us/web/css/layout_cookbook/pagination/index.md
  files/en-us/web/css/layout_cookbook/split_navigation/index.md
  files/en-us/web/css/layout_cookbook/sticky_footers/index.md
  files/en-us/web/css/overscroll-behavior-x/index.md
  files/en-us/web/css/overscroll-behavior/index.md
  files/en-us/web/html/element/input/search/index.md
  files/en-us/webassembly/using_the_javascript_api/index.md
Labels: Content:CSS, Content:HTML, Content:WebExt, Content:WebAPI, Content:Other, Content:wasm
