Repository mdn/content, pull requests merged in 2022-09, with the labels that each got.

#20184 Point all equality algorithm references to MDN docs
  files/en-us/web/javascript/equality_comparisons_and_sameness/index.md
  files/en-us/web/javascript/guide/keyed_collections/index.md
  files/en-us/web/javascript/reference/global_objects/array/includes/index.md
  files/en-us/web/javascript/reference/global_objects/map/index.md
  files/en-us/web/javascript/reference/global_objects/set/has/index.md
  files/en-us/web/javascript/reference/global_objects/set/index.md
  files/en-us/web/javascript/reference/operators/equality/index.md
  files/en-us/web/javascript/reference/operators/greater_than/index.md
  files/en-us/web/javascript/reference/operators/greater_than_or_equal/index.md
  files/en-us/web/javascript/reference/operators/less_than/index.md
  files/en-us/web/javascript/reference/operators/less_than_or_equal/index.md
  files/en-us/web/javascript/reference/operators/strict_equality/index.md
Labels: Content:JS

#20194 Daily markdownlint
  files/en-us/web/api/beforeinstallpromptevent/prompt/index.md
  files/en-us/web/api/geometry_interfaces/index.md
Labels: Content:WebAPI

#20187 Mention BigInt.prototype.toJSON
  files/en-us/web/javascript/reference/global_objects/bigint/index.md
Labels: Content:JS

#20195 fix: duplicate words
  files/en-us/glossary/serializable_object/index.md
  files/en-us/learn/css/css_layout/floats_skills/index.md
  files/en-us/mozilla/add-ons/webextensions/api/scripting/index.md
  files/en-us/web/api/htmlstyleelement/disabled/index.md
  files/en-us/web/api/mediacapabilities/decodinginfo/index.md
  files/en-us/web/api/mediacapabilities/encodinginfo/index.md
  files/en-us/web/api/readablestreambyobrequest/respondwithnewview/index.md
  files/en-us/web/api/scheduler/posttask/index.md
  files/en-us/web/api/streams_api/using_readable_byte_streams/index.md
  files/en-us/web/api/streams_api/using_readable_streams/index.md
  files/en-us/web/api/svgstyleelement/index.md
  files/en-us/web/api/svgstyleelement/title/index.md
  files/en-us/web/api/touchevent/touchevent/index.md
  files/en-us/web/css/cursor/index.md
  files/en-us/web/javascript/reference/global_objects/error/cause/index.md
  files/en-us/web/javascript/reference/global_objects/isnan/index.md
  files/en-us/web/javascript/reference/global_objects/webassembly/exception/getarg/index.md
  files/en-us/web/javascript/reference/global_objects/webassembly/exception/index.md
  files/en-us/web/javascript/reference/operators/greater_than/index.md
  files/en-us/web/javascript/reference/operators/greater_than_or_equal/index.md
  files/en-us/web/javascript/reference/operators/less_than_or_equal/index.md
  files/en-us/web/javascript/reference/statements/with/index.md
Labels: Content:CSS, Content:WebExt, Content:WebAPI, Content:JS, Content:Learn, Content:Other, Content:Glossary

#20192 Mention what behavior of Function.p.{arguments,caller} is specified
  files/en-us/web/javascript/reference/global_objects/function/arguments/index.md
  files/en-us/web/javascript/reference/global_objects/function/caller/index.md
Labels: Content:JS

#20150 HTTP: update BCD Info
  files/en-us/web/http/csp/index.md
  files/en-us/web/http/headers/clear-site-data/index.md
  files/en-us/web/http/headers/content-encoding/index.md
  files/en-us/web/http/headers/content-security-policy/index.md
  files/en-us/web/http/headers/content-security-policy/navigate-to/index.md
  files/en-us/web/http/headers/content-security-policy/prefetch-src/index.md
  files/en-us/web/http/headers/content-security-policy/require-trusted-types-for/index.md
  files/en-us/web/http/headers/content-security-policy/trusted-types/index.md
  files/en-us/web/http/headers/feature-policy/index.md
  files/en-us/web/http/headers/nel/index.md
  files/en-us/web/http/headers/save-data/index.md
  files/en-us/web/http/status/103/index.md
Labels: Content:HTTP

#20185 Add alt text to image
  files/en-us/web/api/htmlimageelement/naturalheight/index.md
Labels: Content:WebAPI

#19940 Updates related to the animation-composition property
  files/en-us/web/api/animationevent/index.md
  files/en-us/web/css/animation-delay/index.md
  files/en-us/web/css/animation-direction/index.md
  files/en-us/web/css/animation-duration/index.md
  files/en-us/web/css/animation-fill-mode/index.md
  files/en-us/web/css/animation-iteration-count/index.md
  files/en-us/web/css/animation-name/index.md
  files/en-us/web/css/animation-play-state/index.md
  files/en-us/web/css/animation-timing-function/index.md
  files/en-us/web/css/css_animations/index.md
  files/en-us/web/css/css_animations/using_css_animations/index.md
Labels: Content:CSS, Content:WebAPI

#20199 Remove extra spaces within tags
  files/en-us/web/accessibility/aria/roles/row_role/index.md
  files/en-us/web/accessibility/aria/roles/rowgroup_role/index.md
  files/en-us/web/accessibility/aria/roles/rowheader_role/index.md
Labels: Content:Accessibility

#20198 Fix spacing around dashes
  files/en-us/games/publishing_games/game_monetization/index.md
  files/en-us/games/techniques/3d_on_the_web/building_up_a_basic_demo_with_playcanvas/engine/index.md
  files/en-us/learn/common_questions/what_is_accessibility/index.md
  files/en-us/learn/css/first_steps/how_css_works/index.md
  files/en-us/learn/server-side/django/sessions/index.md
  files/en-us/learn/server-side/express_nodejs/mongoose/index.md
  files/en-us/learn/server-side/first_steps/introduction/index.md
Labels: Content:Learn, Content:Other

#20201 Flip the text for null vs object arg for the framebuffer param
  files/en-us/web/api/webglrenderingcontext/bindframebuffer/index.md
Labels: Content:WebAPI

#20202 Update HTTP spec-urls frontmatter keys to current HTTP spec
  files/en-us/web/http/basics_of_http/identifying_resources_on_the_web/index.md
  files/en-us/web/http/headers/allow/index.md
  files/en-us/web/http/headers/max-forwards/index.md
  files/en-us/web/http/headers/proxy-authorization/index.md
  files/en-us/web/http/status/101/index.md
  files/en-us/web/http/status/202/index.md
  files/en-us/web/http/status/203/index.md
  files/en-us/web/http/status/205/index.md
  files/en-us/web/http/status/300/index.md
  files/en-us/web/http/status/400/index.md
  files/en-us/web/http/status/402/index.md
  files/en-us/web/http/status/405/index.md
  files/en-us/web/http/status/408/index.md
  files/en-us/web/http/status/411/index.md
  files/en-us/web/http/status/413/index.md
  files/en-us/web/http/status/414/index.md
  files/en-us/web/http/status/415/index.md
  files/en-us/web/http/status/417/index.md
  files/en-us/web/http/status/426/index.md
  files/en-us/web/http/status/505/index.md
Labels: Content:HTTP

#20204 Fix mixed pronouns in common layouts using grids
  files/en-us/web/css/css_grid_layout/realizing_common_layouts_using_css_grid_layout/index.md
Labels: Content:CSS

#20203 Synchronize with BCD v5.2.0
  files/en-us/web/css/@document/index.md
  files/en-us/web/http/headers/pragma/index.md
  files/en-us/web/javascript/reference/global_objects/intl/segmenter/segmenter/index.md
  files/en-us/web/svg/attribute/clip/index.md
  files/en-us/web/svg/attribute/viewtarget/index.md
  files/en-us/web/svg/element/a/index.md
  files/en-us/web/svg/element/altglyph/index.md
  files/en-us/web/svg/element/textpath/index.md
  files/en-us/web/svg/element/view/index.md
Labels: Content:CSS, Content:JS, Content:HTTP, Content:SVG

#20206 Redirect Document DnD events to HTMLElement
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/document/drag_event/index.md
  files/en-us/web/api/document/dragend_event/index.md
  files/en-us/web/api/document/dragenter_event/index.md
  files/en-us/web/api/document/dragleave_event/index.md
  files/en-us/web/api/document/dragover_event/index.md
  files/en-us/web/api/document/dragstart_event/index.md
  files/en-us/web/api/document/drop_event/index.md
Labels: Content:WebAPI

#20148 Added an alt text to silly story generator
  files/en-us/learn/javascript/first_steps/silly_story_generator/index.md
Labels: Content:Learn

#19848 [CSS] New property page for animation-composition
  files/en-us/glossary/composite_operation/index.md
  files/en-us/web/api/keyframeeffect/composite/index.md
  files/en-us/web/css/animation-composition/index.md
Labels: Content:CSS, Content:WebAPI, Content:Glossary

#19859 CanvasRenderingContext2D - add missing properties
  files/en-us/web/api/canvasrenderingcontext2d/fontkerning/index.md
  files/en-us/web/api/canvasrenderingcontext2d/fontstretch/index.md
  files/en-us/web/api/canvasrenderingcontext2d/fontvariantcaps/index.md
  files/en-us/web/api/canvasrenderingcontext2d/index.md
  files/en-us/web/api/canvasrenderingcontext2d/iscontextlost/index.md
  files/en-us/web/api/canvasrenderingcontext2d/letterspacing/index.md
  files/en-us/web/api/canvasrenderingcontext2d/reset/index.md
  files/en-us/web/api/canvasrenderingcontext2d/roundrect/index.md
  files/en-us/web/api/canvasrenderingcontext2d/textrendering/index.md
  files/en-us/web/api/canvasrenderingcontext2d/wordspacing/index.md
  files/en-us/web/api/htmlcanvaselement/contextlost_event/index.md
  files/en-us/web/api/htmlcanvaselement/contextrestored_event/index.md
  files/en-us/web/api/htmlcanvaselement/index.md
Labels: Content:WebAPI

#20214 chore: add missing alt text for network monitor image
  files/en-us/learn/performance/measuring_performance/index.md
Labels: Content:Learn

#20213 Remove typos in Learn/Forms
  files/en-us/learn/forms/styling_web_forms/index.md
  files/en-us/learn/forms/ui_pseudo-classes/index.md
Labels: Content:Learn

#19896 Document the linear() easing function
  files/en-us/glossary/bezier_curve/index.md
  files/en-us/web/css/easing-function/index.md
  files/en-us/web/css/transition-timing-function/index.md
Labels: Content:CSS, Content:Glossary

#20217 Redirect touch events on Document to Element
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/document/touchcancel_event/index.md
  files/en-us/web/api/document/touchend_event/index.md
  files/en-us/web/api/document/touchmove_event/index.md
  files/en-us/web/api/document/touchstart_event/index.md
Labels: Content:WebAPI

#20197 fix: `Element.attachShadow()`'s options is missing an attribute.
  files/en-us/web/api/element/attachshadow/index.md
Labels: Content:WebAPI

#20223 Replace IDL language with property behavior
  files/en-us/web/api/readablestream/index.md
Labels: Content:WebAPI

#20221 Fix Object static methods' behavior for non-object argument
  files/en-us/web/javascript/reference/global_objects/object/isextensible/index.md
  files/en-us/web/javascript/reference/global_objects/object/isfrozen/index.md
  files/en-us/web/javascript/reference/global_objects/object/issealed/index.md
  files/en-us/web/javascript/reference/global_objects/object/preventextensions/index.md
  files/en-us/web/javascript/reference/global_objects/object/seal/index.md
Labels: Content:JS

#20220 added missing request options
  files/en-us/web/api/request/request/index.md
Labels: Content:WebAPI

#20216 Add alt text to image element
  files/en-us/web/api/htmlimageelement/sizes/index.md
Labels: Content:WebAPI

#20218 Fixes some grammar problems in Js Hoisting
  files/en-us/glossary/hoisting/index.md
Labels: Content:Glossary

#20236 Fix typo
  files/en-us/web/javascript/reference/global_objects/regexp/exec/index.md
Labels: Content:JS

#20228 Daily markdownlint
  files/en-us/web/css/animation-composition/index.md
Labels: Content:CSS

#20229 Fix typos
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/create/index.md
  files/en-us/web/api/element/attachshadow/index.md
  files/en-us/web/api/webglrenderingcontext/readpixels/index.md
  files/en-us/web/css/css_animations/using_css_animations/index.md
  files/en-us/web/css/hex-color/index.md
Labels: Content:CSS, Content:WebExt, Content:WebAPI, Content:Other

#20235 Remove extra curly braces
  files/en-us/web/accessibility/aria/attributes/aria-setsize/index.md
  files/en-us/web/accessibility/aria/roles/structural_roles/index.md
  files/en-us/web/api/sensor/index.md
  files/en-us/web/api/ui_events/keyboard_event_key_values/index.md
  files/en-us/web/api/webglrenderingcontext/readpixels/index.md
Labels: Content:WebAPI, Content:Accessibility

#20238 Fix poorly formatted xrefs
  files/en-us/web/api/streams_api/using_writable_streams/index.md
  files/en-us/web/javascript/guide/iterators_and_generators/index.md
  files/en-us/web/javascript/reference/errors/cant_assign_to_property/index.md
  files/en-us/web/javascript/reference/global_objects/intl/collator/index.md
  files/en-us/web/javascript/reference/global_objects/object/isprototypeof/index.md
Labels: Content:WebAPI, Content:JS

#20230 API: update BCD Info
  files/en-us/web/api/audiodecoder/index.md
  files/en-us/web/api/bluetoothuuid/index.md
  files/en-us/web/api/canvasrenderingcontext2d/index.md
  files/en-us/web/api/cssscale/index.md
  files/en-us/web/api/cssskew/index.md
  files/en-us/web/api/cssskewx/index.md
  files/en-us/web/api/cssskewy/index.md
  files/en-us/web/api/cssstylevalue/index.md
  files/en-us/web/api/csstransformvalue/index.md
  files/en-us/web/api/csstranslate/index.md
  files/en-us/web/api/cssunitvalue/index.md
  files/en-us/web/api/cssunparsedvalue/index.md
  files/en-us/web/api/cssvariablereferencevalue/index.md
  files/en-us/web/api/deprecationreportbody/index.md
  files/en-us/web/api/domexception/index.md
  files/en-us/web/api/errorevent/index.md
  files/en-us/web/api/eyedropper_api/index.md
  files/en-us/web/api/federatedcredential/index.md
  files/en-us/web/api/filesystemhandle/index.md
  files/en-us/web/api/gamepadpose/index.md
  files/en-us/web/api/hid/index.md
  files/en-us/web/api/hidconnectionevent/index.md
  files/en-us/web/api/hiddevice/index.md
  files/en-us/web/api/hidinputreportevent/index.md
  files/en-us/web/api/html_sanitizer_api/index.md
  files/en-us/web/api/htmlanchorelement/index.md
  files/en-us/web/api/htmlareaelement/index.md
  files/en-us/web/api/htmlcanvaselement/index.md
  files/en-us/web/api/webglrenderingcontext/canvas/index.md
  files/en-us/web/api/xrrenderstate/index.md
  files/en-us/web/api/xrwebglbinding/index.md
Labels: Content:WebAPI

#20231 WebXr: update BCD Info
  files/en-us/web/api/xrcompositionlayer/blendtexturesourcealpha/index.md
  files/en-us/web/api/xrcompositionlayer/chromaticaberrationcorrection/index.md
  files/en-us/web/api/xrcompositionlayer/destroy/index.md
  files/en-us/web/api/xrcompositionlayer/layout/index.md
  files/en-us/web/api/xrcompositionlayer/miplevels/index.md
  files/en-us/web/api/xrcompositionlayer/needsredraw/index.md
  files/en-us/web/api/xrcubelayer/orientation/index.md
  files/en-us/web/api/xrcubelayer/redraw_event/index.md
  files/en-us/web/api/xrcubelayer/space/index.md
  files/en-us/web/api/xrcylinderlayer/aspectratio/index.md
  files/en-us/web/api/xrcylinderlayer/centralangle/index.md
  files/en-us/web/api/xrcylinderlayer/radius/index.md
  files/en-us/web/api/xrcylinderlayer/redraw_event/index.md
  files/en-us/web/api/xrcylinderlayer/space/index.md
  files/en-us/web/api/xrcylinderlayer/transform/index.md
  files/en-us/web/api/xrequirectlayer/centralhorizontalangle/index.md
  files/en-us/web/api/xrequirectlayer/lowerverticalangle/index.md
  files/en-us/web/api/xrequirectlayer/radius/index.md
  files/en-us/web/api/xrequirectlayer/redraw_event/index.md
  files/en-us/web/api/xrequirectlayer/space/index.md
  files/en-us/web/api/xrequirectlayer/transform/index.md
  files/en-us/web/api/xrequirectlayer/upperverticalangle/index.md
  files/en-us/web/api/xrlayerevent/layer/index.md
  files/en-us/web/api/xrlayerevent/xrlayerevent/index.md
  files/en-us/web/api/xrmediabinding/createcylinderlayer/index.md
  files/en-us/web/api/xrmediabinding/createequirectlayer/index.md
  files/en-us/web/api/xrmediabinding/createquadlayer/index.md
  files/en-us/web/api/xrmediabinding/xrmediabinding/index.md
  files/en-us/web/api/xrprojectionlayer/fixedfoveation/index.md
  files/en-us/web/api/xrprojectionlayer/ignoredepthvalues/index.md
Labels: Content:WebAPI

#20232 WebXr: update BCD Info
  files/en-us/web/api/xrprojectionlayer/texturearraylength/index.md
  files/en-us/web/api/xrprojectionlayer/textureheight/index.md
  files/en-us/web/api/xrprojectionlayer/texturewidth/index.md
  files/en-us/web/api/xrquadlayer/height/index.md
  files/en-us/web/api/xrquadlayer/redraw_event/index.md
  files/en-us/web/api/xrquadlayer/space/index.md
  files/en-us/web/api/xrquadlayer/transform/index.md
  files/en-us/web/api/xrquadlayer/width/index.md
  files/en-us/web/api/xrrenderstate/layers/index.md
  files/en-us/web/api/xrsubimage/viewport/index.md
  files/en-us/web/api/xrwebglbinding/createcubelayer/index.md
  files/en-us/web/api/xrwebglbinding/createcylinderlayer/index.md
  files/en-us/web/api/xrwebglbinding/createequirectlayer/index.md
  files/en-us/web/api/xrwebglbinding/createprojectionlayer/index.md
  files/en-us/web/api/xrwebglbinding/createquadlayer/index.md
  files/en-us/web/api/xrwebglbinding/getsubimage/index.md
  files/en-us/web/api/xrwebglbinding/getviewsubimage/index.md
  files/en-us/web/api/xrwebglbinding/nativeprojectionscalefactor/index.md
  files/en-us/web/api/xrwebgllayer/antialias/index.md
  files/en-us/web/api/xrwebgllayer/fixedfoveation/index.md
  files/en-us/web/api/xrwebgllayer/framebuffer/index.md
  files/en-us/web/api/xrwebgllayer/framebufferheight/index.md
  files/en-us/web/api/xrwebgllayer/framebufferwidth/index.md
  files/en-us/web/api/xrwebgllayer/getnativeframebufferscalefactor/index.md
  files/en-us/web/api/xrwebgllayer/getviewport/index.md
  files/en-us/web/api/xrwebgllayer/ignoredepthvalues/index.md
  files/en-us/web/api/xrwebgllayer/xrwebgllayer/index.md
  files/en-us/web/api/xrwebglsubimage/colortexture/index.md
  files/en-us/web/api/xrwebglsubimage/depthstenciltexture/index.md
  files/en-us/web/api/xrwebglsubimage/imageindex/index.md
  files/en-us/web/api/xrwebglsubimage/textureheight/index.md
  files/en-us/web/api/xrwebglsubimage/texturewidth/index.md
  files/en-us/web/css/animation-composition/index.md
Labels: Content:CSS, Content:WebAPI

#20233 WebXr: update BCD Info
  files/en-us/web/api/xrcompositionlayer/index.md
  files/en-us/web/api/xrcubelayer/index.md
  files/en-us/web/api/xrcylinderlayer/index.md
  files/en-us/web/api/xrequirectlayer/index.md
  files/en-us/web/api/xrlayerevent/index.md
  files/en-us/web/api/xrmediabinding/index.md
  files/en-us/web/api/xrprojectionlayer/index.md
  files/en-us/web/api/xrquadlayer/index.md
  files/en-us/web/api/xrsubimage/index.md
  files/en-us/web/api/xrwebgllayer/index.md
  files/en-us/web/api/xrwebglsubimage/index.md
Labels: Content:WebAPI

#20126 Heroku will discontinue their free-tier plan
  files/en-us/learn/server-side/express_nodejs/deployment/index.md
Labels: Content:Learn

#20241 link-correction MediaElementAudioSourceNode()
  files/en-us/web/api/mediaelementaudiosourcenode/mediaelementaudiosourcenode/index.md
Labels: Content:WebAPI

#20239 update the link to Examples section
  files/en-us/web/api/gainnode/gain/index.md
Labels: Content:WebAPI

#19985 FF104 Relnote: canvas fontkerning
  files/en-us/mozilla/firefox/releases/104/index.md
Labels: Content:Other

#20243 Fix typo
  files/en-us/learn/accessibility/wai-aria_basics/test_your_skills_colon__wai-aria/index.md
Labels: Content:Learn

#20253 typo: hashtable -> hash table
  files/en-us/web/javascript/language_overview/index.md
Labels: Content:JS

#20245 Remove outdated Blob APIs
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/blob/blob/index.md
  files/en-us/web/api/blob/index.md
  files/en-us/web/api/blobbuilder/index.md
  files/en-us/web/api/file_and_directory_entries_api/introduction/index.md
  files/en-us/web/api/filereadersync/index.md
  files/en-us/web/api/filereadersync/readasarraybuffer/index.md
  files/en-us/web/api/filereadersync/readasbinarystring/index.md
  files/en-us/web/api/filereadersync/readasdataurl/index.md
  files/en-us/web/api/filereadersync/readastext/index.md
  files/en-us/web/api/navigator/mssaveblob/index.md
  files/en-us/web/api/navigator/mssaveoropenblob/index.md
Labels: Content:WebAPI

#20257 Remove WeakMap.p.clear()
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/javascript/reference/deprecated_and_obsolete_features/index.md
  files/en-us/web/javascript/reference/global_objects/weakmap/clear/index.md
Labels: Content:JS

#20255 fix the difference between Object methods, and Reflect methods
  files/en-us/web/javascript/reference/global_objects/reflect/isextensible/index.md
  files/en-us/web/javascript/reference/global_objects/reflect/preventextensions/index.md
Labels: Content:JS

#19405 Avoid classical for when looping through all items of an Array-like object (part #2)
  files/en-us/web/api/performance/getentries/index.md
  files/en-us/web/api/performance/getentriesbyname/index.md
  files/en-us/web/api/performance/getentriesbytype/index.md
  files/en-us/web/api/performance_timeline/using_performance_timeline/index.md
  files/en-us/web/api/performanceentry/duration/index.md
  files/en-us/web/api/performanceentry/entrytype/index.md
  files/en-us/web/api/performanceentry/name/index.md
  files/en-us/web/api/performanceentry/starttime/index.md
  files/en-us/web/api/performanceentry/tojson/index.md
  files/en-us/web/api/performancenavigationtiming/domcomplete/index.md
  files/en-us/web/api/performancenavigationtiming/domcontentloadedeventend/index.md
  files/en-us/web/api/performancenavigationtiming/domcontentloadedeventstart/index.md
  files/en-us/web/api/performancenavigationtiming/dominteractive/index.md
  files/en-us/web/api/performancenavigationtiming/loadeventend/index.md
  files/en-us/web/api/performancenavigationtiming/loadeventstart/index.md
  files/en-us/web/api/performancenavigationtiming/redirectcount/index.md
  files/en-us/web/api/performancenavigationtiming/type/index.md
  files/en-us/web/api/performancenavigationtiming/unloadeventend/index.md
  files/en-us/web/api/performancenavigationtiming/unloadeventstart/index.md
  files/en-us/web/api/performanceobserver/disconnect/index.md
  files/en-us/web/api/performanceobserver/observe/index.md
  files/en-us/web/api/performanceobserver/performanceobserver/index.md
  files/en-us/web/api/performanceobserver/takerecords/index.md
  files/en-us/web/api/performanceresourcetiming/connectend/index.md
  files/en-us/web/api/performanceresourcetiming/connectstart/index.md
  files/en-us/web/api/performanceresourcetiming/decodedbodysize/index.md
  files/en-us/web/api/performanceresourcetiming/domainlookupend/index.md
  files/en-us/web/api/performanceresourcetiming/domainlookupstart/index.md
  files/en-us/web/api/performanceresourcetiming/encodedbodysize/index.md
  files/en-us/web/api/performanceresourcetiming/fetchstart/index.md
  files/en-us/web/api/performanceresourcetiming/initiatortype/index.md
  files/en-us/web/api/performanceresourcetiming/nexthopprotocol/index.md
  files/en-us/web/api/performanceresourcetiming/redirectend/index.md
  files/en-us/web/api/performanceresourcetiming/redirectstart/index.md
  files/en-us/web/api/performanceresourcetiming/requeststart/index.md
  files/en-us/web/api/performanceresourcetiming/responseend/index.md
  files/en-us/web/api/performanceresourcetiming/responsestart/index.md
  files/en-us/web/api/performanceresourcetiming/secureconnectionstart/index.md
  files/en-us/web/api/performanceresourcetiming/transfersize/index.md
  files/en-us/web/api/performanceresourcetiming/workerstart/index.md
  files/en-us/web/api/pointer_events/multi-touch_interaction/index.md
  files/en-us/web/api/pointer_events/pinch_zoom_gestures/index.md
  files/en-us/web/api/report/index.md
  files/en-us/web/api/resource_timing_api/using_the_resource_timing_api/index.md
  files/en-us/web/api/speechsynthesisvoice/name/index.md
  files/en-us/web/api/structuredclone/index.md
  files/en-us/web/api/texttrack/mode/index.md
  files/en-us/web/api/touch_events/multi-touch_interaction/index.md
Labels: Content:WebAPI

#19544 Avoid classical for if for...of when looping all object of an Array-like object (part #4)
  files/en-us/web/api/btoa/index.md
  files/en-us/web/api/canvas_api/manipulating_video_using_canvas/index.md
  files/en-us/web/api/canvas_api/tutorial/applying_styles_and_colors/index.md
  files/en-us/web/api/canvas_api/tutorial/using_images/index.md
  files/en-us/web/api/canvasrenderingcontext2d/arcto/index.md
  files/en-us/web/api/canvasrenderingcontext2d/linecap/index.md
  files/en-us/web/api/canvasrenderingcontext2d/linejoin/index.md
  files/en-us/web/api/css_typed_om_api/guide/index.md
  files/en-us/web/api/cssstyledeclaration/setproperty/index.md
  files/en-us/web/api/datatransferitemlist/clear/index.md
  files/en-us/web/api/datatransferitemlist/index.md
  files/en-us/web/api/deprecationreportbody/index.md
  files/en-us/web/api/document/anchors/index.md
  files/en-us/web/api/document/caretpositionfrompoint/index.md
  files/en-us/web/api/document/caretrangefrompoint/index.md
  files/en-us/web/api/document/elementsfrompoint/index.md
  files/en-us/web/api/document/images/index.md
  files/en-us/web/api/document/links/index.md
  files/en-us/web/api/document/stylesheetsets/index.md
  files/en-us/web/api/element/children/index.md
  files/en-us/web/api/element/getclientrects/index.md
  files/en-us/web/api/element/getelementsbyclassname/index.md
  files/en-us/web/api/element/getelementsbytagnamens/index.md
  files/en-us/web/api/event/currenttarget/index.md
  files/en-us/web/api/event/eventphase/index.md
  files/en-us/web/api/eventtarget/addeventlistener/index.md
Labels: Content:WebAPI

#20263 fix Object.freeze() description to match specs
  files/en-us/web/javascript/reference/global_objects/object/freeze/index.md
Labels: Content:JS

#20270 Daily markdownlint
  files/en-us/web/api/btoa/index.md
  files/en-us/web/api/css_typed_om_api/guide/index.md
  files/en-us/web/api/datatransferitemlist/clear/index.md
  files/en-us/web/api/datatransferitemlist/index.md
  files/en-us/web/api/performance/getentriesbyname/index.md
  files/en-us/web/api/performance/getentriesbytype/index.md
  files/en-us/web/api/performance_timeline/using_performance_timeline/index.md
  files/en-us/web/api/performanceresourcetiming/domainlookupend/index.md
  files/en-us/web/javascript/reference/global_objects/reflect/preventextensions/index.md
Labels: Content:WebAPI, Content:JS

#20264 Describe block-level function declarations in strict mode
  files/en-us/web/javascript/reference/statements/function/index.md
Labels: Content:JS

#20227 Unify description for all locales parameters
  files/en-us/web/javascript/reference/global_objects/array/tolocalestring/index.md
  files/en-us/web/javascript/reference/global_objects/intl/collator/collator/index.md
  files/en-us/web/javascript/reference/global_objects/intl/collator/supportedlocalesof/index.md
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/datetimeformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/supportedlocalesof/index.md
  files/en-us/web/javascript/reference/global_objects/intl/displaynames/displaynames/index.md
  files/en-us/web/javascript/reference/global_objects/intl/displaynames/supportedlocalesof/index.md
  files/en-us/web/javascript/reference/global_objects/intl/listformat/listformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/listformat/supportedlocalesof/index.md
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/numberformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/supportedlocalesof/index.md
  files/en-us/web/javascript/reference/global_objects/intl/pluralrules/pluralrules/index.md
  files/en-us/web/javascript/reference/global_objects/intl/pluralrules/supportedlocalesof/index.md
  files/en-us/web/javascript/reference/global_objects/intl/relativetimeformat/relativetimeformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/relativetimeformat/supportedlocalesof/index.md
  files/en-us/web/javascript/reference/global_objects/intl/segmenter/segmenter/index.md
  files/en-us/web/javascript/reference/global_objects/intl/segmenter/supportedlocalesof/index.md
  files/en-us/web/javascript/reference/global_objects/string/tolocalelowercase/index.md
  files/en-us/web/javascript/reference/global_objects/string/tolocaleuppercase/index.md
Labels: Content:JS

#20268 Remove extra spaces
  files/en-us/glossary/character/index.md
  files/en-us/glossary/cipher_suite/index.md
  files/en-us/glossary/entity/index.md
  files/en-us/glossary/first_meaningful_paint/index.md
  files/en-us/glossary/inheritance/index.md
  files/en-us/glossary/json/index.md
  files/en-us/glossary/keyword/index.md
  files/en-us/glossary/main_axis/index.md
  files/en-us/glossary/mathml/index.md
  files/en-us/glossary/netscape_navigator/index.md
  files/en-us/glossary/property/javascript/index.md
  files/en-us/glossary/request_header/index.md
  files/en-us/glossary/rsync/index.md
  files/en-us/glossary/server/index.md
  files/en-us/glossary/smtp/index.md
  files/en-us/glossary/speed_index/index.md
  files/en-us/glossary/syntax_error/index.md
  files/en-us/glossary/tcp/index.md
  files/en-us/glossary/texel/index.md
  files/en-us/glossary/time_to_first_byte/index.md
  files/en-us/learn/css/building_blocks/selectors/index.md
  files/en-us/learn/css/css_layout/positioning/index.md
Labels: Content:Learn, Content:Glossary

#20267 Remove unnecessary Introduction heading
  files/en-us/mozilla/firefox/releases/1.5/changing_the_priority_of_http_requests/index.md
  files/en-us/mozilla/firefox/releases/1.5/using_firefox_1.5_caching/index.md
  files/en-us/web/accessibility/architecture/index.md
  files/en-us/web/accessibility/understanding_colors_and_luminance/index.md
  files/en-us/web/api/document_object_model/traversing_an_html_table_with_javascript_and_dom_interfaces/index.md
  files/en-us/web/api/html_dom_api/microtask_guide/in_depth/index.md
  files/en-us/web/api/websockets_api/writing_a_websocket_server_in_java/index.md
  files/en-us/web/api/websockets_api/writing_websocket_server/index.md
  files/en-us/web/api/webxr_device_api/permissions_and_security/index.md
  files/en-us/web/api/xsltprocessor/introduction/index.md
  files/en-us/web/javascript/javascript_technologies_overview/index.md
  files/en-us/web/xslt/xslt_js_interface_in_gecko/introduction/index.md
Labels: Content:WebAPI, Content:JS, Content:Other, Content:Accessibility

#20265 Fix word choice mistakes
  files/en-us/learn/accessibility/css_and_javascript/test_your_skills_colon__css_and_javascript_accessibility/index.md
  files/en-us/learn/forms/test_your_skills_colon__basic_controls/index.md
  files/en-us/learn/forms/test_your_skills_colon__html5_controls/index.md
  files/en-us/learn/forms/test_your_skills_colon__other_controls/index.md
  files/en-us/learn/forms/test_your_skills_colon__styling_basics/index.md
  files/en-us/learn/javascript/building_blocks/test_your_skills_colon__events/index.md
  files/en-us/learn/javascript/building_blocks/test_your_skills_colon__loops/index.md
  files/en-us/learn/javascript/first_steps/test_your_skills_colon__math/index.md
  files/en-us/learn/javascript/first_steps/test_your_skills_colon__variables/index.md
  files/en-us/learn/javascript/objects/test_your_skills_colon__json/index.md
Labels: Content:Learn

#20262 Fix a broken link
  files/en-us/web/performance/fundamentals/index.md
Labels: Content:Other

#20246 Accessible, descriptive reference link text
  files/en-us/web/css/justify-self/index.md
Labels: Content:CSS

#20242 update the link to correct section
  files/en-us/learn/html/introduction_to_html/getting_started/index.md
Labels: Content:Learn

#20205 Fix FF behavior wrt Function.p.caller
  files/en-us/web/javascript/reference/global_objects/function/arguments/index.md
  files/en-us/web/javascript/reference/global_objects/function/caller/index.md
Labels: Content:JS

#20276 fix: use consistent object destructuring
  files/en-us/web/javascript/reference/global_objects/promise/index.md
Labels: Content:JS

#20275 Fix Typo
  files/en-us/learn/accessibility/accessibility_troubleshooting/index.md
Labels: Content:Learn

#20278 fix: Add some missing parentheses for arrow functions
  files/en-us/mozilla/add-ons/webextensions/sharing_objects_with_page_scripts/index.md
  files/en-us/web/api/canvas_api/tutorial/pixel_manipulation_with_canvas/index.md
  files/en-us/web/api/element/beforexrselect_event/index.md
  files/en-us/web/api/xmlhttprequest/sending_and_receiving_binary_data/index.md
  files/en-us/web/javascript/reference/operators/object_initializer/index.md
Labels: Content:WebExt, Content:WebAPI, Content:JS, Content:Other

#20272 Bigints: update cryptography usage.
  files/en-us/web/javascript/reference/global_objects/bigint/index.md
Labels: Content:JS

#20234 Add section on string coercion behavior
  files/en-us/web/javascript/reference/global_objects/number/parsefloat/index.md
  files/en-us/web/javascript/reference/global_objects/number/parseint/index.md
  files/en-us/web/javascript/reference/global_objects/parsefloat/index.md
  files/en-us/web/javascript/reference/global_objects/string/concat/index.md
  files/en-us/web/javascript/reference/global_objects/string/index.md
  files/en-us/web/javascript/reference/global_objects/string/indexof/index.md
  files/en-us/web/javascript/reference/global_objects/string/lastindexof/index.md
  files/en-us/web/javascript/reference/global_objects/string/string/index.md
  files/en-us/web/javascript/reference/operators/addition/index.md
  files/en-us/web/javascript/reference/template_literals/index.md
Labels: Content:JS

#20284 Remove "unloaded" from visibilityState values on Page Visibility API
  files/en-us/web/api/page_visibility_api/index.md
Labels: Content:WebAPI

#20285 Remove prerender value
  files/en-us/web/api/document/visibilitystate/index.md
Labels: Content:WebAPI

#20281 Add a section on checking is regex
  files/en-us/web/javascript/reference/global_objects/regexp/@@match/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/regexp/index.md
  files/en-us/web/javascript/reference/global_objects/string/endswith/index.md
  files/en-us/web/javascript/reference/global_objects/string/includes/index.md
  files/en-us/web/javascript/reference/global_objects/string/matchall/index.md
  files/en-us/web/javascript/reference/global_objects/string/replaceall/index.md
  files/en-us/web/javascript/reference/global_objects/string/startswith/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/match/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/matchall/index.md
Labels: Content:JS

#20282 Elaborate on how RegExp.prototype.source is escaped
  files/en-us/web/javascript/reference/global_objects/regexp/compile/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/source/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/tostring/index.md
Labels: Content:JS

#20277 Reorganize arguments docs
  files/en-us/web/javascript/reference/functions/arguments/@@iterator/index.md
  files/en-us/web/javascript/reference/functions/arguments/index.md
  files/en-us/web/javascript/reference/functions/arguments/length/index.md
Labels: Content:JS

#20173 Added information + Typo fixes
  files/en-us/learn/accessibility/wai-aria_basics/index.md
Labels: Content:Learn

#20147 Mention Weak data structures in memory management
  files/en-us/web/javascript/memory_management/index.md
Labels: Content:JS

#20287 Fix comment
  files/en-us/web/javascript/language_overview/index.md
Labels: Content:JS

#20290 Fix punctuation
  files/en-us/web/api/domrect/index.md
  files/en-us/web/api/domrectreadonly/index.md
Labels: Content:WebAPI

#20289 Remove extra spaces
  files/en-us/games/techniques/3d_collision_detection/index.md
  files/en-us/games/tutorials/2d_breakout_game_pure_javascript/build_the_brick_field/index.md
  files/en-us/glossary/url/index.md
  files/en-us/learn/css/building_blocks/backgrounds_and_borders/index.md
  files/en-us/learn/css/css_layout/legacy_layout_methods/index.md
  files/en-us/learn/css/first_steps/what_is_css/index.md
  files/en-us/learn/forms/form_validation/index.md
  files/en-us/learn/forms/how_to_build_custom_form_controls/example_3/index.md
  files/en-us/learn/forms/property_compatibility_table_for_form_controls/index.md
  files/en-us/learn/forms/your_first_form/index.md
  files/en-us/learn/getting_started_with_the_web/how_the_web_works/index.md
  files/en-us/learn/html/introduction_to_html/getting_started/index.md
  files/en-us/learn/javascript/client-side_web_apis/drawing_graphics/index.md
  files/en-us/learn/javascript/first_steps/variables/index.md
  files/en-us/learn/javascript/objects/classes_in_javascript/index.md
  files/en-us/learn/server-side/django/generic_views/index.md
  files/en-us/learn/server-side/django/models/index.md
  files/en-us/learn/server-side/django/skeleton_website/index.md
  files/en-us/learn/server-side/express_nodejs/displaying_data/template_primer/index.md
  files/en-us/learn/server-side/express_nodejs/mongoose/index.md
  files/en-us/learn/server-side/first_steps/client-server_overview/index.md
  files/en-us/learn/server-side/first_steps/web_frameworks/index.md
Labels: Content:Learn, Content:Other, Content:Glossary

#20295 Remove deprecated methods from managing_screen_orientation
  files/en-us/web/api/css_object_model/managing_screen_orientation/index.md
Labels: Content:WebAPI

#20297 Correct description about function displayName
  files/en-us/web/javascript/reference/global_objects/function/displayname/index.md
Labels: Content:JS

#20294 add: WebAPI/URL Links to encodeURI
  files/en-us/web/api/url_api/index.md
Labels: Content:WebAPI

#20286 Simplify Page Visibility API
  files/en-us/web/api/page_visibility_api/index.md
Labels: Content:WebAPI

#20271 Provide sidebars to WebDriver pages
  files/en-us/web/webdriver/capabilities/acceptinsecurecerts/index.md
  files/en-us/web/webdriver/capabilities/firefoxoptions/index.md
  files/en-us/web/webdriver/capabilities/index.md
  files/en-us/web/webdriver/capabilities/websocketurl/index.md
  files/en-us/web/webdriver/commands/closewindow/index.md
  files/en-us/web/webdriver/commands/getelementattribute/index.md
  files/en-us/web/webdriver/commands/getelementproperty/index.md
  files/en-us/web/webdriver/commands/getelementtagname/index.md
  files/en-us/web/webdriver/commands/gettimeouts/index.md
  files/en-us/web/webdriver/commands/getwindowhandles/index.md
  files/en-us/web/webdriver/commands/getwindowrect/index.md
  files/en-us/web/webdriver/commands/index.md
  files/en-us/web/webdriver/commands/new_window/index.md
  files/en-us/web/webdriver/commands/settimeouts/index.md
  files/en-us/web/webdriver/commands/setwindowrect/index.md
  files/en-us/web/webdriver/errors/index.md
  files/en-us/web/webdriver/errors/insecurecertificate/index.md
  files/en-us/web/webdriver/errors/invalidargument/index.md
  files/en-us/web/webdriver/errors/invalidcookiedomain/index.md
  files/en-us/web/webdriver/errors/invalidselector/index.md
  files/en-us/web/webdriver/errors/invalidsessionid/index.md
  files/en-us/web/webdriver/errors/javascripterror/index.md
  files/en-us/web/webdriver/errors/scripttimeout/index.md
  files/en-us/web/webdriver/errors/staleelementreference/index.md
  files/en-us/web/webdriver/errors/unknowncommand/index.md
  files/en-us/web/webdriver/errors/unknownerror/index.md
  files/en-us/web/webdriver/errors/unknownmethod/index.md
  files/en-us/web/webdriver/index.md
  files/en-us/web/webdriver/timeouts/index.md
Labels: Content:WebDriver

#20269 Highlight note re: default vh unit
  files/en-us/web/css/length/index.md
Labels: Content:CSS

#20300 Fix typos
  files/en-us/webassembly/c_to_wasm/index.md
  files/en-us/webassembly/caching_modules/index.md
  files/en-us/webassembly/exported_functions/index.md
  files/en-us/webassembly/reference/memory/load/index.md
  files/en-us/webassembly/reference/memory/store/index.md
  files/en-us/webassembly/reference/numeric/truncate_float_to_float/index.md
  files/en-us/webassembly/rust_to_wasm/index.md
  files/en-us/webassembly/understanding_the_text_format/index.md
  files/en-us/webassembly/using_the_javascript_api/index.md
Labels: Content:wasm

#20298 Improve jsxref macro typesetting
  files/en-us/web/javascript/data_structures/index.md
  files/en-us/web/javascript/reference/functions/index.md
  files/en-us/web/javascript/reference/global_objects/array/findlastindex/index.md
  files/en-us/web/javascript/reference/global_objects/arraybuffer/index.md
  files/en-us/web/javascript/reference/global_objects/asyncfunction/index.md
  files/en-us/web/javascript/reference/global_objects/asyncgenerator/index.md
  files/en-us/web/javascript/reference/global_objects/asyncgeneratorfunction/index.md
  files/en-us/web/javascript/reference/global_objects/generator/index.md
  files/en-us/web/javascript/reference/global_objects/generatorfunction/index.md
  files/en-us/web/javascript/reference/global_objects/json/index.md
  files/en-us/web/javascript/reference/global_objects/map/@@iterator/index.md
  files/en-us/web/javascript/reference/global_objects/math/index.md
  files/en-us/web/javascript/reference/global_objects/number/index.md
  files/en-us/web/javascript/reference/global_objects/object/entries/index.md
  files/en-us/web/javascript/reference/global_objects/reflect/index.md
  files/en-us/web/javascript/reference/global_objects/string/index.md
  files/en-us/web/javascript/reference/global_objects/string/matchall/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/unscopables/index.md
  files/en-us/web/javascript/reference/index.md
  files/en-us/web/javascript/reference/iteration_protocols/index.md
  files/en-us/web/javascript/reference/operators/await/index.md
  files/en-us/web/javascript/reference/operators/delete/index.md
  files/en-us/web/javascript/reference/operators/function/index.md
  files/en-us/web/javascript/reference/operators/index.md
  files/en-us/web/javascript/reference/operators/null/index.md
  files/en-us/web/javascript/reference/operators/yield/index.md
  files/en-us/web/javascript/reference/operators/yield_star_/index.md
  files/en-us/web/javascript/reference/statements/empty/index.md
Labels: Content:JS

#20301 fix: MD001 Headings should only increment by 1
  files/en-us/learn/forms/basic_native_form_controls/index.md
  files/en-us/mdn/writing_guidelines/howto/markdown_in_mdn/index.md
  files/en-us/mdn/writing_guidelines/page_structures/compatibility_tables/index.md
  files/en-us/mdn/writing_guidelines/page_structures/macros/commonly_used_macros/index.md
  files/en-us/mozilla/firefox/releases/101/index.md
  files/en-us/mozilla/firefox/releases/103/index.md
  files/en-us/mozilla/firefox/releases/104/index.md
  files/en-us/mozilla/firefox/releases/105/index.md
  files/en-us/mozilla/firefox/releases/106/index.md
  files/en-us/web/accessibility/aria/roles/checkbox_role/index.md
  files/en-us/web/accessibility/aria/roles/dialog_role/index.md
  files/en-us/web/accessibility/aria/roles/listbox_role/index.md
  files/en-us/web/accessibility/seizure_disorders/index.md
  files/en-us/web/accessibility/understanding_colors_and_luminance/index.md
  files/en-us/web/api/canvasrenderingcontext2d/fontkerning/index.md
  files/en-us/web/api/canvasrenderingcontext2d/fontstretch/index.md
  files/en-us/web/api/canvasrenderingcontext2d/fontvariantcaps/index.md
  files/en-us/web/api/canvasrenderingcontext2d/gettransform/index.md
  files/en-us/web/api/canvasrenderingcontext2d/letterspacing/index.md
  files/en-us/web/api/canvasrenderingcontext2d/textrendering/index.md
  files/en-us/web/api/canvasrenderingcontext2d/wordspacing/index.md
  files/en-us/web/api/datatransferitemlist/clear/index.md
  files/en-us/web/api/directoryentrysync/index.md
  files/en-us/web/api/directoryreadersync/index.md
  files/en-us/web/api/document/cookie/index.md
  files/en-us/web/api/element/mouseenter_event/index.md
  files/en-us/web/api/element/mouseleave_event/index.md
  files/en-us/web/api/fileentrysync/index.md
  files/en-us/web/api/formdata/set/index.md
  files/en-us/web/api/html_dom_api/index.md
  files/en-us/web/api/htmlimageelement/align/index.md
  files/en-us/web/api/htmlimageelement/sizes/index.md
  files/en-us/web/api/keyboardevent/metakey/index.md
  files/en-us/web/api/media_capture_and_streams_api/constraints/index.md
  files/en-us/web/api/mediadevices/devicechange_event/index.md
  files/en-us/web/api/mediaerror/code/index.md
  files/en-us/web/api/request/mode/index.md
  files/en-us/web/api/rtcicecandidate/usernamefragment/index.md
  files/en-us/web/api/svgstyleelement/index.md
  files/en-us/web/api/svgstyleelement/media/index.md
  files/en-us/web/api/svgstyleelement/sheet/index.md
  files/en-us/web/api/svgstyleelement/title/index.md
  files/en-us/web/api/ui_events/keyboard_event_key_values/index.md
  files/en-us/web/api/window/opendialog/index.md
  files/en-us/web/css/all/index.md
  files/en-us/web/css/css_fonts/opentype_fonts_guide/index.md
  files/en-us/web/css/gradient/index.md
  files/en-us/web/css/hyphenate-character/index.md
  files/en-us/web/css/named-color/index.md
  files/en-us/web/css/shape/index.md
  files/en-us/web/guide/printing/index.md
  files/en-us/web/html/element/abbr/index.md
  files/en-us/web/javascript/guide/using_promises/index.md
  files/en-us/web/svg/attribute/cx/index.md
  files/en-us/web/svg/attribute/cy/index.md
  files/en-us/web/svg/element/filter/index.md
  files/en-us/web/svg/tutorial/positions/index.md
  files/en-us/web/webdriver/capabilities/firefoxoptions/index.md
  files/en-us/web/xpath/snippets/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:JS, Content:Learn, Content:Other, Content:Accessibility, Content:SVG, Content:WebDriver

#20118 fix: MD024 Multiple headings with same content
  .markdownlint.json
  files/en-us/games/index.md
  files/en-us/mozilla/firefox/releases/74/index.md
  files/en-us/mozilla/firefox/releases/75/index.md
  files/en-us/web/api/element/outerhtml/index.md
  files/en-us/web/api/gamepad/axes/index.md
  files/en-us/web/api/gamepad/buttons/index.md
  files/en-us/web/api/gamepad/connected/index.md
  files/en-us/web/api/gamepad/id/index.md
  files/en-us/web/api/gamepad/timestamp/index.md
  files/en-us/web/api/gamepadevent/gamepad/index.md
  files/en-us/web/api/paymentaddress/tojson/index.md
  files/en-us/web/api/rtcpeerconnection/setlocaldescription/index.md
  files/en-us/web/api/screen_capture_api/using_screen_capture/index.md
  files/en-us/web/api/serviceworkerglobalscope/fetch_event/index.md
  files/en-us/web/api/web_audio_api/simple_synth/index.md
  files/en-us/web/api/xrsession/requestreferencespace/index.md
  files/en-us/web/api/xrview/requestviewportscale/index.md
  files/en-us/web/css/css_box_model/introduction_to_the_css_box_model/index.md
  files/en-us/web/css/css_container_queries/index.md
  files/en-us/web/css/repeat/index.md
  files/en-us/web/html/element/title/index.md
  files/en-us/web/svg/attribute/fx/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:Other, Content:SVG

#17988 Add custom replace rule to markdownlint configuration
  .markdownlint.json
  package.json
  yarn.lock
Labels: infra

#20302 Canvas: update BCD info
  files/en-us/web/api/canvasrenderingcontext2d/index.md
  files/en-us/web/api/canvasrenderingcontext2d/iscontextlost/index.md
  files/en-us/web/api/canvasrenderingcontext2d/reset/index.md
  files/en-us/web/api/htmlcanvaselement/contextlost_event/index.md
  files/en-us/web/api/htmlcanvaselement/contextrestored_event/index.md
  files/en-us/web/api/offscreencanvas/index.md
  files/en-us/web/api/offscreencanvasrenderingcontext2d/index.md
  files/en-us/web/css/image/index.md
  files/en-us/web/javascript/reference/global_objects/function/index.md
Labels: Content:CSS, Content:WebAPI, Content:JS

#20304 Fixing typos
  files/en-us/learn/getting_started_with_the_web/css_basics/index.md
Labels: Content:Learn

#20306 fix: qualify bad internal links
  files/en-us/mozilla/add-ons/webextensions/api/search/get/index.md
  files/en-us/web/api/css_painting_api/index.md
  files/en-us/web/api/cssprimitivevalue/getrectvalue/index.md
  files/en-us/web/api/cssvalue/csstext/index.md
  files/en-us/web/api/cssvaluelist/item/index.md
  files/en-us/web/api/cssvaluelist/length/index.md
  files/en-us/web/api/featurepolicy/getallowlistforfeature/index.md
  files/en-us/web/api/html_drag_and_drop_api/multiple_items/index.md
  files/en-us/web/api/permissions/index.md
  files/en-us/web/api/permissionstatus/index.md
  files/en-us/web/api/screen_capture_api/using_screen_capture/index.md
  files/en-us/web/api/svggraphicselement/copy_event/index.md
  files/en-us/web/api/svggraphicselement/cut_event/index.md
  files/en-us/web/api/svggraphicselement/paste_event/index.md
  files/en-us/web/api/svgpreserveaspectratio/index.md
  files/en-us/web/api/webrtc_api/build_a_phone_with_peerjs/index.md
  files/en-us/web/http/headers/index.md
Labels: Content:WebExt, Content:WebAPI, Content:Other, Content:HTTP

#20305 Add missing features to the 'document' page.
  files/en-us/web/api/document/index.md
Labels: Content:WebAPI

#20311 Fix spelling
  files/en-us/learn/common_questions/what_is_a_url/index.md
  files/en-us/learn/css/styling_text/web_fonts/index.md
  files/en-us/learn/forms/advanced_form_styling/index.md
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/package_management/index.md
  files/en-us/web/api/webgl_api/matrix_math_for_the_web/index.md
  files/en-us/web/api/websockets_api/writing_websocket_servers/index.md
  files/en-us/web/javascript/reference/operators/logical_and/index.md
Labels: Content:WebAPI, Content:JS, Content:Learn

#19467 Add MathML tutorial
  files/en-us/learn/mathml/first_steps/fractions_and_roots/index.md
  files/en-us/learn/mathml/first_steps/fractions_and_roots/mfrac-msqrt-mroot.png
  files/en-us/learn/mathml/first_steps/getting_started/index.md
  files/en-us/learn/mathml/first_steps/index.md
  files/en-us/learn/mathml/first_steps/scripts/index.md
  files/en-us/learn/mathml/first_steps/tables/index.md
  files/en-us/learn/mathml/first_steps/text_containers/index.md
  files/en-us/learn/mathml/first_steps/text_containers/operator-spacing.png
  files/en-us/learn/mathml/first_steps/three_famous_mathematical_formulas/index.md
  files/en-us/learn/mathml/first_steps/three_famous_mathematical_formulas/xelatex-output.png
  files/en-us/learn/mathml/index.md
Labels: Content:Learn

#20313 Fix spacing around periods
  files/en-us/learn/css/css_layout/positioning/index.md
  files/en-us/learn/css/first_steps/what_is_css/index.md
  files/en-us/learn/css/howto/create_fancy_boxes/index.md
  files/en-us/learn/forms/basic_native_form_controls/index.md
  files/en-us/learn/front-end_web_developer/index.md
  files/en-us/learn/javascript/asynchronous/promises/index.md
  files/en-us/learn/javascript/client-side_web_apis/drawing_graphics/index.md
  files/en-us/learn/javascript/client-side_web_apis/index.md
  files/en-us/learn/performance/measuring_performance/index.md
  files/en-us/learn/performance/why_web_performance/index.md
  files/en-us/learn/server-side/django/development_environment/index.md
  files/en-us/learn/server-side/django/introduction/index.md
  files/en-us/learn/server-side/express_nodejs/forms/create_bookinstance_form/index.md
  files/en-us/learn/server-side/express_nodejs/mongoose/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/ember_routing/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/main_features/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/react_components/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/react_interactivity_events_state/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/react_resources/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/vue_computed_properties/index.md
  files/en-us/mdn/tools/kumascript/index.md
  files/en-us/mozilla/add-ons/webextensions/api/contextualidentities/contextualidentity/index.md
  files/en-us/mozilla/add-ons/webextensions/api/cookies/remove/index.md
  files/en-us/mozilla/add-ons/webextensions/api/extensiontypes/imagedetails/index.md
  files/en-us/mozilla/add-ons/webextensions/api/identity/index.md
Labels: Content:WebExt, Content:Learn, Content:Other

#20315 Encourage use of AbortController
  files/en-us/web/api/fetch_api/index.md
Labels: Content:WebAPI

#20319 Fix typos in writing style guide
  files/en-us/mdn/writing_guidelines/writing_style_guide/index.md
Labels: Content:Other

#20317 Consistently use 3 dots for for...of/in
  files/en-us/mozilla/firefox/releases/13/index.md
  files/en-us/mozilla/firefox/releases/17/index.md
  files/en-us/mozilla/firefox/releases/27/index.md
  files/en-us/mozilla/firefox/releases/3.6/index.md
  files/en-us/web/api/document_object_model/examples/index.md
  files/en-us/web/api/nodelist/entries/index.md
  files/en-us/web/api/nodelist/index.md
  files/en-us/web/api/nodelist/keys/index.md
  files/en-us/web/api/nodelist/values/index.md
  files/en-us/web/javascript/enumerability_and_ownership_of_properties/index.md
  files/en-us/web/javascript/guide/index.md
  files/en-us/web/javascript/reference/deprecated_and_obsolete_features/the_legacy_iterator_protocol/index.md
  files/en-us/web/javascript/reference/global_objects/map/@@iterator/index.md
  files/en-us/web/javascript/reference/global_objects/map/index.md
  files/en-us/web/javascript/reference/global_objects/set/@@iterator/index.md
  files/en-us/web/javascript/reference/global_objects/string/@@iterator/index.md
  files/en-us/web/javascript/reference/global_objects/string/matchall/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/iterator/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/@@iterator/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/keys/index.md
Labels: Content:WebAPI, Content:JS, Content:Other

#20320 Fix typos
  files/en-us/web/javascript/reference/global_objects/date/getutcdate/index.md
  files/en-us/web/javascript/reference/global_objects/date/getutcday/index.md
  files/en-us/web/javascript/reference/global_objects/date/getutcfullyear/index.md
  files/en-us/web/javascript/reference/global_objects/date/getutchours/index.md
  files/en-us/web/javascript/reference/global_objects/date/getutcmilliseconds/index.md
  files/en-us/web/javascript/reference/global_objects/date/getutcminutes/index.md
  files/en-us/web/javascript/reference/global_objects/date/getutcmonth/index.md
  files/en-us/web/javascript/reference/global_objects/date/getutcseconds/index.md
  files/en-us/web/javascript/reference/global_objects/function/arguments/index.md
Labels: Content:JS

#20310 Updating PAB
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mdn/mdn_product_advisory_board/index.md
  files/en-us/mdn/mdn_product_advisory_board/members/index.md
  files/en-us/mdn/mdn_product_advisory_board/membership/index.md
Labels: Content:Other

#20325 fix: missing ");" from code
  files/en-us/web/api/webglrenderingcontext/vertexattribpointer/index.md
Labels: Content:WebAPI

#20324 fix: remove OL for code fences
  files/en-us/learn/common_questions/what_are_browser_developer_tools/index.md
Labels: Content:Learn

#20321 Clarify Z-axis in context of CSS coordinates
  files/en-us/web/css/cssom_view/coordinate_systems/index.md
Labels: Content:CSS

#20327 fix: various typos
  files/en-us/learn/mathml/first_steps/getting_started/index.md
  files/en-us/learn/mathml/first_steps/scripts/index.md
  files/en-us/learn/mathml/first_steps/tables/index.md
  files/en-us/learn/mathml/index.md
Labels: Content:Learn

#20335 Fix typos
  files/en-us/games/anatomy/index.md
  files/en-us/games/examples/index.md
  files/en-us/games/introduction/index.md
  files/en-us/games/introduction_to_html5_game_development/index.md
  files/en-us/games/publishing_games/game_distribution/index.md
  files/en-us/games/publishing_games/game_monetization/index.md
  files/en-us/games/publishing_games/game_promotion/index.md
  files/en-us/games/techniques/3d_collision_detection/bounding_volume_collision_detection_with_three.js/index.md
  files/en-us/games/techniques/3d_on_the_web/building_up_a_basic_demo_with_babylon.js/index.md
  files/en-us/games/techniques/audio_for_web_games/index.md
  files/en-us/games/techniques/control_mechanisms/desktop_with_gamepad/index.md
  files/en-us/games/techniques/controls_gamepad_api/index.md
  files/en-us/games/techniques/tilemaps/square_tilemaps_implementation_colon__scrolling_maps/index.md
  files/en-us/games/tutorials/2d_breakout_game_pure_javascript/paddle_and_keyboard_controls/index.md
  files/en-us/games/tutorials/html5_gamedev_phaser_device_orientation/index.md
Labels: Content:Other

#20332 Consistently use en.wikipedia.org domain
  files/en-us/games/techniques/crisp_pixel_art_look/index.md
  files/en-us/glossary/packet/index.md
  files/en-us/learn/mathml/index.md
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/deployment/index.md
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/overview/index.md
  files/en-us/mdn/writing_guidelines/howto/write_a_new_entry_in_the_glossary/index.md
  files/en-us/web/api/keyboardevent/key/index.md
  files/en-us/web/css/css_colors/applying_color/index.md
  files/en-us/web/http/headers/transfer-encoding/index.md
Labels: Content:CSS, Content:WebAPI, Content:Learn, Content:Other, Content:HTTP, Content:Glossary

#20336 Fixing Typos
  files/en-us/learn/getting_started_with_the_web/index.md
Labels: Content:Learn

#20337 Fixing typo
  files/en-us/learn/css/index.md
Labels: Content:Learn

#20331 Consistently explain the domain and range of trig-related functions
  files/en-us/web/javascript/reference/global_objects/math/acos/index.md
  files/en-us/web/javascript/reference/global_objects/math/acosh/index.md
  files/en-us/web/javascript/reference/global_objects/math/asin/index.md
  files/en-us/web/javascript/reference/global_objects/math/asinh/index.md
  files/en-us/web/javascript/reference/global_objects/math/atan/index.md
  files/en-us/web/javascript/reference/global_objects/math/atan2/index.md
  files/en-us/web/javascript/reference/global_objects/math/atanh/index.md
  files/en-us/web/javascript/reference/global_objects/math/cos/index.md
  files/en-us/web/javascript/reference/global_objects/math/cosh/index.md
  files/en-us/web/javascript/reference/global_objects/math/sin/index.md
  files/en-us/web/javascript/reference/global_objects/math/sinh/index.md
  files/en-us/web/javascript/reference/global_objects/math/tan/index.md
  files/en-us/web/javascript/reference/global_objects/math/tanh/index.md
Labels: Content:JS

#20338 Consistently explain the domain and range of power-related functions
  files/en-us/web/javascript/reference/global_objects/math/cbrt/index.md
  files/en-us/web/javascript/reference/global_objects/math/exp/index.md
  files/en-us/web/javascript/reference/global_objects/math/expm1/index.md
  files/en-us/web/javascript/reference/global_objects/math/ln10/index.md
  files/en-us/web/javascript/reference/global_objects/math/ln2/index.md
  files/en-us/web/javascript/reference/global_objects/math/log/index.md
  files/en-us/web/javascript/reference/global_objects/math/log10/index.md
  files/en-us/web/javascript/reference/global_objects/math/log10e/index.md
  files/en-us/web/javascript/reference/global_objects/math/log1p/index.md
  files/en-us/web/javascript/reference/global_objects/math/log2/index.md
  files/en-us/web/javascript/reference/global_objects/math/log2e/index.md
  files/en-us/web/javascript/reference/global_objects/math/pi/index.md
  files/en-us/web/javascript/reference/global_objects/math/pow/index.md
  files/en-us/web/javascript/reference/global_objects/math/sqrt/index.md
  files/en-us/web/javascript/reference/global_objects/math/sqrt1_2/index.md
  files/en-us/web/javascript/reference/global_objects/math/sqrt2/index.md
Labels: Content:JS

#20339 Fixing typos
  files/en-us/learn/getting_started_with_the_web/the_web_and_web_standards/index.md
Labels: Content:Learn

#20340 Fixing typo
  files/en-us/learn/getting_started_with_the_web/index.md
Labels: Content:Learn

#20341 Unify style of remaining Math pages
  files/en-us/web/javascript/reference/global_objects/math/abs/index.md
  files/en-us/web/javascript/reference/global_objects/math/acos/index.md
  files/en-us/web/javascript/reference/global_objects/math/acosh/index.md
  files/en-us/web/javascript/reference/global_objects/math/asin/index.md
  files/en-us/web/javascript/reference/global_objects/math/asinh/index.md
  files/en-us/web/javascript/reference/global_objects/math/atanh/index.md
  files/en-us/web/javascript/reference/global_objects/math/ceil/index.md
  files/en-us/web/javascript/reference/global_objects/math/clz32/index.md
  files/en-us/web/javascript/reference/global_objects/math/cosh/index.md
  files/en-us/web/javascript/reference/global_objects/math/e/index.md
  files/en-us/web/javascript/reference/global_objects/math/floor/index.md
  files/en-us/web/javascript/reference/global_objects/math/fround/index.md
  files/en-us/web/javascript/reference/global_objects/math/hypot/index.md
  files/en-us/web/javascript/reference/global_objects/math/imul/index.md
  files/en-us/web/javascript/reference/global_objects/math/log1p/index.md
  files/en-us/web/javascript/reference/global_objects/math/max/index.md
  files/en-us/web/javascript/reference/global_objects/math/min/index.md
  files/en-us/web/javascript/reference/global_objects/math/random/index.md
  files/en-us/web/javascript/reference/global_objects/math/round/index.md
  files/en-us/web/javascript/reference/global_objects/math/sign/index.md
  files/en-us/web/javascript/reference/global_objects/math/sinh/index.md
  files/en-us/web/javascript/reference/global_objects/math/tanh/index.md
  files/en-us/web/javascript/reference/global_objects/math/trunc/index.md
Labels: Content:JS

#19145 `tan()` - New CSS functional notation
  files/en-us/web/css/tan/index.md
Labels: Content:CSS

#20344 fixed a typo on find out more section
  files/en-us/learn/common_questions/what_are_browser_developer_tools/index.md
Labels: Content:Learn

#20346 Add an overview page for the Paint Timing API
  files/en-us/glossary/first_contentful_paint/index.md
  files/en-us/glossary/first_paint/index.md
  files/en-us/web/api/largest_contentful_paint_api/index.md
  files/en-us/web/api/paint_timing_api/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, Content:Glossary

#20349 Link MathML tutorial from the MathML and Learn pages.
  files/en-us/learn/index.md
  files/en-us/web/mathml/index.md
Labels: Content:Learn, Content:MathML

#20099 fix: MD036 emphasis used instead of a heading
  .markdownlint.json
  files/en-us/glossary/state_machine/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/vue_conditional_rendering/index.md
  files/en-us/learn/tools_and_testing/cross_browser_testing/introduction/index.md
  files/en-us/mdn/at_ten/history_of_mdn/index.md
  files/en-us/mdn/community/issues/index.md
  files/en-us/mdn/writing_guidelines/what_we_write/index.md
  files/en-us/mozilla/add-ons/webextensions/background_scripts/index.md
  files/en-us/mozilla/add-ons/webextensions/content_scripts/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/content_security_policy/index.md
  files/en-us/mozilla/firefox/releases/16/index.md
  files/en-us/mozilla/firefox/releases/43/index.md
  files/en-us/mozilla/firefox/releases/44/index.md
  files/en-us/mozilla/firefox/releases/72/index.md
  files/en-us/mozilla/firefox/releases/80/index.md
  files/en-us/mozilla/firefox/releases/83/index.md
  files/en-us/web/accessibility/accessibility_colon__what_users_can_to_to_browse_safely/index.md
  files/en-us/web/accessibility/an_overview_of_accessible_web_applications_and_widgets/index.md
  files/en-us/web/accessibility/keyboard-navigable_javascript_widgets/index.md
  files/en-us/web/accessibility/seizure_disorders/index.md
  files/en-us/web/api/document_object_model/using_the_w3c_dom_level_1_core/index.md
  files/en-us/web/api/htmlbuttonelement/index.md
  files/en-us/web/api/htmldatalistelement/index.md
  files/en-us/web/api/mathmlelement/index.md
  files/en-us/web/api/messageport/index.md
  files/en-us/web/api/mssitemodeevent/index.md
  files/en-us/web/api/pushevent/data/index.md
  files/en-us/web/api/rtcpeerconnection/rtcpeerconnection/index.md
  files/en-us/web/api/rtcsctptransport/index.md
  files/en-us/web/api/svgelement/index.md
  files/en-us/web/api/webgl_api/webgl_best_practices/index.md
  files/en-us/web/api/webgl_api/webgl_model_view_projection/index.md
  files/en-us/web/api/webrtc_api/using_data_channels/index.md
  files/en-us/web/api/xmldocument/index.md
  files/en-us/web/guide/houdini/index.md
  files/en-us/web/guide/mobile/mobile-friendliness/index.md
  files/en-us/web/svg/element/animatetransform/index.md
  files/en-us/web/xpath/axes/namespace/index.md
  files/en-us/web/xpath/functions/sum/index.md
  files/en-us/web/xslt/transforming_xml_with_xslt/the_netscape_xslt_xpath_reference/axes/namespace/index.md
  files/en-us/web/xslt/xslt_js_interface_in_gecko/advanced_example/index.md
  files/en-us/web/xslt/xslt_js_interface_in_gecko/basic_example/index.md
  files/en-us/web/xslt/xslt_js_interface_in_gecko/javascript_xslt_bindings/index.md
  files/en-us/web/xslt/xslt_js_interface_in_gecko/setting_parameters/index.md
  meta/content/en/legacy/documentation-priorities.md
Labels: Content:WebExt, Content:WebAPI, Content:Learn, Content:Other, Content:Accessibility, Content:SVG, Content:Glossary

#20352 Remove api.CanvasRenderingContext2D.drawWindow from MDN
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/canvasrenderingcontext2d/drawwindow/index.md
Labels: Content:WebAPI

#20350 Make first-paint glossary more precise
  files/en-us/glossary/first_paint/index.md
Labels: Content:Glossary

#20363 Remove extra spaces
  files/en-us/mdn/writing_guidelines/howto/research_technology/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_constructor_subpage_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_event_subpage_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_landing_page_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_method_subpage_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_property_subpage_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/html_element_page_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/svg_element_page_template/index.md
  files/en-us/mozilla/add-ons/webextensions/api/browsersettings/zoomsitespecific/index.md
  files/en-us/mozilla/add-ons/webextensions/api/contentscripts/index.md
  files/en-us/mozilla/add-ons/webextensions/api/history/onvisitremoved/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/onhighlighted/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/handlerbehaviorchanged/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onauthrequired/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onbeforeredirect/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onbeforerequest/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/oncompleted/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onerroroccurred/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onheadersreceived/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onresponsestarted/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onsendheaders/index.md
  files/en-us/mozilla/add-ons/webextensions/api/windows/create/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/content_scripts/index.md
Labels: Content:WebExt, Content:Other

#20362 Remove punctuation marks from code
  files/en-us/web/api/domrectreadonly/bottom/index.md
  files/en-us/web/api/domrectreadonly/left/index.md
  files/en-us/web/api/domrectreadonly/right/index.md
  files/en-us/web/api/domrectreadonly/top/index.md
Labels: Content:WebAPI

#20364 Deemphasize IE notes in typeof, more descriptive headings
  files/en-us/web/javascript/reference/operators/typeof/index.md
Labels: Content:JS

#20141 [Role: Grid] More information about keyboard interactions
  files/en-us/web/accessibility/aria/roles/grid_role/index.md
Labels: Content:Accessibility

#20224 Suggestion is not a landmark role
  files/en-us/web/accessibility/aria/roles/suggestion_role/index.md
Labels: Content:Accessibility

#20367 Fix 20365: remove mention of Flash
  files/en-us/learn/html/multimedia_and_embedding/other_embedding_technologies/index.md
Labels: Content:Learn

#20369 Daily markdownlint
  files/en-us/glossary/first_paint/index.md
Labels: Content:Glossary

#20373 Fix some GitHub Pages links
  files/en-us/learn/html/multimedia_and_embedding/other_embedding_technologies/index.md
  files/en-us/learn/html/multimedia_and_embedding/video_and_audio_content/index.md
Labels: Content:Learn

#20372 Remove some more Flash references
  files/en-us/web/api/mimetypearray/index.md
  files/en-us/web/guide/audio_and_video_delivery/cross_browser_video_player/index.md
  files/en-us/web/http/basics_of_http/mime_types/common_types/index.md
  files/en-us/web/http/headers/content-security-policy/plugin-types/index.md
Labels: Content:WebAPI, Content:Learn, Content:HTTP

#20371 Mention return type of derived class constructor and non-object prototype
  files/en-us/web/javascript/reference/classes/extends/index.md
  files/en-us/web/javascript/reference/global_objects/function/prototype/index.md
  files/en-us/web/javascript/reference/operators/new/index.md
Labels: Content:JS

#20366 Fix typo in project writing guidelines
  files/en-us/mdn/writing_guidelines/experimental_deprecated_obsolete/index.md
Labels: Content:Other

#20182 Added ElementInternals.role to section
  files/en-us/web/api/elementinternals/index.md
Labels: Content:WebAPI

#20370 Synchronize with BCD v5.2.1
  files/en-us/web/api/encodedaudiochunk/index.md
  files/en-us/web/api/encodedvideochunk/index.md
  files/en-us/web/api/featurepolicy/index.md
  files/en-us/web/api/filesystemwritablefilestream/index.md
  files/en-us/web/api/navigator/index.md
  files/en-us/web/api/navigator/windowcontrolsoverlay/index.md
  files/en-us/web/api/window_controls_overlay_api/index.md
  files/en-us/web/api/windowcontrolsoverlay/geometrychange_event/index.md
  files/en-us/web/api/windowcontrolsoverlay/gettitlebararearect/index.md
  files/en-us/web/api/windowcontrolsoverlay/index.md
  files/en-us/web/api/windowcontrolsoverlay/visible/index.md
  files/en-us/web/api/windowcontrolsoverlaygeometrychangeevent/index.md
  files/en-us/web/api/windowcontrolsoverlaygeometrychangeevent/titlebararearect/index.md
  files/en-us/web/api/windowcontrolsoverlaygeometrychangeevent/visible/index.md
  files/en-us/web/api/windowcontrolsoverlaygeometrychangeevent/windowcontrolsoverlaygeometrychangeevent/index.md
  files/en-us/web/css/env/index.md
  files/en-us/web/css/font-size/index.md
  files/en-us/web/css/tan/index.md
  files/en-us/web/mathml/element/maction/index.md
Labels: Content:CSS, Content:WebAPI, Content:MathML

#20357 Fixed word usage
  files/en-us/web/api/fetch_api/using_fetch/index.md
Labels: Content:WebAPI

#20355 4069: add note about HTML namespaces, point to namespace reference
  files/en-us/web/html/global_attributes/draggable/index.md
Labels: Content:HTML

#16036 chore: Add Markdownlint cleanup job
  .github/workflows/markdown-lint-fix.yml
Labels: infra

#20356 Update to include links to `type` and `herflang` pages
  files/en-us/web/html/attributes/rel/index.md
Labels: Content:HTML

#20314 Add property math-shift
  files/en-us/web/css/math-shift/index.md
Labels: Content:CSS

#20375 Minor grammatical tweaks for accuracy
  files/en-us/web/accessibility/aria/attributes/aria-describedby/index.md
  files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
Labels: Content:Accessibility

#20376 Missing alt attributes
  files/en-us/learn/tools_and_testing/cross_browser_testing/javascript/index.md
Labels: Content:Learn

#20377 Fix trailing comma description about quantifier, add description
  files/en-us/web/javascript/guide/grammar_and_types/index.md
  files/en-us/web/javascript/reference/lexical_grammar/index.md
  files/en-us/web/javascript/reference/trailing_commas/index.md
Labels: Content:JS

#20379 Fix typo in host_permissions
  files/en-us/mozilla/add-ons/webextensions/manifest.json/host_permissions/index.md
Labels: Content:WebExt, Content:Other

#20387 Improve spelling of expressions
  files/en-us/games/anatomy/index.md
  files/en-us/games/examples/index.md
  files/en-us/learn/tools_and_testing/cross_browser_testing/introduction/index.md
  files/en-us/web/api/pointer_lock_api/index.md
  files/en-us/web/guide/audio_and_video_delivery/index.md
  files/en-us/web/guide/user_input_methods/index.md
Labels: Content:WebAPI, Content:Learn, Content:Other

#20385 Add API overview page for Device Orientation Events
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/games/techniques/3d_on_the_web/webvr/index.md
  files/en-us/mdn/writing_guidelines/howto/write_an_api_reference/sidebars/index.md
  files/en-us/mozilla/firefox/releases/3.6/index.md
  files/en-us/web/api/device_orientation_events/detecting_device_orientation/index.md
  files/en-us/web/api/device_orientation_events/index.md
  files/en-us/web/api/device_orientation_events/orientation_and_motion_data_explained/alpha.png
  files/en-us/web/api/device_orientation_events/orientation_and_motion_data_explained/axes.png
  files/en-us/web/api/device_orientation_events/orientation_and_motion_data_explained/beta2.png
  files/en-us/web/api/device_orientation_events/orientation_and_motion_data_explained/gamma.png
  files/en-us/web/api/device_orientation_events/orientation_and_motion_data_explained/index.md
  files/en-us/web/api/device_orientation_events/using_device_orientation_with_3d_transforms/index.md
  files/en-us/web/api/devicemotionevent/acceleration/index.md
  files/en-us/web/api/devicemotionevent/accelerationincludinggravity/index.md
  files/en-us/web/api/devicemotionevent/index.md
  files/en-us/web/api/devicemotionevent/interval/index.md
  files/en-us/web/api/devicemotionevent/rotationrate/index.md
  files/en-us/web/api/devicemotioneventacceleration/x/index.md
  files/en-us/web/api/devicemotioneventacceleration/y/index.md
  files/en-us/web/api/devicemotioneventacceleration/z/index.md
  files/en-us/web/api/devicemotioneventrotationrate/alpha/index.md
  files/en-us/web/api/devicemotioneventrotationrate/beta/index.md
  files/en-us/web/api/devicemotioneventrotationrate/gamma/index.md
  files/en-us/web/api/deviceorientationevent/absolute/index.md
  files/en-us/web/api/deviceorientationevent/alpha/index.md
  files/en-us/web/api/deviceorientationevent/beta/index.md
  files/en-us/web/api/deviceorientationevent/gamma/index.md
  files/en-us/web/api/deviceorientationevent/index.md
  files/en-us/web/api/window/deviceorientation_event/index.md
  files/en-us/web/api/window/deviceorientationabsolute_event/index.md
  files/en-us/web/css/css_transforms/using_css_transforms/index.md
  files/en-us/web/guide/mobile/index.md
  files/en-us/web/security/secure_contexts/features_restricted_to_secure_contexts/index.md
  files/jsondata/GroupData.json
Labels: Content:CSS, Content:WebAPI, Content:Learn, Content:Other

#20389 Fix a link error
  files/en-us/glossary/bezier_curve/index.md
Labels: Content:Glossary

#20347 Fix legacy algorithm for <semantics> and remove obsolete attributes
  files/en-us/web/mathml/element/semantics/index.md
Labels: Content:MathML

#20386 Update the parameters of CSS `sin()` function
  files/en-us/web/css/sin/index.md
Labels: Content:CSS

#20388 Update CSS trigonometric functions description
  files/en-us/web/css/css_functions/index.md
Labels: Content:CSS

#20391 remove the broken link
  files/en-us/glossary/ltr/index.md
Labels: Content:Glossary

#20392 Fixing typo in Operators explanation
  files/en-us/web/javascript/language_overview/index.md
Labels: Content:JS

#20394 Fix description of PNG image format
  files/en-us/web/html/element/img/index.md
Labels: Content:HTML

#20395 Move shells page into technologies overview, remove outdated links
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/javascript/index.md
  files/en-us/web/javascript/javascript_technologies_overview/index.md
  files/en-us/web/javascript/shells/index.md
Labels: Content:JS

#20384 1637: preventDefault on `keypress` example allowed browser autocomplete before any keystrokes
  files/en-us/web/api/event/preventdefault/index.md
Labels: Content:WebAPI
