Repository mdn/content, pull requests merged in 2022-12, with the labels that each got.

#22647 Add sidebar
  files/en-us/web/html/element/marquee/index.md
Labels: Content:HTML

#22650 Add in link to TLS 1.3
  files/en-us/glossary/tls/index.md
Labels: Content:Glossary

#22651 Dialog element minutia.
  files/en-us/web/api/htmldialogelement/cancel_event/index.md
  files/en-us/web/api/htmldialogelement/close_event/index.md
  files/en-us/web/api/htmldialogelement/index.md
Labels: Content:WebAPI

#22645 Dialog: links to page
  files/en-us/web/accessibility/aria/attributes/aria-modal/index.md
  files/en-us/web/accessibility/aria/roles/alertdialog_role/index.md
  files/en-us/web/api/htmldialogelement/close/index.md
  files/en-us/web/api/htmldialogelement/close_event/index.md
  files/en-us/web/api/htmldialogelement/open/index.md
  files/en-us/web/api/htmldialogelement/returnvalue/index.md
  files/en-us/web/api/htmlelement/inert/index.md
  files/en-us/web/css/_colon_modal/index.md
  files/en-us/web/html/global_attributes/inert/index.md
  files/en-us/web/html/global_attributes/tabindex/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:Accessibility, rebase needed :construction:

#22656 Fix grammar
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/react_accessibility/index.md
Labels: Content:Learn

#22654 Removed redundant phrase
  files/en-us/web/css/selector_list/index.md
Labels: Content:CSS

#22661 Changed the URLs to the Trusted Types repository.
  files/en-us/web/api/trusted_types_api/index.md
  files/en-us/web/api/trustedtypepolicyfactory/emptyscript/index.md
  files/en-us/web/http/headers/content-security-policy/require-trusted-types-for/index.md
  files/en-us/web/http/headers/content-security-policy/trusted-types/index.md
  files/jsondata/SpecData.json
Labels: Content:WebAPI, Content:HTTP

#22659 chore(meta): Move changelog from 'MDN/Contribute/Changelog' to 'MDN/Changelog'
  files/en-us/_redirects.txt
  files/en-us/mdn/changelog/index.md
Labels: Content:Other

#22658 Service Worker API landing page - Update inline info for interfaces based on related interfaces pages
  files/en-us/web/api/service_worker_api/index.md
Labels: Content:WebAPI

#22655 Fix grammar
  files/en-us/web/javascript/reference/lexical_grammar/index.md
Labels: Content:JS

#22638 chore(meta): Move KumaScript docs to Yari repo
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mdn/at_ten/history_of_mdn/index.md
  files/en-us/mdn/tools/index.md
  files/en-us/mdn/tools/kumascript/index.md
  files/en-us/mdn/tools/kumascript/troubleshooting/index.md
  files/en-us/mdn/writing_guidelines/page_structures/macros/index.md
Labels: Content:Other

#22664 Correct `srcset` guidance (#22649)
  files/en-us/web/api/htmlimageelement/srcset/index.md
Labels: Content:WebAPI

#22662 Remove needless indentation on "good" example
  files/en-us/web/css/time/index.md
Labels: Content:CSS

#22668 Align RegExp legacy feature pages
  files/en-us/web/javascript/reference/deprecated_and_obsolete_features/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/compile/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/input/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/lastmatch/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/lastparen/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/leftcontext/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/n/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/rightcontext/index.md
Labels: Content:JS

#22665 Disclaimer: explain why new feature might not show
  files/en-us/web/api/element/beforematch_event/index.md
Labels: Content:WebAPI

#22653 Removed an extra bracket from the code example
  files/en-us/web/css/@supports/index.md
Labels: Content:CSS

#22676 Fix typos
  files/en-us/web/api/usbdevice/index.md
Labels: Content:WebAPI

#22666 Add in released RFC for DTLS 1.3
  files/en-us/glossary/dtls/index.md
Labels: Content:Glossary

#22677 Add the Refresh header to the HTTP headers page
  files/en-us/web/http/headers/index.md
Labels: Content:HTTP

#22684 Fix indefinite article usage
  files/en-us/web/api/navigation/currententrychange_event/index.md
  files/en-us/web/api/navigation/navigate_event/index.md
Labels: Content:WebAPI

#22675 Improve deepFreeze() example
  files/en-us/web/javascript/reference/global_objects/object/freeze/index.md
Labels: Content:JS

#22688 Improve Readability
  files/en-us/web/api/file_api/using_files_from_web_applications/index.md
Labels: Content:WebAPI

#22689 Clarify wording on cookie domain setting
  files/en-us/web/http/cookies/index.md
Labels: Content:HTTP

#22648 Add sidebars to audio guide pages
  files/en-us/web/guide/audio_and_video_delivery/adding_captions_and_subtitles_to_html5_video/index.md
  files/en-us/web/guide/audio_and_video_delivery/buffering_seeking_time_ranges/index.md
  files/en-us/web/guide/audio_and_video_delivery/cross-browser_audio_basics/index.md
  files/en-us/web/guide/audio_and_video_delivery/cross_browser_video_player/index.md
  files/en-us/web/guide/audio_and_video_delivery/live_streaming_web_audio_and_video/index.md
  files/en-us/web/guide/audio_and_video_delivery/setting_up_adaptive_streaming_media_sources/index.md
  files/en-us/web/guide/audio_and_video_delivery/video_player_styling_basics/index.md
  files/en-us/web/guide/audio_and_video_delivery/web_audio_api_cross_browser/index.md
  files/en-us/web/guide/audio_and_video_delivery/webaudio_playbackrate_explained/index.md
Labels: Content:Learn

#22667 Clarify logical operators
  files/en-us/web/css/@media/index.md
Labels: Content:CSS

#22685 Fix backdrop-filter example
  files/en-us/web/css/backdrop-filter/anemones.jpg
  files/en-us/web/css/backdrop-filter/index.md
Labels: Content:CSS

#22657 chore(docs): "update the css json db" guide moved to data repo
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mdn/contribute/howto/index.md
  files/en-us/mdn/contribute/howto/update_the_css_json_db/index.md
  files/en-us/mdn/contribute/howto/update_the_css_json_db/property_definition.png
  files/en-us/mdn/contribute/howto/update_the_css_json_db/property_index.png
  files/en-us/mdn/writing_guidelines/howto/document_a_css_property/index.md
Labels: Content:Other

#22693 Fix some groups
  files/en-us/web/api/ndefmessage/index.md
  files/en-us/web/api/ndefmessage/ndefmessage/index.md
  files/en-us/web/api/ndefmessage/records/index.md
  files/en-us/web/api/ndefreader/index.md
  files/en-us/web/api/ndefreader/ndefreader/index.md
  files/en-us/web/api/ndefreader/reading_event/index.md
  files/en-us/web/api/ndefreader/readingerror_event/index.md
  files/en-us/web/api/ndefreader/scan/index.md
  files/en-us/web/api/ndefreader/write/index.md
  files/en-us/web/api/ndefrecord/data/index.md
  files/en-us/web/api/ndefrecord/encoding/index.md
  files/en-us/web/api/ndefrecord/id/index.md
  files/en-us/web/api/ndefrecord/index.md
  files/en-us/web/api/ndefrecord/lang/index.md
  files/en-us/web/api/ndefrecord/mediatype/index.md
  files/en-us/web/api/ndefrecord/ndefrecord/index.md
  files/en-us/web/api/ndefrecord/recordtype/index.md
  files/en-us/web/api/ndefrecord/torecords/index.md
  files/en-us/web/api/performance_api/using_the_performance_api/const resources = performance.getEntries.js
  files/jsondata/GroupData.json
Labels: Content:WebAPI

#22696 fix: Euler's constant -> Euler's number
  files/en-us/web/javascript/reference/global_objects/math/index.md
Labels: Content:JS

#22702 Remove file added in error
  files/en-us/web/api/performance_api/using_the_performance_api/const resources = performance.getEntries.js
Labels: Content:WebAPI

#22704 Remove dead links
  files/en-us/games/examples/index.md
Labels: Content:Other

#22713 Spelling Omission at line 388
  files/en-us/learn/server-side/express_nodejs/deployment/index.md
Labels: Content:Learn

#22711 fx72 for devs: move `crossOriginIsolated` to APIs section
  files/en-us/mozilla/firefox/releases/72/index.md
Labels: Content:Other

#22708 Add sidebars to mobile guide pages
  files/en-us/web/guide/mobile/a_hybrid_approach/index.md
  files/en-us/web/guide/mobile/mobile-friendliness/index.md
Labels: Content:Learn

#22710 Improve descriptions of promise methods
  files/en-us/web/javascript/guide/using_promises/index.md
  files/en-us/web/javascript/reference/global_objects/promise/@@species/index.md
  files/en-us/web/javascript/reference/global_objects/promise/catch/index.md
  files/en-us/web/javascript/reference/global_objects/promise/finally/index.md
  files/en-us/web/javascript/reference/global_objects/promise/then/index.md
Labels: Content:JS

#22714 Made sentence easy to understand
  files/en-us/web/css/_colon_paused/index.md
Labels: Content:CSS

#22719 Fix header level and hierarchy for `Cache-Control` page
  files/en-us/web/http/headers/cache-control/index.md
Labels: Content:HTTP

#22717 Accessibility notes updates
  files/en-us/web/html/element/dl/index.md
Labels: Content:HTML

#22721 Remove underscores from links
  files/en-us/web/api/html_dom_api/index.md
Labels: Content:WebAPI

#22718 Fix grammar.
  files/en-us/learn/css/building_blocks/handling_different_text_directions/index.md
Labels: Content:Learn

#22707 Add omitting options argument section
  files/en-us/web/javascript/reference/global_objects/error/error/index.md
Labels: Content:JS

#21815 add content for FileSystemSyncAccessHandle
  files/en-us/web/api/file_system_access_api/index.md
  files/en-us/web/api/filesystemfilehandle/createsyncaccesshandle/index.md
  files/en-us/web/api/filesystemfilehandle/createwritable/index.md
  files/en-us/web/api/filesystemfilehandle/getfile/index.md
  files/en-us/web/api/filesystemfilehandle/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/close/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/flush/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/getsize/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/read/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/truncate/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/write/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

#22154 adding content for ContentVisibilityAutoStateChangedEvent
  files/en-us/web/api/contentvisibilityautostatechangedevent/contentvisibilityautostatechangedevent/index.md
  files/en-us/web/api/contentvisibilityautostatechangedevent/index.md
  files/en-us/web/api/contentvisibilityautostatechangedevent/skipped/index.md
  files/en-us/web/api/element/contentvisibilityautostatechanged_event/index.md
  files/en-us/web/api/element/index.md
  files/en-us/web/css/content-visibility/index.md
  files/en-us/web/css/css_containment/index.md
  files/jsondata/GroupData.json
Labels: Content:CSS, Content:WebAPI

#22670 USBDevice.controlTransferIn/Out et al - confusing text
  files/en-us/web/api/usbdevice/controltransferin/index.md
  files/en-us/web/api/usbdevice/controltransferout/index.md
  files/en-us/web/api/usbdevice/isochronoustransferin/index.md
  files/en-us/web/api/usbdevice/isochronoustransferout/index.md
Labels: Content:WebAPI

#22596 Updated alt text for CROS images
  files/en-us/web/http/cors/index.md
Labels: Content:HTTP

#22751 Fix indefinite article usage
  files/en-us/learn/common_questions/common_web_layouts/index.md
  files/en-us/learn/javascript/client-side_web_apis/drawing_graphics/index.md
  files/en-us/web/media/formats/image_types/index.md
Labels: Content:Learn, Content:Media

#22752 add missing image and fix reference to it
  files/en-us/web/css/background-repeat/favicon32.png
  files/en-us/web/css/background-repeat/index.md
Labels: Content:CSS

#22753 Redirect toGMTString to toUTCString
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/javascript/reference/deprecated_and_obsolete_features/index.md
  files/en-us/web/javascript/reference/global_objects/date/index.md
  files/en-us/web/javascript/reference/global_objects/date/togmtstring/index.md
  files/en-us/web/javascript/reference/global_objects/date/toutcstring/index.md
Labels: Content:JS

#22755 Update Speaking JavaScript link
  files/en-us/web/tutorials/index.md
Labels: Content:Learn

#22671 Dialog: examples and text improvements
  files/en-us/web/api/element/index.md
  files/en-us/web/api/event/returnvalue/index.md
  files/en-us/web/api/htmldialogelement/cancel_event/index.md
  files/en-us/web/api/htmldialogelement/close/index.md
  files/en-us/web/api/htmldialogelement/index.md
  files/en-us/web/api/htmldialogelement/open/index.md
  files/en-us/web/api/htmldialogelement/returnvalue/index.md
Labels: Content:WebAPI

#22683 Rewrite PerformanceNavigationTiming pages
  files/en-us/web/api/performancenavigationtiming/domcomplete/index.md
  files/en-us/web/api/performancenavigationtiming/domcontentloadedeventend/index.md
  files/en-us/web/api/performancenavigationtiming/domcontentloadedeventstart/index.md
  files/en-us/web/api/performancenavigationtiming/dominteractive/index.md
  files/en-us/web/api/performancenavigationtiming/index.md
  files/en-us/web/api/performancenavigationtiming/loadeventend/index.md
  files/en-us/web/api/performancenavigationtiming/loadeventstart/index.md
  files/en-us/web/api/performancenavigationtiming/redirectcount/index.md
  files/en-us/web/api/performancenavigationtiming/timestamp-diagram.svg
  files/en-us/web/api/performancenavigationtiming/type/index.md
  files/en-us/web/api/performancenavigationtiming/unloadeventend/index.md
  files/en-us/web/api/performancenavigationtiming/unloadeventstart/index.md
Labels: Content:WebAPI

#22750 Complete docs for DOMStringList
  files/en-us/web/api/domstringlist/contains/index.md
  files/en-us/web/api/domstringlist/index.md
  files/en-us/web/api/domstringlist/item/index.md
  files/en-us/web/api/domstringlist/length/index.md
Labels: Content:WebAPI

#22720 New page: htmldetailselement.open
  files/en-us/web/api/htmldetailselement/open/index.md
Labels: Content:WebAPI

#22757 fix: SeeCompatTable casing
  files/en-us/web/api/contentvisibilityautostatechangedevent/contentvisibilityautostatechangedevent/index.md
  files/en-us/web/api/contentvisibilityautostatechangedevent/index.md
  files/en-us/web/api/contentvisibilityautostatechangedevent/skipped/index.md
  files/en-us/web/api/element/contentvisibilityautostatechanged_event/index.md
Labels: Content:WebAPI

#22586 Retire CanvasSidebar from en-US
  files/en-us/web/api/canvas_api/index.md
  files/en-us/web/api/canvas_api/manipulating_video_using_canvas/index.md
  files/en-us/web/api/canvas_api/tutorial/advanced_animations/index.md
  files/en-us/web/api/canvas_api/tutorial/applying_styles_and_colors/index.md
  files/en-us/web/api/canvas_api/tutorial/basic_animations/index.md
  files/en-us/web/api/canvas_api/tutorial/basic_usage/index.md
  files/en-us/web/api/canvas_api/tutorial/compositing/example/index.md
  files/en-us/web/api/canvas_api/tutorial/compositing/index.md
  files/en-us/web/api/canvas_api/tutorial/drawing_shapes/index.md
  files/en-us/web/api/canvas_api/tutorial/drawing_text/index.md
  files/en-us/web/api/canvas_api/tutorial/finale/index.md
  files/en-us/web/api/canvas_api/tutorial/index.md
  files/en-us/web/api/canvas_api/tutorial/optimizing_canvas/index.md
  files/en-us/web/api/canvas_api/tutorial/pixel_manipulation_with_canvas/index.md
  files/en-us/web/api/canvas_api/tutorial/transformations/index.md
  files/en-us/web/api/canvas_api/tutorial/using_images/index.md
  files/jsondata/GroupData.json
  files/jsondata/L10n-Common.json
Labels: Content:WebAPI

#22764 Fix indefinite article usage
  files/en-us/web/accessibility/aria/roles/tree_role/index.md
  files/en-us/web/accessibility/aria/roles/treeitem_role/index.md
  files/en-us/web/svg/element/feconvolvematrix/index.md
  files/en-us/web/svg/element/marker/index.md
Labels: Content:Accessibility, Content:SVG

#22729 Delete deprecated macros page
  files/en-us/mdn/writing_guidelines/page_structures/macros/deprecated_macros/index.md
  files/en-us/mdn/writing_guidelines/page_structures/macros/index.md
Labels: Content:Other

#22765 Several buttons behave as submit buttons in form
  files/en-us/web/html/element/input/submit/index.md
Labels: Content:HTML

#22723 Clarify datatypes
  files/en-us/web/api/console/time/index.md
  files/en-us/web/api/console/timeend/index.md
Labels: Content:WebAPI

#22730 Add sidebars to HTML guide pages
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/glossary/xhtml/index.md
  files/en-us/web/guide/html/xhtml/index.md
  files/en-us/web/html/constraint_validation/index.md
  files/en-us/web/html/content_categories/content_categories_venn.png
  files/en-us/web/html/content_categories/index.md
Labels: Content:HTML, Content:Learn, Content:Glossary

#22724 Fix incorrect drop target example
  files/en-us/web/api/html_drag_and_drop_api/drag_operations/index.md
Labels: Content:WebAPI

#22774 fix typo in createImageBitmap api
  files/en-us/web/api/createimagebitmap/index.md
Labels: Content:WebAPI

#22519 Document font-palette & @font-palette-values with its descriptors
  files/en-us/mozilla/firefox/releases/107/index.md
  files/en-us/web/css/@font-palette-values/base-palette/index.md
  files/en-us/web/css/@font-palette-values/base-palette/rocher-color-font-alt-base-palettes.jpg
  files/en-us/web/css/@font-palette-values/font-family/index.md
  files/en-us/web/css/@font-palette-values/index.md
  files/en-us/web/css/@font-palette-values/override-colors/index.md
  files/en-us/web/css/@font-palette-values/override-colors/override-base-palette-color.jpg
  files/en-us/web/css/custom-ident/index.md
  files/en-us/web/css/dashed-ident/index.md
  files/en-us/web/css/font-palette/index.md
  files/en-us/web/css/ident/index.md
Labels: Content:CSS, Content:Other, Firefox 107

#22240 22225: Add links to accessibility guides section
  files/en-us/web/accessibility/aria/aria_guides/index.md
Labels: Content:Accessibility

#22747 add hyphenate-limit-chars CSS property
  files/en-us/web/css/css_text/index.md
  files/en-us/web/css/hyphenate-limit-chars/index.md
Labels: Content:CSS, Firefox 109

#22780 Change "hypertext link" to "hypertext links"
  files/en-us/web/html/element/area/index.md
Labels: Content:HTML

#22779 Fix interfaces links
  files/en-us/web/api/file_system_access_api/index.md
Labels: Content:WebAPI

#22778 Split (Async)?(Generator)?Function class and ctor pages
  files/en-us/web/javascript/reference/global_objects/asyncfunction/asyncfunction/index.md
  files/en-us/web/javascript/reference/global_objects/asyncfunction/index.md
  files/en-us/web/javascript/reference/global_objects/asyncgeneratorfunction/asyncgeneratorfunction/index.md
  files/en-us/web/javascript/reference/global_objects/asyncgeneratorfunction/index.md
  files/en-us/web/javascript/reference/global_objects/function/function/index.md
  files/en-us/web/javascript/reference/global_objects/function/index.md
  files/en-us/web/javascript/reference/global_objects/function/prototype/index.md
  files/en-us/web/javascript/reference/global_objects/generatorfunction/generatorfunction/index.md
  files/en-us/web/javascript/reference/global_objects/generatorfunction/index.md
Labels: Content:JS

#22789 fix indefinite articles usage
  files/en-us/games/techniques/3d_on_the_web/building_up_a_basic_demo_with_a-frame/index.md
  files/en-us/glossary/ice/index.md
  files/en-us/mdn/community/pull_requests/index.md
  files/en-us/mdn/writing_guidelines/writing_style_guide/index.md
  files/en-us/mozilla/add-ons/webextensions/api/devtools/inspectedwindow/eval/index.md
Labels: Content:WebExt, Content:Other, Content:Glossary

#22771 Update Paint Timing pages
  files/en-us/_redirects.txt
  files/en-us/glossary/first_contentful_paint/index.md
  files/en-us/glossary/first_paint/index.md
  files/en-us/web/api/paint_timing_api/index.md
  files/en-us/web/api/performancepainttiming/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, Content:Glossary

#22786 Edit: <dialog> element
  files/en-us/web/html/element/dialog/index.md
Labels: Content:HTML

#22691 New page: validityState.valueMissing
  files/en-us/web/api/validitystate/valuemissing/index.md
  files/en-us/web/html/attributes/required/index.md
Labels: Content:HTML, Content:WebAPI

#22787 WeakSet: Improve recursive validation example
  files/en-us/web/javascript/reference/global_objects/weakset/index.md
Labels: Content:JS

#22255 Alt tag added - reference issue #21616
  files/en-us/web/api/presentation_api/index.md
Labels: Content:WebAPI

#22802 Fix typo in subtle crypto digest
  files/en-us/web/api/subtlecrypto/digest/index.md
Labels: Content:WebAPI

#22803 Fix Viewport width and screen width
  files/en-us/web/html/viewport_meta_tag/index.md
Labels: Content:HTML

#22811 fix: various typos
  files/en-us/web/html/element/dialog/index.md
Labels: Content:HTML

#22806 Fix typo "and and"
  files/en-us/web/api/performanceresourcetiming/index.md
Labels: Content:WebAPI

#22808 TLS not SSL
  files/en-us/web/api/performanceresourcetiming/connectend/index.md
  files/en-us/web/api/performanceresourcetiming/index.md
  files/en-us/web/api/performanceresourcetiming/secureconnectionstart/index.md
Labels: Content:WebAPI

#22738 add getDirectory() and other assorted changes related to OPFS
  files/en-us/web/api/file_system_access_api/index.md
  files/en-us/web/api/filesystemdirectoryhandle/entries/index.md
  files/en-us/web/api/filesystemdirectoryhandle/getdirectoryhandle/index.md
  files/en-us/web/api/filesystemdirectoryhandle/getfilehandle/index.md
  files/en-us/web/api/filesystemdirectoryhandle/index.md
  files/en-us/web/api/filesystemdirectoryhandle/keys/index.md
  files/en-us/web/api/filesystemdirectoryhandle/removeentry/index.md
  files/en-us/web/api/filesystemdirectoryhandle/resolve/index.md
  files/en-us/web/api/filesystemdirectoryhandle/values/index.md
  files/en-us/web/api/filesystemfilehandle/createsyncaccesshandle/index.md
  files/en-us/web/api/filesystemhandle/issameentry/index.md
  files/en-us/web/api/filesystemhandle/kind/index.md
  files/en-us/web/api/filesystemhandle/name/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/index.md
  files/en-us/web/api/storagemanager/getdirectory/index.md
  files/en-us/web/api/storagemanager/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

#22792 Document URLPattern() constructor ignoreCase option
  files/en-us/web/api/url_pattern_api/index.md
  files/en-us/web/api/urlpattern/urlpattern/index.md
Labels: Content:WebAPI

#22821 Remove documentation for the MathML <none/> element
  files/en-us/web/mathml/element/index.md
  files/en-us/web/mathml/element/mmultiscripts/index.md
Labels: Content:MathML

#22796 Precise the the behaviour of the reduce
  files/en-us/web/javascript/reference/global_objects/array/reduce/index.md
Labels: Content:JS

#22810 font-palette: Add the missing closing code fence
  files/en-us/web/css/font-palette/index.md
Labels: Content:CSS

#22812 Fix typo in Web/API/Request/body doc
  files/en-us/web/api/request/body/index.md
Labels: Content:WebAPI

#22815 MathML: directly refer to W3C's math tools.
  files/en-us/web/mathml/index.md
Labels: Content:MathML

#22784 Fix a small error in Django skeleton page
  files/en-us/learn/server-side/django/skeleton_website/index.md
Labels: Content:Learn

#22837 Fix "void tags" with "void elements"
  files/en-us/glossary/html/index.md
Labels: Content:Glossary

#22838 Fix typo
  files/en-us/web/accessibility/aria/roles/menubar_role/index.md
Labels: Content:Accessibility

#22828 Add underscores around slug of Object/proto
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/javascript/reference/global_objects/object/__proto__/index.md
Labels: Content:JS

#22843 Update index.md
  files/en-us/learn/server-side/django/models/index.md
Labels: Content:Learn

#22840 Add WebDriver conformance updates for 108 release notes
  files/en-us/mozilla/firefox/releases/108/index.md
Labels: Content:Other

#22825 initiatorType does not have a font value
  files/en-us/web/api/performanceresourcetiming/index.md
  files/en-us/web/api/performanceresourcetiming/initiatortype/index.md
Labels: Content:WebAPI

#22851 Revert "Add underscores around slug of Object/proto"
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/javascript/reference/global_objects/object/proto/index.md
Labels: Content:JS

#22339 Mention javascript #22274
  files/en-us/web/html/element/button/index.md
Labels: Content:HTML

#22777 :visited: edits
  files/en-us/web/css/_colon_visited/index.md
Labels: Content:CSS

#22858 Synchronize with BCD v5.2.21
  files/en-us/web/api/contentvisibilityautostatechangedevent/index.md
  files/en-us/web/api/element/index.md
  files/en-us/web/javascript/reference/functions/arguments/callee/index.md
  files/en-us/web/javascript/reference/functions/arguments/index.md
Labels: Content:WebAPI, Content:JS

#22836 Clarify prefixed numeric literal descriptions
  files/en-us/web/javascript/reference/lexical_grammar/index.md
Labels: Content:JS

#22870 Update public field declarations section
  files/en-us/web/javascript/reference/classes/index.md
Labels: Content:JS

#22871 fix: OFPS -> OPFS
  files/en-us/web/api/file_system_access_api/index.md
Labels: Content:WebAPI

#22848 Provide an await alternative example to fetch
  files/en-us/web/api/readablestream/pipeto/index.md
Labels: Content:WebAPI

#22860 example: complement Web API Response redirected.
  files/en-us/web/api/response/redirected/index.md
Labels: Content:WebAPI

#22823 Make use of buttons in the Practical closures example, rather than anchors.
  files/en-us/web/javascript/closures/index.md
Labels: Content:JS

#22822 Update pages for Largest Contentful Paint
  files/en-us/_redirects.txt
  files/en-us/glossary/first_contentful_paint/index.md
  files/en-us/glossary/first_paint/index.md
  files/en-us/glossary/largest_contentful_paint/index.md
  files/en-us/web/api/largest_contentful_paint_api/index.md
  files/en-us/web/api/largestcontentfulpaint/element/index.md
  files/en-us/web/api/largestcontentfulpaint/id/index.md
  files/en-us/web/api/largestcontentfulpaint/index.md
  files/en-us/web/api/largestcontentfulpaint/loadtime/index.md
  files/en-us/web/api/largestcontentfulpaint/rendertime/index.md
  files/en-us/web/api/largestcontentfulpaint/size/index.md
  files/en-us/web/api/largestcontentfulpaint/url/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, Content:Glossary

#22850 Fix indefinite article usage
  files/en-us/mozilla/add-ons/webextensions/api/devtools/network/gethar/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/streamfilter/onerror/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/theme/index.md
  files/en-us/mozilla/firefox/releases/17/index.md
  files/en-us/mozilla/firefox/releases/36/index.md
  files/en-us/mozilla/firefox/releases/50/index.md
  files/en-us/mozilla/firefox/releases/7/index.md
  files/en-us/mozilla/firefox/releases/81/index.md
  files/en-us/web/api/angle_instanced_arrays/drawelementsinstancedangle/index.md
Labels: Content:WebExt, Content:WebAPI, Content:Other

#22869 Update window.devicePixelRatio example
  files/en-us/web/api/window/devicepixelratio/index.md
Labels: Content:WebAPI

#22866 Clipboard.write: document file type limitations
  files/en-us/web/api/clipboard/write/index.md
Labels: Content:WebAPI

#22854 Update srflx definition
  files/en-us/web/api/rtcicecandidate/type/index.md
Labels: Content:WebAPI

#22875 expanded link
  files/en-us/web/html/element/source/index.md
Labels: Content:HTML

#22876 Improve use of word "parallel" in Javascript Promise guide #22867
  files/en-us/web/javascript/guide/using_promises/index.md
Labels: Content:JS

#22853 :link edits
  files/en-us/web/css/_colon_link/index.md
Labels: Content:CSS

#22862 Updates input/file snippets
  files/en-us/web/html/element/input/file/index.md
Labels: Content:HTML

#22873 Improve comma operator examples
  files/en-us/web/javascript/reference/operators/comma_operator/index.md
Labels: Content:JS

#22861 frameworks: update browser support table
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/introduction/index.md
Labels: Content:Learn

#22849 HTML Elements: technical summary at bottom
  files/en-us/web/html/element/applet/index.md
  files/en-us/web/html/element/area/index.md
  files/en-us/web/html/element/aside/index.md
  files/en-us/web/html/element/b/index.md
  files/en-us/web/html/element/bdi/index.md
  files/en-us/web/html/element/blockquote/index.md
  files/en-us/web/html/element/caption/index.md
  files/en-us/web/html/element/cite/index.md
  files/en-us/web/html/element/datalist/index.md
  files/en-us/web/html/element/details/index.md
  files/en-us/web/html/element/dfn/index.md
  files/en-us/web/html/element/div/index.md
  files/en-us/web/html/element/em/index.md
  files/en-us/web/html/element/figure/index.md
  files/en-us/web/html/element/form/index.md
  files/en-us/web/html/element/hr/index.md
  files/en-us/web/html/element/i/index.md
  files/en-us/web/html/element/input/button/index.md
  files/en-us/web/html/element/input/checkbox/index.md
  files/en-us/web/html/element/input/color/index.md
  files/en-us/web/html/element/input/email/index.md
  files/en-us/web/html/element/input/file/index.md
  files/en-us/web/html/element/input/password/index.md
  files/en-us/web/html/element/input/range/index.md
  files/en-us/web/html/element/kbd/index.md
  files/en-us/web/html/element/li/index.md
  files/en-us/web/html/element/map/index.md
  files/en-us/web/html/element/marquee/index.md
  files/en-us/web/html/element/menuitem/index.md
  files/en-us/web/html/element/ol/index.md
  files/en-us/web/html/element/optgroup/index.md
  files/en-us/web/html/element/pre/index.md
  files/en-us/web/html/element/q/index.md
  files/en-us/web/html/element/rp/index.md
  files/en-us/web/html/element/rt/index.md
  files/en-us/web/html/element/rtc/index.md
  files/en-us/web/html/element/samp/index.md
  files/en-us/web/html/element/span/index.md
  files/en-us/web/html/element/strike/index.md
  files/en-us/web/html/element/strong/index.md
  files/en-us/web/html/element/sub/index.md
  files/en-us/web/html/element/summary/index.md
  files/en-us/web/html/element/sup/index.md
  files/en-us/web/html/element/template/index.md
  files/en-us/web/html/element/time/index.md
  files/en-us/web/html/element/u/index.md
  files/en-us/web/html/element/ul/index.md
  files/en-us/web/html/element/var/index.md
  files/en-us/web/html/element/wbr/index.md
Labels: Content:HTML

#22826 Add a Value section to all data properties
  files/en-us/web/javascript/reference/functions/arguments/@@iterator/index.md
  files/en-us/web/javascript/reference/functions/arguments/callee/index.md
  files/en-us/web/javascript/reference/functions/arguments/length/index.md
  files/en-us/web/javascript/reference/global_objects/array/@@unscopables/index.md
  files/en-us/web/javascript/reference/global_objects/array/length/index.md
  files/en-us/web/javascript/reference/global_objects/error/cause/index.md
  files/en-us/web/javascript/reference/global_objects/error/columnnumber/index.md
  files/en-us/web/javascript/reference/global_objects/error/filename/index.md
  files/en-us/web/javascript/reference/global_objects/error/linenumber/index.md
  files/en-us/web/javascript/reference/global_objects/error/message/index.md
  files/en-us/web/javascript/reference/global_objects/error/name/index.md
  files/en-us/web/javascript/reference/global_objects/error/stack/index.md
  files/en-us/web/javascript/reference/global_objects/function/arguments/index.md
  files/en-us/web/javascript/reference/global_objects/function/caller/index.md
  files/en-us/web/javascript/reference/global_objects/function/displayname/index.md
  files/en-us/web/javascript/reference/global_objects/function/index.md
  files/en-us/web/javascript/reference/global_objects/function/length/index.md
  files/en-us/web/javascript/reference/global_objects/function/name/index.md
  files/en-us/web/javascript/reference/global_objects/function/prototype/index.md
  files/en-us/web/javascript/reference/global_objects/globalthis/index.md
  files/en-us/web/javascript/reference/global_objects/infinity/index.md
  files/en-us/web/javascript/reference/global_objects/math/e/index.md
  files/en-us/web/javascript/reference/global_objects/math/ln10/index.md
  files/en-us/web/javascript/reference/global_objects/math/ln2/index.md
  files/en-us/web/javascript/reference/global_objects/math/log10e/index.md
  files/en-us/web/javascript/reference/global_objects/math/log2e/index.md
  files/en-us/web/javascript/reference/global_objects/math/pi/index.md
  files/en-us/web/javascript/reference/global_objects/math/sqrt1_2/index.md
  files/en-us/web/javascript/reference/global_objects/math/sqrt2/index.md
  files/en-us/web/javascript/reference/global_objects/nan/index.md
  files/en-us/web/javascript/reference/global_objects/number/epsilon/index.md
  files/en-us/web/javascript/reference/global_objects/number/max_safe_integer/index.md
  files/en-us/web/javascript/reference/global_objects/number/max_value/index.md
  files/en-us/web/javascript/reference/global_objects/number/min_safe_integer/index.md
  files/en-us/web/javascript/reference/global_objects/number/min_value/index.md
  files/en-us/web/javascript/reference/global_objects/number/nan/index.md
  files/en-us/web/javascript/reference/global_objects/number/negative_infinity/index.md
  files/en-us/web/javascript/reference/global_objects/number/positive_infinity/index.md
  files/en-us/web/javascript/reference/global_objects/object/constructor/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/lastindex/index.md
  files/en-us/web/javascript/reference/global_objects/string/length/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/asynciterator/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/hasinstance/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/isconcatspreadable/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/iterator/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/match/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/matchall/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/replace/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/search/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/species/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/split/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/toprimitive/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/tostringtag/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/unscopables/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/bytes_per_element/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/name/index.md
  files/en-us/web/javascript/reference/global_objects/undefined/index.md
Labels: Content:JS

#22776 explicitly provide 'filename' label for 'download' attribute
  files/en-us/web/html/element/a/index.md
Labels: Content:HTML

#22781 Remove superfluous code
  files/en-us/web/api/htmlelement/drag_event/index.md
Labels: Content:WebAPI

#22712 MINOR: added link to <img> in <input type=image> page
  files/en-us/web/html/element/input/image/index.md
Labels: Content:HTML

#22884 Remove title case
  files/en-us/web/javascript/guide/using_promises/index.md
  files/en-us/web/javascript/reference/global_objects/promise/promise/index.md
Labels: Content:JS

#22878 Fix indefinite article usage
  files/en-us/web/api/audionode/channelcountmode/index.md
  files/en-us/web/api/audionode/index.md
  files/en-us/web/api/audiotrack/index.md
  files/en-us/web/api/customstateset/index.md
  files/en-us/web/api/element/sethtml/index.md
  files/en-us/web/api/htmltablecellelement/index.md
  files/en-us/web/api/htmltablerowelement/index.md
  files/en-us/web/api/htmltablesectionelement/index.md
Labels: Content:WebAPI

#22895 Fix typo in index.md
  files/en-us/web/html/attributes/required/index.md
Labels: Content:HTML

#22868 fix grammatical issues in how to build custom form controls
  files/en-us/learn/forms/how_to_build_custom_form_controls/index.md
Labels: Content:Learn

#22903 chore(alt): Add alt text for HTTP docs
  files/en-us/web/http/compression/index.md
  files/en-us/web/http/connection_management_in_http_1.x/index.md
  files/en-us/web/http/content_negotiation/index.md
Labels: Content:HTTP

#22902 Alt tags #21616
  files/en-us/web/api/stereopannernode/index.md
Labels: Content:WebAPI

#22841 Document limitations of performance.getEntries* methods
  files/en-us/web/api/performance/getentries/index.md
  files/en-us/web/api/performance/getentriesbyname/index.md
  files/en-us/web/api/performance/getentriesbytype/index.md
Labels: Content:WebAPI

#22906 Update index.md
  files/en-us/web/api/element/getattribute/index.md
Labels: Content:WebAPI

#21872 Add documentation for Ink API
  files/en-us/web/api/ink/index.md
  files/en-us/web/api/ink/requestpresenter/index.md
  files/en-us/web/api/ink_api/index.md
  files/en-us/web/api/inkpresenter/expectedimprovement/index.md
  files/en-us/web/api/inkpresenter/index.md
  files/en-us/web/api/inkpresenter/presentationarea/index.md
  files/en-us/web/api/inkpresenter/updateinktrailstartpoint/index.md
  files/en-us/web/api/navigator/index.md
  files/en-us/web/api/navigator/ink/index.md
  files/jsondata/GroupData.json
  files/jsondata/SpecData.json
Labels: Content:WebAPI

#22716 Matched descriptions with a similar article
  files/en-us/web/css/_colon_nth-child/index.md
Labels: Content:CSS

#22879 Glossary: grammatical fix for non-normative entry
  files/en-us/glossary/non-normative/index.md
Labels: Content:Glossary

#22715 Matched descriptions with a similar article
  files/en-us/web/css/_colon_nth-last-child/index.md
Labels: Content:CSS

#22889 AudioNode.channelCountMode - table as definition list in value
  files/en-us/web/api/audionode/channelcountmode/index.md
Labels: Content:WebAPI

#22904 Experimental Features: FF108 enables 'scrollend' behind pref
  files/en-us/mozilla/firefox/experimental_features/index.md
Labels: Content:Other

#22883 Codecs: clarification
  files/en-us/web/media/formats/codecs_parameter/index.md
Labels: Content:Media

#22913 Add JS page type meta-docs
  files/en-us/mdn/writing_guidelines/page_structures/page_types/page_type_key/index.md
Labels: Content:Other

#22798 Add Critical-CH header reference page
  files/en-us/web/http/headers/critical-ch/index.md
  files/en-us/web/http/headers/index.md
Labels: Content:HTTP

#22880 Update Links to Voice-change-O-matic Source code
  files/en-us/web/api/web_audio_api/visualizations_with_web_audio_api/index.md
Labels: Content:WebAPI

#22894 docs(API): `scrollend` event fired when scrolling complete in Document and scrollable elements
  files/en-us/web/api/document/scroll_event/index.md
  files/en-us/web/api/document/scrollend_event/index.md
  files/en-us/web/api/element/scroll_event/index.md
  files/en-us/web/api/element/scrollend_event/index.md
Labels: Content:WebAPI

#22915 Add sidebars to link types pages
  files/en-us/web/html/link_types/manifest/index.md
  files/en-us/web/html/link_types/me/index.md
  files/en-us/web/html/link_types/modulepreload/index.md
  files/en-us/web/html/link_types/preload/index.md
  files/en-us/web/html/link_types/prerender/index.md
Labels: Content:HTML

#22912 clarify origin of registration
  files/en-us/web/progressive_web_apps/re-engageable_notifications_push/index.md
Labels: Content:Other

#22896 docs(CSS): Clarify use of calc() function with percentages
  files/en-us/web/css/calc/index.md
Labels: Content:CSS

#22923 Fix: Incorrect Link on the CSS Selectors Documentation Page
  files/en-us/web/css/css_selectors/index.md
Labels: Content:CSS

#22893 Add `interactive-widget` property to viewport meta tag
  files/en-us/web/html/viewport_meta_tag/index.md
Labels: Content:HTML

#22925 Add related pseudo-elements to <a> page
  files/en-us/web/html/element/a/index.md
Labels: Content:HTML

#22852 Add alt text for svg_stroke images
  files/en-us/web/svg/tutorial/fills_and_strokes/index.md
Labels: Content:SVG

#22935 fix: various typos
  files/en-us/mdn/writing_guidelines/page_structures/page_types/page_type_key/index.md
  files/en-us/web/http/permissions_policy/index.md
Labels: Content:Other, Content:HTTP

#22938 Corrected formatting mistake
  files/en-us/web/css/shorthand_properties/index.md
Labels: Content:CSS

#22824 @import must occur at top of stylesheet
  files/en-us/web/css/@import/index.md
Labels: Content:CSS

#22934 Alts: the last 6 alt attributes that were remaining
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/index.md
  files/en-us/mozilla/add-ons/webextensions/native_messaging/index.md
  files/en-us/mozilla/add-ons/webextensions/your_second_webextension/index.md
  files/en-us/web/progressive_web_apps/add_to_home_screen/index.md
  files/en-us/web/svg/tutorial/patterns/index.md
Labels: Content:WebExt, Content:Other, Content:SVG

#22914 Express: mongoose connection update
  files/en-us/learn/server-side/express_nodejs/mongoose/index.md
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_chooseaconnectionmethod.jpg
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_connectforshortsrv.jpg
Labels: Content:Learn
