Repository mdn/content, pull requests merged in 2022-02, with the labels that each got.

#12560 fix: MD029 ordered list item prefix
  files/en-us/learn/html/multimedia_and_embedding/mozilla_splash_page/index.md
  files/en-us/learn/javascript/building_blocks/looping_code/index.md
  files/en-us/mdn/contribute/howto/write_an_api_reference/index.md
  files/en-us/web/accessibility/aria/roles/slider_role/index.md
  files/en-us/web/api/webvtt_api/index.md
  files/en-us/web/html/element/option/index.md
  files/en-us/web/http/headers/upgrade/index.md
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
Labels: Content:HTML, Content:WebAPI, Content:JS, Content:Learn, Content:Other, Content:HTTP, Content:Accessibility

#12372 Fixed typo in History.pushState()
  files/en-us/web/api/history/pushstate/index.md
Labels: Content:WebAPI

#12562 CSS counter() - remove note about type-or-unit
  files/en-us/web/css/counter()/index.md
  files/en-us/web/css/css_counter_styles/using_css_counters/index.md
Labels: Content:CSS

#12568 Add period to end of sentence on line 222.
  files/en-us/learn/forms/form_validation/index.md
Labels: Content:Learn

#12569 Update index.md
  files/en-us/glossary/parse/index.md
Labels: Content:Glossary

#12566 Replace {{event}} macros with {{domxref}}
  files/en-us/web/events/detecting_device_orientation/index.md
Labels: Content:Other

#12565 Fix links to Boolean/Number/BigInt/String
  files/en-us/web/javascript/reference/lexical_grammar/index.md
Labels: Content:JS

#11185 Page macro: CSP header directives - duplicate source info
  files/en-us/web/http/headers/content-security-policy/base-uri/index.md
  files/en-us/web/http/headers/content-security-policy/child-src/index.md
  files/en-us/web/http/headers/content-security-policy/connect-src/index.md
  files/en-us/web/http/headers/content-security-policy/default-src/index.md
  files/en-us/web/http/headers/content-security-policy/font-src/index.md
  files/en-us/web/http/headers/content-security-policy/form-action/index.md
  files/en-us/web/http/headers/content-security-policy/frame-src/index.md
  files/en-us/web/http/headers/content-security-policy/img-src/index.md
  files/en-us/web/http/headers/content-security-policy/index.md
  files/en-us/web/http/headers/content-security-policy/manifest-src/index.md
  files/en-us/web/http/headers/content-security-policy/media-src/index.md
  files/en-us/web/http/headers/content-security-policy/navigate-to/index.md
  files/en-us/web/http/headers/content-security-policy/object-src/index.md
  files/en-us/web/http/headers/content-security-policy/prefetch-src/index.md
  files/en-us/web/http/headers/content-security-policy/script-src-attr/index.md
  files/en-us/web/http/headers/content-security-policy/script-src-elem/index.md
  files/en-us/web/http/headers/content-security-policy/script-src/index.md
  files/en-us/web/http/headers/content-security-policy/sources/index.md
  files/en-us/web/http/headers/content-security-policy/style-src-attr/index.md
  files/en-us/web/http/headers/content-security-policy/style-src-elem/index.md
  files/en-us/web/http/headers/content-security-policy/style-src/index.md
  files/en-us/web/http/headers/content-security-policy/worker-src/index.md
Labels: Content:HTTP

#12548 Update index.md with minor changes for consistency
  files/en-us/learn/html/introduction_to_html/marking_up_a_letter/index.md
Labels: Content:Learn

#12572 Add info about SVGPoint replacements
  files/en-us/web/api/svgpoint/index.md
Labels: Content:WebAPI

#12586 Back ticks where not present
  files/en-us/web/css/animation-timeline/index.md
Labels: Content:CSS

#12604 fix(docs): typo in syntax of `color-mix()`
  files/en-us/web/css/color_value/color-mix()/index.md
Labels: Content:CSS

#12600 Update index.md
  files/en-us/learn/common_questions/what_is_a_domain_name/index.md
Labels: Content:Learn

#12561 For clarity, make variable name in example match doc’d param name
  files/en-us/web/javascript/reference/global_objects/array/reduce/index.md
Labels: Content:JS

#12595 Fixed Next.js Org Broken URL
  files/en-us/web/api/url_pattern_api/index.md
Labels: Content:WebAPI

#12533 Update Storage Access API docs (Bug 1678566)
  files/en-us/web/api/document/requeststorageaccess/index.md
Labels: Content:WebAPI

#12553 Update index.md with some changes for consistency
  files/en-us/learn/html/tables/structuring_planet_data/index.md
Labels: Content:Learn

#12571 Page inspector - add image showing how to change dock
  files/en-us/tools/page_inspector/how_to/open_the_inspector/index.html
  files/en-us/tools/page_inspector/how_to/open_the_inspector/inspector_menu_dock.png
Labels: Content:Other, Content:DevTools

#12606 Fix issues in JS basics article
  files/en-us/learn/getting_started_with_the_web/javascript_basics/index.md
Labels: Content:Learn

#12614 Rewrite usage of exec() with g flag
  files/en-us/web/javascript/guide/regular_expressions/index.md
Labels: Content:JS

#12479 Update Sensor API for new-style event pages
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/absoluteorientationsensor/absoluteorientationsensor/index.md
  files/en-us/web/api/absoluteorientationsensor/index.md
  files/en-us/web/api/accelerometer/accelerometer/index.md
  files/en-us/web/api/accelerometer/index.md
  files/en-us/web/api/accelerometer/x/index.md
  files/en-us/web/api/accelerometer/y/index.md
  files/en-us/web/api/accelerometer/z/index.md
  files/en-us/web/api/ambientlightsensor/ambientlightsensor/index.md
  files/en-us/web/api/ambientlightsensor/illuminance/index.md
  files/en-us/web/api/ambientlightsensor/index.md
  files/en-us/web/api/gravitysensor/gravitysensor/index.md
  files/en-us/web/api/gravitysensor/index.md
  files/en-us/web/api/gyroscope/gyroscope/index.md
  files/en-us/web/api/gyroscope/index.md
  files/en-us/web/api/gyroscope/x/index.md
  files/en-us/web/api/gyroscope/y/index.md
  files/en-us/web/api/gyroscope/z/index.md
  files/en-us/web/api/linearaccelerationsensor/index.md
  files/en-us/web/api/linearaccelerationsensor/linearaccelerationsensor/index.md
  files/en-us/web/api/magnetometer/index.md
  files/en-us/web/api/magnetometer/magnetometer/index.md
  files/en-us/web/api/magnetometer/x/index.md
  files/en-us/web/api/magnetometer/y/index.md
  files/en-us/web/api/magnetometer/z/index.md
  files/en-us/web/api/orientationsensor/index.md
  files/en-us/web/api/relativeorientationsensor/index.md
  files/en-us/web/api/relativeorientationsensor/relativeorientationsensor/index.md
  files/en-us/web/api/sensor/activate_event/index.md
  files/en-us/web/api/sensor/error_event/index.md
  files/en-us/web/api/sensor/index.md
  files/en-us/web/api/sensor/onactivate/index.md
  files/en-us/web/api/sensor/onerror/index.md
  files/en-us/web/api/sensor/onreading/index.md
  files/en-us/web/api/sensor/reading_event/index.md
  files/en-us/web/api/sensor_apis/index.md
Labels: Content:WebAPI

#12620 Link 1st removeEventListener mention in removeEventListener doc
  files/en-us/web/api/eventtarget/addeventlistener/index.md
Labels: Content:WebAPI

#12619 Fix typo in “Layout using named grid lines” doc
  files/en-us/web/css/css_grid_layout/layout_using_named_grid_lines/index.md
Labels: Content:CSS

#12624 String.prototype.concat() | Make sentence more simpler to understand
  files/en-us/web/javascript/reference/global_objects/string/concat/index.md
Labels: Content:JS

#12633 “Taking still photos with WebRTC”: Sample link ➡ live sample
  files/en-us/web/api/webrtc_api/taking_still_photos/index.md
Labels: Content:WebAPI

#12631 Add oncharacteristicvaluechanged
  files/en-us/web/api/bluetoothremotegattcharacteristic/index.md
Labels: Content:WebAPI

#12629 Fix typo: `getRequestDevice` to `requestDevice`
  files/en-us/web/api/hiddevice/open/index.md
Labels: Content:WebAPI

#12630 Markdown fixes
  files/en-us/web/accessibility/aria/attributes/aria-activedescendant/index.md
Labels: Content:Accessibility

#12628 Fix markdown link typo
  files/en-us/web/accessibility/aria/roles/listbox_role/index.md
Labels: Content:Accessibility

#12590 remove {{page}} macro
  files/en-us/web/css/max-block-size/index.md
Labels: Content:CSS

#12636 Fix typo in CSP connect-src doc
  files/en-us/web/http/headers/content-security-policy/connect-src/index.md
Labels: Content:HTTP

#12637 Update index.md
  files/en-us/mdn/structures/live_samples/index.md
Labels: Content:Other

#12640 Fix a definition list
  files/en-us/web/api/geolocation/getcurrentposition/index.md
Labels: Content:WebAPI

#12641 Add missing period
  files/en-us/web/api/mediastreamtrackevent/index.md
Labels: Content:WebAPI

#12532 Update AbstractRanges
  files/en-us/web/api/abstractrange/collapsed/index.md
  files/en-us/web/api/abstractrange/endcontainer/index.md
  files/en-us/web/api/abstractrange/endoffset/index.md
  files/en-us/web/api/abstractrange/index.md
  files/en-us/web/api/abstractrange/startcontainer/index.md
  files/en-us/web/api/abstractrange/startoffset/index.md
Labels: Content:WebAPI

#12635 Explicitly specify defaults for addEventListener options param
  files/en-us/web/api/eventtarget/addeventlistener/index.md
Labels: Content:WebAPI

#12618 Link to spec definition of “collapse” in CSS “white-space” doc
  files/en-us/web/css/white-space/index.md
Labels: Content:CSS

#12642 Remove superfluous space
  files/en-us/web/api/cssimagevalue/index.md
Labels: Content:WebAPI

#12644 grammar fix to FFmpeg description
  files/en-us/web/media/formats/audio_codecs/index.md
Labels: Content:Media

#12615 Updating the Note in the summary
  files/en-us/learn/html/introduction_to_html/getting_started/index.md
Labels: Content:Learn

#12632 Update index.md
  files/en-us/web/api/fetch_api/using_fetch/index.md
Labels: Content:WebAPI

#12603 AbortController: Correct code sample
  files/en-us/web/api/abortcontroller/index.md
Labels: Content:WebAPI

#12655 Update index.md
  files/en-us/web/svg/attribute/overflow/index.md
Labels: Content:SVG

#12664 Add live sample
  files/en-us/web/api/rtcpeerconnection/addtransceiver/index.md
  files/en-us/web/api/window/innerheight/index.md
  files/en-us/web/api/window/innerwidth/index.md
Labels: Content:WebAPI

#12668 Fix the 'behavior' values description in Window.scroll() doc
  files/en-us/web/api/window/scroll/index.md
Labels: Content:WebAPI

#12667 Fix expected console output in “SyntaxError: Unexpected token” doc
  files/en-us/web/javascript/reference/errors/unexpected_token/index.md
Labels: Content:JS

#12659 Fix issue 11328: digest algorithm parameter may be an object
  files/en-us/web/api/subtlecrypto/digest/index.md
Labels: Content:WebAPI

#12661 Fix 12658: Only link to assessment at the end of the module
  files/en-us/learn/css/styling_text/fundamentals/index.md
  files/en-us/learn/css/styling_text/styling_links/index.md
  files/en-us/learn/css/styling_text/styling_lists/index.md
  files/en-us/learn/css/styling_text/typesetting_a_homepage/index.md
  files/en-us/learn/css/styling_text/web_fonts/index.md
Labels: Content:Learn

#12634 Updating examples for scrollbar gutter
  files/en-us/web/css/scrollbar-gutter/for-ref-no-scroll.png
  files/en-us/web/css/scrollbar-gutter/index.md
  files/en-us/web/css/scrollbar-gutter/side-by-side.png
  files/en-us/web/css/scrollbar-gutter/stable-both-edges.png
  files/en-us/web/css/scrollbar-gutter/stable-no-scroll.png
Labels: Content:CSS

#12646 Update `core-js` data
  files/en-us/web/api/atob/index.md
  files/en-us/web/api/btoa/index.md
  files/en-us/web/javascript/guide/regular_expressions/groups_and_ranges/index.md
Labels: Content:WebAPI, Content:JS

#12648 Fix typo in “Command line crash course”
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/command_line/index.md
Labels: Content:Learn

#12660 Fix automatic semicolon insertion info in “Lexical grammar” doc
  files/en-us/web/javascript/reference/lexical_grammar/index.md
Labels: Content:JS

#12649 Update: mark role
  files/en-us/web/accessibility/aria/roles/mark_role/index.md
Labels: Content:Accessibility

#12607 Update: group role
  files/en-us/web/accessibility/aria/roles/group_role/index.md
Labels: Content:Accessibility

#12669 Minor update: remove support note
  files/en-us/web/css/font-stretch/index.md
Labels: Content:CSS

#12672 Fix Date.UTC for 2-digit years
  files/en-us/web/javascript/reference/global_objects/date/utc/index.md
Labels: Content:JS

#12626 Make clear: Weak etags must not be used in If-Range HTTP header
  files/en-us/web/http/headers/if-range/index.md
Labels: Content:HTTP

#11921 Fix AbortController example typo
  files/en-us/web/api/abortcontroller/index.md
Labels: Content:WebAPI

#12677 Fix the links to NSPR
  files/en-us/mozilla/projects/nss/reference/nspr_functions/index.html
Labels: Content:Other

#12671 Ensure the innerHeight & innerWidth live samples work
  files/en-us/web/api/window/innerheight/index.md
  files/en-us/web/api/window/innerwidth/index.md
Labels: Content:WebAPI

#12064 fix "Blending globally" now looks properly in FF
  files/en-us/web/css/mix-blend-mode/index.md
Labels: Content:CSS

#12597 Update VideoTrackList for new-style event pages
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/videotracklist/addtrack_event/index.md
  files/en-us/web/api/videotracklist/change_event/index.md
  files/en-us/web/api/videotracklist/index.md
  files/en-us/web/api/videotracklist/onaddtrack/index.md
  files/en-us/web/api/videotracklist/onchange/index.md
  files/en-us/web/api/videotracklist/onremovetrack/index.md
  files/en-us/web/api/videotracklist/removetrack_event/index.md
Labels: Content:WebAPI

#12674 Webdriver conformance changes in Firefox 97
  files/en-us/mozilla/firefox/releases/97/index.md
Labels: Content:Other

#12690 Move inheritance diagram to intro
  files/en-us/web/api/analysernode/index.md
  files/en-us/web/api/periodicsyncevent/index.md
  files/en-us/web/api/webglcontextevent/index.md
Labels: Content:WebAPI

#12692 Edited Example 1
  files/en-us/web/javascript/guide/regular_expressions/groups_and_ranges/index.md
Labels: Content:JS

#12685 Fixed Some Typos
  files/en-us/web/javascript/guide/regular_expressions/assertions/index.md
Labels: Content:JS

#12695 A framework tends to; Not tend to
  files/en-us/learn/getting_started_with_the_web/installing_basic_software/index.md
Labels: Content:Learn

#12539 Update Serial API for new-style event pages
  files/en-us/_redirects.txt
  files/en-us/web/api/serial/index.md
  files/en-us/web/api/serial/onconnect/index.md
  files/en-us/web/api/serial/ondisconnect/index.md
  files/en-us/web/api/serialport/connect_event/index.md
  files/en-us/web/api/serialport/disconnect_event/index.md
  files/en-us/web/api/serialport/index.md
  files/en-us/web/api/serialport/onconnect/index.md
  files/en-us/web/api/serialport/ondisconnect/index.md
Labels: Content:WebAPI

#12693 Update index.md where contents were swapped
  files/en-us/learn/html/tables/structuring_planet_data/index.md
Labels: Content:Learn

#12694 Add PointerEvent mention
  files/en-us/web/api/mouseevent/index.md
Labels: Content:WebAPI

#12700 Ff96 Revert SameSite changes
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/96/index.md
Labels: Content:Other

#12699 Fix issue 12691: justify-items no longer accepts auto
  files/en-us/web/css/justify-items/index.md
  files/en-us/web/css/place-items/index.md
Labels: Content:CSS

#12688 Update TextTrackCue/TextTrackList event pages
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/texttrackcue/enter_event/index.md
  files/en-us/web/api/texttrackcue/exit_event/index.md
  files/en-us/web/api/texttrackcue/index.md
  files/en-us/web/api/texttrackcue/onenter/index.md
  files/en-us/web/api/texttrackcue/onexit/index.md
  files/en-us/web/api/texttracklist/addtrack_event/index.md
  files/en-us/web/api/texttracklist/change_event/index.md
  files/en-us/web/api/texttracklist/index.md
  files/en-us/web/api/texttracklist/onaddtrack/index.md
  files/en-us/web/api/texttracklist/onchange/index.md
  files/en-us/web/api/texttracklist/onremovetrack/index.md
  files/en-us/web/api/texttracklist/removetrack_event/index.md
Labels: Content:WebAPI

#12474 Add new “Shallow copy” and “Deep copy” glossary entries
  files/en-us/glossary/deep_copy/index.md
  files/en-us/glossary/shallow_copy/index.md
  files/en-us/web/api/structuredclone/index.md
  files/en-us/web/javascript/reference/global_objects/array/concat/index.md
  files/en-us/web/javascript/reference/global_objects/array/index.md
  files/en-us/web/javascript/reference/global_objects/array/slice/index.md
  files/en-us/web/javascript/reference/global_objects/object/assign/index.md
  files/en-us/web/javascript/reference/global_objects/object/getownpropertydescriptors/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/slice/index.md
Labels: Content:WebAPI, Content:JS, Content:Glossary

#12698 A small lexical change
  files/en-us/web/javascript/reference/operators/nullish_coalescing_operator/index.md
Labels: Content:JS

#12684 Update TextTrack cuechange event pages
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/globaleventhandlers/index.md
  files/en-us/web/api/globaleventhandlers/oncuechange/index.md
  files/en-us/web/api/htmltrackelement/cuechange_event/index.md
  files/en-us/web/api/htmltrackelement/index.md
  files/en-us/web/api/texttrack/cuechange_event/index.md
  files/en-us/web/api/texttrack/index.md
Labels: Content:WebAPI

#12711 Drop remaining links to now-gone “Using the application cache” doc
  files/en-us/mozilla/firefox/releases/3.5/index.md
  files/en-us/mozilla/firefox/releases/3/index.md
  files/en-us/mozilla/firefox/releases/44/index.md
  files/en-us/mozilla/firefox/releases/84/index.md
  files/en-us/web/api/indexeddb_api/browser_storage_limits_and_eviction_criteria/index.md
  files/en-us/web/api/storage_api/index.md
  files/en-us/web/html/element/html/index.md
  files/en-us/web/html/element/html/manifest/index.md
  files/en-us/web/http/headers/clear-site-data/index.md
  files/en-us/web/security/secure_contexts/features_restricted_to_secure_contexts/index.md
Labels: Content:HTML, Content:WebAPI, Content:Other, Content:HTTP

#12709 Element.scroll event: Fix broken resize event link
  files/en-us/web/api/element/scroll_event/index.md
Labels: Content:WebAPI

#12710 Fix issue 12681: use an image containing EXIF orientation
  files/en-us/web/css/image-orientation/index.md
  files/en-us/web/css/image-orientation/mdn.svg
  files/en-us/web/css/image-orientation/oriole.jpg
Labels: Content:CSS

#12714 fix: correct a misplaced empty space
  files/en-us/web/accessibility/aria/aria_techniques/using_the_alertdialog_role/index.html
Labels: Content:Accessibility

#12712 FF98: Form-associated custom element methods and properties
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/98/index.md
Labels: Content:Other

#12705 Clarify CSS path() use in different methods
  files/en-us/web/css/clip-path/index.md
  files/en-us/web/css/offset-path/index.md
  files/en-us/web/css/path()/index.md
Labels: Content:CSS

#12719 Removing the surveygizmo link
  files/en-us/learn/html/introduction_to_html/index.md
Labels: Content:Learn

#12718 Make Date.p.getTime() doc cite ECMAScript epoch
  files/en-us/web/javascript/reference/global_objects/date/gettime/index.md
  files/en-us/web/javascript/reference/global_objects/date/index.md
Labels: Content:JS

#12723 Fix an incorrect literal in GeolocationCoordinates.heading
  files/en-us/web/api/geolocationcoordinates/heading/index.md
Labels: Content:WebAPI

#12384 Adds a page for @scroll-timeline rule
  files/en-us/web/css/@scroll-timeline/index.md
Labels: Content:CSS

#12729 Update webidl link from MDN to Firefox Source docs
  files/en-us/mdn/contribute/howto/write_an_api_reference/information_contained_in_a_webidl_file/index.md
Labels: Content:Other

#12733 Remove non-Web XMLHTTPRequest page
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/xmlhttprequest/how_to_check_the_security_state_of_an_xmlhttprequest_over_ssl/index.md
  files/en-us/web/api/xmlhttprequest/using_xmlhttprequest/index.md
Labels: Content:WebAPI

#12745 Change some live-sample headings to have better heading text
  files/en-us/web/css/blend-mode/index.md
  files/en-us/web/css/text-align/index.md
  files/en-us/web/css/text-combine-upright/index.md
  files/en-us/web/css/text-transform/index.md
  files/en-us/web/css/width/index.md
  files/en-us/web/html/element/textarea/index.md
Labels: Content:CSS, Content:HTML

#12746 Fix the order of headings
  files/en-us/web/api/htmlinputelement/multiple/index.md
Labels: Content:WebAPI

#12734 Clarify instructions and fix broken link
  files/en-us/web/svg/tutorial/svg_and_css/index.md
Labels: Content:SVG

#12748 Un-break links to now-gone SpiderMonkey docs
  files/en-us/mdn/guidelines/does_this_belong_on_mdn/index.md
  files/en-us/mozilla/firefox/releases/44/index.md
  files/en-us/tools/debugger-api/debugger.memory/index.html
  files/en-us/tools/debugger-api/debugger.object/index.html
  files/en-us/tools/memory/tree_map_view/index.html
  files/en-us/tools/performance/allocations/index.html
  files/en-us/tools/performance/waterfall/index.html
  files/en-us/web/javascript/reference/global_objects/date/todatestring/index.md
  files/en-us/web/javascript/reference/global_objects/date/totimestring/index.md
  files/en-us/web/javascript/reference/global_objects/error/message/index.md
  files/en-us/web/javascript/reference/global_objects/evalerror/index.md
  files/en-us/web/javascript/reference/global_objects/rangeerror/index.md
  files/en-us/web/javascript/reference/global_objects/referenceerror/index.md
  files/en-us/web/javascript/reference/global_objects/syntaxerror/index.md
  files/en-us/web/javascript/reference/global_objects/typeerror/index.md
  files/en-us/web/javascript/reference/global_objects/urierror/index.md
  files/en-us/web/javascript/reference/operators/property_accessors/index.md
Labels: Content:JS, Content:Other, Content:DevTools

#12750 Streams: fix closed getters
  files/en-us/web/api/readablestreambyobreader/closed/index.md
  files/en-us/web/api/readablestreambyobreader/index.md
  files/en-us/web/api/readablestreamdefaultreader/closed/index.md
  files/en-us/web/api/readablestreamdefaultreader/index.md
  files/en-us/web/api/writablestreamdefaultwriter/closed/index.md
  files/en-us/web/api/writablestreamdefaultwriter/index.md
Labels: Content:WebAPI

#12761 Fixes #10817: entire -> entirely
  files/en-us/mdn/contribute/where_is_everything/index.md
Labels: Content:Other

#12764 Update `Intl.DateTimeFormat` calendars to match supported list
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/datetimeformat/index.md
Labels: Content:JS

#12753 S in DNS means System not Servers
  files/en-us/learn/getting_started_with_the_web/how_the_web_works/index.md
Labels: Content:Learn

#12758 Add period and fix grammar
  files/en-us/web/css/css_functions/index.md
Labels: Content:CSS

#12720 Update code examples index.md
  files/en-us/web/web_components/using_templates_and_slots/index.md
Labels: Content:Other

#12773 corrected the word "that" to "than"
  files/en-us/glossary/perceived_performance/index.md
Labels: Content:Glossary

#12772 Appending -> Prepending
  files/en-us/web/api/element/prepend/index.md
Labels: Content:WebAPI

#12769 Fix broken webidl link
  files/en-us/glossary/webidl/index.md
Labels: Content:Glossary

#12759 Remove grid- prefixes from *-gap in Glossary/Gutters
  files/en-us/glossary/gutters/index.md
Labels: Content:Glossary

#12777 `accesskey` is inherited from HTMLElement
  files/en-us/web/api/htmlinputelement/index.md
Labels: Content:WebAPI

#12774 Improve best-practice guidance on assignments in conditions
  files/en-us/web/javascript/guide/control_flow_and_error_handling/index.md
  files/en-us/web/javascript/reference/statements/do...while/index.md
  files/en-us/web/javascript/reference/statements/if...else/index.md
  files/en-us/web/javascript/reference/statements/while/index.md
Labels: Content:JS

#12395 New page: progressbar role
  files/en-us/web/accessibility/aria/roles/progressbar_role/index.md
Labels: Content:Accessibility

#12783 fix: minor formatting and typos
  files/en-us/web/api/epochtimestamp/index.md
  files/en-us/web/css/@scroll-timeline/index.md
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/datetimeformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/pluralrules/resolvedoptions/index.md
  files/en-us/web/svg/tutorial/svg_and_css/index.md
Labels: Content:CSS, Content:WebAPI, Content:JS, Content:SVG

#12762 adds decoder, changes encoder
  files/en-us/glossary/base64/index.md
Labels: Content:Glossary

#12782 Updating the grayscale highlighted word
  files/en-us/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/index.md
Labels: Content:CSS

#12752 fix: function introduction: arguments by reference
  files/en-us/web/javascript/reference/functions/index.md
Labels: Content:JS

#12789 FF98 WebVR API - release note and experimental features
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/98/index.md
Labels: Content:Other

#12790 FF98 Navigator.registerProtocolHandler() - tidy up
  files/en-us/web/api/navigator/registerprotocolhandler/index.md
Labels: Content:WebAPI

#12721 FF97 release notes
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/96/index.md
  files/en-us/mozilla/firefox/releases/97/index.md
  files/en-us/mozilla/firefox/releases/98/index.md
  files/en-us/mozilla/firefox/releases/99/index.md
Labels: Content:Other

#12800 Fix typos in HTMLInputElement.stepDown()
  files/en-us/web/api/htmlinputelement/stepdown/index.md
Labels: Content:WebAPI

#12776 Replace {{event}} with more specific {{domxref}}
  files/en-us/web/api/htmlinputelement/index.md
  files/en-us/web/api/htmlinputelement/webkitdirectory/index.md
  files/en-us/web/api/htmlinputelement/webkitentries/index.md
Labels: Content:WebAPI

#12625 Un-break the live sample in “Using the Notifications API”
  files/en-us/web/api/notifications_api/using_the_notifications_api/index.md
Labels: Content:WebAPI

#12796 Un-break the live sample in “Taking still photos with WebRTC”
  files/en-us/web/api/webrtc_api/taking_still_photos/index.md
Labels: Content:WebAPI

#12755 Added compatibilty info to Background Fetch API
  files/en-us/web/api/background_fetch_api/index.md
Labels: Content:WebAPI

#12809 fix: minor Markdownlint spacing
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/97/index.md
  files/en-us/mozilla/firefox/releases/98/index.md
  files/en-us/web/accessibility/aria/roles/progressbar_role/index.md
  files/en-us/web/api/navigator/registerprotocolhandler/index.md
  files/en-us/web/api/vrdisplaycapabilities/index.md
  files/en-us/web/api/vrframedata/pose/index.md
Labels: Content:WebAPI, Content:Other, Content:Accessibility

#12799 Improve .forEach examples: syntax and consistency
  files/en-us/web/javascript/reference/global_objects/array/foreach/index.md
Labels: Content:JS

#12812 [FIX] fix typo
  files/en-us/glossary/namespace/index.md
Labels: Content:Glossary

#12815 Fixes #12810 - corrects spacing, f -> g
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
Labels: Content:JS

#12806 Revise description of `::first-line`
  files/en-us/web/css/_doublecolon_first-line/index.md
Labels: Content:CSS

#12816 Fixes #897 - removes `await`
  files/en-us/web/api/worklet/addmodule/index.md
Labels: Content:WebAPI

#12823 Replacing "you'll" with "you will"
  files/en-us/learn/html/introduction_to_html/getting_started/index.md
Labels: Content:Learn

#12820 Fix a property name in the See also section
  files/en-us/web/css/offset-anchor/index.md
Labels: Content:CSS

#11848 Shorter syntax for method definitions in objects
  files/en-us/web/javascript/reference/global_objects/proxy/index.md
Labels: Content:JS

#12825 Update the description in usage of the meta tag
  files/en-us/learn/html/introduction_to_html/getting_started/index.md
Labels: Content:Learn

#12828 Remove SpeechRecognition.serviceURI
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/speechrecognition/index.md
  files/en-us/web/api/speechrecognition/serviceuri/index.md
Labels: Content:WebAPI

#12797 Adding none as a keyword value for max logical sizing
  files/en-us/web/css/max-block-size/index.md
  files/en-us/web/css/max-inline-size/index.md
Labels: Content:CSS

#12829 Correcting grammar in the comments section
  files/en-us/learn/html/introduction_to_html/getting_started/index.md
Labels: Content:Learn

#12835 fix: various typos
  files/en-us/learn/server-side/django/web_application_security/index.md
  files/en-us/mdn/structures/macros/commonly-used_macros/index.md
  files/en-us/mozilla/add-ons/webextensions/api/management/getpermissionwarningsbyid/index.md
  files/en-us/mozilla/add-ons/webextensions/api/management/getpermissionwarningsbymanifest/index.md
  files/en-us/mozilla/firefox/releases/23/index.md
  files/en-us/mozilla/firefox/releases/59/index.md
  files/en-us/mozilla/firefox/releases/91/index.md
  files/en-us/related/criteria_for_inclusion/index.md
  files/en-us/tools/network_monitor/performance_analysis/index.html
  files/en-us/web/accessibility/aria/attributes/aria-sort/index.md
  files/en-us/web/accessibility/aria/roles/document_role/index.md
  files/en-us/web/accessibility/aria/roles/rowheader_role/index.md
  files/en-us/web/accessibility/understanding_wcag/index.md
  files/en-us/web/api/audiodata/index.md
  files/en-us/web/api/baseaudiocontext/index.md
  files/en-us/web/api/cssnumericvalue/max/index.md
  files/en-us/web/api/cssnumericvalue/min/index.md
  files/en-us/web/api/filesystementrysync/index.md
  files/en-us/web/api/node/issamenode/index.md
  files/en-us/web/api/paymentrequest/shippingoptionchange_event/index.md
  files/en-us/web/api/presentation_api/index.md
  files/en-us/web/api/rtcicetransport/gatheringstatechange_event/index.md
  files/en-us/web/api/selection/containsnode/index.md
  files/en-us/web/api/speechrecognition/index.md
  files/en-us/web/api/speechrecognitionevent/emma/index.md
  files/en-us/web/api/speechsynthesis/index.md
  files/en-us/web/api/speechsynthesis/speak/index.md
  files/en-us/web/api/speechsynthesisutterance/text/index.md
  files/en-us/web/api/speechsynthesisvoice/index.md
  files/en-us/web/api/stylepropertymapreadonly/foreach/index.md
  files/en-us/web/api/svgaelement/target/index.md
  files/en-us/web/api/usbdevice/controltransferin/index.md
  files/en-us/web/api/usbdevice/controltransferout/index.md
  files/en-us/web/api/web_speech_api/index.md
  files/en-us/web/api/web_speech_api/using_the_web_speech_api/index.md
  files/en-us/web/api/webgl_api/webgl_model_view_projection/index.md
  files/en-us/web/api/window/speechsynthesis/index.md
  files/en-us/web/api/xrinputsourcearray/entries/index.md
  files/en-us/web/api/xrinputsourcearray/foreach/index.md
  files/en-us/web/api/xrsessionevent/xrsessionevent/index.md
  files/en-us/web/css/masonry-auto-flow/index.md
  files/en-us/web/guide/audio_and_video_delivery/adding_captions_and_subtitles_to_html5_video/index.md
  files/en-us/web/guide/html/editable_content/index.md
  files/en-us/web/http/headers/sec-fetch-user/index.md
  files/en-us/web/javascript/reference/global_objects/atomics/sub/index.md
  files/en-us/web/javascript/reference/global_objects/date/tostring/index.md
  files/en-us/web/javascript/reference/operators/equality/index.md
  files/en-us/web/javascript/reference/operators/less_than/index.md
  files/en-us/web/mathml/attribute/index.md
  files/en-us/web/media/formats/support_issues/index.md
Labels: Content:CSS, Content:WebExt, Content:WebAPI, Content:JS, Content:Learn, Content:Other, Content:HTTP, Content:DevTools, Content:Accessibility, Content:Media, Content:Learn:Django, Content:MathML

#12832 Single event pages for SpeechSynthesis/Utterance
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/speechsynthesis/index.md
  files/en-us/web/api/speechsynthesis/onvoiceschanged/index.md
  files/en-us/web/api/speechsynthesis/voiceschanged_event/index.md
  files/en-us/web/api/speechsynthesisutterance/boundary_event/index.md
  files/en-us/web/api/speechsynthesisutterance/end_event/index.md
  files/en-us/web/api/speechsynthesisutterance/error_event/index.md
  files/en-us/web/api/speechsynthesisutterance/index.md
  files/en-us/web/api/speechsynthesisutterance/mark_event/index.md
  files/en-us/web/api/speechsynthesisutterance/onboundary/index.md
  files/en-us/web/api/speechsynthesisutterance/onend/index.md
  files/en-us/web/api/speechsynthesisutterance/onerror/index.md
  files/en-us/web/api/speechsynthesisutterance/onmark/index.md
  files/en-us/web/api/speechsynthesisutterance/onpause/index.md
  files/en-us/web/api/speechsynthesisutterance/onresume/index.md
  files/en-us/web/api/speechsynthesisutterance/onstart/index.md
  files/en-us/web/api/speechsynthesisutterance/pause_event/index.md
  files/en-us/web/api/speechsynthesisutterance/resume_event/index.md
  files/en-us/web/api/speechsynthesisutterance/start_event/index.md
  files/en-us/web/api/web_speech_api/using_the_web_speech_api/index.md
Labels: Content:WebAPI

#12831 Single event pages for SpeechRecognition
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/speechrecognition/audioend_event/index.md
  files/en-us/web/api/speechrecognition/audiostart_event/index.md
  files/en-us/web/api/speechrecognition/end_event/index.md
  files/en-us/web/api/speechrecognition/error_event/index.md
  files/en-us/web/api/speechrecognition/index.md
  files/en-us/web/api/speechrecognition/nomatch_event/index.md
  files/en-us/web/api/speechrecognition/onaudioend/index.md
  files/en-us/web/api/speechrecognition/onaudiostart/index.md
  files/en-us/web/api/speechrecognition/onend/index.md
  files/en-us/web/api/speechrecognition/onerror/index.md
  files/en-us/web/api/speechrecognition/onnomatch/index.md
  files/en-us/web/api/speechrecognition/onresult/index.md
  files/en-us/web/api/speechrecognition/onsoundend/index.md
  files/en-us/web/api/speechrecognition/onsoundstart/index.md
  files/en-us/web/api/speechrecognition/onspeechend/index.md
  files/en-us/web/api/speechrecognition/onspeechstart/index.md
  files/en-us/web/api/speechrecognition/onstart/index.md
  files/en-us/web/api/speechrecognition/result_event/index.md
  files/en-us/web/api/speechrecognition/soundend_event/index.md
  files/en-us/web/api/speechrecognition/soundstart_event/index.md
  files/en-us/web/api/speechrecognition/speechend_event/index.md
  files/en-us/web/api/speechrecognition/speechstart_event/index.md
  files/en-us/web/api/speechrecognition/start_event/index.md
  files/en-us/web/api/web_speech_api/using_the_web_speech_api/index.md
Labels: Content:WebAPI

#12822 showPicker: Change from date to color picker
  files/en-us/web/api/htmlinputelement/showpicker/index.md
Labels: Content:WebAPI

#12839 Add small missing space
  files/en-us/web/progressive_web_apps/installing/index.md
Labels: Content:Other

#12130 Added intro description of what a Proxy is
  files/en-us/web/javascript/reference/global_objects/proxy/index.md
Labels: Content:JS

#12845 Fix link in “HTML guidelines” project docs
  files/en-us/mdn/guidelines/code_guidelines/html/index.md
Labels: Content:Other

#12833 Add examples of recursion
  files/en-us/glossary/recursion/index.md
Labels: Content:Glossary

#12795 Improved destructuring with default value assign
  files/en-us/web/javascript/reference/functions/default_parameters/index.md
Labels: Content:JS

#12840 Improve .map examples: syntax and consistency
  files/en-us/web/javascript/reference/global_objects/array/map/index.md
Labels: Content:JS

#12842 Add RegexLearn to regular expressions page
  files/en-us/web/javascript/guide/regular_expressions/index.md
Labels: Content:JS

#12843 Fix link to await
  files/en-us/web/api/mediadevices/getdisplaymedia/index.md
Labels: Content:WebAPI

#12819 FF98 Relnote - move createImageBitmap() note from Javascript to WebAPI
  files/en-us/mozilla/firefox/releases/98/index.md
Labels: Content:Other

#12807 Add `sizes` details to the web app manifest `icons` documentation
  files/en-us/web/manifest/icons/index.md
Labels: Content:Other

#12805 Dev Server runs at 8080
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_getting_started/index.md
Labels: Content:Learn

#12841 Add “WebAssembly control flow” link to WebAssembly index page
  files/en-us/webassembly/index.md
Labels: Content:wasm

#12846 Fix links in “HTML guidelines” project docs
  files/en-us/mdn/guidelines/code_guidelines/html/index.md
Labels: Content:Other

#12850 fix: markdownlint issues
  files/en-us/mozilla/firefox/releases/98/index.md
  files/en-us/web/javascript/reference/functions/default_parameters/index.md
  files/en-us/webassembly/reference/numeric/absolute/index.md
  files/en-us/webassembly/reference/numeric/index.md
Labels: Content:JS, Content:Other, Content:wasm

#12849 Fixes #1503: removes button example
  files/en-us/web/css/element()/index.md
Labels: Content:CSS

#12848 fix: various typos
  files/en-us/mozilla/firefox/releases/22/index.md
  files/en-us/tools/page_inspector/3-pane_mode/index.html
  files/en-us/web/accessibility/aria/annotations/index.md
  files/en-us/web/accessibility/aria/attributes/aria-grabbed/index.md
  files/en-us/web/accessibility/aria/roles/index.md
  files/en-us/web/api/htmlinputelement/stepup/index.md
  files/en-us/web/api/htmlmediaelement/controls/index.md
  files/en-us/web/api/imagecapture/grabframe/index.md
  files/en-us/web/api/paymentrequest/merchantvalidation_event/index.md
  files/en-us/web/api/reporting_api/index.md
  files/en-us/web/api/serviceworkerglobalscope/notificationclick_event/index.md
  files/en-us/web/api/vrdisplay/getpose/index.md
  files/en-us/web/api/vrstageparameters/index.md
  files/en-us/web/api/vrstageparameters/sizex/index.md
  files/en-us/web/api/webvr_api/using_vr_controllers_with_webvr/index.md
  files/en-us/web/api/xrwebgllayer/getnativeframebufferscalefactor/index.md
  files/en-us/web/html/element/col/index.md
  files/en-us/web/html/element/colgroup/index.md
  files/en-us/web/html/element/table/index.md
  files/en-us/web/html/element/tbody/index.md
  files/en-us/web/html/element/td/index.md
  files/en-us/web/html/element/tfoot/index.md
  files/en-us/web/mathml/element/menclose/index.md
  files/en-us/web/mathml/fonts/index.md
  files/en-us/web/media/formats/codecs_parameter/index.md
  files/en-us/web/privacy/state_partitioning/index.md
Labels: Content:HTML, Content:WebAPI, Content:Other, Content:DevTools, Content:Accessibility, Content:Media, Content:MathML
