Repository mdn/content, pull requests merged in 2022-07, with the labels that each got.

#17809 Add percentage usage for : flex-basis
  files/en-us/web/css/flex-basis/index.md
Labels: Content:CSS

#17828 Fix broken link in index.md
  files/en-us/web/api/file_and_directory_entries_api/introduction/index.md
Labels: Content:WebAPI

#17829 There may be a punctuation missing here
  files/en-us/web/api/textdecoderstream/ignorebom/index.md
Labels: Content:WebAPI

#17780 Improve code style of Proxy handler example
  files/en-us/web/javascript/reference/global_objects/proxy/index.md
Labels: Content:JS

#16773 adoptedStyleSheet property docs
  files/en-us/mozilla/firefox/releases/101/index.md
  files/en-us/web/api/cssstylesheet/cssstylesheet/index.md
  files/en-us/web/api/cssstylesheet/deleterule/index.md
  files/en-us/web/api/cssstylesheet/insertrule/index.md
  files/en-us/web/api/cssstylesheet/replace/index.md
  files/en-us/web/api/cssstylesheet/replacesync/index.md
  files/en-us/web/api/document/adoptedstylesheets/index.md
  files/en-us/web/api/document/index.md
  files/en-us/web/api/shadowroot/adoptedstylesheets/index.md
  files/en-us/web/api/shadowroot/index.md
Labels: Content:WebAPI, Content:Other

#17821 Fix wikipedia redirect at About Javascript page
  files/en-us/web/javascript/about_javascript/index.md
Labels: Content:JS

#17833 -- to m-dash
  files/en-us/games/introduction/index.md
  files/en-us/glossary/distributed_denial_of_service/index.md
  files/en-us/learn/html/howto/author_fast-loading_html_pages/index.md
  files/en-us/learn/html/introduction_to_html/advanced_text_formatting/index.md
  files/en-us/mdn/contribute/processes/matching_features_to_browser_version/index.md
  files/en-us/mozilla/firefox/releases/10/index.md
  files/en-us/mozilla/firefox/releases/2/security_changes/index.md
  files/en-us/mozilla/firefox/releases/2/updating_extensions/index.md
  files/en-us/mozilla/firefox/releases/3/index.md
  files/en-us/mozilla/firefox/releases/3/updating_extensions/index.md
  files/en-us/mozilla/firefox/releases/3/updating_web_applications/index.md
  files/en-us/mozilla/firefox/releases/7/index.md
  files/en-us/mozilla/firefox/releases/7/updating_extensions/index.md
  files/en-us/web/accessibility/architecture/index.md
  files/en-us/web/accessibility/aria/attributes/aria-modal/index.md
  files/en-us/web/accessibility/aria/roles/listbox_role/index.md
  files/en-us/web/accessibility/aria/roles/main_role/index.md
  files/en-us/web/accessibility/aria/roles/sectionhead_role/index.md
  files/en-us/web/accessibility/aria/roles/toolbar_role/index.md
  files/en-us/web/accessibility/aria/roles/tree_role/index.md
  files/en-us/web/api/filesystemdirectoryentry/createreader/index.md
  files/en-us/web/api/imagebitmap/close/index.md
  files/en-us/web/api/rtcicecandidate/relatedport/index.md
  files/en-us/web/api/speechsynthesis/getvoices/index.md
  files/en-us/web/api/speechsynthesis/index.md
  files/en-us/web/api/speechsynthesisvoice/default/index.md
  files/en-us/web/api/speechsynthesisvoice/index.md
  files/en-us/web/api/speechsynthesisvoice/lang/index.md
  files/en-us/web/api/speechsynthesisvoice/localservice/index.md
  files/en-us/web/api/speechsynthesisvoice/name/index.md
  files/en-us/web/api/speechsynthesisvoice/voiceuri/index.md
Labels: Content:WebAPI, Content:Learn, Content:Other, Content:Accessibility, Content:Glossary

#17834 -- to m-dash
  README.md
  files/en-us/web/api/web_speech_api/using_the_web_speech_api/index.md
  files/en-us/web/api/window/speechsynthesis/index.md
  files/en-us/web/api/xmlhttprequest/synchronous_and_asynchronous_requests/index.md
  files/en-us/web/css/css_lists_and_counters/consistent_list_indentation/index.md
  files/en-us/web/css/css_values_and_units/index.md
  files/en-us/web/css/gradient/conic-gradient/index.md
  files/en-us/web/css/gradient/repeating-conic-gradient/index.md
  files/en-us/web/css/offset-path/index.md
  files/en-us/web/css/right/index.md
  files/en-us/web/css/scaling_of_svg_backgrounds/index.md
  files/en-us/web/css/url/index.md
  files/en-us/web/events/orientation_and_motion_data_explained/index.md
  files/en-us/web/guide/ajax/wai_aria_live_regions_api_support/index.md
  files/en-us/web/html/attributes/required/index.md
  files/en-us/web/html/attributes/step/index.md
  files/en-us/web/html/element/object/index.md
  files/en-us/web/javascript/equality_comparisons_and_sameness/index.md
  files/en-us/web/javascript/guide/regular_expressions/index.md
  files/en-us/web/javascript/reference/errors/is_not_iterable/index.md
  files/en-us/web/javascript/reference/functions/arrow_functions/index.md
  files/en-us/web/javascript/reference/functions/rest_parameters/index.md
  files/en-us/web/javascript/reference/global_objects/nan/index.md
  files/en-us/web/javascript/reference/global_objects/promise/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/toprimitive/index.md
  files/en-us/web/javascript/reference/statements/function_star_/index.md
  files/en-us/web/javascript/shells/index.md
  files/en-us/web/performance/critical_rendering_path/index.md
  files/en-us/web/performance/how_browsers_work/index.md
  files/en-us/web/svg/namespaces_crash_course/example/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:JS, Content:Learn, Content:Other, Content:SVG

#17841 updates a broken link
  files/en-us/web/security/securing_your_site/index.md
Labels: Content:Other

#17840 updates a broken link
  files/en-us/web/svg/attribute/in/index.md
Labels: Content:SVG

#17830 Make all `TypedArray` constructor examples consistent, remove `var`
  files/en-us/web/javascript/reference/global_objects/bigint64array/index.md
  files/en-us/web/javascript/reference/global_objects/biguint64array/index.md
  files/en-us/web/javascript/reference/global_objects/float32array/index.md
  files/en-us/web/javascript/reference/global_objects/float64array/index.md
  files/en-us/web/javascript/reference/global_objects/int16array/index.md
  files/en-us/web/javascript/reference/global_objects/int32array/index.md
  files/en-us/web/javascript/reference/global_objects/int8array/index.md
  files/en-us/web/javascript/reference/global_objects/uint16array/index.md
  files/en-us/web/javascript/reference/global_objects/uint32array/index.md
  files/en-us/web/javascript/reference/global_objects/uint8array/index.md
  files/en-us/web/javascript/reference/global_objects/uint8clampedarray/index.md
Labels: Content:JS

#17831 #2 Make all `TypedArray` constructor examples consistent
  files/en-us/web/javascript/reference/global_objects/bigint64array/bigint64array/index.md
  files/en-us/web/javascript/reference/global_objects/biguint64array/biguint64array/index.md
  files/en-us/web/javascript/reference/global_objects/float32array/float32array/index.md
  files/en-us/web/javascript/reference/global_objects/float64array/float64array/index.md
  files/en-us/web/javascript/reference/global_objects/int16array/int16array/index.md
  files/en-us/web/javascript/reference/global_objects/int32array/int32array/index.md
  files/en-us/web/javascript/reference/global_objects/int8array/int8array/index.md
  files/en-us/web/javascript/reference/global_objects/uint16array/uint16array/index.md
  files/en-us/web/javascript/reference/global_objects/uint32array/uint32array/index.md
  files/en-us/web/javascript/reference/global_objects/uint8array/uint8array/index.md
  files/en-us/web/javascript/reference/global_objects/uint8clampedarray/uint8clampedarray/index.md
Labels: Content:JS

#17844 Adds a few links
  files/en-us/web/http/caching/index.md
Labels: Content:HTTP

#17839 updates a broken link
  files/en-us/web/svg/attribute/tablevalues/index.md
Labels: Content:SVG

#17838 updates a broken link
  files/en-us/web/svg/server-configuration/index.md
Labels: Content:SVG

#17837 removes a broken link
  files/en-us/web/svg/tutorial/svg_fonts/index.md
Labels: Content:SVG

#17846 Fix issues with Intl.NumberFormat
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/format/index.md
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/index.md
Labels: Content:JS

#17825 Fix remaining links to `item-*` attributes on other pages
  files/en-us/web/html/element/meta/index.md
  files/en-us/web/html/global_attributes/index.md
  files/en-us/web/html/global_attributes/itemid/index.md
  files/en-us/web/html/global_attributes/itemprop/index.md
  files/en-us/web/html/global_attributes/itemscope/index.md
  files/en-us/web/html/global_attributes/itemtype/index.md
Labels: Content:HTML

#17836 Remove page about dead XSLT Firefox extension
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/xslt/transforming_xml_with_xslt/index.md
  files/en-us/web/xslt/transforming_xml_with_xslt/resources/index.md
Labels: Content:Other

#17849 Note experimental status of ReadableStreams in Request.body
  files/en-us/web/api/fetch/index.md
Labels: Content:WebAPI

#17584 Update examples to eliminate 'required'
  files/en-us/web/accessibility/aria/attributes/aria-required/index.md
Labels: Content:Accessibility

#17817 Standardize parameters description of locale-aware APIs that call Intl counterparts
  files/en-us/web/javascript/reference/global_objects/array/tolocalestring/index.md
  files/en-us/web/javascript/reference/global_objects/bigint/tolocalestring/index.md
  files/en-us/web/javascript/reference/global_objects/date/tolocaledatestring/index.md
  files/en-us/web/javascript/reference/global_objects/date/tolocalestring/index.md
  files/en-us/web/javascript/reference/global_objects/date/tolocaletimestring/index.md
  files/en-us/web/javascript/reference/global_objects/number/tolocalestring/index.md
  files/en-us/web/javascript/reference/global_objects/string/localecompare/index.md
Labels: Content:JS

#17853 Removes outdated polyfill section
  files/en-us/web/api/element/closest/index.md
Labels: Content:WebAPI

#17845 Update web sockets server example error
  files/en-us/web/api/websockets_api/writing_websocket_server/index.md
Labels: Content:WebAPI

#17778 Wrong information for hash algo for ECDSA
  files/en-us/web/api/subtlecrypto/sign/index.md
Labels: Content:WebAPI

#17782 Fix description of Blob and File constructor parameter
  files/en-us/web/api/blob/blob/index.md
  files/en-us/web/api/file/file/index.md
Labels: Content:WebAPI

#17856 Fix incorrect link to `:host()`
  files/en-us/web/css/_colon_host-context/index.md
Labels: Content:CSS

#17858 Fix typo
  files/en-us/learn/forms/how_to_structure_a_web_form/index.md
Labels: Content:Learn

#17863 Fix a typo
  files/en-us/web/api/window/getcomputedstyle/index.md
Labels: Content:WebAPI

#11936 Note on String.p.includes case sensitivity
  files/en-us/web/javascript/reference/global_objects/string/includes/index.md
Labels: Content:JS

#17862 Minor fix
  files/en-us/web/api/htmlelement/offsetparent/index.md
Labels: Content:WebAPI

#17866 Clarification: animation-timing-function
  files/en-us/web/css/animation-timing-function/index.md
Labels: Content:CSS

#17861 Mention Symbol.{isConcatSpreadable,match,matchAll} in their caller pages
  files/en-us/web/javascript/reference/global_objects/array/concat/index.md
  files/en-us/web/javascript/reference/global_objects/string/match/index.md
  files/en-us/web/javascript/reference/global_objects/string/matchall/index.md
Labels: Content:JS

#17868 Scroll-snap-align tags
  files/en-us/web/css/scroll-snap-align/index.md
Labels: Content:CSS

#17870 Daily markdownlint
  files/en-us/web/accessibility/aria/attributes/aria-required/index.md
  files/en-us/web/api/cssstylesheet/cssstylesheet/index.md
  files/en-us/web/api/document/adoptedstylesheets/index.md
  files/en-us/web/api/shadowroot/adoptedstylesheets/index.md
Labels: Content:WebAPI, Content:Accessibility

#17880 updates a broken link
  files/en-us/web/api/iirfilternode/getfrequencyresponse/index.md
Labels: Content:WebAPI

#17877 Removes a broken list
  files/en-us/mdn/contribute/howto/write_an_api_reference/index.md
Labels: Content:Other

#17876 Updates a link
  files/en-us/web/accessibility/aria/aria_live_regions/index.md
Labels: Content:Accessibility

#17875 Updates a broken link
  files/en-us/web/accessibility/understanding_colors_and_luminance/index.md
Labels: Content:Accessibility

#17874 Updates broken links
  files/en-us/web/api/paymentaddress/postalcode/index.md
Labels: Content:WebAPI

#17872 fix: remove a broken link
  files/en-us/mdn/about/index.md
Labels: Content:Other

#17871 Updates a broken link
  files/en-us/web/progressive_web_apps/responsive/responsive_design_building_blocks/index.md
Labels: Content:Other

#17878 removes a broken link
  files/en-us/learn/forms/how_to_build_custom_form_controls/index.md
Labels: Content:Learn

#17869 fix translated `Warnings` card
  files/en-us/mdn/contribute/markdown_in_mdn/index.md
Labels: Content:Other

#17879 Updates a broken link
  files/en-us/games/techniques/3d_on_the_web/building_up_a_basic_demo_with_babylon.js/index.md
Labels: Content:Other

#17873 Updates a broken link
  files/en-us/web/guide/mobile/a_hybrid_approach/index.md
Labels: Content:Learn

#17882 Drop outdated info from “Introduction to the server side” doc
  files/en-us/learn/server-side/first_steps/introduction/index.md
Labels: Content:Learn

#17857 add link to updated HTTP spec for 422 response code
  files/en-us/web/http/status/422/index.md
Labels: Content:HTTP

#17835 Updates a link
  files/en-us/webassembly/using_the_javascript_api/index.md
Labels: Content:wasm

#17842 updates a broken link
  files/en-us/web/security/securing_your_site/index.md
Labels: Content:Other

#17884 Expand 'textual types' and 'numeric types' in <input> attribute table
  files/en-us/web/html/element/input/index.md
Labels: Content:HTML

#17722 Add mention of module/block scope in closures
  files/en-us/glossary/scope/index.md
  files/en-us/web/javascript/closures/index.md
Labels: Content:JS, Content:Glossary

#17582 Fix typo in the documentation
  files/en-us/web/javascript/reference/errors/invalid_array_length/index.md
Labels: Content:JS

#17887 Fix broken link to an anchor
  files/en-us/web/css/specificity/index.md
Labels: Content:CSS

#17855 deleted var
  files/en-us/web/api/performancenavigationtiming/domcontentloadedeventend/index.md
  files/en-us/web/api/performancenavigationtiming/domcontentloadedeventstart/index.md
  files/en-us/web/api/performancenavigationtiming/dominteractive/index.md
  files/en-us/web/api/performancenavigationtiming/loadeventend/index.md
  files/en-us/web/api/performancenavigationtiming/loadeventstart/index.md
  files/en-us/web/api/performancenavigationtiming/redirectcount/index.md
  files/en-us/web/api/performancenavigationtiming/type/index.md
  files/en-us/web/api/performancenavigationtiming/unloadeventend/index.md
  files/en-us/web/api/performanceobserver/disconnect/index.md
  files/en-us/web/api/performanceobserver/observe/index.md
  files/en-us/web/api/performanceobserver/performanceobserver/index.md
  files/en-us/web/api/performanceobserver/takerecords/index.md
  files/en-us/web/api/performanceobserverentrylist/getentries/index.md
  files/en-us/web/api/performanceobserverentrylist/getentriesbyname/index.md
  files/en-us/web/api/performanceobserverentrylist/getentriesbytype/index.md
  files/en-us/web/api/performanceobserverentrylist/index.md
  files/en-us/web/api/performanceresourcetiming/connectend/index.md
  files/en-us/web/api/performanceresourcetiming/connectstart/index.md
  files/en-us/web/api/performanceresourcetiming/decodedbodysize/index.md
  files/en-us/web/api/performanceresourcetiming/fetchstart/index.md
  files/en-us/web/api/performanceresourcetiming/initiatortype/index.md
  files/en-us/web/api/performanceresourcetiming/nexthopprotocol/index.md
  files/en-us/web/api/performanceresourcetiming/redirectend/index.md
  files/en-us/web/api/performanceresourcetiming/redirectstart/index.md
  files/en-us/web/api/performanceresourcetiming/requeststart/index.md
  files/en-us/web/api/performanceresourcetiming/responseend/index.md
  files/en-us/web/api/performanceresourcetiming/responsestart/index.md
  files/en-us/web/api/performanceresourcetiming/secureconnectionstart/index.md
  files/en-us/web/api/performanceresourcetiming/transfersize/index.md
  files/en-us/web/api/performanceresourcetiming/workerstart/index.md
Labels: Content:WebAPI

#17891 Minor formatting tweaks
  files/en-us/web/css/@layer/index.md
Labels: Content:CSS

#17892 Fix links to the `is` attribute
  files/en-us/web/web_components/index.md
  files/en-us/web/web_components/using_custom_elements/index.md
Labels: Content:Other

#17896 Fix source to .webm video files
  files/en-us/learn/javascript/client-side_web_apis/client-side_storage/index.md
Labels: Content:Learn

#17897 fix: various typos
  files/en-us/web/api/cssstylesheet/cssstylesheet/index.md
  files/en-us/web/javascript/reference/global_objects/weakmap/index.md
Labels: Content:WebAPI, Content:JS

#17898 Fix markdownlint errors and rephrase content
  files/en-us/learn/server-side/express_nodejs/deployment/index.md
Labels: Content:Learn

#17901 Updates broken links
  files/en-us/web/progressive_web_apps/responsive/responsive_design_building_blocks/index.md
Labels: Content:Other

#17902 updates a broken link
  files/en-us/web/guide/audio_and_video_delivery/adding_captions_and_subtitles_to_html5_video/index.md
Labels: Content:Learn

#17903 Removes a broken link
  files/en-us/web/api/sharedworker/index.md
  files/en-us/web/api/sharedworker/port/index.md
Labels: Content:WebAPI

#17905 removes a broken link
  files/en-us/mdn/contribute/changelog/index.md
Labels: Content:Other

#17906 removes a broken link
  files/en-us/learn/tools_and_testing/cross_browser_testing/automated_testing/index.md
Labels: Content:Learn

#17907 updates a broken link
  files/en-us/learn/common_questions/available_text_editors/index.md
Labels: Content:Learn

#17900 Replace `Boolean` wrapper objects with normal boolean
  files/en-us/web/api/htmlmediaelement/index.md
Labels: Content:WebAPI

#17908 updates a broken link
  files/en-us/learn/javascript/client-side_web_apis/third_party_apis/index.md
Labels: Content:Learn

#17909 removes a broken link
  files/en-us/web/api/web_speech_api/index.md
Labels: Content:WebAPI

#17910 updates broken links
  files/en-us/games/techniques/3d_on_the_web/webvr/index.md
Labels: Content:Other

#17899 Replace {{event}} macros with {{domxref}} in HTMLMediaElement
  files/en-us/learn/javascript/client-side_web_apis/video_and_audio_apis/index.md
  files/en-us/mozilla/firefox/releases/52/index.md
  files/en-us/web/api/globaleventhandlers/index.md
  files/en-us/web/api/globaleventhandlers/onloadstart/index.md
  files/en-us/web/api/htmlmediaelement/load/index.md
Labels: Content:WebAPI, Content:Learn, Content:Other

#17912 Replace {{event}} with {{domxref}} for `click` event
  files/en-us/web/api/htmlmediaelement/play/index.md
Labels: Content:WebAPI

#17814 Restore TypedArray.p.values content
  files/en-us/web/javascript/reference/global_objects/typedarray/values/index.md
Labels: Content:JS

#17913 Updated syntax
  files/en-us/web/api/speechgrammarlist/item/index.md
  files/en-us/web/api/speechrecognition/index.md
  files/en-us/web/api/speechrecognition/result_event/index.md
  files/en-us/web/api/speechrecognitionalternative/confidence/index.md
  files/en-us/web/api/speechrecognitionalternative/index.md
  files/en-us/web/api/speechrecognitionalternative/transcript/index.md
Labels: Content:WebAPI

#17917 provide link to MDN documentation for Number.prototype.toString()
  files/en-us/web/javascript/reference/global_objects/object/tostring/index.md
Labels: Content:JS

#17915 Fixed a typo
  files/en-us/learn/css/building_blocks/cascade_and_inheritance/index.md
Labels: Content:Learn

#17920 Fix invalid anchor when rendering as HTML
  files/en-us/web/http/status/index.md
Labels: Content:HTTP

#17924 Fix incorrect HTML tags
  files/en-us/web/accessibility/aria/roles/radio_role/index.md
Labels: Content:Accessibility

#17922 Remove all polyfills in JS docs
  files/en-us/web/javascript/reference/global_objects/array/fill/index.md
  files/en-us/web/javascript/reference/global_objects/math/acosh/index.md
  files/en-us/web/javascript/reference/global_objects/math/asinh/index.md
  files/en-us/web/javascript/reference/global_objects/math/atanh/index.md
  files/en-us/web/javascript/reference/global_objects/math/cbrt/index.md
  files/en-us/web/javascript/reference/global_objects/math/clz32/index.md
  files/en-us/web/javascript/reference/global_objects/math/cosh/index.md
  files/en-us/web/javascript/reference/global_objects/math/hypot/index.md
  files/en-us/web/javascript/reference/global_objects/math/imul/index.md
  files/en-us/web/javascript/reference/global_objects/math/log10/index.md
  files/en-us/web/javascript/reference/global_objects/math/log2/index.md
  files/en-us/web/javascript/reference/global_objects/math/sinh/index.md
  files/en-us/web/javascript/reference/global_objects/math/tanh/index.md
  files/en-us/web/javascript/reference/global_objects/number/epsilon/index.md
  files/en-us/web/javascript/reference/global_objects/number/isfinite/index.md
  files/en-us/web/javascript/reference/global_objects/number/isnan/index.md
  files/en-us/web/javascript/reference/global_objects/number/issafeinteger/index.md
  files/en-us/web/javascript/reference/global_objects/number/max_safe_integer/index.md
  files/en-us/web/javascript/reference/global_objects/object/defineproperties/index.md
  files/en-us/web/javascript/reference/global_objects/object/entries/index.md
  files/en-us/web/javascript/reference/global_objects/object/is/index.md
  files/en-us/web/javascript/reference/global_objects/object/setprototypeof/index.md
  files/en-us/web/javascript/reference/global_objects/object/values/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/flags/index.md
  files/en-us/web/javascript/reference/global_objects/string/codepointat/index.md
  files/en-us/web/javascript/reference/global_objects/string/endswith/index.md
  files/en-us/web/javascript/reference/global_objects/string/fromcodepoint/index.md
  files/en-us/web/javascript/reference/global_objects/string/repeat/index.md
  files/en-us/web/javascript/reference/global_objects/string/startswith/index.md
  files/en-us/web/javascript/reference/global_objects/string/substr/index.md
  files/en-us/web/javascript/reference/global_objects/string/trimstart/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/findindex/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/join/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/reduce/index.md
Labels: Content:JS

#17925 Fix broken link to promise docs
  files/en-us/learn/server-side/express_nodejs/displaying_data/flow_control_using_async/index.md
Labels: Content:Learn

#17932 Typed arrays are always deep copies
  files/en-us/web/javascript/reference/global_objects/typedarray/slice/index.md
Labels: Content:JS

#17939 Make math equation displayed correctly
  files/en-us/games/techniques/3d_collision_detection/index.md
Labels: Content:Other

#17938 updates a broken link
  files/en-us/learn/server-side/apache_configuration_htaccess/index.md
Labels: Content:Learn

#17936 Update a broken link
  files/en-us/learn/css/css_layout/fundamental_layout_comprehension/index.md
Labels: Content:Learn

#17935 Remove a broken link
  files/en-us/learn/common_questions/common_web_layouts/index.md
Labels: Content:Learn

#17937 update a broken link
  files/en-us/learn/forms/html_forms_in_legacy_browsers/index.md
Labels: Content:Learn

#17933 Update broken links on text editors page
  files/en-us/learn/common_questions/available_text_editors/index.md
Labels: Content:Learn

#17883 Mark Intl.NumberFormat V3 feature as experimental
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/numberformat/index.md
Labels: Content:JS

#17944 Fixed property name of rotationAngle
  files/en-us/web/api/touch/rotationangle/index.md
Labels: Content:WebAPI

#17928 Adjust example wording: primitives and assignment
  files/en-us/glossary/primitive/index.md
Labels: Content:Glossary

#17946 Point the 'details' hyperlink to the correct anchor
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onheadersreceived/index.md
Labels: Content:WebExt, Content:Other

#17950 Fix typo
  files/en-us/learn/accessibility/mobile/index.md
Labels: Content:Learn

#17926 Fix typo in animation-timing-function
  files/en-us/web/css/animation-timing-function/index.md
Labels: Content:CSS

#17788 Include Big(U)Int64Array in TypedArray bytes_per_element/name
  files/en-us/web/javascript/reference/global_objects/typedarray/bytes_per_element/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/name/index.md
Labels: Content:JS

#17888 32 new interactive examples
  files/en-us/web/css/_colon_active/index.md
  files/en-us/web/css/_colon_any-link/index.md
  files/en-us/web/css/_colon_autofill/index.md
  files/en-us/web/css/_colon_checked/index.md
  files/en-us/web/css/_colon_default/index.md
  files/en-us/web/css/_colon_empty/index.md
  files/en-us/web/css/_colon_focus-visible/index.md
  files/en-us/web/css/_colon_focus-within/index.md
  files/en-us/web/css/_colon_focus/index.md
  files/en-us/web/css/_colon_hover/index.md
  files/en-us/web/css/_colon_invalid/index.md
  files/en-us/web/css/_colon_lang/index.md
  files/en-us/web/css/_colon_link/index.md
  files/en-us/web/css/_colon_only-child/index.md
  files/en-us/web/css/_colon_only-of-type/index.md
  files/en-us/web/css/_colon_placeholder-shown/index.md
  files/en-us/web/css/_colon_read-only/index.md
  files/en-us/web/css/_colon_read-write/index.md
  files/en-us/web/css/_colon_valid/index.md
  files/en-us/web/css/_colon_visited/index.md
  files/en-us/web/css/_doublecolon_file-selector-button/index.md
  files/en-us/web/css/_doublecolon_first-letter/index.md
  files/en-us/web/css/_doublecolon_first-line/index.md
  files/en-us/web/css/_doublecolon_marker/index.md
  files/en-us/web/css/_doublecolon_placeholder/index.md
  files/en-us/web/css/_doublecolon_selection/index.md
  files/en-us/web/css/basic-shape/circle/index.md
  files/en-us/web/css/basic-shape/ellipse/index.md
  files/en-us/web/css/basic-shape/inset/index.md
  files/en-us/web/css/basic-shape/polygon/index.md
  files/en-us/web/css/font-variant-east-asian/index.md
  files/en-us/web/css/path/index.md
Labels: Content:CSS

#17951 Typo fix
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_typescript/index.md
Labels: Content:Learn

#17777 Updated Syntax
  files/en-us/web/api/periodicsyncmanager/gettags/index.md
  files/en-us/web/api/periodicwave/periodicwave/index.md
  files/en-us/web/api/permissions_api/using_the_permissions_api/index.md
  files/en-us/web/api/pluginarray/index.md
  files/en-us/web/api/pointer_events/index.md
  files/en-us/web/api/pointer_events/multi-touch_interaction/index.md
  files/en-us/web/api/pointer_events/pinch_zoom_gestures/index.md
  files/en-us/web/api/pointer_events/using_pointer_events/index.md
  files/en-us/web/api/pointer_lock_api/index.md
  files/en-us/web/api/pointerevent/pointerevent/index.md
  files/en-us/web/api/pointerevent/width/index.md
  files/en-us/web/api/positionsensorvrdevice/getimmediatestate/index.md
  files/en-us/web/api/positionsensorvrdevice/getstate/index.md
  files/en-us/web/api/positionsensorvrdevice/index.md
  files/en-us/web/api/presentation_api/index.md
  files/en-us/web/api/presentationrequest/start/index.md
  files/en-us/web/api/progressevent/index.md
  files/en-us/web/api/publickeycredential/getclientextensionresults/index.md
  files/en-us/web/api/publickeycredential/id/index.md
  files/en-us/web/api/publickeycredential/index.md
  files/en-us/web/api/publickeycredential/rawid/index.md
  files/en-us/web/api/publickeycredential/response/index.md
  files/en-us/web/api/publickeycredentialrequestoptions/index.md
  files/en-us/web/api/pushevent/data/index.md
  files/en-us/web/api/pushevent/index.md
  files/en-us/web/api/pushevent/pushevent/index.md
  files/en-us/web/api/pushmanager/getsubscription/index.md
  files/en-us/web/api/pushmanager/register/index.md
  files/en-us/web/api/pushmanager/registrations/index.md
  files/en-us/web/api/pushmanager/subscribe/index.md
  files/en-us/web/api/pushmanager/unregister/index.md
  files/en-us/web/api/pushmessagedata/arraybuffer/index.md
  files/en-us/web/api/pushmessagedata/blob/index.md
  files/en-us/web/api/pushmessagedata/index.md
  files/en-us/web/api/pushmessagedata/json/index.md
  files/en-us/web/api/pushmessagedata/text/index.md
  files/en-us/web/api/pushsubscription/getkey/index.md
  files/en-us/web/api/pushsubscription/tojson/index.md
Labels: Content:WebAPI

#17927 Updates and corrections to the ARIA radio doc
  files/en-us/web/accessibility/aria/roles/radio_role/index.md
Labels: Content:Accessibility

#17960 Remove extra space
  files/en-us/web/javascript/reference/global_objects/regexp/exec/index.md
Labels: Content:JS

#17967 Daily markdownlint
  files/en-us/learn/forms/html_forms_in_legacy_browsers/index.md
  files/en-us/web/accessibility/aria/roles/radio_role/index.md
Labels: Content:Learn, Content:Accessibility

#17966 Fix a typo
  files/en-us/web/api/geolocation/clearwatch/index.md
Labels: Content:WebAPI

#17964 Replace {{event}} with {{domxref}} for mouse events
  files/en-us/games/tutorials/2d_breakout_game_pure_javascript/mouse_controls/index.md
  files/en-us/mdn/kitchensink/index.md
  files/en-us/mozilla/firefox/releases/44/index.md
  files/en-us/web/api/dragevent/index.md
  files/en-us/web/api/element/webkitmouseforcechanged_event/index.md
  files/en-us/web/api/element/webkitmouseforcewillbegin_event/index.md
  files/en-us/web/api/force_touch_events/index.md
  files/en-us/web/api/globaleventhandlers/index.md
  files/en-us/web/api/globaleventhandlers/onauxclick/index.md
  files/en-us/web/api/globaleventhandlers/onmousedown/index.md
  files/en-us/web/api/globaleventhandlers/onmouseenter/index.md
  files/en-us/web/api/globaleventhandlers/onmouseleave/index.md
  files/en-us/web/api/globaleventhandlers/onmousemove/index.md
  files/en-us/web/api/globaleventhandlers/onmouseout/index.md
  files/en-us/web/api/globaleventhandlers/onmouseover/index.md
  files/en-us/web/api/globaleventhandlers/onmouseup/index.md
  files/en-us/web/api/globaleventhandlers/onpointerdown/index.md
  files/en-us/web/api/mouseevent/buttons/index.md
  files/en-us/web/api/mouseevent/clientx/index.md
  files/en-us/web/api/mouseevent/clienty/index.md
  files/en-us/web/api/mouseevent/screenx/index.md
  files/en-us/web/api/mouseevent/screeny/index.md
  files/en-us/web/api/performanceeventtiming/index.md
  files/en-us/web/api/pointer_lock_api/index.md
  files/en-us/web/api/web_audio_api/simple_synth/index.md
  files/en-us/web/css/cssom_view/coordinate_systems/index.md
  files/en-us/web/svg/attribute/begin/index.md
Labels: Content:CSS, Content:WebAPI, Content:Other, Content:SVG

#17969 update a broken link
  files/en-us/web/http/resources_and_specifications/index.md
Labels: Content:HTTP

#17970 Update a broken link
  files/en-us/web/guide/introduction_to_web_development/index.md
Labels: Content:Learn

#17971 update a broken link
  files/en-us/web/exslt/math/min/index.md
Labels: Content:Other

#17972 update a broken link
  files/en-us/web/guide/audio_and_video_delivery/live_streaming_web_audio_and_video/index.md
Labels: Content:Learn

#17973 update a broken link
  files/en-us/web/guide/audio_and_video_delivery/setting_up_adaptive_streaming_media_sources/index.md
Labels: Content:Learn

#17976 let -> const in for...of
  files/en-us/web/javascript/a_re-introduction_to_javascript/index.md
  files/en-us/web/javascript/guide/iterators_and_generators/index.md
  files/en-us/web/javascript/guide/keyed_collections/index.md
  files/en-us/web/javascript/guide/loops_and_iteration/index.md
  files/en-us/web/javascript/reference/errors/invalid_for-of_initializer/index.md
  files/en-us/web/javascript/reference/errors/is_not_iterable/index.md
  files/en-us/web/javascript/reference/functions/arguments/@@iterator/index.md
  files/en-us/web/javascript/reference/global_objects/array/@@iterator/index.md
  files/en-us/web/javascript/reference/global_objects/array/entries/index.md
  files/en-us/web/javascript/reference/global_objects/array/values/index.md
  files/en-us/web/javascript/reference/global_objects/object/hasown/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/index.md
  files/en-us/web/javascript/reference/global_objects/set/index.md
  files/en-us/web/javascript/reference/global_objects/string/@@iterator/index.md
  files/en-us/web/javascript/reference/global_objects/string/codepointat/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/entries/index.md
  files/en-us/web/javascript/reference/statements/let/index.md
Labels: Content:JS

#17968 updates a broken link
  files/en-us/web/progressive_web_apps/responsive/graphics_for_responsive_sites/index.md
Labels: Content:Other

#17974 remove a broken link
  files/en-us/web/api/node/getrootnode/index.md
Labels: Content:WebAPI

#17979 Fix typo.
  files/en-us/web/css/css_flexible_box_layout/controlling_ratios_of_flex_items_along_the_main_ax/index.md
Labels: Content:CSS

#17978 Update Intl.supportedValuesOf polyfill link
  files/en-us/web/javascript/reference/global_objects/intl/supportedvaluesof/index.md
Labels: Content:JS

#17980 var -> const
  files/en-us/web/javascript/reference/statements/do...while/index.md
  files/en-us/web/javascript/reference/statements/export/index.md
  files/en-us/web/javascript/reference/statements/for...in/index.md
  files/en-us/web/javascript/reference/statements/function/index.md
  files/en-us/web/javascript/reference/statements/if...else/index.md
  files/en-us/web/javascript/reference/statements/return/index.md
  files/en-us/web/javascript/reference/statements/switch/index.md
  files/en-us/web/javascript/reference/statements/throw/index.md
  files/en-us/web/javascript/reference/statements/while/index.md
  files/en-us/web/javascript/reference/strict_mode/index.md
  files/en-us/web/javascript/reference/strict_mode/transitioning_to_strict_mode/index.md
  files/en-us/web/javascript/reference/trailing_commas/index.md
  files/en-us/web/javascript/the_performance_hazards_of_prototype_mutation/index.md
Labels: Content:JS

#17963 Add V8-specific `Error` properties, along with external doc link
  files/en-us/web/javascript/reference/global_objects/error/index.md
Labels: Content:JS

#17955 Improve grammar around <em> and <i>
  files/en-us/web/html/element/em/index.md
Labels: Content:HTML

#17984 typofix: brackets/parenthesis parity for a syntax bloc
  files/en-us/web/css/gradient/repeating-conic-gradient/index.md
Labels: Content:CSS

#17982 Remove JS *.toSource()
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/firefox/releases/74/index.md
  files/en-us/web/javascript/guide/functions/index.md
  files/en-us/web/javascript/reference/global_objects/array/tosource/index.md
  files/en-us/web/javascript/reference/global_objects/array/tostring/index.md
  files/en-us/web/javascript/reference/global_objects/boolean/tosource/index.md
  files/en-us/web/javascript/reference/global_objects/date/tosource/index.md
  files/en-us/web/javascript/reference/global_objects/eval/index.md
  files/en-us/web/javascript/reference/global_objects/function/tosource/index.md
  files/en-us/web/javascript/reference/global_objects/index.md
  files/en-us/web/javascript/reference/global_objects/number/tosource/index.md
  files/en-us/web/javascript/reference/global_objects/object/tosource/index.md
  files/en-us/web/javascript/reference/global_objects/object/tostring/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/tosource/index.md
  files/en-us/web/javascript/reference/global_objects/string/tosource/index.md
  files/en-us/web/javascript/reference/global_objects/string/tostring/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/tosource/index.md
  files/en-us/web/javascript/reference/global_objects/uneval/index.md
Labels: Content:JS, Content:Other

#17820 Updated Syntax
  files/en-us/web/api/range/collapse/index.md
  files/en-us/web/api/range/compareboundarypoints/index.md
  files/en-us/web/api/range/comparenode/index.md
  files/en-us/web/api/range/createcontextualfragment/index.md
  files/en-us/web/api/range/detach/index.md
  files/en-us/web/api/range/endcontainer/index.md
  files/en-us/web/api/range/endoffset/index.md
  files/en-us/web/api/range/extractcontents/index.md
  files/en-us/web/api/range/intersectsnode/index.md
  files/en-us/web/api/range/setendafter/index.md
  files/en-us/web/api/range/setendbefore/index.md
  files/en-us/web/api/range/setstartafter/index.md
  files/en-us/web/api/range/setstartbefore/index.md
  files/en-us/web/api/range/startoffset/index.md
  files/en-us/web/api/readablestream/cancel/index.md
  files/en-us/web/api/reporterror/index.md
  files/en-us/web/api/request/headers/index.md
  files/en-us/web/api/resource_timing_api/using_the_resource_timing_api/index.md
  files/en-us/web/api/response/arraybuffer/index.md
Labels: Content:WebAPI

#17207 Clarify Clipboard availability
  files/en-us/web/api/clipboard/index.md
  files/en-us/web/api/clipboard_api/index.md
Labels: Content:WebAPI

#17993 fix: code link
  files/en-us/web/api/webgl_api/tutorial/creating_3d_objects_using_webgl/index.md
Labels: Content:WebAPI

#17994 Fix broken link
  files/en-us/learn/html/tables/advanced/index.md
Labels: Content:Learn

#17958 Proxy authorization header https only
  files/en-us/mozilla/add-ons/webextensions/api/proxy/proxyinfo/index.md
  files/en-us/mozilla/firefox/releases/68/index.md
Labels: Content:WebExt, Content:Other

#17977 FF103 Array/TypedArray findLast() and findLastIndex()
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/web/javascript/reference/global_objects/array/findindex/index.md
  files/en-us/web/javascript/reference/global_objects/array/findlast/index.md
  files/en-us/web/javascript/reference/global_objects/array/findlastindex/index.md
  files/en-us/web/javascript/reference/global_objects/array/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/findlast/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/findlastindex/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/index.md
Labels: Content:JS, Content:Other

#17983 fix small typo/grammatical error
  files/en-us/web/api/domtokenlist/add/index.md
Labels: Content:WebAPI

#17995 Propagate error cause wording update
  files/en-us/web/javascript/reference/global_objects/aggregateerror/aggregateerror/index.md
  files/en-us/web/javascript/reference/global_objects/aggregateerror/index.md
  files/en-us/web/javascript/reference/global_objects/evalerror/evalerror/index.md
  files/en-us/web/javascript/reference/global_objects/evalerror/index.md
  files/en-us/web/javascript/reference/global_objects/internalerror/internalerror/index.md
  files/en-us/web/javascript/reference/global_objects/rangeerror/index.md
  files/en-us/web/javascript/reference/global_objects/rangeerror/rangeerror/index.md
  files/en-us/web/javascript/reference/global_objects/referenceerror/index.md
  files/en-us/web/javascript/reference/global_objects/referenceerror/referenceerror/index.md
  files/en-us/web/javascript/reference/global_objects/syntaxerror/syntaxerror/index.md
  files/en-us/web/javascript/reference/global_objects/typeerror/index.md
  files/en-us/web/javascript/reference/global_objects/typeerror/typeerror/index.md
  files/en-us/web/javascript/reference/global_objects/urierror/index.md
  files/en-us/web/javascript/reference/global_objects/urierror/urierror/index.md
  files/en-us/web/javascript/reference/global_objects/webassembly/compileerror/compileerror/index.md
  files/en-us/web/javascript/reference/global_objects/webassembly/linkerror/linkerror/index.md
  files/en-us/web/javascript/reference/global_objects/webassembly/runtimeerror/runtimeerror/index.md
Labels: Content:JS

#18003 fix a broken link to devicemotion event
  files/en-us/web/api/window/deviceorientation_event/index.md
Labels: Content:WebAPI

#18008 Curly quotes to straight quotes
  files/en-us/learn/tools_and_testing/cross_browser_testing/javascript/index.md
  files/en-us/web/accessibility/aria/attributes/aria-required/index.md
  files/en-us/web/accessibility/aria/roles/scrollbar_role/index.md
  files/en-us/web/api/readablestream/tee/index.md
  files/en-us/web/api/window/popstate_event/index.md
  files/en-us/web/css/grid-template-columns/index.md
  files/en-us/web/css/length/index.md
  files/en-us/web/http/caching/index.md
  files/en-us/web/javascript/guide/grammar_and_types/index.md
  files/en-us/web/javascript/reference/global_objects/error/cause/index.md
Labels: Content:CSS, Content:WebAPI, Content:JS, Content:Learn, Content:HTTP, Content:Accessibility

#18006 Daily markdownlint
  files/en-us/mozilla/firefox/releases/68/index.md
Labels: Content:Other

#18018 Remove nonexistent macros
  files/en-us/mdn/structures/macros/other/index.md
Labels: Content:Other

#18004 Change checkbox tag to input with checkbox type
  files/en-us/web/accessibility/aria/roles/switch_role/index.md
Labels: Content:Accessibility

#18010 Update a broken link
  files/en-us/learn/server-side/apache_configuration_htaccess/index.md
Labels: Content:Learn

#18017 update a broken link
  files/en-us/mdn/guidelines/code_guidelines/general/index.md
Labels: Content:Other

#18012 update a broken link
  files/en-us/learn/server-side/django/development_environment/index.md
Labels: Content:Learn

#18013 update a broken link
  files/en-us/mdn/contribute/howto/document_an_http_header/index.md
Labels: Content:Other

#18014 update broken links
  files/en-us/mdn/contribute/howto/document_web_errors/index.md
Labels: Content:Other

#18016 Adds a new glossary entry
  files/en-us/glossary/dsl/digital_subscriber_line/index.md
  files/en-us/glossary/dsl/domain_specific_language/index.md
  files/en-us/glossary/dsl/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/introduction/index.md
  files/en-us/web/http/caching/index.md
Labels: Content:Learn, Content:HTTP, Content:Glossary

#17904 removes a broken link
  files/en-us/web/api/element/setattribute/index.md
Labels: Content:WebAPI

#17997 Remove unused variable from code example
  files/en-us/web/javascript/reference/global_objects/symbol/matchall/index.md
Labels: Content:JS

#18023 Mention in Array.prototype.filter() doc that it does shallow copy
  files/en-us/web/javascript/reference/global_objects/array/filter/index.md
Labels: Content:JS

#18022 Rewrite eval page
  files/en-us/web/javascript/reference/global_objects/eval/index.md
Labels: Content:JS

#17886 Fix width measurement
  files/en-us/web/api/textmetrics/index.md
Labels: Content:WebAPI

#18029 fix: sample code links
  files/en-us/web/api/webgl_api/tutorial/adding_2d_content_to_a_webgl_context/index.md
  files/en-us/web/api/webgl_api/tutorial/animating_objects_with_webgl/index.md
  files/en-us/web/api/webgl_api/tutorial/animating_textures_in_webgl/index.md
  files/en-us/web/api/webgl_api/tutorial/getting_started_with_webgl/index.md
  files/en-us/web/api/webgl_api/tutorial/lighting_in_webgl/index.md
  files/en-us/web/api/webgl_api/tutorial/using_shaders_to_apply_color_in_webgl/index.md
  files/en-us/web/api/webgl_api/tutorial/using_textures_in_webgl/index.md
  files/en-us/web/api/webxr_device_api/movement_and_motion/index.md
  files/en-us/web/guide/audio_and_video_manipulation/index.md
Labels: Content:WebAPI, Content:Learn

#17990 Fixes typos mistakes and errors
  files/en-us/mdn/contribute/open_source_etiquette/index.md
Labels: Content:Other

#17998 Change AudioFrame to AudioData
  files/en-us/web/api/mediastreamtrackgenerator/index.md
Labels: Content:WebAPI

#18035 removed var
  files/en-us/web/api/rtcpeerconnection/addstream/index.md
Labels: Content:WebAPI

#18039 Update the docs
  files/en-us/mozilla/add-ons/webextensions/api/scripting/index.md
Labels: Content:WebExt, Content:Other

#18043 Explain when we document JS
  files/en-us/web/javascript/index.md
Labels: Content:JS

#17929 Updated Syntax for WebRTC
  files/en-us/web/api/rtcdatachannel/binarytype/index.md
  files/en-us/web/api/rtcdatachannel/bufferedamount/index.md
  files/en-us/web/api/rtcdatachannel/bufferedamountlowthreshold/index.md
  files/en-us/web/api/rtcdatachannel/close/index.md
  files/en-us/web/api/rtcdatachannel/id/index.md
  files/en-us/web/api/rtcdatachannel/index.md
  files/en-us/web/api/rtcdatachannel/label/index.md
  files/en-us/web/api/rtcdatachannel/maxpacketlifetime/index.md
  files/en-us/web/api/rtcdatachannel/maxretransmits/index.md
  files/en-us/web/api/rtcdatachannel/negotiated/index.md
  files/en-us/web/api/rtcdatachannel/ordered/index.md
  files/en-us/web/api/rtcdatachannel/protocol/index.md
  files/en-us/web/api/rtcdatachannel/readystate/index.md
  files/en-us/web/api/rtcdatachannel/reliable/index.md
  files/en-us/web/api/rtcdatachannel/send/index.md
  files/en-us/web/api/rtcdatachannel/stream/index.md
  files/en-us/web/api/rtcdatachannelevent/rtcdatachannelevent/index.md
  files/en-us/web/api/rtcdtmftonechangeevent/tone/index.md
  files/en-us/web/api/rtcicecandidate/address/index.md
  files/en-us/web/api/rtcicecandidate/candidate/index.md
  files/en-us/web/api/rtcicecandidate/port/index.md
  files/en-us/web/api/rtcicecandidate/priority/index.md
  files/en-us/web/api/rtcicecandidate/relatedport/index.md
Labels: Content:WebAPI

#18047 Fix sentence starting from lowercase letter
  files/en-us/web/javascript/reference/global_objects/string/match/index.md
Labels: Content:JS

#18046 Fix Responsive design link in mobile friendliness guide
  files/en-us/web/guide/mobile/mobile-friendliness/index.md
Labels: Content:Learn
