Repository mdn/content, pull requests merged in 2022-08, with the labels that each got.

#18997 Remove `InterWiki` macro calls, part 9
  files/en-us/glossary/port/index.md
  files/en-us/glossary/utf-8/index.md
  files/en-us/mozilla/firefox/releases/3/templates/index.md
  files/en-us/mozilla/firefox/releases/3/xul_improvements_in_firefox_3/index.md
  files/en-us/web/api/baseaudiocontext/createiirfilter/index.md
  files/en-us/web/api/geolocationcoordinates/longitude/index.md
  files/en-us/web/api/oscillatornode/type/index.md
  files/en-us/web/guide/ajax/community/index.md
  files/en-us/web/javascript/reference/global_objects/array/includes/index.md
  files/en-us/web/javascript/reference/global_objects/math/fround/index.md
  files/en-us/web/media/formats/image_types/index.md
  files/en-us/web/media/formats/video_codecs/index.md
Labels: Content:WebAPI, Content:JS, Content:Learn, Content:Other, Content:Media, Content:Glossary

#18996 Daily markdownlint
  files/en-us/glossary/digital_certificate/index.md
  files/en-us/glossary/texel/index.md
Labels: Content:Glossary

#18992 Clarify distinction between class and component in Angular
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/angular_getting_started/index.md
Labels: Content:Learn

#18989 Made the definition of the stacking context clearer
  files/en-us/web/css/css_positioning/understanding_z_index/the_stacking_context/index.md
Labels: Content:CSS

#18988 Added the specification of ancestor behavior for the will-change property to related pages
  files/en-us/web/css/containing_block/index.md
Labels: Content:CSS

#18999 Structured clone - fix awkward wording around error serialization
  files/en-us/web/api/web_workers_api/structured_clone_algorithm/index.md
Labels: Content:WebAPI

#19001 remove a broken link
  files/en-us/web/api/webrtc_api/simple_rtcdatachannel_sample/index.md
Labels: Content:WebAPI

#19011 Fixed link to checkValidity page
  files/en-us/web/api/htmlinputelement/invalid_event/index.md
Labels: Content:WebAPI

#19010 update a broken link
  files/en-us/mdn/contribute/howto/create_an_interactive_exercise_to_help_learning_the_web/index.md
Labels: Content:Other

#19009 remove a broken link
  files/en-us/learn/tools_and_testing/cross_browser_testing/testing_strategies/index.md
Labels: Content:Learn

#19008 update broken links
  files/en-us/learn/common_questions/available_text_editors/index.md
Labels: Content:Learn

#19007 update a broken link
  files/en-us/learn/common_questions/what_software_do_i_need/index.md
  files/en-us/learn/tools_and_testing/cross_browser_testing/testing_strategies/index.md
Labels: Content:Learn

#19006 remove a broken link
  files/en-us/learn/common_questions/design_for_all_types_of_users/index.md
Labels: Content:Learn

#19004 update a broken link
  files/en-us/learn/common_questions/what_software_do_i_need/index.md
Labels: Content:Learn

#19000 MDN sample server: update broken/outdated links
  files/en-us/mdn/tools/sample_server/index.md
Labels: Content:Other

#19003 Updated hyperlink to the Date strings section
  files/en-us/web/html/element/input/date/index.md
Labels: Content:HTML

#18994 Contrib docs readthrough part 1
  files/en-us/mdn/writing_guidelines/attrib_copyright_license/index.md
  files/en-us/mdn/writing_guidelines/creating_moving_deleting/index.md
  files/en-us/mdn/writing_guidelines/experimental_deprecated_obsolete/index.md
  files/en-us/mdn/writing_guidelines/howto/tag/index.md
  files/en-us/mdn/writing_guidelines/index.md
  files/en-us/mdn/writing_guidelines/what_we_write/index.md
Labels: Content:Other

#19015 Fix grammar error in “audioTracks” doc - 2
  files/en-us/web/api/htmlmediaelement/audiotracks/index.md
Labels: Content:WebAPI

#19019 Avoid using js for non-JS code blocks
  files/en-us/games/techniques/async_scripts/index.md
  files/en-us/learn/javascript/first_steps/what_is_javascript/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/angular_todo_list_beginning/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/ember_conditional_footer/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/ember_interactivity_events_state/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/ember_resources/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/ember_routing/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_components/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_stores/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_typescript/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_variables_props/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/vue_computed_properties/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/vue_conditional_rendering/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/vue_first_component/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/vue_methods_events_models/index.md
  files/en-us/learn/tools_and_testing/cross_browser_testing/javascript/index.md
  files/en-us/mdn/contribute/howto/update_the_css_json_db/index.md
  files/en-us/mdn/tools/kumascript/index.md
  files/en-us/related/imsc/using_the_imscjs_polyfill/index.md
  files/en-us/web/http/proxy_servers_and_tunneling/proxy_auto-configuration_pac_file/index.md
  files/en-us/web/javascript/guide/modules/index.md
  files/en-us/web/svg/attribute/preserveaspectratio/index.md
Labels: Content:JS, Content:Learn, Content:Other, Content:HTTP, Content:SVG

#19020 Move folders to howto and remove the duplicate inclusion_criteria
  files/en-us/_redirects.txt
  files/en-us/mdn/writing_guidelines/howto/creating_moving_deleting/index.md
  files/en-us/mdn/writing_guidelines/howto/research_technology/index.md
  files/en-us/mdn/writing_guidelines/what_we_write/inclusion_criteria/index.md
Labels: Content:Other

#19022 unused timestamped removed
  files/en-us/web/api/console/index.md
Labels: Content:WebAPI

#19026 Fixing the ColorWithAlpha derived class in the Extends and Inheritance section.
  files/en-us/web/javascript/guide/using_classes/index.md
Labels: Content:JS

#18484 Protocol handlers in private browsing windows clarification
  files/en-us/mozilla/add-ons/webextensions/manifest.json/protocol_handlers/index.md
Labels: Content:WebExt, Content:Other

#18398 private window access clarification in incognito key
  files/en-us/mozilla/add-ons/webextensions/manifest.json/incognito/index.md
Labels: Content:WebExt, Content:Other

#18892 Page for the new :modal pseudo-class
  files/en-us/web/css/_colon_modal/index.md
  files/en-us/web/css/pseudo-classes/index.md
Labels: Content:CSS, Firefox 103

#19030 Docs: Updated link for `see the source code too` link in `From object to iframe`
  files/en-us/learn/html/multimedia_and_embedding/other_embedding_technologies/index.md
Labels: Content:Learn

#19037 Fix bash syntax to apache
  files/en-us/learn/server-side/apache_configuration_htaccess/index.md
Labels: Content:Learn

#19035 Fix PopUp Info Custom Elements
  files/en-us/web/web_components/using_custom_elements/index.md
Labels: Content:Other

#19034 Change 'function' to 'method' to avoid confusion
  files/en-us/learn/javascript/client-side_web_apis/fetching_data/index.md
Labels: Content:Learn

#19021 Remove initProgressEvent() docs
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/firefox/releases/22/index.md
  files/en-us/web/api/progressevent/index.md
  files/en-us/web/api/progressevent/initprogressevent/index.md
Labels: Content:WebAPI, Content:Other

#19029 Remove RTCDataChannel's stream property
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/firefox/releases/50/index.md
  files/en-us/web/api/rtcdatachannel/id/index.md
  files/en-us/web/api/rtcdatachannel/index.md
  files/en-us/web/api/rtcdatachannel/stream/index.md
Labels: Content:WebAPI, Content:Other

#19025 various edits to the aria-disabled document
  files/en-us/web/accessibility/aria/attributes/aria-disabled/index.md
Labels: Content:Accessibility

#18945 Added the specification of ancestor behavior for the will-change property
  files/en-us/web/css/position/index.md
Labels: Content:CSS

#18841 dialog: Update accessibility notes
  files/en-us/web/html/element/dialog/index.md
Labels: Content:HTML

#19040 Grammar: removed sentence
  files/en-us/web/css/containing_block/index.md
Labels: Content:CSS

#19038 FF104 Error stacks are serialized for window.postMessage and structuredClone()
  files/en-us/mozilla/firefox/releases/104/index.md
Labels: Content:Other

#19041 Daily markdownlint
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/angular_getting_started/index.md
  files/en-us/web/accessibility/aria/attributes/aria-disabled/index.md
Labels: Content:Learn, Content:Accessibility

#19024 Adjust `Intl.DateTimeFormat` parameter value to use env default
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/datetimeformat/index.md
Labels: Content:JS

#19044 fix a broken link
  files/en-us/mozilla/add-ons/webextensions/your_second_webextension/index.md
Labels: Content:WebExt, Content:Other

#19046 remove a broken link
  files/en-us/games/publishing_games/game_distribution/index.md
Labels: Content:Other

#19047 remove a broken link
  files/en-us/learn/common_questions/what_software_do_i_need/index.md
Labels: Content:Learn

#19048 update a broken link
  files/en-us/learn/accessibility/html/index.md
Labels: Content:Learn

#19045 update a broken link
  files/en-us/learn/accessibility/what_is_accessibility/index.md
Labels: Content:Learn

#19043 SVGStyleElement/HTMLStyleElement .type deprecated
  files/en-us/web/api/htmlstyleelement/type/index.md
  files/en-us/web/api/svgstyleelement/index.md
  files/en-us/web/api/svgstyleelement/type/index.md
Labels: Content:WebAPI

#19049 update a broken link
  files/en-us/web/xslt/transforming_xml_with_xslt/for_further_reading/index.md
Labels: Content:Other

#19050 remove a broken link
  files/en-us/learn/common_questions/using_github_pages/index.md
Labels: Content:Learn

#19036 Readthrough of contrib docs part2
  files/en-us/mdn/writing_guidelines/howto/creating_moving_deleting/index.md
  files/en-us/mdn/writing_guidelines/howto/document_a_css_property/index.md
  files/en-us/mdn/writing_guidelines/howto/document_an_http_header/index.md
  files/en-us/mdn/writing_guidelines/howto/document_web_errors/index.md
  files/en-us/mdn/writing_guidelines/howto/images_media/index.md
  files/en-us/mdn/writing_guidelines/howto/index.md
  files/en-us/mdn/writing_guidelines/howto/json_structured_data/index.md
  files/en-us/mdn/writing_guidelines/howto/markdown_in_mdn/index.md
  files/en-us/mdn/writing_guidelines/howto/research_technology/index.md
  files/en-us/mdn/writing_guidelines/howto/tag/index.md
  files/en-us/mdn/writing_guidelines/howto/write_a_new_entry_in_the_glossary/index.md
  files/en-us/mdn/writing_guidelines/index.md
  files/en-us/mdn/writing_guidelines/what_we_write/criteria_for_inclusion/index.md
  files/en-us/mdn/writing_guidelines/what_we_write/index.md
Labels: Content:Other

#19012 SVGStyleElement.disabled + HTMLStyleElement.disabled
  files/en-us/web/api/htmlstyleelement/disabled/index.md
  files/en-us/web/api/htmlstyleelement/index.md
  files/en-us/web/api/svgstyleelement/disabled/index.md
  files/en-us/web/api/svgstyleelement/index.md
Labels: Content:WebAPI

#19053 Added missing backtick
  files/en-us/web/javascript/reference/global_objects/nan/index.md
Labels: Content:JS

#19052 Delete outdated A11Y pages
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/accessibility/aria/aria_techniques/x-ms-aria-flowfrom/index.html
  files/en-us/web/accessibility/aria/forms/alerts/index.html
  files/en-us/web/accessibility/aria/forms/basic_form_hints/index.html
  files/en-us/web/accessibility/aria/web_applications_and_aria_faq/index.html
  files/en-us/web/accessibility/html_to_msaa/index.html
  files/en-us/web/accessibility/implementing_msaa_server/index.html
  files/en-us/web/accessibility/implementing_msaa_server/tree-relativity.gif
Labels: Content:Accessibility

#19054 typo: Remove unnecessary symbol
  files/en-us/web/accessibility/aria/roles/timer_role/index.md
Labels: Content:Accessibility

#19055 Fix sentence structure
  files/en-us/mozilla/add-ons/webextensions/your_second_webextension/index.md
Labels: Content:WebExt, Content:Other

#19057 Fix Link
  files/en-us/web/accessibility/aria/attributes/aria-valuemax/index.md
Labels: Content:Accessibility

#19059 Fixing a typo in the indexed collections mdn guide
  files/en-us/web/javascript/guide/indexed_collections/index.md
Labels: Content:JS

#19016 `sin()` - New CSS functional notation
  files/en-us/web/css/sin/index.md
Labels: Content:CSS

#19062 Remove unsupported HTML manifest attributes
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/manifest/dir/index.md
  files/en-us/web/manifest/iarc_rating_id/index.md
  files/en-us/web/manifest/lang/index.md
Labels: Content:Other

#19058 Fix grammar
  files/en-us/web/privacy/storage_access_policy/errors/cookiepartitionedforeign/index.md
Labels: Content:Other

#18657 change unnecessary lets to consts
  files/en-us/learn/server-side/express_nodejs/introduction/index.md
Labels: Content:Learn

#19056 scroll-timeline at-rule removed from spec; drop Specifications section
  files/en-us/web/css/@scroll-timeline/index.md
Labels: Content:CSS

#19070 Fix link text and add missing periods
  files/en-us/web/api/element/mousedown_event/index.md
  files/en-us/web/api/element/mouseup_event/index.md
Labels: Content:WebAPI

#19078 Fix grammar
  files/en-us/web/javascript/reference/strict_mode/index.md
Labels: Content:JS

#19072 Fix example error
  files/en-us/web/javascript/guide/functions/index.md
Labels: Content:JS

#19079 Remove fully qualified developer.mozilla.org links
  files/en-us/glossary/oop/index.md
  files/en-us/mozilla/firefox/releases/1.5/what_s_new_in_1.5_alpha/index.md
  files/en-us/web/accessibility/aria/attributes/aria-disabled/index.md
  files/en-us/web/html/viewport_meta_tag/index.md
Labels: Content:HTML, Content:Other, Content:Accessibility, Content:Glossary

#19080 Daily markdownlint
  files/en-us/web/api/svgstyleelement/type/index.md
  files/en-us/web/css/containing_block/index.md
Labels: Content:CSS, Content:WebAPI

#19076 fix: various typos
  files/en-us/web/accessibility/aria/attributes/aria-disabled/index.md
  files/en-us/web/css/sin/index.md
Labels: Content:CSS, Content:Accessibility

#19085 Completes fixing 400+ broken links
  files/en-us/web/api/window/requestanimationframe/index.md
Labels: Content:WebAPI

#19073 Fix return value for performance.now
  files/en-us/web/api/performance/now/index.md
Labels: Content:WebAPI

#19064 Remove mention of GestureEvent constructor
  files/en-us/web/api/gestureevent/index.md
Labels: Content:WebAPI

#19083 update a broken link
  files/en-us/web/guide/audio_and_video_delivery/cross_browser_video_player/index.md
Labels: Content:Learn

#19081 update a broken link
  files/en-us/web/api/webgl_api/using_extensions/index.md
Labels: Content:WebAPI

#19082 update a broken link
  files/en-us/mozilla/firefox/releases/3/svg_improvements/index.md
Labels: Content:Other

#19084 TWEAKS: best practices
  files/en-us/games/techniques/crisp_pixel_art_look/index.md
  files/en-us/learn/css/building_blocks/organizing/index.md
  files/en-us/learn/css/css_layout/normal_flow/index.md
  files/en-us/learn/css/css_layout/positioning/index.md
  files/en-us/learn/getting_started_with_the_web/dealing_with_files/index.md
  files/en-us/learn/getting_started_with_the_web/html_basics/index.md
  files/en-us/learn/html/howto/author_fast-loading_html_pages/index.md
  files/en-us/learn/html/introduction_to_html/creating_hyperlinks/index.md
  files/en-us/learn/html/introduction_to_html/getting_started/index.md
  files/en-us/learn/html/multimedia_and_embedding/images_in_html/index.md
Labels: Content:Learn, Content:Other

#19068 Fix documentation for ImageTrackList and ImageTrack
  files/en-us/web/api/imagetrack/index.md
  files/en-us/web/api/imagetracklist/index.md
Labels: Content:WebAPI

#19060 Deprecated convention about custom HTTP headers
  files/en-us/web/http/headers/access-control-expose-headers/index.md
Labels: Content:HTTP

#19063 fix: Remove nested HTML in snippet
  files/en-us/web/api/media_streams_api/taking_still_photos/index.md
Labels: Content:WebAPI

#19066 General improvements
  files/en-us/web/http/caching/index.md
Labels: Content:HTTP

#19088 Fix casing of ARIA radiogroup doc title; add Quick_links
  files/en-us/web/accessibility/aria/roles/radiogroup_role/index.md
Labels: Content:Accessibility

#19086 Update JS task
  files/en-us/learn/javascript/building_blocks/image_gallery/index.md
Labels: Content:Learn

#19074 Indicate that CORS' origin header must include protocol
  files/en-us/web/http/cors/errors/corsalloworiginnotmatchingorigin/index.md
Labels: Content:HTTP

#19091 Bug in JavaScript code
  files/en-us/learn/forms/form_validation/index.md
Labels: Content:Learn

#19092 Add two precedence-related errors
  files/en-us/web/javascript/reference/errors/cant_use_nullish_coalescing_unparenthesized/index.md
  files/en-us/web/javascript/reference/errors/unparenthesized_unary_expr_lhs_exponentiation/index.md
  files/en-us/web/javascript/reference/operators/operator_precedence/index.md
Labels: Content:JS

#18724 Better explanation of declaration vs. statement
  files/en-us/web/javascript/reference/statements/const/index.md
  files/en-us/web/javascript/reference/statements/index.md
  files/en-us/web/javascript/reference/statements/label/index.md
  files/en-us/web/javascript/reference/statements/let/index.md
Labels: Content:JS

#19096 Make the live sample in the “Blob” article work
  files/en-us/web/api/blob/index.md
Labels: Content:WebAPI

#19099 Fix the “CSP errors and warnings” page
  files/en-us/web/http/csp/errors/index.md
Labels: Content:HTTP

#19069 chore: delete and redirect community docs
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mdn/community/issues/index.md
  files/en-us/mdn/community/issues/issue_triage/index.md
  files/en-us/mdn/contribute/feedback/index.md
  files/en-us/mdn/contribute/fixing_mdn_content_bugs/index.md
  files/en-us/mdn/contribute/getting_started/index.md
  files/en-us/mdn/contribute/github_beginners/branch-button-new-branch.png
  files/en-us/mdn/contribute/github_beginners/branch-button.png
  files/en-us/mdn/contribute/github_beginners/branch-menu.png
  files/en-us/mdn/contribute/github_beginners/code-popup.png
  files/en-us/mdn/contribute/github_beginners/compare-and-pull-request.png
  files/en-us/mdn/contribute/github_beginners/fork-button.png
  files/en-us/mdn/contribute/github_beginners/index.md
  files/en-us/mdn/contribute/github_beginners/new-branch.png
  files/en-us/mdn/contribute/github_beginners/open-pull-request.png
  files/en-us/mdn/contribute/github_best_practices/index.md
  files/en-us/mdn/contribute/github_cheatsheet/index.md
  files/en-us/mdn/contribute/help_beginners/index.md
  files/en-us/mdn/contribute/howto/migrate_external_content_to_mdn/index.md
  files/en-us/mdn/contribute/howto/report_a_problem/index.md
  files/en-us/mdn/contribute/localize/index.md
  files/en-us/mdn/contribute/open_source_etiquette/index.md
  files/en-us/mdn/contribute/processes/content_bug_triage/index.md
  files/en-us/mdn/contribute/where_is_everything/index.md
  files/en-us/mdn/guidelines/index.md
Labels: Content:Other

#19097 null is a primitive not an object
  files/en-us/glossary/null/index.md
Labels: Content:Glossary

#19100 Remove extra parenthesis
  files/en-us/web/accessibility/aria/roles/structural_roles/index.md
Labels: Content:Accessibility

#19105 Remove `{{css_key_concepts}}`, replacing it with equivalent content
  files/en-us/web/css/actual_value/index.md
  files/en-us/web/css/at-rule/index.md
  files/en-us/web/css/cascade/index.md
  files/en-us/web/css/comments/index.md
  files/en-us/web/css/computed_value/index.md
  files/en-us/web/css/containing_block/index.md
  files/en-us/web/css/css_box_model/introduction_to_the_css_box_model/index.md
  files/en-us/web/css/css_box_model/mastering_margin_collapsing/index.md
  files/en-us/web/css/inheritance/index.md
  files/en-us/web/css/initial_value/index.md
  files/en-us/web/css/layout_mode/index.md
  files/en-us/web/css/replaced_element/index.md
  files/en-us/web/css/resolved_value/index.md
  files/en-us/web/css/shorthand_properties/index.md
  files/en-us/web/css/specificity/index.md
  files/en-us/web/css/specified_value/index.md
  files/en-us/web/guide/css/block_formatting_context/index.md
Labels: Content:CSS, Content:Learn

#19102 fix: fix typo in docs
  files/en-us/glossary/transferable_objects/index.md
Labels: Content:Glossary

#19111 Corrected misspelling of *For*
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
Labels: Content:JS

#19113 Clearer Wording
  files/en-us/web/api/setinterval/index.md
Labels: Content:WebAPI

#19112 adding sidebar for community docs
  files/en-us/mdn/community/contributing/getting_started/index.md
  files/en-us/mdn/community/contributing/index.md
  files/en-us/mdn/community/contributing/our_repositories/index.md
  files/en-us/mdn/community/contributing/security_vulnerability_response/index.md
  files/en-us/mdn/community/contributing/translated_content/index.md
  files/en-us/mdn/community/discussions/index.md
  files/en-us/mdn/community/index.md
  files/en-us/mdn/community/issues/content_suggestions_feature_proposals/index.md
  files/en-us/mdn/community/issues/index.md
  files/en-us/mdn/community/issues/issue_triage/index.md
  files/en-us/mdn/community/learn_forum/index.md
  files/en-us/mdn/community/mdn_content/index.md
  files/en-us/mdn/community/mdn_content/issues/index.md
  files/en-us/mdn/community/mdn_content/pull_requests/index.md
  files/en-us/mdn/community/open_source_etiquette/index.md
  files/en-us/mdn/community/pull_requests/index.md
  files/en-us/mdn/community/users_teams/index.md
  files/en-us/mdn/writing_guidelines/index.md
Labels: Content:Other

#19116 Replace non-existent internal link
  files/en-us/web/api/document/title/index.md
Labels: Content:WebAPI

#19098 [`<img>`] Mention Voice over bug with svg source
  files/en-us/web/html/element/img/index.md
Labels: Content:HTML

#19095 [Canvas - Drawing text] Add accessibility concerns (low vision)
  files/en-us/web/api/canvas_api/tutorial/drawing_text/index.md
Labels: Content:WebAPI

#19120 Fix typo
  files/en-us/web/javascript/reference/global_objects/object/hasown/index.md
Labels: Content:JS

#19122 CSS Math Functions - Group items and add headings
  files/en-us/web/css/css_functions/index.md
Labels: Content:CSS

#19124 typo
  files/en-us/web/media/formats/image_types/index.md
Labels: Content:Media

#19128 Improve appendChild description
  files/en-us/web/api/node/appendchild/index.md
Labels: Content:WebAPI

#19127 Daily markdownlint
  files/en-us/learn/getting_started_with_the_web/dealing_with_files/index.md
  files/en-us/learn/getting_started_with_the_web/html_basics/index.md
  files/en-us/mdn/community/mdn_content/index.md
  files/en-us/mdn/writing_guidelines/experimental_deprecated_obsolete/index.md
  files/en-us/mdn/writing_guidelines/howto/creating_moving_deleting/index.md
  files/en-us/mdn/writing_guidelines/howto/research_technology/index.md
  files/en-us/mdn/writing_guidelines/page_structures/code_examples/index.md
  files/en-us/mdn/writing_guidelines/writing_style_guide/code_style_guide/html/index.md
  files/en-us/mdn/writing_guidelines/writing_style_guide/code_style_guide/javascript/index.md
  files/en-us/web/api/canvas_api/tutorial/drawing_text/index.md
  files/en-us/web/css/at-rule/index.md
  files/en-us/web/css/inheritance/index.md
  files/en-us/web/css/specificity/index.md
  files/en-us/web/guide/css/block_formatting_context/index.md
  files/en-us/web/http/caching/index.md
Labels: Content:CSS, Content:WebAPI, Content:Learn, Content:Other, Content:HTTP

#19129 Fix generator `getPage` example
  files/en-us/web/javascript/reference/global_objects/generator/next/index.md
Labels: Content:JS

#19131 fix: various typos
  files/en-us/learn/getting_started_with_the_web/html_basics/index.md
  files/en-us/mdn/community/contributing/our_repositories/index.md
  files/en-us/mdn/community/contributing/translated_content/index.md
  files/en-us/mdn/community/issues/index.md
  files/en-us/mdn/community/open_source_etiquette/index.md
  files/en-us/mdn/community/users_teams/index.md
  files/en-us/web/http/caching/index.md
Labels: Content:Learn, Content:Other, Content:HTTP

#19130 Fix typos
  files/en-us/learn/forms/how_to_build_custom_form_controls/index.md
Labels: Content:Learn

#19123 Remove a useless link
  files/en-us/mdn/community/contributing/our_repositories/index.md
Labels: Content:Other

#19126 Fix markup typo in “radiogroup role” doc
  files/en-us/web/accessibility/aria/roles/radiogroup_role/index.md
Labels: Content:Accessibility

#19121 Add `captureStream()` to list of SecurityErrors on a tainted canvas
  files/en-us/web/html/cors_enabled_image/index.md
Labels: Content:HTML

#19136 Convert to a definition list
  files/en-us/web/api/svgimageelement/decoding/index.md
Labels: Content:WebAPI

#19134 Event (Web API) mark deprecated Event interfaces
  files/en-us/web/api/event/index.md
Labels: Content:WebAPI

#19138 Convert some function exprs to arrows
  files/en-us/web/javascript/enumerability_and_ownership_of_properties/index.md
  files/en-us/web/javascript/eventloop/index.md
  files/en-us/web/javascript/memory_management/index.md
  files/en-us/web/javascript/reference/errors/deprecated_expression_closures/index.md
  files/en-us/web/javascript/reference/global_objects/array/includes/index.md
  files/en-us/web/javascript/reference/global_objects/array/index.md
  files/en-us/web/javascript/reference/global_objects/array/reduceright/index.md
  files/en-us/web/javascript/reference/global_objects/array/some/index.md
  files/en-us/web/javascript/reference/global_objects/array/sort/index.md
  files/en-us/web/javascript/reference/global_objects/dataview/index.md
  files/en-us/web/javascript/reference/global_objects/error/linenumber/index.md
  files/en-us/web/javascript/reference/global_objects/error/tostring/index.md
  files/en-us/web/javascript/reference/global_objects/function/bind/index.md
  files/en-us/web/javascript/reference/global_objects/object/getownpropertynames/index.md
  files/en-us/web/javascript/reference/global_objects/object/propertyisenumerable/index.md
  files/en-us/web/javascript/reference/global_objects/object/valueof/index.md
  files/en-us/web/javascript/reference/global_objects/parseint/index.md
  files/en-us/web/javascript/reference/global_objects/promise/race/index.md
  files/en-us/web/javascript/reference/global_objects/promise/reject/index.md
  files/en-us/web/javascript/reference/global_objects/promise/then/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/proxy/apply/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/proxy/construct/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/index.md
  files/en-us/web/javascript/reference/operators/async_function/index.md
  files/en-us/web/javascript/reference/operators/function/index.md
  files/en-us/web/javascript/reference/operators/this/index.md
  files/en-us/web/javascript/reference/operators/typeof/index.md
  files/en-us/web/javascript/reference/operators/unary_plus/index.md
  files/en-us/web/javascript/reference/statements/async_function/index.md
  files/en-us/web/javascript/reference/statements/break/index.md
  files/en-us/web/javascript/reference/statements/throw/index.md
  files/en-us/web/javascript/reference/statements/try...catch/index.md
  files/en-us/web/javascript/reference/strict_mode/index.md
  files/en-us/web/javascript/reference/strict_mode/transitioning_to_strict_mode/index.md
  files/en-us/web/javascript/reference/template_literals/index.md
  files/en-us/web/javascript/the_performance_hazards_of_prototype_mutation/index.md
Labels: Content:JS

#19141 Convert some function exprs to arrows (2)
  files/en-us/web/javascript/enumerability_and_ownership_of_properties/index.md
  files/en-us/web/javascript/reference/functions/arrow_functions/index.md
  files/en-us/web/javascript/reference/functions/index.md
  files/en-us/web/javascript/reference/global_objects/array/filter/index.md
  files/en-us/web/javascript/reference/global_objects/array/find/index.md
  files/en-us/web/javascript/reference/global_objects/array/findlast/index.md
  files/en-us/web/javascript/reference/global_objects/array/foreach/index.md
  files/en-us/web/javascript/reference/global_objects/function/bind/index.md
  files/en-us/web/javascript/reference/global_objects/function/call/index.md
  files/en-us/web/javascript/reference/global_objects/function/displayname/index.md
  files/en-us/web/javascript/reference/global_objects/function/length/index.md
  files/en-us/web/javascript/reference/global_objects/intl/supportedvaluesof/index.md
  files/en-us/web/javascript/reference/global_objects/isnan/index.md
  files/en-us/web/javascript/reference/global_objects/json/stringify/index.md
  files/en-us/web/javascript/reference/global_objects/math/max/index.md
  files/en-us/web/javascript/reference/global_objects/object/__definegetter__/index.md
  files/en-us/web/javascript/reference/global_objects/object/__definesetter__/index.md
  files/en-us/web/javascript/reference/global_objects/object/__lookupgetter__/index.md
  files/en-us/web/javascript/reference/global_objects/object/__lookupsetter__/index.md
  files/en-us/web/javascript/reference/global_objects/object/defineproperty/index.md
  files/en-us/web/javascript/reference/global_objects/object/index.md
  files/en-us/web/javascript/reference/global_objects/promise/all/index.md
  files/en-us/web/javascript/reference/global_objects/promise/catch/index.md
  files/en-us/web/javascript/reference/global_objects/promise/finally/index.md
  files/en-us/web/javascript/reference/global_objects/promise/index.md
  files/en-us/web/javascript/reference/global_objects/promise/promise/index.md
  files/en-us/web/javascript/reference/global_objects/set/delete/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/findlast/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/map/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/reduce/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/reduceright/index.md
  files/en-us/web/javascript/reference/global_objects/undefined/index.md
Labels: Content:JS

#19154 Remove BCD contribution docs (move them to BCD repo)
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mdn/contribute/howto/add_or_update_browser_compatibility_data/index.md
  files/en-us/mdn/contribute/processes/matching_features_to_browser_version/bugzilla-fixedin-top.png
  files/en-us/mdn/contribute/processes/matching_features_to_browser_version/bugzilla-relnote-firefox.png
  files/en-us/mdn/contribute/processes/matching_features_to_browser_version/bugzilla-target.png
  files/en-us/mdn/contribute/processes/matching_features_to_browser_version/dxr-navigation-box.png
  files/en-us/mdn/contribute/processes/matching_features_to_browser_version/find-releases-tool.png
  files/en-us/mdn/contribute/processes/matching_features_to_browser_version/hg-changeset.png
  files/en-us/mdn/contribute/processes/matching_features_to_browser_version/hg-revisions-ontrack.png
  files/en-us/mdn/contribute/processes/matching_features_to_browser_version/hg-tooltip-revision.png
  files/en-us/mdn/contribute/processes/matching_features_to_browser_version/index.md
Labels: Content:Other

#19148 Drops the commmon "MDN Web Docs" in page titles
  files/en-us/mdn/community/contributing/index.md
  files/en-us/mdn/community/discussions/index.md
  files/en-us/mdn/community/index.md
  files/en-us/mdn/community/issues/content_suggestions_feature_proposals/index.md
  files/en-us/mdn/community/issues/index.md
  files/en-us/mdn/community/learn_forum/index.md
  files/en-us/mdn/community/mdn_content/index.md
  files/en-us/mdn/community/open_source_etiquette/index.md
  files/en-us/mdn/community/pull_requests/index.md
  files/en-us/mdn/community/users_teams/index.md
  files/en-us/mdn/index.md
  files/en-us/mdn/writing_guidelines/attrib_copyright_license/index.md
  files/en-us/mdn/writing_guidelines/howto/index.md
  files/en-us/mdn/writing_guidelines/index.md
  files/en-us/mdn/writing_guidelines/page_structures/index.md
  files/en-us/mdn/writing_guidelines/writing_style_guide/index.md
Labels: Content:Other

#19142 Suggest replacements for setOrientation(), setPosition(), dopplerFactor
  files/en-us/web/api/audiolistener/dopplerfactor/index.md
  files/en-us/web/api/pannernode/setorientation/index.md
  files/en-us/web/api/pannernode/setposition/index.md
Labels: Content:WebAPI

#19163 Replace 0xA0 with regular spaces
  files/en-us/web/javascript/guide/using_classes/index.md
  files/en-us/web/javascript/inheritance_and_the_prototype_chain/index.md
  files/en-us/web/javascript/reference/deprecated_and_obsolete_features/index.md
  files/en-us/web/javascript/reference/global_objects/error/index.md
  files/en-us/web/javascript/reference/global_objects/eval/index.md
  files/en-us/web/javascript/reference/global_objects/function/name/index.md
  files/en-us/web/javascript/reference/global_objects/string/split/index.md
  files/en-us/web/javascript/reference/operators/async_function_star_/index.md
Labels: Content:JS

#19159 Remove the last Interwiki macro
  files/en-us/mdn/writing_guidelines/writing_style_guide/index.md
Labels: Content:Other

#19155 Remove an excessive word and put an appropriate article
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/main_features/index.md
  files/en-us/web/api/element/mouseup_event/index.md
Labels: Content:WebAPI, Content:Learn

#19135 fix a livesample demo image
  files/en-us/web/css/_colon_-moz-list-number/index.md
  files/en-us/web/css/_colon_-moz-list-number/moz-list-number.png
Labels: Content:CSS

#19162 Convert remaining five HTML files to Markdown
  files/en-us/web/accessibility/aria/aria_test_cases/index.html
  files/en-us/web/accessibility/aria/aria_test_cases/index.md
  files/en-us/web/accessibility/aria/forms/multipart_labels/index.html
  files/en-us/web/accessibility/aria/forms/multipart_labels/index.md
  files/en-us/web/accessibility/aria/widgets/index.html
  files/en-us/web/accessibility/aria/widgets/index.md
  files/en-us/web/accessibility/understanding_wcag/perceivable/color_contrast/index.html
  files/en-us/web/accessibility/understanding_wcag/perceivable/color_contrast/index.md
  files/en-us/web/accessibility/understanding_wcag/perceivable/use_of_color/index.html
  files/en-us/web/accessibility/understanding_wcag/perceivable/use_of_color/index.md
Labels: Content:Accessibility

#19152 Make all indentation consistent
  files/en-us/web/javascript/guide/control_flow_and_error_handling/index.md
  files/en-us/web/javascript/guide/grammar_and_types/index.md
  files/en-us/web/javascript/guide/iterators_and_generators/index.md
  files/en-us/web/javascript/guide/loops_and_iteration/index.md
  files/en-us/web/javascript/guide/modules/index.md
  files/en-us/web/javascript/guide/working_with_objects/index.md
  files/en-us/web/javascript/guide/working_with_private_class_features/index.md
  files/en-us/web/javascript/reference/classes/constructor/index.md
  files/en-us/web/javascript/reference/errors/not_defined/index.md
  files/en-us/web/javascript/reference/errors/reduce_of_empty_array_with_no_initial_value/index.md
  files/en-us/web/javascript/reference/functions/method_definitions/index.md
  files/en-us/web/javascript/reference/global_objects/array/flat/index.md
  files/en-us/web/javascript/reference/global_objects/array/indexof/index.md
  files/en-us/web/javascript/reference/global_objects/array/map/index.md
  files/en-us/web/javascript/reference/global_objects/array/push/index.md
  files/en-us/web/javascript/reference/global_objects/array/slice/index.md
  files/en-us/web/javascript/reference/global_objects/date/index.md
  files/en-us/web/javascript/reference/global_objects/encodeuri/index.md
  files/en-us/web/javascript/reference/global_objects/encodeuricomponent/index.md
  files/en-us/web/javascript/reference/global_objects/finalizationregistry/unregister/index.md
  files/en-us/web/javascript/reference/global_objects/function/tostring/index.md
  files/en-us/web/javascript/reference/global_objects/generator/index.md
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/datetimeformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/formatrange/index.md
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/formatrangetoparts/index.md
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/formattoparts/index.md
  files/en-us/web/javascript/reference/global_objects/intl/relativetimeformat/format/index.md
  files/en-us/web/javascript/reference/global_objects/intl/relativetimeformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/relativetimeformat/relativetimeformat/index.md
  files/en-us/web/javascript/reference/global_objects/json/stringify/index.md
  files/en-us/web/javascript/reference/global_objects/map/foreach/index.md
  files/en-us/web/javascript/reference/global_objects/map/set/index.md
  files/en-us/web/javascript/reference/global_objects/object/create/index.md
  files/en-us/web/javascript/reference/global_objects/object/defineproperty/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/proxy/getprototypeof/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/proxy/setprototypeof/index.md
  files/en-us/web/javascript/reference/global_objects/reflect/construct/index.md
Labels: Content:JS

#19174 Remove deki URLs
  files/en-us/web/css/_colon_checked/index.md
Labels: Content:CSS

#19173 Remove deki URLs
  files/en-us/web/guide/html/constraint_validation/index.md
Labels: Content:Learn

#19171 Daily markdownlint
  files/en-us/web/accessibility/aria/aria_test_cases/index.md
  files/en-us/web/accessibility/aria/widgets/index.md
Labels: Content:Accessibility

#19169 Update: remove note. add alt.
  files/en-us/web/web_components/using_shadow_dom/index.md
Labels: Content:Other

#19151 Make all indentation consistent (2)
  files/en-us/web/javascript/reference/global_objects/reflect/ownkeys/index.md
  files/en-us/web/javascript/reference/global_objects/set/foreach/index.md
  files/en-us/web/javascript/reference/global_objects/string/match/index.md
  files/en-us/web/javascript/reference/global_objects/string/padstart/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/iterator/index.md
  files/en-us/web/javascript/reference/global_objects/undefined/index.md
  files/en-us/web/javascript/reference/global_objects/webassembly/exception/getarg/index.md
  files/en-us/web/javascript/reference/global_objects/webassembly/global/global/index.md
  files/en-us/web/javascript/reference/global_objects/webassembly/global/index.md
  files/en-us/web/javascript/reference/global_objects/webassembly/module/module/index.md
  files/en-us/web/javascript/reference/operators/async_function_star_/index.md
  files/en-us/web/javascript/reference/operators/bitwise_and/index.md
  files/en-us/web/javascript/reference/operators/bitwise_not/index.md
  files/en-us/web/javascript/reference/operators/bitwise_or/index.md
  files/en-us/web/javascript/reference/operators/bitwise_xor/index.md
  files/en-us/web/javascript/reference/operators/destructuring_assignment/index.md
  files/en-us/web/javascript/reference/operators/function_star_/index.md
  files/en-us/web/javascript/reference/operators/left_shift/index.md
  files/en-us/web/javascript/reference/operators/object_initializer/index.md
  files/en-us/web/javascript/reference/operators/operator_precedence/index.md
  files/en-us/web/javascript/reference/operators/optional_chaining/index.md
  files/en-us/web/javascript/reference/operators/right_shift/index.md
  files/en-us/web/javascript/reference/operators/spread_syntax/index.md
  files/en-us/web/javascript/reference/operators/this/index.md
  files/en-us/web/javascript/reference/operators/unsigned_right_shift/index.md
  files/en-us/web/javascript/reference/operators/yield/index.md
  files/en-us/web/javascript/reference/statements/async_function_star_/index.md
  files/en-us/web/javascript/reference/statements/debugger/index.md
  files/en-us/web/javascript/reference/statements/do...while/index.md
  files/en-us/web/javascript/reference/statements/empty/index.md
  files/en-us/web/javascript/reference/statements/function/index.md
  files/en-us/web/javascript/reference/statements/label/index.md
  files/en-us/web/javascript/reference/statements/let/index.md
  files/en-us/web/javascript/reference/statements/return/index.md
  files/en-us/web/javascript/reference/strict_mode/index.md
  files/en-us/web/javascript/reference/strict_mode/transitioning_to_strict_mode/index.md
Labels: Content:JS

#19156 Add `SecurityError` Exception for `captureStream()`
  files/en-us/web/api/htmlcanvaselement/capturestream/index.md
Labels: Content:WebAPI

#19150 updated syntax
  files/en-us/games/tutorials/2d_breakout_game_pure_javascript/bounce_off_the_walls/index.md
Labels: Content:Other

#19178 “Animating textures in WebGL”: Drop “autoplay”; add “playsInline”
  files/en-us/web/api/webgl_api/tutorial/animating_textures_in_webgl/index.md
Labels: Content:WebAPI

#19158 Fix: #19157
  files/en-us/mdn/writing_guidelines/page_structures/macros/commonly_used_macros/index.md
Labels: Content:Other

#19183 “Using textures in WebGL”: Flip pixels into WebGL-expected order
  files/en-us/web/api/webgl_api/tutorial/using_textures_in_webgl/index.md
Labels: Content:WebAPI

#19181 Fix all fixable JavaScript syntax errors
  files/en-us/web/javascript/data_structures/index.md
  files/en-us/web/javascript/guide/control_flow_and_error_handling/index.md
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
  files/en-us/web/javascript/guide/grammar_and_types/index.md
  files/en-us/web/javascript/guide/indexed_collections/index.md
  files/en-us/web/javascript/guide/iterators_and_generators/index.md
  files/en-us/web/javascript/guide/loops_and_iteration/index.md
  files/en-us/web/javascript/guide/regular_expressions/cheatsheet/index.md
  files/en-us/web/javascript/guide/regular_expressions/unicode_property_escapes/index.md
  files/en-us/web/javascript/guide/using_classes/index.md
  files/en-us/web/javascript/guide/working_with_private_class_features/index.md
  files/en-us/web/javascript/reference/classes/constructor/index.md
  files/en-us/web/javascript/reference/errors/deprecated_tolocaleformat/index.md
  files/en-us/web/javascript/reference/errors/malformed_formal_parameter/index.md
  files/en-us/web/javascript/reference/errors/missing_semicolon_before_statement/index.md
  files/en-us/web/javascript/reference/errors/no_variable_name/index.md
  files/en-us/web/javascript/reference/errors/redeclared_parameter/index.md
  files/en-us/web/javascript/reference/errors/stmt_after_return/index.md
  files/en-us/web/javascript/reference/functions/arguments/index.md
  files/en-us/web/javascript/reference/functions/arrow_functions/index.md
  files/en-us/web/javascript/reference/functions/get/index.md
  files/en-us/web/javascript/reference/functions/method_definitions/index.md
  files/en-us/web/javascript/reference/functions/rest_parameters/index.md
  files/en-us/web/javascript/reference/functions/set/index.md
  files/en-us/web/javascript/reference/global_objects/array/copywithin/index.md
  files/en-us/web/javascript/reference/global_objects/array/fill/index.md
  files/en-us/web/javascript/reference/global_objects/array/index.md
  files/en-us/web/javascript/reference/global_objects/finalizationregistry/unregister/index.md
  files/en-us/web/javascript/reference/global_objects/function/bind/index.md
  files/en-us/web/javascript/reference/global_objects/function/call/index.md
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/datetimeformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/formatrangetoparts/index.md
  files/en-us/web/javascript/reference/global_objects/math/index.md
  files/en-us/web/javascript/reference/global_objects/promise/resolve/index.md
  files/en-us/web/javascript/reference/global_objects/promise/then/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/proxy/getprototypeof/index.md
  files/en-us/web/javascript/reference/global_objects/string/charat/index.md
  files/en-us/web/javascript/reference/global_objects/string/concat/index.md
  files/en-us/web/javascript/reference/global_objects/string/fromcharcode/index.md
  files/en-us/web/javascript/reference/global_objects/string/fromcodepoint/index.md
  files/en-us/web/javascript/reference/global_objects/string/index.md
  files/en-us/web/javascript/reference/global_objects/string/tolocalelowercase/index.md
  files/en-us/web/javascript/reference/global_objects/string/tolocaleuppercase/index.md
  files/en-us/web/javascript/reference/global_objects/webassembly/tag/index.md
  files/en-us/web/javascript/reference/lexical_grammar/index.md
  files/en-us/web/javascript/reference/operators/comma_operator/index.md
  files/en-us/web/javascript/reference/operators/operator_precedence/index.md
  files/en-us/web/javascript/reference/operators/optional_chaining/index.md
  files/en-us/web/javascript/reference/operators/spread_syntax/index.md
  files/en-us/web/javascript/reference/statements/break/index.md
  files/en-us/web/javascript/reference/statements/continue/index.md
Labels: Content:JS

#19185 Update BCD info
  files/en-us/web/api/accelerometer/index.md
  files/en-us/web/api/audiocontext/index.md
  files/en-us/web/api/audiodata/allocationsize/index.md
  files/en-us/web/api/backgroundfetchevent/index.md
  files/en-us/web/api/backgroundfetchrecord/index.md
  files/en-us/web/api/canvasrenderingcontext2d/drawwindow/index.md
  files/en-us/web/api/canvasrenderingcontext2d/index.md
  files/en-us/web/api/domimplementation/hasfeature/index.md
  files/en-us/web/api/domimplementation/index.md
  files/en-us/web/api/element/domactivate_event/index.md
Labels: Content:WebAPI

#19188 [`<img>`] Fix code block continuing until end of page
  files/en-us/web/html/element/img/index.md
Labels: Content:HTML

#19176 Put demo in livesample
  files/en-us/web/accessibility/aria/forms/multipart_labels/index.md
Labels: Content:Accessibility

#19189 Swap erroneous tag
  files/en-us/web/api/htmlcollection/nameditem/index.md
Labels: Content:WebAPI

#19166 Clarify that URLs in the HTTP Link header must be encoded
  files/en-us/web/http/headers/link/index.md
Labels: Content:HTTP

#19198 fix: grammatical error ("an" -> "a")
  files/en-us/web/api/element/click_event/index.md
Labels: Content:WebAPI

#19199 Fixed anchors in <input> and attribute page links
  files/en-us/web/html/element/input/submit/index.md
Labels: Content:HTML

#19207 Compress image `moz-list-number.png`
  files/en-us/web/css/_colon_-moz-list-number/moz-list-number.png
Labels: Content:CSS

#19204 fix: various typos
  files/en-us/web/api/imagecapture/grabframe/index.md
  files/en-us/web/web_components/using_shadow_dom/index.md
Labels: Content:WebAPI, Content:Other

#19200 Add missing code block
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/vue_styling/index.md
Labels: Content:Learn

#19211 Daily markdownlint
  files/en-us/learn/html/cheatsheet/index.md
  files/en-us/mdn/community/contributing/getting_started/index.md
  files/en-us/mdn/community/contributing/our_repositories/index.md
  files/en-us/mdn/community/issues/index.md
  files/en-us/mdn/community/mdn_content/pull_requests/index.md
  files/en-us/mdn/community/pull_requests/index.md
  files/en-us/mdn/writing_guidelines/writing_style_guide/index.md
  files/en-us/web/accessibility/information_for_web_authors/index.md
  files/en-us/web/api/blob/index.md
  files/en-us/web/api/canvasrenderingcontext2d/index.md
  files/en-us/web/api/mediasession/setactionhandler/index.md
  files/en-us/web/api/streams_api/using_readable_byte_streams/index.md
  files/en-us/web/css/css_positioning/understanding_z_index/the_stacking_context/index.md
  files/en-us/web/html/element/input/submit/index.md
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
  files/en-us/web/javascript/inheritance_and_the_prototype_chain/index.md
  files/en-us/web/javascript/reference/global_objects/array/filter/index.md
  files/en-us/web/javascript/reference/operators/right_shift/index.md
  files/en-us/web/javascript/reference/operators/unsigned_right_shift/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:JS, Content:Learn, Content:Other, Content:Accessibility

#19214 Delete a junk file
  files/en-us/web/api/idbkeyrange/inde.md
Labels: Content:WebAPI

#19212 Update BCD info, part 2
  files/en-us/web/api/accelerometer/accelerometer/index.md
  files/en-us/web/api/accelerometer/x/index.md
  files/en-us/web/api/accelerometer/y/index.md
  files/en-us/web/api/accelerometer/z/index.md
  files/en-us/web/api/audiodata/audiodata/index.md
  files/en-us/web/api/audiodata/clone/index.md
  files/en-us/web/api/audiodata/close/index.md
  files/en-us/web/api/audiodata/copyto/index.md
  files/en-us/web/api/audiodata/duration/index.md
  files/en-us/web/api/audiodata/format/index.md
  files/en-us/web/api/audiodata/index.md
  files/en-us/web/api/audiodata/numberofchannels/index.md
  files/en-us/web/api/audiodata/numberofframes/index.md
  files/en-us/web/api/audiodata/samplerate/index.md
  files/en-us/web/api/audiodata/timestamp/index.md
  files/en-us/web/api/audiodecoder/audiodecoder/index.md
  files/en-us/web/api/audiodecoder/close/index.md
  files/en-us/web/api/audiodecoder/configure/index.md
  files/en-us/web/api/audiodecoder/decode/index.md
  files/en-us/web/api/audiodecoder/decodequeuesize/index.md
  files/en-us/web/api/audiodecoder/flush/index.md
  files/en-us/web/api/audiodecoder/index.md
  files/en-us/web/api/audiodecoder/reset/index.md
  files/en-us/web/api/audiodecoder/state/index.md
  files/en-us/web/api/audioencoder/audioencoder/index.md
  files/en-us/web/api/audioencoder/close/index.md
  files/en-us/web/api/audioencoder/configure/index.md
  files/en-us/web/api/audioencoder/encode/index.md
  files/en-us/web/api/audioencoder/encodequeuesize/index.md
  files/en-us/web/api/audioencoder/flush/index.md
Labels: Content:WebAPI

#19217 Add missing space
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/index.md
  files/en-us/web/accessibility/aria/attributes/aria-colspan/index.md
  files/en-us/web/api/canvas_api/tutorial/pixel_manipulation_with_canvas/index.md
  files/en-us/web/api/idbdatabase/objectstorenames/index.md
  files/en-us/web/api/xmlhttprequest/using_xmlhttprequest/index.md
  files/en-us/web/html/global_attributes/itemtype/index.md
Labels: Content:HTML, Content:WebExt, Content:WebAPI, Content:Other, Content:Accessibility

#19215 ARIA: delete `ARIA_Test_Cases` and `widgets` pages
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/accessibility/aria/aria_test_cases/index.md
  files/en-us/web/accessibility/aria/how_to_file_aria-related_bugs/index.md
  files/en-us/web/accessibility/aria/widgets/index.md
Labels: Content:Accessibility

#19219 Improve Object() constructor description
  files/en-us/web/javascript/reference/global_objects/object/index.md
  files/en-us/web/javascript/reference/global_objects/object/object/index.md
Labels: Content:JS

#19206 FIX: ALT attributes
  files/en-us/games/techniques/3d_collision_detection/index.md
  files/en-us/web/performance/css_javascript_animation_performance/index.md
  files/en-us/web/progressive_web_apps/installable_pwas/index.md
  files/en-us/webassembly/using_the_javascript_api/index.md
Labels: Content:Other, Content:wasm

#19222 Align all naming conventions
  files/en-us/web/javascript/guide/control_flow_and_error_handling/index.md
  files/en-us/web/javascript/guide/loops_and_iteration/index.md
  files/en-us/web/javascript/guide/regular_expressions/assertions/index.md
  files/en-us/web/javascript/guide/working_with_objects/index.md
  files/en-us/web/javascript/reference/errors/reduce_of_empty_array_with_no_initial_value/index.md
  files/en-us/web/javascript/reference/global_objects/array/@@iterator/index.md
  files/en-us/web/javascript/reference/global_objects/boolean/index.md
  files/en-us/web/javascript/reference/global_objects/date/index.md
  files/en-us/web/javascript/reference/global_objects/function/call/index.md
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/numberformat/index.md
  files/en-us/web/javascript/reference/global_objects/object/defineproperty/index.md
  files/en-us/web/javascript/reference/global_objects/object/getownpropertynames/index.md
  files/en-us/web/javascript/reference/global_objects/object/values/index.md
  files/en-us/web/javascript/reference/global_objects/promise/any/index.md
  files/en-us/web/javascript/reference/global_objects/promise/index.md
  files/en-us/web/javascript/reference/global_objects/promise/then/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/index.md
  files/en-us/web/javascript/reference/global_objects/string/index.md
  files/en-us/web/javascript/reference/global_objects/string/match/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/@@iterator/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/keys/index.md
  files/en-us/web/javascript/reference/operators/async_function/index.md
  files/en-us/web/javascript/reference/operators/destructuring_assignment/index.md
  files/en-us/web/javascript/reference/operators/property_accessors/index.md
  files/en-us/web/javascript/reference/operators/typeof/index.md
  files/en-us/web/javascript/reference/statements/break/index.md
  files/en-us/web/javascript/reference/statements/for/index.md
  files/en-us/web/javascript/reference/statements/function/index.md
  files/en-us/web/javascript/reference/statements/if...else/index.md
  files/en-us/web/javascript/reference/statements/try...catch/index.md
Labels: Content:JS

#19223 Add missing seconds
  files/en-us/web/http/caching/index.md
Labels: Content:HTTP

#19194 Make corrections to code descriptions
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/vue_rendering_lists/index.md
Labels: Content:Learn
