Repository mdn/content, pull requests merged in 2023-05, with the labels that each got.

#26509 typo: 'that' -> 'they'
  files/en-us/web/javascript/reference/lexical_grammar/index.md
Labels: Content:JS

#26162 Run Prettier on folders that have already been formatted
  files/en-us/web/api/navigator/getbattery/index.md
  files/en-us/web/api/oes_draw_buffers_indexed/index.md
  files/en-us/web/api/processinginstruction/index.md
  files/en-us/web/api/serviceworker/index.md
  files/en-us/web/api/webxr_device_api/cameras/index.md
  files/en-us/web/css/filter/index.md
  files/en-us/web/javascript/guide/modules/index.md
  files/en-us/web/javascript/reference/deprecated_and_obsolete_features/index.md
  files/en-us/web/javascript/reference/errors/bad_break/index.md
  files/en-us/web/javascript/reference/errors/bad_return/index.md
  files/en-us/web/javascript/reference/errors/cyclic_object_value/index.md
  files/en-us/web/javascript/reference/global_objects/aggregateerror/errors/index.md
  files/en-us/web/javascript/reference/global_objects/array/fromasync/index.md
  files/en-us/web/javascript/reference/global_objects/array/index.md
  files/en-us/web/javascript/reference/global_objects/array/sort/index.md
  files/en-us/web/javascript/reference/global_objects/bigint/tolocalestring/index.md
  files/en-us/web/javascript/reference/global_objects/date/getday/index.md
  files/en-us/web/javascript/reference/global_objects/date/getmonth/index.md
  files/en-us/web/javascript/reference/global_objects/date/tolocaledatestring/index.md
  files/en-us/web/javascript/reference/global_objects/date/tolocalestring/index.md
  files/en-us/web/javascript/reference/global_objects/date/tolocaletimestring/index.md
  files/en-us/web/javascript/reference/global_objects/encodeuricomponent/index.md
  files/en-us/web/javascript/reference/global_objects/iterator/index.md
  files/en-us/web/javascript/reference/global_objects/number/index.md
  files/en-us/web/javascript/reference/global_objects/number/tolocalestring/index.md
  files/en-us/web/javascript/reference/global_objects/object/hasownproperty/index.md
  files/en-us/web/javascript/reference/global_objects/promise/then/index.md
  files/en-us/web/javascript/reference/global_objects/reflect/construct/index.md
  files/en-us/web/javascript/reference/global_objects/reflect/get/index.md
  files/en-us/web/javascript/reference/global_objects/string/iswellformed/index.md
  files/en-us/web/javascript/reference/global_objects/string/tolocalelowercase/index.md
  files/en-us/web/javascript/reference/global_objects/string/tolocaleuppercase/index.md
  files/en-us/web/javascript/reference/global_objects/string/towellformed/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/sort/index.md
  files/en-us/web/javascript/reference/operators/instanceof/index.md
  files/en-us/web/javascript/reference/operators/remainder/index.md
  files/en-us/web/javascript/reference/statements/with/index.md
Labels: Content:CSS, Content:WebAPI, Content:JS

#26514 Remove extra perentheses
  files/en-us/web/javascript/reference/global_objects/array/tosorted/index.md
Labels: Content:JS

#26512 remove self reference
  files/en-us/web/api/settimeout/index.md
Labels: Content:WebAPI

#26516 Banners and notices
  files/en-us/mdn/writing_guidelines/page_structures/banners_and_notices/index.md
Labels: Content:Other

#26504 fix incorrect channel variable name in example
  files/en-us/web/api/web_audio_api/using_audioworklet/index.md
Labels: Content:WebAPI

#26503 fix(svg): replaced broken link for <path_data> in path attribute
  files/en-us/web/svg/element/textpath/index.md
Labels: Content:SVG

#26518 Fix broken link
  files/en-us/mdn/writing_guidelines/page_structures/macros/index.md
Labels: Content:Other

#26517 correct the name of link
  files/en-us/mdn/writing_guidelines/howto/creating_moving_deleting/index.md
Labels: Content:Other

#26314 Fix incorrect case in example on the WebExtension action API.
  files/en-us/mozilla/add-ons/webextensions/manifest.json/action/index.md
Labels: Content:WebExt, Content:Other

#26521 Add warning about mutate array in callbackFn in `Array.some()`
  files/en-us/web/javascript/reference/global_objects/array/some/index.md
Labels: Content:JS

#26524 Make Typed arrays a proper guide page
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/javascript/data_structures/index.md
  files/en-us/web/javascript/equality_comparisons_and_sameness/index.md
  files/en-us/web/javascript/guide/index.md
  files/en-us/web/javascript/guide/indexed_collections/index.md
  files/en-us/web/javascript/guide/iterators_and_generators/index.md
  files/en-us/web/javascript/guide/keyed_collections/index.md
  files/en-us/web/javascript/guide/typed_arrays/index.md
  files/en-us/web/javascript/guide/typed_arrays/typed_arrays.png
  files/en-us/web/javascript/guide/using_promises/index.md
  files/en-us/web/javascript/index.md
  files/en-us/web/javascript/reference/global_objects/array/from/index.md
  files/en-us/web/javascript/reference/global_objects/array/index.md
  files/en-us/web/javascript/reference/global_objects/arraybuffer/arraybuffer/index.md
  files/en-us/web/javascript/reference/global_objects/arraybuffer/index.md
  files/en-us/web/javascript/reference/global_objects/arraybuffer/isview/index.md
  files/en-us/web/javascript/reference/global_objects/atomics/index.md
  files/en-us/web/javascript/reference/global_objects/bigint64array/bigint64array/index.md
  files/en-us/web/javascript/reference/global_objects/bigint64array/index.md
  files/en-us/web/javascript/reference/global_objects/biguint64array/biguint64array/index.md
  files/en-us/web/javascript/reference/global_objects/biguint64array/index.md
  files/en-us/web/javascript/reference/global_objects/float32array/float32array/index.md
  files/en-us/web/javascript/reference/global_objects/float32array/index.md
  files/en-us/web/javascript/reference/global_objects/float64array/float64array/index.md
  files/en-us/web/javascript/reference/global_objects/float64array/index.md
  files/en-us/web/javascript/reference/global_objects/int16array/index.md
  files/en-us/web/javascript/reference/global_objects/int16array/int16array/index.md
  files/en-us/web/javascript/reference/global_objects/int32array/index.md
  files/en-us/web/javascript/reference/global_objects/int32array/int32array/index.md
  files/en-us/web/javascript/reference/global_objects/int8array/index.md
  files/en-us/web/javascript/reference/global_objects/int8array/int8array/index.md
  files/en-us/web/javascript/reference/global_objects/nan/index.md
  files/en-us/web/javascript/reference/global_objects/sharedarraybuffer/index.md
  files/en-us/web/javascript/reference/global_objects/sharedarraybuffer/sharedarraybuffer/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/@@iterator/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/buffer/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/bytelength/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/byteoffset/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/bytes_per_element/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/entries/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/keys/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/length/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/set/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/subarray/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/values/index.md
  files/en-us/web/javascript/reference/global_objects/uint16array/index.md
  files/en-us/web/javascript/reference/global_objects/uint16array/uint16array/index.md
  files/en-us/web/javascript/reference/global_objects/uint32array/index.md
  files/en-us/web/javascript/reference/global_objects/uint32array/uint32array/index.md
  files/en-us/web/javascript/reference/global_objects/uint8array/index.md
  files/en-us/web/javascript/reference/global_objects/uint8array/uint8array/index.md
  files/en-us/web/javascript/reference/global_objects/uint8clampedarray/index.md
  files/en-us/web/javascript/reference/global_objects/uint8clampedarray/uint8clampedarray/index.md
Labels: Content:JS

#26523 Update WebAssembly.compileStreaming article index.md
  files/en-us/webassembly/javascript_interface/compilestreaming/index.md
Labels: Content:wasm

#26527 Clean up duplication from `<hex-color>`
  files/en-us/web/css/hex-color/index.md
Labels: Content:CSS

#26495 fix: add missing entity
  files/en-us/glossary/entity/index.md
Labels: Content:Glossary

#26531 Typo in variable name
  files/en-us/web/api/xmlhttprequest/sending_and_receiving_binary_data/index.md
Labels: Content:WebAPI

#26532 Remove link for a long gone page.
  files/en-us/web/api/xmlhttprequest/sending_and_receiving_binary_data/index.md
Labels: Content:WebAPI

#26535 do not render the macro example
  files/en-us/mdn/writing_guidelines/page_structures/banners_and_notices/index.md
Labels: Content:Other

#26534 Replace legacy `rgba()`
  files/en-us/web/css/alpha-value/index.md
Labels: Content:CSS

#26538 modified select styling content
  files/en-us/learn/forms/advanced_form_styling/index.md
Labels: Content:Learn

#26487 New page: <line-style>
  files/en-us/web/css/line-style/index.md
Labels: Content:CSS

#26528 DNR redirect rule behavior clarification
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/index.md
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/redirect/index.md
Labels: Content:WebExt, Content:Other

#26546 Fix a name of a parameter in `try...catch`
  files/en-us/web/javascript/reference/statements/try...catch/index.md
Labels: Content:JS

#26547 Fix descriptions to fit to `TextDecoderStream` interface
  files/en-us/web/api/textdecoderstream/encoding/index.md
  files/en-us/web/api/textdecoderstream/textdecoderstream/index.md
Labels: Content:WebAPI

#26551 Fix obj3 in reflect.get() example (#26550)
  files/en-us/web/javascript/reference/global_objects/reflect/get/index.md
Labels: Content:JS

#26553 Parenthesis fixes
  files/en-us/web/accessibility/understanding_wcag/operable/index.md
  files/en-us/web/api/rtcremoteoutboundrtpstreamstats/localid/index.md
  files/en-us/web/http/link_prefetching_faq/index.md
Labels: Content:WebAPI, Content:HTTP, Content:Accessibility

#26552 Replace link to disambiguation with direct link
  files/en-us/glossary/nat/index.md
Labels: Content:Glossary

#26554 Spelling correction "therefor" -> "therefore"
  files/en-us/web/css/css_shapes/overview_of_css_shapes/index.md
Labels: Content:CSS

#26548 Fix typo: want -> what
  files/en-us/mdn/writing_guidelines/index.md
Labels: Content:Other

#26555 Fix a typo
  files/en-us/web/css/transform/index.md
Labels: Content:CSS

#26413 Add new and update existing popover api docs
  files/en-us/glossary/top_layer/index.md
  files/en-us/glossary/top_layer/top_layer_devtools.png
  files/en-us/web/api/element/requestfullscreen/index.md
  files/en-us/web/api/htmlbuttonelement/index.md
  files/en-us/web/api/htmlbuttonelement/popovertargetaction/index.md
  files/en-us/web/api/htmlbuttonelement/popovertargetelement/index.md
  files/en-us/web/api/htmldetailselement/toggle_event/index.md
  files/en-us/web/api/htmldialogelement/showmodal/index.md
  files/en-us/web/api/htmlelement/beforetoggle_event/index.md
  files/en-us/web/api/htmlelement/hidepopover/index.md
  files/en-us/web/api/htmlelement/index.md
  files/en-us/web/api/htmlelement/popover/index.md
  files/en-us/web/api/htmlelement/showpopover/index.md
  files/en-us/web/api/htmlelement/toggle_event/index.md
  files/en-us/web/api/htmlelement/togglepopover/index.md
  files/en-us/web/api/htmlinputelement/index.md
  files/en-us/web/api/htmlinputelement/popovertargetaction/index.md
  files/en-us/web/api/htmlinputelement/popovertargetelement/index.md
  files/en-us/web/api/popover_api/index.md
  files/en-us/web/api/popover_api/using/index.md
  files/en-us/web/api/toggleevent/index.md
  files/en-us/web/api/toggleevent/newstate/index.md
  files/en-us/web/api/toggleevent/oldstate/index.md
  files/en-us/web/api/toggleevent/toggleevent/index.md
  files/en-us/web/css/_colon_popover-open/index.md
  files/en-us/web/css/_doublecolon_backdrop/index.md
  files/en-us/web/html/element/button/index.md
  files/en-us/web/html/element/input/index.md
  files/en-us/web/html/global_attributes/index.md
  files/en-us/web/html/global_attributes/popover/index.md
  files/jsondata/GroupData.json
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:Glossary

#24147 Update explanation of a form HTML element hiding the ` submit()`method.
  files/en-us/web/api/htmlformelement/submit/index.md
Labels: Content:WebAPI

#26567 Fix spelling: codepoint -> code point
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/glossary/whitespace/index.md
  files/en-us/web/api/fontface/index.md
  files/en-us/web/api/fontface/unicoderange/index.md
  files/en-us/web/api/htmltextareaelement/index.md
  files/en-us/web/css/@font-face/font-variation-settings/index.md
  files/en-us/web/css/@font-face/unicode-range/index.md
  files/en-us/web/css/font-feature-settings/index.md
  files/en-us/web/css/font-variant-emoji/index.md
  files/en-us/web/css/font-variation-settings/index.md
  files/en-us/web/javascript/data_structures/index.md
  files/en-us/web/javascript/guide/regular_expressions/character_classes/index.md
  files/en-us/web/javascript/guide/regular_expressions/cheatsheet/index.md
  files/en-us/web/javascript/language_overview/index.md
  files/en-us/web/javascript/reference/errors/not_a_valid_code_point/index.md
  files/en-us/web/javascript/reference/global_objects/encodeuri/index.md
  files/en-us/web/javascript/reference/global_objects/encodeuricomponent/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/@@match/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/@@matchall/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/@@replace/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/@@split/index.md
  files/en-us/web/javascript/reference/global_objects/string/charcodeat/index.md
  files/en-us/web/javascript/reference/global_objects/string/index.md
  files/en-us/web/javascript/reference/global_objects/string/iswellformed/index.md
  files/en-us/web/javascript/reference/global_objects/string/length/index.md
  files/en-us/web/javascript/reference/global_objects/string/split/index.md
  files/en-us/web/javascript/reference/global_objects/string/towellformed/index.md
  files/en-us/web/javascript/reference/lexical_grammar/index.md
  files/en-us/web/svg/tutorial/svg_fonts/index.md
Labels: Content:CSS, Content:WebAPI, Content:JS, Content:SVG, Content:Glossary

#26562 Update index.md
  files/en-us/mdn/writing_guidelines/index.md
Labels: Content:Other

#26571 Synchronize with BCD v5.2.55
  files/en-us/web/api/htmlbuttonelement/index.md
  files/en-us/web/api/htmlelement/index.md
  files/en-us/web/api/htmlinputelement/index.md
  files/en-us/web/api/toggleevent/index.md
Labels: Content:WebAPI

#26573 typo: Anoher -> Another
  files/en-us/web/api/popover_api/using/index.md
Labels: Content:WebAPI

#26572 typo in <feColorMatrix> doc
  files/en-us/web/svg/element/fecolormatrix/index.md
Labels: Content:SVG

#26563 Added a comma
  files/en-us/web/html/element/table/index.md
Labels: Content:HTML

#26570 Fix 26561: Make object example live
  files/en-us/web/html/element/object/index.md
Labels: Content:HTML

#26565 Change link to line style
  files/en-us/web/css/border-bottom-style/index.md
  files/en-us/web/css/border-left-style/index.md
  files/en-us/web/css/border-right-style/index.md
  files/en-us/web/css/border-top-style/index.md
Labels: Content:CSS

#26497 update dead link for validation api
  files/en-us/learn/server-side/express_nodejs/forms/index.md
Labels: Content:Learn

#26574 Fix SDP protocol link
  files/en-us/web/api/webrtc_api/protocols/index.md
Labels: Content:WebAPI

#26564 Added data types to module landing page
  files/en-us/web/css/css_backgrounds_and_borders/index.md
Labels: Content:CSS

#26575 Remove redirect (fixing flaw)
  files/en-us/web/css/css_backgrounds_and_borders/index.md
Labels: Content:CSS

#26549 Add information about extending Object
  files/en-us/web/javascript/reference/classes/extends/index.md
  files/en-us/web/javascript/reference/global_objects/object/object/index.md
Labels: Content:JS

#24921 Correct "Automatically removing filling animations" docs
  files/en-us/web/api/animation/commitstyles/index.md
  files/en-us/web/api/animation/index.md
  files/en-us/web/api/animation/persist/index.md
  files/en-us/web/api/animation/remove_event/index.md
  files/en-us/web/api/animation/replacestate/index.md
Labels: Content:WebAPI

#26542 Updates: overflow
  files/en-us/glossary/ink_overflow/index.md
  files/en-us/learn/css/building_blocks/overflowing_content/index.md
Labels: Content:Learn, Content:Glossary

#26543 Overflow: add <overflow> and see also
  files/en-us/web/css/overflow-block/index.md
  files/en-us/web/css/overflow-inline/index.md
  files/en-us/web/css/overflow-x/index.md
  files/en-us/web/css/overflow-y/index.md
  files/en-us/web/css/overflow/index.md
Labels: Content:CSS

#26584 WebGL 2 doesn't need extensions for half floating point textures
  files/en-us/web/api/oes_texture_half_float_linear/index.md
Labels: Content:WebAPI

#26587 Remove mention of ISO8601 to avoid wrong expectations
  files/en-us/web/html/element/input/date/index.md
Labels: Content:HTML

#26585 minor improvements to express routes tut
  files/en-us/learn/server-side/express_nodejs/routes/index.md
Labels: Content:Learn

#26591 Javascript used in 98% of sites
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/introduction/index.md
Labels: Content:Learn

#22210 Regex reference
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/firefox/releases/78/index.md
  files/en-us/web/javascript/guide/regular_expressions/assertions/index.md
  files/en-us/web/javascript/guide/regular_expressions/character_classes/index.md
  files/en-us/web/javascript/guide/regular_expressions/cheatsheet/index.md
  files/en-us/web/javascript/guide/regular_expressions/groups_and_backreferences/index.md
  files/en-us/web/javascript/guide/regular_expressions/index.md
  files/en-us/web/javascript/guide/regular_expressions/quantifiers/index.md
  files/en-us/web/javascript/guide/regular_expressions/unicode_property_escapes/index.md
  files/en-us/web/javascript/reference/deprecated_and_obsolete_features/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/unicode/index.md
  files/en-us/web/javascript/reference/regular_expressions/backreference/index.md
  files/en-us/web/javascript/reference/regular_expressions/capturing_group/index.md
  files/en-us/web/javascript/reference/regular_expressions/character_class/index.md
  files/en-us/web/javascript/reference/regular_expressions/character_class_escape/index.md
  files/en-us/web/javascript/reference/regular_expressions/character_escape/index.md
  files/en-us/web/javascript/reference/regular_expressions/disjunction/index.md
  files/en-us/web/javascript/reference/regular_expressions/index.md
  files/en-us/web/javascript/reference/regular_expressions/input_boundary_assertion/index.md
  files/en-us/web/javascript/reference/regular_expressions/literal_character/index.md
  files/en-us/web/javascript/reference/regular_expressions/lookahead_assertion/index.md
  files/en-us/web/javascript/reference/regular_expressions/lookbehind_assertion/index.md
  files/en-us/web/javascript/reference/regular_expressions/named_backreference/index.md
  files/en-us/web/javascript/reference/regular_expressions/named_capturing_group/index.md
  files/en-us/web/javascript/reference/regular_expressions/non-capturing_group/index.md
  files/en-us/web/javascript/reference/regular_expressions/quantifier/index.md
  files/en-us/web/javascript/reference/regular_expressions/unicode_character_class_escape/index.md
  files/en-us/web/javascript/reference/regular_expressions/wildcard/index.md
  files/en-us/web/javascript/reference/regular_expressions/word_boundary_assertion/index.md
Labels: Content:JS, Content:Other

#26593 Window.print() - FF android support moved from 113 to 114
  files/en-us/mozilla/firefox/releases/113/index.md
  files/en-us/mozilla/firefox/releases/114/index.md
Labels: Content:Other

#26603 Update index.md
  files/en-us/web/api/mediastreamtrack/index.md
Labels: Content:WebAPI

#26600 Update index.md
  files/en-us/learn/css/first_steps/getting_started/index.md
Labels: Content:Learn

#26580 docs: fix the audio worklet outputs array description
  files/en-us/web/api/web_audio_api/using_audioworklet/index.md
Labels: Content:WebAPI

#26610 fix: remove duplicate Non-standard_header
  files/en-us/web/api/window/webkitconvertpointfrompagetonode/index.md
Labels: Content:WebAPI

#26609 Synchronize with BCD v5.2.56
  files/en-us/web/api/cssimportrule/index.md
  files/en-us/web/api/cssimportrule/supportstext/index.md
Labels: Content:WebAPI

#26611 Fix 26607: give default values for options
  files/en-us/web/api/idbobjectstore/createindex/index.md
Labels: Content:WebAPI

#26614 Update inconsistant headers
  files/en-us/mozilla/add-ons/webextensions/browser_compatibility_for_manifest.json/index.md
  files/en-us/web/api/console/timelog/index.md
  files/en-us/web/api/css/factory_functions_static/index.md
  files/en-us/web/api/cssimportrule/supportstext/index.md
  files/en-us/web/api/document/scrollend_event/index.md
  files/en-us/web/api/element/scrollend_event/index.md
  files/en-us/web/api/element/webkitmouseforcechanged_event/index.md
  files/en-us/web/api/element/webkitmouseforceup_event/index.md
  files/en-us/web/api/element/webkitmouseforcewillbegin_event/index.md
  files/en-us/web/api/force_touch_events/index.md
  files/en-us/web/api/htmlelement/mscandidatewindowhide_event/index.md
  files/en-us/web/api/htmlelement/mscandidatewindowshow_event/index.md
  files/en-us/web/api/htmlelement/mscandidatewindowupdate_event/index.md
  files/en-us/web/api/mediaerror/msextendedcode/index.md
  files/en-us/web/api/merchantvalidationevent/merchantvalidationevent/index.md
  files/en-us/web/api/mouseevent/webkit_force_at_force_mouse_down_static/index.md
  files/en-us/web/api/mouseevent/webkit_force_at_mouse_down_static/index.md
  files/en-us/web/api/mouseevent/webkitforce/index.md
  files/en-us/web/api/ndefreadingevent/index.md
  files/en-us/web/api/performancetiming/msfirstpaint/index.md
  files/en-us/web/api/svgaelement/target/index.md
  files/en-us/web/api/svgaltglyphelement/format/index.md
  files/en-us/web/api/window/querylocalfonts/index.md
  files/en-us/web/api/window/requestfilesystem/index.md
  files/en-us/web/api/window/webkitconvertpointfromnodetopage/index.md
  files/en-us/web/http/headers/expect-ct/index.md
Labels: Content:WebExt, Content:WebAPI, Content:Other, Content:HTTP

#26586 Updated the PWA Badging How-To page based on a new WebKit blog
  files/en-us/web/progressive_web_apps/how_to/display_badge_on_app_icon/index.md
Labels: Content:Other

#26579 code example on white-space property
  files/en-us/web/css/white-space/index.md
Labels: Content:CSS

#26620 Add colors so svg is not just black
  files/en-us/web/svg/tutorial/svg_in_html_introduction/index.md
Labels: Content:SVG

#26628 fix(urlsearchparams): truncated constructor typo
  files/en-us/web/api/urlsearchparams/urlsearchparams/index.md
Labels: Content:WebAPI

#26629 Fix some typos
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/command_line/index.md
Labels: Content:Learn

#26626 Add 'slot' and 'template' to phrasing content list
  files/en-us/web/html/content_categories/index.md
Labels: Content:HTML

#26616 Update legacy color syntax for `accent-color`
  files/en-us/web/css/accent-color/index.md
Labels: Content:CSS

#26566 Correct word usage
  files/en-us/learn/common_questions/web_mechanics/pages_sites_servers_and_search_engines/index.md
Labels: Content:Learn

#26448 Unify the syntax format for CSS color functions
  files/en-us/web/css/color_value/color-contrast/index.md
  files/en-us/web/css/color_value/color-mix/index.md
  files/en-us/web/css/color_value/color/index.md
  files/en-us/web/css/color_value/device-cmyk/index.md
  files/en-us/web/css/color_value/hsl/index.md
  files/en-us/web/css/color_value/hwb/index.md
  files/en-us/web/css/color_value/lab/index.md
  files/en-us/web/css/color_value/lch/index.md
  files/en-us/web/css/color_value/oklab/index.md
  files/en-us/web/css/color_value/oklch/index.md
  files/en-us/web/css/color_value/rgb/index.md
Labels: Content:CSS

#26650 Fix typo
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/package_management/index.md
Labels: Content:Learn

#26648 Remove outdated info from `user-select`
  files/en-us/web/css/user-select/index.md
Labels: Content:CSS

#26651 docs(relnote): Release notes prep for Fx113
  files/en-us/mozilla/firefox/releases/111/index.md
  files/en-us/mozilla/firefox/releases/112/index.md
  files/en-us/mozilla/firefox/releases/113/index.md
  files/en-us/mozilla/firefox/releases/114/index.md
  files/en-us/mozilla/firefox/releases/115/index.md
Labels: Content:Other

#26647 Mention `navigator.sendBeacon()` on `FormData` page
  files/en-us/web/api/formdata/index.md
Labels: Content:WebAPI

#26646 Remove outdated info from `pointer-events`
  files/en-us/web/css/pointer-events/index.md
Labels: Content:CSS

#26653 Update docs on how to enable prefers-reduced-motion in GNOME
  files/en-us/web/css/@media/prefers-reduced-motion/index.md
Labels: Content:CSS

#26640 FF113 supports WebTransport on nightly
  files/en-us/mozilla/firefox/experimental_features/index.md
Labels: Content:Other

#26599 Update /web/css/system-color/index.md
  files/en-us/web/css/system-color/index.md
Labels: Content:CSS

#26474 Correct expressions for the `hypot()` CSS function
  files/en-us/web/css/hypot/index.md
Labels: Content:CSS

#26460 Update index.md
  files/en-us/web/css/sign/index.md
Labels: Content:CSS

#25392 Add a note about `cursor` behavior on iPadOS
  files/en-us/web/css/cursor/index.md
Labels: Content:CSS

#26665 fix: Broken Link
  files/en-us/web/api/gpurenderpassencoder/index.md
Labels: Content:WebAPI

#26658 docs(fx113-relnote): add support for "scripting" media
  files/en-us/mozilla/firefox/releases/113/index.md
Labels: Content:Other

#26672 Small code updates to Popover API docs
  files/en-us/web/api/popover_api/using/index.md
  files/en-us/web/css/_colon_popover-open/index.md
Labels: Content:CSS, Content:WebAPI

#26655 Miscellaneous fixes to declarativeNetRequest documentation
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/getmatchedrules/index.md
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/index.md
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/redirect/index.md
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/ruleaction/index.md
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/rulecondition/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/declarative_net_request/index.md
Labels: Content:WebExt, Content:Other

#26675 Update index.md
  files/en-us/learn/performance/measuring_performance/index.md
Labels: Content:Learn

#26674 Update index.md
  files/en-us/learn/performance/measuring_performance/index.md
Labels: Content:Learn

#26569 Add 'What is a PWA' guide
  files/en-us/web/progressive_web_apps/guides/what_is_a_progressive_web_app/index.md
  files/en-us/web/progressive_web_apps/guides/what_is_a_progressive_web_app/pwa-environment.svg
Labels: Content:Other

#26673 Update index.md
  files/en-us/learn/performance/perceived_performance/index.md
Labels: Content:Learn

#26676 Add Baseline (compatibility) glossary entry
  files/en-us/glossary/baseline/compatibility/index.md
  files/en-us/glossary/baseline/index.md
  files/en-us/glossary/baseline/typography/index.md
  files/en-us/web/svg/attribute/alignment-baseline/index.md
  files/en-us/web/svg/attribute/font-size/index.md
  files/en-us/web/svg/attribute/ideographic/index.md
  files/en-us/web/svg/attribute/v-hanging/index.md
  files/en-us/web/svg/attribute/v-ideographic/index.md
Labels: Content:SVG, Content:Glossary

#26668 List of APIs requiring user activation: Add some now existing `domxref`s
  files/en-us/web/security/user_activation/index.md
Labels: Content:Other

#24736 Matched "crisp-edges" and "pixelated" image-rendering to W3C spec
  files/en-us/web/css/image-rendering/index.md
Labels: Content:CSS

#24136 SVG Gradients
  files/en-us/web/svg/tutorial/gradients/index.md
Labels: Content:SVG

#25214 Clarify OS dependent user preference meaning
  files/en-us/web/css/@media/prefers-reduced-motion/index.md
Labels: Content:CSS

#23736 Formatting box → Content box on psuedo element pages
  files/en-us/web/css/_doublecolon_before/index.md
Labels: Content:CSS, awaiting response

#24246 Mention WCAG 1.4.13
  files/en-us/web/accessibility/aria/roles/tooltip_role/index.md
Labels: Content:Accessibility

#25536 Fixed a sentence
  files/en-us/web/css/css_grid_layout/relationship_of_grid_layout/index.md
Labels: Content:CSS

#26466 Update: add `See also` associated with the ReadableStream
  files/en-us/web/api/bytelengthqueuingstrategy/bytelengthqueuingstrategy/index.md
  files/en-us/web/api/bytelengthqueuingstrategy/highwatermark/index.md
  files/en-us/web/api/bytelengthqueuingstrategy/index.md
  files/en-us/web/api/bytelengthqueuingstrategy/size/index.md
  files/en-us/web/api/countqueuingstrategy/countqueuingstrategy/index.md
  files/en-us/web/api/countqueuingstrategy/index.md
  files/en-us/web/api/countqueuingstrategy/size/index.md
  files/en-us/web/api/readablebytestreamcontroller/byobrequest/index.md
  files/en-us/web/api/readablebytestreamcontroller/close/index.md
  files/en-us/web/api/readablebytestreamcontroller/desiredsize/index.md
  files/en-us/web/api/readablebytestreamcontroller/enqueue/index.md
  files/en-us/web/api/readablebytestreamcontroller/index.md
  files/en-us/web/api/readablestream/cancel/index.md
  files/en-us/web/api/readablestream/getreader/index.md
  files/en-us/web/api/readablestream/index.md
  files/en-us/web/api/readablestream/locked/index.md
  files/en-us/web/api/readablestream/pipethrough/index.md
  files/en-us/web/api/readablestream/pipeto/index.md
  files/en-us/web/api/readablestream/readablestream/index.md
  files/en-us/web/api/readablestream/tee/index.md
  files/en-us/web/api/readablestreambyobreader/cancel/index.md
  files/en-us/web/api/readablestreambyobreader/closed/index.md
  files/en-us/web/api/readablestreambyobreader/index.md
  files/en-us/web/api/readablestreambyobreader/read/index.md
  files/en-us/web/api/readablestreambyobreader/readablestreambyobreader/index.md
  files/en-us/web/api/readablestreambyobreader/releaselock/index.md
  files/en-us/web/api/readablestreamdefaultcontroller/close/index.md
  files/en-us/web/api/readablestreamdefaultcontroller/desiredsize/index.md
  files/en-us/web/api/readablestreamdefaultcontroller/enqueue/index.md
  files/en-us/web/api/readablestreamdefaultcontroller/error/index.md
  files/en-us/web/api/readablestreamdefaultcontroller/index.md
  files/en-us/web/api/readablestreamdefaultreader/cancel/index.md
  files/en-us/web/api/readablestreamdefaultreader/closed/index.md
  files/en-us/web/api/readablestreamdefaultreader/index.md
  files/en-us/web/api/readablestreamdefaultreader/read/index.md
  files/en-us/web/api/readablestreamdefaultreader/readablestreamdefaultreader/index.md
  files/en-us/web/api/readablestreamdefaultreader/releaselock/index.md
Labels: Content:WebAPI

#24223 Format /web/svg using Prettier
  .prettierignore
  files/en-us/web/svg/attribute/keytimes/index.md
  files/en-us/web/svg/attribute/stroke-dasharray/index.md
  files/en-us/web/svg/attribute/transform/index.md
  files/en-us/web/svg/attribute/xml_colon_space/index.md
  files/en-us/web/svg/element/feconvolvematrix/index.md
  files/en-us/web/svg/element/path/index.md
Labels: Content:SVG

#26679 Synchronize with BCD v5.2.57
  files/en-us/web/api/web_authentication_api/webauthn_extensions/index.md
Labels: Content:WebAPI

#25891 CSS: move block-level and inline-level pages from HTML to CSS
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/glossary/block-level_content/index.md
  files/en-us/glossary/inline-level_content/index.md
  files/en-us/glossary/inline-level_content/inline_layout.png
  files/en-us/learn/css/css_layout/normal_flow/index.md
  files/en-us/learn/html/introduction_to_html/getting_started/index.md
  files/en-us/web/api/domparser/index.md
  files/en-us/web/api/element/getclientrects/index.md
  files/en-us/web/css/column-span/index.md
  files/en-us/web/css/containing_block/index.md
  files/en-us/web/css/css_flow_layout/block_and_inline_layout_in_normal_flow/index.md
  files/en-us/web/css/vertical-align/index.md
  files/en-us/web/html/block-level_elements/index.md
  files/en-us/web/html/element/center/index.md
  files/en-us/web/html/element/index.md
  files/en-us/web/html/element/p/index.md
  files/en-us/web/html/element/span/index.md
  files/en-us/web/html/index.md
  files/en-us/web/html/inline_elements/index.md
  files/en-us/web/text_fragments/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:Learn, Content:Glossary

#26657 Style guide - remove preferred dictionary
  files/en-us/mdn/writing_guidelines/writing_style_guide/index.md
Labels: Content:Other

#26455 Page orientation 24390 release note
  files/en-us/mozilla/firefox/experimental_features/index.md
Labels: Content:Other

#26683 Minor typofix square > circle
  files/en-us/web/html/element/script/type/importmap/index.md
Labels: Content:HTML

#26698 fix(xmlhttprequest): examples use better file name
  files/en-us/web/api/xmlhttprequest/error_event/example-image.jpg
  files/en-us/web/api/xmlhttprequest/error_event/index.md
  files/en-us/web/api/xmlhttprequest/loadstart_event/example-image.jpg
  files/en-us/web/api/xmlhttprequest/loadstart_event/index.md
Labels: Content:WebAPI

#26663 See also for CSS column-count
  files/en-us/web/css/column-count/index.md
Labels: Content:CSS

#26677 Minor: Legibility of CSS code: @counter-styles/symbols
  files/en-us/web/css/@counter-style/symbols/index.md
Labels: Content:CSS

#26697 Run Prettier on folders that have already been formatted
  .prettierignore
  files/en-us/glossary/baseline/compatibility/index.md
  files/en-us/glossary/baseline/typography/index.md
  files/en-us/glossary/entity/index.md
  files/en-us/learn/forms/how_to_build_custom_form_controls/index.md
  files/en-us/learn/html/introduction_to_html/creating_hyperlinks/index.md
  files/en-us/learn/javascript/building_blocks/functions/index.md
  files/en-us/learn/server-side/django/forms/index.md
  files/en-us/learn/server-side/express_nodejs/displaying_data/author_detail_page/index.md
  files/en-us/learn/server-side/express_nodejs/displaying_data/author_list_page/index.md
  files/en-us/learn/server-side/express_nodejs/displaying_data/bookinstance_detail_page_and_challenge/index.md
  files/en-us/learn/server-side/express_nodejs/displaying_data/home_page/index.md
  files/en-us/learn/server-side/express_nodejs/forms/create_genre_form/index.md
  files/en-us/learn/server-side/express_nodejs/forms/delete_author_form/index.md
  files/en-us/learn/server-side/express_nodejs/forms/update_book_form/index.md
  files/en-us/learn/server-side/express_nodejs/routes/index.md
  files/en-us/learn/server-side/express_nodejs/skeleton_website/index.md
  files/en-us/learn/tools_and_testing/cross_browser_testing/feature_detection/index.md
  files/en-us/learn/tools_and_testing/cross_browser_testing/html_and_css/index.md
  files/en-us/mdn/writing_guidelines/page_structures/banners_and_notices/index.md
  files/en-us/web/api/htmlelement/beforetoggle_event/index.md
  files/en-us/web/api/htmlelement/toggle_event/index.md
  files/en-us/web/api/mathmlelement/style/index.md
  files/en-us/web/api/popover_api/index.md
  files/en-us/web/api/popover_api/using/index.md
  files/en-us/web/css/_colon_nth-child/index.md
  files/en-us/web/css/color_value/hwb/index.md
  files/en-us/web/css/hypot/index.md
  files/en-us/web/css/length/index.md
  files/en-us/web/css/overflow-block/index.md
  files/en-us/web/css/overflow-inline/index.md
  files/en-us/web/css/pointer-events/index.md
  files/en-us/web/css/user-select/index.md
  files/en-us/web/svg/element/fetile/index.md
Labels: Content:CSS, Content:WebAPI, Content:Learn, Content:Other, Content:SVG, Content:Glossary

#26700 Remove Firefox-only section from `<system-color>`
  files/en-us/web/css/system-color/index.md
Labels: Content:CSS

#26681 Fix setBindGroup index descriptions, and improve others
  files/en-us/web/api/gpucomputepassencoder/setbindgroup/index.md
  files/en-us/web/api/gpudevice/createbindgroup/index.md
  files/en-us/web/api/gpudevice/createbindgrouplayout/index.md
  files/en-us/web/api/gpurenderbundleencoder/setbindgroup/index.md
  files/en-us/web/api/gpurenderpassencoder/setbindgroup/index.md
Labels: Content:WebAPI

#26702 fix(learn): revert formatting in whitespace example
  files/en-us/learn/html/introduction_to_html/getting_started/index.md
Labels: Content:Learn

#26713 Fixes modifier
  files/en-us/web/api/keyboardevent/code/index.md
Labels: Content:WebAPI

#26706 Remove a link which is already unnecessary
  files/en-us/web/api/htmlimageelement/index.md
Labels: Content:WebAPI

#26576 Minor edit: set html-nolint to HTML example
  files/en-us/web/accessibility/aria/roles/definition_role/index.md
Labels: Content:Accessibility

#26632 docs(fx113-relnote): add "prefers-reduced-transparency" to experimental feature list
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/web/css/media_queries/using_media_queries/index.md
Labels: Content:CSS, Content:Other

#26719 Correct return value of location.toString()
  files/en-us/web/api/location/tostring/index.md
Labels: Content:WebAPI

#26718 prefers-reduced-transparency isn't enabled by default
  files/en-us/mozilla/firefox/experimental_features/index.md
Labels: Content:Other

#26721 Correct hyperlink for Regex in String/replaceAll page
  files/en-us/web/javascript/reference/global_objects/string/replaceall/index.md
Labels: Content:JS

#26720 Correct example for location.toString()
  files/en-us/web/api/location/tostring/index.md
Labels: Content:WebAPI

#26716 Follow up to PR 24921
  files/en-us/web/api/animation/commitstyles/index.md
  files/en-us/web/api/animation/index.md
  files/en-us/web/api/animation/persist/index.md
  files/en-us/web/api/animation/remove_event/index.md
  files/en-us/web/api/animation/replacestate/index.md
  files/en-us/web/api/web_animations_api/using_the_web_animations_api/index.md
Labels: Content:WebAPI

#26725 Fix: Use language keywords instead of framework type names in the examples of 'WebSocket'
  files/en-us/web/api/websockets_api/writing_websocket_server/index.md
Labels: Content:WebAPI

#26711 Add a bit about SPAs
  files/en-us/web/progressive_web_apps/guides/what_is_a_progressive_web_app/index.md
Labels: Content:Other

#26732 DNR corrections in URLTransform's queryTransform
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/urltransform/index.md
Labels: Content:WebExt, Content:Other

#26612 Fix the description of the display property according to the CSS specification
  files/en-us/web/css/display/index.md
Labels: Content:CSS

#25739 Adding missing sections for `container*`
  files/en-us/web/css/container-name/index.md
  files/en-us/web/css/container-type/index.md
  files/en-us/web/css/container/index.md
Labels: Content:CSS

#26630 fix(prefers-reduced-motion): Edit text and improve example
  files/en-us/web/css/@media/prefers-reduced-motion/index.md
Labels: Content:CSS

#26641 Added info for 'muted' driven emission
  files/en-us/web/api/htmlmediaelement/volumechange_event/index.md
Labels: Content:WebAPI

#25289 Add page for prefers-reduced-transparency
  files/en-us/web/css/@media/prefers-reduced-transparency/index.md
Labels: Content:CSS, Firefox 113

#26704 Fix arrow syntax explanation
  files/en-us/learn/javascript/building_blocks/functions/index.md
Labels: Content:Learn

#26667 Add RTCAudioSourceStats
  files/en-us/web/api/rtcaudiosourcestats/audiolevel/index.md
  files/en-us/web/api/rtcaudiosourcestats/id/index.md
  files/en-us/web/api/rtcaudiosourcestats/index.md
  files/en-us/web/api/rtcaudiosourcestats/kind/index.md
  files/en-us/web/api/rtcaudiosourcestats/timestamp/index.md
  files/en-us/web/api/rtcaudiosourcestats/totalaudioenergy/index.md
  files/en-us/web/api/rtcaudiosourcestats/totalsamplesduration/index.md
  files/en-us/web/api/rtcaudiosourcestats/trackidentifier/index.md
  files/en-us/web/api/rtcaudiosourcestats/type/index.md
  files/en-us/web/api/rtcstats/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

#26738 correct language tag of code fence
  files/en-us/learn/server-side/django/authentication/index.md
Labels: Content:Learn

#26669 Fix code comment in dialog example
  files/en-us/web/html/element/dialog/index.md
Labels: Content:HTML

#26744 Update index.md
  files/en-us/web/api/document/adoptedstylesheets/index.md
Labels: Content:WebAPI

#26728 Update length values description
  files/en-us/web/css/width/index.md
Labels: Content:CSS

#26757 Add TransformStream note about returning a promise
  files/en-us/web/api/transformstream/transformstream/index.md
Labels: Content:WebAPI

#26758 Remove emphasis on WritableStream controller
  files/en-us/web/api/writablestream/writablestream/index.md
Labels: Content:WebAPI

#26742 fix: Updated description of example which in `JavaScript.Object` to be more accurate
  files/en-us/web/javascript/reference/global_objects/object/index.md
Labels: Content:JS

#26759 Fix some more return statements
  files/en-us/web/api/htmlanchorelement/tostring/index.md
  files/en-us/web/api/htmlareaelement/tostring/index.md
  files/en-us/web/api/navigator/taintenabled/index.md
  files/en-us/web/api/nodeiterator/nextnode/index.md
  files/en-us/web/api/nodeiterator/previousnode/index.md
  files/en-us/web/api/selection/containsnode/index.md
Labels: Content:WebAPI

#26748 Fix 26745: don't auto-play
  files/en-us/web/api/htmlmediaelement/preservespitch/index.md
Labels: Content:WebAPI

#26753 Fix 26743: Fix return value; improve example
  files/en-us/web/api/range/getclientrects/index.md
Labels: Content:WebAPI

#26754 Fix return value for Range: getBoundingClientRect()
  files/en-us/web/api/range/getboundingclientrect/index.md
Labels: Content:WebAPI

#26727 Mention that Set iterators have a defined order
  files/en-us/web/javascript/reference/global_objects/map/@@iterator/index.md
  files/en-us/web/javascript/reference/global_objects/set/@@iterator/index.md
Labels: Content:JS

#26734 Accentuate month being 0-index in getMonth example
  files/en-us/web/javascript/reference/global_objects/date/index.md
Labels: Content:JS

#26662 Do not use JSON.stringify in console.log
  files/en-us/web/javascript/reference/global_objects/array/shift/index.md
Labels: Content:JS

#26594 fix: Update the description of callbackFn's accumulator in `Array.reduceRight()`
  files/en-us/web/javascript/reference/global_objects/array/reduceright/index.md
Labels: Content:JS

#26767 Remove random arrow from Endianness example
  files/en-us/glossary/endianness/index.md
Labels: Content:Glossary

#26764 remove self-reference links
  files/en-us/web/javascript/reference/global_objects/array/reduce/index.md
  files/en-us/web/javascript/reference/global_objects/object/index.md
Labels: Content:JS

#26771 Update index.md
  files/en-us/web/api/stylepropertymap/append/index.md
Labels: Content:WebAPI

#26765 correct http status code message
  files/en-us/web/http/methods/options/index.md
Labels: Content:HTTP

#26750 Fix 26741: reduce ambiguity, remove unneeded word
  files/en-us/web/http/overview/index.md
Labels: Content:HTTP
