Repository mdn/content, pull requests merged in 2023-08, with the labels that each got.

#28248 improve grammar of subgrid document
  files/en-us/web/css/css_grid_layout/subgrid/index.md
Labels: Content:CSS

#28199 fix(css): Fix easing function name (Step -> Steps)
  files/en-us/web/css/easing-function/index.md
Labels: Content:CSS

#28277 CI: Avoid path filtering in "required" workflows
  .github/workflows/pr-check_redirects.yml
  .github/workflows/pr-test.yml
Labels: system

#28298 Add WebDriver conformance section for 116 release notes
  files/en-us/mozilla/firefox/releases/116/index.md
Labels: Content:Firefox

#28164 FF116 Relnote: NumberFormat v3 proposal
  files/en-us/mozilla/firefox/releases/116/index.md
Labels: Content:Firefox

#28308 Fix issue 13024: remove TODO
  files/en-us/games/techniques/tilemaps/square_tilemaps_implementation_colon__scrolling_maps/index.md
Labels: Content:Games

#28324 Fix issue 28318: Link to last article
  files/en-us/learn/javascript/asynchronous/promises/index.md
Labels: Content:Learn:JavaScript

#28328 Update files/en-us/web/api/audiobuffersourcenode/index.md
  files/en-us/web/api/audiobuffersourcenode/index.md
Labels: Content:WebAPI

#28329 Update content/files/en-us/web/javascript/reference/functions/set/ind…
  files/en-us/web/javascript/reference/functions/set/index.md
Labels: Content:JS

#28317 ✏️ credentialscontainer/get example typos
  files/en-us/web/api/credentialscontainer/get/index.md
Labels: Content:WebAPI

#28340 Remove reviewdog.yml
  .github/workflows/reviewdog.yml
  CONTRIBUTING.md
Labels: system

#28342 Fix broken links to Svelte docs
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_variables_props/index.md
Labels: Content:Learn:Client-side

#28306 fix(lint-staged): markdownlint and prettier can race on md files
  .lintstagedrc.json
  package.json
Labels: system

#27440 Add OPFS standalone article / Update API landing to "File System API"
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/firefox/releases/111/index.md
  files/en-us/web/api/datatransferitem/getasfilesystemhandle/index.md
  files/en-us/web/api/file_system_api/index.md
  files/en-us/web/api/file_system_api/origin_private_file_system/index.md
  files/en-us/web/api/filesystemdirectoryhandle/entries/index.md
  files/en-us/web/api/filesystemdirectoryhandle/getdirectoryhandle/index.md
  files/en-us/web/api/filesystemdirectoryhandle/getfilehandle/index.md
  files/en-us/web/api/filesystemdirectoryhandle/index.md
  files/en-us/web/api/filesystemdirectoryhandle/keys/index.md
  files/en-us/web/api/filesystemdirectoryhandle/removeentry/index.md
  files/en-us/web/api/filesystemdirectoryhandle/resolve/index.md
  files/en-us/web/api/filesystemdirectoryhandle/values/index.md
  files/en-us/web/api/filesystemfilehandle/createsyncaccesshandle/index.md
  files/en-us/web/api/filesystemfilehandle/createwritable/index.md
  files/en-us/web/api/filesystemfilehandle/getfile/index.md
  files/en-us/web/api/filesystemfilehandle/index.md
  files/en-us/web/api/filesystemhandle/index.md
  files/en-us/web/api/filesystemhandle/issameentry/index.md
  files/en-us/web/api/filesystemhandle/kind/index.md
  files/en-us/web/api/filesystemhandle/name/index.md
  files/en-us/web/api/filesystemhandle/querypermission/index.md
  files/en-us/web/api/filesystemhandle/remove/index.md
  files/en-us/web/api/filesystemhandle/requestpermission/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/close/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/flush/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/getsize/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/read/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/truncate/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/write/index.md
  files/en-us/web/api/filesystemwritablefilestream/index.md
  files/en-us/web/api/filesystemwritablefilestream/seek/index.md
  files/en-us/web/api/filesystemwritablefilestream/truncate/index.md
  files/en-us/web/api/filesystemwritablefilestream/write/index.md
  files/en-us/web/api/storage_api/storage_quotas_and_eviction_criteria/index.md
  files/en-us/web/api/storagemanager/getdirectory/index.md
  files/en-us/web/api/storagemanager/index.md
  files/en-us/web/api/window/showdirectorypicker/index.md
  files/en-us/web/api/window/showopenfilepicker/index.md
  files/en-us/web/api/window/showsavefilepicker/index.md
  files/en-us/web/progressive_web_apps/how_to/associate_files_with_your_pwa/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, Content:Firefox, Content:PWA

#28344 fix typo in `let` page
  files/en-us/web/javascript/reference/statements/let/index.md
Labels: Content:JS

#28231 Fix front-matter_linter when called with --verbose
  scripts/front-matter_linter.js
Labels: system

#28347 Fix broken links
  files/en-us/mozilla/firefox/releases/25/index.md
  files/en-us/mozilla/firefox/releases/7/index.md
  files/en-us/mozilla/firefox/releases/83/index.md
  files/en-us/web/api/filereader/index.md
  files/en-us/web/http/headers/cross-origin-resource-policy/index.md
Labels: Content:WebAPI, Content:HTTP, Content:Firefox

#28338 Update index.md
  files/en-us/learn/common_questions/tools_and_setup/what_are_browser_developer_tools/index.md
Labels: Content:Learn

#28355 LockManager return value description fixed.
  files/en-us/web/api/lockmanager/request/index.md
Labels: Content:WebAPI

#28356 Update WAI-ARIA link from 1.1 to 1.2
  files/en-us/learn/accessibility/wai-aria_basics/index.md
Labels: Content:Learn:Accessibility

#28350 change https requirement to secure context
  files/en-us/web/progressive_web_apps/guides/making_pwas_installable/index.md
Labels: Content:PWA

#28157 Remove invalid references to margin-box
  files/en-us/web/css/css_box_model/introduction_to_the_css_box_model/index.md
  files/en-us/web/css/mask-clip/index.md
  files/en-us/web/css/mask-origin/index.md
  files/en-us/web/css/offset-path/index.md
Labels: Content:CSS

#28226 fix: revise information about absolute and fixed
  files/en-us/web/css/position/index.md
Labels: Content:CSS

#28349 Fix macro calls in Firefox release notes
  files/en-us/mozilla/firefox/releases/10/index.md
  files/en-us/mozilla/firefox/releases/11/index.md
  files/en-us/mozilla/firefox/releases/14/index.md
  files/en-us/mozilla/firefox/releases/19/index.md
  files/en-us/mozilla/firefox/releases/21/index.md
  files/en-us/mozilla/firefox/releases/22/index.md
  files/en-us/mozilla/firefox/releases/23/index.md
  files/en-us/mozilla/firefox/releases/24/index.md
  files/en-us/mozilla/firefox/releases/28/index.md
  files/en-us/mozilla/firefox/releases/3.6/index.md
  files/en-us/mozilla/firefox/releases/3.6/updating_themes/index.md
  files/en-us/mozilla/firefox/releases/30/index.md
  files/en-us/mozilla/firefox/releases/31/index.md
  files/en-us/mozilla/firefox/releases/32/index.md
  files/en-us/mozilla/firefox/releases/35/index.md
  files/en-us/mozilla/firefox/releases/4/index.md
  files/en-us/mozilla/firefox/releases/40/index.md
  files/en-us/mozilla/firefox/releases/41/index.md
  files/en-us/mozilla/firefox/releases/43/index.md
  files/en-us/mozilla/firefox/releases/46/index.md
  files/en-us/mozilla/firefox/releases/47/index.md
  files/en-us/mozilla/firefox/releases/48/index.md
  files/en-us/mozilla/firefox/releases/49/index.md
  files/en-us/mozilla/firefox/releases/50/index.md
  files/en-us/mozilla/firefox/releases/51/index.md
  files/en-us/mozilla/firefox/releases/52/index.md
  files/en-us/mozilla/firefox/releases/53/index.md
  files/en-us/mozilla/firefox/releases/54/index.md
  files/en-us/mozilla/firefox/releases/55/index.md
  files/en-us/mozilla/firefox/releases/56/index.md
  files/en-us/mozilla/firefox/releases/57/index.md
  files/en-us/mozilla/firefox/releases/6/index.md
  files/en-us/mozilla/firefox/releases/60/index.md
  files/en-us/mozilla/firefox/releases/61/index.md
  files/en-us/mozilla/firefox/releases/62/index.md
  files/en-us/mozilla/firefox/releases/63/index.md
  files/en-us/mozilla/firefox/releases/64/index.md
  files/en-us/mozilla/firefox/releases/65/index.md
  files/en-us/mozilla/firefox/releases/68/index.md
  files/en-us/mozilla/firefox/releases/69/index.md
  files/en-us/mozilla/firefox/releases/7/index.md
  files/en-us/mozilla/firefox/releases/72/index.md
  files/en-us/mozilla/firefox/releases/78/index.md
  files/en-us/mozilla/firefox/releases/79/index.md
  files/en-us/mozilla/firefox/releases/8/index.md
  files/en-us/mozilla/firefox/releases/88/index.md
  files/en-us/mozilla/firefox/releases/89/index.md
  files/en-us/mozilla/firefox/releases/91/index.md
  files/en-us/mozilla/firefox/releases/93/index.md
  files/en-us/mozilla/firefox/releases/94/index.md
  files/en-us/mozilla/firefox/releases/97/index.md
Labels: Content:Firefox

#28315 Fix issue 27197: Remove window's copy of DOMContentLoaded; redirect to document's copy
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/learn/performance/html/index.md
  files/en-us/learn/performance/javascript/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/ondomcontentloaded/index.md
  files/en-us/mozilla/add-ons/webextensions/content_security_policy/index.md
  files/en-us/web/api/document/domcontentloaded_event/index.md
  files/en-us/web/api/htmlscriptelement/index.md
  files/en-us/web/api/window/domcontentloaded_event/index.md
  files/en-us/web/api/window/index.md
  files/en-us/web/events/index.md
  files/en-us/web/performance/index.md
  files/en-us/web/performance/navigation_and_resource_timings/index.md
Labels: Content:WebExt, Content:WebAPI, Content:Learn, Content:Performance, Content:Events

#28359 Synchronize with BCD v5.3.7
  files/en-us/web/css/font-size/index.md
  files/en-us/web/css/math-depth/index.md
Labels: Content:CSS

#28332 Fix ink trail example
  files/en-us/web/api/ink_api/index.md
  files/en-us/web/api/inkpresenter/updateinktrailstartpoint/index.md
Labels: Content:WebAPI

#28161 Markdownlint: enforce code language for codeblocks
  .markdownlint-cli2.jsonc
  files/en-us/web/api/webotp_api/index.md
Labels: Content:WebAPI, system

#28353 Fix various macro calls
  files/en-us/web/api/htmlimageelement/decode/index.md
  files/en-us/web/api/htmlimageelement/index.md
  files/en-us/web/api/positionsensorvrdevice/getimmediatestate/index.md
  files/en-us/web/api/positionsensorvrdevice/getstate/index.md
  files/en-us/web/api/positionsensorvrdevice/index.md
  files/en-us/web/api/rtcrtpcontributingsource/audiolevel/index.md
  files/en-us/web/api/rtcrtpcontributingsource/source/index.md
  files/en-us/web/api/rtcrtpreceiver/index.md
  files/en-us/web/api/screen_capture_api/index.md
  files/en-us/web/api/sourcebuffer/index.md
  files/en-us/web/api/ui_events/index.md
  files/en-us/web/api/vrpose/angularacceleration/index.md
  files/en-us/web/api/vrpose/angularvelocity/index.md
  files/en-us/web/api/vrpose/linearacceleration/index.md
  files/en-us/web/api/vrpose/linearvelocity/index.md
  files/en-us/web/api/vrpose/orientation/index.md
  files/en-us/web/api/vrpose/position/index.md
  files/en-us/web/api/web_audio_api/migrating_from_webkitaudiocontext/index.md
  files/en-us/web/api/web_audio_api/using_audioworklet/index.md
  files/en-us/web/api/webgl2renderingcontext/index.md
  files/en-us/web/api/webrtc_api/simple_rtcdatachannel_sample/index.md
  files/en-us/web/api/webvr_api/index.md
  files/en-us/web/api/window/error_event/index.md
  files/en-us/web/api/window/index.md
  files/en-us/web/css/@media/grid/index.md
  files/en-us/web/css/css_color_adjustment/index.md
Labels: Content:CSS, Content:WebAPI

#28367 Items not found in the cryptography `See also`
  files/en-us/glossary/cryptography/index.md
Labels: Content:Glossary

#28345 fix the description about `1xx` warning-codes
  files/en-us/web/http/headers/warning/index.md
Labels: Content:HTTP

#28313 CanvasRenderingContext2D: getContextAttributes() - improve
  files/en-us/web/api/canvasrenderingcontext2d/getcontextattributes/index.md
  files/en-us/web/api/canvasrenderingcontext2d/index.md
Labels: Content:WebAPI

#28372 relnote(117): Inline SVG allow for defer, async and module
  files/en-us/mozilla/firefox/releases/117/index.md
Labels: Content:Firefox

#28365 fix typo in reference `Promise` page
  files/en-us/web/javascript/reference/global_objects/promise/index.md
Labels: Content:JS

#28343 fix: `codePointAt`confusing looping example description
  files/en-us/web/javascript/reference/global_objects/string/codepointat/index.md
Labels: Content:JS

#28369 fix: incomplete sentence in array page
  files/en-us/web/javascript/reference/global_objects/array/index.md
Labels: Content:JS

#28376 Replace EmbedLiveSample calls with deprecated arguments
  files/en-us/learn/html/tables/advanced/index.md
  files/en-us/web/api/canvas_api/tutorial/compositing/index.md
  files/en-us/web/api/canvasrenderingcontext2d/globalcompositeoperation/index.md
  files/en-us/web/api/canvasrenderingcontext2d/miterlimit/index.md
Labels: Content:WebAPI, Content:Learn:HTML

#28377 Fix a broken link
  files/en-us/web/performance/navigation_and_resource_timings/index.md
Labels: Content:Performance

#28378 Fix link
  files/en-us/web/css/css_display/index.md
Labels: Content:CSS

#28374 fix: Minor copy-edits
  files/en-us/web/api/pointer_events/index.md
  files/en-us/web/api/ui_events/index.md
Labels: Content:WebAPI

#28385 Uniform rest parameter syntax style
  files/en-us/mdn/writing_guidelines/page_structures/syntax_sections/index.md
  files/en-us/web/api/abortsignal/index.md
  files/en-us/web/api/console/assert/index.md
  files/en-us/web/api/document/append/index.md
  files/en-us/web/api/document/createtouchlist/index.md
  files/en-us/web/api/document/prepend/index.md
  files/en-us/web/api/document/replacechildren/index.md
  files/en-us/web/api/documentfragment/append/index.md
  files/en-us/web/api/documentfragment/prepend/index.md
  files/en-us/web/api/documentfragment/replacechildren/index.md
  files/en-us/web/api/documenttype/after/index.md
  files/en-us/web/api/documenttype/before/index.md
  files/en-us/web/api/documenttype/replacewith/index.md
  files/en-us/web/api/domtokenlist/add/index.md
  files/en-us/web/api/domtokenlist/remove/index.md
  files/en-us/web/api/element/after/index.md
  files/en-us/web/api/element/append/index.md
  files/en-us/web/api/element/before/index.md
  files/en-us/web/api/element/prepend/index.md
  files/en-us/web/api/element/replacechildren/index.md
  files/en-us/web/api/element/replacewith/index.md
  files/en-us/web/api/highlight/highlight/index.md
  files/en-us/web/api/htmlslotelement/assign/index.md
  files/en-us/web/api/rtcpeerconnection/addtrack/index.md
  files/en-us/web/api/rtcrtpsender/setstreams/index.md
  files/en-us/web/api/setinterval/index.md
  files/en-us/web/api/settimeout/index.md
  files/en-us/web/api/window/setimmediate/index.md
  files/en-us/web/api/workerglobalscope/importscripts/index.md
  files/en-us/web/css/css_backgrounds_and_borders/using_multiple_backgrounds/index.md
  files/en-us/web/css/cursor/index.md
  files/en-us/web/javascript/guide/indexed_collections/index.md
  files/en-us/web/javascript/reference/classes/constructor/index.md
  files/en-us/web/javascript/reference/functions/default_parameters/index.md
  files/en-us/web/javascript/reference/global_objects/array/array/index.md
  files/en-us/web/javascript/reference/global_objects/array/concat/index.md
  files/en-us/web/javascript/reference/global_objects/array/of/index.md
  files/en-us/web/javascript/reference/global_objects/array/push/index.md
  files/en-us/web/javascript/reference/global_objects/array/splice/index.md
  files/en-us/web/javascript/reference/global_objects/array/unshift/index.md
  files/en-us/web/javascript/reference/global_objects/asyncfunction/asyncfunction/index.md
  files/en-us/web/javascript/reference/global_objects/asyncgeneratorfunction/asyncgeneratorfunction/index.md
  files/en-us/web/javascript/reference/global_objects/function/function/index.md
  files/en-us/web/javascript/reference/global_objects/generatorfunction/generatorfunction/index.md
  files/en-us/web/javascript/reference/global_objects/math/hypot/index.md
  files/en-us/web/javascript/reference/global_objects/math/max/index.md
  files/en-us/web/javascript/reference/global_objects/math/min/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/of/index.md
  files/en-us/web/javascript/reference/operators/async_function/index.md
  files/en-us/web/javascript/reference/operators/async_function_star_/index.md
  files/en-us/web/javascript/reference/operators/function/index.md
  files/en-us/web/javascript/reference/operators/function_star_/index.md
  files/en-us/web/javascript/reference/statements/async_function/index.md
  files/en-us/web/javascript/reference/statements/async_function_star_/index.md
  files/en-us/web/javascript/reference/statements/function/index.md
  files/en-us/web/javascript/reference/statements/function_star_/index.md
Labels: Content:CSS, Content:WebAPI, Content:JS, Content:Meta

#28352 Fix various xref macro calls
  files/en-us/web/api/console_api/index.md
  files/en-us/web/api/dedicatedworkerglobalscope/index.md
  files/en-us/web/api/document/index.md
  files/en-us/web/api/document_object_model/index.md
  files/en-us/web/api/domstringmap/index.md
  files/en-us/web/api/element/dommousescroll_event/index.md
  files/en-us/web/api/element/index.md
  files/en-us/web/api/element/mozmousepixelscroll_event/index.md
  files/en-us/web/api/eventtarget/dispatchevent/index.md
  files/en-us/web/api/ext_disjoint_timer_query/index.md
  files/en-us/web/api/file/index.md
  files/en-us/web/api/hidconnectionevent/index.md
  files/en-us/web/api/hmdvrdevice/setfieldofview/index.md
  files/en-us/web/api/html_dom_api/microtask_guide/in_depth/index.md
  files/en-us/web/api/htmlmediaelement/index.md
  files/en-us/web/api/htmlscriptelement/index.md
  files/en-us/web/api/idbtransaction/abort_event/index.md
  files/en-us/web/api/imagecapture/index.md
  files/en-us/web/api/keyboardevent/charcode/index.md
  files/en-us/web/api/keyboardevent/index.md
  files/en-us/web/api/mediarecorder/index.md
  files/en-us/web/api/messageport/index.md
  files/en-us/web/api/midiport/close/index.md
  files/en-us/web/api/midiport/open/index.md
  files/en-us/web/api/navigator/requestmediakeysystemaccess/index.md
  files/en-us/web/api/node/removechild/index.md
  files/en-us/web/api/nodeiterator/filter/index.md
  files/en-us/web/api/nodeiterator/index.md
  files/en-us/web/api/nodeiterator/pointerbeforereferencenode/index.md
  files/en-us/web/api/oscillatornode/index.md
  files/en-us/web/api/performanceeventtiming/index.md
  files/en-us/web/api/picture-in-picture_api/index.md
  files/en-us/web/api/presentationrequest/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/qpsum/index.md
  files/en-us/web/api/rtcpeerconnection/getstats/index.md
  files/en-us/web/api/rtcremoteoutboundrtpstreamstats/localid/index.md
  files/en-us/web/api/rtctrackevent/index.md
  files/en-us/web/api/serviceworkerglobalscope/index.md
  files/en-us/web/api/sharedworkerglobalscope/index.md
  files/en-us/web/api/svg_api/index.md
  files/en-us/web/api/svgelement/index.md
  files/en-us/web/api/transitionevent/index.md
  files/en-us/web/api/treewalker/filter/index.md
  files/en-us/web/api/treewalker/index.md
  files/en-us/web/api/usbconnectionevent/index.md
  files/en-us/web/api/webhid_api/index.md
  files/en-us/web/api/webusb_api/index.md
  files/en-us/web/api/workerglobalscope/index.md
  files/en-us/web/api/workletglobalscope/index.md
  files/en-us/web/api/xrprojectionlayer/index.md
  files/en-us/web/css/@counter-style/additive-symbols/index.md
  files/en-us/web/css/_doublecolon_-moz-list-bullet/index.md
  files/en-us/web/css/_doublecolon_-moz-list-number/index.md
  files/en-us/web/css/css_houdini/index.md
  files/en-us/web/css/hue-interpolation-method/index.md
  files/en-us/web/css/image/paint/index.md
  files/en-us/web/css/mozilla_extensions/index.md
  files/en-us/web/svg/attribute/data-_star_/index.md
  files/en-us/web/xslt/xslt_js_interface_in_gecko/javascript_xslt_bindings/index.md
Labels: Content:CSS, Content:WebAPI, Content:Other, Content:SVG

#28388 FF117 ExprFeat: ArrayBuffer transfer proposal
  files/en-us/mozilla/firefox/experimental_features/index.md
Labels: Content:Firefox

#28389 fix: resolve broken links to DOMContentLoaded event
  files/en-us/web/api/document/domcontentloaded_event/index.md
  files/en-us/web/api/window/beforeunload_event/index.md
  files/en-us/web/api/window/load_event/index.md
  files/en-us/web/api/window/unload_event/index.md
  files/en-us/web/html/element/input/index.md
Labels: Content:HTML, Content:WebAPI

#28381 Reference for stage 3 arraybuffer-transfer
  files/en-us/web/javascript/reference/global_objects/arraybuffer/detached/index.md
  files/en-us/web/javascript/reference/global_objects/arraybuffer/index.md
  files/en-us/web/javascript/reference/global_objects/arraybuffer/transfer/index.md
  files/en-us/web/javascript/reference/global_objects/arraybuffer/transfertofixedlength/index.md
Labels: Content:JS

#28392 ✏️ credentialscontainer/create example typos
  files/en-us/web/api/credentialscontainer/create/index.md
Labels: Content:WebAPI

#28357 clarification and additional example for private_class_fields
  files/en-us/web/javascript/reference/classes/private_class_fields/index.md
Labels: Content:JS

#28386 Import declarations are hoisted
  files/en-us/glossary/hoisting/index.md
  files/en-us/web/javascript/guide/modules/index.md
  files/en-us/web/javascript/reference/statements/import/index.md
Labels: Content:JS, Content:Glossary

#28402 Change weakmap examples' order to make it easier to understand
  files/en-us/web/javascript/reference/global_objects/weakmap/index.md
Labels: Content:JS

#27974 Document HTMLAllCollection
  files/en-us/web/api/document/all/index.md
  files/en-us/web/api/htmlallcollection/index.md
  files/en-us/web/api/htmlallcollection/item/index.md
  files/en-us/web/api/htmlallcollection/length/index.md
  files/en-us/web/api/htmlallcollection/nameditem/index.md
Labels: Content:WebAPI

#28406 Synchronize with BCD v5.3.8
  files/en-us/web/css/abs/index.md
  files/en-us/web/css/sign/index.md
Labels: Content:CSS

#28403 <a> element: remove unneeded whitespace
  files/en-us/web/html/element/a/index.md
Labels: Content:HTML

#28391 📝 Pubkey credentials `authenticatorAttachment` details
  files/en-us/web/api/credentialscontainer/create/index.md
Labels: Content:WebAPI

#28408 Fix example bug
  files/en-us/web/javascript/reference/functions/default_parameters/index.md
Labels: Content:JS

#28130 Explain when/why to set lastIndex
  files/en-us/web/javascript/reference/global_objects/regexp/lastindex/index.md
Labels: Content:JS

#28410 Fixed inconsistent max size of ArrayBuffer on 32-bit systems
  files/en-us/web/javascript/reference/errors/invalid_array_length/index.md
Labels: Content:JS

#28393 Correcting Typo on 'CSS performance optimization' page
  files/en-us/learn/performance/css/index.md
Labels: Content:Learn

#28363 feat(ci): provide automated PR reviews for linting related changes
  .github/workflows/pr-check-lint_content.yml
  .github/workflows/pr-check_markdownlint.yml
Labels: system

#28420 chore(pr-check-lint): skip setting up reviewdog if not needed
  .github/workflows/pr-check-lint_content.yml
Labels: system

#28417 Fix badly named async functions and order descriptions
  files/en-us/web/javascript/reference/statements/async_function/index.md
Labels: Content:JS

#28413 Update MDN Web Docs Localization page
  files/en-us/mdn/community/contributing/translated_content/index.md
Labels: Content:Meta

#28390 Spelling/grammar/missing word fixes to Prefetch
  files/en-us/glossary/prefetch/index.md
Labels: Content:Glossary

#28419 remove duplicate content and update a broken link
  files/en-us/web/api/indexeddb_api/using_indexeddb/index.md
Labels: Content:WebAPI

#28407 Reference for stage 3 duplicate-named-capturing-groups
  files/en-us/web/javascript/reference/regular_expressions/named_capturing_group/index.md
Labels: Content:JS

#28387 Remove link pointing to Keith Peters' Twitter
  files/en-us/learn/javascript/index.md
Labels: Content:Learn:JavaScript

#28395 Add ellipse to offset-path Syntax
  files/en-us/web/css/offset-path/index.md
Labels: Content:CSS

#28427 FF117Relnote: ReadableStream.from() static method
  files/en-us/mozilla/firefox/releases/117/index.md
Labels: Content:Firefox

#28394 Remove all extra explanation of TypedArray methds and redirect to Array methods
  files/en-us/web/javascript/reference/global_objects/array/copywithin/index.md
  files/en-us/web/javascript/reference/global_objects/array/every/index.md
  files/en-us/web/javascript/reference/global_objects/array/fill/index.md
  files/en-us/web/javascript/reference/global_objects/array/filter/index.md
  files/en-us/web/javascript/reference/global_objects/array/findlast/index.md
  files/en-us/web/javascript/reference/global_objects/array/foreach/index.md
  files/en-us/web/javascript/reference/global_objects/array/indexof/index.md
  files/en-us/web/javascript/reference/global_objects/array/join/index.md
  files/en-us/web/javascript/reference/global_objects/array/lastindexof/index.md
  files/en-us/web/javascript/reference/global_objects/array/map/index.md
  files/en-us/web/javascript/reference/global_objects/array/tolocalestring/index.md
  files/en-us/web/javascript/reference/global_objects/array/toreversed/index.md
  files/en-us/web/javascript/reference/global_objects/array/tosorted/index.md
  files/en-us/web/javascript/reference/global_objects/array/with/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/at/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/copywithin/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/entries/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/every/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/fill/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/filter/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/find/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/findindex/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/findlast/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/findlastindex/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/foreach/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/from/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/includes/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/indexof/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/join/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/keys/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/lastindexof/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/map/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/of/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/reduce/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/reduceright/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/reverse/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/slice/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/some/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/sort/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/tolocalestring/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/toreversed/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/tosorted/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/tostring/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/values/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/with/index.md
Labels: Content:JS

#28314 FF117 Relnote: CanvasRenderingContext2D.getContextAttributes() supported
  files/en-us/mozilla/firefox/releases/117/index.md
Labels: Content:Firefox

#28325 relnote(117): 'strict-dynamic' CSP enforced in 'default-src' directives
  files/en-us/mozilla/firefox/releases/117/index.md
Labels: Content:Firefox, Firefox 117

#28370 relnote(117): sign() and abs() functions nightly only (Planned Fx118)
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/web/css/css_functions/index.md
Labels: Content:CSS, Content:Firefox

#28424 Reference for (new) stage 3 array-grouping
  files/en-us/_redirects.txt
  files/en-us/web/javascript/guide/indexed_collections/index.md
  files/en-us/web/javascript/reference/global_objects/array/group/index.md
  files/en-us/web/javascript/reference/global_objects/array/grouptomap/index.md
  files/en-us/web/javascript/reference/global_objects/array/index.md
  files/en-us/web/javascript/reference/global_objects/array/reduce/index.md
  files/en-us/web/javascript/reference/global_objects/array/reduceright/index.md
  files/en-us/web/javascript/reference/global_objects/map/groupby/index.md
  files/en-us/web/javascript/reference/global_objects/object/groupby/index.md
  files/en-us/web/javascript/reference/global_objects/object/index.md
  files/en-us/web/javascript/reference/iteration_protocols/index.md
Labels: Content:JS

#28426 FF117 Expr.Features - updated array grouping
  files/en-us/mozilla/firefox/experimental_features/index.md
Labels: Content:Firefox

#28432 fix: cascade_layers doc typo "name or unnamed"
  files/en-us/learn/css/building_blocks/cascade_layers/index.md
Labels: Content:Learn:CSS

#28434 Fix a few consistency issues
  files/en-us/web/javascript/reference/global_objects/arraybuffer/detached/index.md
  files/en-us/web/javascript/reference/global_objects/map/index.md
  files/en-us/web/javascript/reference/global_objects/object/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/findindex/index.md
Labels: Content:JS

#28384 FF117 Expr.Featr. CSS Custom Highlights API
  files/en-us/mozilla/firefox/experimental_features/index.md
Labels: Content:Firefox

#28405 New CSS data-type: generic family
  files/en-us/web/css/generic-family/index.md
Labels: Content:CSS

#28438 fix a broken link
  files/en-us/web/css/@namespace/index.md
Labels: Content:CSS

#28310 FF117 HTMLElement.togglePopover() returns boolean
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/web/api/htmlelement/togglepopover/index.md
Labels: Content:WebAPI, Content:Firefox

#28443 fix(ci): use git add command in the reviewdog workflow
  .github/workflows/pr-check-lint_content.yml
Labels: system

#27964 remove WebExtensions/Tips
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/add-ons/webextensions/tips/index.md
Labels: Content:WebExt

#28442 Fix typos
  files/en-us/mozilla/add-ons/webextensions/api/action/setbadgetext/index.md
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/setbadgetext/index.md
Labels: Content:WebExt

#28433 Express tute: Consistency issue in create book form
  files/en-us/learn/server-side/express_nodejs/forms/create_book_form/index.md
Labels: Content:Learn:Express

#28464 Improve wording
  files/en-us/web/javascript/inheritance_and_the_prototype_chain/index.md
Labels: Content:JS

#28452 fix: svg script example didn't work in playground
  files/en-us/web/svg/element/script/index.md
Labels: Content:SVG

#28449 fix: aspect-ratio example not loading in iframe
  files/en-us/web/css/@media/aspect-ratio/index.md
Labels: Content:CSS

#28430 Slightly rephrase Using an assignment as a condition
  files/en-us/web/javascript/reference/statements/do...while/index.md
  files/en-us/web/javascript/reference/statements/if...else/index.md
  files/en-us/web/javascript/reference/statements/while/index.md
Labels: Content:JS

#28468 Update Response.redirect with more info about status codes
  files/en-us/web/api/response/redirect_static/index.md
Labels: Content:WebAPI

#28458 Make instance methods mention its related class (3)
  files/en-us/web/javascript/reference/global_objects/object/__definegetter__/index.md
  files/en-us/web/javascript/reference/global_objects/object/__definesetter__/index.md
  files/en-us/web/javascript/reference/global_objects/object/__lookupgetter__/index.md
  files/en-us/web/javascript/reference/global_objects/object/__lookupsetter__/index.md
  files/en-us/web/javascript/reference/global_objects/object/hasownproperty/index.md
  files/en-us/web/javascript/reference/global_objects/object/isprototypeof/index.md
  files/en-us/web/javascript/reference/global_objects/object/propertyisenumerable/index.md
  files/en-us/web/javascript/reference/global_objects/object/tolocalestring/index.md
  files/en-us/web/javascript/reference/global_objects/object/tostring/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/exec/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/test/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/tostring/index.md
  files/en-us/web/javascript/reference/global_objects/set/add/index.md
  files/en-us/web/javascript/reference/global_objects/set/clear/index.md
  files/en-us/web/javascript/reference/global_objects/set/delete/index.md
  files/en-us/web/javascript/reference/global_objects/set/entries/index.md
  files/en-us/web/javascript/reference/global_objects/set/foreach/index.md
  files/en-us/web/javascript/reference/global_objects/set/has/index.md
  files/en-us/web/javascript/reference/global_objects/set/keys/index.md
  files/en-us/web/javascript/reference/global_objects/set/values/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/@@toprimitive/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/tostring/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/valueof/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/set/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/subarray/index.md
  files/en-us/web/javascript/reference/global_objects/weakmap/delete/index.md
  files/en-us/web/javascript/reference/global_objects/weakmap/get/index.md
  files/en-us/web/javascript/reference/global_objects/weakmap/has/index.md
  files/en-us/web/javascript/reference/global_objects/weakmap/set/index.md
  files/en-us/web/javascript/reference/global_objects/weakref/deref/index.md
  files/en-us/web/javascript/reference/global_objects/weakset/add/index.md
  files/en-us/web/javascript/reference/global_objects/weakset/delete/index.md
  files/en-us/web/javascript/reference/global_objects/weakset/has/index.md
Labels: Content:JS

#28457 Make instance methods mention its related class (2)
  files/en-us/web/javascript/reference/global_objects/arraybuffer/slice/index.md
  files/en-us/web/javascript/reference/global_objects/asyncgenerator/next/index.md
  files/en-us/web/javascript/reference/global_objects/bigint/tolocalestring/index.md
  files/en-us/web/javascript/reference/global_objects/bigint/tostring/index.md
  files/en-us/web/javascript/reference/global_objects/bigint/valueof/index.md
  files/en-us/web/javascript/reference/global_objects/boolean/tostring/index.md
  files/en-us/web/javascript/reference/global_objects/boolean/valueof/index.md
  files/en-us/web/javascript/reference/global_objects/date/setyear/index.md
  files/en-us/web/javascript/reference/global_objects/date/tolocaledatestring/index.md
  files/en-us/web/javascript/reference/global_objects/date/tolocalestring/index.md
  files/en-us/web/javascript/reference/global_objects/date/tolocaletimestring/index.md
  files/en-us/web/javascript/reference/global_objects/error/tostring/index.md
  files/en-us/web/javascript/reference/global_objects/finalizationregistry/register/index.md
  files/en-us/web/javascript/reference/global_objects/finalizationregistry/unregister/index.md
  files/en-us/web/javascript/reference/global_objects/function/apply/index.md
  files/en-us/web/javascript/reference/global_objects/function/bind/index.md
  files/en-us/web/javascript/reference/global_objects/function/call/index.md
  files/en-us/web/javascript/reference/global_objects/function/tostring/index.md
  files/en-us/web/javascript/reference/global_objects/generator/next/index.md
  files/en-us/web/javascript/reference/global_objects/map/clear/index.md
  files/en-us/web/javascript/reference/global_objects/map/delete/index.md
  files/en-us/web/javascript/reference/global_objects/map/entries/index.md
  files/en-us/web/javascript/reference/global_objects/map/foreach/index.md
  files/en-us/web/javascript/reference/global_objects/map/get/index.md
  files/en-us/web/javascript/reference/global_objects/map/has/index.md
  files/en-us/web/javascript/reference/global_objects/map/keys/index.md
  files/en-us/web/javascript/reference/global_objects/map/set/index.md
  files/en-us/web/javascript/reference/global_objects/map/values/index.md
  files/en-us/web/javascript/reference/global_objects/number/toexponential/index.md
  files/en-us/web/javascript/reference/global_objects/number/tofixed/index.md
  files/en-us/web/javascript/reference/global_objects/number/tolocalestring/index.md
  files/en-us/web/javascript/reference/global_objects/number/toprecision/index.md
  files/en-us/web/javascript/reference/global_objects/number/tostring/index.md
  files/en-us/web/javascript/reference/global_objects/number/valueof/index.md
Labels: Content:JS

#28463 fix: remove typo
  files/en-us/learn/css/building_blocks/values_and_units/index.md
Labels: Content:Learn:CSS

#28444 Update terminology about surrogates
  files/en-us/web/javascript/reference/global_objects/encodeuri/index.md
  files/en-us/web/javascript/reference/global_objects/encodeuricomponent/index.md
  files/en-us/web/javascript/reference/global_objects/string/codepointat/index.md
  files/en-us/web/javascript/reference/global_objects/string/index.md
  files/en-us/web/javascript/reference/global_objects/string/iswellformed/index.md
  files/en-us/web/javascript/reference/global_objects/string/towellformed/index.md
Labels: Content:JS

#28411 Improve event page documentation and examples
  files/en-us/mozilla/add-ons/webextensions/api/runtime/onmessage/index.md
  files/en-us/mozilla/add-ons/webextensions/background_scripts/index.md
Labels: Content:WebExt

#28354 New modue: CSS Scoping
  files/en-us/glossary/dom/index.md
  files/en-us/glossary/shadow_tree/index.md
  files/en-us/web/css/_colon_host-context/index.md
  files/en-us/web/css/_colon_host/index.md
  files/en-us/web/css/_doublecolon_slotted/index.md
  files/en-us/web/css/css_pseudo-elements/index.md
  files/en-us/web/css/css_scoping/index.md
  files/en-us/web/css/css_selectors/index.md
  files/en-us/web/css/css_shadow_parts/index.md
  files/en-us/web/html/element/slot/index.md
  files/en-us/web/html/element/template/index.md
  files/en-us/web/html/global_attributes/slot/index.md
Labels: Content:CSS, Content:HTML, Content:Glossary

#28445 <a> element: remove other unneeded whitespace
  files/en-us/web/accessibility/aria/attributes/aria-current/index.md
  files/en-us/web/accessibility/aria/roles/menu_role/index.md
  files/en-us/web/accessibility/aria/roles/menuitem_role/index.md
  files/en-us/web/accessibility/understanding_wcag/operable/index.md
  files/en-us/web/api/mediastream_recording_api/recording_a_media_element/index.md
  files/en-us/web/css/content/index.md
  files/en-us/web/html/element/address/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:Accessibility

#28371 chore(relnotes): Remove empty sections in relnotes Fx101
  files/en-us/mozilla/firefox/releases/101/index.md
Labels: Content:Firefox

#28478 update http cache section removing less-information line
  files/en-us/web/http/headers/cache-control/index.md
Labels: Content:HTTP

#28476 Add Clear-Site-Data clientHints documentation
  files/en-us/web/http/client_hints/index.md
  files/en-us/web/http/headers/clear-site-data/index.md
Labels: Content:HTTP

#28485 fix(CI): reorder workflow steps, pass in .nvmrc config
  .github/workflows/interfacedata-updater.yml
Labels: infra, system

#27166 Adding information about the decoding attribute
  files/en-us/web/api/htmlimageelement/decode/index.md
  files/en-us/web/api/htmlimageelement/decoding/index.md
  files/en-us/web/api/svgimageelement/decode/index.md
  files/en-us/web/api/svgimageelement/decoding/index.md
  files/en-us/web/api/svgimageelement/index.md
  files/en-us/web/html/element/img/index.md
  files/en-us/web/svg/attribute/decoding/index.md
  files/en-us/web/svg/element/image/index.md
Labels: Content:HTML, Content:WebAPI, Content:SVG

#28146 Make dirname apply to hidden/tel/url/email inputs.
  files/en-us/web/html/element/input/index.md
Labels: Content:HTML, waiting for implementations

#28489 Remove outdated Firefox bug regarding simple CORS headers
  files/en-us/web/http/cors/index.md
Labels: Content:HTTP

#27282 devtools as optional permission
  files/en-us/mozilla/add-ons/webextensions/api/devtools/index.md
  files/en-us/mozilla/add-ons/webextensions/extending_the_developer_tools/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/devtools_page/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/optional_permissions/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/permissions/index.md
  files/en-us/mozilla/firefox/releases/77/index.md
Labels: Content:WebExt, Content:Firefox

#28379 New module: css font loading
  files/en-us/web/css/css_font_loading/index.md
Labels: Content:CSS

#28496 Fix typo in webkit_extensions
  files/en-us/web/css/webkit_extensions/index.md
Labels: Content:CSS

#28493 Doc(shadow dom): type fix
  files/en-us/web/api/web_components/using_shadow_dom/index.md
Labels: Content:WebAPI

#28505 Added read-only label to NodeList.length
  files/en-us/web/api/nodelist/index.md
Labels: Content:WebAPI

#28503 Flex see also section
  files/en-us/web/css/flex-direction/index.md
  files/en-us/web/css/flex-wrap/index.md
Labels: Content:CSS

#28447 relnote(117): math-style, math-depth and 'font-size: math' support
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/117/index.md
  files/en-us/web/css/font-size/index.md
Labels: Content:CSS, Content:Firefox

#28513 TransformStream definition in API docs
  files/en-us/web/api/streams_api/index.md
Labels: Content:WebAPI

#28502 Make most code blocks parseable (2)
  files/en-us/web/javascript/reference/functions/arrow_functions/index.md
  files/en-us/web/javascript/reference/functions/index.md
  files/en-us/web/javascript/reference/functions/method_definitions/index.md
  files/en-us/web/javascript/reference/functions/rest_parameters/index.md
  files/en-us/web/javascript/reference/global_objects/array/index.md
  files/en-us/web/javascript/reference/global_objects/array/sort/index.md
  files/en-us/web/javascript/reference/global_objects/eval/index.md
  files/en-us/web/javascript/reference/global_objects/object/entries/index.md
  files/en-us/web/javascript/reference/global_objects/promise/resolve/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/proxy/getprototypeof/index.md
  files/en-us/web/javascript/reference/global_objects/reflect/set/index.md
  files/en-us/web/javascript/reference/iteration_protocols/index.md
  files/en-us/web/javascript/reference/lexical_grammar/index.md
  files/en-us/web/javascript/reference/operators/decrement/index.md
  files/en-us/web/javascript/reference/operators/delete/index.md
  files/en-us/web/javascript/reference/operators/destructuring_assignment/index.md
  files/en-us/web/javascript/reference/operators/grouping/index.md
  files/en-us/web/javascript/reference/operators/in/index.md
  files/en-us/web/javascript/reference/operators/increment/index.md
  files/en-us/web/javascript/reference/operators/nullish_coalescing/index.md
  files/en-us/web/javascript/reference/operators/operator_precedence/index.md
  files/en-us/web/javascript/reference/operators/optional_chaining/index.md
  files/en-us/web/javascript/reference/operators/property_accessors/index.md
  files/en-us/web/javascript/reference/operators/super/index.md
  files/en-us/web/javascript/reference/operators/this/index.md
  files/en-us/web/javascript/reference/operators/void/index.md
  files/en-us/web/javascript/reference/regular_expressions/backreference/index.md
  files/en-us/web/javascript/reference/regular_expressions/character_class/index.md
  files/en-us/web/javascript/reference/regular_expressions/named_capturing_group/index.md
  files/en-us/web/javascript/reference/regular_expressions/quantifier/index.md
  files/en-us/web/javascript/reference/regular_expressions/unicode_character_class_escape/index.md
  files/en-us/web/javascript/reference/statements/break/index.md
  files/en-us/web/javascript/reference/statements/const/index.md
  files/en-us/web/javascript/reference/statements/continue/index.md
  files/en-us/web/javascript/reference/statements/export/index.md
  files/en-us/web/javascript/reference/statements/expression_statement/index.md
  files/en-us/web/javascript/reference/statements/for...of/index.md
  files/en-us/web/javascript/reference/statements/function/index.md
  files/en-us/web/javascript/reference/statements/index.md
  files/en-us/web/javascript/reference/statements/label/index.md
  files/en-us/web/javascript/reference/statements/let/index.md
  files/en-us/web/javascript/reference/statements/return/index.md
  files/en-us/web/javascript/reference/statements/switch/index.md
  files/en-us/web/javascript/reference/statements/throw/index.md
  files/en-us/web/javascript/reference/statements/try...catch/index.md
  files/en-us/web/javascript/reference/statements/var/index.md
  files/en-us/web/javascript/reference/strict_mode/index.md
  files/en-us/web/javascript/reference/template_literals/index.md
  files/en-us/web/javascript/reference/trailing_commas/index.md
Labels: Content:JS

#28491 Improve grammar and clarity for View Transitions API
  files/en-us/web/api/view_transitions_api/index.md
Labels: Content:WebAPI

#28521 fix code block: bad-example -> example-bad
  files/en-us/mozilla/add-ons/webextensions/background_scripts/index.md
Labels: Content:WebExt

#28495 fix(html): Specify the default layout for heading elements
  files/en-us/web/html/element/heading_elements/index.md
Labels: Content:HTML

#28524 More formally define shallow/deep copy
  files/en-us/glossary/deep_copy/index.md
  files/en-us/glossary/shallow_copy/index.md
Labels: Content:Glossary

#28525 Align the structure of all supportedLocalesOf pages
  files/en-us/web/javascript/reference/global_objects/intl/collator/supportedlocalesof/index.md
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/supportedlocalesof/index.md
  files/en-us/web/javascript/reference/global_objects/intl/displaynames/supportedlocalesof/index.md
  files/en-us/web/javascript/reference/global_objects/intl/durationformat/supportedlocalesof/index.md
  files/en-us/web/javascript/reference/global_objects/intl/listformat/supportedlocalesof/index.md
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/supportedlocalesof/index.md
  files/en-us/web/javascript/reference/global_objects/intl/pluralrules/supportedlocalesof/index.md
  files/en-us/web/javascript/reference/global_objects/intl/relativetimeformat/supportedlocalesof/index.md
  files/en-us/web/javascript/reference/global_objects/intl/segmenter/supportedlocalesof/index.md
Labels: Content:JS

#28501 Make most code blocks parseable
  files/en-us/web/javascript/guide/control_flow_and_error_handling/index.md
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
  files/en-us/web/javascript/guide/functions/index.md
  files/en-us/web/javascript/guide/grammar_and_types/index.md
  files/en-us/web/javascript/guide/indexed_collections/index.md
  files/en-us/web/javascript/guide/loops_and_iteration/index.md
  files/en-us/web/javascript/guide/numbers_and_dates/index.md
  files/en-us/web/javascript/guide/using_classes/index.md
  files/en-us/web/javascript/language_overview/index.md
  files/en-us/web/javascript/reference/classes/constructor/index.md
  files/en-us/web/javascript/reference/classes/private_class_fields/index.md
  files/en-us/web/javascript/reference/deprecated_and_obsolete_features/index.md
  files/en-us/web/javascript/reference/errors/bad_await/index.md
  files/en-us/web/javascript/reference/errors/bad_break/index.md
  files/en-us/web/javascript/reference/errors/bad_continue/index.md
  files/en-us/web/javascript/reference/errors/bad_return/index.md
  files/en-us/web/javascript/reference/errors/cant_use_nullish_coalescing_unparenthesized/index.md
  files/en-us/web/javascript/reference/errors/delete_in_strict_mode/index.md
  files/en-us/web/javascript/reference/errors/deprecated_octal/index.md
  files/en-us/web/javascript/reference/errors/either_be_both_static_or_non-static/index.md
  files/en-us/web/javascript/reference/errors/hash_outside_class/index.md
  files/en-us/web/javascript/reference/errors/identifier_after_number/index.md
  files/en-us/web/javascript/reference/errors/illegal_character/index.md
  files/en-us/web/javascript/reference/errors/invalid_assignment_left-hand_side/index.md
  files/en-us/web/javascript/reference/errors/invalid_for-in_initializer/index.md
  files/en-us/web/javascript/reference/errors/invalid_for-of_initializer/index.md
  files/en-us/web/javascript/reference/errors/label_not_found/index.md
  files/en-us/web/javascript/reference/errors/missing_bracket_after_list/index.md
  files/en-us/web/javascript/reference/errors/missing_colon_after_property_id/index.md
  files/en-us/web/javascript/reference/errors/missing_curly_after_function_body/index.md
  files/en-us/web/javascript/reference/errors/missing_curly_after_property_list/index.md
  files/en-us/web/javascript/reference/errors/missing_formal_parameter/index.md
  files/en-us/web/javascript/reference/errors/missing_initializer_in_const/index.md
  files/en-us/web/javascript/reference/errors/missing_name_after_dot_operator/index.md
  files/en-us/web/javascript/reference/errors/missing_parenthesis_after_argument_list/index.md
  files/en-us/web/javascript/reference/errors/missing_parenthesis_after_condition/index.md
  files/en-us/web/javascript/reference/errors/missing_semicolon_before_statement/index.md
  files/en-us/web/javascript/reference/errors/no_variable_name/index.md
  files/en-us/web/javascript/reference/errors/redeclared_parameter/index.md
  files/en-us/web/javascript/reference/errors/reserved_identifier/index.md
  files/en-us/web/javascript/reference/errors/strict_non_simple_params/index.md
  files/en-us/web/javascript/reference/errors/unexpected_token/index.md
  files/en-us/web/javascript/reference/errors/unexpected_type/index.md
  files/en-us/web/javascript/reference/errors/unnamed_function_statement/index.md
  files/en-us/web/javascript/reference/errors/unparenthesized_unary_expr_lhs_exponentiation/index.md
  files/en-us/web/javascript/reference/errors/unterminated_string_literal/index.md
  files/en-us/web/javascript/reference/template_literals/index.md
Labels: Content:JS

#28529 removed Infinity from invalid value for subtraction comparison functi…
  files/en-us/web/javascript/reference/global_objects/array/sort/index.md
Labels: Content:JS

#28530 Fix grammatical error in sentence about static fields and methods
  files/en-us/web/javascript/reference/classes/index.md
Labels: Content:JS

#28527 Update index.md
  files/en-us/web/api/canvas_api/tutorial/transformations/index.md
Labels: Content:WebAPI

#28512 fix: revise code example
  files/en-us/web/html/element/em/index.md
Labels: Content:HTML

#28534 Add null check before adding to WeakSet
  files/en-us/web/javascript/reference/global_objects/weakset/index.md
Labels: Content:JS

#28539 Corrected a mistake on the dialog element reference
  files/en-us/web/api/htmldialogelement/returnvalue/index.md
Labels: Content:WebAPI

#28537 Make typed array class pages more consistent
  files/en-us/web/javascript/reference/global_objects/bigint64array/bigint64array/index.md
  files/en-us/web/javascript/reference/global_objects/bigint64array/index.md
  files/en-us/web/javascript/reference/global_objects/biguint64array/biguint64array/index.md
  files/en-us/web/javascript/reference/global_objects/biguint64array/index.md
  files/en-us/web/javascript/reference/global_objects/float32array/float32array/index.md
  files/en-us/web/javascript/reference/global_objects/float32array/index.md
  files/en-us/web/javascript/reference/global_objects/float64array/float64array/index.md
  files/en-us/web/javascript/reference/global_objects/float64array/index.md
  files/en-us/web/javascript/reference/global_objects/int16array/index.md
  files/en-us/web/javascript/reference/global_objects/int16array/int16array/index.md
  files/en-us/web/javascript/reference/global_objects/int32array/index.md
  files/en-us/web/javascript/reference/global_objects/int32array/int32array/index.md
  files/en-us/web/javascript/reference/global_objects/int8array/index.md
  files/en-us/web/javascript/reference/global_objects/int8array/int8array/index.md
  files/en-us/web/javascript/reference/global_objects/uint16array/index.md
  files/en-us/web/javascript/reference/global_objects/uint16array/uint16array/index.md
  files/en-us/web/javascript/reference/global_objects/uint32array/index.md
  files/en-us/web/javascript/reference/global_objects/uint32array/uint32array/index.md
  files/en-us/web/javascript/reference/global_objects/uint8array/index.md
  files/en-us/web/javascript/reference/global_objects/uint8array/uint8array/index.md
  files/en-us/web/javascript/reference/global_objects/uint8clampedarray/index.md
  files/en-us/web/javascript/reference/global_objects/uint8clampedarray/uint8clampedarray/index.md
Labels: Content:JS

#28532 add NGINX and remove duplicated label
  files/en-us/mdn/writing_guidelines/howto/markdown_in_mdn/index.md
Labels: Content:Meta

#28533 broken link
  files/en-us/web/css/css_selectors/index.md
Labels: Content:CSS

#28552 Remove duplicate list in glossary article
  files/en-us/glossary/semantics/index.md
Labels: Content:Glossary

#28498 fix(SVG): Minor rewrite of example to avoid line wrapping
  files/en-us/web/svg/attribute/stroke-dasharray/index.md
Labels: Content:SVG

#28462 Fix column-gap description.
  files/en-us/web/css/css_flexible_box_layout/aligning_items_in_a_flex_container/index.md
Labels: Content:CSS

#28562 Updated `<line-style>` reference to link to `<line-style>` article
  files/en-us/web/css/border/index.md
Labels: Content:CSS

#28522 relnote(117): 'auto none' allowed for 'contain-intrinsic-size' CSS prop
  files/en-us/mozilla/firefox/releases/117/index.md
Labels: Content:Firefox

#28543 fix: improve the structure of statement
  files/en-us/web/http/basics_of_http/choosing_between_www_and_non-www_urls/index.md
Labels: Content:HTTP

#28563 Fix typo in String.toLocaleUpperCase
  files/en-us/web/javascript/reference/global_objects/string/tolocaleuppercase/index.md
Labels: Content:JS

#28564 fix: typo in string.trimStart()
  files/en-us/web/javascript/reference/global_objects/string/trimstart/index.md
Labels: Content:JS

#28540 Replace missing images
  files/en-us/web/svg/tutorial/paths/cubic_bézier_curves_with_grid.png
  files/en-us/web/svg/tutorial/paths/quadratic_bézier_with_grid.png
  files/en-us/web/svg/tutorial/paths/shortcut_cubic_bézier_with_grid.png
  files/en-us/web/svg/tutorial/paths/shortcut_quadratic_bézier_with_grid.png
Labels: Content:SVG

#28568 Fix grammatical error
  files/en-us/learn/javascript/first_steps/what_is_javascript/index.md
Labels: Content:Learn:JavaScript

#28548 Improve consistency of operator see also
  files/en-us/web/javascript/reference/errors/invalid_right_hand_side_instanceof_operand/index.md
  files/en-us/web/javascript/reference/errors/unparenthesized_unary_expr_lhs_exponentiation/index.md
  files/en-us/web/javascript/reference/global_objects/math/pow/index.md
  files/en-us/web/javascript/reference/global_objects/string/concat/index.md
  files/en-us/web/javascript/reference/operators/addition/index.md
  files/en-us/web/javascript/reference/operators/addition_assignment/index.md
  files/en-us/web/javascript/reference/operators/bitwise_and/index.md
  files/en-us/web/javascript/reference/operators/bitwise_and_assignment/index.md
  files/en-us/web/javascript/reference/operators/bitwise_not/index.md
  files/en-us/web/javascript/reference/operators/bitwise_or/index.md
  files/en-us/web/javascript/reference/operators/bitwise_or_assignment/index.md
  files/en-us/web/javascript/reference/operators/bitwise_xor/index.md
  files/en-us/web/javascript/reference/operators/bitwise_xor_assignment/index.md
  files/en-us/web/javascript/reference/operators/conditional_operator/index.md
  files/en-us/web/javascript/reference/operators/decrement/index.md
  files/en-us/web/javascript/reference/operators/division/index.md
  files/en-us/web/javascript/reference/operators/division_assignment/index.md
  files/en-us/web/javascript/reference/operators/equality/index.md
  files/en-us/web/javascript/reference/operators/exponentiation/index.md
  files/en-us/web/javascript/reference/operators/exponentiation_assignment/index.md
  files/en-us/web/javascript/reference/operators/greater_than/index.md
  files/en-us/web/javascript/reference/operators/greater_than_or_equal/index.md
  files/en-us/web/javascript/reference/operators/increment/index.md
  files/en-us/web/javascript/reference/operators/inequality/index.md
  files/en-us/web/javascript/reference/operators/left_shift/index.md
  files/en-us/web/javascript/reference/operators/left_shift_assignment/index.md
  files/en-us/web/javascript/reference/operators/less_than/index.md
  files/en-us/web/javascript/reference/operators/less_than_or_equal/index.md
  files/en-us/web/javascript/reference/operators/logical_and_assignment/index.md
  files/en-us/web/javascript/reference/operators/logical_or/index.md
  files/en-us/web/javascript/reference/operators/logical_or_assignment/index.md
  files/en-us/web/javascript/reference/operators/multiplication/index.md
  files/en-us/web/javascript/reference/operators/multiplication_assignment/index.md
  files/en-us/web/javascript/reference/operators/nullish_coalescing/index.md
  files/en-us/web/javascript/reference/operators/nullish_coalescing_assignment/index.md
  files/en-us/web/javascript/reference/operators/optional_chaining/index.md
  files/en-us/web/javascript/reference/operators/remainder/index.md
  files/en-us/web/javascript/reference/operators/remainder_assignment/index.md
  files/en-us/web/javascript/reference/operators/right_shift/index.md
  files/en-us/web/javascript/reference/operators/right_shift_assignment/index.md
  files/en-us/web/javascript/reference/operators/strict_equality/index.md
  files/en-us/web/javascript/reference/operators/strict_inequality/index.md
  files/en-us/web/javascript/reference/operators/subtraction/index.md
  files/en-us/web/javascript/reference/operators/subtraction_assignment/index.md
  files/en-us/web/javascript/reference/operators/unary_negation/index.md
  files/en-us/web/javascript/reference/operators/unary_plus/index.md
  files/en-us/web/javascript/reference/operators/unsigned_right_shift_assignment/index.md
  files/en-us/web/javascript/reference/statements/if...else/index.md
Labels: Content:JS

#28571 Replace single quotes in string literals with double quotes
  files/en-us/web/javascript/reference/global_objects/string/substring/index.md
Labels: Content:JS

#28566 Update the `body` element content category
  files/en-us/web/html/element/body/index.md
Labels: Content:HTML

#28546 CSS masonry - use experimental/BCD to indicate support
  files/en-us/web/css/css_grid_layout/masonry_layout/index.md
Labels: Content:CSS

#28435 fix: bad internal id link in cascade_layers doc
  files/en-us/learn/css/building_blocks/cascade_layers/index.md
Labels: Content:Learn:CSS

#28461 New CSS data types: <absolute-size> and <relative-size>
  files/en-us/web/css/absolute-size/index.md
  files/en-us/web/css/overflow_value/index.md
  files/en-us/web/css/relative-size/index.md
Labels: Content:CSS

#28506 column gap (versus row gap)
  files/en-us/web/css/column-gap/index.md
  files/en-us/web/css/row-gap/index.md
Labels: Content:CSS

#28453 Remove comment wrap from quotes css example
  files/en-us/web/css/quotes/index.md
Labels: Content:CSS

#28567 Update `XMLHttpRequest` API description
  files/en-us/web/api/xmlhttprequest/open/index.md
Labels: Content:WebAPI

#28573 code style guide
  files/en-us/mdn/writing_guidelines/writing_style_guide/code_style_guide/index.md
Labels: Content:Meta

#28572 Exceptions and intro paragraph consistency fixes
  files/en-us/web/javascript/reference/functions/arguments/callee/index.md
  files/en-us/web/javascript/reference/global_objects/arraybuffer/arraybuffer/index.md
  files/en-us/web/javascript/reference/global_objects/bigint/bigint/index.md
  files/en-us/web/javascript/reference/global_objects/dataview/dataview/index.md
  files/en-us/web/javascript/reference/global_objects/finalizationregistry/register/index.md
  files/en-us/web/javascript/reference/global_objects/internalerror/index.md
  files/en-us/web/javascript/reference/global_objects/intl/listformat/format/index.md
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/numberformat/index.md
  files/en-us/web/javascript/reference/global_objects/json/stringify/index.md
  files/en-us/web/javascript/reference/global_objects/object/setprototypeof/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/regexp/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/set/index.md
Labels: Content:JS

#28576 Added syntax example to font page
  files/en-us/web/css/font/index.md
Labels: Content:CSS

#28515 Rewrite sentence for clarity
  files/en-us/web/accessibility/aria/index.md
Labels: Content:Accessibility

#28565 docs(css): Fx117 - new pages for basic shape functions rect() and xywh()
  files/en-us/web/css/basic-shape/index.md
  files/en-us/web/css/basic-shape/inset/index.md
  files/en-us/web/css/basic-shape/rect/index.md
  files/en-us/web/css/basic-shape/xywh/index.md
Labels: Content:CSS
