Repository mdn/content, pull requests merged in 2023-03, with the labels that each got.

#24974 Minor clarification regarding a radix value of 0
  files/en-us/web/javascript/reference/global_objects/parseint/index.md
Labels: Content:JS

#24973 Remove HTMLAttrDef macro
  files/en-us/learn/forms/basic_native_form_controls/index.md
  files/en-us/web/accessibility/aria/attributes/aria-multiselectable/index.md
  files/en-us/web/accessibility/aria/roles/menuitemcheckbox_role/index.md
  files/en-us/web/accessibility/aria/roles/menuitemradio_role/index.md
  files/en-us/web/html/attributes/index.md
  files/en-us/web/html/attributes/rel/index.md
  files/en-us/web/html/element/frame/index.md
  files/en-us/web/html/element/frameset/index.md
  files/en-us/web/html/element/head/index.md
  files/en-us/web/html/element/hr/index.md
  files/en-us/web/html/element/html/index.md
  files/en-us/web/html/element/input/checkbox/index.md
  files/en-us/web/html/element/input/image/index.md
  files/en-us/web/html/element/input/radio/index.md
  files/en-us/web/html/element/ins/index.md
  files/en-us/web/html/element/keygen/index.md
  files/en-us/web/html/element/label/index.md
  files/en-us/web/html/element/li/index.md
  files/en-us/web/html/element/link/index.md
Labels: Content:HTML, Content:Learn, Content:Accessibility

#24976 Use italics instead of capitalization for emphasis
  files/en-us/web/javascript/reference/global_objects/parseint/index.md
Labels: Content:JS

#24977 Fix link to aria-selected
  files/en-us/web/accessibility/aria/attributes/aria-multiselectable/index.md
Labels: Content:Accessibility

#24769 Update invalid examples in @charset index.md
  files/en-us/web/css/@charset/index.md
Labels: Content:CSS

#24978 Move the constant section of <SVGFEGaussianBlurElement> inside property's description
  files/en-us/web/api/svgfegaussianblurelement/index.md
Labels: Content:WebAPI

#24979 Correct English (minor errors)
  files/en-us/web/http/basics_of_http/mime_types/common_types/index.md
Labels: Content:HTTP

#23991 Add ZeroMQ
  files/en-us/web/api/websockets_api/index.md
Labels: Content:WebAPI

#24627 Add docs for the View Transitions Module Level 1
  files/en-us/web/api/document/index.md
  files/en-us/web/api/document/startviewtransition/index.md
  files/en-us/web/api/view_transitions_api/index.md
  files/en-us/web/api/viewtransition/finished/index.md
  files/en-us/web/api/viewtransition/index.md
  files/en-us/web/api/viewtransition/ready/index.md
  files/en-us/web/api/viewtransition/skiptransition/index.md
  files/en-us/web/api/viewtransition/updatecallbackdone/index.md
  files/en-us/web/css/_doublecolon_view-transition-group/index.md
  files/en-us/web/css/_doublecolon_view-transition-image-pair/index.md
  files/en-us/web/css/_doublecolon_view-transition-new/index.md
  files/en-us/web/css/_doublecolon_view-transition-old/index.md
  files/en-us/web/css/_doublecolon_view-transition/index.md
  files/en-us/web/css/custom-ident/index.md
  files/en-us/web/css/view-transition-name/index.md
  files/jsondata/GroupData.json
Labels: Content:CSS, Content:WebAPI

#24980 Fix formatting on 'ARIA: menu role' page
  files/en-us/web/accessibility/aria/roles/menu_role/index.md
Labels: Content:Accessibility

#24407 Add docs for resizable ArrayBuffer and growable SAB
  files/en-us/web/javascript/reference/global_objects/arraybuffer/arraybuffer/index.md
  files/en-us/web/javascript/reference/global_objects/arraybuffer/index.md
  files/en-us/web/javascript/reference/global_objects/arraybuffer/maxbytelength/index.md
  files/en-us/web/javascript/reference/global_objects/arraybuffer/resizable/index.md
  files/en-us/web/javascript/reference/global_objects/arraybuffer/resize/index.md
  files/en-us/web/javascript/reference/global_objects/sharedarraybuffer/grow/index.md
  files/en-us/web/javascript/reference/global_objects/sharedarraybuffer/growable/index.md
  files/en-us/web/javascript/reference/global_objects/sharedarraybuffer/index.md
  files/en-us/web/javascript/reference/global_objects/sharedarraybuffer/maxbytelength/index.md
  files/en-us/web/javascript/reference/global_objects/sharedarraybuffer/sharedarraybuffer/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/index.md
Labels: Content:JS

#23882 Add page for `import.meta.resolve`
  files/en-us/web/javascript/reference/operators/import.meta/index.md
  files/en-us/web/javascript/reference/operators/import.meta/resolve/index.md
Labels: Content:JS

#24911 Values missing in syntax box
  files/en-us/web/css/align-items/index.md
Labels: Content:CSS

#24994 Fixed typo
  files/en-us/web/accessibility/aria/roles/index.md
Labels: Content:Accessibility

#24995 Update Voice-change-o-matic source link for AnalyserNode example
  files/en-us/web/api/analysernode/index.md
Labels: Content:WebAPI

#24991 Remove HTMLAttrDef macro
  files/en-us/learn/forms/other_form_controls/index.md
  files/en-us/mozilla/firefox/releases/96/index.md
  files/en-us/web/accessibility/aria/attributes/aria-rowindex/index.md
  files/en-us/web/accessibility/aria/attributes/aria-rowspan/index.md
  files/en-us/web/api/domstringmap/index.md
  files/en-us/web/api/htmlmetaelement/charset/index.md
  files/en-us/web/api/htmlmetaelement/content/index.md
  files/en-us/web/api/htmlmetaelement/httpequiv/index.md
  files/en-us/web/api/navigator/getautoplaypolicy/index.md
  files/en-us/web/api/performanceelementtiming/index.md
  files/en-us/web/api/taskattributiontiming/containername/index.md
  files/en-us/web/html/attributes/index.md
  files/en-us/web/html/element/map/index.md
  files/en-us/web/html/element/marquee/index.md
  files/en-us/web/html/element/menuitem/index.md
  files/en-us/web/html/element/meta/index.md
  files/en-us/web/html/element/meter/index.md
  files/en-us/web/html/element/object/index.md
  files/en-us/web/html/element/ol/index.md
  files/en-us/web/html/element/optgroup/index.md
  files/en-us/web/html/element/option/index.md
  files/en-us/web/html/element/output/index.md
  files/en-us/web/html/element/table/index.md
  files/en-us/web/html/element/tbody/index.md
  files/en-us/web/html/element/td/index.md
  files/en-us/web/html/element/textarea/index.md
  files/en-us/web/html/element/tfoot/index.md
  files/en-us/web/html/element/th/index.md
  files/en-us/web/html/element/thead/index.md
  files/en-us/web/html/element/time/index.md
  files/en-us/web/html/element/tr/index.md
  files/en-us/web/html/element/track/index.md
  files/en-us/web/html/element/video/index.md
  files/en-us/web/html/global_attributes/index.md
  files/en-us/web/html/global_attributes/lang/index.md
  files/en-us/web/http/client_hints/index.md
  files/en-us/web/http/headers/index.md
  files/en-us/web/http/headers/referrer-policy/index.md
  files/en-us/web/media/autoplay_guide/index.md
  files/en-us/web/security/referer_header_colon__privacy_and_security_concerns/index.md
Labels: Content:HTML, Content:WebAPI, Content:Learn, Content:Other, Content:HTTP, Content:Accessibility, Content:Media

#24988 fix: event name for AbortSignal
  files/en-us/web/api/request/signal/index.md
Labels: Content:WebAPI

#24996 Update index.md (Added viewport meta element)
  files/en-us/learn/css/first_steps/how_css_is_structured/index.md
Labels: Content:Learn

#24997 Add missing comma
  files/en-us/web/api/screen_capture_api/using_screen_capture/index.md
Labels: Content:WebAPI

#24998 Fix broken link
  files/en-us/web/api/screen_capture_api/using_screen_capture/index.md
Labels: Content:WebAPI

#25001 `FileSystemDirectoryHandle.getDirectoryHandle()` is a way to obtain a `FileSystemDirectoryHandle`
  files/en-us/web/api/filesystemdirectoryhandle/index.md
Labels: Content:WebAPI

#25002 Fix typo
  files/en-us/web/api/screen_capture_api/using_screen_capture/index.md
Labels: Content:WebAPI

#25009 script element article: remove stale link
  files/en-us/web/html/element/script/index.md
Labels: Content:HTML

#25003 update description to match the file type in description
  files/en-us/web/api/backgroundfetchmanager/index.md
Labels: Content:WebAPI

#25004 Remove useless parameter of EmbedLiveSample
  files/en-us/web/api/dommatrixreadonly/translate/index.md
Labels: Content:WebAPI

#25008 Remove paragraph about calling {{Specifications}} with a parameter
  files/en-us/mdn/writing_guidelines/page_structures/specification_tables/index.md
Labels: Content:Other

#25010 Clarify buffer requirements for `FileSystemSyncAccessHandle.{read, write}`
  files/en-us/web/api/filesystemsyncaccesshandle/read/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/write/index.md
Labels: Content:WebAPI

#25006 Number conversion to TypedArray: Fix, format examples
  files/en-us/web/javascript/reference/global_objects/number/index.md
Labels: Content:JS

#25013 X-Frame-Options: ALLOW-FROM does not use equal sign
  files/en-us/web/http/headers/x-frame-options/index.md
Labels: Content:HTTP

#23832 Add landing page for the Launch Handler API
  files/en-us/web/api/launch_handler_api/index.md
  files/en-us/web/api/launchparams/files/index.md
  files/en-us/web/api/launchparams/index.md
  files/en-us/web/api/launchparams/targeturl/index.md
  files/en-us/web/api/launchqueue/index.md
  files/en-us/web/api/launchqueue/setconsumer/index.md
  files/en-us/web/api/window/launchqueue/index.md
  files/en-us/web/manifest/launch_handler/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, Content:Other

#25014 Wording change
  files/en-us/web/accessibility/aria/attributes/aria-errormessage/index.md
Labels: Content:Accessibility

#25016 chore(macros): convert bug() to regular bugzilla links
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/15/index.md
  files/en-us/mozilla/firefox/releases/18/index.md
  files/en-us/mozilla/firefox/releases/20/index.md
  files/en-us/mozilla/firefox/releases/22/index.md
  files/en-us/mozilla/firefox/releases/35/index.md
  files/en-us/mozilla/firefox/releases/36/index.md
  files/en-us/mozilla/firefox/releases/68/index.md
  files/en-us/web/api/htmlmediaelement/capturestream/index.md
Labels: Content:WebAPI, Content:Other

#24499 Clarified use with null or undefined strings
  files/en-us/web/javascript/reference/global_objects/regexp/exec/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/test/index.md
Labels: Content:JS

#25023 Remove HTMLAttrDef macro
  files/en-us/mdn/writing_guidelines/writing_style_guide/code_style_guide/html/index.md
  files/en-us/web/accessibility/aria/attributes/aria-details/index.md
  files/en-us/web/accessibility/aria/attributes/aria-flowto/index.md
  files/en-us/web/accessibility/aria/roles/menubar_role/index.md
  files/en-us/web/html/element/param/index.md
  files/en-us/web/html/element/picture/index.md
  files/en-us/web/html/element/portal/index.md
  files/en-us/web/html/element/pre/index.md
  files/en-us/web/html/element/progress/index.md
  files/en-us/web/html/element/q/index.md
  files/en-us/web/html/element/script/index.md
  files/en-us/web/html/element/select/index.md
  files/en-us/web/html/element/slot/index.md
  files/en-us/web/html/element/source/index.md
  files/en-us/web/html/element/spacer/index.md
  files/en-us/web/html/element/style/index.md
  files/en-us/web/html/element/tbody/index.md
  files/en-us/web/html/element/textarea/index.md
  files/en-us/web/html/element/ul/index.md
  files/en-us/web/svg/attribute/xlink_colon_show/index.md
Labels: Content:HTML, Content:Other, Content:Accessibility, Content:SVG

#25027 Remove tags in manifest, webdriver, webcomponents
  files/en-us/web/manifest/background_color/index.md
  files/en-us/web/manifest/categories/index.md
  files/en-us/web/manifest/description/index.md
  files/en-us/web/manifest/display/index.md
  files/en-us/web/manifest/display_override/index.md
  files/en-us/web/manifest/icons/index.md
  files/en-us/web/manifest/id/index.md
  files/en-us/web/manifest/index.md
  files/en-us/web/manifest/launch_handler/index.md
  files/en-us/web/manifest/name/index.md
  files/en-us/web/manifest/orientation/index.md
  files/en-us/web/manifest/prefer_related_applications/index.md
  files/en-us/web/manifest/protocol_handlers/index.md
  files/en-us/web/manifest/related_applications/index.md
  files/en-us/web/manifest/scope/index.md
  files/en-us/web/manifest/screenshots/index.md
  files/en-us/web/manifest/serviceworker/index.md
  files/en-us/web/manifest/share_target/index.md
  files/en-us/web/manifest/short_name/index.md
  files/en-us/web/manifest/shortcuts/index.md
  files/en-us/web/manifest/start_url/index.md
  files/en-us/web/manifest/theme_color/index.md
  files/en-us/web/web_components/index.md
  files/en-us/web/web_components/using_custom_elements/index.md
  files/en-us/web/web_components/using_shadow_dom/index.md
  files/en-us/web/web_components/using_templates_and_slots/index.md
  files/en-us/web/webdriver/capabilities/acceptinsecurecerts/index.md
  files/en-us/web/webdriver/capabilities/firefoxoptions/index.md
  files/en-us/web/webdriver/capabilities/index.md
  files/en-us/web/webdriver/capabilities/websocketurl/index.md
  files/en-us/web/webdriver/errors/index.md
  files/en-us/web/webdriver/errors/insecurecertificate/index.md
  files/en-us/web/webdriver/errors/invalidargument/index.md
  files/en-us/web/webdriver/errors/invalidcookiedomain/index.md
  files/en-us/web/webdriver/errors/invalidselector/index.md
  files/en-us/web/webdriver/errors/invalidsessionid/index.md
  files/en-us/web/webdriver/errors/javascripterror/index.md
  files/en-us/web/webdriver/errors/scripttimeout/index.md
  files/en-us/web/webdriver/errors/staleelementreference/index.md
  files/en-us/web/webdriver/errors/unknowncommand/index.md
  files/en-us/web/webdriver/errors/unknownerror/index.md
  files/en-us/web/webdriver/errors/unknownmethod/index.md
  files/en-us/web/webdriver/index.md
  files/en-us/web/webdriver/timeouts/index.md
Labels: Content:Other, Content:WebDriver

#25022 Remove tags from a few odds and ends topics
  files/en-us/web/css/_doublecolon_view-transition-group/index.md
  files/en-us/web/css/_doublecolon_view-transition-image-pair/index.md
  files/en-us/web/css/_doublecolon_view-transition-new/index.md
  files/en-us/web/css/_doublecolon_view-transition-old/index.md
  files/en-us/web/css/_doublecolon_view-transition/index.md
  files/en-us/web/css/view-transition-name/index.md
  files/en-us/web/opensearch/index.md
  files/en-us/web/text_fragments/index.md
  files/en-us/web/tutorials/index.md
Labels: Content:CSS, Content:Learn, Content:Other

#25029 Adding missing section titles for `initial-letter` and `initial-letter-align`
  files/en-us/web/css/initial-letter-align/index.md
  files/en-us/web/css/initial-letter/index.md
Labels: Content:CSS

#24729 Feature detection: Replace table with subsections
  files/en-us/learn/tools_and_testing/cross_browser_testing/feature_detection/index.md
Labels: Content:Learn

#25035 Fix page-type of Webkit_extensions
  files/en-us/web/css/webkit_extensions/index.md
Labels: Content:CSS

#24990 CSS filter function: contrast()
  files/en-us/web/css/filter-function/contrast/flag.jpg
  files/en-us/web/css/filter-function/contrast/index.md
  files/en-us/web/css/filter-function/contrast/unity_for_the_people.jpg
Labels: Content:CSS

#25012 Clarified text
  files/en-us/glossary/bezier_curve/index.md
Labels: Content:Glossary

#25033 Add SameSite=Lax by default to FF Experimental features
  files/en-us/mozilla/firefox/experimental_features/index.md
Labels: Content:Other

#25037 Delete Reflect/Object comparison page, align all Reflect pages
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/javascript/reference/global_objects/reflect/apply/index.md
  files/en-us/web/javascript/reference/global_objects/reflect/comparing_reflect_and_object_methods/index.md
  files/en-us/web/javascript/reference/global_objects/reflect/construct/index.md
  files/en-us/web/javascript/reference/global_objects/reflect/defineproperty/index.md
  files/en-us/web/javascript/reference/global_objects/reflect/deleteproperty/index.md
  files/en-us/web/javascript/reference/global_objects/reflect/get/index.md
  files/en-us/web/javascript/reference/global_objects/reflect/getownpropertydescriptor/index.md
  files/en-us/web/javascript/reference/global_objects/reflect/getprototypeof/index.md
  files/en-us/web/javascript/reference/global_objects/reflect/has/index.md
  files/en-us/web/javascript/reference/global_objects/reflect/index.md
  files/en-us/web/javascript/reference/global_objects/reflect/isextensible/index.md
  files/en-us/web/javascript/reference/global_objects/reflect/ownkeys/index.md
  files/en-us/web/javascript/reference/global_objects/reflect/preventextensions/index.md
  files/en-us/web/javascript/reference/global_objects/reflect/set/index.md
  files/en-us/web/javascript/reference/global_objects/reflect/setprototypeof/index.md
Labels: Content:JS

#24986 Improve front matter example in page structures templates
  files/en-us/mdn/writing_guidelines/page_structures/compatibility_tables/index.md
Labels: Content:Other

#25038 Remove {{bug}} macro
  files/en-us/mozilla/firefox/releases/10/index.md
  files/en-us/mozilla/firefox/releases/111/index.md
  files/en-us/mozilla/firefox/releases/6/index.md
Labels: Content:Other

#25040 Fix grammar error with description
  files/en-us/web/css/@font-face/src/index.md
Labels: Content:CSS

#25039 Remove usage of {{unimplemented_inline}}
  files/en-us/web/html/element/td/index.md
  files/en-us/web/html/element/tfoot/index.md
Labels: Content:HTML

#25020 Add information about fetch method
  files/en-us/web/api/fetch/index.md
Labels: Content:WebAPI

#25049 Typo in JavaScript Code Style Guide.
  files/en-us/mdn/writing_guidelines/writing_style_guide/code_style_guide/javascript/index.md
Labels: Content:Other

#25051 Fix broken link
  files/en-us/learn/performance/business_case_for_performance/index.md
Labels: Content:Learn

#25053 Replace .keyCode with .key
  files/en-us/learn/forms/how_to_build_custom_form_controls/example_4/index.md
Labels: Content:Learn

#25052 Fix broken link
  files/en-us/learn/performance/css/index.md
Labels: Content:Learn

#25048 Fix issue 24969: mangled AnimationEffect intro
  files/en-us/web/api/animationeffect/index.md
Labels: Content:WebAPI

#25056 Fixed a link to "Unusual Elements" spec
  files/en-us/web/css/display/index.md
Labels: Content:CSS

#25060 Improve yield operator pages
  files/en-us/web/javascript/reference/operators/yield/index.md
  files/en-us/web/javascript/reference/operators/yield_star_/index.md
Labels: Content:JS

#25041 One `in` is not one inch
  files/en-us/glossary/css_pixel/index.md
Labels: Content:Glossary

#25065 Clarified description of arguments to setTimeout
  files/en-us/web/javascript/eventloop/index.md
Labels: Content:JS

#25067 Fixed missing live sample and title
  files/en-us/web/html/element/a/index.md
  files/en-us/web/html/element/data/index.md
Labels: Content:HTML

#24298 Add a small definition of `Block container`.
  files/en-us/web/css/containing_block/index.md
Labels: Content:CSS

#25076 Add examples for ASI suggestions
  files/en-us/web/javascript/reference/lexical_grammar/index.md
Labels: Content:JS

#25078 fix: remove redundant parentheses
  files/en-us/web/html/element/index.md
Labels: Content:HTML

#24784 Remove tag attribute form front matter
  files/en-us/web/mathml/attribute/index.md
  files/en-us/web/mathml/attribute/values/index.md
  files/en-us/web/mathml/authoring/index.md
  files/en-us/web/mathml/element/index.md
  files/en-us/web/mathml/element/maction/index.md
  files/en-us/web/mathml/element/math/index.md
  files/en-us/web/mathml/element/menclose/index.md
  files/en-us/web/mathml/element/merror/index.md
  files/en-us/web/mathml/element/mfenced/index.md
  files/en-us/web/mathml/element/mfrac/index.md
  files/en-us/web/mathml/element/mi/index.md
  files/en-us/web/mathml/element/mmultiscripts/index.md
  files/en-us/web/mathml/element/mn/index.md
  files/en-us/web/mathml/element/mo/index.md
  files/en-us/web/mathml/element/mover/index.md
  files/en-us/web/mathml/element/mpadded/index.md
  files/en-us/web/mathml/element/mphantom/index.md
  files/en-us/web/mathml/element/mroot/index.md
  files/en-us/web/mathml/element/mrow/index.md
  files/en-us/web/mathml/element/ms/index.md
  files/en-us/web/mathml/element/mspace/index.md
  files/en-us/web/mathml/element/msqrt/index.md
  files/en-us/web/mathml/element/mstyle/index.md
  files/en-us/web/mathml/element/msub/index.md
  files/en-us/web/mathml/element/msubsup/index.md
  files/en-us/web/mathml/element/msup/index.md
  files/en-us/web/mathml/element/mtable/index.md
  files/en-us/web/mathml/element/mtd/index.md
  files/en-us/web/mathml/element/mtext/index.md
  files/en-us/web/mathml/element/mtr/index.md
  files/en-us/web/mathml/element/munder/index.md
  files/en-us/web/mathml/element/munderover/index.md
  files/en-us/web/mathml/element/semantics/index.md
  files/en-us/web/mathml/examples/deriving_the_quadratic_formula/index.md
  files/en-us/web/mathml/examples/index.md
  files/en-us/web/mathml/examples/mathml_pythagorean_theorem/index.md
  files/en-us/web/mathml/fonts/index.md
  files/en-us/web/mathml/global_attributes/dir/index.md
  files/en-us/web/mathml/global_attributes/displaystyle/index.md
  files/en-us/web/mathml/global_attributes/href/index.md
  files/en-us/web/mathml/global_attributes/index.md
  files/en-us/web/mathml/global_attributes/mathbackground/index.md
  files/en-us/web/mathml/global_attributes/mathcolor/index.md
  files/en-us/web/mathml/global_attributes/mathsize/index.md
  files/en-us/web/mathml/global_attributes/mathvariant/index.md
  files/en-us/web/mathml/global_attributes/scriptlevel/index.md
  files/en-us/web/mathml/index.md
Labels: Content:MathML

#24949 HTTP status 103 - improve docs
  files/en-us/web/http/status/103/index.md
Labels: Content:HTTP

#25091 Update index.md
  files/en-us/learn/getting_started_with_the_web/the_web_and_web_standards/index.md
Labels: Content:Learn

#25089 Fix typo
  files/en-us/web/html/element/nav/index.md
Labels: Content:HTML

#25087 Minor fixes of Set document
  files/en-us/web/javascript/reference/global_objects/set/index.md
Labels: Content:JS

#25098 Fix split() separator description
  files/en-us/web/javascript/reference/global_objects/string/split/index.md
Labels: Content:JS

#25099 Specification tables - mentions spec_urls
  files/en-us/mdn/writing_guidelines/page_structures/specification_tables/index.md
Labels: Content:Other

#25096 Fix typo - trailing > in introductory paragraph
  files/en-us/web/api/rtcpeerconnection/addtrack/index.md
Labels: Content:WebAPI

#25095 Require mongoose 6.9.0 in Express tutorial instructions
  files/en-us/learn/server-side/express_nodejs/mongoose/index.md
Labels: Content:Learn, Content:Learn:Express

#25086 Fix issues in search API documentation
  files/en-us/mozilla/add-ons/webextensions/api/search/index.md
  files/en-us/mozilla/add-ons/webextensions/api/search/query/index.md
Labels: Content:WebExt, Content:Other

#25101 Remove leftover tags
  files/en-us/web/http/methods/delete/index.md
  files/en-us/web/http/range_requests/index.md
Labels: Content:HTTP

#24913 Styling_links readability
  files/en-us/learn/css/styling_text/styling_links/index.md
Labels: Content:Learn

#25042 chore(CI): limit locking of old PRs to run only on first day of the month
  .github/workflows/lock-closed.yml
Labels: infra

#25075 Align function expression pages
  files/en-us/web/javascript/reference/functions/index.md
  files/en-us/web/javascript/reference/operators/async_function/index.md
  files/en-us/web/javascript/reference/operators/async_function_star_/index.md
  files/en-us/web/javascript/reference/operators/class/index.md
  files/en-us/web/javascript/reference/operators/function/index.md
  files/en-us/web/javascript/reference/operators/function_star_/index.md
Labels: Content:JS

#25107 Update docs for performance.now/DOMHighResTimeStamp
  files/en-us/web/api/domhighrestimestamp/index.md
  files/en-us/web/api/performance/now/index.md
  files/en-us/web/api/performance/timeorigin/index.md
Labels: Content:WebAPI

#25104 chore(ci): bump Python version in PR companion
  .github/workflows/pr-review-companion.yml
Labels: infra

#25064 Update index.md
  files/en-us/learn/forms/how_to_build_custom_form_controls/index.md
Labels: Content:Learn

#25109 Update example of multiple container names to be consistent
  files/en-us/web/css/container-name/index.md
Labels: Content:CSS

#25110 Use new SVG sidebar
  files/en-us/web/svg/applying_svg_effects_to_html_content/index.md
  files/en-us/web/svg/compatibility_sources/index.md
  files/en-us/web/svg/content_type/index.md
  files/en-us/web/svg/element/index.md
  files/en-us/web/svg/namespaces_crash_course/example/index.md
  files/en-us/web/svg/namespaces_crash_course/index.md
  files/en-us/web/svg/scripting/index.md
  files/en-us/web/svg/server-configuration/index.md
  files/en-us/web/svg/specification_deviations/index.md
  files/en-us/web/svg/svg_animation_with_smil/index.md
  files/en-us/web/svg/svg_as_an_image/index.md
  files/en-us/web/svg/tutorial/basic_shapes/index.md
  files/en-us/web/svg/tutorial/basic_transformations/index.md
  files/en-us/web/svg/tutorial/clipping_and_masking/index.md
  files/en-us/web/svg/tutorial/fills_and_strokes/index.md
  files/en-us/web/svg/tutorial/filter_effects/index.md
  files/en-us/web/svg/tutorial/getting_started/index.md
  files/en-us/web/svg/tutorial/gradients/index.md
  files/en-us/web/svg/tutorial/index.md
  files/en-us/web/svg/tutorial/introduction/index.md
  files/en-us/web/svg/tutorial/other_content_in_svg/index.md
  files/en-us/web/svg/tutorial/paths/index.md
  files/en-us/web/svg/tutorial/patterns/index.md
  files/en-us/web/svg/tutorial/positions/index.md
  files/en-us/web/svg/tutorial/svg_and_css/index.md
  files/en-us/web/svg/tutorial/svg_filters_tutorial/index.md
  files/en-us/web/svg/tutorial/svg_fonts/index.md
  files/en-us/web/svg/tutorial/svg_image_tag/index.md
  files/en-us/web/svg/tutorial/svg_in_html_introduction/index.md
  files/en-us/web/svg/tutorial/texts/index.md
  files/en-us/web/svg/tutorial/tools_for_svg/index.md
Labels: Content:SVG

#25111 Use new MathML sidebar
  files/en-us/web/mathml/attribute/index.md
  files/en-us/web/mathml/attribute/values/index.md
  files/en-us/web/mathml/authoring/index.md
  files/en-us/web/mathml/element/index.md
  files/en-us/web/mathml/examples/deriving_the_quadratic_formula/index.md
  files/en-us/web/mathml/examples/index.md
  files/en-us/web/mathml/examples/mathml_pythagorean_theorem/index.md
  files/en-us/web/mathml/fonts/index.md
  files/en-us/web/mathml/global_attributes/dir/index.md
  files/en-us/web/mathml/global_attributes/displaystyle/index.md
  files/en-us/web/mathml/global_attributes/href/index.md
  files/en-us/web/mathml/global_attributes/index.md
  files/en-us/web/mathml/global_attributes/mathbackground/index.md
  files/en-us/web/mathml/global_attributes/mathcolor/index.md
  files/en-us/web/mathml/global_attributes/mathsize/index.md
  files/en-us/web/mathml/global_attributes/mathvariant/index.md
  files/en-us/web/mathml/global_attributes/scriptlevel/index.md
Labels: Content:MathML

#25118 update SVG element page to use status rather than tags
  files/en-us/mdn/writing_guidelines/page_structures/page_types/svg_element_page_template/index.md
Labels: Content:Other

#25116 Mathml fixtags
  files/en-us/web/mathml/element/maction/index.md
  files/en-us/web/mathml/element/menclose/index.md
  files/en-us/web/mathml/element/mfenced/index.md
  files/en-us/web/mathml/global_attributes/href/index.md
  files/en-us/web/mathml/global_attributes/mathbackground/index.md
  files/en-us/web/mathml/global_attributes/mathcolor/index.md
  files/en-us/web/mathml/global_attributes/mathsize/index.md
Labels: Content:MathML

#25112 Update image-set() to have informal and formal syntax sections
  files/en-us/web/css/image/image-set/index.md
Labels: Content:CSS

#25126 fix: various typos
  files/en-us/web/api/document/startviewtransition/index.md
  files/en-us/web/api/view_transitions_api/index.md
  files/en-us/web/api/viewtransition/index.md
  files/en-us/web/api/viewtransition/ready/index.md
  files/en-us/web/css/_doublecolon_view-transition-group/index.md
  files/en-us/web/css/_doublecolon_view-transition-image-pair/index.md
  files/en-us/web/css/_doublecolon_view-transition-new/index.md
  files/en-us/web/css/_doublecolon_view-transition-old/index.md
  files/en-us/web/css/_doublecolon_view-transition/index.md
  files/en-us/web/css/view-transition-name/index.md
Labels: Content:CSS, Content:WebAPI

#25124 Fix typos
  files/en-us/web/api/websockets_api/index.md
Labels: Content:WebAPI

#25015 relnote(Fx111): color(), lab(), lch(), oklab(), oklch() support
  files/en-us/mozilla/firefox/releases/111/index.md
  files/en-us/web/css/@media/color-gamut/index.md
  files/en-us/web/css/color_value/color/index.md
  files/en-us/web/css/color_value/lab/index.md
  files/en-us/web/css/color_value/lch/index.md
  files/en-us/web/css/color_value/oklab/index.md
  files/en-us/web/css/color_value/oklch/index.md
Labels: Content:CSS, Content:Other

#24942 Attempt to clarify min/max/clamp example
  files/en-us/web/css/clamp/index.md
Labels: Content:CSS

#25133 Color and luminance
  files/en-us/web/accessibility/understanding_colors_and_luminance/320px-red_saturations.svg.png
  files/en-us/web/accessibility/understanding_colors_and_luminance/index.md
  files/en-us/web/accessibility/understanding_colors_and_luminance/microcolorsc.jpg
Labels: Content:Accessibility

#25135 docs(CSS): oklab example typo fix, reorder CSS in lch example
  files/en-us/web/css/color_value/lch/index.md
  files/en-us/web/css/color_value/oklab/index.md
Labels: Content:CSS

#22686 Fix beastify code
  files/en-us/mozilla/add-ons/webextensions/your_second_webextension/index.md
Labels: Content:WebExt, Content:Other

#25120 FileSystemWritableFileStream not experimental after FF111
  files/en-us/web/api/filesystemwritablefilestream/index.md
  files/en-us/web/api/filesystemwritablefilestream/seek/index.md
  files/en-us/web/api/filesystemwritablefilestream/truncate/index.md
  files/en-us/web/api/filesystemwritablefilestream/write/index.md
Labels: Content:WebAPI

#25139 Links: updated to newer research
  files/en-us/web/accessibility/understanding_colors_and_luminance/index.md
Labels: Content:Accessibility

#25063 Fix 'host_permissions' manifest key name
  files/en-us/mozilla/add-ons/webextensions/manifest.json/permissions/index.md
Labels: Content:WebExt, Content:Other

#25123 fix example and explanation of css :not() with :is()
  files/en-us/web/css/_colon_not/index.md
Labels: Content:CSS

#25145 Update links
  files/en-us/web/accessibility/understanding_colors_and_luminance/index.md
Labels: Content:Accessibility

#25149 Refactor target identifier logic
  files/en-us/web/api/view_transitions_api/index.md
Labels: Content:WebAPI

#25148 Correct statement
  files/en-us/learn/css/building_blocks/backgrounds_and_borders/index.md
Labels: Content:Learn

#25154 Github link
  files/en-us/web/css/filter_effects/index.md
Labels: Content:CSS

#25152 Add missing toUpperCase()
  files/en-us/web/javascript/reference/global_objects/encodeuricomponent/index.md
Labels: Content:JS

#25159 fix: various typos
  files/en-us/web/accessibility/understanding_colors_and_luminance/index.md
Labels: Content:Accessibility

#25160 Add usage when aggregating modules
  files/en-us/web/javascript/reference/statements/export/index.md
Labels: Content:JS

#25155 Use dom-examples instead of Glitch
  files/en-us/web/api/document/startviewtransition/index.md
  files/en-us/web/api/view_transitions_api/index.md
Labels: Content:WebAPI

#25136 Fix http: links -> https: links
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/accessibility/understanding_wcag/perceivable/color_contrast/index.md
  files/en-us/web/svg/compatibility_sources/index.md
Labels: Content:Accessibility, Content:SVG

#25166 Minor sentence grammar fix
  files/en-us/web/api/headers/entries/index.md
Labels: Content:WebAPI

#25158 Remove "immediately" and clarify when.
  files/en-us/web/api/serviceworkerglobalscope/skipwaiting/index.md
Labels: Content:WebAPI

#25165 Fix erroneous browser-compat key
  files/en-us/web/api/view_transitions_api/index.md
Labels: Content:WebAPI

#25170 Remove remnants of animateColor
  files/en-us/web/api/svganimatecolorelement/index.md
  files/en-us/web/svg/attribute/accumulate/index.md
  files/en-us/web/svg/attribute/additive/index.md
  files/en-us/web/svg/attribute/attributename/index.md
  files/en-us/web/svg/attribute/attributetype/index.md
  files/en-us/web/svg/attribute/begin/index.md
  files/en-us/web/svg/attribute/by/index.md
  files/en-us/web/svg/attribute/calcmode/index.md
  files/en-us/web/svg/attribute/color-interpolation/index.md
  files/en-us/web/svg/attribute/dur/index.md
  files/en-us/web/svg/attribute/end/index.md
  files/en-us/web/svg/attribute/fill/index.md
  files/en-us/web/svg/attribute/from/index.md
  files/en-us/web/svg/attribute/keypoints/index.md
  files/en-us/web/svg/attribute/keysplines/index.md
  files/en-us/web/svg/attribute/keytimes/index.md
  files/en-us/web/svg/attribute/max/index.md
  files/en-us/web/svg/attribute/min/index.md
  files/en-us/web/svg/attribute/repeatcount/index.md
  files/en-us/web/svg/attribute/repeatdur/index.md
  files/en-us/web/svg/attribute/requiredfeatures/index.md
  files/en-us/web/svg/attribute/restart/index.md
  files/en-us/web/svg/attribute/systemlanguage/index.md
  files/en-us/web/svg/attribute/to/index.md
  files/en-us/web/svg/attribute/values/index.md
  files/en-us/web/svg/attribute/xlink_colon_arcrole/index.md
  files/en-us/web/svg/attribute/xlink_colon_href/index.md
  files/en-us/web/svg/attribute/xlink_colon_title/index.md
  files/en-us/web/svg/attribute/xlink_colon_type/index.md
  files/en-us/web/svg/element/feflood/index.md
  files/en-us/web/svg/element/index.md
  files/jsondata/SVGData.json
Labels: Content:WebAPI, Content:SVG

#25164 Fix remaining links to Firefox dev tools
  files/en-us/web/accessibility/understanding_wcag/perceivable/color_contrast/index.md
Labels: Content:Accessibility

#25167 Fix link to interface
  files/en-us/web/svg/element/femergenode/index.md
Labels: Content:SVG

#25168 Remove false workaround for detecting a SVG features
  files/en-us/web/svg/attribute/requiredfeatures/index.md
Labels: Content:SVG

#25171 Fix typo creating a red broken link
  files/en-us/web/svg/content_type/index.md
Labels: Content:SVG

#25173 HTTP 410 docs: Dead link fix
  files/en-us/web/http/status/410/index.md
Labels: Content:HTTP

#24742 Link to the unprefixed feature when possible
  files/en-us/web/css/-moz-user-focus/index.md
  files/en-us/web/css/-moz-user-input/index.md
  files/en-us/web/css/-webkit-line-clamp/index.md
  files/en-us/web/css/-webkit-mask-composite/index.md
  files/en-us/web/css/-webkit-mask-position-x/index.md
  files/en-us/web/css/-webkit-mask-position-y/index.md
  files/en-us/web/css/-webkit-mask-repeat-x/index.md
  files/en-us/web/css/-webkit-mask-repeat-y/index.md
  files/en-us/web/css/user-modify/index.md
Labels: Content:CSS

#25177 Fix minor typo (servers -> serves)
  files/en-us/learn/server-side/django/skeleton_website/index.md
Labels: Content:Learn

#25058 [PWA] Installation guide
  files/en-us/web/progressive_web_apps/guides/making_pwas_installable/index.md
  files/en-us/web/progressive_web_apps/guides/making_pwas_installable/pwa-install.png
  files/en-us/web/progressive_web_apps/guides/making_pwas_installable/pwamp-install-prompt-android.png
Labels: Content:Other

#25181 Remove stray markup
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/max_number_of_regex_rules/index.md
Labels: Content:WebExt, Content:Other

#25182 revert: typo fix
  files/en-us/learn/server-side/django/skeleton_website/index.md
Labels: Content:Learn

#24485 Named page 23682
  files/en-us/mozilla/firefox/releases/110/index.md
  files/en-us/web/css/@page/index.md
  files/en-us/web/css/page/index.md
Labels: Content:CSS, Content:Other

#25143 Add a new app badge How-to page to PWA docs
  files/en-us/web/progressive_web_apps/how_to/display_badge_on_app_icon/index.md
  files/en-us/web/progressive_web_apps/how_to/display_badge_on_app_icon/mail-badge-ios.png
Labels: Content:Other

#25183 Add link to Trigonometric functions in CSS article
  files/en-us/web/css/css_values_and_units/index.md
Labels: Content:CSS

#24981 Update link text to media type registries
  files/en-us/web/http/basics_of_http/mime_types/index.md
Labels: Content:HTTP

#24940 Update heading from "Open web topics" to "Standardization"
  files/en-us/mdn/writing_guidelines/what_we_write/index.md
Labels: Content:Other

#25043 Minor: consistency in mentioning every console log result
  files/en-us/learn/javascript/objects/basics/index.md
Labels: Content:Learn

#25194 Correct lang tag for Chinese
  files/en-us/web/html/global_attributes/lang/index.md
Labels: Content:HTML

#25189 Remove attr- from HTML link fragments
  files/en-us/learn/forms/your_first_form/index.md
  files/en-us/learn/performance/multimedia/index.md
  files/en-us/mozilla/firefox/releases/106/index.md
  files/en-us/mozilla/firefox/releases/108/index.md
  files/en-us/mozilla/firefox/releases/24/index.md
  files/en-us/mozilla/firefox/releases/60/index.md
  files/en-us/web/api/document/write/index.md
  files/en-us/web/api/htmlinputelement/disabled/index.md
  files/en-us/web/api/htmlparamelement/index.md
  files/en-us/web/api/htmlselectelement/disabled/index.md
  files/en-us/web/api/htmlstyleelement/type/index.md
  files/en-us/web/html/attributes/index.md
  files/en-us/web/html/attributes/rel/index.md
  files/en-us/web/html/element/a/index.md
  files/en-us/web/html/element/area/index.md
  files/en-us/web/html/element/cite/index.md
  files/en-us/web/html/element/datalist/index.md
  files/en-us/web/html/element/form/index.md
  files/en-us/web/html/element/img/index.md
  files/en-us/web/html/element/input/checkbox/index.md
  files/en-us/web/html/element/input/radio/index.md
  files/en-us/web/html/element/script/type/importmap/index.md
  files/en-us/web/html/element/textarea/index.md
  files/en-us/web/html/element/video/index.md
  files/en-us/web/html/global_attributes/index.md
  files/en-us/web/http/headers/content-security-policy/index.md
  files/en-us/web/performance/optimizing_startup_performance/index.md
  files/en-us/web/progressive_web_apps/responsive/graphics_for_responsive_sites/index.md
  files/en-us/web/svg/attribute/conditional_processing/index.md
  files/en-us/web/svg/attribute/core/index.md
  files/en-us/web/svg/attribute/styling/index.md
  files/en-us/web/web_components/using_templates_and_slots/index.md
Labels: Content:HTML, Content:WebAPI, Content:Learn, Content:Other, Content:HTTP, Content:SVG

#25197 fix: typo on index.md
  files/en-us/web/media/formats/image_types/index.md
Labels: Content:Media

#25196 add space between words
  files/en-us/web/html/element/index.md
Labels: Content:HTML

#25188 Changed the phrasing
  files/en-us/learn/html/multimedia_and_embedding/responsive_images/index.md
Labels: Content:Learn

#25202 Correct summary table
  files/en-us/web/http/methods/patch/index.md
Labels: Content:HTTP

#25203 Typo fix.
  files/en-us/web/javascript/guide/using_classes/index.md
Labels: Content:JS

#25205 Minor typo fix
  files/en-us/web/accessibility/aria/attributes/aria-owns/index.md
Labels: Content:Accessibility

#25207 Impove prototype chain example
  files/en-us/web/javascript/inheritance_and_the_prototype_chain/index.md
Labels: Content:JS

#25185 Fix screen capture example
  files/en-us/web/api/screen_capture_api/using_screen_capture/index.md
Labels: Content:WebAPI

#25208 Update index.md
  files/en-us/web/css/shorthand_properties/index.md
Labels: Content:CSS

#25209 Remove note about nested workers not supported in Safari
  files/en-us/web/api/worker/index.md
Labels: Content:WebAPI

#25131 Remove 'How to add tags' page
  CONTRIBUTING.md
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mdn/writing_guidelines/experimental_deprecated_obsolete/index.md
  files/en-us/mdn/writing_guidelines/howto/creating_moving_deleting/index.md
  files/en-us/mdn/writing_guidelines/howto/tag/index.md
  files/en-us/mdn/writing_guidelines/howto/write_an_api_reference/index.md
Labels: Content:Other

#25218 added a missing closing parenthesis
  files/en-us/learn/server-side/express_nodejs/routes/index.md
Labels: Content:Learn

#25213 Remove HTMLAttrXRef macro
  files/en-us/glossary/ltr/index.md
  files/en-us/learn/accessibility/html/index.md
  files/en-us/mdn/kitchensink/index.md
  files/en-us/mozilla/add-ons/webextensions/interact_with_the_clipboard/index.md
  files/en-us/web/accessibility/aria/attributes/aria-disabled/index.md
  files/en-us/web/accessibility/aria/attributes/aria-multiselectable/index.md
  files/en-us/web/accessibility/aria/roles/tab_role/index.md
  files/en-us/web/api/element/part/index.md
  files/en-us/web/api/htmlelement/hidden/index.md
  files/en-us/web/api/htmlelement/inputmode/index.md
  files/en-us/web/html/element/a/index.md
  files/en-us/web/html/element/input/color/index.md
  files/en-us/web/javascript/reference/global_objects/string/index.md
Labels: Content:HTML, Content:WebExt, Content:WebAPI, Content:JS, Content:Learn, Content:Other, Content:Accessibility, Content:Glossary

#25210 Typo in image file suffix within a code example
  files/en-us/web/accessibility/understanding_wcag/text_labels_and_names/index.md
Labels: Content:Accessibility

#25215 Fixes to Background Sync API
  files/en-us/web/api/background_synchronization_api/index.md
  files/en-us/web/api/syncevent/syncevent/index.md
  files/en-us/web/api/syncmanager/gettags/index.md
  files/en-us/web/api/syncmanager/register/index.md
Labels: Content:WebAPI

#25030 FF111 Exper Feature: Implement worker modules
  files/en-us/mozilla/firefox/experimental_features/index.md
Labels: Content:Other

#25220 fix WebSocket Source Schema
  files/en-us/web/http/headers/content-security-policy/connect-src/index.md
Labels: Content:HTTP

#25227 Fix display issue with 'document' on line 37
  files/en-us/web/api/document_object_model/using_the_document_object_model/index.md
Labels: Content:WebAPI

#25228 Permissions Policy: Fix typo
  files/en-us/web/http/permissions_policy/index.md
Labels: Content:HTTP

#25244 Resolved Youtube link issue #25079
  files/en-us/webassembly/using_the_javascript_api/index.md
Labels: Content:wasm

#25242 Synchronize with BCD v5.2.41
  files/en-us/web/css/color_value/lab/index.md
  files/en-us/web/css/color_value/lch/index.md
  files/en-us/web/css/color_value/oklab/index.md
  files/en-us/web/css/color_value/oklch/index.md
  files/en-us/web/html/element/link/index.md
  files/en-us/web/html/global_attributes/virtualkeyboardpolicy/index.md
Labels: Content:CSS, Content:HTML

#25246 fix: various typos
  files/en-us/web/accessibility/understanding_colors_and_luminance/index.md
  files/en-us/web/css/page/index.md
  files/en-us/web/progressive_web_apps/guides/making_pwas_installable/index.md
Labels: Content:CSS, Content:Other, Content:Accessibility

#25236 Example from `css-example` repo
  files/en-us/web/css/filter-function/index.md
Labels: Content:CSS

#25249 add type information and adjust row order
  files/en-us/glossary/falsy/index.md
Labels: Content:Glossary
