Repository mdn/content, pull requests merged in 2023-12, with the labels that each got.

#30674 fix(html): fix attribute values
  files/en-us/learn/forms/how_to_structure_a_web_form/index.md
  files/en-us/learn/performance/video/index.md
  files/en-us/mdn/community/contributing/our_repositories/index.md
  files/en-us/web/api/canvas_api/manipulating_video_using_canvas/index.md
  files/en-us/web/api/htmlformcontrolscollection/nameditem/index.md
  files/en-us/web/css/attribute_selectors/index.md
  files/en-us/web/guide/audio_and_video_manipulation/index.md
  files/en-us/web/html/attributes/disabled/index.md
  files/en-us/web/html/global_attributes/hidden/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:Learn, Content:Guide, Content:Meta, Content:Learn:Forms

#30676 remove "twos complement" from unsigned types
  files/en-us/web/api/webgl_api/types/index.md
Labels: Content:WebAPI

#30671 added missing information regarding the click event
  files/en-us/web/api/element/click_event/index.md
Labels: Content:WebAPI

#30664 fix `Geolocation.clearWatch()` method description
  files/en-us/web/api/geolocation/clearwatch/index.md
  files/en-us/web/api/geolocation/watchposition/index.md
  files/en-us/web/api/geolocation_api/index.md
Labels: Content:WebAPI

#30678 Fix broken link
  files/en-us/web/api/window/requestanimationframe/index.md
Labels: Content:WebAPI

#30682 Document Window.setResizable()
  files/en-us/web/api/window/index.md
  files/en-us/web/api/window/setresizable/index.md
Labels: Content:WebAPI

#30693 Fix obvious typo
  files/en-us/mdn/writing_guidelines/page_structures/page_types/page_type_key/index.md
Labels: Content:Meta

#30699 Fix missing Web/ in link
  files/en-us/web/api/filereadersync/readasbinarystring/index.md
Labels: Content:WebAPI

#30700 Remove non-existent link in See also
  files/en-us/glossary/privileged/index.md
Labels: Content:Glossary

#30692 Shumway for Flash is long gone
  files/en-us/games/tools/index.md
Labels: Content:Games

#30690 Fix spec mention in CSS Scoping
  files/en-us/web/css/css_scoping/index.md
Labels: Content:CSS

#30695 Neutralize broken link to Gecko
  files/en-us/web/svg/specification_deviations/index.md
Labels: Content:SVG

#30701 fix(a11y): Point to CDC archive for 2018 report, link to current CDC Disability and Health resources
  files/en-us/learn/accessibility/what_is_accessibility/index.md
  files/en-us/web/accessibility/cognitive_accessibility/index.md
Labels: Content:Accessibility, Content:Learn:Accessibility

#30704 fix two macros
  files/en-us/web/api/htmlelement/index.md
Labels: Content:WebAPI

#30696 fix(games) Remove broken links, refer to WebXR instead of WebVR API
  files/en-us/games/publishing_games/game_distribution/index.md
  files/en-us/games/techniques/3d_on_the_web/building_up_a_basic_demo_with_three.js/index.md
  files/en-us/games/techniques/3d_on_the_web/webvr/index.md
Labels: Content:Games

#30714 Tweaks to SPC documentation following extensive edits
  files/en-us/web/api/payment_request_api/using_secure_payment_confirmation/index.md
  files/en-us/web/api/securepaymentconfirmationrequest/index.md
Labels: Content:WebAPI

#30733 fix(css): fix broken link and remove IE related stuff
  files/en-us/learn/css/css_layout/supporting_older_browsers/index.md
Labels: Content:Learn:CSS

#30719 some fix of `Blob` interface
  files/en-us/web/api/blob/arraybuffer/index.md
  files/en-us/web/api/blob/blob/index.md
  files/en-us/web/api/blob/index.md
  files/en-us/web/api/blob/size/index.md
  files/en-us/web/api/blob/slice/index.md
  files/en-us/web/api/blob/stream/index.md
  files/en-us/web/api/blob/text/index.md
  files/en-us/web/api/blob/type/index.md
Labels: Content:WebAPI

#30732 fix(css): reveal hidden style rule
  files/en-us/learn/css/css_layout/introduction/index.md
Labels: Content:Learn:CSS

#30730 Add page for Origin-Agent-Cluster
  files/en-us/web/http/headers/origin-agent-cluster/index.md
Labels: Content:HTTP

#30709 Add information about the space key
  files/en-us/web/api/keyboardevent/key/index.md
Labels: Content:WebAPI

#30698 Align touchcancel and pointercancel examples
  files/en-us/web/api/element/pointercancel_event/index.md
  files/en-us/web/api/element/pointerup_event/index.md
  files/en-us/web/api/element/touchcancel_event/index.md
  files/en-us/web/api/element/touchend_event/index.md
Labels: Content:WebAPI

#30718 Extend the getTargetRanges method documentation
  files/en-us/web/api/inputevent/gettargetranges/index.md
Labels: Content:WebAPI

#30729 Synchronize with BCD v5.4.3
  files/en-us/web/api/css/highlights_static/index.md
  files/en-us/web/api/css/index.md
  files/en-us/web/api/css_custom_highlight_api/index.md
  files/en-us/web/api/highlight/add/index.md
  files/en-us/web/api/highlight/clear/index.md
  files/en-us/web/api/highlight/delete/index.md
  files/en-us/web/api/highlight/entries/index.md
  files/en-us/web/api/highlight/foreach/index.md
  files/en-us/web/api/highlight/has/index.md
  files/en-us/web/api/highlight/highlight/index.md
  files/en-us/web/api/highlight/index.md
  files/en-us/web/api/highlight/keys/index.md
  files/en-us/web/api/highlight/priority/index.md
  files/en-us/web/api/highlight/size/index.md
  files/en-us/web/api/highlight/type/index.md
  files/en-us/web/api/highlight/values/index.md
  files/en-us/web/api/highlightregistry/clear/index.md
  files/en-us/web/api/highlightregistry/delete/index.md
  files/en-us/web/api/highlightregistry/entries/index.md
  files/en-us/web/api/highlightregistry/foreach/index.md
  files/en-us/web/api/highlightregistry/get/index.md
  files/en-us/web/api/highlightregistry/has/index.md
  files/en-us/web/api/highlightregistry/index.md
  files/en-us/web/api/highlightregistry/keys/index.md
  files/en-us/web/api/highlightregistry/set/index.md
  files/en-us/web/api/highlightregistry/size/index.md
  files/en-us/web/api/highlightregistry/values/index.md
  files/en-us/web/api/htmlimageelement/fetchpriority/index.md
  files/en-us/web/api/htmlimageelement/index.md
  files/en-us/web/api/htmllinkelement/fetchpriority/index.md
  files/en-us/web/api/htmllinkelement/index.md
  files/en-us/web/api/htmlscriptelement/index.md
  files/en-us/web/api/window/index.md
  files/en-us/web/api/window/originagentcluster/index.md
  files/en-us/web/css/_doublecolon_highlight/index.md
  files/en-us/web/html/element/img/index.md
  files/en-us/web/html/element/link/index.md
  files/en-us/web/html/element/script/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI

#30722 some fix of File API
  files/en-us/web/api/file_api/index.md
  files/en-us/web/api/file_api/using_files_from_web_applications/index.md
  files/en-us/web/api/filereader/abort/index.md
  files/en-us/web/api/filereader/abort_event/index.md
  files/en-us/web/api/filereader/error/index.md
  files/en-us/web/api/filereader/error_event/index.md
  files/en-us/web/api/filereader/filereader/index.md
  files/en-us/web/api/filereader/index.md
  files/en-us/web/api/filereader/load_event/index.md
  files/en-us/web/api/filereader/loadend_event/index.md
  files/en-us/web/api/filereader/loadstart_event/index.md
  files/en-us/web/api/filereader/progress_event/index.md
  files/en-us/web/api/filereader/readasarraybuffer/index.md
  files/en-us/web/api/filereader/readasbinarystring/index.md
  files/en-us/web/api/filereader/readasdataurl/index.md
  files/en-us/web/api/filereader/readastext/index.md
  files/en-us/web/api/filereader/readystate/index.md
  files/en-us/web/api/filereader/result/index.md
  files/en-us/web/api/filereadersync/filereadersync/index.md
  files/en-us/web/api/filereadersync/index.md
  files/en-us/web/api/filereadersync/readasarraybuffer/index.md
  files/en-us/web/api/filereadersync/readasbinarystring/index.md
  files/en-us/web/api/filereadersync/readasdataurl/index.md
  files/en-us/web/api/filereadersync/readastext/index.md
  files/en-us/web/api/url/createobjecturl_static/index.md
  files/en-us/web/api/url/revokeobjecturl_static/index.md
Labels: Content:WebAPI

#30724 Add time units for duration
  files/en-us/web/api/performance/measure/index.md
Labels: Content:WebAPI

#30723 Add word "tilde" to subsequent-sibling combinator page
  files/en-us/web/css/subsequent-sibling_combinator/index.md
Labels: Content:CSS

#30720 some fix of `File` and `FileList` interface
  files/en-us/web/api/file/file/index.md
  files/en-us/web/api/file/index.md
  files/en-us/web/api/file/lastmodified/index.md
  files/en-us/web/api/file/lastmodifieddate/index.md
  files/en-us/web/api/file/name/index.md
  files/en-us/web/api/file/webkitrelativepath/index.md
  files/en-us/web/api/filelist/index.md
  files/en-us/web/api/filelist/item/index.md
  files/en-us/web/api/filelist/length/index.md
Labels: Content:WebAPI

#30656 Input device capabilities api
  files/en-us/web/api/inputdevicecapabilities/firestouchevents/index.md
  files/en-us/web/api/inputdevicecapabilities/index.md
  files/en-us/web/api/inputdevicecapabilities/inputdevicecapabilities/index.md
  files/en-us/web/api/inputdevicecapabilities_api/index.md
  files/en-us/web/api/uievent/sourcecapabilities/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

#30739 Changed type to time and updated spacing between words
  files/en-us/web/performance/understanding_latency/index.md
Labels: Content:Performance

#30316 Add handling of answer message on the caller side
  files/en-us/web/api/webrtc_api/signaling_and_video_calling/index.md
Labels: Content:WebAPI

#30743 Add linkage from originAgentCluster property to the HTTP header
  files/en-us/web/api/window/originagentcluster/index.md
Labels: Content:WebAPI

#30742 Clarified action of assert()
  files/en-us/web/api/console/assert_static/index.md
Labels: Content:WebAPI

#30558 fix a macros
  files/en-us/web/api/dedicatedworkerglobalscope/index.md
Labels: Content:WebAPI

#30748 Adding a missing word
  files/en-us/web/api/url/canparse_static/index.md
Labels: Content:WebAPI

#30677 Add second parameter of XSLTProcessr.transformToFragment()
  files/en-us/web/api/xsltprocessor/transformtofragment/index.md
Labels: Content:WebAPI

#30681 Removed events that do not target Document from the list
  files/en-us/web/api/document/index.md
Labels: Content:WebAPI

#30751 Remove link to deleted code snippet area
  files/en-us/web/api/element/getattributens/index.md
Labels: Content:WebAPI

#30753 Remove properties and methods that inheirts from `WorkerGlobalScope` in `DedicatedWorkerGlobalScope` `ServiceWorkerGlobalScope` `SharedWorkerGlobalScope`
  files/en-us/web/api/dedicatedworkerglobalscope/index.md
  files/en-us/web/api/serviceworkerglobalscope/index.md
  files/en-us/web/api/sharedworkerglobalscope/index.md
Labels: Content:WebAPI

#30756 Fix a lack of single quotation.
  files/en-us/web/api/file_system_api/origin_private_file_system/index.md
Labels: Content:WebAPI

#30763 Grammar fix to match the plurality of the subject
  files/en-us/web/javascript/reference/functions/arguments/index.md
Labels: Content:JS

#30764 registerProp guide: add browser compat
  files/en-us/web/api/css_properties_and_values_api/guide/index.md
Labels: Content:WebAPI

#30767 Redirect Web/Guide/Performance to Web/Performance
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/guide/performance/index.md
Labels: Content:Guide

#30765 Fix broken links
  files/en-us/mozilla/firefox/releases/47/index.md
Labels: Content:Firefox

#30754 Fix broken links
  files/en-us/mozilla/firefox/releases/8/index.md
Labels: Content:Firefox

#30750 Fix broken links
  files/en-us/games/introduction_to_html5_game_development/index.md
Labels: Content:Games

#30768 Drop stale `subgrid` and `masonry` warnings
  files/en-us/web/css/grid-template-columns/index.md
  files/en-us/web/css/grid-template-rows/index.md
Labels: Content:CSS

#30772 fix(html): make note on spellcheck page more noticeable
  files/en-us/web/html/global_attributes/spellcheck/index.md
Labels: Content:HTML

#30780 Fix internal anchor
  files/en-us/web/html/element/input/range/index.md
Labels: Content:HTML

#30761 Bugfix issue #30711
  files/en-us/learn/forms/ui_pseudo-classes/index.md
Labels: Content:Learn:Forms

#30757 Standardize titles for element pages
  files/en-us/web/html/element/footer/index.md
  files/en-us/web/html/element/header/index.md
  files/en-us/web/html/element/hgroup/index.md
  files/en-us/web/html/element/main/index.md
Labels: Content:HTML

#30740 Fix absence of bcd for some css features
  files/en-us/web/css/@color-profile/index.md
  files/en-us/web/css/@font-feature-values/font-display/index.md
  files/en-us/web/css/_colon_current/index.md
  files/en-us/web/css/_doublecolon_cue-region/index.md
  files/en-us/web/css/color_value/device-cmyk/index.md
Labels: Content:CSS

#30042 update Permissions API
  files/en-us/web/api/permissions/index.md
  files/en-us/web/api/permissions/query/index.md
  files/en-us/web/api/permissions_api/index.md
  files/en-us/web/api/permissionstatus/index.md
Labels: Content:WebAPI

#30766 Move audio and video guides under Web/Media
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/media/audio_and_video_delivery/adding_captions_and_subtitles_to_html5_video/index.md
  files/en-us/web/media/audio_and_video_delivery/adding_captions_and_subtitles_to_html5_video/video-player-with-captions.png
  files/en-us/web/media/audio_and_video_delivery/buffering_seeking_time_ranges/bufferedprogress.png
  files/en-us/web/media/audio_and_video_delivery/buffering_seeking_time_ranges/bufferedtimeranges.png
  files/en-us/web/media/audio_and_video_delivery/buffering_seeking_time_ranges/index.md
  files/en-us/web/media/audio_and_video_delivery/cross-browser_audio_basics/index.md
  files/en-us/web/media/audio_and_video_delivery/cross-browser_audio_basics/simpleplayer.png
  files/en-us/web/media/audio_and_video_delivery/cross_browser_video_player/index.md
  files/en-us/web/media/audio_and_video_delivery/cross_browser_video_player/video-player-example.png
  files/en-us/web/media/audio_and_video_delivery/index.md
  files/en-us/web/media/audio_and_video_delivery/live_streaming_web_audio_and_video/index.md
  files/en-us/web/media/audio_and_video_delivery/setting_up_adaptive_streaming_media_sources/index.md
  files/en-us/web/media/audio_and_video_delivery/video_player_styling_basics/index.md
  files/en-us/web/media/audio_and_video_delivery/video_player_styling_basics/video-player-styled.png
  files/en-us/web/media/audio_and_video_delivery/webaudio_playbackrate_explained/index.md
  files/en-us/web/media/audio_and_video_manipulation/index.md
Labels: Content:Media

#30721 Update some WebVR docs to relate to the more modern WebXR
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/games/techniques/3d_on_the_web/building_up_a_basic_demo_with_a-frame/index.md
  files/en-us/games/techniques/3d_on_the_web/index.md
  files/en-us/games/techniques/3d_on_the_web/webvr/hmds.jpg
  files/en-us/games/techniques/3d_on_the_web/webvr/index.md
  files/en-us/games/techniques/3d_on_the_web/webxr/hmds.jpg
  files/en-us/games/techniques/3d_on_the_web/webxr/index.md
  files/en-us/games/techniques/3d_on_the_web/webxr/sechelt.jpg
  files/jsondata/GroupData.json
Labels: Content:Games

#30774 fix(html): update file input demo
  files/en-us/web/html/element/input/file/index.md
Labels: Content:HTML

#30668 Fix anchor link to "Defining animation sequence using keyframes" document fragment
  files/en-us/web/css/css_animations/using_css_animations/index.md
Labels: Content:CSS

#29975 update `WorkerGlobalScope` interface summary
  files/en-us/web/api/serviceworkerglobalscope/index.md
  files/en-us/web/api/workerglobalscope/index.md
Labels: Content:WebAPI

#30697 Rename requesttOffsetReferenceSpace() to getOffsetReferenceSpace()
  files/en-us/web/api/webxr_device_api/bounded_reference_spaces/index.md
Labels: Content:WebAPI

#30786 Fix redirected link from Web/Guide to Web/Media
  files/en-us/web/media/autoplay_guide/index.md
Labels: Content:Media

#30787 Fix last missed Web/Guide/ -> Web/Media link
  files/en-us/web/media/html_media/index.md
Labels: Content:Media

#30683 Removed events that do not target Window from the list
  files/en-us/web/api/window/index.md
Labels: Content:WebAPI

#30705 Move guide under Web/XML
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/document_object_model/how_to_create_a_dom_tree/index.md
  files/en-us/web/api/domparser/index.md
  files/en-us/web/api/xmlhttprequest/responsexml/index.md
  files/en-us/web/api/xmlhttprequest_api/using_xmlhttprequest/index.md
  files/en-us/web/api/xmlserializer/index.md
  files/en-us/web/api/xmlserializer/serializetostring/index.md
  files/en-us/web/guide/index.md
  files/en-us/web/xml/parsing_and_serializing_xml/index.md
  files/en-us/web/xpath/snippets/index.md
Labels: Content:WebAPI, Content:Other, Content:Guide

#30659 Fixes #30419 | cleanup Service Worker API summary
  files/en-us/web/api/service_worker_api/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

#30790 Unify headers in htaccess docs
  files/en-us/learn/server-side/apache_configuration_htaccess/index.md
Labels: Content:Learn

#30791 Fix broken links on Fx 7
  files/en-us/mozilla/firefox/releases/7/index.md
Labels: Content:Firefox

#30688 Remove links to non-existent articles
  files/en-us/web/performance/index.md
Labels: Content:Performance

#30687 Slightly improve outdated Navigator.getUserMedia()
  files/en-us/web/api/navigator/getusermedia/index.md
Labels: Content:WebAPI

#30680 Fix broken links for drag-and-drop events
  files/en-us/web/api/htmlelement/dragend_event/index.md
  files/en-us/web/api/htmlelement/dragenter_event/index.md
  files/en-us/web/api/htmlelement/dragleave_event/index.md
  files/en-us/web/api/htmlelement/dragover_event/index.md
  files/en-us/web/api/htmlelement/dragstart_event/index.md
  files/en-us/web/api/htmlelement/drop_event/index.md
Labels: Content:WebAPI

#30798 Fix typo
  files/en-us/mozilla/firefox/releases/7/index.md
Labels: Content:Firefox

#30769 Revise the Baseline glossary entry to reflect the new definition
  files/en-us/glossary/baseline/compatibility/index.md
Labels: Content:Glossary

#30797 Fix link to touchstart event
  files/en-us/web/api/touch/radiusx/index.md
Labels: Content:WebAPI

#30803 Remove unused reference to indexOfPort in Web MIDI API documentation code example
  files/en-us/web/api/web_midi_api/index.md
Labels: Content:WebAPI

#30805 Fix typo in urlSearchParams getAll index.md Return value section
  files/en-us/web/api/urlsearchparams/getall/index.md
Labels: Content:WebAPI

#30804 Add :user-valid pseudo-class to the pseudo-classes list
  files/en-us/web/css/pseudo-classes/index.md
Labels: Content:CSS

#30795 Revert "Remove non-existent AudioWorkletProcessor.paramterDescriptors"
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/audioworkletprocessor/parameterdescriptors/index.md
Labels: Content:WebAPI

#30800 Add badges to Baseline glossary page
  files/en-us/glossary/baseline/compatibility/high.png
  files/en-us/glossary/baseline/compatibility/index.md
  files/en-us/glossary/baseline/compatibility/limited.png
  files/en-us/glossary/baseline/compatibility/low.png
Labels: Content:Glossary

#30813 Synchronize with BCD v5.4.4
  files/en-us/web/api/css_properties_and_values_api/guide/index.md
Labels: Content:WebAPI

#30808 Update submit_event page
  files/en-us/web/api/htmlformelement/submit_event/index.md
Labels: Content:WebAPI

#30817 Fix broken link to removed dictionary
  files/en-us/web/api/rtcrtpsender/setparameters/index.md
Labels: Content:WebAPI

#30814 fix 'disappear' to 'appears'
  files/en-us/web/css/css_flexible_box_layout/mastering_wrapping_of_flex_items/index.md
Labels: Content:CSS

#30796 Fix link to pointlockchange event
  files/en-us/web/api/document/pointerlockelement/index.md
Labels: Content:WebAPI

#30806 Fix broken link by recommending Pointer events instead
  files/en-us/web/api/touch_events/using_touch_events/index.md
Labels: Content:WebAPI

#30427 feat: Editorial review for Shared Storage API docs
  files/en-us/web/api/shared_storage_api/index.md
  files/en-us/web/api/sharedstorage/append/index.md
  files/en-us/web/api/sharedstorage/clear/index.md
  files/en-us/web/api/sharedstorage/delete/index.md
  files/en-us/web/api/sharedstorage/index.md
  files/en-us/web/api/sharedstorage/set/index.md
  files/en-us/web/api/sharedstorageoperation/index.md
  files/en-us/web/api/sharedstoragerunoperation/index.md
  files/en-us/web/api/sharedstoragerunoperation/run/index.md
  files/en-us/web/api/sharedstorageselecturloperation/index.md
  files/en-us/web/api/sharedstorageselecturloperation/run/index.md
  files/en-us/web/api/sharedstorageworklet/index.md
  files/en-us/web/api/sharedstorageworkletglobalscope/index.md
  files/en-us/web/api/sharedstorageworkletglobalscope/register/index.md
  files/en-us/web/api/sharedstorageworkletglobalscope/sharedstorage/index.md
  files/en-us/web/api/web_storage_api/embedded-content.png
  files/en-us/web/api/web_storage_api/index.md
  files/en-us/web/api/window/index.md
  files/en-us/web/api/window/sharedstorage/index.md
  files/en-us/web/api/windowsharedstorage/index.md
  files/en-us/web/api/windowsharedstorage/run/index.md
  files/en-us/web/api/windowsharedstorage/selecturl/index.md
  files/en-us/web/api/windowsharedstorage/worklet/index.md
  files/en-us/web/api/worklet/index.md
  files/en-us/web/api/workletsharedstorage/context/index.md
  files/en-us/web/api/workletsharedstorage/entries/index.md
  files/en-us/web/api/workletsharedstorage/get/index.md
  files/en-us/web/api/workletsharedstorage/index.md
  files/en-us/web/api/workletsharedstorage/keys/index.md
  files/en-us/web/api/workletsharedstorage/length/index.md
  files/en-us/web/api/workletsharedstorage/remainingbudget/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

#30821 Fix a typo: apps/app
  files/en-us/webassembly/index.md
Labels: Content:wasm

#30828 Remove mention of PhotoSettings
  files/en-us/web/api/imagecapture/index.md
Labels: Content:WebAPI

#30823 Shared Storage API small amendments
  files/en-us/web/api/shared_storage_api/index.md
  files/en-us/web/api/windowsharedstorage/run/index.md
  files/en-us/web/api/windowsharedstorage/selecturl/index.md
Labels: Content:WebAPI

#30646 Move user_input_methods guide
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/learn/forms/index.md
  files/en-us/learn/forms/user_input_methods/index.md
  files/en-us/web/guide/index.md
  files/en-us/web/guide/user_input_methods/index.md
  files/en-us/web/guide/user_input_methods/user-input-and-controls.png
Labels: Content:Guide, Content:Learn:Forms

#30819 Remove mention of Navigator.securityPolicy
  files/en-us/web/api/navigator/index.md
Labels: Content:WebAPI

#30735 Renamed a section from "Resolver function" to "The resolve function"
  files/en-us/web/javascript/reference/global_objects/promise/promise/index.md
  files/en-us/web/javascript/reference/global_objects/promise/resolve/index.md
  files/en-us/web/javascript/reference/global_objects/promise/then/index.md
  files/en-us/web/javascript/reference/operators/import/index.md
Labels: Content:JS

#30833 Correcting a code example
  files/en-us/web/javascript/reference/global_objects/nan/index.md
Labels: Content:JS

#29987 Clarify encodeURI() vs. encodeURIComponent() usage
  files/en-us/web/javascript/reference/global_objects/encodeuri/index.md
Labels: Content:JS

#30583 CSS counter() function
  files/en-us/web/css/counter/index.md
  files/en-us/web/css/counters/index.md
Labels: Content:CSS

#30673 init documentation for ServiceWorkerGlobalScope/messageerror event
  files/en-us/web/api/serviceworkerglobalscope/index.md
  files/en-us/web/api/serviceworkerglobalscope/messageerror_event/index.md
Labels: Content:WebAPI

#30840 De-XHRify JavaScript debugging tutorial
  files/en-us/learn/tools_and_testing/cross_browser_testing/javascript/breakpoint.png
  files/en-us/learn/tools_and_testing/cross_browser_testing/javascript/debugger-tab.png
  files/en-us/learn/tools_and_testing/cross_browser_testing/javascript/index.md
Labels: Content:Learn:Cross-Browser-Testing

#30847 Update index.md
  files/en-us/web/api/eventtarget/eventtarget/index.md
Labels: Content:WebAPI

#30850 fix typo
  files/en-us/web/api/intersection_observer_api/index.md
Labels: Content:WebAPI

#30853 fix: Correct some 404 URLs
  files/en-us/_redirects.txt
  files/en-us/learn/common_questions/tools_and_setup/available_text_editors/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/react_getting_started/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_deployment_next/index.md
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/package_management/index.md
  files/en-us/mozilla/firefox/releases/4/the_add-on_bar/index.md
  files/en-us/mozilla/firefox/releases/79/index.md
  files/en-us/web/accessibility/aria/how_to_file_aria-related_bugs/index.md
  files/en-us/web/accessibility/seizure_disorders/index.md
  files/en-us/web/api/web_audio_api/index.md
  files/en-us/web/demos/index.md
  files/en-us/web/guide/mobile/index.md
  files/en-us/web/html/microdata/index.md
  files/en-us/web/media/audio_and_video_delivery/index.md
  files/en-us/web/tutorials/index.md
Labels: Content:HTML, Content:WebAPI, Content:Learn, Content:Other, Content:Accessibility, Content:Media, Content:Guide, Content:Learn:Client-side, Content:Firefox

#30835 Update Windows Meta key note
  files/en-us/web/api/keyboardevent/metakey/index.md
Labels: Content:WebAPI

#30855 Preserve history by replacing dead links from FX4 release notes with Archive.org links
  files/en-us/mozilla/firefox/releases/4/the_add-on_bar/index.md
Labels: Content:Firefox

#30815 Link all BCD entries for private class properties
  files/en-us/web/javascript/reference/classes/private_properties/index.md
Labels: Content:JS

#30809 Font preloads also require crossorigin attributes
  files/en-us/web/html/element/link/index.md
Labels: Content:HTML

#30486 WebTransportSendStream docs plus WebTransportReceiveStream and friends
  files/en-us/web/api/web_workers_api/transferable_objects/index.md
  files/en-us/web/api/webtransport/createbidirectionalstream/index.md
  files/en-us/web/api/webtransport/createunidirectionalstream/index.md
  files/en-us/web/api/webtransport_api/index.md
  files/en-us/web/api/webtransportbidirectionalstream/index.md
  files/en-us/web/api/webtransportbidirectionalstream/readable/index.md
  files/en-us/web/api/webtransportbidirectionalstream/writable/index.md
  files/en-us/web/api/webtransportreceivestream/getstats/index.md
  files/en-us/web/api/webtransportreceivestream/index.md
  files/en-us/web/api/webtransportsendstream/getstats/index.md
  files/en-us/web/api/webtransportsendstream/index.md
  files/en-us/web/api/webtransportsendstream/sendorder/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

#30857 fix code snippet at web_audio_api/visualizations_with_web_audio_api/index.md
  files/en-us/web/api/web_audio_api/visualizations_with_web_audio_api/index.md
Labels: Content:WebAPI

#29406 Add page for HTMLSelectElement showPicker()
  files/en-us/web/api/htmlinputelement/showpicker/index.md
  files/en-us/web/api/htmlselectelement/index.md
  files/en-us/web/api/htmlselectelement/showpicker/index.md
  files/en-us/web/security/user_activation/index.md
Labels: Content:WebAPI, Content:Security

#30452 update list for transient activation
  files/en-us/web/api/contactsmanager/select/index.md
  files/en-us/web/api/serial/requestport/index.md
  files/en-us/web/security/user_activation/index.md
Labels: Content:WebAPI, Content:Security

#30864 Clarify TextDecoder(Stream).ignoreBOM
  files/en-us/web/api/textdecoder/ignorebom/index.md
  files/en-us/web/api/textdecoder/textdecoder/index.md
  files/en-us/web/api/textdecoderstream/ignorebom/index.md
  files/en-us/web/api/textdecoderstream/textdecoderstream/index.md
Labels: Content:WebAPI

#30865 Sanitizer.sanitizeFor() not supported/intended to support - reflect BCD
  files/en-us/_redirects.txt
  files/en-us/web/api/element/sethtml/index.md
  files/en-us/web/api/html_sanitizer_api/index.md
  files/en-us/web/api/sanitizer/index.md
  files/en-us/web/api/sanitizer/sanitize/index.md
  files/en-us/web/api/sanitizer/sanitizefor/index.md
  files/en-us/web/api/sanitizer/sanitizer/index.md
Labels: Content:WebAPI

#30858 Fix examples for backgroud-position-[x/y]
  files/en-us/web/css/background-position-x/index.md
  files/en-us/web/css/background-position-y/index.md
Labels: Content:CSS

#30820 chore(CSS): Replace png images with SVG equivalents
  files/en-us/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/basics1.png
  files/en-us/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/basics1.svg
  files/en-us/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/basics2.png
  files/en-us/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/basics2.svg
  files/en-us/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/basics3.png
  files/en-us/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/basics3.svg
  files/en-us/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/basics4.png
  files/en-us/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/basics4.svg
  files/en-us/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/basics5.png
  files/en-us/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/basics5.svg
  files/en-us/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/basics6.png
  files/en-us/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/basics6.svg
  files/en-us/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/basics7.png
  files/en-us/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/basics7.svg
  files/en-us/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/index.md
Labels: Content:CSS

#30872 Minor improvement to Learn Measuring performance
  files/en-us/learn/performance/measuring_performance/index.md
Labels: Content:Learn

#30873 fix `Value` section of `Web/API/Navigator/languages`
  files/en-us/web/api/navigator/languages/index.md
Labels: Content:WebAPI

#30827 Neutralize link to inexistant dictionary property
  files/en-us/web/api/intersectionobserver/thresholds/index.md
Labels: Content:WebAPI

#30822 HTMLElement.disabled -> HTMLButtonElement.disabled
  files/en-us/web/api/webrtc_api/signaling_and_video_calling/index.md
Labels: Content:WebAPI

#30825 Remove dictionaries section in Payment Request API
  files/en-us/web/api/payment_request_api/index.md
Labels: Content:WebAPI

#30799 Update Glossary JavaScript index.md
  files/en-us/glossary/javascript/index.md
Labels: Content:Glossary

#30114 fix: update rust to wasm tutorial to state the correct passed string
  files/en-us/webassembly/rust_to_wasm/index.md
Labels: Content:wasm

#30883 Refactored the Web/API/MutationObserver/observe "Basic usage" example
  files/en-us/web/api/mutationobserver/observe/index.md
Labels: Content:WebAPI

#30856 docs(hgroup): adds related note from a different page
  files/en-us/web/html/element/hgroup/index.md
Labels: Content:HTML

#30846 fix(html): update srcset resolution switching algo
  files/en-us/learn/html/multimedia_and_embedding/responsive_images/index.md
Labels: Content:Learn:HTML

#30785 Update `::-webkit-scrollbar` text regarding overflow: scroll
  files/en-us/web/css/_doublecolon_-webkit-scrollbar/index.md
Labels: Content:CSS

#30879 Remove `text-align` unhelpful property.
  files/en-us/learn/javascript/first_steps/what_is_javascript/index.md
Labels: Content:Learn:JavaScript

#30884 Fix links flaws
  files/en-us/web/api/dommatrixreadonly/index.md
Labels: Content:WebAPI

#30885 Fix the interface name of the link
  files/en-us/web/api/dommatrixreadonly/index.md
Labels: Content:WebAPI

#30346 style update to `Window: deviceorientationabsolute event`
  files/en-us/web/api/window/deviceorientationabsolute_event/index.md
Labels: Content:WebAPI

#30891 Fix typo
  files/en-us/web/css/css_flexible_box_layout/typical_use_cases_of_flexbox/index.md
Labels: Content:CSS

#30898 Fix: mistake in a console.log() representation in "Array.prototype.findIndex()"
  files/en-us/web/javascript/reference/global_objects/array/findindex/index.md
Labels: Content:JS

#30899 fix typo
  files/en-us/mdn/writing_guidelines/writing_style_guide/code_style_guide/css/index.md
Labels: Content:Meta

#30895 Synchronize with BCD v5.4.5
  files/en-us/web/api/htmlselectelement/index.md
  files/en-us/web/api/htmlselectelement/showpicker/index.md
  files/en-us/web/api/window/credentialless/index.md
  files/en-us/web/api/window/index.md
  files/en-us/web/http/headers/supports-loading-mode/index.md
Labels: Content:WebAPI, Content:HTTP

#30541 some update of Remote-Playback-API
  files/en-us/web/api/htmlmediaelement/disableremoteplayback/index.md
  files/en-us/web/api/htmlmediaelement/index.md
  files/en-us/web/api/htmlmediaelement/remote/index.md
  files/en-us/web/api/remote_playback_api/index.md
  files/en-us/web/api/remoteplayback/cancelwatchavailability/index.md
  files/en-us/web/api/remoteplayback/connect_event/index.md
  files/en-us/web/api/remoteplayback/connecting_event/index.md
  files/en-us/web/api/remoteplayback/disconnect_event/index.md
  files/en-us/web/api/remoteplayback/index.md
  files/en-us/web/api/remoteplayback/prompt/index.md
  files/en-us/web/api/remoteplayback/state/index.md
  files/en-us/web/api/remoteplayback/watchavailability/index.md
  files/en-us/web/html/element/audio/index.md
  files/en-us/web/html/element/video/index.md
  files/jsondata/GroupData.json
Labels: Content:HTML, Content:WebAPI

#30534 Minor fixes to Window Controls Overlay API
  files/en-us/web/api/window_controls_overlay_api/index.md
  files/en-us/web/api/windowcontrolsoverlay/index.md
  files/en-us/web/api/windowcontrolsoverlay/visible/index.md
  files/en-us/web/api/windowcontrolsoverlaygeometrychangeevent/index.md
  files/en-us/web/api/windowcontrolsoverlaygeometrychangeevent/titlebararearect/index.md
  files/en-us/web/api/windowcontrolsoverlaygeometrychangeevent/visible/index.md
  files/en-us/web/api/windowcontrolsoverlaygeometrychangeevent/windowcontrolsoverlaygeometrychangeevent/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

#30897 fix(html): example for closing a dialog box with required form input
  files/en-us/web/html/element/dialog/index.md
Labels: Content:HTML

#30901 Fix a syntax error
  files/en-us/learn/forms/form_validation/index.md
Labels: Content:Learn:Forms

#30903 Remove the *Is ServiceWorker ready?* article link
  files/en-us/web/api/cache/index.md
  files/en-us/web/api/client/index.md
  files/en-us/web/api/clients/claim/index.md
  files/en-us/web/api/clients/index.md
  files/en-us/web/api/extendableevent/extendableevent/index.md
  files/en-us/web/api/extendableevent/index.md
  files/en-us/web/api/extendableevent/waituntil/index.md
  files/en-us/web/api/extendablemessageevent/data/index.md
  files/en-us/web/api/extendablemessageevent/extendablemessageevent/index.md
  files/en-us/web/api/extendablemessageevent/index.md
  files/en-us/web/api/extendablemessageevent/lasteventid/index.md
  files/en-us/web/api/extendablemessageevent/origin/index.md
  files/en-us/web/api/extendablemessageevent/ports/index.md
  files/en-us/web/api/extendablemessageevent/source/index.md
  files/en-us/web/api/fetchevent/clientid/index.md
  files/en-us/web/api/fetchevent/isreload/index.md
  files/en-us/web/api/fetchevent/preloadresponse/index.md
  files/en-us/web/api/fetchevent/replacesclientid/index.md
  files/en-us/web/api/fetchevent/request/index.md
  files/en-us/web/api/fetchevent/respondwith/index.md
  files/en-us/web/api/fetchevent/resultingclientid/index.md
  files/en-us/web/api/service_worker_api/index.md
  files/en-us/web/api/serviceworker/index.md
  files/en-us/web/api/serviceworkercontainer/index.md
  files/en-us/web/api/serviceworkercontainer/message_event/index.md
  files/en-us/web/api/serviceworkerglobalscope/clients/index.md
  files/en-us/web/api/serviceworkerglobalscope/index.md
  files/en-us/web/api/serviceworkerglobalscope/message_event/index.md
  files/en-us/web/api/serviceworkerglobalscope/messageerror_event/index.md
  files/en-us/web/api/serviceworkerglobalscope/registration/index.md
  files/en-us/web/api/serviceworkerglobalscope/skipwaiting/index.md
  files/en-us/web/api/serviceworkerregistration/active/index.md
  files/en-us/web/api/serviceworkerregistration/index.md
  files/en-us/web/api/serviceworkerregistration/installing/index.md
  files/en-us/web/api/serviceworkerregistration/scope/index.md
  files/en-us/web/api/serviceworkerregistration/unregister/index.md
  files/en-us/web/api/serviceworkerregistration/update/index.md
  files/en-us/web/api/serviceworkerregistration/updateviacache/index.md
  files/en-us/web/api/serviceworkerregistration/waiting/index.md
  files/en-us/web/api/windowclient/index.md
Labels: Content:WebAPI

#30717 some update to Notifications
  files/en-us/web/api/notification/index.md
  files/en-us/web/api/notificationevent/index.md
  files/en-us/web/api/notifications_api/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

#30905 Fix typo
  files/en-us/web/css/css_flexible_box_layout/aligning_items_in_a_flex_container/index.md
Labels: Content:CSS

#30907 Fix punctuation
  files/en-us/web/api/eventsource/index.md
Labels: Content:WebAPI

#30892 Rephrase a paragraph for clarity
  files/en-us/web/css/css_flexible_box_layout/typical_use_cases_of_flexbox/index.md
Labels: Content:CSS

#30890 Separate popover's light dismiss from Esc button close request
  files/en-us/web/api/popover_api/using/index.md
Labels: Content:WebAPI

#30912 fix: more accurate term and remove a self-referenced link
  files/en-us/web/javascript/reference/global_objects/sharedarraybuffer/grow/index.md
  files/en-us/web/javascript/reference/global_objects/sharedarraybuffer/growable/index.md
Labels: Content:JS

#30667 Improve `MDN/Community/Contributing/Translated_content`
  files/en-us/mdn/community/contributing/translated_content/index.md
Labels: Content:Meta

#30115 add description for `ScreenDetailed.change` event
  files/en-us/web/api/screen/index.md
  files/en-us/web/api/screendetailed/index.md
Labels: Content:WebAPI

#30511 changed require to dynamic imports
  files/en-us/learn/tools_and_testing/cross_browser_testing/automated_testing/index.md
Labels: Content:Learn:Cross-Browser-Testing

#30915 Make the warning about reduce() performance more self-consistent
  files/en-us/web/javascript/reference/global_objects/array/reduce/index.md
  files/en-us/web/javascript/reference/global_objects/array/reduceright/index.md
Labels: Content:JS

#30914 Make toLocaleString pages consistent
  files/en-us/web/javascript/reference/global_objects/bigint/tolocalestring/index.md
  files/en-us/web/javascript/reference/global_objects/date/tolocaledatestring/index.md
  files/en-us/web/javascript/reference/global_objects/date/tolocalestring/index.md
  files/en-us/web/javascript/reference/global_objects/date/tolocaletimestring/index.md
  files/en-us/web/javascript/reference/global_objects/number/tolocalestring/index.md
Labels: Content:JS

#30900 Fix trivial typography error
  files/en-us/web/api/htmlmediaelement/index.md
Labels: Content:WebAPI

#30918 fix(http): links to Keep-Alive specs
  files/en-us/web/http/headers/keep-alive/index.md
  files/en-us/web/http/resources_and_specifications/index.md
Labels: Content:HTTP

#30686 Fix link to Symbol
  files/en-us/_redirects.txt
  files/en-us/glossary/symbol/index.md
Labels: Content:Glossary

#30926 make snippet svg2 compatible
  files/en-us/web/css/filter-function/blur/index.md
Labels: Content:CSS

#30784 Update browser availability note on webkit-scrollbar page
  files/en-us/web/css/_doublecolon_-webkit-scrollbar/index.md
Labels: Content:CSS
