Repository mdn/content, pull requests merged in 2023-07, with the labels that each got.

#27678 Remove obsolete title parameter from registerProtocolHandler
  files/en-us/web/api/navigator/registerprotocolhandler/index.md
Labels: Content:WebAPI

#27684 Remove concurrency from the event loop article's title and description
  files/en-us/web/javascript/index.md
Labels: Content:JS

#27553 Fixed description for DocumentType.after() method
  files/en-us/web/api/documenttype/index.md
Labels: Content:WebAPI

#27691 chore(Browser_actions): delete Browser_actions
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/add-ons/webextensions/browser_actions/browser-action.png
  files/en-us/mozilla/add-ons/webextensions/browser_actions/index.md
Labels: Content:WebExt, Content:Other

#27662 Update: namespace crash course
  files/en-us/web/svg/namespaces_crash_course/index.md
Labels: Content:SVG

#27265 docs: update preventDefault() example to keydown
  files/en-us/web/api/event/preventdefault/index.md
Labels: Content:WebAPI

#27669 Improve DataTransfer.types description
  files/en-us/web/api/datatransfer/types/index.md
Labels: Content:WebAPI

#27546 fix a link in notification.tag
  files/en-us/web/api/notification/tag/index.md
Labels: Content:WebAPI

#27484 Mention when drop event is fired
  files/en-us/web/api/htmlelement/drop_event/index.md
Labels: Content:WebAPI

#27429 Mention that displaySurface cannot be changed in JS
  files/en-us/web/api/mediatrackconstraints/displaysurface/index.md
Labels: Content:WebAPI

#27458 chore: remove references to Modernizr
  files/en-us/learn/forms/html_forms_in_legacy_browsers/index.md
  files/en-us/learn/tools_and_testing/cross_browser_testing/javascript/index.md
  files/en-us/web/api/eventtarget/addeventlistener/index.md
  files/en-us/web/guide/mobile/a_hybrid_approach/index.md
Labels: Content:WebAPI, Content:Learn

#27465 add customelements getname method
  files/en-us/web/api/customelementregistry/getname/index.md
  files/en-us/web/api/customelementregistry/index.md
Labels: Content:WebAPI

#27692 chore(WebExt): Correct slug
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/add-ons/webextensions/user_interface/toolbar_button/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/toolbar_button/toolbar_button.png
Labels: Content:WebExt

#27705 Fixed typo
  files/en-us/web/api/htmldialogelement/open/index.md
Labels: Content:WebAPI

#27704 Fix "out-of-line key" link
  files/en-us/web/api/idbdatabase/createobjectstore/index.md
Labels: Content:WebAPI

#27706 Fixed typo
  files/en-us/web/api/writablestream/writablestream/index.md
Labels: Content:WebAPI

#27712 Fix dupe word typos
  files/en-us/glossary/progressive_web_apps/index.md
  files/en-us/mozilla/add-ons/webextensions/api/commands/onchanged/index.md
  files/en-us/web/accessibility/understanding_colors_and_luminance/index.md
  files/en-us/web/api/credentialscontainer/get/index.md
  files/en-us/web/api/csscontainerrule/containerquery/index.md
  files/en-us/web/api/csscontainerrule/index.md
  files/en-us/web/api/gpubuffer/usage/index.md
  files/en-us/web/api/gpuqueue/writetexture/index.md
  files/en-us/web/api/popover_api/index.md
  files/en-us/web/api/rtcpeerconnection/addtransceiver/index.md
  files/en-us/web/api/rtcrtpsender/replacetrack/index.md
  files/en-us/web/api/streams_api/using_readable_streams/index.md
  files/en-us/web/api/view_transitions_api/index.md
  files/en-us/web/css/css_filter_effects/using_filter_effects/index.md
  files/en-us/web/css/filter-function/hue-rotate/index.md
  files/en-us/web/css/general_sibling_combinator/index.md
  files/en-us/web/css/hypot/index.md
  files/en-us/web/html/element/button/index.md
  files/en-us/web/javascript/reference/regular_expressions/unicode_character_class_escape/index.md
Labels: Content:CSS, Content:HTML, Content:WebExt, Content:WebAPI, Content:JS, Content:Accessibility, Content:Glossary

#27702 Add link to preconnect hint introduced in Best Practices section
  files/en-us/web/performance/dns-prefetch/index.md
Labels: Content:Performance

#27679 Fix link to ShadowRoot.styleSheets
  files/en-us/web/api/shadowroot/adoptedstylesheets/index.md
Labels: Content:WebAPI

#27687 Fix typo
  files/en-us/web/api/paymentrequest/index.md
Labels: Content:WebAPI

#27545 Improve description for string methods that deal with code points
  files/en-us/web/javascript/reference/global_objects/string/charat/index.md
  files/en-us/web/javascript/reference/global_objects/string/charcodeat/index.md
  files/en-us/web/javascript/reference/global_objects/string/codepointat/index.md
  files/en-us/web/javascript/reference/global_objects/string/fromcharcode/index.md
  files/en-us/web/javascript/reference/global_objects/string/fromcodepoint/index.md
Labels: Content:JS

#27694 Use modern Blob.text() method in file reading example.
  files/en-us/web/api/file_api/index.md
Labels: Content:WebAPI

#27710 Add meta-docs about page-type in LA
  files/en-us/mdn/writing_guidelines/page_structures/page_types/page_type_key/index.md
Labels: Content:Meta

#27603 Correct Event.type description
  files/en-us/web/api/event/index.md
Labels: Content:WebAPI

#26959 Fix 26799: Document screenshots manifest member
  files/en-us/web/manifest/screenshots/index.md
Labels: Content:Other

#27251 Add `DOMPointReadOnly` to Geometry Interfaces
  files/en-us/web/api/geometry_interfaces/index.md
Labels: Content:WebAPI

#27253 Use "Note" callouts for different behaviors in Firefox
  files/en-us/web/api/element/contextmenu_event/index.md
Labels: Content:WebAPI

#27449 attachShadow mode: "closed" is not totally insecure
  files/en-us/web/api/web_components/using_shadow_dom/index.md
Labels: Content:WebAPI

#27504 Request.integrity is specified not computed
  files/en-us/web/api/request/integrity/index.md
Labels: Content:WebAPI

#27714 fix: add missing bracket to close forEach loop
  files/en-us/web/api/gamepad_api/using_the_gamepad_api/index.md
Labels: Content:WebAPI

#27231 Update WebGPU onsubmittedworkdone
  files/en-us/web/api/gpuqueue/onsubmittedworkdone/index.md
Labels: Content:WebAPI

#27441 Explicitly document getUserMedia() constraints shape
  files/en-us/web/api/mediadevices/getusermedia/index.md
Labels: Content:WebAPI

#27716 Remove Notification.requestPermission feature test
  files/en-us/web/api/notification/requestpermission_static/index.md
  files/en-us/web/api/notifications_api/using_the_notifications_api/index.md
  files/en-us/web/api/serviceworkerglobalscope/notificationclick_event/index.md
  files/en-us/web/api/serviceworkerregistration/shownotification/index.md
  files/en-us/web/progressive_web_apps/how_to/display_badge_on_app_icon/index.md
Labels: Content:WebAPI, Content:PWA

#27717 Docs additions for WebGPU updates up to Chrome 115
  files/en-us/web/api/gpu/requestadapter/index.md
  files/en-us/web/api/gpu/wgsllanguagefeatures/index.md
  files/en-us/web/api/gpucanvascontext/getcurrenttexture/index.md
  files/en-us/web/api/gpurenderbundleencoder/index.md
  files/en-us/web/api/gpurenderbundleencoder/setvertexbuffer/index.md
  files/en-us/web/api/gpurenderpassencoder/index.md
  files/en-us/web/api/gpurenderpassencoder/setvertexbuffer/index.md
  files/en-us/web/api/wgsllanguagefeatures/index.md
Labels: Content:WebAPI

#27718 Fix typo in storage access api demo
  files/en-us/web/api/storage_access_api/using/index.md
Labels: Content:WebAPI

#25919 Add more info about mid-iteration modications in for...in
  files/en-us/web/javascript/reference/statements/for...in/index.md
Labels: Content:JS

#26973 Create new binding glossary, streamline all declaration reference pages
  files/en-us/glossary/binding/index.md
  files/en-us/web/javascript/closures/index.md
  files/en-us/web/javascript/reference/functions/arrow_functions/index.md
  files/en-us/web/javascript/reference/global_objects/array/index.md
  files/en-us/web/javascript/reference/operators/assignment/index.md
  files/en-us/web/javascript/reference/operators/comma_operator/index.md
  files/en-us/web/javascript/reference/operators/destructuring_assignment/index.md
  files/en-us/web/javascript/reference/operators/function/index.md
  files/en-us/web/javascript/reference/operators/new.target/index.md
  files/en-us/web/javascript/reference/operators/this/index.md
  files/en-us/web/javascript/reference/statements/async_function/index.md
  files/en-us/web/javascript/reference/statements/async_function_star_/index.md
  files/en-us/web/javascript/reference/statements/class/index.md
  files/en-us/web/javascript/reference/statements/const/index.md
  files/en-us/web/javascript/reference/statements/for-await...of/index.md
  files/en-us/web/javascript/reference/statements/for...in/index.md
  files/en-us/web/javascript/reference/statements/for...of/index.md
  files/en-us/web/javascript/reference/statements/function/index.md
  files/en-us/web/javascript/reference/statements/function_star_/index.md
  files/en-us/web/javascript/reference/statements/import/index.md
  files/en-us/web/javascript/reference/statements/index.md
  files/en-us/web/javascript/reference/statements/let/index.md
  files/en-us/web/javascript/reference/statements/try...catch/index.md
  files/en-us/web/javascript/reference/statements/var/index.md
Labels: Content:JS, Content:Glossary

#27221 Update index.md
  files/en-us/web/api/fetch_api/using_fetch/index.md
Labels: Content:WebAPI

#27719 Fix styleSheets order description
  files/en-us/web/api/document/stylesheets/index.md
Labels: Content:WebAPI

#27725 CSS value functions - remove `{{Experimental_Inline}}` tag
  files/en-us/web/css/css_functions/index.md
Labels: Content:CSS

#27698 Update index.md
  files/en-us/learn/server-side/django/development_environment/index.md
Labels: Content:Learn:Django

#27707 update link and format
  files/en-us/mozilla/add-ons/webextensions/add_a_button_to_the_toolbar/index.md
  files/en-us/mozilla/add-ons/webextensions/api/menus/index.md
  files/en-us/mozilla/add-ons/webextensions/examples/index.md
  files/en-us/mozilla/add-ons/webextensions/extending_the_developer_tools/index.md
  files/en-us/mozilla/add-ons/webextensions/implement_a_settings_page/index.md
  files/en-us/mozilla/add-ons/webextensions/internationalization/index.md
  files/en-us/mozilla/add-ons/webextensions/working_with_the_tabs_api/index.md
Labels: Content:WebExt

#27735 Update description of strings in Blob array param value
  files/en-us/web/api/blob/blob/index.md
Labels: Content:WebAPI

#27734 Remove autofocus in attributes page
  files/en-us/web/html/attributes/index.md
Labels: Content:HTML

#27741 fix(CSS): Fix scrollbar contrast
  files/en-us/web/css/scrollbar-color/index.md
Labels: Content:CSS

#27763 Fix grammatical error on en-us URL page
  files/en-us/web/api/url/index.md
Labels: Content:WebAPI

#27766 Update index.md
  files/en-us/glossary/node.js/index.md
Labels: Content:Glossary

#27772 Remove idleCallback/animationFrame polyfills
  files/en-us/web/api/window/cancelanimationframe/index.md
  files/en-us/web/api/window/cancelidlecallback/index.md
  files/en-us/web/api/window/requestanimationframe/index.md
  files/en-us/web/api/window/requestidlecallback/index.md
Labels: Content:WebAPI

#27762 Improve isInputPending() docs and add info to pts api page
  files/en-us/web/api/navigator/scheduling/index.md
  files/en-us/web/api/prioritized_task_scheduling_api/index.md
  files/en-us/web/api/scheduling/index.md
  files/en-us/web/api/scheduling/isinputpending/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

#27547 docs(api): update functions and classes available to workers
  files/en-us/web/api/web_workers_api/functions_and_classes_available_to_workers/index.md
  files/en-us/web/api/web_workers_api/index.md
Labels: Content:WebAPI

#27765 Update index.md
  files/en-us/learn/css/styling_text/styling_lists/index.md
Labels: Content:Learn:CSS

#27708 fix: remove tailing '_' in slug
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/add-ons/webextensions/what_next/index.md
  files/en-us/mozilla/add-ons/webextensions/your_first_webextension/index.md
  files/en-us/mozilla/add-ons/webextensions/your_second_webextension/index.md
Labels: Content:WebExt

#27757 fix(CSS): use `gap` instead of margin in flex navigation
  files/en-us/web/css/css_flexible_box_layout/typical_use_cases_of_flexbox/index.md
Labels: Content:CSS

#27743 fix(CSS): rephrase justify-content syntax description
  files/en-us/web/css/justify-content/index.md
Labels: Content:CSS

#27739 fix(CSS): add `container-type` to containing blocks' list
  files/en-us/web/css/containing_block/index.md
Labels: Content:CSS

#27693 fix: CSS :has() add regular expression analogy
  files/en-us/web/css/_colon_has/index.md
Labels: Content:CSS

#27685 Fix CSS 'clip' page livesample output
  files/en-us/web/css/clip/index.md
Labels: Content:CSS

#27744 fix(CSS): mention containment context as containing block
  files/en-us/web/css/containing_block/index.md
  files/en-us/web/css/position/index.md
Labels: Content:CSS

#27736 fix(CSS): add a note to table-layout `fixed` value section
  files/en-us/web/css/table-layout/index.md
Labels: Content:CSS

#27779 Update index.md
  files/en-us/web/api/subtlecrypto/importkey/index.md
Labels: Content:WebAPI

#27769 firefox-115: update `canParse()` method name to follow the current convention
  files/en-us/mozilla/firefox/releases/115/index.md
Labels: Content:Firefox

#27671 FF115Relnote: link rel='modulepreload' supported
  files/en-us/mozilla/firefox/releases/115/index.md
Labels: Content:Firefox

#27807 Remove parentheses from text to be consistent with example code
  files/en-us/learn/javascript/building_blocks/functions/index.md
Labels: Content:Learn:JavaScript

#27804 added revert to css-wide keywords
  files/en-us/web/css/css_types/index.md
Labels: Content:CSS

#27798 See Also link
  files/en-us/web/api/css/registerproperty_static/index.md
Labels: Content:WebAPI

#27628 Remove Step 4 from Math 2 #27320
  files/en-us/learn/javascript/first_steps/test_your_skills_colon__math/index.md
Labels: Content:Learn

#27664 Rewrite: CSS namespace module and add CSS & HTML to glossary
  files/en-us/glossary/namespace/index.md
  files/en-us/web/css/css_namespaces/index.md
Labels: Content:CSS, Content:Glossary

#27312 added link to non-deprecated resource
  files/en-us/web/api/installevent/index.md
Labels: Content:WebAPI

#27815 Add a new resource to View Transitions API
  files/en-us/web/api/view_transitions_api/index.md
Labels: Content:WebAPI

#27808 IndexedDB API - remove link to now removed libraries
  files/en-us/web/api/indexeddb_api/index.md
Labels: Content:WebAPI

#27813 Remove deprecated EmbedLiveSample parameters from Custom form controls
  files/en-us/learn/forms/how_to_build_custom_form_controls/index.md
Labels: Content:Learn:Forms

#27778 Clarify how referrer policy on scripts works
  files/en-us/web/api/htmlscriptelement/referrerpolicy/index.md
Labels: Content:WebAPI

#27688 Add working example to CSS @property page
  files/en-us/web/css/@property/index.md
Labels: Content:CSS

#27795 js13kgames: Fix "Offline and background operation" link
  files/en-us/web/progressive_web_apps/tutorials/js13kgames/offline_service_workers/index.md
Labels: Content:PWA

#27822 Revert Prettier 3.0 changes in Svelte_TypeScript page
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_typescript/index.md
Labels: Content:Learn:Client-side

#27575 Use correct nomenclature to refert to author
  files/en-us/web/css/env/index.md
Labels: Content:CSS

#27696 Fix captions for `steps()`
  files/en-us/web/css/easing-function/jump.svg
Labels: Content:CSS

#27616 Document possible Notification() exceptions
  files/en-us/web/api/notification/notification/index.md
Labels: Content:WebAPI

#27015 WebAssembly | CompileStreaming - fix grammar
  files/en-us/webassembly/javascript_interface/compilestreaming/index.md
Labels: Content:wasm

#27830 Prettier style front-matter
  files/en-us/learn/forms/how_to_build_custom_form_controls/index.md
  files/en-us/web/css/@property/index.md
  files/en-us/web/javascript/reference/errors/bad_regexp_flag/index.md
  files/en-us/web/javascript/reference/errors/cant_assign_to_property/index.md
  files/en-us/web/javascript/reference/errors/cant_define_property_object_not_extensible/index.md
  files/en-us/web/javascript/reference/errors/cant_delete/index.md
  files/en-us/web/javascript/reference/errors/cant_redefine_property/index.md
  files/en-us/web/javascript/reference/errors/deprecated_octal/index.md
  files/en-us/web/javascript/reference/errors/getter_only/index.md
  files/en-us/web/javascript/reference/errors/invalid_const_assignment/index.md
  files/en-us/web/javascript/reference/errors/no_non-null_object/index.md
  files/en-us/web/javascript/reference/errors/no_properties/index.md
  files/en-us/web/javascript/reference/errors/not_a_constructor/index.md
  files/en-us/web/javascript/reference/errors/not_a_function/index.md
  files/en-us/web/javascript/reference/errors/not_defined/index.md
  files/en-us/web/javascript/reference/errors/property_access_denied/index.md
  files/en-us/web/javascript/reference/errors/read-only/index.md
  files/en-us/web/javascript/reference/errors/redeclared_parameter/index.md
  files/en-us/web/javascript/reference/errors/reserved_identifier/index.md
  files/en-us/web/javascript/reference/errors/strict_non_simple_params/index.md
  files/en-us/web/javascript/reference/errors/undeclared_var/index.md
  files/en-us/web/javascript/reference/errors/undefined_prop/index.md
  files/en-us/web/javascript/reference/errors/unexpected_type/index.md
Labels: Content:CSS, Content:JS, Content:Learn:Forms

#27819 Format /javascript using Prettier
  .prettierignore
  files/en-us/web/javascript/guide/control_flow_and_error_handling/index.md
  files/en-us/web/javascript/guide/grammar_and_types/index.md
  files/en-us/web/javascript/guide/modules/index.md
  files/en-us/web/javascript/reference/classes/extends/index.md
  files/en-us/web/javascript/reference/errors/bad_break/index.md
  files/en-us/web/javascript/reference/errors/invalid_assignment_left-hand_side/index.md
  files/en-us/web/javascript/reference/errors/property_access_denied/index.md
  files/en-us/web/javascript/reference/global_objects/array/foreach/index.md
  files/en-us/web/javascript/reference/global_objects/error/stack/index.md
  files/en-us/web/javascript/reference/global_objects/escape/index.md
  files/en-us/web/javascript/reference/global_objects/promise/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/leftcontext/index.md
  files/en-us/web/javascript/reference/lexical_grammar/index.md
  files/en-us/web/javascript/reference/operators/assignment/index.md
  files/en-us/web/javascript/reference/operators/conditional_operator/index.md
  files/en-us/web/javascript/reference/operators/exponentiation/index.md
  files/en-us/web/javascript/reference/operators/logical_and/index.md
  files/en-us/web/javascript/reference/operators/logical_or/index.md
  files/en-us/web/javascript/reference/operators/object_initializer/index.md
  files/en-us/web/javascript/reference/template_literals/index.md
Labels: Content:JS

#27783 fix(CSS): update `minmax()` value `auto`
  files/en-us/web/css/minmax/index.md
Labels: Content:CSS

#27805 fix: remove redundant css example
  files/en-us/web/html/element/section/index.md
Labels: Content:HTML

#27802 Fix typo in CSS layout grid: auto-fill to auto-fit
  files/en-us/learn/css/css_layout/grids/index.md
Labels: Content:Learn:CSS

#27816 fix(CSS): update syntax section of val() page
  files/en-us/web/css/var/index.md
Labels: Content:CSS

#27811 timing functions -> easing functions
  files/en-us/web/css/css_transitions/using_css_transitions/index.md
Labels: Content:CSS

#27724 Styling Scrollbars - add links to related articles
  files/en-us/web/css/css_overflow/index.md
  files/en-us/web/css/css_scrollbars_styling/index.md
  files/en-us/web/css/scrollbar-color/index.md
  files/en-us/web/css/scrollbar-gutter/index.md
  files/en-us/web/css/scrollbar-width/index.md
Labels: Content:CSS

#27794 added examples to emphasize the location of the @import at-rule
  files/en-us/web/css/@import/index.md
Labels: Content:CSS

#27836 Synchronize with BCD v5.3.1
  files/en-us/web/api/navigator/scheduling/index.md
  files/en-us/web/api/scheduling/index.md
  files/en-us/web/api/scheduling/isinputpending/index.md
  files/en-us/web/css/animation-duration/index.md
Labels: Content:CSS, Content:WebAPI

#27837 fix a link format
  files/en-us/mozilla/add-ons/webextensions/native_manifests/index.md
Labels: Content:WebExt

#27829 Fix grammar/spelling
  files/en-us/web/accessibility/aria/attributes/aria-autocomplete/index.md
Labels: Content:Accessibility

#27826 Fix XMLHttpRequestUpload description
  files/en-us/web/api/xmlhttprequestupload/index.md
Labels: Content:WebAPI

#27823 fix(learn): Prefer HTTPS URLs where possible for beginner resources, refresh links
  files/en-us/learn/common_questions/design_and_accessibility/design_for_all_types_of_users/index.md
  files/en-us/learn/common_questions/tools_and_setup/available_text_editors/index.md
Labels: Content:Learn

#27806 Remove confusing comma in Web/JavaScript
  files/en-us/web/javascript/index.md
Labels: Content:JS

#27850 remove prefix spaces
  files/en-us/mozilla/add-ons/webextensions/native_manifests/index.md
Labels: Content:WebExt

#27846 Fix indentation and whitespace across various code examples
  files/en-us/mozilla/add-ons/webextensions/api/contentscripts/register/index.md
  files/en-us/mozilla/add-ons/webextensions/api/contextualidentities/remove/index.md
  files/en-us/mozilla/add-ons/webextensions/api/contextualidentities/update/index.md
  files/en-us/mozilla/add-ons/webextensions/api/cookies/cookiestore/index.md
  files/en-us/mozilla/add-ons/webextensions/api/cookies/onchanged/index.md
  files/en-us/mozilla/add-ons/webextensions/api/cookies/onchangedcause/index.md
  files/en-us/mozilla/add-ons/webextensions/api/devtools/inspectedwindow/eval/index.md
  files/en-us/mozilla/add-ons/webextensions/api/devtools/panels/create/index.md
  files/en-us/mozilla/add-ons/webextensions/api/devtools/panels/elementspanel/onselectionchanged/index.md
  files/en-us/mozilla/add-ons/webextensions/api/devtools/panels/extensionpanel/index.md
  files/en-us/mozilla/add-ons/webextensions/api/downloads/getfileicon/index.md
  files/en-us/mozilla/add-ons/webextensions/api/downloads/open/index.md
  files/en-us/mozilla/add-ons/webextensions/api/downloads/show/index.md
  files/en-us/mozilla/add-ons/webextensions/api/identity/launchwebauthflow/index.md
  files/en-us/mozilla/add-ons/webextensions/api/management/getpermissionwarningsbymanifest/index.md
  files/en-us/mozilla/add-ons/webextensions/api/pageaction/onclicked/index.md
  files/en-us/mozilla/add-ons/webextensions/api/permissions/request/index.md
  files/en-us/mozilla/add-ons/webextensions/api/privacy/network/index.md
  files/en-us/mozilla/add-ons/webextensions/api/privacy/services/index.md
  files/en-us/mozilla/add-ons/webextensions/api/privacy/websites/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/onbrowserupdateavailable/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/onconnectexternal/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/onmessage/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/onmessageexternal/index.md
  files/en-us/mozilla/add-ons/webextensions/api/scripting/executionworld/index.md
  files/en-us/mozilla/add-ons/webextensions/api/sessions/forgetclosedtab/index.md
  files/en-us/mozilla/add-ons/webextensions/api/sessions/forgetclosedwindow/index.md
  files/en-us/mozilla/add-ons/webextensions/api/sessions/gettabvalue/index.md
  files/en-us/mozilla/add-ons/webextensions/api/sessions/getwindowvalue/index.md
  files/en-us/mozilla/add-ons/webextensions/api/storage/storagearea/get/index.md
  files/en-us/mozilla/add-ons/webextensions/api/storage/storagearea/set/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/connect/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/onmoved/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/onupdated/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/printpreview/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/saveaspdf/index.md
  files/en-us/mozilla/add-ons/webextensions/api/types/browsersetting/set/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/oncreatednavigationtarget/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/ondomcontentloaded/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/onhistorystateupdated/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/onreferencefragmentupdated/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/getsecurityinfo/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onauthrequired/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onbeforeredirect/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onbeforerequest/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onbeforesendheaders/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/oncompleted/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onerroroccurred/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onheadersreceived/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onresponsestarted/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/streamfilter/ondata/index.md
  files/en-us/mozilla/add-ons/webextensions/api/windows/remove/index.md
Labels: Content:WebExt

#27842 Prefer double quotes over single quotes for strings
  files/en-us/mozilla/add-ons/webextensions/api/commands/reset/index.md
  files/en-us/mozilla/add-ons/webextensions/api/commands/update/index.md
  files/en-us/mozilla/add-ons/webextensions/api/devtools/panels/extensionsidebarpane/setpage/index.md
  files/en-us/mozilla/add-ons/webextensions/api/downloads/showdefaultfolder/index.md
  files/en-us/mozilla/add-ons/webextensions/api/identity/launchwebauthflow/index.md
  files/en-us/mozilla/add-ons/webextensions/api/idle/querystate/index.md
  files/en-us/mozilla/add-ons/webextensions/api/scripting/executescript/index.md
  files/en-us/mozilla/add-ons/webextensions/api/storage/managed/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/executescript/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/filterresponsedata/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/streamfilter/write/index.md
Labels: Content:WebExt

#27843 Add/remove newlines in content as needed
  files/en-us/mozilla/add-ons/webextensions/api/contentscripts/register/index.md
  files/en-us/mozilla/add-ons/webextensions/api/contentscripts/registeredcontentscript/index.md
  files/en-us/mozilla/add-ons/webextensions/api/contentscripts/registeredcontentscript/unregister/index.md
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/rulecondition/index.md
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/urltransform/index.md
  files/en-us/mozilla/add-ons/webextensions/api/devtools/panels/extensionsidebarpane/onhidden/index.md
  files/en-us/mozilla/add-ons/webextensions/api/devtools/panels/extensionsidebarpane/onshown/index.md
  files/en-us/mozilla/add-ons/webextensions/api/devtools/panels/extensionsidebarpane/setexpression/index.md
  files/en-us/mozilla/add-ons/webextensions/api/find/find/index.md
  files/en-us/mozilla/add-ons/webextensions/api/permissions/request/index.md
  files/en-us/mozilla/add-ons/webextensions/api/privacy/network/index.md
  files/en-us/mozilla/add-ons/webextensions/api/privacy/websites/index.md
  files/en-us/mozilla/add-ons/webextensions/api/scripting/executescript/index.md
  files/en-us/mozilla/add-ons/webextensions/api/storage/storagearea/onchanged/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/insertcss/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/warmup/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/securityinfo/index.md
  files/en-us/mozilla/add-ons/webextensions/api/windows/create/index.md
  files/en-us/mozilla/add-ons/webextensions/api/windows/remove/index.md
  files/en-us/mozilla/add-ons/webextensions/api/windows/update/index.md
Labels: Content:WebExt

#27844 Add missing semicolons to end JS statements
  files/en-us/mozilla/add-ons/webextensions/api/downloads/showdefaultfolder/index.md
  files/en-us/mozilla/add-ons/webextensions/api/i18n/detectlanguage/index.md
  files/en-us/mozilla/add-ons/webextensions/api/index.md
  files/en-us/mozilla/add-ons/webextensions/api/notifications/onshown/index.md
  files/en-us/mozilla/add-ons/webextensions/api/omnibox/oninputstarted/index.md
  files/en-us/mozilla/add-ons/webextensions/api/pageaction/show/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/port/index.md
  files/en-us/mozilla/add-ons/webextensions/api/sessions/forgetclosedtab/index.md
  files/en-us/mozilla/add-ons/webextensions/api/sessions/forgetclosedwindow/index.md
  files/en-us/mozilla/add-ons/webextensions/api/sessions/getrecentlyclosed/index.md
  files/en-us/mozilla/add-ons/webextensions/api/sessions/onchanged/index.md
  files/en-us/mozilla/add-ons/webextensions/api/sessions/restore/index.md
  files/en-us/mozilla/add-ons/webextensions/api/storage/storagearea/set/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/create/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/filterresponsedata/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/streamfilter/close/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/streamfilter/disconnect/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/streamfilter/error/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/streamfilter/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/streamfilter/onerror/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/streamfilter/onstart/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/streamfilter/resume/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/streamfilter/status/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/streamfilter/suspend/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/streamfilter/write/index.md
Labels: Content:WebExt

#27083 fix single quote attribute solutions
  files/en-us/learn/html/introduction_to_html/getting_started/index.md
Labels: Content:Learn

#27727 HTML `<search>` element
  files/en-us/web/html/element/index.md
  files/en-us/web/html/element/search/index.md
  files/en-us/web/html/index.md
Labels: Content:HTML

#27738 FF115 Update to link rel=modulepreload
  files/en-us/web/html/attributes/rel/modulepreload/index.md
  files/en-us/web/html/attributes/rel/preload/index.md
  files/en-us/web/javascript/guide/modules/index.md
Labels: Content:HTML, Content:JS

#27697 correct an error description of Request instance behavior
  files/en-us/web/api/request/index.md
Labels: Content:WebAPI

#27755 fix(CSS): mention `word-break: break-all` prevents hyphenation
  files/en-us/web/css/hyphens/index.md
Labels: Content:CSS

#27856 Fix typos
  files/en-us/mdn/writing_guidelines/page_structures/page_types/page_type_key/index.md
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/web/css/animation-range/index.md
  files/en-us/web/css/namespace_separator/index.md
  files/en-us/web/html/element/search/index.md
  files/en-us/web/progressive_web_apps/guides/caching/index.md
Labels: Content:CSS, Content:HTML, Content:Firefox, Content:Meta, Content:PWA

#27862 Remove all mentions of Atom editor
  files/en-us/learn/tools_and_testing/cross_browser_testing/html_and_css/atom-csslint.png
  files/en-us/learn/tools_and_testing/cross_browser_testing/html_and_css/atom-htmltidy.png
  files/en-us/learn/tools_and_testing/cross_browser_testing/html_and_css/index.md
  files/en-us/learn/tools_and_testing/cross_browser_testing/javascript/index.md
  files/en-us/learn/tools_and_testing/cross_browser_testing/javascript/jshint-linter.png
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/introducing_complete_toolchain/index.md
Labels: Content:Learn:Client-side, Content:Learn:Cross-Browser-Testing

#27809 fix broken links to webextensions repo main branch
  files/en-us/mozilla/add-ons/webextensions/api/devtools/panels/index.md
  files/en-us/mozilla/add-ons/webextensions/api/downloads/search/index.md
  files/en-us/mozilla/add-ons/webextensions/api/i18n/locale-specific_message_reference/index.md
  files/en-us/mozilla/add-ons/webextensions/api/menus/onshown/index.md
  files/en-us/mozilla/add-ons/webextensions/api/sidebaraction/index.md
  files/en-us/mozilla/add-ons/webextensions/api/storage/managed/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/filterresponsedata/index.md
  files/en-us/mozilla/add-ons/webextensions/content_scripts/index.md
  files/en-us/mozilla/add-ons/webextensions/examples/index.md
  files/en-us/mozilla/add-ons/webextensions/internationalization/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/browser_action/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/declarative_net_request/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/homepage_url/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/page_action/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/sidebar_action/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/web_accessible_resources/index.md
  files/en-us/mozilla/add-ons/webextensions/modify_a_web_page/index.md
  files/en-us/mozilla/add-ons/webextensions/native_messaging/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/context_menu_items/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/devtools_panels/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/extension_pages/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/notifications/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/omnibox/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/options_pages/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/page_actions/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/popups/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/sidebars/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/toolbar_button/index.md
  files/en-us/mozilla/add-ons/webextensions/work_with_contextual_identities/index.md
  files/en-us/mozilla/add-ons/webextensions/work_with_the_bookmarks_api/index.md
  files/en-us/mozilla/add-ons/webextensions/work_with_the_cookies_api/index.md
  files/en-us/mozilla/add-ons/webextensions/working_with_files/index.md
  files/en-us/mozilla/add-ons/webextensions/working_with_the_tabs_api/index.md
  files/en-us/mozilla/add-ons/webextensions/your_first_webextension/index.md
  files/en-us/mozilla/add-ons/webextensions/your_second_webextension/index.md
Labels: Content:WebExt

#27483 Update getManifest information to improve browser nuances
  files/en-us/mozilla/add-ons/webextensions/api/runtime/getmanifest/index.md
Labels: Content:WebExt

#27827 Update manifest_version
  files/en-us/mozilla/add-ons/webextensions/manifest.json/manifest_version/index.md
Labels: Content:WebExt

#27838 delete a orphaned page webextensions/prerequisites
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/add-ons/webextensions/prerequisites/index.md
Labels: Content:WebExt

#27854 delete empty note
  files/en-us/mozilla/add-ons/webextensions/browser_compatibility_for_manifest.json/index.md
Labels: Content:WebExt

#27731 docs(template): Add template for CSS module landing pages
  files/en-us/mdn/writing_guidelines/page_structures/page_types/css_module_landing_page_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/index.md
Labels: Content:Meta

#27866 Added missing period to sentence under "The Console API"
  files/en-us/learn/tools_and_testing/cross_browser_testing/javascript/index.md
Labels: Content:Learn:Cross-Browser-Testing

#27601 2 New pages: selectors and combinators & selector structure
  files/en-us/learn/css/building_blocks/cascade_and_inheritance/index.md
  files/en-us/learn/css/building_blocks/selectors/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/css_selector_page_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/page_type_key/index.md
  files/en-us/web/api/document/queryselector/index.md
  files/en-us/web/api/document/queryselectorall/index.md
  files/en-us/web/api/document_object_model/locating_dom_elements_using_selectors/index.md
  files/en-us/web/api/documentfragment/queryselector/index.md
  files/en-us/web/api/element/closest/index.md
  files/en-us/web/api/element/matches/index.md
  files/en-us/web/api/element/queryselectorall/index.md
  files/en-us/web/api/htmlformelement/index.md
  files/en-us/web/css/_colon_has/index.md
  files/en-us/web/css/cascade/index.md
  files/en-us/web/css/class_selectors/index.md
  files/en-us/web/css/css_selectors/selector_structure/index.md
  files/en-us/web/css/css_selectors/selectors_and_combinators/index.md
  files/en-us/web/css/id_selectors/index.md
  files/en-us/web/css/index.md
  files/en-us/web/css/reference/index.md
  files/en-us/web/css/selector_list/index.md
  files/en-us/web/css/syntax/index.md
  files/en-us/web/css/type_selectors/index.md
  files/en-us/web/css/universal_selectors/index.md
Labels: Content:CSS, Content:WebAPI, Content:Meta, Content:Learn:CSS

#27588 New module: CSS cascade module
  files/en-us/web/css/css_cascade/index.md
Labels: Content:CSS

#27867 CSS :scope: grammar and example clarification
  files/en-us/web/css/_colon_scope/index.md
Labels: Content:CSS

#27817 Updates to the permission API
  files/en-us/web/api/permissions_api/index.md
  files/en-us/web/api/permissions_api/using_the_permissions_api/index.md
Labels: Content:WebAPI

#27868 Experimental features - tidy up scroll driven animations
  files/en-us/mozilla/firefox/experimental_features/index.md
Labels: Content:Firefox

#27839 Change code snippets into proper code examples
  files/en-us/mozilla/add-ons/webextensions/api/action/seticon/index.md
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/seticon/index.md
  files/en-us/mozilla/add-ons/webextensions/api/menus/create/index.md
  files/en-us/mozilla/add-ons/webextensions/api/menus/update/index.md
  files/en-us/mozilla/add-ons/webextensions/api/pageaction/seticon/index.md
  files/en-us/mozilla/add-ons/webextensions/api/sidebaraction/seticon/index.md
Labels: Content:WebExt

#27874 fix `navigator.virtualKeyboard.overlaysContent` in example code
  files/en-us/web/api/virtualkeyboard/geometrychange_event/index.md
  files/en-us/web/api/virtualkeyboard/index.md
Labels: Content:WebAPI

#27690 fix: reword min() and max() relative unit uses
  files/en-us/web/css/max/index.md
  files/en-us/web/css/min/index.md
Labels: Content:CSS

#27835 Format some files in WebExtensions folder
  .prettierignore
  files/en-us/mozilla/add-ons/webextensions/add_a_button_to_the_toolbar/index.md
  files/en-us/mozilla/add-ons/webextensions/background_scripts/index.md
  files/en-us/mozilla/add-ons/webextensions/build_a_cross_browser_extension/index.md
  files/en-us/mozilla/add-ons/webextensions/chrome_incompatibilities/index.md
  files/en-us/mozilla/add-ons/webextensions/content_scripts/index.md
  files/en-us/mozilla/add-ons/webextensions/content_security_policy/index.md
  files/en-us/mozilla/add-ons/webextensions/extending_the_developer_tools/index.md
  files/en-us/mozilla/add-ons/webextensions/implement_a_settings_page/index.md
  files/en-us/mozilla/add-ons/webextensions/interact_with_the_clipboard/index.md
  files/en-us/mozilla/add-ons/webextensions/intercept_http_requests/index.md
  files/en-us/mozilla/add-ons/webextensions/internationalization/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/action/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/browser_action/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/declarative_net_request/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/page_action/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/web_accessible_resources/index.md
  files/en-us/mozilla/add-ons/webextensions/modify_a_web_page/index.md
  files/en-us/mozilla/add-ons/webextensions/native_manifests/index.md
  files/en-us/mozilla/add-ons/webextensions/native_messaging/index.md
  files/en-us/mozilla/add-ons/webextensions/sharing_objects_with_page_scripts/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/browser_styles/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/context_menu_items/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/devtools_panels/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/omnibox/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/options_pages/index.md
  files/en-us/mozilla/add-ons/webextensions/work_with_the_bookmarks_api/index.md
  files/en-us/mozilla/add-ons/webextensions/work_with_the_cookies_api/index.md
  files/en-us/mozilla/add-ons/webextensions/working_with_files/index.md
  files/en-us/mozilla/add-ons/webextensions/working_with_the_tabs_api/index.md
  files/en-us/mozilla/add-ons/webextensions/your_first_webextension/index.md
  files/en-us/mozilla/add-ons/webextensions/your_second_webextension/index.md
Labels: Content:WebExt

#27530 Add missing style value for contain: content
  files/en-us/web/css/css_containment/index.md
Labels: Content:CSS

#27814 FF116 Relnote: Audio Output Devices API
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/116/index.md
Labels: Content:Firefox

#27847 clarify sharedWorker name usage
  files/en-us/web/api/sharedworker/sharedworker/index.md
Labels: Content:WebAPI

#27870 See also link plus grammar nits
  files/en-us/web/html/element/index.md
Labels: Content:HTML

#27796 added the release note for @import supports(…)
  files/en-us/mozilla/firefox/releases/115/index.md
Labels: Content:Firefox

#27877 FF116 Relnote: Support for CSP script-src with hashes to allow external files
  files/en-us/mozilla/firefox/releases/116/index.md
Labels: Content:Firefox

#27883 Grammer update
  files/en-us/web/api/sensor_apis/index.md
Labels: Content:WebAPI

#27841 Fix formatting of JS/JSON objects in WebExtensions pages
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/index.md
  files/en-us/mozilla/add-ons/webextensions/api/downloads/download/index.md
  files/en-us/mozilla/add-ons/webextensions/api/i18n/getmessage/index.md
  files/en-us/mozilla/add-ons/webextensions/api/i18n/locale-specific_message_reference/index.md
  files/en-us/mozilla/add-ons/webextensions/api/management/getpermissionwarningsbymanifest/index.md
  files/en-us/mozilla/add-ons/webextensions/api/notifications/clear/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/onmessage/index.md
  files/en-us/mozilla/add-ons/webextensions/api/storage/storagearea/get/index.md
  files/en-us/mozilla/add-ons/webextensions/api/theme/update/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/onbeforenavigate/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/oncommitted/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/oncompleted/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/oncreatednavigationtarget/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/ondomcontentloaded/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/onerroroccurred/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/onhistorystateupdated/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/onreferencefragmentupdated/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/getsecurityinfo/index.md
Labels: Content:WebExt

#27858 fix broken link and correct livesample macro's param
  files/en-us/web/mathml/element/msub/index.md
  files/en-us/web/mathml/element/msubsup/index.md
  files/en-us/web/mathml/element/msup/index.md
Labels: Content:MathML

#27873 Update index.md
  files/en-us/web/css/position/index.md
Labels: Content:CSS

#27683 fix: updating a11y success criteria
  files/en-us/web/accessibility/understanding_wcag/operable/index.md
  files/en-us/web/accessibility/understanding_wcag/understandable/index.md
Labels: Content:Accessibility

#27237 docs(css): Add docs for audio pseudo-classes
  files/en-us/web/css/_colon_buffering/index.md
  files/en-us/web/css/_colon_muted/index.md
  files/en-us/web/css/_colon_paused/index.md
  files/en-us/web/css/_colon_playing/index.md
  files/en-us/web/css/_colon_seeking/index.md
  files/en-us/web/css/_colon_stalled/index.md
  files/en-us/web/css/_colon_volume-locked/index.md
Labels: Content:CSS

#27889 Use new URL to combobox pattern in APG
  files/en-us/web/accessibility/aria/roles/combobox_role/index.md
Labels: Content:Accessibility

#27888 Typo "controller" -> "controlled" on "Headers: set()"
  files/en-us/web/api/headers/set/index.md
Labels: Content:WebAPI

#27566 Explain requesting and prompting users for host_permissions
  files/en-us/mozilla/add-ons/webextensions/manifest.json/host_permissions/index.md
Labels: Content:WebExt

#27677 fix: animation-timeline values in syntax section
  files/en-us/web/css/animation-timeline/index.md
Labels: Content:CSS

#27537 Update CSS scroll snap properties
  files/en-us/web/css/scroll-margin-block-end/index.md
  files/en-us/web/css/scroll-margin-block-start/index.md
  files/en-us/web/css/scroll-margin-block/index.md
  files/en-us/web/css/scroll-margin-bottom/index.md
  files/en-us/web/css/scroll-margin-inline-end/index.md
  files/en-us/web/css/scroll-margin-inline-start/index.md
  files/en-us/web/css/scroll-margin-inline/index.md
  files/en-us/web/css/scroll-margin-left/index.md
  files/en-us/web/css/scroll-margin-right/index.md
  files/en-us/web/css/scroll-margin-top/index.md
  files/en-us/web/css/scroll-margin/index.md
  files/en-us/web/css/scroll-padding-block-end/index.md
  files/en-us/web/css/scroll-padding-block-start/index.md
  files/en-us/web/css/scroll-padding-block/index.md
  files/en-us/web/css/scroll-padding-bottom/index.md
  files/en-us/web/css/scroll-padding-inline-end/index.md
  files/en-us/web/css/scroll-padding-inline-start/index.md
  files/en-us/web/css/scroll-padding-inline/index.md
  files/en-us/web/css/scroll-padding-left/index.md
  files/en-us/web/css/scroll-padding-right/index.md
  files/en-us/web/css/scroll-padding-top/index.md
  files/en-us/web/css/scroll-padding/index.md
  files/en-us/web/css/scroll-snap-align/index.md
  files/en-us/web/css/scroll-snap-stop/index.md
  files/en-us/web/css/scroll-snap-type/index.md
Labels: Content:CSS

#27890 Clarify sorting for time zone IDs
  files/en-us/web/javascript/reference/global_objects/intl/supportedvaluesof/index.md
Labels: Content:JS

#27894 #27893: Fix Broken Browser Compatabity Link
  files/en-us/web/api/webgl_api/index.md
Labels: Content:WebAPI

#27550 Fix WCAG Guideline section number
  files/en-us/web/html/element/meta/index.md
Labels: Content:HTML

#27325 sandbox is not supported in Content-Security-Policy-Report-Only
  files/en-us/web/http/headers/content-security-policy-report-only/index.md
Labels: Content:HTTP

#26781 Adding white-space-collapse and text-wrap properties
  files/en-us/web/css/css_text/index.md
  files/en-us/web/css/text-wrap/index.md
  files/en-us/web/css/white-space-collapse/index.md
  files/en-us/web/css/white-space/index.md
Labels: Content:CSS

#27902 relnote(116): CSSPropertyRule and registerProperty() enabled in Fx nightly
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/web/api/css_properties_and_values_api/index.md
  files/en-us/web/api/csspropertyrule/index.md
Labels: Content:WebAPI, Content:Firefox

#27903 Move `{ type: "text/javascript" }` from Array.prototype.map's thisArg to Blob's options
  files/en-us/web/api/web_workers_api/using_web_workers/index.md
Labels: Content:WebAPI

#27901 Reorder subsections
  files/en-us/learn/forms/other_form_controls/index.md
Labels: Content:Learn:Forms

#27904 A reminder about exitPointerLock()
  files/en-us/web/api/document/exitpointerlock/index.md
Labels: Content:WebAPI

#27845 Add spacing in between brackets of objects in JS
  files/en-us/mozilla/add-ons/webextensions/api/action/seticon/index.md
  files/en-us/mozilla/add-ons/webextensions/api/contentscripts/register/index.md
  files/en-us/mozilla/add-ons/webextensions/api/cookies/remove/index.md
  files/en-us/mozilla/add-ons/webextensions/api/cookies/set/index.md
  files/en-us/mozilla/add-ons/webextensions/api/history/deleteurl/index.md
  files/en-us/mozilla/add-ons/webextensions/api/menus/create/index.md
  files/en-us/mozilla/add-ons/webextensions/api/menus/index.md
  files/en-us/mozilla/add-ons/webextensions/api/notifications/update/index.md
  files/en-us/mozilla/add-ons/webextensions/api/omnibox/oninputchanged/index.md
  files/en-us/mozilla/add-ons/webextensions/api/omnibox/oninputentered/index.md
  files/en-us/mozilla/add-ons/webextensions/api/pageaction/getpopup/index.md
  files/en-us/mozilla/add-ons/webextensions/api/pageaction/onclicked/index.md
  files/en-us/mozilla/add-ons/webextensions/api/permissions/contains/index.md
  files/en-us/mozilla/add-ons/webextensions/api/proxy/onrequest/index.md
  files/en-us/mozilla/add-ons/webextensions/api/proxy/register/index.md
  files/en-us/mozilla/add-ons/webextensions/api/proxy/settings/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/connect/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/lasterror/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/onconnect/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/onconnectexternal/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/onmessage/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/port/index.md
  files/en-us/mozilla/add-ons/webextensions/api/sessions/forgetclosedtab/index.md
  files/en-us/mozilla/add-ons/webextensions/api/sessions/forgetclosedwindow/index.md
  files/en-us/mozilla/add-ons/webextensions/api/sidebaraction/gettitle/index.md
  files/en-us/mozilla/add-ons/webextensions/api/sidebaraction/setpanel/index.md
  files/en-us/mozilla/add-ons/webextensions/api/sidebaraction/settitle/index.md
  files/en-us/mozilla/add-ons/webextensions/api/storage/storagearea/set/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/insertcss/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/move/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/reload/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/removecss/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/setzoomsettings/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/update/index.md
  files/en-us/mozilla/add-ons/webextensions/api/userscripts/onbeforescript/index.md
  files/en-us/mozilla/add-ons/webextensions/api/userscripts/working_with_userscripts/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/filterresponsedata/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/getsecurityinfo/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onauthrequired/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onbeforerequest/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onsendheaders/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/streamfilter/close/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/streamfilter/disconnect/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/streamfilter/error/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/streamfilter/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/streamfilter/onerror/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/streamfilter/onstart/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/streamfilter/resume/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/streamfilter/status/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/streamfilter/suspend/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/streamfilter/write/index.md
  files/en-us/mozilla/add-ons/webextensions/api/windows/create/index.md
Labels: Content:WebExt

#27910 fix: revise active learning exercise
  files/en-us/learn/html/introduction_to_html/getting_started/index.md
Labels: Content:Learn:HTML
