Repository mdn/content, pull requests merged in 2023-04, with the labels that each got.

#25820 Synchronize with BCD v5.2.47
  files/en-us/web/api/badging_api/index.md
  files/en-us/web/api/navigator/clearappbadge/index.md
  files/en-us/web/api/navigator/index.md
  files/en-us/web/api/navigator/setappbadge/index.md
  files/en-us/web/css/@media/index.md
  files/en-us/web/css/@media/update-frequency/index.md
  files/en-us/web/css/_colon_user-invalid/index.md
  files/en-us/web/css/_colon_user-valid/index.md
  files/en-us/web/html/element/iframe/index.md
  files/en-us/web/http/headers/sec-gpc/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:HTTP

#25230 Fix transmission -> webrtc
  files/en-us/web/api/mediacapabilities/encodinginfo/index.md
Labels: Content:WebAPI

#25122 Small change proposal
  files/en-us/web/api/window/requestanimationframe/index.md
Labels: Content:WebAPI

#25463 Update link syntax for web/api/window/opener
  files/en-us/web/api/window/opener/index.md
Labels: Content:WebAPI

#25816 Fix APIRef sidebars for Fetch
  files/en-us/web/api/headers/append/index.md
  files/en-us/web/api/headers/delete/index.md
  files/en-us/web/api/headers/entries/index.md
  files/en-us/web/api/headers/foreach/index.md
  files/en-us/web/api/headers/get/index.md
  files/en-us/web/api/headers/has/index.md
  files/en-us/web/api/headers/headers/index.md
  files/en-us/web/api/headers/keys/index.md
  files/en-us/web/api/headers/set/index.md
  files/en-us/web/api/headers/values/index.md
  files/en-us/web/api/request/arraybuffer/index.md
  files/en-us/web/api/request/blob/index.md
  files/en-us/web/api/request/body/index.md
  files/en-us/web/api/request/bodyused/index.md
  files/en-us/web/api/request/cache/index.md
  files/en-us/web/api/request/clone/index.md
  files/en-us/web/api/request/credentials/index.md
  files/en-us/web/api/request/destination/index.md
  files/en-us/web/api/request/formdata/index.md
  files/en-us/web/api/request/headers/index.md
  files/en-us/web/api/request/integrity/index.md
  files/en-us/web/api/request/method/index.md
  files/en-us/web/api/request/mode/index.md
  files/en-us/web/api/request/redirect/index.md
  files/en-us/web/api/request/referrer/index.md
  files/en-us/web/api/request/referrerpolicy/index.md
  files/en-us/web/api/request/text/index.md
  files/en-us/web/api/request/url/index.md
  files/en-us/web/api/response/arraybuffer/index.md
  files/en-us/web/api/response/blob/index.md
  files/en-us/web/api/response/body/index.md
  files/en-us/web/api/response/bodyused/index.md
  files/en-us/web/api/response/clone/index.md
  files/en-us/web/api/response/error/index.md
  files/en-us/web/api/response/formdata/index.md
  files/en-us/web/api/response/headers/index.md
  files/en-us/web/api/response/ok/index.md
  files/en-us/web/api/response/redirect/index.md
  files/en-us/web/api/response/redirected/index.md
  files/en-us/web/api/response/response/index.md
  files/en-us/web/api/response/status/index.md
  files/en-us/web/api/response/statustext/index.md
  files/en-us/web/api/response/text/index.md
  files/en-us/web/api/response/type/index.md
  files/en-us/web/api/response/url/index.md
Labels: Content:WebAPI

#25811 <details>,<dfn>,<diolog>,<div> and <dl> elements improved
  files/en-us/web/html/element/details/index.md
  files/en-us/web/html/element/dfn/index.md
  files/en-us/web/html/element/dialog/index.md
  files/en-us/web/html/element/div/index.md
  files/en-us/web/html/element/dl/index.md
  files/en-us/web/html/element/em/index.md
  files/en-us/web/html/element/fieldset/index.md
  files/en-us/web/html/element/figure/index.md
  files/en-us/web/html/element/form/index.md
Labels: Content:HTML

#25506 Updating warning around -webkit-scroll
  files/en-us/web/css/_doublecolon_-webkit-scrollbar/index.md
Labels: Content:CSS

#25114 Update Safari AVIF support
  files/en-us/web/html/element/img/index.md
Labels: Content:HTML

#25817 Improve example for bodyUsed
  files/en-us/web/api/response/bodyused/index.md
Labels: Content:WebAPI

#25833 testingbot isn't pointing testingbot
  files/en-us/learn/tools_and_testing/cross_browser_testing/automated_testing/index.md
Labels: Content:Learn

#25823 chore: remove deprecated {{htmlattrxref}} macro
  files/en-us/glossary/submit_button/index.md
  files/en-us/web/api/formdata/formdata/index.md
  files/en-us/web/css/filter-function/brightness/index.md
Labels: Content:CSS, Content:WebAPI, Content:Glossary

#25828 Fixed `findLastIndex()` return value
  files/en-us/web/javascript/reference/global_objects/typedarray/findlastindex/index.md
Labels: Content:JS

#25836 Fix capitalization of anchor
  files/en-us/web/api/formdata/formdata/index.md
Labels: Content:WebAPI

#25827 Correct output message
  files/en-us/web/javascript/reference/global_objects/typedarray/findlast/index.md
Labels: Content:JS

#25829 Update index.md
  files/en-us/web/css/css_box_model/mastering_margin_collapsing/index.md
Labels: Content:CSS

#25826 Removed unneeded method parameter
  files/en-us/web/api/writablestream/index.md
Labels: Content:WebAPI

#24346 Reword/restyle Glossary Definition for Speed Index
  files/en-us/glossary/speed_index/index.md
Labels: Content:Glossary

#25837 Fix link flaw on Permissions-Policy page
  files/en-us/web/http/headers/permissions-policy/index.md
Labels: Content:HTTP

#25825 Fix incorrect method name
  files/en-us/web/api/htmlinputelement/stepdown/index.md
Labels: Content:WebAPI

#25819 Some fetch guide refactorings
  files/en-us/web/api/fetch_api/index.md
  files/en-us/web/api/fetch_api/using_fetch/index.md
Labels: Content:WebAPI

#25822 Add info about order of touches in the array
  files/en-us/web/api/touchevent/touches/index.md
Labels: Content:WebAPI

#25840 Remove JS Date class example from HTTP Date header docs
  files/en-us/web/http/headers/date/index.md
Labels: Content:HTTP

#25841 Fix misleading statement about breaking out of switch
  files/en-us/web/javascript/reference/statements/switch/index.md
Labels: Content:JS

#25832 Correct descriptions on "Logical properties for margins, borders, and padding"
  files/en-us/web/css/css_logical_properties/margins_borders_padding/index.md
Labels: Content:CSS

#25844 Update index.md
  files/en-us/web/javascript/reference/global_objects/proxy/proxy/construct/index.md
Labels: Content:JS

#25846 Update typo
  files/en-us/learn/javascript/objects/object-oriented_programming/index.md
Labels: Content:Learn

#25847 Update: property page to Javascript property page
  files/en-us/glossary/object_reference/index.md
Labels: Content:Glossary

#25852 Fix links to events in WebSockets API
  files/en-us/web/api/websockets_api/writing_websocket_client_applications/index.md
Labels: Content:WebAPI

#25850 Remove deprecated parameters to an {{EmbedLiveSample}} macros
  files/en-us/web/css/clip-path/index.md
Labels: Content:CSS

#25854 Fix capitalization of slug (Trim -> trim)
  files/en-us/web/javascript/reference/lexical_grammar/index.md
Labels: Content:JS

#25860 Remove non-existent `text-stroke` from `-webkit-text-stroke`
  files/en-us/web/css/-webkit-text-stroke/index.md
Labels: Content:CSS

#25857 Correct the spec link for `--webkit-line-clamp`
  files/en-us/web/css/-webkit-line-clamp/index.md
Labels: Content:CSS

#25859 Add additional tip to "Usage notes"
  files/en-us/web/html/element/audio/index.md
Labels: Content:HTML

#25849 Fix URL (missing /docs/)
  files/en-us/web/css/color_value/index.md
Labels: Content:CSS

#25851 Escape pug macros
  files/en-us/learn/server-side/django/forms/index.md
Labels: Content:Learn

#25848 Fix capitalization of PopUp -> Popup
  files/en-us/web/web_components/using_custom_elements/index.md
Labels: Content:Other

#25813 docs(fx112-relnote): Update release note for 'overlay' support
  files/en-us/mozilla/firefox/releases/112/index.md
Labels: Content:Other

#25387 Add case of 0 elements for functions accepting any number of arguments and give length limit
  files/en-us/mdn/writing_guidelines/page_structures/syntax_sections/index.md
  files/en-us/web/javascript/reference/global_objects/array/array/index.md
  files/en-us/web/javascript/reference/global_objects/array/index.md
  files/en-us/web/javascript/reference/global_objects/array/of/index.md
  files/en-us/web/javascript/reference/global_objects/array/push/index.md
  files/en-us/web/javascript/reference/global_objects/array/unshift/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/of/index.md
Labels: Content:JS, Content:Other

#25861 FF111 Relnote: Fix buglink for RTCInboundStats...
  files/en-us/mozilla/firefox/releases/111/index.md
Labels: Content:Other

#25790 Fix Vue URL used in <script>
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/vue_getting_started/index.md
Labels: Content:Learn

#25862 Remove code style
  files/en-us/web/javascript/reference/functions/arguments/index.md
Labels: Content:JS

#25864 Fix broken fragments
  files/en-us/web/accessibility/aria/roles/application_role/index.md
  files/en-us/web/accessibility/aria/roles/article_role/index.md
  files/en-us/web/accessibility/aria/roles/complementary_role/index.md
  files/en-us/web/accessibility/aria/roles/composite_role/index.md
  files/en-us/web/accessibility/aria/roles/contentinfo_role/index.md
  files/en-us/web/accessibility/aria/roles/form_role/index.md
  files/en-us/web/accessibility/aria/roles/group_role/index.md
  files/en-us/web/accessibility/aria/roles/input_role/index.md
  files/en-us/web/accessibility/aria/roles/landmark_role/index.md
  files/en-us/web/accessibility/aria/roles/main_role/index.md
  files/en-us/web/accessibility/aria/roles/navigation_role/index.md
  files/en-us/web/accessibility/aria/roles/note_role/index.md
  files/en-us/web/accessibility/aria/roles/range_role/index.md
  files/en-us/web/accessibility/aria/roles/region_role/index.md
  files/en-us/web/accessibility/aria/roles/roletype_role/index.md
  files/en-us/web/accessibility/aria/roles/search_role/index.md
  files/en-us/web/accessibility/aria/roles/section_role/index.md
  files/en-us/web/accessibility/aria/roles/sectionhead_role/index.md
  files/en-us/web/accessibility/aria/roles/select_role/index.md
  files/en-us/web/accessibility/aria/roles/structure_role/index.md
  files/en-us/web/accessibility/aria/roles/widget_role/index.md
Labels: Content:Accessibility

#25863 CSS subgrid add Safari support
  files/en-us/web/css/css_grid_layout/basic_concepts_of_grid_layout/index.md
Labels: Content:CSS

#25866 Fixes to express prior to doing mongoose updates
  files/en-us/learn/server-side/express_nodejs/development_environment/index.md
  files/en-us/learn/server-side/express_nodejs/mongoose/index.md
  files/en-us/learn/server-side/express_nodejs/skeleton_website/index.md
Labels: Content:Learn

#25871 Update using fetch - rename logged variable in example code
  files/en-us/web/api/fetch_api/using_fetch/index.md
Labels: Content:WebAPI

#25873 Fix AudioContext.getOutputTimestamp()
  files/en-us/web/api/audiocontext/getoutputtimestamp/index.md
Labels: Content:WebAPI

#25872 Interval variable is not in scope of cancel method
  files/en-us/web/api/readablestream/readablestream/index.md
  files/en-us/web/api/readablestreamdefaultcontroller/close/index.md
  files/en-us/web/api/readablestreamdefaultcontroller/enqueue/index.md
  files/en-us/web/api/readablestreamdefaultcontroller/index.md
  files/en-us/web/api/streams_api/using_readable_streams/index.md
Labels: Content:WebAPI

#25879 Fix broken event timing information example
  files/en-us/web/api/performanceeventtiming/index.md
Labels: Content:WebAPI

#25882 Fix links to draggable in HTML Drag and Drop API
  files/en-us/web/api/html_drag_and_drop_api/drag_operations/index.md
Labels: Content:WebAPI

#25883 Minor fixes for `MouseEvent`
  files/en-us/web/api/mouseevent/mouseevent/index.md
  files/en-us/web/api/mouseevent/webkitforce/index.md
Labels: Content:WebAPI

#25885 Remove stray comma
  files/en-us/web/api/webgl_api/tutorial/lighting_in_webgl/index.md
Labels: Content:WebAPI

#25893 selectstart event example logs "Selection changed" not "Selection started"
  files/en-us/web/api/node/selectstart_event/index.md
Labels: Content:WebAPI

#25874 Added warning media and container queries
  files/en-us/web/css/using_css_custom_properties/index.md
Labels: Content:CSS

#25406 FF112 Relnote: Remove IDBMutableFile and friends
  files/en-us/mozilla/firefox/releases/112/index.md
Labels: Content:Other

#25896 Fix bug with getCircularReplacer
  files/en-us/web/javascript/reference/errors/cyclic_object_value/index.md
Labels: Content:JS

#25729 New PWA install and uninstall page.
  files/en-us/web/progressive_web_apps/installing/android_pwa.jpg
  files/en-us/web/progressive_web_apps/installing/dock.jpg
  files/en-us/web/progressive_web_apps/installing/index.md
  files/en-us/web/progressive_web_apps/installing/installconfirm.jpg
  files/en-us/web/progressive_web_apps/installing/iphone_pwa.jpg
  files/en-us/web/progressive_web_apps/installing/pwa-install.png
  files/en-us/web/progressive_web_apps/installing/remove.jpg
Labels: Content:Other

#25897 Update Document.applets
  files/en-us/web/api/document/applets/index.md
Labels: Content:WebAPI

#25671 Document XMLHttpRequestUpload
  files/en-us/web/api/xmlhttprequest/send/index.md
  files/en-us/web/api/xmlhttprequest/upload/index.md
  files/en-us/web/api/xmlhttprequesteventtarget/index.md
  files/en-us/web/api/xmlhttprequestupload/abort_event/index.md
  files/en-us/web/api/xmlhttprequestupload/error_event/index.md
  files/en-us/web/api/xmlhttprequestupload/index.md
  files/en-us/web/api/xmlhttprequestupload/load_event/index.md
  files/en-us/web/api/xmlhttprequestupload/loadend_event/index.md
  files/en-us/web/api/xmlhttprequestupload/loadstart_event/index.md
  files/en-us/web/api/xmlhttprequestupload/progress_event/index.md
  files/en-us/web/api/xmlhttprequestupload/timeout_event/index.md
Labels: Content:WebAPI

#25812 Document the WebCodecs processing model.
  files/en-us/web/api/webcodecs_api/index.md
Labels: Content:WebAPI

#25895 Rename PaintWorklet to PaintWorkletGlobalScope
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/css/paintworklet/index.md
  files/en-us/web/api/css_painting_api/guide/index.md
  files/en-us/web/api/css_painting_api/index.md
  files/en-us/web/api/paintworkletglobalscope/devicepixelratio/index.md
  files/en-us/web/api/paintworkletglobalscope/index.md
  files/en-us/web/api/paintworkletglobalscope/registerpaint/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

#25680 update yari-content-ko team
  files/en-us/mdn/community/contributing/translated_content/index.md
Labels: Content:Other

#25905 Fix link 404 gpc-spec (GitHub repo move)
  files/en-us/web/http/headers/sec-gpc/index.md
Labels: Content:HTTP

#25738 Reference for stage 3 is-usv-string
  files/en-us/web/javascript/reference/global_objects/encodeuri/index.md
  files/en-us/web/javascript/reference/global_objects/encodeuricomponent/index.md
  files/en-us/web/javascript/reference/global_objects/string/index.md
  files/en-us/web/javascript/reference/global_objects/string/iswellformed/index.md
  files/en-us/web/javascript/reference/global_objects/string/towellformed/index.md
Labels: Content:JS

#25908 Fix example using let
  files/en-us/web/javascript/reference/statements/const/index.md
Labels: Content:JS

#25909 Fix explanation of a redeclaration (scoping instead of hoisting)
  files/en-us/web/javascript/reference/statements/let/index.md
Labels: Content:JS

#25911 Fix example using hsla of hsl page
  files/en-us/web/css/color_value/hsl/index.md
Labels: Content:CSS

#25910 typo: timoeout -> timeout
  files/en-us/web/api/xmlhttprequestupload/load_event/index.md
Labels: Content:WebAPI

#25914 Clean up see also for some reference pages
  files/en-us/web/javascript/reference/classes/constructor/index.md
  files/en-us/web/javascript/reference/classes/extends/index.md
  files/en-us/web/javascript/reference/classes/index.md
  files/en-us/web/javascript/reference/classes/private_class_fields/index.md
  files/en-us/web/javascript/reference/classes/public_class_fields/index.md
  files/en-us/web/javascript/reference/classes/static/index.md
  files/en-us/web/javascript/reference/classes/static_initialization_blocks/index.md
  files/en-us/web/javascript/reference/functions/arguments/@@iterator/index.md
  files/en-us/web/javascript/reference/functions/arguments/callee/index.md
  files/en-us/web/javascript/reference/functions/arguments/index.md
  files/en-us/web/javascript/reference/functions/arguments/length/index.md
  files/en-us/web/javascript/reference/functions/arrow_functions/index.md
  files/en-us/web/javascript/reference/functions/default_parameters/index.md
  files/en-us/web/javascript/reference/functions/get/index.md
  files/en-us/web/javascript/reference/functions/index.md
  files/en-us/web/javascript/reference/functions/method_definitions/index.md
  files/en-us/web/javascript/reference/functions/rest_parameters/index.md
  files/en-us/web/javascript/reference/functions/set/index.md
  files/en-us/web/javascript/reference/iteration_protocols/index.md
  files/en-us/web/javascript/reference/lexical_grammar/index.md
  files/en-us/web/javascript/reference/strict_mode/index.md
  files/en-us/web/javascript/reference/template_literals/index.md
  files/en-us/web/javascript/reference/trailing_commas/index.md
Labels: Content:JS

#25912 links in code broken
  files/en-us/web/css/color_value/color-mix/index.md
Labels: Content:CSS

#25917 Synchronize with BCD v5.2.48
  files/en-us/web/api/css_painting_api/index.md
  files/en-us/web/api/paintworkletglobalscope/devicepixelratio/index.md
  files/en-us/web/api/paintworkletglobalscope/index.md
  files/en-us/web/api/paintworkletglobalscope/registerpaint/index.md
  files/en-us/web/css/color_value/color-mix/index.md
  files/en-us/web/css/overflow/index.md
  files/en-us/web/javascript/reference/global_objects/arraybuffer/index.md
  files/en-us/web/javascript/reference/global_objects/arraybuffer/maxbytelength/index.md
  files/en-us/web/javascript/reference/global_objects/arraybuffer/resizable/index.md
  files/en-us/web/javascript/reference/global_objects/arraybuffer/resize/index.md
  files/en-us/web/javascript/reference/global_objects/sharedarraybuffer/grow/index.md
  files/en-us/web/javascript/reference/global_objects/sharedarraybuffer/growable/index.md
  files/en-us/web/javascript/reference/global_objects/sharedarraybuffer/index.md
  files/en-us/web/javascript/reference/global_objects/sharedarraybuffer/maxbytelength/index.md
Labels: Content:CSS, Content:WebAPI, Content:JS

#24450 Fuse color sections for named-color
  files/en-us/web/css/named-color/index.md
Labels: Content:CSS

#25920 Fix capitalization of links to JS pages
  files/en-us/mozilla/firefox/releases/78/index.md
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
  files/en-us/web/javascript/reference/classes/index.md
  files/en-us/web/javascript/reference/functions/get/index.md
Labels: Content:JS, Content:Other

#25878 added clear message of the data encoded by using float32array
  files/en-us/web/api/analysernode/getfloatfrequencydata/index.md
  files/en-us/web/api/analysernode/getfloattimedomaindata/index.md
Labels: Content:WebAPI

#24202 WebGPU API docs
  files/en-us/web/api/gpu/getpreferredcanvasformat/index.md
  files/en-us/web/api/gpu/index.md
  files/en-us/web/api/gpu/requestadapter/index.md
  files/en-us/web/api/gpuadapter/features/index.md
  files/en-us/web/api/gpuadapter/index.md
  files/en-us/web/api/gpuadapter/isfallbackadapter/index.md
  files/en-us/web/api/gpuadapter/limits/index.md
  files/en-us/web/api/gpuadapter/requestadapterinfo/index.md
  files/en-us/web/api/gpuadapter/requestdevice/index.md
  files/en-us/web/api/gpuadapterinfo/architecture/index.md
  files/en-us/web/api/gpuadapterinfo/description/index.md
  files/en-us/web/api/gpuadapterinfo/device/index.md
  files/en-us/web/api/gpuadapterinfo/index.md
  files/en-us/web/api/gpuadapterinfo/vendor/index.md
  files/en-us/web/api/gpucanvascontext/canvas/index.md
  files/en-us/web/api/gpucanvascontext/configure/index.md
  files/en-us/web/api/gpucanvascontext/getcurrenttexture/index.md
  files/en-us/web/api/gpucanvascontext/index.md
  files/en-us/web/api/gpucanvascontext/unconfigure/index.md
  files/en-us/web/api/gpudevice/createbindgroup/index.md
  files/en-us/web/api/gpudevice/createbindgrouplayout/index.md
  files/en-us/web/api/gpudevice/createbuffer/index.md
  files/en-us/web/api/gpudevice/createcommandencoder/index.md
  files/en-us/web/api/gpudevice/createcomputepipeline/index.md
  files/en-us/web/api/gpudevice/createcomputepipelineasync/index.md
  files/en-us/web/api/gpudevice/createpipelinelayout/index.md
  files/en-us/web/api/gpudevice/createqueryset/index.md
  files/en-us/web/api/gpudevice/createrenderbundleencoder/index.md
  files/en-us/web/api/gpudevice/createrenderpipeline/index.md
  files/en-us/web/api/gpudevice/createrenderpipelineasync/index.md
  files/en-us/web/api/gpudevice/createsampler/index.md
  files/en-us/web/api/gpudevice/createshadermodule/index.md
  files/en-us/web/api/gpudevice/createtexture/index.md
  files/en-us/web/api/gpudevice/destroy/index.md
  files/en-us/web/api/gpudevice/features/index.md
  files/en-us/web/api/gpudevice/importexternaltexture/index.md
  files/en-us/web/api/gpudevice/index.md
  files/en-us/web/api/gpudevice/label/index.md
  files/en-us/web/api/gpudevice/limits/index.md
  files/en-us/web/api/gpudevice/lost/index.md
  files/en-us/web/api/gpudevice/poperrorscope/index.md
  files/en-us/web/api/gpudevice/pusherrorscope/index.md
  files/en-us/web/api/gpudevice/queue/index.md
  files/en-us/web/api/gpudevice/uncapturederror_event/index.md
  files/en-us/web/api/gpusupportedfeatures/index.md
  files/en-us/web/api/gpusupportedlimits/index.md
  files/en-us/web/api/htmlcanvaselement/getcontext/index.md
  files/en-us/web/api/navigator/gpu/index.md
  files/en-us/web/api/navigator/index.md
  files/en-us/web/api/webgpu_api/basic-webgpu-stack.png
  files/en-us/web/api/webgpu_api/index.md
  files/en-us/web/api/workernavigator/gpu/index.md
  files/en-us/web/api/workernavigator/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

#25174 WebGPU PR #3 — Interfaces for representing pipelines
  files/en-us/web/api/gpubindgroup/index.md
  files/en-us/web/api/gpubindgroup/label/index.md
  files/en-us/web/api/gpubindgrouplayout/index.md
  files/en-us/web/api/gpubindgrouplayout/label/index.md
  files/en-us/web/api/gpucomputepipeline/getbindgrouplayout/index.md
  files/en-us/web/api/gpucomputepipeline/index.md
  files/en-us/web/api/gpucomputepipeline/label/index.md
  files/en-us/web/api/gpupipelinelayout/index.md
  files/en-us/web/api/gpupipelinelayout/label/index.md
  files/en-us/web/api/gpurenderpipeline/getbindgrouplayout/index.md
  files/en-us/web/api/gpurenderpipeline/index.md
  files/en-us/web/api/gpurenderpipeline/label/index.md
Labels: Content:WebAPI

#25184 WebGPU PR #4 — Interfaces for handling errors and queries
  files/en-us/web/api/gpucompilationinfo/index.md
  files/en-us/web/api/gpucompilationinfo/messages/index.md
  files/en-us/web/api/gpucompilationmessage/index.md
  files/en-us/web/api/gpucompilationmessage/length/index.md
  files/en-us/web/api/gpucompilationmessage/linenum/index.md
  files/en-us/web/api/gpucompilationmessage/linepos/index.md
  files/en-us/web/api/gpucompilationmessage/message/index.md
  files/en-us/web/api/gpucompilationmessage/offset/index.md
  files/en-us/web/api/gpucompilationmessage/type/index.md
  files/en-us/web/api/gpudevicelostinfo/index.md
  files/en-us/web/api/gpudevicelostinfo/message/index.md
  files/en-us/web/api/gpudevicelostinfo/reason/index.md
  files/en-us/web/api/gpuerror/index.md
  files/en-us/web/api/gpuerror/message/index.md
  files/en-us/web/api/gpuinternalerror/gpuinternalerror/index.md
  files/en-us/web/api/gpuinternalerror/index.md
  files/en-us/web/api/gpuoutofmemoryerror/gpuoutofmemoryerror/index.md
  files/en-us/web/api/gpuoutofmemoryerror/index.md
  files/en-us/web/api/gpupipelineerror/gpupipelineerror/index.md
  files/en-us/web/api/gpupipelineerror/index.md
  files/en-us/web/api/gpupipelineerror/reason/index.md
  files/en-us/web/api/gpuqueryset/count/index.md
  files/en-us/web/api/gpuqueryset/destroy/index.md
  files/en-us/web/api/gpuqueryset/index.md
  files/en-us/web/api/gpuqueryset/label/index.md
  files/en-us/web/api/gpuqueryset/type/index.md
  files/en-us/web/api/gpuuncapturederrorevent/error/index.md
  files/en-us/web/api/gpuuncapturederrorevent/gpuuncapturederrorevent/index.md
  files/en-us/web/api/gpuuncapturederrorevent/index.md
  files/en-us/web/api/gpuvalidationerror/gpuvalidationerror/index.md
  files/en-us/web/api/gpuvalidationerror/index.md
Labels: Content:WebAPI

#25888 [PWA] PWA reorg
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/progressive_web_apps/add_to_home_screen/a2hs-installed-desktop.png
  files/en-us/web/progressive_web_apps/add_to_home_screen/a2hs-on-home-screen.png
  files/en-us/web/progressive_web_apps/add_to_home_screen/add-to-home-screen-icon.png
  files/en-us/web/progressive_web_apps/add_to_home_screen/index.md
  files/en-us/web/progressive_web_apps/add_to_home_screen/menu_install_app.png
  files/en-us/web/progressive_web_apps/add_to_home_screen/pixel_launcher_add_app.png
  files/en-us/web/progressive_web_apps/add_to_home_screen/url_bar_menu.png
  files/en-us/web/progressive_web_apps/guides/index.md
  files/en-us/web/progressive_web_apps/guides/making_pwas_installable/index.md
  files/en-us/web/progressive_web_apps/guides/offline_and_background_operation/index.md
  files/en-us/web/progressive_web_apps/guides/structural_overview/index.md
  files/en-us/web/progressive_web_apps/how_to/create_a_standalone_app/index.md
  files/en-us/web/progressive_web_apps/how_to/customize_your_app_colors/index.md
  files/en-us/web/progressive_web_apps/how_to/display_badge_on_app_icon/index.md
  files/en-us/web/progressive_web_apps/how_to/index.md
  files/en-us/web/progressive_web_apps/index.md
  files/en-us/web/progressive_web_apps/reference/index.md
  files/en-us/web/progressive_web_apps/structural_overview/index.md
  files/en-us/web/progressive_web_apps/tutorials/index.md
  files/en-us/web/progressive_web_apps/tutorials/js13kgames/app_structure/index.md
  files/en-us/web/progressive_web_apps/tutorials/js13kgames/app_structure/js13kpwa-directory.png
  files/en-us/web/progressive_web_apps/tutorials/js13kgames/index.md
  files/en-us/web/progressive_web_apps/tutorials/js13kgames/installable_pwas/index.md
  files/en-us/web/progressive_web_apps/tutorials/js13kgames/installable_pwas/js13kpwa-add.png
  files/en-us/web/progressive_web_apps/tutorials/js13kgames/installable_pwas/js13kpwa-banner.png
  files/en-us/web/progressive_web_apps/tutorials/js13kgames/installable_pwas/js13kpwa-icon.png
  files/en-us/web/progressive_web_apps/tutorials/js13kgames/installable_pwas/js13kpwa-installed.png
  files/en-us/web/progressive_web_apps/tutorials/js13kgames/installable_pwas/js13kpwa-splash.png
  files/en-us/web/progressive_web_apps/tutorials/js13kgames/introduction/index.md
  files/en-us/web/progressive_web_apps/tutorials/js13kgames/loading/index.md
  files/en-us/web/progressive_web_apps/tutorials/js13kgames/loading/js13kpwa-placeholders.png
  files/en-us/web/progressive_web_apps/tutorials/js13kgames/offline_service_workers/index.md
  files/en-us/web/progressive_web_apps/tutorials/js13kgames/re-engageable_notifications_push/index.md
  files/en-us/web/progressive_web_apps/tutorials/js13kgames/re-engageable_notifications_push/js13kpwa-notification.png
Labels: Content:Other

#25937 Normalize Exceptions section format
  files/en-us/web/javascript/reference/global_objects/array/group/index.md
  files/en-us/web/javascript/reference/global_objects/array/grouptomap/index.md
  files/en-us/web/javascript/reference/global_objects/array/reduce/index.md
  files/en-us/web/javascript/reference/global_objects/atomics/add/index.md
  files/en-us/web/javascript/reference/global_objects/atomics/and/index.md
  files/en-us/web/javascript/reference/global_objects/atomics/compareexchange/index.md
  files/en-us/web/javascript/reference/global_objects/atomics/exchange/index.md
  files/en-us/web/javascript/reference/global_objects/atomics/load/index.md
  files/en-us/web/javascript/reference/global_objects/atomics/notify/index.md
  files/en-us/web/javascript/reference/global_objects/atomics/or/index.md
  files/en-us/web/javascript/reference/global_objects/atomics/store/index.md
  files/en-us/web/javascript/reference/global_objects/atomics/sub/index.md
  files/en-us/web/javascript/reference/global_objects/atomics/wait/index.md
  files/en-us/web/javascript/reference/global_objects/atomics/xor/index.md
  files/en-us/web/javascript/reference/global_objects/finalizationregistry/register/index.md
  files/en-us/web/javascript/reference/global_objects/finalizationregistry/unregister/index.md
  files/en-us/web/javascript/reference/global_objects/intl/supportedvaluesof/index.md
  files/en-us/web/javascript/reference/global_objects/json/stringify/index.md
  files/en-us/web/javascript/reference/global_objects/number/toexponential/index.md
  files/en-us/web/javascript/reference/global_objects/number/tofixed/index.md
  files/en-us/web/javascript/reference/global_objects/number/toprecision/index.md
  files/en-us/web/javascript/reference/global_objects/string/endswith/index.md
  files/en-us/web/javascript/reference/global_objects/string/fromcodepoint/index.md
  files/en-us/web/javascript/reference/global_objects/string/includes/index.md
  files/en-us/web/javascript/reference/global_objects/string/repeat/index.md
  files/en-us/web/javascript/reference/global_objects/string/startswith/index.md
  files/en-us/web/javascript/reference/global_objects/string/tolocalelowercase/index.md
  files/en-us/web/javascript/reference/global_objects/string/tolocaleuppercase/index.md
  files/en-us/web/javascript/reference/global_objects/string/touppercase/index.md
Labels: Content:JS

#25936 Fix broken URL fragments
  files/en-us/web/api/audiotrack/index.md
  files/en-us/web/api/biquadfilternode/index.md
  files/en-us/web/api/channelmergernode/index.md
  files/en-us/web/api/channelsplitternode/index.md
  files/en-us/web/api/delaynode/delaytime/index.md
  files/en-us/web/api/delaynode/index.md
  files/en-us/web/api/document/releasecapture/index.md
  files/en-us/web/api/element/mouseenter_event/index.md
  files/en-us/web/api/filesystemdirectoryreader/readentries/index.md
  files/en-us/web/api/gainnode/index.md
  files/en-us/web/api/htmlimageelement/naturalwidth/index.md
  files/en-us/web/api/keyboardevent/charcode/index.md
  files/en-us/web/api/location/index.md
  files/en-us/web/api/mediaelementaudiosourcenode/index.md
  files/en-us/web/api/mediastreamaudiosourcenode/index.md
  files/en-us/web/api/mediastreamtrackaudiosourcenode/index.md
  files/en-us/web/api/pointerevent/height/index.md
  files/en-us/web/api/rtcicecandidatepair/index.md
  files/en-us/web/api/rtcicetransport/getselectedcandidatepair/index.md
  files/en-us/web/api/scriptprocessornode/buffersize/index.md
  files/en-us/web/api/scriptprocessornode/index.md
  files/en-us/web/api/settimeout/index.md
  files/en-us/web/api/stereopannernode/index.md
  files/en-us/web/api/stereopannernode/pan/index.md
  files/en-us/web/api/touch/radiusy/index.md
  files/en-us/web/api/touch/rotationangle/index.md
  files/en-us/web/api/touch/screeny/index.md
  files/en-us/web/api/touchevent/ctrlkey/index.md
  files/en-us/web/api/touchevent/metakey/index.md
  files/en-us/web/api/touchevent/shiftkey/index.md
  files/en-us/web/api/waveshapernode/curve/index.md
  files/en-us/web/api/waveshapernode/index.md
  files/en-us/web/api/waveshapernode/oversample/index.md
  files/en-us/web/guide/user_input_methods/index.md
Labels: Content:WebAPI, Content:Learn

#25935 Add nolint to syntax blocks
  files/en-us/web/javascript/reference/global_objects/arraybuffer/@@species/index.md
  files/en-us/web/javascript/reference/global_objects/generator/return/index.md
  files/en-us/web/javascript/reference/global_objects/generator/throw/index.md
  files/en-us/web/javascript/reference/operators/import.meta/resolve/index.md
Labels: Content:JS

#25941 Prettify inline code
  files/en-us/web/api/abortcontroller/abortcontroller/index.md
Labels: Content:WebAPI

#25942 fix: various typos
  files/en-us/web/api/gpuadapter/index.md
  files/en-us/web/api/gpuadapterinfo/index.md
  files/en-us/web/api/gpubuffer/index.md
  files/en-us/web/api/gpucanvascontext/index.md
  files/en-us/web/api/gpucompilationinfo/index.md
  files/en-us/web/api/gpucompilationmessage/index.md
  files/en-us/web/api/gpucomputepassencoder/setpipeline/index.md
  files/en-us/web/api/gpudevice/createcomputepipeline/index.md
  files/en-us/web/api/gpudevice/createcomputepipelineasync/index.md
  files/en-us/web/api/gpudevice/createqueryset/index.md
  files/en-us/web/api/gpudevice/createrenderpipeline/index.md
  files/en-us/web/api/gpudevice/createrenderpipelineasync/index.md
  files/en-us/web/api/gpudevice/createtexture/index.md
  files/en-us/web/api/gpudevice/index.md
  files/en-us/web/api/gpudevice/limits/index.md
  files/en-us/web/api/gpudevice/poperrorscope/index.md
  files/en-us/web/api/gpudevice/pusherrorscope/index.md
  files/en-us/web/api/gpudevicelostinfo/index.md
  files/en-us/web/api/gpuerror/index.md
  files/en-us/web/api/gpuinternalerror/index.md
  files/en-us/web/api/gpuoutofmemoryerror/index.md
  files/en-us/web/api/gpupipelineerror/index.md
  files/en-us/web/api/gpuqueryset/index.md
  files/en-us/web/api/gpuqueue/writebuffer/index.md
  files/en-us/web/api/gputexture/index.md
  files/en-us/web/api/gpuuncapturederrorevent/index.md
  files/en-us/web/api/gpuvalidationerror/index.md
  files/en-us/web/progressive_web_apps/guides/index.md
Labels: Content:WebAPI, Content:Other

#25944 fix: added comma
  files/en-us/web/javascript/reference/global_objects/array/foreach/index.md
Labels: Content:JS

#25943 Fix flaws in WebGPU
  files/en-us/web/api/gpubuffer/usage/index.md
  files/en-us/web/api/gpudevice/createbindgroup/index.md
  files/en-us/web/api/gpudevice/createbindgrouplayout/index.md
Labels: Content:WebAPI

#25948 Fix typo in index.md
  files/en-us/web/api/cssstylesheet/rules/index.md
Labels: Content:WebAPI

#25932 caught typos in index.md
  files/en-us/learn/css/building_blocks/cascade_layers/index.md
Labels: Content:Learn

#25952 Remove link to outdated document in See also (Promise-related)
  files/en-us/web/api/promiserejectionevent/index.md
Labels: Content:WebAPI

#25951 Fix link to moved meta-docs
  files/en-us/glossary/slug/index.md
Labels: Content:Glossary

#25950 Fix capitalization of links to Using_classes
  files/en-us/web/javascript/reference/classes/constructor/index.md
  files/en-us/web/javascript/reference/classes/extends/index.md
  files/en-us/web/javascript/reference/classes/public_class_fields/index.md
  files/en-us/web/javascript/reference/classes/static/index.md
  files/en-us/web/javascript/reference/classes/static_initialization_blocks/index.md
Labels: Content:JS

#25929 Added indication that "new Symbol()" is wrong
  files/en-us/web/javascript/reference/global_objects/symbol/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/symbol/index.md
Labels: Content:JS

#25933 Fix constructor called by super() when the prototype of the current class is changed
  files/en-us/web/javascript/reference/classes/constructor/index.md
Labels: Content:JS

#25962 Add missing super() call in derived constructor
  files/en-us/web/javascript/reference/classes/extends/index.md
Labels: Content:JS

#25971 Fix capitalization
  files/en-us/web/api/paintworkletglobalscope/index.md
Labels: Content:WebAPI

#25949 Fix all links with wrong capitalization to an URL of the glossary
  files/en-us/glossary/effective_connection_type/index.md
  files/en-us/glossary/index.md
  files/en-us/glossary/page_prediction/index.md
  files/en-us/glossary/real_user_monitoring/index.md
  files/en-us/glossary/synthetic_monitoring/index.md
  files/en-us/mozilla/firefox/releases/65/index.md
  files/en-us/web/api/htmlformelement/acceptcharset/index.md
  files/en-us/web/api/web_crypto_api/non-cryptographic_uses_of_subtle_crypto/index.md
  files/en-us/web/opensearch/index.md
Labels: Content:WebAPI, Content:Other, Content:Glossary

#25946 Merge Set-Cookie/Same-site into Set-Cookie
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/glossary/site/index.md
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/77/index.md
  files/en-us/mozilla/firefox/releases/96/index.md
  files/en-us/web/api/cookiechangeevent/changed/index.md
  files/en-us/web/api/cookiechangeevent/deleted/index.md
  files/en-us/web/api/cookiestore/get/index.md
  files/en-us/web/api/cookiestore/getall/index.md
  files/en-us/web/api/cookiestore/set/index.md
  files/en-us/web/api/extendablecookiechangeevent/changed/index.md
  files/en-us/web/api/extendablecookiechangeevent/deleted/index.md
  files/en-us/web/api/navigator/cookieenabled/index.md
  files/en-us/web/http/cookies/index.md
  files/en-us/web/http/cors/index.md
  files/en-us/web/http/headers/set-cookie/index.md
  files/en-us/web/http/headers/set-cookie/samesite/index.md
Labels: Content:WebAPI, Content:Other, Content:HTTP, Content:Glossary

#25967 fix URL fragments
  files/en-us/learn/javascript/first_steps/arrays/index.md
  files/en-us/learn/javascript/howto/index.md
  files/en-us/mdn/community/contributing/translated_content/index.md
  files/en-us/mdn/contribute/index.md
  files/en-us/mdn/writing_guidelines/page_structures/compatibility_tables/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/index.md
  files/en-us/web/javascript/reference/template_literals/index.md
Labels: Content:JS, Content:Learn, Content:Other

#25963 Use the right macro: jsxref -> domxref
  files/en-us/web/api/beforeinstallpromptevent/prompt/index.md
Labels: Content:WebAPI

#25979 Fix typo
  files/en-us/web/javascript/reference/global_objects/intl/durationformat/resolvedoptions/index.md
Labels: Content:JS

#25980 Add missing global value for CSS properties
  files/en-us/web/css/align-tracks/index.md
  files/en-us/web/css/contain-intrinsic-size/index.md
  files/en-us/web/css/offset-anchor/index.md
  files/en-us/web/css/offset-path/index.md
  files/en-us/web/css/padding-block/index.md
  files/en-us/web/css/padding-inline/index.md
  files/en-us/web/css/paint-order/index.md
Labels: Content:CSS

#25987 Fix internal anchors (must be lowercase)
  files/en-us/learn/javascript/howto/index.md
  files/en-us/web/javascript/reference/template_literals/index.md
Labels: Content:JS, Content:Learn

#25988 Fix Array.p.toString example
  files/en-us/web/javascript/reference/global_objects/array/tostring/index.md
Labels: Content:JS

#25961 add popover attributes/properties/methods/events
  files/en-us/web/api/htmlelement/index.md
  files/en-us/web/html/global_attributes/index.md
Labels: Content:HTML, Content:WebAPI

#25953 Fixes some headings and added some missing samples
  files/en-us/web/html/element/head/index.md
  files/en-us/web/html/element/header/index.md
  files/en-us/web/html/element/header/mdn-logo-sm.png
  files/en-us/web/html/element/hgroup/index.md
  files/en-us/web/html/element/kbd/index.md
  files/en-us/web/html/element/label/index.md
  files/en-us/web/html/element/li/index.md
  files/en-us/web/html/element/main/index.md
  files/en-us/web/html/element/mark/index.md
  files/en-us/web/html/element/marquee/index.md
  files/en-us/web/html/element/menuitem/index.md
  files/en-us/web/html/element/nav/index.md
  files/en-us/web/html/element/ol/index.md
  files/en-us/web/html/element/output/index.md
  files/en-us/web/html/element/p/index.md
  files/en-us/web/html/element/progress/index.md
  files/en-us/web/html/element/q/index.md
Labels: Content:HTML

#25982 Update the "Syntax" section of `overflow-clip-margin`
  files/en-us/web/css/overflow-clip-margin/index.md
Labels: Content:CSS

#25977 fix link hash marks in anatomy_of_a_webextension
  files/en-us/mozilla/add-ons/webextensions/anatomy_of_a_webextension/index.md
Labels: Content:WebExt, Content:Other

#25858 Remove element from attribute (attribute list)
  files/en-us/web/html/attributes/index.md
Labels: Content:HTML

#25842 Added property of <mrow>
  files/en-us/web/mathml/element/mrow/index.md
Labels: Content:MathML

#25990 Change PaintWorklet for paint worklet
  files/en-us/web/api/css/paintworklet/index.md
Labels: Content:WebAPI

#25925 Fix description of outerHTML behavior
  files/en-us/web/api/element/outerhtml/index.md
Labels: Content:WebAPI

#25989 Add a class field example
  files/en-us/web/javascript/reference/classes/public_class_fields/index.md
Labels: Content:JS

#25958 Fix doc that talked about “throwing” an event
  files/en-us/web/html/element/form/index.md
Labels: Content:HTML

#25992 Added missing close parenthesis
  files/en-us/web/api/history_api/index.md
Labels: Content:WebAPI

#26003 Remove link to long deleted page from See also
  files/en-us/web/api/document/enablestylesheetsforset/index.md
Labels: Content:WebAPI

#26014 Fix link to the null value
  files/en-us/web/api/performanceelementtiming/element/index.md
Labels: Content:WebAPI

#26013 Don't use domxref for a String object
  files/en-us/web/api/overconstrainederror/constraint/index.md
Labels: Content:WebAPI

#26011 Remove mention of PhotoSettings dictionary
  files/en-us/web/api/imagecapture/getphotosettings/index.md
Labels: Content:WebAPI

#26017 Fix macro for DOMException (not JS exceptions)
  files/en-us/web/api/rtcpeerconnection/addtransceiver/index.md
Labels: Content:WebAPI

#26012 Remove mention of PhotoCapabilities dictionary
  files/en-us/web/api/imagecapture/getphotocapabilities/index.md
Labels: Content:WebAPI

#26018 Rephrase to avoid the non-existant PaintWorklet interface
  files/en-us/web/api/request/destination/index.md
Labels: Content:WebAPI

#26028 Synchronize with BCD v5.2.49
  files/en-us/web/api/gpucommandbuffer/index.md
  files/en-us/web/api/gpucommandencoder/index.md
  files/en-us/web/api/gpucomputepassencoder/index.md
  files/en-us/web/api/gpuqueue/index.md
  files/en-us/web/api/gpurenderbundle/index.md
  files/en-us/web/api/gpurenderbundleencoder/index.md
  files/en-us/web/api/gpurenderpassencoder/index.md
Labels: Content:WebAPI

#26020 Add suggestion for IIFEs to avoid with statements
  files/en-us/web/javascript/reference/statements/with/index.md
Labels: Content:JS

#26000 Remove private field from accessible fields
  files/en-us/web/javascript/reference/classes/private_class_fields/index.md
Labels: Content:JS

#26037 Fix discrepancies in feature overview lists
  files/en-us/web/javascript/reference/global_objects/date/index.md
  files/en-us/web/javascript/reference/global_objects/number/index.md
  files/en-us/web/javascript/reference/global_objects/object/index.md
  files/en-us/web/javascript/reference/global_objects/promise/index.md
  files/en-us/web/javascript/reference/global_objects/sharedarraybuffer/index.md
  files/en-us/web/javascript/reference/global_objects/string/index.md
Labels: Content:JS

#26049 Fix typo.
  files/en-us/web/api/storage_api/storage_quotas_and_eviction_criteria/index.md
Labels: Content:WebAPI

#26050 fix the broken link to wikipedia
  files/en-us/glossary/certified/index.md
Labels: Content:Glossary

#26051 Fix ChannelSplitterNode() constructor
  files/en-us/web/api/channelsplitternode/channelsplitternode/index.md
Labels: Content:WebAPI

#26052 ChannelSplitterNode: fix typo
  files/en-us/web/api/channelsplitternode/index.md
Labels: Content:WebAPI

#26046 Fix incoherent capitalization
  files/en-us/web/api/animation/index.md
Labels: Content:WebAPI

#26041 Remove Window.content
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/window/content/index.md
Labels: Content:WebAPI

#26035 Change macro to actually link to TypedArray
  files/en-us/web/api/usbdevice/controltransferout/index.md
  files/en-us/web/api/usbdevice/isochronoustransferout/index.md
Labels: Content:WebAPI

#26033 Remove mention of ArrayBufferView
  files/en-us/web/api/sourcebuffer/appendbufferasync/index.md
Labels: Content:WebAPI

#26007 Fix link to 'this' keyword
  files/en-us/web/api/fontfaceset/foreach/index.md
Labels: Content:WebAPI

#26032 Remove mention of SourceBuffer.appendStream()
  files/en-us/web/api/sourcebuffer/updating/index.md
Labels: Content:WebAPI

#26001 Fix method name (type() -> types())
  files/en-us/web/api/datatransferitem/type/index.md
Labels: Content:WebAPI

#26004 Fix link to aria-relevant
  files/en-us/web/api/element/ariaatomic/index.md
Labels: Content:WebAPI

#26002 Attribute -> Attr
  files/en-us/web/api/document/createattributens/index.md
Labels: Content:WebAPI

#26047 WindowProxy -> Window
  files/en-us/web/api/htmlobjectelement/contentwindow/index.md
Labels: Content:WebAPI

#26057 Alphabetically order class members
  files/en-us/web/javascript/reference/global_objects/aggregateerror/index.md
  files/en-us/web/javascript/reference/global_objects/array/index.md
  files/en-us/web/javascript/reference/global_objects/arraybuffer/index.md
  files/en-us/web/javascript/reference/global_objects/asynciterator/@@asynciterator/index.md
  files/en-us/web/javascript/reference/global_objects/bigint/index.md
  files/en-us/web/javascript/reference/global_objects/bigint64array/index.md
  files/en-us/web/javascript/reference/global_objects/biguint64array/index.md
  files/en-us/web/javascript/reference/global_objects/boolean/index.md
  files/en-us/web/javascript/reference/global_objects/dataview/index.md
  files/en-us/web/javascript/reference/global_objects/error/index.md
  files/en-us/web/javascript/reference/global_objects/error/linenumber/index.md
  files/en-us/web/javascript/reference/global_objects/float32array/index.md
  files/en-us/web/javascript/reference/global_objects/float64array/index.md
  files/en-us/web/javascript/reference/global_objects/function/index.md
  files/en-us/web/javascript/reference/global_objects/generator/index.md
  files/en-us/web/javascript/reference/global_objects/int16array/index.md
  files/en-us/web/javascript/reference/global_objects/int32array/index.md
  files/en-us/web/javascript/reference/global_objects/int8array/index.md
  files/en-us/web/javascript/reference/global_objects/intl/collator/index.md
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/segmenter/index.md
  files/en-us/web/javascript/reference/global_objects/map/index.md
  files/en-us/web/javascript/reference/global_objects/number/index.md
  files/en-us/web/javascript/reference/global_objects/object/index.md
  files/en-us/web/javascript/reference/global_objects/promise/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/index.md
  files/en-us/web/javascript/reference/global_objects/referenceerror/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/index.md
  files/en-us/web/javascript/reference/global_objects/set/index.md
  files/en-us/web/javascript/reference/global_objects/sharedarraybuffer/index.md
  files/en-us/web/javascript/reference/global_objects/string/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/index.md
  files/en-us/web/javascript/reference/global_objects/syntaxerror/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/index.md
  files/en-us/web/javascript/reference/global_objects/typeerror/index.md
  files/en-us/web/javascript/reference/global_objects/uint16array/index.md
  files/en-us/web/javascript/reference/global_objects/uint32array/index.md
  files/en-us/web/javascript/reference/global_objects/uint8array/index.md
  files/en-us/web/javascript/reference/global_objects/uint8clampedarray/index.md
  files/en-us/web/javascript/reference/global_objects/urierror/index.md
Labels: Content:JS

#26058 Add AggregateError#errors page
  files/en-us/web/javascript/reference/global_objects/aggregateerror/errors/index.md
  files/en-us/web/javascript/reference/global_objects/aggregateerror/index.md
Labels: Content:JS

#26045 Remove broken link
  files/en-us/web/api/offlineaudiocontext/suspend/index.md
Labels: Content:WebAPI

#26044 Replace typedef ArrayBufferView by actual interfaces
  files/en-us/web/api/readablestreambyobrequest/respondwithnewview/index.md
Labels: Content:WebAPI

#26034 Fix link to Document.copy_event
  files/en-us/web/api/svggraphicselement/copy_event/index.md
Labels: Content:WebAPI

#25508 Rewrite Performance API guide pages
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/glossary/cors/index.md
  files/en-us/web/api/navigation_timing_api/index.md
  files/en-us/web/api/navigation_timing_api/using_navigation_timing/index.md
  files/en-us/web/api/performance_api/diagram.svg
  files/en-us/web/api/performance_api/high_precision_timing/index.md
  files/en-us/web/api/performance_api/index.md
  files/en-us/web/api/performance_api/navigation_timing/index.md
  files/en-us/web/api/performance_api/performance_data/index.md
  files/en-us/web/api/performance_api/resource_timing/index.md
  files/en-us/web/api/performance_api/user_timing/index.md
  files/en-us/web/api/performance_api/using_the_performance_api/index.md
  files/en-us/web/api/performance_timeline/index.md
  files/en-us/web/api/performance_timeline/using_performance_timeline/index.md
  files/en-us/web/api/performanceresourcetiming/index.md
  files/en-us/web/api/resource_timing_api/index.md
  files/en-us/web/api/resource_timing_api/using_the_resource_timing_api/index.md
  files/en-us/web/api/resource_timing_api/using_the_resource_timing_api/resourcetiming-timestamps.jpg
  files/en-us/web/api/user_timing_api/index.md
  files/en-us/web/http/headers/timing-allow-origin/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, Content:HTTP, Content:Glossary

#26019 Fix link to animation-composition
  files/en-us/glossary/composite_operation/index.md
Labels: Content:Glossary

#26009 Modernize HTMLTableElement.bgcolor
  files/en-us/web/api/htmltableelement/bgcolor/index.md
Labels: Content:WebAPI

#25488 Reference for stage 4 change-array-by-copy
  files/en-us/web/javascript/reference/global_objects/array/@@species/index.md
  files/en-us/web/javascript/reference/global_objects/array/@@unscopables/index.md
  files/en-us/web/javascript/reference/global_objects/array/index.md
  files/en-us/web/javascript/reference/global_objects/array/reverse/index.md
  files/en-us/web/javascript/reference/global_objects/array/sort/index.md
  files/en-us/web/javascript/reference/global_objects/array/splice/index.md
  files/en-us/web/javascript/reference/global_objects/array/toreversed/index.md
  files/en-us/web/javascript/reference/global_objects/array/tosorted/index.md
  files/en-us/web/javascript/reference/global_objects/array/tospliced/index.md
  files/en-us/web/javascript/reference/global_objects/array/with/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/sort/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/toreversed/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/tosorted/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/with/index.md
Labels: Content:JS

#26053 Add indication of TypeError
  files/en-us/web/javascript/reference/classes/private_class_fields/index.md
Labels: Content:JS

#26075 Standardize punctuation in table
  files/en-us/web/html/attributes/rel/index.md
Labels: Content:HTML

#26076 Remove get prefix from @@species page title
  files/en-us/web/javascript/reference/global_objects/array/@@species/index.md
  files/en-us/web/javascript/reference/global_objects/arraybuffer/@@species/index.md
  files/en-us/web/javascript/reference/global_objects/map/@@species/index.md
  files/en-us/web/javascript/reference/global_objects/promise/@@species/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/@@species/index.md
  files/en-us/web/javascript/reference/global_objects/set/@@species/index.md
  files/en-us/web/javascript/reference/global_objects/sharedarraybuffer/@@species/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/@@species/index.md
Labels: Content:JS

#26073 clarify characters allowed in name and value of cookie
  files/en-us/web/http/headers/set-cookie/index.md
Labels: Content:HTTP
