Repository mdn/content, pull requests merged in 2023-11, with the labels that each got.

#29707 CSS modules: Symbols descriptor and function
  files/en-us/web/css/@counter-style/symbols/index.md
  files/en-us/web/css/symbols/index.md
Labels: Content:CSS

#29902 update HTMLElement interface summary
  files/en-us/web/api/htmlelement/index.md
Labels: Content:WebAPI

#29920 FF120 UserInteraction updates
  files/en-us/web/api/useractivation/hasbeenactive/index.md
  files/en-us/web/api/useractivation/index.md
  files/en-us/web/api/useractivation/isactive/index.md
Labels: Content:WebAPI

#29938 feat: describe default value
  files/en-us/web/api/canvasrenderingcontext2d/imagesmoothingquality/index.md
Labels: Content:WebAPI

#29945 Update index.md
  files/en-us/web/api/mediadevices/getusermedia/index.md
Labels: Content:WebAPI

#29928 Fix the part of description for `undefined` value of `aria-selected`.
  files/en-us/web/api/element/ariaselected/index.md
Labels: Content:WebAPI

#29953 Intl.DateTimeFormat() options: fix typo about persian calendar
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/datetimeformat/index.md
Labels: Content:JS

#29948 WebAssembly | Memory - replace `pageIncrease` with `delta`
  files/en-us/webassembly/javascript_interface/memory/grow/index.md
Labels: Content:wasm

#29937 Update index.md
  files/en-us/web/svg/tutorial/paths/index.md
Labels: Content:SVG

#29959 chore(docs): Fix Markdownlint failures in nested list
  files/en-us/web/api/canvasrenderingcontext2d/imagesmoothingquality/index.md
Labels: Content:WebAPI

#29960 Fix a newline issue in imagesmoothingquality content
  files/en-us/web/api/canvasrenderingcontext2d/imagesmoothingquality/index.md
Labels: Content:WebAPI

#29951 Fix :fullscreen documentation
  files/en-us/web/css/_colon_fullscreen/index.md
Labels: Content:CSS

#29852 fix(css): enhance container-type property page
  files/en-us/web/css/container-type/index.md
Labels: Content:CSS

#29949 Update Number.prototype.toFixed()
  files/en-us/web/javascript/reference/global_objects/number/tofixed/index.md
Labels: Content:JS

#29693 Add CSS to glossary identifier page
  files/en-us/glossary/identifier/index.md
Labels: Content:Glossary

#29854 Clarify case sensitivity for type, class, and ID selectors in Learn doc
  files/en-us/learn/css/building_blocks/selectors/type_class_and_id_selectors/index.md
Labels: Content:Learn:CSS

#29897 Reverses left and top
  files/en-us/web/api/device_orientation_events/detecting_device_orientation/index.md
Labels: Content:WebAPI

#29966 Fix Event Bubbing Link
  files/en-us/web/api/event/bubbles/index.md
Labels: Content:WebAPI

#29851 Update Badging API
  files/en-us/web/api/badging_api/index.md
  files/en-us/web/api/navigator/clearappbadge/index.md
  files/en-us/web/api/navigator/setappbadge/index.md
Labels: Content:WebAPI

#29956 update `DocumentPictureInPicture.requestWindow()` exception section
  files/en-us/web/api/documentpictureinpicture/index.md
  files/en-us/web/api/documentpictureinpicture/requestwindow/index.md
Labels: Content:WebAPI

#29942 Specify the return value
  files/en-us/web/api/urlsearchparams/getall/index.md
Labels: Content:WebAPI

#29976 Add `navigator.usb` documentation
  files/en-us/web/api/navigator/index.md
  files/en-us/web/api/navigator/usb/index.md
Labels: Content:WebAPI

#29983 Fixed typo
  files/en-us/web/accessibility/aria/attributes/aria-keyshortcuts/index.md
Labels: Content:Accessibility

#29719 Editorial review for Window Management API docs
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/element/requestfullscreen/index.md
  files/en-us/web/api/permissions_api/index.md
  files/en-us/web/api/screen/availleft/index.md
  files/en-us/web/api/screen/availtop/index.md
  files/en-us/web/api/screen/change_event/index.md
  files/en-us/web/api/screen/index.md
  files/en-us/web/api/screen/isextended/index.md
  files/en-us/web/api/screen/left/index.md
  files/en-us/web/api/screen/top/index.md
  files/en-us/web/api/screendetailed/availleft/index.md
  files/en-us/web/api/screendetailed/availtop/index.md
  files/en-us/web/api/screendetailed/devicepixelratio/index.md
  files/en-us/web/api/screendetailed/index.md
  files/en-us/web/api/screendetailed/isinternal/index.md
  files/en-us/web/api/screendetailed/isprimary/index.md
  files/en-us/web/api/screendetailed/label/index.md
  files/en-us/web/api/screendetailed/left/index.md
  files/en-us/web/api/screendetailed/top/index.md
  files/en-us/web/api/screendetails/currentscreen/index.md
  files/en-us/web/api/screendetails/currentscreenchange_event/index.md
  files/en-us/web/api/screendetails/index.md
  files/en-us/web/api/screendetails/screens/index.md
  files/en-us/web/api/screendetails/screenschange_event/index.md
  files/en-us/web/api/window/getscreendetails/index.md
  files/en-us/web/api/window/index.md
  files/en-us/web/api/window/open/index.md
  files/en-us/web/api/window_management_api/index.md
  files/en-us/web/api/window_management_api/multi-screen_origin/index.md
  files/en-us/web/api/window_management_api/multi-screen_origin/primary-screen-left-source.drawio
  files/en-us/web/api/window_management_api/multi-screen_origin/primary-screen-left.png
  files/en-us/web/api/window_management_api/multi-screen_origin/primary-screen-right-source.drawio
  files/en-us/web/api/window_management_api/multi-screen_origin/primary-screen-right.png
  files/en-us/web/api/window_management_api/using/index.md
  files/en-us/web/http/headers/permissions-policy/index.md
  files/en-us/web/http/headers/permissions-policy/window-management/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, Content:HTTP

#29985 update `ClipboardItem` of changing `{{DefaultAPISidebar}}` to `{{APIRef("Clipboard API")}}`
  files/en-us/web/api/clipboarditem/clipboarditem/index.md
  files/en-us/web/api/clipboarditem/gettype/index.md
  files/en-us/web/api/clipboarditem/index.md
  files/en-us/web/api/clipboarditem/presentationstyle/index.md
  files/en-us/web/api/clipboarditem/types/index.md
Labels: Content:WebAPI

#29955 update Navigator interface summary
  files/en-us/web/api/navigator/index.md
Labels: Content:WebAPI

#29989 Update index.md
  files/en-us/learn/html/introduction_to_html/creating_hyperlinks/index.md
Labels: Content:Learn:HTML

#29988 update `BroadcastChannel.postMessage` exception section
  files/en-us/web/api/broadcastchannel/postmessage/index.md
Labels: Content:WebAPI

#29979 fix(css): device_smyk() add spec URL
  files/en-us/web/css/color_value/device-cmyk/index.md
Labels: Content:CSS

#29999 fix: correct Firefox bug link texts
  files/en-us/mozilla/firefox/releases/2/index.md
  files/en-us/mozilla/firefox/releases/20/index.md
  files/en-us/mozilla/firefox/releases/27/index.md
  files/en-us/mozilla/firefox/releases/3.5/updating_extensions/index.md
  files/en-us/mozilla/firefox/releases/3/dom_improvements/index.md
  files/en-us/mozilla/firefox/releases/3/notable_bugs_fixed/index.md
  files/en-us/mozilla/firefox/releases/3/site_compatibility/index.md
  files/en-us/mozilla/firefox/releases/3/svg_improvements/index.md
  files/en-us/mozilla/firefox/releases/3/templates/index.md
  files/en-us/mozilla/firefox/releases/3/updating_extensions/index.md
  files/en-us/mozilla/firefox/releases/3/updating_web_applications/index.md
  files/en-us/mozilla/firefox/releases/3/xul_improvements_in_firefox_3/index.md
  files/en-us/mozilla/firefox/releases/31/index.md
  files/en-us/mozilla/firefox/releases/32/index.md
  files/en-us/mozilla/firefox/releases/4/index.md
  files/en-us/mozilla/firefox/releases/41/index.md
  files/en-us/mozilla/firefox/releases/6/index.md
  files/en-us/mozilla/firefox/releases/6/updating_add-ons/index.md
  files/en-us/mozilla/firefox/releases/66/index.md
  files/en-us/mozilla/firefox/releases/70/index.md
  files/en-us/web/api/document/getelementsbytagname/index.md
  files/en-us/web/api/event/comparison_of_event_targets/index.md
  files/en-us/web/api/event/explicitoriginaltarget/index.md
  files/en-us/web/api/idbdatabase/createobjectstore/index.md
  files/en-us/web/api/idbdatabase/transaction/index.md
  files/en-us/web/api/idbobjectstore/createindex/index.md
  files/en-us/web/api/idbtransaction/index.md
  files/en-us/web/api/indexeddb_api/basic_terminology/index.md
  files/en-us/web/api/indexeddb_api/using_indexeddb/index.md
  files/en-us/web/api/window/find/index.md
  files/en-us/web/api/window/ondragdrop/index.md
  files/en-us/web/api/workerglobalscope/location/index.md
  files/en-us/web/api/xmlhttprequest/xmlhttprequest/index.md
  files/en-us/web/css/-moz-force-broken-image-icon/index.md
  files/en-us/web/css/mozilla_extensions/index.md
  files/en-us/web/http/configuring_servers_for_ogg_media/index.md
  files/en-us/web/http/headers/user-agent/firefox/index.md
  files/en-us/web/opensearch/index.md
Labels: Content:CSS, Content:WebAPI, Content:Other, Content:HTTP, Content:Firefox

#29909 nit: CycleTracker - Secure connection - minor typos and rewordings
  files/en-us/web/progressive_web_apps/tutorials/cycletracker/secure_connection/index.md
Labels: Content:PWA

#30000 Glossary:Site - compare to origin
  files/en-us/glossary/site/index.md
Labels: Content:Glossary

#29996 Fixing incorrect VideoEncoder docs
  files/en-us/web/api/videoencoder/videoencoder/index.md
Labels: Content:WebAPI

#30001 Fix to more exact wording
  files/en-us/web/javascript/reference/global_objects/array/every/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/every/index.md
Labels: Content:JS

#30010 fix the word
  files/en-us/web/api/rtcstatsreport/size/index.md
Labels: Content:WebAPI

#30007 FF120 Relnote/Expr: HTTP103 preconnect
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/120/index.md
  files/en-us/web/http/status/103/index.md
  files/en-us/web/http/status/index.md
Labels: Content:HTTP, Content:Firefox

#30002 Fix typo GPUBufferUsage -> GPUTextureUsage
  files/en-us/web/api/gputexture/usage/index.md
Labels: Content:WebAPI

#29944 docs(relnote): Fx120 - Support for `media` in `<source>`
  files/en-us/mozilla/firefox/releases/120/index.md
Labels: Content:Firefox

#29986 update {{SecureContext_Header}} of `ClipboardEvent`
  files/en-us/web/api/clipboard/index.md
  files/en-us/web/api/clipboard_api/index.md
  files/en-us/web/api/clipboarditem/index.md
Labels: Content:WebAPI

#30005 FF120 iframe lazy loading requires JavaScript to be enabled
  files/en-us/web/api/htmliframeelement/loading/index.md
  files/en-us/web/api/htmlimageelement/loading/index.md
  files/en-us/web/html/element/iframe/index.md
Labels: Content:HTML, Content:WebAPI

#29973 update window interface summary
  files/en-us/web/api/window/index.md
Labels: Content:WebAPI

#29207 Fix types for Touch.clientX/clientY/pageX/PageY
  files/en-us/web/api/touch/clientx/index.md
  files/en-us/web/api/touch/clienty/index.md
  files/en-us/web/api/touch/pagex/index.md
  files/en-us/web/api/touch/pagey/index.md
Labels: Content:WebAPI

#29980 docs(http): Add info about byte ranges being offsets
  files/en-us/web/http/headers/range/index.md
Labels: Content:HTTP

#29974 Update document.hidden and document.visibilityState
  files/en-us/web/api/document/hidden/index.md
  files/en-us/web/api/document/visibilitystate/index.md
Labels: Content:WebAPI

#30015 Update index.md
  files/en-us/games/techniques/3d_collision_detection/index.md
Labels: Content:Games

#30018 CanvasRenderingContext2D/globalCompositeOperation - Remove draft abandoned values mention in BCD specific notes
  files/en-us/web/api/canvasrenderingcontext2d/globalcompositeoperation/index.md
Labels: Content:WebAPI

#30012 Add iOS entry
  files/en-us/mozilla/add-ons/webextensions/api/runtime/platformos/index.md
Labels: Content:WebExt

#29947 change somedomain.com to example.com
  files/en-us/web/html/element/address/index.md
Labels: Content:HTML

#30011 style update of `NetworkInformation.effectiveType` to its enum value
  files/en-us/web/api/networkinformation/effectivetype/index.md
Labels: Content:WebAPI

#30020 docs(js): change height params for EmbedInteractiveExample calls
  files/en-us/web/javascript/reference/classes/extends/index.md
  files/en-us/web/javascript/reference/global_objects/array/reduceright/index.md
  files/en-us/web/javascript/reference/global_objects/bigint/asintn/index.md
  files/en-us/web/javascript/reference/global_objects/date/tolocaledatestring/index.md
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/formattoparts/index.md
  files/en-us/web/javascript/reference/global_objects/intl/listformat/formattoparts/index.md
  files/en-us/web/javascript/reference/global_objects/intl/locale/tostring/index.md
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/numberformat/index.md
  files/en-us/web/javascript/reference/global_objects/json/stringify/index.md
  files/en-us/web/javascript/reference/global_objects/map/groupby/index.md
  files/en-us/web/javascript/reference/global_objects/promise/allsettled/index.md
  files/en-us/web/javascript/reference/global_objects/reflect/apply/index.md
  files/en-us/web/javascript/reference/global_objects/string/indexof/index.md
  files/en-us/web/javascript/reference/global_objects/string/lastindexof/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/split/index.md
Labels: Content:JS

#30021 Fix the return type for HTMLCollection.item()
  files/en-us/web/api/htmlcollection/index.md
  files/en-us/web/api/htmlcollection/item/index.md
Labels: Content:WebAPI

#29870 Update `WorkerGlobalScope` “see also” section
  files/en-us/web/api/workerglobalscope/index.md
Labels: Content:WebAPI

#29991 Add a diagram for string.slice()
  files/en-us/web/javascript/reference/global_objects/string/slice/index.md
Labels: Content:JS

#30030 Fix typo
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/vue_methods_events_models/index.md
Labels: Content:Learn:Client-side

#30031 Minor fix to the page of WeakSet constructor
  files/en-us/web/javascript/reference/global_objects/weakset/weakset/index.md
Labels: Content:JS

#30035 Add word read-only to `History.state`
  files/en-us/web/api/history/state/index.md
Labels: Content:WebAPI

#30034 add `{{ReadOnlyInline}}` to `Location.ancestorOrigins`
  files/en-us/web/api/location/index.md
Labels: Content:WebAPI

#30051 Update index.md grammar mistake
  files/en-us/learn/server-side/first_steps/introduction/index.md
Labels: Content:Learn

#30054 update iterators_and_generators
  files/en-us/web/javascript/guide/iterators_and_generators/index.md
Labels: Content:JS

#30040 Remove RTCIceServer dictionary from MDN
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/firefox/releases/23/index.md
  files/en-us/mozilla/firefox/releases/37/index.md
  files/en-us/mozilla/firefox/releases/47/index.md
  files/en-us/mozilla/firefox/releases/68/index.md
  files/en-us/web/api/rtciceserver/credential/index.md
  files/en-us/web/api/rtciceserver/credentialtype/index.md
  files/en-us/web/api/rtciceserver/index.md
  files/en-us/web/api/rtciceserver/url/index.md
  files/en-us/web/api/rtciceserver/urls/index.md
  files/en-us/web/api/rtciceserver/username/index.md
  files/en-us/web/api/rtcpeerconnection/rtcpeerconnection/index.md
  files/en-us/web/api/rtcpeerconnection/setconfiguration/index.md
  files/en-us/web/api/webrtc_api/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, Content:Firefox

#29893 Django: Get user model from settings
  files/en-us/learn/server-side/django/authentication/index.md
  files/en-us/learn/server-side/django/testing/index.md
Labels: Content:Learn:Django

#30041 fix the example of concating a string and a number
  files/en-us/learn/javascript/first_steps/strings/index.md
Labels: Content:Learn:JavaScript

#30055 FF120 Relnote: Global Privacy Control
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/120/index.md
  files/en-us/web/api/navigator/globalprivacycontrol/index.md
  files/en-us/web/http/headers/sec-gpc/index.md
Labels: Content:WebAPI, Content:HTTP, Content:Firefox

#29012 Correct descriptions of the asynchronous iterator methods on `FileSystemDirectoryHandle`
  files/en-us/web/api/filesystemdirectoryhandle/entries/index.md
  files/en-us/web/api/filesystemdirectoryhandle/keys/index.md
  files/en-us/web/api/filesystemdirectoryhandle/values/index.md
Labels: Content:WebAPI

#30029 Fixed the missleading syntax for CharacterData.replaceWith
  files/en-us/web/api/characterdata/replacewith/index.md
Labels: Content:WebAPI

#28617 refactor(ci/pr-review): use `workflow_call` instead of `workflow_run` event
  .github/workflows/pr-review-companion.yml
  .github/workflows/pr-test.yml
Labels: system

#30061 Revert "refactor(ci/pr-review): use `workflow_call` instead of `workflow_run` event"
  .github/workflows/pr-review-companion.yml
  .github/workflows/pr-test.yml
Labels: system

#30063 replace distasteful image with alternative
  files/en-us/web/api/notifications_api/using_the_notifications_api/android-notification.png
  files/en-us/web/api/notifications_api/using_the_notifications_api/desktop-notification.png
  files/en-us/web/api/notifications_api/using_the_notifications_api/index.md
Labels: Content:WebAPI

#30060 add `WorkerNavigator.usb` docs
  files/en-us/web/api/navigator/index.md
  files/en-us/web/api/navigator/usb/index.md
  files/en-us/web/api/workernavigator/index.md
  files/en-us/web/api/workernavigator/usb/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

#30058 update to `document.requestStorageAccess()`
  files/en-us/web/api/document/requeststorageaccess/index.md
Labels: Content:WebAPI

#30062 update `StorageManager.getDirectory()` apiref
  files/en-us/web/api/storagemanager/getdirectory/index.md
Labels: Content:WebAPI

#30064 refactor(ci/pr-review): use `workflow_call` instead of `workflow_run` event (v2)
  .github/workflows/pr-review-companion.yml
  .github/workflows/pr-test.yml
Labels: system

#29998 CSS layout cookbook: wrapper page
  files/en-us/web/css/layout_cookbook/grid_wrapper/index.md
Labels: Content:CSS

#30071 Some minor keyboard lock api improvements
  files/en-us/web/api/keyboard/lock/index.md
Labels: Content:WebAPI

#30078 importmaps do not apply to workers/worklets
  files/en-us/web/html/element/script/type/importmap/index.md
  files/en-us/web/javascript/guide/modules/index.md
Labels: Content:HTML, Content:JS

#29806 update FileSystemWritableFileStream exception section
  files/en-us/web/api/filesystemwritablefilestream/seek/index.md
  files/en-us/web/api/filesystemwritablefilestream/truncate/index.md
  files/en-us/web/api/filesystemwritablefilestream/write/index.md
Labels: Content:WebAPI

#30038 update window management api of securecontext info
  files/en-us/web/api/screen/change_event/index.md
  files/en-us/web/api/screen/index.md
  files/en-us/web/api/screen/isextended/index.md
  files/en-us/web/api/screendetailed/index.md
  files/en-us/web/api/screendetails/index.md
  files/en-us/web/api/window/getscreendetails/index.md
  files/en-us/web/api/window/index.md
  files/en-us/web/api/window_management_api/index.md
Labels: Content:WebAPI

#29811 update FileSystemFileHandle
  files/en-us/web/api/filesystemfilehandle/createsyncaccesshandle/index.md
  files/en-us/web/api/filesystemfilehandle/createwritable/index.md
  files/en-us/web/api/filesystemfilehandle/getfile/index.md
Labels: Content:WebAPI

#30043 update PictureInPicture API
  files/en-us/web/api/document/exitpictureinpicture/index.md
  files/en-us/web/api/htmlvideoelement/requestpictureinpicture/index.md
  files/en-us/web/api/pictureinpictureevent/pictureinpictureevent/index.md
  files/en-us/web/api/pictureinpictureevent/pictureinpicturewindow/index.md
  files/en-us/web/api/pictureinpicturewindow/height/index.md
  files/en-us/web/api/pictureinpicturewindow/width/index.md
Labels: Content:WebAPI

#30082 Add the last page-type values
  files/en-us/learn/forms/how_to_build_custom_form_controls/index.md
  files/en-us/web/api/websockets_api/writing_a_websocket_server_in_javascript_deno/index.md
  files/en-us/web/http/headers/sec-ch-prefers-color-scheme/index.md
  files/en-us/web/xslt/index.md
  front-matter-config.json
Labels: Content:WebAPI, Content:Other, Content:HTTP, Content:Learn:Forms, system

#30084 Fix sidebar on this guide page
  files/en-us/web/api/file_api/using_files_from_web_applications/index.md
Labels: Content:WebAPI

#29805 update FileSystemSyncAccessHandle for exception section
  files/en-us/web/api/filesystemsyncaccesshandle/flush/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/read/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/truncate/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/write/index.md
Labels: Content:WebAPI

#29810 Update FileSystemDirectoryHandle
  files/en-us/web/api/filesystemdirectoryhandle/entries/index.md
  files/en-us/web/api/filesystemdirectoryhandle/getdirectoryhandle/index.md
  files/en-us/web/api/filesystemdirectoryhandle/getfilehandle/index.md
  files/en-us/web/api/filesystemdirectoryhandle/keys/index.md
  files/en-us/web/api/filesystemdirectoryhandle/removeentry/index.md
  files/en-us/web/api/filesystemdirectoryhandle/values/index.md
Labels: Content:WebAPI

#30006 add `WorkerGlobalScope.rejectionhandled` and `WorkerGlobalScope.unhandledrejection`
  files/en-us/web/api/workerglobalscope/rejectionhandled_event/index.md
  files/en-us/web/api/workerglobalscope/unhandledrejection_event/index.md
Labels: Content:WebAPI

#29861 FX120 release notes: Mention new parsable formats for Date objects
  files/en-us/mozilla/firefox/releases/120/index.md
Labels: Content:Firefox

#30089 relnote(120): [Nightly] Prefixed CSS transform & transition properties
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/120/index.md
  files/en-us/web/css/mozilla_extensions/index.md
Labels: Content:CSS, Content:Firefox

#30093 fix: fixed a typo
  files/en-us/learn/css/building_blocks/selectors/combinators/index.md
Labels: Content:Learn:CSS

#30091 Nits: Various minor fixes/improvements for `RTCPeerConnection` constructor page
  files/en-us/web/api/rtcpeerconnection/rtcpeerconnection/index.md
Labels: Content:WebAPI

#30094 Add Number to the list of types for structured clone algorithm
  files/en-us/web/api/web_workers_api/structured_clone_algorithm/index.md
Labels: Content:WebAPI

#30033 Update Private_class_fields
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/learn/javascript/objects/classes_in_javascript/index.md
  files/en-us/mozilla/firefox/releases/90/index.md
  files/en-us/web/javascript/closures/index.md
  files/en-us/web/javascript/guide/using_classes/index.md
  files/en-us/web/javascript/inheritance_and_the_prototype_chain/index.md
  files/en-us/web/javascript/reference/classes/constructor/index.md
  files/en-us/web/javascript/reference/classes/extends/index.md
  files/en-us/web/javascript/reference/classes/index.md
  files/en-us/web/javascript/reference/classes/private_properties/index.md
  files/en-us/web/javascript/reference/classes/public_class_fields/index.md
  files/en-us/web/javascript/reference/classes/static/index.md
  files/en-us/web/javascript/reference/classes/static_initialization_blocks/index.md
  files/en-us/web/javascript/reference/errors/either_be_both_static_or_non-static/index.md
  files/en-us/web/javascript/reference/errors/hash_outside_class/index.md
  files/en-us/web/javascript/reference/functions/get/index.md
  files/en-us/web/javascript/reference/functions/method_definitions/index.md
  files/en-us/web/javascript/reference/functions/set/index.md
  files/en-us/web/javascript/reference/global_objects/object/isprototypeof/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/revocable/index.md
  files/en-us/web/javascript/reference/global_objects/weakmap/index.md
  files/en-us/web/javascript/reference/index.md
  files/en-us/web/javascript/reference/iteration_protocols/index.md
  files/en-us/web/javascript/reference/lexical_grammar/index.md
  files/en-us/web/javascript/reference/operators/delete/index.md
  files/en-us/web/javascript/reference/operators/in/index.md
  files/en-us/web/javascript/reference/operators/instanceof/index.md
  files/en-us/web/javascript/reference/operators/object_initializer/index.md
  files/en-us/web/javascript/reference/operators/super/index.md
  files/en-us/web/javascript/reference/operators/this/index.md
  files/en-us/web/mathml/examples/index.md
Labels: Content:JS, Content:MathML, Content:Learn:JavaScript, Content:Firefox

#30086 Add a more detailed explanation of the effects of a lexical declaration in the initialization block of a for loop
  files/en-us/web/javascript/reference/statements/for/index.md
Labels: Content:JS

#30044 Add error message
  files/en-us/web/javascript/reference/operators/optional_chaining/index.md
Labels: Content:JS

#29981 Update the content of the `Using Object.keys() on primitives` section
  files/en-us/web/javascript/reference/global_objects/object/entries/index.md
  files/en-us/web/javascript/reference/global_objects/object/keys/index.md
  files/en-us/web/javascript/reference/global_objects/object/values/index.md
Labels: Content:JS

#30098 css(padding-block): fix order of properties
  files/en-us/web/css/padding-block/index.md
Labels: Content:CSS

#30100 Popover: make example visible
  files/en-us/web/html/global_attributes/popover/index.md
Labels: Content:HTML

#30108 fix: incorrect alt texts + link to non deprecated event
  files/en-us/web/api/device_orientation_events/orientation_and_motion_data_explained/index.md
Labels: Content:WebAPI

#29946 docs(fix): Improve `<source>` element page for consistency and clarity
  files/en-us/web/html/element/source/index.md
Labels: Content:HTML

#30103 An empty array is also returned when limit is 0
  files/en-us/web/javascript/reference/global_objects/string/split/index.md
Labels: Content:JS

#30127 Update link to Discord server across content
  files/en-us/mdn/community/communication_channels/index.md
  files/en-us/mdn/community/contributing/translated_content/index.md
  files/en-us/mdn/community/pull_requests/index.md
Labels: Content:Meta

#30125 fix typo "machanisms"
  files/en-us/web/api/window/beforeunload_event/index.md
Labels: Content:WebAPI

#30110 fix sidebar of picture-in-picture api
  files/en-us/web/api/document/exitpictureinpicture/index.md
  files/en-us/web/api/document/pictureinpictureelement/index.md
  files/en-us/web/api/htmlvideoelement/disablepictureinpicture/index.md
  files/en-us/web/api/htmlvideoelement/enterpictureinpicture_event/index.md
  files/en-us/web/api/htmlvideoelement/leavepictureinpicture_event/index.md
  files/en-us/web/api/htmlvideoelement/requestpictureinpicture/index.md
Labels: Content:WebAPI

#30101 Added note about nulling stored values
  files/en-us/mozilla/add-ons/webextensions/api/storage/storagearea/clear/index.md
  files/en-us/mozilla/add-ons/webextensions/api/storage/storagearea/remove/index.md
  files/en-us/mozilla/add-ons/webextensions/api/storage/storagearea/set/index.md
Labels: Content:WebExt

#30083 Fixes #28302 - Simplifies language
  files/en-us/web/privacy/index.md
Labels: Content:Other

#30136 Fix browser-compat of Private properties
  files/en-us/web/javascript/reference/classes/private_properties/index.md
Labels: Content:JS

#30142 Minor: remove fallback for grid: css cookbook
  files/en-us/web/css/layout_cookbook/media_objects/index.md
Labels: Content:CSS

#30141 Fix command line to run Prettier
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/introducing_complete_toolchain/index.md
Labels: Content:Learn:Client-side

#30143 minor: edits to pagination cookbook
  files/en-us/web/css/layout_cookbook/pagination/index.md
Labels: Content:CSS

#30135 De-XHR, part 1
  files/en-us/web/api/document/lastmodified/index.md
  files/en-us/web/api/document_object_model/how_to_create_a_dom_tree/index.md
  files/en-us/web/api/eventtarget/addeventlistener/index.md
  files/en-us/web/api/eventtarget/index.md
  files/en-us/web/api/indexeddb_api/basic_terminology/index.md
  files/en-us/web/api/mediasource/endofstream/index.md
  files/en-us/web/api/pushmanager/index.md
  files/en-us/web/api/pushmanager/subscribe/index.md
  files/en-us/web/api/serviceworkerregistration/pushmanager/index.md
  files/en-us/web/api/streams_api/concepts/index.md
  files/en-us/web/api/web_workers_api/index.md
  files/en-us/web/api/web_workers_api/using_web_workers/index.md
  files/en-us/web/api/webrtc_api/session_lifetime/index.md
  files/en-us/web/api/webrtc_api/signaling_and_video_calling/index.md
  files/en-us/web/api/worker/index.md
  files/en-us/web/api/xmlserializer/index.md
Labels: Content:WebAPI

#29972 CSS layout cookbook: card component
  files/en-us/web/css/layout_cookbook/card/index.md
Labels: Content:CSS

#29868 removes host and uses the page's existing terminology of server
  files/en-us/web/http/cookies/index.md
Labels: Content:HTTP

#30120 add {{AvailableInWorkers}} to global properties and functions
  files/en-us/web/api/atob/index.md
  files/en-us/web/api/btoa/index.md
  files/en-us/web/api/caches/index.md
  files/en-us/web/api/clearinterval/index.md
  files/en-us/web/api/cleartimeout/index.md
  files/en-us/web/api/createimagebitmap/index.md
  files/en-us/web/api/crossoriginisolated/index.md
  files/en-us/web/api/crypto_property/index.md
  files/en-us/web/api/fetch/index.md
  files/en-us/web/api/indexeddb/index.md
  files/en-us/web/api/issecurecontext/index.md
  files/en-us/web/api/origin/index.md
  files/en-us/web/api/performance_property/index.md
  files/en-us/web/api/queuemicrotask/index.md
  files/en-us/web/api/setinterval/index.md
  files/en-us/web/api/settimeout/index.md
  files/en-us/web/api/structuredclone/index.md
Labels: Content:WebAPI

#30111 fix: Various minor fixes for Device Orientation Events pages
  files/en-us/web/api/device_orientation_events/detecting_device_orientation/index.md
  files/en-us/web/api/device_orientation_events/index.md
  files/en-us/web/api/device_orientation_events/using_device_orientation_with_3d_transforms/index.md
Labels: Content:WebAPI

#30109 Improve document of `FileSystemWritableFileStream.truncate()`
  files/en-us/web/api/filesystemwritablefilestream/truncate/index.md
Labels: Content:WebAPI

#30092 update Storage API exception section
  files/en-us/web/api/storagemanager/estimate/index.md
  files/en-us/web/api/storagemanager/getdirectory/index.md
  files/en-us/web/api/storagemanager/index.md
  files/en-us/web/api/storagemanager/persist/index.md
  files/en-us/web/api/storagemanager/persisted/index.md
Labels: Content:WebAPI

#30113 update Screen-Orientation exception
  files/en-us/web/api/screenorientation/index.md
  files/en-us/web/api/screenorientation/lock/index.md
  files/en-us/web/api/screenorientation/type/index.md
  files/en-us/web/api/screenorientation/unlock/index.md
Labels: Content:WebAPI

#30147 User-Agent-Client-Hints-API
  files/en-us/web/api/navigatoruadata/brands/index.md
  files/en-us/web/api/navigatoruadata/gethighentropyvalues/index.md
  files/en-us/web/api/navigatoruadata/index.md
  files/en-us/web/api/navigatoruadata/mobile/index.md
  files/en-us/web/api/navigatoruadata/platform/index.md
  files/en-us/web/api/navigatoruadata/tojson/index.md
  files/en-us/web/api/workernavigator/useragentdata/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

#30126 Fix to `setInterval()`
  files/en-us/web/api/setinterval/index.md
Labels: Content:WebAPI

#30079 Remove RTCRtpContributingSource dictionary
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/firefox/releases/72/index.md
  files/en-us/web/api/rtcrtpcontributingsource/audiolevel/index.md
  files/en-us/web/api/rtcrtpcontributingsource/index.md
  files/en-us/web/api/rtcrtpcontributingsource/rtptimestamp/index.md
  files/en-us/web/api/rtcrtpcontributingsource/source/index.md
  files/en-us/web/api/rtcrtpcontributingsource/timestamp/index.md
  files/en-us/web/api/rtcrtpreceiver/getcontributingsources/index.md
  files/en-us/web/api/rtcrtpreceiver/getsynchronizationsources/index.md
  files/en-us/web/api/rtcrtpreceiver/index.md
  files/en-us/web/api/webrtc_api/index.md
Labels: Content:WebAPI, Content:Firefox

#30154 Delete reference to discontinued Google product
  files/en-us/web/http/headers/cache-control/index.md
Labels: Content:HTTP

#30148 Move `window.scheduler` to `scheduler` global property
  files/en-us/_redirects.txt
  files/en-us/web/api/prioritized_task_scheduling_api/index.md
  files/en-us/web/api/scheduler_property/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

#30150 add Navigator.bluetooth
  files/en-us/web/api/navigator/bluetooth/index.md
  files/en-us/web/api/navigator/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

#30157 fix(typo): replace `for for ` by `for `
  files/en-us/web/api/speculation_rules_api/index.md
Labels: Content:WebAPI

#30145 Minor: remove browser compat from css cookbook split nav
  files/en-us/web/css/layout_cookbook/split_navigation/index.md
Labels: Content:CSS

#30158 Clarified sorting order that is used
  files/en-us/web/css/order/index.md
Labels: Content:CSS

#29801 Describe two new `rel` link types.
  files/en-us/web/html/attributes/rel/index.md
Labels: Content:HTML

#30166 fix: Minor improvements for Using XHR API subpages
  files/en-us/web/api/xmlhttprequest_api/using_formdata_objects/index.md
  files/en-us/web/api/xmlhttprequest_api/using_xmlhttprequest/index.md
Labels: Content:WebAPI

#30165 Minor grammar fix
  files/en-us/web/css/css_grid_layout/basic_concepts_of_grid_layout/index.md
Labels: Content:CSS

#30164 fixed minor spelling error
  files/en-us/web/guide/audio_and_video_delivery/live_streaming_web_audio_and_video/index.md
Labels: Content:Guide

#30153 Add line height units example
  files/en-us/learn/css/building_blocks/values_and_units/index.md
Labels: Content:Learn:CSS

#28414 Reference for stage 3 set-methods
  files/en-us/web/javascript/reference/global_objects/set/difference/diagram.svg
  files/en-us/web/javascript/reference/global_objects/set/difference/index.md
  files/en-us/web/javascript/reference/global_objects/set/index.md
  files/en-us/web/javascript/reference/global_objects/set/intersection/diagram.svg
  files/en-us/web/javascript/reference/global_objects/set/intersection/index.md
  files/en-us/web/javascript/reference/global_objects/set/isdisjointfrom/diagram.svg
  files/en-us/web/javascript/reference/global_objects/set/isdisjointfrom/index.md
  files/en-us/web/javascript/reference/global_objects/set/issubsetof/diagram.svg
  files/en-us/web/javascript/reference/global_objects/set/issubsetof/index.md
  files/en-us/web/javascript/reference/global_objects/set/issupersetof/diagram.svg
  files/en-us/web/javascript/reference/global_objects/set/issupersetof/index.md
  files/en-us/web/javascript/reference/global_objects/set/symmetricdifference/diagram.svg
  files/en-us/web/javascript/reference/global_objects/set/symmetricdifference/index.md
  files/en-us/web/javascript/reference/global_objects/set/union/diagram.svg
  files/en-us/web/javascript/reference/global_objects/set/union/index.md
Labels: Content:JS

#30167 Fix typo
  files/en-us/learn/forms/form_validation/index.md
Labels: Content:Learn:Forms

#30097 Background page load fail bug fix release note
  files/en-us/mozilla/add-ons/webextensions/manifest.json/background/index.md
  files/en-us/mozilla/firefox/releases/121/index.md
Labels: Content:WebExt, Content:Firefox

#30144 Link to W3C Internationalization Activity
  files/en-us/glossary/internationalization/index.md
Labels: Content:Glossary

#30173 Delete web audio migration guides
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mdn/writing_guidelines/howto/write_an_api_reference/index.md
  files/en-us/web/api/web_audio_api/index.md
  files/en-us/web/api/web_audio_api/migrating_from_webkitaudiocontext/index.md
  files/en-us/web/api/web_audio_api/tools/index.md
  files/en-us/web/guide/audio_and_video_delivery/index.md
  files/en-us/web/guide/audio_and_video_delivery/web_audio_api_cross_browser/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, Content:Guide, Content:Meta

#30080 RTCRtpEncodingParameters - removal
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/firefox/releases/101/index.md
  files/en-us/mozilla/firefox/releases/110/index.md
  files/en-us/mozilla/firefox/releases/64/index.md
  files/en-us/web/api/rtcpeerconnection/addtransceiver/index.md
  files/en-us/web/api/rtcrtpencodingparameters/index.md
  files/en-us/web/api/rtcrtpencodingparameters/maxbitrate/index.md
  files/en-us/web/api/rtcrtpencodingparameters/maxframerate/index.md
  files/en-us/web/api/rtcrtpencodingparameters/scaleresolutiondownby/index.md
  files/en-us/web/api/rtcrtpsender/getparameters/index.md
  files/en-us/web/api/rtcrtpsender/setparameters/index.md
Labels: Content:WebAPI, Content:Firefox

#30057 Django fixes to allow safe deletion of Books
  files/en-us/learn/server-side/django/admin_site/index.md
  files/en-us/learn/server-side/django/authentication/index.md
  files/en-us/learn/server-side/django/forms/forms_example_create_author.png
  files/en-us/learn/server-side/django/forms/forms_example_detail_author_update.png
  files/en-us/learn/server-side/django/forms/index.md
  files/en-us/learn/server-side/django/home_page/index.md
  files/en-us/learn/server-side/django/models/index.md
  files/en-us/learn/server-side/django/testing/index.md
Labels: Content:Learn:Django

#30179 Synchronize with BCD v5.3.30
  files/en-us/web/api/beforeunloadevent/returnvalue/index.md
  files/en-us/web/api/canvasrenderingcontext2d/fontstretch/index.md
  files/en-us/web/api/canvasrenderingcontext2d/fontvariantcaps/index.md
  files/en-us/web/api/canvasrenderingcontext2d/index.md
  files/en-us/web/api/html_sanitizer_api/index.md
  files/en-us/web/api/htmlelement/beforetoggle_event/index.md
  files/en-us/web/api/htmlelement/toggle_event/index.md
  files/en-us/web/api/navigator/donottrack/index.md
  files/en-us/web/api/navigator/globalprivacycontrol/index.md
  files/en-us/web/api/navigator/index.md
  files/en-us/web/api/navigator/usb/index.md
  files/en-us/web/api/notification/index.md
  files/en-us/web/api/notification/requireinteraction/index.md
  files/en-us/web/api/offscreencanvasrenderingcontext2d/index.md
  files/en-us/web/api/performanceresourcetiming/deliverytype/index.md
  files/en-us/web/api/screen/index.md
  files/en-us/web/api/videocolorspace/index.md
  files/en-us/web/api/videocolorspace/videocolorspace/index.md
  files/en-us/web/api/window/clearimmediate/index.md
  files/en-us/web/api/window/setimmediate/index.md
  files/en-us/web/api/windowclient/ancestororigins/index.md
  files/en-us/web/api/windowclient/index.md
  files/en-us/web/api/workernavigator/globalprivacycontrol/index.md
  files/en-us/web/api/workernavigator/index.md
  files/en-us/web/api/workernavigator/usb/index.md
  files/en-us/web/css/-webkit-line-clamp/index.md
  files/en-us/web/css/@scope/index.md
  files/en-us/web/css/_colon_popover-open/index.md
  files/en-us/web/css/break-after/index.md
  files/en-us/web/css/break-before/index.md
  files/en-us/web/css/offset-position/index.md
  files/en-us/web/html/element/link/index.md
  files/en-us/web/html/element/script/type/speculationrules/index.md
  files/en-us/web/http/headers/dnt/index.md
  files/en-us/web/http/headers/permissions-policy/index.md
  files/en-us/web/http/headers/permissions-policy/publickey-credentials-get/index.md
  files/en-us/web/http/headers/sec-gpc/index.md
  files/en-us/web/http/headers/tk/index.md
  files/en-us/web/javascript/reference/global_objects/set/difference/index.md
  files/en-us/web/javascript/reference/global_objects/set/index.md
  files/en-us/web/javascript/reference/global_objects/set/intersection/index.md
  files/en-us/web/javascript/reference/global_objects/set/isdisjointfrom/index.md
  files/en-us/web/javascript/reference/global_objects/set/issubsetof/index.md
  files/en-us/web/javascript/reference/global_objects/set/issupersetof/index.md
  files/en-us/web/javascript/reference/global_objects/set/symmetricdifference/index.md
  files/en-us/web/javascript/reference/global_objects/set/union/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:JS, Content:HTTP

#29941 docs(CSS): Add See Also for hue data type, BCD to hue page for functions with this component
  files/en-us/web/css/color_value/hsl/index.md
  files/en-us/web/css/color_value/hwb/index.md
  files/en-us/web/css/color_value/lch/index.md
  files/en-us/web/css/color_value/oklch/index.md
  files/en-us/web/css/hue-interpolation-method/index.md
  files/en-us/web/css/hue/index.md
Labels: Content:CSS

#30162 addEventListener: Update example function name to prevent minor confusion
  files/en-us/web/api/eventtarget/addeventlistener/index.md
Labels: Content:WebAPI

#30187 Explain why we're using XHR here
  files/en-us/web/api/file_api/using_files_from_web_applications/index.md
Labels: Content:WebAPI

#30199 fix the layout of examples
  files/en-us/web/html/element/sup/index.md
Labels: Content:HTML

#30194 Link from CSS `:scope` pseudo-class to `@scope` at-rule
  files/en-us/web/css/_colon_scope/index.md
Labels: Content:CSS

#30189 Update index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_stores/index.md
Labels: Content:Learn:Client-side

#30181 Fix: Refine document formatting
  files/en-us/web/api/mutationobserver/mutationobserver/index.md
Labels: Content:WebAPI

#30175 additional update to `scheduler` global property
  files/en-us/web/api/dedicatedworkerglobalscope/index.md
  files/en-us/web/api/serviceworkerglobalscope/index.md
  files/en-us/web/api/sharedworkerglobalscope/index.md
  files/en-us/web/api/window/index.md
  files/en-us/web/api/workerglobalscope/index.md
Labels: Content:WebAPI

#30204 fix: typos
  files/en-us/learn/css/building_blocks/values_and_units/index.md
  files/en-us/mdn/writing_guidelines/writing_style_guide/code_style_guide/index.md
  files/en-us/web/api/identityprovider/getuserinfo_static/index.md
  files/en-us/web/api/rtcrtpscripttransformer/sendkeyframerequest/index.md
  files/en-us/web/api/screendetailed/isprimary/index.md
  files/en-us/web/css/@media/index.md
  files/en-us/web/css/css_fonts/index.md
Labels: Content:CSS, Content:WebAPI, Content:Meta, Content:Learn:CSS

#30139 Update switch case syntax spec to use the term expression rather than value
  files/en-us/web/javascript/reference/statements/switch/index.md
Labels: Content:JS

#30198 fix: WebAssembly runs inside the JavaScript engine
  files/en-us/webassembly/concepts/index.md
Labels: Content:wasm

#30224 Removed dead link
  files/en-us/games/techniques/3d_on_the_web/building_up_a_basic_demo_with_babylon.js/index.md
Labels: Content:Games

#30216 fix apiref of `Navigator.bluetooth`
  files/en-us/web/api/navigator/bluetooth/index.md
Labels: Content:WebAPI
