Repository mdn/content, pull requests merged in 2023-09, with the labels that each got.

#28651 Standardize representation of rest parameters
  files/en-us/mdn/writing_guidelines/page_structures/syntax_sections/index.md
  files/en-us/web/javascript/reference/global_objects/array/array/index.md
  files/en-us/web/javascript/reference/global_objects/array/concat/index.md
  files/en-us/web/javascript/reference/global_objects/array/of/index.md
  files/en-us/web/javascript/reference/global_objects/array/push/index.md
  files/en-us/web/javascript/reference/global_objects/array/splice/index.md
  files/en-us/web/javascript/reference/global_objects/array/tospliced/index.md
  files/en-us/web/javascript/reference/global_objects/array/unshift/index.md
  files/en-us/web/javascript/reference/global_objects/array/with/index.md
  files/en-us/web/javascript/reference/global_objects/asyncfunction/asyncfunction/index.md
  files/en-us/web/javascript/reference/global_objects/asyncgenerator/next/index.md
  files/en-us/web/javascript/reference/global_objects/asyncgenerator/return/index.md
  files/en-us/web/javascript/reference/global_objects/asyncgenerator/throw/index.md
  files/en-us/web/javascript/reference/global_objects/asyncgeneratorfunction/asyncgeneratorfunction/index.md
  files/en-us/web/javascript/reference/global_objects/function/bind/index.md
  files/en-us/web/javascript/reference/global_objects/function/call/index.md
  files/en-us/web/javascript/reference/global_objects/function/function/index.md
  files/en-us/web/javascript/reference/global_objects/generator/next/index.md
  files/en-us/web/javascript/reference/global_objects/generator/return/index.md
  files/en-us/web/javascript/reference/global_objects/generator/throw/index.md
  files/en-us/web/javascript/reference/global_objects/generatorfunction/generatorfunction/index.md
  files/en-us/web/javascript/reference/global_objects/map/delete/index.md
  files/en-us/web/javascript/reference/global_objects/math/hypot/index.md
  files/en-us/web/javascript/reference/global_objects/math/max/index.md
  files/en-us/web/javascript/reference/global_objects/math/min/index.md
  files/en-us/web/javascript/reference/global_objects/object/assign/index.md
  files/en-us/web/javascript/reference/global_objects/object/object/index.md
  files/en-us/web/javascript/reference/global_objects/promise/catch/index.md
  files/en-us/web/javascript/reference/global_objects/promise/finally/index.md
  files/en-us/web/javascript/reference/global_objects/set/delete/index.md
  files/en-us/web/javascript/reference/global_objects/string/concat/index.md
  files/en-us/web/javascript/reference/global_objects/string/fromcharcode/index.md
  files/en-us/web/javascript/reference/global_objects/string/fromcodepoint/index.md
  files/en-us/web/javascript/reference/global_objects/string/raw/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/@@toprimitive/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/of/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/with/index.md
  files/en-us/web/javascript/reference/global_objects/weakmap/delete/index.md
  files/en-us/web/javascript/reference/global_objects/weakset/delete/index.md
Labels: Content:JS, Content:Meta

#28380 Remove the XSLT JS interface in Gecko subtree
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/xsltprocessor/index.md
  files/en-us/web/api/xsltprocessor/resources/index.md
  files/en-us/web/xslt/index.md
  files/en-us/web/xslt/using_the_mozilla_javascript_interface_to_xsl_transformations/index.md
  files/en-us/web/xslt/xslt_js_interface_in_gecko/advanced_example/index.md
  files/en-us/web/xslt/xslt_js_interface_in_gecko/basic_example/index.md
  files/en-us/web/xslt/xslt_js_interface_in_gecko/index.md
  files/en-us/web/xslt/xslt_js_interface_in_gecko/interface_list/index.md
  files/en-us/web/xslt/xslt_js_interface_in_gecko/introduction/index.md
  files/en-us/web/xslt/xslt_js_interface_in_gecko/javascript_xslt_bindings/index.md
  files/en-us/web/xslt/xslt_js_interface_in_gecko/resources/index.md
  files/en-us/web/xslt/xslt_js_interface_in_gecko/setting_parameters/index.md
Labels: Content:WebAPI, Content:Other

#28818 Update "TypeScript support in Svelte" index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_typescript/index.md
Labels: Content:Learn:Client-side

#28872 ,? not ?,
  files/en-us/web/svg/attribute/viewbox/index.md
Labels: Content:SVG

#28877 Standardize rest parameters for web APIs
  files/en-us/web/api/domtokenlist/add/index.md
  files/en-us/web/api/rtcpeerconnection/addtrack/index.md
  files/en-us/web/api/rtcrtpsender/setstreams/index.md
  files/en-us/web/api/setinterval/index.md
  files/en-us/web/api/window/setimmediate/index.md
Labels: Content:WebAPI

#28762 feat:(Content:CSS): [accent-color] Add html elements supported in some browsers
  files/en-us/web/css/accent-color/index.md
Labels: Content:CSS

#28808 Comment is not a landmark role
  files/en-us/web/accessibility/aria/roles/comment_role/index.md
Labels: Content:Accessibility

#28883 Add Navigator.clipboard property
  files/en-us/web/api/navigator/index.md
Labels: Content:WebAPI

#28878 Fix 28835: Update order of dispatch for focus events
  files/en-us/web/api/focusevent/index.md
Labels: Content:WebAPI

#28855 relnote(117): Windows notifications have requireInteraction set to true by default
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/117/index.md
  files/en-us/web/api/notification/requireinteraction/index.md
Labels: Content:WebAPI, Content:Firefox

#28887 Release notes for 117
  files/en-us/mozilla/firefox/releases/117/index.md
  files/en-us/mozilla/firefox/releases/118/index.md
  files/en-us/mozilla/firefox/releases/119/index.md
Labels: Content:Firefox

#28836 fix: improve the description of "reaching the declaration"
  files/en-us/web/javascript/guide/modules/index.md
  files/en-us/web/javascript/reference/errors/cant_access_lexical_declaration_before_init/index.md
  files/en-us/web/javascript/reference/errors/invalid_assignment_left-hand_side/index.md
  files/en-us/web/javascript/reference/operators/assignment/index.md
  files/en-us/web/javascript/reference/operators/typeof/index.md
  files/en-us/web/javascript/reference/statements/class/index.md
  files/en-us/web/javascript/reference/statements/const/index.md
  files/en-us/web/javascript/reference/statements/let/index.md
Labels: Content:JS

#28884 Fix punctuation and formatting
  files/en-us/web/api/navigator/plugins/index.md
Labels: Content:WebAPI

#28894 Synchronize with BCD v5.3.14
  files/en-us/web/api/notification/requireinteraction/index.md
Labels: Content:WebAPI

#28905 CSS selector structure: fix CSSxRef macro for :is()
  files/en-us/web/css/css_selectors/selector_structure/index.md
Labels: Content:CSS

#28910 Fix a typo
  files/en-us/web/javascript/reference/global_objects/string/small/index.md
Labels: Content:JS

#28869 Update links to contribution guideline
  files/en-us/mdn/community/roles_teams/index.md
Labels: Content:Meta

#28897 Marked realm as required
  files/en-us/web/http/headers/www-authenticate/index.md
Labels: Content:HTTP

#28917 HTML base element: data and javascript URLs disallowed
  files/en-us/web/html/element/base/index.md
Labels: Content:HTML

#28891 CSS filters: blur
  files/en-us/web/css/filter-function/blur/flag.jpg
  files/en-us/web/css/filter-function/blur/index.md
Labels: Content:CSS

#28880 Correct EXSLT namespaces
  files/en-us/web/exslt/regexp/index.md
  files/en-us/web/exslt/set/index.md
  files/en-us/web/exslt/str/index.md
Labels: Content:Other

#28823 Glossary: parameters v arguments
  files/en-us/glossary/parameter/index.md
Labels: Content:Glossary

#28890 Add `npx` to execute parcel command
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/package_management/index.md
Labels: Content:Learn:Client-side

#28927 FragmentDirective is an empty object for now
  files/en-us/web/api/document/fragmentdirective/index.md
  files/en-us/web/api/fragmentdirective/index.md
  files/en-us/web/text_fragments/index.md
Labels: Content:WebAPI, Content:Other

#28921 modulepreload: add links
  files/en-us/web/html/attributes/rel/modulepreload/index.md
Labels: Content:HTML

#28618 Fx(117): examples for 'auto none' in 'contain-intrinsic-size' CSS prop
  files/en-us/mozilla/firefox/releases/117/index.md
  files/en-us/web/css/contain-intrinsic-size/index.md
Labels: Content:CSS, Content:Firefox

#28594 Normalize Intl constructor options representation
  files/en-us/web/javascript/reference/global_objects/intl/collator/collator/index.md
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/datetimeformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/displaynames/displaynames/index.md
  files/en-us/web/javascript/reference/global_objects/intl/durationformat/durationformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/listformat/listformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/relativetimeformat/relativetimeformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/segmenter/segmenter/index.md
Labels: Content:JS

#28896 fix(css): `:blank` and `@page:blank` are not same
  files/en-us/web/css/@page/index.md
Labels: Content:CSS

#28932 performance.now() not Performance.now()
  files/en-us/web/api/performance_api/high_precision_timing/index.md
Labels: Content:WebAPI

#28938 Fix confusing content
  files/en-us/learn/javascript/client-side_web_apis/fetching_data/index.md
Labels: Content:Learn:JavaScript

#28941 Fix link to `AbortController()`
  files/en-us/web/api/abortcontroller/index.md
Labels: Content:WebAPI

#28939 Update index.md
  files/en-us/web/javascript/reference/statements/try...catch/index.md
Labels: Content:JS

#28934 Fix incorrect closing tag in example html
  files/en-us/web/accessibility/aria/roles/alertdialog_role/index.md
Labels: Content:Accessibility

#28935 Fix issue 28899: launch_handler example syntax
  files/en-us/web/manifest/launch_handler/index.md
Labels: Content:Manifest

#28925 relnote(118): CSS math functions enabled (CSS Values 4)
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/112/index.md
  files/en-us/mozilla/firefox/releases/118/index.md
  files/en-us/web/css/css_functions/index.md
Labels: Content:CSS, Content:Firefox

#28814 Improve notes about async versions of filesystemsyncaccesshandle methods
  files/en-us/web/api/filesystemfilehandle/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/close/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/flush/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/getsize/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/read/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/truncate/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/write/index.md
  files/en-us/web/api/storagemanager/getdirectory/index.md
Labels: Content:WebAPI

#28946 Remove non-exisiting performance api articles
  files/en-us/web/api/performance_api/index.md
Labels: Content:WebAPI

#28950 deleted unnecessary space in `**Warning:**`
  files/en-us/learn/css/styling_text/fundamentals/index.md
Labels: Content:Learn:CSS

#28474 Added reference to Xray Vision to use instead of ExecutionWorld.MAIN
  files/en-us/mozilla/add-ons/webextensions/api/scripting/executionworld/index.md
Labels: Content:WebExt

#28958 Fix links to Map/Set-like object
  files/en-us/web/api/audioparammap/index.md
  files/en-us/web/api/customstateset/index.md
  files/en-us/web/api/eventcounts/index.md
  files/en-us/web/api/fontfaceset/index.md
  files/en-us/web/api/gpusupportedfeatures/index.md
  files/en-us/web/api/highlight/index.md
  files/en-us/web/api/highlightregistry/index.md
  files/en-us/web/api/keyboardlayoutmap/index.md
  files/en-us/web/api/midiinputmap/index.md
  files/en-us/web/api/midioutputmap/index.md
  files/en-us/web/api/rtcstatsreport/index.md
  files/en-us/web/api/xranchorset/index.md
Labels: Content:WebAPI

#28915 add more details to toStringTag symbol in built-in objects
  files/en-us/web/javascript/reference/global_objects/symbol/tostringtag/index.md
Labels: Content:JS

#28918 fix(css): scroll chaining can be stopped on iframes
  files/en-us/web/css/overscroll-behavior/index.md
Labels: Content:CSS

#28914 fetch: use bullet points for “credentials” argument for consistency
  files/en-us/web/api/fetch/index.md
Labels: Content:WebAPI

#28963 Fix missing closing parentheses in ARIA cell role doc
  files/en-us/web/accessibility/aria/roles/cell_role/index.md
Labels: Content:Accessibility

#28947 fixed to duplication of the code blocks in the with/without examples
  files/en-us/web/css/css_nesting/using_css_nesting/index.md
Labels: Content:CSS

#28949 chore(learn): Add details about math functions, improve intro
  files/en-us/learn/css/building_blocks/values_and_units/index.md
Labels: Content:Learn:CSS

#28967 MIDIConnectionEvent: fix typo
  files/en-us/web/api/midiconnectionevent/index.md
Labels: Content:WebAPI

#28723 Clarify `getRootNode` return value
  files/en-us/web/api/node/getrootnode/index.md
Labels: Content:WebAPI

#28970 chore(CSS): revisit appearance prop page, examples
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/react_components/index.md
  files/en-us/web/css/appearance/index.md
Labels: Content:CSS, Content:Learn:Client-side

#28965 chore(CSS): delete and redirect not implemented nth-col() and nth-last-col() pages
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/css/_colon_nth-col/index.md
  files/en-us/web/css/_colon_nth-last-col/index.md
Labels: Content:CSS

#28976 docs(css_nesting): fix typo `wite` -> `write`
  files/en-us/web/css/css_nesting/using_css_nesting/index.md
Labels: Content:CSS

#28971 docs(fix): Change the selector from "class" to "id"
  files/en-us/learn/forms/form_validation/index.md
Labels: Content:Learn:Forms

#28973 Improve MIDIPort.connection
  files/en-us/web/api/midiport/connection/index.md
Labels: Content:WebAPI

#28968 MIDIAccess.sysexEnabled: fix typo
  files/en-us/web/api/midiaccess/sysexenabled/index.md
Labels: Content:WebAPI

#28960 Require mongoose library
  files/en-us/learn/server-side/express_nodejs/deployment/index.md
Labels: Content:Learn:Express

#28948 Improve top layer glossary page
  files/en-us/glossary/top_layer/index.md
  files/en-us/web/css/css_positioned_layout/understanding_z-index/stacking_context/index.md
Labels: Content:CSS, Content:Glossary

#28987 Fix recent issues
  files/en-us/web/javascript/reference/global_objects/array/copywithin/index.md
  files/en-us/web/javascript/reference/global_objects/bigint/bigint/index.md
  files/en-us/web/javascript/reference/global_objects/object/object/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/copywithin/index.md
Labels: Content:JS

#28984 Replace the dulipcated value.
  files/en-us/web/api/navigator/platform/index.md
Labels: Content:WebAPI

#28982 Improve OrientationSensor
  files/en-us/web/api/orientationsensor/index.md
Labels: Content:WebAPI

#28977 Add a link to containing block
  files/en-us/web/css/width/index.md
Labels: Content:CSS

#28944 Update `document.createTreeWalker()`
  files/en-us/web/api/document/createtreewalker/index.md
Labels: Content:WebAPI

#28906 Add glossary for camel/kebab/snake casing
  files/en-us/glossary/camel_case/index.md
  files/en-us/glossary/kebab_case/index.md
  files/en-us/glossary/snake_case/index.md
  files/en-us/learn/html/howto/use_data_attributes/index.md
  files/en-us/learn/javascript/building_blocks/events/index.md
  files/en-us/learn/javascript/client-side_web_apis/manipulating_documents/index.md
  files/en-us/learn/javascript/first_steps/variables/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/ember_structure_componentization/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/react_getting_started/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/react_interactivity_events_state/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/vue_first_component/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/vue_methods_events_models/index.md
  files/en-us/learn/tools_and_testing/cross_browser_testing/html_and_css/index.md
  files/en-us/learn/tools_and_testing/cross_browser_testing/javascript/index.md
  files/en-us/mdn/writing_guidelines/writing_style_guide/code_style_guide/html/index.md
  files/en-us/mdn/writing_guidelines/writing_style_guide/code_style_guide/javascript/index.md
  files/en-us/mozilla/add-ons/webextensions/api/contentscripts/register/index.md
  files/en-us/related/imsc/index.md
  files/en-us/web/api/cssstyledeclaration/removeproperty/index.md
  files/en-us/web/api/document/getelementsbytagname/index.md
  files/en-us/web/api/element/getelementsbytagname/index.md
  files/en-us/web/api/htmlelement/dataset/index.md
  files/en-us/web/api/htmlelement/style/index.md
  files/en-us/web/api/mathmlelement/style/index.md
  files/en-us/web/api/svgelement/style/index.md
  files/en-us/web/api/web_animations_api/keyframe_formats/index.md
  files/en-us/web/api/web_components/using_custom_elements/index.md
  files/en-us/web/css/float/index.md
  files/en-us/web/html/global_attributes/data-_star_/index.md
  files/en-us/web/svg/attribute/data-_star_/index.md
Labels: Content:CSS, Content:HTML, Content:WebExt, Content:WebAPI, Content:Other, Content:SVG, Content:Glossary, Content:Learn:Client-side, Content:Learn:JavaScript, Content:Meta, Content:Learn:HTML, Content:Learn:Cross-Browser-Testing

#28862 fix(style-guide): Add cross-referencing guidelines and clarify external link guidelines in See also section
  files/en-us/mdn/writing_guidelines/writing_style_guide/index.md
Labels: Content:Meta

#28989 Clarify the return value of `every()`
  files/en-us/web/javascript/reference/global_objects/array/every/index.md
  files/en-us/web/javascript/reference/global_objects/array/some/index.md
Labels: Content:JS

#28439 WebRTC Encoded Transforms docs
  files/en-us/web/api/dedicatedworkerglobalscope/rtctransform_event/index.md
  files/en-us/web/api/rtcencodedaudioframe/data/index.md
  files/en-us/web/api/rtcencodedaudioframe/getmetadata/index.md
  files/en-us/web/api/rtcencodedaudioframe/index.md
  files/en-us/web/api/rtcencodedaudioframe/timestamp/index.md
  files/en-us/web/api/rtcencodedvideoframe/data/index.md
  files/en-us/web/api/rtcencodedvideoframe/getmetadata/index.md
  files/en-us/web/api/rtcencodedvideoframe/index.md
  files/en-us/web/api/rtcencodedvideoframe/timestamp/index.md
  files/en-us/web/api/rtcencodedvideoframe/type/index.md
  files/en-us/web/api/rtcrtpreceiver/index.md
  files/en-us/web/api/rtcrtpreceiver/transform/index.md
  files/en-us/web/api/rtcrtpscripttransform/index.md
  files/en-us/web/api/rtcrtpscripttransform/rtcrtpscripttransform/index.md
  files/en-us/web/api/rtcrtpscripttransformer/generatekeyframe/index.md
  files/en-us/web/api/rtcrtpscripttransformer/index.md
  files/en-us/web/api/rtcrtpscripttransformer/options/index.md
  files/en-us/web/api/rtcrtpscripttransformer/readable/index.md
  files/en-us/web/api/rtcrtpscripttransformer/sendkeyframerequest/index.md
  files/en-us/web/api/rtcrtpscripttransformer/writable/index.md
  files/en-us/web/api/rtcrtpsender/index.md
  files/en-us/web/api/rtcrtpsender/transform/index.md
  files/en-us/web/api/rtctransformevent/index.md
  files/en-us/web/api/rtctransformevent/transformer/index.md
  files/en-us/web/api/webrtc_api/index.md
  files/en-us/web/api/webrtc_api/using_encoded_transforms/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

#28952 Update `importmap` example
  files/en-us/web/javascript/guide/modules/index.md
Labels: Content:JS

#29000 Fix case for the Number object
  files/en-us/web/javascript/reference/global_objects/number/tofixed/index.md
Labels: Content:JS

#29011 Synchronize with BCD v5.3.15
  files/en-us/web/api/canvasrenderingcontext2d/index.md
  files/en-us/web/api/canvasrenderingcontext2d/textrendering/index.md
  files/en-us/web/api/offscreencanvasrenderingcontext2d/index.md
  files/en-us/web/api/textmetrics/alphabeticbaseline/index.md
  files/en-us/web/api/textmetrics/hangingbaseline/index.md
  files/en-us/web/api/textmetrics/ideographicbaseline/index.md
  files/en-us/web/api/textmetrics/index.md
  files/en-us/web/css/mod/index.md
  files/en-us/web/css/rem/index.md
  files/en-us/web/css/round/index.md
Labels: Content:CSS, Content:WebAPI

#29009 Add USBOutTransferResult to WebUSB API
  files/en-us/web/api/webusb_api/index.md
Labels: Content:WebAPI

#29004 Fix USBConfiguration.configurationValue
  files/en-us/web/api/usbconfiguration/configurationvalue/index.md
Labels: Content:WebAPI

#29032 Fix a link to glossary
  files/en-us/web/javascript/reference/statements/while/index.md
Labels: Content:JS

#29034 Fix a link to `replaceAll()`
  files/en-us/web/javascript/reference/global_objects/regexp/sticky/index.md
Labels: Content:JS

#29027 Fix typo
  files/en-us/web/javascript/reference/functions/get/index.md
Labels: Content:JS

#29036 remove tabular formatting
  files/en-us/web/css/cross-fade/index.md
Labels: Content:CSS

#29033 add http syntax highlighing to 'syntax sections'
  files/en-us/mdn/writing_guidelines/page_structures/syntax_sections/index.md
Labels: Content:Meta

#29015 minor punctuation change
  files/en-us/mdn/community/contributing/our_repositories/index.md
Labels: Content:Meta

#29031 Update "How to research a technology"
  files/en-us/mdn/writing_guidelines/howto/research_technology/index.md
Labels: Content:Meta

#20552 Clarify devtools.panels.create() path resolution
  files/en-us/mozilla/add-ons/webextensions/api/devtools/panels/create/index.md
Labels: Content:WebExt, on hold

#29017 fix the broken url
  files/en-us/web/progressive_web_apps/tutorials/cycletracker/html_and_css/index.md
Labels: Content:PWA

#29038 fix: typo in Node.isDefaultNamespace docs example
  files/en-us/web/api/node/isdefaultnamespace/index.md
Labels: Content:WebAPI

#28895 Improved the reliability of cache.match by using an url instead of a request
  files/en-us/web/progressive_web_apps/tutorials/cycletracker/service_workers/index.md
Labels: Content:PWA

#29053 Fix BluetoothRemoteGATTCharacteristic
  files/en-us/web/api/bluetoothremotegattcharacteristic/index.md
Labels: Content:WebAPI

#29047 Update CORS error explanation
  files/en-us/web/http/cors/errors/corsdidnotsucceed/index.md
Labels: Content:HTTP

#29055 Update index.md
  files/en-us/web/api/gamepad_api/using_the_gamepad_api/index.md
Labels: Content:WebAPI

#29056 FF118Relnote: TextMetrics.emHeightDescent/Ascent supported
  files/en-us/mozilla/firefox/releases/118/index.md
Labels: Content:Firefox

#29051 added `:fullscreen` to top layer glossary definition.
  files/en-us/glossary/top_layer/index.md
Labels: Content:Glossary

#28983 docs(css): Add details about subgrid to Grid Learn article
  files/en-us/learn/css/css_layout/grids/index.md
Labels: Content:Learn:CSS

#29069 fix broken links
  files/en-us/glossary/submit_button/index.md
  files/en-us/web/html/global_attributes/index.md
Labels: Content:HTML, Content:Glossary

#29070 Minor improvements / nits
  files/en-us/web/css/css_backgrounds_and_borders/resizing_background_images/index.md
Labels: Content:CSS

#28993 Add a link to containing block
  files/en-us/web/css/height/index.md
Labels: Content:CSS

#29042 Fix tablist link on ARIA: tabpanel page
  files/en-us/web/accessibility/aria/roles/tabpanel_role/index.md
Labels: Content:Accessibility

#29018 Update `scroll-snap-type` and "Basic concepts of scroll snap"
  files/en-us/web/css/css_scroll_snap/basic_concepts/index.md
  files/en-us/web/css/scroll-snap-type/index.md
Labels: Content:CSS

#29071 Cache.match: change "URL" to "URL string"
  files/en-us/web/api/cache/match/index.md
Labels: Content:WebAPI

#29063 WAI-ARIA basics - Minor improvements (MDN URLs, DLs)
  files/en-us/learn/accessibility/wai-aria_basics/index.md
Labels: Content:Learn:Accessibility

#29076 Correct statement about arrow functions in event listener examples
  files/en-us/learn/javascript/building_blocks/functions/index.md
Labels: Content:Learn:JavaScript

#29078 fix(docs): typo and logic in css nesting examples
  files/en-us/web/css/css_nesting/using_css_nesting/index.md
Labels: Content:CSS

#29037 mention more details about reviver function
  files/en-us/web/javascript/reference/global_objects/json/parse/index.md
Labels: Content:JS

#29016 fix broken url and fix js code
  files/en-us/web/progressive_web_apps/tutorials/cycletracker/javascript_functionality/index.md
Labels: Content:PWA

#28992 align context format and correct the language tag
  files/en-us/mdn/community/issues/index.md
Labels: Content:Meta

#28995 fix reversed code logic on Using the imscJS polyfill page
  files/en-us/related/imsc/using_the_imscjs_polyfill/index.md
Labels: Content:Other

#29061 Fix block code indentation inside dls
  files/en-us/web/css/filter/index.md
Labels: Content:CSS

#29086 fix wrongly marked noteblock
  files/en-us/learn/css/css_layout/legacy_layout_methods/index.md
Labels: Content:Learn:CSS

#28930 28839 search element
  files/en-us/mozilla/firefox/releases/118/index.md
  files/en-us/web/html/element/search/index.md
Labels: Content:HTML, Content:Firefox

#29072 Glossary: async
  files/en-us/glossary/asynchronous/index.md
Labels: Content:Glossary

#29091 Improve Media Queries diagram
  files/en-us/web/css/css_media_queries/index.md
  files/en-us/web/css/css_media_queries/media-queries.png
Labels: Content:CSS

#29089 Fixed Typo in CSS Performance Optimization Page
  files/en-us/learn/performance/css/index.md
Labels: Content:Learn

#29085 fix(css): update `text-wrap: balance` limit
  files/en-us/web/css/text-wrap/index.md
Labels: Content:CSS

#29097 Convert MQ diagram to SVG
  files/en-us/web/css/css_media_queries/index.md
  files/en-us/web/css/css_media_queries/media-queries.png
  files/en-us/web/css/css_media_queries/media-queries.svg
Labels: Content:CSS

#29048 Added WebSocket example for Deno
  files/en-us/web/api/websockets_api/index.md
  files/en-us/web/api/websockets_api/writing_a_websocket_server_in_javascript_deno/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

#29083 Fix issue 28997: better example of passive listeners
  files/en-us/web/api/eventtarget/addeventlistener/index.md
Labels: Content:WebAPI

#29096 Fix issue 29094: request parameter to BackgroundFetchRegistration: ma…
  files/en-us/web/api/backgroundfetchregistration/matchall/index.md
Labels: Content:WebAPI

#29102 Fix issue 24453: Response.body is a readable byte stream
  files/en-us/web/api/response/body/index.md
Labels: Content:WebAPI

#28911 Update realm restrictions
  files/en-us/web/http/headers/www-authenticate/index.md
Labels: Content:HTTP

#29119 Fix issue 27044: input is not fired when value is changed programmati…
  files/en-us/web/api/htmlelement/input_event/index.md
Labels: Content:WebAPI

#29118 Update index.md
  files/en-us/web/accessibility/aria/attributes/aria-describedby/index.md
Labels: Content:Accessibility

#29116 Fix wrong text
  files/en-us/learn/html/introduction_to_html/document_and_website_structure/index.md
Labels: Content:Learn:HTML

#29115 Fix typo and add missing link
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_todo_list_beginning/index.md
Labels: Content:Learn:Client-side

#29075 Consistency fixes for typed array methods
  files/en-us/web/javascript/reference/global_objects/array/filter/index.md
  files/en-us/web/javascript/reference/global_objects/array/findlast/index.md
  files/en-us/web/javascript/reference/global_objects/array/findlastindex/index.md
  files/en-us/web/javascript/reference/global_objects/array/indexof/index.md
  files/en-us/web/javascript/reference/global_objects/array/join/index.md
  files/en-us/web/javascript/reference/global_objects/array/lastindexof/index.md
  files/en-us/web/javascript/reference/global_objects/array/reduce/index.md
  files/en-us/web/javascript/reference/global_objects/array/reduceright/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/at/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/copywithin/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/every/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/fill/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/filter/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/findindex/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/findlast/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/findlastindex/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/includes/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/indexof/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/join/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/lastindexof/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/reduce/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/reduceright/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/slice/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/some/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/sort/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/tosorted/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/with/index.md
Labels: Content:JS

#29120 Fix issue 27093: Explain :focus-visible example
  files/en-us/web/css/_colon_focus-visible/index.md
Labels: Content:CSS

#29125 Fix issue 29110: Use a less confusing class name
  files/en-us/learn/css/css_layout/practical_positioning_examples/index.md
Labels: Content:Learn:CSS

#29122 Fix issue 26879: UAs may ignore user-installed fonts
  files/en-us/web/css/@font-face/src/index.md
Labels: Content:CSS

#29121 Update landmark roles - add HTML `<search>` element
  files/en-us/web/accessibility/aria/roles/index.md
Labels: Content:Accessibility

#29103 Fix issue 27162: multi-keyword display is everywhere now
  files/en-us/web/css/display/multi-keyword_syntax_of_display/index.md
Labels: Content:CSS

#28920 27180 css nesting
  files/en-us/learn/css/building_blocks/cascade_and_inheritance/index.md
  files/en-us/learn/css/building_blocks/selectors/combinators/index.md
  files/en-us/web/css/at-rule/index.md
  files/en-us/web/css/css_cascade/index.md
  files/en-us/web/css/css_selectors/index.md
  files/en-us/web/css/css_selectors/selectors_and_combinators/index.md
  files/en-us/web/css/specificity/index.md
Labels: Content:CSS, Content:Learn:CSS

#29057 RTCPeerConnection.getTransceivers() doesn't return stopped transceivers
  files/en-us/web/api/rtcpeerconnection/getreceivers/index.md
  files/en-us/web/api/rtcpeerconnection/getsenders/index.md
  files/en-us/web/api/rtcpeerconnection/gettransceivers/index.md
Labels: Content:WebAPI

#29127 Remove RTCOutboundRtpStreamStats.lastPacketSentTimestamp
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/rtcoutboundrtpstreamstats/index.md
  files/en-us/web/api/rtcoutboundrtpstreamstats/lastpacketsenttimestamp/index.md
Labels: Content:WebAPI

#29126 Fix sidebar for Notifications guide
  files/en-us/web/api/notifications_api/using_the_notifications_api/index.md
Labels: Content:WebAPI

#29131 chore: remove links to localhost
  files/en-us/web/progressive_web_apps/tutorials/cycletracker/secure_connection/index.md
Labels: Content:PWA

#29064 fix wrong explanation about cache-control and authroization header
  files/en-us/web/http/caching/index.md
Labels: Content:HTTP

#29136 relnote(118): maction semantics mathml pref removed
  .vscode/project-words.txt
  files/en-us/mozilla/firefox/releases/118/index.md
Labels: Content:Firefox, system

#29039 Add examples for replacements of string HTML methods
  files/en-us/web/javascript/reference/global_objects/string/anchor/index.md
  files/en-us/web/javascript/reference/global_objects/string/big/index.md
  files/en-us/web/javascript/reference/global_objects/string/blink/index.md
  files/en-us/web/javascript/reference/global_objects/string/bold/index.md
  files/en-us/web/javascript/reference/global_objects/string/fixed/index.md
  files/en-us/web/javascript/reference/global_objects/string/fontcolor/index.md
  files/en-us/web/javascript/reference/global_objects/string/fontsize/index.md
  files/en-us/web/javascript/reference/global_objects/string/italics/index.md
  files/en-us/web/javascript/reference/global_objects/string/link/index.md
  files/en-us/web/javascript/reference/global_objects/string/small/index.md
  files/en-us/web/javascript/reference/global_objects/string/strike/index.md
  files/en-us/web/javascript/reference/global_objects/string/sub/index.md
  files/en-us/web/javascript/reference/global_objects/string/sup/index.md
Labels: Content:JS

#27302 Add note that clip() cannot be reverted without save() and restore()
  files/en-us/web/api/canvasrenderingcontext2d/clip/index.md
Labels: Content:WebAPI

#29099 link `at` and `with` together
  files/en-us/web/javascript/reference/global_objects/array/at/index.md
  files/en-us/web/javascript/reference/global_objects/array/with/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/at/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/with/index.md
Labels: Content:JS

#29124 Mention conditional spreading
  files/en-us/web/javascript/reference/operators/spread_syntax/index.md
Labels: Content:JS

#29142 Update index.md
  files/en-us/learn/javascript/building_blocks/conditionals/index.md
Labels: Content:Learn:JavaScript

#29143 Fix issue 25017: Use a button element in JS example
  files/en-us/learn/javascript/first_steps/what_is_javascript/html-and-css.png
  files/en-us/learn/javascript/first_steps/what_is_javascript/index.md
  files/en-us/learn/javascript/first_steps/what_is_javascript/just-html.png
Labels: Content:Learn:JavaScript

#29137 mention `clip-path` on CSS `url()` docs
  files/en-us/web/css/url/index.md
Labels: Content:CSS

#29147 Update index.md
  files/en-us/learn/javascript/asynchronous/promises/index.md
Labels: Content:Learn:JavaScript

#29129 Permissions-Policy: publickey-credentials-get not experimental
  files/en-us/web/http/headers/permissions-policy/index.md
  files/en-us/web/http/headers/permissions-policy/publickey-credentials-get/index.md
Labels: Content:HTTP

#29074 Clarify the nesting spec the example shows
  files/en-us/web/css/css_nesting/using_css_nesting/index.md
Labels: Content:CSS

#28962 Detail about <number>s in rgb-related color functions and glossary
  files/en-us/glossary/rgb/index.md
  files/en-us/web/css/color_value/color/index.md
  files/en-us/web/css/color_value/hsl/index.md
  files/en-us/web/css/color_value/hwb/index.md
  files/en-us/web/css/color_value/rgb/index.md
Labels: Content:CSS, Content:Glossary

#29148 fix typos
  files/en-us/web/api/serviceworkerregistration/getnotifications/index.md
  files/en-us/web/progressive_web_apps/tutorials/cycletracker/secure_connection/index.md
Labels: Content:WebAPI, Content:PWA

#29149 Fix issue 22955: clarify description of destination property
  files/en-us/web/api/request/index.md
Labels: Content:WebAPI

#29154 Fix a level of a heading
  files/en-us/web/api/navigator/contacts/index.md
Labels: Content:WebAPI

#29160 Synchronize with BCD v5.3.16
  files/en-us/web/http/headers/permissions-policy/index.md
  files/en-us/web/http/headers/permissions-policy/publickey-credentials-get/index.md
Labels: Content:HTTP

#29161 fix: add 'container' so the list of shorthand properties
  files/en-us/web/css/shorthand_properties/index.md
Labels: Content:CSS

#29170 clarify object's description
  files/en-us/web/javascript/reference/global_objects/object/index.md
Labels: Content:JS

#29043 FF118Relnotes: RTCRtpTransceiver.direction/currentDirection supported
  files/en-us/mozilla/firefox/releases/118/index.md
Labels: Content:Firefox

#28996 FF118 RTCRtpTransceiver directions include stopped option
  files/en-us/web/api/rtcpeerconnection/addtrack/index.md
  files/en-us/web/api/rtcrtptransceiver/currentdirection/index.md
  files/en-us/web/api/rtcrtptransceiver/direction/index.md
  files/en-us/web/api/rtcrtptransceiver/index.md
  files/en-us/web/api/rtcrtptransceiver/stop/index.md
  files/en-us/web/api/rtcrtptransceiver/stopped/index.md
Labels: Content:WebAPI

#29174 Fix longOffset example in DateTimeFormat
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/datetimeformat/index.md
Labels: Content:JS
