Repository mdn/content, pull requests merged in 2023-01, with the labels that each got.

#23293 Grammar fix: Missing word "every" between "published once" and "several years"
  files/en-us/web/javascript/javascript_technologies_overview/index.md
Labels: Content:JS

#23294 Fix typos
  files/en-us/glossary/first_contentful_paint/index.md
  files/en-us/learn/server-side/apache_configuration_htaccess/index.md
  files/en-us/web/api/domhighrestimestamp/index.md
  files/en-us/web/api/htmlformelement/reset_event/index.md
  files/en-us/web/api/htmlformelement/submit_event/index.md
  files/en-us/web/api/rtcdatachannel/send/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/lastpacketreceivedtimestamp/index.md
  files/en-us/web/api/sensor/index.md
  files/en-us/web/api/sensor/timestamp/index.md
  files/en-us/web/api/webrtc_api/intro_to_rtp/index.md
  files/en-us/web/api/xrsession/requestanimationframe/index.md
  files/en-us/web/html/element/del/index.md
  files/en-us/web/html/element/ins/index.md
  files/en-us/web/javascript/reference/errors/invalid_date/index.md
  files/en-us/web/performance/navigation_and_resource_timings/index.md
Labels: Content:HTML, Content:WebAPI, Content:JS, Content:Learn, Content:Other, Content:Glossary

#23302 Fix formatting error introduced by previous edit
  files/en-us/web/html/element/i/index.md
Labels: Content:HTML

#23301 setRequestHeader: using forbidden has no effect
  files/en-us/web/api/xmlhttprequest/setrequestheader/index.md
Labels: Content:WebAPI

#23298 changed link to page where the information is displayed
  files/en-us/web/api/htmlinputelement/webkitdirectory/index.md
Labels: Content:WebAPI

#23296 CSS Transforms: make warning more accurate
  files/en-us/web/css/css_transforms/using_css_transforms/index.md
Labels: Content:CSS

#23119 General availability of MV3 release note
  files/en-us/mozilla/firefox/releases/109/index.md
Labels: Content:Other

#23304 rm "easily", as it's relative to the user's skill
  files/en-us/web/api/formdata/index.md
Labels: Content:WebAPI

#22954 Arrow function associativity
  files/en-us/web/javascript/reference/operators/operator_precedence/index.md
Labels: Content:JS

#23297 Normalize capitalization of titles and slugs in Glossary
  files/en-us/glossary/accent/index.md
  files/en-us/glossary/advance_measure/index.md
  files/en-us/glossary/application_context/index.md
  files/en-us/glossary/array/index.md
  files/en-us/glossary/baseline/index.md
  files/en-us/glossary/beacon/index.md
  files/en-us/glossary/bounding_box/index.md
  files/en-us/glossary/brotli_compression/index.md
  files/en-us/glossary/buffer/index.md
  files/en-us/glossary/cacheable/index.md
  files/en-us/glossary/caret/index.md
  files/en-us/glossary/challenge/index.md
  files/en-us/glossary/character_encoding/index.md
  files/en-us/glossary/character_set/index.md
  files/en-us/glossary/document_environment/index.md
  files/en-us/glossary/event/index.md
  files/en-us/glossary/firewall/index.md
  files/en-us/glossary/first_meaningful_paint/index.md
  files/en-us/glossary/fps/index.md
  files/en-us/glossary/gif/index.md
  files/en-us/glossary/gzip_compression/index.md
  files/en-us/glossary/hash/index.md
  files/en-us/glossary/https/index.md
  files/en-us/glossary/https_rr/index.md
  files/en-us/glossary/jpeg/index.md
  files/en-us/glossary/loop/index.md
  files/en-us/glossary/lossy_compression/index.md
  files/en-us/glossary/ltr/index.md
  files/en-us/glossary/markup/index.md
  files/en-us/glossary/mime/index.md
  files/en-us/glossary/minification/index.md
  files/en-us/glossary/modularity/index.md
  files/en-us/glossary/non-normative/index.md
  files/en-us/glossary/percent-encoding/index.md
  files/en-us/glossary/prerender/index.md
  files/en-us/glossary/privileged_code/index.md
  files/en-us/glossary/property/css/index.md
  files/en-us/glossary/property/index.md
  files/en-us/glossary/property/javascript/index.md
  files/en-us/glossary/routers/index.md
  files/en-us/glossary/rtl/index.md
  files/en-us/glossary/speculative_parsing/index.md
  files/en-us/glossary/strict_mode/index.md
  files/en-us/glossary/time_to_first_byte/index.md
  files/en-us/glossary/undefined/index.md
  files/en-us/glossary/webm/index.md
  files/en-us/glossary/webp/index.md
Labels: Content:Glossary

#23307 Fix currencies in example output for formatRange
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/formatrange/index.md
Labels: Content:JS

#23308 HTML Table : Change CDN to CMS
  files/en-us/web/html/element/table/index.md
Labels: Content:HTML

#23310 IDBRequest.error: fix typo
  files/en-us/web/api/idbrequest/error/index.md
Labels: Content:WebAPI

#23275 Add more details to `crossOriginIsolated` property
  files/en-us/web/api/crossoriginisolated/index.md
  files/en-us/web/api/window/postmessage/index.md
  files/en-us/web/http/headers/cross-origin-embedder-policy/index.md
  files/en-us/web/http/headers/cross-origin-opener-policy/index.md
  files/en-us/web/javascript/reference/global_objects/sharedarraybuffer/index.md
Labels: Content:WebAPI, Content:JS, Content:HTTP

#23315 Update a link to "Transferable Object"
  files/en-us/web/javascript/reference/global_objects/sharedarraybuffer/index.md
Labels: Content:JS

#23311 Improve IDBRequest.source
  files/en-us/web/api/idbrequest/source/index.md
Labels: Content:WebAPI

#23323 fix: ongemoetrychange -> ongeometrychange
  files/en-us/web/api/virtualkeyboard/geometrychange_event/index.md
Labels: Content:WebAPI

#21797 fix: MD052 Reference links and images should use a label that is defined
  .markdownlint-cli2.jsonc
  files/en-us/learn/forms/property_compatibility_table_for_form_controls/index.md
  files/en-us/web/api/webgl2renderingcontext/index.md
  files/en-us/web/api/webglrenderingcontext/getuniformlocation/index.md
  files/en-us/web/api/webglrenderingcontext/index.md
  files/en-us/web/api/webglrenderingcontext/uniform/index.md
Labels: Content:WebAPI, Content:Learn

#23325 fix: vs -> vs.
  files/en-us/games/publishing_games/game_distribution/index.md
  files/en-us/games/techniques/3d_collision_detection/bounding_volume_collision_detection_with_three.js/index.md
  files/en-us/games/techniques/3d_collision_detection/index.md
  files/en-us/games/techniques/3d_on_the_web/building_up_a_basic_demo_with_playcanvas/index.md
  files/en-us/learn/common_questions/what_is_a_url/index.md
  files/en-us/learn/server-side/django/deployment/index.md
  files/en-us/learn/server-side/django/forms/index.md
  files/en-us/learn/server-side/express_nodejs/deployment/index.md
  files/en-us/learn/server-side/first_steps/web_frameworks/index.md
  files/en-us/web/accessibility/aria/aria_guides/index.md
  files/en-us/web/accessibility/understanding_colors_and_luminance/index.md
  files/en-us/web/api/event/index.md
  files/en-us/web/api/html_dom_api/microtask_guide/in_depth/index.md
  files/en-us/web/api/html_dom_api/microtask_guide/index.md
Labels: Content:WebAPI, Content:Learn, Content:Other, Content:Accessibility

#23321 Fix example
  files/en-us/web/api/barcode_detection_api/index.md
Labels: Content:WebAPI

#23324 Update keyed collections overview
  files/en-us/web/javascript/guide/keyed_collections/index.md
Labels: Content:JS

#23309 Clarify that value in double quotes are also strings
  files/en-us/learn/getting_started_with_the_web/javascript_basics/index.md
Labels: Content:Learn

#22706 Controlling ratios of flex items along the main axis - incorrect (possibly)
  files/en-us/web/css/css_flexible_box_layout/controlling_ratios_of_flex_items_along_the_main_ax/index.md
Labels: Content:CSS

#22976 docs(CSS): Add interactive examples for translate, rotate, scale
  files/en-us/web/css/rotate/index.md
  files/en-us/web/css/scale/index.md
  files/en-us/web/css/translate/index.md
Labels: Content:CSS

#23043 Added commas and word in 2nd sentence
  files/en-us/web/html/element/dfn/index.md
Labels: Content:HTML

#23137 Range tick mark release note 109
  files/en-us/mozilla/firefox/releases/109/index.md
  files/en-us/web/html/element/input/range/index.md
Labels: Content:HTML, Content:Other

#23329 Synchronize with BCD v5.2.24
  files/en-us/web/api/navigator/index.md
  files/en-us/web/api/navigator/virtualkeyboard/index.md
  files/en-us/web/api/virtualkeyboard/index.md
Labels: Content:WebAPI

#23170 Undo removal of crypto params objects
  files/en-us/_redirects.txt
  files/en-us/web/api/aescbcparams/index.md
  files/en-us/web/api/aesctrparams/index.md
  files/en-us/web/api/rsaoaepparams/index.md
  files/en-us/web/api/subtlecrypto/decrypt/index.md
  files/en-us/web/api/subtlecrypto/encrypt/index.md
  files/en-us/web/api/subtlecrypto/unwrapkey/index.md
  files/en-us/web/api/subtlecrypto/wrapkey/index.md
Labels: Content:WebAPI

#23327 IDBCursor.direction: fix markup
  files/en-us/web/api/idbcursor/direction/index.md
Labels: Content:WebAPI

#23312 IDBRequest.readyState: improve comment in the example
  files/en-us/web/api/idbrequest/readystate/index.md
Labels: Content:WebAPI

#23305 Move extends reference into its own page
  files/en-us/web/javascript/guide/using_classes/index.md
  files/en-us/web/javascript/language_overview/index.md
  files/en-us/web/javascript/reference/classes/extends/index.md
  files/en-us/web/javascript/reference/classes/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/species/index.md
  files/en-us/web/javascript/reference/statements/class/index.md
  files/en-us/web/javascript/reference/statements/const/index.md
  files/en-us/web/javascript/reference/statements/let/index.md
Labels: Content:JS

#23331 Transferable objects - add sidebar
  files/en-us/web/api/web_workers_api/transferable_objects/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

#22846 Update Element Timing API pages
  files/en-us/_redirects.txt
  files/en-us/web/api/element/elementtiming/index.md
  files/en-us/web/api/element/index.md
  files/en-us/web/api/element_timing_api/index.md
  files/en-us/web/api/performanceelementtiming/element/index.md
  files/en-us/web/api/performanceelementtiming/id/index.md
  files/en-us/web/api/performanceelementtiming/identifier/index.md
  files/en-us/web/api/performanceelementtiming/index.md
  files/en-us/web/api/performanceelementtiming/intersectionrect/index.md
  files/en-us/web/api/performanceelementtiming/loadtime/index.md
  files/en-us/web/api/performanceelementtiming/naturalheight/index.md
  files/en-us/web/api/performanceelementtiming/naturalwidth/index.md
  files/en-us/web/api/performanceelementtiming/rendertime/index.md
  files/en-us/web/api/performanceelementtiming/tojson/index.md
  files/en-us/web/api/performanceelementtiming/url/index.md
  files/en-us/web/html/attributes/elementtiming/index.md
  files/en-us/web/html/element/img/index.md
  files/jsondata/GroupData.json
Labels: Content:HTML, Content:WebAPI

#23085 Add implications multiple src and invalid elements
  files/en-us/web/css/@font-face/index.md
Labels: Content:CSS

#23340 Fix broken link
  files/en-us/learn/css/building_blocks/cascade_and_inheritance/index.md
Labels: Content:Learn

#23337 Fix grammar
  files/en-us/web/api/window/localstorage/index.md
Labels: Content:WebAPI

#23026 Update margin-trim content
  files/en-us/web/css/margin-trim/index.md
Labels: Content:CSS

#23357 Fix typo in table header
  files/en-us/web/html/attributes/min/index.md
Labels: Content:HTML

#23265 Very Minor: grammar and quotes
  files/en-us/web/html/element/input/range/index.md
Labels: Content:HTML, rebase needed :construction:

#23350 Update index.md
  files/en-us/glossary/ascii/index.md
Labels: Content:Glossary

#23361 Synchronize with BCD v5.2.25
  files/en-us/web/api/element/index.md
Labels: Content:WebAPI

#23360 Fix 23345
  files/en-us/web/api/window/index.md
  files/en-us/web/api/window/locationbar/index.md
  files/en-us/web/api/window/menubar/index.md
  files/en-us/web/api/window/personalbar/index.md
  files/en-us/web/api/window/scrollbars/index.md
  files/en-us/web/api/window/statusbar/index.md
  files/en-us/web/api/window/statusbar/modify_any_open_window_dialog.png
  files/en-us/web/api/window/toolbar/index.md
Labels: Content:WebAPI

#23335 FF109 Relnote: CSS system-color support Mark, MarkText, ButtonBorder
  files/en-us/mozilla/firefox/releases/109/index.md
Labels: Content:Other

#23333 CSS `counters()` - remove note about type-or-unit
  files/en-us/web/css/counters/index.md
Labels: Content:CSS

#23351 Fix Iframe.Credentialless documentation.
  files/en-us/web/api/htmliframeelement/credentialless/index.md
  files/en-us/web/api/window/credentialless/index.md
  files/en-us/web/html/element/iframe/index.md
  files/en-us/web/security/iframe_credentialless/index.md
  files/en-us/web/security/index.md
Labels: Content:HTML, Content:WebAPI, Content:Other

#23270 Add docs for Payment Handler API
  files/en-us/web/api/canmakepaymentevent/canmakepaymentevent/index.md
  files/en-us/web/api/canmakepaymentevent/index.md
  files/en-us/web/api/canmakepaymentevent/respondwith/index.md
  files/en-us/web/api/payment_handler_api/index.md
  files/en-us/web/api/paymentmanager/enabledelegations/index.md
  files/en-us/web/api/paymentmanager/index.md
  files/en-us/web/api/paymentmanager/userhint/index.md
  files/en-us/web/api/paymentrequestevent/changepaymentmethod/index.md
  files/en-us/web/api/paymentrequestevent/index.md
  files/en-us/web/api/paymentrequestevent/instrumentkey/index.md
  files/en-us/web/api/paymentrequestevent/methoddata/index.md
  files/en-us/web/api/paymentrequestevent/modifiers/index.md
  files/en-us/web/api/paymentrequestevent/openwindow/index.md
  files/en-us/web/api/paymentrequestevent/paymentrequestevent/index.md
  files/en-us/web/api/paymentrequestevent/paymentrequestid/index.md
  files/en-us/web/api/paymentrequestevent/paymentrequestorigin/index.md
  files/en-us/web/api/paymentrequestevent/respondwith/index.md
  files/en-us/web/api/paymentrequestevent/toporigin/index.md
  files/en-us/web/api/paymentrequestevent/total/index.md
  files/en-us/web/api/serviceworkerglobalscope/canmakepayment_event/index.md
  files/en-us/web/api/serviceworkerglobalscope/index.md
  files/en-us/web/api/serviceworkerglobalscope/paymentrequest_event/index.md
  files/en-us/web/api/serviceworkerregistration/index.md
  files/en-us/web/api/serviceworkerregistration/paymentmanager/index.md
  files/en-us/web/manifest/serviceworker/index.md
  files/jsondata/GroupData.json
  files/jsondata/InterfaceData.json
Labels: Content:WebAPI, Content:Other

#23362 Make mentions to IDBObjectStore.createIndex() clearer
  files/en-us/web/api/idbindex/index.md
  files/en-us/web/api/idbindex/isautolocale/index.md
  files/en-us/web/api/idbindex/locale/index.md
  files/en-us/web/api/idblocaleawarekeyrange/index.md
  files/en-us/web/api/idbobjectstore/createindex/index.md
  files/en-us/web/api/indexeddb_api/index.md
Labels: Content:WebAPI

#23326 [#23254] Remove link preload as attribute note for video
  files/en-us/web/html/link_types/preload/index.md
Labels: Content:HTML

#23366 Fix small issues on new payment handler API docs
  files/en-us/web/api/payment_handler_api/index.md
  files/en-us/web/manifest/serviceworker/index.md
Labels: Content:WebAPI, Content:Other

#23370 correct PaymentRequestEvent methods that were wrongly called properties
  files/en-us/web/api/paymentrequestevent/changepaymentmethod/index.md
  files/en-us/web/api/paymentrequestevent/openwindow/index.md
  files/en-us/web/api/paymentrequestevent/respondwith/index.md
Labels: Content:WebAPI

#23344 Document COEP:credentialless
  files/en-us/web/api/performance/measureuseragentspecificmemory/index.md
  files/en-us/web/api/performance/now/index.md
  files/en-us/web/api/window/postmessage/index.md
  files/en-us/web/http/headers/cross-origin-embedder-policy/index.md
  files/en-us/web/http/headers/cross-origin-opener-policy/index.md
  files/en-us/web/javascript/reference/global_objects/sharedarraybuffer/index.md
Labels: Content:WebAPI, Content:JS, Content:HTTP

#23368 fix navigation links order for css
  files/en-us/learn/css/building_blocks/cascade_and_inheritance/index.md
Labels: Content:Learn

#23347 Update the IntersectionObserverEntry.observe() with details about immediate callback firing
  files/en-us/web/api/intersectionobserver/observe/index.md
Labels: Content:WebAPI

#23377 Fix button navigation in CSS learn area
  files/en-us/learn/css/building_blocks/selectors/index.md
  files/en-us/learn/css/building_blocks/the_box_model/index.md
Labels: Content:Learn

#23261 Describe rgb and hsl forms consistently
  files/en-us/web/css/color_value/hsl/index.md
  files/en-us/web/css/color_value/rgb/index.md
Labels: Content:CSS

#23183 `rem()` - New CSS functional notation
  files/en-us/web/css/rem/index.md
Labels: Content:CSS

#22436 Rename render modes to use the new spec-defined names
  files/en-us/web/html/quirks_mode_and_standards_mode/index.md
Labels: Content:HTML

#23295 contenteditable adds element to tabbing sequence
  files/en-us/web/html/global_attributes/contenteditable/index.md
Labels: Content:HTML

#23378 Remove link to Ryan Grove's <script> and node event compatibility chart because it is broken
  files/en-us/web/api/htmlscriptelement/index.md
Labels: Content:WebAPI

#23382 fix: various typos
  files/en-us/web/api/window/locationbar/index.md
  files/en-us/web/api/window/menubar/index.md
  files/en-us/web/api/window/personalbar/index.md
  files/en-us/web/api/window/scrollbars/index.md
  files/en-us/web/api/window/statusbar/index.md
  files/en-us/web/api/window/toolbar/index.md
  files/en-us/web/html/quirks_mode_and_standards_mode/index.md
Labels: Content:HTML, Content:WebAPI

#23381 xyz values issue23338
  files/en-us/web/css/transform-function/rotate3d/index.md
Labels: Content:CSS

#23380 docs(API): cleanup element scrollend example
  files/en-us/web/api/element/scrollend_event/index.md
Labels: Content:WebAPI

#23114 upgrade-insecure-requests added to default MV3 CSP
  files/en-us/mozilla/add-ons/webextensions/content_security_policy/index.md
  files/en-us/mozilla/firefox/releases/109/index.md
Labels: Content:WebExt, Content:Other

#23389 Extra )
  files/en-us/web/http/basics_of_http/evolution_of_http/index.md
Labels: Content:HTTP

#23393 Fix typo 'appearence'
  files/en-us/learn/forms/advanced_form_styling/index.md
Labels: Content:Learn

#23242 Restore :current pseudo class
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/css/_colon_current/index.md
Labels: Content:CSS

#23390 Use hsl in examples, not hsla
  files/en-us/learn/css/building_blocks/values_and_units/index.md
  files/en-us/learn/css/first_steps/how_css_is_structured/index.md
  files/en-us/web/api/css_painting_api/guide/index.md
  files/en-us/web/api/css_painting_api/index.md
  files/en-us/web/css/background-color/index.md
  files/en-us/web/css/border-bottom-color/index.md
  files/en-us/web/css/border-left-color/index.md
  files/en-us/web/css/border-right-color/index.md
  files/en-us/web/css/border-top-color/index.md
  files/en-us/web/css/caret-color/index.md
  files/en-us/web/css/color_value/index.md
  files/en-us/web/css/column-rule-color/index.md
  files/en-us/web/css/css_colors/color_picker_tool/index.md
  files/en-us/web/css/css_functions/index.md
  files/en-us/web/css/image/paint/index.md
  files/en-us/web/css/privacy_and_the__colon_visited_selector/index.md
  files/en-us/web/html/element/table/index.md
  files/en-us/web/mathml/global_attributes/mathbackground/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:Learn, Content:MathML

#23387 Remove hsla and rgba
  files/en-us/_redirects.txt
  files/en-us/web/css/color_value/hsl/index.md
  files/en-us/web/css/color_value/hsla/index.md
  files/en-us/web/css/color_value/rgb/index.md
  files/en-us/web/css/color_value/rgba/index.md
Labels: Content:CSS

#23386 Clarify example code comments
  files/en-us/web/api/canvasrenderingcontext2d/restore/index.md
  files/en-us/web/api/canvasrenderingcontext2d/save/index.md
Labels: Content:WebAPI

#23395 fix code tag: bash -> http
  files/en-us/glossary/request_header/index.md
Labels: Content:Glossary

#23396 Put see also at the end of the article
  files/en-us/glossary/cors/index.md
Labels: Content:Glossary

#23400 docs(API): align embedded examples, remove scroll area in example container
  files/en-us/web/api/element/scrollend_event/index.md
Labels: Content:WebAPI

#23401 Fix typo
  files/en-us/learn/forms/ui_pseudo-classes/index.md
Labels: Content:Learn

#23364 More cleaning on console.timeLog
  files/en-us/web/api/console/timelog/index.md
Labels: Content:WebAPI

#23411 Use correct variable names in Promise.all example
  files/en-us/web/javascript/reference/global_objects/promise/all/index.md
Labels: Content:JS

#23397 Replaces use of parallel with concurrent
  files/en-us/web/javascript/reference/global_objects/promise/all/index.md
Labels: Content:JS

#23412 Clarify usage of versus and vs.
  files/en-us/mdn/writing_guidelines/writing_style_guide/index.md
Labels: Content:Other

#23418 fix: remove extra spaces before colons
  files/en-us/games/tutorials/2d_breakout_game_phaser/extra_lives/index.md
  files/en-us/games/tutorials/html5_gamedev_phaser_device_orientation/index.md
  files/en-us/learn/accessibility/what_is_accessibility/index.md
  files/en-us/learn/css/css_layout/flexbox/index.md
  files/en-us/learn/html/tables/basics/index.md
  files/en-us/mdn/community/contributing/translated_content/index.md
  files/en-us/mozilla/add-ons/webextensions/api/menus/overridecontext/index.md
  files/en-us/mozilla/add-ons/webextensions/intercept_http_requests/index.md
  files/en-us/web/api/animation/pause/index.md
  files/en-us/web/api/web_audio_api/migrating_from_webkitaudiocontext/index.md
  files/en-us/web/css/_doublecolon_first-letter/index.md
  files/en-us/web/css/reference/index.md
  files/en-us/web/guide/audio_and_video_manipulation/index.md
  files/en-us/web/http/headers/strict-transport-security/index.md
  files/en-us/web/manifest/screenshots/index.md
  files/en-us/web/svg/attribute/begin/index.md
  files/en-us/web/svg/element/path/index.md
  files/en-us/web/xml/xml_introduction/index.md
Labels: Content:CSS, Content:WebExt, Content:WebAPI, Content:Learn, Content:Other, Content:HTTP, Content:SVG

#23415 Fix button navigation in CSS learn
  files/en-us/learn/css/building_blocks/cascade_and_inheritance/index.md
Labels: Content:Learn

#23414 fix grammatical issues in wai-aria_basics
  files/en-us/learn/accessibility/wai-aria_basics/index.md
Labels: Content:Learn

#23402 Add note about unspecified pattern resulting in input constraint violation
  files/en-us/web/html/attributes/pattern/index.md
Labels: Content:HTML

#23413 docs(learn): Add hint that copying the iframe example will lead to errors
  files/en-us/learn/html/multimedia_and_embedding/other_embedding_technologies/index.md
Labels: Content:Learn

#23409 Fix naming for consistency
  files/en-us/web/css/_colon_nth-col/index.md
  files/en-us/web/css/_colon_nth-last-col/index.md
Labels: Content:CSS

#23406 Update banner_role document with missing "it"
  files/en-us/web/accessibility/aria/roles/banner_role/index.md
Labels: Content:Accessibility

#23421 Document IDBRequest.result values
  files/en-us/web/api/idbcursor/delete/index.md
  files/en-us/web/api/idbcursor/update/index.md
  files/en-us/web/api/idbfactory/deletedatabase/index.md
  files/en-us/web/api/idbfactory/open/index.md
  files/en-us/web/api/idbindex/count/index.md
  files/en-us/web/api/idbindex/get/index.md
  files/en-us/web/api/idbindex/getall/index.md
  files/en-us/web/api/idbindex/getallkeys/index.md
  files/en-us/web/api/idbindex/getkey/index.md
  files/en-us/web/api/idbindex/opencursor/index.md
  files/en-us/web/api/idbindex/openkeycursor/index.md
  files/en-us/web/api/idbobjectstore/add/index.md
  files/en-us/web/api/idbobjectstore/clear/index.md
  files/en-us/web/api/idbobjectstore/count/index.md
  files/en-us/web/api/idbobjectstore/delete/index.md
  files/en-us/web/api/idbobjectstore/get/index.md
  files/en-us/web/api/idbobjectstore/getall/index.md
  files/en-us/web/api/idbobjectstore/getallkeys/index.md
  files/en-us/web/api/idbobjectstore/getkey/index.md
  files/en-us/web/api/idbobjectstore/opencursor/index.md
  files/en-us/web/api/idbobjectstore/openkeycursor/index.md
  files/en-us/web/api/idbobjectstore/put/index.md
Labels: Content:WebAPI

#23424 Fix typos
  files/en-us/learn/html/cheatsheet/index.md
  files/en-us/web/api/web_workers_api/using_web_workers/index.md
  files/en-us/web/api/xrwebgllayer/antialias/index.md
  files/en-us/web/css/@font-palette-values/override-colors/index.md
  files/en-us/web/css/css_box_alignment/box_alignment_in_flexbox/index.md
  files/en-us/web/css/css_box_alignment/box_alignment_in_grid_layout/index.md
  files/en-us/web/css/css_box_alignment/index.md
  files/en-us/web/css/font-smooth/index.md
  files/en-us/web/javascript/guide/regular_expressions/cheatsheet/index.md
  files/en-us/web/javascript/guide/regular_expressions/index.md
  files/en-us/web/tutorials/index.md
Labels: Content:CSS, Content:WebAPI, Content:JS, Content:Learn

#23426 Clarify Tabpanel
  files/en-us/web/accessibility/aria/roles/tabpanel_role/index.md
Labels: Content:Accessibility

#23427 update heading ### -> ##
  files/en-us/glossary/cors/index.md
Labels: Content:Glossary

#23434 Typo fix
  files/en-us/web/api/console_api/index.md
Labels: Content:WebAPI

#23398 Use accurate language for BigInt.asIntN()|BigInt.asUintN()
  files/en-us/web/javascript/reference/global_objects/bigint/asintn/index.md
  files/en-us/web/javascript/reference/global_objects/bigint/asuintn/index.md
Labels: Content:JS

#23443 Synchronize with BCD v5.2.26
  files/en-us/web/api/payment_handler_api/index.md
  files/en-us/web/api/paymentrequestevent/instrumentkey/index.md
  files/en-us/web/api/serviceworkerglobalscope/index.md
  files/en-us/web/api/serviceworkerregistration/paymentmanager/index.md
  files/en-us/web/http/headers/cross-origin-embedder-policy/index.md
Labels: Content:WebAPI, Content:HTTP

#23436 Update index.md
  files/en-us/web/css/@media/prefers-reduced-motion/index.md
Labels: Content:CSS

#23441 Fix setBaseAndExtent live example by removing additional whitespace
  files/en-us/web/api/selection/setbaseandextent/index.md
Labels: Content:WebAPI

#23435 Remove mentioning of string parameters for the CSS color() function
  files/en-us/web/css/color_value/color/index.md
Labels: Content:CSS

#23445 Clarify basic native form controls
  files/en-us/learn/forms/basic_native_form_controls/index.md
Labels: Content:Learn

#23444 fix: update the broken links
  files/en-us/mdn/writing_guidelines/howto/write_a_new_entry_in_the_glossary/index.md
Labels: Content:Other

#23437 corrections, clarifications and removals for tabpanel doc
  files/en-us/web/accessibility/aria/roles/tabpanel_role/index.md
Labels: Content:Accessibility

#23446 Update note
  files/en-us/web/api/htmlelement/offsetparent/index.md
Labels: Content:WebAPI

#23430 fix wrong spell agin -> again
  files/en-us/web/javascript/reference/global_objects/promise/resolve/index.md
Labels: Content:JS

#23449 Updates definition, fixes #3542 and some flaws
  files/en-us/web/opensearch/index.md
Labels: Content:Other

#23453 Mention that canvas transforms multiply on the left of a column vector
  files/en-us/web/api/canvasrenderingcontext2d/settransform/index.md
Labels: Content:WebAPI

#23458 Update index.md
  files/en-us/web/api/console/timeend/index.md
Labels: Content:WebAPI

#23457 Update index.md
  files/en-us/web/api/console/timelog/index.md
Labels: Content:WebAPI

#23456 Update "Using custom elements" for clarity
  files/en-us/web/web_components/using_custom_elements/index.md
Labels: Content:Other

#23416 docs(CSS): Anchor elements are not referring to '<a>' but to the anchoring element
  files/en-us/web/css/css_selectors/index.md
Labels: Content:CSS

#22882 Tabindex edits
  files/en-us/web/html/global_attributes/tabindex/index.md
Labels: Content:HTML

#23461 fix: tabpanel typos
  files/en-us/web/accessibility/aria/roles/tabpanel_role/index.md
Labels: Content:Accessibility

#23459 <template>: remove support comments
  files/en-us/web/web_components/using_templates_and_slots/index.md
Labels: Content:Other

#23467 color contrast
  files/en-us/web/css/_doublecolon_part/index.md
Labels: Content:CSS

#23466 Fix typos
  files/en-us/mozilla/add-ons/webextensions/api/scripting/executescript/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/executescript/index.md
  files/en-us/web/api/analysernode/frequencybincount/index.md
  files/en-us/web/api/analysernode/getbytefrequencydata/index.md
  files/en-us/web/api/analysernode/getfloatfrequencydata/index.md
  files/en-us/web/api/analysernode/maxdecibels/index.md
  files/en-us/web/api/analysernode/mindecibels/index.md
  files/en-us/web/api/analysernode/smoothingtimeconstant/index.md
  files/en-us/web/api/client/postmessage/index.md
  files/en-us/web/api/navigation/navigate/index.md
  files/en-us/web/api/navigation/reload/index.md
  files/en-us/web/api/navigation/updatecurrententry/index.md
  files/en-us/web/api/navigationhistoryentry/getstate/index.md
  files/en-us/web/api/performance/mark/index.md
  files/en-us/web/api/performance/measure/index.md
  files/en-us/web/api/structuredclone/index.md
Labels: Content:WebExt, Content:WebAPI, Content:Other

#23465 Adds parameter description. Fixes #3490
  files/en-us/web/svg/attribute/viewbox/index.md
Labels: Content:SVG

#23478 Fix code snippet
  files/en-us/web/javascript/reference/global_objects/error/tostring/index.md
Labels: Content:JS

#23408 Remove 'and unnested'
  files/en-us/mozilla/add-ons/webextensions/background_scripts/index.md
Labels: Content:WebExt, Content:Other

#23358 fix: vs -> vs.
  files/en-us/web/api/screen_capture_api/using_screen_capture/index.md
  files/en-us/web/api/webgl_api/tutorial/using_textures_in_webgl/index.md
  files/en-us/web/api/webvr_api/concepts/index.md
  files/en-us/web/api/window/innerheight/index.md
  files/en-us/web/api/window/outerheight/index.md
  files/en-us/web/css/revert-layer/index.md
  files/en-us/web/css/revert/index.md
  files/en-us/web/css/text-rendering/index.md
  files/en-us/web/javascript/guide/using_promises/index.md
  files/en-us/web/javascript/reference/errors/invalid_right_hand_side_instanceof_operand/index.md
  files/en-us/web/javascript/reference/errors/unnamed_function_statement/index.md
  files/en-us/web/javascript/reference/global_objects/array/isarray/index.md
  files/en-us/web/javascript/reference/global_objects/decodeuri/index.md
  files/en-us/web/javascript/reference/global_objects/number/parsefloat/index.md
  files/en-us/web/javascript/reference/global_objects/number/parseint/index.md
  files/en-us/web/javascript/reference/global_objects/reflect/construct/index.md
  files/en-us/web/media/formats/audio_concepts/index.md
  files/en-us/web/media/formats/image_types/index.md
  files/en-us/web/performance/rum-vs-synthetic/index.md
Labels: Content:CSS, Content:WebAPI, Content:JS, Content:Other, Content:Media

#23472 Corrected typo
  files/en-us/web/performance/how_browsers_work/index.md
Labels: Content:Other

#23469 Fix a red link
  files/en-us/web/api/contactaddress/index.md
Labels: Content:WebAPI

#23476 fix typos
  files/en-us/web/api/document_object_model/traversing_an_html_table_with_javascript_and_dom_interfaces/index.md
Labels: Content:WebAPI

#23481 Fix minor typo in docs
  files/en-us/web/api/idbcursor/source/index.md
Labels: Content:WebAPI

#23470 missing word
  files/en-us/web/html/global_attributes/exportparts/index.md
Labels: Content:HTML

#23447 add content of the CORS headers
  files/en-us/glossary/cors/index.md
Labels: Content:Glossary

#23483 Update index.md
  files/en-us/web/api/fontfaceset/check/index.md
Labels: Content:WebAPI

#23486 update a broken link
  files/en-us/mdn/community/users_teams/index.md
Labels: Content:Other

#23502 Add new example
  files/en-us/web/javascript/reference/operators/strict_equality/index.md
Labels: Content:JS

#23391 Scroll snap: see also sections
  files/en-us/glossary/snap_positions/index.md
  files/en-us/web/css/scroll-snap-type-x/index.md
  files/en-us/web/css/scroll-snap-type-y/index.md
Labels: Content:CSS, Content:Glossary

#23491 Remove outdated discussion of <cite> usage
  files/en-us/web/html/element/cite/index.md
Labels: Content:HTML

#23498 order `padding` constituent properties in the same fashion as `margin`
  files/en-us/web/css/padding/index.md
Labels: Content:CSS

#23500 Make minor grammar and punctuation fixes
  files/en-us/web/svg/tutorial/positions/index.md
Labels: Content:SVG

#23487 adjust the position of a paragraph
  files/en-us/web/css/column-rule/index.md
Labels: Content:CSS

#23499 Revise SVG tutorial getting started
  files/en-us/web/svg/tutorial/getting_started/index.md
Labels: Content:SVG

#23489 Remove documentation for api.Element(Internals).aria[Col/Row]IndexText
  files/en-us/web/accessibility/aria/attributes/aria-colindextext/index.md
  files/en-us/web/accessibility/aria/attributes/aria-rowindextext/index.md
  files/en-us/web/api/element/ariacolindextext/index.md
  files/en-us/web/api/element/ariarowindextext/index.md
  files/en-us/web/api/element/index.md
  files/en-us/web/api/elementinternals/ariacolindextext/index.md
  files/en-us/web/api/elementinternals/ariarowindextext/index.md
  files/en-us/web/api/elementinternals/index.md
Labels: Content:WebAPI, Content:Accessibility

#23510 [UrlPatternApi] fix typo
  files/en-us/web/api/url_pattern_api/index.md
Labels: Content:WebAPI

#23509 Add details about the behavior of `Selection.setBaseAndExtent()` on text nodes
  files/en-us/web/api/selection/setbaseandextent/index.md
Labels: Content:WebAPI

#23494 Add reframed visual
  files/en-us/web/css/syntax/ruleset.png
Labels: Content:CSS

#23482 docs(vue): Point to new Vue docs, fix scaffold command
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/vue_computed_properties/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/vue_conditional_rendering/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/vue_first_component/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/vue_getting_started/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/vue_methods_events_models/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/vue_refs_focus_management/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/vue_rendering_lists/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/vue_resources/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/vue_styling/index.md
Labels: Content:Learn

#23525 Comment change
  files/en-us/web/javascript/reference/statements/var/index.md
Labels: Content:JS

#23508 Improve function naming
  files/en-us/web/javascript/guide/loops_and_iteration/index.md
Labels: Content:JS

#23517 Replace object into function word for more clarity
  files/en-us/learn/javascript/first_steps/strings/index.md
Labels: Content:Learn

#23428 CSS: scroll-snap module
  files/en-us/web/css/css_scroll_snap/basic_concepts/index.md
  files/en-us/web/css/css_scroll_snap/index.md
  files/en-us/web/css/css_scroll_snap_points/index.md
Labels: Content:CSS

#23438 added level #2 HTML
  files/en-us/web/css/css_positioning/understanding_z_index/stacking_context_example_3/index.md
Labels: Content:CSS

#23527 Update for Navigator.doNotTrack return value
  files/en-us/web/api/navigator/index.md
Labels: Content:WebAPI

#23528 Remove adapter.js standalone page
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/webrtc_api/adapter.js/index.md
  files/en-us/web/api/webrtc_api/index.md
Labels: Content:WebAPI

#23535 fix: update description of `exportKey()`
  files/en-us/web/api/subtlecrypto/index.md
Labels: Content:WebAPI

#23534 chore(meta): Renames file and slug of "Roles and teams" page
  files/en-us/_redirects.txt
  files/en-us/mdn/community/roles_teams/index.md
Labels: Content:Other

#23531 glossary: values
  files/en-us/glossary/value/index.md
Labels: Content:Glossary

#23519 Update chrome support information for hevc
  files/en-us/web/media/formats/video_codecs/index.md
Labels: Content:Media

#23513 Add warning for CSS `image-orientation`'s limitation on cross-origin images
  files/en-us/web/css/image-orientation/index.md
Labels: Content:CSS

#23521 Add semicolon at the end and a new format
  files/en-us/web/css/syntax/css_syntax_-_declaration.png
Labels: Content:CSS

#23529 update book_renew_librarian.html path in view
  files/en-us/learn/server-side/django/forms/index.md
Labels: Content:Learn

#23539 Remove CrashReportBody API from MDN
  files/en-us/_wikihistory.json
  files/en-us/web/api/crashreportbody/index.md
  files/en-us/web/api/report/body/index.md
  files/en-us/web/api/reportbody/index.md
  files/en-us/web/api/reporting_api/index.md
  files/jsondata/GroupData.json
  files/jsondata/InterfaceData.json
Labels: Content:WebAPI

#23266 Split Object.defineProperty() example
  files/en-us/web/javascript/reference/global_objects/object/defineproperty/index.md
Labels: Content:JS
