Repository mdn/content, pull requests merged in 2023-10, with the labels that each got.

#29380 Fix incorrect link of `URLSearchParams.toString()`
  files/en-us/web/api/urlsearchparams/tostring/index.md
Labels: Content:WebAPI

#29390 Remove references to DOMError
  files/en-us/web/api/filereader/error/index.md
  files/en-us/web/api/idbdatabase/createobjectstore/index.md
  files/en-us/web/api/mediarecorder/start/index.md
  files/en-us/web/api/request/cache/index.md
  files/en-us/web/javascript/guide/control_flow_and_error_handling/index.md
Labels: Content:WebAPI, Content:JS

#29379 docs: add zero-value emphasis on 'movementX' and 'movementY'
  files/en-us/web/api/mouseevent/movementx/index.md
  files/en-us/web/api/mouseevent/movementy/index.md
Labels: Content:WebAPI

#29401 Fix: remove mulpltile `title` description of `ContentIndex.add()` method
  files/en-us/web/api/contentindex/add/index.md
Labels: Content:WebAPI

#29400 Use const instead of let in the second example
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/streamfilter/ondata/index.md
Labels: Content:WebExt

#29407 other embeddding technologies - HTTPS clarification
  files/en-us/learn/html/multimedia_and_embedding/other_embedding_technologies/index.md
Labels: Content:Learn:HTML

#28721 cookies.SameSiteStatus update to match Chrome and Firefox plans
  files/en-us/mozilla/add-ons/webextensions/api/cookies/samesitestatus/index.md
Labels: Content:WebExt

#29404 style: update `Content.getAll()` method return value
  files/en-us/web/api/contentindex/getall/index.md
Labels: Content:WebAPI

#29389 Update images & instructions to create a database
  files/en-us/learn/server-side/express_nodejs/mongoose/index.md
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_accessrules.jpg
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_adddata.jpg
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_chooseaconnectionmethod.jpg
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_connectbutton.jpg
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_connectforshortsrv.jpg
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_createcollection.jpg
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_createdatabase.jpg
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_createsharedcluster.jpg
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_databasecreated.jpg
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_databasedetails.jpg
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_deploy.jpg
Labels: Content:Learn:Express

#28643 promise support in Chrome clarification
  files/en-us/mozilla/add-ons/webextensions/chrome_incompatibilities/index.md
  files/en-us/mozilla/add-ons/webextensions/differences_between_api_implementations/index.md
Labels: Content:WebExt

#29246 Add parenthesized info to items in second list.
  files/en-us/web/mathml/element/index.md
Labels: Content:MathML

#29402 Fix: `Content.delete()` should accept an `id` parameter
  files/en-us/web/api/contentindex/delete/index.md
Labels: Content:WebAPI

#29397 Fix to Push API
  files/en-us/web/api/push_api/index.md
  files/en-us/web/api/pushevent/data/index.md
  files/en-us/web/api/pushsubscription/expirationtime/index.md
  files/en-us/web/api/pushsubscription/getkey/index.md
  files/en-us/web/api/pushsubscription/tojson/index.md
  files/en-us/web/api/pushsubscriptionoptions/applicationserverkey/index.md
Labels: Content:WebAPI

#29412 Simple headers to CORS-safelisted request headers
  files/en-us/web/api/request/mode/index.md
Labels: Content:WebAPI

#29405 Update thrown exception description of `ContentIndex.add()`
  files/en-us/web/api/contentindex/add/index.md
Labels: Content:WebAPI

#29415 FF119 relnote: Window.sidebar removed
  files/en-us/mozilla/firefox/releases/102/index.md
  files/en-us/web/api/window/sidebar/index.md
Labels: Content:WebAPI, Content:Firefox

#29293 `Window.postMessage` also support passing an options param
  files/en-us/web/api/window/postmessage/index.md
Labels: Content:WebAPI

#29282 `MessagePort.postMessage` also support passing an `options` param
  files/en-us/web/api/messageport/postmessage/index.md
Labels: Content:WebAPI

#29394 fix(css): rename 'General sibling' combinator to 'Subsequent-sibling' combinator
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/glossary/css_selector/index.md
  files/en-us/learn/css/building_blocks/selectors/combinators/index.md
  files/en-us/learn/forms/ui_pseudo-classes/index.md
  files/en-us/web/css/_colon_invalid/index.md
  files/en-us/web/css/_colon_nth-last-child/index.md
  files/en-us/web/css/adjacent_sibling_combinator/index.md
  files/en-us/web/css/css_selectors/index.md
  files/en-us/web/css/css_selectors/selectors_and_combinators/index.md
  files/en-us/web/css/reference/index.md
  files/en-us/web/css/specificity/index.md
  files/en-us/web/css/subsequent-sibling_combinator/index.md
  files/en-us/web/xpath/comparison_with_css_selectors/index.md
Labels: Content:CSS, Content:Other, Content:Glossary, Content:Learn:CSS, Content:Learn:Forms

#29392 fix(css): rename 'Adjacent sibling' combinator to 'Next-sibling' combinator
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/glossary/css_selector/index.md
  files/en-us/learn/css/building_blocks/selectors/combinators/index.md
  files/en-us/learn/css/first_steps/getting_started/index.md
  files/en-us/learn/css/howto/highlight_para_after_h1/index.md
  files/en-us/learn/forms/ui_pseudo-classes/index.md
  files/en-us/web/accessibility/aria/roles/menu_role/index.md
  files/en-us/web/css/_colon_has/index.md
  files/en-us/web/css/css_nesting/using_css_nesting/index.md
  files/en-us/web/css/css_selectors/index.md
  files/en-us/web/css/css_selectors/selectors_and_combinators/index.md
  files/en-us/web/css/next-sibling_combinator/index.md
  files/en-us/web/css/reference/index.md
  files/en-us/web/css/specificity/index.md
  files/en-us/web/css/subsequent-sibling_combinator/index.md
  files/en-us/web/css/text-indent/index.md
  files/en-us/web/xpath/comparison_with_css_selectors/index.md
Labels: Content:CSS, Content:Other, Content:Accessibility, Content:Glossary, Content:Learn:CSS, Content:Learn:Forms

#29369 Move example skip link destination before `<main …/>`
  files/en-us/web/html/element/a/index.md
Labels: Content:HTML

#29426 Fix formatting element
  files/en-us/learn/getting_started_with_the_web/css_basics/index.md
Labels: Content:Learn

#29425 Add "See also" section for `min-content` page
  files/en-us/web/css/min-content/index.md
Labels: Content:CSS

#29361 CSS logical properties and values
  files/en-us/web/css/css_logical_properties_and_values/index.md
Labels: Content:CSS

#29364 fix(css): Update font-size-adjust: from-font description
  files/en-us/web/css/font-size-adjust/index.md
Labels: Content:CSS

#29355 Fix issue 9121: Simpler examples for shadow DOM
  files/en-us/web/api/web_components/using_shadow_dom/dom-screenshot.png
  files/en-us/web/api/web_components/using_shadow_dom/index.md
Labels: Content:WebAPI

#29429 Arrow functions: Change “concise body” to “expression body”
  files/en-us/mdn/writing_guidelines/writing_style_guide/code_style_guide/javascript/index.md
  files/en-us/web/javascript/reference/functions/arrow_functions/index.md
  files/en-us/web/javascript/reference/operators/grouping/index.md
Labels: Content:JS, Content:Meta

#29416 FF119Relnote: JS String isWellFormed() toWellFormed()
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/119/index.md
Labels: Content:Firefox

#29410 FF119RelNote: WebTransport supports sendorder
  files/en-us/mozilla/firefox/releases/119/index.md
Labels: Content:Firefox

#29414 Ff119 relnote coep cred
  files/en-us/mozilla/firefox/releases/119/index.md
Labels: Content:Firefox

#29408 Web fonts - font is downloaded if any characters are in unicode range
  files/en-us/learn/css/styling_text/web_fonts/index.md
Labels: Content:Learn:CSS

#29435 CredentialsContainer.create() - use definition lists everywhere
  files/en-us/web/api/credentialscontainer/create/index.md
Labels: Content:WebAPI

#29437 CSS logical properties and values - Group reference by topics
  files/en-us/web/css/css_logical_properties_and_values/index.md
Labels: Content:CSS

#29440 `WindowControlsOverlay.geometrychange event` was incorrect using the `EyeDropper API` APIRef
  files/en-us/web/api/windowcontrolsoverlay/geometrychange_event/index.md
Labels: Content:WebAPI

#29442 mark readonly property for Navigator interface
  files/en-us/web/api/navigator/pdfviewerenabled/index.md
  files/en-us/web/api/navigator/presentation/index.md
  files/en-us/web/api/navigator/windowcontrolsoverlay/index.md
Labels: Content:WebAPI

#29316 CSS module: generated content
  files/en-us/web/css/content/index.md
  files/en-us/web/css/css_generated_content/index.md
Labels: Content:CSS

#29445 fix variable name
  files/en-us/web/api/baseaudiocontext/decodeaudiodata/index.md
Labels: Content:WebAPI

#29359 FF119 WebTransport supports sendorder
  files/en-us/web/api/webtransport/createbidirectionalstream/index.md
  files/en-us/web/api/webtransport/createunidirectionalstream/index.md
  files/en-us/web/api/webtransport/index.md
Labels: Content:WebAPI

#29439 Update index.md
  files/en-us/learn/html/multimedia_and_embedding/adding_vector_graphics_to_the_web/index.md
Labels: Content:Learn:HTML

#29447 External link added
  files/en-us/web/css/font-feature-settings/index.md
Labels: Content:CSS

#29441 Fix: the event of type is never must be `geometrychange`
  files/en-us/web/api/windowcontrolsoverlaygeometrychangeevent/windowcontrolsoverlaygeometrychangeevent/index.md
Labels: Content:WebAPI

#29393 Update async and defer learn JS section with explanation for blocking the page
  files/en-us/learn/javascript/first_steps/what_is_javascript/index.md
Labels: Content:Learn:JavaScript

#29386 storage.sync and local are not functions
  files/en-us/mozilla/add-ons/webextensions/manifest.json/options_ui/index.md
Labels: Content:WebExt

#29449 Fix issue 29420: correct return values
  files/en-us/web/api/filesystemsyncaccesshandle/close/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/flush/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/getsize/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/truncate/index.md
Labels: Content:WebAPI

#29450 Fix casing of argument to WindowControlsOverlayGeometryChangeEvent ctor
  files/en-us/web/api/windowcontrolsoverlaygeometrychangeevent/windowcontrolsoverlaygeometrychangeevent/index.md
Labels: Content:WebAPI

#29453 CSS quotes property overhaul
  files/en-us/web/css/quotes/index.md
Labels: Content:CSS

#29430 Add a reference to the missing `showPicker()` method of HTMLInputElement.
  files/en-us/web/html/element/input/index.md
Labels: Content:HTML

#29444 fix #29294
  files/en-us/web/http/caching/index.md
Labels: Content:HTTP

#29470 Add a white background, 32px padding, and image fixup to previously-unreadable CORS-related image
  files/en-us/web/http/cors/cors_principle.png
Labels: Content:HTTP

#29472 Rephrasing the use of async with module scripts
  files/en-us/web/html/element/script/index.md
Labels: Content:HTML

#29476 Update index.md
  files/en-us/web/api/trustedhtml/index.md
Labels: Content:WebAPI

#29478 chore: remove unnecessary `false` argument
  files/en-us/web/api/treewalker/currentnode/index.md
Labels: Content:WebAPI

#29481 Renamed "bracket" to "parenthesis"
  files/en-us/learn/javascript/building_blocks/looping_code/index.md
  files/en-us/learn/javascript/first_steps/a_first_splash/index.md
  files/en-us/learn/javascript/objects/basics/index.md
  files/en-us/learn/server-side/django/development_environment/index.md
  files/en-us/learn/server-side/django/generic_views/index.md
  files/en-us/learn/server-side/django/introduction/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_getting_started/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_typescript/index.md
  files/en-us/mdn/writing_guidelines/howto/write_an_api_reference/index.md
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/rulecondition/index.md
  files/en-us/mozilla/firefox/releases/27/index.md
  files/en-us/web/api/htmlselectelement/index.md
  files/en-us/web/api/window/alert/index.md
  files/en-us/web/css/@import/index.md
  files/en-us/web/css/css_shapes/basic_shapes/index.md
  files/en-us/web/css/round/index.md
  files/en-us/web/javascript/guide/control_flow_and_error_handling/index.md
  files/en-us/web/javascript/guide/functions/index.md
  files/en-us/web/javascript/guide/regular_expressions/assertions/index.md
  files/en-us/web/javascript/guide/regular_expressions/character_classes/index.md
  files/en-us/web/javascript/guide/regular_expressions/cheatsheet/index.md
  files/en-us/web/javascript/guide/text_formatting/index.md
  files/en-us/web/javascript/language_overview/index.md
  files/en-us/web/javascript/reference/classes/index.md
  files/en-us/web/javascript/reference/errors/bad_return/index.md
  files/en-us/web/javascript/reference/errors/missing_bracket_after_list/index.md
  files/en-us/web/javascript/reference/errors/missing_colon_after_property_id/index.md
  files/en-us/web/javascript/reference/errors/missing_curly_after_function_body/index.md
  files/en-us/web/javascript/reference/errors/missing_curly_after_property_list/index.md
  files/en-us/web/javascript/reference/errors/not_a_function/index.md
  files/en-us/web/javascript/reference/errors/unexpected_token/index.md
  files/en-us/web/javascript/reference/errors/unnamed_function_statement/index.md
  files/en-us/web/javascript/reference/functions/arrow_functions/index.md
  files/en-us/web/javascript/reference/functions/index.md
  files/en-us/web/javascript/reference/global_objects/array/array/index.md
  files/en-us/web/javascript/reference/operators/destructuring_assignment/index.md
  files/en-us/web/javascript/reference/operators/object_initializer/index.md
  files/en-us/web/javascript/reference/operators/optional_chaining/index.md
  files/en-us/web/javascript/reference/statements/block/index.md
  files/en-us/web/javascript/reference/statements/index.md
  files/en-us/web/mathml/element/mfenced/index.md
  files/en-us/web/xslt/element/index.md
Labels: Content:CSS, Content:WebExt, Content:WebAPI, Content:JS, Content:Other, Content:Learn:Django, Content:MathML, Content:Learn:Client-side, Content:Learn:JavaScript, Content:Firefox, Content:Meta

#29488 remove itunes from platform strings
  files/en-us/web/api/navigator/getinstalledrelatedapps/index.md
Labels: Content:WebAPI

#29487 Add example showing lack of comma separator between methods
  files/en-us/web/javascript/reference/functions/method_definitions/index.md
Labels: Content:JS

#29469 Improve `mozactionhint` deprecated status clarity; update FX119 release notes
  files/en-us/mozilla/firefox/releases/119/index.md
  files/en-us/web/html/element/input/index.md
  files/en-us/web/html/element/input/search/index.md
  files/en-us/web/html/element/input/tel/index.md
  files/en-us/web/html/element/input/text/index.md
  files/en-us/web/html/element/input/url/index.md
Labels: Content:HTML, Content:Firefox

#29498 use http code highlight for 4xx status
  files/en-us/web/http/status/421/index.md
  files/en-us/web/http/status/423/index.md
Labels: Content:HTTP

#29502 Adding vector graphics to the web: nothing is "simple"
  files/en-us/learn/html/multimedia_and_embedding/adding_vector_graphics_to_the_web/index.md
Labels: Content:Learn:HTML

#29497 Fix typo in storage access api demo
  files/en-us/web/api/storage_access_api/using/index.md
Labels: Content:WebAPI

#29433 FF119Relnote: AuthenticatorAttestationResponse.getPublicKey/Algorithm…
  files/en-us/mozilla/firefox/releases/119/index.md
Labels: Content:Firefox

#29483 Fix typo: "Multiple Choice" to "Multiple Choices"
  files/en-us/web/http/redirections/index.md
Labels: Content:HTTP

#29485 Renamed `method` because it is not a real method
  files/en-us/web/javascript/reference/functions/method_definitions/index.md
Labels: Content:JS

#29507 Document which `then` handler is called after a `catch` is handled
  files/en-us/web/javascript/reference/global_objects/promise/catch/index.md
Labels: Content:JS

#29474 Remove "or refreshes" example language from `overscroll-behavior: contain` docs
  files/en-us/web/css/overscroll-behavior-block/index.md
  files/en-us/web/css/overscroll-behavior-inline/index.md
  files/en-us/web/css/overscroll-behavior-x/index.md
  files/en-us/web/css/overscroll-behavior-y/index.md
  files/en-us/web/css/overscroll-behavior/index.md
Labels: Content:CSS

#29313 added release note for content-box and stroke-box in transform-box pr…
  files/en-us/mozilla/firefox/releases/118/index.md
  files/en-us/web/css/transform-box/index.md
Labels: Content:CSS, Content:Firefox

#29517 fix small typo in webauthn_extensions
  files/en-us/web/api/web_authentication_api/webauthn_extensions/index.md
Labels: Content:WebAPI

#29511 Fix wrong description for example in index.md
  files/en-us/web/javascript/closures/index.md
Labels: Content:JS

#29521 Remove 'Reflecting ARIA attributes' from experimental FX relnotes; add ARIA reflection to FX119 relnotes
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/119/index.md
Labels: Content:Firefox

#29526 Fix linking `===` to `Strict_equality` operator page
  files/en-us/web/javascript/equality_comparisons_and_sameness/index.md
Labels: Content:JS

#29525 Removed the phrase, ", enabling the first mistake."
  files/en-us/web/javascript/guide/using_promises/index.md
Labels: Content:JS

#29535 Few typofixes for Using CSS gradients
  files/en-us/web/css/css_images/using_css_gradients/index.md
Labels: Content:CSS

#29523 jump-none removes step, step-end svg fix
  files/en-us/web/css/animation-timing-function/index.md
  files/en-us/web/css/easing-function/index.md
  files/en-us/web/css/easing-function/step.svg
Labels: Content:CSS

#29462 Fix 424 Failed Dependency
  files/en-us/web/http/status/424/index.md
Labels: Content:HTTP

#29187 `Client.postMessage` also support passing an options param
  files/en-us/web/api/client/postmessage/index.md
Labels: Content:WebAPI

#29157 Replaced anchor example for an image example
  files/en-us/learn/html/introduction_to_html/getting_started/index.md
Labels: Content:Learn:HTML

#29527 Update Attribute Order according to Alphabetical Order of `<link>` `<script>` `<style>`
  files/en-us/web/html/element/link/index.md
  files/en-us/web/html/element/script/index.md
  files/en-us/web/html/element/style/index.md
Labels: Content:HTML

#29531 fixed missing stop
  files/en-us/learn/getting_started_with_the_web/the_web_and_web_standards/index.md
Labels: Content:Learn

#29366 Add an simple example to `ServiceWorkerContainer` `controllerchange` event
  files/en-us/web/api/serviceworkercontainer/controllerchange_event/index.md
Labels: Content:WebAPI

#29519 Sort optional permissions alphabetically
  files/en-us/mozilla/add-ons/webextensions/manifest.json/optional_permissions/index.md
Labels: Content:WebExt

#29432 FF119 SubtleCrypto.deriveKey() supports HKDF as a derivedKeyAlgorithm
  files/en-us/web/api/subtlecrypto/derivekey/index.md
Labels: Content:WebAPI

#29553 FF119 Renote: PublicKeyCredential parse/to from JSON
  files/en-us/mozilla/firefox/releases/119/index.md
Labels: Content:Firefox

#29552 Style: remove dumplite `title` parameters description
  files/en-us/web/api/contentindex/getall/index.md
Labels: Content:WebAPI

#29509 FF119 Relnote: SubtleCrypto.deriveKey() supports HKDF as derivedKeyAlgorithm
  files/en-us/mozilla/firefox/releases/119/index.md
Labels: Content:Firefox

#29550 `FileSystemDirectoryHandle.getDirectoryHandle()` may also throw `TypeError`
  files/en-us/web/api/filesystemdirectoryhandle/getdirectoryhandle/index.md
Labels: Content:WebAPI

#29479 Move example oklch colours closer to gamut bounds
  files/en-us/web/css/color_value/oklch/index.md
Labels: Content:CSS

#29556 Updates grammar error on style-src-attr
  files/en-us/web/http/headers/content-security-policy/style-src-attr/index.md
Labels: Content:HTTP

#29551 small style update
  files/en-us/web/api/filesystemfilehandle/createwritable/index.md
  files/en-us/web/api/filesystemfilehandle/getfile/index.md
Labels: Content:WebAPI

#29533 Update index.md
  files/en-us/learn/css/building_blocks/cascade_layers/index.md
Labels: Content:Learn:CSS

#29560 remove ' from last example in charset at-rule for less confusion
  files/en-us/web/css/@charset/index.md
Labels: Content:CSS

#29568 Window.set/clearImmediate deprecated
  files/en-us/web/api/window/clearimmediate/index.md
  files/en-us/web/api/window/index.md
  files/en-us/web/api/window/setimmediate/index.md
Labels: Content:WebAPI

#29580 Ref #27079 - `[media]` is allowed in any valid `source` context.
  files/en-us/web/html/element/source/index.md
Labels: Content:HTML

#29443 Modify 'Experimental_features#has_pseudo-class' to reflect `:has()` changes in FF Nightly
  files/en-us/mozilla/firefox/experimental_features/index.md
Labels: Content:Firefox

#29569 Rephrase a sentence to enhance clarity
  files/en-us/learn/server-side/express_nodejs/mongoose/index.md
Labels: Content:Learn:Express

#29582 `FileSystemHandle.isSameEntry()` should return `Promise<boolean>`
  files/en-us/web/api/filesystemhandle/issameentry/index.md
Labels: Content:WebAPI

#29267 Update constructable stylesheet examples
  files/en-us/web/api/shadowroot/adoptedstylesheets/index.md
Labels: Content:WebAPI

#29584 Video media example
  files/en-us/web/html/element/source/index.md
Labels: Content:HTML

#29571 fix: update issue labels's description
  files/en-us/mdn/community/issues/index.md
Labels: Content:Meta

#29596 fix(webassembly): update branch to main
  files/en-us/webassembly/exported_functions/index.md
  files/en-us/webassembly/javascript_interface/compilestreaming/index.md
  files/en-us/webassembly/javascript_interface/global/global/index.md
  files/en-us/webassembly/javascript_interface/global/index.md
  files/en-us/webassembly/javascript_interface/index.md
  files/en-us/webassembly/javascript_interface/instance/exports/index.md
  files/en-us/webassembly/javascript_interface/instantiate/index.md
  files/en-us/webassembly/javascript_interface/instantiatestreaming/index.md
  files/en-us/webassembly/javascript_interface/memory/buffer/index.md
  files/en-us/webassembly/javascript_interface/memory/index.md
  files/en-us/webassembly/javascript_interface/memory/memory/index.md
  files/en-us/webassembly/javascript_interface/module/customsections/index.md
  files/en-us/webassembly/javascript_interface/module/exports/index.md
  files/en-us/webassembly/javascript_interface/module/imports/index.md
  files/en-us/webassembly/javascript_interface/module/index.md
  files/en-us/webassembly/javascript_interface/table/get/index.md
  files/en-us/webassembly/javascript_interface/table/index.md
  files/en-us/webassembly/javascript_interface/table/set/index.md
  files/en-us/webassembly/javascript_interface/table/table/index.md
  files/en-us/webassembly/javascript_interface/validate/index.md
  files/en-us/webassembly/understanding_the_text_format/index.md
  files/en-us/webassembly/using_the_javascript_api/index.md
Labels: Content:wasm

#29460 added a fallback example and added descriptions of the previous examples
  files/en-us/mozilla/firefox/releases/119/index.md
  files/en-us/web/css/attr/index.md
Labels: Content:CSS, Content:Firefox

#29597 Update index.md
  files/en-us/web/api/usbdevice/vendorid/index.md
Labels: Content:WebAPI

#29602 Adds a missing article before a noun
  files/en-us/web/api/intersection_observer_api/index.md
Labels: Content:WebAPI

#29607 Update DNR manifest version req
  files/en-us/mozilla/add-ons/webextensions/manifest.json/declarative_net_request/index.md
Labels: Content:WebExt

#29606 spelling typo
  files/en-us/web/privacy/partitioned_cookies/index.md
Labels: Content:Other

#29608 fix typo and update an example
  files/en-us/mdn/writing_guidelines/howto/write_an_api_reference/sidebars/index.md
Labels: Content:Meta

#29619 Update index.md
  files/en-us/web/api/web_workers_api/using_web_workers/index.md
Labels: Content:WebAPI

#29617 Small update to `window storage event`
  files/en-us/web/api/window/storage_event/index.md
Labels: Content:WebAPI

#29581 Update to `Window.showDirectoryPicker()` and `Window.showSaveFilePicker()` and `Window.showOpenFilePicker()`
  files/en-us/web/api/window/showdirectorypicker/index.md
  files/en-us/web/api/window/showopenfilepicker/index.md
  files/en-us/web/api/window/showsavefilepicker/index.md
Labels: Content:WebAPI

#29578 bug: Wait to image’s `load` event, rather the `window` one in example
  files/en-us/web/api/htmlimageelement/naturalheight/index.md
Labels: Content:WebAPI

#29595 Modernize beforeunload event information
  files/en-us/web/api/beforeunloadevent/index.md
  files/en-us/web/api/beforeunloadevent/returnvalue/index.md
  files/en-us/web/api/window/beforeunload_event/index.md
Labels: Content:WebAPI

#29484 Fix issue 16774: talk about constructable stylesheets in the shadow D…
  files/en-us/web/api/web_components/using_shadow_dom/index.md
Labels: Content:WebAPI

#29491 CSS list-style shorthand.
  files/en-us/web/css/list-style/index.md
Labels: Content:CSS

#29621 Clarify need for theme permission
  files/en-us/mozilla/add-ons/webextensions/api/theme/getcurrent/index.md
  files/en-us/mozilla/add-ons/webextensions/api/theme/index.md
  files/en-us/mozilla/add-ons/webextensions/api/theme/onupdated/index.md
  files/en-us/mozilla/add-ons/webextensions/api/theme/reset/index.md
  files/en-us/mozilla/add-ons/webextensions/api/theme/theme/index.md
  files/en-us/mozilla/add-ons/webextensions/api/theme/update/index.md
Labels: Content:WebExt

#29536 refactor: optimize the readability of the code of baselines illustrated example
  files/en-us/web/api/textmetrics/index.md
Labels: Content:WebAPI

#29583 Fix type of `timeZone` property
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/resolvedoptions/index.md
Labels: Content:JS

#29564 Equivalence of operators
  files/en-us/web/javascript/reference/operators/addition_assignment/index.md
  files/en-us/web/javascript/reference/operators/bitwise_and_assignment/index.md
  files/en-us/web/javascript/reference/operators/bitwise_or_assignment/index.md
  files/en-us/web/javascript/reference/operators/bitwise_xor_assignment/index.md
  files/en-us/web/javascript/reference/operators/division_assignment/index.md
  files/en-us/web/javascript/reference/operators/exponentiation_assignment/index.md
  files/en-us/web/javascript/reference/operators/left_shift_assignment/index.md
  files/en-us/web/javascript/reference/operators/logical_and_assignment/index.md
  files/en-us/web/javascript/reference/operators/logical_or_assignment/index.md
  files/en-us/web/javascript/reference/operators/multiplication_assignment/index.md
  files/en-us/web/javascript/reference/operators/nullish_coalescing_assignment/index.md
  files/en-us/web/javascript/reference/operators/remainder_assignment/index.md
  files/en-us/web/javascript/reference/operators/right_shift_assignment/index.md
  files/en-us/web/javascript/reference/operators/subtraction_assignment/index.md
  files/en-us/web/javascript/reference/operators/unsigned_right_shift_assignment/index.md
Labels: Content:JS

#29625 Follow-up to 29484
  files/en-us/web/api/web_components/using_shadow_dom/index.md
Labels: Content:WebAPI

#29562 Improve nesting selector example by noting cross-browser limitations
  files/en-us/web/css/css_nesting/using_css_nesting/index.md
Labels: Content:CSS

#29559 Change Selector group term to be selector list
  files/en-us/web/css/syntax/index.md
Labels: Content:CSS

#29546 Update implicit ARIA roles according to spec changes
  files/en-us/web/html/element/a/index.md
  files/en-us/web/html/element/address/index.md
  files/en-us/web/html/element/area/index.md
  files/en-us/web/html/element/b/index.md
  files/en-us/web/html/element/bdi/index.md
  files/en-us/web/html/element/bdo/index.md
  files/en-us/web/html/element/blockquote/index.md
  files/en-us/web/html/element/caption/index.md
  files/en-us/web/html/element/code/index.md
  files/en-us/web/html/element/data/index.md
  files/en-us/web/html/element/dd/index.md
  files/en-us/web/html/element/del/index.md
  files/en-us/web/html/element/div/index.md
  files/en-us/web/html/element/dt/index.md
  files/en-us/web/html/element/em/index.md
  files/en-us/web/html/element/footer/index.md
  files/en-us/web/html/element/form/index.md
  files/en-us/web/html/element/header/index.md
  files/en-us/web/html/element/hgroup/index.md
  files/en-us/web/html/element/i/index.md
  files/en-us/web/html/element/ins/index.md
  files/en-us/web/html/element/meter/index.md
  files/en-us/web/html/element/pre/index.md
  files/en-us/web/html/element/q/index.md
  files/en-us/web/html/element/s/index.md
  files/en-us/web/html/element/samp/index.md
  files/en-us/web/html/element/section/index.md
  files/en-us/web/html/element/small/index.md
  files/en-us/web/html/element/strong/index.md
  files/en-us/web/html/element/sub/index.md
  files/en-us/web/html/element/sup/index.md
  files/en-us/web/html/element/time/index.md
  files/en-us/web/html/element/u/index.md
Labels: Content:HTML

#29624 fix(css): mention 'content' property is must
  files/en-us/web/css/_doublecolon_after/index.md
  files/en-us/web/css/_doublecolon_before/index.md
Labels: Content:CSS

#29598 fix(css): correct values in the example
  files/en-us/web/css/color_value/oklab/index.md
Labels: Content:CSS

#29626 fix(css): remove unimplemented future values from text-overflow
  files/en-us/web/css/text-overflow/index.md
Labels: Content:CSS

#29609 Centering in CSS
  files/en-us/web/css/layout_cookbook/center_an_element/index.md
Labels: Content:CSS

#29638 fix a typo
  files/en-us/web/api/page_visibility_api/index.md
Labels: Content:WebAPI

#29632 Add documentation for theme color ntp_card_background
  files/en-us/mozilla/add-ons/webextensions/manifest.json/theme/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/theme/ntp-background.png
  files/en-us/mozilla/add-ons/webextensions/manifest.json/theme/ntp-card-background.png
  files/en-us/mozilla/add-ons/webextensions/manifest.json/theme/ntp-text.png
  files/en-us/mozilla/add-ons/webextensions/manifest.json/theme/ntp_colors.png
  files/en-us/mozilla/add-ons/webextensions/manifest.json/theme/sidebar-border.png
  files/en-us/mozilla/add-ons/webextensions/manifest.json/theme/sidebar-colors.png
  files/en-us/mozilla/add-ons/webextensions/manifest.json/theme/sidebar-highlight-text.png
  files/en-us/mozilla/add-ons/webextensions/manifest.json/theme/sidebar-highlight.png
  files/en-us/mozilla/add-ons/webextensions/manifest.json/theme/themes_components_annotations.png
Labels: Content:WebExt

#29643 Edit Iterator.find comparing it to Array.find instead of Array.every
  files/en-us/web/javascript/reference/global_objects/iterator/find/index.md
Labels: Content:JS

#29642 fix: remove extra brackets
  files/en-us/webassembly/javascript_interface/table/index.md
Labels: Content:wasm

#29436 FF119 Add PublicKeyCredential.parseCreationOptionsFromJSON()
  files/en-us/glossary/json_type_representation/index.md
  files/en-us/web/api/credentialscontainer/create/index.md
  files/en-us/web/api/credentialscontainer/get/index.md
  files/en-us/web/api/publickeycredential/index.md
  files/en-us/web/api/publickeycredential/parsecreationoptionsfromjson_static/index.md
  files/en-us/web/api/publickeycredential/parserequestoptionsfromjson_static/index.md
  files/en-us/web/api/publickeycredential/tojson/index.md
  files/en-us/web/api/web_authentication_api/index.md
Labels: Content:WebAPI, Content:Glossary

#29631 Fix issue 27236: more explanation of attributeChangedCallback()
  files/en-us/web/api/web_components/using_custom_elements/index.md
Labels: Content:WebAPI

#28590 rAF callback arg vs performance.now(), fixes my previous mistake
  files/en-us/web/api/window/requestanimationframe/index.md
Labels: Content:WebAPI

#29623 Correction on CHIPS note in Storage Access API docs
  files/en-us/web/api/storage_access_api/index.md
Labels: Content:WebAPI

#29183 Content for speculative loading
  files/en-us/glossary/prefetch/index.md
  files/en-us/glossary/prerender/index.md
  files/en-us/web/api/document/index.md
  files/en-us/web/api/document/prerendering/index.md
  files/en-us/web/api/document/prerenderingchange_event/index.md
  files/en-us/web/api/performancenavigationtiming/activationstart/index.md
  files/en-us/web/api/performancenavigationtiming/index.md
  files/en-us/web/api/performanceresourcetiming/deliverytype/index.md
  files/en-us/web/api/performanceresourcetiming/index.md
  files/en-us/web/api/speculation_rules_api/index.md
  files/en-us/web/html/attributes/rel/dns-prefetch/index.md
  files/en-us/web/html/attributes/rel/modulepreload/index.md
  files/en-us/web/html/attributes/rel/preconnect/index.md
  files/en-us/web/html/attributes/rel/prefetch/index.md
  files/en-us/web/html/attributes/rel/preload/index.md
  files/en-us/web/html/attributes/rel/prerender/index.md
  files/en-us/web/html/element/script/index.md
  files/en-us/web/html/element/script/type/index.md
  files/en-us/web/html/element/script/type/speculationrules/index.md
  files/en-us/web/http/headers/content-security-policy/script-src/index.md
  files/en-us/web/http/headers/content-security-policy/sources/index.md
  files/en-us/web/http/headers/index.md
  files/en-us/web/http/headers/supports-loading-mode/index.md
  files/en-us/web/performance/speculative_loading/index.md
  files/jsondata/GroupData.json
Labels: Content:HTML, Content:WebAPI, Content:HTTP, Content:Glossary, Content:Performance

#29657 Fix typo
  files/en-us/learn/performance/javascript/index.md
Labels: Content:Learn

#29664 learn: Performance: css: typesetting: minor fix
  files/en-us/learn/performance/css/index.md
Labels: Content:Learn

#29637 Add reference to pointer-events property
  files/en-us/web/css/opacity/index.md
Labels: Content:CSS

#29679 Fix typo
  files/en-us/glossary/function/index.md
Labels: Content:Glossary

#29579 Add note about Chrome unshipping Sanitizer API
  files/en-us/web/api/html_sanitizer_api/index.md
Labels: Content:WebAPI

#29685 Remove deprecated <area> attributes
  files/en-us/web/html/element/area/index.md
Labels: Content:HTML

#29684 Fix typo
  files/en-us/web/css/layout_cookbook/center_an_element/index.md
Labels: Content:CSS

#29671 chore: align with the context in `overflow-y`
  files/en-us/web/css/overflow-x/index.md
Labels: Content:CSS

#29674 Fix typo in example for returnPathDirectories
  files/en-us/web/api/file_system_api/index.md
  files/en-us/web/api/filesystemdirectoryhandle/index.md
Labels: Content:WebAPI

#29683 Fix exception section of `Element.releasePointerCapture()`
  files/en-us/web/api/element/releasepointercapture/index.md
  files/en-us/web/api/element/setpointercapture/index.md
Labels: Content:WebAPI

#29691 improvement sample code
  files/en-us/web/javascript/reference/global_objects/set/index.md
Labels: Content:JS

#29697 Update index.md
  files/en-us/web/html/element/dialog/index.md
Labels: Content:HTML

#29695 Reword requestAnimationFrame intro phrase
  files/en-us/web/api/window/requestanimationframe/index.md
Labels: Content:WebAPI

#29622 Remove inaccurate Firefox errata
  files/en-us/web/api/storage_access_api/index.md
Labels: Content:WebAPI

#29675 Fix invalid CSS value for grid-template-row of repeat(1fr)
  files/en-us/learn/css/css_layout/grids/index.md
Labels: Content:Learn:CSS

#28557 Add docs for Document Picture-In-Picture API
  files/en-us/web/api/document_picture-in-picture_api/index.md
  files/en-us/web/api/document_picture-in-picture_api/using/index.md
  files/en-us/web/api/documentpictureinpicture/enter_event/index.md
  files/en-us/web/api/documentpictureinpicture/index.md
  files/en-us/web/api/documentpictureinpicture/requestwindow/index.md
  files/en-us/web/api/documentpictureinpicture/window/index.md
  files/en-us/web/api/documentpictureinpictureevent/documentpictureinpictureevent/index.md
  files/en-us/web/api/documentpictureinpictureevent/index.md
  files/en-us/web/api/documentpictureinpictureevent/window/index.md
  files/en-us/web/api/picture-in-picture_api/index.md
  files/en-us/web/api/window/documentpictureinpicture/index.md
  files/en-us/web/api/window/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

#29706 Numerical correction
  files/en-us/web/javascript/reference/global_objects/number/index.md
  files/en-us/web/javascript/reference/global_objects/number/max_value/index.md
Labels: Content:JS

#29689 fix(css): rephrase backdrop-filter intro
  files/en-us/web/css/backdrop-filter/index.md
Labels: Content:CSS
