Repository mdn/content, pull requests merged in 2023-02, with the labels that each got.

#24026 <caption> has implicit role of "caption"
  files/en-us/web/html/element/caption/index.md
Labels: Content:HTML

#24037 Update index.md
  files/en-us/glossary/endianness/index.md
Labels: Content:Glossary

#24039 Synchronize with BCD v5.2.33
  files/en-us/web/api/gestureevent/index.md
  files/en-us/web/api/offscreencanvasrenderingcontext2d/index.md
  files/en-us/web/http/headers/link/index.md
Labels: Content:WebAPI, Content:HTTP

#24044 Document `AnimationEffect.getTiming()` return value
  files/en-us/web/api/animationeffect/gettiming/index.md
Labels: Content:WebAPI

#24046 Format /glossary using Prettier
  .prettierignore
  files/en-us/glossary/base64/index.md
  files/en-us/glossary/falsy/index.md
Labels: Content:Glossary

#24045 fixed a typo error of URL examples
  files/en-us/web/api/url/url/index.md
Labels: Content:WebAPI

#24028 Fixes #24012 syntax of avc1 codec parameter
  files/en-us/web/media/formats/codecs_parameter/index.md
Labels: Content:Media

#24034 Add more context about what prefetch does.
  files/en-us/web/html/attributes/rel/preconnect/index.md
Labels: Content:HTML

#24049 Format /mdn using Prettier
  .prettierignore
  files/en-us/mdn/community/communication_channels/index.md
  files/en-us/mdn/community/issues/index.md
  files/en-us/mdn/community/roles_teams/index.md
  files/en-us/mdn/writing_guidelines/howto/markdown_in_mdn/index.md
  files/en-us/mdn/writing_guidelines/howto/write_an_api_reference/sidebars/index.md
  files/en-us/mdn/writing_guidelines/page_structures/compatibility_tables/index.md
  files/en-us/mdn/writing_guidelines/page_structures/quicklinks/index.md
  files/en-us/mdn/writing_guidelines/page_structures/syntax_sections/index.md
  files/en-us/mdn/writing_guidelines/writing_style_guide/code_style_guide/css/index.md
Labels: Content:Other

#24056 Format /mdn/kitchensink using Prettier
  .prettierignore
  files/en-us/mdn/kitchensink/index.md
Labels: Content:Other

#23898 CSS module landing page
  files/en-us/web/css/compositing_and_blending/index.md
  files/en-us/web/css/css_animations/index.md
Labels: Content:CSS

#24075 fix typo
  files/en-us/mdn/community/index.md
Labels: Content:Other

#24014 Add CSSImportRule.layer document
  files/en-us/web/api/cssimportrule/index.md
  files/en-us/web/api/cssimportrule/layername/index.md
Labels: Content:WebAPI

#24027 Fixes #24016 Link points to itself
  files/en-us/web/css/reference/index.md
Labels: Content:CSS

#24083 fix: various typos
  files/en-us/web/css/css_animations/index.md
  files/en-us/web/html/attributes/rel/preconnect/index.md
Labels: Content:CSS, Content:HTML

#23585 Add 15 interactive examples
  files/en-us/web/css/@layer/index.md
  files/en-us/web/css/break-after/index.md
  files/en-us/web/css/break-before/index.md
  files/en-us/web/css/break-inside/index.md
  files/en-us/web/css/page-break-after/index.md
  files/en-us/web/css/page-break-before/index.md
  files/en-us/web/css/page-break-inside/index.md
  files/en-us/web/javascript/reference/global_objects/array/isarray/index.md
  files/en-us/web/javascript/reference/global_objects/array/of/index.md
  files/en-us/web/javascript/reference/global_objects/asyncgeneratorfunction/index.md
  files/en-us/web/javascript/reference/global_objects/generatorfunction/index.md
  files/en-us/web/javascript/reference/global_objects/object/is/index.md
  files/en-us/web/javascript/reference/global_objects/object/setprototypeof/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/asynciterator/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/foreach/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/reduceright/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/tolocalestring/index.md
  files/en-us/web/javascript/reference/operators/super/index.md
Labels: Content:CSS, Content:JS

#24029 Fixes #23974
  files/en-us/web/html/block-level_elements/index.md
Labels: Content:HTML

#24053 Update index.md
  files/en-us/learn/html/introduction_to_html/html_text_fundamentals/index.md
Labels: Content:Learn

#24087 fix typo in explanation of void element
  files/en-us/glossary/void_element/index.md
Labels: Content:Glossary

#24099 Both use `This example` to describe examples
  files/en-us/web/api/subtlecrypto/exportkey/index.md
Labels: Content:WebAPI

#24095 Made the example useful
  files/en-us/web/svg/attribute/xml_colon_space/index.md
Labels: Content:SVG

#24093 fix: corrent the string literals
  files/en-us/web/api/client/index.md
Labels: Content:WebAPI

#24091 background on first-line
  files/en-us/web/css/_doublecolon_first-line/index.md
Labels: Content:CSS

#24090 CSS: `background` defaults
  files/en-us/web/css/background/index.md
Labels: Content:CSS

#24080 Update index.md
  files/en-us/learn/forms/how_to_build_custom_form_controls/index.md
Labels: Content:Learn

#24100 Remove parentheses from a file name
  files/en-us/web/api/web_authentication_api/index.md
  files/en-us/web/api/web_authentication_api/mdn_webauthn_authentication_r1.png
Labels: Content:WebAPI

#24086 Fix default value of `action.default_area` and `browser_action.default_area`
  files/en-us/mozilla/add-ons/webextensions/manifest.json/action/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/browser_action/index.md
  files/en-us/mozilla/firefox/releases/109/index.md
Labels: Content:WebExt, Content:Other

#24108 chore(typos): fix repeated words
  files/en-us/mdn/writing_guidelines/page_structures/page_types/css_property_page_template/index.md
  files/en-us/web/api/htmldialogelement/returnvalue/index.md
  files/en-us/web/api/navigation_api/index.md
  files/en-us/web/css/@container/index.md
  files/en-us/web/css/hyphenate-limit-chars/index.md
  files/en-us/web/css/round/index.md
Labels: Content:CSS, Content:WebAPI, Content:Other

#24040 Revert "Fix color contrast"
  files/en-us/web/css/box-shadow/index.md
Labels: Content:CSS

#24122 Remove unused images
  files/en-us/learn/css/css_layout/responsive_design/mdn-rwd-desktop.png
  files/en-us/learn/css/css_layout/responsive_design/mdn-rwd-fixed.png
  files/en-us/learn/css/css_layout/responsive_design/mdn-rwd-mobile.png
  files/en-us/learn/forms/advanced_form_styling/ie11-checkbox.png
  files/en-us/learn/forms/html5_input_types/fx-macos-color.jpg
  files/en-us/learn/javascript/building_blocks/events/bubbling-capturing.png
  files/en-us/learn/javascript/objects/object_prototypes/mdn-graphics-person-person-object-2.png
  files/en-us/learn/javascript/objects/object_prototypes/object-available-members.png
  files/en-us/learn/tools_and_testing/cross_browser_testing/html_and_css/new-selector-ie7.png
  files/en-us/mozilla/add-ons/webextensions/what_are_webextensions/asteroids_in_popup_add_on_.png
  files/en-us/web/api/canvas_api/tutorial/applying_styles_and_colors/canvas_linecap.png
  files/en-us/web/api/canvas_api/tutorial/applying_styles_and_colors/canvas_linejoin.png
  files/en-us/web/api/canvas_api/tutorial/basic_animations/snake.jpg
  files/en-us/web/api/console/timelog/timer_output.png
  files/en-us/web/api/dommatrixreadonly/flipx/flipx.png
  files/en-us/web/api/pointer_lock_api/pointer-lock.png
  files/en-us/web/api/rtcremoteoutboundrtpstreamstats/localid/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2fremix%402x.png
  files/en-us/web/api/rtcremoteoutboundrtpstreamstats/localid/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2fview-source%402x.png
  files/en-us/web/api/webxr_device_api/hw-setup.png
  files/en-us/web/api/window/open/popup.png
  files/en-us/web/api/window/personalbar/modify_any_open_window_dialog.png
  files/en-us/web/css/css_flexible_box_layout/controlling_ratios_of_flex_items_along_the_main_ax/ratios-size.png
  files/en-us/web/css/css_transitions/using_css_transitions/tf_with_output_gt_than_1.png
  files/en-us/web/css/text-overflow/t-o_clip.png
  files/en-us/web/css/text-overflow/t-o_clip_rtl.png
  files/en-us/web/html/element/hgroup/outline-colon.png
  files/en-us/web/html/element/hgroup/outline-paren.png
  files/en-us/web/html/element/input/range/macslider-labels.png
  files/en-us/web/html/element/input/range/macslider-plain.png
  files/en-us/web/html/element/input/range/macslider-ticks.png
  files/en-us/web/html/element/input/range/orientation_sample1.png
  files/en-us/web/html/element/input/range/orientation_sample2.png
  files/en-us/web/html/element/input/range/orientation_sample3.png
  files/en-us/web/progressive_web_apps/installing/square.svg
  files/en-us/web/progressive_web_apps/pwa.png
Labels: Content:CSS, Content:HTML, Content:WebExt, Content:WebAPI, Content:Learn, Content:Other

#24118 make HSL look like the descriptions below and after it.
  files/en-us/web/css/color_value/index.md
Labels: Content:CSS

#24115 Add Mac keyboard modifier key for range count selection
  files/en-us/web/api/selection/rangecount/index.md
Labels: Content:WebAPI

#24116 Add missing word to extensions what's next page
  files/en-us/mozilla/add-ons/webextensions/what_next_/index.md
Labels: Content:WebExt, Content:Other

#24125 update links and minor fixes
  files/en-us/web/api/subtlecrypto/importkey/index.md
Labels: Content:WebAPI

#24098 Note that console.trace() may include output from async sources
  files/en-us/web/api/console/trace/index.md
Labels: Content:WebAPI

#24024 Changing some sections in "Firefox 104 for developers" page
  files/en-us/mozilla/firefox/releases/104/index.md
Labels: Content:Other

#24126 Add toJSON() to PerformanceTiming and PerformanceNavigation
  files/en-us/web/api/performancenavigation/index.md
  files/en-us/web/api/performancenavigation/tojson/index.md
  files/en-us/web/api/performancetiming/index.md
  files/en-us/web/api/performancetiming/tojson/index.md
Labels: Content:WebAPI

#24121 FF110Relnote: contentvisibilityautostatechanged event supported
  files/en-us/mozilla/firefox/releases/110/index.md
Labels: Content:Other

#24105 relnote(110): CSS container queries enabled by default in 110
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/108/index.md
  files/en-us/mozilla/firefox/releases/110/index.md
Labels: Content:Other

#24128 feat(ImageData): more clarity about pixel array
  files/en-us/web/api/imagedata/index.md
Labels: Content:WebAPI

#24131 Fix formatting in files/en-us/mdn/writing_guidelines/page_structures/code_examples/index.md
  files/en-us/mdn/writing_guidelines/page_structures/code_examples/index.md
Labels: Content:Other

#24111 currentColor: add definition and links
  files/en-us/web/css/border-bottom-color/index.md
  files/en-us/web/css/border-left-color/index.md
  files/en-us/web/css/border-right-color/index.md
  files/en-us/web/css/border-top-color/index.md
  files/en-us/web/css/color/index.md
Labels: Content:CSS

#24134 Remove reference to C's strcmp() in string docs
  files/en-us/web/javascript/reference/global_objects/string/index.md
Labels: Content:JS

#24132 Remove note
  files/en-us/learn/javascript/building_blocks/conditionals/index.md
Labels: Content:Learn

#24135 Add alt. text to a few images
  files/en-us/web/css/clip/index.md
  files/en-us/web/css/vertical-align/index.md
Labels: Content:CSS

#24092 Shorten intro and add procedure
  files/en-us/learn/css/first_steps/getting_started/index.md
Labels: Content:Learn

#24102 fix word order in explanation of SVG
  files/en-us/learn/html/multimedia_and_embedding/adding_vector_graphics_to_the_web/index.md
Labels: Content:Learn

#24139 Add HTTP/3 to ALPN glossary
  files/en-us/glossary/alpn/index.md
Labels: Content:Glossary

#24144 typo: layercreated -> layer created
  files/en-us/web/api/cssimportrule/layername/index.md
Labels: Content:WebAPI

#24151 remove extra `'`
  files/en-us/web/api/service_worker_api/using_service_workers/index.md
Labels: Content:WebAPI

#24154 Fix filecheck issues
  files/en-us/learn/html/cheatsheet/index.md
  files/en-us/learn/html/cheatsheet/t-rex-roar.mp3
  files/en-us/web/api/htmlimageelement/sizes/new-york-skyline-wide.jpg
  files/en-us/web/api/web_animations_api/using_the_web_animations_api/growing-shrinking_article_optimized.gif
  files/en-us/web/css/css_box_model/introduction_to_the_css_box_model/boxmodel.png
  files/en-us/web/css/css_box_model/introduction_to_the_css_box_model/index.md
Labels: Content:CSS, Content:WebAPI, Content:Learn

#24156 Fix typo on 'ARIA: radio role' page
  files/en-us/web/accessibility/aria/roles/radio_role/index.md
Labels: Content:Accessibility

#24157 Fix typo on 'ARIA: radio role' page
  files/en-us/web/accessibility/aria/roles/radio_role/index.md
Labels: Content:Accessibility

#24159 Update index.md
  files/en-us/web/javascript/reference/global_objects/promise/any/index.md
Labels: Content:JS

#24164 Minor change in the definition of The World Wide Web
  files/en-us/glossary/world_wide_web/index.md
Labels: Content:Glossary

#24182 Fix outdated labels
  files/en-us/mdn/community/mdn_content/index.md
Labels: Content:Other

#24185 Fix minor spelling error
  files/en-us/web/accessibility/cognitive_accessibility/index.md
Labels: Content:Accessibility

#23887 Update base64 code comment in glossary
  files/en-us/glossary/base64/index.md
Labels: Content:Glossary

#24168 Update index.md
  files/en-us/web/svg/element/svg/index.md
Labels: Content:SVG

#24188 Remove a polyfill source
  files/en-us/web/javascript/reference/global_objects/array/copywithin/index.md
  files/en-us/web/javascript/reference/global_objects/array/entries/index.md
  files/en-us/web/javascript/reference/global_objects/array/flat/index.md
  files/en-us/web/javascript/reference/global_objects/array/flatmap/index.md
  files/en-us/web/javascript/reference/global_objects/array/isarray/index.md
  files/en-us/web/javascript/reference/global_objects/array/keys/index.md
  files/en-us/web/javascript/reference/global_objects/array/of/index.md
  files/en-us/web/javascript/reference/global_objects/array/values/index.md
  files/en-us/web/javascript/reference/global_objects/date/toisostring/index.md
  files/en-us/web/javascript/reference/global_objects/math/sign/index.md
  files/en-us/web/javascript/reference/global_objects/math/trunc/index.md
  files/en-us/web/javascript/reference/global_objects/string/padend/index.md
  files/en-us/web/javascript/reference/global_objects/string/padstart/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/from/index.md
Labels: Content:JS

#24180 Fix typo in the documentation for Document.getSelection()
  files/en-us/web/api/document/getselection/index.md
Labels: Content:WebAPI

#24171 Linked the "type" with it's appropriate page.
  files/en-us/learn/forms/form_validation/index.md
Labels: Content:Learn

#24190 Update index.md
  files/en-us/mdn/writing_guidelines/page_structures/code_examples/index.md
Labels: Content:Other

#24120 Ff110 contentvisibilityautostatechanged
  files/en-us/web/api/contentvisibilityautostatechangedevent/contentvisibilityautostatechangedevent/index.md
  files/en-us/web/api/contentvisibilityautostatechangedevent/index.md
  files/en-us/web/api/contentvisibilityautostatechangedevent/skipped/index.md
  files/en-us/web/api/element/contentvisibilityautostatechanged_event/index.md
Labels: Content:WebAPI

#24166 Note deprecation of `<param>` element
  files/en-us/glossary/void_element/index.md
Labels: Content:Glossary

#24194 Fix typo
  files/en-us/web/api/performance/measure/index.md
Labels: Content:WebAPI

#24127 Fix 400 Bad Request spec URLs
  files/en-us/web/http/status/400/index.md
Labels: Content:HTTP

#24167 Update IP address definition
  files/en-us/glossary/ip_address/index.md
Labels: Content:Glossary

#23978 Navigator.getAutoplayPolicy() docs
  files/en-us/web/api/navigator/getautoplaypolicy/index.md
  files/en-us/web/api/navigator/index.md
  files/en-us/web/media/autoplay_guide/index.md
Labels: Content:WebAPI, Content:Media

#24187 FF110 ExprFeature: Navigator.getAutoplayPolicy()
  files/en-us/mozilla/firefox/experimental_features/index.md
Labels: Content:Other

#24195 Remove links to RFC2616 (old HTTP spec)
  files/en-us/web/guide/ajax/getting_started/index.md
  files/en-us/web/html/element/form/index.md
  files/en-us/web/http/headers/x-forwarded-for/index.md
  files/en-us/web/http/status/400/index.md
  files/en-us/web/http/status/403/index.md
  files/en-us/web/http/status/405/index.md
  files/en-us/web/http/status/429/index.md
  files/en-us/web/http/status/500/index.md
  files/en-us/web/http/status/502/index.md
  files/en-us/web/http/status/503/index.md
  files/en-us/web/http/status/504/index.md
Labels: Content:HTML, Content:Learn, Content:HTTP

#24101 Update /learn/forms/how_to_structure_a_web_form
  files/en-us/learn/forms/how_to_structure_a_web_form/index.md
Labels: Content:Learn

#24192 Add info about indexOf(NaN) behavior
  files/en-us/web/javascript/reference/global_objects/array/indexof/index.md
  files/en-us/web/javascript/reference/global_objects/array/lastindexof/index.md
Labels: Content:JS

#24206 typo fix
  files/en-us/web/javascript/reference/global_objects/typedarray/index.md
Labels: Content:JS

#24138 Run Prettier over JS syntax pages
  files/en-us/web/javascript/reference/classes/extends/index.md
  files/en-us/web/javascript/reference/classes/index.md
  files/en-us/web/javascript/reference/classes/static_initialization_blocks/index.md
  files/en-us/web/javascript/reference/functions/arrow_functions/index.md
  files/en-us/web/javascript/reference/functions/index.md
  files/en-us/web/javascript/reference/iteration_protocols/index.md
  files/en-us/web/javascript/reference/operators/addition/index.md
  files/en-us/web/javascript/reference/operators/bitwise_xor_assignment/index.md
  files/en-us/web/javascript/reference/operators/class/index.md
  files/en-us/web/javascript/reference/operators/comma_operator/index.md
  files/en-us/web/javascript/reference/operators/conditional_operator/index.md
  files/en-us/web/javascript/reference/operators/destructuring_assignment/index.md
  files/en-us/web/javascript/reference/operators/exponentiation/index.md
  files/en-us/web/javascript/reference/operators/function/index.md
  files/en-us/web/javascript/reference/operators/greater_than/index.md
  files/en-us/web/javascript/reference/operators/greater_than_or_equal/index.md
  files/en-us/web/javascript/reference/operators/grouping/index.md
  files/en-us/web/javascript/reference/operators/import.meta/index.md
  files/en-us/web/javascript/reference/operators/import/index.md
  files/en-us/web/javascript/reference/operators/less_than/index.md
  files/en-us/web/javascript/reference/operators/less_than_or_equal/index.md
  files/en-us/web/javascript/reference/operators/logical_and/index.md
  files/en-us/web/javascript/reference/operators/logical_not/index.md
  files/en-us/web/javascript/reference/operators/logical_or/index.md
  files/en-us/web/javascript/reference/operators/multiplication/index.md
  files/en-us/web/javascript/reference/operators/multiplication_assignment/index.md
  files/en-us/web/javascript/reference/operators/new/index.md
  files/en-us/web/javascript/reference/operators/null/index.md
  files/en-us/web/javascript/reference/operators/object_initializer/index.md
  files/en-us/web/javascript/reference/operators/operator_precedence/index.md
  files/en-us/web/javascript/reference/operators/remainder/index.md
  files/en-us/web/javascript/reference/operators/remainder_assignment/index.md
  files/en-us/web/javascript/reference/operators/spread_syntax/index.md
  files/en-us/web/javascript/reference/operators/subtraction_assignment/index.md
  files/en-us/web/javascript/reference/operators/super/index.md
  files/en-us/web/javascript/reference/operators/unsigned_right_shift_assignment/index.md
  files/en-us/web/javascript/reference/operators/void/index.md
  files/en-us/web/javascript/reference/statements/async_function/index.md
  files/en-us/web/javascript/reference/statements/export/index.md
  files/en-us/web/javascript/reference/statements/for/index.md
  files/en-us/web/javascript/reference/statements/function/index.md
  files/en-us/web/javascript/reference/statements/if...else/index.md
  files/en-us/web/javascript/reference/statements/index.md
  files/en-us/web/javascript/reference/statements/label/index.md
  files/en-us/web/javascript/reference/statements/let/index.md
  files/en-us/web/javascript/reference/statements/return/index.md
  files/en-us/web/javascript/reference/statements/switch/index.md
  files/en-us/web/javascript/reference/statements/throw/index.md
  files/en-us/web/javascript/reference/statements/var/index.md
  files/en-us/web/javascript/reference/statements/while/index.md
  files/en-us/web/javascript/reference/statements/with/index.md
  files/en-us/web/javascript/reference/trailing_commas/index.md
Labels: Content:JS

#24176 Update writing guide for code live example
  files/en-us/mdn/writing_guidelines/page_structures/code_examples/index.md
Labels: Content:Other

#24232 Fix some minor typos
  files/en-us/web/api/htmllinkelement/referrerpolicy/index.md
  files/en-us/web/api/htmlmediaelement/capturestream/index.md
  files/en-us/web/api/htmlmediaelement/ended/index.md
  files/en-us/web/api/htmlmediaelement/error/index.md
  files/en-us/web/api/htmlmediaelement/muted/index.md
  files/en-us/web/api/htmlmediaelement/setmediakeys/index.md
  files/en-us/web/api/htmlmetaelement/name/index.md
Labels: Content:WebAPI

#24133 update CSS @font-face src local() font name specification
  files/en-us/web/api/local_font_access_api/index.md
  files/en-us/web/css/@font-face/index.md
  files/en-us/web/css/@font-face/src/index.md
Labels: Content:CSS, Content:WebAPI

#24233 Update index.md
  files/en-us/web/javascript/reference/global_objects/array/values/index.md
Labels: Content:JS

#24216 fix grammatical issues in multimedia
  files/en-us/learn/accessibility/multimedia/index.md
Labels: Content:Learn

#24208 Update index.md
  files/en-us/web/accessibility/aria/roles/progressbar_role/index.md
Labels: Content:Accessibility

#24235 Synchronize with BCD v5.2.34
  files/en-us/web/api/contentvisibilityautostatechangedevent/contentvisibilityautostatechangedevent/index.md
  files/en-us/web/api/contentvisibilityautostatechangedevent/index.md
  files/en-us/web/api/contentvisibilityautostatechangedevent/skipped/index.md
  files/en-us/web/api/element/contentvisibilityautostatechanged_event/index.md
  files/en-us/web/api/navigator/getautoplaypolicy/index.md
  files/en-us/web/api/navigator/index.md
Labels: Content:WebAPI

#24006 WebMIDI security and permission API
  files/en-us/web/api/navigator/requestmidiaccess/index.md
  files/en-us/web/api/web_midi_api/index.md
Labels: Content:WebAPI

#24205 Define currentAngle in the local scope
  files/en-us/web/api/webgl_api/basic_2d_animation_example/index.md
Labels: Content:WebAPI

#24236 Fix broken link
  files/en-us/web/css/_doublecolon_placeholder/index.md
Labels: Content:CSS

#24234 Add see also to `<filter-function>` and related pages
  files/en-us/web/css/filter-function/blur/index.md
  files/en-us/web/css/filter-function/brightness/index.md
  files/en-us/web/css/filter-function/contrast/index.md
  files/en-us/web/css/filter-function/drop-shadow/index.md
  files/en-us/web/css/filter-function/grayscale/index.md
  files/en-us/web/css/filter-function/hue-rotate/index.md
  files/en-us/web/css/filter-function/invert/index.md
  files/en-us/web/css/filter-function/opacity/index.md
  files/en-us/web/css/filter-function/saturate/index.md
  files/en-us/web/css/filter-function/sepia/index.md
  files/en-us/web/css/filter/index.md
Labels: Content:CSS

#24238 Fix typo in `gesturestart` event
  files/en-us/web/api/element/gesturestart_event/index.md
Labels: Content:WebAPI

#24240 RTCRtpEncodingParameters.priority - add to document
  files/en-us/web/api/rtcrtpencodingparameters/index.md
Labels: Content:WebAPI

#24239 RTCRtpSender.getParameters() - return object not dictionary
  files/en-us/web/api/rtcrtpsender/getparameters/index.md
Labels: Content:WebAPI

#24241 Fix broken anchors
  files/en-us/web/javascript/reference/classes/index.md
  files/en-us/web/javascript/reference/classes/static/index.md
  files/en-us/web/javascript/reference/strict_mode/index.md
Labels: Content:JS

#24230 Format /web/xslt using Prettier
  .prettierignore
  files/en-us/web/xslt/index.md
Labels: Content:Other

#24229 Format /web/xpath using Prettier
  .prettierignore
  files/en-us/web/xpath/functions/false/index.md
  files/en-us/web/xpath/functions/true/index.md
  files/en-us/web/xpath/introduction_to_using_xpath_in_javascript/index.md
  files/en-us/web/xpath/snippets/index.md
Labels: Content:Other

#24228 Format /web/xml using Prettier
  .prettierignore
  files/en-us/web/xml/index.md
Labels: Content:Other

#24226 Format /web/webdriver using Prettier
  .prettierignore
  files/en-us/web/webdriver/capabilities/firefoxoptions/index.md
  files/en-us/web/webdriver/capabilities/index.md
  files/en-us/web/webdriver/timeouts/index.md
Labels: Content:WebDriver

#24212 Format /web/manifest using Prettier
  .prettierignore
  files/en-us/web/manifest/display_override/index.md
  files/en-us/web/manifest/index.md
Labels: Content:Other

#24217 Format /web/media using Prettier
  .prettierignore
  files/en-us/web/media/autoplay_guide/index.md
  files/en-us/web/media/formats/audio_concepts/index.md
  files/en-us/web/media/formats/index.md
Labels: Content:Media

#24218 Format /web/performance using Prettier
  .prettierignore
  files/en-us/web/performance/how_browsers_work/index.md
  files/en-us/web/performance/how_long_is_too_long/index.md
  files/en-us/web/performance/navigation_and_resource_timings/index.md
  files/en-us/web/performance/rum-vs-synthetic/index.md
Labels: Content:Other

#24219 Format /web/privacy using Prettier
  .prettierignore
  files/en-us/web/privacy/storage_access_policy/errors/cookieblockedall/index.md
  files/en-us/web/privacy/storage_access_policy/errors/cookieblockedbypermission/index.md
  files/en-us/web/privacy/storage_access_policy/errors/cookieblockedforeign/index.md
  files/en-us/web/privacy/storage_access_policy/errors/cookieblockedtracker/index.md
  files/en-us/web/privacy/storage_access_policy/errors/cookiepartitionedforeign/index.md
  files/en-us/web/privacy/storage_access_policy/index.md
Labels: Content:Other

#24222 Format /web/security using Prettier
  .prettierignore
  files/en-us/web/security/securing_your_site/turning_off_form_autocompletion/index.md
Labels: Content:Other

#24227 Remove pleonastic "for example"
  files/en-us/glossary/api/index.md
Labels: Content:Glossary

#24211 Format /web/guide using Prettier
  .prettierignore
  files/en-us/web/guide/ajax/getting_started/index.md
  files/en-us/web/guide/audio_and_video_delivery/adding_captions_and_subtitles_to_html5_video/index.md
  files/en-us/web/guide/audio_and_video_delivery/buffering_seeking_time_ranges/index.md
  files/en-us/web/guide/audio_and_video_delivery/cross-browser_audio_basics/index.md
  files/en-us/web/guide/audio_and_video_delivery/cross_browser_video_player/index.md
  files/en-us/web/guide/audio_and_video_delivery/index.md
  files/en-us/web/guide/audio_and_video_delivery/live_streaming_web_audio_and_video/index.md
  files/en-us/web/guide/audio_and_video_delivery/video_player_styling_basics/index.md
  files/en-us/web/guide/audio_and_video_delivery/web_audio_api_cross_browser/index.md
  files/en-us/web/guide/audio_and_video_delivery/webaudio_playbackrate_explained/index.md
  files/en-us/web/guide/audio_and_video_manipulation/index.md
  files/en-us/web/guide/css/getting_started/challenge_solutions/index.md
  files/en-us/web/guide/houdini/index.md
  files/en-us/web/guide/parsing_and_serializing_xml/index.md
  files/en-us/web/guide/printing/index.md
Labels: Content:Learn

#24210 Format /web/events using Prettier
  .prettierignore
  files/en-us/web/events/creating_and_triggering_events/index.md
  files/en-us/web/events/event_handlers/index.md
Labels: Content:Other

#24207 Add caveat about type coercions and isNaN()
  files/en-us/web/javascript/reference/global_objects/isnan/index.md
Labels: Content:JS

#24160 Removal of “Other” section and tweaked dot in “Firefox 103 for developers” page
  files/en-us/mozilla/firefox/releases/103/index.md
Labels: Content:Other

#24231 Format some files with Prettier
  files/en-us/mdn/community/issues/index.md
  files/en-us/mdn/community/mdn_content/index.md
  files/en-us/web/http/proxy_servers_and_tunneling/proxy_auto-configuration_pac_file/index.md
Labels: Content:Other, Content:HTTP

#24253 Update FF110 release note for color-gamut
  files/en-us/mozilla/firefox/releases/110/index.md
Labels: Content:Other

#24255 typo
  files/en-us/web/css/css_animations/index.md
Labels: Content:CSS

#24256 Minor edits and clarifications in the color-gamut page
  files/en-us/web/css/@media/color-gamut/index.md
Labels: Content:CSS

#24237 fix: typo that resulted in different meaning
  files/en-us/web/http/client_hints/index.md
Labels: Content:HTTP

#24258 Fix some minor typos
  files/en-us/web/api/htmlselectelement/disabled/index.md
  files/en-us/web/api/htmlselectelement/form/index.md
  files/en-us/web/api/htmlselectelement/selectedindex/index.md
  files/en-us/web/api/nodeiterator/filter/index.md
  files/en-us/web/api/nodeiterator/referencenode/index.md
  files/en-us/web/api/treewalker/currentnode/index.md
  files/en-us/web/api/treewalker/firstchild/index.md
  files/en-us/web/api/treewalker/lastchild/index.md
  files/en-us/web/api/treewalker/nextnode/index.md
  files/en-us/web/api/treewalker/nextsibling/index.md
  files/en-us/web/api/treewalker/parentnode/index.md
  files/en-us/web/api/treewalker/previousnode/index.md
  files/en-us/web/api/treewalker/previoussibling/index.md
Labels: Content:WebAPI

#23907 Reference documentation for the CSS Custom highlight API
  files/en-us/web/api/css/highlights/index.md
  files/en-us/web/api/css/index.md
  files/en-us/web/api/css_custom_highlight_api/index.md
  files/en-us/web/api/highlight/add/index.md
  files/en-us/web/api/highlight/clear/index.md
  files/en-us/web/api/highlight/delete/index.md
  files/en-us/web/api/highlight/entries/index.md
  files/en-us/web/api/highlight/foreach/index.md
  files/en-us/web/api/highlight/has/index.md
  files/en-us/web/api/highlight/highlight/index.md
  files/en-us/web/api/highlight/index.md
  files/en-us/web/api/highlight/keys/index.md
  files/en-us/web/api/highlight/priority/index.md
  files/en-us/web/api/highlight/size/index.md
  files/en-us/web/api/highlight/type/index.md
  files/en-us/web/api/highlight/values/index.md
  files/en-us/web/api/highlightregistry/clear/index.md
  files/en-us/web/api/highlightregistry/delete/index.md
  files/en-us/web/api/highlightregistry/entries/index.md
  files/en-us/web/api/highlightregistry/foreach/index.md
  files/en-us/web/api/highlightregistry/get/index.md
  files/en-us/web/api/highlightregistry/has/index.md
  files/en-us/web/api/highlightregistry/index.md
  files/en-us/web/api/highlightregistry/keys/index.md
  files/en-us/web/api/highlightregistry/set/index.md
  files/en-us/web/api/highlightregistry/size/index.md
  files/en-us/web/api/highlightregistry/values/index.md
  files/en-us/web/css/_doublecolon_highlight/index.md
  files/jsondata/GroupData.json
Labels: Content:CSS, Content:WebAPI

#24262 Add missing word
  files/en-us/web/html/element/em/index.md
Labels: Content:HTML

#23860 Add more examples to illustrate CSS var() usage
  files/en-us/web/css/var/index.md
Labels: Content:CSS

#24123 CSS Module: backgrounds and borders
  files/en-us/web/css/css_backgrounds_and_borders/index.md
Labels: Content:CSS

#24141 Run Prettier over Global objects O–W
  files/en-us/web/javascript/reference/global_objects/object/assign/index.md
  files/en-us/web/javascript/reference/global_objects/object/defineproperties/index.md
  files/en-us/web/javascript/reference/global_objects/object/defineproperty/index.md
  files/en-us/web/javascript/reference/global_objects/object/freeze/index.md
  files/en-us/web/javascript/reference/global_objects/object/getownpropertydescriptor/index.md
  files/en-us/web/javascript/reference/global_objects/object/getownpropertydescriptors/index.md
  files/en-us/web/javascript/reference/global_objects/object/getownpropertynames/index.md
  files/en-us/web/javascript/reference/global_objects/object/getownpropertysymbols/index.md
  files/en-us/web/javascript/reference/global_objects/object/getprototypeof/index.md
  files/en-us/web/javascript/reference/global_objects/object/hasown/index.md
  files/en-us/web/javascript/reference/global_objects/object/hasownproperty/index.md
  files/en-us/web/javascript/reference/global_objects/object/index.md
  files/en-us/web/javascript/reference/global_objects/object/isfrozen/index.md
  files/en-us/web/javascript/reference/global_objects/object/isprototypeof/index.md
  files/en-us/web/javascript/reference/global_objects/object/issealed/index.md
  files/en-us/web/javascript/reference/global_objects/object/preventextensions/index.md
  files/en-us/web/javascript/reference/global_objects/object/proto/index.md
  files/en-us/web/javascript/reference/global_objects/object/seal/index.md
  files/en-us/web/javascript/reference/global_objects/object/tolocalestring/index.md
  files/en-us/web/javascript/reference/global_objects/promise/all/index.md
  files/en-us/web/javascript/reference/global_objects/promise/index.md
  files/en-us/web/javascript/reference/global_objects/promise/race/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/proxy/apply/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/proxy/construct/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/proxy/defineproperty/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/proxy/deleteproperty/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/proxy/get/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/proxy/getownpropertydescriptor/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/proxy/getprototypeof/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/proxy/has/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/proxy/isextensible/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/proxy/ownkeys/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/proxy/preventextensions/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/proxy/set/index.md
  files/en-us/web/javascript/reference/global_objects/rangeerror/index.md
  files/en-us/web/javascript/reference/global_objects/rangeerror/rangeerror/index.md
  files/en-us/web/javascript/reference/global_objects/referenceerror/index.md
  files/en-us/web/javascript/reference/global_objects/referenceerror/referenceerror/index.md
  files/en-us/web/javascript/reference/global_objects/reflect/get/index.md
  files/en-us/web/javascript/reference/global_objects/reflect/has/index.md
  files/en-us/web/javascript/reference/global_objects/reflect/index.md
  files/en-us/web/javascript/reference/global_objects/reflect/ownkeys/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/global/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/input/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/lastindex/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/leftcontext/index.md
  files/en-us/web/javascript/reference/global_objects/set/index.md
  files/en-us/web/javascript/reference/global_objects/sharedarraybuffer/index.md
  files/en-us/web/javascript/reference/global_objects/string/index.md
  files/en-us/web/javascript/reference/global_objects/string/repeat/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/tostringtag/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/@@species/index.md
  files/en-us/web/javascript/reference/global_objects/typeerror/index.md
  files/en-us/web/javascript/reference/global_objects/typeerror/typeerror/index.md
  files/en-us/web/javascript/reference/global_objects/undefined/index.md
  files/en-us/web/javascript/reference/global_objects/urierror/index.md
  files/en-us/web/javascript/reference/global_objects/urierror/urierror/index.md
  files/en-us/web/javascript/reference/global_objects/weakmap/index.md
Labels: Content:JS

#24142 Run Prettier over Intl references
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/datetimeformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/formatrange/index.md
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/formatrangetoparts/index.md
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/formattoparts/index.md
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/resolvedoptions/index.md
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/supportedlocalesof/index.md
  files/en-us/web/javascript/reference/global_objects/intl/displaynames/displaynames/index.md
  files/en-us/web/javascript/reference/global_objects/intl/displaynames/index.md
  files/en-us/web/javascript/reference/global_objects/intl/displaynames/of/index.md
  files/en-us/web/javascript/reference/global_objects/intl/displaynames/resolvedoptions/index.md
  files/en-us/web/javascript/reference/global_objects/intl/displaynames/supportedlocalesof/index.md
  files/en-us/web/javascript/reference/global_objects/intl/getcanonicallocales/index.md
  files/en-us/web/javascript/reference/global_objects/intl/index.md
  files/en-us/web/javascript/reference/global_objects/intl/listformat/format/index.md
  files/en-us/web/javascript/reference/global_objects/intl/listformat/formattoparts/index.md
  files/en-us/web/javascript/reference/global_objects/intl/listformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/listformat/listformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/listformat/resolvedoptions/index.md
  files/en-us/web/javascript/reference/global_objects/intl/listformat/supportedlocalesof/index.md
  files/en-us/web/javascript/reference/global_objects/intl/locale/index.md
  files/en-us/web/javascript/reference/global_objects/intl/locale/locale/index.md
  files/en-us/web/javascript/reference/global_objects/intl/locale/weekinfo/index.md
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/format/index.md
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/formatrangetoparts/index.md
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/formattoparts/index.md
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/numberformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/resolvedoptions/index.md
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/supportedlocalesof/index.md
  files/en-us/web/javascript/reference/global_objects/intl/pluralrules/index.md
  files/en-us/web/javascript/reference/global_objects/intl/pluralrules/pluralrules/index.md
  files/en-us/web/javascript/reference/global_objects/intl/pluralrules/resolvedoptions/index.md
  files/en-us/web/javascript/reference/global_objects/intl/pluralrules/selectrange/index.md
  files/en-us/web/javascript/reference/global_objects/intl/pluralrules/supportedlocalesof/index.md
  files/en-us/web/javascript/reference/global_objects/intl/relativetimeformat/resolvedoptions/index.md
  files/en-us/web/javascript/reference/global_objects/intl/relativetimeformat/supportedlocalesof/index.md
  files/en-us/web/javascript/reference/global_objects/intl/segmenter/index.md
  files/en-us/web/javascript/reference/global_objects/intl/segmenter/resolvedoptions/index.md
  files/en-us/web/javascript/reference/global_objects/intl/segmenter/segment/index.md
  files/en-us/web/javascript/reference/global_objects/intl/segmenter/segment/segments/containing/index.md
  files/en-us/web/javascript/reference/global_objects/intl/segmenter/segmenter/index.md
  files/en-us/web/javascript/reference/global_objects/intl/segmenter/supportedlocalesof/index.md
  files/en-us/web/javascript/reference/global_objects/intl/supportedvaluesof/index.md
Labels: Content:JS

#24249 Fix (another) typo in `gesturestart`
  files/en-us/web/api/element/gesturestart_event/index.md
Labels: Content:WebAPI

#24257 add cite attribute to cite element
  files/en-us/web/html/element/cite/index.md
Labels: Content:HTML

#24265 fix broken links in yari testing document
  files/en-us/mdn/kitchensink/index.md
Labels: Content:Other

#23780 Add info about restrictions to `Domain` in `set-cookie`
  files/en-us/web/http/headers/set-cookie/index.md
Labels: Content:HTTP

#23622 Update `sandbox` keyword descriptions
  files/en-us/web/html/element/iframe/index.md
  files/en-us/web/http/headers/content-security-policy/sandbox/index.md
Labels: Content:HTML, Content:HTTP

#24269 Remove "Using XMLHttpRequest in IE6" article
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/xmlhttprequest/using_xmlhttprequest_in_ie6/index.md
Labels: Content:WebAPI

#24290 Removed extra space before full stop/period
  files/en-us/web/http/status/203/index.md
Labels: Content:HTTP

#24288 Small adjustment to rel/index.md
  files/en-us/web/html/attributes/rel/index.md
Labels: Content:HTML

#24289 Fix broken URL fragments
  files/en-us/learn/accessibility/what_is_accessibility/index.md
  files/en-us/learn/css/howto/make_box_transparent/index.md
  files/en-us/learn/forms/other_form_controls/index.md
  files/en-us/learn/javascript/building_blocks/functions/index.md
  files/en-us/learn/javascript/howto/index.md
  files/en-us/mdn/changelog/index.md
  files/en-us/mdn/writing_guidelines/page_structures/code_examples/index.md
  files/en-us/mdn/writing_guidelines/page_structures/syntax_sections/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/theme/index.md
  files/en-us/mozilla/firefox/releases/106/index.md
  files/en-us/mozilla/firefox/releases/35/index.md
  files/en-us/mozilla/firefox/releases/4/index.md
  files/en-us/mozilla/firefox/releases/5/index.md
  files/en-us/mozilla/firefox/releases/54/index.md
  files/en-us/mozilla/firefox/releases/75/index.md
  files/en-us/web/accessibility/aria/roles/menuitemcheckbox_role/index.md
Labels: Content:WebExt, Content:Learn, Content:Other, Content:Accessibility

#24294 Add note about alternative to this deprecated method
  files/en-us/web/api/audiolistener/setposition/index.md
Labels: Content:WebAPI

#24279 Correct getDisplayMedia() default values info
  files/en-us/web/api/mediadevices/getdisplaymedia/index.md
Labels: Content:WebAPI

#24293 Adjust advice about collation variants
  files/en-us/web/javascript/reference/global_objects/intl/collator/collator/index.md
  files/en-us/web/javascript/reference/global_objects/intl/locale/collations/index.md
  files/en-us/web/javascript/reference/global_objects/intl/supportedvaluesof/index.md
Labels: Content:JS

#24292 Remove outdated old-IE-related banners
  files/en-us/web/api/document/getelementsbyname/index.md
Labels: Content:WebAPI

#24300 Show finished version of exercises
  files/en-us/learn/html/introduction_to_html/test_your_skills_colon__html_text_basics/index.md
Labels: Content:Learn

#24303 Add note to testing section
  files/en-us/mozilla/add-ons/webextensions/your_first_webextension/index.md
Labels: Content:WebExt, Content:Other

#24301 Update phrase for status 413 to Content Too Large
  files/en-us/web/http/status/413/index.md
Labels: Content:HTTP

#24263 Update `ContentVisibilityAutoStateChangedEvent` to `ContentVisibilityAutoStateChangeEvent`
  files/en-us/_redirects.txt
  files/en-us/mozilla/firefox/releases/110/index.md
  files/en-us/web/api/contentvisibilityautostatechangedevent/contentvisibilityautostatechangedevent/index.md
  files/en-us/web/api/contentvisibilityautostatechangedevent/index.md
  files/en-us/web/api/contentvisibilityautostatechangeevent/contentvisibilityautostatechangeevent/index.md
  files/en-us/web/api/contentvisibilityautostatechangeevent/index.md
  files/en-us/web/api/contentvisibilityautostatechangeevent/skipped/index.md
  files/en-us/web/api/element/contentvisibilityautostatechange_event/index.md
  files/en-us/web/api/element/index.md
  files/en-us/web/css/content-visibility/index.md
  files/en-us/web/css/css_containment/index.md
  files/jsondata/GroupData.json
  files/jsondata/InterfaceData.json
Labels: Content:CSS, Content:WebAPI, Content:Other

#24297 Add PaymentResponse.toJSON()
  files/en-us/web/api/paymentresponse/index.md
  files/en-us/web/api/paymentresponse/tojson/index.md
Labels: Content:WebAPI

#12601 Add more HTTP status codes
  files/en-us/web/http/status/102/index.md
  files/en-us/web/http/status/207/index.md
  files/en-us/web/http/status/208/index.md
  files/en-us/web/http/status/226/index.md
  files/en-us/web/http/status/421/index.md
  files/en-us/web/http/status/423/index.md
  files/en-us/web/http/status/424/index.md
Labels: Content:HTTP

#24307 content-visibility: auto is actually behind a preference
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/109/index.md
  files/en-us/mozilla/firefox/releases/110/index.md
Labels: Content:Other

#24317 Update README.md
  README.md
Labels: community

#24152 CSS Module: basic UI
  files/en-us/web/css/css_basic_user_interface/index.md
Labels: Content:CSS

#24011 Refactor `DocumentTimeline`'s discussion of time origin
  files/en-us/web/api/document/timeline/index.md
  files/en-us/web/api/documenttimeline/documenttimeline/index.md
Labels: Content:WebAPI

#24254 fix grammatical issues in mobile accessibility
  files/en-us/learn/accessibility/mobile/index.md
Labels: Content:Learn

#24305 Minor: link to css-examples and github
  files/en-us/web/css/compositing_and_blending/index.md
  files/en-us/web/css/css_animations/index.md
  files/en-us/web/css/css_backgrounds_and_borders/index.md
Labels: Content:CSS

#24326 Remove extra parentheses.
  files/en-us/web/web_components/index.md
Labels: Content:Other

#24324 fix grammatical issues in understanding_client-side_tools
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/overview/index.md
Labels: Content:Learn

#24328 Fix typo in “PushSubscription" article
  files/en-us/web/api/pushsubscription/subscriptionid/index.md
Labels: Content:WebAPI

#24327 Fix typo in HTTP 307 status code description
  files/en-us/web/http/status/index.md
Labels: Content:HTTP

#24243 Add a useful example for understanding.
  files/en-us/web/css/_colon_last-of-type/index.md
Labels: Content:CSS

#24332 Clarify querySelectorAll scope
  files/en-us/web/api/document/queryselectorall/index.md
  files/en-us/web/api/element/queryselectorall/index.md
Labels: Content:WebAPI

#24119 Rewrite docs for `AnimationEffect.getComputedTiming()`
  files/en-us/web/api/animationeffect/getcomputedtiming/index.md
Labels: Content:WebAPI

#24340 fix: various typos
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/web/http/status/207/index.md
  files/en-us/web/http/status/208/index.md
  files/en-us/web/http/status/423/index.md
Labels: Content:Other, Content:HTTP

#24325 See also: link to module page
  files/en-us/web/css/blend-mode/index.md
Labels: Content:CSS
