Repository mdn/content, pull requests merged in 2023-06, with the labels that each got.

#27081 Fix word order for static/instance and public/private
  files/en-us/web/javascript/reference/classes/private_class_fields/index.md
  files/en-us/web/javascript/reference/classes/public_class_fields/index.md
Labels: Content:JS

#27013 clarified distinction between call and apply
  files/en-us/web/javascript/reference/global_objects/function/apply/index.md
  files/en-us/web/javascript/reference/global_objects/function/call/index.md
Labels: Content:JS

#27005 Avoid using non-standard date string format, better date string description
  files/en-us/web/javascript/guide/numbers_and_dates/index.md
  files/en-us/web/javascript/reference/global_objects/date/@@toprimitive/index.md
  files/en-us/web/javascript/reference/global_objects/date/date/index.md
  files/en-us/web/javascript/reference/global_objects/date/getdate/index.md
  files/en-us/web/javascript/reference/global_objects/date/getday/index.md
  files/en-us/web/javascript/reference/global_objects/date/getfullyear/index.md
  files/en-us/web/javascript/reference/global_objects/date/gethours/index.md
  files/en-us/web/javascript/reference/global_objects/date/getmilliseconds/index.md
  files/en-us/web/javascript/reference/global_objects/date/getminutes/index.md
  files/en-us/web/javascript/reference/global_objects/date/getmonth/index.md
  files/en-us/web/javascript/reference/global_objects/date/getseconds/index.md
  files/en-us/web/javascript/reference/global_objects/date/gettime/index.md
  files/en-us/web/javascript/reference/global_objects/date/getyear/index.md
  files/en-us/web/javascript/reference/global_objects/date/index.md
  files/en-us/web/javascript/reference/global_objects/date/now/index.md
  files/en-us/web/javascript/reference/global_objects/date/parse/index.md
  files/en-us/web/javascript/reference/global_objects/date/settime/index.md
  files/en-us/web/javascript/reference/global_objects/date/todatestring/index.md
  files/en-us/web/javascript/reference/global_objects/date/toisostring/index.md
  files/en-us/web/javascript/reference/global_objects/date/tojson/index.md
  files/en-us/web/javascript/reference/global_objects/date/tostring/index.md
  files/en-us/web/javascript/reference/global_objects/date/totimestring/index.md
  files/en-us/web/javascript/reference/global_objects/date/toutcstring/index.md
  files/en-us/web/javascript/reference/global_objects/date/utc/index.md
  files/en-us/web/javascript/reference/global_objects/date/valueof/index.md
  files/en-us/web/javascript/reference/global_objects/number/index.md
  files/en-us/web/javascript/reference/operators/equality/index.md
Labels: Content:JS

#27101 Remove an unnecessary section
  files/en-us/web/api/htmlelement/cut_event/index.md
Labels: Content:WebAPI

#27099 Update index.md
  files/en-us/web/api/document/cookie/index.md
Labels: Content:WebAPI

#27095 Fix grammar error in WebExtensions cookies.set docs
  files/en-us/mozilla/add-ons/webextensions/api/cookies/set/index.md
Labels: Content:WebExt, Content:Other

#27094 Fix broken link on device orientation events WEB APIs docs
  files/en-us/web/api/device_orientation_events/index.md
Labels: Content:WebAPI

#27103 Update link to color-mix documentation
  files/en-us/web/css/css_colors/index.md
Labels: Content:CSS

#27089 Add note that :target does not work in shadow roots
  files/en-us/web/css/_colon_target/index.md
Labels: Content:CSS

#27086 Add missing connector
  files/en-us/web/css/css_colors/applying_color/index.md
Labels: Content:CSS

#27068 Update discord invite
  files/en-us/mdn/community/communication_channels/index.md
  files/en-us/mdn/community/contributing/translated_content/index.md
Labels: Content:Other

#27097 Link to the \xAB notation
  files/en-us/web/api/urlsearchparams/index.md
Labels: Content:WebAPI

#27065 docs(relnote): Fx114 - crossorigin attribute for image and feImage elements in SVGs
  files/en-us/mozilla/firefox/releases/114/index.md
  files/en-us/web/svg/attribute/crossorigin/index.md
  files/en-us/web/svg/element/feimage/index.md
Labels: Content:Other, Content:SVG

#27108 Reference iframe in getRootNode() API
  files/en-us/web/api/node/getrootnode/index.md
Labels: Content:WebAPI

#27118 removed extraneous characters on element/template
  files/en-us/web/html/element/template/index.md
Labels: Content:HTML

#27115 Remove docs for no longer relevant Proximity Events API
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/firefox/releases/15/index.md
  files/en-us/mozilla/firefox/releases/89/index.md
  files/en-us/web/api/deviceproximityevent/index.md
  files/en-us/web/api/event/index.md
  files/en-us/web/api/proximity_events/index.md
  files/en-us/web/api/userproximityevent/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, Content:Other

#27114 WebGLRenderingContext has no commit method
  files/en-us/web/api/offscreencanvas/index.md
  files/en-us/web/api/webglrenderingcontext/index.md
Labels: Content:WebAPI

#26960 Update index.md
  files/en-us/learn/forms/form_validation/index.md
Labels: Content:Learn

#27122 Fix typo: remove "an"
  files/en-us/web/css/gradient/radial-gradient/index.md
Labels: Content:CSS

#26818 DNR docs: replace /docs with /en-US/docs + fix missing WebExtAPIRef
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/index.md
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/matchedrule/index.md
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/max_number_of_enabled_static_rulesets/index.md
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/max_number_of_static_rulesets/index.md
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/onrulematcheddebug/index.md
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/rule/index.md
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/ruleaction/index.md
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/rulecondition/index.md
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/testmatchoutcome/index.md
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/updateenabledrulesets/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/declarative_net_request/index.md
Labels: Content:WebExt, Content:Other

#27135 Add missing space
  files/en-us/web/http/headers/accept-ranges/index.md
Labels: Content:HTTP

#27147 Introduction to the CSS basic box model - remove spec section
  files/en-us/web/css/css_box_model/introduction_to_the_css_box_model/index.md
  files/en-us/web/css/css_box_model/mastering_margin_collapsing/index.md
Labels: Content:CSS

#27017 WebAssembly | Memory - add note about allocation failure
  files/en-us/webassembly/javascript_interface/memory/memory/index.md
Labels: Content:wasm

#27139 Add a note on browser support for desktop orientation events
  files/en-us/web/api/device_orientation_events/index.md
Labels: Content:WebAPI

#27117 docs(relnote): Fx114 - ARIA attribute reflection enabled on nightly, landmark roles bugfix
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/114/index.md
Labels: Content:Other

#26998 Glossary updates: alignment to application-context
  files/en-us/glossary/alignment_container/index.md
  files/en-us/glossary/alignment_subject/index.md
  files/en-us/glossary/alpha/index.md
  files/en-us/glossary/alpn/index.md
  files/en-us/glossary/api/index.md
  files/en-us/glossary/apple_safari/index.md
  files/en-us/glossary/application_context/index.md
Labels: Content:Glossary

#27028 RTCStatsReport - make this the center of statistics docs
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/rtcaudiosourcestats/id/index.md
  files/en-us/web/api/rtcicecandidatepairstats/id/index.md
  files/en-us/web/api/rtcicecandidatepairstats/index.md
  files/en-us/web/api/rtcicecandidatepairstats/timestamp/index.md
  files/en-us/web/api/rtcicecandidatepairstats/type/index.md
  files/en-us/web/api/rtcicecandidatestats/id/index.md
  files/en-us/web/api/rtcicecandidatestats/index.md
  files/en-us/web/api/rtcicecandidatestats/timestamp/index.md
  files/en-us/web/api/rtcicecandidatestats/type/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/id/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/lastpacketreceivedtimestamp/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/receiverid/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/remoteid/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/timestamp/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/trackid/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/type/index.md
  files/en-us/web/api/rtcoutboundrtpstreamstats/id/index.md
  files/en-us/web/api/rtcoutboundrtpstreamstats/index.md
  files/en-us/web/api/rtcoutboundrtpstreamstats/lastpacketsenttimestamp/index.md
  files/en-us/web/api/rtcoutboundrtpstreamstats/qpsum/index.md
  files/en-us/web/api/rtcoutboundrtpstreamstats/remoteid/index.md
  files/en-us/web/api/rtcoutboundrtpstreamstats/timestamp/index.md
  files/en-us/web/api/rtcoutboundrtpstreamstats/trackid/index.md
  files/en-us/web/api/rtcoutboundrtpstreamstats/type/index.md
  files/en-us/web/api/rtcremoteoutboundrtpstreamstats/id/index.md
  files/en-us/web/api/rtcremoteoutboundrtpstreamstats/index.md
  files/en-us/web/api/rtcremoteoutboundrtpstreamstats/localid/index.md
  files/en-us/web/api/rtcremoteoutboundrtpstreamstats/remotetimestamp/index.md
  files/en-us/web/api/rtcremoteoutboundrtpstreamstats/timestamp/index.md
  files/en-us/web/api/rtcremoteoutboundrtpstreamstats/type/index.md
  files/en-us/web/api/rtcrtpstreamstats/index.md
  files/en-us/web/api/rtcstats/id/index.md
  files/en-us/web/api/rtcstats/index.md
  files/en-us/web/api/rtcstats/timestamp/index.md
  files/en-us/web/api/rtcstats/type/index.md
  files/en-us/web/api/rtcstatsreport/@@iterator/index.md
  files/en-us/web/api/rtcstatsreport/entries/index.md
  files/en-us/web/api/rtcstatsreport/foreach/index.md
  files/en-us/web/api/rtcstatsreport/get/index.md
  files/en-us/web/api/rtcstatsreport/has/index.md
  files/en-us/web/api/rtcstatsreport/index.md
  files/en-us/web/api/rtcstatsreport/keys/index.md
  files/en-us/web/api/rtcstatsreport/size/index.md
  files/en-us/web/api/rtcstatsreport/values/index.md
  files/en-us/web/api/webrtc_api/index.md
  files/en-us/web/api/webrtc_statistics_api/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

#27146 Using the Web Speech API - remove old browser support info
  files/en-us/web/api/web_speech_api/using_the_web_speech_api/index.md
Labels: Content:WebAPI

#27154 Add page for Response.json() static method
  files/en-us/web/api/response/json_static/index.md
Labels: Content:WebAPI

#27158 Use decompress throughout DecompressionStream
  files/en-us/web/api/decompressionstream/decompressionstream/index.md
Labels: Content:WebAPI

#27141 Update index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/copywithin/index.md
Labels: Content:JS

#27132 fix redirects of two links
  files/en-us/mdn/writing_guidelines/attrib_copyright_license/index.md
Labels: Content:Other

#27073 chore: remove the note about activating frozen locales
  files/en-us/mdn/community/contributing/translated_content/index.md
Labels: Content:Other

#27054 Minor: added guide to see also
  files/en-us/web/css/column-span/index.md
Labels: Content:CSS

#27159 Correct typo
  files/en-us/web/javascript/reference/operators/subtraction/index.md
Labels: Content:JS

#27119 PWA shortcuts how-to page
  files/en-us/web/manifest/shortcuts/index.md
  files/en-us/web/progressive_web_apps/how_to/expose_common_actions_as_shortcuts/android-shortcuts.png
  files/en-us/web/progressive_web_apps/how_to/expose_common_actions_as_shortcuts/index.md
  files/en-us/web/progressive_web_apps/how_to/expose_common_actions_as_shortcuts/jump-list.png
  files/en-us/web/progressive_web_apps/index.md
Labels: Content:Other

#27058 Updates: CSS Multicol guides
  files/en-us/web/css/css_multicol_layout/basic_concepts/index.md
  files/en-us/web/css/css_multicol_layout/handling_content_breaks_in_multicol_layout/index.md
  files/en-us/web/css/css_multicol_layout/handling_overflow_in_multicol_layout/index.md
  files/en-us/web/css/css_multicol_layout/spanning_balancing_columns/index.md
  files/en-us/web/css/css_multicol_layout/styling_columns/index.md
  files/en-us/web/css/css_multicol_layout/using_multicol_layouts/index.md
Labels: Content:CSS

#27184 CSS module: multicol
  files/en-us/web/css/css_multicol_layout/index.md
Labels: Content:CSS

#27194 Fix example in delete operator docs
  files/en-us/web/javascript/reference/operators/delete/index.md
Labels: Content:JS

#27192 fix: Add the missing experimental banner and status to scripting media page
  files/en-us/web/css/@media/scripting/index.md
Labels: Content:CSS

#27193 Fix issue 12741: add a live example that gets attribute old values
  files/en-us/web/api/mutationobserver/observe/index.md
Labels: Content:WebAPI

#27150 Release note for storage.session
  files/en-us/mozilla/firefox/releases/115/index.md
Labels: Content:Other

#27208 Synchronize with BCD v5.2.62
  files/en-us/web/css/@media/scripting/index.md
Labels: Content:CSS

#27215 Remove `Browser support` title for "using readable streams"
  files/en-us/web/api/streams_api/using_readable_streams/index.md
Labels: Content:WebAPI

#27209 Fix 27207: link to correct event
  files/en-us/web/api/idbtransaction/error_event/index.md
Labels: Content:WebAPI

#27210 Adjustment for refactor(macros/AddonSidebar): use page titles
  files/en-us/mozilla/add-ons/webextensions/build_a_cross_browser_extension/index.md
  files/en-us/mozilla/add-ons/webextensions/extending_the_developer_tools/index.md
  files/en-us/mozilla/add-ons/webextensions/index.md
  files/en-us/mozilla/add-ons/webextensions/match_patterns/index.md
  files/en-us/mozilla/add-ons/webextensions/safely_inserting_external_content_into_a_page/index.md
  files/en-us/mozilla/add-ons/webextensions/sharing_objects_with_page_scripts/index.md
  files/en-us/mozilla/add-ons/webextensions/working_with_files/index.md
  files/en-us/mozilla/add-ons/webextensions/working_with_the_tabs_api/index.md
Labels: Content:WebExt, Content:Other

#27220 Update CODEOWNERS
  .github/CODEOWNERS
Labels: chore

#27213 Fix 27200: Remove 'focus()' call and accompanying note
  files/en-us/learn/accessibility/css_and_javascript/index.md
Labels: Content:Learn

#27222 Gives clarity about the use of unbuffered code to sort Authors
  files/en-us/learn/server-side/express_nodejs/forms/create_book_form/index.md
Labels: Content:Learn

#27225 docs: Firefox 114 release notes
  files/en-us/mozilla/firefox/releases/114/index.md
  files/en-us/mozilla/firefox/releases/115/index.md
  files/en-us/mozilla/firefox/releases/116/index.md
Labels: Content:Other

#27233 `history.state` show in wrong format
  files/en-us/web/api/history/state/index.md
Labels: Content:WebAPI

#27195 Fix various API members which are static
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/bluetoothuuid/canonicaluuid_static/index.md
  files/en-us/web/api/bluetoothuuid/getcharacteristic_static/index.md
  files/en-us/web/api/bluetoothuuid/getdescriptor_static/index.md
  files/en-us/web/api/bluetoothuuid/getservice_static/index.md
  files/en-us/web/api/bluetoothuuid/index.md
  files/en-us/web/api/cssstylevalue/index.md
  files/en-us/web/api/cssstylevalue/parse_static/index.md
  files/en-us/web/api/cssstylevalue/parseall_static/index.md
  files/en-us/web/api/idledetector/index.md
  files/en-us/web/api/idledetector/requestpermission_static/index.md
  files/en-us/web/api/pushmanager/index.md
  files/en-us/web/api/pushmanager/supportedcontentencodings_static/index.md
Labels: Content:WebAPI

#27232 Improve the example to highlight the edge cases better
  files/en-us/web/css/general_sibling_combinator/index.md
Labels: Content:CSS

#27144 Improve explanation of Array.prototype.sort()'s compare function
  files/en-us/web/javascript/reference/global_objects/array/sort/index.md
Labels: Content:JS

#27113 fix(macros): Broken Specifications macros fixed by escaping or adding spec URLs
  files/en-us/mdn/writing_guidelines/page_structures/page_types/aria_page_template/index.md
  files/en-us/web/css/css_transitions/using_css_transitions/index.md
Labels: Content:CSS, Content:Other

#27167 Rework figures for `<easing-function>`
  files/en-us/web/css/easing-function/cubic-bezier-ease-in-out.png
  files/en-us/web/css/easing-function/cubic-bezier-ease-in.png
  files/en-us/web/css/easing-function/cubic-bezier-ease-out.png
  files/en-us/web/css/easing-function/cubic-bezier-ease.png
  files/en-us/web/css/easing-function/cubic-bezier-example.png
  files/en-us/web/css/easing-function/cubic-bezier-linear.png
  files/en-us/web/css/easing-function/cubic-bezier.svg
  files/en-us/web/css/easing-function/cubic-bezier_out_of_range.svg
  files/en-us/web/css/easing-function/ease.svg
  files/en-us/web/css/easing-function/index.md
  files/en-us/web/css/easing-function/jump.svg
  files/en-us/web/css/easing-function/linear.svg
  files/en-us/web/css/easing-function/linear_function.svg
  files/en-us/web/css/easing-function/step.svg
  files/en-us/web/css/easing-function/step3both.png
  files/en-us/web/css/easing-function/step5none.png
  files/en-us/web/css/easing-function/steps-1-end.png
  files/en-us/web/css/easing-function/steps-1-start.png
  files/en-us/web/css/easing-function/steps-2-start.png
  files/en-us/web/css/easing-function/steps-4-end.png
  files/en-us/web/css/easing-function/tf_with_output_gt_than_1.png
  files/en-us/web/css/easing-function/tf_with_output_gt_than_1_clipped.png
Labels: Content:CSS

#27084 Move PWA installing guide, give it a proper sidebar
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/progressive_web_apps/guides/installing/android_pwa.jpg
  files/en-us/web/progressive_web_apps/guides/installing/dock.jpg
  files/en-us/web/progressive_web_apps/guides/installing/index.md
  files/en-us/web/progressive_web_apps/guides/installing/installconfirm.jpg
  files/en-us/web/progressive_web_apps/guides/installing/iphone_pwa.jpg
  files/en-us/web/progressive_web_apps/guides/installing/pwa-install.png
  files/en-us/web/progressive_web_apps/guides/installing/remove.jpg
  files/en-us/web/progressive_web_apps/installing/a2hs-on-home-screen.png
  files/en-us/web/progressive_web_apps/installing/android-a2hs-icon.png
  files/en-us/web/progressive_web_apps/installing/chrome-a2hs-banner.png
  files/en-us/web/progressive_web_apps/installing/fx-a2hs-banner.png
  files/en-us/web/progressive_web_apps/installing/safari-ios-a2hs-banner.png
  files/en-us/web/progressive_web_apps/installing/safari-ios-a2hs-icon.png
  files/en-us/web/progressive_web_apps/installing/safari-ios-share-menu.png
  files/en-us/web/progressive_web_apps/installing/samsung-internet-add-app.png
Labels: Content:Other

#27100 Update index.md
  files/en-us/web/css/animation/index.md
Labels: Content:CSS

#27248 Advise structuredClone instead of JSON.parse(JSON.stringify()) to clone an object
  files/en-us/web/javascript/reference/global_objects/object/assign/index.md
Labels: Content:JS

#27254 More consistent `dl` markup in reference
  files/en-us/web/api/web_components/index.md
Labels: Content:WebAPI

#27214 Updates Euclidean Distance formula
  files/en-us/games/techniques/3d_collision_detection/index.md
Labels: Content:Other

#27223 Add information on media asset licensing to /Learn
  files/en-us/learn/html/multimedia_and_embedding/images_in_html/index.md
Labels: Content:Learn

#27261 fix typo
  files/en-us/web/api/document/implementation/index.md
Labels: Content:WebAPI

#27229 FF115 Array.fromAsync() - release note and remove exerimental
  files/en-us/mozilla/firefox/releases/115/index.md
  files/en-us/web/javascript/reference/global_objects/array/fromasync/index.md
  files/en-us/web/javascript/reference/global_objects/array/index.md
Labels: Content:JS, Content:Other

#27250 Update EXSLT website links to point to a working domain
  files/en-us/web/exslt/exsl/node-set/index.md
  files/en-us/web/exslt/exsl/object-type/index.md
  files/en-us/web/exslt/index.md
  files/en-us/web/exslt/math/highest/index.md
  files/en-us/web/exslt/math/lowest/index.md
  files/en-us/web/exslt/math/max/index.md
  files/en-us/web/exslt/math/min/index.md
  files/en-us/web/exslt/regexp/match/index.md
  files/en-us/web/exslt/regexp/replace/index.md
  files/en-us/web/exslt/regexp/test/index.md
  files/en-us/web/exslt/set/difference/index.md
  files/en-us/web/exslt/set/distinct/index.md
  files/en-us/web/exslt/set/has-same-node/index.md
  files/en-us/web/exslt/set/intersection/index.md
  files/en-us/web/exslt/set/leading/index.md
  files/en-us/web/exslt/set/trailing/index.md
  files/en-us/web/exslt/str/concat/index.md
  files/en-us/web/exslt/str/split/index.md
  files/en-us/web/exslt/str/tokenize/index.md
Labels: Content:Other

#27259 fix broken links to html element events
  files/en-us/web/html/element/script/index.md
Labels: Content:HTML

#27033 Fix "custom select example" showing this.hasAttribute not a function
  files/en-us/web/html/element/select/index.md
Labels: Content:HTML

#27240 Update BCD paths for statics
  files/en-us/web/api/abortsignal/abort_static/index.md
  files/en-us/web/api/abortsignal/timeout_static/index.md
  files/en-us/web/api/audiodecoder/isconfigsupported_static/index.md
  files/en-us/web/api/audioencoder/isconfigsupported_static/index.md
  files/en-us/web/api/barcodedetector/getsupportedformats_static/index.md
  files/en-us/web/api/bluetoothuuid/canonicaluuid_static/index.md
  files/en-us/web/api/bluetoothuuid/getcharacteristic_static/index.md
  files/en-us/web/api/bluetoothuuid/getdescriptor_static/index.md
  files/en-us/web/api/bluetoothuuid/getservice_static/index.md
  files/en-us/web/api/css/escape_static/index.md
  files/en-us/web/api/css/highlights_static/index.md
  files/en-us/web/api/css/paintworklet_static/index.md
  files/en-us/web/api/css/registerproperty_static/index.md
  files/en-us/web/api/css/supports_static/index.md
  files/en-us/web/api/cssnumericvalue/parse_static/index.md
  files/en-us/web/api/cssstylevalue/parse_static/index.md
  files/en-us/web/api/cssstylevalue/parseall_static/index.md
  files/en-us/web/api/dompoint/frompoint_static/index.md
  files/en-us/web/api/dompointreadonly/frompoint_static/index.md
  files/en-us/web/api/domrect/fromrect_static/index.md
  files/en-us/web/api/domrectreadonly/fromrect_static/index.md
  files/en-us/web/api/htmlscriptelement/supports_static/index.md
  files/en-us/web/api/idbkeyrange/bound_static/index.md
  files/en-us/web/api/idbkeyrange/lowerbound_static/index.md
  files/en-us/web/api/idbkeyrange/only_static/index.md
  files/en-us/web/api/idbkeyrange/upperbound_static/index.md
  files/en-us/web/api/idledetector/requestpermission_static/index.md
  files/en-us/web/api/imagedecoder/istypesupported_static/index.md
  files/en-us/web/api/mediarecorder/istypesupported_static/index.md
  files/en-us/web/api/mediasource/canconstructindedicatedworker_static/index.md
  files/en-us/web/api/mediasource/istypesupported_static/index.md
  files/en-us/web/api/notification/maxactions_static/index.md
  files/en-us/web/api/notification/permission_static/index.md
  files/en-us/web/api/notification/requestpermission_static/index.md
  files/en-us/web/api/performanceobserver/supportedentrytypes_static/index.md
  files/en-us/web/api/publickeycredential/isconditionalmediationavailable/index.md
  files/en-us/web/api/publickeycredential/isuserverifyingplatformauthenticatoravailable_static/index.md
  files/en-us/web/api/pushmanager/supportedcontentencodings_static/index.md
  files/en-us/web/api/response/error_static/index.md
  files/en-us/web/api/response/json_static/index.md
  files/en-us/web/api/response/redirect_static/index.md
  files/en-us/web/api/rtcpeerconnection/generatecertificate_static/index.md
  files/en-us/web/api/rtcrtpreceiver/getcapabilities_static/index.md
  files/en-us/web/api/rtcrtpsender/getcapabilities_static/index.md
  files/en-us/web/api/url/createobjecturl_static/index.md
  files/en-us/web/api/url/revokeobjecturl_static/index.md
  files/en-us/web/api/videodecoder/isconfigsupported_static/index.md
  files/en-us/web/api/videoencoder/isconfigsupported_static/index.md
  files/en-us/web/api/xrwebgllayer/getnativeframebufferscalefactor_static/index.md
Labels: Content:WebAPI

#26775 Add `<(color|hue)-interpolation-method>`; de-duplicate `<hue>` descriptions
  files/en-us/web/css/color-interpolation-method/index.md
  files/en-us/web/css/color_value/color-mix/index.md
  files/en-us/web/css/color_value/color/index.md
  files/en-us/web/css/color_value/hsl/hue-wheel.png
  files/en-us/web/css/color_value/hsl/index.md
  files/en-us/web/css/color_value/hwb/index.md
  files/en-us/web/css/color_value/index.md
  files/en-us/web/css/color_value/lch/index.md
  files/en-us/web/css/color_value/oklch/index.md
  files/en-us/web/css/hue-interpolation-method/index.md
  files/en-us/web/css/hue-interpolation-method/longer_decreasing.png
  files/en-us/web/css/hue-interpolation-method/longer_increasing.png
  files/en-us/web/css/hue-interpolation-method/shorter_decreasing.png
  files/en-us/web/css/hue-interpolation-method/shorter_increasing.png
  files/en-us/web/css/hue/color_wheel.svg
  files/en-us/web/css/hue/hue-wheel.png
  files/en-us/web/css/hue/index.md
Labels: Content:CSS

#27152 Clarified how `min-width` and `max-width` override `width`
  files/en-us/web/css/width/index.md
Labels: Content:CSS

#27247 remove unnecessary browser compatibility
  files/en-us/web/css/_colon_-moz-drag-over/index.md
Labels: Content:CSS

#27271 Fix CSS example for the `of <selector>` syntax
  files/en-us/web/css/_colon_nth-child/index.md
Labels: Content:CSS

#27255 Fix element and attribute names misexchanged
  files/en-us/learn/html/multimedia_and_embedding/other_embedding_technologies/index.md
Labels: Content:Learn

#27125 typedarray#sort doesn't use string sorting
  files/en-us/web/javascript/reference/global_objects/typedarray/sort/index.md
Labels: Content:JS

#27277 Use lowercase for filenames
  files/en-us/web/css/font-variant-alternates/index.md
  files/en-us/web/css/font-variant-alternates/montecarlo-regular.woff2
  files/en-us/web/css/font-variant-alternates/ofl.txt
Labels: Content:CSS

#27267 FF115 Relnote: URL.canParse() supported
  files/en-us/mozilla/firefox/releases/115/index.md
Labels: Content:Other

#27286 fix: minor fix of Object section
  files/en-us/web/javascript/reference/global_objects/object/freeze/index.md
  files/en-us/web/javascript/reference/global_objects/object/getownpropertydescriptor/index.md
  files/en-us/web/javascript/reference/global_objects/object/getownpropertysymbols/index.md
Labels: Content:JS

#27019 Fix value of this
  files/en-us/web/javascript/reference/operators/this/index.md
Labels: Content:JS

#27211 Fix 27202: typo
  files/en-us/learn/accessibility/css_and_javascript/index.md
Labels: Content:Learn

#26993 Add a note on how navigation.navigate()'s url parameter is resolved.
  files/en-us/web/api/navigation/navigate/index.md
Labels: Content:WebAPI

#27262 http to https
  files/en-us/learn/getting_started_with_the_web/publishing_your_website/index.md
Labels: Content:Learn

#24057 Format /web/html using Prettier
  .prettierignore
  files/en-us/web/html/attributes/rel/index.md
  files/en-us/web/html/constraint_validation/index.md
  files/en-us/web/html/cors_enabled_image/index.md
  files/en-us/web/html/element/blockquote/index.md
  files/en-us/web/html/element/body/index.md
  files/en-us/web/html/element/button/index.md
  files/en-us/web/html/element/canvas/index.md
  files/en-us/web/html/element/dfn/index.md
  files/en-us/web/html/element/dialog/index.md
  files/en-us/web/html/element/figure/index.md
  files/en-us/web/html/element/footer/index.md
  files/en-us/web/html/element/form/index.md
  files/en-us/web/html/element/i/index.md
  files/en-us/web/html/element/iframe/index.md
  files/en-us/web/html/element/index.md
  files/en-us/web/html/element/input/button/index.md
  files/en-us/web/html/element/input/checkbox/index.md
  files/en-us/web/html/element/input/date/index.md
  files/en-us/web/html/element/input/datetime-local/index.md
  files/en-us/web/html/element/input/email/index.md
  files/en-us/web/html/element/input/file/index.md
  files/en-us/web/html/element/input/index.md
  files/en-us/web/html/element/input/month/index.md
  files/en-us/web/html/element/input/number/index.md
  files/en-us/web/html/element/input/password/index.md
  files/en-us/web/html/element/input/range/index.md
  files/en-us/web/html/element/input/tel/index.md
  files/en-us/web/html/element/input/time/index.md
  files/en-us/web/html/element/input/week/index.md
  files/en-us/web/html/element/kbd/index.md
  files/en-us/web/html/element/meter/index.md
  files/en-us/web/html/element/p/index.md
  files/en-us/web/html/element/progress/index.md
  files/en-us/web/html/element/q/index.md
  files/en-us/web/html/element/rb/index.md
  files/en-us/web/html/element/rp/index.md
  files/en-us/web/html/element/rt/index.md
  files/en-us/web/html/element/ruby/index.md
  files/en-us/web/html/element/select/index.md
  files/en-us/web/html/element/slot/index.md
  files/en-us/web/html/element/source/index.md
  files/en-us/web/html/element/sub/index.md
  files/en-us/web/html/element/template/index.md
  files/en-us/web/html/element/tt/index.md
  files/en-us/web/html/global_attributes/index.md
  files/en-us/web/html/global_attributes/itemprop/index.md
  files/en-us/web/html/global_attributes/itemscope/index.md
  files/en-us/web/html/global_attributes/itemtype/index.md
  files/en-us/web/html/global_attributes/tabindex/index.md
  files/en-us/web/html/global_attributes/title/index.md
  files/en-us/web/html/microformats/index.md
Labels: Content:HTML

#27049 Fix up examples for FileReader/readAsDataURL
  files/en-us/web/api/filereader/readasdataurl/index.md
Labels: Content:WebAPI

#27290 FF115Relnote: disable mozPreservesPitch alias
  files/en-us/mozilla/firefox/releases/115/index.md
Labels: Content:Other

#27293 Fix python code in `Insecure certificate`
  files/en-us/web/webdriver/errors/insecurecertificate/index.md
Labels: Content:WebDriver

#27296 Array#copyWithin start is not optional
  files/en-us/web/javascript/reference/global_objects/array/copywithin/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/copywithin/index.md
Labels: Content:JS

#24250 Updating content that storage is always partitioned
  files/en-us/web/api/document/requeststorageaccess/index.md
  files/en-us/web/privacy/state_partitioning/index.md
Labels: Content:WebAPI, Content:Other

#27305 Fix typo in index.md
  files/en-us/web/css/pseudo-classes/index.md
Labels: Content:CSS

#27306 Better explanation of font-variant-alternates versus font-feature-set…
  files/en-us/web/css/font-variant-alternates/index.md
Labels: Content:CSS

#27299 Add docs for VisibilityStateEntry
  files/en-us/web/api/performance_api/diagram.svg
  files/en-us/web/api/performance_api/index.md
  files/en-us/web/api/performance_api/performance_data/index.md
  files/en-us/web/api/performance_property/index.md
  files/en-us/web/api/performanceentry/duration/index.md
  files/en-us/web/api/performanceentry/entrytype/index.md
  files/en-us/web/api/performanceentry/index.md
  files/en-us/web/api/performanceentry/name/index.md
  files/en-us/web/api/performanceentry/starttime/index.md
  files/en-us/web/api/visibilitystateentry/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

#27076 Minor: Update: linear-gradient
  files/en-us/web/css/gradient/linear-gradient/index.md
Labels: Content:CSS, merge conflicts :construction:

#27334 [fix] `shift Tab` to previous element in menubar
  files/en-us/web/accessibility/aria/roles/menubar_role/index.md
Labels: Content:Accessibility

#27315 update term of "timing function"
  files/en-us/web/css/css_functions/index.md
Labels: Content:CSS

#27294 chore: add leading slash to internal hrefs in HTML tables
  .markdownlint-cli2.jsonc
  files/en-us/learn/html/multimedia_and_embedding/other_embedding_technologies/index.md
  files/en-us/learn/html/multimedia_and_embedding/responsive_images/index.md
  files/en-us/web/html/element/input/number/index.md
  files/en-us/web/html/element/input/password/index.md
  files/en-us/web/mathml/attribute/index.md
Labels: Content:HTML, Content:Learn, Content:MathML

#22982 webextensions csp: note about AMO remote csp policy
  files/en-us/mozilla/add-ons/webextensions/content_security_policy/index.md
Labels: Content:WebExt, Content:Other

#27308 Remove experimental badges
  files/en-us/web/javascript/reference/global_objects/arraybuffer/arraybuffer/index.md
  files/en-us/web/javascript/reference/global_objects/sharedarraybuffer/sharedarraybuffer/index.md
Labels: Content:JS

#25400 Added caption to multimedia & embedding images doc
  files/en-us/learn/html/multimedia_and_embedding/images_in_html/index.md
Labels: Content:Learn

#26964 Missing macros inserted
  files/en-us/learn/html/introduction_to_html/html_text_fundamentals/index.md
Labels: Content:Learn

#27343 Fix Typo: Change "internalization API" to "internationalization API"
  files/en-us/web/javascript/reference/global_objects/bigint/tolocalestring/index.md
  files/en-us/web/javascript/reference/global_objects/date/tolocaledatestring/index.md
  files/en-us/web/javascript/reference/global_objects/date/tolocalestring/index.md
  files/en-us/web/javascript/reference/global_objects/date/tolocaletimestring/index.md
  files/en-us/web/javascript/reference/global_objects/number/tolocalestring/index.md
Labels: Content:JS

#27338 Simplify language
  files/en-us/webassembly/rust_to_wasm/index.md
Labels: Content:wasm

#25399 Added caption for game development section
  files/en-us/games/introduction_to_html5_game_development/index.md
Labels: Content:Other

#27350 Getting started with React: Remove parenthesis from note
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/react_getting_started/index.md
Labels: Content:Learn

#27342 docs(html): delete HTMLMetaElement.charset prop, redirecting to meta's 'charset' attr
  files/en-us/_redirects.txt
  files/en-us/web/api/htmlmetaelement/charset/index.md
  files/en-us/web/html/attributes/index.md
Labels: Content:HTML, Content:WebAPI

#27280 fix(css): Titles in module landing pages should follow sentence casing
  files/en-us/web/css/css_grid_layout/index.md
  files/en-us/web/css/css_lists/index.md
  files/en-us/web/css/css_media_queries/index.md
  files/en-us/web/css/css_paged_media/index.md
  files/en-us/web/css/css_ruby_layout/index.md
Labels: Content:CSS

#27309 setUninstallURL to 1023
  files/en-us/mozilla/add-ons/webextensions/api/runtime/setuninstallurl/index.md
  files/en-us/mozilla/firefox/releases/116/index.md
Labels: Content:WebExt, Content:Other

#27289 FF115Relnote: Response: json() static method supported
  files/en-us/mozilla/firefox/releases/115/index.md
Labels: Content:Other

#27354 Add an example for Response.error()
  files/en-us/web/api/response/error_static/index.md
Labels: Content:WebAPI

#27269 Response json() static method improvements
  files/en-us/web/api/response/json_static/index.md
  files/en-us/web/api/response/response/index.md
Labels: Content:WebAPI

#27359 setUninstallURL to 1023 update
  files/en-us/mozilla/add-ons/webextensions/api/runtime/setuninstallurl/index.md
Labels: Content:WebExt, Content:Other

#27307 updated PWA glossary definition
  files/en-us/glossary/progressive_web_apps/index.md
Labels: Content:Glossary

#27362 fix(relnote): typo fix 'easer' -> 'easier'
  files/en-us/mozilla/firefox/releases/115/index.md
Labels: Content:Other

#27364 docs(learn): Add note that the snippet is only an excerpt of the 'other-semantics.html' file
  files/en-us/learn/html/introduction_to_html/advanced_text_formatting/index.md
Labels: Content:Learn

#27160 Maplike and Setlike objects in Map and Set
  files/en-us/web/api/audioparammap/index.md
  files/en-us/web/api/customstateset/index.md
  files/en-us/web/api/eventcounts/index.md
  files/en-us/web/api/fontfaceset/index.md
  files/en-us/web/api/gpusupportedfeatures/index.md
  files/en-us/web/api/highlight/index.md
  files/en-us/web/api/highlightregistry/index.md
  files/en-us/web/api/keyboardlayoutmap/index.md
  files/en-us/web/api/midiinputmap/index.md
  files/en-us/web/api/midioutputmap/index.md
  files/en-us/web/api/rtcstatsreport/index.md
  files/en-us/web/api/xranchorset/index.md
  files/en-us/web/javascript/reference/global_objects/map/index.md
  files/en-us/web/javascript/reference/global_objects/set/index.md
Labels: Content:WebAPI, Content:JS

#27310 Synchronize with BCD v5.2.64
  files/en-us/web/api/htmlbuttonelement/index.md
  files/en-us/web/api/htmlbuttonelement/popovertargetaction/index.md
  files/en-us/web/api/htmlbuttonelement/popovertargetelement/index.md
  files/en-us/web/api/htmlelement/hidepopover/index.md
  files/en-us/web/api/htmlelement/index.md
  files/en-us/web/api/htmlelement/popover/index.md
  files/en-us/web/api/htmlelement/showpopover/index.md
  files/en-us/web/api/htmlelement/togglepopover/index.md
  files/en-us/web/api/htmlinputelement/index.md
  files/en-us/web/api/htmlinputelement/popovertargetaction/index.md
  files/en-us/web/api/htmlinputelement/popovertargetelement/index.md
  files/en-us/web/api/notification/index.md
  files/en-us/web/api/notification/silent/index.md
  files/en-us/web/api/popover_api/index.md
  files/en-us/web/api/toggleevent/index.md
  files/en-us/web/api/toggleevent/newstate/index.md
  files/en-us/web/api/toggleevent/oldstate/index.md
  files/en-us/web/api/toggleevent/toggleevent/index.md
  files/en-us/web/javascript/reference/global_objects/intl/durationformat/durationformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/durationformat/format/index.md
  files/en-us/web/javascript/reference/global_objects/intl/durationformat/formattoparts/index.md
  files/en-us/web/javascript/reference/global_objects/intl/durationformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/durationformat/resolvedoptions/index.md
  files/en-us/web/javascript/reference/global_objects/intl/durationformat/supportedlocalesof/index.md
  files/en-us/web/javascript/reference/global_objects/intl/index.md
Labels: Content:WebAPI, Content:JS

#27369 Removed duplicated text
  files/en-us/web/api/analysernode/getbytetimedomaindata/index.md
Labels: Content:WebAPI

#26899 correct the description and make the context consistent
  files/en-us/web/api/subtlecrypto/wrapkey/index.md
Labels: Content:WebAPI

#26934 Outdate paragraph rewording
  files/en-us/webassembly/understanding_the_text_format/index.md
Labels: Content:wasm

#27105 Update deprecated page to be useful
  files/en-us/web/html/element/html/manifest/index.md
Labels: Content:HTML

#27378 Fix typo
  files/en-us/web/api/subtlecrypto/wrapkey/index.md
Labels: Content:WebAPI

#27063 update the links to GitHub Discussions
  files/en-us/mdn/community/communication_channels/index.md
  files/en-us/mdn/community/discussions/index.md
  files/en-us/mdn/community/issues/index.md
  files/en-us/mdn/writing_guidelines/what_we_write/index.md
Labels: Content:Other

#27385 Fix typos
  files/en-us/web/api/elementinternals/role/index.md
Labels: Content:WebAPI

#27380 Fix flaws in JS docs
  files/en-us/web/javascript/guide/control_flow_and_error_handling/index.md
  files/en-us/web/javascript/guide/modules/index.md
  files/en-us/web/javascript/reference/classes/public_class_fields/index.md
  files/en-us/web/javascript/reference/classes/static/index.md
  files/en-us/web/javascript/reference/classes/static_initialization_blocks/index.md
  files/en-us/web/javascript/reference/errors/label_not_found/index.md
  files/en-us/web/javascript/reference/global_objects/array/index.md
  files/en-us/web/javascript/reference/global_objects/asyncgenerator/index.md
  files/en-us/web/javascript/reference/global_objects/asyncgenerator/return/index.md
  files/en-us/web/javascript/reference/global_objects/error/index.md
  files/en-us/web/javascript/reference/global_objects/generator/index.md
  files/en-us/web/javascript/reference/global_objects/generator/return/index.md
  files/en-us/web/javascript/reference/global_objects/intl/durationformat/durationformat/index.md
  files/en-us/web/javascript/reference/global_objects/set/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/with/index.md
  files/en-us/web/javascript/reference/regular_expressions/non-capturing_group/index.md
  files/en-us/web/javascript/reference/regular_expressions/quantifier/index.md
Labels: Content:JS

#27384 Fix typo
  files/en-us/learn/css/building_blocks/cascade_layers/index.md
Labels: Content:Learn

#27297 Rework throw statement description and examples
  files/en-us/web/javascript/reference/statements/return/index.md
  files/en-us/web/javascript/reference/statements/throw/index.md
Labels: Content:JS

#27366 Update index.md
  files/en-us/web/api/element/innerhtml/index.md
Labels: Content:WebAPI

#22970 docs: add `Response.json` static method
  files/en-us/web/api/response/index.md
Labels: Content:WebAPI

#27393 thinking_before_coding: A more romantic-neutral example!
  files/en-us/learn/common_questions/design_and_accessibility/thinking_before_coding/index.md
Labels: Content:Learn

#27376 Update Additional Links
  files/en-us/learn/index.md
Labels: Content:Learn

#27394 CSS @import supports-condition is experimental
  files/en-us/web/css/@import/index.md
Labels: Content:CSS

#27395 Web forms: Marks inputs that are required as required
  files/en-us/learn/forms/how_to_structure_a_web_form/index.md
Labels: Content:Learn

#26779 Update Baseline glossary entry
  files/en-us/glossary/baseline/compatibility/index.md
Labels: Content:Glossary

#27382 Add example of how to store objects in web storage
  files/en-us/web/api/storage/setitem/index.md
  files/en-us/web/api/web_storage_api/using_the_web_storage_api/index.md
Labels: Content:WebAPI

#27371 Point out behavior of documents.fonts.ready promise
  files/en-us/web/api/document/fonts/index.md
Labels: Content:WebAPI

#27386 Use better param name
  files/en-us/web/api/gamepad_api/using_the_gamepad_api/index.md
Labels: Content:WebAPI

#27161 WebRTC Stats: capture what stats might be in sender and receiver
  files/en-us/web/api/rtcrtpreceiver/getstats/index.md
  files/en-us/web/api/rtcrtpsender/getstats/index.md
Labels: Content:WebAPI

#27363 Added redirect information for HEADERS_RECEIVED state
  files/en-us/web/api/xmlhttprequest/readystate/index.md
Labels: Content:WebAPI

#27133 Replace `createTreeWalker()` examples
  files/en-us/web/api/document/createtreewalker/index.md
Labels: Content:WebAPI

#27409 fix a typo
  files/en-us/web/html/element/input/index.md
Labels: Content:HTML

#27416 Move implementing abortable example to a more relevant place
  files/en-us/web/api/abortsignal/index.md
  files/en-us/web/api/abortsignal/throwifaborted/index.md
Labels: Content:WebAPI

#27415 PermissionDeniedError not exist. "NotAllowedError" is the error name
  files/en-us/web/api/mediadevices/index.md
Labels: Content:WebAPI

#27410 Fix some broken HTML
  files/en-us/web/html/element/input/email/index.md
Labels: Content:HTML

#27400 Fix a typo in `devtools.network.onRequestFinished` docs
  files/en-us/mozilla/add-ons/webextensions/api/devtools/network/index.md
Labels: Content:WebExt, Content:Other

#27426 Add The Odin Project
  files/en-us/learn/index.md
Labels: Content:Learn

#27397 Fix a typo
  files/en-us/learn/html/multimedia_and_embedding/images_in_html/index.md
  files/en-us/web/api/document/requeststorageaccess/index.md
Labels: Content:WebAPI, Content:Learn

#27432 Typo in bug number FF114 release notes
  files/en-us/mozilla/firefox/releases/114/index.md
Labels: Content:Other

#27422 Fix typo in article on 'header' element
  files/en-us/web/html/element/header/index.md
Labels: Content:HTML

#21875 Update contenteditable to define plaintext-only state
  files/en-us/web/api/htmlelement/contenteditable/index.md
  files/en-us/web/html/global_attributes/contenteditable/index.md
Labels: Content:HTML, Content:WebAPI, on hold

#26991 Add some notes about FinalizationRegistry semantics
  files/en-us/web/javascript/reference/global_objects/finalizationregistry/index.md
  files/en-us/web/javascript/reference/global_objects/weakref/index.md
Labels: Content:JS

#27383 Better describe transform matrix components
  files/en-us/web/api/canvasrenderingcontext2d/resettransform/index.md
  files/en-us/web/api/canvasrenderingcontext2d/settransform/index.md
  files/en-us/web/api/canvasrenderingcontext2d/transform/index.md
Labels: Content:WebAPI

#27411 Fix the parent of children
  files/en-us/web/api/documentfragment/childelementcount/index.md
Labels: Content:WebAPI
