Repository mdn/content, pull requests merged in 2024-06, with the labels that each got.

#33867 chore: remove a self-referenced link
  files/en-us/glossary/fps/index.md
Labels: Content:Glossary, size/xs

#33873 Fix(SVG): Remove dead link
  files/en-us/web/svg/index.md
Labels: Content:SVG, size/xs

#33876 fix typo
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/get/index.md
Labels: Content:WebExt, size/xs

#33172 feat: Editorial review: Attribution reporting API
  files/en-us/web/api/attribution_reporting_api/ara-flow.drawio
  files/en-us/web/api/attribution_reporting_api/ara-flow.png
  files/en-us/web/api/attribution_reporting_api/generating_reports/index.md
  files/en-us/web/api/attribution_reporting_api/index.md
  files/en-us/web/api/attribution_reporting_api/registering_sources/index.md
  files/en-us/web/api/attribution_reporting_api/registering_triggers/index.md
  files/en-us/web/api/fetch/index.md
  files/en-us/web/api/htmlanchorelement/attributionsrc/index.md
  files/en-us/web/api/htmlanchorelement/index.md
  files/en-us/web/api/htmlimageelement/attributionsrc/index.md
  files/en-us/web/api/htmlimageelement/index.md
  files/en-us/web/api/htmlscriptelement/attributionsrc/index.md
  files/en-us/web/api/htmlscriptelement/index.md
  files/en-us/web/api/request/request/index.md
  files/en-us/web/api/window/open/index.md
  files/en-us/web/api/xmlhttprequest/index.md
  files/en-us/web/api/xmlhttprequest/setattributionreporting/index.md
  files/en-us/web/html/element/a/index.md
  files/en-us/web/html/element/img/index.md
  files/en-us/web/html/element/script/index.md
  files/en-us/web/http/headers/attribution-reporting-eligible/index.md
  files/en-us/web/http/headers/attribution-reporting-register-source/index.md
  files/en-us/web/http/headers/attribution-reporting-register-trigger/index.md
  files/en-us/web/http/headers/index.md
  files/en-us/web/http/headers/permissions-policy/attribution-reporting/index.md
  files/en-us/web/http/headers/permissions-policy/index.md
  files/en-us/web/privacy/privacy_sandbox/enrollment/index.md
  files/en-us/web/privacy/privacy_sandbox/index.md
  files/jsondata/GroupData.json
Labels: Content:HTML, Content:WebAPI, Content:Other, Content:HTTP, size/xl

#33871 style: update to BroadCast Channel API
  files/en-us/web/api/broadcast_channel_api/index.md
  files/en-us/web/api/broadcastchannel/close/index.md
  files/en-us/web/api/broadcastchannel/index.md
  files/en-us/web/api/broadcastchannel/message_event/index.md
  files/en-us/web/api/broadcastchannel/messageerror_event/index.md
  files/en-us/web/api/broadcastchannel/name/index.md
  files/en-us/web/api/broadcastchannel/postmessage/index.md
Labels: Content:WebAPI, size/s

#33652 Reference for stage-3 float16array
  files/en-us/web/javascript/guide/typed_arrays/index.md
  files/en-us/web/javascript/reference/global_objects/dataview/getfloat16/index.md
  files/en-us/web/javascript/reference/global_objects/dataview/index.md
  files/en-us/web/javascript/reference/global_objects/dataview/setfloat16/index.md
  files/en-us/web/javascript/reference/global_objects/float16array/float16array/index.md
  files/en-us/web/javascript/reference/global_objects/float16array/index.md
  files/en-us/web/javascript/reference/global_objects/index.md
  files/en-us/web/javascript/reference/global_objects/math/f16round/index.md
  files/en-us/web/javascript/reference/global_objects/math/fround/index.md
  files/en-us/web/javascript/reference/global_objects/math/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/bytes_per_element/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/from/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/includes/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/of/index.md
  files/en-us/web/javascript/reference/index.md
Labels: Content:JS, size/m

#33875 Synchronize with BCD v5.5.31
  files/en-us/web/api/clipboarditem/index.md
  files/en-us/web/api/clipboarditem/supports_static/index.md
Labels: Content:WebAPI, size/s

#33888 Fix(contain-intrinsic-size): Fix typo
  files/en-us/web/css/contain-intrinsic-size/index.md
Labels: Content:CSS, size/xs

#33861 CSS: add link
  files/en-us/web/css/inset/index.md
Labels: Content:CSS, size/xs

#33883 Fix(applying_styles_and_colors):Fix typo
  files/en-us/web/api/canvas_api/tutorial/applying_styles_and_colors/index.md
Labels: Content:WebAPI, size/xs

#33869 chore: use the cssxref macro calls instead of the html links
  files/en-us/web/mathml/element/mstyle/index.md
Labels: Content:MathML, size/s

#33619 Fix globals, part 10: `atob()` and `btoa()`
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/glossary/base64/index.md
  files/en-us/mozilla/firefox/releases/27/index.md
  files/en-us/web/api/serviceworkerglobalscope/pushsubscriptionchange_event/index.md
  files/en-us/web/api/subtlecrypto/importkey/index.md
  files/en-us/web/api/web_workers_api/functions_and_classes_available_to_workers/index.md
  files/en-us/web/api/web_workers_api/index.md
  files/en-us/web/api/window/atob/index.md
  files/en-us/web/api/window/btoa/index.md
  files/en-us/web/api/window/index.md
  files/en-us/web/api/workerglobalscope/atob/index.md
  files/en-us/web/api/workerglobalscope/btoa/index.md
  files/en-us/web/api/workerglobalscope/index.md
  files/en-us/web/css/@media/prefers-color-scheme/index.md
  files/en-us/web/http/basics_of_http/data_urls/index.md
Labels: Content:CSS, Content:WebAPI, Content:HTTP, Content:Glossary, Content:Firefox, size/m

#33897 Fix typo in CSP reporting section
  files/en-us/web/http/csp/index.md
Labels: Content:HTTP, size/xs

#33899 Fix typo
  files/en-us/web/api/namednodemap/removenameditemns/index.md
Labels: Content:WebAPI, size/xs

#33900 Move content-visibility to Firefox 125 release notes
  files/en-us/mozilla/firefox/releases/124/index.md
  files/en-us/mozilla/firefox/releases/125/index.md
Labels: Content:Firefox, size/xs

#33902 fix: typos
  files/en-us/web/api/attribution_reporting_api/generating_reports/index.md
  files/en-us/web/api/htmlscriptelement/attributionsrc/index.md
Labels: Content:WebAPI, size/xs

#33594 Add additional values for `rectangular-color-space`
  files/en-us/web/css/color-interpolation-method/index.md
Labels: Content:CSS, size/xs

#33614 fix mistakes about @import supports() syntax
  files/en-us/web/css/@import/index.md
Labels: Content:CSS, size/s

#33907 Update css guide
  files/en-us/web/css/css_logical_properties_and_values/floating_and_positioning/index.md
Labels: Content:CSS, size/s

#33906 Minor: Guide update
  files/en-us/web/css/css_logical_properties_and_values/margins_borders_padding/index.md
Labels: Content:CSS, size/m

#33905 update CSS guide
  files/en-us/web/css/css_logical_properties_and_values/sizing/index.md
Labels: Content:CSS, size/xs

#33904 update css to 2024
  files/en-us/web/css/css_logical_properties_and_values/basic_concepts_of_logical_properties_and_values/index.md
Labels: Content:CSS, size/s

#33882 fix: string slice description implies string mutability
  files/en-us/web/javascript/reference/global_objects/string/concat/index.md
  files/en-us/web/javascript/reference/global_objects/string/slice/index.md
  files/en-us/web/javascript/reference/global_objects/string/substring/index.md
Labels: Content:JS, size/s

#33708 Proxy DNS SOCKS defaults
  files/en-us/mozilla/add-ons/webextensions/api/proxy/settings/index.md
  files/en-us/mozilla/firefox/releases/128/index.md
Labels: Content:WebExt, Content:Firefox, size/xs

#33877 update: Korean Discussions and Current maintainers info
  files/en-us/mdn/community/contributing/translated_content/index.md
Labels: Content:Meta, size/xs

#33728 Add support for lh/rlh in SVG to Firefox 127 release notes
  files/en-us/mozilla/firefox/releases/127/index.md
Labels: Content:Firefox, size/xs

#33745 Add a guide page on credential types
  files/en-us/web/api/credential_management_api/credential_types/credential-types.svg
  files/en-us/web/api/credential_management_api/credential_types/fed-cm-get.svg
  files/en-us/web/api/credential_management_api/credential_types/index.md
  files/en-us/web/api/credential_management_api/credential_types/otp-get.svg
  files/en-us/web/api/credential_management_api/credential_types/password-create.svg
  files/en-us/web/api/credential_management_api/credential_types/password-get.svg
  files/en-us/web/api/credential_management_api/credential_types/webauth-create.svg
  files/en-us/web/api/credential_management_api/credential_types/webauth-get.svg
  files/en-us/web/api/credential_management_api/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, size/m

#33889 fix: resolve issues with content representation
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/onclicked/index.md
Labels: Content:WebExt, size/xs

#33903 caption-side values
  files/en-us/web/css/caption-side/index.md
Labels: Content:CSS, size/s

#33892 Mentioned that other data types can be used to index objects
  files/en-us/web/javascript/data_structures/index.md
Labels: Content:JS, size/xs

#33627 Add result example to if...else statement docs
  files/en-us/webassembly/reference/control_flow/if...else/index.md
Labels: Content:wasm, size/s

#33931 32698 accessible name (not description)
  files/en-us/web/html/element/figure/index.md
Labels: Content:HTML, size/xs

#33932 remove the deprecated `manifest` HTML attribute
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/html/attributes/index.md
  files/en-us/web/html/element/html/index.md
  files/en-us/web/html/element/html/manifest/index.md
Labels: Content:HTML, size/m

#33930 33559 remove non-events
  files/en-us/web/html/element/body/index.md
Labels: Content:HTML, size/xs

#33915 remove 404 link
  files/en-us/glossary/render_blocking/index.md
Labels: Content:Glossary, size/xs

#33858 update glossary term: flex
  files/en-us/glossary/flex/index.md
Labels: Content:Glossary, size/s

#33898 Add disclaimer for customized built-ins support
  files/en-us/web/api/web_components/using_custom_elements/index.md
Labels: Content:WebAPI, size/xs

#33919 33879: add missing image
  files/en-us/web/api/canvasrenderingcontext2d/linejoin/canvas_linejoin.png
Labels: Content:WebAPI, size/xs

#33912 Add toJSON to Geolocation objects
  files/en-us/web/api/geolocationcoordinates/index.md
  files/en-us/web/api/geolocationcoordinates/tojson/index.md
  files/en-us/web/api/geolocationposition/index.md
  files/en-us/web/api/geolocationposition/tojson/index.md
Labels: Content:WebAPI, size/m

#33911 `setTimeout` callback always has `window` as `this` even in strict mode
  files/en-us/web/api/settimeout/index.md
Labels: Content:WebAPI, size/xs

#33901 CSS module: logical props
  files/en-us/glossary/flow_relative_values/index.md
  files/en-us/learn/css/building_blocks/backgrounds_and_borders/index.md
  files/en-us/web/css/css_logical_properties_and_values/index.md
  files/en-us/web/css/css_values_and_units/index.md
  files/en-us/web/css/length/index.md
Labels: Content:CSS, Content:Glossary, Content:Learn:CSS, size/m

#33923 remove 5 from HTML5
  files/en-us/web/html/content_categories/index.md
Labels: Content:HTML, size/s

#33922 Remove image map resources
  files/en-us/learn/html/howto/add_a_hit_map_on_top_of_an_image/index.md
Labels: Content:Learn:HTML, size/xs

#33921 33853 update date input type
  files/en-us/web/html/element/input/date/index.md
Labels: Content:HTML, size/m

#33917 33894 code block language change
  files/en-us/web/api/cdatasection/index.md
Labels: Content:WebAPI, size/xs

#29278 update getPackageDirectoryEntry docs
  files/en-us/mozilla/add-ons/webextensions/api/runtime/getpackagedirectoryentry/index.md
Labels: Content:WebExt, awaiting response, size/s

#33939 Use svg.elements.text.textLength for textLength compat data
  files/en-us/web/svg/attribute/textlength/index.md
Labels: Content:SVG, size/xs

#32398 getYear deprecation
  files/en-us/learn/javascript/objects/object_prototypes/index.md
Labels: Content:Learn:JavaScript, size/s

#33938 fix: prevent text from being rendered as a link
  files/en-us/mozilla/add-ons/webextensions/api/browsingdata/removaloptions/index.md
Labels: Content:WebExt, size/xs

#33937 Use standard description format
  files/en-us/web/api/document/documentelement/index.md
Labels: Content:WebAPI, size/xs

#33943 Make references to epoch consistent
  files/en-us/web/javascript/reference/global_objects/date/index.md
Labels: Content:JS, size/s

#33409 Remove allow-downloads-without-user-activation sandbox value
  files/en-us/web/html/element/iframe/index.md
  files/en-us/web/http/headers/content-security-policy/sandbox/index.md
Labels: Content:HTML, Content:HTTP, size/xs

#33924 time input: remove fallbacks
  files/en-us/web/html/element/input/time/index.md
Labels: Content:HTML, size/m

#33916 33895 button accessibility
  files/en-us/web/html/element/button/index.md
Labels: Content:HTML, size/s

#33918 33886 Attribute selector
  files/en-us/web/css/attribute_selectors/index.md
Labels: Content:CSS, size/s

#33934 Update Firefox 127 release notes for WebDriver conforming changes
  files/en-us/mozilla/firefox/releases/126/index.md
  files/en-us/mozilla/firefox/releases/127/index.md
Labels: Content:Firefox, size/s

#33925 33695 radio button constraint validation
  files/en-us/web/html/element/input/radio/index.md
Labels: Content:HTML, size/xs

#33936 fix: replace the link to the harmful website
  files/en-us/learn/performance/multimedia/index.md
Labels: Content:Learn, size/xs

#33944 Clarify family-name syntax
  files/en-us/web/css/font-family/index.md
Labels: Content:CSS, size/m

#33953 Elaborate on recommendation of hyphenated file paths
  files/en-us/learn/getting_started_with_the_web/dealing_with_files/index.md
Labels: Content:Learn, size/s

#33950 Remove proxyinfo connectionIsolationKey https comment
  files/en-us/mozilla/add-ons/webextensions/api/proxy/proxyinfo/index.md
Labels: Content:WebExt, size/xs

#33959 Change condition of WASM if...else to non-zero
  files/en-us/webassembly/reference/control_flow/if...else/index.md
Labels: Content:wasm, size/xs

#33432 feat: improvements on glossary brotli_compression
  files/en-us/glossary/brotli_compression/index.md
Labels: Content:Glossary, size/xs

#33044 Update {{AvailableInWorkers}} macros usage for Service Worker API - part I
  files/en-us/web/api/navigationpreloadmanager/disable/index.md
  files/en-us/web/api/navigationpreloadmanager/enable/index.md
  files/en-us/web/api/navigationpreloadmanager/getstate/index.md
  files/en-us/web/api/navigationpreloadmanager/index.md
  files/en-us/web/api/navigationpreloadmanager/setheadervalue/index.md
  files/en-us/web/api/service_worker_api/index.md
  files/en-us/web/api/serviceworker/error_event/index.md
  files/en-us/web/api/serviceworker/index.md
  files/en-us/web/api/serviceworker/postmessage/index.md
  files/en-us/web/api/serviceworker/scripturl/index.md
  files/en-us/web/api/serviceworker/state/index.md
  files/en-us/web/api/serviceworker/statechange_event/index.md
  files/en-us/web/api/serviceworkercontainer/controller/index.md
  files/en-us/web/api/serviceworkercontainer/controllerchange_event/index.md
  files/en-us/web/api/serviceworkercontainer/error_event/index.md
  files/en-us/web/api/serviceworkercontainer/getregistration/index.md
  files/en-us/web/api/serviceworkercontainer/getregistrations/index.md
  files/en-us/web/api/serviceworkercontainer/index.md
  files/en-us/web/api/serviceworkercontainer/message_event/index.md
  files/en-us/web/api/serviceworkercontainer/messageerror_event/index.md
  files/en-us/web/api/serviceworkercontainer/ready/index.md
  files/en-us/web/api/serviceworkercontainer/register/index.md
  files/en-us/web/api/serviceworkercontainer/startmessages/index.md
  files/en-us/web/api/workernavigator/serviceworker/index.md
Labels: Content:WebAPI, size/m

#33970 Update index.md - wrong word
  files/en-us/web/api/htmlprogresselement/position/index.md
Labels: Content:WebAPI, size/xs

#33967 Update non-dead link on resize event page
  files/en-us/web/api/window/resize_event/index.md
Labels: Content:WebAPI, size/xs

#33928 33238: step is not always 1
  files/en-us/web/html/attributes/step/index.md
Labels: Content:HTML, size/s

#33960 Use DataView to access WebAssembly memory
  files/en-us/web/javascript/reference/global_objects/dataview/index.md
  files/en-us/webassembly/javascript_interface/memory/buffer/index.md
  files/en-us/webassembly/javascript_interface/memory/index.md
  files/en-us/webassembly/javascript_interface/memory/memory/index.md
  files/en-us/webassembly/loading_and_running/index.md
  files/en-us/webassembly/using_the_javascript_api/index.md
Labels: Content:JS, Content:wasm, size/s

#33407 feat: improvements on glossary Color Space
  files/en-us/glossary/color_space/index.md
Labels: Content:Glossary, size/s

#33978 APIRef should be used without ()
  files/en-us/web/api/document/designmode/index.md
  files/en-us/web/api/htmldialogelement/close_event/index.md
  files/en-us/web/api/navigator/getinstalledrelatedapps/index.md
  files/en-us/web/api/ndefreadingevent/message/index.md
  files/en-us/web/api/ndefreadingevent/ndefreadingevent/index.md
  files/en-us/web/api/ndefreadingevent/serialnumber/index.md
  files/en-us/web/api/window/captureevents/index.md
  files/en-us/web/api/window/dump/index.md
  files/en-us/web/api/window/getselection/index.md
  files/en-us/web/api/window/length/index.md
  files/en-us/web/api/window/menubar/index.md
  files/en-us/web/api/window/print/index.md
  files/en-us/web/api/window/scrollbars/index.md
  files/en-us/web/api/window/scrollby/index.md
  files/en-us/web/api/window/scrollbylines/index.md
  files/en-us/web/api/window/scrollbypages/index.md
  files/en-us/web/api/window/speechsynthesis/index.md
Labels: Content:WebAPI, size/s

#33977 fix: improve typesettings
  files/en-us/learn/tools_and_testing/cross_browser_testing/javascript/index.md
Labels: Content:Learn:Cross-Browser-Testing, size/s

#33841 Enable activeTab permission for tabs.captureVisibleTab
  files/en-us/mozilla/add-ons/webextensions/api/tabs/capturevisibletab/index.md
  files/en-us/mozilla/firefox/releases/126/index.md
Labels: Content:WebExt, Content:Firefox, size/s

#33966 fix: wrong desc of cookie secure property
  files/en-us/web/api/cookiechangeevent/changed/index.md
  files/en-us/web/api/cookiechangeevent/deleted/index.md
  files/en-us/web/api/extendablecookiechangeevent/changed/index.md
  files/en-us/web/api/extendablecookiechangeevent/deleted/index.md
Labels: Content:WebAPI, size/s

#34011 Update misspelled word in en-US version of this page. #34005
  files/en-us/web/api/htmlelement/autofocus/index.md
Labels: Content:WebAPI, size/xs

#34014 'data Ls' -> 'data URLs'
  files/en-us/mozilla/firefox/releases/6/updating_add-ons/index.md
  files/en-us/web/svg/svg_as_an_image/index.md
Labels: Content:SVG, Content:Firefox, size/xs

#34015 tool(husky): move all lintstaged config to .lintstagedrc.js
  .lintstagedrc.js
  .lintstagedrc.json
Labels: system, size/s

#33975 Glossary: Character reference and link Entity
  files/en-us/glossary/character_reference/index.md
  files/en-us/glossary/entity/index.md
Labels: Content:Glossary, size/m

#34023 fix: correct the keyword `null`
  files/en-us/web/api/stylesheet/href/index.md
Labels: Content:WebAPI, size/xs

#30308 Clarifies scope broadening, fixing #30306
  files/en-us/web/api/serviceworkercontainer/register/index.md
Labels: Content:WebAPI, size/m

#30923 docs: update is trusted
  files/en-us/web/api/event/istrusted/index.md
Labels: Content:WebAPI, size/s

#32498 RTCDataChannelStats - add docs
  files/en-us/web/api/rtcdatachannelstats/bytesreceived/index.md
  files/en-us/web/api/rtcdatachannelstats/bytessent/index.md
  files/en-us/web/api/rtcdatachannelstats/datachannelidentifier/index.md
  files/en-us/web/api/rtcdatachannelstats/id/index.md
  files/en-us/web/api/rtcdatachannelstats/index.md
  files/en-us/web/api/rtcdatachannelstats/label/index.md
  files/en-us/web/api/rtcdatachannelstats/messagesreceived/index.md
  files/en-us/web/api/rtcdatachannelstats/messagessent/index.md
  files/en-us/web/api/rtcdatachannelstats/protocol/index.md
  files/en-us/web/api/rtcdatachannelstats/state/index.md
  files/en-us/web/api/rtcdatachannelstats/timestamp/index.md
  files/en-us/web/api/rtcdatachannelstats/type/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, size/m

#34020 Add hyperlink to CORS
  files/en-us/web/performance/index.md
Labels: Content:Performance, size/xs

#33347 Using promises: add Cancellation section (and link to AbortController)
  files/en-us/web/javascript/guide/using_promises/index.md
Labels: Content:JS, size/xs

#33346 promise: see also AbortController
  files/en-us/web/javascript/reference/global_objects/promise/index.md
Labels: Content:JS, size/xs

#33752 fix: remove a self-ref link
  files/en-us/glossary/graceful_degradation/index.md
Labels: Content:Glossary, size/xs

#33447 Fix container dimensions
  files/en-us/web/api/canvas_api/tutorial/drawing_shapes/index.md
Labels: Content:WebAPI, size/s

#33987 fix: remove Edge bug tracker URL
  files/en-us/learn/tools_and_testing/cross_browser_testing/introduction/index.md
Labels: Content:Learn:Cross-Browser-Testing, size/xs

#33492 Add initial content for setHTMLUnsafe and parseHTMLUnsafe
  files/en-us/web/api/document/index.md
  files/en-us/web/api/document/parsehtmlunsafe_static/index.md
  files/en-us/web/api/domparser/parsefromstring/index.md
  files/en-us/web/api/element/index.md
  files/en-us/web/api/element/sethtmlunsafe/index.md
  files/en-us/web/api/shadowroot/index.md
  files/en-us/web/api/shadowroot/sethtmlunsafe/index.md
Labels: Content:WebAPI, size/m

#32260 Native manifest file naming clarification
  files/en-us/mozilla/add-ons/webextensions/native_manifests/index.md
Labels: Content:WebExt, size/m

#34030 Delete Web/Demos page
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/css/index.md
  files/en-us/web/demos/index.md
Labels: Content:CSS, Content:Other, size/m

#34028 Django - fix typo
  files/en-us/learn/server-side/django/models/index.md
Labels: Content:Learn:Django, size/xs

#34029 Express- generated project dependency updates
  files/en-us/learn/server-side/express_nodejs/skeleton_website/index.md
Labels: Content:Learn:Express, size/m

#33060 Mention that setPointerCapture() loses track of the element after movements
  files/en-us/web/api/element/setpointercapture/index.md
Labels: Content:WebAPI, size/xs

#32683 Clearer example for `MouseEvent#buttons`
  files/en-us/web/api/mouseevent/buttons/index.md
Labels: Content:WebAPI, size/s

#32963 Change module in example code to mod_mime
  files/en-us/learn/server-side/apache_configuration_htaccess/index.md
Labels: Content:Learn, size/xs

#33496 the blocking attribute is no longer valid on preload link elements
  files/en-us/web/api/performanceresourcetiming/renderblockingstatus/index.md
Labels: Content:WebAPI, size/s

#33336 Improve and unify formatting, add "See also" section to "origin"-related documents
  files/en-us/web/api/location/origin/index.md
  files/en-us/web/api/url/origin/index.md
  files/en-us/web/api/window/origin/index.md
  files/en-us/web/api/workerglobalscope/origin/index.md
Labels: Content:WebAPI, size/m

#33242 add 'pixels' units for mouseevent coordinates
  files/en-us/web/api/mouseevent/clientx/index.md
  files/en-us/web/api/mouseevent/clienty/index.md
  files/en-us/web/api/mouseevent/offsetx/index.md
  files/en-us/web/api/mouseevent/offsety/index.md
  files/en-us/web/api/mouseevent/pagex/index.md
  files/en-us/web/api/mouseevent/pagey/index.md
  files/en-us/web/api/mouseevent/screenx/index.md
  files/en-us/web/api/mouseevent/screeny/index.md
Labels: Content:WebAPI, size/s

#33946 feat: add 'packageManager' field for Corepack users
  package.json
Labels: system, size/xs

#34033 #34006 fix: clarify arrow function brace requirements in documentation
  files/en-us/web/javascript/reference/functions/arrow_functions/index.md
Labels: Content:JS, size/xs

#33669 Remove CompositionStart shortcut
  files/en-us/web/api/element/compositionstart_event/index.md
Labels: Content:WebAPI, size/s

#34009 docs: make `flex` context clearer (here: value)
  files/en-us/glossary/flex/index.md
Labels: Content:Glossary, size/xs

#33740 Add transient-pointer targetRayMode
  files/en-us/web/api/xrinputsource/targetraymode/index.md
Labels: Content:WebAPI, size/xs

#34037 docs(Fx127): color interpolation methods are supported in gradient functions
  files/en-us/mozilla/firefox/releases/127/index.md
Labels: Content:Firefox, size/xs

#34039 complete punctuation for consitency
  files/en-us/learn/tools_and_testing/cross_browser_testing/accessibility/index.md
Labels: Content:Learn:Cross-Browser-Testing, size/xs

#34038 fix an internal link
  files/en-us/learn/tools_and_testing/cross_browser_testing/javascript/index.md
Labels: Content:Learn:Cross-Browser-Testing, size/xs

#34002 Fix broken link
  files/en-us/learn/server-side/express_nodejs/introduction/index.md
Labels: Content:Learn:Express, size/xs

#33998 fix: add nested layers live demo to cascade layers page
  files/en-us/learn/css/building_blocks/cascade_layers/index.md
Labels: Content:Learn:CSS, size/m

#33908 FF127 Relnote: HTML Entities supported in WebVTT
  files/en-us/mozilla/firefox/releases/127/index.md
Labels: Content:Firefox, size/xs

#33784 FF127 Relnote - mixed content requests auto upgraded to secure
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/127/index.md
Labels: Content:Firefox, size/s

#34040 fix typos
  files/en-us/glossary/flex/index.md
  files/en-us/web/api/attribution_reporting_api/registering_triggers/index.md
  files/en-us/web/api/credential_management_api/credential_types/index.md
  files/en-us/web/css/attribute_selectors/index.md
Labels: Content:CSS, Content:WebAPI, Content:Glossary, size/s

#33933 33426 don't animate box model properties
  files/en-us/web/css/css_animations/using_css_animations/index.md
Labels: Content:CSS, size/m

#33679 added the experimental release note of @starting-style
  files/en-us/mozilla/firefox/experimental_features/index.md
Labels: Content:Firefox, size/s

#34044 Update cssnano website's link
  files/en-us/learn/css/building_blocks/organizing/index.md
Labels: Content:Learn:CSS, size/xs

#33634 Add Intl.DateTimeFormat.resolvedOptions dateStyle, timeStyle
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/datetimeformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/resolvedoptions/index.md
Labels: Content:JS, size/m

#34051 fix(api): update RTCPeerConnection#createOffer() intro
  files/en-us/web/api/rtcpeerconnection/createoffer/index.md
Labels: Content:WebAPI, size/xs

#34049 FF127Relnote WebGL2RenderingContext/WebGLRenderingContext.drawingBuff…
  files/en-us/mozilla/firefox/releases/127/index.md
Labels: Content:Firefox, size/xs

#33997 chore: minor refresh on Learning and getting help page
  files/en-us/learn/learning_and_getting_help/index.md
Labels: Content:Learn, size/s

#33830 #33821 "change date-in-GMTString-format" to "date-in-UTCString-format"
  files/en-us/web/api/document/cookie/index.md
Labels: Content:WebAPI, size/xs

#33926 #33693 Details: add name example
  files/en-us/web/html/element/details/index.md
Labels: Content:HTML, size/s

#33834 33590 alt text for content
  files/en-us/web/css/content/index.md
Labels: Content:CSS, size/xs

#34036 33549 text wrap style values
  files/en-us/web/css/text-wrap-style/index.md
Labels: Content:CSS, size/s

#34060 fix: crop typo out of screenshot
  files/en-us/learn/javascript/client-side_web_apis/manipulating_documents/shopping-list.png
Labels: Content:Learn:JavaScript, size/xs, screenshot

#34017 Rewrite understanding client-side tools section
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/command_line/index.md
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/deployment/build-action-pass.png
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/deployment/index.md
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/deployment/netlify-deploy.png
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/deployment/netlify-dist.png
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/index.md
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/introducing_complete_toolchain/eslint-error.png
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/introducing_complete_toolchain/github-repo.png
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/introducing_complete_toolchain/github-will-it-miss.png
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/introducing_complete_toolchain/index.md
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/introducing_complete_toolchain/vscode-git.png
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/introducing_complete_toolchain/will-it-miss-screenshot.png
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/overview/index.md
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/package_management/index.md
Labels: Content:Learn:Client-side, size/xl

#34053 added the experimental release note for relative color syntax in firefox
  files/en-us/mozilla/firefox/experimental_features/index.md
Labels: Content:Firefox, size/s

#33596 Update @media/resolution index.md
  files/en-us/web/css/@media/resolution/index.md
Labels: Content:CSS, size/s

#34045 Clarify where relative selectors may be used
  files/en-us/web/css/css_selectors/selector_structure/index.md
Labels: Content:CSS, size/s

#34063 Fix definition lists
  files/en-us/web/api/storageaccesshandle/broadcastchannel/index.md
  files/en-us/web/api/storageaccesshandle/createobjecturl/index.md
  files/en-us/web/api/storageaccesshandle/estimate/index.md
  files/en-us/web/api/storageaccesshandle/getdirectory/index.md
  files/en-us/web/api/storageaccesshandle/revokeobjecturl/index.md
  files/en-us/web/api/storageaccesshandle/sharedworker/index.md
Labels: Content:WebAPI, size/s

#34054 fix(css): mention null cell token on grid-template-areas page
  files/en-us/web/css/grid-template-areas/index.md
Labels: Content:CSS, size/s

#33979 Add auto-compression as importance of MIME type
  files/en-us/web/http/basics_of_http/mime_types/index.md
Labels: Content:HTTP, size/s

#34050 Update Firefox user agent string
  files/en-us/web/http/headers/user-agent/firefox/index.md
Labels: Content:HTTP, size/s

#34052 Mention file size unit used
  files/en-us/web/html/element/input/file/index.md
Labels: Content:HTML, size/s

#34000 Document zip MIME type on Windows
  files/en-us/web/http/basics_of_http/mime_types/common_types/index.md
Labels: Content:HTTP, size/xs

#33733 Disable individual static rules in DNR
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/getdisabledruleids/index.md
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/index.md
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/updatestaticrules/index.md
  files/en-us/mozilla/firefox/releases/128/index.md
Labels: Content:WebExt, Content:Firefox, size/m

#34019 fix(css): elaborate specific `pointer-event: none` behaviour
  files/en-us/web/css/pointer-events/index.md
Labels: Content:CSS, size/s

#34042 docs(relnote): FF127 - Experimental support for color components in `calc()`
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/127/index.md
Labels: Content:Firefox, size/m

#34071 Make TypedArray initialization value more accurate
  files/en-us/web/javascript/reference/global_objects/bigint64array/bigint64array/index.md
  files/en-us/web/javascript/reference/global_objects/bigint64array/index.md
  files/en-us/web/javascript/reference/global_objects/biguint64array/biguint64array/index.md
  files/en-us/web/javascript/reference/global_objects/biguint64array/index.md
  files/en-us/web/javascript/reference/global_objects/float16array/float16array/index.md
  files/en-us/web/javascript/reference/global_objects/float16array/index.md
  files/en-us/web/javascript/reference/global_objects/float32array/float32array/index.md
  files/en-us/web/javascript/reference/global_objects/float32array/index.md
  files/en-us/web/javascript/reference/global_objects/float64array/float64array/index.md
  files/en-us/web/javascript/reference/global_objects/float64array/index.md
  files/en-us/web/javascript/reference/global_objects/int16array/index.md
  files/en-us/web/javascript/reference/global_objects/int16array/int16array/index.md
  files/en-us/web/javascript/reference/global_objects/int32array/index.md
  files/en-us/web/javascript/reference/global_objects/int32array/int32array/index.md
  files/en-us/web/javascript/reference/global_objects/int8array/index.md
  files/en-us/web/javascript/reference/global_objects/int8array/int8array/index.md
  files/en-us/web/javascript/reference/global_objects/uint16array/index.md
  files/en-us/web/javascript/reference/global_objects/uint16array/uint16array/index.md
  files/en-us/web/javascript/reference/global_objects/uint32array/index.md
  files/en-us/web/javascript/reference/global_objects/uint32array/uint32array/index.md
  files/en-us/web/javascript/reference/global_objects/uint8array/index.md
  files/en-us/web/javascript/reference/global_objects/uint8array/uint8array/index.md
  files/en-us/web/javascript/reference/global_objects/uint8clampedarray/index.md
  files/en-us/web/javascript/reference/global_objects/uint8clampedarray/uint8clampedarray/index.md
Labels: Content:JS, size/s

#34072 Avoid saying that promise methods return equivalent prmoises
  files/en-us/web/javascript/reference/global_objects/promise/catch/index.md
  files/en-us/web/javascript/reference/global_objects/promise/finally/index.md
  files/en-us/web/javascript/reference/global_objects/promise/then/index.md
Labels: Content:JS, size/s

#34073 Convert comparison tables for prototype setters to plain text
  files/en-us/web/javascript/inheritance_and_the_prototype_chain/index.md
Labels: Content:JS, size/m

#34077 Fix typo
  files/en-us/web/javascript/reference/global_objects/asyncgenerator/index.md
Labels: Content:JS, size/xs

#33396 feat: Improve Glossary entries for symm/asymm crypto & ciphers (enc algorithms)
  files/en-us/glossary/cipher/index.md
  files/en-us/glossary/public-key_cryptography/index.md
  files/en-us/glossary/symmetric-key_cryptography/index.md
Labels: Content:Glossary, size/s

#34079 Remove a non-existed link
  files/en-us/web/api/event/comparison_of_event_targets/index.md
Labels: Content:WebAPI, size/xs

#30948 Make invalid JSON examples (maybe) less confusing
  files/en-us/web/javascript/reference/global_objects/json/parse/index.md
Labels: Content:JS, size/s

#34078 Add example of code in pre
  files/en-us/web/html/element/pre/index.md
Labels: Content:HTML, size/s

#33833 Add some compatibility notes to {move,resize}{By,To}.
  files/en-us/web/api/window/moveby/index.md
  files/en-us/web/api/window/moveto/index.md
  files/en-us/web/api/window/resizeby/index.md
  files/en-us/web/api/window/resizeto/index.md
Labels: Content:WebAPI, size/s

#34081 Firefox 127 release notes
  files/en-us/mozilla/firefox/releases/127/index.md
  files/en-us/mozilla/firefox/releases/128/index.md
  files/en-us/mozilla/firefox/releases/129/index.md
Labels: Content:Firefox, size/m

#34068 fix: update anchor link in domxref macro
  files/en-us/web/api/barprop/visible/index.md
Labels: Content:WebAPI, size/xs

#33683 Remove unnecessary change event in dialog return value example
  files/en-us/web/html/element/dialog/index.md
Labels: Content:HTML, size/s

#34083 More description about TextEncoder buffer allocation
  files/en-us/web/api/textencoder/encodeinto/index.md
Labels: Content:WebAPI, size/s

#34075 Add note to deep freeze function saying functions fail by default
  files/en-us/web/javascript/reference/global_objects/object/freeze/index.md
Labels: Content:JS, size/s
