Repository mdn/content, pull requests merged in 2024-02, with the labels that each got.

#32045 Fix incorrect example in Cache add() doc
  files/en-us/web/api/cache/add/index.md
Labels: Content:WebAPI, size/xs

#32038 Sensor API | add secure context tag & add constructor params
  files/en-us/web/api/absoluteorientationsensor/absoluteorientationsensor/index.md
  files/en-us/web/api/absoluteorientationsensor/index.md
  files/en-us/web/api/accelerometer/accelerometer/index.md
  files/en-us/web/api/accelerometer/index.md
  files/en-us/web/api/accelerometer/x/index.md
  files/en-us/web/api/accelerometer/y/index.md
  files/en-us/web/api/accelerometer/z/index.md
  files/en-us/web/api/ambientlightsensor/ambientlightsensor/index.md
  files/en-us/web/api/ambientlightsensor/illuminance/index.md
  files/en-us/web/api/ambientlightsensor/index.md
  files/en-us/web/api/gravitysensor/gravitysensor/index.md
  files/en-us/web/api/gravitysensor/index.md
  files/en-us/web/api/gyroscope/gyroscope/index.md
  files/en-us/web/api/gyroscope/index.md
  files/en-us/web/api/gyroscope/x/index.md
  files/en-us/web/api/gyroscope/y/index.md
  files/en-us/web/api/gyroscope/z/index.md
  files/en-us/web/api/linearaccelerationsensor/index.md
  files/en-us/web/api/linearaccelerationsensor/linearaccelerationsensor/index.md
  files/en-us/web/api/magnetometer/index.md
  files/en-us/web/api/magnetometer/magnetometer/index.md
  files/en-us/web/api/magnetometer/x/index.md
  files/en-us/web/api/magnetometer/y/index.md
  files/en-us/web/api/magnetometer/z/index.md
  files/en-us/web/api/orientationsensor/index.md
  files/en-us/web/api/orientationsensor/populatematrix/index.md
  files/en-us/web/api/orientationsensor/quaternion/index.md
  files/en-us/web/api/relativeorientationsensor/index.md
  files/en-us/web/api/relativeorientationsensor/relativeorientationsensor/index.md
  files/en-us/web/api/sensor/activate_event/index.md
  files/en-us/web/api/sensor/activated/index.md
  files/en-us/web/api/sensor/error_event/index.md
  files/en-us/web/api/sensor/hasreading/index.md
  files/en-us/web/api/sensor/index.md
  files/en-us/web/api/sensor/reading_event/index.md
  files/en-us/web/api/sensor/start/index.md
  files/en-us/web/api/sensor/stop/index.md
  files/en-us/web/api/sensor/timestamp/index.md
  files/en-us/web/api/sensor_apis/index.md
  files/en-us/web/api/sensorerrorevent/error/index.md
  files/en-us/web/api/sensorerrorevent/index.md
  files/en-us/web/api/sensorerrorevent/sensorerrorevent/index.md
Labels: Content:WebAPI, size/m

#32036 Credential Management API | Update its members
  files/en-us/web/api/credential_management_api/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, size/s

#32035 Update apiref & value description for `Navigator.credentials`
  files/en-us/web/api/navigator/credentials/index.md
Labels: Content:WebAPI, size/s

#32049 ServiceWorker.postMessage has more than a single param
  files/en-us/web/api/serviceworker/postmessage/index.md
Labels: Content:WebAPI, size/xs

#32025 Fix a reference to another article
  files/en-us/web/security/types_of_attacks/index.md
Labels: Content:Security, size/xs

#32011 Add link for this attribute value
  files/en-us/web/html/attributes/rel/index.md
Labels: Content:HTML, size/xs

#32043 docs: robots meta tag vs robots.txt file
  files/en-us/web/html/element/meta/name/index.md
Labels: Content:HTML, size/xs

#32061 update example of using union()
  files/en-us/web/javascript/reference/global_objects/set/union/index.md
Labels: Content:JS, size/xs

#32065 Improve explanation for dfn element
  files/en-us/web/html/element/dfn/index.md
Labels: Content:HTML, size/xs

#32054 remove a duplicated link and fix typo
  files/en-us/web/css/css_fonts/opentype_fonts_guide/index.md
Labels: Content:CSS, size/xs

#32053 Fix typo: replace "where" with "whereas"
  files/en-us/web/javascript/guide/keyed_collections/index.md
Labels: Content:JS, size/xs

#31052 Update index.md - excplicitely indicate direction with degrees
  files/en-us/web/api/device_orientation_events/orientation_and_motion_data_explained/index.md
Labels: Content:WebAPI, size/xs

#31123 Add link to demo on `Web/Demos`
  files/en-us/web/demos/index.md
Labels: Content:Other, size/xs

#32063 Update index.md
  files/en-us/web/api/node/lastchild/index.md
Labels: Content:WebAPI, size/xs

#32064 Remove `buffered` from HTML attributes list
  files/en-us/web/html/attributes/index.md
Labels: Content:HTML, size/s

#32072 correct alt info of pictures in typescript svelte
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_typescript/index.md
Labels: Content:Learn:Client-side, size/s

#32076 fix(js): correct link to var hoisting section id
  files/en-us/learn/javascript/first_steps/variables/index.md
Labels: Content:Learn:JavaScript, size/xs

#31950 Containment module
  files/en-us/_redirects.txt
  files/en-us/learn/performance/css/index.md
  files/en-us/mozilla/firefox/releases/108/index.md
  files/en-us/mozilla/firefox/releases/110/index.md
  files/en-us/web/api/resizeobserver/index.md
  files/en-us/web/css/@container/index.md
  files/en-us/web/css/contain/index.md
  files/en-us/web/css/container-name/index.md
  files/en-us/web/css/container-type/index.md
  files/en-us/web/css/container/index.md
  files/en-us/web/css/css_conditional_rules/index.md
  files/en-us/web/css/css_containment/container_queries/container-query.svg
  files/en-us/web/css/css_containment/container_queries/index.md
  files/en-us/web/css/css_containment/index.md
  files/en-us/web/css/css_containment/using_css_containment/index.md
  files/en-us/web/css/css_media_queries/index.md
  files/en-us/web/css/css_media_queries/using_media_queries/index.md
  files/en-us/web/css/css_multicol_layout/using_multicol_layouts/index.md
  files/en-us/web/css/css_positioned_layout/understanding_z-index/stacking_context/index.md
  files/en-us/web/css/css_values_and_units/index.md
  files/en-us/web/css/length/index.md
Labels: Content:CSS, Content:WebAPI, Content:Learn, Content:Firefox, size/l

#31767 Improve readability
  files/en-us/learn/javascript/first_steps/strings/index.md
Labels: Content:Learn:JavaScript, size/s

#32032 fix: description of `rect()` offset
  files/en-us/web/css/basic-shape/rect/index.md
Labels: Content:CSS, size/xs

#31510 Clarify expected output in all cases
  files/en-us/learn/javascript/first_steps/test_your_skills_colon__math/index.md
Labels: Content:Learn:JavaScript, size/xs

#32086 Adds further detail to image-rendering `crisp-edges` vs `pixelated`
  files/en-us/web/css/image-rendering/index.md
Labels: Content:CSS, size/xs

#32066 Fixes to Notification
  files/en-us/web/api/notification/actions/index.md
  files/en-us/web/api/notification/badge/index.md
  files/en-us/web/api/notification/click_event/index.md
  files/en-us/web/api/notification/close_event/index.md
  files/en-us/web/api/notification/error_event/index.md
  files/en-us/web/api/notification/renotify/index.md
  files/en-us/web/api/notification/show_event/index.md
  files/en-us/web/api/notification/silent/index.md
  files/en-us/web/api/notification/vibrate/index.md
Labels: Content:WebAPI, size/s

#32087 Update index.md, changing nanoid referecne to method call.
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/react_interactivity_events_state/index.md
Labels: Content:Learn:Client-side, size/xs

#32057 Add info about the "r" attribute when set in percentage
  files/en-us/web/svg/attribute/r/index.md
Labels: Content:SVG, size/xs

#32094 Fix a link in `/Web/HTTP/Cookies`
  files/en-us/web/http/cookies/index.md
Labels: Content:HTTP, size/xs

#32104 Delete an old note.
  files/en-us/learn/javascript/first_steps/variables/index.md
Labels: Content:Learn:JavaScript, size/xs

#32070 Minor: Grammar fixes. Remove X
  files/en-us/games/publishing_games/game_promotion/index.md
  files/en-us/games/techniques/3d_on_the_web/webxr/index.md
  files/en-us/learn/forms/form_validation/index.md
  files/en-us/learn/getting_started_with_the_web/index.md
  files/en-us/learn/html/introduction_to_html/the_head_metadata_in_html/index.md
  files/en-us/learn/index.md
  files/en-us/learn/javascript/client-side_web_apis/index.md
  files/en-us/learn/javascript/client-side_web_apis/introduction/index.md
Labels: Content:Learn, Content:Games, Content:Learn:JavaScript, Content:Learn:HTML, Content:Learn:Forms, size/s

#32034 pointer events - add js feature to css property page
  files/en-us/web/css/pointer-events/index.md
Labels: Content:CSS, size/xs

#29287 download attribute for <a> on <audio> element page
  files/en-us/web/html/element/audio/index.md
Labels: Content:HTML, awaiting response, size/s

#32060 async runtime.onMessage listeners clarification
  files/en-us/mozilla/add-ons/webextensions/api/runtime/onmessage/index.md
Labels: Content:WebExt, size/xs

#31258 update docs to reflect new css custom state syntax
  files/en-us/web/api/customstateset/add/index.md
  files/en-us/web/api/customstateset/index.md
  files/en-us/web/api/web_components/using_custom_elements/index.md
Labels: Content:WebAPI, size/m

#32116 Fix a typo
  files/en-us/web/css/@container/index.md
Labels: Content:CSS, size/xs

#32069 docs(fix): Improve language and clarify that `cssFloat` is only needed in older browsers
  files/en-us/web/api/htmlelement/style/index.md
  files/en-us/web/css/float/index.md
Labels: Content:CSS, Content:WebAPI, size/s

#31981 docs: add note to Array.prototype.find() page
  files/en-us/web/javascript/reference/global_objects/array/find/index.md
Labels: Content:JS, size/xs

#32126 Fix spell error brought in #29287
  files/en-us/web/html/element/audio/index.md
Labels: Content:HTML, size/s

#32125 Fix incorrect CustomStateSet method set() to the correct one add()
  files/en-us/web/api/customstateset/index.md
Labels: Content:WebAPI, size/s

#32121 Content update of `CredentialsContainer.preventSilentAccess()` & `CredentialsContainer.store()`
  files/en-us/web/api/credentialscontainer/index.md
  files/en-us/web/api/credentialscontainer/preventsilentaccess/index.md
  files/en-us/web/api/credentialscontainer/store/index.md
Labels: Content:WebAPI, size/s

#32120 swap CustomStateSet legacy workarounds
  files/en-us/web/api/customstateset/index.md
Labels: Content:WebAPI, size/s

#32117 Update possible values for `Credential.type`
  files/en-us/web/api/credential/id/index.md
  files/en-us/web/api/credential/index.md
  files/en-us/web/api/credential/type/index.md
Labels: Content:WebAPI, size/s

#32106 init documentation for `HTMLSourceElement.{height,width}`
  files/en-us/web/api/htmlcanvaselement/height/index.md
  files/en-us/web/api/htmlcanvaselement/width/index.md
  files/en-us/web/api/htmlembedelement/height/index.md
  files/en-us/web/api/htmlembedelement/width/index.md
  files/en-us/web/api/htmliframeelement/height/index.md
  files/en-us/web/api/htmliframeelement/width/index.md
  files/en-us/web/api/htmlimageelement/height/index.md
  files/en-us/web/api/htmlimageelement/width/index.md
  files/en-us/web/api/htmlobjectelement/height/index.md
  files/en-us/web/api/htmlobjectelement/width/index.md
  files/en-us/web/api/htmlsourceelement/height/index.md
  files/en-us/web/api/htmlsourceelement/index.md
  files/en-us/web/api/htmlsourceelement/width/index.md
  files/en-us/web/api/htmlvideoelement/height/index.md
  files/en-us/web/api/htmlvideoelement/width/index.md
Labels: Content:WebAPI, size/m

#32031 fix(html): Add advice on object element with data attr instead of param element
  files/en-us/web/html/element/param/index.md
Labels: Content:HTML, size/xs

#32100 Update index.md - Add `sRGB` and `HWB` to `learn/css_values_and_units`
  files/en-us/learn/css/building_blocks/values_and_units/index.md
Labels: Content:Learn:CSS, size/s

#32029 feat: Add link to web-platform-dx/web-features for Baseline issues
  .github/ISSUE_TEMPLATE/config.yml
Labels: system, size/xs

#32136 FF123 Relnote: WebAuthn credential createion in cross origin frames
  files/en-us/mozilla/firefox/releases/123/index.md
Labels: Content:Firefox, Firefox 123, size/xs

#32128 Add declarative shadow DOM to Firefox 123 release notes
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/123/index.md
Labels: Content:Firefox, Firefox 123, size/s

#32141 Fix typo in `/files/en-us/web/api/touchevent/touchevent/index.md`
  files/en-us/web/api/touchevent/touchevent/index.md
Labels: Content:WebAPI, size/xs

#32154 chore(ci): Label & add 'mdn-bot' as author and committer to auto-generated PRs
  .github/workflows/auto-cleanup-bot.yml
  .github/workflows/interfacedata-updater.yml
Labels: system, size/s

#28649 Add examples to exportparts
  files/en-us/web/html/global_attributes/exportparts/index.md
Labels: Content:HTML, size/m

#32158 chore(api): Remove unimplemented_inline macro from window.find() 'awholeword' param
  files/en-us/web/api/window/find/index.md
Labels: Content:WebAPI, size/xs

#32147 Clarify "n lines *or less*" lines for text-wrap: balance
  files/en-us/web/css/text-wrap/index.md
Labels: Content:CSS, size/xs

#32168 Add `as` attribute
  files/en-us/web/html/attributes/index.md
Labels: Content:HTML, size/s

#32152 Clarify the parameters of slice
  files/en-us/web/javascript/reference/global_objects/array/copywithin/index.md
  files/en-us/web/javascript/reference/global_objects/array/fill/index.md
  files/en-us/web/javascript/reference/global_objects/array/includes/index.md
  files/en-us/web/javascript/reference/global_objects/array/indexof/index.md
  files/en-us/web/javascript/reference/global_objects/array/lastindexof/index.md
  files/en-us/web/javascript/reference/global_objects/array/slice/index.md
  files/en-us/web/javascript/reference/global_objects/array/splice/index.md
  files/en-us/web/javascript/reference/global_objects/array/tospliced/index.md
  files/en-us/web/javascript/reference/global_objects/array/with/index.md
  files/en-us/web/javascript/reference/global_objects/arraybuffer/slice/index.md
  files/en-us/web/javascript/reference/global_objects/sharedarraybuffer/slice/index.md
Labels: Content:JS, size/s

#32175 Fix mischanged words
  files/en-us/web/javascript/reference/global_objects/array/copywithin/index.md
  files/en-us/web/javascript/reference/global_objects/array/fill/index.md
Labels: Content:JS, size/xs

#32151 fix: add the missing period
  files/en-us/learn/forms/advanced_form_styling/index.md
Labels: Content:Learn:Forms, size/xs

#32179 Remove incorrect note for document.createEvent
  files/en-us/web/api/document/createevent/index.md
Labels: Content:WebAPI, size/s

#32184 Update index.md
  files/en-us/games/index.md
Labels: Content:Games, size/xs

#32164 Update exceptions list for `RemotePlayback.prompt()`
  files/en-us/web/api/remoteplayback/prompt/index.md
Labels: Content:WebAPI, size/xs

#32167 Add correct form action
  files/en-us/web/http/headers/content-type/index.md
Labels: Content:HTTP, size/s

#32157 Service Worker API: add link to web.dev lifecycle article
  files/en-us/web/api/service_worker_api/index.md
Labels: Content:WebAPI, size/xs

#32182 Clarify misleading statement regarding request for resources
  files/en-us/web/performance/critical_rendering_path/index.md
Labels: Content:Performance, size/xs

#32155 Clarify individuality of extra CSS properties in Containing Block
  files/en-us/web/css/containing_block/index.md
Labels: Content:CSS, size/xs

#31931 FF122 Date parser parses first three chars of month
  files/en-us/mozilla/firefox/releases/122/index.md
  files/en-us/web/javascript/reference/global_objects/date/parse/index.md
Labels: Content:JS, Content:Firefox, size/s

#32108 fix dead link in svelte typescript tutorial
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_typescript/index.md
Labels: Content:Learn:Client-side, size/s

#31972 FF123 HTTP 103 Early Hints supported for Preload
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/123/index.md
  files/en-us/web/http/status/103/index.md
Labels: Content:HTTP, Content:Firefox, size/s

#32185 WebGPU examples: remove TS from JS
  files/en-us/web/api/gpudevice/createtexture/index.md
  files/en-us/web/api/gpuqueue/copyexternalimagetotexture/index.md
  files/en-us/web/api/gpurenderbundleencoder/draw/index.md
  files/en-us/web/api/gpurenderbundleencoder/setbindgroup/index.md
  files/en-us/web/api/gpurenderbundleencoder/setpipeline/index.md
  files/en-us/web/api/gpurenderbundleencoder/setvertexbuffer/index.md
  files/en-us/web/api/gputexture/index.md
Labels: Content:WebAPI, size/s

#31595 fix output
  files/en-us/games/techniques/control_mechanisms/mobile_touch/index.md
Labels: Content:Games

#32099 Content update & fix of Notification in Service Worker
  files/en-us/web/api/notification/notification/index.md
  files/en-us/web/api/notifications_api/using_the_notifications_api/index.md
  files/en-us/web/api/serviceworkerglobalscope/notificationclick_event/index.md
  files/en-us/web/api/serviceworkerglobalscope/notificationclose_event/index.md
  files/en-us/web/api/serviceworkerregistration/shownotification/index.md
Labels: Content:WebAPI, size/m

#31596 Add a section on basic interactivity for live examples
  files/en-us/mdn/writing_guidelines/page_structures/live_samples/index.md
Labels: Content:Meta, size/m

#32196 Update index.md
  files/en-us/web/api/indexeddb_api/index.md
Labels: Content:WebAPI, size/xs

#32000 CSS :state() pseudo class
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/web/api/customstateset/index.md
  files/en-us/web/api/web_components/index.md
  files/en-us/web/api/web_components/using_custom_elements/index.md
  files/en-us/web/css/_colon_host-context/index.md
  files/en-us/web/css/_colon_host/index.md
  files/en-us/web/css/_colon_host_function/index.md
  files/en-us/web/css/_colon_state/index.md
  files/en-us/web/css/_doublecolon_part/index.md
  files/en-us/web/css/css_selectors/index.md
Labels: Content:CSS, Content:WebAPI, Content:Firefox, size/m

#32191 Remove paragraph explaining deleted example
  files/en-us/web/css/hyphenate-limit-chars/index.md
Labels: Content:CSS, size/xs

#32194 Update social media
  files/en-us/mdn/mdn_product_advisory_board/index.md
  files/en-us/web/api/server-sent_events/index.md
  files/en-us/web/html/global_attributes/contextmenu/index.md
  files/en-us/web/progressive_web_apps/tutorials/js13kgames/app_structure/index.md
Labels: Content:HTML, Content:WebAPI, Content:Meta, Content:PWA, size/s

#32200 Remove jargon from :focus-visible
  files/en-us/web/css/_colon_focus-visible/index.md
Labels: Content:CSS, size/xs

#32198 Synchronize with BCD v5.5.10
  files/en-us/web/api/cssscoperule/end/index.md
  files/en-us/web/api/cssscoperule/index.md
  files/en-us/web/api/cssscoperule/start/index.md
  files/en-us/web/api/htmlobjectelement/index.md
  files/en-us/web/api/htmlobjectelement/usemap/index.md
  files/en-us/web/api/idbindex/index.md
  files/en-us/web/api/idbindex/isautolocale/index.md
  files/en-us/web/api/idbindex/locale/index.md
  files/en-us/web/css/@scope/index.md
  files/en-us/web/css/_doublecolon_grammar-error/index.md
  files/en-us/web/css/_doublecolon_spelling-error/index.md
  files/en-us/web/css/color_value/light-dark/index.md
  files/en-us/web/css/text-wrap/index.md
  files/en-us/web/css/transition-behavior/index.md
  files/en-us/web/css/white-space-collapse/index.md
  files/en-us/web/html/element/head/index.md
  files/en-us/web/html/element/html/index.md
  files/en-us/web/html/element/html/manifest/index.md
  files/en-us/web/html/element/iframe/index.md
  files/en-us/web/html/element/object/index.md
  files/en-us/web/security/iframe_credentialless/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:Security, size/m

#32206 fix private features' link in classes overview page
  files/en-us/web/javascript/reference/classes/index.md
Labels: Content:JS, size/xs

#32186 Mark good/bad examples
  files/en-us/web/javascript/reference/errors/cant_access_lexical_declaration_before_init/index.md
Labels: Content:JS, size/xs

#32169 Use local permission not global value
  files/en-us/web/api/notifications_api/using_the_notifications_api/index.md
Labels: Content:WebAPI, size/s

#32174 Canvas API: Remove "false" from addEventListener
  files/en-us/web/api/canvas_api/tutorial/using_images/index.md
Labels: Content:WebAPI, size/s

#32217 Fix broken anchor in datetime-local
  files/en-us/web/html/element/input/datetime-local/index.md
Labels: Content:HTML, size/xs

#32228 Fix typo
  files/en-us/web/http/cookies/index.md
Labels: Content:HTTP, size/xs

#31974 perf: supplementary reference to the see-also part of Iterator.find()
  files/en-us/web/javascript/reference/global_objects/iterator/find/index.md
Labels: Content:JS, size/xs

#32058 IntallEvent vs install event
  files/en-us/web/api/cachestorage/index.md
  files/en-us/web/api/installevent/index.md
Labels: Content:WebAPI, size/s

#32129 Update example to perform action on click
  files/en-us/web/api/clipboard/writetext/index.md
Labels: Content:WebAPI, size/xs

#31954 fix: Reflect.construct() vs. Object.create() example error
  files/en-us/web/javascript/reference/global_objects/reflect/construct/index.md
Labels: Content:JS, size/s

#31871 Rewrite convoluted paragraph on Array literals
  files/en-us/web/javascript/guide/grammar_and_types/index.md
Labels: Content:JS, size/xs

#31867 Improve globalThis description
  files/en-us/web/javascript/guide/grammar_and_types/index.md
Labels: Content:JS, size/xs

#31057 Use more accessible terminology
  files/en-us/learn/javascript/first_steps/test_your_skills_colon__strings/index.md
Labels: Content:Learn:JavaScript, size/xs

#31393 Add example for string lengths/sizes
  files/en-us/web/javascript/reference/global_objects/string/length/index.md
Labels: Content:JS, size/s

#31645 Show that objects usually inherit the `constructor` property
  files/en-us/web/javascript/reference/global_objects/object/constructor/index.md
Labels: Content:JS, size/xs

#32201 Remove outdated note
  files/en-us/web/api/extendableevent/index.md
  files/en-us/web/api/extendableevent/waituntil/index.md
Labels: Content:WebAPI, size/s

#32124 content update for `PasswordCredential`
  files/en-us/web/api/passwordcredential/index.md
  files/en-us/web/api/passwordcredential/passwordcredential/index.md
Labels: Content:WebAPI, size/s

#32208 Update index.md
  files/en-us/learn/server-side/express_nodejs/development_environment/index.md
Labels: Content:Learn:Express, size/s

#32216 Add link to HTTP response statuses list on HTTP Messages page
  files/en-us/web/http/messages/index.md
Labels: Content:HTTP, size/xs

#32137 Add missing CORS header in preflight response example
  files/en-us/glossary/preflight_request/index.md
Labels: Content:Glossary, size/xs

#32165 Exportport parts: cleaner way of nesting custom elements
  files/en-us/web/html/global_attributes/exportparts/index.md
Labels: Content:HTML, size/s

#32018 Move emphasis from "Any" to "object"
  files/en-us/web/javascript/reference/global_objects/boolean/index.md
Labels: Content:JS, size/s

#32197 Update links to 3rd part APIs
  files/en-us/learn/javascript/client-side_web_apis/introduction/index.md
Labels: Content:Learn:JavaScript, size/s

#31812 feat: Add SVG diagrams for HTTP sequences
  .vscode/cspell.json
  files/en-us/web/http/compression/httpcomp2.png
  files/en-us/web/http/compression/httpcomp2.svg
  files/en-us/web/http/compression/httpcompression1.png
  files/en-us/web/http/compression/httpcompression1.svg
  files/en-us/web/http/compression/httpenco1.png
  files/en-us/web/http/compression/httpenco1.svg
  files/en-us/web/http/compression/httpte1.png
  files/en-us/web/http/compression/httpte1.svg
  files/en-us/web/http/compression/index.md
  files/en-us/web/http/redirections/httpredirect.png
  files/en-us/web/http/redirections/httpredirect.svg
  files/en-us/web/http/redirections/index.md
Labels: Content:HTTP, system, size/l, reduce binary assets

#32231 Router definition in glossary
  files/en-us/glossary/routers/index.md
Labels: Content:Glossary, size/xs

#32239 Fix typo on "HTTP Messages" page
  files/en-us/web/http/messages/index.md
Labels: Content:HTTP, size/xs

#32241 Correct round->around typo index.md
  files/en-us/learn/css/building_blocks/styling_tables/index.md
Labels: Content:Learn:CSS, size/xs

#32245 minor: fixed a double negative
  files/en-us/mdn/community/issues/content_suggestions_feature_proposals/index.md
Labels: Content:Meta, size/xs

#31265 feat(husky): check deletions and broken fragments in URLs
  .github/workflows/pr-check_url-issues.yml
  .github/workflows/url-issues-problem-matcher.json
  .lintstagedrc.json
  files/en-us/mdn/writing_guidelines/page_structures/syntax_sections/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/setuninstallurl/index.md
  scripts/log-url-issues.js
  scripts/utils.js
Labels: Content:WebExt, Content:Meta, system

#32215 init documentation for `HTMLVideoElement.poster`
  files/en-us/web/api/htmlvideoelement/poster/index.md
Labels: Content:WebAPI, size/s

#32024 add document for HTMLButtonElement.type
  files/en-us/web/api/htmlbuttonelement/type/index.md
Labels: Content:WebAPI, size/s

#32202 new document for HTMLInputElement.{selectionStart, selectionEnd, selectionDirection} properties
  files/en-us/web/api/htmlinputelement/selectiondirection/index.md
  files/en-us/web/api/htmlinputelement/selectionend/index.md
  files/en-us/web/api/htmlinputelement/selectionstart/index.md
Labels: Content:WebAPI, size/m

#32161 31863 implement color-interpolation="linearRGB"
  files/en-us/_redirects.txt
  files/en-us/web/css/color-interpolation/index.md
  files/en-us/web/svg/attribute/color-interpolation/index.md
Labels: Content:CSS, Content:SVG, size/m

#32250 Fixed minor grammar issue index.md
  files/en-us/learn/css/building_blocks/organizing/index.md
Labels: Content:Learn:CSS, size/xs

#32189 chore(macros): Remove 'Xref_cssinitial', 'Xref_cssinherited', 'Xref_csscomputed', 'NonStandardBadge'
  files/en-us/web/api/idbfactory/deletedatabase/index.md
  files/en-us/web/css/-webkit-mask-box-image/index.md
Labels: Content:CSS, Content:WebAPI, size/s, macros

#32162 added the release note for color-interpolation on SVG gradients
  files/en-us/mozilla/firefox/releases/123/index.md
Labels: Content:Firefox, size/xs

#32259 Fix link to Bugzilla
  files/en-us/mozilla/firefox/releases/123/index.md
Labels: Content:Firefox, size/xs

#32062 feat(ci): add post pull script to run install
  .husky/post-merge
  .husky/update-history
  package.json
Labels: system, size/s

#32264 Update x to mastodon
  files/en-us/mozilla/add-ons/webextensions/api/tabs/onupdated/index.md
  files/en-us/web/accessibility/aria/roles/feed_role/index.md
Labels: Content:WebExt, Content:Accessibility, size/s

#31970 FF122 Relnote CSS -moz-user-focus removed
  files/en-us/mozilla/firefox/releases/122/index.md
  files/en-us/web/css/-moz-user-focus/index.md
Labels: Content:CSS, Content:Firefox, size/s

#32267 fix typo
  files/en-us/web/api/rtcpeerconnection/index.md
Labels: Content:WebAPI, size/xs

#32203 Fix issue 32145: pass section name to live sample macro
  files/en-us/web/api/range/getclientrects/index.md
Labels: Content:WebAPI, size/xs

#32269 fix(ci): make husky post pull script 'sh' compatible
  .husky/post-merge
  .husky/update-history
Labels: system, size/s

#32278 fix(ci): fix bugs in URL check issues script
  scripts/log-url-issues.js
Labels: system, size/s

#32214 Remove outdated hgroup disclaimer
  files/en-us/web/html/content_categories/index.md
  files/en-us/web/html/element/hgroup/index.md
Labels: Content:HTML, size/xs

#32282 Add explicit parameter to EmbedLiveSample
  files/en-us/web/api/htmlelement/hidepopover/index.md
  files/en-us/web/css/css_cascading_variables/index.md
  files/en-us/web/css/css_grid_layout/grids_logical_values_and_writing_modes/index.md
  files/en-us/web/css/css_properties_and_values_api/index.md
  files/en-us/web/css/inheritance/index.md
  files/en-us/web/css/margin-left/index.md
  files/en-us/web/html/element/object/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, size/s

#32284 [Intl.DurationFormat] fix comment/code mismatch
  files/en-us/web/javascript/reference/global_objects/intl/durationformat/index.md
Labels: Content:JS, size/xs

#32268 docs(api): Clarify relationship between get/has/setAttribute() methods for attribute values, nodes & namespaced attrs
  files/en-us/web/api/attr/index.md
  files/en-us/web/api/element/getattribute/index.md
  files/en-us/web/api/element/getattributenode/index.md
  files/en-us/web/api/element/getattributenodens/index.md
  files/en-us/web/api/element/getattributens/index.md
  files/en-us/web/api/element/hasattribute/index.md
  files/en-us/web/api/element/hasattributens/index.md
  files/en-us/web/api/element/hasattributes/index.md
  files/en-us/web/api/element/removeattribute/index.md
  files/en-us/web/api/element/removeattributenode/index.md
  files/en-us/web/api/element/removeattributens/index.md
  files/en-us/web/api/element/setattribute/index.md
  files/en-us/web/api/element/setattributenode/index.md
  files/en-us/web/api/element/setattributenodens/index.md
  files/en-us/web/api/element/setattributens/index.md
  files/en-us/web/api/element/toggleattribute/index.md
Labels: Content:WebAPI, size/m

#32097 Format Page structure of `Navigator.mediaDevices`
  files/en-us/web/api/navigator/mediadevices/index.md
  files/en-us/web/api/navigator/mediasession/index.md
Labels: Content:WebAPI, size/s

#31749 Add see also and content xref links
  files/en-us/web/api/window/getcomputedstyle/index.md
Labels: Content:WebAPI, size/m

#31039 Correct error event handler signature
  files/en-us/web/api/workerglobalscope/error_event/index.md
Labels: Content:WebAPI, size/xs

#32285 Fix issue 31498
  files/en-us/web/api/location/hostname/index.md
Labels: Content:WebAPI, size/s

#32287 clarify client_metadata
  files/en-us/web/api/fedcm_api/index.md
Labels: Content:WebAPI, size/xs

#32294 fix(ci): make the post yarn install script more robust
  .husky/update-history
Labels: system, size/xs

#32286 Fix a typo
  files/en-us/web/security/mixed_content/how_to_fix_website_with_mixed_content/index.md
Labels: Content:Security, size/xs

#32135 FF123 updates for permission publickey-credentials-create
  files/en-us/web/api/credentialscontainer/create/index.md
  files/en-us/web/api/credentialscontainer/get/index.md
  files/en-us/web/api/web_authentication_api/index.md
  files/en-us/web/html/element/iframe/index.md
  files/en-us/web/http/headers/permissions-policy/publickey-credentials-create/index.md
  files/en-us/web/http/headers/permissions-policy/publickey-credentials-get/index.md
Labels: Content:HTML, Content:WebAPI, Content:HTTP, size/m

#31658 feat: Editorial review: Login Status API and friends
  files/en-us/web/api/credentialscontainer/get/index.md
  files/en-us/web/api/fedcm_api/idp_integration/index.md
  files/en-us/web/api/fedcm_api/index.md
  files/en-us/web/api/fedcm_api/rp_sign-in/fedcm-flow.png
  files/en-us/web/api/fedcm_api/rp_sign-in/index.md
  files/en-us/web/api/identitycredential/index.md
  files/en-us/web/api/identitycredential/isautoselected/index.md
  files/en-us/web/api/identitycredential/token/index.md
  files/en-us/web/api/identityprovider/close_static/index.md
  files/en-us/web/api/identityprovider/getuserinfo_static/index.md
  files/en-us/web/api/identityprovider/index.md
  files/en-us/web/api/navigator/index.md
  files/en-us/web/api/navigator/login/index.md
  files/en-us/web/api/navigatorlogin/index.md
  files/en-us/web/api/navigatorlogin/setstatus/index.md
  files/en-us/web/http/headers/sec-fetch-dest/index.md
  files/en-us/web/http/headers/set-login/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, Content:HTTP, size/xl

#32281 fix: 'yarn filecheck' issues
  files/en-us/learn/css/css_layout/supporting_older_browsers/browser-table.png
  files/en-us/web/api/canvasrenderingcontext2d/miterlimit/canvas_miterlimit.png
  files/en-us/web/css/content/mdn-favicon16.png
  files/en-us/web/css/css_lists/consistent_list_indentation/consistent-list-indentation-figure1.gif
  files/en-us/web/css/css_lists/consistent_list_indentation/consistent-list-indentation-figure2.gif
  files/en-us/web/css/css_lists/consistent_list_indentation/consistent-list-indentation-figure3.gif
  files/en-us/web/css/css_lists/consistent_list_indentation/consistent-list-indentation-figure4.gif
  files/en-us/web/css/css_lists/consistent_list_indentation/consistent-list-indentation-figure5.gif
  files/en-us/web/css/css_lists/consistent_list_indentation/consistent-list-indentation-figure6.gif
  files/en-us/web/css/css_media_queries/media-queries.svg
Labels: Content:CSS, Content:WebAPI, Content:Learn:CSS, size/m

#32067 Update index.md: Replace reference to Twitter with X
  files/en-us/learn/getting_started_with_the_web/javascript_basics/index.md
Labels: Content:Learn, size/xs

#32306 fix: add misssing param `aShowDialog`
  files/en-us/web/api/window/find/index.md
Labels: Content:WebAPI, size/xs

#32092 Fix example in `CredentialsContainer.create()` & `CredentialsContainer.get()`
  files/en-us/web/api/credentialscontainer/create/index.md
  files/en-us/web/api/credentialscontainer/get/index.md
Labels: Content:WebAPI, size/s

#32046 Update NuxtJS Link to Current Version
  files/en-us/learn/forms/sending_and_retrieving_form_data/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/introduction/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/vue_resources/index.md
Labels: Content:Learn:Client-side, Content:Learn:Forms, size/s

#31092 fix(learn): Cross browser testing - correct misleading text
  files/en-us/learn/tools_and_testing/cross_browser_testing/your_own_automation_environment/index.md
Labels: Content:Learn:Cross-Browser-Testing, size/s

#32280 fix: wrong `&` explanation in nesting css selector.
  files/en-us/web/css/css_nesting/using_css_nesting/index.md
Labels: Content:CSS, size/xs

#32311 Enhance "Focus management with Vue refs" article title
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/vue_refs_focus_management/index.md
Labels: Content:Learn:Client-side, size/xs

#32010 Move property table to *Technical summary* section
  files/en-us/web/html/element/article/index.md
  files/en-us/web/html/element/base/index.md
  files/en-us/web/html/element/body/index.md
  files/en-us/web/html/element/canvas/index.md
  files/en-us/web/html/element/data/index.md
  files/en-us/web/html/element/datalist/index.md
  files/en-us/web/html/element/del/index.md
  files/en-us/web/html/element/dialog/index.md
  files/en-us/web/html/element/div/index.md
  files/en-us/web/html/element/dl/index.md
  files/en-us/web/html/element/footer/index.md
  files/en-us/web/html/element/heading_elements/index.md
  files/en-us/web/html/element/html/index.md
  files/en-us/web/html/element/ins/index.md
  files/en-us/web/html/element/main/index.md
  files/en-us/web/html/element/meta/index.md
  files/en-us/web/html/element/meter/index.md
  files/en-us/web/html/element/nav/index.md
  files/en-us/web/html/element/noscript/index.md
  files/en-us/web/html/element/p/index.md
  files/en-us/web/html/element/picture/index.md
  files/en-us/web/html/element/progress/index.md
  files/en-us/web/html/element/ruby/index.md
  files/en-us/web/html/element/s/index.md
  files/en-us/web/html/element/script/index.md
  files/en-us/web/html/element/source/index.md
  files/en-us/web/html/element/title/index.md
  files/en-us/web/html/element/track/index.md
Labels: Content:HTML, size/xl

#32001 Fixed examples in linear easing function description
  files/en-us/web/css/easing-function/index.md
Labels: Content:CSS, size/xs

#32316 Intl.NumberFormat: Fix typo
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/numberformat/index.md
Labels: Content:JS, size/xs

#32317 fix: correct the format of DFL
  files/en-us/web/api/element/insertadjacentelement/index.md
Labels: Content:WebAPI, size/xs

#32325 Add note about using Array.prototype.includes()
  files/en-us/web/javascript/reference/operators/in/index.md
Labels: Content:JS, size/xs

#32330 Update ResizeObserverEntry Doc
  files/en-us/web/api/resizeobserverentry/index.md
Labels: Content:WebAPI, size/xs

#32328 minor typo fix
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_typescript/index.md
Labels: Content:Learn:Client-side, size/xs

#32322 Deleted removed values
  files/en-us/web/css/-moz-float-edge/index.md
Labels: Content:CSS, size/s

#32246 Django updates for PythonAnywhere
  files/en-us/learn/server-side/django/deployment/index.md
  files/en-us/learn/server-side/django/deployment/python_anywhere_error_disallowed_host.png
  files/en-us/learn/server-side/django/deployment/python_anywhere_start_bash_console.png
  files/en-us/learn/server-side/django/deployment/python_anywhere_web_add_manual_config.png
  files/en-us/learn/server-side/django/deployment/python_anywhere_web_add_new_app.png
  files/en-us/learn/server-side/django/deployment/python_anywhere_web_add_new_app_prompt.png
  files/en-us/learn/server-side/django/deployment/python_anywhere_web_add_select_framework_manual.png
  files/en-us/learn/server-side/django/deployment/python_anywhere_web_add_select_python_version.png
  files/en-us/learn/server-side/django/deployment/python_anywhere_web_code_wsgi_select.png
  files/en-us/learn/server-side/django/deployment/python_anywhere_web_configuration.png
  files/en-us/learn/server-side/django/deployment/python_anywhere_web_open_site.png
  files/en-us/learn/server-side/django/deployment/python_anywhere_web_static_files.png
  files/en-us/learn/server-side/django/deployment/python_anywhere_web_virtualenv.png
  files/en-us/learn/server-side/django/deployment/railway_new_project_button.png
  files/en-us/learn/server-side/django/deployment/railway_new_project_button_deploy_github_repo.png
  files/en-us/learn/server-side/django/deployment/railway_postgresql_connect.png
  files/en-us/learn/server-side/django/deployment/railway_project_add_database.png
  files/en-us/learn/server-side/django/deployment/railway_project_deploy.png
  files/en-us/learn/server-side/django/deployment/railway_project_open_no_database.png
  files/en-us/learn/server-side/django/deployment/railway_project_two_services.png
  files/en-us/learn/server-side/django/deployment/railway_variables_database_url.png
  files/en-us/learn/server-side/django/development_environment/github_compare_and_pull_banner.png
  files/en-us/learn/server-side/django/development_environment/index.md
  files/en-us/learn/server-side/django/skeleton_website/index.md
Labels: Content:Learn:Django, size/l
