Repository mdn/content, pull requests merged in 2024-03, with the labels that each got.

#32461 fixed broken link
  files/en-us/learn/server-side/express_nodejs/introduction/index.md
Labels: Content:Learn:Express, size/xs

#32451 fix(*): getBufferSubDataAsync
  files/en-us/web/api/webgl_api/webgl_best_practices/index.md
Labels: Content:WebAPI, size/xs

#32497 Rename section "Never use eval()!" to "Never use direct eval()!"
  files/en-us/web/javascript/reference/global_objects/eval/index.md
Labels: Content:JS, size/xs

#32507 Mention `String#replaceAll` as well as `String#replace` under `Symbol.replace` article
  files/en-us/web/javascript/reference/global_objects/symbol/replace/index.md
Labels: Content:JS, size/s

#32490 Update firstInterimResponseStart to note what 0 means for Early Hints
  files/en-us/web/api/performanceresourcetiming/firstinterimresponsestart/index.md
Labels: Content:WebAPI, size/xs

#32505 chore(api): Remove screenshots from EmbedLiveSample calls
  files/en-us/web/api/canvas_api/tutorial/applying_styles_and_colors/canvas-grid.png
  files/en-us/web/api/canvas_api/tutorial/applying_styles_and_colors/canvas_conicgrad.png
  files/en-us/web/api/canvas_api/tutorial/applying_styles_and_colors/canvas_createpattern.png
  files/en-us/web/api/canvas_api/tutorial/applying_styles_and_colors/canvas_fillstyle.png
  files/en-us/web/api/canvas_api/tutorial/applying_styles_and_colors/canvas_globalalpha.png
  files/en-us/web/api/canvas_api/tutorial/applying_styles_and_colors/canvas_lineargradient.png
  files/en-us/web/api/canvas_api/tutorial/applying_styles_and_colors/canvas_linewidth.png
  files/en-us/web/api/canvas_api/tutorial/applying_styles_and_colors/canvas_miterlimit.png
  files/en-us/web/api/canvas_api/tutorial/applying_styles_and_colors/canvas_radialgradient.png
  files/en-us/web/api/canvas_api/tutorial/applying_styles_and_colors/canvas_rgb.png
  files/en-us/web/api/canvas_api/tutorial/applying_styles_and_colors/canvas_strokestyle.png
  files/en-us/web/api/canvas_api/tutorial/applying_styles_and_colors/fill-rule.png
  files/en-us/web/api/canvas_api/tutorial/applying_styles_and_colors/index.md
  files/en-us/web/api/canvas_api/tutorial/applying_styles_and_colors/marching-ants.png
  files/en-us/web/api/canvas_api/tutorial/applying_styles_and_colors/shadowed-string.png
  files/en-us/web/api/canvas_api/tutorial/compositing/canvas_clip.png
  files/en-us/web/api/canvas_api/tutorial/compositing/canvas_clipping_path.png
  files/en-us/web/api/canvas_api/tutorial/compositing/index.md
  files/en-us/web/api/canvas_api/tutorial/compositing/inverse_clipping_path.png
  files/en-us/web/api/canvas_api/tutorial/transformations/canvas_grid_rotate.png
  files/en-us/web/api/canvas_api/tutorial/transformations/canvas_grid_translate.png
  files/en-us/web/api/canvas_api/tutorial/transformations/canvas_savestate.png
  files/en-us/web/api/canvas_api/tutorial/transformations/canvas_transform.png
  files/en-us/web/api/canvas_api/tutorial/transformations/index.md
  files/en-us/web/api/canvas_api/tutorial/transformations/rotate.png
  files/en-us/web/api/canvas_api/tutorial/transformations/scale.png
  files/en-us/web/api/canvas_api/tutorial/transformations/translate.png
Labels: Content:WebAPI, size/s

#32496 Fix broken links to SVG presentation attributes
  files/en-us/web/svg/element/fedropshadow/index.md
  files/en-us/web/svg/element/polygon/index.md
  files/en-us/web/svg/element/polyline/index.md
  files/en-us/web/svg/element/rect/index.md
Labels: Content:SVG, size/s

#32514 Fix return type for getAttributeNames
  files/en-us/web/api/element/getattributenames/index.md
Labels: Content:WebAPI, size/xs

#32521 Synchronize with webref/idl v3.44.2
  files/en-us/web/api/serviceworkerglobalscope/activate_event/index.md
  files/en-us/web/api/serviceworkerglobalscope/backgroundfetchabort_event/index.md
  files/en-us/web/api/serviceworkerglobalscope/backgroundfetchclick_event/index.md
  files/en-us/web/api/serviceworkerglobalscope/backgroundfetchfail_event/index.md
  files/en-us/web/api/serviceworkerglobalscope/backgroundfetchsuccess_event/index.md
  files/en-us/web/api/serviceworkerglobalscope/canmakepayment_event/index.md
  files/en-us/web/api/serviceworkerglobalscope/clients/index.md
  files/en-us/web/api/serviceworkerglobalscope/contentdelete_event/index.md
  files/en-us/web/api/serviceworkerglobalscope/cookiechange_event/index.md
  files/en-us/web/api/serviceworkerglobalscope/cookiestore/index.md
  files/en-us/web/api/serviceworkerglobalscope/fetch_event/index.md
  files/en-us/web/api/serviceworkerglobalscope/index.md
  files/en-us/web/api/serviceworkerglobalscope/install_event/index.md
  files/en-us/web/api/serviceworkerglobalscope/message_event/index.md
  files/en-us/web/api/serviceworkerglobalscope/messageerror_event/index.md
  files/en-us/web/api/serviceworkerglobalscope/notificationclick_event/index.md
  files/en-us/web/api/serviceworkerglobalscope/notificationclose_event/index.md
  files/en-us/web/api/serviceworkerglobalscope/paymentrequest_event/index.md
  files/en-us/web/api/serviceworkerglobalscope/periodicsync_event/index.md
  files/en-us/web/api/serviceworkerglobalscope/registration/index.md
  files/en-us/web/api/serviceworkerglobalscope/serviceworker/index.md
  files/en-us/web/api/serviceworkerglobalscope/skipwaiting/index.md
  files/en-us/web/api/serviceworkerglobalscope/sync_event/index.md
Labels: Content:WebAPI, size/s

#32518 Fix base64 code example
  files/en-us/glossary/base64/index.md
Labels: Content:Glossary, size/s

#32526 Synchronize with BCD v5.5.13
  files/en-us/web/css/font-palette/palette-mix/index.md
  files/en-us/web/http/headers/content-encoding/index.md
Labels: Content:CSS, Content:HTTP, size/s

#32527 fix: remove the extra parenthese
  files/en-us/web/css/_doublecolon_placeholder/index.md
Labels: Content:CSS, size/xs

#32515 Fix incorrect comment in Wasm memory.copy example
  files/en-us/webassembly/reference/memory/copy/index.md
Labels: Content:wasm, size/xs

#32504 docs(http): Update link to IANA HTTP fields registry
  files/en-us/mdn/writing_guidelines/howto/document_an_http_header/index.md
  files/en-us/web/http/headers/index.md
  files/en-us/web/http/index.md
Labels: Content:HTTP, Content:Meta, size/s

#32495 http.server is not limited to serving static files
  files/en-us/learn/common_questions/tools_and_setup/set_up_a_local_testing_server/index.md
Labels: Content:Learn, size/s

#32539 fix(api): synchronise inline secure context badges with @weberf/idl
  files/en-us/web/api/audiocontext/index.md
  files/en-us/web/api/authenticatorassertionresponse/index.md
  files/en-us/web/api/authenticatorattestationresponse/index.md
  files/en-us/web/api/element/index.md
  files/en-us/web/api/filesystemhandle/index.md
  files/en-us/web/api/gpuinternalerror/index.md
  files/en-us/web/api/gpuoutofmemoryerror/index.md
  files/en-us/web/api/gpurenderbundle/index.md
  files/en-us/web/api/gpuvalidationerror/index.md
  files/en-us/web/api/htmlmediaelement/index.md
  files/en-us/web/api/navigator/index.md
  files/en-us/web/api/otpcredential/index.md
  files/en-us/web/api/pointerevent/index.md
  files/en-us/web/api/screen/index.md
  files/en-us/web/api/window/index.md
  files/en-us/web/api/workernavigator/index.md
  files/en-us/web/api/xrcpudepthinformation/index.md
  files/en-us/web/api/xrinputsourceevent/index.md
  files/en-us/web/api/xrinputsourceschangeevent/index.md
  files/en-us/web/api/xrreferencespaceevent/index.md
  files/en-us/web/api/xrsessionevent/index.md
  files/en-us/web/api/xrspace/index.md
  files/en-us/web/api/xrwebgldepthinformation/index.md
Labels: Content:WebAPI, size/m

#32476 Add mention of document.querySelector being unable to detect :visible
  files/en-us/web/css/_colon_visited/index.md
Labels: Content:CSS, size/xs

#32530 chore(community): add a l10n-zh team member
  files/en-us/mdn/community/contributing/translated_content/index.md
Labels: Content:Meta, size/xs

#32540 Crossreference Element.localName and Element.tagName
  files/en-us/web/api/element/localname/index.md
  files/en-us/web/api/element/tagname/index.md
Labels: Content:WebAPI, size/s

#32465 Add Zstandard (zstd) and mark Brotli as standard
  files/en-us/_redirects.txt
  files/en-us/glossary/brotli_compression/index.md
  files/en-us/glossary/lossless_compression/index.md
  files/en-us/glossary/zstandard_compression/index.md
  files/en-us/web/http/headers/accept-encoding/index.md
  files/en-us/web/http/headers/content-encoding/index.md
Labels: Content:HTTP, Content:Glossary, size/s

#32532 Feat add example to MathML mtd page using example given in w3c mathml…
  files/en-us/web/mathml/element/mtd/index.md
Labels: Content:MathML, size/s

#32312 new document for HTMLOListElement.{start, type, reversed} properties
  files/en-us/web/api/htmlolistelement/reversed/index.md
  files/en-us/web/api/htmlolistelement/start/index.md
  files/en-us/web/api/htmlolistelement/type/index.md
Labels: Content:WebAPI, size/m

#32546 Update index.md
  files/en-us/web/css/using_css_custom_properties/index.md
Labels: Content:CSS, size/xs

#31227 onChanged callback object content clarification
  files/en-us/mozilla/add-ons/webextensions/api/storage/onchanged/index.md
  files/en-us/mozilla/add-ons/webextensions/api/storage/storagearea/onchanged/index.md
Labels: Content:WebExt, size/s

#32550 Fix documentation on the effect of returning false
  files/en-us/web/javascript/reference/operators/void/index.md
Labels: Content:JS, size/xs

#32553 Remove page for deprecated `<image>` element
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/firefox/releases/40/index.md
  files/en-us/web/html/cors_enabled_image/index.md
  files/en-us/web/html/element/image/index.md
Labels: Content:HTML, Content:Firefox, size/m

#32359 Fixed type of stdDeviation in feDropShadow
  files/en-us/web/svg/element/fedropshadow/index.md
Labels: Content:SVG, size/xs

#32353 correct alt info of svelte typescript
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_typescript/index.md
Labels: Content:Learn:Client-side, size/xs

#30874 feat: Editorial review: Fenced Frames docs
  files/en-us/web/api/fence/getnestedconfigs/index.md
  files/en-us/web/api/fence/index.md
  files/en-us/web/api/fence/reportevent/index.md
  files/en-us/web/api/fence/setreporteventdataforautomaticbeacons/index.md
  files/en-us/web/api/fenced_frame_api/communication_with_embedded_frames/iframe-storage-communication.png
  files/en-us/web/api/fenced_frame_api/communication_with_embedded_frames/index.md
  files/en-us/web/api/fenced_frame_api/communication_with_embedded_frames/multiple-embed-levels.png
  files/en-us/web/api/fenced_frame_api/communication_with_embedded_frames/share-contextual-data.png
  files/en-us/web/api/fenced_frame_api/index.md
  files/en-us/web/api/fencedframeconfig/index.md
  files/en-us/web/api/fencedframeconfig/setsharedstoragecontext/index.md
  files/en-us/web/api/htmlfencedframeelement/allow/index.md
  files/en-us/web/api/htmlfencedframeelement/config/index.md
  files/en-us/web/api/htmlfencedframeelement/height/index.md
  files/en-us/web/api/htmlfencedframeelement/index.md
  files/en-us/web/api/htmlfencedframeelement/width/index.md
  files/en-us/web/api/navigator/deprecatedreplaceinurn/index.md
  files/en-us/web/api/navigator/index.md
  files/en-us/web/api/request/destination/index.md
  files/en-us/web/api/window/fence/index.md
  files/en-us/web/api/window/index.md
  files/en-us/web/api/window/open/index.md
  files/en-us/web/html/element/a/index.md
  files/en-us/web/html/element/fencedframe/index.md
  files/en-us/web/html/element/form/index.md
  files/en-us/web/http/client_hints/index.md
  files/en-us/web/http/headers/content-security-policy/fenced-frame-src/index.md
  files/en-us/web/http/headers/content-security-policy/index.md
  files/en-us/web/http/headers/index.md
  files/en-us/web/http/headers/sec-fetch-dest/index.md
  files/en-us/web/http/headers/supports-loading-mode/index.md
  files/en-us/web/http/permissions_policy/index.md
  files/jsondata/GroupData.json
Labels: Content:HTML, Content:WebAPI, Content:HTTP, size/xl

#32557 Fix of stylesheet load events example
  files/en-us/web/html/element/link/index.md
Labels: Content:HTML, size/s

#32513 Redirect pathway to MDN Curriculum and remove links to it
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/learn/accessibility/index.md
  files/en-us/learn/css/building_blocks/index.md
  files/en-us/learn/css/css_layout/index.md
  files/en-us/learn/css/first_steps/index.md
  files/en-us/learn/css/index.md
  files/en-us/learn/css/styling_text/index.md
  files/en-us/learn/forms/index.md
  files/en-us/learn/front-end_web_developer/index.md
  files/en-us/learn/html/index.md
  files/en-us/learn/html/introduction_to_html/index.md
  files/en-us/learn/html/multimedia_and_embedding/index.md
  files/en-us/learn/html/tables/index.md
  files/en-us/learn/index.md
  files/en-us/learn/javascript/asynchronous/index.md
  files/en-us/learn/javascript/building_blocks/index.md
  files/en-us/learn/javascript/client-side_web_apis/index.md
  files/en-us/learn/javascript/first_steps/index.md
  files/en-us/learn/javascript/index.md
  files/en-us/learn/javascript/objects/index.md
  files/en-us/learn/mathml/first_steps/index.md
  files/en-us/learn/mathml/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/index.md
  files/en-us/learn/tools_and_testing/cross_browser_testing/index.md
  files/en-us/learn/tools_and_testing/github/index.md
  files/en-us/learn/tools_and_testing/index.md
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/index.md
  files/en-us/web/css/index.md
  files/en-us/web/html/index.md
  files/en-us/web/javascript/index.md
Labels: Content:CSS, Content:HTML, Content:JS, Content:Learn, Content:Learn:Client-side, Content:Learn:JavaScript, Content:Learn:CSS, Content:Learn:HTML, Content:Learn:Accessibility, Content:Learn:Forms, Content:Learn:Cross-Browser-Testing, Content:Learn:GitHub, size/m

#32520 fix(worker): add missed statement line in example's code
  files/en-us/web/api/worker/worker/index.md
Labels: Content:WebAPI, size/xs

#32084 Add webextensions.manifest.content scripts.world
  files/en-us/mozilla/add-ons/webextensions/api/scripting/executionworld/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/content_scripts/index.md
Labels: Content:WebExt, size/s

#32335 visibility:collapse on spanning table cells
  files/en-us/web/css/visibility/index.md
Labels: Content:CSS, awaiting response, size/xs

#32566 Add highlighting to elements in text
  files/en-us/web/html/element/index.md
Labels: Content:HTML, size/xs

#32548 improve learning area landing page
  files/en-us/learn/index.md
Labels: Content:Learn, size/s

#32578 Update unicode-table.com -> symbl.cc
  files/en-us/web/javascript/reference/global_objects/json/index.md
Labels: Content:JS, size/xs

#32570 fix typo
  files/en-us/mozilla/firefox/releases/123/index.md
Labels: Content:Firefox, size/xs

#32577 fix(api): Replace mistakenly-deleted diagrams in Canvas tutorials
  files/en-us/web/api/canvas_api/tutorial/applying_styles_and_colors/canvas-grid.png
  files/en-us/web/api/canvas_api/tutorial/applying_styles_and_colors/canvas_createpattern.png
  files/en-us/web/api/canvas_api/tutorial/compositing/canvas_clipping_path.png
  files/en-us/web/api/canvas_api/tutorial/transformations/canvas_grid_rotate.png
  files/en-us/web/api/canvas_api/tutorial/transformations/canvas_grid_translate.png
  files/en-us/web/api/canvas_api/tutorial/transformations/index.md
Labels: Content:WebAPI, size/s

#32107 Improve the links meaning for the Accessibility and SEO.
  files/en-us/learn/javascript/first_steps/variables/index.md
Labels: Content:Learn:JavaScript, awaiting response, size/xs

#31893 docs(http): Add 'Reporting-Endpoints' response header, fix 'report-to' directive
  files/en-us/web/http/csp/index.md
  files/en-us/web/http/headers/content-security-policy-report-only/index.md
  files/en-us/web/http/headers/content-security-policy/report-uri/index.md
  files/en-us/web/http/headers/reporting-endpoints/index.md
Labels: Content:HTTP, size/m

#32586 fix(macro): update {{AvailableInWorkers}} positions, part 4
  files/en-us/mdn/writing_guidelines/page_structures/banners_and_notices/index.md
  files/en-us/mdn/writing_guidelines/page_structures/macros/commonly_used_macros/index.md
  files/en-us/web/api/url/createobjecturl_static/index.md
  files/en-us/web/api/url/revokeobjecturl_static/index.md
  files/en-us/web/api/xmlhttprequest/index.md
  files/en-us/web/api/xmlhttprequest_api/index.md
  files/en-us/web/api/xmlhttprequestupload/index.md
Labels: Content:WebAPI, Content:Meta, size/s

#32587 Update index.md
  files/en-us/web/api/event/index.md
Labels: Content:WebAPI, size/xs

#32543 Remove page for SVG onclick attribute
  files/en-us/_wikihistory.json
  files/en-us/web/svg/attribute/onclick/index.md
Labels: Content:SVG, size/m

#32588 chore(api): Remove screenshots from EmbedLiveSample calls
  files/en-us/web/api/canvas_api/tutorial/basic_usage/canvas_ex1.png
  files/en-us/web/api/canvas_api/tutorial/basic_usage/index.md
  files/en-us/web/api/canvas_api/tutorial/drawing_shapes/canvas_arc.png
  files/en-us/web/api/canvas_api/tutorial/drawing_shapes/canvas_bezier.png
  files/en-us/web/api/canvas_api/tutorial/drawing_shapes/canvas_lineto.png
  files/en-us/web/api/canvas_api/tutorial/drawing_shapes/canvas_quadratic.png
  files/en-us/web/api/canvas_api/tutorial/drawing_shapes/canvas_rect.png
  files/en-us/web/api/canvas_api/tutorial/drawing_shapes/canvas_smiley.png
  files/en-us/web/api/canvas_api/tutorial/drawing_shapes/combinations.png
  files/en-us/web/api/canvas_api/tutorial/drawing_shapes/index.md
  files/en-us/web/api/canvas_api/tutorial/drawing_shapes/path2d.png
  files/en-us/web/api/canvas_api/tutorial/drawing_shapes/shape_with_hole.png
  files/en-us/web/api/canvas_api/tutorial/drawing_shapes/triangle.png
  files/en-us/web/api/canvas_api/tutorial/using_images/canvas_backdrop.png
  files/en-us/web/api/canvas_api/tutorial/using_images/canvas_drawimage2.jpg
  files/en-us/web/api/canvas_api/tutorial/using_images/index.md
  files/en-us/web/api/canvasrenderingcontext2d/arc/canvas_arc.png
  files/en-us/web/api/canvasrenderingcontext2d/arc/index.md
  files/en-us/web/api/canvasrenderingcontext2d/fillstyle/canvas_fillstyle.png
  files/en-us/web/api/canvasrenderingcontext2d/fillstyle/index.md
  files/en-us/web/api/canvasrenderingcontext2d/globalalpha/canvas_globalalpha.png
  files/en-us/web/api/canvasrenderingcontext2d/globalalpha/index.md
  files/en-us/web/api/canvasrenderingcontext2d/linecap/canvas_linecap.png
  files/en-us/web/api/canvasrenderingcontext2d/linecap/index.md
  files/en-us/web/api/canvasrenderingcontext2d/linejoin/canvas_linejoin.png
  files/en-us/web/api/canvasrenderingcontext2d/linejoin/index.md
  files/en-us/web/api/canvasrenderingcontext2d/strokestyle/canvas_strokestyle.png
  files/en-us/web/api/canvasrenderingcontext2d/strokestyle/index.md
  files/en-us/web/css/_doublecolon_-moz-list-number/index.md
  files/en-us/web/css/_doublecolon_-moz-list-number/moz-list-number.png
  files/en-us/web/svg/element/fecolormatrix/index.md
  files/en-us/web/svg/element/fegaussianblur/index.md
Labels: Content:CSS, Content:WebAPI, Content:SVG, size/m, macros

#32561 update yari-content-ko team
  files/en-us/mdn/community/contributing/translated_content/index.md
Labels: Content:Meta, size/xs

#32508 Fix grammar error
  files/en-us/web/css/image/index.md
Labels: Content:CSS, size/xs

#32563 max interval is roughly 24.8 days
  files/en-us/web/api/setinterval/index.md
Labels: Content:WebAPI, size/xs

#32559 Update index.md
  files/en-us/web/api/webglrenderingcontext/clearcolor/index.md
Labels: Content:WebAPI, size/xs

#32547 docs(glossary): Add more info about lossy/lossless compression
  .vscode/project-words.txt
  files/en-us/glossary/brotli_compression/index.md
  files/en-us/glossary/gzip_compression/index.md
  files/en-us/glossary/lossless_compression/index.md
  files/en-us/glossary/lossy_compression/index.md
  files/en-us/glossary/zstandard_compression/index.md
Labels: Content:Glossary, system, size/s

#32596 Fix typo in "Introduction to client-side frameworks"
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/introduction/index.md
Labels: Content:Learn:Client-side, size/xs

#32506 chore: fix indentation in webassembly tutorials
  files/en-us/webassembly/understanding_the_text_format/index.md
Labels: Content:wasm, size/s

#32511 fix(learn): Update file name of code snippet in React todo tutorial
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/react_interactivity_events_state/index.md
Labels: Content:Learn:Client-side, size/xs

#32519 fix(ci): Fix GitHub workflow part in URL check script
  scripts/log-url-issues.js
Labels: system, size/m

#32224 docs(api): Add beginPath() before using rect() in canvas example
  files/en-us/web/api/canvasrenderingcontext2d/rect/index.md
Labels: Content:WebAPI, size/s

#32327 Fix associated interfaces section of aria-controls
  files/en-us/web/accessibility/aria/attributes/aria-controls/index.md
Labels: Content:Accessibility, size/xs

#32600 Update PerformanceNavigationTiming diagram
  files/en-us/web/api/performancenavigationtiming/timestamp-diagram.svg
Labels: Content:WebAPI, size/xs

#32601 Change "length" to "height"
  files/en-us/web/css/contain-intrinsic-height/index.md
Labels: Content:CSS, size/xs

#32562 Clarify handling of self-closing syntax in HTML parser documentation
  files/en-us/glossary/void_element/index.md
Labels: Content:Glossary, size/xs

#32112 Fix #32105 | Fix incorrect note about `autocomplete` attribute of `<input>` element of `button` type
  files/en-us/web/html/element/button/index.md
  files/en-us/web/html/element/input/button/index.md
Labels: Content:HTML, awaiting response, size/xs

#32608 HTMLElement.click() - can be called on any element unless disabled
  files/en-us/web/api/htmlelement/click/index.md
Labels: Content:WebAPI, size/s

#32354 FF124 Relnote: AbortSignal.any() supported
  files/en-us/mozilla/firefox/releases/124/index.md
Labels: Content:Firefox, size/xs

#32614 Fix a typo
  files/en-us/web/api/midioutput/index.md
Labels: Content:WebAPI, size/xs

#31813 New userScripts API note
  files/en-us/mozilla/add-ons/webextensions/api/userscripts/index.md
Labels: Content:WebExt, size/xs

#31670 webRequest flow clarification
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/index.md
Labels: Content:WebExt

#31786 Update bug ref for storage sync in Firefox for Android
  files/en-us/mozilla/add-ons/webextensions/api/storage/sync/index.md
Labels: Content:WebExt, size/xs

#32610 Update index.md: correct musicTrack.mute to musicTrack.onunmute
  files/en-us/web/api/mediastreamtrack/unmute_event/index.md
Labels: Content:WebAPI, size/xs

#32602 HTTP Warning Header - deprecation warning
  files/en-us/web/http/headers/warning/index.md
Labels: Content:HTTP, size/xs

#32569 Add recommendation to use the WEBGL_provoking_vertex extension if available.
  files/en-us/web/api/webgl_api/webgl_best_practices/index.md
Labels: Content:WebAPI, size/s

#32617 Fix typo
  files/en-us/web/api/webtransportbidirectionalstream/index.md
Labels: Content:WebAPI, size/xs

#32622 Fix typo under "Determining storage access by a third party"
  files/en-us/web/api/web_storage_api/index.md
Labels: Content:WebAPI, size/xs

#32631 Fix #32630
  files/en-us/web/javascript/reference/errors/cant_access_lexical_declaration_before_init/index.md
Labels: Content:JS, size/xs

#32632 Fix outdated link
  files/en-us/web/javascript/reference/classes/index.md
Labels: Content:JS, size/xs

#32634 Grammar fix
  files/en-us/web/api/characterdata/replacewith/index.md
Labels: Content:WebAPI, size/xs

#32533 Bluetooth - fix a few errors and add security considerations
  files/en-us/web/api/bluetooth/getavailability/index.md
  files/en-us/web/api/bluetooth/getdevices/index.md
  files/en-us/web/api/bluetooth/index.md
  files/en-us/web/api/bluetooth/requestdevice/index.md
  files/en-us/web/api/web_bluetooth_api/index.md
  files/en-us/web/http/headers/permissions-policy/bluetooth/index.md
  files/en-us/web/http/headers/permissions-policy/index.md
Labels: Content:WebAPI, Content:HTTP, size/m

#32628 Add more relevant frame buffer methods
  files/en-us/web/api/webglframebuffer/index.md
Labels: Content:WebAPI, size/xs

#32604 Fix misleading information regarding default value of `lang` attribute
  files/en-us/web/html/global_attributes/lang/index.md
Labels: Content:HTML, size/xs

#32597 chore: remove unused image
  files/en-us/web/api/canvas_api/tutorial/using_images/canvas_scale_image.png
Labels: Content:WebAPI, size/xs

#32642 Add comment functions/method_definintions/index.md
  files/en-us/web/javascript/reference/functions/method_definitions/index.md
Labels: Content:JS, size/xs

#32571 New glossary: Color space
  files/en-us/glossary/color_space/index.md
Labels: Content:Glossary, size/m

#32647 Add Technical Summary to the sidebar
  files/en-us/web/html/element/input/index.md
Labels: Content:HTML, size/xs

#32648 Update example guide/indexed_collections/index.md
  files/en-us/web/javascript/guide/indexed_collections/index.md
Labels: Content:JS, size/s

#32641 Add link computed property names classes/constructor/index.md
  files/en-us/web/javascript/reference/classes/constructor/index.md
Labels: Content:JS, size/xs

#32581 chore(api): Make macros with line breaks span a single line only, 1 of 4
  files/en-us/web/api/animation/updateplaybackrate/index.md
  files/en-us/web/api/audiobuffer/duration/index.md
  files/en-us/web/api/audiobuffer/samplerate/index.md
  files/en-us/web/api/audiobuffersourcenode/buffer/index.md
  files/en-us/web/api/audiobuffersourcenode/loopstart/index.md
  files/en-us/web/api/audiocontext/createmediastreamsource/index.md
  files/en-us/web/api/audiocontext/createmediastreamtracksource/index.md
  files/en-us/web/api/audionode/connect/index.md
  files/en-us/web/api/audioparam/exponentialramptovalueattime/index.md
  files/en-us/web/api/audioparam/linearramptovalueattime/index.md
  files/en-us/web/api/audioparam/value/index.md
  files/en-us/web/api/audioscheduledsourcenode/start/index.md
  files/en-us/web/api/audioscheduledsourcenode/stop/index.md
  files/en-us/web/api/audiotrack/label/index.md
  files/en-us/web/api/audiotracklist/gettrackbyid/index.md
  files/en-us/web/api/audiotracklist/length/index.md
  files/en-us/web/api/audioworkletglobalscope/registerprocessor/index.md
  files/en-us/web/api/audioworkletnode/parameters/index.md
  files/en-us/web/api/audioworkletprocessor/audioworkletprocessor/index.md
  files/en-us/web/api/audioworkletprocessor/parameterdescriptors/index.md
  files/en-us/web/api/baseaudiocontext/createbuffer/index.md
  files/en-us/web/api/baseaudiocontext/createbuffersource/index.md
  files/en-us/web/api/baseaudiocontext/createdynamicscompressor/index.md
  files/en-us/web/api/baseaudiocontext/createiirfilter/index.md
  files/en-us/web/api/baseaudiocontext/samplerate/index.md
  files/en-us/web/api/biquadfilternode/getfrequencyresponse/index.md
  files/en-us/web/api/blob/stream/index.md
  files/en-us/web/api/blob/text/index.md
  files/en-us/web/api/broadcastchannel/broadcastchannel/index.md
  files/en-us/web/api/btoa/index.md
  files/en-us/web/api/canvasrenderingcontext2d/createradialgradient/index.md
  files/en-us/web/api/canvasrenderingcontext2d/filltext/index.md
  files/en-us/web/api/canvasrenderingcontext2d/linejoin/index.md
  files/en-us/web/api/canvasrenderingcontext2d/resettransform/index.md
  files/en-us/web/api/canvasrenderingcontext2d/save/index.md
  files/en-us/web/api/canvasrenderingcontext2d/stroke/index.md
  files/en-us/web/api/clients/openwindow/index.md
  files/en-us/web/api/cssstylesheet/addrule/index.md
  files/en-us/web/api/cssunparsedvalue/entries/index.md
  files/en-us/web/api/datatransfer/items/index.md
  files/en-us/web/api/document/adoptnode/index.md
  files/en-us/web/api/document/createdocumentfragment/index.md
  files/en-us/web/api/document/defaultview/index.md
  files/en-us/web/api/document/elementsfrompoint/index.md
  files/en-us/web/api/document/getelementsbyclassname/index.md
  files/en-us/web/api/document/getelementsbytagnamens/index.md
  files/en-us/web/api/document/images/index.md
  files/en-us/web/api/document/mozsetimageelement/index.md
  files/en-us/web/api/document/vlinkcolor/index.md
  files/en-us/web/api/domimplementation/createhtmldocument/index.md
Labels: Content:WebAPI, size/m, macros

#32584 chore(api): Make macros with line breaks span a single line only, 4 of 4
  files/en-us/web/api/videotracklist/gettrackbyid/index.md
  files/en-us/web/api/videotracklist/length/index.md
  files/en-us/web/api/webgl2renderingcontext/drawbuffers/index.md
  files/en-us/web/api/webgl2renderingcontext/drawelementsinstanced/index.md
  files/en-us/web/api/webgl2renderingcontext/vertexattribdivisor/index.md
  files/en-us/web/api/webglrenderingcontext/clear/index.md
  files/en-us/web/api/webglrenderingcontext/drawarrays/index.md
  files/en-us/web/api/webglrenderingcontext/enablevertexattribarray/index.md
  files/en-us/web/api/webglrenderingcontext/generatemipmap/index.md
  files/en-us/web/api/webglrenderingcontext/getactiveattrib/index.md
  files/en-us/web/api/webglrenderingcontext/getactiveuniform/index.md
  files/en-us/web/api/webglrenderingcontext/getparameter/index.md
  files/en-us/web/api/webglrenderingcontext/gettexparameter/index.md
  files/en-us/web/api/webglrenderingcontext/stencilfunc/index.md
  files/en-us/web/api/webglrenderingcontext/stencilfuncseparate/index.md
  files/en-us/web/api/webglrenderingcontext/stencilop/index.md
  files/en-us/web/api/webglrenderingcontext/stencilopseparate/index.md
  files/en-us/web/api/webglrenderingcontext/vertexattrib/index.md
  files/en-us/web/api/webglrenderingcontext/vertexattribpointer/index.md
  files/en-us/web/api/websockets_api/writing_websocket_client_applications/index.md
  files/en-us/web/api/window/getcomputedstyle/index.md
  files/en-us/web/api/window/getselection/index.md
  files/en-us/web/api/window/innerheight/index.md
  files/en-us/web/api/window/matchmedia/index.md
  files/en-us/web/api/window/postmessage/index.md
  files/en-us/web/api/window/scrolly/index.md
  files/en-us/web/api/xmlhttprequest/getallresponseheaders/index.md
  files/en-us/web/api/xmlhttprequest/getresponseheader/index.md
  files/en-us/web/api/xmlhttprequest/open/index.md
  files/en-us/web/api/xmlhttprequest/overridemimetype/index.md
  files/en-us/web/api/xmlhttprequest/response/index.md
  files/en-us/web/api/xpathevaluator/creatensresolver/index.md
  files/en-us/web/api/xrframe/getviewerpose/index.md
  files/en-us/web/api/xrinputsource/gripspace/index.md
  files/en-us/web/api/xrinputsource/targetrayspace/index.md
  files/en-us/web/api/xrinputsourcearray/keys/index.md
  files/en-us/web/api/xrinputsourcearray/values/index.md
  files/en-us/web/api/xrinputsourceevent/frame/index.md
  files/en-us/web/api/xrinputsourceevent/inputsource/index.md
  files/en-us/web/api/xrpose/transform/index.md
  files/en-us/web/api/xrreferencespace/getoffsetreferencespace/index.md
  files/en-us/web/api/xrrenderstate/baselayer/index.md
  files/en-us/web/api/xrrigidtransform/matrix/index.md
  files/en-us/web/api/xrsession/cancelanimationframe/index.md
  files/en-us/web/api/xrsession/visibilitystate/index.md
  files/en-us/web/api/xrviewport/x/index.md
  files/en-us/web/api/xrviewport/y/index.md
  files/en-us/web/api/xrwebgllayer/framebuffer/index.md
  files/en-us/web/api/xrwebgllayer/getnativeframebufferscalefactor_static/index.md
  files/en-us/web/api/xrwebgllayer/ignoredepthvalues/index.md
  files/en-us/web/http/headers/content-range/index.md
  files/en-us/web/http/headers/content-security-policy/index.md
  files/en-us/web/http/headers/x-dns-prefetch-control/index.md
  files/en-us/web/http/methods/connect/index.md
  files/en-us/web/http/status/302/index.md
  files/en-us/web/javascript/reference/global_objects/map/index.md
Labels: Content:WebAPI, Content:JS, Content:HTTP, size/m, macros

#32582 chore(api): Make macros with line breaks span a single line only, 2 of 4
  files/en-us/web/api/dompoint/frompoint_static/index.md
  files/en-us/web/api/dompoint/w/index.md
  files/en-us/web/api/dompoint/x/index.md
  files/en-us/web/api/dompoint/y/index.md
  files/en-us/web/api/dompoint/z/index.md
  files/en-us/web/api/dompointreadonly/frompoint_static/index.md
  files/en-us/web/api/dompointreadonly/x/index.md
  files/en-us/web/api/dompointreadonly/y/index.md
  files/en-us/web/api/dompointreadonly/z/index.md
  files/en-us/web/api/element/id/index.md
  files/en-us/web/api/element/scrollheight/index.md
  files/en-us/web/api/element/scrollwidth/index.md
  files/en-us/web/api/element/setcapture/index.md
  files/en-us/web/api/event/cancelable/index.md
  files/en-us/web/api/event/eventphase/index.md
  files/en-us/web/api/eventtarget/addeventlistener/index.md
  files/en-us/web/api/featurepolicy/allowedfeatures/index.md
  files/en-us/web/api/fetchevent/respondwith/index.md
  files/en-us/web/api/filereader/result/index.md
  files/en-us/web/api/filesystemdirectoryentry/createreader/index.md
  files/en-us/web/api/filesystementry/name/index.md
  files/en-us/web/api/filesystemhandle/issameentry/index.md
  files/en-us/web/api/focusevent/focusevent/index.md
  files/en-us/web/api/gamepad/buttons/index.md
  files/en-us/web/api/history/go/index.md
  files/en-us/web/api/htmlaudioelement/audio/index.md
  files/en-us/web/api/htmlelement/dataset/index.md
  files/en-us/web/api/htmlimageelement/crossorigin/index.md
  files/en-us/web/api/htmlimageelement/image/index.md
  files/en-us/web/api/htmlimageelement/naturalheight/index.md
  files/en-us/web/api/htmlimageelement/naturalwidth/index.md
  files/en-us/web/api/htmlimageelement/sizes/index.md
  files/en-us/web/api/htmlimageelement/srcset/index.md
  files/en-us/web/api/htmlimageelement/width/index.md
  files/en-us/web/api/htmlimageelement/x/index.md
  files/en-us/web/api/htmlinputelement/stepdown/index.md
  files/en-us/web/api/htmlinputelement/stepup/index.md
  files/en-us/web/api/htmlmediaelement/ended/index.md
  files/en-us/web/api/htmlvideoelement/requestpictureinpicture/index.md
  files/en-us/web/api/idledeadline/timeremaining/index.md
  files/en-us/web/api/idledetector/index.md
  files/en-us/web/api/keyboardevent/charcode/index.md
  files/en-us/web/api/keyboardevent/initkeyevent/index.md
  files/en-us/web/api/mediadeviceinfo/groupid/index.md
  files/en-us/web/api/mediaelementaudiosourcenode/mediaelement/index.md
  files/en-us/web/api/mediaquerylist/media/index.md
  files/en-us/web/api/mediarecorder/error_event/index.md
  files/en-us/web/api/mediarecorder/mediarecorder/index.md
  files/en-us/web/api/mediarecorder/start/index.md
  files/en-us/web/api/mediarecordererrorevent/error/index.md
  files/en-us/web/api/mediasession/setpositionstate/index.md
  files/en-us/web/api/mediasource/addsourcebuffer/index.md
  files/en-us/web/api/mediastream/getaudiotracks/index.md
  files/en-us/web/api/mediastream/getvideotracks/index.md
Labels: Content:WebAPI, size/m, macros

#32651 Remove the contextmenu global HTML attribute
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/firefox/releases/20/index.md
  files/en-us/web/html/attributes/index.md
  files/en-us/web/html/global_attributes/contextmenu/index.md
  files/en-us/web/html/global_attributes/contextmenu/promobutton_mdn5.png
  files/en-us/web/html/global_attributes/index.md
Labels: Content:HTML, Content:Firefox, size/m

#32590 docs(relnotes): Remove 'Adapting XUL Applications for Firefox 1.5' guide with redirect
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/firefox/releases/1.5/adapting_xul_applications_for_firefox_1.5/index.md
  files/en-us/mozilla/firefox/releases/1.5/index.md
Labels: Content:Firefox, size/m

#32646 feat: link to def of flex base size
  files/en-us/web/css/css_flexible_box_layout/controlling_ratios_of_flex_items_along_the_main_axis/index.md
Labels: Content:CSS, size/xs

#32650 fix incorrect link
  files/en-us/webassembly/c_to_wasm/index.md
Labels: Content:wasm, size/xs

#32660 Add note about `compareDocumentPosition()` returning 0
  files/en-us/web/api/node/comparedocumentposition/index.md
Labels: Content:WebAPI, size/xs

#32643 fix(learn): Update page titles
  files/en-us/learn/css/first_steps/index.md
  files/en-us/learn/forms/index.md
  files/en-us/learn/javascript/first_steps/index.md
  files/en-us/learn/mathml/first_steps/index.md
Labels: Content:Learn, Content:Learn:JavaScript, Content:Learn:CSS, Content:Learn:Forms, size/s

#32467 32339 svg text firsts
  files/en-us/web/css/_doublecolon_first-letter/index.md
  files/en-us/web/css/_doublecolon_first-line/index.md
  files/en-us/web/css/white-space/index.md
  files/en-us/web/svg/element/text/index.md
  files/en-us/web/svg/element/tspan/index.md
Labels: Content:CSS, Content:SVG, size/m

#32659 Changed the link to websniffer.com (the site has moved)
  files/en-us/web/svg/tutorial/getting_started/index.md
Labels: Content:SVG, size/xs

#32672 remove a word
  files/en-us/web/css/css_colors/index.md
Labels: Content:CSS

#32279 Added Chrome supported properties to tabs.Tab
  files/en-us/mozilla/add-ons/webextensions/api/tabs/query/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/tab/index.md
Labels: Content:WebExt, size/s

#32671 <color-function> data type
  files/en-us/web/css/color_value/index.md
  files/en-us/web/css/css_colors/index.md
Labels: Content:CSS, size/xs

#32667 update link text (missing components in color interpolation)
  files/en-us/web/css/color_value/index.md
Labels: Content:CSS, size/xs

#32654 fix: correct the description of the progress bar
  files/en-us/web/media/audio_and_video_delivery/buffering_seeking_time_ranges/index.md
Labels: Content:Media, size/xs

#32219 Fix #31665 | issue for "same page" in the note
  files/en-us/web/api/window/storage_event/index.md
Labels: Content:WebAPI, size/xs

#32123 Format parameter for `CredentialsContainer.create()` & `CredentialsContainer.get()`
  files/en-us/web/api/credentialscontainer/create/index.md
  files/en-us/web/api/credentialscontainer/get/index.md
Labels: Content:WebAPI, size/s

#32669 Fix issue 32211: don't talk about dl twice
  files/en-us/learn/html/introduction_to_html/advanced_text_formatting/index.md
  files/en-us/learn/html/introduction_to_html/html_text_fundamentals/index.md
Labels: Content:Learn:HTML, size/m

#32652 update RGB glossary
  files/en-us/glossary/rgb/index.md
Labels: Content:Glossary, size/s

#32675 chore(macros): Replace no_tag_omission macro with line of text
  files/en-us/web/html/element/fencedframe/index.md
Labels: Content:HTML, size/xs, macros

#32668 Update tag omission descriptions for consistency
  files/en-us/web/html/element/base/index.md
  files/en-us/web/html/element/br/index.md
  files/en-us/web/html/element/col/index.md
  files/en-us/web/html/element/embed/index.md
  files/en-us/web/html/element/hr/index.md
  files/en-us/web/html/element/link/index.md
  files/en-us/web/html/element/meta/index.md
  files/en-us/web/html/element/param/index.md
  files/en-us/web/html/element/source/index.md
  files/en-us/web/html/element/track/index.md
  files/en-us/web/html/element/wbr/index.md
Labels: Content:HTML, size/s

#32222 Add runtime.on performance warning
  files/en-us/mozilla/add-ons/webextensions/api/runtime/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/onperformancewarning/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/onperformancewarningcategory/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/onperformancewarningseverity/index.md
  files/en-us/mozilla/firefox/releases/124/index.md
Labels: Content:WebExt, Content:Firefox, size/m

#27699 Added Note for the synchoronous Nature of the Web Storage API
  files/en-us/web/api/web_storage_api/index.md
Labels: Content:WebAPI, size/s

#32680 Fixed typo in "Handling common JavaScript problems"
  files/en-us/learn/tools_and_testing/cross_browser_testing/javascript/index.md
Labels: Content:Learn:Cross-Browser-Testing, size/xs

#32684 fix(learn): update Keith Peters about page location
  files/en-us/learn/javascript/index.md
Labels: Content:Learn:JavaScript, size/xs

#32666 Update Firefox 124 release notes for WebDriver conforming changes
  files/en-us/mozilla/firefox/releases/124/index.md
Labels: Content:Firefox, size/s

#32555 Add criticalCHRestart docs
  files/en-us/web/api/performancenavigationtiming/criticalchrestart/index.md
  files/en-us/web/api/performancenavigationtiming/index.md
  files/en-us/web/http/headers/critical-ch/index.md
Labels: Content:WebAPI, Content:HTTP, size/m

#32471 feat: editorial review: Add documentation for display-mode: picture-in-picture
  files/en-us/web/api/document_picture-in-picture_api/index.md
  files/en-us/web/api/document_picture-in-picture_api/using/index.md
  files/en-us/web/css/@media/display-mode/index.md
  files/en-us/web/css/@media/index.md
Labels: Content:CSS, Content:WebAPI, size/m

#32689 Clarify stylesheetlist notebox
  files/en-us/web/api/stylesheetlist/index.md
Labels: Content:WebAPI, size/xs

#32679 Change my status for advisory board
  files/en-us/mdn/mdn_product_advisory_board/index.md
Labels: Content:Meta, size/xs

#32452 RTCCodecStats - add docs
  files/en-us/web/api/rtccodecstats/channels/index.md
  files/en-us/web/api/rtccodecstats/clockrate/index.md
  files/en-us/web/api/rtccodecstats/id/index.md
  files/en-us/web/api/rtccodecstats/index.md
  files/en-us/web/api/rtccodecstats/mimetype/index.md
  files/en-us/web/api/rtccodecstats/payloadtype/index.md
  files/en-us/web/api/rtccodecstats/sdpfmtpline/index.md
  files/en-us/web/api/rtccodecstats/timestamp/index.md
  files/en-us/web/api/rtccodecstats/transportid/index.md
  files/en-us/web/api/rtccodecstats/type/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, size/m

#32690 added glossary term to css module page.
  files/en-us/web/css/css_colors/index.md
Labels: Content:CSS, size/xs

#32687 Add content categories
  files/en-us/web/html/element/summary/index.md
Labels: Content:HTML, size/s

#32638 Bluetooth.requestDevice() update the options
  files/en-us/web/api/bluetooth/requestdevice/index.md
  files/en-us/web/api/bluetoothdevice/index.md
  files/en-us/web/api/bluetoothremotegattcharacteristic/index.md
Labels: Content:WebAPI, size/m

#32658 Changed link from websniffer.cc to websniffer.com (the site has moved)
  files/en-us/learn/server-side/first_steps/client-server_overview/index.md
Labels: Content:Learn, size/xs

#30023 Update index.md with more generic replacer/reviver for BigInt
  files/en-us/web/javascript/reference/global_objects/bigint/index.md
Labels: Content:JS, awaiting response, size/s

#31648 Document Intl.DateTimeFormat first argument locales accepts undefined
  files/en-us/web/javascript/reference/global_objects/intl/collator/collator/index.md
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/datetimeformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/displaynames/displaynames/index.md
  files/en-us/web/javascript/reference/global_objects/intl/durationformat/durationformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/listformat/listformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/numberformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/pluralrules/pluralrules/index.md
  files/en-us/web/javascript/reference/global_objects/intl/relativetimeformat/relativetimeformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/segmenter/segmenter/index.md
Labels: Content:JS, size/s

#31593 Show how to access private properties in syntax section
  files/en-us/web/javascript/reference/classes/private_properties/index.md
  files/en-us/web/javascript/reference/operators/property_accessors/index.md
Labels: Content:JS, size/s

#32305 Delete ARIA annotations page
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/firefox/releases/75/index.md
  files/en-us/web/accessibility/aria/annotations/index.md
  files/en-us/web/accessibility/aria/aria_guides/index.md
  files/en-us/web/accessibility/aria/aria_live_regions/index.md
  files/en-us/web/accessibility/aria/aria_screen_reader_implementors_guide/index.md
  files/en-us/web/accessibility/aria/aria_techniques/index.md
  files/en-us/web/accessibility/aria/how_to_file_aria-related_bugs/index.md
  files/en-us/web/accessibility/aria/index.md
  files/en-us/web/accessibility/aria/multipart_labels/index.md
  files/en-us/web/accessibility/aria/roles/comment_role/index.md
  files/en-us/web/accessibility/aria/roles/mark_role/index.md
  files/en-us/web/accessibility/aria/roles/suggestion_role/index.md
Labels: Content:Accessibility, Content:Firefox, size/m

#32343 Remove useless comment
  files/en-us/web/javascript/reference/global_objects/parseint/index.md
Labels: Content:JS, size/xs

#32310 Enhance compare function docs
  files/en-us/web/javascript/reference/global_objects/array/sort/index.md
  files/en-us/web/javascript/reference/global_objects/array/tosorted/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/sort/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/tosorted/index.md
Labels: Content:JS, size/s

#32677 Tools section: added Phoenix WebSocket
  files/en-us/web/api/websockets_api/index.md
Labels: Content:WebAPI, size/xs

#27137 Improve "How to build custom form controls" tutorial
  files/en-us/learn/forms/how_to_build_custom_form_controls/example_3/index.md
  files/en-us/learn/forms/how_to_build_custom_form_controls/example_4/index.md
  files/en-us/learn/forms/how_to_build_custom_form_controls/example_5/index.md
  files/en-us/learn/forms/how_to_build_custom_form_controls/index.md
Labels: Content:Learn:Forms, awaiting response, size/s

#32692 Writablestream encoderfix
  files/en-us/web/api/writablestream/writablestream/index.md
Labels: Content:WebAPI, size/m

#32315 form submission to non-HTTP URL schemes
  files/en-us/learn/forms/sending_and_retrieving_form_data/index.md
Labels: Content:Learn:Forms, size/xs

#32132 fix(learn): Remove errors discovered while following Angular todo list app Guide
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/angular_todo_list_beginning/index.md
Labels: Content:Learn:Client-side, size/xs

#32609 FF124 reverted release of screen wakelock API
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/124/index.md
Labels: Content:Firefox, size/s

#32702 chore(api): Fix trailing brackets left over from search/replace
  files/en-us/web/api/xrwebgllayer/framebuffer/index.md
Labels: Content:WebAPI, size/s

#32706 Fix typo
  files/en-us/web/api/webtransport_api/index.md
Labels: Content:WebAPI, size/xs

#32707 replaced `img` by `form` in examples for rel="noreferrer"
  files/en-us/web/security/referer_header_colon__privacy_and_security_concerns/index.md
Labels: Content:Security, size/xs

#32712 Fix incomplete sentence on enumerability and ownership of properties
  files/en-us/web/javascript/enumerability_and_ownership_of_properties/index.md
Labels: Content:JS, size/xs

#32714 Update index.md
  files/en-us/learn/forms/basic_native_form_controls/index.md
Labels: Content:Learn:Forms, size/xs

#32697 Reference for stage 3 json-parse-with-source
  files/en-us/web/javascript/reference/global_objects/bigint/index.md
  files/en-us/web/javascript/reference/global_objects/json/index.md
  files/en-us/web/javascript/reference/global_objects/json/israwjson/index.md
  files/en-us/web/javascript/reference/global_objects/json/parse/index.md
  files/en-us/web/javascript/reference/global_objects/json/rawjson/index.md
  files/en-us/web/javascript/reference/global_objects/json/stringify/index.md
Labels: Content:JS, size/m

#32715 Update index.md
  files/en-us/learn/server-side/django/authentication/index.md
Labels: Content:Learn:Django, size/xs

#32639 Add more relevant render buffer methods
  files/en-us/web/api/webglrenderbuffer/index.md
Labels: Content:WebAPI, size/s

#32726 Fix formatting
  files/en-us/web/javascript/reference/operators/exponentiation_assignment/index.md
Labels: Content:JS, size/xs

#32685 Jump to anchor results in scrolling on overflow: hidden
  files/en-us/web/css/overflow/index.md
Labels: Content:CSS, size/xs

#32713 Update incorrect warning
  files/en-us/web/api/window/postmessage/index.md
Labels: Content:WebAPI, size/m

#32027 New guide for the EditContext API
  files/en-us/web/api/editcontext_api/guide/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, size/m

#32722 minor fix: fix variable name
  files/en-us/web/api/css_properties_and_values_api/index.md
Labels: Content:WebAPI, size/xs

#32729 added release note for text-wrap & content-visibility
  files/en-us/mozilla/firefox/releases/124/index.md
Labels: Content:Firefox, size/xs

#27927 Change fetch description to match real world experience
  files/en-us/web/api/fetch/index.md
Labels: Content:WebAPI, size/xs

#32738 replace non-existent @top-middle page margin box with @top-center
  files/en-us/web/css/page/index.md
Labels: Content:CSS, size/s

#32701 docs(learn): Revise Angular tutorial for v17
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/angular_building/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/angular_getting_started/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/angular_item_component/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/angular_styling/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/angular_todo_list_beginning/index.md
Labels: Content:Learn:Client-side, size/m

#32004 feat: Editorial review, Relative color syntax
  files/en-us/web/css/color_value/color/index.md
  files/en-us/web/css/color_value/hsl/index.md
  files/en-us/web/css/color_value/hwb/index.md
  files/en-us/web/css/color_value/index.md
  files/en-us/web/css/color_value/lab/index.md
  files/en-us/web/css/color_value/lch/index.md
  files/en-us/web/css/color_value/oklab/index.md
  files/en-us/web/css/color_value/oklch/index.md
  files/en-us/web/css/color_value/rgb/index.md
  files/en-us/web/css/css_colors/applying_color/index.md
  files/en-us/web/css/css_colors/index.md
  files/en-us/web/css/css_colors/relative_colors/index.md
  files/en-us/web/css/hue/index.md
Labels: Content:CSS, size/xl

#32740 Update link rel preload to reflect browser support
  files/en-us/web/html/attributes/rel/preload/index.md
Labels: Content:HTML, size/s
