Repository mdn/content, pull requests merged in 2024-11, with the labels that each got.

#36526 Add an example of measuring prerendering activations
  files/en-us/web/api/document/prerendering/index.md
  files/en-us/web/api/document/prerenderingchange_event/index.md
Labels: Content:WebAPI, size/m

#36589 chore(css): Move CSS examples - Visual formatting model
  files/en-us/web/css/visual_formatting_model/index.md
Labels: Content:CSS, size/m

#36611 chore(markdown): lowercase language identifiers
  files/en-us/web/accessibility/aria/index.md
  files/en-us/web/accessibility/aria/roles/search_role/index.md
  files/en-us/web/api/xsltprocessor/clearparameters/index.md
Labels: Content:WebAPI, Content:Accessibility, size/s

#36612 fix(docs): non-standard script tags in the attribution reporting api …
  files/en-us/web/api/attribution_reporting_api/registering_sources/index.md
  files/en-us/web/api/attribution_reporting_api/registering_triggers/index.md
Labels: Content:WebAPI, size/xs

#36604 Fix: Typo and grammar
  files/en-us/web/security/mixed_content/index.md
Labels: Content:Security, size/xs

#36614 docs: remove outdated XPath https://www.w3.org/TR/ link
  files/en-us/web/xpath/introduction_to_using_xpath_in_javascript/index.md
Labels: Content:Other, size/xs

#36616 Remove all extraneous empty lines around kbd-in-list
  files/en-us/learn/common_questions/tools_and_setup/what_are_browser_developer_tools/index.md
  files/en-us/learn/css/styling_text/styling_links/index.md
  files/en-us/learn/forms/how_to_build_custom_form_controls/index.md
  files/en-us/learn/forms/ui_pseudo-classes/index.md
  files/en-us/learn/html/multimedia_and_embedding/responsive_images/index.md
  files/en-us/learn/performance/what_is_web_performance/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/commands/index.md
  files/en-us/web/accessibility/aria/roles/listbox_role/index.md
  files/en-us/web/api/keyboardevent/charcode/index.md
  files/en-us/web/api/keyboardevent/index.md
  files/en-us/web/api/keyboardevent/key/index.md
  files/en-us/web/api/webxr_device_api/movement_and_motion/index.md
  files/en-us/web/html/element/select/index.md
Labels: Content:HTML, Content:WebExt, Content:WebAPI, Content:Learn, Content:Accessibility, Content:Learn:CSS, Content:Learn:HTML, Content:Learn:Forms, size/m

#36617 Small content fixes for rari
  files/en-us/web/accessibility/aria/aria_live_regions/index.md
  files/en-us/web/accessibility/aria/roles/dialog_role/index.md
  files/en-us/web/accessibility/understanding_wcag/perceivable/index.md
  files/en-us/web/accessibility/understanding_wcag/understandable/index.md
  files/en-us/web/security/practical_implementation_guides/tls/index.md
Labels: Content:Accessibility, Content:Security, size/s

#36541 What Went Wrong exercise: Remove warning about live server code injection and line numbers
  files/en-us/learn/javascript/first_steps/what_went_wrong/console-log-output.png
  files/en-us/learn/javascript/first_steps/what_went_wrong/index.md
  files/en-us/learn/javascript/first_steps/what_went_wrong/not-a-function.png
  files/en-us/learn/javascript/first_steps/what_went_wrong/variable-is-null.png
Labels: Content:Learn:JavaScript, size/s

#36457 Update: Subresource Intergrity doc
  files/en-us/web/security/subresource_integrity/index.md
Labels: Content:Security, size/s

#36527 RTCIceCandidatePairStats - updates
  files/en-us/_redirects.txt
  files/en-us/web/api/rtcicecandidatepairstats/availableincomingbitrate/index.md
  files/en-us/web/api/rtcicecandidatepairstats/availableoutgoingbitrate/index.md
  files/en-us/web/api/rtcicecandidatepairstats/bytesdiscardedonsend/index.md
  files/en-us/web/api/rtcicecandidatepairstats/bytesreceived/index.md
  files/en-us/web/api/rtcicecandidatepairstats/bytessent/index.md
  files/en-us/web/api/rtcicecandidatepairstats/consentrequestssent/index.md
  files/en-us/web/api/rtcicecandidatepairstats/currentroundtriptime/index.md
  files/en-us/web/api/rtcicecandidatepairstats/index.md
  files/en-us/web/api/rtcicecandidatepairstats/lastpacketreceivedtimestamp/index.md
  files/en-us/web/api/rtcicecandidatepairstats/lastpacketsenttimestamp/index.md
  files/en-us/web/api/rtcicecandidatepairstats/localcandidateid/index.md
  files/en-us/web/api/rtcicecandidatepairstats/nominated/index.md
  files/en-us/web/api/rtcicecandidatepairstats/packetsdiscardedonsend/index.md
  files/en-us/web/api/rtcicecandidatepairstats/packetsreceived/index.md
  files/en-us/web/api/rtcicecandidatepairstats/packetssent/index.md
  files/en-us/web/api/rtcicecandidatepairstats/priority/index.md
  files/en-us/web/api/rtcicecandidatepairstats/readable/index.md
  files/en-us/web/api/rtcicecandidatepairstats/remotecandidateid/index.md
  files/en-us/web/api/rtcicecandidatepairstats/requestsreceived/index.md
  files/en-us/web/api/rtcicecandidatepairstats/requestssent/index.md
  files/en-us/web/api/rtcicecandidatepairstats/responsesreceived/index.md
  files/en-us/web/api/rtcicecandidatepairstats/responsessent/index.md
  files/en-us/web/api/rtcicecandidatepairstats/selected/index.md
  files/en-us/web/api/rtcicecandidatepairstats/state/index.md
  files/en-us/web/api/rtcicecandidatepairstats/totalroundtriptime/index.md
  files/en-us/web/api/rtcicecandidatepairstats/transportid/index.md
  files/en-us/web/api/rtcicecandidatepairstats/writable/index.md
Labels: Content:WebAPI, size/l

#36609 Add beginRenderPass() depthSlice config option
  files/en-us/web/api/gpucommandencoder/beginrenderpass/index.md
Labels: Content:WebAPI, size/xs

#36608 fix(example): correction example, replace waitFor
  files/en-us/web/api/hiddevice/forget/index.md
  files/en-us/web/api/hiddevice/index.md
  files/en-us/web/api/hiddevice/sendfeaturereport/index.md
Labels: Content:WebAPI, size/s

#35692 HTML autocorrect attribute
  files/en-us/web/api/htmlelement/autocorrect/index.md
  files/en-us/web/api/htmlelement/index.md
  files/en-us/web/html/element/input/email/index.md
  files/en-us/web/html/element/input/index.md
  files/en-us/web/html/element/input/password/index.md
  files/en-us/web/html/element/input/search/index.md
  files/en-us/web/html/element/input/tel/index.md
  files/en-us/web/html/element/input/text/index.md
  files/en-us/web/html/element/input/url/index.md
  files/en-us/web/html/element/textarea/index.md
  files/en-us/web/html/global_attributes/autocorrect/index.md
  files/en-us/web/html/global_attributes/index.md
Labels: Content:HTML, Content:WebAPI, size/m

#36619 Lexical Grammar - ID_Start not applied to _ or $
  files/en-us/web/javascript/reference/lexical_grammar/index.md
Labels: Content:JS, size/s

#36621 Synchronize with BCD v5.6.12
  files/en-us/web/api/htmlelement/autocorrect/index.md
  files/en-us/web/api/htmlelement/index.md
  files/en-us/web/api/rtcicecandidatepairstats/bytesdiscardedonsend/index.md
  files/en-us/web/api/rtcicecandidatepairstats/consentrequestssent/index.md
  files/en-us/web/api/rtcicecandidatepairstats/index.md
  files/en-us/web/api/rtcicecandidatepairstats/packetsdiscardedonsend/index.md
  files/en-us/web/api/rtcicecandidatepairstats/packetsreceived/index.md
  files/en-us/web/api/rtcicecandidatepairstats/packetssent/index.md
  files/en-us/web/html/global_attributes/autocorrect/index.md
Labels: Content:HTML, Content:WebAPI, size/s

#36607 chore(css): Move CSS examples - Learn CSS, Building Blocks p1
  files/en-us/learn/css/building_blocks/backgrounds_and_borders/index.md
  files/en-us/learn/css/building_blocks/handling_different_text_directions/index.md
  files/en-us/learn/css/building_blocks/images_media_form_elements/index.md
  files/en-us/learn/css/building_blocks/overflowing_content/index.md
  files/en-us/learn/css/building_blocks/selectors/attribute_selectors/index.md
  files/en-us/learn/css/building_blocks/selectors/combinators/index.md
  files/en-us/learn/css/building_blocks/selectors/index.md
Labels: Content:Learn:CSS, size/l

#36629 Update domain example to evil.example.com
  files/en-us/web/http/csp/index.md
Labels: Content:HTTP, size/xs

#36603 FF133Relnote: Uint8Array .from/setFrom/toHex() and Base64() methods
  files/en-us/mozilla/firefox/releases/133/index.md
Labels: Content:Firefox, size/s

#36551 Add Clarification About CSS Pixels to the Window Management API
  files/en-us/web/api/screen/availwidth/index.md
  files/en-us/web/api/screen/height/index.md
Labels: Content:WebAPI, size/s

#36650 Fix missing backtick
  files/en-us/web/api/htmltextareaelement/setselectionrange/index.md
Labels: Content:WebAPI, size/xs

#36646 Update value info for `HTMLMediaElement.srcObject`
  files/en-us/web/api/htmlmediaelement/index.md
  files/en-us/web/api/htmlmediaelement/srcobject/index.md
Labels: Content:WebAPI, size/s

#36644 docs: update `navigator.credentials.create` sample
  files/en-us/web/api/publickeycredential/parsecreationoptionsfromjson_static/index.md
Labels: Content:WebAPI, size/xs

#36387 Reference for stage-3 arraybuffer-base64
  files/en-us/glossary/base64/index.md
  files/en-us/web/api/window/atob/index.md
  files/en-us/web/api/window/btoa/index.md
  files/en-us/web/api/workerglobalscope/atob/index.md
  files/en-us/web/api/workerglobalscope/btoa/index.md
  files/en-us/web/javascript/reference/global_objects/uint8array/frombase64/index.md
  files/en-us/web/javascript/reference/global_objects/uint8array/fromhex/index.md
  files/en-us/web/javascript/reference/global_objects/uint8array/index.md
  files/en-us/web/javascript/reference/global_objects/uint8array/setfrombase64/index.md
  files/en-us/web/javascript/reference/global_objects/uint8array/setfromhex/index.md
  files/en-us/web/javascript/reference/global_objects/uint8array/tobase64/index.md
  files/en-us/web/javascript/reference/global_objects/uint8array/tohex/index.md
Labels: Content:WebAPI, Content:JS, Content:Glossary, size/l

#36588 Update index.md | release >= 109 supports top & left parameters for windows.create
  files/en-us/mozilla/firefox/releases/109/index.md
Labels: Content:WebExt, Content:Firefox, size/xs

#36554 Update index.md | top and left is supported in Firefox >= 109
  files/en-us/mozilla/add-ons/webextensions/api/windows/create/index.md
Labels: Content:WebExt, size/xs

#36624 Add another cause for unexpected token error
  files/en-us/web/javascript/reference/errors/unexpected_token/index.md
Labels: Content:JS, size/s

#36639 fix typos
  .vscode/dictionaries/ignore-list.txt
  .vscode/dictionaries/terms-abbreviations.txt
  files/en-us/learn/html/cheatsheet/index.md
  files/en-us/web/api/htmlelement/autocorrect/index.md
  files/en-us/web/css/css_text/wrapping_breaking_text/index.md
  files/en-us/web/html/global_attributes/autocorrect/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:Learn:HTML, system, size/s

#36591 fix(webextensions): bump strict_min_version to 58.0
  files/en-us/mozilla/add-ons/webextensions/manifest.json/browser_specific_settings/index.md
Labels: Content:WebExt, size/xs

#36577 Add information to GPUQueue.submit() to say command buffers must be u…
  files/en-us/web/api/gpuqueue/submit/index.md
Labels: Content:WebAPI, size/xs

#36648 Add information about passing null to unset a bind group
  files/en-us/web/api/gpucomputepassencoder/setbindgroup/index.md
  files/en-us/web/api/gpurenderbundleencoder/setbindgroup/index.md
  files/en-us/web/api/gpurenderpassencoder/setbindgroup/index.md
Labels: Content:WebAPI, size/s

#36651 Fix broken links
  files/en-us/learn/common_questions/tools_and_setup/what_are_browser_developer_tools/index.md
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/redirect/index.md
  files/en-us/mozilla/add-ons/webextensions/content_scripts/cloneinto/index.md
  files/en-us/mozilla/firefox/releases/10/index.md
  files/en-us/mozilla/firefox/releases/10/updating_add-ons/index.md
  files/en-us/mozilla/firefox/releases/11/index.md
  files/en-us/mozilla/firefox/releases/16/index.md
  files/en-us/mozilla/firefox/releases/22/index.md
  files/en-us/mozilla/firefox/releases/27/index.md
  files/en-us/mozilla/firefox/releases/34/index.md
  files/en-us/mozilla/firefox/releases/38/index.md
  files/en-us/mozilla/firefox/releases/4/index.md
  files/en-us/mozilla/firefox/releases/40/index.md
  files/en-us/mozilla/firefox/releases/42/index.md
  files/en-us/mozilla/firefox/releases/44/index.md
  files/en-us/mozilla/firefox/releases/45/index.md
  files/en-us/mozilla/firefox/releases/48/index.md
  files/en-us/mozilla/firefox/releases/50/index.md
  files/en-us/mozilla/firefox/releases/6/index.md
  files/en-us/mozilla/firefox/releases/69/index.md
  files/en-us/mozilla/firefox/releases/7/updating_extensions/index.md
  files/en-us/mozilla/firefox/releases/70/index.md
  files/en-us/mozilla/firefox/releases/8/updating_add-ons/index.md
  files/en-us/web/api/cssprimitivevalue/index.md
  files/en-us/web/api/cssprimitivevalue/primitivetype/index.md
  files/en-us/web/api/cssprimitivevalue/setstringvalue/index.md
  files/en-us/web/api/dommatrix/index.md
  files/en-us/web/api/html_dom_api/index.md
  files/en-us/web/api/htmlselectelement/size/index.md
  files/en-us/web/api/pluginarray/index.md
  files/en-us/web/api/url_api/index.md
  files/en-us/web/api/webgl2renderingcontext/unpackcolorspace/index.md
  files/en-us/web/css/-moz-image-rect/index.md
  files/en-us/web/css/@counter-style/symbols/index.md
  files/en-us/web/css/@font-face/src/index.md
  files/en-us/web/css/@view-transition/index.md
  files/en-us/web/css/marker-end/index.md
  files/en-us/web/css/marker-mid/index.md
  files/en-us/web/css/marker-start/index.md
  files/en-us/web/css/marker/index.md
  files/en-us/web/html/element/audio/index.md
  files/en-us/web/security/mixed_content/index.md
  files/en-us/web/svg/attribute/clip-path/index.md
  files/en-us/web/uri/schemes/data/index.md
Labels: Content:CSS, Content:HTML, Content:WebExt, Content:WebAPI, Content:Learn, Content:Other, Content:SVG, Content:Security, Content:Firefox, size/m

#36660 prevent auto-linking
  files/en-us/web/http/headers/www-authenticate/index.md
Labels: Content:HTTP, size/xs

#36635 Add HTMLImageElement and ImageData objects as possible sources for co…
  files/en-us/web/api/gpuqueue/copyexternalimagetotexture/index.md
Labels: Content:WebAPI, size/xs

#36602 add ::highlight() to pseudos
  files/en-us/web/css/_doublecolon_highlight/index.md
  files/en-us/web/css/css_pseudo-elements/index.md
Labels: Content:CSS, size/s

#36663 convert to the new dot handling logic on jsxref
  files/en-us/web/javascript/reference/index.md
  files/en-us/web/javascript/reference/operators/index.md
Labels: Content:JS, size/s

#36652 Updated webdriver doc
  files/en-us/web/api/navigator/webdriver/index.md
Labels: Content:WebAPI, size/xs

#36659 Update OffscreenCanvas.getContext() options for Blink
  files/en-us/web/api/offscreencanvas/getcontext/index.md
Labels: Content:WebAPI, size/s

#36662 Removed confusing use of accolades behind pseudoselector.
  files/en-us/web/css/_doublecolon_-webkit-scrollbar/index.md
Labels: Content:CSS, size/xs

#36661 chore(css): Move CSS examples - Learn CSS, How To, Flexbox basics
  files/en-us/learn/css/first_steps/getting_started/index.md
  files/en-us/learn/css/first_steps/how_css_is_structured/index.md
  files/en-us/learn/css/first_steps/styling_a_biography_page/index.md
  files/en-us/learn/css/howto/add_a_shadow/index.md
  files/en-us/learn/css/howto/add_a_text_shadow/index.md
  files/en-us/learn/css/howto/center_an_item/index.md
  files/en-us/learn/css/howto/fill_a_box_with_an_image/index.md
  files/en-us/learn/css/howto/highlight_first_line/index.md
  files/en-us/learn/css/howto/highlight_first_para/index.md
  files/en-us/learn/css/howto/highlight_para_after_h1/index.md
  files/en-us/learn/css/howto/make_box_transparent/index.md
  files/en-us/learn/css/howto/transition_button/index.md
  files/en-us/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/index.md
  files/en-us/web/css/css_flexible_box_layout/controlling_ratios_of_flex_items_along_the_main_axis/index.md
Labels: Content:CSS, Content:Learn:CSS, size/l

#36680 Mp 1708 rari content fixes
  files/en-us/web/css/list-style/index.md
  files/en-us/web/html/attributes/index.md
Labels: Content:CSS, Content:HTML, size/s

#36675 chore(deps): bump node from v18 to v20
  .nvmrc
  package.json
Labels: system, size/xs

#36581 initial-letter: clarify usage and see also
  files/en-us/web/css/initial-letter/index.md
Labels: Content:CSS, size/m

#36672 Clarify WebSocket connection initialization
  files/en-us/web/api/websocket/websocket/index.md
Labels: Content:WebAPI, size/s

#36674 fix incorrect return value in RTCTrackEvent.receiver
  files/en-us/web/api/rtctrackevent/receiver/index.md
Labels: Content:WebAPI, size/xs

#36671 chore(css): Move CSS examples - Flexbox, Flow
  files/en-us/web/css/css_flexible_box_layout/index.md
  files/en-us/web/css/css_flexible_box_layout/mastering_wrapping_of_flex_items/index.md
  files/en-us/web/css/css_flexible_box_layout/ordering_flex_items/index.md
  files/en-us/web/css/css_flexible_box_layout/relationship_of_flexbox_to_other_layout_methods/index.md
  files/en-us/web/css/css_flexible_box_layout/typical_use_cases_of_flexbox/index.md
  files/en-us/web/css/css_flow_layout/block_and_inline_layout_in_normal_flow/index.md
Labels: Content:CSS, size/xl

#36668 declarativeNetRequest API bug fix
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/updatedynamicrules/index.md
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/updateenabledrulesets/index.md
  files/en-us/mozilla/firefox/releases/133/index.md
Labels: Content:WebExt, Content:Firefox, size/s

#36678 Add information about FireFox override setting for disablePictureInPicture
  files/en-us/web/api/htmlvideoelement/disablepictureinpicture/index.md
Labels: Content:WebAPI, size/xs

#36667 Synchronize with BCD v5.6.13
  files/en-us/web/api/gpuqueryset/type/index.md
  files/en-us/web/api/htmllinkelement/blocking/index.md
  files/en-us/web/api/htmllinkelement/index.md
  files/en-us/web/api/htmlscriptelement/blocking/index.md
  files/en-us/web/api/htmlscriptelement/index.md
  files/en-us/web/api/htmlstyleelement/blocking/index.md
  files/en-us/web/api/htmlstyleelement/index.md
  files/en-us/web/api/pagerevealevent/index.md
  files/en-us/web/api/pagerevealevent/pagerevealevent/index.md
  files/en-us/web/api/pagerevealevent/viewtransition/index.md
  files/en-us/web/api/pageswapevent/activation/index.md
  files/en-us/web/api/pageswapevent/index.md
  files/en-us/web/api/pageswapevent/pageswapevent/index.md
  files/en-us/web/api/pageswapevent/viewtransition/index.md
  files/en-us/web/html/element/button/index.md
  files/en-us/web/html/element/link/index.md
  files/en-us/web/html/element/script/index.md
  files/en-us/web/html/element/style/index.md
  files/en-us/web/http/headers/permissions-policy/camera/index.md
  files/en-us/web/http/headers/permissions-policy/display-capture/index.md
  files/en-us/web/http/headers/permissions-policy/fullscreen/index.md
  files/en-us/web/http/headers/permissions-policy/geolocation/index.md
  files/en-us/web/http/headers/permissions-policy/index.md
  files/en-us/web/http/headers/permissions-policy/microphone/index.md
  files/en-us/web/http/headers/permissions-policy/publickey-credentials-get/index.md
  files/en-us/web/http/headers/permissions-policy/screen-wake-lock/index.md
  files/en-us/web/http/headers/permissions-policy/web-share/index.md
  files/en-us/web/http/permissions_policy/index.md
  files/en-us/web/javascript/reference/global_objects/promise/index.md
  files/en-us/web/javascript/reference/global_objects/promise/try/index.md
Labels: Content:HTML, Content:WebAPI, Content:JS, Content:HTTP, size/m

#36685 Add docs for `HTMLAreaElement.download`
  files/en-us/web/api/htmlareaelement/download/index.md
  files/en-us/web/api/htmlareaelement/index.md
  files/en-us/web/html/element/area/index.md
Labels: Content:HTML, Content:WebAPI, size/s

#36687 Add docs for `HTMLLIElement.value`
  files/en-us/web/api/htmllielement/index.md
  files/en-us/web/api/htmllielement/value/index.md
  files/en-us/web/html/element/li/index.md
Labels: Content:HTML, Content:WebAPI, size/s

#36690 Fix typo
  files/en-us/web/http/methods/index.md
Labels: Content:HTTP, size/xs

#36688 chore(css): Move CSS examples - Learn area tasks / assessments
  files/en-us/learn/css/building_blocks/box_model_tasks/index.md
  files/en-us/learn/css/building_blocks/cascade_tasks/index.md
  files/en-us/learn/css/building_blocks/images_tasks/index.md
  files/en-us/learn/css/building_blocks/overflow_tasks/index.md
  files/en-us/learn/css/building_blocks/selectors/selectors_tasks/index.md
  files/en-us/learn/css/building_blocks/sizing_tasks/index.md
  files/en-us/learn/css/building_blocks/tables_tasks/index.md
  files/en-us/learn/css/building_blocks/test_your_skills_backgrounds_and_borders/index.md
  files/en-us/learn/css/building_blocks/values_tasks/index.md
  files/en-us/learn/css/building_blocks/writing_modes_tasks/index.md
  files/en-us/learn/css/css_layout/flexbox_skills/index.md
  files/en-us/learn/css/css_layout/floats_skills/index.md
  files/en-us/learn/css/css_layout/grid_skills/index.md
  files/en-us/learn/css/css_layout/multicol_skills/index.md
  files/en-us/learn/css/css_layout/position_skills/index.md
  files/en-us/learn/css/first_steps/how_css_is_structured/index.md
Labels: Content:Learn:CSS, size/xl

#36401 Email tracker classification in webRequest events
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onauthrequired/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onbeforeredirect/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onbeforerequest/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onbeforesendheaders/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/oncompleted/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onerroroccurred/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onheadersreceived/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onresponsestarted/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onsendheaders/index.md
  files/en-us/mozilla/firefox/releases/104/index.md
Labels: Content:WebExt, Content:Firefox, size/s

#36695 <body> new attributes added
  files/en-us/web/html/element/body/index.md
Labels: Content:HTML, size/s

#36632 MDN Featured Pages for DOMQuad Web API
  files/en-us/web/api/domquad/domquad/index.md
  files/en-us/web/api/domquad/getbounds/domquad.svg
  files/en-us/web/api/domquad/getbounds/index.md
  files/en-us/web/api/domquad/tojson/index.md
Labels: Content:WebAPI, size/m

#36642 Update Media Source Extensions API
  files/en-us/web/api/media_source_extensions_api/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, size/s

#36721 Grammar fix maxtouchpoints
  files/en-us/web/api/navigator/maxtouchpoints/index.md
Labels: Content:WebAPI, size/xs

#36722 Update index.md
  files/en-us/web/http/csp/index.md
Labels: Content:HTTP, size/xs

#36703 MDN Feature pages for DOMRectList
  files/en-us/web/api/domrectlist/index.md
  files/en-us/web/api/domrectlist/item/index.md
  files/en-us/web/api/domrectlist/length/index.md
Labels: Content:WebAPI, size/m

#36723 addEventListener: change "non-capturing" to current and bubbling
  files/en-us/web/api/eventtarget/addeventlistener/index.md
Labels: Content:WebAPI, size/xs

#36718 Fix incorrect mime type in the <object> example
  files/en-us/web/html/element/object/index.md
Labels: Content:HTML, size/xs

#36713 Reword formal description of import map
  files/en-us/web/html/element/script/type/importmap/index.md
Labels: Content:HTML, size/xs

#36712 Fix live example in HTMLTextAreaElement: setRangeText
  files/en-us/web/api/htmltextareaelement/setrangetext/index.md
Labels: Content:WebAPI, size/xs

#36719 Restore PBKDF2 algorithm for deriveKey
  files/en-us/web/api/subtlecrypto/derivekey/index.md
Labels: Content:WebAPI, size/xs

#36729 docs:
  files/en-us/learn/css/building_blocks/sizing_items_in_css/index.md
  files/en-us/web/api/element/scrollintoview/index.md
Labels: Content:WebAPI, Content:Learn:CSS, size/s

#36582 New module: css inline layout
  files/en-us/glossary/baseline/typography/index.md
  files/en-us/web/css/css_inline_layout/index.md
Labels: Content:CSS, Content:Glossary, size/m

#36735 chore: fix casing
  files/en-us/web/api/element/scrollwidth/index.md
Labels: Content:WebAPI, size/xs

#36605 docs(manifest): Improvements to app store members
  files/en-us/web/manifest/categories/bbc-info.jpeg
  files/en-us/web/manifest/categories/bbc.jpeg
  files/en-us/web/manifest/categories/index.md
  files/en-us/web/manifest/categories/weather-info.jpeg
  files/en-us/web/manifest/categories/weather.jpeg
  files/en-us/web/manifest/description/index.md
  files/en-us/web/manifest/icons/index.md
  files/en-us/web/manifest/screenshots/index.md
  files/en-us/web/manifest/screenshots/todoist-ipad-fullscreen.png
  files/en-us/web/manifest/screenshots/todoist-iphone-fullscreen.png
  files/en-us/web/manifest/screenshots/todoist-iphone-gallery.png
Labels: Content:Manifest, size/m

#36430 added api page for CSSNestedDeclaration and the style peroperty and a…
  files/en-us/web/api/css_object_model/index.md
  files/en-us/web/api/cssnesteddeclarations/index.md
  files/en-us/web/api/cssnesteddeclarations/style/index.md
  files/en-us/web/api/cssrule/index.md
  files/en-us/web/css/css_nesting/using_css_nesting/index.md
Labels: Content:CSS, Content:WebAPI, size/m

#36232 Coop noopener allow popups
  files/en-us/glossary/browsing_context/index.md
  files/en-us/web/api/window/crossoriginisolated/index.md
  files/en-us/web/api/window/open/index.md
  files/en-us/web/api/workerglobalscope/crossoriginisolated/index.md
  files/en-us/web/http/headers/cross-origin-opener-policy/index.md
Labels: Content:WebAPI, Content:HTTP, Content:Glossary, size/m

#36730 chore(css): Move CSS examples - Logical properties, multicol, overflow, scroll snap
  files/en-us/web/css/css_logical_properties_and_values/basic_concepts_of_logical_properties_and_values/index.md
  files/en-us/web/css/css_logical_properties_and_values/floating_and_positioning/index.md
  files/en-us/web/css/css_logical_properties_and_values/margins_borders_padding/index.md
  files/en-us/web/css/css_logical_properties_and_values/sizing/index.md
  files/en-us/web/css/css_multicol_layout/basic_concepts/index.md
  files/en-us/web/css/css_multicol_layout/handling_content_breaks_in_multicol_layout/index.md
  files/en-us/web/css/css_multicol_layout/handling_overflow_in_multicol_layout/index.md
  files/en-us/web/css/css_multicol_layout/index.md
  files/en-us/web/css/css_multicol_layout/spanning_balancing_columns/index.md
  files/en-us/web/css/css_multicol_layout/styling_columns/index.md
  files/en-us/web/css/css_overflow/index.md
  files/en-us/web/css/css_scroll_snap/basic_concepts/index.md
  files/en-us/web/css/css_scroll_snap/index.md
Labels: Content:CSS, size/xl

#36753 fix(css): fix macros
  files/en-us/web/css/css_functions/index.md
  files/en-us/web/css/gradient/radial-gradient/index.md
Labels: Content:CSS, size/xs

#36748 chore(css): Move CSS examples - masking
  files/en-us/web/css/mask-border/index.md
  files/en-us/web/css/mask-border/mask-border-diamonds.png
  files/en-us/web/css/mask-clip/index.md
  files/en-us/web/css/mask-composite/index.md
  files/en-us/web/css/mask-image/index.md
  files/en-us/web/css/mask-image/star.svg
  files/en-us/web/css/mask-mode/index.md
  files/en-us/web/css/mask-origin/index.md
  files/en-us/web/css/mask-position/index.md
  files/en-us/web/css/mask-repeat/index.md
  files/en-us/web/css/mask-size/index.md
  files/en-us/web/css/mask-type/index.md
Labels: Content:CSS, size/m

#36750 added the experimental note for the plaintext-only value of contenteditable global attribute
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/133/index.md
Labels: Content:Firefox, size/s

#36757 36535 implement contenteditable plaintext only ff release
  files/en-us/mozilla/firefox/experimental_features/index.md
Labels: Content:Firefox, size/s

#36696 <body> element: enhance attribute section
  files/en-us/web/html/element/body/index.md
Labels: Content:HTML, size/m

#36656 fix(css): define terms in layer-cascade diagram
  files/en-us/web/css/@layer/index.md
Labels: Content:CSS, size/xs

#36693 chore(css): Move CSS examples - Feature queries, overflow, subgrid, masonry
  files/en-us/web/css/css_conditional_rules/using_feature_queries/index.md
  files/en-us/web/css/css_flow_layout/flow_layout_and_overflow/index.md
  files/en-us/web/css/css_flow_layout/flow_layout_and_writing_modes/index.md
  files/en-us/web/css/css_flow_layout/in_flow_and_out_of_flow/index.md
  files/en-us/web/css/css_grid_layout/masonry_layout/index.md
  files/en-us/web/css/css_grid_layout/subgrid/index.md
Labels: Content:CSS, size/xl

#36759 Revert "corrected builtin function use"
  files/en-us/web/api/webgl_api/tutorial/using_textures_in_webgl/index.md
Labels: Content:WebAPI, size/xs

#36692 Add docs for <meta> media attribute
  files/en-us/web/html/element/meta/index.md
Labels: Content:HTML, size/xs

#36760 Remove "simple" part 1: change to "basic"
  files/en-us/web/css/-moz-image-rect/index.md
  files/en-us/web/css/@font-face/src/index.md
  files/en-us/web/css/@font-face/unicode-range/index.md
  files/en-us/web/css/@import/index.md
  files/en-us/web/css/@layer/index.md
  files/en-us/web/css/@starting-style/index.md
  files/en-us/web/css/_colon_-moz-only-whitespace/index.md
  files/en-us/web/css/_colon_blank/index.md
  files/en-us/web/css/_colon_defined/index.md
  files/en-us/web/css/_colon_host-context/index.md
  files/en-us/web/css/_colon_host/index.md
  files/en-us/web/css/_colon_host_function/index.md
Labels: Content:CSS, size/s

#36754 chore(css): Move CSS examples - layout cookbooks
  files/en-us/web/css/layout_cookbook/breadcrumb_navigation/index.md
  files/en-us/web/css/layout_cookbook/card/index.md
  files/en-us/web/css/layout_cookbook/center_an_element/index.md
  files/en-us/web/css/layout_cookbook/column_layouts/index.md
  files/en-us/web/css/layout_cookbook/contribute_a_recipe/cookbook_template/index.md
  files/en-us/web/css/layout_cookbook/grid_wrapper/index.md
  files/en-us/web/css/layout_cookbook/list_group_with_badges/index.md
  files/en-us/web/css/layout_cookbook/media_objects/index.md
  files/en-us/web/css/layout_cookbook/pagination/index.md
  files/en-us/web/css/layout_cookbook/split_navigation/index.md
  files/en-us/web/css/layout_cookbook/sticky_footers/index.md
Labels: Content:CSS, size/l

#36751 36535 implement contenteditable plaintext only
  files/en-us/web/html/global_attributes/contenteditable/index.md
Labels: Content:HTML, size/m

#36767 fix typos
  .vscode/dictionaries/code-entities.txt
  .vscode/dictionaries/ignore-list.txt
  .vscode/dictionaries/proper-names.txt
  files/en-us/web/css/marker-end/index.md
  files/en-us/web/css/marker-mid/index.md
  files/en-us/web/css/marker/index.md
  files/en-us/web/javascript/reference/errors/unexpected_token/index.md
Labels: Content:CSS, Content:JS, system, size/s

#36774 Remove dumplite CSS Counter Styles API page
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/css_counter_styles/index.md
  files/en-us/web/api/csscounterstylerule/additivesymbols/index.md
  files/en-us/web/api/csscounterstylerule/fallback/index.md
  files/en-us/web/api/csscounterstylerule/index.md
  files/en-us/web/api/csscounterstylerule/name/index.md
  files/en-us/web/api/csscounterstylerule/negative/index.md
  files/en-us/web/api/csscounterstylerule/pad/index.md
  files/en-us/web/api/csscounterstylerule/prefix/index.md
  files/en-us/web/api/csscounterstylerule/range/index.md
  files/en-us/web/api/csscounterstylerule/speakas/index.md
  files/en-us/web/api/csscounterstylerule/suffix/index.md
  files/en-us/web/api/csscounterstylerule/symbols/index.md
  files/en-us/web/api/csscounterstylerule/system/index.md
  files/en-us/web/css/css_counter_styles/index.md
  files/en-us/web/css/tutorials/index.md
  files/jsondata/GroupData.json
Labels: Content:CSS, Content:WebAPI, size/m

#36682 OKLCH 100% values typo
  files/en-us/web/css/color_value/oklch/index.md
Labels: Content:CSS, size/xs

#36768 Fix typo under Values section
  files/en-us/web/css/transition-timing-function/index.md
Labels: Content:CSS, size/xs

#36586 Note re exception from storage.managed.get
  files/en-us/mozilla/add-ons/webextensions/api/storage/managed/index.md
  files/en-us/mozilla/add-ons/webextensions/api/storage/storagearea/get/index.md
Labels: Content:WebExt, size/s

#36756 chore(glossary): rename P3 and update link
  files/en-us/glossary/color_space/index.md
  files/en-us/glossary/gamut/index.md
Labels: Content:Glossary, size/xs

#36765 Synchronize with BCD v5.6.15
  files/en-us/web/api/window/index.md
  files/en-us/web/api/window/pagereveal_event/index.md
  files/en-us/web/api/window/pageswap_event/index.md
  files/en-us/web/html/element/li/index.md
  files/en-us/web/http/headers/cross-origin-opener-policy/index.md
Labels: Content:HTML, Content:WebAPI, Content:HTTP, size/s

#36752 chore(css): Move CSS examples - Modules, filter functions, flow layout, grid layout
  files/en-us/web/css/css_animations/index.md
  files/en-us/web/css/css_backgrounds_and_borders/index.md
  files/en-us/web/css/css_basic_user_interface/index.md
  files/en-us/web/css/css_box_alignment/index.md
  files/en-us/web/css/css_compositing_and_blending/index.md
  files/en-us/web/css/css_flow_layout/block_and_inline_layout_in_normal_flow/index.md
  files/en-us/web/css/css_flow_layout/index.md
  files/en-us/web/css/css_flow_layout/introduction_to_formatting_contexts/index.md
  files/en-us/web/css/css_generated_content/index.md
  files/en-us/web/css/css_grid_layout/auto-placement_in_grid_layout/index.md
  files/en-us/web/css/filter-function/index.md
  files/en-us/web/css/inline_formatting_context/index.md
Labels: Content:CSS, size/xl

#36772 chore(css): Move CSS examples - imageset, fonts
  files/en-us/mdn/community/contributing/our_repositories/index.md
  files/en-us/web/css/@font-face/index.md
  files/en-us/web/css/css_fonts/opentype_fonts_guide/index.md
  files/en-us/web/css/css_fonts/variable_fonts_guide/index.md
  files/en-us/web/css/font-style/index.md
  files/en-us/web/css/font-variant-numeric/index.md
  files/en-us/web/css/font-variation-settings/index.md
  files/en-us/web/css/font-weight/index.md
  files/en-us/web/css/image/image-set/index.md
Labels: Content:CSS, Content:Meta, size/xl

#36755 feat(rari): support for template l10n and new sidebars
  .github/CODEOWNERS
  files/jsondata/L10n-Common.json
  files/jsondata/L10n-Template.json
  files/sidebars/accessibilitysidebar.yaml
  files/sidebars/addonsidebar.yaml
  files/sidebars/addonsidebarmain.yaml
  files/sidebars/cssref.yaml
  files/sidebars/firefoxsidebar.yaml
  files/sidebars/gamessidebar.yaml
  files/sidebars/glossarysidebar.yaml
  files/sidebars/htmlsidebar.yaml
  files/sidebars/httpsidebar.yaml
  files/sidebars/jssidebar.yaml
  files/sidebars/learnsidebar.yaml
  files/sidebars/mathmlref.yaml
  files/sidebars/mdnsidebar.yaml
  files/sidebars/pwasidebar.yaml
  files/sidebars/svgref.yaml
  files/sidebars/webassemblysidebar.yaml
  files/sidebars/xsltsidebar.yaml
Labels: system, size/xl

#36788 Fix grammar mistake
  files/en-us/web/api/url/url/index.md
Labels: Content:WebAPI, size/xs

#36790 docs: add a whitespace for consistent ternary formatting
  files/en-us/web/api/performance_api/long_animation_frame_timing/index.md
Labels: Content:WebAPI, size/xs

#36783 New pages: CSS SVG filter properites
  files/en-us/_redirects.txt
  files/en-us/web/css/css_color_adjustment/index.md
  files/en-us/web/css/flood-color/index.md
  files/en-us/web/css/flood-opacity/index.md
  files/en-us/web/css/lighting-color/index.md
Labels: Content:CSS, size/m

#36777 Remove "simple" part 6: javascript
  files/en-us/web/javascript/guide/functions/index.md
  files/en-us/web/javascript/guide/grammar_and_types/index.md
  files/en-us/web/javascript/guide/indexed_collections/index.md
  files/en-us/web/javascript/guide/iterators_and_generators/index.md
  files/en-us/web/javascript/guide/keyed_collections/index.md
  files/en-us/web/javascript/guide/modules/index.md
  files/en-us/web/javascript/guide/text_formatting/index.md
  files/en-us/web/javascript/guide/working_with_objects/index.md
  files/en-us/web/javascript/reference/functions/arrow_functions/index.md
  files/en-us/web/javascript/reference/global_objects/array/reduce/index.md
  files/en-us/web/javascript/reference/global_objects/asyncgenerator/next/index.md
  files/en-us/web/javascript/reference/global_objects/asyncgenerator/return/index.md
  files/en-us/web/javascript/reference/global_objects/asyncgenerator/throw/index.md
  files/en-us/web/javascript/reference/global_objects/function/apply/index.md
  files/en-us/web/javascript/reference/global_objects/function/bind/index.md
  files/en-us/web/javascript/reference/global_objects/generator/next/index.md
  files/en-us/web/javascript/reference/global_objects/generator/return/index.md
  files/en-us/web/javascript/reference/global_objects/generator/throw/index.md
  files/en-us/web/javascript/reference/global_objects/iterator/iterator/index.md
  files/en-us/web/javascript/reference/global_objects/map/index.md
  files/en-us/web/javascript/reference/global_objects/math/atan2/index.md
  files/en-us/web/javascript/reference/global_objects/math/pow/index.md
  files/en-us/web/javascript/reference/global_objects/math/trunc/index.md
  files/en-us/web/javascript/reference/global_objects/object/keys/index.md
  files/en-us/web/javascript/reference/global_objects/object/proto/index.md
  files/en-us/web/javascript/reference/global_objects/promise/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/test/index.md
  files/en-us/web/javascript/reference/global_objects/string/index.md
  files/en-us/web/javascript/reference/global_objects/string/match/index.md
  files/en-us/web/javascript/reference/global_objects/string/matchall/index.md
  files/en-us/web/javascript/reference/global_objects/string/search/index.md
  files/en-us/web/javascript/reference/iteration_protocols/index.md
  files/en-us/web/javascript/reference/operators/assignment/index.md
  files/en-us/web/javascript/reference/operators/await/index.md
  files/en-us/web/javascript/reference/operators/class/index.md
  files/en-us/web/javascript/reference/operators/conditional_operator/index.md
  files/en-us/web/javascript/reference/statements/class/index.md
  files/en-us/web/javascript/reference/statements/function_star_/index.md
  files/en-us/web/javascript/reference/statements/import/index.md
  files/en-us/web/javascript/reference/strict_mode/index.md
  files/en-us/web/javascript/reference/template_literals/index.md
Labels: Content:JS, size/m

#36657 fix(http): Accept-Encoding can appear in both requests and responses
  .vscode/dictionaries/terms-abbreviations.txt
  files/en-us/web/http/headers/accept-encoding/index.md
Labels: Content:HTTP, system, size/s

#36654 FF133 Renote: beforetoggle, toggle fire on dialogs
  files/en-us/mozilla/firefox/releases/133/index.md
Labels: Content:Firefox, size/xs

#36778 Remove simple part 7: SVG files
  files/en-us/web/svg/attribute/fill/index.md
  files/en-us/web/svg/attribute/stroke/index.md
  files/en-us/web/svg/attribute/textlength/index.md
  files/en-us/web/svg/element/fegaussianblur/index.md
  files/en-us/web/svg/element/rect/index.md
  files/en-us/web/svg/element/set/index.md
  files/en-us/web/svg/namespaces_crash_course/example/index.md
  files/en-us/web/svg/tutorial/getting_started/index.md
  files/en-us/web/svg/tutorial/introduction/index.md
  files/en-us/web/svg/tutorial/paths/index.md
  files/en-us/web/svg/tutorial/positions/index.md
  files/en-us/web/svg/tutorial/svg_and_css/index.md
  files/en-us/web/svg/tutorial/svg_fonts/index.md
  files/en-us/web/svg/tutorial/texts/index.md
Labels: Content:SVG, size/m

#36786 Clarify that command key object properties are optional
  files/en-us/mozilla/add-ons/webextensions/manifest.json/commands/index.md
Labels: Content:WebExt, size/s

#36799 Remove link to dead site
  files/en-us/web/api/canvas_api/tutorial/index.md
Labels: Content:WebAPI, size/xs

#36807 missing close quotation marks
  files/en-us/web/manifest/background_color/index.md
Labels: Content:Manifest, size/xs

#36732 Mark `normal` and `reset` as non-standard values for `zoom` property
  files/en-us/web/css/zoom/index.md
Labels: Content:CSS, size/s

#36728 feat(games): Update '3D on the web' guides
  files/en-us/games/techniques/3d_on_the_web/building_up_a_basic_demo_with_a-frame/index.md
  files/en-us/games/techniques/3d_on_the_web/building_up_a_basic_demo_with_babylon.js/index.md
  files/en-us/games/techniques/3d_on_the_web/building_up_a_basic_demo_with_playcanvas/engine/index.md
  files/en-us/games/techniques/3d_on_the_web/building_up_a_basic_demo_with_three.js/index.md
Labels: Content:Games, size/l

#36606 Ff133 dialog toggle beforetoggle events
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/firefox/releases/48/index.md
  files/en-us/web/api/htmldetailselement/index.md
  files/en-us/web/api/htmldetailselement/toggle_event/index.md
  files/en-us/web/api/htmldialogelement/index.md
  files/en-us/web/api/htmlelement/beforetoggle_event/index.md
  files/en-us/web/api/htmlelement/index.md
  files/en-us/web/api/htmlelement/toggle_event/index.md
  files/en-us/web/api/popover_api/index.md
  files/en-us/web/api/toggleevent/index.md
  files/en-us/web/html/element/details/index.md
  files/en-us/web/html/element/summary/index.md
  files/jsondata/GroupData.json
Labels: Content:HTML, Content:WebAPI, Content:Firefox, size/l

#36770 chore(css): Move CSS examples - Basic shapes, filter effects, module template, paint API
  files/en-us/learn/css/css_layout/media_queries/index.md
  files/en-us/learn/css/css_layout/responsive_design/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/css_module_landing_page_template/index.md
  files/en-us/web/api/css_object_model/using_dynamic_styling_information/index.md
  files/en-us/web/api/css_painting_api/index.md
  files/en-us/web/css/basic-shape/circle/index.md
  files/en-us/web/css/basic-shape/ellipse/index.md
  files/en-us/web/css/css_box_alignment/box_alignment_in_block_abspos_tables/index.md
  files/en-us/web/css/css_filter_effects/index.md
  files/en-us/web/css/css_shapes/index.md
  files/en-us/web/css/image/paint/index.md
Labels: Content:CSS, Content:WebAPI, Content:Meta, Content:Learn:CSS, size/xl

#36800 New page: HTMLAreaElement.alt
  files/en-us/web/api/htmlareaelement/alt/index.md
Labels: Content:WebAPI, size/s

#36814 color-scheme: drop "experimental" regarding light-dark
  files/en-us/web/css/color-scheme/index.md
Labels: Content:CSS, size/xs

#36761 Remove "simple" part 2: change to "basic"
  files/en-us/web/css/_colon_modal/index.md
  files/en-us/web/css/_colon_not/index.md
  files/en-us/web/css/_colon_where/index.md
  files/en-us/web/css/_doublecolon_after/index.md
  files/en-us/web/css/_doublecolon_before/index.md
  files/en-us/web/css/_doublecolon_first-letter/index.md
  files/en-us/web/css/_doublecolon_grammar-error/index.md
  files/en-us/web/css/_doublecolon_spelling-error/index.md
  files/en-us/web/css/_doublecolon_view-transition-group/index.md
  files/en-us/web/css/_doublecolon_view-transition-image-pair/index.md
  files/en-us/web/css/_doublecolon_view-transition-new/index.md
  files/en-us/web/css/_doublecolon_view-transition-old/index.md
  files/en-us/web/css/_doublecolon_view-transition/index.md
  files/en-us/web/css/view-transition-name/index.md
Labels: Content:CSS, size/s

#36804 Atomics.waitAsync return value
  files/en-us/web/javascript/reference/global_objects/atomics/index.md
  files/en-us/web/javascript/reference/global_objects/atomics/waitasync/index.md
Labels: Content:JS, size/xs

#36806 fix error description of formatRange in RangeError
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/formatrange/index.md
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/formatrangetoparts/index.md
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/formattoparts/index.md
Labels: Content:JS, size/s

#36803 Fix: modifying the name of a named function expression results in TypeError only in strict mode
  files/en-us/web/javascript/reference/operators/function/index.md
Labels: Content:JS, size/xs

#36809 chore(js): Move external XHR example into page
  files/en-us/web/javascript/reference/global_objects/promise/index.md
Labels: Content:JS, size/m

#36701 toJSON() instance method page for DOMRectReadOnly
  files/en-us/web/api/domrectreadonly/index.md
  files/en-us/web/api/domrectreadonly/tojson/index.md
Labels: Content:WebAPI, size/m

#36818 fix proxy authorization header
  files/en-us/web/http/headers/proxy-authenticate/index.md
  files/en-us/web/http/headers/proxy-authorization/index.md
Labels: Content:HTTP, size/xs

#36819 Grammar fixes for the Web video codecs guide.
  files/en-us/web/media/formats/video_codecs/index.md
Labels: Content:Media, size/xs

#36622 Fix wording about infinite iterators for iterator helper methods
  files/en-us/web/javascript/reference/global_objects/iterator/every/index.md
  files/en-us/web/javascript/reference/global_objects/iterator/filter/index.md
  files/en-us/web/javascript/reference/global_objects/iterator/find/index.md
  files/en-us/web/javascript/reference/global_objects/iterator/foreach/index.md
  files/en-us/web/javascript/reference/global_objects/iterator/map/index.md
  files/en-us/web/javascript/reference/global_objects/iterator/some/index.md
Labels: Content:JS, size/s

#36700 p1, p2, p3, p4 Instance Properties of DOMQuad
  files/en-us/web/api/domquad/index.md
  files/en-us/web/api/domquad/p1/index.md
  files/en-us/web/api/domquad/p2/index.md
  files/en-us/web/api/domquad/p3/index.md
  files/en-us/web/api/domquad/p4/index.md
Labels: Content:WebAPI, size/m

#36665 Fixes #36027 | Deduplicate content between Web Worker API overview and guide
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_constructor_subpage_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_event_subpage_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_landing_page_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_method_subpage_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_property_subpage_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_reference_page_template/index.md
  files/en-us/web/api/web_workers_api/functions_and_classes_available_to_workers/index.md
  files/en-us/web/api/web_workers_api/index.md
Labels: Content:WebAPI, Content:Meta, size/m

#36825 Fix typo
  files/en-us/web/api/htmloptionelement/label/index.md
Labels: Content:WebAPI, size/xs

#36821 fix typo
  files/en-us/mozilla/add-ons/webextensions/api/action/setbadgebackgroundcolor/index.md
Labels: Content:WebExt, size/xs

#36828 Adjust the phrasing of console.clear behavior, correct Node.js behavior
  files/en-us/web/api/console/clear_static/index.md
Labels: Content:WebAPI, size/xs

#36704 DOMRect instance properties
  files/en-us/web/api/domrect/domrect/index.md
  files/en-us/web/api/domrect/height/index.md
  files/en-us/web/api/domrect/index.md
  files/en-us/web/api/domrect/width/index.md
  files/en-us/web/api/domrect/x/index.md
  files/en-us/web/api/domrect/y/index.md
Labels: Content:WebAPI, size/m

#36832 updateText: Remove false information
  files/en-us/web/api/editcontext/updatetext/index.md
Labels: Content:WebAPI, size/xs

#36834 updateSelection: make more intuitive
  files/en-us/web/api/editcontext/updateselection/index.md
Labels: Content:WebAPI, size/xs

#36822 docs: update Accept-Charset status
  files/en-us/web/http/headers/accept-charset/index.md
Labels: Content:HTTP, size/xs

#36837 fix typos
  .vscode/dictionaries/code-entities.txt
  .vscode/dictionaries/ignore-list.txt
  .vscode/dictionaries/proper-names.txt
  files/en-us/web/api/htmlelement/beforetoggle_event/index.md
  files/en-us/web/css/css_fonts/variable_fonts_guide/index.md
  files/en-us/web/css/zoom/index.md
Labels: Content:CSS, Content:WebAPI, system, size/s

#36811 Remove all redirects to other locales
  files/en-us/_redirects.txt
Labels: size/xs

#36843 fix : wrong method name
  files/en-us/web/api/medialist/deletemedium/index.md
Labels: Content:WebAPI, size/xs

#36845 Updated index.md
  files/en-us/mdn/community/contributing/getting_started/index.md
Labels: Content:Meta, size/s

#36590 chore(http): Refresh headers r-s
  files/en-us/web/http/headers/repr-digest/index.md
  files/en-us/web/http/headers/retry-after/index.md
  files/en-us/web/http/headers/rtt/index.md
  files/en-us/web/http/headers/save-data/index.md
  files/en-us/web/http/headers/sec-browsing-topics/index.md
  files/en-us/web/http/headers/sec-ch-prefers-color-scheme/index.md
  files/en-us/web/http/headers/sec-ch-prefers-reduced-motion/index.md
  files/en-us/web/http/headers/sec-ch-prefers-reduced-transparency/index.md
  files/en-us/web/http/headers/sec-ch-ua-arch/index.md
  files/en-us/web/http/headers/sec-ch-ua-bitness/index.md
  files/en-us/web/http/headers/sec-ch-ua-full-version-list/index.md
  files/en-us/web/http/headers/sec-ch-ua-full-version/index.md
  files/en-us/web/http/headers/sec-ch-ua-mobile/index.md
  files/en-us/web/http/headers/sec-ch-ua-model/index.md
  files/en-us/web/http/headers/sec-ch-ua-platform-version/index.md
  files/en-us/web/http/headers/sec-ch-ua-platform/index.md
  files/en-us/web/http/headers/sec-ch-ua/index.md
  files/en-us/web/http/headers/sec-fetch-dest/index.md
  files/en-us/web/http/headers/sec-fetch-mode/index.md
  files/en-us/web/http/headers/sec-fetch-site/index.md
  files/en-us/web/http/headers/sec-fetch-user/index.md
  files/en-us/web/http/headers/sec-gpc/index.md
  files/en-us/web/http/headers/sec-purpose/index.md
  files/en-us/web/http/headers/sec-websocket-accept/index.md
  files/en-us/web/http/headers/sec-websocket-extensions/index.md
  files/en-us/web/http/headers/sec-websocket-key/index.md
  files/en-us/web/http/headers/sec-websocket-protocol/index.md
  files/en-us/web/http/headers/sec-websocket-version/index.md
Labels: Content:HTTP, size/l

#36075 chore(http): Refresh headers docs (d-k)
  files/en-us/glossary/forbidden_header_name/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/http_header_page_template/index.md
  files/en-us/web/http/headers/accept-encoding/index.md
  files/en-us/web/http/headers/date/index.md
  files/en-us/web/http/headers/device-memory/index.md
  files/en-us/web/http/headers/digest/index.md
  files/en-us/web/http/headers/dnt/index.md
  files/en-us/web/http/headers/downlink/index.md
  files/en-us/web/http/headers/dpr/index.md
  files/en-us/web/http/headers/early-data/index.md
  files/en-us/web/http/headers/ect/index.md
  files/en-us/web/http/headers/etag/index.md
  files/en-us/web/http/headers/expect-ct/index.md
  files/en-us/web/http/headers/expect/index.md
  files/en-us/web/http/headers/expires/index.md
  files/en-us/web/http/headers/forwarded/index.md
  files/en-us/web/http/headers/from/index.md
  files/en-us/web/http/headers/host/index.md
  files/en-us/web/http/headers/if-match/index.md
  files/en-us/web/http/headers/if-modified-since/index.md
  files/en-us/web/http/headers/if-none-match/index.md
  files/en-us/web/http/headers/if-range/index.md
  files/en-us/web/http/headers/if-unmodified-since/index.md
  files/en-us/web/http/headers/keep-alive/index.md
Labels: Content:HTTP, Content:Glossary, Content:Meta, size/l

#36792 Update CSP source expression reference
  files/en-us/_redirects.txt
  files/en-us/mozilla/add-ons/webextensions/manifest.json/content_security_policy/index.md
  files/en-us/web/http/headers/content-security-policy/base-uri/index.md
  files/en-us/web/http/headers/content-security-policy/child-src/index.md
  files/en-us/web/http/headers/content-security-policy/connect-src/index.md
  files/en-us/web/http/headers/content-security-policy/default-src/index.md
  files/en-us/web/http/headers/content-security-policy/fenced-frame-src/index.md
  files/en-us/web/http/headers/content-security-policy/font-src/index.md
  files/en-us/web/http/headers/content-security-policy/form-action/index.md
  files/en-us/web/http/headers/content-security-policy/frame-src/index.md
  files/en-us/web/http/headers/content-security-policy/img-src/index.md
  files/en-us/web/http/headers/content-security-policy/index.md
  files/en-us/web/http/headers/content-security-policy/manifest-src/index.md
  files/en-us/web/http/headers/content-security-policy/media-src/index.md
  files/en-us/web/http/headers/content-security-policy/object-src/index.md
  files/en-us/web/http/headers/content-security-policy/prefetch-src/index.md
  files/en-us/web/http/headers/content-security-policy/script-src-attr/index.md
  files/en-us/web/http/headers/content-security-policy/script-src-elem/index.md
  files/en-us/web/http/headers/content-security-policy/script-src/index.md
  files/en-us/web/http/headers/content-security-policy/sources/index.md
  files/en-us/web/http/headers/content-security-policy/style-src-attr/index.md
  files/en-us/web/http/headers/content-security-policy/style-src-elem/index.md
  files/en-us/web/http/headers/content-security-policy/style-src/index.md
  files/en-us/web/http/headers/content-security-policy/worker-src/index.md
Labels: Content:WebExt, Content:HTTP, size/m

#36852 Fix parameter syntax for `Navigation.updateCurrentEntry()`
  files/en-us/web/api/navigation/updatecurrententry/index.md
Labels: Content:WebAPI, size/xs

#36655 docs(css): Add support for `<string>` in `syntax` descriptor of @property at-rule
  files/en-us/mozilla/firefox/releases/128/index.md
  files/en-us/web/css/@property/index.md
  files/en-us/web/css/@property/inherits/index.md
  files/en-us/web/css/@property/initial-value/index.md
  files/en-us/web/css/@property/syntax/index.md
Labels: Content:CSS, Content:Firefox, size/m

#36658 the default option of a select
  files/en-us/web/html/element/select/index.md
Labels: Content:HTML, size/xs

#36691 addresses 36583: summary icon styles
  files/en-us/web/html/element/details/index.md
  files/en-us/web/html/element/summary/index.md
Labels: Content:HTML, size/m

#36848 Add spec_url & add note for bcd for `<frequency>` and `<frequency-percentage>`
  files/en-us/web/css/frequency-percentage/index.md
  files/en-us/web/css/frequency/index.md
Labels: Content:CSS, size/s

#36633 Add information on default entryPoint property values
  files/en-us/web/api/gpudevice/createcomputepipeline/index.md
  files/en-us/web/api/gpudevice/createcomputepipelineasync/index.md
  files/en-us/web/api/gpudevice/createrenderpipeline/index.md
  files/en-us/web/api/gpudevice/createrenderpipelineasync/index.md
Labels: Content:WebAPI, awaiting response, size/s

#36854 Accept-Charset HTTP header removed - not sent by any browser for many years and deprecated
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/glossary/forbidden_header_name/index.md
  files/en-us/learn/server-side/first_steps/client-server_overview/index.md
  files/en-us/mozilla/firefox/releases/10/index.md
  files/en-us/web/api/htmlformelement/acceptcharset/index.md
  files/en-us/web/api/htmlformelement/index.md
  files/en-us/web/html/attributes/index.md
  files/en-us/web/html/element/form/index.md
  files/en-us/web/http/headers/accept-charset/index.md
  files/en-us/web/http/headers/index.md
Labels: Content:HTML, Content:WebAPI, Content:Learn, Content:HTTP, Content:Glossary, Content:Firefox, size/m

#36874 fix typo.
  files/en-us/web/api/console/assert_static/index.md
Labels: Content:WebAPI, size/xs

#36838 HTMLMediaElement waitingforkey event docs
  files/en-us/web/api/htmlmediaelement/encrypted_event/index.md
  files/en-us/web/api/htmlmediaelement/index.md
  files/en-us/web/api/htmlmediaelement/waitingforkey_event/index.md
Labels: Content:WebAPI, size/s

#36851 Add INP glossary entry and replace FID references
  files/en-us/glossary/cls/index.md
  files/en-us/glossary/first_contentful_paint/index.md
  files/en-us/glossary/first_input_delay/index.md
  files/en-us/glossary/first_meaningful_paint/index.md
  files/en-us/glossary/first_paint/index.md
  files/en-us/glossary/interaction_to_next_paint/index.md
  files/en-us/glossary/largest_contentful_paint/index.md
  files/en-us/learn/performance/perceived_performance/index.md
  files/en-us/web/api/htmlimageelement/fetchpriority/index.md
  files/en-us/web/api/htmllinkelement/fetchpriority/index.md
  files/en-us/web/api/largestcontentfulpaint/index.md
  files/en-us/web/api/page_visibility_api/index.md
  files/en-us/web/api/performance_api/index.md
  files/en-us/web/api/performance_api/performance_data/index.md
  files/en-us/web/api/performanceentry/entrytype/index.md
  files/en-us/web/api/performanceentry/index.md
  files/en-us/web/api/performanceeventtiming/index.md
  files/en-us/web/api/performancepainttiming/index.md
  files/en-us/web/performance/how_browsers_work/index.md
  files/en-us/web/performance/index.md
Labels: Content:WebAPI, Content:Learn, Content:Glossary, Content:Performance, size/m

#36876 Sidebars: remove stray slash from http sidebar
  files/sidebars/httpsidebar.yaml
Labels: size/xs

#36871 Update `browser-compat` key for svg `stop-color` attribute
  files/en-us/web/svg/attribute/stop-color/index.md
Labels: Content:SVG, size/xs

#36878 chore(media): swap outdated links to OTI MP4
  files/en-us/web/media/formats/codecs_parameter/index.md
Labels: Content:Media, size/xs

#36798 FF133 ServiceWorkerContainer now available in Workers
  files/en-us/mozilla/firefox/releases/133/index.md
Labels: Content:Firefox, size/xs

#36872 fix(html): Duplicate 'content' use in sentence
  files/en-us/web/html/element/plaintext/index.md
Labels: Content:HTML, size/xs
