Repository mdn/content, pull requests merged in 2024-01, with the labels that each got.

#31422 Fix broken link (+ minor grammar)
  files/en-us/web/api/abortsignal/timeout_static/index.md
Labels: Content:WebAPI

#31424 Move deprecated constant to the relevant section
  files/en-us/web/api/cssrule/type/index.md
Labels: Content:WebAPI

#31445 Update `Element.setAttribute` exception description
  files/en-us/web/api/element/setattribute/index.md
Labels: Content:WebAPI

#31447 JS Reference for Sets: Fix broken internal link to set methods
  files/en-us/web/javascript/reference/global_objects/set/index.md
Labels: Content:JS

#31444 Remove inherited properties from HTMLButtonElement
  files/en-us/web/api/htmlbuttonelement/index.md
Labels: Content:WebAPI

#31435 Change a link to an autolink in `How to write in Markdown`
  files/en-us/mdn/writing_guidelines/howto/markdown_in_mdn/index.md
Labels: Content:Meta

#31326 Remove link to HTMLMediaElement.initialTime
  files/en-us/mozilla/firefox/releases/23/index.md
Labels: Content:Firefox

#31452 autocapitalise - make it clear you need a voice/virtual keyboard
  files/en-us/web/html/global_attributes/autocapitalize/index.md
Labels: Content:HTML

#31347 Remove inherit members in some HTMLElements
  files/en-us/web/api/htmlanchorelement/index.md
  files/en-us/web/api/htmlareaelement/index.md
  files/en-us/web/api/htmllegendelement/index.md
  files/en-us/web/api/htmlselectelement/index.md
Labels: Content:WebAPI

#31455 fix broken video link
  files/en-us/web/api/htmlmediaelement/loadstart_event/index.md
Labels: Content:WebAPI

#31338 init docs for `HTMLElement.autofocus`
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/htmlelement/autofocus/index.md
  files/en-us/web/api/htmlelement/index.md
  files/en-us/web/api/htmlselectelement/autofocus/index.md
  files/en-us/web/api/htmlselectelement/index.md
Labels: Content:WebAPI

#31458 comment the expected output of graph.draw() function
  files/en-us/web/javascript/reference/statements/export/index.md
Labels: Content:JS

#31333 Make it clear that not all <link> elements support SRI
  files/en-us/web/security/subresource_integrity/index.md
Labels: Content:Security

#31460 CSS :where() - move up sentence comparing to :is()
  files/en-us/web/css/_colon_where/index.md
Labels: Content:CSS

#31456 Live sample added
  files/en-us/web/html/element/center/index.md
Labels: Content:HTML

#31461 Fix confusing wording for timestamp parameter
  files/en-us/web/api/midioutput/send/index.md
Labels: Content:WebAPI

#31465 Change Atomics to Math
  files/en-us/web/javascript/reference/global_objects/math/index.md
Labels: Content:JS

#31468 Replace deprecated substr() in example code
  files/en-us/web/api/window/launchqueue/index.md
Labels: Content:WebAPI

#30980 word-break: manual & auto-phrase
  files/en-us/web/css/word-break/index.md
Labels: Content:CSS, awaiting response

#31164 Adds clarifying note to using sandbox with iframe tag
  files/en-us/web/html/element/iframe/index.md
Labels: Content:HTML

#31471 Fix description of m flag
  files/en-us/web/javascript/guide/regular_expressions/index.md
  files/en-us/web/javascript/reference/regular_expressions/index.md
Labels: Content:JS

#31474 Synchronize with BCD v5.5.4
  files/en-us/web/css/basic-shape/index.md
  files/en-us/web/css/basic-shape/xywh/index.md
Labels: Content:CSS

#31358 Update index.md/examples CSS-section
  files/en-us/web/api/element/animationend_event/index.md
Labels: Content:WebAPI

#31476 Minor: removed legacy html4/5 note
  files/en-us/web/html/element/link/index.md
Labels: Content:HTML

#31475 Minor: fix link in SVG to "media query"
  files/en-us/web/svg/attribute/media/index.md
Labels: Content:SVG

#31260 Remove dead tutorial link for porting legacy Firefox add-ons
  files/en-us/mozilla/add-ons/webextensions/what_are_webextensions/index.md
Labels: Content:WebExt

#31477 "List of all color notations" should be linked to "/Web/CSS/color_value"
  files/en-us/web/css/color_value/lch/index.md
  files/en-us/web/css/color_value/oklch/index.md
Labels: Content:CSS

#31478 Update index.md to fix minor typos
  files/en-us/web/javascript/reference/errors/unexpected_token/index.md
Labels: Content:JS

#31480 updating rgb() syntax
  files/en-us/web/svg/tutorial/fills_and_strokes/index.md
Labels: Content:SVG

#31448 Fix terminology
  files/en-us/learn/css/building_blocks/the_box_model/index.md
Labels: Content:Learn:CSS

#31482 Update WorkletSharedStorage.context to non-standard status
  files/en-us/web/api/workletsharedstorage/context/index.md
  files/en-us/web/api/workletsharedstorage/index.md
Labels: Content:WebAPI

#31335 Remove {{Experimental_Inline}} of `HTMLIFrameElement.allowfullscreen`
  files/en-us/web/api/htmliframeelement/index.md
Labels: Content:WebAPI

#31483 remove outdated link in ClipboardItem
  files/en-us/web/api/clipboarditem/index.md
Labels: Content:WebAPI

#31487 add `experimental` status for `WorkletSharedStorage.context`
  files/en-us/web/api/workletsharedstorage/context/index.md
Labels: Content:WebAPI

#31489 remove outdated link
  files/en-us/web/api/clipboard/read/index.md
  files/en-us/web/api/clipboard/readtext/index.md
  files/en-us/web/api/clipboard/write/index.md
  files/en-us/web/api/clipboard/writetext/index.md
  files/en-us/web/api/clipboard_api/index.md
  files/en-us/web/api/clipboardevent/index.md
  files/en-us/web/api/clipboarditem/clipboarditem/index.md
  files/en-us/web/api/clipboarditem/gettype/index.md
  files/en-us/web/api/clipboarditem/presentationstyle/index.md
  files/en-us/web/api/clipboarditem/types/index.md
Labels: Content:WebAPI

#31492 Remove IE mentioned from React tutorial
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/react_getting_started/index.md
Labels: Content:Learn:Client-side

#31494 Remove extra perentheses
  files/en-us/web/css/transition-behavior/index.md
Labels: Content:CSS

#31493 Fix typo in canvas api tutorial
  files/en-us/web/api/canvas_api/tutorial/compositing/index.md
Labels: Content:WebAPI

#31248 Writing Guidelines: quicklinks and surfacing content
  files/en-us/mdn/writing_guidelines/page_structures/index.md
  files/en-us/mdn/writing_guidelines/page_structures/macros/commonly_used_macros/index.md
  files/en-us/mdn/writing_guidelines/page_structures/macros/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/index.md
  files/en-us/mdn/writing_guidelines/page_structures/quicklinks/index.md
  files/en-us/mdn/writing_guidelines/writing_style_guide/index.md
Labels: Content:Meta

#31505 Navigation API | fix apiref & add Experimental_Inline
  files/en-us/web/api/navigation_api/index.md
  files/en-us/web/api/window/navigation/index.md
Labels: Content:WebAPI

#31504 Navigation | update exception & add optional mark
  files/en-us/web/api/navigation/back/index.md
  files/en-us/web/api/navigation/cangoforward/index.md
  files/en-us/web/api/navigation/forward/index.md
  files/en-us/web/api/navigation/traverseto/index.md
Labels: Content:WebAPI

#31499 fix method name on `Web/JavaScript/Reference/Global_Objects/Date/toLocaleTimeString`
  files/en-us/web/javascript/reference/global_objects/date/tolocaletimestring/index.md
Labels: Content:JS

#31508 Fix "thing lines" to "thin lines"
  files/en-us/web/css/cursor/index.md
Labels: Content:CSS

#31509 Remove documentation for `NotifyAudioAvailableEvent`
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/notifyaudioavailableevent/index.md
Labels: Content:WebAPI

#31484 Delete removed webkit prefixed pseudo-elements
  files/en-us/web/css/webkit_extensions/index.md
Labels: Content:CSS

#31479 Remove ::-webkit-outer-spin-button
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/css/_doublecolon_-webkit-inner-spin-button/index.md
  files/en-us/web/css/_doublecolon_-webkit-outer-spin-button/index.md
  files/en-us/web/css/webkit_extensions/index.md
Labels: Content:CSS

#31511 Add missing comma
  files/en-us/learn/css/building_blocks/images_media_form_elements/index.md
Labels: Content:Learn:CSS

#31486 Removed line about perspective() needing to be listed first
  files/en-us/web/css/transform/index.md
Labels: Content:CSS

#31204 Fix issue 22974: clarify sync function problem
  files/en-us/learn/javascript/asynchronous/introducing/index.md
Labels: Content:Learn:JavaScript

#31403 Fix list formatting
  files/en-us/web/api/webglrenderingcontext/bufferdata/index.md
Labels: Content:WebAPI

#31412 Improve the description of document.execCommand()
  files/en-us/web/api/document/execcommand/index.md
Labels: Content:WebAPI

#31446 Remove accessKey from the property list of HTMLLegendElement
  files/en-us/web/api/htmllegendelement/index.md
Labels: Content:WebAPI

#31415 Add a note about beforeinput event not always firing
  files/en-us/web/api/htmlelement/beforeinput_event/index.md
Labels: Content:WebAPI

#29793 Example for css polygon()
  files/en-us/web/css/basic-shape/polygon/index.md
Labels: Content:CSS

#31405 pageAction API edits
  files/en-us/mozilla/add-ons/webextensions/api/pageaction/index.md
Labels: Content:WebExt

#31513 Add mask-border to shorthand references
  files/en-us/web/css/shorthand_properties/index.md
Labels: Content:CSS

#31390 OVR_multiview2.: three.js demo link
  files/en-us/web/api/ovr_multiview2/index.md
Labels: Content:WebAPI

#31472 Remove Path=/ requirement mentioning from Partitioned Cookies page
  files/en-us/web/http/headers/set-cookie/index.md
  files/en-us/web/privacy/partitioned_cookies/index.md
Labels: Content:Other, Content:HTTP

#31503 Navigation | fix example & add optional mark
  files/en-us/web/api/navigation/navigate/index.md
  files/en-us/web/api/navigation/reload/index.md
Labels: Content:WebAPI

#31327 Fix link to appinstalled event
  files/en-us/mozilla/firefox/releases/52/index.md
Labels: Content:Firefox

#31324 Fix broken links
  files/en-us/mozilla/firefox/releases/33/index.md
Labels: Content:Firefox

#31323 Fixing broken links
  files/en-us/mozilla/firefox/releases/53/index.md
Labels: Content:Firefox

#31525 fix some styles
  files/en-us/games/techniques/2d_collision_detection/index.md
Labels: Content:Games

#31530 Add {{AvailableInWorkers}} macros to `CookieStore`
  files/en-us/web/api/cookiestore/delete/index.md
  files/en-us/web/api/cookiestore/get/index.md
  files/en-us/web/api/cookiestore/getall/index.md
  files/en-us/web/api/cookiestore/index.md
  files/en-us/web/api/cookiestore/set/index.md
Labels: Content:WebAPI

#31191 Add contextualIdentities.move
  files/en-us/mozilla/add-ons/webextensions/api/contextualidentities/index.md
  files/en-us/mozilla/add-ons/webextensions/api/contextualidentities/move/index.md
  files/en-us/mozilla/firefox/releases/123/index.md
Labels: Content:WebExt, Content:Firefox

#31367 init docs for `HTMLElement.virtualkeyboardpolicy`
  files/en-us/web/api/htmlelement/index.md
  files/en-us/web/api/htmlelement/virtualkeyboardpolicy/index.md
  files/en-us/web/api/virtualkeyboard_api/index.md
  files/en-us/web/html/global_attributes/index.md
  files/en-us/web/html/global_attributes/virtualkeyboardpolicy/index.md
  files/jsondata/GroupData.json
Labels: Content:HTML, Content:WebAPI

#31522 fix broken links and update the description of iterators
  files/en-us/mdn/writing_guidelines/howto/write_an_api_reference/information_contained_in_a_webidl_file/index.md
Labels: Content:Meta

#31535 fix HTML <image> reference to <img> in Sec-Fetch-Dest docs
  files/en-us/web/http/headers/sec-fetch-dest/index.md
Labels: Content:HTTP

#31520 add missing Specifications section to `HTMLElement.accessKey`
  files/en-us/web/api/htmlelement/accesskey/index.md
Labels: Content:WebAPI

#31531 MediaDeviceInfo content update
  files/en-us/web/api/inputdeviceinfo/getcapabilities/index.md
  files/en-us/web/api/inputdeviceinfo/index.md
  files/en-us/web/api/mediadeviceinfo/deviceid/index.md
  files/en-us/web/api/mediadeviceinfo/groupid/index.md
  files/en-us/web/api/mediadeviceinfo/index.md
  files/en-us/web/api/mediadeviceinfo/kind/index.md
  files/en-us/web/api/mediadeviceinfo/label/index.md
  files/en-us/web/api/mediadeviceinfo/tojson/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

#31536 Neutralize XUL links
  files/en-us/mozilla/firefox/releases/9/index.md
Labels: Content:Firefox

#31527 Update description section for `NotificationEvent`
  files/en-us/web/api/notificationevent/action/index.md
  files/en-us/web/api/notificationevent/notification/index.md
Labels: Content:WebAPI

#31528 Notification | fix apiref & update exception sections & add missing optional_inline
  files/en-us/web/api/serviceworkerglobalscope/notificationclick_event/index.md
  files/en-us/web/api/serviceworkerglobalscope/notificationclose_event/index.md
  files/en-us/web/api/serviceworkerregistration/getnotifications/index.md
  files/en-us/web/api/serviceworkerregistration/shownotification/index.md
Labels: Content:WebAPI

#31512 initial document for HTMLAnchorElement.hreflang
  files/en-us/web/api/htmlanchorelement/hreflang/index.md
Labels: Content:WebAPI

#31537 Remove broken links to long gone non-standard features
  files/en-us/mozilla/firefox/releases/71/index.md
Labels: Content:Firefox

#31544 Fix links to table's insertCell() and insertRow() methods
  files/en-us/mozilla/firefox/releases/20/index.md
Labels: Content:Firefox

#31545 Remove links to mixins ParentNode and ChildNode
  files/en-us/mozilla/firefox/releases/25/index.md
Labels: Content:Firefox

#31547 Remove extra bracket typo
  files/en-us/mozilla/firefox/releases/33/index.md
Labels: Content:Firefox

#31556 Fix broken link to Navigator.language
  files/en-us/mozilla/firefox/releases/5/updating_add-ons/index.md
Labels: Content:Firefox

#31554 Remove link to URLUtils mixin
  files/en-us/mozilla/firefox/releases/26/index.md
Labels: Content:Firefox

#31565 Fix broken link (was using the mixin names as interface)
  files/en-us/mozilla/firefox/releases/41/index.md
Labels: Content:Firefox

#31555 Fix links (@font are really @font-face)
  files/en-us/mozilla/firefox/releases/46/index.md
Labels: Content:Firefox

#31553 Remove link to CanvasRendringContext2D.drawSystemFocusRing()
  files/en-us/mozilla/firefox/releases/28/index.md
Labels: Content:Firefox

#31361 ServiceWorkerContainer.register: point type=module to compat data
  files/en-us/web/api/serviceworkercontainer/register/index.md
Labels: Content:WebAPI

#31568 Added missing word (I think?)
  files/en-us/web/http/browser_detection_using_the_user_agent/index.md
Labels: Content:HTTP

#31215 FF122 ExprFeatre: Element.checkVisibility() supports options.contentVisibilityAuto
  files/en-us/mozilla/firefox/experimental_features/index.md
Labels: Content:Firefox

#31567 Fix hex value of DOM_VK_DOUBLE_QUOTE
  files/en-us/web/api/keyboardevent/keycode/index.md
Labels: Content:WebAPI

#31540 Remove mobile guides and redirect to responsive design guide
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/learn/css/css_layout/responsive_design/index.md
  files/en-us/web/guide/mobile/a_hybrid_approach/index.md
  files/en-us/web/guide/mobile/a_hybrid_approach/webowonder_mobile_and_desktop-300x225.jpg
  files/en-us/web/guide/mobile/index.md
  files/en-us/web/guide/mobile/mobile-friendliness/alaska_air_mobile_and_desktop-300x225.png
  files/en-us/web/guide/mobile/mobile-friendliness/index.md
Labels: Content:Guide, Content:Learn:CSS

#31572 remove the documentation of "Read-Only" tag
  files/en-us/mdn/writing_guidelines/howto/write_an_api_reference/information_contained_in_a_webidl_file/index.md
Labels: Content:Meta

#31442 init docs for `HTMLElement.translate`
  files/en-us/web/api/htmlelement/translate/index.md
Labels: Content:WebAPI

#31441 init docs for `HTMLElement.spellcheck`
  files/en-us/web/api/htmlelement/index.md
  files/en-us/web/api/htmlelement/spellcheck/index.md
Labels: Content:WebAPI

#31529 init docs for `HTMLScriptElement.crossOrigin`
  files/en-us/web/api/htmlimageelement/crossorigin/index.md
  files/en-us/web/api/htmllinkelement/crossorigin/index.md
  files/en-us/web/api/htmlmediaelement/crossorigin/index.md
  files/en-us/web/api/htmlscriptelement/crossorigin/index.md
  files/en-us/web/api/htmlscriptelement/index.md
Labels: Content:WebAPI

#31576 add missing bracket
  files/en-us/mozilla/firefox/releases/19/index.md
Labels: Content:Firefox

#31578 Inexistent parameter removed from the Example
  files/en-us/web/api/treewalker/filter/index.md
Labels: Content:WebAPI

#31573 Neutralize broken XUL links
  files/en-us/mozilla/firefox/releases/4/index.md
Labels: Content:Firefox

#31581 Remove deprecated tota11y from Accessibility Auditing tools
  files/en-us/learn/tools_and_testing/cross_browser_testing/accessibility/index.md
Labels: Content:Learn:Cross-Browser-Testing

#31020 Remove `Document` `lostpointercapture` event
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/document/lostpointercapture_event/index.md
Labels: Content:WebAPI

#31586 Fix typo
  files/en-us/web/css/css_flow_layout/block_and_inline_layout_in_normal_flow/index.md
Labels: Content:CSS

#31584 Fix copy & paste error
  files/en-us/web/api/cache/add/index.md
Labels: Content:WebAPI

#31588 Update index.md
  files/en-us/web/api/indexeddb_api/index.md
Labels: Content:WebAPI

#31322 Element.checkVisibility() - docs
  files/en-us/web/api/element/checkvisibility/index.md
  files/en-us/web/api/element/index.md
Labels: Content:WebAPI

#31559 Harmonize the usage of `<section>` in document
  files/en-us/web/css/grid-template-areas/index.md
  files/en-us/web/css/grid-template/index.md
Labels: Content:CSS

#31539 format the code examples
  files/en-us/web/api/datatransferitem/getasfile/index.md
  files/en-us/web/api/datatransferitem/getasstring/index.md
  files/en-us/web/api/datatransferitem/kind/index.md
  files/en-us/web/api/datatransferitem/type/index.md
Labels: Content:WebAPI

#31594 Formatting: Added a space for clarity in CSS file
  files/en-us/learn/css/building_blocks/the_box_model/index.md
Labels: Content:Learn:CSS

#31597 See also: template element
  files/en-us/web/html/element/template/index.md
Labels: Content:HTML

#31137 FF122 Clipboard API
  files/en-us/web/api/clipboard/index.md
  files/en-us/web/api/clipboard/read/index.md
  files/en-us/web/api/clipboard/readtext/index.md
  files/en-us/web/api/clipboard/write/index.md
  files/en-us/web/api/clipboard/writetext/index.md
  files/en-us/web/api/clipboard_api/index.md
  files/en-us/web/api/clipboardevent/clipboarddata/index.md
  files/en-us/web/api/clipboardevent/clipboardevent/index.md
  files/en-us/web/api/clipboardevent/index.md
  files/en-us/web/api/clipboarditem/clipboarditem/index.md
  files/en-us/web/api/clipboarditem/gettype/index.md
  files/en-us/web/api/clipboarditem/index.md
  files/en-us/web/api/clipboarditem/presentationstyle/index.md
  files/en-us/web/api/clipboarditem/types/index.md
  files/en-us/web/api/element/copy_event/index.md
  files/en-us/web/api/element/cut_event/index.md
  files/en-us/web/api/element/paste_event/index.md
  files/en-us/web/api/navigator/clipboard/index.md
  files/en-us/web/api/navigator/index.md
  files/en-us/web/api/permissions_api/index.md
  files/en-us/web/security/user_activation/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, Content:Security

#31587 See also: related elements, attributes, and selectors re: ShadowRoot.host
  files/en-us/web/api/shadowroot/host/index.md
  files/en-us/web/html/element/template/index.md
Labels: Content:HTML, Content:WebAPI

#31602 Neutralize link to XUL + abandonned experimental feature
  files/en-us/mozilla/firefox/releases/17/index.md
Labels: Content:Firefox

#31604 Guide project: move Houdini
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/glossary/houdini/index.md
  files/en-us/web/api/css/paintworklet_static/index.md
  files/en-us/web/api/css_object_model/index.md
  files/en-us/web/api/css_painting_api/index.md
  files/en-us/web/api/css_properties_and_values_api/guide/index.md
  files/en-us/web/api/css_properties_and_values_api/index.md
  files/en-us/web/api/css_typed_om_api/index.md
  files/en-us/web/api/houdini/index.md
  files/en-us/web/api/paintworkletglobalscope/devicepixelratio/index.md
  files/en-us/web/api/paintworkletglobalscope/index.md
  files/en-us/web/api/paintworkletglobalscope/registerpaint/index.md
  files/en-us/web/css/@property/index.md
  files/en-us/web/css/@property/inherits/index.md
  files/en-us/web/css/@property/initial-value/index.md
  files/en-us/web/css/@property/syntax/index.md
  files/en-us/web/css/css_properties_and_values_api/index.md
  files/jsondata/GroupData.json
Labels: Content:CSS, Content:WebAPI, Content:Glossary

#31603 fix: correct the description of the DataTransferItem.kind property
  files/en-us/web/api/datatransferitem/kind/index.md
Labels: Content:WebAPI

#31601 Fix links
  files/en-us/mozilla/firefox/releases/12/index.md
Labels: Content:Firefox

#31606 Fix macros | the `pointerrawupdate` event is on `Element` rather than `HTMLElement`
  files/en-us/web/api/performanceeventtiming/index.md
Labels: Content:WebAPI

#30867 Update HTML input pattern attribute documentation (fixes #26907)
  files/en-us/web/html/attributes/pattern/index.md
Labels: Content:HTML

#31387 CSS module: Conditional rules
  files/en-us/web/css/css_conditional_rules/index.md
  files/en-us/web/css/css_conditional_rules/using_feature_queries/index.md
Labels: Content:CSS

#30707 fix(css): update good contrast example
  files/en-us/web/accessibility/understanding_wcag/perceivable/color_contrast/index.md
Labels: Content:Accessibility

#31281 Visual Viewport API | update GroupData & fix apiref
  files/en-us/web/api/visual_viewport_api/index.md
  files/en-us/web/api/visualviewport/height/index.md
  files/en-us/web/api/visualviewport/index.md
  files/en-us/web/api/visualviewport/offsetleft/index.md
  files/en-us/web/api/visualviewport/offsettop/index.md
  files/en-us/web/api/visualviewport/pageleft/index.md
  files/en-us/web/api/visualviewport/pagetop/index.md
  files/en-us/web/api/visualviewport/resize_event/index.md
  files/en-us/web/api/visualviewport/scale/index.md
  files/en-us/web/api/visualviewport/scroll_event/index.md
  files/en-us/web/api/visualviewport/width/index.md
  files/en-us/web/api/window/visualviewport/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI

#31607 Fix broken link
  files/en-us/mozilla/firefox/releases/9/updating_add-ons/index.md
Labels: Content:Firefox

#31609 Remove broken link to long-gone WebRTC feature
  files/en-us/mozilla/firefox/releases/66/index.md
Labels: Content:Firefox

#31133 FF122 Relnote HTMLSelectElement.showPicker
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/122/index.md
Labels: Content:Firefox

#31207 FF122 ExprFeature: Screen Wake Lock
  files/en-us/mozilla/firefox/experimental_features/index.md
Labels: Content:Firefox

#31608 fix: Remove link to non-standard long-gone CSS pseudo-class
  files/en-us/mozilla/firefox/releases/88/index.md
Labels: Content:Firefox

#31240 MediaRecorder properties | small refactors & remove unwritten Example section
  files/en-us/web/api/mediarecorder/istypesupported_static/index.md
  files/en-us/web/api/mediarecorder/mimetype/index.md
  files/en-us/web/api/mediarecorder/state/index.md
  files/en-us/web/api/mediarecorder/stream/index.md
  files/en-us/web/api/mediarecorder/videobitspersecond/index.md
Labels: Content:WebAPI

#31574 bookmark api: add missing parameters in example code
  files/en-us/mozilla/add-ons/webextensions/api/bookmarks/oncreated/index.md
Labels: Content:WebExt

#31286 Common MIME types add apng
  files/en-us/web/http/basics_of_http/mime_types/common_types/index.md
Labels: Content:HTTP

#31620 Replace "DOM request" with "asynchoronus operation", fixes #31427
  files/en-us/web/api/abortcontroller/abort/index.md
  files/en-us/web/api/abortcontroller/index.md
  files/en-us/web/api/abortcontroller/signal/index.md
  files/en-us/web/api/abortsignal/aborted/index.md
  files/en-us/web/api/abortsignal/index.md
Labels: Content:WebAPI

#31617 Add information on `ric`, `rex`, `rch` , and `rcap` units and regroup the relative units.
  files/en-us/web/css/css_values_and_units/index.md
Labels: Content:CSS

#31303 Table caption in learn tables
  files/en-us/learn/html/tables/basics/index.md
Labels: Content:Learn:HTML

#31635 Fix example | id name `spellcheck-controller` to `sc-controller`
  files/en-us/web/api/htmlelement/spellcheck/index.md
Labels: Content:WebAPI

#31633 Update index.md
  files/en-us/web/http/headers/set-cookie/index.md
Labels: Content:HTTP

#31629 Neutralize broken XUL link
  files/en-us/mozilla/firefox/releases/3/full_page_zoom/index.md
Labels: Content:Firefox

#31627 Remove link to long-gone page
  files/en-us/mozilla/firefox/releases/3/svg_improvements/index.md
Labels: Content:Firefox

#31628 Fix link to event
  files/en-us/mozilla/firefox/releases/65/index.md
Labels: Content:Firefox

#31613 Fix typo in WebRTC example
  files/en-us/web/api/webrtc_api/signaling_and_video_calling/index.md
Labels: Content:WebAPI

#31616 Import django.urls.reverse in Genre, not Book
  files/en-us/learn/server-side/django/models/index.md
Labels: Content:Learn:Django

#31614 fix: Typo in http/conditional_requests/index.md
  files/en-us/web/http/conditional_requests/index.md
Labels: Content:HTTP

#31636 fix: remove duplicate words (typos)
  files/en-us/learn/css/building_blocks/selectors/type_class_and_id_selectors/index.md
  files/en-us/learn/css/css_layout/flexbox/index.md
  files/en-us/learn/server-side/django/models/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/react_interactivity_events_state/index.md
  files/en-us/mozilla/firefox/releases/117/index.md
  files/en-us/web/api/abortsignal/any_static/index.md
  files/en-us/web/api/audiobuffersourcenode/loop/index.md
  files/en-us/web/api/audiobuffersourcenode/loopend/index.md
  files/en-us/web/api/audiobuffersourcenode/loopstart/index.md
  files/en-us/web/api/clipboard_api/index.md
  files/en-us/web/api/customstateset/index.md
  files/en-us/web/api/htmlmediaelement/setsinkid/index.md
  files/en-us/web/api/paymentrequest/paymentrequest/index.md
  files/en-us/web/api/publickeycredential/parsecreationoptionsfromjson_static/index.md
  files/en-us/web/api/publickeycredential/parserequestoptionsfromjson_static/index.md
  files/en-us/web/api/rtcrtpreceiver/transform/index.md
  files/en-us/web/api/rtcrtpsender/transform/index.md
  files/en-us/web/api/rtctransformevent/index.md
  files/en-us/web/api/shared_storage_api/index.md
  files/en-us/web/css/@counter-style/range/index.md
  files/en-us/web/css/calc/index.md
  files/en-us/web/css/content/index.md
  files/en-us/web/html/attributes/placeholder/index.md
  files/en-us/web/progressive_web_apps/tutorials/cycletracker/service_workers/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:Learn:Django, Content:Learn:Client-side, Content:Firefox, Content:Learn:CSS, Content:PWA

#31557 Amend explanation of hidden="false"
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/react_todo_list_beginning/index.md
Labels: Content:Learn:Client-side

#31642 Update index.md
  files/en-us/web/css/_doublecolon_-webkit-progress-bar/index.md
Labels: Content:CSS

#31630 fix(css): remove flexbox backward compatibility page
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/learn/css/css_layout/supporting_older_browsers/index.md
  files/en-us/web/css/css_display/index.md
  files/en-us/web/css/css_flexible_box_layout/backwards_compatibility_of_flexbox/index.md
Labels: Content:CSS, Content:Learn:CSS

#31514 docs(relnote): FF122 - Support enabled for motion path features
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/122/index.md
  files/en-us/web/css/ray/index.md
Labels: Content:CSS, Content:Firefox

#31644 missing comma
  files/en-us/web/api/htmlinputelement/index.md
Labels: Content:WebAPI

#31647 Synchronize with BCD v5.5.5
  files/en-us/web/css/ray/index.md
Labels: Content:CSS

#31643 Fix link to removed EventListener interface
  files/en-us/web/api/eventtarget/addeventlistener/index.md
Labels: Content:WebAPI

#31657 XRSystem.requestSession - fix example with depth sensing
  files/en-us/web/api/xrsystem/requestsession/index.md
Labels: Content:WebAPI

#31132 FF121 Relnote: HTMLInputElement.showPicker()
  files/en-us/mozilla/firefox/releases/121/index.md
Labels: Content:Firefox

#31625 fix(css): add repeating-conic-gradient to syntax section
  files/en-us/web/css/gradient/index.md
Labels: Content:CSS

#31662 Removing banner whilst we finalise decisions
  files/en-us/web/api/storage_access_api/related_website_sets/index.md
Labels: Content:WebAPI

#28048 feat(wasm): Upgrade WASM node tutorial to use node 20
  .vscode/project-words.txt
  files/en-us/webassembly/rust_to_wasm/index.md
Labels: Content:wasm, system

#30490 Indicate the geographical reference system
  files/en-us/web/api/geolocationcoordinates/index.md
Labels: Content:WebAPI

#31653 Fix self-links of `enterpictureinpicture` event and `leavepictureinpicture` event of the `HTMLVideoElement` element
  files/en-us/web/api/htmlvideoelement/index.md
Labels: Content:WebAPI
