Repository mdn/content, pull requests merged in 2024-12, with the labels that each got.

#37031 Update files/en-us/games/publishing_games/game_distribution/index.md
  files/en-us/games/publishing_games/game_distribution/index.md
Labels: Content:Games, size/xs

#37037 Fix data for svg `<a>` element
  files/en-us/web/svg/element/a/index.md
  files/jsondata/SVGData.json
Labels: Content:SVG, size/s

#37034 Add attributes detail for svg `<view>` element
  files/en-us/web/svg/attribute/zoomandpan/index.md
  files/en-us/web/svg/element/view/index.md
Labels: Content:SVG, size/s

#37039 fix(WebExt) missing content after a colon
  files/en-us/mozilla/add-ons/webextensions/api/identity/launchwebauthflow/index.md
Labels: Content:WebExt, size/xs

#36938 add: SVGAElement href property
  files/en-us/web/api/svgaelement/href/index.md
Labels: Content:WebAPI, size/s

#37015 Improvements and additions to Web Serial API docs
  files/en-us/web/api/serial/getports/index.md
  files/en-us/web/api/serial/index.md
  files/en-us/web/api/serial/requestport/index.md
  files/en-us/web/api/serialport/close/index.md
  files/en-us/web/api/serialport/forget/index.md
  files/en-us/web/api/serialport/getinfo/index.md
  files/en-us/web/api/serialport/index.md
  files/en-us/web/api/web_serial_api/index.md
Labels: Content:WebAPI, size/m

#37002 Add docs on SerialPort.connected and Bluetooth port event support
  files/en-us/web/api/serialport/connect_event/index.md
  files/en-us/web/api/serialport/connected/index.md
  files/en-us/web/api/serialport/disconnect_event/index.md
  files/en-us/web/api/serialport/index.md
Labels: Content:WebAPI, size/m

#37044 fix typos
  .vscode/dictionaries/non-english.txt
  .vscode/dictionaries/terms-abbreviations.txt
Labels: system, size/xs

#36997 Fix Web CSS mod example
  files/en-us/web/css/mod/index.md
Labels: Content:CSS, size/xs

#37035 Update for unimplemented css selectors
  files/en-us/web/css/_colon_current/index.md
  files/en-us/web/css/_colon_local-link/index.md
  files/en-us/web/css/_colon_target-within/index.md
Labels: Content:CSS, size/s

#36836 FF133 Expr. Features - TrustedTypePolicyFactory.getPropertyType, .getAttributeType pref
  files/en-us/mozilla/firefox/experimental_features/index.md
Labels: Content:Firefox, size/s

#36858 RTCRtpStreamStats - delete intermediate dictionary
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/firefox/releases/63/index.md
  files/en-us/mozilla/firefox/releases/66/index.md
  files/en-us/web/api/rtcencodedvideoframe/getmetadata/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/codecid/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/fircount/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/kind/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/plicount/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/ssrc/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/trackid/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/transportid/index.md
  files/en-us/web/api/rtcoutboundrtpstreamstats/codecid/index.md
  files/en-us/web/api/rtcoutboundrtpstreamstats/fircount/index.md
  files/en-us/web/api/rtcoutboundrtpstreamstats/index.md
  files/en-us/web/api/rtcoutboundrtpstreamstats/kind/index.md
  files/en-us/web/api/rtcoutboundrtpstreamstats/plicount/index.md
  files/en-us/web/api/rtcoutboundrtpstreamstats/ssrc/index.md
  files/en-us/web/api/rtcoutboundrtpstreamstats/transportid/index.md
  files/en-us/web/api/rtcrtpstreamstats/codecid/index.md
  files/en-us/web/api/rtcrtpstreamstats/fircount/index.md
  files/en-us/web/api/rtcrtpstreamstats/index.md
  files/en-us/web/api/rtcrtpstreamstats/kind/index.md
  files/en-us/web/api/rtcrtpstreamstats/nackcount/index.md
  files/en-us/web/api/rtcrtpstreamstats/plicount/index.md
  files/en-us/web/api/rtcrtpstreamstats/qpsum/index.md
  files/en-us/web/api/rtcrtpstreamstats/ssrc/index.md
  files/en-us/web/api/rtcrtpstreamstats/trackid/index.md
  files/en-us/web/api/rtcrtpstreamstats/transportid/index.md
Labels: Content:WebAPI, Content:Firefox, size/l

#36989 Remove -webkit- from gamepad buttons
  files/en-us/web/api/gamepad/buttons/index.md
Labels: Content:WebAPI, size/m

#36827 Fix: Clarify behavior of HTML tags within the <title> element (Issue #36702)
  files/en-us/web/api/htmltitleelement/text/index.md
  files/en-us/web/html/element/index.md
Labels: Content:HTML, Content:WebAPI, size/s

#37000 added a note about comma separation and example of interactive-widget…
  files/en-us/web/html/viewport_meta_tag/index.md
Labels: Content:HTML, size/s

#36990 New pages: HTMLxElement.cite
  files/en-us/web/api/htmlmodelement/cite/index.md
  files/en-us/web/api/htmlquoteelement/cite/index.md
Labels: Content:WebAPI, size/m

#36813 New page: htmlareaelement.coords and shape
  files/en-us/web/api/htmlareaelement/coords/index.md
  files/en-us/web/api/htmlareaelement/shape/index.md
Labels: Content:WebAPI, size/m

#36969 FF134 Intl.Duration in Nightly only - expr/relnote
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/134/index.md
Labels: Content:Firefox, size/s

#37018 FF134 autocorrect, not autocomplete fix
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/134/index.md
Labels: Content:Firefox, size/xs

#37045 FF134 ReadableStreamBYOBReader.read() takes options.min arg
  files/en-us/web/api/readablestreambyobreader/read/index.md
Labels: Content:WebAPI, size/m

#37054 Synchronize with BCD v5.6.20
  files/en-us/web/api/serialport/getinfo/index.md
  files/en-us/web/css/_colon_has-slotted/index.md
Labels: Content:CSS, Content:WebAPI, size/s

#37025 Correct the element name
  files/en-us/web/css/@scope/index.md
Labels: Content:CSS, size/xs

#37062 36920 align self and justify self absol pos
  files/en-us/web/css/align-self/index.md
  files/en-us/web/css/justify-self/index.md
Labels: Content:CSS, size/s

#37055 Bug-1921631 window.close() now closes sidebar
  files/en-us/mozilla/firefox/releases/133/index.md
Labels: Content:Firefox, size/xs

#37020 FF134 WebRTC supports simulcast of screenshared video sources
  files/en-us/mozilla/firefox/releases/134/index.md
Labels: Content:Firefox, size/xs

#37083 HTMLMediaElement: sinkId property: Remove `id-multimedia` and `id-communications`
  files/en-us/web/api/htmlmediaelement/sinkid/index.md
Labels: Content:WebAPI, size/xs

#37084 webglrenderingcontext.linewidth: remove 2017 warning
  files/en-us/web/api/webglrenderingcontext/linewidth/index.md
Labels: Content:WebAPI, size/s

#36994 Fix syntax for svg `<pattern>` element
  files/en-us/web/svg/attribute/patterncontentunits/index.md
  files/en-us/web/svg/attribute/patterntransform/index.md
  files/en-us/web/svg/attribute/patternunits/index.md
  files/en-us/web/svg/element/pattern/index.md
  files/jsondata/SVGData.json
Labels: Content:SVG, size/m

#37093 Glossary: remove invalid link
  files/en-us/glossary/time_to_interactive/index.md
Labels: Content:Glossary, size/xs

#37095 fix typo
  files/en-us/mozilla/add-ons/webextensions/api/sidebaraction/settitle/index.md
Labels: Content:WebExt, size/xs

#37089 Remove the "mixed" aria-checked value from the menuitemradio role docs
  files/en-us/web/accessibility/aria/roles/menuitemradio_role/index.md
Labels: Content:Accessibility, size/xs

#36951 Improve label examples in `Web/HTML/Global_attributes/enterkeyhint`
  files/en-us/web/html/global_attributes/enterkeyhint/index.md
Labels: Content:HTML, size/s

#37067 proc/PID is not available on mac
  files/en-us/mozilla/add-ons/webextensions/native_messaging/index.md
Labels: Content:WebExt, size/s

#37098 Make TTI metric a bit more past tense
  files/en-us/glossary/time_to_interactive/index.md
Labels: Content:Glossary, size/s

#37101 Add a note about how `delegatesFocus` about focusable element placement
  files/en-us/web/api/shadowroot/delegatesfocus/index.md
Labels: Content:WebAPI, size/xs

#37105 fixes two live samples
  files/en-us/learn/javascript/building_blocks/conditionals/index.md
Labels: Content:Learn:JavaScript, size/xs

#37063 added *-self properties to 134 release note
  files/en-us/mozilla/firefox/releases/134/index.md
Labels: Content:Firefox, size/xs

#37053 FF134 Relnote: ReadableStreamBYOBReader.read() option_min
  files/en-us/mozilla/firefox/releases/134/index.md
Labels: Content:Firefox, size/xs

#37085 fix(css): descriptions on logical padding pages
  files/en-us/web/css/padding-block-end/index.md
  files/en-us/web/css/padding-block-start/index.md
  files/en-us/web/css/padding-block/index.md
  files/en-us/web/css/padding-inline-end/index.md
  files/en-us/web/css/padding-inline-start/index.md
  files/en-us/web/css/padding-inline/index.md
Labels: Content:CSS, size/s

#37117 Update index.md
  files/en-us/web/uri/authority/index.md
Labels: Content:Other, size/xs

#37077 MDN feature pages for SVGAnimatedTransformList
  files/en-us/web/api/svganimatedtransformlist/animval/index.md
  files/en-us/web/api/svganimatedtransformlist/baseval/index.md
  files/en-us/web/api/svganimatedtransformlist/index.md
Labels: Content:WebAPI, size/m

#37119 remove i flag from pattern in example
  files/en-us/web/javascript/reference/regular_expressions/modifier/index.md
Labels: Content:JS, size/xs

#37120 fix: mismatch between code and return value
  files/en-us/web/javascript/reference/global_objects/iterator/some/index.md
Labels: Content:JS, size/xs

#37122 string.concat() is not useful
  files/en-us/web/javascript/reference/global_objects/string/concat/index.md
Labels: Content:JS, size/xs

#37127 typo
  files/en-us/web/css/css_transforms/index.md
Labels: Content:CSS, size/xs

#37106 Improve the definition of sibling nodes
  files/en-us/learn/javascript/client-side_web_apis/manipulating_documents/index.md
Labels: Content:Learn:JavaScript, size/xs

#37131 Synchronize with BCD v5.6.22
  files/en-us/web/css/position-area/index.md
  files/en-us/web/css/position-area_value/index.md
Labels: Content:CSS, size/s

#37134 Fix a missing word
  files/en-us/web/media/formats/codecs_parameter/index.md
Labels: Content:Media, size/xs

#37125 Fix: removed unnecessary webgl.css link
  files/en-us/web/api/webgl_api/tutorial/adding_2d_content_to_a_webgl_context/index.md
Labels: Content:WebAPI, size/xs

#37136 Fixing typo
  files/en-us/web/manifest/screenshots/index.md
Labels: Content:Manifest, size/xs

#37073 Replace 'the DOM load event' with 'the window load event' Issue #37047
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/oncompleted/index.md
Labels: Content:WebExt, size/xs

#37140 fix typos
  .vscode/dictionaries/code-entities.txt
  files/en-us/web/api/serial/requestport/index.md
  files/en-us/web/css/_colon_has-slotted/index.md
Labels: Content:CSS, Content:WebAPI, system, size/s

#37056 Experimental features: Fixes for cssletterspacing
  files/en-us/mozilla/firefox/experimental_features/index.md
Labels: Content:Firefox, size/m

#37121 chore: update social URLs
  files/en-us/mdn/community/communication_channels/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/onupdated/index.md
Labels: Content:WebExt, Content:Meta, size/s

#37128 Fix subtitlesMenu redeclaration in "Adding captions and subtitles to HTML video" tutorial
  files/en-us/web/media/audio_and_video_delivery/adding_captions_and_subtitles_to_html5_video/index.md
Labels: Content:Media, size/xs

#37129 Add deprecated symbols to system colors
  files/en-us/web/css/system-color/index.md
Labels: Content:CSS, size/m

#36897 Update sample rendering for menclose and mfenced
  files/en-us/web/mathml/element/menclose/actuarial.png
  files/en-us/web/mathml/element/menclose/actuarial.svg
  files/en-us/web/mathml/element/menclose/bottom.png
  files/en-us/web/mathml/element/menclose/bottom.svg
  files/en-us/web/mathml/element/menclose/box.png
  files/en-us/web/mathml/element/menclose/box.svg
  files/en-us/web/mathml/element/menclose/circle-box.svg
  files/en-us/web/mathml/element/menclose/circle.png
  files/en-us/web/mathml/element/menclose/circle.svg
  files/en-us/web/mathml/element/menclose/default.png
  files/en-us/web/mathml/element/menclose/downdiagonalstrike.png
  files/en-us/web/mathml/element/menclose/downdiagonalstrike.svg
  files/en-us/web/mathml/element/menclose/horizontalstrike.png
  files/en-us/web/mathml/element/menclose/horizontalstrike.svg
  files/en-us/web/mathml/element/menclose/index.md
  files/en-us/web/mathml/element/menclose/left.png
  files/en-us/web/mathml/element/menclose/left.svg
  files/en-us/web/mathml/element/menclose/longdiv.svg
  files/en-us/web/mathml/element/menclose/madruwb.png
  files/en-us/web/mathml/element/menclose/madruwb.svg
  files/en-us/web/mathml/element/menclose/phasorangle.png
  files/en-us/web/mathml/element/menclose/phasorangle.svg
  files/en-us/web/mathml/element/menclose/right.png
  files/en-us/web/mathml/element/menclose/right.svg
  files/en-us/web/mathml/element/menclose/roundedbox.png
  files/en-us/web/mathml/element/menclose/roundedbox.svg
  files/en-us/web/mathml/element/menclose/top.png
  files/en-us/web/mathml/element/menclose/top.svg
  files/en-us/web/mathml/element/menclose/updiagonalarrow.png
  files/en-us/web/mathml/element/menclose/updiagonalarrow.svg
  files/en-us/web/mathml/element/menclose/updiagonalstrike.png
  files/en-us/web/mathml/element/menclose/updiagonalstrike.svg
  files/en-us/web/mathml/element/menclose/verticalstrike.png
  files/en-us/web/mathml/element/menclose/verticalstrike.svg
  files/en-us/web/mathml/element/mfenced/index.md
  files/en-us/web/mathml/element/mfenced/mfenced-ignored.svg
  files/en-us/web/mathml/element/mfenced/mfenced-repeated.svg
  files/en-us/web/mathml/element/mfenced/mfenced01.png
  files/en-us/web/mathml/element/mfenced/mfenced02.png
Labels: Content:MathML, size/m

#36862 chore(http): Refresh headers ~[s->x]
  files/en-us/glossary/source_map/index.md
  files/en-us/web/api/ndefrecord/lang/index.md
  files/en-us/web/http/headers/connection/index.md
  files/en-us/web/http/headers/forwarded/index.md
  files/en-us/web/http/headers/index.md
  files/en-us/web/http/headers/no-vary-search/index.md
  files/en-us/web/http/headers/origin-agent-cluster/index.md
  files/en-us/web/http/headers/permissions-policy/index.md
  files/en-us/web/http/headers/proxy-authenticate/index.md
  files/en-us/web/http/headers/proxy-authorization/index.md
  files/en-us/web/http/headers/range/index.md
  files/en-us/web/http/headers/reporting-endpoints/index.md
  files/en-us/web/http/headers/repr-digest/index.md
  files/en-us/web/http/headers/server-timing/index.md
  files/en-us/web/http/headers/server/index.md
  files/en-us/web/http/headers/service-worker-navigation-preload/index.md
  files/en-us/web/http/headers/set-cookie/index.md
  files/en-us/web/http/headers/set-login/index.md
  files/en-us/web/http/headers/sourcemap/index.md
  files/en-us/web/http/headers/speculation-rules/index.md
  files/en-us/web/http/headers/strict-transport-security/index.md
  files/en-us/web/http/headers/supports-loading-mode/index.md
  files/en-us/web/http/headers/te/index.md
  files/en-us/web/http/headers/timing-allow-origin/index.md
  files/en-us/web/http/headers/tk/index.md
  files/en-us/web/http/headers/trailer/index.md
  files/en-us/web/http/headers/transfer-encoding/index.md
  files/en-us/web/http/headers/upgrade-insecure-requests/index.md
  files/en-us/web/http/headers/upgrade/index.md
  files/en-us/web/http/headers/user-agent/index.md
  files/en-us/web/http/headers/vary/index.md
  files/en-us/web/http/headers/via/index.md
  files/en-us/web/http/headers/viewport-width/index.md
  files/en-us/web/http/headers/want-content-digest/index.md
  files/en-us/web/http/headers/want-repr-digest/index.md
  files/en-us/web/http/headers/warning/index.md
  files/en-us/web/http/headers/width/index.md
  files/en-us/web/http/headers/www-authenticate/index.md
  files/en-us/web/http/headers/x-content-type-options/index.md
  files/en-us/web/http/headers/x-dns-prefetch-control/index.md
  files/en-us/web/http/headers/x-forwarded-for/index.md
  files/en-us/web/http/headers/x-forwarded-host/index.md
  files/en-us/web/http/headers/x-forwarded-proto/index.md
  files/en-us/web/http/headers/x-frame-options/index.md
  files/en-us/web/http/headers/x-powered-by/index.md
  files/en-us/web/http/headers/x-xss-protection/index.md
  files/en-us/web/http/messages/index.md
Labels: Content:WebAPI, Content:HTTP, Content:Glossary, size/xl

#37142 Experimental features - fixes following review
  files/en-us/mozilla/firefox/experimental_features/index.md
Labels: Content:Firefox, size/m

#37076 MDN Feature Pages for SVGAnimatedRect: animVal, baseVal
  files/en-us/web/api/svganimatedrect/animval/index.md
  files/en-us/web/api/svganimatedrect/baseval/index.md
  files/en-us/web/api/svganimatedrect/index.md
Labels: Content:WebAPI, size/m

#37141 Update the rust version for rust wasm tutorial
  files/en-us/webassembly/rust_to_wasm/index.md
Labels: Content:wasm, size/m

#37156 Experimental features fixes
  files/en-us/mozilla/firefox/experimental_features/index.md
Labels: Content:Firefox, size/m

#37162 chore: Replace LandingPageListSubpages with SubpagesWithSummaries macro
  files/en-us/mdn/writing_guidelines/howto/index.md
  files/en-us/mdn/writing_guidelines/page_structures/index.md
  files/en-us/mdn/writing_guidelines/page_structures/links/index.md
  files/en-us/mdn/writing_guidelines/page_structures/macros/other/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/index.md
  files/en-us/mozilla/add-ons/webextensions/api/index.md
  files/en-us/mozilla/firefox/index.md
  files/en-us/mozilla/index.md
  files/en-us/web/api/web_audio_api/index.md
  files/en-us/web/performance/index.md
  files/en-us/web/xml/index.md
Labels: Content:WebExt, Content:WebAPI, Content:Other, Content:Performance, Content:Firefox, Content:Meta, size/s

#37174 typo assignment page fix
  files/en-us/web/javascript/reference/operators/assignment/index.md
Labels: Content:JS, size/xs

#37143 @document: add link to userChrome.css
  files/en-us/web/css/@document/index.md
Labels: Content:CSS, size/xs

#37079 feat(http): Add X-Robots-Tag header
  files/en-us/glossary/robots.txt/index.md
  files/en-us/web/html/element/meta/name/index.md
  files/en-us/web/http/headers/x-robots-tag/index.md
Labels: Content:HTML, Content:HTTP, Content:Glossary, size/m

#37176 fix: wrong log approximation
  files/en-us/web/javascript/reference/global_objects/math/ln10/index.md
  files/en-us/web/javascript/reference/global_objects/math/log2e/index.md
Labels: Content:JS, size/s

#37069 MDN Feature Pages for SVGAnimatedBoolean
  files/en-us/web/api/svganimatedboolean/animval/index.md
  files/en-us/web/api/svganimatedboolean/baseval/index.md
  files/en-us/web/api/svganimatedboolean/index.md
Labels: Content:WebAPI, size/m

#36794 CSS module: create links for future pages (Safari 18.2)
  files/en-us/web/css/css_inline_layout/index.md
Labels: Content:CSS, do not merge, size/s

#37190 Canvas.toDataURL: Rename `encoderOptions` argument to `quality`
  files/en-us/web/api/htmlcanvaselement/todataurl/index.md
Labels: Content:WebAPI, size/xs

#37175 ink api code fix
  files/en-us/web/api/ink_api/index.md
Labels: Content:WebAPI, size/xs

#36979 Using custom elements: make Safari implementation stance clear
  files/en-us/web/api/web_components/using_custom_elements/index.md
Labels: Content:WebAPI, size/xs

#37173 fix(css): update italic font variation example
  files/en-us/web/css/css_fonts/variable_fonts_guide/index.md
Labels: Content:CSS, size/s

#37071 MDN Feature Pages for SVGAnimatedLengthList
  files/en-us/web/api/svganimatedlengthlist/animval/index.md
  files/en-us/web/api/svganimatedlengthlist/baseval/index.md
  files/en-us/web/api/svganimatedlengthlist/index.md
Labels: Content:WebAPI, size/m

#37172 New pages: DOMMatrix.invert()
  files/en-us/web/api/dommatrix/invertself/index.md
  files/en-us/web/api/dommatrixreadonly/index.md
  files/en-us/web/api/dommatrixreadonly/inverse/index.md
Labels: Content:WebAPI, size/m

#37194 fix(http): Fix headers doc to consider major protocol versions
  files/en-us/web/http/headers/index.md
Labels: Content:HTTP, size/s

#37202 fix : typos
  files/en-us/web/javascript/reference/trailing_commas/index.md
Labels: Content:JS, size/xs

#37183 Remove padding from CSS round() function example
  files/en-us/web/css/round/index.md
Labels: Content:CSS, size/xs

#37204 Fix mistype
  files/en-us/mozilla/firefox/releases/133/index.md
  files/en-us/mozilla/firefox/releases/135/index.md
Labels: Content:Firefox, size/xs

#37199 Experimental Features - rem layout.css.aspect-ratio-number.enabled
  files/en-us/mozilla/firefox/experimental_features/index.md
Labels: Content:Firefox, size/s

#37212 Add missing Formal syntax section for css functions [a-l]
  files/en-us/web/css/@import/layer_function/index.md
  files/en-us/web/css/abs/index.md
  files/en-us/web/css/acos/index.md
  files/en-us/web/css/anchor-size/index.md
  files/en-us/web/css/asin/index.md
  files/en-us/web/css/atan/index.md
  files/en-us/web/css/atan2/index.md
  files/en-us/web/css/attr/index.md
  files/en-us/web/css/clamp/index.md
  files/en-us/web/css/color_value/color-mix/index.md
  files/en-us/web/css/color_value/color/index.md
  files/en-us/web/css/color_value/device-cmyk/index.md
  files/en-us/web/css/color_value/hsl/index.md
  files/en-us/web/css/color_value/lab/index.md
  files/en-us/web/css/color_value/light-dark/index.md
  files/en-us/web/css/cos/index.md
  files/en-us/web/css/counter/index.md
  files/en-us/web/css/counters/index.md
  files/en-us/web/css/element/index.md
  files/en-us/web/css/env/index.md
  files/en-us/web/css/exp/index.md
  files/en-us/web/css/filter-function/blur/index.md
  files/en-us/web/css/filter-function/brightness/index.md
  files/en-us/web/css/filter-function/contrast/index.md
  files/en-us/web/css/filter-function/grayscale/index.md
  files/en-us/web/css/filter-function/hue-rotate/index.md
  files/en-us/web/css/filter-function/invert/index.md
  files/en-us/web/css/fit-content_function/index.md
  files/en-us/web/css/hypot/index.md
  files/en-us/web/css/image/image-set/index.md
  files/en-us/web/css/image/image/index.md
  files/en-us/web/css/log/index.md
Labels: Content:CSS, size/m

#37211 Add missing Formal syntax section for css functions [m-r]
  files/en-us/web/css/basic-shape/rect/index.md
  files/en-us/web/css/color_value/oklab/index.md
  files/en-us/web/css/color_value/rgb/index.md
  files/en-us/web/css/filter-function/opacity/index.md
  files/en-us/web/css/font-palette/palette-mix/index.md
  files/en-us/web/css/gradient/repeating-conic-gradient/index.md
  files/en-us/web/css/gradient/repeating-linear-gradient/index.md
  files/en-us/web/css/gradient/repeating-radial-gradient/index.md
  files/en-us/web/css/image/paint/index.md
  files/en-us/web/css/max/index.md
  files/en-us/web/css/min/index.md
  files/en-us/web/css/minmax/index.md
  files/en-us/web/css/mod/index.md
  files/en-us/web/css/rem/index.md
  files/en-us/web/css/repeat/index.md
  files/en-us/web/css/round/index.md
  files/en-us/web/css/transform-function/matrix/index.md
  files/en-us/web/css/transform-function/matrix3d/index.md
  files/en-us/web/css/transform-function/perspective/index.md
  files/en-us/web/css/transform-function/rotate/index.md
  files/en-us/web/css/transform-function/rotate3d/index.md
  files/en-us/web/css/transform-function/rotatex/index.md
  files/en-us/web/css/transform-function/rotatey/index.md
  files/en-us/web/css/transform-function/rotatez/index.md
Labels: Content:CSS, size/m

#37072 MDN Feature pages for SVGAnimatedNumber
  files/en-us/web/api/svganimatednumber/animval/index.md
  files/en-us/web/api/svganimatednumber/baseval/index.md
  files/en-us/web/api/svganimatednumber/index.md
Labels: Content:WebAPI, size/m

#37216 Fixed a typo that causes reference error
  files/en-us/glossary/function/index.md
Labels: Content:Glossary, size/xs

#37223 Fix JSON typo (#37220)
  files/en-us/web/manifest/screenshots/index.md
Labels: Content:Manifest, size/xs

#37219 Differentiate the strong tag by enclosing it in `<>`
  files/en-us/web/html/element/index.md
Labels: Content:HTML, size/xs

#37221 Fix typo in "super" keyword reference page
  files/en-us/web/javascript/reference/operators/super/index.md
Labels: Content:JS, size/xs

#37148 WebExt: update outdated descriptions
  files/en-us/mozilla/add-ons/webextensions/api/index.md
Labels: Content:WebExt, size/xs

#37222 WebExt: fix broken url
  files/en-us/mozilla/add-ons/webextensions/api/notifications/notificationoptions/index.md
Labels: Content:WebExt, size/xs

#37188 minor: reorder see also
  files/en-us/glossary/json/index.md
Labels: Content:Glossary, size/xs

#37192 feat(http): Add X-Permitted-Cross-Domain-Policies page
  files/en-us/web/http/headers/index.md
  files/en-us/web/http/headers/x-permitted-cross-domain-policies/index.md
Labels: Content:HTTP, size/m

#37103 WebExt: fix incorrrect hash links
  files/en-us/mozilla/add-ons/webextensions/api/identity/launchwebauthflow/index.md
Labels: Content:WebExt, size/xs

#37226 fix typos
  .vscode/dictionaries/code-entities.txt
  .vscode/dictionaries/proper-names.txt
  .vscode/dictionaries/terms-abbreviations.txt
  files/en-us/web/api/svganimatednumber/baseval/index.md
Labels: Content:WebAPI, system, size/s

#37218 Mention support for async generators
  files/en-us/web/javascript/reference/operators/yield_star_/index.md
Labels: Content:JS, size/s

#37225 Fix iOS capitalization
  files/en-us/web/http/browser_detection_using_the_user_agent/index.md
Labels: Content:HTTP, size/xs

#37091 WebExt: fix typo
  files/en-us/mozilla/add-ons/webextensions/api/management/uninstall/index.md
Labels: Content:WebExt, size/s

#37178 add: instance properties for SVGAnimationElement
  files/en-us/web/api/svganimationelement/requiredextensions/index.md
  files/en-us/web/api/svganimationelement/systemlanguage/index.md
  files/en-us/web/api/svganimationelement/targetelement/index.md
Labels: Content:WebAPI, size/m

#37182 MDN Feature Pages for Begin and End SVGAnimationElement Methods
  files/en-us/web/api/svganimationelement/beginelement/index.md
  files/en-us/web/api/svganimationelement/beginelementat/index.md
  files/en-us/web/api/svganimationelement/endelement/index.md
  files/en-us/web/api/svganimationelement/endelementat/index.md
Labels: Content:WebAPI, size/m

#37074 MDN Feature pages for SVGAnimatedNumberList: animVal, baseVal
  files/en-us/web/api/svganimatednumberlist/animval/index.md
  files/en-us/web/api/svganimatednumberlist/baseval/index.md
Labels: Content:WebAPI, size/m

#37217 correct html closing tag (typo)
  files/en-us/web/html/element/summary/index.md
Labels: Content:HTML, size/s

#37041 Add docs for improved error reporting for IndexedDB large value read failures
  files/en-us/web/api/idbcursor/advance/index.md
  files/en-us/web/api/idbcursor/continue/index.md
  files/en-us/web/api/idbcursor/continueprimarykey/index.md
  files/en-us/web/api/idbcursor/key/index.md
  files/en-us/web/api/idbcursor/primarykey/index.md
  files/en-us/web/api/idbdatabase/createobjectstore/index.md
  files/en-us/web/api/idbobjectstore/clear/index.md
  files/en-us/web/api/idbrequest/error/index.md
  files/en-us/web/api/idbrequest/result/index.md
Labels: Content:WebAPI, size/m

#37228 On Date.UTC() syntax, parameters are in the singular, but they should be in the plural
  files/en-us/web/javascript/reference/global_objects/date/utc/index.md
Labels: Content:JS, size/s

#37229 Make it clear that linebreaks is allowed in textareas
  files/en-us/web/html/attributes/placeholder/index.md
Labels: Content:HTML, size/xs

#37195 New pages: DOMMatrixReadOnly.toJSON/toString()
  files/en-us/web/api/dommatrixreadonly/index.md
  files/en-us/web/api/dommatrixreadonly/tojson/index.md
  files/en-us/web/api/dommatrixreadonly/tostring/index.md
Labels: Content:WebAPI, size/m

#37187 New page: DOMMatrix.setMatrixValue()
  files/en-us/web/api/dommatrix/setmatrixvalue/index.md
Labels: Content:WebAPI, size/m

#37036 Add docs for `HTMLElement.writingSuggestions`
  files/en-us/web/api/htmlelement/index.md
  files/en-us/web/api/htmlelement/writingsuggestions/index.md
  files/en-us/web/html/global_attributes/index.md
  files/en-us/web/html/global_attributes/writingsuggestions/index.md
Labels: Content:HTML, Content:WebAPI, size/m

#37215 chore(glossary): remove duplacation of "Denial of Service"
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/glossary/denial_of_service/index.md
  files/en-us/glossary/distributed_denial_of_service/index.md
  files/en-us/glossary/dos_attack/index.md
  files/en-us/glossary/rate_limit/index.md
  files/en-us/web/http/connection_management_in_http_1.x/index.md
Labels: Content:HTTP, Content:Glossary, size/m

#36412 Add a guide page on XSS
  files/en-us/web/security/attacks/index.md
  files/en-us/web/security/attacks/xss/index.md
  files/en-us/web/security/attacks/xss/same-origin.svg
  files/en-us/web/security/attacks/xss/xss.svg
Labels: Content:Security, size/m

#37240 added korean translations for secure context
  files/jsondata/L10n-Template.json
Labels: size/xs

#37163 Extend Source map article with example
  files/en-us/glossary/source_map/index.md
  files/en-us/glossary/source_map/inspector.png
  files/en-us/glossary/source_map/style-editor.png
Labels: Content:Glossary, size/m

#37238 Feature/css typed model object
  files/en-us/web/api/css_typed_om_api/index.md
Labels: Content:WebAPI, size/s

#37248 fix(sidebar): fix broken links
  files/sidebars/accessibilitysidebar.yaml
  files/sidebars/learnsidebar.yaml
Labels: size/s

#37166 clickjacking guide
  files/en-us/_redirects.txt
  files/en-us/glossary/clickjacking/index.md
  files/en-us/learn/html/multimedia_and_embedding/other_embedding_technologies/index.md
  files/en-us/learn/server-side/apache_configuration_htaccess/index.md
  files/en-us/learn/server-side/django/introduction/index.md
  files/en-us/learn/server-side/django/web_application_security/index.md
  files/en-us/learn/server-side/first_steps/website_security/index.md
  files/en-us/web/api/document/requeststorageaccess/index.md
  files/en-us/web/api/document/requeststorageaccessfor/index.md
  files/en-us/web/api/storage_access_api/index.md
  files/en-us/web/http/headers/x-frame-options/index.md
  files/en-us/web/security/attacks/clickjacking/attacker.png
  files/en-us/web/security/attacks/clickjacking/index.md
  files/en-us/web/security/attacks/clickjacking/my-bank.png
  files/en-us/web/security/attacks/index.md
  files/en-us/web/security/index.md
  files/en-us/web/security/practical_implementation_guides/clickjacking/index.md
  files/en-us/web/security/practical_implementation_guides/cookies/index.md
  files/en-us/web/security/practical_implementation_guides/index.md
  files/en-us/web/security/types_of_attacks/index.md
Labels: Content:WebAPI, Content:Learn, Content:HTTP, Content:Learn:Django, Content:Glossary, Content:Security, Content:Learn:HTML, size/m

#37252 fix: link to Window.postMessage rather than MessagePost.postMessage
  files/en-us/web/api/messagechannel/port2/index.md
Labels: Content:WebAPI, size/xs

#37145 chore: updated example in promise-based api
  files/en-us/learn/javascript/asynchronous/implementing_a_promise-based_api/index.md
Labels: Content:Learn:JavaScript, size/s

#37254 chore: fix the broken links to the "clickjacking" page
  files/en-us/glossary/csp/index.md
  files/en-us/web/http/csp/index.md
Labels: Content:HTTP, Content:Glossary, size/xs

#37179 Add note about creating `Shape` class
  files/en-us/learn/javascript/objects/adding_bouncing_balls_features/index.md
Labels: Content:Learn:JavaScript, size/xs

#37257 Synchronize with BCD v5.6.25
  files/en-us/web/api/mutationevent/attrchange/index.md
  files/en-us/web/api/mutationevent/attrname/index.md
  files/en-us/web/api/mutationevent/index.md
  files/en-us/web/api/mutationevent/initmutationevent/index.md
  files/en-us/web/api/mutationevent/newvalue/index.md
  files/en-us/web/api/mutationevent/prevvalue/index.md
  files/en-us/web/api/mutationevent/relatednode/index.md
  files/en-us/web/css/@view-transition/index.md
Labels: Content:CSS, Content:WebAPI, size/s

#37253 Deleted ASP.NET from the list
  files/en-us/learn/javascript/first_steps/what_is_javascript/index.md
Labels: Content:Learn:JavaScript, size/xs

#37255 fix(css): add nolint and increase output heights
  files/en-us/web/html/element/summary/index.md
Labels: Content:HTML, size/s

#37262 chore(readme): fix yarn classic link
  README.md
Labels: size/xs

#36791 Clarify interaction between collapsing and multi-line containers
  files/en-us/web/css/css_flexible_box_layout/mastering_wrapping_of_flex_items/index.md
Labels: Content:CSS, size/m

#37256 align content with`Pseudo-classes`
  files/en-us/web/css/pseudo-classes/index.md
Labels: Content:CSS, size/xs

#37269 Proposing the more prominently used spelling 'spatial' in tech literature.
  files/en-us/games/techniques/2d_collision_detection/index.md
Labels: Content:Games, size/xs

#37266 Reflect that GET, HEAD, and POST are always allowed methods
  files/en-us/web/http/headers/access-control-allow-methods/index.md
Labels: Content:HTTP, size/xs

#37123 Update sidebars guide for new rari sidebar system
  files/en-us/mdn/writing_guidelines/page_structures/sidebars/index.md
Labels: Content:Meta, size/m

#37230 feat(http): Add pages for Service Workers
  files/en-us/web/api/service_worker_api/using_service_workers/index.md
  files/en-us/web/api/serviceworkercontainer/register/index.md
  files/en-us/web/http/headers/index.md
  files/en-us/web/http/headers/service-worker-allowed/index.md
  files/en-us/web/http/headers/service-worker/index.md
Labels: Content:WebAPI, Content:HTTP, size/m

#37279 Fix inaccurate function name in example code
  files/en-us/web/progressive_web_apps/guides/offline_and_background_operation/index.md
Labels: Content:PWA, size/xs

#37276 fix: CSS View Transitions module, the View Transition API
  files/en-us/_redirects.txt
  files/en-us/web/api/document/index.md
  files/en-us/web/api/document/startviewtransition/index.md
  files/en-us/web/api/navigationactivation/entry/index.md
  files/en-us/web/api/navigationactivation/from/index.md
  files/en-us/web/api/navigationactivation/index.md
  files/en-us/web/api/navigationactivation/navigationtype/index.md
  files/en-us/web/api/pagerevealevent/index.md
  files/en-us/web/api/pagerevealevent/pagerevealevent/index.md
  files/en-us/web/api/pagerevealevent/viewtransition/index.md
  files/en-us/web/api/pageswapevent/activation/index.md
  files/en-us/web/api/pageswapevent/index.md
  files/en-us/web/api/pageswapevent/pageswapevent/index.md
  files/en-us/web/api/pageswapevent/viewtransition/index.md
  files/en-us/web/api/view_transition_api/index.md
  files/en-us/web/api/view_transition_api/using/index.md
  files/en-us/web/api/viewtransition/finished/index.md
  files/en-us/web/api/viewtransition/index.md
  files/en-us/web/api/viewtransition/ready/index.md
  files/en-us/web/api/viewtransition/skiptransition/index.md
  files/en-us/web/api/viewtransition/updatecallbackdone/index.md
  files/en-us/web/api/window/pagereveal_event/index.md
  files/en-us/web/api/window/pageswap_event/index.md
  files/en-us/web/css/@view-transition/index.md
  files/en-us/web/css/_doublecolon_view-transition-group/index.md
  files/en-us/web/css/_doublecolon_view-transition-image-pair/index.md
  files/en-us/web/css/_doublecolon_view-transition-new/index.md
  files/en-us/web/css/_doublecolon_view-transition-old/index.md
  files/en-us/web/css/_doublecolon_view-transition/index.md
  files/en-us/web/css/at-rule/index.md
  files/en-us/web/css/css_view_transitions/index.md
  files/en-us/web/css/view-transition-name/index.md
  files/en-us/web/html/attributes/rel/index.md
  files/jsondata/GroupData.json
Labels: Content:CSS, Content:HTML, Content:WebAPI, size/m

#36884 Add external resource to the View Transitions API
  files/en-us/web/api/view_transition_api/index.md
Labels: Content:WebAPI, size/s

#37283 Background task API Typo
  files/en-us/web/api/background_tasks_api/index.md
Labels: Content:WebAPI, size/xs

#37278 feat(css_typed_om_api): simplify description
  files/en-us/web/api/css_typed_om_api/index.md
Labels: Content:WebAPI, size/s

#37242 Corrected comment in example code
  files/en-us/web/api/webgl_api/webgl_model_view_projection/index.md
Labels: Content:WebAPI, size/xs

#37289 FF135 ExprFeat - Prioritized Task Scheduling API disabled in preview
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/135/index.md
Labels: Content:Firefox, size/s

#37201 Document wasm JS builtins
  files/en-us/webassembly/imported_string_constants/index.md
  files/en-us/webassembly/javascript_builtins/index.md
  files/en-us/webassembly/javascript_interface/compile_static/index.md
  files/en-us/webassembly/javascript_interface/compilestreaming_static/index.md
  files/en-us/webassembly/javascript_interface/index.md
  files/en-us/webassembly/javascript_interface/instantiate_static/index.md
  files/en-us/webassembly/javascript_interface/instantiatestreaming_static/index.md
  files/en-us/webassembly/javascript_interface/module/module/index.md
  files/en-us/webassembly/javascript_interface/validate_static/index.md
  files/sidebars/webassemblysidebar.yaml
Labels: Content:wasm, size/l

#37210 Add missing Formal syntax section for css functions [s-z]
  files/en-us/web/css/animation-timeline/scroll/index.md
  files/en-us/web/css/animation-timeline/view/index.md
  files/en-us/web/css/basic-shape/xywh/index.md
  files/en-us/web/css/filter-function/saturate/index.md
  files/en-us/web/css/filter-function/sepia/index.md
  files/en-us/web/css/fit-content_function/index.md
  files/en-us/web/css/sign/index.md
  files/en-us/web/css/sin/index.md
  files/en-us/web/css/sqrt/index.md
  files/en-us/web/css/symbols/index.md
  files/en-us/web/css/tan/index.md
  files/en-us/web/css/transform-function/scale/index.md
  files/en-us/web/css/transform-function/scale3d/index.md
  files/en-us/web/css/transform-function/scalex/index.md
  files/en-us/web/css/transform-function/scaley/index.md
  files/en-us/web/css/transform-function/scalez/index.md
  files/en-us/web/css/transform-function/skew/index.md
  files/en-us/web/css/transform-function/skewx/index.md
  files/en-us/web/css/transform-function/skewy/index.md
  files/en-us/web/css/transform-function/translate/index.md
  files/en-us/web/css/transform-function/translate3d/index.md
  files/en-us/web/css/transform-function/translatex/index.md
  files/en-us/web/css/transform-function/translatey/index.md
  files/en-us/web/css/transform-function/translatez/index.md
  files/en-us/web/css/url_function/index.md
  files/en-us/web/css/var/index.md
Labels: Content:CSS, size/m

#35632 35381 angular update
  files/en-us/glossary/router/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/angular_building/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/angular_getting_started/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/angular_item_component/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/angular_todo_list_beginning/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/main_features/index.md
Labels: Content:Glossary, do not merge, size/m

#37291 Remove the note about long gone font-variant descriptor
  files/en-us/web/css/@font-face/index.md
Labels: Content:CSS, size/s

#37270 Fix a typo in flex-grow documentation
  files/en-us/web/css/flex-grow/index.md
Labels: Content:CSS, size/xs

#37273 Switch to `<ol>` for breadcrumb
  files/en-us/web/css/layout_cookbook/breadcrumb_navigation/index.md
Labels: Content:CSS, size/s

#37298 Deleted the Node version manager link
  files/en-us/learn_web_development/extensions/server-side/express_nodejs/introduction/index.md
Labels: size/xs

#37297 chore(http): Origin-Isolation -> Origin-Agent-Cluster header
  files/en-us/web/api/document/domain/index.md
  files/en-us/web/http/headers/index.md
Labels: Content:WebAPI, Content:HTTP, size/s

#37296 Typo: pipe should be pump
  files/en-us/web/api/streams_api/using_readable_streams/index.md
Labels: Content:WebAPI, size/xs

#37052 New pages: DOMTokenList and MediaList toString() method
  files/en-us/web/api/domtokenlist/index.md
  files/en-us/web/api/domtokenlist/tostring/index.md
  files/en-us/web/api/medialist/index.md
  files/en-us/web/api/medialist/tostring/index.md
Labels: Content:WebAPI, size/m

#37295 some edits on the contributing doc for rari
  CONTRIBUTING.md
Labels: size/s

#37293 style: use code block for descriptors for `@font-palette-values`
  files/en-us/web/css/@font-palette-values/index.md
Labels: Content:CSS, size/s

#37227 Update CSP practical guide for consistency
  files/en-us/web/http/headers/content-security-policy/default-src/index.md
  files/en-us/web/security/practical_implementation_guides/csp/index.md
  files/en-us/web/security/practical_implementation_guides/index.md
Labels: Content:HTTP, Content:Security, size/m

#37332 Two small typo fixes on Learn web development
  files/en-us/learn_web_development/getting_started/environment_setup/index.md
  files/en-us/learn_web_development/index.md
Labels: size/xs

#37327 WebExt: fix a typo
  files/en-us/mozilla/add-ons/webextensions/api/sidebaraction/seticon/index.md
Labels: Content:WebExt, size/xs

#37321 Synchronize with BCD v5.6.26
  files/en-us/web/api/document/index.md
  files/en-us/web/api/document/write/index.md
Labels: Content:WebAPI, size/s
