Repository mdn/content, pull requests merged in 2024-04, with the labels that each got.

#32910 fine tune and correct link error
  files/en-us/web/api/inputevent/gettargetranges/index.md
Labels: Content:WebAPI, size/xs

#32906 Remove -webkit-mask-attachment
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/css/-webkit-mask-attachment/index.md
  files/en-us/web/css/-webkit-mask-position-x/index.md
  files/en-us/web/css/-webkit-mask-position-y/index.md
  files/en-us/web/css/webkit_extensions/index.md
Labels: Content:CSS, size/m

#32908 fix: typos
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_constructor_subpage_template/index.md
Labels: Content:Meta, size/xs

#32914 Correct ClientDataJSON parent object
  files/en-us/web/api/authenticatorresponse/clientdatajson/index.md
Labels: Content:WebAPI, size/xs

#32899 Update tags in Network Information API
  files/en-us/web/api/network_information_api/index.md
  files/en-us/web/api/networkinformation/change_event/index.md
  files/en-us/web/api/networkinformation/downlink/index.md
  files/en-us/web/api/networkinformation/effectivetype/index.md
  files/en-us/web/api/networkinformation/savedata/index.md
Labels: Content:WebAPI, size/s

#32918 chore: fix the broken links to frame-releated pages
  files/en-us/web/html/element/frameset/index.md
Labels: Content:HTML, size/s

#32909 Remove suggestion that order of table elements isn't important
  files/en-us/learn/html/tables/advanced/index.md
Labels: Content:Learn:HTML, size/s

#31046 proxy.settings-passthrough guidance update
  files/en-us/mozilla/add-ons/webextensions/api/proxy/settings/index.md
Labels: Content:WebExt, size/s

#32922 Update index.md
  files/en-us/web/api/document/index.md
Labels: Content:WebAPI, size/xs

#32916 fix(svg elements): Update section name to match the template
  files/en-us/web/svg/element/a/index.md
  files/en-us/web/svg/element/circle/index.md
  files/en-us/web/svg/element/clippath/index.md
  files/en-us/web/svg/element/defs/index.md
  files/en-us/web/svg/element/desc/index.md
  files/en-us/web/svg/element/ellipse/index.md
  files/en-us/web/svg/element/fedropshadow/index.md
  files/en-us/web/svg/element/foreignobject/index.md
  files/en-us/web/svg/element/g/index.md
  files/en-us/web/svg/element/line/index.md
  files/en-us/web/svg/element/lineargradient/index.md
  files/en-us/web/svg/element/marker/index.md
  files/en-us/web/svg/element/mask/index.md
  files/en-us/web/svg/element/path/index.md
  files/en-us/web/svg/element/pattern/index.md
  files/en-us/web/svg/element/polygon/index.md
  files/en-us/web/svg/element/polyline/index.md
  files/en-us/web/svg/element/radialgradient/index.md
  files/en-us/web/svg/element/rect/index.md
  files/en-us/web/svg/element/script/index.md
  files/en-us/web/svg/element/set/index.md
  files/en-us/web/svg/element/stop/index.md
  files/en-us/web/svg/element/style/index.md
  files/en-us/web/svg/element/svg/index.md
  files/en-us/web/svg/element/symbol/index.md
  files/en-us/web/svg/element/text/index.md
  files/en-us/web/svg/element/textpath/index.md
  files/en-us/web/svg/element/title/index.md
  files/en-us/web/svg/element/tspan/index.md
  files/en-us/web/svg/element/use/index.md
Labels: Content:SVG, size/m

#32924 Fix link to CSS declaration blocks
  files/en-us/web/css/at-rule/index.md
Labels: Content:CSS, size/xs

#32928 Update ReadableStreamBYOBReader index.md (grammar)
  files/en-us/web/api/readablestreambyobreader/index.md
Labels: Content:WebAPI, size/xs

#32931 fix(html): Replace external Wikipedia link with link to internal glossary page
  files/en-us/web/api/htmlformelement/enctype/index.md
Labels: Content:WebAPI, size/xs

#32932 Update index.md
  files/en-us/web/api/history/go/index.md
Labels: Content:WebAPI, size/xs

#32930 Fix issue 24181: all modern browsers support default passive
  files/en-us/web/api/eventtarget/addeventlistener/index.md
Labels: Content:WebAPI, size/s

#32933 RGB & color spaces glossary
  files/en-us/glossary/color_space/index.md
  files/en-us/glossary/rgb/index.md
  files/en-us/glossary/rgb/rgb_color_cube.png
  files/en-us/web/css/color_value/hwb/index.md
Labels: Content:CSS, Content:Glossary, size/s

#32927 UserAgent Client Hint API | fix self-link & macros update
  files/en-us/web/api/navigator/useragentdata/index.md
  files/en-us/web/api/navigatoruadata/brands/index.md
  files/en-us/web/api/navigatoruadata/gethighentropyvalues/index.md
  files/en-us/web/api/navigatoruadata/index.md
  files/en-us/web/api/user-agent_client_hints_api/index.md
  files/en-us/web/api/workernavigator/useragentdata/index.md
Labels: Content:WebAPI, size/s

#32270 Fix #29082 Document Ogg Opus limitation on Firefox Linux 64 bit
  files/en-us/web/media/formats/containers/index.md
Labels: Content:Media, size/xs

#32877 Glossary: interpolation
  files/en-us/glossary/interpolation/index.md
  files/en-us/web/css/gradient/linear-gradient/index.md
Labels: Content:CSS, Content:Glossary, size/s

#32874 CSS color: tweaks
  files/en-us/web/css/@media/color-gamut/index.md
  files/en-us/web/css/color_value/hsl/index.md
  files/en-us/web/css/hex-color/index.md
Labels: Content:CSS, size/m

#32862 32662 enable align content
  files/en-us/web/css/align-content/index.md
  files/en-us/web/css/css_box_alignment/box_alignment_in_block_abspos_tables/index.md
Labels: Content:CSS, size/m

#32949 Update {{AvailableInWorkers}} macros usage of Web Serial API
  files/en-us/web/api/serial/getports/index.md
  files/en-us/web/api/serial/index.md
  files/en-us/web/api/serial/requestport/index.md
  files/en-us/web/api/serialport/close/index.md
  files/en-us/web/api/serialport/connect_event/index.md
  files/en-us/web/api/serialport/disconnect_event/index.md
  files/en-us/web/api/serialport/forget/index.md
  files/en-us/web/api/serialport/getinfo/index.md
  files/en-us/web/api/serialport/getsignals/index.md
  files/en-us/web/api/serialport/index.md
  files/en-us/web/api/serialport/open/index.md
  files/en-us/web/api/serialport/readable/index.md
  files/en-us/web/api/serialport/setsignals/index.md
  files/en-us/web/api/serialport/writable/index.md
  files/en-us/web/api/web_serial_api/index.md
  files/en-us/web/api/workernavigator/serial/index.md
Labels: Content:WebAPI, size/s

#32950 Fix 32896: make relative length units look less exhaustive
  files/en-us/learn/css/building_blocks/values_and_units/index.md
Labels: Content:Learn:CSS, size/m

#32953 Fix typo in HTTP Authentication
  files/en-us/web/http/authentication/index.md
Labels: Content:HTTP, size/xs

#32942 Fix & Update {{AvailableInWorkers}} outdated usage (with parameters)
  files/en-us/mdn/writing_guidelines/page_structures/macros/commonly_used_macros/index.md
  files/en-us/web/api/url/createobjecturl_static/index.md
  files/en-us/web/api/url/revokeobjecturl_static/index.md
  files/en-us/web/api/xmlhttprequest/index.md
  files/en-us/web/api/xmlhttprequest_api/index.md
  files/en-us/web/api/xmlhttprequestupload/index.md
Labels: Content:WebAPI, Content:Meta, size/s

#32952 Fix 29329: document console.dir() options
  files/en-us/glossary/deno/index.md
  files/en-us/glossary/typescript/index.md
  files/en-us/web/api/console/dir_static/index.md
Labels: Content:WebAPI, Content:Glossary, size/m

#32941 Consistency update for the Boolean attribute "disabled"
  files/en-us/web/css/_colon_enabled/index.md
Labels: Content:CSS, size/xs

#32936 fix: update the pseudo elements with proper syntax
  files/en-us/web/css/css_nesting/using_css_nesting/index.md
Labels: Content:CSS, size/s

#32956 fix(api): Correct link to dom-examples repo 404
  files/en-us/web/api/editcontext_api/guide/index.md
Labels: Content:WebAPI, broken link external, size/xs

#32644 chore(ci): Bump actions/labeler from 4 to 5
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
Labels: system, size/m

#32958 Simplify console examples
  files/en-us/web/api/console/count_static/index.md
  files/en-us/web/api/console/countreset_static/index.md
Labels: Content:WebAPI, size/s

#32873 What is an extension images update
  files/en-us/mozilla/add-ons/webextensions/what_are_webextensions/axe_developer_tools_add_on.png
  files/en-us/mozilla/add-ons/webextensions/what_are_webextensions/dedalium_popup.png
  files/en-us/mozilla/add-ons/webextensions/what_are_webextensions/grammarly-in-github-editor.png
  files/en-us/mozilla/add-ons/webextensions/what_are_webextensions/index.md
  files/en-us/mozilla/add-ons/webextensions/what_are_webextensions/myweb_new_tab_add_on.png
  files/en-us/mozilla/add-ons/webextensions/what_are_webextensions/qr_code_image_generator_add_on.png
  files/en-us/mozilla/add-ons/webextensions/what_are_webextensions/tabliss_new_tab.png
  files/en-us/mozilla/add-ons/webextensions/what_are_webextensions/ublock_origin_add_on.png
  files/en-us/mozilla/add-ons/webextensions/what_are_webextensions/worldwide_radio_extension.png
Labels: Content:WebExt, size/s

#32962 fix typo "extend" -> "extends"
  files/en-us/web/css/@counter-style/index.md
Labels: Content:CSS, size/xs

#32951 Minor: heading levels and glossary
  files/en-us/web/css/length/index.md
Labels: Content:CSS, size/s

#32964 Correct mimeype for mp4 video
  files/en-us/web/api/mediarecorder/istypesupported_static/index.md
Labels: Content:WebAPI, size/xs

#32954 fix: replace plain text formulas with MathML markups
  files/en-us/web/svg/element/feconvolvematrix/index.md
Labels: Content:SVG, size/s

#30191 add {{availableInWorker}} to File System API
  files/en-us/web/api/file_system_api/index.md
  files/en-us/web/api/file_system_api/origin_private_file_system/index.md
  files/en-us/web/api/filesystemdirectoryhandle/entries/index.md
  files/en-us/web/api/filesystemdirectoryhandle/getdirectoryhandle/index.md
  files/en-us/web/api/filesystemdirectoryhandle/getfilehandle/index.md
  files/en-us/web/api/filesystemdirectoryhandle/index.md
  files/en-us/web/api/filesystemdirectoryhandle/keys/index.md
  files/en-us/web/api/filesystemdirectoryhandle/removeentry/index.md
  files/en-us/web/api/filesystemdirectoryhandle/resolve/index.md
  files/en-us/web/api/filesystemdirectoryhandle/values/index.md
  files/en-us/web/api/filesystemfilehandle/createsyncaccesshandle/index.md
  files/en-us/web/api/filesystemfilehandle/createwritable/index.md
  files/en-us/web/api/filesystemfilehandle/getfile/index.md
  files/en-us/web/api/filesystemfilehandle/index.md
  files/en-us/web/api/filesystemhandle/index.md
  files/en-us/web/api/filesystemhandle/issameentry/index.md
  files/en-us/web/api/filesystemhandle/kind/index.md
  files/en-us/web/api/filesystemhandle/name/index.md
  files/en-us/web/api/filesystemhandle/querypermission/index.md
  files/en-us/web/api/filesystemhandle/remove/index.md
  files/en-us/web/api/filesystemhandle/requestpermission/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/close/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/flush/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/getsize/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/read/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/truncate/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/write/index.md
  files/en-us/web/api/filesystemwritablefilestream/index.md
  files/en-us/web/api/filesystemwritablefilestream/seek/index.md
  files/en-us/web/api/filesystemwritablefilestream/truncate/index.md
  files/en-us/web/api/filesystemwritablefilestream/write/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, size/m

#32968 Fix typo in browser detection document
  files/en-us/web/http/browser_detection_using_the_user_agent/index.md
Labels: Content:HTTP, size/xs

#32142 feat: Editorial review: Add content covering modern approach to vertical form controls
  files/en-us/web/css/css_writing_modes/index.md
  files/en-us/web/css/css_writing_modes/vertical_controls/index.md
  files/en-us/web/css/direction/index.md
  files/en-us/web/css/writing-mode/index.md
  files/en-us/web/html/element/input/email/index.md
  files/en-us/web/html/element/input/index.md
  files/en-us/web/html/element/input/range/index.md
  files/en-us/web/html/element/input/tel/index.md
  files/en-us/web/html/element/meter/index.md
  files/en-us/web/html/element/progress/index.md
  files/en-us/web/html/element/textarea/index.md
Labels: Content:CSS, Content:HTML, size/l

#32926 Remove browser compat tables for microdata
  files/en-us/web/html/global_attributes/itemid/index.md
  files/en-us/web/html/global_attributes/itemprop/index.md
  files/en-us/web/html/global_attributes/itemref/index.md
  files/en-us/web/html/global_attributes/itemscope/index.md
  files/en-us/web/html/global_attributes/itemtype/index.md
  files/en-us/web/html/microdata/index.md
Labels: Content:HTML, size/s

#32975 fix incomplete sentence in microtask guide
  files/en-us/web/api/html_dom_api/microtask_guide/index.md
Labels: Content:WebAPI, size/xs

#32977 chore: make the style consistent with other documents
  files/en-us/web/api/element/setattribute/index.md
Labels: Content:WebAPI, size/xs

#32978 Fixed a small grammar error.
  files/en-us/web/api/htmlheadingelement/index.md
Labels: Content:WebAPI, size/xs

#32987 chore: remove the inconsistent UA string format
  files/en-us/web/api/navigator/useragent/index.md
Labels: Content:WebAPI, size/s

#32986 Fix a typo in Web/API/HTMLInputElement/type
  files/en-us/web/api/htmlinputelement/type/index.md
Labels: Content:WebAPI, size/xs

#32988 fix multiple typos in textbox_role
  files/en-us/web/accessibility/aria/roles/textbox_role/index.md
Labels: Content:Accessibility, size/s

#32935 Sync Note content from before pseudo
  files/en-us/web/css/_doublecolon_after/index.md
Labels: Content:CSS, size/xs

#32966 Note in the CSS `calc` function that specifically the right operand needs to be unitless
  files/en-us/web/css/calc/index.md
Labels: Content:CSS, size/xs

#32992 Fix typo
  files/en-us/web/svg/element/feconvolvematrix/index.md
Labels: Content:SVG, size/xs

#32972 Add basic rgb() example
  files/en-us/web/css/color_value/rgb/index.md
Labels: Content:CSS, size/m

#32995 fix: describe relation of SMIL to SVG
  .vscode/project-words.txt
  files/en-us/web/svg/svg_animation_with_smil/index.md
Labels: Content:SVG, system, size/s

#33002 chore(github-action): remove unused workflow
  .github/workflows/on-demand-preview-build.yml
Labels: system, size/m

#26885 HTTP headers: deprecating "(Want-)?Digest", adding "(Want-)?(Content-|Repr-)Digest"
  files/en-us/glossary/representation_header/index.md
  files/en-us/web/http/headers/content-digest/index.md
  files/en-us/web/http/headers/digest/index.md
  files/en-us/web/http/headers/repr-digest/index.md
  files/en-us/web/http/headers/want-content-digest/index.md
  files/en-us/web/http/headers/want-digest/index.md
  files/en-us/web/http/headers/want-repr-digest/index.md
Labels: Content:HTTP, Content:Glossary, awaiting response, size/m

#32989 Correct information on `aria-live="off"`, expand initial Note
  files/en-us/web/accessibility/aria/aria_live_regions/index.md
Labels: Content:Accessibility, size/s

#32895 Add menu mention in list nesting
  files/en-us/web/html/element/ol/index.md
Labels: Content:HTML, size/xs

#33005 Fix typos in ALIASED_LINE_WIDTH_RANGE
  files/en-us/web/api/webgl_api/constants/index.md
Labels: Content:WebAPI, size/s

#33010 Add HTMLTableCellElement.noWrap
  files/en-us/web/api/htmltablecellelement/nowrap/index.md
  files/en-us/web/css/white-space/index.md
Labels: Content:CSS, Content:WebAPI, size/m

#33013 fix words tenses
  files/en-us/web/http/status/103/index.md
Labels: Content:HTTP, size/xs

#32998 Add an escape so Yari don't believe this is a macro
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/angular_getting_started/index.md
Labels: Content:Learn:Client-side, size/xs

#33014 fix typo
  files/en-us/web/accessibility/understanding_wcag/index.md
Labels: Content:Accessibility, size/xs

#33015 Neutralize link to non-existing <image>
  files/en-us/web/html/element/index.md
Labels: Content:HTML, size/xs

#32996 Add more reviewers for SVG content
  .github/CODEOWNERS
Labels: system, size/s

#32974 update lab()
  files/en-us/web/css/color_value/lab/index.md
Labels: Content:CSS, size/m

#32997 fix(learn): Improve text for clarity
  files/en-us/learn/accessibility/html/index.md
Labels: Content:Learn:Accessibility, size/xs

#32828 FF Project issues template
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/ff-project-issue.md
Labels: system, size/s

#29573 Add `json` to possible fetch destinations
  files/en-us/web/api/request/destination/index.md
Labels: Content:WebAPI, size/xs

#32694 Clarify ariaHidden with quoted string undefined
  files/en-us/web/api/element/ariahidden/index.md
  files/en-us/web/api/elementinternals/ariahidden/index.md
Labels: Content:WebAPI, size/xs

#33003 fix(pr-test): do not use pull_request_target
  .github/workflows/pr-review-companion.yml
  .github/workflows/pr-test.yml
Labels: system, size/s

#33016 <image> -> <img>
  files/en-us/web/api/canvas_api/tutorial/pixel_manipulation_with_canvas/index.md
  files/en-us/web/api/performanceelementtiming/naturalheight/index.md
  files/en-us/web/api/performanceelementtiming/naturalwidth/index.md
  files/en-us/web/api/performanceelementtiming/rendertime/index.md
  files/en-us/web/css/layout_cookbook/card/index.md
Labels: Content:CSS, Content:WebAPI, size/s

#33017 Fix a comment in the example of AbortSignal.any()
  files/en-us/web/api/abortsignal/any_static/index.md
Labels: Content:WebAPI, size/xs

#33012 Remove last specific pages about IE
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/htmlelement/mscandidatewindowhide_event/index.md
  files/en-us/web/api/htmlelement/mscandidatewindowshow_event/index.md
  files/en-us/web/api/htmlelement/mscandidatewindowupdate_event/index.md
  files/en-us/web/api/mediaerror/msextendedcode/index.md
  files/en-us/web/api/performancetiming/msfirstpaint/index.md
Labels: Content:WebAPI, size/m

#32225 Clarify localStorage maximum
  files/en-us/web/api/web_storage_api/index.md
Labels: Content:WebAPI, size/s

#33006 udpates to oklab()
  files/en-us/web/css/color_value/oklab/index.md
Labels: Content:CSS, size/m

#32767 Normalize “no notable changes” usage in Firefox release notes
  files/en-us/mozilla/firefox/releases/103/index.md
  files/en-us/mozilla/firefox/releases/104/index.md
  files/en-us/mozilla/firefox/releases/106/index.md
  files/en-us/mozilla/firefox/releases/114/index.md
  files/en-us/mozilla/firefox/releases/115/index.md
  files/en-us/mozilla/firefox/releases/117/index.md
  files/en-us/mozilla/firefox/releases/118/index.md
  files/en-us/mozilla/firefox/releases/120/index.md
  files/en-us/mozilla/firefox/releases/123/index.md
  files/en-us/mozilla/firefox/releases/124/index.md
Labels: Content:Firefox, size/m

#32693 FF125 RelNote: Intl.Segmenter supported
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/125/index.md
Labels: Content:Firefox, size/s

#32821 FF125 Relnote: RTCIceTransport.state, .gatheringState, RTCDtlsTransport.iceTransport
  files/en-us/mozilla/firefox/releases/125/index.md
Labels: Content:Firefox, size/xs

#32822 FF125 Relnote: Supports Popover API
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/125/index.md
Labels: Content:Firefox, size/m

#33022 Fix the format of the note
  files/en-us/web/api/htmltablecellelement/nowrap/index.md
Labels: Content:WebAPI, size/xs

#33009 update color-mix()
  files/en-us/web/css/color_value/color-mix/index.md
  files/en-us/web/css/color_value/index.md
Labels: Content:CSS, size/m

#32993 Add HTMLTableCellElement.{align|vAlign}
  files/en-us/web/api/htmltablecellelement/align/index.md
  files/en-us/web/api/htmltablecellelement/index.md
  files/en-us/web/api/htmltablecellelement/valign/index.md
  files/en-us/web/css/text-align/index.md
Labels: Content:CSS, Content:WebAPI, size/m

#33025 Several minor edits regarding CSS colors
  files/en-us/web/accessibility/understanding_colors_and_luminance/index.md
  files/en-us/web/css/color/index.md
  files/en-us/web/css/color_value/color-contrast/index.md
  files/en-us/web/css/color_value/device-cmyk/index.md
  files/en-us/web/css/color_value/light-dark/index.md
  files/en-us/web/css/css_colors/index.md
Labels: Content:CSS, Content:Accessibility, size/s

#32940 added the updated release note for transform-box
  files/en-us/mozilla/firefox/releases/125/index.md
Labels: Content:Firefox, size/xs

#33029 fix(glossary): "Color space" - Add links or explain first occurrence of CIE and CIELab
  files/en-us/glossary/color_space/index.md
Labels: Content:Glossary, size/s

#32994 Add HTMLTable{Row|Cell}.bgColor
  files/en-us/web/api/htmltablecellelement/bgcolor/index.md
  files/en-us/web/api/htmltablerowelement/bgcolor/index.md
  files/en-us/web/css/background-color/index.md
Labels: Content:CSS, Content:WebAPI, size/m

#33021 Synchronize with BCD v5.5.20
  files/en-us/web/api/element/ariabraillelabel/index.md
  files/en-us/web/api/element/ariabrailleroledescription/index.md
  files/en-us/web/api/element/index.md
  files/en-us/web/api/htmltablecellelement/nowrap/index.md
  files/en-us/web/api/svgaelement/index.md
  files/en-us/web/javascript/reference/global_objects/json/index.md
  files/en-us/web/javascript/reference/global_objects/json/israwjson/index.md
  files/en-us/web/javascript/reference/global_objects/json/rawjson/index.md
Labels: Content:WebAPI, Content:JS, size/s

#33032 Add the example using Intl.Segmenter for characters containing variant selectors
  files/en-us/web/javascript/reference/global_objects/string/length/index.md
Labels: Content:JS, size/s

#33028 Update Firefox 125 release notes for WebDriver conforming changes
  files/en-us/mozilla/firefox/releases/125/index.md
Labels: Content:Firefox, size/s

#32298 Update for `BackgroundFetchManager`
  files/en-us/web/api/backgroundfetchmanager/fetch/index.md
  files/en-us/web/api/backgroundfetchmanager/get/index.md
  files/en-us/web/api/backgroundfetchmanager/index.md
Labels: Content:WebAPI, size/s

#32144 Add links to html attribute for `disableRemotePlayback` property & some other content update
  files/en-us/web/api/htmlmediaelement/disableremoteplayback/index.md
  files/en-us/web/api/htmlmediaelement/remote/index.md
Labels: Content:WebAPI, size/s

#33040 Grammar fixes
  files/en-us/learn/html/multimedia_and_embedding/images_in_html/index.md
Labels: Content:Learn:HTML, size/xs

#33041 Eradicate typo
  files/en-us/web/api/css_font_loading_api/index.md
Labels: Content:WebAPI, size/xs

#32163 Update for `BackgroundFetchEvent` & `BackgroundFetchUpdateUIEvent`
  files/en-us/web/api/backgroundfetchevent/index.md
  files/en-us/web/api/backgroundfetchevent/registration/index.md
  files/en-us/web/api/backgroundfetchupdateuievent/index.md
  files/en-us/web/api/backgroundfetchupdateuievent/updateui/index.md
Labels: Content:WebAPI, size/s

#33045 `<link rel=preload>` Talk abstractly about "preload resource" rather than "image"
  files/en-us/web/api/htmllinkelement/fetchpriority/index.md
Labels: Content:WebAPI, size/s

#33038 Format update for Vibration API
  files/en-us/web/api/navigator/vibrate/index.md
  files/en-us/web/api/vibration_api/index.md
Labels: Content:WebAPI, size/s

#33007 Update lch()
  files/en-us/web/css/color_value/lch/index.md
Labels: Content:CSS, size/m

#33043 Add space character before tag on "load" event page
  files/en-us/web/api/htmlelement/load_event/index.md
Labels: Content:WebAPI, size/xs

#32297 Add inherit info for `RemotePlayback` & update desc for `RemotePlayback.watchAvailability()`
  files/en-us/web/api/remote_playback_api/index.md
  files/en-us/web/api/remoteplayback/index.md
Labels: Content:WebAPI, size/s

#33037 Format update for Web Share API
  files/en-us/web/api/navigator/canshare/index.md
  files/en-us/web/api/navigator/share/index.md
  files/en-us/web/api/web_share_api/index.md
Labels: Content:WebAPI, size/s

#33031 Learn: What is a URL: edits
  files/en-us/learn/common_questions/web_mechanics/what_is_a_url/index.md
Labels: Content:Learn, size/s

#33055 Update {{AvailableInWorkers}} macros usage of Notifications API
  files/en-us/web/api/notificationevent/action/index.md
  files/en-us/web/api/notificationevent/index.md
  files/en-us/web/api/notificationevent/notification/index.md
  files/en-us/web/api/notificationevent/notificationevent/index.md
  files/en-us/web/api/serviceworkerglobalscope/notificationclick_event/index.md
  files/en-us/web/api/serviceworkerglobalscope/notificationclose_event/index.md
Labels: Content:WebAPI, size/s

#33054 fix AbsoluteOrientationSensor basic example
  files/en-us/web/api/absoluteorientationsensor/index.md
Labels: Content:WebAPI, size/xs

#33059 update `WorkerNavigator.globalPrivacyControl` Global Privacy Control link
  files/en-us/web/api/workernavigator/globalprivacycontrol/index.md
Labels: Content:WebAPI, size/xs

#32920 feat: Editorial review: Add docs for notRestoredReasons
  files/en-us/glossary/bfcache/index.md
  files/en-us/web/api/notrestoredreasondetails/index.md
  files/en-us/web/api/notrestoredreasondetails/reason/index.md
  files/en-us/web/api/notrestoredreasondetails/tojson/index.md
  files/en-us/web/api/notrestoredreasons/children/index.md
  files/en-us/web/api/notrestoredreasons/id/index.md
  files/en-us/web/api/notrestoredreasons/index.md
  files/en-us/web/api/notrestoredreasons/name/index.md
  files/en-us/web/api/notrestoredreasons/reasons/index.md
  files/en-us/web/api/notrestoredreasons/src/index.md
  files/en-us/web/api/notrestoredreasons/tojson/index.md
  files/en-us/web/api/notrestoredreasons/url/index.md
  files/en-us/web/api/performance_api/index.md
  files/en-us/web/api/performance_api/monitoring_bfcache_blocking_reasons/index.md
  files/en-us/web/api/performancenavigation/type/index.md
  files/en-us/web/api/performancenavigationtiming/index.md
  files/en-us/web/api/performancenavigationtiming/notrestoredreasons/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, Content:Glossary, size/l

#33062 Update {{AvailableInWorkers}} macros usage of Payment Handler API
  files/en-us/web/api/canmakepaymentevent/canmakepaymentevent/index.md
  files/en-us/web/api/canmakepaymentevent/index.md
  files/en-us/web/api/canmakepaymentevent/respondwith/index.md
  files/en-us/web/api/payment_handler_api/index.md
  files/en-us/web/api/paymentrequestevent/changepaymentmethod/index.md
  files/en-us/web/api/paymentrequestevent/index.md
  files/en-us/web/api/paymentrequestevent/instrumentkey/index.md
  files/en-us/web/api/paymentrequestevent/methoddata/index.md
  files/en-us/web/api/paymentrequestevent/modifiers/index.md
  files/en-us/web/api/paymentrequestevent/openwindow/index.md
  files/en-us/web/api/paymentrequestevent/paymentrequestevent/index.md
  files/en-us/web/api/paymentrequestevent/paymentrequestid/index.md
  files/en-us/web/api/paymentrequestevent/paymentrequestorigin/index.md
  files/en-us/web/api/paymentrequestevent/respondwith/index.md
  files/en-us/web/api/paymentrequestevent/toporigin/index.md
  files/en-us/web/api/paymentrequestevent/total/index.md
  files/en-us/web/api/serviceworkerglobalscope/canmakepayment_event/index.md
  files/en-us/web/api/serviceworkerglobalscope/paymentrequest_event/index.md
  files/en-us/web/api/serviceworkerregistration/paymentmanager/index.md
Labels: Content:WebAPI, size/s

#32863 added the FF release note for align-content in block layout
  files/en-us/mozilla/firefox/releases/125/index.md
Labels: Content:Firefox, size/xs

#32536 proxy.ProxyInfo.proxyAuthorizationHeader HTTP support
  files/en-us/mozilla/add-ons/webextensions/api/proxy/proxyinfo/index.md
  files/en-us/mozilla/firefox/releases/125/index.md
Labels: Content:WebExt, Content:Firefox, size/xs

#32985 Match patterns - fix end pattern snippet quotes
  files/en-us/mozilla/add-ons/webextensions/match_patterns/index.md
Labels: Content:WebExt, size/xs

#33061 Update {{AvailableInWorkers}} macros usage of Content Index API
  files/en-us/web/api/content_index_api/index.md
  files/en-us/web/api/contentindex/add/index.md
  files/en-us/web/api/contentindex/delete/index.md
  files/en-us/web/api/contentindex/getall/index.md
  files/en-us/web/api/contentindex/index.md
  files/en-us/web/api/contentindexevent/contentindexevent/index.md
  files/en-us/web/api/contentindexevent/id/index.md
  files/en-us/web/api/contentindexevent/index.md
  files/en-us/web/api/serviceworkerglobalscope/contentdelete_event/index.md
  files/en-us/web/api/serviceworkerregistration/index/index.md
Labels: Content:WebAPI, size/s

#33057 Remove extra bracket
  files/en-us/web/api/navigatoruadata/gethighentropyvalues/index.md
Labels: Content:WebAPI, size/xs

#33068 Synchronize with BCD v5.5.21
  files/en-us/web/api/cssstartingstylerule/index.md
  files/en-us/web/api/htmltablecellelement/align/index.md
  files/en-us/web/api/htmltablecellelement/bgcolor/index.md
  files/en-us/web/api/htmltablecellelement/valign/index.md
  files/en-us/web/api/htmltablerowelement/bgcolor/index.md
Labels: Content:WebAPI, size/s

#33073 Typo: Remove extra quote
  files/en-us/web/api/location/assign/index.md
Labels: Content:WebAPI, size/xs

#33069 Fix property name `iceTransport`
  files/en-us/web/api/rtcicecandidatepair/local/index.md
Labels: Content:WebAPI, size/s

#33096 fix: typos
  files/en-us/web/http/headers/content-digest/index.md
  files/en-us/web/http/headers/digest/index.md
Labels: Content:HTTP, size/xs

#33093 Update {{AvailableInWorkers}} macros usage for Web Periodic Background Synchronization API
  files/en-us/web/api/periodicsyncevent/index.md
  files/en-us/web/api/periodicsyncevent/periodicsyncevent/index.md
  files/en-us/web/api/periodicsyncevent/tag/index.md
  files/en-us/web/api/periodicsyncmanager/gettags/index.md
  files/en-us/web/api/periodicsyncmanager/index.md
  files/en-us/web/api/periodicsyncmanager/register/index.md
  files/en-us/web/api/periodicsyncmanager/unregister/index.md
  files/en-us/web/api/serviceworkerglobalscope/periodicsync_event/index.md
  files/en-us/web/api/serviceworkerregistration/periodicsync/index.md
  files/en-us/web/api/web_periodic_background_synchronization_api/index.md
Labels: Content:WebAPI, size/s

#33092 Update {{AvailableInWorkers}} macros usage for Background Sync API
  files/en-us/web/api/background_synchronization_api/index.md
  files/en-us/web/api/serviceworkerglobalscope/sync_event/index.md
  files/en-us/web/api/serviceworkerregistration/sync/index.md
  files/en-us/web/api/syncevent/index.md
  files/en-us/web/api/syncevent/lastchance/index.md
  files/en-us/web/api/syncevent/syncevent/index.md
  files/en-us/web/api/syncevent/tag/index.md
  files/en-us/web/api/syncmanager/gettags/index.md
  files/en-us/web/api/syncmanager/index.md
  files/en-us/web/api/syncmanager/register/index.md
Labels: Content:WebAPI, size/s

#33079 chore: remove the description of the table's source
  files/en-us/web/http/status/412/index.md
Labels: Content:HTTP, size/xs

#31189 Content Index API | fix apiref & update api landing page & fix example
  files/en-us/web/api/content_index_api/index.md
  files/en-us/web/api/contentindex/add/index.md
  files/en-us/web/api/contentindex/delete/index.md
  files/en-us/web/api/contentindex/getall/index.md
  files/en-us/web/api/contentindex/index.md
Labels: Content:WebAPI, size/s

#33033 Remove an auto-link
  files/en-us/web/html/element/a/index.md
Labels: Content:HTML, size/s

#33099 Add the missing semicolon
  files/en-us/web/javascript/guide/grammar_and_types/index.md
Labels: Content:JS, size/xs

#30447 Fixes #29367 | update `ServiceWorkerRegistration.scope` and `ServiceWorkerRegistration.updateViaCache` to better reflect its relationship with `ServiceWorkerContainer.register()`
  files/en-us/web/api/serviceworkerregistration/index.md
  files/en-us/web/api/serviceworkerregistration/scope/index.md
  files/en-us/web/api/serviceworkerregistration/updateviacache/index.md
Labels: Content:WebAPI, size/s

#32489 feat: Editorial review: Add content to cover the field-sizing property
  files/en-us/web/css/field-sizing/index.md
  files/en-us/web/html/element/input/index.md
  files/en-us/web/html/element/select/index.md
Labels: Content:CSS, Content:HTML, size/m

#33108 Circle farthest -side - farthest in any dimension
  files/en-us/web/css/basic-shape/circle/index.md
Labels: Content:CSS, size/xs

#33051 FF125 Relnote - WASM Multi-memory
  files/en-us/mozilla/firefox/releases/125/index.md
Labels: Content:Firefox, size/s

#32919 FF125 WAS multi memory ff125
  files/en-us/webassembly/index.md
  files/en-us/webassembly/javascript_interface/memory/index.md
  files/en-us/webassembly/reference/memory/copy/index.md
  files/en-us/webassembly/reference/memory/fill/index.md
  files/en-us/webassembly/reference/memory/grow/index.md
  files/en-us/webassembly/reference/memory/load/index.md
  files/en-us/webassembly/reference/memory/size/index.md
  files/en-us/webassembly/reference/memory/store/index.md
  files/en-us/webassembly/understanding_the_text_format/index.md
Labels: Content:wasm, size/l

#33064 Update custom state set examples
  files/en-us/web/api/customstateset/index.md
Labels: Content:WebAPI, size/m

#33103 chore(relnotes): Enable CSS transition-behavior in Nightly
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/125/index.md
Labels: Content:Firefox, size/m

#33097 runtime.MessageSender.origin support release note
  files/en-us/mozilla/firefox/releases/126/index.md
Labels: Content:Firefox, size/xs

#33094 Release note for addition of commands.onCommand.tab support
  files/en-us/mozilla/add-ons/webextensions/api/commands/oncommand/index.md
  files/en-us/mozilla/firefox/releases/126/index.md
Labels: Content:WebExt, Content:Firefox, size/xs

#33088 Fix misinformation about LOAD of RAIL models
  files/en-us/glossary/rail/index.md
Labels: Content:Glossary, size/xs

#33115 fixed typo
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
Labels: Content:JS, size/xs

#33020 Add experimental h1 UA styles removal
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/125/index.md
Labels: Content:Firefox, size/m, Firefox 125

#33109 FF125 Relnote: Screen WakeLock API enabled
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/126/index.md
Labels: Content:Firefox, size/s

#33102 Update REVIEWING.md
  REVIEWING.md
Labels: size/s

#33070 `<small>` element Content categories no link fix
  files/en-us/web/html/element/small/index.md
Labels: Content:HTML, size/s

#33124 Synchronize with BCD v5.5.22
  files/en-us/web/api/pushmanager/haspermission/index.md
  files/en-us/web/api/pushmanager/index.md
  files/en-us/web/api/pushmanager/register/index.md
  files/en-us/web/api/pushmanager/registrations/index.md
  files/en-us/web/api/pushmanager/unregister/index.md
  files/en-us/web/api/pushsubscription/index.md
  files/en-us/web/api/pushsubscription/subscriptionid/index.md
  files/en-us/web/http/headers/content-encoding/index.md
Labels: Content:WebAPI, Content:HTTP, size/s

#33121 Fix typos in index.md
  files/en-us/web/api/htmlanchorelement/index.md
Labels: Content:WebAPI, size/xs

#33126 oops: a11y sidebar
  files/en-us/web/accessibility/understanding_wcag/index.md
Labels: Content:Accessibility, size/xs

#33120 Link overflow-wrap and word-break to white-space
  files/en-us/web/css/overflow-wrap/index.md
  files/en-us/web/css/word-break/index.md
Labels: Content:CSS, size/xs

#33118 fix: update the discussion channels for `l10n-zh`
  files/en-us/mdn/community/contributing/translated_content/index.md
Labels: Content:Meta, size/xs

#33048 Update: oklch()
  files/en-us/web/css/color_value/oklch/index.md
Labels: Content:CSS, size/m

#33139 HTML(min): Fix typo
  files/en-us/web/html/attributes/min/index.md
Labels: Content:HTML, size/xs

#33147 Update index.md
  files/en-us/web/javascript/reference/statements/function_star_/index.md
Labels: Content:JS, size/xs

#33036 Clarify comment in scroll-snap-align css example
  files/en-us/web/css/scroll-snap-align/index.md
Labels: Content:CSS, size/s

#33152 Add a note about the AV1 for EME support
  files/en-us/mozilla/firefox/releases/125/index.md
Labels: Content:Firefox, size/xs, Firefox 125

#33143 update learn background and borders
  files/en-us/learn/css/building_blocks/backgrounds_and_borders/index.md
Labels: Content:Learn:CSS, size/s

#33134 added win 11
  files/en-us/learn/getting_started_with_the_web/installing_basic_software/index.md
Labels: Content:Learn, size/xs

#33110 FF126 Relnote: RTCIceCandidate support
  files/en-us/mozilla/firefox/releases/126/index.md
Labels: Content:Firefox, size/s, Firefox 126

#33095 Add more gradients examples
  files/en-us/web/css/css_images/using_css_gradients/index.md
Labels: Content:CSS, size/m

#33157 Fix typo
  files/en-us/web/performance/rum-vs-synthetic/index.md
Labels: Content:Performance, size/xs

#33162 init docs for `HTMLScriptElement.text`
  files/en-us/web/api/htmlscriptelement/index.md
  files/en-us/web/api/htmlscriptelement/text/index.md
Labels: Content:WebAPI, size/s
