Repository mdn/content, pull requests merged in 2024-10, with the labels that each got.

#36061 Add contentful background-image to Element Timing supported elements
  files/en-us/web/api/performanceelementtiming/index.md
Labels: Content:WebAPI, size/xs

#36141 make bullets looks better by shifting punctuation towards right
  files/en-us/mdn/community/open_source_etiquette/index.md
Labels: Content:Meta, size/xs

#35996 Add example for Reflect.construct newTarget parameter
  files/en-us/web/javascript/reference/global_objects/reflect/construct/index.md
Labels: Content:JS, size/m

#36014 Add separate MathML annotation pages
  files/en-us/_redirects.txt
  files/en-us/web/mathml/element/annotation-xml/index.md
  files/en-us/web/mathml/element/annotation/index.md
  files/en-us/web/mathml/element/semantics/index.md
Labels: Content:MathML, size/m

#36018 Add a separate MathML mprescripts page
  files/en-us/_redirects.txt
  files/en-us/web/mathml/element/mmultiscripts/index.md
  files/en-us/web/mathml/element/mprescripts/index.md
Labels: Content:MathML, size/m

#36131 added ff release note for exnref
  files/en-us/mozilla/firefox/releases/131/index.md
Labels: Content:Firefox, size/xs

#36143 Fix some redirects
  files/en-us/mozilla/firefox/releases/102/index.md
  files/en-us/mozilla/firefox/releases/126/index.md
  files/en-us/mozilla/firefox/releases/41/index.md
  files/en-us/mozilla/firefox/releases/44/index.md
  files/en-us/mozilla/firefox/releases/46/index.md
  files/en-us/mozilla/firefox/releases/48/index.md
  files/en-us/mozilla/firefox/releases/49/index.md
  files/en-us/mozilla/firefox/releases/59/index.md
  files/en-us/mozilla/firefox/releases/85/index.md
  files/en-us/web/media/formats/containers/index.md
Labels: Content:Media, Content:Firefox, size/s

#36140 new link: list of SSGs for the SSG page
  files/en-us/glossary/ssg/index.md
Labels: Content:Glossary, size/xs

#36150 Firefox 131 release notes
  files/en-us/mozilla/firefox/releases/131/index.md
  files/en-us/mozilla/firefox/releases/132/index.md
  files/en-us/mozilla/firefox/releases/133/index.md
Labels: Content:Firefox, size/m, Firefox 131

#36105 Fixes #35732 | update port description & fix example
  files/en-us/web/api/htmlanchorelement/port/index.md
  files/en-us/web/api/htmlareaelement/port/index.md
  files/en-us/web/api/location/port/index.md
  files/en-us/web/api/url/port/index.md
Labels: Content:WebAPI, size/m

#36153 fix desc for `Keyboard.lock()`
  files/en-us/web/api/keyboard/index.md
  files/en-us/web/api/keyboard/lock/index.md
Labels: Content:WebAPI, size/xs

#35774 chore(http): delete "Basics of HTTP" page in favor of HTTP landing page, reorganize index
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/glossary/http_2/index.md
  files/en-us/glossary/http_3/index.md
  files/en-us/glossary/lossy_compression/index.md
  files/en-us/glossary/mime_type/index.md
  files/en-us/learn/forms/sending_and_retrieving_form_data/index.md
  files/en-us/learn/getting_started_with_the_web/the_web_and_web_standards/index.md
  files/en-us/learn/server-side/configuring_server_mime_types/index.md
  files/en-us/learn/server-side/node_server_without_framework/index.md
  files/en-us/mozilla/firefox/releases/65/index.md
  files/en-us/web/api/datatransferitem/type/index.md
  files/en-us/web/api/htmlmediaelement/canplaytype/index.md
  files/en-us/web/api/htmlscriptelement/index.md
  files/en-us/web/api/imagedecoder/imagedecoder/index.md
  files/en-us/web/api/imagedecoder/index.md
  files/en-us/web/api/imagedecoder/istypesupported_static/index.md
  files/en-us/web/api/imagedecoder/type/index.md
  files/en-us/web/api/mediarecorder/mimetype/index.md
  files/en-us/web/api/ndefmessage/ndefmessage/index.md
  files/en-us/web/api/ndefreader/write/index.md
  files/en-us/web/api/ndefreadingevent/ndefreadingevent/index.md
  files/en-us/web/api/ndefrecord/ndefrecord/index.md
  files/en-us/web/api/serviceworkercontainer/register/index.md
  files/en-us/web/api/sharedworker/sharedworker/index.md
  files/en-us/web/api/window/showopenfilepicker/index.md
  files/en-us/web/api/window/showsavefilepicker/index.md
  files/en-us/web/api/worker/worker/index.md
  files/en-us/web/api/workerglobalscope/importscripts/index.md
  files/en-us/web/html/element/input/file/index.md
  files/en-us/web/html/element/meta/index.md
  files/en-us/web/html/element/picture/index.md
  files/en-us/web/html/element/script/index.md
  files/en-us/web/html/element/script/type/index.md
  files/en-us/web/http/basics_of_http/index.md
  files/en-us/web/http/cors/index.md
  files/en-us/web/http/evolution_of_http/index.md
  files/en-us/web/http/headers/accept-post/index.md
  files/en-us/web/http/headers/accept/index.md
  files/en-us/web/http/headers/content-type/index.md
  files/en-us/web/http/headers/index.md
  files/en-us/web/http/headers/x-content-type-options/index.md
  files/en-us/web/http/index.md
  files/en-us/web/http/messages/index.md
  files/en-us/web/http/mime_types/common_types/index.md
  files/en-us/web/http/mime_types/index.md
  files/en-us/web/javascript/reference/statements/import/with/index.md
  files/en-us/web/manifest/file_handlers/index.md
  files/en-us/web/progressive_web_apps/how_to/share_data_between_apps/index.md
  files/en-us/web/security/index.md
  files/en-us/web/security/practical_implementation_guides/mime_types/index.md
  files/en-us/web/uri/schemes/data/index.md
Labels: Content:HTML, Content:WebAPI, Content:JS, Content:Learn, Content:Other, Content:HTTP, Content:Glossary, Content:Security, Content:Firefox, Content:Learn:Forms, Content:Manifest, Content:PWA, size/m

#35629 storage.session quota enforcement
  files/en-us/mozilla/add-ons/webextensions/api/storage/session/index.md
  files/en-us/mozilla/add-ons/webextensions/api/storage/session/quota_bytes/index.md
  files/en-us/mozilla/add-ons/webextensions/api/storage/storagearea/clear/index.md
  files/en-us/mozilla/add-ons/webextensions/api/storage/storagearea/get/index.md
  files/en-us/mozilla/add-ons/webextensions/api/storage/storagearea/getbytesinuse/index.md
  files/en-us/mozilla/add-ons/webextensions/api/storage/storagearea/remove/index.md
  files/en-us/mozilla/add-ons/webextensions/api/storage/storagearea/set/index.md
  files/en-us/mozilla/add-ons/webextensions/api/storage/storagearea/setaccesslevel/index.md
  files/en-us/mozilla/firefox/releases/131/index.md
Labels: Content:WebExt, Content:Firefox, size/m

#36151 Update `VideoDecoderConfig` docs to correctly reflect optional fields
  files/en-us/web/api/videodecoder/configure/index.md
Labels: Content:WebAPI, size/s

#36084 Synchronize with BCD v5.6.4
  files/en-us/web/api/scheduler/index.md
  files/en-us/web/api/scheduler/yield/index.md
  files/en-us/web/manifest/serviceworker/index.md
Labels: Content:WebAPI, Content:Manifest, size/s

#36023 Linked normalized diagonal for SVG attribute
  files/en-us/web/svg/attribute/r/index.md
Labels: Content:SVG, size/xs

#36158 Fix links
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/package_management/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/background/index.md
  files/en-us/mozilla/add-ons/webextensions/your_second_webextension/index.md
  files/en-us/web/api/audiolistener/index.md
  files/en-us/web/api/htmlmediaelement/playbackrate/index.md
  files/en-us/web/api/performance/now/index.md
  files/en-us/web/api/webrtc_api/using_data_channels/index.md
  files/en-us/web/css/@page/index.md
  files/en-us/web/http/headers/content-security-policy/default-src/index.md
  files/en-us/web/media/formats/containers/index.md
  files/en-us/web/security/practical_implementation_guides/csp/index.md
Labels: Content:CSS, Content:WebExt, Content:WebAPI, Content:HTTP, Content:Media, Content:Security, Content:Learn:Client-side, size/s

#36161 Remove text-align: justify-all
  files/en-us/web/css/text-align/index.md
Labels: Content:CSS, size/xs

#36159 chore: remove the extra period and space
  files/en-us/web/api/file/index.md
Labels: Content:WebAPI, size/xs

#36088 Update Specifications section for `InstallEvent` constructor
  files/en-us/web/api/installevent/installevent/index.md
Labels: Content:WebAPI, size/xs

#36154 Fix Firefox version in 131 release notes
  files/en-us/mozilla/firefox/releases/131/index.md
Labels: Content:Firefox, size/xs

#36162 Remove obsolete displaySurface value
  files/en-us/web/api/mediatracksettings/index.md
Labels: Content:WebAPI, size/xs

#36164 incorrect description remove getFloatFrequencyData
  files/en-us/web/api/analysernode/getfloatfrequencydata/index.md
Labels: Content:WebAPI, size/xs

#36165 Fix content issues
  files/en-us/learn/common_questions/tools_and_setup/available_text_editors/index.md
  files/en-us/learn/common_questions/tools_and_setup/how_much_does_it_cost/index.md
  files/en-us/mozilla/add-ons/webextensions/api/notifications/onclosed/index.md
  files/en-us/web/api/htmloptionelement/label/index.md
  files/en-us/web/api/htmloptionscollection/remove/index.md
  files/en-us/web/http/index.md
Labels: Content:WebExt, Content:WebAPI, Content:Learn, Content:HTTP, size/s

#36085 docs(manifest): Improvements to `background_color` page
  files/en-us/web/manifest/background_color/index.md
  files/en-us/web/manifest/theme_color/index.md
Labels: Content:Manifest, size/m

#35649 Add new declarativeNetRequest RuleConditions
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/headerinfo/index.md
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/rulecondition/index.md
Labels: Content:WebExt, size/m

#36080 Fix descrition of the response of the client_metadata_endpoint
  files/en-us/web/api/fedcm_api/rp_sign-in/index.md
Labels: Content:WebAPI, size/xs

#36176 Fix hasFeature() return value
  files/en-us/web/api/domimplementation/hasfeature/index.md
Labels: Content:WebAPI, size/xs

#36171 @media: add name of data types
  files/en-us/web/css/@media/index.md
Labels: Content:CSS, size/s

#36180 Add {{AvailableInWorkers}} for Compute Pressure API
  files/en-us/web/api/pressureobserver/disconnect/index.md
  files/en-us/web/api/pressureobserver/knownsources_static/index.md
  files/en-us/web/api/pressureobserver/observe/index.md
  files/en-us/web/api/pressureobserver/pressureobserver/index.md
  files/en-us/web/api/pressureobserver/takerecords/index.md
  files/en-us/web/api/pressureobserver/unobserve/index.md
  files/en-us/web/api/pressurerecord/source/index.md
  files/en-us/web/api/pressurerecord/state/index.md
  files/en-us/web/api/pressurerecord/time/index.md
  files/en-us/web/api/pressurerecord/tojson/index.md
Labels: Content:WebAPI, size/s

#35947 Correct CSP source values
  files/en-us/mozilla/add-ons/webextensions/manifest.json/content_security_policy/index.md
  files/en-us/web/http/headers/content-security-policy/base-uri/index.md
  files/en-us/web/http/headers/content-security-policy/child-src/index.md
  files/en-us/web/http/headers/content-security-policy/connect-src/index.md
  files/en-us/web/http/headers/content-security-policy/default-src/index.md
  files/en-us/web/http/headers/content-security-policy/font-src/index.md
  files/en-us/web/http/headers/content-security-policy/form-action/index.md
  files/en-us/web/http/headers/content-security-policy/frame-src/index.md
  files/en-us/web/http/headers/content-security-policy/img-src/index.md
  files/en-us/web/http/headers/content-security-policy/index.md
  files/en-us/web/http/headers/content-security-policy/manifest-src/index.md
  files/en-us/web/http/headers/content-security-policy/media-src/index.md
  files/en-us/web/http/headers/content-security-policy/object-src/index.md
  files/en-us/web/http/headers/content-security-policy/prefetch-src/index.md
  files/en-us/web/http/headers/content-security-policy/script-src-attr/index.md
  files/en-us/web/http/headers/content-security-policy/script-src-elem/index.md
  files/en-us/web/http/headers/content-security-policy/script-src/index.md
  files/en-us/web/http/headers/content-security-policy/sources/index.md
  files/en-us/web/http/headers/content-security-policy/style-src-attr/index.md
  files/en-us/web/http/headers/content-security-policy/style-src-elem/index.md
  files/en-us/web/http/headers/content-security-policy/style-src/index.md
  files/en-us/web/http/headers/content-security-policy/worker-src/index.md
Labels: Content:WebExt, Content:HTTP, size/m

#36130 Fix grammatical / phrasing error
  files/en-us/web/performance/how_browsers_work/index.md
Labels: Content:Performance, size/xs

#36042 Fix globals, part 16: `clearInterval()` & `setInterval()`
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/games/anatomy/index.md
  files/en-us/games/tutorials/2d_breakout_game_pure_javascript/finishing_up/index.md
  files/en-us/games/tutorials/2d_breakout_game_pure_javascript/move_the_ball/index.md
  files/en-us/learn/accessibility/wai-aria_basics/index.md
  files/en-us/learn/javascript/client-side_web_apis/video_and_audio_apis/index.md
  files/en-us/learn/performance/javascript/index.md
  files/en-us/mozilla/add-ons/webextensions/api/alarms/index.md
  files/en-us/mozilla/add-ons/webextensions/content_scripts/index.md
  files/en-us/mozilla/firefox/releases/13/index.md
  files/en-us/mozilla/firefox/releases/5/index.md
  files/en-us/mozilla/firefox/releases/5/updating_add-ons/index.md
  files/en-us/mozilla/firefox/releases/50/index.md
  files/en-us/mozilla/firefox/releases/51/index.md
  files/en-us/mozilla/firefox/releases/55/index.md
  files/en-us/mozilla/firefox/releases/56/index.md
  files/en-us/web/api/canvas_api/tutorial/basic_animations/index.md
  files/en-us/web/api/canvas_api/tutorial/basic_usage/index.md
  files/en-us/web/api/canvas_api/tutorial/optimizing_canvas/index.md
  files/en-us/web/api/clearinterval/index.md
  files/en-us/web/api/cleartimeout/index.md
  files/en-us/web/api/html_dom_api/microtask_guide/in_depth/index.md
  files/en-us/web/api/html_dom_api/microtask_guide/index.md
  files/en-us/web/api/intersection_observer_api/timing_element_visibility/index.md
  files/en-us/web/api/rtcicecandidatestats/deleted/index.md
  files/en-us/web/api/rtcpeerconnection/getstats/index.md
  files/en-us/web/api/settimeout/index.md
  files/en-us/web/api/streams_api/using_readable_streams/index.md
  files/en-us/web/api/web_animations_api/using_the_web_animations_api/index.md
  files/en-us/web/api/web_workers_api/functions_and_classes_available_to_workers/index.md
  files/en-us/web/api/web_workers_api/index.md
  files/en-us/web/api/web_workers_api/using_web_workers/index.md
  files/en-us/web/api/window/clearinterval/index.md
  files/en-us/web/api/window/index.md
  files/en-us/web/api/window/requestidlecallback/index.md
  files/en-us/web/api/window/setinterval/index.md
  files/en-us/web/api/window_management_api/using/index.md
  files/en-us/web/api/workerglobalscope/clearinterval/index.md
  files/en-us/web/api/workerglobalscope/index.md
  files/en-us/web/api/workerglobalscope/setinterval/index.md
  files/en-us/web/http/headers/content-security-policy/script-src/index.md
  files/en-us/web/javascript/javascript_technologies_overview/index.md
  files/en-us/web/media/autoplay_guide/index.md
  files/en-us/web/performance/css_javascript_animation_performance/index.md
  files/en-us/web/performance/fundamentals/index.md
Labels: Content:WebExt, Content:WebAPI, Content:JS, Content:Learn, Content:HTTP, Content:Media, Content:Games, Content:Performance, Content:Learn:JavaScript, Content:Firefox, Content:Learn:Accessibility, size/m

#36017 New pages for HTMLOutputElement.{defaultValue,htmlFor}
  files/en-us/web/api/htmloutputelement/defaultvalue/index.md
  files/en-us/web/api/htmloutputelement/htmlfor/index.md
Labels: Content:WebAPI, size/m

#36194 Declare the special handling of promise arguments only for the resolve function
  files/en-us/web/javascript/reference/global_objects/promise/promise/index.md
Labels: Content:JS, size/xs

#36196 typo
  files/en-us/web/html/element/index.md
Labels: Content:HTML, size/xs

#36199 fix: correct the method name
  files/en-us/web/api/window/clearinterval/index.md
Labels: Content:WebAPI, size/xs

#36201 chore: fix typo and a broken link
  files/en-us/web/api/window/setinterval/index.md
  files/en-us/web/api/workerglobalscope/setinterval/index.md
Labels: Content:WebAPI, size/xs

#36200 Remove reference to `mode: "websocket"` in `RequestInit`
  files/en-us/web/api/requestinit/index.md
Labels: Content:WebAPI, size/xs

#36205 Fix a sentence referring to a thenable as a promise, uniformise ‘handler’ occurrences
  files/en-us/web/javascript/reference/global_objects/promise/index.md
Labels: Content:JS, size/s

#36217 Fix redirected links
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/react_getting_started/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/vue_getting_started/index.md
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/introducing_complete_toolchain/index.md
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/overview/index.md
  files/en-us/learn/tools_and_testing/understanding_client-side_tools/package_management/index.md
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/headerinfo/index.md
  files/en-us/web/api/web_workers_api/using_web_workers/index.md
  files/en-us/web/api/worker/worker/index.md
Labels: Content:WebExt, Content:WebAPI, Content:Learn:Client-side, size/s

#36185 API Reference method page template - add description
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_method_subpage_template/index.md
Labels: Content:Meta, size/s

#36223 Missing declaration
  files/en-us/web/api/filesystemfilehandle/getfile/index.md
Labels: Content:WebAPI, size/xs

#36221 Fix spelling mistake
  files/en-us/web/api/text/wholetext/index.md
Labels: Content:WebAPI, size/xs

#36220 Update HTML global attributes link: Global_attributes#** -> Global_attributes/** | part I
  files/en-us/glossary/accessible_description/index.md
  files/en-us/glossary/caret/index.md
  files/en-us/glossary/ltr/index.md
  files/en-us/learn/accessibility/html/index.md
  files/en-us/learn/css/building_blocks/cascade_and_inheritance/index.md
  files/en-us/learn/forms/user_input_methods/index.md
  files/en-us/learn/html/howto/define_terms_with_html/index.md
  files/en-us/learn/html/introduction_to_html/advanced_text_formatting/index.md
  files/en-us/learn/html/introduction_to_html/creating_hyperlinks/index.md
  files/en-us/learn/html/introduction_to_html/document_and_website_structure/index.md
  files/en-us/learn/html/tables/advanced/index.md
  files/en-us/mdn/writing_guidelines/writing_style_guide/code_style_guide/html/index.md
  files/en-us/web/accessibility/aria/roles/slider_role/index.md
  files/en-us/web/api/customstateset/index.md
  files/en-us/web/api/element/part/index.md
  files/en-us/web/api/htmlelement/hidden/index.md
  files/en-us/web/api/performanceelementtiming/id/index.md
  files/en-us/web/api/performanceelementtiming/index.md
  files/en-us/web/api/selection/index.md
  files/en-us/web/api/shadowroot/host/index.md
  files/en-us/web/api/texttrack/index.md
  files/en-us/web/api/texttrack/language/index.md
  files/en-us/web/api/web_animations_api/using_the_web_animations_api/index.md
  files/en-us/web/api/web_components/index.md
  files/en-us/web/api/web_components/using_templates_and_slots/index.md
  files/en-us/web/css/_colon_dir/index.md
  files/en-us/web/css/_colon_lang/index.md
  files/en-us/web/css/_colon_read-write/index.md
  files/en-us/web/css/_colon_target-within/index.md
  files/en-us/web/css/_doublecolon_part/index.md
  files/en-us/web/css/caret-color/index.md
  files/en-us/web/css/cascade/index.md
  files/en-us/web/css/direction/index.md
  files/en-us/web/css/filter-function/hue-rotate/index.md
  files/en-us/web/html/element/a/index.md
  files/en-us/web/html/element/abbr/index.md
  files/en-us/web/html/element/dfn/index.md
  files/en-us/web/html/element/div/index.md
  files/en-us/web/html/element/img/index.md
  files/en-us/web/html/element/input/number/index.md
  files/en-us/web/html/element/input/reset/index.md
  files/en-us/web/html/element/map/index.md
  files/en-us/web/html/element/output/index.md
  files/en-us/web/html/element/span/index.md
  files/en-us/web/html/element/textarea/index.md
  files/en-us/web/html/global_attributes/inputmode/index.md
  files/en-us/web/svg/tutorial/svg_fonts/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:Accessibility, Content:SVG, Content:Glossary, Content:Meta, Content:Learn:CSS, Content:Learn:HTML, Content:Learn:Accessibility, Content:Learn:Forms, size/m

#36144 WebExt: fix missing anchor
  files/en-us/mozilla/add-ons/webextensions/api/extension/sendrequest/index.md
Labels: Content:WebExt, size/xs

#36227 Change use of "lambda" to "function expression"
  files/en-us/web/events/event_handlers/index.md
  files/en-us/web/javascript/reference/errors/called_on_incompatible_type/index.md
Labels: Content:JS, Content:Events, size/s

#36228 fix typo
  .vscode/ignore-list.txt
Labels: system, size/xs

#36077 Fix post-merge hook echo command
  .husky/post-merge
Labels: system, size/xs

#36212 close issue 36211
  files/en-us/learn/forms/ui_pseudo-classes/index.md
Labels: Content:Learn:Forms, size/s

#36188 Update examples of `PerformanceObserver.supportedEntryTypes`
  files/en-us/web/api/performanceobserver/supportedentrytypes_static/index.md
Labels: Content:WebAPI, size/xs

#36041 Remove global api page type
  files/en-us/mdn/writing_guidelines/page_structures/page_types/page_type_key/index.md
  front-matter-config.json
Labels: Content:Meta, system, size/xs

#36239 fix: replace link
  files/en-us/web/css/color-scheme/index.md
Labels: Content:CSS, size/xs

#35906 docs(manifest): Improvements to `related_applications` and `prefer_related_applications`
  files/en-us/web/manifest/prefer_related_applications/index.md
  files/en-us/web/manifest/related_applications/index.md
Labels: Content:Manifest, size/m

#35941 host-context(): Rewrite introduction for clarity
  files/en-us/web/css/_colon_host-context/index.md
Labels: Content:CSS, size/s

#36173 Fix: Incorrect Bugzilla Link for CSS Anchor Positioning
  files/en-us/mozilla/firefox/experimental_features/index.md
Labels: Content:Firefox, size/xs

#36249 Fix typos and pseudo-typos 8
  files/en-us/web/api/abstractrange/index.md
  files/en-us/web/api/analysernode/index.md
  files/en-us/web/api/animation/playbackrate/index.md
  files/en-us/web/api/attribution_reporting_api/registering_sources/index.md
  files/en-us/web/api/audiocontext/close/index.md
  files/en-us/web/api/audiocontext/createmediastreamsource/index.md
  files/en-us/web/api/audiocontext/resume/index.md
  files/en-us/web/api/audiocontext/suspend/index.md
  files/en-us/web/api/audiodestinationnode/maxchannelcount/index.md
  files/en-us/web/api/authenticatorattestationresponse/attestationobject/index.md
  files/en-us/web/api/beforeinstallpromptevent/beforeinstallpromptevent/index.md
  files/en-us/web/api/canvas_api/tutorial/applying_styles_and_colors/canvas_create_pattern.png
  files/en-us/web/api/canvas_api/tutorial/applying_styles_and_colors/index.md
  files/en-us/web/api/canvas_api/tutorial/compositing/index.md
  files/en-us/web/api/canvas_api/tutorial/pixel_manipulation_with_canvas/index.md
  files/en-us/web/api/canvaspattern/settransform/canvas_create_pattern.png
  files/en-us/web/api/canvaspattern/settransform/index.md
  files/en-us/web/api/canvasrenderingcontext2d/arcto/index.md
  files/en-us/web/api/canvasrenderingcontext2d/createpattern/canvas_create_pattern.png
  files/en-us/web/api/canvasrenderingcontext2d/createpattern/index.md
  files/en-us/web/api/canvasrenderingcontext2d/globalcompositeoperation/index.md
  files/en-us/web/api/canvasrenderingcontext2d/imagesmoothingquality/canvas_create_pattern.png
  files/en-us/web/api/canvasrenderingcontext2d/imagesmoothingquality/index.md
  files/en-us/web/api/canvasrenderingcontext2d/reset/index.md
  files/en-us/web/api/characterdata/appenddata/index.md
  files/en-us/web/api/characterdata/data/index.md
  files/en-us/web/api/characterdata/deletedata/index.md
  files/en-us/web/api/characterdata/insertdata/index.md
  files/en-us/web/api/characterdata/length/index.md
  files/en-us/web/api/characterdata/remove/index.md
  files/en-us/web/api/characterdata/replacedata/index.md
  files/en-us/web/api/clipboarditem/clipboarditem/index.md
  files/en-us/web/api/clipboarditem/index.md
  files/en-us/web/api/clipboarditem/supports_static/index.md
  files/en-us/web/api/console/index.md
  files/en-us/web/api/css_font_loading_api/index.md
  files/en-us/web/api/css_object_model/determining_the_dimensions_of_elements/index.md
  files/en-us/web/api/css_painting_api/guide/index.md
  files/en-us/web/api/css_typed_om_api/guide/index.md
  files/en-us/web/api/css_typed_om_api/guide/magic-wand.png
  files/en-us/web/api/csscontainerrule/containername/index.md
  files/en-us/web/api/csscontainerrule/containerquery/index.md
  files/en-us/web/api/csscontainerrule/index.md
  files/en-us/web/api/cssimagevalue/index.md
  files/en-us/web/api/csskeyframerule/index.md
  files/en-us/web/api/csskeyframerule/keytext/index.md
  files/en-us/web/api/csskeyframerule/style/index.md
  files/en-us/web/api/csskeyframesrule/appendrule/index.md
  files/en-us/web/api/csskeyframesrule/cssrules/index.md
  files/en-us/web/api/csskeyframesrule/deleterule/index.md
  files/en-us/web/api/csskeyframesrule/findrule/index.md
  files/en-us/web/api/csskeyframesrule/index.md
  files/en-us/web/api/csskeyframesrule/length/index.md
  files/en-us/web/api/csskeyframesrule/name/index.md
  files/en-us/web/api/cssstylesheet/replace/index.md
  files/en-us/web/api/cssstylesheet/replacesync/index.md
  files/en-us/web/api/customstateset/index.md
Labels: Content:WebAPI, size/m

#36246 Fix typos and pseudo-typos 5
  files/en-us/web/events/index.md
  files/en-us/web/guide/css/getting_started/challenge_solutions/index.md
  files/en-us/web/html/attributes/disabled/index.md
  files/en-us/web/html/element/audio/index.md
  files/en-us/web/html/element/fencedframe/index.md
  files/en-us/web/html/element/img/index.md
  files/en-us/web/html/element/input/button/index.md
  files/en-us/web/html/element/input/datetime-local/index.md
  files/en-us/web/html/element/input/index.md
  files/en-us/web/html/element/input/search/index.md
  files/en-us/web/html/element/input/submit/index.md
  files/en-us/web/html/element/input/time/index.md
  files/en-us/web/html/element/input/url/index.md
  files/en-us/web/html/element/kbd/index.md
  files/en-us/web/html/element/link/index.md
  files/en-us/web/html/element/script/type/importmap/index.md
  files/en-us/web/html/element/textarea/index.md
  files/en-us/web/html/element/track/index.md
  files/en-us/web/html/element/u/index.md
  files/en-us/web/html/global_attributes/lang/index.md
  files/en-us/web/http/browser_detection_using_the_user_agent/index.md
  files/en-us/web/http/compression/index.md
  files/en-us/web/http/cookies/index.md
  files/en-us/web/http/cors/errors/index.md
  files/en-us/web/http/csp/index.md
  files/en-us/web/http/evolution_of_http/index.md
  files/en-us/web/http/headers/set-cookie/index.md
  files/en-us/web/http/headers/user-agent/firefox/index.md
  files/en-us/web/http/headers/user-agent/index.md
  files/en-us/web/http/messages/index.md
  files/en-us/web/http/methods/post/index.md
  files/en-us/web/http/permissions_policy/index.md
  files/en-us/web/http/proxy_servers_and_tunneling/proxy_auto-configuration_pac_file/index.md
  files/en-us/web/http/status/103/index.md
  files/en-us/web/http/status/206/index.md
  files/en-us/web/http/status/423/index.md
Labels: Content:HTML, Content:HTTP, Content:Guide, Content:Events, size/m

#36190 Fix - Missing Reference for -webkit-fill-available
  files/en-us/web/css/webkit_extensions/index.md
Labels: Content:CSS, size/s

#36166 Add Promise.try() to experimental features
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/132/index.md
Labels: Content:Firefox, size/s

#35918 Update in Document Picture-In-Picture API
  files/en-us/web/api/documentpictureinpicture/index.md
  files/en-us/web/api/documentpictureinpictureevent/index.md
  files/en-us/web/api/window/documentpictureinpicture/index.md
Labels: Content:WebAPI, size/s

#36260 Fix link to refer to mdn
  files/en-us/web/api/document_picture-in-picture_api/index.md
  files/en-us/web/api/documentpictureinpicture/index.md
Labels: Content:WebAPI, size/xs

#36267 Replace DT link with real target | part II
  files/en-us/mozilla/add-ons/webextensions/interact_with_the_clipboard/index.md
  files/en-us/mozilla/firefox/releases/20/index.md
  files/en-us/mozilla/firefox/releases/4/index.md
  files/en-us/mozilla/firefox/releases/55/index.md
  files/en-us/mozilla/firefox/releases/6/index.md
  files/en-us/mozilla/firefox/releases/62/index.md
  files/en-us/mozilla/firefox/releases/87/index.md
  files/en-us/web/accessibility/aria/attributes/aria-describedby/index.md
  files/en-us/web/accessibility/aria/attributes/aria-details/index.md
  files/en-us/web/accessibility/aria/attributes/aria-expanded/index.md
  files/en-us/web/accessibility/aria/attributes/aria-keyshortcuts/index.md
  files/en-us/web/accessibility/aria/attributes/aria-labelledby/index.md
  files/en-us/web/accessibility/aria/attributes/aria-multiselectable/index.md
  files/en-us/web/accessibility/aria/roles/combobox_role/index.md
  files/en-us/web/accessibility/aria/roles/form_role/index.md
  files/en-us/web/accessibility/aria/roles/link_role/index.md
  files/en-us/web/accessibility/aria/roles/menu_role/index.md
  files/en-us/web/accessibility/aria/roles/scrollbar_role/index.md
  files/en-us/web/accessibility/aria/roles/spinbutton_role/index.md
  files/en-us/web/accessibility/aria/roles/tab_role/index.md
  files/en-us/web/accessibility/aria/roles/tabpanel_role/index.md
  files/en-us/web/accessibility/aria/roles/treegrid_role/index.md
  files/en-us/web/accessibility/aria/roles/treeitem_role/index.md
  files/en-us/web/accessibility/understanding_wcag/understandable/index.md
  files/en-us/web/css/_colon_read-only/index.md
  files/en-us/web/css/_colon_scope/index.md
  files/en-us/web/css/_colon_state/index.md
  files/en-us/web/css/_colon_target/index.md
  files/en-us/web/css/_doublecolon_placeholder/index.md
  files/en-us/web/css/class_selectors/index.md
  files/en-us/web/css/css_colors/applying_color/index.md
  files/en-us/web/css/css_shadow_parts/index.md
  files/en-us/web/css/filter-function/brightness/index.md
  files/en-us/web/css/filter-function/contrast/index.md
  files/en-us/web/css/flex-direction/index.md
  files/en-us/web/css/quotes/index.md
  files/en-us/web/css/syntax/index.md
  files/en-us/web/css/user-modify/index.md
  files/en-us/web/mathml/global_attributes/dir/index.md
Labels: Content:CSS, Content:WebExt, Content:Accessibility, Content:MathML, Content:Firefox, size/m

#36034 docs(manifest): Improvements to `shortcuts` page
  files/en-us/web/manifest/shortcuts/index.md
Labels: Content:Manifest, size/m

#36240 See also: remove text, add modules
  files/en-us/web/css/bottom/index.md
  files/en-us/web/css/height/index.md
  files/en-us/web/css/inset/index.md
  files/en-us/web/css/left/index.md
  files/en-us/web/css/margin-bottom/index.md
  files/en-us/web/css/margin-left/index.md
  files/en-us/web/css/margin-right/index.md
  files/en-us/web/css/margin-top/index.md
  files/en-us/web/css/margin/index.md
  files/en-us/web/css/max-height/index.md
  files/en-us/web/css/max-width/index.md
  files/en-us/web/css/min-height/index.md
  files/en-us/web/css/min-width/index.md
  files/en-us/web/css/overscroll-behavior-block/index.md
  files/en-us/web/css/overscroll-behavior-inline/index.md
  files/en-us/web/css/overscroll-behavior-x/index.md
  files/en-us/web/css/overscroll-behavior-y/index.md
  files/en-us/web/css/overscroll-behavior/index.md
  files/en-us/web/css/padding-bottom/index.md
  files/en-us/web/css/padding-left/index.md
  files/en-us/web/css/padding-right/index.md
  files/en-us/web/css/padding-top/index.md
  files/en-us/web/css/padding/index.md
  files/en-us/web/css/right/index.md
  files/en-us/web/css/top/index.md
  files/en-us/web/css/width/index.md
Labels: Content:CSS, size/m

#36237 Add {{AvailableInWorkers}} for DOM-relates and Fix {{APIRef}}
  files/en-us/web/api/domexception/code/index.md
  files/en-us/web/api/domexception/domexception/index.md
  files/en-us/web/api/domexception/index.md
  files/en-us/web/api/domexception/message/index.md
  files/en-us/web/api/domexception/name/index.md
  files/en-us/web/api/dommatrix/dommatrix/index.md
  files/en-us/web/api/dommatrix/index.md
  files/en-us/web/api/dommatrixreadonly/dommatrixreadonly/index.md
  files/en-us/web/api/dommatrixreadonly/flipx/index.md
  files/en-us/web/api/dommatrixreadonly/index.md
  files/en-us/web/api/dommatrixreadonly/scale/index.md
  files/en-us/web/api/dommatrixreadonly/translate/index.md
  files/en-us/web/api/dompoint/dompoint/index.md
  files/en-us/web/api/dompoint/frompoint_static/index.md
  files/en-us/web/api/dompoint/index.md
  files/en-us/web/api/dompoint/w/index.md
  files/en-us/web/api/dompoint/x/index.md
  files/en-us/web/api/dompoint/y/index.md
  files/en-us/web/api/dompoint/z/index.md
  files/en-us/web/api/dompointreadonly/dompointreadonly/index.md
  files/en-us/web/api/dompointreadonly/frompoint_static/index.md
  files/en-us/web/api/dompointreadonly/index.md
  files/en-us/web/api/dompointreadonly/tojson/index.md
  files/en-us/web/api/dompointreadonly/w/index.md
  files/en-us/web/api/dompointreadonly/x/index.md
  files/en-us/web/api/dompointreadonly/y/index.md
  files/en-us/web/api/dompointreadonly/z/index.md
  files/en-us/web/api/domquad/index.md
  files/en-us/web/api/domrect/domrect/index.md
  files/en-us/web/api/domrect/fromrect_static/index.md
  files/en-us/web/api/domrect/index.md
  files/en-us/web/api/domrectreadonly/bottom/index.md
  files/en-us/web/api/domrectreadonly/domrectreadonly/index.md
  files/en-us/web/api/domrectreadonly/fromrect_static/index.md
  files/en-us/web/api/domrectreadonly/height/index.md
  files/en-us/web/api/domrectreadonly/index.md
  files/en-us/web/api/domrectreadonly/left/index.md
  files/en-us/web/api/domrectreadonly/right/index.md
  files/en-us/web/api/domrectreadonly/top/index.md
  files/en-us/web/api/domrectreadonly/width/index.md
  files/en-us/web/api/domrectreadonly/x/index.md
  files/en-us/web/api/domrectreadonly/y/index.md
  files/en-us/web/api/domstringlist/contains/index.md
  files/en-us/web/api/domstringlist/index.md
  files/en-us/web/api/domstringlist/item/index.md
  files/en-us/web/api/domstringlist/length/index.md
Labels: Content:WebAPI, size/m

#36262 Add info for `DOMException` constructor `name` parameter
  files/en-us/web/api/domexception/domexception/index.md
Labels: Content:WebAPI, size/s

#36138 Add {{AvailableInWorkers}} to fetch API
  files/en-us/web/api/fetch_api/index.md
  files/en-us/web/api/request/arraybuffer/index.md
  files/en-us/web/api/request/blob/index.md
  files/en-us/web/api/request/body/index.md
  files/en-us/web/api/request/bodyused/index.md
  files/en-us/web/api/request/bytes/index.md
  files/en-us/web/api/request/cache/index.md
  files/en-us/web/api/request/clone/index.md
  files/en-us/web/api/request/credentials/index.md
  files/en-us/web/api/request/destination/index.md
  files/en-us/web/api/request/formdata/index.md
  files/en-us/web/api/request/headers/index.md
  files/en-us/web/api/request/index.md
  files/en-us/web/api/request/integrity/index.md
  files/en-us/web/api/request/json/index.md
  files/en-us/web/api/request/method/index.md
  files/en-us/web/api/request/mode/index.md
  files/en-us/web/api/request/redirect/index.md
  files/en-us/web/api/request/referrer/index.md
  files/en-us/web/api/request/referrerpolicy/index.md
  files/en-us/web/api/request/request/index.md
  files/en-us/web/api/request/signal/index.md
  files/en-us/web/api/request/text/index.md
  files/en-us/web/api/request/url/index.md
  files/en-us/web/api/response/arraybuffer/index.md
  files/en-us/web/api/response/blob/index.md
  files/en-us/web/api/response/body/index.md
  files/en-us/web/api/response/bodyused/index.md
  files/en-us/web/api/response/bytes/index.md
  files/en-us/web/api/response/clone/index.md
  files/en-us/web/api/response/error_static/index.md
  files/en-us/web/api/response/formdata/index.md
  files/en-us/web/api/response/headers/index.md
  files/en-us/web/api/response/index.md
  files/en-us/web/api/response/json/index.md
  files/en-us/web/api/response/json_static/index.md
  files/en-us/web/api/response/ok/index.md
  files/en-us/web/api/response/redirect_static/index.md
  files/en-us/web/api/response/redirected/index.md
  files/en-us/web/api/response/response/index.md
  files/en-us/web/api/response/status/index.md
  files/en-us/web/api/response/statustext/index.md
  files/en-us/web/api/response/text/index.md
  files/en-us/web/api/response/type/index.md
  files/en-us/web/api/response/url/index.md
  files/en-us/web/api/rtcencodedaudioframe/index.md
  files/en-us/web/api/rtcencodedvideoframe/index.md
Labels: Content:WebAPI, size/m

#36139 Add {{AvailableInWorkers}} for Reporting API
  files/en-us/web/api/deprecationreportbody/anticipatedremoval/index.md
  files/en-us/web/api/deprecationreportbody/columnnumber/index.md
  files/en-us/web/api/deprecationreportbody/id/index.md
  files/en-us/web/api/deprecationreportbody/index.md
  files/en-us/web/api/deprecationreportbody/linenumber/index.md
  files/en-us/web/api/deprecationreportbody/message/index.md
  files/en-us/web/api/deprecationreportbody/sourcefile/index.md
  files/en-us/web/api/deprecationreportbody/tojson/index.md
  files/en-us/web/api/interventionreportbody/columnnumber/index.md
  files/en-us/web/api/interventionreportbody/id/index.md
  files/en-us/web/api/interventionreportbody/index.md
  files/en-us/web/api/interventionreportbody/linenumber/index.md
  files/en-us/web/api/interventionreportbody/message/index.md
  files/en-us/web/api/interventionreportbody/sourcefile/index.md
  files/en-us/web/api/interventionreportbody/tojson/index.md
  files/en-us/web/api/report/body/index.md
  files/en-us/web/api/report/index.md
  files/en-us/web/api/report/type/index.md
  files/en-us/web/api/report/url/index.md
  files/en-us/web/api/reportbody/index.md
  files/en-us/web/api/reportbody/tojson/index.md
  files/en-us/web/api/reporting_api/index.md
  files/en-us/web/api/reportingobserver/disconnect/index.md
  files/en-us/web/api/reportingobserver/index.md
  files/en-us/web/api/reportingobserver/observe/index.md
  files/en-us/web/api/reportingobserver/reportingobserver/index.md
  files/en-us/web/api/reportingobserver/takerecords/index.md
Labels: Content:WebAPI, size/m

#36177 Add {{AvailableInWorkers}} for DOM API - ErrorEvent & PromiseRejectionEvent
  files/en-us/web/api/errorevent/index.md
  files/en-us/web/api/promiserejectionevent/index.md
  files/en-us/web/api/promiserejectionevent/promise/index.md
  files/en-us/web/api/promiserejectionevent/promiserejectionevent/index.md
  files/en-us/web/api/promiserejectionevent/reason/index.md
Labels: Content:WebAPI, size/s

#36179 Add {{AvailableInWorkers}} for XMLHttpRequest API - ProgressEvent
  files/en-us/web/api/progressevent/index.md
  files/en-us/web/api/progressevent/lengthcomputable/index.md
  files/en-us/web/api/progressevent/loaded/index.md
  files/en-us/web/api/progressevent/progressevent/index.md
  files/en-us/web/api/progressevent/total/index.md
Labels: Content:WebAPI, size/s

#36202 Add {{AvailableInWorkers}} for WebUSB API
  files/en-us/web/api/usb/connect_event/index.md
  files/en-us/web/api/usb/disconnect_event/index.md
  files/en-us/web/api/usb/getdevices/index.md
  files/en-us/web/api/usb/index.md
  files/en-us/web/api/usb/requestdevice/index.md
  files/en-us/web/api/usbalternateinterface/index.md
  files/en-us/web/api/usbconfiguration/configurationname/index.md
  files/en-us/web/api/usbconfiguration/configurationvalue/index.md
  files/en-us/web/api/usbconfiguration/index.md
  files/en-us/web/api/usbconfiguration/interfaces/index.md
  files/en-us/web/api/usbconfiguration/usbconfiguration/index.md
  files/en-us/web/api/usbconnectionevent/device/index.md
  files/en-us/web/api/usbconnectionevent/index.md
  files/en-us/web/api/usbconnectionevent/usbconnectionevent/index.md
  files/en-us/web/api/usbdevice/claiminterface/index.md
  files/en-us/web/api/usbdevice/clearhalt/index.md
  files/en-us/web/api/usbdevice/close/index.md
  files/en-us/web/api/usbdevice/configuration/index.md
  files/en-us/web/api/usbdevice/configurations/index.md
  files/en-us/web/api/usbdevice/controltransferin/index.md
  files/en-us/web/api/usbdevice/controltransferout/index.md
  files/en-us/web/api/usbdevice/deviceclass/index.md
  files/en-us/web/api/usbdevice/deviceprotocol/index.md
  files/en-us/web/api/usbdevice/devicesubclass/index.md
  files/en-us/web/api/usbdevice/deviceversionmajor/index.md
  files/en-us/web/api/usbdevice/deviceversionminor/index.md
  files/en-us/web/api/usbdevice/deviceversionsubminor/index.md
  files/en-us/web/api/usbdevice/forget/index.md
  files/en-us/web/api/usbdevice/index.md
  files/en-us/web/api/usbdevice/isochronoustransferin/index.md
  files/en-us/web/api/usbdevice/isochronoustransferout/index.md
  files/en-us/web/api/usbdevice/manufacturername/index.md
  files/en-us/web/api/usbdevice/open/index.md
  files/en-us/web/api/usbdevice/opened/index.md
  files/en-us/web/api/usbdevice/productid/index.md
  files/en-us/web/api/usbdevice/productname/index.md
  files/en-us/web/api/usbdevice/releaseinterface/index.md
  files/en-us/web/api/usbdevice/reset/index.md
  files/en-us/web/api/usbdevice/selectalternateinterface/index.md
  files/en-us/web/api/usbdevice/selectconfiguration/index.md
  files/en-us/web/api/usbdevice/serialnumber/index.md
  files/en-us/web/api/usbdevice/transferin/index.md
  files/en-us/web/api/usbdevice/transferout/index.md
  files/en-us/web/api/usbdevice/usbversionmajor/index.md
  files/en-us/web/api/usbdevice/usbversionminor/index.md
  files/en-us/web/api/usbdevice/usbversionsubminor/index.md
  files/en-us/web/api/usbdevice/vendorid/index.md
  files/en-us/web/api/usbendpoint/index.md
  files/en-us/web/api/usbinterface/index.md
  files/en-us/web/api/usbintransferresult/index.md
  files/en-us/web/api/usbisochronousintransferpacket/index.md
  files/en-us/web/api/usbisochronousintransferresult/index.md
  files/en-us/web/api/usbisochronousouttransferpacket/index.md
  files/en-us/web/api/usbisochronousouttransferresult/index.md
  files/en-us/web/api/usbouttransferresult/index.md
  files/en-us/web/api/webusb_api/index.md
  files/en-us/web/api/workernavigator/usb/index.md
Labels: Content:WebAPI, size/m

#36207 Add {{AvailableInWorkers}} for `ImageBitmap` and content update
  files/en-us/web/api/imagebitmap/close/index.md
  files/en-us/web/api/imagebitmap/height/index.md
  files/en-us/web/api/imagebitmap/index.md
  files/en-us/web/api/imagebitmap/width/index.md
  files/en-us/web/api/imagebitmaprenderingcontext/canvas/index.md
Labels: Content:WebAPI, size/s

#36225 Add {{AvailableInWorkers}} for Idle Detection API
  files/en-us/web/api/idle_detection_api/index.md
  files/en-us/web/api/idledetector/change_event/index.md
  files/en-us/web/api/idledetector/idledetector/index.md
  files/en-us/web/api/idledetector/index.md
  files/en-us/web/api/idledetector/screenstate/index.md
  files/en-us/web/api/idledetector/start/index.md
  files/en-us/web/api/idledetector/userstate/index.md
Labels: Content:WebAPI, size/s

#36229 Add {{AvailableInWorkers}} for CSS Font Loading API
  files/en-us/web/api/css_font_loading_api/index.md
  files/en-us/web/api/fontface/ascentoverride/index.md
  files/en-us/web/api/fontface/descentoverride/index.md
  files/en-us/web/api/fontface/display/index.md
  files/en-us/web/api/fontface/family/index.md
  files/en-us/web/api/fontface/featuresettings/index.md
  files/en-us/web/api/fontface/fontface/index.md
  files/en-us/web/api/fontface/index.md
  files/en-us/web/api/fontface/linegapoverride/index.md
  files/en-us/web/api/fontface/load/index.md
  files/en-us/web/api/fontface/loaded/index.md
  files/en-us/web/api/fontface/status/index.md
  files/en-us/web/api/fontface/stretch/index.md
  files/en-us/web/api/fontface/style/index.md
  files/en-us/web/api/fontface/unicoderange/index.md
  files/en-us/web/api/fontface/variant/index.md
  files/en-us/web/api/fontface/variationsettings/index.md
  files/en-us/web/api/fontface/weight/index.md
  files/en-us/web/api/fontfaceset/add/index.md
  files/en-us/web/api/fontfaceset/check/index.md
  files/en-us/web/api/fontfaceset/clear/index.md
  files/en-us/web/api/fontfaceset/delete/index.md
  files/en-us/web/api/fontfaceset/entries/index.md
  files/en-us/web/api/fontfaceset/foreach/index.md
  files/en-us/web/api/fontfaceset/has/index.md
  files/en-us/web/api/fontfaceset/index.md
  files/en-us/web/api/fontfaceset/keys/index.md
  files/en-us/web/api/fontfaceset/load/index.md
  files/en-us/web/api/fontfaceset/loading_event/index.md
  files/en-us/web/api/fontfaceset/loadingdone_event/index.md
  files/en-us/web/api/fontfaceset/loadingerror_event/index.md
  files/en-us/web/api/fontfaceset/ready/index.md
  files/en-us/web/api/fontfaceset/size/index.md
  files/en-us/web/api/fontfaceset/status/index.md
  files/en-us/web/api/fontfaceset/values/index.md
  files/en-us/web/api/fontfacesetloadevent/fontfaces/index.md
  files/en-us/web/api/fontfacesetloadevent/fontfacesetloadevent/index.md
  files/en-us/web/api/fontfacesetloadevent/index.md
Labels: Content:WebAPI, size/m

#36235 Add {{AvailableInWorkers}} for `CSSSkewX` and `CSSSkewY`
  files/en-us/web/api/cssskewx/ax/index.md
  files/en-us/web/api/cssskewx/cssskewx/index.md
  files/en-us/web/api/cssskewx/index.md
  files/en-us/web/api/cssskewy/ay/index.md
  files/en-us/web/api/cssskewy/cssskewy/index.md
  files/en-us/web/api/cssskewy/index.md
Labels: Content:WebAPI, size/s

#36234 Add {{AvailableInWorkers}} for `EventSource` & Fix {{APIRef}} parameter
  files/en-us/web/api/eventsource/close/index.md
  files/en-us/web/api/eventsource/error_event/index.md
  files/en-us/web/api/eventsource/eventsource/index.md
  files/en-us/web/api/eventsource/index.md
  files/en-us/web/api/eventsource/message_event/index.md
  files/en-us/web/api/eventsource/open_event/index.md
  files/en-us/web/api/eventsource/readystate/index.md
  files/en-us/web/api/eventsource/url/index.md
  files/en-us/web/api/eventsource/withcredentials/index.md
  files/en-us/web/api/server-sent_events/index.md
Labels: Content:WebAPI, size/s

#36203 Add {{AvailableInWorkers}} to DOM `MessageEvent`
  files/en-us/web/api/messageevent/data/index.md
  files/en-us/web/api/messageevent/index.md
  files/en-us/web/api/messageevent/lasteventid/index.md
  files/en-us/web/api/messageevent/messageevent/index.md
  files/en-us/web/api/messageevent/origin/index.md
  files/en-us/web/api/messageevent/ports/index.md
  files/en-us/web/api/messageevent/source/index.md
Labels: Content:WebAPI, size/s

#36182 Update spec_urls of Performance API & add missing {{InheritanceDiagram}} to interfaces in Performance API
  files/en-us/web/api/performance_api/index.md
  files/en-us/web/api/performancelonganimationframetiming/index.md
  files/en-us/web/api/performancelongtasktiming/index.md
  files/en-us/web/api/performanceresourcetiming/index.md
  files/en-us/web/api/performancescripttiming/index.md
Labels: Content:WebAPI, size/s

#36218 Improvement to customElements.whenDefined() javascript example
  files/en-us/web/api/customelementregistry/whendefined/index.md
Labels: Content:WebAPI, size/s

#36209 role property
  files/en-us/web/api/elementinternals/role/index.md
Labels: Content:WebAPI, size/xs

#36256 Clarify note about keyboard-activated click events
  files/en-us/web/api/element/click_event/index.md
Labels: Content:WebAPI, size/xs

#36248 Fix typos and pseudo-typos 7
  files/en-us/web/css/custom-ident/index.md
  files/en-us/web/css/display-box/index.md
  files/en-us/web/css/field-sizing/index.md
  files/en-us/web/css/fill-opacity/index.md
  files/en-us/web/css/flex_value/index.md
  files/en-us/web/css/font-feature-settings/index.md
  files/en-us/web/css/font-kerning/index.md
  files/en-us/web/css/font-size-adjust/index.md
  files/en-us/web/css/font-variant-emoji/index.md
  files/en-us/web/css/font-variation-settings/index.md
  files/en-us/web/css/grid-column-end/index.md
  files/en-us/web/css/grid-column-start/index.md
  files/en-us/web/css/grid-column/index.md
  files/en-us/web/css/grid-row-end/index.md
  files/en-us/web/css/grid-row-start/index.md
  files/en-us/web/css/grid-row/index.md
  files/en-us/web/css/grid-template-columns/index.md
  files/en-us/web/css/grid-template-rows/index.md
  files/en-us/web/css/grid-template/index.md
  files/en-us/web/css/grid/index.md
  files/en-us/web/css/hyphenate-limit-chars/index.md
  files/en-us/web/css/ident/index.md
  files/en-us/web/css/image-resolution/index.md
  files/en-us/web/css/image/image/index.md
  files/en-us/web/css/image/index.md
  files/en-us/web/css/layout_cookbook/contribute_a_recipe/index.md
  files/en-us/web/css/line-break/index.md
  files/en-us/web/css/list-style-image/index.md
  files/en-us/web/css/list-style-image/star-solid.gif
  files/en-us/web/css/list-style-position/index.md
  files/en-us/web/css/list-style-position/star-solid.gif
  files/en-us/web/css/log/index.md
  files/en-us/web/css/margin-right/index.md
  files/en-us/web/css/margin-top/index.md
  files/en-us/web/css/mask-repeat/index.md
  files/en-us/web/css/mask-type/index.md
  files/en-us/web/css/mask/index.md
  files/en-us/web/css/offset-path/index.md
  files/en-us/web/css/padding-bottom/index.md
  files/en-us/web/css/padding-left/index.md
  files/en-us/web/css/padding-right/index.md
  files/en-us/web/css/padding-top/index.md
  files/en-us/web/css/place-items/index.md
  files/en-us/web/css/pointer-events/index.md
  files/en-us/web/css/r/index.md
  files/en-us/web/css/resize/index.md
  files/en-us/web/css/text-underline-offset/index.md
  files/en-us/web/css/text-wrap-mode/index.md
  files/en-us/web/css/transition-timing-function/index.md
  files/en-us/web/css/url_function/index.md
  files/en-us/web/css/using_css_custom_properties/index.md
  files/en-us/web/css/width/index.md
Labels: Content:CSS, size/m

#36274 Synchronize with BCD v5.6.5
  files/en-us/web/api/installevent/index.md
  files/en-us/web/api/installevent/installevent/index.md
  files/en-us/web/api/webglrenderingcontext/index.md
  files/en-us/web/api/webglrenderingcontext/unpackcolorspace/index.md
  files/en-us/web/javascript/reference/global_objects/json/index.md
  files/en-us/web/javascript/reference/global_objects/json/israwjson/index.md
  files/en-us/web/javascript/reference/global_objects/json/rawjson/index.md
Labels: Content:WebAPI, Content:JS, size/s

#36258 Minor: scroll module: add a related concept
  files/en-us/web/css/css_scroll_snap/index.md
Labels: Content:CSS, size/xs

#36191 `Notification.silent`: Add Firefox 132 rel note, and improve documentation
  files/en-us/mozilla/firefox/releases/132/index.md
  files/en-us/web/api/notification/index.md
  files/en-us/web/api/notification/notification/index.md
  files/en-us/web/api/notification/silent/index.md
Labels: Content:WebAPI, Content:Firefox, size/s

#36189 Add Fx132 support note for MediaStreamTrack.getCapabilities(), and im…
  files/en-us/mozilla/firefox/releases/132/index.md
  files/en-us/web/api/media_capture_and_streams_api/constraints/index.md
  files/en-us/web/api/mediastreamtrack/getcapabilities/index.md
  files/en-us/web/api/mediastreamtrack/index.md
Labels: Content:WebAPI, Content:Firefox, size/m

#36236 Add rel notes for Fx132 fetch() keepalive support, and tweak docs
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/132/index.md
  files/en-us/web/api/request/index.md
  files/en-us/web/api/request/keepalive/index.md
  files/en-us/web/api/requestinit/index.md
Labels: Content:WebAPI, Content:Firefox, size/m

#36192 Add Firefox support information for the Cookie Store API
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/132/index.md
Labels: Content:Firefox, size/m

#36285 Fix typo
  files/en-us/web/javascript/reference/global_objects/json/rawjson/index.md
Labels: Content:JS, size/xs

#36286 Update microtasks guide
  files/en-us/web/api/html_dom_api/microtask_guide/index.md
Labels: Content:WebAPI, size/xs

#36272 New pages: HTML<form>FormAction
  files/en-us/web/api/htmlbuttonelement/formaction/index.md
  files/en-us/web/api/htmlinputelement/formaction/index.md
Labels: Content:WebAPI, size/m

#36283 Exclude the upper bound of range
  files/en-us/web/javascript/reference/global_objects/array/from/index.md
Labels: Content:JS, size/s

#36148 relnote(Fx132): HTTP/2 Server Push deactivated by default
  files/en-us/mozilla/firefox/releases/132/index.md
Labels: Content:Firefox, size/xs

#36271 Followup to PR 36256: clarify clarification about click events
  files/en-us/web/api/element/click_event/index.md
Labels: Content:WebAPI, size/s

#36264 FF132 Update third-party cookies article Firefox details (ETP Strict 3pc blocking)
  files/en-us/web/privacy/third-party_cookies/index.md
Labels: Content:Other, size/xs

#36279 chore: fix the broken links to `{set, clear}Timeout()`
  files/en-us/web/api/window/clearinterval/index.md
Labels: Content:WebAPI, size/xs

#36222 Add docs for `ErrorEvent()` constructor
  files/en-us/web/api/errorevent/errorevent/index.md
  files/en-us/web/api/errorevent/index.md
Labels: Content:WebAPI, size/m

#36184 FF132 Relnote: webGL drawingBufferColorSpace unpackColorSpace
  files/en-us/mozilla/firefox/releases/127/index.md
  files/en-us/mozilla/firefox/releases/132/index.md
Labels: Content:Firefox, size/xs

#36197 Unmark RFC 9530 headers as experimental
  files/en-us/web/http/headers/content-digest/index.md
  files/en-us/web/http/headers/repr-digest/index.md
  files/en-us/web/http/headers/want-content-digest/index.md
  files/en-us/web/http/headers/want-repr-digest/index.md
Labels: Content:HTTP, size/s

#36302 update links: replace DT link with real target
  files/en-us/web/api/animation/commitstyles/index.md
  files/en-us/web/api/css_object_model/css_declaration_block/index.md
  files/en-us/web/api/document/execcommand/index.md
  files/en-us/web/api/html_drag_and_drop_api/drag_operations/index.md
  files/en-us/web/api/html_drag_and_drop_api/index.md
  files/en-us/web/api/htmlelement/autocapitalize/index.md
  files/en-us/web/api/htmlelement/contenteditable/index.md
  files/en-us/web/api/htmlelement/draggable/index.md
  files/en-us/web/api/htmlelement/index.md
  files/en-us/web/api/htmlelement/inputmode/index.md
  files/en-us/web/api/htmlelement/iscontenteditable/index.md
  files/en-us/web/api/htmlelement/spellcheck/index.md
  files/en-us/web/api/htmlelement/translate/index.md
  files/en-us/web/api/htmlelement/virtualkeyboardpolicy/index.md
  files/en-us/web/api/htmlimageelement/longdesc/index.md
  files/en-us/web/api/htmlimageelement/name/index.md
  files/en-us/web/html/element/b/index.md
  files/en-us/web/html/element/bdi/index.md
  files/en-us/web/html/element/fieldset/index.md
  files/en-us/web/html/element/heading_elements/index.md
  files/en-us/web/html/element/html/index.md
  files/en-us/web/html/element/i/index.md
  files/en-us/web/html/element/input/email/index.md
  files/en-us/web/html/element/input/search/index.md
  files/en-us/web/html/element/input/text/index.md
  files/en-us/web/html/element/input/url/index.md
  files/en-us/web/html/element/label/index.md
  files/en-us/web/html/element/main/index.md
  files/en-us/web/html/element/select/index.md
  files/en-us/web/html/element/table/index.md
  files/en-us/web/html/element/template/index.md
  files/en-us/web/html/global_attributes/exportparts/index.md
  files/en-us/web/html/global_attributes/id/index.md
  files/en-us/web/html/global_attributes/itemscope/index.md
  files/en-us/web/html/global_attributes/lang/index.md
  files/en-us/web/html/global_attributes/translate/index.md
Labels: Content:HTML, Content:WebAPI, size/m

#36305 Add docs for `ErrorEvent.error`
  files/en-us/web/api/errorevent/error/index.md
  files/en-us/web/api/errorevent/index.md
Labels: Content:WebAPI, size/s

#36280 Add docs for `ErrorEvent.message`
  files/en-us/web/api/errorevent/index.md
  files/en-us/web/api/errorevent/message/index.md
Labels: Content:WebAPI, size/s

#36057 Editorial review: Add docs for scroll snap events
  files/en-us/web/api/document/index.md
  files/en-us/web/api/document/scrollsnapchange_event/index.md
  files/en-us/web/api/document/scrollsnapchanging_event/index.md
  files/en-us/web/api/element/index.md
  files/en-us/web/api/element/scrollsnapchange_event/index.md
  files/en-us/web/api/element/scrollsnapchanging_event/index.md
  files/en-us/web/api/snapevent/index.md
  files/en-us/web/api/snapevent/snapevent/index.md
  files/en-us/web/api/snapevent/snaptargetblock/index.md
  files/en-us/web/api/snapevent/snaptargetinline/index.md
  files/en-us/web/api/window/index.md
  files/en-us/web/api/window/scrollsnapchange_event/index.md
  files/en-us/web/api/window/scrollsnapchanging_event/index.md
  files/en-us/web/css/css_scroll_snap/index.md
  files/en-us/web/css/css_scroll_snap/using_scroll_snap_events/index.md
Labels: Content:CSS, Content:WebAPI, size/xl

#36296 Change less precise 'direction' to 'axis'
  files/en-us/web/css/css_scroll_snap/basic_concepts/index.md
Labels: Content:CSS, size/xs

#36210 New page: htmlformelement.autocomplete
  files/en-us/web/api/htmlformelement/autocomplete/index.md
Labels: Content:WebAPI, size/s

#36299 fix(css): make color contrast colorblind friendly
  files/en-us/web/css/_doublecolon_after/index.md
Labels: Content:CSS, size/s

#36303 Use 'we' instead of 'I' for consistency
  files/en-us/web/svg/tutorial/gradients/index.md
Labels: Content:SVG, size/xs

#36273 New pages: HTML<form>FormMethod
  files/en-us/web/api/htmlbuttonelement/formmethod/index.md
  files/en-us/web/api/htmlinputelement/formmethod/index.md
Labels: Content:WebAPI, size/m

#36315 Fix the upper bound of an example of range and improve wording
  files/en-us/web/javascript/reference/global_objects/array/from/index.md
Labels: Content:JS, size/s

#36321 Editorial review: Add WebGPU canvas config options
  files/en-us/web/api/gpucanvascontext/configure/index.md
  files/en-us/web/api/gpucanvascontext/getconfiguration/index.md
  files/en-us/web/api/gpucanvascontext/index.md
Labels: Content:WebAPI, size/m

#36317 Complete the order of thead, tbody and tfoot in the table/advanced
  files/en-us/learn/html/tables/advanced/index.md
Labels: Content:Learn:HTML, size/s

#36310 Synchronize with BCD v5.6.6
  files/en-us/web/css/position-area/index.md
  files/en-us/web/css/position-area_value/index.md
Labels: Content:CSS, size/s

#36313 SVG icon issue fix
  files/en-us/web/html/element/button/index.md
Labels: Content:HTML, size/s

#36298 HTTP Header template - add case if no browser compat applies
  files/en-us/mdn/writing_guidelines/page_structures/page_types/http_header_page_template/index.md
Labels: Content:Meta, size/s

#36314 Change use of "standard scripts" to "classic scripts"
  files/en-us/web/javascript/guide/modules/index.md
Labels: Content:JS, size/xs

#36328 Content-Security-Policy `report-to` update csp level
  files/en-us/web/http/headers/content-security-policy/report-to/index.md
Labels: Content:HTTP, size/xs

#36142 FF132 fetchpriority docs updates
  files/en-us/web/api/htmlimageelement/fetchpriority/index.md
  files/en-us/web/api/htmllinkelement/fetchpriority/index.md
  files/en-us/web/api/htmlscriptelement/fetchpriority/index.md
  files/en-us/web/api/request/request/index.md
  files/en-us/web/api/requestinit/index.md
  files/en-us/web/html/element/img/index.md
  files/en-us/web/html/element/link/index.md
  files/en-us/web/html/element/script/index.md
  files/en-us/web/http/headers/link/index.md
  files/en-us/web/http/status/103/index.md
Labels: Content:HTML, Content:WebAPI, Content:HTTP, size/m

#36322 Update MPEG-2 Licensing - remove the Philippines.
  files/en-us/web/media/formats/video_codecs/index.md
Labels: Content:Media, size/s

#36334 Fix the caffeine example for the <sub> element
  files/en-us/web/html/element/sub/index.md
Labels: Content:HTML, size/s

#36339 Fix typos around commas
  files/en-us/games/techniques/3d_on_the_web/building_up_a_basic_demo_with_three.js/index.md
  files/en-us/mdn/writing_guidelines/howto/write_an_api_reference/information_contained_in_a_webidl_file/index.md
  files/en-us/mozilla/add-ons/webextensions/api/events/event/haslistener/index.md
  files/en-us/web/accessibility/aria/roles/feed_role/index.md
  files/en-us/web/api/cache/delete/index.md
  files/en-us/web/api/cache/keys/index.md
  files/en-us/web/api/cachestorage/match/index.md
  files/en-us/web/api/css_painting_api/guide/index.md
  files/en-us/web/api/htmltablerowelement/align/index.md
  files/en-us/web/api/htmltextareaelement/setrangetext/index.md
  files/en-us/web/api/websockets_api/writing_websocket_servers/index.md
  files/en-us/web/css/css_flow_layout/flow_layout_and_overflow/index.md
  files/en-us/web/css/css_flow_layout/flow_layout_and_writing_modes/index.md
  files/en-us/web/css/line-style/index.md
  files/en-us/web/css/text-spacing-trim/index.md
  files/en-us/web/svg/tutorial/fills_and_strokes/index.md
  files/en-us/web/webdriver/capabilities/firefoxoptions/index.md
Labels: Content:CSS, Content:WebExt, Content:WebAPI, Content:Accessibility, Content:SVG, Content:WebDriver, Content:Games, Content:Meta, size/s

#36324 fix typos
  .vscode/ignore-list.txt
  .vscode/terms-abbreviations.txt
  files/en-us/web/api/htmlinputelement/formmethod/index.md
  files/en-us/web/api/request/keepalive/index.md
  files/en-us/web/css/css_scroll_snap/using_scroll_snap_events/index.md
  files/en-us/web/manifest/prefer_related_applications/index.md
Labels: Content:CSS, Content:WebAPI, Content:Manifest, system, size/s

#36311 Add docs for `ErrorEvent.lineno`
  files/en-us/web/api/errorevent/index.md
  files/en-us/web/api/errorevent/lineno/index.md
Labels: Content:WebAPI, size/s

#36318 docs: updated GitHub issue template
  .github/ISSUE_TEMPLATE/content-bug.yml
  .github/ISSUE_TEMPLATE/page-report.yml
Labels: system, size/xs

#36360 Fix duplication within enumeration
  files/en-us/web/api/permissions/query/index.md
Labels: Content:WebAPI, size/xs

#36335 fix: Update <tr> page samples that are missing standard markup
  files/en-us/web/html/element/tr/index.md
Labels: Content:HTML, size/m

#36362 Add Link to CSS Length page
  files/en-us/web/css/rem/index.md
Labels: Content:CSS, size/s

#36278 New pages: HTML<form>FormEnctype
  files/en-us/web/api/htmlbuttonelement/formenctype/index.md
  files/en-us/web/api/htmlinputelement/formenctype/index.md
Labels: Content:WebAPI, size/m

#35465 Fix aria-label documentation, removing statement that says it should be used only for interactive items
  files/en-us/web/accessibility/aria/attributes/aria-label/index.md
Labels: Content:Accessibility, size/s

#36252 Fix typos and pseudo-typos 11
  files/en-us/web/api/htmlbuttonelement/value/index.md
  files/en-us/web/api/htmlcanvaselement/transfercontroltooffscreen/index.md
  files/en-us/web/api/htmlcollection/nameditem/index.md
  files/en-us/web/api/htmldialogelement/returnvalue/index.md
  files/en-us/web/api/htmlelement/dir/index.md
  files/en-us/web/api/htmlelement/drag_event/index.md
  files/en-us/web/api/htmlelement/dragenter_event/index.md
  files/en-us/web/api/htmlelement/dragleave_event/index.md
  files/en-us/web/api/htmlelement/dragover_event/index.md
  files/en-us/web/api/htmlelement/drop_event/index.md
  files/en-us/web/api/htmlelement/offsetleft/index.md
  files/en-us/web/api/htmlformelement/acceptcharset/index.md
  files/en-us/web/api/htmlformelement/index.md
  files/en-us/web/api/htmlformelement/method/index.md
  files/en-us/web/api/htmlformelement/reportvalidity/index.md
  files/en-us/web/api/htmlformelement/reset/index.md
  files/en-us/web/api/htmlformelement/submit/index.md
  files/en-us/web/api/htmlframesetelement/index.md
  files/en-us/web/api/htmliframeelement/browsingtopics/index.md
  files/en-us/web/api/htmlimageelement/complete/index.md
  files/en-us/web/api/htmlinputelement/multiple/index.md
  files/en-us/web/api/htmlinputelement/selectionchange_event/index.md
  files/en-us/web/api/htmlinputelement/value/index.md
  files/en-us/web/api/htmlinputelement/webkitdirectory/index.md
  files/en-us/web/api/htmllinkelement/fetchpriority/index.md
  files/en-us/web/api/htmlmediaelement/play/index.md
  files/en-us/web/api/htmltablecellelement/abbr/index.md
  files/en-us/web/api/htmltablecellelement/scope/index.md
  files/en-us/web/api/htmltableelement/createtbody/index.md
  files/en-us/web/api/htmltableelement/createtfoot/index.md
  files/en-us/web/api/htmltableelement/createthead/index.md
  files/en-us/web/api/htmltableelement/rows/index.md
  files/en-us/web/api/htmltableelement/tbodies/index.md
  files/en-us/web/api/htmltableelement/width/index.md
  files/en-us/web/api/htmltextareaelement/index.md
  files/en-us/web/api/htmltextareaelement/selectionchange_event/index.md
  files/en-us/web/api/htmltrackelement/cuechange_event/index.md
  files/en-us/web/api/namednodemap/getnameditem/index.md
  files/en-us/web/api/navigator/activevrdisplays/index.md
  files/en-us/web/api/navigator/clipboard/index.md
  files/en-us/web/api/navigator/hardwareconcurrency/index.md
  files/en-us/web/api/navigator/index.md
  files/en-us/web/api/navigator/requestmediakeysystemaccess/index.md
  files/en-us/web/api/ndefreader/write/index.md
  files/en-us/web/api/ndefreadingevent/message/index.md
  files/en-us/web/api/ndefreadingevent/serialnumber/index.md
  files/en-us/web/api/node/childnodes/index.md
  files/en-us/web/api/node/nodename/index.md
  files/en-us/web/api/oes_standard_derivatives/index.md
  files/en-us/web/api/offscreencanvas/index.md
Labels: Content:WebAPI, size/m

#36366 Fix: AudioBufferSourceNode Syntax
  files/en-us/web/api/response/arraybuffer/index.md
Labels: Content:WebAPI, size/xs

#35999 Increase location anatomy example width to avoid overflow
  files/en-us/web/api/location/index.md
Labels: Content:WebAPI, size/xs

#36250 Fix typos and pseudo-typos 9
  files/en-us/web/api/datatransfer/getdata/index.md
  files/en-us/web/api/document/cookie/index.md
  files/en-us/web/api/document/createcdatasection/index.md
  files/en-us/web/api/document/createcomment/index.md
  files/en-us/web/api/document/createelementns/index.md
  files/en-us/web/api/document/createtextnode/index.md
  files/en-us/web/api/document/evaluate/index.md
  files/en-us/web/api/document/execcommand/index.md
  files/en-us/web/api/document/fullscreenchange_event/index.md
  files/en-us/web/api/document/getelementbyid/index.md
  files/en-us/web/api/document/getelementsbytagnamens/index.md
  files/en-us/web/api/document/mozsetimageelement/index.md
  files/en-us/web/api/document/queryselectorall/index.md
  files/en-us/web/api/document_picture-in-picture_api/using/index.md
  files/en-us/web/api/documentfragment/queryselectorall/index.md
  files/en-us/web/api/editcontext/textformatupdate_event/ime-notepad.png
  files/en-us/web/api/editcontext/textformatupdate_event/index.md
  files/en-us/web/api/editcontext_api/guide/index.md
  files/en-us/web/api/element/animationcancel_event/index.md
  files/en-us/web/api/element/animationend_event/index.md
  files/en-us/web/api/element/animationiteration_event/index.md
  files/en-us/web/api/element/animationstart_event/index.md
  files/en-us/web/api/element/ariaplaceholder/index.md
  files/en-us/web/api/element/classlist/index.md
  files/en-us/web/api/element/currentcsszoom/index.md
  files/en-us/web/api/element/fullscreenchange_event/index.md
  files/en-us/web/api/element/getelementsbyclassname/index.md
  files/en-us/web/api/element/index.md
  files/en-us/web/api/element/queryselectorall/index.md
  files/en-us/web/api/element/scrollend_event/index.md
  files/en-us/web/api/element/scrollheight/index.md
  files/en-us/web/api/eventsource/index.md
  files/en-us/web/api/ext_shader_texture_lod/index.md
  files/en-us/web/api/fenced_frame_api/communication_with_embedded_frames/index.md
  files/en-us/web/api/fenced_frame_api/index.md
  files/en-us/web/api/file/lastmodified/index.md
  files/en-us/web/api/file/lastmodifieddate/index.md
  files/en-us/web/api/file/name/index.md
  files/en-us/web/api/file/webkitrelativepath/index.md
  files/en-us/web/api/file_system_api/origin_private_file_system/index.md
  files/en-us/web/api/filesystementry/remove/index.md
  files/en-us/web/api/filesystementry/tourl/index.md
  files/en-us/web/api/filesystemfilehandle/createsyncaccesshandle/index.md
  files/en-us/web/api/filesystemfilehandle/createwritable/index.md
  files/en-us/web/api/fontface/fontface/index.md
  files/en-us/web/api/fontface/index.md
  files/en-us/web/api/formdata/append/index.md
  files/en-us/web/api/formdata/set/index.md
  files/en-us/web/api/fullscreen_api/guide/index.md
Labels: Content:WebAPI, size/m

#36067 Add a11y alt attribute explainer to html img element
  files/en-us/web/html/element/img/index.md
Labels: Content:HTML, size/s

#36026 Fix: Glossary for Cloud
  files/en-us/glossary/cloud/index.md
  files/en-us/glossary/cloud_computing/index.md
Labels: Content:Glossary, size/s

#36253 Fix typos and pseudo-typos 12
  files/en-us/web/api/payment_request_api/using_the_payment_request_api/index.md
  files/en-us/web/api/pointer_events/index.md
  files/en-us/web/api/pointer_events/multi-touch_interaction/index.md
  files/en-us/web/api/pointerevent/altitudeangle/index.md
  files/en-us/web/api/pointerevent/azimuthangle/index.md
  files/en-us/web/api/pointerevent/tiltx/index.md
  files/en-us/web/api/pointerevent/tilty/index.md
  files/en-us/web/api/presentation/receiver/index.md
  files/en-us/web/api/prioritized_task_scheduling_api/index.md
  files/en-us/web/api/readablestreamdefaultcontroller/desiredsize/index.md
  files/en-us/web/api/readablestreamdefaultcontroller/error/index.md
  files/en-us/web/api/response/text/index.md
  files/en-us/web/api/rtcdatachannel/error_event/index.md
  files/en-us/web/api/rtcdtmftonechangeevent/index.md
  files/en-us/web/api/rtcencodedaudioframe/index.md
  files/en-us/web/api/rtcencodedvideoframe/index.md
  files/en-us/web/api/rtcicecandidate/address/index.md
  files/en-us/web/api/rtcicecandidatepairstats/availableincomingbitrate/index.md
  files/en-us/web/api/rtcicecandidatepairstats/requestsreceived/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/index.md
  files/en-us/web/api/rtcoutboundrtpstreamstats/index.md
  files/en-us/web/api/rtcpeerconnection/icecandidateerror_event/index.md
  files/en-us/web/api/rtcpeerconnection/index.md
  files/en-us/web/api/rtcpeerconnection/setconfiguration/index.md
  files/en-us/web/api/rtcpeerconnection/track_event/index.md
  files/en-us/web/api/rtcpeerconnectioniceerrorevent/index.md
  files/en-us/web/api/rtcpeerconnectioniceevent/index.md
  files/en-us/web/api/rtcrtpreceiver/getstats/index.md
  files/en-us/web/api/rtcrtpscripttransformer/generatekeyframe/index.md
  files/en-us/web/api/rtcrtpscripttransformer/sendkeyframerequest/index.md
  files/en-us/web/api/rtctrackevent/index.md
  files/en-us/web/api/scheduler/posttask/index.md
  files/en-us/web/api/screen/orientation/index.md
  files/en-us/web/api/screen_wake_lock_api/index.md
  files/en-us/web/api/selection/addrange/index.md
  files/en-us/web/api/server-sent_events/using_server-sent_events/index.md
  files/en-us/web/api/serviceworkercontainer/error_event/index.md
  files/en-us/web/api/sourcebuffer/abort/index.md
  files/en-us/web/api/streams_api/using_readable_byte_streams/index.md
  files/en-us/web/api/stylesheet/href/index.md
  files/en-us/web/api/subtlecrypto/derivebits/index.md
  files/en-us/web/api/subtlecrypto/derivekey/index.md
  files/en-us/web/api/svgpointlist/appenditem/index.md
  files/en-us/web/api/svgpointlist/initialize/index.md
  files/en-us/web/api/svgpointlist/insertitembefore/index.md
  files/en-us/web/api/svgpointlist/replaceitem/index.md
  files/en-us/web/api/svgtransformlist/index.md
  files/en-us/web/api/tasksignal/prioritychange_event/index.md
  files/en-us/web/api/texttrack/mode/index.md
  files/en-us/web/api/texttrackcue/track/index.md
  files/en-us/web/api/touch_events/multi-touch_interaction/index.md
  files/en-us/web/api/transformstream/index.md
  files/en-us/web/api/window/setinterval/index.md
  files/en-us/web/api/window/settimeout/index.md
Labels: Content:WebAPI, size/m

#35998 Add a section for module specifier resolution
  files/en-us/web/javascript/reference/statements/import/index.md
Labels: Content:JS, size/s

#36187 More examples of timeslice being inexact, 1st mention of oversized ch…
  files/en-us/web/api/mediarecorder/dataavailable_event/index.md
Labels: Content:WebAPI, size/s

#36243 Fix typos and pseudo-typos 2
  files/en-us/mdn/writing_guidelines/howto/images_media/index.md
  files/en-us/mdn/writing_guidelines/howto/write_an_api_reference/index.md
  files/en-us/mdn/writing_guidelines/howto/write_an_api_reference/information_contained_in_a_webidl_file/index.md
  files/en-us/mdn/writing_guidelines/writing_style_guide/code_style_guide/css/index.md
  files/en-us/mdn/writing_guidelines/writing_style_guide/code_style_guide/html/index.md
  files/en-us/mdn/writing_guidelines/writing_style_guide/code_style_guide/javascript/index.md
  files/en-us/mdn/writing_guidelines/writing_style_guide/index.md
  files/en-us/mozilla/add-ons/webextensions/api/captiveportal/onstatechanged/index.md
  files/en-us/mozilla/add-ons/webextensions/api/devtools/inspectedwindow/eval/index.md
  files/en-us/mozilla/add-ons/webextensions/api/find/find/index.md
  files/en-us/mozilla/add-ons/webextensions/api/pageaction/onclicked/index.md
  files/en-us/mozilla/add-ons/webextensions/api/theme/update/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/streamfilter/ondata/index.md
  files/en-us/mozilla/add-ons/webextensions/extending_the_developer_tools/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/background/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/host_permissions/index.md
  files/en-us/mozilla/add-ons/webextensions/safely_inserting_external_content_into_a_page/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/extension_pages/index.md
  files/en-us/mozilla/add-ons/webextensions/work_with_contextual_identities/index.md
  files/en-us/mozilla/add-ons/webextensions/working_with_the_tabs_api/index.md
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/121/index.md
  files/en-us/mozilla/firefox/releases/125/index.md
  files/en-us/mozilla/firefox/releases/128/index.md
  files/en-us/mozilla/firefox/releases/15/index.md
  files/en-us/mozilla/firefox/releases/3.5/updating_extensions/index.md
  files/en-us/mozilla/firefox/releases/3.6/updating_themes/index.md
  files/en-us/mozilla/firefox/releases/3/updating_web_applications/index.md
  files/en-us/mozilla/firefox/releases/3/xul_improvements_in_firefox_3/index.md
  files/en-us/mozilla/firefox/releases/30/index.md
  files/en-us/mozilla/firefox/releases/33/index.md
  files/en-us/mozilla/firefox/releases/4/index.md
  files/en-us/mozilla/firefox/releases/4/the_add-on_bar/index.md
  files/en-us/mozilla/firefox/releases/40/index.md
  files/en-us/mozilla/firefox/releases/50/index.md
  files/en-us/mozilla/firefox/releases/6/index.md
  files/en-us/mozilla/firefox/releases/70/index.md
  files/en-us/mozilla/firefox/releases/74/index.md
  files/en-us/mozilla/firefox/releases/9/updating_add-ons/index.md
  files/en-us/related/imsc/using_the_imscjs_polyfill/index.md
Labels: Content:WebExt, Content:Other, Content:Firefox, Content:Meta, size/m

#36379 Fix incorrect information about textarea value attribute
  files/en-us/web/html/element/textarea/index.md
Labels: Content:HTML, size/xs

#36377 Add missing link
  files/en-us/web/api/keyboardevent/key/index.md
Labels: Content:WebAPI, size/xs

#36380 added release note for text-emphasis-position property
  files/en-us/mozilla/firefox/releases/132/index.md
Labels: Content:Firefox, size/xs

#36385 Synchronize with BCD v5.6.7
  files/en-us/web/api/webgl2renderingcontext/unpackcolorspace/index.md
Labels: Content:WebAPI, size/xs

#36367 scroll-snap-type: clarification
  files/en-us/web/css/scroll-snap-type/index.md
Labels: Content:CSS, size/m

#36363 blockquote: see also link
  files/en-us/web/html/element/blockquote/index.md
Labels: Content:HTML, size/xs

#36028 Update page type templates
  files/en-us/mdn/writing_guidelines/page_structures/banners_and_notices/index.md
  files/en-us/mdn/writing_guidelines/page_structures/macros/commonly_used_macros/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_constructor_subpage_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_event_subpage_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_landing_page_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_method_subpage_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_property_subpage_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_reference_page_template/index.md
Labels: Content:Meta, size/m

#36391 Fix Request.signal example: catch needs req.signal
  files/en-us/web/api/request/signal/index.md
Labels: Content:WebAPI, size/s

#36147 added the removal note for -moz-user-modify
  files/en-us/mozilla/firefox/releases/132/index.md
Labels: Content:Firefox, size/xs

#36393 OKLCH see also links
  files/en-us/web/css/color_value/oklch/index.md
Labels: Content:CSS, size/s

#36395 FF130Relnote - add missing AudioEncoder/Decoder interfaces
  files/en-us/mozilla/firefox/releases/130/index.md
Labels: Content:Firefox, size/xs
