Repository mdn/content, pull requests merged in 2024-05, with the labels that each got.

#33337 Mention break/continue in all loop pages
  files/en-us/web/javascript/reference/statements/do...while/index.md
  files/en-us/web/javascript/reference/statements/for-await...of/index.md
  files/en-us/web/javascript/reference/statements/for...in/index.md
  files/en-us/web/javascript/reference/statements/for...of/index.md
  files/en-us/web/javascript/reference/statements/for/index.md
  files/en-us/web/javascript/reference/statements/while/index.md
Labels: Content:JS, size/m

#33343 Update `Intl.DateTimeFormat` to reflect new behaviour of `hourCycle` option
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/datetimeformat/index.md
Labels: Content:JS, size/xs

#32869 PHP Ob_end_flush - add if statement
  files/en-us/web/api/server-sent_events/using_server-sent_events/index.md
Labels: Content:WebAPI, awaiting response, size/s

#33328 Add HTMLTable*Element members for col and row spans
  files/en-us/web/api/htmltablecellelement/colspan/index.md
  files/en-us/web/api/htmltablecellelement/index.md
  files/en-us/web/api/htmltablecellelement/rowspan/index.md
  files/en-us/web/api/htmltablecolelement/index.md
  files/en-us/web/api/htmltablecolelement/span/index.md
  files/en-us/web/api/htmltablerowelement/rowindex/index.md
  files/en-us/web/api/htmltablerowelement/sectionrowindex/index.md
Labels: Content:WebAPI, size/m

#33344 minor style fix
  files/en-us/web/http/headers/user-agent/index.md
Labels: Content:HTTP, size/xs

#33318 Clarify Access-Control-Request-Headers (#33313)
  files/en-us/glossary/preflight_request/index.md
  files/en-us/web/http/cors/index.md
  files/en-us/web/http/headers/access-control-allow-headers/index.md
  files/en-us/web/http/headers/access-control-request-headers/index.md
  files/en-us/web/http/methods/options/index.md
Labels: Content:HTTP, Content:Glossary, size/s

#33332 chore: remove the link in code blocks that will not work
  files/en-us/web/http/headers/accept-encoding/index.md
Labels: Content:HTTP, size/xs

#33345 typo: update glossary apple safari
  files/en-us/glossary/apple_safari/index.md
Labels: Content:Glossary, size/xs

#33350 Add sameSiteCookies option to SharedWorker options
  files/en-us/web/api/sharedworker/sharedworker/index.md
Labels: Content:WebAPI, size/s

#33357 Update maximum values of `Intl.NumberFormat` parameters `minimumFractionDigits` and `maximumFractionDigits`
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/numberformat/index.md
Labels: Content:JS, size/xs

#33361 GetAttribute returns null for non-existing attributes
  files/en-us/web/api/element/getattribute/index.md
Labels: Content:WebAPI, size/xs

#33363 Clarify the return value of `getAttribute`
  files/en-us/web/api/element/getattribute/index.md
Labels: Content:WebAPI, size/s

#33365 glossary: update baseline
  files/en-us/glossary/baseline/index.md
  files/en-us/glossary/baseline/typography/index.md
Labels: Content:Glossary, size/s

#33369 update `SISD` Wikipedia link
  files/en-us/glossary/sisd/index.md
Labels: Content:Glossary, size/xs

#33368 Add guidance about how to describe the value of a property
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_property_subpage_template/index.md
Labels: Content:Meta, size/s

#33364 Fix issue 33348: link to the correct definition of a site
  files/en-us/web/http/headers/sec-fetch-site/index.md
Labels: Content:HTTP, size/xs

#33354 Fixes to `Permissions.revoke()`
  files/en-us/web/api/permissions/revoke/index.md
Labels: Content:WebAPI, size/s

#33138 feat: editorial review: Update cookie docs
  files/en-us/mozilla/add-ons/webextensions/api/privacy/websites/index.md
  files/en-us/web/api/credentialscontainer/get/index.md
  files/en-us/web/api/document/cookie/index.md
  files/en-us/web/api/document/hasstorageaccess/index.md
  files/en-us/web/api/document/requeststorageaccess/index.md
  files/en-us/web/api/document/requeststorageaccessfor/index.md
  files/en-us/web/api/fedcm_api/index.md
  files/en-us/web/api/identityprovider/getuserinfo_static/index.md
  files/en-us/web/api/navigator/cookieenabled/index.md
  files/en-us/web/api/storage_access_api/index.md
  files/en-us/web/api/storage_access_api/related_website_sets/index.md
  files/en-us/web/api/storage_access_api/using/index.md
  files/en-us/web/api/topics_api/index.md
  files/en-us/web/api/xmlhttprequest/withcredentials/index.md
  files/en-us/web/http/cookies/cookie-basic-example.drawio
  files/en-us/web/http/cookies/cookie-basic-example.png
  files/en-us/web/http/cookies/index.md
  files/en-us/web/privacy/firefox_tracking_protection/index.md
  files/en-us/web/privacy/index.md
  files/en-us/web/privacy/privacy_sandbox/partitioned_cookies/index.md
  files/en-us/web/privacy/redirect_tracking_protection/index.md
  files/en-us/web/privacy/state_partitioning/index.md
  files/en-us/web/privacy/storage_access_policy/index.md
  files/en-us/web/privacy/third-party_cookies/3pc-example.drawio
  files/en-us/web/privacy/third-party_cookies/3pc-example.png
  files/en-us/web/privacy/third-party_cookies/index.md
  files/en-us/web/security/index.md
  files/en-us/web/security/types_of_attacks/index.md
Labels: Content:WebExt, Content:WebAPI, Content:Other, Content:HTTP, Content:Security, size/l

#33355 Add docs for `HTMLLinkElement.integrity` and `HTMLScriptElement.integrity`
  files/en-us/web/api/htmllinkelement/index.md
  files/en-us/web/api/htmllinkelement/integrity/index.md
  files/en-us/web/api/htmlscriptelement/index.md
  files/en-us/web/api/htmlscriptelement/integrity/index.md
  files/en-us/web/html/element/link/index.md
  files/en-us/web/html/element/script/index.md
Labels: Content:HTML, Content:WebAPI, size/m

#33374 glossary: update Boolean links
  files/en-us/glossary/boolean/aria/index.md
  files/en-us/glossary/boolean/html/index.md
Labels: Content:Glossary, size/xs

#33198 FF115 RTCRtpReceiver.jitterBufferTarget supported
  files/en-us/mozilla/firefox/releases/115/index.md
  files/en-us/web/api/rtcrtpreceiver/index.md
  files/en-us/web/api/rtcrtpreceiver/jitterbuffertarget/index.md
Labels: Content:WebAPI, Content:Firefox, size/s

#33375 Fix typo in tree role page
  files/en-us/web/accessibility/aria/roles/tree_role/index.md
Labels: Content:Accessibility, size/xs

#33042 feat: label depbot PRs as automated
  .github/dependabot.yml
Labels: system, size/s

#33167 Vue upgrade
  .vscode/project-words.txt
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/vue_first_component/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/vue_getting_started/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/vue_getting_started/vue-default-app.png
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/vue_methods_events_models/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/vue_rendering_lists/index.md
Labels: Content:Learn:Client-side, system, size/m

#33273 Clarify tutorial
  files/en-us/learn/server-side/express_nodejs/routes/index.md
Labels: Content:Learn:Express, size/xs

#32143 WebOTP API | update details
  files/en-us/web/api/credentialscontainer/get/index.md
  files/en-us/web/api/otpcredential/code/index.md
  files/en-us/web/api/otpcredential/index.md
  files/en-us/web/api/webotp_api/index.md
Labels: Content:WebAPI, size/s

#33373 glossary: fix blink typo
  files/en-us/glossary/blink/index.md
Labels: Content:Glossary, size/xs

#33366 glossary: update entry arpa
  files/en-us/glossary/arpa/index.md
Labels: Content:Glossary, size/xs

#33382 fix quotes
  files/en-us/glossary/arpa/index.md
Labels: Content:Glossary, size/xs

#33381 Intl.DateTimeFormat.formatToParts: fix 'timeZoneName' type
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/formattoparts/index.md
Labels: Content:JS, size/xs

#33378 Add HTMLTableCellElement.scope
  files/en-us/web/api/htmltablecellelement/index.md
  files/en-us/web/api/htmltablecellelement/scope/index.md
Labels: Content:WebAPI, size/m

#33377 Add HTMLTableCellElement.headers
  files/en-us/web/api/htmltablecellelement/cellindex/index.md
  files/en-us/web/api/htmltablecellelement/headers/index.md
Labels: Content:WebAPI, size/m

#33298 Heading hierarchy
  files/en-us/learn/server-side/express_nodejs/displaying_data/author_detail_page/index.md
  files/en-us/learn/server-side/express_nodejs/displaying_data/book_detail_page/index.md
  files/en-us/learn/server-side/express_nodejs/displaying_data/genre_detail_page/index.md
Labels: Content:Learn:Express, size/s

#33380 Add missing member list to File System API
  files/en-us/web/api/datatransferitem/getasfilesystemhandle/index.md
  files/en-us/web/api/file_system_api/index.md
  files/en-us/web/api/file_system_api/origin_private_file_system/index.md
  files/en-us/web/api/storagemanager/getdirectory/index.md
Labels: Content:WebAPI, size/s

#33387 Аdd missing word
  files/en-us/web/api/characterdata/previouselementsibling/index.md
Labels: Content:WebAPI, size/xs

#33195 Django auth - cross link to logout template once logout button enabled
  files/en-us/learn/server-side/django/authentication/index.md
Labels: Content:Learn:Django, size/xs

#32768 Fix long titles in breadcrumbs
  files/en-us/glossary/index.md
  files/en-us/web/html/attributes/index.md
  files/en-us/web/svg/attribute/index.md
  files/en-us/web/svg/element/index.md
  files/en-us/web/svg/index.md
Labels: Content:HTML, Content:SVG, Content:Glossary, size/s

#33393 glossary: remove self ref
  files/en-us/glossary/cipher/index.md
Labels: Content:Glossary, size/xs

#33390 fix: Links and images stuck to next word in prose.
  files/en-us/games/techniques/3d_on_the_web/building_up_a_basic_demo_with_playcanvas/editor/index.md
  files/en-us/learn/getting_started_with_the_web/css_basics/index.md
  files/en-us/learn/html/introduction_to_html/debugging_html/index.md
  files/en-us/learn/html/introduction_to_html/getting_started/index.md
  files/en-us/learn/html/introduction_to_html/the_head_metadata_in_html/index.md
  files/en-us/learn/html/multimedia_and_embedding/responsive_images/index.md
  files/en-us/mozilla/add-ons/contact_us/index.md
  files/en-us/mozilla/add-ons/webextensions/api/contextualidentities/index.md
  files/en-us/mozilla/firefox/releases/44/index.md
  files/en-us/mozilla/firefox/releases/46/index.md
  files/en-us/mozilla/firefox/releases/50/index.md
  files/en-us/mozilla/firefox/releases/51/index.md
  files/en-us/web/api/htmlmeterelement/index.md
  files/en-us/web/api/web_storage_api/using_the_web_storage_api/index.md
  files/en-us/web/css/ruby-position/index.md
  files/en-us/web/html/element/input/search/index.md
  files/en-us/web/http/overview/index.md
Labels: Content:CSS, Content:HTML, Content:WebExt, Content:WebAPI, Content:Learn, Content:Other, Content:HTTP, Content:Games, Content:Firefox, Content:Learn:HTML, size/m

#33392 Add missing parameter
  files/en-us/web/api/writablestreamdefaultcontroller/signal/index.md
Labels: Content:WebAPI, size/xs

#33405 Synchronize with BCD v5.5.25
  files/en-us/web/html/element/link/index.md
Labels: Content:HTML, size/xs

#33320 link to glossary: aspect ratio (API pages)
  files/en-us/web/api/canvas_api/tutorial/using_images/index.md
  files/en-us/web/api/htmlimageelement/loading/index.md
  files/en-us/web/api/htmlvideoelement/videoheight/index.md
  files/en-us/web/api/inputdeviceinfo/getcapabilities/index.md
  files/en-us/web/api/media_capabilities_api/using_the_media_capabilities_api/index.md
  files/en-us/web/api/media_capture_and_streams_api/constraints/index.md
  files/en-us/web/api/media_capture_and_streams_api/taking_still_photos/index.md
  files/en-us/web/api/mediastreamtrack/applyconstraints/index.md
  files/en-us/web/api/mediastreamtrack/getcapabilities/index.md
  files/en-us/web/api/mediatrackconstraints/aspectratio/index.md
  files/en-us/web/api/mediatrackconstraints/index.md
  files/en-us/web/api/mediatracksettings/aspectratio/index.md
  files/en-us/web/api/mediatracksettings/index.md
  files/en-us/web/api/videoencoder/videoencoder/index.md
  files/en-us/web/api/videoframe/index.md
  files/en-us/web/api/webgl_api/basic_2d_animation_example/index.md
  files/en-us/web/api/webgl_api/index.md
  files/en-us/web/api/webxr_device_api/perspective/index.md
  files/en-us/web/api/xrcylinderlayer/aspectratio/index.md
  files/en-us/web/api/xrsession/updaterenderstate/index.md
Labels: Content:WebAPI, size/s

#33404 glossary: lint link
  files/en-us/glossary/code_splitting/index.md
Labels: Content:Glossary, size/xs

#33410 feat: improvements on glossary - Color wheel
  files/en-us/glossary/color_wheel/color_wheel_macos.png
  files/en-us/glossary/color_wheel/index.md
Labels: Content:Glossary, size/s

#33425 change a note to a warning
  files/en-us/web/api/element/innerhtml/index.md
Labels: Content:WebAPI, size/xs

#33418 css nesting: fix spelling
  files/en-us/web/css/css_nesting/using_css_nesting/index.md
Labels: Content:CSS, size/xs

#33113 IDBFactory.databases() - update to spec
  files/en-us/web/api/idbfactory/databases/index.md
  files/en-us/web/api/idbfactory/index.md
Labels: Content:WebAPI, size/m

#33423 feat: some improvements on glossary Base64
  files/en-us/glossary/base64/index.md
Labels: Content:Glossary, size/s

#33435 fix(css-syntax): change language to plain
  files/en-us/web/css/_colon_lang/index.md
  files/en-us/web/css/transform-function/translate/index.md
  files/en-us/web/css/transform-function/translatex/index.md
  files/en-us/web/css/transform-function/translatey/index.md
  files/en-us/web/css/url/index.md
Labels: Content:CSS, size/s

#33430 FF126 Relnote: IDBTransaction.durability supported
  files/en-us/mozilla/firefox/releases/126/index.md
Labels: Content:Firefox, size/xs

#33445 Fix typo in void operator page
  files/en-us/web/javascript/reference/operators/void/index.md
Labels: Content:JS, size/xs

#33339 Fix globals, part 6: performance
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/performance/index.md
  files/en-us/web/api/performance_api/index.md
  files/en-us/web/api/performance_api/performance_data/index.md
  files/en-us/web/api/performance_property/index.md
  files/en-us/web/api/window/index.md
  files/en-us/web/api/window/performance/index.md
  files/en-us/web/api/workerglobalscope/index.md
  files/en-us/web/api/workerglobalscope/performance/index.md
  files/en-us/web/javascript/reference/global_objects/date/gettime/index.md
  files/en-us/web/javascript/reference/global_objects/date/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, Content:JS, size/m

#33449 Fix grammar errors
  files/en-us/games/publishing_games/game_monetization/index.md
  files/en-us/web/api/audioparam/linearramptovalueattime/index.md
  files/en-us/web/api/audioparam/settargetattime/index.md
  files/en-us/web/api/audioparam/setvalueattime/index.md
  files/en-us/web/api/audioparam/setvaluecurveattime/index.md
  files/en-us/web/javascript/guide/using_classes/index.md
Labels: Content:WebAPI, Content:JS, Content:Games, size/s

#33442 fix(glossary): Correct link to color-mix function page
  files/en-us/glossary/interpolation/index.md
Labels: Content:Glossary, size/xs

#33454 fix: patch link name
  files/en-us/glossary/camel_case/index.md
Labels: Content:Glossary, size/xs

#33411 feat: improvements on glossary compile
  files/en-us/glossary/compile/index.md
Labels: Content:Glossary, size/s

#33458 fix typos
  files/en-us/web/http/cookies/index.md
  files/en-us/web/privacy/index.md
Labels: Content:Other, Content:HTTP, size/xs

#33408 feat: styling and self-ref links removal
  files/en-us/glossary/call_stack/index.md
Labels: Content:Glossary, size/s

#33452 Clarify two value syntax for aspect ratio
  files/en-us/web/css/aspect-ratio/index.md
Labels: Content:CSS, size/xs

#33443 Define how long widely available features are supported for
  files/en-us/glossary/baseline/compatibility/index.md
Labels: Content:Glossary, size/s

#33386 glossary: update attribute
  files/en-us/glossary/attribute/index.md
Labels: Content:Glossary, size/s

#33463 fix(macro): update GroupData.json to fix sidebar macro flaws
  files/en-us/web/api/htmlmetaelement/index.md
  files/en-us/web/api/htmlscriptelement/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, size/s

#33428 FF126Relnote: Element.currentCSSZoom supported
  files/en-us/mozilla/firefox/releases/126/index.md
Labels: Content:Firefox, size/xs

#33431 FF125 Relnote: shadowrootclonable attribute and shadowRootClonable pr…
  files/en-us/mozilla/firefox/releases/125/index.md
Labels: Content:Firefox, size/xs

#33457 CSS zoom is standard
  files/en-us/web/css/zoom/index.md
Labels: Content:CSS, size/s

#33470 Fix a typo
  files/en-us/web/api/htmlscriptelement/type/index.md
Labels: Content:WebAPI, size/xs

#33465 Fix typos
  files/en-us/web/api/canvas_api/tutorial/drawing_shapes/index.md
Labels: Content:WebAPI, size/s

#33286 Add docs for `HTMLScriptElement.async` and `HTMLScriptElement.defer`
  files/en-us/web/api/htmlscriptelement/async/index.md
  files/en-us/web/api/htmlscriptelement/defer/index.md
  files/en-us/web/api/htmlscriptelement/index.md
  files/en-us/web/html/element/script/index.md
Labels: Content:HTML, Content:WebAPI, size/m

#33091 Update {{AvailableInWorkers}} macros usage for Background Fetch API
  files/en-us/web/api/background_fetch_api/index.md
  files/en-us/web/api/backgroundfetchevent/backgroundfetchevent/index.md
  files/en-us/web/api/backgroundfetchevent/index.md
  files/en-us/web/api/backgroundfetchevent/registration/index.md
  files/en-us/web/api/backgroundfetchmanager/fetch/index.md
  files/en-us/web/api/backgroundfetchmanager/get/index.md
  files/en-us/web/api/backgroundfetchmanager/getids/index.md
  files/en-us/web/api/backgroundfetchmanager/index.md
  files/en-us/web/api/backgroundfetchrecord/index.md
  files/en-us/web/api/backgroundfetchrecord/request/index.md
  files/en-us/web/api/backgroundfetchrecord/responseready/index.md
  files/en-us/web/api/backgroundfetchregistration/abort/index.md
  files/en-us/web/api/backgroundfetchregistration/downloaded/index.md
  files/en-us/web/api/backgroundfetchregistration/downloadtotal/index.md
  files/en-us/web/api/backgroundfetchregistration/failurereason/index.md
  files/en-us/web/api/backgroundfetchregistration/id/index.md
  files/en-us/web/api/backgroundfetchregistration/index.md
  files/en-us/web/api/backgroundfetchregistration/match/index.md
  files/en-us/web/api/backgroundfetchregistration/matchall/index.md
  files/en-us/web/api/backgroundfetchregistration/progress_event/index.md
  files/en-us/web/api/backgroundfetchregistration/recordsavailable/index.md
  files/en-us/web/api/backgroundfetchregistration/result/index.md
  files/en-us/web/api/backgroundfetchregistration/uploaded/index.md
  files/en-us/web/api/backgroundfetchregistration/uploadtotal/index.md
  files/en-us/web/api/backgroundfetchupdateuievent/backgroundfetchupdateuievent/index.md
  files/en-us/web/api/backgroundfetchupdateuievent/index.md
  files/en-us/web/api/backgroundfetchupdateuievent/updateui/index.md
  files/en-us/web/api/serviceworkerglobalscope/backgroundfetchabort_event/index.md
  files/en-us/web/api/serviceworkerglobalscope/backgroundfetchclick_event/index.md
  files/en-us/web/api/serviceworkerglobalscope/backgroundfetchfail_event/index.md
  files/en-us/web/api/serviceworkerglobalscope/backgroundfetchsuccess_event/index.md
  files/en-us/web/api/serviceworkerregistration/backgroundfetch/index.md
Labels: Content:WebAPI, size/m

#33478 Fix the Syntax for `FileSystemDirectoryHandle.keys()`
  files/en-us/web/api/filesystemdirectoryhandle/keys/index.md
Labels: Content:WebAPI, size/xs

#32907 Express - genre form add collation earlier
  files/en-us/learn/server-side/express_nodejs/forms/create_genre_form/index.md
Labels: Content:Learn:Express, size/xs

#33223 Ff126 Selection.direction and Selection.getComposedRange
  files/en-us/web/api/selection/direction/index.md
  files/en-us/web/api/selection/getcomposedranges/index.md
  files/en-us/web/api/selection/getrangeat/index.md
  files/en-us/web/api/selection/index.md
  files/en-us/web/api/selection/setbaseandextent/index.md
Labels: Content:WebAPI, size/m

#33207 URL.parse() static method docs
  files/en-us/web/api/url/index.md
  files/en-us/web/api/url/parse_static/index.md
  files/en-us/web/api/url/url/index.md
  files/en-us/web/api/url_api/resolving_relative_references/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, size/m

#33483 Synchronize with BCD v5.5.26
  files/en-us/web/api/installevent/index.md
  files/en-us/web/api/offscreencanvasrenderingcontext2d/commit/index.md
  files/en-us/web/api/offscreencanvasrenderingcontext2d/index.md
  files/en-us/web/api/selection/getcomposedranges/index.md
  files/en-us/web/api/selection/index.md
  files/en-us/web/api/url/index.md
  files/en-us/web/api/url/parse_static/index.md
Labels: Content:WebAPI, size/s

#33479 Add docs for `HTMLMediaElement.preload`
  files/en-us/web/api/htmlmediaelement/preload/index.md
  files/en-us/web/html/element/audio/index.md
  files/en-us/web/html/element/video/index.md
Labels: Content:HTML, Content:WebAPI, size/m

#33476 Add browser compatibility section for some Mozilla specific pseudo-class and pseudo-element that has its BCD item
  files/en-us/web/css/_colon_-moz-drag-over/index.md
  files/en-us/web/css/_colon_-moz-first-node/index.md
  files/en-us/web/css/_colon_-moz-last-node/index.md
  files/en-us/web/css/_doublecolon_-moz-list-bullet/index.md
  files/en-us/web/css/_doublecolon_-moz-list-number/index.md
  files/en-us/web/css/_doublecolon_-moz-progress-bar/index.md
Labels: Content:CSS, size/s

#33469 Fix the `blocking` attribute of the `<link>` element example
  files/en-us/web/html/element/link/index.md
Labels: Content:HTML, size/s

#33388 Update real-world application of the description meta.
  files/en-us/web/html/element/meta/name/index.md
Labels: Content:HTML, size/xs

#33466 Release notes for Firefox 126 for WebDriver conformance changes.
  files/en-us/mozilla/firefox/releases/126/index.md
Labels: Content:Firefox, size/s

#33484 Fix a small grammar error.
  files/en-us/web/svg/element/style/index.md
Labels: Content:SVG, size/xs

#33474 Update link in `Glossary/TLS`
  files/en-us/glossary/tls/index.md
Labels: Content:Glossary, size/xs

#33303 Accept-Patch - media types fix
  files/en-us/web/http/headers/accept-patch/index.md
Labels: Content:HTTP, size/s

#33491 fix: broken links in HTTP docs
  files/en-us/web/http/basics_of_http/choosing_between_www_and_non-www_urls/index.md
  files/en-us/web/http/browser_detection_using_the_user_agent/index.md
  files/en-us/web/http/configuring_servers_for_ogg_media/index.md
  files/en-us/web/http/cors/index.md
  files/en-us/web/http/headers/accept-encoding/index.md
  files/en-us/web/http/headers/accept-post/index.md
  files/en-us/web/http/headers/content-security-policy/block-all-mixed-content/index.md
  files/en-us/web/http/headers/content-security-policy/index.md
  files/en-us/web/http/headers/index.md
  files/en-us/web/http/headers/observe-browsing-topics/index.md
  files/en-us/web/http/headers/sec-browsing-topics/index.md
  files/en-us/web/http/headers/www-authenticate/index.md
  files/en-us/web/http/headers/x-content-type-options/index.md
  files/en-us/web/http/headers/x-xss-protection/index.md
  files/en-us/web/http/status/102/index.md
  files/en-us/web/http/status/429/index.md
Labels: Content:HTTP, broken link external, size/m

#31979 Add docs for `HTMLIFrameElement.allow`
  files/en-us/web/api/htmliframeelement/allow/index.md
  files/en-us/web/api/htmliframeelement/index.md
Labels: Content:WebAPI, size/m

#31626 init documentation for `HTMLElement.attributeStyleMap`
  files/en-us/web/api/htmlelement/attributestylemap/index.md
  files/en-us/web/api/htmlelement/style/index.md
  files/en-us/web/api/svgelement/style/index.md
Labels: Content:WebAPI, size/m

#33472 feat: improvements to page viz API page, add see also to related docs
  files/en-us/web/api/document/visibilitychange_event/index.md
  files/en-us/web/api/document/visibilitystate/index.md
  files/en-us/web/api/page_visibility_api/index.md
  files/en-us/web/api/performanceeventtiming/index.md
Labels: Content:WebAPI, size/m

#33497 Fix a link issue in a note
  files/en-us/learn/css/building_blocks/backgrounds_and_borders/index.md
Labels: Content:Learn:CSS, size/xs

#33501 Fix grammatical errors
  files/en-us/games/tutorials/2d_breakout_game_phaser/build_the_brick_field/index.md
  files/en-us/glossary/developer_tools/index.md
  files/en-us/learn/tools_and_testing/cross_browser_testing/your_own_automation_environment/index.md
  files/en-us/web/api/idbrequest/readystate/index.md
  files/en-us/web/api/idbrequest/result/index.md
  files/en-us/web/api/idbrequest/transaction/index.md
  files/en-us/web/api/indexeddb_api/checking_when_a_deadline_is_due/index.md
  files/en-us/web/api/web_audio_api/visualizations_with_web_audio_api/index.md
  files/en-us/web/css/@counter-style/range/index.md
  files/en-us/web/css/color_value/hwb/index.md
  files/en-us/web/media/formats/webrtc_codecs/index.md
Labels: Content:CSS, Content:WebAPI, Content:Media, Content:Glossary, Content:Games, Content:Learn:Cross-Browser-Testing, size/s

#33504 Fix some apiref of WebCodecs API
  files/en-us/web/api/videocolorspace/fullrange/index.md
  files/en-us/web/api/videocolorspace/matrix/index.md
  files/en-us/web/api/videocolorspace/primaries/index.md
  files/en-us/web/api/videocolorspace/tojson/index.md
  files/en-us/web/api/videocolorspace/transfer/index.md
Labels: Content:WebAPI, size/s

#33487 Move the comment HTML to a standalone HTML snippet
  files/en-us/web/api/htmlinputelement/multiple/index.md
Labels: Content:WebAPI, size/s

#33500 Remove an unnecessary period
  files/en-us/web/css/box-edge/index.md
Labels: Content:CSS, size/xs

#33498 fix typos in "Understanding Colors and Luminance"
  files/en-us/web/accessibility/understanding_colors_and_luminance/index.md
Labels: Content:Accessibility, size/xs

#33510 `Document` fix no Specifications
  files/en-us/web/api/document/afterscriptexecute_event/index.md
  files/en-us/web/api/document/beforescriptexecute_event/index.md
  files/en-us/web/api/document/caretrangefrompoint/index.md
  files/en-us/web/api/document/createexpression/index.md
  files/en-us/web/api/document/enablestylesheetsforset/index.md
Labels: Content:WebAPI, size/s

#33494 Add initial content for getHTML
  files/en-us/web/api/element/gethtml/index.md
  files/en-us/web/api/shadowroot/gethtml/index.md
Labels: Content:WebAPI, size/m

#33441 Fix link to `declarative_net_request` manifest property
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/rule/index.md
Labels: Content:WebExt, size/xs

#33524 Add missing word in aria-controls
  files/en-us/web/accessibility/aria/attributes/aria-controls/index.md
Labels: Content:Accessibility, size/xs

#33509 fix: make doctype property's description consistent with other documents
  files/en-us/web/api/document/doctype/index.md
Labels: Content:WebAPI, size/s

#33526 Document: `characterSet` property fix menu content
  files/en-us/web/api/document/characterset/index.md
Labels: Content:WebAPI, size/s

#33429 Ff126 idb transaction fixes
  files/en-us/web/api/idbdatabase/transaction/index.md
  files/en-us/web/api/idbtransaction/durability/index.md
Labels: Content:WebAPI, size/m

#33427 FF125 Element.currentCSSZoom add docs
  files/en-us/web/api/element/currentcsszoom/index.md
  files/en-us/web/api/element/index.md
Labels: Content:WebAPI, size/m

#33533 Document `alinkColor` property fix no Specifications
  files/en-us/web/api/document/alinkcolor/index.md
Labels: Content:WebAPI, size/xs

#33532 Fix typo to add a missing space
  files/en-us/web/html/element/input/email/index.md
Labels: Content:HTML, size/xs

#33542 Remove erroneous secure context banner from getHTML
  files/en-us/web/api/element/gethtml/index.md
  files/en-us/web/api/shadowroot/gethtml/index.md
Labels: Content:WebAPI, size/xs

#33535 fix: Minor semantics fix
  files/en-us/web/api/canvasrenderingcontext2d/linedashoffset/index.md
Labels: Content:WebAPI, size/xs

#33523 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: size/s

#33481 learn(JavaScript): Correct note
  files/en-us/learn/javascript/first_steps/arrays/index.md
Labels: Content:Learn:JavaScript, size/xs

#33545 Synchronize with BCD v5.5.27
  files/en-us/web/api/element/currentcsszoom/index.md
  files/en-us/web/api/element/gethtml/index.md
  files/en-us/web/api/element/index.md
  files/en-us/web/api/offscreencanvasrenderingcontext2d/index.md
  files/en-us/web/api/shadowroot/gethtml/index.md
Labels: Content:WebAPI, size/s

#33525 fix: correctly mention the range of `n` in quantifier expression
  files/en-us/web/javascript/guide/regular_expressions/quantifiers/index.md
Labels: Content:JS, size/s

#33554 Tiny syntax fix to `FileReaderSync`
  files/en-us/web/api/filereadersync/readasbinarystring/index.md
  files/en-us/web/api/filereadersync/readasdataurl/index.md
  files/en-us/web/api/filereadersync/readastext/index.md
Labels: Content:WebAPI, size/s

#33556 One-line typo fix in service workers section of PWA tutorial
  files/en-us/web/progressive_web_apps/tutorials/cycletracker/service_workers/index.md
Labels: Content:PWA, size/xs

#33558 Fix a typo: `<ratio>` isn't a date type
  files/en-us/web/css/ratio/index.md
Labels: Content:CSS, size/xs

#33551 style: Fix exception section title
  files/en-us/web/api/audiodata/audiodata/index.md
  files/en-us/web/api/bluetooth/getavailability/index.md
  files/en-us/web/api/bluetooth/getdevices/index.md
  files/en-us/web/api/characterdata/deletedata/index.md
  files/en-us/web/api/characterdata/insertdata/index.md
  files/en-us/web/api/characterdata/replacedata/index.md
  files/en-us/web/api/characterdata/substringdata/index.md
  files/en-us/web/api/compressionstream/compressionstream/index.md
  files/en-us/web/api/decompressionstream/decompressionstream/index.md
  files/en-us/web/api/filereadersync/readasarraybuffer/index.md
  files/en-us/web/api/filereadersync/readasbinarystring/index.md
  files/en-us/web/api/filereadersync/readasdataurl/index.md
  files/en-us/web/api/filereadersync/readastext/index.md
  files/en-us/web/api/mediastreamtrackgenerator/mediastreamtrackgenerator/index.md
  files/en-us/web/api/ndefreader/scan/index.md
  files/en-us/web/api/ndefreader/write/index.md
  files/en-us/web/api/ndefrecord/torecords/index.md
  files/en-us/web/api/node/removechild/index.md
  files/en-us/web/api/webglrenderingcontext/blendequation/index.md
Labels: Content:WebAPI, size/s

#33560 Fix broken link to `mxr.mozilla.org`
  files/en-us/mozilla/firefox/releases/3.5/updating_extensions/index.md
Labels: Content:Firefox, size/xs

#33552 Use {{AvailableInWorkers}} for Trusted Types API
  files/en-us/web/api/trusted_types_api/index.md
  files/en-us/web/api/trustedhtml/index.md
  files/en-us/web/api/trustedhtml/tojson/index.md
  files/en-us/web/api/trustedhtml/tostring/index.md
  files/en-us/web/api/trustedscript/index.md
  files/en-us/web/api/trustedscript/tojson/index.md
  files/en-us/web/api/trustedscript/tostring/index.md
  files/en-us/web/api/trustedscripturl/index.md
  files/en-us/web/api/trustedscripturl/tojson/index.md
  files/en-us/web/api/trustedscripturl/tostring/index.md
  files/en-us/web/api/trustedtypepolicy/createhtml/index.md
  files/en-us/web/api/trustedtypepolicy/createscript/index.md
  files/en-us/web/api/trustedtypepolicy/createscripturl/index.md
  files/en-us/web/api/trustedtypepolicy/index.md
  files/en-us/web/api/trustedtypepolicy/name/index.md
  files/en-us/web/api/trustedtypepolicyfactory/createpolicy/index.md
  files/en-us/web/api/trustedtypepolicyfactory/defaultpolicy/index.md
  files/en-us/web/api/trustedtypepolicyfactory/emptyhtml/index.md
  files/en-us/web/api/trustedtypepolicyfactory/emptyscript/index.md
  files/en-us/web/api/trustedtypepolicyfactory/getattributetype/index.md
  files/en-us/web/api/trustedtypepolicyfactory/getpropertytype/index.md
  files/en-us/web/api/trustedtypepolicyfactory/index.md
  files/en-us/web/api/trustedtypepolicyfactory/ishtml/index.md
  files/en-us/web/api/trustedtypepolicyfactory/isscript/index.md
  files/en-us/web/api/trustedtypepolicyfactory/isscripturl/index.md
Labels: Content:WebAPI, size/m

#33553 Add docs for `HTMLEmbedElement.src`
  files/en-us/web/api/htmlembedelement/src/index.md
Labels: Content:WebAPI, size/s

#33546 fix: cookies typo and broken image
  files/en-us/web/http/cookies/index.md
Labels: Content:HTTP, size/xs

#33531 Add links to new guide and glossary pages
  files/en-us/glossary/aspect_ratio/index.md
  files/en-us/learn/performance/multimedia/index.md
  files/en-us/web/css/@media/aspect-ratio/index.md
  files/en-us/web/css/@media/device-aspect-ratio/index.md
  files/en-us/web/css/aspect-ratio/index.md
  files/en-us/web/css/css_box_model/index.md
  files/en-us/web/css/css_box_sizing/index.md
  files/en-us/web/css/css_containment/container_size_and_style_queries/index.md
  files/en-us/web/css/css_containment/index.md
  files/en-us/web/css/css_images/index.md
  files/en-us/web/css/object-fit/index.md
  files/en-us/web/css/ratio/index.md
Labels: Content:CSS, Content:Learn, Content:Glossary, size/s

#33502 Fix & pretty in `FileSystemHandle` interface
  files/en-us/web/api/filesystemdirectoryhandle/index.md
  files/en-us/web/api/filesystemhandle/index.md
  files/en-us/web/api/filesystemhandle/querypermission/index.md
  files/en-us/web/api/filesystemhandle/remove/index.md
  files/en-us/web/api/filesystemhandle/requestpermission/index.md
Labels: Content:WebAPI, size/s

#33503 Fix apiref for `Clients.claim()`
  files/en-us/web/api/clients/claim/index.md
Labels: Content:WebAPI, size/xs

#33468 Add docs for `{HTMLLinkElement,HTMLScriptElement,HTMLStyleElement}.blocking`
  files/en-us/web/api/htmllinkelement/blocking/index.md
  files/en-us/web/api/htmllinkelement/index.md
  files/en-us/web/api/htmlscriptelement/blocking/index.md
  files/en-us/web/api/htmlscriptelement/index.md
  files/en-us/web/api/htmlstyleelement/blocking/index.md
  files/en-us/web/api/htmlstyleelement/index.md
  files/en-us/web/html/element/link/index.md
  files/en-us/web/html/element/script/index.md
  files/en-us/web/html/element/style/index.md
Labels: Content:HTML, Content:WebAPI, size/m

#33052 Update {{AvailableInWorkers}} macros usage for Service Worker API - part II
  files/en-us/web/api/cache/add/index.md
  files/en-us/web/api/cache/addall/index.md
  files/en-us/web/api/cache/delete/index.md
  files/en-us/web/api/cache/keys/index.md
  files/en-us/web/api/cache/match/index.md
  files/en-us/web/api/cache/matchall/index.md
  files/en-us/web/api/cache/put/index.md
  files/en-us/web/api/caches/index.md
  files/en-us/web/api/cachestorage/delete/index.md
  files/en-us/web/api/cachestorage/has/index.md
  files/en-us/web/api/cachestorage/keys/index.md
  files/en-us/web/api/cachestorage/match/index.md
  files/en-us/web/api/cachestorage/open/index.md
  files/en-us/web/api/client/frametype/index.md
  files/en-us/web/api/client/id/index.md
  files/en-us/web/api/client/index.md
  files/en-us/web/api/client/postmessage/index.md
  files/en-us/web/api/client/type/index.md
  files/en-us/web/api/client/url/index.md
  files/en-us/web/api/clients/claim/index.md
  files/en-us/web/api/clients/get/index.md
  files/en-us/web/api/clients/index.md
  files/en-us/web/api/clients/matchall/index.md
  files/en-us/web/api/clients/openwindow/index.md
  files/en-us/web/api/extendableevent/extendableevent/index.md
  files/en-us/web/api/extendableevent/index.md
  files/en-us/web/api/extendableevent/waituntil/index.md
  files/en-us/web/api/extendablemessageevent/data/index.md
  files/en-us/web/api/extendablemessageevent/extendablemessageevent/index.md
  files/en-us/web/api/extendablemessageevent/index.md
  files/en-us/web/api/extendablemessageevent/lasteventid/index.md
  files/en-us/web/api/extendablemessageevent/origin/index.md
  files/en-us/web/api/extendablemessageevent/ports/index.md
  files/en-us/web/api/extendablemessageevent/source/index.md
  files/en-us/web/api/fetchevent/clientid/index.md
  files/en-us/web/api/fetchevent/fetchevent/index.md
  files/en-us/web/api/fetchevent/handled/index.md
  files/en-us/web/api/fetchevent/index.md
  files/en-us/web/api/fetchevent/isreload/index.md
  files/en-us/web/api/fetchevent/preloadresponse/index.md
  files/en-us/web/api/fetchevent/replacesclientid/index.md
  files/en-us/web/api/fetchevent/request/index.md
  files/en-us/web/api/fetchevent/respondwith/index.md
  files/en-us/web/api/fetchevent/resultingclientid/index.md
  files/en-us/web/api/serviceworkerglobalscope/activate_event/index.md
  files/en-us/web/api/serviceworkerglobalscope/clients/index.md
  files/en-us/web/api/serviceworkerglobalscope/fetch_event/index.md
  files/en-us/web/api/serviceworkerglobalscope/index.md
  files/en-us/web/api/serviceworkerglobalscope/install_event/index.md
  files/en-us/web/api/serviceworkerglobalscope/message_event/index.md
  files/en-us/web/api/serviceworkerglobalscope/messageerror_event/index.md
  files/en-us/web/api/serviceworkerglobalscope/registration/index.md
  files/en-us/web/api/serviceworkerglobalscope/serviceworker/index.md
  files/en-us/web/api/serviceworkerglobalscope/skipwaiting/index.md
  files/en-us/web/api/windowclient/ancestororigins/index.md
  files/en-us/web/api/windowclient/focus/index.md
  files/en-us/web/api/windowclient/focused/index.md
  files/en-us/web/api/windowclient/index.md
  files/en-us/web/api/windowclient/navigate/index.md
  files/en-us/web/api/windowclient/visibilitystate/index.md
Labels: Content:WebAPI, size/m

#33579 fix a typo
  files/en-us/web/api/idbdatabase/transaction/index.md
Labels: Content:WebAPI, size/xs

#33515 Baseline glossary entry: mention accessibility and other considerations
  files/en-us/glossary/baseline/compatibility/index.md
Labels: Content:Glossary, size/s

#33490 fix(jsxref): make $3 a number for all invocations
  files/en-us/mozilla/firefox/releases/65/index.md
  files/en-us/web/api/web_authentication_api/index.md
  files/en-us/web/api/xmlhttprequest_api/index.md
  files/en-us/web/javascript/guide/meta_programming/index.md
  files/en-us/web/javascript/reference/global_objects/array/push/index.md
  files/en-us/web/javascript/reference/operators/class/index.md
  files/en-us/web/javascript/reference/statements/index.md
Labels: Content:WebAPI, Content:JS, Content:Firefox, size/s

#33548 fix a broken link flaw
  files/en-us/web/api/service_worker_api/using_service_workers/index.md
  files/en-us/web/http/headers/index.md
Labels: Content:WebAPI, Content:HTTP, size/xs

#33397 Remove outdated "Simple header" and "Simple response header" pages from Glossary
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/glossary/cors-safelisted_request_header/index.md
  files/en-us/glossary/cors-safelisted_response_header/index.md
  files/en-us/glossary/simple_header/index.md
  files/en-us/glossary/simple_response_header/index.md
  files/en-us/web/http/basics_of_http/evolution_of_http/index.md
Labels: Content:HTTP, Content:Glossary, size/m

#33512 added release note for css zoom in ff126
  files/en-us/mozilla/firefox/releases/126/index.md
Labels: Content:Firefox, size/xs

#33473 zoom CSS Property
  files/en-us/web/css/transform-function/scale/index.md
  files/en-us/web/css/zoom/index.md
Labels: Content:CSS, size/m

#33536 added exprimental note about from keyword
  files/en-us/mozilla/firefox/experimental_features/index.md
Labels: Content:Firefox, size/s

#33450 docs(relnote): Update FF126 release note for the new `shape()` function
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/126/index.md
Labels: Content:Firefox, size/s

#33585 Unify links to Mozilla Firefox source code
  files/en-us/mdn/writing_guidelines/howto/write_an_api_reference/information_contained_in_a_webidl_file/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/browser_styles/index.md
  files/en-us/mozilla/firefox/releases/3.5/updating_extensions/index.md
  files/en-us/mozilla/firefox/releases/3/updating_extensions/index.md
  files/en-us/mozilla/firefox/releases/44/index.md
  files/en-us/web/api/event/comparison_of_event_targets/index.md
  files/en-us/web/http/headers/strict-transport-security/index.md
Labels: Content:WebExt, Content:WebAPI, Content:HTTP, Content:Firefox, Content:Meta, size/m

#33582 chore: Minor patch PR following up from Fx release docs
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/126/index.md
  files/en-us/web/css/zoom/index.md
Labels: Content:CSS, Content:Firefox, size/s

#33534 background-repeat: rewrite
  files/en-us/web/css/background-repeat/index.md
Labels: Content:CSS, size/m

#33488 Add cumulative layout shift and link aspect-ratio to multimedia perf page
  files/en-us/learn/performance/multimedia/index.md
Labels: Content:Learn, size/s

#33569 `FileReader.readyState`: combine value table and list
  files/en-us/web/api/filereader/readystate/index.md
Labels: Content:WebAPI, size/s

#33528 Ff126 RelNote: Selection.getComposedRanges() and friends
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/126/index.md
Labels: Content:Firefox, size/m

#33433 Add width requirements and `clip` computation for the `overflow` property
  files/en-us/web/css/overflow/index.md
Labels: Content:CSS, size/s

#33513 feat: improvments on decryption
  files/en-us/glossary/decryption/index.md
Labels: Content:Glossary, size/s

#33599 replaces CSS Typed Object Model API link and delete {{Experimental_Inline}} macro
  files/en-us/web/api/css_object_model/index.md
  files/en-us/web/api/cssmathinvert/index.md
  files/en-us/web/api/cssmathmax/index.md
  files/en-us/web/api/cssmathmin/index.md
  files/en-us/web/api/cssmathnegate/index.md
  files/en-us/web/api/cssmathproduct/index.md
  files/en-us/web/api/cssmathsum/index.md
  files/en-us/web/api/cssmathvalue/index.md
  files/en-us/web/api/cssmatrixcomponent/index.md
  files/en-us/web/api/cssnumericarray/index.md
  files/en-us/web/api/cssperspective/index.md
  files/en-us/web/api/cssrotate/index.md
  files/en-us/web/api/cssscale/index.md
  files/en-us/web/api/cssskew/index.md
  files/en-us/web/api/cssskewx/index.md
  files/en-us/web/api/cssskewy/index.md
  files/en-us/web/api/csstransformcomponent/index.md
  files/en-us/web/api/csstransformvalue/index.md
  files/en-us/web/api/csstranslate/index.md
  files/en-us/web/api/cssunparsedvalue/index.md
  files/en-us/web/api/cssvariablereferencevalue/index.md
Labels: Content:WebAPI, size/m

#33584 fix(CookieStoreManager): params of unsubscribe method desc wrong
  files/en-us/web/api/cookiestoremanager/unsubscribe/index.md
Labels: Content:WebAPI, size/xs

#33597 fix typo @starting-style css example
  files/en-us/web/css/@starting-style/index.md
Labels: Content:CSS, size/xs

#33595 add links and logical properties to `overflow`
  files/en-us/web/css/overflow/index.md
Labels: Content:CSS, size/xs

#33568 description update for `FileReader`
  files/en-us/web/api/filereader/abort/index.md
  files/en-us/web/api/filereader/abort_event/index.md
  files/en-us/web/api/filereader/error_event/index.md
  files/en-us/web/api/filereader/filereader/index.md
  files/en-us/web/api/filereader/index.md
  files/en-us/web/api/filereader/load_event/index.md
  files/en-us/web/api/filereader/loadend_event/index.md
  files/en-us/web/api/filereader/loadstart_event/index.md
  files/en-us/web/api/filereader/progress_event/index.md
  files/en-us/web/api/filereader/readasarraybuffer/index.md
  files/en-us/web/api/filereader/readasbinarystring/index.md
  files/en-us/web/api/filereader/readasdataurl/index.md
  files/en-us/web/api/filereader/readastext/index.md
Labels: Content:WebAPI, size/s

#31634 init documentation for `HTMLElement.autocapitalize`
  files/en-us/web/api/htmlelement/autocapitalize/index.md
  files/en-us/web/api/htmlelement/index.md
  files/en-us/web/api/htmltextareaelement/index.md
Labels: Content:WebAPI, size/m

#32579 Unlink MediaTrack dictionaries' BCD keys
  files/en-us/web/api/mediatrackconstraints/aspectratio/index.md
  files/en-us/web/api/mediatrackconstraints/autogaincontrol/index.md
  files/en-us/web/api/mediatrackconstraints/channelcount/index.md
  files/en-us/web/api/mediatrackconstraints/deviceid/index.md
  files/en-us/web/api/mediatrackconstraints/displaysurface/index.md
  files/en-us/web/api/mediatrackconstraints/echocancellation/index.md
  files/en-us/web/api/mediatrackconstraints/facingmode/index.md
  files/en-us/web/api/mediatrackconstraints/framerate/index.md
  files/en-us/web/api/mediatrackconstraints/groupid/index.md
  files/en-us/web/api/mediatrackconstraints/height/index.md
  files/en-us/web/api/mediatrackconstraints/index.md
  files/en-us/web/api/mediatrackconstraints/latency/index.md
  files/en-us/web/api/mediatrackconstraints/logicalsurface/index.md
  files/en-us/web/api/mediatrackconstraints/noisesuppression/index.md
  files/en-us/web/api/mediatrackconstraints/samplerate/index.md
  files/en-us/web/api/mediatrackconstraints/samplesize/index.md
  files/en-us/web/api/mediatrackconstraints/suppresslocalaudioplayback/index.md
  files/en-us/web/api/mediatrackconstraints/volume/index.md
  files/en-us/web/api/mediatrackconstraints/width/index.md
  files/en-us/web/api/mediatracksettings/aspectratio/index.md
  files/en-us/web/api/mediatracksettings/autogaincontrol/index.md
  files/en-us/web/api/mediatracksettings/channelcount/index.md
  files/en-us/web/api/mediatracksettings/cursor/index.md
  files/en-us/web/api/mediatracksettings/deviceid/index.md
  files/en-us/web/api/mediatracksettings/displaysurface/index.md
  files/en-us/web/api/mediatracksettings/echocancellation/index.md
  files/en-us/web/api/mediatracksettings/facingmode/index.md
  files/en-us/web/api/mediatracksettings/framerate/index.md
  files/en-us/web/api/mediatracksettings/groupid/index.md
  files/en-us/web/api/mediatracksettings/height/index.md
  files/en-us/web/api/mediatracksettings/index.md
  files/en-us/web/api/mediatracksettings/latency/index.md
  files/en-us/web/api/mediatracksettings/logicalsurface/index.md
  files/en-us/web/api/mediatracksettings/noisesuppression/index.md
  files/en-us/web/api/mediatracksettings/samplerate/index.md
  files/en-us/web/api/mediatracksettings/samplesize/index.md
  files/en-us/web/api/mediatracksettings/suppresslocalaudioplayback/index.md
  files/en-us/web/api/mediatracksettings/volume/index.md
  files/en-us/web/api/mediatracksettings/width/index.md
  files/en-us/web/api/mediatracksupportedconstraints/aspectratio/index.md
  files/en-us/web/api/mediatracksupportedconstraints/autogaincontrol/index.md
  files/en-us/web/api/mediatracksupportedconstraints/channelcount/index.md
  files/en-us/web/api/mediatracksupportedconstraints/deviceid/index.md
  files/en-us/web/api/mediatracksupportedconstraints/displaysurface/index.md
  files/en-us/web/api/mediatracksupportedconstraints/echocancellation/index.md
  files/en-us/web/api/mediatracksupportedconstraints/facingmode/index.md
  files/en-us/web/api/mediatracksupportedconstraints/framerate/index.md
  files/en-us/web/api/mediatracksupportedconstraints/groupid/index.md
  files/en-us/web/api/mediatracksupportedconstraints/height/index.md
  files/en-us/web/api/mediatracksupportedconstraints/index.md
  files/en-us/web/api/mediatracksupportedconstraints/latency/index.md
  files/en-us/web/api/mediatracksupportedconstraints/logicalsurface/index.md
  files/en-us/web/api/mediatracksupportedconstraints/noisesuppression/index.md
  files/en-us/web/api/mediatracksupportedconstraints/samplerate/index.md
  files/en-us/web/api/mediatracksupportedconstraints/samplesize/index.md
  files/en-us/web/api/mediatracksupportedconstraints/suppresslocalaudioplayback/index.md
  files/en-us/web/api/mediatracksupportedconstraints/volume/index.md
  files/en-us/web/api/mediatracksupportedconstraints/width/index.md
Labels: Content:WebAPI, size/m

#30137 Fix info about WebM codec parameter string
  files/en-us/web/media/formats/codecs_parameter/index.md
Labels: Content:Media, size/l

#33485 feat(husky): run fix-redirects command in precommit
  .lintstagedrc.js
Labels: system, size/s

#32923 Document Compute Pressure API
  files/en-us/web/api/compute_pressure_api/index.md
  files/en-us/web/api/permissions_api/index.md
  files/en-us/web/api/pressureobserver/disconnect/index.md
  files/en-us/web/api/pressureobserver/index.md
  files/en-us/web/api/pressureobserver/knownsources_static/index.md
  files/en-us/web/api/pressureobserver/observe/index.md
  files/en-us/web/api/pressureobserver/pressureobserver/index.md
  files/en-us/web/api/pressureobserver/takerecords/index.md
  files/en-us/web/api/pressureobserver/unobserve/index.md
  files/en-us/web/api/pressurerecord/index.md
  files/en-us/web/api/pressurerecord/source/index.md
  files/en-us/web/api/pressurerecord/state/index.md
  files/en-us/web/api/pressurerecord/time/index.md
  files/en-us/web/api/pressurerecord/tojson/index.md
  files/en-us/web/http/headers/permissions-policy/compute-pressure/index.md
  files/en-us/web/http/headers/permissions-policy/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, Content:HTTP, size/l

#33570 Make async function error handling consistent with promise example
  files/en-us/learn/javascript/asynchronous/promises/index.md
Labels: Content:Learn:JavaScript, size/s

#33608 docs(firefox-releases): Updates release notes to make 126 current and add 128
  files/en-us/mozilla/firefox/releases/126/index.md
  files/en-us/mozilla/firefox/releases/127/index.md
  files/en-us/mozilla/firefox/releases/128/index.md
Labels: Content:Firefox, size/m
