Repository mdn/content, pull requests merged in 2024-09, with the labels that each got.

#35674 remove example fix
  files/en-us/mozilla/add-ons/webextensions/api/storage/storagearea/get/index.md
Labels: Content:WebExt, size/s

#35655 Added note to intro of FontFaceSet.check()
  files/en-us/web/api/fontfaceset/check/index.md
Labels: Content:WebAPI, size/xs

#35672 Added missing security info & exception to requestPermission
  files/en-us/web/api/filesystemhandle/requestpermission/index.md
Labels: Content:WebAPI, size/s

#35680 Fix prop name; `counter-increment` to `counter-set`
  files/en-us/web/css/css_counter_styles/using_css_counters/index.md
Labels: Content:CSS, size/xs

#35679 Update SVCB/HTTPS-RR RFC link
  files/en-us/glossary/https_rr/index.md
Labels: Content:Glossary, size/xs

#35675 importScripts URLs are relative to the worker URL, not HTML URL
  files/en-us/web/api/workerglobalscope/importscripts/index.md
Labels: Content:WebAPI, size/s

#35647 Response.bytes() live example
  files/en-us/web/api/response/bytes/index.md
Labels: Content:WebAPI, size/m

#35511 Add glossary for SSG
  files/en-us/glossary/ssg/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/introduction/index.md
Labels: Content:Glossary, Content:Learn:Client-side, size/s

#35353 feat(HTTP): Refresh 3XX response pages
  files/en-us/web/http/status/300/index.md
  files/en-us/web/http/status/301/index.md
  files/en-us/web/http/status/302/index.md
  files/en-us/web/http/status/303/index.md
  files/en-us/web/http/status/304/index.md
  files/en-us/web/http/status/307/index.md
  files/en-us/web/http/status/308/index.md
Labels: Content:HTTP, size/m

#35682 Add groupdata for URL Fragment Text Directives spec
  files/en-us/web/api/document/fragmentdirective/index.md
  files/en-us/web/api/fragmentdirective/index.md
  files/en-us/web/api/url_fragment_text_directives/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, size/m

#35677 Fix broken/redirected links
  files/en-us/web/api/attribution_reporting_api/generating_reports/index.md
  files/en-us/web/api/attribution_reporting_api/index.md
  files/en-us/web/api/attribution_reporting_api/registering_triggers/index.md
  files/en-us/web/api/fence/getnestedconfigs/index.md
  files/en-us/web/api/fence/index.md
  files/en-us/web/api/fence/reportevent/index.md
  files/en-us/web/api/fence/setreporteventdataforautomaticbeacons/index.md
  files/en-us/web/api/fenced_frame_api/communication_with_embedded_frames/index.md
  files/en-us/web/api/fenced_frame_api/index.md
  files/en-us/web/api/fencedframeconfig/index.md
  files/en-us/web/api/fencedframeconfig/setsharedstoragecontext/index.md
  files/en-us/web/api/htmlfencedframeelement/allow/index.md
  files/en-us/web/api/htmlfencedframeelement/config/index.md
  files/en-us/web/api/htmlfencedframeelement/height/index.md
  files/en-us/web/api/htmlfencedframeelement/index.md
  files/en-us/web/api/htmlfencedframeelement/width/index.md
  files/en-us/web/api/navigator/deprecatedreplaceinurn/index.md
  files/en-us/web/api/reporting_api/index.md
  files/en-us/web/api/shared_storage_api/index.md
  files/en-us/web/api/sharedstorageoperation/index.md
  files/en-us/web/api/sharedstoragerunoperation/index.md
  files/en-us/web/api/subtlecrypto/unwrapkey/index.md
  files/en-us/web/api/subtlecrypto/verify/index.md
  files/en-us/web/api/topics_api/index.md
  files/en-us/web/api/topics_api/using/index.md
  files/en-us/web/api/web_crypto_api/index.md
  files/en-us/web/api/window/fence/index.md
  files/en-us/web/api/windowsharedstorage/run/index.md
  files/en-us/web/api/workletsharedstorage/get/index.md
  files/en-us/web/api/workletsharedstorage/index.md
  files/en-us/web/css/basic-shape/index.md
  files/en-us/web/css/css_anchor_positioning/index.md
  files/en-us/web/css/css_anchor_positioning/try_options_hiding/index.md
  files/en-us/web/css/css_anchor_positioning/using/index.md
  files/en-us/web/css/stroke-miterlimit/index.md
  files/en-us/web/html/element/fencedframe/index.md
  files/en-us/web/http/headers/attribution-reporting-register-trigger/index.md
  files/en-us/web/javascript/reference/global_objects/json/index.md
  files/en-us/web/privacy/third-party_cookies/index.md
  files/en-us/web/svg/attribute/stroke-width/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:JS, Content:Other, Content:HTTP, Content:SVG, size/m

#35644 Fix dynamic state partitioning pref example and document wildcard
  files/en-us/web/privacy/state_partitioning/index.md
Labels: Content:Other, size/m

#35686 Clarify querySelectorAll() return order
  files/en-us/web/api/document/queryselectorall/index.md
  files/en-us/web/api/element/queryselectorall/index.md
Labels: Content:WebAPI, size/xs

#35690 Fix typo - Iteration protocols
  files/en-us/web/javascript/reference/iteration_protocols/index.md
Labels: Content:JS, size/xs

#35687 Fix a few IntersectionObserver issues
  files/en-us/web/api/intersection_observer_api/index.md
  files/en-us/web/api/intersectionobserver/intersectionobserver/index.md
Labels: Content:WebAPI, size/m

#35684 Clarify Math.abs return value description
  files/en-us/web/javascript/reference/global_objects/math/abs/index.md
Labels: Content:JS, size/xs

#35694 fix typo
  files/en-us/learn/server-side/express_nodejs/routes/index.md
Labels: Content:Learn:Express, size/xs

#35706 fix: a bit difference with description for BOM character in ecma262
  files/en-us/web/javascript/reference/lexical_grammar/index.md
Labels: Content:JS, size/xs

#35707 Write doctype in lowercase
  files/en-us/glossary/doctype/index.md
  files/en-us/learn/css/howto/css_faq/index.md
  files/en-us/learn/getting_started_with_the_web/html_basics/index.md
  files/en-us/learn/html/introduction_to_html/getting_started/index.md
  files/en-us/learn/server-side/django/home_page/index.md
  files/en-us/learn/server-side/django/introduction/index.md
  files/en-us/learn/server-side/first_steps/client-server_overview/index.md
  files/en-us/learn/server-side/first_steps/web_frameworks/index.md
  files/en-us/learn/tools_and_testing/cross_browser_testing/html_and_css/index.md
  files/en-us/web/api/document/getelementsbytagname/index.md
  files/en-us/web/api/document_object_model/whitespace/index.md
  files/en-us/web/api/documenttype/name/index.md
  files/en-us/web/api/documenttype/publicid/index.md
  files/en-us/web/api/documenttype/remove/index.md
  files/en-us/web/api/documenttype/systemid/index.md
  files/en-us/web/api/element/attributes/index.md
  files/en-us/web/api/file_api/using_files_from_web_applications/index.md
  files/en-us/web/api/htmliframeelement/srcdoc/index.md
  files/en-us/web/api/node/nodetype/index.md
  files/en-us/web/api/treewalker/index.md
  files/en-us/web/html/quirks_mode_and_standards_mode/index.md
  files/en-us/web/http/overview/index.md
  files/en-us/web/http/range_requests/index.md
  files/en-us/web/http/session/index.md
  files/en-us/web/http/status/103/index.md
  files/en-us/web/javascript/reference/global_objects/string/raw/index.md
  files/en-us/web/mathml/authoring/index.md
Labels: Content:HTML, Content:WebAPI, Content:JS, Content:Learn, Content:HTTP, Content:Learn:Django, Content:MathML, Content:Glossary, Content:Learn:CSS, Content:Learn:HTML, Content:Learn:Cross-Browser-Testing, size/m

#35691 fix typos
  files/en-us/web/api/htmlbuttonelement/reportvalidity/index.md
  files/en-us/web/http/status/502/index.md
Labels: Content:WebAPI, Content:HTTP, size/xs

#35708 Python dev server slight modifications
  files/en-us/learn/common_questions/tools_and_setup/set_up_a_local_testing_server/index.md
Labels: Content:Learn, size/s

#35709 Add page for HTTP Refresh header
  files/en-us/web/html/element/meta/index.md
  files/en-us/web/http/headers/refresh/index.md
Labels: Content:HTML, Content:HTTP, size/m

#35603 Modify deleteFromDocument description
  files/en-us/web/api/range/deletecontents/index.md
  files/en-us/web/api/selection/deletefromdocument/index.md
Labels: Content:WebAPI, size/s

#35714 Change Notification().silent default
  files/en-us/web/api/notification/notification/index.md
  files/en-us/web/api/notification/silent/index.md
Labels: Content:WebAPI, size/s

#35673 Avoid Ember array extension methods
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/ember_conditional_footer/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/ember_interactivity_events_state/index.md
Labels: Content:Learn:Client-side, size/s

#35622 added the experimental release note for reg_exp modifiers
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/131/index.md
Labels: Content:Firefox, size/s

#35713 FF131Relnote Set-Cookie with SameSite=None must include Secure
  files/en-us/mozilla/firefox/releases/131/index.md
Labels: Content:Firefox, size/xs

#35512 Update: remove fallback for datalist and textarea image
  files/en-us/learn/forms/other_form_controls/datalist-safari.png
  files/en-us/learn/forms/other_form_controls/index.md
  files/en-us/learn/forms/other_form_controls/textarea_basic.png
Labels: Content:Learn:Forms, size/s

#35723 updated note that is no longer valid
  files/en-us/web/api/web_animations_api/using_the_web_animations_api/index.md
Labels: Content:WebAPI, size/xs

#35294 fix(http): Fetch and HTTP spec clarifications with 301 and 302 status codes
  files/en-us/web/http/status/301/index.md
  files/en-us/web/http/status/302/index.md
Labels: Content:HTTP, size/s

#35726 Fix typo/meaning (eTLD -> eTLD+1)
  files/en-us/glossary/etld/index.md
Labels: Content:Glossary, size/xs

#35643 docs(manifest): Improve `theme_color` member page
  files/en-us/web/manifest/theme_color/index.md
Labels: Content:Manifest, size/m

#35717 FF131 Relnote - Text fragments supported
  files/en-us/mozilla/firefox/releases/131/index.md
Labels: Content:Firefox, size/xs

#35729 Fix typo
  files/en-us/learn/forms/html5_input_types/index.md
Labels: Content:Learn:Forms, size/xs

#35727 Expanded See Also list on css/stroke
  files/en-us/web/css/stroke/index.md
Labels: Content:CSS, size/s

#35676 Replaced nanoid with crypto.randomUUID()
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/vue_first_component/index.md
Labels: Content:Learn:Client-side, size/s

#35739 fix(ci): check dependabot PR user instead of actor
  .github/workflows/auto-merge.yml
Labels: system, size/xs

#35741 Firefox 130 release notes
  files/en-us/mozilla/firefox/releases/130/index.md
  files/en-us/mozilla/firefox/releases/131/index.md
  files/en-us/mozilla/firefox/releases/132/index.md
Labels: Content:Firefox, size/m

#35477 fix(ci): use script variables instead of env variables
  .github/workflows/pr-check-lint_content.yml
  .github/workflows/pr-test.yml
Labels: system, size/s

#35734 Remove unused `previousTimeStamp` variable in first `requestAnimationFrame()` example
  files/en-us/web/api/window/requestanimationframe/index.md
Labels: Content:WebAPI, size/s

#35744 Fix: Incorrect Link
  files/en-us/web/api/mediadevices/selectaudiooutput/index.md
Labels: Content:WebAPI, size/xs

#35733 Add a missing line break character
  files/en-us/web/api/document_object_model/whitespace/index.md
Labels: Content:WebAPI, size/xs

#35486 fix(css): new pages for <url> and url()
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/add-ons/webextensions/api/proxy/requestdetails/index.md
  files/en-us/web/api/canvasrenderingcontext2d/filter/index.md
  files/en-us/web/api/cssimagevalue/index.md
  files/en-us/web/css/-webkit-mask-box-image/index.md
  files/en-us/web/css/@counter-style/symbols/index.md
  files/en-us/web/css/@import/index.md
  files/en-us/web/css/@property/syntax/index.md
  files/en-us/web/css/background-image/index.md
  files/en-us/web/css/border-image-source/index.md
  files/en-us/web/css/border-image/index.md
  files/en-us/web/css/clip-path/index.md
  files/en-us/web/css/content/index.md
  files/en-us/web/css/cross-fade/index.md
  files/en-us/web/css/css_backgrounds_and_borders/index.md
  files/en-us/web/css/css_functions/index.md
  files/en-us/web/css/css_images/implementing_image_sprites_in_css/index.md
  files/en-us/web/css/css_images/index.md
  files/en-us/web/css/css_namespaces/index.md
  files/en-us/web/css/css_types/index.md
  files/en-us/web/css/css_values_and_units/index.md
  files/en-us/web/css/cursor/index.md
  files/en-us/web/css/filter/index.md
  files/en-us/web/css/image/image-set/index.md
  files/en-us/web/css/image/image/index.md
  files/en-us/web/css/image/index.md
  files/en-us/web/css/list-style-image/index.md
  files/en-us/web/css/marker-end/index.md
  files/en-us/web/css/marker-mid/index.md
  files/en-us/web/css/marker-start/index.md
  files/en-us/web/css/marker/index.md
  files/en-us/web/css/mask-image/index.md
  files/en-us/web/css/offset-path/index.md
  files/en-us/web/css/url/star.gif
  files/en-us/web/css/url_function/index.md
  files/en-us/web/css/url_value/index.md
  files/en-us/web/svg/content_type/index.md
Labels: Content:CSS, Content:WebExt, Content:WebAPI, Content:SVG, size/m

#35467 docs[canvasrenderingcontext2d]: fix typo in filter url description
  files/en-us/web/api/canvasrenderingcontext2d/filter/index.md
Labels: Content:WebAPI, awaiting response, size/xs

#35635 Reword HTMLCollection.namedItem replacement
  files/en-us/web/api/htmlcollection/nameditem/index.md
Labels: Content:WebAPI, awaiting response, size/s

#35749 Fix typo in manifest member name
  files/en-us/web/progressive_web_apps/guides/making_pwas_installable/index.md
Labels: Content:PWA, size/xs

#35750 Require parameters section to use DLs
  files/en-us/web/api/barcodedetector/getsupportedformats_static/index.md
  files/en-us/web/api/baseaudiocontext/createbuffer/index.md
  files/en-us/web/api/comment/comment/index.md
  files/en-us/web/api/contactsmanager/getproperties/index.md
  files/en-us/web/api/contentindex/getall/index.md
  files/en-us/web/api/css/registerproperty_static/index.md
  files/en-us/web/api/cssstyledeclaration/removeproperty/index.md
  files/en-us/web/api/directoryentrysync/index.md
  files/en-us/web/api/document/mozsetimageelement/index.md
  files/en-us/web/api/document/querycommandstate/index.md
  files/en-us/web/api/document/writeln/index.md
  files/en-us/web/api/element/getattribute/index.md
  files/en-us/web/api/element/getattributenode/index.md
  files/en-us/web/api/element/getattributenodens/index.md
  files/en-us/web/api/element/getelementsbytagname/index.md
  files/en-us/web/api/element/getelementsbytagnamens/index.md
  files/en-us/web/api/element/hasattributens/index.md
  files/en-us/web/api/element/removeattributens/index.md
  files/en-us/web/api/element/scroll/index.md
  files/en-us/web/api/element/scrollby/index.md
  files/en-us/web/api/element/scrollto/index.md
  files/en-us/web/api/element/setattributenode/index.md
  files/en-us/web/api/element/setattributenodens/index.md
  files/en-us/web/api/element/setattributens/index.md
  files/en-us/web/api/extendableevent/waituntil/index.md
  files/en-us/web/api/htmlinputelement/setselectionrange/index.md
  files/en-us/web/api/htmlselectelement/item/index.md
  files/en-us/web/api/htmlselectelement/nameditem/index.md
  files/en-us/web/api/htmlselectelement/remove/index.md
  files/en-us/web/api/htmlselectelement/setcustomvalidity/index.md
  files/en-us/web/api/nodelist/item/index.md
  files/en-us/web/api/rtccertificate/getfingerprints/index.md
  files/en-us/web/api/rtcpeerconnection/getconfiguration/index.md
  files/en-us/web/api/rtcrtpscripttransformer/sendkeyframerequest/index.md
  files/en-us/web/api/text/text/index.md
  files/en-us/web/api/webglrenderingcontext/stencilop/index.md
  files/en-us/web/api/webglrenderingcontext/stencilopseparate/index.md
  files/en-us/web/api/window/moveby/index.md
  files/en-us/web/api/window/moveto/index.md
  files/en-us/web/api/window/resizeby/index.md
  files/en-us/web/api/window/scroll/index.md
  files/en-us/web/api/window/scrollby/index.md
  files/en-us/web/api/window/scrollbylines/index.md
  files/en-us/web/api/window/scrollbypages/index.md
  files/en-us/web/api/window/scrollto/index.md
  files/en-us/web/api/window/updatecommands/index.md
Labels: Content:WebAPI, size/m

#35752 Add touchcancel event details to changedTouches
  files/en-us/web/api/touchevent/changedtouches/index.md
Labels: Content:WebAPI, size/xs

#35753 chore: fix typo
  files/en-us/web/css/url_function/index.md
Labels: Content:CSS, size/xs

#35756 Remove a empty section
  files/en-us/web/api/blob/bytes/index.md
Labels: Content:WebAPI, size/xs

#35763 Fix definition of XHR.send() body parameter
  files/en-us/web/api/xmlhttprequest/send/index.md
Labels: Content:WebAPI, size/xs

#35711 FF130 Relnote WebCodec API - Desktop support
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/130/index.md
Labels: Content:Firefox, size/s

#35653 fix(ci): recycle the weekly spelling check issue
  .github/workflows/spelling-check-bot.yml
  scripts/linkify-logs.js
Labels: system, size/m

#35771 fix filecheck issues
  files/en-us/learn/forms/html5_input_types/search_focus.png
  files/en-us/web/api/navigator/registerprotocolhandler/protocolregister.png
Labels: Content:WebAPI, Content:Learn:Forms, size/xs

#35776 fix(ci): ignore deleted file in log-url-isuses script
  scripts/log-url-issues.js
Labels: system, size/s

#35772 Fix return value of `FileSystemHandle.queryPermission()`
  files/en-us/web/api/filesystemhandle/querypermission/index.md
Labels: Content:WebAPI, size/s

#35780 Clarify the useage of the unicode flag on the RegExp.prototype.dotAll page
  files/en-us/web/javascript/reference/global_objects/regexp/dotall/index.md
Labels: Content:JS, size/s

#35764 Update permitted content for <summary> element
  files/en-us/web/html/element/summary/index.md
Labels: Content:HTML, size/xs

#35779 Fix `fit-content()` xref in "CSS value functions"
  files/en-us/web/css/css_functions/index.md
Labels: Content:CSS, size/xs

#35769 Update datetime-local format
  files/en-us/web/html/attributes/max/index.md
  files/en-us/web/html/attributes/min/index.md
  files/en-us/web/html/element/input/datetime-local/index.md
  files/en-us/web/html/element/input/time/index.md
  files/en-us/web/javascript/reference/global_objects/date/totimestring/index.md
  files/en-us/web/javascript/reference/global_objects/date/toutcstring/index.md
Labels: Content:HTML, Content:JS, size/s

#35654 Added HTML example to HTML nesting section
  files/en-us/web/html/element/heading_elements/index.md
Labels: Content:HTML, size/s

#35783 improving discussion of generic Promise.try() called against custom constructor
  files/en-us/web/javascript/reference/global_objects/promise/try/index.md
Labels: Content:JS, size/s

#35791 invalid function argument fix
  files/en-us/web/javascript/reference/global_objects/string/at/index.md
Labels: Content:JS, size/xs

#35786 docs: fix typo from webkitEntries to webkitdirectory
  files/en-us/web/api/htmlinputelement/webkitdirectory/index.md
Labels: Content:WebAPI, size/xs

#35788 change let to const
  files/en-us/learn/javascript/building_blocks/looping_code/index.md
Labels: Content:Learn:JavaScript, size/xs

#35787 chore: update the branch name
  files/en-us/learn/index.md
Labels: Content:Learn, size/xs

#35793 clarifying description and code for static block 'var' hoisting
  files/en-us/web/javascript/reference/classes/static_initialization_blocks/index.md
Labels: Content:JS, size/s

#35795 Fixed typo
  files/en-us/web/css/css_flexible_box_layout/aligning_items_in_a_flex_container/index.md
Labels: Content:CSS, size/xs

#35794 Fix URL base parameter description typo
  files/en-us/web/api/url/url/index.md
Labels: Content:WebAPI, size/xs

#35770 update redirected URLs
  files/en-us/learn/common_questions/tools_and_setup/available_text_editors/index.md
  files/en-us/learn/common_questions/tools_and_setup/how_much_does_it_cost/index.md
  files/en-us/learn/common_questions/tools_and_setup/set_up_a_local_testing_server/index.md
  files/en-us/learn/common_questions/tools_and_setup/using_github_pages/index.md
  files/en-us/learn/common_questions/tools_and_setup/what_software_do_i_need/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/introduction/index.md
  files/en-us/mozilla/add-ons/webextensions/native_manifests/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/browser_styles/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/context_menu_items/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/devtools_panels/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/extension_pages/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/notifications/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/options_pages/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/page_actions/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/popups/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/sidebars/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/toolbar_button/index.md
  files/en-us/mozilla/firefox/releases/10/index.md
  files/en-us/mozilla/firefox/releases/24/index.md
  files/en-us/mozilla/firefox/releases/4/updating_extensions_for_firefox_4/index.md
  files/en-us/mozilla/firefox/releases/51/index.md
  files/en-us/mozilla/firefox/releases/6/index.md
  files/jsondata/SpecData.json
Labels: Content:WebExt, Content:Learn, Content:Learn:Client-side, Content:Firefox, size/m

#35797 Corrected spelling and word flow
  files/en-us/web/accessibility/aria/roles/index.md
Labels: Content:Accessibility, size/xs

#35606 HTTP Sec-WebSocket-* headers
  files/en-us/web/api/websocket/protocol/index.md
  files/en-us/web/api/websocket/websocket/index.md
  files/en-us/web/api/websockets_api/index.md
  files/en-us/web/api/websockets_api/writing_websocket_servers/index.md
  files/en-us/web/http/headers/index.md
  files/en-us/web/http/headers/sec-websocket-extensions/index.md
  files/en-us/web/http/headers/sec-websocket-protocol/index.md
  files/en-us/web/http/headers/sec-websocket-version/index.md
Labels: Content:WebAPI, Content:HTTP, size/m

#35800 Minor grammatical typo
  files/en-us/web/accessibility/aria/roles/index.md
Labels: Content:Accessibility, size/xs

#35778 Dark theme support in embedded options pages fix
  files/en-us/mozilla/add-ons/webextensions/user_interface/options_pages/index.md
  files/en-us/mozilla/firefox/releases/127/index.md
Labels: Content:WebExt, Content:Firefox, size/xs

#35802 Add missing space before link in `-webkit-transition`
  files/en-us/web/css/@media/-webkit-transition/index.md
Labels: Content:CSS, size/xs

#35799 Safari supports TIFF
  files/en-us/web/media/formats/image_types/index.md
Labels: Content:Media, size/s

#35805 Minor typo
  files/en-us/web/javascript/reference/functions/rest_parameters/index.md
Labels: Content:JS, size/xs

#35803 FF131 Relnote: CHIPS/partitioned cookies
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/131/index.md
  files/en-us/web/http/headers/set-cookie/index.md
Labels: Content:HTTP, Content:Firefox, size/s

#35810 Avoid text stuck to links/code
  files/en-us/learn/common_questions/web_mechanics/what_are_hyperlinks/index.md
  files/en-us/mdn/writing_guidelines/writing_style_guide/index.md
  files/en-us/web/api/canvas_api/tutorial/pixel_manipulation_with_canvas/index.md
  files/en-us/web/api/htmlmediaelement/ended_event/index.md
  files/en-us/web/api/idbobjectstore/name/index.md
  files/en-us/web/api/mediatracksettings/samplesize/index.md
  files/en-us/web/api/serviceworker/index.md
  files/en-us/web/api/ui_events/keyboard_event_key_values/index.md
  files/en-us/web/api/webgl_api/webgl_best_practices/index.md
  files/en-us/web/api/webxr_device_api/movement_and_motion/index.md
  files/en-us/web/css/css_counter_styles/using_css_counters/index.md
  files/en-us/web/css/reference/index.md
  files/en-us/web/css/vertical-align/index.md
  files/en-us/web/html/attributes/autocomplete/index.md
  files/en-us/web/http/headers/www-authenticate/index.md
  files/en-us/web/javascript/guide/functions/index.md
  files/en-us/web/opensearch/index.md
  files/en-us/web/svg/namespaces_crash_course/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:JS, Content:Learn, Content:Other, Content:HTTP, Content:SVG, Content:Meta, size/m

#35766 FF131 Relnote/ExprFeat: microphone and camera permissions
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/131/index.md
Labels: Content:Firefox, size/s

#35809 Minor: order of see also
  files/en-us/glossary/statement/index.md
Labels: Content:Glossary, size/xs

#35816 fix: update redirects
  files/en-us/games/techniques/3d_on_the_web/building_up_a_basic_demo_with_three.js/index.md
  files/en-us/learn/common_questions/tools_and_setup/available_text_editors/index.md
  files/en-us/learn/common_questions/tools_and_setup/what_are_browser_developer_tools/index.md
  files/en-us/mozilla/add-ons/index.md
  files/en-us/mozilla/add-ons/webextensions/api/management/install/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabs/detectlanguage/index.md
  files/en-us/mozilla/add-ons/webextensions/chrome_incompatibilities/index.md
  files/en-us/mozilla/add-ons/webextensions/native_manifests/index.md
  files/en-us/mozilla/add-ons/webextensions/native_messaging/index.md
  files/en-us/mozilla/add-ons/webextensions/what_are_webextensions/index.md
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/index.md
  files/en-us/mozilla/firefox/releases/1.5/index.md
  files/en-us/mozilla/firefox/releases/128/index.md
  files/en-us/mozilla/firefox/releases/3.6/index.md
  files/en-us/mozilla/firefox/releases/3.6/updating_themes/index.md
  files/en-us/mozilla/firefox/releases/40/index.md
  files/en-us/mozilla/firefox/releases/41/index.md
  files/en-us/mozilla/firefox/releases/42/index.md
  files/en-us/mozilla/firefox/releases/43/index.md
  files/en-us/mozilla/firefox/releases/44/index.md
  files/en-us/mozilla/firefox/releases/45/index.md
  files/en-us/mozilla/firefox/releases/46/index.md
  files/en-us/mozilla/firefox/releases/47/index.md
  files/en-us/mozilla/firefox/releases/48/index.md
  files/en-us/mozilla/firefox/releases/49/index.md
  files/en-us/mozilla/firefox/releases/50/index.md
  files/en-us/mozilla/firefox/releases/51/index.md
  files/en-us/web/api/fontdata/blob/index.md
  files/en-us/web/api/fontdata/index.md
  files/en-us/web/api/local_font_access_api/index.md
  files/en-us/web/api/window/querylocalfonts/index.md
  files/en-us/web/javascript/reference/operators/import.meta/resolve/index.md
  files/en-us/web/tutorials/index.md
Labels: Content:WebExt, Content:WebAPI, Content:JS, Content:Learn, Content:Other, Content:Games, Content:Firefox, size/m

#35613 fix: replace rgba() with rgb() in code blocks
  files/en-us/games/tutorials/2d_breakout_game_pure_javascript/create_the_canvas_and_draw_on_it/index.md
  files/en-us/learn/css/building_blocks/values_and_units/index.md
  files/en-us/learn/forms/advanced_form_styling/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/browser_styles/index.md
  files/en-us/web/api/editcontext_api/guide/index.md
  files/en-us/web/api/htmlfontelement/color/index.md
  files/en-us/web/css/color/index.md
  files/en-us/web/css/color_value/hsl/index.md
  files/en-us/web/css/color_value/rgb/index.md
  files/en-us/web/css/css_colors/index.md
  files/en-us/web/css/css_colors/relative_colors/index.md
  files/en-us/web/css/display-inside/index.md
  files/en-us/web/css/filter-function/saturate/index.md
  files/en-us/web/css/isolation/index.md
  files/en-us/web/html/element/th/column-row-span.html
Labels: Content:CSS, Content:HTML, Content:WebExt, Content:WebAPI, Content:Games, Content:Learn:CSS, Content:Learn:Forms, size/m

#35806 fix(ci/spellcheck): create a new issue every week
  .github/workflows/spelling-check-bot.yml
Labels: system, size/m

#35820 chore(deps): run yarn upgrade
  yarn.lock
Labels: system, size/xl

#35660 New pages for HTML*Element.validity
  files/en-us/web/api/htmlbuttonelement/checkvalidity/index.md
  files/en-us/web/api/htmlbuttonelement/validity/index.md
  files/en-us/web/api/htmlfieldsetelement/checkvalidity/index.md
  files/en-us/web/api/htmlfieldsetelement/validity/index.md
  files/en-us/web/api/htmlformelement/checkvalidity/index.md
  files/en-us/web/api/htmlinputelement/validity/index.md
  files/en-us/web/api/htmlobjectelement/validity/index.md
  files/en-us/web/api/htmloutputelement/validity/index.md
  files/en-us/web/api/htmlselectelement/validity/index.md
  files/en-us/web/api/htmltextareaelement/validity/index.md
Labels: Content:WebAPI, size/m

#35661 New pages for HTML*Element.form
  files/en-us/web/api/htmlbuttonelement/form/index.md
  files/en-us/web/api/htmlfieldsetelement/form/index.md
  files/en-us/web/api/htmlinputelement/form/index.md
  files/en-us/web/api/htmllabelelement/form/index.md
  files/en-us/web/api/htmllegendelement/form/index.md
  files/en-us/web/api/htmlobjectelement/form/index.md
  files/en-us/web/api/htmloptionelement/form/index.md
  files/en-us/web/api/htmloutputelement/form/index.md
  files/en-us/web/api/htmlselectelement/form/index.md
  files/en-us/web/api/htmltextareaelement/form/index.md
Labels: Content:WebAPI, size/m

#35666 Add pages for HTML{FieldSet,Output}Element.type
  files/en-us/web/api/htmlfieldsetelement/type/index.md
  files/en-us/web/api/htmloutputelement/type/index.md
  files/en-us/web/api/htmltextareaelement/type/index.md
Labels: Content:WebAPI, size/m

#35818 Explain what white space is more pragmatically
  files/en-us/learn/css/first_steps/how_css_is_structured/index.md
Labels: Content:Learn:CSS, size/s

#35665 Add pages for HTML*Element.willValidate
  files/en-us/web/api/htmlbuttonelement/willvalidate/index.md
  files/en-us/web/api/htmlfieldsetelement/willvalidate/index.md
  files/en-us/web/api/htmlinputelement/willvalidate/index.md
  files/en-us/web/api/htmlobjectelement/willvalidate/index.md
  files/en-us/web/api/htmloutputelement/index.md
  files/en-us/web/api/htmloutputelement/willvalidate/index.md
  files/en-us/web/api/htmlselectelement/willvalidate/index.md
  files/en-us/web/api/htmltextareaelement/willvalidate/index.md
Labels: Content:WebAPI, size/m

#35824 Fix two markdown syntax errors causing rendering issues on `postTask`
  files/en-us/web/api/scheduler/posttask/index.md
Labels: Content:WebAPI, size/xs

#35759 fix(css): update color-scheme and prefers-color-scheme documents
  files/en-us/web/css/@media/prefers-color-scheme/index.md
  files/en-us/web/css/color-scheme/index.md
  files/en-us/web/html/element/meta/name/index.md
Labels: Content:CSS, Content:HTML, size/s

#35767 fix(css): update container query pages
  files/en-us/web/css/@container/index.md
  files/en-us/web/css/container-name/index.md
  files/en-us/web/css/container-type/index.md
  files/en-us/web/css/css_containment/container_size_and_style_queries/index.md
Labels: Content:CSS, size/m

#35508 fix(css): add layer() function page
  files/en-us/web/css/@import/index.md
  files/en-us/web/css/@import/layer_function/index.md
Labels: Content:CSS, size/s

#35831 Update third-party cookie phaseout wording
  files/en-us/web/api/topics_api/index.md
Labels: Content:WebAPI, size/xs

#35471 Remove masonry-auto-flow and redirect to grid-auto-flow
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/css/css_grid_layout/index.md
  files/en-us/web/css/css_grid_layout/masonry_layout/index.md
  files/en-us/web/css/grid-auto-flow/index.md
  files/en-us/web/css/masonry-auto-flow/index.md
Labels: Content:CSS, size/m

#35828 Remove an unnecessary div in the scrolltop example
  files/en-us/web/api/element/scrolltop/index.md
Labels: Content:WebAPI, size/s

#35827 Add note that gamepad features aren't on all platforms/controllers
  files/en-us/web/api/gamepad/index.md
Labels: Content:WebAPI, size/xs

#35664 New page for reflection properties of HTMLTextAreaElement
  files/en-us/web/api/htmltextareaelement/autocomplete/index.md
  files/en-us/web/api/htmltextareaelement/cols/index.md
  files/en-us/web/api/htmltextareaelement/defaultvalue/index.md
  files/en-us/web/api/htmltextareaelement/disabled/index.md
  files/en-us/web/api/htmltextareaelement/placeholder/index.md
  files/en-us/web/api/htmltextareaelement/readonly/index.md
  files/en-us/web/api/htmltextareaelement/required/index.md
  files/en-us/web/api/htmltextareaelement/rows/index.md
  files/en-us/web/api/htmltextareaelement/textlength/index.md
  files/en-us/web/api/htmltextareaelement/wrap/index.md
Labels: Content:WebAPI, size/m

#32290 Follow up to PR 31039: cross link for more information about onerror …
  files/en-us/web/api/window/error_event/index.md
  files/en-us/web/api/workerglobalscope/error_event/index.md
Labels: Content:WebAPI, awaiting response, size/s

#35844 Remove outdated reference to W3C DOM spec
  files/en-us/web/api/document/getelementsbytagname/index.md
  files/en-us/web/api/document/getelementsbytagnamens/index.md
Labels: Content:WebAPI, size/s

#35843 Fix typo in "Element: mouseenter event" article
  files/en-us/web/api/element/mouseenter_event/index.md
Labels: Content:WebAPI, size/xs

#35841 Add definition for data
  files/en-us/web/api/webglrenderingcontext/buffersubdata/index.md
Labels: Content:WebAPI, size/xs

#35540 Add text-transform: math-auto
  files/en-us/web/css/text-transform/index.md
Labels: Content:CSS, size/m

#35846 Fix typo in "Element: mouseleave event" article
  files/en-us/web/api/element/mouseleave_event/index.md
Labels: Content:WebAPI, size/xs

#35851 Remove out-of-date blog link
  files/en-us/web/api/topics_api/index.md
Labels: Content:WebAPI, size/xs

#35838 Add a few missing spec links
  files/en-us/web/api/paymentresponse/payerdetailchange_event/index.md
  files/en-us/web/api/paymentresponse/payeremail/index.md
  files/en-us/web/api/paymentresponse/payername/index.md
  files/en-us/web/api/paymentresponse/payerphone/index.md
  files/en-us/web/api/paymentresponse/shippingaddress/index.md
  files/en-us/web/api/paymentresponse/shippingoption/index.md
  files/en-us/web/http/csp/index.md
  files/en-us/web/javascript/guide/modules/index.md
Labels: Content:WebAPI, Content:JS, Content:HTTP, size/s

#35853 Refactor outdated and insensitive comparisons in documentation
  files/en-us/learn/performance/why_web_performance/index.md
Labels: Content:Learn, size/xs

#35834 chore(http): clarifications about Server header, link to HTTP Observatory, OWASP Secure Headers Project
  files/en-us/learn/server-side/first_steps/website_security/index.md
  files/en-us/web/http/headers/server/index.md
Labels: Content:Learn, Content:HTTP, size/s

#35856 remove datalist password example
  files/en-us/web/html/element/datalist/index.md
Labels: Content:HTML, size/s

#35857 add note that the void operator doesn't work on arrow function iifes
  files/en-us/web/javascript/reference/operators/void/index.md
Labels: Content:JS, size/s

#35548 Editorial review: Document WebSocketStream
  files/en-us/web/api/closeevent/code/index.md
  files/en-us/web/api/closeevent/index.md
  files/en-us/web/api/websocket/index.md
  files/en-us/web/api/websockets_api/index.md
  files/en-us/web/api/websockets_api/using_websocketstream/index.md
  files/en-us/web/api/websocketstream/close/index.md
  files/en-us/web/api/websocketstream/closed/index.md
  files/en-us/web/api/websocketstream/index.md
  files/en-us/web/api/websocketstream/opened/index.md
  files/en-us/web/api/websocketstream/url/index.md
  files/en-us/web/api/websocketstream/websocketstream/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, size/l

#35845 Fixes: capture and autocomplete
  files/en-us/web/api/htmlinputelement/index.md
  files/en-us/web/api/htmltextareaelement/autocomplete/index.md
  files/en-us/web/html/element/textarea/index.md
Labels: Content:HTML, Content:WebAPI, size/s

#35848 New pages: seven HTMLInputElement reflective properties
  files/en-us/web/api/htmlinputelement/accept/index.md
  files/en-us/web/api/htmlinputelement/autocomplete/index.md
  files/en-us/web/api/htmlinputelement/capture/index.md
  files/en-us/web/api/htmlinputelement/pattern/index.md
  files/en-us/web/api/htmlinputelement/placeholder/index.md
  files/en-us/web/api/htmlinputelement/readonly/index.md
  files/en-us/web/api/htmlinputelement/required/index.md
Labels: Content:WebAPI, size/m

#35509 fix(css): add more info to the ::part() page
  files/en-us/web/css/_doublecolon_part/index.md
Labels: Content:CSS, size/s

#35745 feat(HTTP): Refresh request method pages
  .vscode/ignore-list.txt
  files/en-us/web/http/methods/connect/index.md
  files/en-us/web/http/methods/delete/index.md
  files/en-us/web/http/methods/get/index.md
  files/en-us/web/http/methods/head/index.md
  files/en-us/web/http/methods/index.md
  files/en-us/web/http/methods/options/index.md
  files/en-us/web/http/methods/patch/index.md
  files/en-us/web/http/methods/post/index.md
  files/en-us/web/http/methods/put/index.md
  files/en-us/web/http/methods/trace/index.md
Labels: Content:HTTP, system, size/l

#35804 FF131 Relnote: PointerEvent.azimuth/altitudeAngle + updates
  files/en-us/mozilla/firefox/releases/131/index.md
  files/en-us/web/api/pointerevent/pointerevent/index.md
  files/en-us/web/api/pointerevent/tiltx/index.md
  files/en-us/web/api/pointerevent/tiltx/tilt_x_y_angles.svg
  files/en-us/web/api/pointerevent/tilty/index.md
  files/en-us/web/api/pointerevent/tilty/tilt_x_y_angles.svg
Labels: Content:WebAPI, Content:Firefox, size/m

#35716 fragmentDirective - live examples
  files/en-us/web/api/document/fragmentdirective/index.md
  files/en-us/web/api/fragmentdirective/index.md
Labels: Content:WebAPI, size/m

#35725 Navigator: cookieEnabled warning regarding Safari is outdated #32845
  files/en-us/web/api/navigator/cookieenabled/index.md
Labels: Content:WebAPI, size/xs

#35872 Fix incorrect use of 'debouncing' in throttle glossary #35868
  files/en-us/glossary/throttle/index.md
Labels: Content:Glossary, size/xs

#35860 Update webRequest.filterResponseData() page
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/filterresponsedata/index.md
Labels: Content:WebExt, size/xs

#35871 Make sentence clearer in "Using container size and style queries" page
  files/en-us/web/css/css_containment/container_size_and_style_queries/index.md
Labels: Content:CSS, size/xs

#35877 New pages: HTMLTextAreaElement min and max length
  files/en-us/web/api/htmltextareaelement/maxlength/index.md
  files/en-us/web/api/htmltextareaelement/minlength/index.md
Labels: Content:WebAPI, size/m

#35876 New pages: HTMLSelectElement properties
  files/en-us/web/api/htmlselectelement/length/index.md
  files/en-us/web/api/htmlselectelement/multiple/index.md
  files/en-us/web/api/htmlselectelement/required/index.md
  files/en-us/web/api/htmlselectelement/size/index.md
Labels: Content:WebAPI, size/m

#35886 fix for FF131 incorrect bugzilla link
  files/en-us/mozilla/firefox/releases/131/index.md
Labels: Content:Firefox, size/xs

#35885 Punctuation to fix run-on sentence
  files/en-us/web/html/element/search/index.md
Labels: Content:HTML, size/xs

#35889 Fix SharedWorker type
  files/en-us/web/api/storageaccesshandle/sharedworker/index.md
Labels: Content:WebAPI, size/xs

#35891 remove postcss
  files/en-us/glossary/css_preprocessor/index.md
Labels: Content:Glossary, size/xs

#35864 New pages: five HTMLInputElement reflective properties
  files/en-us/web/api/htmlinputelement/alt/index.md
  files/en-us/web/api/htmlinputelement/height/index.md
  files/en-us/web/api/htmlinputelement/pattern/index.md
  files/en-us/web/api/htmlinputelement/size/index.md
  files/en-us/web/api/htmlinputelement/src/index.md
  files/en-us/web/api/htmlinputelement/width/index.md
  files/en-us/web/html/attributes/max/index.md
  files/en-us/web/html/attributes/multiple/index.md
Labels: Content:HTML, Content:WebAPI, size/m

#35892 Fix time calc on cancelAnimationFrame
  files/en-us/web/api/window/cancelanimationframe/index.md
Labels: Content:WebAPI, size/xs

#35875 Fixed a typo in the mediacapabilities.decodingInfo video example
  files/en-us/web/api/mediacapabilities/decodinginfo/index.md
Labels: Content:WebAPI, size/xs

#35881 fix microformats links
  files/en-us/web/html/microformats/index.md
Labels: Content:HTML, size/xs

#35861 Update webRequest.StreamFilter.write() page
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/streamfilter/write/index.md
Labels: Content:WebExt, size/xs

#35859 Update search.get() page example
  files/en-us/mozilla/add-ons/webextensions/api/search/get/index.md
Labels: Content:WebExt, size/xs

#35898 fix typos
  files/en-us/web/api/csspositiontrydescriptors/index.md
  files/en-us/web/api/websockets_api/using_websocketstream/index.md
  files/en-us/web/api/websocketstream/websocketstream/index.md
Labels: Content:WebAPI, size/s

#35880 New pages: HTMLInputElement checkedness
  files/en-us/web/api/htmlinputelement/checked/index.md
  files/en-us/web/api/htmlinputelement/defaultchecked/index.md
Labels: Content:WebAPI, size/m

#35451 Adapt SVGLengthList to correct API structure, write subpages
  files/en-us/web/api/svglengthlist/appenditem/index.md
  files/en-us/web/api/svglengthlist/clear/index.md
  files/en-us/web/api/svglengthlist/getitem/index.md
  files/en-us/web/api/svglengthlist/index.md
  files/en-us/web/api/svglengthlist/initialize/index.md
  files/en-us/web/api/svglengthlist/insertitembefore/index.md
  files/en-us/web/api/svglengthlist/length/index.md
  files/en-us/web/api/svglengthlist/numberofitems/index.md
  files/en-us/web/api/svglengthlist/removeitem/index.md
  files/en-us/web/api/svglengthlist/replaceitem/index.md
Labels: Content:WebAPI, size/l

#35896 fix URL redirects
  files/en-us/learn/common_questions/tools_and_setup/available_text_editors/index.md
  files/en-us/learn/getting_started_with_the_web/installing_basic_software/index.md
  files/en-us/learn/server-side/django/deployment/index.md
  files/en-us/learn/server-side/express_nodejs/deployment/index.md
  files/en-us/mozilla/add-ons/webextensions/api/identity/index.md
  files/en-us/mozilla/firefox/index.md
  files/en-us/web/javascript/guide/keyed_collections/index.md
  files/en-us/web/javascript/reference/global_objects/error/stack/index.md
  files/en-us/web/javascript/reference/global_objects/weakmap/index.md
  files/en-us/web/javascript/reference/global_objects/weakmap/weakmap/index.md
  files/en-us/web/media/formats/image_types/index.md
Labels: Content:WebExt, Content:JS, Content:Learn, Content:Media, Content:Learn:Django, Content:Learn:Express, Content:Firefox, size/s

#35899 accesskey: remove legacy browsers
  files/en-us/web/html/global_attributes/accesskey/index.md
Labels: Content:HTML, size/s

#35890 white-space-collapse: Better example
  files/en-us/web/css/white-space-collapse/index.md
Labels: Content:CSS, size/s

#35902 typo: WebSocketSteam
  files/en-us/web/api/websockets_api/index.md
Labels: Content:WebAPI, size/xs

#34897 Allowing Inline Speculation Rules with CSP
  files/en-us/web/api/speculation_rules_api/index.md
  files/en-us/web/http/headers/content-security-policy/script-src/index.md
Labels: Content:WebAPI, Content:HTTP, size/s

#34725 docs(manifest): Improve `icons` member page
  files/en-us/web/manifest/display/index.md
  files/en-us/web/manifest/icons/index.md
  files/en-us/web/manifest/theme_color/index.md
Labels: Content:Manifest, size/m

#35903 Update index.md
  files/en-us/games/publishing_games/game_distribution/index.md
Labels: Content:Games, size/xs

#35873 chore: add missing info on the purpose of scrollbar-width property
  files/en-us/web/css/scrollbar-width/index.md
Labels: Content:CSS, size/s

#35371 fix(css): improve :defined pseudo-class example
  files/en-us/web/css/_colon_defined/index.md
Labels: Content:CSS, size/m

#35874 Update `pattern` attribute
  files/en-us/web/html/element/input/index.md
Labels: Content:HTML, size/s

#35878 Add `background-clip: border-area`
  files/en-us/web/css/background-clip/index.md
Labels: Content:CSS, size/s

#35928 fix(api): add allow clipboard-read to clipboard live samples
  files/en-us/web/api/clipboard/read/index.md
  files/en-us/web/api/clipboard/write/index.md
Labels: Content:WebAPI, size/s

#35923 Synchronize with BCD v5.6.0
  files/en-us/web/api/csspositiontrydescriptors/index.md
  files/en-us/web/api/rtcpeerconnection/index.md
  files/en-us/web/api/websocketstream/close/index.md
  files/en-us/web/api/websocketstream/closed/index.md
  files/en-us/web/api/websocketstream/index.md
  files/en-us/web/api/websocketstream/opened/index.md
  files/en-us/web/api/websocketstream/url/index.md
  files/en-us/web/api/websocketstream/websocketstream/index.md
Labels: Content:WebAPI, size/m
