Repository mdn/content, pull requests merged in 2024-07, with the labels that each got.

#34144 FF128Relnote: RTCRtpTransceiver.setCodecPreferences() supported
  files/en-us/mozilla/firefox/releases/128/index.md
Labels: Content:Firefox, size/xs, Firefox 128

#34496 Remove 'comparison of event targets' page; split out event bubbling g…
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/learn/javascript/building_blocks/event_bubbling/index.md
  files/en-us/learn/javascript/building_blocks/events/index.md
  files/en-us/learn/javascript/howto/index.md
  files/en-us/learn/performance/javascript/index.md
  files/en-us/web/api/element/beforexrselect_event/index.md
  files/en-us/web/api/element/copy_event/index.md
  files/en-us/web/api/element/cut_event/index.md
  files/en-us/web/api/element/keydown_event/index.md
  files/en-us/web/api/element/keyup_event/index.md
  files/en-us/web/api/element/paste_event/index.md
  files/en-us/web/api/event/bubbles/index.md
  files/en-us/web/api/event/comparison_of_event_targets/index.md
  files/en-us/web/api/event/currenttarget/index.md
  files/en-us/web/api/event/explicitoriginaltarget/index.md
  files/en-us/web/api/event/index.md
  files/en-us/web/api/event/originaltarget/index.md
  files/en-us/web/api/event/target/index.md
  files/en-us/web/api/focusevent/relatedtarget/index.md
  files/en-us/web/api/idbtransaction/abort_event/index.md
  files/en-us/web/api/idbtransaction/error_event/index.md
  files/en-us/web/api/mouseevent/relatedtarget/index.md
  files/en-us/web/api/serialport/connect_event/index.md
  files/en-us/web/api/serialport/disconnect_event/index.md
Labels: Content:WebAPI, Content:Learn, Content:Learn:JavaScript, size/xl

#34505 Add a note for light-dark to "Styling console output" section
  files/en-us/web/api/console/index.md
Labels: Content:WebAPI, size/xs

#34489 Standardize examples in `URLSearchParams: delete()`
  files/en-us/web/api/urlsearchparams/delete/index.md
Labels: Content:WebAPI, size/s

#34510 chore: remove the self-reference link
  files/en-us/glossary/response_header/index.md
Labels: Content:Glossary, size/xs

#34499 Other typo fixes on CSRF Prevention page
  files/en-us/web/security/practical_implementation_guides/csrf_prevention/index.md
Labels: Content:Security, size/xs

#34485 Remove SVG xml:base attribute
  files/en-us/_wikihistory.json
  files/en-us/web/svg/attribute/index.md
  files/en-us/web/svg/attribute/requiredfeatures/index.md
  files/en-us/web/svg/attribute/xml_colon_base/index.md
Labels: Content:SVG, size/m

#34517 Remove live sample link example
  files/en-us/mdn/writing_guidelines/page_structures/live_samples/index.md
Labels: Content:Meta, size/xs

#34491 Docs for content script injection into data URL pages
  files/en-us/mozilla/add-ons/webextensions/api/contentscripts/register/index.md
  files/en-us/mozilla/add-ons/webextensions/api/scripting/registeredcontentscript/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/content_scripts/index.md
  files/en-us/mozilla/firefox/releases/128/index.md
Labels: Content:WebExt, Content:Firefox, size/s

#34511 fix: broken link
  files/en-us/glossary/rtf/index.md
Labels: Content:Glossary, size/xs

#34527 Template engines link fix - list the main engines
  files/en-us/learn/server-side/express_nodejs/introduction/index.md
Labels: Content:Learn:Express, size/s

#32612 Add a warning about third-party cookies blocking in Google Chrome
  files/en-us/web/http/headers/set-cookie/index.md
Labels: Content:HTTP, size/xs

#34526 FIX: tab-size accept numbers, not just integers
  files/en-us/web/css/tab-size/index.md
Labels: Content:CSS, size/xs

#34500 fix(css): correct wording about margin size
  files/en-us/learn/css/css_layout/normal_flow/index.md
Labels: Content:Learn:CSS, size/xs

#34534 fix(learn/css): restructure guides navigation
  files/en-us/learn/css/building_blocks/advanced_styling_effects/index.md
  files/en-us/learn/css/building_blocks/debugging_css/index.md
  files/en-us/learn/css/building_blocks/index.md
  files/en-us/learn/css/building_blocks/styling_tables/index.md
Labels: Content:Learn:CSS, size/s

#34540 Update JS building blocks
  files/en-us/learn/javascript/building_blocks/index.md
Labels: Content:Learn:JavaScript, size/xs

#34477 CSS maintenance: flex-wrap property
  files/en-us/web/css/flex-wrap/index.md
Labels: Content:CSS, size/s

#34531 Fix `main size` description in flexbox index page.
  files/en-us/learn/css/css_layout/flexbox/index.md
Labels: Content:Learn:CSS, size/xs

#34473 Char reference - add apos
  files/en-us/glossary/character_reference/index.md
Labels: Content:Glossary, size/xs

#34493 Update index.md
  files/en-us/mdn/community/communication_channels/index.md
Labels: Content:Meta, size/xs

#34465 Remove aria-live rude value
  files/en-us/learn/tools_and_testing/cross_browser_testing/accessibility/index.md
Labels: Content:Learn:Cross-Browser-Testing, size/xs

#34407 Note about CLDR having legacy TZ names
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/resolvedoptions/index.md
  files/en-us/web/javascript/reference/global_objects/intl/locale/gettimezones/index.md
  files/en-us/web/javascript/reference/global_objects/intl/supportedvaluesof/index.md
Labels: Content:JS, size/s

#34497 Precisely specify which properties are available on cross-origin opener
  files/en-us/web/api/window/opener/index.md
Labels: Content:WebAPI, size/s

#31462 Add HTMLLinkElement.href
  files/en-us/web/api/htmllinkelement/href/index.md
Labels: Content:WebAPI, size/s

#34542 Fix anchors, SVG
  files/en-us/web/accessibility/seizure_disorders/index.md
  files/en-us/web/svg/applying_svg_effects_to_html_content/index.md
  files/en-us/web/svg/attribute/clip-rule/index.md
  files/en-us/web/svg/attribute/crossorigin/index.md
  files/en-us/web/svg/attribute/d/index.md
  files/en-us/web/svg/attribute/u1/index.md
  files/en-us/web/svg/attribute/u2/index.md
  files/en-us/web/svg/attribute/unicode-range/index.md
  files/en-us/web/svg/element/animatemotion/index.md
  files/en-us/web/svg/element/index.md
  files/en-us/web/svg/element/script/index.md
  files/en-us/web/svg/element/style/index.md
  files/en-us/web/svg/index.md
  files/en-us/web/svg/tutorial/basic_transformations/index.md
  files/en-us/web/svg/tutorial/introduction/index.md
Labels: Content:Accessibility, Content:SVG, size/s

#34525 RTCRtpTransceiver: setCodecPreferences - improve docs
  files/en-us/web/api/rtcrtptransceiver/setcodecpreferences/index.md
Labels: Content:WebAPI, size/m

#34439 Fix anchors, Glossary/Learn/Meta
  files/en-us/glossary/clickjacking/index.md
  files/en-us/learn/css/building_blocks/values_and_units/index.md
  files/en-us/learn/css/css_layout/media_queries/index.md
  files/en-us/learn/css/howto/fill_a_box_with_an_image/index.md
  files/en-us/learn/css/styling_text/fundamentals/index.md
  files/en-us/learn/css/styling_text/styling_links/index.md
  files/en-us/learn/forms/user_input_methods/index.md
  files/en-us/learn/html/howto/add_a_hit_map_on_top_of_an_image/index.md
  files/en-us/learn/javascript/building_blocks/functions/index.md
  files/en-us/learn/javascript/client-side_web_apis/drawing_graphics/index.md
  files/en-us/learn/javascript/client-side_web_apis/introduction/index.md
  files/en-us/learn/javascript/client-side_web_apis/manipulating_documents/index.md
  files/en-us/learn/javascript/first_steps/math/index.md
  files/en-us/learn/performance/javascript/index.md
  files/en-us/learn/server-side/django/home_page/index.md
  files/en-us/learn/server-side/express_nodejs/deployment/index.md
  files/en-us/learn/server-side/express_nodejs/displaying_data/locallibrary_base_template/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/ember_interactivity_events_state/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/react_interactivity_events_state/index.md
  files/en-us/learn/tools_and_testing/cross_browser_testing/feature_detection/index.md
  files/en-us/learn/tools_and_testing/cross_browser_testing/introduction/index.md
  files/en-us/learn/tools_and_testing/cross_browser_testing/javascript/index.md
  files/en-us/mdn/community/discussions/managing_and_resolving_discussions/index.md
  files/en-us/mdn/community/issues/index.md
  files/en-us/mdn/community/roles_teams/index.md
  files/en-us/mdn/writing_guidelines/page_structures/links/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/css_selector_page_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/page_type_key/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/svg_element_page_template/index.md
Labels: Content:Learn, Content:Learn:Django, Content:Learn:Express, Content:Glossary, Content:Learn:Client-side, Content:Learn:JavaScript, Content:Meta, Content:Learn:CSS, Content:Learn:HTML, Content:Learn:Forms, Content:Learn:Cross-Browser-Testing, size/m

#34524 Clarify difference between select and datalist
  files/en-us/web/html/element/datalist/index.md
Labels: Content:HTML, size/xs

#34516 Fix viewport meta width/height description
  files/en-us/web/html/viewport_meta_tag/index.md
Labels: Content:HTML, size/xs

#34458 fix: duplicated entry
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/glossary/second-level_domain/index.md
  files/en-us/glossary/sld/index.md
Labels: Content:Glossary, size/s

#34550 Make chunks definition linkable; link to it
  files/en-us/web/api/readablestreamdefaultcontroller/enqueue/index.md
  files/en-us/web/api/streams_api/concepts/index.md
Labels: Content:WebAPI, size/s

#34541 Delete cross-global fetch page; document relative URL handling in fet…
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/fetch/index.md
  files/en-us/web/api/fetch_api/cross-global_fetch_usage/index.md
Labels: Content:WebAPI, size/s

#34538 Standardize examples in `URLSearchParams: has()`
  files/en-us/web/api/urlsearchparams/has/index.md
Labels: Content:WebAPI, size/s

#34539 Fix anchors, JS/HTTP/HTML
  files/en-us/web/api/attribution_reporting_api/generating_reports/index.md
  files/en-us/web/api/attribution_reporting_api/registering_triggers/index.md
  files/en-us/web/html/attributes/rel/index.md
  files/en-us/web/html/date_and_time_formats/index.md
  files/en-us/web/html/element/hr/index.md
  files/en-us/web/html/element/img/index.md
  files/en-us/web/html/element/index.md
  files/en-us/web/html/element/input/checkbox/index.md
  files/en-us/web/html/element/input/datetime-local/index.md
  files/en-us/web/html/element/input/hidden/index.md
  files/en-us/web/html/element/input/month/index.md
  files/en-us/web/html/element/input/time/index.md
  files/en-us/web/html/viewport_meta_tag/index.md
  files/en-us/web/http/cookies/index.md
  files/en-us/web/http/headers/attribution-reporting-register-source/index.md
  files/en-us/web/http/headers/attribution-reporting-register-trigger/index.md
  files/en-us/web/http/headers/cache-control/index.md
  files/en-us/web/http/headers/sec-ch-prefers-color-scheme/index.md
  files/en-us/web/http/headers/warning/index.md
  files/en-us/web/http/status/index.md
  files/en-us/web/javascript/guide/using_promises/index.md
  files/en-us/web/javascript/reference/global_objects/array/reduceright/index.md
  files/en-us/web/javascript/reference/global_objects/intl/locale/locale/index.md
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/resolvedoptions/index.md
  files/en-us/web/javascript/reference/global_objects/intl/pluralrules/resolvedoptions/index.md
Labels: Content:HTML, Content:WebAPI, Content:JS, Content:HTTP, size/m

#34546 Fix anchors, API a-d
  files/en-us/web/api/animation/index.md
  files/en-us/web/api/baseaudiocontext/createbuffer/index.md
  files/en-us/web/api/beforeunloadevent/index.md
  files/en-us/web/api/canvas_api/tutorial/drawing_text/index.md
  files/en-us/web/api/canvas_api/tutorial/using_images/index.md
  files/en-us/web/api/canvasrenderingcontext2d/filter/index.md
  files/en-us/web/api/canvasrenderingcontext2d/restore/index.md
  files/en-us/web/api/channelmergernode/channelmergernode/index.md
  files/en-us/web/api/console/index.md
  files/en-us/web/api/console_api/index.md
  files/en-us/web/api/css_object_model/managing_screen_orientation/index.md
  files/en-us/web/api/csspseudoelement/type/index.md
  files/en-us/web/api/cssrule/index.md
  files/en-us/web/api/dedicatedworkerglobalscope/requestanimationframe/index.md
  files/en-us/web/api/document/createattribute/index.md
  files/en-us/web/api/document/creatensresolver/index.md
  files/en-us/web/api/document/createprocessinginstruction/index.md
  files/en-us/web/api/document/domain/index.md
  files/en-us/web/api/document/execcommand/index.md
  files/en-us/web/api/document/hasunpartitionedcookieaccess/index.md
  files/en-us/web/api/document_object_model/examples/index.md
  files/en-us/web/api/documenttype/before/index.md
  files/en-us/web/api/editcontext_api/guide/index.md
  files/en-us/web/api/intersectionobserverentry/index.md
  files/en-us/web/api/offlineaudiocontext/offlineaudiocontext/index.md
  files/en-us/web/api/window/requestanimationframe/index.md
Labels: Content:WebAPI, size/m

#32703 Clarify APIs supporting manifest keys
  files/en-us/mozilla/add-ons/webextensions/api/action/index.md
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/index.md
  files/en-us/mozilla/add-ons/webextensions/api/pageaction/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/action/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/browser_action/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/page_action/index.md
Labels: Content:WebExt, size/s

#33511 Editorial review: CSS anchor positioning 4: sizing and positioning part 2
  files/en-us/web/css/anchor-name/index.md
  files/en-us/web/css/anchor-size/index.md
  files/en-us/web/css/anchor/index.md
  files/en-us/web/css/block-size/index.md
  files/en-us/web/css/height/index.md
  files/en-us/web/css/inline-size/index.md
  files/en-us/web/css/max-block-size/index.md
  files/en-us/web/css/max-height/index.md
  files/en-us/web/css/max-inline-size/index.md
  files/en-us/web/css/max-width/index.md
  files/en-us/web/css/min-block-size/index.md
  files/en-us/web/css/min-height/index.md
  files/en-us/web/css/min-inline-size/index.md
  files/en-us/web/css/min-width/index.md
  files/en-us/web/css/position-visibility/index.md
  files/en-us/web/css/width/index.md
  files/en-us/web/html/global_attributes/anchor/index.md
Labels: Content:CSS, Content:HTML, size/m

#34554 Remove -moz-page CSS selectors
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/firefox/releases/7/index.md
  files/en-us/web/css/_doublecolon_-moz-page-sequence/index.md
  files/en-us/web/css/_doublecolon_-moz-page/index.md
  files/en-us/web/css/_doublecolon_-moz-scrolled-page-sequence/index.md
  files/en-us/web/css/mozilla_extensions/index.md
Labels: Content:CSS, Content:Firefox, size/m

#34466 Docs for support for execution-world MAIN
  files/en-us/mozilla/add-ons/webextensions/api/contentscripts/register/index.md
  files/en-us/mozilla/add-ons/webextensions/api/scripting/executionworld/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/content_scripts/index.md
  files/en-us/mozilla/firefox/releases/128/index.md
Labels: Content:WebExt, Content:Firefox, size/s

#34573 Fix a typo in Conclusion
  files/en-us/learn/javascript/building_blocks/events/index.md
Labels: Content:Learn:JavaScript, size/xs

#34437 Document request options in one place
  files/en-us/web/api/fetch/index.md
  files/en-us/web/api/request/credentials/index.md
  files/en-us/web/api/request/request/index.md
  files/en-us/web/api/requestinit/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, size/m

#34571 fixed typo ('as' to 'if')
  files/en-us/web/html/attributes/rel/index.md
Labels: Content:HTML, size/xs

#34494 Restore mention of popup-controlling features in window.open
  files/en-us/web/api/window/open/index.md
Labels: Content:WebAPI, size/s

#34565 Remove references to group role in list role
  files/en-us/web/accessibility/aria/roles/list_role/index.md
Labels: Content:Accessibility, size/s

#34564 Fix anchors, API w-z
  files/en-us/web/api/intersection_observer_api/timing_element_visibility/index.md
  files/en-us/web/api/prioritized_task_scheduling_api/index.md
  files/en-us/web/api/web_audio_api/simple_synth/index.md
  files/en-us/web/api/web_components/index.md
  files/en-us/web/api/webgl_api/webgl_best_practices/index.md
  files/en-us/web/api/webgl_api/webgl_model_view_projection/index.md
  files/en-us/web/api/webotp_api/index.md
  files/en-us/web/api/webrtc_api/signaling_and_video_calling/index.md
  files/en-us/web/api/websockets_api/writing_websocket_servers/index.md
  files/en-us/web/api/webvr_api/index.md
  files/en-us/web/api/window/sidebar/index.md
  files/en-us/web/api/xpathexception/index.md
  files/en-us/web/api/xrinputsourceevent/index.md
  files/en-us/web/api/xrsession/index.md
  files/en-us/web/api/xrsession/selectend_event/index.md
  files/en-us/web/api/xrsession/squeeze_event/index.md
  files/en-us/web/api/xrsession/squeezeend_event/index.md
  files/en-us/web/api/xrsession/squeezestart_event/index.md
Labels: Content:WebAPI, size/m

#34480 CSS maintenance: `order` property
  files/en-us/web/css/order/index.md
Labels: Content:CSS, size/s

#34557 Remove -webkit-overflow-scrolling CSS property
  files/en-us/_wikihistory.json
  files/en-us/web/css/-webkit-overflow-scrolling/index.md
Labels: Content:CSS, size/m

#34579 Synchronize with BCD v5.5.36
  files/en-us/web/html/attributes/rel/index.md
  files/en-us/web/html/attributes/rel/manifest/index.md
Labels: Content:HTML, size/s

#34580 fix a typo of the script block
  files/en-us/web/api/virtualkeyboard/hide/index.md
Labels: Content:WebAPI, size/xs

#34566 Fix groupdata for fetch
  files/jsondata/GroupData.json
Labels: size/s

#34569 Update note about autoplaying audio
  files/en-us/web/html/element/video/index.md
Labels: Content:HTML, size/xs

#34584 Fix WeakMap cache explanation
  files/en-us/web/javascript/reference/global_objects/weakmap/index.md
Labels: Content:JS, size/xs

#34590 Fix typo on basic concepts of flexbox page
  files/en-us/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/index.md
Labels: Content:CSS, size/xs

#34574 Update HTTP status 405 page
  files/en-us/web/http/status/405/index.md
Labels: Content:HTTP, size/xs

#34568 Replace placeholder.com service with dummyimage
  files/en-us/web/css/css_grid_layout/grid_layout_and_progressive_enhancement/index.md
  files/en-us/web/html/element/area/index.md
Labels: Content:CSS, Content:HTML, size/xs

#34462 inset-area: property and data type: anchor positioning #6
  files/en-us/web/css/inset-area/index.md
  files/en-us/web/css/inset-area/inset-area.drawio
  files/en-us/web/css/inset-area/inset-area.png
  files/en-us/web/css/inset-area_value/index.md
  files/en-us/web/css/inset-area_value/inset-area.png
Labels: Content:CSS, size/l

#34592 Add documentation to cover Firefox CSP SVG sprite blocking issue
  files/en-us/web/http/headers/content-security-policy/default-src/index.md
  files/en-us/web/http/headers/content-security-policy/index.md
  files/en-us/web/security/practical_implementation_guides/csp/index.md
Labels: Content:HTTP, Content:Security, size/m

#34581 CSS caption-side: Remove unsupported values
  files/en-us/web/css/caption-side/index.md
Labels: Content:CSS, size/s

#34556 Remove unsupported values for -moz-user-input CSS property
  files/en-us/web/css/-moz-user-input/index.md
Labels: Content:CSS, size/s

#34593 Fix typo in file input page
  files/en-us/web/html/element/input/file/index.md
Labels: Content:HTML, size/xs

#34586 fixed outdated explanation to match the example
  files/en-us/web/api/css_object_model/managing_screen_orientation/index.md
Labels: Content:WebAPI, size/s

#34237 Maintenance: CSS flex guide: updates to guide 5
  files/en-us/web/css/css_flexible_box_layout/controlling_ratios_of_flex_items_along_the_main_axis/index.md
Labels: Content:CSS, size/m

#34340 Correct syntax rules for <ident>
  files/en-us/web/css/ident/index.md
Labels: Content:CSS, size/m

#34605 Document NodeIterator FILTER_REJECT vs FILTER_SKIP
  files/en-us/web/api/document/createnodeiterator/index.md
Labels: Content:WebAPI, size/xs

#34522 Static DNR rules with unrecognized keys loaded
  files/en-us/mozilla/add-ons/webextensions/manifest.json/declarative_net_request/index.md
  files/en-us/mozilla/firefox/releases/128/index.md
Labels: Content:WebExt, Content:Firefox, size/xs

#34576 Fix issue 13208: document response body access exceptions
  files/en-us/web/api/abortcontroller/index.md
  files/en-us/web/api/abortsignal/index.md
  files/en-us/web/api/fetch_api/using_fetch/index.md
  files/en-us/web/api/response/arraybuffer/index.md
  files/en-us/web/api/response/blob/index.md
  files/en-us/web/api/response/bytes/index.md
  files/en-us/web/api/response/formdata/index.md
  files/en-us/web/api/response/json/index.md
  files/en-us/web/api/response/text/index.md
Labels: Content:WebAPI, size/m

#34600 Update ToggleEvent page to show that it's now also used for details.
  files/en-us/web/api/toggleevent/index.md
Labels: Content:WebAPI, size/s

#34514 fix(html): remove ogv file from example
  files/en-us/web/html/element/video/index.md
Labels: Content:HTML, size/s

#34528 fix typos
  files/en-us/web/css/anchor/index.md
  files/en-us/web/css/position-anchor/index.md
Labels: Content:CSS, size/s

#34611 OS X -> macOS
  files/en-us/glossary/mozilla_firefox/index.md
  files/en-us/learn/common_questions/tools_and_setup/using_github_pages/index.md
  files/en-us/learn/tools_and_testing/cross_browser_testing/accessibility/index.md
Labels: Content:Learn, Content:Glossary, Content:Learn:Cross-Browser-Testing, size/s

#34607 fix: typo in `tabs.move()`
  files/en-us/mozilla/add-ons/webextensions/api/tabs/move/index.md
Labels: Content:WebExt, size/xs

#34599 Update documentation about apple-touch-icon
  files/en-us/learn/html/introduction_to_html/the_head_metadata_in_html/index.md
  files/en-us/web/html/attributes/rel/index.md
  files/en-us/web/html/element/link/index.md
Labels: Content:HTML, Content:Learn:HTML, size/m

#34596 List styling issue
  files/en-us/web/css/anchor-size/index.md
Labels: Content:CSS, size/s

#34544 Fix anchors, CSS batch 1
  files/en-us/web/api/contentvisibilityautostatechangeevent/contentvisibilityautostatechangeevent/index.md
  files/en-us/web/api/contentvisibilityautostatechangeevent/index.md
  files/en-us/web/api/contentvisibilityautostatechangeevent/skipped/index.md
  files/en-us/web/api/element/contentvisibilityautostatechange_event/index.md
  files/en-us/web/api/element/index.md
  files/en-us/web/css/@font-face/index.md
  files/en-us/web/css/@font-feature-values/index.md
  files/en-us/web/css/@media/color-gamut/index.md
  files/en-us/web/css/@media/display-mode/index.md
  files/en-us/web/css/@media/index.md
  files/en-us/web/css/@media/prefers-reduced-transparency/index.md
  files/en-us/web/css/@page/index.md
  files/en-us/web/css/_colon_-moz-submit-invalid/index.md
  files/en-us/web/css/_colon_modal/index.md
  files/en-us/web/css/_colon_user-invalid/index.md
  files/en-us/web/css/_colon_user-valid/index.md
  files/en-us/web/css/anchor/index.md
  files/en-us/web/css/color_value/hwb/index.md
  files/en-us/web/css/contain-intrinsic-block-size/index.md
  files/en-us/web/css/contain-intrinsic-height/index.md
  files/en-us/web/css/contain-intrinsic-inline-size/index.md
  files/en-us/web/css/contain-intrinsic-width/index.md
  files/en-us/web/css/content-visibility/index.md
  files/en-us/web/css/css_box_model/index.md
  files/en-us/web/css/css_box_sizing/index.md
  files/en-us/web/css/css_cascade/index.md
  files/en-us/web/css/css_colors/color_values/index.md
  files/en-us/web/css/css_containment/container_size_and_style_queries/index.md
  files/en-us/web/css/css_containment/using_css_containment/index.md
  files/en-us/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/index.md
  files/en-us/web/css/css_generated_content/index.md
  files/en-us/web/css/css_media_queries/printing/index.md
  files/en-us/web/css/css_overflow/index.md
  files/en-us/web/css/pseudo-classes/index.md
Labels: Content:CSS, Content:WebAPI, size/m

#34563 Remove `inter-character` value from `ruby-position` CSS property
  files/en-us/web/css/ruby-position/index.md
Labels: Content:CSS, size/s

#34622 fix typo
  files/en-us/mozilla/add-ons/webextensions/api/tabs/setzoomsettings/index.md
Labels: Content:WebExt, size/xs

#34558 Remove initial-letter-align CSS property
  files/en-us/_wikihistory.json
  files/en-us/web/css/initial-letter-align/index.md
  files/en-us/web/css/initial-letter/index.md
Labels: Content:CSS, size/m

#34018 fix(css): elaborate how gap percentage values behave
  files/en-us/web/css/gap/index.md
Labels: Content:CSS, size/m

#34598 Add Function.length example including destructuring patterns
  files/en-us/web/javascript/reference/global_objects/function/length/index.md
Labels: Content:JS, size/s

#34627 fix: '/en-US/observatory/' -> '/en-US/observatory'
  files/en-us/learn/server-side/apache_configuration_htaccess/index.md
  files/en-us/web/http/headers/x-content-type-options/index.md
  files/en-us/web/http/index.md
  files/en-us/web/security/index.md
  files/en-us/web/security/practical_implementation_guides/index.md
  files/en-us/web/security/transport_layer_security/index.md
Labels: Content:Learn, Content:HTTP, Content:Security, size/s

#33910 Add CloseWatcher reference pages
  files/en-us/web/api/closewatcher/cancel_event/index.md
  files/en-us/web/api/closewatcher/close/index.md
  files/en-us/web/api/closewatcher/close_event/index.md
  files/en-us/web/api/closewatcher/closewatcher/index.md
  files/en-us/web/api/closewatcher/destroy/index.md
  files/en-us/web/api/closewatcher/index.md
  files/en-us/web/api/closewatcher/requestclose/index.md
Labels: Content:WebAPI, size/m

#34623 Update Firefox 128 release notes for WebDriver conforming changes
  files/en-us/mozilla/firefox/releases/128/index.md
Labels: Content:Firefox, size/s

#34609 Document that saturate()/hue-rotate() are not in HSL space
  files/en-us/web/css/filter-function/hue-rotate/index.md
  files/en-us/web/css/filter-function/saturate/index.md
Labels: Content:CSS, size/m

#34616 Fix description of device-cmyk
  files/en-us/web/css/css_functions/index.md
Labels: Content:CSS, size/xs

#34617 css overflow module: spec & unsupported props
  files/en-us/web/css/css_overflow/index.md
Labels: Content:CSS, size/s

#34624 Fix anchors, regressions 1
  files/en-us/glossary/forbidden_header_name/index.md
  files/en-us/web/api/document/requeststorageaccessfor/index.md
  files/en-us/web/api/file/index.md
  files/en-us/web/api/navigator/sendbeacon/index.md
  files/en-us/web/api/storage_access_api/using/index.md
  files/en-us/web/api/web_audio_api/best_practices/index.md
  files/en-us/web/css/css_anchor_positioning/using/index.md
  files/en-us/web/css/css_box_sizing/understanding_aspect-ratio/index.md
  files/en-us/web/css/css_flexible_box_layout/controlling_ratios_of_flex_items_along_the_main_axis/index.md
  files/en-us/web/http/cors/index.md
  files/en-us/web/http/headers/access-control-allow-credentials/index.md
  files/en-us/web/http/headers/permissions-policy/attribution-reporting/index.md
  files/en-us/web/javascript/guide/typed_arrays/index.md
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/resolvedoptions/index.md
  files/en-us/web/security/practical_implementation_guides/corp/index.md
Labels: Content:CSS, Content:WebAPI, Content:JS, Content:HTTP, Content:Glossary, Content:Security, size/s

#34628 Fix anchors, API k-v
  files/en-us/web/api/keyboardevent/index.md
  files/en-us/web/api/keyboardevent/keycode/index.md
  files/en-us/web/api/media_capture_and_streams_api/constraints/index.md
  files/en-us/web/api/payment_request_api/using_secure_payment_confirmation/index.md
  files/en-us/web/api/paymentmethodchangeevent/methodname/index.md
  files/en-us/web/api/performance_api/high_precision_timing/index.md
  files/en-us/web/api/reporterror/index.md
  files/en-us/web/api/rtcdtlstransport/index.md
  files/en-us/web/api/rtcicecandidate/index.md
  files/en-us/web/api/rtcicecandidatestats/candidatetype/index.md
  files/en-us/web/api/rtcicecandidatestats/index.md
  files/en-us/web/api/rtcpeerconnection/createoffer/index.md
  files/en-us/web/api/rtcrtpsender/getstats/index.md
  files/en-us/web/api/rtcrtpsender/replacetrack/index.md
  files/en-us/web/api/rtcrtpsender/setparameters/index.md
  files/en-us/web/api/scheduler/posttask/index.md
  files/en-us/web/api/speechrecognition/index.md
  files/en-us/web/api/speechrecognition/lang/index.md
  files/en-us/web/api/speechsynthesisutterance/lang/index.md
  files/en-us/web/api/storage_api/index.md
  files/en-us/web/api/stylepropertymap/index.md
  files/en-us/web/api/topics_api/index.md
  files/en-us/web/api/touch_events/multi-touch_interaction/index.md
  files/en-us/web/api/trustedtypepolicyfactory/defaultpolicy/index.md
  files/en-us/web/api/view_transitions_api/using/index.md
  files/en-us/web/api/vrdisplayevent/index.md
Labels: Content:WebAPI, size/m

#34632 Consistent reduced time precision sections
  files/en-us/web/api/animation/currenttime/index.md
  files/en-us/web/api/animation/starttime/index.md
  files/en-us/web/api/animationplaybackevent/currenttime/index.md
  files/en-us/web/api/animationtimeline/currenttime/index.md
  files/en-us/web/api/baseaudiocontext/currenttime/index.md
  files/en-us/web/api/event/timestamp/index.md
  files/en-us/web/api/file/lastmodified/index.md
  files/en-us/web/api/file/lastmodifieddate/index.md
  files/en-us/web/api/htmlmediaelement/currenttime/index.md
  files/en-us/web/javascript/reference/global_objects/date/date/index.md
  files/en-us/web/javascript/reference/global_objects/date/gettime/index.md
  files/en-us/web/javascript/reference/global_objects/date/now/index.md
Labels: Content:WebAPI, Content:JS, size/m

#34615 typo-fix: django forms tute
  files/en-us/learn/server-side/django/forms/index.md
Labels: Content:Learn:Django, size/xs

#34547 Fixes for CHIPS and cookies with __Host_ prefix
  files/en-us/web/http/headers/set-cookie/index.md
  files/en-us/web/privacy/privacy_sandbox/partitioned_cookies/index.md
Labels: Content:Other, Content:HTTP, size/s

#34508 Cross-link pointer capture and pointer lock
  files/en-us/web/api/element/haspointercapture/index.md
  files/en-us/web/api/element/releasepointercapture/index.md
  files/en-us/web/api/element/setpointercapture/index.md
  files/en-us/web/api/pointer_events/index.md
  files/en-us/web/api/pointer_lock_api/index.md
Labels: Content:WebAPI, size/s

#34589 Explicitly say what Link header can be used for
  files/en-us/web/http/headers/link/index.md
Labels: Content:HTTP, size/xs

#34601 Document that class and ID selector values must be valid CSS identifiers
  files/en-us/web/css/class_selectors/index.md
  files/en-us/web/css/id_selectors/index.md
Labels: Content:CSS, size/m

#34602 alignment-baseline usable on <text>
  files/en-us/web/svg/attribute/alignment-baseline/index.md
Labels: Content:SVG, size/xs

#34603 Make tabs example robust against nested tabs
  files/en-us/web/accessibility/aria/roles/tab_role/index.md
Labels: Content:Accessibility, size/s

#34610 Use more salient name for imported Wasm module
  files/en-us/webassembly/javascript_interface/compilestreaming_static/index.md
  files/en-us/webassembly/javascript_interface/index.md
  files/en-us/webassembly/javascript_interface/instance/exports/index.md
  files/en-us/webassembly/javascript_interface/instance/index.md
  files/en-us/webassembly/javascript_interface/instance/instance/index.md
  files/en-us/webassembly/javascript_interface/instantiate_static/index.md
  files/en-us/webassembly/javascript_interface/instantiatestreaming_static/index.md
  files/en-us/webassembly/javascript_interface/module/exports_static/index.md
  files/en-us/webassembly/javascript_interface/module/imports_static/index.md
  files/en-us/webassembly/javascript_interface/module/index.md
  files/en-us/webassembly/javascript_interface/module/module/index.md
  files/en-us/webassembly/text_format_to_wasm/index.md
  files/en-us/webassembly/using_the_javascript_api/index.md
Labels: Content:wasm, size/s

#34612 createNSResolver/lookupNamespaceURI updates
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/document/creatensresolver/index.md
  files/en-us/web/api/document/index.md
  files/en-us/web/api/node/lookupnamespaceuri/index.md
  files/en-us/web/api/xpathevaluator/createexpression/index.md
  files/en-us/web/api/xpathevaluator/creatensresolver/index.md
  files/en-us/web/api/xpathevaluator/evaluate/index.md
  files/en-us/web/api/xpathevaluator/index.md
  files/en-us/web/api/xpathexpression/evaluate/index.md
  files/en-us/web/api/xpathnsresolver/index.md
  files/en-us/web/api/xpathnsresolver/lookupnamespaceuri/index.md
  files/en-us/web/xpath/introduction_to_using_xpath_in_javascript/index.md
  files/en-us/web/xpath/snippets/index.md
Labels: Content:WebAPI, Content:Other, size/m

#34614 Fix recommendation to recompress already compressed content
  files/en-us/web/http/compression/index.md
Labels: Content:HTTP, size/xs

#34626 Fix anchors, A11y/Media/Privacy/PWA/Security
  files/en-us/web/accessibility/aria/attributes/aria-errormessage/index.md
  files/en-us/web/accessibility/aria/attributes/aria-invalid/index.md
  files/en-us/web/accessibility/aria/roles/contentinfo_role/index.md
  files/en-us/web/accessibility/aria/roles/tab_role/index.md
  files/en-us/web/accessibility/aria/roles/tabpanel_role/index.md
  files/en-us/web/accessibility/seizure_disorders/index.md
  files/en-us/web/accessibility/understanding_wcag/operable/index.md
  files/en-us/web/accessibility/understanding_wcag/perceivable/index.md
  files/en-us/web/css/css_shapes/basic_shapes/index.md
  files/en-us/web/css/css_transforms/using_css_transforms/index.md
  files/en-us/web/media/audio_and_video_delivery/index.md
  files/en-us/web/media/formats/audio_codecs/index.md
  files/en-us/web/media/formats/codecs_parameter/index.md
  files/en-us/web/media/formats/containers/index.md
  files/en-us/web/media/formats/video_codecs/index.md
  files/en-us/web/media/formats/webrtc_codecs/index.md
  files/en-us/web/privacy/state_partitioning/index.md
  files/en-us/web/privacy/storage_access_policy/errors/cookiepartitionedforeign/index.md
  files/en-us/web/privacy/third-party_cookies/index.md
  files/en-us/web/progressive_web_apps/tutorials/cycletracker/html_and_css/index.md
  files/en-us/web/progressive_web_apps/tutorials/cycletracker/manifest_file/index.md
  files/en-us/web/security/mixed_content/index.md
  files/en-us/web/security/practical_implementation_guides/cookies/index.md
  files/en-us/web/security/practical_implementation_guides/tls/index.md
  files/en-us/web/webdriver/capabilities/firefoxoptions/index.md
Labels: Content:CSS, Content:Other, Content:Accessibility, Content:Media, Content:WebDriver, Content:Security, Content:PWA, size/m

#34630 Namespace example is XHTML not HTML
  files/en-us/web/svg/namespaces_crash_course/index.md
Labels: Content:SVG, size/s

#34135 FF128 ReleaseNote/Expr Features - shareable/growable buffers
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/128/index.md
Labels: Content:Firefox, size/m

#34631 Mention DataTransfer usage in other APIs, clarify it can be null
  files/en-us/web/api/clipboardevent/clipboarddata/index.md
  files/en-us/web/api/datatransfer/index.md
  files/en-us/web/api/datatransfer/types/index.md
  files/en-us/web/api/datatransferitem/index.md
  files/en-us/web/api/datatransferitemlist/index.md
  files/en-us/web/api/dragevent/datatransfer/index.md
  files/en-us/web/api/inputevent/data/index.md
  files/en-us/web/api/inputevent/datatransfer/index.md
Labels: Content:WebAPI, size/s

#34634 Remove speculation about return await performance
  files/en-us/web/javascript/reference/operators/await/index.md
Labels: Content:JS, size/xs

#34638 Clarify resolution and default of URL-related manifest members
  files/en-us/web/manifest/id/index.md
  files/en-us/web/manifest/scope/index.md
  files/en-us/web/manifest/start_url/index.md
Labels: Content:Manifest, size/s

#34636 Mention ?? and ?. in operators guide
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
Labels: Content:JS, size/m

#34642 Explain why Connection: keep-alive is sent despite it being the default
  files/en-us/web/http/headers/connection/index.md
Labels: Content:HTTP, size/xs

#34307 FF128 Relnote: HTMLMediaElement.seekToNextFrame() removed
  files/en-us/mozilla/firefox/releases/128/index.md
Labels: Content:Firefox, size/xs

#34474 FF128 Relnote: RFC 9218: Extensible Prioritization Scheme for HTTP
  files/en-us/mozilla/firefox/releases/128/index.md
Labels: Content:Firefox, size/xs

#34645 Example of parentElement vs parentNode
  files/en-us/web/api/node/parentelement/index.md
  files/en-us/web/api/node/parentnode/index.md
Labels: Content:WebAPI, size/s

#34648 Update index.md (fixed ungrammatical sentence)
  files/en-us/web/api/cssmediarule/media/index.md
Labels: Content:WebAPI, size/xs

#34647 Update implicit aria role for `<hgroup>`
  files/en-us/web/html/element/hgroup/index.md
Labels: Content:HTML, size/s

#34644 sizes accepts any length value
  files/en-us/learn/html/multimedia_and_embedding/responsive_images/index.md
Labels: Content:Learn:HTML, size/xs

#34640 'content' should be wrapped in backticks as we're referring to the CSS value `content`
  files/en-us/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/index.md
Labels: Content:CSS, size/xs

#34637 Add some sentences about -webkit-line-clamp standard status
  files/en-us/web/css/-webkit-line-clamp/index.md
Labels: Content:CSS, size/xs

#34629 Replace alert in canvas_api_tutorial
  files/en-us/web/api/canvas_api/tutorial/applying_styles_and_colors/index.md
Labels: Content:WebAPI, size/s

#34660 fixed the syntax for CSSUnitValue() constructor
  files/en-us/web/api/cssunitvalue/cssunitvalue/index.md
Labels: Content:WebAPI, size/s

#34664 Fix some invalid page structures
  files/en-us/web/api/closeevent/closeevent/index.md
  files/en-us/web/api/closewatcher/closewatcher/index.md
  files/en-us/web/api/deviceorientationevent/deviceorientationevent/index.md
  files/en-us/web/api/event/initevent/index.md
  files/en-us/web/api/featurepolicy/getallowlistforfeature/index.md
  files/en-us/web/api/fetchevent/fetchevent/index.md
  files/en-us/web/api/filesystemdirectoryentry/removerecursively/index.md
  files/en-us/web/api/filesystementry/copyto/index.md
  files/en-us/web/api/filesystementry/getmetadata/index.md
  files/en-us/web/api/filesystementry/getparent/index.md
  files/en-us/web/api/filesystementry/moveto/index.md
  files/en-us/web/api/filesystementry/remove/index.md
  files/en-us/web/api/imagedata/imagedata/index.md
  files/en-us/web/api/inputevent/inputevent/index.md
  files/en-us/web/api/installevent/installevent/index.md
  files/en-us/web/api/mediastreamaudiosourcenode/index.md
  files/en-us/web/api/messageevent/messageevent/index.md
  files/en-us/web/api/paintworkletglobalscope/registerpaint/index.md
  files/en-us/web/api/paymentrequestevent/paymentrequestevent/index.md
  files/en-us/web/api/request/request/index.md
  files/en-us/web/api/rtcdatachannel/close/index.md
  files/en-us/web/api/webglrenderingcontext/viewport/index.md
  files/en-us/web/api/xrview/requestviewportscale/index.md
Labels: Content:WebAPI, size/m

#34663 Removed `optional` as the index parameter of HTMLTableRowElement: deleteCell() is not optional
  files/en-us/web/api/htmltablerowelement/deletecell/index.md
Labels: Content:WebAPI, size/xs

#34662 Clarify Selection is a singleton
  files/en-us/web/api/document/getselection/index.md
  files/en-us/web/api/selection/index.md
  files/en-us/web/api/window/getselection/index.md
Labels: Content:WebAPI, size/s

#34661 fixed return value of CSSNumericValue: toSum()
  files/en-us/web/api/cssnumericvalue/tosum/index.md
Labels: Content:WebAPI, size/xs

#34658 Guide on preventing ResizeObserver errors
  files/en-us/web/api/resizeobserver/index.md
Labels: Content:WebAPI, size/m

#34656 Clarify when PiP element can be null
  files/en-us/web/api/document/pictureinpictureelement/index.md
Labels: Content:WebAPI, size/s

#34655 CSS(src): Fix invalid example @font-face def
  files/en-us/web/css/@font-face/src/index.md
Labels: Content:CSS, size/s

#34652 Fix: Manifest#orientation: should link to screen orientation API landing page
  files/en-us/web/manifest/orientation/index.md
Labels: Content:Manifest, size/xs

#34621 fix(css): fix visible and clip special cases on overflow page
  files/en-us/web/css/overflow/index.md
Labels: Content:CSS, size/s

#34650 Fix `ByteLengthQueuingStrategy` constructor syntax should match guidelines
  files/en-us/web/api/bytelengthqueuingstrategy/bytelengthqueuingstrategy/index.md
  files/en-us/web/api/countqueuingstrategy/countqueuingstrategy/index.md
Labels: Content:WebAPI, size/s

#34653 Fix: touchCache should be var or let, not const
  files/en-us/web/api/touch_events/multi-touch_interaction/index.md
Labels: Content:WebAPI, size/xs

#34674 WGSI -> WSGI
  files/en-us/learn/server-side/django/deployment/index.md
Labels: Content:Learn:Django, size/xs

#34669 Included EventSource CORS credentials option
  files/en-us/web/http/headers/access-control-allow-credentials/index.md
Labels: Content:HTTP, size/xs

#34336 Update support for installing non-PWA sites
  files/en-us/web/progressive_web_apps/guides/making_pwas_installable/index.md
Labels: Content:PWA, size/s

#34683 corrected a typo
  files/en-us/glossary/character_reference/index.md
Labels: Content:Glossary, size/xs

#34646 fixed wrong historical fact in Symbol.unscopables page
  files/en-us/web/javascript/reference/global_objects/array/@@unscopables/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/unscopables/index.md
Labels: Content:JS, size/s

#34635 Add context-stroke and context-fill example to SVG fill and stroke pages
  files/en-us/web/svg/attribute/fill/index.md
  files/en-us/web/svg/attribute/stroke/index.md
Labels: Content:SVG, size/m

#34691 fix typos
  files/en-us/web/api/document/getselection/index.md
  files/en-us/web/api/window/getselection/index.md
Labels: Content:WebAPI, size/xs

#34447 Docs for MAX_NUMBER_OF_DISABLED_STATIC_RULES
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/getavailablestaticrulecount/index.md
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/getdisabledruleids/index.md
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/guaranteed_minimum_static_rules/index.md
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/index.md
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/max_number_of_disabled_static_rules/index.md
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/max_number_of_enabled_static_rulesets/index.md
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/max_number_of_static_rulesets/index.md
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/updatestaticrules/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/declarative_net_request/index.md
  files/en-us/mozilla/firefox/releases/128/index.md
Labels: Content:WebExt, Content:Firefox, size/m

#34693 Adds a warning about two different replace() methods
  files/en-us/web/api/location/replace/index.md
Labels: Content:WebAPI, size/xs

#34692 web/http/cookies: correct capitalisation of Max-Age
  files/en-us/web/http/cookies/index.md
Labels: Content:HTTP, size/xs

#34643 Express: Pug variables evaluate as falsy and display as empty string
  files/en-us/learn/server-side/express_nodejs/displaying_data/home_page/index.md
  files/en-us/learn/server-side/express_nodejs/displaying_data/template_primer/index.md
Labels: Content:Learn:Express, size/s

#34595 Update View Form data section on Browser Dev Tools
  files/en-us/learn/forms/sending_and_retrieving_form_data/index.md
  files/en-us/learn/forms/sending_and_retrieving_form_data/network-monitor.png
Labels: Content:Learn:Forms, size/xs

#34533 Ff128 CHIPS (partitioned cookies) - release note and experimental features
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/128/index.md
Labels: Content:Firefox, size/s

#34678 Synchronize with BCD v5.5.37
  files/en-us/web/api/document/creatensresolver/index.md
  files/en-us/web/api/document/index.md
  files/en-us/web/api/xpathevaluator/creatensresolver/index.md
  files/en-us/web/api/xpathevaluator/index.md
Labels: Content:WebAPI, size/s

#34484 Add text-spacing-trim ref doc
  files/en-us/web/css/css_text/index.md
  files/en-us/web/css/text-spacing-trim/index.md
Labels: Content:CSS, size/m

#34711 Remove mention of "methods" from link HTML element
  files/en-us/web/html/element/link/index.md
Labels: Content:HTML, size/s

#34548 Add info about <base> target attribute disallowed chars
  files/en-us/web/html/element/base/index.md
Labels: Content:HTML, size/s

#34366 Createimagebitmap fix
  files/en-us/web/api/createimagebitmap/index.md
Labels: Content:WebAPI, size/m

#34553 Added .png as possible file extension for APNG-files
  files/en-us/web/media/formats/image_types/index.md
Labels: Content:Media, size/xs

#34549 FF128 RelNote: <base> element, target attribute can have newline, tab, < char
  files/en-us/mozilla/firefox/releases/128/index.md
Labels: Content:Firefox, size/xs

#34732 fix(api): remove alert() from addEventListner demo
  files/en-us/web/api/eventtarget/addeventlistener/index.md
Labels: Content:WebAPI, size/s

#34386 docs(manifest): Improve `display` member page
  files/en-us/web/manifest/display/index.md
Labels: Content:Manifest, size/m

#34734 fix(api): remove alert() and update Notification demo
  files/en-us/web/api/notifications_api/using_the_notifications_api/index.md
Labels: Content:WebAPI, size/s
