Repository mdn/content, pull requests merged in 2024-08, with the labels that each got.

#35214 Fix broken anchor links
  files/en-us/learn/javascript/asynchronous/introducing/index.md
  files/en-us/web/api/csspositiontrydescriptors/index.md
  files/en-us/web/api/history_api/working_with_the_history_api/index.md
  files/en-us/web/api/validitystate/valuemissing/index.md
  files/en-us/web/html/attributes/autocomplete/index.md
  files/en-us/web/http/client_hints/index.md
  files/en-us/web/media/formats/audio_codecs/index.md
  files/en-us/web/svg/attribute/media/index.md
Labels: Content:HTML, Content:WebAPI, Content:HTTP, Content:SVG, Content:Media, Content:Learn:JavaScript, size/s

#34826 Extend warning in Set-Cookie article
  files/en-us/web/http/headers/set-cookie/index.md
Labels: Content:HTTP, size/xs

#35263 fix(mathml): remove two obsolete values
  files/en-us/web/mathml/element/mstyle/index.md
Labels: Content:MathML, size/xs

#35256 Synchronize with BCD v5.5.43
  files/en-us/web/api/fontface/index.md
  files/en-us/web/api/fontface/variant/index.md
  files/en-us/web/api/gamepad/index.md
  files/en-us/web/api/gamepad/vibrationactuator/index.md
  files/en-us/web/api/gamepadhapticactuator/index.md
  files/en-us/web/api/gamepadhapticactuator/type/index.md
  files/en-us/web/api/gpuadapter/index.md
  files/en-us/web/api/gpuadapter/requestadapterinfo/index.md
  files/en-us/web/api/gpucommandencoder/index.md
  files/en-us/web/api/gpucommandencoder/writetimestamp/index.md
  files/en-us/web/api/performanceresourcetiming/contenttype/index.md
  files/en-us/web/api/performanceresourcetiming/index.md
  files/en-us/web/api/rtcencodedaudioframe/index.md
  files/en-us/web/api/rtcencodedaudioframe/timestamp/index.md
  files/en-us/web/api/rtcencodedvideoframe/index.md
  files/en-us/web/api/rtcencodedvideoframe/timestamp/index.md
Labels: Content:WebAPI, size/s

#35217 Update redirected links, part2
  files/en-us/games/publishing_games/game_distribution/index.md
  files/en-us/games/publishing_games/game_promotion/index.md
  files/en-us/games/techniques/2d_collision_detection/index.md
  files/en-us/games/techniques/3d_collision_detection/index.md
  files/en-us/games/techniques/3d_on_the_web/building_up_a_basic_demo_with_babylon.js/index.md
  files/en-us/games/techniques/3d_on_the_web/index.md
  files/en-us/games/techniques/control_mechanisms/other/index.md
  files/en-us/games/techniques/controls_gamepad_api/index.md
  files/en-us/games/tutorials/2d_breakout_game_phaser/physics/index.md
  files/en-us/games/tutorials/2d_breakout_game_phaser/randomizing_gameplay/index.md
  files/en-us/games/tutorials/html5_gamedev_phaser_device_orientation/index.md
  files/en-us/web/accessibility/accessibility_and_spacial_patterns/index.md
  files/en-us/web/accessibility/accessibility_colon__what_users_can_to_to_browse_safely/index.md
  files/en-us/web/accessibility/aria/attributes/aria-grabbed/index.md
  files/en-us/web/accessibility/aria/attributes/aria-modal/index.md
  files/en-us/web/accessibility/aria/how_to_file_aria-related_bugs/index.md
  files/en-us/web/accessibility/aria/multipart_labels/index.md
  files/en-us/web/accessibility/information_for_web_authors/index.md
  files/en-us/web/accessibility/mobile_accessibility_checklist/index.md
  files/en-us/web/accessibility/seizure_disorders/index.md
  files/en-us/web/accessibility/understanding_colors_and_luminance/index.md
  files/en-us/web/html/attributes/rel/modulepreload/index.md
  files/en-us/web/html/attributes/rel/prefetch/index.md
  files/en-us/web/html/element/fencedframe/index.md
  files/en-us/web/html/element/meta/name/index.md
  files/en-us/web/html/element/script/type/speculationrules/index.md
  files/en-us/web/html/element/section/index.md
  files/en-us/web/html/global_attributes/inert/index.md
  files/en-us/web/html/global_attributes/itemtype/index.md
  files/en-us/web/html/microdata/index.md
  files/en-us/web/html/viewport_meta_tag/index.md
  files/en-us/web/http/basics_of_http/data_urls/index.md
  files/en-us/web/http/basics_of_http/resource_urls/index.md
  files/en-us/web/http/caching/index.md
  files/en-us/web/http/compression/index.md
  files/en-us/web/http/cookies/index.md
  files/en-us/web/http/headers/attribution-reporting-register-trigger/index.md
  files/en-us/web/http/headers/index.md
  files/en-us/web/http/headers/strict-transport-security/index.md
  files/en-us/web/http/headers/supports-loading-mode/index.md
  files/en-us/web/http/headers/vary/index.md
  files/en-us/web/http/headers/x-content-type-options/index.md
  files/en-us/web/http/headers/x-frame-options/index.md
  files/en-us/web/http/headers/x-xss-protection/index.md
  files/en-us/web/http/permissions_policy/index.md
  files/en-us/web/http/proxy_servers_and_tunneling/proxy_auto-configuration_pac_file/index.md
  files/en-us/web/http/redirections/index.md
  files/en-us/web/http/resources_and_specifications/index.md
  files/en-us/web/http/status/405/index.md
  files/en-us/web/index.md
Labels: Content:HTML, Content:HTTP, Content:Accessibility, Content:Games, size/m

#35213 link style pages
  files/en-us/web/api/htmlelement/style/index.md
  files/en-us/web/html/global_attributes/style/index.md
Labels: Content:HTML, Content:WebAPI, size/xs

#35223 Glossary: classes and functions are block scoped too
  files/en-us/glossary/scope/index.md
Labels: Content:Glossary, size/xs

#35234 Fix up .zip MIME exception to windows only
  files/en-us/web/http/basics_of_http/mime_types/common_types/index.md
Labels: Content:HTTP, size/xs

#35210 Add consistently formatted "see also" links to all CSS value pages
  files/en-us/web/css/actual_value/index.md
  files/en-us/web/css/computed_value/index.md
  files/en-us/web/css/initial_value/index.md
  files/en-us/web/css/resolved_value/index.md
  files/en-us/web/css/used_value/index.md
Labels: Content:CSS, size/s

#35017 fix: Update timetable section to reflect html change
  files/en-us/learn/html/tables/basics/index.md
Labels: Content:Learn:HTML, size/xs

#35249 `setTimeout` IDs can in fact be reused
  files/en-us/web/api/settimeout/index.md
Labels: Content:WebAPI, size/xs

#35226 More examples for using slice()
  files/en-us/web/javascript/reference/global_objects/array/slice/index.md
Labels: Content:JS, size/m

#34954 What is JavaScript: link to local testing server
  files/en-us/learn/javascript/first_steps/what_is_javascript/index.md
Labels: Content:Learn:JavaScript, size/s

#35245 Fix typo in content categories page
  files/en-us/web/html/content_categories/index.md
Labels: Content:HTML, size/xs

#35250 Fix wording in "Inline formatting context"
  files/en-us/web/css/inline_formatting_context/index.md
Labels: Content:CSS, size/xs

#35254 a11y(aria): Remove dead link
  files/en-us/web/accessibility/aria/attributes/aria-label/index.md
Labels: Content:Accessibility, size/xs

#35251 Mention integer vs decimal difference
  files/en-us/web/api/css_object_model/determining_the_dimensions_of_elements/index.md
Labels: Content:WebAPI, size/xs

#35206 Express tute - mongodb setup screens
  files/en-us/learn/server-side/express_nodejs/deployment/index.md
  files/en-us/learn/server-side/express_nodejs/mongoose/index.md
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_accessrules.jpg
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_adddata.jpg
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_chooseaconnectionmethod.jpg
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_connectbutton.jpg
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_connectforshortsrv.jpg
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_createdatabase.jpg
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_createsharedcluster.jpg
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_databasecreated.jpg
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_deploy.jpg
  files/en-us/learn/server-side/express_nodejs/mongoose/mongodb_atlas_-_securityquickstart.jpg
Labels: Content:Learn:Express, size/s

#34886 fix: explicitly use `<i>` tag for italic text
  files/en-us/web/html/element/em/index.md
Labels: Content:HTML, size/s

#35274 Fix typo
  files/en-us/web/html/element/dialog/index.md
Labels: Content:HTML, size/xs

#35168 Fix 28752 part 4
  files/en-us/web/html/global_attributes/class/index.md
  files/en-us/web/html/global_attributes/id/index.md
Labels: Content:HTML, size/s

#34960 CSSPageRule.style update to CSSPageDescriptors
  files/en-us/web/api/csspagedescriptors/index.md
  files/en-us/web/api/csspagerule/index.md
  files/en-us/web/api/csspagerule/style/index.md
  files/en-us/web/api/cssstyledeclaration/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, size/m

#35236 FF129 Relnote - PerformanceResourceTiming contentType + resourceStatus
  files/en-us/mozilla/firefox/releases/129/index.md
Labels: Content:Firefox, size/xs

#35228 Added CSS shape-rendering property
  files/en-us/_redirects.txt
  files/en-us/web/css/shape-rendering/index.md
  files/en-us/web/svg/attribute/shape-rendering/index.md
Labels: Content:CSS, Content:SVG, size/m

#35167 Added CSS text-anchor property
  files/en-us/_redirects.txt
  files/en-us/web/css/text-anchor/index.md
  files/en-us/web/svg/attribute/text-anchor/index.md
Labels: Content:CSS, Content:SVG, size/m

#34371 fix(css): update color-mix() page
  files/en-us/web/css/color-interpolation-method/index.md
  files/en-us/web/css/color_value/color-mix/index.md
Labels: Content:CSS, size/m

#35273 Update redirected links, part7
  files/en-us/web/api/topics_api/index.md
  files/en-us/web/api/topics_api/using/index.md
  files/en-us/web/api/web_audio_api/advanced_techniques/index.md
  files/en-us/web/api/web_audio_api/best_practices/index.md
  files/en-us/web/api/web_audio_api/tools/index.md
  files/en-us/web/api/web_components/using_custom_elements/index.md
  files/en-us/web/api/web_midi_api/index.md
  files/en-us/web/api/web_workers_api/using_web_workers/index.md
  files/en-us/web/api/webgl2renderingcontext/teximage3d/index.md
  files/en-us/web/api/webgl2renderingcontext/texstorage2d/index.md
  files/en-us/web/api/webgl_api/tutorial/adding_2d_content_to_a_webgl_context/index.md
  files/en-us/web/api/webgl_api/tutorial/getting_started_with_webgl/index.md
  files/en-us/web/api/webgl_api/using_extensions/index.md
  files/en-us/web/api/webgl_api/webgl_best_practices/index.md
  files/en-us/web/api/webgl_depth_texture/index.md
  files/en-us/web/api/webglrenderingcontext/getextension/index.md
  files/en-us/web/api/webglrenderingcontext/getsupportedextensions/index.md
  files/en-us/web/api/webglrenderingcontext/teximage2d/index.md
  files/en-us/web/api/webgpu_api/index.md
  files/en-us/web/api/webkitpoint/index.md
  files/en-us/web/api/webrtc_api/build_a_phone_with_peerjs/index.md
  files/en-us/web/api/websockets_api/index.md
  files/en-us/web/api/websockets_api/writing_a_websocket_server_in_javascript_deno/index.md
  files/en-us/web/api/websockets_api/writing_websocket_server/index.md
  files/en-us/web/api/webvr_api/concepts/index.md
  files/en-us/web/api/webvr_api/using_the_webvr_api/index.md
  files/en-us/web/api/webxr_device_api/index.md
  files/en-us/web/api/webxr_device_api/startup_and_shutdown/index.md
  files/en-us/web/api/window/beforeunload_event/index.md
  files/en-us/web/api/window/fence/index.md
  files/en-us/web/api/window/fetch/index.md
  files/en-us/web/api/window/frames/index.md
  files/en-us/web/api/window/getdefaultcomputedstyle/index.md
  files/en-us/web/api/window/pagehide_event/index.md
  files/en-us/web/api/window/showmodaldialog/index.md
  files/en-us/web/api/window/unload_event/index.md
  files/en-us/web/api/window/webkitconvertpointfrompagetonode/index.md
  files/en-us/web/api/window_controls_overlay_api/index.md
  files/en-us/web/api/windowsharedstorage/run/index.md
  files/en-us/web/api/worklet/index.md
  files/en-us/web/api/workletsharedstorage/get/index.md
  files/en-us/web/api/workletsharedstorage/index.md
  files/en-us/web/api/xmlhttprequest_api/index.md
Labels: Content:WebAPI, size/m

#34934 CSS geometric properties: add SVG note to height and width
  files/en-us/web/css/height/index.md
  files/en-us/web/css/width/index.md
Labels: Content:CSS, size/s

#35289 Documentation for VideoFrameCopyToOptions' format and colorSpace
  files/en-us/web/api/videoframe/allocationsize/index.md
  files/en-us/web/api/videoframe/copyto/index.md
Labels: Content:WebAPI, size/s

#35252 fix: trusted type api bogus example
  files/en-us/web/api/trusted_types_api/index.md
  files/en-us/web/api/trustedhtml/tojson/index.md
  files/en-us/web/api/trustedhtml/tostring/index.md
  files/en-us/web/api/trustedtypepolicy/index.md
  files/en-us/web/api/trustedtypepolicy/name/index.md
  files/en-us/web/api/trustedtypepolicyfactory/createpolicy/index.md
  files/en-us/web/api/trustedtypepolicyfactory/index.md
Labels: Content:WebAPI, size/s

#35267 fix(css): font-stretch has been renamed to font-width
  files/en-us/web/css/font-stretch/index.md
Labels: Content:CSS, size/s

#35244 Correct when will-change forms a containing block, and simplify the l…
  files/en-us/web/css/containing_block/index.md
Labels: Content:CSS, size/s

#35056 css(fix): mention forward animations keep new staking context
  files/en-us/web/css/animation-fill-mode/index.md
  files/en-us/web/css/animation/index.md
  files/en-us/web/css/css_animations/tips/index.md
  files/en-us/web/css/css_animations/using_css_animations/index.md
  files/en-us/web/css/css_positioned_layout/understanding_z-index/stacking_context/index.md
Labels: Content:CSS, size/s

#34961 fix(css): update path() and shape-outside pages
  files/en-us/web/css/basic-shape/path/index.md
  files/en-us/web/css/shape-outside/index.md
Labels: Content:CSS, size/m

#35293 Fix unrendered Markdown
  files/en-us/games/techniques/async_scripts/index.md
  files/en-us/learn/css/css_layout/practical_positioning_examples/index.md
  files/en-us/learn/javascript/first_steps/what_is_javascript/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/ember_conditional_footer/index.md
  files/en-us/web/accessibility/aria/roles/tree_role/index.md
  files/en-us/web/accessibility/aria/roles/treeitem_role/index.md
  files/en-us/web/accessibility/understanding_wcag/operable/index.md
  files/en-us/web/accessibility/understanding_wcag/perceivable/index.md
  files/en-us/web/accessibility/understanding_wcag/understandable/index.md
  files/en-us/web/api/baseaudiocontext/createbuffer/index.md
  files/en-us/web/api/htmltablecellelement/bgcolor/index.md
  files/en-us/web/api/keyboardevent/keycode/index.md
  files/en-us/web/api/paymentrequest/show/index.md
  files/en-us/web/api/paymentrequestupdateevent/updatewith/index.md
  files/en-us/web/api/rtcdtmfsender/tonebuffer/index.md
  files/en-us/web/api/subtlecrypto/decrypt/index.md
  files/en-us/web/api/ui_events/keyboard_event_key_values/index.md
  files/en-us/web/api/webglrenderingcontext/bindattriblocation/index.md
  files/en-us/web/css/blend-mode/index.md
  files/en-us/web/css/cursor/index.md
  files/en-us/web/html/element/input/email/index.md
  files/en-us/web/html/global_attributes/inputmode/index.md
  files/en-us/web/http/browser_detection_using_the_user_agent/index.md
  files/en-us/web/media/formats/codecs_parameter/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:HTTP, Content:Accessibility, Content:Media, Content:Games, Content:Learn:Client-side, Content:Learn:JavaScript, Content:Learn:CSS, size/m

#35301 fix sgml link
  files/en-us/glossary/sgml/index.md
Labels: Content:Glossary, size/xs

#35186 Improve clarity of setCustomValidity example
  files/en-us/web/api/htmlinputelement/setcustomvalidity/index.md
  files/en-us/web/api/htmlobjectelement/setcustomvalidity/index.md
Labels: Content:WebAPI, size/s

#35172 Remove hatch, hatchpath, color-profile from SVGData
  files/jsondata/SVGData.json
Labels: size/m

#35222 Update redirected links, part6
  files/en-us/web/api/hid/requestdevice/index.md
  files/en-us/web/api/hiddevice/collections/index.md
  files/en-us/web/api/houdini_apis/index.md
  files/en-us/web/api/htmlcanvaselement/getcontext/index.md
  files/en-us/web/api/htmlelement/offsetheight/index.md
  files/en-us/web/api/htmlfencedframeelement/allow/index.md
  files/en-us/web/api/htmlfencedframeelement/config/index.md
  files/en-us/web/api/htmlfencedframeelement/height/index.md
  files/en-us/web/api/htmlfencedframeelement/index.md
  files/en-us/web/api/htmlfencedframeelement/width/index.md
  files/en-us/web/api/idbkeyrange/loweropen/index.md
  files/en-us/web/api/idbkeyrange/upperopen/index.md
  files/en-us/web/api/identitycredential/index.md
  files/en-us/web/api/identitycredential/isautoselected/index.md
  files/en-us/web/api/identitycredential/token/index.md
  files/en-us/web/api/identityprovider/close_static/index.md
  files/en-us/web/api/identityprovider/getuserinfo_static/index.md
  files/en-us/web/api/identityprovider/index.md
  files/en-us/web/api/indexeddb_api/basic_terminology/index.md
  files/en-us/web/api/indexeddb_api/using_indexeddb/index.md
  files/en-us/web/api/keyboardevent/keycode/index.md
  files/en-us/web/api/midiinput/midimessage_event/index.md
  files/en-us/web/api/midimessageevent/index.md
  files/en-us/web/api/midioutput/send/index.md
  files/en-us/web/api/mutationevent/index.md
  files/en-us/web/api/navigationpreloadmanager/index.md
  files/en-us/web/api/navigator/deprecatedreplaceinurn/index.md
  files/en-us/web/api/navigator/getinstalledrelatedapps/index.md
  files/en-us/web/api/navigator/index.md
  files/en-us/web/api/navigator/requestmidiaccess/index.md
  files/en-us/web/api/navigator/sendbeacon/index.md
  files/en-us/web/api/oes_fbo_render_mipmap/index.md
  files/en-us/web/api/offlineaudiocontext/index.md
  files/en-us/web/api/offlineaudiocontext/startrendering/index.md
  files/en-us/web/api/offscreencanvas/getcontext/index.md
  files/en-us/web/api/ovr_multiview2/index.md
  files/en-us/web/api/payment_request_api/concepts/index.md
  files/en-us/web/api/pointer_events/pinch_zoom_gestures/index.md
  files/en-us/web/api/publickeycredential/isuserverifyingplatformauthenticatoravailable_static/index.md
  files/en-us/web/api/request/request/index.md
  files/en-us/web/api/rsahashedkeygenparams/index.md
  files/en-us/web/api/shared_storage_api/index.md
  files/en-us/web/api/sharedstorageoperation/index.md
  files/en-us/web/api/sharedstoragerunoperation/index.md
  files/en-us/web/api/speculation_rules_api/index.md
  files/en-us/web/api/storage_access_api/index.md
  files/en-us/web/api/storage_access_api/related_website_sets/index.md
  files/en-us/web/api/subtlecrypto/decrypt/index.md
  files/en-us/web/api/subtlecrypto/derivebits/index.md
  files/en-us/web/api/subtlecrypto/derivekey/index.md
  files/en-us/web/api/subtlecrypto/encrypt/index.md
  files/en-us/web/api/subtlecrypto/generatekey/index.md
  files/en-us/web/api/subtlecrypto/sign/index.md
  files/en-us/web/api/subtlecrypto/verify/index.md
Labels: Content:WebAPI, size/m

#35136 runtime.getURL fixes
  files/en-us/mozilla/add-ons/webextensions/api/runtime/geturl/index.md
  files/en-us/mozilla/firefox/releases/130/index.md
Labels: Content:WebExt, Content:Firefox, size/xs

#35215 FF129 Relnote: HTTPS DNS records resolve using OS DNS resolver
  files/en-us/mozilla/firefox/releases/129/index.md
Labels: Content:Firefox, size/xs

#34862 FF129 Relnote: RTCDTMFSender.canInsertDTMF supported
  files/en-us/mozilla/firefox/releases/129/index.md
  files/en-us/web/api/rtcdtmfsender/caninsertdtmf/index.md
  files/en-us/web/api/rtcdtmfsender/insertdtmf/index.md
Labels: Content:WebAPI, Content:Firefox, size/m

#35303 Replace 'elements' with 'entries'
  files/en-us/web/api/history/length/index.md
Labels: Content:WebAPI, size/xs

#35300 Remove 'experimental' status from revert-layer
  files/en-us/web/css/revert-layer/index.md
Labels: Content:CSS, size/xs

#35188 Fix bad DL
  files/en-us/web/api/audioencoder/configure/index.md
  files/en-us/web/api/cssfontfeaturevaluesrule/fontfamily/index.md
  files/en-us/web/api/htmlslotelement/assign/index.md
  files/en-us/web/api/offscreencanvas/index.md
  files/en-us/web/api/webgl2renderingcontext/index.md
  files/en-us/web/api/webglrenderingcontext/getuniformlocation/index.md
  files/en-us/web/api/webglrenderingcontext/index.md
  files/en-us/web/css/css_selectors/index.md
Labels: Content:CSS, Content:WebAPI, size/s

#35291 Synchronize with BCD v5.5.44
  files/en-us/web/api/csspagedescriptors/index.md
  files/en-us/web/api/gpuadapter/index.md
  files/en-us/web/api/rtcencodedaudioframe/index.md
  files/en-us/web/api/rtcencodedvideoframe/index.md
  files/en-us/web/api/rtcremoteinboundrtpstreamstats/index.md
  files/en-us/web/api/rtcremoteinboundrtpstreamstats/packetsreceived/index.md
  files/en-us/web/api/rtcremoteoutboundrtpstreamstats/roundtriptimemeasurements/index.md
  files/en-us/web/api/rtcremoteoutboundrtpstreamstats/totalroundtriptime/index.md
Labels: Content:WebAPI, size/s

#35278 Update Firefox 129 release notes for WebDriver conforming changes
  files/en-us/mozilla/firefox/releases/129/index.md
Labels: Content:Firefox, size/s

#35212 FF129 Relnote: SubtleCrypto supports Ed25519
  files/en-us/mozilla/firefox/releases/129/index.md
Labels: Content:Firefox, size/xs

#35309 Fix grammatical errors in Browser APIs description
  files/en-us/learn/javascript/client-side_web_apis/introduction/index.md
Labels: Content:Learn:JavaScript, size/xs

#35288 Update index.md
  files/en-us/web/html/element/head/index.md
Labels: Content:HTML, size/xs

#35304 Fix BCD keys for CSS display values
  files/en-us/web/css/display-inside/index.md
  files/en-us/web/css/display-internal/index.md
Labels: Content:CSS, size/s

#35313 Update code for better understanding
  files/en-us/web/javascript/guide/loops_and_iteration/index.md
Labels: Content:JS, size/xs

#35257 fix(css): update pseudo-element prose
  files/en-us/web/css/pseudo-elements/index.md
Labels: Content:CSS, size/s

#35302 fix em description
  files/en-us/learn/css/building_blocks/values_and_units/index.md
Labels: Content:Learn:CSS, size/s

#34989 FF129 SubtleCrypto - support for Ed25519
  files/en-us/web/api/ecdhkeyderiveparams/index.md
  files/en-us/web/api/subtlecrypto/derivebits/index.md
  files/en-us/web/api/subtlecrypto/derivekey/index.md
  files/en-us/web/api/subtlecrypto/generatekey/index.md
  files/en-us/web/api/subtlecrypto/importkey/index.md
  files/en-us/web/api/subtlecrypto/index.md
  files/en-us/web/api/subtlecrypto/sign/index.md
  files/en-us/web/api/subtlecrypto/unwrapkey/index.md
  files/en-us/web/api/subtlecrypto/verify/index.md
  files/en-us/web/api/web_crypto_api/index.md
Labels: Content:WebAPI, size/l

#35287 Only one <html> element allowed in document
  files/en-us/web/html/element/html/index.md
Labels: Content:HTML, size/xs

#35255 Normalize CredentialsContainer.get()
  files/en-us/glossary/authenticator/index.md
  files/en-us/web/api/credentialscontainer/create/index.md
  files/en-us/web/api/credentialscontainer/get/index.md
  files/en-us/web/api/fedcm_api/idp_integration/index.md
  files/en-us/web/api/identitycredentialrequestoptions/index.md
  files/en-us/web/api/publickeycredential/parserequestoptionsfromjson_static/index.md
  files/en-us/web/api/publickeycredentialrequestoptions/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, Content:Glossary, size/l

#35321 incorrect wording fix
  files/en-us/web/api/treewalker/filter/index.md
  files/en-us/web/api/treewalker/index.md
  files/en-us/web/api/treewalker/root/index.md
Labels: Content:WebAPI, size/s

#35004 Added CSS clip-rule property
  files/en-us/web/css/clip-rule/index.md
  files/en-us/web/svg/attribute/clip-rule/index.md
Labels: Content:CSS, Content:SVG, size/m

#35275 Ogg theora video codec is deprecated/removed
  files/en-us/learn/performance/video/index.md
  files/en-us/mozilla/firefox/releases/126/index.md
  files/en-us/web/api/media_capabilities_api/using_the_media_capabilities_api/index.md
  files/en-us/web/media/formats/video_codecs/index.md
Labels: Content:WebAPI, Content:Learn, Content:Media, Content:Firefox, size/s

#35322 domain be consistent link fix
  files/en-us/web/css/_doublecolon_-webkit-scrollbar/index.md
Labels: Content:CSS, size/xs

#34422 feat(HTTP): Refresh 2XX response pages
  files/en-us/web/http/status/200/index.md
  files/en-us/web/http/status/201/index.md
  files/en-us/web/http/status/202/index.md
  files/en-us/web/http/status/203/index.md
  files/en-us/web/http/status/204/index.md
  files/en-us/web/http/status/205/index.md
  files/en-us/web/http/status/206/index.md
  files/en-us/web/http/status/207/index.md
  files/en-us/web/http/status/208/index.md
  files/en-us/web/http/status/226/index.md
Labels: Content:HTTP, size/m

#34803 New: CSS view transitions module landing page
  files/en-us/web/css/css_pseudo-elements/index.md
  files/en-us/web/css/css_view_transitions/index.md
Labels: Content:CSS, size/m

#35230 Added CSS color-interpolation-filters property
  files/en-us/_redirects.txt
  files/en-us/web/css/color-interpolation-filters/index.md
  files/en-us/web/svg/attribute/color-interpolation-filters/index.md
Labels: Content:CSS, Content:SVG, size/m

#35336 chore(short-title): HTML and HTML attributes
  files/en-us/web/html/attributes/accept/index.md
  files/en-us/web/html/attributes/autocomplete/index.md
  files/en-us/web/html/attributes/capture/index.md
  files/en-us/web/html/attributes/crossorigin/index.md
  files/en-us/web/html/attributes/dirname/index.md
  files/en-us/web/html/attributes/disabled/index.md
  files/en-us/web/html/attributes/elementtiming/index.md
  files/en-us/web/html/attributes/for/index.md
  files/en-us/web/html/attributes/max/index.md
  files/en-us/web/html/attributes/maxlength/index.md
  files/en-us/web/html/attributes/min/index.md
  files/en-us/web/html/attributes/minlength/index.md
  files/en-us/web/html/attributes/multiple/index.md
  files/en-us/web/html/attributes/pattern/index.md
  files/en-us/web/html/attributes/placeholder/index.md
  files/en-us/web/html/attributes/readonly/index.md
  files/en-us/web/html/attributes/rel/index.md
  files/en-us/web/html/attributes/required/index.md
  files/en-us/web/html/attributes/size/index.md
  files/en-us/web/html/attributes/step/index.md
  files/en-us/web/html/index.md
Labels: Content:HTML, size/s

#35329 Add some guides to API sidebars
  files/jsondata/GroupData.json
Labels: size/s

#35179 fix: first instance description
  files/en-us/web/api/gpurenderpassencoder/drawindexedindirect/index.md
Labels: Content:WebAPI, size/xs

#35339 Fix bad DL
  files/en-us/web/api/identitycredentialrequestoptions/index.md
Labels: Content:WebAPI, size/xs

#35341 Fix DL... again
  files/en-us/web/api/identitycredentialrequestoptions/index.md
Labels: Content:WebAPI, size/s

#35343 typo: pluralization of browsers
  files/en-us/learn/common_questions/tools_and_setup/what_are_browser_developer_tools/index.md
Labels: Content:Learn, size/xs

#35347 Fix a few broken links
  files/en-us/web/api/svgfedisplacementmapelement/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, size/s

#35348 Fix unrendered Markdown
  files/en-us/web/accessibility/understanding_wcag/operable/index.md
  files/en-us/web/api/canvasrenderingcontext2d/arc/index.md
  files/en-us/web/api/canvasrenderingcontext2d/ellipse/index.md
  files/en-us/web/html/microformats/index.md
Labels: Content:HTML, Content:WebAPI, Content:Accessibility, size/s

#35349 runtime.getURL fixes post merge feedback
  files/en-us/mozilla/add-ons/webextensions/api/runtime/geturl/index.md
  files/en-us/mozilla/firefox/releases/130/index.md
Labels: Content:WebExt, Content:Firefox, size/xs

#34400 Editorial review: Add MediaMetadata chapterInfo functionality
  files/en-us/web/api/chapterinformation/artwork/index.md
  files/en-us/web/api/chapterinformation/index.md
  files/en-us/web/api/chapterinformation/starttime/index.md
  files/en-us/web/api/chapterinformation/title/index.md
  files/en-us/web/api/media_session_api/index.md
  files/en-us/web/api/media_session_api/media-session-ui.jpg
  files/en-us/web/api/mediametadata/album/index.md
  files/en-us/web/api/mediametadata/artist/index.md
  files/en-us/web/api/mediametadata/artwork/index.md
  files/en-us/web/api/mediametadata/chapterinfo/index.md
  files/en-us/web/api/mediametadata/index.md
  files/en-us/web/api/mediametadata/mediametadata/index.md
  files/en-us/web/api/mediametadata/title/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, size/m

#35354 FF129 release notes
  files/en-us/mozilla/firefox/releases/129/index.md
  files/en-us/mozilla/firefox/releases/130/index.md
  files/en-us/mozilla/firefox/releases/131/index.md
Labels: Content:Firefox, size/m

#35357 Separate CDP removal from other BiDi release notes
  files/en-us/mozilla/firefox/releases/129/index.md
Labels: Content:Firefox, size/s, Firefox 129

#35007 New properties: fill-opacity and fill-rule
  files/en-us/_redirects.txt
  files/en-us/web/css/fill-opacity/index.md
  files/en-us/web/css/fill-rule/index.md
Labels: Content:CSS, size/m

#35346 Fix broken external links
  files/en-us/games/publishing_games/game_distribution/index.md
  files/en-us/games/techniques/control_mechanisms/other/index.md
  files/en-us/glossary/algorithm/index.md
  files/en-us/learn/accessibility/wai-aria_basics/index.md
  files/en-us/learn/forms/how_to_build_custom_form_controls/index.md
  files/en-us/learn/server-side/express_nodejs/deployment/index.md
  files/en-us/learn/server-side/express_nodejs/mongoose/index.md
  files/en-us/learn/server-side/first_steps/web_frameworks/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/ember_getting_started/index.md
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/svelte_deployment_next/index.md
  files/en-us/learn/tools_and_testing/cross_browser_testing/accessibility/index.md
  files/en-us/learn/tools_and_testing/cross_browser_testing/your_own_automation_environment/index.md
  files/en-us/mdn/writing_guidelines/writing_style_guide/index.md
  files/en-us/related/imsc/imsc_and_other_standards/index.md
  files/en-us/related/imsc/index.md
  files/en-us/web/accessibility/seizure_disorders/index.md
  files/en-us/web/api/attribution_reporting_api/index.md
  files/en-us/web/api/fenced_frame_api/index.md
  files/en-us/web/api/webvr_api/index.md
  files/en-us/web/css/@font-palette-values/override-colors/index.md
  files/en-us/web/css/overflow-anchor/guide_to_scroll_anchoring/index.md
  files/en-us/web/html/element/link/index.md
  files/en-us/web/html/global_attributes/spellcheck/index.md
  files/en-us/web/http/headers/user-agent/firefox/index.md
  files/en-us/web/javascript/reference/global_objects/globalthis/index.md
  files/en-us/web/media/audio_and_video_delivery/index.md
  files/en-us/web/media/formats/video_codecs/index.md
  files/en-us/web/privacy/index.md
  files/en-us/web/security/subresource_integrity/index.md
  files/en-us/web/webdriver/errors/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:JS, Content:Learn, Content:Other, Content:HTTP, Content:Accessibility, Content:Media, Content:Learn:Express, Content:Glossary, Content:WebDriver, Content:Games, Content:Security, Content:Learn:Client-side, Content:Meta, Content:Learn:Accessibility, Content:Learn:Forms, Content:Learn:Cross-Browser-Testing, size/m

#35305 Add missing Specifications section of `InstallEvent`
  files/en-us/web/api/installevent/index.md
Labels: Content:WebAPI, size/s

#35023 feat(HTTP): Refresh 1XX response pages
  files/en-us/web/http/status/100/index.md
  files/en-us/web/http/status/101/index.md
  files/en-us/web/http/status/102/index.md
  files/en-us/web/http/status/103/index.md
Labels: Content:HTTP, size/m

#35218 Add more ruby-position valid syntax examples
  files/en-us/web/css/ruby-position/index.md
Labels: Content:CSS, size/s

#35242 fix(css): add bounding-box value to pointer-events page
  files/en-us/glossary/bounding_box/index.md
  files/en-us/web/css/pointer-events/index.md
Labels: Content:CSS, Content:Glossary, size/s

#35364 update explanation of "offset" model in CSSOM View coordinate systems
  files/en-us/web/css/cssom_view/coordinate_systems/index.md
Labels: Content:CSS, size/xs

#35170 New pages: stop-opacity and stop-color properties
  files/en-us/_redirects.txt
  files/en-us/web/css/stop-color/index.md
  files/en-us/web/css/stop-opacity/index.md
Labels: Content:CSS, size/m

#35337 Fix naming
  files/en-us/learn/css/css_layout/flexbox/index.md
Labels: Content:Learn:CSS, size/xs

#35332 Synchronize with BCD v5.5.44
  files/en-us/web/api/chapterinformation/artwork/index.md
  files/en-us/web/api/chapterinformation/index.md
  files/en-us/web/api/chapterinformation/starttime/index.md
  files/en-us/web/api/chapterinformation/title/index.md
  files/en-us/web/api/mediametadata/chapterinfo/index.md
  files/en-us/web/api/mediametadata/index.md
  files/en-us/web/css/@starting-style/index.md
  files/en-us/web/css/@view-transition/index.md
  files/en-us/web/css/_colon_-moz-broken/index.md
  files/en-us/web/css/_colon_-moz-first-node/index.md
  files/en-us/web/css/_colon_-moz-last-node/index.md
  files/en-us/web/css/_colon_state/index.md
  files/en-us/web/css/_doublecolon_-moz-focus-inner/index.md
  files/en-us/web/css/_doublecolon_-moz-list-bullet/index.md
  files/en-us/web/css/_doublecolon_-moz-list-number/index.md
  files/en-us/web/css/_doublecolon_-moz-progress-bar/index.md
  files/en-us/web/css/_doublecolon_view-transition-group/index.md
  files/en-us/web/css/_doublecolon_view-transition-image-pair/index.md
  files/en-us/web/css/_doublecolon_view-transition-new/index.md
  files/en-us/web/css/_doublecolon_view-transition-old/index.md
  files/en-us/web/css/_doublecolon_view-transition/index.md
  files/en-us/web/css/align-items/index.md
  files/en-us/web/css/align-self/index.md
  files/en-us/web/css/anchor-size/index.md
  files/en-us/web/css/anchor/index.md
  files/en-us/web/css/basic-shape/index.md
  files/en-us/web/css/basic-shape/shape/index.md
  files/en-us/web/css/clip-path/index.md
  files/en-us/web/css/content-visibility/index.md
  files/en-us/web/css/css_animations/using_css_animations/index.md
  files/en-us/web/css/css_functions/index.md
  files/en-us/web/css/css_media_queries/using_media_queries/index.md
  files/en-us/web/css/field-sizing/index.md
  files/en-us/web/css/initial-letter/index.md
  files/en-us/web/css/inset-area/index.md
  files/en-us/web/css/inset-area_value/index.md
  files/en-us/web/css/justify-items/index.md
  files/en-us/web/css/justify-self/index.md
  files/en-us/web/css/place-self/index.md
  files/en-us/web/css/pseudo-classes/index.md
  files/en-us/web/css/pseudo-elements/index.md
  files/en-us/web/css/ruby-align/index.md
  files/en-us/web/css/view-transition-name/index.md
Labels: Content:CSS, Content:WebAPI, size/m

#35137 New CSS property page: fill
  files/en-us/_redirects.txt
  files/en-us/web/css/fill/index.md
  files/en-us/web/svg/attribute/fill/index.md
Labels: Content:CSS, Content:SVG, size/m

#35318 rearrange a paragraph in html required attribute
  files/en-us/web/html/attributes/required/index.md
Labels: Content:HTML, size/xs

#35323 Fix a lot of unlinked orphan pages
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/csstransformvalue/index.md
  files/en-us/web/api/datatransfer/index.md
  files/en-us/web/api/editcontext_api/index.md
  files/en-us/web/api/fenced_frame_api/index.md
  files/en-us/web/api/gpurenderbundle/index.md
  files/en-us/web/api/indexeddb_api/index.md
  files/en-us/web/api/paymentrequestevent/index.md
  files/en-us/web/api/svgrect/x/index.md
  files/en-us/web/api/vreyeparameters/index.md
  files/en-us/web/css/css_miscellaneous/index.md
  files/en-us/web/css/mozilla_extensions/index.md
  files/en-us/web/html/index.md
  files/en-us/web/html/reference/index.md
  files/en-us/web/media/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:Media, size/m

#35340 Fix presentation API interface list
  files/jsondata/GroupData.json
Labels: size/s

#35220 Update redirected links, part4
  files/en-us/mdn/at_ten/history_of_mdn/index.md
  files/en-us/mdn/community/communication_channels/index.md
  files/en-us/mdn/community/contributing/getting_started/index.md
  files/en-us/mdn/community/contributing/our_repositories/index.md
  files/en-us/mdn/community/contributing/security_vulnerability_response/index.md
  files/en-us/mdn/community/issues/index.md
  files/en-us/mdn/community/roles_teams/index.md
  files/en-us/mdn/mdn_product_advisory_board/index.md
  files/en-us/mdn/mdn_product_advisory_board/membership/index.md
  files/en-us/mdn/writing_guidelines/attrib_copyright_license/index.md
  files/en-us/mdn/writing_guidelines/howto/document_web_errors/index.md
  files/en-us/mdn/writing_guidelines/howto/write_an_api_reference/information_contained_in_a_webidl_file/index.md
  files/en-us/mdn/writing_guidelines/page_structures/macros/commonly_used_macros/index.md
  files/en-us/mdn/writing_guidelines/page_structures/sidebars/index.md
  files/en-us/mdn/writing_guidelines/writing_style_guide/index.md
  files/en-us/web/css/-webkit-box-reflect/index.md
  files/en-us/web/css/@media/prefers-color-scheme/index.md
  files/en-us/web/css/@page/index.md
  files/en-us/web/css/_colon_lang/index.md
  files/en-us/web/css/_colon_target/index.md
  files/en-us/web/css/color-interpolation/index.md
  files/en-us/web/css/color_value/hsl/index.md
  files/en-us/web/css/color_value/lab/index.md
  files/en-us/web/css/color_value/lch/index.md
  files/en-us/web/css/css_compositing_and_blending/index.md
  files/en-us/web/css/css_fonts/variable_fonts_guide/index.md
  files/en-us/web/css/css_positioned_layout/understanding_z-index/stacking_context/index.md
  files/en-us/web/css/css_shapes/index.md
  files/en-us/web/css/env/index.md
  files/en-us/web/css/font-feature-settings/index.md
  files/en-us/web/css/font-language-override/index.md
  files/en-us/web/css/font-variation-settings/index.md
  files/en-us/web/css/font-weight/index.md
  files/en-us/web/css/text-wrap/index.md
  files/en-us/web/css/transform-function/matrix/index.md
  files/en-us/web/css/transform-function/matrix3d/index.md
Labels: Content:CSS, Content:Meta, size/m

#35351 fix: incorrect description in WebExtensions
  files/en-us/mozilla/add-ons/webextensions/api/action/seticon/index.md
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/seticon/index.md
Labels: Content:WebExt, size/xs

#35345 webRequest.getSecurityInfo options parameter optional
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/getsecurityinfo/index.md
  files/en-us/mozilla/firefox/releases/130/index.md
Labels: Content:WebExt, Content:Firefox, size/s

#35370 Fix ID selector page
  files/en-us/web/css/id_selectors/index.md
Labels: Content:CSS, size/xs

#34873 Native_manifests: pkcs11 paths may be relative
  files/en-us/mozilla/add-ons/webextensions/native_manifests/index.md
Labels: Content:WebExt, size/s

#34827 fix(css): update animation tips page
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/web_animations_api/index.md
  files/en-us/web/api/web_animations_api/tips/index.md
  files/en-us/web/css/css_animations/index.md
  files/en-us/web/css/css_animations/tips/index.md
  files/en-us/web/css/css_animations/using_css_animations/index.md
Labels: Content:CSS, Content:WebAPI, size/m

#35375 Remove links to non-existent APIs
  files/en-us/web/api/audioparammap/index.md
  files/en-us/web/api/htmlformelement/index.md
  files/en-us/web/api/report/body/index.md
  files/en-us/web/api/texttrack/index.md
  files/en-us/web/api/web_audio_api/using_audioworklet/index.md
  files/en-us/web/api/webvtt_api/index.md
  files/en-us/web/html/element/track/index.md
  files/en-us/web/media/autoplay_guide/index.md
  files/en-us/web/svg/content_type/index.md
  files/en-us/web/webdriver/commands/getelementproperty/index.md
Labels: Content:HTML, Content:WebAPI, Content:SVG, Content:Media, Content:WebDriver, size/m

#35376 MPEG LA -> Via LA
  files/en-us/web/media/formats/video_codecs/index.md
Labels: Content:Media, size/s

#35372 fix(css): The `content-visibility: auto` marks a containing block
  files/en-us/web/css/containing_block/index.md
Labels: Content:CSS, size/xs

#35377 Correct `at()` description when compared to the bracket notation
  files/en-us/web/javascript/reference/global_objects/array/at/index.md
Labels: Content:JS, size/xs

#35378 Minor: covert OL to UL
  files/en-us/web/css/containing_block/index.md
Labels: Content:CSS, size/s

#35379 Fix a typo
  files/en-us/web/css/css_animations/index.md
Labels: Content:CSS, size/xs

#35380 fix typo
  files/en-us/web/api/web_animations_api/tips/index.md
Labels: Content:WebAPI, size/xs

#35183 "Noteblocks" now has an official name
  files/en-us/mdn/writing_guidelines/howto/markdown_in_mdn/index.md
Labels: Content:Meta, size/s

#34946 fix(css): update `flex` page
  files/en-us/web/css/flex/index.md
Labels: Content:CSS, size/m

#35363 CSS: Remove bad practice
  files/en-us/web/css/transition/index.md
Labels: Content:CSS, size/s

#35352 fix(lint-content): move variable to env to prevent command injection
  .github/workflows/pr-check-lint_content.yml
Labels: system, size/s

#35387 feat(http) Use diagram for CORS illustration
  files/en-us/web/http/cors/cors_principle.png
  files/en-us/web/http/cors/index.md
Labels: Content:HTTP, size/xs

#35334 Editorial review: Add information on file system access locking modes
  files/en-us/web/api/file_system_api/origin_private_file_system/index.md
  files/en-us/web/api/filesystemfilehandle/createsyncaccesshandle/index.md
  files/en-us/web/api/filesystemfilehandle/createwritable/index.md
Labels: Content:WebAPI, size/m

#35391 `d` attribute: removed deprecated elements
  files/en-us/web/svg/attribute/d/index.md
Labels: Content:SVG, size/m

#35344 Fix invalid GFM alert syntax, new markdownlint rule
  .markdownlint.jsonc
  files/en-us/web/css/css_anchor_positioning/try_options_hiding/index.md
  files/en-us/web/svg/attribute/cx/index.md
  files/en-us/web/svg/attribute/cy/index.md
  files/en-us/web/svg/attribute/r/index.md
  files/en-us/web/svg/attribute/rx/index.md
  files/en-us/web/svg/attribute/ry/index.md
  files/en-us/web/svg/attribute/y/index.md
Labels: Content:CSS, Content:SVG, system, size/s

#35396 fix a typo
  files/en-us/web/css/flex/index.md
Labels: Content:CSS, size/xs

#34585 Update ARIA: suggestion role incomplete description
  files/en-us/web/accessibility/aria/roles/suggestion_role/index.md
Labels: Content:Accessibility, size/xs

#35260 scrollingElement: Add the missing "not" in the quirks mode
  files/en-us/web/api/document/scrollingelement/index.md
Labels: Content:WebAPI, size/xs

#34909 Refactor using pointer events example
  files/en-us/web/api/pointer_events/index.md
  files/en-us/web/api/pointer_events/using_pointer_events/index.md
Labels: Content:WebAPI, size/l

#35399 Fix: typo in the react documentation page
  files/en-us/learn/tools_and_testing/client-side_javascript_frameworks/react_getting_started/index.md
Labels: Content:Learn:Client-side, size/xs

#35403 Remove extraneous sidebar
  files/en-us/web/api/bluetoothremotegattcharacteristic/getdescriptors/index.md
  files/en-us/web/api/bluetoothremotegattcharacteristic/properties/index.md
  files/en-us/web/api/bluetoothremotegattcharacteristic/readvalue/index.md
  files/en-us/web/api/bluetoothremotegattcharacteristic/service/index.md
  files/en-us/web/api/bluetoothremotegattcharacteristic/startnotifications/index.md
  files/en-us/web/api/bluetoothremotegattcharacteristic/stopnotifications/index.md
  files/en-us/web/api/bluetoothremotegattcharacteristic/uuid/index.md
  files/en-us/web/api/bluetoothremotegattcharacteristic/value/index.md
  files/en-us/web/api/bluetoothremotegattserver/connect/index.md
  files/en-us/web/api/bluetoothremotegattserver/connected/index.md
  files/en-us/web/api/bluetoothremotegattserver/device/index.md
  files/en-us/web/api/bluetoothremotegattserver/disconnect/index.md
  files/en-us/web/api/bluetoothremotegattserver/getprimaryservice/index.md
  files/en-us/web/api/bluetoothremotegattserver/getprimaryservices/index.md
  files/en-us/web/api/bluetoothremotegattserver/index.md
  files/en-us/web/api/bluetoothremotegattservice/device/index.md
  files/en-us/web/api/bluetoothremotegattservice/getcharacteristic/index.md
  files/en-us/web/api/bluetoothremotegattservice/getcharacteristics/index.md
  files/en-us/web/api/bluetoothremotegattservice/index.md
  files/en-us/web/api/bluetoothremotegattservice/isprimary/index.md
  files/en-us/web/api/bluetoothremotegattservice/uuid/index.md
Labels: Content:WebAPI, size/s

#35398 Fix MutationObserver description about multiple observer calls
  files/en-us/web/api/mutationobserver/observe/index.md
Labels: Content:WebAPI, size/m

#35393 Remove SVG server configuration page
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/svg/server-configuration/index.md
Labels: Content:SVG, size/s

#35350 fix: typo in WebExtensions
  files/en-us/mozilla/add-ons/webextensions/api/action/setbadgebackgroundcolor/index.md
  files/en-us/mozilla/add-ons/webextensions/api/action/setbadgetextcolor/index.md
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/setbadgebackgroundcolor/index.md
  files/en-us/mozilla/add-ons/webextensions/api/browseraction/setbadgetextcolor/index.md
Labels: Content:WebExt, size/s

#35384 Securitypolicyviolationevent sidebar
  files/en-us/web/api/document/securitypolicyviolation_event/index.md
  files/en-us/web/api/element/securitypolicyviolation_event/index.md
  files/en-us/web/api/reporting_api/index.md
  files/en-us/web/api/securitypolicyviolationevent/blockeduri/index.md
  files/en-us/web/api/securitypolicyviolationevent/columnnumber/index.md
  files/en-us/web/api/securitypolicyviolationevent/disposition/index.md
  files/en-us/web/api/securitypolicyviolationevent/documenturi/index.md
  files/en-us/web/api/securitypolicyviolationevent/effectivedirective/index.md
  files/en-us/web/api/securitypolicyviolationevent/index.md
  files/en-us/web/api/securitypolicyviolationevent/linenumber/index.md
  files/en-us/web/api/securitypolicyviolationevent/originalpolicy/index.md
  files/en-us/web/api/securitypolicyviolationevent/referrer/index.md
  files/en-us/web/api/securitypolicyviolationevent/sample/index.md
  files/en-us/web/api/securitypolicyviolationevent/securitypolicyviolationevent/index.md
  files/en-us/web/api/securitypolicyviolationevent/sourcefile/index.md
  files/en-us/web/api/securitypolicyviolationevent/statuscode/index.md
  files/en-us/web/api/securitypolicyviolationevent/violateddirective/index.md
  files/en-us/web/http/headers/content-security-policy/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, Content:HTTP, size/m

#35400 Fix cssxref that results in consecutive code spans or nested code spans
  files/en-us/glossary/pseudo-class/index.md
  files/en-us/glossary/pseudo-element/index.md
  files/en-us/learn/accessibility/css_and_javascript/index.md
  files/en-us/learn/css/building_blocks/styling_tables/index.md
  files/en-us/learn/css/css_layout/practical_positioning_examples/index.md
  files/en-us/learn/forms/advanced_form_styling/index.md
  files/en-us/learn/javascript/client-side_web_apis/video_and_audio_apis/index.md
  files/en-us/learn/tools_and_testing/cross_browser_testing/accessibility/index.md
  files/en-us/web/api/media_capture_and_streams_api/taking_still_photos/index.md
  files/en-us/web/api/paintworkletglobalscope/registerpaint/index.md
  files/en-us/web/css/-webkit-mask-box-image/index.md
  files/en-us/web/css/animation-delay/index.md
  files/en-us/web/css/animation-duration/index.md
  files/en-us/web/css/animation-iteration-count/index.md
  files/en-us/web/css/box-decoration-break/index.md
  files/en-us/web/css/content/index.md
  files/en-us/web/css/css_display/block_formatting_context/index.md
  files/en-us/web/css/css_flexible_box_layout/typical_use_cases_of_flexbox/index.md
  files/en-us/web/css/css_grid_layout/realizing_common_layouts_using_grids/index.md
  files/en-us/web/css/css_lists/consistent_list_indentation/index.md
  files/en-us/web/css/css_transitions/using_css_transitions/index.md
  files/en-us/web/css/image-resolution/index.md
  files/en-us/web/css/mask-size/index.md
  files/en-us/web/css/mozilla_extensions/index.md
  files/en-us/web/css/offset-distance/index.md
  files/en-us/web/css/offset-rotate/index.md
  files/en-us/web/css/scroll-padding-top/index.md
  files/en-us/web/css/sign/index.md
  files/en-us/web/css/text-decoration-style/index.md
  files/en-us/web/css/text-justify/index.md
  files/en-us/web/html/attributes/disabled/index.md
  files/en-us/web/html/element/abbr/index.md
  files/en-us/web/html/element/acronym/index.md
  files/en-us/web/html/element/bdi/index.md
  files/en-us/web/html/element/center/index.md
  files/en-us/web/html/element/img/index.md
  files/en-us/web/html/element/textarea/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:Glossary, Content:Learn:JavaScript, Content:Learn:CSS, Content:Learn:Accessibility, Content:Learn:Forms, Content:Learn:Cross-Browser-Testing, size/m

#35402 Avoid code spans stuck to text
  files/en-us/learn/performance/video/index.md
  files/en-us/learn/server-side/django/forms/index.md
  files/en-us/learn/server-side/node_server_without_framework/index.md
  files/en-us/web/api/bluetoothremotegattcharacteristic/index.md
  files/en-us/web/api/bluetoothremotegattcharacteristic/writevalue/index.md
  files/en-us/web/api/bluetoothremotegattcharacteristic/writevaluewithoutresponse/index.md
  files/en-us/web/api/bluetoothremotegattcharacteristic/writevaluewithresponse/index.md
  files/en-us/web/api/cssrule/csstext/index.md
  files/en-us/web/api/force_touch_events/index.md
  files/en-us/web/api/gamepad_api/using_the_gamepad_api/index.md
  files/en-us/web/api/gpucommandencoder/finish/index.md
  files/en-us/web/api/html_drag_and_drop_api/drag_operations/index.md
  files/en-us/web/api/htmlmediaelement/texttracks/index.md
  files/en-us/web/api/rtcdtmfsender/insertdtmf/index.md
  files/en-us/web/api/rtcdtmfsender/tonebuffer/index.md
  files/en-us/web/api/rtcpeerconnection/addtrack/index.md
  files/en-us/web/api/rtcrtpsender/index.md
  files/en-us/web/api/textencoder/encodeinto/index.md
  files/en-us/web/api/texttracklist/index.md
  files/en-us/web/api/webrtc_api/simple_rtcdatachannel_sample/index.md
  files/en-us/web/api/websockets_api/index.md
  files/en-us/web/api/xsltprocessor/importstylesheet/index.md
  files/en-us/web/html/element/meta/name/index.md
  files/en-us/web/media/formats/video_codecs/index.md
Labels: Content:HTML, Content:WebAPI, Content:Learn, Content:Media, Content:Learn:Django, size/m

#35407 Document a pitfall with concurrent iterable modification
  files/en-us/web/api/urlsearchparams/index.md
  files/en-us/web/javascript/reference/iteration_protocols/index.md
Labels: Content:WebAPI, Content:JS, size/m

#35392 Remove SVG Specification deviations page
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/svg/specification_deviations/index.md
Labels: Content:SVG, size/s

#35409 reportError() global function is DOM API
  files/en-us/web/api/reporterror/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, size/s

#35415 Fixes Typo issue of CSS property
  files/en-us/mozilla/firefox/releases/129/index.md
Labels: Content:Firefox, size/xs

#35416 Update index.md
  files/en-us/web/api/toggleevent/toggleevent/index.md
Labels: Content:WebAPI, size/xs

#35389 Replaced third party link
  files/en-us/web/manifest/index.md
Labels: Content:Manifest, size/s

#34974 Added CSS vector-effect property
  files/en-us/web/css/vector-effect/index.md
  files/en-us/web/svg/attribute/vector-effect/index.md
Labels: Content:CSS, Content:SVG, size/m

#35107 Added CSS marker-* properties
  files/en-us/_redirects.txt
  files/en-us/web/css/marker-end/index.md
  files/en-us/web/css/marker-mid/index.md
  files/en-us/web/css/marker-start/index.md
  files/en-us/web/css/marker/index.md
  files/en-us/web/svg/attribute/marker-end/index.md
  files/en-us/web/svg/attribute/marker-mid/index.md
  files/en-us/web/svg/attribute/marker-start/index.md
Labels: Content:CSS, Content:SVG, size/m

#35259 Added CSS stroke property
  files/en-us/_redirects.txt
  files/en-us/web/css/stroke/index.md
  files/en-us/web/svg/attribute/stroke/index.md
Labels: Content:CSS, Content:SVG, size/m

#35418 Fix typo
  files/en-us/web/html/element/thead/index.md
Labels: Content:HTML, size/xs

#34160 feat: sync with WCAG 2.2
  files/en-us/glossary/wcag/index.md
  files/en-us/web/accessibility/understanding_wcag/index.md
Labels: Content:Accessibility, Content:Glossary, size/m

#35395 New page: CSS `d` property
  files/en-us/web/css/basic-shape/path/index.md
  files/en-us/web/css/d/index.md
  files/en-us/web/svg/attribute/d/index.md
Labels: Content:CSS, Content:SVG, size/m

#35424 HTTP415 response may include Accept-Post not Accept header
  files/en-us/web/http/status/415/index.md
Labels: Content:HTTP, size/s

#35423 Django Tute: session count matches what is displayed
  files/en-us/learn/server-side/django/sessions/index.md
Labels: Content:Learn:Django, size/s

#35428 fix: typo in WebExtensions
  files/en-us/mozilla/add-ons/webextensions/native_manifests/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/options_pages/index.md
Labels: Content:WebExt, size/s

#35429 Weekly spell check
  files/en-us/web/accessibility/understanding_wcag/index.md
  files/en-us/web/api/filesystemfilehandle/createwritable/index.md
  files/en-us/web/api/securitypolicyviolationevent/effectivedirective/index.md
  files/en-us/web/api/securitypolicyviolationevent/statuscode/index.md
Labels: Content:WebAPI, Content:Accessibility, size/s

#35443 Synchronize with BCD v5.5.46
  files/en-us/web/http/headers/reporting-endpoints/index.md
Labels: Content:HTTP, size/xs

#35444 fix: replace leftover glP3 with gl in drawingBufferColorSpace example
  files/en-us/web/api/webglrenderingcontext/drawingbuffercolorspace/index.md
Labels: Content:WebAPI, size/xs

#35449 "message" in window.confirm(message) is optional
  files/en-us/web/api/window/confirm/index.md
Labels: Content:WebAPI, size/xs

#35463 fix(transform-function): MathML rendering issue
  files/en-us/web/css/transform-function/index.md
Labels: Content:CSS, size/xs

#35455 Remove compatibility fallbacks for cancelAnimationFrame
  files/en-us/web/api/window/cancelanimationframe/index.md
Labels: Content:WebAPI, size/s

#35457 misleading domtokenlist example fix
  files/en-us/web/api/domtokenlist/remove/index.md
Labels: Content:WebAPI, size/xs

#35468 Typo fixed
  files/en-us/web/css/css_containment/container_size_and_style_queries/index.md
Labels: Content:CSS, size/xs

#35394 Enable heading-increment Markdown lint rule
  .markdownlint.jsonc
  files/en-us/learn/index.md
  files/en-us/learn/performance/html/index.md
  files/en-us/learn/server-side/django/deployment/index.md
  files/en-us/web/api/gpurenderpassencoder/setbindgroup/index.md
  files/en-us/web/css/align-content/index.md
  files/en-us/web/html/element/abbr/index.md
  files/en-us/web/html/element/caption/index.md
  files/en-us/web/html/element/tfoot/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:Learn, Content:Learn:Django, system, size/s

#35460 chore: unify the description of the returned promises
  files/en-us/web/api/bluetooth/index.md
Labels: Content:WebAPI, size/xs

#35454 Fix some bad typesetting
  files/en-us/web/api/ui_events/keyboard_event_key_values/index.md
  files/en-us/web/api/web_audio_api/basic_concepts_behind_web_audio_api/index.md
  files/en-us/web/javascript/guide/numbers_and_dates/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/leftcontext/index.md
  files/en-us/web/javascript/reference/lexical_grammar/index.md
  files/en-us/web/mathml/values/index.md
Labels: Content:WebAPI, Content:JS, Content:MathML, size/m

#35434 fix more typos
  files/en-us/mdn/writing_guidelines/page_structures/feature_status/index.md
  files/en-us/web/html/global_attributes/class/index.md
  files/en-us/web/html/global_attributes/id/index.md
  files/en-us/web/http/status/226/index.md
Labels: Content:HTML, Content:HTTP, Content:Meta, size/s
