Repository mdn/content, pull requests merged in 2025-01, with the labels that each got.

#37459 Add note about not-supported `white-space-collapse: discard`
  files/en-us/web/css/white-space-collapse/index.md
Labels: Content:CSS, size/xs

#35937 Correct UK address description and example
  files/en-us/web/html/attributes/autocomplete/index.md
Labels: Content:HTML, awaiting response, size/s

#37464 Fix typos
  files/en-us/web/api/web_authentication_api/index.md
Labels: Content:WebAPI, size/xs

#37378 New Pages: SVGTextContentElement
  files/en-us/web/api/svgtextcontentelement/getcharnumatposition/index.md
  files/en-us/web/api/svgtextcontentelement/getcomputedtextlength/index.md
  files/en-us/web/api/svgtextcontentelement/getendpositionofchar/index.md
  files/en-us/web/api/svgtextcontentelement/getextentofchar/index.md
  files/en-us/web/api/svgtextcontentelement/getnumberofchars/index.md
  files/en-us/web/api/svgtextcontentelement/getrotationofchar/index.md
  files/en-us/web/api/svgtextcontentelement/getstartpositionofchar/index.md
  files/en-us/web/api/svgtextcontentelement/getsubstringlength/index.md
  files/en-us/web/api/svgtextcontentelement/index.md
  files/en-us/web/api/svgtextcontentelement/lengthadjust/index.md
  files/en-us/web/api/svgtextcontentelement/textlength/index.md
Labels: Content:WebAPI, size/l

#37377 New Pages: SVGTransformList
  files/en-us/web/api/svgtransformlist/appenditem/index.md
  files/en-us/web/api/svgtransformlist/clear/index.md
  files/en-us/web/api/svgtransformlist/consolidate/index.md
  files/en-us/web/api/svgtransformlist/createsvgtransformfrommatrix/index.md
  files/en-us/web/api/svgtransformlist/getitem/index.md
  files/en-us/web/api/svgtransformlist/index.md
  files/en-us/web/api/svgtransformlist/initialize/index.md
  files/en-us/web/api/svgtransformlist/insertitembefore/index.md
  files/en-us/web/api/svgtransformlist/length/index.md
  files/en-us/web/api/svgtransformlist/numberofitems/index.md
  files/en-us/web/api/svgtransformlist/removeitem/index.md
  files/en-us/web/api/svgtransformlist/replaceitem/index.md
Labels: Content:WebAPI, size/l

#37463 Revert "chore(iop): Add redirects for :open and :closed to :popover-open"
  files/en-us/_redirects.txt
Labels: size/xs

#37401 New Pages: SVGSymbolElement
  files/en-us/web/api/svgsymbolelement/index.md
  files/en-us/web/api/svgsymbolelement/preserveaspectratio/index.md
  files/en-us/web/api/svgsymbolelement/viewbox/index.md
Labels: Content:WebAPI, size/m

#37398 New Pages: SVGNumberList
  files/en-us/web/api/svgnumberlist/appenditem/index.md
  files/en-us/web/api/svgnumberlist/clear/index.md
  files/en-us/web/api/svgnumberlist/getitem/index.md
  files/en-us/web/api/svgnumberlist/index.md
  files/en-us/web/api/svgnumberlist/initialize/index.md
  files/en-us/web/api/svgnumberlist/insertitembefore/index.md
  files/en-us/web/api/svgnumberlist/length/index.md
  files/en-us/web/api/svgnumberlist/numberofitems/index.md
  files/en-us/web/api/svgnumberlist/removeitem/index.md
  files/en-us/web/api/svgnumberlist/replaceitem/index.md
Labels: Content:WebAPI, size/m

#37403 New Pages: SVGStopElement offset
  files/en-us/web/api/svgstopelement/offset/index.md
Labels: Content:WebAPI, size/s

#37405 New Pages: SVGPolygonElement
  files/en-us/web/api/svgpolygonelement/animatedpoints/index.md
  files/en-us/web/api/svgpolygonelement/points/index.md
Labels: Content:WebAPI, size/m

#37468 Fix - Bad Phrasing of JavaScript custom data property names
  files/en-us/web/api/htmlelement/dataset/index.md
Labels: Content:WebAPI, size/s

#37473 Remove extraneous colons
  files/en-us/glossary/pop/index.md
  files/en-us/glossary/same-origin_policy/index.md
Labels: Content:Glossary, size/xs

#37471 Remove duplicate list item and fix the alphabetical sort
  files/en-us/web/security/user_activation/index.md
Labels: Content:Security, size/xs

#36569 Improves the `css` `using_media_queries` content
  files/en-us/web/css/css_media_queries/using_media_queries/index.md
Labels: Content:CSS, awaiting response, size/s

#37476 Add :: before cues
  files/en-us/web/api/webvtt_api/web_video_text_tracks_format/index.md
Labels: Content:WebAPI, size/s

#37461 Update values for `image-rendering`
  files/en-us/web/css/image-rendering/index.md
Labels: Content:CSS, size/s

#37460 Add note about not supported `text-wrap-style.avoid-orphans`
  files/en-us/web/css/text-wrap-style/index.md
Labels: Content:CSS, size/xs

#37454 Replace `<iframe>` → `<fencedframe>` in the Accessibility section
  files/en-us/web/html/element/fencedframe/index.md
Labels: Content:HTML, size/xs

#37479 grammar (minor)
  files/en-us/web/html/element/fencedframe/index.md
Labels: Content:HTML, size/xs

#37470 Update Firefox 134 release notes for WebDriver conforming changes
  files/en-us/mozilla/firefox/releases/134/index.md
Labels: Content:Firefox, size/s

#37118 Add `::details-content` page
  files/en-us/web/css/_doublecolon_details-content/index.md
Labels: Content:CSS, awaiting response, size/m

#37483 Fix typo CDLR -> CLDR in Intl.Locale.prototype.getTimeZones()
  .vscode/dictionaries/terms-abbreviations.txt
  files/en-us/web/javascript/reference/global_objects/intl/locale/gettimezones/index.md
Labels: Content:JS, system, size/xs

#37488 Replace "this interface this interface" with "this interface"
  files/en-us/web/css/css_nesting/using_css_nesting/index.md
Labels: Content:CSS, size/xs

#37446 Add glossary term 'head-of-line blocking'
  files/en-us/glossary/head_of_line_blocking/index.md
  files/en-us/glossary/http_2/index.md
  files/en-us/web/api/webtransport_api/index.md
  files/en-us/web/http/connection_management_in_http_1.x/index.md
  files/en-us/web/http/messages/index.md
Labels: Content:WebAPI, Content:HTTP, Content:Glossary, size/s

#37361 improve IIFE docs
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/glossary/iife/index.md
  files/en-us/glossary/self-executing_anonymous_function/index.md
  files/en-us/web/javascript/reference/operators/async_function/index.md
  files/en-us/web/javascript/reference/operators/comma_operator/index.md
  files/en-us/web/javascript/reference/operators/function/index.md
Labels: Content:JS, Content:Glossary, size/m

#37416 New Pages: SVGImageElement
  files/en-us/web/api/svgimageelement/href/index.md
Labels: Content:WebAPI, size/s

#37427 New Pages: SVGFEDistantLightElement
  files/en-us/web/api/svgfedistantlightelement/azimuth/index.md
  files/en-us/web/api/svgfedistantlightelement/elevation/index.md
Labels: Content:WebAPI, size/m

#37419 New Pages: SVGFEColorMatrixElement
  files/en-us/web/api/svgfecolormatrixelement/in1/index.md
  files/en-us/web/api/svgfecolormatrixelement/type/index.md
  files/en-us/web/api/svgfecolormatrixelement/values/index.md
Labels: Content:WebAPI, size/m

#37414 New Pages: SVGGradientElement
  files/en-us/web/api/svggradientelement/gradienttransform/index.md
  files/en-us/web/api/svggradientelement/gradientunits/index.md
  files/en-us/web/api/svggradientelement/href/index.md
  files/en-us/web/api/svggradientelement/spreadmethod/index.md
Labels: Content:WebAPI, size/m

#37500 fix typo: remove the extra parenthesis
  files/en-us/glossary/iife/index.md
Labels: Content:Glossary, size/xs

#37429 New Pages: SVGFEGaussianBlurElement
  files/en-us/web/api/svgfegaussianblurelement/in1/index.md
  files/en-us/web/api/svgfegaussianblurelement/setstddeviation/index.md
  files/en-us/web/api/svgfegaussianblurelement/stddeviationx/index.md
  files/en-us/web/api/svgfegaussianblurelement/stddeviationy/index.md
Labels: Content:WebAPI, size/m

#37437 New Pages: SVGFESpecularLightingElement
  files/en-us/web/api/svgfespecularlightingelement/in1/index.md
  files/en-us/web/api/svgfespecularlightingelement/specularconstant/index.md
  files/en-us/web/api/svgfespecularlightingelement/specularexponent/index.md
  files/en-us/web/api/svgfespecularlightingelement/surfacescale/index.md
Labels: Content:WebAPI, size/m

#37494 Update syntax for `white-space`
  files/en-us/web/css/text-wrap-mode/index.md
  files/en-us/web/css/text-wrap/index.md
  files/en-us/web/css/white-space-collapse/index.md
  files/en-us/web/css/white-space/index.md
Labels: Content:CSS, size/m

#37498 Fixed Typos in Flexbox Basics Page
  files/en-us/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/index.md
Labels: Content:CSS, size/s

#37499 fix(css): remove an outdated note from CSS nesting page
  files/en-us/web/css/css_nesting/using_css_nesting/index.md
Labels: Content:CSS, size/s

#37501 Complete list for CSS-wide keywords
  files/en-us/web/css/css_types/index.md
  files/en-us/web/css/value_definition_syntax/index.md
Labels: Content:CSS, size/s

#37507 Add "background" word to description
  files/en-us/web/css/css_backgrounds_and_borders/index.md
Labels: Content:CSS, size/xs

#37490 Synchronize with BCD v5.6.27
  files/en-us/web/css/_doublecolon_details-content/index.md
Labels: Content:CSS, size/xs

#37486 Remove VTTCue.line link
  files/en-us/web/api/vttcue/index.md
Labels: Content:WebAPI, size/xs

#37522 replaced cool looking box link with inline code blocks
  files/en-us/learn_web_development/core/styling_basics/cool-looking_box/index.md
Labels: size/m

#37456 fill in installing software and browsing the web
  files/en-us/learn_web_development/core/version_control/index.md
  files/en-us/learn_web_development/getting_started/environment_setup/browsing_the_web/index.md
  files/en-us/learn_web_development/getting_started/environment_setup/code_editors/index.md
  files/en-us/learn_web_development/getting_started/environment_setup/installing_software/index.md
  files/en-us/learn_web_development/getting_started/web_standards/how_the_web_works/index.md
  files/en-us/learn_web_development/howto/tools_and_setup/set_up_a_local_testing_server/index.md
Labels: size/m

#37521 Remove outdated mention of JSONP
  files/en-us/web/security/practical_implementation_guides/csp/index.md
Labels: Content:Security, size/xs

#37527 Firefox 134 release notes
  files/en-us/mozilla/firefox/releases/134/index.md
  files/en-us/mozilla/firefox/releases/135/index.md
  files/en-us/mozilla/firefox/releases/136/index.md
Labels: Content:Firefox, size/m

#37493 Include "input" event to the list of events in the Element documentation page.
  files/en-us/web/api/element/index.md
Labels: Content:WebAPI, size/xs

#37484 Update code editors and dealing with files
  files/en-us/learn_web_development/getting_started/environment_setup/code_editors/index.md
  files/en-us/learn_web_development/getting_started/environment_setup/command_line/index.md
  files/en-us/learn_web_development/getting_started/environment_setup/dealing_with_files/file-explorer.png
  files/en-us/learn_web_development/getting_started/environment_setup/dealing_with_files/finder.png
  files/en-us/learn_web_development/getting_started/environment_setup/dealing_with_files/index.md
  files/en-us/learn_web_development/getting_started/environment_setup/dealing_with_files/vs-code-explorer.png
Labels: size/m

#37511 Clarify usage of return values in iterator protocol
  files/en-us/web/javascript/reference/iteration_protocols/index.md
Labels: Content:JS, size/xs

#37491 New glossary pages for CSR/SSR
  files/en-us/glossary/csr/index.md
  files/en-us/glossary/ssr/index.md
Labels: Content:Glossary, size/m

#37410 New Pages: SVGFilterElement
  files/en-us/web/api/svgfilterelement/filterunits/index.md
  files/en-us/web/api/svgfilterelement/height/index.md
  files/en-us/web/api/svgfilterelement/href/index.md
  files/en-us/web/api/svgfilterelement/primitiveunits/index.md
  files/en-us/web/api/svgfilterelement/width/index.md
  files/en-us/web/api/svgfilterelement/x/index.md
  files/en-us/web/api/svgfilterelement/y/index.md
Labels: Content:WebAPI, size/m

#37399 New Pages: SVGTextPathElement
  files/en-us/web/api/svgtextpathelement/href/index.md
  files/en-us/web/api/svgtextpathelement/method/index.md
  files/en-us/web/api/svgtextpathelement/spacing/index.md
  files/en-us/web/api/svgtextpathelement/startoffset/index.md
Labels: Content:WebAPI, size/m

#36705 Add docs for `{NavigateEvent,PopStateEvent}.hasUAVisualTransition`
  files/en-us/web/api/navigateevent/hasuavisualtransition/index.md
  files/en-us/web/api/navigateevent/index.md
  files/en-us/web/api/popstateevent/hasuavisualtransition/index.md
  files/en-us/web/api/popstateevent/index.md
Labels: Content:WebAPI, size/m

#37236 New pages: SVGRect API
  files/en-us/web/api/svgrect/height/index.md
  files/en-us/web/api/svgrect/index.md
  files/en-us/web/api/svgrect/width/index.md
  files/en-us/web/api/svgrect/y/index.md
Labels: Content:WebAPI, size/m

#37267 New pages: SVGLineElement geometric properties.
  files/en-us/web/api/svglineelement/x1/index.md
  files/en-us/web/api/svglineelement/x2/index.md
  files/en-us/web/api/svglineelement/y1/index.md
  files/en-us/web/api/svglineelement/y2/index.md
Labels: Content:WebAPI, size/m

#37425 New Pages: SVGFEDiffuseLightingElement
  files/en-us/web/api/svgfediffuselightingelement/diffuseconstant/index.md
  files/en-us/web/api/svgfediffuselightingelement/in1/index.md
  files/en-us/web/api/svgfediffuselightingelement/kernelunitlengthx/index.md
  files/en-us/web/api/svgfediffuselightingelement/kernelunitlengthy/index.md
  files/en-us/web/api/svgfediffuselightingelement/surfacescale/index.md
Labels: Content:WebAPI, size/m

#37435 New Pages SVGFEMorphologyElement and SVGFEMergeNodeElement props
  files/en-us/web/api/svgfemergenodeelement/in1/index.md
  files/en-us/web/api/svgfemorphologyelement/in1/index.md
  files/en-us/web/api/svgfemorphologyelement/operator/index.md
  files/en-us/web/api/svgfemorphologyelement/radiusx/index.md
  files/en-us/web/api/svgfemorphologyelement/radiusy/index.md
Labels: Content:WebAPI, size/m

#37531 "read-only" comes AFTER prop name
  files/en-us/web/api/htmllinkelement/sizes/index.md
  files/en-us/web/api/htmltrackelement/readystate/index.md
  files/en-us/web/api/htmltrackelement/track/index.md
  files/en-us/web/api/performancelongtasktiming/attribution/index.md
  files/en-us/web/api/presentationconnection/url/index.md
  files/en-us/web/api/rtcencodedaudioframe/timestamp/index.md
  files/en-us/web/api/rtcencodedvideoframe/timestamp/index.md
  files/en-us/web/api/rtcencodedvideoframe/type/index.md
  files/en-us/web/api/taskattributiontiming/containerid/index.md
  files/en-us/web/api/taskattributiontiming/containername/index.md
  files/en-us/web/api/taskattributiontiming/containersrc/index.md
  files/en-us/web/api/taskattributiontiming/containertype/index.md
  files/en-us/web/api/taskprioritychangeevent/previouspriority/index.md
  files/en-us/webassembly/javascript_interface/instance/exports/index.md
Labels: Content:WebAPI, Content:wasm, size/s

#37311 New pages: SVGFEDiffuseLightingElement API
  files/en-us/web/api/svgfediffuselightingelement/height/index.md
  files/en-us/web/api/svgfediffuselightingelement/result/index.md
  files/en-us/web/api/svgfediffuselightingelement/width/index.md
  files/en-us/web/api/svgfediffuselightingelement/x/index.md
  files/en-us/web/api/svgfediffuselightingelement/y/index.md
Labels: Content:WebAPI, size/m

#37013 add: SVG Angle MDN Feature Pages
  files/en-us/web/api/svgangle/converttospecifiedunits/index.md
  files/en-us/web/api/svgangle/index.md
  files/en-us/web/api/svgangle/newvaluespecifiedunits/index.md
  files/en-us/web/api/svgangle/unittype/index.md
  files/en-us/web/api/svgangle/value/index.md
  files/en-us/web/api/svgangle/valueasstring/index.md
  files/en-us/web/api/svgangle/valueinspecifiedunits/index.md
Labels: Content:WebAPI, size/m

#37537 fix: aria role
  files/en-us/web/api/htmlimageelement/alt/index.md
Labels: Content:WebAPI, size/s

#37022 Modify the sample code in the Location `hash` property
  files/en-us/web/api/location/hash/index.md
Labels: Content:WebAPI, size/s

#37006 New pages: HTMLMediaElement API (played and seeking)
  files/en-us/web/api/htmlmediaelement/played/index.md
  files/en-us/web/api/htmlmediaelement/seeking/index.md
Labels: Content:WebAPI, size/m

#37075 MDN Feature Pages for SVGAnimatedPreserveAspectRatio
  files/en-us/web/api/svganimatedpreserveaspectratio/animval/index.md
  files/en-us/web/api/svganimatedpreserveaspectratio/baseval/index.md
  files/en-us/web/api/svganimatedpreserveaspectratio/index.md
Labels: Content:WebAPI, size/m

#37070 MDN feature pages for SVGAnimatedInteger
  files/en-us/web/api/svganimatedinteger/animval/index.md
  files/en-us/web/api/svganimatedinteger/baseval/index.md
  files/en-us/web/api/svganimatedinteger/index.md
Labels: Content:WebAPI, size/m

#37551 Synchronize with BCD v5.6.28
  files/en-us/web/api/popstateevent/hasuavisualtransition/index.md
  files/en-us/web/api/popstateevent/index.md
Labels: Content:WebAPI, size/s

#37529 Update info for svg `<script>` element
  files/en-us/web/svg/element/script/index.md
  files/jsondata/SVGData.json
Labels: Content:SVG, size/s

#37111 fix(i10n): add Korean localization for secure_context text
  files/jsondata/L10n-Template.json
Labels: size/xs

#37544 Add note_taking manifest member
  files/en-us/web/manifest/note_taking/index.md
Labels: Content:Manifest, size/s

#37558 fix: Remove heading from above summary to ensure valid HTML
  files/en-us/web/html/element/summary/index.md
Labels: Content:HTML, size/xs

#37576 fix(ci): fix new ci test
  .github/workflows/pr-test-new-ci.yml
Labels: system, size/xs

#37564 New CSS page: alignment-baseline
  files/en-us/web/css/alignment-baseline/index.md
  files/en-us/web/css/css_inline_layout/index.md
  files/en-us/web/svg/attribute/alignment-baseline/index.md
Labels: Content:CSS, Content:SVG, size/m

#37569 chore(js): Glossary for JIT compilation
  files/en-us/web/javascript/index.md
Labels: Content:JS, size/xs

#37536 Update box model Module to contain the correct properties
  files/en-us/web/css/css_box_model/index.md
Labels: Content:CSS, size/s

#37480 fix(css): update opacity example from ::placeholder
  files/en-us/web/css/_doublecolon_placeholder/index.md
Labels: Content:CSS, size/s

#37509 fix(css): explain CSS aspect ratio comparison
  files/en-us/glossary/aspect_ratio/index.md
  files/en-us/web/css/@media/aspect-ratio/index.md
  files/en-us/web/css/ratio/index.md
Labels: Content:CSS, Content:Glossary, size/s

#37583 Fix code snippet in in-operator documentation
  files/en-us/web/javascript/reference/operators/in/index.md
Labels: Content:JS, size/xs

#37171 New page: DOMMatrixReadOnly.flipY()
  files/en-us/web/api/dommatrixreadonly/flipx/index.md
  files/en-us/web/api/dommatrixreadonly/flipy/index.md
Labels: Content:WebAPI, size/m

#37249 add SVGComponentTransferFunctionElement interfaces
  files/en-us/web/api/svgcomponenttransferfunctionelement/amplitude/index.md
  files/en-us/web/api/svgcomponenttransferfunctionelement/exponent/index.md
  files/en-us/web/api/svgcomponenttransferfunctionelement/intercept/index.md
  files/en-us/web/api/svgcomponenttransferfunctionelement/offset/index.md
  files/en-us/web/api/svgcomponenttransferfunctionelement/slope/index.md
  files/en-us/web/api/svgcomponenttransferfunctionelement/tablevalues/index.md
  files/en-us/web/api/svgcomponenttransferfunctionelement/type/index.md
Labels: Content:WebAPI, size/m

#37582 FIX: typo on documentation
  files/en-us/web/html/element/template/index.md
Labels: Content:HTML, size/xs

#37444 Add glossary term 'escaping text'
  files/en-us/glossary/character_reference/index.md
  files/en-us/glossary/escape_character/index.md
  files/en-us/web/css/ident/index.md
Labels: Content:CSS, Content:Glossary, size/s

#37573 Update index.md
  files/en-us/learn_web_development/core/structuring_content/index.md
Labels: size/xs

#37578 Update index.md - correct "encryption" to "compression"
  files/en-us/web/http/compression/index.md
Labels: Content:HTTP, size/xs

#37586 new-ci: add inline flaw data
  .github/workflows/pr-test-new-ci.yml
Labels: system, size/xs

#37185 New pages: DOMMatrix multiply(), multiplySelf(), and preMultiplySelf()
  files/en-us/web/api/dommatrix/index.md
  files/en-us/web/api/dommatrix/multiplyself/index.md
  files/en-us/web/api/dommatrix/premultiplyself/index.md
  files/en-us/web/api/dommatrixreadonly/index.md
  files/en-us/web/api/dommatrixreadonly/multiply/index.md
Labels: Content:WebAPI, size/m

#37251 New pages: SVGRectElement reflective props
  files/en-us/web/api/svgrectelement/height/index.md
  files/en-us/web/api/svgrectelement/rx/index.md
  files/en-us/web/api/svgrectelement/ry/index.md
  files/en-us/web/api/svgrectelement/width/index.md
  files/en-us/web/api/svgrectelement/x/index.md
  files/en-us/web/api/svgrectelement/y/index.md
Labels: Content:WebAPI, size/m

#37492 Remove experimental status front matter key
  files/en-us/web/api/view_transition_api/using/index.md
Labels: Content:WebAPI, size/xs

#37596 Remove confusing paragraph
  files/en-us/web/api/range/tostring/index.md
Labels: Content:WebAPI, size/xs

#37593 fix: label text of font-weight range input
  files/en-us/web/css/@font-face/font-weight/index.md
Labels: Content:CSS, size/xs

#37589 Fix usage info for horiz-origin-y
  files/en-us/web/svg/attribute/horiz-origin-y/index.md
Labels: Content:SVG, size/xs

#37588 Fix the old cache deletion example.
  files/en-us/web/api/serviceworkerglobalscope/activate_event/index.md
Labels: Content:WebAPI, size/s

#37605 Remove reference to prototype inheritance for public fields.
  files/en-us/web/javascript/reference/classes/public_class_fields/index.md
Labels: Content:JS, size/xs

#37608 Remove obsolete guidance for browsers not supporting strict mode
  files/en-us/web/javascript/reference/strict_mode/index.md
Labels: Content:JS, size/xs

#37607 Correct info about AbortSignal usage in addEventListener
  files/en-us/web/api/eventtarget/addeventlistener/index.md
Labels: Content:WebAPI, size/xs

#37612 fix a typo
  files/en-us/web/security/mixed_content/index.md
Labels: Content:Security, size/xs

#37606 Update syntax list and add inline deprecated status badge for `writing-mode`
  files/en-us/web/css/writing-mode/index.md
Labels: Content:CSS, size/s

#37616 Update index.md
  files/en-us/mozilla/firefox/releases/130/index.md
Labels: Content:Firefox, size/xs

#37620 Fix typo
  files/en-us/web/javascript/reference/operators/yield_star_/index.md
Labels: Content:JS, size/xs

#37621 Fix typo
  files/en-us/web/api/console/index.md
Labels: Content:WebAPI, size/xs

#37600 Fix spelling
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/index.md
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/modifyheaderinfo/index.md
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/rule/index.md
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/ruleaction/index.md
Labels: Content:WebExt, size/s

#37627 fix typos
  .vscode/dictionaries/ignore-list.txt
  .vscode/dictionaries/proper-names.txt
  .vscode/dictionaries/terms-abbreviations.txt
  files/en-us/learn_web_development/getting_started/environment_setup/browsing_the_web/index.md
  files/en-us/learn_web_development/getting_started/environment_setup/code_editors/index.md
  files/en-us/learn_web_development/getting_started/environment_setup/installing_software/index.md
  files/en-us/web/api/svgangle/unittype/index.md
Labels: Content:WebAPI, system, size/s

#37599 Synchronize with BCD v5.6.29
  files/en-us/web/manifest/index.md
  files/en-us/web/manifest/note_taking/index.md
Labels: Content:Manifest, size/xs

#37562 macro fix
  files/en-us/web/svg/attribute/alignment-baseline/index.md
Labels: Content:SVG, size/xs

#37561 add links to glossary
  files/en-us/web/css/scroll-snap-align/index.md
Labels: Content:CSS, size/xs

#37540 HTML: fix pre's incomplete description
  files/en-us/web/html/element/pre/index.md
Labels: Content:HTML, size/xs

#37625 Fix wrong shader type in WebGL texture tutorial
  files/en-us/web/api/webgl_api/tutorial/using_textures_in_webgl/index.md
Labels: Content:WebAPI, size/xs

#37629 docs: update WebTransport unidirectional stream examples
  files/en-us/web/api/webtransport/createunidirectionalstream/index.md
Labels: Content:WebAPI, size/xs

#37636 fix(games): move single quote to match list
  files/en-us/games/tutorials/html5_gamedev_phaser_device_orientation/index.md
Labels: Content:Games, size/xs

#37639 fix: remove the duplicated sidebar macro
  files/en-us/web/svg/element/index.md
Labels: Content:SVG, size/xs

#37553 fix(css): Fix `flex: 1` explanation
  files/en-us/web/css/css_flexible_box_layout/basic_concepts_of_flexbox/index.md
Labels: Content:CSS, size/xs

#37642 Fix minor mistake: you send two directives not two headers
  files/en-us/web/http/headers/content-security-policy/report-to/index.md
Labels: Content:HTTP, size/xs

#37630 added correct explanations to offsets in selection api docs
  files/en-us/web/api/selection/anchoroffset/index.md
  files/en-us/web/api/selection/focusoffset/index.md
Labels: Content:WebAPI, size/s

#37556 Update No Vary Search docs for prerender
  files/en-us/web/html/element/script/type/speculationrules/index.md
  files/en-us/web/http/headers/no-vary-search/index.md
Labels: Content:HTML, Content:HTTP, size/s

#37574 Rewrite `attr()` to match the newest version of the spec
  files/en-us/glossary/guaranteed_invalid_value/index.md
  files/en-us/web/css/attr/index.md
Labels: Content:CSS, Content:Glossary, size/m

#37638 Fix typo in 'align-self' documentation: change 'an intrinsic sizes' to 'an intrinsic size'
  files/en-us/web/css/align-self/index.md
Labels: Content:CSS, size/xs

#37637 Games: Be consistent with code highlights
  files/en-us/games/techniques/tilemaps/square_tilemaps_implementation_colon__scrolling_maps/index.md
Labels: Content:Games, size/xs

#37563 Reorganize JS numbers/dates/strings guides
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/learn_web_development/core/scripting/math/index.md
  files/en-us/web/html/date_and_time_formats/index.md
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
  files/en-us/web/javascript/guide/index.md
  files/en-us/web/javascript/guide/internationalization/index.md
  files/en-us/web/javascript/guide/iterators_and_generators/index.md
  files/en-us/web/javascript/guide/meta_programming/index.md
  files/en-us/web/javascript/guide/numbers_and_strings/index.md
  files/en-us/web/javascript/guide/regular_expressions/index.md
  files/en-us/web/javascript/guide/representing_dates_times/index.md
  files/en-us/web/javascript/guide/text_formatting/index.md
  files/en-us/web/javascript/guide/using_classes/index.md
  files/en-us/web/javascript/reference/global_objects/string/index.md
  files/en-us/web/javascript/reference/global_objects/string/string/index.md
  files/en-us/web/javascript/reference/global_objects/string/symbol.iterator/index.md
  files/en-us/web/javascript/reference/template_literals/index.md
  files/sidebars/jssidebar.yaml
Labels: Content:HTML, Content:JS, size/l

#37656 Synchronize with BCD v5.6.30
  files/en-us/web/css/writing-mode/index.md
  files/en-us/web/manifest/share_target/index.md
Labels: Content:CSS, Content:Manifest, size/s

#37654 Fix multiple typos in `justify-items`, `align-items`, `place-self` documentation: change 'an intrinsic sizes' to 'an intrinsic size'.
  files/en-us/web/css/align-items/index.md
  files/en-us/web/css/justify-items/index.md
  files/en-us/web/css/place-self/index.md
Labels: Content:CSS, size/s

#37601 flex-basis: 0/0%: Fix: Issue #37597
  files/en-us/web/css/flex-basis/index.md
Labels: Content:CSS, size/xs

#37566 CSS module: box alignment
  files/en-us/glossary/baseline/typography/index.md
  files/en-us/mozilla/firefox/releases/61/index.md
  files/en-us/web/css/css_box_alignment/box_alignment/align-container-subjects.png
  files/en-us/web/css/css_box_alignment/box_alignment/index.md
  files/en-us/web/css/css_box_alignment/box_alignment/justify-content-space-between.png
  files/en-us/web/css/css_box_alignment/box_alignment/justify-content-start.png
  files/en-us/web/css/css_box_alignment/box_alignment/two-axes.png
  files/en-us/web/css/css_box_alignment/box_alignment/writing-mode-start.png
  files/en-us/web/css/css_box_alignment/box_alignment_in_block_abspos_tables/index.md
  files/en-us/web/css/css_box_alignment/box_alignment_in_flexbox/index.md
  files/en-us/web/css/css_box_alignment/box_alignment_in_grid_layout/index.md
  files/en-us/web/css/css_box_alignment/box_alignment_in_multi-column_layout/index.md
  files/en-us/web/css/css_box_alignment/index.md
  files/en-us/web/svg/attribute/alignment-baseline/index.md
Labels: Content:CSS, Content:SVG, Content:Glossary, Content:Firefox, size/l

#37658 More information about formatToParts pages
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/format/index.md
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/formatrangetoparts/index.md
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/formattoparts/index.md
  files/en-us/web/javascript/reference/global_objects/intl/durationformat/durationformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/durationformat/formattoparts/index.md
  files/en-us/web/javascript/reference/global_objects/intl/listformat/format/index.md
  files/en-us/web/javascript/reference/global_objects/intl/listformat/formattoparts/index.md
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/formatrangetoparts/index.md
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/formattoparts/index.md
  files/en-us/web/javascript/reference/global_objects/intl/relativetimeformat/formattoparts/index.md
Labels: Content:JS, size/m

#37668 fix typo
  files/en-us/web/api/url/pathname/index.md
Labels: Content:WebAPI, size/xs

#37662 Replace dead link to inclusive design principles site
  files/en-us/learn_web_development/core/design_for_developers/index.md
Labels: size/xs

#37661 Minor: See also: add grid to box alignment data types
  files/en-us/web/css/baseline-position/index.md
  files/en-us/web/css/content-distribution/index.md
  files/en-us/web/css/content-position/index.md
  files/en-us/web/css/css_flexible_box_layout/index.md
  files/en-us/web/css/overflow-position/index.md
  files/en-us/web/css/self-position/index.md
Labels: Content:CSS, size/s

#37657 chore(http): Add 'CSP' to Content-Security-Policy header page
  files/en-us/web/http/headers/content-security-policy/index.md
Labels: Content:HTTP, size/s

#37681 add mention of property access on numeric literals
  files/en-us/web/javascript/reference/errors/identifier_after_number/index.md
Labels: Content:JS, size/s

#37674 Delete unnecessary sentence
  files/en-us/web/security/practical_implementation_guides/cookies/index.md
Labels: Content:Security, size/xs

#37683 Fix outdated syntax and double intialized variable.
  files/en-us/web/api/request/credentials/index.md
Labels: Content:WebAPI, size/xs

#37679 fix: auxclick, click, contentmenu events updated
  files/en-us/web/api/element/auxclick_event/index.md
  files/en-us/web/api/element/click_event/index.md
  files/en-us/web/api/element/contextmenu_event/index.md
Labels: Content:WebAPI, size/s

#37684 Fix typo in 'justify-self' documentation: change 'an intrinsic sizes' to 'an intrinsic size'
  files/en-us/web/css/justify-self/index.md
Labels: Content:CSS, size/xs

#37671 Fix typos (#37539)
  files/en-us/web/css/css_flexible_box_layout/aligning_items_in_a_flex_container/index.md
Labels: Content:CSS, size/s

#37633 Update `filter-function-list` to `filter-value-list`
  files/en-us/web/css/backdrop-filter/index.md
  files/en-us/web/svg/attribute/filter/index.md
Labels: Content:CSS, Content:SVG, size/xs

#37541 Fix displayed URL titles for Specifications section
  files/en-us/web/css/css_overflow/index.md
Labels: Content:CSS, size/xs

#37688 fix: correct gfm syntax
  files/en-us/web/http/headers/content-security-policy/index.md
Labels: Content:HTTP, size/s

#37502 remove "Video and Audio APIs" from "Asynchronous JavaScript" section
  files/sidebars/learnsidebar.yaml
Labels: size/xs

#37691 Unify wording
  files/en-us/web/javascript/reference/global_objects/array/find/index.md
  files/en-us/web/javascript/reference/global_objects/array/findindex/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/find/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/findindex/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/findlast/index.md
Labels: Content:JS, size/s

#37695 fix: misleading javascript conflict example
  files/en-us/learn_web_development/core/scripting/functions/index.md
Labels: size/xs

#37692 Update example to use type="time" instead of type="number"
  files/en-us/web/html/element/input/time/index.md
Labels: Content:HTML, size/xs

#37703 Synchronize with BCD v5.6.31
  files/en-us/web/manifest/share_target/index.md
Labels: Content:Manifest, size/xs

#37710 Add Regex Guide to See Also sections of common functions that use Regexes
  files/en-us/web/javascript/reference/global_objects/string/match/index.md
  files/en-us/web/javascript/reference/global_objects/string/matchall/index.md
  files/en-us/web/javascript/reference/global_objects/string/replace/index.md
  files/en-us/web/javascript/reference/global_objects/string/replaceall/index.md
  files/en-us/web/javascript/reference/global_objects/string/split/index.md
Labels: Content:JS, size/s

#37707 Fix typo in Browsing the web
  files/en-us/learn_web_development/getting_started/environment_setup/browsing_the_web/index.md
Labels: size/xs

#37714 Fix: Typo
  files/en-us/web/html/element/input/submit/index.md
Labels: Content:HTML, size/xs

#37360 Update reference to Github free accounts...
  files/en-us/learn_web_development/extensions/server-side/django/development_environment/index.md
Labels: awaiting response, size/xs

#37725 Updated index.md correction of a grammatical mistake.
  files/en-us/learn_web_development/getting_started/environment_setup/browsing_the_web/index.md
Labels: size/xs

#37729 Dynamic scripting - typo
  files/en-us/learn_web_development/core/scripting/index.md
Labels: size/xs

#37730 Fixed grammar issue in cdatasection
  files/en-us/web/api/cdatasection/index.md
Labels: Content:WebAPI, size/xs

#37732 RTCInboundRtpStreamStats.mid - add
  files/en-us/web/api/rtcinboundrtpstreamstats/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/mid/index.md
Labels: Content:WebAPI, size/s

#37733 Clarity change: replace "okay" with "not too hard"
  files/en-us/learn_web_development/core/scripting/what_went_wrong/index.md
Labels: size/xs

#37709 Add descriptor requirement to `@font-face`
  files/en-us/web/css/@font-face/index.md
Labels: Content:CSS, size/s

#37721 corresponding `horizontal and vertical` with better order.
  files/en-us/web/css/css_grid_layout/basic_concepts_of_grid_layout/index.md
Labels: Content:CSS, size/xs

#37700 Document Animation.overallProgress property
  files/en-us/web/api/animation/index.md
  files/en-us/web/api/animation/overallprogress/index.md
Labels: Content:WebAPI, size/m

#37741 docs: clarify `BigInt`s are integers
  files/en-us/web/javascript/reference/global_objects/bigint/index.md
Labels: Content:JS, size/xs
