Repository mdn/content, pull requests merged in 2025-10, with the labels that each got.

#41343 Add hyperlink in page intro
  files/en-us/web/css/@font-face/ascent-override/index.md
  files/en-us/web/css/@font-face/descent-override/index.md
  files/en-us/web/css/@font-face/font-family/index.md
  files/en-us/web/css/@font-face/font-feature-settings/index.md
  files/en-us/web/css/@font-face/font-stretch/index.md
  files/en-us/web/css/@font-face/font-style/index.md
  files/en-us/web/css/@font-face/font-variation-settings/index.md
  files/en-us/web/css/@font-face/font-weight/index.md
  files/en-us/web/css/@font-face/line-gap-override/index.md
  files/en-us/web/css/@font-face/size-adjust/index.md
  files/en-us/web/css/@font-face/src/index.md
  files/en-us/web/css/@font-face/unicode-range/index.md
  files/en-us/web/css/@font-palette-values/base-palette/index.md
  files/en-us/web/css/@font-palette-values/override-colors/index.md
  files/en-us/web/css/@keyframes/index.md
  files/en-us/web/css/_colon_-moz-submit-invalid/index.md
  files/en-us/web/css/_colon_autofill/index.md
  files/en-us/web/css/_colon_has/index.md
  files/en-us/web/css/_colon_only-child/index.md
  files/en-us/web/css/_colon_only-of-type/index.md
  files/en-us/web/css/_colon_user-invalid/index.md
  files/en-us/web/css/_colon_user-valid/index.md
  files/en-us/web/css/_doublecolon_-webkit-inner-spin-button/index.md
  files/en-us/web/css/_doublecolon_-webkit-meter-optimum-value/index.md
  files/en-us/web/css/_doublecolon_-webkit-search-cancel-button/index.md
  files/en-us/web/css/_doublecolon_-webkit-search-results-button/index.md
  files/en-us/web/css/_doublecolon_-webkit-slider-runnable-track/index.md
  files/en-us/web/css/_doublecolon_-webkit-slider-thumb/index.md
  files/en-us/web/css/_doublecolon_highlight/index.md
  files/en-us/web/css/_doublecolon_selection/index.md
  files/en-us/web/css/basic-shape/circle/index.md
  files/en-us/web/css/font-variant/index.md
  files/en-us/web/css/font/index.md
  files/en-us/web/css/grid-area/index.md
  files/en-us/web/css/grid-column/index.md
  files/en-us/web/css/grid-row/index.md
  files/en-us/web/css/inherit/index.md
  files/en-us/web/css/initial-letter/index.md
  files/en-us/web/css/initial/index.md
  files/en-us/web/css/list-style/index.md
  files/en-us/web/css/offset/index.md
  files/en-us/web/css/revert/index.md
  files/en-us/web/css/symbols/index.md
  files/en-us/web/css/text-wrap/index.md
  files/en-us/web/css/unset/index.md
Labels: Content:CSS, size/m

#41281 Remove font-family: emoji references, add font-variant-emoji note
  files/en-us/web/css/font-family/index.md
  files/en-us/web/css/generic-family/index.md
Labels: Content:CSS, size/s

#41156 remove duplicated paragraph
  files/en-us/web/api/canvasrenderingcontext2d/lang/index.md
Labels: Content:WebAPI, size/xs

#41370 WebDriver conformance changes for Firefox 144
  files/en-us/mozilla/firefox/releases/144/index.md
Labels: Content:Firefox, size/s

#41297 Bug-1965975 Content script event handlers overwriting page event handlers
  files/en-us/mozilla/add-ons/webextensions/chrome_incompatibilities/index.md
Labels: Content:WebExt, size/s

#41187 New page on filing browser bugs
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/learn_web_development/getting_started/web_standards/how_browsers_load_websites/index.md
  files/en-us/learn_web_development/howto/web_mechanics/file_browser_bugs/index.md
  files/en-us/web/accessibility/aria/how_to/file_aria-related_bugs/index.md
  files/en-us/web/accessibility/aria/how_to/index.md
  files/en-us/web/accessibility/aria/index.md
  files/sidebars/accessibilitysidebar.yaml
Labels: Content:Learn, Content:Accessibility, size/m

#41377 MediaStream.getTrackById should use a random UUID
  files/en-us/web/api/mediastream/gettrackbyid/index.md
Labels: Content:WebAPI, size/s

#41382 ci: remove ping-other-repos workflow
  .github/workflows/ping-other-repos.yml
Labels: system, size/s

#40856 Remove sentence saying sidebars cannot be opened programmatically
  files/en-us/mozilla/add-ons/webextensions/user_interface/sidebars/index.md
Labels: Content:WebExt, size/xs

#41257 Editorial review: Document CSS dynamic-range-limit
  files/en-us/web/css/css_colors/index.md
  files/en-us/web/css/css_values_and_units/css_value_functions/index.md
  files/en-us/web/css/dynamic-range-limit-mix/index.md
  files/en-us/web/css/dynamic-range-limit/index.md
Labels: Content:CSS, size/m

#41013 ci(pr-review-companion): use PR number from event payload
  .github/workflows/pr-review-companion.yml
  .github/workflows/pr-test.yml
Labels: system, size/s

#41390 Synchronize with BCD v7.1.10
  files/en-us/web/api/cssstyledeclaration/cssfloat/index.md
  files/en-us/web/api/cssstyledeclaration/index.md
  files/en-us/web/css/@position-try/index.md
Labels: Content:CSS, Content:WebAPI, size/s

#41397 Fix a small typo
  files/en-us/learn_web_development/core/scripting/dom_scripting/index.md
Labels: Content:Learn, size/xs

#41389 Docs: Fixed a small typo in the Accelerometer API
  files/en-us/web/api/accelerometer/index.md
Labels: Content:WebAPI, size/xs

#41400 Update index.md
  files/en-us/web/api/html_dom_api/microtask_guide/index.md
Labels: Content:WebAPI, size/s

#41253 FF144 Relnote: JS Upsert Proposal
  files/en-us/mozilla/firefox/releases/144/index.md
Labels: Content:Firefox, size/s

#41384 Update typesetting challenge
  files/en-us/learn_web_development/core/text_styling/typesetting_a_homepage/example-finished.png
  files/en-us/learn_web_development/core/text_styling/typesetting_a_homepage/example-start.png
  files/en-us/learn_web_development/core/text_styling/typesetting_a_homepage/example2.png
  files/en-us/learn_web_development/core/text_styling/typesetting_a_homepage/index.md
Labels: Content:Learn, size/m

#41207 FF144 Relnote: beforescriptexecute and afterscriptexecute removal
  files/en-us/mozilla/firefox/releases/144/index.md
Labels: Content:Firefox, size/xs

#41395 Editorial review: Add information on echoCancellation constraint all and remote-only values
  files/en-us/web/api/inputdeviceinfo/getcapabilities/index.md
  files/en-us/web/api/mediatrackconstraints/echocancellation/index.md
  files/en-us/web/api/mediatrackconstraints/index.md
  files/en-us/web/api/mediatracksupportedconstraints/index.md
Labels: Content:WebAPI, size/m

#41415 Revert "ci(pr-review-companion): use PR number from event payload
  .github/workflows/pr-review-companion.yml
  .github/workflows/pr-test.yml
Labels: system, size/s

#41427 Fixed a typo
  files/en-us/learn_web_development/core/accessibility/html/index.md
Labels: Content:Learn, size/xs

#41354 Mention how to immediately remove cookies
  files/en-us/web/http/guides/cookies/index.md
Labels: Content:HTTP, size/s

#41429 Synchronize with BCD v7.1.11
  files/en-us/web/api/speechrecognition/available_static/index.md
  files/en-us/web/api/speechrecognition/install_static/index.md
Labels: Content:WebAPI, size/s
