Repository mdn/content, pull requests merged in 2025-06, with the labels that each got.

#39740 Wrong reference to upgrade-insecure-requests header
  files/en-us/web/security/practical_implementation_guides/csp/index.md
Labels: Content:Security, size/xs

#39736 Update attacks nav
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/glossary/cross-site_scripting/index.md
  files/en-us/glossary/csrf/index.md
  files/en-us/web/http/guides/cookies/index.md
  files/en-us/web/http/reference/headers/x-frame-options/index.md
  files/en-us/web/privacy/guides/third-party_cookies/index.md
  files/en-us/web/security/practical_implementation_guides/clickjacking/index.md
  files/en-us/web/security/practical_implementation_guides/cookies/index.md
  files/en-us/web/security/practical_implementation_guides/cors/index.md
  files/en-us/web/security/practical_implementation_guides/csp/index.md
  files/en-us/web/security/practical_implementation_guides/csrf_prevention/index.md
  files/en-us/web/security/practical_implementation_guides/index.md
  files/en-us/web/security/subdomain_takeovers/index.md
  files/en-us/web/security/types_of_attacks/index.md
Labels: Content:Other, Content:HTTP, Content:Glossary, Content:Security, size/m

#39744 Extract inline script/style into separate CSS/HTML blocks
  files/en-us/games/techniques/3d_on_the_web/building_up_a_basic_demo_with_a-frame/index.md
  files/en-us/games/techniques/3d_on_the_web/glsl_shaders/index.md
  files/en-us/games/techniques/async_scripts/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/svelte_getting_started/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/vue_styling/index.md
  files/en-us/learn_web_development/core/styling_basics/values_and_units/index.md
  files/en-us/learn_web_development/extensions/forms/user_input_methods/index.md
  files/en-us/learn_web_development/extensions/performance/web_performance_basics/index.md
  files/en-us/web/accessibility/aria/guides/live_regions/index.md
  files/en-us/web/accessibility/aria/reference/attributes/aria-invalid/index.md
  files/en-us/web/accessibility/aria/reference/attributes/aria-label/index.md
  files/en-us/web/accessibility/aria/reference/attributes/aria-modal/index.md
  files/en-us/web/accessibility/aria/reference/roles/alertdialog_role/index.md
  files/en-us/web/accessibility/aria/reference/roles/button_role/index.md
  files/en-us/web/accessibility/aria/reference/roles/checkbox_role/index.md
  files/en-us/web/accessibility/aria/reference/roles/listbox_role/index.md
  files/en-us/web/accessibility/aria/reference/roles/slider_role/index.md
  files/en-us/web/accessibility/guides/keyboard-navigable_javascript_widgets/index.md
  files/en-us/web/accessibility/guides/seizure_disorders/index.md
  files/en-us/web/api/document_object_model/traversing_an_html_table_with_javascript_and_dom_interfaces/index.md
  files/en-us/web/css/-moz-image-rect/index.md
  files/en-us/web/css/attr/index.md
  files/en-us/web/css/box-align/index.md
  files/en-us/web/css/box-flex/index.md
  files/en-us/web/css/color_value/index.md
  files/en-us/web/css/font-optical-sizing/index.md
  files/en-us/web/css/font-variant-east-asian/index.md
  files/en-us/web/css/math-depth/index.md
  files/en-us/web/css/math-shift/index.md
  files/en-us/web/css/percentage/index.md
  files/en-us/web/css/text-align-last/index.md
  files/en-us/web/html/reference/attributes/rel/modulepreload/index.md
  files/en-us/web/html/reference/elements/center/index.md
  files/en-us/web/html/reference/elements/figure/index.md
  files/en-us/web/html/reference/elements/input/number/index.md
  files/en-us/web/html/reference/elements/link/index.md
  files/en-us/web/html/reference/elements/marquee/index.md
  files/en-us/web/html/reference/elements/nobr/index.md
  files/en-us/web/html/reference/elements/small/index.md
  files/en-us/web/html/reference/global_attributes/data-_star_/index.md
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
  files/en-us/web/javascript/reference/global_objects/promise/index.md
  files/en-us/web/media/guides/audio_and_video_delivery/cross-browser_audio_basics/index.md
  files/en-us/web/progressive_web_apps/tutorials/cycletracker/service_workers/index.md
  files/en-us/web/svg/tutorials/svg_from_scratch/svg_and_css/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:JS, Content:Learn, Content:Accessibility, Content:SVG, Content:Media, Content:Games, Content:PWA, size/xl

#39749 Fix spelling, remove unused words
  .vscode/dictionaries/code-entities.txt
  .vscode/dictionaries/cultural-words.txt
  .vscode/dictionaries/ignore-list.txt
  .vscode/dictionaries/non-english.txt
  .vscode/dictionaries/proper-names.txt
  .vscode/dictionaries/terms-abbreviations.txt
  files/en-us/glossary/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/svg_element_page_template/index.md
  files/en-us/web/css/reading-flow/index.md
  files/en-us/web/css/reading-order/index.md
Labels: Content:CSS, Content:Glossary, Content:Meta, system, size/m

#39574 chore: Change ints to 'number' for ProgressEvent properties
  files/en-us/web/api/progressevent/index.md
  files/en-us/web/api/progressevent/loaded/index.md
  files/en-us/web/api/progressevent/progressevent/index.md
  files/en-us/web/api/progressevent/total/index.md
Labels: Content:WebAPI, size/s, size/m

#39496 doc: add explanation for multiple `Transfer-Encoding` values
  files/en-us/web/http/reference/headers/transfer-encoding/index.md
Labels: Content:HTTP, size/s

#39753 fix typo
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/onhistorystateupdated/index.md
Labels: Content:WebExt, size/xs

#39756 fix: correct casing in title to match other element pages
  files/en-us/web/html/reference/elements/small/index.md
Labels: Content:HTML, size/xs

#39711 Update document.adoptedStyleSheets to use newer push method
  files/en-us/web/api/document/adoptedstylesheets/index.md
Labels: Content:WebAPI, size/s

#39750 corrected spelling and updated example to show result on page
  files/en-us/web/api/highlight/highlight/index.md
  files/en-us/web/api/highlight/index.md
Labels: Content:WebAPI, size/s

#39771 Replace deprecated substr with slice
  files/en-us/web/api/fetch_api/using_fetch/index.md
Labels: Content:WebAPI, size/xs

#39760 Add allow-forms to example
  files/en-us/web/api/htmlformelement/submit_event/index.md
Labels: Content:WebAPI, size/xs

#39776 chore(fx): Temporal no longer experimental in Fx
  files/en-us/mozilla/firefox/experimental_features/index.md
Labels: Content:Firefox, size/s

#39778 Fix security sidebar: remove "types of attacks" entry
  files/sidebars/security.yaml
Labels: size/xs

#39761 feat(fx): Sidebar for active Fx releases
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/139/index.md
  files/en-us/mozilla/firefox/releases/140/index.md
  files/en-us/mozilla/firefox/releases/141/index.md
  files/en-us/mozilla/firefox/releases/index.md
  files/sidebars/firefoxsidebar.yaml
  front-matter-config.json
Labels: Content:Firefox, system, size/m

#39732 Editorial review: Update docs for Chrome 137 WebGPU additions
  files/en-us/web/api/gpucommandencoder/copybuffertobuffer/index.md
  files/en-us/web/api/gpudevice/createbindgroup/index.md
Labels: Content:WebAPI, size/s

#39782 Synchronize with BCD v6.0.20
  files/en-us/web/api/svgdiscardelement/index.md
Labels: Content:WebAPI, size/xs

#39729 Internalize role="timer" codepen demo
  files/en-us/web/accessibility/aria/reference/roles/timer_role/index.md
Labels: Content:Accessibility, size/m

#39649 Technical review: Add doc for the scope_extensions manifest member
  files/en-us/web/progressive_web_apps/manifest/reference/scope_extensions/index.md
Labels: Content:PWA, size/m

#39702 Editorial review: SVG <use>: Omit URL fragment to reference external root
  files/en-us/web/svg/reference/element/use/index.md
Labels: Content:SVG, size/m

#39792 Add note about `beforeinstallprompt` event not fired if PWA already installed
  files/en-us/web/progressive_web_apps/how_to/trigger_install_prompt/index.md
Labels: Content:PWA, size/s

#39772 Update index.md
  files/en-us/mdn/writing_guidelines/index.md
Labels: Content:Meta, size/s, size/xs

#39642 Editorial review: Document canvas context lang attribute
  files/en-us/glossary/bcp_47_language_tag/index.md
  files/en-us/web/api/canvasrenderingcontext2d/index.md
  files/en-us/web/api/canvasrenderingcontext2d/lang/index.md
  files/en-us/web/api/htmltrackelement/srclang/index.md
  files/en-us/web/api/offscreencanvasrenderingcontext2d/index.md
  files/en-us/web/html/reference/global_attributes/lang/index.md
Labels: Content:HTML, Content:WebAPI, Content:Glossary, size/m

#39795 Fixed view-transition-class exampled
  files/en-us/web/css/view-transition-class/index.md
Labels: Content:CSS, size/xs

#39584 Improves the explanation for the application-name metadata
  files/en-us/web/html/reference/elements/meta/name/index.md
Labels: Content:HTML, size/s

#39802 Remove external script dependency & jsfiddle in 2D collision detection
  files/en-us/games/techniques/2d_collision_detection/index.md
Labels: Content:Games, size/m

#39796 Replace w3.org/TR links with editor drafts
  files/en-us/glossary/accessibility_tree/index.md
  files/en-us/glossary/accessible_description/index.md
  files/en-us/glossary/document_directive/index.md
  files/en-us/glossary/event/index.md
  files/en-us/glossary/fetch_directive/index.md
  files/en-us/glossary/fingerprinting/index.md
  files/en-us/glossary/navigation_directive/index.md
  files/en-us/glossary/reporting_directive/index.md
  files/en-us/glossary/server_timing/index.md
  files/en-us/glossary/void_element/index.md
  files/en-us/learn_web_development/core/styling_basics/cascade_layers/index.md
  files/en-us/learn_web_development/extensions/server-side/apache_configuration_htaccess/index.md
  files/en-us/learn_web_development/howto/solve_css_problems/generated_content/index.md
  files/en-us/mozilla/firefox/releases/1.5/index.md
  files/en-us/mozilla/firefox/releases/1.5/what_s_new_in_1.5_alpha/index.md
  files/en-us/mozilla/firefox/releases/127/index.md
  files/en-us/mozilla/firefox/releases/3/site_compatibility/index.md
  files/en-us/mozilla/firefox/releases/5/index.md
  files/en-us/mozilla/firefox/releases/54/index.md
  files/en-us/web/accessibility/aria/reference/roles/button_role/index.md
  files/en-us/web/accessibility/aria/reference/roles/math_role/index.md
  files/en-us/web/accessibility/aria/reference/roles/textbox_role/index.md
  files/en-us/web/accessibility/guides/seizure_disorders/index.md
  files/en-us/web/api/document/alinkcolor/index.md
  files/en-us/web/api/document/bgcolor/index.md
  files/en-us/web/api/document/createattribute/index.md
  files/en-us/web/api/document/createattributens/index.md
  files/en-us/web/api/document/createelementns/index.md
  files/en-us/web/api/document/createnodeiterator/index.md
  files/en-us/web/api/document/createprocessinginstruction/index.md
  files/en-us/web/api/document/fgcolor/index.md
  files/en-us/web/api/document/linkcolor/index.md
  files/en-us/web/api/document/vlinkcolor/index.md
  files/en-us/web/api/element/setattribute/index.md
  files/en-us/web/api/eventtarget/addeventlistener/index.md
  files/en-us/web/api/media_source_extensions_api/transcoding_assets_for_mse/index.md
  files/en-us/web/api/mediacapabilities/decodinginfo/index.md
  files/en-us/web/api/mediakeysession/generaterequest/index.md
  files/en-us/web/api/navigator/requestmediakeysystemaccess/index.md
  files/en-us/web/api/node/lookupprefix/index.md
  files/en-us/web/api/range/commonancestorcontainer/index.md
  files/en-us/web/css/color_value/index.md
  files/en-us/web/css/css_syntax/comments/index.md
  files/en-us/web/css/named-color/index.md
  files/en-us/web/css/reference/index.md
  files/en-us/web/html/reference/elements/big/index.md
  files/en-us/web/html/reference/elements/img/index.md
  files/en-us/web/html/reference/elements/small/index.md
  files/en-us/web/html/reference/global_attributes/data-_star_/index.md
  files/en-us/web/http/reference/headers/content-security-policy/default-src/index.md
  files/en-us/web/http/reference/headers/content-security-policy/report-uri/index.md
  files/en-us/web/http/reference/resources_and_specifications/index.md
  files/en-us/web/javascript/reference/javascript_technologies_overview/index.md
  files/en-us/web/media/guides/formats/image_types/index.md
  files/en-us/web/svg/guides/namespaces_crash_course/index.md
  files/en-us/web/svg/guides/svg_animation_with_smil/index.md
  files/en-us/web/svg/reference/attribute/data-_star_/index.md
  files/en-us/web/xml/xpath/reference/functions/name/index.md
  files/en-us/web/xml/xslt/guides/pi_parameters/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:JS, Content:Learn, Content:Other, Content:HTTP, Content:Accessibility, Content:SVG, Content:Media, Content:Glossary, Content:Firefox, size/m

#39801 Make SVG element pages adhere to page template
  files/en-us/web/svg/reference/element/a/index.md
  files/en-us/web/svg/reference/element/animate/index.md
  files/en-us/web/svg/reference/element/animatemotion/index.md
  files/en-us/web/svg/reference/element/circle/index.md
  files/en-us/web/svg/reference/element/clippath/index.md
  files/en-us/web/svg/reference/element/defs/index.md
  files/en-us/web/svg/reference/element/desc/index.md
  files/en-us/web/svg/reference/element/ellipse/index.md
  files/en-us/web/svg/reference/element/fedropshadow/index.md
  files/en-us/web/svg/reference/element/foreignobject/index.md
  files/en-us/web/svg/reference/element/g/index.md
  files/en-us/web/svg/reference/element/line/index.md
  files/en-us/web/svg/reference/element/lineargradient/index.md
  files/en-us/web/svg/reference/element/marker/index.md
  files/en-us/web/svg/reference/element/mask/index.md
  files/en-us/web/svg/reference/element/metadata/index.md
  files/en-us/web/svg/reference/element/path/index.md
  files/en-us/web/svg/reference/element/pattern/index.md
  files/en-us/web/svg/reference/element/polygon/index.md
  files/en-us/web/svg/reference/element/polyline/index.md
  files/en-us/web/svg/reference/element/radialgradient/index.md
  files/en-us/web/svg/reference/element/rect/index.md
  files/en-us/web/svg/reference/element/script/index.md
  files/en-us/web/svg/reference/element/set/index.md
  files/en-us/web/svg/reference/element/stop/index.md
  files/en-us/web/svg/reference/element/style/index.md
  files/en-us/web/svg/reference/element/svg/index.md
  files/en-us/web/svg/reference/element/switch/index.md
  files/en-us/web/svg/reference/element/symbol/index.md
  files/en-us/web/svg/reference/element/text/index.md
  files/en-us/web/svg/reference/element/textpath/index.md
  files/en-us/web/svg/reference/element/title/index.md
  files/en-us/web/svg/reference/element/tspan/index.md
  files/en-us/web/svg/reference/element/use/index.md
  files/en-us/web/svg/reference/element/view/index.md
Labels: Content:SVG, size/xs, size/xl

#39759 Editorial review: Add docs for view-transition-name: match-element
  files/en-us/web/api/view_transition_api/index.md
  files/en-us/web/api/view_transition_api/using/index.md
  files/en-us/web/css/view-transition-name/index.md
Labels: Content:CSS, Content:WebAPI, size/m

#39820 Update GPC spec URL
  files/en-us/web/http/reference/headers/sec-gpc/index.md
Labels: Content:HTTP, size/xs

#39791 chore(http): Add missing pages to sidebar, short-titles
  files/en-us/web/http/guides/client_hints/index.md
  files/en-us/web/http/guides/conditional_requests/index.md
  files/en-us/web/http/guides/content_negotiation/list_of_default_accept_values/index.md
  files/en-us/web/http/guides/csp/errors/index.md
  files/en-us/web/http/guides/mime_types/common_types/index.md
  files/en-us/web/http/guides/mime_types/index.md
  files/en-us/web/http/guides/network_error_logging/index.md
  files/en-us/web/http/guides/overview/index.md
  files/en-us/web/http/guides/range_requests/index.md
  files/en-us/web/http/index.md
  files/sidebars/httpsidebar.yaml
Labels: Content:HTTP, size/s, size/m

#39821 Fix grammar
  files/en-us/web/javascript/reference/global_objects/date/index.md
Labels: Content:JS, size/xs

#39823 Fix terminology
  files/en-us/learn_web_development/howto/web_mechanics/what_is_a_url/index.md
Labels: Content:Learn, size/xs

#39838 Remove feature detection code for HTML in XHR
  files/en-us/web/api/xmlhttprequest_api/html_in_xmlhttprequest/index.md
Labels: Content:WebAPI, size/m

#39840 Synchronize with BCD v6.0.21
  files/en-us/web/api/canvasrenderingcontext2d/index.md
  files/en-us/web/api/canvasrenderingcontext2d/lang/index.md
  files/en-us/web/api/offscreencanvasrenderingcontext2d/index.md
  files/en-us/web/javascript/reference/global_objects/math/index.md
  files/en-us/web/javascript/reference/global_objects/math/sumprecise/index.md
  files/en-us/web/progressive_web_apps/manifest/reference/scope_extensions/index.md
Labels: Content:WebAPI, Content:JS, Content:PWA, size/s

#39843 Fix typo
  .vscode/dictionaries/terms-abbreviations.txt
  files/en-us/web/security/attacks/csrf/index.md
Labels: Content:Security, system, size/xs

#39849 Fix error in "Modify an element's style" sample
  files/en-us/web/api/css_object_model/using_dynamic_styling_information/index.md
Labels: Content:WebAPI, size/xs

#39322 Add HTML Sanitizer API
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/document/parsehtml_static/index.md
  files/en-us/web/api/document/parsehtmlunsafe_static/index.md
  files/en-us/web/api/element/index.md
  files/en-us/web/api/element/sethtml/index.md
  files/en-us/web/api/element/sethtmlunsafe/index.md
  files/en-us/web/api/html_sanitizer_api/index.md
  files/en-us/web/api/html_sanitizer_api/using_the_html_sanitizer_api/index.md
  files/en-us/web/api/sanitizer/allowattribute/index.md
  files/en-us/web/api/sanitizer/allowelement/index.md
  files/en-us/web/api/sanitizer/get/index.md
  files/en-us/web/api/sanitizer/index.md
  files/en-us/web/api/sanitizer/removeattribute/index.md
  files/en-us/web/api/sanitizer/removeelement/index.md
  files/en-us/web/api/sanitizer/removeunsafe/index.md
  files/en-us/web/api/sanitizer/replaceelementwithchildren/index.md
  files/en-us/web/api/sanitizer/sanitizer/index.md
  files/en-us/web/api/sanitizer/setcomments/index.md
  files/en-us/web/api/sanitizer/setdataattributes/index.md
  files/en-us/web/api/sanitizerconfig/index.md
  files/en-us/web/api/shadowroot/index.md
  files/en-us/web/api/shadowroot/sethtml/index.md
  files/en-us/web/api/shadowroot/sethtmlunsafe/index.md
  files/en-us/web/javascript/reference/regular_expressions/quantifier/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, Content:JS, size/xl

#39857 Fix #39848: Update `myConcat` example to skip first argument
  files/en-us/web/javascript/guide/functions/index.md
Labels: Content:JS, size/xs

#39858 Replace all SVGPoint references with DOMPoint
  files/en-us/web/api/svgpoint/index.md
  files/en-us/web/api/svgpointlist/appenditem/index.md
  files/en-us/web/api/svgpointlist/getitem/index.md
  files/en-us/web/api/svgpointlist/index.md
  files/en-us/web/api/svgpointlist/initialize/index.md
  files/en-us/web/api/svgpointlist/insertitembefore/index.md
  files/en-us/web/api/svgpointlist/removeitem/index.md
  files/en-us/web/api/svgpointlist/replaceitem/index.md
  files/en-us/web/api/svgsvgelement/createsvgpoint/index.md
  files/en-us/web/api/svgsvgelement/index.md
  files/en-us/web/api/svgtextcontentelement/index.md
Labels: Content:WebAPI, size/m, size/xs

#39829 Remove old code editors and "active learning" from Lists
  files/en-us/learn_web_development/core/structuring_content/lists/index.md
Labels: Content:Learn, size/l

#39827 Remove old code editor and "active learning" from Emphasis and importance
  files/en-us/learn_web_development/core/structuring_content/emphasis_and_importance/index.md
Labels: Content:Learn, size/m

#39824 Remove old code editors and "active learning" from basic HTML syntax
  files/en-us/learn_web_development/core/structuring_content/basic_html_syntax/index.md
  files/en-us/learn_web_development/core/structuring_content/basic_html_syntax/template-screenshot.png
Labels: Content:Learn, size/m

#39766 feat(gh): Tidy up PR template
  .github/PULL_REQUEST_TEMPLATE
Labels: system, size/s

#39878 Fix issue 39784: nonce and hash values may use characters from either…
  files/en-us/glossary/base64/index.md
  files/en-us/web/http/reference/headers/content-security-policy/index.md
Labels: Content:HTTP, Content:Glossary, size/s

#39806 Main event loop => main thread
  files/en-us/web/api/window/requestidlecallback/index.md
Labels: Content:WebAPI, size/xs

#39835 Internalize WebGL model view projection JSFiddle
  files/en-us/web/api/webgl_api/matrix_math_for_the_web/index.md
  files/en-us/web/api/webgl_api/webgl_model_view_projection/index.md
  files/en-us/web/api/webgl_api/webgl_model_view_projection/part1.png
  files/en-us/web/api/webgl_api/webgl_model_view_projection/part2.png
  files/en-us/web/api/webgl_api/webgl_model_view_projection/part3.png
  files/en-us/web/api/webgl_api/webgl_model_view_projection/part5.png
  files/en-us/web/api/webgl_api/webgl_model_view_projection/part6.png
  files/en-us/web/api/webgl_api/webgl_model_view_projection/part7.png
Labels: Content:WebAPI, size/xl

#39841 Remove codepen in web audio user control
  files/en-us/web/api/web_audio_api/best_practices/index.md
Labels: Content:WebAPI, size/xs

#39883 fix: cssxref color value
  files/en-us/web/css/css_colors/color_picker_tool/index.md
  files/en-us/web/html/reference/elements/col/index.md
  files/en-us/web/html/reference/elements/colgroup/index.md
  files/en-us/web/html/reference/elements/table/index.md
  files/en-us/web/html/reference/elements/tbody/index.md
  files/en-us/web/html/reference/elements/td/index.md
  files/en-us/web/html/reference/elements/tfoot/index.md
  files/en-us/web/html/reference/elements/th/index.md
  files/en-us/web/html/reference/elements/thead/index.md
  files/en-us/web/html/reference/elements/tr/index.md
Labels: Content:CSS, Content:HTML, size/s

#39888 Fix typos
  .vscode/dictionaries/ignore-list.txt
  .vscode/dictionaries/non-english.txt
  .vscode/dictionaries/proper-names.txt
  files/en-us/web/api/html_sanitizer_api/using_the_html_sanitizer_api/index.md
Labels: Content:WebAPI, system, size/s

#39869 Remove active learning from HTML video and audio
  files/en-us/learn_web_development/core/structuring_content/html_video_and_audio/index.md
Labels: Content:Learn, size/s

#39868 Remove old code editor and active learning from HTML images
  files/en-us/learn_web_development/core/structuring_content/html_images/index.md
Labels: Content:Learn, size/m

#39862 FF140 CloseWatcher in desktop preview - relnote/expr
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/140/index.md
Labels: Content:Firefox, size/s

#39873 Remove active learning from Debugging HTML
  files/en-us/learn_web_development/core/structuring_content/debugging_html/index.md
Labels: Content:Learn, size/s

#39872 Remove active learning from Table accessibility
  files/en-us/learn_web_development/core/structuring_content/table_accessibility/index.md
Labels: Content:Learn, size/m

#39783 Remove inline style/script (API H–S)
  files/en-us/web/api/canvas_api/tutorial/advanced_animations/index.md
  files/en-us/web/api/html_drag_and_drop_api/file_drag_and_drop/index.md
  files/en-us/web/api/html_drag_and_drop_api/index.md
  files/en-us/web/api/htmldialogelement/close/index.md
  files/en-us/web/api/htmldialogelement/open/index.md
  files/en-us/web/api/htmldialogelement/show/index.md
  files/en-us/web/api/htmlelement/attributestylemap/index.md
  files/en-us/web/api/htmlelement/blur/index.md
  files/en-us/web/api/htmlelement/click/index.md
  files/en-us/web/api/htmlelement/focus/index.md
  files/en-us/web/api/htmlelement/load_event/index.md
  files/en-us/web/api/htmlelement/offsetleft/index.md
  files/en-us/web/api/htmlelement/style/index.md
  files/en-us/web/api/htmlformelement/index.md
  files/en-us/web/api/htmlinputelement/select/index.md
  files/en-us/web/api/htmlinputelement/setrangetext/index.md
  files/en-us/web/api/htmlinputelement/setselectionrange/index.md
  files/en-us/web/api/htmlmarqueeelement/index.md
  files/en-us/web/api/htmlstyleelement/media/index.md
  files/en-us/web/api/htmlstyleelement/sheet/index.md
  files/en-us/web/api/htmltextareaelement/index.md
  files/en-us/web/api/inputevent/inputtype/index.md
  files/en-us/web/api/keyboardevent/metakey/index.md
  files/en-us/web/api/mathmlelement/attributestylemap/index.md
  files/en-us/web/api/mouseevent/button/index.md
  files/en-us/web/api/mouseevent/initmouseevent/index.md
  files/en-us/web/api/mouseevent/layerx/index.md
  files/en-us/web/api/mouseevent/layery/index.md
  files/en-us/web/api/mutationrecord/attributename/index.md
  files/en-us/web/api/mutationrecord/oldvalue/index.md
  files/en-us/web/api/namednodemap/item/index.md
  files/en-us/web/api/namednodemap/length/index.md
  files/en-us/web/api/namednodemap/setnameditem/index.md
  files/en-us/web/api/node/firstchild/index.md
  files/en-us/web/api/node/insertbefore/index.md
  files/en-us/web/api/notification/index.md
  files/en-us/web/api/notification/requestpermission_static/index.md
  files/en-us/web/api/paintworkletglobalscope/index.md
  files/en-us/web/api/paintworkletglobalscope/registerpaint/index.md
  files/en-us/web/api/pointer_events/index.md
  files/en-us/web/api/pointer_events/multi-touch_interaction/index.md
  files/en-us/web/api/pointer_events/pinch_zoom_gestures/index.md
  files/en-us/web/api/presentation_api/index.md
  files/en-us/web/api/prioritized_task_scheduling_api/index.md
  files/en-us/web/api/response/arraybuffer/index.md
  files/en-us/web/api/selection/containsnode/index.md
  files/en-us/web/api/stylesheet/href/index.md
  files/en-us/web/api/stylesheet/media/index.md
  files/en-us/web/api/stylesheet/ownernode/index.md
  files/en-us/web/api/svgelement/attributestylemap/index.md
  files/en-us/web/api/touch_events/multi-touch_interaction/index.md
Labels: Content:WebAPI, size/xl

#39804 feat(html): Move meta element name attrs out into separate pages
  files/en-us/web/api/htmlmetaelement/content/index.md
  files/en-us/web/api/htmlmetaelement/index.md
  files/en-us/web/api/htmlmetaelement/media/index.md
  files/en-us/web/api/htmlmetaelement/name/index.md
  files/en-us/web/html/reference/attributes/autocomplete/index.md
  files/en-us/web/html/reference/attributes/content/index.md
  files/en-us/web/html/reference/attributes/elementtiming/index.md
  files/en-us/web/html/reference/attributes/for/index.md
  files/en-us/web/html/reference/attributes/rel/index.md
  files/en-us/web/html/reference/elements/input/index.md
  files/en-us/web/html/reference/elements/input/range/index.md
  files/en-us/web/html/reference/elements/meta/index.md
  files/en-us/web/html/reference/elements/meta/name/color-scheme/index.md
  files/en-us/web/html/reference/elements/meta/name/index.md
  files/en-us/web/html/reference/elements/meta/name/referrer/index.md
  files/en-us/web/html/reference/elements/meta/name/robots/index.md
  files/en-us/web/html/reference/elements/meta/name/theme-color/index.md
  files/en-us/web/html/reference/elements/meta/name/viewport/index.md
  files/en-us/web/html/reference/elements/script/type/importmap/index.md
  files/en-us/web/html/reference/elements/script/type/index.md
  files/en-us/web/html/reference/elements/script/type/speculationrules/index.md
  files/en-us/web/html/reference/global_attributes/data-_star_/index.md
  files/en-us/web/html/reference/global_attributes/enterkeyhint/index.md
  files/en-us/web/html/reference/global_attributes/inputmode/index.md
  files/en-us/web/html/reference/global_attributes/itemprop/index.md
  files/sidebars/htmlsidebar.yaml
Labels: Content:HTML, Content:WebAPI, size/l

#39863 FF140: MutationEvent removal
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/140/index.md
Labels: Content:Firefox, size/s

#39755 fix WebGPU timestampWrites
  files/en-us/web/api/gpucommandencoder/begincomputepass/index.md
  files/en-us/web/api/gpucommandencoder/beginrenderpass/index.md
Labels: Content:WebAPI, size/s

#39790 Add <noscript> scripting enabled behaviour note
  files/en-us/web/html/reference/elements/noscript/index.md
Labels: Content:HTML, size/s, size/xs

#39925 chore: Fix misleading explanation
  files/en-us/learn_web_development/core/styling_basics/getting_started/index.md
Labels: Content:Learn, size/xs

#39922 Link to color-scheme from Options page
  files/en-us/mozilla/add-ons/webextensions/user_interface/options_pages/index.md
Labels: Content:WebExt, size/xs

#39914 css(fix): fix circle using aspect-ratio example
  files/en-us/web/css/css_box_sizing/understanding_aspect-ratio/index.md
Labels: Content:CSS, size/s

#39918 css: add inside and outside values to the anchor() page
  files/en-us/web/css/anchor/index.md
Labels: Content:CSS, size/s

#39916 css: add max inset values to the env() page
  files/en-us/web/css/env/index.md
Labels: Content:CSS, size/xs

#39694 Serializing < and > - consistent wording on mutation XSS
  files/en-us/web/api/element/innerhtml/index.md
  files/en-us/web/api/element/outerhtml/index.md
  files/en-us/web/api/shadowroot/gethtml/index.md
  files/en-us/web/api/shadowroot/innerhtml/index.md
Labels: Content:WebAPI, size/s

#39940 Synchronize with BCD v6.0.23
  files/en-us/web/api/element/index.md
  files/en-us/web/css/_doublecolon_-moz-focus-inner/index.md
Labels: Content:CSS, Content:WebAPI, size/s

#39533 Update Web API Response: status property: add '0' status value
  files/en-us/web/api/response/status/index.md
Labels: Content:WebAPI, size/xs

#39924 fix: remove web audio tools page from sidebar
  files/jsondata/GroupData.json
Labels: size/xs

#39945 fix incorrect list in glossary "compression dictionary transport"
  files/en-us/glossary/compression_dictionary_transport/index.md
  files/en-us/web/http/guides/compression_dictionary_transport/index.md
Labels: Content:HTTP, Content:Glossary, size/s, size/xs

#39941 Fix the incorrect meaning of the `title`
  files/en-us/web/html/reference/elements/title/index.md
Labels: Content:HTML, size/xs

#39949 Fix PublicKeyCredentialCreationOptions.pubKeyCredParams.alg
  files/en-us/web/api/publickeycredentialcreationoptions/index.md
Labels: Content:WebAPI, size/xs

#39915 First set of CSS active learning updates
  files/en-us/learn_web_development/core/styling_basics/attribute_selectors/index.md
  files/en-us/learn_web_development/core/styling_basics/basic_selectors/index.md
  files/en-us/learn_web_development/core/styling_basics/box_model/index.md
  files/en-us/learn_web_development/core/styling_basics/combinators/index.md
  files/en-us/learn_web_development/core/styling_basics/getting_started/index.md
  files/en-us/learn_web_development/core/styling_basics/pseudo_classes_and_elements/index.md
  files/en-us/learn_web_development/core/styling_basics/what_is_css/index.md
  files/en-us/web/css/css_display/multi-keyword_syntax_of_display/index.md
Labels: Content:CSS, Content:Learn, size/m

#39933 Second set of CSS active learning updates
  files/en-us/learn_web_development/core/styling_basics/backgrounds_and_borders/index.md
  files/en-us/learn_web_development/core/styling_basics/handling_conflicts/index.md
  files/en-us/learn_web_development/core/styling_basics/images_media_forms/index.md
  files/en-us/learn_web_development/core/styling_basics/overflow/index.md
  files/en-us/learn_web_development/core/styling_basics/sizing/index.md
  files/en-us/learn_web_development/core/styling_basics/values_and_units/index.md
  files/en-us/mozilla/firefox/releases/120/index.md
  files/en-us/mozilla/firefox/releases/127/index.md
Labels: Content:Learn, Content:Firefox, size/m

#39929 chore(html): Add minor clarification for media query example
  files/en-us/web/html/reference/elements/meta/name/theme-color/index.md
Labels: Content:HTML, size/xs

#37952 TrustedTypes injection - Document.write() and Document.writeln()
  files/en-us/web/api/document/write/index.md
  files/en-us/web/api/document/writeln/index.md
Labels: Content:WebAPI, size/m

#39921 Better hasOwn() comparison
  files/en-us/web/javascript/reference/global_objects/object/hasown/index.md
Labels: Content:JS, size/s

#39961 Fix content issues
  .vscode/dictionaries/non-english.txt
  .vscode/dictionaries/proper-names.txt
  files/en-us/learn_web_development/core/structuring_content/creating_links/index.md
  files/en-us/learn_web_development/core/structuring_content/table_accessibility/index.md
  files/en-us/learn_web_development/howto/tools_and_setup/available_text_editors/index.md
  files/en-us/web/api/documenttype/before/index.md
  files/en-us/web/api/idbtransaction/index.md
  files/en-us/web/api/web_authentication_api/webauthn_extensions/index.md
  files/en-us/web/css/css_masking/multiple_masks/index.md
  files/en-us/web/css/generic-family/index.md
  files/en-us/web/css/properties/index.md
Labels: Content:CSS, Content:WebAPI, Content:Learn, system, size/m

#39810 Remove try it out sections from learn
  files/en-us/learn_web_development/core/scripting/math/index.md
  files/en-us/learn_web_development/core/structuring_content/creating_links/index.md
  files/en-us/learn_web_development/core/structuring_content/html_forms/index.md
  files/en-us/learn_web_development/core/structuring_content/structuring_documents/index.md
  files/en-us/learn_web_development/core/styling_basics/what_is_css/index.md
  files/en-us/learn_web_development/getting_started/environment_setup/browsing_the_web/index.md
  files/en-us/learn_web_development/getting_started/environment_setup/code_editors/index.md
  files/en-us/learn_web_development/getting_started/environment_setup/command_line/index.md
  files/en-us/learn_web_development/getting_started/environment_setup/dealing_with_files/index.md
  files/en-us/learn_web_development/getting_started/environment_setup/installing_software/index.md
  files/en-us/learn_web_development/getting_started/soft_skills/research_and_learning/index.md
  files/en-us/learn_web_development/getting_started/soft_skills/workflows_and_processes/index.md
  files/en-us/learn_web_development/getting_started/web_standards/how_browsers_load_websites/index.md
  files/en-us/learn_web_development/getting_started/web_standards/how_the_web_works/index.md
  files/en-us/learn_web_development/getting_started/web_standards/the_web_standards_model/index.md
  files/en-us/learn_web_development/getting_started/your_first_website/creating_the_content/index.md
  files/en-us/learn_web_development/getting_started/your_first_website/styling_the_content/index.md
  files/en-us/learn_web_development/getting_started/your_first_website/what_will_your_website_look_like/index.md
Labels: Content:Learn, size/l

#39909 Fix element ID
  files/en-us/web/api/canvas_api/tutorial/basic_usage/index.md
Labels: Content:WebAPI, size/s, size/xs

#39903 Change parameter name
  files/en-us/web/api/domimplementation/createdocumenttype/index.md
Labels: Content:WebAPI, size/s, size/xs

#39751 docs: wheel event cancelable note
  files/en-us/web/api/element/wheel_event/index.md
Labels: Content:WebAPI, size/xs

#39978 Add a starting brace missing
  files/en-us/web/css/_colon_lang/index.md
Labels: Content:CSS, size/xs

#39971 Fix uncaught ReferenceError in example
  files/en-us/web/api/keyboardevent/metakey/index.md
Labels: Content:WebAPI, size/xs

#39927 css: add z order note to ::before and ::after pages
  files/en-us/web/css/_doublecolon_after/index.md
  files/en-us/web/css/_doublecolon_before/index.md
Labels: Content:CSS, size/xs

#39981 added the release note for svg elements fetchpriority atrribute
  files/en-us/mozilla/firefox/releases/140/index.md
Labels: Content:Firefox, size/xs

#39859 Clarifying SecurityError in StorageManager.getDirectory
  files/en-us/web/api/storagemanager/getdirectory/index.md
Labels: Content:WebAPI, size/s, size/xs

#39972 Bug-1888486 `browser.i18n.getPreferredSystemLanguages` doc and release note
  files/en-us/mozilla/add-ons/webextensions/api/i18n/getpreferredsystemlanguages/index.md
  files/en-us/mozilla/add-ons/webextensions/api/i18n/getsystemuilanguage/index.md
  files/en-us/mozilla/add-ons/webextensions/api/i18n/index.md
  files/en-us/mozilla/firefox/releases/141/index.md
Labels: Content:WebExt, Content:Firefox, size/m

#39989 Align HTML with speech-color-changer (39977)
  files/en-us/web/api/web_speech_api/using_the_web_speech_api/index.md
Labels: Content:WebAPI, size/xs

#39968 39613 fetchpriority for svg
  files/en-us/web/svg/reference/attribute/fetchpriority/index.md
  files/en-us/web/svg/reference/element/feimage/index.md
  files/en-us/web/svg/reference/element/image/index.md
  files/en-us/web/svg/reference/element/script/index.md
Labels: Content:SVG, size/m

#39965 Remove inline script/style (API T–W)
  files/en-us/learn_web_development/core/structuring_content/general_embedding_technologies/index.md
  files/en-us/learn_web_development/core/structuring_content/table_accessibility/index.md
  files/en-us/web/api/canvas_api/tutorial/using_images/index.md
  files/en-us/web/api/canvasrenderingcontext2d/drawimage/index.md
  files/en-us/web/api/canvasrenderingcontext2d/filter/index.md
  files/en-us/web/api/domimplementation/createhtmldocument/index.md
  files/en-us/web/api/presentation_api/index.md
  files/en-us/web/api/remote_playback_api/index.md
  files/en-us/web/api/remoteplayback/index.md
  files/en-us/web/api/svgcircleelement/index.md
  files/en-us/web/api/svgellipseelement/index.md
  files/en-us/web/api/svgrectelement/index.md
  files/en-us/web/api/svgstopelement/offset/index.md
  files/en-us/web/api/svgtransformlist/index.md
  files/en-us/web/api/tasksignal/prioritychange_event/index.md
  files/en-us/web/api/textformat/index.md
  files/en-us/web/api/textformat/rangeend/index.md
  files/en-us/web/api/textformat/rangestart/index.md
  files/en-us/web/api/textformat/underlinestyle/index.md
  files/en-us/web/api/textformat/underlinethickness/index.md
  files/en-us/web/api/touch_events/index.md
  files/en-us/web/api/touch_events/multi-touch_interaction/index.md
  files/en-us/web/api/uievent/which/index.md
  files/en-us/web/api/view_transition_api/using/index.md
  files/en-us/web/api/virtualkeyboard_api/index.md
  files/en-us/web/api/web_crypto_api/non-cryptographic_uses_of_subtle_crypto/index.md
  files/en-us/web/api/web_workers_api/using_web_workers/index.md
  files/en-us/web/api/webrtc_api/signaling_and_video_calling/index.md
  files/en-us/web/api/websockets_api/using_websocketstream/index.md
  files/en-us/web/api/websockets_api/writing_a_websocket_server_in_javascript_deno/index.md
  files/en-us/web/api/websockets_api/writing_websocket_server/index.md
  files/en-us/web/api/window/crypto/index.md
  files/en-us/web/api/window/find/index.md
  files/en-us/web/api/window/getcomputedstyle/index.md
  files/en-us/web/api/window/getdefaultcomputedstyle/index.md
  files/en-us/web/api/window/location/index.md
  files/en-us/web/api/window/name/index.md
  files/en-us/web/api/window/scroll/index.md
  files/en-us/web/api/window/scrollbylines/index.md
  files/en-us/web/api/window/settimeout/index.md
  files/en-us/web/api/xmlhttprequest_api/synchronous_and_asynchronous_requests/index.md
Labels: Content:WebAPI, Content:Learn, size/xl

#39993 Fix content issues
  files/en-us/learn_web_development/core/styling_basics/test_your_skills/tables/mdn-table-bands.png
  files/en-us/learn_web_development/core/styling_basics/test_your_skills/writing_modes/mdn-writing-modes1.png
  files/en-us/learn_web_development/core/styling_basics/test_your_skills/writing_modes/mdn-writing-modes2.png
  files/en-us/learn_web_development/core/styling_basics/test_your_skills/writing_modes/mdn-writing-modes3.png
  files/en-us/learn_web_development/getting_started/your_first_website/what_will_your_website_look_like/index.md
  files/en-us/web/api/document/write/index.md
  files/en-us/web/api/document/writeln/index.md
Labels: Content:WebAPI, Content:Learn, size/s

#39991 feat: link crawl-related resources, robots.txt, HTTP headers, HTML meta
  files/en-us/glossary/robots.txt/index.md
  files/en-us/web/accessibility/guides/seizure_disorders/index.md
  files/en-us/web/html/reference/elements/meta/name/robots/index.md
  files/en-us/web/http/reference/headers/index.md
  files/en-us/web/http/reference/headers/x-robots-tag/index.md
  files/en-us/web/security/practical_implementation_guides/robots_txt/index.md
Labels: Content:HTML, Content:HTTP, Content:Accessibility, Content:Glossary, Content:Security, size/s

#39964 Add information about SVG transform support on <svg> root
  files/en-us/web/svg/reference/attribute/transform/index.md
Labels: Content:SVG, size/m

#39985 Document subclassing Event as an alternative to CustomEvent
  files/en-us/web/api/customevent/index.md
  files/en-us/web/events/creating_and_triggering_events/index.md
Labels: Content:WebAPI, Content:Events, size/s

#40011 Clarify errors thrown by insertRule
  files/en-us/web/api/cssgroupingrule/insertrule/index.md
  files/en-us/web/api/cssstylesheet/insertrule/index.md
Labels: Content:WebAPI, size/s

#40014 fixing a typo
  files/en-us/web/api/shadowroot/innerhtml/index.md
Labels: Content:WebAPI, size/xs

#40010 Synchronize with BCD v6.0.25
  files/en-us/web/svg/reference/element/feimage/index.md
  files/en-us/web/svg/reference/element/image/index.md
  files/en-us/web/svg/reference/element/script/index.md
Labels: Content:SVG, size/s

#39854 docs(aria-busy): add intro paragraph explaining aria-busy purpose and use cases
  files/en-us/web/accessibility/aria/reference/attributes/aria-busy/index.md
Labels: Content:Accessibility, size/s, size/xs

#40013 typo
  files/en-us/web/api/shadowroot/mode/index.md
Labels: Content:WebAPI, size/xs

#40034 FF141 Relnote Android: HTML webkitdirectory attribute
  files/en-us/mozilla/firefox/releases/141/index.md
  files/en-us/web/api/htmlinputelement/webkitdirectory/index.md
  files/en-us/web/html/reference/elements/input/file/index.md
Labels: Content:HTML, Content:WebAPI, Content:Firefox, size/s, size/xs

#40039 Update dictionaries and fix typos in documentation
  .vscode/dictionaries/code-entities.txt
  .vscode/dictionaries/ignore-list.txt
  files/en-us/web/css/position-try-fallbacks/index.md
  files/en-us/web/svg/reference/attribute/fetchpriority/index.md
Labels: Content:CSS, Content:SVG, system, size/s

#40044 chore: Add redirect for Fx tracking protection doc
  files/en-us/_redirects.txt
Labels: size/xs

#39958 fix(pr-test): add GITHUB_TOKEN env for `rari` related commands
  .github/workflows/pr-test.yml
Labels: system, size/xs

#40033 FF141 Relnote: Clear-Site-Data: cache clears bfcache
  files/en-us/mozilla/firefox/releases/141/index.md
  files/en-us/web/http/reference/headers/clear-site-data/index.md
Labels: Content:HTTP, Content:Firefox, size/s

#37158 RTCTransportStats - updates
  files/en-us/web/api/rtctransportstats/bytesreceived/index.md
  files/en-us/web/api/rtctransportstats/bytessent/index.md
  files/en-us/web/api/rtctransportstats/dtlscipher/index.md
  files/en-us/web/api/rtctransportstats/dtlsrole/index.md
  files/en-us/web/api/rtctransportstats/dtlsstate/index.md
  files/en-us/web/api/rtctransportstats/icelocalusernamefragment/index.md
  files/en-us/web/api/rtctransportstats/icerole/index.md
  files/en-us/web/api/rtctransportstats/icestate/index.md
  files/en-us/web/api/rtctransportstats/index.md
  files/en-us/web/api/rtctransportstats/localcertificateid/index.md
  files/en-us/web/api/rtctransportstats/packetsreceived/index.md
  files/en-us/web/api/rtctransportstats/packetssent/index.md
  files/en-us/web/api/rtctransportstats/remotecertificateid/index.md
  files/en-us/web/api/rtctransportstats/selectedcandidatepairchanges/index.md
  files/en-us/web/api/rtctransportstats/selectedcandidatepairid/index.md
  files/en-us/web/api/rtctransportstats/srtpcipher/index.md
  files/en-us/web/api/rtctransportstats/tlsversion/index.md
Labels: Content:WebAPI, size/l

#40054 IntersectionObserver/Entry layout/template changes
  files/en-us/web/api/intersectionobserver/disconnect/index.md
  files/en-us/web/api/intersectionobserver/observe/index.md
  files/en-us/web/api/intersectionobserver/root/index.md
  files/en-us/web/api/intersectionobserver/rootmargin/index.md
  files/en-us/web/api/intersectionobserver/takerecords/index.md
  files/en-us/web/api/intersectionobserver/thresholds/index.md
  files/en-us/web/api/intersectionobserver/unobserve/index.md
  files/en-us/web/api/intersectionobserverentry/boundingclientrect/index.md
  files/en-us/web/api/intersectionobserverentry/intersectionratio/index.md
  files/en-us/web/api/intersectionobserverentry/intersectionrect/index.md
  files/en-us/web/api/intersectionobserverentry/isintersecting/index.md
  files/en-us/web/api/intersectionobserverentry/rootbounds/index.md
  files/en-us/web/api/intersectionobserverentry/target/index.md
  files/en-us/web/api/intersectionobserverentry/time/index.md
Labels: Content:WebAPI, size/m

#40008 Fix WebGPU typo: 'recoded' to 'recorded' (#39203)
  files/en-us/web/api/gpucommandencoder/index.md
Labels: Content:WebAPI, size/s, size/xs

#40042 Fourth set of CSS active learning updates
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/learn_web_development/core/css_layout/media_queries/index.md
  files/en-us/learn_web_development/core/css_layout/multiple-column_layout/index.md
  files/en-us/learn_web_development/core/css_layout/responsive_design/index.md
  files/en-us/learn_web_development/core/css_layout/responsive_design/mdn-rwd-liquid.png
  files/en-us/learn_web_development/core/css_layout/test_your_skills/multicolumn/index.md
  files/en-us/learn_web_development/core/css_layout/test_your_skills/multicolumn/multicol-task1.png
  files/en-us/learn_web_development/core/css_layout/test_your_skills/multicolumn/multicol-task2.png
  files/en-us/learn_web_development/core/css_layout/test_your_skills/multicolumn/multicol-task3.png
Labels: Content:Learn, size/m

#40060 Fix typo (an → can)
  files/en-us/web/css/container-type/index.md
Labels: Content:CSS, size/xs

#40045 First set of JS active learning updates
  files/en-us/learn_web_development/core/scripting/a_first_splash/index.md
  files/en-us/learn_web_development/core/scripting/math/index.md
  files/en-us/learn_web_development/core/scripting/useful_string_methods/index.md
Labels: Content:Learn, size/l

#39815 Initial content for Integrity-Policy
  files/en-us/web/api/integrityviolationreportbody/index.md
  files/en-us/web/api/reporting_api/index.md
  files/en-us/web/http/reference/headers/integrity-policy-report-only/index.md
  files/en-us/web/http/reference/headers/integrity-policy/index.md
  files/en-us/web/security/subresource_integrity/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, Content:HTTP, Content:Security, size/s, size/l, size/m, size/xl

#40068 Synchronize with BCD v6.0.26
  files/en-us/web/api/gpuadapterinfo/index.md
  files/en-us/web/api/gpuadapterinfo/subgroupmaxsize/index.md
  files/en-us/web/api/gpuadapterinfo/subgroupminsize/index.md
  files/en-us/web/api/gpuerror/index.md
  files/en-us/web/api/gpuerror/message/index.md
  files/en-us/web/api/htmldialogelement/closedby/index.md
  files/en-us/web/api/htmldialogelement/index.md
  files/en-us/web/api/htmlselectedcontentelement/index.md
  files/en-us/web/api/integrityviolationreportbody/index.md
  files/en-us/web/api/pointer_events/index.md
  files/en-us/web/api/pointerevent/index.md
  files/en-us/web/api/pointerevent/persistentdeviceid/index.md
  files/en-us/web/api/rtctransportstats/dtlsrole/index.md
  files/en-us/web/api/rtctransportstats/icelocalusernamefragment/index.md
  files/en-us/web/api/rtctransportstats/icerole/index.md
  files/en-us/web/api/rtctransportstats/icestate/index.md
  files/en-us/web/api/rtctransportstats/packetsreceived/index.md
  files/en-us/web/api/rtctransportstats/packetssent/index.md
  files/en-us/web/html/reference/elements/dialog/index.md
  files/en-us/web/svg/reference/element/image/index.md
  files/en-us/web/svg/reference/element/script/index.md
Labels: Content:HTML, Content:WebAPI, Content:SVG, size/m

#40069 Fix content issues
  files/en-us/learn_web_development/core/scripting/useful_string_methods/index.md
  files/en-us/web/api/document/createtouchlist/index.md
  files/en-us/web/api/document/write/index.md
  files/en-us/web/api/domrectlist/index.md
  files/en-us/web/api/rtcicecandidatepairstats/selected/index.md
  files/en-us/web/api/shadowroot/index.md
  files/en-us/web/api/webgl_api/index.md
  files/en-us/web/api/webrtc_api/build_a_phone_with_peerjs/index.md
  files/en-us/web/api/webrtc_api/index.md
  files/en-us/web/events/creating_and_triggering_events/index.md
  files/en-us/web/events/event_handlers/index.md
  files/en-us/web/events/index.md
  files/en-us/web/html/reference/attributes/index.md
  files/en-us/web/http/reference/headers/index.md
  files/en-us/web/javascript/reference/global_objects/array/array/index.md
  files/en-us/web/javascript/reference/statements/function_star_/index.md
  files/en-us/web/svg/reference/attribute/index.md
Labels: Content:HTML, Content:WebAPI, Content:JS, Content:Learn, Content:HTTP, Content:SVG, Content:Events, size/m

#40088 fix(css/display): clarify box suppression comment
  files/en-us/web/css/display/index.md
Labels: Content:CSS, size/xs

#40080 New glossary for invariant
  files/en-us/glossary/invariant/index.md
  files/en-us/web/javascript/guide/meta_programming/index.md
  files/en-us/web/javascript/reference/global_objects/date/parse/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/index.md
  files/en-us/web/javascript/reference/iteration_protocols/index.md
Labels: Content:JS, Content:Glossary, size/s

#40001 docs: Add warning and clarify named form access via document.formName(#39891)
  files/en-us/web/api/document/forms/index.md
  files/en-us/web/api/document/index.md
  files/en-us/web/api/window/index.md
  files/en-us/web/html/reference/elements/form/index.md
  files/en-us/web/html/reference/elements/iframe/index.md
  files/en-us/web/html/reference/elements/object/index.md
Labels: Content:HTML, Content:WebAPI, size/s

#40106 fix: Prettier 3.6.2 compat bug with MD031
  files/en-us/learn_web_development/core/frameworks_libraries/svelte_stores/index.md
  files/en-us/learn_web_development/core/scripting/what_went_wrong/index.md
  files/en-us/learn_web_development/extensions/client-side_apis/drawing_graphics/index.md
  files/en-us/mdn/writing_guidelines/page_structures/banners_and_notices/index.md
  files/en-us/web/api/topics_api/using/index.md
  package.json
  yarn.lock
Labels: Content:WebAPI, Content:Learn, Content:Meta, system, size/s

#40113 Synchronize with BCD v6.0.27
  files/en-us/web/api/animation/index.md
  files/en-us/web/api/animation/overallprogress/index.md
  files/en-us/web/api/publickeycredentialcreationoptions/index.md
Labels: Content:WebAPI, size/s

#40118 fix: correct prime example
  files/en-us/web/javascript/reference/global_objects/array/filter/index.md
  files/en-us/web/javascript/reference/global_objects/array/find/index.md
  files/en-us/web/javascript/reference/global_objects/array/findindex/index.md
  files/en-us/web/javascript/reference/global_objects/array/findlast/index.md
  files/en-us/web/javascript/reference/global_objects/array/findlastindex/index.md
  files/en-us/web/javascript/reference/global_objects/bigint/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/find/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/findindex/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/findlast/index.md
  files/en-us/web/javascript/reference/global_objects/typedarray/findlastindex/index.md
Labels: Content:JS, size/s, size/m

#40085 Encoding API, some improvements
  files/en-us/web/api/encoding_api/encodings/index.md
  files/en-us/web/api/encoding_api/index.md
  files/en-us/web/api/textdecoder/2019-05-21_191907.png
  files/en-us/web/api/textdecoder/encoding/index.md
  files/en-us/web/api/textdecoder/fatal/index.md
  files/en-us/web/api/textdecoder/ignorebom/index.md
  files/en-us/web/api/textdecoder/index.md
  files/en-us/web/api/textdecoder/textdecoder/index.md
  files/en-us/web/api/textencoder/encode/index.md
  files/en-us/web/api/textencoder/encodeinto/index.md
  files/en-us/web/api/textencoder/encoding/index.md
  files/en-us/web/api/textencoder/index.md
  files/en-us/web/api/textencoder/textencoder/index.md
Labels: Content:WebAPI, size/m

#40083 fix(html): update dir attribute behavior for Firefox with Ctrl+Shift+X
  files/en-us/web/html/reference/global_attributes/dir/index.md
Labels: Content:HTML, size/xs

#40043 feat(html): Add meta http-equiv attr page
  files/en-us/mozilla/firefox/releases/55/index.md
  files/en-us/web/api/htmlmetaelement/httpequiv/index.md
  files/en-us/web/html/reference/attributes/index.md
  files/en-us/web/html/reference/elements/meta/http-equiv/index.md
  files/en-us/web/html/reference/elements/meta/index.md
  files/en-us/web/html/reference/elements/meta/name/index.md
  files/en-us/web/http/guides/client_hints/index.md
  files/en-us/web/http/guides/csp/index.md
  files/en-us/web/http/guides/redirections/index.md
  files/en-us/web/http/reference/headers/index.md
  files/en-us/web/http/reference/headers/referer/index.md
  files/en-us/web/http/reference/headers/refresh/index.md
  files/en-us/web/http/reference/headers/x-dns-prefetch-control/index.md
  files/en-us/web/security/practical_implementation_guides/csp/index.md
  files/en-us/web/security/practical_implementation_guides/referrer_policy/index.md
  files/sidebars/htmlsidebar.yaml
Labels: Content:HTML, Content:WebAPI, Content:HTTP, Content:Security, Content:Firefox, size/m

#39482 ARIA heading role: aria-level is required
  files/en-us/web/accessibility/aria/reference/roles/heading_role/index.md
Labels: Content:Accessibility, size/xs

#40131 Fix content issues
  files/en-us/web/api/textdecoder/ignorebom/index.md
  files/en-us/web/api/window_controls_overlay_api/index.md
  files/en-us/web/css/css_conditional_rules/using_feature_queries/index.md
  files/en-us/web/css/css_images/implementing_image_sprites_in_css/index.md
  files/en-us/web/css/css_syntax/at-rule_functions/index.md
  files/en-us/web/css/css_transitions/using_css_transitions/index.md
  files/en-us/web/css/css_values_and_units/css_data_types/index.md
  files/en-us/web/css/css_values_and_units/css_value_functions/index.md
  files/en-us/web/css/css_values_and_units/using_css_math_functions/index.md
  files/en-us/web/css/env/index.md
  files/en-us/web/css/filter-function/index.md
  files/en-us/web/css/filter/index.md
  files/en-us/web/css/font-synthesis-style/index.md
  files/en-us/web/css/generic-family/index.md
  files/en-us/web/css/line-style/index.md
  files/en-us/web/css/mask-border-width/index.md
  files/en-us/web/css/text-edge/index.md
  files/en-us/web/html/reference/elements/meta/http-equiv/index.md
  files/en-us/web/html/reference/elements/meta/index.md
  files/en-us/web/media/guides/audio_and_video_delivery/index.md
  files/en-us/web/progressive_web_apps/guides/best_practices/index.md
  files/en-us/web/progressive_web_apps/guides/making_pwas_installable/index.md
  files/en-us/web/progressive_web_apps/how_to/associate_files_with_your_pwa/index.md
  files/en-us/web/progressive_web_apps/how_to/define_app_icons/index.md
  files/en-us/web/progressive_web_apps/how_to/display_badge_on_app_icon/index.md
  files/en-us/web/progressive_web_apps/how_to/expose_common_actions_as_shortcuts/index.md
  files/en-us/web/progressive_web_apps/how_to/share_data_between_apps/index.md
  files/en-us/web/progressive_web_apps/index.md
  files/en-us/web/progressive_web_apps/manifest/reference/file_handlers/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:Media, Content:PWA, size/m

#40128 Minor grammar correction in server response text.
  files/en-us/learn_web_development/getting_started/web_standards/how_the_web_works/index.md
Labels: Content:Learn, size/xs

#40097 Fix: remove incorrect "form" attribute
  files/en-us/web/html/reference/elements/meter/index.md
Labels: Content:HTML, size/xs

#40144 Add missing "is"
  files/en-us/web/javascript/reference/statements/import/index.md
Labels: Content:JS, size/xs
