Repository mdn/content, pull requests merged in 2025-05, with the labels that each got.

#39345 Reformat SVGAnimatedRect
  files/en-us/web/api/svganimatedrect/index.md
Labels: Content:WebAPI, size/m

#39278 Correct wrong information in Taking still photos with `getUserMedia()`
  files/en-us/web/api/media_capture_and_streams_api/taking_still_photos/index.md
Labels: Content:WebAPI, size/m

#39343 Fix typo in `override-colors` docs
  files/en-us/web/css/@font-palette-values/override-colors/index.md
Labels: Content:CSS, size/xs

#39356 Improve MediaKeySession.generateRequest() details (parameters, exceptions)
  files/en-us/web/api/mediakeysession/generaterequest/index.md
  files/en-us/web/api/mediakeysession/index.md
Labels: Content:WebAPI, size/s

#38678 Reflected aria attributes containing element references
  files/en-us/glossary/attribute/index.md
  files/en-us/web/accessibility/aria/reference/attributes/aria-activedescendant/index.md
  files/en-us/web/accessibility/aria/reference/attributes/aria-controls/index.md
  files/en-us/web/accessibility/aria/reference/attributes/aria-describedby/index.md
  files/en-us/web/accessibility/aria/reference/attributes/aria-details/index.md
  files/en-us/web/accessibility/aria/reference/attributes/aria-errormessage/index.md
  files/en-us/web/accessibility/aria/reference/attributes/aria-flowto/index.md
  files/en-us/web/accessibility/aria/reference/attributes/aria-labelledby/index.md
  files/en-us/web/accessibility/aria/reference/attributes/aria-owns/index.md
  files/en-us/web/api/document_object_model/reflected_attributes/index.md
  files/en-us/web/api/element/ariaactivedescendantelement/index.md
  files/en-us/web/api/element/ariacontrolselements/index.md
  files/en-us/web/api/element/ariadescribedbyelements/index.md
  files/en-us/web/api/element/ariadetailselements/index.md
  files/en-us/web/api/element/ariaerrormessageelements/index.md
  files/en-us/web/api/element/ariaflowtoelements/index.md
  files/en-us/web/api/element/arialabelledbyelements/index.md
  files/en-us/web/api/element/ariaownselements/index.md
  files/en-us/web/api/element/index.md
  files/en-us/web/api/elementinternals/ariaactivedescendantelement/index.md
  files/en-us/web/api/elementinternals/ariacontrolselements/index.md
  files/en-us/web/api/elementinternals/ariadescribedbyelements/index.md
  files/en-us/web/api/elementinternals/ariadetailselements/index.md
  files/en-us/web/api/elementinternals/ariaerrormessageelements/index.md
  files/en-us/web/api/elementinternals/ariaflowtoelements/index.md
  files/en-us/web/api/elementinternals/arialabelledbyelements/index.md
  files/en-us/web/api/elementinternals/ariaownselements/index.md
  files/en-us/web/api/elementinternals/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, Content:Accessibility, Content:Glossary, size/xl

#39360 Update a few TC39 proposal links
  files/en-us/web/html/reference/attributes/pattern/index.md
  files/en-us/web/javascript/guide/numbers_and_strings/index.md
  files/en-us/web/javascript/reference/classes/extends/index.md
  files/en-us/web/javascript/reference/operators/addition/index.md
Labels: Content:HTML, Content:JS, size/s

#39207 Enhance <abbr> Element Contrast for Improved Accessibility
  files/en-us/web/css/@media/index.md
Labels: Content:CSS, size/s

#39333 Add a missing live-preview for an active-learning section
  files/en-us/learn_web_development/core/structuring_content/table_accessibility/index.md
Labels: Content:Learn, size/xs

#39318 New page: SVG mask-type attribute
  files/en-us/web/svg/reference/attribute/mask-type/index.md
  files/en-us/web/svg/reference/element/mask/index.md
Labels: Content:SVG, size/m

#39329 fix: Firefox user-agent string reference
  files/en-us/web/http/reference/headers/user-agent/firefox/index.md
Labels: Content:HTTP, size/s

#39321 HTMLDialogElement.requestClose() - tweak example
  files/en-us/web/api/htmldialogelement/requestclose/index.md
Labels: Content:WebAPI, size/m

#39362 FF139 Relnote: HTMLDialogElement.requestClose()
  files/en-us/mozilla/firefox/releases/139/index.md
Labels: Content:Firefox, size/xs

#39369 Removed useless link refrencing outdated operating system
  files/en-us/web/api/canvas_api/tutorial/optimizing_canvas/index.md
Labels: Content:WebAPI, size/xs

#39368 Fix typo in "Range: setEnd() method"
  files/en-us/web/api/range/setend/index.md
Labels: Content:WebAPI, size/xs

#39365 fix word repetition
  files/en-us/web/html/reference/elements/input/index.md
Labels: Content:HTML, size/xs

#39359 fix(learn - html - table docs): improve the explanation in section and fix code
  files/en-us/learn_web_development/core/structuring_content/table_accessibility/index.md
Labels: Content:Learn, size/s

#39346 Reformat SVGAnimatedTransformList
  files/en-us/web/api/svganimatedtransformlist/index.md
Labels: Content:WebAPI, size/m

#39348 Reformat: SVGComponentTransferFunctionElement
  files/en-us/web/api/svgcomponenttransferfunctionelement/index.md
Labels: Content:WebAPI, size/s

#39350 Reformat SVGGradientElement
  files/en-us/web/api/svggradientelement/index.md
Labels: Content:WebAPI, size/s

#39351 Reformat SVGPreserveAspectRatio
  files/en-us/web/api/svgpreserveaspectratio/index.md
Labels: Content:WebAPI, size/m

#39353 reformat SVGTextPathElement
  files/en-us/web/api/svgtextpathelement/index.md
  files/en-us/web/api/svgtextpathelement/method/index.md
  files/en-us/web/api/svgtextpathelement/spacing/index.md
Labels: Content:WebAPI, size/m

#39349 Reformat SVGFE* elements
  files/en-us/web/api/svgangle/index.md
  files/en-us/web/api/svgangle/unittype/index.md
  files/en-us/web/api/svganimatedangle/animval/index.md
  files/en-us/web/api/svganimatedangle/baseval/index.md
  files/en-us/web/api/svganimatedangle/index.md
  files/en-us/web/api/svganimatedboolean/index.md
  files/en-us/web/api/svganimatedinteger/index.md
  files/en-us/web/api/svganimatedlengthlist/index.md
  files/en-us/web/api/svgcomponenttransferfunctionelement/index.md
  files/en-us/web/api/svgcomponenttransferfunctionelement/type/index.md
  files/en-us/web/api/svgfeblendelement/index.md
  files/en-us/web/api/svgfecolormatrixelement/index.md
  files/en-us/web/api/svgfecompositeelement/index.md
  files/en-us/web/api/svgfeconvolvematrixelement/index.md
  files/en-us/web/api/svgfedisplacementmapelement/index.md
  files/en-us/web/api/svgfemorphologyelement/index.md
  files/en-us/web/api/svgfeturbulenceelement/index.md
  files/en-us/web/api/svggradientelement/index.md
  files/en-us/web/api/svglength/index.md
  files/en-us/web/api/svgpreserveaspectratio/index.md
  files/en-us/web/api/svgrenderingintent/index.md
  files/en-us/web/api/svgtextcontentelement/index.md
  files/en-us/web/api/svgtextpathelement/index.md
  files/en-us/web/api/svgtextpathelement/method/index.md
  files/en-us/web/api/svgtextpathelement/spacing/index.md
  files/en-us/web/api/svgtransform/index.md
  files/en-us/web/api/svgunittypes/index.md
Labels: Content:WebAPI, size/xl

#39053 Add `navigator.presentation` example
  files/en-us/web/api/navigator/presentation/index.md
Labels: Content:WebAPI, size/s

#39386 Fix typo: correct 'With out' to 'Without'
  files/en-us/learn_web_development/core/css_layout/grids/index.md
Labels: Content:Learn, size/xs

#39364 FF139 Relnote - Escape < and > in attributes when serializing HTML
  files/en-us/mozilla/firefox/releases/139/index.md
Labels: Content:Firefox, size/xs

#39363 FF139 ExprFeat: Escape < and > in attributes when serialize HTML
  files/en-us/mozilla/firefox/experimental_features/index.md
Labels: Content:Firefox, size/s

#39389 Line edit to remove … character
  files/en-us/web/http/guides/cors/index.md
Labels: Content:HTTP, size/xs

#39401 fix: typo in CSS cascade test
  files/en-us/learn_web_development/core/styling_basics/test_your_skills/cascade/index.md
Labels: Content:Learn, size/xs

#39403 Add missing text
  files/en-us/web/api/service_worker_api/index.md
Labels: Content:WebAPI, size/xs

#39400 fix(learn): use `inherit` for skills solution in CSS cascade
  files/en-us/learn_web_development/core/styling_basics/test_your_skills/cascade/index.md
Labels: Content:Learn, size/xs

#39402 Update default useragent stylesheet for view-transition-*
  files/en-us/web/css/_doublecolon_view-transition-group/index.md
  files/en-us/web/css/_doublecolon_view-transition/index.md
Labels: Content:CSS, size/xs

#39406 Add `hev1.*`/`hvc1.*`/`avc1.*`/`avc3.*`/`av01.*` mp4 mimetypes for MediaRecorder
  files/en-us/web/api/mediarecorder/istypesupported_static/index.md
Labels: Content:WebAPI, size/s

#39397 Unify console output format
  files/en-us/web/javascript/reference/global_objects/number/tofixed/index.md
Labels: Content:JS, size/xs

#39337 feat: Replace QuicklinksWithSubPages and ListSubpages in Security section
  files/en-us/web/security/attacks/clickjacking/index.md
  files/en-us/web/security/attacks/csrf/index.md
  files/en-us/web/security/attacks/index.md
  files/en-us/web/security/attacks/xss/index.md
  files/en-us/web/security/certificate_transparency/index.md
  files/en-us/web/security/firefox_security_guidelines/index.md
  files/en-us/web/security/iframe_credentialless/index.md
  files/en-us/web/security/index.md
  files/en-us/web/security/insecure_passwords/index.md
  files/en-us/web/security/mixed_content/index.md
  files/en-us/web/security/practical_implementation_guides/clickjacking/index.md
  files/en-us/web/security/practical_implementation_guides/cookies/index.md
  files/en-us/web/security/practical_implementation_guides/corp/index.md
  files/en-us/web/security/practical_implementation_guides/cors/index.md
  files/en-us/web/security/practical_implementation_guides/csp/index.md
  files/en-us/web/security/practical_implementation_guides/csrf_prevention/index.md
  files/en-us/web/security/practical_implementation_guides/index.md
  files/en-us/web/security/practical_implementation_guides/mime_types/index.md
  files/en-us/web/security/practical_implementation_guides/referrer_policy/index.md
  files/en-us/web/security/practical_implementation_guides/robots_txt/index.md
  files/en-us/web/security/practical_implementation_guides/sri/index.md
  files/en-us/web/security/practical_implementation_guides/tls/index.md
  files/en-us/web/security/practical_implementation_guides/turning_off_form_autocompletion/index.md
  files/en-us/web/security/referer_header_colon__privacy_and_security_concerns/index.md
  files/en-us/web/security/same-origin_policy/index.md
  files/en-us/web/security/secure_contexts/features_restricted_to_secure_contexts/index.md
  files/en-us/web/security/secure_contexts/index.md
  files/en-us/web/security/subdomain_takeovers/index.md
  files/en-us/web/security/subresource_integrity/index.md
  files/en-us/web/security/transport_layer_security/index.md
  files/en-us/web/security/types_of_attacks/index.md
  files/en-us/web/security/user_activation/index.md
  files/en-us/web/security/weak_signature_algorithm/index.md
  files/sidebars/security.yaml
Labels: Content:Security, size/m

#39407 fix: Remove "Initial" log from promise example output
  files/en-us/web/javascript/guide/using_promises/index.md
Labels: Content:JS, size/xs

#39409 fix(pr-review-companion): set `cache-control: no-store`
  .github/workflows/pr-review-companion.yml
Labels: system, size/xs

#37157 RTCIceCandidateStats - updates to match BCD
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/rtcicecandidate/foundation/index.md
  files/en-us/web/api/rtcicecandidatestats/address/index.md
  files/en-us/web/api/rtcicecandidatestats/candidatetype/index.md
  files/en-us/web/api/rtcicecandidatestats/foundation/index.md
  files/en-us/web/api/rtcicecandidatestats/index.md
  files/en-us/web/api/rtcicecandidatestats/port/index.md
  files/en-us/web/api/rtcicecandidatestats/priority/index.md
  files/en-us/web/api/rtcicecandidatestats/protocol/index.md
  files/en-us/web/api/rtcicecandidatestats/transportid/index.md
  files/en-us/web/api/rtcicecandidatestats/usernamefragment/index.md
Labels: Content:WebAPI, size/m

#39413 Remove improper comma
  files/en-us/web/api/web_audio_api/best_practices/index.md
Labels: Content:WebAPI, size/xs

#38305 docs: add `ResourceType.json`
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/resourcetype/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/resourcetype/index.md
  files/en-us/mozilla/firefox/releases/138/index.md
Labels: Content:WebExt, Content:Firefox, size/s

#39410 Merge Introduction_to_HTML5_Game_Development into Games/Tools
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/games/introduction_to_html5_game_development/index.md
  files/en-us/games/tools/index.md
Labels: Content:Games, size/m

#39399 CSS mask-repeat refresh
  files/en-us/web/css/mask-repeat/index.md
Labels: Content:CSS, size/m

#39417 remove redundant words
  files/en-us/webassembly/reference/javascript_interface/instantiate_static/index.md
Labels: Content:wasm, size/xs

#39287 CSS properties: mask-mode and mask-type
  files/en-us/web/css/mask-mode/index.md
  files/en-us/web/css/mask-type/index.md
Labels: Content:CSS, size/m

#39338 mask-composite property
  files/en-us/web/css/mask-composite/index.md
Labels: Content:CSS, size/m

#39398 FF139 ExprFeat: Prioritized Scheduler API in nightly
  files/en-us/mozilla/firefox/experimental_features/index.md
Labels: Content:Firefox, size/s

#39420 chore: Linking to some MDN pages not linked by parent page
  files/en-us/mdn/community/index.md
  files/en-us/mdn/community/issues/index.md
  files/en-us/mdn/writing_guidelines/page_structures/macros/commonly_used_macros/index.md
  files/en-us/mdn/writing_guidelines/page_structures/macros/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/index.md
Labels: Content:Meta, size/s

#39440 Replace interactive-examples assets with shared-assets
  files/en-us/learn_web_development/core/scripting/event_bubbling/index.md
  files/en-us/web/api/canvasrenderingcontext2d/imagesmoothingenabled/index.md
  files/en-us/web/api/fontfaceset/check/index.md
  files/en-us/web/api/htmlimageelement/x/index.md
  files/en-us/web/api/htmlmediaelement/loadstart_event/index.md
  files/en-us/web/api/vttcue/index.md
  files/en-us/web/api/webvtt_api/index.md
  files/en-us/web/css/border-image-slice/index.md
  files/en-us/web/css/opacity/index.md
  files/en-us/web/html/guides/cheatsheet/index.md
  files/en-us/web/html/reference/elements/object/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:Learn, size/m

#39416 Docs: Clarify setListener source in insertAdjacentElement example
  files/en-us/web/api/element/insertadjacentelement/index.md
Labels: Content:WebAPI, size/xs

#39421 typo and related links
  files/en-us/web/css/mask-clip/index.md
Labels: Content:CSS, size/s

#39366 CSS mask-origin property
  files/en-us/web/css/mask-origin/index.md
Labels: Content:CSS, size/m

#39442 Replace favicon assets with shared-assets
  files/en-us/mozilla/add-ons/webextensions/api/clipboard/setimagedata/index.md
  files/en-us/web/api/htmlelement/load_event/favicon144.png
  files/en-us/web/api/htmlelement/load_event/index.md
  files/en-us/web/css/background-repeat/favicon32.png
  files/en-us/web/css/background-repeat/index.md
  files/en-us/web/html/reference/elements/img/favicon144.png
  files/en-us/web/html/reference/elements/img/favicon72.png
  files/en-us/web/html/reference/elements/img/index.md
Labels: Content:CSS, Content:HTML, Content:WebExt, Content:WebAPI, size/s

#39439 Fix firstUIEventTimestamp definition
  files/en-us/web/api/performance_api/long_animation_frame_timing/index.md
  files/en-us/web/api/performancelonganimationframetiming/firstuieventtimestamp/index.md
Labels: Content:WebAPI, size/xs

#39444 chore: link to a11y pages from parent, sidebar fix
  files/en-us/web/accessibility/aria/index.md
  files/en-us/web/accessibility/index.md
  files/sidebars/accessibilitysidebar.yaml
Labels: Content:Accessibility, size/s

#39448 Remove erroneous line numbers from link to voice-change-o-matic
  files/en-us/web/api/baseaudiocontext/createwaveshaper/index.md
Labels: Content:WebAPI, size/xs

#39418 mask-size property refresh
  files/en-us/web/css/mask-size/index.md
Labels: Content:CSS, size/m

#39446 Add link to the specific `@import layer()` page
  files/en-us/web/css/css_syntax/at-rule_functions/index.md
Labels: Content:CSS, size/xs

#39458 FIX: mask definition
  files/en-us/web/css/mask/index.md
Labels: Content:CSS, size/s

#39460 fix(docs): Clarify the distinction between the different container queries
  files/en-us/web/css/css_containment/container_queries/index.md
Labels: Content:CSS, size/xs

#39450 Remove experimental status for `selectionchange` event on <input> and <textarea> elements
  files/en-us/web/api/htmlinputelement/selectionchange_event/index.md
  files/en-us/web/api/htmltextareaelement/selectionchange_event/index.md
Labels: Content:WebAPI, size/s

#39391 Ff139 unship (before/after)scriptexecute in nightly
  files/en-us/mozilla/firefox/releases/139/index.md
Labels: Content:Firefox, size/xs

#39300 Privacy sandbox APIs - add more standards positions
  files/en-us/web/api/fenced_frame_api/index.md
  files/en-us/web/api/shared_storage_api/index.md
  files/en-us/web/api/topics_api/index.md
  files/en-us/web/privacy/guides/privacy_sandbox/enrollment/index.md
  files/en-us/web/privacy/guides/privacy_sandbox/index.md
Labels: Content:WebAPI, Content:Other, size/s

#39392 FF139 ExpFeat - unship (before/after)scriptexecute events
  files/en-us/mozilla/firefox/experimental_features/index.md
Labels: Content:Firefox, size/s

#39424 Synchronize with BCD v6.0.12
  files/en-us/web/api/audioworklet/index.md
  files/en-us/web/api/audioworklet/port/index.md
  files/en-us/web/api/audioworkletglobalscope/index.md
  files/en-us/web/api/audioworkletglobalscope/port/index.md
  files/en-us/web/api/document/movebefore/index.md
  files/en-us/web/api/documentfragment/movebefore/index.md
  files/en-us/web/api/element/beforematch_event/index.md
  files/en-us/web/api/element/index.md
  files/en-us/web/api/element/movebefore/index.md
  files/en-us/web/api/htmldialogelement/closedby/index.md
  files/en-us/web/api/htmldialogelement/index.md
  files/en-us/web/api/htmlinputelement/index.md
  files/en-us/web/api/htmltextareaelement/index.md
  files/en-us/web/api/mediastreamtrackprocessor/index.md
  files/en-us/web/api/mediastreamtrackprocessor/mediastreamtrackprocessor/index.md
  files/en-us/web/api/mediastreamtrackprocessor/readable/index.md
  files/en-us/web/api/rtcicecandidatestats/foundation/index.md
  files/en-us/web/api/rtcicecandidatestats/index.md
  files/en-us/web/api/rtcicecandidatestats/usernamefragment/index.md
  files/en-us/web/api/selection/getcomposedranges/index.md
  files/en-us/web/api/selection/index.md
  files/en-us/web/html/reference/elements/dialog/index.md
Labels: Content:HTML, Content:WebAPI, size/m

#39467 chore: delete vuln response doc
  files/en-us/_redirects.txt
  files/en-us/mdn/community/security_vulnerability_response/index.md
  files/en-us/mdn/writing_guidelines/page_structures/sidebars/index.md
Labels: Content:Meta, size/s

#39465 Fix typos
  .vscode/dictionaries/code-entities.txt
  files/en-us/mdn/writing_guidelines/page_structures/macros/index.md
  files/en-us/web/accessibility/guides/mobile_accessibility_checklist/index.md
  files/en-us/web/api/document_object_model/reflected_attributes/index.md
  files/en-us/web/api/mediakeysession/index.md
  files/en-us/web/css/mask-clip/index.md
  files/en-us/web/css/mask-repeat/index.md
  files/en-us/web/svg/reference/attribute/mask-type/index.md
Labels: Content:CSS, Content:WebAPI, Content:Accessibility, Content:SVG, Content:Meta, system, size/s

#39469 chore: link to unlinked child pages
  files/en-us/web/mathml/guides/index.md
  files/en-us/web/mathml/index.md
  files/en-us/web/media/index.md
  files/en-us/web/performance/index.md
Labels: Content:Media, Content:MathML, Content:Performance, size/s

#39451 css: add 'stretch' value examples
  files/en-us/web/css/height/index.md
  files/en-us/web/css/width/index.md
Labels: Content:CSS, size/m

#39445 Add links to CSS sidebar
  files/en-us/web/css/css_fonts/woff/index.md
  files/sidebars/cssref.yaml
Labels: Content:CSS, size/m

#39419 More Error Messages
  files/en-us/web/javascript/reference/errors/called_on_incompatible_type/index.md
Labels: Content:JS, size/s

#39476 Fix typos in web audio spatialization basics
  files/en-us/web/api/web_audio_api/web_audio_spatialization_basics/index.md
Labels: Content:WebAPI, size/xs

#39422 Add warning against using element IDs as global properties.
  files/en-us/web/html/reference/global_attributes/class/index.md
  files/en-us/web/html/reference/global_attributes/id/index.md
Labels: Content:HTML, size/s

#39484 Fix Circle Collision detection algorithm
  files/en-us/games/techniques/2d_collision_detection/index.md
Labels: Content:Games, size/s

#39473 Adding @starting-style to CSS nesting at-rules
  files/en-us/web/css/css_nesting/nesting_at-rules/index.md
Labels: Content:CSS, size/xs

#39449 CSS: mask-position property description
  files/en-us/web/css/mask-position/index.md
Labels: Content:CSS, size/m

#39487 Add username/password section to URLs guide
  files/en-us/learn_web_development/howto/web_mechanics/what_is_a_url/index.md
Labels: Content:Learn, size/s

#39441 Expand Compression Dictionary format description
  files/en-us/web/http/guides/compression_dictionary_transport/index.md
Labels: Content:HTTP, size/s

#39454 css(fix): update 'shape()' page
  files/en-us/web/css/basic-shape/shape/index.md
Labels: Content:CSS, size/s

#39464 Add more documentation for sizes=auto
  files/en-us/web/api/htmlimageelement/sizes/index.md
  files/en-us/web/html/reference/elements/img/index.md
Labels: Content:HTML, Content:WebAPI, size/s

#39494 Correct page title for `Uint8Array.prototype.setFromHex()`
  files/en-us/web/javascript/reference/global_objects/uint8array/setfromhex/index.md
Labels: Content:JS, size/xs

#39470 chore: Link to child pages in SVG, URI section
  files/en-us/web/api/fenced_frame_api/index.md
  files/en-us/web/html/reference/global_attributes/id/index.md
  files/en-us/web/svg/guides/index.md
  files/en-us/web/svg/guides/scripting/index.md
  files/en-us/web/svg/guides/svg_animation_with_smil/index.md
  files/en-us/web/svg/guides/svg_as_an_image/index.md
  files/en-us/web/svg/index.md
  files/en-us/web/uri/guides/index.md
  files/en-us/web/uri/index.md
  files/en-us/web/uri/mdn-url-anchor@x2.png
  files/en-us/web/uri/mdn-url-parameters@x2.png
  files/en-us/web/uri/mdn-url-path@x2.png
  files/en-us/web/uri/mdn-url-protocol@x2.png
  files/en-us/web/uri/reference/authority/index.md
  files/en-us/web/uri/reference/authority/mdn-url-domain@x2.png
  files/en-us/web/uri/reference/authority/mdn-url-port@x2.png
  files/en-us/web/uri/reference/fragment/index.md
  files/en-us/web/uri/reference/index.md
  files/en-us/web/uri/reference/path/index.md
  files/en-us/web/uri/reference/query/index.md
  files/en-us/web/uri/reference/schemes/index.md
  files/en-us/web/uri/reference/schemes/urn/index.md
  files/sidebars/urlsidebar.yaml
Labels: Content:HTML, Content:WebAPI, Content:Other, Content:SVG, size/m

#39430 tabGroups API release note
  files/en-us/mozilla/firefox/releases/139/index.md
Labels: Content:Firefox, size/xs

#38977 Add a guide on xs-leaks
  files/en-us/web/security/attacks/index.md
  files/en-us/web/security/attacks/xs-leaks/index.md
Labels: Content:Security, size/m

#39499 Content script persistence over update
  files/en-us/mozilla/add-ons/webextensions/api/scripting/registeredcontentscript/index.md
Labels: Content:WebExt, size/xs

#39506 Update full screen API example code
  files/en-us/web/api/fullscreen_api/index.md
Labels: Content:WebAPI, size/s

#39508 Fix links
  files/en-us/learn_web_development/core/accessibility/tooling/index.md
  files/en-us/learn_web_development/core/accessibility/what_is_accessibility/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/svelte_stores/index.md
  files/en-us/learn_web_development/extensions/forms/how_to_build_custom_form_controls/index.md
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/128/index.md
  files/en-us/web/api/element/ariaerrormessageelements/index.md
  files/en-us/web/css/css_values_and_units/css_data_types/index.md
  files/en-us/web/css/layout_cookbook/contribute_a_recipe/cookbook_template/index.md
  files/en-us/web/security/attacks/xs-leaks/index.md
  files/en-us/web/uri/index.md
Labels: Content:CSS, Content:WebAPI, Content:Learn, Content:Other, Content:Security, Content:Firefox, size/s

#39510 chore(html): tidy up parent-child links
  files/en-us/web/html/how_to/add_a_hit_map_on_top_of_an_image/index.md
  files/en-us/web/html/how_to/author_fast-loading_html_pages/index.md
  files/en-us/web/html/how_to/cors_enabled_image/index.md
  files/en-us/web/html/how_to/index.md
  files/en-us/web/html/index.md
Labels: Content:HTML, size/s

#39486 Improve soft skills recommendations
  files/en-us/learn_web_development/getting_started/soft_skills/collaboration_and_teamwork/index.md
Labels: Content:Learn, size/xs

#39475 new css guide: css clipping
  files/en-us/web/api/svgclippathelement/index.md
  files/en-us/web/css/clip-path/index.md
  files/en-us/web/css/clip-rule/index.md
  files/en-us/web/css/css_masking/clipping/index.md
  files/en-us/web/css/css_masking/index.md
  files/en-us/web/svg/reference/attribute/clip-path/index.md
  files/en-us/web/svg/reference/element/clippath/index.md
Labels: Content:CSS, Content:WebAPI, Content:SVG, size/l

#39517 Add links to child pages
  files/en-us/games/index.md
  files/en-us/games/introduction/index.md
  files/en-us/games/techniques/index.md
  files/en-us/games/tools/index.md
  files/en-us/mozilla/add-ons/webextensions/api/declarativenetrequest/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/index.md
  files/en-us/mozilla/add-ons/webextensions/api/userscripts_legacy/index.md
  files/en-us/mozilla/add-ons/webextensions/api/userscripts_legacy/userscriptoptions/index.md
  files/en-us/mozilla/add-ons/webextensions/index.md
  files/en-us/web/api/rtcicecandidatestats/index.md
Labels: Content:WebExt, Content:WebAPI, Content:Games, size/m

#39515 Fix Grammar
  files/en-us/web/api/filereadersync/readasdataurl/index.md
Labels: Content:WebAPI, size/xs

#39518 Adjust JS guide IA
  files/en-us/web/javascript/guide/index.md
  files/en-us/web/javascript/guide/internationalization/index.md
  files/en-us/web/javascript/guide/meta_programming/index.md
  files/en-us/web/javascript/guide/modules/index.md
  files/en-us/web/javascript/reference/index.md
  files/sidebars/jssidebar.yaml
Labels: Content:JS, size/s

#39471 added links to the supported calendar types
  files/en-us/web/javascript/reference/global_objects/temporal/plaindate/calendarid/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plaindate/from/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plaindate/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plaindate/plaindate/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plaindate/withcalendar/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plaindatetime/calendarid/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plaindatetime/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plaindatetime/plaindatetime/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plaindatetime/withcalendar/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plainmonthday/calendarid/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plainmonthday/from/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plainmonthday/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plainmonthday/plainmonthday/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plainyearmonth/calendarid/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plainyearmonth/from/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plainyearmonth/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plainyearmonth/plainyearmonth/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/zoneddatetime/calendarid/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/zoneddatetime/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/zoneddatetime/withcalendar/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/zoneddatetime/zoneddatetime/index.md
Labels: Content:JS, size/s

#39490 Guide: intro to masking
  files/en-us/web/css/css_masking/index.md
  files/en-us/web/css/css_masking/masking/index.md
  files/en-us/web/css/mask-image/index.md
  files/en-us/web/css/mask-mode/index.md
  files/en-us/web/css/mask-type/index.md
  files/en-us/web/svg/reference/attribute/mask-type/index.md
Labels: Content:CSS, Content:SVG, size/m

#39527 Set Vary header in the Fetch metadata example
  files/en-us/web/security/attacks/xs-leaks/index.md
Labels: Content:Security, size/xs

#39531 Grammar Issue with Text #39526
  files/en-us/learn_web_development/getting_started/soft_skills/finding_a_job/index.md
Labels: Content:Learn, size/xs

#39530 Fix some live samples that use images, remove unused images
  files/en-us/learn_web_development/extensions/forms/basic_native_form_controls/index.md
  files/en-us/learn_web_development/extensions/forms/styling_web_forms/background.jpg
  files/en-us/learn_web_development/getting_started/your_first_website/styling_the_content/boxes.jpg
  files/en-us/learn_web_development/getting_started/your_first_website/styling_the_content/css-declaration-small.png
  files/en-us/web/api/htmlimageelement/crossorigin/index.md
  files/en-us/web/css/background-blend-mode/index.md
  files/en-us/web/css/clip-path/mdn.svg
  files/en-us/web/css/css_filter_effects/using_filter_effects/index.md
  files/en-us/web/css/filter-function/brightness/index.md
  files/en-us/web/css/filter-function/contrast/index.md
  files/en-us/web/css/filter-function/hue-rotate/index.md
  files/en-us/web/privacy/guides/third-party_cookies/3pc-example.drawio
  files/en-us/web/privacy/guides/third-party_cookies/3pc-example.png
Labels: Content:CSS, Content:WebAPI, Content:Learn, Content:Other, size/m

#39534 Fix typo
  files/en-us/web/javascript/reference/global_objects/proxy/index.md
Labels: Content:JS, size/xs

#39521 chore(css): Convert jsfiddles to live samples
  files/en-us/web/css/_colon_fullscreen/index.md
  files/en-us/web/css/border-radius/index.md
Labels: Content:CSS, size/s

#39540 Update index.md
  files/en-us/web/css/css_grid_layout/grid_template_areas/index.md
Labels: Content:CSS, size/xs

#39529 Update index.md
  files/en-us/web/api/server-sent_events/using_server-sent_events/index.md
Labels: Content:WebAPI, size/xs

#39539 Edit DOMPoint.fromPoint_static documentation
  files/en-us/web/api/dompoint/frompoint_static/index.md
Labels: Content:WebAPI, size/xs

#39485 Deduplicate clipboard event pages
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/firefox/releases/3/dom_improvements/index.md
  files/en-us/web/api/document/copy_event/index.md
  files/en-us/web/api/document/cut_event/index.md
  files/en-us/web/api/document/index.md
  files/en-us/web/api/document/paste_event/index.md
  files/en-us/web/api/element/copy_event/index.md
  files/en-us/web/api/element/cut_event/index.md
  files/en-us/web/api/element/paste_event/index.md
  files/en-us/web/api/html_dom_api/index.md
  files/en-us/web/api/htmlelement/copy_event/index.md
  files/en-us/web/api/htmlelement/cut_event/index.md
  files/en-us/web/api/htmlelement/index.md
  files/en-us/web/api/htmlelement/paste_event/index.md
  files/en-us/web/api/svggraphicselement/copy_event/index.md
  files/en-us/web/api/svggraphicselement/cut_event/index.md
  files/en-us/web/api/svggraphicselement/index.md
  files/en-us/web/api/svggraphicselement/paste_event/index.md
  files/en-us/web/api/window/copy_event/index.md
  files/en-us/web/api/window/cut_event/index.md
  files/en-us/web/api/window/index.md
  files/en-us/web/api/window/paste_event/index.md
Labels: Content:WebAPI, Content:Firefox, size/l

#39544 typo
  files/en-us/web/css/css_masking/masking/index.md
Labels: Content:CSS, size/xs

#39542 add "default value"
  files/en-us/web/css/background-origin/index.md
Labels: Content:CSS, size/xs

#39560 Add missing "to" in html basics course debugging walkthrough page
  files/en-us/learn_web_development/core/structuring_content/debugging_html/index.md
Labels: Content:Learn, size/xs

#39559 Specify which credientials header value is default
  files/en-us/web/api/request/credentials/index.md
Labels: Content:WebAPI, size/xs

#39525 Fix the fullscreen example
  files/en-us/web/api/fullscreen_api/guide/index.md
  files/en-us/web/api/fullscreen_api/index.md
Labels: Content:WebAPI, size/m

#39443 Make insertAdjacentElement example a live example in the page
  files/en-us/web/api/element/insertadjacentelement/index.md
Labels: Content:WebAPI, size/m

#39541 Better page for Response.type
  files/en-us/web/api/response/type/index.md
Labels: Content:WebAPI, size/m

#39567 chore: replace `http://` with `https://`
  files/en-us/web/api/node/lookupprefix/index.md
Labels: Content:WebAPI, size/xs

#39558 Use consistent naming for quirks/limited-quirks/no-quirks modes
  files/en-us/web/html/guides/quirks_mode_and_standards_mode/index.md
Labels: Content:HTML, size/s

#39557 Clarify new optionality of `src` if `srcset` is available.
  files/en-us/web/html/reference/elements/img/index.md
Labels: Content:HTML, size/xs

#39556 doc[iframe/index.md]: change `Window.showModalDialog()` to `HTMLDialogElement.showModal()`
  files/en-us/web/html/reference/elements/iframe/index.md
Labels: Content:HTML, size/xs

#39572 FF139 Relnote: WebAuthn Extn largeBlob, credProps, prf
  files/en-us/mozilla/firefox/releases/139/index.md
Labels: Content:Firefox, size/xs

#39463 `author` manifest key Chrome clarifications
  files/en-us/mozilla/add-ons/webextensions/manifest.json/author/index.md
Labels: Content:WebExt, size/s

#39580 doc[iframe]: remove `HTMLDialogElement.showModal` from `allow-popups`
  files/en-us/web/html/reference/elements/iframe/index.md
Labels: Content:HTML, size/xs

#39566 Fix typos
  .vscode/dictionaries/proper-names.txt
  .vscode/dictionaries/terms-abbreviations.txt
  files/en-us/web/css/mask-position/index.md
Labels: Content:CSS, system, size/xs

#39583 Remove references to `showModalDialog()`
  files/en-us/mozilla/firefox/releases/46/index.md
  files/en-us/mozilla/firefox/releases/56/index.md
  files/en-us/web/api/offlineaudiocontext/complete_event/index.md
  files/en-us/web/api/window/index.md
Labels: Content:WebAPI, Content:Firefox, size/s

#39596 fix typo
  files/en-us/webassembly/reference/javascript_interface/instantiatestreaming_static/index.md
Labels: Content:wasm, size/xs

#39595 align with the usage in WebAssembly.instantiateStreaming() article
  files/en-us/webassembly/reference/javascript_interface/instantiate_static/index.md
Labels: Content:wasm, size/xs

#39565 DataTransfer.files can also be accessed with paste event
  files/en-us/web/api/datatransfer/files/index.md
Labels: Content:WebAPI, size/xs

#39456 anchorNode and focusNode can be null
  files/en-us/web/api/selection/anchornode/index.md
  files/en-us/web/api/selection/focusnode/index.md
  files/en-us/web/api/selection/index.md
Labels: Content:WebAPI, size/s

#39590 docs(Fx139): Add relnote for hidden until found, beforematch
  files/en-us/mozilla/firefox/releases/139/index.md
Labels: Content:Firefox, size/s

#39555 Match Example "Content-Length" header to body length
  files/en-us/web/http/guides/messages/index.md
Labels: Content:HTTP, size/s

#39548 Fix invalid code syntax
  files/en-us/learn_web_development/core/frameworks_libraries/ember_conditional_footer/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/ember_interactivity_events_state/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/ember_routing/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/react_components/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/react_getting_started/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/react_interactivity_events_state/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/react_interactivity_filtering_conditional_rendering/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/react_todo_list_beginning/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/vue_methods_events_models/index.md
  files/en-us/learn_web_development/core/scripting/conditionals/index.md
  files/en-us/mozilla/add-ons/webextensions/api/menus/onshown/index.md
  files/en-us/web/api/webgl_api/by_example/hello_glsl/index.md
  files/en-us/web/api/webgl_api/by_example/hello_vertex_attributes/index.md
  files/en-us/web/api/webgl_api/by_example/raining_rectangles/index.md
  files/en-us/web/api/webgl_api/by_example/scissor_animation/index.md
  files/en-us/web/api/webgl_api/by_example/textures_from_code/index.md
  files/en-us/web/css/_colon_nth-child/index.md
  files/en-us/web/css/align-content/index.md
  files/en-us/web/css/clip-path/index.md
  files/en-us/web/css/clip-rule/index.md
  files/en-us/web/css/css_masking/clipping/index.md
  files/en-us/web/css/line-style/index.md
  files/en-us/web/svg/reference/element/svg/index.md
Labels: Content:CSS, Content:WebExt, Content:WebAPI, Content:Learn, Content:SVG, size/m

#39573 Update index.md for better description for the coordinates.
  files/en-us/web/css/transform-function/matrix/index.md
Labels: Content:CSS, size/s

#39591 docs(Fx139): Refresh hidden until found, beforematch
  files/en-us/web/api/element/beforematch_event/index.md
  files/en-us/web/html/reference/global_attributes/hidden/index.md
Labels: Content:HTML, Content:WebAPI, size/m

#39602 Add machine-translated locales to Localization page
  files/en-us/mdn/community/translated_content/index.md
Labels: Content:Meta, size/s

#39263 Editorial review: Document the Summarizer API
  files/en-us/web/api/createmonitor/downloadprogress_event/index.md
  files/en-us/web/api/createmonitor/index.md
  files/en-us/web/api/summarizer/availability_static/index.md
  files/en-us/web/api/summarizer/create_static/index.md
  files/en-us/web/api/summarizer/destroy/index.md
  files/en-us/web/api/summarizer/expectedcontextlanguages/index.md
  files/en-us/web/api/summarizer/expectedinputlanguages/index.md
  files/en-us/web/api/summarizer/format/index.md
  files/en-us/web/api/summarizer/index.md
  files/en-us/web/api/summarizer/inputquota/index.md
  files/en-us/web/api/summarizer/length/index.md
  files/en-us/web/api/summarizer/measureinputusage/index.md
  files/en-us/web/api/summarizer/outputlanguage/index.md
  files/en-us/web/api/summarizer/sharedcontext/index.md
  files/en-us/web/api/summarizer/summarize/index.md
  files/en-us/web/api/summarizer/summarizestreaming/index.md
  files/en-us/web/api/summarizer/type/index.md
  files/en-us/web/api/summarizer_api/index.md
  files/en-us/web/api/summarizer_api/using/index.md
  files/en-us/web/http/reference/headers/permissions-policy/index.md
  files/en-us/web/http/reference/headers/permissions-policy/summarizer/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, Content:HTTP, size/xl

#39298 Content script load order clarification
  files/en-us/mozilla/add-ons/webextensions/manifest.json/content_scripts/index.md
Labels: Content:WebExt, size/m

#39606 Synchronize with BCD v6.0.16
  files/en-us/web/api/summarizer/availability_static/index.md
  files/en-us/web/api/summarizer/create_static/index.md
Labels: Content:WebAPI, size/s

#39576 Clarify use of prefers-reduced-motion: reduce in CSS example
  files/en-us/web/css/@media/prefers-reduced-motion/index.md
Labels: Content:CSS, size/s

#39594 Correct the description of credentials in the Request interface page
  files/en-us/web/api/request/index.md
Labels: Content:WebAPI, size/xs

#39599 WebDriver conformance changes for Firefox 139
  files/en-us/mozilla/firefox/releases/139/index.md
Labels: Content:Firefox, size/xs

#39607 fix: missing newline before WebGL2-specific information
  files/en-us/web/api/webglrenderingcontext/bindtexture/index.md
Labels: Content:WebAPI, size/s

#39600 Fx139: Firefox/139 release notes
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/139/index.md
Labels: Content:Firefox, size/m

#39609 Add note to clarify that browser AI models may differ
  files/en-us/web/api/summarizer_api/index.md
Labels: Content:WebAPI, size/xs

#39513 Bug-1550032 addition of unspecified to webextension.api.cookie.SameSiteStatus release note
  files/en-us/mozilla/firefox/releases/140/index.md
Labels: Content:Firefox, size/xs

#39512 Bug-1550032 addition of unspecified to webextension.api.cookie.SameSiteStatus docs
  files/en-us/mozilla/add-ons/webextensions/api/cookies/set/index.md
Labels: Content:WebExt, size/xs

#39622 Fx140: Add page for Firefox/140
  files/en-us/mozilla/firefox/releases/140/index.md
Labels: Content:Firefox, size/m

#39623 Reverting release note branches
  files/en-us/mozilla/firefox/releases/139/index.md
  files/en-us/mozilla/firefox/releases/140/index.md
Labels: Content:Firefox, size/s

#39502 Clean up #addons:mozilla.org room Matrix link
  files/en-us/mozilla/add-ons/webextensions/index.md
Labels: Content:WebExt, size/xs

#39608 Improved Italian translation
  files/sidebars/learnsidebar.yaml
Labels: size/xs

#39575 [HTTP] Remove Permissions-Policy directive document-domain
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/document/domain/index.md
  files/en-us/web/http/reference/headers/permissions-policy/document-domain/index.md
  files/en-us/web/security/same-origin_policy/index.md
Labels: Content:WebAPI, Content:HTTP, Content:Security, size/m

#39577 Add 2nd round of Scrimba links to the Learn content
  files/en-us/learn_web_development/core/css_layout/responsive_design/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/react_getting_started/index.md
  files/en-us/learn_web_development/core/scripting/dom_scripting/index.md
  files/en-us/learn_web_development/core/scripting/json/index.md
  files/en-us/learn_web_development/core/scripting/network_requests/index.md
  files/en-us/learn_web_development/core/scripting/what_is_javascript/index.md
  files/en-us/learn_web_development/core/structuring_content/creating_links/index.md
  files/en-us/learn_web_development/core/structuring_content/structuring_documents/index.md
  files/en-us/learn_web_development/core/styling_basics/what_is_css/index.md
  files/en-us/learn_web_development/extensions/server-side/express_nodejs/introduction/index.md
  files/en-us/learn_web_development/getting_started/environment_setup/command_line/glitch.png
  files/en-us/learn_web_development/getting_started/environment_setup/command_line/index.md
Labels: Content:Learn, size/m

#39645 Lint: more concise regex syntax
  files/en-us/learn_web_development/extensions/forms/form_validation/index.md
  files/en-us/web/api/htmlinputelement/selectionend/index.md
  files/en-us/web/api/readablestreamdefaultreader/read/index.md
  files/en-us/web/html/reference/elements/input/email/index.md
  files/en-us/web/javascript/guide/regular_expressions/groups_and_backreferences/index.md
  files/en-us/web/javascript/reference/global_objects/array/filter/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/dotall/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/flags/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/multiline/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/symbol.match/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/symbol.matchall/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/matchall/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/search/index.md
  files/en-us/web/javascript/reference/regular_expressions/character_class/index.md
Labels: Content:HTML, Content:WebAPI, Content:JS, Content:Learn, size/s

#39457 Editorial review: Document Translator and Language Detector APIs
  files/en-us/web/api/languagedetector/availability_static/index.md
  files/en-us/web/api/languagedetector/create_static/index.md
  files/en-us/web/api/languagedetector/destroy/index.md
  files/en-us/web/api/languagedetector/detect/index.md
  files/en-us/web/api/languagedetector/expectedinputlanguages/index.md
  files/en-us/web/api/languagedetector/index.md
  files/en-us/web/api/languagedetector/inputquota/index.md
  files/en-us/web/api/languagedetector/measureinputusage/index.md
  files/en-us/web/api/translator/availability_static/index.md
  files/en-us/web/api/translator/create_static/index.md
  files/en-us/web/api/translator/destroy/index.md
  files/en-us/web/api/translator/index.md
  files/en-us/web/api/translator/inputquota/index.md
  files/en-us/web/api/translator/measureinputusage/index.md
  files/en-us/web/api/translator/sourcelanguage/index.md
  files/en-us/web/api/translator/targetlanguage/index.md
  files/en-us/web/api/translator/translate/index.md
  files/en-us/web/api/translator/translatestreaming/index.md
  files/en-us/web/api/translator_and_language_detector_apis/index.md
  files/en-us/web/api/translator_and_language_detector_apis/using/index.md
  files/en-us/web/http/reference/headers/permissions-policy/index.md
  files/en-us/web/http/reference/headers/permissions-policy/language-detector/index.md
  files/en-us/web/http/reference/headers/permissions-policy/translator/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, Content:HTTP, size/xl

#39646 Lint: improve import/label/comment formatting
  files/en-us/games/techniques/control_mechanisms/other/index.md
  files/en-us/glossary/bitwise_flags/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/react_getting_started/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/svelte_components/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/svelte_reactivity_lifecycle_accessibility/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/svelte_stores/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/svelte_todo_list_beginning/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/vue_rendering_lists/index.md
  files/en-us/learn_web_development/extensions/client-side_apis/third_party_apis/index.md
  files/en-us/learn_web_development/extensions/server-side/express_nodejs/deployment/index.md
  files/en-us/learn_web_development/extensions/server-side/express_nodejs/development_environment/index.md
  files/en-us/learn_web_development/extensions/server-side/express_nodejs/forms/create_genre_form/index.md
  files/en-us/learn_web_development/extensions/server-side/express_nodejs/introduction/index.md
  files/en-us/learn_web_development/extensions/server-side/express_nodejs/mongoose/index.md
  files/en-us/learn_web_development/extensions/server-side/express_nodejs/routes/index.md
  files/en-us/learn_web_development/extensions/server-side/express_nodejs/skeleton_website/index.md
  files/en-us/learn_web_development/extensions/testing/your_own_automation_environment/index.md
  files/en-us/mozilla/add-ons/webextensions/api/menus/onshown/index.md
  files/en-us/web/api/chapterinformation/index.md
  files/en-us/web/api/directoryreadersync/index.md
  files/en-us/web/api/element/ariacontrolselements/index.md
  files/en-us/web/api/filesystemdirectoryentry/index.md
  files/en-us/web/api/filesystementry/index.md
  files/en-us/web/api/readablestreambyobreader/read/index.md
  files/en-us/web/api/remote_playback_api/index.md
  files/en-us/web/api/remoteplayback/index.md
  files/en-us/web/api/streams_api/using_readable_byte_streams/index.md
  files/en-us/web/api/web_workers_api/using_web_workers/index.md
  files/en-us/web/api/webgl2renderingcontext/resumetransformfeedback/index.md
  files/en-us/web/api/webrtc_api/build_a_phone_with_peerjs/build_the_server/index.md
  files/en-us/web/html/reference/elements/script/index.md
  files/en-us/web/html/reference/elements/script/type/importmap/index.md
  files/en-us/web/html/reference/global_attributes/nonce/index.md
  files/en-us/web/http/reference/headers/x-frame-options/index.md
  files/en-us/web/javascript/guide/loops_and_iteration/index.md
  files/en-us/web/javascript/guide/modules/index.md
  files/en-us/web/javascript/reference/global_objects/asyncgenerator/index.md
  files/en-us/web/javascript/reference/global_objects/function/bind/index.md
  files/en-us/web/javascript/reference/statements/continue/index.md
  files/en-us/web/javascript/reference/statements/export/index.md
Labels: Content:HTML, Content:WebExt, Content:WebAPI, Content:JS, Content:Learn, Content:HTTP, Content:Glossary, Content:Games, size/m

#39644 Lint: use parseInt with a radix
  files/en-us/mozilla/add-ons/webextensions/api/menus/overridecontext/index.md
  files/en-us/web/api/canvasrenderingcontext2d/arcto/index.md
  files/en-us/web/api/css_painting_api/guide/index.md
  files/en-us/web/api/htmlanchorelement/search/index.md
  files/en-us/web/api/htmlareaelement/search/index.md
  files/en-us/web/api/htmlelement/style/index.md
  files/en-us/web/api/location/search/index.md
  files/en-us/web/api/mathmlelement/style/index.md
  files/en-us/web/api/svgelement/style/index.md
  files/en-us/web/api/url/searchparams/index.md
  files/en-us/web/api/workletsharedstorage/get/index.md
  files/en-us/web/css/css_transforms/index.md
  files/en-us/web/html/reference/elements/output/index.md
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
  files/en-us/web/javascript/reference/regular_expressions/named_capturing_group/index.md
  files/en-us/web/svg/guides/namespaces_crash_course/example/index.md
Labels: Content:CSS, Content:HTML, Content:WebExt, Content:WebAPI, Content:JS, Content:SVG, size/m

#39643 Lint: use concise assignment operators
  files/en-us/games/tutorials/2d_breakout_game_pure_javascript/build_the_brick_field/index.md
  files/en-us/games/tutorials/2d_breakout_game_pure_javascript/collision_detection/index.md
  files/en-us/web/api/fetch_api/using_fetch/index.md
  files/en-us/web/api/htmltablecellelement/colspan/index.md
  files/en-us/web/api/htmltablecellelement/rowspan/index.md
  files/en-us/web/api/htmltablecolelement/span/index.md
  files/en-us/web/api/mutationrecord/addednodes/index.md
  files/en-us/web/api/mutationrecord/removednodes/index.md
  files/en-us/web/api/web_audio_api/simple_synth/index.md
  files/en-us/web/api/webgl_api/webgl_best_practices/index.md
  files/en-us/web/javascript/reference/errors/invalid_array_length/index.md
  files/en-us/web/javascript/reference/global_objects/asyncgeneratorfunction/index.md
  files/en-us/web/javascript/reference/global_objects/generatorfunction/index.md
  files/en-us/web/javascript/reference/global_objects/object/defineproperty/index.md
  files/en-us/web/javascript/reference/operators/async_function_star_/index.md
  files/en-us/web/javascript/reference/operators/function_star_/index.md
  files/en-us/web/javascript/reference/statements/async_function_star_/index.md
  files/en-us/web/javascript/reference/statements/break/index.md
  files/en-us/web/javascript/reference/statements/continue/index.md
  files/en-us/web/javascript/reference/statements/do...while/index.md
  files/en-us/web/javascript/reference/statements/for/index.md
  files/en-us/web/javascript/reference/statements/label/index.md
Labels: Content:WebAPI, Content:JS, Content:Games, size/m
