Repository mdn/content, pull requests merged in 2025-07, with the labels that each got.

#40116 doc[sec-websocket-extensions]: change from `comma-separated` to `semicolon-separated`
  files/en-us/web/http/guides/protocol_upgrade_mechanism/index.md
  files/en-us/web/http/reference/headers/sec-websocket-extensions/index.md
Labels: Content:HTTP, size/s, size/xs

#40140 Document VideoFrame.flip/rotation
  files/en-us/web/api/videodecoder/configure/index.md
  files/en-us/web/api/videoframe/flip/index.md
  files/en-us/web/api/videoframe/index.md
  files/en-us/web/api/videoframe/rotation/index.md
  files/en-us/web/api/videoframe/videoframe/index.md
Labels: Content:WebAPI, size/m

#40142 fix typo in accessibility
  files/en-us/learn_web_development/core/accessibility/html/index.md
Labels: Content:Learn, size/xs

#40092 Ensure that syntax sections start with a code block
  files/en-us/web/api/document/cookie/index.md
  files/en-us/web/api/webglrenderingcontext/canvas/index.md
  files/en-us/web/api/xrwebgllayer/antialias/index.md
  files/en-us/web/css/@charset/index.md
  files/en-us/web/css/@color-profile/index.md
  files/en-us/web/css/@container/index.md
  files/en-us/web/css/@counter-style/index.md
  files/en-us/web/css/@document/index.md
  files/en-us/web/css/@font-feature-values/index.md
  files/en-us/web/css/@media/index.md
  files/en-us/web/css/@media/prefers-reduced-motion/index.md
  files/en-us/web/css/@media/update/index.md
  files/en-us/web/css/@supports/index.md
  files/en-us/web/css/attribute_selectors/index.md
  files/en-us/web/css/css_conditional_rules/index.md
  files/en-us/web/http/reference/headers/available-dictionary/index.md
  files/en-us/web/http/reference/headers/cache-control/index.md
  files/en-us/web/http/reference/headers/content-security-policy/fenced-frame-src/index.md
  files/en-us/web/http/reference/headers/forwarded/index.md
  files/en-us/web/http/reference/headers/proxy-authenticate/index.md
  files/en-us/web/http/reference/headers/sec-ch-ua-full-version-list/index.md
  files/en-us/web/http/reference/headers/sec-ch-ua/index.md
  files/en-us/web/http/reference/headers/sec-websocket-extensions/index.md
  files/en-us/web/http/reference/headers/sec-websocket-protocol/index.md
  files/en-us/web/http/reference/headers/upgrade/index.md
  files/en-us/web/http/reference/headers/vary/index.md
  files/en-us/web/http/reference/headers/want-content-digest/index.md
  files/en-us/web/http/reference/headers/want-repr-digest/index.md
  files/en-us/web/http/reference/headers/x-frame-options/index.md
  files/en-us/web/http/reference/headers/x-robots-tag/index.md
  files/en-us/web/uri/reference/fragment/text_fragments/index.md
  files/en-us/web/uri/reference/path/index.md
  files/en-us/web/uri/reference/query/index.md
  files/en-us/web/uri/reference/schemes/data/index.md
  files/en-us/web/uri/reference/schemes/javascript/index.md
  files/en-us/web/uri/reference/schemes/resource/index.md
  files/en-us/web/uri/reference/schemes/urn/index.md
Labels: Content:CSS, Content:WebAPI, Content:Other, Content:HTTP, size/m

#40152 HTML best practices
  files/en-us/glossary/csr/index.md
  files/en-us/learn_web_development/core/scripting/a_first_splash/index.md
  files/en-us/learn_web_development/core/scripting/conditionals/index.md
  files/en-us/learn_web_development/core/scripting/debugging_javascript/index.md
  files/en-us/learn_web_development/core/structuring_content/debugging_html/index.md
  files/en-us/learn_web_development/core/styling_basics/cool-looking_box/index.md
  files/en-us/mozilla/add-ons/webextensions/your_second_webextension/index.md
  files/en-us/web/api/htmllinkelement/sheet/index.md
  files/en-us/web/api/node/lookupnamespaceuri/index.md
  files/en-us/web/api/node/parentelement/index.md
  files/en-us/web/api/svgcircleelement/cy/index.md
  files/en-us/web/api/svgcircleelement/r/index.md
  files/en-us/web/api/svgelement/attributestylemap/index.md
  files/en-us/web/api/svgelement/style/index.md
  files/en-us/web/api/svgmarkerelement/viewbox/index.md
  files/en-us/web/api/svgrectelement/ry/index.md
  files/en-us/web/api/webrtc_api/build_a_phone_with_peerjs/setup/index.md
  files/en-us/web/css/_colon_scope/index.md
  files/en-us/web/css/isolation/index.md
  files/en-us/web/css/ray/index.md
  files/en-us/web/css/text-box-trim/index.md
  files/en-us/web/http/guides/csp/index.md
  files/en-us/web/http/reference/methods/delete/index.md
  files/en-us/web/http/reference/status/410/index.md
  files/en-us/web/http/reference/status/429/index.md
  files/en-us/web/http/reference/status/511/index.md
  files/en-us/web/security/attacks/xs-leaks/index.md
Labels: Content:CSS, Content:WebExt, Content:WebAPI, Content:Learn, Content:HTTP, Content:Glossary, Content:Security, size/m

#40138 Update message size limit section
  files/en-us/web/api/webrtc_api/using_data_channels/index.md
Labels: Content:WebAPI, size/s

#40153 Add colorType to canvas; sync canvas context settings
  files/en-us/web/api/canvasrenderingcontext2d/getcontextattributes/index.md
  files/en-us/web/api/canvasrenderingcontext2d/index.md
  files/en-us/web/api/htmlcanvaselement/getcontext/index.md
  files/en-us/web/api/offscreencanvas/getcontext/index.md
  files/en-us/web/api/offscreencanvasrenderingcontext2d/index.md
Labels: Content:WebAPI, size/m

#40109 fix(document.forms): Convert text to warning
  files/en-us/web/api/document/forms/index.md
  files/en-us/web/html/reference/global_attributes/id/index.md
Labels: Content:HTML, Content:WebAPI, size/s

#39917 Add experimental Scrimba skill test embeds to learn area
  files/en-us/learn_web_development/core/css_layout/test_your_skills/flexbox/index.md
  files/en-us/learn_web_development/core/scripting/test_your_skills/arrays/index.md
  files/en-us/learn_web_development/core/scripting/test_your_skills/functions/index.md
  files/en-us/learn_web_development/core/scripting/test_your_skills/variables/index.md
  files/en-us/learn_web_development/core/styling_basics/test_your_skills/box_model/index.md
Labels: Content:Learn, size/m

#40134 add missing country code in the postal code validation example
  files/en-us/web/html/guides/constraint_validation/index.md
Labels: Content:HTML, size/xs

#40170 chore: Move Glitch example into live sample
  files/en-us/web/api/htmlmediaelement/play/index.md
Labels: Content:WebAPI, size/m

#40172 Document XRSession.enabledFeatures
  files/en-us/web/api/xrsession/enabledfeatures/index.md
  files/en-us/web/api/xrsession/index.md
Labels: Content:WebAPI, size/m

#40176 Replace navigation api glitch demo links
  files/en-us/web/api/navigateevent/canintercept/index.md
  files/en-us/web/api/navigateevent/destination/index.md
  files/en-us/web/api/navigateevent/downloadrequest/index.md
  files/en-us/web/api/navigateevent/formdata/index.md
  files/en-us/web/api/navigateevent/hashchange/index.md
  files/en-us/web/api/navigateevent/hasuavisualtransition/index.md
  files/en-us/web/api/navigateevent/index.md
  files/en-us/web/api/navigateevent/info/index.md
  files/en-us/web/api/navigateevent/intercept/index.md
  files/en-us/web/api/navigateevent/navigateevent/index.md
  files/en-us/web/api/navigateevent/navigationtype/index.md
  files/en-us/web/api/navigateevent/scroll/index.md
  files/en-us/web/api/navigateevent/signal/index.md
  files/en-us/web/api/navigateevent/sourceelement/index.md
  files/en-us/web/api/navigateevent/userinitiated/index.md
  files/en-us/web/api/navigation/activation/index.md
  files/en-us/web/api/navigation/back/index.md
  files/en-us/web/api/navigation/cangoback/index.md
  files/en-us/web/api/navigation/cangoforward/index.md
  files/en-us/web/api/navigation/currententry/index.md
  files/en-us/web/api/navigation/currententrychange_event/index.md
  files/en-us/web/api/navigation/entries/index.md
  files/en-us/web/api/navigation/forward/index.md
  files/en-us/web/api/navigation/index.md
  files/en-us/web/api/navigation/navigate/index.md
  files/en-us/web/api/navigation/navigate_event/index.md
  files/en-us/web/api/navigation/navigateerror_event/index.md
  files/en-us/web/api/navigation/navigatesuccess_event/index.md
  files/en-us/web/api/navigation/reload/index.md
  files/en-us/web/api/navigation/transition/index.md
  files/en-us/web/api/navigation/traverseto/index.md
  files/en-us/web/api/navigation/updatecurrententry/index.md
  files/en-us/web/api/navigation_api/index.md
  files/en-us/web/api/navigationcurrententrychangeevent/from/index.md
  files/en-us/web/api/navigationcurrententrychangeevent/index.md
  files/en-us/web/api/navigationcurrententrychangeevent/navigationcurrententrychangeevent/index.md
  files/en-us/web/api/navigationcurrententrychangeevent/navigationtype/index.md
  files/en-us/web/api/navigationdestination/getstate/index.md
  files/en-us/web/api/navigationdestination/id/index.md
  files/en-us/web/api/navigationdestination/index.md
  files/en-us/web/api/navigationdestination/index/index.md
  files/en-us/web/api/navigationdestination/key/index.md
  files/en-us/web/api/navigationdestination/samedocument/index.md
  files/en-us/web/api/navigationdestination/url/index.md
  files/en-us/web/api/navigationhistoryentry/dispose_event/index.md
  files/en-us/web/api/navigationhistoryentry/getstate/index.md
  files/en-us/web/api/navigationhistoryentry/id/index.md
  files/en-us/web/api/navigationhistoryentry/index.md
  files/en-us/web/api/navigationhistoryentry/index/index.md
  files/en-us/web/api/navigationhistoryentry/key/index.md
  files/en-us/web/api/navigationhistoryentry/samedocument/index.md
  files/en-us/web/api/navigationhistoryentry/url/index.md
  files/en-us/web/api/navigationtransition/finished/index.md
  files/en-us/web/api/navigationtransition/from/index.md
  files/en-us/web/api/navigationtransition/index.md
  files/en-us/web/api/navigationtransition/navigationtype/index.md
  files/en-us/web/api/popstateevent/hasuavisualtransition/index.md
  files/en-us/web/api/window/navigation/index.md
Labels: Content:WebAPI, size/m

#40179 Modernize CSS: consistently use rgb/hsl instead of rgba/hsla
  files/en-us/web/css/attr/index.md
  files/en-us/web/css/color/index.md
  files/en-us/web/css/css_masking/masking/index.md
Labels: Content:CSS, size/s

#40185 chore: remove Screen Wake Lock API Glitch link
  files/en-us/web/api/screen_wake_lock_api/index.md
Labels: Content:WebAPI, size/xs

#40186 Remove stream visualizer glitch demo links
  files/en-us/web/api/readablebytestreamcontroller/index.md
  files/en-us/web/api/readablestream/index.md
  files/en-us/web/api/readablestreambyobreader/index.md
  files/en-us/web/api/readablestreamdefaultcontroller/index.md
  files/en-us/web/api/readablestreamdefaultreader/index.md
  files/en-us/web/api/transformstream/index.md
  files/en-us/web/api/writablestream/index.md
Labels: Content:WebAPI, size/s

#40190 Document URLPattern.hasRegExpGroups
  files/en-us/web/api/installevent/addroutes/index.md
  files/en-us/web/api/url_pattern_api/index.md
  files/en-us/web/api/urlpattern/hasregexpgroups/index.md
  files/en-us/web/api/urlpattern/index.md
  files/en-us/web/http/reference/headers/use-as-dictionary/index.md
Labels: Content:WebAPI, Content:HTTP, size/m

#40091 Editorial review: Update information on the Webauthn hints option
  files/en-us/web/api/publickeycredentialcreationoptions/index.md
  files/en-us/web/api/publickeycredentialrequestoptions/index.md
Labels: Content:WebAPI, size/s, size/m

#39962 New guide: Mask properties
  files/en-us/web/css/css_masking/index.md
  files/en-us/web/css/css_masking/mask_properties/index.md
  files/en-us/web/css/css_masking/masking/index.md
Labels: Content:CSS, size/l

#40198 replace contact picker API glitch links
  files/en-us/web/api/contact_picker_api/index.md
  files/en-us/web/api/contactsmanager/index.md
  files/en-us/web/api/navigator/contacts/index.md
Labels: Content:WebAPI, size/s

#40208 Replace worker playground glitch links
  files/en-us/web/api/web_workers_api/functions_and_classes_available_to_workers/index.md
  files/en-us/web/api/web_workers_api/using_web_workers/index.md
Labels: Content:WebAPI, size/xs

#40204 Replace Local Font Access API demo glitch links
  files/en-us/web/api/fontdata/index.md
  files/en-us/web/api/local_font_access_api/index.md
  files/en-us/web/api/window/querylocalfonts/index.md
Labels: Content:WebAPI, size/s

#40205 Fix content issues
  files/en-us/learn_web_development/core/css_layout/test_your_skills/flexbox/flex-task3.png
  files/en-us/learn_web_development/core/frameworks_libraries/ember_getting_started/index.md
  files/en-us/learn_web_development/extensions/testing/your_own_automation_environment/index.md
  files/en-us/learn_web_development/getting_started/your_first_website/adding_interactivity/index.md
  files/en-us/web/api/console/assert_static/index.md
  files/en-us/web/api/console/clear_static/index.md
  files/en-us/web/api/console/count_static/index.md
  files/en-us/web/api/console/countreset_static/index.md
  files/en-us/web/api/console/debug_static/index.md
  files/en-us/web/api/console/dir_static/index.md
  files/en-us/web/api/console/dirxml_static/index.md
  files/en-us/web/api/console/error_static/index.md
  files/en-us/web/api/console/group_static/index.md
  files/en-us/web/api/console/groupcollapsed_static/index.md
  files/en-us/web/api/console/groupend_static/index.md
  files/en-us/web/api/console/info_static/index.md
  files/en-us/web/api/console/log_static/index.md
  files/en-us/web/api/console/table_static/index.md
  files/en-us/web/api/console/time_static/index.md
  files/en-us/web/api/console/timeend_static/index.md
  files/en-us/web/api/console/trace_static/index.md
  files/en-us/web/api/console/warn_static/index.md
  files/en-us/web/api/delegatedinktrailpresenter/expectedimprovement/index.md
  files/en-us/web/api/delegatedinktrailpresenter/index.md
  files/en-us/web/api/delegatedinktrailpresenter/presentationarea/index.md
  files/en-us/web/api/delegatedinktrailpresenter/updateinktrailstartpoint/index.md
  files/en-us/web/api/element/setattribute/index.md
  files/en-us/web/api/ink/index.md
  files/en-us/web/api/ink/requestpresenter/index.md
  files/en-us/web/api/ink_api/index.md
  files/en-us/web/api/navigator/ink/index.md
  files/en-us/web/api/service_worker_api/using_service_workers/index.md
  files/en-us/web/api/urlpattern/hasregexpgroups/index.md
  files/en-us/web/api/websockets_api/using_websocketstream/index.md
  files/en-us/web/css/css_backgrounds_and_borders/using_multiple_backgrounds/index.md
  files/en-us/web/css/if/index.md
  files/en-us/web/css/position-area/index.md
  files/en-us/web/http/reference/headers/refresh/index.md
  files/en-us/web/index.md
  files/en-us/web/javascript/guide/introduction/index.md
Labels: Content:CSS, Content:WebAPI, Content:JS, Content:Learn, Content:HTTP, size/m

#40211 Update file system API glitch demo links
  files/en-us/web/api/filesystemfilehandle/createsyncaccesshandle/index.md
  files/en-us/web/api/filesystemfilehandle/createwritable/index.md
  files/en-us/web/api/filesystemhandle/remove/index.md
  files/en-us/web/api/filesystemobserver/filesystemobserver/index.md
  files/en-us/web/api/filesystemobserver/index.md
Labels: Content:WebAPI, size/s

#40216 CSS best practice: always specify generic font family as fallback
  files/en-us/learn_web_development/extensions/performance/css/index.md
  files/en-us/web/api/cssfontpalettevaluesrule/basepalette/index.md
  files/en-us/web/api/cssfontpalettevaluesrule/overridecolors/index.md
  files/en-us/web/api/element/requestfullscreen/index.md
  files/en-us/web/api/mediastream_recording_api/using_the_mediastream_recording_api/index.md
  files/en-us/web/css/@font-face/font-feature-settings/index.md
  files/en-us/web/css/@font-face/src/index.md
  files/en-us/web/css/@font-palette-values/base-palette/index.md
  files/en-us/web/css/@font-palette-values/font-family/index.md
  files/en-us/web/css/@font-palette-values/index.md
  files/en-us/web/css/@font-palette-values/override-colors/index.md
  files/en-us/web/css/@supports/index.md
  files/en-us/web/css/_colon_-moz-drag-over/index.md
  files/en-us/web/css/css_colors/color_values/index.md
  files/en-us/web/css/css_fonts/variable_fonts_guide/index.md
  files/en-us/web/css/font-feature-settings/index.md
  files/en-us/web/css/font-optical-sizing/index.md
  files/en-us/web/css/font-palette/index.md
  files/en-us/web/css/font-palette/palette-mix/index.md
  files/en-us/web/css/font-size-adjust/index.md
  files/en-us/web/css/font-stretch/index.md
  files/en-us/web/css/font-style/index.md
  files/en-us/web/css/font-synthesis/index.md
  files/en-us/web/css/font-variant-alternates/index.md
  files/en-us/web/css/font-variant-east-asian/index.md
  files/en-us/web/css/font-variant-numeric/index.md
  files/en-us/web/css/font-variation-settings/index.md
  files/en-us/web/css/font/index.md
  files/en-us/web/css/letter-spacing/index.md
  files/en-us/web/css/page/index.md
  files/en-us/web/css/position/index.md
  files/en-us/web/css/selector_list/index.md
  files/en-us/web/css/word-spacing/index.md
  files/en-us/web/html/reference/elements/caption/index.md
  files/en-us/web/html/reference/elements/input/index.md
  files/en-us/web/mathml/tutorials/for_beginners/fractions_and_roots/index.md
  files/en-us/web/mathml/tutorials/for_beginners/text_containers/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:Learn, Content:MathML, size/m

#40220 spelling: diction -> dictionary
  files/en-us/web/http/guides/compression_dictionary_transport/index.md
Labels: Content:HTTP, size/xs

#40081 Editorial review: Add information on missing MP4/HEVC codec parameter values
  files/en-us/web/media/guides/formats/codecs_parameter/index.md
Labels: Content:Media, size/s

#40218 doc[http/guides/authentication/index.md]: Removed outdated description about firefox
  files/en-us/web/http/guides/authentication/index.md
Labels: Content:HTTP, size/s, size/xs

#40231 Fix typo: Missing curly brace in `{domxref`
  files/en-us/web/html/reference/global_attributes/id/index.md
Labels: Content:HTML, size/xs

#40217 fix: set the condition descriptions to `ul` format
  files/en-us/web/css/css_cascade/value_processing/index.md
Labels: Content:CSS, size/xs

#40235 Handle a couple more glitch mentions
  files/en-us/mozilla/add-ons/webextensions/manifest.json/web_accessible_resources/index.md
  files/en-us/web/api/window_management_api/index.md
Labels: Content:WebExt, Content:WebAPI, size/s

#40234 Handle various Chrome demo glitch links
  files/en-us/web/api/background_fetch_api/index.md
  files/en-us/web/api/mediadevices/getdisplaymedia/index.md
  files/en-us/web/api/otpcredential/code/index.md
  files/en-us/web/api/otpcredential/index.md
  files/en-us/web/api/screen_capture_api/element_region_capture/index.md
  files/en-us/web/api/webotp_api/index.md
Labels: Content:WebAPI, size/s

#40212 Synchronize with BCD v6.0.29
  files/en-us/web/api/gpuadapter/index.md
  files/en-us/web/api/imagedata/index.md
  files/en-us/web/api/imagedata/pixelformat/index.md
  files/en-us/web/api/intersection_observer_api/index.md
  files/en-us/web/api/intersectionobserver/delay/index.md
  files/en-us/web/api/intersectionobserver/index.md
  files/en-us/web/api/intersectionobserver/trackvisibility/index.md
  files/en-us/web/api/publickeycredentialrequestoptions/index.md
  files/en-us/web/svg/reference/attribute/fetchpriority/index.md
Labels: Content:WebAPI, Content:SVG, size/s

#40241 correct buffer types for Descriptor and Characteristic
  files/en-us/web/api/bluetoothremotegattcharacteristic/readvalue/index.md
  files/en-us/web/api/bluetoothremotegattcharacteristic/writevalue/index.md
  files/en-us/web/api/bluetoothremotegattcharacteristic/writevaluewithoutresponse/index.md
  files/en-us/web/api/bluetoothremotegattcharacteristic/writevaluewithresponse/index.md
  files/en-us/web/api/bluetoothremotegattdescriptor/readvalue/index.md
  files/en-us/web/api/bluetoothremotegattdescriptor/value/index.md
  files/en-us/web/api/bluetoothremotegattdescriptor/writevalue/index.md
Labels: Content:WebAPI, size/s

#40236 chore: Point to dom-examples webxr demo
  files/en-us/web/api/webxr_device_api/movement_and_motion/index.md
Labels: Content:WebAPI, size/s

#40246 Fix all broken anchors in FF release notes
  files/en-us/mozilla/firefox/releases/10/index.md
  files/en-us/mozilla/firefox/releases/107/index.md
  files/en-us/mozilla/firefox/releases/109/index.md
  files/en-us/mozilla/firefox/releases/11/index.md
  files/en-us/mozilla/firefox/releases/111/index.md
  files/en-us/mozilla/firefox/releases/125/index.md
  files/en-us/mozilla/firefox/releases/128/index.md
  files/en-us/mozilla/firefox/releases/13/index.md
  files/en-us/mozilla/firefox/releases/132/index.md
  files/en-us/mozilla/firefox/releases/14/index.md
  files/en-us/mozilla/firefox/releases/15/index.md
  files/en-us/mozilla/firefox/releases/18/index.md
  files/en-us/mozilla/firefox/releases/21/index.md
  files/en-us/mozilla/firefox/releases/23/index.md
  files/en-us/mozilla/firefox/releases/25/index.md
  files/en-us/mozilla/firefox/releases/3.5/index.md
  files/en-us/mozilla/firefox/releases/3.6/index.md
  files/en-us/mozilla/firefox/releases/3/wai_aria_live_regions_api_support/index.md
  files/en-us/mozilla/firefox/releases/30/index.md
  files/en-us/mozilla/firefox/releases/37/index.md
  files/en-us/mozilla/firefox/releases/4/index.md
  files/en-us/mozilla/firefox/releases/40/index.md
  files/en-us/mozilla/firefox/releases/41/index.md
  files/en-us/mozilla/firefox/releases/42/index.md
  files/en-us/mozilla/firefox/releases/43/index.md
  files/en-us/mozilla/firefox/releases/44/index.md
  files/en-us/mozilla/firefox/releases/46/index.md
  files/en-us/mozilla/firefox/releases/49/index.md
  files/en-us/mozilla/firefox/releases/5/index.md
  files/en-us/mozilla/firefox/releases/5/updating_add-ons/index.md
  files/en-us/mozilla/firefox/releases/52/index.md
  files/en-us/mozilla/firefox/releases/53/index.md
  files/en-us/mozilla/firefox/releases/55/index.md
  files/en-us/mozilla/firefox/releases/56/index.md
  files/en-us/mozilla/firefox/releases/57/index.md
  files/en-us/mozilla/firefox/releases/58/index.md
  files/en-us/mozilla/firefox/releases/59/index.md
  files/en-us/mozilla/firefox/releases/60/index.md
  files/en-us/mozilla/firefox/releases/62/index.md
  files/en-us/mozilla/firefox/releases/63/index.md
  files/en-us/mozilla/firefox/releases/65/index.md
  files/en-us/mozilla/firefox/releases/67/index.md
  files/en-us/mozilla/firefox/releases/69/index.md
  files/en-us/mozilla/firefox/releases/7/index.md
  files/en-us/mozilla/firefox/releases/8/index.md
  files/en-us/mozilla/firefox/releases/9/index.md
  files/en-us/mozilla/firefox/releases/9/updating_add-ons/index.md
  files/en-us/mozilla/firefox/releases/90/index.md
Labels: Content:Firefox, size/m

#40258 chore: add /web sidebar, remove Quick_links
  files/en-us/web/index.md
  files/sidebars/web.yaml
Labels: size/s

#40253 Translate `ja` keywords in `htmlsidebar.yaml`
  files/sidebars/htmlsidebar.yaml
Labels: size/xs

#40175 Browsers downsize the first fitting image in srcset
  files/en-us/web/html/guides/responsive_images/index.md
Labels: Content:HTML, size/xs

#40265 Fix <pre> typo
  files/en-us/web/html/reference/elements/pre/index.md
Labels: Content:HTML, size/xs

#40249 Avoid duplicate code in interactive example
  files/en-us/web/javascript/reference/operators/grouping/index.md
Labels: Content:JS, size/xs

#40272 3rd set of JS active learning updates
  files/en-us/learn_web_development/core/scripting/build_your_own_function/index.md
  files/en-us/learn_web_development/core/scripting/dom_scripting/index.md
  files/en-us/learn_web_development/core/scripting/dom_scripting/shopping-list.png
  files/en-us/learn_web_development/core/scripting/events/index.md
  files/en-us/learn_web_development/core/scripting/functions/index.md
  files/en-us/learn_web_development/core/scripting/json/index.md
  files/en-us/learn_web_development/core/scripting/return_values/index.md
  files/en-us/learn_web_development/howto/solve_javascript_problems/index.md
Labels: Content:Learn, size/m

#40278 Document MediaSession.setScreenshareActive
  files/en-us/web/api/mediasession/index.md
  files/en-us/web/api/mediasession/setactionhandler/index.md
  files/en-us/web/api/mediasession/setscreenshareactive/index.md
Labels: Content:WebAPI, size/m

#40276 4th set of JS active learning updates
  files/en-us/learn_web_development/core/scripting/test_your_skills/arrays/index.md
  files/en-us/learn_web_development/core/scripting/test_your_skills/conditionals/index.md
  files/en-us/learn_web_development/core/scripting/test_your_skills/events/index.md
Labels: Content:Learn, size/l

#40288 Fix content issues
  files/en-us/learn_web_development/core/scripting/arrays/index.md
  files/en-us/learn_web_development/core/scripting/loops/index.md
  files/en-us/mozilla/add-ons/webextensions/modify_a_web_page/index.md
  files/en-us/mozilla/firefox/releases/1.5/changing_the_priority_of_http_requests/index.md
  files/en-us/mozilla/firefox/releases/1.5/index.md
  files/en-us/mozilla/firefox/releases/1.5/what_s_new_in_1.5_alpha/index.md
  files/en-us/mozilla/firefox/releases/10/index.md
  files/en-us/mozilla/firefox/releases/100/index.md
  files/en-us/mozilla/firefox/releases/11/index.md
  files/en-us/mozilla/firefox/releases/113/index.md
  files/en-us/mozilla/firefox/releases/13/index.md
  files/en-us/mozilla/firefox/releases/21/index.md
  files/en-us/mozilla/firefox/releases/3.5/index.md
  files/en-us/mozilla/firefox/releases/3/dom_improvements/index.md
  files/en-us/mozilla/firefox/releases/3/site_compatibility/index.md
  files/en-us/mozilla/firefox/releases/31/index.md
  files/en-us/mozilla/firefox/releases/32/index.md
  files/en-us/mozilla/firefox/releases/34/index.md
  files/en-us/mozilla/firefox/releases/38/index.md
  files/en-us/mozilla/firefox/releases/4/index.md
  files/en-us/mozilla/firefox/releases/42/index.md
  files/en-us/mozilla/firefox/releases/44/index.md
  files/en-us/mozilla/firefox/releases/45/index.md
  files/en-us/mozilla/firefox/releases/48/index.md
  files/en-us/mozilla/firefox/releases/49/index.md
  files/en-us/mozilla/firefox/releases/5/index.md
  files/en-us/mozilla/firefox/releases/51/index.md
  files/en-us/mozilla/firefox/releases/52/index.md
  files/en-us/mozilla/firefox/releases/53/index.md
  files/en-us/mozilla/firefox/releases/55/index.md
  files/en-us/mozilla/firefox/releases/6/index.md
  files/en-us/mozilla/firefox/releases/62/index.md
  files/en-us/mozilla/firefox/releases/69/index.md
  files/en-us/mozilla/firefox/releases/91/index.md
  files/en-us/web/api/htmlvideoelement/requestvideoframecallback/index.md
  files/en-us/web/api/keyboardevent/charcode/index.md
  files/en-us/web/api/svgrenderingintent/index.md
  files/en-us/web/api/web_animations_api/using_the_web_animations_api/index.md
  files/en-us/web/api/webvtt_api/web_video_text_tracks_format/index.md
  files/en-us/web/css/css_values_and_units/numeric_data_types/index.md
  files/en-us/web/css/marker/index.md
  files/en-us/web/html/reference/attributes/index.md
  files/en-us/web/html/reference/attributes/max/index.md
  files/en-us/web/svg/reference/attribute/baseline-shift/index.md
  files/en-us/web/svg/reference/attribute/direction/index.md
  files/en-us/web/svg/reference/attribute/index.md
  files/en-us/web/svg/reference/attribute/markerunits/index.md
Labels: Content:CSS, Content:HTML, Content:WebExt, Content:WebAPI, Content:Learn, Content:SVG, Content:Firefox, size/m

#40123 doc: remove CORB section
  files/en-us/web/http/guides/cross-origin_resource_policy/index.md
  files/en-us/web/http/reference/headers/x-content-type-options/index.md
Labels: Content:HTTP, size/s

#40302 fix: multiple repeated words
  files/en-us/web/api/mediatracksettings/screenpixelratio/index.md
  files/en-us/web/css/if/index.md
Labels: Content:CSS, Content:WebAPI, size/xs

#40287 Fix example in `String#replaceAll` to show advantage of `RegExp.escape` vs string arg
  files/en-us/web/javascript/reference/global_objects/string/replaceall/index.md
Labels: Content:JS, size/s

#40314 Remove -moz-image-region documentation
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/css/-moz-image-rect/index.md
  files/en-us/web/css/-moz-image-region/index.md
  files/en-us/web/css/mozilla_extensions/index.md
  files/en-us/web/css/properties/index.md
Labels: Content:CSS, size/m

#40309 6th set of JS active learning updates
  files/en-us/learn_web_development/core/scripting/test_your_skills/object_basics/index.md
  files/en-us/learn_web_development/core/scripting/test_your_skills/strings/index.md
  files/en-us/learn_web_development/core/scripting/test_your_skills/variables/index.md
Labels: Content:Learn, size/l

#40315 Internalize "The verbosity of DOM changes" example
  files/en-us/learn_web_development/core/frameworks_libraries/introduction/index.md
Labels: Content:Learn, size/m

#40328 Synchronize with BCD v6.0.31
  files/en-us/web/api/attribution_reporting_api/generating_reports/index.md
  files/en-us/web/api/attribution_reporting_api/registering_sources/index.md
  files/en-us/web/api/attribution_reporting_api/registering_triggers/index.md
  files/en-us/web/api/document_picture-in-picture_api/using/index.md
  files/en-us/web/api/mediasession/index.md
  files/en-us/web/api/mediasession/setscreenshareactive/index.md
  files/en-us/web/api/vrlayerinit/index.md
  files/en-us/web/api/vrlayerinit/leftbounds/index.md
  files/en-us/web/api/vrlayerinit/rightbounds/index.md
  files/en-us/web/api/vrlayerinit/source/index.md
  files/en-us/web/api/webvr_api/concepts/index.md
  files/en-us/web/api/webvr_api/using_the_webvr_api/index.md
  files/en-us/web/api/webxr_device_api/inputs/index.md
  files/en-us/web/api/webxr_device_api/startup_and_shutdown/index.md
  files/en-us/web/svg/reference/attribute/kernelunitlength/index.md
  files/en-us/web/svg/reference/attribute/method/index.md
  files/en-us/web/svg/reference/element/view/index.md
Labels: Content:WebAPI, Content:SVG, size/s

#40330 fix: wording 'assigned .. in' -> 'assigned .. to'
  files/en-us/glossary/first-class_function/index.md
Labels: Content:Glossary, size/xs

#40342 Remove incorrect usage of "declarative" in Popover_API index.md
  files/en-us/web/api/popover_api/index.md
Labels: Content:WebAPI, size/s

#40307 List Translator and Language Detector APIs restricted to secure contexts
  files/en-us/web/api/createmonitor/downloadprogress_event/index.md
  files/en-us/web/api/createmonitor/index.md
  files/en-us/web/api/languagedetector/availability_static/index.md
  files/en-us/web/api/languagedetector/create_static/index.md
  files/en-us/web/api/languagedetector/destroy/index.md
  files/en-us/web/api/languagedetector/detect/index.md
  files/en-us/web/api/languagedetector/expectedinputlanguages/index.md
  files/en-us/web/api/languagedetector/index.md
  files/en-us/web/api/languagedetector/inputquota/index.md
  files/en-us/web/api/languagedetector/measureinputusage/index.md
  files/en-us/web/api/summarizer/availability_static/index.md
  files/en-us/web/api/summarizer/create_static/index.md
  files/en-us/web/api/summarizer/destroy/index.md
  files/en-us/web/api/summarizer/expectedcontextlanguages/index.md
  files/en-us/web/api/summarizer/expectedinputlanguages/index.md
  files/en-us/web/api/summarizer/format/index.md
  files/en-us/web/api/summarizer/index.md
  files/en-us/web/api/summarizer/inputquota/index.md
  files/en-us/web/api/summarizer/length/index.md
  files/en-us/web/api/summarizer/measureinputusage/index.md
  files/en-us/web/api/summarizer/outputlanguage/index.md
  files/en-us/web/api/summarizer/sharedcontext/index.md
  files/en-us/web/api/summarizer/summarize/index.md
  files/en-us/web/api/summarizer/summarizestreaming/index.md
  files/en-us/web/api/summarizer/type/index.md
  files/en-us/web/api/translator/availability_static/index.md
  files/en-us/web/api/translator/create_static/index.md
  files/en-us/web/api/translator/destroy/index.md
  files/en-us/web/api/translator/index.md
  files/en-us/web/api/translator/inputquota/index.md
  files/en-us/web/api/translator/measureinputusage/index.md
  files/en-us/web/api/translator/sourcelanguage/index.md
  files/en-us/web/api/translator/targetlanguage/index.md
  files/en-us/web/api/translator/translate/index.md
  files/en-us/web/api/translator/translatestreaming/index.md
  files/en-us/web/api/translator_and_language_detector_apis/index.md
  files/en-us/web/security/secure_contexts/features_restricted_to_secure_contexts/index.md
Labels: Content:WebAPI, Content:Security, size/m

#40268 doc[glossary/site/index.md]: Improve wording for same-site example
  files/en-us/glossary/site/index.md
Labels: Content:Glossary, size/xs

#40345 Fix incorrect terminology in URL.hostname description
  files/en-us/web/api/url/hostname/index.md
Labels: Content:WebAPI, size/xs

#40344 Remove a codepen link about testing support
  files/en-us/web/api/document/evaluate/index.md
Labels: Content:WebAPI, size/xs

#40350 Remove unnecessary LiveSampleLink macros
  files/en-us/learn_web_development/core/css_layout/flexbox/index.md
  files/en-us/learn_web_development/extensions/forms/form_validation/index.md
  files/en-us/web/api/datatransferitemlist/add/index.md
  files/en-us/web/api/media_capture_and_streams_api/constraints/index.md
  files/en-us/web/api/mediastream_recording_api/recording_a_media_element/index.md
Labels: Content:WebAPI, Content:Learn, size/s

#40336 Internalize DataTransfer codepen example
  files/en-us/web/api/datatransfer/addelement/index.md
  files/en-us/web/api/datatransfer/cleardata/index.md
  files/en-us/web/api/datatransfer/dropeffect/index.md
  files/en-us/web/api/datatransfer/effectallowed/index.md
  files/en-us/web/api/datatransfer/getdata/index.md
  files/en-us/web/api/datatransfer/index.md
  files/en-us/web/api/datatransfer/items/index.md
  files/en-us/web/api/datatransfer/setdata/index.md
  files/en-us/web/api/datatransfer/setdragimage/index.md
  files/en-us/web/api/datatransfer/types/index.md
  files/en-us/web/api/datatransferitem/kind/index.md
  files/en-us/web/api/dragevent/index.md
Labels: Content:WebAPI, size/m

#40334 Remove JSFiddle links in Audio for Web games
  files/en-us/games/techniques/audio_for_web_games/index.md
Labels: Content:Games, size/m

#40359 Fix content issues
  files/en-us/web/css/filter-function/hue-rotate/index.md
  files/en-us/web/css/offset-path/index.md
  files/en-us/web/http/reference/headers/permissions-policy/captured-surface-control/index.md
  files/en-us/webassembly/reference/control_flow/br/index.md
  files/en-us/webassembly/reference/control_flow/index.md
Labels: Content:CSS, Content:HTTP, Content:wasm, size/s

#40317 Internalize MediaStream recording example
  files/en-us/web/api/mediastream_recording_api/index.md
Labels: Content:WebAPI, size/m

#40354 Fix scroll-state queries snapped ambiguity
  files/en-us/web/css/@container/index.md
  files/en-us/web/css/container-type/index.md
  files/en-us/web/css/css_conditional_rules/container_scroll-state_queries/index.md
Labels: Content:CSS, size/s

#40351 Bug 1976197 Reject invalid cookies in the webExt cookie API in nightly only
  files/en-us/mozilla/firefox/releases/142/index.md
Labels: Content:Firefox, size/xs

#40304 5th set of JS active learning updates
  files/en-us/learn_web_development/core/scripting/test_your_skills/functions/index.md
  files/en-us/learn_web_development/core/scripting/test_your_skills/json/index.md
  files/en-us/learn_web_development/core/scripting/test_your_skills/loops/index.md
  files/en-us/learn_web_development/core/scripting/test_your_skills/math/index.md
Labels: Content:Learn, size/l

#40340 Docs: Fix description of Promise.all API and behaviour
  files/en-us/web/javascript/guide/using_promises/index.md
Labels: Content:JS, size/xs

#40370 feat: move Quick_Links into front matter
  files/en-us/related/imsc/basics/index.md
  files/en-us/related/imsc/imsc_and_other_standards/index.md
  files/en-us/related/imsc/index.md
  files/en-us/related/imsc/mapping_video_time_codes_to_imsc/index.md
  files/en-us/related/imsc/namespaces/index.md
  files/en-us/related/imsc/styling/index.md
  files/en-us/related/imsc/subtitle_placement/index.md
  files/en-us/related/imsc/timing_in_imsc/index.md
  files/en-us/related/imsc/using_the_imscjs_polyfill/index.md
  files/en-us/related/index.md
  files/en-us/web/events/creating_and_triggering_events/index.md
  files/en-us/web/events/event_handlers/index.md
  files/en-us/web/events/index.md
  files/sidebars/events.yaml
  files/sidebars/related.yaml
Labels: Content:Other, Content:Events, size/m

#40335 Replace all JSBin links in audio/video delivery section
  files/en-us/web/media/guides/audio_and_video_delivery/buffering_seeking_time_ranges/bufferedprogress.png
  files/en-us/web/media/guides/audio_and_video_delivery/buffering_seeking_time_ranges/bufferedtimeranges.png
  files/en-us/web/media/guides/audio_and_video_delivery/buffering_seeking_time_ranges/index.md
  files/en-us/web/media/guides/audio_and_video_delivery/index.md
  files/en-us/web/media/guides/audio_and_video_delivery/webaudio_playbackrate_explained/index.md
Labels: Content:Media, size/m

#40357 Editorial review: Add speculationrules request.destination
  files/en-us/web/api/request/destination/index.md
  files/en-us/web/http/reference/headers/speculation-rules/index.md
Labels: Content:WebAPI, Content:HTTP, size/s

#40380 Add default behavior documentation for Set-Cookie Path attribute
  files/en-us/web/http/reference/headers/set-cookie/index.md
Labels: Content:HTTP, size/xs

#40384 Synchronize with BCD v6.0.32
  files/en-us/web/api/identitycredentialrequestoptions/index.md
  files/en-us/web/api/storage_access_api/related_website_sets/index.md
Labels: Content:WebAPI, size/s

#40184 feat: Improvements to HOL blocking article
  files/en-us/glossary/head_of_line_blocking/index.md
  files/en-us/glossary/tcp_slow_start/index.md
Labels: Content:Glossary, size/s

#40369 Glossary idempotent
  files/en-us/glossary/idempotent/index.md
Labels: Content:Glossary, size/s

#38535 Combobox role now works with button element
  files/en-us/web/accessibility/aria/reference/roles/combobox_role/index.md
Labels: Content:Accessibility, size/s

#40375 Update Firefox 141 release notes for WebDriver conforming changes
  files/en-us/mozilla/firefox/releases/141/index.md
Labels: Content:Firefox, size/s

#40392 WebXR Input: Switch on source handedness
  files/en-us/web/api/webxr_device_api/inputs/index.md
Labels: Content:WebAPI, size/xs

#40397 Mention shared memory in using web workers
  files/en-us/web/api/web_workers_api/using_web_workers/index.md
Labels: Content:WebAPI, size/m

#40395 fix(ci): add GITHUB_TOKEN env for `rari` related commands
  .github/workflows/auto-cleanup-bot.yml
  .github/workflows/pr-check_redirects.yml
Labels: system, size/s

#40401 201 response clarification
  files/en-us/web/http/reference/status/201/index.md
Labels: Content:HTTP, size/xs

#40407 Remove security.mixed_content.block_object_subrequest from experimental Firefox features
  files/en-us/mozilla/firefox/experimental_features/index.md
Labels: Content:Firefox, size/s

#40409 chore: move EmbedGH live sample into the page
  files/en-us/web/api/mediaerror/message/index.md
Labels: Content:WebAPI, size/m

#40419 chore: fix the format of DFL
  files/en-us/web/api/csslayerblockrule/index.md
Labels: Content:WebAPI, size/xs

#40418 Make CSS attr types definition list items
  files/en-us/web/css/attr/index.md
Labels: Content:CSS, size/m

#40432 Remove unsupported contact method
  files/en-us/mozilla/add-ons/contact_us/index.md
Labels: Content:Other, size/xs

#40437 fix: method name corrected `FetchLater` -> `fetchLater`
  files/en-us/web/api/fetchlaterresult/index.md
Labels: Content:WebAPI, size/xs

#40436 Synchronize with BCD v6.0.33
  files/en-us/web/api/request/destination/index.md
Labels: Content:WebAPI, size/xs

#40440 Remove broken links, fix content issues
  files/en-us/games/index.md
  files/en-us/games/techniques/control_mechanisms/other/index.md
  files/en-us/learn_web_development/core/scripting/loops/index.md
  files/en-us/learn_web_development/extensions/testing/testing_strategies/index.md
  files/en-us/learn_web_development/howto/tools_and_setup/available_text_editors/index.md
  files/en-us/learn_web_development/howto/tools_and_setup/what_software_do_i_need/index.md
  files/en-us/web/accessibility/guides/accessibility_and_spatial_patterns/index.md
  files/en-us/web/accessibility/guides/colors_and_luminance/index.md
  files/en-us/web/accessibility/guides/seizure_disorders/index.md
  files/en-us/web/api/media_capture_and_streams_api/taking_still_photos/index.md
  files/en-us/web/api/web_workers_api/using_web_workers/index.md
  files/en-us/web/api/webtransport_api/index.md
  files/en-us/web/css/css_images/using_css_gradients/index.md
  files/en-us/web/javascript/guide/introduction/index.md
  files/en-us/web/javascript/guide/keyed_collections/index.md
  files/en-us/web/javascript/reference/global_objects/error/stack/index.md
  files/en-us/web/javascript/reference/global_objects/proxy/index.md
  files/en-us/web/javascript/reference/global_objects/weakmap/index.md
  files/en-us/web/javascript/reference/global_objects/weakmap/weakmap/index.md
  files/en-us/web/xml/xslt/guides/transforming_xml_with_xslt/index.md
Labels: Content:CSS, Content:WebAPI, Content:JS, Content:Learn, Content:Other, Content:Accessibility, Content:Games, size/m

#40415 Update Firefox storage access heuristic definitions to match Firefox 141
  files/en-us/web/privacy/guides/state_partitioning/index.md
  files/en-us/web/privacy/guides/storage_access_policy/index.md
Labels: Content:Other, size/s

#40412 added releease note for Firefox for font-variant-emoji
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/141/index.md
Labels: Content:Firefox, size/s

#39893 webextension.api.webNavigation event Chrome only properties
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/oncommitted/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/oncompleted/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/ondomcontentloaded/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/onerroroccurred/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/onhistorystateupdated/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/onreferencefragmentupdated/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/ontabreplaced/index.md
Labels: Content:WebExt, size/s

#40461 Typos in listing of the safe methods in Santiizer
  files/en-us/web/api/sanitizer/index.md
Labels: Content:WebAPI, size/s

#40065 Clarify script-closable conditions for Window.close() (Fixes #39154)
  files/en-us/web/api/window/close/index.md
Labels: Content:WebAPI, size/s

#40414 Update CHIPS as non-chromium only and outline Firefox behavior
  files/en-us/web/privacy/guides/privacy_sandbox/partitioned_cookies/index.md
  files/en-us/web/privacy/guides/third-party_cookies/index.md
Labels: Content:Other, size/s

#40430 New module: CSS custom highlight API
  files/en-us/web/api/css/highlights_static/index.md
  files/en-us/web/api/css_custom_highlight_api/index.md
  files/en-us/web/api/highlight/highlight/index.md
  files/en-us/web/api/highlight/index.md
  files/en-us/web/api/highlight/type/index.md
  files/en-us/web/api/highlightregistry/index.md
  files/en-us/web/api/highlightregistry/set/index.md
  files/en-us/web/api/range/range/index.md
  files/en-us/web/css/_doublecolon_highlight/index.md
  files/en-us/web/css/css_custom_highlight_api/index.md
Labels: Content:CSS, Content:WebAPI, size/m

#40457 Mention certain ArrayBuffers have controlled detachment
  files/en-us/web/api/gpubuffer/getmappedrange/index.md
  files/en-us/web/javascript/reference/global_objects/arraybuffer/transfer/index.md
  files/en-us/web/javascript/reference/global_objects/arraybuffer/transfertofixedlength/index.md
Labels: Content:WebAPI, Content:JS, size/s

#40471 Fix SanitizerConfig API typo
  files/en-us/web/api/sanitizerconfig/index.md
Labels: Content:WebAPI, size/s

#40468 Add note on CSP sandbox causing to iframe sandbox section
  files/en-us/web/http/reference/headers/origin/index.md
Labels: Content:HTTP, size/xs

#40487 Improve description of "broadcastchannel-message" bfcache blocking reason
  files/en-us/web/api/performance_api/monitoring_bfcache_blocking_reasons/index.md
Labels: Content:WebAPI, size/xs

#40486 Fix typos
  .vscode/dictionaries/code-entities.txt
  .vscode/dictionaries/proper-names.txt
  files/en-us/learn_web_development/core/accessibility/test_your_skills/html/index.md
  files/en-us/learn_web_development/core/accessibility/test_your_skills/wai-aria/index.md
  files/en-us/mozilla/firefox/releases/141/index.md
  files/en-us/web/api/baseaudiocontext/state/index.md
  files/en-us/web/api/mediastream_recording_api/index.md
  files/en-us/web/api/screen_capture_api/captured_surface_control/index.md
  files/en-us/web/api/web_workers_api/using_web_workers/index.md
  files/en-us/web/css/css_custom_highlight_api/index.md
  files/en-us/web/javascript/reference/global_objects/string/replaceall/index.md
Labels: Content:CSS, Content:WebAPI, Content:JS, Content:Learn, Content:Firefox, system, size/s

#40498 relnote(Fx141): Add Intl.Locale.prototype.variants
  files/en-us/mozilla/firefox/releases/141/index.md
Labels: Content:Firefox, size/s

#40497 Reference for new Intl.Locale.p.variants
  files/en-us/web/javascript/guide/internationalization/index.md
  files/en-us/web/javascript/reference/global_objects/intl/locale/basename/index.md
  files/en-us/web/javascript/reference/global_objects/intl/locale/calendar/index.md
  files/en-us/web/javascript/reference/global_objects/intl/locale/casefirst/index.md
  files/en-us/web/javascript/reference/global_objects/intl/locale/collation/index.md
  files/en-us/web/javascript/reference/global_objects/intl/locale/hourcycle/index.md
  files/en-us/web/javascript/reference/global_objects/intl/locale/index.md
  files/en-us/web/javascript/reference/global_objects/intl/locale/language/index.md
  files/en-us/web/javascript/reference/global_objects/intl/locale/locale/index.md
  files/en-us/web/javascript/reference/global_objects/intl/locale/numberingsystem/index.md
  files/en-us/web/javascript/reference/global_objects/intl/locale/numeric/index.md
  files/en-us/web/javascript/reference/global_objects/intl/locale/region/index.md
  files/en-us/web/javascript/reference/global_objects/intl/locale/script/index.md
  files/en-us/web/javascript/reference/global_objects/intl/locale/variants/index.md
Labels: Content:JS, size/m

#40405 Internalize data attributes examples
  files/en-us/web/html/how_to/use_data_attributes/index.md
Labels: Content:HTML, size/m

#40404 created `:active-view-transition` pseudo-class page
  files/en-us/web/api/document/startviewtransition/index.md
  files/en-us/web/api/view_transition_api/index.md
  files/en-us/web/css/_colon_active-view-transition/index.md
  files/en-us/web/css/pseudo-classes/index.md
Labels: Content:CSS, Content:WebAPI, size/m

#40400 docs: add a warning for `Customizable select elements`
  files/en-us/learn_web_development/extensions/forms/customizable_select/index.md
Labels: Content:Learn, size/s

#40504 Internalize DataTransfer.setDragImage example
  files/en-us/web/api/datatransfer/setdragimage/index.md
Labels: Content:WebAPI, size/s

#40505 Replace archive link with actual link to the blog post
  files/en-us/glossary/iife/index.md
Labels: Content:Glossary, size/xs

#40507 Add a browser compat section for Tk header
  files/en-us/web/http/reference/headers/tk/index.md
Labels: Content:HTTP, size/xs

#40465 `ctrlKey` is true for pinch-zoom wheel events
  files/en-us/web/api/element/wheel_event/index.md
  files/en-us/web/api/mouseevent/ctrlkey/index.md
Labels: Content:WebAPI, size/xs

#40462 Explain white-space's situation as a shorthand
  files/en-us/web/css/white-space/index.md
Labels: Content:CSS, size/s

#40402 CSS text decoration module: refresh and new text-shadow guide
  files/en-us/web/api/svgaelement/index.md
  files/en-us/web/api/svgaelement/rel/index.md
  files/en-us/web/api/svgaelement/rellist/index.md
  files/en-us/web/css/box-shadow/index.md
  files/en-us/web/css/css_text_decoration/index.md
  files/en-us/web/css/css_text_decoration/text_shadows/index.md
  files/en-us/web/css/filter-function/drop-shadow/index.md
  files/en-us/web/css/text-shadow/index.md
Labels: Content:CSS, Content:WebAPI, size/l

#40506 Better explanation for why `innerHTML` is not a good substitute for `textContent`
  files/en-us/web/api/node/textcontent/index.md
Labels: Content:WebAPI, size/s

#40513 Synchronize with BCD v6.0.34
  files/en-us/web/api/baseaudiocontext/state/index.md
  files/en-us/web/api/highlightregistry/highlightsfrompoint/index.md
  files/en-us/web/api/highlightregistry/index.md
Labels: Content:WebAPI, size/s

#40510 feat: Improvements to MediaError.message, add missing livesample title
  files/en-us/web/api/htmlvideoelement/requestvideoframecallback/index.md
  files/en-us/web/api/mediaerror/message/index.md
Labels: Content:WebAPI, size/m

#40517 Fix content issues
  files/en-us/glossary/idempotent/index.md
  files/en-us/glossary/iife/index.md
  files/en-us/learn_web_development/index.md
  files/en-us/web/api/mediatracksettings/screenpixelratio/index.md
  files/en-us/web/api/svgaelement/rel/index.md
  files/en-us/web/api/svgaelement/rellist/index.md
  files/en-us/web/css/_colon_read-write/index.md
  files/en-us/web/css/css_text_decoration/index.md
  files/en-us/web/css/css_text_decoration/text_shadows/index.md
  files/en-us/web/http/guides/cookies/index.md
Labels: Content:CSS, Content:WebAPI, Content:Learn, Content:HTTP, Content:Glossary, size/s

#40518 Move MonteCarlo font to shared-assets
  .vscode/dictionaries/ignore-list.txt
  files/en-us/web/css/@font-face/font-feature-settings/index.md
  files/en-us/web/css/@font-face/font-feature-settings/montecarlo-regular.woff2
  files/en-us/web/css/@font-face/font-feature-settings/ofl.txt
  files/en-us/web/css/font-variant-alternates/index.md
  files/en-us/web/css/font-variant-alternates/montecarlo-regular.woff2
  files/en-us/web/css/font-variant-alternates/ofl.txt
Labels: Content:CSS, system, size/m

#40520 Internalize ConvolverNode codepen example
  files/en-us/web/api/convolvernode/index.md
  files/en-us/web/media/guides/audio_and_video_manipulation/index.md
Labels: Content:WebAPI, Content:Media, size/s

#40521 Clarify the meaning of absolute units length
  files/en-us/learn_web_development/core/styling_basics/values_and_units/index.md
Labels: Content:Learn, size/xs

#40458 Clarify `<template>` permitted content
  files/en-us/web/html/reference/elements/template/index.md
Labels: Content:HTML, size/s

#40490 FF141 WebGPU API supported on Windows except in serviceworker - relnote/experimental features
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/141/index.md
Labels: Content:Firefox, size/s

#40535 Add `'write'` value to `FileSystemHandle` permission `descriptor.mode`
  files/en-us/web/api/filesystemhandle/querypermission/index.md
  files/en-us/web/api/filesystemhandle/requestpermission/index.md
Labels: Content:WebAPI, size/s

#39846 fixed broken DOMActivate example
  files/en-us/web/api/element/domactivate_event/index.md
Labels: Content:WebAPI, size/m

#40274 Add info about calling `remove()` on nodes that have no parent node
  files/en-us/web/api/characterdata/remove/index.md
  files/en-us/web/api/documenttype/remove/index.md
  files/en-us/web/api/element/remove/index.md
Labels: Content:WebAPI, size/s

#40545 Mention nesting selector cannot match pseudo-elements
  files/en-us/web/css/nesting_selector/index.md
Labels: Content:CSS, size/s

#40464 chore: change png to jpeg
  files/en-us/mozilla/add-ons/webextensions/api/extensiontypes/imagedetails/index.md
Labels: Content:WebExt, size/xs

#40543 Synchronize with BCD v6.0.35
  files/en-us/web/api/gpudevice/adapterinfo/index.md
  files/en-us/web/api/gpudevice/index.md
  files/en-us/web/api/gpudevice/uncapturederror_event/index.md
  files/en-us/web/api/identitycredential/index.md
  files/en-us/web/api/mediatracksettings/screenpixelratio/index.md
  files/en-us/web/api/scheduler/index.md
  files/en-us/web/api/scheduler/yield/index.md
  files/en-us/web/api/tasksignal/any_static/index.md
  files/en-us/web/api/tasksignal/index.md
  files/en-us/web/css/anchor-size/index.md
  files/en-us/web/css/anchor/index.md
  files/en-us/web/html/reference/elements/selectedcontent/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, size/s

#40554 Use consistent capitalisation for "ETag"
  files/en-us/glossary/response_header/index.md
  files/en-us/learn_web_development/getting_started/web_standards/how_the_web_works/index.md
  files/en-us/web/http/reference/headers/etag/index.md
Labels: Content:Learn, Content:HTTP, Content:Glossary, size/s

#40529 Fix variable redeclaration in url.origin code example
  files/en-us/web/api/url/origin/index.md
Labels: Content:WebAPI, size/s

#40536 Fix content issues
  files/en-us/web/api/caretposition/getclientrect/index.md
  files/en-us/web/api/caretposition/index.md
  files/en-us/web/api/caretposition/offset/index.md
  files/en-us/web/api/caretposition/offsetnode/index.md
  files/en-us/web/api/convolvernode/index.md
  files/en-us/web/api/fedcm_api/rp_sign-in/index.md
  files/en-us/web/api/identitycredential/disconnect_static/index.md
  files/en-us/web/api/identityprovider/getuserinfo_static/index.md
  files/en-us/web/css/_colon_active-view-transition/index.md
  files/en-us/web/media/guides/audio_and_video_manipulation/index.md
Labels: Content:CSS, Content:WebAPI, Content:Media, size/m

#38027 Reference for stage 3 explicit-resource-management
  files/en-us/web/javascript/guide/internationalization/index.md
  files/en-us/web/javascript/guide/iterators_and_generators/index.md
  files/en-us/web/javascript/guide/resource_management/index.md
  files/en-us/web/javascript/reference/global_objects/asyncdisposablestack/adopt/index.md
  files/en-us/web/javascript/reference/global_objects/asyncdisposablestack/asyncdisposablestack/index.md
  files/en-us/web/javascript/reference/global_objects/asyncdisposablestack/defer/index.md
  files/en-us/web/javascript/reference/global_objects/asyncdisposablestack/disposeasync/index.md
  files/en-us/web/javascript/reference/global_objects/asyncdisposablestack/disposed/index.md
  files/en-us/web/javascript/reference/global_objects/asyncdisposablestack/index.md
  files/en-us/web/javascript/reference/global_objects/asyncdisposablestack/move/index.md
  files/en-us/web/javascript/reference/global_objects/asyncdisposablestack/symbol.asyncdispose/index.md
  files/en-us/web/javascript/reference/global_objects/asyncdisposablestack/use/index.md
  files/en-us/web/javascript/reference/global_objects/asynciterator/index.md
  files/en-us/web/javascript/reference/global_objects/asynciterator/symbol.asyncdispose/index.md
  files/en-us/web/javascript/reference/global_objects/disposablestack/adopt/index.md
  files/en-us/web/javascript/reference/global_objects/disposablestack/defer/index.md
  files/en-us/web/javascript/reference/global_objects/disposablestack/disposablestack/index.md
  files/en-us/web/javascript/reference/global_objects/disposablestack/dispose/index.md
  files/en-us/web/javascript/reference/global_objects/disposablestack/disposed/index.md
  files/en-us/web/javascript/reference/global_objects/disposablestack/index.md
  files/en-us/web/javascript/reference/global_objects/disposablestack/move/index.md
  files/en-us/web/javascript/reference/global_objects/disposablestack/symbol.dispose/index.md
  files/en-us/web/javascript/reference/global_objects/disposablestack/use/index.md
  files/en-us/web/javascript/reference/global_objects/index.md
  files/en-us/web/javascript/reference/global_objects/iterator/index.md
  files/en-us/web/javascript/reference/global_objects/iterator/symbol.dispose/index.md
  files/en-us/web/javascript/reference/global_objects/suppressederror/error/index.md
  files/en-us/web/javascript/reference/global_objects/suppressederror/index.md
  files/en-us/web/javascript/reference/global_objects/suppressederror/suppressed/index.md
  files/en-us/web/javascript/reference/global_objects/suppressederror/suppressederror/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/asyncdispose/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/dispose/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/index.md
  files/en-us/web/javascript/reference/index.md
  files/en-us/web/javascript/reference/lexical_grammar/index.md
  files/en-us/web/javascript/reference/statements/await_using/index.md
  files/en-us/web/javascript/reference/statements/block/index.md
  files/en-us/web/javascript/reference/statements/export/index.md
  files/en-us/web/javascript/reference/statements/for-await...of/index.md
  files/en-us/web/javascript/reference/statements/for...in/index.md
  files/en-us/web/javascript/reference/statements/for...of/index.md
  files/en-us/web/javascript/reference/statements/index.md
  files/en-us/web/javascript/reference/statements/using/index.md
  files/sidebars/jssidebar.yaml
Labels: Content:JS, size/xl

#40516 doc(api): IntersectionObserver rootMargin option value
  files/en-us/web/api/intersection_observer_api/index.md
  files/en-us/web/api/intersectionobserver/index.md
  files/en-us/web/api/intersectionobserver/intersectionobserver/index.md
  files/en-us/web/api/intersectionobserver/rootmargin/index.md
Labels: Content:WebAPI, size/s

#40538 Improve preventDefault description
  files/en-us/web/api/event/preventdefault/index.md
Labels: Content:WebAPI, size/xs

#40572 Fix getAsFileSystemHandle() example
  files/en-us/web/api/datatransferitem/getasfilesystemhandle/index.md
Labels: Content:WebAPI, size/s

#40563 Add Explicit resource management to Firefox 141 release notes
  files/en-us/mozilla/firefox/releases/141/index.md
Labels: Content:Firefox, size/xs

#40570 Fix content issues
  files/en-us/web/api/identitycredential/disconnect_static/index.md
  files/en-us/web/javascript/reference/global_objects/asyncdisposablestack/adopt/index.md
  files/en-us/web/javascript/reference/global_objects/asyncdisposablestack/asyncdisposablestack/index.md
  files/en-us/web/javascript/reference/global_objects/asyncdisposablestack/defer/index.md
  files/en-us/web/javascript/reference/global_objects/asyncdisposablestack/disposeasync/index.md
  files/en-us/web/javascript/reference/global_objects/asyncdisposablestack/disposed/index.md
  files/en-us/web/javascript/reference/global_objects/asyncdisposablestack/move/index.md
  files/en-us/web/javascript/reference/global_objects/asyncdisposablestack/symbol.asyncdispose/index.md
  files/en-us/web/javascript/reference/global_objects/asyncdisposablestack/use/index.md
  files/en-us/web/javascript/reference/global_objects/disposablestack/adopt/index.md
  files/en-us/web/javascript/reference/global_objects/disposablestack/defer/index.md
  files/en-us/web/javascript/reference/global_objects/disposablestack/disposablestack/index.md
  files/en-us/web/javascript/reference/global_objects/disposablestack/dispose/index.md
  files/en-us/web/javascript/reference/global_objects/disposablestack/disposed/index.md
  files/en-us/web/javascript/reference/global_objects/disposablestack/move/index.md
  files/en-us/web/javascript/reference/global_objects/disposablestack/symbol.dispose/index.md
  files/en-us/web/javascript/reference/global_objects/disposablestack/use/index.md
  files/en-us/web/javascript/reference/global_objects/suppressederror/error/index.md
  files/en-us/web/javascript/reference/global_objects/suppressederror/suppressed/index.md
  files/en-us/web/javascript/reference/global_objects/suppressederror/suppressederror/index.md
Labels: Content:WebAPI, Content:JS, size/s

#40573 Updated the setSelectionRange() explanation #40522
  .vscode/dictionaries/code-entities.txt
  files/en-us/web/api/htmlinputelement/setselectionrange/index.md
  files/en-us/web/api/htmltextareaelement/selectiondirection/index.md
  files/en-us/web/api/htmltextareaelement/selectionend/index.md
  files/en-us/web/api/htmltextareaelement/selectionstart/index.md
  files/en-us/web/api/htmltextareaelement/setrangetext/index.md
  files/en-us/web/api/htmltextareaelement/setselectionrange/index.md
Labels: Content:WebAPI, system, size/s

#40453 Merge Transforming with XSLT guide in DOM API with the one in XSLT
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/document_object_model/transforming_with_xslt/index.md
  files/en-us/web/api/xsltprocessor/index.md
  files/en-us/web/xml/xslt/guides/transforming_xml_with_xslt/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, Content:Other, size/l

#40263 Clarify `execCommand` valid use cases without alternatives.
  files/en-us/web/api/document/execcommand/index.md
  files/en-us/web/api/document/querycommandenabled/index.md
  files/en-us/web/api/document/querycommandstate/index.md
  files/en-us/web/api/document/querycommandsupported/index.md
Labels: Content:WebAPI, size/s

#40584 Correct typo in brightness example
  files/en-us/web/css/filter-function/brightness/index.md
Labels: Content:CSS, size/xs

#40143 Add important note explaining why `navigator.vibrate()` may not work
  files/en-us/web/api/navigator/vibrate/index.md
Labels: Content:WebAPI, size/xs

#40574 Remove URL hash from import()
  files/en-us/web/api/service_worker_api/index.md
Labels: Content:WebAPI, size/xs
