Repository mdn/content, pull requests merged in 2025-04, with the labels that each got.

#38906 Add comment to empty CSS blocks in HTML examples
  files/en-us/web/html/element/em/index.md
Labels: Content:HTML, size/xs

#38915 docs(video): clarify error event behavior with <source> elements
  files/en-us/web/html/element/audio/index.md
  files/en-us/web/html/element/source/index.md
  files/en-us/web/html/element/video/index.md
Labels: Content:HTML, size/s

#38865 Remove unnecessary 'stream: true' argument from TextEncoder.encode call
  files/en-us/web/api/streams_api/using_writable_streams/index.md
  files/en-us/web/api/writablestream/close/index.md
  files/en-us/web/api/writablestream/getwriter/index.md
  files/en-us/web/api/writablestreamdefaultwriter/writablestreamdefaultwriter/index.md
Labels: Content:WebAPI, size/s

#38722 Add Compression Dictionary Transport docs
  files/en-us/glossary/compression_dictionary_transport/index.md
  files/en-us/web/html/attributes/rel/compression-dictionary/index.md
  files/en-us/web/html/attributes/rel/index.md
  files/en-us/web/http/guides/compression/index.md
  files/en-us/web/http/guides/compression_dictionary_transport/index.md
  files/en-us/web/http/reference/headers/accept-encoding/index.md
  files/en-us/web/http/reference/headers/available-dictionary/index.md
  files/en-us/web/http/reference/headers/content-encoding/index.md
  files/en-us/web/http/reference/headers/dictionary-id/index.md
  files/en-us/web/http/reference/headers/use-as-dictionary/index.md
Labels: Content:HTML, Content:HTTP, Content:Glossary, size/m

#38920 Fix hash glossary links
  files/en-us/web/http/reference/headers/available-dictionary/index.md
Labels: Content:HTTP, size/xs

#38925 Fix invalid links
  files/en-us/web/http/guides/compression_dictionary_transport/index.md
  files/en-us/web/http/reference/headers/use-as-dictionary/index.md
Labels: Content:HTTP, size/s

#38580 CSS `attr()`: Rename `string` to `raw-string`
  files/en-us/web/css/attr/index.md
Labels: Content:CSS, size/s

#38931 add l10n for new sources footer
  files/jsondata/L10n-Template.json
Labels: size/xs

#38929 Firefox 137 release notes
  files/en-us/mozilla/firefox/releases/137/index.md
  files/en-us/mozilla/firefox/releases/138/index.md
  files/en-us/mozilla/firefox/releases/139/index.md
Labels: Content:Firefox, size/m

#38926 Replace DL anchors with real target
  files/en-us/mozilla/firefox/releases/10/index.md
  files/en-us/mozilla/firefox/releases/109/index.md
  files/en-us/mozilla/firefox/releases/129/index.md
  files/en-us/mozilla/firefox/releases/36/index.md
  files/en-us/mozilla/firefox/releases/42/index.md
  files/en-us/mozilla/firefox/releases/50/index.md
  files/en-us/mozilla/firefox/releases/59/index.md
  files/en-us/mozilla/firefox/releases/60/index.md
  files/en-us/web/api/cspviolationreportbody/sample/index.md
  files/en-us/web/api/element/index.md
  files/en-us/web/api/filesystementry/index.md
  files/en-us/web/api/htmlbuttonelement/type/index.md
  files/en-us/web/api/media_capture_and_streams_api/taking_still_photos/index.md
  files/en-us/web/api/mediatracksupportedconstraints/index.md
  files/en-us/web/api/readablebytestreamcontroller/index.md
  files/en-us/web/api/readablestreambyobreader/index.md
  files/en-us/web/api/readablestreambyobrequest/index.md
  files/en-us/web/api/rtcaudiosourcestats/index.md
  files/en-us/web/api/rtccertificatestats/index.md
  files/en-us/web/api/rtccodecstats/index.md
  files/en-us/web/api/rtcdatachannelstats/index.md
  files/en-us/web/api/rtcencodedvideoframe/getmetadata/index.md
  files/en-us/web/api/rtcicecandidatepairstats/index.md
  files/en-us/web/api/rtcicecandidatestats/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/index.md
  files/en-us/web/api/rtcoutboundrtpstreamstats/index.md
  files/en-us/web/api/rtcpeerconnectionstats/index.md
  files/en-us/web/api/rtcremoteinboundrtpstreamstats/index.md
  files/en-us/web/api/rtcremoteoutboundrtpstreamstats/index.md
  files/en-us/web/api/rtcsctptransport/index.md
  files/en-us/web/api/rtctransportstats/index.md
  files/en-us/web/api/rtcvideosourcestats/index.md
  files/en-us/web/api/securitypolicyviolationevent/sample/index.md
  files/en-us/web/api/shadowroot/index.md
  files/en-us/web/api/taskcontroller/index.md
  files/en-us/web/html/element/input/search/index.md
  files/en-us/web/html/element/script/index.md
  files/en-us/web/html/element/script/type/importmap/index.md
  files/en-us/web/html/global_attributes/index.md
  files/en-us/web/http/reference/headers/content-security-policy/index.md
  files/en-us/web/http/reference/headers/content-security-policy/report-uri/index.md
  files/en-us/web/javascript/reference/classes/index.md
  files/en-us/web/javascript/reference/global_objects/map/index.md
  files/en-us/web/javascript/reference/global_objects/set/index.md
  files/en-us/web/security/subresource_integrity/index.md
Labels: Content:HTML, Content:WebAPI, Content:JS, Content:HTTP, Content:Security, Content:Firefox, size/m

#38932 Docs: Improve writings on WebAssembly pages
  files/en-us/webassembly/guides/imported_string_constants/index.md
  files/en-us/webassembly/guides/using_the_javascript_api/index.md
  files/en-us/webassembly/reference/javascript_interface/index.md
  files/en-us/webassembly/reference/javascript_interface/memory/index.md
Labels: Content:wasm, size/s

#38934 Fix: change `iSheetIndex` to the correct `i`
  files/en-us/web/api/stylesheet/media/index.md
Labels: Content:WebAPI, size/s

#38942 docs(base64) clarify how base64 digit is 6 bits
  files/en-us/glossary/base64/index.md
Labels: Content:Glossary, size/xs

#38938 Add 'and' to manual popover description
  files/en-us/web/api/htmlelement/popover/index.md
  files/en-us/web/html/global_attributes/popover/index.md
Labels: Content:HTML, Content:WebAPI, size/xs

#38945 Synchronize with BCD v6.0.2
  files/en-us/web/api/navigator/index.md
  files/en-us/web/api/navigator/login/index.md
  files/en-us/web/api/navigatorlogin/index.md
  files/en-us/web/api/navigatorlogin/setstatus/index.md
  files/en-us/web/api/notification/index.md
  files/en-us/web/api/notification/maxactions_static/index.md
  files/en-us/web/api/svgpathelement/getpathsegmentatlength/index.md
  files/en-us/web/api/svgpathelement/index.md
  files/en-us/web/api/window/index.md
  files/en-us/web/api/window/originagentcluster/index.md
  files/en-us/web/html/attributes/rel/index.md
  files/en-us/web/http/reference/headers/accept-encoding/index.md
  files/en-us/web/http/reference/headers/available-dictionary/index.md
  files/en-us/web/http/reference/headers/content-encoding/index.md
  files/en-us/web/http/reference/headers/dictionary-id/index.md
  files/en-us/web/http/reference/headers/origin-agent-cluster/index.md
  files/en-us/web/http/reference/headers/use-as-dictionary/index.md
Labels: Content:HTML, Content:WebAPI, Content:HTTP, size/m

#38680 Editorial review: Document nested pseudo-elements
  files/en-us/web/css/_doublecolon_after/index.md
  files/en-us/web/css/_doublecolon_before/index.md
  files/en-us/web/css/pseudo-elements/index.md
Labels: Content:CSS, size/m

#38914 chore(css): Update vendor prefix pages
  files/en-us/web/css/mozilla_extensions/index.md
  files/en-us/web/css/webkit_extensions/index.md
Labels: Content:CSS, size/l

#38876 feat(meta): Remove usage of EmbedInteractiveExample in meta docs
  files/en-us/mdn/kitchensink/index.md
  files/en-us/mdn/writing_guidelines/howto/markdown_in_mdn/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_reference_page_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/css_function_page_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/css_property_page_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/html_element_page_template/index.md
Labels: Content:Meta, size/m

#38946 chore(CODEOWNERS): update sidebars ownership
  .github/CODEOWNERS
Labels: system, size/xs

#38947 ci(pr-review-companion): access step outputs via env vars
  .github/workflows/pr-review-companion.yml
Labels: system, size/s

#38939 Normalize syntax section for a few Wasm APIs
  files/en-us/webassembly/reference/javascript_interface/instance/instance/index.md
  files/en-us/webassembly/reference/javascript_interface/instantiate_static/index.md
  files/en-us/webassembly/reference/javascript_interface/module/module/index.md
Labels: Content:wasm, size/m

#38936 Add a json validation tool which scores higher for a11y and is wcag compliant.
  files/en-us/learn_web_development/core/scripting/json/index.md
Labels: Content:Learn, size/xs

#38943 Eliminate many syntax errors (2)
  files/en-us/web/api/gpuadapter/isfallbackadapter/index.md
  files/en-us/web/api/gpucommandencoder/copybuffertotexture/index.md
  files/en-us/web/api/gpucommandencoder/copytexturetobuffer/index.md
  files/en-us/web/api/gpucommandencoder/copytexturetotexture/index.md
  files/en-us/web/api/gpucompilationmessage/length/index.md
  files/en-us/web/api/gpucompilationmessage/linenum/index.md
  files/en-us/web/api/gpucompilationmessage/linepos/index.md
  files/en-us/web/api/gpucompilationmessage/message/index.md
  files/en-us/web/api/gpucompilationmessage/offset/index.md
  files/en-us/web/api/gpucompilationmessage/type/index.md
  files/en-us/web/api/gpudevice/createcomputepipeline/index.md
  files/en-us/web/api/gpudevice/createrenderpipeline/index.md
  files/en-us/web/api/media_capture_and_streams_api/constraints/index.md
  files/en-us/web/api/mediastreamtrack/getcapabilities/index.md
  files/en-us/web/api/paymentrequestevent/openwindow/index.md
  files/en-us/web/api/paymentresponse/tojson/index.md
  files/en-us/web/api/performance/measureuseragentspecificmemory/index.md
  files/en-us/web/api/performance/memory/index.md
  files/en-us/web/api/performance_api/monitoring_bfcache_blocking_reasons/index.md
  files/en-us/web/api/performancenavigationtiming/notrestoredreasons/index.md
  files/en-us/web/api/pressureobserver/takerecords/index.md
  files/en-us/web/api/publickeycredential/isconditionalmediationavailable_static/index.md
  files/en-us/web/api/publickeycredential/parserequestoptionsfromjson_static/index.md
  files/en-us/web/api/publickeycredential/signalunknowncredential_static/index.md
  files/en-us/web/api/virtualkeyboard/hide/index.md
  files/en-us/web/api/virtualkeyboard/show/index.md
  files/en-us/web/api/virtualkeyboard_api/index.md
  files/en-us/web/api/web_audio_api/web_audio_spatialization_basics/index.md
  files/en-us/web/api/web_authentication_api/index.md
  files/en-us/web/api/web_authentication_api/webauthn_extensions/index.md
  files/en-us/web/api/web_speech_api/using_the_web_speech_api/index.md
  files/en-us/web/api/webgl_api/tutorial/animating_objects_with_webgl/index.md
  files/en-us/web/api/webgl_api/tutorial/creating_3d_objects_using_webgl/index.md
  files/en-us/web/api/webglrenderingcontext/getcontextattributes/index.md
  files/en-us/web/api/websocket/websocket/index.md
  files/en-us/web/api/webtransport/close/index.md
  files/en-us/web/api/webtransport/createunidirectionalstream/index.md
  files/en-us/web/api/webtransport_api/index.md
  files/en-us/web/api/webtransportbidirectionalstream/index.md
  files/en-us/web/api/webvr_api/using_vr_controllers_with_webvr/index.md
Labels: Content:WebAPI, size/xl

#38941 Eliminate many syntax errors
  files/en-us/games/techniques/control_mechanisms/desktop_with_gamepad/index.md
  files/en-us/games/techniques/control_mechanisms/index.md
  files/en-us/games/techniques/controls_gamepad_api/index.md
  files/en-us/games/tutorials/html5_gamedev_phaser_device_orientation/index.md
  files/en-us/glossary/boolean/index.md
  files/en-us/glossary/function/index.md
  files/en-us/glossary/truthy/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/main_features/index.md
  files/en-us/mdn/writing_guidelines/howto/write_an_api_reference/information_contained_in_a_webidl_file/index.md
  files/en-us/mozilla/firefox/releases/32/index.md
  files/en-us/web/api/attribution_reporting_api/generating_reports/index.md
  files/en-us/web/api/attribution_reporting_api/registering_triggers/index.md
  files/en-us/web/api/audiocontext/setsinkid/index.md
  files/en-us/web/api/closewatcher/cancel_event/index.md
  files/en-us/web/api/closewatcher/close_event/index.md
  files/en-us/web/api/closewatcher/closewatcher/index.md
  files/en-us/web/api/cspviolationreportbody/index.md
  files/en-us/web/api/document/browsingtopics/index.md
  files/en-us/web/api/element/animate/index.md
  files/en-us/web/api/fencedframeconfig/index.md
  files/en-us/web/api/fencedframeconfig/setsharedstoragecontext/index.md
  files/en-us/web/api/readablestreambyobreader/read/index.md
  files/en-us/web/api/rtccertificate/getfingerprints/index.md
  files/en-us/web/api/rtcencodedaudioframe/getmetadata/index.md
  files/en-us/web/api/rtcencodedaudioframe/index.md
  files/en-us/web/api/rtcencodedvideoframe/getmetadata/index.md
  files/en-us/web/api/rtcencodedvideoframe/index.md
  files/en-us/web/api/rtcrtpscripttransformer/options/index.md
  files/en-us/web/api/svganimatedrect/animval/index.md
  files/en-us/web/api/vrlayerinit/index.md
  files/en-us/web/api/workletsharedstorage/get/index.md
  files/en-us/web/api/workletsharedstorage/index.md
  files/en-us/web/html/element/script/type/speculationrules/index.md
  files/en-us/web/http/reference/headers/attribution-reporting-register-trigger/index.md
  files/en-us/web/javascript/reference/operators/property_accessors/index.md
  files/en-us/web/progressive_web_apps/tutorials/cycletracker/manifest_file/index.md
  files/en-us/web/progressive_web_apps/tutorials/cycletracker/service_workers/index.md
  files/en-us/web/xml/exslt/reference/regexp/match/index.md
  files/en-us/web/xml/exslt/reference/regexp/test/index.md
  files/en-us/webassembly/guides/imported_string_constants/index.md
  files/en-us/webassembly/guides/understanding_the_text_format/index.md
  files/en-us/webassembly/reference/javascript_interface/module/exports_static/index.md
  files/en-us/webassembly/reference/javascript_interface/module/imports_static/index.md
Labels: Content:HTML, Content:WebAPI, Content:JS, Content:Learn, Content:Other, Content:HTTP, Content:wasm, Content:Glossary, Content:Games, Content:Firefox, Content:Meta, Content:PWA, size/l

#38901 New pages: HTMLInput/TextAreaElement.dirName
  files/en-us/web/api/htmlinputelement/dirname/index.md
  files/en-us/web/api/htmltextareaelement/dirname/index.md
Labels: Content:WebAPI, size/m

#38923 Reorganize graphics software list
  files/en-us/learn_web_development/getting_started/environment_setup/installing_software/index.md
Labels: Content:Learn, size/xs

#38840 Update JS debugging learn article
  files/en-us/learn_web_development/core/scripting/debugging_javascript/index.md
  files/en-us/learn_web_development/core/scripting/index.md
  files/en-us/learn_web_development/extensions/testing/feature_detection/index.md
  files/en-us/learn_web_development/howto/solve_javascript_problems/index.md
Labels: Content:Learn, size/m

#38944 Update redirected links
  files/en-us/learn_web_development/core/accessibility/what_is_accessibility/index.md
  files/en-us/web/api/attribution_reporting_api/generating_reports/index.md
  files/en-us/web/api/attribution_reporting_api/index.md
  files/en-us/web/api/attribution_reporting_api/registering_triggers/index.md
  files/en-us/web/api/fedcm_api/idp_integration/index.md
  files/en-us/web/api/fedcm_api/index.md
  files/en-us/web/api/fedcm_api/rp_sign-in/index.md
  files/en-us/web/api/fence/getnestedconfigs/index.md
  files/en-us/web/api/fence/index.md
  files/en-us/web/api/fence/reportevent/index.md
  files/en-us/web/api/fence/setreporteventdataforautomaticbeacons/index.md
  files/en-us/web/api/fenced_frame_api/communication_with_embedded_frames/index.md
  files/en-us/web/api/fenced_frame_api/index.md
  files/en-us/web/api/fencedframeconfig/index.md
  files/en-us/web/api/fencedframeconfig/setsharedstoragecontext/index.md
  files/en-us/web/api/htmlfencedframeelement/allow/index.md
  files/en-us/web/api/htmlfencedframeelement/config/index.md
  files/en-us/web/api/htmlfencedframeelement/height/index.md
  files/en-us/web/api/htmlfencedframeelement/index.md
  files/en-us/web/api/htmlfencedframeelement/width/index.md
  files/en-us/web/api/identitycredential/index.md
  files/en-us/web/api/identitycredential/isautoselected/index.md
  files/en-us/web/api/identitycredential/token/index.md
  files/en-us/web/api/identityprovider/close_static/index.md
  files/en-us/web/api/identityprovider/getuserinfo_static/index.md
  files/en-us/web/api/identityprovider/index.md
  files/en-us/web/api/navigator/deprecatedreplaceinurn/index.md
  files/en-us/web/api/navigator/index.md
  files/en-us/web/api/shared_storage_api/index.md
  files/en-us/web/api/sharedstorageoperation/index.md
  files/en-us/web/api/sharedstoragerunoperation/index.md
  files/en-us/web/api/storage_access_api/related_website_sets/index.md
  files/en-us/web/api/topics_api/index.md
  files/en-us/web/api/topics_api/using/index.md
  files/en-us/web/api/window/fence/index.md
  files/en-us/web/api/windowsharedstorage/run/index.md
  files/en-us/web/api/workletsharedstorage/get/index.md
  files/en-us/web/api/workletsharedstorage/index.md
  files/en-us/web/html/element/fencedframe/index.md
  files/en-us/web/http/reference/headers/attribution-reporting-register-trigger/index.md
  files/en-us/web/privacy/guides/privacy_sandbox/enrollment/index.md
  files/en-us/web/privacy/guides/privacy_sandbox/index.md
  files/en-us/web/privacy/guides/privacy_sandbox/partitioned_cookies/index.md
  files/en-us/web/privacy/guides/third-party_cookies/index.md
  files/en-us/web/privacy/index.md
Labels: Content:HTML, Content:WebAPI, Content:Learn, Content:Other, Content:HTTP, size/m

#38780 Clarify instruction for modifying `y` in Active Learning: Sizing a Canvas Box
  files/en-us/learn_web_development/core/scripting/math/index.md
Labels: Content:Learn, size/s

#38957 Used proper minus sign to match + width in example
  files/en-us/web/html/element/summary/index.md
Labels: Content:HTML, size/xs

#38921 content property alt text
  files/en-us/web/css/content/index.md
Labels: Content:CSS, size/s

#38937 Slightly rewrite Constructor glossary
  files/en-us/glossary/constructor/index.md
Labels: Content:Glossary, size/s

#38961 FF137 relnote/expr feat - remove SVG discard
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/137/index.md
Labels: Content:Firefox, size/m

#38971 Update code example related to above text
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/numberformat/index.md
Labels: Content:JS, size/xs

#38972 Update async_function_star_ to have a working example
  files/en-us/web/javascript/reference/operators/async_function_star_/index.md
Labels: Content:JS, size/s

#38970 Remove browser-compat for CSS types without BCD
  files/en-us/web/css/baseline-position/index.md
  files/en-us/web/css/calc-sum/index.md
  files/en-us/web/css/content-distribution/index.md
  files/en-us/web/css/content-position/index.md
  files/en-us/web/css/overflow-position/index.md
  files/en-us/web/css/self-position/index.md
  files/en-us/web/css/time-percentage/index.md
Labels: Content:CSS, size/s

#38975 Add missing {{Specifications}} macros
  files/en-us/web/api/media_capture_and_streams_api/index.md
  files/en-us/web/api/webxr_device_api/index.md
  files/en-us/web/mathml/index.md
Labels: Content:WebAPI, Content:MathML, size/m

#38980 Remove external Web Speech API articles
  files/en-us/web/api/web_speech_api/index.md
Labels: Content:WebAPI, size/xs

#38981 Fix grammar
  files/en-us/web/api/request/index.md
Labels: Content:WebAPI, size/xs

#38983 Synchronize with BCD v6.0.3
  files/en-us/web/html/attributes/rel/compression-dictionary/index.md
  files/en-us/web/html/attributes/rel/index.md
Labels: Content:HTML, size/s

#38982 Remove self-links
  files/en-us/learn_web_development/core/frameworks_libraries/main_features/index.md
  files/en-us/learn_web_development/extensions/server-side/django/index.md
  files/en-us/learn_web_development/extensions/server-side/express_nodejs/index.md
  files/en-us/web/api/htmlbuttonelement/type/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/index.md
  files/en-us/web/css/appearance/index.md
  files/en-us/web/css/content-position/index.md
  files/en-us/web/css/text-box/index.md
  files/en-us/web/html/element/legend/index.md
  files/en-us/web/progressive_web_apps/tutorials/js13kgames/index.md
  files/en-us/web/svg/reference/element/pattern/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:Learn, Content:SVG, Content:PWA, size/s

#38986 Remove uncovered topic from the introduction
  files/en-us/learn_web_development/core/structuring_content/advanced_text_features/index.md
Labels: Content:Learn, size/xs

#38928 Add live sample embeds for SVG path examples
  files/en-us/web/svg/tutorials/svg_from_scratch/paths/cubic_bezier_curves_with_grid.png
  files/en-us/web/svg/tutorials/svg_from_scratch/paths/index.md
  files/en-us/web/svg/tutorials/svg_from_scratch/paths/quadratic_bezier_with_grid.png
  files/en-us/web/svg/tutorials/svg_from_scratch/paths/shortcut_cubic_bezier_with_grid.png
  files/en-us/web/svg/tutorials/svg_from_scratch/paths/shortcut_quadratic_bezier_with_grid.png
  files/en-us/web/svg/tutorials/svg_from_scratch/paths/svgarcs_flags.png
  files/en-us/web/svg/tutorials/svg_from_scratch/paths/svgarcs_xaxisrotation_with_grid.png
  files/en-us/web/svg/tutorials/svg_from_scratch/paths/svgarcs_xaxisrotation_with_grid_ellipses.png
Labels: Content:SVG, size/l

#38900 New pages: HTMLFormElement.rel and .relList
  files/en-us/web/api/htmlformelement/index.md
  files/en-us/web/api/htmlformelement/rel/index.md
  files/en-us/web/api/htmlformelement/rellist/index.md
Labels: Content:WebAPI, size/m

#38845 improve description
  files/en-us/web/css/block-size/index.md
  files/en-us/web/css/inline-size/index.md
Labels: Content:CSS, size/s

#38842 Update group-data of EditContext API
  files/en-us/web/api/editcontext_api/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, size/s

#38992 Change if...else to non-zero on control_flow page
  files/en-us/webassembly/reference/control_flow/index.md
Labels: Content:wasm, size/xs

#39003 Improve the clarity of a sentence
  files/en-us/learn_web_development/core/structuring_content/creating_links/index.md
Labels: Content:Learn, size/xs

#39000 Remove `port` mention for URL `protocol` documentation
  files/en-us/web/api/htmlanchorelement/protocol/index.md
  files/en-us/web/api/htmlareaelement/protocol/index.md
  files/en-us/web/api/location/protocol/index.md
  files/en-us/web/api/url/protocol/index.md
Labels: Content:WebAPI, size/s

#38996 Change the description of Temporal.Instant
  files/en-us/web/javascript/reference/global_objects/temporal/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/instant/index.md
Labels: Content:JS, size/xs

#38999 Remove uncovered topic from a tuturial overview.
  files/en-us/learn_web_development/core/structuring_content/index.md
Labels: Content:Learn, size/xs

#38995 Fix link
  files/en-us/web/api/editcontext_api/index.md
Labels: Content:WebAPI, size/xs

#38998 fix: remove unrelated add() method reference from openCursor() doc
  files/en-us/web/api/idbobjectstore/opencursor/index.md
Labels: Content:WebAPI, size/xs

#39007 Fix typos
  .vscode/dictionaries/code-entities.txt
  files/en-us/glossary/compression_dictionary_transport/index.md
  files/en-us/learn_web_development/getting_started/web_standards/the_web_standards_model/index.md
  files/en-us/web/http/guides/compression_dictionary_transport/index.md
Labels: Content:Learn, Content:HTTP, Content:Glossary, system, size/s

#38959 Add Express v4 disclaimers
  files/en-us/learn_web_development/extensions/server-side/express_nodejs/development_environment/index.md
  files/en-us/learn_web_development/extensions/server-side/express_nodejs/index.md
  files/en-us/learn_web_development/extensions/server-side/express_nodejs/introduction/index.md
  files/en-us/learn_web_development/extensions/server-side/express_nodejs/skeleton_website/index.md
Labels: Content:Learn, size/s

#38973 Add a json patch generator tool
  files/en-us/web/http/reference/methods/patch/index.md
Labels: Content:HTTP, size/xs

#38966 Fix HTMLIFrameElement casing
  files/en-us/web/api/htmliframeelement/getsvgdocument/index.md
  files/en-us/web/api/htmliframeelement/index.md
Labels: Content:WebAPI, size/s

#38978 Remove Firefox ChromeOnly XHR API
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/xmlhttprequest/channel/index.md
  files/en-us/web/api/xmlhttprequest/index.md
  files/en-us/web/api/xmlhttprequest/mozanon/index.md
  files/en-us/web/api/xmlhttprequest/mozbackgroundrequest/index.md
  files/en-us/web/api/xmlhttprequest/mozsystem/index.md
  files/en-us/web/api/xmlhttprequest/xmlhttprequest/index.md
Labels: Content:WebAPI, size/m

#38948 chore(http): Add Compression Dictionary Transport headers
  files/en-us/web/http/reference/headers/index.md
  files/en-us/web/http/reference/headers/use-as-dictionary/index.md
Labels: Content:HTTP, size/s

#38953 38888 details content pseudo element
  files/en-us/web/html/element/details/index.md
Labels: Content:HTML, size/xs

#38956 Fix more JS syntax errors
  files/en-us/learn_web_development/core/frameworks_libraries/angular_filtering/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/angular_getting_started/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/angular_item_component/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/angular_todo_list_beginning/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/ember_conditional_footer/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/react_interactivity_events_state/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/svelte_deployment_next/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/svelte_typescript/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/vue_computed_properties/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/vue_conditional_rendering/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/vue_first_component/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/vue_methods_events_models/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/vue_refs_focus_management/index.md
  files/en-us/learn_web_development/core/scripting/build_your_own_function/index.md
  files/en-us/learn_web_development/core/scripting/object_basics/index.md
  files/en-us/learn_web_development/extensions/advanced_javascript_objects/adding_bouncing_balls_features/index.md
  files/en-us/learn_web_development/extensions/advanced_javascript_objects/object_building_practice/index.md
  files/en-us/learn_web_development/extensions/performance/javascript/index.md
  files/en-us/learn_web_development/extensions/server-side/express_nodejs/mongoose/index.md
  files/en-us/learn_web_development/extensions/testing/your_own_automation_environment/index.md
  files/en-us/mozilla/add-ons/webextensions/working_with_the_tabs_api/index.md
  files/en-us/web/api/css_painting_api/guide/index.md
  files/en-us/web/api/elementinternals/states/index.md
  files/en-us/web/api/gpucommandencoder/beginrenderpass/index.md
  files/en-us/web/api/gpudevice/createbindgrouplayout/index.md
  files/en-us/web/api/gpudevice/createbuffer/index.md
  files/en-us/web/api/gpudevice/createrenderpipeline/index.md
  files/en-us/web/api/gpudevice/createtexture/index.md
  files/en-us/web/api/gpuqueue/copyexternalimagetotexture/index.md
  files/en-us/web/api/payment_request_api/using_the_payment_request_api/index.md
  files/en-us/web/api/pushmanager/supportedcontentencodings_static/index.md
  files/en-us/web/api/shadowroot/index.md
  files/en-us/web/api/web_audio_api/simple_synth/index.md
  files/en-us/web/api/web_audio_api/using_audioworklet/index.md
  files/en-us/web/api/web_authentication_api/webauthn_extensions/index.md
  files/en-us/web/api/web_components/using_custom_elements/index.md
  files/en-us/web/api/webgl_api/tutorial/creating_3d_objects_using_webgl/index.md
  files/en-us/web/api/webgl_api/tutorial/using_textures_in_webgl/index.md
  files/en-us/web/http/guides/proxy_servers_and_tunneling/proxy_auto-configuration_pac_file/index.md
  files/en-us/web/javascript/guide/grammar_and_types/index.md
  files/en-us/web/javascript/reference/global_objects/number/nan/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/zoneddatetime/epochmilliseconds/index.md
  files/en-us/web/javascript/reference/lexical_grammar/index.md
  files/en-us/web/javascript/reference/operators/function/index.md
  files/en-us/webassembly/guides/loading_and_running/index.md
Labels: Content:WebExt, Content:WebAPI, Content:JS, Content:Learn, Content:HTTP, Content:wasm, size/xl

#38950 Update Learn a11y article to remove outdated content
  files/en-us/learn_web_development/core/accessibility/html/index.md
  files/en-us/learn_web_development/core/accessibility/tooling/index.md
  files/en-us/learn_web_development/core/accessibility/wai-aria_basics/index.md
  files/en-us/learn_web_development/core/accessibility/what_is_accessibility/index.md
  files/en-us/learn_web_development/core/structuring_content/html_table_basics/index.md
  files/en-us/learn_web_development/getting_started/your_first_website/creating_the_content/index.md
  files/en-us/web/css/css_writing_modes/vertical_controls/index.md
  files/en-us/web/css/field-sizing/index.md
Labels: Content:CSS, Content:Learn, size/m

#38927 Use uniform code block language
  .markdownlint.jsonc
  files/en-us/glossary/recursion/index.md
  files/en-us/learn_web_development/extensions/server-side/django/deployment/index.md
  files/en-us/learn_web_development/extensions/server-side/django/models/index.md
  files/en-us/mdn/community/issues/index.md
  files/en-us/mdn/writing_guidelines/howto/markdown_in_mdn/index.md
  files/en-us/mdn/writing_guidelines/learning_content/index.md
  files/en-us/mdn/writing_guidelines/page_structures/feature_status/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/background/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/browser_specific_settings/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/chrome_settings_overrides/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/externally_connectable/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/host_permissions/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/optional_host_permissions/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/options_page/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/options_ui/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/permissions/index.md
  files/en-us/web/api/contactaddress/addressline/index.md
  files/en-us/web/api/cssnesteddeclarations/index.md
  files/en-us/web/api/window/fetch/index.md
  files/en-us/web/css/@scope/index.md
  files/en-us/web/css/css_nesting/using_css_nesting/index.md
  files/en-us/web/http/guides/compression_dictionary_transport/index.md
Labels: Content:CSS, Content:WebExt, Content:WebAPI, Content:Learn, Content:HTTP, Content:Glossary, Content:Meta, system, size/m

#39018 fix(css): A couple of broken cssxref macros
  files/en-us/web/css/css_selectors/privacy_and_the_visited_selector/index.md
Labels: Content:CSS, size/xs

#39015 Fix broken link in example
  files/en-us/web/svg/tutorials/svg_from_scratch/other_content_in_svg/index.md
Labels: Content:SVG, size/xs

#39011 FF138 Relnote: RTCSender degradationPreference
  files/en-us/mozilla/firefox/releases/138/index.md
Labels: Content:Firefox, size/s

#38904 Warn that cookie path does not protect against unauthorized reading
  files/en-us/web/http/guides/cookies/index.md
  files/en-us/web/http/reference/headers/set-cookie/index.md
Labels: Content:HTTP, size/s

#39006 Update setTimeout() and setInterval() Return Value Description with Numeric Range and Clarification
  files/en-us/web/api/window/setinterval/index.md
  files/en-us/web/api/window/settimeout/index.md
  files/en-us/web/api/workerglobalscope/setinterval/index.md
  files/en-us/web/api/workerglobalscope/settimeout/index.md
Labels: Content:WebAPI, size/s

#38964 FF138 Expr: MutationEvent removal from nightly
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/138/index.md
Labels: Content:Firefox, size/s

#39028 Remove ServiceWorkerContainer: error event page
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/serviceworkercontainer/error_event/index.md
  files/en-us/web/api/serviceworkercontainer/index.md
Labels: Content:WebAPI, size/s

#38954 added release note for ::details-content to experimental and 138
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/138/index.md
Labels: Content:Firefox, size/s

#39012 Elaborate on the calendar types
  files/en-us/web/javascript/reference/global_objects/intl/supportedvaluesof/index.md
Labels: Content:JS, size/m

#39035 format svganimatednumber
  files/en-us/web/api/svganimatednumber/index.md
Labels: Content:WebAPI, size/m

#38743 New page: SVGRadialGradientElement.fr
  files/en-us/web/api/svgradialgradientelement/fr/index.md
  files/en-us/web/api/svgradialgradientelement/index.md
Labels: Content:WebAPI, size/m

#39022 Fix CSP upgrade-insecure-requests typo
  files/en-us/web/http/reference/headers/content-security-policy/upgrade-insecure-requests/index.md
Labels: Content:HTTP, size/xs

#38968 FF138 Relnote: Origin-Agent-Cluster and Window.originAgentCluster
  files/en-us/mozilla/firefox/releases/138/index.md
  files/en-us/web/http/reference/headers/origin-agent-cluster/index.md
Labels: Content:HTTP, Content:Firefox, size/s

#39033 FF138 ExprFeat: Notification.actions in preview
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/138/index.md
Labels: Content:Firefox, size/s

#39045 Fix wrong http port in example
  files/en-us/web/http/reference/headers/www-authenticate/index.md
Labels: Content:HTTP, size/xs

#39046 Synchronize with BCD v6.0.4
  files/en-us/web/http/reference/headers/reporting-endpoints/index.md
  files/en-us/web/http/reference/headers/set-login/index.md
  files/en-us/web/javascript/reference/global_objects/error/capturestacktrace/index.md
  files/en-us/web/javascript/reference/global_objects/error/index.md
Labels: Content:JS, Content:HTTP, size/s

#39016 Document `fetchLater()`
  files/en-us/web/api/deferredrequestinit/index.md
  files/en-us/web/api/fetch_api/index.md
  files/en-us/web/api/fetchlater_api/fetchlater_quotas/index.md
  files/en-us/web/api/fetchlater_api/index.md
  files/en-us/web/api/fetchlaterresult/activated/index.md
  files/en-us/web/api/fetchlaterresult/index.md
  files/en-us/web/api/window/fetchlater/index.md
  files/en-us/web/http/reference/headers/content-security-policy/connect-src/index.md
  files/en-us/web/http/reference/headers/permissions-policy/deferred-fetch-minimal/index.md
  files/en-us/web/http/reference/headers/permissions-policy/deferred-fetch/index.md
  files/en-us/web/http/reference/headers/permissions-policy/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, Content:HTTP, size/l

#38979 Fix <hue-interpolation-method> BCD query
  files/en-us/web/css/hue-interpolation-method/index.md
Labels: Content:CSS, size/s

#39029 Remove XPathException
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/xpathevaluator/createexpression/index.md
  files/en-us/web/api/xpathevaluator/evaluate/index.md
  files/en-us/web/api/xpathexception/code/index.md
  files/en-us/web/api/xpathexception/index.md
  files/en-us/web/api/xpathexpression/evaluate/index.md
  files/en-us/web/api/xpathresult/booleanvalue/index.md
  files/en-us/web/api/xpathresult/iteratenext/index.md
  files/en-us/web/api/xpathresult/numbervalue/index.md
  files/en-us/web/api/xpathresult/singlenodevalue/index.md
  files/en-us/web/api/xpathresult/snapshotitem/index.md
  files/en-us/web/api/xpathresult/snapshotlength/index.md
  files/en-us/web/api/xpathresult/stringvalue/index.md
Labels: Content:WebAPI, size/m

#39030 Remove SVGEvent
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/event/index.md
  files/en-us/web/api/svgevent/index.md
Labels: Content:WebAPI, size/s

#39047 chore(learn): Move skills tests into subdir
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/learn_web_development/core/scripting/index.md
  files/en-us/learn_web_development/core/scripting/test_your_skills/arrays/index.md
  files/en-us/learn_web_development/core/scripting/test_your_skills/conditionals/index.md
  files/en-us/learn_web_development/core/scripting/test_your_skills/events/index.md
  files/en-us/learn_web_development/core/scripting/test_your_skills/functions/index.md
  files/en-us/learn_web_development/core/scripting/test_your_skills/index.md
  files/en-us/learn_web_development/core/scripting/test_your_skills/json/index.md
  files/en-us/learn_web_development/core/scripting/test_your_skills/loops/index.md
  files/en-us/learn_web_development/core/scripting/test_your_skills/math/index.md
  files/en-us/learn_web_development/core/scripting/test_your_skills/object_basics/index.md
  files/en-us/learn_web_development/core/scripting/test_your_skills/strings/index.md
  files/en-us/learn_web_development/core/scripting/test_your_skills/variables/index.md
  files/sidebars/learnsidebar.yaml
Labels: Content:Learn, size/m

#39041 Fix example code for picker-icon and checkmark pseudo-elements
  files/en-us/web/css/_doublecolon_checkmark/index.md
  files/en-us/web/css/_doublecolon_picker-icon/index.md
Labels: Content:CSS, size/xs

#38958 Add fallback note for container query length units
  files/en-us/web/css/css_containment/container_queries/index.md
  files/en-us/web/css/length/index.md
Labels: Content:CSS, size/s

#39001 Update syntax info of `view-timeline`
  files/en-us/web/css/view-timeline-axis/index.md
  files/en-us/web/css/view-timeline-inset/index.md
  files/en-us/web/css/view-timeline-name/index.md
  files/en-us/web/css/view-timeline/index.md
Labels: Content:CSS, size/s

#39052 Fix content issues
  files/en-us/learn_web_development/core/frameworks_libraries/svelte_deployment_next/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/svelte_getting_started/index.md
  files/en-us/learn_web_development/getting_started/soft_skills/research_and_learning/index.md
  files/en-us/mozilla/firefox/releases/136/index.md
  files/en-us/web/api/css_painting_api/index.md
  files/en-us/web/api/file_system_api/origin_private_file_system/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/index.md
  files/en-us/web/api/filesystemsyncaccesshandle/write/index.md
  files/en-us/web/api/svganimatednumber/index.md
Labels: Content:WebAPI, Content:Learn, Content:Firefox, size/s

#38623 Streamline/restructure our “JavaScript implementations” list
  files/en-us/web/javascript/reference/javascript_technologies_overview/index.md
Labels: Content:JS, size/s

#38752 Editorial review: Document CSS carousel functionality
  files/en-us/web/css/_colon_target-current/index.md
  files/en-us/web/css/_doublecolon_column/index.md
  files/en-us/web/css/_doublecolon_scroll-button/index.md
  files/en-us/web/css/_doublecolon_scroll-marker-group/index.md
  files/en-us/web/css/_doublecolon_scroll-marker/index.md
  files/en-us/web/css/content/index.md
  files/en-us/web/css/css_generated_content/index.md
  files/en-us/web/css/css_multicol_layout/index.md
  files/en-us/web/css/css_overflow/css_carousels/carousel.drawio
  files/en-us/web/css/css_overflow/css_carousels/carousel.png
  files/en-us/web/css/css_overflow/css_carousels/index.md
  files/en-us/web/css/css_overflow/index.md
  files/en-us/web/css/css_pseudo-elements/index.md
  files/en-us/web/css/css_selectors/index.md
  files/en-us/web/css/pseudo-classes/index.md
  files/en-us/web/css/pseudo-elements/index.md
  files/en-us/web/css/scroll-marker-group/index.md
Labels: Content:CSS, size/xl

#39062 chore(learn): Move skills tests into subdir [html]
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/learn_web_development/core/structuring_content/index.md
  files/en-us/learn_web_development/core/structuring_content/test_your_skills/advanced_html_text/index.md
  files/en-us/learn_web_development/core/structuring_content/test_your_skills/html_text_basics/index.md
  files/en-us/learn_web_development/core/structuring_content/test_your_skills/index.md
  files/en-us/learn_web_development/core/structuring_content/test_your_skills/links/index.md
  files/sidebars/learnsidebar.yaml
Labels: Content:Learn, do not merge, size/s

#39066 chore: remove a sentence without context
  files/en-us/learn_web_development/core/css_layout/flexbox/index.md
Labels: Content:Learn, size/xs

#39069 chore: replace 'islamic' with 'islamic-umalqura'
  files/en-us/web/javascript/reference/global_objects/intl/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plaindate/compare/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plaindate/tostring/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plaindate/withcalendar/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plaindatetime/compare/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plaindatetime/withcalendar/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plainyearmonth/compare/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/zoneddatetime/withcalendar/index.md
Labels: Content:JS, size/s

#39056 chore: fix typo
  files/en-us/web/http/reference/status/102/index.md
  files/en-us/web/http/reference/status/207/index.md
  files/en-us/web/http/reference/status/208/index.md
  files/en-us/web/http/reference/status/226/index.md
  files/en-us/web/http/reference/status/300/index.md
Labels: Content:HTTP, size/s

#38685 Fix guidelines for securitypolicyviolation listening
  files/en-us/web/api/document/securitypolicyviolation_event/index.md
  files/en-us/web/api/element/securitypolicyviolation_event/index.md
Labels: Content:WebAPI, size/s

#39032 FF138 Relnote: FedCM Login Status API
  files/en-us/mozilla/firefox/releases/138/index.md
Labels: Content:Firefox, size/xs

#39076 Fix content issues
  files/en-us/web/api/deferredrequestinit/index.md
  files/en-us/web/css/_doublecolon_column/index.md
Labels: Content:CSS, Content:WebAPI, size/s

#39078 fix typo
  files/en-us/web/http/reference/status/102/index.md
Labels: Content:HTTP, size/xs

#39020 chore: Remove references to deprecated params in compat and specification macros
  files/en-us/mdn/writing_guidelines/page_structures/links/index.md
  files/en-us/mdn/writing_guidelines/page_structures/macros/commonly_used_macros/index.md
Labels: Content:Meta, size/s

#39072 fix(htmlsidebar): Make top-level items links
  files/sidebars/htmlsidebar.yaml
Labels: size/xs

#38867 CookieStore disabled 136
  files/en-us/mozilla/firefox/releases/136/index.md
Labels: Content:Firefox, size/s

#39083 Fix CSS syntax errors
  files/en-us/learn_web_development/core/styling_basics/combinators/index.md
  files/en-us/learn_web_development/extensions/testing/html_and_css/index.md
  files/en-us/web/accessibility/guides/colors_and_luminance/index.md
  files/en-us/web/api/cssstylevalue/parse_static/index.md
  files/en-us/web/css/@container/index.md
  files/en-us/web/css/@scope/index.md
  files/en-us/web/css/@starting-style/index.md
  files/en-us/web/css/_colon_nth-last-child/index.md
  files/en-us/web/css/animation-range-start/index.md
  files/en-us/web/css/animation-range/index.md
  files/en-us/web/css/class_selectors/index.md
  files/en-us/web/css/exp/index.md
  files/en-us/web/css/id_selectors/index.md
  files/en-us/web/css/image/image/index.md
  files/en-us/web/css/ray/index.md
  files/en-us/web/css/view-timeline-axis/index.md
  files/en-us/web/css/view-timeline-inset/index.md
  files/en-us/web/html/reference/global_attributes/contenteditable/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:Learn, Content:Accessibility, size/m

#39070 Remove experimental flag from Reporting API doc
  files/en-us/web/api/reporting_api/index.md
Labels: Content:WebAPI, size/s

#39090 Avoid double DD
  files/en-us/web/html/reference/elements/button/index.md
Labels: Content:HTML, size/s

#39091 chore: remove unwanted asterisks
  files/en-us/learn_web_development/core/styling_basics/attribute_selectors/index.md
Labels: Content:Learn, size/s

#39101 chore: fixes wrong installation commands
  files/en-us/learn_web_development/extensions/server-side/express_nodejs/development_environment/index.md
Labels: Content:Learn, size/xs

#39102 chore: remove one of the browser-compat keys
  files/en-us/web/api/network_information_api/index.md
Labels: Content:WebAPI, size/xs

#39104 fixes: Wasm memory.fill and memory.copy pages link to multiMemory instead of bulk-memory-operations
  files/en-us/webassembly/reference/memory/copy/index.md
  files/en-us/webassembly/reference/memory/fill/index.md
  files/en-us/webassembly/reference/memory/grow/index.md
  files/en-us/webassembly/reference/memory/load/index.md
  files/en-us/webassembly/reference/memory/size/index.md
  files/en-us/webassembly/reference/memory/store/index.md
Labels: Content:wasm, size/m

#39103 chore: update css snippet
  files/en-us/web/css/css_counter_styles/using_css_counters/index.md
Labels: Content:CSS, size/xs

#39108 Remove reference to yeared ES spec
  files/en-us/glossary/javascript/index.md
Labels: Content:Glossary, size/xs

#39105 Fix anchors
  files/en-us/learn_web_development/howto/solve_javascript_problems/index.md
  files/en-us/mdn/writing_guidelines/page_structures/feature_status/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/onbeforenavigate/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/oncommitted/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/oncompleted/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/oncreatednavigationtarget/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/ondomcontentloaded/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/onhistorystateupdated/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/onreferencefragmentupdated/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/ontabreplaced/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onauthrequired/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onbeforeredirect/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onbeforerequest/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onbeforesendheaders/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/oncompleted/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onerroroccurred/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onheadersreceived/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onresponsestarted/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onsendheaders/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/content_security_policy/index.md
  files/en-us/mozilla/add-ons/webextensions/modify_a_web_page/index.md
  files/en-us/web/api/screen_capture_api/element_region_capture/index.md
  files/en-us/web/api/webxr_device_api/cameras/index.md
  files/en-us/web/css/border-image-repeat/index.md
  files/en-us/web/css/css_values_and_units/index.md
  files/en-us/web/css/mask-border-repeat/index.md
  files/en-us/web/css/order/index.md
Labels: Content:CSS, Content:WebExt, Content:WebAPI, Content:Learn, Content:Meta, size/m

#39097 Make Element and Attributes list pages reachable in MathML sidebar
  files/sidebars/mathmlref.yaml
Labels: size/xs

#39112 fix: add missing part of br instruction
  files/en-us/webassembly/reference/control_flow/index.md
Labels: Content:wasm, size/xs

#39019 Add note about the staged rollout - unship UA styles for h1 in article, aside, nav, section
  files/en-us/mozilla/firefox/releases/138/index.md
Labels: Content:Firefox, size/s

#39113 fix: spelling
  .vscode/dictionaries/terms-abbreviations.txt
  files/en-us/learn_web_development/howto/solve_javascript_problems/index.md
  files/en-us/web/api/devicemotioneventrotationrate/alpha/index.md
  files/en-us/web/api/devicemotioneventrotationrate/beta/index.md
  files/en-us/web/api/devicemotioneventrotationrate/gamma/index.md
  files/en-us/web/api/fetchlater_api/fetchlater_quotas/index.md
  files/en-us/web/css/_doublecolon_column/index.md
  files/en-us/web/css/css_overflow/css_carousels/index.md
Labels: Content:CSS, Content:WebAPI, Content:Learn, system, size/s

#39089 Synchronize with BCD v6.0.5
  files/en-us/web/api/commandevent/command/index.md
  files/en-us/web/api/commandevent/commandevent/index.md
  files/en-us/web/api/commandevent/index.md
  files/en-us/web/api/commandevent/source/index.md
  files/en-us/web/api/htmlbuttonelement/command/index.md
  files/en-us/web/api/htmlbuttonelement/commandforelement/index.md
  files/en-us/web/api/htmlelement/command_event/index.md
  files/en-us/web/api/invoker_commands_api/index.md
  files/en-us/web/api/window/index.md
  files/en-us/web/css/_colon_target-current/index.md
  files/en-us/web/css/_doublecolon_column/index.md
  files/en-us/web/css/_doublecolon_scroll-button/index.md
  files/en-us/web/css/_doublecolon_scroll-marker-group/index.md
  files/en-us/web/css/_doublecolon_scroll-marker/index.md
  files/en-us/web/html/reference/elements/button/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, size/m

#38991 Use the {{CSSSyntaxRaw}} macro for formal syntax
  files/en-us/web/css/-moz-float-edge/index.md
  files/en-us/web/css/-moz-force-broken-image-icon/index.md
  files/en-us/web/css/-moz-image-region/index.md
  files/en-us/web/css/-moz-orient/index.md
  files/en-us/web/css/-moz-user-focus/index.md
  files/en-us/web/css/-moz-user-input/index.md
  files/en-us/web/css/-webkit-border-before/index.md
  files/en-us/web/css/-webkit-box-reflect/index.md
  files/en-us/web/css/-webkit-mask-box-image/index.md
  files/en-us/web/css/-webkit-mask-composite/index.md
  files/en-us/web/css/-webkit-mask-position-x/index.md
  files/en-us/web/css/-webkit-mask-position-y/index.md
  files/en-us/web/css/-webkit-mask-repeat-x/index.md
  files/en-us/web/css/-webkit-mask-repeat-y/index.md
  files/en-us/web/css/-webkit-tap-highlight-color/index.md
  files/en-us/web/css/-webkit-text-security/index.md
  files/en-us/web/css/-webkit-touch-callout/index.md
  files/en-us/web/css/@font-face/font-stretch/index.md
  files/en-us/web/css/@font-face/src/index.md
  files/en-us/web/css/@import/layer_function/index.md
  files/en-us/web/css/@starting-style/index.md
  files/en-us/web/css/box-align/index.md
  files/en-us/web/css/box-direction/index.md
  files/en-us/web/css/box-flex-group/index.md
  files/en-us/web/css/box-flex/index.md
  files/en-us/web/css/box-lines/index.md
  files/en-us/web/css/box-ordinal-group/index.md
  files/en-us/web/css/box-orient/index.md
  files/en-us/web/css/box-pack/index.md
  files/en-us/web/css/font-smooth/index.md
  files/en-us/web/css/stop-color/index.md
  files/en-us/web/css/stop-opacity/index.md
  files/en-us/web/css/user-modify/index.md
Labels: Content:CSS, size/m

#38918 New pages: htmllinkelement image srcset and sizes
  files/en-us/web/api/htmllinkelement/imagesizes/index.md
  files/en-us/web/api/htmllinkelement/imagesrcset/index.md
  files/en-us/web/api/htmllinkelement/index.md
Labels: Content:WebAPI, size/m

#38220 Add note to `start_url` to warn users from leaving it unspecified
  files/en-us/web/progressive_web_apps/manifest/reference/start_url/index.md
Labels: Content:PWA, size/xs

#38903 feat(writing style guide): Add guideline for using accessible language
  files/en-us/mdn/writing_guidelines/writing_style_guide/index.md
Labels: Content:Meta, size/m

#39119 fix(AuthenticatorAttestationResponse): quote BLE transport constant
  files/en-us/web/api/authenticatorattestationresponse/gettransports/index.md
Labels: Content:WebAPI, size/xs

#39094 Make all games articles reachable via sidebar
  files/en-us/games/techniques/3d_on_the_web/glsl_shaders/index.md
  files/en-us/games/techniques/controls_gamepad_api/index.md
  files/en-us/games/techniques/crisp_pixel_art_look/index.md
  files/sidebars/gamessidebar.yaml
Labels: Content:Games, size/m

#39095 Add more WebExt articles to the sidebar
  files/sidebars/addonsidebar.yaml
Labels: size/s

#39099 Fix HTML syntax errors
  files/en-us/learn_web_development/core/css_layout/multiple-column_layout/index.md
  files/en-us/learn_web_development/core/structuring_content/html_forms/index.md
  files/en-us/mozilla/firefox/releases/1.5/using_firefox_1.5_caching/index.md
  files/en-us/related/imsc/using_the_imscjs_polyfill/index.md
  files/en-us/web/accessibility/aria/reference/roles/menuitemcheckbox_role/index.md
  files/en-us/web/accessibility/aria/reference/roles/menuitemradio_role/index.md
  files/en-us/web/accessibility/aria/reference/roles/scrollbar_role/index.md
  files/en-us/web/api/canvas_api/manipulating_video_using_canvas/index.md
  files/en-us/web/api/css_typed_om_api/guide/index.md
  files/en-us/web/api/documentfragment/getelementbyid/index.md
  files/en-us/web/api/domimplementation/createhtmldocument/index.md
  files/en-us/web/api/element/ariacolspan/index.md
  files/en-us/web/api/geolocation_api/index.md
  files/en-us/web/api/htmlareaelement/referrerpolicy/index.md
  files/en-us/web/api/htmlelement/translate/index.md
  files/en-us/web/api/htmlimageelement/x/index.md
  files/en-us/web/api/htmlinputelement/list/index.md
  files/en-us/web/api/htmlinputelement/reportvalidity/index.md
  files/en-us/web/api/htmloptionelement/disabled/index.md
  files/en-us/web/api/htmlstyleelement/sheet/index.md
  files/en-us/web/api/htmltextareaelement/maxlength/index.md
  files/en-us/web/api/htmltextareaelement/minlength/index.md
  files/en-us/web/api/screen_wake_lock_api/index.md
  files/en-us/web/api/svgradialgradientelement/fr/index.md
  files/en-us/web/api/treewalker/index.md
  files/en-us/web/api/web_audio_api/controlling_multiple_parameters_with_constantsourcenode/index.md
  files/en-us/web/api/web_audio_api/simple_synth/index.md
  files/en-us/web/api/window/devicepixelratio/index.md
  files/en-us/web/api/xmlhttprequestupload/index.md
  files/en-us/web/css/content/index.md
  files/en-us/web/css/line-style/index.md
  files/en-us/web/css/offset-path/index.md
  files/en-us/web/css/ray/index.md
  files/en-us/web/css/text-emphasis-position/index.md
  files/en-us/web/html/reference/elements/rtc/index.md
  files/en-us/web/html/reference/elements/table/index.md
  files/en-us/web/http/reference/headers/content-security-policy/object-src/index.md
  files/en-us/web/svg/guides/linking/index.md
  files/en-us/web/svg/reference/attribute/preserveaspectratio/index.md
  files/en-us/web/uri/reference/schemes/data/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:Learn, Content:Other, Content:HTTP, Content:Accessibility, Content:SVG, Content:Firefox, size/l

#39117 Correct the grammar rules for !important flag in declarations
  files/en-us/web/css/important/index.md
Labels: Content:CSS, size/xs

#39134 Replace strings with string in webRequest docs
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onauthrequired/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onbeforeredirect/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onbeforerequest/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onbeforesendheaders/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/oncompleted/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onerroroccurred/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onheadersreceived/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onresponsestarted/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onsendheaders/index.md
Labels: Content:WebExt, size/s

#38488 Experiment with adding/updating Scrimba links
  files/en-us/learn_web_development/core/accessibility/index.md
  files/en-us/learn_web_development/core/css_layout/flexbox/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/react_getting_started/index.md
  files/en-us/learn_web_development/core/index.md
  files/en-us/learn_web_development/core/scripting/arrays/index.md
  files/en-us/learn_web_development/core/scripting/functions/index.md
  files/en-us/learn_web_development/core/scripting/index.md
  files/en-us/learn_web_development/core/scripting/variables/index.md
  files/en-us/learn_web_development/core/scripting/what_is_javascript/index.md
  files/en-us/learn_web_development/core/structuring_content/basic_html_syntax/index.md
  files/en-us/learn_web_development/core/structuring_content/index.md
  files/en-us/learn_web_development/core/styling_basics/basic_selectors/index.md
  files/en-us/learn_web_development/core/styling_basics/index.md
  files/en-us/learn_web_development/core/styling_basics/what_is_css/index.md
  files/en-us/learn_web_development/core/text_styling/fundamentals/index.md
  files/en-us/learn_web_development/getting_started/index.md
  files/en-us/learn_web_development/getting_started/your_first_website/adding_interactivity/index.md
  files/en-us/learn_web_development/getting_started/your_first_website/creating_the_content/index.md
  files/en-us/learn_web_development/getting_started/your_first_website/index.md
  files/en-us/learn_web_development/getting_started/your_first_website/publishing_your_website/index.md
  files/en-us/learn_web_development/getting_started/your_first_website/styling_the_content/index.md
  files/en-us/learn_web_development/index.md
  files/en-us/mdn/writing_guidelines/learning_content/index.md
  files/en-us/mdn/writing_guidelines/what_we_write/index.md
  files/en-us/mdn/writing_guidelines/writing_style_guide/index.md
Labels: Content:Learn, Content:Meta, size/m

#39126 Add spaces around | in SVG attribute syntax
  files/en-us/web/svg/reference/attribute/keypoints/index.md
  files/en-us/web/svg/reference/attribute/stroke-linejoin/index.md
  files/en-us/web/svg/reference/element/a/index.md
  files/en-us/web/svg/reference/element/animatemotion/index.md
  files/en-us/web/svg/reference/element/circle/index.md
  files/en-us/web/svg/reference/element/clippath/index.md
  files/en-us/web/svg/reference/element/ellipse/index.md
  files/en-us/web/svg/reference/element/foreignobject/index.md
  files/en-us/web/svg/reference/element/image/index.md
  files/en-us/web/svg/reference/element/line/index.md
  files/en-us/web/svg/reference/element/lineargradient/index.md
  files/en-us/web/svg/reference/element/marker/index.md
  files/en-us/web/svg/reference/element/mask/index.md
  files/en-us/web/svg/reference/element/path/index.md
  files/en-us/web/svg/reference/element/pattern/index.md
  files/en-us/web/svg/reference/element/polygon/index.md
  files/en-us/web/svg/reference/element/polyline/index.md
  files/en-us/web/svg/reference/element/radialgradient/index.md
  files/en-us/web/svg/reference/element/rect/index.md
  files/en-us/web/svg/reference/element/script/index.md
  files/en-us/web/svg/reference/element/stop/index.md
  files/en-us/web/svg/reference/element/svg/index.md
  files/en-us/web/svg/reference/element/symbol/index.md
  files/en-us/web/svg/reference/element/text/index.md
  files/en-us/web/svg/reference/element/textpath/index.md
  files/en-us/web/svg/reference/element/tspan/index.md
  files/en-us/web/svg/reference/element/use/index.md
  files/en-us/web/svg/reference/element/view/index.md
Labels: Content:SVG, size/m

#39137 refactor: SVGAnimatedNumberList structure
  files/en-us/web/api/svganimatednumberlist/index.md
Labels: Content:WebAPI, size/s

#39118 fetchLater corrections and updates
  files/en-us/web/api/deferredrequestinit/index.md
  files/en-us/web/api/fetchlater_api/fetchlater_quotas/index.md
  files/en-us/web/api/window/fetchlater/index.md
Labels: Content:WebAPI, size/m

#39128 Update groupby
  files/en-us/web/javascript/reference/global_objects/object/groupby/index.md
Labels: Content:JS, size/xs

#39093 Make all API pages reachable via sidebar
  files/en-us/web/api/fetchlaterresult/activated/index.md
  files/en-us/web/api/fetchlaterresult/index.md
  files/en-us/web/api/media_source_extensions_api/dash_adaptive_streaming/index.md
  files/en-us/web/api/web_animations_api/tips/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, size/s

#38899 New pages: ElementInternals.ariaBraill - Label and RoleDescription
  files/en-us/web/api/elementinternals/ariabraillelabel/index.md
  files/en-us/web/api/elementinternals/ariabrailleroledescription/index.md
  files/en-us/web/api/elementinternals/index.md
Labels: Content:WebAPI, size/m

#39158 chore: adds missing e
  files/en-us/web/javascript/reference/execution_model/index.md
Labels: Content:JS, size/xs

#39159 Fix title typo
  files/en-us/web/api/htmllinkelement/imagesizes/index.md
  files/en-us/web/api/htmllinkelement/imagesrcset/index.md
Labels: Content:WebAPI, size/s

#39143 Make all JS articles reachable via sidebar
  files/sidebars/jssidebar.yaml
Labels: size/s

#39096 Add more links to the Wasm sidebar
  files/en-us/webassembly/guides/text_format_to_wasm/index.md
  files/sidebars/webassemblysidebar.yaml
Labels: Content:wasm, size/m

#39141 Merge Transforming_XML_with_XSLT subarticles into itself
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/xml/xpath/reference/axes/index.md
  files/en-us/web/xml/xslt/guides/transforming_xml_with_xslt/an_overview/index.md
  files/en-us/web/xml/xslt/guides/transforming_xml_with_xslt/for_further_reading/index.md
  files/en-us/web/xml/xslt/guides/transforming_xml_with_xslt/index.md
Labels: Content:Other, size/m

#39170 Fix method name typo
  files/en-us/web/javascript/reference/global_objects/math/expm1/index.md
Labels: Content:JS, size/xs

#39169 fix typo
  files/en-us/web/api/element/setcapture/index.md
Labels: Content:WebAPI, size/xs

#39161 add: SVGAnimatedPreserveAspectRatio
  files/en-us/web/api/svganimatedpreserveaspectratio/index.md
Labels: Content:WebAPI, size/s

#37785 Remove see also
  files/en-us/learn_web_development/core/scripting/arrays/index.md
Labels: Content:Learn, size/s

#39121 Add `Float16Array` to unsupported types for `crypto.getRandomValues()`
  files/en-us/web/api/crypto/getrandomvalues/index.md
Labels: Content:WebAPI, size/xs

#39124 Update Insertable Streams for MediaStreamTrack API to spec
  files/en-us/web/api/insertable_streams_for_mediastreamtrack_api/index.md
  files/en-us/web/api/mediastreamtrackgenerator/index.md
  files/en-us/web/api/mediastreamtrackgenerator/mediastreamtrackgenerator/index.md
  files/en-us/web/api/mediastreamtrackprocessor/index.md
  files/en-us/web/api/mediastreamtrackprocessor/mediastreamtrackprocessor/index.md
  files/en-us/web/api/mediastreamtrackprocessor/readable/index.md
  files/en-us/web/api/videotrackgenerator/index.md
  files/en-us/web/api/videotrackgenerator/muted/index.md
  files/en-us/web/api/videotrackgenerator/track/index.md
  files/en-us/web/api/videotrackgenerator/videotrackgenerator/index.md
  files/en-us/web/api/videotrackgenerator/writable/index.md
  files/en-us/web/api/web_workers_api/transferable_objects/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, size/m

#39057 Speculation rules tag
  files/en-us/web/html/reference/elements/script/type/speculationrules/index.md
  files/en-us/web/http/reference/headers/sec-speculation-tags/index.md
Labels: Content:HTML, Content:HTTP, size/m

#39175 fix typo
  files/en-us/webassembly/reference/javascript_interface/exception/index.md
Labels: Content:wasm, size/xs

#39162 chore(htmlsidebar): Add links to nested pages
  files/en-us/web/html/reference/attributes/rel/alternate_stylesheet/index.md
  files/en-us/web/html/reference/attributes/rel/compression-dictionary/index.md
  files/en-us/web/html/reference/attributes/rel/dns-prefetch/index.md
  files/en-us/web/html/reference/attributes/rel/manifest/index.md
  files/en-us/web/html/reference/attributes/rel/me/index.md
  files/en-us/web/html/reference/attributes/rel/modulepreload/index.md
  files/en-us/web/html/reference/attributes/rel/noopener/index.md
  files/en-us/web/html/reference/attributes/rel/noreferrer/index.md
  files/en-us/web/html/reference/attributes/rel/preconnect/index.md
  files/sidebars/htmlsidebar.yaml
Labels: Content:HTML, size/m

#39147 Update ext_color_buffer_half_float/index.md
  files/en-us/web/api/ext_color_buffer_half_float/index.md
Labels: Content:WebAPI, size/xs

#39173 deprecated clip property
  files/en-us/web/css/clip/index.md
Labels: Content:CSS, size/s

#39068 Editorial review: Document NavigateEvent.sourceElement property
  files/en-us/web/api/navigateevent/index.md
  files/en-us/web/api/navigateevent/navigateevent/index.md
  files/en-us/web/api/navigateevent/sourceelement/index.md
Labels: Content:WebAPI, size/m
