Repository mdn/content, pull requests merged in 2025-03, with the labels that each got.

#38202 fix(css): plug color-scheme meta tag info on CSS pages
  files/en-us/web/css/@media/prefers-color-scheme/index.md
  files/en-us/web/css/color-scheme/index.md
Labels: Content:CSS, size/s

#38389 Remove experimental mark from `NodeIterator.referenceNode`
  files/en-us/web/api/nodeiterator/index.md
Labels: Content:WebAPI

#38386 Synchronize with BCD v5.6.43
  files/en-us/web/api/filesystemobserver/disconnect/index.md
  files/en-us/web/api/filesystemobserver/filesystemobserver/index.md
  files/en-us/web/api/filesystemobserver/index.md
  files/en-us/web/api/filesystemobserver/observe/index.md
  files/en-us/web/css/@font-face/font-stretch/index.md
  files/en-us/web/css/font-stretch/index.md
  files/en-us/web/css/speak-as/index.md
  files/en-us/web/css/text-box-edge/index.md
  files/en-us/web/css/text-box-trim/index.md
  files/en-us/web/css/text-box/index.md
  files/en-us/web/svg/attribute/font-stretch/index.md
Labels: Content:CSS, Content:WebAPI, Content:SVG, size/m

#38352 Fix wrong KEYCODE_APP_SWITCH code from 181 to 187
  files/en-us/web/api/ui_events/keyboard_event_key_values/index.md
Labels: Content:WebAPI, size/xs

#38392 Fix incorrect link display
  files/en-us/learn_web_development/core/structuring_content/debugging_html/index.md
Labels: Content:Learn, size/xs

#38320 fix(mdn): add notes about inline status macros
  files/en-us/mdn/writing_guidelines/howto/write_an_api_reference/index.md
  files/en-us/mdn/writing_guidelines/page_structures/banners_and_notices/index.md
  files/en-us/mdn/writing_guidelines/page_structures/feature_status/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_constructor_subpage_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_event_subpage_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_landing_page_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_method_subpage_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_property_subpage_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_reference_page_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/aria_page_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/css_function_page_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/css_property_page_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/css_selector_page_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/html_element_page_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/http_header_page_template/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/svg_element_page_template/index.md
Labels: Content:Meta, size/m

#38390 chore: fix the broken links to the "track set" definition
  files/en-us/web/api/mediastream/getaudiotracks/index.md
  files/en-us/web/api/mediastream/gettracks/index.md
Labels: Content:WebAPI, size/xs

#38369 Update links in base documents (`CONTRIBUTING.md`, `README.md`, `REVIEWING.md`)
  CONTRIBUTING.md
  README.md
  REVIEWING.md
Labels: size/s

#38357 Minor plural fix
  files/en-us/web/html/element/script/index.md
Labels: Content:HTML, size/xs

#38397 FF136 Expr Feat/Relnote - SVG discard element
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/136/index.md
Labels: Content:Firefox, size/s

#38351 fix(css): add default values to filter function pages
  files/en-us/web/css/filter-function/blur/index.md
  files/en-us/web/css/filter-function/brightness/index.md
  files/en-us/web/css/filter-function/contrast/index.md
  files/en-us/web/css/filter-function/grayscale/index.md
  files/en-us/web/css/filter-function/hue-rotate/index.md
  files/en-us/web/css/filter-function/invert/index.md
  files/en-us/web/css/filter-function/opacity/index.md
  files/en-us/web/css/filter-function/saturate/index.md
  files/en-us/web/css/filter-function/sepia/index.md
Labels: Content:CSS, size/m

#38395 Update HEVC support status for Firefox
  files/en-us/web/media/guides/formats/video_codecs/index.md
Labels: Content:Media, size/xs

#38342 added the release note for gradient single color stop
  files/en-us/mozilla/firefox/releases/136/index.md
Labels: Content:Firefox, size/xs

#38356 Migrate tabbed CSS interactive examples
  files/en-us/web/css/@layer/index.md
  files/en-us/web/css/@media/index.md
  files/en-us/web/css/@namespace/index.md
  files/en-us/web/css/@supports/index.md
  files/en-us/web/css/_colon_active/index.md
  files/en-us/web/css/_colon_any-link/index.md
  files/en-us/web/css/_colon_autofill/index.md
  files/en-us/web/css/_colon_checked/index.md
  files/en-us/web/css/_colon_default/index.md
  files/en-us/web/css/_colon_disabled/index.md
  files/en-us/web/css/_colon_empty/index.md
  files/en-us/web/css/_colon_enabled/index.md
  files/en-us/web/css/_colon_first-child/index.md
  files/en-us/web/css/_colon_first-of-type/index.md
  files/en-us/web/css/_colon_focus-visible/index.md
  files/en-us/web/css/_colon_focus-within/index.md
  files/en-us/web/css/_colon_focus/index.md
  files/en-us/web/css/_colon_host-context/index.md
  files/en-us/web/css/_colon_host/index.md
  files/en-us/web/css/_colon_host_function/index.md
  files/en-us/web/css/_colon_hover/index.md
  files/en-us/web/css/_colon_in-range/index.md
  files/en-us/web/css/_colon_invalid/index.md
  files/en-us/web/css/_colon_is/index.md
  files/en-us/web/css/_colon_lang/index.md
  files/en-us/web/css/_colon_last-child/index.md
  files/en-us/web/css/_colon_last-of-type/index.md
  files/en-us/web/css/_colon_link/index.md
  files/en-us/web/css/_colon_modal/index.md
  files/en-us/web/css/_colon_not/index.md
  files/en-us/web/css/_colon_nth-child/index.md
  files/en-us/web/css/_colon_nth-last-child/index.md
  files/en-us/web/css/_colon_nth-last-of-type/index.md
  files/en-us/web/css/_colon_nth-of-type/index.md
  files/en-us/web/css/_colon_only-child/index.md
  files/en-us/web/css/_colon_only-of-type/index.md
  files/en-us/web/css/_colon_optional/index.md
  files/en-us/web/css/_colon_out-of-range/index.md
  files/en-us/web/css/_colon_placeholder-shown/index.md
  files/en-us/web/css/_colon_read-only/index.md
  files/en-us/web/css/_colon_read-write/index.md
  files/en-us/web/css/_colon_required/index.md
  files/en-us/web/css/_colon_valid/index.md
  files/en-us/web/css/_colon_visited/index.md
  files/en-us/web/css/_colon_where/index.md
  files/en-us/web/css/_doublecolon_after/index.md
  files/en-us/web/css/_doublecolon_backdrop/index.md
  files/en-us/web/css/_doublecolon_before/index.md
  files/en-us/web/css/_doublecolon_cue/index.md
  files/en-us/web/css/_doublecolon_file-selector-button/index.md
  files/en-us/web/css/_doublecolon_first-letter/index.md
  files/en-us/web/css/_doublecolon_first-line/index.md
  files/en-us/web/css/_doublecolon_marker/index.md
  files/en-us/web/css/_doublecolon_placeholder/index.md
  files/en-us/web/css/_doublecolon_selection/index.md
  files/en-us/web/css/_doublecolon_slotted/index.md
  files/en-us/web/css/attr/index.md
  files/en-us/web/css/content/index.md
  files/en-us/web/css/counter/index.md
  files/en-us/web/css/counters/index.md
Labels: Content:CSS, size/xl

#38415 Fix a typo: 'no already' -> 'not already
  files/en-us/learn_web_development/core/index.md
Labels: Content:Learn, size/xs

#38419 chore(workflows/pr-review-companion): optimize GCS upload
  .github/workflows/pr-review-companion.yml
Labels: system, size/s

#38276 CSSOM_view module page
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/glossary/layout_viewport/index.md
  files/en-us/glossary/viewport/index.md
  files/en-us/glossary/visual_viewport/index.md
  files/en-us/learn_web_development/getting_started/your_first_website/creating_the_content/index.md
  files/en-us/web/api/device_orientation_events/using_device_orientation_with_3d_transforms/index.md
  files/en-us/web/api/element/dblclick_event/index.md
  files/en-us/web/api/element/mousedown_event/index.md
  files/en-us/web/api/element/mouseenter_event/index.md
  files/en-us/web/api/element/mouseleave_event/index.md
  files/en-us/web/api/element/mousemove_event/index.md
  files/en-us/web/api/element/mouseout_event/index.md
  files/en-us/web/api/element/mouseover_event/index.md
  files/en-us/web/api/element/mouseup_event/index.md
  files/en-us/web/api/element/webkitmouseforcechanged_event/index.md
  files/en-us/web/api/element/webkitmouseforcedown_event/index.md
  files/en-us/web/api/element/webkitmouseforceup_event/index.md
  files/en-us/web/api/element/webkitmouseforcewillbegin_event/index.md
  files/en-us/web/api/mouseevent/clientx/index.md
  files/en-us/web/api/mouseevent/clienty/index.md
  files/en-us/web/api/mouseevent/index.md
  files/en-us/web/api/mouseevent/offsetx/index.md
  files/en-us/web/api/mouseevent/offsety/index.md
  files/en-us/web/api/mouseevent/pagex/index.md
  files/en-us/web/api/mouseevent/pagey/index.md
  files/en-us/web/api/mouseevent/screenx/index.md
  files/en-us/web/api/mouseevent/screeny/index.md
  files/en-us/web/css/box-edge/index.md
  files/en-us/web/css/css_conditional_rules/index.md
  files/en-us/web/css/css_overflow/index.md
  files/en-us/web/css/css_overscroll_behavior/index.md
  files/en-us/web/css/css_transforms/index.md
  files/en-us/web/css/cssom_view/coordinate_systems/index.md
  files/en-us/web/css/cssom_view/index.md
  files/en-us/web/css/cssom_view/viewport_concepts/index.md
  files/en-us/web/css/x/index.md
  files/en-us/web/css/y/index.md
  files/sidebars/cssref.yaml
Labels: Content:CSS, Content:WebAPI, Content:Learn, Content:Glossary, size/m

#38421 Add live example for `::details-content`
  files/en-us/web/css/_doublecolon_details-content/index.md
Labels: Content:CSS, size/s

#38398 fix typos
  .vscode/dictionaries/ignore-list.txt
  .vscode/dictionaries/non-english.txt
  .vscode/dictionaries/proper-names.txt
  .vscode/dictionaries/terms-abbreviations.txt
  files/en-us/glossary/leading/index.md
  files/en-us/learn_web_development/getting_started/soft_skills/research_and_learning/index.md
  files/en-us/mdn/writing_guidelines/page_structures/feature_status/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/index.md
  files/en-us/mozilla/firefox/releases/136/index.md
  files/en-us/web/api/filesystemchangerecord/index.md
  files/en-us/web/css/text-box-trim/index.md
  files/en-us/web/css/text-edge/index.md
  files/en-us/web/html/attributes/for/index.md
  files/en-us/web/html/attributes/size/index.md
  files/en-us/web/html/element/input/time/index.md
  files/en-us/web/html/element/ins/index.md
  files/en-us/web/html/element/pre/index.md
  files/en-us/web/html/element/u/index.md
  files/en-us/web/html/global_attributes/spellcheck/index.md
Labels: Content:CSS, Content:HTML, Content:WebExt, Content:WebAPI, Content:Learn, Content:Glossary, Content:Firefox, Content:Meta, system, size/m

#38425 Fix grammar
  files/en-us/web/api/web_crypto_api/non-cryptographic_uses_of_subtle_crypto/index.md
Labels: Content:WebAPI, size/xs

#38418 Minor fix for `Request.clone` referring to request with `Response` type
  files/en-us/web/api/request/clone/index.md
Labels: Content:WebAPI, size/xs

#38387 Reference for stage 3 math-sum
  files/en-us/web/javascript/reference/global_objects/math/index.md
  files/en-us/web/javascript/reference/global_objects/math/sumprecise/index.md
Labels: Content:JS, size/m

#38326 Draft a page on polyfills
  files/en-us/mdn/writing_guidelines/page_structures/polyfills/index.md
Labels: Content:Meta, size/m

#38348 userScripts documentation fixups
  files/en-us/mozilla/add-ons/webextensions/api/userscripts/index.md
  files/en-us/mozilla/add-ons/webextensions/api/userscripts/registereduserscript/index.md
  files/en-us/mozilla/add-ons/webextensions/api/userscripts/worldproperties/index.md
Labels: Content:WebExt, size/s

#38429 Consistency: visual formatting model
  files/en-us/web/css/css_box_model/introduction_to_the_css_box_model/index.md
  files/en-us/web/css/css_box_model/mastering_margin_collapsing/index.md
  files/en-us/web/css/css_cascade/actual_value/index.md
  files/en-us/web/css/css_cascade/computed_value/index.md
  files/en-us/web/css/css_cascade/initial_value/index.md
  files/en-us/web/css/css_cascade/used_value/index.md
  files/en-us/web/css/css_display/block_and_inline_layout_in_normal_flow/index.md
  files/en-us/web/css/css_display/introduction_to_formatting_contexts/index.md
  files/en-us/web/css/css_values_and_units/value_definition_syntax/index.md
  files/en-us/web/css/inline_formatting_context/index.md
  files/en-us/web/css/layout_mode/index.md
  files/en-us/web/css/replaced_element/index.md
  files/en-us/web/css/visual_formatting_model/index.md
Labels: Content:CSS, size/s

#38434 FF137 Relnote: SVG <discard> element
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/137/index.md
Labels: Content:Firefox, size/s

#38432 FF137 Relnote: JS Math.sumPrecise() supported
  files/en-us/mozilla/firefox/releases/137/index.md
Labels: Content:Firefox, size/xs

#38343 37937 allow gradients with single color stop
  files/en-us/web/css/gradient/conic-gradient/index.md
  files/en-us/web/css/gradient/linear-gradient/index.md
  files/en-us/web/css/gradient/radial-gradient/index.md
Labels: Content:CSS, Content:Firefox, size/s

#38312 updated the experimental release note for scroll driven animations
  files/en-us/mozilla/firefox/experimental_features/index.md
Labels: Content:Firefox, size/s

#38212 added hyphenate-limit-chars to experimental ff release
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/136/index.md
Labels: Content:Firefox, size/s

#38441 Add SVGPathSegment methods to Firefox 136 release notes
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/136/index.md
Labels: Content:Firefox, size/s

#38446 Slug casing fixes
  files/en-us/_redirects.txt
  files/en-us/web/css/cssom_view/coordinate_systems/index.md
  files/en-us/web/css/cssom_view/index.md
  files/en-us/web/css/cssom_view/viewport_concepts/index.md
Labels: Content:CSS, size/s

#38452 fix(workflows/pr-review-companion): exclude parent from upload
  .github/workflows/pr-review-companion.yml
Labels: system, size/xs

#38451 Fix typo: "get" -> "set" in Firefox 136 release notes for developers
  files/en-us/mozilla/firefox/releases/136/index.md
Labels: Content:Firefox, size/xs

#38433 Ff136 SVG discard element follow up
  files/en-us/web/api/svg_api/index.md
  files/en-us/web/api/svgdiscardelement/index.md
  files/en-us/web/svg/element/discard/bar_discard_event.svg
  files/en-us/web/svg/element/discard/bar_discard_time.svg
  files/en-us/web/svg/element/discard/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, Content:SVG, size/m

#38436 FF137 Relnote: HVEC support
  files/en-us/mozilla/firefox/releases/137/index.md
  files/en-us/web/media/guides/formats/video_codecs/index.md
Labels: Content:Media, Content:Firefox, size/s

#38424 move page: css at rule functions
  files/en-us/_redirects.txt
  files/en-us/web/css/@container/index.md
  files/en-us/web/css/@import/index.md
  files/en-us/web/css/@namespace/index.md
  files/en-us/web/css/@supports/index.md
  files/en-us/web/css/@view-transition/index.md
  files/en-us/web/css/css_namespaces/index.md
  files/en-us/web/css/css_syntax/at-rule/index.md
  files/en-us/web/css/css_syntax/at-rule_functions/index.md
  files/en-us/web/css/css_syntax/index.md
Labels: Content:CSS, size/s

#38457 Synchronize with BCD v5.7.0
  files/en-us/web/api/document/afterscriptexecute_event/index.md
  files/en-us/web/api/document/beforescriptexecute_event/index.md
  files/en-us/web/api/document/index.md
  files/en-us/web/api/element/afterscriptexecute_event/index.md
  files/en-us/web/api/element/beforescriptexecute_event/index.md
  files/en-us/web/api/element/index.md
  files/en-us/web/api/svgdiscardelement/index.md
  files/en-us/web/svg/element/discard/index.md
Labels: Content:WebAPI, Content:SVG, size/s

#38450 Update WebDriver Classic browser-compat keys
  files/en-us/web/webdriver/reference/commands/closewindow/index.md
  files/en-us/web/webdriver/reference/commands/getelementattribute/index.md
  files/en-us/web/webdriver/reference/commands/getelementproperty/index.md
  files/en-us/web/webdriver/reference/commands/getelementtagname/index.md
  files/en-us/web/webdriver/reference/commands/gettimeouts/index.md
  files/en-us/web/webdriver/reference/commands/getwindowhandles/index.md
  files/en-us/web/webdriver/reference/commands/getwindowrect/index.md
  files/en-us/web/webdriver/reference/commands/index.md
  files/en-us/web/webdriver/reference/commands/newwindow/index.md
  files/en-us/web/webdriver/reference/commands/settimeouts/index.md
  files/en-us/web/webdriver/reference/commands/setwindowrect/index.md
Labels: Content:WebDriver, size/s

#38471 Fix errors
  files/en-us/learn_web_development/howto/web_mechanics/what_is_a_url/index.md
  files/en-us/web/accessibility/understanding_wcag/keyboard/index.md
Labels: Content:Learn, Content:Accessibility, size/s

#38466 Fixed typos
  files/en-us/web/api/xmlhttprequest_api/using_xmlhttprequest/index.md
Labels: Content:WebAPI, size/xs

#38458 Move guide: svg as bg image
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mozilla/firefox/releases/8/index.md
  files/en-us/web/css/background-size/index.md
  files/en-us/web/css/css_backgrounds_and_borders/index.md
  files/en-us/web/css/css_backgrounds_and_borders/resizing_background_images/index.md
  files/en-us/web/css/css_backgrounds_and_borders/scaling_of_svg_backgrounds/100px-height-3x4-ratio.svg
  files/en-us/web/css/css_backgrounds_and_borders/scaling_of_svg_backgrounds/100px-wide-no-height-or-ratio.svg
  files/en-us/web/css/css_backgrounds_and_borders/scaling_of_svg_backgrounds/index.md
  files/en-us/web/css/css_backgrounds_and_borders/scaling_of_svg_backgrounds/no-dimensions-1x1-ratio.svg
  files/en-us/web/css/css_backgrounds_and_borders/scaling_of_svg_backgrounds/no-dimensions-or-ratio.svg
  files/en-us/web/css/scaling_of_svg_backgrounds/100px-height-3x4-ratio-contain.png
  files/en-us/web/css/scaling_of_svg_backgrounds/100px-height-3x4-ratio-cover.png
  files/en-us/web/css/scaling_of_svg_backgrounds/100px-height-3x4-ratio.png
  files/en-us/web/css/scaling_of_svg_backgrounds/100px-wide-no-height-or-ratio-auto-length.png
  files/en-us/web/css/scaling_of_svg_backgrounds/100px-wide-no-height-or-ratio-contain.png
  files/en-us/web/css/scaling_of_svg_backgrounds/100px-wide-no-height-or-ratio-length-auto.png
  files/en-us/web/css/scaling_of_svg_backgrounds/100px-wide-no-height-or-ratio.png
  files/en-us/web/css/scaling_of_svg_backgrounds/1auto-100px-height-3x4-ratio.png
  files/en-us/web/css/scaling_of_svg_backgrounds/1auto-no-dimensions-1x1-ratio.png
  files/en-us/web/css/scaling_of_svg_backgrounds/1auto-no-dimensions-or-ratio.png
  files/en-us/web/css/scaling_of_svg_backgrounds/auto-100px-height-3x4-ratio.png
  files/en-us/web/css/scaling_of_svg_backgrounds/auto-100px-wide-no-height-or-ratio.png
  files/en-us/web/css/scaling_of_svg_backgrounds/auto-no-dimensions-1x1-ratio.png
  files/en-us/web/css/scaling_of_svg_backgrounds/auto-no-dimensions-or-ratio.png
  files/en-us/web/css/scaling_of_svg_backgrounds/fixed-100px-height-3x4-ratio.png
  files/en-us/web/css/scaling_of_svg_backgrounds/fixed-100px-wide-no-height-or-ratio.png
  files/en-us/web/css/scaling_of_svg_backgrounds/fixed-no-dimensions-1x1-ratio.png
  files/en-us/web/css/scaling_of_svg_backgrounds/fixed-no-dimensions-or-ratio.png
  files/en-us/web/css/scaling_of_svg_backgrounds/index.md
  files/en-us/web/css/scaling_of_svg_backgrounds/no-dimensions-1x1-ratio-contain.png
  files/en-us/web/css/scaling_of_svg_backgrounds/no-dimensions-1x1-ratio-cover.png
  files/en-us/web/css/scaling_of_svg_backgrounds/no-dimensions-1x1-ratio.png
  files/en-us/web/css/scaling_of_svg_backgrounds/no-dimensions-or-ratio-contain.png
  files/en-us/web/css/scaling_of_svg_backgrounds/no-dimensions-or-ratio.png
Labels: Content:CSS, Content:Firefox, size/xl

#38474 change inline-size to width for media queries
  files/en-us/web/css/css_grid_layout/realizing_common_layouts_using_grids/index.md
Labels: Content:CSS, size/s

#38476 Fix typo
  files/en-us/web/css/css_grid_layout/relationship_of_grid_layout_with_other_layout_methods/index.md
Labels: Content:CSS, size/xs

#38461 Fix browser compatibility for Chromium browers
  files/en-us/web/api/clipboard_api/index.md
Labels: Content:WebAPI, size/xs

#38472 "File a bug report" link to land on "Template choosing" dialog
  files/en-us/mozilla/add-ons/contact_us/index.md
Labels: Content:Other, size/xs

#38485 fix typos
  files/en-us/learn_web_development/getting_started/web_standards/the_web_standards_model/index.md
Labels: Content:Learn, size/xs

#37954 feat(ci): cancel concurrent jobs when checking for merge conflicts
  .github/workflows/pr-rebase-needed.yml
Labels: system, size/s

#38486 Fix range request example
  files/en-us/web/http/headers/range/index.md
Labels: Content:HTTP, size/xs

#38469 Reference for 'TypeError: already executing generator'
  files/en-us/web/javascript/reference/errors/already_executing_generator/index.md
  files/en-us/web/javascript/reference/global_objects/generator/next/index.md
  files/en-us/web/javascript/reference/global_objects/generator/return/index.md
  files/en-us/web/javascript/reference/global_objects/generator/throw/index.md
Labels: Content:JS, size/m

#38440 Update optional NotRestoredReasons
  files/en-us/web/api/performance_api/monitoring_bfcache_blocking_reasons/index.md
Labels: Content:WebAPI, size/m

#38467 added release note for hyphenate-limit-char property
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/137/index.md
Labels: Content:Firefox, size/s

#38455 Bug 1709652 clarify need to restart extension when testing localization
  files/en-us/mozilla/add-ons/webextensions/internationalization/index.md
Labels: Content:WebExt, size/xs

#38494 add css modules to shadow tree glossary term
  files/en-us/glossary/shadow_tree/index.md
Labels: Content:Glossary, size/xs

#38454 add a link
  files/en-us/glossary/snap_positions/index.md
Labels: Content:Glossary, size/xs

#38216 Editorial review: Add docs for scroll-state container queries
  files/en-us/glossary/scroll_snap/index.md
  files/en-us/web/css/@container/index.md
  files/en-us/web/css/container-name/index.md
  files/en-us/web/css/container-type/index.md
  files/en-us/web/css/css_conditional_rules/container_scroll-state_queries/index.md
  files/en-us/web/css/css_conditional_rules/index.md
  files/en-us/web/css/css_containment/container_queries/index.md
  files/en-us/web/css/css_containment/container_size_and_style_queries/index.md
  files/en-us/web/css/position/index.md
Labels: Content:CSS, Content:Glossary, size/xl

#38492 Minor fixes to the destructuring article
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/learn_web_development/core/frameworks_libraries/react_interactivity_events_state/index.md
  files/en-us/mozilla/firefox/releases/34/index.md
  files/en-us/mozilla/firefox/releases/41/index.md
  files/en-us/mozilla/firefox/releases/43/index.md
  files/en-us/mozilla/firefox/releases/52/index.md
  files/en-us/mozilla/firefox/releases/55/index.md
  files/en-us/web/api/mediadevices/devicechange_event/index.md
  files/en-us/web/api/webrtc_api/perfect_negotiation/index.md
  files/en-us/web/javascript/guide/expressions_and_operators/index.md
  files/en-us/web/javascript/guide/grammar_and_types/index.md
  files/en-us/web/javascript/guide/indexed_collections/index.md
  files/en-us/web/javascript/guide/iterators_and_generators/index.md
  files/en-us/web/javascript/guide/language_overview/index.md
  files/en-us/web/javascript/guide/loops_and_iteration/index.md
  files/en-us/web/javascript/reference/deprecated_and_obsolete_features/index.md
  files/en-us/web/javascript/reference/errors/duplicate_parameter/index.md
  files/en-us/web/javascript/reference/errors/is_not_iterable/index.md
  files/en-us/web/javascript/reference/errors/no_properties/index.md
  files/en-us/web/javascript/reference/errors/setter_one_argument/index.md
  files/en-us/web/javascript/reference/errors/strict_non_simple_params/index.md
  files/en-us/web/javascript/reference/functions/arguments/index.md
  files/en-us/web/javascript/reference/functions/arrow_functions/index.md
  files/en-us/web/javascript/reference/functions/default_parameters/index.md
  files/en-us/web/javascript/reference/functions/index.md
  files/en-us/web/javascript/reference/functions/rest_parameters/index.md
  files/en-us/web/javascript/reference/global_objects/array/findlast/index.md
  files/en-us/web/javascript/reference/global_objects/function/function/index.md
  files/en-us/web/javascript/reference/global_objects/function/length/index.md
  files/en-us/web/javascript/reference/global_objects/function/name/index.md
  files/en-us/web/javascript/reference/global_objects/map/groupby/index.md
  files/en-us/web/javascript/reference/global_objects/object/entries/index.md
  files/en-us/web/javascript/reference/global_objects/object/groupby/index.md
  files/en-us/web/javascript/reference/index.md
  files/en-us/web/javascript/reference/iteration_protocols/index.md
  files/en-us/web/javascript/reference/operators/assignment/index.md
  files/en-us/web/javascript/reference/operators/destructuring/index.md
  files/en-us/web/javascript/reference/operators/index.md
  files/en-us/web/javascript/reference/operators/nullish_coalescing_assignment/index.md
  files/en-us/web/javascript/reference/operators/optional_chaining/index.md
  files/en-us/web/javascript/reference/operators/spread_syntax/index.md
  files/en-us/web/javascript/reference/statements/const/index.md
  files/en-us/web/javascript/reference/statements/expression_statement/index.md
  files/en-us/web/javascript/reference/statements/for-await...of/index.md
  files/en-us/web/javascript/reference/statements/for...in/index.md
  files/en-us/web/javascript/reference/statements/for...of/index.md
  files/en-us/web/javascript/reference/statements/let/index.md
  files/en-us/web/javascript/reference/statements/try...catch/index.md
  files/en-us/web/javascript/reference/statements/var/index.md
  files/en-us/web/javascript/reference/statements/with/index.md
  files/en-us/web/javascript/reference/strict_mode/index.md
  files/en-us/web/javascript/reference/trailing_commas/index.md
Labels: Content:WebAPI, Content:JS, Content:Learn, Content:Firefox, size/m

#38388 fix(css): correct ::part description
  files/en-us/web/css/_doublecolon_part/index.md
Labels: Content:CSS, size/xs

#38496 Clarify parseInt behavior
  files/en-us/web/javascript/reference/global_objects/parseint/index.md
Labels: Content:JS, size/xs

#38513 Remove irrelevant note
  files/en-us/web/javascript/reference/functions/arrow_functions/index.md
Labels: Content:JS, size/xs

#38505 fix bad list tags in 'headings and paragraphs'
  files/en-us/learn_web_development/core/structuring_content/headings_and_paragraphs/index.md
Labels: Content:Learn, size/s

#38509 Fix the length of the FileList is 0, not null
  files/en-us/web/api/file_api/using_files_from_web_applications/index.md
Labels: Content:WebAPI, size/xs

#38506 Remove empty sections
  files/en-us/learn_web_development/getting_started/environment_setup/index.md
Labels: Content:Learn, size/xs

#38500 CSS module: hide code / add playground
  files/en-us/web/css/css_shapes/index.md
Labels: Content:CSS, size/s

#38480 Move z-index guides to be directly under module
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/glossary/stacking_context/index.md
  files/en-us/glossary/top_layer/index.md
  files/en-us/web/api/restrictiontarget/fromelement_static/index.md
  files/en-us/web/api/screen_capture_api/element_region_capture/index.md
  files/en-us/web/css/clip-path/index.md
  files/en-us/web/css/contain/index.md
  files/en-us/web/css/css_compositing_and_blending/index.md
  files/en-us/web/css/css_containment/using_css_containment/index.md
  files/en-us/web/css/css_display/containing_block/index.md
  files/en-us/web/css/css_positioned_layout/stacking_context/index.md
  files/en-us/web/css/css_positioned_layout/stacking_context/stacking_context_example_1/index.md
  files/en-us/web/css/css_positioned_layout/stacking_context/stacking_context_example_1/understanding_zindex_05a.png
  files/en-us/web/css/css_positioned_layout/stacking_context/stacking_context_example_1/understanding_zindex_05b.png
  files/en-us/web/css/css_positioned_layout/stacking_context/stacking_context_example_1/understanding_zindex_05c.png
  files/en-us/web/css/css_positioned_layout/stacking_context/stacking_context_example_2/index.md
  files/en-us/web/css/css_positioned_layout/stacking_context/stacking_context_example_3/index.md
  files/en-us/web/css/css_positioned_layout/stacking_context/understanding_zindex_04.png
  files/en-us/web/css/css_positioned_layout/stacking_floating_elements/index.md
  files/en-us/web/css/css_positioned_layout/stacking_without_z-index/index.md
  files/en-us/web/css/css_positioned_layout/understanding_z-index/index.md
  files/en-us/web/css/css_positioned_layout/using_z-index/index.md
  files/en-us/web/css/index.md
  files/en-us/web/css/opacity/index.md
  files/en-us/web/css/perspective/index.md
  files/en-us/web/css/position/index.md
  files/en-us/web/css/reference/index.md
  files/en-us/web/css/transform/index.md
  files/en-us/web/css/visual_formatting_model/index.md
  files/en-us/web/css/will-change/index.md
  files/en-us/web/css/z-index/index.md
Labels: Content:CSS, Content:WebAPI, Content:Glossary, size/m

#38475 Move Houdini guide to CSS properties and values module
  files/en-us/_redirects.txt
  files/en-us/web/css/css_properties_and_values_api/houdini/index.md
  files/en-us/web/css/css_properties_and_values_api/index.md
Labels: Content:CSS, size/s

#38507 Default viewport-percentage units are now specified as identical to large viewport-percentage units
  files/en-us/web/css/length/index.md
Labels: Content:CSS, size/s

#38501 Move DASH streaming guide to media source extensions API, remove info about client configuration
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/media_source_extensions_api/dash_adaptive_streaming/index.md
  files/en-us/web/api/media_source_extensions_api/index.md
  files/en-us/web/media/guides/audio_and_video_delivery/index.md
  files/en-us/web/media/guides/audio_and_video_delivery/live_streaming_web_audio_and_video/index.md
  files/en-us/web/media/guides/audio_and_video_delivery/setting_up_adaptive_streaming_media_sources/index.md
  files/en-us/web/media/index.md
  files/jsondata/GroupData.json
  files/sidebars/mediasidebar.yaml
Labels: Content:WebAPI, Content:Media, size/m

#38523 Synchronize with BCD v5.7.1
  files/en-us/web/api/speechgrammar/index.md
  files/en-us/web/api/speechgrammar/speechgrammar/index.md
  files/en-us/web/api/speechgrammar/src/index.md
  files/en-us/web/api/speechgrammar/weight/index.md
  files/en-us/web/css/basic-shape/shape/index.md
  files/en-us/web/javascript/reference/global_objects/math/index.md
  files/en-us/web/javascript/reference/global_objects/math/sumprecise/index.md
Labels: Content:CSS, Content:WebAPI, Content:JS, size/s

#38524 Fix typo
  files/en-us/web/html/global_attributes/draggable/index.md
Labels: Content:HTML, size/xs

#38521 setPointerCapture example fix
  files/en-us/web/api/element/setpointercapture/index.md
Labels: Content:WebAPI, size/xs

#38517 Update syntax for Navigation.reload
  files/en-us/web/api/navigation/reload/index.md
Labels: Content:WebAPI, size/xs

#38498 fix(ci): auto fix flaws
  files/en-us/mdn/writing_guidelines/page_structures/page_types/page_type_key/index.md
  files/en-us/mozilla/firefox/releases/136/index.md
  files/en-us/web/accessibility/guides/accessibility_and_spatial_patterns/index.md
  files/en-us/web/accessibility/guides/seizure_disorders/index.md
  files/en-us/web/api/css_painting_api/guide/index.md
  files/en-us/web/api/dommatrix/rotateself/index.md
  files/en-us/web/api/dommatrixreadonly/rotate/index.md
  files/en-us/web/api/web_authentication_api/index.md
  files/en-us/web/css/css_conditional_rules/container_scroll-state_queries/index.md
  files/en-us/web/css/css_grid_layout/auto-placement_in_grid_layout/index.md
  files/en-us/web/css/css_media_queries/using_media_queries_for_accessibility/index.md
  files/en-us/web/css/css_ruby_layout/index.md
  files/en-us/web/css/css_values_and_units/index.md
  files/en-us/web/css/cssom_view/viewport_concepts/index.md
  files/en-us/web/css/display/index.md
  files/en-us/web/css/layout_mode/index.md
  files/en-us/web/css/reference/index.md
  files/en-us/web/css/text-edge/index.md
  files/en-us/web/css/visual_formatting_model/index.md
  files/en-us/web/xml/exslt/index.md
  files/en-us/web/xml/exslt/reference/math/highest/index.md
  files/en-us/web/xml/exslt/reference/math/lowest/index.md
  files/en-us/web/xml/exslt/reference/str/split/index.md
  files/en-us/web/xml/exslt/reference/str/tokenize/index.md
Labels: Content:CSS, Content:WebAPI, Content:Other, Content:Accessibility, Content:Firefox, Content:Meta, size/m

#38410 Update FileSystemObserver links to point to dom-examples
  files/en-us/web/api/filesystemobserver/filesystemobserver/index.md
  files/en-us/web/api/filesystemobserver/index.md
Labels: Content:WebAPI, size/xs

#38420 Editorial review: Add docs for GPUTexture.createView() usage option
  files/en-us/web/api/gputexture/createview/index.md
Labels: Content:WebAPI, size/s

#38532 Edit article on HTMLDialogElement open attribute
  files/en-us/web/api/htmldialogelement/open/index.md
  files/en-us/web/html/element/dialog/index.md
Labels: Content:HTML, Content:WebAPI, size/s

#38538 Fix capitalization on Intl.NumberFormat
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/numberformat/index.md
Labels: Content:JS, size/xs

#38448 Bug 1753501 null returns in proxy.onRequest listeners explained
  files/en-us/mozilla/add-ons/webextensions/api/proxy/onrequest/index.md
Labels: Content:WebExt, size/s

#38541 chore: fix typos
  files/en-us/web/css/visual_formatting_model/index.md
Labels: Content:CSS, size/xs

#38545 Fix code/link stuck to text
  files/en-us/glossary/cors-safelisted_response_header/index.md
  files/en-us/learn_web_development/core/styling_basics/attribute_selectors/index.md
  files/en-us/learn_web_development/core/styling_basics/combinators/index.md
  files/en-us/learn_web_development/core/styling_basics/pseudo_classes_and_elements/index.md
  files/en-us/mozilla/add-ons/webextensions/api/commands/command/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webnavigation/onerroroccurred/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onauthrequired/index.md
  files/en-us/mozilla/add-ons/webextensions/content_scripts/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/action/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/browser_action/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/theme/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/popups/index.md
  files/en-us/mozilla/firefox/releases/110/index.md
  files/en-us/mozilla/firefox/releases/130/index.md
  files/en-us/mozilla/firefox/releases/135/index.md
  files/en-us/mozilla/firefox/releases/21/index.md
  files/en-us/mozilla/firefox/releases/23/index.md
  files/en-us/mozilla/firefox/releases/36/index.md
  files/en-us/mozilla/firefox/releases/44/index.md
  files/en-us/mozilla/firefox/releases/58/index.md
  files/en-us/mozilla/firefox/releases/63/index.md
  files/en-us/mozilla/firefox/releases/64/index.md
  files/en-us/mozilla/firefox/releases/8/index.md
Labels: Content:WebExt, Content:Learn, Content:Glossary, Content:Firefox, size/m

#37876 Bug-1930334 to implement background.preferred_environment
  files/en-us/mozilla/add-ons/webextensions/manifest.json/background/index.md
  files/en-us/mozilla/firefox/releases/136/index.md
Labels: Content:WebExt, Content:Firefox, size/s

#38540 fix(ci): fix URL RXs in linters
  .markdownlint.jsonc
  scripts/log-url-issues.js
Labels: system, size/s

#38554 Fix markdownlint un-closed-md-link check
  .markdownlint.jsonc
Labels: system, size/xs

#38519 CSS view transitions: update feature status.
  files/en-us/web/css/css_view_transitions/index.md
Labels: Content:CSS, size/s

#38553 Fix duplicated property
  files/en-us/web/css/css_containment/index.md
Labels: Content:CSS, size/xs

#38542 Fix content issues
  files/en-us/glossary/scroll_snap/index.md
  files/en-us/learn_web_development/core/challenges/index.md
  files/en-us/learn_web_development/core/scripting/functions/index.md
  files/en-us/mdn/community/index.md
  files/en-us/mdn/community/issues/index.md
  files/en-us/mozilla/add-ons/webextensions/api/userscripts_legacy/working_with_userscripts/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/commands/index.md
  files/en-us/mozilla/firefox/releases/134/index.md
  files/en-us/mozilla/firefox/releases/135/index.md
  files/en-us/mozilla/firefox/releases/136/index.md
  files/en-us/web/accessibility/guides/understanding_wcag/perceivable/index.md
  files/en-us/web/api/browsercapturemediastreamtrack/clone/index.md
  files/en-us/web/api/browsercapturemediastreamtrack/cropto/index.md
  files/en-us/web/api/browsercapturemediastreamtrack/restrictto/index.md
  files/en-us/web/api/canvas_api/index.md
  files/en-us/web/api/htmlsourceelement/type/index.md
  files/en-us/web/api/svgfeblendelement/height/index.md
  files/en-us/web/api/svgfeblendelement/result/index.md
  files/en-us/web/api/svgfeblendelement/width/index.md
  files/en-us/web/api/svgfeblendelement/x/index.md
  files/en-us/web/api/svgfeblendelement/y/index.md
  files/en-us/web/api/view_transition_api/index.md
  files/en-us/web/api/web_authentication_api/webauthn_extensions/index.md
  files/en-us/web/css/@font-face/font-weight/index.md
  files/en-us/web/css/@property/syntax/index.md
  files/en-us/web/css/css_box_alignment/box_alignment_in_block_abspos_tables/index.md
  files/en-us/web/css/css_box_sizing/understanding_aspect-ratio/index.md
  files/en-us/web/css/css_cascade/inheritance/index.md
  files/en-us/web/css/css_grid_layout/masonry_layout/index.md
  files/en-us/web/css/css_media_queries/testing_media_queries/index.md
  files/en-us/web/css/cssom_view/coordinate_systems/index.md
  files/en-us/web/css/overflow-anchor/guide_to_scroll_anchoring/index.md
  files/en-us/web/http/methods/put/index.md
  files/en-us/web/javascript/guide/functions/index.md
  files/en-us/web/performance/index.md
Labels: Content:CSS, Content:WebExt, Content:WebAPI, Content:JS, Content:Learn, Content:HTTP, Content:Accessibility, Content:Glossary, Content:Performance, Content:Firefox, Content:Meta, size/m

#38557 change code block from javascript to js
  files/en-us/glossary/time_to_first_byte/index.md
  files/en-us/web/api/htmlinputelement/reportvalidity/index.md
Labels: Content:WebAPI, Content:Glossary, size/xs

#38550 Document how to select color-mix color space
  files/en-us/web/css/color_value/color-mix/index.md
Labels: Content:CSS, size/s

#37917 Expand trusted types guidance
  files/en-us/web/api/trusted_types_api/index.md
  files/en-us/web/api/trustedhtml/index.md
  files/en-us/web/api/trustedscript/index.md
  files/en-us/web/api/trustedscript/tostring/index.md
  files/en-us/web/api/trustedscripturl/index.md
  files/en-us/web/api/trustedscripturl/tostring/index.md
  files/en-us/web/api/trustedtypepolicyfactory/createpolicy/index.md
  files/en-us/web/api/trustedtypepolicyfactory/defaultpolicy/index.md
Labels: Content:WebAPI, size/m

#38503 Remove warning about myIpAddress() in PAC
  files/en-us/web/http/proxy_servers_and_tunneling/proxy_auto-configuration_pac_file/index.md
Labels: Content:HTTP, size/s

#38316 Reference for stage 3 atomics-microwait
  files/en-us/web/javascript/reference/global_objects/atomics/index.md
  files/en-us/web/javascript/reference/global_objects/atomics/pause/index.md
Labels: Content:JS, size/m

#38504 Clearly differentiate between a router and a switch
  files/en-us/learn_web_development/howto/web_mechanics/how_does_the_internet_work/index.md
Labels: Content:Learn, size/s

#38515 Remove empty sections
  files/en-us/learn_web_development/getting_started/index.md
  files/en-us/web/accessibility/aria/reference/roles/comment_role/index.md
  files/en-us/web/accessibility/aria/reference/roles/structural_roles/index.md
  files/en-us/web/accessibility/aria/reference/roles/suggestion_role/index.md
  files/en-us/web/accessibility/aria/reference/roles/tree_role/index.md
  files/en-us/web/accessibility/aria/reference/roles/treegrid_role/index.md
  files/en-us/web/accessibility/aria/reference/roles/treeitem_role/index.md
  files/en-us/web/api/audiodecoder/decode/index.md
  files/en-us/web/api/elementinternals/role/index.md
  files/en-us/web/api/htmlelement/inputmode/index.md
  files/en-us/web/api/mediakeystatusmap/entries/index.md
  files/en-us/web/api/mediastream/addtrack/index.md
  files/en-us/web/api/offscreencanvas/height/index.md
  files/en-us/web/api/offscreencanvas/width/index.md
  files/en-us/web/api/paymentrequest/shippingaddress/index.md
  files/en-us/web/api/paymentrequest/shippingoption/index.md
  files/en-us/web/api/paymentresponse/details/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/index.md
  files/en-us/web/api/rtcoutboundrtpstreamstats/index.md
  files/en-us/web/api/rtcoutboundrtpstreamstats/qualitylimitationreason/index.md
  files/en-us/web/api/rtcrtptransceiver/stopped/index.md
  files/en-us/web/api/texttrackcue/pauseonexit/index.md
  files/en-us/web/api/webrtc_api/session_lifetime/index.md
  files/en-us/web/api/xmlhttprequestupload/loadend_event/index.md
  files/en-us/web/api/xmlhttprequestupload/loadstart_event/index.md
  files/en-us/web/api/xmlhttprequestupload/progress_event/index.md
  files/en-us/web/api/xrcpudepthinformation/index.md
  files/en-us/web/api/xrinputsourcearray/index.md
  files/en-us/web/api/xrreferencespaceevent/referencespace/index.md
  files/en-us/web/api/xrsession/end/index.md
  files/en-us/web/api/xrview/projectionmatrix/index.md
  files/en-us/web/api/xrwebgldepthinformation/index.md
  files/en-us/web/http/headers/sec-purpose/index.md
  files/en-us/web/webdriver/reference/commands/newwindow/index.md
Labels: Content:WebAPI, Content:Learn, Content:HTTP, Content:Accessibility, Content:WebDriver, size/m

#38502 Mention style-src 'unsafe-eval' CSP unimplemented
  files/en-us/web/http/headers/content-security-policy/style-src/index.md
Labels: Content:HTTP, size/s

#38547 Fix multiple WebRTC issues wrt peer connection negotiation
  files/en-us/web/api/rtcpeerconnection/createoffer/index.md
  files/en-us/web/api/rtcpeerconnection/setconfiguration/index.md
  files/en-us/web/api/webrtc_api/perfect_negotiation/index.md
  files/en-us/web/api/webrtc_api/session_lifetime/index.md
  files/en-us/web/api/webrtc_api/using_dtmf/index.md
Labels: Content:WebAPI, size/m

#38574 chore: cache Prettier runs in lintstaged config
  .lintstagedrc.js
Labels: system, size/xs

#38562 FF137 Relnote: SVGPathSegment path data API
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/137/index.md
Labels: Content:Firefox, size/s

#38558 Remove SIMPLE from CSS
  files/en-us/web/css/_colon_empty/index.md
  files/en-us/web/css/background-attachment/index.md
  files/en-us/web/css/background-position-x/index.md
  files/en-us/web/css/background-position-y/index.md
  files/en-us/web/css/border-bottom-color/index.md
  files/en-us/web/css/border-image-slice/index.md
  files/en-us/web/css/border-left-color/index.md
  files/en-us/web/css/border-right-color/index.md
  files/en-us/web/css/border-top-color/index.md
  files/en-us/web/css/box-flex-group/index.md
  files/en-us/web/css/box-lines/index.md
  files/en-us/web/css/clamp/index.md
  files/en-us/web/css/counter/index.md
  files/en-us/web/css/counters/index.md
  files/en-us/web/css/cross-fade/index.md
  files/en-us/web/css/css_animations/using_css_animations/index.md
  files/en-us/web/css/css_colors/relative_colors/index.md
  files/en-us/web/css/css_containment/container_size_and_style_queries/index.md
  files/en-us/web/css/css_display/block_and_inline_layout_in_normal_flow/index.md
  files/en-us/web/css/css_fonts/variable_fonts_guide/index.md
  files/en-us/web/css/css_grid_layout/auto-placement_in_grid_layout/index.md
  files/en-us/web/css/css_grid_layout/grid_template_areas/index.md
  files/en-us/web/css/css_grid_layout/relationship_of_grid_layout_with_other_layout_methods/index.md
  files/en-us/web/css/css_positioned_layout/stacking_context/stacking_context_example_2/index.md
  files/en-us/web/css/css_selectors/using_the__colon_target_pseudo-class_in_selectors/index.md
  files/en-us/web/css/css_shapes/from_box_values/index.md
  files/en-us/web/css/css_shapes/overview_of_shapes/index.md
  files/en-us/web/css/display-internal/index.md
  files/en-us/web/css/filter-function/index.md
  files/en-us/web/css/gradient/index.md
  files/en-us/web/css/gradient/radial-gradient/index.md
  files/en-us/web/css/justify-items/index.md
  files/en-us/web/css/justify-self/index.md
  files/en-us/web/css/layout_cookbook/center_an_element/index.md
  files/en-us/web/css/layout_cookbook/contribute_a_recipe/index.md
  files/en-us/web/css/length-percentage/index.md
  files/en-us/web/css/margin/index.md
  files/en-us/web/css/overlay/index.md
  files/en-us/web/css/overscroll-behavior-x/index.md
  files/en-us/web/css/place-self/index.md
Labels: Content:CSS, size/m

#38561 Fix incorrect composite transformation description
  files/en-us/web/css/animation-composition/index.md
Labels: Content:CSS, size/s

#38548 Advise checking WheelEvent.deltaMode before WheelEvent.delta*
  files/en-us/web/api/wheelevent/deltamode/index.md
  files/en-us/web/api/wheelevent/deltax/index.md
  files/en-us/web/api/wheelevent/deltay/index.md
  files/en-us/web/api/wheelevent/deltaz/index.md
  files/en-us/web/api/wheelevent/index.md
Labels: Content:WebAPI, size/s

#38573 Editorial review: mark maxInterStageShaderComponents as deprecated, provide more info
  files/en-us/web/api/gpusupportedlimits/index.md
Labels: Content:WebAPI, size/m

#38585 Synchronize with BCD v5.7.2
  files/en-us/web/api/htmldialogelement/index.md
  files/en-us/web/api/htmldialogelement/requestclose/index.md
  files/en-us/web/api/speechgrammar/index.md
Labels: Content:WebAPI, size/s

#38572 Editorial review: Document GPUDevice.adapterInfo property
  files/en-us/web/api/gpuadapter/info/index.md
  files/en-us/web/api/gpuadapterinfo/index.md
  files/en-us/web/api/gpudevice/adapterinfo/index.md
  files/en-us/web/api/gpudevice/index.md
Labels: Content:WebAPI, size/m

#38579 Fix: the `this` of the arrow function does not have HEADERS_RECEIVED property
  files/en-us/web/api/xmlhttprequest/getallresponseheaders/index.md
Labels: Content:WebAPI, size/xs

#38529 Help learners remember boolean attr concept
  files/en-us/learn_web_development/core/structuring_content/webpage_metadata/index.md
Labels: Content:Learn, size/xs

#38587 Link to shallow copy
  files/en-us/web/javascript/reference/global_objects/map/index.md
Labels: Content:JS, size/xs

#38533 Sync content categories definition with latest HTML spec
  files/en-us/web/html/content_categories/index.md
Labels: Content:HTML, size/m

#38430 Add documentation for request-close invoker command
  files/en-us/web/html/element/button/index.md
Labels: Content:HTML, size/s

#38594 Fix typo in Promises' "learning outcomes" table
  files/en-us/learn_web_development/extensions/async_js/promises/index.md
Labels: Content:Learn, size/xs

#38583 Update `env/var()` browser-compat frontmatter
  files/en-us/web/css/env/index.md
  files/en-us/web/css/var/index.md
Labels: Content:CSS, size/xs

#38556 Editorial review: Add details about float32-blendable WebGPU feature
  files/en-us/web/api/gpudevice/createrenderpipeline/index.md
  files/en-us/web/api/gpusupportedfeatures/index.md
Labels: Content:WebAPI, size/s

#38563 remove SIMPLE from a11y docs
  files/en-us/web/accessibility/aria/guides/live_regions/index.md
  files/en-us/web/accessibility/aria/reference/attributes/aria-invalid/index.md
  files/en-us/web/accessibility/aria/reference/attributes/aria-multiline/index.md
  files/en-us/web/accessibility/aria/reference/attributes/aria-valuemax/index.md
  files/en-us/web/accessibility/aria/reference/roles/banner_role/index.md
  files/en-us/web/accessibility/aria/reference/roles/switch_role/index.md
  files/en-us/web/accessibility/aria/reference/roles/textbox_role/index.md
  files/en-us/web/accessibility/guides/accessible_web_applications_and_widgets/index.md
  files/en-us/web/accessibility/guides/cognitive_accessibility/index.md
  files/en-us/web/accessibility/guides/colors_and_luminance/index.md
  files/en-us/web/accessibility/guides/seizure_disorders/index.md
  files/en-us/web/accessibility/guides/understanding_wcag/operable/index.md
  files/en-us/web/accessibility/guides/understanding_wcag/perceivable/color_contrast/index.md
  files/en-us/web/accessibility/guides/understanding_wcag/text_labels_and_names/index.md
  files/en-us/web/accessibility/guides/understanding_wcag/understandable/index.md
Labels: Content:Accessibility, size/s

#38564 Remove SIMPLE from HTML
  files/en-us/web/html/attributes/rel/prefetch/index.md
  files/en-us/web/html/element/input/button/index.md
  files/en-us/web/html/element/input/email/index.md
  files/en-us/web/html/element/input/hidden/index.md
  files/en-us/web/html/element/input/image/index.md
  files/en-us/web/html/element/input/submit/index.md
  files/en-us/web/html/element/label/index.md
  files/en-us/web/html/element/meta/name/index.md
  files/en-us/web/html/element/search/index.md
  files/en-us/web/html/element/var/index.md
  files/en-us/web/html/element/video/index.md
  files/en-us/web/html/responsive_images/index.md
Labels: Content:HTML, size/s

#38602 Improve grammar
  files/en-us/web/javascript/reference/global_objects/object/index.md
Labels: Content:JS, size/xs

#38586 Typo on line 228
  files/en-us/web/api/webgpu_api/index.md
Labels: Content:WebAPI, size/xs

#38595 ci(pr-review-companion): port analyze-pr-build script
  .github/workflows/pr-review-companion.yml
  package.json
  scripts/analyze-pr-build.js
  yarn.lock
Labels: system, size/l

#38603 ci(pr-review-companion): checkout content + pass BUILD_OUT_ROOT
  .github/workflows/pr-review-companion.yml
Labels: system, size/s

#38604 ci(pr-review-companion): add missing install step
  .github/workflows/pr-review-companion.yml
Labels: system, size/s

#38605 ci(pr-review-companion): install in content checkout
  .github/workflows/pr-review-companion.yml
Labels: system

#38607 ci(pr-review-companion): remove deployer
  .github/workflows/pr-review-companion.yml
Labels: system, size/m

#38611 ci: remove pr-test-legacy workflow
  .github/workflows/pr-test-legacy.yml
Labels: system, size/m

#38526 Rewrite execution model reference
  files/en-us/web/api/html_dom_api/microtask_guide/index.md
  files/en-us/web/javascript/reference/execution_model/index.md
  files/en-us/web/javascript/reference/execution_model/runtime-environment-diagram.svg
  files/en-us/web/javascript/reference/execution_model/the_javascript_runtime_environment_example.svg
Labels: Content:WebAPI, Content:JS, size/m

#38543 Improve MouseEvent.button
  files/en-us/web/api/mouseevent/button/index.md
  files/en-us/web/api/mouseevent/index.md
Labels: Content:WebAPI, size/s

#38571 fix: Flexbox Aligning items on the cross axis example
  files/en-us/web/css/css_flexible_box_layout/aligning_items_in_a_flex_container/index.md
Labels: Content:CSS, size/xs

#38615 fix typo
  files/en-us/learn_web_development/getting_started/soft_skills/index.md
Labels: Content:Learn, size/xs

#38567 Remove SIMPLE from EVENTS, MEDIA, URI, and XML
  files/en-us/web/events/event_handlers/index.md
  files/en-us/web/media/guides/audio_and_video_delivery/adding_captions_and_subtitles_to_html5_video/index.md
  files/en-us/web/media/guides/audio_and_video_delivery/buffering_seeking_time_ranges/index.md
  files/en-us/web/media/guides/audio_and_video_delivery/cross-browser_audio_basics/index.md
  files/en-us/web/media/guides/audio_and_video_delivery/cross_browser_video_player/index.md
  files/en-us/web/media/guides/audio_and_video_delivery/index.md
  files/en-us/web/media/guides/audio_and_video_delivery/video_player_styling_basics/index.md
  files/en-us/web/media/guides/audio_and_video_manipulation/index.md
  files/en-us/web/media/guides/autoplay/index.md
  files/en-us/web/media/guides/formats/audio_codecs/index.md
  files/en-us/web/media/guides/formats/audio_concepts/index.md
  files/en-us/web/media/guides/formats/codecs_parameter/index.md
  files/en-us/web/media/guides/formats/containers/index.md
  files/en-us/web/media/guides/formats/image_types/index.md
  files/en-us/web/media/guides/formats/webrtc_codecs/index.md
  files/en-us/web/uri/reference/fragment/text_fragments/index.md
  files/en-us/web/uri/reference/schemes/resource/index.md
  files/en-us/web/xml/guides/parsing_and_serializing_xml/index.md
  files/en-us/web/xml/xpath/guides/snippets/index.md
  files/en-us/web/xml/xslt/guides/transforming_xml_with_xslt/an_overview/index.md
Labels: Content:Other, Content:Media, Content:Events, size/m

#38560 Improve `text-rendering` documentation with recommended use cases.
  files/en-us/web/css/text-rendering/index.md
Labels: Content:CSS, size/s

#38614 Add application/json to mime_types guide page
  files/en-us/web/http/guides/mime_types/index.md
Labels: Content:HTTP, size/s

#38568 Fix up COOP HTTP header errors
  files/en-us/web/http/reference/headers/cross-origin-opener-policy/index.md
Labels: Content:HTTP, size/s

#38591 Getting Started with React Edits
  files/en-us/learn_web_development/core/frameworks_libraries/react_getting_started/index.md
Labels: Content:Learn, size/s

#38095 Cookie Store API docs updates - live examples
  files/en-us/web/api/cookiestore/delete/index.md
  files/en-us/web/api/cookiestore/get/index.md
  files/en-us/web/api/cookiestore/getall/index.md
  files/en-us/web/api/cookiestore/index.md
  files/en-us/web/api/cookiestore/set/index.md
Labels: Content:WebAPI, size/l

#38621 Add missing variables
  files/en-us/web/api/textencoderstream/encoding/index.md
  files/en-us/web/api/textencoderstream/readable/index.md
  files/en-us/web/api/textencoderstream/writable/index.md
Labels: Content:WebAPI, size/s

#38625 fix typo
  files/en-us/learn_web_development/howto/web_mechanics/how_does_the_internet_work/index.md
Labels: Content:Learn, size/xs

#38627 fix(scripts/analyze-pr-build): update hidden comment regex
  scripts/analyze-pr-build.js
Labels: system, size/xs

#38628 temporal api enabled by default in nightly
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/137/index.md
Labels: Content:Firefox, size/s

#38565 Reduce SIMPLE in HTTP docs
  files/en-us/web/http/guides/browser_detection_using_the_user_agent/index.md
  files/en-us/web/http/guides/conditional_requests/index.md
  files/en-us/web/http/guides/connection_management_in_http_1.x/index.md
  files/en-us/web/http/guides/cookies/index.md
  files/en-us/web/http/guides/cors/index.md
  files/en-us/web/http/guides/evolution_of_http/index.md
  files/en-us/web/http/guides/overview/index.md
  files/en-us/web/http/guides/protocol_upgrade_mechanism/index.md
  files/en-us/web/http/guides/proxy_servers_and_tunneling/proxy_auto-configuration_pac_file/index.md
  files/en-us/web/http/guides/redirections/index.md
  files/en-us/web/http/guides/session/index.md
  files/en-us/web/http/index.md
  files/en-us/web/http/reference/headers/origin/index.md
Labels: Content:HTTP, size/s

#38631 fix typo
  files/en-us/web/css/page/index.md
Labels: Content:CSS, size/xs

#38619 New replaced elements glossary. Updated replaced element properties guide
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/glossary/ink_overflow/index.md
  files/en-us/glossary/inline-level_content/index.md
  files/en-us/glossary/replaced_elements/index.md
  files/en-us/glossary/void_element/index.md
  files/en-us/learn_web_development/core/structuring_content/html_images/index.md
  files/en-us/learn_web_development/core/styling_basics/images_media_forms/index.md
  files/en-us/web/api/screen_capture_api/element_region_capture/index.md
  files/en-us/web/css/_colon_checked/index.md
  files/en-us/web/css/_doublecolon_after/index.md
  files/en-us/web/css/_doublecolon_before/index.md
  files/en-us/web/css/aspect-ratio/index.md
  files/en-us/web/css/content/index.md
  files/en-us/web/css/css_box_model/introduction_to_the_css_box_model/index.md
  files/en-us/web/css/css_box_model/mastering_margin_collapsing/index.md
  files/en-us/web/css/css_cascade/actual_value/index.md
  files/en-us/web/css/css_cascade/computed_value/index.md
  files/en-us/web/css/css_cascade/initial_value/index.md
  files/en-us/web/css/css_cascade/specified_value/index.md
  files/en-us/web/css/css_cascade/used_value/index.md
  files/en-us/web/css/css_display/block_formatting_context/index.md
  files/en-us/web/css/css_display/containing_block/index.md
  files/en-us/web/css/css_display/index.md
  files/en-us/web/css/css_generated_content/index.md
  files/en-us/web/css/css_images/replaced_element_properties/index.md
  files/en-us/web/css/css_values_and_units/value_definition_syntax/index.md
  files/en-us/web/css/layout_mode/index.md
  files/en-us/web/css/line-height/index.md
  files/en-us/web/css/margin-bottom/index.md
  files/en-us/web/css/margin-top/index.md
  files/en-us/web/css/margin/index.md
  files/en-us/web/css/object-fit/index.md
  files/en-us/web/css/object-position/index.md
  files/en-us/web/css/position/index.md
  files/en-us/web/css/reference/index.md
  files/en-us/web/css/replaced_element/index.md
  files/en-us/web/css/vertical-align/index.md
  files/en-us/web/css/visual_formatting_model/index.md
  files/en-us/web/html/element/fencedframe/index.md
  files/en-us/web/html/element/iframe/index.md
  files/en-us/web/html/element/img/index.md
  files/en-us/web/html/element/input/image/index.md
  files/en-us/web/html/element/input/index.md
  files/en-us/web/html/element/textarea/index.md
  files/en-us/web/media/guides/images/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:Learn, Content:Media, Content:Glossary, size/m

#38626 Write learn web development article on getting jobs
  files/en-us/_redirects.txt
  files/en-us/learn_web_development/getting_started/soft_skills/collaboration_and_teamwork/index.md
  files/en-us/learn_web_development/getting_started/soft_skills/finding_a_job/index.md
  files/en-us/learn_web_development/getting_started/soft_skills/index.md
  files/en-us/learn_web_development/getting_started/soft_skills/job_interviews/index.md
  files/en-us/learn_web_development/getting_started/soft_skills/research_and_learning/index.md
  files/en-us/learn_web_development/getting_started/soft_skills/workflows_and_processes/index.md
  files/sidebars/learnsidebar.yaml
Labels: Content:Learn, size/m

#38639 fix typo
  files/en-us/learn_web_development/core/css_layout/grids/index.md
Labels: Content:Learn, size/s

#38654 Clarify the purpose of default exports
  files/en-us/web/javascript/reference/statements/export/index.md
Labels: Content:JS, size/s

#38656 Fix return value info about `DataTransferItem.getAsFileSystemHandle`
  files/en-us/web/api/datatransferitem/getasfilesystemhandle/index.md
  files/en-us/web/api/datatransferitem/index.md
  files/en-us/web/api/file_system_api/index.md
Labels: Content:WebAPI, size/s

#38660 docs(installing_software): fix grammar error
  files/en-us/learn_web_development/getting_started/environment_setup/installing_software/index.md
Labels: Content:Learn, size/xs

#38651 Synchronize with BCD v5.7.3
  files/en-us/glossary/replaced_elements/index.md
  files/en-us/web/html/attributes/autocomplete/index.md
Labels: Content:HTML, Content:Glossary, size/xs

#38666 Remove GamepadButton property list
  files/en-us/web/api/gamepad/buttons/index.md
Labels: Content:WebAPI, size/s

#38662 Fix typo in "CSS values and units"
  files/en-us/learn_web_development/core/styling_basics/values_and_units/index.md
Labels: Content:Learn, size/xs

#38663 chore: correct the image file name
  files/en-us/web/api/cssimagevalue/magic-wand.png
Labels: Content:WebAPI, size/xs

#38265 fix #38204
  files/en-us/mozilla/add-ons/webextensions/native_manifests/index.md
Labels: Content:WebExt, size/xs

#38634 Update syntax list for `Window.show*Picker`
  files/en-us/web/api/window/showdirectorypicker/index.md
  files/en-us/web/api/window/showopenfilepicker/index.md
  files/en-us/web/api/window/showsavefilepicker/index.md
Labels: Content:WebAPI, size/xs

#38649 Remove anti-a11y preventDefault example
  files/en-us/web/api/event/preventdefault/index.md
Labels: Content:WebAPI, size/m
