Repository mdn/content, pull requests merged in 2025-09, with the labels that each got.

#40957 Fix content issues
  .vscode/dictionaries/proper-names.txt
  .vscode/dictionaries/terms-abbreviations.txt
  files/en-us/learn_web_development/core/structuring_content/forms_challenge/index.md
  files/en-us/learn_web_development/core/structuring_content/marking_up_a_letter/index.md
  files/en-us/learn_web_development/core/structuring_content/splash_page/index.md
  files/en-us/web/api/fedcm_api/idp_integration/index.md
  files/en-us/web/api/web_audio_api/index.md
  files/en-us/web/css/css_cascade/value_processing/index.md
Labels: Content:CSS, Content:WebAPI, Content:Learn, system, size/m

#40958 Reduce text in color-mix syntax examples
  files/en-us/web/css/color_value/color-mix/index.md
Labels: Content:CSS, size/s

#40965 Minor update to WebGL example
  files/en-us/learn_web_development/extensions/client-side_apis/drawing_graphics/index.md
Labels: Content:Learn, size/xs

#37065 feat: simplified example and make the comparison more prominent
  files/en-us/web/css/blend-mode/br.png
  files/en-us/web/css/blend-mode/index.md
  files/en-us/web/css/blend-mode/tr.png
Labels: Content:CSS, awaiting response, size/m

#40953 Fix `DedicatedWorkerGlobalScope` examples with correct time handling
  files/en-us/web/api/dedicatedworkerglobalscope/cancelanimationframe/index.md
  files/en-us/web/api/dedicatedworkerglobalscope/requestanimationframe/index.md
Labels: Content:WebAPI, size/m

#40966 added experimental release note for text-autospace
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/143/index.md
Labels: Content:Firefox, size/s

#40838 Bug-1960011 filter tabs.onUpdated results by cookieStoreId
  files/en-us/mozilla/add-ons/webextensions/api/tabs/onupdated/index.md
  files/en-us/mozilla/firefox/releases/141/index.md
Labels: Content:WebExt, Content:Firefox, size/xs

#40976 remove superflous middle
  files/en-us/web/css/clamp/index.md
Labels: Content:CSS, size/xs

#40970 CSS module: paged media
  files/en-us/web/css/css_paged_media/index.md
Labels: Content:CSS, size/s

#40989 Add BCD to webextensions.api.types.BrowserSetting methods (BCD Issue 26521)
  files/en-us/mozilla/add-ons/webextensions/api/types/browsersetting/clear/index.md
  files/en-us/mozilla/add-ons/webextensions/api/types/browsersetting/get/index.md
  files/en-us/mozilla/add-ons/webextensions/api/types/browsersetting/set/index.md
Labels: Content:WebExt, size/s

#40997 Fix content issues
  files/en-us/learn_web_development/core/styling_basics/fundamental_css_comprehension/business-card.png
  files/en-us/learn_web_development/core/styling_basics/styling_a_bio_page/index.md
  files/en-us/learn_web_development/extensions/client-side_apis/drawing_graphics/index.md
  files/en-us/learn_web_development/extensions/client-side_apis/video_and_audio_apis/index.md
  files/en-us/learn_web_development/extensions/testing/automated_testing/sauce-test-running.png
  files/en-us/web/media/guides/audio_and_video_delivery/cross_browser_video_player/index.md
  files/sidebars/cssref.yaml
Labels: Content:Learn, Content:Media, size/s

#41007 Synchronize with BCD v7.1.2
  files/en-us/web/api/identitycredentialerror/error/index.md
  files/en-us/web/api/identitycredentialerror/identitycredentialerror/index.md
  files/en-us/web/api/identitycredentialerror/index.md
  files/en-us/web/api/identitycredentialerror/url/index.md
  files/en-us/web/html/reference/elements/template/index.md
Labels: Content:HTML, Content:WebAPI, size/s

#40995 Enhance checkbox state description with outline detail
  files/en-us/web/api/customstateset/index.md
Labels: Content:WebAPI, size/xs

#40961 feat: use fred by default
  .github/workflows/pr-check_scripts.yml
  .github/workflows/pr-test.yml
  package.json
Labels: system, size/s

#40987 Add new selectors, box model, and conflicts challenge
  files/en-us/learn_web_development/core/styling_basics/fixing_blog_styles/index.md
  files/en-us/learn_web_development/core/styling_basics/index.md
  files/en-us/learn_web_development/core/styling_basics/test_your_skills/cascade/index.md
  files/en-us/learn_web_development/core/styling_basics/values_and_units/index.md
  files/sidebars/learnsidebar.yaml
Labels: Content:Learn, size/m

#41020 Fix(list-style-position): remove stray text inside <ul> in example
  files/en-us/web/css/list-style-position/index.md
Labels: Content:CSS, size/s

#41018 Webauthn: getClientExtensionResults() returns an object not a Map
  files/en-us/web/api/publickeycredential/getclientextensionresults/index.md
Labels: Content:WebAPI, size/xs

#40955 Bug-1679997 CSS origin for registered content scripts docs and release note
  files/en-us/mozilla/add-ons/webextensions/api/contentscripts/register/index.md
  files/en-us/mozilla/add-ons/webextensions/api/scripting/registeredcontentscript/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/content_scripts/index.md
  files/en-us/mozilla/firefox/releases/144/index.md
Labels: Content:WebExt, Content:Firefox, size/s

#41024 Replace `<scrim-inline>` with `<mdn-scrim-inline>`
  .markdownlint.jsonc
  files/en-us/learn_web_development/core/css_layout/test_your_skills/flexbox/index.md
  files/en-us/learn_web_development/core/scripting/test_your_skills/arrays/index.md
  files/en-us/learn_web_development/core/scripting/test_your_skills/functions/index.md
  files/en-us/learn_web_development/core/scripting/test_your_skills/variables/index.md
  files/en-us/learn_web_development/core/styling_basics/test_your_skills/box_model/index.md
Labels: Content:Learn, system, size/s

#41016 Fix FederatedCredential() constructor options
  files/en-us/web/api/federatedcredential/federatedcredential/index.md
Labels: Content:WebAPI, size/s

#40759 Compression streams helpful notes
  files/en-us/web/api/compression_streams_api/index.md
Labels: Content:WebAPI, size/s

#41029 Mention you can't post SABs across agent clusters
  files/en-us/web/api/broadcastchannel/messageerror_event/index.md
  files/en-us/web/api/broadcastchannel/postmessage/index.md
  files/en-us/web/api/client/postmessage/index.md
  files/en-us/web/api/messageport/message_event/index.md
  files/en-us/web/api/messageport/messageerror_event/index.md
  files/en-us/web/api/messageport/postmessage/index.md
  files/en-us/web/api/serviceworker/postmessage/index.md
Labels: Content:WebAPI, size/m

#41027 Rewrite generator function description
  files/en-us/web/javascript/reference/statements/function_star_/index.md
Labels: Content:JS, size/s

#41039 adding example-bad to code that shows a mistake
  files/en-us/learn_web_development/core/scripting/build_your_own_function/index.md
Labels: Content:Learn, size/xs

#41040 Fix typo. Navigator should be lower case here.
  files/en-us/web/api/navigator/language/index.md
  files/en-us/web/api/navigator/languages/index.md
Labels: Content:WebAPI, size/xs

#41045 Fix content issues
  files/en-us/learn_web_development/core/scripting/silly_story_generator/index.md
  files/en-us/learn_web_development/extensions/testing/html_and_css/index.md
  files/en-us/web/api/periodicsyncevent/index.md
  files/en-us/web/api/periodicsyncevent/periodicsyncevent/index.md
  files/en-us/web/api/periodicsyncevent/tag/index.md
  files/en-us/web/api/periodicsyncmanager/gettags/index.md
  files/en-us/web/api/periodicsyncmanager/index.md
  files/en-us/web/api/periodicsyncmanager/register/index.md
  files/en-us/web/api/periodicsyncmanager/unregister/index.md
  files/en-us/web/api/readablebytestreamcontroller/index.md
  files/en-us/web/api/readablestream/index.md
  files/en-us/web/api/readablestreambyobreader/index.md
  files/en-us/web/api/readablestreamdefaultcontroller/index.md
  files/en-us/web/api/readablestreamdefaultreader/index.md
  files/en-us/web/api/serviceworkerglobalscope/periodicsync_event/index.md
  files/en-us/web/api/serviceworkerglobalscope/sync_event/index.md
  files/en-us/web/api/serviceworkerregistration/periodicsync/index.md
  files/en-us/web/api/web_periodic_background_synchronization_api/index.md
  files/en-us/web/css/blend-mode/index.md
  files/en-us/web/javascript/reference/operators/import.meta/resolve/index.md
Labels: Content:CSS, Content:WebAPI, Content:JS, Content:Learn, size/m

#41059 Fixed demo: textContent is not a function
  files/en-us/web/api/shadowroot/mode/index.md
Labels: Content:WebAPI, size/xs

#41058 Fix variable name
  files/en-us/web/api/rtcstatsreport/index.md
Labels: Content:WebAPI, size/xs

#41064 CSS module: fragmentation
  files/en-us/web/css/css_fragmentation/index.md
Labels: Content:CSS, size/s

#41072 Clean up prerender
  files/en-us/learn_web_development/extensions/performance/html/index.md
  files/en-us/web/api/document/index.md
  files/en-us/web/api/performancenavigationtiming/index.md
  files/en-us/web/api/performancenavigationtiming/type/index.md
  files/en-us/web/api/windowclient/index.md
  files/en-us/web/html/reference/attributes/rel/index.md
  files/en-us/web/performance/guides/navigation_and_resource_timings/index.md
  files/en-us/web/performance/guides/speculative_loading/index.md
Labels: Content:HTML, Content:WebAPI, Content:Learn, Content:Performance, size/s

#41077 fix: remove invalid redirect
  files/en-us/_redirects.txt
Labels: size/xs

#41083 Fix: Calculation typo in `exp()`
  files/en-us/web/css/exp/index.md
Labels: Content:CSS, size/xs

#40962 "fragmentainer" glossary: add links / bold text
  files/en-us/glossary/fragmentainer/index.md
Labels: Content:Glossary, size/s

#41081 Synchronize with BCD v7.1.4
  files/en-us/web/api/document/index.md
  files/en-us/web/api/document/prerendering/index.md
  files/en-us/web/api/performancenavigationtiming/activationstart/index.md
  files/en-us/web/api/performancenavigationtiming/index.md
  files/en-us/web/api/performanceresourcetiming/deliverytype/index.md
  files/en-us/web/api/request/destination/index.md
  files/en-us/web/api/speculation_rules_api/index.md
  files/en-us/web/html/reference/elements/script/type/index.md
  files/en-us/web/html/reference/elements/script/type/speculationrules/index.md
  files/en-us/web/http/reference/headers/clear-site-data/index.md
  files/en-us/web/http/reference/headers/sec-speculation-tags/index.md
  files/en-us/web/http/reference/headers/speculation-rules/index.md
  files/en-us/web/http/reference/headers/supports-loading-mode/index.md
Labels: Content:HTML, Content:WebAPI, Content:HTTP, size/m

#41073 Move Subdomain takeover attack to Attacks tree
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/security/attacks/index.md
  files/en-us/web/security/attacks/subdomain_takeover/index.md
  files/sidebars/security.yaml
Labels: Content:Security, size/s

#41089 Change location type from string to number
  files/en-us/web/api/keyboardevent/keyboardevent/index.md
Labels: Content:WebAPI, size/xs

#41106 Mention `new Set()` accepts `undefined`
  files/en-us/web/javascript/reference/global_objects/map/map/index.md
  files/en-us/web/javascript/reference/global_objects/set/set/index.md
Labels: Content:JS, size/s

#41096 Associated listed form controls
  files/en-us/web/api/htmlformcontrolscollection/index.md
  files/en-us/web/api/htmlformelement/elements/index.md
Labels: Content:WebAPI, size/m

#41120 Make all JSON code syntactically valid
  files/en-us/learn_web_development/core/frameworks_libraries/svelte_deployment_next/index.md
  files/en-us/learn_web_development/extensions/client-side_tools/deployment/index.md
  files/en-us/learn_web_development/extensions/client-side_tools/introducing_complete_toolchain/index.md
  files/en-us/learn_web_development/extensions/client-side_tools/package_management/index.md
  files/en-us/learn_web_development/extensions/server-side/express_nodejs/deployment/index.md
  files/en-us/learn_web_development/extensions/server-side/express_nodejs/development_environment/index.md
  files/en-us/learn_web_development/extensions/server-side/express_nodejs/skeleton_website/index.md
  files/en-us/learn_web_development/extensions/testing/automated_testing/index.md
  files/en-us/mdn/writing_guidelines/howto/json_structured_data/index.md
  files/en-us/mdn/writing_guidelines/howto/write_an_api_reference/sidebars/index.md
  files/en-us/web/api/attribution_reporting_api/generating_reports/index.md
  files/en-us/web/api/idbindex/objectstore/index.md
  files/en-us/web/api/launch_handler_api/index.md
  files/en-us/web/api/performance/measureuseragentspecificmemory/index.md
  files/en-us/web/api/performance_api/long_animation_frame_timing/index.md
  files/en-us/web/api/performancelonganimationframetiming/tojson/index.md
  files/en-us/web/api/performancescripttiming/tojson/index.md
  files/en-us/web/api/subtlecrypto/importkey/index.md
  files/en-us/web/progressive_web_apps/manifest/reference/launch_handler/index.md
  files/en-us/web/progressive_web_apps/manifest/reference/name/index.md
  files/en-us/web/progressive_web_apps/manifest/reference/protocol_handlers/index.md
  files/en-us/web/progressive_web_apps/manifest/reference/scope_extensions/index.md
  files/en-us/web/progressive_web_apps/manifest/reference/short_name/index.md
  files/en-us/web/progressive_web_apps/manifest/reference/start_url/index.md
  files/en-us/web/webdriver/reference/capabilities/firefoxoptions/index.md
  files/en-us/web/webdriver/reference/capabilities/websocketurl/index.md
Labels: Content:WebAPI, Content:Learn, Content:WebDriver, Content:Meta, Content:PWA, size/m

#41086 40778 color input value
  files/en-us/web/html/reference/attributes/index.md
  files/en-us/web/html/reference/elements/input/color/index.md
  files/en-us/web/html/reference/elements/input/index.md
Labels: Content:HTML, size/m

#41146 added ff release note for nested pseudo-elements
  files/en-us/mozilla/firefox/releases/143/index.md
Labels: Content:Firefox, size/xs

#41126 FF143 GPU import external texture experimental relnote
  files/en-us/mozilla/firefox/releases/143/index.md
Labels: Content:Firefox, size/xs

#41160 fix grammar in SVG
  files/en-us/web/svg/reference/attribute/d/index.md
Labels: Content:SVG, size/s

#41005 `abs()` function: update parameter and return value
  files/en-us/web/css/abs/index.md
Labels: Content:CSS, size/s

#41006 blur() function: parameters and syntax
  files/en-us/web/css/filter-function/blur/index.md
Labels: Content:CSS, size/s

#41112 fix: correct SubtleCrypto.deriveKey and its related dictionaries
  files/en-us/web/api/aesderivedkeyparams/index.md
  files/en-us/web/api/hmacimportparams/index.md
  files/en-us/web/api/subtlecrypto/derivekey/index.md
Labels: Content:WebAPI, size/m

#41043 Fix AbortController being reused in multiple fetch requests in some o…
  files/en-us/web/api/abortcontroller/abort/index.md
  files/en-us/web/api/abortcontroller/abortcontroller/index.md
  files/en-us/web/api/abortcontroller/index.md
  files/en-us/web/api/abortcontroller/signal/index.md
  files/en-us/web/api/abortsignal/index.md
Labels: Content:WebAPI, size/m

#41161 deprecate MathML STIXGeneral font
  files/en-us/mozilla/firefox/releases/144/index.md
Labels: Content:Firefox, size/s

#41180 Clarify how to achieve implicit to/from keyframes
  files/en-us/web/api/element/animate/index.md
  files/en-us/web/api/web_animations_api/keyframe_formats/index.md
Labels: Content:WebAPI, size/m

#41189 Dispel ambiguity in `Using classes`
  files/en-us/web/javascript/guide/using_classes/index.md
Labels: Content:JS, size/xs

#40528 Editorial review: Add docs for the viewport segments api
  files/en-us/web/api/viewport/index.md
  files/en-us/web/api/viewport/segments/index.md
  files/en-us/web/api/viewport_segments_api/index.md
  files/en-us/web/api/viewport_segments_api/using/env-var-indices.png
  files/en-us/web/api/viewport_segments_api/using/index.md
  files/en-us/web/api/window/index.md
  files/en-us/web/api/window/viewport/index.md
  files/en-us/web/css/@media/horizontal-viewport-segments/index.md
  files/en-us/web/css/@media/index.md
  files/en-us/web/css/@media/vertical-viewport-segments/index.md
  files/en-us/web/css/css_environment_variables/index.md
  files/en-us/web/css/css_fragmentation/index.md
  files/en-us/web/css/css_media_queries/index.md
  files/en-us/web/css/env/env-var-indices.png
  files/en-us/web/css/env/index.md
  files/jsondata/GroupData.json
Labels: Content:CSS, Content:WebAPI, size/l

#41182 Remove unnecessary useCapture parameter from addEventListener (2)
  files/en-us/web/api/animation/pause/index.md
  files/en-us/web/api/animation/play/index.md
  files/en-us/web/api/animation/playbackrate/index.md
  files/en-us/web/api/background_tasks_api/index.md
  files/en-us/web/api/canvas_api/manipulating_video_using_canvas/index.md
  files/en-us/web/api/canvasrenderingcontext2d/drawfocusifneeded/index.md
  files/en-us/web/api/datatransferitem/webkitgetasentry/index.md
  files/en-us/web/api/device_orientation_events/detecting_device_orientation/index.md
  files/en-us/web/api/document/activeelement/index.md
  files/en-us/web/api/document/afterscriptexecute_event/index.md
  files/en-us/web/api/document/beforescriptexecute_event/index.md
  files/en-us/web/api/document/caretpositionfrompoint/index.md
  files/en-us/web/api/document/createevent/index.md
  files/en-us/web/api/document_object_model/events/index.md
  files/en-us/web/api/document_object_model/examples/index.md
  files/en-us/web/api/document_picture-in-picture_api/using/index.md
  files/en-us/web/api/dragevent/datatransfer/index.md
  files/en-us/web/api/element/mouseout_event/index.md
  files/en-us/web/api/element/mouseover_event/index.md
  files/en-us/web/api/element/setcapture/index.md
  files/en-us/web/api/event/initevent/index.md
  files/en-us/web/api/event/preventdefault/index.md
  files/en-us/web/api/event/target/index.md
  files/en-us/web/api/event/type/index.md
  files/en-us/web/api/eventtarget/addeventlistener/index.md
  files/en-us/web/api/eventtarget/removeeventlistener/index.md
  files/en-us/web/api/file_api/using_files_from_web_applications/index.md
  files/en-us/web/api/filereader/readasdataurl/index.md
  files/en-us/web/api/filereader/readastext/index.md
  files/en-us/web/api/gamepad_api/using_the_gamepad_api/index.md
  files/en-us/web/api/htmlcanvaselement/contextrestored_event/index.md
  files/en-us/web/api/htmlcanvaselement/webglcontextcreationerror_event/index.md
  files/en-us/web/api/htmlcanvaselement/webglcontextrestored_event/index.md
  files/en-us/web/api/htmlelement/drag_event/index.md
  files/en-us/web/api/htmlelement/hidden/index.md
  files/en-us/web/api/htmlformelement/reportvalidity/index.md
  files/en-us/web/api/htmlinputelement/disabled/index.md
  files/en-us/web/api/htmlinputelement/webkitdirectory/index.md
  files/en-us/web/api/htmlmediaelement/play/index.md
  files/en-us/web/api/htmlselectelement/disabled/index.md
  files/en-us/web/api/htmlselectelement/selectedoptions/index.md
  files/en-us/web/api/htmlvideoelement/enterpictureinpicture_event/index.md
  files/en-us/web/api/htmlvideoelement/leavepictureinpicture_event/index.md
  files/en-us/web/api/htmlvideoelement/requestpictureinpicture/index.md
  files/en-us/web/api/htmlvideoelement/videoheight/index.md
  files/en-us/web/api/intersection_observer_api/index.md
  files/en-us/web/api/intersection_observer_api/timing_element_visibility/index.md
  files/en-us/web/api/keyboardevent/code/index.md
  files/en-us/web/api/keyboardevent/index.md
  files/en-us/web/api/keyboardevent/key/index.md
  files/en-us/web/api/keyboardevent/keycode/index.md
Labels: Content:WebAPI, size/l

#41203 'bt2020' color primaries
  files/en-us/web/api/videocolorspace/primaries/index.md
Labels: Content:WebAPI, size/xs

#41127 Document trailing space handling in opaque URL paths
  files/en-us/web/api/url/pathname/index.md
Labels: Content:WebAPI, size/s

#41206 Link to the W3C guide (Choosing a Language Tag)
  files/en-us/glossary/bcp_47_language_tag/index.md
Labels: Content:Glossary, size/xs

#40843 Editorial review: Add docs for scroll-target-group
  files/en-us/web/css/_doublecolon_scroll-marker-group/index.md
  files/en-us/web/css/_doublecolon_scroll-marker/index.md
  files/en-us/web/css/css_overflow/css_carousels/index.md
  files/en-us/web/css/css_overflow/index.md
  files/en-us/web/css/scroll-marker-group/index.md
  files/en-us/web/css/scroll-target-group/index.md
Labels: Content:CSS, size/l

#41147 CSS invert function
  files/en-us/web/css/filter-function/invert/index.md
Labels: Content:CSS, size/m

#41128 HTMLScriptElement.text - trustedTypes for scripts
  files/en-us/web/api/htmlscriptelement/text/index.md
Labels: Content:WebAPI, size/m

#41184 Remove unnecessary useCapture parameter from addEventListener (4)
  files/en-us/web/api/rtcdatachannel/bufferedamountlow_event/index.md
  files/en-us/web/api/rtcdatachannel/close_event/index.md
  files/en-us/web/api/rtcdatachannel/error_event/index.md
  files/en-us/web/api/rtcdatachannel/message_event/index.md
  files/en-us/web/api/rtcdatachannel/open_event/index.md
  files/en-us/web/api/rtcdtmfsender/tonechange_event/index.md
  files/en-us/web/api/rtcdtmftonechangeevent/index.md
  files/en-us/web/api/rtcicetransport/gatheringstatechange_event/index.md
  files/en-us/web/api/rtcicetransport/selectedcandidatepairchange_event/index.md
  files/en-us/web/api/rtcicetransport/statechange_event/index.md
  files/en-us/web/api/rtcpeerconnection/connectionstatechange_event/index.md
  files/en-us/web/api/rtcpeerconnection/datachannel_event/index.md
  files/en-us/web/api/rtcpeerconnection/icecandidate_event/index.md
  files/en-us/web/api/rtcpeerconnection/iceconnectionstatechange_event/index.md
  files/en-us/web/api/rtcpeerconnection/icegatheringstatechange_event/index.md
  files/en-us/web/api/rtcpeerconnection/negotiationneeded_event/index.md
  files/en-us/web/api/rtcpeerconnection/removestream/index.md
  files/en-us/web/api/rtcpeerconnection/removetrack/index.md
  files/en-us/web/api/rtcpeerconnection/signalingstatechange_event/index.md
  files/en-us/web/api/rtcpeerconnection/track_event/index.md
  files/en-us/web/api/rtcsctptransport/statechange_event/index.md
  files/en-us/web/api/rtctrackevent/index.md
  files/en-us/web/api/touch/clientx/index.md
  files/en-us/web/api/touch/clienty/index.md
  files/en-us/web/api/touch/force/index.md
  files/en-us/web/api/touch/identifier/index.md
  files/en-us/web/api/touch/pagex/index.md
  files/en-us/web/api/touch/pagey/index.md
  files/en-us/web/api/touch/screenx/index.md
  files/en-us/web/api/touch/target/index.md
  files/en-us/web/api/touch_events/using_touch_events/index.md
  files/en-us/web/api/touchevent/altkey/index.md
  files/en-us/web/api/touchevent/changedtouches/index.md
  files/en-us/web/api/touchevent/touches/index.md
  files/en-us/web/api/touchlist/item/index.md
  files/en-us/web/api/touchlist/length/index.md
  files/en-us/web/api/webgl_api/by_example/basic_scissoring/index.md
  files/en-us/web/api/webgl_api/by_example/canvas_size_and_webgl/index.md
  files/en-us/web/api/webgl_api/by_example/clearing_by_clicking/index.md
  files/en-us/web/api/webgl_api/by_example/clearing_with_colors/index.md
  files/en-us/web/api/webgl_api/by_example/color_masking/index.md
  files/en-us/web/api/webgl_api/by_example/detect_webgl/index.md
  files/en-us/web/api/webgl_api/by_example/hello_vertex_attributes/index.md
  files/en-us/web/api/webgl_api/by_example/scissor_animation/index.md
  files/en-us/web/api/webgl_api/by_example/simple_color_animation/index.md
  files/en-us/web/api/webgl_api/tutorial/animating_textures_in_webgl/index.md
  files/en-us/web/api/webgl_lose_context/losecontext/index.md
  files/en-us/web/api/webgl_lose_context/restorecontext/index.md
  files/en-us/web/api/webglcontextevent/index.md
  files/en-us/web/api/webglcontextevent/statusmessage/index.md
  files/en-us/web/api/webrtc_api/signaling_and_video_calling/index.md
  files/en-us/web/api/webrtc_api/simple_rtcdatachannel_sample/index.md
  files/en-us/web/api/webrtc_api/using_dtmf/index.md
Labels: Content:WebAPI, size/xl

#41215 Alphabetizing roles that cannot be named
  files/en-us/web/accessibility/aria/reference/attributes/aria-label/index.md
Labels: Content:Accessibility, size/xs

#41216 Alphabetizing roles that cannot be named
  files/en-us/web/accessibility/aria/reference/attributes/aria-labelledby/index.md
Labels: Content:Accessibility, size/xs

#41177 Create notifications from service worker so it works on mobile
  files/en-us/web/api/notification/notification/index.md
  files/en-us/web/api/notifications_api/using_the_notifications_api/index.md
  files/en-us/web/progressive_web_apps/tutorials/js13kgames/app_structure/index.md
  files/en-us/web/progressive_web_apps/tutorials/js13kgames/offline_service_workers/index.md
  files/en-us/web/progressive_web_apps/tutorials/js13kgames/re-engageable_notifications_push/index.md
Labels: Content:WebAPI, Content:PWA, size/s

#41225 Fix "element" to "event"
  files/en-us/web/html/reference/elements/button/index.md
Labels: Content:HTML, size/xs

#41217 feat: add a note to suggest using CookieStore instead of document.cookie
  files/en-us/web/api/document/cookie/index.md
Labels: Content:WebAPI, size/xs

#41228 Fix typo in Web Permissions API
  files/en-us/web/api/permissions_api/index.md
Labels: Content:WebAPI, size/xs

#41230 Mention checking for an existing SW registration before creating a new one
  files/en-us/web/api/serviceworkercontainer/register/index.md
Labels: Content:WebAPI, size/s

#41232 Add section about canvas grid coordinates interpretation
  files/en-us/web/api/canvas_api/tutorial/applying_styles_and_colors/index.md
  files/en-us/web/api/canvas_api/tutorial/basic_usage/index.md
  files/en-us/web/api/canvas_api/tutorial/compositing/index.md
  files/en-us/web/api/canvas_api/tutorial/drawing_shapes/canvas-grid.png
  files/en-us/web/api/canvas_api/tutorial/drawing_shapes/index.md
  files/en-us/web/api/canvas_api/tutorial/index.md
  files/en-us/web/api/canvas_api/tutorial/using_images/index.md
Labels: Content:WebAPI, size/l

#41218 Remove more load event handlers
  files/en-us/web/api/intersection_observer_api/index.md
  files/en-us/web/api/webgl_api/by_example/basic_scissoring/index.md
  files/en-us/web/api/webgl_api/by_example/canvas_size_and_webgl/index.md
  files/en-us/web/api/webgl_api/by_example/clearing_by_clicking/index.md
  files/en-us/web/api/webgl_api/by_example/clearing_with_colors/index.md
  files/en-us/web/api/webgl_api/by_example/color_masking/index.md
  files/en-us/web/api/webgl_api/by_example/detect_webgl/index.md
  files/en-us/web/api/webgl_api/by_example/simple_color_animation/index.md
  files/en-us/web/api/webrtc_api/using_dtmf/index.md
  files/en-us/web/css/align-content/index.md
Labels: Content:CSS, Content:WebAPI, size/m

#41158 Enhance color picker tool and remove GHLiveSample macro
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/glossary/color_space/index.md
  files/en-us/learn_web_development/getting_started/your_first_website/what_will_your_website_look_like/color-picker.png
  files/en-us/learn_web_development/getting_started/your_first_website/what_will_your_website_look_like/color_format_converter.jpg
  files/en-us/learn_web_development/getting_started/your_first_website/what_will_your_website_look_like/index.md
  files/en-us/web/accessibility/guides/colors_and_luminance/index.md
  files/en-us/web/css/color-interpolation-method/index.md
  files/en-us/web/css/color_value/color-mix/index.md
  files/en-us/web/css/color_value/color/index.md
  files/en-us/web/css/color_value/hsl/index.md
  files/en-us/web/css/color_value/hwb/index.md
  files/en-us/web/css/color_value/index.md
  files/en-us/web/css/color_value/lab/index.md
  files/en-us/web/css/color_value/oklch/index.md
  files/en-us/web/css/color_value/rgb/index.md
  files/en-us/web/css/css_colors/color_format_converter/index.md
  files/en-us/web/css/css_colors/color_mixer/index.md
  files/en-us/web/css/css_colors/color_picker/index.md
  files/en-us/web/css/css_colors/color_values/index.md
  files/en-us/web/css/css_colors/index.md
  files/en-us/web/css/css_values_and_units/css_value_functions/index.md
  files/sidebars/cssref.yaml
Labels: Content:CSS, Content:Learn, Content:Accessibility, Content:Glossary, size/l

#40979 Document AnimationTimeline.duration
  files/en-us/web/api/animationtimeline/duration/index.md
  files/en-us/web/api/animationtimeline/index.md
Labels: Content:WebAPI, size/m

#41223 Add deprecation notice for audioprocess event
  files/en-us/web/html/reference/elements/audio/index.md
  files/en-us/web/html/reference/elements/video/index.md
Labels: Content:HTML, size/m

#41226 Fix "the grid or row" with "the column or row"
  files/en-us/web/css/position-area_value/index.md
Labels: Content:CSS, size/xs

#40688 docs(css): add performance considerations for :has() pseudo-class
  files/en-us/learn_web_development/extensions/performance/css/index.md
  files/en-us/web/css/_colon_has/index.md
Labels: Content:CSS, Content:Learn, awaiting response, size/m

#41196 [Experiment]: Add CSS layout additional tutorials links to learnsidebar
  files/sidebars/learnsidebar.yaml
Labels: size/s

#41209 FF144 Relnote: ScreenOrientation.lock() and unlock()
  files/en-us/mozilla/firefox/releases/144/index.md
Labels: Content:Firefox, size/xs

#41251 Tweak operator precedence example
  files/en-us/web/javascript/reference/operators/operator_precedence/index.md
Labels: Content:JS, size/s

#41248 Consistently mention that Map/Set compare object keys by reference
  files/en-us/web/javascript/reference/global_objects/map/delete/index.md
  files/en-us/web/javascript/reference/global_objects/map/get/index.md
  files/en-us/web/javascript/reference/global_objects/map/has/index.md
  files/en-us/web/javascript/reference/global_objects/map/index.md
  files/en-us/web/javascript/reference/global_objects/map/set/index.md
  files/en-us/web/javascript/reference/global_objects/object/freeze/index.md
  files/en-us/web/javascript/reference/global_objects/set/add/index.md
  files/en-us/web/javascript/reference/global_objects/set/delete/index.md
  files/en-us/web/javascript/reference/global_objects/set/has/index.md
  files/en-us/web/javascript/reference/global_objects/set/index.md
  files/en-us/web/javascript/reference/global_objects/weakmap/delete/index.md
  files/en-us/web/javascript/reference/global_objects/weakmap/get/index.md
  files/en-us/web/javascript/reference/global_objects/weakmap/has/index.md
  files/en-us/web/javascript/reference/global_objects/weakmap/index.md
  files/en-us/web/javascript/reference/global_objects/weakmap/set/index.md
  files/en-us/web/javascript/reference/global_objects/weakset/add/index.md
  files/en-us/web/javascript/reference/global_objects/weakset/delete/index.md
  files/en-us/web/javascript/reference/global_objects/weakset/has/index.md
  files/en-us/web/javascript/reference/global_objects/weakset/index.md
Labels: Content:JS, size/m

#41236 Fix content issues
  .vscode/dictionaries/code-entities.txt
  .vscode/dictionaries/proper-names.txt
  .vscode/dictionaries/terms-abbreviations.txt
  files/en-us/learn_web_development/extensions/forms/styling_web_forms/index.md
  files/en-us/web/api/htmlscriptelement/text/index.md
  files/en-us/web/api/rtcdtlstransport/error_event/index.md
  files/en-us/web/api/viewport_segments_api/using/index.md
  files/en-us/web/css/filter-function/invert/index.md
  files/en-us/web/css/scroll-target-group/index.md
  files/en-us/web/security/attacks/phishing/index.md
Labels: Content:CSS, Content:WebAPI, Content:Learn, Content:Security, system, size/m

#41264 Update event handler attributes in global attributes
  files/en-us/web/html/reference/global_attributes/index.md
Labels: Content:HTML, size/m

#41221 Synchronize with BCD v7.1.7
  files/en-us/web/api/speechgrammar/index.md
  files/en-us/web/api/speechgrammar/src/index.md
  files/en-us/web/api/speechgrammar/weight/index.md
  files/en-us/web/api/speechgrammarlist/addfromstring/index.md
  files/en-us/web/api/speechgrammarlist/addfromuri/index.md
  files/en-us/web/api/speechgrammarlist/index.md
  files/en-us/web/api/speechgrammarlist/item/index.md
  files/en-us/web/api/speechgrammarlist/length/index.md
  files/en-us/web/api/speechgrammarlist/speechgrammarlist/index.md
  files/en-us/web/css/@media/horizontal-viewport-segments/index.md
  files/en-us/web/css/@media/vertical-viewport-segments/index.md
  files/en-us/web/css/scroll-target-group/index.md
Labels: Content:CSS, Content:WebAPI, size/m

#41295 Fix example code error
  files/en-us/web/api/canvasrenderingcontext2d/globalcompositeoperation/index.md
Labels: Content:WebAPI, size/s

#41276 fix incorrect aria-label usage for required labels
  files/en-us/learn_web_development/extensions/forms/form_validation/index.md
  files/en-us/learn_web_development/extensions/forms/how_to_structure_a_web_form/example/index.md
  files/en-us/learn_web_development/extensions/forms/how_to_structure_a_web_form/index.md
Labels: Content:Learn, size/m

#41255 chore: add single quotes to strict-dynamic code example
  files/en-us/web/http/guides/csp/index.md
Labels: Content:HTTP, size/xs

#41261 Declared missing variable i in Example 1.
  files/en-us/web/api/document_object_model/examples/index.md
Labels: Content:WebAPI, size/xs

#41293 Update spec URL for Cookie Store API
  files/en-us/web/api/cookie_store_api/index.md
Labels: Content:WebAPI, size/xs

#41306 Fix typo
  files/en-us/webassembly/reference/numeric/copy_sign/index.md
Labels: Content:wasm, size/xs

#41303 Fix typo in HTTP glossary: change 'schema' to 'scheme'
  files/en-us/glossary/http/index.md
  files/en-us/learn_web_development/extensions/server-side/apache_configuration_htaccess/index.md
  files/en-us/learn_web_development/howto/tools_and_setup/set_up_a_local_testing_server/index.md
  files/en-us/mozilla/firefox/releases/136/index.md
  files/en-us/web/api/webotp_api/index.md
  files/en-us/web/api/websocket/websocket/index.md
  files/en-us/web/security/same-origin_policy/index.md
Labels: Content:WebAPI, Content:Learn, Content:Glossary, Content:Security, Content:Firefox, size/s

#41283 Element.prototype.{onfocusin,onfocusout} now exist
  files/en-us/web/api/element/focusin_event/index.md
  files/en-us/web/api/element/focusout_event/index.md
Labels: Content:WebAPI, size/s

#41307 Synchronize with BCD v7.1.8
  files/en-us/web/api/document/arianotify/index.md
  files/en-us/web/api/document/index.md
  files/en-us/web/api/document/prerendering/index.md
  files/en-us/web/api/element/arianotify/index.md
  files/en-us/web/api/performancenavigationtiming/activationstart/index.md
  files/en-us/web/api/performancenavigationtiming/index.md
  files/en-us/web/api/request/destination/index.md
  files/en-us/web/api/speculation_rules_api/index.md
  files/en-us/web/html/reference/elements/script/type/index.md
  files/en-us/web/html/reference/elements/script/type/speculationrules/index.md
  files/en-us/web/http/reference/headers/permissions-policy/aria-notify/index.md
  files/en-us/web/http/reference/headers/sec-speculation-tags/index.md
  files/en-us/web/http/reference/headers/speculation-rules/index.md
  files/en-us/web/http/reference/headers/supports-loading-mode/index.md
  files/en-us/web/javascript/reference/global_objects/map/index.md
  files/en-us/web/javascript/reference/global_objects/weakmap/index.md
Labels: Content:HTML, Content:WebAPI, Content:JS, Content:HTTP, size/m

#41263 chore: add translation of `source_prefix` for l10n-zh
  files/jsondata/L10n-Template.json
Labels: size/xs

#41302 Note system-ui is not for large paragraphs
  files/en-us/web/css/font-family/index.md
  files/en-us/web/css/generic-family/index.md
Labels: Content:CSS, size/xs

#41312 Removed erroneous apostrophe in "it's"
  files/en-us/glossary/http_header/index.md
Labels: Content:Glossary, size/xs

#41311 Fix typo
  files/en-us/games/tutorials/2d_breakout_game_pure_javascript/create_the_canvas_and_draw_on_it/index.md
Labels: Content:Games, size/xs

#41319 Fix typo
  files/en-us/learn_web_development/howto/tools_and_setup/set_up_a_local_testing_server/index.md
Labels: Content:Learn, size/xs

#41237 FF144 Relnote+Doc: Cross origin iframe requires user interaction for top navigation
  files/en-us/mozilla/firefox/releases/144/index.md
  files/en-us/web/html/reference/elements/iframe/index.md
Labels: Content:HTML, Content:Firefox, size/s

#41296 Update image gallery challenge
  files/en-us/learn_web_development/core/scripting/dom_scripting/index.md
  files/en-us/learn_web_development/core/scripting/house_data_ui/index.md
  files/en-us/learn_web_development/core/scripting/image_gallery/gallery.png
  files/en-us/learn_web_development/core/scripting/image_gallery/index.md
  files/en-us/learn_web_development/core/scripting/network_requests/index.md
  files/en-us/learn_web_development/core/scripting/object_basics/index.md
  files/en-us/learn_web_development/core/scripting/test_your_skills/events/index.md
  files/sidebars/learnsidebar.yaml
Labels: Content:Learn, size/m

#41327 Fix "Using relative colors" syntax example
  files/en-us/web/css/css_colors/relative_colors/index.md
Labels: Content:CSS, size/xs

#41305 Combine markup languages in Firefox release notes
  files/en-us/mozilla/firefox/releases/144/index.md
  files/en-us/mozilla/firefox/releases/145/index.md
Labels: Content:Firefox, size/s

#41212 Update specs and standard status of Speculation Rules API
  files/en-us/web/api/speculation_rules_api/index.md
Labels: Content:WebAPI, size/s

#40842 Update HTMLLabelElement 'form' property
  files/en-us/web/api/htmllabelelement/form/index.md
Labels: Content:WebAPI, size/xs

#39423 Align aria-tab example with APG
  files/en-us/web/accessibility/aria/reference/roles/tab_role/index.md
Labels: Content:Accessibility, size/m

#41338 Add hyperlink in page intro
  files/en-us/web/api/animation/cancel/index.md
Labels: Content:WebAPI, size/xs
