Repository mdn/content, pull requests merged in 2025-02, with the labels that each got.

#37903 Fix example in ARIA: grid role
  files/en-us/web/accessibility/aria/roles/grid_role/index.md
Labels: Content:Accessibility, size/xs

#37907 fix json parse example
  files/en-us/web/javascript/reference/global_objects/json/parse/index.md
Labels: Content:JS, size/xs

#37440 New Pages: SVGFETurbulenceElement
  files/en-us/web/api/svgfeturbulenceelement/basefrequencyx/index.md
  files/en-us/web/api/svgfeturbulenceelement/basefrequencyy/index.md
  files/en-us/web/api/svgfeturbulenceelement/numoctaves/index.md
  files/en-us/web/api/svgfeturbulenceelement/seed/index.md
  files/en-us/web/api/svgfeturbulenceelement/stitchtiles/index.md
  files/en-us/web/api/svgfeturbulenceelement/type/index.md
Labels: Content:WebAPI, size/m

#37434 New Pages: SVGFEImageElement
  files/en-us/web/api/svgfeimageelement/href/index.md
  files/en-us/web/api/svgfeimageelement/preserveaspectratio/index.md
Labels: Content:WebAPI, size/m

#37420 New Pages: SVGFEComponentTransferElement prop
  files/en-us/web/api/svgfecomponenttransferelement/in1/index.md
Labels: Content:WebAPI, size/m

#37417 New Pages: SVGFEBlendElement props
  files/en-us/web/api/svgfeblendelement/in1/index.md
  files/en-us/web/api/svgfeblendelement/in2/index.md
  files/en-us/web/api/svgfeblendelement/mode/index.md
Labels: Content:WebAPI, size/m

#37415 New Pages: SVGGraphicsElement
  files/en-us/web/api/svggraphicselement/getctm/index.md
  files/en-us/web/api/svggraphicselement/getscreenctm/index.md
  files/en-us/web/api/svggraphicselement/requiredextensions/index.md
  files/en-us/web/api/svggraphicselement/systemlanguage/index.md
  files/en-us/web/api/svggraphicselement/transform/index.md
Labels: Content:WebAPI, size/m

#37395 New Pages: SVGSVGElement
  files/en-us/web/api/svgsvgelement/animationspaused/index.md
  files/en-us/web/api/svgsvgelement/checkenclosure/index.md
  files/en-us/web/api/svgsvgelement/checkintersection/index.md
  files/en-us/web/api/svgsvgelement/createsvgangle/index.md
  files/en-us/web/api/svgsvgelement/createsvglength/index.md
  files/en-us/web/api/svgsvgelement/createsvgmatrix/index.md
  files/en-us/web/api/svgsvgelement/createsvgnumber/index.md
  files/en-us/web/api/svgsvgelement/createsvgpoint/index.md
  files/en-us/web/api/svgsvgelement/createsvgrect/index.md
  files/en-us/web/api/svgsvgelement/createsvgtransform/index.md
  files/en-us/web/api/svgsvgelement/createsvgtransformfrommatrix/index.md
  files/en-us/web/api/svgsvgelement/currentscale/index.md
  files/en-us/web/api/svgsvgelement/currenttranslate/index.md
  files/en-us/web/api/svgsvgelement/deselectall/index.md
  files/en-us/web/api/svgsvgelement/getcurrenttime/index.md
  files/en-us/web/api/svgsvgelement/getelementbyid/index.md
  files/en-us/web/api/svgsvgelement/index.md
  files/en-us/web/api/svgsvgelement/pauseanimations/index.md
  files/en-us/web/api/svgsvgelement/preserveaspectratio/index.md
  files/en-us/web/api/svgsvgelement/setcurrenttime/index.md
  files/en-us/web/api/svgsvgelement/unpauseanimations/index.md
Labels: Content:WebAPI, size/xl

#37312 MDN Feature Pages for SVGTextPositioningElement
  files/en-us/web/api/svgtextpositioningelement/dx/index.md
  files/en-us/web/api/svgtextpositioningelement/dy/index.md
  files/en-us/web/api/svgtextpositioningelement/rotate/index.md
  files/en-us/web/api/svgtextpositioningelement/x/index.md
  files/en-us/web/api/svgtextpositioningelement/y/index.md
Labels: Content:WebAPI, size/m

#37322 New Pages: SVGPatternElement
  files/en-us/web/api/svgpatternelement/height/index.md
  files/en-us/web/api/svgpatternelement/href/index.md
  files/en-us/web/api/svgpatternelement/width/index.md
  files/en-us/web/api/svgpatternelement/x/index.md
  files/en-us/web/api/svgpatternelement/y/index.md
  files/en-us/web/api/svgtextpositioningelement/dx/index.md
  files/en-us/web/api/svgtextpositioningelement/dy/index.md
  files/en-us/web/api/svgtextpositioningelement/x/index.md
  files/en-us/web/api/svgtextpositioningelement/y/index.md
Labels: Content:WebAPI, size/m

#37308 MDN Feature Pages for SVGForeignObjectElement
  files/en-us/web/api/svgforeignobjectelement/height/index.md
  files/en-us/web/api/svgforeignobjectelement/width/index.md
  files/en-us/web/api/svgforeignobjectelement/x/index.md
  files/en-us/web/api/svgforeignobjectelement/y/index.md
Labels: Content:WebAPI, size/m

#37406 New Pages: SVGPolylineElement
  files/en-us/web/api/svgaelement/href/index.md
  files/en-us/web/api/svganimatedenumeration/baseval/index.md
  files/en-us/web/api/svganimatedlength/baseval/index.md
  files/en-us/web/api/svganimatedlength/index.md
  files/en-us/web/api/svganimatednumberlist/index.md
  files/en-us/web/api/svganimatedpreserveaspectratio/index.md
  files/en-us/web/api/svgclippathelement/transform/index.md
  files/en-us/web/api/svgellipseelement/index.md
  files/en-us/web/api/svggraphicselement/getbbox/index.md
  files/en-us/web/api/svgpolygonelement/index.md
  files/en-us/web/api/svgpolylineelement/animatedpoints/index.md
  files/en-us/web/api/svgpolylineelement/index.md
  files/en-us/web/api/svgpolylineelement/points/index.md
Labels: Content:WebAPI, size/m

#37326 New Pages: SVGPatternElement viewbox and preserveAspectRatio interfaces
  files/en-us/web/api/svgpatternelement/index.md
  files/en-us/web/api/svgpatternelement/preserveaspectratio/index.md
  files/en-us/web/api/svgpatternelement/viewbox/index.md
Labels: Content:WebAPI, size/m

#37404 New Pages: SVGPreserveAspectRatio
  files/en-us/web/api/svgpreserveaspectratio/align/index.md
  files/en-us/web/api/svgpreserveaspectratio/index.md
  files/en-us/web/api/svgpreserveaspectratio/meetorslice/index.md
Labels: Content:WebAPI, size/m

#37408 New Pages: SVGMpath and SVGNumber
  files/en-us/web/api/svgmpathelement/href/index.md
  files/en-us/web/api/svgnumber/value/index.md
Labels: Content:WebAPI, size/m

#37402 New Pages SVGScriptElement
  files/en-us/web/api/svgscriptelement/href/index.md
  files/en-us/web/api/svgscriptelement/type/index.md
Labels: Content:WebAPI, size/m

#37413 New Pages: SVGLength
  files/en-us/web/api/svglength/converttospecifiedunits/index.md
  files/en-us/web/api/svglength/index.md
  files/en-us/web/api/svglength/newvaluespecifiedunits/index.md
  files/en-us/web/api/svglength/unittype/index.md
  files/en-us/web/api/svglength/value/index.md
  files/en-us/web/api/svglength/valueasstring/index.md
  files/en-us/web/api/svglength/valueinspecifiedunits/index.md
Labels: Content:WebAPI, size/l

#37915 Remove duplicate entry for option monitorTypeSurfaces on page of getDisplayMedia() method
  files/en-us/web/api/mediadevices/getdisplaymedia/index.md
Labels: Content:WebAPI, size/xs

#36877 Add docs for `PaintSize`
  files/en-us/web/api/css_painting_api/index.md
  files/en-us/web/api/paintsize/height/index.md
  files/en-us/web/api/paintsize/index.md
  files/en-us/web/api/paintsize/width/index.md
Labels: Content:WebAPI, size/m

#36815 valueAsDate: unsupported on Chrome for datetime-local
  files/en-us/web/api/htmlinputelement/valueasdate/index.md
Labels: Content:WebAPI, size/s

#37817 Document that the Enter key causes the “keypress” event to fire
  files/en-us/web/api/element/keypress_event/index.md
Labels: Content:WebAPI, size/s

#37884 Correct feature list for CSS Grid Layout
  files/en-us/web/css/css_grid_layout/index.md
Labels: Content:CSS, size/s

#37921 Remove stray closing brace in `ElementInternals/ariaLabel`
  files/en-us/web/api/elementinternals/arialabel/index.md
Labels: Content:WebAPI, size/xs

#37920 Fix duplicated periods
  files/en-us/mozilla/add-ons/webextensions/manifest.json/content_security_policy/index.md
  files/en-us/mozilla/firefox/releases/32/index.md
  files/en-us/web/api/htmlquoteelement/cite/index.md
  files/en-us/web/api/svgsvgelement/createsvglength/index.md
  files/en-us/web/css/dominant-baseline/index.md
Labels: Content:CSS, Content:WebExt, Content:WebAPI, Content:Firefox, size/s

#35746 Improve SVGGeometryElement#{isPointInFill,isPointInStroke} examples
  files/en-us/web/api/svggeometryelement/ispointinfill/index.md
  files/en-us/web/api/svggeometryelement/ispointinstroke/index.md
Labels: Content:WebAPI, size/m

#36316 docs: minor improvement to aria-describedby doc
  files/en-us/web/accessibility/aria/attributes/aria-describedby/index.md
Labels: Content:Accessibility, size/s

#37676 URLSearchParam.append Encoding Behavior
  files/en-us/web/api/url/search/index.md
  files/en-us/web/api/url/searchparams/index.md
  files/en-us/web/api/urlsearchparams/append/index.md
  files/en-us/web/api/urlsearchparams/index.md
  files/en-us/web/api/urlsearchparams/tostring/index.md
  files/en-us/web/api/urlsearchparams/urlsearchparams/index.md
Labels: Content:WebAPI, size/m

#37879 Add ImageKit and other options to image CDN recommendations
  files/en-us/learn_web_development/extensions/performance/multimedia/index.md
Labels: Content:Learn, size/xs

#37261 -moz-force-broken-image-icon: alt text on height OR width set
  files/en-us/web/css/-moz-force-broken-image-icon/index.md
Labels: Content:CSS, awaiting response, size/xs

#37910 Fix broken link on Firefox 96 release page
  files/en-us/mozilla/firefox/releases/96/index.md
Labels: Content:Firefox, size/xs

#37925 fix typos
  .vscode/dictionaries/code-entities.txt
  .vscode/dictionaries/proper-names.txt
  files/en-us/learn_web_development/core/structuring_content/html_forms/index.md
  files/en-us/web/api/svgfecomponenttransferelement/height/index.md
Labels: Content:WebAPI, Content:Learn, system, size/s

#37924 update zh-cn translation of learn sidebar
  files/sidebars/learnsidebar.yaml
Labels: size/s

#37525 New grid examples work
  files/en-us/learn_web_development/core/css_layout/grids/index.md
  files/en-us/learn_web_development/core/css_layout/grids/learn-grids-inspector.png
Labels: Content:Learn, size/l

#37598 Glossary: deprecate "Payload Body" per RFC 9110
  files/en-us/glossary/payload_body/index.md
Labels: Content:Glossary, awaiting response, size/s

#37647 37519 contenteditable early beta ff release
  files/en-us/mozilla/firefox/experimental_features/index.md
Labels: Content:Firefox, size/s

#37644 Deprecated CSS `-moz-user-input` property is removed
  files/en-us/mozilla/firefox/releases/135/index.md
Labels: Content:Firefox, size/xs

#37890 remove "no support" from <input> datetime
  files/en-us/web/html/element/input/datetime-local/index.md
Labels: Content:HTML, size/s

#37838 FF132 Document Accept Header value changed
  files/en-us/mozilla/firefox/releases/132/index.md
Labels: Content:Firefox, size/xs

#37947 fix substring-after
  files/en-us/web/xpath/reference/functions/substring-after/index.md
Labels: Content:Other, size/xs

#37926 FF135 ExprFeatures - Add trusted types
  files/en-us/mozilla/firefox/experimental_features/index.md
Labels: Content:Firefox, size/s

#37734 PublicKeyCredential.getClientCapabilities - add
  files/en-us/web/api/authenticatorattestationresponse/gettransports/index.md
  files/en-us/web/api/credentialscontainer/get/index.md
  files/en-us/web/api/publickeycredential/getclientcapabilities_static/index.md
  files/en-us/web/api/publickeycredential/index.md
  files/en-us/web/api/web_authentication_api/index.md
Labels: Content:WebAPI, size/m

#37557 Technical review: Add WebAuthn Signal API
  files/en-us/web/api/credentialscontainer/create/index.md
  files/en-us/web/api/credentialscontainer/get/index.md
  files/en-us/web/api/publickeycredential/index.md
  files/en-us/web/api/publickeycredential/isconditionalmediationavailable_static/index.md
  files/en-us/web/api/publickeycredential/signalallacceptedcredentials_static/index.md
  files/en-us/web/api/publickeycredential/signalcurrentuserdetails_static/index.md
  files/en-us/web/api/publickeycredential/signalunknowncredential_static/index.md
  files/en-us/web/api/publickeycredentialcreationoptions/index.md
  files/en-us/web/api/publickeycredentialrequestoptions/index.md
  files/en-us/web/api/web_authentication_api/index.md
Labels: Content:WebAPI, size/m

#37955 fix(redirects): leftover redirects from moving content
  files/en-us/_redirects.txt
Labels: size/xs

#37958 Update Publishing your website article
  files/en-us/learn_web_development/getting_started/your_first_website/adding_interactivity/index.md
  files/en-us/learn_web_development/getting_started/your_first_website/publishing_your_website/ftp.jpg
  files/en-us/learn_web_development/getting_started/your_first_website/publishing_your_website/github-create-repo.png
  files/en-us/learn_web_development/getting_started/your_first_website/publishing_your_website/index.md
  files/en-us/learn_web_development/getting_started/your_first_website/publishing_your_website/jsbin-screen.png
Labels: Content:Learn, size/m

#37957 Remove note about Firefox bug which is resolved and released.
  files/en-us/web/api/htmlimageelement/loading/index.md
Labels: Content:WebAPI, size/xs

#37962 Switch classList to use contains?
  files/en-us/web/css/content-visibility/index.md
Labels: Content:CSS, size/xs

#36830 Add docs for `PaintRenderingContext2D`
  files/en-us/web/api/css_painting_api/guide/index.md
  files/en-us/web/api/css_painting_api/index.md
  files/en-us/web/api/paintrenderingcontext2d/index.md
  files/en-us/web/api/paintworkletglobalscope/index.md
Labels: Content:WebAPI, size/m

#37948 glossary links: to aphabetic baseline
  files/en-us/web/api/canvasrenderingcontext2d/textbaseline/index.md
  files/en-us/web/api/textmetrics/index.md
  files/en-us/web/css/text-underline-position/index.md
  files/en-us/web/svg/attribute/alignment-baseline/index.md
  files/en-us/web/svg/attribute/alphabetic/index.md
  files/en-us/web/svg/attribute/v-alphabetic/index.md
Labels: Content:CSS, Content:WebAPI, Content:SVG, size/s

#37953 Rename -webkit-line-clamp to line-clamp
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/css/line-clamp/index.md
Labels: Content:CSS, size/s

#37869 Add docs for :open pseudo-class
  files/en-us/web/css/_colon_open/index.md
  files/en-us/web/css/pseudo-classes/index.md
  files/en-us/web/html/element/details/index.md
  files/en-us/web/html/element/dialog/index.md
  files/en-us/web/html/element/input/index.md
  files/en-us/web/html/element/select/index.md
Labels: Content:CSS, Content:HTML, size/m

#37905 Temporal edits
  files/en-us/web/javascript/reference/global_objects/temporal/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/instant/add/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/instant/from/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/instant/fromepochmilliseconds/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/instant/fromepochnanoseconds/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/instant/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/instant/instant/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/instant/subtract/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plaindate/add/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plaindate/from/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plaindate/plaindate/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plaindate/subtract/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plaindate/with/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plaindatetime/add/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plaindatetime/from/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plaindatetime/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plaindatetime/plaindatetime/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plaindatetime/subtract/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plaindatetime/with/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plainmonthday/from/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plainmonthday/plainmonthday/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plainmonthday/with/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plainyearmonth/add/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plainyearmonth/from/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plainyearmonth/plainyearmonth/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plainyearmonth/subtract/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plainyearmonth/with/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/zoneddatetime/add/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/zoneddatetime/from/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/zoneddatetime/gettimezonetransition/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/zoneddatetime/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/zoneddatetime/subtract/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/zoneddatetime/with/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/zoneddatetime/zoneddatetime/index.md
Labels: Content:JS, size/m

#37968 Firefox 135 release notes
  files/en-us/mozilla/firefox/releases/135/index.md
  files/en-us/mozilla/firefox/releases/136/index.md
  files/en-us/mozilla/firefox/releases/137/index.md
Labels: Content:Firefox, size/m

#37970 Fix value section header
  files/en-us/web/api/mediatracksupportedconstraints/logicalsurface/index.md
  files/en-us/web/api/mediatracksupportedconstraints/width/index.md
  files/en-us/web/api/ndefrecord/data/index.md
  files/en-us/web/api/ndefrecord/encoding/index.md
  files/en-us/web/api/ndefrecord/id/index.md
  files/en-us/web/api/ndefrecord/lang/index.md
  files/en-us/web/api/ndefrecord/mediatype/index.md
  files/en-us/web/api/ndefrecord/recordtype/index.md
  files/en-us/web/api/pictureinpicturewindow/height/index.md
  files/en-us/web/api/pictureinpicturewindow/width/index.md
  files/en-us/web/api/rtcicecandidatestats/candidatetype/index.md
  files/en-us/web/api/rtcrtpreceiver/transport/index.md
Labels: Content:WebAPI, size/s

#37971 fix slug for exslt/reference
  files/en-us/web/xml/exslt/reference/index.md
Labels: Content:Other, size/xs

#37964 Add remark describing special dash encoding requirement
  files/en-us/web/uri/fragment/text_fragments/index.md
Labels: Content:Other, size/xs

#37974 [editorial] Fix WorkerGlobalScope "workers.r."
  files/en-us/web/api/workerglobalscope/index.md
Labels: Content:WebAPI, size/xs

#37973 Improve grammar
  files/en-us/web/css/css_grid_layout/index.md
Labels: Content:CSS, size/xs

#37885 `@container` should be of CSS conditional rules module
  files/en-us/web/css/css_conditional_rules/index.md
  files/en-us/web/css/css_containment/index.md
Labels: Content:CSS, size/s

#37911 Update <option> CSS styling info
  files/en-us/web/html/element/option/index.md
Labels: Content:HTML, size/xs

#37902 docs: swap a word in sentence
  files/en-us/web/api/selection/anchoroffset/index.md
Labels: Content:WebAPI, size/xs

#37977 Synchronize with BCD v5.6.36
  files/en-us/web/api/paintrenderingcontext2d/index.md
  files/en-us/web/css/_colon_open/index.md
Labels: Content:CSS, Content:WebAPI, size/s

#37982 Mention one use case of exec()
  files/en-us/web/javascript/reference/global_objects/regexp/exec/index.md
Labels: Content:JS, size/xs

#37984 chore(ia): move Guide dir
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/mdn/guides/index.md
  files/en-us/mdn/index.md
  files/en-us/web/accessibility/index.md
  files/en-us/web/index.md
  files/sidebars/mdnsidebar.yaml
Labels: Content:Accessibility, Content:Meta, size/s

#37759 TAB_ID_NONE value information
  files/en-us/mozilla/add-ons/webextensions/api/tabs/tab_id_none/index.md
Labels: Content:WebExt, size/xs

#37650 Content Script Persistence
  files/en-us/mozilla/add-ons/webextensions/content_scripts/index.md
Labels: Content:WebExt, size/s

#37994 Clarify returned buffer is not resizable
  files/en-us/web/javascript/reference/global_objects/arraybuffer/slice/index.md
Labels: Content:JS, size/xs

#37988 Add note about not supported ruby feature
  files/en-us/web/css/css_ruby_layout/index.md
Labels: Content:CSS, size/s

#37717 Notes regarding support for F13 to F19 keys
  files/en-us/mozilla/add-ons/webextensions/api/commands/update/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/commands/index.md
  files/en-us/mozilla/firefox/releases/135/index.md
Labels: Content:WebExt, Content:Firefox, size/s

#37980 Mention that DurationFormat only takes integer components
  files/en-us/web/javascript/reference/global_objects/intl/durationformat/format/index.md
  files/en-us/web/javascript/reference/global_objects/intl/durationformat/formattoparts/index.md
Labels: Content:JS, size/xs

#37981 More precisely describe dynamic import errors
  files/en-us/web/javascript/reference/operators/import/index.md
Labels: Content:JS, size/s

#37749 onMessageExternal async listener response clarification
  files/en-us/mozilla/add-ons/webextensions/api/runtime/onmessage/index.md
  files/en-us/mozilla/add-ons/webextensions/api/runtime/onmessageexternal/index.md
Labels: Content:WebExt, size/m

#37949 FF136 data: url max size 512Mb
  files/en-us/mozilla/firefox/releases/136/index.md
  files/en-us/web/uri/schemes/data/index.md
Labels: Content:Other, Content:Firefox, size/s, Firefox 136

#37745 Update EXPIRES info with clock skew
  files/en-us/web/http/headers/set-cookie/index.md
Labels: Content:HTTP, size/s

#37794 Bug-1685965 managed storage policy update clarification
  files/en-us/mozilla/add-ons/webextensions/api/storage/managed/index.md
  files/en-us/mozilla/add-ons/webextensions/api/storage/storagearea/onchanged/index.md
Labels: Content:WebExt, size/s

#38006 [Temporal] Clarify assumed defaults in language by making them explicit
  files/en-us/web/javascript/reference/global_objects/temporal/index.md
Labels: Content:JS, size/xs

#38010 feat: add internal link
  files/en-us/web/javascript/reference/lexical_grammar/index.md
Labels: Content:JS, size/xs

#38011 Express - introduce ODM acronym early
  files/en-us/learn_web_development/extensions/server-side/express_nodejs/mongoose/index.md
Labels: Content:Learn, size/s

#37978 Temporal edits batch 2
  files/en-us/web/javascript/reference/global_objects/temporal/duration/add/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/duration/days/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/duration/hours/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/duration/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/duration/microseconds/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/duration/milliseconds/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/duration/minutes/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/duration/months/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/duration/nanoseconds/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/duration/round/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/duration/seconds/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/duration/total/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/duration/weeks/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/duration/years/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/instant/epochmilliseconds/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/instant/epochnanoseconds/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/instant/since/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/instant/until/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plaindate/since/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plaindatetime/since/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plaintime/since/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plainyearmonth/compare/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plainyearmonth/since/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/zoneddatetime/epochmilliseconds/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/zoneddatetime/epochnanoseconds/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/zoneddatetime/since/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/zoneddatetime/tolocalestring/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/zoneddatetime/until/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/zoneddatetime/with/index.md
Labels: Content:JS, size/m

#38017 fix(workflows): assign explicit permissions
  .github/workflows/auto-cleanup-bot.yml
  .github/workflows/auto-merge.yml
  .github/workflows/idle-issues.yml
  .github/workflows/interfacedata-updater.yml
  .github/workflows/issue-regex-labeler.yml
  .github/workflows/lock-closed.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/new-issues.yml
  .github/workflows/ping-other-repos.yml
  .github/workflows/pr-check-lint_content.yml
  .github/workflows/pr-check_cspell_lists.yml
  .github/workflows/pr-check_javascript.yml
  .github/workflows/pr-check_json.yml
  .github/workflows/pr-check_redirects.yml
  .github/workflows/pr-check_scripts.yml
  .github/workflows/pr-check_url-issues.yml
  .github/workflows/pr-check_yml.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-rebase-needed.yml
  .github/workflows/pr-review-companion.yml
  .github/workflows/pr-test-legacy.yml
  .github/workflows/pr-test.yml
  .github/workflows/spelling-check-bot.yml
  .github/workflows/system-file-changes.yml
Labels: system, size/m

#38016 fix(workflows): pin 3rd party actions
  .github/workflows/auto-cleanup-bot.yml
  .github/workflows/auto-merge.yml
  .github/workflows/interfacedata-updater.yml
  .github/workflows/new-issues.yml
  .github/workflows/ping-other-repos.yml
  .github/workflows/pr-check-lint_content.yml
  .github/workflows/pr-check_redirects.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-review-companion.yml
Labels: system, size/s

#36939 Editorial review: Add documentation for Screen Capture extensions, element capture and region capture
  files/en-us/web/api/browsercapturemediastreamtrack/clone/index.md
  files/en-us/web/api/browsercapturemediastreamtrack/cropto/index.md
  files/en-us/web/api/browsercapturemediastreamtrack/index.md
  files/en-us/web/api/browsercapturemediastreamtrack/restrictto/index.md
  files/en-us/web/api/croptarget/fromelement_static/index.md
  files/en-us/web/api/croptarget/index.md
  files/en-us/web/api/restrictiontarget/fromelement_static/index.md
  files/en-us/web/api/restrictiontarget/index.md
  files/en-us/web/api/screen_capture_api/element_region_capture/hall-of-mirrors.png
  files/en-us/web/api/screen_capture_api/element_region_capture/index.md
  files/en-us/web/api/screen_capture_api/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, size/l

#38014 Refactor non-standard date strings into a table
  files/en-us/web/javascript/reference/global_objects/date/parse/index.md
Labels: Content:JS, size/m

#37934 Fix `NavigateEvent` & `NavigationCurrentEntryChangeEvent` constructor…
  files/en-us/web/api/navigateevent/navigateevent/index.md
  files/en-us/web/api/navigationcurrententrychangeevent/navigationcurrententrychangeevent/index.md
Labels: Content:WebAPI, size/s

#38025 Describe specification for source size values
  files/en-us/web/api/htmlimageelement/sizes/index.md
  files/en-us/web/html/element/img/index.md
Labels: Content:HTML, Content:WebAPI, size/s

#38007 Remove guide: Grid and progressive enhancement
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/css/css_display/index.md
  files/en-us/web/css/css_grid_layout/grid_layout_and_progressive_enhancement/index.md
  files/en-us/web/css/display/index.md
  files/en-us/web/css/guides/index.md
  files/sidebars/cssref.yaml
Labels: Content:CSS, size/m

#37508 Notes regarding sidePanel API compatibility
  files/en-us/mozilla/add-ons/webextensions/api/sidebaraction/index.md
  files/en-us/mozilla/add-ons/webextensions/chrome_incompatibilities/index.md
Labels: Content:WebExt, size/m

#37595 Editorial review: Device Posture API
  files/en-us/web/api/device_posture_api/continuous-screens.png
  files/en-us/web/api/device_posture_api/folded-screens.png
  files/en-us/web/api/device_posture_api/index.md
  files/en-us/web/api/deviceposture/change_event/index.md
  files/en-us/web/api/deviceposture/index.md
  files/en-us/web/api/deviceposture/type/index.md
  files/en-us/web/api/navigator/deviceposture/index.md
  files/en-us/web/api/navigator/index.md
  files/en-us/web/css/@media/device-posture/index.md
  files/en-us/web/css/@media/index.md
  files/en-us/web/css/css_media_queries/index.md
  files/en-us/web/css/css_media_queries/using_media_queries/index.md
  files/jsondata/GroupData.json
Labels: Content:CSS, Content:WebAPI, size/m

#37792 Add learning area guidelines
  files/en-us/learn_web_development/core/accessibility/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/react_getting_started/index.md
  files/en-us/learn_web_development/core/index.md
  files/en-us/learn_web_development/core/scripting/arrays/index.md
  files/en-us/learn_web_development/core/scripting/functions/index.md
  files/en-us/learn_web_development/core/scripting/index.md
  files/en-us/learn_web_development/core/structuring_content/index.md
  files/en-us/learn_web_development/core/styling_basics/basic_selectors/index.md
  files/en-us/learn_web_development/core/styling_basics/index.md
  files/en-us/learn_web_development/core/text_styling/fundamentals/index.md
  files/en-us/learn_web_development/getting_started/your_first_website/index.md
  files/en-us/learn_web_development/index.md
  files/en-us/mdn/writing_guidelines/index.md
  files/en-us/mdn/writing_guidelines/learning_content/index.md
  files/en-us/mdn/writing_guidelines/page_structures/page_types/index.md
  files/en-us/mdn/writing_guidelines/what_we_write/index.md
  files/en-us/mdn/writing_guidelines/writing_style_guide/index.md
  files/sidebars/mdnsidebar.yaml
Labels: Content:Learn, Content:Meta, size/m

#38004 CSS grid layout guide refresh: auto-placement and alignment
  files/en-us/web/css/css_grid_layout/auto-placement_in_grid_layout/index.md
  files/en-us/web/css/css_grid_layout/box_alignment_in_grid_layout/index.md
Labels: Content:CSS, size/m

#37999 Module landing page: grid layout
  files/en-us/web/css/css_grid_layout/index.md
Labels: Content:CSS, size/m

#37992 Update feature list for css positioned layout module
  files/en-us/web/css/css_positioned_layout/index.md
Labels: Content:CSS, size/s

#38015 docs: Remove additional reference to houdini.how site
  files/en-us/web/api/houdini_apis/index.md
Labels: Content:WebAPI, size/s

#38033 Remove AbortError as a possible reason from AbortSignal.timeout()
  files/en-us/web/api/abortsignal/timeout_static/index.md
Labels: Content:WebAPI, size/s

#38030 Add an example of sending URLSearchParams
  files/en-us/web/api/fetch_api/using_fetch/index.md
  files/en-us/web/api/window/fetch/index.md
Labels: Content:WebAPI, size/s

#38036 Synchronize with BCD v5.6.37
  files/en-us/web/api/browsercapturemediastreamtrack/restrictto/index.md
  files/en-us/web/api/croptarget/fromelement_static/index.md
  files/en-us/web/api/device_posture_api/index.md
  files/en-us/web/api/htmlelement/autocorrect/index.md
  files/en-us/web/api/htmlelement/index.md
  files/en-us/web/api/offscreencanvasrenderingcontext2d/index.md
  files/en-us/web/api/restrictiontarget/fromelement_static/index.md
  files/en-us/web/api/serviceworkerglobalscope/cookiestore/index.md
  files/en-us/web/api/serviceworkerglobalscope/index.md
  files/en-us/web/api/window/cookiestore/index.md
  files/en-us/web/api/window/index.md
  files/en-us/web/css/@media/device-posture/index.md
  files/en-us/web/css/@media/index.md
  files/en-us/web/css/_colon_has-slotted/index.md
  files/en-us/web/css/_colon_open/index.md
  files/en-us/web/css/css_media_queries/using_media_queries/index.md
  files/en-us/web/html/global_attributes/autocorrect/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, size/s

#38037 Use `{{domxref("FileSystemHandle")}}` in `show*Picker`
  files/en-us/web/api/window/showdirectorypicker/index.md
  files/en-us/web/api/window/showopenfilepicker/index.md
  files/en-us/web/api/window/showsavefilepicker/index.md
Labels: Content:WebAPI, size/s

#38038 Update to HTML's baselines.png image
  files/en-us/web/api/canvas_api/tutorial/drawing_text/baselines.png
  files/en-us/web/api/canvas_api/tutorial/drawing_text/index.md
Labels: Content:WebAPI, size/s

#38043 HTTP `506` status fix format
  files/en-us/web/http/status/506/index.md
Labels: Content:HTTP, size/s

#38047 fix: correct the heading level
  files/en-us/web/css/css_conditional_rules/using_feature_queries/index.md
Labels: Content:CSS, size/xs

#38049 Add `querySelectorAll()` examples for `Using data attributes` page
  files/en-us/learn_web_development/howto/solve_html_problems/use_data_attributes/index.md
Labels: Content:Learn, size/s

#38055 Fix typo in overflow-block example
  files/en-us/web/css/overflow-block/index.md
Labels: Content:CSS, size/xs

#38031 Correct PushSubscription code example
  files/en-us/web/api/pushsubscription/index.md
Labels: Content:WebAPI, size/s

#38057 Move XSLTProcessor guide pages to DOM API
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/web/api/document_object_model/transforming_with_xslt/index.md
  files/en-us/web/api/xsltprocessor/basic_example/index.md
  files/en-us/web/api/xsltprocessor/index.md
  files/en-us/web/api/xsltprocessor/introduction/index.md
  files/jsondata/GroupData.json
Labels: Content:WebAPI, size/m

#38064 Correct return value for createDocument
  files/en-us/web/api/domimplementation/createdocument/index.md
Labels: Content:WebAPI, size/xs

#38062 Add link to UI Events API in UIEvent page
  files/en-us/web/api/uievent/index.md
Labels: Content:WebAPI, size/xs

#38022 chore(deps): run yarn upgrade
  yarn.lock
Labels: system, size/xl

#38019 enhance(sidebars/cssref): group CSS pseudo-classes
  files/sidebars/cssref.yaml
Labels: size/xs

#38065 Fix link to `:host()`
  files/en-us/web/css/pseudo-classes/index.md
Labels: Content:CSS, size/xs

#38066 Mention why one wants to use Headers to send requests
  files/en-us/web/api/fetch_api/using_fetch/index.md
  files/en-us/web/api/headers/index.md
Labels: Content:WebAPI, size/xs

#38070 fix typos in websockets_api
  files/en-us/web/api/websockets_api/index.md
Labels: Content:WebAPI, size/xs

#38041 Talk more about syntax character escaping in <pre>
  files/en-us/web/html/element/pre/index.md
Labels: Content:HTML, size/s

#38072 Update dead reference for XSL transformations
  files/en-us/web/api/xsltprocessor/index.md
Labels: Content:WebAPI, size/xs

#38056 Add a section on link `target` attribute
  files/en-us/learn_web_development/core/structuring_content/creating_links/index.md
Labels: Content:Learn, size/s

#38048 Reference for de-facto interoperable V8 Stack trace API props
  files/en-us/web/javascript/reference/global_objects/error/capturestacktrace/index.md
  files/en-us/web/javascript/reference/global_objects/error/index.md
  files/en-us/web/javascript/reference/global_objects/error/stack/index.md
  files/en-us/web/javascript/reference/global_objects/error/stacktracelimit/index.md
Labels: Content:JS, size/m

#38076 fix typos
  .vscode/dictionaries/ignore-list.txt
  .vscode/dictionaries/terms-abbreviations.txt
  files/en-us/web/api/publickeycredential/signalunknowncredential_static/index.md
  files/en-us/web/api/restrictiontarget/fromelement_static/index.md
  files/en-us/web/api/restrictiontarget/index.md
  files/en-us/web/css/_colon_open/index.md
  files/en-us/web/css/word-spacing/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/instant/from/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/instant/fromepochmilliseconds/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plaindatetime/plaindatetime/index.md
Labels: Content:CSS, Content:WebAPI, Content:JS, system, size/s

#38078 Put specifications after examples
  files/en-us/web/api/mediadeviceinfo/groupid/index.md
  files/en-us/web/css/_doublecolon_-moz-meter-bar/index.md
  files/en-us/web/css/_doublecolon_-webkit-meter-bar/index.md
  files/en-us/web/http/headers/x-dns-prefetch-control/index.md
  files/en-us/web/http/status/505/index.md
Labels: Content:CSS, Content:WebAPI, Content:HTTP, size/s

#38005 CSS grid layout guide refresh: logical props, accessibility and common uses
  files/en-us/web/css/css_grid_layout/grid_layout_and_accessibility/index.md
  files/en-us/web/css/css_grid_layout/grids_logical_values_and_writing_modes/index.md
  files/en-us/web/css/css_grid_layout/realizing_common_layouts_using_grids/index.md
Labels: Content:CSS, size/m

#37991 Fix redirects due to `line-clamp` property movement
  files/en-us/mozilla/firefox/releases/68/index.md
  files/en-us/web/css/css_overflow/index.md
  files/en-us/web/css/webkit_extensions/index.md
Labels: Content:CSS, Content:Firefox, size/s

#37883 Update feature list for CSS Paged Media module
  files/en-us/web/css/css_paged_media/index.md
Labels: Content:CSS, size/s

#38069 Fix inconsistency in HTML table accessibility
  files/en-us/learn_web_development/core/structuring_content/table_accessibility/index.md
Labels: Content:Learn, size/xs

#38085 Fix typo in https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/CSS_layout/Introduction
  files/en-us/learn_web_development/core/css_layout/introduction/index.md
Labels: Content:Learn, size/xs

#38032 HTML <option> page: CSS styling section update
  files/en-us/web/html/element/option/index.md
Labels: Content:HTML, size/xs

#38068 Mention that SVG FE elements use linearRGB by default
  files/en-us/web/svg/element/feblend/index.md
  files/en-us/web/svg/element/fecolormatrix/index.md
  files/en-us/web/svg/element/fecomponenttransfer/index.md
  files/en-us/web/svg/element/fecomposite/index.md
  files/en-us/web/svg/element/feconvolvematrix/index.md
  files/en-us/web/svg/element/fediffuselighting/index.md
  files/en-us/web/svg/element/fedisplacementmap/index.md
  files/en-us/web/svg/element/fedistantlight/index.md
  files/en-us/web/svg/element/fedropshadow/index.md
  files/en-us/web/svg/element/fegaussianblur/index.md
  files/en-us/web/svg/element/femerge/index.md
  files/en-us/web/svg/element/femorphology/index.md
  files/en-us/web/svg/element/fepointlight/index.md
  files/en-us/web/svg/element/fespecularlighting/index.md
  files/en-us/web/svg/element/fespotlight/index.md
  files/en-us/web/svg/element/feturbulence/index.md
Labels: Content:SVG, size/s

#38092 Final batch of Temporal edits
  files/en-us/web/javascript/reference/global_objects/temporal/instant/subtract/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/now/zoneddatetimeiso/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plaindate/month/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plaindate/monthsinyear/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plaindate/subtract/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plaindatetime/subtract/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plaindatetime/tozoneddatetime/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plaintime/subtract/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/plainyearmonth/subtract/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/zoneddatetime/from/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/zoneddatetime/subtract/index.md
  files/en-us/web/javascript/reference/global_objects/temporal/zoneddatetime/with/index.md
Labels: Content:JS, size/s

#38009 Begin differentiating between two same-named guides
  files/en-us/glossary/grid_axis/index.md
  files/en-us/glossary/gutters/index.md
  files/en-us/web/css/align-content/index.md
  files/en-us/web/css/align-items/index.md
  files/en-us/web/css/align-self/index.md
  files/en-us/web/css/css_box_alignment/box_alignment/index.md
  files/en-us/web/css/css_box_alignment/box_alignment_in_grid_layout/index.md
  files/en-us/web/css/css_box_alignment/index.md
  files/en-us/web/css/css_display/index.md
  files/en-us/web/css/css_logical_properties_and_values/basic_concepts_of_logical_properties_and_values/index.md
  files/en-us/web/css/display/index.md
  files/en-us/web/css/justify-content/index.md
  files/en-us/web/css/justify-items/index.md
  files/en-us/web/css/justify-self/index.md
  files/en-us/web/css/place-content/index.md
  files/en-us/web/css/place-items/index.md
  files/en-us/web/css/place-self/index.md
Labels: Content:CSS, Content:Glossary, size/s

#37993 Add list for not supported css overfow module feature
  files/en-us/web/css/css_overflow/index.md
Labels: Content:CSS, size/s

#38001 CSS grid guide refresh: masonry and subgrid
  files/en-us/web/css/css_grid_layout/masonry_layout/index.md
  files/en-us/web/css/css_grid_layout/subgrid/index.md
Labels: Content:CSS, size/m

#38053 Explicitly specify calc() operand and result types
  files/en-us/web/css/calc-sum/index.md
  files/en-us/web/css/calc/index.md
Labels: Content:CSS, size/s

#38098 Correct static image reference path in Django tutorial
  files/en-us/learn_web_development/extensions/server-side/django/home_page/index.md
Labels: Content:Learn, size/xs

#38003 CSS grid layout guide refresh: grid lines and template areas
  files/en-us/web/css/css_grid_layout/grid_layout_using_line-based_placement/index.md
  files/en-us/web/css/css_grid_layout/grid_layout_using_named_grid_lines/index.md
  files/en-us/web/css/css_grid_layout/grid_template_areas/index.md
Labels: Content:CSS, size/m

#38105 style(sidebars): re-run `content fmt-sidebars`
  files/sidebars/accessibilitysidebar.yaml
  files/sidebars/cssref.yaml
  files/sidebars/mdnsidebar.yaml
Labels: size/m

#38040 Improve debouncing wording
  files/en-us/glossary/debounce/index.md
Labels: Content:Glossary, size/xs

#38084 Fix broken link in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: size/xs

#38107 Update image source for long.jpg
  files/en-us/learn_web_development/core/css_layout/introduction/index.md
  files/en-us/learn_web_development/core/css_layout/positioning/index.md
  files/en-us/learn_web_development/core/css_layout/positioning/long.jpg
  files/en-us/web/css/position/index.md
  files/en-us/web/css/position/long.jpg
Labels: Content:CSS, Content:Learn, size/s

#38111 fix(redirects): Add redirect for Community/Contributing
  files/en-us/_redirects.txt
Labels: size/xs

#38059 Remove some yeared w3.org/TR links
  files/en-us/glossary/hyperlink/index.md
  files/en-us/related/imsc/imsc_and_other_standards/index.md
  files/en-us/web/accessibility/seizure_disorders/index.md
  files/en-us/web/api/csskeyframerule/style/index.md
  files/en-us/web/api/cssstylerule/style/index.md
  files/en-us/web/api/datatransfer/getdata/index.md
  files/en-us/web/api/document/createattributens/index.md
  files/en-us/web/api/document/createelementns/index.md
  files/en-us/web/api/document/evaluate/index.md
  files/en-us/web/api/element/clientheight/index.md
  files/en-us/web/api/element/clientwidth/index.md
  files/en-us/web/api/element/innerhtml/index.md
  files/en-us/web/api/svgaelement/target/index.md
  files/en-us/web/api/xmlhttprequest/xmlhttprequest/index.md
  files/en-us/web/api/xmlhttprequest_api/using_xmlhttprequest/index.md
  files/en-us/web/api/xsltprocessor/transformtodocument/index.md
  files/en-us/web/css/-moz-user-input/index.md
  files/en-us/web/css/background-image/index.md
  files/en-us/web/css/background/index.md
  files/en-us/web/css/border-image/index.md
  files/en-us/web/css/content/index.md
  files/en-us/web/css/cross-fade/index.md
  files/en-us/web/css/gradient/conic-gradient/index.md
  files/en-us/web/css/gradient/repeating-conic-gradient/index.md
  files/en-us/web/css/image/image-set/index.md
  files/en-us/web/css/image/image/index.md
  files/en-us/web/css/image/index.md
  files/en-us/web/css/named-color/index.md
  files/en-us/web/svg/attribute/accumulate/index.md
  files/en-us/web/svg/attribute/additive/index.md
  files/en-us/web/svg/attribute/attributename/index.md
  files/en-us/web/svg/attribute/attributetype/index.md
  files/en-us/web/svg/attribute/begin/index.md
  files/en-us/web/svg/attribute/calcmode/index.md
  files/en-us/web/svg/attribute/href/index.md
  files/en-us/web/svg/content_type/index.md
Labels: Content:CSS, Content:WebAPI, Content:Other, Content:Accessibility, Content:SVG, Content:Glossary, size/m

#38114 Fix typo in importmap
  files/en-us/web/html/element/script/type/importmap/index.md
Labels: Content:HTML, size/s

#38074 FF136 ExprFeat: Error.captureStackTrace() added behind pref
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/136/index.md
Labels: Content:Firefox, size/s

#38096 FF136 Relnote: Cookie Store API
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/136/index.md
Labels: Content:Firefox, size/m

#38119 fix wrong macros in HTMLCanvasElement `height` property
  files/en-us/web/api/htmlcanvaselement/height/index.md
Labels: Content:WebAPI, size/s

#38002 CSS grid layout guide refresh: basic concepts and other layout methods
  files/en-us/web/css/css_grid_layout/basic_concepts_of_grid_layout/index.md
  files/en-us/web/css/css_grid_layout/relationship_of_grid_layout_with_other_layout_methods/index.md
Labels: Content:CSS, size/m

#38112 Update features list for CSS Animations module
  files/en-us/web/css/css_animations/index.md
  files/en-us/web/css/css_scroll-driven_animations/index.md
Labels: Content:CSS, size/s

#38110 Update feature list for CSS Transitions module
  files/en-us/web/css/css_transitions/index.md
Labels: Content:CSS, size/s

#38123 page type: custom props are properties
  files/en-us/web/css/--_star_/index.md
Labels: Content:CSS, size/xs

#38124 move guide: css custom props
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/learn_web_development/core/styling_basics/organizing/index.md
  files/en-us/learn_web_development/howto/solve_css_problems/css_faq/index.md
  files/en-us/mozilla/firefox/releases/29/index.md
  files/en-us/mozilla/firefox/releases/55/index.md
  files/en-us/mozilla/firefox/releases/60/index.md
  files/en-us/web/api/css_typed_om_api/guide/index.md
  files/en-us/web/api/cssvariablereferencevalue/cssvariablereferencevalue/index.md
  files/en-us/web/api/cssvariablereferencevalue/fallback/index.md
  files/en-us/web/css/--_star_/index.md
  files/en-us/web/css/@font-palette-values/index.md
  files/en-us/web/css/@property/index.md
  files/en-us/web/css/_colon_root/index.md
  files/en-us/web/css/all/index.md
  files/en-us/web/css/at-rule/index.md
  files/en-us/web/css/calc-size/index.md
  files/en-us/web/css/css_cascading_variables/index.md
  files/en-us/web/css/css_cascading_variables/using_css_custom_properties/index.md
  files/en-us/web/css/css_colors/relative_colors/index.md
  files/en-us/web/css/css_containment/container_size_and_style_queries/index.md
  files/en-us/web/css/css_fonts/opentype_fonts_guide/index.md
  files/en-us/web/css/css_fonts/variable_fonts_guide/index.md
  files/en-us/web/css/css_types/index.md
  files/en-us/web/css/dashed-ident/index.md
  files/en-us/web/css/env/index.md
  files/en-us/web/css/hypot/index.md
  files/en-us/web/css/log/index.md
  files/en-us/web/css/sqrt/index.md
  files/en-us/web/css/var/index.md
Labels: Content:CSS, Content:WebAPI, Content:Learn, Content:Firefox, size/m

#38128 add missing return statement
  files/en-us/learn_web_development/extensions/async_js/implementing_a_promise-based_api/index.md
  files/en-us/web/api/abortsignal/index.md
Labels: Content:WebAPI, Content:Learn, size/xs

#38102 update zh-cn translation of cssref sidebar
  files/sidebars/cssref.yaml
Labels: size/s

#38045 Mention event firing when calling xhr.abort()
  files/en-us/web/api/xmlhttprequest/abort/index.md
Labels: Content:WebAPI, size/xs

#38067 Mention Element.shadowRoot is null for built-in elements
  files/en-us/web/api/element/shadowroot/index.md
Labels: Content:WebAPI, size/xs

#38133 More precisely specify inert behavior
  files/en-us/web/api/htmldialogelement/showmodal/index.md
  files/en-us/web/api/htmlelement/inert/index.md
  files/en-us/web/html/global_attributes/inert/index.md
Labels: Content:HTML, Content:WebAPI, size/s
