Repository mdn/content, pull requests merged in 2025-08, with the labels that each got.

#40580 Replace misleading `json`/`json1`/`json2` with `result`
  files/en-us/web/api/fetch_api/using_fetch/index.md
  files/en-us/web/api/history_api/working_with_the_history_api/index.md
Labels: Content:WebAPI, size/s

#40569 Add CSRF warning to HTTP Basic Auth security section (fixes #40267)
  files/en-us/web/http/guides/authentication/index.md
Labels: Content:HTTP, size/s

#40593 Fix content issues
  .vscode/dictionaries/code-entities.txt
  .vscode/dictionaries/proper-names.txt
  .vscode/dictionaries/terms-abbreviations.txt
  files/en-us/mozilla/add-ons/webextensions/user_interface/context_menu_items/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/devtools_panels/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/notifications/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/page_actions/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/toolbar_button/index.md
  files/en-us/web/api/element/gethtml/index.md
  files/en-us/web/api/element/innerhtml/index.md
  files/en-us/web/api/element/outerhtml/index.md
  files/en-us/web/api/fedcm_api/rp_sign-in/index.md
  files/en-us/web/api/identitycredential/disconnect_static/index.md
  files/en-us/web/api/shadowroot/gethtml/index.md
  files/en-us/web/api/shadowroot/innerhtml/index.md
  files/en-us/web/css/cos/index.md
  files/en-us/web/css/css_text_decoration/text_shadows/index.md
  files/en-us/web/css/sin/index.md
  files/en-us/web/javascript/reference/global_objects/disposablestack/dispose/index.md
  files/en-us/web/javascript/reference/global_objects/disposablestack/move/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/asyncdispose/index.md
  files/en-us/web/javascript/reference/global_objects/symbol/dispose/index.md
Labels: Content:CSS, Content:WebExt, Content:WebAPI, Content:JS, system, size/m

#40427 Add a "Guides" section to the API landing page template
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_landing_page_template/index.md
Labels: Content:Meta, size/s

#40598 Grammar fix in Node interface description
  files/en-us/web/api/node/index.md
Labels: Content:WebAPI, size/xs

#40228 Expand CSS style guide to cover more conventions and recommendations
  files/en-us/mdn/writing_guidelines/code_style_guide/css/index.md
  files/en-us/mdn/writing_guidelines/code_style_guide/javascript/index.md
Labels: Content:Meta, size/m

#40605 Fix typo `Scx`->`scx` for short name of `Script_Extensions` prop
  files/en-us/web/javascript/reference/regular_expressions/unicode_character_class_escape/index.md
Labels: Content:JS, size/xs

#40606 the example comment is out of date, now Chrome give the same message with Firefox/Safari
  files/en-us/web/javascript/reference/global_objects/intl/getcanonicallocales/index.md
  files/en-us/web/javascript/reference/global_objects/intl/listformat/resolvedoptions/index.md
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/resolvedoptions/index.md
  files/en-us/web/javascript/reference/global_objects/regexp/tostring/index.md
Labels: Content:JS, size/s

#40604 Fix hyperlink
  files/en-us/web/css/css_values_and_units/index.md
Labels: Content:CSS, size/xs

#40501 <selectedcontent>: update to description and specification
  files/en-us/web/html/reference/elements/selectedcontent/index.md
Labels: Content:HTML, size/s

#40597 PasswordCredential cannot be passed an object from fetch()
  files/en-us/web/api/passwordcredential/passwordcredential/index.md
Labels: Content:WebAPI, size/s

#40576 CSS modules: separate out unsupported features
  files/en-us/web/css/@color-profile/index.md
  files/en-us/web/css/@font-feature-values/font-display/index.md
  files/en-us/web/css/@media/shape/index.md
  files/en-us/web/css/_colon_blank/index.md
  files/en-us/web/css/_colon_current/index.md
  files/en-us/web/css/_colon_local-link/index.md
  files/en-us/web/css/_colon_target-within/index.md
  files/en-us/web/css/color_value/device-cmyk/index.md
  files/en-us/web/css/column_combinator/index.md
  files/en-us/web/css/css_anchor_positioning/index.md
  files/en-us/web/css/css_animations/index.md
  files/en-us/web/css/css_backgrounds_and_borders/index.md
  files/en-us/web/css/css_basic_user_interface/index.md
  files/en-us/web/css/css_box_sizing/index.md
  files/en-us/web/css/css_colors/index.md
  files/en-us/web/css/css_conditional_rules/index.md
  files/en-us/web/css/css_fonts/index.md
  files/en-us/web/css/css_generated_content/index.md
  files/en-us/web/css/css_images/index.md
  files/en-us/web/css/css_masking/index.md
  files/en-us/web/css/css_media_queries/index.md
  files/en-us/web/css/css_overflow/index.md
  files/en-us/web/css/css_paged_media/index.md
  files/en-us/web/css/css_ruby_layout/index.md
  files/en-us/web/css/css_selectors/index.md
  files/en-us/web/css/css_shapes/index.md
  files/en-us/web/css/css_values_and_units/index.md
  files/en-us/web/css/frequency-percentage/index.md
  files/en-us/web/css/frequency/index.md
  files/en-us/web/css/image-resolution/index.md
  files/en-us/web/css/image/image/index.md
  files/en-us/web/css/line-height-step/index.md
  files/en-us/web/css/mask-border-mode/index.md
Labels: Content:CSS, size/m

#40577 fix: compile Wasm to bundler-friendly (and native) module format edits
  files/en-us/webassembly/guides/c_to_wasm/index.md
Labels: Content:wasm, size/s

#40423 Element.innerHTML - add info trusted types
  files/en-us/web/api/element/innerhtml/index.md
  files/en-us/web/api/element/insertadjacenthtml/index.md
Labels: Content:WebAPI, size/m

#40628 fix: replace "fragment" with "query" in URI query ref
  files/en-us/web/uri/reference/query/index.md
Labels: Content:Other, size/xs

#40630 fix the code comment with incorrect location
  files/en-us/web/javascript/guide/control_flow_and_error_handling/index.md
Labels: Content:JS, size/s

#39259 Align `getCapabilities()` documentation with JavaScript runtime behavior
  files/en-us/web/api/inputdeviceinfo/getcapabilities/index.md
  files/en-us/web/api/mediastreamtrack/getcapabilities/index.md
Labels: Content:WebAPI, size/m

#40608 Lint: spaces around CSS comments, from/to keyframe selectors
  files/en-us/learn_web_development/core/frameworks_libraries/svelte_todo_list_beginning/index.md
  files/en-us/learn_web_development/core/frameworks_libraries/vue_styling/index.md
  files/en-us/learn_web_development/core/styling_basics/getting_started/index.md
  files/en-us/web/accessibility/guides/colors_and_luminance/index.md
  files/en-us/web/css/@keyframes/index.md
  files/en-us/web/css/all/index.md
  files/en-us/web/css/basic-shape/path/index.md
  files/en-us/web/css/font-style/index.md
  files/en-us/web/css/transform-function/matrix3d/index.md
  files/en-us/web/html/reference/elements/input/index.md
  files/en-us/web/svg/reference/attribute/d/index.md
Labels: Content:CSS, Content:HTML, Content:Learn, Content:Accessibility, Content:SVG, size/s

#40564 Rewrite appearance for 2025
  files/en-us/web/css/appearance/index.md
Labels: Content:CSS, size/m

#40640 Fix `PushMessageData.bytes()` example
  files/en-us/web/api/pushmessagedata/bytes/index.md
Labels: Content:WebAPI, size/xs

#40646 Fix incorrect variable name in `cookie` example
  files/en-us/web/api/document/cookie/index.md
Labels: Content:WebAPI, size/xs

#40644 Synchronize with BCD v6.1.0
  files/en-us/web/api/toggleevent/source/index.md
Labels: Content:WebAPI, size/xs

#40620 Lint: use named color if possible (3)
  files/en-us/web/html/reference/elements/a/index.md
  files/en-us/web/html/reference/elements/button/index.md
  files/en-us/web/html/reference/elements/caption/index.md
  files/en-us/web/html/reference/elements/dialog/index.md
  files/en-us/web/html/reference/elements/div/index.md
  files/en-us/web/html/reference/elements/fieldset/index.md
  files/en-us/web/html/reference/elements/figcaption/index.md
  files/en-us/web/html/reference/elements/figure/index.md
  files/en-us/web/html/reference/elements/footer/index.md
  files/en-us/web/html/reference/elements/header/index.md
  files/en-us/web/html/reference/elements/hr/index.md
  files/en-us/web/html/reference/elements/input/button/index.md
  files/en-us/web/html/reference/elements/input/color/index.md
  files/en-us/web/html/reference/elements/input/tel/index.md
  files/en-us/web/html/reference/elements/legend/index.md
  files/en-us/web/html/reference/elements/nav/index.md
  files/en-us/web/html/reference/elements/span/index.md
  files/en-us/web/html/reference/elements/style/index.md
  files/en-us/web/html/reference/elements/table/index.md
  files/en-us/web/html/reference/elements/tbody/index.md
  files/en-us/web/html/reference/elements/td/index.md
  files/en-us/web/html/reference/elements/template/index.md
  files/en-us/web/html/reference/elements/tfoot/index.md
  files/en-us/web/html/reference/elements/th/index.md
  files/en-us/web/html/reference/elements/thead/index.md
  files/en-us/web/html/reference/elements/tr/index.md
  files/en-us/web/html/reference/elements/u/index.md
  files/en-us/web/html/reference/global_attributes/id/index.md
  files/en-us/web/svg/guides/applying_svg_effects_to_html_content/index.md
  files/en-us/web/svg/guides/namespaces_crash_course/example/index.md
  files/en-us/web/svg/guides/namespaces_crash_course/index.md
  files/en-us/web/svg/reference/attribute/exponent/index.md
  files/en-us/web/svg/reference/attribute/intercept/index.md
  files/en-us/web/svg/reference/attribute/marker-end/index.md
  files/en-us/web/svg/reference/attribute/marker-mid/index.md
  files/en-us/web/svg/reference/attribute/marker-start/index.md
  files/en-us/web/svg/reference/attribute/requiredfeatures/index.md
  files/en-us/web/svg/reference/attribute/slope/index.md
  files/en-us/web/svg/reference/attribute/tablevalues/index.md
  files/en-us/web/svg/reference/element/fecomponenttransfer/index.md
  files/en-us/web/svg/reference/element/fepointlight/index.md
  files/en-us/web/svg/reference/element/fespotlight/index.md
  files/en-us/web/svg/tutorials/svg_from_scratch/filter_effects/index.md
Labels: Content:HTML, Content:SVG, size/m

#40641 caret-color: update
  files/en-us/web/css/caret-color/index.md
  files/en-us/web/css/css_basic_user_interface/index.md
Labels: Content:CSS, size/m

#40654 Add `for...of` loop with `const` as modern best practice to "Creating closures in loops: A common mistake"
  files/en-us/web/javascript/guide/closures/index.md
Labels: Content:JS, size/s

#40647 Update 418 status code docs with RFC 9110 reference
  files/en-us/web/http/reference/status/418/index.md
Labels: Content:HTTP, size/s

#40645 New CSS module: easing functions
  files/en-us/web/css/animation-timing-function/index.md
  files/en-us/web/css/css_easing_functions/index.md
  files/en-us/web/css/easing-function/cubic-bezier/index.md
  files/en-us/web/css/easing-function/index.md
  files/en-us/web/css/easing-function/linear/index.md
  files/en-us/web/css/easing-function/steps/index.md
  files/en-us/web/css/transition-timing-function/index.md
Labels: Content:CSS, size/m

#40585 FF142 Animation.commitStyles() automatically fills values
  files/en-us/web/api/animation/commitstyles/index.md
Labels: Content:WebAPI, size/m

#40611 FF142 Relnote Animation.commitStyles no longer requires fill
  files/en-us/mozilla/firefox/releases/142/index.md
Labels: Content:Firefox, size/xs

#40541 Web extension `browser_specific_settings` and extension ID updates
  files/en-us/mozilla/add-ons/webextensions/implement_a_settings_page/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/browser_specific_settings/index.md
  files/en-us/mozilla/add-ons/webextensions/manifest.json/index.md
Labels: Content:WebExt, size/s

#40661 Fix typo in `StorageArea.getKeys()` documentation
  files/en-us/mozilla/add-ons/webextensions/api/storage/storagearea/getkeys/index.md
Labels: Content:WebExt, size/xs

#40678 Use lowercase variable names
  files/en-us/web/api/url/url/index.md
Labels: Content:WebAPI, size/s

#40670 FF142 Relnote: Animation.overallProgress
  files/en-us/mozilla/firefox/releases/142/index.md
Labels: Content:Firefox, size/xs

#40621 Lint: use named color if possible (2)
  files/en-us/web/accessibility/aria/reference/attributes/aria-label/index.md
  files/en-us/web/accessibility/aria/reference/roles/button_role/index.md
  files/en-us/web/accessibility/aria/reference/roles/grid_role/index.md
  files/en-us/web/accessibility/guides/colors_and_luminance/index.md
  files/en-us/web/api/canvas_api/tutorial/applying_styles_and_colors/index.md
  files/en-us/web/api/canvas_api/tutorial/basic_animations/index.md
  files/en-us/web/api/canvas_api/tutorial/compositing/index.md
  files/en-us/web/api/canvas_api/tutorial/pixel_manipulation_with_canvas/index.md
  files/en-us/web/api/canvas_api/tutorial/transformations/index.md
  files/en-us/web/api/canvasrenderingcontext2d/arcto/index.md
  files/en-us/web/api/canvasrenderingcontext2d/clearrect/index.md
  files/en-us/web/api/canvasrenderingcontext2d/globalalpha/index.md
  files/en-us/web/api/canvasrenderingcontext2d/globalcompositeoperation/index.md
  files/en-us/web/api/css/registerproperty_static/index.md
  files/en-us/web/api/css_properties_and_values_api/guide/index.md
  files/en-us/web/api/cssrulelist/index.md
  files/en-us/web/api/csstransition/index.md
  files/en-us/web/api/csstransition/transitionproperty/index.md
  files/en-us/web/api/delegatedinktrailpresenter/index.md
  files/en-us/web/api/delegatedinktrailpresenter/updateinktrailstartpoint/index.md
  files/en-us/web/api/document_object_model/examples/index.md
  files/en-us/web/api/document_object_model/traversing_an_html_table_with_javascript_and_dom_interfaces/index.md
  files/en-us/web/api/editcontext_api/guide/index.md
  files/en-us/web/api/element/queryselectorall/index.md
  files/en-us/web/api/element/transitioncancel_event/index.md
  files/en-us/web/api/element/transitionend_event/index.md
  files/en-us/web/api/element/transitionrun_event/index.md
  files/en-us/web/api/element/transitionstart_event/index.md
  files/en-us/web/api/event/stopimmediatepropagation/index.md
  files/en-us/web/api/highlightregistry/highlightsfrompoint/index.md
  files/en-us/web/api/htmlmetaelement/media/index.md
  files/en-us/web/api/htmltextareaelement/index.md
  files/en-us/web/api/ink_api/index.md
  files/en-us/web/api/media_capture_and_streams_api/taking_still_photos/index.md
  files/en-us/web/api/mediastream_recording_api/using_the_mediastream_recording_api/index.md
  files/en-us/web/api/mediastreamtrack/mute_event/index.md
  files/en-us/web/api/mediastreamtrack/unmute_event/index.md
  files/en-us/web/api/pointer_lock_api/index.md
  files/en-us/web/api/popover_api/using/index.md
  files/en-us/web/api/range/commonancestorcontainer/index.md
  files/en-us/web/api/screen/pixeldepth/index.md
  files/en-us/web/api/svggraphicselement/getbbox/index.md
  files/en-us/web/api/web_animations_api/keyframe_formats/index.md
  files/en-us/web/api/web_animations_api/using_the_web_animations_api/index.md
  files/en-us/web/api/web_audio_api/simple_synth/index.md
  files/en-us/web/api/window/devicepixelratio/index.md
  files/en-us/web/api/window/location/index.md
  files/en-us/web/javascript/reference/errors/missing_initializer_in_const/index.md
  files/en-us/web/mathml/reference/element/annotation-xml/index.md
  files/en-us/web/media/guides/audio_and_video_delivery/adding_captions_and_subtitles_to_html5_video/index.md
  files/en-us/web/progressive_web_apps/manifest/index.md
  files/en-us/web/progressive_web_apps/manifest/reference/background_color/index.md
  files/en-us/web/progressive_web_apps/manifest/reference/display/index.md
  files/en-us/web/progressive_web_apps/manifest/reference/theme_color/index.md
  files/en-us/web/progressive_web_apps/tutorials/cycletracker/html_and_css/index.md
Labels: Content:WebAPI, Content:JS, Content:Accessibility, Content:Media, Content:MathML, Content:PWA, size/m

#39293 add more info about NodeList
  files/en-us/web/api/nodelist/index.md
Labels: Content:WebAPI, size/s

#40671 FF142 Expr/Relnote Integrity-Policy
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/142/index.md
Labels: Content:Firefox, size/s

#40689 Typo fix on code example on "attribute reflection" page
  files/en-us/web/api/document_object_model/reflected_attributes/index.md
Labels: Content:WebAPI, size/xs

#40672 API property template - update for short title
  files/en-us/mdn/writing_guidelines/page_structures/page_types/api_property_subpage_template/index.md
Labels: Content:Meta, size/s

#40615 Fix code
  files/en-us/web/api/mediastream_recording_api/index.md
Labels: Content:WebAPI, size/xs

#40694 Fix content issues
  .vscode/dictionaries/non-english.txt
  .vscode/dictionaries/terms-abbreviations.txt
  files/en-us/games/tutorials/2d_breakout_game_phaser/animations_and_tweens/index.md
  files/en-us/games/tutorials/2d_breakout_game_phaser/buttons/index.md
  files/en-us/games/tutorials/2d_breakout_game_phaser/randomizing_gameplay/index.md
  files/en-us/web/api/animation/commitstyles/index.md
  files/en-us/web/api/element/insertadjacenthtml/index.md
  files/en-us/web/css/appearance/index.md
  files/en-us/web/html/reference/elements/selectedcontent/index.md
Labels: Content:CSS, Content:HTML, Content:WebAPI, Content:Games, system, size/s

#40695 drawImage: negative width/height does not flip the image
  files/en-us/web/api/canvasrenderingcontext2d/drawimage/index.md
Labels: Content:WebAPI, size/s

#40698 Update index.md
  files/en-us/web/performance/guides/how_browsers_work/index.md
Labels: Content:Performance, size/xs

#40631 FF142Relnote: RTCRtpSender.get/setParameters - encodings.codec property
  files/en-us/mozilla/firefox/releases/142/index.md
Labels: Content:Firefox, size/s

#40633 Element.outerHTML and TrustedTypes
  files/en-us/web/api/document/write/index.md
  files/en-us/web/api/document/writeln/index.md
  files/en-us/web/api/element/innerhtml/index.md
  files/en-us/web/api/element/outerhtml/index.md
Labels: Content:WebAPI, size/m

#40613 FF142 RTCInboundRtpStreamStats stats - a few more supported
  files/en-us/mozilla/firefox/releases/142/index.md
Labels: Content:Firefox, size/xs

#40544 Specify getFloatTimeDomainData() encoding range
  files/en-us/web/api/analysernode/getfloattimedomaindata/index.md
Labels: Content:WebAPI, size/xs

#40704 Update Firefox 142 release notes for WebDriver conforming changes.
  files/en-us/mozilla/firefox/releases/142/index.md
Labels: Content:Firefox, size/s

#40503 Restructure the a11y test your skills navigation
  files/en-us/learn_web_development/core/accessibility/css_and_javascript/index.md
  files/en-us/learn_web_development/core/accessibility/html/index.md
  files/en-us/learn_web_development/core/accessibility/index.md
  files/en-us/learn_web_development/core/accessibility/multimedia/index.md
  files/en-us/learn_web_development/core/accessibility/test_your_skills/css_and_javascript/index.md
  files/en-us/learn_web_development/core/accessibility/test_your_skills/html/index.md
  files/en-us/learn_web_development/core/accessibility/test_your_skills/index.md
  files/en-us/learn_web_development/core/accessibility/test_your_skills/wai-aria/index.md
  files/en-us/learn_web_development/core/accessibility/wai-aria_basics/index.md
  files/sidebars/learnsidebar.yaml
Labels: Content:Learn, size/m

#40705 Update Firefox 141 release notes to mention CDP removal
  files/en-us/mozilla/firefox/releases/141/index.md
Labels: Content:Firefox, size/xs

#40685 Lint: always use long-form hex color (5)
  files/en-us/mozilla/add-ons/webextensions/api/theme/update/index.md
  files/en-us/mozilla/add-ons/webextensions/api/webrequest/onbeforerequest/index.md
  files/en-us/mozilla/add-ons/webextensions/user_interface/browser_styles/index.md
  files/en-us/web/accessibility/aria/reference/roles/menuitemradio_role/index.md
  files/en-us/web/accessibility/aria/reference/roles/switch_role/index.md
  files/en-us/web/html/reference/attributes/pattern/index.md
  files/en-us/web/html/reference/elements/a/index.md
  files/en-us/web/html/reference/elements/article/index.md
  files/en-us/web/html/reference/elements/code/index.md
  files/en-us/web/html/reference/elements/del/index.md
  files/en-us/web/html/reference/elements/details/index.md
  files/en-us/web/html/reference/elements/div/index.md
  files/en-us/web/html/reference/elements/figcaption/index.md
  files/en-us/web/html/reference/elements/figure/index.md
  files/en-us/web/html/reference/elements/hr/index.md
  files/en-us/web/html/reference/elements/input/button/index.md
  files/en-us/web/html/reference/elements/input/file/index.md
  files/en-us/web/html/reference/elements/input/image/index.md
  files/en-us/web/html/reference/elements/input/radio/index.md
  files/en-us/web/html/reference/elements/input/text/index.md
  files/en-us/web/html/reference/elements/ins/index.md
  files/en-us/web/html/reference/elements/kbd/index.md
  files/en-us/web/html/reference/elements/p/index.md
  files/en-us/web/html/reference/elements/samp/index.md
  files/en-us/web/html/reference/elements/summary/index.md
  files/en-us/web/html/reference/elements/td/index.md
  files/en-us/web/html/reference/elements/textarea/index.md
  files/en-us/web/html/reference/elements/th/index.md
  files/en-us/web/html/reference/elements/tr/index.md
  files/en-us/web/html/reference/elements/wbr/index.md
  files/en-us/web/html/reference/global_attributes/anchor/index.md
  files/en-us/web/html/reference/global_attributes/contenteditable/index.md
  files/en-us/web/html/reference/global_attributes/data-_star_/index.md
  files/en-us/web/media/guides/audio_and_video_delivery/adding_captions_and_subtitles_to_html5_video/index.md
  files/en-us/web/media/guides/audio_and_video_delivery/buffering_seeking_time_ranges/index.md
  files/en-us/web/media/guides/audio_and_video_delivery/video_player_styling_basics/index.md
  files/en-us/web/progressive_web_apps/tutorials/cycletracker/html_and_css/index.md
  files/en-us/web/progressive_web_apps/tutorials/cycletracker/manifest_file/index.md
  files/en-us/web/svg/guides/svg_in_html/index.md
  files/en-us/web/svg/reference/attribute/in/index.md
  files/en-us/web/svg/reference/attribute/paint-order/index.md
  files/en-us/web/svg/reference/attribute/requiredfeatures/index.md
  files/en-us/web/svg/reference/element/fecomposite/index.md
  files/en-us/web/svg/tutorials/svg_from_scratch/basic_transformations/index.md
  files/en-us/web/svg/tutorials/svg_from_scratch/paths/index.md
Labels: Content:HTML, Content:WebExt, Content:Accessibility, Content:SVG, Content:Media, Content:PWA, size/m

#39809 Clarify requirements for render-blocking
  files/en-us/web/api/htmllinkelement/blocking/index.md
  files/en-us/web/api/htmlscriptelement/blocking/index.md
  files/en-us/web/api/htmlstyleelement/blocking/index.md
  files/en-us/web/api/view_transition_api/using/index.md
  files/en-us/web/html/reference/attributes/rel/index.md
  files/en-us/web/html/reference/elements/link/index.md
  files/en-us/web/html/reference/elements/script/index.md
  files/en-us/web/html/reference/elements/style/index.md
Labels: Content:HTML, Content:WebAPI, awaiting response, size/s

#40730 Fix grammar in list of abstract roles to avoid
  files/en-us/web/accessibility/aria/reference/roles/index.md
Labels: Content:Accessibility, size/xs

#40523 Move "Whitespace" article from DOM to CSS
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/glossary/whitespace/index.md
  files/en-us/web/api/document_object_model/using_the_document_object_model/index.md
  files/en-us/web/api/document_object_model/whitespace/index.md
  files/en-us/web/api/node/childnodes/index.md
  files/en-us/web/api/node/firstchild/index.md
  files/en-us/web/api/node/nextsibling/index.md
  files/en-us/web/api/node/previoussibling/index.md
  files/en-us/web/api/selection/setbaseandextent/index.md
  files/en-us/web/css/css_text/whitespace/dom-string.png
  files/en-us/web/css/css_text/whitespace/index.md
  files/en-us/web/css/css_text/whitespace/whitespace-devtools.png
  files/en-us/web/css/white-space-collapse/index.md
  files/en-us/web/css/white-space/index.md
  files/jsondata/GroupData.json
  files/sidebars/cssref.yaml
Labels: Content:CSS, Content:WebAPI, Content:Glossary, size/xl

#40728 Add "See also" links to Temporal polyfills
  files/en-us/web/javascript/reference/global_objects/temporal/index.md
Labels: Content:JS, size/xs

#40723 Add note about issues with popover default styles
  files/en-us/web/api/popover_api/using/index.md
  files/en-us/web/css/anchor/index.md
  files/en-us/web/css/position-area/index.md
Labels: Content:CSS, Content:WebAPI, size/s

#40618 New module: CSS round display
  files/en-us/web/css/@media/shape/index.md
  files/en-us/web/css/basic-shape/path/index.md
  files/en-us/web/css/css_round_display/index.md
Labels: Content:CSS, size/m

#40736 removed redundant link
  files/en-us/web/css/css_box_sizing/index.md
Labels: Content:CSS, size/xs

#40740 Link fit-content, max-content, min-content to their respective pages
  files/en-us/web/css/height/index.md
  files/en-us/web/css/max-block-size/index.md
  files/en-us/web/css/max-height/index.md
  files/en-us/web/css/max-width/index.md
  files/en-us/web/css/min-height/index.md
  files/en-us/web/css/min-width/index.md
  files/en-us/web/css/minmax/index.md
  files/en-us/web/css/repeat/index.md
  files/en-us/web/css/width/index.md
Labels: Content:CSS, size/m

#40743 update zh-CN translation of games
  files/sidebars/games.yaml
Labels: size/xs

#40495 Ff142 RTCInboundRtpStreamStats fixes
  files/en-us/_redirects.txt
  files/en-us/glossary/jitter/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/audiolevel/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/averagertcpinterval/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/bytesreceived/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/concealedsamples/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/concealmentevents/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/estimatedplayouttimestamp/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/fecpacketsdiscarded/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/fecpacketsreceived/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/frameheight/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/framesassembledfrommultiplepackets/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/framesdecoded/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/framespersecond/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/framesreceived/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/framewidth/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/freezecount/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/headerbytesreceived/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/insertedsamplesfordeceleration/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/jitter/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/jitterbufferdelay/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/jitterbufferemittedcount/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/jitterbufferminimumdelay/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/jitterbuffertargetdelay/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/keyframesdecoded/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/nackcount/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/packetsdiscarded/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/packetsduplicated/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/packetsfaileddecryption/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/packetslost/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/packetsreceived/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/pausecount/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/perdscppacketsreceived/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/playoutid/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/qpsum/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/receiverid/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/remoteid/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/removedsamplesforacceleration/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/silentconcealedsamples/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/slicount/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/ssrc/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/totalassemblytime/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/totalaudioenergy/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/totaldecodetime/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/totalfreezesduration/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/totalinterframedelay/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/totalpausesduration/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/totalprocessingdelay/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/totalsamplesduration/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/totalsamplesreceived/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/totalsquaredinterframedelay/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/trackidentifier/index.md
  files/en-us/web/api/rtcrtpreceiver/jitterbuffertarget/index.md
Labels: Content:WebAPI, Content:Glossary, size/xl

#40717 update zh-CN translation of mdnsidebar
  files/sidebars/mdnsidebar.yaml
Labels: size/xs

#40492 FF142 RTCIceCandidatePairStats mandatory properties - relnote
  files/en-us/mozilla/firefox/releases/142/index.md
  files/en-us/web/api/rtcicecandidatepairstats/responsesreceived/index.md
Labels: Content:WebAPI, Content:Firefox, size/xs

#40715 Bug-1978643 describe amended tab group collapse behavior
  files/en-us/mozilla/add-ons/webextensions/api/tabgroups/query/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabgroups/tabgroup/index.md
  files/en-us/mozilla/add-ons/webextensions/api/tabgroups/update/index.md
Labels: Content:WebExt, size/s

#40742 update zh-CN translation of addonsidebarmain
  files/sidebars/addonsidebarmain.yaml
Labels: size/xs

#40747 FF142 Relnote/Expr features: Integrity-Policy can be enforced on styles behind pref
  files/en-us/mozilla/firefox/experimental_features/index.md
  files/en-us/mozilla/firefox/releases/142/index.md
Labels: Content:Firefox, size/s

#40752 Fix a typo
  files/en-us/web/javascript/reference/errors/key_not_weakly_held/index.md
  files/en-us/web/javascript/reference/global_objects/finalizationregistry/register/index.md
Labels: Content:JS, size/xs

#40514 fix(glossary): Add cross references between browser glossary pages
  files/en-us/glossary/apple_safari/index.md
  files/en-us/glossary/browser/index.md
  files/en-us/glossary/google_chrome/index.md
  files/en-us/glossary/microsoft_edge/index.md
  files/en-us/glossary/microsoft_internet_explorer/index.md
  files/en-us/glossary/mozilla_firefox/index.md
  files/en-us/glossary/opera_browser/index.md
Labels: Content:Glossary, size/m

#40575 Modify Safari storage quota based on WebKit resource
  files/en-us/web/api/storage_api/storage_quotas_and_eviction_criteria/index.md
Labels: Content:WebAPI, size/s

#40758 Fix two typos
  files/en-us/mozilla/add-ons/webextensions/manifest.json/content_security_policy/index.md
Labels: Content:WebExt, size/xs

#40757 Synchronize with BCD v6.1.3
  files/en-us/web/api/integrityviolationreportbody/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/estimatedplayouttimestamp/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/framesassembledfrommultiplepackets/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/freezecount/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/pausecount/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/playoutid/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/totalassemblytime/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/totalfreezesduration/index.md
  files/en-us/web/api/rtcinboundrtpstreamstats/totalpausesduration/index.md
  files/en-us/web/http/reference/headers/integrity-policy-report-only/index.md
  files/en-us/web/http/reference/headers/integrity-policy/index.md
Labels: Content:WebAPI, Content:HTTP, size/m

#40782 Fix WebSocketStream `close()` example
  files/en-us/web/api/websocketstream/close/index.md
Labels: Content:WebAPI, size/xs

#40420 TrustedTypes: Add boilerplate for the xxxHtmlUnsafe() methods
  files/en-us/web/api/document/parsehtmlunsafe_static/index.md
  files/en-us/web/api/element/sethtmlunsafe/index.md
  files/en-us/web/api/shadowroot/sethtmlunsafe/index.md
Labels: Content:WebAPI, size/m

#40383 fix(cpg): Follow sentence casing in titles
  files/en-us/mdn/community/community_participation_guidelines/index.md
Labels: Content:Meta, size/s

#40796 relnote(Fx142): webkitdirectory support on Firefox Android
  files/en-us/mozilla/firefox/releases/142/index.md
Labels: Content:Firefox, size/xs

#40325 Suggest Web Workers as an alternative to Service Workers
  files/en-us/web/api/service_worker_api/index.md
Labels: Content:WebAPI, size/xs

#40680 Added reference to Float16Array in ImageData files
  files/en-us/web/api/canvas_api/tutorial/pixel_manipulation_with_canvas/index.md
  files/en-us/web/api/canvasrenderingcontext2d/createimagedata/index.md
  files/en-us/web/api/canvasrenderingcontext2d/getimagedata/index.md
  files/en-us/web/api/imagedata/data/index.md
  files/en-us/web/api/imagedata/imagedata/index.md
  files/en-us/web/api/imagedata/index.md
Labels: Content:WebAPI, size/m

#40260 Document <input type=color> serialization w/ colorspace & alpha
  files/en-us/web/api/htmlinputelement/alpha/index.md
  files/en-us/web/api/htmlinputelement/colorspace/index.md
  files/en-us/web/api/htmlinputelement/index.md
  files/en-us/web/html/reference/elements/input/color/index.md
Labels: Content:HTML, Content:WebAPI, size/m

#40243 Fix header semantics
  files/en-us/web/html/reference/elements/header/index.md
Labels: Content:HTML, size/s

#40799 docs: clarify onevent and addEventListener interaction behaviour
  files/en-us/web/api/document_object_model/events/index.md
Labels: Content:WebAPI, size/s

#40770 Promise.all(): add about parameter destructuring
  files/en-us/web/javascript/reference/global_objects/promise/all/index.md
Labels: Content:JS, size/s

#40732 Add example for :has() parent selection
  files/en-us/web/css/_colon_has/index.md
Labels: Content:CSS, size/s

#40804 chore(jsondata): remove the prefix of {{js_property_attributes}} for zh-TW
  files/jsondata/L10n-Template.json
Labels: size/xs

#40811 fix: typo in learning outcomes
  files/en-us/learn_web_development/core/scripting/return_values/index.md
Labels: Content:Learn, size/xs

#40819 viewBox: fix typos and syntax
  files/en-us/web/api/svgsvgelement/viewbox/index.md
Labels: Content:WebAPI, size/xs

#40807 Follow-up to `WebSocketStream` fixes in #40789
  files/en-us/web/api/websockets_api/using_websocketstream/index.md
Labels: Content:WebAPI, size/s

#40809 relnote(Fx142): & inside at-scope blocks implicit specificity
  files/en-us/mozilla/firefox/releases/142/index.md
Labels: Content:Firefox, size/xs

#40828 correction of a code-example property, use `prefix` instead of `namespaceURI`
  files/en-us/web/api/cssnamespacerule/prefix/index.md
Labels: Content:WebAPI, size/xs

#40824 Fix a formatting error
  files/en-us/mozilla/firefox/experimental_features/index.md
Labels: Content:Firefox, size/xs

#40815 Restructure the HTML test your skills navigation
  files/en-us/learn_web_development/core/structuring_content/advanced_text_features/index.md
  files/en-us/learn_web_development/core/structuring_content/creating_links/index.md
  files/en-us/learn_web_development/core/structuring_content/debugging_html/index.md
  files/en-us/learn_web_development/core/structuring_content/html_forms/index.md
  files/en-us/learn_web_development/core/structuring_content/html_images/index.md
  files/en-us/learn_web_development/core/structuring_content/html_video_and_audio/index.md
  files/en-us/learn_web_development/core/structuring_content/index.md
  files/en-us/learn_web_development/core/structuring_content/lists/index.md
  files/en-us/learn_web_development/core/structuring_content/marking_up_a_letter/index.md
  files/en-us/learn_web_development/core/structuring_content/mozilla_splash_page/index.md
  files/en-us/learn_web_development/core/structuring_content/structuring_documents/index.md
  files/en-us/learn_web_development/core/structuring_content/test_your_skills/advanced_html_text/index.md
  files/en-us/learn_web_development/core/structuring_content/test_your_skills/audio_and_video/index.md
  files/en-us/learn_web_development/core/structuring_content/test_your_skills/forms_and_buttons/index.md
  files/en-us/learn_web_development/core/structuring_content/test_your_skills/html_text_basics/index.md
  files/en-us/learn_web_development/core/structuring_content/test_your_skills/images/index.md
  files/en-us/learn_web_development/core/structuring_content/test_your_skills/index.md
  files/en-us/learn_web_development/core/structuring_content/test_your_skills/links/index.md
  files/sidebars/learnsidebar.yaml
Labels: Content:Learn, size/m

#40831 ci(pr-check-lint_content): fix typo in env variable
  .github/workflows/pr-check-lint_content.yml
Labels: system, size/xs

#40808 meta: Close comment in PR template
  .github/PULL_REQUEST_TEMPLATE
Labels: system, size/s

#40836 Fix typo in index.md
  files/en-us/web/css/css_grid_layout/box_alignment_in_grid_layout/index.md
Labels: Content:CSS, size/xs

#40832 Remove remaining active learning and old editors
  files/en-us/learn_web_development/core/structuring_content/general_embedding_technologies/index.md
  files/en-us/learn_web_development/core/structuring_content/including_vector_graphics_in_html/index.md
  files/en-us/learn_web_development/core/structuring_content/webpage_metadata/index.md
  files/en-us/learn_web_development/core/styling_basics/cascade_layers/index.md
  files/en-us/learn_web_development/extensions/client-side_apis/drawing_graphics/index.md
  files/en-us/learn_web_development/extensions/forms/your_first_form/index.md
  files/en-us/learn_web_development/howto/design_and_accessibility/common_web_layouts/index.md
  files/en-us/learn_web_development/howto/design_and_accessibility/design_for_all_types_of_users/index.md
  files/en-us/learn_web_development/howto/design_and_accessibility/thinking_before_coding/index.md
  files/en-us/learn_web_development/howto/design_and_accessibility/what_is_accessibility/index.md
  files/en-us/learn_web_development/howto/tools_and_setup/available_text_editors/index.md
  files/en-us/learn_web_development/howto/tools_and_setup/checking_that_your_web_site_is_working_properly/index.md
  files/en-us/learn_web_development/howto/tools_and_setup/what_software_do_i_need/index.md
  files/en-us/learn_web_development/howto/web_mechanics/how_does_the_internet_work/index.md
  files/en-us/web/html/guides/responsive_images/index.md
  files/en-us/web/mathml/tutorials/for_beginners/fractions_and_roots/index.md
  files/en-us/web/mathml/tutorials/for_beginners/getting_started/index.md
  files/en-us/web/mathml/tutorials/for_beginners/scripts/index.md
  files/en-us/web/mathml/tutorials/for_beginners/text_containers/index.md
Labels: Content:HTML, Content:Learn, Content:MathML, size/m

#40840 chore: update some links to fred
  files/en-us/mdn/community/getting_started/index.md
  files/en-us/mdn/community/issues/index.md
  files/en-us/mdn/community/our_repositories/index.md
Labels: Content:Meta, size/s

#40679 Add doc for the CSS caret-animation property
  files/en-us/web/css/caret-animation/index.md
  files/en-us/web/css/caret-color/index.md
  files/en-us/web/css/css_basic_user_interface/index.md
Labels: Content:CSS, size/m

#40859 Throttling scroll events with requestAnimationFrame is useless
  files/en-us/web/api/document/scroll_event/index.md
Labels: Content:WebAPI, size/s

#40860 RTCDataChannel.send() should throw OperationError when buffer is full
  files/en-us/web/api/rtcdatachannel/send/index.md
Labels: Content:WebAPI, size/s

#40848 Synchronize with BCD v7.0.0
  files/en-us/web/api/navigator/appcodename/index.md
  files/en-us/web/api/navigator/appname/index.md
  files/en-us/web/api/navigator/appversion/index.md
  files/en-us/web/api/navigator/index.md
  files/en-us/web/api/navigator/javaenabled/index.md
  files/en-us/web/api/navigator/mimetypes/index.md
  files/en-us/web/api/navigator/oscpu/index.md
  files/en-us/web/api/navigator/platform/index.md
  files/en-us/web/api/navigator/plugins/index.md
  files/en-us/web/api/navigator/product/index.md
  files/en-us/web/api/navigator/productsub/index.md
  files/en-us/web/api/navigator/taintenabled/index.md
  files/en-us/web/api/navigator/vendor/index.md
  files/en-us/web/api/navigator/vendorsub/index.md
  files/en-us/web/css/caret-animation/index.md
Labels: Content:CSS, Content:WebAPI, size/m

#40865 Must specify targetOrigin=* when postMessage to data: URL
  files/en-us/web/api/window/postmessage/index.md
Labels: Content:WebAPI, size/xs

#40869 Remove 'appearance' property section from input documentation
  files/en-us/web/html/reference/elements/input/index.md
Labels: Content:HTML, size/s

#40834 Editorial review: Add information on WebGPU core-features-and-limits feature
  files/en-us/web/api/gpusupportedfeatures/index.md
Labels: Content:WebAPI, size/xs

#40846 Remove cool-looking box challenge
  files/en-us/_redirects.txt
  files/en-us/_wikihistory.json
  files/en-us/learn_web_development/core/styling_basics/cool-looking_box/fancy-box2.png
  files/en-us/learn_web_development/core/styling_basics/cool-looking_box/index.md
  files/en-us/learn_web_development/core/styling_basics/fancy_letterheaded_paper/index.md
  files/en-us/learn_web_development/core/styling_basics/index.md
  files/sidebars/learnsidebar.yaml
Labels: Content:Learn, size/m

#40866 gl.clear() has no effect when buffer writing is disabled
  files/en-us/web/api/webglrenderingcontext/clear/index.md
Labels: Content:WebAPI, size/xs

#40867 clarify default timezone in DateTimeFormat
  files/en-us/web/javascript/reference/global_objects/intl/datetimeformat/datetimeformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/durationformat/durationformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/numberformat/numberformat/index.md
  files/en-us/web/javascript/reference/global_objects/intl/relativetimeformat/relativetimeformat/index.md
Labels: Content:JS, size/s

#40887 Fix heading levels
  files/en-us/web/css/css_animations/index.md
  files/en-us/web/css/css_basic_user_interface/index.md
  files/en-us/web/css/css_colors/index.md
  files/en-us/web/css/css_compositing_and_blending/index.md
  files/en-us/web/css/css_filter_effects/index.md
  files/en-us/web/css/css_generated_content/index.md
Labels: Content:CSS, size/s

#39313 Add missing parameters to `startViewTransition()` method
  files/en-us/web/api/document/startviewtransition/index.md
Labels: Content:WebAPI, awaiting response, size/s

#40888 replace GH embed macros with regular embed macros on structuring cont…
  files/en-us/learn_web_development/core/structuring_content/test_your_skills/html_text_basics/index.md
Labels: Content:Learn, size/m

#40873 Enhance <number> data type description and syntax
  files/en-us/web/css/number/index.md
Labels: Content:CSS, size/s

#40629 RTCRtpSender.get/setParameters - encodings.codec property
  files/en-us/web/api/rtcrtpsender/getparameters/index.md
  files/en-us/web/api/rtcrtpsender/setparameters/index.md
Labels: Content:WebAPI, size/m

#40898 Update index.md: minor wording fix on combining logical and nullish coalescing operators
  files/en-us/web/javascript/reference/operators/nullish_coalescing/index.md
Labels: Content:JS, size/xs

#40899 Synchronize with BCD v7.1.0
  files/en-us/web/api/paymentrequest/index.md
  files/en-us/web/api/paymentrequest/securepaymentconfirmationavailability_static/index.md
Labels: Content:WebAPI, size/s

#40875 relnote(Fx143): remove CompositionEvent/locale
  files/en-us/mozilla/firefox/releases/143/index.md
Labels: Content:Firefox, size/s

#40903 module page: add second spec
  files/en-us/web/css/css_basic_user_interface/index.md
Labels: Content:CSS, size/xs

#40871 Restructure HTML page structuring challenge
  files/en-us/learn_web_development/core/structuring_content/structuring_a_page_of_content/example-page.png
  files/en-us/learn_web_development/core/structuring_content/structuring_a_page_of_content/index.md
Labels: Content:Learn, size/m

#40835 Editorial review: Document RTCEncodedAudioFrame.getMetadata() audioLevel return property
  files/en-us/web/api/rtcencodedaudioframe/getmetadata/index.md
Labels: Content:WebAPI, size/xs

#40906 Add auto sizes fallback img doc
  files/en-us/web/html/reference/elements/img/index.md
Labels: Content:HTML, size/s

#40890 Update font-display example to use correct format
  files/en-us/web/css/@font-face/font-display/index.md
Labels: Content:CSS, size/xs

#40546 Refine CSS Value Processing document
  files/en-us/web/css/css_cascade/value_processing/index.md
  files/en-us/web/css/css_syntax/error_handling/index.md
Labels: Content:CSS, size/m

#40814 docs(Fx142): css ampersand in at-scope content and `:scope`
  files/en-us/web/css/@scope/index.md
Labels: Content:CSS, size/m

#40929 update compatibility path for javascript/classes.static_initialization_blocks
  files/en-us/web/javascript/reference/classes/static_initialization_blocks/index.md
Labels: Content:JS, size/xs

#39904 Fix: Clarified misleading statements in Grid Layout page (#39875)
  files/en-us/web/css/css_grid_layout/basic_concepts_of_grid_layout/index.md
Labels: Content:CSS, awaiting response, size/xs

#40936 Complete removal of :target-within
  files/en-us/web/css/css_selectors/index.md
  files/en-us/web/css/pseudo-classes/index.md
Labels: Content:CSS, size/s

#40925 Remove empty line in CSS borders and box decorations
  files/en-us/web/css/css_borders_and_box_decorations/index.md
Labels: Content:CSS, size/xs

#40921 Remove comma from the Integrity policy example list
  files/en-us/web/http/reference/headers/integrity-policy/index.md
Labels: Content:HTTP, size/xs

#40922 Add new forms challenge to the Learn area
  files/en-us/learn_web_development/core/structuring_content/debugging_html/index.md
  files/en-us/learn_web_development/core/structuring_content/forms_challenge/example-page.png
  files/en-us/learn_web_development/core/structuring_content/forms_challenge/index.md
  files/en-us/learn_web_development/core/structuring_content/test_your_skills/forms_and_buttons/index.md
  files/sidebars/learnsidebar.yaml
Labels: Content:Learn, size/m

#40734 Bug-1542358 omnibox.onInputEntered is a user action trigger
  files/en-us/mozilla/add-ons/webextensions/manifest.json/permissions/index.md
  files/en-us/mozilla/add-ons/webextensions/user_actions/index.md
  files/en-us/mozilla/firefox/releases/143/index.md
Labels: Content:WebExt, Content:Firefox, size/s
